[2019-07-23 07:54] irisdingbj commented on #15134
#2 requries a flat network between the cluster and vm while #3 remove this limit - I am working on this part now to provide this support.

[2019-07-23 08:01] bzurkowski opened #15774 "Failing CRD watches"
**Bug description**

Once in a few minutes, some components of Istio, specifically Citadel, Galley, Mixer, and Sidecar Injector, throw errors on failing CRD watches with reason `unexpected EOF`, e.g.:

[code]

Errors in Telemetry:
[code]

Errors in Citadel:
[code]

Errors in Galley:
[code]

Errors in Sidecar Injector:
[code]

What does the errors message `unexpected EOF` means in this context? Doe

[2019-07-23 08:13] #15534 closed

[2019-07-23 08:25] kubesure commented on #15624
Yes you are right. Tired linkerd, it too does not support sts.

[2019-07-23 08:25] #15624 closed

[2019-07-23 09:18] hzxuzhonghu opened #15775 "Should regenerate `istio-sidecar-injector` mutatingWebhookConfiguration when deleted"
Recently observed `istio-sidecar-injector` mutatingWebhookConfiguration is gone in one env.

I think it should be recreated automatically.

[2019-07-23 09:24] bzurkowski commented on #15457
The behaviour of reporting a canceled context changed between Istio 1.1.x and Istio 1.2.x.

Before it was reported with severity `info`:
[code]

Currently, it is reported with severity `error`:
[code]

The change was introduced in https://github.com/istio/istio/pull/13919.

@qfel Could you elaborate on why the current reporting behaviour is desired? Is it possible to mitigate the above error messa

[2019-07-23 10:21] hzxuzhonghu commented on #15774
`unexpected EOF` can be caused by the peer closed the connection.  What is your cni?

[2019-07-23 11:57] bzurkowski commented on #15774
@hzxuzhonghu We are using [Kuryr Kubernetes CNI](https://docs.openstack.org/kuryr-kubernetes/latest/devref/kuryr_kubernetes_design.html) for mixed workloads between OpenStack VMs and Kubernetes Pods in the same network.

Basically, for each Kubernetes Service Kuryr provisions a HAProxy load balancer via Neutron LBaaS API.

Load balancer for K8S API Server (`10.100.1.1`) has the following configura

[2019-07-23 12:22] courcelm opened #15776 "Add FTP protocol for external service entry"
**Describe the feature request**

Add the FTP protocol to Service entry to allow file download from external FTP. FTP start the connection with TCP and then switch to UDP. I did find a way to allow two protocols on the same port.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[

[2019-07-23 12:25] hzxuzhonghu commented on #15774
The timeout is enough. iirc, kubeclient timeout is 30s for a simple request `Create Post, etc`.  For watch, it uses chunked transfer.

[2019-07-23 12:40] bzurkowski commented on #15774
On other setup with Calico CNI and Istio 1.1.x watch failures do not occur.

[2019-07-23 13:37] tegk opened #15777 "sidecar-injector pods does not produce matching CA certificates"
**Bug description**

Restarting the sidecar-injector pods does not produce matching CA certificates.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[X] Docs
[X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavi

[2019-07-23 14:15] howardjohn commented on #15704
The curl is lasting 5s? Is it a long request like httpbin.org/delay? I think it's generally expected to eventually kill the connection, if we just waited for all connections to drain then eventually kubernetes would just force kill it anyways I believe.

Wouldn't the prestop behave the same? I wonder if it's just the 5s+ 5 more seconds from the prestop that makes it better and you could just confi

[2019-07-23 14:24] rshriram opened #15778 "Use envoy http proxy filter for egress gateway"
Envoy now has support for generic http proxy. We should investigate using this facility at egress gateway for http traffic. At the very least we should have a default http proxy listener at the egress gateway with the http proxy enabled. The new envoy filter crd apis should come in handy for this.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ ] Performance and Scala

[2019-07-23 14:30] esnible opened #15779 "Remove test parameters from istioctl"
Recently, many new testing arguments now appear in istioctl

`istioctl --help`

Shows the old stuff, then

[code]

[2019-07-23 14:33] howardjohn commented on #15779
I noticed the same on pilot-discovery. Not something people really use, but still shouldn't be there

[2019-07-23 14:38] vadimeisenbergibm commented on #13578
@savitaashture cc @PiotrSikora Note that when you use TLS termination in the ingress Gateway, you then have to treat the traffic as HTTP in your VirtualService. See the example in https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/#configure-a-tls-ingress-gateway-with-a-file-mount-based-approach. Since the destination service expects HTTPS, you have to define a Destination

[2019-07-23 14:39] howardjohn commented on #15658
@utako any progress on this? We may need to revert, this is blocking performance testing for the 1.3 release

[2019-07-23 14:52] jsPlachetka commented on #15704
The long request time was due to a sleep in our test setup. Our bad.

We actually tried this out today. Strangely enough terminationDrainDuration did not have the same effect and the error case came up even quicker than with a prestop of 5s.

[2019-07-23 15:49] linsun commented on #11723
A quick update on this topic:

A couple of us have discussed this topic at an Istio security WG mtg few weeks back:

- Build envoy and istio proxy with the boringssl=fips option.  Note: this option is only avail on Linux-x86_64.  This will use BoringCrypto module (which is open source, a general purpose cryptographic library that provides FIPS 140-2 approved cryptographic algorithms to serve borin

[2019-07-23 15:53] dicarlo2 commented on #14692
This happens because istio maintains a fqdn -> service mapping and automatically merges services/endpoints with the same fqdn, in this case, kubernetes.default.svc.cluster.local. You're seeing ~50% of requests fail because istio's default algorithm is to round robin between available endpoints, hence half the requests go to the main cluster and half go to the remote one.

One workaround for the is

[2019-07-23 16:02] gramidt commented on #11723
Thank you so much for the update, @linsun!

[2019-07-23 16:37] mitchellmaler commented on #14667
I just tried running this by setting the user in the manifest to 1001 and now the container wont start. I manually started it up and ran the python command and wad able to view the stderr.log to view the issue. Seems like python is hitting an error that is fatal if the uid doesn't actually exist.

[code]

[2019-07-23 16:40] aattuluri opened #15782 "Service entry not behaving the same for sidecar and istio-ingressgateway"
**Bug description**
When we define the following service entry (where `.mesh` hostnames are resolved with istiocoredns) and virtual service, it seems to work via istio-ingressgateway but not from a sidecar istio-proxy in a workload.

[code]

[code]

Here is the output for _istioctl proxy-config endpoints_ command :

istio-ingressgateway (looks right as it points to meshapp02-appd-service.meshapp02

[2019-07-23 16:41] howardjohn opened #15783 "TestProxyQueue racetest failures"
Looks like its getting hung https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/15780/istio-racetest-master/2202/build-log.txt

[2019-07-23 16:45] aattuluri commented on #15782
Does https://github.com/istio/istio/issues/13008 impact the above scenario?, I do not see how, but would be great to get that information.

@rshriram @uk000

[2019-07-23 17:29] silentdai commented on #14242
Forget the implementation of listener or filter chain:
- iptables output chain is supposed to send the packet back to catpure port at the clientenvoy - serviceenvoy connection.
- the inbound listener is supposed to redirect the unknown traffic to original dst.  Notes the "unknown" could refer to various of cases.

My point is that **inbound** listener should capture the traffic to envoy, but the e

[2019-07-23 17:30] qfel commented on #15457
From what I remember the error handling was non-deterministic, so it seems you've been relying on goroutine scheduling luck. Either way we don't have a commitment on keeping logging consistent, so if you need to rely on monitoring this specific event - a proper long term solution would be to add the right metric (one might already be there).

The purpose of the PR was to make the behavior determin

[2019-07-23 17:33] Katharine commented on #15699
This happened because of a Helm bug that caused a cert-manager update to incorrectly purge its CRDs, causing automatic certificate renewal to fail. We've restored the CRDs and automatic certificate renewal is working again.

The issue was not escalated to the test infrastructure oncall until yesterday, and I was unaware that gcsweb was critical infrastructure until I saw this issue just now. I am

[2019-07-23 17:39] vadimeisenbergibm opened #15785 "Add ALPN protocols to DestinationRule.TLSSettings"
**Describe the feature request**
Add ALPN protocols to [DestinationRule.TLSSettings](https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#TLSSettings), to set Envoy's `alpn_protocols` in [CommonTLSContext](https://www.envoyproxy.io/docs/envoy/v1.11.0/api-v2/api/v2/auth/cert.proto#auth-commontlscontext).

Seems to be the problem described in https://discuss.istio.io/t/trust-

[2019-07-23 17:46] utka commented on #15714
I removed privileged from container and bazel was not able to create symlink. Adding it now.

[2019-07-23 17:46] frankbu commented on #12237
Fixed with doc warning in https://github.com/istio/api/pull/985

[2019-07-23 17:46] #12237 closed

[2019-07-23 17:48] #15556 closed

[2019-07-23 18:06] hausdorff commented on #15699
Thanks for the information—that's useful.

To answer your question directly, this found its way into production CI pipelines because until March 14th, [the documentation seemed to present this as official way to install the chart](https://github.com/istio/istio.io/commit/dd8b7aac40c2dd35a6a33cf0bcae58eb3e8077c7#diff-bdb2f51593ff055fcf1cb12933550cb3L62). Before that, the only "official" way to get

[2019-07-23 18:08] mitchellmaler opened #15787 "productpage v1:1.15.0 wont run with different uid"
**Bug description**
If you try to start productpage v1:1.15.0 with a different uid such as 1001 python will error with `KeyError: 'getpwuid(): uid not found: 1001'`

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Rele

[2019-07-23 18:08] lambdai opened #15788 "istioctl proxy-config on filter chain powered listener"

[2019-07-23 18:10] JimmyCYJ opened #15789 "Add SDS support into command `istioctl proxy-status`"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently, Istioctl proxy-status provides an overview of xDS push between Pilot and Envoy in a mesh. We could add support for SDS to get an overview of SDS push between Citadel Agent and each SDS client. The SDS client could be named as `pod-name`+`

[2019-07-23 18:12] JimmyCYJ commented on #15789
/cc @incfly @Monkeyanator Please take a look, and feel free to close this one if it is duplicated.

[2019-07-23 18:13] lambdai opened #15790 "Assign tag to inbound filter chain"
Required by envoy filter api when generating the listener with user defined envoy filter

It's a tag because envoy filter chain should apply on multiple filter chain belong to a same service, example is a filter chain for strict tls and a filter chain for plaintext (see permissive mtls)

We leave the "name" of filter chain to future fcds

[2019-07-23 18:16] Katharine commented on #15699
To be clear, I'm not suggesting that anyone downstream did anything wrong here - my comment was targeted at upstream.

Thanks for the context -- while I am involved in maintenance of the test infrastructure, I am not otherwise involved in Istio upstream development.

[2019-07-23 18:16] silentdai opened #15791 "Explore the possibility: use multiple filter chains of a single inbound listener under Sidecar API"

[2019-07-23 18:19] vadimeisenbergibm commented on #15785
cc @rshriram

[2019-07-23 18:19] hausdorff commented on #15699
Sure, we're all good. I'm not trying to call you or anyone else out specifically, just to provide transparent feedback about the effect this issue has on downstream.

[2019-07-23 18:43] ayj commented on #15505
Does prom CR depend on how the Istio control plane is deployed? Or will a single static definition be sufficient for any control plane deployment?

[2019-07-23 18:46] ostromart opened #15792 "Add deployment labels to IstioControlSpec"
Deployment labels should be part of CommonComponentSpec.

[2019-07-23 18:56] ayj commented on #15457
Agreed that the gRPC transport closing every few seconds isn't expected (e.g. it seems reasonable to log this as an error or maybe warning).

[2019-07-23 19:02] esnible opened #15793 "Some istioctl commands can't handle pods with "." in their names"
For example,

`istioctl experimental dashboard envoy istio-security-post-install-1.2.2-bm9w2.istio-system`

This should fail, but not with

[code]

All commands that use handlers.InferPodInfo() have this problem.

[2019-07-23 20:23] geeknoid commented on #15779
If you go to the istioctl/cmd/istioctl directory, run "go build", and then run "./istioctl --hep", you will not see the test-related options.

[2019-07-23 20:24] geeknoid commented on #15779
John, mind taking a look at this please?

Thanks.

[2019-07-23 20:26] geeknoid commented on #14966
These are all addressed I think.

[2019-07-23 20:26] #14966 closed

[2019-07-23 20:26] esnible commented on #14743
@frankbu Can you document this list?

[2019-07-23 20:45] engmsaleh commented on #15122
I have the same issue and I have enabled the `filter=debug` for both `pilot`& `ingress-gateway` and I didn't find any meaningful errors or messages
Please note that If I use the test OpenID provider from Istio it works correctly
[code]
If I use mine, it gives `401`
[code]
I don't know what I miss as the identity provider works well and the URLs are accessible from the cluster
Any advice?

[2019-07-23 21:02] ahelord commented on #12446
hello could you place the full command

[2019-07-23 21:08] #13682 closed

[2019-07-23 21:16] costinm commented on #14443
@rshriram @louiscryan @duderino

[2019-07-23 21:26] costinm commented on #14443
Current plan (tentative):
For 1.3, @silentdai will try to add a new filter in the inbound filter chain, matching "src=MYIP" ( dst is allways localhost for the inbound filter chain ). If this matches - we would blackhole.
Connections that are matched by an explicit filter chain by port, as well as inbound requests from a different machine will work as expected and not be affected.  This only works

[2019-07-23 21:28] costinm commented on #14443
In addition @fpesce  is looking for 1.2 to add an extra iptables rule, to check:
- if sender_uid != envoy
- src ip = MYIP
- dst ip = MYIP
-- return

This will let pod talk with itself without going trough envoy, when DISABLE_REDIRECTION_ON_LOCAL_LOOPBACK is set. Will not help for pod talking with itself using the VIP - this is where we don't have yet a solution.

[2019-07-23 21:30] costinm commented on #14443
Moving back to 1.2 since that's the critical target.

[2019-07-23 21:46] ostromart commented on #15505
It's not static - see https://github.com/istio/installer/tree/master/istio-telemetry/prometheus-operator/templates

[2019-07-23 22:15] canthefason commented on #15662
This happens because useAdapterCRD and useTemplateCRD flags for mixer is set to false by default for v1.2. If you set these flags to true, you can still use that [legacy](https://github.com/istio/istio/blob/master/mixer/adapter/stackdriver/operatorconfig/stackdriver.yaml) configuration.

As a better approach, it is also possible to convert them to handler and instance resources, where an example i

[2019-07-23 22:19] bianpengyuan commented on #15662
Stackdriver config has been added into istio/installer, which is going to replace the current helm charts be ready in 1.3 I think: https://github.com/istio/installer/blob/fea3727752f66d6a2a8e1a2fa1bc83312b0febb0/istio-telemetry/mixer-telemetry/templates/stackdriver.yaml

[2019-07-23 22:29] rshriram commented on #14443
Why do we need to set DISABLE_REDIRECTION_ON_LOCAL_LOOPBACK ? Why can’t it always be set ?

[2019-07-23 22:33] rshriram commented on #14443
Here is a permanent fix. Add an option in envoy orig dst cluster to reuse orig dst port but rewrite the ip alone (call it orig_port). Then we could have a default inbound passthrough cluster for the VirtualInbound listener that will forward all traffic to 127.0.0.1:orig_port. This will permanently fix the issue without having to tweak iptables. It will also eliminate all inbound clusters as we now

[2019-07-23 22:50] costinm commented on #14443
We can't rewrite to 127.0.0.1:orig_port - would be a huge security vulnerability. Apps bind to 127 to prevent traffic from external addresses - this would automatically make all localhost-bound listeners exposed as if they were bound on 0.0.0.0

Regarding DISABLE_REDIRECTION - the reason it exists is to handle the case of app talking to the cluster VIP, which gets captured by Envoy and sent to a c

[2019-07-23 22:53] howardjohn commented on #15779
Yep, think I found the root cause, will send a fix soon

[2019-07-23 22:54] howardjohn commented on #15779
We definitely are not building binaries with `-race`, if this somehow snuck in since CPU/memory usage would be extremely high

[2019-07-23 22:59] costinm commented on #14443
Also would be good to make clear the version - for 1.3 with split chains I believe the proposed solution handles all use cases. Traffic from local IP to local IP will bypass envoy at iptables level, and traffic sent to the VIP that is resolved to local IP will match an explicit filter in the inbound chain.
What the extra filter will do is block traffic sent by the outbound 'original dst' to local

[2019-07-23 23:29] #15509 closed

[2019-07-23 23:32] Monkeyanator commented on #15789
@JimmyCYJ I looked around and couldn't find an existing issue for this, thanks for making one :)  For context, the work in [this PR](https://github.com/istio/istio/pull/15418) gives us the information we need from the `nodeagent` side, but we still need [this PR](https://github.com/envoyproxy/envoy/pull/7365) merged before we can access the `envoy` side of things and make the diff.

As I understan

[2019-07-23 23:38] Katharine commented on #15699
To mitigate this in the future, I've updated https://istio.io/charts to bypass gcsweb entirely (though this will not deploy until the next Istio release), and added monitoring to gcsweb so oncall gets alerts if it goes down. It's not a perfect solution (it only alerts after things have gone wrong), but should reduce resolution time from days to minutes.

[2019-07-24 00:06] howardjohn opened #15798 "server_source_test test failures"
Example failure:
` server_source_test.go:125: Stream exited with error: got <nil> want unknown`

This is a caused by a race here: https://github.com/istio/istio/blob/1106c76d6bbed8d4f788737072b50ffb0a2f1217/pkg/mcp/source/server_source_test.go#L127

We have no way to guarantee that an error has not already been received at this point

Failures:
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/p

[2019-07-24 00:07] howardjohn commented on #15798
Also a segfault
[code]
from https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15501/istio-unit-tests-master/3592

[2019-07-24 00:15] howardjohn commented on #15666
@ozevren I fixed one problem but not the other controlz tests as I think they would need to refactor the code to permit returning the port, or come up with a different fix. my solution was set port == 0 to randomly assign port, but the other tests need the port # so they can call it

[2019-07-24 00:27] nmittler commented on #13530
@howardjohn remind me, was this issue created before or after the migration to docker for native testing?

[2019-07-24 00:32] howardjohn commented on #15798
Nevermind, the segfault was from a pr affecting this code (its a presubmit)

[2019-07-24 01:08] howardjohn commented on #13530
This was before moving to docker. I think we have some grpc tests now, so this may be fixed?

[2019-07-24 01:40] linsun opened #15803 "Promote SDS integration from Alpha to Beta"
**Describe the feature request**
SDS integration has drawn lots of interests from users.  We need to identify action items to promote this feature from alpha to beta.

Some known issue in this area:

- SDS doesn't work with egress gateway: https://github.com/istio/istio/issues/15485
- Allow easy trouble shooting: https://github.com/istio/istio/issues/15789
- others?

Additional things to check off

[2019-07-24 01:43] linsun commented on #15803
cc @incfly @myidpt

[2019-07-24 01:58] DragonSuper commented on #13321
@aliariff
My binaries that was compiled is ok in the aarch64 system。

[2019-07-24 02:10] linsun commented on #15640
`istioctl register` cmd is to register a VM, which is mainly used for testing. If you use consul, there is consul connect to auto register consul services with k8s thus no need to run `istioctl register` cmd.

add-to-mesh is different because it describes a experience of adding a service to the mesh whether the service runs on VM or as a k8s service.

cc @esnible @irisdingbj

[2019-07-24 02:12] DragonSuper commented on #13321
@aliariff
I changed the related "aarch64" to "arm64". Because I think aarch64 is the same as arm64

[2019-07-24 02:12] linsun opened #15804 "standardize istioctl structure idiom"
We need to standardize this as we keep growing commands to it.

It was discussed briefly in today's UX mtg but no consensus has reached yet.  There is a few WIs that depends on this.

[2019-07-24 02:13] linsun commented on #15134
https://github.com/istio/istio/issues/15804

[2019-07-24 02:48] incfly commented on #15789
@Monkeyanator

Almost. We expect several states

1. Client has trouble load the initial value of the secret, which you'll see the secret in the list of `warming_secret`.
1. Value client currently hold is v1, and server think it delivers v2. see if v1 and v2 are different.
1. Note the secret are not just tls_certificate, can be validation context, and root, and other things. You might want have a c

[2019-07-24 02:51] #14664 closed

[2019-07-24 02:51] incfly commented on #15803
/cc @Monkeyanator given he's working on both two mentioned feature requests.

@linsun  I'm not surprised about the user interests of SDS, but still wondering the feedback you got from them. Is the motivation coming from getting rid of the k8s secrets? How much customization to adapt to their own CA is needed?

[2019-07-24 03:21] rshriram commented on #14443
We are already routing to 127.0.0.1:port from podIP:port for container ports. This has been how things have operating since beginning. So what’s the new issue we have here? Why isn’t this an issue today with existing inbound clusters

[2019-07-24 03:29] rshriram commented on #14242
That was my suggestion as well. You simply need a orig dst port with loopback address.

[2019-07-24 03:38] divya21raj commented on #15122
Could you share your logs and the public key you're using? Also, check this issue -> #15244

[2019-07-24 04:06] tapanhalani opened #15806 "pods with istio-sidecar container , cannot reach the external services (sometimes)."
** Bug description **
My kubenretes default namespace is istio-sidecar injection enabled. So all pods start with an extra "istio-proxy" container along with my own.  The problem is that with istio-proxy container, the application containers in some of my pods cannot connect to external services like slack.com, listerner-eu.logz.io etc.  The error that occurs is as follows:

[code]

Although some t

[2019-07-24 04:34] #15798 closed

[2019-07-24 05:03] engmsaleh commented on #15122
@divya21raj  Here is the logs for `pilot` discovery

`kubectl logs pod/istio-pilot-69f969cd6f-blnj6 -n istio-system -c discovery`

[code]

[2019-07-24 05:08] engmsaleh commented on #15122
Also, here is my public key from the identity service
[code]

[2019-07-24 05:18] divya21raj commented on #15122
Try to check the logs for the specific pod or namespace you're applying the policy to. For eg, I applied it to the sa-web-app app, so I got the relavent logs by
[code]

[2019-07-24 05:31] engmsaleh commented on #15122
Here is the logs from the`settings` service's **istio-proxy** that I applied the policy

[code]

[2019-07-24 05:47] divya21raj commented on #15122
Could you check the log at the timestamp at which you send a request and get 401?

[2019-07-24 05:51] engmsaleh commented on #15122
@divya21raj I have enabled logging for **http** also, and got the following
[code]

[2019-07-24 06:12] divya21raj commented on #15122
Is this at the time when the 401 arrives?

[2019-07-24 07:37] Hwting opened #15808 "How do I use -- set gateways. istio - ingress gateway. nodeSelector"
**Bug description**
How do I use
[code]
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ X] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Specify ingressgateway scheduling on nodes labeled ingre

[2019-07-24 07:50] c0d1ngm0nk3y commented on #15704
@howardjohn There has been a bit of confusion. Yes the `curl` receiving the `Empty reply` takes 5s (or whatever you set as TERMINATION_DRAIN_DURATION_SECONDS). That is the thing that wonders me the most. Receiving an error right away would be one thing, but the connection is kept alive until the envoy actually shuts down without serving the connection. We will open a specific issue on that and des

[2019-07-24 08:11] c0d1ngm0nk3y opened #15809 "Draining of pilot-agent seems not to work in all cases (ingressgateway)"
**Bug description**

When restarting the istio-ingressgateway pods and simultaneous requesting (e.g. with curl), some request fail with `Empty reply` even if a `rolling update` is used.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ]

[2019-07-24 08:13] c0d1ngm0nk3y commented on #15809
@howardjohn We have created a separate issue for that as discussed in #15704 . With those steps, it should be easy to reproduce.

[2019-07-24 08:25] aliariff commented on #13321
@DragonSuper
I see, so you change it manually. Ok good to know, I thought it works without you changing anything.

[2019-07-24 08:44] ozevren commented on #15666
I thought @qfel already fixed those?

[2019-07-24 09:00] zqzzq commented on #13321
The GOARCH should be equal to the value in the output of "go version", for example, in my host:
[code]
so my GOARCH must be arm64, If I set the GOARCH value to others like aarch64, it will give an error like:
[code]

[2019-07-24 10:51] ibm-jason commented on #15584
The merge of PR #15629 closes this issue.

[2019-07-24 10:51] #15584 closed

[2019-07-24 11:22] johscheuer opened #15815 "Running istio integration/conformance tests"
**Bug description**

I wanted to run the `conformance` tests in the integration tests (https://github.com/istio/istio/tree/master/tests/integration) and some of the tests are failing. After digging into the code I saw that currently galley will be queried with "insecure" gRPC but our galley instance uses mTLS.

Here are some galley logs:

[code]

This function will query galley: https://github.com

[2019-07-24 11:38] engmsaleh commented on #15122
@divya21raj Here is the `issuer` and `JWKSURI` I use
[code]
I have my own custom issuer called `identity-service` deployed inside `services` namespace which I didn't use with **Istio** yet as I'm using **permissive** mode and didn't apply any rule.

[2019-07-24 11:53] divya21raj commented on #15122
What is the iss in the JWT you're using to make the request?

[2019-07-24 12:16] brian-avery commented on #11808
Hi @dotw,

Have you resolved your issue?

[2019-07-24 12:17] brian-avery commented on #11808
Thanks @sdake

[2019-07-24 13:54] nmittler commented on #13530
Yeah I think it's resolved now. Closing.

[2019-07-24 13:54] #13530 closed

[2019-07-24 13:55] philnichol commented on #9783
I'm facing the same issue with Istio 1.1.7, have tried both with and without the protocol

[2019-07-24 13:57] sdake commented on #12080
I had a misunderstanding about what P0 is.  The current definition (and the definition we are using) is P0 blocks the release.  Features never block a release.  Still, focus should remain on this area.

Cheers
-steve

[2019-07-24 14:02] sdake commented on #7233
Is this a regression?  I'm not clear if AWS sidecar injection has ever worked for anyone because of configuration problems with AWS's control plane and other environmental factors Amazon is actively working to resolve.

[2019-07-24 14:05] sdake commented on #4340
We have different objectives for our helm work.  We still need to delete updateVersions.sh (1 AUD to the individual that ultimately deletes udpateVersion.sh from the repo.. 👍

As such moving to P2+

[2019-07-24 14:08] sdake commented on #11977
@Monkeyanator I understand your desire for this feature, and think Istio is headed there.  The timeline is unclear, so I am marking the milestone as Nebulous future.

Cheers
-steve

[2019-07-24 14:08] alexanderbuhler commented on #9783
Oh okay. It's working for us with istio 1.2, so can't verify for 1.1.X.

[2019-07-24 14:09] engmsaleh commented on #15122
I'm using the following
`"iss": "http://identity-service/"`

[2019-07-24 14:14] sdake commented on #13700
@costinm should we move this out of the code mauve epic since a decision has been made (counter to the objectives of this issue tracker but inline with community objectives?)

[2019-07-24 14:22] sdake commented on #4941
devicemapper is not ideal for a variety of reasons.

[2019-07-24 14:25] howardjohn commented on #15666
It doesn't look like it, I am talking about https://github.com/istio/istio/blob/ce15e23389b86f43387071b5bbdd31046f40ec27/galley/pkg/server/components/ctrlz_test.go#L36

[2019-07-24 14:25] howardjohn commented on #14782
@jsPlachetka @kramerul can you post the config you are using somewhere so I can easily reproduce what you have?

[2019-07-24 14:27] sdake commented on #4941
Regarding this issue, containers are not 100% portable between distros.  Istio's containers are built on Ubuntu, and some of the compiled against an Ubuntu libc (which really needs to match the kernel for full compatibility).

I am not a bookinfo wizard, but on inspection I'd take a look for
[code]

in the dockerfiles.

The reason I'd suggest looking for these setcap/setpcap calls is that CentOS (

[2019-07-24 14:28] #14431 closed

[2019-07-24 14:34] sdake commented on #13248
@jpreese regarding this issue, I think the project has a fairly deep understanding of the problem here.  I'm not clear if we have a solution yet and this likely won't be solved in 1.3 for some of the reasons @costinm indicated.

[2019-07-24 14:37] jpreese commented on #13248
No worries from this side! We'll most likely migrate to the Kustomized distribution of Istio as it seems to be a much better fit. Worst case, we can always run a cleanup after a teardown.

[2019-07-24 14:41] howardjohn opened #15820 "Consul monitoring test failures"
Test: https://github.com/istio/istio/blob/4038134f52c8ca8668fbe973c86dc892fd2b7436/pilot/pkg/serviceregistry/consul/monitor_test.go#L32

Failures:

-

- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14614/istio-codecov-master/345
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14614/istio-codecov-master/489
- https://prow.istio.io/view/gcs/istio-prow/pr-lo

[2019-07-24 14:48] howardjohn commented on #15803
I think this is a duplicate of https://github.com/istio/istio/issues/15267

[2019-07-24 15:10] ibm-jason commented on #15691
Sorry for the assign/un-assign confusion. I didn't realize at first that this was an EPIC issue. I'll work on covering one of the issues(stories) contained in this epic, but we'll need to get some additional hands on the other issues under this EPIC.

[2019-07-24 15:59] philnichol commented on #9783
Oddly I get the following:
[code]
...
 "cors": {
    "allowOrigin": [
        "https://allowed.com"
    ],
    "allowMethods": "POST,OPTIONS",
    "allowHeaders": "Content-Type",
    "filterEnabled": {
        "defaultValue": {
            "numerator": 100
         }
     }
},
...
[code]

[2019-07-24 16:03] ozevren commented on #10942
Recent set of tests should cover this.

[2019-07-24 16:03] #10942 closed

[2019-07-24 16:05] sdake commented on #9333
Just to clarify, P0 items block a release.  The Istio project has specific guidelines around what blocks a release.  A new feature is not something that can generally block a release.  As a result, all operator work is P1+.

[2019-07-24 16:08] sdake commented on #14158
if this is a P0 for 1.3, the work needs be done for old and new installer.

[2019-07-24 16:35] howardjohn opened #15822 "TestEnvoyRDSUpdatedRouteRequest test failures"
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15002/istio-unit-tests-master/2440
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15063/istio-unit-tests-master/2638
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15342/istio-codecov-master/826
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15405/istio-racetest-ma

[2019-07-24 16:50] dgn opened #15823 "Galley uses root certificate for its ValidatingWebhook security"
**Bug description**
Galley is currently [advertising the Istio root certificate as `caBundle`](https://github.com/istio/istio/blob/14bf10a1954e51149a55bcc9f6c0ec3414bd868a/galley/pkg/crd/validation/config.go#L238) in its `ValidatingWebhookConfiguration` - this means that normal certificate rotations performed by Citadel have no effect on the ValidatingWebhook.

**Affected product area (please put

[2019-07-24 16:59] quanjielin commented on #15268
this is done.

[2019-07-24 16:59] #15268 closed

[2019-07-24 17:47] qfel commented on #15567
FYI @louiscryan

[2019-07-24 18:08] JimmyCYJ commented on #15803
cc @JimmyCYJ

[2019-07-24 18:11] qfel commented on #15666
For the record, what I did was #10840 - seems like a different CtrlZ test. Well, I'm glad at least now somebody runs into those issues so they get reported;)

[2019-07-24 18:53] #14714 closed

[2019-07-24 19:30] ShimiT commented on #14782
we are currently running the tests, and It seems that the new pilot image fixes the memory leak issue, I'll update when we finish all our test cycle.

[2019-07-24 19:37] linsun commented on #15427
@incfly thanks, you are right, it was embedded in there.

[2019-07-24 19:48] jaygorrell commented on #8917
This isn't a good solution. Rewriting `/nginx` to `/` means `http://service/nginx/index` gets rewritten to `http://service//index`. There's some better discussion in https://github.com/istio/istio/issues/8076

[2019-07-24 20:02] Gimi commented on #15708
Closing this issue.

We've found the root cause, it's about memory consumption. On our sidecar, it has 1Gi mem limit. And in my test, the proxy consumes more memory than the limit. So, after I changed the limit to 2Gi, the proxy memory usage goes up to 1.2 Gi before it blocks the client from sending more data to the server.

One thing I'd like to propose though, is to have a smaller default buffer

[2019-07-24 20:02] #15708 closed

[2019-07-24 20:04] engmsaleh commented on #11983
Same here with `Istio 1.2`
[code]

[2019-07-24 20:12] ostromart opened #15825 "Figure out correct labeling to indicate an Istio resource is under operator management"
We need a label that makes it clear to users what the behavior of the operator will be wrt that resource.
Current placeholder proposal is to follow k8s addon manager pattern which adds the following label:
istio-operator-managed: [Reconcile|EnsureExists]
The reason this label is required is so that operator never prunes objects that are not directly under its control. The actual label name and all

[2019-07-24 20:13] treedy opened #15826 "Consistent Hash load balancer creates cookies for all subsets"
**Bug description**
When a DestinationRule specifies a trafficPolicy that uses cookies for a consistentHash loadBalancer for more than one subset, each subset's cookie is applied instead of just the appropriate subset's cookie.

Was attempting this as a workaround for https://github.com/istio/istio/issues/9764

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infras

[2019-07-24 20:17] ayj commented on #15825
Related https://github.com/istio/istio/issues/14777 which suggests namespace'ing our labels, e.g. operator.istio.io/managed

[2019-07-24 20:30] aattuluri commented on #15782
This started working after:
i) upgrading to istio 1.2 and
ii) Adding port under destination of the virtual service:
[code]

[2019-07-24 22:36] richardwxn opened #15829 "Operator: Translation of gateways components enablement does not work"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
For IstioControlPlaneSpec translation, translation of gateways components enablement does not work properly, enabling the gateway features would alw

[2019-07-24 22:42] silentdai commented on #14443
@rshriram
containerPort config act as a whitelist to capture since it is guarded by iptables.
With default networking by removing containerPort, sidecar proxy default would capture every port. It's too risky capture on each port and forward to 127.0.0.1:{thatPort}

[2019-07-24 22:44] silentdai commented on #14242
Might work with containerPort but not align with the efforts that deprecating containerPort. Better find a solution with containerPort and without

[2019-07-24 23:35] engmsaleh commented on #15122
I have figured out my problem, I had two issues
- First, I was making the `issuer` field with `namespace`, although it was set in token without **namespace**
- Second, I have make full url with **cluster.local** to make it work, it didn't work for me without that

So, my lines will be
[code]

[2019-07-25 00:03] howardjohn opened #15831 "Kubernetes version postsubmit jobs timeout after 2hrs"
We recently added new postsubmit jobs to run the integration tests against different kubernetes versions. Since they run all the intergration tests, they take a long time, and timeout with
[code]

We need to increase the timeout for these

Example: https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-112-postsubmit-master/1

[2019-07-25 01:08] linsun opened #15834 "Evaluate if we can enable includeInboundPort by default"
**Describe the feature request**
A few of our users spent long time to debug istio issues this week where they had forgot to declare container port and mTLS doesn't work.

We need to identify gaps and additional automated test to ensure our newly added “traffic.sidecar.istio.io/includeInboundPorts” is working and can be enabled by default in 1.3 (or at least 1.4).  Per release note of 1.2 (https:/

[2019-07-25 01:09] linsun commented on #15834
@johnma14 could you do some investigation on this and report back?

[2019-07-25 01:35] johntostring commented on #15648
Nobody ?😔

[2019-07-25 01:40] incfly commented on #14039
Can you elaborate what identity you want to use for what connection?

Are you using your own certificate with DNS SAN or you're using Citadel issued certificate? Is the connection between workload in the mesh and egress gateway or gateway and public internet?

@Monkeyanator is working on something related, https://github.com/istio/istio/issues/15485, FYI.

[2019-07-25 03:21] duanhaowei commented on #11828
same problem , it not works for me

[2019-07-25 03:27] duanhaowei commented on #12545
so we need a outside LB to avoid use port in url ?

[2019-07-25 03:32] bianpengyuan commented on #15648
The command you run is for version prior 1.1.2. Please take a look at the notice in the instruction:
[code]

[2019-07-25 03:32] #15648 closed

[2019-07-25 03:36] johntostring commented on #15648
Please look at the **Bug description**. The problem is that I have already executed it, but
[code]

[2019-07-25 04:10] divya21raj commented on #15122
So, is the issue resolved now?

[2019-07-25 05:23] bianpengyuan commented on #15648
Hmm, I don't see the problem. Your installation is 1.2.2, the instruction is to **NOT** apply the command for version before 1.1.2.

[2019-07-25 05:25] #15820 closed

[2019-07-25 05:51] johntostring commented on #15648
1.1.2
1.2.2
I must be blind.
My bad. @bianpengyuan Thank you for taking the time to explain to me.

[2019-07-25 06:13] engmsaleh commented on #15122
@divya21raj Yes, with the above lines, thanks a lot for your kind help

[2019-07-25 06:36] warlice commented on #13321
Is there any note or readme for compile istio to share？ I also want use istio in arm64 platform, I d appreciate  if U can give a hand ！

[2019-07-25 06:52] kramerul commented on #14782
[14782.tar.gz](https://github.com/istio/istio/files/3430091/14782.tar.gz)

[2019-07-25 06:58] ngbit95 opened #15835 "unable to apply multiple certificates in istio-ingressgateway while hosting multiple site using same single gateway"
as mentioned in offical documnetation https://archive.istio.io/v1.1/docs/tasks/traffic-management/secure-ingress/sds/
I followed same procedure to host mult-site using multiple certificate but failed to apply both.
for ex:-

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: gateway
spec:
  selector:
    istio: ingressgateway # use Istio default gateway implementation
  serve

[2019-07-25 07:45] bzurkowski commented on #15774
After redeploying Istio the errors disappeared for a while, however, after 6h of regular operation started to occur again in Istio Telemetry service. They are no longer present in Citadel, Galley, and Sidecar Injector. What's interesting, the errors were occuring for 3h every few seconds and then stopped occuring.

[2019-07-25 08:06] ozevren commented on #15666
Ah I see. This is a test I've introduced recently. I'll fix it. Do you want to use this bug to track the work you've done so far, or should we repurpose?

[2019-07-25 08:23] aliariff commented on #13321
@warlice

Right now if you compile from the master branch, change this 2 line
https://github.com/istio/istio/blob/master/Makefile#L358
https://github.com/istio/istio/blob/master/Makefile#L362

from hardcoded `amd64` to `arm64`.
If you compile it from mac, change `GOOS=$(GOOS)` to `GOOS=linux` in the same line.

[2019-07-25 08:38] irisdingbj commented on #15427
@incfly https://istio.io/docs/setup/kubernetes/additional-setup/mesh-expansion/  has a prereq: Mesh expansion machines must have IP connectivity to the endpoints in the mesh. This typically requires a VPC or a VPN, as well as a container network that provides direct (without NAT or firewall deny) routing to the endpoints. The machine is not required to have access to the cluster IP addresses assig

[2019-07-25 08:44] gitirabassi opened #15837 "istioctl kube-inject doesn't support podAnnotation"
why is istioctl not calling https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/inject.go#L408?

This makes the behaviour of `istioctl kube-inject` different then the mutatingwebook

[2019-07-25 08:47] bzurkowski commented on #15457
Observed that connection errors occur every 50 seconds.

Istio Telemetry:
![istio-telemetry-transport-closing](https://user-images.githubusercontent.com/6787563/61858978-7ec3d900-aec7-11e9-94be-ca28e955a0ae.png)

Istio Pilot:
![istio-telemetry-transport-closing](https://user-images.githubusercontent.com/6787563/61859194-f6920380-aec7-11e9-8302-3a1d66659bf7.png)

This might be caused by the way our

[2019-07-25 08:55] stevewein opened #15838 "Failed calling admission webhook:Network Unreachable"
Version
istio 1.2.2
kubernetes 1.13
Is Istio Auth enabled or not?
not
Environment
redhat 7.5

automatic injection error.
message: 'Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io":
Post https://istio-sidecar-injector.istio-system.svc:443/inject: dial tcp 10.0.0.101:443:
connect: network unreachable

"curl -X POST https://istio-sidecar-injector.istio-system.svc:

[2019-07-25 09:50] morvencao commented on #15674
@ostromart It's a little confused. `component.logLevel` is by design belong to a component level parameter, since it is defined in `CommonComponentSpec`.

However, for new installer, it's a global parameter: https://github.com/istio/installer/blob/master/global.yaml#46-L47

Mapping from component level to global is tricky, because each component can override the setting by design.

[2019-07-25 11:28] QuRa opened #15839 "installation - helm chart - tolerations"
Referring to the documentation [Installation Options](https://istio.io/docs/reference/config/installation-options/#mixer-options)

I should be able to set tolerations ex. for mixer component, by setting mixer.tolerations,

**Steps to reproduce the bug**

Creating configs by:
[code]

[code]
this has no effect in generated files,

**Expected behavior**

---
# Source: istio/charts/mixer/templates/dep

[2019-07-25 11:40] #11470 closed

[2019-07-25 15:27] ozevren commented on #15666
I believe this is fixed? Closing now. If there are more issues, please open a bug, this one or another one.

[2019-07-25 15:27] #15666 closed

[2019-07-25 15:34] vergnes commented on #8281
Does this ticket cover controlling Envoy buffers size see #15260? We have a use case where we'd like to control the window size used by Envoy as well. Should I create a separate ticket?

[2019-07-25 15:45] vergnes commented on #15260
We have a use case where we'd like to control the HTTP2 window size as the default 256 MB are way too big. Envoy offers several knobs to control the buffers: https://www.envoyproxy.io/docs/envoy/latest/faq/configure_flow_control. It'd be nice to expose them in istio.

[2019-07-25 16:00] ayj commented on #13248
The validatingwebhookconfiguration's ownerReference points to the galley deployment. k8s typically GCs the webhook config when the deployment is deleted.

Here's an alternative:
1) add the validatingwebhookconfiguration back to the top-level manifest.
2) change the default failurePolicy to IGNORE
3) update galley's webhook config reconciliation logic to only patch the `caBundle` *and* change the f

[2019-07-25 16:07] anannaya commented on #15367
@philrud  Do you see any way to make it work?

[2019-07-25 16:31] ostromart opened #15842 "Use in-cluster config as a default for manifest migrate"
See https://docs.google.com/document/d/16SWW14zrwFKc9OzH6biMQD1u9INllzMa56jde9vgQkM/edit?ts=5d39c8d1#heading=h.24ooes3koj32
If --file is not specified, manifest migrate should be able to get the full config in cluster using
`kubectl -n istio-system get cm istio-sidecar-injector -o jsonpath="{.data.values}"`

[2019-07-25 16:40] ostromart opened #15843 "Fully automate migration from helm with manifest migrate/upgrade"
See https://docs.google.com/document/d/16SWW14zrwFKc9OzH6biMQD1u9INllzMa56jde9vgQkM/edit?ts=5d39c8d1#
Ed Snible:
`Users typically install Istio once, then upgrade four times a year. The upgrade is a "major task". Can we implement an "istioctl upgrade" command that checks for IstioControlPlane CR, does "istioctl manifest migrate" to create the IstioControlPlane CR from the istio-sidecar-injector da

[2019-07-25 16:44] ostromart opened #15844 "--kubeconfig flag needs --context"
If kubeconfig file contains multiple contexts, a flag is required to select one.
The "context" flag should be added to all operator CLI commands that take --kubeconfig.

[2019-07-25 16:50] ostromart opened #15845 "Add versionsURI flag to mesh manifest versions command"
This flag causes a URI to be used to obtain the versions map file rather than the default Istio OSS curated list. Needed for scenarios where the Istio provider has their own list of supported Istio versions.

[2019-07-25 16:50] ayj commented on #15844
We can mirror istioctl and use [`kube.BuildClientconfig`](https://github.com/istio/istio/blob/081bc22688baaa8675a4638bca7f0f686d180b94/pkg/kube/config.go#L26) or the equivalent. This uses the kubectl client libraries so that the default kubeconfig/context/namespace behavior between istioctl and kubectl is similar.

[2019-07-25 17:02] nrjpoddar commented on #14664
@linsun the fix for this issue is merged into master so it should make it into release 1.3. However, there are few additional steps that users would need to take to make the metrics show up for Passthrough cluster. I'm interested in knowing your opinion if we should make these defaults or document them, the changes are:

* For any TCP telemetry `destination.ip` needs to be added as a label as when

[2019-07-25 17:50] ibm-jason opened #15846 "Daily build process only publishes the sha256 files for 1/3 of the istioctl archives."
**Bug description**

The daily build process should process sha256 files for each of the istioctl archives that are published during the build process. Currently, the build process is publishing the sha256 file for the windows archive (.zip.sha256) only.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Per

[2019-07-25 17:59] #15605 closed

[2019-07-25 18:06] myidpt commented on #15020
@MrBlaise Just double check: did you enable SDS on ingress gateway only or also on workload sidecars?

[2019-07-25 18:07] nitishm commented on #14039
I am not sure what you mean by identity. So i probably dont have a good answer for that, sorry :/

We will  be using our own certificate for this.

Neither of the two. This will be from Gateway to Gateway. We will be using mTLS between an Egress Gateway in namespace A talking to the Ingress Gateway in namespace B.

Something like
`{//NS-A ... [worload->sidecar]->[egress GW] //end NS-A}->{ //NS-B [

[2019-07-25 18:08] MrBlaise commented on #15020
@myidpt I’ve enabled both.

[2019-07-25 18:13] incfly commented on #14039
@nitishm Okay, I see. So you want the connection between egress gateway to ingress gateway in mutual TLS. So given both them are Istio workloads, it's okay and possible to use Citadel issued workload certificates with "SPIFFE" SAN? Or you're looking for having control what certificates to use in egress as well?

[2019-07-25 18:25] nitishm commented on #14039
We most definitely need to control the certificates. We will use citadel for inter-workload comms but namespace to namespace will need our own certificates (client and server)

[2019-07-25 18:26] JimmyCYJ commented on #14039
I think what @nitishm asked for is to create k8s secret which has (1) CA cert of ingress GW B when B is TLS gateway, or (2) CA cert of ingress GW B and client key/cert when B is mTLS gateway. So that egress gateway agent could watch this k8s secret, extract key/cert/ca cert and push to egress GW A.

[2019-07-25 18:26] nitishm commented on #14039
I should add that we want the management to be symmetric to the ingress gateway. Using the sds agent like the ingress gateway, for the egress gateway.

[2019-07-25 19:00] mbanikazemi commented on #15293
RMI JRMP works fine under Istio.
The above setup for Cassandra needs to be modified such that the remote access using jmxterm works. These changes are required with and without Istio.

Modify `/etc/cassandra/cassandra-env.sh` to allow remote access. For a simple test, add userid and password to password file specified in the script (`/etc/cassandra/jmxremote.password`). Furthermore, add `POD_IP=<p

[2019-07-25 20:28] jnativio commented on #8281
It is better to open a separate issue.

[2019-07-25 21:09] #15831 closed

[2019-07-25 21:12] nitishm commented on #14039
Yea that seems to capture the requirements pretty well. Thanks @JimmyCYJ

[2019-07-25 21:22] JimmyCYJ commented on #14039
I am working on PKI reliability. Once the ingress SDS is stable and we have better monitoring and test coverage. I will enable SDS on egress gateway. Please let us know if you have any concerns. @myidpt

[2019-07-25 21:45] costinm commented on #9784
As I mentioned earlier in the thread, the fundamental problem is how to route to 'stateful sets'. We need to intercept the traffic somehow. Client app gets the IP of a specific instance, and it initiates a connection. In Envoy we need to know which service the IP belongs to, so we apply routes/policy/telemetry.   Distributing all the IPs of a stateful set and creating a listener for each is too ex

[2019-07-25 22:00] yangminzhu commented on #15714
@utka It seems the postsubmit is still failing at https://github.com/istio/proxy/pull/2324, is it because the postsubmit just doesn't pick the latest change? Do we need to send out another PR to trigger this? Thank you.

cc @crazyxy

[2019-07-25 22:14] nitishm commented on #14039
I also should've added that we provision and manage our certificates using cert-manager.
As for now SDS is the right choice by watching the secret generated by cert-manager, but if there are any proposals to support cert-manager directly through the agen, rather than a `secretFetcher` that would be ideal.

Let me know what you think about this enhancement @JimmyCYJ @incfly

[2019-07-25 22:19] JimmyCYJ commented on #14039
We do have a plan to let gateway agent fetch secret directly from cert-manager or let's encrypt. https://github.com/istio/istio/issues/12132.
But we need to make the SDS feature reliable before we move forward.
The short term solution would be using cert-manager with gateway agent to provision key/cert via SDS.

[2019-07-25 22:35] djazayeri opened #15849 "Introduce Mesh ID, for aggregating telemetry"
Add a Mesh UID to Istio to support the specific use case of aggregating telemetry from multiple Istio meshes in one place, and then being able to query it, distinguishing which mesh particular entries came from.

(There are other uses for Mesh UID, relating to multicluster and cross-mesh service identity, but these are out of scope.)

This was approved by the P&T WG on 7/17/19 and referred for a C

[2019-07-25 22:37] djazayeri commented on #15849
@kyessenov, @geeknoid suggested you can implement this, but I don't have privs to assign to you.

[2019-07-25 22:45] nrjpoddar commented on #7669
Filed https://github.com/envoyproxy/envoy/issues/7725 for figuring out a way to do this correctly.

[2019-07-25 22:47] JimmyCYJ opened #15850 "Improve SDS service at Citadel agent"
**Bug description**
Currently there are some improvements required at Citadel agent.
1. Make sure only one push is done per SDS request. We don't check push numbers for each SDS request, and we need to avoid multiple pushes.
1. Handle nonce in SDS request properly. This field is ignored by Citadel agent, only version info and token are checked.
1. Handle [error_detail](https://www.envoyproxy.io/do

[2019-07-25 22:48] JimmyCYJ commented on #15850
cc @quanjielin @myidpt

[2019-07-25 22:51] kyessenov commented on #15849
Did networking & environments approve adding things to MeshConfig?

[2019-07-25 23:45] #15779 closed

[2019-07-25 23:51] howardjohn commented on #15783
Fixed https://github.com/istio/istio/pull/15786

[2019-07-25 23:51] #15783 closed

[2019-07-25 23:51] howardjohn opened #15852 "TestLDSWithDefaultSidecar test failures"
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14614/istio-unit-tests-master/3034
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14680/istio-unit-tests-master/1663
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14769/istio-codecov-master/398
- https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/14824/istio-unit-tests-

[2019-07-25 23:55] #15610 closed

[2019-07-25 23:56] howardjohn commented on #15544
Fixed in #15601

[2019-07-25 23:56] #15544 closed

[2019-07-25 23:56] howardjohn commented on #15448
Done by #1525

[2019-07-25 23:56] #15448 closed

[2019-07-25 23:58] howardjohn commented on #15305
I think it was decided to use @geeknoid bot for this

[2019-07-25 23:58] #15305 closed

[2019-07-26 00:11] quanjielin opened #15853 "cleanup pilot-agent related logic with controlPlaneBootstrap"
[ProxyConfig](https://github.com/istio/api/blob/master/mesh/v1alpha1/proxy.proto#L115) doesn't have
```controlPlaneBootstrap``` property anymore

however pilot-agent code still uses ```controlPlaneBootstrap``` , for example, below code supposed to only run for controlplane sidecar, now it run for every workload sidecar(since controlPlaneBootstrap is set to true and unconfigurable now)
[code]

[2019-07-26 00:13] quanjielin commented on #15853
@costinm with this, logic in https://github.com/istio/istio/pull/15420 has to be tweaked (since it also rely on controlPlaneBootstrap)

[2019-07-26 00:36] myidpt commented on #15020
Thanks @MrBlaise
Please take a look at https://github.com/istio/istio/pull/15568#issuecomment-515146740
I also mentioned this in the slack channel. We will discuss it in tomorrow's TOC meeting.

[2019-07-26 01:03] howardjohn commented on #14705
Fixed by #15481

[2019-07-26 01:03] #14705 closed

[2019-07-26 01:04] howardjohn commented on #14350
Fixed with new pilot push queue https://github.com/istio/istio/pull/15405

[2019-07-26 01:04] #14350 closed

[2019-07-26 01:04] howardjohn commented on #14148
There is no clear action here on why we need these options

[2019-07-26 01:04] #14148 closed

[2019-07-26 01:05] howardjohn commented on #14088
Fixed by #15261

[2019-07-26 01:05] #14088 closed

[2019-07-26 01:13] #13643 closed

[2019-07-26 01:54] jaygorrell commented on #8076
Unfortunately, I don't believe using `prefix: /example` and a single space works unless your request ends in a `/`. That works great for requests to `/example/` but not `/example`. Setting the rewrite to `/` does the opposite... it works for `/example` but if you have anything after it (starting with another `/`) you end up with the `//` problem.

The only way I see that actually solves this is th

[2019-07-26 02:03] hzxuzhonghu commented on #9784
This doesn't seem a problem. As for statefulsets, the common quantity is about3, 5, 7. This figure can not be too big, as the cost to keep consistent among then is very big.

[2019-07-26 05:04] #13008 closed

[2019-07-26 06:26] kingsqv opened #15857 "How to rewrite a regex uri"
in this case how to rewrite
\- match:
    \- uri:
        regex: /xxx-api/.\*/export
    rewrite:
      uri: /.\*/export
    route:
    ...
does support rewrite like nginx :
rewrite ^/api/files/(\w+)/filters(.*)$ /files/$1/filters$2 break;

[2019-07-26 06:42] irisdingbj commented on #15837
Thanks  and I agree we should make the webhook and istioctl behave the same.

[2019-07-26 07:05] gabel commented on #10543
@ahmadsayed @cagataygurturk Did you solve this? I'd like to have a custom response (json custom format) as well.

[2019-07-26 07:40] palmerabollo opened #15858 "istioctl version output: option to show client version only"
**Describe the feature request**

`istioctl version` in istio 1.2.0 breaks backwards compatibility because it returns an exit code 1 when it is not able to determine the control plane version. In istio 1.1.x the same command always returns an exit code 0 because it doesn't check the remote pods.

With the current approach, it is more difficult to use it in automated scripts. It would be nice to **

[2019-07-26 09:23] samush commented on #15358
Hello, may be it will help you:

My environment: openshift(3.11)+istio(maistra project)+app(front http + backend grpc microservices)

I was looking for configuration options to return http response code relative to grpc status code  and here that works for me:

istio-system project:
#here i found resource kind metric, but in Istio docs thay talk about Instances
$ oc get metrics -n istio-system --n

[2019-07-26 09:58] clyang82 opened #15860 "Support istio addon operators"
**Describe the feature request**
we should delegate addons to the corresponding operator instead of maintain by istio itself. right now, there is prometheus operator in new installer. Suggest to add kiail and jaeger operator as well.

FYI @linsun @howardjohn @jmazzitelli

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration I

[2019-07-26 10:02] kinash000 opened #15861 "The application in the pod could not call envoy in the pod."
During the execution there were about 8 calls, in one of them
when trying to call another service, error 503 occurred, but the envoy did not display it in the access logs.
I can not repeat this case.
The application in the pod could not call envoy in the pod???

Log envoy:
[2019-07-25T13:03:51.144Z] "POST /com.sbt.synapse.mq.protobuf.MessageChannel/processMessage HTTP/2" 200 - "-" 2515 12 13 12 "-

[2019-07-26 12:30] #15823 closed

[2019-07-26 12:50] dgn commented on #15823
Nevermind this was some sort of mirage; there is not actually an inconsistency. Both webhooks advertise their root certificate as caBundle.

[2019-07-26 13:19] morvencao opened #15862 "Operator doesn't honor the component namespace"
**Description**

Take `default` profile as an example, piece of the `default` profile:
[code]

As we can see, we actually want all our `trafficManagement` components are deployed into `istio-control` namespace, but the manifests generated by the `iop manifest . ...` are not:
[code]

**Expected behavior**z

Operator is supposed to honor the component namespace specified in profile.

/cc @ostromart

[2019-07-26 13:27] kubaj opened #15863 "Connection to headless service doesn't recover"
**Bug description**
Service X which is gRPC client connecting to service Y which is stateful gRPC server doesn't recover when server's pod is recreated.

Service Y is gRPC server configured as a statefulset with headless service. Service also have ServiceEntry:

[code]

Service X is connecting to service Y using address `y-server-0.y-server:50051`. When service X is started before starting service

[2019-07-26 14:27] howardjohn commented on #15858
`istioctl version --remote=false` should do it

[2019-07-26 14:32] howardjohn commented on #15057
@Kiddinglife is there any additiona work/questions here? UDP support is tracked in another issue

[2019-07-26 14:32] howardjohn commented on #14866
Fixed by https://github.com/istio/istio/pull/15476

[2019-07-26 14:32] #14866 closed

[2019-07-26 14:54] howardjohn commented on #6037
Seems like 1 year later we are doing a lot of these things, or starting to at least. I think the biggest gap is we don't provide a default set of prometheus alerts. Thanks for all the great suggestions

In istio/installer we are doing all of these for the reasons you mentioned for the same reason, each component is isolated

It seems like we are moving to a model of bring-your-own-prometheus opera

[2019-07-26 15:45] howardjohn opened #15864 "TestCriticalCrdsAreReady test failures"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15593/istio-racetest-master/2260
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15632/istio-racetest-master/2139
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15802/istio-racetest-master/2333

[2019-07-26 16:11] palmerabollo commented on #15858
Thanks, it works.

[2019-07-26 16:11] #15858 closed

[2019-07-26 16:33] utka commented on #15714
No, it picked up the change, but it is still permission denied error, but now with creating file itself.

[2019-07-26 16:40] myidpt commented on #9177
Bump this to P0 in Q3.

[2019-07-26 16:48] sushicw commented on #15627
After further testing & discussion:

* It looks like the current behavior is OK for the scaling case where there are extra galley instances with the same config.
* It looks like the current behavior is OK for the case where the galley deployment is being updated to a new version. (There may be some ping-ponging, but it's brief and self-healing).
* We can run into trouble if there are multiple conf

[2019-07-26 17:14] ostromart commented on #15862
Yep, definitely looks like a bug :-)

[2019-07-26 17:44] elfinhe opened #15865 "Refactor "mesh" field in GalleyConfig to decouple from the ConfigMap created by other components"
**Describe the feature request**
Investigate and refactor [`map<string, string> mesh = 3` in GalleyConfig](https://github.com/istio/operator/blob/14f5f0a49de75a43e8579ab158201bf9f9c0f888/pkg/apis/istio/v1alpha2/values/values_types.proto#L145) to make Galley self-contained without depending on ConfigMap created by other components.

Current Situation:
Galley still works when this `mesh` is empty. M

[2019-07-26 17:47] elfinhe commented on #15865
cc @ozevren @costinm (relates to the installer and galley config conversations)
cc @ostromart this is will be updated in istio operator.

[2019-07-26 17:52] JimmyCYJ commented on #13439
https://github.com/istio/istio/issues/9177

[2019-07-26 17:56] kuwas commented on #15662
@bianpengyuan Awesome

[2019-07-26 18:01] JimmyCYJ commented on #9177
Discussed with @ozevren about Galley running in a native environment. Galley watches file system https://github.com/istio/istio/tree/master/galley/pkg/source for input config and output.

Galley watches a folder and loads K8s resources when it receives a SIGHUP. Galley also has code to automatically watch folder for changes, but that caused issue with INODE exhaustion in the cluster. That is why S

[2019-07-26 18:07] arianmotamedi commented on #15857
This is currently not supported by Envoy. I looked at the code and looks like the rewrite action on the Route doesn't capture the prefix context. Could you please open up a feature request in https://github.com/envoyproxy/envoy?

[2019-07-26 18:44] richardwxn commented on #15394
Tried different ways: 1. made the CommonComponentSpec field anonymous, this failed because unmarshallwithJSONPb cannot recognize the anonymous field. 2. making the json name tag empty or ignored doesn't work

 Leave the issue pending for now

[2019-07-26 19:04] linsun commented on #14664
@nrjpoddar thank you much for taking the time to fixing the issue.  This is a great first step!

It would be great if these labels can be detected by default so no user action is required.  It would not be intuitive to add these labels and different labels for tcp or http traffic.  Do you also need the values for `destination.ip` or `route.Host`?  For example, I assume you need to not only add the

[2019-07-26 19:13] Monkeyanator opened #15866 "Secure Ingress Gateway does not work with global SDS enabled"
**Bug description**
Note: have been having troubles with dev env, so it's possible that the following is simply misconfigured

Following the task for setting up a [secure ingress gateway with SDS](https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/) works on its own, but when [SDS is enabled globally in the mesh](https://istio.io/docs/tasks/security/auth-sds/) in conjunction

[2019-07-26 19:16] nrjpoddar opened #15867 "Istio Mixer TCP filter doesn't report attributes if `onData` event is not called"
**Describe the feature request**
The Istio TCP Mixer filter currently only exports attributes if `onData` event is invoked. This means when the new connections are created https://github.com/istio/proxy/blob/master/src/envoy/tcp/mixer/filter.cc#L138 and the connection is not successful, no attributes get generated.

We recently added telemetry for BlackHole cluster https://github.com/istio/istio/p

[2019-07-26 19:16] nrjpoddar commented on #15867
cc @kyessenov

[2019-07-26 19:29] nrjpoddar opened #15868 "Galley rejects Authentication Policies with multiple JWT sections with same issuer"
**Describe the feature request**
Galley has configuration validation which rejects AuthenticationPolicies with multiple JWT sections and if the same issuer is used in more than once JWT block. This is the relevant [code](https://github.com/istio/istio/blob/76f15793c4f9b259c075c2c9a99d13f64f09599f/pkg/config/validation.go#L1441).

This is a legitimate use case where you might have two kinds of JWT

[2019-07-26 19:30] nrjpoddar commented on #15868
cc @yangminzhu

[2019-07-26 19:46] linsun commented on #14664
@vadimeisenbergibm @frankbu thoughts?

cc @esnible

[2019-07-26 19:54] nrjpoddar commented on #14664
@linsun we can easily make these labels default for metrics we provide like `istio_requests_total`, `istio_tcp_connections_opened_total`

`destination.ip` is needed for TCP metrics and yes, that will also work for HTTP. `request.host` is very convenient to have when protocol is HTTP.

[2019-07-26 19:56] bianpengyuan commented on #15867
@qiwzhang Do you recall why we add check in onData instead of onNewConnection? I remember when I added connection open event we want to have it to be reported after policy check passes, and I think you mentioned some reason that check has to be in onData but I cannot recall now... https://github.com/istio/proxy/pull/1849

[2019-07-26 20:18] kyessenov commented on #15867
The issue is with telemetry. We don't collect anything about connection that are dropped after onNewConnection, which we should.

[2019-07-26 20:37] kyessenov commented on #15867
The policy check should remain in onData since SSL info is populated after newConnection.

[2019-07-26 20:46] WxFang commented on #11983
I did many tests and the following command works for me:
[code]
the command needs the namespace of client pod and full name of test service.

[2019-07-26 20:59] Monkeyanator commented on #15485
Been working on this for the past few days, posting an update here.

[2019-07-26 21:01] bianpengyuan commented on #15867
Right yeah, it is because of TLS. It should be fine to move the connection open event to newConnection.

[2019-07-26 21:27] nrjpoddar commented on #15867
That sounds correct. We need to think about the trigger for reporting the attributes as currently that happens inside connection close event.

[2019-07-26 22:17] Monkeyanator commented on #15485
Been working on this for the past few days, posting an update here.

Tried to follow the implementation steps from @incfly from [here](https://github.com/istio/istio/issues/15485#issuecomment-513057245) and ran into some issues early on. The overall goal was to follow [this example](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway/), and have it work with SDS enabled and using

[2019-07-26 22:20] costinm commented on #14443
I guess it's similar with UDS support: obviously you can't connect from the network to a UDS socket, but user can configure Istio to expose the UDS socket to the network. If user has an explicit config defining a service and container port for a 127.0.0.1 - it is considered intent to expose it.

But with 'magic' automatic config for ports - i.e. the originalDst in the input chain - we can't automa

[2019-07-26 22:43] incfly commented on #15485
I have a quick theory... The way SDS works is to modify the sidecar injector, such that the UDS file path mount is referencing the same host path node agent is listening on.

Gateway, however,  is not deployed related to sidecar injector. So I highly doubt that the UDS path is not accessible from gateway. This explains the reason why ingress SDS can't work for public facing traffic as well as Cita

[2019-07-26 22:44] incfly commented on #15866
@myidpt  @linsun To me this definitely seems to be a beta promotion blocker for SDS.

I suspect the root cause is as same as what we see when trying to get `ISTIO_MUTUAL` work for egress gateway... see https://github.com/istio/istio/issues/15485#issuecomment-515620536

[2019-07-26 23:01] majelbstoat commented on #7479
@incfly Can SDS be used with certs issued from cert manager/let's encrypt and trigger an automatic reload?

[2019-07-26 23:28] Kiddinglife commented on #15057
all good. close it.

[2019-07-26 23:28] #15057 closed

[2019-07-27 02:02] #14932 closed

[2019-07-27 03:47] vadimeisenbergibm commented on #15485
@incfly Please note that ingress gateway uses the UDS path to configure Istio mTLS to communicate with internal services. So the UDS path works despite the fact that for ingress gateway Envoy was not injected by the sidecar injector.

To check this, run the [Ingress task](https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/).

Dump the cluster config of the Ingress gateway by is

[2019-07-27 04:14] costinm commented on #12799
I think a better option is to stop bundling certmanager, and user certmanager own installer.
Aligned with the 'a-la-carte' model, and the plans to use prometheus operator, etc.

[2019-07-27 04:14] #12799 closed

[2019-07-27 04:17] costinm commented on #14692
Thanks for the report and for debugging this.

[2019-07-27 04:21] costinm commented on #14692
We'll need to document this - I don't think we can fix it easily. We may be able to automatically add the apiserver to the iptables exclude, but currently iptables script (and the go replacement) are pretty tricky to test and high risk, we just spend a week tracking a subtle bug.

[2019-07-27 06:12] sdake commented on #15362
GKE Deployment Manager, along with the Ansible implementation were removed from master as a result of lack of maintenance.

If you wish to revive these efforts, please submit a PR with an appropriate implementation for either installer technology.

In the meantime, I am closing this issue.

Cheers
-steve

[2019-07-27 06:12] #15362 closed

[2019-07-27 06:14] sdake commented on #15640
please work with @irisdingbj on this effort - she is making great improvements in mesh expansion.

Cheers
-steve

[2019-07-27 06:18] sdake commented on #15699
This appears resolved by the T&R WG.  As such, closing this issue.  If this clsoure is in error, feel free to reopen.

Cheers
-steve

[2019-07-27 06:18] #15699 closed

[2019-07-27 06:24] sdake commented on #15617
@clyang82 why don't you consider taking a crack out how to solve this in a bigger context of reconfigure of the `data plane` within the operator repo.

Cheers
-steve

[2019-07-27 06:30] sdake commented on #15829
@morvencao I'ce removed @ostromart as he is probably overloaded on issues for the operator repo and added you as an assigneer.  If you are not interested in solving this problem please unassign yourself.

Cheers
-steve

[2019-07-27 06:32] sdake commented on #15777
OKD has a variant of the sidecar injector that is different than upstream's sidecar injector.  Therefore, I have assigned @knrc to find the appropriate owner for you.

[2019-07-27 06:39] sdake commented on #15522
@rverma-nikiai note currently we recommend using NLBs, although ALBs are known to work.  Feel free to propose your work to the istio/installer repo.

Cheers
-steve

[2019-07-27 07:04] aalmazanarbs opened #15873 "Job ttlSecondsAfterFinished is not working with Istio"
Hi,
We are using Istio in our k8s cluster where we launch deployments and jobs. For jobs we need to use the k8s TTL Mechanism **ttlSecondsAfterFinished**. When we run jobs with Istio sidecar, the jobs are never clean up (Job and the pod associated are not unregistred automatically). If we run the same job without Istio sidecar the Job is unregistred successfully. We have communication between pods

[2019-07-27 07:33] #13552 closed

[2019-07-27 07:47] morvencao opened #15874 "Operator: mesh manifest generate is broken for unknown field "namespacePrefix""
Build istio operator with the latest source tree and generate the manifest get error of unknown field "namespacePrefix":
[code]

[2019-07-27 08:05] kingsqv commented on #15857
OK THANKS

[2019-07-27 08:05] #15857 closed

[2019-07-27 11:50] sdake opened #15875 "clean up istio/tools"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

The istio/tools directory is a mess:

See: https://github.com/istio/istio/pull/15455#issuecomment-510509197

My initial recommendation would be to let this directory ro

[2019-07-27 13:41] #15874 closed

[2019-07-27 14:36] howardjohn commented on #15873
So the problem is that the sidecar keeps running after the job shuts down right?

If so in the next release we are adding a way to shut down the sidecar from the running process so your job could kill the sidecar once it's done.

In the far distant future we will have more control over the lifecycle of the sidecar so this type of problem should be resolved

[2019-07-27 18:23] howardjohn commented on #15875
we have 3 folders for 'tool' type things, tools, scripts, and bin.

I think we can remove most of the stuff from tools except things we want users to have (if there is anything?) and maybe consolidate the rest. We also have stuff in tools repo and test-infra repo for added fun

A lot of the stuff is probably not longer needed though.

[2019-07-27 22:36] howardjohn opened #15876 "Pilot send goroutine leak"
https://snapshot.raintank.io/dashboard/snapshot/T23l1QpRQjqyVcR7gISDdt1Qo2l02VRf?orgId=2

goroutine dump:
[goroutine.txt](https://github.com/istio/istio/files/3438668/goroutine.txt)

Seems like its correlated with an increase in send errs - each time a send timeout occurs a goroutine is leaked.

The dashboard completely obscures the write timeout, because the LDS reject is at 40 so the send errs a

[2019-07-27 22:38] howardjohn commented on #15658
In recent tests of master latest daily I havent been able to reproduce, but I was able to easily in the commit 82e30d0. Its possible we accidentally fixed this -- more investigation needed

[2019-07-27 22:38] howardjohn commented on #15660
I have not been able to reproduce this yet, but I haven't tried hard either. If we cannot reproduce we can lower the priority

[2019-07-27 22:41] howardjohn commented on #14443
This is fixed by #15833, to be backported to 1.2 and 1.1, and a duplicate (in terms of root cause -- thanks for all the details you provided @ckcd) of https://github.com/istio/istio/issues/14242.

For future split listener plans we will need a better solution, but for now I think its best to close this and consolidate conversation in https://github.com/istio/istio/issues/14242 as we have two discu

[2019-07-27 22:41] #14443 closed

[2019-07-28 00:41] JimmyCYJ commented on #15866
The ingress sds is enabled by a helm flag gateways.istio-ingressgateway.sds.enabled, and global SDS flag is for workload SDS. I had discussion with @costinm, the global SDS flag will be deprecated in 1.3 and we are going to use installer to enable SDS. The new approach that enables SDS has some common steps as we enable ingress SDS.
https://docs.google.com/document/d/13bEpAeSKV8ADMK37ANkQV4FXli5bT

[2019-07-28 04:14] morvencao opened #15878 "tune rolling update strategy for istio"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Related to https://github.com/istio/istio/issues/13552
We need to merge https://github.com/istio/istio/pull/15586 to new installer and add correspon

[2019-07-28 04:35] morvencao commented on #15829
@sdake Let me take this one.

[2019-07-28 06:07] morvencao opened #15880 "Operator: need a mechanism to distinguish different chart source types"
As @richardwxn @ostromart discussed at https://github.com/istio/operator/pull/104#discussion_r305595564

Istio operator is supposed to support three different chart source:
1. compiled in
2. local file
3. HTTP fetcher

`helm.NewHelmRenderer` will generate different helm render based on the type of chart source. For now, istio operator supports the first two source types, but it can't distinguish t

[2019-07-28 08:26] elevran commented on #14797
Shouldn't k8s.io/apimachinery/pkg/apis/meta/v1/validation be used?
This has a `ValidateLabels()` function...

[2019-07-28 08:42] illidan80 opened #15881 "Service stops receive readiness prob requests from Kubernetes"
**Bug description**

I have about 20 pods running on Kubernetes cluster. After about 3 days, they begin to refuse Readiness prob HTTP requests.

This is an example of "kubectl describe pod" output:

` Warning  Unhealthy  4m41s (x104971 over 4d21h)  kubelet, digi  (combined from similar events): Readiness probe failed: Get http://10.1.1.139:8080/v1/readiness: read tcp 10.1.1.1:35178->10.1.1.139:808

[2019-07-28 12:56] omerlh opened #15883 "istio-proxy - high CPU usage"
**Bug description**
I enabled istio injection on a service with a high traffic load. Once the pod restarted and istio-proxy enabled, we noticed a huge memory consumption:
![image](https://user-images.githubusercontent.com/6730584/62006794-1c303e80-b14e-11e9-95d0-03eeb147d974.png)
The query running is `avg(rate(container_cpu_usage_seconds_total))`.
You can see that envoy used twice the resources of

[2019-07-28 14:06] geeknoid opened #15884 "Switch to prototool for compatibility checking"
Instead of protolock, we should switch to using 'prototool break check' which works by comparing the current set of files with what is checked into a particular git branch. So for us, upon checking any changes into the proto, we can compare them against the prior release's branch and know whether we have any breaking changes.

This is simpler and strictly more correct than our current use of proto

[2019-07-28 19:13] bmonteiro opened #15885 "IP whitelist does not work"
The functionality IP whitelist is not working like it is documented here https://raw.githubusercontent.com/istio/istio/release-1.2/samples/bookinfo/policy/mixer-rule-deny-ip.yaml

[ ] Configuration Infrastructure
[X] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

Whe

[2019-07-29 00:03] myidpt commented on #9177
Thanks Jimmy. I think we can potentially reuse https://github.com/istio/istio/tree/master/galley/pkg/source by moving that to istio/pkg. We can save a decent amount of work if Galley has already done similar things.

[2019-07-29 04:11] clyang82 commented on #14435
This feature was implemented.

[2019-07-29 04:11] #14435 closed

[2019-07-29 04:27] nicktrav commented on #15587
@howardjohn - would you be able to help triage this?

[2019-07-29 06:22] sniperking1234 commented on #15579
@hzxuzhonghu Routing seems normal, but I didn't do anything about it. I will reopen this issue if this happens again.

[2019-07-29 06:44] incfly commented on #15640
@irisdingbj do you want to make this part of add-to-mesh? That's fine to me as well as long as we can make sure the documented steps in this issue can be automated via `istioctl`.

[2019-07-29 07:57] safvankothawala opened #15889 "Missing support of IP Address in calling External APIs via Egress"
**Bug description**
Enable IP Address based configuration in ServiceEntry and VirtualService

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Isti

[2019-07-29 07:58] ozevren commented on #9177
Let's be careful here.
First, I am close to landing a refactoring of Galley in main (currently it is in collab-galley). Once it lands, I'll work to make it the default set of libaries Galley uses. it changes pkg/source. Any reorganization we need should take this into account.
https://github.com/istio/istio/tree/collab-galley/galley/pkg/config/source/kube

Second, istio/pkg is meant for top-level/

[2019-07-29 08:50] odg0318 opened #15890 "Conversion ip_address into string by CEXL"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Conversion ip_address to string by CEXL in log entry template.

**Describe alternatives you've considered**
CEXL supports string() function

The following configuration includes `source.ip` and `destination.ip` for logentry template.
`ip_address` ty

[2019-07-29 09:13] kramerul opened #15892 "Horizontal autoscaling of pilot not working properly"
**Bug description**

We have seen in  many scenarios, that the pilot is scaling up without an obvious reason.
Therefore, we did some performance measurements. It seems that CPU usage, which is used to trigger the autoscaler, is not correlated with the actual load of the pilot.

We used the following scenario (See also #14782)
* Create 400 namespaces with one virtual service and one service in adva

[2019-07-29 09:16] rverma-nikiai commented on #15522
@sak0 I haven't started yet, I don't have enough clarity on where to start and how to proceed.

Some of the key components of ingress-gateways which can also be handled with ALB
1. API security (Cognito)
2. TLS, most of us still terminate TLA at the load balancer
3. Fine traffic shaping, though load balancer doesn't support this natively, the preferred way is to use Route53 to provide weight. This

[2019-07-29 09:37] safvankothawala commented on #15889
One of the temporary solution is to make a Host Entry in /etc/hosts with any hostname and use that hostname in ServiceEntry and VirtualService configuration.

[2019-07-29 09:39] bmonteiro opened #15894 "ISTIO Service loadBalancerSourceRanges not working with more than 50IPs in AWS Security Group"
**Bug description**
When using loadBalancerSourceRanges in ISTIO service with Load Balancer in AWS with 1 Security Group attached if the CIDRs are > 50 entries (limit per Security Group) a new Security Group is not created and also that has a limit of 5 Security Groups per Load Balancer in AWS. If you try to create > 50 CIDRs nothing changes in AWS.

Example: if you have 0.0.0.0/0 and you try to a

[2019-07-29 09:43] chaudyg commented on #15379
Anyone?

[2019-07-29 11:14] mishaque opened #15895 "Pods with sidecar injection stuck in ContainerCreating status"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
My pods with side car injection is not starting:

Pod logs shows following error

` Warning  FailedCreatePodSandBox  61s (x4 over 2m32s)  kubelet, l

[2019-07-29 13:09] esnible commented on #6892
https://github.com/istio/istio/issues/15526 does most of the things requested here.  I will add support for the other things.

[2019-07-29 13:12] esnible commented on #15526
Totally re-architected to get all information from sidecar:15000/config_dump and pilot:/debug/authenticationz.

The code already validates many Kubernetes Service things, such as port names.  I will add support for "a port 80 service being called tcp" as requested in https://github.com/istio/istio/issues/6892

[2019-07-29 14:06] crhuber opened #15896 "Unable to communicate with RabbitMQ outside the mesh"
**Bug description**

We have a number of rabbitmq consumer pods with Istio sidecar running. These pods should consume messages from rabbitmq running as a hosted service via cloudamqp. As soon as the pod starts the consumer container never receives any messages even though the queue has messages waiting to be consumed. When we turn off sidecar injection, messages get consumed as expected. Connectiv

[2019-07-29 14:34] Timoses commented on #12132
This unfortunately does not help in a multitenant scenario where users of one namespace should be able to define their own secured ingress (with certificates).

It would be great if it were possible to customize an ingress-gateway in such a way that it accepts Secrets from other namespaces.
Of course, this poses a security risk. However, there may be scenarios where exactly this is required (such

[2019-07-29 14:36] linsun commented on #15803
Agreed this is a dup.  I'll close it now, great it is being making progress elsewhere.

@incfly yes, it is mainly to get rid of k8s secrets and be more secure.  That is the first thing before any additional customization.

[2019-07-29 14:36] #15803 closed

[2019-07-29 14:39] linsun commented on #15026
cc @morvencao @clyang82 @sdake - this is needed for us to consume the operator work.

[2019-07-29 14:41] howardjohn commented on #15894
This seems like a kubernetes feature rather than an Istio one. Istio has no way to configure your AWS resources, that is up to the kubernetes loadbalancer

[2019-07-29 14:56] howardjohn commented on #15892
We made pushing much more optimized just a weeks ago, so this may mean that CPU is now less correlated to number of proxies than it was before, as you indicated.

I am not sure I agree with your claim that CPU is not suitable. In your artificial test that heavily strains PushContexts, it is more skewed to that, but in a "typical" (for some definition of typical - I wouldn't be surprised if some us

[2019-07-29 14:57] ahmadsayed commented on #10543
@gabel  Not really, we lived with it, not optimum unfortunately

[2019-07-29 14:57] richardwxn commented on #15026
@linsun I think the example is listed here for how to do feature and component enablement override? https://github.com/istio/operator#new-api-customization

[2019-07-29 15:05] rlenglet commented on #15895
Istio CNI logs into journalctl on the node. Can you grep for  "nsenter" in journalctl logs?

[2019-07-29 15:07] rlenglet commented on #15895
@mishaque more specifically look for a log containing "nsenter failed".

[2019-07-29 15:09] rlenglet commented on #15895
@mishaque Also can you give more details about the kernel on your worker nodes? What version? Does it support iptables? nftables?

[2019-07-29 15:21] howardjohn commented on #15892
also one thing I noticed is that

sum of 10 pilot instances CPU < a single pilot instance

under the same load.

I haven't dug too much into this though

[2019-07-29 15:21] JoelDamata-pcc opened #15898 "Intermediate issues reaching the k8s api from an mtls pod."
**Bug description**
In one of our applications we use leader-election. Seemingly randomly the leader-election side-car started receiving TLS connection issues to https://kubernetes.default.svc.cluster.local. I have mtls enabled and a destinationrule for the k8s service allowing non-mtls connections which works except for this situation.

[code]

Log from leader election
[code]

This has happened t

[2019-07-29 15:29] jnativio opened #15899 "Performance regression detected starting on build 07/25"
**Bug description**
The Istio Regression Patrol  is showing a regression in throughput and response time on all 3 configurations (full istio, no mixer, ingress only) and for the 2 branches tested (1.1 and 1.2) for builds starting on 07/25. The degradation is from 10% to 15% compared with the baseline (1.1 GA) or previous builds (see https://ibmcloud-perf.istio.io/regpatrol/).
To verify that this d

[2019-07-29 15:29] jnativio commented on #15899
@mandarjog

[2019-07-29 15:34] crhuber commented on #15896
I was able to work around this issue by setting this annotation on the deployment:
[code]

However, this is not a permanent solution

[2019-07-29 15:43] mishaque commented on #15895
@rlenglet here is the logs for nsenter:

`Jul 29 11:21:24 lxappstrldev0001 kubelet[12441]: 2019-07-29 11:21:24.695 [ERROR][24692] redirect.go 264: nsenter failed: exit status 3 err=exit status 3 out="Environment:\n------------\nENVOY_PORT=\nISTIO_INBOUND_INTERCEPTION_MODE=\nISTIO_INBOUND_TPROXY_MARK=\nISTIO_INBOUND_TPROXY_ROUTE_TABLE=\nISTIO_INBOUND_PORTS=\nISTIO_LOCAL_EXCLUDE_PORTS=\nISTIO_SERVIC

[2019-07-29 15:46] rlenglet commented on #15895
Ok so IPv6 is disabled in your kernel?

[2019-07-29 15:52] rlenglet commented on #15895
That is weird because the script attempts to setup ip6tables chains only if the pod has an IPv6 address.
@mishaque could you please run "ip addr" inside a pod (without injection)?

[2019-07-29 16:04] morvencao commented on #15026
We have migrated the [basic profiles](https://github.com/istio/operator/tree/master/data/profiles) to operator, which are good starting point for end user to customize their installation, some examples are shown at: https://github.com/istio/operator#new-api-customization, maybe we can add the complete relationship between feature and component.

[2019-07-29 16:08] mishaque commented on #15895
Here is the output from ifconfig for the same "httpbin" pod without the injection:

`eth0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1450
        inet 10.244.5.6  netmask 255.255.255.0  broadcast 0.0.0.0
        ether 7a:c8:a5:a6:f9:0b  txqueuelen 0  (Ethernet)
        RX packets 110  bytes 202824 (202.8 KB)
        RX errors 0  dropped 0  overruns 0  frame 0
        TX packets 80  bytes 557

[2019-07-29 16:08] stiller-leser commented on #15701
This issue has been resolved by not using `istio-cni`. It pretty much boiled down to the fact that the istio-proxy kept trying to reach the container it sidecarded on port 443. Happy to leave this issue open for investigation. If maintainers wish to close it, please feel free to do so.

[2019-07-29 16:15] howardjohn commented on #15899
1.1 had a regression? There has been nothing new on the 1.1 branch though?

[2019-07-29 16:20] rlenglet commented on #15895
Thanks! So that means that the isIPv6 function in the istio-iptables.sh script is buggy. I'll fix that.

[2019-07-29 16:24] #15876 closed

[2019-07-29 16:31] howardjohn opened #15902 "Audit unbuffered channel usage"
We had a fairly bad goroutine leak in https://github.com/istio/istio/pull/15897. We probably have a similar pattern in other places that we should fix.

If we have the pattern of 1 channel, many senders, 1 reader, we need to make sure the other senders are not blocked

[2019-07-29 17:16] nitishm commented on #14039
Just to add more information, for everybody else reading though this issue, the Secret generated by Cert Manager is only good for `mode: SIMPLE` and will not work for `mode: MUTUAL` TLS since the secretFetcher in SDS agent is not capable of reading ca-certificates from the type/tls Secret type.

It is however possible to read the ca certificates from a separate Secret (manually/programatically gen

[2019-07-29 17:16] mishaque commented on #15895
@rlenglet is there a workaround for time being?

[2019-07-29 17:25] howardjohn commented on #15658
This is fixed as of facd515a8... not sure why @rshriram

[2019-07-29 17:27] ostromart commented on #15880
The plan is to remove the built-in as an option and have the following behavior:
1. if only profile is set, use a built-in URL to download and use the default charts.
2. if installPackagePath is set, only legal options are either https:// (URL), or otherwise a local path is assumed.

[2019-07-29 17:27] #15880 closed

[2019-07-29 17:28] ostromart commented on #15880
btw. I've made the fix to how local file paths are detected, this should merge shortly.

[2019-07-29 17:29] howardjohn commented on #14884
Any update on this? The test log was attached https://github.com/istio/istio/files/3293402/build_445284_step_104_container_0.txt

[2019-07-29 17:45] incfly commented on #15485
/cc @quanjielin @JimmyCYJ

[2019-07-29 17:48] ostromart commented on #15878
cc @howardjohn @costinm
We are now using istio/installer charts directly so it should go in there.

[2019-07-29 17:51] ostromart commented on #15829
Hi @morvencao it may be better for me to take this one. It's a little complicated and I know the code pretty well. If you really want to take it I won't fight you for it though :-)

[2019-07-29 17:51] polothy commented on #12618
@nagapavan were you able to get wildcard working for AWS services?

[2019-07-29 17:58] myidpt commented on #9177
Thanks for letting us know, Oz. I can understand the decision on istio/pkg usage, but I feel it's hard to sync the two repos if we put the common utils into a separate repo. Or maybe it's not as hard as I thought? :)

There was also an intent to put the `listwatch` (https://github.com/istio/istio/tree/master/security/pkg/listwatch) functionality to a common place. And I do see we already have http

[2019-07-29 18:05] bitgandtter commented on #14983
any support for envoy prefix_rewrite?

im trying to perform a regex uri match and then rewrite it but use capturing group. Example using previous configuration:

[code]

[2019-07-29 18:12] linsun commented on #15026
Thank you @richardwxn @morvencao!  @ostromart and I chatted offline and he confirmed that trace sampling is only configurable via helm API.

I did find how Istio-policy can be enabled/disabled, via

[code]

This is something user can do in addition to specify https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha2/istiocontrolplane_types.proto#L228.

[2019-07-29 18:20] jnativio commented on #15899
@howardjohn That is interesting. I wonder why new builds of 1.1 are being produced every day. In any case, do you have performance tests for builds prior and after 07/25 that can be compared, so we can cross-check the results?

[2019-07-29 18:38] howardjohn commented on #15899
@jnativio we produce new builds of all versions that are still in the support window every day, even if there are no commits during that time. I don't have any perf tests for those builds though

[2019-07-29 18:59] kyessenov commented on #14884
I've tried for a few days but could not get a segfault in my local environment.

[2019-07-29 19:19] polothy commented on #12618
Eh, think I got it working via https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/

Not 100% sure _why_ a VirtualService is in the example, it seems to work with or without the VirtualService.  If anyone knows, that would be helpful.

[2019-07-29 20:02] howardjohn commented on #15892
I think the reason you have so much pushcontext is because you have so much config relative to proxies.

The upfront cost (pushcontext) is therefor high relative to the push cost, which scales with number of proxies.

If you had 1000 proxy connections I think you would see pushcontext using a very small amount of CPU relative to the actual pushing

[2019-07-29 20:26] mandarjog commented on #15899
@jnativio Is there anything in your cluster that is different? If you can retest baseline and get the same results, that will rule it out.
@howardjohn did we make any other build change, such as go compiler version, dep upgrade of any kind ?

[2019-07-29 20:36] sushicw opened #15904 ""certificate is not valid for any names" error when invoking validation webhook in multi-tenant scenario"
**Bug description**

I'm working on improving how the Galley validation webhook works so that we can fully support a [multi-tenant scenario](https://istio.io/blog/2018/soft-multitenancy/) (separate parallel control planes). While working on this, I'm running into a certificate error that I'm not sure how to handle. I could use some help understanding what's happening.

CC @nmittler @ayj

**Affecte

[2019-07-29 20:45] howardjohn commented on #15899
No changes to our release process as far as I can tell.

[2019-07-29 20:54] jnativio commented on #15899
@mandarjog No change in the environment that I could detect. As I said, I went back to a previous build and ran the workload again with it and I saw no regression. It would be great to have some results with Fortio using builds from before 07/25 and after.

[2019-07-29 20:57] omkensey opened #15905 "istio-init Helm chart does not support setting imagePullSecrets"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

The `istio` Helm chart has a global value to insert imagePullSecrets into deployments/jobs, but `istio-init` does not even though it uses container

[2019-07-29 22:03] Monkeyanator commented on #15485
Update on this: I believe I got it working (as a PoC). The issue up to now was completely on my end. I was deploying the `istio-egresscontroller` separately from the rest of the mesh components, and stupidly failed to set the `global.sds.enabled` configuration to `true` when generating the egresscontroller yaml, which resulted in the `SDS UDS` path never being mounted.

Once I corrected this, and

[2019-07-29 22:31] rajeshneo opened #15908 "Multicluster setup issue"
**Bug description**
I have two EKS clusters in private subnets in EKS. I am trying to connect them via steps mentioned in https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/. Installation looks ok but when i try to connect cross cluster httpbin service i get following

 kubectl exec --context=$CTX_CLUSTER1 $SLEEP_POD -n foo -c sleep -- curl -I httpbin.bar.global:8000/headers
  %

[2019-07-29 22:51] Parvathy-Geetha commented on #13283
@douglas-reid The attribute-based blacklisting also gives an empty error code.

`2019-07-29T18:43:26.195722Z	debug	api	Dispatching Check
2019-07-29T18:43:26.195785Z	debug	begin dispatch: destination='listentry:blacklistip.test(listchecker)'
2019-07-29T18:43:26.195806Z	debug	complete dispatch: destination='listentry:blacklistip.test(listchecker)' _{err:<nil>}_
2019-07-29T18:43:26.195846Z	debug	api

[2019-07-29 23:11] maeri commented on #10568
Hi @VenkateshSrini,

I don't think it's the Istio issue unless you point me to your VirtualService config that routes to you api part. Came today across same issue. After ingressgateway I do have Docker Nginx with React app. On the /api route application is requesting api data. So http://<ip> returns React to browser while calls from React to http://<ip>/api/... goes directly to backend.

[2019-07-30 00:47] mishaque commented on #15895
@rlenglet, thanks for including this in the 1.3 milestone. I will try enabling the IPV6 on the Node as a workaround; I am not sure if this would solve the issue. Please let me know your recommendation/workaround.

[2019-07-30 01:32] clyang82 opened #15914 "Use local badger storage for jaeger as default"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Jaeger is configured to use in-memory storage by default. That often causes problems with memory size of the jaeger deployment and restarts will loose all data.
Instead the new storage based on badger and local file system can be used so that data

[2019-07-30 02:02] rlenglet commented on #15895
The `ENABLE_INBOUND_IPV6` variable is not set in your logs:
[code]
So there is no mis-detection of IPv6. That part is correct.
The commands that are failing are those executed in case IPv6 is **not** detected:
https://github.com/istio/cni/blob/master/tools/packaging/common/istio-iptables.sh#L665-L668
[code]
These commands are failing because of the retrying of the commands in this script.
I need t

[2019-07-30 02:15] morvencao commented on #15829
@ostromart Sure, go ahead if you have enough bandwidth to handle this.
I can take other tasks.

[2019-07-30 02:17] VenkateshSrini commented on #10568
Please see my code at https://github.com/VenkateshSrini/IstioTest. There is a file called VirtualService.yaml in this that contains the yaml definition for virtual service. Please provide me with some insights

[2019-07-30 02:35] morvencao commented on #15880
@ostromart got it, thanks.

[2019-07-30 02:43] ngbit95 commented on #15835
Can anyone please give me solution for this issue, i need this asap!!

[2019-07-30 06:04] morvencao opened #15918 "Operator: incorrect hpa scale target ref"
Currently incorrect hpa scale target ref is generated for `default` `minimal` and `sds` profiles:

[code]
then you will find the hpa for policy and telemetry have incorrect scale target ref:

[code]

[2019-07-30 06:37] hzxuzhonghu commented on #15881
Did you set `sidecarInjectorWebhook.rewriteAppHTTPProbe` ? I just noticed it is still disabled by default.

[2019-07-30 06:40] hzxuzhonghu commented on #15881
@incfly I think it's time to enable it by default

[2019-07-30 08:19] zcahana commented on #13106
@hzxuzhonghu FYI, I'm prototyping the above in Pilot, will do some initial testing and submit a PR for review and further discussion.

[2019-07-30 08:25] hzxuzhonghu commented on #13106
Welcome. Have you found the cause?

[2019-07-30 08:25] ozevren commented on #9177
We *are* moving to a multirepo world. There is already a pkg repo where quite a few things have already moved to (not istio/pkg). Anything we put in istio/pkg will also need to move somewhere. The role of the pkg repo is to host core utility libraries with minimal dependencies. K8s dependencies are not desired in that repo. So, I think we need a separate repo for those.

I am landing the new libra

[2019-07-30 08:37] zcahana commented on #13106
It seems that the Pilot it missing a mechanism to trigger a push when some proxy's local inbound listeners (which are computed based on the `con.modelNode.ServiceInstances` field of its associated `XdsConnection`) change.

The fix basically adds a ServiceInstance handler to trigger such a push when `Env.GetProxyServiceInstances() != con.modelNode.ServiceInstances`.

[2019-07-30 08:49] clyang82 opened #15920 "Invalid metadata.labels value"
**Bug description**
[code]
You will have the following error reported
[code]
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2019-07-30 09:08] hzxuzhonghu commented on #13106
With #13909, i think this should not happen. In your case， is there any possibility the cni will allocate a ip already hold by pod?

[2019-07-30 10:02] crhuber commented on #9297
I can confirm we also had issues with Kiam and Istio.
We have a python application that connects to S3 on k8s & istio. On attempts to connect to s3 the application would get an access denied message even though KIAM and AWS roles seemed to be setup correctly. Upon disabling the sidecar, s3 access worked as expected.

However, when we started a second processes of our application within the same co

[2019-07-30 10:35] zcahana commented on #13106
<  is there any possibility the cni will allocate a ip already hold by pod
It doesn't seem to be the case. Either way, the `istio-cni` isn't really involved in allocating a pod IP - it merely does the iptables voodoo as part of the CNI chain setting up the pod's network namespace.

#13909 seems to be dealing with pod deletion, isn't it? Whereas here we're dealing with pod creation...

[2019-07-30 10:49] hzxuzhonghu commented on #13106
I donot know why, but would like to see your pr.

[2019-07-30 11:01] illidan80 commented on #15881
@hzxuzhonghu: I start to experience issues with readiness checks only after running a while (about 3 days). Could you please elaborate how disabled "sidecarInjectorWebhook.rewriteAppHTTPProbe" can cause such behavior?

[2019-07-30 11:55] hzxuzhonghu commented on #15881
OK, then it is not this cause.

Check your inbound xds configuration then.

[2019-07-30 12:10] maeri commented on #10568
@VenkateshSrini

Please take a look at repo https://github.com/maeri/istio-apps

Enjoy your day !

[2019-07-30 12:34] fedeagu opened #15921 ""curl -L https://git.io/getIstio | sh -" is not working"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Perfor

[2019-07-30 13:43] howardjohn opened #15923 "TestStreamSecretsMultiplePush test failure"
I am seeing this often now. One example:
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15882/istio-unit-tests-master/4489

[2019-07-30 13:51] etsrepo opened #15924 "Addon installation documentation for GKE Istio with out helm"
**Describe the feature request**

- There is no straight forward documentation for istio installed by GKE, there is no helm setup or any manually configured process in GKE.
- By default it uses stackdriver for metrics and traces.
- No documentation for setting up Kiali or Grafana with above setup.

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[x]

[2019-07-30 14:27] howardjohn commented on #15924
I believe there are docs at https://cloud.google.com/istio/docs/istio-on-gke/overview. Is there something more you are looking for?

[2019-07-30 14:37] etsrepo commented on #15924
specifically there is no configuration for kiali and grafana. there is no option in GKE console or gcloud command or any other option.

if we do any changes with helm repo, somehow changes made by helm reverting back what configured by GKE.

I would like to have some options where we can use kiali, servicegraph in GKE enabled Istio without messing with stackdriver or any default configurations.

[2019-07-30 14:38] anton-fedorov commented on #14692
Thanks for explanation. For now the way i overcame this is actually switched to referring directly to kubernetes api server by its masterUrl (via IP), caCertData and oauthToken. This way confusion doesn't happen, but it required some coding of course.

Anyway this was more a surprising and unclear issue, rather than unbeatable blocker. So would be good to document.

[2019-07-30 15:06] kebe7jun commented on #15619
/assign

[2019-07-30 16:45] sushicw commented on #12077
Where should this documentation be added? I've got most of the steps figured out (including a new galley flag to allow the webhook to be namespace scoped, see https://github.com/istio/istio/pull/15927).

[2019-07-30 17:16] Kalimero66 opened #15929 "Enabling SDS requires istio-system namespace"
**Bug description**
Enabling SDS requires istio-system namespace.
If not installed is istio-system. All NodeAgent are stuck in crash loop because they are not
 able to find the "istio-security" ConfigMap  even though the configMap is created is the installation  namespace.

- If istio is installed in istio-system. It works perfectly.
- If istio is not installed in istio-system (ex. **istio-afg**)

[2019-07-30 17:45] djazayeri commented on #15849
No. I have spoken with P&T, Config, and Security. And I assumed that Config could sign off on adding something to MeshConfig. Do I also need to reach out to those groups?

[2019-07-30 17:55] #15920 closed

[2019-07-30 18:00] #15918 closed

[2019-07-30 18:14] jgilgamesh commented on #1430
+1 for VPN  UDP use case
+1 for any updates on availability

[2019-07-30 18:32] kyessenov commented on #15849
@costinm FYI, we're planning to make these changes.

[2019-07-30 19:30] howardjohn commented on #15929
@quanjielin I thought I remmebr you fixing this, is it just not released yet?

[2019-07-30 19:34] howardjohn opened #15932 "TestDirectResponse unit test failure"
https://prow.istio.io/view/gcs/istio-prow/logs/istio-unit-tests-master/4494

[2019-07-30 19:37] quanjielin commented on #15929
the fix was https://github.com/istio/istio/pull/15199
@Kalimero66 which build you used ?

[2019-07-30 19:40] Kalimero66 commented on #15929
@quanjielin Istio1.2.2
Note that installation in a different namespace works well. Only the NodeAgent is having this issue and this is prevent from using SDS in a non istio-system namespace.

[2019-07-30 19:47] quanjielin commented on #15929
@Kalimero66 the fix was not in 1.2.2, it's only checked in to master branch.
let me cherrypick it.

[2019-07-30 20:00] djazayeri commented on #15849
Costin commented at https://discuss.istio.io/t/fyi-adding-mesh-uid-for-an-initially-limited-telemetry-use-case/3287/2 (and I asked a followup)

[2019-07-30 20:10] Kalimero66 commented on #15929
Thanku.

[2019-07-30 20:10] #15929 closed

[2019-07-30 20:23] johnma14 opened #15933 "Minor nit to fix text that gets displayed after customizable install of Istio using Helm"
When we follow the instructions to install Istio using Helm (https://istio.io/docs/setup/kubernetes/install/helm/), after successful installation, the following text is displayed:

We need to change this to be `Istio` instead of `istio`

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ X] Installation
[ ] Networking
[ ] Performance and Scal

[2019-07-30 20:29] #11390 closed

[2019-07-30 20:43] mandarjog opened #15935 "Feature: Selectively disable istio-telemetry or istio-telemetry httpFilter"
1. Switch off istio-telemetry only for http on the client side. Only install mixer client network filter.  *Do not* install filter in http_connection manager.
2. Switch off Istio-telemetry without switching off policy

This will be used to smoothly migrate from Mixer based telemetry to Mixerv2.

[2019-07-30 20:44] mandarjog commented on #15935
/cc @bianpengyuan @douglas-reid @kyessenov

[2019-07-30 20:49] JimmyCYJ commented on #15923
Thanks for catching this. I can reproduce it in 100 runs. This is caused by a timing issue. When the SDS connection is teared down, gRPC library will close connection and transport accordingly. There is a chance that the test client receives different error message at that stage. I will send out a fix soon.

[2019-07-30 21:20] howardjohn commented on #15923
Thanks! we have some perf issues where kubelet is stealing tons of CPU on
prow causing all sorts of test failures that rely on timing. Should be
fixed in the next few days but in the mean time we can improve some of our
tests

On Tue, Jul 30, 2019, 1:50 PM Jimmy Chen <notifications@github.com> wrote:

[2019-07-30 22:07] nrjpoddar opened #15936 "Missing documentation for per-workload resource requests for proxy"
**Bug description**
Istio provides annotations `sidecar.istio.io/proxyCPU` & `sidecar.istio.io/proxyMemory` which can be used to override the global proxy resource requirements. These annotations are not documented in https://preliminary.istio.io/docs/reference/config/annotations/ or https://istio.io/docs/reference/commands/sidecar-injector/#annotations

**Affected product area (please put an X in

[2019-07-30 22:28] polothy commented on #12618
Just incase someone wants to take a look, this is a post for getting `ServiceEntry` working for AWS services and the metadata server. My confidence in what I ended up with isn't super high since it was a lot of trial and error.  If anyone feels like reviewing/commenting, it would be greatly appreciated.

https://discuss.istio.io/t/review-serviceentry-yaml-for-aws-services/3275

[2019-07-30 23:38] nrjpoddar commented on #15936
Already addressed in Istio 1.3 docs by https://github.com/istio/api/pull/979

[2019-07-30 23:38] #15936 closed

[2019-07-30 23:41] #14242 closed

[2019-07-31 00:19] howardjohn commented on #15932
It is a new test introduced in https://github.com/istio/istio/pull/15781

Its very broken, I get about a 90% pass rate with `go test ./mixer/pkg/runtime/dispatcher -run TestDirectResponse -count 100`

[2019-07-31 00:56] ostromart commented on #15862
Fixed in https://github.com/istio/operator/pull/128.

[2019-07-31 00:56] #15862 closed

[2019-07-31 00:57] ostromart commented on #15829
Fixed in https://github.com/istio/operator/pull/133.

[2019-07-31 00:57] #15829 closed

[2019-07-31 00:59] howardjohn opened #15940 "CircleCi E2E test failures"
Broken by https://github.com/istio/istio/pull/15615 because it relies on kubernetes 1.11 and our circle test runs on 1.9 for some reason.

Failure: https://circleci.com/gh/istio/istio/453441

[code]

[2019-07-31 01:33] howardjohn commented on #15921
The script is `curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.2.2 sh -`

as indicated by https://istio.io/docs/setup/kubernetes/#downloading-the-release

Are you looking at old docs maybe?

[2019-07-31 02:00] IanCao opened #15943 "Add Alibaba Nacos as a new services discovery backend"
Alibaba Nacos is Service Discovery and Management,and more and more chinese company use it.
So i want add nacos as a new istio services discovery backend

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ]

[2019-07-31 02:07] #15921 closed

[2019-07-31 02:07] fedeagu commented on #15921
Sorry! Google took me directly there

[2019-07-31 03:11] morvencao opened #15944 "Operator: manifest apply failed with namespace not found"
operator `manifest apply` failed with namespace not found:

[code]

/cc @ostromart

[2019-07-31 03:20] VenkateshSrini commented on #10568
@maeri,
Have you found the issue? Where you able to get this working? What version of Istio you had used? What was the mistake in my yamls?

[2019-07-31 03:46] clyang82 commented on #14662
I met the same issue, there is `pilot_conflict_outbound_listener_tcp_over_current_http` reported.
[code]
and envoy is listen the port `9300`
https://github.com/envoyproxy/envoy/blob/bdd6788f1e01787d015eabd9902f4b565e5dea98/configs/envoy_double_proxy_v2.template.yaml#L91

As @hzxuzhonghu mentioned that @silentdai is working on that. will my reported issue be fixed as well? Thanks.

[2019-07-31 05:30] illidan80 commented on #15881
@hzxuzhonghu Appreciate your help, but could you please explain how whatsoever configuration may lead to such inconsistent behavior, as described above (e.g. everything works during few days, after that begin to reject requests from time to time)?

[2019-07-31 05:39] #15944 closed

[2019-07-31 06:19] morvencao opened #15946 "Operator: image version and chart version are incompatible"
Currently we have default istio images of version `1.1.4`
[code]
in the build-in profiles, while the chart is synced from https://github.com/istio/installer

The incompatibleness between the image version and the chart version results in crashing pods:
[code]

@ostromart
Should we keep the images version aligned with https://github.com/istio/installer and update to **master daily build**? see: htt

[2019-07-31 06:53] maeri commented on #10568
Yes - my repo works. I had like 'ding' in response. Please compare carefully my repo yaml files and yours. There were problems with configurations from gateway through service to pod's. Basically, mismatch in labels between k8s objects. To run it correctly objects needs to be properly connected through labels/names etc. You have instructions in my repo README.

Have a nice day!

[2019-07-31 09:26] #12545 closed

[2019-07-31 10:35] ekarlso commented on #15701
I have reproduce this too using Istio installed by the banzai cloud operator and istio 1.2.2

[2019-07-31 10:40] zcahana commented on #13106
@hzxuzhonghu I've just submitted #15950.

[2019-07-31 11:11] johscheuer commented on #15815
I would start working on this with a simple solution where you need to provide the according key and certificate

[2019-07-31 12:04] hzxuzhonghu commented on #15881
Inbound listener、 cluster with the probe port

[2019-07-31 12:21] ronanbarrett commented on #15543
I have experienced this exact issue in istio v1.0.6 and v1.1.7. It means that redis cannot be used to rate limit based on more than one dimension. For example the following will not rate limit per unique service and logged in authorization principle:

`
apiVersion: config.istio.io/v1alpha2
kind: instance
metadata:
  name: requestcountquota
  namespace: istio-system
spec:
  compiledTemplate: quota

[2019-07-31 12:51] #15654 closed

[2019-07-31 13:07] bzurkowski opened #15954 "Pilot connection failures due to low proxy timeout"
**Bug description**

Every 50 seconds Pilot populates the following error entries indicating that a connection to Galley has been closed:

[code]

This behaviour, similarly to cases described in https://github.com/istio/istio/issues/15774 and https://github.com/istio/istio/issues/15457, is caused by a low client timeout configured in a mid proxy mediating traffic between services.

In my case, the

[2019-07-31 13:07] rshriram commented on #15896
does the consumer talk to itself by any chance? the above observation indicates that connectivity is working as intended.. it could also be that the consumer is racing with pilot [consumer calls out before pilot sends config or something strange of that sort]

[2019-07-31 13:11] rshriram commented on #15954
go for it! thanks for the troubleshooting

[2019-07-31 13:12] #13883 closed

[2019-07-31 13:17] rshriram commented on #15527
fixed in new envoy filter impl in master

[2019-07-31 13:17] #15527 closed

[2019-07-31 13:18] aalmazanarbs commented on #15873
Not exactly. When the job is executed without Istio only one container is started (pi) and when it finish Kubernetes unregister the job so the pod is deleted.

[2019-07-31 13:42] rshriram commented on #15456
problem is envoy supports only prefix * or suffix *, and not general purpose regex in virtual host.

[2019-07-31 13:54] rshriram commented on #15428
i have a theory.. for the moment can you use the Sidecar resource with `egress: ./*` in each namespace? I think this should solve the websocket issue.

[2019-07-31 13:54] crhuber commented on #15896
@rshriram Yes, we found it to be a race condition where the consumer is calling out before pilot has sent the config. The consumer didnt have any retry logic and didnt handle the exception so it was difficult to troubleshoot. But ultimately we found that by making the application exit out on exception and allowing the container to be recreated fixed the problem.

Is there a better approach to hand

[2019-07-31 14:01] rshriram commented on #15428
ftr, its happeninng because rds is reloaded in every sidecar outbound.. consequently, existing connections get drained.. on the gateway, same thing might be happening.. if the error is happening at gateway, then your only option is to use separate ports for each websocket.

[2019-07-31 14:05] rshriram commented on #15378
how regularly is this happening in a single apt operation? every N seconds for y seconds? or it it a one time annoyance?

[2019-07-31 14:05] rshriram commented on #15378
probably has to do with envoy buffers..

[2019-07-31 14:16] jaygorrell opened #15955 "CORS allowHeaders: * should get replaced with Access-Control-Request-Headers"
**Describe the feature request**
When using CORS in Istio, if you set `allowOrigin` to `"*"`, the returned value for `access-control-allow-origin` is your `Origin` header. I would like the same functionality for `allowHeaders` being set to `"*"`, so that `access-control-allow-headers` returns the value of the `Access-Control-Request-Headers` request header.

**Affected product area (please put an

[2019-07-31 14:21] rshriram commented on #15587
this is interesting.. envoy downgrading the scheme to http seems unlikely. can you get the envoy config from this gateway? I am interested in looking at the listener, HTTP connection manager for this port and the envoy cluster associated with outbound|443||google.com

[2019-07-31 14:22] yarivlifchuk commented on #15456
I know that Ambassador that is based on Envoy as well support this.

From: Shriram Rajagopalan <notifications@github.com>
Sent: Wednesday, July 31, 2019 4:43 PM
To: istio/istio <istio@noreply.github.com>
Cc: Lifchuk, Yariv <yariv.lifchuk@sap.com>; Author <author@noreply.github.com>
Subject: Re: [istio/istio] Support wildcard/regexp in VirtualService host (#15456)

aaa*.dev.general.com
problem is e

[2019-07-31 14:24] rshriram commented on #15620
I think @howardjohn fixed this bug in 1.2

[2019-07-31 14:27] rshriram commented on #15773
how frequentlu is this happening?

[2019-07-31 14:30] rshriram commented on #15898
are you using the Sidecar resource? I am assuming that your default config exportTo is set to *?
Can you move that destination rule to the default namespace?

[2019-07-31 14:36] #15782 closed

[2019-07-31 14:39] rshriram commented on #15826
Okay this is an envoy issue. For the envoy folks, we create a single HCM with multiple routes (each matching a cookie as the user has specified). Envoy should be returning only the cookies for the matched route though.

@treedy can you dump your envoy http connection manager config on port 80 of the gateway? That would help us debug.

[2019-07-31 14:39] winds6206 opened #15957 "Grafana can't login"
Hello

I installed istio-1.2.2 by reference this
URL: https://istio.io/docs/setup/kubernetes/install/kubernetes/

then install Kiali by reference this
URL: https://istio.io/docs/tasks/telemetry/kiali/

I can use admin/admin to login Kiali, but I can't use admin/admin to login grafana
what is the grafana default account . BTW I try  admin/space ,too

[2019-07-31 14:43] rshriram commented on #15461
envoy config?

[2019-07-31 14:56] arnecls opened #15958 "Rate limiting does not respect dimensions without override"
**Bug description**

When using rate limiting (redis) without defining an override, the key used to look up the current amount in redis does not respect any dimensions, unless there is an override provided.

See https://github.com/istio/istio/blob/89cb55316e79ecfa28b794298551299eef9da488/mixer/adapter/redisquota/redisquota.go#L292

Here the key is defined as the name of the quota used.
If there is

[2019-07-31 15:01] howardjohn commented on #15873
Yes that is because the istio-proxy is running. In 1.3 which will be released soon you can have your job kill the istio-proxy when its done so both containers will stop

[2019-07-31 15:07] howardjohn commented on #15892
What is really broken is say we have one pilot instance, and it uses 100% CPU so HPA spins up a new pilot instance. No envoys connect to instance 2, so it has like 1% CPU usage, and now the average CPU utilization is 50%, so HPA scales down instance 2.

Without a lot of new instances connecting to instance 2 fast enough (due to reconnects or new services), the HPA can never fully scale up

[2019-07-31 15:08] focks commented on #15461
Hi @rshriram  thanks for responding to the thread. Currently, I don't have to config.
I will try to reproduce the scenario.

[2019-07-31 15:10] howardjohn commented on #15620
I don't remember fixing this, what is the reason it gets allowed? Just post the full config_dump and we should be able to see

[2019-07-31 15:18] howardjohn commented on #15957
As far as I know you shouldn't need to login to grafana. If you want to set up accounts though here is all the variables we set up:
https://github.com/istio/istio/blob/c5ff36a66084fe7f3b72d5a15203f5783317dbec/install/kubernetes/helm/istio/charts/grafana/templates/deployment.yaml#L53-L76

From https://grafana.com/docs/installation/configuration/#security the default is admin/admin

[2019-07-31 15:21] howardjohn commented on #15943
This should be done as an MCP server rather than integrating directly into pilot code

[2019-07-31 15:24] treedy commented on #15826
@rshriram is there a particular command that I can run? I'm not familiar with Envoy commands/API.

[2019-07-31 15:52] howardjohn opened #15959 "TestDebugEndpoints unit test failures"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15916/istio-unit-tests-master/4592
The test never finished because the test suite panics due to

[code]

[2019-07-31 15:56] arnecls commented on #15958
One thing that would (probably) solve it, but is very slow:

[code]

It's a bit sad, that instance.dimensions is a `map[string]interface{}` so we have to do this string conversion here (not sure if this will work at all for non-string types, as I don't know if they are all stringers). Also I don't see a way of caching the hash for a specific instance to speed up this process.

[2019-07-31 16:00] howardjohn opened #15960 "error rbac nil service instance"
I am seeing `error   rbac    nil service instance` in pilot logs repeatedly

Need to investigate if this is a real issue or not. If it is, find out whats going on, if not see if we can add more info to the log - it is not very helpful without more context.

cc @yangminzhu

[2019-07-31 16:08] ostromart commented on #15946
Yes, that's the right solution.

[2019-07-31 16:13] #15676 closed

[2019-07-31 16:17] ostromart commented on #15946
https://github.com/istio/operator/pull/140

[2019-07-31 16:34] ericvn opened #15963 "Integration test framework does not support multicluster"
**Describe the feature request**

The current integration framework does not support multicluster. You can default to the current k8s context or you can specify a kubeconfig directory for the tests. The e2e framework does allow specifying a remote cluster kubeconfig.

**Describe alternatives you've considered**

Slacking with @ozevren on this, it was discussed that we can preserve the current comm

[2019-07-31 16:42] howardjohn commented on #15960
Seems like this is due to defining a Gateway on a port that isn't defined in the ingressgateway Service spec

[2019-07-31 17:21] #15683 closed

[2019-07-31 17:28] ericvn commented on #15963
This is a prerequisite for #15706

[2019-07-31 17:30] silentdai commented on #14662
This `pilot_conflict_outbound_listener_tcp_over_current_http` is saying some service defined port 9300 as HTTP in the mesh while another service define port 9300 as TCP at istio config.
@clyang82 could you find another service(s) listening on port 9300 and the name?
The below is the one defines istio consider 9300 in the mesh is considered as HTTP. [See Named service ports ](https://istio.io/docs/

[2019-07-31 17:35] yangminzhu commented on #15960
@howardjohn Hmm, Should this be allowed? The logging in rbac is just checking `ServiceInstance` not nil which is the prerequisite for generating any RBAC filter config, if it's too noisy, we could change it to debug level.

[2019-07-31 17:43] howardjohn commented on #15960
I don't think this works but the only indication I of an issue was the obscure rbac error. Maybe we just need a more explicit check for this (outside of the rbac logic), preferably in a way we expose to the user

[2019-07-31 17:54] nicktrav commented on #15587
Thanks for looking into this @rshriram - I made the following Gist with the listener, route and cluster:
https://gist.github.com/nicktrav/eb979e02bdf9829b02fd8215c91a9741

I'm hesitant to paste our entire config on here. If there's not enough detail in that dump, we can work something else out.

[2019-07-31 18:05] #12989 closed

[2019-07-31 18:07] howardjohn opened #15965 "test-infra-update-deps fails to run or report logs"
Example failure taken from pod logs:

<details>

[code]

</details>

Logs aren't uploaded correctly since we are not using `decorate: true`

Not sure what this job even does though

[2019-07-31 18:39] howardjohn opened #15967 "Need alerts for failing releases"
We had two releases fail, https://prow.istio.io/view/gcs/istio-prow/logs/release-monthly/64 and https://prow.istio.io/view/gcs/istio-prow/logs/release-monthly/64, and there was no notification.

We need to have these on the testgrid and reporting errors

[2019-07-31 18:46] venilnoronha commented on #14983
The following Istio configuration does translate to Envoy's `prefix_rewrite`. However, regex substitutions (`$1`) may not be possible from what I understand.

Note that `prefix_rewrite` only modified the matching `path` section of the URI and the query parameters are retained as-is. I'm not sure if this is something you can leverage.

[code]

[2019-07-31 18:49] nicktrav commented on #15587
@rshriram - I think I worked it out. If I add a DestinationRule that says to use a TLS connection, I get a non-500 and see the request going out the connection with the correct scheme:

[code]

[code]

Maybe this makes sense and is as expected? It was pretty confusing to debug though.

[2019-07-31 18:52] Bessonov commented on #11659
Activity!

[2019-07-31 18:54] bitgandtter commented on #14983
the regex captured group substitution it's really important here, it will allow rewrite complex URLs. I have tried above example and it does not replace the $1

[2019-07-31 18:56] venilnoronha commented on #14983
@bitgandtter it may be worth discussing this over in a GitHub Issue in Envoy.

[2019-07-31 19:01] sushicw commented on #12083
@Nino-K are you still working on this?

[2019-07-31 19:19] ostromart opened #15968 "Move operator API proto to istio/api"

[2019-07-31 19:25] majelbstoat commented on #9504
Ran into the same problem trying to deploy OpenCensus agent as a Daemonset, with a set up similar to this example: https://github.com/census-instrumentation/opencensus-service/blob/master/example/k8s.yaml

Doing the workaround to set an applicationPort annotation directly works to suppress the error, but client services can still not connect to the agent on the specified port. (Deploying it instea

[2019-07-31 19:31] fpesce opened #15969 "GitHub release API misused"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
While looking after a bug in release pipeline, I've found that we have a bad tag in the API usage:
target_commitsh instead of target_commitish , we

[2019-07-31 19:34] sushicw commented on #15627
Since the only case where this appears to need fixing is for multi-tenant, closing this in favor of https://github.com/istio/istio/issues/12077

[2019-07-31 19:34] #15627 closed

[2019-07-31 19:38] sushicw commented on #13873
@LeoLee98 Were you able to solve this issue?

[2019-07-31 20:22] bussyjd commented on #6593
IP addresses are indeed not possible in newer versions
https://github.com/istio/istio/issues/13009

[2019-07-31 20:51] costinm commented on #15853
Why doesn't it have it anymore ? Removing properties from APIs is a big no.

[2019-07-31 21:02] ericvn commented on #14475
I believe this can be closed with the merging of #15595

[2019-07-31 21:08] quanjielin commented on #15853
I don't have much context on the history...today proxyconfig doesn't have controlPlaneBootstrap property, which result in controlPlaneBootstrap is configurable(always set to true) in pilot-agent( https://github.com/istio/istio/blob/master/pilot/cmd/pilot-agent/main.go#L621)

[2019-07-31 21:47] srirajk opened #15971 "Istio - ingress not working after enabling SDS"
I generated a cert from our internal CA team and then created a secret in the Istio-system ns.
Followed this document https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/
I am not sure what else is missing but not able to make it work, tried redeploying  the ingress SDS pod after creating the secret and gateway.
Once I install SDS, I am not able to communicate using http as w

[2019-07-31 22:22] #15269 closed

[2019-07-31 22:25] incfly commented on #15701
First, we confirmed that when SDS is enabled, Istio takes care of ingress gateway already. Ingress as client is able to get certificate using SDS. @Monkeyanator recently verified that, maybe not on 1.2 though.

Second, based on your description, things won't work when "istio-cni" is enabled, and the error message, I suspect it's SDS Workload Certificate does not work well with Istio CNI mode toget

[2019-07-31 23:33] andraxylia commented on #15567
There is nothing unclear in the API, just a bug in Pilot. Under no circumstance with the given config, should Pilot generate outbound clusters to reach svc A on port 80. My only hope is those clusters ("cluster": "outbound|80||svc-a.default.svc.cluster.local") have zero endpoints, otherwise we have bigger troubles.

[2019-07-31 23:33] rshriram commented on #15587
I was about to suggest the same this morning and forgot. But yes, the fact that you are using HTTPS as the protocol in service entry means that the sidecar/gateway is expecting the application to send HTTPS traffic with SNI matching google.com.. But what you want here is TLS origination, which requires you to use destination rule.

[2019-07-31 23:56] andraxylia commented on #15567
cc @costinm

[2019-08-01 00:37] nicktrav commented on #15587
Thanks @rshriram. I think this is "behaves as expected" then, unless you think there are any documentation improvements that can be made. Happy to send a patch for that, JLMK.

[2019-08-01 00:37] #15587 closed

[2019-08-01 01:24] andraxylia commented on #15567
VirtualService behavior for traffic matching should be as follows:
- if the hosts points to an existing service from the service registry (native or ServiceEntry), the ports for matching can be inferred and Pilot should generate Envoy virtual_hosts for host+port, for each port of the service
- for BYON (bring your own name) hosts aliases, the port cannot be inferred. If the VS is attached to a Gat

[2019-08-01 01:44] dellkeji commented on #13691
lastest version not found this, close it!

[2019-08-01 01:44] #13691 closed

[2019-08-01 01:46] mkharibalaji opened #15972 "External Service Entry to support non-http protocols like ldap,netconf,ssh,FTP etc.,"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**External Service Entry to support non-http protocols like ldap,netconf,FTP etc.,**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Deve

[2019-08-01 02:15] linsun opened #15973 "istioctl commands graduate out of experimental"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
As part of 1.3 release, we should consider certain commands to be graduated out of experimental.  I would recommend at least dashboard.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Po

[2019-08-01 02:36] tiggerlee2 commented on #15620
Hi @howardjohn ,
Following are istio configuration , port 443 and 15001 listener config dump.

**1. kubectl get configmap/istio -o yaml -n istio-system**

[code]
**2. istioctl proxy-config listener myPodName --port 443 -o json**

[code]
**3. istioctl proxy-config listener myPodName --port 15001 -o json**

[code]

[2019-08-01 03:17] qiyongxiao opened #15974 "mixer/test/client/fault_inject fails on mac"
Hi, I'm prepare to make build istio on my mbp. I meet some issue like below. With the message show, it stop to proced for many times.
[code]
Does i how to build on my loongxin(mips64)?

[2019-08-01 03:35] winds6206 commented on #15957
Oh ~ Thank you
but, I try to use helm to  customizable install , I try to custom grafana account .
Here is my command

$ helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set grafana.security.enabled=true --set grafana.security.usernameKey=admin --set grafana.security.passphraseKey=admin --values install/kubernetes/helm/istio/values-istio-demo.yaml | kubectl apply

[2019-08-01 03:45] IanCao commented on #15943
could u provider some docs for me to start?

[2019-08-01 03:46] CatchZeng opened #15975 "evaluation failed at [newlog.instance.istio-system]'Timestamp': 'lookup failed: 'request.time''"
This problem occurs when trying the [Collecting Logs](https://istio.io/docs/tasks/telemetry/logs/collecting-logs/) task.

## Log
[code]

## istioctl version
[code]

[2019-08-01 03:46] #12938 closed

[2019-08-01 04:10] winds6206 commented on #15957
Oh .. I know everything ...
I forgot that I install another grafana in my host before.
Now I can login direct ,but I wanna setup my account
Here is my command
[code]

when deploy complete, my grafana pod status become "CreateContainerConfigError"

[2019-08-01 04:26] winds6206 commented on #15957
Now I can login direct ,but I wanna user  variables to set up default account
here is my command
[code]

when deploy competed, the grafana pod status become "CreateContainerConfigError "

[2019-08-01 05:58] jasonwzm commented on #10872
working on adding the openapi schema we generated to our CRDs. Assigning it to me for now.

[2019-08-01 09:29] winds6206 opened #15977 "Error fetching Grafana Info., Error: [ grafana URL is not set in Kiali configuration ]"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I installed istio as below step, I use port-forward let my host can connect kiali.
After I login kiali, the screen pop up `Error fetching Grafana In

[2019-08-01 10:06] morvencao opened #15978 "Operator: manifest diff isn't working with directory"
The following two directory contains two different manifests, but `mesh manifest diff ` return `Manifests are identical`:

[code]

Looks like the root cause is that `filepath.Ext(path)` will return `.<ext>` instead of `<ext>`
Will raise a PR for this.

/cc @ostromart @richardwxn

[2019-08-01 10:11] morvencao commented on #15978
Followup: the manifest diff test between `helm template` and `mesh manifest generate` will return plenty of diffs after this is resolved, but the return code for `mesh manifest diff` is always `0`.

[2019-08-01 10:58] aditya-prasad opened #15979 "ingressgateway hpa shows unknown cpu utilization"
**Bug description**
ingressgateway hpa unable to figure out cpu utilization and thus doesn't scale. all other hpa (pilot, policy, and telemetry) created by istio working fine.

might be related to #11350

[code]
[code]

looks like metric-server is configured properly
[code]
[code]
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] I

[2019-08-01 11:06] aditya-prasad commented on #15979
<img width="752" alt="Screenshot 2019-08-01 at 16 35 42" src="https://user-images.githubusercontent.com/2631850/62288667-81e83780-b47a-11e9-87be-d569b84e158f.png">

[2019-08-01 11:22] ceastman-ibm opened #15980 "http status code 401 redirect to /login"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Can istio detect a 401 status code and then change the status to a 302 and send the user to a /login?
**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Do

[2019-08-01 12:15] nokiabaitanik opened #15981 "ISTIO Sidecar performance impact Istio: 1.0.6. same observed in 1.2.3"
**After side car Injected ,  performance dropped to half .  Even the request incoming is not at steady rate. over time it is degrading. istio version : 1.0.6**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[X ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior :

[2019-08-01 13:26] humboldt-xie commented on #14202
the envoy would get a warning:

[code]

The reason is that the pilot(istio-pilot.istio-system:15007) cannot be connected

restart pilot recovery

Maybe we need livenessProbe

[2019-08-01 13:56] clyang82 opened #15984 "Leftover tasks for nonroot user support"
**Bug description**

1. All of these changes will break the new installer I think, since it will still try to do things like bind to 443?

2. update document for galley validation server and sidecar webhook server.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies an

[2019-08-01 13:57] esnible commented on #15973
@linsun Are you asking for specific commands to be graduated?  Or for the community to define a process for how commands are graduated?

[2019-08-01 13:59] esnible commented on #15972
@mkharibalaji You should assign protocol-specific `name` to the Port name on the Service Entry.

See https://istio.io/docs/reference/config/networking/v1alpha3/gateway/#Port for example of how to do this.

See https://istio.io/docs/setup/kubernetes/additional-setup/requirements/ for Istio's list of protocols that can be applied to the name.

[2019-08-01 14:00] linsun commented on #15973
@esnible I opened this to track which istioctl cmds we can graduate in 1.3.  I was looking for dashboard cmd last night, I had thought it is already graduated but still in experimental.

[2019-08-01 14:04] esnible commented on #15960
For medium-term we have https://github.com/istio/istio/pull/15824 which introduces multi-resource analysis with reporting through CRD Status field or Event.  For the near-term how can we surface this to the user?

[2019-08-01 14:24] esnible commented on #15873
Duplicate of https://github.com/istio/istio/issues/11659 ?

[2019-08-01 14:25] esnible commented on #15971
Closing as duplicate of https://github.com/istio/istio/issues/15866

[2019-08-01 14:26] clyang82 commented on #14662
@silentdai Thanks for your clarification. I am not sure my understand is right. please correct me if I am wrong. the elasticsearch should use port 9300 as HTTP while I think port 9300 is used by istio as TCP from  https://github.com/envoyproxy/envoy/blob/bdd6788f1e01787d015eabd9902f4b565e5dea98/configs/envoy_double_proxy_v2.template.yaml#L91. If I am wrong, why envoy listen port 9300? Thanks.

[2019-08-01 14:32] esnible commented on #15861
Can you confirm that the TCP port used on the failed call is the same as the port used on the successful calls?

If a Service exposes multiple ports, but Envoy isn't logging traffic for all of them, the pod Deployment may lack a `containerPort`.  See https://istio.io/docs/setup/kubernetes/additional-setup/requirements/

I have also seen this on rare occasions when Envoy crashes and restarts.  Duri

[2019-08-01 14:36] esnible commented on #15973
Would it help all of the experimental commands `istioctl X` print `Use istioctl experimental X`?

I don't want them to do the work, but it might help users who forget which commands have graduated?

[2019-08-01 14:40] linsun commented on #15973
@esnible that is helpful, I had thought that is already done but it is not.

We still need to graduate good commands that has been around for 1-2 releases.

[2019-08-01 14:51] linsun opened #15985 "ISTIO_META_ISTIO_PROXY_VERSION not match proxy version"
In this https://github.com/istio/istio/blob/release-1.2/pilot/docker/Dockerfile.proxyv2#L14 file, we have ```ENV ISTIO_META_ISTIO_PROXY_VERSION "1.1.3"``` but this is already 1.2.  Master also has similar prob.  We should not hardcode the version in this file as it can easily get outdated.

Also, what is the purpose of this ISTIO_META_ISTIO_PROXY_VERSION?  Seems not used now.

[ ] Configuration In

[2019-08-01 15:03] howardjohn commented on #15960
Our only options right now are logging or metrics I think

[2019-08-01 15:15] howardjohn commented on #15981
A couple things:

* I would recommend reading https://istio.io/blog/2019/performance-best-practices/

* Istio 1.0 is end of life now. We have made substantial performance improvements since then so I would encourage you to try out newer versions.

Kubernetes handles resources by container, not by pod. The sidecar has its own limits and requests assigned to it. I forgot what the defaults are on 1.0

[2019-08-01 15:20] howardjohn opened #15987 "TestFsSource test flakes"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15982/istio-unit-tests-master/4682
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/15882/istio-racetest-master/2680

Note - this is a new test added on 7/30

[2019-08-01 15:24] howardjohn commented on #15985
@linsun we have a PR to address this https://github.com/istio/istio/pull/15886

The variable is used, and is essential, we use it to make sure we don't send config to old envoys that don't support the config. If Envoy adds some `foo` field and we send it to old envoys they will reject the config.

[2019-08-01 15:28] howardjohn commented on #15979
@aditya-prasad it says there is no request for CPU? Can you run `kubectl get pod INGRESS -oyaml` and check if that is true or not?

[2019-08-01 15:33] howardjohn commented on #15974
I don't think we support mips64, so there may be some modifications needed to get it working. recently someone added ARM support in #15668 so maybe that would be a good reference.

Anyhow it looks like you aren't actually just building, but also running a test? Does the build work? If its just test failing can you run with `go test -v` and provide the full output?

[2019-08-01 15:35] howardjohn commented on #15776
We don't yet support UDP so we are blocked by https://github.com/istio/istio/issues/1430

[2019-08-01 15:35] howardjohn commented on #15972
Related to https://github.com/istio/istio/issues/15776

I don't know the details of all these protocols, but we are bounded by what envoy supports. For FTP at least I think it requires UDP so we are blocked by https://github.com/istio/istio/issues/1430

[2019-08-01 15:38] esnible commented on #15973
The commands we have are

  auth            Inspect and interact with authentication and authorization policies in the mesh
  convert-ingress Convert Ingress configuration into Istio VirtualService configuration
  dashboard       Access to Istio web UIs
  metrics         Prints the metrics for the specified workload(s) when running in Kubernetes.

`dashboard` was new in 1.2.
`auth` was reworked in

[2019-08-01 15:40] varungbt commented on #9504
@majelbstoat I can confirm that using both a service and a deployment solves the issue for me.

[2019-08-01 15:43] patrickppeng opened #15989 "Ingressgateway routes traffic to not-ready endpoints"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We have a test case with a service returning 200 and 503 alternatively to readiness probe every 2 minutes. The ingressgateway keeps routing traffic

[2019-08-01 15:43] yarivlifchuk commented on #15456
please see the following link in envoy regarding header matcher which support suffix_match and regex_match
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto#envoy-api-msg-route-headermatcher

[2019-08-01 15:45] howardjohn commented on #15977
I can reproduce this. @clyang82 I think you update kiali recently, is this in 1.2?

@jmazzitelli

[2019-08-01 15:47] majelbstoat commented on #9504
Yeah, works for me too, but I would prefer to deploy the agent as a DaemonSet.

[2019-08-01 15:48] howardjohn commented on #15989
You said you are flipping ready/not ready every 2 minutes. Is it sending traffic to the not ready services for the entire 2 minutes, or does it send a few and then eventually the endpoints get updated and it stops?

To see if the updates have gotten to the proxy you can do `istioctl proxy-config endpoints POD` and comapre? Also there will be a log for `EDS PUSH ...` but I think that is only in 1.2

[2019-08-01 15:49] yarivlifchuk commented on #15428
It looks as the pilot memory leak fix helps to solve the disconnections
https://github.com/istio/istio/issues/14782

[2019-08-01 15:50] howardjohn commented on #15775
This doesn't seem like a great idea to me.

First, it requires elevated permissions for the sidecar injector (I think, unless it already has those permissions).

Second, it couples the webhook to the injector, which is not something we want. You can have one webhook pointing to two independant injector instances, or a webhook pointing to an external injector that isn't even in the cluster

[2019-08-01 15:56] jmazzitelli commented on #15977
What does the kiali configmap look like? Should have something like this:

[code]

This URL is set in the kiali values.yaml:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/kiali/values.yaml#L53

[2019-08-01 15:59] howardjohn commented on #15977
Its not set though. The configmap just looks like

[code]

We don't set in_cluster_url it seems. Does it default to `http://grafana.istio-system:3000`?

[2019-08-01 16:00] patrickppeng commented on #15989
Thanks John for the quick response.
Our external test client sends request every 5 seconds and the endpoint didn't get updated for the entire 2 minutes in the not-ready state. We even extended the 503 not-ready state to 10 minutes... same result with no update.

[2019-08-01 16:04] patrickppeng commented on #15989
Oh couple things I forgot to mention:
(1) restart either ingressgateway or pilot that updates the endpoint state correctly
(2) it seems like the endpoint state failed to be updated from 200 to 503, but it updates as expected from 503 to 200 from our observation

[2019-08-01 16:04] howardjohn commented on #15987
Some local repro with `go test ./galley/pkg/config/meshcfg -run TestFsSource_BogusFile_NoChange -count 500 -race`

[code]

[2019-08-01 16:06] eyeezzi opened #15991 "istio-sidecar-injector Config Map automatically reverts to `policy: enabled`"
**Bug description**

When I edit the _istio-sidecar-injector_ config map to set `policy: disabled`, after a few minutes, the config map reverts back to `policy: enabled`. I have tried doing the edit on the GCP Console, and using `kubectl -n istio-system edit configmap istio-sidecar-injector`...same result.

**Some background on what I want to accomplish**

I only want a proxy injected into a pod i

[2019-08-01 16:10] howardjohn commented on #15984
[code]

Getting this when installing using the new installer

We shouldn't reject lower ports, users can run as root if they want to.

[2019-08-01 16:13] howardjohn commented on #15989
Do you have just one endpoint going from ready to not ready? Like 1 endpoint -> 0 endpoints -> 1 endpoints? Or like 10 endpoints -> 9 -> 10?

See https://github.com/istio/istio/issues/14336

[2019-08-01 16:16] patrickppeng commented on #15989
Just one in this test case.

[2019-08-01 16:18] howardjohn commented on #15989
So if you go from 1 endpoints to 0 endpoint:

* The current behavior is it still sends to the "not ready" pod and gets a 503

* The expected behavior is... it doesn't send the request to the pod at all but still gets a 503? Is that right?

So either way it should get a 503 but it shouldn't actually send the request?

[2019-08-01 16:25] jacobgo93 opened #15992 "Scraping all cluster pods using Prometheus + SDS"
**Bug description**
We're using prometheus 2.10.0 with this scrape config: https://raw.githubusercontent.com/istio/istio/release-1.2/install/kubernetes/helm/istio/charts/prometheus/templates/configmap.yaml. As you can see, one must supply the pods scrape job with TLS certs and keys paths. As we've activated SDS, we do not have these certs locally on the file system and we're relying on in-memory T

[2019-08-01 16:27] patrickppeng commented on #15989
sorry for the confusion and let me clarify it.
The current behavior is it still sends the request to the "not ready" pod the service responds with 200. This request is a normal service request, not a readiness probe...

The expectation is the request should be blocked at ingress edge when endpoint is in "not ready" state in this case.

[2019-08-01 16:28] clyang82 opened #15993 "Tracing issue"
**Bug description**
cannot get the tracing data from jaeger after sending some requests to bookinfo. Here are my reproduce steps:
1. install the latest master build by using
[code]
istio-demo.yaml file content
[code]

Here we can see that `traceSampling: 100` which should collect all tracing data as sample. when i refresh the bookinfo example many times, there is no any data from jaeger. but when

[2019-08-01 16:34] nokiabaitanik commented on #15981
For mixer we had " policyCheckFailOpen: true" .
so even if mixer is over loaded traffic should get passed . as policyCheckFailOpen is set to true.
#policyCheckFailOpen allows traffic in cases when the mixer policy service cannot be reached.
#Default is false which means the traffic is denied when the client is unable to connect to Mixer.

Upgrading istio is option is there. Still we want to verify

[2019-08-01 16:38] howardjohn commented on #15989
I see. I agree with you, but I am curious about how/if this impacts you.

My thinking when I first encountered this "scale to 0" bug, was that if we have 0 endpoints, then it doesn't really matter if we keep the endpoint in envoy or not, since there is no endpoint, so we would just a get a 503 either way. I was thinking mostly of scaling the pod to zero, not having a pod marked as not ready

What

[2019-08-01 16:42] howardjohn commented on #15981
This is only for mixer policy, mixer telemetry is also a factor. Even if it fails open, it can still impact latency though I believe, as it may take some time for the request to fail.

For 1.0 I am not sure, we don't support that version anymore and I have never used it.

In 1.2 you can use https://istio.io/docs/reference/config/installation-options/#global-options
 `global.proxy.resources.request

[2019-08-01 16:46] #12979 closed

[2019-08-01 17:03] howardjohn commented on #13695
Presumed fixed in 1.1.7+. Please update if this is not the case

[2019-08-01 17:03] #13695 closed

[2019-08-01 17:05] aditya-prasad commented on #15979
resource request and limit are properly set for `istio-proxy` container but not for `ingress-sds` container
[code]
[code]

[2019-08-01 17:16] therealmitchconnors opened #15994 "pkg/cmd and security/pkg/cmd/flag.go should be merged"
https://github.com/istio/istio/blob/master/pkg/cmd/cmd.go#L39 and https://github.com/istio/istio/blob/master/security/pkg/cmd/flag.go#L25 are identical functions, and should be merged, and ported into istio.io/pkg.

[2019-08-01 17:16] howardjohn commented on #15979
Interesting, are you sure you have the same values set when you installed?

I tried on istio 1.1.7 with your values and the resources show up:

[code]

[2019-08-01 17:27] patrickppeng commented on #15989
The major impact is we will see inconsistent behaviors/responses when sending the same request externally and internally.
(1) request sent from external client - ingressgateway routes it to the "not ready" endpoint that returns 200
(2) request sent from other services in k8s cluster (no sidecar) - k8s returns 503 because the "not ready" endpoint cannot be found in k8s iptables

[2019-08-01 17:31] huang195 commented on #15883
From what I have seen, Istio is pretty CPU-intensive. By design, it uses iptables to bounce packets from your application to another user-level app (Envoy), and on their way back. This involves a lot of packet copying: user-to-kernel and kernel-to-user, which uses CPU. Moreover, by default it collects telemetry data for every request and sends it to the telemetry server. This also requires more CP

[2019-08-01 17:37] omerlh commented on #15883
I'm using istio for those features :) do you know if I can fine-tune tracing for example, e.g. trace only a small percentage of the requests?

[2019-08-01 17:39] #15978 closed

[2019-08-01 17:39] howardjohn commented on #15991
Istio on GKE does not support the full customization of the Helm install. See https://cloud.google.com/istio/docs/istio-on-gke/overview#modifying_control_plane_settings

I think you only need `Add the istio-injection: enabled label to my namespace` in order to do what you want - based on https://cloud.google.com/istio/docs/istio-on-gke/installing#enabling_sidecar_injection

[2019-08-01 17:46] #8560 closed

[2019-08-01 17:53] aditya-prasad commented on #15979
i was using istio `1.1.0`, seems to be fixed by `1.1.7`. shall upgrade.

https://github.com/istio/istio/blob/1.1.0/install/kubernetes/helm/istio/charts/gateways/templates/deployment.yaml#L62-L85

https://github.com/istio/istio/blob/1.1.7/install/kubernetes/helm/istio/charts/gateways/templates/deployment.yaml#L61-L90

closing this. thanks.

[2019-08-01 17:53] #15979 closed

[2019-08-01 17:55] douglas-reid commented on #15985
This was previously reported in https://github.com/istio/istio/issues/15229

[2019-08-01 17:57] howardjohn commented on #15985
Fixed by https://github.com/istio/istio/pull/15886

[2019-08-01 17:57] #15985 closed

[2019-08-01 17:57] esnible commented on #15635
This is related to `istioctl inspect pod` (https://github.com/istio/istio/pull/15827 and it needs a review).

That command will tell you if a pod is part of the mesh.

I can imagine a simple output for `istioctl get services`

[code]

This sample prints the namespace of the Istio control plane because in Istio 1.3 there might be >1 Istio control plane so Yes/No won't help.

Many of the problems I'

[2019-08-01 17:57] howardjohn commented on #15229
Fixed by https://github.com/istio/istio/pull/15886

[2019-08-01 17:57] #15229 closed

[2019-08-01 18:04] esnible commented on #14801
@aattuluri Have you tried Istio 1.2.x?  Do you have the same problem?

[2019-08-01 18:08] esnible commented on #12960
@walkerline I have a troubleshooting tool, `istioctl inspect`.  I'd like to test it to diagnose your problem.  Can you attach your YAML Service and Deployment definition to this issue?

[2019-08-01 18:10] esnible commented on #14909
@mbanikazemi Do we understand the problem enough to close this issue?

[2019-08-01 18:11] esnible commented on #13329
Removing myself because my proposal, `istioctl template`, was not approved.  Need a new approach that will be approved.

[2019-08-01 18:11] douglas-reid commented on #15975
What rule are you using for `newlog` ?  `request.time` is not available in TCP contexts (`context.protocol == "tcp"`). Instead you should use `context.time`.

You can look at the rules for the two example logs configuration:

[code]

Marking as closed, as I believe this is working as designed.

[2019-08-01 18:11] #15975 closed

[2019-08-01 18:13] esnible commented on #6541
`istioctl inspect` https://docs.google.com/document/d/1OnJpw1Hi5vtfnIajOFwvuJPlnPlB2rJeCkRvSVJx9vI/edit# https://github.com/istio/istio/issues/15526 https://github.com/istio/istio/pull/15827

[2019-08-01 18:14] esnible commented on #13279
@msiraj7 is this still a problem for you?

[2019-08-01 18:16] esnible commented on #15526
Still looking for PR reviewers.

I am using this to validate all meshed pods on a cluster using

[code]

I designed `inspect` as an inspection tool but it is proving handy as a validation tool.

[2019-08-01 18:38] esnible commented on #15787
This may be fixed in Python 3.7.  https://bugs.python.org/issue31469

[2019-08-01 18:53] huang195 commented on #15883
I believe the default tracing percentage is already set to 1% (https://github.com/istio/istio/blob/release-1.2/install/kubernetes/helm/istio/charts/pilot/values.yaml#L12), unless you modified the default value

[2019-08-01 18:59] incfly commented on #15992
Adding sidecar with a SDS config seems would work for this use case?

But I'm under the impression that we would like to make Istio leaner in general, not Istio's core component's responsibility to maintain the telemetry add-on. So I understand we need a way to get it work, but should it be in istio's repo?

Off the topic, I'm curious though, would you use this Prometheus instance only scrape Isti

[2019-08-01 19:01] ostromart opened #15997 "Script to update hub and tag in released profiles."
Right now all the profiles contain hub and tag which is release dependent. Need a script to set these in all the profiles and global.yaml.

[2019-08-01 19:02] Demonian commented on #9784
I think this issue should be prioritized, cause it making usage of headless services and StatefullSets very unscalable and error prone.

Here is my scenario, which is pretty the same as @Stono has mentioned in this thread:

[2019-08-01 19:40] jacob-koren-zooz commented on #15992
It will be a concern because we are not injecting envoy in all namespaces. However, it will be much better position to be in.

[2019-08-01 19:46] #8280 closed

[2019-08-01 20:11] esnible opened #16000 "Request: filter_metadata.istio.config for authn and sidecar"
Envoy's config_dump gives metadata istio.config that identifies the DestinationRule and VirtualService responsible for the config.

I propose that the Policy.authentication.istio.io and Sidecar.networking.istio.io also be revealed through Envoy metadata.

This will be useful for a troubleshooting tool, `istioctl inspect`, that I am working on.  https://github.com/istio/istio/pull/15827#issuecommen

[2019-08-01 20:13] crazyxy opened #16001 "e2e local test is broken"
Cannot run istio e2e test locally. It seems to be related with these four commit:

aa330ced4f3f1b65cc661b88b405ff27364764b0
fb643b6d4ffebff2f36bda62b6becaf7acf8980c
32e66a7be34519d3fe23fd9fbd8c6739cfd6ec76
be7e0a3a8dc479fd6dfb7421ba02437655c946fb

I reverted these four commits locally and rerun e2e_simple, it passed.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Pe

[2019-08-01 20:19] esnible commented on #12896
@howardjohn @andraxylia I am willing to implement this.

One strategy is to implement https://github.com/istio/istio/issues/16000 and get this information from Envoy.  I am not sure I am skilled enough with pilot-discovery to do this for 1.3.

Another strategy is to fetch all the Sidecar.networking.istio.io objects and write my own ad-hoc client-side _istioctl_ logic to match the Sidecar workload

[2019-08-01 20:45] utka commented on #15714
I think there is still wrong permissions on prow cluster
When I run gcloud container clusters describe  prow --zone=us-west1-a | grep read
It returns:
 - https://www.googleapis.com/auth/devstorage.read_only
    - https://www.googleapis.com/auth/devstorage.read_only
    - https://www.googleapis.com/auth/devstorage.read_only
    - https://www.googleapis.com/auth/devstorage.read_only
    - https://ww

[2019-08-01 20:47] myidpt commented on #15714
@cjwagner Hi Cole, could you help to look into this issue? Thanks!

[2019-08-01 21:28] andraxylia commented on #15567
For all VirtualServices applied to mesh config, there is determinism if the port is explicitly configured in the [match rule](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L653). This can function in the absence of the API or semantic changes I was suggesting, albeit it requires more configuration.

For VirtualServices applied to the Gateway, the traffic can on

[2019-08-01 21:41] ericvn opened #16004 "integration test (istioctl at least) running locally against Kube is failing"
**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ x ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

Tests should pass

**Steps to reproduce the bug**

From _tests/integration

[2019-08-01 21:51] ericvn commented on #16004
As noted in another issue, this might be caused by https://github.com/istio/istio/pull/15948 (it updated the health path). My builds on Wednesday morning worked, today's are failing, and the mentioned PR went in during that time. I will try and revert that PR and see if the tests pass.

[2019-08-01 21:58] cjwagner commented on #15714
It is unclear to me what setting change is being requested or what the actual error is/where it is coming from. If this is a permissions error, why did it start happening after https://github.com/istio/proxy/pull/2310?

[2019-08-01 22:03] ericvn commented on #16004
I cleared all my local images using `docker system prune -a, built and pushed everything again, and the test appears to be passing. Will try again shortly with the bucket to see if that helps.

I suspect a base image was updated and the build did not pull a new one causing the failure. Deleting all the base images so the build had to pull the new base image seems to have worked.

[2019-08-01 22:05] ericvn commented on #16001
I was seeing a similar problem in the integration framework running locally. I got things to work (with at least one failing test) by clearing all the local docker base images and building and pushing again. I suspect a base image was updated and docker isn't pulling that base image and that is causing the failure.

[2019-08-01 22:13] utka commented on #15714
I don't think it is related, the failure which is happening right now is insufficient permissions to copy data to bucket. I had the same problem with another project some time ago and it turned out to be problem with scope (read_only vs read_write) that's why I think that's the same issue.
I already submitted PR which returns privileged to the container and it did not help https://github.com/istio

[2019-08-01 22:37] therealmitchconnors opened #16006 "Broken Build after go mod vendor"
**Bug description**
https://github.com/istio/pkg/pull/42 and https://github.com/istio/istio/pull/15891 conflict, resulting in broken builds.

**Affected product area (please put an X in all that apply)**

[ x ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ x ] Test and Release
[ ] User Experience
[ x

[2019-08-01 22:43] cjwagner commented on #15714
Ah, it sounds like the job needs to mount and use a GCP service account token with permission to upload to the bucket.
Previously the boostrap.py script did this before running the job to upload metadata and logs to GCS and the service account happened to be available to the test, but now the pod utilities do this in a separate container to isolate the service account from the test container.
If t

[2019-08-01 23:07] rshriram commented on #15620
have you changed the iptables setup?

[2019-08-01 23:09] incfly commented on #15701
I verified that once you enable CNI, ingress can't talk with workload in mTLS using SDS.

-I looked at the nginx (server's) listener config, turns out no TLS settings are there. This explains why no DR with mTLS can talk to Authn.STRICT together.
- The `istioctl auth-check tls` is misleading, because AFAIK, it checks the policy, rather than the Envoy config. I remember @yangminzhu made this point

[2019-08-01 23:11] howardjohn commented on #14672
On the testgrid now: https://testgrid.k8s.io/istio-postsubmits-master#istio_auth_sds_e2e-master&exclude-non-failed-tests=&width=20&sort-by-flakiness=

[2019-08-01 23:13] incfly commented on #15866
@Monkeyanator I think we can closing this now.

Might worth adding an e2e test to exercise both. @JimmyCYJ btw

[2019-08-01 23:16] incfly commented on #15866
@Monkeyanator I just realized someone else also run into this issue very often...(see linked issue above) do you mind sharing some tips here and istio.io troubleshooting sections (would be better)?

We can add an E2E test as a separate bug.

[2019-08-01 23:16] howardjohn commented on #15620
Yeah what is the `istio-init-operator` thing? Seems like maybe its not going through envoy at all

[2019-08-01 23:17] incfly commented on #15267
Adding one more issue, (sorry not sure how to mark it as epic blocker)
https://github.com/istio/istio/issues/15701#issuecomment-516794648

TLDR is to ensure CNI working well with SDS.

[2019-08-01 23:33] #14962 closed

[2019-08-02 00:25] Monkeyanator commented on #15866
Update: this bug was due to the same mistake [ I made here](https://github.com/istio/istio/issues/15485#issuecomment-516179868). Specifically, I was generating the configuration for the `Ingress Gateway` separately from the rest of the mesh config, which resulted in the SDS UDS path never getting mounted.

When I put all the mesh configuration values, including the ingress gateway, in the same con

[2019-08-02 00:42] Monkeyanator commented on #15971
@esnible [#15866](https://github.com/istio/istio/issues/15866) ended up being a configuration issue on my end, so we could probably reopen this issue for discussion.

What's the specific error you're encountering @srirajk? Could you drop a `kubectl describe` for your `ingress-gateway` pod, and/or provide a dump of the `ingress-gateway`'s envoy config_dump if possible?

[2019-08-02 00:58] varungbt commented on #9504
@majelbstoat I am able to configure the agent and the collector properly. Pods for agent and the collector show 2/2.
However I am unable to post stats and traces from an application to the collector backend. Any suggestions ?

[2019-08-02 01:33] incfly opened #16008 "`istioctl authn tls-check` consider actual Envoy configuration"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

I see many customers using `istioctl authn tls-check` to validate their Istio mTLS configuration. However, when debugging cni and sds can't be enabled together, https://github.com/istio/istio/issues/15701, I noticed that `istioctl authn tls-check`

[2019-08-02 01:41] ja3per commented on #9764
@altitdb sure, following is the vs configuration.
[code]

[2019-08-02 01:55] clyang82 commented on #16004
@ericvn Yes. the base image was updated so that you have to clean your local images to run the test again. You said that it is working now. Do I need to have a look at as well? Thanks.

[2019-08-02 01:56] qiyongxiao commented on #15974
[save.txt](https://github.com/istio/istio/files/3459320/save.txt)
Hi, here is the make logs on darwin

[2019-08-02 01:57] qiyongxiao commented on #15974
Hi, here is the make logs on darwin. I only excute the make command.
https://github.com/istio/istio/files/3459320/save.txt

[2019-08-02 01:57] clyang82 commented on #16001
Yes. You can see that the commits to enable the istio components can be able to run as nonroot. so you have to clean all local docker images and build again since the image are updated. Thanks.

Let me know if you still have `local e2e test is broken` issue. Thanks.

[2019-08-02 02:11] winds6206 commented on #15977
I try to these ways as below, but it is still pop up the same message

### First method

**use helm to install**
[code]

or

[code]

or

[code]

### Second method
**modify configmap.yaml**
[code]
and
[code]

then use `kubectl apply -f install/kubernetes/istio-demo.yaml` to apply separately

### Third method

**modify value.yaml**

[code]

and

[code]

then use `kubectl apply -f install/kubernetes/

[2019-08-02 03:03] tiggerlee2 commented on #15620
Hi @rshriram , I have not changed the setup.

Hi @howardjohn , do you mean information of init container?

**kubectl describe pod/myPodName**

[code]

[2019-08-02 03:53] hzxuzhonghu commented on #15775
Yes, it already has this permission, it updates the webhoolconfiguration when certs changes.

[2019-08-02 04:01] hzxuzhonghu commented on #9784
@Demonian Your problem is that istio donot support using same port for both http and tcp.

[2019-08-02 05:59] clyang82 commented on #15977
I do think it does not work by setting `in_cluster_url`, because there is a link from kaili ui to redirect to grafana dashboard. so if you set `in_cluster_url`, the url should not be accessible from the client browser.

<img width="773" alt="image" src="https://user-images.githubusercontent.com/7711311/62347435-460daa80-b52c-11e9-85d3-ab7af9d33b60.png">
@jmazzitelli please correct me if i am wrong

[2019-08-02 06:37] winds6206 commented on #15977
Sorry everyone ..
I know my problem.. It's my fault.
Cause I have a deamon use the port (3000) as same as grafana, now the kiali is in order to fetch grafana and prometheus.

BUT, I have another question
when I use port-forwarding to let my kiali can be access my host
[code]

sometimes my command line screen pop up these message
[code]

[2019-08-02 06:46] #15957 closed

[2019-08-02 07:52] Demonian commented on #9784
@hzxuzhonghu It doesn't support this only if there is headless service with TCP, because normal service with TCP will be mapped to `ip:port` listeners.

[2019-08-02 08:21] hzxuzhonghu commented on #9784
Yes, you are right, for headless service, with multiple instances, the tcp port will conflict.

[2019-08-02 09:33] elevran commented on #15932
The objects are semantically the same but the order of header operations is different on some runs:
[code]
The equality will be changed to check the content, not order, of header operations

[2019-08-02 10:28] #15914 closed

[2019-08-02 12:23] c0d1ngm0nk3y commented on #15892
That is true, but even if both instances are shared even, the picture is not much better, I think. instance 1 will still take 100% CPU, but for a shorter amount of time. Right? instance 2 will do the same, so the HPA will scale up. If those cycles are somehow in sync, the pilot will be scaled up to the max without much benefit.

In fact, we see in our test cluster which runs continuous that the HP

[2019-08-02 12:50] mbanikazemi commented on #14909
I think so. Should close this issue in my opinion.

[2019-08-02 13:05] ericvn commented on #16001
A fix for this issue is in https://github.com/istio/istio/pull/14623.

[2019-08-02 13:19] ericvn commented on #16001
Not sure if this is something where we want to make sure we always pull the base images for particular images or not. Would a `--pull` in the DOCKER_RULE (in Istio-docker.mk) cause too much additional overhead? Maybe this only occurs at random times and a comment on discuss would be enough?

[2019-08-02 13:20] ericvn commented on #16004
See my comment in #16001 about if there is a need to add an additional flag to make sure this doesn't happen, or maybe it's a seldom enough occurrence that a comment is discuss is sufficient?

[2019-08-02 13:20] #16004 closed

[2019-08-02 13:35] esnible commented on #6541
Related: https://github.com/istio/istio/issues/12513 Write a debug tool for Istio developers to troubleshooting mTLS issues

[2019-08-02 13:38] esnible commented on #11983
For those getting this error, how many Pilot instances are running in istio-system namespace?

Can anyone having this problem run with `--log_output_level debug` and paste the output here?

[2019-08-02 13:55] esnible commented on #16008
Can you supply brief instructions to deploy something that demonstrates incorrect output?

Currently the tool just asks Pilot's /debug/authenticationz for the information.  I am uncertain if a fix for Pilot or a fix for _istioctl_ is best.

@incfly I noticed that if there is no sidecar injected Pilot reports mTLS.  (Stale issue https://github.com/istio/istio/issues/11697 ).  I would like to see a

[2019-08-02 13:57] #14909 closed

[2019-08-02 13:59] ericvn commented on #16001
Thinking about this more, the `--pull` would get the base image pulled for each image which would be excessive. It would be better to make sure it's done once for each base image before any of the images are built.

[2019-08-02 14:28] esnible opened #16017 ""istioctl experimental dashboard" hangs"
The dashboard commands, such as `istioctl experimental dashboard envoy`, do not allow control-C  until port-forwarding has begun.

This is a problem if the Kubernetes API controller is unreachable ... there may be a minute-long wait for a timeout, during which time control-C doesn't work.

@linsun reports it doesn't work well when the network speed is limited.

This work item is to make sure contr

[2019-08-02 14:31] esnible commented on #15134
@irisdingbj are you working on this?  Can you tell me which subcommands you can implement for 1.3?  I would like to divide the work that can be done for 1.3 from post-1.3 work and track them separately.

[2019-08-02 14:42] JoelDamata-pcc commented on #15898
Not using the sidecar resource. exportTo is set to *. I've moved the destinationrule to the default namespace.

If this were to happen again, is there any type of command output or logs that would help find a root cause?

[2019-08-02 14:50] aalmazanarbs commented on #15873
That would be nice.
We really need this feature available, when it's 1.3 planned to be released?

Bes regards.

[2019-08-02 15:37] crazyxy opened #16020 "TLS inspector should not be installed by default in gateway"
/cc @rshriram

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output

[2019-08-02 16:57] sukruthakittur commented on #11675
I still have the exact same issue on 1.2.2. Is there a known resolution for it?

[2019-08-02 17:30] myidpt commented on #15714
Thanks a lot folks. @cjwagner can I assume that you will help resolve this issue? :)

[2019-08-02 17:31] cjwagner commented on #15714
It is being addressed here: https://github.com/istio/test-infra/pull/1579

[2019-08-02 18:29] rshriram commented on #16020
ignore.. its installed for all filter chains using tls. so nothing bad

[2019-08-02 18:29] #16020 closed

[2019-08-02 19:12] geeknoid commented on #16006
Fixed.

[2019-08-02 19:12] #16006 closed

[2019-08-02 19:57] incfly commented on #16008
Do you plan to make other existing kinda of inspectional utilities in `istioctl` under `istioctl inspect`? For example, authn/rbac/proxy-status those commands.

I'm worried if the commands proliferates without nice organization, operators can't easily remember each of them.

[2019-08-02 20:00] incfly commented on #16008
https://github.com/istio/istio/issues/15701 is an example of a buggy scenario. We definitely need to fix that one in pilot anyway independently. But it's sometimes misleading and easy to forget this potential inconsistency of what Pilot thinks vs what actual is.

[2019-08-02 20:33] myidpt commented on #6486
Has this issue been resolved? @yacut

[2019-08-02 20:37] myidpt commented on #8619
Temporarily setting it to P2. Please feel free to modify.

[2019-08-02 21:09] ostromart opened #16028 "Reduce surrounding context amount for manifest and profile diff commands"
Right now the mesh manifest and profile diff commands output the entire object - we'd like to see little to no context, ideally just the minimal path to the root for the diff e.g.

spec:
  trafficManagement:
    pilot:
      components:
        k8s:
          resources:
           requests:
             cpu: 500m -> 200m
             memory: 2048Mi -> 1024Mi

We could investigate some third party

[2019-08-02 21:16] vikramkhatri commented on #15866
Hi - I am facing exact same issue and when I run my tea pot, it runs fine with mTLS MUTUAL.

[code]

But, when I enable SDS ingress gateway for an external name to point to bookinfo `productpage` and try to access mTLS using SIMPLE, the browser shows same error:  `upstream connect error or disconnect/reset before headers. reset reason: connection failure`

My destination rule for the productpage i

[2019-08-02 21:19] stockhausenj commented on #9764
@ja3per
I think this feature is really only useful when you have > 1 destination rule so that you can do canary releases. I don't see where you are doing that.

[2019-08-02 21:22] stockhausenj commented on #9764
e.g
[code]

[2019-08-02 21:32] Monkeyanator commented on #15866
At what point / with what specific configuration are you deploying your `Ingress Gateway`? Could you run `kubectl describe pod -n istio-system -l app=istio-egressgateway` and post the result?

[2019-08-02 21:52] johnjjung commented on #13052
@MirtoBusico I'm getting the same issues what kind of networking issues was it?

[2019-08-02 21:55] #15932 closed

[2019-08-02 22:02] johnjjung commented on #13052
`kubectl logs istio-telemetry-75cffdc74b-4sqql -n istio-system istio-proxy`
[code]

`kub logs istio-telemetry-75cffdc74b-4sqql -n istio-system mixer`

[code]

[2019-08-02 22:23] prune998 commented on #6486
@myidpt use Istio 1.2.x + SDS

[2019-08-02 22:52] howardjohn commented on #15658
Presumed fixed.. have not been able to reproduce since the commit mentioned above, and I could 100% of the time before

[2019-08-02 22:52] #15658 closed

[2019-08-02 22:52] howardjohn commented on #15660
Presumably the same as #15658. Will update if I see this again

[2019-08-02 22:52] #15660 closed

[2019-08-02 22:55] howardjohn commented on #9694
It doesn't seem like there is anything left to do here. Sounds like we are moving to a bring-your-own operator model anyways so we don't really control the prometheus perf?

If there is no work here we should close, this is marked as P0 for 1.3

[2019-08-02 23:11] cscetbon commented on #15171
@andrewjjenkins any news or ETA regarding that issue ?

[2019-08-02 23:16] vikramkhatri commented on #15866
Some more details are here:

## Gateway

[code]

## Virtual Service

[code]

## Destination rules
[code]

The mTLS for httpbin works from curl and browser after I add the client certificate to the Chrome.

The mTLS for bookinfo does not work at curl and in browser.

Everything is in a single VM for the test purpose and the names are defined in the `/etc/hosts`
[code]

The curl for teapot works fin

[2019-08-02 23:16] richardwxn opened #16029 "Inconsistency between operator CLI generated manifest and helm generated manifest"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Run manifest diff command to compare manifests generated from helm vs operator CLI, there are some fields which are inconsistent between each other.

[2019-08-02 23:18] vikramkhatri commented on #15866
[code]

[2019-08-02 23:18] geeknoid opened #16030 "Retire as many CircleCi jobs as possible in the istio/proxy repo"
We're trying to eliminate our dependency on CircleCi. Any jobs  that  can be run on Prow should be run on Prow. Right now, the proxy repo has jobs that run in both environments, we don't need  that at  this point.

Thanks.

[2019-08-02 23:25] howardjohn commented on #15117
@mandarjog is this done or did you have more left?

[2019-08-02 23:38] mandarjog commented on #15117
Not fully done.

[2019-08-03 00:03] qiyongxiao commented on #15974
While I build on macbook to execute，there are same error
[code]

[2019-08-03 00:27] douglas-reid commented on #9694
@howardjohn concur. i think this covered a variety of things that are OBE or are being tracked as part of other efforts.

[2019-08-03 00:53] richardwxn commented on #16029
Issues I have found so far include:
1. Some fields in global.yaml are missing in the profile values section: e.g. localitylbsetting, meshNetworks
2. Enum fields are not correct after translation, e.g. outboundTrafficPolicy would become int in translated value.yaml
3. Some translations are missing for iscp to value.yaml, e.g. HPASpec related setting
4. There is extra enabled field in the translated

[2019-08-03 04:18] yangminzhu commented on #16008
"istioctl experimental auth" is added to do the exact work you described here, it's still WIP for now and will be part of the upcoming reliable policy enforcement deaign, stay tuned :)

[2019-08-03 04:56] #9694 closed

[2019-08-03 06:17] MirtoBusico commented on #13052
Well it was a wrong hostname.
in /etc/hosts I put the external host address with the name "k3s-master"
But in some commands I used the name "k3s-server" which don't have any addrress.

Verifying that

- hostname gives the name you expected (eg myhost)
- /etc/hosts contains a "x.x.x.x myhost" line
- /etc/hosts DO NOT contain any line "127.0.0.1 myhost"
- in every command and configuration file the

[2019-08-03 06:18] vadimeisenbergibm opened #16032 "The authentication example on istio.io seems to be broken in 1.2.2"
When running the example of https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls, I get:

[code]

instead of the expected 503. Moreover, for some reason sleep calling httpbin in foo gets 503, while sleep calling httpbin in bar gets 200.

A related stackoverflow question - https://stackoverflow.com/questions/57180297/cant-understand-istio-authentication-policy.
**Af

[2019-08-03 18:07] rshriram commented on #16001
I am getting the same error. This is not  just for local e2e. I cannot run istio on minikube (none driver, on linux) as it has same issue. I even disabled selinux but nothing seems to have changed. If these changes required updates to our install yamls, then they shouyld have been made with the PRs above. Until then these changes need to be reverted.

[2019-08-03 18:33] rshriram commented on #16001
fwiw, I cannot even run the docker container on OSX directly. I get the same error on both kube and osx:
[code]

docker run -u 1001:1001 didn't work either.. Also tried the K8S securityContext.runAsUser 1001, runAsGroup: 1001.. No change..

The only time I have been able to run on both minikube and OSX is when I set the runAsUser to 0:0, which is not a nice solution for people running Istio locall

[2019-08-03 18:37] rshriram commented on #16001
I have reverted pilot/galley.. need to fix mixer https://github.com/istio/istio/pull/15887 .. cc @mandarjog

[2019-08-03 18:41] rshriram commented on #16001
reverted mixer as well..

[2019-08-03 19:34] #13080 closed

[2019-08-03 21:59] ostromart commented on #16029
Could you please create individual issues with some additional info in them? We can split these up for people to tackle. I'll do the same for the stuff I discovered.

[2019-08-03 22:08] ostromart opened #16038 "Missing prometheus resources in rendered manifest"
Output of run_mandiff shows the following resources missing in the operator version of the rendered manifests. This is most likely due to the missing prometheus component:
 attributemanifest:istio-telemetry:kubernetes
instance:istio-telemetry:responsesize
handler:istio-telemetry:kubernetesenv
rule:istio-telemetry:promtcpconnectionopen
instance:istio-telemetry:requestduration
instance:istio-telemet

[2019-08-03 22:11] ostromart opened #16039 "Missing HPA spec for ingressgateway"
run_manifest.sh for default profile shows the following resource missing:
HorizontalPodAutoscaler:istio-ingress:ingressgateway
(this may be due to bad namespace)

[2019-08-03 22:14] ostromart opened #16040 "Istio pilot resources show diffs from helm install"
run_mandiff for default profile shows the following diffs for pilot:

Object Deployment:istio-control:istio-pilot has diffs:
[code]

[2019-08-03 22:16] ostromart opened #16041 "Missing resources for security components"
run_mandiff shows the following missing security components missing:
CustomResourceDefinition::issuers.certmanager.k8s.io
DaemonSet:istio-security:istio-nodeagent
ClusterRoleBinding::istio-nodeagent-istio-security
PodDisruptionBudget:istio-security:certmanager
ClusterIssuer:istio-security:letsencrypt-staging
ClusterRoleBinding::certmanage
etc.

[2019-08-04 04:46] myidpt commented on #9104
This is a nice to have test, but not high priority in the short term. I added "help wanted". It would be great if someone from community can help out.

[2019-08-04 05:12] myidpt commented on #9944
With the new SDS enhancements, do we still need this feature? @shubhaat

[2019-08-04 05:16] myidpt commented on #11328
Jimmy, please feel free to re-prioritize.

[2019-08-04 05:23] myidpt commented on #12513
@JimmyCYJ Is this covered in our code mauve effort?

[2019-08-04 05:28] myidpt commented on #12551
@andrewjjenkins Thanks for the work. I assigned this issue to you. Please free free to let me know if not appropriate.

[2019-08-04 05:33] myidpt commented on #14913
I think this field should be set with our recent work on enforcing the use of trustworthy JWTs by @pitlv2109 .

[2019-08-04 06:00] morvencao opened #16045 "Operator doesn't honor "enablement" for feature and component."
Sub issue of: https://github.com/istio/istio/issues/16029

Operator doesn't honor "enablement" for feature and component:

If you run `mesh manifest generate` with `minimal` profile, you'll find that the manifests with all feature and components are generated:
[code]

Although we have add `setEnablementAndNamespaces` for each component while translating the istioInstallSpec to helm values at https

[2019-08-04 06:06] morvencao commented on #16045
Sub issue of: https://github.com/istio/istio/issues/16029

[2019-08-04 07:48] illidan80 commented on #15881
Update: I disabled sidecar injection on one of the environments (which was previously having the issue). All pods are running already for 5.5 days - without any problem.

Looks like indeed there is some issue related to the Istio sidecar...

Anyone has ideas?

[2019-08-04 07:48] elevran commented on #15451
@ayan1207 - thanks for opening this.
Could you please elaborate more on what you are trying to achieve?
From the above description, my understanding is that you want to import a **client** certificate from an external source and add it to Istio proxy to be used when connecting to the external service. That means that the certificate will be used to authenticate services inside the mesh to the exte

[2019-08-04 08:01] elevran commented on #15618
Istio currently support [end user authentication based on JTW](https://istio.io/docs/ops/security/end-user-auth/).
Otherwise, you could implement basic authorization by creating a mixer adapter that responds to Check() calls. It can provide whatever custom logic needed (e.g., realm, messages, etc.)

[2019-08-04 08:08] elevran commented on #15115
@Monkeyanator is this still needed, given that #15113 is merged and `-explicit-opt-in` is being deprecated in #15503?

[2019-08-04 08:12] elevran commented on #14969
@klarose @yuxintong-github
you may find this [mixer adapter](https://github.com/ibm-cloud-security/app-identity-and-access-adapter) useful

[2019-08-04 08:19] elevran commented on #13836
@edussx please see https://github.com/istio/istio/pull/15503 and let us know if this resolves your issue.
CC @Monkeyanator

[2019-08-04 08:27] elevran commented on #13832
@tushar00jain

Expiration of root CA (Citadel) certificates:
- if self-signed, expiration is long (>1y IIRC)
- if [imported](https://istio.io/docs/tasks/security/plugin-ca-cert/) - whatever is set by the cert's creator
It is currently your responsibility to rotate these. There have been some design attempts to automate this process, but I don't think they were merged (@wattli ?)

workload certific

[2019-08-04 10:48] fentas commented on #15618
duplicate of https://github.com/istio/istio/issues/4693

[2019-08-04 11:08] elevran commented on #15060
@kyessenov could this be intermittent due to some environmental issue (e.g., low resources on the CircleCI machines)?
I've downloaded the artifacts from the [above failed test](https://circleci.com/gh/istio/istio/448696#artifacts/containers/0) and they pass just fine locally:
[code]

The files all seem to have properly terminated new lines and subsequent runs of the same pass.
Further, the code se

[2019-08-04 18:00] DevAndrewGeorge opened #16048 "Cannot apply gateway resource to VMs in expanded mesh"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I am unable to have a VM in my expanded mesh behave as an egress gateway (the `example` gateway). HTTP traffic reaches the VM/egress gateway, but tc

[2019-08-04 23:59] clyang82 commented on #16001
@rshriram sorry for inconvenience. this PR is to resolve this issue - https://github.com/istio/istio/pull/16014 as I explained in this PR, I am not sure that why it is working in some versioned container runtime. Anyway, that should be an issue with wrong permission.

[2019-08-05 00:49] Monkeyanator commented on #15115
Nope, this should be safe to close 👍

[2019-08-05 00:49] #15115 closed

[2019-08-05 01:17] Monkeyanator commented on #13836
As @elevran pointed out, the changes in #15503  give users more control over which namespaces Citadel will generate `ServiceAccount` secrets for (through namespace labels, as you mentioned, and a configurable default behavior). Currently working on docs and integration tests for this feature, but I'm not sure it will be stable/documented before 1.3 release.

Until then, the best option might be th

[2019-08-05 01:42] JimmyCYJ commented on #11328
@myidpt Please correct me if I am wrong, the cert rotation e2e tests need to be added into new test framework, not e2e_pilotv2_auth_sds, which is using the old framework that is going to be deprecated.

[2019-08-05 02:36] iandyh commented on #9784
Our current approach is to add all the headless service with following annotation: `networking.istio.io/exportTo:.`. This will prevent Istio proxies in other namespaces fetching these configurations.

[2019-08-05 03:26] tushar00jain commented on #13832
@elevran

I see root CA is 10 years now. Does the intermediate CA count as a workload certificate or is it also subject to being our responsibility to rotate also?

BTW k8s has an issue to rotate CA here https://github.com/kubernetes/kubeadm/issues/1350, can Istio also do the same? If it's our own responsibility, I'd be more inclined to canary migrate to a new cluster

[2019-08-05 03:54] #13031 closed

[2019-08-05 04:03] mandarjog commented on #16001
Thanks Shriram. We need to have a minikube test, though why not just support kube-kind?

[2019-08-05 04:07] omerlh commented on #15883
We also thinking it might be because the request is too small (100m). I just discovered you can request more by using the `sidecar.istio.io/proxyCPU` annotation. Going to try that and see how this will behave.

[2019-08-05 07:22] pilhuhn commented on #7659
@maflaven Can you try again with latest master (or upcoming release)?

[2019-08-05 08:34] nokiabaitanik commented on #15981
We have tried to disabled mixer .. but that also is giving same result. was there any memory leak related problem in 1.0.6 . any idea?

[2019-08-05 08:38] edussx commented on #13836
@elevran @Monkeyanator Thanks for this fix! I have looked at the PR and think it should fix our issue. Just one more question towards #15503: will `--explicit-opt-in` and `--listened-namespaces ` be removed in the future release, as long as #15503 is released? It looks like `--explicit-opt-in` is sort of duplicated with label `ca.istio.io/env` from my perspective.