[2020-07-19 10:10] nagypeterjob commented on #25606
Thank you for the insight @morvencao. I get that, but for the lot of us migrating to 1.6 and istioctl is a tedious and complex task and util we are ready to do it, 1.5.x is a safe way to have a relatively up-to-date deployment. I am not sure how long 1.5.x is still supported, but in my opinion issues like this should be resolved until then. If it is already deprecated, then I am sorry and I will c

[2020-07-19 11:04] illidan80 commented on #25493
@GregHanson I don't have the exact numbers. Before - as soon as I did "apply" to the deployment - everything was up successfully. Now when I deploying I have multiple errors in many services, related to failed network requests during initialization.

Retries is problematic since there are many places where such retries will be needed. The calls are not only to the kubernets, but also to external s

[2020-07-19 15:44] zhanggbj commented on #25145
@GregHanson @howardjohn
We do notice SDS high mem issue with istio 1.4.7, but it doesn't reproduce after we upgrade to 1.5.4.
This issue can be reproduced without large numbers of secrets in SDS.

Same question from my side, with Istio version started to release envoy memory? Is it istio 1.6.x?

[2020-07-19 16:14] costinm commented on #25587
I have been thinking about this issue: and maybe we are just over-complicating things by focusing too much on ack/nonce craziness inherited from the non-aggregated protocols, when there is a much simpler solution.

Let's look at a typical pubsub system. A client sends a subscription for a topic, with some optional query attributes. Later on
the user can update the subscription, or change the attri

[2020-07-19 16:37] rverma-jm commented on #24485
Much needed feature, @cokuehuang did you found any solution?

[2020-07-19 18:12] jshaughn commented on #24379
@bianpengyuan @naphta , I tried installing Istio with basically an unlimited timeout (meshConfig.protocolDetectionTimeout=3600000s) and actually, things look good.  I have no idea what the downside is to removing the timeout, but my initial observation is that it seems to resolve the issue.

![image](https://user-images.githubusercontent.com/2104052/87881820-d2c5a880-c9c9-11ea-8a2c-f292d4cb5e5d.pn

[2020-07-19 18:50] mandarjog commented on #24379
The downside is that server first protocols will fail.

And from code and talking to @lambdai it seems that labeling port correctly with the protocol *does not* disable outbound Sniffing. This is only applicable for tcp ports.

If there is another way to opt-out specific ports/ip ranges for outbound sniffing then keeping detect timeout to ~infinity is the proper solution.

Whether there is an opt-

[2020-07-19 19:56] howardjohn commented on #24379
I am surprised you had issues with 5s timeout. My general opinion is we need to get to a point where there is infinite timeout to avoid all issues, but 5s is super high and would suggest the connection establishment is taking really long - there may be some other network issues going on

[2020-07-20 00:52] packyzbq commented on #25600
I finally solve this problem. I didn't set the ISTIO_VERSION and ENVOY_VERSION when I build the envoy image. But it is strange that these two args will affect the istio prefixed metrics.
Thanks @bianpengyuan very much.

[2020-07-20 00:52] #25600 closed

[2020-07-20 02:07] ggjjlldd opened #25640 "bookinfo, productpage.py error: Address family not supported by protocol"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I use bookinfo guide install it. but productpage pod is CrashLoopBackOff
[code]
here is log error:
[code]
**Affected product area (please put an X i

[2020-07-20 02:07] #25574 closed

[2020-07-20 02:20] sameerbhadouria commented on #10783
I am seeing "content-length: 0" header in the response (status code is 101 Switching protocols)  to our Websocket connection upgrade request.

We have Istio version 1.6.3 which uses Envoy version 1.4.1
I believe this should have been fixed - at least based on https://github.com/envoyproxy/envoy/issues/5554

Do I need to enable any flags for this to work?

[2020-07-20 03:24] honillusion commented on #25491
@GregHanson

I tried it as following and it still didn't work. Could you please review the configuration?

[code]

[2020-07-20 03:43] 13567436138 commented on #25634
[code]
i find pilot has this log

[2020-07-20 03:47] #24651 closed

[2020-07-20 04:10] 13567436138 commented on #25634
![image](https://user-images.githubusercontent.com/31508490/87898800-c735b880-ca81-11ea-8482-4c5a3c0565a2.png)
![image](https://user-images.githubusercontent.com/31508490/87898828-db79b580-ca81-11ea-9016-af6e0706619b.png)
![image](https://user-images.githubusercontent.com/31508490/87898848-ea606800-ca81-11ea-81d0-cb3a29e9d83d.png)
![image](https://user-images.githubusercontent.com/31508490/8789886

[2020-07-20 04:11] 13567436138 commented on #25634
the source code did not deal vs.tls,it only deal vs.http

[2020-07-20 04:49] dumindu commented on #24866
For minikube, we need to create another manifest including `--set values.global.jwtPolicy=first-party-jwt`. Ex.

- For production(eks)
[code]

- For Minikube
[code]

[2020-07-20 04:49] #24866 closed

[2020-07-20 05:03] jurgenweber opened #25642 "immutable label selector when attempting to customise an ingress gateway"
**Bug description**

When you have separate ingress gateways defined, as per https://preliminary.istio.io/latest/docs/setup/install/istioctl/#configure-gateways

It seems it still creates the deployment for the non standard gateway as per the defaults and then
attempts to patch the deployment, this has problems as it hits immutable fields:

[code]
I also deleted the deployment and let the operator

[2020-07-20 05:10] shamsher31 commented on #25626
Closed by https://github.com/istio/istio/pull/25635

[2020-07-20 05:10] #25626 closed

[2020-07-20 05:27] jurgenweber commented on #22253
@linuxbsdfreak I found this; https://preliminary.istio.io/latest/docs/setup/install/istioctl/#configure-gateways

but https://github.com/istio/istio/issues/25642

:)

[2020-07-20 05:47] vincentserpoul opened #25643 "Readiness systematic error and error count"
When I deploy a service with istio injection enabled, I systematically get:

    Readiness:  http-get http://:15021/healthz/ready delay=1s timeout=1s period=2s #success=1 #failure=30

Inside the describe of the istio-proxy pod.

Is that expected?

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance

[2020-07-20 05:59] istio-testing opened #25644 "[release-1.6] Update the base image versions to latest for bookinfo sample"
Manual cherrypick required.

#24967 failed to apply on top of branch "release-1.6":
[code]

[2020-07-20 06:20] hzxuzhonghu commented on #25621
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route_components.proto#route-routeaction-hashpolicy-cookie

According to envoy doc, it seems this is impossible

[2020-07-20 06:29] hzxuzhonghu commented on #25634
Route is built only for http protocol, here it is vs.http.
TLS is not for http, and is not processed here, which is done here `buildGatewayNetworkFiltersFromTLSRoutes`

[2020-07-20 06:50] shamsher31 commented on #25644
Will be close by https://github.com/istio/istio/pull/25645

[2020-07-20 06:50] #25644 closed

[2020-07-20 07:02] btoonk commented on #25570
After adding the label `security.istio.io/tlsMode: istio` to the workload entry mtls does indeed work.
But the source pod did not automatically pick up this change, it had to be restarted (Istio 1.6.5).

[2020-07-20 07:16] r-kotagudem commented on #25410
jwt rule forwardOriginalToken=true works

[2020-07-20 07:16] #25410 closed

[2020-07-20 07:59] 13567436138 commented on #25634
so，viturlservice tls config did not generate route info，only generate lds info？？

[2020-07-20 08:23] 13567436138 commented on #25634
![image](https://user-images.githubusercontent.com/31508490/87915819-34a71080-caa5-11ea-80af-24c6af82cc13.png)

[2020-07-20 08:26] 13567436138 commented on #25634
why is the route direct response 404

[2020-07-20 09:29] mazhuang96 opened #25650 "Missing istio-polit service after installation"
**Bug description**

After installing istio according to the documentation, the istio-polit service is missing.
I tried the `default` and `demo` configuration files to install, the result is the same.
I deployed the `bookinfo` example, it can be run normally, and the `kiali` tool can also be accessed normally.

[code]

[code]

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networki

[2020-07-20 09:43] shamsher31 commented on #25650
`istio-polit` is now a part of `istiod`. See this https://istio.io/latest/blog/2020/istiod/

[2020-07-20 09:43] #25650 closed

[2020-07-20 09:49] #19777 closed

[2020-07-20 09:56] shamsher31 commented on #25595
Closed by https://github.com/istio/istio/pull/25594

[2020-07-20 10:04] nc-ruth commented on #13589
I still think this is relevant, and should not be closed, thank you.

[2020-07-20 13:18] jshaughn commented on #24379
@howardjohn The 5s change made no difference to my setup, which is a straightforward OpenShift setup.  I don't know what it is about the travel demo but it shows the problem quite easily, and across various cluster types, minikube, OS, etc.  Bookinfo does not show the issue, which is a good reason to not run only bookinfo.  For @naphta the change to 6s did not solve the problem.  It seems to me th

[2020-07-20 13:23] stevenctl commented on #25625
Is anyone still seeing this? MC tests are passing on new PRs.

[2020-07-20 13:24] #22723 closed

[2020-07-20 13:45] GregHanson commented on #25491
@honillusion can you elaborate on what isn't working?

Are you still seeing problems with rejected configs?
[code]
Is anything `STALE`?  If so re-run with `istioctl proxy-status <podname>.<namespace>` to see what is different

If everything is showing as `SYNCED` in istioctl, what do the access logs look like? for the app istio-proxy container?  For one of the egress gateways?

[2020-07-20 14:20] nschhina opened #25652 "Server Identity is not verified if caCertificates are not set when TLS mode is SIMPLE or MUTUAL"
Currently, with SIMPLE or MUTUAL TLS set, if users don't pass in CaCertificates to verify server identity during TLS handshake to upstream server, no verification is performed by the client. This is documented in API as well as istio.io but a misconfiguration may still bypass the TLS handshake. We should validate the existence of CaCertificates in DestinationRule with TLS when the mode is set to S

[2020-07-20 14:23] nschhina commented on #25652
cc: @JimmyCYJ  @myidpt

[2020-07-20 14:30] nschhina opened #25653 "Add Egress SDS Perf tests"
Right now no Perf tests exist for SDS egress. We need to deploy at least 500 servers and clients with TLS origination from client using DR to test scalability.

[2020-07-20 15:05] esnible commented on #25634
Does `istioctl analyze` complain about any Virtual Services?

[2020-07-20 15:11] luisdalves commented on #22997
Hey Guys,

I'm stuck with the same issue. Is there any advance on this or maybe a workaround?

Thanks

[2020-07-20 15:14] esnible commented on #24603
Closing as a duplicate of https://github.com/istio/istio/issues/18900

[2020-07-20 15:14] #24603 closed

[2020-07-20 15:35] #25625 closed

[2020-07-20 15:55] bianpengyuan commented on #25595
This is to track clean up of `StateNameLength` in ProxyConfig, which is not done yet.

[2020-07-20 16:26] #25599 closed

[2020-07-20 16:37] bianpengyuan commented on #25571
Yeah this is a known issue. See https://github.com/istio/istio/issues/24379 for more context. We will try to increase the proto sniffing timeout to infinity in 1.7. Let me know if we can close this and track this in #24379.

[2020-07-20 16:38] cagataygurturk commented on #25571
Sure we can close this if this is already known. Thanks!

[2020-07-20 16:38] #25571 closed

[2020-07-20 16:45] bianpengyuan commented on #24379
@naphta To make sure your issue is around proto sniffing, could you try to turn it off and see if it is fiexed? https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#automatic-protocol-selection Please make sure that your deployment does not rely on proto sniffing for correctness before turning it off (i.e. service port has proper protocol prefix, No TCP service and

[2020-07-20 16:48] howardjohn commented on #25570
@btoonk do you intend to switch the label at runtime, or was it just because it was initially not setup? This label doesn't change at runtime in k8s so I am not too surprised if we don't have the logic to handle this dynamic update

[2020-07-20 16:48] howardjohn commented on #17098
???

[2020-07-20 17:10] pslobo opened #25657 "Istiod not pushing RDS to ingress-gateway in 1.6"
**Bug description**
 I have a relatively simple setup that was working fine in 1.5.4. When attempting to upgrade to 1.6, I noticed that ingress-gateway stopped working as expected. Health checks from the load balancer (GCP) failed and service came offline. When analysing, I noticed that `istiooctl ps` shows `RDS` as `NOT SENT` for ingress, no matter how long I wait.

With **1.5.4**, the following

[2020-07-20 18:09] kyaparla commented on #24753
@lambdai

Just looking for more details on what changed between 1.4 and 1.5 versions,  that introduced this?  Was transfer-encoding being interpreted differently before 1.5?

[2020-07-20 18:24] howardjohn opened #25659 "centralistiod test failures"
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/25636/integ-multicluster-k8s-tests_istio/7046

cc @GregHanson @stevenctl

[2020-07-20 18:26] #24775 closed

[2020-07-20 18:50] esnible commented on #21118
@ostromart Need advice on "'istioctl analyze' should look for namespaces labeled with non-existent ICP Revision."

One strategy would be to expect an IOP CR for every control plane a cluster knows about (self-hosted, multi-cluster, or "central").  This would allow `analyze` and also the "admin list" command proposed in https://github.com/istio/istio/issues/23892 to work.  Currently the IOP is opti

[2020-07-20 19:23] nschhina commented on #25544
Closing this as pointed out this is not a LDS misconfiguration error and seems like the problem is now resolved in istio.io

[2020-07-20 19:23] #25544 closed

[2020-07-20 19:50] howardjohn commented on #25657
Likely due to https://istio.io/latest/news/releases/1.6.x/announcing-1.6/upgrade-notes/#change-the-readiness-port-of-gateways? Can you change the port?

[2020-07-20 19:53] howardjohn commented on #25652
We probably cannot just make it required, its a breaking change. But we can have docs all show usage, have an analyzer, etc.

One thing we may want to consider. Putting `caCertificates: /etc/ssl/certs/ca-certificates.crt` kind of sucks. It would be nice to automagically use the system certs if its not specified. If a user wants to have no validation, we can add a new field `InsecureSkipVerify` or

[2020-07-20 19:55] howardjohn commented on #25643
Yes this is the readiness probe for the sidecar container

[2020-07-20 21:31] xulingqing commented on #22677
I solved the same installation problem by update my GKE from default 1.14 to the newest version 1.16.

[2020-07-20 21:34] howardjohn commented on #25587
Drop from release blocker to P2 as the initial issue is fixed, will keep open for discussion about changing overall

[2020-07-20 21:35] laurentiuspurba commented on #22677
@xulingqing Thanks for the response. RIght now, I have my cluster on 1.16, and I started the upgrade from 1.4.3 to 1.4.10 and it was a success. I did `istioctl version` to check and found the following:
[code]
Should I proceed upgrading to 1.5.8 and then to 1.6.4 or should I first find Isito 1.4.3 resource and delete it?

I tried the following command to find Istio 1.4.3 resource, but it returned

[2020-07-20 22:02] pslobo commented on #25657
Yeah, I had picked up on that change and tried that too. IIRC, had the same issue but will re-deploy 1.6 in the morning and try again. One thing I did notice however was the port seemed wrong in the demo profile (or default profile).

[code]

Likely nothing to do with this issue in particular, but something to look into I guess.

[2020-07-20 22:04] howardjohn commented on #25657
That part is fixed in https://github.com/istio/istio/pull/25635 (not yet
released)

On Mon, Jul 20, 2020 at 3:02 PM pslobo <notifications@github.com> wrote:

[2020-07-20 22:31] pslobo commented on #25657
Ok, re-deployed 1.6.5, and changed the port to `15021` and RDS still stuck in `NOT SENT` for ingress.

[code]
The thing is, that it's not just this health VirtualService, but seeing this with other VirtualServices I'm trying to define. Tomorrow I'll try with bookinfo service and see if I get the same issues.

[2020-07-21 00:29] sdake commented on #12602
Changing this to P0. @linsun if you don't have time to work on this prior to 1.7, would you mind unassigning yourself?

I am unclear what the actual problem is since this issue occurred in Istio 1.3. It sounds like there are two problems here:

- If not enough nodes are available to permit an eviction, an eviction doesn't occur (this seems normal and expected behavior).
- There is no way to drain

[2020-07-21 00:30] sdake commented on #12602
@tariq1890 ^

[2020-07-21 00:44] #25274 closed

[2020-07-21 00:50] istio-testing opened #25674 "[release-1.5] Change to comma separated value for app_container"
Manual cherrypick required.

#25441 failed to apply on top of branch "release-1.5":
[code]

[2020-07-21 00:50] istio-testing opened #25675 "[release-1.6] Change to comma separated value for app_container"
Manual cherrypick required.

#25441 failed to apply on top of branch "release-1.6":
[code]

[2020-07-21 02:01] vincentserpoul commented on #25643
So it's normal to systematically have **#failure=30**, whatever the deployment?

[2020-07-21 02:07] howardjohn commented on #25643
That doesn't mean there has been a failure it means it will be marked not
ready if the prohe fails 30x in a row

On Mon, Jul 20, 2020, 7:01 PM Vincent Serpoul <notifications@github.com>
wrote:

[2020-07-21 02:27] mazhuang96 commented on #25650
@shamsher31 Thank you.

[2020-07-21 02:53] howardjohn commented on #24220
https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/3086

[2020-07-21 03:03] shamsher31 commented on #25640
Closed by https://github.com/istio/istio/pull/25645

[2020-07-21 03:04] dozer47528 opened #25678 "`workloadSelector` result in ServiceEntry is wrong after change the labels in WorkloadEntry"
**Bug description**

[code]

I have a ServiceEntry with workloadSelector which can match the target WorkloadEntries.

If the WorkloadEntry is not available, I don't want to delete it, I just change the label to make it not match.

But after change the label `ready` to `false` in WorkloadEntry, I still can see the WorkloadEntry in Envoy `/clusters` apis

[code]

After changing the label, even if I

[2020-07-21 03:06] #24938 closed

[2020-07-21 03:08] 13567436138 commented on #25634
[code]

[2020-07-21 03:32] 13567436138 commented on #25634
the vs with tls config did not effected,when I delete this vs,the route is also blackhole

[2020-07-21 03:56] howardjohn commented on #17098
@therealmitchconnors what is going on?

[2020-07-21 04:12] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25664/integ-multicluster-k8s-tests_istio/7135

[2020-07-21 04:44] mandarjog commented on #17098
The bot believes that there should not be any more work on this issue.

[2020-07-21 05:35] vincentserpoul commented on #25643
Thanks for your prompt response @howardjohn !

As I read it, it would mean that:
After **1s (delay)**
the ready endpoint of istio-proxy was probed **every 2s (period)** for **30 times (#failures)**

That would mean a starting time of **more than 1mn**, which is not the actual starting time (the pod is readt within a few seconds).
Adding to that, this 30 failures appear right at the beginning of th

[2020-07-21 05:45] harpratap opened #25683 "Istioctl manifest generates hpa when not specified"
**Bug description**
`istioctl manifest generate -f values.yaml` creates a default HPA for istio-ingressgateway deployment even though it wasn't specified. This creates an issue where if you define 20 replicas of gateway, the default hpa will kick in and reduce it to 5. We don't want to rely on HPA at all, hence prefer not to use it.

**Affected product area (please put an X in all that apply)**
[

[2020-07-21 05:45] mandarjog opened #25684 "Panic in Multicluster-test setup: Concurrent Map"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25589/integ-multicluster-k8s-tests_istio/7128

[code]

[2020-07-21 05:49] #13327 closed

[2020-07-21 06:18] lanceliuu opened #25685 "Istio is picking up new virtualservice slowly"
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[X] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[ ] Multi Cluster
[ ] Virtual Machine
[ ] Multi Control Plane

[2020-07-21 07:42] aroundthecode commented on #24695
Hi there,
I've more or less the same problem, I'm on K8 1.12.6 and istio 1.0.5 but i'm unable to figure out most recent working version.

I've tried 1.6 but istiod told me minimum version is 1.13

It would be really useful a compatibility matrix k8-istio versions in docs without having to download and try every version setup (supposing older version would run such check)

[2020-07-21 07:49] pantianying opened #25688 "[1.8] 'istioctl verify-install' fails on Kubernetes 1.18"
**Bug description**

After installing version 1.6.5 according to the instructions on the official website, I use istioctl verify install to verify the cluster deployment. The following error was returned:
[code]

YAML:
[code]

This makes it unclear to the user whether the installation has been completed correctly.

can someone help me tell where is worry ? ths

**Affected product area (please put

[2020-07-21 08:19] honillusion commented on #25491
It couldn't connect both of the redis clusters and all was SYNCED in result of "istioctl proxy-status".

Client istio-proxy access log
[code]

Egress gateway istio-proxy access log
[code]

For test, I installed two tcp services so that port of the logs was 9000.

[2020-07-21 09:06] fgather commented on #24800
I see this issue on a kubespray cluster as well and it seems to happen sporadically if the target of the grpc calls is redeployed. However, in some cases it is not possible to recover from that and the pods initiating the grpc calls are never again able to communicate to the grpc service until restarted.

[2020-07-21 09:09] fahdrazavi opened #25689 "Istio 1.1.6 multiple pods not in running state"
We're trying to set up Kubeflow on a single-node cluster.  We're facing issues with getting the istio-system up and running; upon checking we found the version to be 1.1.6. Please find below the current status of the pods.

[code]
Here are logs for some of the pods as well
**istio-egressgateway**
[code]
**istio-pilot (container: istio-proxy)**
[code]

[2020-07-21 09:36] packyzbq opened #25690 "Mips64 architecture support"
Hi, I need to run istio on mips64el architecture. I enconter some problem when compile istio proxy.

I wonder if there is an instruction to cross build istio proxy using bazel for mips64el ?

[2020-07-21 09:39] pslobo commented on #25657
Still on the issue of the statusPort, I noticed something weird in the logs and on a hunch tried:

[code]

So, while the service is indeed exposing port 15021, envoy seems to still be configured with 15020 (or am I missing something here.)

[2020-07-21 09:59] naphta commented on #24379
@bianpengyuan I can turn it off to see if there's any change but specifically in my case I am using the prometheus scrape annotations, and the unknown traffic is the prometheus scraping as far as I can tell.

[2020-07-21 10:14] IbraheemAlSaady commented on #22400
@howardjohn, is there a documentation for that somewhere?

[2020-07-21 10:34] IbraheemAlSaady commented on #22400
@howardjohn I can't seem to find a way to set another gateway controller in the PR you shared
So something like this: `kubernetes.io/ingress.class: istio-internal`, possible?

[2020-07-21 11:05] pslobo commented on #25657
@howardjohn sorted this out. Ashamed to admit the cause, but was my fault. Not sure if this was in the release notes and I missed it, or if it wasn't in the release notes, but anyway, the problem was a simple one.

With 1.5.4, when `ingressGateway.enabled=true` istio creates the service, deployment and also creates a default Gateway which I was using (instead of creating my own for my services). I

[2020-07-21 11:11] sdake commented on #25572
I have built envoy and found the envoy output is not built locally with BUILD_WITH_CONTAINER=1. To speed up development, I have added /home/.cache which bezel depends on to build software. This reduces the build time from 20 minutes to 6-12 seconds on my gear.

Cheers,
-steve

[2020-07-21 11:13] sdake commented on #25572
@myshkin5 in newer version of Istio, the build system has evolved and improved in ways that make what you have done just not work :(.

Part of the problem is nobody ever put the proxy container on the container build plan. Its a real shame that hasn't happened yet, well better late than never. I'll take a look when I have time.

Cheers
-steve

[2020-07-21 11:14] sdake commented on #25572
@Vivek-anand-jain as you can see, proxy in the latest istio doesn't build an output at all. All I see are symlinks in the /work directory of the container. I am fixing this shortly - hopefully- so that output files are copied as part of the build to the host  filesystem.

Cheers,
-steve

[2020-07-21 12:57] chris-str-cst commented on #13394
I'm currently facing exactly the same issue. Did you figured out a solution @zoltrain?

[2020-07-21 13:00] caitong93 commented on #25495
Hi, I'm colleague of @ethanhanjiahao . we have reproduced that pilot send bad config to envoy, it is similar to https://github.com/istio/istio/issues/20295 .

To make it easier to reproduce, we disable pilot GC to simulate OOM and set pilot replicas to 1, set initial readiness probe delay seconds to 60s .

The timeline is as following:

07:16:46 pilot OOM , config grpc closed , envoy first try to

[2020-07-21 13:35] howardjohn commented on #24695
See https://istio.io/v1.5/docs/setup/platform-setup/ and you can replace the version with older versions as well. We are considering adding a table you suggested but the pr isn't approved

[2020-07-21 13:37] howardjohn commented on #25643
That number is describing the spec of the pod, it's not dynamically
changing. The It takes 1 success to become ready, but 30 failures to become
not ready

On Mon, Jul 20, 2020, 10:35 PM Vincent Serpoul <notifications@github.com>
wrote:

[2020-07-21 13:41] naikajah commented on #22068
did anyone managed to get this running in Istio 1.6.5?  I have my configuration taken from @aboullaite @devstein @gargnupur but this worked in Istio 1.5.0 but it doesn't work in Istio 1.6.5. My configuration is exactly same as it is described here
https://github.com/aboullaite/service-mesh/tree/master/4-policy/rate-limiting

[2020-07-21 13:47] #25643 closed

[2020-07-21 14:00] howardjohn opened #25693 "install-cni should use standard base images"
Currently install-cni use ubuntu:xenial as the base image. It should likely use istio/base and/or distroless like all of our other images.

Also it may consider using a precompiled `jq` (https://github.com/stedolan/jq/releases) since apt is super slow

cc @bcheung @stewartbutler

[2020-07-21 14:05] howardjohn commented on #25495
Thanks for the findings! @ramaraochavali I thought you had some code for  this, did it get lost?

[2020-07-21 14:13] jdomag opened #25695 "error unmarshalling config dump response from Envoy"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I follow the canary upgrade procedure described [here](https://istio.io/latest/docs/setup/upgrade/), however i've used profile to generate istio man

[2020-07-21 14:13] ramaraochavali commented on #25495
No. There we have only handled the case for local Envoy by pushing https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/server.go#L362 and relying on readiness probes for other Envoys?

There are two issues I see here
- In Istiod we do not have a check in readiness probe that validates caches have been synced. It is easy to add that.
- Based on the above description, it looks like  even

[2020-07-21 14:16] jbilliau5668 commented on #20946
I'm having the exact same issue @bommavj and @NicklasWallgren , did you ever figure this out?

[2020-07-21 14:20] linsun commented on #25145
@howardjohn indicated Istio may not have a release that include the envoy version yet.  @lambdai can you confirm which envoy version has the memory release fix?  Thanks!

[2020-07-21 14:25] linsun commented on #25685
How is pilot doing?  Is workload properly distributed to each pilot instance?

Also, can you describe your scenario on fast you are applying these VSs?  And can you disable telemetry v2 if you are not using it?

[2020-07-21 14:25] howardjohn commented on #25495
Yeah sounds reasonable to reject connections. Note: our syncing is still
broken a bit, see https://github.com/istio/istio/pull/24339

On Tue, Jul 21, 2020 at 7:13 AM Rama Chavali <notifications@github.com>
wrote:

[2020-07-21 14:27] ramaraochavali commented on #25495
Ok. I will take a look and push a PR then

[2020-07-21 14:29] esnible commented on #18900
@richardwxn @ostromart Is this handled by https://github.com/istio/istio/pull/25076 ?  May I close it?

[2020-07-21 14:31] satishmane opened #25696 "mutul tls egress using egress-gateway-tls-origination example does not work."
**Bug description**

Mutul tls origination example using egress gateway does not work as per steps given in the example. Looks like path used for serverCertificate is wrong as it does not exists anywhere in the example

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Polici

[2020-07-21 14:31] esnible commented on #24114
Everything for 1.7 has been completed or retargeted for 1.8.  Closing.

[2020-07-21 14:31] #24114 closed

[2020-07-21 15:04] esnible commented on #24471
@douglas-reid The `analyze` PR should do the work.  Please review https://github.com/istio/istio/pull/25694 .  If you like it I will get someone in UX to review it.

[2020-07-21 15:06] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25672/integ-multicluster-k8s-tests_istio/7165

[2020-07-21 15:06] esnible commented on #22054
This is marked P1 for 1.7 yet no one is assigned to it.  I thought `telemetry` was doing it.  Can we retarget for 1.8?  For 1.8, which working groups need it on their roadmap?

[2020-07-21 15:08] esnible commented on #23479
Is this working?  How do I test it?

[2020-07-21 15:10] esnible commented on #24350
Is this in plan for 1.7?

[2020-07-21 15:13] ericvn commented on #23823
I believe this is finished for proxy. There are a number of PRs involved, but lasted test-infra is https://github.com/istio/test-infra/pull/2808 and in istio https://github.com/istio/istio/pull/25651.

[2020-07-21 15:19] esnible commented on #24819
@adiprerepa ideal visibility would be the webhook rejecting it.

`istioctl validate -f ` reports `* IstioOperator/istio-system/issue24819: could not unmarshal: json: cannot unmarshal number into Go value of type string` and the webhook should have a message at least as good as that.

[2020-07-21 15:19] esnible commented on #24819
@ostromart Is this still P0 targetting 1.7?

[2020-07-21 15:20] ericvn commented on #23823
Currently istio/proxy uses envoyproxy/envoy-wasm as as source and there isn't a way for adding automation for that change.

For now, I don't think there is any additional work we can do. Please feel free to reopen if I missed something or additional work is needed.

[2020-07-21 15:20] #23823 closed

[2020-07-21 15:21] ZhuangYuZY commented on #25685
@linsun how to check the pilot if doing well ? In our case, from the diagram(blue line), the delay is increasing continually when we create knative service, each knative service will create one VS to config route in istio gateway.

And the output is of `testabc` is result of config route in istio gateway after we created 800 knative service, existing 800 knative service causes 1 min delay from VS

[2020-07-21 15:22] NicklasWallgren commented on #20946
@jbilliau5668 Yes, have a look at https://github.com/istio/istio/issues/22875

[2020-07-21 15:24] esnible commented on #23889
@ostromart Is there a document for our most recent thoughts about this?

[2020-07-21 15:25] esnible commented on #18487
@shamsher31 Are you working on this?  Status?

[2020-07-21 15:31] esnible commented on #22934
I marked "istioctl user-facing commands without kube-exec and port-forward #24114" done.

[2020-07-21 15:32] esnible commented on #23496
@mandarjog is this still 1.7?

[2020-07-21 15:35] esnible commented on #24920
Let's retarget this for 1.8.

Do you have thoughts about what it would look like?

It would be good to have something that combines a view of EnvoyFilter, proxy-status going stale, and logging produced by Envoy for WASM extensions.

[2020-07-21 15:35] howardjohn opened #25700 "Suspicious envoy warning: Unable to use runtime singleton for feature envoy.reloadable_features.activate_fds_next_event_loop"
Running proxy always shows this warning: `Unable to use runtime singleton for feature envoy.reloadable_features.activate_fds_next_event_loop`.

Need to figure out if its a real issue or not.

[2020-07-21 15:37] #23537 closed

[2020-07-21 15:40] nickperry commented on #25320
@howardjohn - @douxiaofeng99 is correct.
Neither
--set values.global.hub
--set values.global.tag
or
--set hub
--set tag
work with istioctl install.

They do however work with istioctl manifest generate.

It should also be noted that istioctl install does not support --hub or --tag unlike some other istioctl sub-commands.

Per https://istio.io/latest/docs/reference/commands/istioctl/#istioctl-insta

[2020-07-21 15:42] linsun opened #25701 "Addon transition - provide an option for operator to clean up addons"
**Describe the feature request**

In 1.8, Addons are going to be removed.  We had discussed operator not to do anything about the addons installed by operator in prior release by default so that users have chance to install addons themselves and clean up at the right time.

There is an desire from our team to have an option to remove these operator installed addons in case users already have addon

[2020-07-21 15:49] kramvan1 commented on #25701
+1

[2020-07-21 16:21] fpesce commented on #25119
FYI: how outdated is https://docs.google.com/document/d/14Xfe9V0vv8d7W75c21d-cY2XyK6xvRH0_Kg8j_zfh4Y/edit#heading=h.xw1gqgyqs5b ?

[2020-07-21 16:27] howardjohn commented on #25119
That doc is up to date

[2020-07-21 16:31] code98 opened #25702 "Egress Gateways cannot get the source of the pod"
I want to use Egress Gateways to control which workloads can access the /path of a specified external service.

E.g:
Service A can access google.com/a
Service B can access google.com/b

Service A cannot access google.com/b
Service B cannot access google.com/a

Both Service A and Service B have sidecar enabled

Egress Gateways cannot get the source when doing the check.
I observed the policy log an

[2020-07-21 16:34] douglas-reid commented on #24920
@esnible we need to see what metrics get exported when the dust settles. I don't know that we want to expose anything re: envoy filters, but perhaps. I was more thinking proxy-wasm info on success/errors in loading extensions, number of invocations of extensions, etc.

@mandarjog thoughts here?

[2020-07-21 16:34] douglas-reid commented on #23496
there is no work that I know of that was done for this in 1.7

[2020-07-21 16:35] douglas-reid commented on #22054
There was some work done on this, but it did not get fully completed in this cycle.

[2020-07-21 16:37] douglas-reid commented on #24350
It is actively being worked, but I'm nervous about completion for 1.7.

[2020-07-21 16:39] mlazowik commented on #25153
This can be achieved by a following set of pod annotations:
[code]

Requires version `1.6.1` (`1.6.0` had a bug affecting the proxy config annotation).

[2020-07-21 16:41] Stono commented on #23496
Seeing as there are several things like this since telemetryv2, is it correct to continue to mark things like “client and server telemetry reporting” and “traffic control” as “Stable” on the features https://istio.io/latest/about/feature-stages ?

Stable being “Dependable, production hardened”

[2020-07-21 16:43] jasonwzm commented on #24829
Does json marshal correctly copy IstioOperator? The other Istio APIs all rely on gogo's proto clone for DeepCopy. This could be an issue for protos that use Struct.

[2020-07-21 16:53] stevenctl commented on #25684
fixed by https://github.com/istio/istio/pull/25664

[2020-07-21 16:53] #25684 closed

[2020-07-21 16:57] douglas-reid commented on #23496
@Stono i understand your frustration. there are definitely gaps that remain between v1 and v2 that we need to be clear about.

For this particular issue, however, I'm not sure this represents a regression. I don't believe we've ever had source telemetry working for mirrored traffic. Issues #11475 and #11093 (linked above) pre-date the switch to proxy-based telemetry.

This is something that defini

[2020-07-21 17:00] naikajah commented on #22068
Managed to make it work on a clean minikube environment. So think it might be some stale config.

[2020-07-21 17:02] lambdai commented on #25145
@linsun I guess you care about the istio-proxy?

The earliest version we have the aggressive heap shrink is istio 1.6.0.
It trigger a release attempt when there is xds response

[2020-07-21 17:10] bnerDY commented on #12019
please make sure it is using string ***"1"*** for the workaround .....

[2020-07-21 17:11] kyessenov commented on #23496
I don't think there's anything for mirrored traffic at the source. All istio features (authz, networking, telemetry) do not apply for mirrored traffic at the source. I think we managed to fix the trace propagation but that's about it.

[2020-07-21 17:11] nschhina commented on #25696
Closing this issue as this is a duplicate of the ISTIO_MUTUAL issue which was recently fixed and expectation is 1.7 has no doc test failures relating to gateways

[2020-07-21 17:11] #25696 closed

[2020-07-21 17:15] lambdai commented on #25145
The envoy memory release fix I am referring to is the heap space kept by tcmalloc.
It helps when you have a spike of memory usage but not longer use that memory after.

If you see memory usage increasing consistently, I am pretty sure the above aggressive release doesn't help

[2020-07-21 17:19] stewartbutler commented on #25693
I don't think we have a dependency on `jq` anymore, with the installer converted to go. One of the motivations for making that transition was to allow us to run in a distroless binary. I'll pick this up and move the install-cni image over.

[2020-07-21 17:34] stevenctl commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25139/integ-multicluster-k8s-tests_istio/7197

[2020-07-21 17:41] bcheung commented on #25693
One thing to note, I used jq in the install-cni e2e tests to remove Istio CNI's config from the CNI config file. https://github.com/istio/istio/blob/master/cni/deployments/kubernetes/install/test/data/remove_istio_cni.sh

[2020-07-21 17:53] stevenctl commented on #25659
For some reason we're intermittently deploying to cluster-2 twice. I do not see this in successful runs and it never occurs for `multicluster/remote`

<pre>

2020-07-21T17:41:41.526353Z	debug	tf	Adding resource for tracking: [suite(multicluster_centralistio)]/[*istioctl.kubeComponent-0]
2020-07-21T17:41:41.526458Z	debug	tf	Adding resource for tracking: [suite(multicluster_centralistio)]/[*istioctl

[2020-07-21 17:54] jbilliau5668 commented on #22875
so @NicklasWallgren , I am getting this when trying to use Terraform to build an EKS cluster, then lay Istio on top. My kubeconfig is this:

[code]

Are you saying replace `certificate-authority-data` with just `certificate-authority`? I was wondering what the difference is, it seems only AWS documentation refers to the -data suffix, most other examples it's just `certificate-authority`. What do y

[2020-07-21 17:55] howardjohn commented on #24458
Closing as this has been fixed

[2020-07-21 17:55] #24458 closed

[2020-07-21 17:57] linsun commented on #25145
Thanks @lambdai !  @zhanggbj can you try istio 1.6.x and report back?

[2020-07-21 18:11] #22825 closed

[2020-07-21 18:18] SU34 opened #25706 "Prometheus with Istio Proxy not scraped metrics from all Pods"
We have ***Prometheus*** in ***OpenShift*** in one **namespace** (for example: "**TestNamespace**"), which is scraped metrics from ***two or more*** **PODs** of something *Application* (named **TestApp** for example) in the same **namespace**.
Prometheus scrape metrics in the mode: "***service***" ("**role: service**" - in the file: "**prometheus.yaml**"), as result it scraped by **round-robin** f

[2020-07-21 18:34] stevenctl commented on #25659
cluster-2 has `"Unable to attach or mount volumes: unmounted volumes=[istiod-ca-cert], unattached volumes=[gatewaysdsudspath config-volume ingressgateway-ca-certs istio-ingressgateway-service-account-token-psw5s istiod-ca-cert ingressgateway-certs istio-token podinfo istio-envoy]: timed out waiting for the condition"`

@GregHanson  Looking at the [istiod logs](https://storage.googleapis.com/istio-

[2020-07-21 18:38] carolynhu opened #25709 "istio/tools: investigate istio-proxy memory usage for perf benchmark test"
Context:
https://github.com/istio/tools/pull/1093

and we already restart proxy between each test https://github.com/istio/tools/blob/master/perf/benchmark/run_benchmark_job.sh#L290
it seems that a restart will not kill memory

@lambdai  if there is any shared memory that is help between quitquitquit initiated restarts?

[2020-07-21 18:45] SecurityInsanity commented on #24473
FWIW for future release managers creating the branches can be done with:

[code]

This will go one by one, and let you stop both before and after cloning each so you can validate the branches are being created correctly.

[2020-07-21 18:54] jwendell commented on #24473
There's an automation process being written for 1.8. It was planned for 1.7 but it didn't make it in time for today.

[2020-07-21 18:56] carolynhu commented on #25709
@lambdai please take a look

[2020-07-21 18:58] #25581 closed

[2020-07-21 19:07] codyja commented on #23242
I use `istioctl manifest generate` to gen a default manifest and it gives me the "unable to parse" errors also.
[code]

[2020-07-21 19:19] lambdai commented on #25709
quitquitquit kill the envoy process. The memory is absolutely returned to OS

[2020-07-21 19:53] lambdai opened #25713 "Better transport security for TCP"
Create this to track progress and as a reference by #24540

[ ] envoy: any metadata in H2 connect
[ ] envoy: user space connection
[ ] istio: dispatch H2 connect at ingress sidecar
[ ] istio: encapulate TCP traffic to h2 tunnel at egress sidecar
[ ] istio: encapulate client TLS traffic
[ ] istio: clean up. Deprecate connection pool settings in DR, part of per port setting

[2020-07-21 19:56] jshaughn commented on #24379
@bianpengyuan I tested some more using Istio 1.6.5 and found one odd thing.  When running 1.6.5 defaults I see the problem like I ususally do, as in the original video and screenshots above.

When I install Istio 1.6.5 with an explicit ` --set meshConfig.protocolDetectionTimeout=5s` I actually saw better behavior.  I still see some bad traffic but less often.  It makes me wonder whether the defaul

[2020-07-21 19:59] bianpengyuan commented on #24379
I need to double check, but the reason should be that the option controls both inbound and outbound timeout, while the default setting in 1.6.5 only update the default at outbound.

[2020-07-21 19:59] lambdai commented on #24540
The major
DR could actually turns the http traffic to TLS traffic when [`ClientTLSSettings.TLSmode` ](https://istio.io/latest/docs/reference/config/networking/destination-rule/#ClientTLSSettings-TLSmode) is imported.

This traffic is not handled correctly without the envoy infrastructure which is supposed to carry tcp traffic.

Will switch to BTS for tcp and return to this topic.

[2020-07-21 20:19] liamawhite commented on #24829
I think the json marshal does work otherwise the operator wouldn't be able to use patches at all?

[2020-07-21 20:22] jasonwzm commented on #24829
Where is DeepCopy used in Operator?

[2020-07-21 20:26] liamawhite commented on #24829
[This](https://github.com/istio/istio/blob/master/operator/pkg/apis/istio/v1alpha1/deepcopy.go#L41 ) is used under the covers by the controller-runtime I believe. It calls `json.Marshal` of the kube wrapper for spec which presumably calls `json.Marshal` of the spec.

[2020-07-21 20:42] lambdai commented on #25709
Meeting record:

Base line: start envoy, receive config from pilot but doesn't carry traffic. So base line is not supposed to be 0 memory usage.

[2020-07-21 20:42] jasonwzm commented on #24829
Okay, so it seems that IstioOperator in istio/istio is a kubernetes type with spec being istio/api's IstioOperator. The DeepCopy in istio/istio does not rely on the DeepCopy in istio/api. @ostromart What do you think if IstioOperator uses json Marshal instead of proto Clone for its DeepCopy in istio/api?

[2020-07-21 20:52] shshek commented on #14983
I am currently on Istio 1.6.5 and need to implement the regex rewrite where a sample URL : https://example.com/admin/v2/products?key=1 is expected to be https://example.com/admin/v1/products?key=1

The problem here is that the url parameters before or after v2 are unknown to me, and I just know if it has v2, I need to replace it with v1. Any inputs on that? I tried to make it work on the bookinfo

[2020-07-21 21:03] carolynhu commented on #25709
I will try to switch to query from envoy: localhost:15000/memory endpoint
[code]

where the current measure of container memory is approximately equals "heap_size": "33554432",
and we can use “allocated” memory, which is the allocated usage.

memory allocator: “heap_size” - “allocated”

[2020-07-21 21:12] tcdowney commented on #18636
Can this be reopened?

Just wanted to add that it's confusing to see something like this:
[code]

when running `istioctl version` to see what specific version of Istio is deployed. :)

[2020-07-21 21:19] lambdai commented on #25709
The major concern is that allocator's usage is unpredictable. It may impact your linear regression calculation.

[2020-07-21 21:27] howardjohn commented on #18636
I am pretty sure that is a different issue, are you running an istioctl
from an official Istio release?

On Tue, Jul 21, 2020 at 2:16 PM Jonh Wendell <notifications@github.com>
wrote:

[2020-07-21 22:12] howardjohn commented on #25333
https://github.com/istio/test-infra/pull/2761
https://github.com/istio/release-builder/pull/307

[2020-07-21 22:33] myidpt commented on #25652
I agree not making it a breaking change. But we can improve docs, add validators to prevent new configs with the issue and implement an analyzer for 1.6 and 1.5 (if 1.5 has analyzer), so that when users upgrade minor versions, they will get notified if the existing config is problematic.

Automatically using the system certs doesn't sound quite right to me. Since this is implicitly changing Envoy

[2020-07-21 22:40] howardjohn commented on #25652
That is part of the complexity that would be nice to avoid. Its actually not really possible to properly define a Destinationrule with system certs today, because my pods/VMs may all have different location for the certs.

I am not sure why system certs is wrong. This is the default of many http clients (curl, golang). Its clearly better than no verification, which we do today

[2020-07-21 22:50] myidpt commented on #25652
Yes, it is better than no verification. But we will fix it by blocking DRs without caCertificate defined, via the validator.
For security, will security-sensitive companies choose not to trust the system roots? I'm having concerns. Maybe that's not a big issue since this only happens when users don't define a caCertificate. I'm still open to both choices given the tradeoffs. We can discuss in the

[2020-07-21 22:52] stevenctl commented on #25500
Seems like a better ux for the multi-tenant + NetworkPolicy use-case (and others) to allow users to set this at the Namespace level. The order of precedence would be Pod > Namespace > Mesh Config. WDYT? @costinm @nmittler

[2020-07-21 22:57] Quarky9 commented on #25683
We ran into the same "issue", but you can disable the hpa by setting:
[code]
via the Helm values.

[2020-07-21 23:10] nschhina commented on #25652
It is a breaking change but only for new DR deployments. And it only breaks insecure instances which imo is not that undesirable.

I purpose we do this as a two phase change:
1. Validator will start blocking any such DR starting Release 1.7
2. Analyzer will report this as an error and we can cherrypick that to 1.6 and 1.5(if analyzer exists in 1.5)

[2020-07-21 23:31] howardjohn commented on #25652
@nschhina the idea is good in theory but in practice its challenging. There is no real way to apply to "new DR"s. For example, if I take my existing code and apply to a new cluster, everything breaks. If I edit 1 unrelated field, suddenly its invalid. Overall changing validation is always a breaking change IMO.

[2020-07-21 23:51] howardjohn commented on #25689
istio 1.1 was EOL a year ago: https://istio.io/blog/2019/announcing-1.1-eol/. Please upgrade, we cannot help support ancient versions. Its very likely this is fixed since then

[2020-07-21 23:51] #25689 closed

[2020-07-21 23:54] nschhina commented on #25652
That's what I'm saying but I'd argue- breaking something suddenly that fixes a security vulnerability isn't very undesirable :) Also 1.7 release a good opportunity since we can add this to release notes so people are aware

[2020-07-22 00:11] douglas-reid opened #25725 "Fix needed: thrift rate limiting based on deprecated Mixer client config APIs"
As part of removing Mixer entirely from the Istio codebase, I discovered that the Thrift rate limiting integration that was added awhile back was depending on deprecated Mixer APIs. In removing those APIs from the codebase, we will break thrift rate-limiting support. By doing the Mixer removal at the beginning of this dev cycle, we should have plenty of time to discover a workaround for restoring

[2020-07-22 00:26] honillusion commented on #25491
@GregHanson It couldn't connect both of the redis clusters and all was SYNCED in result of "istioctl proxy-status".

Client istio-proxy access log
[code]

Egress gateway istio-proxy access log
[code]

For test, I installed two tcp services so that port of the logs was 9000.

[2020-07-22 00:31] #24192 closed

[2020-07-22 00:53] harpratap commented on #25683
@Quarky9 Thanks a lot!
Maybe it's better to move this to `kubernetesResourceSpec.hpaSpec.Enabled`
I wasn't able to discover this setting in the documentation for helm values here either - https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/

[2020-07-22 01:00] mk23w-vmware opened #25727 "istio_total_requests not generated when Isitio 1.6.5 is installed(using demo profile) in a non-default namespace"
**Bug description**

The istio_total_requests metric is not generated for Bookinfo services when Isitio 1.6.5 is installed (using demo profile) in a non-default namespace.

I installed Istio 1.6.5 using the demo profile but install it in the mikes-istio-services namespace instead of in istio-system, then install the BookInfo demo in the default namespace using these instructions:
https://istio.io/

[2020-07-22 01:01] #23717 closed

[2020-07-22 01:29] bianpengyuan commented on #25727
Looks like rootNamespace is still set to `istio-system` in your deployment. You will need to set it to your namespace (`--set meshConfig.rootNamespace=your-namespace`) in order to make telemetry v2 configuration in that namespace take effect.

[2020-07-22 02:23] sanigo opened #25728 "No graceful way to add custom recording-rule to default installed prometheus?"
In the best practice document: [Observability Best Practices](https://istio.io/latest/docs/ops/best-practices/observability/#workload-level-aggregation-via-recording-rules).
I have studied the istio installation document and yamls, to find out that currently there is no graceful way to do that.
The version is **1.6.5**
Have I missed something?

[2020-07-22 02:47] dengqian opened #25730 "UDP protocol support"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We are using Mosn as data plane and added udp_proxy feature to Mosn. So I want to know can istio support transport protocol config in LDS and udp_proxy CRD, or if there is any plan to support it? Thanks a lot.

[2020-07-22 02:49] zhanggbj commented on #25145
Thanks @linsun @lambdai for the details! We'll take a try on Istio 1.6.x and get back later.

[2020-07-22 03:24] satishmane commented on #25696
@nschhina thanks
Can you please me understand that documented example in "mutual TLS origination with an egress gateway" section does not work because of which duplicate issue. Can you please provide reference here.

What is workaround for egress traffic using egress g/w/ which uses certs for connecting to external service.

[2020-07-22 03:32] carolynhu opened #25731 "istio/tools: fix benchmark_check_tools aka perf test presubmit job failure"

[2020-07-22 03:39] nschhina commented on #25696
@satishmane  follow the tasks on preliminary.istio.io they are not broken

[2020-07-22 03:42] carolynhu commented on #25129
run "goimports"?

[2020-07-22 03:44] satishmane commented on #25696
@nschhina thanks. Understood.

[2020-07-22 05:01] #19792 closed

[2020-07-22 05:02] #19794 closed

[2020-07-22 05:02] #19796 closed

[2020-07-22 05:02] #19797 closed

[2020-07-22 05:02] #20014 closed

[2020-07-22 05:04] iandyh commented on #25530
https://www.dropbox.com/s/n00h5hbbsq4alm2/profile003.pdf?dl=0

I put the profile result here as a reference.

[2020-07-22 05:05] #21932 closed

[2020-07-22 05:35] douglas-reid commented on #12818
Not stale. Reopening.

[2020-07-22 05:40] colt-rex opened #25734 "upstream connect error or disconnect/reset before headers"
**Bug description**
Large requests over http frequently give an error `upstream connect error or disconnect/reset before headers. reset reason: connection termination`. With the bookinfo application but no sidecar, sending a 3MB file fails roughly 3% of the time. With the sidecar proxy enabled, sending the same 3MB file fails roughly 10% of the time.

The detailed output from curl on a failed requ

[2020-07-22 05:46] sdake commented on #25701
cleaning up the addons is not impossible but difficult. As the deployments are labeled by app=`addon`, they are easy to remove. I am not sure if the configmaps and other things installed with the addons are also labeled. Will take some time to dig through the repo to answer this question.

The real question is a flag really needed? This will require a change to the API repo. I don't have a strong

[2020-07-22 06:17] egegunes commented on #13085
I enabled HTTP/1.0 support with IstioOperator using @Quarky9 's method:

[code]

[2020-07-22 06:36] xinxinzhao1212 opened #25735 "istio 1.6 Control Headers and Routing"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
In istio i want to add a header when the request passthrough the ingressgw

**Describe alternatives you've considered**
follow this link https://archive.istio.io/v1.5/docs/tasks/policy-enforcement/control-headers/
I have used the guide to write a en

[2020-07-22 06:46] 13567436138 commented on #24803
how to solve this problem  cannot get api.service

[2020-07-22 07:03] 13567436138 opened #25736 "can not get metrics value of api.version api.service api.operation"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

[code]

![image](https://user-images.githubusercontent.com/31508490/88144995-5979c000-cc2c-11ea-9ad4-76bc7db40c3f.png)

**Affected product area (pl

[2020-07-22 07:05] mk23w-vmware commented on #25727
This worked. Thank you @bianpengyuan!

[2020-07-22 07:05] #25727 closed

[2020-07-22 08:30] lanceliuu commented on #25145
After upgrade to 1.6.5 I noticed that the memory of ingress-gateway could be released after I deleted the virtualservices.

The memory drops to ~700MB after I cleaned up all VSs.
![image](https://user-images.githubusercontent.com/62631896/88152725-05c0a400-cc37-11ea-9c58-c04c03f6a307.png)

But the memory used by istiod remains high and could not get released (max 6.2GB and average 4.4GB).
![image]

[2020-07-22 08:36] ZhuangYuZY commented on #25685
@linsun we tested this case on istio 1.6.5, the behavior is same. Thank you.

[2020-07-22 09:10] nayan-kalita opened #25740 "Not seeing envoy TCP access log in the TCP proxy"
HTTP requests are appearing in the stdout of the sidecar proxy but not TCP.

[2020-07-22 09:12] nayan-kalita commented on #25740
control plane version: 1.6.5
data plane version: 1.6.5

[2020-07-22 09:43] naikajah commented on #22068
Hi @blankley, I can't get it to work for sidecars with SIDECAR_INBOUND with this configuration. Could you please let me know how your service configuration looks like?

[2020-07-22 09:49] jdomag commented on #25695
uhhh i used istioctl 1.5.2 to execute the command "istioctl proxy-config endpoints" that's why it was broken. When i switched to istioctl v1.6.5 it returns correct output.

[2020-07-22 09:58] nickperry opened #25741 "It is not possible to use the istioctl upgrade command in an offline environment that does not have access to github"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
It is not possible to use the istioctl upgrade command in an offline environment that does not have access to github.

The command attempts to retri

[2020-07-22 10:04] ramaraochavali commented on #25652
I agree with @howardjohn - changing validation/enforcing a new validation is a backward incompatible change.

[2020-07-22 11:56] satishmane commented on #25696
Hi @nschhina
Sorry for one more comment.

Just for sake of curiosity, I followed the tasks from "Egress Gateways with TLS Origination (File Mount)" from preliminary istio docs. The curl request just hung up in "Trying ..." state. So I it works only in istio 1.7 and not in istio 1.6.3?  is my understand correct? If my understanding is correct, then egress gateway with mutual tls does not work at al

[2020-07-22 12:09] nschhina commented on #25696
@satishmane it should work. Please post logs from egressgateway.

[2020-07-22 12:36] Anujay-Saraf commented on #6486
@howardjohn @gustavovalverde @prune998

Need one help here with your expertise.

I am unable to receive a working certificate thru letsencrypt prod/staging API:

![image](https://user-images.githubusercontent.com/27989098/88176386-cef18a80-cc44-11ea-9ac0-b214d7334607.png)

The current setup includes below approach
1. K8s cluster setup with 1.0.2 Istio Dex Yaml, mentioned in kubeflow.org documentat

[2020-07-22 12:37] Anujay-Saraf commented on #15148
@howardjohn @gustavovalverde @prune998

Need one help here with your expertise.

I am unable to receive a working certificate thru letsencrypt prod/staging API:

Snapshot
![image](https://user-images.githubusercontent.com/27989098/88177282-3bb95480-cc46-11ea-99df-82abde108ecf.png)

The current setup includes below approach

K8s cluster setup with 1.0.2 Istio Dex Yaml, mentioned in kubeflow.org doc

[2020-07-22 12:38] Anujay-Saraf commented on #20680
@howardjohn @gustavovalverde @prune998

Need one help here with your expertise.

I am unable to receive a working certificate thru letsencrypt prod/staging API:

Snapshot

![image](https://user-images.githubusercontent.com/27989098/88177320-4aa00700-cc46-11ea-8724-b75b60cc4816.png)

The current setup includes below approach

K8s cluster setup with 1.0.2 Istio Dex Yaml, mentioned in kubeflow.org do

[2020-07-22 12:42] aniruddhachoudhury commented on #20680
Ya please i am seeing this same error.

[2020-07-22 12:42] satishmane commented on #25696
@nschhina  I do not see anything egress gateway pod log.  My curl request as per example just get stuck.

I am confused now.

What I understood is that In 1.6.3 version, traffic from side car proxy to egress gateway is not encrypted using ISTIO_MUTUAL because it is fixed using this https://github.com/istio/istio/pull/25588 PR in istio 1.7.

But now you are saying only documentation part was broken

[2020-07-22 12:52] jwendell opened #25743 "Where is the envoy-build-ubuntu image Dockerfile?"
Envoy prow jobs uses `piotrsikora/envoy-build-ubuntu` as the image to run the tests.

1. Where are the sources for it?
1. Can we move them (if not already) to Istio org?
1. Can we push them under the istio hub on docker hub, using our automated tools?

[2020-07-22 12:53] jwendell commented on #25743
cc @PiotrSikora @howardjohn

[2020-07-22 12:57] satishmane commented on #25696
@nschhina  - Tried again tasks from 1.7 documentation ("Perform mutual TLS origination with an egress gateway") on istio 1.6.3 version, curl request just stucks.. No error , nothing in egress log too after curl command is executed

[2020-07-22 13:25] howardjohn commented on #25743
It's an envoy image not istio

On Wed, Jul 22, 2020, 5:53 AM Jonh Wendell <notifications@github.com> wrote:

[2020-07-22 13:27] linsun commented on #25701
Thank you @sdake!  I put it in env WG agenda today to discuss and gather feedback on this.

[2020-07-22 13:35] luksa opened #25744 "No support for JSON value in k8s.v1.cni.cncf.io/networks"
**Bug description**
Multus annotation `k8s.v1.cni.cncf.io/networks` can either have a [text](https://intel.github.io/multus-cni/doc/how-to-use.html#lauch-pod-with-json-annotation) or a [JSON value](https://intel.github.io/multus-cni/doc/how-to-use.html#lauch-pod-with-json-annotation). Istio doesn't support injection of `istio-cni` if the the annotation uses JSON notation.

**Affected product area

[2020-07-22 13:40] adrafiq opened #25745 "Version downgrade from 1.5 to 1.3, produces error of istiod not found."
**Bug description**
We have an istio-deployment in out cluster. Version is 1.3. The version was installed using helm chart.
Now for observability project I updated the istio version. The update was'nt via an upgrade process. Rather delete the helm release and install istio via `istioctl install --set profile=demo`. After that I deleted the version 1.5 using `istioctl manifest generate  | kubectl d

[2020-07-22 13:59] jwendell commented on #25743
I see.

The motivation for this issue was the fact the we are having failures on 1.7 envoy prow jobs due to the lack of the `bzip2` binary in the images we are using. AFAICT envoy upstream is using the `envoyproxy/envoy-build-ubuntu` images, which works fine.

Can we switch to that upstream image in our prow jobs for 1.7 then?

[2020-07-22 14:13] mandarjog commented on #25176
This is addressed in 1.6.5 by https://github.com/envoyproxy/envoy-wasm/pull/547

[2020-07-22 14:15] mandarjog commented on #25176
Can you reopen the issue if 1.6.5 does not fix it?

[2020-07-22 14:15] #25176 closed

[2020-07-22 14:28] shamsher31 commented on #18487
@esnible Yes, the PR is ready for review. Got some feedback from @howardjohn . Updated it. Please take a look at https://github.com/istio/istio/pull/24263

[2020-07-22 14:41] howardjohn commented on #25725
I bumped this to a P0 for 1.8, mostly to ensure we don't forget about this and ship a regression because we forgot about it :slightly_smiling_face:

[2020-07-22 14:51] nschhina commented on #25696
Maybe your curl command is not working itself, are you using MacOS?

[2020-07-22 14:54] istio-testing opened #25749 "[release-1.6] Egress Gateway TLS Origination fix"
Manual cherrypick required.

#25588 failed to apply on top of branch "release-1.6":
[code]

[2020-07-22 14:56] nschhina commented on #25696
Also thanks for letting me know that #25588 is not working in 1.7, we actually forgot to cherrypick it in 1.6 release which we'll do right away

[2020-07-22 15:00] kramvan1 commented on #25701
Isn't one options to just freeze the addon charts and then only allow an `enable: false` for the existing Addon IOP section and mark it as deprecated.   Seems like very small change to handle this properly.

[2020-07-22 15:24] jwendell commented on #25743
I think we can close this one since we moved to using upstream image for 1.7 jobs in https://github.com/istio/test-infra/pull/2829

[2020-07-22 15:24] #25743 closed

[2020-07-22 15:26] jwendell opened #25752 "Envoy jobs failing on 1.7"
Example: https://github.com/istio/envoy/pull/239

We switched to using upstream image in https://github.com/istio/test-infra/pull/2829 . Some context about this move: https://github.com/istio/istio/issues/25743

[2020-07-22 15:26] jwendell commented on #25752
cc @PiotrSikora

[2020-07-22 15:28] jennbergs commented on #11723
I would also be very interested in hearing updates on the status of this!

[2020-07-22 16:00] cooldudesam opened #25753 "Received HTTP code 404 from proxy after CONNECT - istio-ingressgateway pod logs"
Use case: To access external AWS S3 service via VPC endpoint from On-prem servers so that the traffic does not traverse the internet.

onprem-->COLO-->NLB--->ISTIO-->EKS (httpd pod acting as proxy to external service)--->S3 VPC endpoint

I have deployed httpd pod (acting as fwd proxy) with istio sidecar injected in EKS and exposed it over istio ingress and NLB. Iam able to access the httpd via NLB

[2020-07-22 16:04] satishmane commented on #25696
I am using ubuntu. Curl command definately works as rest of istio functionality works fine.. I use curl extensively to test.

On Jul 22, 2020, at 8:22 PM, Navraj Singh Chhina <notifications@github.com<mailto:notifications@github.com>> wrote:

Maybe your curl command is not working itself, are you using MacOS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view

[2020-07-22 16:08] satishmane commented on #25696
Great. So do I need to re-run istio install for 1.6 release to get this fix. So it does not work bcoz fix is missing in 1.6. Right?
Egress g/w with tls origination example should simply work if I copy command and execute them..
Pls let me know when fix is applied to 1.6 release, I can then reinstall

Sent from my iPhone

On Jul 22, 2020, at 8:26 PM, Navraj Singh Chhina <notifications@github.com<ma

[2020-07-22 16:17] jwendell commented on #25752
cc @bianpengyuan

[2020-07-22 16:49] nschhina commented on #25696
You would need to download 1.6 again and reinstall. The cherrypick is under review so it's not available in 1.6 yet

[2020-07-22 17:05] #25693 closed

[2020-07-22 17:14] caitong93 commented on #24117
Maybe another approach: mark items when informer start to sync, stop mark when HasSynced returns true, wait marked items to be processed

[code]

WDYT ? @howardjohn @ramaraochavali

[2020-07-22 17:15] linsun commented on #25701
Discussed in today's env WG, in 1.7, server side operator will support multiple revisions.  So user could send an operator yaml with addon disabled to 1.7's operator, then install istio using 1.8's operator.  Pending validation.

@sdake @ostromart let me know if this is a good summary!

[2020-07-22 17:19] howardjohn commented on #24117
@caitong93 something similar to that seems like a pretty good idea to me

[2020-07-22 17:30] cooldudesam commented on #25753
One thing that i noticed is if i try to access external service with HTTP i see some progress and get HTTP 403 Forbidden error but not fixed entirely.

# curl -v -x aec822f71432511eaa1e10a7b4d9f41b-a33ebd786be79bd3.elb.us-east-1.amazonaws.com:80 http://s3.us-east-1.amazonaws.com
* About to connect() to proxy aec822f71432511eaa1e10a7b4d9f41b-a33ebd786be79bd3.elb.us-east-1.amazonaws.com port 80 (#0)

[2020-07-22 17:33] esnible commented on #23526
@yangminzhu I would like this fixed for 1.8.  Are you working on it?  If not, I can take you off this item.

@istio/wg-networking-maintainers can someone explain the columns?

If this tool is useful, we should incorporate instructions into https://preliminary.istio.io/latest/docs/ops/common-problems/security-issues/ or https://preliminary.istio.io/latest/docs/tasks/security/authorization/authz-jwt

[2020-07-22 17:37] esnible commented on #23526
The current output looks like this:

[code]

The first column, `LISTENER[FilterChain]`, should match the output of `istioctl proxy-config listeners` or `route`.  What does `[0]` mean?

I would like to see a tutorial or docs on how to configure Istio rules and see those rules reflected in the other columns.

[2020-07-22 17:45] #21821 closed

[2020-07-22 17:47] esnible commented on #25730
Closing as a duplicate of https://github.com/istio/istio/issues/1430

[2020-07-22 17:47] #25730 closed

[2020-07-22 17:55] esnible commented on #25695
I see the same thing.  It works with master (future 1.7) and 1.6.4.  When I tried with 1.5.4 client it didn't work.

We strive to make _istioctl_ backwards and forwards compatible by a version with data planes.  It isn't always possible or easy to make the CLI flexible enough to work with future versions.  Unless you object I will close this and suggest the 1.5.x CLI will not work with 1.6.x sidec

[2020-07-22 17:55] #25695 closed

[2020-07-22 17:56] esnible commented on #25688
@pantianying Can you attach the output of `istioctl version` and `kubectl get istiooperator` to this Issue?

[2020-07-22 18:09] esnible commented on #25683
@sdake @ostromart Perhaps Environments can work with Documentation to create a document based on the output of 1.7's `istioctl profile dump -o flags`.  Users have a hard time finding the options.

Using _master_ I did `istioctl profile dump -o flags | grep -i autoscale` which produces the output

[code]

@ostromart Would it make sense if the default profiles specified <x>.autoscaleMax and Min for

[2020-07-22 18:14] esnible opened #25760 "'kubectl explain' support for IstioOperator CRD"
If the IstioOperator CRD can be expressed as a schema it could be documented by `kubectl explain`.

Compare the output of `kubectl explain virtualservice.spec` with `kubectl explain istiooperator`.

This functionality would be useful on its own.  I can also imagine combining the output of `istioctl profile dump -o flags` with `kubectl explain <flag>` so that we can produce a document showing the d

[2020-07-22 18:19] esnible commented on #25584
@nrjpoddar I created this Issue here because client-go doesn't have an Issue Tracker.  I was not sure how to label this Issue.  `area/networking`?  A new label `area/networking/client-go`?

[2020-07-22 18:32] nrjpoddar commented on #25584
Not sure, you can add area/networking but client-go is a cross WG concern.

Solution is simple though you need to add these annotations (comments) on proto files for client-go to pick them up automatically:

https://github.com/istio/api/blob/master/networking/v1beta1/destination_rule.proto#L189

[2020-07-22 18:33] nrjpoddar commented on #25584
It looks like the annotations are there in operator proto, there's probably some filter in client-go side.

[2020-07-22 18:41] nrjpoddar commented on #25584
Created https://github.com/istio/client-go/pull/209/

[2020-07-22 19:01] pmoody- opened #25763 "istio-cni : istio-iptables.sh no such file or directory"
**Bug description**

When using istio-cni, the istio-validation container is unable to complete because the nsenter istio-iptables.sh command fails with no such file or directory.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test a

[2020-07-22 19:01] nrjpoddar commented on #25584
There's an underlying issue https://github.com/istio/istio/issues/24829 which will prevent us from adding Operator CRDs in client-go

[2020-07-22 19:04] ericvn commented on #24473
And as @jwendell noted, any comments about short-comings in the list above would be good (and update the list with comments). We will be looking at the list to do the automation.

[2020-07-22 20:06] mandarjog opened #25768 "Wasm Telemetry 1.7: provide latency/cpu/memory data"
Wasm telemetry is enabled in 1.7 builds to get test and stability mileage.

Provide latency, stability, cpu and memory data of this experiment.
Based on the results we will continue the new defaults or switch back to null vm.

Add release notes based on the outcome.

[2020-07-22 20:34] ToonvanStrijp commented on #25578
@MirtoBusico if I'm correct you can also use the `keycloak-http` service as an endpoint like this:

[code]

For me this worked! For some reason the `.svc.cluster.local` is needed in the `jwksUri`.

[2020-07-22 20:57] dsbos opened #25771 "IstioOperator puts same selector on different ingress gateways' Deployment objects."
When using "`istioctl manifest generate ...`" with an `IstioOperator` YAML file that specifies two ingress gateways, the two generated K8s Deployments for the two ingress controller services have the same value for `spec.selector` (`matchLabels` with the same set of label names and values).

Doesn't that mean that each of the Deployments will think that it owns all the pods created by either one o

[2020-07-22 21:55] douglas-reid commented on #10746
I think it is safe to close this issue now.

[2020-07-22 21:55] #10746 closed

[2020-07-22 21:57] douglas-reid commented on #21257
Mixer was deprecated and now completely removed from the codebase. Metrics expiry has not been implemented in V2, so I'm going to close this issue.

[2020-07-22 21:57] #21257 closed

[2020-07-22 21:59] douglas-reid commented on #21173
@mengxu2018 I'm sorry that the docs appear to be broken. Mixer is deprecated. 1.7 will be the last release in which it is included in Istio. It has been entirely removed from the codebase. I'm going to close this issue. Future Istio extensions should be built with proxy-wasm.

[2020-07-22 21:59] #21173 closed

[2020-07-22 22:00] douglas-reid commented on #19956
This issue will not be properly dealt with, unfortunately. Mixer is deprecated, and has now been completely removed from the codebase. 1.7 will be the last release. Closing this issue.

[2020-07-22 22:00] #19956 closed

[2020-07-22 22:03] douglas-reid commented on #19570
I don't believe that this is ever going to get any attention unfortunately. With Mixer being removed from the codebase now, I think it is appropriate to close this issue.

[2020-07-22 22:03] #19570 closed

[2020-07-22 22:10] douglas-reid commented on #24034
I feel like this issue is better handled in [user forums](discuss.istio.io) or in slack. Closing this issue now.

[2020-07-22 22:10] #24034 closed

[2020-07-22 22:15] douglas-reid commented on #22884
With Mixer deprecated and now deleted, I think it is appropriate to close this issue. It looks like a workaround has been provided as well.

[2020-07-22 22:15] #22884 closed

[2020-07-22 23:04] tbarrella commented on #25381
Thanks to Mixer code being removed now, this should be done

[2020-07-22 23:04] #25381 closed

[2020-07-22 23:18] douglas-reid commented on #25198
This conversation should probably be moved to the [forums](discuss.istio.io). I believe @objectiser has provided good guidance on trace configuration. Please feel free to reopen if the documentation does not work, or if there are gaps.

[2020-07-22 23:18] #25198 closed

[2020-07-22 23:20] douglas-reid commented on #24278
We have full integration tests for v2 telemetry, both null vm and wasm. v2 has been the default since 1.5. Without more information, I'm not sure how to make progress on this issue. Closing for now.

[2020-07-22 23:20] #24278 closed

[2020-07-22 23:22] douglas-reid commented on #22087
Unless @jacob-delgado is planning on adding this to 1.7, I believe this issue has unfortunately been overcome by events. Mixer is now deleted from the codebase. Closing this issue. Please re-open if work is planned for 1.7.

[2020-07-22 23:22] #22087 closed

[2020-07-22 23:23] douglas-reid commented on #21762
@mandarjog thoughts on this issue and how to move forward?

[2020-07-22 23:24] douglas-reid commented on #21413
Unfortunately, this issue was unaddressed, and with Mixer deprecated and now deleted, I do not expect any progress to be made on it. Closing as a result.

[2020-07-22 23:24] #21413 closed

[2020-07-22 23:27] douglas-reid commented on #21411
I believe the workaround here is to switch the ordering of the CEL expression. `destination.workload.name` is likely set by the `kubernetesenv` adapter to "unknown", so the expression is short-circuiting.

I suggest: `spanName:  destination.service.name  | destination.workload.name | "unknown"` instead.

Closing this issue, as Mixer is deprecated and deleted.

[2020-07-22 23:27] #21411 closed

[2020-07-22 23:28] douglas-reid commented on #21406
As no progress has been made in debugging this issue, and Mixer has been both deprecated and deleted, I am going to close out this issue.

[2020-07-22 23:28] #21406 closed

[2020-07-22 23:29] douglas-reid commented on #20489
This was just closed by the Mixer removal PR.

[2020-07-22 23:29] #20489 closed

[2020-07-22 23:31] douglas-reid commented on #21744
I'm sorry that this did not get any attention. Mixer was deprecated and is now deleted. I'm going to close this issue as result. Feel free to re-open if you believe this should be fixed in the 1.7 release branch.

[2020-07-22 23:31] #21744 closed

[2020-07-22 23:34] douglas-reid commented on #22735
@nrjpoddar are we still planning work here?

[2020-07-22 23:48] douglas-reid commented on #25728
You haven't missed anything.

There are two parts of the equation:

Istio is moving away from providing management of Prometheus installs ([related doc](https://docs.google.com/document/d/1jJ4kkALCUPWIlz_Ldu6jpeelMNxyY_SZDMaZmeSpfkM/edit#heading=h.qlmnvhzb2ib2)). So, part one is reducing the complexity of the add-on install to a default/demo level, which means no real customization.

Part two is t

[2020-07-22 23:51] douglas-reid commented on #25736
`HTTPAPISpec` support was never added to Istio. With v2 telemetry, however, you can get request path level metrics.  Please see: https://istio.io/latest/docs/tasks/observability/metrics/classify-metrics/

[2020-07-22 23:51] #25736 closed

[2020-07-22 23:54] douglas-reid commented on #25601
For VMs, you need to mimic the sidecar injector functionality for the proxy. For telemetry, this means providing the right env vars and labels for telemetry. In particular, you'll want to ensure that ISTIO_META_WORKLOAD_NAME is set in the env vars passed into the agent. You can "app" and "version" labels in the labels file path checked by Envoy as well, or by setting ISTIO_METAJSON_LABELS env var.

[2020-07-22 23:54] #25601 closed

[2020-07-22 23:58] douglas-reid commented on #22658
If you are using mixer, you'll need to mount the file in the `istio-telemetry` pod.

But I strongly suggest using v2 telemetry with stackdriver integration.

As this is not a bug, i'm closing. Please use the forums for further investigation.

[2020-07-22 23:58] #22658 closed

[2020-07-23 00:04] douglas-reid commented on #22574
The warning message itself is fairly innocuous. It means that your proxies are configured to report to Mixer, but aren't successfully finding Mixer. So, I wouldn't worry about it other than it filling up your logs. Mixer restart loops, which are also mentioned here, were typically triggered by missing configuration (partial installs).

Mixer is deprecated and has been disabled by default since 1.5

[2020-07-23 00:08] douglas-reid commented on #22162
Is this still being investigated?  It appears to have been untouched for 3 months now, and references older versions of Istio. I'm going to close for now, pending a signal that this should still be open.

[2020-07-23 00:08] #22162 closed

[2020-07-23 00:10] douglas-reid commented on #21988
I believe the original issue has been addressed and fixed. Mixer is indeed deprecated, and 1.7 is the final release. Closing. Feel free to reopen if there is still an issue.

[2020-07-23 00:10] #21988 closed

[2020-07-23 00:11] douglas-reid commented on #19903
I'm not sure what is left to be done here. Closing.

[2020-07-23 00:11] #19903 closed

[2020-07-23 00:14] douglas-reid commented on #13283
Assigning to @yangminzhu , as this is a FR for AuthorizationPolicy at this point.

[2020-07-23 00:19] douglas-reid commented on #5679
I think it is safe to close this issue, given the PR merged?  Please re-open if not.

[2020-07-23 00:35] howardjohn commented on #25763
Can you check what the image of the cni daemonset is?

[2020-07-23 02:19] pmoody- commented on #25763
[code]

[2020-07-23 02:20] howardjohn commented on #25763
@stewartbutler @bcheung can you take a look?

[2020-07-23 03:53] sanigo commented on #25728
I have manually installed a prometheus in istio-system namespace, and add the scrape_config from the istio installation files.I thinks it is the only way currently.

[2020-07-23 05:06] #22800 closed

[2020-07-23 05:17] #20011 closed

[2020-07-23 06:26] btoonk commented on #25570
No, currently we don't need to switch this at runtime.

[2020-07-23 06:54] liuming-dev commented on #25549
[code]

[2020-07-23 06:59] #19824 closed

[2020-07-23 07:14] #19825 closed

[2020-07-23 07:40] lambdai commented on #24540
depends on bug https://github.com/envoyproxy/envoy/issues/12236

[2020-07-23 08:25] MirtoBusico commented on #25578
Trying. I'll report asap

[2020-07-23 08:32] 13567436138 commented on #25634
[code]

vHostDedupMap length is 0 ,so it generate a blackhole route

[2020-07-23 08:43] afvacoss opened #25788 "Istio 1.5.8 - Internal TCP communications not working out of the box"
**Bug description**

When deploying a test application based on 2 tunned `infrabin` pods and a `postgresql` database communications between `infrabin` pods and the database are systematically send to the `BlackHoleCluster`. Here are the logs of an communication test :

[code]

At this point, there are no MTLS, Authentication or Authorization Policies setup in application namespace, just the envoi

[2020-07-23 08:51] MatteoMori opened #25789 "Istio 1.4.9 - DestinationRule idle timeout - Doc clarification"
Hello All,

apologies for what may sound like a stupid question.

I was reading the [Istio 1.4 DR documentation](https://archive.istio.io/v1.4/docs/reference/config/networking/destination-rule/) and I have some doubts about the HTTP ***idle timeout*** section

The document states:

What does this actually mean?
* Will Istio never expire an idle connection? Therefore the value can be considered "ve

[2020-07-23 09:09] ramaraochavali commented on #25789
Yes. The idle timeout is not enforced i.e. connection will never be closed based idle ness. In recent version this has been changed to 1 hour.

[2020-07-23 09:23] MatteoMori commented on #25789
Hey @ramaraochavali,

thank you very much for your reply! :-)

[2020-07-23 09:23] #25789 closed

[2020-07-23 09:28] samwhite commented on #22658
@douglas-reid could you please link to where it is documented to configure v2 telemetry with Stackdriver and a GSA `credentials.json` file? I've looked seemingly everywhere and can't find an example of this working 😞

[2020-07-23 10:25] bydeath opened #25792 "istio-init(v1.6.3) fails to be recreated because of iptables rules restoring panic"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I'm using Seldon Core with istio as ingress. I deployed a model with istio sidecar auto injected and it works fine. But hours later, the container

[2020-07-23 10:28] satishmane commented on #25696
@nschhina  Any idea when cherrypick will be available in 1.6.3

Also can you please reopen this issue as I still have not got solution on how to use egress g/w with mutual tls in 1.6.3 version. At least confirm that egress g/w with mutual tls in 1.6.3 is broken and does not work at all

[2020-07-23 11:42] MirtoBusico commented on #25578
Well, I was not able to solve my problem

Return codes seems strange. I'll try to descrime my tests.

I have the ingressgateway exposed as "www.h.net"
Because I don't have a DNS server, in the machines accessing the cluster I have an entry in /etc/hosts

[code]
The ingressgateway exposes
[code]

I have 4 service (the first one used in the test) in a namespace called "hproject"
[code]
These service

[2020-07-23 12:25] hzxuzhonghu commented on #25145
noticed a very abnormal phenomenon, the last istiod consumes far less memory than the other two.
@howardjohn  Haven't we fixed the unbalanced proxies issue?

[2020-07-23 13:50] travisgroth commented on #24011
@xzhao1 does your request Host/Authority header match the Istio service name?  For example, if the target Kubernetes service is `foo.default.svc.cluster.local`, is your client sending a request with `foo.default.svc.cluster.local` as the target hostname?

[2020-07-23 14:11] howardjohn commented on #25659
Still seeing some it looks like: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25782/integ-multicluster-k8s-tests_istio/7388

[2020-07-23 14:17] howardjohn commented on #25145
Not really... see https://github.com/istio/istio/issues/11181. We just have
30min max conn age so it slowly balances out

On Thu, Jul 23, 2020 at 5:26 AM Zhonghu Xu <notifications@github.com> wrote:

[2020-07-23 14:23] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25778/integ-multicluster-k8s-tests_istio/7386

[2020-07-23 14:26] mstinglin commented on #22929
I am having the same problem with my cluster. when injecting istio proxy for some reason my stolon pods are not able to patch the annotations.

[2020-07-23 14:33] xzhao1 commented on #24011
@travisgroth

this request is sending to an external application running on a linux server(10.76.83.41:8082) from a kubernetes pod.

The following is the content:

Hypertext Transfer Protocol
    PUT /endpoints/nnrf-nfm/v1/nf-instances/60a3b25a-3bd7-4082-8a83-42acb8cb1ff9 HTTP/1.1\r\n
    host: 10.76.83.41:8082\r\n
    accept: application/json\r\n
    user-agent: Jersey/2.29 (OkHttpClient)\r\n

[2020-07-23 15:00] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25778/integ-multicluster-k8s-tests_istio/7417

[2020-07-23 15:45] tcdowney commented on #18636
@howardjohn it was downloaded/installed through this script:
https://istio.io/downloadIstio

[2020-07-23 16:15] MirtoBusico commented on #25578
**UPDATE**

**I discovered that ingressgateway do not resolve internal keycloak service name**
The keycloak service is defined as
[code]
Try to access this service from the ingressgateway pod gives
[code]
But using the service IP works
[code]

So the new requestauthentication is
[code]
With this definition I have correctly 200 / 401 / 401 as return codes for no token / wrong token / test token
[co

[2020-07-23 16:23] framled opened #25801 "[Networking] TLS minProtocolVersion doesn't work"
**Bug description**
it seems, minProtocolVersion is not working, because when I execute testssl or just force connection to use TLSv1.1 I got a response from the server.
[code]

**Affected product area**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Deve

[2020-07-23 16:32] harshjay04 opened #25802 "Having Issues Connecting to Redis UI headless service using Anthos Istio gateway"
We have deployed Anthos GKE on-prem and trying to connect to Redis UI service and it is failing, we haven't injected envoy side car as when we do that Redis deployment itself fails due to Redis Operator not able to communicate with POD's, we realized that Redis is not integrated with Istio Service Mesh yet ( may be creating the problem) , so we tried only with Ingress gateway config and getting th

[2020-07-23 16:43] douglas-reid commented on #22658
@bianpengyuan do we have any good docs on using service account creds with Stackdriver?

[2020-07-23 16:48] MirtoBusico commented on #25578
**UPDATE 2**
In the previous requestauthentication using service names I used a wrong URL (wrong namespace)
Now I can use the requestauthentication with service names
But nothing changes: the resulst are the same of the requestauthentication usring addresses **(200 / 401 / 401)**

The correct requestauthentication is
[code]
I don't know what else I can try.

[2020-07-23 16:59] samwhite commented on #22658
This link provides some more discussion in to our specific issue:
https://discuss.istio.io/t/v2-stackdriver-telemetry-and-workload-identity/6511

We can get the stackdriver envoy filter working if we manually grant access to a GSA with the right credentials, then associate that to the default KSA in the namespace i.e.:

[code]

However, there's no nice way for us to do this programatically for eve

[2020-07-23 17:13] bianpengyuan commented on #22658
Currently we don't have a way to read mounted cert in stackdriver filter. It might be feasible though to expose that as an option in both stackdriver filter configuration and istioctl. Although IMHO using workload identity is strictly better than managing the cert file yourself. Not sure if there is any gitops tools out there or Google provides to ease the pain.

[2020-07-23 17:21] samwhite commented on #22658
It appears that the Workload Identities and even KSAs can be created through terraform, so that might be a solution:

https://registry.terraform.io/modules/terraform-google-modules/kubernetes-engine/google/7.1.0/submodules/workload-identity

Still feels quite roundabout, though, I wonder how common our use case is -- it may become more common for those wishing to go directly to Stackdriver from en

[2020-07-23 17:24] douglas-reid commented on #22658
Mounting into each pod definitely is a bit clunky, but is at least somewhat doable. You'd have to set the appropriate env var in each pod too.

We probably need a more general approach to creds distribution for extensions in general.  @mandarjog @kyessenov has there been any thoughts of how to support creds via extensions API, etc.?  Is the working suggestion to bundle ?

[2020-07-23 17:26] samwhite commented on #22658
A colleague of mine just had a brilliant idea, building on the 'manage in terraform' solution, which is to use Config Connector to set up the KSA/GSAs. This keeps everything in k8s manifests, at least.

I'll give that a go in the next couple of days and report back on how it feels.

[2020-07-23 17:36] #19940 closed

[2020-07-23 17:48] samwhite commented on #22658
So this actually works pretty great. This is what I added to the namespace:
[code]

`istio-stackdriver` was a GSA which already existed, but one could also manage that through Config Connector too if desired.

The only thing that's a little bit askew here is having to modify the `default` SA inside the namespace, as that's what the `istio-proxy` pod inherits. That's okay, but is there a neat way w

[2020-07-23 17:48] samwhite commented on #22658
So this actually works pretty great. This is what I added to the namespace:
[code]

`istio-stackdriver` was a GSA which already existed, but one could also manage that through Config Connector too if desired.

The only thing that's a little bit askew here is having to modify the `default` SA inside the namespace, as that's what the `istio-proxy` pod inherits. That's okay, but is there a neat way w

[2020-07-23 17:56] bianpengyuan commented on #22658
Yes

[2020-07-23 17:56] rshriram commented on #25652
I think the fix is to add an API field that says performCertificateVerification, which if set to true will require a valid path to ca certs. Changing the semantics of a well established API is not correct, specifically when we have explicitly documented semantics that state that it is possible to do TLS without CA verification should the user desire so.

[2020-07-23 18:06] samwhite commented on #22658
Ah fantastic, thanks @bianpengyuan 🙏

We'll probably suffice with using the same KSA as the application container, though I suppose for the best security one would want a specific KSA for the stackdriver telemetry, which may differ to the KSA we use for the application pod itself. I wonder if there's a neat way to configure which KSA the `istio-proxy` container uses...

[2020-07-23 18:13] nschhina commented on #25652
@rshriram we discussed this during security wg meeting yesterday, you can take a look at meeting notes. We concluded to start using system CA certs as fallback as a `opt-in` feature. cc: @costinm  @howardjohn  @costinm

[2020-07-23 18:28] bianpengyuan commented on #22658
The finest granularity of workload identity if per pod. You'd either need to run proxy outside application pod using Sidecar API, or adopt anthos service mesh https://cloud.google.com/anthos/service-mesh, which includes a solution to exchange anthos service mesh gcp service access token at sidecar, which would make separated access control possible.

[2020-07-23 18:39] tariq1890 commented on #24954
Any updates on this? We still can't get istio-ingressgateway to work as non-root

[2020-07-23 18:42] tariq1890 commented on #12602
Sorry for the late response. I think a default of having 2 replicas with PDB installed is good. That's how we are running istio in our kubernetes clusters.

[2020-07-23 18:53] stewartbutler commented on #25763
So I followed the install steps used here in a Kind cluster and I'm not seeing any problems. I'm wondering if this may be an issue with AWS specifically.

@pmoody- Can you post details about the AWS cluster you are using? I'd like the following data points:
-  Is it EKS?
- Are you using standard node images, or do you have a custom image?
- What are the configuration and arguments passed to kubele

[2020-07-23 18:55] mandarjog opened #25806 "istioctl named_ports tool"
A big advantage of outbound protocol sniffing is that we do not need to declare ports.
It comes with some additional moving parts and some a potential for things to go wrong due to incorrect detection and timeout.

We can help a user label ports
1. Enable protocol sniffing for a short duration.
2. Collects metrics
3. Use metrics to create a labeled list of ports to help the user.

Create an istioc

[2020-07-23 18:56] mandarjog opened #25807 "istioctl create_named_ports_list"
A big advantage of outbound protocol sniffing is that we do not need to declare ports.
It comes with some additional moving parts and some a potential for things to go wrong due to incorrect detection and timeout.

We can help a user label ports
1. Enable protocol sniffing for a short duration.
2. Collects metrics
3. Use metrics to create a labeled list of ports to help the user.

Create an istioc

[2020-07-23 19:08] douglas-reid commented on #25807
Is your vision for this purely user-in-the-loop suggestion-style?

[2020-07-23 19:10] mike1808 opened #25808 "Make SECRET_TTL and SECRET_ROTATION_CHECK_INTERVAL of istio-agent be configurable via istioctl"
**Describe the feature request**

We want to change the value of `SECRET_TTL` and `SECRET_ROTATION_CHECK_INTERVAL` environment variables of istio-agent via an option for IstioOperator.

**Describe alternatives you've considered**

Currently, to change those values we have to edit `envs` field in the sidecar injector template.

**Affected product area (please put an X in all that apply)**

- [x] Co

[2020-07-23 19:14] tariq1890 commented on #24954
@costinm I believe you had some inputs on this. But I am not able to retrieve those messages since Istio Slack messages expire.

[2020-07-23 19:15] rshriram commented on #25652
I dont think this falls in security. Destination rule is a networking API, not security API. And this is for traffic to external services, not istio internal services. So, it would be good to discuss this in the Istio networking working group before making any such "opt-in" features.

[2020-07-23 19:27] mandarjog commented on #25807
Yes, "suggestion style" is safer. We can output it yaml files that can be consumed by customize for example."

[2020-07-23 19:34] rshriram commented on #25652
Here is a compendium of publicly documented examples by our own end users that shows destination rule being used without any CA certs because mounting certs in sidecars is a nightmare.

https://github.com/istio/istio/issues/25450
https://github.com/istio/istio/issues/21914
https://github.com/istio/istio/issues/20154 [```I can't create new certs in istio-proxy container since it is read-only file s

[2020-07-23 20:02] ZhengzheYang commented on #25706
Did you reference this [sample configuration](https://github.com/istio/istio/blob/master/samples/addons/prometheus.yaml)? I think the rules consists of service, pods, endpoints, etc.

[2020-07-23 20:04] nrjpoddar commented on #25652
I don't think the first issue #25450 has anything to do with this.

We can add an API option like @rshriram is suggesting but I would like to either change the "default" in upcoming release 1.7 to use system CA or in 1.8 after giving users time to migrate if needed.

We can bring it up with TOC if we can't reach consensus.

[2020-07-23 20:07] howardjohn commented on #23006
VM testing is implemented

[2020-07-23 20:07] #23006 closed

[2020-07-23 20:07] nschhina commented on #25652
I was under the impression that this was already discussed in networking wg meeting. @costinm  and @howardjohn  were both present from networking in security wg meeting too, but I understand if you think we're missing a full fledged discussion in networking wg meeting. This is not something that should be delayed as 1.7 release is right around the corner, I agree we can escalate to ToC if there's

[2020-07-23 20:09] howardjohn commented on #18838
done

[2020-07-23 20:09] #18838 closed

[2020-07-23 20:11] nschhina commented on #25652
Also it's not like only a small subset of people think this is a security issue- Product Security did a full review of this vulnerability and it scored CVSS 4.9. Recommended steps by product security included disallowing this slowly over time giving people time to migrate.

[2020-07-23 20:13] #19885 closed

[2020-07-23 20:13] howardjohn commented on #23473
done

[2020-07-23 20:13] #23473 closed

[2020-07-23 20:14] nschhina commented on #25652
https://github.com/istio/istio/issues/24667 with a target of 1.8 release will remove any concern people have with mounting secrets to their sidecars anyways

[2020-07-23 20:21] nilesh27602816 commented on #11723
I second @jennbergs. FIPS compliance is becoming important as we move critical and sensitive workloads to our applications running on K8S. I am wondering if K8S itself is FIPS compliant, meaning is K8S using only BoringCrypto algorithms for key/token/secret management and API authentication ?
We are trying to avoid maintaining our own version of Istio just to be FIPS compliant.
Thank you and appre

[2020-07-23 20:24] JimmyCYJ commented on #25503
@shamsher31 Is there an ETA for this issue? We are building 1.7 release this week.

[2020-07-23 20:34] douglas-reid commented on #24471
@esnible it seems like everything is in place. I think we are OK to close?

[2020-07-23 20:36] #24471 closed

[2020-07-23 20:40] cooldudesam commented on #25753
It looks like Envoy’s default matchers match based on host and path. Because CONNECT requests (generally) do not have a path, most matchers will fail to match CONNECT requests, and Envoy will send a 404 because the route is not found. The solution for HTTP/1.1 CONNECT requests, is to use a connect_matcher as described in the CONNECT section of the upgrade documentation.

Did anyone pass this confi

[2020-07-23 20:49] ostromart commented on #23389
I believe this was fixed - we'll reopen if it's seen during community testing 1.7.

[2020-07-23 20:49] #23389 closed

[2020-07-23 20:50] ostromart commented on #23773
Fixed.

[2020-07-23 20:50] #23773 closed

[2020-07-23 20:51] ostromart commented on #25701
Sounds good Lin.

[2020-07-23 20:54] carolynhu opened #25813 "Add artifacts to istio perf prow jobs"
example: https://gcsweb.istio.io/gcs/istio-prow/pr-logs/pull/istio_istio/25589/integ-pilot-k8s-tests_istio/16779/

[2020-07-23 21:02] nrjpoddar commented on #25652
I don't think it was discussed in Networking WG but I'm glad John and Costin were made aware of this.

[2020-07-23 21:03] elfinhe commented on #24865
Fixed by https://github.com/istio/istio/pull/25425

[2020-07-23 21:03] #24865 closed

[2020-07-23 21:08] #25328 closed

[2020-07-23 21:24] sameerbhadouria opened #25814 "Content-length: 0 header inserted in Websocket connection upgrade response"
I am seeing "content-length: 0" header in the response (status code is 101 Switching protocols)  to our Websocket connection upgrade request.

We have Istio version 1.6.3 which uses Envoy version 1.4.1
I believe this should have been fixed - at least based on https://github.com/envoyproxy/envoy/issues/5554

Do I need to enable any flags for this to work?

The main issue I am debugging is that the

[2020-07-23 21:37] therealmitchconnors commented on #23623
This effort is complete for 1.7, but the focus is ongoing into 1.8

[2020-07-23 21:37] #23623 closed

[2020-07-23 21:38] therealmitchconnors commented on #24563
Done

[2020-07-23 21:38] #24563 closed

[2020-07-23 21:44] duderino commented on #25652
@nschhina @myidpt when the release notes get written for this, can you include CVSS 4.9 in the release notes?  That's below our threshold for a security release, but I'd still like to be fully transparent and not present this as a plain bug fix or feature

[2020-07-23 22:51] JimmyCYJ commented on #12602
Confirmed with @linsun this could be closed.

[2020-07-23 22:53] lambdai commented on #25145
@lanceliuu Thanks for the update! Memory usage drop as expected.

If the services are added and delete repeatedly, the memory usage should maintain at the same level, modulo the fragments at heap.

[2020-07-23 23:04] tariq1890 commented on #12602
Why close this? I don't see any concrete resolution provided for this

[2020-07-23 23:27] chiraggb commented on #13085
I am facing 426 error as well can you please share your yaml where you place this
thank you appreciate your help

[2020-07-24 00:18] thiagoleitetr opened #25820 "Upgrading from 1.4.3 to 1.6.5 - "fail validation: unknown field""
**Bug description**
I'm following the guide to upgrade to version 1.6.5 in:
https://istio.io/latest/docs/setup/upgrade

I installed istio 1.4.3 using helm, so now in order to upgrade to 1.6.5 the first step is to convert my values.yaml file to IstioOperator CR format:
https://istio.io/latest/docs/setup/upgrade/#upgrading-from-helm-installations

**How I installed the version 1.4.3**
1) download
[c

[2020-07-24 00:20] kyessenov commented on #25484
@howardjohn How does one go about adding another discovery server? Do we need ADS or ECDS separately? Do we run a separate goroutine or piggy back on pilot?

Preferably, the change should be self-contained to be cherry-pickable across releases.

[2020-07-24 00:23] howardjohn commented on #25484
Ideally its in ADS and then its pretty easy. https://github.com/istio/istio/pull/25438 is an example adding non-ADS, https://github.com/istio/istio/commit/73f451dfeae0da93e25bd33f127ad17330b5cf44 is an example of adding something over ADS.

I am pretty concerned about this.. why are we backporting a completely new discovery service?

[2020-07-24 00:25] kyessenov commented on #25484
ADS is not ideal since we need this to ship multi-megabyte binaries so blocking EDS because of that seems problematic.

[2020-07-24 00:26] howardjohn commented on #25484
Is there a design doc for this? I don't think anyone has discussed making Pilot a binary distribution system in networking WG

[2020-07-24 00:28] kyessenov commented on #25484
1. Binary distribution is for Wasm. Wasm binaries need to be distributed one way or another. I'm fine running a distinct server, hence the question. There are several design docs floating around Wasm distribution.
2. If ECDS is separate, then it can run against other control planes (or versions of istio).

[2020-07-24 00:48] kyessenov commented on #25484
OK, it looks like this needs a design doc. Will get to it eventually (until someone from networking does it first).

[2020-07-24 01:07] xinxinzhao1212 commented on #25735
Could someone help to answer this issue ? can  the example  https://istio.io/latest/docs/tasks/policy-enforcement/control-headers/ work in istio 1.6.4 , and what flag will affact this example

[2020-07-24 01:34] linsun commented on #12602
Sorry I was pinged about this issue while on mobile phone... because istio-policy pod is getting deprecated in 1.7, my thinking is that we can close this out for 1.7.  Think it is also non default for 1.6 either.

[2020-07-24 01:58] howardjohn commented on #25820
I think it needs to be yaml, like
[code]

[2020-07-24 02:02] pmoody- commented on #25763
Hi Stewart, sorry for the slow reply

 * it's not eks.
 * we use coreos for the node image
 * cni version is 0.3.0, and it's using weave-net to route between containers

kubelet config is:

[code]

and kubelet args are (taken from ps, I can get you the systemd config if you need it)

[code]

[2020-07-24 02:18] stewartbutler commented on #25763
@pmoody-

OK, a few more steps to try. First, can you try setting `cniBinDir` in the istio cni settings to `/opt/weave-net`? I'd like to see if that works. If that does not work, can you try flipping the `chained` setting in istio-cni to false and seeing if that makes a difference?

If neither of those changes fix it, can you please confirm the existence of `/opt/cni/bin` in a node without istio-c

[2020-07-24 02:42] hzxuzhonghu commented on #25484
If it is for wasm distribution, [wasm hub](https://webassemblyhub.io/) seems a good choice

[2020-07-24 02:55] anyyyy commented on #8658
Hello.What is the reason for restricting mesh gateways from using wildcards "*"? If I apply VirtualService to the created gateway now, then the policy rules in VirtualService will not take effect between services in the grid. . Is my understanding wrong, or if there are other solutions.

[2020-07-24 05:02] #20015 closed

[2020-07-24 05:04] #21999 closed

[2020-07-24 05:05] #22750 closed

[2020-07-24 05:32] infa-ddeore commented on #20262
I ran a test:

- 1200 pods with istio sidecar, svc and virtualservice for each pod
- wait 1 second between each pod deployment (it is more aggressive)

PILOT_PUSH_THROTTLE=1
PILOT_DEBOUNCE_AFTER=10s

istiod cpu load isnt even, does it mean only 1 istiod pod was doing most of the job and others not? how to make sure all istiod pods share even load?

![image](https://user-images.githubusercontent.co

[2020-07-24 05:51] jurgenweber commented on #25642
also, it patches the service.. so I have annotation on the service;

[code]

so it patches this, so k8s creates a class aws ELB.... and then creates an nlb later.... sort of annoying.

[2020-07-24 06:36] siluo opened #25825 "Cannot apply peer authentication policy to any namespace by seeing error "admission webhook "pilot.validation.istio.io" denied the request: unrecognized type PeerAuthentication""
**Bug description**
I am currently using istio 1.4.9 and I have been practicing the examples about how to apply the authentication policy on https://istio.io/latest/docs/tasks/security/authentication/authn-policy/.

However, when I tried commands listed from https://istio.io/latest/docs/tasks/security/authentication/authn-policy/#auto-mutual-tls

`$ kubectl exec $(kubectl get pod -l app=sleep -n f

[2020-07-24 07:26] nightguide commented on #25601
I add this to my config file, /var/lib/istio/envoy/cluster.env - but this don't working , still

istio_response_bytes_bucket{response_code="200",reporter="destination",source_workload="order-service-demo",source_workload_namespace="production",source_principal="unknown",source_app="order-service-demo",source_version="1.0-202027-2"**,destination_workload="unknown",destination_workload_namespace="vm

[2020-07-24 07:37] ramaraochavali commented on #20262
They will get load balanced over a period of time - but to start with the load balancing might be skewed. Refer to https://github.com/istio/istio/issues/11181

[2020-07-24 07:39] ramaraochavali commented on #25495
This https://github.com/istio/istio/pull/25733 should address this. Please let us know if there are any open issues. I am closing this issue.

[2020-07-24 07:39] #25495 closed

[2020-07-24 07:41] lcfang commented on #10659
@hzxuzhonghu @enis when I do step1-step7 in a namespace without istio, there is no database sync problem, so I doubt istio may not support this statefuset kube-app?

[2020-07-24 07:45] MrLW commented on #23283
so, how to fix this issue?

[2020-07-24 07:48] MrLW commented on #22730
Same issue. Can anyone respond on the fix please?

[2020-07-24 08:06] lcfang commented on #10659
@rshriram

[2020-07-24 08:24] honillusion commented on #25491
@GregHanson I had a test with the following manifest. In both cases of conneting to tcp1.test.com and tcp2.test.com, it is routed to only tcp1.test.com.

tcp1.test.com ---> tcp1.test.com
tcp2.test.com ---> tcp1.test.com

[code]

[2020-07-24 08:26] lcx102737 opened #25826 "can't set Values.global.proxy.env"
**Bug description**
refer to https://github.com/istio/istio/pull/18333

version: 1.6.5
I want to set the environment terminal _drain_duration_seconds value to 10

The configuration file is as follows
[code]

error info
[code]

Values.global.proxy.env is currently supported?Is there another way to set it in the IstioOperator Yaml?

[2020-07-24 09:26] hzxuzhonghu commented on #24233
This can be closed, as 1.14 is not supported

[2020-07-24 09:26] #24233 closed

[2020-07-24 09:59] morvencao commented on #25826
Try to use **meshConfig**:
[code]

[2020-07-24 10:04] rinormaloku commented on #25618
Hi @yangminzhu

I made some changes and want to test those.
But needed some help how does the syncing back to the envoy-wasm repository work? (for now, I am just copying the same changes over to envoy-wasm and building there)

[2020-07-24 10:12] morvencao commented on #25825
You should follow 1.4 doc instead of latest one, because you have installed istio 1.4.
If I remember correct, `PeerAuthentication` was introduced since istio 1.5.

[2020-07-24 10:26] tanjunchen opened #25830 "`istioctl verify-install` fails on parsing error on istio in 1.6.0"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Perfor

[2020-07-24 10:27] tanjunchen commented on #25830
see  https://github.com/istio/istio/issues/25688

[2020-07-24 10:30] tanjunchen commented on #25688
@esnible
i see the same problems in  release 1.6.0

[2020-07-24 11:14] lcx102737 commented on #25826
@morvencao Thank you very much,configuration to take effect

The thing to notice is the string type
[code]

[2020-07-24 11:15] #25826 closed

[2020-07-24 13:48] esnible commented on #25830
Can you attach the output of `kubectl -n istio-system get istiooperator installed-state -o yaml`?  The `verify-install` command compares the installed IstioOperator CR with the Kubernetes Deployments and config.  This error message indicates it doesn't like something about your IstioOperator CR.  I would like to use the problem PR to fix and create new tests so that it doesn't happen again.

[2020-07-24 13:48] esnible commented on #25688
Can you attach the output of `kubectl -n istio-system get istiooperator installed-state -o yaml`?  The `verify-install` command compares the installed IstioOperator CR with the Kubernetes Deployments and config.  This error message indicates it doesn't like something about your IstioOperator CR.  I would like to use the problem PR to fix and create new tests so that it doesn't happen again.

[2020-07-24 14:03] kuuji opened #25832 "Document Behavior: Authorization policy impacting TCP traffic."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I have an authorization policy attempting to block traffic on a specific path and coming with a specific user-agent header.
See the configuration b

[2020-07-24 14:33] tanjunchen commented on #25830
[code]

[2020-07-24 14:36] tanjunchen commented on #25830
Yes. When I use client-go to get iop and convert to IstioOperator, it will produces an error.  like the picture show.

[2020-07-24 15:06] thiagoleitetr commented on #25820
hum...maybe I'm doing something wrong, but still it doesnt work:

[code]

[2020-07-24 15:17] liminw commented on #25832
@yangminzhu  can you take a look?

This AuthorizationPolicy is applied globally in the mesh. If there are TCP workloads, they will be impacted too. Although this is expected behavior, I can see the confusion in this use case. Probably we can add "protocol" as one of the conditions? But I am not sure how it interacts with protocol sniffing.

[2020-07-24 15:37] #25749 closed

[2020-07-24 16:18] howardjohn opened #25840 "Stats inclusionRegexps broken in bootstrap"
https://github.com/istio/istio/blob/e63ab2161fde82e84d03e5ab7736d715a5879276/tools/packaging/common/envoy_bootstrap.json#L112-L115

`regexp` is removed in Envoy now. Need to migrate this to saferegex

[2020-07-24 16:20] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25835/integ-multicluster-k8s-tests_istio/7529

[2020-07-24 16:24] MirtoBusico commented on #25449
Maybe it is related to bug [25578](https://github.com/istio/istio/issues/25578) ?

[2020-07-24 16:26] richa-misra commented on #17918
Hi All,

I am facing the same issue when trying to access Nifi on HTTP with Istio sidecar proxies.
I have tried setting `nifi.web.proxy.host=0.0.0.0` `nifi.web.proxy.host=127.0.0.1` `nifi.web.proxy.host=localhost`
on their own and also alongwith setting `nifi.web.http.network.interface.default=eth0` but none of these seem to work.
Also, there doesn't seem to be parameter `nifi.web.http.network.int

[2020-07-24 16:53] pmoody- commented on #25763
Thanks @stewartbutler

[code]

that gives

[code]

with `cniBinDir: /opt/cni/bin` and `chained: false`, the istio-cni-node pods all start crashing with

[code]

All of the nodes have istio-cni running on them at this point (there are only 3 nodes + master in this small setup)

[code]

if I remove istio-cni and then re-run the ls commands, I see

[code]

[2020-07-24 17:04] devkid opened #25841 "Tracing (to lightstep): allow to enable in per-pod proxy config, allow to get token via secret; outdated documentation:"
**Describe the feature request**

Currently I need to specify the following options for the operator to enable tracing to Lightstep:
[code]

Via the per-pod annotation `proxy.istio.io/config` I can only overwrite what's under `spec.meshConfig.defaultConfig`, so I can't enable / disable tracing and I can't chose the tracer per pod. I would like to be able to do this. Also, it should be possible to

[2020-07-24 17:16] stewartbutler commented on #25763
[code]

[2020-07-24 17:17] stewartbutler commented on #25763
@pmoody-

[code]

OK, that doesn't look right. Can you check what the CNI configuration directory is in your setup? There should be a cni configuration file for weave-net somewhere on your node. Once you find it, please try setting `cniConfDir` in the istio-cni configuration to that directory and try again.

[2020-07-24 17:18] esnible commented on #25830
@ostromart Does anything look unparsable in https://github.com/istio/istio/issues/25830#issuecomment-663568679 ?  It works with `istioctl validate`.

[2020-07-24 17:19] costinm commented on #25503
How about:
- deprecate 'controlPlaneAuthPolicy' - the semantic no longer match what it was intended for.
- document the default ( matching code): port 15010 is by default plain text, 15012 is mTLS with DNS certs signed by google, 443 mTLS with DNS certs signed by a platform-trusted
- add an explicit setting ( can be env variable since it'll likely be mostly for testing) for forcing the behavior -

[2020-07-24 17:22] costinm commented on #25503
Note that 'controlPlane' auth policy is in general not right  - CA may have a different root CA and transport than istiod for example, may use JWT.

In context of 'central istiod' and the integration with other CAs and services - each component will need its own auth
policy.

[2020-07-24 17:35] ronaldmiranda commented on #24060
i'm facing the same issue and i'm on istio 1.5.7

[2020-07-24 17:48] costinm commented on #25503
One proposal if we can still make api changes: we have discoveryAddress, we can add 'discoveryCACertificates'.
If discoveryCACertificates is empty (or port==15010), the connection will be plain text.
Otherwise, it should be the ./var/run/secrets/istio... if Istiod runs with its own self-signed certificates ( port 15012), or
/etc/certs/rootcacerts for cases where istiod is behind a real cert.

I wo

[2020-07-24 17:51] mandarjog opened #25843 "Update grafana dashboard with Wasm metrics"
Wasm already shows

wasm.envoy.wasm.runtime.null.active: 18
wasm.envoy.wasm.runtime.null.created: 18
wasm_filter.stats_filter.cache.hit.metric_cache_count: 408405500
wasm_filter.stats_filter.cache.miss.metric_cache_count: 945
wasm_vm.envoy.wasm.runtime.null.active: 18
wasm_vm.envoy.wasm.runtime.null.cloned: 0
wasm_vm.envoy.wasm.runtime.null.created: 18

And newly added wasm config metrics: https:/

[2020-07-24 18:12] kppullin commented on #24683
Have you tried removing `init:` from your `global` config block?

[code]

[2020-07-24 18:20] vadimeisenbergibm opened #25844 "Resolution NONE stopped working for HTTPS/TLS ServiceEntries"
**Bug description**

Resolution NONE stopped working for HTTPS/TLS ServiceEntries.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an

[2020-07-24 18:20] vadimeisenbergibm commented on #25450
Maybe this one is related https://github.com/istio/istio/issues/25844.

[2020-07-24 18:24] rnkhouse commented on #24683
Such a silly mistake. Thanks for identifying it. @kppullin

[2020-07-24 18:24] #24683 closed

[2020-07-24 18:34] yangminzhu commented on #25832
@kuuji Thanks for the report, this is the expected behavior and it's totally correct to "fix" this by explicitly specifying the port number in the DENY policy. Also see https://istio.io/latest/docs/tasks/security/authorization/authz-tcp/#configure-access-control-for-a-tcp-workload for a task in this case.

@liminw  yes, this is also possible, but need some investigations.

[2020-07-24 18:37] douglas-reid commented on #25601
Instead of adding it to `cluster.env`, please add directly in the `istio-start.sh` script in the call that starts up the pilot-agent. I don't think the `istio-start.sh` properly captures and transfers all the env vars for some reason.

You can validate by checking the local node metadata on the vm by `curl localhost:15000/config_dump | more` or similar and check to see if WORKLOAD_NAME and LABELS

[2020-07-24 18:41] Stono commented on #25218
@lambdai ping... ^^

[2020-07-24 18:41] howardjohn opened #25847 "Upgrade alpha CNI dependency"
[code]

is current version used. We should probably be on a stable version. I tried to upgrade but got all sorts of failures

cc @stewartbutler @bcheung

[2020-07-24 18:42] Stono commented on #25185
:wave: @douglas-reid ping ping - this feels like more of an issue than the mirror metrics missing, this is actual miss-labeled telemetry in the case of DC (source service) disconnections

[2020-07-24 18:42] Stono commented on #24631
I figured this out, it was human error - since then @howardjohn has made istioctl stricter to error at unknown fields - which would have caught my error.  Closing this

[2020-07-24 18:42] #24631 closed

[2020-07-24 18:43] Stono commented on #24513
I'm going to close this, we're just going to leave it to kubernetes.

[2020-07-24 18:43] #24513 closed

[2020-07-24 18:43] Stono commented on #24370
@lambdai @PiotrSikora @howardjohn has anyone given this thought?  it's quite an issue if a reverse proxy stores the entire thing in memory, it's almost a dos vector.

[2020-07-24 18:44] Stono commented on #24058
Whilst we have a workaround for this, it's certainly a problem for anyone using Istio with Cronjobs so should be addressed

[2020-07-24 18:45] Stono commented on #23496
Similar problem but more serious manifestation is when you get DC errors (source service disconnecting, for example - because it's hit a read timeout) you don't get metric labels either: https://github.com/istio/istio/issues/25185

[2020-07-24 18:47] Stono commented on #23496
Also associated https://github.com/istio/istio/issues/21923

[2020-07-24 18:47] Stono commented on #21682
I'm going to close this issue, it's not making any traction and i feel the answer is simply "migrate to istioctl generate-manifests" and suck it up!

[2020-07-24 18:47] #21682 closed

[2020-07-24 18:48] Stono commented on #21377
This would solve https://github.com/istio/istio/issues/24058

[2020-07-24 18:48] Stono commented on #21036
This is now available in the DestinationRule, closing.

[2020-07-24 18:48] #21036 closed

[2020-07-24 18:49] Stono commented on #20717
bump :)

[2020-07-24 18:50] Stono commented on #11659
For anyone else landing here also be aware of https://github.com/istio/istio/issues/24058

[2020-07-24 18:52] jpapejr commented on #17918
w/r/t `nifi.web.http.network.interface.default=eth0` - Is eth0 the correct interface name for your EC2 instances? This was the case on IBM Cloud VSIs but I can almost guarantee that it will differ between cloud providers..

[2020-07-24 18:53] douglas-reid commented on #25185
I think this is related to the metadata for non-mesh services too, right?

We need a way to ensure proper metadata when exchange fails.

@kyessenov @gargnupur @mandarjog

[2020-07-24 18:55] Stono commented on #25185
They are mesh services, however a DC represents the calling service terminating before a response was received, for example during a client read timeout.

[2020-07-24 19:17] lambdai commented on #25218
Sorry I lost this thread.
The bug is https://github.com/envoyproxy/envoy/pull/11629
If you have  enabled ejections_active_ metric already, the fix is not helpful.

[2020-07-24 19:21] Stono commented on #25218
@lambdai im really sorry but I don’t understand the bug.

We have that metric enabled, so are we OK?

The envoy PR says “Risk Level: Mid. User would see documented behavior when the ejection metric is disabled.”

Which would seem to imply the inverse (eg we need to turn the metric off in order to get the documented behaviour)

[2020-07-24 19:32] phenixblue opened #25848 "nil pointer error with `istioctl verify-install` on v1.6.x"
**Bug description**

Getting a nil pointer error exception when running `istioctl verify-install -f my-cool-istio-overlay.yaml`

This seems to only be the case when a config overlay is passed. If I use the default profile with no overlays, I get no error.

I've tested this with istioctl v1.6.3, v1.6.4, and v1.6.5 and it's been consistent

I saw there was a recent change to the way helm chart value

[2020-07-24 19:32] bcheung commented on #25847
I can take a look

[2020-07-24 19:35] kuuji commented on #25832
No problem @yangminzhu . It makes sense.

I think having the protocol as one of the condition would be great. Because I can't always predict the port that is going to be used and I can see some use cases where you would want a policy to apply to all HTTP workload.

I can create a feature request for this if you want. Unless we want to turn this issue into a feature request.

[2020-07-24 19:36] howardjohn commented on #25847
I should mention this is pretty low priority, just something I noticed. Ideally we aren't depending on alpha versions

[2020-07-24 19:39] pmoody- commented on #25763
ok, so it looks like by default weave puts its configuration in `/etc/cni/net.d/10-weave.conflist`, but it had been blown away some how.

I recreated the nodes and started from scratch and now I see:

[code]

[2020-07-24 19:40] yangminzhu commented on #25832
Thanks @kuuji , your example and the use case is well written and I think we can just turn this into a feature request (some small updates to the title and the content should be good enough).

[2020-07-24 19:40] srinathhs opened #25849 "[distroless] [istio-init] [tproxy] libmnl.so.0: cannot open shared object file: No such file or directory"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

istio-init container is crashing with the following error

`libmnl.so.0: cannot open shared object file: No such file or directory`

**Affected pro

[2020-07-24 19:51] ptzianos commented on #18795
@igsong @stono found this by accident. I think it's a nice idea but I have one question/reservation: what happens when a deployment/statefulset/... has been created and is managed by an operator? Isn't there a good chance that modifying these high level objects will cause most operators to perceive them as being in the wrong state which will trigger a reconciliation and a removal of the sidecar co

[2020-07-24 20:12] framled commented on #22986
@chandra210893 did you fix this issue, I have the exactly same problem.

[2020-07-24 20:16] stewartbutler commented on #25763
@pmoody-

Ok, so it looks like the config is in the right place, and the istio-cni binaries and shell script are present.

From your first logs, we see that CNI is called correctly and that it is attempting to execute `/opt/cni/bin/istio-iptables.sh`:
[code]

The `ls` output confirms that that file exists and is executable with the same permissions as weave-plugin. The fact that kubelet is trying

[2020-07-24 20:23] esnible opened #25852 "Wrong URL reported by global.istiod.enableAnalysis"
For example, I do `kubectl get vs ratings -o yaml` and see
[code]

The problem is the `documentation_url`.  It should be https://preliminary.istio.io/latest/docs/reference/config/analysis/ist0101 , with a 'latest' in the URL.

To reproduce, first install 1.7 using `istioctl install --set values.global.istiod.enableAnalysis=true`

Then create a bogus CR:
[code]

@therealmitchconnors @frankbu Is the

[2020-07-24 21:06] howardjohn commented on #24637
[code]

1.15 rc1

[2020-07-24 21:11] JimmyCYJ commented on #25700
Tentatively assign to @howardjohn as this is a release blocker and @howardjohn has the context, please feel free to reassign.

[2020-07-24 21:12] howardjohn commented on #25700
I have no context, needs an Envoy expert

On Fri, Jul 24, 2020 at 2:12 PM Jimmy Chen <notifications@github.com> wrote:

[2020-07-24 21:18] howardjohn commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25782/integ-multicluster-k8s-tests_istio/7555

[2020-07-24 21:19] pmoody- commented on #25763
bash does appear to be installed on coreos. if look at the istio-cni docker nodes, bash is in /usr/bin

for trying out that 1.7-dev tag, can I edit the istio-cni-node daemonset to point to that image?

[2020-07-24 21:22] stewartbutler commented on #25763
The script uses `#!/bin/bash` specifically, so that's probably the problem.

Yes, updating the image tag should work. I've not tested a 1.7 dev image in a 1.6 manifest, though, so there may be other problems. Give it a shot, though.

[2020-07-24 21:26] pmoody- commented on #25763
oops, sorry. I  meant that it's in `/bin` in the istio-cni containers. `/bin` is a symlink to `/usr/bin` on the host, but in the container, bash lives in `/bin/bash`

[2020-07-24 21:27] gargnupur opened #25855 "TCP Stackdriver Access Log nits"
**Bug description**
TCP Stackdriver Access Log nits

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[ ] Mul

[2020-07-24 21:32] howardjohn commented on #24637
Test failures:

[code]

All other unit tests pass. Did not try e2e.

@yangminzhu please advise on if its ok to stop supporting this, or if we need some other action? https://github.com/golang/go/issues/39568#issuecomment-643664132 has some info

[2020-07-24 21:35] lambdai commented on #25218
The documented(and the expected behavior) is that ejection is setup upon outlier detection config, regardless you enable the metric. The buggy behavior was that you need *both* metric and outlier detection config to enable the percentage accounting.

So an alternative approach is to enable the metric.

[2020-07-24 21:37] lambdai commented on #25218
@Stono  My understanding is that you enable the metrics there but still too many endpoints are injected?

That's probably another bug but I wish you can confirm

[2020-07-24 22:21] pmoody- commented on #25763
ok, something isn't being mounted properlly.

[code]

[code]

but

[code]

[2020-07-24 22:26] stewartbutler commented on #25763
OK, this may be because of the way that coreos overlays changes onto the immutable root fs. Try checking if the container/process that is running kubelet can see things that are in the overlay. If not, maybe try changing --cni-bin-dir and --cni-conf-dir in kubelet and istioctl to something outside the normal root fs.

If that doesn't fix it, I'm not sure what else to suggest. This doesn't seem to

[2020-07-24 23:00] yangminzhu commented on #23526
Thanks for opening this Ed, this command is a bit out-dated at this point and I don't think it's worth to fix the listener column, and we should just delete it together with other columns and only keep the AuthZ part.

The AuthZ part should also be simplified to tell whether or not there are any Authz policies applied in the workload and the names of the policies, for example, it can output someth

[2020-07-24 23:29] davidraskin commented on #23526
Yep, I'll work on it.

cc @esnible

[2020-07-24 23:57] stevenctl commented on #25659
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25698/integ-multicluster-k8s-tests_istio/7576

[2020-07-25 00:01] stevenctl commented on #25659
I think #23969 may increase the likelihood for hitting this - should be easier to tell when it's actually fixed.

[2020-07-25 01:04] linsun commented on #25844
@vadimeisenbergibm thank you for reporting this. I'm surprised we don't have a presubmit test for this... we only have it for http/tcp.

@GregHanson can you check out this one as well?

[2020-07-25 01:34] bcheung commented on #25847
I upgraded `github.com/containernetworking/cni` to `v0.7.0` and fixed an error due to [this change](https://github.com/containernetworking/cni/pull/578). All tests pass, but I checked the releases and noticed that all versions following `v0.7.0-alpha1` use CNI spec `v4.0.0` which replaces the `GET` command with `CHECK`: https://github.com/containernetworking/cni/pull/579

It seems like Istio CNI s

[2020-07-25 01:45] hzxuzhonghu commented on #11181
Just to sync up: it seems work for me:

[2020-07-25 01:47] hzxuzhonghu commented on #11181
[code]

And hours later:

[code]

And no restart
[code]

[2020-07-25 01:47] hzxuzhonghu commented on #11181
istioctl version
client version: 1.7.0-alpha.0
control plane version: 1.7.0-alpha.0-37119973c952151e269110170f2fda8c6a34fb5e
data plane version: 1.7.0-alpha.0 (12 proxies)

[2020-07-25 04:41] mandarjog opened #25859 "XDS: HTTP ECDS ExtensionConfigDiscoveryService"
[Extension Config discovery service](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/extension.proto#envoy-v3-api-msg-config-core-v3-extensionconfigsource) addresses several key issues while loading Wasm Extensions. It is not limited to Wasm.

1. It ensures that named bits are fetched only once per named extension config. This is important for Wasm where a module can be several M

[2020-07-25 04:41] mandarjog commented on #25859
cc @PiotrSikora

[2020-07-25 06:04] ramaraochavali commented on #25700
I think this is not a problem. I suspect this to be a dependency ordering problem where file event is created before `Runtime::LoaderSingleton::getExisting()` is created - but it will pick up the default value (which is enabled correctly).

tagging @antoniovicente who made this change in Envoy to confirm.

[2020-07-25 06:14] srinathhs commented on #25849
This error does not occur with base 1.6.5 docker images. Only distroless has this issue.

[2020-07-25 06:52] Eslamanwar commented on #19564
@jcetkov If you can help on setting TERMINATION_DRAIN_DURATION_SECONDS through .ProxyConfig.ProxyMetadata?
It can be done on the istio operator?

[2020-07-25 06:55] Stono commented on #25218
When you say “injected” do you mean “ejected”?

If so yes, we were getting too many ejections but that has been fixed in https://t.co/YaN2TLfB9q, we are just waiting for the release.

We still haven’t gotten to the bottom of this bug however and the DPE errors

[2020-07-25 07:40] tanjunchen opened #25860 "istioctl experimental remove-from-mesh deployment istio-egressgateway -n istio-system * failed to update deployment "istio-egressgateway.istio-system" for service "istio-egressgateway.istio-system" due to Deployment.apps "istio-egressgateway" is invalid: spec.template.spec.containers: Required value"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
[code]

[code]

[code]

**Affected product area (please put an X in all that apply)**

[x] Configuration Infrastructure
[x] Docs
[ ] Installation
[

[2020-07-25 07:42] tanjunchen commented on #25860
@esnible

[2020-07-25 11:24] mcdemir opened #25862 "Error on internal communication by gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I setup istio v1.6.5 on azure kubernetes v17.7.7
I configure gateway, virtualservices, destinationrules(I will share yaml files below) and allow htt

[2020-07-25 11:38] esnible commented on #23526
@davidraskin @yangminzhu

Can you write an RFC for what the output should look like?  Get co-author or approvers from networking and UX working groups?

I am not a skilled in the security CRs.  Our users won’t be either.  The ideal output makes the user feel smart -- understanding the current rules and knowing how to change them.  Let me ask a few beginner questions.  Users might start at https://

[2020-07-25 14:39] costinm commented on #25652
One update: the location of the CA bundle is not really an issue for older versions, since it is a file we include in the image in a well-known location. In future it may be - but we are already planning to move from full paths to 'credential names'.

So my suggestion is to go with the simplest possible solution for 1.7, 1.6, etc:
- add an Istiod config ( env variable - can be set in values.yaml a

[2020-07-25 16:11] rajsenthil commented on #21964
@cober I am also in the same situation. How did you solve it? I tried to look into  [#21987](https://github.com/istio/istio/pull/21987) but could not understand complete.

I have the redis-cluster running on port 6379(under namespace core-service) and could connect to it inside kubenetes cluster from Service A(under namespace `app-service`).
redis-cluster and Service A are under different namespac

[2020-07-25 16:17] MirtoBusico commented on #25578
**UPDATE 3**

Tried to add an authorization policy as in bug #25449 using this definition:
[code]

The only difference is that also connection without token are refused with a 403 code.
I receive 403 / 401 / 401 as return codes for no token / wrong token / keycloak token

[code]
BTW if I look at athorizations cluster wide I see another authorization that I don't know where is coming from
[code]

D

[2020-07-25 17:45] kyessenov commented on #25859
xref: #25484

[2020-07-25 17:56] kyessenov commented on #25484
@hzxuzhonghu webassembly hub relies on `wasme` tool, which is a k8s operator that has a cache, push/pull, and various adapters to inject filter configs. For Istio, is uses an unsupported [EnvoyFilter](https://github.com/solo-io/wasme/blob/master/pkg/deploy/istio/istio_provider.go#L402) API. It could certainly use ECDS to optimize its deployment of Wasm code. This issue is specifically for istio th

[2020-07-25 22:06] mandarjog commented on #25484
@kyessenov if we can experiment with this thru federation without touching pilot that would be great.
May have to make minimal change to pilot to enable ecds federation.

Also Ecds does not lock us into inline bytes delivery. We can still use url fetch and other byte delivery mechanisms.

[2020-07-25 23:12] howardjohn opened #25863 "TestMeshNetwork flake"
https://github.com/istio/istio/pull/25846

[2020-07-25 23:44] rajsenthil commented on #21964
For now, I downgraded to 1.5.0 and currently working as expected.

[2020-07-26 00:26] bianpengyuan opened #25866 "Tag istio envoy repo at release publishing"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Propose tag istio/envoy the same as other deps. Several potential ways to do this:
1) Bring back istio.deps in istio/proxy, and add presubmit check into istio/proxy to make sure envoy sha there is the same as the one in Workspace file.
2) Add anothe

[2020-07-26 00:27] bianpengyuan commented on #25866
cc @howardjohn

[2020-07-26 01:10] howardjohn commented on #25866
I prefer 2 personally. I would rather have complexity in the tool than in manual developer action. I don't really work in this area much though so maybe I don't have enough context though, 1 would work as well

[2020-07-26 05:01] #18981 closed

[2020-07-26 05:36] bianpengyuan commented on #23166
I did some experiment on this, the test set up was:
* Apply gateway configuration which creates 200 clusters with round robin routing.
* Cap ingress gateway instance at 1.
* Send 1000 qps for half hour.

I ran the test three times with three different proxy image:
1) `gcr.io/istio-testing/proxyv2:1.8-alpha.c919b0b84ab9c8f322adf470e31f28fcf583e654` which is a dev build from https://github.com/istio

[2020-07-26 05:43] mandarjog commented on #23166
@bianpengyuan thanks for doing this.
What is the impact on sidecars? I expect it to be lower since they don't get so many clusters.

Can you measure that? We can have different defaults for sidecar and ingress.

[2020-07-26 05:46] bianpengyuan commented on #23166
@esnible Sorry I missed your question before. I don't have such a list. [This](https://github.com/istio/istio/blob/9939ad57ed0e7154df6637948bc7b2b3e0ce4201/pkg/bootstrap/config.go#L54) has the list of stats prefix that we by default expose at envoy. The part we hide is mainly cluster stats and listener stats.

[2020-07-26 05:46] bianpengyuan commented on #23166
@mandarjog Sure I can measure it.

[2020-07-26 06:03] bianpengyuan commented on #23166
@mandarjog So to measure impact on sidecar, it is basically change the current test to use lower concurrency (2) and cluster number (~30), right? Or is there any other changes you can think of?

[2020-07-26 06:08] mandarjog commented on #23166
30 cluster is a namespace would be a high number. I think 20 is better estimate. Concurrency should not matter here, but we know it affects memory elsewhere .

I think if you enable all stts in one standard service graph namespace you can record the metrics for a few sidecars.

[2020-07-26 16:08] ClareChu commented on #25688
[code]

[2020-07-26 17:00] tiggerlee2 commented on #24060
I checked grpc java log and it seems that grpc_json_transcoder is not working.

":path" header was not converted from rest to grpc pattern and body was not protobuffer format too.

[2020-07-26 18:03] pavan-kumar-99 opened #25872 "Citadel: Certificate is NOT authorized to sign other certificate"
I have followed the steps given in this https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/
After generating my self signed certificates I get the following error saying that **Error: failed to create discovery service: failed to create CA: failed to create an istiod CA: certificate is not authorized to sign other certificates**
Can you also document the openssl commands us

[2020-07-26 19:16] cober commented on #21964
@rajsenthil you can use something like that:
`apiVersion: "security.istio.io/v1beta1"
kind: "PeerAuthentication"
metadata:
  name: "mtls-disable"
  namespace: "redis"
spec:
  mtls:
    mode: DISABLE`

[2020-07-27 00:54] jgournet opened #25875 "Proxy Protocol on health check port"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Setup:
- NLB with TLS termination, and proxy protocol enabled
- proxy protocol enabled on istio with:
[code]
- Target Group health check with HTTP t

[2020-07-27 02:31] tanjunchen commented on #25830
@esnible
it is ok  if  I  install the istio cluster  by https://istio.io/latest/docs/setup/install/istioctl/.  `istioctl  verify-install` will be succeed.  the install command is `istioctl install --set profile=demo` .
[code]

The difference of them is `status`

[code]

[2020-07-27 02:33] colt-rex commented on #25734
Additional information:

The bug seems to be a race condition of some sort. The bug only surfaces when I send a large request and the API that receives the request decides to respond and then close the connection before the entire request body has passed through the gateway. In this case, I _think_ that the upstream host sends its response, then closes the connection; but the gateway continues sen

[2020-07-27 02:41] howardjohn commented on #25860
You cannot remove the gateway from the mesh, only sidecars. remove-from-mesh just removes the sidecar container. The error message should be better, but its expected this fails

[2020-07-27 05:01] #19860 closed

[2020-07-27 05:01] #19861 closed

[2020-07-27 06:20] ZhuangYuZY commented on #25145
Thank you. So far I think gateway memory could be as deleting kn service could trigger memory decrease. But do you have any comment on istiod memory usage. From https://github.com/istio/istio/issues/25145#issuecomment-662320481, the istio memory is > 6G.

`Here is a memory snapshort after creating and deleting 800 knative services.

kubectl -n istio-system top pods
NAME

[2020-07-27 06:45] bydeath commented on #25792
Now I can reproduce the issue by removing the container istio-init.
`docker rm (docker id of istio-init)`

[2020-07-27 06:54] bydeath commented on #23661
@howardjohn But they are not similar. The bug https://github.com/istio/istio/issues/19717 says `restartPolicy` of init container was set to `never`. While the value of  `restartPolicy`  of container `istio-init` is `Always` in my istio whose version is 1.6.3.

[2020-07-27 07:28] tanjunchen opened #25877 "istioctl experimental add-to-mesh service productpage can't add or remove sidecar."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ]

[2020-07-27 08:43] Geek3carl commented on #23283
I am facing same error,when i applyed this offical doc config demo,this error had been resloved.
https://istio.io/latest/zh/docs/tasks/security/authentication/authn-policy/
I guess this problem because of istio default config open mutual TLS.
when you applyed last config,please regenerate pod.

[root@hd1-msb-testk8scluster-m1]# kubectl apply -f - <<EOF
apiVersion: "networking.istio.io/v1alpha3"
ki

[2020-07-27 08:46] bydeath commented on #24148
It happens when the container `istio-init` is removed and restarted, the iptables rules has been set at this scenario, I can reproduce it by remove the container `istio-init`.
I am wondering why iptables rules restoring fails when rules are existing?

[2020-07-27 10:17] jurgenweber commented on #25642
ok, I also had to add

[code]

to the overlays, so external-dns would work correctly.

https://github.com/kubernetes-sigs/external-dns/issues/1685

[2020-07-27 10:39] hustshawn commented on #19414
@RaduRaducuIlie did you resolve the problem?

[2020-07-27 11:23] sdake commented on #12602
Hi gang. This is a duplicate of actions taking place at https://github.com/istio/istio/issues/24000. Unfortunately, much of the context is here, however, I'd encourage the PR work taking place in the above issue to account for the community's responses here.

Cheers,
-steve

[2020-07-27 11:24] sdake commented on #24000
Hi gang,

For the PR associated with this issue, there is alot of context here: https://github.com/istio/istio/issues/12602#issuecomment-489449657. The defaults are definitely busted. 👍

[2020-07-27 12:08] dhineshbabuelango opened #25882 "Pod to Pod Connection failed with 503 Service unavailable"
**Bug description**
I have istio installed in EKS, Not able to reach one particular pod from any other pod in any other namespace, getting 503 service unavailable.

* Mark bundle as not supporting multiuse
< HTTP/1.1 503 Service Unavailable
< date: Mon, 27 Jul 2020 12:05:46 GMT
< server: envoy
< content-length: 0

**The source pod istio proxy logs shows below**

**"response_flags":"NR"**

2020-07-

[2020-07-27 12:53] richa-misra commented on #17918
@jpapejr  Thanks for your reply `nifi.web.http.network.interface.default=eth0` was fine key thing was to add a new property for loopback device `nifi.web.http.network.interface.lo=lo` nifi.properties file, that fixed the issue !

[2020-07-27 12:55] ethanhanjiahao opened #25883 "Why healthy_panic_threshold configured in OutlierDetection"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**HealthyPanicThreshold configured in OutlierDetection**
health_panic_threshold is a configuration to set CommonLbConfig for cluster.  Default to 50.
As the concept in envoy: The panic threshold is used to avoid a situation in which host failures cascade throughout the cluster as l

[2020-07-27 12:59] emike922 commented on #21961
May I ask how you configured Istio to use Vault as its CA? Are you already using the Istiod-based 1.5?

[2020-07-27 13:15] tmshort commented on #21961
We currently deploy istio 1.5 with the "legacy" helm charts. The instructions can be found in the istio 1.4 documentation, which still apply with the legacy helm charts, and may still work with the `values` section in the istio operator (although we haven't tried). We've been using the same SDS/Vault configuration since istio 1.3.6. We are looking to move to the operator in 1.6, but have not made

[2020-07-27 13:19] ajoysinha opened #25884 "EnvoyFilter is failed to do http communication with sidecar"
istio version 1.5.4

Problem Statement : Trying to develop EnvoyFilter for external authorization. but if **http-** prefix is not added on ports.name in service.yaml file then http_connection_manger filter is not incorporate in proxyconfig [istioctl proxy-config listeners hello-world-t2-548c8d58cb-hzlxj --port 15006 -o json -n nexus-sitb] .

hence any http communication from EnvoyFilter do not wor

[2020-07-27 13:27] jwendell commented on #25752
Fixed by https://github.com/istio/envoy/pull/244

[2020-07-27 13:27] #25752 closed

[2020-07-27 13:32] rshriram commented on #25652
fwiw, we discussed this in detail in the product security wg. Setting defaults like described here was not the recommended solution. Different (popular) tools take different approaches. Envoy has an explicit field for setting ca certs with explicitly documented model of opting into doing tls verification - we are following the envoy conventions here. Secondly, this is an intensely subjective view

[2020-07-27 14:05] alternaivan commented on #21266
Hi,

I've got similar error running on EKS K8s version 1.16 and when upgraded to K8s 1.17 the DaemonSet has started working.

Thanks for the hint!

Cheers! :)

[2020-07-27 14:11] #23203 closed

[2020-07-27 14:23] yuval-k commented on #25484
hi, a few notes here:
- webassembly hub doesn't strictly rely on wasme as it uses standard OCI images. I think supporting OCI images is good idea for istio as well.
- we would love to work with you to make sure wasm-hub can work seamlessly with istio in a supported way.
- the operator currently caches because of issues using HTTP transport (even with recent versions; we can provide more details).

[2020-07-27 14:36] mandarjog commented on #25484
@yuval-k @kyessenov let's setup a call specifically for Wasm.
This thread is about ECDS which is broader.

[2020-07-27 14:43] howardjohn commented on #25145
If you post a profile of Istiod I will look at it, the only in the original post is for an older version. #25613 may help (not yet released), but hard to know without the profile

[2020-07-27 14:46] jpapejr commented on #17918
Great, glad to hear it! With @richa-misra's success, I think the documented method for using NiFi inside an Istio mesh is validated. Closing this issue, if anyone objects, please feel free to re-open.

[2020-07-27 14:46] #17918 closed

[2020-07-27 14:51] howardjohn commented on #25700
Happens on latest plain envoy:
[code]

[2020-07-27 15:14] mandarjog opened #25888 "Fluentd support for telemetry v2"
Mixer supports fluentd with a uniformly configurable log entry.
https://istio.io/v1.6/docs/tasks/observability/mixer/logs/fluentd/

With v2 we need to explore all options including
1. Use native envoy json output and send it to fluentd.
2. Write a fluentd sync using Wasm json output
3. Add upstream support in envoy for fluentd sync

@douglas-reid @gargnupur

[2020-07-27 15:16] JohnWillker commented on #14202
There's a good reason for livenessProbe is not implemented for istio-proxy containers?
I think is a good practice have both, readiness and liveness:
- https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
- https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-setting-up-health-checks-with-readiness-and-liveness-probes

[2020-07-27 15:43] jmazzitelli opened #25889 "[1.7.0-alpha1] simplified addons yaml fail to be applied"
Trying 1.7.0-alpha1's [simplified addons install method](https://github.com/istio/istio/issues/23583). Fails to install Kiali and Prometheus.

Prometheus error:

[code]

Kiali error:

[code]

I know what the Kiali problem is, and it will be difficult to fix with the way the simplified method does things. `gen.sh` just builds a yaml and is to be applied via `kubectl apply -f`. However, any operator

[2020-07-27 15:51] jmazzitelli commented on #25889
We'll also want to make sure we ship Istio 1.7 with Kiali v1.21 minimum.

[2020-07-27 16:37] zufardhiyaulhaq commented on #24865
@elfinhe did this already apply in 1.6.5?

[2020-07-27 16:52] davidraskin commented on #23526
Currently, the information for output is being pulled from envoy RBAC config dump, so it doesn't correspond exactly to the user's Authorization Policy configuration. Especially, the When condition, which is converted to permission and principal fields in [RBAC Config](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/rbac/v3/rbac.proto#envoy-v3-api-msg-config-rbac-v3-rbac). It might be bes

[2020-07-27 16:53] agilgur5 commented on #23075
So the error message here (and linked k8s issues) is different from #12602:
- Here: `This pod has more than one PodDisruptionBudget, which the eviction subresource does not support.`
- There: `Cannot evict pod as it would violate the pod's disruption budget.`

Here the error is that two PDBs were added somehow, not that there was a PDB/HPA mismatch. I'm not quite sure how it would get into that st

[2020-07-27 16:59] linsun commented on #11130
@luksa very nice work!!  Will try this!

[2020-07-27 17:00] douglas-reid commented on #25888
Do we want it to be as configurable as the Mixer version?  When this work was suggested at a ToC meeting, there was some pushback. What is the priority here?

[2020-07-27 17:12] mandarjog commented on #25888
Uniform configurability and abstract logEntry had the push back.
As we frequently do, we can forgo the Istio wide API at least in the Wasm implementation case.

[2020-07-27 17:13] #25423 closed

[2020-07-27 17:25] JimmyCYJ commented on #18169
I am moving this to 1.8, as this has passed 1.7 build cut day and there is no PR that fixes the issue.

[2020-07-27 17:26] JohnWillker commented on #11659
If you use a cronjob with a Golang app inside. This library tries to solve some of these problems: https://github.com/allisson/go-istio-proxy-wait

[2020-07-27 17:50] JimmyCYJ commented on #23930
@esnible, could you take a look at https://github.com/istio/istio/issues/23930#issuecomment-644210989 and triage this issue?

[2020-07-27 18:05] kyessenov commented on #18169
It is impossible to implement JSON patch with just protobuf merge. There is no way to delete set fields, and the default values in proto are equivalent to unset. So unset can never override a set field with protobuf merge.

[2020-07-27 18:07] esnible commented on #23526
@davidraskin Do you see `istioctl x authz check` as a troubleshooting command for checking what Istio has pushed to Envoy, or a command to help users understand the CRs they have created?

Currently many of the Istio command print little reports like this based on scraping Envoy.  We should consider keeping that strategy for this command.

In the past we had an `istioctl get <type>` command that l

[2020-07-27 18:07] yangminzhu commented on #23526
It is on inbound side and is explained in the https://istio.io/latest/docs/concepts/security/#authorization-architecture, I don't think users would think the blocking is on the outbound side, just like any access control policies, it doesn't work if they're applied on the outbound side because otherwise it could just be bypassed if you're sending the request bypassing the outbound side.

It's too

[2020-07-27 18:08] yangminzhu commented on #23526
The tool is a troubleshooting command for checking what Istio has pushed to Envoy, and the user should just use `kubectl` to get the content of the CRs.

[2020-07-27 18:16] pmoody- commented on #25763
Alright. I agree that this is probably a coreos / kubelet configuration issue. Thanks for looking into this.

[2020-07-27 18:16] #25763 closed

[2020-07-27 18:20] esnible commented on #23526
@yangminzhu Do you believe it would be helpful to add `ACTION` column?

[code]

I'd rather see the rules themselves, but Kubernetes `additionalPrinterColumns` only offers a subset of JSONPath and doesn't even offer `length()`.  We can't show anything except ACTION.

[2020-07-27 18:21] laurentiuspurba commented on #22677
I was able to upgrade from `1.4.3` -> `1.4.10` -> `1.5.8` -> `1.6.4`. I could not have done it without help from Istio community (Prune and Vito).

Prior upgrading to other version, make sure to add newline character on ca-cert.pem as describe [here.](https://github.com/istio/istio/issues/24609)

- `1.4.3` -> `1.4.10`: I did the upgrade using `istioctl experimental upgrade -f IstioControlPlane.yam

[2020-07-27 18:43] yangminzhu commented on #23526
@esnible yes, it should be helpful to have the `ACTION` column.

On the other hand, I feel it's not a good idea to show other contents in the column because it's too complicated to get this right considering the complexity of the authz policy.

Unlike other Istio CRs, there is not a single field (other than the ACTION) that is used in every policy, for example, a policy may just use RequestPrincip

[2020-07-27 18:45] ostromart commented on #25830
It should probably not be a list, please try with IstioOperator CR not in a list.

[2020-07-27 18:45] esnible commented on #23930
@frankbu I no longer have @mbanikazemi 's data.  His claim was that data routed to a specific subset followed the over-all traffic policy, not the subset policy.  The behavior definitely changed between Istio 1.4 and 1.5.  Because of the change, https://github.com/istio-ecosystem/multi-mesh-examples/tree/master/add_hoc_limited_trust/http no longer works.  It was not just caused by a typo.  The int

[2020-07-27 18:47] howardjohn commented on #23943
Any updates on this? Just wasted an hour digging through 100s of callbacks and async processes

[2020-07-27 18:50] jasonwzm commented on #23943
Still WIP. You mean debugging the processing pipeline?

[2020-07-27 18:51] howardjohn commented on #23943
Yes, I am interested in this issue so we can delete all of this code and never have to debug it again :slightly_smiling_face:

[2020-07-27 18:53] jasonwzm commented on #23943
I am hoping to do it soon. I will likely refocus on this later this week. Why do you have to do debug galley code? It is just running analysis.

[2020-07-27 18:54] howardjohn opened #25893 "Analysis pipeline doesn't properly shut down"
Example failure in CI: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25854/integ-pilot-k8s-tests_istio/17059

Basically the issue is if the processing is still running in a goroutine after `analyze` exits, and attempts to process a new CRD event from the next test. This leads to a panic.

In theory we could also just fix the panic

[2020-07-27 18:54] howardjohn commented on #23943
https://github.com/istio/istio/issues/25893 is the issue

[2020-07-27 18:56] JimmyCYJ commented on #24539
Setting this issue to P1 per https://github.com/istio/istio/issues/24539#issuecomment-640992142

[2020-07-27 18:58] #25863 closed

[2020-07-27 18:58] jasonwzm commented on #23943
ok. do you have an idea on how to fix it or you are waiting for the code to be removed.

[2020-07-27 19:01] douglas-reid commented on #25843
Duplicate of #24920 ?

[2020-07-27 19:02] rodrigorodrigues commented on #15122
Hi @jamesmedice have you found a solution using `spring security` please?

Having same issue 401 with empty body, applied debug level but didn't help much.

[code]

[2020-07-27 19:18] frankbu commented on #23930
@esnible the above example is not doing any explicit routing, so it's not demonstrating the issue, if one exists.

If you add a step 2.5: `kubectl apply -f samples/bookinfo/networking/virtual-service-all-v1.yaml`, does it still fail?

[2020-07-27 19:18] siluo commented on #25825
We are going to upgrade to 1.5 to see if it is gonna solve the issue. thank you @morvencao

[2020-07-27 19:25] esnible commented on #23930
@frankbu I just did a bunch of testing with `mode: DISABLE`, `mode: ISTIO_MUTUAL`, and various VirtualServices.  It worked exactly as you said.  This was originally discovered with ISTIO_MUTUAL vs MUTUAL but I am not set up to test that.

Without a way to reproduce I will assume it was filed in error or has been fixed.

I will change the description to capture the reporter's `tlsSettings` double m

[2020-07-27 19:53] sdake commented on #25572
envoy, along with 3 wasm files is built and output. istio/istio may not properly import it with env vars set. I'll see what I can do to get istio/istio to use the envoy shared build cache for local builds with an env var set.

[2020-07-27 20:14] jamesmedice commented on #15122
hi @rodrigorodrigues  , in my case i m having issue with PeerAuthentication , RequestAuthentication, AuthorizationPolicy,
but my api's under protection are throwing 503 ... here is my repo [github] jamesmedice/Istio-Rbac-Policy-Mesh
i guess my error is on the service entry and destination rule that should be imposed for the egress gateway.. just thoughts

[2020-07-27 20:33] frankbu commented on #25852
I think the question is do we want this to point to release specific docs or just to istio.io/, which redirects to istio.io/latest? Ideally it should, but may not be that easy to do. If we want it to, it should point to the version specific docs, e.g., for release 1.5: `https://istio.io/v1.5/docs/reference/config/analysis/ist0101/`. `/v1.6` just redirects to `/latest`. The next release is special,

[2020-07-27 20:43] StymiedSloth commented on #10547
Hello

Any updates on this?
Thanks

[2020-07-27 21:11] monsteredc commented on #23930
@esnible The PR #25302 has the ability to detect duplicated keys because the field map should be built with unique field keys. I just tried to convert this YAML resource to JSON format using the same yaml library which implements the `istioctl analyze`, and the output only contained the part after the subsets:
`trafficPolicy:
    tls: {}
`
The first part:
`trafficPolicy:
    tls:
      mode: ISTIO

[2020-07-27 21:18] monsteredc commented on #23930
nvm looks like this issue has been resolved.

[2020-07-27 21:21] aattuluri opened #25898 "HYBRID DNS resolution support in ServiceEntry construct"
**Describe the feature request**
`HYBRID` DNS resolution support in ServiceEntry construct.

Consider the following service entry:

[code]

The above results in the following EDS generation:
[code]

where `172.20.255.51` is the Cluster IP of the service `backend-app.mesh-backend.svc.cluster.local`.
This causes load balancing to fail as the pods are behind `172.20.255.51` and the source proxy canno

[2020-07-27 21:22] #25744 closed

[2020-07-27 21:23] aattuluri commented on #25898
CC @jwebb49

[2020-07-27 21:33] davidhauck commented on #25852
Merging preliminary and istio.io will be a bit more tricky, as we need a way to keep them separate in code. I could add a redirect that points istio.io/v1.7 to preliminary.istio.io/latest though.

[2020-07-27 21:34] GregHanson commented on #25844
Still investigating root cause in the listener logic.  The cluster is generated the same in both 1.6.X and 1.7 but in the latter there is no listener pointing to it.

Sepearate issue: @vadimeisenbergibm the patch command provided above and what was added to the docs [here](https://github.com/istio/istio.io/pull/7786) does not appear to work:
[code]
I tried both the `replace` and `add` but is rejec

[2020-07-27 21:38] GregHanson commented on #25493
@illidan80 there is a new feature that will be available in 1.7 that might be worth checking out:
https://github.com/istio/istio/pull/24737

[2020-07-27 21:53] liggitt commented on #24637
that likely means the serving certificate used in the test is not valid (sets a CN but not SAN) and should be updated

[2020-07-27 22:04] howardjohn commented on #25889
This is about upgrade only for the prometheus issue. Basically migration from istioctl to samples will need some more. Possible fix is `--force`, need to sync with some other work on this area though (https://github.com/istio/istio/issues/25701).

For the kiali issue - agree on your assessment, I think it must happen more on minikube/kind which is much faster on apply, I never saw it on GKE but ju

[2020-07-27 22:06] jmazzitelli commented on #25889
I think that's a fair workaround. This is for quick demo'ing and kick-the-tires anyway. A more formal solution would get more complex and start introducing scripts and then it will slowly grow out of hand as people ask for more features in that script ("Well, you already have a script, can't you make it do \<fill in the blank for the next shiny thing\>, too?")

[2020-07-27 22:09] howardjohn commented on #25889
We can also just have a step process (`kubectl apply kiali.yaml; kubectl apply kiali-cr.yaml`), although I suspect many people will just run `kubectl apply samples/addons/` and get everything. I am about to work on making sure istio.io is up to date with all of this so I'll play around with this a bit

[2020-07-27 22:12] christian-posta commented on #25883
It was originally added so we could mimic behavior with Envoy's outlier detection and other library-based circuit breaker implementation.

So under the covers this gets set on Envoy's CommonLBConfig as you pointed out. Are you asking to make the API not be outlier-detection specific?

[2020-07-27 22:18] howardjohn commented on #24714
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/25662/unit-tests_istio/17113

[2020-07-27 22:19] esnible commented on #23930
@monsteredc I have created a PR to report the problem when the user does `istioctl validate`.  I wrote that code and it was easy to add.

I don't know the details of https://github.com/istio/istio/pull/25302 .  If any field comes from two different places will the analyzers have access to that information?  Could we create an analyzer that reports and field with two different locations in the sour

[2020-07-27 22:23] christian-posta commented on #25882
Is there a valid route for this service? `istioctl proxy-config routes` to check

[2020-07-27 22:32] christian-posta commented on #25872
It checks for the Basic Constraints cert extension:

https://www.pkisolutions.com/basic-constraints-certificate-extension/

You may be able to use something like this to do it:
https://stackoverflow.com/questions/36920558/is-there-anyway-to-specify-basicconstraints-for-openssl-cert-via-command-line

FWIW, I'm a big fan of the `step` utility which can create root certs and intermediates. I have som

[2020-07-27 22:59] monsteredc commented on #23930
@esnible I think creating an analyzer will not work because the current `istioctl analyze` system only analyzes one of the same keys, and other keys will be ignored before the analysis process. I think it's better to directly add the error with the fmt.Errorf() format during the YAML parsing process. For example, like this error during the YAML parsing process:
`* error processing ../../testdata/m

[2020-07-27 23:14] nrjpoddar commented on #7679
Envoy doesn't sanitize XFF headers, you can only set which XFF to use and the trusted proxies in front is supposed to sanitize if needed. The Gateway topology API allows users to easily specify which XFF to choose but doesn't guarantee sanitization.

[2020-07-27 23:15] howardjohn commented on #20039
I did not see this in latest code, likely stale

[2020-07-27 23:15] #20039 closed

[2020-07-27 23:18] howardjohn commented on #19883
Hi @xiaozhongliu sorry this didn't get much attention. Istio 1.2 is now out of support, https://istio.io/news/support/announcing-1.2-eol/, so we can only address issues from 1.5+. If this is still present, can you reopen with some steps on how we can reproduce this? I have not been able to. Thanks!

[2020-07-27 23:18] #19883 closed

[2020-07-27 23:23] howardjohn commented on #20839
This seems a valid request, but we have recently removed Mixer (#25669) so I don't think this is is relevant today - sorry we didn't get to this sooner. If I misunderstood in some way let me know and reopen. Thanks!

[2020-07-27 23:28] #23930 closed

[2020-07-27 23:30] chilu49 opened #25904 "unable to create gateway and virtualservice as part of bookinfo app installation."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml
unable to recognize "samples/bookinfo/networking/bookinfo-gateway.yaml": no match

[2020-07-27 23:50] howardjohn commented on #21025
I reproduced this using your configs, but with `httpbin` app since that one is not public. Some notes.

* Your usage of siege seems invalid - you are trying to measure throughput but injecting artificial delay? see `  -b, --benchmark           BENCHMARK: no delays between requests.` flag
* You have httpsRedirect, so HTTPS being slower is highly suspicious
* Using `hey` I see https is 2x faster
* i

[2020-07-27 23:53] howardjohn commented on #11682
This is assumed fixed by https://github.com/istio/istio/pull/11485 and future further fix tracked in https://github.com/istio/istio/issues/11130. If you have specific 503 issues please open an issue with info + access logs. Thanks

[2020-07-27 23:53] #11682 closed

[2020-07-27 23:54] howardjohn commented on #21194
@pandagodyyy can you post a config dump? https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-07-27 23:58] howardjohn commented on #21200
@shahid-mushtaq I do not understand the when the failure actually occurs, can you be more explicit about what succeeds and what fails, and capture access logs (https://github.com/istio/istio/wiki/Troubleshooting-Istio)? I am confused by your Gateway being on 443 but requesting on a different port

[2020-07-28 00:10] howardjohn commented on #21105
Can you try something like? per filter config will not work anymore

[code]

I have tested this

[2020-07-28 00:19] howardjohn commented on #21394
I have reproduced this, seems cross namespace is not working

[2020-07-28 00:32] howardjohn commented on #21394
The problem is we have a map with a non unique key: https://github.com/istio/istio/blob/05552aa05a71dca94403b9e2608a7f2d73352eb0/pilot/pkg/model/gateway.go#L51

In my specific case it can be fixed by removing the duplicate gateway in the other namespace (see my config below, 2 identical GW in different namespace):
[code]

It is definitely a bug, that just may be a feasible workaround

[2020-07-28 00:32] howardjohn commented on #21394
Related: https://github.com/istio/istio/issues/24118

[2020-07-28 00:41] howardjohn commented on #21851
I am fairly sure this is not supported in Envoy based on some digging around in https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-msg-config-route-v3-redirectaction. Since Istio is built on Envoy, we are limited by the feature set exposed there. Can you file a feature request in Envoy, and if implemented there we can possible expose support? It

[2020-07-28 00:51] howardjohn commented on #21856
I tried to reproduce on latest code and could not. This area has had substantial improvements, I strongly suspect this has been fixed but cannot point to a specific PR. Can you try on 1.6+? I tried on latest code, its possible its not fixed in 1.6 but is on latest if you want to try that as well, see https://github.com/istio/istio/wiki/Dev%20Builds.
My config:

[code]

[2020-07-28 01:01] howardjohn commented on #21914
Why do you think this is the desired behavior? You have defined a route for `port 80 github.com` (opaque hostname) to ServiceEntry github port 443. If anything, it seems the expected behavior is actually that it works for both even if there is no config on port 80 at all

[2020-07-28 01:03] howardjohn commented on #22241
Requests from the sidecar do *not* go through Envoy, they are passed through directly. This, along with `UF: Upstream connection failure in addition to 503 response code.` (upstream == your app) strongly suggests an issue with your application, not Istio

[2020-07-28 01:08] howardjohn commented on #22265
`Connection reset by peer` suggests the backend you are hitting is closing the connection.

Are you certain it does not happen if you bypass the ip range? You mentioned it runs for 12hrs so it sounds very rare, is it possible it is just not detected during that time you bypass the iprange?

[2020-07-28 01:12] howardjohn commented on #22404
Do you experience this still? Sorry we didn't get to this earlier. 1.4 is now EOL so want to make sure this is still occurring on supported versions: https://istio.io/latest/news/support/announcing-1.4-eol-final/

[2020-07-28 01:13] howardjohn commented on #22482
@andrijaperovic are you still experiencing this? See comment above

[2020-07-28 01:15] howardjohn commented on #22503
@nelsonyaccuzzi I agree! I reached out to some folks at IBM to see if we can get this resolved. In the meantime I think this is an IBM issue, everything is working in supported Istio versions, so I will close this. If I misunderstood lmk and we can reinvestigate

[2020-07-28 01:15] #22503 closed

[2020-07-28 01:20] howardjohn commented on #22533
How does your DNS determine that service if you just have a single part `machine` and not `machine.devel`. I am skeptical this is a use case we should support, especially as it will lead to users attempting to use short names to reference k8s services which we will not support.

@rshriram any thoughts?

[2020-07-28 01:21] agueijo commented on #1430
+1 WebRTC UDP

[2020-07-28 01:22] howardjohn commented on #22621
Yep!

[2020-07-28 01:22] #22621 closed

[2020-07-28 01:30] howardjohn commented on #22588
1. @nschhina can you fix this when you update the doc to not use a subset? its confusing IMO, I agree with @padzikm

2. fixed now, https://preliminary.istio.io/latest/docs/reference/config/networking/gateway/#Gateway

4. Doc is updated to explain DR selection rules now. Other resources covered under `exports all traffic management resources to all namespaces by default`

5. Self signed by istio CA

[2020-07-28 01:30] howardjohn commented on #20477
I believe this is fixed by #24763

[2020-07-28 01:30] #20477 closed

[2020-07-28 01:35] howardjohn commented on #19394
This is implemented by `--verbose` on listener, and cluster now shows direction

[2020-07-28 01:35] #19394 closed

[2020-07-28 01:36] howardjohn commented on #22767
I don't think this is a valid request, as TCP does not have a host to match against, so I will close this

[2020-07-28 01:36] #22767 closed

[2020-07-28 04:42] ethanhanjiahao commented on #25883
Yes. Because we add active_health_check configuration such as
![image](https://user-images.githubusercontent.com/10829448/88619396-0c836700-d0ce-11ea-8ed1-f5b0b0dd4e7e.png)
To config Envoy's core.HealthCheck.

But because the Envoy's CommonLBConfig is only one config. I think Istio should extract the common config for panic_threshold.
If not, unless we modify the code in Istio, some configuration

[2020-07-28 04:50] ramaraochavali commented on #25883
Sorry. I may be not following you fully - How does it matter where it lives in Istio API section, when it is finally applied CommonLBConfig in Envoy?

[2020-07-28 05:07] howardjohn commented on #18367
not stale

[2020-07-28 05:20] howardjohn commented on #18367
not stale!!

[2020-07-28 05:36] howardjohn commented on #18367
...

[2020-07-28 05:46] #18367 closed

[2020-07-28 05:46] shamsher31 commented on #22286
@esnible The PR https://github.com/istio/istio/pull/22799 was open from a long time.

[2020-07-28 06:19] gudeyang1 commented on #25820
got the same problem upgrading istio 1.5.8 to 1.6.5 using the default helm values.yaml
[code]
and the `--force` not working
[code]
 BTW,  does istio support skip-level upgrades from 1.4 to 1.6?  From https://istio.io/latest/news/releases/1.6.x/announcing-1.6/upgrade-notes/  i notice istio doesn't support  skip-level upgrades, but from  https://istio.io/latest/docs/setup/upgrade/, seems it's suppor

[2020-07-28 07:19] vadimeisenbergibm commented on #25844
@GregHanson Let me check the patch issue.

[2020-07-28 07:23] iandyh opened #25909 "Envoy segmentation fault"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Envoy had segmentation fault and exit with following exceptions:

![image](https://user-images.githubusercontent.com/431658/88632246-4bc1b000-d0ee-1

[2020-07-28 07:32] #22927 closed

[2020-07-28 07:42] morvencao commented on #25904
What's the output of `kubectl get crd | grep networking.istio.io`? Is there log for `istioctl install --set profile=demo`?

[2020-07-28 08:02] lanceliuu commented on #25145
heap profile for istiod pilot of version 1.6.5 with 800 ksvcs created.
[pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.004.pb.gz](https://github.com/istio/istio/files/4986783/pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.004.pb.gz)
[pprof.pilot-discovery.alloc_objects.alloc_space.inuse_objects.inuse_space.003.pb.gz](https://github.com/istio/is

[2020-07-28 08:44] hzxuzhonghu commented on #25145
I am thinking `AddConfigDependencies` has mem leak if `createNewContext` is never called later.

[2020-07-28 09:14] knight42 commented on #25830
This problem may be fixed by https://github.com/istio/api/pull/1483, I could confirm that istioctl 1.7.0-alpha.1 works without any errors.

cc @howardjohn he may know more about this problem.

[2020-07-28 09:16] knight42 commented on #25688
@pantianying could you post the output of `kubectl version`?

[2020-07-28 11:26] SCLogo commented on #22929
I think I have same isue here. in keeper 1 I see sync error. Virtualservices and destinatonrules are inplace. istio mtls is in strict mode

[2020-07-28 11:41] esnible commented on #25904
Did you install Istio on your cluster with `istioctl install`?  What was the output?

[2020-07-28 13:40] tanjunchen commented on #25830
@knight42  thanks

[2020-07-28 13:57] howardjohn commented on #25145
That function was optimized in master already it was n^2 previously

[2020-07-28 14:29] howardjohn commented on #23399
Could be related to https://github.com/istio/istio/issues/16458, is the <EKS_CLUSTER_HOST> a Service with port name `http` or something? This is fixed in 1.6+ if you can try on a later version

[2020-07-28 14:31] vadimeisenbergibm commented on #25844
@GregHanson I have submitted a PR to fix the `kubectl patch` problem https://github.com/istio/istio.io/pull/7798.

[2020-07-28 14:31] howardjohn commented on #23318
What do your virtual services look like? I assume despite the overlapping wildcard in the gateways, each namespace will have unique virtual service hostnames? Otherwise its not clear how we can determine the certificate to use

[2020-07-28 14:46] smercier74 commented on #24330
Do you have an idea when the fix will be available and on which version ?

[2020-07-28 15:10] AlejandroITOP opened #25916 "Istio install waiting for ever, problem persistent."
I am installing the istio in my kubernete the problem is that it never goes through the istioctl step manifest apply --set profile = demo, I have used the installation verification command ("istioctl verify-install") it indicates that everything is correct and ready to install but during the installation process it shows me an error on the screen when installing and waiting time
![image](https://u

[2020-07-28 15:12] esnible opened #25917 "Enable more analyzers in Istiod"
13 of config analysers don't work using gcr.io/istio-testing latest.  It was 10 in 1.6.4.

I installed with `values.global.istiod.enableAnalysis=true`.  The istiod logs show

[code]

cc @therealmitchconnors

[2020-07-28 15:21] esnible commented on #25852
@davidhauck @frankbu `/v1.6/*` already redirects to `/latest/*`

I can either make config analysis report `https://istio.io/<version>/docs/reference/config/analysis/<code>` or I can leave it the way that it is.  If I leave it the way that it is, you will need to redirect `/docs/reference/config/analysis/*` to `latest/docs/reference/config/analysis/*` .  What is your preference?

[2020-07-28 15:25] esnible commented on #23479
@richardwxn @ostromart Can this issue be closed?

[2020-07-28 15:28] esnible commented on #24360
@richardwxn @ostromart Is this done?

[2020-07-28 16:00] kppullin commented on #25157
I ran into this as well with airflow worker pods.  For a workaround, I've assigned an `app.kubernetes.io/name` label to the workers after inspecting how the `canonical-name` label is assigned: https://github.com/istio/istio/blob/a70e4f93d8f6cf891a0b9b9284a35aa7e3f87dbb/pkg/kube/inject/webhook.go#L612 .

[2020-07-28 16:12] bunchesofdonald commented on #24354
We're having the same issue, it would be really nice to be able to preserve query params.

[2020-07-28 16:20] howardjohn commented on #23249
Looks like this is resolved now, if I am wrong please feel free to reopen. Thanks!

[2020-07-28 16:20] #23249 closed

[2020-07-28 16:22] howardjohn opened #25919 "istioctl gateway port options merging incorrect"
Apply spec:

[code]

Output:
[code]

It removes some ports and keeps others

[2020-07-28 16:58] davidhauck commented on #25852
/docs should already redirect to /latest/docs. It looks like the reason the redirect isn't working is because the destination page is not found. You should be pointing to "/docs/reference/config/analysis/ist0101/?ref=status-controller" instead of "/docs/reference/config/analysis/IST0101?ref=status-controller"

istio.io/docs/reference/config/analysis/ist0101?ref=status-controller -> this link works

[2020-07-28 17:08] rajivml commented on #24009
@howardjohn  hi, so what's the solution to fix this, we are trying to setup istio-1.5.6 on AKS and we are facing this exact same issue and am blocked on this

[code]
[code]

[code]

[2020-07-28 17:29] frankbu commented on #25852
@esnible it would be nice to make it point to the correct release, instead of always pointing to latest, but @davidhauk will need to make `istio.io/v1.7` point to `prelimiary.istio.io/latest` first, but then switch it to `istio.io/v1.8` after we cut the 1.7 branch. WDYT David? Is it wroth it, given there may be more rework of the site in the near future? Leaving it as is for now is not terrible IM

[2020-07-28 17:32] #18900 closed

[2020-07-28 17:32] davidhauck commented on #25852
My preference would be to not change anything as there is a big rework coming, and adding more complexity now may make that process harder. I think this whole problem should be solved via my comment above, as the url should be redirected correctly once that change is made.

[2020-07-28 18:03] esnible commented on #25852
@davidhauck Should I fix **that**, then?

[2020-07-28 18:12] davidhauck commented on #25852
@esnible It probably makes most sense that way to keep everything else in line with other links. I believe @frankbu mentioned in his first comment that this is the way he wanted it to work. It's essentially the same as using /latest/docs/..., so the infrastructure doesn't care.

[2020-07-28 18:29] pmoody- commented on #25763
fwiw: I found the correct mount point.

[code]

I'm having an issue with the cni-repair not correctly repairing the pod networking now though.

[code]

[2020-07-28 18:44] infa-pavakuma commented on #25872
I was able to generate the certificates using these commands. I am not sure if this is the correct way to do them. After following these steps my istiod was able to sign the workloads with my own CA. After this, I followed the steps given in this page https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/

    CONFIG="
      [req]
      distinguished_name=dn
      [ dn ]

[2020-07-28 18:46] pavan-kumar-99 commented on #25872
I was able to generate the certificates using these commands. I am not sure if this is the correct way to do them. After following these steps my istiod was able to sign the workloads with my own CA. After this, I followed the steps given in this page https://istio.io/latest/docs/tasks/security/cert-management/plugin-ca-cert/

CONFIG="
  [req]
  distinguished_name=dn
  [ dn ]
  [ ext ]
  basicCons

[2020-07-28 19:01] abhide commented on #17763
Not working on this. Moved it to unassigned.

[2020-07-28 19:34] howardjohn commented on #25112
Closing as this has been merged into master and release branch, will release in 1.6.6

[2020-07-28 19:34] #25112 closed

[2020-07-28 19:35] howardjohn commented on #23118
I am nearly certain this is fixed by https://github.com/istio/istio/issues/25112. Lets move the conversation there, in particular if the fixed provided there does not solve this. Thanks!

[2020-07-28 19:35] #23118 closed

[2020-07-28 19:35] howardjohn commented on #23161
I am nearly certain this is fixed by https://github.com/istio/istio/issues/25112. Lets move the conversation there, in particular if the fixed provided there does not solve this. Thanks!

[2020-07-28 19:35] #23161 closed

[2020-07-28 19:36] howardjohn commented on #23339
I think we were unable to reproduce this, presumably an issue fixed in 1.6.0 or installation issues that occurred

[2020-07-28 19:36] #23339 closed

[2020-07-28 19:37] howardjohn commented on #18854
I am fairly sure this is fixed by https://github.com/istio/istio/issues/24706. Please reopen if not. thanks!

[2020-07-28 19:37] #18854 closed

[2020-07-28 19:40] howardjohn commented on #23639
Can you provide more info? Showing the deployments/services you have, and what requests failed? In your original issue you said traffic *does* work but the dashboard shows errors. If its just the dashboard is wrong, please file an issue in the kiali/kiali repo.

[2020-07-28 19:41] howardjohn commented on #19110
I could not reproduce, this is on an old version, and there has been no updates in months, so I do not think we can move forward with this. If you still see this, please open a new issue. Thanks!

[2020-07-28 19:41] #19110 closed

[2020-07-28 19:43] howardjohn commented on #18038
Tested on master, I think this is fixed by the recent workload entry stuff:
[code]

See `./pilot/pkg/serviceregistry/serviceregistry_test.go` for more info

[2020-07-28 19:43] #18038 closed

[2020-07-28 19:43] howardjohn commented on #20284
Done, as part of `pilot/pkg/networking/grpcgen`

[2020-07-28 19:43] #20284 closed

[2020-07-28 19:45] howardjohn commented on #23333
I don't think excluding inbound port impacts the generated config, so I am assuming this is fixed by the above PR then. If I made a bad assumption let me know and we can try to debug this further.

[2020-07-28 19:45] #23333 closed

[2020-07-28 19:45] stewartbutler commented on #25847
Oh, very interesting -- the mechanics of CHECK may remove the need for the cni validation init container. We'll need to experiment with this a bit. If we implement a CHECK call that properly checks the pod internal iptables and terminates the pod if unhealthy, that may remove the need for the repair container (See https://github.com/containernetworking/cni/blob/spec-v0.4.0/SPEC.md). It may even fi

[2020-07-28 19:50] howardjohn commented on #25847
@stewartbutler no concerns here, I merely saw we were using an alpha version which "feels" wrong - but not actually causing issues. I didn't realize the extent of the changes.

[2020-07-28 19:51] stewartbutler commented on #25763
@pmoody- That looks like the correct output if several pods are broken. That indicates that the pods are failing their init container valdiation checks, which indicates that istio-cni was not correctly initialized on those pods. The only way to reinitialize them is to delete the misconfigured pods. If they just keep getting deleted, that indicates that istio-cni is not being called. Check the kube

[2020-07-28 20:08] howardjohn commented on #20928
As @hzxuzhonghu this is documented that retry does not apply to FI. FR to add this is in https://github.com/istio/istio/issues/13705. Thanks!

[2020-07-28 20:08] #20928 closed

[2020-07-28 20:08] howardjohn commented on #22508
@douglas-reid do we have any info on specific metrics we are interested in?

[2020-07-28 20:11] howardjohn commented on #13705
Reiterating in case it wasn't clear, this is possible if we move the fault injection to the listener level, but we share the listener with many services. Without major changes to our envoy config gen, or changes to envoy itself, it will be hard to implement. But this is still a valid feature request and should be tracked as such.

[2020-07-28 20:12] howardjohn commented on #21477
We have testing for this and have never experienced this, and there is no further info on how to debug. For now I will close, if we can get some more info we can investigate further. Thanks

[2020-07-28 20:12] #21477 closed

[2020-07-28 20:20] howardjohn commented on #22194
We cannot debug this without more information. Please reopen if you can provide more info. Thanks!

[2020-07-28 20:20] #22194 closed

[2020-07-28 20:20] douglas-reid commented on #22508
@howardjohn we used to track number of virtual services and destination rules (with dimensions for namespace, etc.), among other items. i think that code still exists, just isn't exercised. It'd be nice to have config-oriented metrics. @gargnupur was the expert on these metrics.

[2020-07-28 20:23] howardjohn commented on #22508
Got it. We currently have information about *events* for these but the request is to add a gauge of current number basically?

api-server seems to exposes this btw, similar query: `sum(etcd_object_counts{resource=~\"pods|namespaces|services|gateways.networking.istio.io|virtualservices.networking.istio.io\"}) by (resource)`.

Do we just want CRDs or also Service, Endpoint, etc?

I am not against ad

[2020-07-28 20:28] howardjohn commented on #22290
This seems like a reasonable addition to the API, and should be fairly easy to implement. StringMethod may cause issue since there is no `exact` and it would require deprecating the existing field. We could also just add a `uriRegex` or something else.

[2020-07-28 20:29] howardjohn commented on #23284
This has been fixed by #25818 cc @rshriram

[2020-07-28 20:29] #23284 closed

[2020-07-28 20:29] howardjohn commented on #21343
This has been fixed by #25818 cc @rshriram

[2020-07-28 20:29] #21343 closed

[2020-07-28 20:32] howardjohn commented on #24020
Fixed by #24511 and #24032

[2020-07-28 20:32] #24020 closed

[2020-07-28 20:35] howardjohn commented on #24203
https://github.com/istio/istio/pull/24440

[2020-07-28 20:35] #24203 closed

[2020-07-28 20:36] rajivml commented on #24009
delete istio namespace and tried again, same error

[code]

[2020-07-28 20:36] howardjohn commented on #20257
I have tested this myself so I will assume its resolved. If you did get a chance to test it and see issues still, please reopen,

[2020-07-28 20:36] #20257 closed

[2020-07-28 20:38] #25364 closed

[2020-07-28 20:45] howardjohn opened #25925 "Deprecate istio coredns plugin in favor of native envoy DNS"
This issue tracks deprecation of the istio coredns plugin, not that we have native DNS support.

Requirements:
* Ensure we have feature parity
* Write a migration guide (can be upgrade notes, nothing too fancy needed)
* Ensure envoy DNS is as stable as coredns implementation
* Update documentation (is there even any for coredns?)
* Provide a 1+ release migration window with both supported

cc @rsh

[2020-07-28 20:45] howardjohn commented on #22344
I think efforts are better invested into https://github.com/istio/istio/issues/25925

[2020-07-28 20:47] howardjohn commented on #23848
Is it attempting to send mTLS to the k8s pod which doesn't speak mTLS? see https://istio.io/latest/docs/tasks/security/authentication/mtls-migration/ for info

You likely just need a destination rule disabling mTLS to k8s

Would be helpful to get config dump from client and access logs: https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-07-28 20:49] howardjohn opened #25926 "fr: policy bot should not set lifecycle/needs-triage for issues with "needs more info" label"
The label indicates we cannot proceed. I am often setting this on bugs which I cannot provide a priority since it is too vague to understand the priority.

cc @therealmitchconnors

[2020-07-28 20:55] howardjohn commented on #23847
@dominicqi I don't understand the issue. Your VS says to add header `test: test22`.

If I send request I get `"Test": "test22",`. If I already had test header, I get `"Test": "foo,test22"`.

This meets my expectations based on https://www.w3.org/Protocols/rfc2616/rfc2616-sec4.html#:~:text=Multiple%20message%2Dheader%20fields%20with,%5Bi.e.%2C%20%23(values)%5D.

What is your desired behavior?

[2020-07-28 20:56] howardjohn commented on #24416
I think https://github.com/istio/istio/issues/22893 is part of the requirements as well (supporting all existing annotations)

[2020-07-28 20:58] #23914 closed

[2020-07-28 20:59] PiotrSikora commented on #25909
cc @lizan

[2020-07-28 20:59] howardjohn commented on #23178
Closing as duplicate of https://github.com/istio/istio/issues/18169

[2020-07-28 20:59] #23178 closed

[2020-07-28 21:02] douglas-reid commented on #22508
@howardjohn i guess we could grab the API server version of them as a placeholder (the trick will be using them in non-prom cases). i don't feel strongly about Service and Endpoint, but i feel like it is useful for Istio configuration.

We had previously added gauges for some of these Istio CRDs to the mesh dashboard, and had talked about using the change events to annotate service dashboards, etc

[2020-07-28 21:20] howardjohn commented on #23855
Thanks for the detailed reproducer! I tried this out on my cluster, following the same steps, but was unable to reproduce. How rare is it? I ran about 1000 requests and didn't see it. It would be interesting to see envoy debug logs when this happens.

When it hangs, what happens? It is slow or it never completes?

[2020-07-28 21:22] esnible commented on #25180
The problem was a general problem with odd data because the webhook used ghodss yaml.Unmarshal to parse simple JSON.

For example, if I sent
[code]

The system complained that "Error from server: error when creating "STDIN": admission webhook "validation.istio.io" denied the request: cannot decode configuration: error converting YAML to JSON: yaml: control characters are not allowed".  With this f

[2020-07-28 21:25] brian-avery opened #25928 "Better Highlight the Health of Istio Releases"
Currently, we have a spreadsheet that we use to track the completion of issues for Istio releases. This is manually updated, and only gives a limited view of the health of a release. Based on the [Definition of Done](https://docs.google.com/document/d/1--lBkoFx6LMwlLayAJo4BH3rc8naPtcRiXDYAvoGULA/edit), we have come up with a list of requirements for releases of various types. It would be awesome i

[2020-07-28 21:31] denniseffing commented on #13705
Thank you for the clarification. I'm looking forward to a solution!

[2020-07-28 21:34] azhuo-va commented on #24060
Can you share you complete example if possible? I am wondering how you mount proto files to `/etc/envoy/proto.pb`

[2020-07-28 21:35] esnible commented on #23388
Changing the title of this work item to reflect that we want to bring back the entire 'istioctl authn' command, as well as restoring the output to 'describe'.

This will require Istiod work to create an XDS debug version of the old /debug endpoint used by `authn`.

[2020-07-28 21:39] ronaldmiranda commented on #24060
This is simple, you just need some anotations on your deployment, to mount these proto as configmap on your sidecar.

The configmap shoud be in same namespace:

[code]

[2020-07-28 21:42] azhuo-va commented on #24060
@ronaldmiranda Can you share a complete example if possible?

[2020-07-28 21:46] howardjohn commented on #23845
I think this bug is just about the istioctl tool not working, not the actual runtime behavior of traffic. If that is true, this is tracked in https://github.com/istio/istio/issues/23388. If not, please reopen, with info about the request that fails. Thanks!

[2020-07-28 21:46] #23845 closed

[2020-07-28 21:58] howardjohn commented on #23073
Envoy issue to improve logs: https://github.com/envoyproxy/envoy/issues/11753

The main problem here is the result of this config is due to a bug in pilot config generation. So its hard to give a good error message, because if we knew what error message to log we would have fixed the bug :slightly_smiling_face: . Based on this I am not sure there is much we can do here, except report this specific

[2020-07-28 22:07] howardjohn commented on #18233
Fixed by https://github.com/istio/api/pull/1468

[2020-07-28 22:07] #18233 closed

[2020-07-28 22:09] howardjohn commented on #23939
I don't think its inside the scope of Istio documentation to tell users how to configure Kubernetes. Our docs do explain how to use Istio if your environment supports LB, and what to do if it doesn't. Figuring out how to get LB is in the scope of AWS/k8s documentation.

[2020-07-28 22:09] #23939 closed

[2020-07-28 22:09] howardjohn commented on #23457
Any info @darkstarmv ?

[2020-07-28 22:10] #23971 closed

[2020-07-28 22:11] howardjohn opened #25931 "Sidecar injection should be idempotent"
This will allow cases where  people may need re-entrant mutating webhooks, as well as potential issues around double injection (double rewrite app probe -> infinite loop, etc)

[2020-07-28 22:17] howardjohn commented on #22095
@tbarrella is working on the mesh expansion stuff

[2020-07-28 22:17] howardjohn commented on #24007
Yes - this is not possible to work around in 1.5 as far as  iknow, but fixed in 1.6 which is shipped

[2020-07-28 22:17] #24007 closed

[2020-07-28 22:31] howardjohn commented on #23996
I tried this locally. What I found is that without envoy, all connections are closed; after curl netstat shows nothing. With envoy, we have 1 connection opened at a time as reported by `server.total_connections` from envoy, but a TIME_WAIT connection for a bit after