[2018-08-29 07:51] dozer47528 opened #8332 "How can I get tracing related header from client?"
I created `istio-ingressgateway` for external access.
But I can not see the tracing related header (like `x-request-id`,`x-b3-traceid`) in the response header.

Any config for it? It is useful for bug tracing.

[2018-08-29 08:05] lichuqiang opened #8333 "Shellcheck is failing"
CI task Shellcheck is failing after https://github.com/istio/istio/pull/8173 in
[code]
I'll have a fix

/cc @m1093782566 @hklai

[2018-08-29 09:37] #3571 closed

[2018-08-29 10:02] #7857 closed

[2018-08-29 10:37] #2440 closed

[2018-08-29 11:37] #2317 closed

[2018-08-29 11:41] PiotrSikora commented on #8247
@Stono compared to https://github.com/istio/istio/issues/7912 and my experiments, those numbers look awfully high for the number of services in your clusters. How many CPUs are on the host systems running those containers? Could you run those commands for me?

`$ kubectl exec -it <pod> -c istio-proxy -- grep -c ^processor /proc/cpuinfo`
`$ kubectl exec -it <pod> -c istio-proxy -- pgrep -w envoy |

[2018-08-29 13:18] costinm commented on #4286
Use can also:
- add 'do not inject annotation'
- use the annotations that control iptables interception
- use IPv6 (not to attack, but to communicate without interception)
- use UDP (same)
- in addition since envoy runs in the same network namespace, and the pod has access to the volumes - I would guess using envoy's admin interface or other ways to exploit are possible.

It should be very clear t

[2018-08-29 13:31] JCzz commented on #7551
I have the same problem.

Tryed to deletge ~/.helm and re-installing helm. Did not work?

[2018-08-29 13:35] Stono commented on #8270
Yeah we're consistently seeing this on all our proxies, on 5 minute intervals!

[code]

[2018-08-29 13:37] #2491 closed

[2018-08-29 14:20] JCzz commented on #7909
Thanks @begoat

I am giving up on Istio - thanks for you help

[2018-08-29 14:37] #3087 closed

[2018-08-29 15:28] Stono commented on #8247
[code]

[code]

I can't unfortunately use daily releases on these systems.

I'm confused however that istio-proxy would be creating threads per cpu on the host, rather than looking at the cgroup allocation for that pod?

Nodes are by nature multi tenant, based on our size of node for us we get this sort of setup:

[code]

7 of these apps have istio sidecars, so that's 7 processes creating 12 threa

[2018-08-29 15:35] mandarjog commented on #8247
@stono, you can update the sidecar-injector config map and add

- —concurrency
- “1”

And then restart a pod to be reinjected.

[2018-08-29 15:37] #2650 closed

[2018-08-29 15:55] vhosakot commented on #8184
@john-a-joyce Yes, as mentioned in this issue, I saw empty logs too for `etcd`, `kube-apiserver`, `kube-controller-manager` and `kube-scheduler`:

[code]

From the outputs above, looks like `kubectl` listening on port `10250` is not able to provide logs to kubectl:

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/ says:

[code]

[2018-08-29 16:05] merlineus opened #8337 "Unable to get client IP in AWS with ELB TCP listeners"
Istio uses TCP listeners in AWS ELB which don't preserve and forward client IP to Envoy so we can get only ELB's internal IP in backend microservices and not client IP.

Using TCP listeners is necessary for dynamic serving of SSL certs, so the only workaround I've found for this case is [enabling](https://github.com/envoyproxy/envoy/issues/136#issuecomment-252787381) ProxyProtocol in ELB. To parse

[2018-08-29 16:37] #2664 closed

[2018-08-29 16:44] cmluciano opened #8338 "Galley performance tuning with k8s api"
chat history:

@cmluciano same here, which is why i suspect some non-informer call somewhere.

[2018-08-29 16:47] cmluciano commented on #8338
@irisdingbj Can you please take a look at the metrics from k8s api-server and see if we should be using a more recent version of [k8s client-go](https://github.com/kubernetes/client-go) .

The informers should only be triggered when something changes. We should ensure that we are using informers properly and only watch apis that are absolutely necessary.

Given the comment about autoscaling not wo

[2018-08-29 17:06] rshriram commented on #7787
Can you repeat the experiment by adding the pod labels alone and waiting for sometime? Alternatively add labels to the deployment. I suspect that you are seeing the labels kicking in with a delay.

Also, its unclear how things work when you launch a pod by hand in an deployment (bookinfo uses deployments).

I went through the code cursorily, and GetProxyServiceInstances (which returns the pod labe

[2018-08-29 17:10] rshriram commented on #8296
This is a bit silly. We should have a different communication channel for applying to be members of the org instead of filing github issues.

[2018-08-29 17:12] rshriram commented on #8264
We are already using it for fault injection. Can you detail your use case please?
I assume that you would be enabling your filter via EnvoyFilter CRD?

[2018-08-29 17:14] rshriram commented on #8263
would it work if we set it to always forward, for the gateways?

[2018-08-29 17:18] rshriram commented on #8167
@m1093782566 can you change our circleci scripts to deploy kubeadm instead of localkube? This will make sure that the kubeadm setup is well tested, and help you accurately reproduce CI failure locally as well.

All the circleci configs are in .circleci/.. We are currently launching localkube for our e2e tests. Would love to have kubeadm there instead.

[2018-08-29 17:26] vadimeisenbergibm commented on #4286
@costinm Agreed. I think that Istio gateways can be firewalls, since they cannot be attacked
 using the attacks you described. The issue is with the sidecar proxies.

[2018-08-29 17:37] #2832 closed

[2018-08-29 17:53] andraxylia commented on #7787
If we implement #8318 this will not longer be an issue.

[2018-08-29 18:10] john-a-joyce commented on #7333
The correct behavior should be for Istio to only cleanup what the test installs.  Therefore if --skip_setup is set then the setup stage items should not be deleted.

[2018-08-29 18:43] cdmitri opened #8343 "Pilot incomplete update with remote deployment in multi-cluster setup"
**Describe the bug**
When creating a deployment on a second cluster in multi-cluster environment, pilot's cache does not seem to be updated with the new service and pushed out to the endpoints.

**Expected behavior**
Remote deployment's new endpoint propagates to the rest of the mesh

**Steps to reproduce the bug**
1. Follow installation instructions in https://istio.io/docs/setup/kubernetes/multi

[2018-08-29 18:52] sdake commented on #8343
@cdmitri you mentioned release-1.0 and `istio-demo.yaml`.  Did you `git checkout release-1.0`, and then make `generate_yaml` to create `istio-demo.yaml`?  If so, what images are in use?  Did you build your own?

Cheers
-steve

[2018-08-29 18:58] ostromart commented on #8226
Just tried this again last night with 1.0.1 and it is working. Not sure what changed, but closing the bug for now and will reopen if I can repro again.

[2018-08-29 18:58] #8226 closed

[2018-08-29 19:17] yangminzhu commented on #8263
This sounds like an interesting use case, do you only use gateways in your cluster?
If the consumer of the forwarded cert is behind Envoy, I guess we'll need to set `forward_client_cert` in sidecar Envoy as well, otherwise the default behavior is to sanitize it from the headers?

/cc @diemtvu

[2018-08-29 19:37] #2932 closed

[2018-08-29 20:26] kyessenov commented on #8146
/ref reflection-based proto branch https://github.com/golang/protobuf/issues/364

[2018-08-29 20:32] cdmitri commented on #8343
@sdake ```curl -L https://git.io/getLatestIstio | sh -``` couple of days after release and followed the installation steps. That was the earliest that I saw these symptoms.

[2018-08-29 20:46] nmittler commented on #6257
not stale

[2018-08-29 20:50] nmittler opened #8349 "[test-framework] Switch to new test framework"
This is an Epic for tracking all of the remaining tasks before we can switch all of the existing integration/e2e tests to the new framework.

A deck for the test framework from Nate and Oz:  https://docs.google.com/presentation/d/1CWHVuzdvfCI_yIDPg3AK8rYtV4b245dH3jkoLyHBNCM/edit#slide=id.p

[2018-08-29 20:51] nmittler opened #8350 "[test-framework] Add mTLS support for local environment"
All communication for local testing is currently plaintext.  We need to support mTLS within the local mesh.

[2018-08-29 20:54] nmittler opened #8351 "[test-framework] Add Mixer integration for local services"
The local service configurations do not currently include configuration for Mixer. We need to:

- Determine if a mixer is configured for the environment, and if it is:
- Add the mixer port to pilot and the Envoy configs.

[2018-08-29 20:56] nmittler opened #8352 "[test-framework] Support multiple service versions with local environment"
The local environment currently doesn't seem to support multiple configs with the same name in the namespace.  Need to investigate how to make multiple versions work locally.

[2018-08-29 20:58] nmittler opened #8353 "[test-framework] Add support for creating k8s cluster"
Currently the new test framework assumes that a k8s cluster exists. We should add the ability to create a new k8s cluster if desired.

[2018-08-29 20:59] nmittler opened #8354 "[test-framework] Migrate Pilot e2e tests to new framework"
Based on previous categorization work, here is the current list. *Note that the list can change as this is living code*.

Still, it is worth capturing this in the bug, to keep track:

Local Environment:
- [ ] istio.io/istio/tests/e2e/tests/controller.TestTempWorkspace
- [ ] istio.io/istio/tests/e2e/tests/controller.TestUnknownConfig
- [ ] istio.io/istio/tests/e2e/tests/pilot.TestAuthNJwt
- [ ] ist

[2018-08-29 21:00] nmittler opened #8355 "[test-framework] Migrate Mixer e2e tests to new framework"
Based on previous categorization work, here is the current list. *Note that the list can change as this is living code.*

Still, it is worth capturing this in the bug, to keep track:

Local Environment:

- [ ] istio.io/istio/tests/e2e/tests/mixer.TestCheckCache
- [ ] istio.io/istio/tests/e2e/tests/mixer.TestDenials
- [ ] istio.io/istio/tests/e2e/tests/mixer.TestIngressCheckCache
- [ ] istio.io/ist

[2018-08-29 21:36] vhosakot commented on #8184
I see this issue when I install istio multi-cluster too, not just when I run istio's e2e tests multiple times:

[code]

Can't see their logs:

[code]

Attached below are the errors and warnings from `kubelet` in `syslog`:
[syslog_errors_warnings.txt](https://github.com/istio/istio/files/2333864/syslog_errors_warnings.txt)

[2018-08-29 22:05] AceHack opened #8358 "Does istio support Apache Thrift?"
I'm having a hard time finding any info on this.  Thanks.

[2018-08-29 22:11] kyessenov commented on #8358
The short answer is no. The underlying transport is probably allowed (TCP/HTTP), but istio does not have any thrift protocol understanding ATM.

[2018-08-29 22:18] ajit-hybris commented on #7266
I am facing the same issue, has any one found solution in the mean time?

[2018-08-30 01:28] linsun commented on #8296
invited, welcome!

pls feel free to propose other ways to apply member.  Github has histories and folks can chime in with their support.

[2018-08-30 01:28] #8296 closed

[2018-08-30 01:30] linsun commented on #8289
invited, welcome!

[2018-08-30 01:30] #8289 closed

[2018-08-30 01:32] lizan commented on #8310
https://github.com/envoyproxy/envoy/pull/4296 might be related.

[2018-08-30 01:33] wackxu commented on #8349
/cc

[2018-08-30 01:37] #2933 closed

[2018-08-30 01:55] lichuqiang commented on #8338
/cc

[2018-08-30 02:14] dunjut commented on #8299
Hi @rshriram , can you help take a look at this?

[2018-08-30 02:37] #2927 closed

[2018-08-30 04:02] m1093782566 commented on #8167
Sure @rshriram

I am happy to join the work and it would be great if you can provide more context.

[2018-08-30 04:16] zxDiscovery opened #8362 "The deployment Bookinfo doesn't work on istio system without mixer"
**Describe the bug**
I want to deploy the bookinfo on istio system without mixer deployment. But the bookinfo doesn't work after do that. Does the istio can work without mixer?
**Expected behavior**
Bookinfo work normally on istio system without mixer

**Steps to reproduce the bug**
1. Install istio without mixer.
2. Deploy bookinfo
3. Confirm the bookinfo is running

**Version**
istio-1.0.3

**Is

[2018-08-30 04:17] venilnoronha commented on #7952
Can you provide your `Service`, `Deployment`, `handler`, `instance` and `rule` configuration?

[2018-08-30 04:37] #4199 closed

[2018-08-30 04:48] PiotrSikora commented on #8310
@lizan unfortunately, it doesn't. I've update istio-proxy to envoyproxy/envoy#4296 and I was still able to reproduce the crash.

I'm still tracking this, but the turnaround is rather slow, since I can replicate this only on k8s and not locally (probably because of timing).

What's bizarre is that the crash happens only with istio and istio-proxy 1.0.1, I cannot reproduce crashes using istio 1.0.1

[2018-08-30 04:48] PiotrSikora commented on #8225
#8310 - easily reproducible istio-proxy segfaults, IMHO warrants 1.0.2 as soon as it's fixed.

cc @costinm @louiscryan

[2018-08-30 05:40] kyessenov commented on #4206
It probably makes more sense to have in-process shim for grpc adapters?

[2018-08-30 05:40] mandarjog commented on #7952
You need to register metric as a dynamic template and you also need to register your adapter.

Look At Prometheus.yml in the test directory that you used earlier for an  sample of adapter.
 For metric template apply this file: https://github.com/istio/istio/blob/master/mixer/template/metric/template.yaml

[2018-08-30 05:47] venilnoronha opened #8363 "Error in translating google.protobuf.Duration in mixer adapter config"
**Describe the bug**
When deploying an out-of-process adapter, the following log is observed for a `google.protobuf.Duration` field when it's specified in yaml in the string format.
[code]

**Expected behavior**
As per the protobuf [documentation](https://github.com/protocolbuffers/protobuf/blob/d36c0c538a545fac5d9db6ba65c525246d4efa95/src/google/protobuf/duration.proto#L92-L100), it should be pos

[2018-08-30 05:47] ymesika commented on #8362
Yes, the basic Bookinfo with traffic routings should work without Mixer installed.
Just make sure that you also specify `--set global.proxy.envoyStatsd.enabled=false` when installing without it.

[2018-08-30 05:49] ymesika commented on #8358
But the optimistic aspect is that Envoy is (slowly) moving in that direction: https://github.com/envoyproxy/envoy/issues/2247

[2018-08-30 06:08] ramaraochavali commented on #7665
@rshriram just a question related to this - does istio proxy use draining during rolling updates? If it uses, is it via `/healthcheck/fail` endpoint supported by envoy? If it does not, how does it take care of inflight requests that might require egress calls? Sorry if it has already been explained and I missed that.

[2018-08-30 06:16] Szymongib commented on #8263
For our use case it would be fine to always forward, but we do use sidecar injection so consumers are indeed behind the Envoy. Would it be possible to pass the header further with use of `EnvoyFilter` either be overriding default behaviour or passing it as a custom header? If so the only requirement would be forwarding from the gateway.

[2018-08-30 06:37] #4204 closed

[2018-08-30 06:38] m1093782566 opened #8365 "Change the circleci scripts to deploy kubeadm instead of localkube."
**Describe the feature request**

per @rshriram
Change the circleci scripts to deploy kubeadm instead of localkube.

**Describe alternatives you've considered**
This will make sure that the kubeadm setup is well tested, and help developers accurately reproduce CI failure locally as well.

**Additional context**
All the circleci configs are in .circleci/.. We are currently launching localkube for o

[2018-08-30 06:39] m1093782566 commented on #8365
cc @costinm @hklai

I am happy to work on it and will send a PR ASAP~

[2018-08-30 06:59] m1093782566 commented on #8365
Thanks @ymesika

[2018-08-30 07:01] m1093782566 commented on #8167
I just created a new issue for tracking this task, xref: #8365

[2018-08-30 07:34] keerthig9 opened #8369 "Istio 1.0 always take default value "http://localhost:8080" without using value from kubeconfig in minikube"
**Describe the bug**
We have built a web application which create istioclient using kubeconfig, while i query istio resources we observed resources were not found. On further debugging we observed apiserver it was using  default value "http://localhost:8080" in k8s.io/client-go/tools/clientcmd/client_config.go:49 instead of apiserver value in kubeconfig file.

Root cause: Commit https://github.com

[2018-08-30 07:34] 0xCA7F00D commented on #8059
@rlenglet thank you very much for your help.
It in fact worked, but I don't understand something,
I read #5679 and haven't managed to figure out the current state of transparent proxy in Istio.
how does it help you as a user ? my original intention was to get the result Lin expected.
You wrote down there that the proxy itself will see the original ip, which it already observes in redirection, than

[2018-08-30 07:38] Stono commented on #8247
Will give it a go today @mandarjog - ta

[2018-08-30 09:00] sdake commented on #8365
@m1093782566 sounds great - very fond of kubeadm workflows 👍

[2018-08-30 09:02] m1093782566 commented on #8365
Will send a PR soon and assign you for review :)

[2018-08-30 09:03] sdake commented on #8293
Patch merged, closing issue.  Thanks for the report.

Cheers
-steve

[2018-08-30 09:03] #8293 closed

[2018-08-30 09:03] islinwb opened #8373 "enable running unit tests for particular dir"
Currently in the [Makefile](https://github.com/istio/istio/blob/master/Makefile) there are
[code]

To make it possible that we can run unit tests for particular dir using `make test WHAT=dir`.
For example, `make test WHAT=./pkg/kube/secretcontroller` works if we only want to run unit tests in  `./pkg/kube/secretcontroller/` instead of using `make common-test` ro run all unit tests in `./pkg/`.

[2018-08-30 09:05] sdake commented on #8244
@Stono thanks for the report.  This has been merged to the release-1.0 branch and will be available in the next z stream (Istio 1.0.2).  The problem did not exist in master.

[2018-08-30 09:05] #8244 closed

[2018-08-30 09:11] w564791 opened #8374 "buildGatewayListeners: Have zero listeners: 1 error occurred"
**Describe the bug**
When I try to create a gaway whih tcp  protocol,Nothing happened ,istio-ingressgateway no log output,
istio-pilot output  error liks:
[code]

**Steps to reproduce the bug**
[code]

**Version**
[code]

**Is Istio Auth enabled or not?**
NO

**Environment**

`root@128:/home/kinglong# uname -a
Linux 128 4.4.0-116-generic #140-Ubuntu SMP Mon Feb 12 21:23:04 UTC 2018 x86_64 x86_64 x

[2018-08-30 09:40] dwdraju commented on #6085
Similar issue here:
[code]

[2018-08-30 11:03] wansuiye commented on #6469
in istio 1.0.1 it seems also can not create virtualservice (host:port) using kubectl or istioctl if installed with galley.
If this issue has been solved, please tell how to configure it...

[2018-08-30 11:10] prune998 commented on #6469
^^ just remove `galley` @wansuiye

[2018-08-30 11:17] wansuiye commented on #6469
@prune998 yeah, i saw the issues had been closed, so i thought 1.0.1 had solved it...

[2018-08-30 11:58] PiotrSikora commented on #8310
@kyessenov it's a regression in upstream, yes (see: https://github.com/istio/envoy/pull/10).

[2018-08-30 12:07] LinAnt commented on #7495
I am hitting this as well for an etcd cluster. I think I will try to get it to run by changing to clusterIP unless @ronakpandya7 has found a solution.

[2018-08-30 12:38] Arttii commented on #7290
I am using the 1.0.0 release from dockerhub, and am having the same issue. There is somehow no mention of jwt in the envoy config dump.

[2018-08-30 12:47] edodekel commented on #7645
when I add:
        sourceLabels: source.labels | emptyStringMap()

to the properties under
spec:
   params:
      subject:
i get the following error
2018-08-30T12:43:10.132556Z     error   config does not conform to schema of template 'authorization': unable to build message field: subject, unable to build message field: properties, unable to build message field: value, **unsupported type: STRING

[2018-08-30 12:55] Stono commented on #8247
Rolling out concurrency=1 seems to have significantly reduced our memory use.

<img width="908" alt="screen shot 2018-08-30 at 13 53 17" src="https://user-images.githubusercontent.com/1486729/44852807-1be8a400-ac5c-11e8-9eac-44d43efb8a70.png">

This does feel like a mitigation though, i would still question having proxy default threads === cores on node, imagine someone was running 64 core nodes,

[2018-08-30 13:20] #4201 closed

[2018-08-30 13:30] omersadika opened #8376 "Running e2e test doesn't work as the README says"
Hello,

The README of running e2e test for minikube doesn't work:
https://github.com/istio/istio/blob/master/tests/e2e/local/minikube/README.md

The reason is that the test creates the app deployment with "imagePullPolicy: Always" for localhost:5000, which makes Kubernetes to try to try to pull the image form a repository.

The solution that I found for it is to run instead:
`make e2e_pilot E2E_AR

[2018-08-30 14:15] Cryson commented on #5828
I ran into this issue as well, turned out to be the kube-apiserver manifest and not the injector container as the error stated. I did not have `.svc` in my no_proxy ENV variable for the kube-apiserver. Once I added `.svc` to that ENV variable, everything started working as usual.

[2018-08-30 15:18] maximematheron opened #8378 "VirtualService with gRPC not working with hosts different than '*'"
**Describe the bug**
VirtualService can only set '*' in the hosts for gRPC traffic and fail to be found when specifying a proper host. The reason seems to be that when calling gRPC from clients, we need to explicitly specify the port of the server. When I print the log of the ingress pod, we can see that the host that is forwarded with the traffic is wrong because it includes also the port!

<img

[2018-08-30 15:29] diemtvu commented on #7290
Can you check if galley is running?

On Thu, Aug 30, 2018 at 5:39 AM Arttii <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-08-30 15:33] Arttii commented on #7290
The deployment is green, but the only logs I see are
[code]

[2018-08-30 15:52] jaredeis commented on #7608
Wondering if there has been any internal discussion about this yet. Thanks!

[2018-08-30 16:27] ayj commented on #5828
@Cryson, you're not the first to have problems with no_proxy and kube-apiserver. Would you be willing to contribute your findings to either the [k8s webhooks ops guide](https://github.com/istio/istio.github.io/blob/master/content/help/ops/setup/webhook/index.md) or  [quick start guide](https://github.com/istio/istio.github.io/blob/master/content/docs/setup/kubernetes/quick-start/index.md) for your

[2018-08-30 16:33] cmluciano commented on #8184
cc @costinm for hybrid perspective

[2018-08-30 16:50] cmluciano commented on #8274
Can we add more context to this in terms of what we think the bottleneck is? Also we should add SLIs to indicate what we are targeting in general.

[2018-08-30 16:51] cmluciano commented on #8275
Is this with both Jaegar and Opentracing?

[2018-08-30 16:52] cmluciano commented on #8277
Can we add more context to this in terms of what we think the bottleneck is? Also we should add SLIs to indicate what we are targeting in general.

[2018-08-30 16:53] cmluciano commented on #8281
Can we add more context to this in terms of what we think the bottleneck is? Also we should add SLIs to indicate what we are targeting in general.

[2018-08-30 16:54] diemtvu commented on #7290
Is your service on TCP or HTTP port? JWT is available for HTTP port only.

Best.

On Thu, Aug 30, 2018 at 8:34 AM Arttii <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-08-30 16:55] rlenglet commented on #8059
@0xCA7F00D The benefit currently is that Envoy will see the original source IPs, so Mixer can report the real source IPs, you can apply policies on source IPs, etc.
TPROXY is also more efficient than REDIRECT.

[2018-08-30 17:13] Arttii commented on #7290
The Service is running an http server.
I have the following service:
[code]

And the following definitions for ingress:

[code]

[2018-08-30 17:21] venilnoronha opened #8379 "DURATION is not supported by metric template"
**Describe the bug**
The following error is observed in the mixer when trying to apply a metric configuration having an instance for `request.duration` with an out-of-process Istio adapter.

[code]

**Expected behavior**
Metrics depending on `request.duration` should work like any other metrics.

**Steps to reproduce the bug**
Use the following instance configuration.

[code]

**Version**
Istio:
[

[2018-08-30 17:32] multipathmaster commented on #5828
put the no_proxy settings in /etc/kubernetes/manifests .  specifically the api manifest/config.  Then systemctl restart kubelet.  Might have to whack the pods too (EXCEPT DNS!!!) to get it to roll.  @ayj feel free to update that.

[code]

[2018-08-30 17:36] diemtvu commented on #7290
jkwsUri must start with "http://" or "https://". You should see validation
error with the policy above (please let me know if you don't).

On Thu, Aug 30, 2018 at 10:14 AM Arttii <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-08-30 17:54] Cryson commented on #5828
@ayj https://github.com/istio/istio.github.io/pull/2477

Let me know if that's acceptable, I saw a lot of people talking about that issue so I believe it'd be good to at least have some information on where to begin troubleshooting. This was an on-premise cluster, therefore proxies become an issue when inside a corporate network.

[2018-08-30 17:56] suryadu commented on #8282
This issue is to bring stability to Istio through adjusting the default auto-scale policy threshold higher. This is applicable for both telemetry as well as ingress Gateway pod auto-scaling.

[2018-08-30 19:06] suryadu commented on #8281
This issue of better buffer management is to reduce the latency while using Istio service mesh. As seen below in the acmeair microservices benchmark, we see the latency increase from 2ms to 10 ms with Istio default policies and config (see fig 3.2.3.1 from this report -> https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing)

@mandarjog and I discussed fe

[2018-08-30 19:07] suryadu commented on #8280
This issue of better cache management is to reduce the latency while using Istio service mesh. As seen below in the acmeair microservices benchmark, we see the latency increase from 2ms to 10 ms with Istio default policies and config (see fig 3.2.3.1 from this report -> https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing)

@mandarjog and I discussed few

[2018-08-30 19:11] suryadu commented on #8279
As shown in fig 3.2.5.1 in the Istio performance report (https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing), there is about 9% of Istio cpu cycles spent on Statsd prometheus bridge. This issue is to track all the optimization work around this to reduce the cpu consumption

[2018-08-30 19:15] suryadu commented on #8278
This issue is to track all the performance optimization work around egress gateway. This includes the network latency as well as traffic encryption costs of accessing a 3rd party cloud service from an application microservice using Istio service mesh. @jnativio is currently working with @vadimeisenbergibm on characterizing this cost using acmeair microservices benchmark and mongoDB data service us

[2018-08-30 19:20] suryadu commented on #8277
As shown in fig 3.2.5.1 from Istio performance report (https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing), ingress gateway consumes 27% of Istio's overall CPU consumption. As this is one of the major components adding to the additional capacity requirements of Istio service mesh, this issue is to track all the optimization work around ingress gateway

[2018-08-30 19:30] mandarjog commented on #8276
3.3.1 is about data path performance with 2 sidecars and increasing number of clients.  I suggest that we close this and open specific pilot performance issues.

[2018-08-30 19:50] suryadu commented on #8275
As shown in fig 3.2.5.1 of Istio Performance report (https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing), 20% of Istio CPU cycles are spent in tracing component. This is the default configuration cost and there is no additional tracing enabled for application or any other component. This issue is to track all the work to reduce the costs of tracing in

[2018-08-30 19:54] suryadu commented on #8274
As shown in fig.3.2.6.1 of Istio performance report (https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing), istio-proxy is taking more cpu than the service itself. We understand some of this cost is coming from telemetry portion as well. This issue is to track all the optimization work around side car proxy to reduce the overall costs of Istio service me

[2018-08-30 19:57] suryadu commented on #8273
As shown in fig. 3.2.5.1 of Istio report (https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit?usp=sharing), telemetry is the single most contributor for Istio overhead from CPU consumption point of view. Almost 41% of CPU cycles spent by Istio are coming from telemetry component. There are multiple options being discussed now including introduction of a sampling me

[2018-08-30 20:07] cdmitri commented on #8343
Validated https://github.com/istio/istio/pull/8344, works as expected.

Additional testing/validation by moving ```reviews-v3``` between Clusters A/B successful as well.

Cheers!

[2018-08-30 20:07] #8343 closed

[2018-08-30 20:18] PiotrSikora commented on #8247
@Stono great, thanks for testing!

Yes, I totally agree that we should have 1 or 2 proxy threads by default, at least for the sidecar, otherwise we're stealing resources away from the workload. Adding `global.proxy.concurrency` (and soon annotations for it) was just prerequisite to dialing it down.

[2018-08-30 20:20] #3122 closed

[2018-08-30 20:29] zuercher commented on #8310
I don’t have access to a computer to do any debugging, but I expect the problem is that the upstream connection callback (onPoolReady in tcp proxy) is firing after the downstream has been closed and is trying to enable reads on the already closed downstream.

[2018-08-30 20:59] vhosakot commented on #8184
Reproduced this issue for the 5th time when deploying istio multi-cluster. Logs below:

Errors and warnings from `kubelet` in `syslog` on `istio-local`:
[istio-local-syslog.txt](https://github.com/istio/istio/files/2337916/istio-local-syslog.txt)

Errors and warnings from `kubelet` in `syslog` on `istio-remote`:
[istio-remote-syslog.txt](https://github.com/istio/istio/files/2337920/istio-remote-sy

[2018-08-30 21:01] ggreenway commented on #8310
I think this may be related to the mixer filter, due to this line from the trace above:

`[debug][filter] src/envoy/tcp/mixer/filter.cc:98] [C2] Called tcp filter onNewConnection: remote 10.48.5.4:39950, local 10.48.4.6:8000`

With only a tcp_proxy filter, and a listener configured for TLS, onNewConnection() will only be called when the TLS handshake completes, and if mTLS validation fails, that s

[2018-08-30 21:09] yangminzhu commented on #8263
I'm not entirely sure when the sanitation happens but feel it's happening before any other filters have the chance to access the headers. (I can double check later)

[2018-08-30 21:29] snguyen-ith commented on #7587
There's no way to install these add-ons after the initial install of Istio??

[2018-08-30 21:51] PiotrSikora commented on #8310
Yes, I haven't ruled this out completely, however it worked fine before the TCP proxy changes, and it works fine after reverting them, so it's either regression or a silent breakage in upstream anyway.

That's definitely not true, and this assumption is most likely the source of this issue).

In the above excerpt `C2` is downstream and `C3` is upstream (`127.0.0.1:8000` is the configured cluster e

[2018-08-30 22:29] suryadu commented on #8276
@mandarjog sure! we can do that. @jnativio can you please close this issue and update the table in the performance report with all the pilot specific issues.

[2018-08-30 22:42] diemtvu commented on #8263
One thing we need to be careful is to make sure this header is trusted.  If the mesh use mTLS, we can probably set Ingress-gateway to `forward_only` and sidecar (inbound) to `append_forward`, so that `x-forwarded-client-cert` from ingress (if any) won't be dropped. We may also want to set sidecar (outbound) to `sanitize` to prevent adversary app to put malicious value in that header.

If the mesh

[2018-08-30 23:07] ggreenway commented on #8310
Ah, I see where I went wrong. `raiseEvent(Connected)` happens when the handshake completes. `onNewConnection()` happens as soon as the filter chain has been constructed. I conflated the two in my mind.

[2018-08-30 23:15] rkpagadala commented on #8225
@k regarding #7553 please cherrypick to branch release-1.0 and send a PR

[2018-08-30 23:20] PiotrSikora opened #8383 "GDB doesn't work due to missing capabilities in the container."
**Describe the bug**
GDB doesn't work due to missing capabilities (`CAP_SYS_PTRACE` or `CAP_SYS_ADMIN`) in the container, even though it's documented in the [official documentation](https://istio.io/help/ops/component-debugging/#with-gdb).

[code]
[code]
[code]

**Expected behavior**
GDB works, at the very least when using `proxy_debug` image.

**Steps to reproduce the bug**
[code]
[code]

**Versi

[2018-08-31 01:15] rad91 commented on #7726
I have the same issue running locally on docker edge for mac with kubernetes.

[2018-08-31 01:47] ZhangLv1979 opened #8387 "Auto sidecar injected pod report Init Crash Loop Back-off"
**Describe the bug**
installed 1.0.1 on openshift origin 3.10, auto inject sidecar succeed, but proxy_init container keep report Crash Loop Back-off. so the Pod stay PodInitializing status

**Expected behavior**
should start pod with sidecar container.

**Steps to reproduce the bug**
lable a project as auto inject.
deploy a pod to the project.

**Version**
istioctl version
Version: 1.0.1
GitRevisi

[2018-08-31 02:01] irisdingbj commented on #8338
@cmluciano will take a look at this

[2018-08-31 03:09] irisdingbj commented on #8338
Galley is using the normal informer stuff to watch the related istio crd resources.
@douglas-reid  Is this  problem  identified in this PR https://github.com/istio/istio/pull/8356?

[2018-08-31 03:12] irisdingbj commented on #8338
@ayj see above.  I think galley is safe for the k8s api server. Any comments?

[2018-08-31 03:24] m1093782566 opened #8390 "Apply for Istio membership"
I am creating this issue for the sake of applying for Istio membership.

I have Subscribed to istio-dev@googlegroups.com

I am currently working on improving local e2e test environment setup. Following is the list of PRs got merged:

#7851
#7897
#8023
#8099
#8173
#8237
#8246
#8298

PRs in flight:

#8248
#8367

Issues involved in:

#8159
#8167
#8239
#8365

/cc @hklai @sdake @gargnupur for sponsors

[2018-08-31 03:29] mandarjog commented on #8338
The issue with mixer was that it was watching too many CRD “kinds”. We have moved Mixer to a model that uses far fewer crds, so the load will reduce.

If galley uses the same mechanism where every Kind is its own channel to api server it will face the same problem with the total number of crds in the system.

We have to actually measure the load.

[2018-08-31 03:44] hklai commented on #8390
I can vouch for @m1093782566 who contributed to local E2E testing and will also help out other testing improvements.

[2018-08-31 03:46] m1093782566 commented on #8390
Thanks @hklai !

[2018-08-31 03:56] sdake commented on #8390
Agree to sponsor @m1093782566 - does great work and is enthusiastic.

cc @geeknoid

[2018-08-31 04:00] m1093782566 commented on #8390
Thanks @sdake

[2018-08-31 04:14] m1093782566 commented on #4541
I would love to join this effort.

[2018-08-31 05:40] gyliu513 opened #8394 "Istio ingress gateway do not support mergeable-ingress-type"
For nginx ingress controller, it support `mergeable-ingress-type` as described here https://github.com/nginxinc/kubernetes-ingress/tree/master/examples/mergeable-ingress-types

This feature can enable me to configure NGINX to have support for using multiple Ingress Resources which apply to a common host. This allows for easier management when using a large amount of paths.

Like example as follows

[2018-08-31 07:45] #7500 closed

[2018-08-31 07:59] wackxu opened #8397 "run /bin/fmt.sh error"
I have goimports in my GOPATH/bin, when I run `bin/fmt.sh`,

[code]

it should not always run `go get goimports` becasue `goimports` already exists.

[2018-08-31 09:11] lichuqiang commented on #8349
I have interest in this.
Please let me know if some of them are up for grabs :)

[2018-08-31 09:48] smeeklai commented on #8030
Same, I'm having the same issue

[2018-08-31 09:50] irisdingbj commented on #7675
Galley only starts in validation mode in istio 1.0.  So I do not think galley will contribute to this issue on 1.0 release.

[2018-08-31 09:51] irisdingbj commented on #8338
Need to work on this for galley part as well since we will use separate watchers for every kinds of istio crds.

[2018-08-31 10:18] pourquoi42 commented on #7931
thanks!

[2018-08-31 10:18] #7931 closed

[2018-08-31 10:30] #6777 closed

[2018-08-31 11:24] srishti0190 opened #8406 "Not able to connect to HTTPS service using Gateway and Virtual Service"
As I am new to istio, along with all my team members, we would really appreciate if we can get some help here.

**Describe the bug**
I have followed the below documentation to create certs and create secrets in k8s using the application cert and key
[https://istio.io/docs/tasks/traffic-management/secure-ingress/#troubleshooting](url)

After that I restarted my istio-ingressgateway pod so that it l

[2018-08-31 11:53] jwendell commented on #7590
I like @rshriram idea of not enabling global mTLS and gradually rollout it for every service.

@esnible I don't think we need an `INHERIT` value. I believe it's enough to assume the parent/global value in absence of an explicit value.

Folks, is it a breaking change to assume the global value - instead of assuming `NONE` if the user doesn't explicitly set a value?

BTW, as another option, it would

[2018-08-31 12:16] DaspawnW opened #8408 "istio-security-post-install fails"
**Describe the bug**
The Istio-Security-Post-Install pod runs in Crash-Loop

**Expected behavior**
The Istio-Security-Post-Install pod finishes

**Steps to reproduce the bug**
Follow the instructions on https://istio.io/docs/setup/kubernetes/helm-install/
There it a description in the [Installation steps](https://istio.io/docs/setup/kubernetes/helm-install/#installation-steps) section that you mus

[2018-08-31 12:28] virendrasingh007 commented on #8264
Thanks Shriram for reply.
Currently we have below static rule at Envoy. We are able to get Virtual_Host data from Istio using VirtualService CRD. Now we want "per_filter_config" data from Istio as below. I believe you are saying that this can be done using "envoyFilter" CRD. Can you please share the steps to get it done? In the meantime we will try to test the same and let you know the result.

Sn

[2018-08-31 12:40] Stono commented on #7872
Oh really interesting observation @naseemkullah, we explicitly set our fsGroup too

[2018-08-31 13:08] linsun commented on #8390
invited, welcome @m1093782566 !

[2018-08-31 13:08] #8390 closed

[2018-08-31 13:26] LinAnt commented on #8057
Did you come up with a solution to this? I am facing the same issue with vault/etcd.

[2018-08-31 13:52] Stono opened #8410 "Unable to connect to external MongoDB instance with istio-proxy"
**Describe the bug**
Using istio `1.0.1` we are unable to create external mesh connections to mongo db clusters.

We have the following ServiceEntry defined on our cluster

[code]

And I can confirm by jumping onto pod i can connect to mongodb port 27017 with telnet, so traffic is being routed out of envoy, and off the node to mongodb.

However, when the mongo client is used, and it attempts to cr

[2018-08-31 14:00] Stono commented on #8057
@LinAnt nope, it's basically unsupported.  In the case of redis I ended up building a HAProxy LB in front of it and used the annotation `traffic.sidecar.istio.io/includeOutboundIPRanges: ""`, to have envoy not intercept any outbound traffic.  This only works when the app is not talking to any istio stuff upstream.

[2018-08-31 14:04] Stono commented on #7872
OK I can confirm removing fsGroup definitely stops the watcher detecting those certificates as changed.

[2018-08-31 14:14] rshriram commented on #8410
If the client is initiating a TLS connection, it is no longer a mongo protocol to envoy. It will be a plain TLS connection (so you won't get mongo stats either). I suggest you make the client talk plain text and let envoy originate the TLS by configuring a destination rule.

Secondly, the configuration you have will cause port collisions and push traffic to a single shared only, as you have 3 serv

[2018-08-31 14:27] Stono commented on #8410
Hey @rshriram - thanks for the quick reply.  This is really confusing :-(

The client does care about the shard, i need to ensure that if i tries to connect to 01, it goes to 01.   Would I need separate instances for each?

[2018-08-31 14:30] #6153 closed

[2018-08-31 14:49] rshriram commented on #8410
Try this:
[code]

[2018-08-31 15:20] #7015 closed

[2018-08-31 15:22] ijsnellf opened #8411 "Wildcard matching for virtual services most -> least specific"
Better wildcard handling. Virtual services and gateway servers with wildcard hosts should be matched from most specific to least specific. (So, if we match both *.uk.com and *, we choose *.uk.com because it is more specific.)

Follow-on to this:
https://github.com/istio/istio/issues/2468

[2018-08-31 16:11] diemtvu commented on #7590
Removing option to enable mTLS globally will be a pain for security operators.

I am in favor of INHERIT, though we need to have a good way to define the 'hierarchy'. Another option is to break the TLSSettings into a separate policy (CRD).

[2018-08-31 16:41] nmittler commented on #8349
@lichuqiang want to start with https://github.com/istio/istio/issues/6173? The port-forwarder is going to be pretty important.

[2018-08-31 17:42] Stono commented on #7590
Yes, please do not remove the global entry.  We want opt out, rather than opt in.  `INHERIT` seems to make the most sense to me, or enforce the value to be set in the CRD.  The current behaviour of omit = none is just wrong

[2018-08-31 18:01] lichuqiang commented on #8349
Sure!

[2018-08-31 18:04] lichuqiang commented on #6173
@ozevren If you've not got time to start on this, I'd like to help

[2018-08-31 18:12] jmazzitelli opened #8413 "Istio deployment template metadata labels should have version"
**Describe the bug**

About a month ago, I submitted an issue https://github.com/istio/istio/issues/7639 asking the labels that Istio puts on its own components match Istio's own recommendations for user components (specifically the "app" and "version" label is what I cared about).

That issue was implemented in PR https://github.com/istio/istio/pull/7685 but it is not fully complete. Some Istio d

[2018-08-31 18:12] danehans commented on #7990
@myidpt even with short-lived certs, our security policy requires OCSP.

[2018-08-31 18:58] jwendell commented on #7590
You guys seems to have misunderstood what I wrote above. I didn't mention to remove the mTLS option at all. What I said was indeed inheriting the global setting is the way to go in my opinion. I just think we don't need a special flag for that, like `INHERIT`. We could infer that automatically, if the user doesn't explicitly set one in their `DestinationRule`.

[2018-08-31 19:20] douglas-reid opened #8415 "Provide filtered export of envoy metrics to replace statsd-to-prometheus function"
**Describe the feature request**
Many of the metrics about envoy's operation (distinct from request/response metrics) are held exclusively by envoy. To date, we've been using a statsd-to-prometheus process to expose those metrics for consumption by prometheus, etc. Unfortunately, this does not scale well (as there is no filtering) and does not properly handle aggregation across envoy instances.

I

[2018-08-31 19:27] kyessenov commented on #8415
Summary of preliminary discussion.

Mechanics:
- statsd bridge proves to be a performance bottleneck
- we can use gRPC metrics service to pipe out envoy metrics

Envoy metrics:
- version summary per envoy instance x envoy resource
- envoy memory use

Application metrics:
- annotate request metrics with envoy/istio resource metadata

[2018-08-31 19:46] k commented on #8225
@rkpagadala okay waiting on #8416 for a bug fix

[2018-08-31 20:05] #8333 closed

[2018-08-31 20:55] squillace commented on #8030
@yangminzhu thanks for the tip; yes, I no longer have the error if I use `helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set security.identityDomain=""`, but I have another problem: #6624. Going to try passing "Citadel" as the identityDomain, but heck.... why would the 1.0 documentation include an image that isn't in 1.0? or is the image a moving image?

[2018-08-31 20:56] costinm commented on #8415
That's pretty much not what we discussed...

Statsd bridge - with the fix to label IP - is not a performance bottleneck, and with a config change to filter the metrics will be even less so.  Using gRPC metrics instead of UDP would only make things far worse in terms of scalability - I would like to have a load tested prototype compared before we waste time debating this.

The envoy metrics prove t

[2018-08-31 20:59] costinm commented on #8415
To be clear: statsd bridge is stable and while it uses lots of memory - it is still less than telemetry or prometheus itself, and appears more stable than both. The original problem was that it didn't label the data ( so metrics were meaningless ), and after it was fixed the alloc had to be adjusted. I suspect after filtering it'll work even better.

Even when it was miss-configured and crashing -

[2018-08-31 21:02] costinm commented on #8415
@nmittler  is merging the readiness probe for pilot-agent, which is scrapping metrics from envoy. Once it is done, we'll also have the option to expose envoy directly for scrapping ( this will be in 1.0 - so can be made available soon to prod users ). It's another short term option until a new design gets implemented, and would reduce the CPU cost added by the UDP bridge.

[2018-08-31 21:07] kyessenov commented on #8415
I just read the code, and it's only reading the number of inbound clusters and listeners. Is that all we need? What do you mean by exposing envoy directly to scraping? Do you mean to aggregate prom metrics in the agent? Why not just scrape directly from envoy (it _has_ prom backend)?

I find your comment mysterious. Do you mind starting a doc with more explanation?

[2018-08-31 21:30] #884 closed

[2018-08-31 22:13] kyessenov opened #8420 "sequencing VirtualServices and DestinationRules"
_(Customer feedback for 1.0, please do not remove the label)_

A deployment is packaged together with istio resources in a helm chart. Whenever a new version is released, helm is used to upgrade the chart (e.g. updating a container, changing the virtual service for canary rollout, etc). During the upgrade, an old chart is taken down and replaced with the new chart. 503s are observed for up to 40s.

[2018-08-31 22:30] #6587 closed

[2018-09-01 00:34] m1093782566 commented on #8390
thank you @linsun

[2018-09-01 04:44] ramaraochavali commented on #7665
@rshriram when you get time, can you please help with this?

[2018-09-01 05:42] proddam commented on #5453
I have the same issue. Did you find a solution? I think istio sidecars don't fit k8s statefulsets.

[2018-09-01 07:30] #6692 closed

[2018-09-01 08:30] #6747 closed

[2018-09-01 10:10] #6695 closed

[2018-09-01 12:10] #6630 closed

[2018-09-01 13:10] #6656 closed

[2018-09-01 14:10] #6650 closed

[2018-09-01 17:10] #6596 closed

[2018-09-01 18:10] #6655 closed

[2018-09-01 18:27] k commented on #6655
this would reduce a lot of duplication in virtual services with different paths and services that have all the same cors policy. I believe this is common pattern when there are multiple frontend apps that share a common host

[2018-09-01 22:35] nmittler commented on #6145
@Stono FYI readiness probe for istio-proxy was implemented by https://github.com/istio/istio/pull/7465

[2018-09-02 06:09] ymesika opened #8424 "Racetest hits alive goroutines limit"
Recent racetest executions are failing with an error:
`race: limit on 8192 simultaneously alive goroutines is exceeded, dying`
in `TestErrors`.

Example: https://circleci.com/gh/istio/istio/173695?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-09-02 07:02] hzxuzhonghu commented on #8424
I can investigate.

/assign

[2018-09-02 07:27] hzxuzhonghu commented on #8424
propose a pr to fix it.

[2018-09-02 07:35] ymesika commented on #8424
Thanks @hzxuzhonghu

[2018-09-02 13:38] nmittler commented on #6145
@costinm is it too late to get this into 1.0.2?

[2018-09-02 19:10] ymesika commented on #8408
You are missing a flag: `--set security.enabled=true`.
Adding it will generate the missing CRDs as well.

[2018-09-03 01:43] zxDiscovery commented on #8362
@ymesika Oh, I don't specify ``--set global.proxy.envoyStatsd.enabled=false``. I will try it again. Thank you!

[2018-09-03 02:30] zxDiscovery commented on #8362
It works after specify ``--set global.proxy.envoyStatsd.enabled=false``. So close this issue.

[2018-09-03 02:30] #8362 closed

[2018-09-03 03:44] dunjut opened #8428 "Add public/private switch to Gateway"
**Describe the feature request**
We have some APIs are intended to be accessed from only within the datacenter, such as services running on bare-metals. Meanwhile we also need to expose some APIs to the public network. So it's better we can use a flag to distinguish them in Gateway spec, and make istio-ingressgateway capable of watching and applying Gateway objects which has a pre-defined flag val

[2018-09-03 05:24] hyder opened #8429 "Grafana pod CreateContainerConfigError because secret created in default namespace"
**Describe the bug**
Grafana pod creation results in CreateContainerConfigError. Error message: "Error: secrets "grafana" not found". Grafana secret is created in default namespace instead of istio-system

**Expected behavior**
Grafana pod should be in Running state

**Steps to reproduce the bug**
Following helm installation via template (Option 1)

helm template install/kubernetes/helm/istio --na

[2018-09-03 05:37] ngupta-cn commented on #7174
I am facing the same issue recently in kubectl version 1.11 and istio 1.0.0. But everything was working fine a week ago. Is this issue resolved?

[2018-09-03 05:55] ymesika commented on #8429
This has been modified in #7719 for next 1.x but not available in 1.0.x yet.

[2018-09-03 08:10] hzxuzhonghu opened #8434 "Add Fataf method in `pkg/log`"
**Describe the feature request**

should support log and then exit like `glog.Fatalf`.

By this we can eliminate calling `panic` directly. And also we can remove many `shared.go` files.

[2018-09-03 08:12] hzxuzhonghu commented on #8434
cc @costinm @geeknoid @rshriram @linsun @nmittler

[2018-09-03 08:27] #8227 closed

[2018-09-03 08:41] 0xCA7F00D commented on #8059
@rlenglet
I get that, but from what I understand, iptables REDIRECT only alters the destination ip(and port, of course) to localhost, which leads to Envoy still getting the correct source ip which is not changed.
From the man page:

the incoming interface (locally-generated packets are mapped to the localhost address, 127.0.0.1 for IPv4 and ::1 for IPv6)."

If that's right, there is no use current

[2018-09-03 11:09] lnshi opened #8437 "Able to tag the connection when the service have multiple servers running on the same port"
**Describe the feature request**
- Firstly, i create one issue here: https://github.com/soheilhy/cmux/issues/62, will help to build the context up.
- Now, seems istio-proxy sidecar maintain/reuse the connection between the downstream service and the proxy, but only tag the connection by the downstream service host and port.
- So, always which server(i mean the servers 1, 2, 3 i mentioned in above

[2018-09-03 11:52] howels commented on #7290
Same here using 1.0.1 build.  I have read all the Istio 0.8 and 1.0 docs on authentication and I am trying to implement origin authentication with a KeyCloak openid provider. I have tried repeatedly to get Istio to talk to KeyCloak and validate token that I have issued, using the following authentication config:

`
apiVersion: authentication.istio.io/v1alpha1
kind: Policy
metadata:
  annotations:

[2018-09-03 11:52] Arttii commented on #6574
@mydoal So is it definitely not there in 1.0?. I was trying to get this working and run into the same issue with the traffic just going to one service in the back.

[2018-09-03 12:08] Yisaer opened #8439 "What difference between registered external service and unregistered ones in HTTPS protocol?"
Hi, I am using istio1.0.0 release and I set the google external service in the following [doc](https://istio.io/docs/tasks/traffic-management/egress/#configuring-istio-external-services). I send HTTPS request to both `https://www.google.com` and `https://www.bing.com` . And I noticed that both requests were `200 OK`.

 I want to know that what difference between both requests while I only set the

[2018-09-03 12:12] Yisaer commented on #8439
And I'm sure the includeIPRange arg for istio-init container in this POD is *.

[code]

[2018-09-03 12:19] howels opened #8440 "JWT Authentication not working in 1.0.1 with KeyCloak OpenID provider"
**Describe the bug**
JWT authentication is not working with the KeyCloak OpenID provider and I cannot locate sufficient documentation to fully trace the source of the problem. I can get JWT working with the simple tokens located on Github in the Istio repo.

Same here using 1.0.1 build.  I have read all the Istio 0.8 and 1.0 docs on authentication and I am trying to implement origin authentication

[2018-09-03 12:46] lxkaka opened #8441 "can not visit istio grafana from outside"
Hi,  there
I want to visit grafana with a external IP, and I use ingress gateway to proxy the request.
Below is the conf:
[code]
when I `curl http://172.31.44.231:32283`(IP is node ip of gateway,), the request will be proxy to the pod with port 8888(I have a service with container port 8888).
Is this a misconfiguration ? thanks in advance for any reply.

[2018-09-03 13:17] Gottox opened #8443 "MongoDB HelmChart breaks with Istio"
**Describe the bug**
When installing the [official MongoDB helm chart](https://github.com/helm/charts/blob/master/stable/mongodb/Chart.yaml) with `helm install --name mongodb stable/mongodb`, the istio sidecar fails with a `permission denied` error message:
[code]

**Expected behavior**
The expected behavior is that both the init container and the mongodb container start properly.

**Steps to repr

[2018-09-03 13:20] pieterderycke opened #8444 "Enable routing decisions based on attributes in a JWT token"
We would like to perform routing between versions based on functional criteria (like sex, location, age, etc.). With Istio this is currently not convenient, it would require us to push all the necessary functional parameters in the http headers and perform the routing based on these headers.

We are making use of JWT tokens to push the identity of the calling user between the micro-services. We wo

[2018-09-03 15:19] howels commented on #8440
Seems to be working now, I think the "mtls: mode: STRICT" was actually preventing the authorization connection but nothing in the logs to show this.

[2018-09-03 15:19] #8440 closed

[2018-09-03 16:00] jwhitlark commented on #7506
This is somewhat related to https://github.com/istio/istio/issues/7511

[2018-09-03 18:48] ymesika commented on #8369
Just tried running `istioctl` with a `-c` flag that points to non-default kubeconfig. `istioctl` is using the same API you use (`crd.NewClient`) and it works correctly. I.e. it connects to the K8s API I provided in the flag.

Please notice that if the provided kubeconfig doesn't exists or fails to load it will fallback to the default. Can you verify that you can get an existing one with the `path

[2018-09-03 20:39] kyessenov commented on #8420
@rshriram What is the right tool that customers should use for packaging their own applications with istio configs? According to the latest CNCF survey, helm is used by 68% of respondents.

[2018-09-03 23:15] merlineus commented on #7022
@rshriram I did't find it, but we are switched to k8s internal service names, so I closing this

[2018-09-03 23:15] #7022 closed

[2018-09-03 23:40] jwendell commented on #8111
/assign

[2018-09-03 23:40] istio-testing commented on #8111
@jwendell: GitHub didn't allow me to assign the following users: jwendell.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8111#issue

[2018-09-04 02:04] dunjut commented on #8428
@linsun Can you help take a look at this please?

[2018-09-04 03:43] sdake commented on #8225
gateway-telemetry feature has been DOA since 1.0.0 - https://github.com/istio/istio/pull/8450

[2018-09-04 03:52] sdake commented on #8225
Istio multicluster failure in many scenarios since the introduction of envoyv2 discovery - https://github.com/istio/istio/pull/8451

[2018-09-04 03:54] pennyluis commented on #8225
Approve

[2018-09-04 04:30] srishti0190 commented on #6071
@frankbu @jsenon I am having the same issue.

I followed this tutorial https://istio.io/docs/tasks/traffic-management/secure-ingress/ and my curl was not working if I only have port 443. It was giving me error: SSL_ERROR_SYSCALL

curl -v -HHost:ms-1234.byom-i344382.devsg.eu-central-1.mlf-aws-dev.com  https://ms-1234.byom-i344382.devsg.eu-central-1.mlf-aws-dev.com:443/api/v2/predict --cacert /home/

[2018-09-04 04:35] srishti0190 commented on #6071
Also, while it was not working I tested with certmanager enabled, deployed CertificateIssuer, Certificate and certmanager gateway resources. And It was working. But I dont really need it.

[2018-09-04 06:18] DaspawnW commented on #8408
Hi @ymesika,

You are right, security.enabled=true did it :-)
In think the parameter is not documented in the helm values and also not in the README.md

[2018-09-04 08:17] gyliu513 opened #8453 "Add Istio helm chart test"
It is better to add some test files for istio helm chart as described here https://github.com/helm/helm/blob/master/docs/chart_tests.md

/cc @sdake @costinm @linsun @morvencao

[2018-09-04 10:30] rokii opened #8459 "Service-specific policy takes no precedence when request comes from same ns"
Per this doc https://istio.io/docs/tasks/security/authn-policy/#policy-precedence,  only request from `sleep.legacy` to `httpbin.foo`  will be successful. But if the  `sleep` service is deployed in `foo` ns , the request from `sleep.foo` to `httpbin.foo` will be failing with 503. It seems that in same ns one pod will not be aware of the policy and destination rule of the other one.  Is this workin

[2018-09-04 11:28] lichuqiang commented on #6177
I'd like to help with this, but I didn't find any `Tag` usage in existing code.
Can you give an example?

[2018-09-04 11:41] ymesika commented on #8299
@dunjut I have the current proxy built for MacOS available here: https://github.com/ymesika/istio-proxy-darwin/raw/master/envoy.tgz

This is temporary until I find out how to update the one downloaded by the scripts.

[2018-09-04 13:16] linsun commented on #8453
+1

[2018-09-04 13:26] jwendell commented on #8111
/assign

[2018-09-04 13:42] #8373 closed

[2018-09-04 13:48] seehait opened #8462 "ServiceEntries in Kubernetes Cluster are shared between namespace."
**Describe the bug**
My team is using Istio 1.0.1 inside of Kubernetes Cluster. Some application inside the cluster need to connect to services outside their cluster. So we defined ServiceEntries for all external services.

The following is the Kubernetes resource we defined, consist of 2 service entries of external db service. Despite both service entries point to the same db master host, but onl

[2018-09-04 13:48] seehait commented on #7581
This may be the root cause. https://github.com/istio/istio/issues/8462

[2018-09-04 13:48] #7581 closed

[2018-09-04 14:55] kminehart commented on #5453
They do though.

It really looked like Istio wasn't able to handle the "redis" protocol traffic. I had it working for a while before I started running into this issue; make sure the port is named "redis".

I ditched istio whenever i couldn't figure it out, unfortunately.

[2018-09-04 15:43] GregHanson commented on #7869
should be resolved by https://github.com/istio/istio/pull/8088

@kyessenov okay to close this one?

[2018-09-04 16:30] kdillane commented on #6977
We were bitten by this problem again.  The underlying issue is likely that our Kubernetes cluster has become unhealthy causing intermittent authentication errors to the api server.  Regardless, the problem is not that Kubernetes is unhealthy.  Pilot, in what I assume is an attempt to heal the cluster, removes the CRDs which effectively wipes all the rules from the cluster.

[2018-09-04 16:32] kdillane commented on #6977
The code that actually deletes resources: https://github.com/istio/istio/blob/release-1.0/pilot/pkg/config/kube/crd/client.go#L288

[2018-09-04 16:39] nmittler opened #8465 "[test-framework] Consolidate Envoy utilities"
The new framework defines its [own utility](https://github.com/istio/istio/blob/master/pkg/test/framework/components/apps/local/envoy/envoy.go) for running Envoy locally.  Other components, such as [Mixer](https://github.com/istio/istio/blob/master/mixer/test/client/env/envoy.go), define similar wrappers around Envoy.  We should combine them into a single implementation under `/pkg/test/envoy`.

[2018-09-04 16:48] kyessenov commented on #6977
This code is from pre-HA and pre-helm dates. I think it's fine to remove
the logic around deleting CRD entirely.

On Tue, Sep 4, 2018 at 9:33 AM kdillane <notifications@github.com> wrote:

[2018-09-04 16:49] kyessenov commented on #7869
Are we 100% confident there are no duplicates generated by the config generation code?

[2018-09-04 16:58] GregHanson commented on #7869
@ijsnellf de-duped the cluster names in this PR: https://github.com/istio/istio/pull/7983/files
and shriram's PR I linked above found out why it was happening in the first place and fixed the underlying cause

[2018-09-04 16:59] #7869 closed

[2018-09-04 17:09] hklai commented on #6177
After multiple rounds of discussions, we killed the generic tagging as we were not able to find a clear use case that cannot be solved by build tag or packages.

For flakiness handling, we decided to use a specialized method and @JimmyCYJ is working on that.

[2018-09-04 17:09] #6177 closed

[2018-09-04 17:15] cameronmoreau opened #8466 "request.auth.claims[scope] does not allow a JWT an array of scopes"
**Describe the bug**
When enabling RBAC, the `request.auth.claims[scope]` [authorization property](https://istio.io/docs/reference/config/authorization/constraints-and-properties/#properties) does not have a way to validate scopes in the form of an array.

i.e. `{..., "scope": ["foo.read"]}`

**Expected behavior**
If the token's scopes are in the form of an array, there should still be a way to va

[2018-09-04 17:19] hklai commented on #4548
Closing this in favor of the newer and finer granular issues istio/istio#8354 and istio/istio#8355

[2018-09-04 17:19] #4548 closed

[2018-09-04 17:31] polivbr opened #8467 "gRPC concurrent stream hang"
**Describe the bug**
Concurrent gRPC server streams hang when sending large payloads. Issue is seen when requests are traversing ingress gateway. Not sure about behavior when fully inside of cluster. Increased log level of gateway, but can't see anything obvious.

**Expected behavior**
All streams are sent and received.

**Steps to reproduce the bug**
1) Code to reproduce the issue can be found at

[2018-09-04 17:36] diemtvu commented on #8263
I've just drafted this [PR](https://github.com/istio/istio/pull/8468). Let me know if it make sense. I'll verify behavior and adding tests later.

[2018-09-04 17:59] ayj opened #8469 "Rationalize namespaced vs. cluster scoped MCP resources"
We use the same type_url for namespace and cluster scoped MCP resources (e.g. see [Policy vs. MeshPolicy](https://github.com/istio/istio/blob/feae02be949a5958567616485655efb9f279851b/galley/tools/gen-meta/metadata.yaml#L68-L81)). MCP clients cannot differentiate between the two scopes and, as a result, policy is misapplied.

For networking APIs, namespace scoped resources provide some convenience

[2018-09-04 18:00] kdillane commented on #6977
When do you expect to be able to push out a fix for this issue?  Will this be available as a patch release given it's impact?

[2018-09-04 18:02] ayj opened #8470 "Rate limit MCP auth check handler failures"
MCP server auth check failures should be rate limited to avoid flooding logs with duplicate information. Warning less frequently (e.g. once a minute?) and increasing a counter might be sufficient.

https://github.com/istio/istio/blob/feae02be949a5958567616485655efb9f279851b/pkg/mcp/server/server.go#L145

[2018-09-04 18:04] hklai commented on #4578
Consider done.

[2018-09-04 18:04] #4578 closed

[2018-09-04 18:06] ayj opened #8471 "MCP server shouldn't immediately re-push NACK'd config updates"
The MCP server layer should avoid immediately re-pushing previously NACK'd resources to the same client. Instead, the server should wait until a new resource version is published before sending the next MCP config response.

[2018-09-04 18:15] jnativio commented on #8276
@mandarjog Could you please let me know what are the specific Pilot perf issues you are investigating or if you have already opened these issues, let me know their numbers.

[2018-09-04 18:38] rshriram commented on #8462
Service entries are always cluster scoped. So, if you add TCP service entries, without an address field (i.e. the way you have defined), then you need to ensure that the service entries have unique ports across all service entries.

[2018-09-04 18:44] ldemailly commented on #6486
xref https://github.com/istio/istio/issues/6486

[2018-09-04 18:59] hklai commented on #8350
@JimmyCYJ could you help with this?

[2018-09-04 20:05] ayj commented on #8462
If true, the ServiceEntry CRD should be (re)defined as a cluster scoped resource to avoid confusion. Alternatively, the namespace'd ServiceEntry could be retained with namespace limiting visibility to clients in said namespace. A cluster-scoped version could be added for global visibility.

cc @andraxylia @louiscryan

[2018-09-04 20:06] SiriusRed commented on #6523
Up. I have the same problem. Istio 1.0.0
Executing mount command, chroot and systemd-run (because I use GKE) get failed because they can not connect to nfs server from node namespace.
I don't know how I can allow connecting to nfs service in istio-mesh from node.

[2018-09-04 20:14] sneko commented on #6486
Hi @ldemailly,

I already saw the PR you mentioned but I can't make HTTP01 validation working with Istio.

Is it still possible? And if yes, do you have some documentation please?

Before I was using the old way you described by creating Service/Ingresses manually but with the new cert-manager version I don't know anymore 😢

Thanks,

[2018-09-04 20:18] rvora commented on #8420
@rshriram Can you clarify what you mean by "the actions helm does are precisely what we tell people to not do"?

Reason I am asking is that helm doesn't seem to be the culprit here. The root cause is within Istio - the need to sequence operations (add/delete) on VirtualServices and DestinationRules. Anyone using kubectl / kubeapi directly to make changes to istio config would also run into the sam

[2018-09-04 20:19] rvora commented on #8420
@rshriram Also, the idea of sequencing config updates is a difficult one right now in most CI/CD platforms. The suggested algorithm in the above mentioned link (Feedback 1) is very difficult to implement deterministically - what does "wait for a few seconds" mean? What if "few seconds" is not enough in one k8s cluster but enough in another k8s cluster? Is there a way to ask Istio / Envoy if the ch

[2018-09-04 20:19] louiscryan commented on #6977
@costinm @rshriram can one of your triage this for inclusion in 1.0.2 ?

[2018-09-04 21:09] ayj commented on #8420
related: https://github.com/istio/istio/issues/6082 and https://github.com/istio/istio/issues/882

Some of the current solutions for observing operational status of configuration:

- Dump the proxy status and work backwards from envoy listeners/routes/clusters to determine whether the latest Istio configuration is applied - https://github.com/istio/istio/issues/882#issuecomment-397438591
- Use pil

[2018-09-04 21:22] wattli opened #8477 "Stress test for rbac"
According to Mandar, we need some stress test to validate the performance of Istio rbac policy. Basically we need to start a tree of 500 services and create some script for rbac. And then verify the performance.

[2018-09-04 21:26] ayj opened #8478 "Resolve networking API shortnames to FQDN in Galley for MCP resources"
The networking API resources (e.g. VirtualService, Gateway) allow k8s short names. Pilot uses the resource's namespace and domain suffix (i.e. `cluster.local`) to resolve these names to the FQDN host name. With the introduction of MCP, Galley can perform this name resolution such that Pilot can operate on the fully resolved hostname when MCP is enabled.

This also implies that the domain suffix op

[2018-09-04 21:27] ayj commented on #8478
cc @andraxylia @ozevren

[2018-09-04 22:24] wattli opened #8481 "Support GCE metadata token in citadel"
We need to support the registration process and have some test coverage.

[2018-09-04 22:31] yangminzhu commented on #8477
As now the RBAC policy is fully enforced in Envoy RBAC filter, Do you mean this is stress test for the pilot [RBAC plugin](https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/authz/rbac.go)? And you want to have a lot (like 500) services in the mesh with RBAC policies enabled and how would it affect pilot's performance when generating and distributing these policies?

If so, I t

[2018-09-04 22:53] jwendell opened #8483 "Rate limit task not behaving well"
I'm running the [Rate Limit task](https://istio.io/docs/tasks/policy-enforcement/rate-limiting/) and I see that Istio is not honoring the limits for the logged in browser and for the anonymous one.

I wrote a [simple shell script](https://gist.github.com/jwendell/b77f79062f866d183eaf5fa8a215599f) that uses `curl` to simulate two browsers, one NOT authenticated, and the other one authenticated + us

[2018-09-04 22:57] hklai commented on #8225
Update: we can cutting 1.0.2 for two urgent bug fixes:
https://github.com/istio/istio/pull/8452
https://github.com/istio/istio/pull/8389

Some earlier mentioned PRs will also be included:
https://github.com/istio/istio/pull/8252
https://github.com/istio/istio/pull/8250

Here is a list of all included commits since 1.0.1
https://github.com/istio/istio/compare/1.0.1...release-1.0

Other bug fixes ar

[2018-09-05 00:14] nrshrivatsan commented on #7585
@prabhatpankaj given [comment](https://github.com/istio/istio/issues/7585#issuecomment-410741495) from @chilcano, could we close this issue?

[2018-09-05 00:30] ayj opened #8486 "Mixer Policy's custom proto cannot be encoded by proto.Marshal()"
Issue originally reported in https://github.com/istio/istio/pull/8356. Some of the Mixer Policy protobufs are re-written to use `interface{}` instead of `google.protobuf.Struct`. This causes problems when the standard protobuf code tries to encode/marshal the proto, e.g. Galley and MCP.

We either need to write a custom encoder or switch the Mixer types back to the standard `google.protobuf.Struct

[2018-09-05 00:30] ayj commented on #8486
cc @ozevren @douglas-reid

[2018-09-05 00:33] ayj opened #8487 "Resolve Mixer Policy's use of namespace in Galley for MCP resources"
The scope of [Mixer Policy API resources](https://github.com/istio/api/blob/master/policy/v1beta1/cfg.proto) is resolved per-request in the Mixer runtime. This resolution requires knowledge of mesh and namespace scoped resources. With the introduction of MCP, Galley can perform this scope resolution such that Mixer can be programmed with pre-resolved configuration. Mixer would no longer need knowl

[2018-09-05 00:33] ayj commented on #8487
cc @ozevren @mandarjog

[2018-09-05 01:15] nrshrivatsan commented on #7982
@liamawhite suggestion [here](https://github.com/istio/istio/issues/7982#issuecomment-414135541) works on my `minikube` on macos

[2018-09-05 01:17] nrshrivatsan commented on #6461
Given Istio is `1.0` now, I do vote for @rokii point of not auto-populating all `service` & `endpoints` into Envoy Config.

It only make sense to have a istio listen on a specific `set of namespaces`.

If not, should support `ignore-namespaces`

[2018-09-05 01:56] m1093782566 commented on #8353
@nmittler I volunteered to help this task, you can assign it to me :)

[2018-09-05 01:56] m1093782566 commented on #8353
cc @hklai

[2018-09-05 02:34] dunjut commented on #8081
Is this feature request approved?

[2018-09-05 02:35] m1093782566 commented on #8349
I volunteered to help this work

[2018-09-05 03:17] zhu0516123 commented on #7608
I have the same problem. When I added the arg ("--appNamespace   ns-0") for pilot, the service of bookinfo app could not be accessed.

[2018-09-05 04:01] lichuqiang commented on #8487
/cc

[2018-09-05 05:48] sharon-vendrov commented on #7449
@ayj for me, setting `--set sidecarInjectorWebhook.enabled=true` caused the ReplicaSet to fail to create pods. with the error:
`Error creating: Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: net/http: request canceled while waiting for connection (Client.Timeout exceeded while await

[2018-09-05 06:48] lichuqiang commented on #8470
+1, I did see amounts of this log due to a bad configuration.
Would like to help for a fix if needed.

[2018-09-05 08:19] Yisaer commented on #8439
I found that istio-1.0.0 with no mtls enabled will only manage http request, after i use istio with mtls enabled, only registered external service can be visited in POD in https protocol

[2018-09-05 08:19] #8439 closed

[2018-09-05 08:58] corey-aloia-sap commented on #7364
I think this is a bit confusing. Would it be possible to default http to dns resolution? My gut feeling is that almost all service entires with `protocol: http` do not want to open up all traffic on that port.

[2018-09-05 09:26] morvencao commented on #7762
Close this as this is resource limits issue.

[2018-09-05 09:26] #7762 closed

[2018-09-05 10:06] tommyJimmy87 opened #8496 "Enable different Auth Policy in the same Pod"
**Describe the bug**
I'm trying to assign 2 Policy in the same pod for 2 different Service. What I need is to have one Service A for external access (Ingress) with mTLS and Auth (JWT/RBAC etc.) enabled and another Service B with mTLS enabled but without Auth stuff for internal communication.

[code]

Checking the tls-check command look like to work well :

[code]

**Expected behavior**

If i try t

[2018-09-05 10:19] sdake commented on #8225
@hklai - can you confirm everything in https://github.com/istio/istio/compare/1.0.1...release-1.0 will be released in 1.0.2?  Specifically looking for the merged https://github.com/istio/istio/pull/8377 to make 1.0.2 as multicluster is semi-DOA without it.

Cheers
-steve

[2018-09-05 11:44] arnecls commented on #8081
@rshriram here I think using the current values as a default and an additional config option make a lot more sense here than adjusting the fixed standard.
As far as I can see, retry is a http-only feature (so no need for a TCP fallback) and in contrast to outlier detection, the reason for retries depend a lot more on protocol/service logic.
There are for example services where it makes a lot of se

[2018-09-05 12:40] islinwb opened #8497 "reviewer has removed the `needs-ok-to-test ` label but it still requests an `/ok-to-test` message"
**Describe the bug**
The reviewer has removed the `needs-ok-to-test ` label but it still requests an `/ok-to-test` message to trigger testing. (I've come across the problem two times.)
I think it is not an intended behavior. Correct me if I am wrong. Thanks!

See https://github.com/istio/istio/pull/8449: one reviewer has removed  the `needs-ok-to-test ` label

but it still requests an `/ok-to-test

[2018-09-05 14:17] nmittler commented on #8349
@m1093782566 great! It's a cleanup task, but it would be nice to get #8465 done ... would you mind taking that one?

[2018-09-05 14:38] jwendell commented on #8483
@douglas-reid any hint here?

[2018-09-05 14:52] nmittler commented on #8353
@m1093782566, @ozevren and I discussed this a bit yesterday ... this needs more thought.  I'm not sure we're ready to work this issue just yet.

[2018-09-05 15:08] rshriram commented on #8420
@rvora I agree that the sequencing has inherent non-determinism in that no amount of wait is a definite guarantee that one resource has reached pilot/envoys. However, at the infrastructure level (i.e. at Istio level), the lack of sequencing presents even greater problems. Istio has no way of knowing whether the sequence is complete or not. For example, if a new virtual service is added, it has no

[2018-09-05 15:48] douglas-reid commented on #8483
@jwendell I think the last person to look at the rate limit task was @mandarjog . IIRC, it was updated recently during the development of better e2e tests. @mandarjog any thoughts here?

[2018-09-05 16:19] ijsnellf commented on #8299
The one used by the scripts is out of date afaik. And it is only pushed manually.

[2018-09-05 16:32] andelhie commented on #8034
I am affected by this bug have we found a work around yet?

[2018-09-05 16:33] hklai commented on #8225
@sdake Right, #8377 will be included.

[2018-09-05 16:37] kamilgregorczyk commented on #8034
I don't think so, it's actually helm problem

śr., 5 wrz 2018, 18:33 użytkownik Andy del Hierro <notifications@github.com>
napisał:

[2018-09-05 16:49] kyessenov commented on #8486
Worth to track upstream api-v2 branch with proto reflection:
https://github.com/golang/protobuf/commit/dbc9a12dbdd230536931ac3028b20578546dac72

[2018-09-05 18:04] janevalleye2e opened #8499 "Helm installation with Tiller is broken for istio-1.0.0 and istio-1.0.1"
**Describe the bug**
Helm installation with Tiller is broken for istio-1.0.0 and istio-1.0.1

**Expected behavior**
Helm installation with Tiller should work and install Istio components under the istio-system namespace.

**Steps to reproduce the bug**
Follow the instructions here

https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install

When you

[2018-09-05 18:05] janevalleye2e commented on #8499
@hklai @rkpagadala @costinm @janevalleye2e @kidiyoor @vilobhmm

[2018-09-05 18:27] kyessenov commented on #8471
Are there any chance of ephemeral errors in MCP? In Envoy's xDS, the re-push is controlled by a rate-limiter due to ephemeral validation errors (mostly because of referential integrity, plus higher level coordination such as mounting files, etc).

I agree that permanent errors should not be retried. However, if you have more than one source of truth to the MCP client (two MCP servers, higher-level

[2018-09-05 18:49] sdake commented on #8499
@janevalleye2e the documentation here could add a little clarity.

Did you create the CRDs in this step?
https://istio.io/docs/setup/kubernetes/helm-install/#installation-steps

Another solution is to use Helm 2.10
Cheers
-steve

[2018-09-05 18:58] ayj commented on #8471
I'm not aware of any ephemeral validation errors in the current usage of MCP with Mixer and Pilot. My first thought is to restrict usage of ACK/NACK to permanent errors (e.g. config is not well formed, type not supported, etc) and use another mechanism for reporting transient referential integrity issues (e.g. status API).

That said, rate limiting retries would provide some resiliency to avoid te

[2018-09-05 18:58] andelhie opened #8500 "Remove or make optional ingress for servicegraph Helm Chart"
**Describe the feature request**
When you enable the flag for servicegraph you automatically get an ingress IP used.  On a cloud service provider this steals a floating IP.  I rather have the choice to do this or use Istio Ingress GW like I do for Grafana and other services that need to be seen.

**Describe alternatives you've considered**
Do not use ingress at all or make it a option value.
or
Us

[2018-09-05 19:05] kyessenov commented on #8471
In xDS, NACK and status are used for the same purpose, status is OK for ACK, and not OK with error details for NACK. Separating the two seems to be rather confusing.

There is also an interesting case of downstream systems rejecting the config. For example, if envoy rejects with NACK, does pilot also reject with NACK? Does it retry instead?

I can imagine similar things happening in Mixer. If an O

[2018-09-05 19:05] GregHanson commented on #7777
@chanwit has anyone from Istio followed up on your tweet?  Did you have something WIP for a Docker Swarm adapter?  I contributed to most of the platform adapters in pilot so I would be willing to help or pick up where you left off

[2018-09-05 19:16] jaredeis opened #8501 "Helm Install Options"
**Describe the bug**
Trying to use the --set flag for helm install/template to add an annotation with the gateways.istio-ingressgateway.serviceAnnotations key and there doesn't seem to be a way to format the key value pair for the annotation to add the annotation for an aws internal ELB such as:

[code]

**Expected behavior**
We would expect that some format of this command:
`helm template install

[2018-09-05 19:31] sporokh commented on #8501
Based on official golang and helm documentation, when using `--set` and passing map you need to specify this in this way:

[code]

That's probably a documentation issue.

[2018-09-05 19:34] hklai commented on #8225
RC for 1.0.2 is available at
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20180905-18-29/

Please test it and report problem, if any.

[2018-09-05 19:37] tiswanso commented on #7707
This problem seems to also be present for Istio control-plane components' istio-proxy bootstrap static resources.

[2018-09-05 19:37] sporokh commented on #8501
You probably just need to escape the dots:
[code]

This works for me, resulting in:
[code]

[2018-09-05 19:40] ldemailly opened #8502 "remove bad (error) entries in fortio-daily results"
Some fortio-daily json content are not json but contain
"upstream connect error or disconnect/reset before headers" instead inside (because the ingress/envoy in front of fortio wasn't working)

that causes graphing errors for those files, to find them:
print all the url of json with less than 1000 bytes:

[code]
those come from:
https://pantheon.corp.google.com/storage/browser/fortio-data/daily.re

[2018-09-05 19:41] jaredeis commented on #8501
Yep, looks like a documentation issue.

[2018-09-05 19:51] ldemailly commented on #8502
removed using:
[code]
then restarted the pods to force re-download from cloud
`kubectl delete pods -l app=fortio-report`

and now https://fortio-daily.istio.io/?s=master does show a graph (albeit ugly because of disparities/errors in some runs but it doesn't fail like before)

[2018-09-05 19:55] ldemailly commented on #8502
done - fyi @mandarjog / @rkpagadala  for steps taken ^

[2018-09-05 19:55] #8502 closed

[2018-09-05 20:04] rshriram commented on #6574
This should be there in 1.0..

[2018-09-05 20:06] rshriram commented on #8135
this seems transient? can it be closed?

[2018-09-05 20:33] BenTheElder commented on #8497
yes, this is WAI for now, see also this discussion: https://github.com/kubernetes/test-infra/issues/3827 and this KEP: https://github.com/kubernetes/community/pull/2310 currently under review

[2018-09-05 20:38] mabushey commented on #8441
I wish the docs for Istio on this were correct; I'm also unable to figure out how to make a gateway/Virtual Service work. Congrats on getting Grafana up! I'm still trying to figure that one out. Prometheus comes up, but no Grafana with Istio 1.0.

[2018-09-05 20:57] SiriusRed commented on #6523
It also does not work in cluster w/ disabled mTLS.

[2018-09-05 20:57] mabushey commented on #8441
Apparently you have to use helm template and `--set grafana.enabled=true`. Not sure what good Prometheus is w/o Grafana.

[2018-09-05 21:28] PiotrSikora commented on #8225
@hklai I verified that RC works fine (i.e. no more proxy segfaults), thanks!

[2018-09-05 21:32] alastairs commented on #5037
I'm seeing this issue in Istio 1.1.0, deployed to Kubernetes 1.11.2 with the Helm chart (default settings, etc.). RBAC is enabled on this cluster.

[2018-09-05 22:00] ozevren commented on #8487
I think we should categorize things we can do here a bit and compare alternatives.

Local Name resolution:
As a low hanging fruit, the local => qualified name resolution within a namespace should be pretty mechanical and uncontroversial.

Reference resolution:
If we keep the current object model, then there is not much change we can do.  Inter-type references (i.e. instance/rule/handler) are still

[2018-09-05 22:12] mandarjog commented on #8363
This is a dup of https://github.com/istio/istio/issues/7645

It is fixed in master. Do you need the fix on 1.0.x stream? Otherwise it will be in 1.1.

[2018-09-05 22:12] wattli commented on #5037
@alastairs , do you have mTLS enabled or not? To clarify: are you saying using absolute URL with command line (instead of httpGet) does not work?

@incfly FYI

[2018-09-05 22:14] mandarjog commented on #7645
@edodekel can you pass along the labels that you want on the other side?
Our approach generally is that operator should be explicit in mapping. source.label / request.headers may contain information that you may not want to disclose without explicit intent.

[2018-09-05 22:46] mabushey opened #8503 "Unable to recreate Istio - unable to create new content in namespace istio-system because it is being terminated"
**Describe the bug**
Unable to reinstall istio

**Expected behavior**
No errors

**Steps to reproduce the bug**
[code]

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}
[code]

**Is Istio Auth enabled or not?**
No idea what Istio Auth is. I used `helm template ../istio/install/kubernetes/helm/istio --name istio --namespace istio-sys

[2018-09-05 22:54] eyeofthefrog commented on #7645
@mandarjog What about logging adapters where we would like to capture all the request and response headers for analysis later?

[2018-09-05 23:01] anilkun opened #8504 "istio-egressgateway cannot open envoy-rev0.json permission denied"
**Trying to install Istio using istio-demo.yaml and the istio-egressgateway pod is crashing because of the following error "Failed to generate bootstrap configopen /etc/istio/proxy/envoy-rev0.json: permission denied". Since there are several permission levels, it would be good to provide more info**

**istio-egressgateway should be running**

**Download the version istio-1.0.0 and apply the istio-

[2018-09-05 23:08] #7601 closed

[2018-09-05 23:18] venilnoronha commented on #8363
Yes, that'd be great. I'm relying on 1.0.x for developing an out-of-process adapter which I want to release shortly.

[2018-09-06 00:21] animo3 opened #8505 "Docker cluster support"
Hi Team,
I followed the examples on how to get started with Istio and K8s cluster and wanted to check if you have a similar detailed guide for a Docker cluster. The documentation states that it has not been tested  on Nomad for Docker. Is there any beta documentation/guide available to try out for Istio-Nomad-Docker setup? Also are there any plans of adding support to work with AWS ECS?

[2018-09-06 00:32] kyessenov commented on #8487
I don't a good design in mind. It all sounds reasonable. Ideally, Mixer only sees referentially consistent snapshots. That may be hard to achieve in xDS per-resource-type model (see all the 503s issue in envoy caused by this). There is a third requirement that I missed:

3. It would be great if MCP can specialize config for the MCP client. For example, a mixer serving a particular namespace should

[2018-09-06 01:11] jon-whit opened #8506 "HTTP to gRPC Transcoding with a Protobuf Field Containing Slashes"
I have a field in a protobuf message called "parent". It looks like this:

[code]
And a gRPC method that looks like this:
[code]
The parent can take the form `organizations/<org_id>` or `tenants/<tenant_id>` or it can be empty. I'd like gRPC-JSON transcoding to work for all three paths. For example:

GET /auth/iam/roles
GET /auth/iam/organizations/<org_id>/roles
GET /auth/iam/tenants/<tenant_id>/r

[2018-09-06 01:11] islinwb commented on #8497
Thanks @sebastienvas @BenTheElder for clarifying!
/close

[2018-09-06 01:11] istio-testing commented on #8497
@islinwb: Closing this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/8497#issuecomment-418930914):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](https

[2018-09-06 01:11] #8497 closed

[2018-09-06 01:26] m1093782566 commented on #8349
Awesome! I am looking at #8465 and will send a PR in recent days...

[2018-09-06 01:53] stewart-yu opened #8508 "add spelling check script"
**Describe the feature request**
Recently, saw many  PR about `fix typo`, we should better add spelling check script in `/bin` directory.
So CI can check typo. I'll have a try
/assign

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2018-09-06 01:54] stewart-yu commented on #8508
/assign

[2018-09-06 01:59] elvizlai opened #8509 "err:rpc error: code = Unavailable desc = upstream connect error or disconnect/reset before headers"
**Describe the bug**

gRPC server and client uisng WithInsecure. (no tls)

rpc client has resp err:
[code]

[code]

istio-proxy log:
[code]

**Expected behavior**
RPC works.

**Steps to reproduce the bug**
gen isito.yaml
[code]

then
[code]

demo.yaml:
[code]

**Version**
[code]

**Is Istio Auth enabled or not?**
[code]

**Environment**
{{ Which environment, cloud vendor, OS, etc are you using? }}

[2018-09-06 04:06] xiaoqge opened #8513 "helm install istio cannot create validation webhook service: could not watch /etc/istio/certs/cert-chain.pem: no space left on device"
**Describe the bug**
Some services are not working correctly with Helm installing istio

**Expected behavior**
Can be successfully installed

**Steps to reproduce the bug**
Execute the following command, 3 of which do not start properly
1.  kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml
2. kubectl apply -f install/kubernetes/helm/istio/charts/certmanager/templates/crds.yaml
3.

[2018-09-06 06:04] elvizlai commented on #8509
this maybe the
[code]

by the way, is there any to use gRPC with tls? should enable mtls?

[2018-09-06 06:28] edodekel commented on #7645
@mandarjog My use-case is exactly what @eyeofthefrog mentioned. Moreover I do not know the source.labels beforehand and need to analyze them at run time. My point is that we should support all of the attributes that istio allows (https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/)

[2018-09-06 06:43] kuramal opened #8515 "virtualservice and a destinationrule not pushed to envoy"
**Describe the bug**
{{ Succinctly describe the bug }}
I create a  virtualservice and a destinationrule for a svc, but the rule not pushed to envoy
[code]
[code]

**pilot log**
[code]
**my svc**

[code]

**proxy status**
[code]

**proxy config route of dc-1-69bf8c75db-hcjvc.default, I can't find the rule of svc abcd**

[code]

**Expected behavior**
{{ What did you expect to happen? }}
pilot push r

[2018-09-06 07:39] lichuqiang opened #8520 "shellcheck is failing"
**Describe the bug**
shellcheck is failing since #6802 in

I've seen the task failing multi times.
Maybe we should make shellcheck as required in CI?

[2018-09-06 07:41] lichuqiang commented on #8520
/cc @hklai @morvencao

[2018-09-06 08:04] lxkaka commented on #8441
@mabushey Acutally my problem is that I created two gateway. When I use just one gateway, it works. [#6046](https://github.com/istio/istio/issues/6046) has the same problem.

[2018-09-06 08:04] #8441 closed

[2018-09-06 08:22] islinwb opened #8522 "Apply for Istio membership"
Hello Istio Team,
I want to an istio member.
I think met the requirements: https://github.com/istio/community/blob/master/ROLES.md#member
My focus is on code quality, catching bugs.

Some of my contributions (Pull Requests):
https://github.com/istio/istio/pull/7921
https://github.com/istio/istio/pull/8025
https://github.com/istio/istio/pull/8257
https://github.com/istio/istio/pull/8262
https://git

[2018-09-06 08:26] islinwb commented on #8522
/assign @hzxuzhonghu @sdake @linsun

[2018-09-06 08:55] hzxuzhonghu commented on #8522
+1, thanks @islinwb for contibution to ut and some cleanup work.

[2018-09-06 09:44] dunjut commented on #8513
`no space left on device` indicates a disk pressure on your node. I suggest you check the disk usage on node where istio-galley runs on.

[2018-09-06 09:46] dunjut commented on #8428
cc @rshriram

[2018-09-06 11:02] lichuqiang commented on #6169
@ozevren I'd like to give it a shot, is this up for grabs?

[2018-09-06 11:50] david-maumenee commented on #8096
kube-apiserver process must have the admission-control flag set with the MutatingAdmissionWebhook and ValidatingAdmissionWebhook admission controllers added and listed in the correct order.

With K8s cluster build with Rancher (RKE) this is not by default

To check your apiserver config in a K8s cluster control by Rancher 2, connect to the controle plane node and run
[code]

To customize K8s confi

[2018-09-06 12:51] Arttii commented on #6574
@rshriram Then it might be I am doing something wrong. I am trying to have TCP ingress for two PODs(Services) on the same ports via two gateways and two Virtualservices, but all ingress-gateway requests seem to go to just one of the Pods(Services)

[code]

[2018-09-06 12:52] #8408 closed

[2018-09-06 13:02] ymesika commented on #8429
@mabushey There should be a resource of `kind: Secret` within the YAML and you'll notice that unlike the ConfigMap and Deployment you mentioned it doesn't have the `namespace: istio-system`.

[2018-09-06 13:15] rshriram commented on #8428
Just like ingress you can run your own gateways. Simply launch additional gateway workloads with different labels. Then you can pin the gateway resources to different gateway workloads.

[2018-09-06 13:26] rshriram commented on #8081
fine. But switch the default setting to gateway errors only. 5XX can be something people explicitly configure.

[2018-09-06 14:13] DaspawnW opened #8526 "Quota Template with dimensions from request header"
**Describe the bug**
I tried to deploy a redis request quota based on your example https://preliminary.istio.io/docs/tasks/policy-enforcement/rate-limiting.html.
The idea is here to use an authorization header to define as dimension for redisquota.

This doesn't seem to work. It seems that the authorization header is ignored.

**Expected behavior**
If I access the URL in two different requests wit

[2018-09-06 14:32] mandarjog commented on #8526
The rule in your configuration is applying quota unconditionally.
So all requests are going to be subject to the same quota `requestcount.quota.istio-system`, with source and destination dimensions.

If you wish you use the authorization header, you should
1. dimension quota by `request.headers["authorization"]` and you can also reinstate `match` condition in the rule which is commented out in the

[2018-09-06 14:51] jsw opened #8527 "Add PodDisruptionBudgets"
**Describe the feature request**
The helm installation should include defaults and options for configuring PodDisruptionBudgets on istio components.

**Describe alternatives you've considered**
I could probably manually add PodDisruptionBudgets.

**Additional context**
We depend on PDB for safe kubernetes upgrades.
This feature request is also related to #3716

[2018-09-06 14:51] DaspawnW commented on #8526
Hi @mandarjog,

sorry I'm a bit confused.

How do I specify this, does I have to change this
[code]
to
[code]
?

Why do I need the match condition in the quota, I thought the match in it is only if you will bypass the quota for special users?

[2018-09-06 15:01] #8309 closed

[2018-09-06 15:02] gyliu513 commented on #8522
+1 and welcome!

[2018-09-06 15:03] xiaoqge commented on #8513
I confirmed the node disk, the remaining 4T。
There are currently 2 istio services that have this problem.
`kubectl logs istio-sidecar-injector-7b6589c9-866px  -n istio-system
Error: failed to create injection webhook could not watch /etc/istio/inject/config: no space left on device
`

`kubectl logs istio-galley-556f5558f5-kwmqq      -n istio-system
cannot create validation webhook service: could n

[2018-09-06 15:10] chanwit commented on #7777
@GregHanson Thank you for pining me.
What I have done so far has been based on Consul with Swarm service instances. Ideally, this feature should be using Swarm as the Service Registry. Pilot would be scanning the list of services from a Swarm manager, obtain a list of service instances and convert them to the Istio model.

I've been studying your Pilot codes mainly trying to fit the Swarm Service

[2018-09-06 16:46] ozevren commented on #6169
This is still open. But bear in mind that with switch to MCP, some of this will be handled via Galley/MCP protocol. So it is preferrable to do something tactical here to ensure we have reliability in the test-framework until things land.

[2018-09-06 16:50] wattli commented on #5037
@alastairs , thanks for your info.

@mandarjog has is currently working on it and it should be out by 1.1 release.

[2018-09-06 16:53] ozevren commented on #8487
Re #3: I think that is quite achievable, but it needs to be designed.. and staffed. :)
The tricky part there is sharded Mixer deployment (or rather, overall sharding, canarying model for Istio that is future-compatible).

Galley can then easily create scoped config for different Mixer instances.

[2018-09-06 17:39] incfly commented on #5037
@alastairs The failure in mTLS enabled is kinda expected, but it's unclear to me why after turning off the mTLS http probing still failing...

[2018-09-06 17:53] ldemailly commented on #7820
bt the way the issue isn't exactly new, and this was supposed to be a temporary thing:

https://github.com/istio/istio/pull/1861#pullrequestreview-79358216

[2018-09-06 17:54] vinayvenkat commented on #7952
Hi @douglas-reid @mandarjog:
Question about the running the mixer server.

I run it with:
/home/ec2-user/go/out/linux_amd64/release/mixs server --configStoreURL=fs://$(pwd)/mixer/adapter/mysampleadapter/testdata

When it runs it outputs the default config:

MaxConcurrentStreams: 1024
APIWorkerPoolSize: 1024
AdapterWorkerPoolSize: 1024
APIPort: 9091
APIAddress:
MonitoringPort: 9093
EnableProfiling:

[2018-09-06 17:59] alastairs commented on #5037
Thanks @incfly. I'm in the process of redeploying the k8s cluster now, I want to try again with a clean cluster with Istio 1.0.1 this time.

I tried uninstalling and reinstalling on the existing cluster, but there's all sorts of weirdness happening: telemetry and policy pods not starting properly, again apparently due to liveness issues.

Honestly, the documentation on getting started could use so

[2018-09-06 17:59] kyessenov commented on #7952
Hi there,

Which version of istio are you using?
We have mostly deprecated the use of `destination.service` attribute. From
version 1.0, the configuration resolution is scoped to a namespace of the
source or destination, depending on the direction of the call.

Best,
--kuat

On Thu, Sep 6, 2018 at 10:55 AM Vinay Venkataraghavan <
notifications@github.com> wrote:

[2018-09-06 18:06] vinayvenkat commented on #7952
Hi!
I am using Version: 0.8.0

: ~ >istioctl version
Version: 0.8.0
GitRevision: 6f9f420f0c7119ff4fa6a1966a6f6d89b1b4db84
User: root@48d5ddfd72da
Hub: docker.io/istio
GolangVersion: go1.10.1
BuildStatus: Clean

I will upgrade. Thanks.

[2018-09-06 18:08] vinayvenkat commented on #7952
I also figured out the problem:

The command needs to be invoked as:

/home/ec2-user/go/out/linux_amd64/release/mixc report -s destination.service="svc.cluster.local" --stringmap_attributes source.labels=app:vv_app -t request.time="2017-02-01T10:12:14Z"

I'll also close this ticket. I think all the issues have been addressed. Thank you for all the help.

[2018-09-06 18:08] #7952 closed

[2018-09-06 18:33] jaredeis commented on #8413
This would make testing of new istio components in a single namespace easier as you can point the Service selector to the new version of the component (pilot, telemetry, policy, citadel, etc) to the new version and fail back more quickly if there's a breaking change.

[2018-09-06 18:36] ldemailly commented on #7820
example of a script that downloads the latest release marked as not a pre release
https://github.com/istio/istio/blob/master/release/downloadIstioCandidate.sh

[2018-09-06 18:55] jmazzitelli commented on #8413
@ymesika since you implemented PR #7685 perhaps you would be the best to look at this issue?

[2018-09-06 19:45] mabushey commented on #8503
This is the next day:

[code]

[2018-09-06 19:56] hklai commented on #8225
The RC had been verified by @costinm, @myidpt, @mandarjog and @PiotrSikora.

We will proceed to cut the release today.

[2018-09-06 19:56] cmluciano commented on #7777
@chanwit We can address the IPVS VIP by adding some logic to the init script to create the IPVS rule instead of an iptables entry.

Once the one rule forwards into the sidecar, Envoy takes care of directing it to the desired endpoints. Beyond this entry, we do not need to continue programming iptables/IPVS like kube-proxy.

That said, we would need to test to ensure that all features are properly

[2018-09-06 19:59] yangminzhu opened #8535 "Support Istio Audit Policy"
This is a tracking issue for supporting Audit policy in Istio.

The initial step will focus on metadata level audit policy, the work generally includes:
- [ ] Mixer support returning audit decision from a Check call
- [ ] Mixer stack driver adapter support audit Check and Report call
- [ ] Proxy mixerclient support audit decision from a Check call
- [ ] Add new sample configs, tutorials and docume

[2018-09-06 20:44] #8181 closed

[2018-09-06 21:16] kyessenov opened #8537 "[exploratory] Provide LSP server in Galley"
It would be interesting to implement language server protocol in galley, to assist IDEs in editing galley configs. The protocol is already adopted by many IDEs as a universal compiler-IDE exchange language:
https://microsoft.github.io/language-server-protocol/specification#textDocument_typeDefinition

[2018-09-06 21:58] hklai commented on #8225
https://github.com/istio/istio/releases/tag/1.0.2 is published.

[2018-09-06 21:58] #8225 closed

[2018-09-06 22:00] hklai opened #8539 "Istio 1.0.3 Tracker"
1.0.2 patch has been released based on the release-1.0 branch. See https://github.com/istio/istio/releases/tag/1.0.2

We may create another patch release 1.0.3 if there are critical issues* in 1.0.2.

If you have any PRs that should be considered for 1.0.3, please add them to this issue.

(*) Critical Issues Definition
Regression of a feature that is used by customers in prior releases.
Runtime cr

[2018-09-06 22:04] incfly opened #8540 "authn policy PERMISSIVE mode support for TCP service"
When implementing TLS multiplexing, it's my misunderstanding that authn policy only works for http service.

For mTLS peer authentication we still can use authn policy to configure a TCP service in `STRICT` `PERMISSIVE` different modes.

We should support that as well.

[2018-09-06 22:05] sprutner commented on #6566
I would love to see this, +1

[2018-09-06 22:05] incfly commented on #8540
FYI @PiotrSikora @diemtvu

[2018-09-06 22:14] castlemilk opened #8541 "DestionationRule with external mTLS preventing services from reaching running state when certs not present"
**Describe the bug**
## Description
When a `DestinationRule` is created which refers to certs that aren't available on a sidecar but will be available on say an egress gateway, all sidecars will stop taking updates from pilot and cause liveness/readiness probes to fail which then causes the microservice to go down.

We would like/expect the ability to do mTLS with external endpoints with mTLS orig

[2018-09-06 22:28] ozevren commented on #8338
Here is the situation, to the best of my understanding. Please keep me honest.

Taking a 1 Mixer, 1 Pilot, 1 Galley setup as a baseline:
- Galley will end up inheriting the same set of CRDs that Pilot and Mixer is currently listening on. With switch to Galley, there should not be a change in the total number of CRDs being listened on.
- The perf effect of Mixer moving to a smaller set of CRDs is o

[2018-09-06 22:29] ayj commented on #8338
cc @Nino-K who was also looking at scaling MCP client/server for CF use cases.

[2018-09-06 22:49] mabushey opened #8542 "Citadel in CrashLoopBackOff"
**Describe the bug**
Use helm to create a yaml file including grafana

**Expected behavior**
running grafana container

**Steps to reproduce the bug**
helm template ../istio/install/kubernetes/helm/istio --name istio --namespace istio-system  --set grafana.enabled=true  --set grafana.security.enabled=true  --set grafana.security.adminUser=admin --set grafana.security.adminPassword=mypass > istio.y

[2018-09-06 22:53] bianpengyuan opened #8543 "Ship mixer codegen with Istio release"
Mixer adapter needs mixer codegen to generate manifests and golang code based on adapter config proto and template proto. For developers who wants to write adapter outside istio repo, it is inconvenient to use mixer codegen because one needs to git clone istio repo into GOPATH and make sure it could build.

By shipping mixer codegen as a docker image, developer does not need download anything and

[2018-09-06 23:03] mabushey commented on #8542
If I drop off the auth on grafana: `helm template ../istio/install/kubernetes/helm/istio --name istio --namespace istio-system  --set grafana.enabled=true > istio.yaml`

I get a running pod/grafana-7dc59cdfff-4pch7
I think this is the secret created in the wrong namespace bug.

I still have citadel crashing:
`istio-system   pod/istio-citadel-7d9c98786d-bc8pm                                       0

[2018-09-07 00:06] mabushey commented on #8429
@ymesika Thanks for the response. No, There is no `kind: Secret` in istio.yaml created via `helm template ../istio/install/kubernetes/helm/istio --name istio --namespace istio-system  --set grafana.enabled=true  --set grafana.security.enabled=true  --set grafana.security.adminUser=admin --set grafana.security.adminPassword=pass

[2018-09-07 01:23] #8522 closed, assigned to sdake, linsun, hzxuzhonghu

[2018-09-07 01:42] yangminzhu commented on #8539
I will have one PR to update the proxy sha to include istio/proxy#1959. will update the PR once the daily proxy is updated with the fix.

/cc @diemtvu

[2018-09-07 01:57] yangminzhu commented on #7707
/cc @diemtvu

[2018-09-07 02:42] dunjut commented on #8428
@rshriram Thanks!

Can you offer more details on how to launch gateway workloads with labels and how to pin gateway resources to them?

[2018-09-07 03:53] dotw opened #8545 "quota can't be retrieved in 1.0.2"
**Describe the bug**
create quota first using the following yaml
[code]

$ kubectl apply -f quota.yaml
quota "requestcount" configured
$ kubectl get quota --all-namespaces
No resources found.

I'm using minikube version: v0.28.2
[code]

[2018-09-07 04:11] myidpt commented on #8542
Can you run `kubectl logs -l istio=citadel -n istio-system`? Thanks.

[2018-09-07 04:23] blaketastic2 opened #8546 "Helm version for 1.0.2"
**Describe the bug**
Helm chart version wasn't updated with the 1.0.2 release, even though there were changes mentioned in the release notes

[2018-09-07 04:49] ymesika commented on #8429
@mabushey are you doing it with the `1.0.1` release? I just copied and pasted your command into mine and the Secret is there.

[2018-09-07 05:43] tobad357 commented on #8462
To tag onto this discussion.
If as an example I have two external DB instances listening on port 3000 with external IPs
DB1: 10.1.1.101
DB2: 10.1.1.102

How would I setup ServiceEntries for this as in this case I'm using Google Cloud SQL proxy which gets the IP from their API so I can't configure a NAT address I need to have an egress for their actual address. It works fine if I only have one DB i

[2018-09-07 06:04] ymesika commented on #8545
Try with the full CRD name: `kubectl get quotas.config.istio.io --all-namespaces`.

[2018-09-07 06:10] krmayankk commented on #7052
/assign @krmayankk

[2018-09-07 06:10] istio-testing commented on #7052
@krmayankk: GitHub didn't allow me to assign the following users: krmayankk.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/7052#iss

[2018-09-07 06:10] krmayankk commented on #7052
@andraxylia i can work on this if no one is looking at this. Please let me know how to proceed .

[2018-09-07 06:44] #8520 closed

[2018-09-07 07:10] yangyuqian commented on #8378
According to implementation on Pilot,  VirtualService(s) with similar hosts are treated as similar objects, which means only the first one (sorted by creation timestamp on k8s) will be applied to Envoy.

[2018-09-07 07:15] elvizlai opened #8548 "gRPC tls transport: authentication handshake failed: tls: oversized record received with length 20527"
**Describe the bug**
client and server both using self signed tls creds.

**Expected behavior**
conn ok

**Steps to reproduce the bug**

**Version**
1.0.1

**Is Istio Auth enabled or not?**
using default helm without mtls

**Environment**

**Cluster state**

[2018-09-07 07:38] keerthig9 commented on #8369
Any updates? We are waiting to upgrade to istio-1.0 and this is blocking us.

[2018-09-07 08:48] alastairs commented on #5037
I think I've finally managed to get Istio 1.0.1 running on a new AKS cluster. I used the `helm template` approach for installing istio this time, and everything in `istio-system` seems much happier now. I'm going to continue deploying application services to the cluster in spare time over the next few days, and will update this thread with further information.

[2018-09-07 08:57] hzxuzhonghu commented on #8434
/close As #8435 was merged.

[2018-09-07 08:57] #8434 closed

[2018-09-07 09:06] kuramal commented on #8515
I solved this problem，just because I did't Specify the name of my svc, spec-ports-name

[2018-09-07 09:06] #8515 closed

[2018-09-07 09:09] DaspawnW commented on #8526
So to be more general, we are using in istio a JWT-Policy that connects to an keycloak server to validate JWTokens that are send as Authorization header.
Now I would be able to set Quotas per User. First I tried to use the JWToken as unique identifier, I know this was a stupid idea. Now I see that the jwt generates some values like: **request.auth.principal**.
I will do the quota dynamically per p

[2018-09-07 09:36] Rajadeepan commented on #7982
@liamawhite you suggestion worked. thanks

[2018-09-07 09:36] #7982 closed

[2018-09-07 09:45] jotak commented on #7787
Hi,
I posted a topic on istio-users ( https://groups.google.com/forum/#!topic/istio-users/8MEXiwGfhqw ) that seems to me related to this ticket, but I'm not sure... Could you confirm if it's the same problem?
Thanks

[2018-09-07 11:40] dozer47528 opened #8552 "Got `HTTP/1.1 403 Forbidden` from envoy when try to use HTTP/2"
**Describe the bug**

Run curl in another cluster:

`curl --http2 http://my-service:8080`

I got this:

[code]

It works when I remove auto-inject.

**Version**
1.0.1

**Is Istio Auth enabled or not?**
no

[2018-09-07 11:56] wmuizelaar opened #8553 "Add annotations for setting limits on sidecar proxy containers"
**Describe the feature request**
I would like to have annotations for setting sidecar limits, next to requests as can be done by setting `sidecar.istio.io/proxyCPU` and `sidecar.istio.io/proxyMemory` annotations.

**Describe alternatives you've considered**
None.

**Additional context**
Currently, requests and limits of the sidecar proxy can be set generally though the helm-chart by passing option

[2018-09-07 13:28] john-a-joyce opened #8554 "Pilot EDS, ADS, CDS not updated when remote cluster removed"
**Describe the bug**
In a multicluster scenario when a secret is deleted EDS and ADS is not updated properly.
The logs show that the cluster is properly deleted:

2018-09-07T12:41:01.190718Z     info    Deleting cluster member: ds82.conf
2018-09-07T12:41:01.190752Z     info    Registry for the cluster ds82.conf has been deleted.
2018-09-07T12:41:01.190797Z     info    Number of clusters in the clu

[2018-09-07 13:42] killcity commented on #6314
+1

[2018-09-07 14:42] leeadh commented on #6583
hi was there a resolution to this. I got tjis error too

[2018-09-07 15:01] obeyler commented on #8546
[code]

[2018-09-07 16:11] JCzz commented on #6769
Did you get this to work?

I have have many problems getting istio to work with gRPC: https://github.com/istio/istio/issues/7909

[2018-09-07 16:16] #6173 closed

[2018-09-07 16:19] leeadh opened #8556 "Istio Grafa not able to access"
So i am running istio on aws ec2.

I am trying to depoy the grafana dashboard via this

kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=grafana -o jsonpath='{.items[0].metadata.name}') 3000:3000

However, when i try to access masterip:3000, nothing happens.

it slistening on port 3000 when i did a lsof

 lsof -i:3000
COMMAND   PID USER   FD   TYPE DEVICE SIZE/OFF NODE

[2018-09-07 17:21] delubi opened #8557 "Error creating bookinfo-gateway"
I'm new to istio. Set up istio 1.0.1 with Kubernetes 1.10.4. Below are the steps performed.

[code]

Then I tried following the steps in https://istio.io/docs/examples/bookinfo/

[code]

Getting error as below

[root@k8smaster istio-1.0.1]# kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml
Error from server (InternalError): error when creating "samples/bookinfo/networking/bookinfo

[2018-09-07 17:34] mandarjog commented on #8526
Is no quota being applied at all ? Or are all requests being rejected ?
https://github.com/istio/istio/wiki/Collecting-Logs-and-Debug-information#turn-on-debug-on-mixer
Turn on debug for API on mixer and send us logs from istio-policy.

[2018-09-07 17:51] #8508 closed

[2018-09-07 18:16] mabushey commented on #8429
@ymesika Bingo. I was using the latest git repo master. I downloaded the 1.0.1 version and now the secret is there, after adding the namespace and applying I was able to log in with the creds from the helm command. Thank you! :)

[2018-09-07 18:45] ayj opened #8558 "Deprecate istioctl CRUD operations and introduce new validate subcommand"
The useful part of istioctl is the validation of Istio schemas. We don't need the deployment part which duplicates kubectl functionality. This issues tracks two changes:

- [x] deprecation of the existing istioctl CRUD operations
- [x] introduction of a new `istioctl validate` subcommand

`istioctl {create,get,replace,delete}` commands will be marked as deprecated immediately and removed at TBD da

[2018-09-07 19:00] #8239 closed

[2018-09-07 19:32] kdillane commented on #6977
Any update on triaging this issue?

[2018-09-07 19:37] rshriram commented on #8428
[code]

And to launch your own gateway, checkout the values-istio-gateways.yaml helm chart.

[2018-09-07 21:13] DaspawnW commented on #8526
It seems that the requests are all in one quota and not in seperate per principal.

Attached you can find two requests with two different users. The first user has access and the second not because he is in the same quota cache.

First User principal: https://<removed for security reasons>/auth/realms/default/e8f6311e-57b0-49f2-bd84-b4e056ffd2f4
Second User principal: https://<removed for security

[2018-09-07 21:41] incfly opened #8560 "Improve efficiency of service account lookup in Pilot"
Imagine a mesh has N services, each uses different service account, and each pair of service(s1,s2) needs to talk to each other. Pilot needs to generate N Clusters for all N services.

When mTLS is turned on, we need to lookup a service account a service is running as for secure naming, which is used to set `Cluster.TLSContext.VerifySubjects`.  This is implemented as a O(N) [complexity iteration](

[2018-09-07 21:43] incfly commented on #8560
/cc @costinm @diemtvu

It's important to have some load testing framework to actual measure before and after. @hklai,  @mandarjog  do you know if there's any off-shelf framework for this purpose? I'd like to have some consistent framework instead one-off manual measurement.

[2018-09-07 21:49] wattli commented on #8560
+1, looking forward to a design

[2018-09-07 21:52] sdake commented on #8556
port-forward only binds to `127.0.0.1` IOW, it will not bind to your master IP.  port-forward will not do what you want. In 1.0.0, there are config options called `telemetry-ingress` however that feature was DOA in 1.0.0 sadly.  1.0.2 has resolved this problem with commit: https://github.com/istio/istio/commit/40143b05d92e5192df5a4629da7ece36111aed17.  I'd encourage you to try 1.0.2

Use the helm

[2018-09-07 21:53] douglas-reid commented on #8556
@leeadh and @sdake this is probably better discussed on a mailing-list.

Can we please move this to: istio-users@ googlegroups.com ?

[2018-09-07 21:55] sdake commented on #8556
@leeadh can you report this question on the mailing list please.

Thanks!
-steve

[2018-09-07 23:50] sdake opened #8563 "Reduce footprint of docker images"
**Describe the bug**
The footprint of pilot, proxyv2, and proxy_init containers is too large and includes many unnecessary components from a license, CVE, and size perspective.

**Expected behavior**
The distro-based containers only contain mandatory components.

**Steps to reproduce the bug**
use `docker save` to save the container and run through Protecode package scanner.

**Version**
`1.0.0` -

[2018-09-08 00:01] sdake commented on #8075
Third party grafana is usable as a result of PR: https://github.com/istio/istio/pull/8189.

[2018-09-08 00:01] #8075 closed

[2018-09-08 03:00] leeadh commented on #8556
https://istio.io/docs/tasks/telemetry/using-istio-dashboard/

@sdake.  An using istio 1.1.0

[2018-09-08 04:36] #8429 closed

[2018-09-08 05:41] hyder commented on #8429
Hi,

The secret is there. But the namespace of the secret was not there in the 1.0.1 release.

[2018-09-08 06:17] hzxuzhonghu commented on #8554
That's really not acceptable. Let me have a look.

[2018-09-08 06:27] ymesika commented on #8429
@hyder Right. It got fixed in #8430. Thanks for reporting.

[2018-09-08 06:37] hyder commented on #8429
Ah thanks

[2018-09-08 06:57] ymesika commented on #8369
This is a problem on your environment.
Your piece of code works correctly on my environment as it is. My only change to your code was to replace "minikube" with the kubeconfig context I have. Are you sure you have the kubeconfig context "minikube" defined in your kubeconfig?

[2018-09-08 07:50] stewart-yu opened #8568 "The project of coverage improvement for some packages"
**Describe the feature request**
From the CI, we can see that the `coverage` of some packages do not meet requirements defined in [https://github.com/istio/istio/blob/master/codecov.requirement](https://github.com/istio/istio/blob/master/codecov.requirement)
[code]
such as in report [https://circleci.com/gh/istio/istio/178650?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-

[2018-09-08 07:50] stewart-yu commented on #8568
/assign

[2018-09-08 09:15] x15zhang opened #8572 "More usable way for control egress traffice"
**Describe the feature request**
For control egress traffice,by default, Istio-enabled services are unable to access URLs outside of the cluster, we can enable access to external services by defining ServiceEntry configurations, or alternatively, to bypass the Istio proxy for a specific range of IPs.

But both of the two solution is not good.
1.Defining ServiceEntry is not convienent if there are

[2018-09-08 09:17] x15zhang commented on #8572
@rshriram @Kenny Bambridge

[2018-09-08 11:16] hzxuzhonghu opened #8573 "`grpc.EnableTracing` data race in pilot"
**Describe the bug**
There is a risk ``grpc.EnableTracing`` set again after RPCs are sent or received in pilot.

It is set here https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/server.go#L975

called from grpcServer and secureGrpcServer.

[2018-09-08 12:18] sdake commented on #8557
@delubi welcome to Istio!  Which cloud platorm are you using?

[2018-09-08 13:52] supereagle commented on #7640
@shavo007  Meet the same problem. Have you test this on your Mac again?

[2018-09-08 13:55] supereagle commented on #7640
Have you found the reason?

[2018-09-08 16:31] hklai commented on #8546
@sdake I suppose we need to automate something like https://github.com/istio/istio/pull/8091?

[2018-09-08 18:07] sdake commented on #8546
@hklai its a 1 liner shell operation - just not sure how to get the operation into the release workflow.

Cheers
-steve

[2018-09-08 18:55] hklai commented on #8546
@sdake could you elaborate? What is that shell operation?

[2018-09-08 20:15] delubi commented on #8557
@sdake My k8s runs in a CentOS7 VM in VMware vCenter. I deployed istio in the k8s.

[2018-09-08 21:40] sneko commented on #6486
@ldemailly I had followed steps in the article since I'm still running Istio 0.7 with Ingresses. The major problem is that I was starting from files I made a few months ago when Cert-manager was not generating by itself Kubernetes entities compatible with Istio...

After upgrading the Cert-manager I forgot to move my certificate from the "istio-system" to another one where "acme solver" pods could

[2018-09-09 01:09] castlemilk commented on #8541
@rshriram do you have any suggestions on a solution for this? Is it correct to expect a `DestinationRule` defined in one namespace should effect sidecars in a different namespace? Would it be possible to add a gateway selector on the `DestinationRule`, and have filtering on pilot to NOT configure `DestinationRule` in a cluster scope and instead per-namespace?

[2018-09-09 09:49] jabdoa2 commented on #8443
This seems to be related to the security context in the chart which changes the user id. The real question here seems to be: Are security contexts supposed to work with istio or not?

[2018-09-09 10:33] prabhatpankaj commented on #7585
yaa .. please close it ....

[2018-09-09 10:36] sdake commented on #8034
A workaround is proposed here: https://github.com/helm/helm/issues/1193#issuecomment-419555433

Although I have not tested that approach, nor its impact for Istio's upgrade.

Cheers
-steve

[2018-09-09 10:43] sdake commented on #8546
@hklai I left  a comment in the commit log:

[code]

That sed command should probably be enhanced to search for Version: and appVersion: and find should operate on install/kubernetes/helm directory children.

[2018-09-09 10:46] sdake commented on #8546
@hklai my recommendation would be to execute that find operation right after a tag is created - then commit the change for the first commit of every new z-stream.on the release-1.0 branch.

I just don't know where to automate this process.

Cheers
-steve

[2018-09-09 15:20] gtseres opened #8579 "ServiceEntry should support port ranges"
**Describe the feature request**
When deploying a microservice, there are cases where you want to talk with some external service, e.g. a DB, which resides in another provider (externally to the cluster). Some of those providers assign random ports to the services that your provision (e.g. MongoLab). In order to create generic rules that allow traffic to that domain and subdomains, one has to defi

[2018-09-09 19:41] maximbaz commented on #7352
On the risk of being annoying (sorry!), I'd like to ask if you have at least approximate timeline for this feature? We have to request a temporary security exception for us to start using Istio in production, and it would really really help if we knew at least some dates. I can see this issue is part of `1.1` milestone, any early plans for when `1.1` is planned for the release? Thanks!

[2018-09-10 00:46] jungsh83 commented on #8557
@sdake I have same problem in my k8s cluster, too. My k8s cluster has been installed on CentOS7 & physical machine (HP DL360e Gen8).

$ kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-08T16:31:10Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"darwin/amd64"}
Se

[2018-09-10 02:11] #8397 closed

[2018-09-10 03:18] castlemilk opened #8583 "istioctl authn tls-check broken"
**Describe the bug**
`istioctl authn tls-check` works on v1.0.0, but will fail on v1.0.1 and v1.0.2 with the following message:

[code]

no relevant logs appear in the pilot discovery container either.
**Expected behavior**
`istioctl authn tls-check` should return the status of mTLS services across the mesh

**Steps to reproduce the bug**
1. run `istioctl authn tls-check` on a mTLS enabled istio d

[2018-09-10 03:27] castlemilk commented on #8583
Note: istionightly-1.0 seems to be working correctly.

[2018-09-10 04:40] Gottox commented on #8443
I guess that causes the issue. Unfortunatelly, mongodb with security context disabled may allow the istio-init container to finish successfully, but fails to spin up mongodb afterwards.

[2018-09-10 05:30] sdake commented on #8513
@dunjut thanks for the report.

May be a centos specific problem related to webhooks.

How did you deploy Kubernetes?  1.9.2 is fairly old (but should work).

Did you follow the instructions related to helm installation here: https://istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install

[code]

If not, what web page instructions were you using?

what

[2018-09-10 05:37] sdake commented on #8501
@jaredeis thanks for the report.  I've created a new issue in the docs repo here: https://github.com/istio/istio.github.io/issues/2567.  Closing this issue.

Cheers and thanks again for the resolution
-steve

[2018-09-10 05:37] #8501 closed

[2018-09-10 05:46] sdake commented on #8312
@geeknoid can you move this to the istio.io repo or @EddiG would you mind filing this issue here: https://github.com/istio/istio.github.io/issues/new

Cheers
-steve

[2018-09-10 05:48] sdake commented on #8539
PR: https://github.com/istio/istio/pull/7488#pullrequestreview-152625146

[2018-09-10 05:50] dunjut commented on #8513
@sdake The issue reporter is @xiaoqge  :-)

[2018-09-10 05:54] sdake commented on #8513
my apologies @xiaolanz :)

Cheers
-steve

[2018-09-10 05:56] nixgadget opened #8585 "SNI host is not a compatible subset of the virtual service hosts"
**Istio**: 1.0.2

I seem to be running into this issue `Error: release apps failed: admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: SNI host is not a compatible subset of the virtual service hosts: *.sendgrid.com`

My virtual service configuration looks like below,
[code]

Can someone please explain why this is not correct ? This is something that has be

[2018-09-10 07:03] nrshrivatsan commented on #7585
@prabhatpankaj  ops, not a part of maintainers yet. Can't close the issue...

[2018-09-10 07:14] dunjut commented on #8428
@rshriram Thanks, it works!

For those who have the same demand, here is an example.

**gateway pod deployment**

[code]

**create Gateway resource**

[code]

[2018-09-10 08:43] virnet opened #8588 "zipkin service not access, response HTTP 404"
**Describe the bug**
request zipkin service, response HTTP 404
![image](https://user-images.githubusercontent.com/29397860/45286140-9a282e80-b517-11e8-83b0-027dec111563.png)

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
[code]
wait all pod running. and access zipkin service
[code]

**Version**
[code]

**Is Istio Auth enabled or not?**
not enabled

**En

[2018-09-10 08:58] virnet commented on #8588
[code]

[2018-09-10 09:44] nixgadget commented on #8588
@virnet where are you running this ? GKE ? Minikube ?
try accessing it from something like a `busybox`

[2018-09-10 10:06] herzcthu commented on #8583
Where can I download that nightly version?
I've tried to test version from here. https://github.com/istio/istio/releases
v1.0.2
v.1.1.0-snapshot
Both not work.

[2018-09-10 10:44] zxDiscovery opened #8590 "Use Jmeter to test the istio performance: the istio with mixer test result is better than the istio without mixer"
**Describe the bug**
I use the jmeter to test the istio performance, the result of istio with mixer is better than istio without mixer.

**Expected behavior**
Because the mixer needs to deal with data, so the istio without mixer performance test result should be better than the istio with mixer.

**Steps to reproduce the bug**
environment:  ubuntu 16.04,  IBMPrivateCloud, jmeter 4.0, istio-1.0.3 (

[2018-09-10 13:00] awdrius opened #8594 "Grafana fails with persistence enabled"
**Describe the bug**
Using istio 1.0.2 (chart reports 1.0.1) with grafana and grafana persistence enabled results in grafana pod failing with the error:
`GF_PATHS_DATA='/var/lib/grafana' is not writable.`

**Expected behavior**
Grafana to be running

**Steps to reproduce the bug**
Enable grafana and grafana persistence like this:
[code]

**Version**

kubectl version:
[code]

istioctl version:
Not

[2018-09-10 13:57] adamzhoul opened #8595 "buildGatewayListeners: no gateways for router"
**Describe the bug**
    gateway get 0 listeners. which leads to all my traffic goes down. this is awful.

**Expected behavior**
   get 2 listeners.(80 443)

**Steps to reproduce the bug**

   1、  run ingressgateway as daemonSet.
   2、  run other svc as daemonset too.  Make sure they scheduled to the same host.
   3、  create gateway crd.
   4、  check the log of pilot .

        info	ads	LDS: PUSH

[2018-09-10 15:04] vadimeisenbergibm commented on #8541
@castlemilk Good point, thank you for discovering this.

@rshriram It seems there is no other choice but to add specifying the source a `DestinationRule` is applied to. The issue is not related to gateways, the same issue can happen when you want to specify custom mTLS, or `caCertificates` between one service to another service inside the mesh, and when you want the sidecar/gateway to perform (m)T

[2018-09-10 15:13] rcurran1 commented on #4825
Mixer multi-cluster PR - https://github.com/istio/istio/pull/8536

[2018-09-10 15:33] mandarjog commented on #7352
We will have a proposal for this feature out this week, and once the proposal is approved it should be another 2 weeks to implement.

[2018-09-10 16:12] ozzann commented on #5995
Hi there. Still experiencing this issue of getting 404s in response to
`curl --resolve httpbin.example.com:$INGRESS_PORT:$INGRESS_HOST -HHost:httpbin.example.com -I http://$INGRESS_HOST:$INGRESS_PORT/status/200`

Ingressgateway says just:
` "[2018-09-10T16:07:32.879Z] "HEAD /status/200 HTTP/1.1" 404 NR 0 0 0 - "10.240.4.56, 10.20.3.1" "curl/7.59.0" "3b8d461d-086e-96f3-a682-55f556c52a55" "35.233.22

[2018-09-10 16:19] vadimeisenbergibm commented on #5995
@ozzann Which version of Istio are you using? And to be sure, is `httpbin` pod running?

[2018-09-10 17:16] hklai opened #8598 "Implement test cases to make sure local e2e testing scripts are not broken"
The scripts for local e2e testing are getting more complicated now. Without automatic tests, it is very difficult to maintain and ensure it really does what we need.

Therefore, it may be a good idea to implement some automatic tests to run in CI for sanity testing.

For example, we can bring up minikube, exercise the scrips, and run e2e_simple on both mac and linux on circle ci (not sure about ce

[2018-09-10 17:53] #8470 closed

[2018-09-10 20:16] castlemilk commented on #8541
@vadimeisenbergibm @rshriram could the `DestinationRule` also be filtered based off namespace, to prevent superfluous/undesired rules being deployed to all namespaces.

Also were you able to observe the impact to `Pod` deployments? Where they are pevented from reaching a "running" state while the above `DestinationRule` is in place? Really interested to see if this is consistent in other users env

[2018-09-10 20:26] castlemilk commented on #8583
@herzcthu

Nightly build can be deployed as follows:

[code]

the docker repo can be found here:
[https://hub.docker.com/u/istionightly/](https://hub.docker.com/u/istionightly/)

[2018-09-10 20:54] #8299 closed

[2018-09-10 20:56] incfly opened #8601 "Istio mTLS auto pilot: Make Istio client service send mTLS if server side is able to support."
Design doc: https://goo.gl/DP2dxU

Work Needed:

1. `istioctl kube-inject` modification such that adding new labels indicating endpoints is able to accept mTLS.
1. Pilot CDS Change, this needs to be implemented efficiently to avoid O(N^2) complexity for service1-service2 pair.
1. E2E test.

[2018-09-10 21:19] douglas-reid commented on #8415
Proposal doc: https://tinyurl.com/y7tc5ohd.

[2018-09-10 22:11] jon-whit commented on #8506
Bueller...

[2018-09-10 22:35] gdoctor commented on #3361
@chrisohaver I edited the plugin.cfg to add kubernetai, and built my image using the provided coreDNS Dockerfile. However, when I try to run the image inside my cluster (actually locally too), I get a constant stream of 'standard_init_linux.go:190: exec user process caused "exec format error"'. Do you know how to resolve this? It seems that the Dockerfile coreDNS provides us, and the Dockerfile th

[2018-09-10 22:41] kdillane commented on #6977
It looks like Istio 1.0.2 has been released.  Any updates?  I'm going to provide some additional details about what I think can help to reproduce the issue.

[2018-09-10 22:42] kdillane commented on #6977
You can see for Istio Pilot Deployment for a (mostly) stock Istio install, the Istio Pilot has a "Discovery" container from which this is a snippet of the k8s yaml:
            "name": "discovery",
            "image": "docker.io/istio/pilot:0.7.1",
            "args": [
              "discovery",
              "--admission-service",
              "istio-pilot"
            ],

[2018-09-10 22:44] kdillane commented on #6977
When the discovery server is started based on those arguments, the code up through release-1.0 executes the initConfigController method: https://github.com/istio/istio/blob/release-1.0/pilot/pkg/bootstrap/server.go#L205

[2018-09-10 22:45] yantang-msft opened #8603 "Can't create virtual service, 504 Gateway Timeout?"
**Describe the bug**
I successfully followed [Configuring Request Routing](https://istio.io/docs/tasks/traffic-management/request-routing/). When I'm trying to follow [Fault Injection](https://istio.io/docs/tasks/traffic-management/fault-injection/), this command ``` kubectl apply -f samples/bookinfo/networking/virtual-service-ratings-test-delay.yaml``` failed.
Then I removed the virtual services

[2018-09-10 22:47] kdillane commented on #6977
The Kube Config Controller calls out to RegisterResources on the CRD config client: https://github.com/istio/istio/blob/release-1.0/pilot/pkg/bootstrap/server.go#L517.  It is in this method where the bug exists.

[2018-09-10 22:51] #8310 closed

[2018-09-10 22:53] yantang-msft commented on #8603
I promise it kept failing for couple hours, but somehow is working again after I created this issue. And from the command output you can see it's failed partially of my first command.
I'll leave this issue open in case you still want to investigate what happened.
[code]

[2018-09-10 23:02] kdillane commented on #8539
Please triage https://github.com/istio/istio/issues/6977 for 1.0.3.  Anyone using Pilot Discovery service can hit this problem upon server start/restart in Kubernetes.

[2018-09-10 23:07] kdillane commented on #6977
If for any reason, the state of the CRDs in Kubernetes cannot be retrieved, registerResources will avoid skipping the creation of CRDs:  https://github.com/istio/istio/blob/release-1.0/pilot/pkg/config/kube/crd/client.go#L209.    While there is an error case during CRD registration which will cause the method to return, it is only in the case where the CRDs are detected as existing:  https://githu

[2018-09-10 23:09] kdillane commented on #6977
In the case where Istio attempts to create CRDs, but does not detect an "Exists" error, during the polling of CRDs, it is likely for Istio to begin polling for CRDs and fail while reading:  https://github.com/istio/istio/blob/release-1.0/pilot/pkg/config/kube/crd/client.go#L265.

[2018-09-10 23:10] kdillane commented on #6977
In the case that polling for resources fails, Istio  will attempt to deregister all the CRDs:  https://github.com/istio/istio/blob/release-1.0/pilot/pkg/config/kube/crd/client.go#L289

[2018-09-10 23:12] kdillane commented on #6977
However, unlikely these sequence of events might be, we've observed this failure mode multiple times.

[2018-09-11 00:05] kidiyoor opened #8605 "proxy running in VM not able to receive cluster information"
**Describe the bug**
```curl 0:15000/clusters```  show only static clusters
However ```curl 0:15000/listeners``` shows all available listeners

[code]
Cluster information about services running in k8s is not seen.

no errors seen in envoy logs

[envoy-rev0.json](https://gist.github.com/kidiyoor/fb1e6ffae28e9849d6801d7deffa0995)
[istio-dump.tar.gz](https://github.com/istio/istio/files/2368856/istio

[2018-09-11 01:52] xiaoqge commented on #8513
I followed the steps in the documentation to install the error that occurred.  @sdake
https://istio.io/docs/setup/kubernetes/helm-install/

[2018-09-11 03:49] zhaogaolong opened #8609 "Overlapping meaning from card client.Get"
code in https://github.com/istio/istio/blob/master/pilot/pkg/config/kube/crd/client.go#L333

why return Pointer type and bool type，this return two value have overlapping meaning .

Pointer type can completely replace boolean type. don't need return bool, this is bed code.

[2018-09-11 03:59] hzxuzhonghu commented on #8609
Indeed.

/assign

[2018-09-11 04:48] herzcthu commented on #8583
I've tried to deploy istion nightly.
Pods are not injected with sidecar.

[2018-09-11 05:36] salrashid123 opened #8611 "GKE Deployment Manager template using outdated GKE verision"
DM GKE template for both `master` and `release-1.0` specifies an outdated GKE master version:

- https://github.com/istio/istio/blob/master/install/gcp/deployment_manager/istio-cluster.jinja#L11
- https://github.com/istio/istio/blob/release-1.0/install/gcp/deployment_manager/istio-cluster.jinja#L11

This causes the DM installer to fail.  We've got a couple of options:

Specify
- `1.10.6`
- `1.10.7

[2018-09-11 05:58] salrashid123 commented on #8611
[code]

[2018-09-11 06:15] ZhangLv1979 commented on #8387
![image](https://user-images.githubusercontent.com/18044598/45341312-c5b92080-b5cc-11e8-945a-c920109702e6.png)

after i manually add privileged to proxy-init, it works. because selinux is enforcing......

this option is needed when inject.

[2018-09-11 06:15] #8387 closed

[2018-09-11 06:17] m1093782566 commented on #8598
I am interested in joining this effort!

Self assigning...

[2018-09-11 06:30] castlemilk commented on #8583
The above helm deployment disables autoInjection via:

[code]

You can change this deployment method by changing it to:

[code]

Alternatively, if you want to go with the first deployment method, then you label your namespace as follows:

[code]
and then you can use the injection annotations to enable sidecars for specific deployments with these annotations:

[code]
then you'll see sidecars inject

[2018-09-11 06:40] yskopets commented on #8319
`request.auth.claims[groups]` is another example where support for arrays of strings is necessary

[2018-09-11 06:53] gyliu513 commented on #8590
@linsun @costinm @sdake comments for this? Does setting following parameter to disable mixer is good enough in a performance test environment?

[code]

Regarding to the test https://ibmcloud-perf.istio.io/regpatrol/release-1.0-20180907-09-15/ , any detailed steps for how to disable mixer for such case?

![image](https://user-images.githubusercontent.com/4461983/45343062-61995b00-b5d2-11e8-8983-3c4

[2018-09-11 08:10] hzxuzhonghu opened #8613 "Propose remove ingress"
It is time for us to remove ingress totally.  It does not take effect now.

In 0.8:  https://istio.io/about/notes/0.8/#networking
[code]

In 1.1:  https://istio.io/about/notes/1.0/#networking

[code]

[2018-09-11 08:11] hzxuzhonghu commented on #8613
/cc @costinm @rshriram @geeknoid @nmittler

[2018-09-11 08:45] merlineus commented on #8337
@ibelikov Thanks, I missed out that NLB preserves client IP, will check that.

Another solution may be to switch ELB's listener on 443 port to HTTPS and add SSL certificate there, but I've not tested this yet.

[2018-09-11 09:05] ibelikov commented on #8337
@merlineus switching to HTTP/HTTPS also works, but you'll be limited to only HTTP/HTTPS then. I needed WebSocket and HTTP/2 support, so that didn't work out for me.

[2018-09-11 09:08] m1093782566 commented on #8598
cc @rshriram

[2018-09-11 10:25] yskopets opened #8615 "Istio allows to break Kubernetes Namespace isolation when using `Ingress Gateway` and `VirtualService`"
**Describe the bug**
In order to enforce Namespace isolation, `Kubernetes Ingress` resource only allows references to `Services` in the same `Namespace`.

In contrast, with `Istio` it's possible to create a `VirtualService` resource that references a `Service` from another Namespace and expose that `Service` to the outside world via `Ingress Gateway`.

**Expected behavior**
`Istio` should consiste

[2018-09-11 10:27] janmedrek opened #8616 "EnvoyFilters sometimes do not work with Helm installation"
**Describe the bug**
I've installed Istio on an empty Kubernetes cluster by using Helm, created envoy filter does not make use of it's envoy_on_request function at all.

When it comes to istio-proxy logs the filter is visible and accounted:
[code]

Tried adding envoy_on_response() function but it does not change anything.

**What is interesting: when Istio is installed from 'istio-demo-auth.yaml'

[2018-09-11 10:31] sapien99 opened #8617 "404 on request to Pod IP"
**Describe the bug**
I have several (in the test 2) pods belonging to one deployment. I can call them by service/virtualservice without any problem using their servicename, but when i call them using their pod-ip (kubetcl get pods -o wide) i end up with a 404. I guess thats because there is no host-entry matching to the ip.

When i set the servicename explicitly as the host-header i can reach it -

[2018-09-11 11:08] Arttii commented on #6574
@rshriram Do you know if this is a supported usecase? Or should I open a new issue if its unrelated.

[2018-09-11 11:34] ozzann commented on #5995
@vadimeisenbergibm

Turns out when running from another pod, it works fine:
[code]

Turns out proxy is causing some problems. Thanks anyway.

[2018-09-11 12:08] Szymongib commented on #8263
Described feature should be sufficient, so yes, for our case it makes sense.

[2018-09-11 13:09] janmedrek commented on #8616
Update:
Earlier I was running minikube according to the docs [here.](https://istio.io/docs/setup/kubernetes/platform-setup/minikube/)

Now I've managed to get the whole thing working by running
[code]
and by using
[code]

Is it somehow possible that either of these could affect EnvoyFilters?

[2018-09-11 13:13] yskopets opened #8619 "To support `Single Sign-On` scenario, `Istio Origin Authentication` should accept a `JWT Token` sent in a `cookie`"
**Describe the feature request**
To support `Single Sign-On` scenario, `Istio Origin Authentication` should accept a `JWT Token` sent in a `cookie`.

**Describe alternatives you've considered**
- At the moment, we're using a `Lua` script that runs before `jwt-auth` filter and copies `JWT Token` from a `cookie` into a `header`
- However, this solution has a number of downsides:
  - As Istio documen

[2018-09-11 13:27] chrisohaver commented on #3361
@gdoctor, Are you building the binary for the correct target OS?

[2018-09-11 13:57] geeknoid opened #8620 "Establish an adapter governance model"
We need to establish a full governance model around mixer adapters:

- Which adapters should be built into the Mixer binary
- Which adapters should be included in the Istio distribution?
- Where should gRPC adapter source code be located (1st and 3rd party)
- Which adapters should be listed in istio.io
- Should we have a certification process? If so, what should that entail?
- Should we have any c

[2018-09-11 16:06] FrediWeber commented on #7448
We have the same problem.
I can't find any documentation on this.

@rshriram You referenced to a test case and an implementation. Can you point out where I can find these?

[2018-09-11 16:15] xaka commented on #7448
One of the solutions is here https://github.com/istio/istio/issues/7302 for those who are interested.

[2018-09-11 17:32] GregHanson opened #8625 "Re-enable gometalinter test after install bug is fixed"
as reported and disabled here: https://github.com/istio/istio/pull/8623

This issue is for tracking the work for re-enabling the gometalinter test as well as fixing any lint errors introduced during the period it was disabled

[2018-09-11 17:42] GregHanson commented on #8625
install fail example: https://circleci.com/gh/istio/istio/181030?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2018-09-11 18:27] hklai commented on #8598
@m1093782566 In a nutshell, I think what we want to do is to exercise https://github.com/istio/istio/blob/master/tests/e2e/local/minikube/README.md and https://github.com/istio/istio/blob/master/tests/e2e/local/vagrant/README.md.

So, I imagine here is what we want to do:

1. Provision a VM on circle (similar to all other circle jobs we already have).
2. Exercise the install_prereq script (probabl

[2018-09-11 18:49] mabushey commented on #8615
I have the exact opposite problem, as far as I can tell istio routes ONLY work on the default namespace. host: httpbin.namespace-b.svc.cluster.local will always result in "no healthy upstream" (with httpbin running in the namespace-b namespace) while httpbin.default.svc.cluster.local works, assuming a copy is running in the default namespace.

[2018-09-11 18:52] mabushey commented on #8615
Also I've read that gateways are not supposed to be namespaced, but possibly that's incorrect and why I'm having issues.

[2018-09-11 19:14] mabushey opened #8630 "Istio routes only work with default namespace"
**Describe the bug**
Should be able to route to containers in namespaces other than default

**Expected behavior**
Able to route to containers in namespaces other than default.

**Steps to reproduce the bug**
`kubectl port-forward service/grav-service 8080:8080 -n default`
`kubectl port-forward service/grav-service 8080:8080 -n ns-stg`

I have modified the default page in the containers, and I see

[2018-09-11 19:34] sneko opened #8631 "Reaching out another pod with ClusterIP makes a failure connection"
Hi everyone!

I'm using Istio 0.7 with Auth enabled and I get an issue when my microservice with Envoy sidecar injected try to reach my Kafka Cluster.

To be more precise, my Kafka cluster has 2 kind of services:
- a basic one without any specific configuration
- another one with ClusterIP so that the connection is loadbalanced between each instance of my Kafka cluster

It appears that by using th

[2018-09-11 20:40] mabushey commented on #8631
I may be completely misunderstanding what you're stating, but with Istio you need to create an egress rule to allow outside communication. For example to allow https outbount to google.com, you need:
[code]

[2018-09-11 20:41] cmluciano commented on #4500
still relevant and awaiting review in #6487

[2018-09-11 20:43] sebastienvas commented on #8625
This got resolved on its own.

[2018-09-11 20:43] #8625 closed

[2018-09-11 20:47] yskopets commented on #8615
@mabushey Hi!

I've posted the complete configuration at https://gist.github.com/yskopets/5d5242e7572ea782a8773789fcdb8560

[2018-09-11 20:53] yskopets commented on #8615
@mabushey The goal of this ticket is to point out a discrepancy between `Kubernetes` model and `Istio` model.

As an `Istio Operator`, I should be given a choice which model to enforce.

I think, it's not normal that behaviour which breaks Namespace isolation is a default and I have no knobs to prevent it.

[2018-09-11 21:27] sneko commented on #8631
@mabushey my Kafka Cluster is inside my Kubernetes cluster so I guess I have no reason to set outgoing rules to allow this connection (that's not egress).

Moreover it works well with a basic service, that's only with the ClusterIP service that it fails. That's this strange behavior that I wonder where it comes from 😢

[2018-09-11 23:40] hyder opened #8637 "Document helm installation options"
**Describe the feature request**
There's a large and growing number of helm installation options as listed here: https://istio.io/docs/reference/config/installation-options/. Some are self-explanatory, however others are not and there impact are not well understood. Is it possible to document their purpose, possible values etc?

This is a documentation request.

**Describe alternatives you've cons

[2018-09-11 23:41] mabushey opened #8638 "Allow Istio Ingress to use ELB to do SSL termination"
**Describe the feature request**
I would like to use a cert from AWS cert manager on an ELB to do the SSL Termination

**Describe alternatives you've considered**
Just use a Kubernetes LoadBalancer Service
[code]

[2018-09-12 00:12] andraxylia commented on #7052
@krmayankk contributions are welcome, nobody else has picked this up

[2018-09-12 00:18] #8413 closed

[2018-09-12 00:49] mabushey commented on #8630
Upgraded istio. Still have the exact same behavior.
[code]

[2018-09-12 01:56] gdoctor commented on #5535
@jasmine-jaksic @gyliu513 @sdake does anyone know if a more mature solution to this problem will be going live with the 1.1 launch? High availability would be a necessity to run this in a production environment. I'm currently experimenting with cross cluster service discovery using coredns (and potentially kubernetai plugin). A load balancer approach could obviously work (above), but a built-in so

[2018-09-12 02:00] krmayankk commented on #7052
thanks @andraxylia can you assign it to me. I have experience with developing for k8s but this will be my first for istio. Are there guidelines i can follow ? What objects need the events, etc ? I want to start simple with a single object and go from there. Is that a fine approach ? Any pointers on where to start ?

[2018-09-12 02:18] #8428 closed

[2018-09-12 02:31] PiotrSikora commented on #8539
@yangminzhu #8606 and referenced changes in `istio/proxy` are done on the `master` branch. If you need them in 1.0.3, then you need to backport them to `release-1.0` branch in `istio/proxy` and pull into `istio/istio`'s `release-1.0` branch from there.

[2018-09-12 02:37] quanjielin opened #8642 "cherrypick SN service annotation PRs to master"
**Describe the bug**
cherrypick below two PRs to master, pilot sds related code depend on this to work
please move ```accounts.google.com``` to env variable like [PILOT_CACHE_SQUASH](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/pilot/templates/deployment.yaml#L71) rather than hardcoded in the dev code.
https://github.com/istio/istio/pull/7547,
https://github.com/

[2018-09-12 02:39] quanjielin commented on #8642
/assign @dunjut
/cc @lei-tang

[2018-09-12 02:39] istio-testing commented on #8642
@quanjielin: GitHub didn't allow me to assign the following users: dunjut.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8642#issue

[2018-09-12 02:40] gyliu513 commented on #5535
@gdoctor we do have a PR here proposed by @baodongli at https://github.com/istio/istio/pull/6210 , but is not active now.

@baodongli @sdake do you have plan to continue this task? This is a very important feature for multicluster in Istio goes to production.

Meanwhile, @gdoctor , can you please write down some document to explain how to use coredns in Istio for across cluster service discovery?

[2018-09-12 04:18] gdoctor commented on #5535
@gyliu513 will do. I am working through some issues at the moment, but I would be happy to document my steps once I finish getting coredns set up correctly.

[2018-09-12 05:54] gyliu513 commented on #3361
@gdoctor FYI, you can create a document for this. Thanks.

[2018-09-12 06:10] #8424 closed

[2018-09-12 06:30] islinwb commented on #8637
Part of them can be found in https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio#configuration.

[2018-09-12 06:40] hzxuzhonghu commented on #8059
@rlenglet  I have the same doubt

[2018-09-12 06:53] FrediWeber commented on #7448
@xaka Perfect, this works.
Maybe the doc should be updated to cover this case.

[2018-09-12 07:10] lichuqiang opened #8649 "security: should validate before deleting record from identity registry"
**Describe the bug**
In the serviceController for auth check, the controller just [remove the identity record from identity registry upon service deletion event](https://github.com/istio/istio/blob/master/security/pkg/registry/kube/service.go#L94):

[code]

What I'm worried about is if it possible that the `KubeServiceAccountsOnVMAnnotation` on different services can be of same value? If so, we sh

[2018-09-12 08:17] hzxuzhonghu commented on #8059
BTW, I can only access my service only when using images `costinm/proxytproxy:tproxy`.

However, when I checkout master branch, and exec `make docker.proxytproxy` to build a new image.
Then, I set `sidecar.istio.io/interceptionMode: TPROXY` and `sidecar.istio.io/proxyImage` annotation,
so sadly I can not access my service, and also 15001 port is not open in my pod.

/cc @costinm @rlenglet I am not

[2018-09-12 08:38] m1093782566 commented on #8159
minikube `--vm-driver=none` works for me now :)

@hklai Can we support `--vm-driver=none` in local minikube setup?

[2018-09-12 09:45] hzxuzhonghu commented on #8649
I do not find how `c.reg` used.  Is it legacy code?

[2018-09-12 10:10] yskopets commented on #6593
I confirm that solution suggested by @veryhumble works.

It's actually documented at https://istio.io/blog/2018/egress-tcp/

Here is the complete configuration that works for me:

[code]

[2018-09-12 10:56] herzcthu commented on #8583
For me, even 1.0.0 get same error and nightly also having same error.

[2018-09-12 11:14] mandarjog commented on #8526
@bianpengyuan can you please take a look at this?
@DaspawnW are you able to replicate this by using `memquota` adapter?

[2018-09-12 12:06] codebreach commented on #7174
+1 same issue with 1.0.2

[2018-09-12 12:10] zhaogaolong opened #8656 "istio NewClient ever request localhost"
**Describe the bug**
NewClient  host is default addr  (http://localhost:8080)

**Expected behavior**
use kube config (not default kube path) init client ever request http://localhost:8080

**Version**
istio version : 1.0.0
k8s version: 1.10.4

I found the answer.   must use github.com/imdario/mergo@6633656539c1639d9d78127b7d47c622b5d7b6dc version is ok,
but v0.3.6 version Will trigger this bug.

[2018-09-12 12:16] baodongli commented on #5535
See PR #6896.

[2018-09-12 12:36] mefarazath commented on #7290
Did you get this working?
I am facing the same issue. I could get the sample https://istio.io/help/ops/security/end-user-auth/ working only if I have the jwks endpoint in a public url (like https://gist.githubusercontent.com/mefarazath/0757201b14de6f2a3c01b62d39648367/raw/1a37b704825f64f0763dfc02dfabc1af44fb344b/test-jwt.jwks)

[code]

I tried running an oauth2 server within the k8s cluster and se

[2018-09-12 12:41] gyliu513 commented on #5535
@baodongli do you mean that I can use the mesh expansion gateway for multicluster support?

[2018-09-12 12:49] baodongli commented on #5535
Yeah, if you read Costin's description carefully.

[2018-09-12 13:07] vadimeisenbergibm opened #8658 "Remove wildcard * restriction on the gateways"
The following check does not allow wildcard host *
https://github.com/istio/istio/blob/188baf0c93308b741087ca7556d4a77967777b69/pilot/pkg/model/validation.go#L1316
[code]

Why do we have this restriction? Why `*.com` is OK and `*` is not? The use case is directing all the SNI traffic thru an egress gateway, see https://github.com/istio/istio.github.io/pull/1984/commits/095c4c1436049f7af93552fc8628

[2018-09-12 13:08] gyliu513 commented on #5535
Thanks @baodongli , but the problem for #6896 is that the gateway was only created when enabling the mesh expansion, but not for multi-cluster. Does the helm chart need some update to enable installing gateways as well if multi-cluster is enabled?

[2018-09-12 13:09] mefarazath opened #8659 "End user JWT authentication is not working as expected with a OAuth2 Server running within the k8s cluster"
**Describe the bug**

I am trying out the [JWT end-user authentication sample](https://istio.io/help/ops/security/end-user-auth/) with WSO2 Identity Server as the JWT Issuer. Below is the authentication policy I used

[code]

As you see in the above policy I had to use a public url (https://gist.githubusercontent.com/mefarazath/0757201b14de6f2a3c01b62d39648367/raw/1a37b704825f64f0763dfc02dfabc1af4

[2018-09-12 13:16] baodongli commented on #5535
mc is a type of mesh-expansion. the multicluster helm variable no longer exists, right?

[2018-09-12 13:18] mefarazath commented on #8659
Moved the issue to https://github.com/istio/proxy/issues/1968

[2018-09-12 13:18] #8659 closed

[2018-09-12 13:29] cmluciano commented on #1005
I think this is still relevant cc @douglas-reid @mandarjog

[2018-09-12 13:41] SS-TT opened #8660 "Can't get routing to work on BookInfo sample"
**Describe the bug**
Same bug as reported in #6240.
After applying `samples/bookinfo/networking/virtual-service-all-v1.yaml` I still can see rating stars in product page.

**Expected behavior**
Stars shouldn't be visible when using reviews v1.

**Steps to reproduce the bug**
Same as this [tutorial](https://istio.io/docs/tasks/traffic-management/request-routing/#apply-a-virtual-service)

**Version*

[2018-09-12 14:46] elevran opened #8661 "Allow configurable trust domain in Istio identities"
**Describe the feature request**
Allow use of configurable domain in Istio identities.

**Describe alternatives you've considered**
currently all identities are hard coded to use the `cluster.local` domain.

**Additional context**
#7849 has initial work in Citadel, but needs further work in other components:

- [ ] add option support in Helm charts (incl istio-remote)
- [ ] changes in istioctl to

[2018-09-12 14:56] marshall007 commented on #8443
This is also the case with the official [`mariadb`](https://github.com/helm/charts/tree/master/stable/mariadb) chart (and any other containers that are configured to run as non-root). It would be great if we could get some clarification on the intended behavior here and/or a recommended workaround.

[2018-09-12 14:59] #5410 closed

[2018-09-12 15:17] douglas-reid commented on #1005
@cmluciano a PR went in a few days ago that removes the dep on udp statsd. there is some more work to be done to refine the initial patch, but I'd say it is probably ok to close this issue for now.

[2018-09-12 15:17] #1005 closed

[2018-09-12 15:18] douglas-reid commented on #5045
Not stale. @jeffmendoza has been doing some thinking on this issue recently.

[2018-09-12 15:57] douglas-reid commented on #1701
This issue came up in a different context yesterday. The use case presented in that scenario was the need to understand "total time added by the istio proxy". In other words, there was a request to know:
- time proxy received the first byte from the client
- time proxy sent the first byte to backend
- time proxy received the first byte from the backend
- time proxy sent the first byte to the clien

[2018-09-12 16:01] douglas-reid commented on #1701
Relevant envoy code: https://github.com/envoyproxy/envoy/blob/329e591d3f579535412daade4c3249b7c4ed7619/include/envoy/request_info/request_info.h#L110-L197

[2018-09-12 16:15] douglas-reid opened #8663 "FR: Installation Validation Tool"
**Describe the feature request**
Istio should provide a tool that can verify that a cluster has a "complete" install for a given release. This tool *could* be `istioctl`, a la `istioctl verify-install --version 1.0.2` or similar.

As discussed at the last Policies and Telemetry WG, there are many examples in the wild of partial installs of Istio leading to user confusion and operator pain. The par

[2018-09-12 16:20] nemethloci opened #8664 "Authentication Policy examples fail when turning on mTLS"
**Describe the bug**
Step from https://istio.io/docs/tasks/security/authn-policy/ fail when turning on mTLS.

`for from in "foo" "bar"; do for to in "foo" "bar"; do kubectl exec $(kubectl get pod -l app=sleep -n ${from} -o jsonpath={.items..metadata.name}) -c sleep -n ${from} -- curl http://httpbin.${to}:8000/ip -s -o /dev/null -w "sleep.${from} to httpbin.${to}: %{http_code}\n"; done; done`
sleep

[2018-09-12 16:29] ozevren commented on #8663
Galley doesn't have access to topology information. We might add in the future, strictly for config distribution purposes, but I don't think it is otherwise a reasonable place to make this deduction at this point.

An "Istio Controller" that performs actual Istio deployments might be a better place for this. In fact, the configuration of such a controller can be the place for deducing such things.

[2018-09-12 17:04] diemtvu commented on #7290
This error means pilot cannot fetch the public key set from the given
JwksUri. If you use https, your server certificate must be signed by a CA
that is verifiable. We use CA bundle that come with standard linux distro,
so it should work all common PKI. In other words, self-signing certificate
will not work.

Hope this helps.

Thanks.

Diem

On Wed, Sep 12, 2018 at 5:36 AM Farasath Ahamed <notifica

[2018-09-12 17:05] douglas-reid commented on #8663
There was a long thread recently on the #general channel that was related (names, etc., removed here):

[code]

Notice the diff in namespaces for gateways config. That problem was resolved via:

[code]

I'm not sure that we can pin such issues exclusively on "users ignoring error messages". A simple helm install generates a *large* amount of information that flies by on the screen. That informatio

[2018-09-12 17:09] rshriram commented on #7302
would love to make this a task or an entry in the guide. cc @vadimeisenbergibm

[2018-09-12 17:42] ayj commented on #5045
related https://github.com/istio/api/issues/610

[2018-09-12 18:16] #8609 closed

[2018-09-12 18:18] mefarazath commented on #7290
@diemtvu Exactly!
The jwks uri I had in the policy was a HTTPS endpoint secured with a self-signed cert. Switched to using the http endpoint and everything worked fine for me :smile:

Thanks a lot!

[2018-09-12 18:33] blackbaud-brandonstirnaman commented on #7675
@lachie83 any updates?

[2018-09-12 18:48] hklai commented on #8159
@m1093782566 Sure, and https://github.com/istio/istio/pull/8648 is in.

[2018-09-12 19:55] ozevren commented on #6437
Should this item be closed now? Is there anything left?

[2018-09-12 20:15] ozevren commented on #8486
Removed the custom proto format (which was not marshallable):https://github.com/istio/api/pull/631

[2018-09-12 20:15] #8486 closed

[2018-09-12 20:32] ozevren commented on #8663
Not denying the validity of the problem, but being able to easily figure out a failure at the point of failure (i.e. install/upgrade) seems to be a much more valuable thing to have than being able to tell after it happened.

I am not aware of any, but I am wondering if there is some tooling we can already use to cheaply detect this for diagnostic purposes: Something that can read the current confi

[2018-09-12 20:35] ayj commented on #8663
Diagnosing _and_ fixing the problem would also be useful. e.g. a reconciliation loop that ensures the actual Istio install matches the desired state.

[2018-09-12 21:12] ozevren commented on #8663
For the long term, an "Istio controller" is probably the right solution to this problem. As a bona fide Kubernetes controller, it would do reconciliation and avoid "half-install" problems.

For the short term though a cheap, diff-based solution might give us a very good mileage.

[2018-09-12 22:34] #5639 closed

[2018-09-12 22:48] aghag10 opened #8670 "istio-tracing pod crashing"
**Describe the bug**
istio-tracing crashing and the jaeger container in the pod is getting restarted

istio-system   istio-tracing-ff94688bb-wwrlq                        0/1       Running       5          4m

kubectl describe pod istio-tracing-ff94688bb-wwrlq -n istio-system

 Normal   Killing                6m (x2 over 7m)  kubelet, sc**  Killing container with id docker://jaeger:Container failed

[2018-09-13 00:01] ozevren commented on #8353
Sorry, I don't know how @m1093782566 got removed.  I just set the label. I cannot add him back for some reason.

[2018-09-13 00:36] huydinhle commented on #7427
A work-around that I have done is that creating a different ingressgateway deployment and service manually. And with the loadbalancer service you created, just add ip-source range in there because kubernetes support it

[2018-09-13 00:37] huydinhle commented on #7450
@rshriram sorry for the late response. This is for the service exposed at the edge via gateway. Let me know if this is possible. Thank you

[2018-09-13 01:23] UnwashedMeme opened #8673 "Envoy DNS resolution appears to reset circuit breaking"
**Describe the bug**
Outlier detection removes a member from the cluster, but it gets returned every 4 or 5 seconds effectively negating outlier detection.

**Expected behavior**
The ejected member to remain excluded for at least `baseEjectionTime` (or a multiple of it).

**Steps to reproduce the bug**

1. Create a `ServiceEntry` for an external service
  * `resolution: DNS`
  * multiple endponts

[2018-09-13 02:31] ZhiminXiang commented on #7658
@vadimeisenbergibm I am not sure if the Gateway could still serve the traffic well during the process of the redeployment?

[2018-09-13 03:03] exiaohao commented on #7658
@vadimeisenbergibm Thanks for your help, it seem that new certificates will take effect after redeploy istio-ingressgateway. But in this way I'm not sure `Gateway` can upgrade without downtime.
if so, it's not really a good idea for users I think, we'd reduce any downtime and have a failover plan for incorrect config.
Is there any official solutions like @dunjut 's way, I think it's a easy way wit

[2018-09-13 03:43] gyliu513 commented on #8453
/assign @morvencao

[2018-09-13 03:43] istio-testing commented on #8453
@gyliu513: GitHub didn't allow me to assign the following users: morvencao.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/8453#issu

[2018-09-13 03:46] gyliu513 opened #8677 "Update test in circle or prow to call helm test"
This is a follow up action for PR https://github.com/istio/istio/pull/8493#issuecomment-420696202

We need to update circle or prow to call helm test.

[2018-09-13 03:46] gyliu513 commented on #8677
/cc @morvencao

[2018-09-13 06:35] loewenstein commented on #8661
@elevran Not sure how the below link fits to the description.

As a general note, we should probably use perm links to code as much as possible.

[2018-09-13 06:57] ibelikov commented on #8638
@mabushey this already works fine. Keep in mind that you need to change the protocol of https port in you gateway configuration to HTTP.

[2018-09-13 06:59] loewenstein commented on #8661
@elevran I think we should broaden the search for hardcoded values to 'cluster.local'. [Sourcegraph](https://about.sourcegraph.com/) has support for more flexible queries like [this query](https://sourcegraph.com/search?q=repo:%5Egithub%5C.com/istio/istio%24+cluster.local+-file:_test%5C.go%24+-file:%5E%5C.circleci/.*%24+-file:%5Ebin/.*%24+-file:testdata/.*%24)

Another thought I had was actually n

[2018-09-13 07:19] SS-TT commented on #8660
I just tried and reapplied `virtual-service-all-v1.yaml` after that, still getting the same results.

[2018-09-13 07:45] hzxuzhonghu opened #8682 "The v2 api Nonce should be unique"
**Describe the bug**
currently we use `time.Now()` to get a nonce string, but this may return the same value when called simultaneously

**Expected behavior**
make sure nonce() return unique value no matter in whatever case

**Steps to reproduce the bug**
[code]
**Version**

**Installation**

**Environment**

**Cluster state**

[2018-09-13 08:16] cmidt-veasna commented on #8617
I run into the same issue. In our case, we have a deployment which have multiple pod implement Ralf Protocol. Pod need to communicate to each other for log replication. However base on a [google group thread](https://groups.google.com/forum/#!topic/istio-users/d-THsO19oAM), I learn that Istio model does not allow pod to pod communication from the same cluster or deployment.

[2018-09-13 08:33] lichuqiang commented on #6171
I have interest in this. But I'm lack of the background knowledge.
Seems we haven't make use of the Fortio Apps in existing tests for now?
So the task would be deciding how we make use of it, and add test cases accordingly?

[2018-09-13 08:50] hzxuzhonghu opened #8684 "Ci fail"
https://circleci.com/gh/istio/istio/183497?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

seems related to your pr #8671

[2018-09-13 09:01] hzxuzhonghu commented on #8684
I fix it in #8683

[2018-09-13 09:09] hzxuzhonghu commented on #8613
Can anyone give some comments?

[2018-09-13 09:11] lichuqiang commented on #8684
@ozevren I had the code rebased right before your Check function PR merged, so did not convert the "policyClient" -> "policyService" there.
But I feel it weird that the CI robot does not rebase change code onto latest master branch, but just run right onto the commitor branch. I think this might lead to the kind of problems easily.

[2018-09-13 09:35] moeyui1 commented on #8670
Does it work on isio-1.0.0?

[2018-09-13 09:50] wmuizelaar opened #8685 "Unable to get egressgateway working in seperate namespace"
**Describe the bug**
I would like to spin up the egressgateway in a seperate (non istio-system) namespace, so we can make sure with egress networkpolicies that all traffic leaving the cluster is going through the egressgateway. I can't get this to work at the moment.

**Expected behavior**
I would expect the egressgateway to be working.

**Steps to reproduce the bug**
Install istio (see installati

[2018-09-13 12:39] sdake commented on #8663
I tend to find the most common failure case in bug reports is probably a documentation issue in that evaluators often skip step #1 (apply CRDs) and jump right to step #2 (apply Istio yaml).
 It probably doesn't help that sometimes people don't read the documentation at all :)

The challenge of a generic deployment validation tool is determining "what makes a deployment valid" - this is typically u

[2018-09-13 13:27] sapien99 commented on #8617
Hey cmidt-veasna, there actually is a solution i found - dont know why its not mentioned in the docs. You can specify CIDRS ranges also in the annotations traffic.sidecar.istio.io/excludeOutboundIPRanges  and traffic.sidecar.istio.io/excludeInboundIPRanges on pod-template in your deployments.

Its possible to choose between blacklist and whitelist (personally i like to exclude things from the stan

[2018-09-13 13:27] #8617 closed

[2018-09-13 13:47] linsun commented on #8539
https://github.com/istio/istio/pull/8679
https://github.com/istio/istio/pull/8516

[2018-09-13 13:59] frankbu commented on #8660
I suggest starting again from the beginning. Make sure that you follow ALL the instructions in `Before you begin -> Deploy the Bookinfo sample application` including this part:

https://istio.io/docs/examples/bookinfo/#apply-default-destination-rules

[2018-09-13 14:33] lalan7 commented on #8387
This help me in the exact same situation. Thanks

[2018-09-13 15:11] metal3d commented on #7174
Same problem using Ansible deployment:

MountVolume.SetUp failed for volume "certs" : secrets "istio.istio-sidecar-injector-service-account" not found

Version v1.0.2

[2018-09-13 15:13] metal3d commented on #7174
Hum... after 2 minutes, everything seems to be ok but as Ansible stopped, is it correctly installed ?

![image](https://user-images.githubusercontent.com/100080/45497518-5122e500-b778-11e8-878a-311d5688e8f1.png)

[2018-09-13 16:14] ozevren commented on #8684
That is an unfortunate gap in the CI system at this point.

On Thu, Sep 13, 2018 at 2:12 AM lichuqiang <notifications@github.com> wrote:

[2018-09-13 16:17] sudermanjr commented on #7658
@exiaohao With the ingressgateway being scalable now, I think you should be able to rolling-update the ingressgateway with your new cert without downtime.

[2018-09-13 16:29] dunjut commented on #7658
@sudermanjr Scaling and rolling-updating implies some kind of loadbalancer in front of ingressgateway, which is common in a cloud environment, but it's not always true in bare-metals.

In our scenario, we deploy ingressgateway as DaemonSet on a set of dedicated physical machines, facing directly to users, acting as edge layer 7 gateway.

[2018-09-13 16:59] venilnoronha opened #8689 "Enable linting of import groups"
**Describe the feature request**
As a follow-up to PR #8687, it would be good to have linting for grouped imports. [goimports](https://godoc.org/golang.org/x/tools/cmd/goimports) organizes imports by groups as described in [this document](https://github.com/golang/go/wiki/CodeReviewComments#imports). This could be added to the commit process, or we could explictly check for such formatting errors

[2018-09-13 17:04] nmittler commented on #8465
m1093782566 have you been able to make any progress here? I'd like to get this sorted out.  If you don't have bandwidth, feel free to assign to me for now.

[2018-09-13 17:05] nmittler commented on #8465
@m1093782566 have you been able to make any progress here? I'd like to get this sorted out.  If you don't have bandwidth, feel free to assign to me for now.

[2018-09-13 17:26] kdillane commented on #6977
One other point, is in the bug listed above, I've produced a repro case where if only read permissions are revoked from Pilot, then all Istio CRDs are deleted from k8s.  I believe this case is a lot easier to hit than I previously anticipated.

[2018-09-13 17:47] tanapoln commented on #8462
@tobad357 There are 2 possibility solution.

1. As an example, it use resolution `NONE` this setting tell envoy to allow you to connect to any IP as envoy would listening with 0.0.0.0. This is cluster-wide.
2. ServiceEntry allow you to set `addresses` field which makes envoy to match target host IP with this field values and it doesn't care about hostname. It also means that you have to update thi

[2018-09-13 18:02] #8573 closed

[2018-09-13 18:28] kdillane commented on #8539
I've published a PR https://github.com/istio/istio/pull/8691 for https://github.com/istio/istio/issues/6977.  I'm blocked on an /ok-to-test from an Istio dev.

[2018-09-13 19:35] thspinto commented on #7665
@Stono Can't the circuit-breaking feature be used in this issue?

[2018-09-13 19:46] anilkun opened #8692 "Istio bookinfo example - product page returning 503 - Mixer report failed with error"
**Deployed Istio and bookinfo services on openshift. I am not able to access product page as it returns 503 UNAVAILABLE:Cluster not available**

**Istio Version: 1.0**
**All the pods are running and I see the following error message in the productpage istio-proxy logs**

[code]
[code]

[code]

**Cluster state**

[code]

[code]
[code]

[code]

[2018-09-13 20:11] sporokh opened #8693 "Istio Pilot HPA (HorizontalPodAutoscaler) created in default namespace"
**Describe the bug**
When installing istio-1.0.0 (or even 1.0.1) with Helm all HPA being deployed to istio-system namespace (or the namespace you provide to helm during install), but istio pilot always deployed to default namespace. From the chart (no namespace field at all, comparing to other HPA's):
[code]

**Expected behavior**
Istio HPA pilot should be in the istio-system namespace.

**Steps t

[2018-09-13 20:12] aditivghag commented on #8670
I haven't tried istio-1.0 yet. I think the issue may have something do with the fact that the istio-demo.yaml from the official repo is deploying both Jaeger and Zipkin services.

If I delete the zipkin service, then the istio-tracing is able to run successfully, but the Jaeger UI still doesn't any services/traces.

Looking at the istio-demo manifest file, the tracing url is provided as -

    # Z

[2018-09-13 20:27] #8693 closed

[2018-09-13 20:28] yangminzhu commented on #8539
@PiotrSikora Thanks for the remind, I just updated it to the PR on release-1.0.

[2018-09-13 20:44] rsnj opened #8696 "Internal Kubernetes API Calls Blocked by Istio"
**Describe the bug**
I'm installing a monitoring service in to my pod which is trying to make a call to the Kubernetes API server. This request is being blocked by the Istio sidecar. If I disable the `istio-injection` and redeploy everything works as planned. Do I need to enable anything to make this work?

**Expected behavior**
My pods can access the internal Kubernetes API

**Steps to reproduce

[2018-09-13 21:34] diemtvu commented on #8583
Looks like there is some error with pilot debug output that make it un-parseable. I'll dig it furthermore for a fix. Sorry for the trouble.

[2018-09-13 23:46] AndriiNeverov commented on #7664
+1 for `sftp` support

[2018-09-14 00:00] m1093782566 commented on #8465
sorry for delay but I'm working on it and will send a pr by tomorrow

[2018-09-14 00:04] andraxylia commented on #8462
@rshriram can we remove the namespace and call it MeshService ? It's a bit nicer and does get into the gritty details. See my comments in istio/api#628, we could use this new service API.

[2018-09-14 00:15] gdoctor commented on #5535
@costinm could you please reiterate what exactly #6896 accomplished? It's pretty unclear to me after reading through the PR if this would provide some form of high availability for the various istio components. I guess I don't understand how you are opening up these ports to access outside of the cluster (ie on the nodes) without using the LoadBalancer approach

[2018-09-14 01:50] aghag10 opened #8709 "istio tracing Jaeger UI not showing any services/traces"
**Describe the bug**
Jaeger UI is not showing any services/traces

**Expected behavior**
Sample application bookinfo/sock-shop microservices should show up in the UI.

**Steps to reproduce the bug**
Neither of the application services show up.
kubectl apply -f <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml)
istioctl kube-inject -f complete-demo.yaml | kubectl apply -f -

**

[2018-09-14 03:13] fatg1988 commented on #8049
same case

`panic: template: inject:10: function "annotation" not defined

goroutine 1 [running]:
text/template.Must(0x0, 0x1a6a520, 0xc4204c5820, 0x0)
	/usr/local/go/src/text/template/helper.go:23 +0x54
istio.io/istio/pilot/pkg/kube/inject.injectionData(0xc420678000, 0x119a, 0xc420502340, 0x40, 0xc4204a3200, 0xc4204a3118, 0xc420117860, 0xc4205ee000, 0x18f0c00, 0xc42009d000, ...)
	/workspace/go/sr

[2018-09-14 04:24] Lion-Wei opened #8713 "Hostname match rules doesn't seems right"
**Describe the bug**
As test case `TestHostnameMatches` mentioned, long wildcard hosename should match short host, like
`*.foo.bar.baz` can match `baz`,
Is this true? Seems weird.

https://github.com/istio/istio/blob/master/pilot/pkg/model/service_test.go#L253-L254

**Version**
Master

[2018-09-14 05:34] myidpt commented on #7658
I think the best solution here is to have ingress gateway use SDS to load these certs from node agent (which can watch certs from k8s secrets or external API). This can be implemented after node agent work is done on master (hopefully soon). The work is not very complex when node agent is ready, and dunjut is also willing to help :) For anyone having a timing concern, please try dunjut's tool.

[2018-09-14 06:10] ZhiminXiang commented on #7658
My understanding about dunjut's tool is that it places certificates into the volumes that have been created in the istio-ingressgateway pods.
But if all of volumes are already taken and we still want to add a new domain and its certificate into Gateway, we have to redeploy istio-ingressgateway pods to add more volumes, right? Is there any solution to avoid redeployment of istio-ingressgateway in t

[2018-09-14 06:30] exiaohao commented on #7658
@ZhiminXiang https://github.com/dunjut/cert-sync use `<certdir>/<namespace>/<name>` as path for certificates.
By default setting, certificates has load to `/etc/istio/ingressgateway-certs/<namespace>/<name>.{key, crt}`
It takes only one directory for all certificates and no need to redeploy.

[2018-09-14 06:47] joy-jingwei commented on #8692
I got the same issues too

[2018-09-14 07:08] eadred commented on #5273
With reference to the fix in [#5431](https://github.com/istio/istio/pull/5341), could I suggest that at least loopback IPv6 inbound traffic is allowed, ie include something like `ip6tables -A INPUT -s ::1 -d ::1 -j ACCEPT`?

I am finding in some circumstances that container to container traffic, or even within the same container, requests to `locahost` resolve to ::1 and therefore fail.

As a bit

[2018-09-14 08:36] 249043822 commented on #8583
I also encounted such problem, Istio 1.0.2

[2018-09-14 09:00] lichuqiang commented on #2413
@qiujian16 Any progress?
I can help if you have no time to work on this :)

[2018-09-14 13:39] andriosr opened #8718 "Requests failing for 60-100 seconds when one of the cluster's machines is terminated"
Similar to what happens at #8243, when one of the nodes in a k8s cluster goes down (terminated - not gracefully draining pods as in #8243) , even using 2 or 3 replicas of control plane pods, distributed to different nodes using [PodAntiAffinity](https://github.com/istio/istio/pull/8480), the requests would fail for about 60-100 seconds. Getting the exact same logs and response code.

**Expected be

[2018-09-14 14:44] nmittler commented on #8465
@m1093782566 no worries ... sounds good!

[2018-09-14 16:28] AWKIF opened #8720 "virtualservices not working with no suffixed domains"
Hello

**Describe the bug**
virtualservices with for example:
apiVersion: networking.istio.io/v1alpha3
[code]
while if you put something like  go.xxx.yyy it is working

**Expected behavior**
redirect to the service when matching host header

**Steps to reproduce the bug**
Create a virtualservice with a no suffixed domain

**Version**
istio 1.0.0

**Installation**
helm templating

**Environment**
b

[2018-09-14 18:00] kidiyoor commented on #8605
Yes. It is working with the new instructions, I used helm installation with --set global.meshExpansion=true

Its still not clear to me why envoy was able to pull 'listeners' information but not 'clusters' information in my previous setup. Any theories ?

[2018-09-14 19:39] UnwashedMeme commented on #8720
The docs mention this, see the `hosts` field definition in https://istio.io/docs/reference/config/istio.networking.v1alpha3/#VirtualService

But I found this to be irritating when I encountered it the other day too.   It will never match a barehostname, it always rewrites it to be fully qualified in the envoy config. I wish it did both.

[2018-09-14 21:04] gbaufake opened #8730 "Latest Ansible Installer was not included Istio 1.0.2"
**Describe the bug**
- Latest ansible installer was not included on Istio 1.0.2 release, which means if we follow the documentation on https://istio.io/docs/setup/kubernetes/ansible-install/, on section:

` ansible-playbook main.yml -e '{"istio": {"auth": true, "delete_resources": true}}'`

it will delete after installing, which is reported as a fixed bug (https://github.com/istio/istio/issues/773

[2018-09-14 23:38] ayj opened #8736 "Remove Citadel dependency from Galley validation webhook"
The Galley and Sidecar injector webhooks requires a key/certificate for simple TLS with the kube-apiserver. We currently rely on Citadel to provision this key/certificate. The Citadel root ca cert is provided to kube-apiserver in the k8s validatingwebhookconfiguration. The key/certificate are provided to galley and the sidecar injector via k8s secret.

We should reconsider this approach given the

[2018-09-14 23:39] ayj commented on #8736
cc @myidpt @wattli

[2018-09-15 00:13] ayj commented on #6437
This is done for now.

[2018-09-15 00:13] #6437 closed

[2018-09-15 01:17] wackxu commented on #8736
/cc

[2018-09-15 02:07] gyliu513 commented on #8730
@gbaufake I'm +1 on this. Please go-ahead for a PR for this, thanks.

[2018-09-15 02:48] sdake commented on #8730
@gbaufake works for me.  please cherrypick the PRs that are relevant to the release-1.0 branch.  Once cherrypicked, add the cherrypick PRs to the Istio-1.0.3 tracker.   Ultimately T&R and the TOC have final oversight over backports.

cheers
-steve

[2018-09-15 03:03] sdake opened #8741 "Following the global MTLS guide causes ingressgateway not to work properly"
**Describe the bug**
ingressgateway does not properly work after following security task documentation after a typical install.

**Expected behavior**
ingressgateway continues to function after applying mtls rules.  Perhaps ingressgateway needs some special config?

**Steps to reproduce the bug**

1. Deploying this template:

[code]

1. run openssl to validate certificate (this works)

[code]

1.

[2018-09-15 03:15] sdake commented on #8637
@hyder please see https://github.com/istio/istio.github.io/issues/2566

This issue is tracked in the documentation repository, so closing here.

Cheers
-steve

[2018-09-15 03:15] #8637 closed

[2018-09-15 03:15] x15zhang opened #8742 "More accurate definition for istio with distributed tracing"
**Describe the feature request**
In istio.io ,istio is defined as "Istio makes it easy to create a network of deployed services with load balancing, service-to-service authentication, monitoring, and more, **without any changes in service code**", but actually users should propagate some headers in code for distributed tracing.

**Describe alternatives you've considered**
Update comments to tell u

[2018-09-15 03:17] x15zhang commented on #8742
@linsun @idouba @geeknoid

[2018-09-15 04:03] Lion-Wei opened #8745 "fortio/fortio:latest_release image change result in prow/e2e-simpleTests.sh failed"
**Describe the bug**
fortio/fortio:latest_release image change result in prow/e2e-simpleTests.sh failed

Log:
[code]

**Environment**
CI

[2018-09-15 04:06] Lion-Wei commented on #8745
Closing since https://github.com/istio/istio/pull/8728 solved this issue.

[2018-09-15 04:06] #8745 closed

[2018-09-15 04:16] #6047 closed

[2018-09-15 06:44] gparvind opened #8750 "ingressgateway to serviceentry gets intermittent 503s"
**Describe the bug**
routing calls from ingressgateway to egress traffic (using virtual service at ingress gateway with destination to external host, service entry for egress, destinationrule for tls origination)
making api call from outside the cluster - returns 503 intermittently.

ingress gateway logs:
[2018-09-15T06:34:50.748Z] "GET /V4/Northwind/Northwind.svc/Products/$count HTTP/1.1" **200**

[2018-09-15 08:13] Lion-Wei opened #8754 "Remove port name from route.Destination in the API"
**Describe the feature request**

Since we already deprecated `PortSelector_Name`, the use of port name will be ignored, I think we should better remove this filed from route.Destination in the API, in case user use this foeld, but can't get what they needed.

The work should include:

- [ ] Remove or refactor `PortSelector_Name` related logic in istio.
- [ ] Remove `PortSelector_Number` from rout

[2018-09-15 09:00] lichuqiang opened #8756 "Galley should fast fail if Validation enabled but no WebhookConfigFile provided"
**Describe the bug**
Currently, if EnableValidation is set to true, we'll try to init validation webhook anyway.
And if no WebhookConfigFile provided, we'll get a webhook keep running there, but does nothing in fact.

**Expected behavior**
Fast fail when Validation is enabled but no WebhookConfigFile provided,
or treat the scenario as Validation disabled.

/cc @ozevren @ayj
/assign

[2018-09-15 13:27] hvn4179 commented on #7640
I have the same problem on my mac laptop. Any suggestion?

[2018-09-15 15:00] supereagle commented on #7640
Check whether `istio-ingressgateway` pod has opened these ports.

[code]

[2018-09-15 18:15] rshriram commented on #8713
*.foo.bar.baz should match *.baz..
e.g., a.foo.bar.baz will match *.baz and *.foo.bar.baz

[2018-09-15 20:46] sdake commented on #8590
Not sure where you are getting istio-1.0.3 from - that hasn't been released yet.

@gyliu513 on bare metal the best performance I can wring out is with these flags with 1.0.2:
[code]

Prometheus is enabled in the defaults for values.yaml and is unnecessary if you plan to run without telemetry.  I find increasing the replicaCount of the ingressgateway (to something like 10) valuable.  In this mode,

[2018-09-16 00:41] gyliu513 commented on #8590
Thanks @sdake , we'll disable prometheus and re-run the test. Yes, we are running on VM, but both test `wit mixer` and `without mixer` are test on same machine, so I assume that even if there are resource overcommit, we should still have better performance when running `without mixer`.

https://user-images.githubusercontent.com/4461983/45343062-61995b00-b5d2-11e8-8983-3c4e0babed17.png

Does anyone

[2018-09-16 02:11] sdake commented on #8563
@costinm had suggested using the debain:9-slim image.  I ran a diff against the packages installed.  Ubuntu Xenial includes these extra packages:

[code]

Removing this packages with a `Dockerfile` that is similar in nature to this one:
[code]

Produces these types of images:
[code]

Where squashed was created with docker build with above Dockerfile.

Where squashed2 was created with this image sq

[2018-09-16 02:31] sdake commented on #8563
Docker-squash from mgoldman seems to do a nice job of reducing image size:
[code]

[code]

[2018-09-16 03:46] stewart-yu opened #8762 "Applying for Istio membership"
I am creating this issue for the sake of applying for Istio membership.

I have Subscribed to [istio-dev@googlegroups.com](istio-dev@googlegroups.com)

I am currently working on some work about `CI`, such as `codecov`、`linter` bash secript and so on.
especially, add `check_spelling.sh` secript in CI, and fix `codecov error` in CI.
Following is the list of PRs got merged:

#8174
#8206
#8304
#8514
#

[2018-09-16 11:35] elevran commented on #8661
@loewenstein the above were copied from the comments to previous PR (#7849), for reference. We can certainly change as needed.

agree. It was meant to refer to:
[code]

The reasoning behind not changing the tests is to confirm that we are backward compatible. We could also add tests to confirm the use of non-default domains.

[2018-09-16 12:00] loewenstein commented on #8661
cc @holgero

[2018-09-16 13:18] hvn4179 commented on #7640
@supereagle What can you tell me about my deployment?
$ kubectl get svc istio-ingressgateway -n istio-system
NAME                   TYPE           CLUSTER-IP    EXTERNAL-IP   PORT(S)                                                                                                                   AGE
istio-ingressgateway   LoadBalancer   10.98.92.73   <pending>     80:31380/TCP,443:31390/TCP,31400:

[2018-09-16 15:11] costinm commented on #8563
I don't think squashing is the right solution. The sidecar is not running
by itself - user is likely to have a an app based on
ubuntu or deb (which are very popular), and docker will share the base
image. We should produce multiple
proxy images long term, with different base images - to maximize this
sharing.  With squashing - user is guaranteed
to have 2 copies of the OS, our squashed variant and

[2018-09-16 18:28] nemethloci commented on #8664
Some additional info:
- same example works fine on GKE (kubernetes version: 1.10.7)
- with Istio 1.0.1 the example fails the same way
- before mTLS is turned on, the mesh seems to work fine, requests result in 200 OK response code as expected

[2018-09-16 19:31] jsw opened #8763 "Add helm template parameter to change the default prometheus data retention of 6h"
**Describe the feature request**
Add helm template parameter to change the default prometheus data retention of 6h

Workaround is to manually edit the deployment.

[2018-09-17 02:29] linsun commented on #8762
FYI - this is the new process:  https://github.com/istio/community/pull/76

[2018-09-17 02:38] supereagle commented on #7640
Not sure why some ports are not opened, you can have a try to restart `istio-ingressgateway` pod.

[2018-09-17 03:06] cmidt-veasna commented on #8617
@sapien99 Thanks, I'll try it later.

[2018-09-17 04:02] mandarjog commented on #7558
For this specific Prometheus problem there is a solution here https://github.com/istio/istio/pull/8760

Once the pr is merged your specific problem is solved.

[2018-09-17 06:27] adamzhoul commented on #8595
forget to mention.
network mode of daemonset is "host". that is why they share the same IP.

[2018-09-17 06:28] adamzhoul commented on #8595
I don't know if anyone else has encountered this problem.
to avoid this. I have to remove the "selector" part of gateway config.

after doing that,  can make sure get the resource even has incorrect labels. because gateway has no label selector part.

I have to admit that this is not a regular or right way, but it solved my problem.
wish someone can help fix this problem the right way.

[2018-09-17 07:18] adamzhoul commented on #8750
is there any chance this is the keep-alive problem?
https://github.com/envoyproxy/envoy/issues/1979

[2018-09-17 07:45] adamzhoul commented on #8420
@rshriram  do you have any suggestion when facing 40s delay. how to debug this. find the problem.

since envoy follows eventual consistency, I think it is necessary to write the script when upgrade or change the config.

the key point should be how to make the propagation fast enough, and how to make sure it's done.

[2018-09-17 08:01] AWKIF commented on #8720
@UnwashedMeme Thanks, the issue is that it's not about my service name but my url host, i'd like to reach my apps through http://go/xxx
Is there a way to add this for the next release?

[2018-09-17 08:33] iedwin commented on #7266
Facing the same issue too, my workaround is just changing the sidecar injection method from auto-inject to manually-inject.

[2018-09-17 09:03] xiajidexue commented on #7909
@JCzz I just saw you exposed your service via "prefix: /" in **VirtualService**, how can you expose other gRPC services?

[2018-09-17 09:12] Disper commented on #8263
@diemtvu any updates on this topic?

[2018-09-17 09:52] vietwow commented on #8594
Ya, I got the exact same error.

Best Regards,
VietNC

[2018-09-17 10:04] denniseffing commented on #5518
Are there any plans to include this example in the official docs?

[2018-09-17 10:48] lichuqiang commented on #2413
I pinged @qiujian16 and try to contact with him through email. But seems he has not been working on this for a long time. So I'll pick this up instead.

@qiujian16 Please let me know if you still have interest and time for this.

/assign

[2018-09-17 13:05] sdake commented on #8741
cc @myidpt

[2018-09-17 13:34] x15zhang opened #8767 "Support for routing TCP traffic according to source ip"
**Describe the feature request**
Currently in 1.0, there is no sourceSubnet in L4MatchAttributes and not support for routing traffic according to source ip. There is no good example to describe tcp route situation either.

[2018-09-17 13:44] mandarjog commented on #8617
What is your exact use case? Why are you trying to reach these pods individually?

[2018-09-17 13:45] JCzz commented on #7909
Hi @xiajidexue

I never got it to work. I have asked around a lot, incl. gitter grpc, Ambassador, Istio - no one seems to know. Let me know if you get any closer?

[2018-09-17 13:59] ajit-hybris commented on #7266
For now, solution is to disable AlwaysPullImages admission controller.  Details https://github.com/kubernetes/kubernetes/issues/64333

[2018-09-17 14:26] tiswanso opened #8769 "Allow installers and users to restrict TLS to specific cipher suites"
**Describe the feature request**
For some organizations' infosec requirements, Istio installers & users need the ability to restrict TLS cipher suites used for both communication between Istio control-plane components as well as between user deployed services in the mesh.

**Describe alternatives you've considered**

**Additional context**
Similar to #7707 (restricting TLS versions) but for specif