[2020-01-05 18:20] Stono commented on #19925
I could run a 1.3.5 sidecar on that app and see what happens?  What do you think?

[2020-01-05 18:22] howardjohn commented on #19925
Seems like a good idea if it's feasible. I personally always try to narrow down variables when trying to figure out issues like this since there are a lot of possible root causes and that would narrow it down quite a bit

[2020-01-05 18:27] Stono commented on #19925
It is.  Will report back

[2020-01-05 18:35] Stono commented on #19925
Right the app in my opening post which is pretty regular over a 24h period is on `1.3.5`, will let you know what i see tomorrow evening.

Cheers

[2020-01-05 20:31] #19801 closed

[2020-01-05 20:53] howardjohn commented on #19923
In the short term you can manually set it with `--set cni.enabled=true --set cni.components.cni.namespace=kube-system`

[2020-01-05 20:56] vfarcic commented on #13705
I had the same problem. When `fault.abort` is set, `retries` are ignored.

[2020-01-05 20:57] howardjohn commented on #16916
The above issue was fixed in 1.3, so its likely a different root cause. Opening a new issue with as much details as you have may help

[2020-01-05 21:39] howardjohn opened #19927 "Consider using genericclioptions more heavily"
This package provides a lot of features to mimic kubectl that could be useful for istioctl. For example, we have a bunch of stuff we use that is the same as what they do: table printing, `-o json` (except we are missing jsonpath and yaml and other outputs), `--kubeconfig` (except we aren't as flexible), etc. This library can handle all of this for us potentionally

[2020-01-05 23:44] piengeng commented on #19607
how do i find out the source of the lookup? i'm just testing out simple nginx services with 3 pods with automatic sidecar injection enabled.

Here's my pihole's [queries log](https://gist.github.com/piengeng/92d2add170b174e22b0173285f345e36) log , k8s.c5r.home is the k8s master node (1 master, 3 worker nodes in my hyper-v setup), internally my network doesn't use ipv6.

from the log, on 22:?? hour

[2020-01-06 01:52] charlesguo404 commented on #18458
@lei-tang I setup from https://istio.io/docs/tasks/security/dns-cert/ tutorial

[2020-01-06 01:53] hzxuzhonghu commented on #18921
I agree with this. It is really hack to only redirect to 127.0.0.1 But i am not sure how we can support it. maybe @lambdai has some solutions.

[2020-01-06 01:58] howardjohn commented on #18921
we could make an annotation configure if we connect to 127 or pod ip maybe?

On Sun, Jan 5, 2020, 5:53 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-01-06 01:58] howardjohn commented on #18458
I think we are looking for how you set up your kubernetes. Specifically the certificates and cert signing

[2020-01-06 02:00] charlesguo404 commented on #18458
this is my kubernetes certificates setup
[code]

[2020-01-06 02:07] howardjohn commented on #18458
I was expecting `cluster-signing-cert-file` to be different from the root ca but it's not, so maybe a different issue. @lei-tang can help debug further

[2020-01-06 02:18] xiaozhongliu commented on #19883
Could anyone help on this issue?

[2020-01-06 03:00] kebe7jun opened #19928 "dashboard command not exit after kubernetes connection closed"
**Bug description**
The `kubectl port-forward` command exits when it encounters a broken link, but `istioctl dashboard` not.
In some cases, we run `istioctl dashboard` command in other program, we can't know the connection lost.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/7303612/71792563-20a14180-3074-11ea-86ab-526034f911e6.gif)

**Expected behavior**
The process exit after

[2020-01-06 03:18] #18392 closed

[2020-01-06 03:19] lei-tang commented on #18458
@charlesguo404 The following error in the logs you attached ("failed to verify the certificate chain: x509: certificate signed by unknown authority") indicates that there is an error verifying the certificate chain. To debug this error, can you dump the entire certificate chain (the certificate chain dumping statements may be added near https://github.com/istio/istio/blob/master/security/pkg/k8s/c

[2020-01-06 03:43] howardjohn opened #19930 "1.5 Pilot uses 4.5x as many goroutines per XDS connection as 1.4"
1.4 Pilot: 2 go routines per connection: receiveThread and serveStreams
1.5 Pilot: 9 go routines per connection: http.serve x2, http.readFrames x2, serveStreams, HandleStreams, recieveThread, http2.runHandler

[2020-01-06 04:23] howardjohn commented on #19930
Somehow every pod has two XDS connections open ... ?

From a pod:
[code]

From pilot:
[code]

This happens on every single pod, not just a one-off situation.

stats:
[code]

[2020-01-06 04:44] howardjohn commented on #19930
Ah.. the above is from the CA code. That accounts for some of the extra goroutines, but still not all of them. Seems like something is using the gRPC http2 stack and some net/http for some reason

[2020-01-06 04:48] anannaya commented on #19884
@howardjohn  Thank you so much for clarification

[2020-01-06 05:07] howardjohn commented on #19930
I think we open 2 conns, one for CA and one for XDS (since they are from envoy and 1 from pilot agent they cannot share), but that isn't why there are so many goroutines. When we run on 15010, we call `grpc.Serve()`, but on 15012 we call `http.ServeTLS()` to start the grpc server. Its unclear to me if this is a bug or not

[2020-01-06 05:12] howardjohn commented on #19930
Interestingly, switching to grpc.Serve does NOT lower the number of goroutines at all, but increases memory usage almost 2x

[2020-01-06 05:16] howardjohn commented on #19930
@hzxuzhonghu any insight here? relevant code is https://github.com/istio/istio/blob/4ec8617c073268d2e4a75414bbbbbb66398c3cc3/pilot/pkg/bootstrap/server.go#L520

[2020-01-06 05:37] howardjohn commented on #19930
1.4 uses an older grpc library, but downgrading does not change this. Switching to 15010 port also does not change goroutine amount

[2020-01-06 06:30] charlesguoooo commented on #18458
@lei-tang I'm not a developer, i don't know how to do that, but i can provision the cert content.
[code]

[2020-01-06 07:16] tony-Ma-yami opened #19931 "Can't access gateway host from inside of pod"
fisrt , my ingressgateway name  is "istio.gateway.abd.com"
now i successed deploy the sample of bookinfo and I can visit the "istio.gateway.abd.com/productpage".

But, when i visit the again inside of the "pod/productpage-v1-c7765c886-v8t57", it will be 404.

why ?  can someone help me ?

[2020-01-06 07:26] hzxuzhonghu commented on #19930
The one for CA only exists when working as SDS agent, so it doesn't matter much.

Is 1.4 on insecure port and 1.5 is on secure port? it should be same as the below code

[code]

[2020-01-06 07:39] Stono commented on #19925
<img width="797" alt="Screenshot 2020-01-06 at 07 38 51" src="https://user-images.githubusercontent.com/1486729/71803050-9f3bb600-3057-11ea-9842-aae8787d6bbe.png">

Looking suspiciously like a `1.4` issue @howardjohn - the above graph is since switching back to a `1.3.5` proxy

[2020-01-06 07:47] Stono opened #19932 "enableCoreDump as a pod annotatoin"
**Describe the feature request**
I'm trying to investigate https://github.com/istio/istio/issues/19925 but in order to do so I need to take a memory profile. It'd be great if this was something we could simply control with an annotation such as `sidecar.istio.io/enableCoreDump: "true"`.

**Describe alternatives you've considered**

 None of the existing options are particularly nice because:

- In

[2020-01-06 08:10] kalyank23 opened #19933 "Empty subject in x-forwarded-client-cert"
I am trying to get my client certificate common name in headers of my service, but unfortunately I am getting empty string for subject.

`X-Forwarded-Client-Cert: By=spiffe://cluster.local/ns/default/sa/default;Hash=afb15b2fa11e07b572fb8cc549a07a71b169bdd818199ab1c2ad90f6f05fb2aa;Subject="";URI=spiffe://cluster.local/ns/istio-system/sa/istio-ingressgateway-service-account`

Could you please let me

[2020-01-06 08:28] rbraeunlich commented on #19666
Hi @douglas-reid @bianpengyuan
sorry for the late response, I was on holiday and couldn't access the cluster. I set the level to debug and I can see this:
[code]
seems you were right, `source.uid` is unknown

[2020-01-06 08:36] kalyank23 commented on #19933
I am using istio 1.2 version. Do I need to use EnvoyFilter to get the certificate subject?

[2020-01-06 08:49] ragoragino opened #19934 "istioctl manifest apply command unable to set JSON values"
**Bug description**
isitoctl manifest apply uses StringSliceVarP to parse --set command-line arguments. However, according to the Go doc string slice family of functions: "take[s] comma-separated value as arguments and split them accordingly". Therefore, for example, setting argument values.global.proxy.accessLogFormat to any longer JSON (e.g. even the one in the Istio Helm confimap '{"start_time"

[2020-01-06 09:14] edude03 opened #19935 "Pilot stops pushing routes when tcp:443/https:443 service entries are created"
**Bug description**
If you create two wildcard ServiceEntries for port 443 with https/tcps protocol likes so

[code]

[code]
Internal:Error adding/updating listener(s) 0.0.0.0_443: error adding listener '0.0.0.0:443': multiple filter chains with the same matching rules are defined
[code]

[2020-01-06 09:49] #19923 closed

[2020-01-06 12:08] hzxuzhonghu commented on #19935
could you show the result of `istioctl pc listener xxx --port=443 --address=0.0.0.0 -ojson`?

[2020-01-06 12:22] cagataygurturk opened #19939 "Ability to set traffic.sidecar.istio.io/includeOutboundIPRanges etc. globally"
**Describe the feature request**

Currently it is possible to set up the sidecar proxy's some properties such as excludeIPRanges globally, so some CIDR's can be excluded in all the mesh. However, after switching to CNI this settings loses its effectiveness and the only way to exclude those CIDR's from proxies is to set [Traffic redirection parameters](https://istio.io/docs/setup/additional-setup/c

[2020-01-06 14:12] tibetsam opened #19940 "ipv6 and ipv4 ISTIO_INBOUND iptables rule are not aligned"
**Bug description**
in istio/tools/packaging/common/istio-iptables.sh ISTIO_INBOUND chain, ipv4 redirect remaining inbound traffic to Envoy but ipv6 doesn't.

ipv4:
421     # Redirect remaining inbound traffic to Envoy.
422     if [ "${INBOUND_INTERCEPTION_MODE}" = "TPROXY" ]; then
423       # If an inbound packet belongs to an established socket, route it to the
424       # loopback interface.
42

[2020-01-06 14:48] bobvanderlinden commented on #18672
What is the status of this issue? Is it possible to set `header_key_format` for instance through LUA?

[2020-01-06 14:49] howardjohn commented on #19925
@lambdai did we change anything in the proxy that could trigger this?

[2020-01-06 14:55] hendrikmaus commented on #18443
I put the above config live before christmas; has been working fine so far.

I changed the `compression_level` to `BEST` to achieve a higher compression rate. Unfortunately I do not have metrics on the CPU consumption change handy right now, but the effect was insignificant.

[2020-01-06 15:09] christianAckman commented on #19910
this was the case. thanks for quick response.

[2020-01-06 15:09] #19910 closed

[2020-01-06 15:12] Stono commented on #19925
Spoke to soon.  Jumped up not longer after after I posted that comment.

<img width="802" alt="Screenshot 2020-01-06 at 15 11 00" src="https://user-images.githubusercontent.com/1486729/71826817-c82f6b80-3096-11ea-832f-79f3bdadf380.png">

So doesn't look like a proxy `1.4` thing

[2020-01-06 15:29] kramvan1 commented on #16656
@clyang82 Yes, at some point it would be great to get the new Istio operator into the hub, that would mean creating the csv/csd/project bundle.    If that is proposed, please let me know, I would like to compare the bundle with what we already have been using in the IBM Cloud.

[2020-01-06 16:00] howardjohn opened #19941 "TestEndpointUpdate fails frequently"
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1014 is one example

cc @hzxuzhonghu if you have any ideas. I looked into it a bit and didn't make much progress

[2020-01-06 16:03] howardjohn commented on #19925
The fact it goes so long without issues makes me think it may be from the config/xds code path. Perhaps something changes in the cluster, triggers an update, and then Envoy holds onto some old data structures or something? Getting the output of /memory on the envoy may give a little more info about if its allocated or just heap memory usage

[2020-01-06 16:05] Stono commented on #19925
Yeah I agree but I couldn’t correlate it to a specific event, albeit I’ve been dipping in and out of this so will have a deeper look tomorrow.

One of the guys on my team is making some changes to our injector config now so that we are able to remove the read only root, to enable us to heap dump.

It’s definitely triggered by something, just no idea what!  I’ll turn on more verbose envoy logs for

[2020-01-06 16:15] howardjohn commented on #19940
cc @rlenglet @abhide

[2020-01-06 16:28] yanolol commented on #19886
Guys, i resolve this problem addind https-grpc-service in my service.

[2020-01-06 16:36] howardjohn opened #19942 "When IN_BUILD_CONTAINER is set, don't use container"
This allows us to do something like `make shell` then `make ...` within the shell without trying to get multiple layers of docker. Basically if we are in the container, don't create new containers.

[2020-01-06 16:40] howardjohn opened #19943 "Build container: /gobin thrown away on each invocation"
On a fresh run of the build container, GOBIN=/gobin, and /gobin is empty. When running `make init`, we store the envoy binary there: https://github.com/istio/istio/blob/94c8d78639bcc92502e0ecb148abea51eb94334d/bin/init.sh#L29

Then, we throw away gobin on the next run, so we lose the envoy binary and things break (try `make pilot-test`. It may work the first time if you don't have `out/linux_amd64

[2020-01-06 16:42] dcseifert opened #19944 "Mixer Out of Tree Adapter mTLS error"
**Bug description**

After following the tutorials on how to develop a [Mixer-Out-of-Process-Adapter](https://github.com/istio/istio/wiki/Mixer-Out-of-Process-Adapter-Walkthrough) and extracting it as a [Mixer-Out-of-Tree-Adapter](https://github.com/istio/istio/wiki/Mixer-Out-of-Tree-Adapter-Walkthrough#build-an-out-of-process-adapter), [testing  the the Out-of-Tree-Adapter with mTLS](https://gith

[2020-01-06 16:45] kramvan1 commented on #19562
@elfinhe  I don't think this change can be supported by the operator controller, right?     There is NO way to order the ICP kubernetes resources such that they are processed correctly and consistently.     For the operator controller, it's watching a namespace or namespaces for a single ICP resource.
@linsun @sdake

[2020-01-06 17:15] howardjohn commented on #19930
Ah the memory usage is from the read/write buffers from gRPC.

1.4 codepath is https://github.com/istio/istio/blob/4ec8617c073268d2e4a75414bbbbbb66398c3cc3/pilot/pkg/bootstrap/server.go#L239 and 1.5 is https://github.com/istio/istio/blob/4ec8617c073268d2e4a75414bbbbbb66398c3cc3/pilot/pkg/bootstrap/server.go#L447

[2020-01-06 17:17] howardjohn commented on #19934
I think we support `--set a=b,x=z` syntax.
If you are going to by passing json I highly recommend you just use a file instead of dealing with the mess of trying to escape json

[2020-01-06 17:22] howardjohn commented on #19931
Please provide more details of what you did or we will not be able to help. Thanks

[2020-01-06 17:24] linsun commented on #19562
@kramvan1 it looks like helm support it for both install and template where you can specify multiples value files or set values.  For operator controller, I agree it will be challenging.  If we support it to match what Helm has, user would have to specify the multiple ICP files together in 1 command which kubectl doesn't have a easy way to specify it other than all files within a directory.

[2020-01-06 17:28] mkjoerg commented on #19944
We also tested this by deploying into a Kubernetes cluster in the istio-system namespace and mounted the istio mixer certificates. Same error picture here.

[2020-01-06 17:29] kramvan1 commented on #19562
@linsun the operator controller is simple watching the ICP resources, there is no way to order kubectl even within directories.       You could use kubectl -k (kustomize), but that would mean that kubectl is doing the merges and still giving a single ICP resource.

[2020-01-06 17:33] linsun commented on #19562
yes `kubectl -k` is what i was referring to.  I think is the only possible way to support this based on what kubectl provides.   and you are right, the controller would still be processing 1 single icp resource.

[2020-01-06 17:34] elfinhe commented on #19562
@kramvan1 as for the controller mode, I did not change the logic. So only one CR is supported now in controller.

I do not think we should support that for now. Instead users can use `istioctl profile dump` to get a merged ICPS and install it as CR. Controller can still use 1 CR as input which makes things easier to understand in controller mode.

[2020-01-06 17:35] rnkhouse opened #19946 "Requested quota 'requestcountquota' is not configured"
**Bug description**
I installed istio version `1.4.2` with disablepolicycheck to false. Following this guide for rate limitting. I am getting `Requested quota 'requestcountquota' is not configured` error.

**kubectl describe instance requestcountquota -n istio-system**

    Name:         requestcountquota
    Namespace:    istio-system
    Labels:       <none>
    Annotations:  kubectl.kubernetes.

[2020-01-06 17:35] kramvan1 commented on #19562
So, maybe a comment to the doc needs to be added to suggest that `kubectl -k` is a alternate way of doing this, especially for the operator controller.

[2020-01-06 18:00] sushicw opened #19947 "Better messaging if `istioctl analyze` can't find mesh config configmap"
From @davidebbo :

If `istioctl analyze` is run on a cluster without Istio installed, or run with `--istioNamespace` set to a namespace that doesn't contain Istio config, we get this message. It would be nice to more clearly communicate that 1) the issue is that Istio isn't detected and 2) the impact is that we use default mesh configuration values.

[2020-01-06 18:02] su225 commented on #18287
Shall I pick this one?

[2020-01-06 18:20] JimmyCYJ opened #19948 "Support Citadel agent to generate PKCS#8 type private key"
**Describe the feature request**
Some SDS client such as JAVA client requires to use PKCS#8 private key. In that case, Citadel agent should generate PKCS#8 private key, not the default PKCS#1 private key.

**Describe alternatives you've considered**

**Additional context**

[2020-01-06 18:20] #19948 closed

[2020-01-06 18:24] elfinhe opened #19949 "WordPress Hello World latency increases by 1 sec with istio 1.4.2 installed"
I installed istio with this doc: https://preliminary.istio.io/docs/setup/install/istioctl/

`istioctl manifest apply`

then I enabled auto injection

`kubectl label namespace default istio-injection=enabled`

after checking isito was installed successfully with bookinfo application, I installed WordPress, by following this doc: https://kubernetes.io/docs/tutorials/stateful-application/mysql-wordpr

[2020-01-06 18:26] douglas-reid commented on #19868
`20s` is fairly bad. we could use a custom http client with a much shorter timeout I suppose (though I'm not clear on the implications there).

[2020-01-06 18:33] howardjohn commented on #19868
I am not sure the best way to get there, but I would expect an upper bound of 250ms or so in the worst case. A lot of use cases like knative are strongly optimizing for startup time, so anything more would be pretty harmful

[2020-01-06 18:38] Dev25 commented on #19550
Related issue https://github.com/istio/istio/issues/14923

This would be super useful to have, especially for dealing with workloads talking to external/3rd party services and not having to deal with workarounds/creating complex VirtualServices before hand

e.g. watch out for a specific header (can't be `x-envoy-` since they get discarded) to indicate its safe to retry a specific POST request, the

[2020-01-06 18:45] douglas-reid commented on #19868
I guess we *could* also make the platform be explicit, rather than discoverable. That would remove the need for fallbacks and timeouts for irrelevant platforms.

[2020-01-06 18:48] howardjohn commented on #19868
its a bit hard if you have mixed deployments I would imagine though. It seems reasonable that we could just have some code that fires off a bunch of async calls for all the platforms (say in the future we have 10 we support, we don't want to wait 250ms for each), set a timeout on their response, and use whatever platform we get a positive response from? We could then additionally add an explicit o

[2020-01-06 18:52] douglas-reid commented on #19874
Prom with mTLS was working and tested. Was your test cluster using Permissive mode? I believe there was an issue identified earlier with requiring the "istio" ALPN for Permissive that obviously isn't being sent by Prom.

[2020-01-06 18:53] lei-tang opened #19950 "Support istiod using a certificate issued by Citadel"
**Describe the feature request**
In platforms that do not have k8s signing APIs, istiod can use a certificate issued by Citadel. This feature is to support istiod using a certificate issued by Citadel.

**Describe alternatives you've considered**
istiod uses a certificate issued by a non-k8s CA.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalabi

[2020-01-06 18:59] howardjohn commented on #19874
Its using strict mode. My understand is it will only scrape pods with this `istio-mtls` label which does not exist as far as I know. I'll send you my prom instance

[2020-01-06 19:06] lei-tang commented on #18458
@charlesguo404 What is the certificate you attached? Is it the certificate under /var/run/secrets/kubernetes.io/serviceaccount/ca.crt on a pod in your k8s cluster?
Meanwhile, to debug the certificate chain verification error, the entire certificate chain and the certificate under /var/run/secrets/kubernetes.io/serviceaccount/ca.crt on a pod in your k8s cluster are needed.

[2020-01-06 19:44] bianpengyuan commented on #19946
I think this is same as https://github.com/istio/istio/issues/19164 which is actively being worked on.

[2020-01-06 19:59] brian-avery commented on #18288
Hi @hprateek43 Happy New Year! Are you still working on this? Any questions that I can answer?

[2020-01-06 20:26] #19668 closed

[2020-01-06 20:41] brian-avery commented on #18287
Hi @su225,

Please feel free to pick this one up. Let me know if you have any questions.

Thanks,
Brian

[2020-01-06 20:43] brian-avery opened #19953 "[istio.io testing] Need test for Health Checking of Istio Services"
**Describe the feature request**
We need to develop a test for the [Health Checking of Istio Services](https://preliminary.istio.io/docs/ops/configuration/mesh/app-health-check/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integratio

[2020-01-06 20:57] nrjpoddar commented on #17535
Yes I will work on it next. Thanks for checking in!

[2020-01-06 21:29] #19579 closed

[2020-01-06 21:39] kalyank23 commented on #19933
Gateway yaml file:

[code]

And virtual service:

[code]

Mesh policy:

[code]

Destination rule:

[code]

I tried with both Secure Gateways (SDS) and Secure Gateways (File Mount), but no luck.

[2020-01-06 21:44] kalyank23 commented on #19933
Curl command used is

`curl -vvv -HHost:helloworld.example.com --resolve helloworld.example.com:31390:$INGRESS_HOST --cacert helloworld.example.com/2_intermediate/certs/ca-chain.cert.pem https://helloworld.example.com:31390/flask1 --cert helloworld.example.com/3_application/certs/helloworld.example.com.cert.pem --key helloworld.example.com/3_application/private/helloworld.example.com.key.pem`

I a

[2020-01-06 21:55] maks-mikhalov commented on #19934
Have the same issue. I tried with istioctl --set, IstioControlPlane yaml and istio operator. Getting the same result everywhere - predefined accessLogFormat is not propagating to the configmap.
The temporary fix is patching istio configmap after istio has been deployed.

[2020-01-06 21:56] taylorreece opened #19956 "Deleted remote clusters are still queried by mixer after deletion"
**Bug description**
When a remote cluster is deleted by deleting a secret with the "istio/multiCluster" label, that cluster continues to be queried by istio-telemetry and istio-policy.

**Expected behavior**
I would expect mixer pods to stop querying the remote cluster's kubernetes endpoint

**Steps to reproduce the bug**
Install istio, add a remote cluster, and then remove the remote cluster

**V

[2020-01-06 22:05] yangminzhu commented on #19424
@jammerful This should be fixed in 1.4.3 with the merge of https://github.com/istio/istio/pull/19912. Is it possible for you to verify the fix? The 1.4.3 is not released yet so you have to build it manually from the release-1.4 branch. If you happen to have some JWT token that could be shared with me, I can also verify it locally. Thank you.

[2020-01-06 22:44] sdake commented on #19943
Will test. envoy is supposed to output to out/os_arch/envoyblob, not to /gobin.

Cheers
-steve

[2020-01-06 23:14] christian-posta opened #19958 "istioctl manifest generate --set installPackagePath hangs"
Using a local clone of the the `istio/installer` package, I saw the `istioctl manifest generate` command hang.

Adding `--log_output_level debug --logtostderr` gave me the following insight:

[code]

Suggestion to add a timeout or indication for this and maybe suggest a fix? or check `ulimit` and warn if it's too low?

[2020-01-06 23:16] howardjohn commented on #19958
I would think that
1. We fail on `fcntl: too many open files` instead of log info
2. We expose this without additional logging flags
3. We exit instead of hang

and most importantly, we don't create so many watches that we even run into this problem in the first place. I am not sure why we need to watch files for a one-shot command like istioctl?

[2020-01-07 00:03] ostromart opened #19959 "Add Service annotations to KubernetesResourcesSpec"
Currently there's no way to set this (even with patch mechanism) other than editing the charts.

[2020-01-07 00:05] jammerful commented on #19424
@yangminzhu Awesome, thank you so much. Unfortunately, I can't easily build istio from a branch. I can however give you a JWKS to test:

[code]

Let me know if can help you in any other way.

[2020-01-07 00:41] yangminzhu commented on #19424
@jammerful I just tested the JWKS in my local build and I didn't see any errors in the envoy log. I do not have the JWT for testing with a real request but I think the log is enough to tell that the bug had been fixed.

I'm closing this now and feel free to re-open if there is still any issues, thank you.

[2020-01-07 00:41] #19424 closed

[2020-01-07 01:00] howardjohn opened #19961 "ServiceEntry instance deletion does not work"
Create a deployment, httpbin, in default namespace

[code]

Now if you check /clusters you will see 2 endpoints.

Delete the service entry, you will see 2 endpoints still, when there should be one.

I think what we need to do is:

If event == delete, then update instances here to delete: https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/external/servicediscovery.go#L91

This won

[2020-01-07 01:00] howardjohn commented on #19961
@ramaraochavali do you have a chance to pick this up since you have been working in this area?

[2020-01-07 01:19] rlenglet commented on #19940
This has been missing since the initial PR that introduced IPv6 support: https://github.com/istio/istio/pull/11916.

[2020-01-07 01:29] hzxuzhonghu commented on #19941
/assign

I will have a look

[2020-01-07 01:31] howardjohn commented on #19941
I started looking at this again, its not just that test but many in the suite. Seems like some pods are missing for some reason. The k8s informer doesn't have them at all

[2020-01-07 01:37] incfly commented on #17837
Without taking a further look, I guess this can be due to the reason that if activator is deployed in different namespace, its certificate SAN will be different, thus the secure naming verification from client will fail. This suppose can be fixed by DestinationRule of using corresponding subject_alt_name. (That mode requires mode MUTUAL, won't working with SDS, etc, the proper fix is to add secure

[2020-01-07 01:38] howardjohn commented on #19941
informer.Get() will return no pods, but client.CoreV1.Pods() will return the pods

[2020-01-07 02:14] hzxuzhonghu commented on #19941
We can use `Informer().GetIndexer().Add` to add pods and nodes instead of using the fake client

[2020-01-07 02:16] howardjohn commented on #19941
I am not sure how that would work. You mean create a fake client, call newInformer(fake-client), but then use `Informer().GetIndexer().Add` instead of fake-client.Add()?

I am going to open a k8s issue as well since it seems like a bug

[2020-01-07 02:24] hzxuzhonghu commented on #19941
yes, i mean that. And just take a look at some k8s ut, they do not use it as istio.

[2020-01-07 02:28] howardjohn commented on #19941
That would involve changing our real implementation, not just the test,
which isn't great

On Mon, Jan 6, 2020 at 6:24 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-01-07 02:31] howardjohn commented on #19941
nevermind, I figured it out. I'll send a PR

[2020-01-07 02:47] edude03 commented on #19935
@hzxuzhonghu I can't run that since I've fixed it now by removing `site-b` from my rules, but have a look at https://gist.github.com/edude03/a4ec5e0b651e0bbbad92d07c962ef8f8

[2020-01-07 02:54] zhongfox commented on #19793
figured out：

1. when remote pod connect to pilot, pilot will try to find the pod info, from the aggregate registries, pilot will travel all the registries(primary cluster registry, service entry registry, remote registry ...)

https://github.com/istio/istio/blob/1.3.6/pilot/pkg/serviceregistry/aggregate/controller.go#L234

2. in version 1.3, some patch logic was added to GetProxyServiceInstances:

[2020-01-07 03:07] charlesguo404 commented on #18458
@lei-tang yes，It's the certificate /var/run/secrets/kubernetes.io/serviceaccount/ca.crt  on a pod.
I suspect it is because my service-account-private-key-file certificate is inconsistent with my tls certificate, i will try change this

[2020-01-07 03:25] hzxuzhonghu commented on #19935
site-b will generate a listener filterchain with filterchainmatch = {}, but we have removed duplication by this.
https://github.com/istio/istio/blob/41dee99277dbed4bfb3174dd0448ea941cf117fd/pilot/pkg/networking/core/v1alpha3/listener.go#L1900

So I think still need more info to get the root cause

[2020-01-07 03:32] edude03 commented on #19935
I spoke to @howardjohn on slack about this and he said

[code]

[Link to the thread](https://istio.slack.com/archives/C37A4KAAD/p1578134974200600l)

but if there is more information I can provide let me know :)

[2020-01-07 03:44] hzxuzhonghu commented on #19935
But i can not reproduce with the above config

[2020-01-07 04:08] #19941 closed

[2020-01-07 04:14] ramaraochavali commented on #19961
@howardjohn Sure. Will take a look

/ assign

[2020-01-07 05:01] #14306 closed

[2020-01-07 05:02] #15186 closed

[2020-01-07 05:56] tony-Ma-yami commented on #19931
configuration like this :
`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: myapp
spec:
  hosts:
  - myapp.com # cannot use "*" here since this is being combined with the mesh services
  - helloworld.default.svc.cluster.local
  gateways:
  - mesh # applies internally as well as externally
  - myapp-gateway
  http:
  - match:
    - uri:
        prefix: /hello
      ga

[2020-01-07 06:18] ramaraochavali commented on #19961
@howardjohn looking at the delete part,

Based on above service entry, which two endpoints are getting created, when I tried via a test case, I see only endpoint.

Also delete is triggering Full Push, I verified that part via test again - Should n't the full push clear every thing?

[2020-01-07 08:07] Stono commented on #19925
OK @howardjohn so I've managed to correlate the spikes to some proxy logs that are interesting:

[code]

<img width="764" alt="Screenshot 2020-01-07 at 08 04 52" src="https://user-images.githubusercontent.com/1486729/71878788-6cabbf00-3124-11ea-81f2-0d95def23b02.png">

Full log attached.

[proxy-logs.txt](https://github.com/istio/istio/files/4029470/proxy-logs.txt)

[2020-01-07 08:40] Kyrremann commented on #14743
Can you also add [Dask](https://dask.org/) to the list, as it communicate over IP between the workers. See thread: https://github.com/dask/dask-kubernetes/issues/197

[2020-01-07 08:45] yangdihangN opened #19964 "The corresponding Endpoint remains after the ServiceEntry resource is deleted"
**Bug description**
 The corresponding Endpoint remains after the ServiceEntry resource is deleted

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
There is no  corresponding Endpoint in envoy memory， when Se

[2020-01-07 09:06] ramaraochavali commented on #19964
This seems duplicate of https://github.com/istio/istio/issues/19961

[2020-01-07 09:40] ramaraochavali commented on #19961
I think I found this, even a full push just looks at the EndpointShards for pushing, I guess in case of delete we need to update the EndpointShards by triggering eds update with empty instances.

[2020-01-07 10:34] Stono commented on #19925
Also I just stumbled across this, if it helps you narrow things down.  Mixer (not the proxy, mixer itself) did the same jump a few days ago:

<img width="917" alt="Screenshot 2020-01-07 at 10 34 04" src="https://user-images.githubusercontent.com/1486729/71889093-53613d80-3139-11ea-8728-e6b4a9904a02.png">

[2020-01-07 11:59] #19884 closed

[2020-01-07 12:00] elieser1101 commented on #18288
Hi @brian-avery i would like to help with this or any of the istio.io tests, i'm trying to run this on minikube, is that a valid config to run this tests?

[2020-01-07 13:41] Hisol commented on #6388
I am just using a test K8s cluster on local machine, book keeping sample is all configured in default namespace, including gateways, I am getting 503 also.  Is there a fix for this? or details of what I have done wrong?

[2020-01-07 13:41] dgn commented on #19953
@shamsher31 are you interested in taking a look at this? I can answer questions should any come up

[2020-01-07 13:57] ramaraochavali commented on #19961
I think I see the issue - the `updateServiceShards` is skipping the service if it is not available.
https://github.com/istio/istio/blob/eaf743a4671dc70cc5b97b5c10388e4384961d89/pilot/pkg/proxy/envoy/v2/eds.go#L274

Deleted service entry won't be available there - We need to handle that case.

[2020-01-07 14:16] mandarjog commented on #19874
@howardjohn The pods are scraped even when the `value=istio-mtls` is not present, since it was *never* present. There is something else wrong in your setup.
I run my tests with prom app scraping enabled from time to time. Like @douglas-reid mentions, permissive mode does not work anymore.

Have you added scrape annotation to your deployment?
You need to change `prometheus_scrape: true` in value.ya

[2020-01-07 14:35] GregHanson commented on #18928
fixed wording in the README.  Adding disclaimer to section in question since Consul items are not included in Istio.io docs or any of our release tests

[2020-01-07 14:35] #18928 closed

[2020-01-07 15:34] richardwxn commented on #19522
@mg03 Actually the enableCoreDump is set to false as default. Did you run any other command to turn on coredump before? And how did you install the istio gateway?

[2020-01-07 15:34] rnkhouse opened #19966 "upstream connect error or disconnect/reset before headers. reset reason: connection termination"
**Bug description**
I upgraded istio from 1.3.6 to 1.4.2 and suddenly getting below error. Are there any changes that I need to make on version 1.4.2 to run previous applications? How can I debug this error to know the actual issue? In the logs there is no info other than error code 503.

I checked service is up and running with the valid endpoint.

**service.yaml**

    ---
    apiVersion: v1

[2020-01-07 16:00] howardjohn commented on #19931
Can you get a config dump from the client and the access logs: https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

[2020-01-07 16:08] su225 commented on #18285
I'll take this one as well.

[2020-01-07 16:09] su225 commented on #18284
I'll take this one too.

[2020-01-07 16:09] howardjohn commented on #19925
Interesting its mixer itself. I can't think of any scenario that would cause both Envoy and Mixer to have increased memory usage, so that is pretty strange.. the only thing I can think of for that would be https://github.com/istio/istio/issues/19481 which is fixed in 1.4.3

So based on the logs, we close the XDS connection exactly 5 minutes after the last update (so likely from keepalive), then re

[2020-01-07 16:13] howardjohn commented on #19874
I misunderstood what was going on. On my cluster i have 60 pods in the k8s-service-monitor (plain text) that all fail. I thought this was from tls, but its the `client` which has no sidecar. There are 0 in secure.

Adding the scrape label to a pod with sidecar now shows up in the secure monitor, but it fails with "received HTTP response to HTTPS request".

How does it know to scrape it with plaint

[2020-01-07 16:18] Stono commented on #19925
Hey,
So it's happening on some (about 10 that I've spotted, from 320).  They're all deployed identically as we have standardised application deployments.  Their Sidecars are only configured with their dependent services which vary obviously but other than that, they're identical.  I wasn't able to draw any correlation between egress routes.

I have someone on my team looking at using the memory pr

[2020-01-07 16:22] mandarjog commented on #19874
Received http response for https means
1. Permissive mode
2. Endpoint with some ports work and some do not

[2020-01-07 16:30] haooliveira84 commented on #6566
I have the following problem applying this config

`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: go-demo-7
spec:
  hosts:
  - go-demo.cluster.xxxx.co
  gateways:
  - go-demo-7
  http:
  - match:
    - uri:
        prefix: /
    route:
    - destination:
        host: go-demo-7
        port:
          number: 80

---
apiVersion: networking.istio.io/v1alpha3
kind:

[2020-01-07 16:43] brian-avery opened #19967 "[istio.io testing] Need test for Visualizing Your Mesh"
**Describe the feature request**
We need to develop a test for the [Visualizing Your Mesh
](https://preliminary.istio.io/docs/tasks/observability/kiali/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A YouTube vide

[2020-01-07 16:51] haooliveira84 commented on #6566
I found the solution

I need change de TLS cert termination to

`    tls:
      mode: PASSTHROUGH`

[2020-01-07 17:01] elieser1101 commented on #18283
I'll try with this one

[2020-01-07 17:22] taylorreece opened #19968 "DNS cannot be resolved via TCP when strict mTLS is enabled"
**Bug description**
This seems very similar to #11658, which was marked "resolved", but I don't believe is.  Using a basic install of istio with mTLS enabled, containers cannot resolve DNS via TCP (only via UDP).  This is troublesome because DNS's behavior is to fall back to TCP if the DNS response is large (larger than 512 bytes, I think?).  For example, in a container with strict mTLS enabled,
[

[2020-01-07 17:33] shamsher31 commented on #19953
Sure, I will work on it.

[2020-01-07 17:44] mg03 commented on #19522
@richardwxn : No we did not run any command to enable coredump. The istio files were generated from the istio repo using helm.
[code]

[code]

Applied the above yaml files.

Attaching 01-crd.yam and 02-istio-sds.yaml as txt files
[01-crd.yaml.txt](https://github.com/istio/istio/files/4031748/01-crd.yaml.txt)

[02-istio-sds.yaml.txt](https://github.com/istio/istio/files/4031756/02-istio-sds.yaml.tx

[2020-01-07 17:58] devkid opened #19970 "Selector of Gateway custom resource is not bound by namespace"
**Bug description**

The [documentation](https://istio.io/docs/reference/config/networking/gateway/#Gateway) for `Gateway` custom resources states:

However, this is not the case. The default `istio-ingressgateway` workload in the `istio-system` that comes with the Helm chart setup can be configured with `Gateway` resources in any other namespace.

I would consider this a security risk as it viola

[2020-01-07 18:16] howardjohn commented on #19843
https://github.com/kubernetes/code-generator/tree/master/cmd/import-boss

[2020-01-07 19:16] nerusnayleinad opened #19972 "In VirtualService, the only host that works is the one with the same name as the service."
I am not seeing why is this failing, but when I add hosts (other then the services inside the cluster) to the VirtualService, I get 404 for all requests.

I have 2 services; one of them is serving "nginx", and the other one "apache" on `/path1`.

/ # for i in `seq 1 10`; do curl server/path1/; done
apache
nginx
apache
nginx
nginx
apache
nginx
apache
nginx
apache

Now, I create the VirtualService a

[2020-01-07 19:47] prabushyam commented on #19767
Fixed with https://github.com/istio/proxy/pull/2617

[2020-01-07 19:47] #19767 closed

[2020-01-07 20:24] brian-avery commented on #19953
Thanks! Let me know if you have any questions.

[2020-01-07 20:31] #19817 closed

[2020-01-07 20:37] yangminzhu opened #19975 "Investigate authorization policy blocking prometheus scraping metrics at port 15090"
**Bug description**
Copied from a customer (Chad Wilson from ThoughtWorks ) report on slack :

One weird thing that we have found is that under the new policy Prometheus scrapes of our pods on a non-service port (configured by `prometheus.io` anotations) and scrapes of the Envoy metrics port 15090 are now blocked by the AuthorizationPolicy where they were not before.
However we don't quite underst

[2020-01-07 20:41] elieser1101 commented on #18283
Hi @brian-avery let me know your thoughts about this!!

[2020-01-07 20:46] yangminzhu commented on #19975
The user reports that Istio authorization policy is blocking Prometheus from accessing at port 15090 and this was resolved after adding the port to the authorization policy. It's a little bit strange here because the port 15090 should not be enforced by authorization policy because the Envoy listener for port 15090 is added statically.

I couldn't reproduce this for now but need more time to inves

[2020-01-07 21:13] patrickppeng commented on #19886
Hi yanolol,
I'm experiencing the same issue with Istio 1.4.2. Can you provide more details how you added the https-grpc-service to make it work?

thanks,

[2020-01-07 21:36] aadhik commented on #19678
https://istio.io/docs/tasks/policy-enforcement/denial-and-list/ - talks about IP based filtering , but the client IP is not being preserverd , so how to implement the above filter

[2020-01-07 22:00] lambdai commented on #19925
Based on what you described so far, the memory usage is highly like originate from update procedure.
Some ideas:
1. proto messages: Pilot will push the latest XDS config to envoy. No matter whether envoy would digest them. Those message could be left in grpc buffer which is 256 MB by default. The stats of xds cluster bytes transmitted and number LDS/CDS/EDS update could be the estimation. If so ,

[2020-01-07 22:01] AceHack commented on #3430
I have this same issue, can we have a generation option for uninstalling that generates in reverse order?

[2020-01-07 22:12] lambdai commented on #19925
2. Too many update: There are multiple version tracked in envoy runtime. Including draining listener, Snapped RDS until the upstream connection is gone, similar to EDS which I don't have a clear sense.
I don't have a solution for this though

[2020-01-07 22:57] incfly commented on #19975
/cc @incfly

[2020-01-07 23:56] infa-rbliznet opened #19980 "Ingress Gateway is Ready before a config is synced which causes connection refuses on client"
**The bug description:**
When we try to update ingress-gateway or when it's autoscalled by Horizontal Pod Autoscaller we see connection drops (connection is refused on the client side). Time duration is very short, less than 1s but we fill it can be an issue with high traffic volume.  We found that Ingress is Ready as soon as Envoy is ready however initial configuration from pilot might not applie

[2020-01-08 00:15] patrickppeng commented on #19886
@howardjohn do you know anything changed on HTTP2 in proxy 1.4.x? or any new configuration required? It worked on the same upstream service with Istio 1.3.1.

[2020-01-08 00:23] esnible opened #19981 "istioctl version panic"
Reported in Istio Slack by Adam Miller

$ istioctl version
panic: runtime error: index out of range [0] with length 0
goroutine 1 [running]:
istio.io/pkg/version.identicalVersions(0x4140a00, 0x0, 0x0, 0xc00083d928)
        istio.io/pkg@v0.0.0-20191030005435-10d06b6b315e/version/cobra.go:151 +0x12a
istio.io/pkg/version.coalesceVersions(...)
        istio.io/pkg@v0.0.0-20191030005435-10d06b6b315e/ve

[2020-01-08 00:26] howardjohn commented on #19980
The intent is that this is happening. Can you provide logs from the gateway?

[2020-01-08 00:26] yxue opened #19982 "cannot install Istio CRD"
I was trying install the Istio using Helm. When I apply
[code]

and I found that

[code]

It looks like that Istio CRD has been installed. I am on master branch (c1f56e27838e16cf75431e3dfcf2f7b6ab801772)

When I reset to some random old commit (4d7d32e7b4b2ab573f0e814d0aa05aa8ca178e79), the CRD is installed successfully.

**Steps to reproduce the bug**

Follow the steps on this [page](https://isti

[2020-01-08 01:16] ostromart commented on #19921
This seems to be a problem with StringSliceVarP, since it seems I can pass numbers to StringVarP flags ok. May need to re-implement that flag as a StringVarP in that case.

[2020-01-08 01:18] ostromart commented on #19958
We don't really need those watches. Originally that was put in place so that charts could be updated without restarting the controller and istioctl happens to share the same code.

[2020-01-08 01:30] ostromart commented on #19873
I think this is because MutatingWebhookConfig is not automatically pruned. Easiest solution would be to use the --prune-whitelist flag internally to add that.

[2020-01-08 01:33] ostromart commented on #19735
I think an acceptable solution would be to add a link to this issue in the log.

[2020-01-08 01:56] #19964 closed

[2020-01-08 01:56] carolynhu opened #19986 "istio/tools feature request: support rendering user uploaded perf csv data"
As in istio/tools perf repo, graph.py is broken right now. Users cannot successfully generate proper graphs for their perf results. We should provide the functionality that user can upload their csv data to our website for rendering purpose.

/cc @mandarjog @yxue

[2020-01-08 02:05] lei-tang opened #19987 "Hard-coded namespaces in istiod"
**Bug description**
In istiod, there are hard-coded namespaces in "istiod.istio-system", e.g.,
- https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/certcontroller.go#L123
- https://github.com/istio/istio/blob/master/pilot/pkg/bootstrap/certcontroller.go#L124
	if hostname == "istio-pilot.istio-system.svc" {
		names = append(names, "istiod.istio-system.svc")
	}
- https://github.com/istio

[2020-01-08 02:25] #16127 closed

[2020-01-08 04:57] howardjohn commented on #19918
https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1031

[2020-01-08 05:02] #15155 closed

[2020-01-08 05:02] #15720 closed

[2020-01-08 05:03] #16778 closed

[2020-01-08 05:04] #17363 closed

[2020-01-08 05:07] #18680 closed

[2020-01-08 05:10] mandarjog commented on #17332
@rshriram i don’t think we can restart envoy, because quarantine is the main use case and we typically want to inspect the proxy and app after quarantine and not restart it.
Perhaps we can directly support quarantine instead of this particular method.

[2020-01-08 05:15] yxue commented on #19660
In general, protocol sniffing includes both **TLS sniffing** and **HTTP sniffing**. The purpose for *TLS sniffing* is extracting *sni*, *alpn* from the client hello and *HTTP sniffing* is distinguishing HTTP (HTTP/1.x or HTTP/2) from other protocols.

**TLS inspector** is used for *TLS sniffing* and **HTTP inspector** is used for *HTTP sniffing*.  One listener could be configured with either TLS i

[2020-01-08 05:18] howardjohn commented on #19660
Can we just remove the timeout? this has caused us nothing but pain to handle the 0.1% of cases where we have server first protocol. For those cases they can explicitly declare that and we never need to detect

[2020-01-08 06:10] yxue commented on #19660
Explicitly declaring the port is not enough since all the inbound traffic will be redirected to port 15006 by default. Considering plaintext MySQL traffic, when the traffic hits server, the traffic will always be pending in the listener filter phase, i.e., TLS inspector and HTTP inspector.

[2020-01-08 06:53] cvmmojo commented on #19477
facing the same issue with istio 1.3.5

[2020-01-08 07:27] pixystone commented on #17079
Thank you @athurner !
Your information help me a lot.

I met the same error message when I applied this gateway config before I enable the sds support at ingressgateway ( followed [](https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/) :

[code]

All I have done to resolve it are only change the order of my operations.
I must restart `istio-ingressgateway` before I applies t

[2020-01-08 07:30] richardwxn commented on #19522
From the yaml files you attached, the enabledCoreDump is set to false actually. Can you check the enabledCoreDump value from configmap used by sidecar injector by ```kubectl get configmap istio-sidecar-injector -n istio-system -o yaml```.  Also can you restart the ingressgateway pod to see whether newly injected proxy container still have core dump enabled?

[2020-01-08 07:46] morvencao commented on #19921
It's actually caused `ParseValue` at: https://github.com/istio/operator/blob/master/cmd/mesh/manifest-common.go#L195

If you try to print the ummarshal error at https://github.com/istio/operator/blob/master/cmd/mesh/manifest-common.go#L206
you will find it's actually caused a bad type after parsing the value:
[code]

[2020-01-08 07:55] ahmedwaleedmalik opened #19990 ""Connection was Closed" error after applying AuthorizationPolicy"
**Bug description**

Getting error "Connection was closed" after applying authorization policy. I want a micro-service to only allow incoming traffic from a single micro-service and deny all others by default.

[X ] Configuration Infrastructure
[X] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[

[2020-01-08 08:23] hzxuzhonghu commented on #19660
Is that to say we can not bypass the inspector even if we have named port?

[2020-01-08 08:24] peter-fe commented on #17886
Is there any movement on this issue?

It seems that the mesh expansion show case in the documentation is expecting to have global.controlPlaneSecurityEnabled=true set, or at least I assumed that, because of this part in the cluster.env

Also it was mentioned [here](https://discuss.istio.io/t/citadel-rejects-requests-from-mesh-expansion-node/2124/4)

But to be honest it doesn't seem to make any sen

[2020-01-08 09:40] nerusnayleinad commented on #19972
I did some more tests today, and it just made me more confuse. When I hit the service `istio-ingressgateway` directly, it works fine, but when I try through `NodePort, it fails:

[code]
Through `NodePort`:

[code]

[2020-01-08 10:11] cinder-fish commented on #19925
Hi, I work in @Stono's team, we've observed this happening again for the same application and this time have captured some debug output from `/memory` `/stats` and `/config_dump` at points before and after the memory increase (attached)

<img width="706" alt="Screen Shot 2020-01-08 at 09 59 15" src="https://user-images.githubusercontent.com/2643547/71969084-e663ab80-31fd-11ea-9ef5-e702fb8d5aa2.png

[2020-01-08 10:22] cinder-fish commented on #19925
There's another pod from the same replicaset whose envoy was OOM killed at the same time (2020-01-07T22:10:58Z)

[2020-01-08 11:10] nerusnayleinad commented on #19972
I exposed the deployment `istio-ingressgateway` with a different name, and it is not working either. So, I have a service, called `demo` that is pointing to `istio-ingressgateway` pod, but I still get 404:

[code]

[2020-01-08 11:38] dudiakash commented on #18229
I need to use istio 1.0.5 because I am working on OPENSHIFT cluster. can anybody help me how do I setup
pilot.env.PILOT_INBOUND_PROTOCOL_DETECTION_TIMEOUT=0s
global.proxy.protocolDetectionTimeout=0s

these values in that case as manifest command is not there istioctl 1.0.5 version.

[2020-01-08 11:49] ragoragino commented on #19934
Although what @maks-mikhalov mentions is another issue, it seems to occur also in our cluster. When deploying an adapted TEXT version of our log format, there is no change in the istio configmap (Istio version 1.4.2). However, I believe this would need to be addressed in another bug report.

@howardjohn we need to automate our cluster creation and therefore we need to install Istio without manuall

[2020-01-08 12:02] tareqhs opened #19993 "Wildcard gateway broken in upgrade 1.2 to 1.4"
**Bug description**

I'm upgrading from 1.2.2 to 1.4.2 in my kubernetes cluster using the provided helm chart. I have a pair of VS and GW that look like this and used to work perfectly in 1.2.2 .
[code]
[code]
I have a wildcard host configured via a central gateway. A namespace `rabbit` contains a service `rabbit-service`. A virtual service inside `rabbit` configures a single host in the wildcard

[2020-01-08 12:13] rvasilevsf commented on #17572
@lei-tang trustworthy JWT support is now available under Vault 1.3.1 - https://github.com/hashicorp/vault/pull/7968#issuecomment-566581920

[2020-01-08 14:16] esnible commented on #19981
Closing as a duplicate of https://github.com/istio/istio/issues/18925 .  This fix is in master, not 1.4.x.

@howardjohn Should https://github.com/istio/pkg/pull/90 be back-ported to Istio 1.4.x?

[2020-01-08 14:16] #19981 closed

[2020-01-08 14:56] xeviknal opened #19994 "AuthorizationPolicy documentation errors"
**Bug description**
There are couple of broken references at [AuthenticationPolicy reference page](https://istio.io/docs/reference/config/security/authorization-policy/).

1. [WorkloadSelector](https://istio.io/docs/reference/config/security/authorization-policy/#AuthorizationPolicy) - In the table, in the selector row description, the column Type has the WorkloadSelector link broken.

2. [Conditi

[2020-01-08 15:00] #19791 closed

[2020-01-08 15:04] howardjohn commented on #18229
that feature isn't in 1.0, so you can't disable it since it doesn't exist

On Wed, Jan 8, 2020, 3:38 AM dudiakash <notifications@github.com> wrote:

[2020-01-08 15:06] howardjohn commented on #19660
Yan, we can just make them declare themselves as server first. Nobody wins from the timeout. Server first loses from increased latency, and normal application lose from bugs like this. There is really no good reason to have this timeout

[2020-01-08 15:10] yanolol commented on #19886
Hello @patrickppeng
I addind https-grpc in the service name port

[code]

I am still trying to understand why this issue occurs, but I believe it is something related to TLS because of its authentication.

[2020-01-08 15:19] uhinze commented on #19615
Just stumbled on this as well. Tried around a bit as well and found the following chain of errors:
- many `iptables` and `ip6tables` commands fail
- errors aren't shown because all output goes to /dev/null
- also script doesn't execute along the way as it's not `set -e` (by design I guess)
- last command also fails, which is `ip6tables -t nat -X ISTIO_IN_REDIRECT`. When I execute this separately a

[2020-01-08 15:26] karlhungus opened #19995 "TCP Traffic Shifting task bug"
**Bug description**

Attempting to run through the task [TCP Traffic Shifting](https://istio.io/docs/tasks/traffic-management/tcp-traffic-shifting/), fails when attempting to retrieve the INGRESS_PORT (step 3):

`export INGRESS_PORT=$(kubectl -n istio-system get service istio-ingressgateway -o jsonpath='{.spec.ports[?(@.name=="tcp")].port}')`

**Expected behavior**

I expected to get a port from t

[2020-01-08 15:48] chaudyg opened #19996 "Proxy unable to connect to Pilot after 1.3 release"
**Bug description**

All my pods are stuck with the following error on the `istio-proxy` container on istio 1.3.X and 1.4.X, but not on 1.2.X.
[code]

It seems to be related to iptables. When I `exec` into the `istio-proxy` pod, the connection to pilot hangs
[code]
I *think* the started after the includeInboundPorts changed from the container ports  [in 1.2](https://github.com/istio/istio/blob/1.2

[2020-01-08 16:04] esnible opened #19997 "istioctl manifest apply upgrades without confirmation"
`istioctl manifest apply` MUST ask for confirmation unless `--skip-confirmation` is supplied.

It does.  However, `istioctl manifest apply --set profile=demo` also MUST ask, and it doesn't.

In addition, `istioctl manifest apply --dry-run` expects confirmation.  It shouldn't, the default for skip-confirmation should be TRUE for dry runs.

[2020-01-08 16:09] esnible opened #19998 "istioctl manifest apply --dry-run reports errors, but without --dry-run it succeeds"
The `--dry-run` option should not report errors that will not happen when the actual `apply` happens.

Using 1.5.0-alpha.0,

[code]

[2020-01-08 16:13] esnible commented on #19997
At the same time, let's change the text for the `--filename` parameter:

[code]

should be

[code]

[2020-01-08 16:19] howardjohn commented on #19925
Ok so based on the above, the config dump is the same. The heap size jumped up but allocated remains the same. @lambdai

[2020-01-08 16:21] howardjohn commented on #19934
You can pass istioctl a file like `-f`. See https://istio.io/docs/setup/install/istioctl/#configure-the-feature-or-component-settings

[2020-01-08 16:35] esnible opened #19999 "istioctl manifest apply --set has poor/incorrect CLI usage instructions"
`istioctl manifest apply --help` explains:

[code]

@frankbu The CLI usage SHOULD tell users that the path values are documented at https://istio.io/docs/reference/config/istio.operator.v1alpha12.pb/#IstioControlPlaneSpec

`--set` is used to:

- choose a profile (`--set profile=demo`)
- enable/disable components (`--set policy.enabled=true`)
- override Istio settings (`--set values.global.mtls.ena

[2020-01-08 16:40] esnible opened #20000 "istioctl manifest apply should preserve the IstioControlPlane custom resource used"
The custom resource is needed for the `istioctl verify-install` command.

I'd like to see it preserve it in the cluster by default, in the CLI's file system optionally.

`istioctl verify-install` has an issue to be able to read these https://github.com/istio/istio/issues/18547

`istioctl verify-install` needs to know what the user installed.  Currently they do they by using what Helm generates whe

[2020-01-08 16:46] frankbu commented on #19994
Both of these links are generated from the .proto file in istio/api. They need to be fixed there.

[2020-01-08 16:46] chaudyg commented on #19996
For reference, those are the iptables rules
[code]

[2020-01-08 16:58] tareqhs commented on #19993
I've looked into the access logs inside ingressgateway, I can see lines like this:

Also if I exec into the ingressgateway container and send manual curl requests to the service itself is fine:
[code]

These logs are printed in pilot after creating the virtual service object:
[code]

[2020-01-08 17:04] yxue commented on #19660
We need timeout for server first protocol. The server first protocol cannot work without timeout under current capture all framework.

[2020-01-08 17:16] rnkhouse commented on #19477
I am confirming same issue on version 1.4.2

I found this in ingress gateway logs:

    {"bytes_sent":"103","upstream_cluster":"-","downstream_remote_address":"xx.xx.xx.xx6:51938","authority":"bookinfo.example.com","path":"/productpage","protocol":"HTTP/2","upstream_service_time":"-","upstream_local_address":"-","duration":"1000","downstream_local_address":"10.2.0.29:443","upstream_transport_failu

[2020-01-08 17:22] howardjohn commented on #19660
Thats why I am suggesting that the .1% of users with server first protocol explicitly declare themselves server first

[2020-01-08 17:27] #19959 closed

[2020-01-08 17:30] yxue commented on #19660
How will declaring server first work? Declaring server first and naming the port will not work. User has to exclude the server first port from capturing.

[2020-01-08 17:41] howardjohn commented on #19660
Why would it not work? They just declare they are server first and we remove all the sniffing since its going to time out anyways. They get the same behavior except without a 100ms delay, at the cost of adding an annotation on their pod or something. And the other 99.9% of users don't run into avoidable bugs like this one

[2020-01-08 17:46] chaudyg commented on #19996
Seems that I am also able to make things work with
[code]

[2020-01-08 17:50] infa-rbliznet commented on #19980
@howardjohn Could you please clarify why it's intent? I understand the possible intent on configuration update, we would want to keep routing the traffic regardless if configuration was updated or not but in case of create, ingress cannot accept any traffic , so it's not ready by definition of "Ready".

Here are the logs:
[custom-gateway-74655f685d-sm8qs.log](https://github.com/istio/istio/files/4

[2020-01-08 17:51] howardjohn commented on #19980
I mean we have code that waits until the config is synced before it is marked as ready

[2020-01-08 17:53] yxue commented on #19660
https://github.com/istio/istio/issues/19660#issuecomment-571906058

All traffic will be redirected to port 15006 and sniffing happens on the listener layer.

[2020-01-08 17:54] infa-rbliznet commented on #19980
Ok, got it, it make sense. Then we need to see why it thinks that's it's ready. Do you need logs from pilot?

[2020-01-08 17:59] lei-tang commented on #17572
@rvasilevsf Thanks for the information!

[2020-01-08 17:59] douglas-reid commented on #12818
@Stono we might need to reevaluate, but work on a separate API for tracing (and related) was deprioritized because the feature could be achieved with EnvoyFilters. There had been pushback on intro'ing new APIs for this purpose.

I'm happy to help troubleshoot, based on your needs. Perhaps that can drive work to pick back up on our API proposal.

[2020-01-08 18:00] howardjohn commented on #19660
I am not sure why inbound traffic is an issue here, isn't server first only an issue on outbound?

To clarify my point, I would rather have server first be completely broken then to have a detection timeout. That being said, I think we can make everything work.

The issue here is that on 15001 (outbound), we want sniffing only on some traffic. As far as I know, this is ok today because we have mul

[2020-01-08 18:01] howardjohn commented on #19980
Its marked as ready if it gets 1 LDS update and 1 CDS update AND envoy declares itself "ready", which generally means it starts listening on all the ports it is configured to. Pilot logs could be useful to see if its only sending some of the listeners I guess, but seems unlikely

[2020-01-08 18:01] howardjohn commented on #19980
Running with envoy debug logs may be more useful

[2020-01-08 18:04] howardjohn opened #20003 "TestWebhookManagement broken in postsubmit"
Because we remove the sidecar injector deployment

https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-operator_istio_postsubmit/248
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-operator_istio_postsubmit/247

[2020-01-08 18:09] yxue commented on #19660
1. Server first is the issue on inbound
2. For this issue, it's on outbound and it's not the server first issue. This issue is due to the TLS inspector takes long time to sniffing the SNI.

I think the possible solution is that disable the timeout for outbound and keep the timeout for inbound.

[2020-01-08 18:25] infa-rbliznet commented on #19980
@howardjohn Please find the trace logs, I enabled them by editing
kubectl edit -n default deployments custom-gateway
[code]
Here is the full deployment yaml:
[code]

[custom-gateway-5b96cffc85-qmxg6.log](https://github.com/istio/istio/files/4036687/custom-gateway-5b96cffc85-qmxg6.log)
[custom-gateway-5b96cffc85-kfh59.log](https://github.com/istio/istio/files/4036688/custom-gateway-5b96cffc85-kfh59

[2020-01-08 18:25] duderino commented on #19660
That means the latency added by waiting for the outbound timeout in turn triggers the inbound timeout?

[2020-01-08 18:31] yxue commented on #19660
No, two timeouts are independent. The client sidecar won't create the upstream connection before the connection is built between the app and the client sidecar.

[2020-01-08 18:48] nicktrav opened #20005 "Updates to existing multi-cluster configuration are not picked up by Pilot"
**Bug description**

Currently, when an existing multi-cluster Secret is updated, no action is taken by the secret controller.

This causes problems in situations where the configuration is modified to update, for example, the API endpoint for remote K8s masters that Pilot calls to infer workload information. Without a restart of Pilot pods, this configuration is not reflected. Principle of least

[2020-01-08 18:51] elfinhe commented on #19735
logging the issue does not help here, the `proto: tag has too few fields: "-" ` will still show up in the stderr.

[2020-01-08 18:52] #19868 closed

[2020-01-08 18:56] esnible commented on #20000
Currently, the user SHOULD do something like this:

[code]

It is hard for the user to remember what options were used to deploy, and hard to remember how to create the "install manifest".  Also, `manifest generate` calls the output an "install manifest" but `verify-install` calls the input "Istio YAML installation file."

[2020-01-08 18:58] howardjohn commented on #16536
One possible reason to see this error is if you have istio-injection=enabled on istio-system, then the injection deployment ever drops down to 0 replicas -- it, and the rest of pods, will never come back to life

[2020-01-08 19:54] patrickppeng commented on #19886
Thanks @yanolol. It works after specified the protocol on service port name.
I was confused with this documentation and now it makes sense...
https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/

[2020-01-08 20:54] esnible commented on #19981
@adammil2000 if this happens again please do `istioctl version -o json` and paste the output here or send it to me, so that I can further improve things.

You can also download Istio 1.5.0 alpha-0, which has this fixed, but the problem might not be obvious with the fixed version.  Istio tries to do `kubectl exec` into the control plane running instances, which could fail under some circumstances.

[2020-01-08 21:07] ericvn commented on #19981
It looks like the original problem was written against 1.3.4 so maybe really needs to be cherrypicked back to 1.4 and 1.3?

[2020-01-08 21:13] therealmitchconnors commented on #19215
Flakes in this suite resulted in 66 hours of flaked tests in the Month of December, accounting for 40% of the overall flakiness in presubmit tests.  This seems like something we should prioritize.  See https://datastudio.google.com/c/u/0/reporting/1zlRdGN44mWTkD1YxOgpF11Vq4e1rsCOA/page/OQoAB for more details (PM me for access if you get 403, this should go public next week).

[2020-01-08 21:54] esnible commented on #19981
@ericvn Agreed.  I have added the labels to cherry pick, but the change was two months ago, and this is istio/pkg not istio/istio.  Let us see if the automatic cherry-picking works.  If not, I will ask @georgyturevich to create 1.3 and 1.4 PRs with his commit for https://github.com/istio/pkg/pull/90 .

[2020-01-08 21:56] howardjohn opened #20009 "Bump upgrade tests"
currently we have these tests:

188:  name: istio-upgrade-using-helm-1.2.8-1.3.5
216:  name: istio-upgrade-using-helm-1.3.0-1.3.5
244:  name: istio-upgrade-using-helm-1.3.4-1.4.0
272:  name: istio-upgrade-using-istioctl-1.3.3-1.4.0
302:  name: istio-upgrade-using-istioctl-1.3.0-1.4.0

We should change to:

272:  name: istio-upgrade-using-istioctl-1.3.6-1.4.3
302:  name: istio-upgrade-using-istioct

[2020-01-08 22:32] mandarjog opened #20011 "Secure Prometheus scraping"
Prometheus is a key part of Istio. In V2 telemetry It is used to scrape metrics exported directly by proxy at `:15090/stats/prometheus` and to scrape application metrics.

1. `:15090/stats/prometheus` is plaintext. We need to be able to protect behind mtls.
2. Scraping prometheus metrics from application is supported, but not fully.
   a. Relies on local certificates - so rotation is a problem.

[2020-01-08 22:50] nirav-vuclip opened #20014 "Add Header as proxy_set_header in nginx"
**Describe the feature request**
We have to replicate one of  the nginx configurations, to add custom header in istio/envoy setup.
Example Nginx configuration:
                proxy_set_header X-VIU-IP $http_x_forwarded_for;

Expected Istio configuration as below:

 We know we can setup static value with below(does not solve problem):

**Describe alternatives you've considered**
Kubernetes ingress

[2020-01-08 23:29] howardjohn commented on #19995
We are missing the
[code]

The old installer had

[2020-01-08 23:31] howardjohn commented on #19993
In your config you have port 9001 but everywhere else, including your working curl, is 1080. Is that expected?

[2020-01-08 23:33] howardjohn commented on #19996
iptables shouldn't be intercepting things from user 1337 which is what the proxy will run as. Are you running with a different user somehow? You can see the rules:
[code]

[2020-01-09 00:09] so-jelly commented on #19642
@richardwxn I am seeing the same behavior with    --set values.gateways.istio-ilbgateway.enabled=true

[2020-01-09 00:16] yangminzhu commented on #19994
thanks for the report, I will fix this in the api repo.

[2020-01-09 00:25] mandarjog opened #20015 "perf tools: Integrate daily-performance runs into testgrid"
Perf daily runs as a monolithic as runs for 11 hours.
The job should be integrated into testgrid so that individual tests are separately visible and failures are easy to identify.

[2020-01-09 01:06] duderino commented on #13479
@rshriram @costinm @howardjohn @hzxuzhonghu we just hit another case of it.  I wonder if we should do exactly what Shriram said above and begin the deprecation process for `type: ExternalName`.  Thoughts?

[2020-01-09 01:23] irisdingbj commented on #20000
@esnible

Through https://github.com/istio/istio/pull/19284/

we support both IstioControlPlane cr as input: eg:
```verify-install -f example-istiocontrolplane.cr.yaml```

we also support --set as input, eg:
```verify-install -s profile=minimal .```

So it means we can use the same icp as we install Istio, no need to use istioctl manifest to generate the installation file before hand

[2020-01-09 01:32] tareqhs commented on #19993
@howardjohn sorry i mixed up the example, fixed the description. the issue happens in both ports and actually in any port.

[2020-01-09 01:40] howardjohn commented on #19443
Similar thing that would be useful is just the hosts not even matching. For example, this config is broken:
[code]

because `something-else.com` does not equal `my.domain.example`.

Should dig into the implementation for what exactly is valid though. I assume if there is some intersection between the two lists its fine but if not its bad?

[2020-01-09 01:48] richardwxn commented on #19958
PR to fix the recursive watch merged in master: https://github.com/istio/operator/pull/737

[2020-01-09 03:11] #19935 closed

[2020-01-09 03:18] hzxuzhonghu commented on #13479
Agree, we can do a simple fix before we remove it totally, which maybe in release1.8 if all agreed.

[2020-01-09 03:45] howardjohn commented on #20015
This is already done: https://testgrid.k8s.io/istio_release-pipeline#daily-performance-benchmark-release-1.4

A better way to get notified of failures (in my opinion) is to join #test-failures in slack

[2020-01-09 03:48] howardjohn commented on #20014
See https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_man/headers#config-http-conn-man-headers-custom-request-headers for all possible "dynamic" header options

[2020-01-09 04:36] mandarjog commented on #20015
That is not granular enough. We need these tests to be separated for visibility.

[2020-01-09 04:39] #19961 closed

[2020-01-09 04:39] howardjohn commented on #20015
I see, I misunderstood. In that case you need the test to output a junit.xml file to `$ARTIFACTS` directory

[2020-01-09 04:40] richardwxn commented on #19642
We had a recent api change so the PR to fix this issue was blocked, now I am working on to integrate that with latest master to fix this issue.

[2020-01-09 04:58] brian-avery commented on #18283
Thanks for this @elieser1101. A couple of comments:

* I don't see the Bookinfo gateway/deployments being created.
* I see on the istio.io website a comment saying "Allow several seconds for the new rule to propagate to all pods.", but no delay. It could take a bit after the resource has been created for it to propagate through Istio. I think the best way we have to address this for now is to add

[2020-01-09 05:01] #14335 closed

[2020-01-09 05:01] #14830 closed

[2020-01-09 05:02] #15168 closed

[2020-01-09 05:02] #15205 closed

[2020-01-09 05:02] #15719 closed

[2020-01-09 05:03] #16658 closed

[2020-01-09 05:12] morvencao commented on #17761
/unstale

[2020-01-09 05:28] ClareChu commented on #8076
Looks like this can solve your problem

[code]
hostname.example.org/service-a/xxxxxxx ======>  hostname.example.org/xxxxxxx

Hope to help you!

[2020-01-09 06:31] charlesguo404 commented on #18458
@lei-tang @howardjohn  Thanks support. As you said, I used a certificate different from root ca as cluster-signing-cert-file, so this kind of problem occurs.The DevOps_CA is a certificate signed by root ca.

[2020-01-09 07:40] morvencao opened #20021 "Operator reconciler always gets CR not found reconciling error"
**Bug description**

Deploy the Istio operator from master and create IstioOperator resourcem, find that the following error `istiooperators.install.istio.io "example-istiocontrolplane" not found` in operator logs, and the reconciler will not stop because of the reconciling error:
[code]

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability
[

[2020-01-09 07:44] morvencao commented on #20021
Looks like this is relevant to the changes in https://github.com/istio/operator/pull/713, the reconciling error comes from IstioOperator status update operation at: https://github.com/istio/operator/blob/master/pkg/controller/istiocontrolplane/listeners.go#L93

[2020-01-09 08:03] vvbogdanov87 commented on #18046
I have the same problem with istio 1.4.2. Lots of messages in a sidecar log:
[code]
As a result, lots of failed probes
[code]
And as a result, the pod was restarted 4 times in 6 days
[code]

[2020-01-09 08:33] rbraeunlich commented on #19666
@bianpengyuan @douglas-reid
After checking again I found that I had several metrics deployed that contianed lines like this:
`source_workload: source.workload.name | "unknown"`
I changed all `unknown` to `Unknown` but the problem still persists. Additionally, the metrics I changed didn't contain any configuarion for source_uid.
Do you have any idea what could still be wrong?

[2020-01-09 08:35] darren-bell-nanthealth commented on #19719
Is there a workaround for this until all options are available as passthrough? Can I patch the resulting configmap or anything?

[2020-01-09 08:57] afvacoss opened #20023 "Istio Egress MTLs for external services not working"
**Bug description**

I'm currently trying to setup MTLs via `istio-egressgateway` to access an external K8s cluster service. I'm following the intructions specified on [istio docs](https://archive.istio.io/v1.2/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#perform-mutual-tls-origination-with-an-egress-gateway) but trying to adapt the example into a real life problem, ie. I'm

[2020-01-09 09:03] morvencao commented on #20021
Also I found the status field is not found in the IstioOperator instance:
[code]

[2020-01-09 09:17] morvencao commented on #20021
@ostromart Am I missing something? looks like the `status` has been moved to `IstioOperatorSpec`: https://github.com/istio/api/blob/master/operator/v1alpha1/operator.pb.go#L105-L107
We need to change the status update function.

[2020-01-09 09:36] chaudyg commented on #19996
No. I am not running a different user.
[code]

Could be related to the fact i am using a ENI CNI (lyft)? see this [description](https://github.com/lyft/cni-ipvlan-vpc-k8s#internet-egress)

[code]

[2020-01-09 09:43] pixystone commented on #19377
pilot needs to be restarted to make `disablePolicyChecks` taking effect:

refer: https://istio.io/docs/reference/config/installation-options/

[2020-01-09 10:00] xeviknal opened #20025 "Add analyzer for AuthorizationPolicy objects"
Add an analyzer for the AuthenticationPolicy objects.
What to analyze?
- [WorkloadSelector](https://istio.io/docs/reference/config/security/authorization-policy/#Source): check if there are deployments (creating pods) with the specific labels.
- [Rule.From.Source.Namespace](https://istio.io/docs/reference/config/security/authorization-policy/#Source): check if that list of namespaces are present.

[2020-01-09 11:32] craigbox commented on #8076
That doesn't address the case where you hit just http://hostname.example.org/service-a (with no trailing slash or path components).

[2020-01-09 11:40] infa-ddeore opened #20027 "client gets connection refused when ingres pods are rotated"
**Bug description**
client gets connection refused when ingress pods are rotated, it looks like when ingres pod is in termination process it still receives the traffic so client gets some connection refused errors.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ x] Networking
[ x] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experi

[2020-01-09 11:57] liuyancc0121 commented on #14830
@SuperMohit did you fixed your probleam,i want to user redisuota but redis service needs base auth

[2020-01-09 12:20] PsychoSid commented on #19040
Hi - I got this when loading up 1.4.3 today and using Spinnaker which doesn't expose gRPC so that combination doesn't seem to be an issue here.

[2020-01-09 12:26] zhranklin opened #20028 "Pod info is missing in data generated by mixer when pod name contains '.'"
**Bug description**
When two pods with '.' in their names are injected sidecars and then make http request from one to another, the generated mixer data is missing some fields which depends on pod info, which includes:

- source/destination.labels
- source/destination.name
- source/destination.owner
- source/destination.workload
- destination.namespace (parsed as `default` but it's wrong)

When ma

[2020-01-09 12:28] zhranklin commented on #20028
I have fixed this bug in our production env, and try to make a PR: #20026

[2020-01-09 12:47] hzxuzhonghu opened #20029 "TestKubeOnly flake"
Noticed https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20024/integ-new-install-k8s-tests_istio/4928

[code]

[2020-01-09 13:21] jaygorrell commented on #8076
For those just coming in, the solution by @buckhx is the one that works for now until this is better supported: https://github.com/istio/istio/issues/8076#issuecomment-427057691

[2020-01-09 14:10] gauti038 commented on #11786
I am using version 1.4.2. Still facing the same issue. Did anyone solve this? If so, Please explain

[2020-01-09 14:31] so-jelly opened #20032 "Istioctl autoscaleMin not applying"
**Bug description**

**Expected behavior**
`istioctl manifest generate --set values.mixer.policy.autoscaleMin=2` applies the appropriate HPA min pods value.

**Steps to reproduce the bug**
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

`istioctl version --remote`

`kubectl version`

**How was Istio installed?**
ist

[2020-01-09 14:42] so-jelly opened #20033 "Istioctl enable ILB Gateway"
**Bug description**

**Expected behavior**

`istioctl manifest generate --set values.gateways.istio-ilbgateway.enabled=true` creates the appropriate config

**Steps to reproduce the bug**

`istioctl manifest generate --set values.gateways.istio-ilbgateway.enabled=true`

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

1.4.3

[2020-01-09 15:32] #19934 closed

[2020-01-09 16:09] howardjohn commented on #19996
hm. I am not familiar with that CNI but it seems like for sure traffic is blocked.

What I am really confused is why `traffic.sidecar.istio.io/excludeInboundPorts: 15010,15011`. That is supposed to be for inbound traffic, but you are trying to open up outbound traffic.. Given that makes a difference though its pretty clear something funky is going on with the interaction between iptables and your

[2020-01-09 16:22] rnkhouse opened #20034 "Block certain IPs to access services"
**Bug description**
I want to block certain IP list to access services. For that I am using below code but it's giving me `upstream connect error or disconnect/reset before headers. reset reason: connection termination`. Am I doing something wrong? Istio Policy is set up correctly. I checked with the given example code which was working fine but I want to block external IP.

**yaml**

    apiVersi

[2020-01-09 16:30] rnkhouse commented on #19477
If mTLS is enabled globally make sure you set `controlPlaneSecurityEnabled: true`.

[2020-01-09 16:30] #19477 closed

[2020-01-09 16:32] rnkhouse commented on #19966
Not sure why is this happening but when I added name in Service ports it worked.

   ports:
       - name: https # Use http or https
          protocol: TCP
          port: 8080
          targetPort: 8080

[2020-01-09 16:32] #19966 closed

[2020-01-09 16:46] douglas-reid commented on #20011
@mandarjog is someone actively working on this issue, or are we looking for an owner?

[2020-01-09 16:55] mandarjog commented on #20011
Looking for an owner.

[2020-01-09 16:58] taylorreece commented on #19763
:-( Looks like it missed the 1.4.3 cut-off.  Oh, well.  🤞 for 1.4.4 :-)

[2020-01-09 16:59] taylorreece commented on #19639
This missed the 1.4.3 release.  🤞 for the 1.4.4 release.

[2020-01-09 17:32] lambdai commented on #19660
I like the solution we should stop sniff if user specify server first protocol. I proposed adding matcher api to sniff (or any other listener filter). With this API istio could express that: for this mysql service port, skip tls sniffer and http sniffer.

[2020-01-09 17:32] sushicw commented on #19076
From @xeviknal in https://github.com/istio/istio/issues/20025 :

[2020-01-09 17:32] sushicw commented on #20025
We should definitely do it.

This duplicates https://github.com/istio/istio/issues/19076, closing this in favor of that. (I've copied your comments into the other issue).

[2020-01-09 17:32] #20025 closed

[2020-01-09 17:41] Stono commented on #12818
It's really fiddly with `EnvoyFiliter`, and configuring envoy itself doesn't feel right - that's why we have istio as a control plane, right?  Also envoy filters are applied at the destination, whereas what I would like to achieve is defining the rule in the destination, but have it apply to all the source systems (like a `DestiniationRule`).

Take this simplistic example (keep in mind we might ha

[2020-01-09 17:48] yxue commented on #19660
The problem is not the sniffer but the timeout. If timeout is enabled, server first protocol can work with or without sniffer. If timeout is disabled, server first protocol cannot work no matter sniffer is enabled or not. The server first relies on the timeout to exit the listener filter iteration.

[2020-01-09 17:49] howardjohn commented on #19660
If there is no sniffer why would there be a timeout? The timeout is for the sniffing isn't it?

The logic should be

Client First: Sniffing, no timeout
Server first: No sniffing, no timeout

[2020-01-09 17:51] howardjohn opened #20038 "iptables: subcommand under pilot-agent"
istio-init is already using the proxyv2 docker image, with two (maybe 3, not sure if we have the "clean" binary as well) binaries for init and proxying. We should just merge the two into a single binary with multiple cobra commands. This makes operation simpler since there is a single binary and makes the build, image pull, etc faster since the image is smaller.

cc @lambdai @rlenglet @abhide

[2020-01-09 17:54] yxue commented on #19660
Timeout is not for the sniffer. Timeout is used for all listener filters which including TLS inspector and HTTP inspector. There are also other listener filters, e.g., original_dst.

Client First: Sniffing, no timeout
Server first: No sniffing, no timeout <- this won't work

[2020-01-09 17:57] howardjohn commented on #19660
ok maybe I misunderstood a bit. But clearly server first protocols do *something* once the timeout is hit. We need to make it do that immediately instead of timing out.

What other listener filters do not work with server first? AFAIK its just the tls and http inspector, so I don't see why my suggestion would not work?

[2020-01-09 18:01] rlenglet commented on #20038
I agree. I think this should be fairly straightforward, since @abhide has made the code modular.

When Istio CNI will integrate that implementation, it will be in the form of a library too, not as a command.
It may be a good opportunity to replace all the `fmt.Print*()` calls with proper logging, and maybe also to move this code from `istio/tools` to `istio/pkg`.

[2020-01-09 18:12] yxue commented on #19660
[code]

Do you mean, for this configuration, if the destination port is 3306, the iteration should be terminated after the first listener filter; if the destination port is 8080, the iteration should proceed until the timeout.

[2020-01-09 18:15] howardjohn commented on #19660
Yes, something like this (in theory, how its implemented doesn't really matter)

[code]

[2020-01-09 18:30] yxue commented on #19660
The interesting thing is that the match input (port) is the output of the listener filter (original_dst). It looks similar to filter chain match. We might be able to have a simplified match in the listener filter.

[2020-01-09 19:49] sdake commented on #20000
storing the full generated manifest in `IstioControlPlane` imo is a nonstarter. The manifest can be enormous and its not really a good pattern used with operators.

@rcaballeromx do you have any thoughts on this particular point? Would like your expertise.

Cheers
-steve

[2020-01-09 19:50] rcaballeromx commented on #20000
@sdake I'll take a look

[2020-01-09 19:50] sdake commented on #20000
@rcaballeromx that was a mistarget, apologies, you can ignore.

[2020-01-09 19:52] brian-avery commented on #18288
Hi @elieser1101 Thanks! Minikube is ok for almost all of the tasks on istio.io including this one.

[2020-01-09 19:54] howardjohn opened #20039 "15006 listener incorrectly missing TLS inspector"
On startup, envoy logs: `adding listener '0.0.0.0:15006': filter chain match rules require TLS Inspector listener filter, but it isn't configured, trying to inject it (this might fail if Envoy is compiled without it)`

Config:

<details>

[code]

</details>

[2020-01-09 19:56] #20029 closed

[2020-01-09 19:58] sdake commented on #20000
@rcernich in case github didn't notify on the edit, can you PTAL :)

[2020-01-09 20:19] mg03 commented on #19522
@richardwxn :   Checked the configmap as per the command you provided. The enableCoreDump value is false. See attached file.

Before checking the cm , an ingress gateway pod as example
[code]

I destroyed the pod. A new one showed up .

istio-ingressgateway-596b5857f7-h42wq              2/2     Running     0          47m

[code]

As you can see coredumps are still being generated.

[configmap.yaml

[2020-01-09 21:32] stewartbutler opened #20044 "CNI install-cni container emits stacktrace when pod is terminating"
**Bug description**

The `install-cni` container in the istio cni daemonset emits a stacktrace when the pod terminates. Snippet below:

[code]
It only happens on pod termination (or whenever the script gets a SIGTERM/SIGINT I suppose), so it shouldn't be harmful, but we should probably fix it anyways.

I've not investigated deeply, but my suspicion is that this is because the install shell script

[2020-01-09 21:33] stewartbutler commented on #20044
CC @mandarjog

[2020-01-09 21:37] #18177 closed

[2020-01-09 22:12] rcernich commented on #20000
Somebody needs to catch me up.  What is the goal behind this?  In the meantime...

If I'm inferring correctly, this is asking that the ICP resource be created in the cluster, so that it can be queried and used by the verify tool.  If that's the case, sounds good to me.  Maybe that syntax becomes something like:
[code]

Let me know how far off base I am.

[2020-01-09 22:32] carolynhu opened #20046 "istio/tools: all the istio builds on perf dashboard should sort in reverse chronological order"
We should render all of the istio performance builds on perf dashboard in reverse chronological order.

[2020-01-09 23:37] howardjohn opened #20047 "Multiple replicas of istiod"
A while back we had issues with multiple citadels and multiple galleys. We (allegedly :slightly_smiling_face: ) fixed these issues, but I am not sure how.

We should verify that whatever fixes were applied will still exist in the istiod model. We will of course test with multiple replicas, but subtle race conditions may be missed so we should logically check the fixes are still valid

cc @myidpt

[2020-01-09 23:43] yangminzhu commented on #19990
The gateway log seems indicating it has some problems talking to kubernetes:
[code]

This shouldn't be caused by Istio authorization policy. Could you enable the Envoy RBAC debug logging for `app: catalog` and trigger some requests to see if there is anything wrong in the log? Check this [tutorial](https://istio.io/docs/ops/common-problems/security-issues/#ensure-proxies-enforce-policies-correctly

[2020-01-09 23:47] yangminzhu commented on #19720
cc @myidpt and @rlenglet for comments on the changes to psp.

[2020-01-09 23:50] lei-tang commented on #19851
https://github.com/istio/istio/issues/19950

[2020-01-09 23:55] howardjohn commented on #19851
that only solved half, there is still the jwt issue

[2020-01-10 00:15] #20009 closed

[2020-01-10 01:23] howardjohn commented on #20047
I created 50 replicas and ran into a crash:
[code]

44 pods run fine, 6 pods are always crash looping like this

[2020-01-10 01:24] howardjohn commented on #20047
Also some crash at startup with:
[code]

[2020-01-10 01:38] rlenglet commented on #19720
This is a duplicate of https://github.com/istio/istio/issues/17318.
This issue has been fixed with https://github.com/istio/istio/pull/17427 and https://github.com/istio/installer/pull/628 and those fixes are available in Istio 1.4.3.

[2020-01-10 01:40] rlenglet commented on #19720
My bad, this is about the control plane containers. It's similar to https://github.com/istio/istio/issues/17318 but that issue was only about injected sidecars.

[2020-01-10 02:07] vvbogdanov87 commented on #18046
This happens every 30 minutes.
[code]
I logged in to sidecar container and executed `curl http://127.0.0.1:15000/server_info` And it really doesn't respond during this periods. Looks like it is problem of envoy rather than istio.

[2020-01-10 03:09] irisdingbj commented on #20000
We already have `istioctl profile dump` so I do not think we need save the manifest in cluster any more and current command supports -set directly --means the same command parameter you used when you install Istio.

[2020-01-10 03:33] xujinguang opened #20051 "duplicate content in the wiki doc"
https://github.com/istio/istio/wiki/Mixer-Template-Dev-Guide
End of article，this paragraph is repeated.

[2020-01-10 03:47] lei-tang commented on #20047
For the CSR part: https://github.com/istio/istio/pull/20052

[2020-01-10 04:36] #20003 closed

[2020-01-10 04:56] howardjohn commented on #19276
still falling https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1053

[2020-01-10 05:00] #10279 closed

[2020-01-10 05:02] #14885 closed

[2020-01-10 05:04] #17428 closed

[2020-01-10 05:11] morvencao commented on #20021
Looks like the `e2e_operator` test failed because of this issue.

[2020-01-10 05:20] mandarjog commented on #17098
Hey @fpesce is this done now? If not please reopen .

[2020-01-10 07:58] Stono opened #20055 "Imbalanced load on spike traffic applications"
**Bug description**
Hi,
I've been trying to debug why one instance of our application is getting significantly more load than the other during periods of burst load.  The setup is very simple:

![spike](https://user-images.githubusercontent.com/1486729/72135101-96abee00-337d-11ea-8439-1342dbd8da51.png)

You can see from this graph that there was a big spike in traffic (normal):

`sum(irate(envoy_c

[2020-01-10 08:00] Stono commented on #19925
Any ideas folks?  This is one of the main causes of memory contention on our nodes right now.  I could set the limit for the containers lower and they'll just OOM whenever this happens, but that causes service impact momentarily.

[2020-01-10 09:01] hzxuzhonghu commented on #20051
Thanks，I can remove it

[2020-01-10 09:02] hzxuzhonghu commented on #20051
fixed

[2020-01-10 09:02] #20051 closed

[2020-01-10 09:08] infa-nvarma opened #20059 "removing operator manifest removes user namespaces"
**Bug description**
We are using KIali and we want it to pick data from Prometheus. But, We do not want to install prometheus via Istio. This is because we are already using Prometheus(deployed in a different namespace) and we want Kiali to use the same. To achieve this we added “prometheusNamespace” to values.global in Istiocontrolplane file. it looked something like below:
[code]
This worked fin

[2020-01-10 09:24] hzxuzhonghu commented on #20005
I remember we do support update in pilot before use the common secret controller

[2020-01-10 09:27] hzxuzhonghu commented on #20005
FYI https://github.com/istio/istio/pull/8479/files

[2020-01-10 09:29] Stono commented on #20055
I grabbed all of the `/stats/prometheus` for `searchone-consumer-0` and `searchone-consumer-1` whilst it was currently imbalanced to see if there is anything you can spot
[istio.tar.gz](https://github.com/istio/istio/files/4044847/istio.tar.gz)

Things that stick out to me:

`envoy_cluster_lb_healthy_panic{cluster_name="outbound|80||app.search-one.svc.cluster.local"} 17135` in one but `envoy_clust

[2020-01-10 09:36] hzxuzhonghu commented on #20027
When you curl ingressgateway by svc name, the flow is from curl-->iptables redirect-> gateway. The connnection refused error seems like iptables refresh is not so instantly, there must be a delay.

[2020-01-10 09:38] Stono opened #20060 "Locality aware routing even when disabled"
**Bug description**
We have `global.localityLbSetting.enabled=false` in our installation as per https://istio.io/docs/ops/configuration/traffic-management/locality-load-balancing, so why are we seeing locality clusters in envoy metrics which seem to imply it is running (more traffic being sent to europe_west4), eg:

[code]

The metrics it produces are also very high cardinality, you're taking `buc

[2020-01-10 09:47] Stono commented on #19090
To add to this, please see https://github.com/istio/istio/issues/20060 where Locality Aware Routing multiplies some of these high cardinality metrics by the number of zones

[2020-01-10 09:50] hzxuzhonghu commented on #20055
Is this caused by long-running connections?

[2020-01-10 09:51] Stono commented on #20055
I considered that, and restarted them (and in doing so removed outlierDetection as a test) and saw the same behaviour, so no.

[2020-01-10 09:52] turbotankist opened #20062 "pilot does not see all pods in service"
**Bug description**
we have service with two pods.
Sometimes Istio ingressgateway see only one of them
But all pod works fine.
There are endpoints in the service:
[code]
But in envoy clusterconfig only:
[code]

if I recreate pilot
[code]

I take correct config in ingressgateway:
[code]
and traffic goes to both pods
![image](https://user-images.githubusercontent.com/9462236/72143352-9f191e80-33a7-1

[2020-01-10 09:56] Stono commented on #19756
Dupe of https://github.com/istio/istio/issues/20055 (newer issue contains more info)

[2020-01-10 09:57] #19756 closed

[2020-01-10 10:06] infa-ddeore commented on #20027
do you know how to prove that iptables is causing this problem?

and is there a solution for this issue?

[2020-01-10 10:24] hzxuzhonghu commented on #20027
I think it is very difficult to grab the rule, the delay is too short

[2020-01-10 10:27] infa-ddeore commented on #20027
looks like adding preStop hook to wait for ~5 seconds may help

ref: https://blog.gruntwork.io/delaying-shutdown-to-wait-for-pod-deletion-propagation-445f779a8304 and https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-terminating-with-grace

I will try this ans post the results

[2020-01-10 11:17] Stono commented on #19925
Here's my latest favourite, 3 different pods (nginx) sidecar, on 3 different nodes, at exactly the same time.

<img width="801" alt="Screenshot 2020-01-10 at 11 16 47" src="https://user-images.githubusercontent.com/1486729/72149322-c7e6e700-339a-11ea-862b-5cef92d9c3e9.png">
<img width="798" alt="Screenshot 2020-01-10 at 11 16 57" src="https://user-images.githubusercontent.com/1486729/72149323-c7e6

[2020-01-10 11:18] Stono commented on #19925
They all seem to jump approximately 3.5x

[2020-01-10 11:21] Stono commented on #19925
Also as you can see 650mb is far more than the 256mb buffer @lambdai mentioned, so it kind of discounts that

[2020-01-10 12:06] #20023 closed

[2020-01-10 12:09] afvacoss commented on #20023
I've found where it was the problem. I thought I could achieve this with Citadel certificates but I didn't manage to solve the problem just like this. Instead, if I create a secret for the internal service, and reconfigure `istio-egressgateway` to include it, the problem is solved, and it has the advantage of getting a CN in server side, which allows to identify the service attacking the server (w

[2020-01-10 12:14] mandarjog opened #20064 "Investigate missing datasets in perf dashboard for master since 20191228"
http://perf.dashboard.qualistio.org/benchmarks/cpu_memory/
http://perf.dashboard.qualistio.org/benchmarks/latency/

"master" charts are missing many configurations since 20191228.

[2020-01-10 12:27] mandarjog opened #20065 "Perfdashboard: Add configurations for stackdriver metrics"
Add new configurations for stackdriver filters

1. Full SD --> Metrics + logs + context graph
2. No Logs --> Metrics + context graph

@richardwxn

[2020-01-10 12:41] infa-ddeore commented on #20027
adding sleep in container's `preStop` hook is helping, i did few tests and there is no connection refused every time. But after removing `preStop` hook config from the deployment there is connection refused error every time pods are rotated

[code]

should this hook be added by default with istio's installation? Also user g/w should have the same hook by default.

I had to edit istio-1.4.2/install

[2020-01-10 12:50] paweloczadly opened #20066 "istioctl experimental upgrade does not KubernetesResourcesSpec (k8s) related changes"
**Bug description**

`istioctl experimental upgrade` does not display `KubernetesResourcesSpec` (k8s) related changes.

Example configuration:

[code]

Current output:

[code]

When the changes are applied `pilot` and `telemetry` deployments are updated.

- [ ] Configuration Infrastructure
- [ ] Docs
- [x] Installation
- [ ] Networking
- [ ] Performance and Scalability
- [ ] Policies and Telemetry

[2020-01-10 13:18] xeviknal commented on #20025
Oh, didn't see that issue. Thanks :)

[2020-01-10 13:27] lizan commented on #18981
@seflerZ https://docs.google.com/document/d/1g3AJNYwbh04-BVajshmcWpeLyGUanbRnihIXU6uIiOY/edit was brought up in the Networking WG, does this cover your case? Can you weigh in in the doc?

[2020-01-10 13:28] crhuber commented on #19477
Im having similar issue on Istio 1.4.4

Here are my settings

[code]

istio-policy-69c8bbd6889-xxxx 2/2 Running 0 60m

getting frequent

[code]

on istio-telemetry

[2020-01-10 14:21] heimweh commented on #18557
Hi @prune998,

the configuration file was quite heavily obfuscated, so that's probably the reason why it looks so messy. Very sorry about that.

Attached you'll find virtual services defined in the namespace. We have multiple deployments of this service defined, thus several virtual services along with a catch-all virtual service.
All of them have retries disabled but we're still seeing the same m

[2020-01-10 14:22] HenriAW commented on #19720
I'm also looking to run istio in a non-root environment.
@michaelbannister are you currently using istioctl with --set to as a workaround? If so I'd be interested to know how you used this to set securityContext.runAsUser to 1337.

[2020-01-10 14:24] PiotrSikora commented on #18981
cc @louiscryan @nrjpoddar

[2020-01-10 14:28] turbotankist commented on #20062
this issue appears after updating to 1.4.x
also in pilot has logs in a circle:
[code]

[2020-01-10 14:31] arnecls commented on #19902
After playing around a bit, we found out that destination rules are not properly synced in our mesh.
I.e. if I apply a destination rule with outlier detection, and do an `istioctl proxy-config cluster` on the cluster I just configured, there is no change visible. Even after a minute or two.

What we also see is that `istioctl proxy-status` has a lot of workloads marked as `Not Sent` but _only_ in

[2020-01-10 14:41] Stono opened #20069 "Inject istio-proxy as the first container"
**Describe the feature request**
Through testing we've discovered that kubelet + docker will pull and start `containers` within `pod` in order.

Therefore it'd be great if the `sidecar-injector` injected the `istio-proxy` at position 0 in the pod, this would ensure that the proxy image was always pulled and started (albeit not waiting for ready ready) before the application image.

I appreciate th

[2020-01-10 14:43] howardjohn commented on #20060
Isn't this an envoy metric that is disabled by default? are you explicitly enabling it?

I would need to look into it more but my initial thought is that envoy still knows about the zones it's just not respecting them when load balancing since you have the feature disabled

[2020-01-10 14:48] Stono commented on #20060
Hey @howardjohn.

Yeah we are setting the inclusion prefix (`sidecar.istio.io/statsInclusionPrefixes: cluster.outbound,listener,cluster,cluster_manager,listener_manager,http_mixer_filter,tcp_mixer_filter,server,cluster.xds-grpc`), because we're interested in the non-locality versions of these metrics, i wouldn't have expected to get locality metrics with the feature disabled (or they'd have a valu

[2020-01-10 14:51] howardjohn commented on #20069
the proxy image should be pulled in the init stage now since the init is using the same image, unless you are doing something custom. That being said the starting container may be an issue.

I am not sure how this interacts with things like `kubectl exec` which I think default to the first container - may not be a concern, but there may be similar issues that I haven't thought of

[2020-01-10 14:55] Stono commented on #20069
Ahh, yes it does since 1.4.  I miss-read the logs, it was our cloudsql-proxy container that hit this and I can control that one.  Thanks/sorry

[2020-01-10 14:58] howardjohn commented on #20069
No worries. If it is actually faster due to startup though I would be interested

[2020-01-10 15:02] howardjohn commented on #13705
not stale

[2020-01-10 15:07] rcernich commented on #20000
My understanding was that this required you to remember what you used when you installed the control plane, hence the reason for storing the ICP.

@esnible can you confirm/clarify your original intent?

[2020-01-10 15:08] Stono commented on #20069
Actually @howardjohn perhaps reopen this as i still think it is valuable, as having istio-proxy as container 0 will ensure that all the volume mounts are ready too (eg certificates), before starting the app.

I think there's value in ensure that istio-proxy has always started first (not just mitigating pull issues)

[2020-01-10 15:09] Stono commented on #20069
or make it a configurable option for us?  I'd certainly enable it.

[2020-01-10 15:09] howardjohn commented on #20069
Oh really, it will actually block the other container, I didn't know that. Seems useful or at least worth exploring more

[2020-01-10 15:09] deva26 opened #20070 "SecretFetcher cannot find secret"
**SDS SecretFetcher complains of not finding secret when latter is there. Deleting and recreating the secret with a different name works. We noticed this happening when we create a new gateway host with a simple tls and providing a credentialName**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ x] Security
[ ]

[2020-01-10 15:13] Stono commented on #20069
That's what we're observing on GKE1.15.  The frustrating thing is we can't find that documented anywhere so I suppose the counter-argument here is we'd be doing something based on something that could change anyway.

[2020-01-10 15:17] Stono commented on #20069
@howardjohn here's an example btw, first containier has a volume that doesn't exist, the second and third aren't even attempted:

[code]

[2020-01-10 15:37] esnible commented on #20000
@sdake I don't want to store the full manifest in IstioControlPlane.  What I want is to store the ICP, ideally on the cluster, to act as a "bill of materials".  I propose adding the ICP CRD to Istio so users would get it without the operator, and `istioctl manifest apply` would save it.  This means 3k for the CRD, and 200 to 16k bytes per Istio control plane (typically one plane, sometimes two, ra

[2020-01-10 15:39] rcernich commented on #20000
@esnible, thanks.  Makes sense to me.

[2020-01-10 16:14] howardjohn commented on #20047
@lei-tang i suspect that actually fixes the original issue as well. The interesting thing to note is that the dns cert folder is persisted when the container crashes! so that is why it never recovers. I suspect what happens is it gets mixed up with another Pilot's CSR so it gets an invalid key pair

[2020-01-10 16:30] prune998 commented on #18557
So, what I understand is that it's the traffic inside the mesh that is crashing the Istio proxy sidecar.
I may be wrong but :
[code]

`processing-service-1.svc.cluster.local` is not needed (and is not valid right, as you're missing the namespace name)
The second entry `processing-service-1` should still match the right requests

I seriously can't help more without a real Envoy config of the proxy.

[2020-01-10 16:39] #19150 closed

[2020-01-10 16:48] howardjohn opened #20072 "Almost all tests under galley/pkg/config/source/kube/apiserver are flaky (5% error rate)"
Given they are all flaky, this heavily suggests a bug in the code to me rather than the test.

These tests are failing 5% of the time. To reproduce, I ran the following:

[code]

Test failures by test:
[code]

cc @sushicw @nmittler not sure who owns this these days, I couldn't grok the code to fix this

[2020-01-10 16:49] valer-cara commented on #19902
I'm having a very similar issue with CDS not sent after updating a DestinationRule. I'm not using outlier detection though. It's really hard to track down.

Tried restarting pilot but i found no way to force it to sync CDS. The rest of the xDS is sync'ed. Haven't spotted anything in the logs so far, except for the fact that `istio-pilot/discovery` doesn't print the CDS updated lines any longer.

I

[2020-01-10 16:51] howardjohn opened #20073 "Kube controller metrics are never set, leading to missing metrics"
See this line: https://github.com/istio/istio/blob/7bcc6d059ac4d22457c9a7b966dc74e9c127f321/pilot/pkg/serviceregistry/kube/controller/controller.go#L162

Metrics is never set, under any conditions. I assume this is a regression from https://github.com/istio/istio/commit/0a1bfcdb6265bd6dc268a6dc26e10251dd2edcfb but I didn't dig into it too much

[2020-01-10 17:07] barryzhounb opened #20074 "Does istio ingress gateway support for external TLS connection for TCP-based client?"
**Bug description**
Error from server: error when creating "tcpserver-gateway.yaml": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: server cannot have TLS settings for non HTTPS/TLS ports

I have a TLS client in outside of OpenShift, then I create a istio ingress gateway and inject key and certificate to istio successfully.

Then I add tls properties in

[2020-01-10 17:10] barryzhounb opened #20075 "Does istio ingress gateway support TCP-based TLS"
**Bug description**
Error from server: error when creating "tcpserver-gateway.yaml": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: server cannot have TLS settings for non HTTPS/TLS ports

I have a TLS client in outside of OpenShift, then I create a istio ingress gateway and inject key and certificate to istio successfully.

Then I add tls properties in

[2020-01-10 17:13] barryzhounb opened #20076 "Does istio ingress gateway support TCP-based traffic with TLS"
**Bug description**
Error from server: error when creating "tcpserver-gateway.yaml": admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: server cannot have TLS settings for non HTTPS/TLS ports

I have a TLS client in outside of OpenShift, then I create a istio ingress gateway and inject key and certificate to istio successfully.

Then I add tls properties in

[2020-01-10 17:21] richardwxn commented on #20032
This issue was fixed in one recent PR I believed. And to verify, I tried istioctl from 1.4.2 and can reproduce the problem and latest master works ok.

This is correct way to do(using the helm values pass through), another way and actually what we recommend is setting from the operator API, the autoScaleMin is part of the HPA spec

[2020-01-10 17:22] howardjohn opened #20077 "Pods with a region take precedence over pods without a region even when locality lb is not configured"
Look at clusters:

[code]

[2020-01-10 17:25] howardjohn commented on #20060
See the doc here: https://www.envoyproxy.io/docs/envoy/latest/configuration/upstream/cluster_manager/cluster_stats#per-service-zone-dynamic-http-statistics

Here is what I did:

* Set up a few deployments across zones (with locality lb enabled). Send traffic to them.
* Witness the same metrics you see, but traffic distribution is even (outlier detection is required)
* Add outlier detection, all tr

[2020-01-10 17:41] howardjohn commented on #20077
Disabling Cluster_CommonLbConfig_LocalityWeightedLbConfig OR setting locality to `{}` instead of `nil` fixes this. Need to investigate the implications of both of these

[2020-01-10 17:49] howardjohn commented on #18824
With the recent perf improvements, this isn't too bad anymore. It would be nice to have native performance, but I don't think this is P0 anymore

[2020-01-10 17:49] #18944 closed

[2020-01-10 17:51] Stono commented on #20060
It’s a super simple deployment :( Is there any more deterministic in a config dump that would tell me if locality is enabled or not?  As trying to infer it from the metrics is weak at best

[2020-01-10 17:52] howardjohn commented on #15090
Is this done? If not please let me know if you need help.

[2020-01-10 17:53] howardjohn commented on #20060
@Stono envoy doesn't include EDS in the config dump which makes it a bit challenging. But /clusters general gives enough info, may help to post that here?. We also improve the edsz debug interface to take in a specific proxy like `8080/debug/edsz?proxyID=shell-868c4ccf97-xnkn5.default` but its not great since it requires you to happen to land on the pilot that proxy is connected to, and I think it

[2020-01-10 17:57] mandarjog commented on #18824
@howardjohn can you share measurements from the latest master? Thanks.

[2020-01-10 17:59] elliottnichols opened #20078 "Custom istio-ingressgateway Service Object annotations configuration"
**Bug description**
I'm not entirely sure if this is a bug or needs to be a feature request but I'm unable to configure annotations to the istio-ingressgateway service object. The annotations metadata is set with a null value when rendered with istioctl

I've attempted this config with overlays but I'm unable to target the null annotations path successfully. If there is a known way to target servi

[2020-01-10 17:59] howardjohn commented on #18824
Looks like without envoyfilters, its around ~550m cpu and with its at ~700m. There were some other changes that optimized pilot further so I may need a bigger cluster to get more accurate numbers, since at such a low CPU the error margin is fairly high

[2020-01-10 18:05] howardjohn commented on #17221
We have all integ tests other than security on istioctl

e2e tests are still on helm

[2020-01-10 18:08] #17579 closed

[2020-01-10 18:08] howardjohn commented on #17579
dupe of https://github.com/istio/istio/issues/19146

[2020-01-10 18:08] howardjohn commented on #17216
@ostromart are there more changes here, or this current rev what we are sticking to for now?

[2020-01-10 18:11] howardjohn commented on #19165
I think this is fixed by #19170

[2020-01-10 18:11] #19165 closed

[2020-01-10 18:16] howardjohn commented on #17739
@ayj do your recent PRs address this?

[2020-01-10 18:20] howardjohn commented on #18662
I think this is a really bad idea, and strongly recommend we don't go down this path
* A large number of big Istio users are explicitly disabling Galley today
* Knative, and other "minimal" installs disable galley
* This adds a hard dependency on citadel (or some other way to get certs) as well, which is not desired
* Many users do validation offline in CI.
* Validation webhook must be opt in. It

[2020-01-10 18:28] howardjohn commented on #20074
dupe https://github.com/istio/istio/issues/20076

[2020-01-10 18:28] #20074 closed

[2020-01-10 18:29] howardjohn commented on #20075
dupe https://github.com/istio/istio/issues/20076

[2020-01-10 18:29] #20075 closed

[2020-01-10 18:29] howardjohn commented on #20076
Make the port:
[code]

[2020-01-10 18:31] howardjohn commented on #20078
I think @richardwxn is adding annotations the k8s spec, but panic looks like a clear bug as well

[2020-01-10 18:34] lodotek commented on #14430
Having the same issue. @aaronmell did you ever figure this out?

[2020-01-10 18:37] #18612 closed

[2020-01-10 18:50] howardjohn commented on #20062
Are your pods healthy (eg marked as "Ready") and have Endpoints associated with the pod IP?

[2020-01-10 18:51] howardjohn commented on #20059
oof. @ostromart @sdake any ideas how we should fix this?

[2020-01-10 19:06] howardjohn commented on #20015
@carolynhu should look like https://testgrid.k8s.io/istio_istio#integ-pilot-local-tests_istio&width=20&exclude-non-failed-tests=

[2020-01-10 19:14] michaelbannister commented on #19720
@HenriAW I was using the new operator and an `IstioControlPlane` custom resource – I haven't used the `istioctl` command line tool directly but I believe it can take the same format as config?

[code]

HTH

[2020-01-10 19:43] stormobile commented on #20062
Yes they are and as you can see in service description from the initial message both endpoints are there. In addition to that pod recreation doesn't help. Only PILOT restart solves the problem.

[2020-01-10 19:48] howardjohn commented on #20062
The log suggests that 10.103.65.35 is actually deleted...

`Handle EDS endpoint loans-forms-report in namespace loans-forms-feature-pfp-4559 -> [10.103.65.35 10.103.71.54]` here we have both pods

`Handle EDS endpoint loans-forms-report in namespace loans-forms-feature-pfp-4559 -> [10.103.71.54]` then we get an update for .35 and remove it (kubernetes removed the endpoint)

`Handling event delete

[2020-01-10 19:54] howardjohn opened #20081 "Adopt Kubernetes AppProtocol from Service"
See https://github.com/kubernetes/enhancements/pull/1422

Once this is merged, we should add support to Istio.

This will likely mean that we read this field first. If present, use that protocol. Otherwise, fallback to the port naming as previously. We can also document this as the recommended approach, but it will likely require Kubernetes 1.18 or 1.19

[2020-01-10 21:05] nmittler commented on #20072
@howardjohn do you know how long they've been flaky? Was it possibly a recent change or an issue that's been around a while?

[2020-01-10 21:07] howardjohn commented on #20072
I am pretty sure its not a new issue. I had seen the occasional flake before, and there may be some issues opened for individual test cases. The 5% error rate is not from CI, its when running locally with high concurrency so its slightly inflated

[2020-01-10 21:12] LukaszRacon opened #20082 "Istioctl/operator egress gateway issues (duplicate sdsudspath, missing istio-certs)"
**Bug description**
Istioctl/operator creates egress gateway with duplicate `sdsudspath` volume and is missing `istio-certs` volume and volumeMount.

Duplicate `sdsudspath` cases error in istio-operator:
`istio-operator-... error   error occurred reconciling resource: Deployment.apps "istio-egressgateway" is invalid: spec.template.spec.volumes[2].name: Duplicate value: "sdsudspath"`

Missing `isti

[2020-01-10 21:17] nmittler commented on #20073
@howardjohn yikes good catch ... its a little scary that nothing on CI found this bug. I've sent out the fix.

We should probably start thinking about how to better test metrics going forward.

[2020-01-10 21:30] sushicw commented on #14935
Another use-case for this: with fuzzed / generated resources, we can do performance testing at various scales. (e.g. https://github.com/istio/istio/issues/18008 is in the context of analysis).

[2020-01-10 21:43] carolynhu commented on #20064
There are 2 hours difference because mixer_both and v2_both is not triggered and run. I will make a fix.

[2020-01-10 22:05] #20073 closed

[2020-01-10 22:10] lambdai commented on #19925
I compared the two stats in the compress file
There are very few signals: the major diffs originates from the life time of server
[code]
[code]
Is there any other worth noticing stuff during the mem usage rocketing period?
What does the nginx say at that time? Is there a req spike?

[2020-01-10 22:12] howardjohn commented on #19925
@lambdai I think from the logs its correlated with a new connection to pilot

[2020-01-10 22:26] aaronmell commented on #14430
@lodotek I think they went away when we upgraded to 1.2

[2020-01-10 22:42] lambdai commented on #20055
@Stono Is it possible cpu load high is the cause of high active cx, **not** the consequence?

cx_active is not a good metric to reason about the load balancer unless it is load-based LB

It's possible that the cx_active is because high response(due to app) but equal number of incoming request(due to RR or random LB).

[2020-01-10 22:49] lambdai commented on #20038
The 2 you mean istio-iptables and pilot-agent? I think it's nice to merge into one.

+1

[2020-01-10 22:53] ayj commented on #20072
@sushicw, possibly related to the recent async watcher start change?

[2020-01-10 22:57] lambdai commented on #19925
@howardjohn  Good point! The reset every 30 min.
So the concerning xds update is hidden while we hunt for the abnormal update counts.

[2020-01-10 22:58] howardjohn commented on #20038
Yes, so you would have `pilot-agent proxy` and `pilot-agent iptables` or something

[2020-01-10 23:16] carolynhu commented on #20046
also reverse latency graphs from p99 to p50

[2020-01-10 23:29] howardjohn commented on #13317
im working on this

[2020-01-10 23:52] #20046 closed

[2020-01-10 23:54] nareddyt commented on #15749
FYI the latest version of the JWT_authn filter supports `x509` format now. I have verified it with an integration test in [github.com/GoogleCloudPlatform/esp-v2](github.com/GoogleCloudPlatform/esp-v2)

[2020-01-11 00:08] #20021 closed

[2020-01-11 00:08] howardjohn commented on #20072
Actually does look like it recently got worse: https://testgrid.k8s.io/istio_istio_postsubmit#unit-tests_istio_postsubmit&width=20&exclude-non-failed-tests= you can see 4 failures in the last 20 or so commits

[2020-01-11 00:12] nacx opened #20087 "LbEndpointValidationError in Pilot"
**Bug description**

After installing bookinfo (or other applications), the following validation error appears in Pilot, and affected proxies remain in STALE state:

[code]

Note the following at the end of the error. That `1:1` seems to be the caue of the issue.
[code]

[code]

**Expected behavior**

There is no validation issue and the proxies receive the configuration normally.

**Steps to repr

[2020-01-11 01:08] howardjohn commented on #19166
This metric is N^2, since its recorded for every pod for every cluster. This is not sustainable for a large cluster. I recommend we remove this metric, unless we can move SDS to the same model as XDS, where there is a single cluster instead of inlined config in every cluster

[2020-01-11 01:11] xiaozhongliu opened #20089 "Errors upgrading 1.4.2=>1.4.3: error retrieving RESTMappings to prune"
**Bug description**
Following this guide: https://istio.io/docs/setup/upgrade/istioctl-upgrade/,
same errors occurred when upgrading 1.4.2=>1.4.3 on many components, though the components are upgraded to the new version.
Take one error for example:
[code]

**Expected behavior**
Istio gets upgraded normally.

**Steps to reproduce the bug**
[code]

**Version (include the output of `istioctl version

[2020-01-11 01:21] justinrsweeney opened #20090 "JWKS update for JWT authentication pushes changes to envoy sidecar without actual changes"
**Bug description**
When the pilots checks jwks uri on an interval, changes are found more frequently than anything is actually changed. The code here: https://github.com/istio/istio/blob/f2222fe2c3c1543cb90562fa03d7887191b37844/pilot/pkg/model/jwks_resolver.go#L397-L399 is checking that the response is exactly the same as the previous response and doesn't account for ordering differences in the J

[2020-01-11 01:35] howardjohn commented on #19972
Can you add a config dump? https://github.com/istio/istio/wiki/Troubleshooting-Istio

That will show the routing rules envoy is  configured with

[2020-01-11 01:43] yangminzhu commented on #20090
Thanks for reporting the issue. What jwks server do you use in this case? It's a little bit weird that it returns the public key in a different order on every request.

[2020-01-11 01:45] howardjohn opened #20092 "TestQuotaCache still flaky after recent changes"
See https://prow.istio.io/view/gcs/istio-prow/logs/unit-tests_istio_postsubmit/1065

may just want to disable the test entirely

[2020-01-11 01:46] justinrsweeney commented on #20090
No problem, thanks for looking at it. Using a googleapis URL: https://www.googleapis.com/service_accounts/v1/jwk/<service_account>, where the last part is a google service account.

[2020-01-11 01:51] hzxuzhonghu commented on #20027
Connnection refused indicates a connect request set to a non existing server. You add a prestop here, it works.

[2020-01-11 01:51] #20027 closed

[2020-01-11 02:03] howardjohn opened #20093 "echo server gets "cannot assign requested address" after making too many requests"
I have a test that is failing (in development, not an issue). What happens when it fails is the issue. We use the retryUntilSuccess, and send traffic: https://github.com/istio/istio/blob/a952c41a0921bc0694f238c79f23a020956acb30/tests/integration/pilot/locality/main_test.go#L230

The first few iterations are all "normal" errors. However, eventually the errors change to ` a->fake-eds-external-servic

[2020-01-11 02:04] yangminzhu commented on #20090
I just did a quick test and it turns out the response is very unstable: https://www.googleapis.com/service_accounts/v1/jwk/test-service-account@ymzhu-istio.iam.gserviceaccount.com, each jwt key is a map and the fields in the map could have arbitrary order on each request.

We need to think about how to best improve our handling in Pilot to be more smart about this unstable. One option is to deseri

[2020-01-11 02:06] infa-ddeore commented on #20027
@hzxuzhonghu what I meant that istio's default installation manifest should contain `preStop` hook so everyone gets this configuration, because all installations will have this issue

[2020-01-11 02:07] yangminzhu commented on #20090
Some more background copied from the original report on slack:

[2020-01-11 02:13] #18284 closed

[2020-01-11 02:19] justinrsweeney commented on #20090
I have not used this in Go, but have used a similar one in Java to compare JSON: https://github.com/kinbiko/jsonassert and determine if two JSON strings are semantically equivalent.

[2020-01-11 05:04] #17450 closed

[2020-01-11 05:09] kalyank23 commented on #19933
It worked with the below sample configuration.

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: mygateway
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
  - port:
      number: 443
      name: https
      protocol: HTTPS
    tls:
      mode: MUTUAL
      serverCertificate: /etc/istio/ingressgateway-certs/tls.crt
      privateKey:

[2020-01-11 05:09] #19933 closed

[2020-01-11 05:11] kalyank23 commented on #19933
XFCC header that I received

X-Forwarded-Client-Cert: Hash=548e91e2af9ef0f637608dd732d80ffb7579b87028d87b0ce3a502e7f290cd8a;Subject="CN=helloworld.example.com,OU=ExampleOU,O=ExampleO,ST=ExampleST,C=ExampleC";URI=,By=spiffe://cluster.local/ns/default/sa/default;Hash=bc7291441f96e094d54809ea1915f30078701433ecb67f6626a73d9df498d171;Subject="";URI=spiffe://cluster.local/

[2020-01-11 06:27] balamuru commented on #19109
Anything new on this?
 It's pretty important (given that SDS seems to be implicitly reccomended over file mounted secrets)

[2020-01-11 06:43] balamuru commented on #19109
What is the alternate recommendation to enable sds ?

[2020-01-11 07:30] balamuru opened #20097 "Istio helm install with sds profile sometimes works / sometimes doesn't"
[log.txt](https://github.com/istio/istio/files/4049067/log.txt)

**Bug description**
When I try and install istio with the sds profile, the install sometimes works , sometimes doesn't (fails with the validating pilot / webhook  error). See log .

**Expected behavior**
Install should succeed
**Steps to reproduce the bug**
[code]
if the install doesn't fail, delete it via helm and try again. See log

[2020-01-11 07:37] balamuru opened #20098 "Istio install (using istioctl) with sds profile doesn't work"
**Bug description**
Istio cannot be installed with the sds profile using istioctl

[ x] Configuration Infrastructure
[ x] Docs
[ x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Successful installation
**Steps to reproduce the bug**
[code]
The install w

[2020-01-11 08:01] jainbhavya65 commented on #17980
@bbenlazreg we are still facing same issue can you please guide us how you connect it

[2020-01-11 08:09] balamuru commented on #20098
I can get the istioctl install to "complete" by turning off validation but some of the pods don't come up because of volume mount issues

[code]

[code]

[code]

[2020-01-11 08:40] ramaraochavali commented on #20093
@howardjohn Thanks. This makes sense now.

[2020-01-11 10:54] Miles-Garnsey commented on #8619
@samwyma, your lua filter looks very similar to what I need as well, but I'm using Keycloak, not auth0. With your auth0 endpoint, do you know which particular OIDC flow you're using?

I don't know how much this depends on particular auth0 settings attached to your application, but it looks almost as though you're expecting the `/login` uri to hand you back a full JWT token, which I think correspon

[2020-01-11 15:42] su225 commented on #18287
Hi @brian-avery,

I raised a PR (I have marked it WIP) #20099

I could generate snippets. But I have some trouble while including fortio command outputs along with the snippets. I tried `outputis="text" outputsnippet="true" `. I got errors complaining that it cannot find the output file. I observed in the output directory that it sometimes generates and sometimes not. I'm trying to figure out why

[2020-01-11 15:43] su225 commented on #18286
@brian-avery : I'll pick this one too.

[2020-01-11 15:51] su225 commented on #19967
@brian-avery : I'll take this one.

[2020-01-11 17:59] balamuru commented on #17704
Thanks for the clarity

[2020-01-11 17:59] #17704 closed

[2020-01-11 19:11] karlhungus commented on #19995
@howardjohn in an attempt to be a smidgeon helpful i added some updates to operator here: https://github.com/istio/operator/compare/master...karlhungus:add_back_tcp_to_default_installer?expand=1, in particular https://github.com/istio/operator/compare/master...karlhungus:add_back_tcp_to_default_installer?expand=1#diff-d15d785a311f59dff2902f7cd6c55d0cR39566

I've got some tests to fix, and i suspec

[2020-01-11 20:40] TomasKohout opened #20100 "Istio Pilot 1.4.0 and 1.4.3 push too much configuration to envoy proxies."
**Bug description**

**Expected behavior**
As it is in 1.3.6, pilot push configuration only if it is needed and CPU utilization do not reach the stars.
**Steps to reproduce the bug**
For me it was enough to install 1.4.0. Then I've upgraded to 1.4.3 because I thought that the issue could be fixed.
**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version`

[2020-01-12 00:19] howardjohn commented on #19995
The `fmt` commit is contentious because the file is autogenerated :slightly_smiling_face:

I think the original intent of the 31400 was just as an example, so its possible it was intentionally removed. What may be more useful would be to instead document how to add a port and include that in the docs. I don't feel too strongly either way though

[2020-01-12 00:41] howardjohn commented on #20100
I think this will needs a lot more information for us to find anything useful out of this. Cluster size, number of pods, number of pilots, number of pushes, amount of config, pilot resource requests, etc will all be useful if you are interested in debugging this further

[2020-01-12 00:43] howardjohn commented on #20098
See https://istio.io/blog/2019/trustworthy-jwt-sds/, it appears rancher is not configured to support a prerequisite for SDS

[2020-01-12 00:43] howardjohn commented on #20097
dupe of https://github.com/istio/istio/issues/20098

[2020-01-12 00:43] #20097 closed

[2020-01-12 00:45] howardjohn commented on #20089
@elfinhe is this cosmetic (extra logs) or does this have real impact? The root cause I assume is because this api does not exist on k8s 1.16. We don't even use that in any of the install though so we shouldn't be looking at it at all

[2020-01-12 00:51] howardjohn commented on #20087
[code]

The `1: 1` part means that Envoy does not understand the proto message it received as far as I know. Given the control plane version does not match the data plane version:

[code]
and version `8d65b5b51ac625123ce43d912dc6e3484889fdb7` and `1.5.0` do not exists leads me to believe its something going wrong with your cutom setup possibly?

[2020-01-12 01:02] howardjohn opened #20101 "Consider using --validate=false for istioctl install to avoid validation webhook dependencies"
This may resolve issues where lingering webhooks stick around blocking installation, etc. We are the ones writing the config, so presumably it is correct.

There might be some negative implications of this, such as if custom user's settings actually do create invalid config

[2020-01-12 02:00] nacx commented on #20087
Yes, sorry. I reported the raw commit in my fork, with istioctl built from there. It tracks master and only modifies some minor things in the Helm charts, but no single line of code is changed.

The upstream commit for this error is `19bfdf0376ae6645c0c8f3fdee2cf2924995595c`.

[2020-01-12 02:10] pitlv2109 commented on #19109
hey, I _think_ it should be working now, at least for recent 1.4.x release. My fix checked in a while ago. @howardjohn should have more info.

[2020-01-12 02:22] howardjohn commented on #20087
and what about envoy? it says version 1.5 which isn't out yet

[2020-01-12 02:29] jaygorrell opened #20102 "Multiple telemetry pods can lead to bad count metrics"
**Bug description**
When running 2+ telemetry pods (or using HPA, which is default), new pods will have a fresh starting count for things like requests.

**Expected behavior**
Telemetry can be autoscaled without inaccurate fluctuations in metrics.

**Steps to reproduce the bug**
1. Run up the request count in your cluster.
2. Scale up the telemetry pods.
3. See prometheus (or any scraper) picks up

[2020-01-12 04:33] elfinhe commented on #20066
thanks @paweloczadly, I will take a look next week.

[2020-01-12 05:01] #13179 closed

[2020-01-12 05:01] #14660 closed

[2020-01-12 05:04] #17182 closed

[2020-01-12 05:04] #17461 closed

[2020-01-12 05:07] elfinhe commented on #20089
@xiaozhongliu what's `kubectl` version? I see the error message at older version of kubectl: https://github.com/MrHohn/kubernetes/blob/4523ce8f32a13b3331d91b64824f43f22c1caf8b/pkg/kubectl/cmd/apply.go#L310. Because `istioctl` depends on your local `kubectl`, so please try upgrading `kubectl` first.

@howardjohn for istioctl, I'd suggest we also add version check of `kubectl` before we run any comm

[2020-01-12 06:08] infa-ddeore commented on #20027
@howardjohn @ostromart @sdake
do you guys not think this is an issue with default istio? it is reproducible and can be fixed as I mentioned above.

the fix solves my problem but i think istio by default should have `preStop` hook so others won't face the similar issue and spend time on finding the solution.

[2020-01-12 06:16] howardjohn commented on #20089
it's kubectl 1.13 it's in the original issue

seems like we should be using client-go not exec to kubectl, what do other operators do

[2020-01-12 06:37] howardjohn commented on #20102
You should only look at the rate of any metric that is monotonically increasing, not the value, doesn't this apply to every single application with a counter or am I missing something?

[2020-01-12 08:17] TomasKohout commented on #20100
Currently we have 1 cluster with 22 nodes, 262 pods with sidecar injected (according to istioctl).

We have approx 500 istio related configurations, DestinationRule and VirtualService for each application. Each application has canary deployment with 0 replicas (could this be the issue?).

Pilot has default 500m CPU and 2048Mi memory requrests.

For this, I've changed the CPU requests to 1500m so t

[2020-01-12 08:42] nacx commented on #20087
I'll provide the exact version in a while (I don't have access to the cluster now), but I have deployed the images built with `make docker` from that upstream commit. Nothing custom or fancy there.

[2020-01-12 10:45] TomasKohout commented on #20100
After 3 hours of 1.3.6:

![after-3-hours](https://user-images.githubusercontent.com/16974829/72217640-01e9f180-3531-11ea-83a3-62f681532c71.png)
![after-3-hours-pushes](https://user-images.githubusercontent.com/16974829/72217642-07dfd280-3531-11ea-9cff-b6fdb296c201.png)
![after-3-hours-push-time](https://user-images.githubusercontent.com/16974829/72217643-0f06e080-3531-11ea-8250-e4cb604288dc.png)

[2020-01-12 12:28] antiqe commented on #19263
+1. We face the same issue, we planned to used the new istioctl with custom IstioControlPlane manifest and i didn't find proper workaround.

Regarding the syntax, something like this should work on 1.5 ?

[code]

Or helm style ?

[code]

[2020-01-12 12:55] #17761 closed

[2020-01-12 13:18] PeopleRange commented on #20089
Same issue for Fresh Install today

GKE:
1.16.0-gke.20

Install Command:
./istioctl manifest apply --set profile=sds --set values.gateways.istio-ingressgateway.sds.enabled=true --set values.global.k8sIngress.enabled=true --set values.global.k8sIngress.enableHttps=true --set values.global.k8sIngress.gatewayName=ingressgateway --set cni.enabled=true

Generated manifests do the same.

CLI Output (lit

[2020-01-12 13:52] jaygorrell commented on #20102
I could be misunderstanding myself, but isn't that an issue when your scrape endpoint is balanced between pods with independent counts? This works fine for a single telemetry pod but when you scrape monotonic values from multiple pods (ie. during scaling), how are you supposed to know the _rate_?

As for every other application with a counter, for example Datadog, metrics are submitted to the agen

[2020-01-12 15:04] bbenlazreg commented on #17980
I applied this envoy filter on Istio 1.4.0

[code]

[2020-01-12 15:40] howardjohn commented on #20102
say I have 2 pods. One reports 0 at t0 and 10 at t1. The other reports 15 at t0 and 25 at t1.

We are seeing a qps of 20 in reality. If I look at the metric I see 2 data points at 10 and 25 which is meaningless. if I add `rate` I will now see 2 seriees at 10 and 10. Now we sum those and see 20, which is our expected qps

[2020-01-12 15:43] howardjohn commented on #20100
so looks like 1.3.6 is high cpu initially then goes dormant since there are no changes, are you saying that 1.4.3 never goes dormant and continues to have high cpu?

[2020-01-12 15:59] TomasKohout commented on #20100
Yes, that is what I'm saying. :-)

[2020-01-12 16:02] howardjohn commented on #20100
when you did your experiment above were you switching just pilot or all the proxies as well to 1.3?

Seems there are 2 issues here - too many pushes and when those do happen it's really slow.

For the first we need to see what is triggering the pushes. Do the logs from pilot indicate anything? is it just constant pushing for hours (the graph only shows a couple minutes)?

for the second it may be

[2020-01-12 16:24] TomasKohout commented on #20100
Could it be that the bug fix was not propagated to the 1.4.0 release?

[2020-01-12 16:27] jaygorrell commented on #20102
I think I see the disconnect here, and maybe it's a problem with Datadog's documentation. They suggest the following setup for scraping:
[code]

I believe you're referring to scraping at the pod-level so you have tag information about which pod generated which metric. In the case above, you hit a service and don't know which pod is serving that value... so in your example, at t0 we may scrape 0 an

[2020-01-12 16:30] howardjohn commented on #20100
what bug fix?

[2020-01-12 17:14] softputer opened #20105 "istiocontroller cannot probe"
When I installed the helloworld-go ksvc, the status of ksvc is IngressNotConfigured

And the Knative networking-istio component said

"{"level":"error","ts":"2020-01-12T17:06:30.733Z","logger":"istiocontroller.ingress-controller.status-manager","caller":"ingress/status.go:366","msg":"Probing of http://helloworld-go.default.example.com:80/ failed, IP: 192.168.165.5:80, ready: false, error: unexpect

[2020-01-12 18:19] TomasKohout commented on #20100
I'm sorry, It was a misstake. I was a bit tired yesterday and thought that the link in original post is related.

It is constantly pushing.

Logs for 3 minutes.

[pilot-logs.txt](https://github.com/istio/istio/files/4050953/pilot-logs.txt)

About the configs, I'm not sure. I'd expect that if those configs do not change as they do not, then it should not be an issue. For 1.3.6 it is not.

[2020-01-12 18:36] howardjohn opened #20107 "pilot: record reason for starting a push"
When debugging issues like https://github.com/istio/istio/issues/20100, we need to know why pushes are happening. Every time we start a push in pilot, we should record a reason as a metric. That way we can identify the source of pushes. Note the reason should be some enum so it can easily be sent as metrics. We should also put this on the dashboard

[2020-01-12 18:38] howardjohn opened #20108 "istiod: update dashboards"
We need to update dashboards to accommodate for the new changes. At the very minimum we need to remove things like `job=galley` since those are no longer scraping anything. But it also probably doesn't make sense to have a "Galley" dashboard, instead we should refactor to a "Config" dashboard, etc. There are a lot of options here so we should probably get consensus on what we want the end result t

[2020-01-12 18:44] howardjohn commented on #20100
Root cause likely: https://github.com/istio/istio/pull/16967. If you look at the logs youll see a bunch of stuff like `Full push, new service mw-asynccomm-ib.monkeys-feature-ldb-22885.svc.cluster.local`. This PR is only in 1.4, so it would explain the difference you see.

That PR was changed in https://github.com/istio/istio/pull/17957, but that is NOT in 1.4. I am pretty sure with that PR you wou

[2020-01-12 18:46] Just-Insane commented on #14969
@donbowman I am trying to get this working using Oauth2_Proxy on a subdomain, then redirecting back to the original URL. I have modified your example to remove the base_host section and the ignore_request section, however now I am getting into a redirect loop.

It appears that `local redirect_url = "https://"..oauth_host.."/oauth2/start?rd="..request_url` is not being honored correctly by Oauth2_P

[2020-01-12 18:54] donbowman commented on #14969
My configmap for oauth2 proxy:
[code]

[2020-01-12 19:02] TomasKohout commented on #20100
With the version you have provided pilot is behaving properly.

api-gateway is a nginx that forward requests and they are not fluctuating. At the moment there is zero traffic and none of them is in a restart loop.

[2020-01-12 19:12] TomasKohout commented on #20100
Wait, now I see that there are 51 events where envoy proxy was not ready. I'm not sure though if this is not related to me performing upgrades of Pilot.

[2020-01-12 19:40] rafabene commented on #17457
I'm facing the same issue with Istio 1.3.6.

[2020-01-12 19:46] howardjohn commented on #20100
ok great. we can cherry pick that for a 1.4.x release.

It would be nice if you could look at the logs and anytime you see "full push" figure out what was going on with that pod so we can understand the situation fully.

Also if you aren't already I suggest you take a look at the Sidecar object which can help scope down the config for each proxy which will help a lot for performance

[2020-01-12 19:55] howardjohn commented on #20105
I am not sure what any of this means, this seems like a knative issue?

[2020-01-12 20:16] TomasKohout commented on #20100
I will check it and will try to figure it out and write it down here if you don't mind to keep this issue open.

I've skipped the Sidecar object before, but I'll check it out. :-) Thank you very much for your help. :-)

[2020-01-12 20:16] Just-Insane commented on #14969
I must be missing something pretty basic. Per https://github.com/pusher/oauth2_proxy/issues/216#issuecomment-573451100 I cannot get the redirect working properly. Even when hardcoding the redirect_url in the filter you've provided, I keep getting sent back to the base of oauth.corp.domain.com.

From what I can tell, your environment is set up with Oauth2_Proxy at a subdomain (oauth2), and your ser

[2020-01-12 20:36] donbowman commented on #14969
they need to be the same domain (cuz it sets a cookie).
I have kibana.admin.DOMAIN, and oauth2 proxy on oauth2.DOMAIN

[2020-01-12 20:39] abdennour commented on #5056
I have the same issue as well

[2020-01-12 20:40] donbowman commented on #14969
I have a few env vars set:
`OAUTH2_PROXY_COOKIE_DOMAIN`
`OAUTH2_PROXY_CLIENT_ID`
`OAUTH2_PROXY_CLIENT_SECRET`
`OAUTH2_PROXY_COOKIE_SECRET`
`ENV_BASE_URL`
`ENV_CLUSTER`
`ENV_NS_PREFIX`

you may have an issue missing cookie domain

[2020-01-12 21:00] Just-Insane commented on #14969
I did have the cookie domain set via args, but I've set it via the envs as well, without a difference.

Currently keycloak is running at auth.domain.com, oauth2_proxy is at oauth.corp.domain.com, and I am protecting a service running at rancher-demo.corp.domain.com, so the cookie domain issue should be fine if the cookie is set for corp.domain.com.

The _oauth2_proxy cookie has a domain value of D

[2020-01-12 21:04] donbowman commented on #14969
i think you want the cookie domain of `domain.com` then (or corp.domain.com), not oauth.corp.domain.com, its hierarchical.

[2020-01-12 21:18] Just-Insane commented on #14969
When I try to set the cookie_domain to `corp.domain.com` from `.corp.domain.com` I get the following errors:

[code]

[2020-01-12 21:34] howardjohn opened #20110 "Galley tests not running with -race"
See https://github.com/istio/istio/blob/7830ecd28fcc77c328dd82ca67ae688e6433ca3d/Makefile.core.mk#L491, we call the wrong target.

I would just fix this but a ton of galley tests fail, so we need to fix them all

[2020-01-12 21:34] howardjohn opened #20111 "TestAnalyzeSortsMessages fails race test 100% of the time"
See https://github.com/istio/istio/issues/20110 for why this isn't caught

Trivially reproducible with `go test ./galley/pkg/config/processing/snapshotter -run TestAnalyzeSortsMessages -race`

I am sure there are many other tests that will fail like this as well

[2020-01-12 21:54] donbowman commented on #14969
`2020-01-12 4:08:02 PM 2020/01/12 21:08:02 net/http: invalid Cookie.Domain "\"corp.domain.com\""; dropping domain attribute` seems relevant to me?

[2020-01-12 22:02] howardjohn opened #20112 "operator and installer post merge tasks"
https://github.com/istio/istio/pull/20106 merges the two repos as is, but we need to hook these together and remove duplication. Below is an incomplete list of action items in random order:

* integrate operator docker build into istio-docker.mk (owner: @howardjohn) https://github.com/istio/istio/pull/20128
* update release builder to not reference these repos (owner: @howardjohn) https://github.c

[2020-01-12 22:11] Just-Insane commented on #14969
[code]

I was able to resolve that issue (turns out you don't put quotes around the cookie-domain). However it's still directing to `https://oauth.corp.domain.com/` not `https://rancher-demo.corp.dormain.com/`

Note that the original request to Keycloak is `https://auth.domain.com/auth/realms/realm/protocol/openid-connect/auth?approval_prompt=force&client_id=rancher-demo&redirect_uri=https%3A%2F%2

[2020-01-13 01:40] luizfnunesmarques commented on #18285
Hi @su225 Do you mind if I try this one? I started to work on it prior to look on the issues (started with the docs/site tests to get used to the env), my bad. If already started to work on it too, just let me know and I will pick another issue.

thanks :-)

[2020-01-13 02:20] seflerZ commented on #18981
@lizan I've taken a look and found there are some uncertainties about attributes used by route match. Because the various RPC protocols may have routing parameters parsed from request itself. If the attributes used by condition determination is only limited to Istio attributes. I'm afraid it won't be enough to be adapted to meta RPC routing.

[2020-01-13 02:24] morvencao opened #20113 "Istio Operator API GVK definitions spread over in util and api packages"
**Bug description**

Currently the Istio Operator API GVK definitions can be found in `util` and `api` packages:
See: https://github.com/istio/operator/blob/master/pkg/util/common.go#L29-L34
and https://github.com/istio/operator/blob/master/pkg/apis/istio/v1alpha1/register.go#L28-L29
This make it hard to maintain, we'd better keep it in `api` package because it should be the only source of truth f

[2020-01-13 02:31] #20105 closed

[2020-01-13 02:47] elvizlai commented on #19761
This is very helpful. We now response this header in our business code.

By the way, any policy to set this in `http_connection_manager`?

[2020-01-13 02:50] balamuru commented on #20098
Thanks, let me see what I can do. I'll try with plain K8s too.

[2020-01-13 03:07] irisdingbj commented on #20000
@esnible To your question:

https://github.com/istio/istio.io/blob/master/static/operator-profile-default.yaml will get all base values from operator (default.yaml) and underneath it will use the some similar like the output in `istioctl profile dump` during install.

[2020-01-13 03:08] Just-Insane commented on #8619
I am also having issues getting this sort of setup working (Istio + Keycloak + Oauth2_Proxy) to get OIDC with Istio.

Were you able to get it working with Keycloak?

[2020-01-13 03:21] #19998 closed

[2020-01-13 03:24] morvencao opened #20115 "Operator stable_manifest test is not stable"
**Bug description**

The operator `stable_manifest` test is not stable, if you check the latest test jobs fro prow dashboard, many of them failed because of `stable_manifest` test. I drag the logs of failed job logs:

[code]

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] U

[2020-01-13 03:59] yingzhuivy commented on #18903
@ckcd wondering if you are still working on the implementation for this since the api change has been merged? I hope to get this in before 1.5 release cut which is Jan.20. If not, I can work on it. let me know~

[2020-01-13 04:07] shankarkc opened #20116 "Istioclt profiles doesnt have option to install ilbgateway"
**Bug description**
Using istioctl user should have an option to install internal gateway
gateways

**Expected behavior**
./istioctl manifest generate  --set profile=demo  --set values.gateways.istio-ilbgateway.enabled=true
above command should allow user to create gateway
**Steps to reproduce the bug**
istioctl manifest generate  --set profile=demo  --set values.gateways.istio-ilbgateway.enabled=

[2020-01-13 04:32] howardjohn commented on #18903
oh it never got implemented that explains why it doesn't work.. I thought it was a bug. I have a pr that implements it in https://github.com/istio/istio/pull/20094

[2020-01-13 04:39] ckcd commented on #18903
@yingzhuivy  I'm not doing this since @howardjohn is already working on it in https://github.com/istio/istio/pull/20094.

[2020-01-13 04:46] ckcd commented on #18903
yes... since the api change is just merged recently, I haven't done it yet T^T

[2020-01-13 05:01] #14740 closed

[2020-01-13 05:02] #15265 closed

[2020-01-13 06:39] ahmedwaleedmalik commented on #19990
Yes maybe but this issue occurs only after applying authorizationpolicy and as soon as i delete it things work as they are supposed to. Can you take a lot at the manifests, maybe i am doing something wrong here ?

From logs, after applying authorizationPolicy:

[code]

Tried disabling mTLS and the issue still re-occurs. Tried moving AuthorizationPolicy to `istio-system` as well but still the same

[2020-01-13 07:27] #20113 closed

[2020-01-13 07:55] turbotankist commented on #20062
I know it.
I mean a lot of `scvg: inuse: 25, idle: 36, sys: 62, released: 29, consumed: 33 (MB)`
We didn't have this in 1.3.x
I can't send logs with issue appearing time because I can't repeat it manually.  It just  happening in random

[2020-01-13 09:03] irisdingbj commented on #20000
@esnible regarding to the saving of istioctl command, can we use the way like `istioctl manifest apply --record=true`, and save the command we used as annotation in the installed ICP cr? similar thing like `kubectl --record=true`

[2020-01-13 09:50] hzxuzhonghu commented on #20093
Is that the forwarder listens on a fixed port? And the listener does not close properly

[2020-01-13 09:53] cdyue commented on #19040
same issue on 1.3.5, 1.3.6 and 1.4.3.

[2020-01-13 11:34] objectiser commented on #19545
@kelvin-yue-scmp Seems like two different issues - in your original description you were showing that the trace id from service A was different to service B. However in the screenshots above it shows that service A and B are both reporting spans for the same trace id. So it looks like your originally described issue no longer exists.

In both trace views, with and without jaeger java client, it sh

[2020-01-13 11:51] Stono commented on #19925
Is there anything else we can do to help here guys?  This is causing quite a bit of node contention for us.

This prom query shows the % memory (vs request) of sidecars > 100%.

<img width="1670" alt="Screenshot 2020-01-13 at 11 50 58" src="https://user-images.githubusercontent.com/1486729/72254110-04188280-35fb-11ea-9d8d-69087b2c7e05.png">

[2020-01-13 11:54] Stono commented on #20055
Hey @lambdai - i'm not sure i follow.  I can't understand how 1 instance of 3 would (consistently) be more than double the others.  They're all processing the same incoming requests (just distributed for load)

[2020-01-13 11:56] xiaozhongliu opened #20119 "Unexpected edge on service graph"
**Bug description**
The following idle edge highlighted is unexpected, no calling path for this definitely. Per my testing, no doubt it's always idle.
![image](https://user-images.githubusercontent.com/17674404/72254069-fd5f2f00-363d-11ea-8059-7b835c6d52a3.png)

**Expected behavior**
The edge highlighted should not exist.

**Steps to reproduce the bug**
The [k8s-demo-canary] app is an nginx server

[2020-01-13 12:11] manikantabandaru commented on #18993
Even i am facing same issue when followed https://istio.io/docs/tasks/traffic-management/request-routing/#route-based-on-user-identity   section review based on user.

After login the page show jason user but after refresh the page is not showing reviews from v2

[2020-01-13 13:32] karlhungus commented on #19995
woops!

yeah, that makes more sense; ie update the tutorial -- having a port named tcp seemed weird.

[2020-01-13 13:34] valer-cara opened #20120 "CDS NOT SENT on sidecars after creating/editing DestinationRule iff subset labels are not matched"
**Bug description**
I'm running istio in a multi-cluster with replicated control planes as described in the docs.

When updating a DR, CDS synchronization to sidecars breaks.
Restarting pilot will not fix the issue. Restarting the sidecars seems to re-sync those specific sidecars.

I've built a custom pilot image with more logging for debugging purposes and it seems that for those `NOT_SYNCED` con

[2020-01-13 13:35] valer-cara commented on #19902
I've created another issue related to the CDS/NOT_SYNCED problem here: https://github.com/istio/istio/issues/20120

[2020-01-13 14:19] brian-avery commented on #19967
Thanks @su225!

[2020-01-13 14:39] arnecls commented on #20120
We have the same issue (#19902).
We are currently looking into locality aware routing as a root cause. We have first seen this appearing after we tested different modes. Also we have one cluster with 1.3, which does not use locality based routing (also because it does not have the common labels required), where this issue is not seen.

[2020-01-13 14:47] paweloczadly commented on #20066
Also, `rollingMaxSurge` and `rollingMaxUnavailable` are displayed in every upgrade execution and it's not possible to set them using `spec.values.sidecarInjectorWebhook.rollingMaxSurge` and `spec.values.sidecarInjectorWebhook.rollingMaxUnavailable` as described [here](https://istio.io/docs/reference/config/installation-options/#sidecarinjectorwebhook-options).

Once they are set, `experimental upg

[2020-01-13 15:52] howardjohn opened #20122 "istioctl prune does not remove partially removed components"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

[2020-01-13 16:02] howardjohn commented on #20122
If you set `components.injection=disabled` or whatever, it will prune everything. But, if you set `istio.enabled`, which removes the injection deployment (but keeps other stuff in the injection folder!) then the injector deployment is not pruned.

cc @elfinhe this impacts upgrade

[2020-01-13 16:06] frankbu commented on #18993
@manikantabandaru What are you seeing when you refresh the page? Are you seeing the same error message as @camille-rodriguez: "the ratings are unavailable"? If not, I think your problem is different (maybe the VirtualService or DestinationRule isn't configured properly). Please try again, and provide more details about your configuration and what exactly you are seeing.

[2020-01-13 16:06] howardjohn commented on #20062
The `scvg` stuff is just go GC logging, not at all related to this.

Based on the above I don't see any evidence of things misbehaving, seems like your pods just go not ready or something and they lose their endpoints

[2020-01-13 16:08] howardjohn commented on #20093
I didn't look too much into it, but the forwarder is not a fixed port. From
what I can tell it is closed properly. I ran `netstat -n` during this time
and it never increased much, but I didn't investigate more beyond that

On Mon, Jan 13, 2020 at 1:50 AM Zhonghu Xu <notifications@github.com> wrote:

[2020-01-13 16:28] valer-cara commented on #20120
Done some more testing, trying all sorts of "permutation" of the inputs and i think i'm able to reproduce this.

In my scenario, the DR has a few subsets with labels and the ServiceEntry lists endpoints for each of those labels.

If i edit the DR and add a subset with a label that's not currently defined & synced in the cluster; the STALE condition is triggered and the only way to get out of it is

[2020-01-13 16:30] howardjohn opened #20123 "Low overhead performance testing of Pilot"
Right now its pretty hard to test pilot at scale, because we have gotten to the point where pilot can handle 1000+ connections on a single CPU, so in order to test pilot at even moderate scale you need a massive cluster.

We can fake load with direct XDS connections, service entries, etc -- but these are not exercising the same code paths, so they are not fully representative.

What I envision is

[2020-01-13 16:31] stormobile commented on #20062
I would love to agree with you here but the thing is - pod recreation doesn't solve the issue. gateway pods recreation doesn't solve the issue. According to k8s api - all endpoints are there and pods are ready. The problem is immediately resolved when Pilot pod is recreated without dropping pods that you suppose to be not ready.

[2020-01-13 16:33] howardjohn commented on #20062
@stormobile I am not trying to say everything is definitely working fine, but just based on the log above I don't see any issues. If you can get more info it would be useful, but right now its hard to move forward at all

[2020-01-13 16:34] stormobile commented on #20062
I am just curious what kind of logs we should collect the next time this happens?

[2020-01-13 16:40] valer-cara commented on #20120
Yup, i can now confirm that the above fixes my issue. :jack_o_lantern:

The ServiceEntry endpoints matching each of the DR subset labels **must** exist & be synced before creating the DR in order to avoid CDS going `STALE`.

[2020-01-13 16:43] howardjohn commented on #20062
The pilot logs show pretty much all endpoint info, like the logs above you posted. Except to me those look like normal behavior, but it could be something funky going on

[2020-01-13 17:29] infa-rbliznet commented on #19980
It seems the issue was actually with the pods that were shutting down rather than with those that were starting up. I will re-run the tests and update the bug.

[2020-01-13 17:38] myidpt commented on #19799
Hi Martin, can you help to take a look?

[2020-01-13 17:39] douglas-reid commented on #20102
Yes. This appears to be an issue with the documentation. If the service is load-balanced across multiple instances, then that config will appear to be broken.

The "easiest" way to do this is to scrape *all* endpoints, then aggregate across them all.

[2020-01-13 17:44] jaygorrell commented on #20102
Thanks. Mentioned issue above is to address this on the DD side. I'll close this one since it doesn't seem to be anything wrong with the way metrics are being reported. Thanks for the discussion!

[2020-01-13 17:44] #20102 closed

[2020-01-13 18:53] elfinhe commented on #20122
hi John, which cmd was used? I tried `--set components.injection=disabled`, but obviously it will return an error.

[2020-01-13 18:55] howardjohn commented on #20122
Sorry that wasn't the exact command. Try installing `global.istiod.enabled=false` then again with `global.istiod.enabled=true`. You will see the injector deployment sticks around. If you just went straight to `true` it would never have been created

[2020-01-13 18:59] bogiva commented on #17704
Could you, please be more specific? What does a low value mean?

[2020-01-13 19:09] howardjohn commented on #20115
I am skipping the test as part of https://github.com/istio/istio/issues/20112. istio/istio has a much higher bar of test stability than istio/operator

[2020-01-13 19:10] douglas-reid commented on #17704
@bogiva I don't have hard numbers and haven't done exhaustive testing. based on experience with other systems, I tend to think that durations of around ~100s are probably about right.  Of course, this means that it is possible to exhaust all your quota quickly / take more RPS than you may want. The way everything is put together is not meant to support precise quotas, and behaves less consistently

[2020-01-13 19:29] nnadig-ebsco opened #20129 "istio-pilot discovery container consuming huge CPU respurces"
**We are using Istio 1.2.2  and seeing lot of cpu usage by istio-pilot discovery container**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[x ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[x ] User Experience
[ x] Developer Infrastructure

**Consume cpu within suggested limits**

**Install Istio and create a multiple namespa

[2020-01-13 19:33] elfinhe commented on #20089
hi @PeopleRange, thanks for letting us know. we will fix this by either detecting `kubectl` version or using kube go-client instead.
As for a short term workaround, try upgrading your local kubectl and then run istioctl.

[2020-01-13 19:36] howardjohn commented on #19276
https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20128/unit-tests_istio/6279

[2020-01-13 19:48] sushicw commented on #20072
After experimenting with different commits, I can confirm that 101b3380b (#19890) caused a jump in error rate from around 0.3% to about 10%. I'll put together a revert.

[2020-01-13 19:58] #17329 closed

[2020-01-13 19:59] Sandesh-Jayaprakash commented on #19813
Issue got resolved after uninstalling and reinstalling Istio

[2020-01-13 19:59] #19813 closed

[2020-01-13 20:05] JimmyCYJ opened #20133 "Add a STS token service that allows Envoy to set up gRPC stream using dynamic token"
**Describe the feature request**
There is an [OAuth token exchange spec ](https://tools.ietf.org/html/draft-ietf-oauth-token-exchange-16) that specifies security token exchange protocol (STS).

gRPC has the support for fetching dynamic OAuth2 token via STS [link](https://github.com/grpc/grpc/blob/1326593d3f033899a0eca390e77c72767f5a973b/include/grpcpp/security/credentials_impl.h#L265). This helps

[2020-01-13 20:05] JimmyCYJ commented on #20133
/cc @liminw

[2020-01-13 20:06] JimmyCYJ commented on #20133
https://github.com/envoyproxy/envoy/pull/9101

[2020-01-13 20:07] JimmyCYJ commented on #20133
https://github.com/istio/istio/pull/19589

[2020-01-13 20:07] JimmyCYJ commented on #20133
https://github.com/istio/istio/pull/19752

[2020-01-13 20:07] JimmyCYJ commented on #20133
https://github.com/istio/istio/pull/19897

[2020-01-13 20:41] elfinhe commented on #20066
The k8s issue is a duplicate of https://github.com/istio/istio/issues/19135, which will be fixed in 1.5.0.

[2020-01-13 20:43] nicktrav opened #20135 "pilot: All endpoints ejected when using outlier detection"
**Bug description**

This _feels_ like a bug, but could just be a lack of documentation, or room for improvement on defaults.

When using outlier detection via a `DestionationRule`, for example:

[code]

The current documentation mentions the `maxEjectionPercent` parameter, however, it is not respected.

Specifically, issuing requests from an Envoy to an upstream cluster with all endpoints failing

[2020-01-13 20:54] nnadig-ebsco commented on #20129
istio-dump attched:
[istio-dump-20129.zip](https://github.com/istio/istio/files/4055692/istio-dump-20129.zip)

[2020-01-13 20:59] elfinhe commented on #20066
As for the sidecarInjector issue, you might need to use  IstioControlPlaneSpec API instead of the global `values`.

For example:
`istioctl manifest apply --set autoInjection.components.injector.k8s.strategy.rollingUpdate.maxSurge="100%"`

or in yaml format:

[code]

[2020-01-13 21:07] nnadig-ebsco commented on #20129
[dashboards-pilot.docx](https://github.com/istio/istio/files/4055743/dashboards-pilot.docx)

[2020-01-13 21:08] howardjohn opened #20137 "Enablement broken by new operator API"
[code]

[2020-01-13 21:44] #20111 closed

[2020-01-13 21:47] nnadig-ebsco commented on #20129
cpu profile:
[pprof.pilot-discovery.localhost:8080.samples.cpu.001.pb.gz](https://github.com/istio/istio/files/4055955/pprof.pilot-discovery.localhost.8080.samples.cpu.001.pb.gz)

[2020-01-13 22:39] nmittler commented on #20093
Is it possible that the forwarder be going down for some reason?

[2020-01-13 23:34] bplotnick opened #20142 "Installer: Label changes breaks helm upgrade"
**Bug description**
Since https://github.com/istio/installer/pull/533 upgrades from 1.3 fail with:

[code]

`LabelSelector`s are immutable per https://github.com/kubernetes/kubernetes/issues/50808 and helm i guess doesn't support changing these immutable fields per https://github.com/helm/helm/issues/7082

**Expected behavior**
I think the main issue is that upgrades between consecutive versions i

[2020-01-13 23:47] douglas-reid commented on #20092
`http_mixer_filter.total_quota_cache_hit_accepts does not match. expected vs actual: 9 vs 8`

Ouch.

[2020-01-14 00:05] howardjohn commented on #20137
When fixed, please remove hack in https://github.com/istio/istio/pull/20128/files#r366093487

[2020-01-14 01:04] selmanj commented on #17501
Implemented and will be in 1.5.

[2020-01-14 01:04] #17501 closed

[2020-01-14 01:34] howardjohn opened #20143 "regression: hpa spec broken with new iop API"
Config:
[code]

[code]

[2020-01-14 01:40] hzxuzhonghu commented on #20077
@howardjohn Do you have any info why it works like this?

[2020-01-14 01:42] Just-Insane commented on #14969
@donbowman After debugging this some more, I now have the following envoy_filter

[code]

my oauth_proxy config looks like:

[code]

I have added a hosts file for oauth.justin-tech.com, so my setup matches yours as much as possible.

However, I am still having the same redirect_url issue in Keycloak. For example, the auth page for Keycloak has the following url:
[code]

However in the logs for bot

[2020-01-14 01:43] elvizlai commented on #15544
still failed in istio v1.4.3
[code]

[code]

[2020-01-14 02:17] howardjohn commented on #20077
I am not 100% sure. I think always setting Cluster_CommonLbConfig_LocalityWeightedLbConfig is wrong. We should probably only set it when we use `distribute` mode. It just happens to work since otherwise we set all the weights to be the same

[2020-01-14 02:39] #19084 closed

[2020-01-14 03:14] howardjohn opened #20147 "TestWebhook/key/cert_reload test flaky"
Example: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/20146/integ-galley-k8s-tests_istio/6014

Its failed many times today

@ayj may be from your changes?

[2020-01-14 03:32] howardjohn commented on #20135
Looks like this is an (open) bug in envoy: https://github.com/envoyproxy/envoy/issues/8259?

[2020-01-14 03:48] hzxuzhonghu commented on #20135
According to this :https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/outlier.html?highlight=max_ejection_percent#ejection-algorithm

It will stop ejection when `If the number of ejected hosts is above the threshold, the host is not ejected.`

[2020-01-14 03:50] hzxuzhonghu commented on #20135
same as #17004

[2020-01-14 03:50] nicktrav commented on #20135
@hzxuzhonghu - as mentioned in the description, that's not what we observe. _All_ hosts are ejected, despite the presence of an explicit limit.

[2020-01-14 04:09] hzxuzhonghu commented on #20129
You should upgrade, there is a known performance issue related to pb Struct marshal/unmarshal

[2020-01-14 04:11] hzxuzhonghu commented on #20135
Yeah, this is a bug in envoy

[2020-01-14 04:55] chadlwilson commented on #19975
I can't see anything RBAC related inside the listener config for `15090` (the below is when it's in a "broken" state, i.e Prometheus is getting `Get http://172.23.8.216:15090/stats/prometheus: EOF` errors

**Relevant config when traffic is blocked**
[code]

[code]

There are no other references to the port 15090 listener in the config dump.

When I allow `15090` in the `AuthorizationPolicy` the on

[2020-01-14 05:00] #7787 closed

[2020-01-14 05:00] #11362 closed

[2020-01-14 05:01] #13912 closed

[2020-01-14 05:01] #14901 closed

[2020-01-14 05:02] #15001 closed

[2020-01-14 05:02] #15299 closed

[2020-01-14 05:02] #15300 closed

[2020-01-14 05:20] #13317 closed

[2020-01-14 05:54] jainbhavya65 commented on #17980
@bbenlazreg  thanks for the help, can you please help me with one more problem I m facing I tried to connect istio 443  port with L7 load balancer but the request is not able to reach at  443 port, can you give suggestions?

[2020-01-14 07:17] manikantabandaru commented on #18993
Hi ,

I get error like "Error fetching product details!" and " Error fetching product reviews!"

1. I have created latest gke cluster with istio enabled in gke creation time.
2.  Downloaded  used 1.2.8 istio code for bookinfo app
3. I followed below cmds as per documentation
`
kubectl label namespace default istio-injection=enabled

kubectl apply -f samples/bookinfo/platform/kube/bookinfo.yaml

ku

[2020-01-14 08:21] inewlife opened #20152 "When VirtualService destination host from ServiceEntry ,How can I set header host is the destination host"
**Bug description**
When VirtualService destination host from ServiceEntry ,How can I set header host is the destination host

[2020-01-14 08:26] paweloczadly commented on #20066
Thanks for response @elfinhe. It seems experimental upgrade also doesn't respect the YAML config which you pasted above:

[code]

And here is my whole configuration:

[code]

[2020-01-14 08:28] kelvin-yue-scmp commented on #19545
@bianpengyuan @objectiser Thanks for the reply, have some inspiration for solving the issue.

[2020-01-14 09:26] sneko commented on #16110
Not working to me as well despite the annotation, any news on that?

I get `Liveness probe failed: HTTP probe failed with statuscode: 500`

[2020-01-14 09:28] TomasKohout commented on #20100
@howardjohn Hi, I've applied global sidecar so the proxies know only about other proxies in their namespace plus about multitenant services, but Pilot still have a peaks, when creating a new namespace. I thought that those CPU peaks would be gone. Would you have any idea about what could be wrong with configuration? I suppose that it is configuration issue only. I set THROTTLE_PUSH to 10 and even

[2020-01-14 09:30] piotrmsc opened #20153 "istioctl manifest apply does not properly resolve --set override for pilot"
**Bug description**

When you want to install istio using istioctl and default profile(but applies to all predefined as well as user-defined ones) with an override using helm options for pilot resources requests installation succeeds, however, override is not taken into account.

According to https://istio.io/docs/reference/config/installation-options/#pilot-options this property is available. I k

[2020-01-14 09:45] sneko commented on #17614
I have this issue too (Istio 1.4.3).

It works for all my microservices, except for frontend pods and the API pod (those that are directly linked to a gateway). That's really strange.

[2020-01-14 10:47] valer-cara commented on #20120
I've tried to put together a test case for this issue, managed to reproduce it following the steps in the README. https://github.com/valer-cara/istio-testcase-20120

Feedback welcome.

PS: MUTUAL_TLS must be enabled for this to occur

[2020-01-14 11:50] bogiva commented on #17704
Thanks @douglas-reid. I have one more question - how about recommendations regarding bucketDuration? If validDuration is 100s, what should we use for bucketDuration? The documentation does not really describe what this field is doing and I could not get much looking at the code too (I got to the point where a lua script is called but could not find the script itself to check how this parameter is

[2020-01-14 11:54] chadlwilson commented on #17635
@sneko unfortunately I can't recall now. Oops. Will need to check traffic dumps again as our logging doesn't capture all headers sent.

[2020-01-14 12:11] TomasKohout commented on #20100
So, I've increased PILOT_DEBOUNCE_MAX and AFTER, now the peaks are not so big. Approx 500m of CPU. It happens only after whole environment deployment. :)

[2020-01-14 12:13] nerusnayleinad opened #20154 "TLS Origination from a Pod with certificates in `DestinationRule` object."
From your examples, I quote:

**ServiceEntry:**

[code]
and the associated DestinationRule
**DestinationRule:**

[code]

It would be nice to have a little bit more info about the scenario, since in other pages the TLS origination is stated to be initiated with `tls.mode=SIMPLE` parameter.

Now it looks like we are starting TLS. Are there are constrains? What are these certs? I tried using the cert

[2020-01-14 12:43] hzxuzhonghu commented on #20100
`PILOT_DEBOUNCE_AFTER` will influence the cpu usage mostly in your case. I think you should findout what triggers the push happened so frequently firstly.

[2020-01-14 13:05] TomasKohout commented on #20100
It happen when environment is deployed into namespace. Thank you. :-)

[2020-01-14 13:23] shamsher31 commented on #18286
Hey @su225, you started working on this or I can pick this one ?

[2020-01-14 13:58] donbowman commented on #14969
sorry, i'm not sure.
I also see `https://oauth2.DOMAIN/oauth2/start?rd=https://host.admin.DOMAIN`, not encoded.

the URI that ends up on google accounts (which in this case is my idp) is encoded (this is the intermediate one to oauth2.DOMAIN)

`https://accounts.google.com/signin/oauth/oauthchooseaccount?client_id=BLAH&as=BLAH&destination=https%3A%2F%2Foauth2.agilicus.com&approval_state=BLAH&flowNa

[2020-01-14 14:03] Just-Insane commented on #14969
Thanks for all the help with this.

I was able to get it mostly working using the ext.authz filter. The only problem now is that I’m not getting a JWT properly so I can’t use Istio’s JWT authentication.

I’m going to make a blog post and a PR to Oauth2_Proxy with documentation for their ext.authz support.

[2020-01-14 14:41] richardwxn commented on #20078
assign to @morvencao as he works on the service annotation part

[2020-01-14 14:55] arnecls commented on #20120
I also have a reproduction rule now, but a different one.

1. Deploy a cluster with:
[code]
2. Change the config to
[code]
And restart pilot.
After the pilot restart is done, _all_ pods are in CDS "NOT SENT" state until the sidecar is restarted and don't accept cluster updates (e.g. outlier detection anymore).

[2020-01-14 15:04] richardwxn commented on #20065
@carolynhu @mandarjog I would add this part

[2020-01-14 15:28] esnible opened #20157 ""istioctl x describe pod/svc" no longer shows destination rules and virtual service config"
`istioctl x describe pod` and `service` no longer shows destination rules and virtual service config.

Instead it logs warn	unknown type DestinationRule

This broke a few days ago.  It didn't show up in the unit test which has a custom client.  I discovered it working on an integration test https://github.com/istio/istio/issues/18972

[2020-01-14 15:37] esnible commented on #20157
Seems to be caused by https://github.com/istio/istio/pull/20037

[2020-01-14 15:39] frankbu commented on #18993
@manikantabandaru it's still not clear to me exactly where in the flow that you're describing, the actual errors are occurring. My best guess is that you have some kind of version incompatibility in your setup. You mentioned Istio version 1.2.8. That's pretty old and no longer supported https://istio.io/news/support/announcing-1.2-eol-final/. Maybe you're running a version of bookinfo that is not

[2020-01-14 16:12] howardjohn opened #20158 "test regression: codecov test extremely flaky"
See https://testgrid.k8s.io/istio_istio_postsubmit#codecov_istio_postsubmit

Root cause likely https://github.com/istio/istio/pull/20104

[2020-01-14 16:28] howardjohn opened #20160 "Clean up deprecated istioctl commands"
We have a bunch of old istioctl commands that have been deprecated for a while. We should consider removing some of these, as they add dev burden.

In particular, `istioctl get`, but there are probably others.

[2020-01-14 16:28] uhinze commented on #19615
My current workaround is the following before calling istio-start.sh:
[code]

[2020-01-14 16:29] howardjohn commented on #20152
Please ask questions on https://discuss.istio.io/ or stackoverflow. This is for bug reports. Thanks!

[2020-01-14 16:29] #20152 closed

[2020-01-14 16:31] nicktrav commented on #20135
Just so we're all on the same page here, I'll share what I'm seeing in two slightly different Istio configuration scenarios. I can get things to work by ensuring that, ultimately, Envoy's `healthy_panic_threshold` value is explicitly set.

This seems different than what's mentioned / proposed in #17004 and envoyproxy/envoy#8259. In _both_ of the following scenarios, I don't see `cluster.outbound`

[2020-01-14 16:34] mandarjog commented on #20065
Great! @richardwxn given the number of (growing) configs now is a great time to spend of extracting a basic framework out of it.

[2020-01-14 16:36] brian-avery opened #20161 "[istio.io testing] Need test for Kubernetes Services for Egress Traffic"
**Describe the feature request**
We need to develop a test for the [Kubernetes Services for Egress Traffic](https://preliminary.istio.io/docs/tasks/traffic-management/egress/egress-kubernetes-services/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree

[2020-01-14 16:39] brian-avery opened #20162 "[istio.io testing] Need test for Authorization for TCP Traffic"
**Describe the feature request**
We need to develop a test for the [Authorization for TCP traffic](https://preliminary.istio.io/docs/tasks/security/authorization/authz-tcp/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/ist

[2020-01-14 16:40] howardjohn commented on #20161
In my opinion we should delete that doc. ExternalName is not a great solution, we have ServiceEntry for that

[2020-01-14 16:42] brian-avery opened #20163 "[istio.io testing] Need test for Authentication Policy"
**Describe the feature request**
We need to develop a test for the [Authentication Policy](https://preliminary.istio.io/docs/tasks/security/authentication/authn-policy/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

[2020-01-14 16:45] brian-avery opened #20164 "[istio.io testing] Need test for Provisioning Identity through SDS"
**Describe the feature request**
We need to develop a test for the [Provisioning Identity through SDS](https://preliminary.istio.io/docs/tasks/security/citadel-config/auth-sds/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration

[2020-01-14 16:54] brian-avery opened #20165 "[istio.io testing] Need test for Istio DNS Certificate Management"
**Describe the feature request**
We need to develop a test for the [Request Timeouts](https://preliminary.istio.io/docs/tasks/traffic-management/request-timeouts/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A Yo

[2020-01-14 16:57] brian-avery opened #20166 "[istio.io testing] Need test for Istio Webhook Management"
**Describe the feature request**
We need to develop a test for the [Istio Webhook Management](https://preliminary.istio.io/docs/tasks/security/webhook/) task in order to provide automated testing of the Istio.io website for future releases.

Example tests and the documentation for the framework can be found here: https://github.com/istio/istio/tree/master/tests/integration/istioio

A YouTube video

[2020-01-14 17:41] ostromart commented on #20115
Fixed in https://github.com/istio/istio/pull/20145.

[2020-01-14 17:41] #20115 closed

[2020-01-14 18:24] Laakso opened #20168 "istioctl random errors when using non default namespace"
**Bug description**
When installing istio to non default namespace I'm getting following error:

Component Telemetry - manifest apply returned the following errors:
Error: error running kubectl: exit status 1

Error detail:

Error from server (AlreadyExists): error when creating "STDIN": attributemanifests.config.istio.io "kubernetes" already exists (repeated 1 times)

istioctl applies my configur

[2020-01-14 18:31] ostromart opened #20170 "istioctl deletes user namespaces if they are in ICP spec"
https://discuss.istio.io/t/bug-istioctl-deleting-other-namespace/4926

Hi All,

We are facing an issue that I believe might be a bug.

Description:
We are using KIali and we want it to pick data from Prometheus. But, We do not want to install prometheus via Istio. This is because we are already using Prometheus(deployed in a different namespace) and we want Kiali to use the same. To achieve this w

[2020-01-14 18:37] ostromart opened #20171 "manifest migrate errors"
https://discuss.istio.io/t/procedure-how-to-migrate-from-helm-to-istioctl/4910

[2020-01-14 19:05] yingzhuivy commented on #18367
@howardjohn wondering if there is any update on this issue

[2020-01-14 19:19] JimmyCYJ commented on #20133
/cc @mandarjog

[2020-01-14 19:47] towens commented on #3867
@anton-yurchenko The issue was duplicate target groups as the bug describes. Newer versions of itsio do not support ssl termination specifying tls, as this was causing issues with egress. My understanding is one needs to specify tcp instead. Which is working for us when terminating ssl at the nlb with the default namespace, istio-system.

[2020-01-14 20:04] sushicw commented on #20072
The specific failures I'm seeing:

[code]

[code]
The test retry has a hardcoded 2 second timeout. I can make the error rate go down significantly by increasing that.

I wondered at first if at least on my system, running the stress test at -p 64 is simply creating enough CPU pressure that we hit the timeout more often. But even increasing the timeout to 60s, I still get 3-5% error rates. There's

[2020-01-14 21:08] sushicw commented on #20072
Worth noting that I'm seeing exactly the same kinds of errors both with and without the timeout change... with the timeout change, there's just more of them. I think there's a race that exists regardless, and the timeout change just makes it hit more often.

My best guess so far as to what the race is: when the informer gets resource events and "sends" them to the calling code, it allows `sharedIn

[2020-01-14 21:10] howardjohn opened #20175 "Lose some control plane metrics to mixer in istioctl install without control plane security"
When we have no control plane security, we have no envoy, which means no mixer-shaped metrics for control plane.

@douglas-reid this is what you talked about the other day, mostly creating an issue to link to it from somewhere else

[2020-01-14 21:42] howardjohn opened #20177 "Istio APIs stored outside of istio/api repo"
Some protos we are using, like security/proto/envoy/config/filter/http/alpn/v2alpha1/config.proto, are stored in istio/istio. This makes it impossible for a dependency to fully read our XDS without taking a dependency on istio/istio. These should be accessible in istio/api, since they are APIs.

[2020-01-14 21:58] lei-tang opened #20178 "Support first party JWT for platforms that do not have third party JWTs"
**Describe the feature request**
Support first party JWT for platforms that do not have third party JWTs (e.g., Kubernetes with versions < 1.13).

**Describe alternatives you've considered**
Istio does not support first party JWT.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ X] Security
[ ] Test and Release

[2020-01-14 22:03] lei-tang commented on #19851
for JWT issue: https://github.com/istio/istio/issues/20178

[2020-01-14 22:18] incfly commented on #19459
@elieser1101  Here is based on my understanding, hope if helps.

When Pilot builds up the destination rule for a outbound cluster push, we pre-calculate the matching destination rules that match with current service,

https://github.com/istio/istio/blob/b12fd8e4e5dabea9e28eb752c7af0aa96dcc7dd1/pilot/pkg/model/push_context.go#L643

You can see there're some function calls of `MostSpecificHostMatch`

[2020-01-14 22:46] devkid commented on #19901
It turns out that everything works when you set `gateways.istio-ingressgateway.env.ISTIO_META_ROUTER_MODE=sni-dnat`, I just found this option by accident in the documentation, then in a helm chart comment. I guess this boils down then to a documentation bug.

[2020-01-14 22:52] yxue commented on #20177
We have proto in istio/api https://github.com/istio/api/tree/master/envoy/config/filter/http/alpn/v2alpha1

[2020-01-14 22:53] mandarjog opened #20183 "V2 Stackdriver Telemetry: STS call credential support"
V2 Stackdriver telemetry is required to support STS for fetching call credentials to support workload Identity.

- [x] 1. Update [Opencensus CPP](https://github.com/census-instrumentation/opencensus-cpp/issues/429) to support STS for SD tracing and metrics
- [x] 2. Update upstream Envoy to use STS SD Tracing
- [x] 3. Update istio-proxy SD metrics extension to use STS SD metrics.
- [x] 4. Update Is

[2020-01-14 22:53] tillig opened #20184 "Job istio-security-post-install-1.4.3 fails, causes Helm upgrade to fail"
**Bug description**

In an existing 1.4.3 deployment of Istio, we want to update some values to change the deployed features. The `values.yaml` we use gets updated, we run `helm upgrade`, and the `istio-security-post-install-1.4.3` job fails repeatedly, causing Helm to time out during the upgrade and consider the upgrade failed.

When this happens, the `istio-security-post-install-1.4.3` job remai

[2020-01-14 22:53] mandarjog commented on #20183
@JimmyCYJ

[2020-01-14 22:57] howardjohn commented on #20177
Oh... Why do we copy it to istio/istio?

[2020-01-14 23:02] carolynhu opened #20185 "istio/tools: perf istio release commit_sha does not match istio/istio repo"
@richardwxn
For our perf pipeline, we get the github sha: https://github.com/istio/tools/blob/master/perf/benchmark/run_benchmark_job.sh#L207

which through the url of github.com/istio/istio/commits/{SHA} , I get 404 error.

[2020-01-14 23:02] #19736 closed

[2020-01-14 23:10] elfinhe commented on #20066
Yes, you are right. That will also be fixed in be fixed in 1.5.0 by istio/operator#671. The upgrade will still use your yaml in this case, but will not compare the k8s specs in components in the upgrade check.

[2020-01-14 23:21] ostromart commented on #20170
Duplicate of https://github.com/istio/istio/issues/20059.

[2020-01-14 23:21] #20170 closed

[2020-01-14 23:25] yxue commented on #20177
TBH I don't know. I copied here to follow other filters. I think we can remove the proto files in istio/istio and what we need is the generated file.

[2020-01-14 23:29] ostromart commented on #20059
There are two possible solutions:
1. detect when a namespace is already present and don't generate a resource for it. This still doesn't solve the case where user adds resources to ns created by operator later, but that seems reasonable since then it's clear the ns was created by operator.
2. never create a namespace and always require user to do it.

For manifest generate (this case used generate

[2020-01-14 23:33] JimmyCYJ commented on #20183
Thanks @mandarjog
cc @liminw

[2020-01-14 23:59] howardjohn opened #20188 "Minor output formatting issue in istioctl manifest apply"
[code]

The format is wrong

[2020-01-15 00:11] bplotnick commented on #20142
One option would be to change the name of the deployment as is done here: https://github.com/salesforce/helm-starter-istio/pull/2/files. However, I think this would leave behind old objects that would have to be manually cleaned up.

CC: @howardjohn @ostromart

[2020-01-15 00:11] howardjohn opened #20189 "istioctl manifest apply: use "smart" CLI output for progress"
Current output looks like:
[code]

It would be nice if instead of printing a new line when its done we were replacing the `-` with a `✔`. We can do similar for the output to --wait (this is a bigger motivator, since the output is really long).

Other CLI tools like linkerd, kind are doing this. If its 1000s of lines to write this though then obviously not worth the investment..

[2020-01-15 00:17] howardjohn commented on #20142
@bplotnick that is our plan starting in 1.6, to make every upgrade a completely new deployment, etc

[2020-01-15 01:07] bplotnick commented on #20142
@howardjohn can you elaborate or link me to an issue? We're sorta stuck here unable to upgrade. We might be able to figure out how to move forward by looking at the plan for 1.6

[2020-01-15 01:20] danielpcox commented on #17918
I had a similar problem, and solved it by setting the host to 127.0.0.1 through this environment variable. The `../scripts/start.sh` entrypoint script pulls the value out of that environment variable and uses it to set `nifi.web.http.host` in nifi.properties before starting NiFi. Since this value defaults to `$HOSTNAME` in `start.sh`, it _doesn't_ get bound to 127.0.0.1 by default, which was the c

[2020-01-15 02:05] hzxuzhonghu commented on #20135
I doubt if
`"healthy_panic_threshold": {},`
==
[code]

[2020-01-15 02:09] hzxuzhonghu commented on #20100
What does `environment ` mean? Can you translate it into normal configs in istio? Please share your pilot logs if possible

[2020-01-15 02:26] hzxuzhonghu commented on #18367
We haven't done this as there are concerns.

[2020-01-15 03:45] richardwxn commented on #20185
There is some mismatch between the release sha and the tools repo sha, I will create a PR to fix that.

[2020-01-15 04:32] hechengzhu opened #20195 "Make pilot-test always failed with "invalid name typed_config: Cannot find field""
**Bug description**
I am using branch release-1.4.2-patch and everytime when I try to run test case of pilot-test with the below command, it always reported "invalid name typed_config: Cannot find field"

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[X ] Test and Release
[ ] User Experience
[ ] Dev

[2020-01-15 05:02] #15347 closed

[2020-01-15 05:07] howardjohn commented on #17512
not stale

On Tue, Jan 14, 2020, 9:04 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-01-15 07:31] carolynhu opened #20198 "Investigating missing `both` mode results for perf tests in mixer and telemetryv2"
By comparing with the two tests runs:
https://prow.istio.io/view/gcs/istio-prow/logs/daily-performance-benchmark/93
https://prow.istio.io/view/gcs/istio-prow/logs/daily-performance-benchmark/91

There is a 2 hours gap between them. Through checking the logs, `both` mode is missing. We need to investigate why.

[2020-01-15 07:31] carolynhu commented on #20198
/cc @mandarjog @richardwxn

[2020-01-15 08:02] mischka commented on #1430
UDP +1

[2020-01-15 08:07] Stono commented on #20055
Perhaps this graph helps clarify the problem
<img width="1064" alt="Screenshot 2020-01-15 at 08 07 27" src="https://user-images.githubusercontent.com/1486729/72416220-1666fd80-376e-11ea-95f0-f83239e9ebdf.png">

[2020-01-15 08:27] iandyh commented on #9784
@howardjohn Hello.  I did a deep dive into the configurations in 1.4.x. It looks like by adding listeners with `ClusterIP`, it resolves the conflicts between non-headless services and headless services.

However, it did not resolve cluster wide conflicts between TCP headless services. I guess this is pretty impossible to solve considering the factors mentioned by the comments above. The only way I

[2020-01-15 08:41] morvencao commented on #20078
We have added `serviceAnnotations` to the `KubernetesResourcesSpec ` of the operator API. See for an example: https://github.com/istio/istio/blob/master/operator/cmd/mesh/testdata/manifest-generate/input/telemetry_k8s_settings.yaml#L37-L38

[2020-01-15 08:41] #20078 closed

[2020-01-15 09:37] TomasKohout commented on #20100
[pilot-logs.log](https://github.com/istio/istio/files/4064082/pilot-logs.log)

Pilot logs after environment creation (cca 50 new proxies).

[2020-01-15 09:57] zhengqisong opened #20199 "Use istioctl install istio, when enabled components egressGateway and Values.global.sds.enabled was error"
**Bug description**：Use istioctl install istio, when enabled components egressGateway and Values.global.sds.enabled was error.

**Affected product area (please put an X in all that apply)**：  Installation
**How was Istio installed?**: istioctl
**Environment where bug was observed (cloud vendor, OS, etc)**：kubernetes 1.15.4

**./bin/istioctl manifest generate  -f test output**
[code]
install/kubern

[2020-01-15 10:01] etiennejournet opened #20200 "Pods in same controllers should speak to each others in STRICT mode"
Hello,

I just figured that pods in same controllers (i.e. deployment, sts, daemonset, etc...) can't speak to each other in mtls STRICT Mode.
Why is that ? Databases or kv engines need to speak to each others on their pod address for quorum or replication and that makes them unable to.

Could you clarify ?

Thanks,

[2020-01-15 10:05] nerusnayleinad opened #20201 "Wildcard for DestinationRule, to configure mTLS doesn't work."
I have mTLS enabled, and when I create the `DestinationRule` to globally enable mTLS for all services, it fails.

So, `MeshPolicy` object is created and I can't make requests to another service:

[code]

Now I create the `DestinationRule` as follows:

[code]

But I still get the error:
[code]

But if I change the host by the one I am trying to reach, it works:

[code]
Of course, you lose the 'glob

[2020-01-15 11:12] nerusnayleinad commented on #20201
Uninstalled Istio, and installed in back, and now it works.

Actually, this happens quite often. Since I am doing bunch of tests with Istio, sometimes things stop working. Is there any way to, kind of, flush all configuration?

What I do is `kubectl delete gw,dr,se,vs,....`, but not always it works.

[2020-01-15 11:53] dgn commented on #20112
We're currently skipping the tests in `operator/pkg/translate` -- I don't see an entry in the list for that yet

[2020-01-15 12:36] hzxuzhonghu commented on #20100
Seeing too many `transport: closing server transport due to maximum connection age.` Reconnect absolutely will request for new xDS.

[2020-01-15 13:10] TomasKohout commented on #20100
pilot.keepaliveMaxServerConnectionAge is set to default 30m as it was in 1.4.0. I could increase it, but I do not feel that it is the issue. We had issues with full push, wich is solved with the mentioned PR and then with peaks after deployment. Now we do not have any issues. :-)

[2020-01-15 13:56] su225 commented on #18286
@shamsher31 - I haven't yet raised a PR, but I have written the test. I'll do it soon.

[2020-01-15 13:59] su225 commented on #18285
@luizfnunesmarques  - I already have some work. My bad..I didn't see your comment.

[2020-01-15 14:01] su225 commented on #18286
@shamsher31 - I just started. But I am working on other istio.io issues as well. So I'll leave it to you.

[2020-01-15 14:03] luizfnunesmarques commented on #18285
Ok, no problems mate, I'll pick another issue then :-)

[2020-01-15 14:07] luizfnunesmarques commented on #20165
Hi :hand:
I will pick this one :-)

[2020-01-15 15:08] FilipB opened #20202 "Istio 1.4.3 installation breaks network cluster operator on OCP 4.2"
After installation of istio 1.4.3 on OCP 4.2 cluster the network cluster operator is in degraded state because of failing readinessProbe for all openshift-sdn pods.

readinessProbe on sdn pods:
[code]
It's expecting /etc/cni/net.d/80-openshift-network.conf file which is gone after istio installation.
Content of the /etc/cni/net.d/ before istio installation:
[code]
after istio installation:
[code]

[2020-01-15 15:47] gargnupur opened #20203 "Mongo Proxy added as first filter in filter chain in bookinfo application"
**Bug description**
Currently, when you follow task https://istio.io/docs/tasks/observability/metrics/tcp-metrics/ Mongo Proxy is added as first filter in envoy filter chain in bookinfo application. This doesn't seem like the right thing as mongo proxy is a terminal filter .

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X ] Policies and