[2019-01-25 19:01] mandarjog commented on #11273
`istio-telemetry` was overloaded/slow and did not respond in time.  How much traffic are you sending, is mixer overloaded ?

[2019-01-25 19:05] wenchenglu commented on #11032
@duderino fyi

[2019-01-25 19:09] wenchenglu commented on #11269
@duderino fyi (it is already tagged to 1.1)

[2019-01-25 19:13] linsun commented on #10500
I brought this up for discussion in TOC.  it seems legacy ingress is being used for users to get the certs so it is preferred to keep the support in 1.1.  @ozevren discussed there is a mesh config param to enable galley to convert legacy ingress resource to the new gateway resource which can be an option for us in 1.1.

[2019-01-25 19:21] liminw commented on #11240
@duderino @costinm Is this a known issue?

[2019-01-25 19:22] FrelDX commented on #6512
exterior A host ip 10.0.0.1   curl VirtualService  to v1 pod
exterior  B  host ip 10.0.0.2   curl VirtualService  to v2 pod
VirtualService  Can it be done

[2019-01-25 19:33] ellis-bigelow commented on #11072
That sounds great. Thanks

[2019-01-25 19:37] ozevren commented on #10500
I think it is possible that this might be due to Ingress status update being done by Pilot. I'll look a bit further today.

[2019-01-25 19:56] kramvan1 opened #11280 "k8s: Istio Proxy and control plane pods should have request cpu/memory sizes by default"
**Describe the bug**
In order to allow the k8s scheduler and HPA to work properly for both control plane AND customer pods with side-cars and HPA, IStio should provide default requests sizes for BOTH cpu and memory
for proxy and all control plane pods.

**Expected behavior**
A customer pod with HPA enabled for memory utilization, needs to scale properly, but needs to have all containers with reque

[2019-01-25 19:57] kramvan1 commented on #11280
@linsun to kick off this discussion on better default request/limit sizes for the control plane and proxy.

[2019-01-25 20:20] linsun commented on #11280
cc folks from performance WG @mandarjog @jnativio - do you have issue if I enable default memory req for the sidecar?

[2019-01-25 21:21] costinm commented on #11180
Relatively easy/safe to fix when we do a full re-computation. Doesn't seem to be critical.

[2019-01-25 21:32] jmazzitelli commented on #11244
The work is done for the feature to allow kiali to start when the secret is missing, but have login failure message tell the user what the problem is. This is JIRA https://issues.jboss.org/browse/KIALI-2303

See PRs:
 * https://github.com/kiali/kiali/pull/811
 * https://github.com/kiali/kiali-ui/pull/964

This is in the process of being reviewed and then it will be merged, but this should make it

[2019-01-25 21:49] douglas-reid commented on #11280
Is this covered by #11247 ?

[2019-01-25 21:49] GregHanson commented on #6324
@zombor A user has had some success with: https://kubernetes.io/docs/tasks/configure-pod-container/share-process-namespace/
involves:
- appending this to the container command: `pkill -f /usr/local/bin/pilot-agent`
- and add `shareProcessNamespace: true` to the *Pod* spec

[2019-01-25 21:50] johngmyers opened #11284 "Helm chart not exposing all necessary ports in istio-pilot service"
**Describe the bug**
The "istio-pilot" Service in the "pilot" Helm subchart does not expose all necessary ports.

**Expected behavior**
Per operations guide, running `curl http://istio-pilot:15003/v1/registration` from within an istio-ingressgateway pod should return a response. It instead gets a connection timeout.

**Steps to reproduce the bug**
Install Istio using Helm into a Kubernetes cluster

[2019-01-25 21:51] douglas-reid commented on #11273
Do you have the logs from the mixer container of `istio-telemetry` for that same time period, by chance?

[2019-01-25 21:52] johngmyers commented on #11284
Manually adding port 15003 to the "istio-pilot" Service in the "istio-system" namespace causes the curl command to return a response.

[2019-01-25 21:55] douglas-reid commented on #11273
The same behavior has similarly been reported here: https://discuss.istio.io/t/istio-mixer-error/498/3. There it is also claimed that there is no impact on telemetry reported through Mixer.

[2019-01-25 22:02] zhqworld commented on #11240
It didn't listen for tcp even though I had virtualservice there:

[code]

[2019-01-25 22:31] erolosty commented on #6574
Also looking forward to this

[2019-01-25 23:34] rshriram commented on #11254
Sorry this wont work for gateways. And no gateway doesn't know what clusters it needs unless you process the entire set of virtual services to compute CDS output. Currently, we share the CDS out with every proxy in the system. However, with the introduction of global flags for export, you should be able to constrain the set of services that the gateway would see.

[2019-01-25 23:41] aaronmell commented on #10637
So I've narrowed my issue down at least. It only happens when I use the helm terraform plugin. If I run through helm directly, it succeeds. Which is a very strange issue.

[2019-01-25 23:52] smawson commented on #10288
What is the status here? This is a P0 for 1.1 but last update was Dec 21st.

[2019-01-25 23:55] smawson commented on #10599
Why is this a P0? Can this be moved to 1.2 or at least P1?

[2019-01-25 23:56] jasminejaksic commented on #11067
PR's are merged, what's still missing here? Can we close this?

[2019-01-25 23:57] smawson commented on #9951
Has this been manually tested and verified? If so can we move to P1 and leave the P1 for getting this into the upgrade test?

[2019-01-25 23:57] smawson commented on #9150
Has this been fixed? Can we close this out?

[2019-01-25 23:58] lei-tang commented on #10599
It is a P0 because it is required by Datadog.

[2019-01-25 23:58] jasminejaksic commented on #11221
What's still pending? Can we close this?

[2019-01-26 00:00] wattli commented on #9150
I believe so, but need @incfly to confirm

[2019-01-26 00:01] lei-tang commented on #11067
This issue has been resolved. I will close it.

[2019-01-26 00:01] #11067 closed

[2019-01-26 00:04] lei-tang commented on #10599
The Vault adapter for Node Agent has been implemented. Thus, this issue is closed.

[2019-01-26 00:04] #10599 closed

[2019-01-26 00:08] aaronmell commented on #10637
Found something interesting, We have a chart that has the custom configuration in it for istio. Tried installing that with the terraform provider, and it fails as well.

[2019-01-26 00:33] rshriram commented on #6574
in couple of weeks max.

[2019-01-26 01:34] hzxuzhonghu commented on #11158
I deployed `istio-release-1.1-20190124-15-51` yesterday, and until now, I do not find exception of galley.

[2019-01-26 01:58] mandarjog opened #11295 "1.0 1.1 compat error for pinned proxy"
1.1 introduced a new options `--statusPort`  and `applicationPort` to the pilot agent.

Istio also supports annotation
`sidecar.istio.io/proxyImage: gcr.io/istio-release/proxyv2:release-1.0-20180703-03-01` to force the sidecar injector to use a specific version of the proxy.

At present,  1.1 control plane cannot use 1.0 proxy because the sidecar injector generates command line that the pilot agen

[2019-01-26 01:59] mandarjog commented on #11295
@costinm @sdake Should we care about this type of upgrade? or proxy annotations not supported with upgrades ?

[2019-01-26 02:19] liutanrong commented on #6085
I probably found the cause of the problem.

### The reason

I found that the  cluster  in istio-proxy contains the Kubernetes pod IP that no longer exists.
And I see from the error log of istio-proxy that all request traffic with an error of 503 UF is sent to this non-existing IP. So I think I found the reason for this problem.

In my case,the cloudspidergateway have 2 pod in Kubernetes which ip i

[2019-01-26 02:39] booninite commented on #10122
Or the maintainers of this project could make the Helm Chart template honor the description of `global.crds`?  Or remove it?  Nothing instills confidence in a production quality service mesh like the fact you can't even get it out of the garage before it breaks down on you

[2019-01-26 02:53] castlemilk opened #11296 "egressgateway 503 on cold start (infrequent requests)"
**Describe the bug**
A seemingly non-deterministic 503 error is given when requested some external upstream endpoint. This seems to occur when a service is **not** regularly called (very infrequent), i.e maybe once or twice a day. On subsequent requests the upstream endpoint will become reachable. It feels like the sidecar is missing the configuration/cache to reach the endpoint and so returns a 5

[2019-01-26 15:41] #11221 closed

[2019-01-27 09:12] jfaixo opened #11303 "Helm chart : User specified namespace + Grafana with persistency enabled => rendered PVC lacking namespace declaration"
**Describe the bug**
When using the Helm chart with a user specified namespace and the Grafana persistency enabled, the generated PersistentVolumeClaim does not have the namespace declaration, leading in Grafana to be stuck in the Pending state.

**Expected behavior**
Everything to start up and running well 😸

**Steps to reproduce the bug**
Render the helm chart and try to deploy it :
`helm templa

[2019-01-27 09:16] jfaixo commented on #11303
I am in the process of making a PR to correct this.

[2019-01-27 09:55] 1hanymhajna opened #11304 "Enable istio monitoring using external prometheus"
**Describe the feature request**
we are looking to have one monitoring dashboard for whole kuberenets ( logging, istio, services that not running with istio proxy).
We deployed pormetheus and grafana using stable helm versions:
`helm install -f ./monitoring/prometheus-values.yaml stable/prometheus --name prometheus --namespace monitoring`
And
`helm install -f ./monitoring/grafana-values.yaml stabl

[2019-01-27 11:25] ymesika opened #11306 "Make istio-remote an Istio Helm values installation"
Currently `istio-remote` (for VPN connectivity and Split Horizon EDS) is a separated Helm chart/release.
We can achieve the same goal with having another values within the Istio chart tailored for the remote clusters installations.

What we gain:
* Better user experience
* Simpler and less confusing docs
* Easier to maintain and avoids (templates) duplications
* Get rid of the need to create the c

[2019-01-27 11:33] ymesika commented on #11306
/cc @costinm @linsun

[2019-01-27 11:50] ymesika commented on #11306
Docs updated by https://github.com/istio/istio.io/pull/3144

[2019-01-27 14:56] ymesika commented on #11268
According to the internal doc by default the concurrency value is 0 and in this case it will use the number of cores on the machine.
How is it different from what you suggest?

[2019-01-27 15:52] sdake commented on #11295
@mandarjog,

We lack a written upgrade policy (and we should probably develop one or present a best practices guide to guide development).

For pinned proxy sidecars via annotations where an operator is using an old proxy with a new control plane, I'm not clear we support that model (option 1 in your list).

for option 2, I was thinking of this exact workaround as I was reading the problem descrip

[2019-01-27 19:04] #10118 closed

[2019-01-27 21:53] cgilmour commented on #6314
@douglas-reid I'd like to move forward on contributing this, unless you have an objection.

From my understanding, it needs
- a PR to `api` to add configuration items
- a PR to `istio` to bump `vendor/istio.io/api`
- a PR to `istio` with the main chunk of functionality (bootstrap, pilot, sidecar configmap, etc)
- docs changes on `istio.io`

Does that sound correct?
Anything else I should be aware

[2019-01-27 22:05] idarvind commented on #10535
Go to directory where you downloaded the Istio package. Run below command to apply the destination rule.

kubectl apply -f  samples/bookinfo/networking/Destination-rule-reviews.yaml

[2019-01-28 02:41] hzxuzhonghu commented on #11268
But as we know Envoy in a container can see all cores in host machine moby/moby#20770

This value is not accurate in a docker container.

[2019-01-28 07:22] morvencao commented on #10776
@tiswanso Any thought about this?

[2019-01-28 07:43] YealZoy commented on #10062
thank you

[2019-01-28 08:36] mbanikazemi commented on #11026
@hklai  Shall we close this issue?

[2019-01-28 08:57] morvencao commented on #10393
/cc

[2019-01-28 10:16] nixgadget commented on #10682
Closing.

[2019-01-28 10:16] #10682 closed

[2019-01-28 10:53] sdake commented on #9951
@smawson I've manually verified the PDB spec is immutable.  There is kubernetes issue https://github.com/kubernetes/kubernetes/issues/45398 on the topic with no action for 20 months.  I have not manually verified if the PDB improves the state of unavailability during an upgrade.  I don't know whether @linsun gave that a go.

In general, one additional check would be a test for immutability.  One i

[2019-01-28 11:00] castlemilk opened #11315 "istioctl authn tls-check incorrect client status"
**Describe the bug**
when running `istioctl authn tls-check` incorrect client status is reported as follows:

[code]
**_Note that the client status is **HTTP**_, should be _mTLS_**

this is with the following `DestinationRule` defined:

[code]

**Expected behavior**
With `mode: MUTUAL` specified in the `TLSSettings`, I would expect this to be correctly classified at mTLS client connection.
**It op

[2019-01-28 11:05] sdake commented on #9866
@hklai the init failure might be a result of IPV4 being disabled on startup of circleci or intermittent failures connecting to docker.io.  @esnible is working these in PR:https://github.com/istio/istio/pull/10777 and  https://github.com/istio/istio/pull/11277

[2019-01-28 11:49] sdake opened #11316 "istio-init needs a injection disabled annotation"
**Describe the bug**
If istio-init is applied while the sidecar is active, the job will fail to run with an error cannot connect to sidecar injector.

**Expected behavior**
istio-init does not inject

**Steps to reproduce the bug**
deploy istio.yaml
deploy isito-init.yaml

**Version**
release-1.1

**Installation**
see reproducer

**Environment**
k8s bare metal

**Cluster state**
[code]

[2019-01-28 12:30] sdake commented on #11316
PR: https://github.com/istio/istio/pull/11317

Doesn't seem to work initially as per documentation here: https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection/#disabling-or-updating-the-webhook

Asked @ayj for a bit of consulting.

[2019-01-28 12:42] vvraskin opened #11319 "Mesh.ConnectTimeout overwrites Mesh.DefaultConfig.ConnectTimeout"
**Describe the bug**
When defining `Mesh.DefaultConfig.ConnectTimeout` it is getting overwritten by `Mesh.ConnectTimeout's` default.

**Expected behavior**
The property specified by the user is not getting overwritten, e.g. the `Mesh.DefaultConfig.ConnectionTimeout` is used

**Steps to reproduce the bug**
1. Deploy latest istio version with `Mesh.DefaultConfig.ConnectionTimeout` set to 10s
2. Exec

[2019-01-28 13:13] peter-fe commented on #9943
Same issue here, seems to be a major flaw in ingress gateway creation.

We currently run 10 clusters with Istio 1.0.4 on k8s 1.10.12.
Just a plain helm install with the Istio provided charts, not thing special regarding ingress.

If we do a scheduled restart of the ingress-gateways, which all where running ok before the recreation of the pods, some of them don't start up correctly.

This also happ

[2019-01-28 13:41] linsun commented on #11261
@wattli @liminw could you suggest what might be wrong here?

[2019-01-28 13:47] linsun commented on #9951
I will modify our upgrade test to test 1+ replicas for each control plane so this feature can be properly explored in our upgrade test.

[2019-01-28 13:48] linsun commented on #9951
the desired check imho would be whether this improves the non 200 response code ratio for the test app during istio control and data plane upgrade.

[2019-01-28 13:52] linsun commented on #11244
Awesome, thank you @jmazzitelli

[2019-01-28 14:07] suryadu commented on #10486
@clyang82 We have recently introduced namespace filtering for Pilot scalability in large topology (https://docs.google.com/document/d/1x8LI3T7SHW-yDrrt3ryEr6iSs9ewMCt4kXtJpIaSSlI/edit#)
Currently if there are thousands of sidecars in the mesh with the default pilot instances supporting them, we may see performance overhead as each sidecar. Exploiting the namespace filtering will significantly impr

[2019-01-28 14:08] morvencao commented on #10776
Let me answer the first question:

CNI plugins are organized as plugin chains, each plugin in the chain should be match the condition specified in plugin configuration before executing it.
1. For `istio-cni` plugin, it will be added to the end of plugin chain and execute when the pod are not in `exclusion` list (plugin config).
2. If excluded, ignore the pod and return `prevResult` that created by

[2019-01-28 14:48] jnativio commented on #11280
@linsun I don't see an issue adding the memory requests by default to sidecars, in order to enable memory HPA for the app. The memory usage in the sidecar doesn't vary much with traffic intensity, but rather with the number of routes in the mesh. So, it is proportional to the number of sidecars present in the mesh. Then, memory horizontal scale for sidecar itself would have a negative effect on me

[2019-01-28 14:59] linsun commented on #11145
+1 on backport cc @wenchenglu

[2019-01-28 15:26] ibm-jason commented on #9363
@hklai @costinm - bumping this issue.... any news here?

[2019-01-28 16:01] esnible opened #11322 "Restore Envoy cluster stats (optionally, for troubleshooting)"
In November we added a stats_matcher/inclusion_list to Istio's Envoy configuration.  This suppresses most of the 15000:/stats output.

This makes sense for reducing resources.  In a large cluster a huge amount of zeros were held for /stats.  Istio never used /stats.  However, they were helpful for troubleshooting clusters, especially the cluster.outbound*.upstream_rq_timeout, _rq_5xx, and _rq_200

[2019-01-28 16:07] esnible commented on #11322
A simple implementation would be to use a deployment/pod label, which would surface on the pod using the ISTIO_METAJSON_LABELS mechanism, for stats collection.  If we turn on a label souch as `istio.io/envoy_stats: true` we would add `cluster.outbound*` to the _stats/matcher/inclusion_list_.

This mechanism isn't dynamic (pod must restart), but should require very little code changes.

[2019-01-28 16:15] tiswanso commented on #10776
The Istio CNI sets the CNI plugin chain config header with the version 1.3.0 always.  That looks like it's incompatible with this Openshift CNI plugin.  I will open an issue against the istio/cni repo to make this value configurable via the helm chart for istio cni install.

[2019-01-28 17:03] esnible opened #11324 "Multimesh SHOULD NOT require a name ending in .global"
When Istio is configured for multi-mesh it should be possible for unchanged applications to invoke webservices and be unaware if the service is local.

Yet in the current implementation, I have success with curl ratings.default.global but not with curl ratings.default. Even though the client has been configured with DNS and resolves both addresses to the same value.

To get the client configuratio

[2019-01-28 17:09] GregHanson commented on #11319
a little more details on this:
timeout is configured to 10s here in mesh config https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/configmap.yaml#L91
If not provided in the mesh config, 1s timeout is used https://github.com/istio/istio/blob/master/pilot/pkg/model/context.go#L357
but here and here, the default cluster for services are set to 1s regardless of mesh con

[2019-01-28 17:54] ymesika commented on #11324
I believe #10972 is targeting the issue implied by this sentence.

[2019-01-28 18:06] douglas-reid commented on #11304
Yes. You should be able to copy the relevant jobs from the prometheus config that Istio provides: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/prometheus/templates/configmap.yaml

[2019-01-28 18:10] hklai commented on #9363
No update from me. I have not been working much on circle testing.

[2019-01-28 18:11] wattli commented on #11261
@yangminzhu , can you take a look please?

[2019-01-28 18:13] esnible commented on #11322
@douglas-reid I can get most of what I need from 15000/clusters for *outbound* success and failure.

The other statistic I miss is `listener.0.0.0.0_*`.  Would it be reasonable to always (or selectively) turn on listener stats via inclusion_list?  I went through my collection of 19 archived 15000/stats responses and found that of the stats I am interested in, between 3 and 5% start with `listener.

[2019-01-28 18:22] liminw commented on #11261
RbacConfig has been deprecated. Could you use ClusterRbacConfig instead? See https://preliminary.istio.io/docs/concepts/security/#enabling-authorization

[2019-01-28 18:46] kyessenov commented on #10676
Related to https://github.com/istio/istio/issues/10873

[2019-01-28 19:35] vinaykumard commented on #7427
If you are using GKE then you can use Cloud NAT and private cluster combination to route all your request through a public IP which you can use to whitelisted, as all request will be routed through this IP.
https://cloud.google.com/nat/docs/overview#NATwithGKE

[2019-01-28 19:45] berstend commented on #7479
Patching the ingressgateway deployment works as well, for the updated certs to be used:

`POD_NAME=foobar kubectl -n istio-system patch deployment istio-ingressgateway -p '{"spec":{"template":{"metadata":{"annotations":{"restarted-by":"'${POD_NAME}'", "restarted-at":"'$(date +%s)'"}}}}}'`

But this also results in a 5-10s downtime, which is less then ideal.

Also I assume I would need to run this

[2019-01-28 19:50] berstend commented on #9030
Also I feel this PR is very much related: https://github.com/istio/istio/issues/7479

What's the current best practice to use istio's `ingressgateway` with `certmanager` in regards to having the certs updated in the ingressgateway automatically - without downtime?

Patching the `ingressgateway` deployment by hand/CronJob kinda works but causes a small downtime and feels like a hack?

[2019-01-28 19:51] quanjielin opened #11328 "add cert rotation e2e test into presubmit prow/e2e_pilotv2_auth_sds"
https://github.com/istio/istio/pull/10887 enabled all existing pilot e2e test(including service to service mtls) in  release 1.1/master presubmit prow/e2e_pilotv2_auth_sds.sh, with sds/nodeagent enabled/secret mount disabled.
we need to add key rotation case for sds e2e flow (which existing pilot test don't have)

[2019-01-28 20:06] linsun commented on #11210
@sdake I will change to hardcode the value for 1.1

[2019-01-28 20:12] linsun commented on #11280
I created https://github.com/istio/istio/pull/11329.  No disagreement @douglas-reid #11247 shares similar but a larger goal :)

[2019-01-28 20:16] smawson commented on #7695
I'm writing a new shiny integration-test-framework version of this that isn't flakey, will delete the old one once done.

[2019-01-28 20:31] yangminzhu commented on #11261
`RbacConfig` is deprecated but it should still work as we have backward support.

Could you enable the debug logging on the sidecar and attach the log to here? You can follow [here](https://preliminary.istio.io/help/ops/security/debugging-authorization/#ensure-proxies-enforce-policies-correctly) to do this.

[2019-01-28 21:30] lizan opened #15735 "strip redundant metadata from reporting bag"
mixer filter build report data and collect all dynamic data from stream info which has following redundant ones:
- `rbac` permissive code / policy ID
- `istio.mixer:status` for logging

https://github.com/istio/proxy/pull/2093/files#r251591314 @kyessenov

[2019-01-28 21:34] linsun commented on #11280
#10755

[2019-01-28 21:58] kramvan1 opened #11333 "Anti-Affinity for control plane for node and zones"
**Describe the feature request**
Configure a high level of availability for control plane deployments
Apply this to: pilot, sidecar-injector, policy, telemetry

requiredDuringSchedulingIgnoredDuringExecution node level anti affinity
preferredDuringSchedulingIgnoredDuringExecution zone level anti affinity

**Describe alternatives you've considered**

**Additional context**

[2019-01-28 21:59] kramvan1 commented on #11333
@linsun  cc

[2019-01-28 22:00] markmssd commented on #9764
Ran into the exact same issue. This is really a deal breaker for us. Is there any alternative?

[2019-01-28 22:04] tillig opened #11334 "Zipkin address inconsistently used through Helm charts"
**Describe the bug**
Some Helm charts currently in `master` make use of a `.Values.global.tracer.zipkin.address` value to point to an external Zipkin instance but this doesn't happen in all the charts.

**Expected behavior**
If the external Jaeger/Zipkin is specified, the address should be used consistently throughout.

**Steps to reproduce the bug**
A correct implementation is seen in the [`gatew

[2019-01-28 22:22] douglas-reid commented on #11334
@bianpengyuan can you fix this in master?

[2019-01-28 22:24] alexburnos opened #11336 "Support of an Envoy bootstrap config for custom Pilot implementation"
**Describe the feature request**
To allow integration with custom Pilot implementation that, for example, requires gRPC authz for discovery requests, Istio need to be distributed with an Envoy bootstrap template that supports/configured for these features.

This is an overall bug to track support of:
- Custom template config generation by pillot-agent (Issue#11198)
- Addition of Envoy bootstrap te

[2019-01-28 23:20] incfly commented on #11295
`statusPort` and `applicationPorts` are already there when I started build liveness health check on top of it. I don't have full context of why they were introduced in the first place.

The health check prober rewrite logic already look at injection spec and see if the `statusPort` is present or not. If not, skip rewriting.

I'll make sure the liveness probe to use environment variable to pass app

[2019-01-28 23:52] tillig opened #11340 "Document how to use a centrally-deployed Jaeger installation"
**Describe the feature request**
We have a central deployment of Jaeger for handling tracing across teams and services. We did not deploy the Istio-specific Jaeger. I'm struggling to get traces pushed to our central Jaeger.

Challenges include:

- Inconsistency in the Helm charts with respect to a specified Zipkin location (#11334)
- Using the Jaeger Operator [jaeger-agent sidecar](https://github.

[2019-01-29 00:34] sdake commented on #11269
this may be related: https://github.com/istio/istio/pull/10758

[2019-01-29 00:35] sdake commented on #11269
the last PR failed with a non-descript error fixed by (I believe) PR: https://github.com/istio/istio/pull/10758

I have submitted this pr again - will debug: https://github.com/istio/istio/pull/11338

[2019-01-29 00:48] wenchenglu commented on #11336
@duderino
marked as 1.1, fyi

[2019-01-29 01:03] kyessenov commented on #11260
@piaoyu We need steps to reproduce this bug. Please provide more details on version/config you used.

[2019-01-29 01:16] mhamrah opened #11344 "Mixer incorrectly logs error 'Report failed:1 error occurred: * internal: no instances sent' with external adapter"
**Describe the bug**
Mixer will output an error log message when it tries to invoke a [dynamic handler with no instances passed as an argument, as defined on this line of code](https://github.com/istio/istio/blob/b8e30e07ec7b36cf1ba1b445b78c81fdf0d417b9/mixer/pkg/protobuf/yaml/dynamic/handler.go#L162). However, the dispatcher will periodically [send report dispatches with nothing to encode, as set

[2019-01-29 01:19] ayj opened #11345 "log.Fatal does not exit the process"
Popular logging packages such as glog, logrus, pkg/log, etc. exit the  process on fatal errors. Our custom logger should do the same. Many locations in Istio's code already assume this behavior.

[2019-01-29 01:32] ozevren opened #11349 "Galley Filesystem source occludes resources with same name, but different kind."
The filesystem source in Galley gets confused when the same (full) name is used for different kinds of resources.

[2019-01-29 01:40] mabushey opened #11350 "When will HPA be fixed? <unknown>/80%"
**Describe the bug**
HPA has been broke since I started working with Istio (Istio 0.8)

**Expected behavior**
Working HPA

**Steps to reproduce the bug**
[code]

**Version**
Istio 1.0.5, k8s 1.10 and 1.11

**Installation**
kubectl apply -f istio.yaml

**Environment**
AWS/kops

Heapster is deprecated, and metric-server is defective. Is Istio setting up the HPA's in the hope that in the future it wi

[2019-01-29 01:41] kyessenov opened #11351 "mixer: enable CEL runtime as an option"
Per agreement, we want to allow CEL expessions over CEXL using custom annotations on rules and instances, without changing the defaults. Additionally, add tooling for conversion to assist migration.

/cc @mandarjog

[2019-01-29 02:20] qichaoch commented on #10313
@arnecls Thanks for the information. Your workaround fixes my problem.    I agree that there should be something wrong in the "merge" logic which cause the problem we met.   Changing the port name to be unique seems not working for this scenario.

[2019-01-29 02:39] linsun commented on #11350
I think this is related to a few other issues out there due to not setting memory resources.

see https://github.com/istio/istio/issues/11280 #10755

[2019-01-29 02:42] hzxuzhonghu commented on #11145
ALready in

[2019-01-29 03:58] clyang82 commented on #11261
Thanks @liminw @yangminzhu  for your help. I debugged and found that I did not follow the instruction. I forgot to have set up Istio on Kubernetes with authentication enabled. After enabled, it is working now.

[2019-01-29 03:58] #11261 closed

[2019-01-29 05:13] sdake commented on #11244
@jmazzitelli nice work!

[2019-01-29 05:57] sdake opened #11358 "simpletest is flakey in the testing of citadel"
**Describe the bug**
A PR that removes silent failures from the simpletest check results in a hard failure on a specific test case.  The test case fails to readiness check citadel.

**Expected behavior**
The test case should work appropriately.

**Steps to reproduce the bug**
submit a PR like :
**Version**
master/releasee-1.1

**Installation**
none

**Environment**
Prow simpleTest check

**Cluster

[2019-01-29 06:00] irisdingbj commented on #10942
@ozevren sure, will add a test

[2019-01-29 06:00] sdake commented on #11269
Ignore all prior comments about PRs.

master PR:https://github.com/istio/istio/pull/11356
release-1.1 PR cherrypick: https://github.com/istio/istio/pull/11357

[2019-01-29 06:14] sdake commented on #11358
master PR:  https://github.com/istio/istio/pull/11359
release-1.1 PR cherrypick: https://github.com/istio/istio/pull/11360

[2019-01-29 06:15] sdake commented on #11358
@hklai worked with me this evening to identify this as a problem for 1.1.  The goal of these two related but different problems is to remove failures in the gate for master and release-1.1 to speed up development.

[2019-01-29 06:35] nparfait commented on #10794
Did you resolve this issue? I'm having a similar problem. I have an istio cluster (1.0.5) on GKE (1.11.5-gke.5). I have 2 namespaces which are running 2 versions of my application.
ie. ns1 - console.dev.domain.com
and ns2 - console.demo.domain.com
I have gateway/virtualsvc/destinationrule in each ns

using chrome/firefox if i access 1 domain the other will then 404, I can them open an incognito ta

[2019-01-29 06:46] sdake opened #11362 "deleting the Istio-system namespace results in leaked configuration for the sidecar injector"
**Describe the bug**
If the istio-system namespace is deleted (to remove Istio quickly), and a namespace is labeled for sidecar injectoin (such as default), the annotations documented for sidecar injection ignore are not honored.  Worse, the app itself attempts to in some way contact the sidecar injector (which has been deleted).

**Expected behavior**
When deleting the istio-system namespace, the

[2019-01-29 06:47] sdake commented on #11362
I'm not sure this use case is a priority - but I thought I'd report it just in case folks wanted to take a look at this for 1.2 or later.  Seems to me like a Kubernetes proper problem.

Cheers
-steve

[2019-01-29 06:47] sdake commented on #11362
cc / @ayj

[2019-01-29 06:54] procyclinsur commented on #11144
I wanted to update, and before anything can be said about relations on this ticket, my environment itself was created using `eksctl`.  The network created by eksctl has both public and private subnets within the EKS cluster.

According to the following issue [https://github.com/awslabs/amazon-eks-ami/issues/78](url)

I am currently working with AWS support to know if this issue does indeed still e

[2019-01-29 06:56] #11144 closed

[2019-01-29 07:08] SrinivReddy commented on #9117
@MrTrustor , I tried with differe ISTIO versions and both RHEL and CentOS but no luck, I think i am missing some configurations, can you please tell us the steps to configure  RHEL/CentOS vm.

[2019-01-29 07:13] vadimeisenbergibm commented on #6593
@ermik The first question is if you need to direct the egress traffic thru a gateway, or you can just direct the traffic directly from the sidecar.

If you need the gateway, and you want to use wildcard hosts like `*.googleapis.com`, see this example how to do it:
https://preliminary.istio.io/docs/examples/advanced-gateways/wildcard-egress-hosts/

[2019-01-29 07:14] vadimeisenbergibm commented on #9764
@rshriram @costinm @kyessenov Any ideas? ^

[2019-01-29 07:56] ymesika commented on #10589
@wattli In a multi-cluster (single control plane) setup, do you actually need remote (Pilot+Galley) or just Galley?
Going through the upcoming changes by @nmittler seems like a remote Galley can watch the k8s types and serve the service entries to the central pilot.

[2019-01-29 08:01] luksa commented on #10776
No, the istio-cni plugin is added on top of OpenShift's CNI plugin. When a container is being costructed, first, the OpenShift plugin gets called, then the istio-cni plugin.

The problem is in the openshift-sdn plugin, not in Istio. Openshift-sdn only supports cniVersion 0.1.0 and 0.2.0, but chained plugins were only introduced in CNI 0.3.0.

Istio-cni can only work with CNI plugins that support C

[2019-01-29 08:07] sdake commented on #10589
@ymesika good question - information on the design needed for deployment and docs.

Cheers
-steve

[2019-01-29 08:16] caohe commented on #11267
@GregHanson Thanks for your reply!

Every time before I run tests, I will delete /bin and /out directories under $GOPATH. So the envoy binary is always up-to-date.

I used the 3a136c90ec5e308f236e0d7ebb5c4c5e405217f4 commit under tag 1.0.0, and directly run `go test`  under `pilot/pkg/proxy/envoy/v2`. The output is:
[code]

It seems that the 20121 port of envoy may not start correctly. I have trie

[2019-01-29 08:47] clyang82 commented on #10776
/cc

[2019-01-29 08:53] zhaohuabing opened #11364 ""127.0.0.1" is used in node id"
**Describe the bug**

I ran into this issue when testing 1.1 release branch.

As the below output, "127.0.0.1" is used in the node id, it should be removed and use a real IP address instead.

[code]

**Expected behavior**
“127.0.0.1” should be replaced with a meaningful IP address.

**Steps to reproduce the bug**
Compile and run Istio 1.1 branch in a multiple IPs environment.

**Version**
The Isti

[2019-01-29 09:03] ghost opened #11365 "Internal Loadbalancer not being created on GKE"
**Describe the bug**
When creating an istio-ingressgateway in gcp and adding "internal" annotation load balancer is stuck in pending

**Expected behavior**
Loadbalancer is created

**Steps to reproduce the bug**
add
    serviceAnnotations:
      cloud.google.com/load-balancer-type: "internal"
to the "istio-ingressgateway:" in the values file

**Version**
{{ What version of Istio and Kubernetes are

[2019-01-29 09:24] herasoo commented on #9157
I have same experience. DB pod is up with proxy, and SERVICE pod is loading with proxy. The problems is that the SERVICE container not proxy checks or makes DB connections during container's start-up.
So I think this situation happened before SERVICE proxy container completely started up.
In Istio, Service-Mesh, all network is possible through completely started up proxies.

Any ideas? for modifyi

[2019-01-29 09:46] ewolff commented on #9988
@hklai Are those performance tests somewhere on Github?

[2019-01-29 09:50] luksa opened #11366 "Consider running Envoy through CNI/CRI instead of as sidecar"
Running Envoy as a sidecar is not the proper way to set up a pod's networking interface.

Since there's no way to specify that the Envoy container must be fully started before the pod's main container starts, the main container might see failed connection attempts (see https://github.com/istio/istio/issues/11130). The same happens during shutdown if Envoy shuts down before the main container (http

[2019-01-29 11:18] objectiser commented on #11340
The easiest approach is to just use the zipkin address, but setup a service that maps onto the jaeger collector. See the `zipkin` service in [this PR](https://github.com/istio/istio/blob/ae61e4ab5795e88e2c3c1230563300f1b53b9cb3/install/kubernetes/helm/subcharts/tracing/templates/service.yaml), which is aiming to add the jaeger-operator to the istio helm chart.

Regarding the jaeger agent as a side

[2019-01-29 11:53] berstend commented on #9030
@thomschke thanks a lot for the suggestion!

Unfortunately patching the ingressgateway deployment with 3 replicas also results in downtime as all replicas are restarted at once (despite `StrategyType: RollingUpdate` and `RollingUpdateStrategy:  0 max unavailable` defined in the deployment).

Maybe this is due to the ingressgateway not having a liveness/readiness probe defined. Even upscaling the r

[2019-01-29 13:31] berstend commented on #9030
Oh thanks @thomschke, that's the perfect PR for the problem I've encountered 😄

So far I had partial success using this combo:

[code]

`minReadySeconds` will ensure that traffic will only hit new gateways after some delay, which actually works and results in rolling updates.

Unfortunately gateway pods that are in termination state are still being routed to and will cause connection errors. The m

[2019-01-29 13:40] berstend commented on #11001
@iandyh

Could you share your readinessProbe implementation? I'm also encountering refused connections and some improvement seems better than nothing. 😄

[2019-01-29 13:42] keitwb commented on #11344
I did some experimenting with this and I think it has something to do with the `match`ing in the Istio `rule` resources for tracing/metrics.  When I use the standard match rule for tracing of `(context.protocol == "http" || context.protocol == "grpc") && request.host != "mixer"`, I regularly get the `no instances sent` error, but if I set it to `"true"`, I don't get the error.  Based on [the sessi

[2019-01-29 14:02] #11364 closed

[2019-01-29 14:21] jnativio commented on #11350
The problem described does not have to do with not defining memory requests as Istio default HPAs are based on CPU utilization, and it has been working fine in other platforms. It seems the metrics are not available in your cluster. Heapster is deprecated in k8s 1.11, but still works. Does the command `kubectl top nodes/pods` work for you?

[2019-01-29 14:27] linsun commented on #11015
ping @jmazzitelli thoughts?  ^^

[2019-01-29 14:56] vadimeisenbergibm opened #11373 "Add a graph "Outgoing requests by source principal and destination" to Workload dashboard in Istio installation"
Since this is the most meaningful graph for the egress traffic. Also, a graph: "Outgoing requests by source principal, destination and response code", which is the most meaningful graph for the HTTP egress traffic with TLS origination (response code is known)".

[2019-01-29 15:04] tiswanso commented on #10776
@luksa is correct.  The CNI v0.2.0 specification doesn't specify "Network Configuration Lists" allowing the chaining of plugins required by Istio-CNI.

See https://github.com/containernetworking/cni/blob/spec-v0.2.0/SPEC.md
versus
https://github.com/containernetworking/cni/blob/spec-v0.3.0/SPEC.md#network-configuration-lists

IMO, we resolve this issue by improving the documentation for the Istio-

[2019-01-29 15:11] sdake opened #11374 "cloudfoundry/e2e_pilotv2 check flakey"
Link to run: https://circleci.com/gh/istio/istio/308333?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

signature:
[code]

[2019-01-29 15:18] morvencao commented on #10776
It's really disappointing to know that.
Looks like there is no better way to workaround `privileged` permission in openshift env,
except the unofficial `pod-networking-controller` here: https://github.com/sabre1041/istio-pod-network-controller

[2019-01-29 15:26] krancour commented on #8696
While kubernetes/client-go#527 may technically still be an issue, I want to point out that there is now, at least, a workaround in place on the AKS end.

A mutating webhook is now overwriting environment variables such as `KUBERNETES_SERVICE_HOST` for all pods with the _external_ DNS name for your Kubernetes apiserver. The practical effect of this is that traffic bound for the apiserver exits and

[2019-01-29 15:26] sdake commented on #11316
This PR works in further testing (was testing an upgrade scenario from 1.1 to a theoretical 1.2).  The problem relating to an error with this PR was opened as a new issue here: https://github.com/istio/istio/issues/11362

[2019-01-29 15:27] sdake commented on #11316
/assign @gyliu513

[2019-01-29 15:34] adinunzio84 commented on #8696
@krancour are you sure about: "The load balancer(s) that are involved in this alternative route to the apiserver are not subject to the difficulties explained in kubernetes/client-go#527."?

I [commented here](https://github.com/Microsoft/ApplicationInsights-Kubernetes/issues/169#issuecomment-456872286) more info about the issue I describe in kubernetes/client-go#527, and it seems it's actually mo

[2019-01-29 16:02] krancour commented on #8696
@adinunzio84, the cluster-internal load balancers and externally facing load balancers are different. The externally facing load balancers have had TCP reset as an opt-in "preview" feature since mid-September, while the cluster-internal load balancers, if I understand correctly, still lack this feature.

https://azure.microsoft.com/en-us/updates/load-balancer-outbound-rules/

Oddly, when I dig dow

[2019-01-29 16:16] tcnghia commented on #11001
@hzxuzhonghu @mandarjog is it possible to allow customization of readinessProbe on helm chart?
 Users know what ports their Gateway will expose so they can specify TCP probes to connect to those ports.

@berstend In our case we manually edit the `istio-ingressgateway` and add a TCP probe for port 80 (or 443) and also saw no refused connection after.

[2019-01-29 16:23] linsun commented on #11350
Good point @jnativio!

yes, I ran the cmd it works okay for IBM Kubernetes services:

[code]

[2019-01-29 16:25] ayj commented on #11362
It's not clear why the proxy would be successfully injected into a pod when the sidecar injector itself isn't present (when istio-system namespace is removed) to do the injection. Instead, I would expect pod creation to block unless you also removed the webhook config.

Unlike other namespace'd resources in istio-system, the _cluster-scoped_ mutatingwebhookconfiguration isn't deleted when the isti

[2019-01-29 16:27] krancour commented on #8696
That is correct. The post I linked to does reference standard load balancers, whilst AKS is currently using basic load balancers only-- which deepens the mystery of why this is now working.

[2019-01-29 16:59] GregHanson commented on #11267
You are still running on your mac correct?
[code]
The above fails for me on mac, but works on my linux VM.  So unfortunately it's related to the out-of-date envoy binary I mentioned in my first comment.  There are a few workarounds I mentioned above but unless you really want to test that particular directory I would not go through the hassle

[2019-01-29 17:04] ayj commented on #11094
addressed by https://github.com/istio/istio/pull/11292

[2019-01-29 17:04] #11094 closed

[2019-01-29 17:12] tillig commented on #11340
The point of the Jaeger agent as a sidecar is to collect data from the application beyond just begin/end request info. It has nothing to do with collecting anything from the Envoy proxy. Also, [as noted in this blog article](https://medium.com/jaegertracing/deployment-strategies-for-the-jaeger-agent-1d6f91796d09) there's a certain amount of endpoint security provided by using a sidecar rather than

[2019-01-29 17:17] GregHanson commented on #10313
@amyroh in your case, do you have 3 ingressgateways deployed with labels `helloworld-gateway-1`, `helloworld-gateway-2`, and `helloworld-gateway-3` respectively?  In your VirtualService specs:
[code]
expects there to be a ingress gateway pod with `helloworld-gateway-3`

[2019-01-29 17:22] #11349 closed

[2019-01-29 17:22] ayj commented on #11158
I no longer observe any increased memory usage with #10893 and #11167 running in one of our large scale test clusters over the last week.

As part of verifying #111167 I instrumented a client re-connect stress test to confirm no resources are leaked. Total goroutine cost per connected client is 5 (1 MCP + 4 for net/grpc stack), which is similar to pilot xDS per-client goroutine usage.

For referen

[2019-01-29 17:22] #11158 closed

[2019-01-29 17:24] ayj opened #11379 "Add connection and request rate limiting tests to Galley"
As part of hardening Galley w/MCP for production we should add additional tests for connection and request rate limiting. Today we rate limit on the client side but the server does not explicit rate limit new connections beyond what the grpc/networking stack provides.

[2019-01-29 17:25] ayj commented on #11041
The first three issues should be addressed. I've created https://github.com/istio/istio/issues/11379 to track the rate limiting issue.

[2019-01-29 17:25] #11041 closed

[2019-01-29 17:26] objectiser commented on #11340
Although not a solution to your agent problem, the other approach would be to configure the Jaeger tracer to directly send to the collector.

[2019-01-29 17:35] GregHanson commented on #11189
What errors do you see in the crashed sidecar?  I would expect the injected iptables to cause some problems between the istio sidecar envoy and the second envoy

[2019-01-29 17:37] ostromart commented on #11362
This is probably not a common enough case to spend a ton of effort on, unless there's a simple fix. We could try throwing it over the fence to someone in k8s to take a look.

[2019-01-29 17:37] jakubbujny commented on #11189
The error which I provided is from sidecar - let me update the issue

[2019-01-29 17:39] GregHanson commented on #11189
@cmluciano any insights on this?

[2019-01-29 17:42] objectiser commented on #11340
No sorry, don't know.

Might be worth trying to get the service's Jaeger tracer to use the `HTTPSender` (or via [JAEGER_ENDPOINT](https://github.com/jaegertracing/jaeger-client-java/tree/master/jaeger-core#configuration-via-environment) env var) to talk directly to the jaeger collector - as if that works, then the sidecar agent should also be able to connect to the collector. Would be useful infor

[2019-01-29 17:43] geeknoid commented on #11020
Fixed by #11086

[2019-01-29 17:43] #11020 closed

[2019-01-29 17:45] ozevren commented on #10942
Ok. I think we can move this issue out of 1.1 and use it to track the addition of the test.

[2019-01-29 17:51] mabushey commented on #11202
Istio is amazing, but the docs are so far off that it's a wild goose chase. Your Istio time can be better optimized by ignoring any Istio docs / tutorial that are anything but conceptual/high level.

[2019-01-29 18:01] mabushey commented on #11350
@jnativio

Correct, top does not work:
[code]

That's kind of my whole point is Istio is relying on a broken tool; Metrics Server does not work.

`git diff metrics-server-deployment.yaml`
[code]

I'm adding some of the recommended "fixes". While this reduces some errors it still does not make Metrics Server actually work.

I've seen some fixes to heapster to make it function on a newer k8s version

[2019-01-29 18:48] johngmyers commented on #11284
@GregHanson Port 15003 is what is documented at https://istio.io/help/ops/misc/ . If that port is no longer supported, then the documentation should be corrected.

[2019-01-29 18:48] jmazzitelli commented on #10724
Please see my comment in the PR regarding this issue - I am questioning if we really want to support multiple label keys to refer to the same app (or same version). See: https://github.com/istio/istio/pull/10807#issuecomment-458659223

[2019-01-29 18:49] myidpt opened #11380 "Support 1.1 release qualification tests"
**Describe the feature request**
We use this issue to track the efforts needed to support the 1.1 release qualification tests.

[2019-01-29 18:51] myidpt commented on #11380
PR https://github.com/istio/istio/pull/11312 enables running multiple Citadels in a single cluster, with namespace boundary.

[2019-01-29 18:53] myidpt commented on #11380
/cc @wenchenglu @costinm @mandarjog

[2019-01-29 19:13] linsun commented on #11210
PR merged

[2019-01-29 19:13] #11210 closed

[2019-01-29 19:14] munrodg commented on #11373
Moving to 1.2.

[2019-01-29 19:25] linsun commented on #11125
@ericvn this is discussed in release call today with @costinm @mandarjog and google users also run into this issue and they also agreed with the port change.  In fact they want to change all other 90xx ports but for 1.1, let's change the port 9093 first due to conflict with kafka.

they recommended to use port range from 15000 and use that range for all control plane ports down the road.

cc @wenc

[2019-01-29 19:26] linsun commented on #11125
a potential release note item cc @geeknoid

[2019-01-29 19:30] zhqworld commented on #11240
yes, I added both in ingress svc as well.

[code]

[2019-01-29 20:43] MrTrustor commented on #9117
@SrinivReddy Sorry, I can't really help you here. We managed to make it work more or less following what [this repo](https://github.com/GoogleCloudPlatform/gke-istio-gce-demo) does, but you will need to work it out waiting for an official support.

[2019-01-29 20:48] myidpt opened #11386 "Correct Citadel logging message"
When the Citadel authentication succeeds, the log should indicate the identity and auth source for better tracing. Correctly it’s logging as error which is wrong.

[2019-01-29 21:32] mabushey commented on #11350
I managed to get metrics server to work. I had to add `authenticationTokenWebhook` and `authorizationMode` to the kublet spec:
`kops edit cluster $NAME --state= $STATE`
[code]

This broke `kubectl logs` which was fixed via:
[code]

[2019-01-29 21:32] joberdick opened #11390 "Mixer uses mTLS?"
**Describe the bug**
Enabling mTLS cluster wide causes telemetry and policy failures

**Expected behavior**
telemetry and policy function as they did before mTLS policy was enabled.

**Steps to reproduce the bug**
Apply the following mesh policy:
[code]
Things work until a destination rule is applied to enable the client side of mTLS:

[code]
Then services in the default namespace fail to call mix

[2019-01-29 21:33] mabushey commented on #11350
The updated change to `metrics-server-deployment.yaml`:
[code]

[2019-01-29 21:53] qfel opened #11392 "release-1.1 is not passing race tests"
$  go test -race -count=10 istio.io/istio/galley/pkg/source/fs

[code]

[2019-01-29 21:54] qfel commented on #11392
[code]

[2019-01-29 22:17] #11344 closed

[2019-01-29 22:48] yangminzhu commented on #11315
/cc @diemtvu

[2019-01-29 22:57] ostromart commented on #11362
How easy is this to repro @sdake ? I tried once but I don't think I'm following exactly your steps, since I tried rendering istio-init and istio from a nightly release.
Could you provide instruction how you generated those?

[2019-01-29 23:08] iroller opened #11393 "Istio helm chart is failing to install"
**Describe the bug**

When using `helm template` and `kubectl apply -f rendered-template.yaml` I can work around the race condition bug when it can't find the CRDs. The workaround it to run the apply command once again in a few seconds.

However when I'm doing `helm install` it's failing on validation stage and not installing anything at all:
[code]

**Expected behavior**

Expecting `helm install`

[2019-01-29 23:14] iroller commented on #11393
Never mind. I used Chart v1.1.0 and istio v.1.0.5

[2019-01-29 23:14] #11393 closed

[2019-01-29 23:17] yangminzhu commented on #11108
I think the `istio-sec-` header is an internal implementation detail and we have removed this, see [this](https://github.com/istio/proxy/commit/afc72d706414feb0f8b684d6f3f70bd33e87fb07#diff-40a302989d1f14bfee1e219bd7483adfL63)

/cc @diemtvu

[2019-01-29 23:29] zhqworld opened #11394 "istio proxy access log format config not working"
**Describe the bug**
The latest istio snapshot build: 1.1.0-snapshot.5 allows to customize proxy access log by specifying access log format: https://github.com/istio/istio/blob/1.1.0-snapshot.5/install/kubernetes/helm/istio/templates/configmap.yaml#L25

I tried to set values in the "istio" configmap as following, but it didn't work.
[code]

**Expected behavior**
envoy proxy should write log with n

[2019-01-29 23:32] kyessenov commented on #10543
You might want to reuse https://github.com/istio/api/blob/master/policy/v1beta1/http_response.proto#L23
This proto is meant to be packed into RPC status error details, and is picked up by Mixer from external adapters.

[2019-01-30 00:47] JimmyCYJ opened #11397 "Make improvement for ingress gateway controller"
**Describe the feature request**
We are going to support external certificate management for ingress gateway ([Design Doc](https://docs.google.com/document/d/1agtVQADCk32mLwot8iygVGhHcP1Lna7G1Cne4Zwllgg/edit#heading=h.qex63c29z2to)).

Based on customer feedback, we could make some improvements to better integrate ingressgateway controller with cert-manager.
1. Loosen the secret type, so that custo

[2019-01-30 00:48] JimmyCYJ commented on #11397
cc @myidpt

[2019-01-30 01:05] yangminzhu commented on #11315
I can only occasionally reproduce this, seems like a sync issue. @castlemilk, are you able to reproduce this stably?

[2019-01-30 01:38] hzxuzhonghu commented on #11145
Now we can close it, as #11176 is in.

[2019-01-30 01:38] #11145 closed

[2019-01-30 01:53] castlemilk commented on #11315
@yangminzhu  It seems to be consistent for me. Do you want me to try anything to try synchronise?

[2019-01-30 01:53] wenchenglu commented on #11268
@mandarjog should this be marked for 1.1. Sounds a reasonable change to go into 1.1 for performance improvement.

@duderino fyi

[2019-01-30 02:02] clyang82 opened #11400 "Mixer Performance Issues"
from our performance testing results - https://ibmcloud-perf.istio.io/index.html/. when enabled istio, the TPS is around 2000. it is reduce 1400+ comparing with no mixer.

| Release | (A) Istio Full | (B) No Mixer | (C) Ingress Only |
|-- | -- | -- | -- |
| release-1.1-20190128-09-16 | 1980 | 3411 | 4776

With the above result, it seems the mixer is a blocker for the real production environment. I

[2019-01-30 02:20] clyang82 commented on #11366
FYI @gyliu513 @morvencao

[2019-01-30 02:47] sdake commented on #11374
https://discuss.circleci.com/t/cannot-install-php-7-1-on-machine-because-of-locked-var-lib-dpkg-lock-file/24639/5

[2019-01-30 02:51] sdake commented on #11374
https://discuss.circleci.com/t/unable-to-instal-ffmpeg-on-circleci-2-0/18100/4

[2019-01-30 02:58] sdake commented on #11374
[code]

The cloudfoundry gate runs against trusty (14.04) which is no longer maintained.  We should probably rev the container to xenial (16.04) or bionic (18.04).

The entire apt-get update is not needed, as iptables is the latest version, and that is the only tool installed by the make operation.

[2019-01-30 04:18] hzxuzhonghu commented on #11268
Thanks @wenchenglu

[2019-01-30 05:07] iandyh commented on #11001
@berstend Hi. As @tcnghia said, we just add the probe manually. But please read my comments in this thread, adding `readinessProbe` does not address the problem entirely. You will still have the risk when just scaling up the gateway deployments for example. Because there is no guarantee which will be faster, the configuration streaming from pilot or the actual production requests.

My suggestion i

[2019-01-30 05:20] iandyh opened #11402 "Helm updrade from 1.0.4 to 1.1.snapshot.5 fails"
**Describe the bug**
When upgrading from 1.0.4 to 1.1.0.snapshot 5, we encountered this error:

[code]
This is the helm history:

[code]

**Expected behavior**
The upgrade should be successful

**Steps to reproduce the bug**
Install istio 1.0.4 using Helm and Tiller. And then run

`helm upgrade istio istio-1.1.0-snapshot.5/install/kubernetes/helm/istio --namespace istio-system`

**Version**
k8s ve

[2019-01-30 05:51] mandarjog commented on #11001
Readiness probe checks if envoy has listeners on all expected ports, when this is added to the gateway it should help the problem.
@natemittler did you finish testing with LB liveness to the gateway?

[2019-01-30 06:15] clyang82 commented on #10393
@zhu0516123 I saw #10839 was merged so that release-1.1 will have this fix.

[2019-01-30 06:36] hklai commented on #11374
@sdake  sgtm

I would suggest to clean up simpleTest first while you are at it, as https://testgrid.k8s.io/istio-postsubmits#e2e-simpleTests and https://prow.istio.io/?type=postsubmit&job=e2e-simpleTests still do not look that good.

On the other hand https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-pilot-cloudfoundry-v1alpha3-v2 does not seem too bad.

[2019-01-30 07:52] iandyh commented on #11400
afaik, mixer has two components: 1. policy 2. telemetry. `istio-policy` sits in the data plane and will be called when new connection is established. So having policy will impact the performance.

On the other hand, `istio-telemetry` is an async call. It should not affect the overall performance too much.

Since 1.1, you can disable policy when installing the istio. So probably use that option?

H

[2019-01-30 09:12] GavinLin168 commented on #10776
If OpenShift can upgrade openshift-sdn plugin to support cni 0.3.0 ?  Or any other ideas can make istio-cni worked with Openshift-sdn ? Thanks!

[2019-01-30 09:30] luksa commented on #10776
@morvencao, @GavinLin168:
I'm actually working on making sure that Istio can run on Openshift without any elevated privileges. Effectively, this means I need to make sure that istio-cni works on OpenShift. At this very moment, I'm implementing changes in openshift-sdn, so it will support 0.3.x.

[2019-01-30 09:36] GavinLin168 commented on #10776
@luksa
May I know which version of OpenShift will support 0.3.x and when it will be ready for use ?

[2019-01-30 10:07] shadowlord017 commented on #9333
There is operator for Openshift: [maistra](https://github.com/Maistra/istio-operator)
And [example installation](https://github.com/debianmaster/openshift-examples/tree/master/istio)

[2019-01-30 10:17] anthonyhaussman commented on #8059
Hi,

I'm trying to set the TPROXY mode by default on my platform.
I have a simple nginx proxypass to an application for POST resquest.

With a default istio config it returns:
[code]

The client returns is IP 127.0.0.1 which is not to be the case. Without istio:
[code]

So, I have modified on my istio (1.0.5) deploy to enable TPROXY mode by default and use the image istio_proxy from cilium:
[code]

[2019-01-30 10:41] 13567436138 opened #11409 "install istio with helm got an error"
**Describe the bug**
[root@node1 istio-1.0.5]# helm install install/kubernetes/helm/istio --name istio --namespace istio-system
Error: validation failed: [unable to recognize "": no matches for kind "DestinationRule" in version "networking.istio.io/v1alpha3", unable to recognize "": no matches for kind "DestinationRule" in version "networking.istio.io/v1alpha3", unable to recognize "": no matches

[2019-01-30 10:43] 13567436138 commented on #11393
how do you solve this problem，I met the same error

[2019-01-30 10:44] ymesika commented on #11409
You need to install the CRDs first like mentioned [here](https://istio.io/docs/setup/kubernetes/helm-install/#installation-steps).

[2019-01-30 10:47] luksa commented on #10776
@gargnupur Most likely 4.0, but I'll publish my patch as soon as I finish it. Don't know how long it will take - this is the first time I've seen or worked in this part of the code :)

[2019-01-30 11:09] GavinLin168 commented on #10776
@luksa
Got it. Anyway , thanks very much.

[2019-01-30 12:05] sdake commented on #11374
ya- I am going to fix up simpletest first..  pending available time.  I am 3 weeks into a new job, so need to stay focused on that.  I just ran across this and thought it would be prudent to debug it while it was fresh in memory.

The reproducibility on this issue is very low.

Cheers
-steve

[2019-01-30 14:39] rshriram commented on #9659
Update, with release 1.1 these problems can be solved. You can create a destination rule in the egress gateway namespace with the exportTo field set to '.' . This will cause the destination rule to be bound only to the egress gateway namespace's pods

[2019-01-30 14:43] pmoncadaisla commented on #11108
So @yangminzhu , I guess `Authorization: Bearer $TOKEN` is always passed to the end service and is the only place where the payload can be extracted from, is that right?

[2019-01-30 15:13] clyang82 commented on #11400
@iandyh Thanks for your information. I think this option (disable policy) is worth to have a try.
@suryadu is it possible to add this case in https://ibmcloud-perf.istio.io/index.html/? Thanks.

[2019-01-30 15:13] jakubbujny commented on #11189
Adding --base-id <integer> as starting parameter to our regular Enovy gateway solved the problem of crashing sidecar.
Thank you :+1:

[2019-01-30 15:13] #11189 closed

[2019-01-30 15:23] clyang82 opened #11415 "Support Watch and List with specified the namespaces in citadel"
I met one case for citadel. We have a K8s environment which already have some namespaces. I want to have istio mesh capability in this environment. After installed the istio, I found that the citadel will watch and list `serviceaccount` in all namespaces and create the secret with name `istio.<sa>` automatically. Can we have the function to specify the namespaces which are planned to involve into

[2019-01-30 15:41] ajayakumar1983 commented on #11273
@douglas-reid here is the logs from Mixer container on telemetry .

I  {"level":"info","receivedBytes":347,"destinationServiceHost":"istio-telemetry.istio-system.svc.cluster.local","instance":"accesslog.logentry.istio-system","destinationNamespace":"default","destinationApp":"","destinationPrincipal":"","sentBytes":110,"sourceApp":"istio-ingressgateway","sourceNamespac…
I  {"sourceIp":"10.0.2.68",

[2019-01-30 15:46] clyang82 commented on #11415
another case is in my understand citadel only need to:
1. create secret for sa `istio-galley-service-account` which is used by `validatingwebhookconfiguration`
2. create secret for sa `istio-sidecar-injector-service-account` which is used by `MutatingWebhookConfiguration`
3. create secret for sa `default` in required namespace.
but now, we watched all sa and create secret for all sa. is my underst

[2019-01-30 16:42] loewenstein commented on #9659
@rshriram well, in a default installation that's both going to be `istio-system`.

In particular in the new integration test framework, I am not sure about the level of control about namespaces.
@nmittler could we spread istio installation on multiple namespaces?

[2019-01-30 17:48] douglas-reid commented on #11390
Are you sure that telemetry (and/or policy) is not working?

I ask because mTLS has worked with Mixer instances for a long while, with the `--set global.mtls.enabled=true` option (and before) -- and we've recently seen reports of that exact same log message in instances where Reporting was working (there is open work to track down why that message is appearing in those cases).

[2019-01-30 17:50] myidpt commented on #11415
Now Citadel can watch all namespaces or a single namespace:
https://github.com/istio/istio/blob/master/security/cmd/istio_ca/main.go#L143
That's a limitation. Please feel free to create a PR for watching multiple specified namespaces.

[2019-01-30 17:56] douglas-reid commented on #11390
A few other things to check:
- what does your mesh config look like?  Do you have controlPlaneSecurity enabled? See: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/configmap.yaml#L37-L42
- what do your destination rules for mixer look like?  See: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/mixer/templates/config.yaml#L964-L1020

[2019-01-30 18:56] diemtvu commented on #11108
Right. We stop populating istio-sec- header as it is designed for internal implementation only. The original token should still be in the original token, so that (local) backend can still use that without any code modification.

[2019-01-30 19:02] incfly commented on #11415
I'd like to understand the problem as a big picture a little bit more.

Are you saying your k8s cluster has some deployments in other namespaces that you don't want to managed by Istio? Is that the reason of not generating secrets?

If you want isolation to make Istio only affect a subset of namespaces in a cluster, don't you also need Pilot/Mixer/Galley to narrow down their namespaces as well?

O

[2019-01-30 19:04] esnible commented on #11044
Galley, the sidecar injector, Core DNS, and Prometheus all have health endpoints (described in their deployments) that can be checked.  Each instance can be checked for health.

Most Istio pods are fronted by services in the istio-system namespace that can be checked to make sure the services are responsive.

We should check that all pods in istio-system running Envoy are offering the admin interf

[2019-01-30 19:12] diemtvu commented on #11315
The tool is designed to test Istio mutualTLS setting only (i.e using ISTIO_MUTUAL enum in destination rule). Thus it ignore (and treat) other enum like MUTUAL. I agree this is a bit confusing. Will make a change to make the output cleaner.

[2019-01-30 19:16] kyessenov opened #11420 "istio.io/istio/galley/pkg/source/fs TestDuplicateResourceNamesDifferentTypes is flaky"
See https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11419/istio-unit-tests/20209

[2019-01-30 19:17] kyessenov commented on #11420
/assign @nmittler

[2019-01-30 19:21] jnativio commented on #11400
@clyang82  You are seeing the impact of telemetry in the final throughput basically because all Istio components run in the same worker node in regression patrol. That means that Telemetry (the biggest user of CPU) "steals" CPU cycles from other components, in particular from the Ingress GW.  As said before, Telemetry is not directly in the data path, but in situations like this can impact drastic

[2019-01-30 19:24] jnativio commented on #11400
As for the impact of disabling policy checks, I have made this measurement in the past and there is not much, at least in a small scale environment. We can refresh this measurement, but it would be impractical to add this scenario to regpatrol.

[2019-01-30 19:30] pmoncadaisla commented on #11108
Thanks for the info, we can close this issue then.

It might be good to make it clear in the documentation and also the debug logs, which seem to say that the sec header is being forwarded.

[2019-01-30 19:30] #11108 closed

[2019-01-30 20:12] loewenstein commented on #2197
@nmittler pr for the TCP traffic through egress and Ingress gateway integration test is up https://github.com/istio/istio/pull/11414, if you want to have a look.

It could need an ok to test, although it will currently fail because of https://github.com/istio/istio/issues/9659.

[2019-01-30 20:33] yangminzhu opened #11425 "Pilot is picking DestinationRule randomly but not the most specific one"
**Describe the bug**
The [PushContext.DestinationRule()](https://github.com/istio/istio/blob/eb3cc2fff2be6670e613975cd6679c80e9182bf4/pilot/pkg/model/push_context.go#L491) returns the DestinationRule for a given service. However it's returning a random destination rule.

The function returns early in [line 493](https://github.com/istio/istio/blob/eb3cc2fff2be6670e613975cd6679c80e9182bf4/pilot/pkg/

[2019-01-30 20:39] yangminzhu commented on #11425
Note, this is caused as the `DestinationRule()` is called with a nil `Proxy` from [istio.debug.go](https://github.com/istio/istio/blob/4b7b13aef4afe31fb193bb99e3d375efb82d69e8/pilot/pkg/proxy/envoy/v2/debug.go#L352).

[2019-01-30 20:44] esnible commented on #11125
@linsun if it takes days to find the port conflict we should probably reference https://github.com/istio/istio/issues/9273 which is an issue discussing port conflicts.

[2019-01-30 20:47] esnible commented on #9273
Would it be useful to have a tool to detect the kinds of port conflicts that cause trouble (HTTP and TCP on the same port number usually).

It is straightforward to look for port conflicts.  I have a little script that checks for TCP and HTTP on the same port number.  (Doesn't currently detect Mongo protocol).  Would it help to put this into `istioctl` or some kind of `istio-lint` tool?

[2019-01-30 20:48] nmittler commented on #2197
@loewenstein thanks  - I just took a look and left a  comment.

[2019-01-30 21:05] esnible commented on #11125
Port 9093 isn't just used by mixer, pilot, and galley.

The services using it are istio-system/istio-citadel, istio-system/istio-galley, istio-system/istio-pilot, istio-system/istio-policy, and istio-system/istio-telemetry

[2019-01-30 21:19] rayepudi commented on #10441
can you please share me the configuration to configure the istio as front proxy for a external service present in another server. and the commands to connect to the external service. Thanks

[2019-01-30 21:20] esnible opened #11427 "Eliminate spurious port 15020 warnings from pilot logs"
Pilot frequently logs warnings about port 15020 conflicts.  The logs look like:

[code]

These are the only warnings coming from Pilot and there are a lot of them.  About 1000/day on my tiny cluster.  It makes it difficult to notice any real warnings.

To reproduce (see the warnings), deploy Istio and bookinfo and do

`kubectl -n istio-system logs $(kubectl -n istio-system get pod --selector istio

[2019-01-30 21:23] duderino commented on #11235
@costinm @rshriram @PiotrSikora, any objection to just turning HTTP/1.0 on by default?  Does it have to be exposed to the user or can this just be between Pilot and Envoy?

[2019-01-30 21:36] pjgg commented on #11108
It's a pity because, at the end of the story, you have to do some kind of authorization, based on JWT "sub" or "groups" or other JWT payload field. Some of this validations could be done through istio Rbac or OPA or some other random authz "plugin...or envoy filter“ but when you have to perform a business validation based on ... for example…a userID (JWT sub), then you will end up doing this valid

[2019-01-30 22:01] joberdick commented on #11390
@douglas-reid
I can verify its failing because Kiali is missing graph data. The kiali graph works properly when I remove the destination rule. The --set global.mtls.enabled=true does not seem to make any changes for me. When I switch the flag back and forth in Helm, nothing in my deployment status changes.

ControlPlaneSecuity was not enabled. I added --set global.controlPlaneSecurityEnabled=true

[2019-01-30 22:03] duderino commented on #11235
@philrud will work on this, but I can't assign the bug to him until he becomes a member of the github org

[2019-01-30 22:05] kyessenov commented on #11420
@nmittler Assigned to you since you added the test file. Feel free to re-assign as appropriate.

[2019-01-30 22:20] PiotrSikora commented on #11235
@wattli any context?

@duderino isn't Pilot<>Envoy over gRPC?

[2019-01-30 22:25] hklai opened #11430 "Mixer integration test TestTcpMetric is flaky"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11423/istio-integ-k8s-tests/2757/

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11423/istio-integ-k8s-tests/2768/

[code]

[2019-01-30 22:40] hklai commented on #9876
Yup these tags are getting pushed.

[2019-01-30 22:40] #9876 closed

[2019-01-30 22:41] hklai commented on #9988
@mandarjog I suppose the plan is to replace them with some new perf test suite.

[2019-01-30 22:43] hklai commented on #8783
Prow merges the current head with the PR before running tests. You can check the clone log in the artifacts.
E.g. http://gcsweb.k8s.io/gcs/istio-prow/pr-logs/pull/istio_istio/11423/istio-unit-tests/20219/

[2019-01-30 22:43] #8783 closed

[2019-01-30 23:04] douglas-reid commented on #11390
@liminw or @wattli can you find someone to update docs around control plane security flags and the implications for turning on mTLS (as well as what the meaning of `global.mtls.enabled` is supposed to be now?

[2019-01-30 23:05] costinm commented on #11240
The exposed Service part is not critical for this, listener should still show up in envoy.

I applied the 2 configs from this bug - and in pilot logs I get:

* gateway omitting listener "0.0.0.0_30201" due to: must have more than 0 chains in listener: &v2.Listener{Name:"0.0.0.0_30201", Address:core.Address{Address:(*core.Address_SocketAddress)(0xc003901ae8), XXX_NoUnkeyedLiteral:struct {}{}, XXX_u

[2019-01-30 23:14] costinm commented on #11240
2 changes needed:
- on the gateway host, use '*' ( port matchers don't know about hostnames )
- the important one: the gateway name in VirtualService is just the simple name, not fully qualified.

[code]

[2019-01-30 23:15] costinm commented on #11240
And note that we're in process to changing this a bit, if Sidecar resource is enabled the gateways will probably include the namespace where the gateway is running ( istio-system/httpbin-gateway), and the Gateway resource will need to be applied in the namespace where gateway is running ( istio-system in the default install ).

If Sidecar is missing - we keep current behavior (there is a small sec

[2019-01-30 23:17] costinm commented on #11240
Please reopen if it doesn't work after the changes, we probably need to add more explicit log and validation in galley...

[2019-01-30 23:17] #11240 closed

[2019-01-30 23:20] #11350 closed

[2019-01-30 23:59] mdgreenfield opened #11434 "istio-proxy control plane connection issues when both SDS and control plane security are enabled"
**Describe the bug**
When using SDS in the sidecar injected `istio-proxy` by configuring `.Values.global.sds.enabled` we receive connection errors from `istio-proxy`/Envoy because we also have `controlPlaneSecurityEnabled: true`.

This issue looks to be introduced in https://github.com/istio/istio/commit/0b3bd99657a9528e3d9e4a5c5cb1cccc77b6c890#diff-be47e44182a3c785141d47d28a66f2d7R192. When SDS i

[2019-01-31 00:17] mdgreenfield commented on #11334
It would also be great if one could disable tracing support altogether.

We're interested in integrating with [Datadog tracing APM](https://github.com/istio/istio/issues/6314) but until that is done we have no plans to run zipkin/lightstep and as a result we get unnecessary logging related to zipkin.

[2019-01-31 00:19] hklai opened #11436 "Fix k8s integration test"
For some reason, the integration test jobs using k8s environment keep failing with image pull backoff problem.

Example:
https://k8s-gubernator.appspot.com/build/istio-prow/logs/istio-integ-k8s-tests/2778

And it stays that way even after we increased deployment timeout. (see https://github.com/istio/istio/commit/ce038fe2d60367f10c26a0da1be9e843934182c9)

There are similar problems in presubmit fo

[2019-01-31 00:19] mdgreenfield commented on #11434
/cc @wattli

[2019-01-31 00:46] cmeury opened #11437 "Incomplete integration test in the Out-Of-Process Adapter Walkthrough"
The [Out-Of-Process Adapter Walkthrough](https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough) indicates an integration tests under [Step 6](https://github.com/istio/istio/wiki/Mixer-Out-Of-Process-Adapter-Walkthrough#step-6-write-test-and-validate-your-adapter). I followed the walkthrough and the integration test fails to execute likely due the recent PR https://github.com

[2019-01-31 02:26] yangminzhu opened #11439 "Galley support to fetch JWT public key for Authentication Policy"
**Describe the feature request**
Galley should fetch the JWT public key required by the Authentication Policy and possibly distribute it to Pilot.

See [design doc](https://docs.google.com/document/d/1bMyVHHqbHqx0jsDGmHw_PuXmE-X1TM7Rfcff8T-izZE/edit#heading=h.7zgnj8bwqfld) (Require joining Istio community)

/cc @diemtvu @ayj @ozevren @geeknoid

[2019-01-31 02:42] cmeury commented on #11437
Confirmed, thanks.

[2019-01-31 02:42] #11437 closed

[2019-01-31 02:57] lurenjia528 commented on #10110
so,in the image proxyv2,the binary envoy should use 'istio/proxy' to build ?

[2019-01-31 03:10] clyang82 commented on #11415
@incfly Yes. I just want to limit some namespaces to be managed by Istio instead of all namespaces in my k8s cluster. That is true do not need Pilot/Mixer/Galley to narrow down non-istio managed namespaces.

[2019-01-31 04:13] hzxuzhonghu opened #11441 "Optimize GetIstioServiceAccounts"
Currently we call `GetIstioServiceAccounts` in `buildOutboundClusters` for all services * all proxies.  Which is at least O(n*n).

We can eliminate this by caching ServiceAccounts in push context. And only init it in push context init.

[2019-01-31 05:04] minicats opened #11444 "Set integer seconds for CORS max age"
istio version 1.0.5

This was never set correctly. It should be integer seconds, not Go duration strings (2m5s, etc): https://www.w3.org/TR/cors/#access-control-max-age-response-header

[2019-01-31 06:05] kyessenov commented on #11420
happens on circle https://circleci.com/gh/istio/istio/311979?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-01-31 06:42] piotrmsc commented on #10547
Hey @liminw  thx for the reply :)

I have a question regarding what you have mentioned, according to https://openid.net/specs/openid-connect-core-1_0.html#RotateSigKeys

in this case the verifier is an envoy not pilot, however, envoy has config based on what pilot provides. So with unmatched kid envoy should re-retrieve the keys which currently is missing.

The draft does not mention that the issu

[2019-01-31 06:46] ldemailly commented on #9988
because?

[2019-01-31 08:19] vijaykumark commented on #9273
@esnible Something is better than nothing. It would be good to know if the current configuration is causing problems or not.

[2019-01-31 09:34] ekarlso commented on #9150
@incfly is it ready ?

[2019-01-31 09:34] ekarlso commented on #9150
And what about /metrics or alike?

[2019-01-31 09:59] ronakpandya7 commented on #11262
Hello @ngocson2vn,
Thanks for your reply.

`kubectl scale deployment istio-pilot -n istio-system --replicas=0`

Do this command needs downtime?
Because we have so many applications are working live on istio.

We have 5 replicas running for istio pilot pod.

So can we do it without downtime?

Thanks

[2019-01-31 10:55] mathspanda commented on #11394
You can try with `accessLogFormat: "[%START_TIME%] %REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%\\n"`.

[2019-01-31 12:11] #11334 closed

[2019-01-31 14:09] esnible commented on #9273
@liamawhite `kubectl` doesn't make it easy to see ports.  `kubectl get services --all-namespaces` shows the ports but in a poor order and doesn't look at their name.  I have two scripts; one merely lists all of the ports used by services in port number order.  The other divides each port number into HTTP vs TCP using the port "name" and if it finds both "http-" and non it reports the service name.

[2019-01-31 14:15] suryadu commented on #11400
@clyang82 Istio Performance WG has been working on many optimizations across Istio components many of them targeted for v1.1 (https://docs.google.com/document/d/17PfZkXGpiVk3qAQdnB_ASSIGvnV7ZKwH6RXBN3c8_so/edit). Your issue appears to be caused by application services not getting enough resources to process the transactions. Please try to remove the bottleneck by moving Mixer pods to a separate no

[2019-01-31 14:18] suryadu commented on #11400
We are in the process of preparing a Performance Best Practices guide, Sizing and Capacity planning guide and Istio performance report and we will make this available on istio.io @mandarjog @douglas-reid @clyang82 @iandyh @geeknoid

[2019-01-31 14:53] vadimeisenbergibm commented on #10441
@rayepudi I have added a PR with an example: https://github.com/istio/istio.io/pull/3180

[2019-01-31 14:59] vadimeisenbergibm commented on #10441
@rayepudi Note that the external services will become available from the pods in the mesh as well. If you need to disable access from the pods in the mesh to the external services, add a section to the VirtualServices with the gateway `mesh`, that will route traffic to `127.0.0.1`. This will make the ingress gateway route the traffic to the external services correctly, while the sidecar proxies in

[2019-01-31 15:52] #11444 closed

[2019-01-31 16:26] mmosttler opened #11454 "Prometheus running higher cpu and memory than request."
**Describe the bug**
We are running istio 1.0.5 in gke 1.11.5-gke.5.  We are seeing prometheus running higher cpu and memory than requested.

Should we increase the replicaCount from 1? I don't see any value in the helm template for adjusting requested cpu for just prometheus pod.

**Expected behavior**
cpu and memory within requested size

**Steps to reproduce the bug**
running load of 140 ops fo

[2019-01-31 16:36] marcstreeter commented on #5218
getting the same exact error as @coolboi567

[code]

[2019-01-31 16:58] zhqworld commented on #11394
"\\n" not working either.

[2019-01-31 17:38] costinm commented on #9043
Update: Sidecar is in and if used should solve this problem. Requires that each namespace creates a Sidecar resource and deps to other namespaces are listed. We are starting to test the limits and close the bug once we verified with ~3000 services and ~6000 pods.

[2019-01-31 17:39] costinm commented on #10220
Yes, this solves the issue. We may need few small changes once Nate's PR is in - but not blocking 1.1

[2019-01-31 17:39] #10220 closed

[2019-01-31 17:41] costinm commented on #10288
PR merged - few fields in the API are not implemented and will need to be hidden,  but it should be usable.

e2e and stress test seem to be ok, performance is almost same with non-whitebox ( under 1000 qps - didn't push it to the max yet)

[2019-01-31 17:41] #10288 closed

[2019-01-31 18:01] diemtvu commented on #10053
Sorry, I was unable to get back to this until lately. Good news is, I think I found the issue.

The problem is [`listen_address`](https://docs.datastax.com/en/cassandra/3.0/cassandra/configuration/configCassandra_yaml.html) was set to `POD_IP` (at least for the setup in the [kubernetes tutorial](https://kubernetes.io/docs/tutorials/stateful-application/cassandra/). Because of that, sidecar proxy c

[2019-01-31 18:26] #7675 closed, assigned to nobody

[2019-01-31 18:32] kyessenov commented on #2706
The feature to mutate request headers with external adapters has been implemented.
You can operate on headers in case of success (using rule header operations) and in the case of error (using error details in RPC status).
Please open a new focused issue regarding header sanitizing if there is more work to do.

[2019-01-31 18:32] #2706 closed

[2019-01-31 18:36] diemtvu commented on #10659
FYI, #10053 is not because of statefulset. After change the cassandra listen_address to localhost, everything now work, with or without mTLS.

Afaik, statefulset is working fine as of today (1.0.x, 1.1)

[2019-01-31 18:38] diemtvu commented on #1277
See #10053 for solution.

[2019-01-31 18:43] andraxylia opened #11457 "Envoy deprecation: use of enabled in CorsPolicy"
We have ~ 3 months to address this deprecation:

Use of enabled in CorsPolicy, found in route.proto. Set the filter_enabled field instead.

https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md#version-1100-pending

cc @duderino

[2019-01-31 18:45] andraxylia commented on #10993
We have approx ~3 months to address this deprecation:
https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md#version-1100-pending

cc @duderino

[2019-01-31 18:46] mandarjog commented on #10904
@costinm @munrodg someone needs to do next level of debugging here.
If this is being hit so frequently, we want to make it P0. @jnativio sees this is latest regpatrols.

@ayj does   the latest 1.1 build have mcp enabled by default?

[2019-01-31 18:47] incfly commented on #9150
@ekarlso The last PR is under review. Doc is ready in preliminary release, https://preliminary.istio.io/help/ops/setup/app-health-check/

What do you refer to by `/metrics`?

[2019-01-31 18:48] kyessenov commented on #10993
Fixed by #11419

[2019-01-31 18:51] duderino opened #11458 "Apply Envoy config changes with env var expansion in bootstrap file."
@howardjohn will work on this, but since he's not yet in the github org, assigning to @costinm to proxy.

[2019-01-31 18:55] duderino commented on #11235
More specifically, this is for traffic from the application to the sidecar (aka sidecar capture).

See https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#envoy-api-msg-core-http1protocoloptions - specifically  "accept_http_10"

In the interest of expediency, @costinm will take this on himself.

[2019-01-31 19:34] #11420 closed

[2019-01-31 20:44] ozevren commented on #10023
FWIW, I've ran into a panic when trying to run the agent tests locally:
[code]

[2019-01-31 21:32] PiotrSikora commented on #11235
Yup, sorry, I got confused by "can this just be between Pilot and Envoy", but I see that you only meant that for "hardcoded" config emitted from Pilot (i.e. always set `accept_http_10: true`) and not for HTTP/1.0 traffic between Pilot and Enovy.

[2019-01-31 21:33] ekarlso commented on #9150
Prometheus scraping.

[2019-01-31 23:05] yangminzhu commented on #10547
Previously we do let Envoy to fetch the public key, we switched to let Pilot to fetch and distribute the public key later. There are a couple of reasons for this change, 1) If you have a lot envoy in the cluster, each of them will trigger a unique request to fetch the public key, 2) It implies we have to let the Envoy to be able to access the external Internet but this is often not allowed in some

[2019-01-31 23:39] howardjohn opened #11463 "tools/setup_perf_cluster.sh parsing gcloud options incorrectly"
**Describe the bug**
When running `/tools/setup_perf_cluster.sh`, errors happen on every `gcloud` command:

[code]

**Expected behavior**
The `GCP_OPTS` variable should be quoted correctly to not treat each flag as a single flag, which would make it so that gcloud doesn't treat the project as `"howardjohn-istio --zone=us-east4-b"`

**Steps to reproduce the bug**
[code]

**Version**
Running from co

[2019-02-01 00:34] ozevren opened #11464 "Flake: Galley fssource tests TestDynamicSource"
https://circleci.com/gh/istio/istio/313128?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-02-01 00:42] duderino commented on #10056
Related bug:  https://github.com/istio/istio/issues/11394

[2019-02-01 00:42] duderino commented on #11394
@GregHanson considering you did https://github.com/istio/istio/issues/10056 could you take this one on?

[2019-02-01 00:45] jeffmendoza commented on #11464
#11392

[2019-02-01 00:59] ozevren commented on #11392
Already fixed: https://github.com/istio/istio/pull/11456

[2019-02-01 00:59] #11392 closed

[2019-02-01 00:59] ozevren commented on #11464
This is a different issue than #11392

[2019-02-01 01:19] duderino commented on #8938
@knrc looks like this PR is stuck due to the prow/istio-integ-local-tests.sh failure.

Looks like the same failure for both test runs on this PR:  https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/pull/istio_istio/10854/istio-integ-local-tests/

But other PRs don't have the issue:  https://k8s-gubernator.appspot.com/builds/istio-prow/pr-logs/directory/istio-integ-local-tests

[2019-02-01 01:23] jeffmendoza commented on #11464
Ah ok. I was able to reproduce locally when running many times with -count=xx

[2019-02-01 01:30] iandyh commented on #11400
@suryadu Thanks for your information! In the V1.0, the expected performance of telemetry is 1core per 1000QPS, is this number get improved in the 1.1? Thank you.

[2019-02-01 01:32] mandarjog commented on #9961
1.1 snapshot [performance](https://snapshot.raintank.io/dashboard/snapshot/sfmS6AmUIGdz12RRXq6ymHis03YDl0AB?orgId=2)

[2019-02-01 01:36] mandarjog commented on #11400
This is the [1.1-snapshot.4 performance dashboard](https://snapshot.raintank.io/dashboard/snapshot/jkyC88H4PAIiHHYY6Oa6lY7aVp4gwC0M).
~0.8 core per 1000QPS

[2019-02-01 01:44] knrc commented on #8938
@duderino at first glance they seem to be unrelated to the changes I've added, I'll take a deeper look

[2019-02-01 01:48] knrc commented on #8938
/retest

[2019-02-01 01:57] knrc commented on #8938
@duderino It seems to have been an issue elsewhere, rerunning the test passes

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10854/istio-integ-local-tests/4680

[2019-02-01 02:20] knrc commented on #8938
@duderino It looks as if there are now more files to update in the tests though, I'll rebase and update those as well.  I'll push it up again tomorrow.

[2019-02-01 03:06] jaygorrell commented on #9043
@costinm Can you clarify what "sidecar is in" means here? From context, this sounds really promising though!

[2019-02-01 03:38] kuaiwenwu opened #11467 "When istio opens readiness, connection reset by peer appears？"
**D

Hello, everyone. I have a problem here.

I run in istio service. After opening readiness check, kubectl description found that random IP and random port forwarding could not be detected. It prompted the following errors:

Ps: Enter the total curl of pods and access http://10.244.3.212:8083/sys/actuator/health normally.

**### **_Node3.server Readiness probe failed: Get http://10.244.3.212:808

[2019-02-01 03:58] eason574671212 commented on #11467
Plus: My istio version is 1.0.2

[2019-02-01 04:46] #11409 closed

[2019-02-01 05:30] jotak commented on #11093
BTW, if/when this is fixed, I think if there is a way to discriminate mirrored traffic versus normal traffic in telemetry, that would be even greater. The current situation leads to somewhat inconsistent graph as described by @jmazzitelli , but on the other hand it has the side-effect advantage to somehow illustrate that some mirroring is happening via telemetry, by having discrepancy between sour

[2019-02-01 06:29] ananthunair opened #11470 "Istio telemetry to get service to service latency"
**Describe the feature request**
A telemetry which shows the latency of requests between two services. A request can reach a service(A) from two different services(B and C). A way to show the latency from B to A and C to A.

**Describe alternatives you've considered**
I haven't figured out how to do this in Istio. But we have done it using envoy in current prod setup. The telemetry we is statsd wh

[2019-02-01 06:40] #9470 closed

[2019-02-01 10:08] holgero commented on #9659
This is not only a problem in the test framework, but also in a 'normal' Istio installation (where ingressgateway and egressgateway are both installed in the namespace istio-system). As soon as you start using both the secrets istio-egressgateway-certs AND istio-ingressgateway-certs to supply certificates to the ingress- and egress-gateways, they will start to fail, because their configuration con

[2019-02-01 10:55] jmazzitelli commented on #11093
But there is nothing to say this discrepancy is related to mirrored traffic - reporter="destination" only does not necessarily mean this is mirrored traffic. And note - this discrepancy is ONLY on the first hop. The rest of the mirrored traffic today looks identical to normal traffic - there is no way to tell that reviews-v2 to ratings-v1 is mirrored traffic rather than, say, a normal request init

[2019-02-01 11:33] murarisumit commented on #11457
@andraxylia can I work on it this issue, I'm not well versed with code-base but want to give it a try and figure things out.

[2019-02-01 11:54] StaffanSvensson-playtech commented on #4695
Any new on this sapien99? Looks pretty cool

[2019-02-01 12:18] marcstreeter commented on #5218
For me (using a helm managed setup) I followed these steps:
*more than likely you're passed the sample book application and on to greater things but this helped me who **is** still at this point and was hitting the same error you mentioned above*

Cleared Istio completely out by:

### removing istio helm managed packages
[code]

### removing helm istio repository

[code]

### removing  istio crds

[2019-02-01 12:19] jotak commented on #11093
@jmazzitelli I'm saying this because I actually appreciated this "bug" while demoing traffic shadowing & visualization in Kiali. It's true that I would prefer an explicit mention of "this is mirroring" in telemetry. But to the audience I was able to explain:
"See, i've setup shadowing, from the source point of view there's no traffic - because it's not kind of aware that its requests are duplicate

[2019-02-01 12:32] kilerkarol commented on #10319
the same error on rancher kubernetes
`Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-08-07T23:08:19Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}`

istio version 1.0.5

[2019-02-01 12:35] jmazzitelli commented on #11093
OK, so it's just by coincidence that this bug is sort of helpful. I get it. I would prefer something more of a "feature" though, as you say we need a "good solution" here rather than rely on this bug. Because first of all, you are still kind of guessing ... "well, I think this is mirrored because this source telemetry edge from productpage to reviews is missing." You would have to drill down in Ki

[2019-02-01 12:43] jmazzitelli commented on #11470
@ananthunair have you looked at Kiali and how it visualizes edges? Perhaps that gets you what you want?

[2019-02-01 12:56] jmazzitelli opened #11475 "have telemetry be able to discern mirrored traffic from "normal" traffic"
**Describe the feature request**

Right now there is a bug #11093 that causes a hole in the telemetry when mirroring traffic.

There is a separate discussion (see that bug #11093 for the start of that discussion) involved - and that is, how can Istio indicate that traffic is "mirrored" traffic versus "normal" traffic.

This enhancement request is to ask if Istio could somehow specifically indicate

[2019-02-01 13:42] jmazzitelli commented on #11470
Here's the different edge labels that Kiali shows (using bookinfo as example) in its "versioned app" graph:

![screenshot from 2019-02-01 08-37-15](https://user-images.githubusercontent.com/2029470/52126359-1cb3a680-25fd-11e9-9248-713378c51436.png)

![screenshot from 2019-02-01 08-38-15](https://user-images.githubusercontent.com/2029470/52126360-1cb3a680-25fd-11e9-85b2-be6035fca4b8.png)

![screens

[2019-02-01 13:51] coolboi567 commented on #5218
@marcstreeter I had to do the same. Did a fresh installation after completely removing it. I am sorry that I forgot to tell about it here.

[2019-02-01 14:32] esnible commented on #10500
Issue https://github.com/istio/istio/issues/11397 suggests that Cert Manager will be handled by IngressGateway.  [Design Doc](
https://docs.google.com/document/d/1agtVQADCk32mLwot8iygVGhHcP1Lna7G1Cne4Zwllgg/edit#heading=h.qex63c29z2to)

[2019-02-01 14:40] esnible commented on #11336
Issue https://github.com/istio/istio/issues/11322 and https://github.com/istio/istio/issues/11458 seem related.

[2019-02-01 14:45] themanifold commented on #6071
This is still genuinely a problem, and only the wildcard solution suggested by https://github.com/istio/istio/issues/6071#issuecomment-412453757 helps when you want to setup up a mutual TLS ingress gateway by following this guide: https://istio.io/docs/tasks/traffic-management/secure-ingress/

The guide suggests that you can put in a FQDN in the `hosts` key when you're setting up a https protocol

[2019-02-01 15:07] esnible commented on #11235
Adding the user-experience tag because this greatly confused me when I started Istio.

Our documentation at https://istio.io/docs/setup/kubernetes/quick-start/ says "... HTTP/1.0 is not supported"  If we choose NOT to support 1.0, we should add some documentation that if installing Istio causes "426 Upgrade Required" errors for apps using 1.0.  Users who hit this will do a web search on the error

[2019-02-01 15:10] knrc commented on #11268
FYI this was already under discussion through https://github.com/istio/istio/issues/8938, already in the 1.1 bucket

[2019-02-01 15:11] knrc commented on #8938
@duderino It looks as if this was left hanging for so long because of the discussions that someone decided to do this through another PR, https://github.com/istio/istio/pull/11311 and https://github.com/istio/istio/issues/11268

[2019-02-01 15:23] esnible commented on #11202
The reason _samples/bookinfo/platform/kube/bookinfo.yaml_ has no namespace is so that users can easily deploy to other namespaces.

For example, some Kubernetes environments are locked down so a user only has a particular namespace, not called "default".  I can say `kubectl apply -n esnible -f samples/bookinfo/platform/kube/bookinfo.yaml` to start BookInfo in the `esnible` namespace.

[2019-02-01 15:41] esnible commented on #11132
_samples/httpbin/httpbin.yaml_ includes a Service with the following port definition:

[code]

In Istio, the _name_ of the port is meaningful.  If the name is `http`, or `http-*`, Istio will treat the traffic as HTTP.  Without the special name, it may treat the traffic as TCP.  Can you check your Service definition and see if changing the name affects your deployment?

[2019-02-01 15:55] esnible commented on #11112
503 means "Service Unavailable".  My experience with Istio has been that 503s are usually caused by a problem with TLS, not with Pod IP addresses.  Both your pod and the Ingress must read the mTLS configuration option and certs.  If the pod didn't contact, or if a cert has expired, this can happen.

Run `istioctl authn tls-check` to make sure the pods have the expected TLS settings.

To check the

[2019-02-01 16:06] esnible commented on #11075
Istio seems happiest when applications do plain HTTP and the Envoy sidecar exposes the plain HTTP as HTTPS.  That strategy allows the sidecar to inspect the HTTP traffic and apply Istio's rules and policies for things like weights.

If a container implements HTTPS itself then Envoy must be told not to look into the traffic.  To do that, in the Service, for the Port, give it a name `tcp`, like this

[2019-02-01 16:16] esnible commented on #11056
There is no reserved concept for Istio.

Do you have any VirtualService or Gateway referring to groot-abc.com?

You say you are getting 404s.  I recall an experience I had with a site that did an HTTP 300 redirect from HTTP port to HTTPS port having some difficulty with ServiceEntry.  Check with `curl` to see if that is happening.

[2019-02-01 16:21] esnible commented on #11039
This may be a duplicate of https://github.com/istio/istio/issues/10933 and fixed by https://github.com/istio/istio/pull/11177 .  Can you check again with a more recent 1.1 build?

[2019-02-01 16:35] esnible commented on #10985
@johnma14 Did you have a chance to look at this?  I suspect it would be as easy as modifying _samples/bookinfo/src/productpage/Dockerfile_ and replace `CMD python productpage.py 9080` with something similar to `CMD python productpage.py 9080`touch /opt/microservices/microservice.log && tail -f /opt/microservices/microservice.log && python productpage.py 9080`

[2019-02-01 17:39] douglas-reid commented on #11470
@ananthunair communications in a mesh are actually from workload instance (think: pod) to workload instance. it is possible for a workload instance to provide N services -- with the key bit being that a workload may provide more than 1 service.

In cases where a workload instance provides more than one service, it can be impossible to determine a connection between the service that was called and

[2019-02-01 17:44] douglas-reid commented on #11475
@jmazzitelli will the work to add virtual service and destination rule metadata (which will get converted into attributes) start to help here?

It should enable us to tag traffic (for the first hop, at least) as coming from a particular virtual service.

We'd probably need to expand that metadata to include subset names and/or mirror indications, however.

[2019-02-01 17:44] douglas-reid commented on #11475
/cc @geeknoid @kyessenov @mandarjog

[2019-02-01 17:59] ayj commented on #11045
dup of https://github.com/istio/istio/issues/6324?

[2019-02-01 18:02] ayj commented on #11044
This is something an operator could manage and expose via Istio "install profile" CRD status. That could limit the need to port-forward into the cluster to query individual components.

cc @ostromart

[2019-02-01 18:07] duderino commented on #11436
@nmittler @ozevren @gargnupur please can one person pick this up and unassign the others?

[2019-02-01 18:07] duderino commented on #11430
@gargnupur can you work on this?

[2019-02-01 18:08] duderino commented on #11374
@sdake if you are working on this could you assign yourself?  thanks

[2019-02-01 18:09] gargnupur commented on #11430
@duderino : Yes, I will take a look at this one...

[2019-02-01 18:10] duderino commented on #11172
@ozevren @nmittler @gargnupur could one of you accept this and unassign the other owners?

[2019-02-01 18:11] duderino commented on #11172
nevermind.  thank you Oz

[2019-02-01 18:12] duderino commented on #11032
@hklai is this still an issue?   assigning to you for an answer

[2019-02-01 18:13] linsun commented on #11029
close this due to #11277 merged.

[2019-02-01 18:13] duderino commented on #11030
@sdake says fixed

[2019-02-01 18:13] #11030 closed

[2019-02-01 18:13] #11029 closed

[2019-02-01 18:14] smawson commented on #10989
I think this is still failing, Jimmy can you take a look?

[2019-02-01 18:14] duderino commented on #11026
@hklai assigning back to you to accept or reject

[2019-02-01 18:16] duderino commented on #11022
@howardjohn could you pick this up?

[2019-02-01 18:17] duderino commented on #11021
@linsun will find someone to cover for Iris

[2019-02-01 18:19] duderino commented on #9867
@hklai can you create issues for each issue and link them here?

[2019-02-01 18:20] sdake commented on #11023
Fixed and merged in release-1.1:
https://github.com/istio/istio/pull/11360/files

[2019-02-01 18:20] duderino commented on #9866
@hklai could you create specific issues (one for each related set of failures) and link them here?

[2019-02-01 18:21] nmittler commented on #11436
@gargnupur would you mind taking a look?

[2019-02-01 18:30] esnible commented on #10864
The intended behavior of Istio is for this to work without any changes.

Perhaps there is something about your environment that is unusual.  To troubleshoot this, try `kubectl logs <pod> -c istio-proxy`.  Look for warnings and errors.  Try this both on a pod in deployment A and deployment B.

A second troubleshooting check is to see where communication breaks.

- make sure B sidecar can talk to B

[2019-02-01 18:38] mandarjog commented on #7696
@ozevren This issue is of stateful validation, referential integrity.

If a yaml file submits "A, B and C" subdocuments where C depends on B and B depends on A. In that case the validator should remember what it has recently validated because the next validation call based on previous can come in *before* the previous doc is fully committed to the API server.
We decided that this was not needed at

[2019-02-01 18:38] #7696 closed

[2019-02-01 18:39] ozevren commented on #7696
No, there is no support for referential integrity. Should we keep the bug open to remove the test then?

[2019-02-01 18:39] howardjohn commented on #11022
Sure, I'll start working on this

[2019-02-01 18:41] jshaughn commented on #11475
I'm not sure how important it is to be able to identify downstream traffic that started due to a mirrored request.  That borders on tracing.

What makes Istio telemetry tough to represent is that a single request is sometimes found only in source telemetry (failed requests that does not make it to a workload), sometimes only in dest telemetry (istio-system traffic, unknown traffic, this intial mir

[2019-02-01 18:47] sdake commented on #11358
This issue can be closed as the master and release-1.1 cherrypick have merged.

[2019-02-01 18:50] esnible commented on #10847
I attempted to look into this.

I got a lot further with

[code]

By saying the connection is TCP, Istio doesn't look into it.

When I tried it your way I got

[code]

from the Envoy logs when I raised them to DEBUG level.  @vadimeisenbergibm can you shed light on why @mabushey 's rule does not work?

[2019-02-01 18:51] hklai opened #11480 "e2e-simple istio-security-test timeout"
Examples:
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11468/e2e-simpleTests/16937
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11468/e2e-simpleTests/16941

[code]

[2019-02-01 18:52] hklai commented on #9866
simpleTests has improved after recent fixes.
https://github.com/istio/istio/pull/11408
https://github.com/istio/istio/pull/11356

Filed https://github.com/istio/istio/issues/11480 for the most recent one I found in presubmit, and updated this issue description.

[2019-02-01 18:56] hklai commented on #11032
These are "fixed" by reducing parallelism to 1 by #11116.

[2019-02-01 18:56] #11032 closed

[2019-02-01 18:59] hklai commented on #11026
This has not happened for over a week according to testgrid. Closing for now.

[2019-02-01 18:59] #11026 closed

[2019-02-01 19:01] sdake commented on #11269
@hklai requested I re-cherypick for 1.1.  That work is here: https://github.com/istio/istio/pull/11481

[2019-02-01 19:02] bianpengyuan commented on #4794
PR is checking in, I am going to observe how it runs on prow and debug as necessary.

[2019-02-01 19:17] ozevren commented on #10989
Can you add more details, and open another bug? We can disable the test to reduce overall flakes, but let's try to understand what the root cause is. What was causing the pods to be in the pending state? Did you check their status to see what might be going wrong?

[2019-02-01 19:17] esnible commented on #10796
See also https://github.com/istio/istio.io/issues/3191

[2019-02-01 19:19] linsun commented on #11394
@GregHanson pointed me to https://github.com/istio/istio/pull/11449

[2019-02-01 19:34] esnible commented on #10633
Should we revise the docs to explain what should be done when encountering this error installing from a local fork or daily?

When I get this error I know to run `helm dependency update install/kubernetes/helm/istio` but I am not sure why I do this.  I have just always done it.

[2019-02-01 19:34] sapien99 commented on #4695
Hey StaffanSvensson-playtech, unfortunately had a busy start in the new year. Still working on understanding how to do the build with the istio core and doing testcoverage.

In the meantime i can post an envoyfilter providing the same functionality but using a configmap (to store its configuration) and a secret (to store the htpasswd files) if it helps. Load-tested with 10k req/s in our company. I

[2019-02-01 19:41] esnible commented on #10586
Is this a duplicate of one of the StatefulSet issues linked with https://github.com/istio/istio/issues/10659 ?

[2019-02-01 19:43] hklai commented on #9867
There are some occasional flakes like https://gubernator.k8s.io/build/istio-prow/logs/istio-pilot-e2e-envoyv2-v1alpha3/14810, but relatively rare.

Closing this for now.

[2019-02-01 19:43] #9867 closed

[2019-02-01 19:44] #11358 closed

[2019-02-01 19:46] JimmyCYJ opened #11482 "Test istio.io/istio/galley/pkg/server TestServer_Basic is flaky"
**Describe the bug**
Test istio.io/istio/galley/pkg/server TestServer_Basic consistently fail.
For example,
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11481/istio-unit-tests/20385
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11479/istio-unit-tests/20383

[2019-02-01 19:46] JimmyCYJ commented on #11482
cc @hklai

[2019-02-01 19:49] esnible commented on #10568
I have not used Docker for Windows.  When you say "I had exposed my service via port 5000." I assume you are exposing your service as a NodePort.  I am not sure how this will work in Docker for Windows.

Istio is mostly about service-to-service, or IngressGateway to service.  You might try following the https://github.com/istio/istio/tree/master/samples/sleep example to see if you can create anoth

[2019-02-01 19:59] kyessenov commented on #11482
Yeap, more flakes:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11469/istio-unit-tests/20388

[2019-02-01 20:05] liminw commented on #11108
@pjgg The entire JWT token is forwarded to the application. You do not need to validate it again because Istio proxy has already done it. You can directly use the claims in JWT payload for authorization purpose.

[2019-02-01 20:07] hklai commented on #11482
Another example
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11481/istio-unit-tests/20392

[2019-02-01 20:57] kyessenov commented on #11482
This test fails consistently. We need to either fix it or disable it, or nothing will get merged.

[2019-02-01 22:07] howardjohn commented on #11022
There [hasn't been any failures](https://testgrid.k8s.io/istio-postsubmits#unit-tests&include-filter-by-regex=TestEnvoyRDSProtocolError&width=5) since the issue was created and I haven't been able to reproduce the failure so I don't think there is any action needed here. It looks like the failure was originally caused by a timeout.

[2019-02-01 22:41] douglas-reid opened #11487 "FR: Add Zipkin compatible tracing adapter for Mixer"
**Describe the feature request**
When the tracespan template was added to Istio, the desire was to provide multiple integrations allowing users to select between a wide variety of tracing backends and maintaining fine-grained operator control over how those spans were generated and distributed.  While the code for an adapter for Zipkin compatible backends has existed in various prototype forms for

[2019-02-01 23:01] kyessenov commented on #10845
Fixed by https://github.com/istio/istio/pull/10886

[2019-02-01 23:01] #10845 closed

[2019-02-01 23:45] therealmitchconnors opened #11488 "istioctl tries to exec into dead pilots"
**Describe the bug**
The istioctl proxy-status command is supposed to exec pilot-discovery request from within the pilot pod, but when pilot has suffered evictions, it will target the evicted pod, rather than the live one.

**Expected behavior**
successful istioctl proxy-status output

**Actual behavior**
Error: error execing into istio-pilot-6d66894dd4-26tjr/istio-system discovery container: unab

[2019-02-02 00:59] louiscryan commented on #10832
@PiotrSikora this sounds familiar, any ideas?

[2019-02-02 01:02] mandarjog commented on #8374
This is an issue, because pilot does not recover from the problem.
It may be solved in 1.1 since that code has changed.

[2019-02-02 01:12] mandarjog commented on #8595
@costinm @munrodg what is the situation for this issue in 1.1

[2019-02-02 01:28] ayj opened #11489 "Add additional tests and benchmarks for MCP stack"

[2019-02-02 01:35] esnible commented on #10429
The code to validate Istio CRDs is present in `istioctl` but it is only executed as part of `istioctl create`.  (There is an `istioctl validate` but it does something different).

It should be straightforward to add a `--dry-run=true` flag to allow `kubectl create` to be used to validate .yaml.

[2019-02-02 01:37] esnible commented on #10422
@purushothamgk can you attach a version of _private.yaml_ that demonstrates this?

I have seen this message before, usually because of tabs in the yaml file.  It might also be useful to paste the message you get when you pass the same file to `kubectl apply -f private.yaml --dry-run=true` to see what the message looks like there.

[2019-02-02 02:58] esnible commented on #9993
Issue https://github.com/istio/istio/issues/10716 may cover the same issue; problems communicating with MySQL.

[2019-02-02 05:16] VenkateshSrini commented on #10568
@esnible,
Thanks for your suggestion. If you could see the Sevice yaml file definition, you can see that I have used LoadBalancer. Before injecting the envoy side car (the yaml file generated by Istioctl) I'm able to access the service without any issues. But after creating the side car + service deployment the service became inaccessible, which I think is because the virtual gateway and virtual s

[2019-02-02 10:42] loewenstein commented on #10288
@costinm care to link the merged PR?

[2019-02-02 12:52] ichasco opened #11491 "Can't open Kiali Dashboard. Too many redirects"
**Describe the bug**
Can't connect to kiali web dashboard. With Istio 1.0.5 I have no problem.

The error is: too many redirects.

kiali/
kiali
kiali/
kiali
kiali/
kiali

**Expected behavior**
Exec: `kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=kiali -o jsonpath='{.items[0].metadata.name}') 20001:20001`
And connect to: http://127.0.0.1/kiali

**Steps to reproduce t

[2019-02-02 13:36] linsun commented on #11491
Try without /kiali just the 127.0.0.1:20001

I hit this too think it is just a doc issue.

[2019-02-02 14:01] esnible commented on #9894
Where do you see the message?  In the response to `kubectl create`?  Or in a log?

I had no difficulty with `kubectl create` using Istio 1.1 daily build.

[2019-02-02 14:41] esnible commented on #9806
The application container and the istio-proxy container MUST have the same address.

For Istio to work properly the app container (your HANA database) must accept localhost connections.  I am not familiar with your database but I have used other database middleware with Istio.

`kubectl exec -it <pod> bash` to get into your container.  Once in, test it in the usual way for the service it offers, f

[2019-02-02 14:45] jmazzitelli commented on #11491
Yes, this was a known issue and has been fixed in later versions. See:

https://github.com/kiali/kiali/pull/774
https://issues.jboss.org/browse/KIALI-2188 (though JIRA seems to be down at the moment I am writing this)

Workaround for older Kiali releases - just go to `/kiali/console` directly and it will work.

[2019-02-02 14:45] #11491 closed

[2019-02-02 14:45] esnible commented on #9785
This may not be a problem with weights but a general problem with your application or your mesh.

This error is usually associated with HTTP 503 response codes and with mutual TLS (mTLS) mismatches.  Can you run `istioctl authn tls-check` and see if there are `CONFLICT`s?

[2019-02-02 14:54] esnible commented on #9729
This should be simple, adding `shortNames` entries to _install/kubernetes/helm/istio-init/files/crd-10.yaml_

[2019-02-02 14:57] esnible commented on #9683
Programs interact with Istio via Kubernetes APIs.  Would something like https://github.com/kubernetes-client/java accomplish your goals?

[2019-02-02 14:59] esnible commented on #9661
Closing as duplicate of https://github.com/istio/istio/issues/9683

[2019-02-02 14:59] #9661 closed

[2019-02-02 15:01] esnible commented on #9635
https://hub.docker.com/r/tutum/curl is still there.

[2019-02-02 15:04] esnible commented on #9630
HTTP headers are case insensitive.  https://stackoverflow.com/questions/5258977/are-http-headers-case-sensitive

Perhaps it would make more sense to preserve what clients supply, but it is non-spec and servers shouldn't expect a particular case.

[2019-02-02 15:06] esnible commented on #11135
Closing as duplicate of https://github.com/istio/istio/issues/9597

[2019-02-02 15:06] #11135 closed

[2019-02-02 15:13] esnible commented on #9477
Have you tried defining your ServiceEntry with the sourceLabels feature of https://istio.io/docs/reference/config/istio.networking.v1alpha3/#HTTPMatchRequest ?  You should be able to specify that only pods with a particular set of labels may use the ServiceEntry.

[2019-02-02 15:15] #9460 closed

[2019-02-02 15:17] esnible commented on #11130
This may be a duplicate of https://github.com/istio/istio/issues/9454

[2019-02-02 15:18] esnible commented on #9454
A work around until this functionality is implemented.  Put the following into your .yaml:

[code]

[2019-02-02 15:59] esnible commented on #9116
Envoy supports controlling the log level by component and by level.  The command line arguments are `--log-level` and `--component-log-level` as documented at https://www.envoyproxy.io/docs/envoy/latest/operations/cli .  Istio currently does not offer a way to change the defaults using these options.

Envoy's log level can be controlled dynamically.  When I need more logging from Envoy I typically

[2019-02-02 16:05] esnible commented on #9048
You asked "Why is it pod'IP(10.244.1.198) from B’tcpdump, not service'ip(10.96.185.4)?".  The reason is that Envoy has been configured to know all of the endpoints of a service and to invoke those endpoints directly, not via the Kubernetes service IP.  This allows Istio pods to control traffic, for example only to pods with certain labels.

[2019-02-02 16:07] esnible commented on #9030
Issue https://github.com/istio/istio/issues/11397 seems related.

[2019-02-02 16:33] esnible commented on #8887
I fixed the link.

[2019-02-02 16:33] #8887 closed

[2019-02-02 16:38] esnible commented on #8833
Have you tried setting `Resolution` to DNS?  See https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-Resolution

[2019-02-02 18:00] myidpt commented on #9030
@JimmyCYJ is able to help.

[2019-02-02 19:33] tomkerkhove commented on #9635
That's odd.

Given I'm not using this sample anymore I will just close this.

[2019-02-02 19:33] #9635 closed

[2019-02-02 19:37] esnible commented on #8585
Tagging as UX because the error message is not comprehensible when it appears on the command line.

The message comes from _pilot/pkg/model/validation.go_.  A better message would be `sniHost "..." is not a subset of any of the hosts "h1", "h2", ...`  There isn't enough information in the current message to understand what has gone wrong.

[2019-02-02 19:43] esnible commented on #8545
`kubectl get quota --all-namespaces` is working for me in daily build `release-1.1-20190108-09-15`.  May I close this?

[2019-02-03 00:43] supereagle commented on #10659
Does this method also work for other statefulset applications, like Zookeeper?

[2019-02-03 00:57] esnible commented on #7664
@ronakpandya7 sftp just uses SSH.  By default it uses port 22 but it looks like you are using port 5012.

Here is a script I use to talk to github using HTTPS or SSH so that I can do `git clone` etc.  Perhaps you can modify it to talk to your backup site using port 5012.

[code]

[2019-02-03 01:15] esnible commented on #9466
Is this a duplicate of https://github.com/istio/istio/issues/6508 ?

[2019-02-03 01:34] esnible commented on #11130
This may be a duplicate of https://github.com/istio/istio/issues/4341

[2019-02-03 01:39] esnible commented on #576
https://github.com/istio/istio/issues/10725 is an example of an issue caused by the inability to test Mac istioctl builds.

[2019-02-03 05:41] PiotrSikora opened #11494 "Sidecars in PERMISSIVE mode should use mTLS within Istio cluster."
The intention behind the `PERMISSIVE` mode was to allow legacy clients to connect to an otherwise mutually-authenticated Istio cluster. Basically, a `STRICT` mode that also accepts clients without mTLS during transition from the legacy infrastructure.

However, it seems that the current implementation of the `PERMISSIVE` mode implements only the first part (accepting both: legacy and mTLS traffic

[2019-02-03 06:11] PiotrSikora commented on #10832
The `PERMISSIVE` mode (TLS/no-TLS detection) is implemented using TLS Inspector, which peeks at the first few bytes transmitted from the client, and everything else (including connection to upstream) is delayed until those first few bytes arrive and we can detect whether the connection is using TLS or not. If nothing arrives, then the connection is terminated after 15s.

However, this should only

[2019-02-03 06:15] myidpt opened #11495 "Add an option to avoid Pilot Agent restarting due to the required key/cert files do not exist."
**Describe the feature request**
Add an option to avoid Pilot Agent restarting every 5 min when the required key/cert files do not exist. We should add a flag to Pilot Agent to block the Envoy starting process on waiting for the key/cert files.

**Describe alternatives you've considered**
Have Pilot agent never restart when Envoy continuously fails to start. This may cause Pilot agent blocked and

[2019-02-03 06:16] PiotrSikora commented on #10533
Note: Migration to filter chains will require split to separate inbound/outbound listeners (see: #6259), since we need to have different listener filters in both cases (notably, we need TLS Inspector in the inbound listener for the `PERMISSIVE` mode, but we cannot have in the outbound listener).

[2019-02-03 16:06] ZackButcher commented on #6706
@FierceElements what Gateways do you have defined? You'll need to write a Gateway targeting the `istio: ingressgateway` deployment which configures ports 80 and 443. [The example in the reference docs does this.](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Gateway)

That _should_ work; if not, it's probably a bug where we're wiring up Gateway listeners as virtual rather than

[2019-02-03 19:32] sdake commented on #11269
Closing: https://github.com/istio/istio/pull/11481 merged.  e2e simpletest should be rock solid.now.

[2019-02-03 19:32] #11269 closed

[2019-02-03 19:57] sdake commented on #11374
@duderino I would defer this until after 1.1 is released.  I simply ran through initial debugging.  This gate flake is fairly rare - I couldn't duplicate it and submitted about 20 test PR revisions to regenerate it.

Expanding more, a bigger problem exists in that the docker images are based upon a deprecated (read: non-updatable) container image (Ubuntu 14.04).

My solution would be to change cir

[2019-02-03 20:35] sdake commented on #10971
Thanks @esnible.  I am aware of this limitation with Kuberentes.  I am not sure what can be done about it, other than documenting that the host may only have at most 4 domains in it's /etc/resolv.conf file.  I can submit the documentation change to the istio.io repository.  Can you file an issue with upstream Kubernetes such that Kubernetes doesn't silently ignore the podSpec or alternatively prov

[2019-02-03 20:38] sdake commented on #10971
Quick update.  2 pilot `OWNERS` (@ymesika @hzxuzhonghu) have provided preliminary lgtms once I fix up two nits.  @rshriram has given the work a review, and pointied out a couple of problems in addition which are nearly resolved.  This work is very close to mergeable and has undergone pretty intense scrutiny compared to other reviews I've submitted for work (alot of people want this bug fixed).

Th

[2019-02-03 23:05] sdake commented on #11362
@ostromart I'd think a kubernetes bug would be more appropriate here.  Unfortunately I filed this a week ago, and can't remember what happened 12 hours ago :)

The steps I recorded in the issue tracker were from memory - not an actual reproduction.  I thought that was better than no steps at all.

To reproduce will probably require varying the steps a bit or adding new ones to get it to reproduce.

[2019-02-03 23:07] sdake commented on #11362
Additional information: this problem was discovered while running with this PR (iirc): https://github.com/istio/istio/issues/11316

It is entirely possible I manually injected istio-init manifest, but frankly I don't remember.

[2019-02-03 23:10] sdake commented on #10317
@jmazzitelli sounds good.  I'll close this issue.

Thanks for the work!

[2019-02-03 23:10] #10317 closed

[2019-02-03 23:17] sdake commented on #11295
@mandarjog need more information if I am to take a look.

[2019-02-03 23:51] sdake commented on #9685
@smawson this fell off my radar.  I suspect, but can't prove, these problems are fixed by:

@duderino see below:

https://github.com/istio/istio/issues/11269 specifically PR: https://github.com/istio/istio/pull/11481

This synchronizes CRD creation with the installation of the manifests.  I believe but can't prove the issue in this tracker occurs because custom resources are not applied (because t

[2019-02-04 00:30] sdake commented on #10956
@linsun I am not an attorney, however, I have seen past large scale ASL2 projects that require permissive licenses permit the usage of a COPYLEFT license (such as GPL) for gating, but not for runtime.  Also depends on GPLv2 vs GPLv3.

I'd run it by the legal counsel - every company has a different interpretation of the GPL (and vastly different interpretations of GPLv3 specifically).

Cheers
-stev

[2019-02-04 00:31] sdake commented on #10956
fwiw, I am a big fan of linting 👍

[2019-02-04 02:36] vadimeisenbergibm commented on #10441
@rayepudi I have updated the PR to block the access to external services from inside the mesh, only access from the ingress gateway is allowed.

[2019-02-04 05:06] shashankn91 opened #11498 "Web-sockets upgrade not working in alphav3"
**Describe the bug**
Prefix matching rules to upgrade the connection to web sockets are applied(kubctl apply) . When a request is made to WebSocket URL 404 occurs . It was observed that the rules are not seen in the envoy routes(istioctl proxy-config routes).

**Expected behavior**
For URI's filtered Web sockets must be working.

**Steps to reproduce the bug**
apply the Virtual Service rules and y

[2019-02-04 05:58] ananthunair commented on #11470
@douglas-reid  Our workloads provide different services not one.
In our current envoy proxy setup(prod).
We have say 3 service a, b and c with default 10 pods each(theoritically). Each pods envoy sidecar config(statsd component)is customized with
[code]
(prefix differs from workload to workload depending on service)

And when we get the metrics from service a to b `eg:- upstream_rq_2xx` it will lo

[2019-02-04 06:29] ymesika opened #11499 "Istio-remote Helm chart error"
Trying to create a deployable YAML from the `istio-remote` helm chart results in:

[code]

Probably due to #11330

cc @rvennam

[2019-02-04 06:31] dicarlo2 commented on #11037
@tiswanso looks like you did most of the istio-cni implementation, can you take a look at this issue and give your thoughts? FWIW - I might be totally off-base here, but afaict this is a valid problem.

[2019-02-04 07:03] dicarlo2 commented on #11037
https://github.com/sabre1041/istio-pod-network-controller solves issue 2/ by running an init container that waits for the pod to be annotated that it's ready to start by the cni plugin.

[2019-02-04 07:10] ananthunair commented on #11470
@ jmazzitelli  just an update, kiali does show the metric, but grafana we can set alerts and thresholds which is something that is required. But kiali is a bit helpful. Thanks for pointing it out.

[2019-02-04 07:34] ymesika commented on #11498
Websocket upgrade should be enabled by default.
Can you try the same configuration after removing the `websocketUpgrade: true` entries from the routes?

[2019-02-04 09:20] shashankn91 commented on #11498
I did remove the websocketUpgrade:true . I am still having the same issue.
Below is the configuration for route.
[code]

Registration of web sockets URL

[code]

Log which says 404 when open socket connetion request is sent.
`27.59.80.71 - - [04/Feb/2019:09:15:56 +0000] "GET /replenishment/33b4a605-c72d-4837-8df4-ab2d5f5c807e HTTP/1.1" 404 282 "-" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_2) A

[2019-02-04 10:49] Sheshagiri commented on #9785
@esnible thank you for letting me know. I don't have the setup any more. I tried the sample book info app and that seem to be working as expected. I'll close this for now and come back if this happens again.

[2019-02-04 10:49] #9785 closed

[2019-02-04 12:22] lucasponce commented on #9504
I confirm the workaround.
On my example, I used a internal workload to invoke some services within the namespace but without exposing a service.

[2019-02-04 12:45] bitencars commented on #6383
Hey guys,
I can't download the Istio (1.0.5) last version. I have the same problem... Download doesn't start!!!

[2019-02-04 13:50] esnible opened #11504 "Provide examples of external services"
This Issue for creating a few examples of ServiceEntries for accessing external services.

I found work items https://github.com/istio/istio/issues/10847 and https://github.com/istio/istio/issues/7664 which seem to show users have difficulty writing ServiceEntries.  I propose we supply some service entries examples in _samples/external_

I tried to create sample service entries for Github and Pypi

[2019-02-04 13:51] esnible commented on #11504
*INCORRECT SECOND VERSIONS*

[code]

and

[code]

[2019-02-04 13:52] Shal10 opened #11505 "Issue while non-istio TCP service to communicate to another as 'certificate is not valid for any names, wanted to match {service name}'"
I have hyperledger fabric network setup on multiple kubernetes clusters. Facing error when creating channel from the peer as **certificate not valid for any names, wanted to match orderer.xxx.xxx**.

More information about the issue which might be helpful:
- In this case, orderer and peer are sitting on two different kubernetes clusters.
- Istio on orderer cluster is setup without mutual TLS.

Any

[2019-02-04 14:13] rshriram commented on #11058
fixed by #11153 and #11387
@boazjohn in 1.1, you can set a global default export setting in the mesh config (defaultServiceExportTo, defaultVirtualServiceExportTo, defaultDestinationRuleExportTo) to '.' (for namespace local visibility) or '*' for global visibility.

You can also set the exportTo field in a virtualService or ServiceEntry to . or * for a more fine grained control over whether the se

[2019-02-04 14:13] #11058 closed

[2019-02-04 14:16] #10467 closed

[2019-02-04 14:17] rshriram commented on #8938
fixed by #11311

[2019-02-04 14:17] #8938 closed

[2019-02-04 15:18] tiswanso commented on #11037
@dicarlo2 -- Thanks for the analysis.  Which container runtime is your setup using?  Also, is any k8s or calico network policy being applied to these pods as well?

The container runtime should be invoking each CNI plugin binary in the order it appears in the configuration and the istio-cni install script (run by the istio-cni daemonset) should be applying the istio-cni plugin configuration at the

[2019-02-04 15:19] joubertredrat commented on #9332
Same issue here.
[code]

If I remove istio, disable sidecar injeciton or remove `ResourceQuota` from namespace, deployment works.

[2019-02-04 15:24] tiswanso commented on #11037
@dicarlo2   -- In my previous comment, I think I may have misunderstood the issue.  Looking at https://github.com/istio/cni/issues/82, the issue is that the CNI plugin configuration is not applied properly to the nodes, right?  I read this issue as you seeing an issue where calico and istio-cni are incompatible when both are trying to network the same Istio user pods.

Will take my follow-ups to t

[2019-02-04 15:35] vadimeisenbergibm commented on #11504
There are three kinds of configuration for external services: HTTP, TLS and TCP. For HTTP and TLS, the host must be specified, for TCP the IP ranges must be specified.

Documentation:
* for HTTP and TLS https://preliminary.istio.io/docs/tasks/traffic-management/egress/
* for TCP https://preliminary.istio.io/blog/2018/egress-tcp/#mesh-external-service-entry-for-an-external-mysql-instance

So, the c

[2019-02-04 16:09] skalinets commented on #11121
@musicformellons does it work for you when there is more than one replica in the replicaset? For me it works out of the box when replicas:1, but does not, when that number is higher.

[2019-02-04 16:25] musicformellons commented on #11121
Not tried yet... I have one replica...

[2019-02-04 17:02] dankirkpatrick opened #11509 "IngressGateway only respects first port 443 Gateway definition"
tldr: With v1.0.5, the IngressGateway only listens to the hosts provided in the first Gateway definition provided to the server.

Longer version:  I have setup the IngressGateway with a loadbalancer and a wildcard DNS entry (say, for "*.example.com").  I am trying to create 2 services/gateways/virtualservices that listen on ports 80 and 443.  For port 443, both gateways share the same wildcard TLS

[2019-02-04 17:11] iftachsc commented on #6388
hitting the same. i can access the service from http services inside the name space. but get 503 from the ingress gateway. istictl shows the gateway is fully synced and has the clusters entries.

[2019-02-04 17:29] fbcbarbosa opened #11510 "VirtualService "Only unique values for domains are permitted" error when bound to gateway"
**Describe the bug**

I've configured two different virtualservices (let's call them svcC and svcA) with the same host. Although this should be supported [since 1.01](https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host) if the services are bound to a gateway, Pilot immediately started to log _thousands_ of errors, like t

[2019-02-04 17:33] douglas-reid commented on #11470
@ananthunair are you manually configuring your proxies now?  are all of your services that run on a single workload running a different port?  how are you identifying the service of the source in traffic?

[2019-02-04 17:55] nahidupa commented on #9783
I'm having this issue as well, Anyone know any alternative bypass, This almost block me going forward with istio.

[2019-02-04 18:45] sdake commented on #10971
@rshriram asked me to split the PR for this defect into two discrete pieces of work.  The first (injection) is in PR: https://github.com/istio/istio/pull/11512  The second is in PR:

[2019-02-04 18:56] #11499 closed, assigned to ymesika

[2019-02-04 18:57] spikecurtis commented on #11037
Felix does some follow up actions to make sure pod virtual interfaces are configured correctly, but it doesn't  modify anything inside the pod's network namespace.

What we need is a reliable mechanism to keep Kubernetes from scheduling pods on the newly created node until all the CNI plug-ins are installed and ready.  I think Kubernetes knows it can't schedule pods until a CNI plug in is availabl

[2019-02-04 19:13] wattli commented on #11494
We do have a design https://docs.google.com/document/d/1yEMDRO2FZCyZnDK1AzNmjQtbtQqE7wN8YoM65FAH7uA/edit#, but this got deprioritized.

[2019-02-04 19:21] FierceElements commented on #6706
@ZackButcher, thanks for the follow up. We are indeed using Gateways that have `istio: ingressgateway` selectors and also VirtualServices that reference the Gateways. This works fine while the ingressgateway pods are listening on port 80, but ingress stops working when the port 80 listeners are dropped.

I did also verify that I needed to first define a Gateway for port 443 before the ingressgatew

[2019-02-04 19:31] stormasm opened #11514 "Daily Charts throwing message "Unable to recognize istio.yaml""
When I am testing daily chart releases how should I communicate my findings
to the test and release team ?

Should I continue to file an issue on Github ?

_I am pretty sure these messages that get thrown are not affecting the running
processes but I believe they should be cleaned up as a new user might think there is
an actual problem_

These 2 documented commands work fine

[code]
This command t

[2019-02-04 20:00] Bessonov commented on #8615
Hey stale bot, it is fixed? (:

[2019-02-04 20:29] yangminzhu opened #11516 "[Authz v2] Support basic fields update in ServiceRole/ServiceRoleBinding"
**Describe the feature request**
- Support notPaths, notMethods, notPorts, hosts/notHosts in ServiceRole
- Support notUsers, groups/notGroups (Deprecate the current group field), namespaces/notNamespaces, notIps in ServiceRoleBinding

@pitlv2109 will work on this. I cannot assign this to Phillip as he is not in the Istio group yet, so assign to myself as a placeholder.

**Additional context**
[Ist

[2019-02-04 20:40] pitlv2109 commented on #11516
Thanks Yangmin!

[2019-02-04 21:50] sdake commented on #9951
@linsun I thought this has merged.  If so, can you close?

Cheers
-steve

[2019-02-04 21:51] sdake commented on #9951
(accidentally clicked wrong button, reopened - but I'll leave you to it)

[2019-02-04 21:53] sdake commented on #11316
PR ready for merging for a few weeks.

Can someone take a look?
https://github.com/istio/istio/pull/11363

https://github.com/istio/istio/pull/11317

Cheers
-steve

[2019-02-04 22:01] Bessonov commented on #9783
It's even worse for me. I get only two headers `access-control-allow-origin` and `access-control-allow-credentials`. The others headers for methods and custom headers are not returned at all.

[2019-02-04 23:58] bussyjd commented on #10062
I have been affected by this with istio version 1.0.5

[code]

Did indeed fix it

[2019-02-05 01:00] dicarlo2 commented on #11037
I'm going to go ahead and close this issue so we can keep the discussion in one place. Will respond to above comments in https://github.com/istio/cni/issues/82

[2019-02-05 01:00] #11037 closed

[2019-02-05 01:22] costinm opened #11520 "Listeners not pushed to gateway due to timing issue"
What seems to be happening:
- pod restarts
- envoy connects to pilot very fast - pilot doesn't yet see the endpoint IP in the service
- pilot assumes there is no listeners, sends config with zero listeners ( as expected for a non-service)
- pilot eventually gets the endpoint
- pilot sends an incremental EDS for the endpoint

This is not very common because typically workloads start slower than api

[2019-02-05 01:57] andraxylia commented on #10993
thanks @kyessenov

[2019-02-05 01:57] #10993 closed

[2019-02-05 02:13] fredmtyro commented on #10565
Some initial proposed changes for moving to points + lines are here: https://github.com/fredmtyro/istio/tree/make_dashboards_with_nulls_clearer

![screen shot 2019-02-05 at 1 12 01 pm](https://user-images.githubusercontent.com/40345281/52249542-ce2d4180-2947-11e9-9fa7-1c1542c45c8d.png)

[2019-02-05 03:04] sdake commented on #11374
another occurrence found during reviews: https://circleci.com/gh/istio/istio/312265?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-02-05 04:31] wattli commented on #10832
@Will2817 @dotLou , to clarify, do you guys have sidecar installed on client side?

[2019-02-05 04:44] wattli commented on #10832
This sounds like an Envoy issue since any Envoy with permissive mode will have this problem, right?

This is not exactly true, sidecars are NOT suppose to communicate with each other using mTLS in PERMISSIVE mode. We use it not only for legacy clients, but also for sidecar-enabled clients migration from http to mTLS (not all customers want to enable mTLS at the first place)

[2019-02-05 04:52] wattli commented on #11494
We had discussions with @louiscryan on this last quarter. And the conclusion is as follows:
sidecars are NOT suppose to always communicate with each other using mTLS in PERMISSIVE mode. A service with PERMISSIVE mode only means it can take both http and mTLS (that's why it is called 'PERMISSIVE'). We use it not only for legacy clients, but also for sidecar-enabled clients migration from http to mT

[2019-02-05 05:02] wattli commented on #10832
Just curious, why this problem will be gone if sidecars communicate with each other using mTLS in 'PERMISSIVE' mode? If the client opens an connection and wait for server to send the first packet like NATS, would the problem be the same?

[2019-02-05 06:17] kuzaxak commented on #10770
@wjwinner

You can add gzip filter to the gateway.

[code]

[2019-02-05 13:13] StaffanSvensson-playtech commented on #4695
@sapien99 That would be amazing if you could :) 👍

[2019-02-05 13:45] eigokor commented on #9666
any updates here? have exact the same on istio 1.0.5

[2019-02-05 14:16] Turil opened #11523 "Install fails via Helm and values.yml - Release "istio" failed post-install: timed out waiting for the condition"
**Describe the bug**
I am trying to install Istio via Helm on AKS Cluster. This fails with
`[tiller] 2019/02/05 13:49:12 warning: Release istio post-install istio/charts/grafana/templates/create-custom-resources-job.yaml could not complete: timed out waiting for the condition`
`[tiller] 2019/02/05 13:49:12 warning: Release "istio" failed post-install: timed out waiting for the condition`

I also h

[2019-02-05 14:39] ronakpandya7 commented on #11262
Hello,

One update regarding this issue.

We have three ingress controller pods running in our kubernetes cluster.

We checked istio ingress controller pod logs and found that one of the ingress controller pod is redirecting our request on wrong kubernetes IP.

When we browse our api "xxx.com/test/abc" third ingress controller gives the 503 service unavailable error and in the remaining two ingres

[2019-02-05 14:48] esnible commented on #8270
It is just "log noise" but it is confusing to users so I have marked it `area/user experience`.

My Ratings pod has been running fine for 22 hours and there are 262 of these messages in the logs.  There is a Stack Overflow question showing a user who is troubleshooting a different problem is looking at this message https://stackoverflow.com/questions/54307216/istio-proxy-unable-to-connect-to-istio

[2019-02-05 16:21] esnible opened #11526 "istio-pilot-multicluster-e2e flakey"
After pushing a PR that is just new samples (no code, just docs) the prow/istio-pilot-multicluster-e2e.sh job failed.

https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11508/istio-pilot-multicluster-e2e/8184

The error is "istio.io/istio/tests/e2e/tests/pilot Failure 0.00s" presumably caused by

[code]

All pods were up and running.

[2019-02-05 16:31] kramvan1 opened #11527 "Separate download site or cmd for istioctl"
**Describe the feature request**
Just like kubectl has, it would be great to have a simple curl to get the istioctl binar]y and not have to dig thru the installation files to get it.

For example, kubectl has this type of curl:
[code]
which is very handy to use in Jobs and Dockerfiles....

**Describe alternatives you've considered**

**Additional context**

[2019-02-05 16:31] kramvan1 commented on #11527
@linsun cc

[2019-02-05 16:32] ymesika commented on #11526
@esnible I have a fix for this in #11492 but hitting further failed tests after overcoming the above issue (the two tests I temporarily skipped).

[2019-02-05 16:39] ymesika commented on #11527
Would be great to have it homebrewed on Mac ;-)

[2019-02-05 16:40] linsun commented on #11527
@kramvan1 good point!

@ibm-jason can you look into this to see if we can host istioctl for 1.1 somewhere in our GitHub?

pre daily release: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190203-09-16/
released binary:   e.g.
https://github.com/istio/istio/releases/download/1.1.0-snapshot.5/istio-1.1.0-snapshot.5-linux.tar.gz

[2019-02-05 16:49] ibm-jason commented on #11527
@linsun Yes, I'll have a look. 👍

[2019-02-05 16:55] luksa commented on #10776
@GavinLin168, @morvencao Good news. I have istio-cni working properly with a patched version of openshift-sdn 3.11. See https://github.com/luksa/openshift-origin/commits/cni-0.3.1-support

I need to refactor and clean up before I submit a PR to openshift, but you build and try this out, if you wish.

Note that even with istio-cni, application pods still won't run properly with the `restricted` SCC

[2019-02-05 16:59] sdake commented on #10971
11512 introduced a problem mentioned here:  https://github.com/istio/istio/pull/11512#discussion_r253608538 - will follow up with a PR today to resolve.

For those that don't want to click through, if a pod has dnsConfig specified already, the dnsConfig in the sidecar injector is not appended to the existing dnsConfig.

Cheers
-steve

[2019-02-05 17:34] incfly commented on #9150
I don't think this FR will solve mTLs + Prometheus problem. That should be a separate solution.
@mandarjog might more context on that one.

[2019-02-05 17:39] #10557 closed

[2019-02-05 17:41] incfly commented on #9150
For the folks caring about this feature, all the PRs implementing the feature is now merged. You can wait for a daily build after 2019-0205 and follow instructions of https://preliminary.istio.io/help/ops/setup/app-health-check/#probe-rewrite to test. Please consider to provide feedback on how this feature works for your services to help us decide if we enable this by default, https://github.com/i

[2019-02-05 17:43] incfly commented on #9150
The rest is e2e test and documentation improvements, I'll continue to work on it, but closing this one for now.

[2019-02-05 17:43] #9150 closed

[2019-02-05 18:40] ozevren commented on #10785
I believe this is done, right? Can we close?

[2019-02-05 18:52] jeffmendoza commented on #10785
Yep

[2019-02-05 18:52] #10785 closed

[2019-02-05 19:00] linsun commented on #11306
per @ymesika MC istio-remote chart is currently broken as it is missing some of the latest update from istio chart, thus it is critical for us to get this fixes in 1.1

cc @wenchenglu @duderino

[2019-02-05 19:02] ozevren opened #11532 "Flaky Test: istio.io/istio/galley/pkg/source/kube/dynamic TestSource_MangledNames"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11528/istio-unit-tests/20534

[2019-02-05 19:05] ozevren opened #11533 "Flaky Test: istio.io/istio/pilot/pkg/model TestSuperStrings"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio_istio/11522/istio-unit-tests/20533

[2019-02-05 19:06] GregHanson commented on #11394
resolved by PR #11449

[2019-02-05 19:06] #11394 closed

[2019-02-05 19:11] ozevren commented on #11533
[code]

[2019-02-05 19:11] ozevren commented on #11532
[code]

[2019-02-05 19:21] ozevren commented on #11532
This might be related:

[code]

[2019-02-05 19:25] #11202 closed

[2019-02-05 19:32] sdake commented on #11533
@ozevren
I am the author of this work.  This work has not yet merged.  I just rebased release-1.1 on upstream/release-1.1 to check if it was in the repo and this function is not in the repo:

[code]

[2019-02-05 19:35] sdake commented on #11533
PR is in the open state: https://github.com/istio/istio/pull/11522

[2019-02-05 19:36] sdake commented on #11533
@ozevren curious what tool you used to scan for test flakes.  Would like to know so I can use the same tool to check for duplicate test flakes that I see when doing development.

It seems to be picking them up - but also picking up test failures on presubmit jobs.  Recommend only looking at merged PRs.

[2019-02-05 19:39] ozevren commented on #11533
I just use testgrid: https://testgrid.k8s.io/istio-presubmits#unit-tests

[2019-02-05 19:39] #11533 closed

[2019-02-05 19:49] GregHanson commented on #11284
@johngmyers sorry for closing prematurely, appears to be a few possible docs issues in this one.
- /v1/registration API is remnant of envoy V1 XDS API's so the V2 debug API's should be used instead:
https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/debug.go#L54
- 15003 port is deprecated so it should not be in the docs

[2019-02-05 19:52] sdake commented on #11306
Pending PR: https://github.com/istio/istio/pull/11307

[2019-02-05 19:57] insider89 commented on #8965
Please don't close this one, still actual.

[2019-02-05 19:59] rsnj commented on #11509
We are having the exact same issue as well with Istio 1.0.5.
It only applies to the HTTPS port as the HTTP works just fine. We had to set our first gateway to be:
[code]

Oddly, it still routes correctly to our other gateways.

[2019-02-05 19:59] johngmyers commented on #11284
Another issue is that if global.controlPlaneSecurityEnabled is true, various things are configured to talk to istio-pilot:15005. Port 15005 is not exposed by the istio-pilot Service.

[2019-02-05 20:04] jnativio opened #11534 "Default limits values for initContainer caused regression on pod startup time"
**Describe the bug**
The startup time for pods with injected sidecars had a big regression on 1.1. A single pod (no other app pods in the cluster) used to take around 4.8 sec to start on 1.0 but with a 1.1 or master build it is taking around 12 sec. The reason is that resources limits were introduced for the initContainer by PR #8409, and the hard coded default values seem to be very restrictive.

[2019-02-05 20:21] pnambiarsf opened #15734 "Expose envoy metrics service config via envoy pilot agent"
We currently run mainline envoy as sidecars with a limited in-house implementation of the control plane in production.We are in the process of migrating to Istio. Metrics are published from envoy to the metrics service that in turn publishes to our company’s telemetry backend. We will need to support this flow during the migration at the very least along with telemetry via mixer.

Therefore we wou

[2019-02-05 20:28] bradenwright opened #11535 "Using both Exact and Prefix URI matches results in unexpected behavior"
**Describe the bug**
I need to route 1 path `/aggregator` to a different backed than all other paths.  To do so I tried using:

[code]
and

[code]

All paths get sent to backend: `frontend.{{ .Release.Namespace }}.svc.cluster.local` including `myapp.example.com/aggregator`

**Expected behavior**
`myapp.example.com/aggregator` to route to `aggregator.{{ .Release.Namespace }}.svc.cluster.local` inst

[2019-02-05 20:38] ayj commented on #10429
[istioctl validate](https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-validate) does what you want here. This runs the same code that `istioctl create` (deprecated) does.

`--dry-run` for admission webhooks is already supported in k8s 1.12+ (see https://github.com/kubernetes/kubernetes/pull/66936).

[2019-02-05 20:45] quanjielin opened #11536 "mtls on default namespace fails with 503"
**Describe the bug**
Regression: serivce to service mtls fails with 503, only in default namespace, with sds enabled

1. This problem didn't repro in https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.1-20190130-09-16/; so it's a regression bug
2. This problem didn't repro https://github.com/istio/istio/commit/ce038fe2d60367f10c26a0da1be9e843934182c9, start in https://github.com/is

[2019-02-05 20:45] quanjielin commented on #11536
@diemtvu

[2019-02-05 20:51] nmittler commented on #11532
If I'm reading the stacktrace correctly, it appears to be panicing in the pilot jwks_resolver, which is probably an unfortunate additional dependency we've picked up recently.

My initial thought is to somehow eliminate this dependency altogether, although I'm not sure how easy that will be, since it's created in `pilot/model/authenication.go`'s `init` method.

The resolver was initially introduce

[2019-02-05 21:01] mandarjog commented on #11534
Jose, this is a great find. Please submit a PR to 1.1 branch.  It seems that limit of 100m/50Mi as you suggest are good and they are backed by data.

[2019-02-05 21:02] mandarjog commented on #11534
@munrodg this is a regression with a simple fix, should go into 1.1

[2019-02-05 21:09] #11386 closed

[2019-02-05 21:37] costinm commented on #11425
@rshriram

[2019-02-05 22:18] kyessenov commented on #10023
Still flakes as of now:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/10630/istio-unit-tests/20558

[2019-02-05 22:37] kyessenov opened #11542 "TestEds v2 is flaky"
https://circleci.com/gh/istio/istio/317418?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

/cc @duderino

[2019-02-05 23:44] diemtvu commented on #11536
The helm command enable global mTLS but not `global.controlPlaneSecurityEnabled`. I fixed the doc for this (https://github.com/istio/istio.io/pull/3198).

You can fix your setup by editing the `istio-policy` (and `istio-telemetry`) and adding this block under trafficPolicy

[code]
You can also rerun the helm command and apply the new yaml
[code]

In the long run, we need to deprecate this controlP

[2019-02-06 00:08] nmittler commented on #11464
This appears to be stable on CI. Closing for now ... we can re-open if the issue persists.

[2019-02-06 00:08] #11464 closed

[2019-02-06 00:51] diemtvu commented on #11536
Digging deeper, the problem is related to the change https://github.com/istio/istio/pull/11153. That PR give the destination rule in the same namespace as the caller higher precedence.

In the past, we have a 'global' DR (which `host=*.local`) under default namespace, that will be used for a service only when there is no other rule with *longer* name that also match to the service. Thus, if you de

[2019-02-06 01:04] diemtvu opened #11545 "New destination rule selection model break the assumption for 'global' destination rule."
**Describe the bug**

For global mTLS enablement, we used to insert a *global* destination rule to enable mTLS on client side globally. This rule basically have the host match to any service (`*.local`), and used to have the lowest precedence (due to the logic based on the length of the host)

[code]

[PR 1153](https://github.com/istio/istio/pull/11153) change the precedence based on namespace. So

[2019-02-06 01:12] diemtvu commented on #11545
One quick fix option (without rolling back) is moving the *global* DR to a non-default namespace. It's best to be a reserved namespace, which we asked user not running jobs in there, and/or add logic to consider policy in that namespace last.

[2019-02-06 01:17] diemtvu commented on #11425
This mostly affects the `istioctl authn tls-check` tool, as it try to check the DR and authN policy consistency by service, without getting into proxy instance level.

On the other hand, we have other issue related to the recent change in the way picking up DR (https://github.com/istio/istio/issues/11545)

[2019-02-06 01:18] yangminzhu commented on #11536
It looks like we should have some e2e tests to prevent such regression.

[2019-02-06 02:57] zenvdeluca commented on #8059
Running Version: 1.0.5 (GitRevision: c1707e45e71c75d74bf3a5dec8c7086f32f32fad-dirty)

port 15001 isnt listening as expect, per the reasons already described above -- envoy can't establish gRPC config stream to pilot.

any expectations when should we have istio-proxy image fully functional with TPROXY module ?

[2019-02-06 04:44] kenske commented on #4817
@k-vishwa I'm having the same issue. Did you manage to figure it out?

[2019-02-06 05:19] k-vishwa commented on #4817
@kenske didn't find any solution yet

[2019-02-06 06:17] akaimo commented on #11142
This is the log of the problem.

Ingressgateway log.

[code]

Application Pod's istio-proxy log.

[code]

nginx log.

[code]

There was an answer with this stack overflow, but it has not been solved yet.
https://stackoverflow.com/questions/54323340/ingressgateway-returns-a-status-code-different-from-pod

[2019-02-06 07:00] Turil commented on #11523
I removed the real IP we are using, I thought 1.2.3.4 is an obvious placeholder.
Will try and give feedback, but it's not really a solution even if it works. I have to use company naming schemes wherever possible, that includes public IP address resources.

[2019-02-06 08:31] dicarlo2 commented on #10915
I think I'm seeing the same issue, at least I'm also seeing duplicates in the UI. It appears the root cause is that the source/destination workload in mixer is sporadically reporting the deployment's replicaset rather than the deployment. Digging into the code, it's not clear to me how this could be possible: https://github.com/istio/istio/blob/release-1.1/mixer/adapter/kubernetesenv/cache.go#L145

[2019-02-06 08:58] kyessenov commented on #11545
FWIW, there is prior art in overriding pilot config specifically for mixer upstreams: https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/mixer/mixer.go#L141

Something to consider if a workaround is needed.

[2019-02-06 09:31] LiVe commented on #3295
Hey,

i just ran into what seamed to be the same issue. our system is running ambassador with istio 1.0.5 (mtls enabled) and a node/express server, serving some static files. usually that service gets hit with a few requests in a short burst, and sometimes one of those requests failed with a 503 UC. i've added the connection close to the response header and it seams to fix the 503 responses, thoug

[2019-02-06 09:32] ekarlso commented on #7352
@maximbaz how did you get the istio certs into the prometheus container?

[2019-02-06 09:39] maximbaz commented on #7352
@ekarlso see this: https://github.com/helm/charts/blob/08c82581a13ddc1409fffdd22dbc2c90db738c95/stable/prometheus-operator/values.yaml#L783-L788

Change it to this:

    secrets:
      - istio.default

[2019-02-06 10:17] feitnomore commented on #10915
Same behavour here. Looks like I see both, deployment and replicaset. I've created a brand new environment, with a new installation to make sure I haven't done anything dumb, and still got the same behavour.

[2019-02-06 11:00] hyperdash commented on #9815
@eduardobaitello  I had the same problem on docker-for-mac, and I found that I always needed to restart docker-for-mac to apply changes to ingress gateway ports. Worked perfectly without doing anything on EKS, so I suppose that's because of a docker-for-mac issue. If you are using docker-for-mac, try it.

[2019-02-06 11:17] morvencao opened #11549 "Remove the 'istio-cni' sub chart tar package in source tree."
Since we get `istio-cni` with `helm dep update` from istio chart repo, we don't need `istio-cni` subchart tar package in source tree.

[2019-02-06 11:25] morvencao commented on #10776
@luksa Do you mean the `webhook` admission controller order for Istio sidecar auto-injection?

[2019-02-06 11:45] luksa commented on #10776
@morvencao yes. The SCC admission controller rejects the pod, because the sidecar is injected _after_ the SCC controller adds the necessary capabilities.drop and runAsUser fields to the main pod container. On the second pass, the SCC controller wants to do the same for the sidecar, but isn't allowed to, since this is only a validation pass and mutation is no longer allowed. You can work around thi

[2019-02-06 12:16] MBauer83 opened #11550 "Helm doesn't install CRDs in istio-1.1.0s"
**Describe the bug**
{{ Succinctly describe the bug }}

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}

**Environment**
{{ Which e

[2019-02-06 12:16] #11550 closed

[2019-02-06 12:34] MBauer83 opened #11551 "Helm install fails due to missing CRDs with istio-1.1.0-snapshot.5"
**Describe the bug**
Certain CRDs are not installed on Azure aks (through galley) during helm install, leading to a failure of the installation.

**Expected behavior**
The istio-system to be correctly installed

**Steps to reproduce the bug**
1. Download & extract istio snapshot 1.1.0-snapshot.5
2. Run `helm repo add istio.io "https://storage.googleapis.com/istio-release/releases/1.1.0-snapshot.5/

[2019-02-06 12:49] MBauer83 commented on #10358
I have attempted to get redis, etcd, elasticsearch and mariadb clusters running on Azure AKS with istio in versions 1.0.5, 1.1.0-snapshot.4 & 1.1.0-snapshot.5, and have not managed to get either working with sidecar-injection active. The pods fail healthchecks, crash or simply cannot communicate.

This is irrespective of using CNI or not, irrespective of sidecar-injection-configmap having runAsUse

[2019-02-06 13:32] Turil commented on #11523
I re-created the cluster with default node names, just in case this issue is somehow related to https://github.com/Azure/AKS/issues/455 but that didn't work either.

When the deployment fails there are two grafana pods running:
[code]

The unfinished job remains present as well:
[code]

[2019-02-06 13:58] #6572 closed

[2019-02-06 14:07] gbaufake commented on #10915
@dicarlo2 and @feitnomore
Can you describe how to replicate this environment that you have reported?

I saw this issue some weeks ago when I was deleting namespaces (documented in here https://issues.jboss.org/browse/KIALI-2072), but I haven't seen it for a while.

I thought the main reason for this it was some sort of duplicate telemetry, which I think it matched the description of https://github

[2019-02-06 14:09] vadimeisenbergibm commented on #9546
The problem is with using 443 in the egress gateway for both HTTP/mTLS and HTTPS/mTLS traffic. I submitted a PR https://github.com/istio/istio.io/pull/3200 to the [Egress Gateway with TLS Origination(https://preliminary.istio.io/docs/examples/advanced-gateways/egress-gateway-tls-origination/) example.

Follow the instructions in the PR for HTTP/mTLS with TLS origination for edition.cnn.com, and th

[2019-02-06 14:18] insider89 commented on #8893
Do you have experience to deploy Jaeger not into istio-system namespace. I've successfully deploy it to default namespace, but don't see any spans caught. I've changes zipkin address to fully qualified name, but its not help. Any ideas how to fix that.
[code]

[2019-02-06 14:31] esnible opened #11552 "Replacement for deprecated istioctl get custom columns"
`istioctl get` provides information not provided by `kubectl get`.  Examples:

[code]
vs
[code]

[code]
vs
[code]

[code]
vs
[code]

[code]
vs
[code]

This work item is to bring as much of the useful columns provided by istioctl into kubectl using https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#additional-printer-columns feature of Kubernetes.

[2019-02-06 14:31] GregHanson commented on #11551
@MBauer83 in the upcoming release CRD creation is handled a little differently.  There is an additional `helm install` command for `istio-init, you can follow the steps here: https://preliminary.istio.io/docs/setup/kubernetes/helm-install/#option-2-install-with-helm-and-tiller-via-helm-install
When trying the latest release snapshot, you may want to refer to steps at preliminary.istio.io over isti

[2019-02-06 14:33] sokoow opened #11553 "kube-inject is still broken, rly ?"
**Describe the bug**
kube-inject is still broken, I don't know how many releases I already tried..

and I'm getting this:

[code]

**Expected behavior**
somebody have mercy and fix kube-inject

**Steps to reproduce the bug**
use kube-inject in any way

**Version**
all?

**Installation**
supergloo or directly

[2019-02-06 14:34] objectiser commented on #8893
@insider89 Do you have a `zipkin` service in that new namespace? i.e. see https://github.com/istio/istio/issues/8893#issuecomment-441989877

[2019-02-06 14:39] elevran commented on #6572
envoy and istio-api versions are added as labels to images (i.e., available via `docker inspect -f '{{ .Config.Labels }}' $image`)

[2019-02-06 15:01] berstend opened #11554 "ConsistentHashLB: Hash based on request path/url"
I have a use-case where it'd be amazing to use the consistent hash-based [load balancer](https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#LoadBalancerSettings-ConsistentHashLB) based on the path (or URL) of the request.

Unfortunately it seems like I cannot use `httpHeaderName` to extract the path or request url.

Or is there a way to do this currently that I misse

[2019-02-06 15:27] MBauer83 commented on #11551
@GregHanson Thank you! That was the info I had been missing. The Installation works fine now.

[2019-02-06 15:27] #11551 closed

[2019-02-06 15:43] bradenwright commented on #7724
Is there any further update on this issue?  I too wanted to have traffic coming from the same static ip address and was thinking an option in egress could possibly do this.  If not I too can try a NAT option of some kind, but figured worth checking here first.

[2019-02-06 15:53] huang-jy commented on #7724
The only way I've been able to do this is using terraform and a NAT gateway, which then means I don't even need istio in my cluster.

[2019-02-06 15:58] absc6 commented on #11504
Not sure if I need to create a new thread. But how does DNS resolution takes place for external service. If service is present in Istio/Kubernetes cluster, does it take routes from the server?
Also, say the network is behind a proxy, how do we distinguish external network calls from internal network.

[2019-02-06 16:37] esnible commented on #11552
I did an initial sizing of this effort and ran into a problem.  Most of our CRD fields displayed in _istioctl_ are arrays not simple strings.

Although additionalPrinterColumns takes a JSONPath, it ignores anything beyond the first value.  For example, for ServiceEntries I added

[code]

But _kubectl_ only displayed the first value:

[code]
(missing

@ayj @fisherxu I have not been able to find a w

[2019-02-06 16:40] esnible commented on #11504
@absc6 The ServiceEntry example above includes
[code]
The Location distinguishes internal from external.  The resolution `DNS` causes Envoy to use its configured DNS on the hostname.

[2019-02-06 16:55] cainelli commented on #9332
I can also reproduce the issue running kubernetes 1.10.5, istio 1.0.5 and having `limitrange` on the namespace with sidecar injection enabled. Testing on kubernetes 1.13.4 seems to work.

[2019-02-06 17:09] #11532 closed

[2019-02-06 17:09] #11482 closed

[2019-02-06 17:09] ozevren commented on #11482
Should be fixed now.

[2019-02-06 17:12] GregHanson commented on #11284
@costinm I see you added the `global.controlPlaneSecurityEnabled` value in this PR here:
https://github.com/istio/istio/pull/3949/files#diff-7dad29cba9d2ca3e8570c8f65f4b7e86

is the istio-pilot:15005 port still used for this and should it be exposed in the helm charts?

[2019-02-06 17:15] feitnomore commented on #10915
@gbaufake , basically I've created 2 clusters with kubeadm:

Cluster1:
[code]

Cluster2:
[code]

After that I've added the routes to POD and Service Network for each side:

Cluster1:
[code]

Cluster2:
[code]

On Cluster1:
[code]

On Cluster2:
[code]

On Cluster1:
[code]

After that, I've eddited istio-reader ClusterRole on Cluster2 and changed to apiGroups *, and added replicasets and replicationc

[2019-02-06 17:20] objectiser commented on #8893
@insider89 looks like sidecar injection does cause an issue then. Have you checked the zipkin address being passed to the proxy?
Possibly update the value in the helm [values.yaml](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values.yaml#L253).

[2019-02-06 17:20] ozevren opened #11555 "Test failure: Upgrade test is failing due to validation of ExportTo by the Admission Webhook"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/287/release-upgrade-tests-1.0.1/314
[code]

There are 503s that might be related in the same run as well:
[code]

[2019-02-06 17:22] ozevren commented on #11555
It looks like this could be due to older version of Galley handling the validation call.

[2019-02-06 17:24] ozevren commented on #11555
There is another instance here:
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/287/release-upgrade-tests-1.0.1/313

[2019-02-06 17:26] ozevren commented on #11555
/cc @ayj

[2019-02-06 17:29] kenske commented on #4817
@k-vishwa I figured it out. I'm running EKS and was trying to connect to an elasticache instance from one of the pods. I was missing a security group rule that allows traffic from the EKS node to the redis instance.

[2019-02-06 17:29] ozevren commented on #11555
/cc @sdake FYI.

[2019-02-06 17:37] ayj commented on #11552
This is a known issue with server-side custom columns. See https://github.com/kubernetes/kubectl/issues/517 and the proposed [fix](https://github.com/kubernetes/kubernetes/pull/67079).

cc @seans3

[2019-02-06 17:44] ozevren opened #11556 "Test failure in postsubmit: TestValidation"
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests
https://gubernator.k8s.io/build/istio-prow/logs/istio-integ-k8s-tests/3151

[2019-02-06 17:45] ozevren opened #11557 "Test failure in postsubmit: Mixer K8s Integration tests"
https://gubernator.k8s.io/build/istio-prow/logs/istio-integ-k8s-tests/3131#istioioistiotestsintegration2mixer-testcheck_allow

[2019-02-06 17:51] absc6 commented on #10429
Is it version dependent, I am using **1.0.3** and getting below error.
[code]

Also, istioctl create --dry-run is giving error:
[code]

[2019-02-06 18:10] ayj opened #11560 "Enable --server-dry-run with kubectl on k8s >= 1.12"
kubectl supports the `--dry-run` for CRD in Kubernetes versions >= 1.12. This allows users to pre-validate their configuration with `kubectl apply` without it being persisted. To enable this feature for Istio CRD we need to set `sideEffects=None` in the validatingwebhookconfiguration (see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.12/#webhook-v1beta1-admissionregistration-k8s

[2019-02-06 18:20] ozevren opened #11561 "Disabled Test: pkg/test/framework/runtime/components/apps/agent TestFull"
Disabling this test as it is flaky, and causing tests to fail at a significant rate. We should fix the underlying issue before re-enabling.

[2019-02-06 18:37] rshriram commented on #11545
cc @louiscryan
@diemtvu the istio-system is the right place for these mixer specific dest rules. That said, if someone overrides that rule in their local namespace with a *.local, then yes that rule will have precedence and things will break. However, its to be noted that such a *.local is not a common thing. People typically write dest rules for individual services. Or *.ns.svc.cluster.local . If

[2019-02-06 18:45] liemng commented on #10062
FYI... If you don't want to disable mTLS globally, you can just disable mTLS for mysql only:

apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "mysql-policy"
spec:
  targets:
  - name: mysql
---
apiVersion: "networking.istio.io/v1alpha3"
kind: "DestinationRule"
metadata:
  name: "mysql-policy"
spec:
  host: mysql
  trafficPolicy:
    tls:
      mode: DISABLE

[2019-02-06 18:49] esnible commented on #11336
Is there a design proposal for these features?

In https://github.com/istio/istio/pull/11398 I added a new annotation, `sidecar.istio.io/v1alpha1/statsPatterns`, which lets me control the stats inclusions.  We could continue adding custom annotations for particular Envoy configurations.  We could also go extremely generic and allow custom annotation that would apply a JSON Patch to the generated b

[2019-02-06 18:55] yangminzhu opened #11564 "[Authz v2] Add e2e test for Authz v2"
**Describe the feature request**
E2E test is very important to prevent any regressions, we will need to update the current ones for the upcoming Authz v2 support.

/cc @pitlv2109

**Additional context**
[Istio Authorization v2 design](https://docs.google.com/document/d/1diwa9oYVwmLtarXb-kfWPq-Ul3O2Ic3b8Y21Z3R8DzQ/edit#heading=h.x9snb54sjlu9)

[2019-02-06 19:13] #10725 closed

[2019-02-06 19:44] esnible opened #11565 "istioctl kube-inject broken in 1.0.x when applied against 1.1 Istio install"
To reproduce:

[code]

Same behavior verified on Linux and OSX for 1.0.5, and for OSX for 1.0.0, .1, .2, .3, and .4.  Did not test Linux other than 1.0.5.

Recording this as a defect because the error message surprised me and I didn't see it documented elsewhere.  Do we expect back-level _istioctl_ to be able to give a good reason for failing when used on a 1.1 cluster?

[2019-02-06 19:51] incfly opened #11566 "More E2E test coverages for 4 senarios of PERMISSIVE mode"
Complete TODO in
https://github.com/istio/istio/blob/release-1.1/tests/integration2/pilot/security/authn_permissive_test.go#L141

Right now we only have tests checking xDS config, not the e2e traffic on data plane.

[2019-02-06 19:51] incfly commented on #6384
Let's close this for 1.1 since we now have test for Envoy configuration. I'll file a separate issue https://github.com/istio/istio/issues/11566

[2019-02-06 19:51] #6384 closed

[2019-02-06 19:53] andreipetrescu95 opened #11567 "RbacConfig not working"
**Describe the bug**
Pilot does not create filter configs for services, other than the httpbin service.

**Expected behavior**
I expect Istio to create filter configs for all my services, not just one, but I have no idea why it only works with this one.

**Steps to reproduce the bug**
I have the following RbacConfig applied in my cluster:

[code]

In the `app` namespace, there are 3 services, with

[2019-02-06 19:59] esnible commented on #11553
@sokoow which version of Istio are you using?

I tried to reproduce this with Istio 1.0.5 and prerelease 1.1 and could not.

`kube-inject` makes use of two Istio config maps.  It is possible you have an unusual setting.  Can you try
[code]

On my machine this produces no output.  Because your error message includes `toJson` you will see output.

[2019-02-06 20:02] duderino commented on #11520
@incfly has the cycles to take a look at this.  wanna share it with him?

[2019-02-06 20:08] yangminzhu opened #11569 "[Authz v2] Support AuthorizationPolicy"
**Describe the feature request**
We'll need to add a new CRD `AuthorizationPolicy` that is used to grant permissions to users.

Note it's risky to start to work on the `master` branch right now as the potential change will affect a lot of parts in Pilot and Galley. The `master` is still quite diverged from the 1.1 branch and there is a possibility that 1.2 will be based off 1.1 and not master.

**

[2019-02-06 20:09] yangminzhu commented on #11569
/cc @liminw @pitlv2109

[2019-02-06 20:16] esnible commented on #11553
I can reproduce this.

`kubectl edit -n istio-system cm istio-sidecar-injector`, look for `- name: ISTIO_METAJSON_ANNOTATIONS\n    \     value: |\n             [[ toJSON .ObjectMeta.Annotations ]]\n`, change `toJSON` to `toJSon`.

[2019-02-06 20:32] ayj commented on #11555
https://github.com/istio/istio/pull/11507 added explicit `exportTo: '*'` to the DestinationRules in the default Istio control plane configuration. This configuration is updated at the same time as the control plane itself. At the same time, our validation rejects unknown fields. This leads to combinations where the new configuration is sent to the old validation webhook which rejects it.

Some pos

[2019-02-06 20:33] ayj commented on #11555
cc @rshriram  - re: option (2) above

[2019-02-06 20:40] nitishm opened #11571 "Sidecar injection fails when using PSP with allowPrivilegeEscalation=false and istio-init container privleged=false"
**Describe the bug**
Failed to deploy automatically injected sidecar container, with the _istio-sidecar-injector_ configmap is configured  to use `securityContext: privileged: false` for _proxy-init_, when using a PodSecurityPolicy with `privilegeEscalationAllowed: false` and `CAP_NET_ADMIN` enabled, yet it works for manual sidecar injection using the same PSPs/ClusterRole/ClusterRoleBinding.

- W

[2019-02-06 20:50] dicarlo2 commented on #10915
I spent quite a bit of time since my last comment investigating and here's what I came up with. Note that I'm not an istio expert nor a kubernetes go client api expert, so I may be making some incorrect assumptions.

All metrics reported by mixer seem to report the replicaset as the workload ~10-20% of the time across all workloads. There does not seem to be any time correlation, i.e. it's not lik

[2019-02-06 21:03] esnible commented on #11552
@ayj For 1.1 does it make sense to add additionalPrinterColumns even though the output will only show the first entry?  90% or more of Istio Yaml only refers to one host, one tag, etc.

(An Istio 1.2+ implementation can attempt to show all of the values of the array fields using the Kubernetes fix or using the status hack I proposed.)

[2019-02-06 21:31] ozevren commented on #11571
@ostromart I believe you're the right person to point to for the sidecar injector, right? If not, could you redirect?

[2019-02-06 21:33] ozevren commented on #11565
@ayj, any thoughts on doing version checks in istioctl to improve the experience?

[2019-02-06 21:36] castlemilk commented on #9546
@vadimeisenbergibm I am not using port 80 for HTTPS, this issue arises when using `protocol: HTTPS` and `protocol: TLS` on the same port (443) on a gateway.

[2019-02-06 21:36] quanjielin commented on #11536
this issue goes away with https://github.com/istio/istio/pull/11546

[2019-02-06 21:36] #11536 closed

[2019-02-06 21:38] ozevren commented on #11526
@ymesika, assigning this issue to you, since you're working on it.

[2019-02-06 21:39] mandarjog commented on #8477
@yangminzhu thanks for adding generation code to isotope.
However what I am also looking for is helm templates.
We have a dormant one checked in here - https://github.com/istio/tools/blob/master/perf/servicegraph/templates/_rbac_yaml

If you can update that, add a flag to enable / disable rbak testing in values, that would be great.

[2019-02-06 21:44] ayj commented on #11565
I don't think MeshConfig proto includes the version. We would need to guess based on the installed CP version and differentiate new fields (that were added in newer versions) from malformed/mispelled config.

We addressed this in Pilot by allowing unknown fields (see https://github.com/istio/istio/pull/9792). This doesn't differentiate misspelled fields vs. the backwards compatibility case. I trie

[2019-02-06 21:44] andraxylia opened #11573 "Newly added RecordComponentBuildTag breaks make in mac os"
This is only defined for Linux.

pilot/pkg/bootstrap/monitoring.go:82:14: "istio.io/istio/pkg/version".Info.RecordComponentBuildTag undefined (type "istio.io/istio/pkg/version".BuildInfo has no field or method RecordComponentBuildTag)

[2019-02-06 21:45] mandarjog opened #14010 "Add change scenarios to log running tests"
https://github.com/istio/tools/blob/master/perf/servicegraph/templates/
contains a config-changer pod, at present this pod just adds and removes a virtual service.
Add the following to this config changer

I . Application editions
1. Add version to service graph services
2. Add 2 versions of a particular service, and thru a virtual service use weighted routing to affect application rollout from v1

[2019-02-06 21:48] ostromart commented on #11571
Yep, I can take a look at this.

[2019-02-06 21:53] yangminzhu commented on #8477
@mandarjog
The code generation in isotope is already able to generate the required RBAC rules for tests, you can configure it like here: https://github.com/istio/tools/blob/master/isotope/example-topologies/canonical.yaml#L4

Could you clarify a little how would you expect to use the helm templates, Do you mean you want to manually generate and apply the RBAC rules in a cluster?

Apart from the ru

[2019-02-06 22:10] douglas-reid commented on #11573
This was already fixed by a PR: #11327.

And was tracked by a prior bug: #10725 .  Do we need another bug?

[2019-02-06 22:20] yangminzhu commented on #11567
Thanks for reporting, I'm looking into this now.

/cc @liminw

[2019-02-06 22:39] yangminzhu commented on #11567
The `backend` and `frontend` are TCP services (from the Service definition) which are not supported by the Istio Authorization in 1.0. The TCP support will come in the 1.1 release, see https://preliminary.istio.io/docs/tasks/security/authz-tcp/

[2019-02-06 22:42] yangminzhu commented on #11567
@andreipetrescu95 Please let me know if you have any further questions or I will close this as it's expected behavior in 1.0.5. Thank you.

[2019-02-06 23:56] yangminzhu opened #11577 "Pilot is using a static generated cacert to fetch JWT public key"
**Describe the bug**
When JWT policy is used, Pilot is responsible to fetch the public key and distribute to Envoy. When fetching the public key, the public key is usually fetched from a HTTPS endpoint which means Pilot needs to verify the certificate of this HTTPS endpoint.

Currently Pilot is using a manually generated static CA bundle to do the verification:
https://github.com/istio/istio/blob/

[2019-02-07 00:02] quanjielin commented on #11577
today we baked Ubuntu CA bundle into pilot docker image, ideally we should put something below in pilot docker file get fetch it dynamically(see [nodeagent example](https://github.com/istio/istio/blob/release-1.1/security/docker/Dockerfile.node-agent-k8s#L3))

[code]

[2019-02-07 00:03] mabushey commented on #6566
@VinceMD I had AWS up our limit on names in the cert to 50. I have numerous entries like
[code]

[2019-02-07 00:07] dicarlo2 opened #11578 "Multiple services for the same workload in Mixer (telemetry and policy)"
**Describe the bug**
In order to workaround issues with referring and connecting to statefulset pods directly (see https://github.com/istio/istio/issues/10659), we create a service per pod in the statefulset. For example:

[code]

One minor issue this causes is that when using authz every service name must be included in the `ServiceRole`:

[code]

The much worse issue, however, is that the servic

[2019-02-07 00:11] mabushey opened #11579 "Issue with ELB annotations when using websockets"
This works fine for plain https, but breaks on websockets:
[code]

We have to manually change https -> http to ssl -> tcp on 31390 with our cert in the AWS console.
Is there anyway to configure this to come up correctly?

[2019-02-07 00:20] yangminzhu commented on #11577
@quanjielin Are there any problems blocking us to do it now?

[2019-02-07 00:21] quanjielin commented on #11577
No, should be a small change.

[2019-02-07 01:22] mabushey commented on #11579
Deleting the `service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"` made everything TCP, but this seems to work so I think all is good.

[2019-02-07 01:22] #11579 closed

[2019-02-07 01:43] kyessenov commented on #11577
Sounds fine, but put the docker command into the daily base image. apt-get will cause build flakiness if you run it on every PR.

[2019-02-07 03:38] rvennam commented on #11306
@ymesika when this is done, please update the `Setup the remote cluster` section in https://preliminary.istio.io/docs/examples/multicluster/split-horizon-eds/  It currently references the `istio-remote` folder

[2019-02-07 04:19] andraxylia commented on #11573
Nope. The title of that fix did not ring a bell, hence the new issue.

[2019-02-07 04:19] #11573 closed

[2019-02-07 04:34] vadimeisenbergibm commented on #9546
@castlemilk So the first question is: with the correct configuration, using port 8443, do you achieve your goals and does everything work?

The second question is, if everything works with the correct configuration, what else should be done for this issue? You wrote https://github.com/istio/istio.io/pull/3200#issuecomment-461199940:

So, if a user provides incorrect configuration for egress traffi

[2019-02-07 05:27] markmssd commented on #11509
I'm also having the same exact issue, also with Istio 1.0.5 installed with Helm... and I also ended up having just one Gateway with wildcard, and multiple VirtualServices. Tomorrow I will try to give each Gateway a different name for port 443 (e.g. https-servicea and https-serviceb) and see if that makes a difference.

[2019-02-07 06:48] castlemilk commented on #9546
@vadimeisenbergibm Thanks for the response. The issue is if you consider a scenario where you have a multi-tenanted environment or needed to support multiple namespaced environments where users will define policy in different ways, on a shared gateway, there'd be a decent chance of triggering this issue. It would be great to either see pilot/galley validate the configuration and ensure you can't a

[2019-02-07 06:58] andreipetrescu95 commented on #11567
Yes, It worked.
Thank you very much!

[2019-02-07 07:06] vadimeisenbergibm commented on #11509
Did you try to define a single Gateway with multiple hosts: servicea.example.com and serviceb.example.com?

[2019-02-07 07:14] nadundesilva opened #11582 "Disabling Observability data generation for specific micro-services in the Mesh"
**Describe the feature request**
Currently Istio pushes the same Telemetry and Tracing configurations to the Envoy Sidecars and we can only control the Telemetry and Tracing configuration as a whole.

However, in a real world scenario, there could be micro-services with different perf requirements (including the data flow through the sidecars as they have an impact on the actual round-trip time) i

[2019-02-07 07:21] vadimeisenbergibm commented on #9546
@castlemilk OK, so assume I am correct that the current issue is with Istio handling incorrect configurations, it is not specifc to Envoy. The configuration in this case is incorrect since Envoy cannot handle both TCP and HTTP traffic on the same port.

Regarding how Istio handles incorrect/conflicting configurations - I think it is a general topic. I would let the community decide about it’s prio

[2019-02-07 07:29] kyessenov commented on #11582
/cc @mandarjog
/cc @douglas-reid

I can imagine a knob on _services_ that can control mixerfilter telemetry collection at the proxy. This works better than pod-bound knobs due to client-side telemetry cost spread across many pods for a service. We can attach the control to a virtual service / service.

[2019-02-07 08:32] TristanPeers commented on #6324
@GregHanson - many thanks for the tip. Alas the command listed always caused the pod to exit abnormally for me:

[code]

I found changing the pkill signal fixed the issue properly. Note I'm using this in `helm test` and need the correct exit value from the main container. Here's a simple example:

Before:
[code]

After:
[code]

[2019-02-07 09:53] shashankn91 commented on #11498
Any suggestions or any updates?

[2019-02-07 10:09] feitnomore commented on #10915
Good news! Waiting to try it again @dicarlo2 and @douglas-reid .

[2019-02-07 11:16] ymesika opened #11584 "Allow remote sidecars to check/report to local cluster"
Currently, in a setup of Multi-Cluster where you have a single control plane on a local cluster and Istio remote on each connected cluster, only Pilot is being accessed.

Also expose Mixer to the remote clusters so telemetry and policy check requests can be retrieved from sidecars on the remote clusters.

This will allow, for instance, the local grafana to also present telemetry about the remote c

[2019-02-07 11:29] ymesika commented on #11498
How can I reproduce it on my dev environment? Do you have some accessible alternative to your WSS service?

[2019-02-07 12:01] PhilipGough commented on #9596
Hey @kyessenov, just following up here to see if there is any progress/work on the check cache and if there is a timeline/milestone for when this is expected to land?

I dug through the issues but could not find anything tracking this work.

Thanks

[2019-02-07 12:15] marcstreeter commented on #11488
I'm using 1.0.5 and I turned off one of my pods (not thinking about it, since I assumed after a bit it would reschedule services to other pods).  After a couple days, I ran `istio proxy-status` and got the same error (`Error: error execing into istio-pilot-786dc4c88d-bw8pz discovery container: error dialing backend: dial tcp 192.168.1.203:10250: connect: no route to host`).  I then started up the

[2019-02-07 12:46] ekarlso commented on #9150
Hi guys, I am trying to use the rewrite approach with

[code]

but
  Warning  Unhealthy  3m               kubelet, aks-default-39479143-0  Liveness probe failed: Get http://10.244.0.208:8080/healthz/ready: read tcp 10.244.0.1:46374->10.244.0.208:8080: read: connection reset by peer

What am I doing wrong? Should the httpGet probe not work?

[2019-02-07 13:13] dankirkpatrick commented on #11509
It is not tenable to use only one gateway.  The two services are owned by different tenants in different namespaces.  Combining the gateways will not work in our case.

[2019-02-07 13:15] dankirkpatrick commented on #11509
And, yes, if I give multiple URLs in the first gateway, it works.  Also a wildcard works in the first gateway.  Neither of these hacks is a reasonable long term solution for us, due to multi-tenancy.

[2019-02-07 13:25] volatilemolotov commented on #10134
Does anyone know how to add istio metrics to prometheus-operator?

[2019-02-07 13:56] esnible commented on #11526
Test failed today with same PR.  https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/11570/istio-pilot-multicluster-e2e/8257

4 failed / 630 succeeded in 31m39s

Failures were of the form "try again" from _tests/e2e/tests/pilot/pilot_test.go_

[code]

**The error "try again" is useless!  Dozens of tests throw it!  What does it mean?!?**  We are never going to find the flak

[2019-02-07 14:13] chrisob commented on #10134
@volatilemolotov I found that [this blog post](https://medium.com/@emirmujic/collect-cluster-and-istio-metrics-with-prometheus-operator-42d4499d621a) was pretty useful, although I think I had to tweak some of the Prometheus scrape configs.

[2019-02-07 14:27] volatilemolotov commented on #10134
Yes i have read the article but i was trying to make a ServiceMonitor CRD file without adding scrape configs manually. It works but only if i deploy the operator with HELM and not going by the docs in prometheus-opreator git.

[2019-02-07 15:21] chrisob commented on #10134
AFAIK, it's not possible for prom operator to select endpoints by the service's name via ServiceMonitor, only service labels, so I think scrape configs are necessary :/.  Regardless, you _should_ be able to specify scrape configs when deploying with the kube-prometheus stack, but you'll probably have to add the rules to some jsonnet somewhere...

[2019-02-07 15:25] PhilipGough opened #11589 "Unknown attributes error in Mixer logs - Istio 1.1"
**Describe the bug**

According to the [preliminary doc](https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/). Some additional attributes (request.query_params, request.url_path) have been added as of 1.1.

However when an instance is created that references these new attributes, error such as follows are being produced in mixer logs and the instance never

[2019-02-07 15:53] markmssd commented on #11509
@vadimeisenbergibm Yes I haven't tried that no. However, here are more findings:

I defined only 1 Gateway which lists multiple port 443 (all with the same `name: https`, each for a different host. I couldn't deploy it, got an error that each port https name needs to be different.

So I tried defining multiple Gateways, each for a different host, but each having a different https name field (e.g.

[2019-02-07 15:56] esnible commented on #11582
See https://github.com/istio/istio/pull/11398 for a PR that includes a knob for controlling the performance stats collection by Envoy.  This is not related to the mixer telemetry; it is an additional knob for observability vs performance.

[2019-02-07 16:12] esnible commented on #11565
This is a duplicate of https://github.com/istio/istio/issues/5218#issuecomment-450868714 .  Looking at the possibility of improving the error message.

[2019-02-07 16:14] luksa commented on #11366
FYI: I've started implementing this. I expect to have a very crude proof-of-concept implementation some time next week.

[2019-02-07 16:39] c0d1ngm0nk3y commented on #6518
Is someone still working on this? Otherwise, I would like to contribute. I am watching this issue for a while and it seems stale.

[2019-02-07 17:03] ozevren commented on #11023
@sdake, can we close this bug now?

[2019-02-07 17:17] ozevren opened #11593 "Test Flake (general): Prometheus pod is failing to start"
https://circleci.com/gh/istio/istio/318829?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The failure is in e2e-galley test, but it is caused by Prometheus pod not starting.

We have seen this failure a couple of times when investigating some flakes.

[2019-02-07 17:17] douglas-reid commented on #11589
@bianpengyuan @kyessenov didn't we add the new request params to 1.1 ?

[2019-02-07 17:20] douglas-reid commented on #11593
@bianpengyuan can you take a look?  this seems like it might be related to the recent changes to Prom readiness ?

[2019-02-07 17:20] ozevren opened #11594 "Flaky test: TestIngressGateway503DuringRuleChange"
https://gubernator.k8s.io/build/istio-prow/pr-logs/pull/istio-releases_pipeline/289/release-e2e-pilot-no_auth/268

It is a bit sporadic: https://testgrid.k8s.io/istio-postsubmits#pilot-e2e-envoyv2-v1alpha3&sort-by-flakiness=20

[2019-02-07 17:24] douglas-reid commented on #11578
The `destination_service` label is taken from the `destination.service.host` attribute, so I believe this behavior is expected.

Would using `destination_app` be more appropriate in your queries?  That is already using a "special" label (`destination.labels["app"]`).

[2019-02-07 17:46] kyessenov commented on #11582
I'd like to add that istio policy has a pod-level annotations for control. Since we generally do not enable client-side policy checks, that is probably sufficient. Gateways run as separate pods, and also accept the policy control annotation.

[2019-02-07 17:49] kyessenov commented on #11589
It's not in 1.1. I guess it got lost in some cherry picking process. I'll add it now to 1.1.

[2019-02-07 17:51] kyessenov commented on #11589
/assign @kyessenov

[2019-02-07 17:57] PhilipGough commented on #11589
@kyessenov I've added the fix already (referenced or )but perhaps overlooked some changes

[2019-02-07 18:08] kyessenov commented on #11589
@PhilipGough PTAL at the referenced PR. Is this the fix you have in mind? Did that fix work for you?

[2019-02-07 18:40] #11567 closed

[2019-02-07 18:41] esnible commented on #11059
If this is the intended behavior I will close the issue.

[2019-02-07 18:41] #11059 closed

[2019-02-07 18:45] douglas-reid commented on #11593
BTW, I'm seeing this failure to initialize in a number of PRs and not limited strictly to the Prometheus pod.

[2019-02-07 18:51] PhilipGough commented on #11589
I had some additional and some missing on https://github.com/istio/istio/pull/11313. If you cherry pick `746a0cf0acc7d79c178f696f168773985849defe` from my fork we are good. Yes fix worked

[2019-02-07 18:51] dankirkpatrick commented on #11509
@vadimeisenbergibm Yes, exactly.

@markmssd I just tried your solution of naming each port uniquely.  It did not work for me.

[2019-02-07 19:01] dankirkpatrick commented on #11509
@vadimeisenbergibm To comment more, different teams own different products, and deploy to different namespaces.  All of them are of the form: <product>.<company-base-url>, but each team will deploy products independently, without knowing about each other.

As it stands now, we must define all URLs for port 443 in a single gateway, but port 80 definitions can be defined in multiple gateways.  If po

[2019-02-07 19:07] douglas-reid commented on #6314
@cgilmour apologies for missing the updates here -- they were lost in a sea of github emails.

Yes. We would be very open to adding the support.  I think that the steps you've outlined are correct.

In the future, it'd be awesome to have a Mixer adapter for the integration as well -- just to fully support both paths.

[2019-02-07 19:19] kyessenov commented on #9596
Proxy check cache (L1) has always been enabled. The issue was in Mixer shared cache (L2). The cause was mis-typed values in string map attributes. Once we fixed that issue and added type protection (plus a number of other things), the e2e test has been very robust:

https://testgrid.k8s.io/istio-postsubmits#e2e-mixer-no_auth

I just sent a PR to add a flag to enable L2 cache back from being force-

[2019-02-07 19:26] bianpengyuan commented on #11593
I don't think prom-init container is the culprit. Its behavior is deterministic (check existence of certs file) and should not introduce any flake. In fact, while investigating the issue, I found a issue that prom-init container will always pass even when secret is not ready. So I suspect this is more of a general test-infra issue.

[2019-02-07 19:40] ayj commented on #8148
Incremental MCP support is now available as an option in Galley. It is off by default and can be enabled with a few lines of code.

Additional changes are required in Pilot to enable integration of incremental MCP support. This is tracked by https://github.com/istio/istio/issues/10497.

Incremental support in Mixer can be tracked in another issue, or we can post-postpone that work assuming MixerV2

[2019-02-07 19:40] #8148 closed

[2019-02-07 19:47] yonatan8888 opened #11600 "Add mTLS version as attributes."
**Describe the feature request**
Today we have connection.mtls boolean property that Indicates whether a request is received over a mutual TLS, It will be nice if we can add the version of the mTLS as attribute.

[2019-02-07 19:59] kamboyer commented on #11273
Thus far, we’ve observed a relationship of this error and DestinationRules...this has yet to be confirmed technically...but observed

[2019-02-07 20:04] vadimeisenbergibm commented on #11509
@dankirkpatrick I see, your requirements are totally reasonable.

@louiscryan @costinm @rshriram Is the gateway scoping per namespace (see
https://github.com/istio/istio/issues/11509#issuecomment-461554163) planed to be resolved in 1.1 ?

[2019-02-07 20:06] #9546 closed

[2019-02-07 20:34] castlemilk opened #11601 "Retry not working as expected"
**Describe the bug**
I have a client application which is making calls to a service within the _Service Mesh_, the service intentionally returns 500 errors on a given cadence that I'm trying to mitigate with retry policy as shown in the following `VirtualService`:

[code]

On running load I observe the following logs in the sidecar:

[code]

The concern is I can see requests 2,8,9 being retired bu

[2019-02-07 20:38] onixmatt commented on #7317
Any update on this issue? Perhaps a workaround?

[2019-02-07 21:11] Rigdon commented on #6314
@douglas-reid Thanks for the response! There is currently already a [Datadog mixer adapter for telemetry](https://istio.io/docs/reference/config/policy-and-telemetry/adapters/datadog/) listed already. Should there be an adapter for tracing as well or is that what you meant?

[2019-02-07 21:17] ayj commented on #11552
Per our offline discussion, @esnible's suggestion to create columns only for things we can show accurately SGTM. For example, DestinationRule shows the list of hosts in array notation, but VirtualService does not. The intent would be to adjust the custom columns as upstream k8s support improves.