[2018-10-05 20:18] cmcconnell1 commented on #9037
Think that ` "'true'"`  should work?
[Thanks to abuchanan920 for commenting on an issue I was having with trying to double quote an ELB timeout paramater](https://github.com/istio/istio/issues/6566#issuecomment-427146377)
I had `"60"` and got errors
but changed it to `"'60'"` and was good to go.

[2018-10-05 20:29] girishranganathan commented on #9173
@geeknoid thank you.
I will work on this. FYI the link is missing in the above comment. I presume it is this one: https://groups.google.com/forum/?pli=1#!topic/istio-policies-and-telemetry/SiOJbZ_TDD8. Can you please confirm?

[2018-10-05 20:56] awwithro commented on #9170
@geeknoid I think you missed a link in the issue description

[2018-10-05 21:18] knrc commented on #4488
https://github.com/istio/istio/pull/9176

[2018-10-05 21:29] geeknoid commented on #9173
Yes, that's the right link. The link didn't cut & paste correctly. I fixed
it in the issue description.

On Fri, Oct 5, 2018 at 1:30 PM girishranganathan <notifications@github.com>
wrote:

[2018-10-05 21:31] JimmyCYJ opened #9177 "Build stand-alone Citadel"
**Describe the feature request**
Remove the dependency on Kubernetes API server from Citadel.
Such stand-alone Citadel is needed by our new test framework, which is able to run every component in local environment as a process.

https://github.com/istio/istio/issues/9177

[2018-10-05 21:32] JimmyCYJ commented on #9177
cc @myidpt @hklai

[2018-10-05 21:39] myidpt commented on #9177
Thanks for creating this.

[2018-10-05 22:11] leecalcote commented on #9173
@geeknoid which adapters will remain in-process?

[2018-10-05 22:28] geeknoid commented on #9173
It's likely to be the "dumb" ones that don't talk to any backends: denier,
list, stdio, and maybe prometheus. Everything else will be over gRPC.

On Fri, Oct 5, 2018 at 3:12 PM Lee Calcote <notifications@github.com> wrote:

[2018-10-05 22:58] yangminzhu commented on #8263
@sslavic Thank you for this detail feedback, I could reproduce this in GKE as well.

I'm not sure about your XFCC header's entire content, but I see the following when I reproduced this:
[code]

Note carefully there are actually 2 values in the XFCC header separated by comma (`,`).
The first element is `Hash=...` which I believe it's added by the ingress gateway.
The second element is `By=spiffe..

[2018-10-05 23:19] quanjielin commented on #9035
1. tried k8s sa jwt token volume mount, the file is only accessible to root user, not istio-proxy(which envoy runs as); need follow up.
2. tried plugin call cred(to workaround issue 1, create fake token file in docker image file to avoid permission issue), didn't see k8s sa jwt pass through from envoy to nodeagent, https://github.com/envoyproxy/envoy/issues/4630

[2018-10-06 01:19] naveeng68 commented on #6566
@cmcconnell1 and @rshriram
Any update on above issue?

[2018-10-06 05:13] liubin-cm commented on #8049
@nmittler yes，i used 1.1.0.snapshot.1 and all images with tag 1.1.0.snapshot.1, and it worked, thanks.

[2018-10-06 10:47] nixgadget commented on #9152
/cc @ymesika
Im cc'n you since you worked on the websocket example and PRs. It will be nice to have some documentation around websockets specially around traffic management. I bet I can't be the only person trying to tackle the websockets in the Istio world.

I have fixed this specific issue by adding the following set of rules. My use case was ofcourse completely different to the example as the w

[2018-10-06 10:47] #9152 closed

[2018-10-06 17:57] lichuqiang commented on #6174
Closing due to #8457

[2018-10-06 17:57] #6174 closed

[2018-10-06 18:29] hklai opened #9185 "Istio upgrade results in 503 and connectivity issues"
**Describe the bug**
Upgrade tests are now run in automated release qualification daily. They tests both version upgrade and downgrade. These tests are currently made to tolerate some errors, including 503s and connectivity problems.

It is not a regression as running similar upgrade tests from 1.0.0 to 1.0.2 result in similar errors.

Example:
Upgrade tests from 1.0.2 to daily 1.0.X releases (i.e

[2018-10-06 19:26] suryadu opened #9187 "Perf:Istio Scalability improvements for Cloud Foundry Use Cases"
**Describe the feature request**
As Cloud Foundry is working actively to embrace Istio both at the routing layer (North-South traffic) as well app to app communication layer with policies and traffic management (East-West traffic), it is essential to provide the scalability that is enjoyed by Cloud Foundry today. The main focus is going to be around supporting thousands of routing rules and Pilot

[2018-10-06 19:30] suryadu commented on #9187
@mandarjog , I am adding this issue to our SWAT work and we can discuss this in our next Istio work group meeting. Can you please add the pilot issue that CF team brought up to this issue?
https://docs.google.com/document/d/1ob9M2TfI5GS3_rqrEhWFIpVyfFVKPTE8N3YZpeiDJxw/edit#

[2018-10-06 22:11] kuberkaul commented on #9142
@kyessenov Does that mean all istio traffic management features (traffic shaping/fault injection/delay) wont work with https ? it completely bypasses envoy ?

[2018-10-06 22:18] kuberkaul commented on #9142
so in essence you ned to have http coming out of your container and envoy can terminate SSL  for https ?

[2018-10-07 01:41] k commented on #8918
I installed `1.1.0-snapshot.1` and this appears to be fixed

[2018-10-07 01:58] k commented on #8594
So what I found were the permissions were set incorrectly on the pvc, the workaround I did was to ssh in to a box bound to the pvc and manually added rw to the unix permissions. There's probably a way to do this in a k8s way.

or not: https://github.com/kubernetes/kubernetes/issues/2630#issuecomment-399706413

@awdrius I think I'm going to take the solution you found for now and add to #8416 so at

[2018-10-07 03:35] jaygorrell commented on #9043
I tried a few more things here to debug today:

I started looking through major differences in `istio-1.1.0.snapshot.1` to see what else I could try and noticed `envoyStatsd` was removed so I tried disabling that since it had some pretty large cpu fluctuations. No luck, similar results.

I then tried changing the deployment to only have a livenessProbe (dropped the readiness probe) since that's th

[2018-10-07 05:49] lei-tang commented on #9123
https://github.com/istio/api/pull/649

[2018-10-07 07:54] #9083 closed

[2018-10-07 16:29] jaygorrell commented on #8918
Thanks @k, I confirmed that fixes this issue as well. So the released dashboard in 1.0.2 is simply busted? I suppose this can be closed then but if this should be reopened to track a fix for 1.0.x, feel free.

[2018-10-07 16:29] #8918 closed

[2018-10-07 17:08] jaygorrell opened #9188 "Mixer deployment yaml duplicates port key"
**Describe the bug**
The Helm template for Mixer has a duplicate entry for `ports:`.

**Expected behavior**
The `ports` key is not duplicated in the output yaml.

**Version**
1.1.0

I'd open a PR but I'm not sure what all needs updated as part of this -- I'm sure the install directory is generated from something else, but the actual issue is in these two places:
https://github.com/istio/istio/blob

[2018-10-07 18:18] sslavic commented on #8263
@yangminzhu true, two hashes were there already. I will test tomorrow, from head. Thanks a lot for quick fix!

[2018-10-07 21:19] jaygorrell opened #9189 "Grafana Mesh Dashboard flashes sub-100% success rate occasionally for multiple services"
**Describe the bug**
While sitting on the Grafana Mesh Dashboard, it will occasionally flash orange success rates in the 80's and 90's for multiple services for just one update tick (5 seconds), correcting itself back to 100% on the next tick.

![screenshot 2018-10-07 17 15 35](https://user-images.githubusercontent.com/12174604/46587057-2d8c4b00-ca55-11e8-8c1c-4a450eeb61ef.png)

**Expected behavio

[2018-10-08 01:13] x15zhang commented on #9155
Which version of Istio do you use? And you can capture pilot logs to investigate.

[2018-10-08 06:03] pgnaleen opened #9190 "I can't see my service and deployment in istio jaeger dependency graph"
**Describe the bug**

**Expected behavior**
{{ What did you expect to happen? }}

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
{{ What version of Istio and Kubernetes are you using? Use `istioctl version` and `kubectl version` }}

**Installation**
{{ Please describe how Istio was installed }}
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  n

[2018-10-08 06:38] smileboywtu opened #9191 "chinese readme"
**Describe the feature request**
add chinese readme.

**Describe alternatives you've considered**
None

**Additional context**
None

[2018-10-08 09:49] objectiser commented on #9190
The Jaeger dependency graph only shows dependencies - so if your service is not communicating with any other service, then it will not show up.

You might want to try [kiali](https://www.kiali.io/), as I believe it shows standalone services.

[2018-10-08 10:29] #9029 closed

[2018-10-08 10:47] pgnaleen commented on #9190
what about Grafana istio mesh , istio service dashboard. my service doesn't show to those dashboards as well

[2018-10-08 10:56] vadimeisenbergibm commented on #7132
@loewenstein Sorry, I was on vacation. I guess we should stop using the deprecated tcp_proxy at some point, shouldn't we? Then TCP access_log could be set.

[2018-10-08 10:59] objectiser commented on #9190
Are you seeing trace instances in the Jaeger UI?

[2018-10-08 11:15] vadimeisenbergibm commented on #6046
@kubaj Note this is documented here https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts. You should add a new certificate for your second host.

[2018-10-08 11:17] vadimeisenbergibm commented on #6046
@saratkoganti do you use mTLS to communicate with your cluster? I see the same server certificate in both hosts, don't you have to use different certificates per each host?

Take a look at  https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts.

[2018-10-08 11:58] ymesika commented on #9152
Thanks @nixgadget for documenting this.
I will add this information to the sample readme.

[2018-10-08 14:11] jaygorrell commented on #5453
@iroller I'm getting the message you mentioned (`envoy missing listener for inbound application port`) but I do have a service. The only thing of note here is that the container port and the service are both `UDP`... is it required to have a TCP-based port on the service?

[2018-10-08 15:08] yudiandreanp commented on #7659
@owenhaynes +1
Should be a bug.

[2018-10-08 15:15] iroller commented on #5453
@jaygorrell you probably have `rfs-app-redis` service for sentinel, right? Try creating `rfr-...-redis` service for redis pods. I provided an example below.

[code]

[2018-10-08 16:08] ozevren commented on #6523
@ayj @ostromart

[2018-10-08 16:10] liamawhite opened #9194 "Filter istio-proxy readiness probe from Envoy access logs"
It causes the access logs to become very chatty and mostly unreadable whilst following. In our dev cluster, there were more than 500,000 logs an hour from this alone causing us to blow our daily log quota by 9 AM.

This should be achievable using Envoy access log filters.

[code]

[2018-10-08 17:30] douglas-reid commented on #9190
@pgnaleen are your services kube-injected?  Is the proxy running in front of your services?

[2018-10-08 17:38] douglas-reid commented on #9189
@jaygorrell the rates are not shown over a 15min window. The rates are calculated via:

`sum(rate(istio_requests_total{reporter=\"destination\", response_code!~\"5.*\"}[1m])) / sum(rate(istio_requests_total{reporter=\"destination\"}[1m]))`

As you can see, the rates are over a 1m window. I think I recall reading somewhere that `rate` uses the first and last data point within that window for calcul

[2018-10-08 17:53] qiwzhang commented on #9159
I am trying to run standalone mixer and envoy, and use fortio to load the traffic to see if I can reproduce the memory leak in local.

[2018-10-08 18:04] qiwzhang commented on #9159
I can reproduce the memory leak in local setup. I am investigating now.

[2018-10-08 18:14] jaygorrell commented on #9189
Can you elaborate on this? It's a 1m window for the metric but it's only made up of two datapoints? You also mentioned 4xx's but those don't impact the success rate, do they? I would imagine it's only 500-level.

[2018-10-08 18:40] douglas-reid commented on #9189
@jaygorrell I didn't see an official reference, but I was quickly able to find other places with the claim of:

Sorry, I meant 5xx but typed 4xx.

[2018-10-08 18:46] jaygorrell commented on #9189
No problem, thanks :) But yeah, Grafana itself confirms those services never actually dipped below 100% at any time.

[2018-10-08 18:46] douglas-reid commented on #9189
@jaygorrell There is actually a difference in the queries on each of the different dashbaords (`irate` v. `rate` and differing windows).

One important thing to note: the time window for Grafana display is completely distinct from the window used in querying for per-second values.  So, you may be showing 15m worth of chart, but that isn't reflected in the querying.

Again, I think the thing we wan

[2018-10-08 18:51] quanjielin commented on #9035
need to intro dependent https://github.com/google/go-genproto/blob/master/googleapis/iam/credentials/v1/common.pb.go

[2018-10-08 19:04] nmittler commented on #6170
This issue actually has implications beyond the testing framework (perhaps we should move it out of this epic?). We need a reliable way in Istio to determine whether the galley configuration has been propagated everywhere.

FYI @ozevren @louiscryan @costinm

[2018-10-08 19:29] ozevren commented on #6170
I think we can do something quick and cheap for the test-framework alone, by querying config dump.

The answer on the product side is going to be pretty thorny to figure out and will take some time to implement.

[2018-10-08 19:31] jaygorrell commented on #9189
I can confirm that I do not have non-200 responses for some of the services. One example is
`kubectl logs <service-name> istio-proxy | grep -v 200`, which returns no results aside from the startup logs. If you look closely (I missed this myself), the 100% rows in the original screenshot were actually over 100% by a fraction.

When this happens, it's always a handful of services at the same time an

[2018-10-08 19:46] ijsnellf opened #9197 "CircleCI codecov job is flaky"
Seeing these failures in the CircleCI codecov job:
[code]

[2018-10-08 19:46] ijsnellf commented on #9197
Please reassign as makes sense.

[2018-10-08 20:10] nigeltiany commented on #1368
I found that this settings work
[code]

[2018-10-08 20:26] SleepyBrett commented on #6806
So this is very concerning.

I'd like an explanation of why this needs needs so many permissions (run as any user? why? all the linux kernel capabilities.. why?

BINDING THAT PSP TO SYSTEM:AUTHENTICATED? are you joking? This applies this to EVERY SERVICE ACCOUNT AND USER ON THE CLUSTER.

This seems like an engineer not wanting to do due diligence and instead just saying "fuck it, let it (and every

[2018-10-08 20:54] kyessenov commented on #8146
I've started working on the decoder by borrowing WIP code from golang/protobuf v2 reimplementation.

[2018-10-08 20:57] huydinhle commented on #6380
@bianpengyuan  I see the https://github.com/istio/proxy/pull/1837 got merged into proxy and released with 1.0.2. I tried 1.0.2 out but I still don't see the `url_path` in our logentry. can you help me to debug this.

[code]

[2018-10-08 20:59] huydinhle commented on #6380
I also see this https://github.com/istio/api/pull/566/files, so I rebuilt mixer with this changes pulled to test it out but still the labels `url_path` does not show up at all

[2018-10-08 21:14] qiwzhang commented on #9159
https://github.com/istio/istio/pull/9200

[2018-10-08 22:10] douglas-reid commented on #8906
@bobbytables any update on replication with the latest client_golang?

[2018-10-08 22:23] huydinhle commented on #9012
I got it to work with istio 1.0.2

[2018-10-08 22:23] #9012 closed

[2018-10-08 22:33] nmittler opened #9207 "[test-framework] Support Helm values via flags"
The number of command-line flags used to override helm is getting a bit long.  We should come up with a more robust solution here.

Some options here:

- a single comma-delimited flag containing all of the overrides.
- a values file
- a combination? something else?

[2018-10-08 23:28] huydinhle commented on #6380
@bianpengyuan  I added this
[code]
into that accesslog logentry file but the urlPath comes up as empty string `""`

[2018-10-08 23:33] ozevren commented on #6479
Implemented: https://github.com/istio/istio/pull/8831

[2018-10-08 23:33] #6479 closed

[2018-10-09 02:14] gyliu513 opened #9211 "Remove `mixerCheckServer` and `mixerReportServer` from Helm Chart"
This is a follow up issue for PR https://github.com/istio/istio/pull/9180#discussion_r223215901

For the parameters of `mixerCheckServer` and `mixerReportServer`, from the helm chart description, it is deprecated in mixer as mixer is now using EDS, so can we remove those parameters from helm chart?

/cc @rshriram @sdake

@Rigdon I found that the `istio-remote` chart was also using those parameters

[2018-10-09 02:33] x15zhang opened #9212 "VirtualService does not allow IP address+Port in host"
**Describe the bug**
When I set virtualservice as below:
[code]
galley report error:
[code]
But actually the configration can work well without galley validation.

**Expected behavior**
Galley allow IP address+Port for host of virtualservice

**Version**
istio version v1.0.0
kubenetes version v1.9.3

[2018-10-09 03:18] #6986 closed

[2018-10-09 03:28] pgnaleen commented on #9190
![capture](https://user-images.githubusercontent.com/6938631/46645161-3db14100-cba1-11e8-9d3e-af9b985a64ba.JPG)

![capture](https://user-images.githubusercontent.com/6938631/46645222-7f41ec00-cba1-11e8-807c-6f3644de6ff7.JPG)

[2018-10-09 03:29] pgnaleen commented on #9190
only my service missing

[2018-10-09 03:56] pgnaleen commented on #9190
apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: sms-test-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: smsoffer-test
spec:
  hosts:
  - "*"
  gateways:
  - s

[2018-10-09 03:59] gyliu513 commented on #9190
Please check https://istio.io/docs/setup/kubernetes/spec-requirements/ for
service tracing requirement, your service are missing named ports, this
will cause the service cannot be traced by Jaeger.

On Tue, Oct 9, 2018 at 11:29 AM Nalin Kularathna <notifications@github.com>
wrote:

[2018-10-09 04:08] geauxvirtual commented on #9157
I've got a PostgreSQL database and a service working with both the postgresql pod and the service deployed with sidecars and mutual-tls enabled between the two sidecars. In your service definition for PostgreSQL, you have ClusterIP commented out. What IP does "postgresql" resolve to when you try to connect to it from the service? If it's a pod IP and not a cluster IP, it's my understanding Istio w

[2018-10-09 04:12] morvencao commented on #6806
@SleepyBrett The `proxy_init` container needs root permission to set iptable rules, so that network traffic can be intercepted and routed through envoy.

[2018-10-09 04:15] pgnaleen commented on #9190
thank you @gyliu513
now i can see my service and container on istio service dashboard. But i called few times to my loadbalance public url. But still i can't see my traffic on istio service dashboard.

http://35.200.183.248:8080/cloudtest

![capture](https://user-images.githubusercontent.com/6938631/46646484-0befa880-cba8-11e8-9704-026ceee2a192.JPG)

[2018-10-09 05:00] gyliu513 commented on #9190
Not sure about this, @douglas-reid <https://github.com/douglas-reid> ,
comments for this?

On Tue, Oct 9, 2018 at 12:22 PM Nalin Kularathna <notifications@github.com>
wrote:

[2018-10-09 05:33] pgnaleen commented on #9190
i see problem was the container port was not named.

kind: Deployment
metadata:
  name: smsoffer-test
  namespace: default
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: smsoffer-test
    spec:
      containers:
      - name: smsoffer-test-container
        image: pgnaleen/microservicesapps:smsoffer-test
        imagePullPolicy: Always
        ports:
        - containerPo

[2018-10-09 05:39] pgnaleen commented on #9190
but after run following line i can work with below url
gcloud container clusters get-credentials istio-cluster --zone asia-south1-c --project igneous-primacy-218203  && kubectl port-forward $(kubectl get pod --selector="app=smsoffer-test" --output jsonpath='{.items[0].metadata.name}') 8080:8080

https://8080-dot-4533440-dot-devshell.appspot.com/cloudtest

so my deploymetn working fine.

[2018-10-09 06:57] magicalne commented on #9047
It turns out this is due to wrong configs. I have make it to work for accessing external hbase cluster.

[2018-10-09 06:57] #9047 closed

[2018-10-09 07:10] kubaj commented on #6046
@vadimeisenbergibm I'm using a wildcard certificate, so I have only one shared certificates for subdomains.

[2018-10-09 07:14] pgnaleen commented on #9190
![capture](https://user-images.githubusercontent.com/6938631/46652545-faff6100-cbc0-11e8-93f2-4faddf6cb05e.JPG)

can anyone find the error with this image

[2018-10-09 08:11] tamizharasanr opened #9219 "Gateway pods are crashing"
**Describe the bug**
istio-egressgateway and istio-ingressgateway are crashing because the following error
`Error: unknown flag: --discoveryRefreshDelay`

**Expected behavior**
istio-egressgateway and istio-ingressgateway will crashLoopBackOff

**Steps to reproduce the bug**
Install in kubernetes using helm with following config file

[code]

**Version**
`istio version: 1.1.0.snapshot.1`
`kube ver

[2018-10-09 08:15] objectiser commented on #9190
Can you list the tags associated with the root span.

[2018-10-09 08:15] vadimeisenbergibm commented on #6046
@kubaj I see. Can you try to use a single gateway with two servers, as in this example https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/#configure-a-tls-ingress-gateway-for-multiple-hosts ?

[2018-10-09 08:20] pgnaleen commented on #9190
![capture](https://user-images.githubusercontent.com/6938631/46655829-4702d380-cbca-11e8-94cd-a834406fb57f.JPG)

[2018-10-09 08:27] pgnaleen commented on #9190
how can i find that error

![capture](https://user-images.githubusercontent.com/6938631/46656196-1bccb400-cbcb-11e8-9931-af55efceb248.JPG)

when i call url for my service i see traffic show on unknown service category not on localsms category

[2018-10-09 08:34] objectiser commented on #9190
Not sure - possibly this is showing metrics from the ingress gateway.

For the trace with the 503 root span - does it actually call your service? If so, what are the tags for the server span for your service?

[2018-10-09 10:11] jackpizarro opened #9221 "Ingress with Gateway + VirtualService not working"
Solved, please close.

[2018-10-09 10:44] #9221 closed

[2018-10-09 10:49] pgnaleen commented on #9190
**apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: sms-test-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http-new
      protocol: HTTP
    hosts:
    - "*"
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: smsoffer-test
spec:
  hosts:
  - "*"
  gateways:

[2018-10-09 12:01] hzxuzhonghu commented on #9219
Can not find where `discoveryRefreshDelay` is passed

[2018-10-09 12:13] tamizharasanr commented on #9219
I downloaded the source file instead of the binary. In the source, the deployment file of the gateway chart has that flag, And it throws the error. I fixed it by downloading binary and install again.

[2018-10-09 12:42] zoupl opened #9224 "Connect external mysql database by egress gateway does not work"
**I deployed ServiceEntry like this:**

[code]
**In a pod which have mysql client in it , i tried to connect to mysql and it is ok.**

[code]
**Later I deployed egress gateway and virtual service,  then, i tried to connect to mysql,  and it failed.
Here is egress gateway and virtualservice:**

[code]

**Here is my result:**
[code]

**It was stuck, and there was no messages in logs of egress gatewa

[2018-10-09 12:44] hzxuzhonghu commented on #9219
`--discoveryRefreshDelay` has been removed recently.

[2018-10-09 12:46] tamizharasanr commented on #9219
@hzxuzhonghu Thanks for the information. I am closing this issue.

[2018-10-09 12:46] #9219 closed

[2018-10-09 14:31] nmittler opened #9227 "[test-framework] Create helm deployment for qualification tests"
This is needed as part of automating release qualification testing.

I've just submitted #9195 that adds a conformance test, but it currently runs against a default Istio. I still need to ensure that the test works against a pre-deployed qualification system .. to do that, I need to be able to deploy the system.

Not sure the best place for it.  Possibly under `/install`, or under `/pkg/test` some

[2018-10-09 15:34] ldounis opened #9228 "Citadel standalone not working, arguments mismatch"
**Describe the bug**
Deployed istio-citadel-standalone.yaml of istio-1.1.0.snapshot.1 and citadel pod is in a crash loop.

kubectl logs istio-standalone-citadel-7f59798f4b-9k2xz -n istio-system
Error: unknown flag: --stderrthreshold

kubectl logs istio-standalone-citadel-796b8967b5-x2lqf -n istio-system
Error: unknown flag: --logtostderr

kubectl logs istio-standalone-citadel-5cb955c5fd-fbvj7 -n i

[2018-10-09 15:35] ramaraochavali commented on #9121
Apart from the problem described, there seems to an inconsistency on how listeners and per-filter-config on routes is generated  - should n't the following check be applied to routes as well?
https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/mixer/mixer.go#L60

[2018-10-09 16:29] wattli commented on #9150
Makes sense for always rewrite.

[2018-10-09 16:40] mandarjog commented on #9121
Lin, the extra / unnecessary config should be removed.

However mixer-filter is *not* being configured. Mixer will not be called from the listener config that you have pasted above.

[2018-10-09 17:10] ramaraochavali commented on #9121
@mandarjog  Are you suggesting to remove the per-filter-config?

[2018-10-09 17:14] mandarjog commented on #9121
I will remove `per-filter-config` when disabled, but it only affects the size of config. It should not have any influence on the data path.

[2018-10-09 17:14] ramaraochavali commented on #9121
Ok. Thanks.

[2018-10-09 17:14] mandarjog commented on #9121
I will update the issue title, It is currently not accurate.

[2018-10-09 17:15] ramaraochavali commented on #9121
Awesome.. Thank you

[2018-10-09 17:34] #9197 closed

[2018-10-09 18:38] huydinhle commented on #6380
@bianpengyuan ping !

Any update?

[2018-10-09 18:40] venilnoronha opened #9234 "mixer: adapter code-gen errors out"
**Describe the bug**
Mixer adapter code-gen fails with the following log.

[code]

**Steps to reproduce the bug**
1. Copy the [wavefront](https://github.com/vmware/wavefront-adapter-for-istio/tree/master/wavefront) directory to under `$GOPATH/istio.io/istio/mixer/adapter/mygrpcadapter/config/`
2. Execute `go generate ./...` from `$GOPATH/istio.io/istio/mixer/adapter/wavefront/`

[2018-10-09 18:51] venilnoronha commented on #9234
Closing this as code-gen works fine at the latest 229583e141744e55ee0741fd4661e953eb6b2f10 commilt.

[2018-10-09 18:51] #9234 closed

[2018-10-09 18:53] myidpt commented on #9228
Quick fix is to remove the two flags from the deployment args.
I will have a PR to fix it.

[2018-10-09 19:01] bianpengyuan commented on #6380
@huydinhle Hey, I checked again, actually the feature is not implemented in 1.0 branch. It is in master branch and should be ready in 1.1 release.

[2018-10-09 19:04] huydinhle commented on #6380
@bianpengyuan I saw the code for this feature in these 2 PRs.
 - https://github.com/istio/proxy/pull/1837 --> this is in istio/proxy:1.0.2
 - https://github.com/istio/api/pull/566 --> this is only in master of istio/istio

So I build a mixer image with the second PR( https://github.com/istio/api/pull/566) and rolled it into our istio setup. But the urlPath is still missing.

Am I missing anything

[2018-10-09 19:49] bianpengyuan commented on #6380
@huydinhle I don't think istio/proxy#1837 is merged into 1.0 branch. I am wondering why do you think so?

[2018-10-09 20:39] ldounis opened #9237 "typo in istio-demo-auth.yaml"
**Describe the bug**
just a minor typo in istio-demo-auth.yaml

   # Destination rule to **dislabe** (m)TLS when talking to API server

dislabe => disable.

some references also in the code: https://github.com/istio/istio/search?q=dislabe&type=Code

**Version**
1.1.0-snapshot.1

[2018-10-09 20:40] huydinhle commented on #6380
ouch my bad, I thought these are the commits that went into 1.0.2 https://github.com/istio/proxy/compare/1.0.2...master. My mistake, sorry about that @bianpengyuan

[2018-10-09 20:44] loewenstein commented on #7132
@vadimeisenbergibm is everything ready to replace the deprecated usage? As far as I remember limited support for filter chain matches was a reason to keep using v1 tcp_proxy...

[2018-10-09 20:45] peterhaochen47 commented on #6984
@liminw I see. Thank you!

I'm trying ServiceRoleBinding on Istio-1.1-snapshot.1. And the following yaml is not working:
[code]

Error:
[code]

Is this RBAC improvement in a later release/snapshot?

[2018-10-09 20:52] peterhaochen47 commented on #6984
@liminw As a separate discussion, for the AND semantic for list-type claims. I see how `request.auth.claims[scope]-n` would work, but it looks a bit clunky, as least to me?

For me, a more intuitive grammar would be that the following represents **AND**:
[code]
And the following represents **OR**:
[code]
What do you think? Is there any technical inconsistency with this? Perhaps we could ask some p

[2018-10-09 21:05] mandarjog opened #9238 "Harmonize pilot self metrics"
At present pilot exposes many types of prometheus metrics.
More metrics are being added that pre-aggregate all types of errors.
Some metrics are written in a statsd style, where labels are encoded in names.

All these metrics should be harmonized to produced dimensioned metrics where possible. With properly dimensioned metrics, there is no need for pre-aggregation.

Note: resource type names can b

[2018-10-09 21:05] mandarjog commented on #9238
FYI @ostromart @costinm

[2018-10-09 21:21] ayushpateria opened #9239 "gRPC services not working across node restarts"
We run Istio 1.0.0 on GKE. There is an HTTP gateway at the front which connects to various grpc services in the cluster. The services are on GKE preemptible node. Whenever there is a preemption and the node restarts, many gRPC streams start to reset and we encounter many 5xx responses on the gateway. The strange thing is the gRPC resets are not only b/w the pod which was killed due to the preempti

[2018-10-09 21:22] costinm opened #9240 "Mesh expansion missing ISTIO_VERSION"
**Describe the bug**
Docker image for proxy has ISTIO_META_ISTIO_VERSION=1.0.2, which causes RBAC and other
plugins to generate config. It is missing in the startup script for mesh expansion.

[2018-10-09 22:07] #6661 closed

[2018-10-10 01:40] clyang82 commented on #9119
I think that should be related with the network settings. Your pod is running in node1. but you cannot connect the pod in node1. I have tried in my environment, it works well. You may try to use service clusterIP to have a try. You can find it by running `kubectl get svc | grep httpbin`

You also can append the `route` result in node1.

[2018-10-10 02:30] zoupl commented on #9224
I found egress gateway only support 80 and 443, which is http and https. Is TCP not supported by egress gateway?

[2018-10-10 02:31] zoupl commented on #9224
[code]

[2018-10-10 02:33] johnzheng1975 opened #9246 "Can we change default istio deployment replicator from 1 to 2?"
By default, the replicator is only 1 for all istio deployment, which will bring “single point failure” issue.
One quick question, can I change their replicator to 2, and minpods of HPA to 2, as below?

I am doubt it especially for istio-pilot.

[2018-10-10 02:34] johnzheng1975 commented on #9246
Previous:
![image](https://user-images.githubusercontent.com/17720035/46709821-f77ae100-cc77-11e8-8732-4418901c1357.png)

Current:
![image](https://user-images.githubusercontent.com/17720035/46709831-0497d000-cc78-11e8-96e2-5e515b936811.png)

[2018-10-10 03:52] consult-kk opened #9247 "Unable to expose Grafana through the ingress gateway"
Hi,
I am working with Istio 1.0.2 on GKE. I am able to deploy services like eureka and consul in my default namespace and expose them to the outside world using the virtualservice.
But when I attempt the same with the Grafana service ( installed along with istio ) , it dont seem to work. Here is the Grafana VirtualService YML file I am using . Rest of the Istio installation is default and I have n

[2018-10-10 03:55] pgnaleen commented on #9190
can anyone tell me what is this destination

destination:
host: smsoffer-test
#host: smsoffer-test-container
port:
name: http-new
number: 8080**

is this host is service name or container name..... should i specify the container port

[2018-10-10 04:06] lichuqiang commented on #8772
One thing I can't decide is that in the proto files, we have some fields defined with `google_protobuf` types.
I guess users would not like to see this in k8s style codes. Take `*google_protobuf.Duration` as an example, the knative folks make it string: https://github.com/knative/pkg/blob/master/apis/istio/v1alpha3/virtualservice_types.go#L179

As I'm not so familiar with protobuf, wondering if th

[2018-10-10 05:03] #9237 closed

[2018-10-10 05:20] adamzhoul opened #9248 "pilot, ConnectedEndpoints number incorrect"
**Describe the bug**
pilot has 10 connectedEndpoints,
but pilot discovery log  shows:
`2018-10-10T04:44:34.425156Z	info	ads	XDS: Pushing 2018-10-10T04:44:34Z Services: 222, VirtualServices: 61, ConnectedEndpoints: 1441`

exec onto the pilot pod, we can see only 10.
[code]
besides, I only have 373 pods in the cluster in total.
[code]

By the way, this also effect  pilot_xds{job="pilot"}  which will

[2018-10-10 05:46] clyang82 commented on #9155
Here should be the reason that you are always not able to get reviews:
You’ll find out that the productpage microservice also has its own application-level timeout (3 seconds) for calls to the reviews microservice. so you set the rating service delay 11s which leads to timeout occurs in productpage microservice. You can set the `fixedDelay: **2s**`. it should be working. for more details, please r

[2018-10-10 06:12] vadimeisenbergibm commented on #7132
@loewenstein I do not know, sorry. This issue is open to track that switch, I do not claim it must/could be done immediately

[2018-10-10 06:13] clyang82 commented on #9247
Please append the output of `kubectl get gateway istio-gateway -o yaml -n istio-system` and `kubectl get svc grafana -o yaml -n istio-system`

[2018-10-10 07:51] nakabonne opened #9249 "Outputs an warning when an unexpected NodeType is passed"
**Describe the feature request**
Hi, This is a small proposal.
[Here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/listener.go#L97) and [here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/httproute.go#L43), there is processing that ConfigGeneratorImpl generates Resource according to the passed NodeType.
When an unexpected NodeType c

[2018-10-10 07:54] nakabonne commented on #9249
If it does not matter, I would like to fix it.

[2018-10-10 08:13] nakabonne commented on #9249
Should such a small proposal be discussed within the mailing list?

[2018-10-10 08:42] swistaczek commented on #8443
@marshall007 did you tried to use changes introduced in #7488? I have the same issue related to SecurityContext and changes from above PR did not help, there is still error related to 'Permission denied' and iptables.

[2018-10-10 10:11] #9188 closed

[2018-10-10 10:21] kevindwei opened #9252 "istio 1.01 container is not connect to aliyun rds with ssl"
**Describe the bug**
istio 1.01 containeri is not connect to  aliyun  rds with ssl

**Expected behavior**
sslhandshakeException

**Version**
istio1.01 k8s1.11.2

**Installation**
docker

**Environment**
centos7 aliyun

[2018-10-10 10:56] ozevren commented on #8772
There are well-known conversion functions:
https://github.com/golang/protobuf/blob/master/ptypes/duration.go#L76

On Tue, Oct 9, 2018 at 9:07 PM lichuqiang <notifications@github.com> wrote:

[2018-10-10 11:50] consult-kk commented on #9247
[code]
and here are the details for the grafana service....

[code]

[2018-10-10 12:20] adamzhoul opened #9254 "pilot_xds_eds_instances data incorrect"
**Describe the bug**
  prometheus metrics data incorrect

[code]

[code]

From above we can see, only one pod exists. but pilot_xds_eds_instances contains several other versions.

[2018-10-10 13:21] beorn7 commented on #8906
Yeah, I would be very interested in the results of that...

[2018-10-10 13:42] danielfoehrKn commented on #6593
Hi,
I am also currently having an issue with the connection to CloudSQL from my istio cluster.

I am using https://github.com/GoogleCloudPlatform/cloud-sql-jdbc-socket-factory (NOT the CloudSQL Proxy).

 The way it worked for me was to configure the sidecas to only intercept mesh-internal traffic as described here: https://istio.io/docs/tasks/traffic-management/egress/#calling-external-services-di

[2018-10-10 14:29] ijsnellf opened #9257 "codecov fails on seemingly random test packages"
Some examples:
[code]
2x:
[code]
[code]

The last 5 jobs are all failures:
https://circleci.com/gh/istio/istio/213186
https://circleci.com/gh/istio/istio/213171
https://circleci.com/gh/istio/istio/213201
https://circleci.com/gh/istio/istio/213186
https://circleci.com/gh/istio/istio/213201

Seems to work fine locally on my dev env.

[2018-10-10 14:52] eduardobaitello commented on #6566
@naveeng68 you need to set the `tls.httpsRedirect` on your gateway to **true**, as used [here](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Gateway):
[code]

According to [Server.TLSOptions](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#Server-TLSOptions):

[2018-10-10 15:08] beorn7 commented on #8906
https://github.com/prometheus/client_golang/pull/478 suggests current client_golang is working fine.

[2018-10-10 15:35] zowiehi commented on #7776
Hi Everyone 👋
I am looking to use an nginx ingress with Istio as well, however the solution outlined here has an important drawback: the annotation `nginx.ingress.kubernetes.io/service-upstream: "true"` does not permit session affinity, which is crucial to my application. I am curious if you may have any advice @Stono, my first guess would be to use a headless service to achieve this but my attemp

[2018-10-10 17:17] myidpt commented on #8661
@elevran Please see my comment in https://github.com/istio/istio/pull/9059#pullrequestreview-163458139.
For your first item, I think we should store the identityDomain in ConfigMap and have each deployment refer to it as env variables. The benefits are:
1. You have a centralized place to track the identityDomain of the cluster. It also avoids mismatching of the identityDomain arg, especially for m

[2018-10-10 17:20] douglas-reid commented on #9247
Have you looked at the config for the `telemetry-gateway` ?  It is a working example of basically what you are trying to do. Please see: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/telemetry-gateway/templates/gateway.yaml

[2018-10-10 17:29] marcusrios commented on #9037
Hello @cmcconnell1, thanks for the tip!

After re-installation of the istio the annotation are passed on as expected.

[2018-10-10 17:35] eyeofthefrog commented on #8839
I'm seeing similar issues with 1.0.1 on every restart of the pods....and it's not consistent. I'm using the istio-policy pods for my testing. Sometimes a pod will have no errors in the log, sometimes only 2-3 adapters will have issues with "unknown attributes", and sometimes all the adapters have issues. For example, here are four istio-policy pods running right now:

[code]

[2018-10-10 17:48] iftachsc commented on #8583
+1  on 1.0.2 :(

[2018-10-10 17:55] iftachsc commented on #8583
why is this closed? still hapenning in nightly build as for today.

[2018-10-10 18:28] iftachsc commented on #7860
+1
i create service account for a microservice and then i immediately (in a script) manually injecting it istioctl kube-inject. the deployment spec i deploy refers to the newly created service account in the spec in serviceAccount field. the mounted volume is still from the istio.default secret. any idea? i am on istioctl 1.0.2  and tried both 1.0.2 and last nightly build of istio 1.0.

[2018-10-10 18:35] ChamaraG commented on #9119
@clyang82, the cluster IP works fine, but the kubelet does not use the cluster IP to check pod health. We need to access the pod from the node it is running in to ensure that readiness and liveness probes work.

The route results are like this (note that the pod I was testing with above is long gone). The pod IP is assigned to  a `vethxyz` interface.
[code]

[2018-10-10 19:08] bianpengyuan commented on #8839
@eyeofthefrog Do those errors persist and make mixer stop working, or they just showed up in initialization and was eventually resolved? If it is the latter then the errors are expected. Mixer used to wait 30s at initialization for all CRs. Now it does not wait and processes CRs whenever they reaches mixer, which means there could be race like instance CRs come into mixer before attributes manifes

[2018-10-10 19:12] consult-kk commented on #9247
Hi,
Thanks for the reply. But I tried the following commands to install/configure istio :

[code]

Even with this.. the telemetry YML contents are not generated.. and the section in istio.yml is empty
and given this setup .. what do I need to now access grafana. Ideally I would only need an ingress service to expose Grafana. But that also doesnt seem to be the case.
Any help is appreciated on this

[2018-10-10 19:28] eyeofthefrog commented on #8839
@bianpengyuan It never works if I see the initial error.

When you say the mixer used to "wait" for the CRDs, what do you mean exactly? Does it have to wait on the already loaded CRDs to be read from the system.....or is it waiting on newly loaded CRDs to be available? My Istio cluster is a week old. Just restarting the policy or telemetry pods still results in the "unknown attribute" issue withou

[2018-10-10 19:48] dgurindapalli commented on #7302
Thanks to xaka, yourt solution worked for me, I was using with newrelic

[2018-10-10 20:04] douglas-reid commented on #9247
@consult-kk you were missing some of the helm options needed. this is a bit confusing, to be fair. You need `telemetry-gateway.gatewayEnabled` set to `true`, a la:

`$ helm template install/kubernetes/helm/istio --name istio --namespace istio-system --set grafana.enabled=true --set telemetry-gateway.grafanaEnabled=true   > istio.yml`

[code]

[2018-10-10 20:55] ijsnellf commented on #3168
`verbosity` has been deprecated. The pilot-agent `--proxyLogLevel` arg serves a similar purpose. Closing.

[2018-10-10 20:55] #3168 closed

[2018-10-10 21:03] mandarjog commented on #9099
@kyessenov

[2018-10-10 21:07] #8951 closed

[2018-10-10 22:36] ssuchter commented on #6146
I want to check on the status of this. I see that in PR 7236, Shriram indicated that it fixes this issue:

@rshriram/@andraxylia can you confirm that this issue is actually closed, or should still be open?

[2018-10-10 23:04] #9207 closed

[2018-10-10 23:43] hatmatter opened #9265 "Galley ignores logging arguments from the command line"
**Describe the bug**
The Galley service doesn't properly handle logging options that are passed to it on the command line. If the deployment is modified to include `--log_output_level=default:debug` the option is not applied to the Server and Validation go routines when Galley starts. Instead these go routines are always passed the DefaultArgs struct.

[`galley/cmd/galley/cmd/root.go: 49-50`](http

[2018-10-10 23:57] andraxylia commented on #6146
In fact, with the latest changes in master, you only need to configure a ServiceEntry for "*", like below. I will close this issue for now, please re-open and ping me if you still have problems.

apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: external-svc
spec:
  hosts:
  - "*"
  location: MESH_EXTERNAL
  ports:
  - number: 80
    name: http
    protocol: HTTP
   res

[2018-10-11 00:30] mdemirhan commented on #6146
@andraxylia Thanks. I am assuming that this will work with all supported protocols (HTTP|HTTPS|GRPC|HTTP2|MONGO|TCP|TLS) - let me know if that is not the case.

Also, is there a way to enable egress over all ports for all protocols?

[2018-10-11 00:37] #9098 closed

[2018-10-11 00:42] mdemirhan commented on #6146
@andraxylia  Forgot to ask: in which version of Istio will this be included?

[2018-10-11 00:48] JohnMicl commented on #9083
I hava got the same problem.Did you solve it?

[2018-10-11 01:48] hzxuzhonghu commented on #9257
/cc @stewart-yu

[2018-10-11 02:02] hzxuzhonghu commented on #9265
I tested and it works for me.

[2018-10-11 02:14] hzxuzhonghu commented on #9249
@nakabonne We have three kind of type totally: sidecar, ingress and router. In pilot this value is parsed from discovery request. So i think log a warning is reasonable.

[2018-10-11 02:36] consult-kk commented on #9247
Hi Douglas,
Thanks for your help. I was able to expose Grafana to the outside world.
Now I have couple of questions  :

1) Can I use deploy a different ingressgateway for all my microservices and still have the metrics gather by Grafana running in the istio-system namespace.
2) if not, should I use the one single ingressgateway to allow access to all of my microservices APIs, if so how would I go

[2018-10-11 02:41] stewart-yu commented on #9257
/assign
will have a look

[2018-10-11 02:41] istio-testing commented on #9257
@stewart-yu: GitHub didn't allow me to assign the following users: stewart-yu.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/9257#i

[2018-10-11 02:50] xiaoxi1989 opened #9268 "VirtualService weight not work."
**Describe the bug**
i have 2 versions app

[code]

there is a server will request them,it return istio-test-server-b hostname

`service: istio-test-server-a
`

VirtualService

[code]
DestinationRule

[code]
request 10 times,return
[code]

**Expected behavior**
request 10 times
istio-test-server-b-69bcbc5948-2gxwr
istio-test-server-b-69bcbc5948-2gxwr
istio-test-server-b-69bcbc5948-2gxwr
istio-test

[2018-10-11 02:56] eyeofthefrog commented on #8839
I reinstalled everything and I'm unable to reproduce this issue. I'll play around with it more, but I don't think there's anything to look into deeper for now. Thanks.

[2018-10-11 03:06] hatmatter commented on #9265
Interesting.. can you post the commands section of your deployment yaml and the log output showing the settings being used? You tested it on the 1.1.0 snapshot?
Begs the question of whether I am misinterpreting the code, which I thought showed why it was not being applied.

[2018-10-11 03:16] hatmatter commented on #9265
[code]
[code]

[2018-10-11 03:18] #9268 closed

[2018-10-11 03:18] xiaoxi1989 commented on #9268
my misstake, VirtualService hosts is wrong.

[2018-10-11 03:28] hzxuzhonghu commented on #9265
[code]
logs:
[code]

[2018-10-11 03:31] hzxuzhonghu commented on #9265
Oh, I know what you mean now. The `LoggingOptions` does not match the input flags.

[2018-10-11 03:37] hatmatter commented on #9265
Yep yep. Adding:
```serverArgs.LoggingOptions = loggingOptions```
after [galley/cmd/galley/cmd/root.go:74](https://github.com/istio/istio/blob/1.1.0.snapshot.1/galley/cmd/galley/cmd/root.go#L74) propagates the settings to the server go routine.

[code]

[2018-10-11 03:40] hzxuzhonghu commented on #9265
But another concern  we should only call ` log.Configure once`

[code]

So @hatmatter Can you remove the LoggingOptions from server.Args?

[2018-10-11 03:41] hzxuzhonghu commented on #9265
Or we can remove the first call in `PersistentPreRunE`

[2018-10-11 03:51] hatmatter commented on #9265
It looks like removing the call in `PersistentPreRunE` will make it consistent with how the other apps are written.

[2018-10-11 04:02] hzxuzhonghu commented on #9265
sgtm

[2018-10-11 04:14] supereagle commented on #9249
+1
It would be better to print the node type in the warning.

[2018-10-11 04:32] nakabonne commented on #9249
@supereagle
Thank for your request!

@hzxuzhonghu
Thank you for your reply.
Then, may I add warning with NodeType [here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/listener.go#L97) and [here](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/httproute.go#L43)?

Like this:

[code]

[2018-10-11 04:43] madarou commented on #8483
met same issue.
Both `match: match(request.headers["cookie"], "session=*") == false` and `match: match(request.headers["cookie"], "user=*") == false` does not work for logged in user.
istio-1.0.1

[2018-10-11 05:47] kgoralski commented on #8049
installed with latest release from `helm` and I got panics with any `istioctl`
reverted everything to 1.0.0. - `istio` and `istioctl`, and now it works fine.

[2018-10-11 07:36] Kiran01bm opened #9272 "istio/install/kubernetes/istio-demo-auth.yaml: No such file or directory""
Trying to install istio with Ansible on Openshift. I've attempted both with and without auth and for both cases I get the "No such file or directory" for the istio-demo.yaml and istio-demo-auth.yaml files. The .gitignore excludes both these files.

To be able to deploy istio on Openshift Container Platform or can the documentation on https://istio.io/docs/setup/kubernetes/ansible-install/#deploy-w

[2018-10-11 07:39] swistaczek commented on #7964
Hey, is there any way to set ```x-forwarded-proto`` header?

[2018-10-11 09:10] Wayne-Liu commented on #7583
I use "kubeadm" install K8S 1.12，and Helm install istio 1.0.2， @ayj use your method add `--set global.configValidation=false` ,my create works!
[code]

[2018-10-11 10:03] vijaykumark opened #9273 "Pilot discover conflict logs and port conflicts"
**Describe the bug**
Our application is running on Istio 1.0.2. There are two sets of keycloak and freeipa running outside the istio cluster but in the same k8s cluster. Cassandra is also running outside istio.  There are applications listening on same ports but over ClusterIP type services. Does it cause conflict in istio?

Below attached logs for istio pilot where there are several logs mentioni

[2018-10-11 10:11] naveeng68 commented on #6566
@eduardobaitello .  its not working: (please find my code) I am using AWS certificate
mention annotation under istio-ingressgateway
annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "arn:aws:iam::****/my-company-com-crt"
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"
    service.bet

[2018-10-11 10:54] xeviknal opened #9274 "Galley fails with watch of *unstructured.Unstructured ended with: The resourceVersion for the provided watch is too old."
**Describe the bug**
Galley pod is up and running but I get the following errors on its pod logs:

[code]

**Expected behavior**
Kubernetes should perform the webhook to galley and I should see galley validation messages when creating, for instance, a new invalid virtual service.

Right now, I am allowed to create virtual services with DestinationWeights that sums more than 100.

**Steps to reprod

[2018-10-11 11:01] pgnaleen commented on #9190
please anyone has a comment.

[2018-10-11 11:07] eduardobaitello commented on #6566
@naveeng68 when doing [SSL Termination](https://aws.amazon.com/pt/blogs/aws/elastic-load-balancer-ssl-support-options/) the expected backend protocol is **HTTP**, not HTTPS (as I noted in my last comment).

You are even explicit setting [this](https://github.com/kubernetes/kubernetes/blob/8f620950e246fab5b6bac25682a0b5db312bbe25/pkg/cloudprovider/providers/aws/aws.go#L168-L175) in your service `se

[2018-10-11 12:47] kgoralski commented on #6918
+1

[2018-10-11 12:55] joseba4242 commented on #1430
+1 for UDP support. Use case is DNS, NTP, Syslog and SNMP Traps.

[2018-10-11 13:08] pepjo commented on #9157
Hi @geauxvirtual ,

I commented this line to show that I already tried that option. If I am not mistaken, if I don't include the type of service kubernetes defaults to CluterIP anyway.

Just to make sure, I un-commented the line and tried again and I still see the message error in the istio sidecar:
[code]

I removed that comment following [this conversation in google groups](https://groups.google

[2018-10-11 13:18] swistaczek commented on #7964
I "hot-fixed" this issue with following VirtualService:

[code]

[2018-10-11 14:11] wmuizelaar opened #9275 "ServiceEntry, Gateway, DestinationRule, Virtualservice all clusterwide in stead of namespaced?"
**Describe the bug**
I would expect the ServiceEntry, Gateway, DestinationRule, Virtualservice to be namespaced, as the CRD defintion states. It seems they are applied clusterwide! Using the egress gateway example (https://istio.io/docs/examples/advanced-egress/egress-gateway/#direct-https-traffic-through-an-egress-gateway) this implies that when 1 app in 1 namespace uses these to open up an exter

[2018-10-11 14:15] jmazzitelli commented on #8049
This doesn't work with Istio 1.0.2 release:

[code]

Running those 4 commands returns the following panic. Notice, the last command is using istioctl that comes right with the 1.0.2 tarball, so it still happens even when using the istioctl binary that comes with the release:

[code]

[2018-10-11 15:52] sebastien-prudhomme commented on #8049
@nmittler  I'm repeating, sorry: it's related to this PR #8624 in the daily release-1.0 branch. I have no problem with an Helm chart patched by removing this PR.

[2018-10-11 16:02] kgoralski commented on #8049
@sebastien-prudhomme which helm chart is patched?

[2018-10-11 16:09] brian-avery opened #9277 "Mixer OOP Adapters Should Support Deadlines on GRPC Requests"
**Describe the bug**
Currently, there is no deadline on requests for OOP GRPC adapter requests. Mixer waits for all adapters to respond and this means that a misbehaving adapter can delay a request indefinitely.

**Expected behavior**
Unresponsive OOP adapters should eventually time out.

**Steps to reproduce the bug**
Create an OOP adapter and add a sleep to the processing function, say 20 minute

[2018-10-11 16:12] supereagle commented on #9272
There is already a warning before all steps.

[2018-10-11 16:20] supereagle commented on #9224
You can refer to [Consuming External TCP Services](https://istio.io/blog/2018/egress-tcp/)

[2018-10-11 16:55] douglas-reid commented on #9247
@consult-kk There is no requirement for the gateway used to access Grafana to be the same as the one used for accessing other services.

[2018-10-11 17:00] geauxvirtual commented on #9157
Using Istio 1.0.1. I have  a policy to enable Mutual TLS on port 5432 for the postgresql service, but I didn't have any issues connecting before enabling Mutual TLS either.

Can you exec into the istio-proxy container injected into your service and see what IP nslookup is returning for the `postgres` service you are trying to connect to?

[2018-10-11 17:08] sebastien-prudhomme commented on #8049
@kgoralski i made my own Istio chart build on the official one but without  what is done on install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml in #8624

[2018-10-11 17:15] danielfoehrKn commented on #6593
**UPDATE:** I got it working with a slightly different configuration using jdbc Socket Factory (in case somebody faces the same problems) connecting to CloudSQL Mysql 2.Gen.

Difference to @yskopets @veryhumble configuration:
 - No "Adresses field" /CIDR block in cloud-sql-instance service entry
 - Resolution: DNS for the service entry that allows the connection to the CloudSQL Instance

[code]

[2018-10-11 17:39] kyessenov commented on #8986
This probably will benefit greatly from OOP adapters. Adapters can be installed and activated independently from the core installation.

[2018-10-11 19:13] denniseffing commented on #8526
@DaspawnW When I first commented in this issue, I thought that your `request.auth.principal` issue is directly related to the rate limiting per client IP issue, **but it is not**. I didn't know that the `x-forwarded-for` header contains the wrong IP address (which is stated in #7679 and explains why rate limiting per client IP doesn't work).

I hope this clarifies the misunderstanding.

[2018-10-11 19:47] jmazzitelli commented on #8539
Kiali upgrade to v0.9 - https://github.com/istio/istio/pull/9276

[2018-10-11 19:53] kdillane commented on #8539
When is the Istio 1.0.3 release expected to go out?

[2018-10-11 20:33] HugoReeves commented on #7486
Running on v1.10.7-gke.2
Istio version v1.0.2

As an extension to this issue, I am having problems with the sidecar injector in scenarios where the deployment/statefulset explicitly prohibits running as root via securityContext.
Is there a workaround currently. I am trying to deploy the CoreOS Prometheus operator within a Sidecar Auto-inject namespace. When the operator generates and deploys a Pro

[2018-10-11 21:13] arnaud-deprez commented on #8387
Hi, I'm facing the same issue with istioctl 1.0.2.
Has it been fixed somewhere, I don't see any git commit to it to solve the istioctl injection.

[2018-10-11 21:13] ostromart commented on #6523
It looks like you're hitting the same issue as here, try setting PERMISSIVE mode.
https://groups.google.com/forum/#!topic/istio-users/0HuocyjGa8w

[2018-10-11 21:48] #4128 closed

[2018-10-11 22:48] #4009 closed

[2018-10-12 01:45] xiajidexue opened #9288 "Use the same hostIP and different Ingress Gateway ports to distinguish different Kubernetes services"
**Describe the feature request**

{{ Succinctly describe your request }}
I use hostnetwork for the Ingress Gateway pods, i expect that i can access different services by the same hostIP and different Gateway ports, hostIP is the IP of the host an Ingress Gateway pod scheduled on.

**Describe alternatives you've considered**
{{ Describe alternative solutions or workarounds you've considered. }}
One

[2018-10-12 01:48] #2161 closed

[2018-10-12 02:10] xiajidexue opened #9289 "Use different Ingress Gateway ports cannot distinguish different Kubernetes services"
**Describe the bug**
Use the same hostIP with different Ingress Gateway ports cannot distinguish different Kubernetes services

**Expected behavior**
Use the same hostIP with different Ingress Gateway ports can distinguish different Kubernetes services.

**Steps to reproduce the bug**
1. Create Ingress Gateway pod with hostnetwork
2. Create two gateways with different port and gateway names.
Gatew

[2018-10-12 02:48] #2160 closed

[2018-10-12 03:44] xiaoxi1989 opened #9291 "DestinationRule *.local means every service? even dns domain is't cluster.local"
**Describe the bug**
my dns domain is cxx.com:
[code]

[code]
[code]
`for from in "foo" "bar" "legacy"; do for to in "foo" "bar" "legacy"; do kubectl exec $(kubectl get pod -l app=sleep -n ${from} -o jsonpath={.items..metadata.name}) -c sleep -n ${from} -- curl http://httpbin.${to}:8000/ip -s -o /dev/null -w "sleep.${from} to httpbin.${to}: %{http_code}\n"; done; done`

[code]

if change Destinati

[2018-10-12 03:48] #1467 closed

[2018-10-12 04:32] kayleg opened #9292 "Downstream disconnects reported as status 500"
**Describe the bug**
When a client disconnects before envoy can return a response, log entry has response code of 0 but telemetry records the result as a status 500. This shows up in prometheus and grafana as status 500 as well.

**Expected behavior**
Not entirely sure, but it seems like `500` is incorrect. There wasn't any internal server error; the client disconnected so envoy correctly aborted

[2018-10-12 04:37] dotw commented on #8553
I need to feature too. We must change the sidecar configuration based on the service types. e.g give more limited resources for transaction-intensive services, and less for others.

[2018-10-12 04:48] #1206 closed

[2018-10-12 04:58] xiajidexue commented on #6045
I have the same requirement, have you got the solution or workaround?

[2018-10-12 05:02] xiajidexue commented on #6045
Only one way you entioned to match wodepan's requirements? are there other ones?

[2018-10-12 05:48] #5769 closed

[2018-10-12 05:58] xiaoxi1989 commented on #9291
kubernetes cluster domain must cluster.local?

[2018-10-12 06:24] mandarjog opened #9294 "Segfault: ingressgateway in istio-release-1.0-20181006-09-15"
ingress gateway coredump with the following log
[code]

backtrace :-

[code]

[2018-10-12 06:39] hzxuzhonghu opened #9296 "GetProxyServiceInstances should be more efficient"
GetProxyServiceInstances
 https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L413-L471

Now it iterates over all endpoints in k8s cluster. And get its service and do some kind of compare&conversion work.
In cluster with massive of services and endpoints, pilot could be very slow .

We should get the services by the way kubernetes endpoint_controller does: using

[2018-10-12 06:40] hzxuzhonghu commented on #9296
/cc @costinm @rshriram @yangminzhu @ZackButcher

[2018-10-12 06:48] #4048 closed

[2018-10-12 06:59] kgoralski opened #9297 "Istio and kiam/kube2iam together"
Hi! I have a question. Can I use tools like kiam/kube2iam or GoogleCloudPlatform/k8s-metadata-proxy that integrates AWS IAM or GCP (Metadata API) with k8s.... together with istio? Can I install it and it should just work or I need to configure it somehow?

Installed kiam (without istio and sidecar) and after that installed istio and everything seems to work fine, but actually I'm not sure how ever

[2018-10-12 07:06] hklai commented on #9294
It looks like the tests have become more flaky.
https://github.com/istio-releases/daily-release/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+release-1.0

I just kicked off the failed tests again in
https://github.com/istio-releases/daily-release/pull/1064

Will follow up in the morning.

On Thu, Oct 11, 2018 at 11:27 PM mandarjog <notifications@github.com> wrote:

[2018-10-12 07:33] blerko commented on #7174
I hit this issue when trying to run the minimal install as outlined in the docs: https://istio.io/docs/setup/kubernetes/minimal-install/ the missing secret is created by the citadel pod which isn't running due to the the --set security.enabled=false flag, setting that to true starts citadel and the secret is created and then pilot will start.

[2018-10-12 07:37] leighyu1983 commented on #9083
Solved by upgrading CPU to 4 cores and memory to 6GB.

[2018-10-12 10:45] SiriusRed commented on #6523
It's my issue in google groups.

I tried it, however it doesn't work, because istio doesn't have support permissive mode for TCP.
Here is the issue with this problem.

https://github.com/istio/istio/issues/8540

[2018-10-12 10:52] xiajidexue commented on #6045
I have solved this problem, now i can use Ingress gateway IP and different ports to distinguish different Kubernetes services.

[2018-10-12 11:00] xiajidexue commented on #9289
Close it as I have solved the problem

[2018-10-12 11:00] #9289 closed

[2018-10-12 11:48] #6234 closed

[2018-10-12 12:48] #3289 closed

[2018-10-12 13:31] frankbu commented on #6045
Doesn't this help solve @wodepan's problem? https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host

[2018-10-12 13:53] Dagon- commented on #7607
I'm just running into this as well. According to this:
https://github.com/istio/istio/issues/7679
Setting `externalTrafficPolicy: Local` in the ingress-gateway service will cause the real client IP to be passed through.

That's causing connectivity issues for me though.

[2018-10-12 13:55] hypergig commented on #8182
@silvasong this may sound silly by are the sidecar injector pods running? This is the backend for that service and do not assume they are up.

Are you configuring ` enableNamespacesByDefault: true`?
[code]
If so, be careful that the istio namespace isn't trying to inject on itself, this may at times cause a [chicken or the egg](https://en.wikipedia.org/wiki/Chicken_or_the_egg) issue depending on t

[2018-10-12 14:02] dream83619 opened #9299 "NodePort GRPC failed after inject istio"
**Describe the bug**
After inject istio, connect to grpc got error:
[code]

**Expected behavior**
Success same as no istio injected.

**Steps to reproduce the bug**
Unlabel istio-injection, connect grpc server succeed. Labled istio-injection=enanled, restart grpc server, connect raise the error.

**Version**
k8s version: v1.11.2
istio version: v1.0.2

**Installation**
download istio-v1.0.2, instal

[2018-10-12 14:07] Dagon- commented on #7679
@exiaohao Did you find a fix for this? I'm seeing the same thing.

[2018-10-12 14:24] pnambiarsf opened #9300 "Ability to define default traffic and retry policy for the entire mesh"
**Describe the feature request**
From what we can tell, right now traffic and retry policies can only be defined per service via VirtualService and DestinationRule objects.  We would like the ability  to define defaults for the entire mesh that will take effect for all services with the option to override per service as necessary.

**Describe alternatives you've considered**
Our only option right

[2018-10-12 15:43] rmt commented on #6806
Wouldn't the NET_ADMIN capability sufficient?  NET_ADMIN + would permit root to use iptables to make changes in the container's network namespace.  Are more capabilities required than that?  Are there any known security risks with that?

[2018-10-12 15:56] hklai commented on #9294
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/1068/daily-e2e-simpleTests/394/

e2e-simpleTests is now consistently failing in release but not in
postsubmit (https://prow.istio.io/?type=postsubmit&job=e2e-simpleTests).

Mandar, could you take a look?

On Fri, Oct 12, 2018 at 12:06 AM Andy Lai <hklai@google.com> wrote:

[2018-10-12 17:01] ostromart commented on #6523
Let's consolidate the discussion to that issue.

[2018-10-12 17:01] #6523 closed

[2018-10-12 17:06] hklai commented on #4937
This can now be closed since we have new upgrade test suites that run in release qualification instead of pre-post submit.

[2018-10-12 17:06] #4937 closed

[2018-10-12 17:07] mandarjog commented on #9294
@nmittler https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/1068/daily-e2e-simpleTests/394/   simple-nginx-test is failing. Can you take a look?

[2018-10-12 17:15] qiwzhang commented on #9294
The crashed code was introduced by https://github.com/istio/proxy/pull/1972 at Sep 13, 2018
But it was reverted by https://github.com/istio/proxy/pull/1986 at Oct 2, 2018

[2018-10-12 17:18] nmittler commented on #9294
@mandarjog was the Envoy binary updated? Perhaps it's a bad build?

[2018-10-12 17:19] nmittler commented on #9294
Also note this warning:

[code]

[2018-10-12 17:20] douglas-reid commented on #9247
@consult-kk I'm going to close this issue, as I feel like we've addressed the original concern. Let's follow-up on further questions on mailing-lists or in a separate issue. Please feel free to re-open if you feel it is appropriate.

[2018-10-12 17:20] #9247 closed

[2018-10-12 17:21] qiwzhang commented on #9294
This could be a bad build.   proxy sha in Istio repo istio.deps file only went from f49833732cab7e6f249760d1ec9d3ec19d19fe2c  to cbc3ce49e2909b47d0e808ea1d6a70929415f152
It was either before the PR,  or after the revert PR.   It did not pick any proxy sha with that bad PR.

[2018-10-12 17:24] victorboissiere opened #9304 "Enable all egress traffic on a specific deployment"
**Describe the feature request**
I have a microservice which needs to fetch images from a list of URLs and download them to S3. However, I have no way to know the URLs in advance and for that reason I cannot use any egress rules on this service.

**Describe alternatives you've considered**
I tried to disable egress rules on the deployment itself using the following annotation:
[code]

However even

[2018-10-12 17:29] mandarjog commented on #9294
@rkpagadala per wayne this is an unexpected build. Can you investigate?

[2018-10-12 17:39] hklai commented on #9294
I noticed https://github.com/istio/istio/blob/master/istio.deps is pointing
to 6215156a475131732a8a7620ee0aa49fd082101f , which is  HEAD in master.
https://github.com/istio/proxy/commits/master

That itself is wrong and we need to point it back to
6953ca783697da07ebe565322d12e969280d8b03 from release-1.0. I will get that
fixed first.

On Fri, Oct 12, 2018 at 10:30 AM mandarjog <notifications@githu

[2018-10-12 18:08] jmazzitelli commented on #9066
All PRs are merged, this issue can be closed.

[2018-10-12 18:29] yangminzhu commented on #9296
The current `GetProxyServiceInstances()` uses IP to match pod and endpoints:
https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L479-L482

This means the [headless service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) that doesn't have selectors is also supported.

If we change to use service selector, how do we support th

[2018-10-12 18:37] jwendell commented on #6324
So, here's a working PoC: https://github.com/istio/istio/pull/9307

It uses kubernetes API to watch for pod changes, and finishes pilot-agent when all the pod containers finish.

Caveats:
- The job must use a service account with permission to get,list,watch pods in the namespace
- Automatic sidecar injection (via MutatingAdmissionWebhook) does not add the the volume mount for the service account

[2018-10-12 18:42] kyessenov commented on #6324
There was a strong opposition to linking client-go into sidecar agent due to the size of the library.
I wonder if there is a mechanism to achieve the effect without contacting the api server -- maybe using termination commands on containers.

[2018-10-12 18:53] hklai commented on #9294
Dang I should not have been looking at this in a meeting. I was wrong about
the proxy sha. istio release-1.0 is indeed pointing to the head of proxy
release-1.0.
https://github.com/istio/istio/blob/release-1.0/istio.deps

So yeah we prob should investigate what is going on here.

Nathan, is the ngiinx failure related to it?

On Fri, Oct 12, 2018 at 10:39 AM Andy Lai <hklai@google.com> wrote:

[2018-10-12 18:56] UnwashedMeme commented on #8673
For anyone else that finds this, my work around was to change resolution from DNS to static and put the address in myself, with this the `membership_change` stat stabilized and `ejections_active` remains at 1. My 503s have gone down because it doesn't keep trying to re-add the host that is erring.

[2018-10-12 18:58] nmittler commented on #9294
Not sure exactly what you're asking ... are you asking if the test is failing because Envoy crashes ... well, yes :). There's nothing special going on with the nginx test that could cause this. I assume it's due to a bad Envoy binary.

[2018-10-12 19:12] #2512 closed

[2018-10-12 19:12] yangminzhu opened #9308 "RBAC: Support SNI in ServiceRole"
Envoy has merged the PR to support [SNI](https://github.com/envoyproxy/envoy/blob/ae6a4e7951bc82a21f8627ccce4b14629f876163/api/envoy/config/rbac/v2alpha/rbac.proto#L149) in the Permission.

Istio ServiceRole should support specifying this field accordingly.

We have several options:

- Support the SNI as a first-class field in the [AccessRule](https://preliminary.istio.io/docs/reference/config/aut

[2018-10-12 19:27] hklai commented on #9294
Well, istio release-1.0 is pointing to head of proxy release-1.0.

Does it have bad envoy there?
https://github.com/istio/api/commits/release-1.0

On Fri, Oct 12, 2018 at 11:59 AM Nathan Mittler <notifications@github.com>
wrote:

[2018-10-12 19:56] UnwashedMeme commented on #8673
so based on the above DNS -> STATIC find I found a few more items.

envoy `/config_dump` shows me that it has the individual hostnames I entered in the ServiceEntry as the hosts in the cluster. So I don't think this is an istio issue about pushing config, I think this is envoy handling dns resolution.

When I look in `/clusters` i see the backend ip addresses but the stats about how many requests

[2018-10-12 19:56] UnwashedMeme commented on #8673
I think this is envoy issue, not istio, see above comments

[2018-10-12 19:56] #8673 closed

[2018-10-12 20:12] hklai commented on #9294
OK SimpleTest is passing with
https://github.com/istio-releases/daily-release/pull/1069

Possibly there was something funky with the release test script. With this
change, they should largely be identical to what we run in istio/istio.

On Fri, Oct 12, 2018 at 12:27 PM Andy Lai <hklai@google.com> wrote:

[2018-10-12 20:20] ChamaraG commented on #9119
@clyang82, yes, we are able to find the pod IP fine; the issue is connecting to the pod from the node that is hosting the pod.

We managed to work around this issue by deploying the Cilium proxy image mentioned in https://github.com/istio/istio/issues/8059 and using TPROXY. Not a very satisfactory state and hopefully TPROXY support will be fixed soon in the mainline Istio project.

[2018-10-12 20:36] rshriram commented on #9308
I suggest option 2. Easiest.

[2018-10-12 20:37] rshriram commented on #9308
I also don’t think we should call it as requested server name! Not so intuitive. People know SNI very well. Simply call it connection.sni ?

[2018-10-12 21:29] vadimi commented on #7964
I'm experiencing the same issue. I have AWS ALB that forwards `x-forwarded-port` and `x-forwarded-proto`, My app receives `x-forwarded-port` as `443`, but `x-forwarded-proto` as `http`. Is there anything in the configuration I need to do?

[2018-10-13 03:41] andraxylia opened #9313 "REFRESH_GOLDEN broken in master"
Some refactoring broke this functionality.

[2018-10-13 13:34] dream83619 commented on #9299
Find the root cause, I enabled mtls for the default namespace, but send request outside without a cert. I find the reason by enable debug log for istio-proxy.

`kubectl port-forward <pod_name> 15000` and enable debug log by from localhost:15000

[2018-10-13 18:08] jaygorrell opened #9315 "Outage on Istio upgrades or host upgrades"
**Describe the bug**
When cycling hosts (k8s upgrades, etc.) or when upgrading istio and replacing it's system pods, there is a connectivity outage with cluster services. I did some testing and narrowed this down to the istio-policy pods, regardless if there are multiple pods or not.

**Expected behavior**
An istio-policy pod restarting should not prevent connectivity to cluster services.

**Steps

[2018-10-14 00:09] silencecorner commented on #7664
+1  for kafka support

[2018-10-14 01:39] hzxuzhonghu commented on #9296
@yangminzhu Can we say the headless services without selectors equal to external services?

For external service we donot need this. If I miss something, please correct me.

[2018-10-14 13:05] supereagle opened #9320 "Mixer arg ConfigFetchIntervalSec is not used any more"
There is no flag for [ConfigFetchIntervalSec](https://github.com/istio/istio/blob/d12f96e07abc9d0f7fb971cff42178401b6a40a4/mixer/pkg/server/args.go#L67), and it is not used any more.  So we can remove it.

[2018-10-14 14:44] mandarjog opened #9323 "grafana mesh dashboard for tcp workloads broken for 1.0.3-pre"
With latest 1.0.3 build grafana dashboard for tcp is broken.

https://snapshot.raintank.io/dashboard/snapshot/ZKFuxEd7M8DYaUpTNLugw54Q0SB7g4D2

[2018-10-14 20:38] monotek commented on #7505
Why not to stable/istio?
Imho it's likely most users would search for the chart there first anyway...

[2018-10-15 00:16] nixgadget opened #9324 "Slow to warm up"
**Kubernetes/GKE**: 1.10.7-gke.2
**Istio**: 1.0.2
**mTLS**: Enabled

I'm not sure what causes this issue. Ive exhausted my debugging knowledge around this issue.
Basically the problem is the discovery is taking a while to warm up.

If I look at the proxy of the source server it says the warming up is complete. Despite of this if i try to ping the destination server (via curl) then I get a **503**

[2018-10-15 00:51] x15zhang commented on #9265
#9298

[2018-10-15 01:53] nixgadget commented on #8420
So do we have a solution to this problem for those of us using helm ?

[2018-10-15 03:37] dove-young opened #15742 "log messages are not identical"
Log messages for internal requests are pretty good

[code]

But log messages for user defined gateway rules, say `httpbin` example, it comes in this way

[code]

`"HEAD /status/200HTTP/1.1"` would be `"HEAD /status/200 HTTP/1.1"`

[2018-10-15 03:45] krancour commented on #7505
I think that is reasonable, but the counter-argument is that many projects prefer to keep the charts closer to the source and 100% under their own control.

[2018-10-15 04:04] gyliu513 commented on #7505
I think we can contribute the helm char to https://github.com/helm/charts , and then people can get it from google storage.

FYI @sdake @linsun @costinm

[2018-10-15 05:55] loewenstein commented on #576
What about this? I recall @holgero and myself fixing a lot of issues on Mac that we had. Would be nice to not have them reoccurring just because CI doesn't check it.

[2018-10-15 07:34] c0d1ngm0nk3y commented on #9313
Looking into it. But it seems that no refactoring broke this, rather the introduced "HelmInject" tests do not take it into account at all :(

[2018-10-15 08:17] victorboissiere commented on #9304
I found the solution:

[code]

I've searched the repo for everything starting with `sidecar.istio.io` and found this.

[2018-10-15 09:15] mukundha commented on #1415
are there plans to add support for transcoding grpc <-> http/json?

[2018-10-15 11:00] liamawhite opened #9330 "Port interception flags are not working as expected"
Setting the helm values as follows, I would expect all but `9102` to be intercepted however it is still intercepted.

[code]

The initContainer args using these flags are as follows.
[code]

[code]

[2018-10-15 11:57] ymesika commented on #9313
/assign @c0d1ngm0nk3y

[2018-10-15 11:57] istio-testing commented on #9313
@ymesika: GitHub didn't allow me to assign the following users: c0d1ngm0nk3y.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/9313#is

[2018-10-15 12:16] vikranttkamble opened #9332 "pods not coming up when istio is enabled on namespace with resourcequotas and limit range"
Istio was installed using helm template. Option1: https://istio.io/docs/setup/kubernetes/helm-install/#option-1-install-with-helm-via-helm-template

Following an old issue: https://github.com/istio/old_issues_repo/issues/339

I added resources block with cpu and memory to init container and added memory block in resources of proxy container, deleted the istio and created it again.

With setting on

[2018-10-15 12:25] secat opened #9333 "Istio Operator for Kubernetes"
Are there some plans to create an Istio [Operator](https://coreos.com/operators/) for Kubernetes?

Istio has a very complex deployment scheme with multiple components. I realized from my experience using Helm to deploy/upgrade/manage such complex deployments that Helm has some limits.

[2018-10-15 12:38] tim-beatson commented on #8443
I too am seeing no resolution following https://github.com/istio/istio/pull/7488 . Would be grateful for at least a workaround asap

[2018-10-15 13:19] lichuqiang commented on #8772
/unassign

[2018-10-15 14:16] dstockton commented on #1430
+1 for UDP

[2018-10-15 14:17] prune998 commented on #9030
https://github.com/istio/istio/issues/6486#issuecomment-406233184

This is an old discussion around Cert-Manager.
As of today, nothing changed (or did I missed something ? )

[2018-10-15 15:51] andraxylia commented on #5043
@murarisumit please feel free to work on it and submit PR. I cannot assign it officially until you become member of the Istio org.

[2018-10-15 16:10] cmluciano commented on #8839
Is this issue still relevant?

[2018-10-15 16:11] cmluciano commented on #9240
Is this still relevant?

[2018-10-15 16:13] cmluciano commented on #9294
@hklai @mandarjog  Is this issue fixed now?

[2018-10-15 16:18] #8363 closed

[2018-10-15 16:18] #8379 closed

[2018-10-15 16:43] cmluciano commented on #5338
This test is now re-enabled in https://github.com/istio/istio/blob/master/pilot/pkg/config/memory/controller_test.go

[2018-10-15 16:43] #5338 closed

[2018-10-15 16:46] cmluciano commented on #6288
Issue appears stale as linked tests have been re-enabled per https://github.com/istio/istio/pull/6289/files

[2018-10-15 16:46] #6288 closed

[2018-10-15 16:47] cmluciano commented on #6391
@ymesika Do you have an update on this test-failure status?

[2018-10-15 16:50] cmluciano commented on #6555
This does not appear to persist in more recent builds on master and test has not been changed according to master branch

[2018-10-15 16:50] #6555 closed

[2018-10-15 16:51] cmluciano commented on #6653
closing due to staleness

[2018-10-15 16:51] #6653 closed

[2018-10-15 16:52] cmluciano commented on #6838
Moving issue to GKE env, but this may be stale

[2018-10-15 17:07] hklai commented on #6838
Most prow e2e tests are now using 1.10 already, and a few are using 1.11.

We can close this.

[2018-10-15 17:07] #6838 closed

[2018-10-15 17:12] wattli commented on #8958
The PR was submitted, please either try the latest daily build https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/ or wait until 1.0.3 release.

[2018-10-15 17:43] douglas-reid opened #9338 "Automatic Sidecar Injection failing on release-1.0 branch"
**Describe the bug**
In a new cluster, I generated `istio.yaml` file via:

[code]

After labeling the `default` ns for injection, ran:

[code]
Observed the following:

[code]

Investigated via:

[code]

It appears a newly-added ENV VAR relies on Base64 encoding, which is failing validation.

**Expected behavior**
Pods to be created without issue.

**Steps to reproduce the bug**
See above.

**Versi

[2018-10-15 17:44] wattli commented on #8958
Currently the on-prem provisioning is done, however, the GCE bug is still not fixed.

[2018-10-15 17:52] kidiyoor commented on #8958
That means - if we treat GCE VM a regular VM ie set ENV=onprem and manually provision the certs, it should work fine ?

Are we expecting GCE bug to be fixed in 1.0.3 ?

[2018-10-15 18:15] ayj commented on #9265
fixed by https://github.com/istio/istio/pull/9298

[2018-10-15 18:15] #9265 closed

[2018-10-15 18:17] #9299 closed

[2018-10-15 18:28] ayj commented on #8656
Good catch - this should already be fixed by https://github.com/istio/istio/pull/6987

[2018-10-15 18:28] #8656 closed

[2018-10-15 18:39] liminw commented on #9308
I agree treating it as an attribute (option 2) is the easiest.

[2018-10-15 18:43] yangminzhu commented on #9308
@rshriram @liminw Thanks for your comment, I'll go ahead for option 2 using attribute name `connection.sni`.

/cc @venilnoronha

[2018-10-15 18:46] ayj commented on #8269
Fixed by https://github.com/istio/istio/pull/8757

[2018-10-15 18:46] #8269 closed

[2018-10-15 18:58] ayj commented on #5968
We should strongly consider removing `gen-deploy` for 1.1 release. It is currently broken and not really tested anymore. Helm seems to be the preferred (supported) mechanism. We can consider re-introducing a similar 'install' subcommand later if needed.

[2018-10-15 19:08] ayj commented on #8825
We should be sure to document the deprecation of RBACConfig in the 1.1 release notes.

[2018-10-15 19:15] ayj commented on #1480
CRD are now installed via explicit YAML. Installing them from Pilot isn't necessary. It's also lead to subtle bugs where the YAML and Pilot CRD definition diverge, e.g. Namespace vs. Cluster scoped RBACConfig. We should consider removing self-installing CRD from Pilot by default with `--disable-install-crds=true` for 1.1 release. This aligns with the longer term plan to remove direct k8s code depe

[2018-10-15 19:20] ayj commented on #6084
https://github.com/istio/istio/issues/8772 proposes creating Go client libraries for Istio APIs. Closing this issue as #8772 has more information re: design.

[2018-10-15 19:20] #6084 closed

[2018-10-15 19:21] ayj commented on #8772
cc  @tcnghia

[2018-10-15 19:29] ayj commented on #3586
This is mostly done. The only remaining API resources in `config.istio.io` are Mixer policy and the HTTPSpec and QuotaSpec for mixerclient.

[2018-10-15 20:39] naveeng68 commented on #6566
Hi,
How we implement multiple istio ingress (i want to implement multiple AWS certificate each cert have different domain name).
like in nginx ingress controller we create one more ngnix controller. with separate name.

[2018-10-15 21:16] kidiyoor opened #9340 "Q: is it possible to apply 'fault policy' for a particular subset ?"
'subset' is a server side construct - does it make sense to apply policy like fault injection using server side construct ?

The example here - https://istio.io/docs/tasks/traffic-management/fault-injection/ talks about how to inject fault based on client side construct such as headers.

However, I have tired bellow configuration to achieve the same for server side construct and failed:

[code]

L

[2018-10-15 22:17] duderino commented on #5037
Any update?

[2018-10-15 22:32] #2554 closed

[2018-10-15 22:38] #6564 closed

[2018-10-15 22:43] duderino commented on #3063
@ZackButcher are you looking at this or should we find a new owner for 1.1 (Nov 2018 before Thanksgiving)?

[2018-10-15 22:48] duderino commented on #5442
Has anyone seen this issue with 1.0+?

[2018-10-15 22:52] #1380 closed

[2018-10-15 22:53] #6382 closed

[2018-10-15 23:18] liminw commented on #6984
@peterhaochen47 Thanks for the suggestion. Not all improvements mentioned are implemented. The ones that are implemented is checked ([x]). My comments above was just a proposal.

Currently we have "constraints" defined in ServiceRole, which has the OR semantics for the "values".
[code]
So it would be confusing if we say that the values in "properties" are ANDed together.

If request.auth.claims[sc

[2018-10-16 00:00] hklai commented on #9294
@mandarjog did you have luck with the latest daily release?
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20181015-09-15/

[2018-10-16 00:04] ostromart commented on #8553
Sounds good to me.

[2018-10-16 00:55] yangminzhu commented on #9296
Not as far as I know, I think it's at least allowed to create headless service for internal services for now.

[2018-10-16 01:28] ozevren opened #9347 "[test-framework] Integrate Galley into the Test Framework for Local Environment."
Currently, the Local environment of the test framework uses Mixer's file-based APIs and Pilot's in-memory APIs to push configuration. We should make Galley as the sole way of distributing config in the system to these components in the local environment.

When the test framework starts up in Local environment, it should *always* startup and initialize Galley. When environment.Configure is called,

[2018-10-16 01:38] hzxuzhonghu commented on #9150
@incfly Can you update the outdated `--livenessPath, --readinessPath` flag ?

[2018-10-16 01:42] rshriram commented on #9296
Headless services are part of the mesh. Stateful sets is a good example. We definitely need to support headless services (people have asked for mTLS to/from and among nodes of stateful sets).

One optimization we can do is to try the logic @hzxuzhonghu has.. and if it fails, we fallback to the slow path of iterating over all endpoints. This way, the slowness will happen only for headless services,

[2018-10-16 01:52] linsun commented on #8663
cc @irisdingbj who expressed interest in working on this.

[2018-10-16 01:53] quanjielin commented on #9035
To inject token volume mount, need to update SHA istio/vendor/k8s.io/api/, current [VolumeProjection](https://github.com/istio/istio/blob/master/vendor/k8s.io/api/core/v1/types.go#L1690) miss [ServiceAccountToken](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L1575) which is added to k8s recently, otherwise the result of injection is like below

[code

[2018-10-16 02:09] fisherxu commented on #8553
Have some discuss at this PR, PTAL #[8584](https://github.com/istio/istio/pull/8584#discussion_r217796747), but still have no conclusion now...

[2018-10-16 02:29] hzxuzhonghu commented on #9296
Now it is clear, thanks. Will propose a pr later.

[2018-10-16 03:05] gyliu513 opened #9349 "secret cannot be deleted even if the sa was deleted"
When I enabled Citadel, after I create a sa, then a secret named as `istio.${sa}` will be created.

But after the sa was deleted, the secret was still there and after I delete this secret manually, it was created again.

I think Citadel should delete the related secret when the sa was deleted.

[code]

/cc @elevran @myidpt

[2018-10-16 03:40] GavinLin168 commented on #7608
I have the same problem too. Any update for this issue?

[2018-10-16 04:52] rvora commented on #8420
@nixgadget No there is not a deterministic solution and based on this thread and other conversations with Google team I don't think there will be.

Good news (kind of) is that newer versions of Istio have reduced the window where you get 503s. The other mitigation strategy is to implement a canary release process - a bit tricky with Helm but doable in theory. I have yet to implement and test that

[2018-10-16 05:00] myidpt commented on #9349
Thanks for catching this.
Citadel recreated the secret because it still found the service account. My guess is that the apiserver has some delay that the deleted service account is not immediately removed.
https://github.com/istio/istio/blob/release-1.0/security/pkg/pki/ca/controller/secret.go#L289
I will try to add some delay and see if it fixes the bug.

[2018-10-16 06:05] murarisumit commented on #5043
@ldemailly I'm new to istio, can you help me in pointing, where I can see this field in dashboard or where should I look for it.

[2018-10-16 06:46] nixgadget commented on #8420
I'm thinking of a similar solution using a `job` in the Helm `post-install` to inject the rules. will also post back if it works within the next few days.

[2018-10-16 06:46] loewenstein commented on #8420
I liked a lot what @ayj wrote...

Is it doable? It's probably quite some work to do, but reporting back rollout state information to the Istio CRDs sounds a lot like a good idea.

[2018-10-16 08:00] wansuiye commented on #8720
hi, i met a similar problem. the client request host "A", which is not a kube service name but just the request host. i want to rewrite the host "A" to a kube service name such as "B.test.svc.cluster.local".      i can not change the request host or the service name.
virtualservice support rewrite, but it seems that the host of virtualservice must be a service name which registered in the pilot, s

[2018-10-16 09:09] SFHfeihong opened #9353 "failed to query scale subresource for Deployment/default/istio-pilot: deployments/scale.extensions "istio-pilot" not found"
**Describe the bug**
failed to query scale subresource for Deployment/default/istio-pilot: deployments/scale.extensions "istio-pilot" not found
**Expected behavior**
I think it should query scale subresource for Deployment/istio-system/istio-pilot rather than the default namespaces.
**Version**
Istio version: 1.0.2
k8s version: 1.9.3
**Installation**
kubectl apply -f install/kubernetes/helm/istio/

[2018-10-16 10:54] ymesika commented on #9353
This has already been fixed upstream since v1.0.2.
The `HorizontalPodAutoscaler` for `istio-pilot` was indeed in default NS in the `istio-demo.yaml` file.
As a workaround (until next release) you can modify the file and manually add the namespace.

[2018-10-16 11:09] kuburoma opened #9355 "Conflict between health probes and service"
**Actual behavior**
Deployment written in spring exposes endpoint actuator/health on port 9990. When i expose service port 9990 for same pod i see in pilot (discovery) logs following warning.

`(Omitting listener for management address 10.0.8.64_9990 ({%!s(*core.Address_SocketAddress=&{0xc420fae300})}) due to collision with service listener 10.0.8.64_9990 ({%!s&{0xc42308a280})}))`

**Expected beha

[2018-10-16 12:14] vikranttkamble commented on #9332
Update: I reinstalled istio using helm chart: https://github.com/helm/charts/tree/master/incubator/istio

now, its giving following error: no matches for kind Gateway and VirtualService.

[code]

[2018-10-16 12:38] nixgadget commented on #9324
Anyone with any tips on how to debug this further ?
i realize that i cant check if mTLS is working either since `istioctl authn tls-check` is broken in 1.0.2. But in saying that i assume mTLS is not the cause here.

[2018-10-16 14:05] cosmicnag commented on #7665
Facing the same problem like @ayushpateria for grpc...

[2018-10-16 15:14] thspinto commented on #7665
I used these headers in my virtual service to avoid retry on legit 5xx:

[code]

Still only helps with http requests though.

[2018-10-16 15:22] cmluciano opened #9356 "several test suites failing with allow-unknown-fields"
I'm not sure if we reverted to an earlier version of Envoy or not, but several suites fail in mixer including:
- istio.io/istio/mixer/test/client/report_batch
- istio.io/istio/mixer/test/client/route_directive
- istio.io/istio/mixer/test/client/tcp_filter
- etc.

envoy appears to shutdown immediately with the following error and the server_info endpoint is not reached
[code]

This might be a red-h

[2018-10-16 15:53] Hosweay commented on #9332
To add on to this. From the sidecar-injector config map there seems to be a way to set CPU and memory requests but no way to set a limit. So if you have a resource quota where memory limits are defined, sidecar auto-injection fails.

Can additional options be allowed for CPU and memory limits to be applied to the sidecar proxy?

[2018-10-16 16:00] dove-young opened #9358 "Build mix from source hit 'GLIBC_2.18' not found in envoy"
**Describe the bug**

Build mix found error `/root/go/out/linux_amd64/release/envoy: /lib64/libc.so.6: version 'GLIBC_2.18' not found (required by /root/go/out/linux_amd64/release/envoy)`

Run `envoy` manually also trigger this error.

[code]

Build glibc-2.18 and install it to `/opt/glibc-2.18`, then run `envoy` again.
[code]

**Expected behavior**

Build instruction would mention that this does

[2018-10-16 16:13] ostromart commented on #9332
https://github.com/istio/istio/issues/8553 should give you a way to handle this.

[2018-10-16 16:38] PiotrSikora commented on #9356
cc @JimmyCYJ

[2018-10-16 17:12] JimmyCYJ commented on #9356
cc @qiwzhang

[2018-10-16 17:43] cmluciano commented on #9356
ah, will try that out

[2018-10-16 18:21] loewenstein commented on #8661
@elevran @myidpt should this be milestone 1.1? As is, master has code and configuration that does not work. At the very least https://github.com/istio/istio/pull/8800 should be merged before a 1.1 release.

Also, we should agree on the config name (identityDomain vs. trustDomain; the latter being what SPIFFE uses in the spec)

[2018-10-16 18:49] hklai commented on #9185
/cc @duderino

[2018-10-16 18:56] #6451 closed

[2018-10-16 19:19] cmluciano commented on #9356
that was the problem @qiwzhang , thanks!

[2018-10-16 19:19] #9356 closed

[2018-10-16 19:34] myidpt commented on #8661
@loewenstein I doubt if we can make this feature valuable in 1.1.
For https://github.com/istio/istio/pull/8800, can someone help to update the PR?

I think we should use trustDomain instead. We also use trustDomain in our discussion.

[2018-10-16 19:57] loewenstein commented on #8661
I know planned release is approaching rapidly (@hklai when is release-1.1 branch going to be cut approximately?), but isn't most of the work already done in https://github.com/istio/istio/pull/7849? At least I had the feeling this issue is mostly about left-overs (@elevran)?
Things like moving config from helm values to config map are not strictly required, are they? Backwards compatibility could

[2018-10-16 20:30] #8594 closed

[2018-10-16 22:10] ayj commented on #7877
@lichuqiang, are you still planning to work on this issue?

Right, that's why I suggested creating one watcher per file and re-adding the watch on delete. It's a bit wasteful but we don't plan on watching a large number of files per processes anyway. Alternatively, you could watch the parent directory of the file and use a checksum of the file contents to determine which file(s) changed.

[2018-10-16 22:21] ayushpateria commented on #1425
Hi, Istio doc mentions that Istio uses active health checks to determine unhealthy members - [#handling-failures](https://istio.io/docs/concepts/traffic-management/#handling-failures) (Point 4). I'm not able to find any way of configuring in our gRPC services. Is this feature still under development?

[2018-10-16 22:51] ayushpateria commented on #7334
@kyessenov @mandarjog @rshriram
What's the status on this? This problem doesn't seem to be limited to only mixer. We use our gRPC services on preemptible nodes, and whenever there is a node preemption we see increase in error rates our gateway. The error rate is pretty high and doesn't go down until 4-5 mins. I think it's quite important for Istio to use Envoy active health checks - I understand w

[2018-10-16 23:04] hklai commented on #8661
See
https://docs.google.com/document/d/1fkCaNYTPudSBUka3BBitzNNQA2Uzeq0vFe7E7_n2WUc/edit

We will create a burn down list to figure out where we are, and the plan is
to cut release-1.1 by end of the week.

On Tue, Oct 16, 2018 at 12:58 PM Jan von Löwenstein <
notifications@github.com> wrote:

[2018-10-16 23:31] ayj opened #9363 "Create a custom VM image for circleci VM testing"
xref: https://circleci.com/docs/2.0/vm-service/
￼￼￼￼￼
(from @costinm in slack)

[2018-10-17 00:29] andraxylia commented on #6962
I see #8123 is only in master, it will be in 1.1 in November time-frame.

[2018-10-17 00:34] jaygorrell commented on #6962
Ahh thanks - I see now, it's in 1.1.0 snapshot 1 but not snapshot 0.

[2018-10-17 00:40] begoat commented on #7652
@mukundha cool, bro. though we finally gave up using istio as a solution, thank you anyway

[2018-10-17 03:07] lichuqiang commented on #7877
Yeah, sorry that I’ve been away for a while, and just came back. I'll post an implementation for this soon.

[2018-10-17 07:10] evrardp opened #9367 "Sidecar uses a large amount of memory"
**Describe the bug**

When I inject the istio sidecar in a pod, the memory consumption of this pod increases by ± 1Gb, which seems to be enormous.

I've followed the tls authentication page (https://istio.io/docs/tasks/security/authn-policy/) and created some deployments with the httpbin and sleep services.  In the namespace foo and bar, a pod uses ± 1Gb memory, but in the legacy namespace (withou

[2018-10-17 07:32] parokshsaxena commented on #8771
Hi,

We are also getting the same error with "istio-cleanup-secrets" while upgrading from 1.0.0-snapshot.0 to 1.0.2.

[code]

Istio 1.0.2 was downloaded using this link : https://istio.io/docs/setup/kubernetes/download-release/

I ran these three commands ( reference : https://istio.io/docs/setup/kubernetes/upgrading-istio/ )
1. `kubectl apply -f install/kubernetes/helm/istio/templates/crds.yaml -

[2018-10-17 07:56] iandyh opened #9368 "No healthchecks to upstreams from Envoy"
**Describe the bug**
No healthchecks from Envoy

**Expected behavior**
Envoy sends heathchecks to the upstreams

**Steps to reproduce the bug**
Create a deployment with istio

**Version**
1.01

**Installation**
Kubenetes with Helm

**Environment**
CentOS

**Cluster state**
Probably does not matter here

Hi, in the documentation: https://istio.io/docs/concepts/traffic-management/, it states that En

[2018-10-17 08:42] dove-young commented on #9358
There is a way to fix it.

- Let user to build a separate `glibc-2.18` in CentOS

[code]

- Specify customized `glibc-2.18` path to environment variable `GLIBC_PATH`
  - `export GLIBC_PATH=/opt/glibc-2.18/lib`
- Modify `mixer/test/client/env/envoy.go` to accept environment variable `GLIBC_PATH`
- Then build will go smoothly

[2018-10-17 10:05] MrTrustor commented on #9117
So I took a look at your RPMs @knrc, and they seem a good start to me, but from what I understand it's not enough to actually extend an istio mesh to a CentOS VM.
For reference, here is what I get on Debian with the `istio-sidecar.deb` package:

[code]

Actually creating a RPM that packages the same things and does the same doesn't seem too hard, but the question is how do we ensure that this RPM

[2018-10-17 10:31] objectiser commented on #8965
@clyang82 Originally two options were on the table for discussion, (1) update the istio helm chart to include the production config, or (2) provide documentation on how to use the production approach.

My concern with (1) in the context of Jaeger, is that it would introduce yet another place where configuration needs to be maintained - along with upstream helm chart, jaeger operator, etc.

So the

[2018-10-17 12:38] grantbachman commented on #8583
We're experiencing the same issue with both the nightly builds as well as 1.0.0/1.0.1/1.0.2 releases.

[2018-10-17 12:51] osswangxining opened #9374 "the pilot cannot push event to the proxy in data plane"
**Describe the bug**
{{ Succinctly describe the bug }}
We are using the mesh expansion feature to setup 2 Kubernetes cluster: kubA and kubB.

The control plane is installed on KubA, and remote data plane is installed on KubB.
The service from KubB can be successfully registered into Pliot. But the proxy from KubB cannot be listed by using istioctl proxy-status.

And also found the error logs from

[2018-10-17 12:54] pnambiarsf commented on #9300
@ayj - This issue should probably be tagged with the area/config label rather than area/networking.

[2018-10-17 12:58] idouba opened #9375 "What is circuit breaking designed in V1alph3, and why Istio discard CircuitBreakerPolicy which well defined circuit breaking in v1alph1"
In V1aph3 how can config Istio to do circuit breaking? and why Istio v1alph3 discard [CircuitBreakerPolicy](https://archive.istio.io/v0.7/docs/reference/config/istio.routing.v1alpha1.html#CircuitBreaker) which is well defined in v1alph1?

For example ,he following config  sets a limit of 100 connections and 1000 concurrent requests, and any host that fails 7 consecutive times with 5XX error code w

[2018-10-17 13:01] idouba commented on #9375
@linsun @rshriram

[2018-10-17 13:42] KevinKlinger opened #9377 "Routing doesn't work after applying retries"
**Description**
My deployment works fine when using the VirtualService without retires.
After adding the replies to the VirtualService and applying it to my K8s, the ingress traffic won't be routed to the services.

My understanding of the configuration below was, requests to /v1/configurations, /v1/metaData and /health are being routed to hostOne and if their requests are failing, they will be re

[2018-10-17 13:58] lucj commented on #5989
I'm facing the same issue when running rabbitmq with Istio. It seems to be linked to epmd but I cannot figure out how to fix it.

The deployment file
[code]

Creation of the deployment
[code]

Let's check how it went
[code]

The rabbitmq logs

[code]

Anything I'm missed ?

[2018-10-17 14:00] pnambiarsf opened #9378 "Ability to set mesh level tcp keepalive config for upstream connections"
**Describe the feature request**
Expose *mesh level* tcp keepalive config for upstream clusters.

Corresponding envoy config - https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto.html?highlight=keepalive#envoy-api-msg-upstreamconnectionoptions

**Describe alternatives you've considered**
There is no alternative as far as we can tell.

**Additional context**
Our firewall silently ki

[2018-10-17 14:21] eduardobaitello commented on #5989
@lucj you need to create a service specifying all ports that you are using (`dist`, `management`, `node` and `epmd`). Without this, the sidecar container will not allow the pod to make connections to his own ip address.

For your deployment, the service should look like this:
[code]

[2018-10-17 14:40] devops-traxxs commented on #5989
Thanks @eduardobaitello that fixed the thing.

[2018-10-17 14:51] objectiser commented on #8588
The `zipkin` service is the endpoint for receiving zipkin compatible span data - but the backend is provided by Jaeger.

If you want to try out zipkin as an alternative, then you should use `--set tracing.enabled=false` on helm install, and then install zipkin separately in the relevant namespace (e.g. istio-system).

[2018-10-17 14:53] objectiser commented on #8588
The aim is to provide alternative tracing backends at some point, so would be able to do `--set tracing.provider=zipkin`, but that is not currently supported. Contributions welcome :)

[2018-10-17 15:19] dayadev commented on #8410
I am having the same issue, any update on this?

[2018-10-17 15:35] keitwb commented on #9172
Ok will do.  Should have it within a couple of weeks.

[2018-10-17 16:11] Jul13nT opened #9379 "Configuring Egress to allow connections to external SMTP servers"
**Describe the bug**
If I try to send an email from my Spring Boot application, I have the following error :

Mail server connection failed; nested exception is javax.mail.MessagingException: Could not connect to SMTP host: in-v3.mailjet.com, port: 587, response: -1.

Am I missing something in my configuration ? How to allow connections to external SMTP ?

**Expected behavior**
I should be able to

[2018-10-17 16:35] andelhie opened #9380 "Add Helm config for switch ingressGateway to expose as internal ELB"
**Describe the feature request**
New Helm config for when deploying in to AWS to have a choice to expose the IngressGateway as a internet facing ELB or an internal facing ELB only. This feature is a simple addition to the service creation you just add an annotation with below line.
[code]

**Describe alternatives you've considered**
Was able to do this with the upgrade of the classic ELB to a NLB

[2018-10-17 16:49] sdake commented on #9380
@andelhie we will see if we can introduce this RFE in 1.1.  I am not sure if it is possible, but will investigate.

Cheers
-steve

[2018-10-17 17:51] venilnoronha commented on #8902
I've created envoyproxy/envoy#4762 to track this on Envoy. I'll send in a PR for this if everything goes well there.

[2018-10-17 19:10] MightyDjinn commented on #1430
+1 for UDP support. Use case is RADIUS.

[2018-10-17 19:28] Jul13nT commented on #9379
I also tried with TCP but it does not work either.

[2018-10-17 19:32] ymesika commented on #9379
Your `VirtualService` also has a whole `tls` block.

[2018-10-17 19:39] Jul13nT commented on #9379
Yes, I tried to use TCP in the VirtualService as well but no luck.

I finally got it working by replacing "*.mailjet.com" with "in-v3.mailjet.com" in the `ServiceEntry`. But I don't know why I need to specify the exact host.

[code]

Thanks for you help.

[2018-10-17 19:42] ldemailly commented on #5043
you can see it looking at headers (for instance fortio curl http://your.ingress) and it shows up in internet metrics as I described

[2018-10-17 20:40] ayushpateria commented on #9368
Same issue. Without the health-checks, we are not able to run gRPC services reliably.

[2018-10-17 20:46] ayushpateria commented on #9315
This is same issue as https://github.com/istio/istio/issues/7334. Any updates on when are health checks coming?

[2018-10-17 22:36] PiotrSikora commented on #8938
cc @costinm @rshriram @duderino

[2018-10-17 22:46] jaygorrell commented on #9315
Looks like you're correct @ayushpateria -- I'll close this one and have subscribed to that one.

[2018-10-17 22:46] #9315 closed

[2018-10-18 00:28] quanjielin opened #9385 "Istio ingress-gateway support for health check"
**Describe the feature request**
In some cases, Istio ingress-gateway acts as 2nd layer load balancer(it becomes backend service of 1st layer LB). Without istio ingress-gateway support for health check, 1st layer LB cannot tell backend service status, which result in 1st layer LB in failed status as well.

**Possible solution**
add [envoy http health check filter](https://www.envoyproxy.io/docs/en

[2018-10-18 00:31] quanjielin commented on #9385
/cc @louiscryan @costinm @wenchenglu @qiwzhang @mandarjog

[2018-10-18 00:54] #7264 closed

[2018-10-18 01:03] quanjielin commented on #9385
From https://github.com/istio/istio/blob/master/pilot/pkg/networking/plugin/health/health.go#L99, istio already has health plugin but only enable for sidecar now, need the change to enable it for gateway.

[2018-10-18 04:10] mandarjog commented on #7879
You mention p99 latecies shot up as pods scaled? Which pods were you talking about ? Ingress gateway or application pods?

[2018-10-18 04:12] hzxuzhonghu commented on #9379
This may related
[code]
 https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry

[2018-10-18 04:44] li1191863273 opened #9392 "Error: secrets "kiali" not found"
**Describe the bug**
use this
helm upgrade --recreate-pods --namespace istio-system --set grafana.enabled=true \
            --set kiali.enabled=true \
             istio \
             install/kubernetes/helm/istio
the kiali pod event

Error: secrets "kiali" not found

**Version**
➜  ~ kubectl version
Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"0ed33881dc4

[2018-10-18 04:53] none-da commented on #7879
@mandarjog istio pods. Ingress gateway, mixer and pilot pods.

[2018-10-18 06:19] mandarjog commented on #7879
For 1.0.2 (1.0.3-pre) our results are different.

1. Were any of the pods cpu constrained ?
2. For latency sensitive operations you should at least request 1 full cpu per proxy.
3. Remove `stdio` and `stdiotcp` rules from mixer
4. disable access logging at the proxy

[2018-10-18 06:37] Kiran01bm commented on #9272
I'm running from that path. The issue is with istio-demo.yaml and istio-demo-auth.yaml files being part of .gitignore and hence...

`
TASK [istio : Copy definition file] ************************************************************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"chan

[2018-10-18 06:55] dove-young opened #9394 "undefined: strings.Builder while building client-go -- golang 1.10 or higher is required"
**Describe the bug**

Building Istio hit this error
[code]
According to client-go issue https://github.com/kubernetes/client-go/issues/449 , this was fixed by update golang to 1.10 or higher.

And Istio dev wiki mentioned that `Istio currently builds with Go 1.9`. That is not correct so far.

https://github.com/istio/istio/wiki/Dev-Guide

I did not reproduce this problem by building with Golang 1.

[2018-10-18 08:03] dove-young opened #9395 "Build on master branch break at commit 7dc254 add istioctl validate command"
**Describe the bug**

Commit [7dc254](https://github.com/istio/istio/commit/7dc25426bfb63ac21baee25e22479bc5e7120bf7) add istioctl validate command break build on master

[code]

Even after installed required packages in this list, build still failed

[code]

Bulid with this command `make DEBU=1 VERBOSE=1` and the error message goes here

[code]

And build on `9a20e82` commit goes well.

**Expecte

[2018-10-18 08:33] irisdingbj commented on #8663
Will add command like "istioctl install-validate -f istio-demo.yaml" to validate the status from api server against the install file user used.

[2018-10-18 08:38] dove-young opened #9396 "check-go-version by passed because ${ISTIO_BIN}/have_go_$(GO_VERSION_REQUIRED) file"
**Describe the bug**

`check-go-version` would be by passed because `${ISTIO_BIN}/have_go_$(GO_VERSION_REQUIRED)` file.  This will leave incorrect golang version to go to building

**Expected behavior**

`check-go-version` would not be by passed

**Steps to reproduce the bug**

- install golang 1.9.4 through `yum install`
- download and unpack golang 1.11 to `/usr/local/bin/go`
- modify `Makefile`

[2018-10-18 08:45] nullck commented on #8049
this pre-release is working well
https://github.com/istio/istio/releases/tag/1.1.0.snapshot.1

[2018-10-18 08:50] hzxuzhonghu opened #9398 "CI Build istioctl failed"
This maybe related to bump k8s dependents to 1.11 And another pr use the older vendor.

This kind of bug occurs many times. Can we prevent this on ci ? Now the CI runs on the branch code only, not rebase with master.

[2018-10-18 08:59] hzxuzhonghu commented on #9398
/assign

[2018-10-18 09:14] hzxuzhonghu commented on #9398
I can fix the build error. But am not familiar with CI.
/cc @linsun @rshriram @hklai

[2018-10-18 09:15] irisdingbj commented on #8663
@linsun @ozevren @ayj @douglas-reid Does above command work? If so I will begin to implement it.

[2018-10-18 10:17] ymesika commented on #9395
Should be fixed by #9401 or running `dep ensure` locally.

[2018-10-18 11:55] trevex commented on #8513
I just ran into the same issue on kubernetes 1.12.1 (running on CoreOS nodes). As a workaround removing `readOnly: true` from the problematic mount solves the problem.

This is similar to an issue the nginx-ingress had in the (recent) past, where some part of the go code was supposedly opening a file for writing.

[2018-10-18 11:57] dstockton commented on #7495
Helm charts that use more complex headless services features will all break with Istio.

Specifically, Kafka & Zookeeper (https://github.com/helm/charts/blob/master/incubator/zookeeper/templates/service-headless.yaml#L15) use the ```${pod name}.${service name}.${namespace}.svc.cluster.local``` naming which makes it even more of an issue - i.e. dropping the ```clusterIP: None``` won't help because

[2018-10-18 12:09] supereagle commented on #9272
What's istio version? I will take a look.

[2018-10-18 12:13] jaygorrell commented on #7879
Do you have results using large pod counts or just high traffic on the 2 pod test? In a small pod-count environment I've had no issues but as counts increase to upwards of 900 or so, Istio system pods seem to struggle, which bubbles up into all kinds of issues.

I believe the bottlenecks appear to be on the pilot's discovery pod and the telemetry pods for that though. 1.1.0 had a big improvement b

[2018-10-18 12:17] trevex commented on #8513
@xiaoqge Does increasing `fs.inotify.max_user_watches` solve the problem?

[2018-10-18 12:29] sdake commented on #9272
The playbooks cannot be run from the repository unless `make generate_yaml` is run.  We don't check in istio-demo.yaml.  The playbooks in the release artifact should work correctly.

Can you verify and if so close and comment?

Cheers
-steve

[2018-10-18 12:31] kubaj commented on #6046
I have tried to redeploy ingress-gateway with wildcard certificate mounted two times:

original ceritificate path:
[code]
and to the another path:
[code]

and I have changed the second gateway's TLS serverCertificate and privateKey to following:
[code]

and it makes no difference, problem with ssl persists:
[code]

[2018-10-18 12:32] sdake commented on #9392
@li1191863273 Assume you are following the Kiali instructions here?

https://github.com/istio/istio/blob/44798c747a5a4483bafc810c35e568494d78cc99/install/kubernetes/helm/istio/README.md

(step 1)

[2018-10-18 12:38] sdake commented on #9392
Rather:
https://github.com/istio/istio/blob/aa034934c7f2a2a265224061c066eae88a652703/install/kubernetes/helm/istio/README.md

step 5. :)

[2018-10-18 12:51] sdake commented on #9288
@xiajidexue this works for all of our addons (jaeger, kiali, prometheus, grafana).  See an example implementation here:
https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/kiali/templates/gateway.yaml

[2018-10-18 12:54] sdake commented on #9211
@gyliu513 no clue if those variables are still used, however, we do want to try to reduce the footprint (and eventually remove) the configmap from what I've heard in TOC meetings.  Removing this stuff if its not used would help get us a little closer :)

Cheers
-steve

[2018-10-18 13:01] sdake commented on #9076
@MrSaints - could you expand on the problem?  The general idea is that with either controlPlaneaSecurityEnabled set to true or false, you should be able to connect to port 15031 of the ingress gateway (the load balancer IP assigned by the Kubernetes cloud provider) and connect to the user interface.

This worked for me last I tested it.  Does it not work now?  This same pattern is used for all of

[2018-10-18 13:08] MrSaints commented on #9076
@sdake Sure -- I suppose I'm not too sure what the use-case is for `istio-telemetry-gateway`?  If it is to expose something like Grafana to the public web, then I was wondering how I can enable, and configure TLS for it, otherwise visiting it will trigger TLS errors on the side of the browser.

[2018-10-18 13:09] sdake commented on #9074
@MrSaints I don't see any issue with a PR that doesn't change the default behavior (which is extremely well tested) with a few configuration options for this use case.

[2018-10-18 13:10] sdake commented on #9066
closing at @jmazzitelli 'z request.

[2018-10-18 13:10] #9066 closed

[2018-10-18 13:13] sdake commented on #9380
@andelhie can you take a look at this issue and see if the solution presented works for you?  Should be able to create a new `myvalues.yaml` directly and achieve desired result without modifying the helm chart itself.

https://github.com/istio/istio/issues/9037

Cheers
-steve

[2018-10-18 13:39] #9395 closed

[2018-10-18 14:14] rshriram commented on #9211
They are both being used..

[2018-10-18 14:37] KevinKlinger opened #9402 "Whitelists are not working"
**Describe the bug**
I performed all actions as described in the [docs](https://istio.io/docs/tasks/policy-enforcement/denial-and-list/#whitelists-or-blacklists).
The thing is I can get reviews with stars, which is definitely not intended.

It seems like all of my whitelists are not working since I tried others like the one described in [#7766](https://github.com/istio/istio/issues/7766)

**Expect

[2018-10-18 14:39] douglas-reid commented on #8663
It sounds reasonable to me. I might just call the command `validate` (and maybe have a subcommand of `install`) for simplicity, but otherwise that seems reasonable to me.

[2018-10-18 14:40] KevinKlinger commented on #9377
I just noticed it's working fine, when I remove two spaces before `attempts` and `perTryTimeout`.
So I just made a mistake when configuring the yaml file.

[2018-10-18 14:40] #9377 closed

[2018-10-18 15:28] #9296 closed

[2018-10-18 16:00] cmluciano opened #9405 "tests: galley kube integration tests failing with wrong helm format"
Kube integration tests are currently failing due to a galley helm chart format. I believe the issue may be with the underlying test framework and the values it places into galley's generated yaml.

[code]

[code]

[2018-10-18 16:00] cmluciano commented on #9405
cc @istio/test-infra-hackers

[2018-10-18 16:01] cmluciano commented on #9405
cc @ozevren

[2018-10-18 16:08] ozevren commented on #9405
This is due to some internal refactoring of the test framework I believe. Either me or @nmittler will fix this soon.

[2018-10-18 16:43] linsun commented on #8663
+1 thank you @irisdingbj !  for -f, it would be great if it can take a url or local file.
`istioctl validate -f xx.yaml` works for me.

[2018-10-18 16:44] linsun commented on #8663
one thing is our profiles today assume CRDs are installed too, and CRDs could change among releases, so it would be useful to have a -v flat to pass in versions of istio.

[2018-10-18 16:48] ayj commented on #8663
`istioctl validate` [already exists](https://github.com/istio/istio/blob/12fbc34ea14bf8a07066508508ce66644979ba07/istioctl/pkg/validate/validate.go#L167-L169.) for validating user authored configuration. Maybe `istioctl validate-install` or `istioctl check-install`? Also, we may want to put this under `istioctl experimental` while we experiment with the requirements/implementation.

[2018-10-18 16:52] ozevren commented on #8663
Agreed with @ayj. Please put the command-line under experimental, and let's not use validate.
How about verify-install?

[2018-10-18 17:06] #3308 closed

[2018-10-18 17:09] ozevren commented on #8558
Needs to do  announcement/documentation

[2018-10-18 17:11] ozevren commented on #3311
In-flight:
Metrics for Galley itself.

Pending:
Log scopes
Span tracing (not critical for 1.1)

[2018-10-18 17:11] ozevren commented on #5968
Any objections to removing the command?

[2018-10-18 17:14] ozevren commented on #3586
It makes much more sense to do this when Galley becomes the default config ingestion pipeline. Creating new API Group handlers, and deprecating old ones is trivial in Galley, but it is complicated for each component.

[2018-10-18 17:14] hklai commented on #9257
This should have been fixed by https://github.com/istio/istio/pull/9341

Though, the codecov jobs are now failing due to integration test failures at the moment.

[2018-10-18 17:14] #9257 closed

[2018-10-18 17:18] hklai commented on #9398
Could you be more specific about what failure? Any link?

[2018-10-18 17:32] linsun commented on #8663
ok if validate already exist (I don't see it in my 1.0.2 istioctl), i'd agree not use it.

Now, do we expect this cmd to just validate install?  Would it be convenient for the user to also print out control plane status??  It is like give me my istio status which install is a key piece of.

[2018-10-18 17:32] ZackButcher commented on #8541
cc @louiscryan too, this is relevant to some of the discussions we're having re Gateways. https://github.com/istio/api/pull/656 also has some relevant concepts.

We (Tetrate) are hitting this specific problem as well, but it gets at a more general problem in Istio which is: Istio does not handle egress gateways well. Name resolution is one problem (though https://github.com/istio/istio/pull/9346,

[2018-10-18 17:34] linsun commented on #8663
how about `istioctl mesh-info`?

[2018-10-18 18:13] ozevren commented on #8663
Can we keep it scoped for the time being? We can add new features, or make
it part of a bigger feature as we make progress.

On Thu, Oct 18, 2018 at 10:35 AM Lin Sun <notifications@github.com> wrote:

[2018-10-18 18:28] GregHanson opened #9411 "Config Propagation Verification"
**Describe the feature request**
KNative folks requested a feature for verifying that a particular config (VirtualService in this case) has been propagated to sidecars.  Would like to expose an API (potentially in pilot) that allows a user to check whether a particular config has been propagated to sidecars.  This API may be called by istioctl (possible expansion of the `istioctl get all` command

[2018-10-18 19:09] ozevren commented on #9411
This is already covered by https://github.com/istio/istio/issues/882, I believe.

[2018-10-18 19:31] AishEbsco commented on #8583
this is still broken on 1.0.2. pinging @castlemilk...

[2018-10-18 19:45] venilnoronha commented on #8902
Created a PR on Envoy - envoyproxy/envoy#4781

[2018-10-18 19:50] douglas-reid commented on #8663
Yeah, this _might_ be easier/better UX: `istioctl experimental verify-install -v 1.0.2-demo` (in case you don't have the exact generated file in front of you... not sure exactly what that case would be, but...).

[2018-10-18 19:52] timfpark opened #9414 "istio-tracing and servicegraph end up in a CrashLoopBackOff after initial start"
**Describe the bug**
Pods istio-tracing and servicegraph end up in a CrashLoopBackOff after initial start

{"level":"info","ts":1539891873.6724212,"caller":"healthcheck/handler.go:99","msg":"Health Check server started","http-port":14269,"status":"unavailable"}
{"level":"info","ts":1539891873.6729143,"caller":"memory/factory.go:55","msg":"Memory storage configuration","configuration":{"MaxTraces":

[2018-10-18 20:19] klarose commented on #7787
I ran into a similar issue today. I have a worker pod which only consumes services -- it does not expose any. It has a label, say "app: worker".

I want to control its communication with services in the cluster, so I want to apply http routing rules based on its "app: worker" sourceLabel. However, I found that it never matched.

When I created a bogus service which selected my worker pod, while al

[2018-10-18 20:28] castlemilk commented on #8583
I believe this was fixed, but wont be available until 1.0.3? @diemtvu will know more.

[2018-10-18 20:29] ashlineldridge commented on #9297
@kgoralski I tried it the other way around (installed Istio first and then Kiam) and it didn't work for me. Did you verify that Istio routing works as expected within the mesh?

The agent/server model seems like it would be unnecessary with Istio given that Envoy could be used to provide load balancing and mTLS between client services and the Kiam service.

@pingles Would it be possible to deploy

[2018-10-18 20:58] kyessenov opened #9415 "mixer: value type coverage in proto/config/IL"
Mixer values type system is documented via https://github.com/istio/api/blob/master/policy/v1beta1/value_type.proto. However, internally the support for the types is not uniform. Some (email address and URI) are marked as experimental, and not always get handled correctly. Some (time stamp) may need further improvements.

The task is to increase e2e coverage for the entire set of types, or depreca

[2018-10-18 21:55] venilnoronha commented on #7288
not stale

[2018-10-19 01:31] hklai commented on #9398
I see it getting built in circle (https://circleci.com/gh/istio/istio/221493) and daily releases (https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-20181017-19-39/).

What problem are you referring to?

[2018-10-19 01:49] gyliu513 commented on #9211
Thanks @sdake and @rshriram

@rshriram , but based on comments here https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/templates/configmap.yaml#L24 , it is saying those parameters are deprecated, am I missing anything?

[2018-10-19 01:54] hzxuzhonghu commented on #9398
Yes, now it's ok.  I fixed it in #9401.

BTW, a quick question, do we have a merge queue? Like kubernetes, all prs should run ci one by one before merged.

[2018-10-19 06:38] diemtvu commented on #8583
We may skip 1.0.3 and go to 1.1 directly. Either way, it should be fixed.
You can try the 1.1 pre-release <https://github.com/istio/istio/releases>.

Thanks.

On Thu, Oct 18, 2018 at 1:35 PM Castlemilk <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-10-19 07:11] negz commented on #5379
I'm hitting this same issue with Kubernetes 1.11.2, CoreDNS 1.2.0, and Istio 1.0.2. I believe it will be fixed in the next release by https://github.com/istio/istio/pull/8256.

It looks like before this change the proxy agent that wraps Envoy attempts to resolve the provided statsd address once at startup. If that one shot resolution failed Envoy would be configured with the hostname rather than a

[2018-10-19 07:51] ahsannaseem opened #9425 "Trying to create allow all service entry for outgoing traffic but not succeeding"
Tried different versions of config but none of them seems to work on my case

[code]

Above template created assuming if no ports mention it will allow all. Then tried to create specifically with ports but still no success.

[code]

Wondering is there any way where we can allow all outing like it is in aws SGs by default.

[2018-10-19 08:13] mandarjog commented on #7879
https://grafana.v103.qualistio.org/d/1/istio-mesh-dashboard?refresh=5s&orgId=1

This `1.0.3-pre` is running with 400 services and a total of 800 pods.

For this size and mesh traffic at 60k rps, istio-telemetry needs 40-50 vCPU.
1 vcpu should be allocated to proxy.

https://kiali.v103.qualistio.org/console/graph/namespaces/all?layout=cose-bilkent&duration=60&edges=hide&graphType=versionedApp&injec

[2018-10-19 09:07] naveeng68 opened #9426 "multiple istio-ingressgateway"
Hi,
How we implement multiple istio ingress (i want to implement multiple AWS certificate each cert have different domain name And I want separate load balancer for each domain).

example: I want to deploy 2 application(abc, xyz) with diff domain in same cluster, Istio ingress Create one load balancer in AWS. both application exposed service taking to that load balancer (Under Route 53, External D

[2018-10-19 09:21] kgoralski commented on #6918
already done? https://aws.amazon.com/about-aws/whats-new/2018/10/amazon-eks-enables-support-for-kubernetes-dynamic-admission-cont/

[2018-10-19 10:34] grantbachman commented on #7505
As a newcomer to Istio, but a longtime user of Helm, I agree the helm chart should be published _somewhere_. Our org wants to keep all of our Kubernetes config under source control, but it's a pain to not be able to just reference a chart repository. Like the other comments mentioned, many people have come to search for charts at https://github.com/helm/charts

[2018-10-19 11:08] ChenLingPeng opened #9427 "sample bookinfo doesn't work after turn off mixer"
**Describe the bug**
can't run bookinfo demo when mixer disabled, istio-proxt container always exit with code 255
log show below:

`kubectl logs ratings-v1-54cf9dc8f8-9pkld istio-proxy`

[code]

there's no service `istio-statsd-prom-bridge.istio-system` when disable mixer

ps:

it seems there's also some conf related with each other in helm chars, i.e, when set grafana.enabled=false, some istio po

[2018-10-19 11:32] RakeshDevUK opened #9428 "issue with the command sudo ./oc apply -f <(istioctl kube-inject -f ../../kubernetes/Deployment.yml) -n tutorial"
Unable to execute below command, always ends up in error

sudo ./oc apply -f <(istioctl kube-inject -f ../../kubernetes/Deployment.yml) -n tutorial Command is never executed normally gives a lot of pain since the istio release.

Getting below error on the openshift installation done locally on centos .
Error: could not read valid configmap "istio" from namespace  "istio-system": **Get http://local

[2018-10-19 11:38] miv commented on #1381
I'm seeing errors with hostNetwork.

[code]

proxy-status saying it has stale configuration:

[code]

This is same config as normal istioingressgateway only with following additions:

[code]

Also egress ports has been changed to 9080,9433, but i doubt this is an issue.

I'm using istio 1.0.2 with helm chart

[2018-10-19 12:56] ozevren commented on #8663
I don't think we should try to do this. The tool is meant to be tactical
(i.e. given a yaml file, see if it is installed correctly). This is a
simple problem with a straightforward implementation, and is a simple
diagnostic utility.

Given that with Helm, we can specify numerous options to generate a huge
variety of Yaml files, I don't think we can exhaustively and meaningfully
say what "version x

[2018-10-19 13:41] jaygorrell commented on #7879
That is very helpful, thank you!

Can you clarify a few things, please?
1. So with 800 pods here and 1vcpu for the proxy, you're saying this
environment has 800 vcpu plus the 40-50 for telemetry and then the services
themselves... so probably over 1000 vcpu?
2. This is 1.0.3-pre... I was not able to get similar results on 1.0.2 or
1.1.0-snapshot.1... are there explanatory changes in 1.0.3 for this

[2018-10-19 13:48] Stono commented on #7879
Yeah that does sound like an awfully large overhead

[2018-10-19 13:50] ahsannaseem commented on #9304
@victorboissiere  did you add in deployment like this?

`  annotations:
    traffic.sidecar.istio.io/includeOutboundIPRanges: "0.0.0.0"` apparently its not working for me.

[2018-10-19 13:53] ahsannaseem commented on #9304
@victorboissiere did you add in deployment like this?

annotations: traffic.sidecar.istio.io/excludeOutboundIPRanges: "0.0.0.0" apparently its not working for me.

[2018-10-19 15:01] krancour commented on #8696
I can confirm this issue exists and is also the root cause of Knative not working on AKS-- their autoscaler, which is a controller, is unable to sync with the Kubernetes apiserver. Disabling the `istio-proxy` sidecar on that pod fixes things, but my sense is that's not the right thing to do.

It's perplexing to me that this occurs in AKS but not elsewhere.

Can someone help me troubleshoot this? (

[2018-10-19 15:05] #9228 closed

[2018-10-19 15:08] yciabaud opened #9429 "404 NR when using browser on multiple ingress gateways"
**Describe the bug**
When using browsers (tested on multiple browsers, multiple OS, multiple devices and multiple connections), we are having many 404 NR responses when contacting our services on an additional ingress gateway.

The service is loading well every time I'm cleaning the browsers cache and when using command line clients.

Routing is done with hostname in separate gateway and virtual s

[2018-10-19 15:47] mandarjog commented on #7879
Istio proxy cpu scales with how many total requests (internal and ingress) you are driving thru the system. 0.8 cpu per 1k rps is a good estimate. And 0.4 telemetry per 1k rps.

Telemetry and pilot also scales with the number of sidecars that connect to it.

1.03, There is a perf improvement in telemetry that cuts down cpu by 10-15 %.

In your env 800 pods and 100 cpu, every pod has 0.125 cpu, but

[2018-10-19 15:59] brian-avery opened #9432 "Mixer should change headers to lowercase when processing adapter configs"
**Describe the bug**
If I create an out of process adapter and set the config to:

[code]
and submit a request with the header set to Authorization, then Mixer will send a nil adapter config to my adapter. If I use mixc then this works fine, but if envoy is in the path, then it will change the header to lowercase meaning that there's no match. HTTP headers are case insensitive so this makes sense

[2018-10-19 16:11] jaygorrell commented on #7879
That's good info, thanks.

The cluster I was referring to (#9043) only showed ~500 ops (not 500k), nearly all from liveness probes... but still had some issues. It was significantly better on 1.1.0 over 1.0.2 though... and I assume the 1.0.3 changes aren't in 1.1.0-snapshot.1? I think my problems on 1.1.0 were around individual hosts with telemetry running on them getting choked so I can probably

[2018-10-19 16:38] douglas-reid commented on #4227
Not stale. PR pending. Attention will return to this issue shortly.

[2018-10-19 17:55] myidpt commented on #9349
Update: The function to retrieve service account does not return nil service account when the service account is removed. Existing code relies on this  causes recreation of secret. We should rely on the returned error code instead to check if the service account exists.

[2018-10-19 18:14] douglas-reid commented on #9414
Is this possibly another manifestation of the issues involved in https://github.com/istio/istio/issues/7675 ?

[2018-10-19 18:46] linsun commented on #8663
I agree, our install is highly customization so it makes sense for user to feed us the yaml.

[2018-10-19 19:50] k opened #9437 "Release Assets do not include grafana dashboards"
**Describe the bug**
When downloading release assets and attempting to install with helm there are no grafana dashboards because the `dashboards` folder is not included in the assets.

**Expected behavior**
If the helm folder is included in release assets, it should include all the files needed to install via the helm chart.

**Steps to reproduce the bug**
Go to releases tab, download 1.1.0-snapsh

[2018-10-19 22:19] peterhaochen47 commented on #6984
@liminw Thanks for explaining!
For the key, I think `andProperties` and `orProperties` are better than `request.auth.claims[scope]-n`.

For the value, you used `"foo.read, foo.write"` in your example, which I have a question about: Shouldn't the scopes be in array form (e.g.: `["foo.read", "foo.write"]`) just like your proposed constraints schema in the [top comment](https://github.com/istio/istio

[2018-10-19 22:59] #8146 closed

[2018-10-20 00:07] krancour commented on #7505
Respectfully, after having written many Helm charts-- some in helm/charts and others, elsewhere, I don't feel helm/charts is the right place for this.

helm/charts is a _great_ place for "off the shelf" software wherein the authors of that software didn't write it with Kubernetes in mind and thus didn't bother to package it as a chart themselves. For instance, take WordPress or Postgres. You can r

[2018-10-20 00:11] krancour commented on #7505
And I know that I probably appear, in the above, to have conflated discussion of where the chart source is kept and where the chart is _hosted_. Sure there's a difference, but not a meaningful one. If your chart's source is in helm/charts, your charts _will_ be published to / hosted by their Helm repository. You'd have no other choice.

It is only by _not_ hosting the chart source in helm/charts t

[2018-10-20 00:30] #9405 closed

[2018-10-20 00:31] naveeng68 commented on #9426
I am not install istio via helm, Could you please let me know how we add multiple istio via installing with mutua auth

[2018-10-20 01:29] voor commented on #2310
It *is* tagged help wanted!

[2018-10-20 04:00] nixgadget opened #9440 "Istioctl proxy-config showing non-subset endpoints"
**Istio**: 1.0.2

Hopefully this is an easy one to answer.

When subsets are used in both `DestionalRule` and `VirtualService` I see the following endpoints when looking at the debug information.

Does it mean that Istio sees the non-subset endpoints as valid endpoints even thought I'm trying to force it not to route traffic through to them ?
Will traffic ever be routed to these endpoints ?

[code

[2018-10-20 07:23] zhaohuabing opened #9441 "Support multiple IP addresses for proxy in consul deployment"
**Describe the feature request**
I ran into a multi-IP addresses problem when trying to integrate Istio with our product, here is the situation I'm facing:

* The applications are deployed in K8S.
* We don't use "K8S service" for service discovery, instead, we're using Consul as the service registry.  The two main reasons are:
  1. We need multiple network Interfaces in the POD, so we developed ou

[2018-10-20 12:14] victorboissiere commented on #9304
Yes, I added the annotations to my deployment yaml configuration. However wget is still not working (I always get ECONNRESET in my container). However curl is now working and my NodeJS application can now make requests to all URLs without restrictions.

[code]

[2018-10-20 21:02] ahsannaseem commented on #9304
Thanks @victorboissiere, so putting everything in detail here for better clarification. My service consist of following attributes in dedicated namespace (Not using ServiceEntry)

1. Deployment (1 deployment)
2. Configmaps (1 configmap)
3. Service
4. VirtualService
5. GW

Istio is enabled in namespace and when I create / run deployment it create 2 pods as it should. Now as stated in issues subject

[2018-10-20 21:43] victorboissiere commented on #9304
I haven't found any proper documentation on all the labels available so I had to search in the github repository for some.

I think I know where might be the issue. You are adding annotations on your deployment but not on your pods. I think Istio is just looking for annotations on pods.

Here's an example:
[code]

[2018-10-20 23:44] shioteam commented on #7495
@dstockton Had the same 404 issue with envoy and headless services. Managed to solve it by creating a [ServiceEntry](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry) record for all the pod hostnames within the headless service. ``

[2018-10-21 10:04] tanfenghua commented on #5379
I got the same problem at istio 1.0.2, and fix it now.  I just forgot to set kubelet parameter "--cluster_dns=169.169.169.169 --cluster-domain=cluster.local".

[2018-10-21 10:05] ahsannaseem commented on #9304
@victorboissiere  Thankyou so much for your contribution this was the issue. You can close the issue :) I hope this clear example you share will help others as well 👍

[2018-10-21 10:37] ahsannaseem commented on #9425
https://github.com/istio/istio/issues/9304

[2018-10-21 10:37] #9425 closed

[2018-10-21 10:49] #9304 closed

[2018-10-22 02:21] oulinbao commented on #9402
I encountered this problem on 1.0.0 too.

[2018-10-22 02:51] vadimeisenbergibm opened #9447 "pilot conflict for outbound_listener_tcp_over_current_tcp for some TLS SNI hosts on 443"
The following configuration causes the conflict in Istio 1.0.2:

[code]

Cleanup:
[code]

The conflict:

[code]

However, the following configuration does not cause the conflict:

[code]

Cleanup:
[code]

[2018-10-22 03:02] vadimeisenbergibm commented on #9447
The issue seem to involve SNI hosts that are subsets one of another. It happens for `*.google.com` and `*.com`, and not for `*.google.com` and `*.cnn.com`.

[2018-10-22 03:16] vadimeisenbergibm commented on #9447
May be related to https://github.com/istio/istio/issues/9273

[2018-10-22 08:55] itaysk commented on #2706
Hi @geeknoid, at my company we are working on an integration with Istio that requires this feature and would love to pick this issue up and contribute this feature.

[2018-10-22 10:15] murarisumit commented on #8076
@craigbox I think we can close the issue if resolved.

[2018-10-22 10:59] pingles commented on #9297
You'd want to route `169.254.169.254` traffic to the agent process (which expects to run on each node and acts as the HTTP metadata service). That will make gRPC calls to the server process (it uses the client-side load-balancing currently but istio could displace this.

I agree @ashlineldridge: much of Kiam's agent/server topology should be unnecessary in an istio world: the mesh would provide th

[2018-10-22 10:59] pingles commented on #9297
You'd want to route `169.254.169.254` traffic to the agent process (which expects to run on each node and acts as the HTTP metadata service). That will make gRPC calls to the server process (it uses the client-side load-balancing currently but istio could displace this.

I agree @ashlineldridge: much of Kiam's agent/server topology should be unnecessary in an istio world: the mesh would provide th

[2018-10-22 11:00] pingles commented on #9297
You'd want to route `169.254.169.254` traffic to the agent process (which expects to run on each node and acts as the HTTP metadata service). That will make gRPC calls to the server process (it uses the client-side load-balancing currently but istio could displace this.

I agree @ashlineldridge: much of Kiam's agent/server topology should be unnecessary in an istio world: the mesh would provide th

[2018-10-22 11:01] pingles commented on #9297
You'd want to route `169.254.169.254` traffic to the agent process (which expects to run on each node and acts as the HTTP metadata service). That will make gRPC calls to the server process (it uses the client-side load-balancing currently but istio could displace this.

I agree @ashlineldridge: much of Kiam's agent/server topology should be unnecessary in an istio world: the mesh would provide th

[2018-10-22 11:28] pingles commented on #9297
You'd want to route `169.254.169.254` traffic to the agent process (which expects to run on each node and acts as the HTTP metadata service). That will make gRPC calls to the server process (it uses the client-side load-balancing currently but istio could displace this.

I agree @ashlineldridge: much of Kiam's agent/server topology should be unnecessary in an istio world: the mesh would provide th

[2018-10-22 12:05] zhu0516123 opened #9451 "is it neccesary to use ClusterRole?"
I used istio-demo.yaml to deploy istio in kubernetes. The serviceaccounts in the istio-demo.yaml were  bound to ClusterRole by using ClusterRoleBinding. So all pods of istio , such as pilot, galley, telemetry, policy, citadel, can access the resouce of all namespaces, which is not neccesary and not safe.

When I used Role and Rolebinding Instead of ClusterRole and ClusterRoleBinding, istio did not

[2018-10-22 12:22] craigbox commented on #8076
It feels like a bug that there's no way to the empty string, so I would like it to stay open to track please.

[2018-10-22 12:43] murarisumit commented on #8076
Sure, I was just moving across the issues and thought it was fixed as per @buckhx response, but yes will look at this case.

[code]

[2018-10-22 13:00] RakeshDevUK commented on #9428
any specific setup required for kube-inject?

[2018-10-22 14:00] jwendell commented on #9428
Why are you running this command with sudo? That means it's being executed under `root` user, and probably the kubeconfig file for root user doesn't exist under `/root/.kube`.

Try removing `sudo` from your command.

Also, if you're using Openshift, make sure to give enough permissions to your cluster/service accounts.

[2018-10-22 15:40] cmluciano commented on #6323
@GregHanson will be updating soon, not stale

[2018-10-22 16:14] ostromart commented on #6245
Fixed by https://github.com/istio/istio/pull/8043

[2018-10-22 16:14] #6245 closed

[2018-10-22 17:20] grantbachman commented on #5453
The solution provided by @amyroh works for us! Just need to set `master.securityContext.enabled=false` when deploying redis.

[2018-10-22 17:31] ahmetb opened #9454 "Network not available first milliseconds of the pod"
**Describe the bug**

When I deploy Istio 1.0.2 on GKE, I notice that the networking is unavailable during the first millisecond or so of my main application container.

This is causing issues with some of the libraries I use. For example, if I import Stackdriver Tracing exporting library, it will try to make a network call to GCE metadata server (169.254.169.254) but since it doesn't work, the tr

[2018-10-22 18:59] davidhao3300 opened #9456 "Ability to add annotations to a pod once the sidecar container has been injected"
**Describe the feature request**
Ability to add annotations to a pod once the sidecar container has been injected.

**Describe alternatives you've considered**
I haven't seen any other way to satisfy AppArmor (see context)

**Additional context**
Core issue that prompted this: https://github.com/kubernetes/kubernetes/issues/69953
There's a longer term fix for the specific issue, but I think custom

[2018-10-22 19:15] yskopets opened #9457 "A `ServiceEntry` for `*.cnn.com` opens access to any external service, such as `https://www.google.com` or `https://www.bing.com`"
**Describe the bug**

A `ServiceEntry` for `*.cnn.com` opens access to any external service (over HTTPS), e.g.
- https://www.google.com
- https://www.bing.com

**Expected behavior**

A `ServiceEntry` for `*.cnn.com` should open access ONLY to `*.cnn.com`.

**Steps to reproduce the bug**

1. Follow `Configuring HTTP and HTTPS external services` example (https://istio.io/docs/examples/advanced-egres

[2018-10-22 20:03] repenno opened #9459 "Crash with Mixer Out of Process Adapter"
**Describe the bug**
Crash when adapting Mixer Out of Process Adapter to use logentry template

**Expected behavior**
I expected my handler to receive a message

**Steps to reproduce the bug**
Follow the steps in https://github.com/istio/istio/wiki/Mixer-Out-of-Process-Adapter-Walkthrough

But use this operator config
[code]

**Version**
$ istioctl version
Version: 1.0.2
GitRevision: d639408fded35

[2018-10-22 20:07] colt-jay commented on #8410
Setting the protocol to TCP and resolution to NONE got it to work for us as well

[2018-10-22 20:08] yskopets opened #9460 "An example of `ServiceEntry` for `*.cnn.com` is misleading (or incomplete)"
**Describe the bug**
An example of `ServiceEntry` for `*.cnn.com` is misleading (or incomplete).
When I try to add a similar `ServiceEntry` for `*.google.com`, `Istio Pilot` logs an error.

[code]

**Expected behavior**

* An example configuration should be complete
* If for some reason an example configuration can not be copied-and-pasted, it should be mentioned explicitly

**Steps to reproduce t

[2018-10-22 21:28] grantbachman commented on #5453
I ran into a similar issue, where my redis pod would CrashLoop after enabling the istio sidecar proxy. The root cause was actually in the Istio InitContainer, which needed to be run as root. Setting the following in the redis helm chart fixed it for me:
[code]

[2018-10-22 21:30] yskopets opened #9464 "Match by `sourceLabels` doesn't work if a workload is not selected by any `Service`, e.g. `Job`, `CronJob`, etc"
**Describe the bug**
* I have a workload that is not selected by any `Service`, e.g. `Job`, `CronJob`, etc
* I want to define routing rules for outgoing traffic based on labels of the source workload
* Apparently, match by `sourceLabels` doesn't work in such a case

**Expected behavior**
Routing rules should work consistently for all workload types, with or without a `Service`

**Steps to reproduc

[2018-10-22 21:34] repenno commented on #9459
https://gist.github.com/repenno/dc69bc8390065ecccf7d8aa2a1abfc2c

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x183bf4c]

goroutine 61 [running]:
istio.io/istio/mixer/pkg/runtime/routing.(*builder).getBuilderAndMapperDynamic.func1(0x1ff0d20, 0xc009575300, 0xc009575300, 0xc00010d601, 0xc00963dc20, 0x0)
	/root/

[2018-10-22 22:14] repenno commented on #9459
I should add, just to make it clear,  that the metric example works perfectly.

[2018-10-22 22:56] nixgadget opened #9466 "Permanent error: budget exhausted trying to fulfill the desired configuration"
**K8**: 1.10.7
**istio**: 1.0.2
**mTLS**: enabled
**control plane security**: enabled

Some of the components randomly crash during the start up process. In some instances (like shown below) `pilot` crashed 3 times.

[code]

Im assuming this is mostly due to "some" slowness in `root-cert.pem` generation as it eventually recovers ?

[code]

I dont see any errors in citadel either.

[2018-10-22 23:08] douglas-reid commented on #9437
@hklai @mandarjog I believe we fixed this for `release-1.0` branch. Did we miss a cherry-pick somewhere?

[2018-10-22 23:11] hklai commented on #9437
@douglas-reid could you point me to the PR that fixes this in release-1.0?

[2018-10-22 23:14] douglas-reid commented on #9437
There is this, which appears to be on `master`, so I'm a bit confused now:

https://github.com/istio/istio/pull/8953

[2018-10-22 23:15] mandarjog commented on #9459
@repenno you have an indentation error in your `logentry  instance` definition. The fields after `template` should be nested inside `Params` field.

That said it should not cause a panic, Will fix it.
Thanks for the bug report.

[2018-10-23 00:55] rshriram commented on #9211
Invalid comment

[2018-10-23 00:57] repenno commented on #9459
thanks for the answer but I tested that as well. In this case the error is "severity" field not recognozed, "timestamp" field not recognized, etc.

[2018-10-23 01:00] repenno commented on #9459
I had tested that before and the fields were not recognized. I will test again now. There is no "Params" in logentry template, only in metric template.

[2018-10-23 01:23] nixgadget opened #9467 "Latest nightly-release-1.0 throws "function "toJson" not defined""
**K8**: 1.10.7
**Istio**: Nightly-1.0

Pulled the latest nightly,

[code]

However it appears to be broken when auto-injecting the sidecar,

[code]

[2018-10-23 01:28] irisdingbj commented on #8663
@ozevren @linsun  @ayj  @douglas-reid  The initial implementation is ready at https://github.com/istio/istio/pull/9468, Please let me know your comments. Many Thanks~

[2018-10-23 01:42] leeningli opened #9470 "istio1.0.0,istio-demo.yaml,when I use NodePort(ingress),the port listen is [::]:31380(tcp6),then I cannot access it."
istio1.0.0,istio-demo.yaml,when I use NodePort(ingress),the port listen is [::]:31380(tcp6),then I cannot access it.  Why It cannot listen [::]:31380 and 31380。Only tcp6,My chrome cannot access it.

[2018-10-23 01:45] nixgadget commented on #9467
Never mind. Looks like this has not been updated lately so switching to `1.1.0.snapshot.1` which appears to work.

[code]

[2018-10-23 01:45] #9467 closed

[2018-10-23 02:19] repenno commented on #9459
I've made the following change (actually I had tested this way before as you noticed based on my earlier messages)

---
# instance for template logentry
apiVersion: "config.istio.io/v1alpha2"
kind: instance
metadata:
  name: i1logentry
  namespace: istio-system
spec:
  template: logentry
  params:
    severity: '"Default"'
    timestamp: request.time
    variables:
      requestSize: request.size

[2018-10-23 02:41] gyliu513 commented on #9211
@rshriram sorry, not quite catch what do you mean here ;-)

[2018-10-23 02:55] nixgadget opened #9472 "Proxy is unhealthy in 1.1.0-snapshot.2"
**K8**: 1.10.7
**Istio**: 1.1.0-snapshot.2

Installed via,
[code]

Keep seeing these warnings in proxy. Not entirely sure what causes it but only started appearing from `1.1.0` onwards.

[code]

[2018-10-23 04:02] osswangxining commented on #9374
resolved. Due to the network issue instead of Pilot itself.

[2018-10-23 04:02] #9374 closed

[2018-10-23 04:19] mandarjog commented on #9472
`ExtractInfo  metadata missing:` is a red herring, it can be safely ignored.

It means that node metadata was not part of bootstrap, so a fall back method was used, and it succeeded.

[2018-10-23 04:34] mandarjog commented on #9472
Can attach the output of `curl http://localhost:15000/config_dump` and full logs from istio-proxy container and istio-pilot pod?

[2018-10-23 05:34] mandarjog commented on #9459
Can you remove ‘| 0’ from request.size and see what error you get ?

[2018-10-23 05:41] nixgadget commented on #9472
@mandarjog as you requested logs are attached.

[proxy_config_dump.txt](https://github.com/istio/istio/files/2504638/proxy_config_dump.txt)
[pilot_discovery.txt](https://github.com/istio/istio/files/2504639/pilot_discovery.txt)
[pilot_proxy.txt](https://github.com/istio/istio/files/2504640/pilot_proxy.txt)
[apps_proxy.txt](https://github.com/istio/istio/files/2504641/apps_proxy.txt)

[2018-10-23 05:54] nixgadget commented on #9472
Also seeing the telemetry crashing with the following health probe failure
[code]

Events from the pod,
[code]

Logs from telemetry before the probe kills the pod,
[code]

[2018-10-23 07:09] evrardp commented on #9367
For technical reasons, we had the temporary double all the services (so we have temporary ±6000 services defined now on the cluster).  The sidecar memory consumption has raised to 8.5Gb.  It seems it's not proportional, but exponential.

We will rapidly come back to ±3000 services, but it's blocking our investigations in vente-exclusive.com.  We cannot continue further, unfortunately....

Would it

[2018-10-23 07:20] gyliu513 commented on #9367
@rshriram @suryadu @mandarjog

[2018-10-23 08:16] hzxuzhonghu opened #9476 "No need watch certificate"
In belowing code, i donot think the watcher is necessary, should load cert directly from file system.

https://github.com/istio/istio/blob/65419adeaf1c442481db425f3f8bba552aaa43d7/pkg/mcp/creds/create.go#L28-L31

https://github.com/istio/istio/blob/65419adeaf1c442481db425f3f8bba552aaa43d7/pkg/mcp/creds/create.go#L42-L45

/cc @ozevren I am not sure if there is other intention.

[2018-10-23 08:17] hzxuzhonghu commented on #9476
Maybe #37877 is not a concern, if we load cert directly.

[2018-10-23 08:21] yskopets opened #9477 "External services defined through a `ServiceEntry` become accessible to all applications in the Mesh. There should be a way restrict accessibility of those external services"
**Describe the feature request**

There should be a way to restrict accessibility of external services defined through a `ServiceEntry`.

E.g.,
A. `ServiceEntry` should come in 2 flavours: 1) "really" namespace-scoped and 2) cluster-scoped
B. `RBAC Policies` should work for outgoing requests

**Describe alternatives you've considered**

We tried to solve the problem by using `sourceLabels` constra

[2018-10-23 08:58] jonasdkhansen commented on #7607
I also have this problem. I have a GKE cluster, and I'm using the istio ingress as loadbalancer from outside, and sending the traffic to a simple nginx pod. But the nginx is getting the internal istio ingress ip, and not the real users ip.

[2018-10-23 09:20] nixgadget commented on #9472
@mandarjog correct me if I'm wrong but for the telemetry pod crash above it looks as if there is insufficient wait time on the probe for monitor server to start as it dies just before hitting,
[code]
I managed to fix it on my end just by increasing the https://github.com/istio/istio/blob/1.1.0-snapshot.2/install/kubernetes/helm/subcharts/mixer/templates/deployment.yaml#L73
from `initialDelaySecond

[2018-10-23 09:47] kop opened #9480 "Pilot does not remove old endpoints from Envoy cluster"
**Describe the bug**

During rolling upgrades in Kubernetes, when old pods are deleted and new ones are added, Envoy keeps forwarding traffic to old pod IPs, which does not exist anymore.
This happens EVERY time I update deployments in my K8S cluster.

For example, I have initial state with one pod with IP `10.28.0.37`, after deployment update two new pods with IP's `10.28.0.42` and `10.28.6.113`

[2018-10-23 09:58] yciabaud commented on #9429
Thanks @bernardmo this is exactly the issue we are facing! I am tying your workaround and I will let you know.

[2018-10-23 11:04] jonasdkhansen commented on #7607
I got it working with adding externalTrafficPolicy: Local to the istio-ingressgateway service, and then in my nginx conf i added a header with $http_x_forwarded_for :)

[2018-10-23 11:58] MrTrustor commented on #9117
Hi,

Quick update on the topic: we tried to extend an istio mesh to a CentOS vm manually with no success.
We are blocked by an incompatible envoy binary. We tried 3 of them:

- the one from the Debian package doesn't work because of a wrong libc version
- the one from the package you linked earlier in this issue doesn't work because it doesn't have the "--allow-unknown-fields" flag.
- the one we e

[2018-10-23 12:04] c0d1ngm0nk3y commented on #8661
I am a bit confused. Please correct me if I am wrong, but #8800 does actually nothing. So we agree that `trustDomain` is a better term? Then we should at very least rename it. Once the wording `identityDomain` is out and established, it could get confusing.

I agree that the ConfigMap should be another PR. My suggestion:

1. Renaming
2. Fix feature (not only for citadel)
3. Use of ConfigMap

What

[2018-10-23 12:12] knrc commented on #9117
@MrTrustor If you are getting an unknown flag error then it's likely the version of istio you are using doesn't match these images, we are currently building RPMs for 1.0.2 and will shortly update to 1.0.3.

Which version are you using?

[2018-10-23 12:39] kop commented on #9480
I forgot to add that `istioctl proxy-status` command output said that everything is in sync.

Anyway, I was able to fix my problem by changing:

[code]

to

[code]

and restarting all sidecars.

So I assume that was a problem with daily builds.

[2018-10-23 13:19] MrTrustor commented on #9117
We took the content of the [istio-sidecar.deb 1.0.2 package](https://github.com/istio/istio/releases/tag/1.0.2) and tried to adapt it to run on CentOS.
The `pilot-agent` from that package launches envoy with the following arguments:

[code]

[2018-10-23 13:39] rshriram opened #9483 "Mixer policy hardcoded to fail close"
**Describe the bug**
[code]

A few folks I work with have Istio 1.0.x in production. They report seeing 503s anytime istio policy pod's health goes down. They would rather have fail open behavior than the current fail close behavior, but there is no way to configure this.

**Expected behavior**
Need a way to configure the failure mode to fail open through Helm.

**Version**
Istio 1.0.x

We need th

[2018-10-23 13:44] fhoy commented on #7675
I've given this flag a try in a test environment on AKS, using release `istio-release-1.1-20181021-09-15`. As far as I can see, there was immediate improvement.

With 1.0.2, I had similar problems as others describe above; a cluster with mTLS enabled for the default namespace (not globally) and a few sample services deployed would become sluggish after a few hours. At this point, I could see that

[2018-10-23 14:10] tim-beatson commented on #9247
Hi, I have a similar issue exposing Grafana. I can get as far as the login page, and when I enter my credentials I can see that they get accepted, but then I'm directed straight back to the login page. If anyone can suggest what I might be missing from my config to make this work, it would be greatly appreciated.

[2018-10-23 14:31] cdmitri commented on #6170
Just looking at this - we've done similar config polling in a custom environment to look at the diffs in the pilot config associated with specific events for debugging.

It would be nice to have it as part of the framework to be able to have all the changes/diffs for all pilots in 1 place as a sort of "pilotdump" to debug non-trivial/flaky/time-depended issues.

[2018-10-23 14:43] john-a-joyce commented on #4095
We plan to shortly assign new Istio contributors to start work on this,  but if anyone else is interested please go ahead

[2018-10-23 14:58] alyssa-tc commented on #7450
We need this too

[2018-10-23 15:06] mandarjog commented on #9429
Can you provide
‘Curl http://localhost:15000/config_dump’ from there ingress gateway?

@rshriram this looks like envoy making decisions about connections rather than a request based on sni.

[2018-10-23 15:13] miv commented on #7659
This is a bug. How is egress rule is connected to internal mesh port on some rando service?

[2018-10-23 15:13] john-a-joyce opened #9484 "Add an e2e test option that utilizes the CNI plugin"
**Describe the feature request**
A CNI plugin is being developed to replace the initContainers section of the sidecar injection.  The details can be found here:  https://github.com/istio-ecosystem/cni and here:  https://docs.google.com/document/d/1B5gGvdlZEfk5oAL8Qx8NdRKDYb3YlGphJoQLhwPBXYw/edit?usp=sharing
The desire is to properly test this both from the istio-ecosystem/cni repo and from the ist

[2018-10-23 15:49] john-a-joyce commented on #4102
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:50] john-a-joyce commented on #4101
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:51] john-a-joyce commented on #4087
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:52] john-a-joyce commented on #4096
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:52] john-a-joyce commented on #4098
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:53] john-a-joyce commented on #4100
We hope to ask new Istio developers to start working on this shortly, but also open to anyone else via the help wanted label.

[2018-10-23 15:54] zowiehi commented on #1277
Hi 👋 I am having issues when attempting to use tls with a headless service/stateful set. I have attempted using both a mesh-wide policy as well as one that targets the service in question, per the Istio docs.

[2018-10-23 15:57] #4010 closed

[2018-10-23 16:17] douglas-reid commented on #9437
How do we fix?  Or do we not?

[2018-10-23 16:59] douglas-reid opened #9485 "FR: Need way to set `FAIL_OPEN` for istio-policy service"
**Describe the feature request**
Right now, `FAIL_CLOSED` is hard-coded in the mixer plugin for pilot. This prevents operators from using Istio Policy options in situations when they want the behavior of falling back to allow all traffic in cases when the policy service cannot be reached.

**Describe alternatives you've considered**
None.

**Additional context**
https://github.com/istio/istio/pull

[2018-10-23 17:01] douglas-reid commented on #9485
Related to: #9483

[2018-10-23 17:07] hklai commented on #9437
The fix is supposedly in https://github.com/istio/istio/releases/tag/1.1.0-snapshot.2, which has just been published.

[2018-10-23 18:38] frankbu commented on #7558
This issue has morphed into the opposite problem in the latest Istio version. Now a pod can access its own pod IP, but not other pod IPs.

Take @vadimeisenbergibm's example but create 2 replicas of the httpbin service:
[code]
Now, if you exec into the first pod, you will see that you can access its own IP, but not the other one.
For example, if the two pods are:
[code]
then:
[code]

[2018-10-23 19:58] victorboissiere opened #9488 "Http telemetry for service entries"
Telemetry only reports tcp metrics for egress service entries. http/https metrics seems to be only available for internal services.

Does Istio supports http telemetry for egress service entries ?

Here's an example of one of my service entries:
[code]

I am using the default Helm charts, I do have http metrics but not for egress traffic which is so important for us to be able to monitor external

[2018-10-23 20:03] kyessenov commented on #9488
It's a known issue. Virtual services are not represented in telemetry at all at the moment. Since service entry destinations are not actual k8s services, we don't have metadata attributes for the service entry destinations.

[2018-10-23 20:15] victorboissiere commented on #9488
Ok so this is a feature request. I thought I could add my own telemetry configuration files to support this. I hope it will come in future releases.

[2018-10-23 20:28] mandarjog commented on #9483
@yangminzhu Please also submit the api PR in 1.0 brach.
If you could fix pilot  it in 1.0 branch first that would be great.

[2018-10-23 20:53] diemtvu commented on #8540
Release 1.0 was fixed by https://github.com/istio/istio/issues/8540
Master was fixed by incfly@ when refactoring listener code (the part that create filter chain moved below the protocol switch, so it is shared by both TCP and HTTP).

[2018-10-23 20:53] #8540 closed

[2018-10-23 21:20] mandarjog commented on #8540
@Diem Vu <diemvu@google.com> 8540 is pointing back the issue itself, can
you link to the correct PR ?

On Tue, Oct 23, 2018 at 1:53 PM Diem Vu <notifications@github.com> wrote:

[2018-10-23 22:14] costinm opened #9490 "Galley Ingress missing"
When Galley is enabled, I don't see any Ingress resource - AFAIK we still need to support k8s Ingress.

I think this is blocker for turning on galley - it doesn't seem possible to use both k8s config store and galley at the same time, and I don't think in 1.1 we can drop support for Ingress.

[2018-10-23 22:14] costinm commented on #9490
(tested by using /debug/configz in pilot, on a cluster that has Ingress resources)

[2018-10-23 22:16] ozevren commented on #9490
Is there a test for this?

[2018-10-23 22:18] costinm commented on #9490
For Ingress conversion in pilot - pretty sure there are some.
E2E - we used to have one in simple test, but probably got converted to Gateway.

[2018-10-23 22:19] costinm commented on #9490
But we do test Ingress on load tests part of release qualification - just not automated yet.

[2018-10-23 22:24] costinm opened #9491 "Galley 'sync complete' issues"
Running some manual tests, 2 things I noticed:
1. Galley 'sync complete' happens after the first connections to pilot. This results in possibly invalid config (some updates may be in). Not sure if it's a regression or just more likely to happen due to the additional setup. Old code has some protection - if HasSynced is false the events are suppressed, and for endpoints we wait for HasSynced ( but

[2018-10-23 22:55] nixgadget commented on #9472
@mandarjog looking at this telemetry crash I see a number of these errors just before the mixer crashes. From there it doesnt seem to recover itself.

[code]

[2018-10-23 23:29] repenno commented on #9459
Should I open another issues to investigate the decoding issues with logentry?

[2018-10-23 23:35] mandarjog commented on #9459
This looks to more like a problem with the client `mixc`. Can you enable debug log on `mixs`
It will show us what attributes were actually received by the server.

[2018-10-24 00:48] ianvernon commented on #5379
#8256 removes the need for restarting, but it doesn't resolve why DNS cannot be resolved. Is there an issue with how DNS is resolved within the container?

[2018-10-24 00:52] geauxvirtual commented on #7495
I've also used the above ServiceEntry example along with a headless service for RabbitMQ to cluster the nodes via the pod dns entry for the headless service.

This was tested on Istio 1.0.1, both with and without mutual tls.

[2018-10-24 01:40] venilnoronha commented on #5379
@ianvernon I've had DNS resolution issues when using the CoreOS Flannel plugin. See coreos/flannel#1017 for more info.

[2018-10-24 02:35] ianvernon commented on #5379
@venilnoronha what's interesting is that this is happening across multiple CNI plugins - indicating that something else is afoot other than CNI. DNS is always fun :)

[2018-10-24 02:43] venilnoronha commented on #5379
@ianvernon :D for me it started working once I switched over to Weave.

[2018-10-24 02:59] dtzar commented on #7675
@fhoy @douglas-reid I just updated my existing PR for the helm chart to include the switch for `useAdapterCRDs` https://github.com/istio/istio/pull/9435/files

[2018-10-24 07:05] superxi911 commented on #4941
I am running into the same issue with kubeadm & centos7, any idea to fix it?

[2018-10-24 07:30] robertpanzer opened #9500 "Originating TLS from egressgateway with custom trust store makes CDS push to mesh pods fail"
**Describe the bug**
I want to validate TLS connections against external services originated at the egressgateway with custom cacerts.
It looks like the DestinationRule that defines the truststore results in Clusters being pushed to mesh pods with the file name.
As the secret is not mounted in these pods they reject the CDS messages:

[code]
Also `istioctl ps` shows that clusters are not fully pus

[2018-10-24 08:01] silencecorner commented on #7495
@geauxvirtual i used a ServiceEntry to route emqtt that is in k8s not in sidecar,but not working
[code]
istio version is 1.0

[2018-10-24 08:40] knrc commented on #9117
@MrTrustor I'm going to talk with Andy and see about getting some RPMs built as part of this issue, in the meantime if you can send me more detailed information about your testing, I'll try to reproduce it.  I'm concerned our 1.0.2 images appear to be incompatible with the ones you are trying to use so would like to understand what is happening.

[2018-10-24 09:07] crowfrog opened #9502 "Outbound traffic by egress gateway does not work for HTTP2"
**Describe the bug**
I create ServiceEntry,Gateway,VirtualService for a outbound HTTP2 link which use port 30923.
But got 404 error when I run nghttp to access the link in my pod.
ps: It is ok when only ServiceEntry applied

**Expected behavior**
access should be fine just like only ServiceEntry applied

**Steps to reproduce the bug**
1. create ServiceEntry:
[code]
2. run nghttp in my pod which wi

[2018-10-24 09:09] crowfrog commented on #9502
I replace real test domain to 'mytest.com' for private reason. Thanks a lot!

[2018-10-24 09:16] crowfrog commented on #9224
I meet similar issue with http2 traffic use other port but not 80/443

[2018-10-24 10:12] gramic commented on #6046
The problem is in the wildcard certificate.
After I created different certs for every sub domain and the root domain, everything works find again.
Even if one domain or sub domain uses a wildcard certificate, some will not work.
The workaround is to not use wildcard for now.
Using istio-1.0.0 on the cluster.

[2018-10-24 10:34] Stono commented on #7665
Probably linked: https://github.com/istio/istio/issues/9113

@thspinto  - that didn't fix it for me :'(

[2018-10-24 10:58] Stono commented on #7665
I've uploaded a recording showing just how bad this is, under 20 or so requests a second, during a rollout we got around a 10% error rate:

https://asciinema.org/a/bVrgP5eL80R7qU2uSco3bOa75

Our VirtualService:
[code]

[2018-10-24 13:07] Stono commented on #7878
Hello @ayj @louiscryan I would like to rekindle this because it's becoming more of a problem for us.

Take the following situation:

Two istio-pilot pods, which have overtime (lets say a few weeks) had all the proxies evenly balance over them.

Lets say, for argument sake, they're sitting at around 60-70% capacity each.

Now; when we have come to do a rolling deployment of istio-proxy today, those

[2018-10-24 13:08] #8247 closed

[2018-10-24 14:15] dshmatov opened #9503 "Creation of Gateway is failed on EKS"
I'm trying to apply simple Gateway, like:
[code]
And got an error while applying config via `kubectl` command:
[code]
What I got in Galley logs:
[code]
I've tried to reproduce on v1.0.1 and v1.0.2 Istio both. My platform is EKS

[2018-10-24 14:17] robertpanzer commented on #9500
Looking at the output of `istioctl pc cluster` shows that it also generates a cluster configuration for the subset `test` for a "mesh  gateway" even though there is no route that would use this cluster.

[code]

I would expect that unused clusters are not pushed to the proxies as these might contain references to files that are only available on the gateways that are assigned to the corresponding

[2018-10-24 15:03] jordan-da commented on #7495
@silencecorner

https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry-addresses

Need to use the `addresses` field with IP addresses or cidr for tcp stuff

[2018-10-24 15:04] fhoy opened #9504 "Istio-proxy fails to start with Istio 1.1"
I have an AKS test-cluster, with a few sample apps deployed. With Istio 1.0.2 both the app container and the `istio-proxy` container start as expected. When removing Istio and the sample app, installing Istio daily build `istio-release-1.1-20181021-09-15` from scratch, and then redeploying the sample apps, the sidecar proxy fails to start, while logging the following:
[code]
In the listener list,

[2018-10-24 15:28] mandarjog commented on #7878
I am looking at both those things as part of scalability.
Pilots sending disconnects when they are over subscribed and they know that other pilots are around.

The custom metric auto scaling also works but the above will make it such that cpu based hpa may do just fine.

How many pods are in your deployment?

[2018-10-24 15:39] douglas-reid commented on #7675
@dtzar switching the default is *definitely* on the agenda for 1.1. I'll be raising that issue at the P&T WG meeting today.

[2018-10-24 15:41] cdmitri commented on #7334
@ayushpateria - to my last commnet - we made a test plan that we were comleting and now are coming back around and I'm starting to look at the new test framework "integration2" to see how more data can be captured. If we get back to this and there are any updates on our end, I'll post them here.

[2018-10-24 16:33] rvandegrift commented on #8572
I agree, the current developer/user experience for egress services is not pretty.  Especially in the case of HTTPS, I've found the config verbose and fragile.

I think the current experience could be improved just by providing higher-level resources that generate the ServiceEntry/VirtualService configuration:
[code]

This resource would do nothing but create the config in https://gist.github.com/r

[2018-10-24 16:59] quanjielin opened #9505 "provide option to skip peer cert verfication when fetching jwt pubkey"
**Describe the bug**
[customer request]
today in pilot, if jwt uri starts with https, pilot fetching jwt pubkey through [secureHTTPClient](https://github.com/istio/istio/blob/master/pilot/pkg/model/jwks_resolver.go#L132);

provide option to skip peer cert validation using [httpclient](https://github.com/istio/istio/blob/master/pilot/pkg/model/jwks_resolver.go#L117) that set ```InsecureSkipVerify=t

[2018-10-24 17:16] rinormaloku opened #9506 "Pods land in Kube-System with auto injection and istioctl not being in the Path"
**Describe the bug**
Not having Istioctl in the path causes deployment pods to land in kube-system.

**Expected behavior**
Shouldn't have affected the default namespace

**Steps to reproduce the bug**
1. Have a Kubernetes cluster up and running.
2. execute:
[code]
3. Apply istio.yaml:
[code]
4. Execute below commands to label the default namespace and create the Bookinfo test app.
[code]
5. Execut

[2018-10-24 18:10] jmazzitelli commented on #9392
FYI: It was purposefully decided that we will NOT create the secret for Kiali automatically when installing - hence why the instructions tell the user that they should create their own credentials.

@sdake shows the install instructions where this is mentioned - it is also mentioned in the Kiali Task as well: https://preliminary.istio.io/docs/tasks/telemetry/kiali/#before-you-begin

[2018-10-24 18:14] ayj commented on #9506
`istioctl` should have no effect on where your deployments/pods/etc are created with kubectl.

You could check that your current kubectl context doesn't change the default namespace from `default` to `kube-system` with the following command.

`$ kubectl config get-contexts $(kubectl config current-context)`

[2018-10-24 18:14] rshriram commented on #8081
@pnambiarsf I would be happy to accept any tweaks/improvements to the respective sections in Istio/api .. Thats where these things need to be added..

[2018-10-24 18:18] jmazzitelli opened #9509 "[Istio 1.1.snapshot2] cannot run helm template with demos value yaml"
**Describe the bug**

Cannot use Helm to install Istio 1.1.snapshot.2. Running helm template with the demo values yaml causes an error.

This was discussed here: https://groups.google.com/forum/#!msg/istio-users/dedvy7HRTTE/Rv8g-ZjoBgAJ

**Expected behavior**
helm template to build the full yaml that I can use to apply via kubectl or oc.

**Steps to reproduce the bug**
Download 1.1.snapshot.2 and

[2018-10-24 19:10] yangminzhu commented on #9505
I think it's more accurate to say `some dev env uses certs issued by their custom ca cert that is not included in pilot's root CA bundle` instead `there is no auth server in dev env`.

[2018-10-24 19:14] costinm commented on #9505
Only for specific URLs I hope.

On Wed, Oct 24, 2018, 12:10 Yangmin Zhu <notifications@github.com wrote:

[2018-10-24 20:29] jaepyoung commented on #7607
I have one container of node.js and it is not getting client ip.  I am using EKS. Is there any workaround to fix this issue? externalTrafficPolicy: Local doesn't work for me. Do I need to set up another thing?

[2018-10-24 20:50] matejgera commented on #9509
Had the similar issue today after trying to perform `helm install`. Stranegly what helped was to execute following from istio's root folder:

`helm dependency update install/kubernetes/helm/istio`

[2018-10-24 20:53] jnativio commented on #9159
Issue fixed in recent builds.

[2018-10-24 20:53] #9159 closed

[2018-10-24 21:19] ayj commented on #9490
Pilot k8s ingress code - https://github.com/istio/istio/tree/master/pilot/pkg/config/kube/ingress. The [conversion](https://github.com/istio/istio/blob/5ab881ad8563e29748b6c5427ab6b231b1d40b9f/pilot/pkg/config/kube/ingress/conversion.go#L123) [functions](https://github.com/istio/istio/blob/5ab881ad8563e29748b6c5427ab6b231b1d40b9f/pilot/pkg/config/kube/ingress/conversion.go#L64) are already exporte

[2018-10-24 21:43] douglas-reid commented on #7675
fwiw, in the WG meeting today, we opted for the following approach:

- leave `UseAdapterCRDs` defaulting to `true` for 1.1 (switching to `false` in 1.2 and removed altogether in 1.3).
- add helm option for controlling value (PR out)
- add deprecation warnings for adapter CRDs
- build tool to convert between the models in 1.2 timeframe

Hope that helps.

[2018-10-24 21:51] costinm opened #9515 "Multicluster, consul and mesh expansion likely broken in 1.1"
https://github.com/istio/istio/pull/9397 returns an error if a POD IP is not found in k8s.

It seems this results in grpc error - mesh expansion at least seems broken - but looking at the code consul and multicluster will be broken too.

[2018-10-24 23:12] ayj commented on #9515
@costinm, why is this tagged for 1.1? #9397 was merged into master.

[2018-10-24 23:37] ayj commented on #9509
This seems to be a documentation issue (see https://github.com/istio/istio.io/issues/2787). Closing this since https://github.com/istio/istio.io/issues/2787 is already tracking the doc fix.

[2018-10-24 23:37] #9509 closed

[2018-10-25 00:38] ayj commented on #7446
`global.configValidation=false` should be sufficient to disable validation. If you're deploying galley in another namespace (other than istio-system) you'll need to make sure the `--deployment-namespace` flag for the Galley deployment is set correctly.

[2018-10-25 00:43] gbaufake opened #9519 "[Ansible Installer] Kiali is being installed twice."
**Describe the bug**

- Since https://github.com/istio/istio/pull/9084, Kiali is part of the default files.  So if it is executed `ansible-playbook main.yml -e '{"istio": {"delete_resources": true, "addon": ["kiali"]}}'` as the documentation states on https://preliminary.istio.io/docs/setup/kubernetes/ansible-install.html, Kiali would be installed twice (one because of the default value and second

[2018-10-25 00:44] quanjielin opened #9520 "make jwt pubkey expire duration/refresh interval configurable"
**Describe the bug**
[customer request]

for customer debugging purpose(jwt validation fail), instead of using const for below variables, make them configurable through env variables or helm chart params
[code]

[2018-10-25 00:58] quanjielin commented on #9520
also need add more debug logs when a pubkey is pushed to sidecar,

[2018-10-25 02:53] costinm commented on #9515
So it didn't make it into 1.1 ? Didn't check - still needs to be reverted
either way.

On Wed, Oct 24, 2018 at 4:12 PM Jason Young <notifications@github.com>
wrote:

[2018-10-25 03:19] hzxuzhonghu commented on #9515
It is in 1.1, and ptal #9522 and #9523.

[2018-10-25 04:01] hzxuzhonghu commented on #8081
@rshriram I would like do this.
/assign

[2018-10-25 04:45] Manish10689 commented on #7184
@rshriram is it possible to inject sidecar to pod running as a non root user? What I understood is init container requires cap_net_admin  to install iptables and it does all these configuration before application pod starts. In my case, the application pod is running as non root user and I need to inject side car to my application pod to get some metrics. If I inject it in application pod I get "e

[2018-10-25 05:38] gyliu513 commented on #6024
mesh expansion was already in istio chart.

[2018-10-25 05:38] #6024 closed

[2018-10-25 06:48] shenxg13 opened #9527 "Service entry endpoint labels don't have effect after create the destination rule subsets."
**Describe the bug**
Service entry endpoint labels don't have effect after create the destination rule subsets.

**Expected behavior**
Maybe the destination rule can separate the service entry by endpoint labels?

**Steps to reproduce the bug**
[code]
- service entry definition.

[code]
- destination rule definition.

[code]
- envoy config.

**Version**
[code]

[2018-10-25 09:01] dshmatov commented on #9503
Thanks @ayj ! I was too tired to see my typo but helped to catch a validation error

[2018-10-25 09:54] clyang82 commented on #8965
@objectiser Thanks to share your idea. I am trying to use jaeger-operator on top of istio. Just fix a problem to support es client certificate - https://github.com/jaegertracing/jaeger/pull/1139. After this fix, it works in my environment right now. But may need some enhancement is jaeger-operator, I will continue to try tomorrow.

[2018-10-25 10:10] dshmatov opened #9529 "AWS EKS Istio routing does not work"
Platform: EKS, Minikube
k8s: v1.10.4
Istio: v1.0.2

So I'm stuck and have no clue what to do I have two namespaces with automatic Istio injection: `demo` and `default`. I've created Deployment inside of each namespace:
[code]

[code]

And created some routing rules with rewrite from `/reviews` to `/metrics`
[code]

when I'm trying to `curl` from `demo` namespace:
[code]

I got no rewrites, got no

[2018-10-25 10:17] negz opened #9530 "Honor trace sampling decisions when using mixer"
**Describe the feature request**
I'd like mixer to honor the [`x3-b3-sampled` HTTP header](https://github.com/openzipkin/b3-propagation#sampling-state-1). This header is set by upstream tracers to indicate that a request was sampled for tracing and should therefore be traced at further hops.

High traffic meshes use a low trace sample rate (i.e. 1% of requests or less). With each hop making a samp

[2018-10-25 10:17] objectiser commented on #8965
@clyang82 It would be great if you can identify areas in the jaeger-operator that need improvement to enable it to be used in the Istio helm chart.

If/when you find issues, if you could create an issue in the jaeger-operator repo, and cross reference it in issue #9508, that would be appreciated.

[2018-10-25 11:32] miv opened #9531 "Istio gateway logging a lot if no "https" port exists for any gateway"
**Describe the bug**
When using multiple https gateways port names are identifiers (sic!). So in our setup all https ports are named like name: "https-my-service-staging". Because no port named "https" port exists, gateways and pilot constantly writting errors

[code]

**Expected behavior**
If it so happened that istio must have diffenent port names to differentiate https  gateways, it should not

[2018-10-25 12:40] sebastien-prudhomme commented on #7446
Ok, resolved since PR#7477

[2018-10-25 12:40] #7446 closed

[2018-10-25 13:28] cainelli commented on #4481
What's the status of this? I went through some issues, documentation and discussions and is not clear if we can achieve Locality Weighted Load Balancing or something similar somehow.

btw I'm also interested in reading the design doc above and meeting notes but have no access.

[2018-10-25 15:35] jimmiebtlr commented on #9332
Also I believe the incubator istio is massively out of date.

master branch is 1.1.0 on helm chart, incubator is I think 0.2.7

Granted I just started working with istio today, so may be missing something.

[2018-10-25 17:14] sneko opened #9536 "TCP egress with dynamic IPs (DNS resolution)"
Hi everyone!

For development purposes I use a remote SMTP servers that catch all emails to let me check if everything works even without having a specific email adress. To resolve this remote service I use a ServiceEntry resource that targets 3 IPs through a TCP connection. But I have just noticed they are using dynamic IPs so every 2-3 days they are changing 😢 .

I have to change it manually eac

[2018-10-25 17:16] eduardobaitello commented on #5384
@tcolgate Did you get it to work? How do you configure Envoy to use proxy-protocol?

[2018-10-25 17:36] tcolgate commented on #5384
Nope. Had too many other problems I refracting istio on our end, so didn't
even get started on this.

On Thu, 25 Oct 2018, 18:16 Eduardo Baitello, <notifications@github.com>
wrote:

[2018-10-25 17:46] louiscryan commented on #8541
@PiotrSikora

It seems hard to guarantee consistency between two parallel configuration systems (files, ADS) and so I think the runtime needs to be more tolerant here. I.e Envoy should not fail the entire config in this case but rather put just the affected cluster into an auto-erroring state for things which connect to it.

[2018-10-25 17:47] douglas-reid commented on #9530
@negz I believe you are concerned with proper trace sampling for Mixer tracespan *adapters*. Is that correct?

One thing you might want to consider the recently added API-level support for sampling in general.  We have not yet started on the implementation yet, and therefore have plenty of time to ensure that it meets the use case you are describing here.

See: https://github.com/istio/api/blob/ma

[2018-10-25 17:57] Stono commented on #7878
For others working on this, this super hacky way of deploying proxy helped us:

`kubectl --namespace=istio-system patch svc istio-pilot -p "{\"spec\":{\"selector\": {\"istio\": \"pilot-deploying\"}}}"`

`.... deploy istio`

`kubectl --namespace=istio-system patch svc istio-pilot -p "{\"spec\":{\"selector\": {\"istio\": \"pilot\"}}}"`

@mandarjog at the moment the above cluster is:

  - pods: 320

[2018-10-25 17:59] geauxvirtual commented on #9338
Using Istio containers with a tag of `release-1.0-20181025-09-15`, seeing something similar with regards to automatic sidecar injection.

[code]

[2018-10-25 18:02] PiotrSikora commented on #8541
@louiscryan wrt files vs ADS, this should be solved by SDS already, which puts listeners and clusters with missing SDS resources in a warming state. cc @qiwzhang @JimmyCYJ @lizan

[2018-10-25 18:19] eduardobaitello commented on #8337
@merlineus Were you able to configure Envoy to use proxy-protocol?

[2018-10-25 18:34] JimmyCYJ commented on #8541
Yes, if a listener A does not have certificates, and is trying to get certificates via SDS, listener A is in warming list. Other listeners that have certs already can serve traffic, and they are not affected by listener A. When listener A gets certs from SDS, it will be marked as ready and will start serving traffic. Clusters are the same.

[2018-10-25 19:00] repenno commented on #9459
Is there anything else I can do to help debug this issue? Any ideas?

[2018-10-25 19:01] eduardobaitello commented on #9057
@naveeng68 [my comment](https://github.com/istio/istio/issues/6566#issuecomment-428914509) on #6566 do not solve your problem?

If you managed it to work would be nice to close this issue  :)

[2018-10-25 19:33] castlemilk commented on #8541
Please try reproduce locally, as per the instructions. I’m still facing
this issue.

On Fri, 26 Oct 2018 at 5:34 am, Jimmy Chen <notifications@github.com> wrote:

[2018-10-25 19:34] liminw commented on #6984
@peterhaochen47 I would like to use array as well. However, with proto definition, I cannot create a map from a string to a "repeated" field. So, you either write
[code]
or
[code]
I think the second is more compact, especially if the majority case is map to a single string. And comma-separated strings are commonly used in many places.

I am ok with either "properties" (existing term) or "andProper

[2018-10-25 19:36] eduardobaitello commented on #9477
Maybe related to #8462

[2018-10-25 20:00] eduardobaitello commented on #9457
@yskopets I think you should **not** use the `resolution: NONE` without setting the `addresses` field.
According to the [docs](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry):

You should use `resolution: DNS`, and also needs to **create a VirtualService** for each host that uses a HTTPS/TLS port. [These](https://istio.io/docs/tasks/traffic-management/egress/#config

[2018-10-25 20:06] brian-avery commented on #2706
It might be important to be able to tell whether a header was generated internally or externally to the cluster. Especially when thinking about this in terms of authorization/authentication.

[2018-10-25 20:09] kyessenov commented on #2706
Our latest proposal lets the mesh operator control the header name and the producer for the header value. For example, if an external adapter `foo` produces a bunch values, then the operator uses the following config:
[code]

Does that satisfy the requirement on provenance of the header?

[2018-10-25 20:21] brian-avery commented on #2706
Yeah. I think so. The use case that I was thinking of is as follows:

Lets say someone creates an adapter that supports Oauth. Adapter takes a token and gets a set of scopes for the token and writes them to a header. Have a rule protecting access to certain services saying that x scope is required.  If the scope is provided, let the request continue, if it's not, deny it as unauthorized. In this c

[2018-10-25 20:29] eduardobaitello commented on #9529
@dshmatov Istio has a [naming porting convention](https://istio.io/help/faq/traffic-management/#naming-port-convention).

Please, try to rename your service port to something like this:
[code]

[2018-10-25 20:29] mandarjog commented on #9459
Can you confirm that these are full mixer logs? There is a gap of `1.2s` between
`2018-10-24T06:19:07.864695Z` and `2018-10-24T06:20:30.238694Z`

I expect to see
`Attribute Bag:` message that prints the content of the attribute bag as received from the client.

[2018-10-25 20:40] repenno commented on #9459
Yes, I can confirm it. After you start mixs, the last log as it waits for mixc is

2018-10-24T06:19:07.864695Z	info	ControlZ available at 192.168.1.7:9876

Then I switch to another terminal window and fire mixc. That is where the 1.2s comes from.

I can give you the code I am using since it is really small. It is just an adaption of the original "metric" mygrpcadapter.go but using logentry functio

[2018-10-25 20:49] mandarjog commented on #9459
can you run mixs with `--log_output_level api:debug`

[2018-10-25 20:56] eduardobaitello commented on #5384
@rshriram @vadimeisenbergibm Can this issue be reopened? Or at least assign/label #8337 to someone or some milestone...

[2018-10-25 21:03] peterhaochen47 commented on #6984
@liminw In your [comment](https://github.com/istio/istio/issues/6984#issuecomment-433177935) you mentioned that "Note that today "properties" are already ANDed." So did you mean that in the following yaml:
[code]

[2018-10-25 21:12] peterhaochen47 commented on #6984
@liminw Sorry I am a little confused. Thanks for the reply though!
In your [comment](https://github.com/istio/istio/issues/6984#issuecomment-433177935) you mentioned that `Note that today "properties" are already ANDed.` So did you mean that in the following example "g1" and "g2" are ANDed together?
[code]

But in an earlier [comment](https://github.com/istio/istio/issues/6984#issuecomment-4272033

[2018-10-25 21:22] #9506 closed

[2018-10-25 21:43] mandarjog commented on #9459
It is likely that this is an issue with `mixc` client. It is not encoding attributes correctly.
https://github.com/istio/istio/pull/9517   fixes that problem. You can checkout that branch and build mixc and try again.

[2018-10-25 21:55] nixgadget opened #9542 "Telemetry pod in a crash loop in 1.1.0-snapshot.2"
**K8**: 1.10.7
**Istio**: 1.1.0-snapshot.2

I have this strange behaviour with one of the telemetry pods going into a crash loop upon deployment of Istio.

[code]

It only affects one of the telemetry pods as seen below
[code]

Events from the crashing pod,
[code]

A log from the crashing pod.
[code]

If I look at the `istio-proxy` logs just before it starts to go into a crash Ioop I see the follo

[2018-10-25 21:56] nixgadget commented on #9472
@mandarjog any update on this ?

[2018-10-25 21:58] douglas-reid commented on #9485
@yangminzhu thanks!  can we close this FR now?

[2018-10-25 22:30] negz commented on #9530
That's correct!

I'm currently experimenting with using the Stackdriver adapter to trace requests through the mesh. Many of my requests have already begun a trace when they first enter the Istio mesh, so I'd like them to continue those traces regardless of the sampling decisions Istio hops make.

Your proposal sounds good, as long as it can be done in a fashion that can interoperate with non-Istio

[2018-10-25 22:36] yangminzhu commented on #9485
@douglas-reid Yes, Shriram have cherry picked this to 1.1 branch as well.

[2018-10-25 22:36] #9485 closed

[2018-10-25 22:38] bytheway commented on #8231
I've been fighting things related to this ticket all afternoon. (This is all 1.0.2, based on my brief look some of this is fixed in 1.1.x)

This is incorrect: it will be generated if you have pilot enabled, regardless of whether gateway is enabled. The chart is in pilot, and the istio-autogenerated-k8s-ingress is not wrapped in a conditional:

https://github.com/istio/istio/blob/1.0.2/install/kube

[2018-10-25 22:40] castlemilk opened #9546 "Order of gateway server creation causing egress-gateway to crash"
**Describe the bug**
when creating`Gateway` resources for an egress-gateway, the order of server creation will cause the egress-gateway to crash and become unusable. The use-case is where an egress-gateway allows egress traffic both for the client-side HTTPS requests and also egress-gateway based TLS origination. So we must create gateway resources which listen on 443 and use both HTTPS + MUTUAL a

[2018-10-25 22:45] liminw commented on #6984
@peterhaochen47 Let me try to clarify. The item listed below was just an earlier thought. It is not implemented.
[code]
If we go with proposed mechanism below, we will NOT do the above.
[code]
Currently, if you specify two entries in the properties for a single Subject, they are ANDed together.
[code]
But if you specify properties in different "Subjects", they are ORed.
[code]

[2018-10-26 01:44] #9527 closed

[2018-10-26 02:20] diemtvu commented on #1277
Can you attach the pod and service yaml so we can take a closer look? (if you can run the [`dump_kubernetes.sh`](https://istio.io/about/bugs/#generating-a-cluster-state-archive) tool and send us the dump file, it's even better)? Do you have any other services (headless or not) sharing the same endpoints with your headless service.

[2018-10-26 03:31] gephcott commented on #1277
Hi Diem - Thanks for the help! I am not sure will be able to post the dump, but here is the pod spec and services.

Cassandra Pod:
[code]

Headless Service:
[code]

Headed Service:
[code]

Let me know if you need anything else. Thanks again!

[2018-10-26 03:59] diemtvu commented on #1277
If I understand correctly, you have 2 services sharing the same pod. Do you
have authN policy defined for both of them? My suspect is you have one
for cassandra-external
that disable mTLS. Note that, even though we use service name to select
policy target, it's actually mapped to workloads (pods) associated with
that services. So if you have multiple services sharing the same workload,
policy from