[2019-06-19 08:57] hzxuzhonghu commented on #14941
We can do this kind of enhancement, though in k8s cluster container will be restarted after exit.

[2019-06-19 09:00] MilanDasek opened #14979 "AWS EKS nginx-ingress helm deployment"
Hi,

I am using AWS EKS cluster with nginx-ingress (classic ELB with SSL termination). I would like to use istio mainly for egress control. In other works, ingress will be still on nginx-ingress, but each POD inside won't be able to communicate to other pods or external service without explicit approval.

I thought this configuration can make it:

`helm install --wait --name istio-init --namespace

[2019-06-19 09:08] ChrisCooney commented on #12985
Did you see anything similar for `VirtualService` types? Running into the exact same problem now.

[2019-06-19 09:30] maxh8086 opened #14980 "Is there any way to identify internal - incoming traffic without envoy on kiali"
Hello,

i have implemented scenario of mtls migration where i am trying to send traffic from sleep.legacy to httpbin.foo while using permissive mode, kiali shows traffic from unknown source.

1. is there any way that we could actually identify traffic source?

while setting  strict mode, it reject traffic as expected,

2. since traffic source is unknown (from internal cluster and being not part of

[2019-06-19 10:26] Analyse4 opened #14981 "auto sidecar injection failed with webhook"
**Bug description**

the sample bookinfo pods can't be created after labeling the default namespace with `istio-injection=enabled`, I also debug it according to [Istio-doc](https://istio.io/docs/ops/setup/webhook/), but it seems that nothing has been found.

replicaset logs
[code]

istio-sidecar-injector logs
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration

[2019-06-19 10:40] IcemanGambit opened #14982 "consul_istio-pilot_1 Exit 255"
istio version 1.1.9
windows 10 enterprise version 1709 build 16299.1087

docker-compose -f install/consul/istio.yaml ps

[code]
docker logs consul_pilot_1

[code]

I am following the steps from [here](https://istio.io/docs/setup/consul/quick-start/)

I have kubeconfig file in install\consul directory. Here is the istio.yaml snippet

[code]

[2019-06-19 11:32] bogdansucila opened #14983 "Issues with regex-based http URI matching in Virtual Service"
**Bug description**

We are currently trying to route http requests based on URI matching, using a regular expression. Basically, any URI that matches '/\\/foo\\/bar/gi' should get routed to our API service, while all other requests for the respective host that don't fit the pattern should be directed to an Azure WebApp. The match shouldn't be case sensitive, hence the '/i' switch at the end.

Thi

[2019-06-19 11:49] #11840 closed

[2019-06-19 12:41] kramerul commented on #12122
* Distroless images are provided now: #14737
* We are running the e2e_simple test with distroless: #14944 and https://github.com/istio/test-infra/pull/1352
* We created also a distroless image for proxy_init, which uses the go binary of istio-tables.sh: #14985

After merging these pull request, @holgero 's plan should be completed.

[2019-06-19 12:48] PhilipGough commented on #14945
@kyessenov great thanks for clarifying. Can workaround this for now and will try to take a look at this myself if time allows.

[2019-06-19 13:19] GregHanson commented on #14982
There were some bug fixes to this consul on docker demo that were made recently.  You can follow the discuss.istio.io topic [here](https://discuss.istio.io/t/quickstart-bookinfo-app-consul-docker-is-redirecting-outbound-to-only-one-microservice/2208/4) and see the fix [here](https://github.com/istio/istio/pull/13984/files).  Unfortunately the fix was not backported to to 1.1.X release branch but i

[2019-06-19 14:32] arianmotamedi commented on #13851
Here's my two cents on this: network errors happen. With Envoy or without, at some point something in the lower level causes the packets to get lost. When that happens, the client will almost never know if the request had reached the server for processing or not, so it has no choice but to either retry or report a failure. And as correctly mentioned here, http retries can have significant conseque

[2019-06-19 14:37] Stono commented on #13851
I agree entirely.  Connection errors should be the only thing retried as I said in my OP, this retry happened on a POST after a successful connection.

So to clarify... the current strategy of retrying on 503 is wrong.

[2019-06-19 14:43] Stono commented on #13851
![503](https://user-images.githubusercontent.com/1486729/59775167-9f858700-92a8-11e9-8751-146006636028.png)

Just to further clarify what I meant by 503's masking connection errors, on this diagram there are 3 distinct connections, all of which can fail to connect.  At the moment, `C` which is a failed connection from destination envoy to the local app (lets say, because the app hasn't started), i

[2019-06-19 14:48] arianmotamedi commented on #13851
If "C" fails with CONNECT_FAILURE, it needs to be retried by Dest Envoy, not Source. The only case Source envoy can retry is also on a CONNECT_FAILURE to Dest Envoy; any other 503 is ineligible unless idempotency is implemented in Dest app.

[2019-06-19 14:49] howardjohn commented on #14975
We keep running into these types of issues. Maybe we need to invest in first class support in the test framework for the new installer. There is an issue for that at https://github.com/istio/istio/issues/14098

[2019-06-19 14:55] Stono commented on #13851
Yes I agree... I was simply telling you how it works **now**.  I really feel like we're saying the same thing here and I'm not sure how else to word it:  "Connection errors should be retried anywhere they can occur by the system instantiating the connection".

At the moment, they don't, they're wrapped in a 503 and retried by a default retry policy on all 503a.

[2019-06-19 14:56] howardjohn commented on #14941
The code that is failing isn't even part of Istio, its a custom Red Hat modification. I agree it should probably retry but I am not sure what we can do here since it is not a part of Istio.

[2019-06-19 14:59] josejulio commented on #14933
Is possible to have these metrics filled?
I would like to know e.g. the number of request made to `https://api.dropboxapi.com`
Do i need to configure a Gateway? Could you point me to a sample if there is already one?
Thanks!

[2019-06-19 15:01] arianmotamedi commented on #13851
Agreed, but I'd like to make an amendment to your statement:

And I want to clarify - when I see the word "connection", I tend to think about **established** connections. When I say only CONNECT errors are always safe to retry, I mean the literal http CONENCT method to initiate a new connection. Once the connection is established (ACK'd), nothing else can be retried without knowing the implication

[2019-06-19 15:10] #11827 closed

[2019-06-19 15:11] Stono commented on #13851
Fair enough, I definitely mean un-acked connections, eg connections that have not been established.

[2019-06-19 15:28] peter-fe opened #14987 "Fixed nodePort for gateway service status-port"
**Describe the feature request**

Currently in the Helm install for Istio on k8s, some service ports have fixed node ports assigned
([install/kubernetes/helm/istio/charts/gateways/values.yaml](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/gateways/values.yaml)).

[code]

It would be beneficial if this is also true for the status-port of the gateway service, as rig

[2019-06-19 15:47] nicktrav opened #14988 "Allow for configuring TERMINATION_DRAIN_DURATION_SECONDS in Helm"
**Describe the feature request**

When working around issues related to Envoy shutting down before its counterpart container, we discovered that Pilot has the [`TERMINATION_DRAIN_DURATION_SECONDS` environment variable](https://github.com/istio/istio/blob/1e062cf7108d254d929be8d22561f5856ddab9b8/pkg/features/pilot/pilot.go#L107) that allows for configuring the amount of time that the pilot-agent al

[2019-06-19 16:04] howardjohn commented on #14978
I'm not seeing this one:
[code]

Did I do something differently than you?

[2019-06-19 16:04] howardjohn commented on #14976
I see this as well.

One has
[code]

[2019-06-19 16:10] sdake commented on #14978
@Stono can you add a reproducer?

Can you specify the version of helm in use (`helm version`)?

Thanks

[2019-06-19 16:10] howardjohn commented on #14987
You can also just set the full port list. Modifying lists in helm (or other kustomize even) is a bit of pain for the reason you mentioned though

[2019-06-19 16:12] Stono commented on #14978
Sure thing, give me 5.

[2019-06-19 16:15] sdake commented on #14976
This was a merge error from a forward port that occured in d93e9eb8.  This (hopefully) wont occur again with our new master-first policy.

In the meantime, I'll fix the duplicate CRD problem.

Cheers
-steve

[2019-06-19 16:25] linsun commented on #14976
Thanks, i saw this prob in istio-demo.yaml and istio-demo-auth.yaml as well, I will look into it.

[2019-06-19 16:26] Stono commented on #14978
Ahhh this one was user error.  My apologies.

[2019-06-19 16:26] #14978 closed

[2019-06-19 16:34] Stono commented on #14978
OK for the sake of debugging here, we set `certmanager.enabled` on the `istio` chart to disable all of the certmanager templates in there.

In 1.2.0 it looks like the CRD was added to `istio-init`, and as a result we also need to set `certmanager.enabled` on the `istio-init` install too.

[2019-06-19 16:51] dbarentine commented on #14065
Sorry I had my cluster in a slightly different state so I'm working from a setup that is slightly changed.

This is what I currently see:
![Screenshot from 2019-06-19 09-27-54](https://user-images.githubusercontent.com/939865/59783454-05f0b200-9275-11e9-9300-fe2ce6e1a40b.png)

What is interesting is connect-connectors-example-dev... now only shows traffic from connect-dev as expected. But as you c

[2019-06-19 17:06] andraxylia opened #14992 "Needles ports in Envoy configuration in virtual host domains"
Remove hosts:port in the domains generation.
Virtual host matching in Envoy does not consider port. Port matching is performed at the Listener and FilterChainMatch stage. By the time Envoy processes RouteConfiguration, the port is ignored.

Example:

"route_config": {

   "name": "9080",

   "virtual_hosts": [

    {

      "name": "ratings.default.svc.cluster.local:9080",

        "domains": [

[2019-06-19 17:11] pitlv2109 commented on #14963
You should be able to configure service A to talk to service B with mTLS, and A to talk to C without mTLS, regardless of their namespace(s). This may help https://istio.io/docs/tasks/security/authn-policy/#service-specific-policy and this https://istio.io/docs/reference/commands/istioctl/#istioctl-authn for trouble-shooting.

[2019-06-19 17:36] sdake commented on #14976
note this wasn't "my" forward port error, it was "by" a forward port error. :)

[2019-06-19 17:37] #14976 closed

[2019-06-19 17:39] JimmyCYJ commented on #14942
Thanks for the update. These logs look okay to me. @quanjielin could you help to verify the log?
The error logs in the proxy showed that sidecar proxy uses a expired server cert to do handshake with ingress gateway, which causes handshake failure.

[2019-06-19 17:53] gargnupur commented on #13385
I am getting a different segmentation error on 1.17...

panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x50 pc=0x993e6f]

goroutine 30134 [running]:
github.com/golangci/golangci-lint/vendor/github.com/timakin/bodyclose/passes/bodyclose.(*runner).run(0xc0001482c0, 0xc35c9c2a20, 0x10, 0xd1c2e0, 0x181, 0x182)
	/home/travis

[2019-06-19 17:54] douglas-reid commented on #12400
6/19 - 11 AM Pacific (sorry for the late notice, I just saw your question).  If not, two weeks after that (July 3).

[2019-06-19 17:55] silentdai commented on #14992
Thank you for creating this. I list the main blockers here. I have less knowledge at istio flows and use cases so please add what's missing.

[x] Split inbound capture port and outbound capture port
[ ] Better LDS: the ability to drain partial of the filterchains(currently envoy could only drain a full listener). A milestone of FilterChainDiscoveryService
[ ] Use separate `FilterChainMatcher` for

[2019-06-19 17:56] howardjohn commented on #13385
@gargnupur you updated the golangci-lint to 1.17? If you didn't make any modifications it will still be using 1.16

[2019-06-19 18:00] linsun commented on #14980
cc @jmazzitelli @knrc to comment.  This may not be possible given there is no envoy on client side but I'd assume you can see the services in the mesh at the minimum.

[2019-06-19 18:02] silentdai commented on #13851
I personally agree that without deeper understanding of the 503 reason, istio shouldn't retry POST.
@mandarjog  Do you have more contexts on why istio still retry since #13848 is resolved.

[2019-06-19 18:02] josejulio commented on #14065
How do you have your ServiceEntry, Gateway and VirtualService configured?

For example, with this configuration, every external request points to my `external-svc` (`en.wikipedia.com`)

travels.v1 is running:
```watch "curl https://www.google.com | grep -o '<title>.*</title>'"```

hotels.v1 is running:
```watch "curl https://en.wikipedia.org/wiki/Main_Page | grep -o '<title>.*</title>'"```

discou

[2019-06-19 18:03] linsun commented on #14987
The prob for us to hardcode a port number is that it could be used by others and fail.  probably ok to declare and have a default to easy user in this scenario.

[2019-06-19 18:10] Stono commented on #13851
You wanna have a chat with Josh who had a list of action items leading towards not retrying 503

[2019-06-19 18:12] gargnupur commented on #13385
Yup... see it in logs too:

+ /usr/local/google/home/gargnupur/go/src/istio.io/istio/bin/../scripts/run_golangci.sh
golangci/golangci-lint info checking GitHub for tag 'v1.17.0'
golangci/golangci-lint info found version: 1.17.0 for v1.17.0/linux/amd64
golangci/golangci-lint info installed /usr/local/google/home/gargnupur/go/bin/golangci-lint
golangci-lint has version 1.17.0 built from 3d78f64 on 2

[2019-06-19 18:14] linsun commented on #14981
is it possible you (whoever deploys the app) don't have NET_ADMIN privilege?

[2019-06-19 18:21] linsun commented on #14979
before you apply any service entry, you'd want to check if your registry_only is taking effect which should block all outbound traffic.

[2019-06-19 18:23] linsun commented on #14977
@tiswanso @rlenglet can you check this out?

[2019-06-19 18:24] linsun commented on #14977
@waret did you follow instruction to give sufficient permission to istio cni? saw this error from ur log:

```pods with system-node-critical priorityClass is not permitted in istio-system namespace```

[2019-06-19 18:26] rlenglet commented on #14977
@waret Could you please try to create `istio-cni` in namespace `kube-system` instead, and confirm it works?

[2019-06-19 18:30] rlenglet commented on #14977
Related to https://github.com/kubernetes/kubernetes/pull/65593.

[2019-06-19 18:37] chrisob commented on #13009
Seeing this issue in 1.2 also:

[code]

[2019-06-19 18:54] howardjohn commented on #14992
@andraxylia does envoy actually completely ignore the port?

* If you have `domains: [ foo.com ]` and I send `curl foo.com -H "Host foo.com:80"` will it match?
* If you have `domains: [ foo.com:9090 ]` and I send `curl foo.com -H "Host foo.com:80"` will it match?

[2019-06-19 19:09] dbarentine commented on #14065
The configuration I was using is below. I originally just tried it using a ServiceEntry and no virtual service as well.

I haven't tried configuring it to use an egress gateway although I do have one running.

[code]

[2019-06-19 19:20] andraxylia commented on #14992
Related to envoyproxy/envoy#886

[2019-06-19 19:22] Sieabah commented on #14963
So we've resolved an error for external istio services talking into istio services by changing the default meshpolicy to PERMISSIVE.

[code]

However, this should have been reconfigured if we changed the helm installation.

[2019-06-19 19:24] linsun commented on #14951
is this only useful when helm install is used?  We are moving to use more helm template instead.

[2019-06-19 19:25] howardjohn commented on #14992
Thanks Andra, it sounds like the port is still required from that though?

[2019-06-19 19:53] pnambiarsf opened #15001 "Enhance sidecar injector helm charts to allow configurable cert locations"
**Describe the feature request**
pilot agent supports configurable cert locations. However this isnt exposed in the helm charts of the sidecar injector. Therefore, the cert locations cant be configured during deployment of the side car injector.

**Describe alternatives you've considered**
The workaround is to manipulate the configmap used by the sidecar injector after the yamls have been generate

[2019-06-19 20:09] pitlv2109 commented on #14963
Not sure if this is an helm/installation or not. Ping helm/installation experts @howardjohn @sdake

[2019-06-19 20:10] #11730 closed

[2019-06-19 20:19] peter-fe commented on #14987
@linsun,

But there are already fixed node ports used in the config, even the 31340 sample has a fixed one. So I was more like suprised that the status port has none.

I understand your point that it may can collide, but that's always the case. Most apps have their defaults set, but offer an option to adjust. Every port will be used somewhere, so if that's realy the point no one could ever agree o

[2019-06-19 20:30] sushicw commented on #14983
Does ECMAscript-style regex support (?i)? Do you have an example that passes a regex tester for this case?

[2019-06-19 20:38] josejulio commented on #14065
I repeated the test with only one unrelated ServiceEntry [1], and they all still generate metrics to that ServiceEntry. My workloads are still doing requests on google, apple and wikipedia.

[1]
[code]
[2]
![se-netflix](https://user-images.githubusercontent.com/3845764/59798587-1a01d700-92a8-11e9-894b-105c78b064bc.png)

[2019-06-19 21:10] #6482 closed

[2019-06-19 21:35] splkfinn opened #15010 "No Vary: Origin when CORS policy allows origin *"
**Bug description**
In our VirtualServices, we have a CORS policy that specifies `allowOrigin: ["*"]`. If a request comes in with an `Origin` header set, the response includes an `Access-Control-Allow-Origin` header with the value of whatever the `Origin` request header specified. This is expected behavior.

The problem arises when we add a `maxAge` to the VirtualService's CORS policy. It correctl

[2019-06-19 21:54] cscetbon commented on #12551
@silentdai could you have a look by any chance 👆 ?

[2019-06-19 23:31] sushicw commented on #14983
Did some digging. Unfortunately it appears the current regex implementation doesn't support flags. I did find https://github.com/istio/istio/issues/14266, which adds an `ignoreUriCase` option at the match rule level. So you can do e.g.

[code]

This feature is pretty new (thanks @venilnoronha !), and although it's present in master (and nightly builds) it isn't yet in a release. You can probably e

[2019-06-20 00:02] sushicw opened #15012 "Galley validation allows unknown fields, but rejects them internally"
**Bug description**

Adding invalid entries to match rules, or simply misspelling a valid one, fails silently instead of triggering the webhook validation. The impact is that although you think your config was successfully applied, it was not, and you don't know something's wrong until your stuff doesn't work and/or you dig in the logs.

e.g. if your match YAML uses "sourcelabels" instead of "sour

[2019-06-20 00:42] howardjohn commented on #14098
Working on this

[2019-06-20 00:43] howardjohn commented on #15012
I think this is working as intended based on https://github.com/istio/istio/issues/14533#issuecomment-500622559

[2019-06-20 01:09] Kyslik commented on #12985
No, but it should be the same thing.

[2019-06-20 01:46] hzxuzhonghu commented on #14933
If you want metrics like ` the number of request `, you can setup a egress gateway in theory, but this is too complicated i think. Take a look at the egress gateway https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/

[2019-06-20 02:10] #11870 closed

[2019-06-20 02:20] hzxuzhonghu commented on #14992
The port is required, otherwise `curl foo.com -H "Host foo.com:80` will fail

[2019-06-20 02:43] Analyse4 commented on #14981
correct me if I am wrong, I think my cluster doesn't enforce pod security policies.

flag `--enable-admission-plugins` default values in k8s v1.14.3
[code]

my kube-apiserver systemd unit file
[code]

pod can be deployed in manual sidecar injection
[code]

[2019-06-20 02:50] irisdingbj commented on #14330
@ozevren In our original discussion, we need to discover k8s api server to find out the correct crd version. Do you think current lowest version logic is enough?

[2019-06-20 03:20] yangminzhu commented on #13791
@douglas-reid I have a PR to add metrics for JWT in pilot: https://github.com/istio/istio/pull/15013, does that look good to you? If that's the appropriate way to add metrics in Istio I would love to add more for things like `missing DestinationRules`, `incorrect TLS setting`, etc.  Thanks!

[2019-06-20 03:49] PiotrSikora commented on #14992
No.

No.

The port is required (Envoy performs exact match against `Host` / `:authority` headers), but please leave the port-less virtual host as well, since reverse proxies usually don't append port to the `Host` header, so you might see `Host: foo.com` on port `9090`.

[2019-06-20 03:49] #14992 closed

[2019-06-20 03:59] vadimi commented on #12545
This started breaking our cluster when we moved to `1.2`. Previously we were disabling galley and using "host:port" in the gateways and virtualservices to send some NodePort traffic. It worked perfectly fine. But with `1.2` galley is required now due to https://github.com/istio/istio/issues/14841.

Is there a way to allow ports in host names? we have lots of virtual services and changing all of th

[2019-06-20 05:05] kyessenov commented on #13791
@yangminzhu the issue refers to Envoy-produced telemetry. I think it is useful to detect mis-configuration in Pilot/Galley, but we still need to observe the actual data path security properties. Things like SSL error codes during negotiation supplemented TCP connection reset errors or TLS version used for an HTTP request. If you can help exposing those properties through Envoy StreamInfo / API, th

[2019-06-20 05:14] peter-fe commented on #14987
@howardjohn,

Thank you for the input, we were thinking about that option too as a last resort.
But that would mean, that we have to compare the values.yaml before every new version we install/upgrade and have to adjust if new ports may have been added.

We rely heavily on infrastructure automation
so that manual cross checking causes some additional friction.
There is no big difference between pa

[2019-06-20 05:48] Janesee3 commented on #14942
Hi @JimmyCYJ, none of our clusters are experiencing the problem for now, but here's a snippet of the output for the `/cert` endpoint:

[code]

As for the node agent logs, I do not have anything new to add other than the ones that I showed in the previous comment. We consistently see these in the node agent logs when we experience the error:

[code]

Thanks for your help!

[2019-06-20 05:56] ostromart opened #15017 "Make protoc builds hermetic"
istio/operator proto build relies on local installation but should use a docker based compilation.

[2019-06-20 07:54] JungukCho commented on #12441
@ctonur, @simox-83, after setting up below env variable **(.svc)**, it worked.
export no_proxy=other ip addresses,**.svc**

[2019-06-20 08:09] MrBlaise opened #15020 "Upgrade from 1.1.8 to 1.2.0 breaks SDS"
**Bug description**
After upgrading to 1.2.0 using helm template installation I've got:
`TLS error: Secret is not supplied by SDS` messages all over the ingress gateway instance. I have recreated the certificates restarted the ingress instance, the logs said it found the secret, but it still wouldn't work.

Downgrading back to 1.1.8 github tag worked.

**Affected product area (please put an X in a

[2019-06-20 08:10] shakti-das commented on #13221
It's partly done, the bootstrap config changes related to ControlPlaneAuthPolicy flag and TLS metrics service are still pending.

[2019-06-20 08:18] MrBlaise commented on #15020
Relevant part of the logs with istio 1.2.0 in the ingressgateway:

[code]

During the downgrade this happened int the logs:

[code]

And it started working again.

[2019-06-20 08:43] tjholwik commented on #14708
How to proceed ?

[2019-06-20 09:10] #11779 closed

[2019-06-20 09:55] dgn opened #15024 "Pilot loads initial mesh config directly from K8s ConfigMap"
**Bug description**
When a MeshConfig file is not found or could not be loaded, Pilot resorts to reading from the 'istio' ConfigMap directly (in case we're on Kubernetes). It doesn't do this for the MeshNetworks- here, it only tries to load from a file and uses a default configuration if that's not possible.

My understanding is that Pilot should not be directly dependent on Kubernetes in the futu

[2019-06-20 10:45] ramaraochavali commented on #14983
`ignoreUriCase` does not work for regex type of URIs

[2019-06-20 11:10] #9831 closed

[2019-06-20 13:10] linsun commented on #15020
@myidpt can you check it out?  I can't find out where "Secret not supplied by SDS" is produced and this seems SDS specific.

[2019-06-20 13:41] linsun commented on #15012
I personally prefer fail or at the minimum give a warning out in this case if we are loosing up validation because of upgrade ad our CRDs are still under renovation.  Else, we'd keep getting issues like this.

cc @ozevren @geeknoid

[2019-06-20 14:38] clyang82 commented on #14975
@costinm the new installer circleci keep running into these issues. I have fixed some them. Could you help to review and merge them? Thanks.

[2019-06-20 14:40] linsun opened #15026 "operator: ability to configure mixer policy check enabled or disabled"
@ostromart @rcernich looking at the operator spec, I don't see a way to tune the following common configs.  (other than do it via baseSpecPath yaml file).

- mixer policy check on or off
- trace sampling configuration

[2019-06-20 14:59] Stono commented on #14841
Hey,
So I've just hit this.  I'm worried about comments like "We no longer test it AFAICT.".  Not running with galley is an option exposed to customers via the installer.  We've never ran with galley as we haven't been able to allocate the time into testing a deployment with it.

  - If it's required, we should remove the option to disable it.
  - If it isn't required, it should absolutely be test

[2019-06-20 15:01] ShimiT commented on #14782
@howardjohn  I've used the same test on our cluster, i.e. `1000VS`   with `8000` routes **without pods**  and `istio-pilot` works as expected. `pilot` uses only one replica with 1-2GB at load.
Our scenario is a bit different,  `1000 namespaces-> 1000  pods-> 8000 routes` which pilot cannot handle even with `15` instances (4GB memory each). if you want me to provide additional info please let me kn

[2019-06-20 15:12] howardjohn opened #15027 "Galley high CPU usage at rest"
When running in a cluster doing nothing:
[code]

I would expect it to be much lower in a cluster with no activity -- it uses far more than any other component.

We also may want to turn on the debug endpoints by default like other components to debug these types of things easier, unless there is some context for it being off that I don't know of.

[2019-06-20 15:33] Stono opened #15029 "Galley arbitrarily becoming required in 1.2.0"
Hi,
We're trying to upgrade one of our clusters from `1.1.9` to `1.2.0` and having a pretty horrendous time, mainly with the mixer components of the control plane crash looping.

It seems that as of `1.2.0`, galley is unofficially required, despite there being [nothing](https://istio.io/about/notes/1.2/) in the release notes about this.  There are several open issues regarding components failing o

[2019-06-20 15:36] howardjohn commented on #15020
@linsun its in envoy https://github.com/envoyproxy/envoy/blob/master/source/extensions/transport_sockets/tls/ssl_socket.cc#L25

[2019-06-20 15:59] ozevren commented on #14841
Galley wasn't required in 1.2.0. However, we're going in a direction to make it required. This seems like code rot, more than anything else.

[2019-06-20 16:05] sushicw commented on #14983
@ramaraochavali I found this surprising since I'd tested this yesterday and gotten the OP's use case to work using the snippet posted...I could hit `<my ip>/foo/bar` or `<my ip>Foo/BAR` and both would successfully route.

I've played with it a bit more and noticed that it does *not* work if the regex itself isn't all lowercase. e.g. the above example works for regex `/foo/bar` but not `/FOO/BAR`.

[2019-06-20 16:58] douglas-reid commented on #13665
Ok. All of the metrics for Istio should now be documented, either on the reference page for "Default Metrics" or on the pages for each component (mixs, pilot-discovery, galley).

I'm going to close this given those updates.

There is more work to be done to improve the docs, but they exist.

[2019-06-20 16:58] #13665 closed

[2019-06-20 17:02] duderino commented on #15029
@ozevren @mandarjog @costinm was this an unintentional dependency?  Do we need tests to ensure that components work properly without Galley?

[2019-06-20 17:04] ozevren commented on #15029
This was unintentional. I am diagnosing what has caused this. I think we should test the installation without Galley as well. I thought we had tests for this. If not, I'll look to add it.

[2019-06-20 17:16] linsun commented on #15029
We have a test for minimal istio profile which runs when galley is off but mixer is also off.

Sorry we didn't realize galley is absolutely required for 1.2 or required for mixer, so it is not intentionally left off from relnote.

[2019-06-20 17:17] sdake commented on #15020
This is the most relevant part of the log `[2019-06-20 08:14:05.116][18][warning][config] [bazel-out/k8-opt/bin/external/envoy/source/common/config/_virtual_includes/grpc_stream_lib/common/config/grpc_stream.h:86] gRPC config stream closed: 2, no credential token is found
`

[2019-06-20 17:18] sdake commented on #15020
@MrBlaise can you comment about how you intalled 1.1.8 (which options) and how you upgraded (with which options)?

`helm template` or `helm upgrade` mode
paste `helm version`, please

[2019-06-20 17:21] wattli commented on #15020
Thanks @sdake , this will be very helpful for the debugging.

[2019-06-20 17:21] JimmyCYJ commented on #15020
@MrBlaise Could you show us the config dump of ingres gateway? The 503 sounds like ingress gateway fail to talk to internal backend sidecar. It would help if we can verify whether the dynamic cluster config has SDS config or file mount path for certs.

[2019-06-20 17:22] JimmyCYJ commented on #15020
If dynamic cluster config has SDS config, could you also show us whether citadel agent is running per node?

[2019-06-20 17:22] MrBlaise commented on #15020
I will provide a more details once I am in the office, but I used helm template to install istio. I have two ingressgateways one acts as the edge (it allows internal employees only) and it forwards requests to the other one internally.

[2019-06-20 17:25] #11778 closed

[2019-06-20 17:27] JimmyCYJ commented on #15020
From the log
""GET / HTTP/2" 503 UF,URX "-" "TLS error: Secret is not supplied by SDS" 0 91 63 - "10.0.96.20" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_5) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.169 Safari/537.36" "29ff51bb-e6f2-44ca-8457-1bc61521f43f" "REDACTED" "10.0.93.98:80" outbound|80|v1|REDACTED.svc.cluster.local - 10.0.92.103:443 10.0.96.20:49298 REDACTED"
It is the fai

[2019-06-20 17:32] niravk1 commented on #13052
Is there any workaround for this issue yet or root cause for "connection refused"?

[2019-06-20 17:33] JimmyCYJ commented on #15020
Thanks for the response. Is this 503 from the edge ingressgateway? If yes, then the edge ingress gateway tries to forward request to the core ingress gateway via mTLS. Then you need to use the file mount approach to provide key/cert for the edge ingress gateway's Cluster config and the core ingress gateway's Listener config. Maybe the upgrade enables SDS for edge ingress gateway's Cluster config.

[2019-06-20 17:38] MrBlaise commented on #15020
The edge first forwards normally to an apache instance that does oauth authentication and that service forwards it to the other ingress. But after upgrading the whole process stops at the edge the apache server is never called. With 1.1.8 it works perfectly fine using sds on the edge :/

[2019-06-20 17:38] esnible commented on #13329
Helm 3.x may use LUA.  This may offer a validation hook that can be used instead of https://github.com/istio/istio/pull/14047 .  See https://sweetcode.io/a-first-look-at-the-helm-3-plan/

[2019-06-20 17:39] sdake commented on #12545
@vadimi Hi.  I respect that you want to use NodePort.  NodePort is usually used for evaluations, but not production.

I'd like to understand a little more about your use case.  Does your environment not have support for a load balancer?  Could you expand on your environment a bit?  Are you using NodePort in production?

Cheers
-steve

[2019-06-20 17:48] rockholla commented on #14937
Any ideas here? Even if it's as simple as "those conflicts are definitely a problem" or "you can ignore those conflicts" ahead of a more detailed explanation or resolution would be helpful. Thanks again.

[2019-06-20 17:50] JimmyCYJ commented on #15020
So the failure is between edge and apache server. A config dump via $ curl 127.0.0.1:15000/config_dump would help. Looks like the edge tries to talk to apache through a Cluster "outbound|80|v1|REDACTED.svc.cluster.local"

[2019-06-20 17:55] diemtvu commented on #14937
It's the lack of documentation. Basically, the tool can check the policy
and destination rule are matching, and did not take into account whether
service have sidecar or not. In this case, as policy and telemetry doesn't
have sidecar, so authentication policy doesn't have any effect on them (i.e
enable mTLS), and DR needs to set to plaintext for those services. As a
result, the tool may report con

[2019-06-20 17:59] kyessenov commented on #14967
@antonmedv does expr support C++ or WASM runtimes? We're looking to move expression evaluation into Envoy proxy (C++ code with a potential for an embedded WASM runtime).

[2019-06-20 18:03] JimmyCYJ commented on #14942
These are info logs. It is because Citadel agent (we are replacing the name node agent) terminates connection during cert rotation, to force Envoy reconnect with its latest token. Given that the issue is gone and we don't have other logs or information for it, shall we close this issue for now and reopen it if this happen again?
@quanjielin

[2019-06-20 18:11] silentdai commented on #12551
Ack. Inbound split should not improve the connectivity ability. Split unlock the possibility but I need to read through what occurs here before I propose the next step

[2019-06-20 18:12] mandarjog commented on #15029
I am looking at the problem now.

[2019-06-20 18:17] pitlv2109 opened #15034 "vault.TestClientOnExampleHttpVaultCA failing on presubmit"
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests/25193
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests/25195
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-unit-tests/25196

Looks like this endpoint `35.233.249.249:8200` is not ready. Tests were timed out.

[2019-06-20 18:21] pitlv2109 commented on #14791
Looks like it was timed out either during service account creation or secret creation. Recently, it's been passing pretty consistently though.

[2019-06-20 18:28] sdake commented on #14981
@Analyse4 I have seen this error many times with the injector.  This error typically indicates the application sidecar times out (30 second timer)  connecting to the istio-injector.  This can occur for several reasons:

- routing between the sidecars and the Istio control plane is not active.  (We see this often on self-deployed K8s)
- The node running the injector (or the sidecar) has firewall ru

[2019-06-20 18:30] Stono commented on #15029
Thanks all.
As the default behaviour is to deploy galley, I am presuming it is stable?

Basically I'm trying to best judge when to start migrating to Galley, and wondering if there are any outstanding issues (should I wait for 1.3+) or should I do it now in 1.2?

[2019-06-20 18:35] pitlv2109 commented on #14603
We're in the process of updating Istio authentication filter to use Envoy jwt filter. Stay tuned!

[2019-06-20 18:36] JimmyCYJ commented on #14899
/cc @mandarjog

[2019-06-20 18:37] sdake commented on #15017
@ostromart in one of our repos (api or docs, can't recall which) I believe there is a proto compiler image and example makefiles.

Cheers
-steve

[2019-06-20 18:49] jasonwzm opened #15035 "SD Adapter to use the default application credential if service account file does not exist"
This is a retro issue created for the merged PR:https://github.com/istio/istio/pull/14972

**Describe the feature request**
SD Adapter needs to fall back to use the default credentials if the provided credential does not exist due to misconfiguration, etc.

**Describe alternatives you've considered**
As an alternative, users need to manually find out and validate the credentials to use.

**Affecte

[2019-06-20 18:49] #15035 closed

[2019-06-20 18:51] #14741 closed

[2019-06-20 18:56] diemtvu commented on #4794
Fixed / obsolete.

From what I can see, this test is no [longer flakiness](https://testgrid.k8s.io/istio-release#e2e-bookinfoTests&width=10&sort-by-flakiness=)

![image](https://user-images.githubusercontent.com/25132401/59874001-16c32580-9352-11e9-9573-5eebd10961c2.png)

The whole pipeline still fails once in a while, but due to permission, [e.g](https://prow.k8s.io/view/gcs/istio-prow/pr-logs/di

[2019-06-20 18:56] #4794 closed

[2019-06-20 18:56] vadimi commented on #12545
hi @sdake. We use istio in AWS EKS and we do have load balancers for http1 apps. But we also have lots of grpc services that we expose from the cluster (internally only) and using node ports was pretty simple - we just configured route53 with ip addresses of istio-ingressgateway nodes.

[2019-06-20 18:57] howardjohn commented on #15034
I thought this test got move to a unit test?

[2019-06-20 19:00] kyessenov commented on #11700
The test looks very much green to me. Please re-open if it starts flaking again.

[2019-06-20 19:00] #11700 closed

[2019-06-20 19:01] incfly commented on #4794
I think the test is not running currently... It's still skipping

I don't think we fixed the underlying problem, the real fix requires ssh user to be set differently in the mesh expansion setup script....

Having that said, it might not worth fixing this particular issue, people are saying we should use kind stuff to run mesh expansion test...

[2019-06-20 19:04] diemtvu commented on #4794
I'm confused. Do you mean the test is disabled in code. And what is showing in the dashboard is just a do-nothing test?

[2019-06-20 19:07] tiswanso commented on #14318
Closing this as ipv6 support for CNI has been added in 1.2

[2019-06-20 19:07] #14318 closed

[2019-06-20 19:24] lei-tang commented on #15034
Yes, this test got moved to an integration test: https://github.com/istio/istio/pull/13684.
The following links in the issue description are for the PR https://github.com/istio/istio/pull/15007, which is for on a branch called "authz-v2". I am not sure the code and test status of the branch "authz-v2" and how such branches should be maintained.
https://prow.k8s.io/view/gcs/istio-prow/pr-logs/direc

[2019-06-20 19:44] rockholla commented on #14937
OK, thanks @diemtvu!

[2019-06-20 19:45] c0d1ngm0nk3y commented on #14667
Can be closed when #14995 is merged.

[2019-06-20 19:48] ozevren commented on #14841
This should fix this: https://github.com/istio/istio/pull/15033
@howardjohn Could you verify, if possible?

[2019-06-20 19:50] antonmedv commented on #14967
Currently only go runtime is supposed, but if your are interesting in WASM support I can work on it. Since expr compiling expressions to bytecode, expr can compile expressions directly into WASM.
Let me know what you think.

[2019-06-20 20:19] Sieabah commented on #14963
This installation was done through helm.

[2019-06-20 20:21] josejulio commented on #14933
Thanks for the info, do you think that in the future HTTPS requests (for external ServiceEntry) are going to fill `istio_requests_total` by default?

[2019-06-20 20:22] #14667 closed

[2019-06-20 20:23] venilnoronha commented on #14667
@c0d1ngm0nk3y do we also need this in 1.2.1?

[2019-06-20 20:25] kyessenov commented on #14967
@antonmedv Given we are not sure our WASM satisfies the performance requirement, we're hedging with C++ runtime. CEL does provide a C++ runtime, which makes it the obvious candidate.

If you are interested in building a WASM runtime, please consider the problem of retrieving the environment information from the host. We are also trying to develop a WASM API to read host information in https://gith

[2019-06-20 20:37] josejulio opened #15038 "External HTTPS traffic always fill telemetry for a existing ServiceEntry"
**Bug description**

External HTTPS traffic always fill telemetry for a existing ServiceEntry (even if it doesn't match)

For example, If i have a ExternalService to `www.apple.com` and i do requests to `en.wikipedia.org`, data is filled from the pod that called wikipedia, but the de `destination_service_name` points to `www.apple.com`.

**Affected product area (please put an X in all that apply)*

[2019-06-20 20:43] josejulio commented on #14065
@dbarentine I created a separate github issue with a reproducer https://github.com/istio/istio/issues/15038. I think that this is affecting you.

The workaround here would be to create ServiceEntry for all the external calls you make, so they are routed appropriately.

You can block external traffic better understand where are external calls. This will block all external calls, except the ones tha

[2019-06-20 20:44] kyessenov commented on #13155
Last failure is due to short-wait in the test:
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-mixer-k8s-postsubmit-tests-master/142

The test only waited 36s instead of >5 mins. I think this can be closed once the fix to increase the time out to 5 minutes makes it to all branches.

[2019-06-20 20:44] #13155 closed

[2019-06-20 20:48] howardjohn commented on #14841
@ozevren lgtm
[code]
[code]

[2019-06-20 21:00] mandarjog commented on #14773
Add the following annotion to the POD `sidecar.istio.io/statsInclusionSuffixes: ssl_context_update_by_sds`

For ingress you need to add it directly as env.
https://github.com/istio/istio/wiki/Envoy-native-telemetry

[2019-06-20 21:08] A-And opened #15040 "Upgrade failing with metadata.resourceVersion: Invalid value"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
We're seeing a version of #12985, specifically
[code]
The issue above specifies a manual workaround, but this is not an ideal with an automated depl

[2019-06-20 21:10] Stono opened #15041 "Pilot-agent to implement a quitquitquit endpoint like envoy"
**Describe the feature request**
It would be great if `pilot-agent` implemented a `quitquitquit` endpoint like envoy does.  This would enable us to programatically kill pilot-agent from other containers in the same pod, for example - at the end of a [CronJob](https://github.com/istio/istio/issues/11659), or using a tool like https://github.com/monzo/envoy-preflight.

**Describe alternatives you've

[2019-06-20 21:25] #8750 closed

[2019-06-20 21:53] Stono opened #15043 "Headless services fail to start (pilot-agent) crash on 1.2.0"
**Bug description**
Pods which do not have containerPorts specified no longer work on 1.2.0.  We have some applications that only make outbound connections so as such do not need listeners so this is a regression for us.

This manifests as:
[code]

Because pilot-agent is being started with an empty value for applicationPorts:
[code]

**Affected product area (please put an X in all that apply)**

[

[2019-06-20 21:58] howardjohn commented on #15043
Behavior looks the same on 1.1.9/1.2.0
[code]
[code]
1.1 template:
https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L159

Essentially the same template in 1.2:
https://github.com/istio/istio/blob/release-1.2/install/kubernetes/helm/istio/files/injection-template.yaml#L157

So this same application didn't experience this in 1.1.

[2019-06-20 22:05] Stono commented on #15043
Hmmm, then it is likely a product of my exhaustion.  I'll head to bed and look it with fresh eyes, and re-open if it's actually an issue.

Cheers John

[2019-06-20 22:05] #15043 closed

[2019-06-20 22:07] howardjohn commented on #15043
Even if it happens on 1.1 it may still be an issue, it seems we should probably not pass the flag if there are no ports. Let me know what you find, maybe we should tweak the template a bit

[2019-06-20 22:25] #11900 closed

[2019-06-20 22:48] #14945 closed

[2019-06-20 23:04] tmc commented on #6046
@gramic is there an issue open for that?

[2019-06-20 23:25] #11919 closed

[2019-06-20 23:44] pitlv2109 commented on #15034
@lei-tang Feel free to close this if it fails on `authz-v2`, since that branch won't be used anymore.

[2019-06-20 23:46] lei-tang commented on #15034
The issue is closed since the branch authz-v2 won't be used anymore.

[2019-06-20 23:46] #15034 closed

[2019-06-21 00:31] howardjohn commented on #15038
Nice find. Looks like the mixer filter get applied erroneously to wildcard listener:

[code]

I am not sure the behavior we should have here though. Should we just have no mixer config here at all or make it `unknown`? @douglas-reid @mandarjog @kyessenov

Some context: This listener was added to allow external traffic even if another service was defined on the port. Before, external traffic was al

[2019-06-21 00:44] mandarjog commented on #15038
For wildcard hosts, `request.host` is probably the correct dimension. In today's setup it can be achieved by not specifying  `destination.*` fields. I think in the metric instance, we can use request.host as a fall back.

[2019-06-21 01:40] hzxuzhonghu commented on #14933
I donot think we can make it. because https requests are encrypted, envoy receives only tcp traffic and proxy it .

[2019-06-21 01:42] gdhagger commented on #9504
I've been using the `readiness.status.sidecar.istio.io/applicationPorts: ""` to workaround this issue until today, when I found that I was getting random 502's from the pods in a deployment.  Seems some of the envoy proxies truly weren't ready, but without the check they were still in the pool.

Removing the annotation and killing the pods manually until I got a full set that were truly healthy re

[2019-06-21 01:45] hzxuzhonghu commented on #15038
Is this caused by ALLOW_ANY? For tcp traffic to different hosts, especially different un-certain hosts, it is hard to know which is which.

[2019-06-21 02:24] howardjohn commented on #15038
Yes it's from the allow_any . this is https traffic I think we have all the info it is just misconfigured

[2019-06-21 02:25] cscetbon commented on #12551
what do you mean by "improve" here ?

[2019-06-21 02:43] iandyh commented on #9784
@hzxuzhonghu Is there any reason why Istio choose to group all the clusters by ports? Currently finding the route is port -> rds(clsuter) -> endpoint

Why not directly matching the cluster like the inbound listeners?

[2019-06-21 03:31] hzxuzhonghu commented on #15038
Https is treated as tcp in envoy, it is unknown.

[2019-06-21 03:34] hzxuzhonghu commented on #9784
This is determined by envoy. Personally i think for outbound there may be many clusters on same port, but for inbound, i think it can be only one.  For outbound traffic, it is more complicated.  I am not sure if this is right, hha.

[2019-06-21 04:34] Janesee3 commented on #14942
Hi @JimmyCYJ, I reopened it because the error will eventually occur again in a few days' time. I am already noticing some abnormalities in the `/certs` endpoint for one of the applications in my production environment:

[code]

Some of the `cert-chain` certificates have already expired and are not renewed

[2019-06-21 05:23] antonmedv commented on #14967
Okay I see, thanks.

[2019-06-21 05:23] #14967 closed

[2019-06-21 06:22] hzxuzhonghu commented on #9504
@gdhagger @sdake and I have tried to reproduce this using a single node cluster to start 300 pods simultaneously , all pods become ready after several minutes(4~6),   And I tied to see why it is slow for several minutes , and the result shows it is kubelet start containers and report status too slow.

[2019-06-21 06:22] incfly commented on #14828
/assign @Monkeyanator

[2019-06-21 06:22] istio-testing commented on #14828
@incfly: GitHub didn't allow me to assign the following users: Monkeyanator.

Note that only [istio members](https://github.com/orgs/istio/people) and repo collaborators can be assigned.
For more information please see [the contributor guide](https://git.k8s.io/community/contributors/guide/#issue-assignment-in-github)

<details>

In response to [this](https://github.com/istio/istio/issues/14828#is

[2019-06-21 07:25] #11934 closed

[2019-06-21 07:40] sathishkumar64 commented on #12947
@howardjohn

I have one question? How to setup multi region in GKE for Locality-weighted load balancing? Have to create Multicluster with Gateway connectivity ? Because we dont have option for create multi region setup in GKE ?  So how to achieve following setup ?

# localityLbSetting:
  #   failover:
  #   - from: us-east
  #     to: eu-west
  #   - from: us-west
  #     to: us-east

Regards,
Sat

[2019-06-21 07:50] MrBlaise commented on #15020
@JimmyCYJ here is the dump: https://gist.github.com/MrBlaise/443e93c0c74a374ecc3f77446f68f96d

[2019-06-21 07:53] MrBlaise commented on #15020
My helm values are the following:

[code]

I just realized this part I had commented:

[code]

Might be something interesting or not connected at all.

[2019-06-21 09:07] mailzyok commented on #1756
Does Istio CNI plugin support IPv6, according to the README.md from CNI, only IPv4 is supported.

Thanks.

[2019-06-21 09:25] #11824 closed

[2019-06-21 09:55] pandey-adarsh147 opened #15055 "Egress pod RDS is not sent"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Egress pod is not in sync state

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Instal

[2019-06-21 10:22] Demonian commented on #14553
@howardjohn @sdake @Stono I would like to make some conclusion to this topic. First of all we have achieved good results with only **12%** less throughput (MTLS, pilot, telemetry, tracing enabled) in comparison to configuration without istio, we had almost *50%* at the beginning.

Here is our tests results:
<img width="1023" alt="Screen Shot 2019-06-21 at 13 18 19" src="https://user-images.githubu

[2019-06-21 10:33] sdake commented on #15029
@Stono following up on your question related to horizontal scaling and the scaling listed as 1 in the manifest, @ozevren had indicated there is some minor improvement he intends to make to galley's sidecar handling to handle more scale.  I probably butchered what he said, so I'll let him add commentary there.

I use galley all the time (but not at very large scale) and galley works well).  I have

[2019-06-21 11:16] azalenski commented on #6071
I am seeing the same issue where the httpsRedirect: true option is not working at all and HTTP traffic is not being redirected to HTTPS.

Does anyone have any idea what might be causing this and how to fix it?

[2019-06-21 11:34] RaynDol commented on #14782
HI @howardjohn @ShimiT , are you able to made some progress , we are struggling with the similar problem (pilot) almost 3 weeks without success , we wanted to switch to `istio` for production and **pilot is currently blocker** for us as it consume `80GB` (we try to scale it to 10 replicas with 8GB memory each) of memory before it crushed , please advice.

[2019-06-21 11:37] PigNatovsky commented on #14069
Thanks guys, now everything is clear :)

[2019-06-21 11:37] #14069 closed

[2019-06-21 11:45] g-p-n commented on #14386
@mofee
In our experimental setup, we are perhaps seeing a manifestation of this issue.
a) Does your app attempt to connect to the proxy only once, i.e. soon after the Pod is Running?

b) If your app connects to the proxy on-demand or periodically sometime after the Pod has been Running, then what happens to these connection attempts?

c) I do not believe that this issue has to do anything with con

[2019-06-21 11:56] varsraja commented on #10858
I have deployed istio in aws kube cluster. Facing the same issue

[2019-06-21 12:29] jshaughn commented on #15038
I had dropped this message into slack yesterday, not sure if it's helpful...

I think what I would expect is that when a request is handled by a serviceEntry because the requested service matches a serviceEntry host, that the resulting telemetry would have destination_service_name=<serviceEntryName>

if outboundTrafficPolicy.mode = ALLOW_ANY there is no serviceEntry match, then I think I'd expect

[2019-06-21 12:32] bkrahmer commented on #14941
Ok, thanks for investigating.  I will report it against Red Hat Service Mesh.

[2019-06-21 12:32] #14941 closed

[2019-06-21 13:05] Kiddinglife opened #15057 "Does istio support cutomized load balance mechnism?"
Hi folks,

I want to use istio in game server developments.
I am wondering if istio provides an admin API for developers to control or update the existing routing rules for load balance?

for example, a game player teleports from Map Server A to Map Server B. The load balancer should expose an admin api to a caller who can change the current map server where the player locates currently from map s

[2019-06-21 13:45] jwineinger opened #15058 "Support arbitrary labels on ServiceMonitors in installer prometheus-operator"
**Describe the feature request**
We run prometheus-operator with the intention of allowing teams to run their own prometheus instances with config to target their own ServiceMonitors (and PrometheusRule) objects via [prometheus.prometheusSpec.serviceMonitorSelector](https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus-operator/crd-prometheus.yaml#L2433) in the

[2019-06-21 13:52] GregHanson commented on #14900
@pc-rshetty PR merged to master and release 1.2 branch.  The fix did not make it in time for the 1.2.0 release, but will be part of 1.2.1

[2019-06-21 14:15] esnible commented on #15012
@howardjohn I was allowed to add validation of top-level keys ( https://github.com/istio/istio/pull/11791   This patch caught invalid YAML in our own _samples_).  I can understand why we might allow formerly-valid YAML, but there is no use case for a MatchCondition of `BOGUS: true`!

[2019-06-21 14:23] howardjohn commented on #15041
Just to make sure I full understand, you have jobs and when they complete the pods stick around because Envoy/pilot-agent is still running?

Seems like a reasonable and pretty simple feature.

In the mean time may I suggest `pilot-agent-agent` for the name of your script :slightly_smiling_face:

[2019-06-21 14:26] howardjohn commented on #12947
GKE should be no different than other k8s providers. To get the multicluster setup you should see https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/.

Once you have that setup is it still not working?

[2019-06-21 14:27] Stono commented on #15041
Haha nice name.
Yes, basically we have cronjobs that require sidecars, when the main process exits 0 the sidecar process does not.

We work around this by having the entry point of the main container TRAP the main script and then curl envoy when it ends with quitquitquit so the Pod/Job then completes.

[2019-06-21 14:42] kyessenov opened #15060 "ci: TestCheckCoverage cannot open or parse report file: /go/out/codecov/pr/coverage.html, bufio.Scanner: token too long"
cf. https://circleci.com/gh/istio/istio/448696?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-06-21 14:52] howardjohn commented on #14553
Wow very useful, I did not know about this one. Maybe should be added to our performance dashboard. The links you provided look really informative as well, will have to dig into those.

Glad to see you got it down to only 12% less throughput!

@mandarjog you may be interested in ^

[2019-06-21 14:54] Stono commented on #14553
Mega.  Thanks for the headsup about `container_cpu_cfs_throttled_seconds_total`

[2019-06-21 15:10] esnible opened #15061 "istioctl kube-inject w/o cluster has additional required arguments in 1.2"
`istioctl kube-inject` now requires a Kubernetes cluster:

[code]

Even though the mesh configuration and injection configuration have been supplied, istioctl tried to read something and failed.

The fix for this item should include adding a test that lacks Kubernetes access.

@rvennam

Probably introduced with https://github.com/istio/istio/pull/10830

[2019-06-21 15:19] wxdao commented on #14951
Really? I've been thinking helm install is a more complete way to setup. I find helm template really bad at switching on and off different components, switching off especially. If it's tiller that makes helm install upsetting, since v3 helm does get rid of it.

[2019-06-21 15:25] #11910 closed

[2019-06-21 15:29] GregHanson commented on #13085
@piotrmsc was not part of the 1.2 release, but there is a cherry pick PR here: https://github.com/istio/istio/pull/15062

Should be available when 1.2.1 goes out

[2019-06-21 15:30] howardjohn commented on #15061
I think you just need `--values-file` as well now possibly?

Are you working on this or want me to

[2019-06-21 15:34] howardjohn commented on #15057
Related: https://github.com/istio/istio/issues/13859

[2019-06-21 15:43] howardjohn commented on #15055
Are you seeing any real problems? Or just the "Not Sent"?

Its not necessarily a bus for it to be "Not sent", it depends on your config. Out of the box egress won't get any routes afaik

[2019-06-21 15:51] Pluies commented on #12855
Sigh... It looks like I'm going through the same journey as you, but as a slow-motion car crash.

Our update from Istio 1.1.x to 1.2.0 has failed despite adding the new 1.2 CRDs with the `crd-install` hook annotation, because Helm [only runs these hooks on chart install, and not on upgrade](https://github.com/helm/helm/issues/4697); and therefore won't install new CRDs on a Helm upgrade.

Looks li

[2019-06-21 15:52] rvennam commented on #15061
Want to add some additional context:

Users should be able to run `istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml` independently - disconnected from any cluster. For example: This can be in a CI/CD pipeline where the output yaml is saved and applied later.

This was working in 1.1.x and regressed in 1.2

[2019-06-21 15:55] howardjohn commented on #15061
You can you just need to pass an extra parameter. Just tested with

[code]

We should update the docs though

[2019-06-21 16:04] Pluies commented on #12855
And for completeness, here's the thread where @sdake commented on the issue, explaining the exact same issue we just encountered (and describing better than I did :) ) and providing the rationale for splitting into two Helm charts: https://github.com/istio/istio/issues/9604#issuecomment-437291974

[2019-06-21 16:17] esnible commented on #15012
As an experiment I added validation of unexpected keys to `istioctl validate` and ran validation over Istio 1.2 _samples_.  I found three weird things:

[code]

The Istio team can't get our own hand-inspected official samples correct.  Let's help users by doing deep validation in `istioctl validate` and the validation web hook.

@frankbu Let's update the samples
@howardjohn Are the incorrect field

[2019-06-21 16:19] kramvan1 commented on #15061
Also happens with `version`
[code]

[2019-06-21 16:22] esnible commented on #15061
@kramvan1 The message is intended to indicate that there is no control plane.  It may be that we need to improve the message, what text would have made it clear to you?

If I run `istioctl version` without a cluster I see

[code]

[2019-06-21 16:26] kramvan1 commented on #15061
@esnible   Should this really be an Error for `version` and rc=1?    Seems like version and kube-inject type commands should not have a hard cluster dependency.

Was expecting to issue a `istioctl version` during a batch cd/ci job without cluster and not have it fail.  (added `|| true` to workaround for now).    While I expect errors from kube-inject if the files/yamls are bad, I don't expect it t

[2019-06-21 16:27] howardjohn commented on #15012
Running istioctl validate on our samples in presubmit seems like a good idea.

Warning for unknown fields in istioctl validate (as it does today) is a good idea.

Kubernetes does reject unknown fields (example: `error validating data: ValidationError(Service.spec): unknown field "foo" in io.k8s.api.core.v1.ServiceSpec; if you choose to ignore these errors, turn validation off with --validate=false

[2019-06-21 16:27] ostromart commented on #15017
Thanks, @sdake - I should've pointed that out in the issue.

[2019-06-21 16:27] howardjohn commented on #14533
Closing in favor of https://github.com/istio/istio/issues/15012 which is essentially the same problem but has some more conversation

[2019-06-21 16:27] #14533 closed

[2019-06-21 16:28] esnible commented on #15061
@howardjohn If you pass `/dev/null` for the outside-the-cluster files the injection doesn't actually happen.

I was able to get it working without a cluster.  First, with a cluster do

[code]

Then, get rid of your cluster (I did `unset KUBECONFIG`), and do

[code]

I see injected file, based on the values of my cluster, but the injection did not require a cluster.  This work item should become a

[2019-06-21 16:28] howardjohn commented on #15061
In 1.2 `istioctl version` change the default for the remote flag to be true. Remote reads the version of the control plane which of course requires a cluster. if you want no cluster you should be able to do `istioctl version --remote=false`

[2019-06-21 16:33] kramvan1 commented on #15061
@esnible to clarify above, I see in your first group of cluster steps there's a call to `istioctl kube-inject` without the `--valuesFile`   is that really needed?

[2019-06-21 16:35] howardjohn commented on #15012
@esnible
[code]

This field should exist: https://github.com/istio/istio/blob/cc0f7ada51435945559104eda0871aefad956541/vendor/istio.io/api/networking/v1alpha3/service_entry.proto#L391

[2019-06-21 16:36] kramvan1 commented on #15061
@howardjohn thx for the version clarification.    Is that `--remote=false` also needed with kube-inject when specifying all three inputs? --injectConfigFile --meshConfigFile --valuesFile

[2019-06-21 16:38] howardjohn commented on #15061
@kramvan1 nope it is just a flag on the version command. For kube-inject it will look for those flags and fallback to the cluster if they aren't provided, so if you provide all 3 it will not depend on the cluster

[2019-06-21 16:44] linsun commented on #15061
wonder if we can make this the default when not connecting to a remote cluster?

`istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml`

-->

`istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml --injectConfigFile /dev/null --meshConfigFile /dev/null --valuesFile /dev/null`

so that users don't have to remember the long syntax and we are backwards compatible to 1.1

[2019-06-21 16:47] howardjohn commented on #15061
@linsun if they actually provide `/dev/null` then the injection won't do anything though. I just used that to test if it would not try to reach out to the cluster because I didn't have the 3 files on hand - probably wasn't the best example.

I think the best thing we can do is fail (with a better error message probably), rather than silently succeed but get unexpected behavior

[2019-06-21 17:00] linsun commented on #15061
Ohhhh i had thought doing these params would provide the injection behavior similar as 1.1...  why can't we provide a default injection behavior like 1.2 for quick starters?  we'd be asking users to run 3 cmds (https://github.com/istio/istio/issues/15061#issuecomment-504487646) to do a simple kube-injection that they could have done in 1.1

[2019-06-21 17:10] howardjohn commented on #15061
With a cluster running, in 1.1 and 1.2 they need no flags.

In 1.1, they need `--injectConfigFile ... --meshConfigFile ...` if they have no cluster.

In 1.2, they need `--injectConfigFile ... --meshConfigFile ... --valuesFile ...` if they have no cluster.

So the only change should be the one additional new flag.

Basically the kube-inject will normally get config from kubernetes if possible, but

[2019-06-21 17:16] diemtvu commented on #12016
This is interesting use case. For now, I think you can do this with authn and authz. For example, authn part will define a JWT with both audiences (so either of them is accepted), and restrict access to `/service-admin` if audience claim is `admin`

[2019-06-21 17:25] #11945 closed

[2019-06-21 17:32] geeknoid opened #15069 "Put in place updated versioning scheme."
TOC agreed on an update versioning scheme: https://docs.google.com/document/d/1ilwz-HGSeiRDCFwP5rm-5d_UY6OOYL_nflx7bNggek0/edit#heading=h.7zgnj8bwqfld

[2019-06-21 17:35] howardjohn commented on #12360
The docs seem fine now, I think this is a stale issue -- if not we should move to the 1.2 milestone since the 1.1 one isn't looked at much

[2019-06-21 17:35] #12360 closed

[2019-06-21 17:42] incfly commented on #4794
Yeah, that's what I meant. Test should be disabled since last time I
touched on this.

On Thu, Jun 20, 2019 at 12:04 PM Diem Vu <notifications@github.com> wrote:

[2019-06-21 17:45] esnible commented on #15012
@howardjohn My quick-and-dirty unknown field checker was incorrect for enums holding default values; ignore my comment about location.

Proposal: Both the validation webhook and `istioctl validate` should be attempting to call ConvertAndLog() to prevent entries from being admitted that will fail later.

[2019-06-21 17:51] arianmotamedi commented on #13851
@howardjohn @duderino as discussed, 503 errors should not be retried by default. It can be manually added if needed (and if the consequences are understood by the consumer). Unless there are any objections, I'm going to open up a pr to remove it from the default policy.

[2019-06-21 17:56] wattli commented on #15020
@MrBlaise do we have istio sidecar in front of apache server? I assume not, and if so, then the traffic between edge ingress and apache server should be plain text, right?

[2019-06-21 18:04] MrBlaise commented on #15020
@wattli It does have istio sidecar installed so it should have mTLS.

[2019-06-21 18:12] Stono commented on #13851
I agree with that move, however prepare yourself for a raft of "503" issues that get opened.  Those retries were added during a phase of istio getting a lot of stick about 503's, and right now they do retry 503s as a result of CONNECT errors too.    It might be worth pulling together some doco that explains how to debug 503s (similar to my blog post https://karlstoney.com/2019/05/31/istio-503s-ucs

[2019-06-21 18:14] JimmyCYJ commented on #15020
@MrBlaise Thanks for the information. I have a few questions.
(1) Are you using workload SDS and ingress SDS for both 1.2.0 and 1.1.8? From the helm values, the global.sds.enabled=true (this is for workload SDS), gateways.istio-ingressgateway.sds.enabled=true(ingress SDS) and gateways.auth-proxy-ingressgateway.sds.enabled=true.
(2) Which one is the edge ingress gateway, the auth-proxy-ingressgatew

[2019-06-21 18:17] douglas-reid commented on #15058
@jwineinger this sounds reasonable. happy to review PRs or help get this in somehow. we'd like to move operator integration into a stable form, and this seems like a step along the way.

[2019-06-21 18:25] #8444 closed

[2019-06-21 18:26] istio-testing commented on #12431
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 18:26] istio-testing commented on #12431
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 18:28] jwineinger commented on #15058
CLA with employer isn't in place (yet?) so I'm afraid no PRs from me at the moment.

[2019-06-21 18:31] MrBlaise commented on #15020
@JimmyCYJ

1, I use the same helm values for 1.1.8 and 1.2.0 the only thing I did is I checked out the 1.2.0 tag on the git repository and with helm template I generated the manifest files and applied it with kubectl. I am using both workload and ingress sds.

2, I use this architecture for the development clusters and it looks like the following:

[code]

[2019-06-21 18:38] wattli commented on #15020
It does not matter whether controlPlaneSecurityEnabled is true of false, we only support file mount for pilot as of today. The full helm template will be definitely helpful.

[2019-06-21 18:41] MrBlaise commented on #15020
@wattli @JimmyCYJ

Here are the helm templates:

With the working 1.1.8 istio version: https://gist.github.com/MrBlaise/3c439f23d8b5e6282c4bcd4b74423723

And with the 1.2.0 istio version: https://gist.github.com/MrBlaise/f5b49561ba7f9b8671a367a2f380f264

[2019-06-21 18:46] JimmyCYJ commented on #15020
@MrBlaise Thanks! One more question, if you have a chance to upgrade from 1.1.8 to 1.2.0, could you please also check the pods and make sure the node agents (for workload SDS) are upgraded together with other components? You can check with $ kubectl -n istio-system describe <node agent pod> and the "Image:" field shows what release version it is using. Even with your current deployment, since you

[2019-06-21 18:51] MrBlaise commented on #15020
Currently with 1.1.8:

`kubectl -n istio-system describe daemonsets istio-nodeagent`

[code]

`kubectl get pods -n istio-system`

[code]

Hmmm this might be it, seems like nodeagents are very old, so they must have not changed at all during the upgrade or downgrade.

[2019-06-21 18:52] JimmyCYJ commented on #15020
@MrBlaise Seems that the node agent never get upgraded or downgraded. They are 23d now.

[2019-06-21 18:57] MrBlaise commented on #15020
kubectl -n istio-system describe pods istio-ingressgateway-5fb58d6b88-d299s

[code]

kubectl -n istio-system describe pods auth-proxy-ingressgateway-5cf658ddb6-c76h2

[code]

[2019-06-21 19:00] MrBlaise commented on #15020
What I do is clone the istio repository checkout 1.1.8 and run helm template with my values:

[code]

[2019-06-21 19:05] JimmyCYJ commented on #15020
@MrBlaise Thanks a lot! Both are using gcr.io/istio-release/node-agent-k8s:release-1.1-latest-daily, which is not a stable 1.1.8. This does not look correct.

From the helm template
1.1.8 uses all images from release-1.1-latest-daily (e.g. gcr.io/istio-release/proxy_init:release-1.1-latest-daily)
and 1.2.0 uses all images from release-1.2-latest-daily.
@wattli

[2019-06-21 19:07] MrBlaise commented on #15020
I'm getting the feeling that I misunderstood something and that I should not use github tags to install istio.

[2019-06-21 19:11] MrBlaise commented on #15020
This is still weird why nodeagents did not upgrade, since the helm manifest cleary generates different images for them using the github tag method as well.

[2019-06-21 19:16] 4c74356b41 opened #15072 "Enabling CNI breaks ingress connection to bookinfo sample"
**Bug description**
I have an istio installed (1.1.7) and I'm evaluating upgrading it to 1.2.0. I'm using fabrikate+flux to configure kubernetes, so yaml files are always identical (stored in source control). The only difference when I'm templating 1.2.0 (compared to 1.1.7) is istio_cni.enabled=true. Everything is working with 1.1.7. I apply 1.2.0, delete all istio pods after crds were updated, wa

[2019-06-21 19:17] MrBlaise commented on #15020
I went ahead and used the 1.1.8 tarball and applied the changes, everything changed to the proper 1.1.8 image except the node agents they are still using the old image even tho during the apply it was configured.

The daemonset show the proper 1.1.8 image but the pods themselves did not change. They are on 1.1.7 from an old installation it seems.

[2019-06-21 19:19] aattuluri commented on #14801
Hey, sorry, wasn't able to get back sooner.
I upgraded to istioctl 1.2 released last week:

Here is the output I see:
[code]

[code]

Do not see any logs in pilot's discovery or istio-proxy containers when I execute the command. Both are set to `info` level. Let me know if I should change the logging level.

[2019-06-21 19:20] MrBlaise commented on #15020
This is probably the root cause:
[code]

[2019-06-21 19:31] esnible commented on #14801
@aattuluri What is the output of `istioctl version`?

I had expected the "gc " lines to be eliminated in Istio 1.2.

What output do you see when you do `kubectl -n istio-system exec <pilot-pod> -- /usr/local/bin/pilot-discovery request GET /debug/syncz` ?

[2019-06-21 19:33] MrBlaise commented on #15020
Okay there was no one using the cluster so I went ahead and
- upgraded to 1.2.0 using the tarball
- deleted node agents manually

It still wouldn't work

I had to recreate auth-proxy and all of my services so they have the proper envoy sidecar

And it WORKS!

[2019-06-21 19:35] howardjohn commented on #15072
The CNI is installed in a separate chart, did you install that? Or did you just do the `--set enable_cni=true` flag?

See https://istio.io/docs/setup/kubernetes/additional-setup/cni/#hosted-kubernetes-usage for details

If you missed the first step you may be disabling the init container but not actually installing the CNI plugin so no iptables are setup.

[2019-06-21 19:39] aattuluri commented on #14801
@esnible
Here is the output:
[code]

[code]

[2019-06-21 19:40] douglas-reid commented on #14492
This looks resolved?  https://testgrid.k8s.io/istio-postsubmits-master#integ-telemetry-k8s-postsubmit-tests&sort-by-flakiness=

Green for the past 7 days. Closing for now.

[2019-06-21 19:40] #14492 closed

[2019-06-21 19:40] 4c74356b41 commented on #15072
doh, let me try that one and get back to you. somehow I've only noticed this bit:

[code]

[2019-06-21 19:43] howardjohn commented on #15072
Yes I think its a bit confusing.. the flag `--set istio_cni.enabled=true` doesn't really enable cni, it actually just disables the init container. I think there is some ongoing work to improve the release process for CNI

[2019-06-21 19:50] Bessonov commented on #2310
Activity!

[2019-06-21 19:50] linsun commented on #15061
it just feels odd they need to provide these if just use the default that comes with a given istio release.     I had always thought the injectConfigFile and meshConfigFile were introduced to allow the customization which I think was the initial intention.  Seems istioctl itself would be able to know the default config for a given istio release as there is no cluster specific info inn the injectCo

[2019-06-21 19:57] howardjohn commented on #15061
@linsun I think that is possible but we would need a way to embed the default yamls into the istioctl binary. This is possible, and I think we do it in some other places

[2019-06-21 19:59] linsun commented on #15061
@howardjohn thanks, and I do believe that provides a better experience.  Maybe we can target this simplification for 1.3.

[2019-06-21 20:13] #14937 closed

[2019-06-21 20:14] esnible commented on #15061
@linsun What would the user experience be if we baked in the template?

Although we removed the template there is no reason `make istioctl` couldn't copy _/install/kubernetes/helm/istio/files/injection-template.yaml_ into a .go file allowing it to be included in the build.  That wouldn't have solved the problem of a 1.1 user being surprised to know a new `--valuesFile` parameter is needed.

The si

[2019-06-21 20:23] esnible commented on #14801
My Pilot is listening on 15014.  Yours is not.

You are not running the official 1.1.x or 1.2.x control plane.  What is the GitTag you see when doing `kubectl -n istio-system exec <pilot-pod> -- /usr/local/bin/pilot-discovery version` ?

When I do `kubectl -n istio-system exec <pilot-pod> -- netstat -tulpn` I see listeners including

[code]

Do you see that listener?

[2019-06-21 20:24] howardjohn commented on #15061
@esnible did we intend to support 1.1 `istioctl` with 1.2 control plane?

[2019-06-21 20:26] 4c74356b41 commented on #15072
hm, you got any idea why cni daemonset doesnt want to bring any pods up? so `desired 0` when its created not in kube-system? @howardjohn

[2019-06-21 20:29] 4c74356b41 commented on #15072
so installing the istio-cni chart solves the issue

[2019-06-21 20:29] #15072 closed

[2019-06-21 21:30] costinm commented on #14795
/vendor has 2 main purposes:
1. Make sure we can reproduce a build - git repos can go away. There are a couple of 'archives' that use go mod and keep old versions - I think it should be a requirement to integrate with one and test that it works.

2. Speed. We did tests and it appears a build using vendor is faster, or at least it was for dep. Any change to remove vendor should include numbers and

[2019-06-21 21:32] costinm commented on #14795
In other words: we should have a test that verifies we can reproduce a build ( maybe by adding a full .tar.gz and doing a make build from the .tar.gz without any network access ), and a second test for the build speed, before we can remove vendor.

[2019-06-21 21:45] JimmyCYJ commented on #14942
1. I noticed that your deployment has istio-ingressgateway and custom-ingressgateway, could you briefly introduce the structure of deployment?
2. There are two certs with expiration date 2019-06-18T02:27:34Z, sometimes this could happen when the old cert is still in use by existing long live connections (e.g. HTTP2 and gRPC). They will be deleted when the connections are closed. I think this /cert

[2019-06-21 22:00] wattli commented on #15020
MrBlaise, thanks for your help on the investigation, it is a bug, and we will get back to you soon.

[2019-06-21 22:06] wattli commented on #15020
Where did you find this line?

[2019-06-21 22:10] MrBlaise commented on #15020
@wattli It was in the output of `kubectl get daemonsets -n istio-system istio-nodeagent -o yaml`

[2019-06-21 22:12] josejulio opened #15078 "Example: "Perform TLS origination with an egress gateway" not working"
**Bug description**

I was following the doc about ["Perform TLS origination with an egress gateway"](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#perform-tls-origination-with-an-egress-gateway) but in the step 5 I don't get the expected result.

Instead I get:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastr

[2019-06-21 22:28] Demonian commented on #14553
@Stono @howardjohn Will be glad if this help somebody=) BTW I close this.

[2019-06-21 22:28] #14553 closed

[2019-06-21 22:30] josejulio commented on #15078
Sorry, I didn't install the Istio egress gateway. Will install and report back.

[2019-06-21 22:32] aattuluri commented on #14801
@esnible
You are right and is also evident from the fact that pilot is not listening on the port `15014`, I thought 15014 was a mixer port? We use a fork of istio which is rebased with 1.1.7 version of istio that we build and publish images to our local repo. We have customization to inject additional container to pull certs for pods, other than that no modifications to istio it self.

[code]

[2019-06-21 22:49] wattli commented on #15020
Thanks for the finding, it's indeed an issue, we will send out the fix soon.
@quanjielin

[2019-06-21 22:51] josejulio commented on #15078
When istio egress gateway is present it works as expected, sorry.

[2019-06-21 22:51] #15078 closed

[2019-06-21 23:07] istio-testing commented on #12431
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #12678
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #14083
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #14125
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #14672
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #14791
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:07] istio-testing commented on #14819
Hey, there's no updates for this test flakes for 3 days.

[2019-06-21 23:12] joberdick commented on #12855
It seems the best approach is to give up on helm tiller and just use helm template everything. Then use script to manage any operations outside of that.

[2019-06-21 23:33] howardjohn commented on #15041
When we do this we should also probably make sure we drain Envoy rather than force quitting. We already have code for this with TERMINATION_DRAIN_DURATION so should be pretty straightforward

[2019-06-21 23:39] howardjohn commented on #13695
Hey @wansuiye, we have made some recent changes for this type of issue. Can you try again on later versions (1.2 preferably, but the changes should be in 1.1.7+)?

If its still not working can you include the config that you have

[2019-06-21 23:43] howardjohn commented on #3606
@JimmyCYJ we have this now right? Or was that just for SDS and this issue is for non-sds?

[2019-06-22 00:06] howardjohn commented on #12782
Added support in https://github.com/istio/istio/pull/13730

[2019-06-22 00:06] #12782 closed

[2019-06-22 00:10] howardjohn commented on #13598
This should be fixed in 1.2 (and partial in some 1.1.x series, I forget what). See https://github.com/istio/istio/issues/13710 for details.

You can now configure the dns refresh rate, and the default is now 5m (before it was 5s, so should be 60x less DNS requests).

Please reopen if you see issues still

[2019-06-22 00:10] #13598 closed

[2019-06-22 00:13] howardjohn commented on #13371
We found issues with the mysql filter and have it turned off by default now. It is an alpha Envoy feature, but was inadvertently getting turned on by the port name like in this case. Since the docs have been updated I think there is no more work here.

Thanks

[2019-06-22 00:13] #13371 closed

[2019-06-22 00:15] howardjohn commented on #13265
@prune998 are the stats reported by envoy (see `localhost:15000/stats/prometheus` on the gateway)?

Btw, some more docs here https://github.com/istio/istio/wiki/Envoy-native-telemetry.

[2019-06-22 00:22] howardjohn commented on #12958
I'm not seeing this anymore on 1.2, was this fixed?

[2019-06-22 00:35] JimmyCYJ commented on #3606
@howardjohn The ingress SDS was added this January, so I think this issue is for non-sds. With SDS, we can check Citadel Agent log to figure out whether a specific SDS resource is pushed to Envoy. @incfly is working on improving the /config_dump to include cert info fetched by SDS, which will make it much easier for debugging.

[2019-06-22 00:39] incfly commented on #3606
This issue I think it's referring to non-SDS case though...  It's created in 2018 Feb, one year earlier compared to when we release the SDS based ingress.

[2019-06-22 01:11] jaygorrell commented on #13204
What socket is getting mounted here? The examples refer to "/var/run/myapp", but I'm still unclear what that should be in a real example.

[2019-06-22 01:42] hzxuzhonghu commented on #14795
have a look at #15056

[2019-06-22 02:00] #11830 closed

[2019-06-22 04:14] arianmotamedi commented on #13851
CONNECT errors aren't included in 503s, Envoy treats them separately. Istio's default retry policy includes both `connect-failure` as well as 503 as a retry-able status code: https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/route/retry/retry.go#L33. Removing 503 won't affect `connect-failure` retries.

[2019-06-22 04:38] mandarjog commented on #14553
Thanks @Demonian.

I have looked at these metrics before and mostly saw kube-system processes throttled.  I expect istio-telemetry pods to be throttled from time to time. The best way to avoid throttling is to "request" adequately since it decides placement.

Great idea to actually put this on the performance dashboard though.

[2019-06-22 09:07] g-p-n commented on #14386
Attached are:
(a) the logs from the pod/container that attempts to curl GET sample/test data from a server
(b) logs from the proxy container (with --proxyLogLevel=trace, and hence a bit noisy)
[server/host names and public IP addresses changed to preserve identities, but length preserved]

- TCP stats and iptables stats are below.
- Container logs show that the first connection attempt has failed,

[2019-06-22 09:57] Stono commented on #13851
OK if you're sure.  I just remember a lot of things like 503's during app rollouts because envoys had stale config (whilst waiting for pilot pushes) etc...

In summary that retry was added for a reason, it's worth just double checking the underlying causes that can be addressed have been otherwise you'll be faced with all the old 503 drama again.

[2019-06-22 11:50] sathishkumar64 commented on #12947
@howardjohn

Thanks for your reply. My question was not setting up for multicluster. How to setup failover with different region?

I can able to test "distribute" with different zone with in same region. But i want to do multi region like US,Europe region. Can you tell me how to do this setup?

Regards,
Sathish V

[2019-06-22 14:08] jagusztinl commented on #13986
The workaround not working, mentioned by knrc :-(

Before daemonset from upstream istio 0.12:

+ iptables -t nat -N ISTIO_REDIRECT
iptables v1.6.0: can't initialize iptables table `nat': Table does not exist (do you need to insmod?)
Perhaps iptables or your kernel needs to be upgraded.

After  installing the daemonset :
+ iptables -t nat -A ISTIO_REDIRECT -p tcp -j REDIRECT --to-port 15001
iptable

[2019-06-22 20:22] incfly commented on #14654
Not an networking expert, but it does not seem reasonable to make client side connection number scale up as dynamically as the server side endpoints increase... wouldn't you pay mem/cpu overhead on client side envoy?

I remember envoy api doc somewhere mentioned this is 1024.

[2019-06-22 21:02] liggitt commented on #12211
I noticed the milestone for this changed... note that these APIs are being disabled by default now in kube master in https://github.com/kubernetes/kubernetes/pull/70672, targeting 1.16.

Once that merges, istio cannot be tested with kube master until the manifests are updated.

[2019-06-23 02:28] #11997 closed

[2019-06-23 05:36] bmv3cg commented on #12011
Istio can be configured to use an internal load balancer in GKE by configuring ingress gateway value in helm chart. You can find the details in following URL: https://github.com/salrashid123/gcegrpc/tree/master/istio

However, I am unable to find a way to find a way to do this in GKE provided Istio.

[2019-06-23 07:28] #3311 closed

[2019-06-23 08:28] #11946 closed

[2019-06-23 09:43] g-p-n commented on #14662
Searching for "java.io.StreamCorruptedException: invalid internal transport message format" on the web led me to these issues/discussions.

- [Discussion 1](https://stackoverflow.com/questions/17854910/elasticsearch-0-90-2-streamcorruptedexception-on-asking-port-9300)
- [Discussion 2](https://stackoverflow.com/questions/17854910/elasticsearch-0-90-2-streamcorruptedexception-on-asking-port-9300)

I

[2019-06-23 13:52] costinm commented on #7794
Reopenning - it is still an important feature to add.

[2019-06-23 15:43] g-p-n commented on #13174
@bradenwright Can you please share your helm chart and any values that you might be using?
I shall attempt to reproduce the issue you are seeing.

[2019-06-24 04:34] howardjohn commented on #14979
By default, pods can always reach other pods, even with REGISTRY_ONLY. You would have to configure this on a case by case basis. See https://discuss.istio.io/t/restrict-access-from-one-service-to-another/2693 for similar discussion

For external services, I suspect the registry_only setting is not being set.

What I would suggest:
* Double check in the config map what `outboundTrafficPolicy` is se

[2019-06-24 04:36] #14903 closed

[2019-06-24 04:43] howardjohn commented on #14897
You can apply a namespace with

[code]

Which we do on the install.

The warning isn't the actual failure, circle is just bad at showing what the real error is.

If you look further down you can see the real error

[code]

So I don't think there is anything we need to do here

[2019-06-24 04:45] howardjohn commented on #14940
Sorry I misread.. you should be able to use the http settings for HTTPS calls, not the TLS settings. Which should support request timeout

[2019-06-24 04:51] howardjohn commented on #14527
Install instructions specify to download the release, which has the file. Users should not try to install from source, we have many docs saying this isn't supported. I don't think there is any action to do here.

Please reopen if you think there is still work to be done

[2019-06-24 04:51] #14527 closed

[2019-06-24 04:57] howardjohn commented on #14131
Thanks! looks like someone fixed it https://preliminary.istio.io/docs/tasks/traffic-management/mirroring/#mirroring-traffic-to-v2

[2019-06-24 04:57] #14131 closed

[2019-06-24 05:01] howardjohn commented on #13870
I think all of these have been addressed -- if not please reopen

* README updated code samples with proper syntax -- most examples are now actual code that runs too, so its never stale.
* Readme doesn't link to the wiki anymore
* presubmit label is removed so doesn't need more documentation

[2019-06-24 05:01] #13870 closed

[2019-06-24 05:09] howardjohn commented on #13667
Pilot just reads the config (gateway, serviceentry, virtual service) that are applied to kubernetes. It doesn't modify them or dynamically update them. Its not 100% clear to me what exactly you need, but if you actually want to dynamically updated configs you would likely need to write some operator that creates the configs for you

[2019-06-24 05:10] howardjohn commented on #13575
Fixed in https://github.com/istio/istio.io/pull/4030

[2019-06-24 05:10] #13575 closed

[2019-06-24 05:14] howardjohn commented on #13393
@dwdraju thanks for the question. Like Ed said, I think this is working as intended. If you have any other issues please reopen

[2019-06-24 05:14] #13393 closed

[2019-06-24 05:16] howardjohn commented on #13360
This is fully supported in https://github.com/istio/installer now (which will now be the official installer in the next release), which I encourage you to try out. Alternatively you can use the operator mentioned in https://www.kiali.io/documentation/getting-started/.

Based on that I don't think there is any work left to be done here? If that's not the case please feel free to reopen.

[2019-06-24 05:16] #13360 closed

[2019-06-24 05:17] howardjohn commented on #13282
Closing as dupe of https://github.com/istio/istio/issues/14049

[2019-06-24 05:17] #13282 closed

[2019-06-24 05:23] howardjohn commented on #13009
You need to set a hostname, but what it is doesn't really matter for these cases which is a bit confusing. https://github.com/istio/api/pull/932 just landed which improves the docs. Basically, the hostname is used to match the serviceentry to DestinationRules and VirtualServices, but otherwise isn't needed.

This change is expected and documented (well, it should be now at least :slightly_smiling_

[2019-06-24 05:30] howardjohn commented on #12738
Going to close this to consolidate with https://github.com/istio/istio/issues/14817 -- thanks everyone for digging into this

[2019-06-24 05:30] #12738 closed

[2019-06-24 05:32] howardjohn commented on #12190
Sorry if this was never fixed, 1.0 has reached EOL now though so I don't think this will be fixed

[2019-06-24 05:32] #12190 closed

[2019-06-24 05:33] howardjohn commented on #12323
Docs have been correctly updated to show default is now `""`. Thanks!

[2019-06-24 05:33] #12323 closed

[2019-06-24 05:33] howardjohn commented on #12266
This was updated with 1.2

[2019-06-24 05:33] #12266 closed

[2019-06-24 05:35] howardjohn commented on #12249
Fixed in #12250

[2019-06-24 05:35] #12249 closed

[2019-06-24 05:36] divya21raj opened #15084 "JWT authentication causing "Epoch 0 terminated with an error" in Envoy"
**Bug description**
I'm trying to implement service to service JWT authentication like something shown in [this](https://github.com/auth0-samples/auth0-api-auth-samples/tree/master/machine-to-machine) repo. While it's working fine with Auth0, I'm having trouble while setting it up with my company's authentication service. I made the service architecture by following [this ](https://medium.com/goog

[2019-06-24 05:43] howardjohn commented on #11943
Fixed https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/overview/

[2019-06-24 05:43] #11943 closed

[2019-06-24 05:50] howardjohn commented on #15084
Can you provide the full log? After `Epoch 0 terminated with an error: signal: segmentation fault (core dumped)` there should be stack trace?

[2019-06-24 05:52] pandey-adarsh147 commented on #15055
My serviceentry not wokring for a specific URL.

[2019-06-24 06:00] divya21raj commented on #15084
Here's the error bit, let me know if you want the full output of
`kubectl.exe logs sa-web-app-599cf47c7c-94jb4 -c istio-proxy`

[code]

[2019-06-24 06:01] divya21raj commented on #15084
This happens the moment I make a request with my access token.

[2019-06-24 06:37] prune998 commented on #13265
Thanks @howardjohn.
The doc you're mentionning seem to apply to 1.2 and future 1.3/1.4.
In the meantime I did two things :

- added this to the Ingress Gateway Deployment :
[code]

- added a ServiceMonitor to Prometheus :
[code]

I'll try to upgrade to 1.2 today  and check if something changes.

[2019-06-24 07:22] hanymahajna commented on #13364
Hi,
i face the same issue in 1.1.8.
i got this error:

And here is my installation file:
[code]

[2019-06-24 07:39] hanymahajna opened #15085 "failed to configure sds in istio 1.1.8 '...is not a socket file'"
I'm trying to install istio 1.1.8 with sds enable - in **EKS** cluster,
First, i tried via this doc, [https://istio.io/docs/tasks/security/auth-sds/](https://istio.io/docs/tasks/security/auth-sds/) , step by step, but my pods refused to start and got this error:

Then i tried to install by these values, and got the same error:
[code]

I tried as well to install istio 1.2.0 with the same configurat

[2019-06-24 08:23] dgn opened #15086 "Allow for custom RootCA certs when resolving JWKS"
**Describe the feature request**
When Pilot resolves a JWKS URI, it should be configurable which Root CAs it trusts; currently, it is hard-coded to `/cacert.pem` (coming from `./tests/testdata/certs/cacert.pem`), which are only public CAs, obviously. If a customer uses a corporate CA for the server hosting the JWKS, Pilot will fail to resolve the URI.

Pilot should offer to configure the `publicRo

[2019-06-24 08:25] peter-fe commented on #14987
Setting the status-port node port via Helm, without providing the complete port list, like:

Is not possible due this open issue => [5711](https://github.com/helm/helm/issues/5711)
Self managing Istio default ports outside of the provided setup seems quite odd.

[2019-06-24 08:41] dano0b commented on #15061
Might be related, a fresh istio 1.2.0 installation via helm fails for me with various deployments including the bookinfo example with:
[code]
No pod creation at all.
[code]

[2019-06-24 10:38] tiggerlee2 commented on #7652
@begoat
There are two ways:
## Use k8s configmap

1. Create configmap from descriptor set

[code]
2. Add annotations to your Deployment spec

[code]

3. Create EnvoyFilter for service
[code]

## Build custom proxy image from istio/proxyv2

1. Build your custom proxy image

[code]

2. Add annotation to your deployment

[code]
3. Create Envoyfilter for service

[code]

[2019-06-24 11:57] hanymahajna commented on #15085
Any help..?

[2019-06-24 12:32] rshriram commented on #13204
Does this help: https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/testdata/app.yaml.tmpl ? see how the socket is mounted using the annotation..
I am sorry that this is not well documented. We will try to fix it soon.

[2019-06-24 12:39] jaygorrell commented on #13204
It does help a bit but I'm a little unclear about what socket needs mounted for this purpose. Are we mounting from the app container to the proxy container? From the host to the proxy?

I know a lot of systems (ie. DataDog) mount the Docker socket from the host but in this case, is there a pod-specific socket that should be mounted so traffic can be sent to it?

[2019-06-24 12:46] #11241 closed

[2019-06-24 12:49] rshriram commented on #13204
This is socket exposed by the application process, in the app container. The socket is from the app container to the proxy container. The annotation tells the sidecar injector to mount that same socket into the sidecar container.

The expectation here is that your application has a volume mount, with a unix domain socket on that volume mount. You then expose that volume mount to the istio-proxy as

[2019-06-24 12:51] Stono opened #15088 "Too many pings to galley, connection closed"
**Bug description**
I'm seeing connections being closed in galley due to too many pings from the client:

[code]

This ip correlates to a pilot instance:
[code]

And discovery logs:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[x] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[

[2019-06-24 12:53] irisdingbj commented on #15061
For the version one, if there is no cluster connected, we should just put the istioctl client version and a waring(instead of an error) that no control plane available.

For the kube-inject one,  we can package a default config/value/mesh info into istioctl and if no cluster connected, we can use the packaged one as default and do the injection.

[2019-06-24 13:09] jaygorrell commented on #13204
Ah, now that helps! Thank you... I should be able to figure it out from there. Linked issue above should capture the documentation side of this, too.

Is there any reason this is handled by `Sidecar` and not a `DestinationRule`? Also are there any downsides to routing traffic this way? Using sockets seems to resolve some concurrency issues we were experiencing in Node services.

[2019-06-24 13:13] sterchelen commented on #13204
@rshriram Did you saw my message on this topic ? https://github.com/istio/istio/issues/13204#issuecomment-489995457

[2019-06-24 13:18] jamborta opened #15089 "Helm install istio-security-post-install pod fails"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

If global.proxy.autoInject is enabled and istio is installed in a namespace where istio-injection is enabled, istio-security-post-install fails wit

[2019-06-24 13:22] linsun opened #15090 "replicate istio release build on non google infra"
This is to explore some of the documentations out to ensure we can replicate Istio release build process on non google infra.  Some useful info from @utka:

this is docs about creating your own prow instance https://github.com/kubernetes/test-infra/blob/master/prow/getting_started_deploy.md

This is repo we use to trigger the release https://github.com/istio-releases/pipeline
istio-releases/pipeli

[2019-06-24 13:35] altitdb commented on #9764
I have the same problem in version 1.1.9. Anyone found a solution for this problem?

[2019-06-24 13:38] esnible commented on #12958
@howardjohn It seems to be working.  I suspect Envoy changes fixed it.  After installing 1.2 this problem went away after I restarted three pods -- something about the new sidecar.

[2019-06-24 13:38] #12958 closed

[2019-06-24 13:39] knrc commented on #14941
@howardjohn We haven't made changes to the Istio codebase in this area so it's hard to see how this is due to any Red Hat modifications, we can investigate however.

[2019-06-24 13:39] Stono opened #15091 "Timeout during istio upgrade due to galley validation"
**Bug description**
Whilst upgrading a larger (508 services, 566 pods) cluster, the istio installation failed.  The tiller logs showed that it was waiting for a DestinationRule to be patched:

[code]

This is an old CRD that we have:
[code]

We have done countless istio upgrades **without** galley - this upgrade **added** galley, so the only conclusion i can draw here is that it was waiting for ga

[2019-06-24 13:45] Stono commented on #15029
I'm seeing numerous issues with galley testing:

 - https://github.com/istio/istio/issues/15088
 - https://github.com/istio/istio/issues/15091

I definitely cannot put this into a production environment.

Please can anyone confirm a `1.2.1` ETA removing the galley requirement?

[2019-06-24 13:55] rshriram commented on #13204
@jaygorrell the unix domain socket in the `Sidecar` is meant for inbound connections. DestinationRule applies on the outbound, at the client side. In terms of downsides, I dont have much data. We introduced the unix domain socket based inbound routing as an alternative to traffic capture using iptables. Some folks asked for it.

[2019-06-24 13:59] rshriram commented on #13204
@sterchelen hmm.. is `40000` exposed on the pod ? Secondly, how were you connecting to the pod? via podIP and the port? It would be good to get the proxy config and look at the listeners in envoy

[2019-06-24 14:13] sterchelen opened #15092 "Missing tolerations for sidecarInjectorWebhook on 1.2.0 release"
**Bug description**
After upgrading from 1.1.3 to 1.2.0 version by setting tolerations, the sidecarInjectorWebhook could not be scheduled because of missing tolerations support on the deployment yaml file.

I'm seeing that on the master branch, the sidecarInjectorWebhook has tolerations support ... Plus a global variable to set tolerations.

When do you plan to release the master branch ?

**Affec

[2019-06-24 14:18] phil9909 commented on #14949
#237 fixed this problem (`make test` is still failing, but for another reason).

[2019-06-24 14:18] #14949 closed

[2019-06-24 14:23] Stono commented on #15091
For anyone else hitting this if you just want to disable galley validation for now `global.configValidation = false` will remove the `ValidatingWebhookConfiguration`

[2019-06-24 14:24] howardjohn commented on #14941
@knrc this is where the error is coming from https://github.com/Maistra/istio/blob/maistra-0.12/pilot/pkg/kube/inject/config.go which doesn't seem to be in Istio's codebase

[2019-06-24 14:28] phil9909 commented on #14694
The issue is back since #14949 was fixed:
- https://circleci.com/gh/istio/installer/6001
- https://circleci.com/gh/istio/installer/6004
- https://circleci.com/gh/istio/installer/6006

@myidpt could you please have a look?

[2019-06-24 14:40] howardjohn commented on #15092
There is  PR to get it into a 1.2.x release https://github.com/istio/istio/pull/15081

Provided its merged it will be release very soon

[2019-06-24 14:42] howardjohn commented on #15090
Would be great to be infrastructure independent (`make release` on my laptop) as well. I guess the tests may be harder to get to that state, but the actual release should be able to other than doing things like tagging github, etc

[2019-06-24 14:42] ericvn opened #15093 "Update builds to use Go modules"
We have updated the _master_ branch to use Golang 1.12.5 for builds and testing.

Our builds/tests continue to use Golang _vendor_ing because we build on the GOPATH.

This issue is move to using Go modules and not use the _vendor_ directory (and it could be removed).

Note: this issue is created based on a discussion with @geeknoid about what needs to be done to get to Go modules.

[2019-06-24 14:43] #14814 closed

[2019-06-24 14:44] howardjohn commented on #15085
@quanjielin I think you were working on this part of the code recently, any ideas?

[2019-06-24 14:44] Stono opened #15094 "istioctl proxy-status reporting wrong version"
**Bug description**
[same old](https://github.com/istio/istio/issues/13950), [same old](https://github.com/istio/istio/issues/8244) issue of `istioctl proxy-status` not showing the correct proxy version.

As you can see here, i'm on `1.2.0`, but these are being reported as `1.1.3`:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ]

[2019-06-24 14:45] Stono commented on #8244
@sdake fyi see #15094 - where this problem still exists in `1.2.0`

[2019-06-24 14:45] ericvn commented on #15093
A first step to see where we are is to create a new Istio-builder image where GO111MODULE is set to on (will force module usage even on the GOPATH) https://github.com/istio/test-infra/pull/1370

Once this image is created, the test-infra yaml for the prow-staging branch can be updated to use the image and we can see what additional changes are required.

Note that other issues are needed to finish

[2019-06-24 14:46] howardjohn commented on #15088
Some more info: https://github.com/istio/istio/issues/13910

@sdake @ozevren

[2019-06-24 14:48] howardjohn commented on #15089
Does `istio-system` have injection enabled or are you installing in a different namespace?

Regardless sounds like we need `sidecar.istio.io/inject: "false"`

[2019-06-24 14:48] ericvn commented on #15093
Note that there is discussion on this within #14795 as well.

[2019-06-24 14:53] Stono commented on #15088
For more info, we've seen this on 3 clusters all of drastically different sizes.  It only appears to happen after galley is started.

At that same time, we also have validation hook failures (see https://github.com/istio/istio/issues/15091).

[2019-06-24 14:59] jamborta commented on #15089
@howardjohn I'm installing it in a different namespace where injection is enabled.

[2019-06-24 15:03] linsun commented on #15090
@howardjohn agreed. I think @utka said she is working on that and may already have a WI tracking that effort to make the release process lightweight to run on dev's machine.   This WI is opened to replicate the monolithic process with prow etc on another k8s cluster.

[2019-06-24 15:19] esnible commented on #15061
@irisdingbj This default is just about `kube-inject`, not version.

For 1.2 we purposefully removed the packaged injection template from _istioctl_.  It was not my design, but I gave it a positive review, because we were unable to keep the template in sync with the rest of Istio.  If we package default values into _istioctl_ we are back to the same problem -- the build needs to be modified to gene

[2019-06-24 15:29] esnible commented on #15061
@howardjohn We did not intend to support 1.1 _istioctl_ with 1.2 control plane but we had hoped for a better error message than "Error: error converting YAML to JSON: yaml: line 3: could not find expected ':'".

A fix specific to Istio 1.1.10 seems like a waste of time.  We don't exactly know what went wrong.  Maybe we can come up with a strategy so this doesn't happen again for 1.2 users against

[2019-06-24 15:36] howardjohn commented on #15094
Are you sure your are using istioctl 1.2? It should be fixed now.. maybe the pr didn't land in 1.2

I'll test it out in a bit, on phone right now

[2019-06-24 15:36] #13742 closed

[2019-06-24 15:40] Stono commented on #15094
Not sure actually, travelling at the moment but will check tomorrow.

[2019-06-24 15:42] kramvan1 commented on #15061
@esnible   Our use case is to Allow our build pipeline to create deployments for future running clusters that are also defined during the pipeline so will always match/sync up.

[2019-06-24 15:45] sterchelen commented on #15092
Will it be the next release?

On Mon, 24 Jun 2019, 16:41 John Howard, <notifications@github.com> wrote:

[2019-06-24 15:47] esnible commented on #15061
@kramvan1 If your Istio cluster have auto-inject enabled, you almost never want to manual inject.  Manual inject will bake in a particular sidecar version, forever.  Usually we want the "future running cluster" to supply its own injection settings rather than letting the pipeline override them.

[2019-06-24 16:16] sublimino commented on #15094
FWIW I don't have this exact bug (`istioctl proxy-status` is correct), but might have something similar:

[code]

There are references to `1.1.3` in environment variables of the proxy image:

[code]

Via `istioctl`:

[code]

These aren't set in pod's spec AFAICS, they're baked into the proxy image:

[code]

HTH

[2019-06-24 16:24] knrc commented on #14941
@howardjohn Gotcha, although that's 99.9% taken from the galley codebase.

We're trying to get access to the system where this is occurring so we can track the issue down.

[2019-06-24 16:25] Stono commented on #15094
@howardjohn my mistake; i was on `1.1.9` istioctl, `1.2.0` sorts this.

@sublimino - does your finding actually cause any impact?

[2019-06-24 16:25] jaygorrell commented on #13204
Thanks for the help @rshriram -- I've got the socket mounted and am able to use it from the envoy container. Is port information in the deployment/service ignored in this configuration?

Happy to help get this documented when I have it all working.

[2019-06-24 16:26] howardjohn commented on #15094
This is working as intended despite being a bit confusing. ISTIO_META_ISTIO_PROXY_VERSION is just referring to the capabilities of the proxy. In pilot we do checks like `if proxy version > 1.1 { something} else {something }`. It isn't tied to istio release versions.

:+1: good to hear @Stono I always forget to change my istioctl binary as well

[2019-06-24 16:29] Stono commented on #15091
Extra info summarising from slack. Galley can only validate a single resource at any given time (makes sense, as it could be validating against other resources too, multiple validations brings in race conditions), however, when galley has a _lot_ of backed up changes, you can hit this timeout, for example - when galley starts up and it is validating all the crd's on the cluster.

In the context of

[2019-06-24 16:35] Stono commented on #15094
I shall close this one then!  Thanks again

[2019-06-24 16:35] #15094 closed

[2019-06-24 16:46] sushicw opened #15095 ""Process did not exit before 15s grace period" test flake"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Split off from https://github.com/istio/istio/issues/14083
From @douglas-reid:

From @ozevren:

**Affected product area (please put an X in all that

[2019-06-24 16:46] #10319 closed

[2019-06-24 16:46] sushicw commented on #14083
First issue (nodeport conflict) is tracked here: https://github.com/istio/istio/issues/14190

Second issue (process did not exit fast enough) doesn't currently have an issue tracking it, so I created one: https://github.com/istio/istio/issues/15095

Closing this issue as recommended by @ozevren

[2019-06-24 16:46] #14083 closed

[2019-06-24 16:49] duderino commented on #15088
@nmittler @ozevren I'm not sure if this is a Pilot or a Galley bug.  Could you root cause it and then assign the bug to the appropriate vict^H^H^H^Howner?

[2019-06-24 16:57] ozevren commented on #15091
To clarify: my slack comment and this particular issue are two different things. My comment was about taking only one resource into consideration at a time, when checking the validity of a particular resource, and was within the context of an unrelated discussion.

[2019-06-24 17:02] fpesce commented on #15092
Yes, I'll merge it before cutting 1.2.1

[2019-06-24 17:03] ozevren commented on #15088
This is mainly an issue with the gRPC layer. I've made some gRPC connection related knob/lever changes some time ago to alleviate this to some extent but apparently not eliminated it.

[2019-06-24 17:07] Stono commented on #15091
I'm not trying to get into a "he said, she said" kind of debate - i'm simply trying to help you by finding issues.  Clearly we've gotten our wires crossed on the specifics so as I said on slack; I'll report here purely what I experienced which was a failure to deploy `1.2.0` due to a 30 second timeout on validation calls to galley and leave the rest up to you.

[2019-06-24 17:09] ozevren commented on #15091
Same here. My intention is to make sure we have the most relevant information in the report.

[2019-06-24 17:10] JimmyCYJ opened #15096 "Add SDS prober to check if Citadel Agent is reachable via UDS"
**Describe the feature request**
Today we mount UDS path for Citadel Agent via volume mount. When this path is broken, SDS fails. In such cases, Citadel Agent does not receive any request and does not show any errors. Envoy proxy would show grpc stream closes with errors, and that log does not indicate root cause explicitly.

To improve debuggability, we can add a SDS prober to test the UDS path.

[2019-06-24 17:11] JimmyCYJ commented on #15096
/cc @quanjielin @myidpt @wattli

[2019-06-24 17:12] ozevren commented on #15088
I don't think this will surface as a functionality problem, but a potential performance problem. (@Stono are you seeing any abnormalities due to / correlated to this?)

[2019-06-24 17:15] ozevren commented on #15091
And please do keep sending in bug reports.

[2019-06-24 17:17] Stono commented on #15088
@ozevren not so far (that I can tell).  I've been adding `1.2.0` to various non-production clusters of different sizes.  Only time will tell if an issue manifests 🤷‍♂

[2019-06-24 17:17] yxun opened #15097 "IP-based whitelists or blacklists deletion takes 4+ minutes to see the cleanup effect"
**Bug description**
Istio 1.1.7 and 1.2.0 "IP-based whitelists or blacklists" cleanup "mixer-rule-deny-ip.yaml" takes 4+ minutes to see the cleanup effect.
After applying the "mixer-rule-deny-ip.yaml" in Istio task "Denials and White/Black Listing" [1], user can see the "PERMISSION_DENIED... is not whitelisted" response when trying to access the Bookinfo productpage.
However, user will still see t

[2019-06-24 17:42] Stono opened #15098 "Mixer crash loops until Galley is available"
**Bug description**
Enabling Galley and MCP results in Mixer components crash looping until Galley is fully available and able to handle requests.

[code]

It's actually the livenessProbe doing the killing:
[code]

Which is configured quite aggressively (this is telemetry):
[code]

This only happens on a fresh start of mixer, if you scale galley to 0 **after** an initial successful connection, it

[2019-06-24 17:49] howardjohn commented on #15095
My guess: I think this is just prow infrastructure flakes. The timeout isn't the real error, see above:

`{"component":"entrypoint","level":"error","msg":"Entrypoint received interrupt: terminated","time":"2019-06-10T21:33:12Z"}`

The test gets a SIGTERM because the node is getting killed, then forwards a SIGINT to the test process which probably does nothing with it.

Even if we handled the SIGIN

[2019-06-24 17:50] jaygorrell commented on #13204
Here's where I'm at right now:
[code]

I have a service on `80` that has a `targetPort` of 8080. I confirmed that curling with `--unix-socket` on the istio-proxy container and the above socket, I'm able to reach the service. However, going through the k8s service dns/ip, I get a 504 using this configuration (with or without the Sidecar).

[2019-06-24 17:52] ostromart opened #15099 "Rename manifest.Object to K8SObject"
This relates to istio/operator/pkg/manifest where the name Object is too general.

[2019-06-24 18:02] mandarjog commented on #15029
@Stono the fix was just merged into the 1.2 branch.
The daily mixer build from tomorrow (June 25, release-1.2-20190624) will have the fix in it.
That is the *only* change between 1.2.0 Mixer. If you want you can test with this build in pre-prod.

1.2.1 will have a few other changes and will be released end of this week, of mid-next week.

[2019-06-24 18:03] douglas-reid commented on #15098
This has been discussed in a number of forums previously. I feel like there was even a PR to address this open at one point, but I'm struggling to find that PR now.

Related (somewhat):
- https://github.com/istio/istio/issues/12863
- https://github.com/istio/istio/issues/12226

[2019-06-24 18:05] Stono commented on #15029
That'd be great, thanks very much @mandarjog and team

[2019-06-24 18:15] ostromart opened #15101 "manifest package needs unit tests"
pkg/manifest currently has no unit tests and needs some.

[2019-06-24 18:15] JimmyCYJ opened #15102 "Pilot does not check global.sds.enabled when creating SDS config."
**Bug description**
This is found when I am modifying the perf test helm file. In a extra helm values.yaml, I set global.sds.enabled to false and global.sds.udsPath unset. When this extra values.yaml overrides  default values.yaml, the global.sds.udsPath has non-empty default value. This causes Pilot to generate SDS config for sidecar proxy. The deployment has no Citadel Agent pods because global.

[2019-06-24 18:15] JimmyCYJ commented on #15102
/cc @quanjielin

[2019-06-24 18:28] incfly commented on #9505
https://github.com/istio/istio/issues/15086 seems better in terms of security.

[2019-06-24 18:39] quanjielin commented on #15102
it's a known issue that we had several PRs try to fix this before(https://github.com/istio/istio/pull/12534, https://github.com/istio/istio/pull/13605) , better sync with @costinm before making the change, see comments in https://github.com/istio/istio/pull/12534

[2019-06-24 19:12] quanjielin commented on #15085
@hanymahajna I removed socket type in https://github.com/istio/istio/pull/14855 (which is in 1.2), could you tell more about connection issue (ex, connection between which components get disconnected ?) and any logs from client/server side ?

[2019-06-24 20:30] sdake commented on #15089
Seems like a corner case for 1.2 - but definitely something to be fixed for 1.3.  If someone works up a patch for master, we can merge it there, but no guarantees it will make 1.2.

Cheers
-steve

[2019-06-24 20:41] ozevren commented on #15091
A few point-wise things: Galley validation webhook does not validate already-submitted resources. It only gets triggered by the API Server when there is an incoming CRUD request. The validation is also is very light on resource usage (as observed), so this is not a resource contention issue.

One possibility is a network hiccup (or a series of them) between the API Server and the hook causing the

[2019-06-24 20:44] ozevren commented on #15091
Also, does your rollout update the control plane alongside the configurations, or are they applied separately?

[2019-06-24 21:08] JimmyCYJ commented on #15102
https://github.com/istio/istio/issues/13439

[2019-06-24 21:22] howardjohn commented on #15020
@MrBlaise installing from the github source is not supported. Please install from the releases (https://github.com/istio/istio/releases). That is why your image tags are `latest-daily`

[2019-06-24 21:52] diemtvu opened #15114 "Virtual service HTTPMatchRequest with queryParams or headers doesn't work."
**Bug description**

I set up a virtual service and destination rule like below. I expect the first `httproute` will be triggered only when request contains params `version=bar` (or header `x-version: bar`), and route to `bar`. Any other request should match the second route rule and go to foo (per [API](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L164): _The

[2019-06-24 22:16] Monkeyanator opened #15115 "Citadel requires k8s namespace read permissions but does not have them"
**Bug description**
To determine whether or not a given namespace should be Citadel-managed, if the `listened-namespaces` flag is not used and `explicit-opt-in` is enabled, we must check the namespace's labels for istio-managed. However, Citadel does not currently have the privileges to read cluster namespace resources.

**Affected product area (please put an X in all that apply)**

[ ] Configurat

[2019-06-24 22:49] therealmitchconnors commented on #14672
Ok, I can confirm that this test is flakey.  The most recent flake (as of last week) was https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14927/istio_auth_sds_e2e-master/2349

This test has flaked at least 26 times so far this month, and only 20 times in the month of May, for a flake ratio of 2.2% in may and 3.5% in June.

[2019-06-24 23:02] yangminzhu commented on #15084
@divya21raj could you also provide the header part of your jwt token, I'm wondering what's the `alg` it's using?

[2019-06-24 23:05] mandarjog opened #15116 "Enable python format enforcement: autopep8 on tools repo"
Tools repo has lots of python code and does not enforce formatting.
check_format should run autopep for python code.

1. Correctly format all python code.
2. enable gate

[2019-06-24 23:16] ozevren commented on #15091
I ran some experiments locally using 1 replica, 10 replicas (disabled reconciliation) and no Galley (no webhook config), using a synthetic dataset based on the numbers provided here. The time taken for these operations are pretty close to each other. This is not entirely unexpected, as I expect the storage operation cost and throttling in API Server to be the dominating factor.

[code]

[2019-06-24 23:22] richardwxn commented on #15101
I am adding tests to my existing prs, so I can take this one as well

[2019-06-24 23:30] mandarjog opened #15117 "Expose stackdriver tracing for istio-proxy"
https://github.com/envoyproxy/envoy/pull/5387 Added support for stack driver tracing.

This option is added to bootstrap along with all other options.

1. Add
 configuration to mesh config
https://github.com/istio/api/blob/6f137ab2ce6dd070df734d2c3cca69c8ea34b9c0/mesh/v1alpha1/proxy.proto#L40-L78
2. The config should expose minimal knobs, potentially none since sampling is controlled elsewhere.

[2019-06-24 23:33] jasonwzm commented on #14246
This is done in https://github.com/istio/tools/tree/master/protoc-gen-openapi, openapi spec will be generated in https://github.com/istio/api/pull/957. Closing this.

[2019-06-24 23:33] #14246 closed

[2019-06-25 00:03] ryanolson commented on #12296
Is there a way for you to infer the proper default for `clusterDomain` from k8s at install time?

[2019-06-25 00:11] howardjohn commented on #12296
Probably not at install time, maybe at runtime. I think I remember seeing some discussion about parsing it from `/etc/resolv.conf` and it was decided to not be a good idea. If there is a better way to get the `clusterDomain` it could be possible

[2019-06-25 00:41] darwin67 commented on #9504
@hzxuzhonghu  what do you mean by kubelet reporting status too slow? could you clarify on that?

I don't even deploy 300 pods simultaneously, I was seeing this issue when just deploying 5 pods.

[2019-06-25 01:30] procyclinsur commented on #13268
fixed in recent release... closing

[2019-06-25 01:30] #13268 closed

[2019-06-25 02:11] hzxuzhonghu commented on #9504
I don't even deploy 300 pods simultaneously, I was seeing this issue when just deploying 5 pods.

In my env, the kubelet will start containers one by one and then update status, so it is very slow.

It is really weird for you to see this deploying 5 pods.

[2019-06-25 02:22] kyessenov commented on #15117
Example: https://gist.github.com/kyessenov/ae8e003bfba451f660cb9f875de8c8f4

[2019-06-25 02:45] hzxuzhonghu commented on #11130
As we have `ALLOW_ANY`, is this still a big problem?

[2019-06-25 02:45] kbruner commented on #13009
I still haven't found a permutation that works in 1.2.0.  Previously, was using this in GKE on Istio up to 1.1.8:

[code]

That still passes the validation, but doesn't work.  I've tried appending a `/32` to the `addresses:` line, but that apparently gets evaluated in a way that the validator thinks there's no change and discards te edit.  I added a suffix to the port name to force a change, but I

[2019-06-25 03:12] alpaca2333 commented on #13848
I have come through both "timeout" and "upstream disconnect/reset" errors, which compose about 2% of all requests. I have no idea if we are going into the same problem. What's annoying, the "timeout" requests could be referred from the log of envoy while the "upstream disconnect" could not.

[2019-06-25 03:45] hzxuzhonghu commented on #7136
@howardjohn This is a good finding, it seems envoy will exit with 0 when receives SIGTERM, but this is absolutely not what we want,. If envoy exits, pilot-agent should restart it unless pod is terminating.

[2019-06-25 04:01] hzxuzhonghu commented on #11181
I've tested with 3 pilots and total tens of pods, and `keepaliveMaxServerConnectionAge ` works for me .

[2019-06-25 05:06] howardjohn commented on #12162
I am seeing consistent CPU with `PILOT_DISABLE_XDS_MARSHALING_TO_ANY=0` and `=1`. Was anyone else ever able to reproduce the CPU spikes?

It is possible a fix went into envoy, or maybe my test setup is not as complex as the original issue so I didn't run into the problem. Here is a snapshot of CPU usage: https://snapshot.raintank.io/dashboard/snapshot/1RevrAsTsNpH6a04TBJSxIVcEB1PVdwL?orgId=2

 I t

[2019-06-25 05:13] howardjohn opened #15121 "TestEds/MultipleRequestIncremental Racetest Failure"
https://prow.istio.io/?job=istio-racetest-master shows 10 straight failures

All/most of them are from `TestEds/MultipleRequestIncremental`.

These all started failing right when we set a CPU limit on prow, so maybe related (https://github.com/istio/test-infra/pull/1373)

This also brought up that we don't have the success/failures reported properly to prow.

* Need to report failures
* Need to fi

[2019-06-25 05:56] silentdai commented on #12162
Today when I am running trying to profile the envoy, `protobuf::Any` is always faster. It's reasonable as `config`(typed `Struct`) almost always transforms to Json and then transforms to `typed_config` (typed `Any`).  See https://github.com/envoyproxy/envoy/blob/master/source/common/config/utility.cc#L257

[2019-06-25 06:05] pilhuhn commented on #11475
This is imo still valid

[2019-06-25 06:12] prabhatsharma commented on #8270
Can confirm. every ~30minutes on 1.2.0

[code]

[2019-06-25 06:15] divya21raj opened #15122 "How can I check exactly what caused a 401, when using JWT authentication?"
**Bug description**
I wanted to know what exactly is Istio checking that causes a 401. How can I achieve that?
I've checked a lot in the code, but I can't find the exact point where the access token is being verified. Is there a way to generate such logs? Thanks!

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networkin

[2019-06-25 06:58] Stono commented on #15091
Hey thanks for the replies.

Couldn't spot anything at the time, I checked the kubernetes event logs but there was nothing telling.

It was a helm upgrade on the control plane, so at the same time as Galley coming up, pilot and mixer were also being restarted (1.1.9 -> 1.2.0).

Nothing really, here's a graph of metrics from the kubernetes api tracking `histogram_quantile(0.95, sum(irate(apiserver_

[2019-06-25 07:00] Stono commented on #7136
@johnholiver @hzxuzhonghu this may be a bug, but we critically depend on the fact that pilot-agent doesn't restart envoy right now!

Should you fix it, please also implement https://github.com/istio/istio/issues/15041 at the same time or I have 20+ cronjobs that will start failing.

[2019-06-25 07:11] silentdai commented on #12162
LdsBenchmarkFixture/TestAny/4096            41645232 ns       41641609 ns           17LdsBenchmarkFixture/TestStruct/4096 4495618105 ns   4495206127 ns            1

[2019-06-25 07:12] pandey-adarsh147 commented on #13052
We are running istio version 1.2.0 on my on-permises cluster.
Cluster is setup using GKE (kubernetes version 1.13.4)

[2019-06-25 07:20] ckcd commented on #14443
@hzxuzhonghu

This problem became more dangerous in 1.2.0 ...

In out cluster, with the containerPort defined but no related svc port as shown above, in 1.2.0, envoy will take up more and more memory immediately and be OOM killed because it got the limit (1G); actually in my test, just send 2 requests from other pod to this POD_IP:port, then envoy memory will got 1G immediately.

and the logs of e

[2019-06-25 07:23] daleangus commented on #14788
I installed Istio 1.1.8 with mTLS enabled. I have grafana and kiali enabled. I installed my application. Everything is working until I apply this policy with jwt.

[2019-06-25 08:03] mofee commented on #14386
@g-p-n , thanks for your reply.
I also test use a curl pod, the image from [https://hub.docker.com/r/appropriate/curl](https://hub.docker.com/r/appropriate/curl), and be injected the istio sidecar with  --proxyLogLevel=trace.
Then i sue cmd:
  `curl -x http://hkproxy.global.test.com:8080 https://www.google.com`
and the response is
  `curl: (56) Received HTTP code 404 from proxy after CONNECT`

the

[2019-06-25 08:22] g-p-n commented on #14386
@mofee
Thank you for the traces. Shall take a look at it.
Will I be able to use http://hkproxy.global.test.com:8080 to reproduce the issue locally?

[2019-06-25 08:27] sublimino commented on #15094
@Stono @howardjohn no impact except confusion : ] thanks for clarifying

[2019-06-25 08:39] hzxuzhonghu commented on #15041
/assign let me do this

[2019-06-25 08:39] hzxuzhonghu commented on #7136
Let me take it.

[2019-06-25 08:42] ckcd commented on #14242
in istio 1.2.0, this memory increase is more serious, with test case in https://github.com/istio/istio/issues/14443 , memory of envoy will increase immediately and be OOM Killed.

[2019-06-25 09:19] dgn commented on #15086
My currently preferred approach would be to add two options to the MeshConfig (naming preliminary):

`authnJwksUseDefaultRootCA (bool)`: whether to include the baked-in cert bundle into the certificate pool
`authnJwksCustomRootCA (string)`: paste in your PEM and it will be added to the certificate pool

Using the MeshConfig has the advantage that you can change it without reinstalling istio; if yo

[2019-06-25 09:26] Analyse4 commented on #14981
@sdake Thx for your suggestion. My platform is AlibabaCloud.
The problem is fixed. It seems like my kube-proxy is not configured correctly. The registered hostname is different from the actual hostname. I will check this and close this issue after that.

Cheers

[2019-06-25 09:28] dgn commented on #15122
The JWT is verified by an Envoy filter, so you'll have to check the Envoy logs. For the code, see https://github.com/istio/proxy/tree/master/src/envoy/http/jwt_auth

Pilot retrieves the JWKS to be used by the filter (it is inlined into the Envoy config), you can find the code for that in `pilot/pkg/security`

[2019-06-25 09:34] divya21raj commented on #15122
I check Envoy logs by

`kubectl.exe logs sa-web-app-599cf47c7c-94jb4 -c istio-proxy`

but don't see anything noteworthy upon a 401. Is there some other way to check envoy logs?

[2019-06-25 09:49] Janesee3 commented on #14942
1. We deploy 2 separate load balancers for our cluster because we want to segregate traffic coming from the public and traffic coming from another private network.
2. I retrieved the config_dump from the sidecar and tried to count the number of Listeners and Clusters: From the latest output of `/certs`, I only have 36 counts of `cert-chain` entries, but I have 39 counts of `listeners` alone, and I

[2019-06-25 09:56] hanoisteve commented on #12648
Hello Istio! What is the answer for this. How is this being addressed and what do you suggest for debugging errors of this type?

[2019-06-25 09:57] hanoisteve commented on #12648
One possibility is to set an DestinationRule and set turn off timeouts. This might be an underlying reason but I am not sure. Still investigating.

[2019-06-25 10:25] Stono opened #15124 "Istio 1.2.0 is modifying `x-forwarded-proto`"
**Bug description**
We have the following setup:

`[nginx | sidecar] -> [sidecar | app]`.

The `sidecar` on nginx is configured with `traffic.sidecar.istio.io/includeInboundPorts: ""` which effectively makes nginx an edge load balancer for us.

A user hits `app.platform-testing.environment.k8.atcloud.io`, and hits nginx, that goes through the two sidecars to the destination app.

In istio 1.1.9 an

[2019-06-25 10:36] Stono commented on #15124
Potentially related envoy issue: https://github.com/envoyproxy/envoy/issues/4496

[2019-06-25 10:41] sonahander opened #15125 "Istio does not apply envoy configuration when injecting istio-proxy"
**Istio does not apply envoy configuration when injecting istio-proxy**

**Affected product area (please put an X in all that apply)**

[X ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Istio should set gRPC-js

[2019-06-25 10:42] Stono opened #15126 "istioctl proxy-config command hangs in 1.2.0"
**Bug description**
istioctl proxy-config <anything> hangs indefinitely on 1.2.0, eg: `istioctl proxy-config endpoint platform-testing-6c69d48bb9-c7ht2.platform-testing`

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[x] Test and Release

[2019-06-25 10:50] Stono commented on #15124
Using a `1.1.9` sidecar does not resolve this, so it is something to do with the config being sent from pilot.

[2019-06-25 10:52] Stono commented on #15124
Using a pilot `1.1.9` resolves the issue

[2019-06-25 11:04] Stono commented on #15124
Further testing shows that running with a pilot `1.1.9` images resolves this issue.  Diffing the envoy configuration for a `1.2.0` sidecar configured by both a `1.1.9` and `1.2.0` pilot shows changes in `use_remote_address`, which correlates to the issue I've linked above.

[code]

I've attached two full diffs for you.
[pilot-1.1.9-envoy-1.2.0.log](https://github.com/istio/istio/files/3324907/pilo

[2019-06-25 11:12] Stono commented on #15124
The associated commit seems to be: https://github.com/istio/istio/pull/14097

[2019-06-25 11:17] ckcd commented on #14443
can we just exchange the order of first chain with second(and third) chain ?

e.g. for now the ISTIO_OUTPUT looks like:

[code]

and the first chain(let's call it chain-0) may causes infinite loop as we talk in this issue and in:
https://github.com/istio/istio/pull/12110
https://github.com/istio/istio/issues/14242

And in my opinion, the purpose of chain-0 is for a pod requests itself using POD_IP

[2019-06-25 11:36] mofee commented on #14386
@g-p-n  http://hkproxy.global.test.com:8080 is our internal  http proxy, can not be accessed for you.

[2019-06-25 11:46] g-p-n commented on #14386
@mofee
Never mind about my request to use your proxy server.
I able to reproduce the issue.

[2019-06-25 12:00] mofee commented on #14386
@g-p-n
Never mind, but it's a  internal ip [192.168.195.9]
i have tried visiting a http website
   `curl -x http://hkproxy.global.test.com:8080  http://www.website.org/`
the curl not print the error message, but also can not received the response, nothing print out.

[2019-06-25 12:13] vadimeisenbergibm commented on #14088
@howardjohn Hi, sorry, missed that, was on vacations/business trip. Let me handle it this week.

[2019-06-25 12:18] holgero commented on #15090
Hi @linsun Is a WI an github issue (like this one) or something else?
I am asking because we are interested in being able to run the prow tests locally, too. We would even like to contribute here.

[2019-06-25 12:30] hzxuzhonghu commented on #14443
It seems not feasible, i have previously opened #14779 to change something, but i found all the rules orders are intended.

[2019-06-25 12:47] mandarjog commented on #12162
@silentdai I think the average cpu was always better with “any”, but there are periodic spikes that can be throttled and they can result in 503s. @dwradcliffe can you re-run with “any”, perhaps a change in Envoy has already fixed the problem.

[2019-06-25 12:49] vadimeisenbergibm commented on #10537
@frankbu I was asked by a customer to implement this feature. You can also see the thumbs up on the first comment.

[2019-06-25 12:56] rshriram commented on #15124
nice find @Stono .. this is a side effect I didnt think of. Though @ramaraochavali 's PR had a different and valid point (app provided timeout headers being stripped). would it help to have a feature toggle for this in the interim? I believe setting use remote address is correct in sidecar, but your use case is equally valid. I am working on https://github.com/istio/api/pull/899 which will allow y

[2019-06-25 13:00] rshriram commented on #15125
@venilnoronha

[2019-06-25 13:00] Stono commented on #15124
Anything to get the 1.1.9 behaviour back would be much appreciated so if you can get something in a nightly for me I'd be very happy.

[2019-06-25 13:16] esnible commented on #14794
Status report: I have an implementation, but not a test, of the requested behavior.

For the 1.2.0 version, the output is especially large when the control plane has multiple instances:

[code]

[2019-06-25 13:20] GregHanson commented on #15114
Can you provide the VirtualService for the header match case?

I can not reproduce this behavior.  Following the example from the ingress doc [here](https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/#configuring-ingress-using-an-istio-gateway), and the modified VirtualService and ServiceEntry below

[code]

I am able to see the desired routing behavior, with the matching query

[2019-06-25 13:25] esnible commented on #15126
The command isn't hanging for me.  I am also using 1.2.0.

Until I can reproduce it I will need your help in understanding what is wrong.  The command does the equivalent of

[code]

What output do you get from this command?

If that command hangs, tell me what you get from `kubectl -n <ns> exec <pod> -c istio-proxy -- ps -ef` and `kubectl -n <ns> get pod <pod>`

[2019-06-25 13:28] gxthrj opened #15127 "Is there any way to have sidecar create the same number of tcp connections for the business container?"
istio version:1.2.0
scenes: grpc with istio

in my bussiness client using grpc created n channels for performance. (n > 1)
but with istio,  the tcp connection between sidecar is only one .

Is there any way to have sidecar create the same number of tcp connections for the business container?

[2019-06-25 13:43] phil9909 opened #15128 "Persistent Prometheus"
**Describe the feature request**
If the prometheus pod is restarted (e.g. during an update) all data is lost.

**Describe alternatives you've considered**
1. Add an optional helm-value `Values.prometheusPersistentVolume`.
   - If this value isn't provided keep current behaviour
   - If provided generate a PersistentVolumeClaim to claim the specified Volume and mount the volume in the Pod.
   - It

[2019-06-25 13:44] Stono commented on #15126
@esnible thanks for your reply.

This command completes, but **does not exit**, eg I see the stdout config dump, but it's stuck until I CTRL+C it.

<img width="357" alt="Screenshot 2019-06-25 at 14 43 58" src="https://user-images.githubusercontent.com/1486729/60103535-afddac00-9757-11e9-8cbc-8e2fac639c14.png">

I've tested this with `istioctl` version `1.2.0` against version `1.1.9` and `1.2.0` pi

[2019-06-25 13:50] ramaraochavali commented on #15124
@Stono Sorry, this change has caused you trouble. And I also did not realize that it would have the side effect of modifying the `x-forwarded-proto`. I am good with a feature toggle. Would it be OK, If I send PR tomorrow?

@rshriram  Can I send directly to `1.2` branch?

[2019-06-25 13:53] howardjohn commented on #14088
No worries, thanks for looking into it

[2019-06-25 13:57] howardjohn commented on #14443
the problem is introduced in 1.1.4

You can "fix" it by setting outbound Traffic policy to registry only or set the env var PILOT_ENABLE_FALLTHROUGH_ROUTE=0. (maybe not exactly that, on phone right now I can send the docs later if you need)

[2019-06-25 14:12] GregHanson commented on #15055
@pandey-adarsh147 can you share the ServiceEntry and corresponding VirutalService?  Typically if RDS is `NOT SENT` it means there was no VirtualService that applied to the egress gateway and so no route configs were generated for it.  You need a VirtualService in order to route traffic from apps/sidecars through the egress gateway to external services, otherwise apps will call the external service

[2019-06-25 14:15] g-p-n commented on #14386
@mofee
Your logs with trace enabled helped.
Here is my investigation. In summary, I see that envoy does not support CONNECT.
We could wait to hear from the istio/proxy/envoy experts.

This is the output from curl.
[code]

Here is the corresponding output of the parsing from istio-proxy.
[code]

In this case of a request via a proxy, the first HTTP command/method issued is CONNECT. Also, the "path"

[2019-06-25 14:59] g-p-n commented on #14386
@mofee
Digging further, it looks like envoy can perform as a HTTP proxy. Here are the links to the envoy documentation and configuration.

https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/http/http_proxy#arch-overview-http-dynamic-forward-proxy
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/dynamic_forward_proxy_filter#config-http-filters-dynamic-forward-prox

[2019-06-25 14:59] esnible commented on #15126
I am at a bit of a loss because I haven't seen `kubectl exec` pause like that.  I need to understand if the problem is with Istio's _/usr/local/bin/pilot-agent_ or with configuration specific to you.

Do `kubectl -n <ns> exec -it <pod> -c istio-proxy bash` to get a $ prompt, then run `/usr/local/bin/pilot-agent request GET config_dump` from that prompt and let me know if it completes.

Your commen

[2019-06-25 15:03] Miouge1 commented on #14328
@aliartiza75 did you get the initial issue fixed?

[2019-06-25 15:11] howardjohn commented on #15121
Was able to reproduce with
[code]

Then
[code]

[2019-06-25 15:11] jshaughn commented on #11093
I think this is still relevant to future telemetry needs.

[2019-06-25 15:16] GregHanson commented on #15124
@ramaraochavali the new practice is to send to master branch and tag the PR with the `merge to release branch` tag.  This will automatically open a PR to the current release branch once it merges to master.  This is important because it ensures the fix always ends up in master for future releases going forward.

[2019-06-25 15:19] nmittler opened #15718 "Automate publishing of binary for macOS"
To do this, we'll need to add cross compilation support for envoy and istio-proxy.

Needed to resolve: https://github.com/istio/istio/issues/13677

[2019-06-25 15:19] rshriram commented on #15124
Send Pr to master and we can cherry pick immediately to 1.2.

[2019-06-25 15:20] ramaraochavali commented on #15124
Sure. Thanks. Makes sense. Will send a PR to master tomorrow

[2019-06-25 15:20] Stono commented on #15126
thanks again for the replies, i've actually left the office for the day so will continue debugging either later tonight or early tomorrow and get back to you with more info!

[2019-06-25 15:34] lwr20 opened #15130 "istio-demo-auth.yaml contains invalid yaml (empty values)"
in https://github.com/istio/istio/releases/download/1.0.6/istio-1.0.6-linux.tar.gz, install/kubernetes/istio-demo-auth.yaml contains this:
[code]
which causes this error when I attempt to kubectl apply it in a k8s 1.15.0 system:
[code]

Same appears to be true in https://github.com/istio/istio/releases/download/1.0.7/istio-1.0.7-linux.tar.gz.

in istio 1.1.7, its now:
[code]
And it looks the same

[2019-06-25 15:35] kramvan1 commented on #15061
@esnible Yup, we do NOT have auto-inject enabled for any namespace.  We include the bookinfo sample as an optional piece of our install and  did not want to force the `default` namespace to be inject enabled, so the inject is done at build time instead.   This allows the customer to have complete control over what namespaces are enable for injection.

Hope that makes some sense, we are focused on

[2019-06-25 15:38] #14696 closed

[2019-06-25 15:40] ericvn opened #15131 "Move Cluster-aware (Split Horizon) e2e test to new integration framework"
An initial version of this test created with https://github.com/istio/istio/pull/12709 closing https://github.com/istio/istio/issues/12268 and https://github.com/istio/istio/pull/12420.

It should be noted that this test was never added into the test framework so has not been run recently.

Trying to run that test locally against two IKS clusters I have having issues getting things to work. Some o

[2019-06-25 15:43] GregHanson commented on #15126
I tried the 1.2.0 istioctl binary on my Mac for a combination of gateways and apps and not seeing the command hang at all.  I think @esnible and I are both running against and IBM cloud deployment - maybe this is specific to GKE?  @Stono, hate to ask, but did you do a sanity check and verify that you are using the 1.2.0 istioctl binary and that you don't have an old sym link or `PATH` variable tha

[2019-06-25 15:46] ericvn commented on #15131
I am still trying to get the existing test to work locally using IKS. I have run into a few issues:
  - The test relies on a secret named with the remote cluster. I first had a `_` in the name and this prevented the secret from being created (secret names must be a valid domain name?).
  - The e2e test framework uses kubectl to get the current config and dump that to a file in a temp directory and

[2019-06-25 15:48] aliartiza75 commented on #14328
@Miouge1 no I haven't resolved it yet.

As Istio provides its own ingress gateway I think it is not a good idea to configure it with nginx ingress!

[2019-06-25 15:49] Stono commented on #15126
We do quite a few custom things :-) it could well be user error. @esnible questions are good - will continue debugging shortly and let you know!

[2019-06-25 16:23] Stono commented on #15128
My two cents.... is it really istios responsibility to build and manage prometheus?

Many users have different requirements, and any serious production deployment of prometheus requires (usually) quite a few organisational specifics.  When you start to go really big with prometheus, you'll be looking at having multiple prometheus services with higher level aggregation, or things like thanos.

As p

[2019-06-25 16:33] Stono commented on #15126
@GregHanson @esnible - thanks both for your input, I've resolved the issue.  When @esnible told me that it effectively runs `pilot-agent` within the container it reminded me of a script that we have.

Just so you know... there are a couple of issues with `pilot-agent`.  The first is that it doesn't play with cronjobs, and calling the envoy `quitquitquit` endpoint [leaves pilot-agent in a broken st

[2019-06-25 16:33] #15126 closed

[2019-06-25 16:33] #13888 closed

[2019-06-25 16:33] ericvn commented on #12268
At this point, I'm not sure that the test would actually run if it was in the testgrid. At least I'm seeing changes made in other PRs that might have made this test fail had it been there at the time (causing changes to actually have made this test pass now).

[2019-06-25 16:35] #8057 closed

[2019-06-25 17:00] silentdai commented on #12162
The known potential 503 could be:
1. Drain timeout: The default timeout is 45 seconds. It a long server request (not keep alive connection) is longer than 45 seconds that request will be interrupted and lead to 503 to downstream.
2. envoy exit. This might be what we saw at the beginning. The `Any` broke the implicit promise that pilot and envoy should see the same config on the wire if there is no

[2019-06-25 17:12] rshriram commented on #14386
does the application have to access X site only using myproxy? can it access the site using the local sidecar's HTTP proxy ?

[2019-06-25 17:13] howardjohn commented on #15130
So to make sure I fully understand, this doesn't work on 1.0.x, but works on 1.1 and 1.2 right? Is this just a new validation in k8s 1.15? Because I would imagine others would have ran into this otherwise.

So some additional context, Istio 1.0 came out long before 1.15 so obviously hasn't been tested on kubernetes 1.15 which is why I ask.

[2019-06-25 17:42] duderino commented on #15124
@fpesce heads up.  this may not land in time for 1.2.1, but please get it in asap

@ramaraochavali this is pretty important, so if you need help please ask on the networking slack channel.  If you can't wrap it up tomorrow for any reason, please tell us so we can get someone else on it.

Thank you

[2019-06-25 17:45] darwin67 commented on #9504
This issue should be pods not getting into a ready state because Envoy doesn't correct itself and persist its weird state, and I'm not sure how kubelet could be related to that.
To be honest, I don't know the internals of kubelet so I just don't know how it relates, but everything works absolutely fine when running *without* the Envoy proxy as the sidecar, so there's likely something with Envoy an

[2019-06-25 17:52] pitlv2109 commented on #15122
To be correct, today we're using our own Istio jwt filter (but will switch to Envoy jwt filter soon).

You can turn on debug level in the filter to see what went wrong. Follow the conversation here https://discuss.istio.io/t/grpc-jwt-authentication-silently-failing-in-istio/2829/2

[2019-06-25 18:09] douglas-reid commented on #15128
@phil9909 @Stono fwiw, this is the idea behind the push to use `prometheus-operator` config in the new installer. Out-of-the-box, the idea is to provide a default instance of Prometheus (aka `get me up and running`). However, that would only be for demo/testing purposes. After that, Istio expects that orgs/operators will want to fine tune Prometheus deployments and only use the installer to genera

[2019-06-25 18:17] duderino commented on #15020
@quanjielin thanks for getting the fix out so quicky.  Can we keep this bug open to cover adding a SDS scenario to our existing upgrade tests?

[2019-06-25 18:20] MrBlaise commented on #15020
@wattli @quanjielin @duderino Is there a recommended way or guide on how to upgrade istio on a cluster whith sds enabled without downtime? Currently even with this fix the old sidecars will reject any connection and they need to be restarted to get the new version which works.

[2019-06-25 18:55] dbarentine commented on #14065
@josejulio Thank you for all your work on this. I read through the other bug and your reproducer looks exactly like what I'm seeing. When I move to REGISTRY_ONLY and define ServiceEntries for external services than the problem goes away.

So, it appears to just be Https traffic when ALLOW_ANY is enabled which I think is already pointed out in the other bug.

[2019-06-25 19:10] #11044 closed

[2019-06-25 19:10] esnible commented on #11044
Closed because we have `istioctl verify-install`.

[2019-06-25 19:12] esnible commented on #12407
Closing in favor of https://github.com/istio/istio/issues/15012

We need _istioctl_ and the webhook to both use the new method.  A Work In Progress can be found at https://github.com/istio/istio/pull/15107

[2019-06-25 19:12] #12407 closed

[2019-06-25 19:13] esnible commented on #12607
@ibm-jason Is this work done?

[2019-06-25 19:14] esnible commented on #13133
Closing because Istio 1.2 shipped with Grafana 6.1.6.  If anyone is getting this issue please re-open.

[2019-06-25 19:14] #13133 closed

[2019-06-25 19:16] esnible commented on #14082
Setting milestone to "nebulous future" because we have not reached consensus on restoring the deprecated commands.  Other parts of this Epic have been completed.

[2019-06-25 19:23] linsun commented on #13259
As part of this work, we need to consider beyond k8s as well as there is a lot of feedback that istio is only k8s.  Users should be able to run istioctl install to install control plane on a VM or do it themselves if they choose to.

[2019-06-25 19:24] linsun commented on #13259
I agree we will need a design doc for this.  @esnible  has started something not solely for istioctl: https://docs.google.com/document/d/1yxoQNfWgNFFPgyGHGvpTMN_Xy6KAoq57O2U8Wx0Nv8A/edit

[2019-06-25 19:29] linsun commented on #13260
I think it is hard to figure out this cmd `k get istio-io`.  I know it because you told us.

This cmd isn't intuitive as `istioctl get all` which folks can remember and resonate well.

[2019-06-25 19:39] linsun opened #15133 "Run Istio control plane on VM"
**Describe the feature request**
We need to get istio runninng on VM, in addition to k8s to break the viewpoint where folks had that istio is just for k8s.

In https://github.com/istio/istio/issues/13259, we described a desire to install istio from istioctl without reading docs.

While install from istioctl is nice, there is also a need for users to understand what binaries user needs to install i

[2019-06-25 19:43] linsun opened #15134 "istioctl add-to-mesh cmd"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We need a single cmd to allow users to add a service to mesh, with istioctl.  Ideally, this cmd should work for adding k8s services to istio or adding services running in VM to istio.

**Describe alternatives you've considered**
Manual steps and VM

[2019-06-25 19:44] linsun commented on #13260
close this in favor of `k get istio-io` for now.

[2019-06-25 19:44] #13260 closed

[2019-06-25 19:48] esnible commented on #15134
I have a proposal for CLI commands.  https://docs.google.com/document/d/1cO1TysDZca6e59Qq9VhcbPZXAcln0YxJZ9ssPVrwSiE/edit

Do the commands proposed look reasonable or did you have a different idea?

[2019-06-25 19:52] linsun commented on #15134
looks reasonable to me, I think i like add-to-mesh better than meshify.  Also, a key item here is the VM experience in addition to k8s.

[2019-06-25 19:59] esnible commented on #13259
@linsun I was intending to share that document after running it past @sdake and @ostromart .  We are trying to understand how _istioctl_, the new installer, and the operator play together for 1.3.

[2019-06-25 20:24] incfly commented on #15020
/cc @incfly

[2019-06-25 21:07] #14841 closed

[2019-06-25 21:10] ozevren commented on #15029
The original issue causing the Mixer to not work without Galley is fixed. There are other bugs tracking issues.

Do we still need this bug?

[2019-06-25 21:11] ibm-jason commented on #12607
@esnible Yes, I believe that this work is complete with the following PRs merged:

- https://github.com/istio/istio/pull/13024
- https://github.com/istio/istio/pull/13871
- https://github.com/istio/istio.io/pull/4274

[2019-06-25 21:34] quanjielin commented on #15020
@MrBlaise ideally follow https://istio.io/docs/setup/kubernetes/upgrade/steps/ should be good, requiring sidecar restart issue maybe due to https://github.com/istio/istio/issues/14853 as mentioned in a previous comment.

[2019-06-25 21:35] #11976 closed

[2019-06-25 22:24] mandarjog opened #15142 "Flake due to NewStatsContext"
Cause: Race between register and prior de-register of stats views.

recommended fix
 * Move all view registrations to `init` method of the module.

This pattern is followed elsewhere in the code.

https://circleci.com/gh/istio/istio/449828?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2019-06-25 22:25] mandarjog commented on #15142
@douglas-reid

[2019-06-25 22:38] fpesce commented on #15029
Or maybe a bit earlier for the impatient... https://gcsweb.istio.io/gcs/istio-prerelease/prerelease/1.2.1/

[2019-06-25 22:38] josejulio commented on #14065
You're welcome. Glad that you were able to resolve your issue!

[2019-06-25 22:48] silentdai commented on #11937
@jschlichtholz  Sorry for the late reply. It highly depends on how frequent your collection service endpoints change. However, I would always suggest providing a pool that member never change(or changes less infrequently) and do not add/remove member upon health check response. See the envoy philosophy [here](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/service_discover

[2019-06-25 23:20] kbruner commented on #13009
I did spend a little more time looking here.  `istioctl authn tls-check` for the service that needs to connect to the metadata endpoint does return the following:

```metadata.google.internal:80                                   CONFLICT     mTLS          HTTP       default/                                     gce-metadata/stackrox```

Note there was no change in mTLS auth (required by default), o

[2019-06-25 23:25] mrtalley opened #15145 "Fault Injection on External Https Service Not Working"
**Bug description**
I'm trying to apply fault injection rules to external services that my cluster is accessing. I'm able to successfully apply rules internally and to http routes, but it isn't working for https.

Looking at envoy logs, it looks like the mesh is recognizing requests to the https route, but I haven't been able to apply any fault injection rules to it.

I'm running istio version 1.2

[2019-06-26 00:28] mofee commented on #14386
@g-p-n  thank you, i will try follow the links
@rshriram , for some reasons, our apps can not access the internet except by the http proxy

[2019-06-26 00:58] walterTyro commented on #12351
@klucerof did you resolve this issue? I seem to be having similar issues.

[2019-06-26 01:23] nrjpoddar commented on #7669
@douglas-reid @howardjohn @kyessenov  I started working on this but currently kind of stuck. I can add the logic to add a mixer filter in the filter chain for this listener but as it's a TCP filter the attributes that we can export is not rich.

In particular, you cannot get the DNS name of the service that the application is trying to reach as that information is lost by the time it gets to the m

[2019-06-26 02:03] ckcd commented on #14443
@hzxuzhonghu

Thanks for your opinion, I read https://github.com/istio/istio/pull/14779 and got your point. I will take a deep look into it.

[2019-06-26 02:04] ckcd commented on #14443
@howardjohn

yes it's actually `PILOT_ENABLE_FALLTHROUGH_ROUTE`. But in my cluster I need it be ALLOW_ANY mode, so this "fix" may not work for me.

[2019-06-26 02:22] hzxuzhonghu commented on #9504
Are you familiar with pilot code, especially the k8s serviceregistry part? Basically, you can add some log on when pilot get informed of the occur of endpoints including the unready pod.

[2019-06-26 03:09] hzxuzhonghu commented on #15093
We could not assume every user can access the vendor pkgs very easily. Take me as an example, i can not access k8s.io, gcr.io, etc, directly.

[2019-06-26 03:10] hzxuzhonghu commented on #15093
#15056 added vendor check in ci

[2019-06-26 03:11] hzxuzhonghu commented on #15145
This is expected, as https is treated as raw tcp in envoy.

[2019-06-26 05:01] ramaraochavali commented on #15124
@duderino PR to fix this https://github.com/istio/istio/pull/15147

cc: @Stono

[2019-06-26 05:26] divya21raj commented on #15122
@pitlv2109 Upon following the ControlZ setup guide and going to localhost:9876, I see the following ->

`E0626 10:09:59.481308 13528 portforward.go:400] an error occurred forwarding 9876 -> 9876: error forwarding port 9876 to pod 9d70cc7f5d869da7bc15688c4af61aa7398ac3e8fc442bdf170067eb180f54ea, uid : exit status 1: 2019/06/26 04:39:59 socat[22681] E connect(5, AF=2 127.0.0.1:9876, 16): Connection

[2019-06-26 05:57] adenis-sv opened #15148 "HTTP01 challenge failed with global.mTLS enabled"
**Bug description**

Routing to http01 challenge in Cert-manager fails if global mTLS is enabled.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[X] Policies and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

[2019-06-26 06:45] iandyh commented on #14285
@howardjohn Hello. I would like to start working on this for configuring sampling rate. The requirement should be:

One service is able to control the trace sampling rate for one or several services.

Looking at the existing building blocks, `sidecar` resource may be the place to put the configurations. Based on my current understanding, The workflow will be:

1. Configure the `sidecar` with `labe

[2019-06-26 07:11] aliartiza75 commented on #14908
@howardjohn ack

[2019-06-26 07:40] vaizmanai commented on #14853
But it's breaking communication at all, how is not blocker?

[2019-06-26 08:01] mrnonz commented on #9783
I have same issue on a Kubernetes Cluster v1.14.3 with Istio v1.2.0.

[2019-06-26 08:37] divya21raj opened #15149 "ControlZ Not Working"
**Bug description**
I'm trying to access envoy logs, so I found [ControlZ](https://istio.io/docs/ops/controlz/) which is supposed to give me some logs. I followed the documentation and ran this -

` kubectl port-forward -n istio-system istio-ingressgateway-64b798d69d-vn7fk 9876:9876`

But upon hitting localhost:9876, I get this
[code]
What am I doing wrong?

**Affected product area (please put an

[2019-06-26 08:44] Jonathan34 commented on #13009
These are the types of error i get using 1.2.0:
[code]

and if I put my destination rule in the namespace i get this:
[code]

below are my definition (namespace for service entry do not seem to have any effect n the behavior):
[code]

[2019-06-26 08:48] #12056 closed

[2019-06-26 08:52] c0d1ngm0nk3y commented on #14687
@howardjohn Do you know who is the right person to address this to? We would like to add add this PR validation for the installer. The job is already running and it worked with the user account of a member, but our technical user is not allowed to update the status of the PR (e.g. `test pending`).

[2019-06-26 09:14] rookiefiend commented on #14658
@chenyb4 Thanks. when I restart istio-policy and istio-pilot, I try use memory quota success, but user redist qutoa still has that question. Is it possible redis problem?

[2019-06-26 09:48] #11939 closed

[2019-06-26 10:03] JoshKeegan commented on #8579
@hzxuzhonghu (Sorry if you're not the right person, just pinging a random member): can this issue be re-opened & marked as "help wanted"?

[2019-06-26 11:26] c0d1ngm0nk3y opened #15150 "No `master-latest-daily` release available"
On `gcr.io/istio-release`, there is no daily release of the master available.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[X] Developer Infrastructure

**Expected behaviour**

There should be s

[2019-06-26 11:34] c0d1ngm0nk3y commented on #15150
@utka I have tried (I am still trying) to get a local release to check if this is related to the whole `distroless` change. I have seen you have created a `local.sh` for purpose. Thanks. Until now, I am struggling with this script and maybe you are interested in issues:
* The directory `istio/output/local` did not exist the first time, so the `rm -rf` failed
* The script several times because I ha

[2019-06-26 12:11] #15017 closed

[2019-06-26 12:33] #12607 closed

[2019-06-26 12:52] sdake opened #15151 "The istio/operator repository README.md is uninviting and hard to understand"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

- Clean up the content of the README.md to ensure wide community participation.
- More clearly specify the initial objectives / MVP of the repository.

**Describe alternatives you've considered**

status quo.

**Affected product area (please put an

[2019-06-26 12:56] Timoses commented on #7239
Bumped into the same issue in my cluster running Istio 1.2.0 (installed via default Helm chart):

[code]

It tells me the same line (`line 3`) for other deployments as well.

[code]

Any idea what might be wrong?

[2019-06-26 13:01] nareshganesan commented on #8496
@mhotan Here is the [istio-jwt-authentication](https://istio.io/docs/tasks/security/authn-policy/#end-user-authentication)

[2019-06-26 13:06] c0d1ngm0nk3y commented on #15150
OK, I succeeded with a local release. Or better said, I failed with a distroless related error. So I am quite sure that the same occured in the release of `master-daily`. I will have a closer look.

[2019-06-26 13:25] Timoses opened #15152 "Sidecar injector admission webhook not working 2"
**Bug description**
Bumped into the same issue in my cluster running Istio 1.2.0 (installed via default Helm chart):

[code]

It tells me the same line (`line 3`) for other deployments as well.

[code]

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[

[2019-06-26 13:25] Timoses commented on #15152
Related: https://github.com/istio/istio/issues/7239

[2019-06-26 14:21] howardjohn commented on #14285
I think @douglas-reid had worked extensively on that exact feature - I am not sure what the outcome was, there were some debates on the API. I would suggest you sync up with him.

[2019-06-26 14:21] howardjohn commented on #14285
Or in the TOC meeting notes there may be some notes a week or 2 back

[2019-06-26 14:26] howardjohn commented on #14687
The list of admins is at https://github.com/istio/community/blob/master/ADMINS-FOR-ISTIO.md

@linsun is probably the admin that deals with installer stuff most

[2019-06-26 14:27] naphta opened #15155 "Add support for Envoy's `invert_match` on VirtualService match rules"
**Describe the feature request**
Add support for essentially doing an inverted match on any specified condition; for example don't match when a certain header is present.

**Describe alternatives you've considered**
I did look around to see if I could set default values on a header when doing a match but nothing seemed obvious. I did search through the Envoy source code and saw that this option is

[2019-06-26 14:35] c0d1ngm0nk3y commented on #14687
@linsun In order to do some basic PR validation (just using the installer to install `daily-master`), our technical user would need to set the status of the result. I think this was discussed with @holgero and @costinm .

[2019-06-26 14:43] sdake opened #15156 "Move operator infrastructure from circleci to prow"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We are moving entirely to prow for all CI.

**Describe alternatives you've considered**
TOC has made a determination that going forward, all repos should use prow and only one CI system should be voting (that being prow rather than circleci).

**Aff

[2019-06-26 14:59] howardjohn commented on #15152
Can you attach the output of `kubectl get cm -n istio-system istio-sidecar-injector`?

[2019-06-26 15:03] howardjohn commented on #15149
controlz only runs on the control plane (Pilot, mixer, galley, etc) not in the ingressgateway. If you want to see the logs you can do `kubectl logs PODNAME`. The same goes for the control plane as well, controlz is mostly for changing the logging level on the fly and some other debug info, I don't think it shows the actual logs as well

[2019-06-26 15:14] ramaraochavali opened #15717 "cherry pick specific commit of Envoy to 1.2 release"
We would like to see the possibility of having this PR (envoyproxy/envoy#7019)  available in 1.2 Proxy. Are proxy changes to 1.2 release acceptable? If yes, what is the way we can cherry pick that PR ?

[2019-06-26 15:15] frankbu commented on #13009
@kbruner The TLS conflict seems to imply that your DestinationRule isn't being found. Note that the scope of visibility has been tightened up recently. It won't be found in just any namespace. The search path is: 1. client namespace, 2. service namespace, 3. istio-system. If it's in any other namespace it won't be used.

[2019-06-26 15:21] abonas opened #15157 "VirtualService HTTPDestination weight = 0 value overriden in code to 100"
**Bug description**
The case where there is a single route with weight = 0, there might be need  to add some validations and logic fixes.

Per the docs
https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRouteDestination
"If there is only one destination in a rule, the weight value is assumed to be 100."
In case that the user has added a yaml with weight = 0, it seems t

[2019-06-26 15:21] abonas commented on #15157
@xeviknal fyi

[2019-06-26 15:37] sdake commented on #15156
circleci lint -> prow - operator repo: https://github.com/istio/operator/pull/50

[2019-06-26 15:37] hanzhc commented on #8182
I had the same problem as yours.No pods.it was really weird.Can you tell me more setting details about how to solve it? Appreciate ~

[2019-06-26 15:38] sdake commented on #15156
circleci lint -> prow - test-infra repo: https://github.com/istio/test-infra/pull/1380

[2019-06-26 16:07] #15150 closed

[2019-06-26 16:09] quanjielin commented on #14853
@vaizmanai the fix was merged to 1.2 branch (https://github.com/istio/istio/pull/14883)

[2019-06-26 16:10] quanjielin commented on #14853
this is done.

[2019-06-26 16:10] #14853 closed

[2019-06-26 16:14] sdake opened #15158 "Move installer infrastructure from circleci to prow"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Move all install infrastructure from circleci to prow.

**Describe alternatives you've considered**
The TOC has indicatd that all repos in the istio namespace should use 1 CI system, that 1 CI system is prow.  As a result, start the transitiion.

**

[2019-06-26 16:17] howardjohn opened #15159 "istio/installer cannot installer policy and telemetry in the same namespace"
Attempting to do this gives the (really not useful) error message:
[code]

This is because we try to create the same `attributemanifest` twice, which kustomize does not like.

[2019-06-26 16:21] sdake commented on #15158
first stab at a lint job for the helm charts: https://github.com/istio/installer/pull/258

[2019-06-26 16:29] sdake commented on #15158
infra for linting: https://github.com/sdake/test-infra/pull/new/issue/15158-1

[2019-06-26 16:32] nrjpoddar commented on #7669
I have thought about various ways to get around this problem of getting the DNS name as part of telemetry. Here are the options:

* Envoy intercepts DNS packets and keeps a mapping of resolved IPs to names. Pretty big change and has impact outside of this issue.
* Envoy mixer filter performs reverse DNS lookup and reports the name as part of telemetry. It's possible that the reverse DNS lookup giv

[2019-06-26 16:39] ozevren commented on #15149
We should clarify the documentation about Ctrlz being on the control plane.

[2019-06-26 16:49] rshriram commented on #15086
why paste the PEM into the config? why not refer to a k8s secret?

[2019-06-26 16:56] incfly commented on #15086
Re-assign to yangmin and quanjie who is more familiar with this area. My $0.02, just taking a quick look, this seems a legitimate feature request, allowing customizing the trusts.

Quick workaround (maybe a bit hacky), can you rebuild the docker image by

[code]

Will this work for you?

[2019-06-26 17:05] ozevren commented on #15088
Fixed is in for master.

[2019-06-26 17:08] pitlv2109 commented on #15122
Try running the command from the other post at port 15000, not 9876?

[code]

[2019-06-26 17:30] Stono commented on #15088
Nice one @ozevren - I'll test it out when it's in a patch release and let you know how I get on.

[2019-06-26 17:32] Stono commented on #7669
Yeah the lesser of all the evils there is likely the third bullet point.  But they're all a "gold standard" solution.

There is an interim I feel, where you simply track the ip, operators could quite easily correlate this to running applications on their cluster should they be investigating a problem.

[2019-06-26 17:32] douglas-reid commented on #7669
@nrjpoddar i'm hoping others chime in here, but I think just having _any_ information is an improvement. So while the TCP attribute set may be more limited, it at least gives us _some_ insight into behavior. Once that is in place, we can work to improve (most likely through the protocol sniffing, etc.).

[2019-06-26 17:38] nrjpoddar commented on #7669
Thanks @stono & @douglas-reid for your inputs. Yes we can start with just IP level information but I wanted to make sure everyone understood that as the current architecture stands it would be difficult to get the DNS name out. I will wait and see if anyone else has a better/low impact solution, if not we will start with just the Destination IP and other TCP level attributes.

[2019-06-26 17:43] forkjoseph commented on #9733
Following up @hzxuzhonghu, it looks like istio supports "filter" functionality of envoy (https://istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/).

While the example Lua filter works, other filters such as HTTP rate limit (https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/filter) seems not working even if pilot-agent is provisioned with filter configuration? I'm cur

[2019-06-26 17:45] yangminzhu commented on #15086
Thanks Jianfei, we need to think about where to add this configuration, I remember @costinm is strongly against adding anything new to `MeshConfig`, not sure if it applies here. The other options could be the helm or the authentication API, we need to evaluate these options.

[2019-06-26 17:50] douglas-reid commented on #7669
@nrjpoddar one additional thing we could do is to introduce an additional attribute that indicates "blackhole" or "passthru" cluster was hit. and use that to either define new metrics or augment the existing TCP metrics. that would enable easier alerting / monitoring of unexpected traffic.

[2019-06-26 17:52] incfly commented on #15086
add @therealmitchconnors who is working on config consolidation, who might be able provide some suggestions...

[2019-06-26 18:05] howardjohn opened #15162 "istio/installer demo has mismatched namespaces"
When generating the demo install, it will use multiple namespaces due to the ONE_NAMESPACE variable. But then the kustomization overrides the namespace to `istio-system`, and now everything is mismatched since they are in `istio-system` namespace but the values.yaml had different namespaces.

[2019-06-26 18:06] kyessenov commented on #7669
We could leave destination service un-assigned, which would imply a blackhole destination. We do need to set source namespace for the config to resolve properly.

[2019-06-26 18:10] douglas-reid commented on #7669
For TCP, we should have `source.namespace`. I'd lean towards adding an explicit value vs. relying on the absence of a value for indication.

[2019-06-26 18:44] nrjpoddar commented on #7669
Yes, source level information should be available.

I was thinking about adding BlackHole or Passthrough and I don't think overloading destination service is the correct thing to do here. We can add an extra label (i.e. attribute) which would indicate Envoy/Istio cluster name which can be same or different from the destination service name.

Open to suggestions on name of this new label and concer

[2019-06-26 18:46] jdfalk commented on #14951
We prefer helm install as we automate it via flux. Right now it's a bit of a mess, as your charts repo is for some reason `https://storage.googleapis.com/istio-release/releases/1.2.1/charts/` instead of `https://storage.googleapis.com/istio-release/releases/charts/` which should hold all of the releases  like other helm repos. Yes there is an index.yaml in `https://storage.googleapis.com/istio-rel

[2019-06-26 18:48] #12072 closed

[2019-06-26 19:14] Freyert commented on #13616
I was seeing very consistent `upstream connect error or disconnect/reset before headers. reset reason: connection termination` with the occasional functioning request until I added retries to my virtual service.

[code]

Using version 1.1.4. The errors continued long after rolling out upgrades.

[2019-06-26 19:52] douglas-reid commented on #14285
This is a duplicate of https://github.com/istio/istio/issues/12818. It has also been discussed in https://github.com/istio/istio/issues/11582 and https://github.com/istio/istio/issues/14433. There is even a proposal doc for the feature: https://tinyurl.com/y3lnlf7n. It has been discussed in an official Istio API review and at the TOC. More work in this direction will be coming shortly.

Closing th

[2019-06-26 19:52] #14285 closed

[2019-06-26 19:55] howardjohn opened #15164 "istio/installer demo missing deployments"
The current demo deployment installs almost everything: https://istio.io/docs/setup/kubernetes/additional-setup/config-profiles/

The demo in istio/install is missing, at very least, policy and tracing. I think kiali as well, maybe egress too.

[2019-06-26 19:57] howardjohn opened #15165 "istio/installer enableNamespacesByDefault=true requires an istio-env label"
From the readme

But the created webhook explicitly checks for an `istio-env` label.

Reported by @qfel

If this isn't reproducible its possible its related to the helm space issue ignoring flags

[2019-06-26 20:09] gargnupur commented on #14658
@rookiefiend : Couple of questions:
1) Can you enable debug logs for your deployment?
2) Can you share config dump of productpage? Command to do that would be something like this: kubectl  exec -i -t <your producptapepod> -c istio-proxy -- curl http://localhost:15000/config_dump > productpage.json

[2019-06-26 20:10] gargnupur commented on #14658
Also, which version of Istio are you using?

[2019-06-26 20:26] kbruner commented on #13009
@frankbu In my case, the ServiceEntry, DestinationRule and Deployment are all in the same namespace.

[2019-06-26 20:33] ShimiT commented on #14782
@howardjohn  - How we proceed with this issue?

[2019-06-26 20:40] costinm opened #15168 "Pilot agent to detect certificate provider and inform pilot."
**Describe the feature request**
Pilot-agent should detect:

- if the mounted SDS UDS path is present
- if secrets exist under /etc/certs

and communicating this information to Pilot.

A new values.yaml option will control the behavior if neither UDS path nor certs are present - if set to 'FAIL' it will immediately exit, so the error can be detected and the pod possibly re-scheduled, or 'PLAINTEXT

[2019-06-26 20:50] costinm commented on #15168
Also: the presence of the k8s token must be checked. Both UDS socket and k8s token are required to enable SDS.

[2019-06-26 20:53] fpesce commented on #15124
@duderino : message acknowledged. Indeed, it 1.2.1 was cut yesterday, but we identified 2 changes at least we should
I'm hoping to cut 1.2.2 today, and if the Continuous Integration pipeline is good, maybe can release by tonight.

[2019-06-26 21:11] gumdelli commented on #10210
We just published a blog post about it: https://www.paxos.com/istio-mesh-expansion-on-aws/

[2019-06-26 21:33] howardjohn opened #15170 "istio/installer demo gateways fail to get ready"
Logs spam `waiting for certificates` for 2 minutes then ` info    Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 0 successful, 0 rejected; lds updates: 0 successful, 0 rejected`. Finally gets ready after a long while.

[code]

[2019-06-26 21:36] howardjohn commented on #15170
Pilot gets stuck on
[code]

for a bit is why there is a delay.

Then we get some weird errors
[code]

Probably just from the tests I am running though

[2019-06-26 21:39] ericvn commented on #15093
PR #15166 uses an Istio-builder image which set GO1111MODULE=on as a test in the _prow-staging_ branch.

[2019-06-26 21:41] andrewjjenkins opened #15171 "Pods get Istio policy/features applied when talking to their own POD_IP"
## Describe the feature request
When a pod connects to its own POD_IP address, that traffic should be subject to Istio policy and features as if it was connecting to another pod in the mesh.

Istio traffic management today is handled by Envoy via logically two paths, an outbound path and an inbound path.  As the traffic is leaving a pod, it goes through the outbound listeners and filter chains.  I

[2019-06-26 22:13] howardjohn commented on #15170
I think its just slow to start up

[2019-06-26 22:13] #15170 closed

[2019-06-26 22:23] howardjohn commented on #15121
Fixed by https://github.com/istio/istio/pull/15120

[2019-06-26 22:23] #15121 closed

[2019-06-26 22:28] howardjohn commented on #15165
Just a readme bug

[2019-06-26 23:08] pramodrj07 opened #15173 "Not able to deploy my custom "Gateway" and "VirtualService" chart"
[code]
OUTPUT : error: error parsing STDIN: error converting YAML to JSON: yaml: line 12: mapping values are not allowed in this context

[2019-06-26 23:09] pramodrj07 commented on #15173
Please do let me know how to resolve this. I just followed a few of existing charts on bookinfo application to create my own chart.
Details:
1.  Service name = ubuntu-test
2. deployment name = ubuntu-test

[2019-06-26 23:25] howardjohn commented on #15173
[code]

[2019-06-27 00:48] #10041 closed

[2019-06-27 01:43] cscetbon commented on #15171
@andrewjjenkins I understand your approach. I would prefer a solution that would allow us to get telemetry and policy without having to encrypt/decrypt local calls, but I understand that it seems easier to do your approach. Do you still think it could be embedded in 1.2 GA ?

[2019-06-27 01:48] #11254 closed

[2019-06-27 02:37] kuaikuai opened #15178 "istio should support tcp liveness and readiness probes of applications"
the part of  the yaml file as following:
[code]
I enter into the  envoy pod,  and use an iptables rule to disable 8080 ports so that analog apps are not available.
`iptables -A INPUT -p tcp -d 127.0.0.1 --dport 8080 -j DROP`
k8s doesn't detect the app are no longer serviceable.

[2019-06-27 04:09] divya21raj commented on #15149
Ok, what I'm trying to do is check logs from envoy which are there in files like _jwt_authenticator.cc_
`ENVOY_LOG(debug, "fetch pubkey [uri = {}]: success", uri_);` <- things like this.

I was trying to follow [this](https://discuss.istio.io/t/grpc-jwt-authentication-silently-failing-in-istio/2829/2) conversation, but got stuck with the controlz thing. How can I achieve this? Thanks for the help!

[2019-06-27 04:27] howardjohn commented on #15149
kubectl exec $(kubectl get pods -l istio=ingressgateway -n istio-system -o
jsonpath='{.items[0].metadata.name}') -c istio-proxy -n istio-system --
curl -X POST "localhost:15000/logging?filter=debug" -s

should work

On Wed, Jun 26, 2019, 9:10 PM Divya Raj <notifications@github.com> wrote:

[2019-06-27 04:37] howardjohn commented on #15173
sorry had to run and didn't finish my message, but your syntax was a bit off and had some tabs and spaces mixed or something messing up the indentation. Should work if you use the above config

[2019-06-27 04:38] divya21raj commented on #15149
@howardjohn Say I want to do this for a different pod(sa-web-app-599cf47c7c-94jb4), how will this command change?

[2019-06-27 04:50] mnktsts2 commented on #13682
I have the same problem with istio 1.2.0.

I guess `common_lb_config` in each envoy config is overwritten by applyLoadBalancer() in cluster.go after executing applyOutlierDetection().
(`common_lb_config` has `healthy_panic_threshold`.)

* https://github.com/istio/istio/blob/a05f491d85fb657fd1133e5a055c58a10e4f8aca/pilot/pkg/networking/core/v1alpha3/cluster.go#L851
* https://github.com/istio/istio/

[2019-06-27 05:57] chenyb4 commented on #14658
In my test, I don't use redis quota

Nupur Garg <notifications@github.com> 于2019年6月27日周四 上午4:10写道：

[2019-06-27 06:06] divya21raj commented on #15149
Got it, thanks! The command will be
[code]
Just had to change the label parameter. Now upon doing `kubectl logs <pod> -c istio-proxy` I can see the required logs :)

[2019-06-27 06:06] #15149 closed

[2019-06-27 06:08] divya21raj commented on #15122
Solved, thanks! Upon running
[code]
(I changed the label, as I wanted logs for that serivce's pod), I can see more detailed logs from `kubectl logs`.

[2019-06-27 06:08] #15122 closed

[2019-06-27 06:18] divya21raj commented on #15084
Update, upon checking the envoy logs with this filter ->

`kubectl exec $(kubectl get pods -l app=sa-web-app -o jsonpath='{.items[0].metadata.name}') -c istio-proxy -- curl -X POST "localhost:15000/logging?filter=debug" -s`

I see this
[code]
A seg fault after line 82 in _jwt_authenticator.cc_ ?

[2019-06-27 07:07] hzxuzhonghu opened #15182 "Support hot reload sidecar inject configuration"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

Support reload sidecar inject configuration. Currently if we change the `istio-sidecar-injector` configmap, it will not take effect , this can be easily verified.

**Describe alternatives you've considered**

**Affected product area (please put an

[2019-06-27 07:25] ramaraochavali opened #15183 "Support "use_http_header" configuration for PassThroughClusters"
**Describe the feature request**

This feature request is to allow `PassThroughCluster` to be configured with [`use_http_header` ](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#cluster-originaldstlbconfig) when creating a destination rule. This allows us to route traffic to ip:port specified in the header [x-envoy-original-dst-host](https://www.envoyproxy.io/docs/envoy/latest

[2019-06-27 07:29] ramaraochavali commented on #15183
Couple of possible options
- Add a boolean flag [here](https://github.com/istio/api/blob/master/networking/v1alpha3/destination_rule.proto#L283).
- Add a feature flag to generate the config for default PassThroughCluster and we can use the wild card route?

@rshriram I know https://github.com/istio/api/pull/899 might possibly address this case - But thinking first class support for this may be goo

[2019-06-27 07:55] hzxuzhonghu commented on #15178
For tcp probe, kubelet will try to establish a connection with podip:port by default.

With sidecar injected, the kubelet can still establish a connection with envoy , so the probe still thinks it is healthy. Tcp connection  with app will be established until there is real data transport.

[2019-06-27 07:57] elevran commented on #14240
@kyessenov my understanding of Envoy's code, is that the [following](https://github.com/istio/proxy/blob/e035673263abd92efd1809ac61bb06aa2b94ca39/src/envoy/http/mixer/filter.cc#L131)

[code]
will first find the existing [header key](https://github.com/envoyproxy/envoy/blob/89eb31bcbe2308bf1e9073620e843bf472363495/source/common/http/header_map_impl.cc#L423) then add comma separated values using [ap

[2019-06-27 08:05] kuaikuai commented on #15178
@hzxuzhonghu,
I have two ideas：
1. change proxy_init, and a iptables rule, let kubelet connect the app directly.
or
2. change istioctl kube-inject & proxy_agent & pod spec, use proxy_agent detect the app.
    add annotations like: sidecar.istio.io/rewriteAppHTTPProbers: "true"

[2019-06-27 08:35] #11967 closed

[2019-06-27 08:55] bkrahmer opened #15185 "Zombie configuration from deleted objects"
**Bug description**
I was trying to configure istio to do a simple task yesterday, and together with my colleague, we were troubleshooting and were seeing strange things.  We started deleting pieces of the config (made up of a couple gateways, virtual services, destination rules, and a service entry), and even after all of the config was deleted, we were still seeing traffic being routed by istio.

[2019-06-27 09:06] hzxuzhonghu commented on #15183
Under what case, do you need to pass this in header?

If u really want to specify he host, why not try ServiceEntry or Headless service? Without thinking too much,  maybe both of these can satisfy you..

[2019-06-27 09:13] ramaraochavali commented on #15183
This is a use case of dynamic request routing where the ip:port is determined based on some logic. It is not known ahead - so we can not create service entry and wait for it to be pushed to all Envoys.

Sorry, I should have made this point clear.

[2019-06-27 09:19] hzxuzhonghu commented on #15178
I think 2 is feasible.
If you would openup a pr i would be glad to review, though personally i think k8s tcp probe does not make much sense.

[2019-06-27 09:46] hzxuzhonghu commented on #15183
It is really special, also a doubt now that you can already set the header according your logic, why can not access it directly?

[2019-06-27 09:49] ajitchahal commented on #11983
Does not work, still empty results:
`
istioctl version
client version: 1.2.1

echo $SLEEP_POD
nginx-5d78c7bb9b-9hxrc.argonauts

istioctl authn tls-check ${SLEEP_POD} nginx2.argonauts.svc.cluster.local
HOST:PORT     STATUS     SERVER     CLIENT     AUTHN POLICY     DESTINATION RULE
`

[2019-06-27 09:50] ramaraochavali commented on #15183
Because we want to take the benefit of mTLS from proxy instead of application taking care of SSL + cert rotations etc.

[2019-06-27 10:03] hzxuzhonghu commented on #15185
@bkrahmer  I doubt there is some thing wrong oabout the mcp connection between pilot and galley.

[2019-06-27 10:36] ahmed1smael commented on #6593
@Kampe I don't think listing IP address in hosts field is possible (istio version 1.1.8), how did you get around that. also do you have the case where you enable SSL on cloudSQL side? did you manage to get that done somehow?

[2019-06-27 11:36] dgn commented on #15086
I'd prefer that, but I don't know how that would work in non-Kubernetes environments?

[2019-06-27 12:03] hzxuzhonghu commented on #15152
It is mostly like you used a lower version istioctl and sidecar-injector when `rewriteAppHTTPProbe` has not been implemented.

[2019-06-27 12:15] krishnadurai commented on #14885
@yangminzhu could you please confirm if the 1.2 Istio release supports RBAC authorization on ingress requests from outside the Kubernetes cluster?
I've debugged this example and the filter appears to be right after debugging.

[2019-06-27 13:07] bradenwright opened #15186 "Internal Service to Service communication using weighted routing"
**Bug description**
I'm attempting to get internal services communicating via a virtual service / destination rules with weighted routing.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[X] Docs
[X] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Develo

[2019-06-27 13:18] bkrahmer commented on #15185
Yeah, I think that's fair.  I do believe there is something wrong with this openshift installation...

[2019-06-27 13:41] bkrahmer commented on #15185
I was reviewing the logs again, and realized you probably saw the dns errors from yesterday.  This happened because the galley service disappeared (that in itself is a mystery, but we recreated the service, and restarted the istio components after that.)  Since then, the istio components _seem_ to be healthy from my naive eyes, so I would appreciate it if you could check the logs again and see if

[2019-06-27 13:58] hanymahajna commented on #15085
@quanjielin sorry for the delay,
when i install 1.2 what i got a lot of grpc errors like:
```gRPC config stream closed: 14, no healthy upstream sidecar```
and then it prints that the sidecar does not ready
As i know the sds should be work since 1.1, so can you please tell me if there is any wrong with my configuration that i used there?

[2019-06-27 14:15] bweston92 commented on #12755
Just took the day to try upgrade from 1.0 to 1.2 and I have had nothing but 503s and connections refused. I deleted all Istio deployments etc with the `helm delete --purge istio` but I am struggling to get it working again.

Do I need to build a fresh cluster? (not ideal)

Where is there any state that would cause this to happen?

[2019-06-27 14:18] howardjohn commented on #15182
I think we have this feature. maybe it's not fast enough but there is code in the injector that claims to do this at least

[2019-06-27 14:20] howardjohn commented on #15183
seems like a perfect use case for EnvoyFilter

[2019-06-27 14:20] howardjohn commented on #15183
seems like a perfect use case for EnvoyFilter

[2019-06-27 14:20] howardjohn commented on #15183
I don't think destination rule will work since Passthrough Cluster is shared by everyone

[2019-06-27 14:25] ramaraochavali commented on #15183
Do you mean a Passthrough Cluster created by a destination rule is shared by every one? If that is the case, we can add this config as an optional/configurable thing for the default PassThroughCluster - that also should work for our use case

[2019-06-27 14:29] howardjohn commented on #15183
There is only one "PassthroughCluster", its always there whether or not you configure a destinationrule or not.

I guess you probably mean the `PASSTHROUGH` loadbalancer type though so that makes sense

[2019-06-27 14:33] esnible commented on #15182
Are you reporting that new pods created after _istio-sidecar-injector_ is modified do not include the modifications?

Or are you reporting that pods created before the injector is modified are not restarted with the new configuration?

[2019-06-27 14:35] esnible commented on #15173
I have found it useful to past failing YAML into http://www.yamllint.com which has better error messages than Istio and Kubernetes.

For your original YAML, http://www.yamllint.com reports "<unknown>): found a tab character that violate intendation while scanning a plain scalar at line 10 column 13".

[2019-06-27 14:42] esnible commented on #15168
What is the plan for reporting the error to the user?

In addition to crashing can we generate a K8s Event so that `kubectl describe` will show why the pod is being continuously rescheduled?

If Pilot generates config without certificates will communication work?  (I assume communication will all fail with 503s.)  How will users diagnose the difference between a 503 caused by Pilot skipping the ce

[2019-06-27 14:53] serefacet commented on #13705
I'm facing exactly the same situation. I would like to test Istio's Retry/Timeout features in our system however we are not able to apply retry & timeouts if we are exploiting Fault Injection.

Any help is appreciated.

[2019-06-27 14:56] esnible commented on #15157
@GregHanson I am not sure how to tag this.  Does it belong in the https://github.com/istio/api repo?

The documentation comes from https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto .  Because Istio internally represents configuration as an `int32` it is difficult to distinguish skipping the field and explicitly setting it to 0.

@abonas is your user setting the wei

[2019-06-27 15:02] esnible commented on #15152
I'd like to see if I can reproduce this using `istioctl kube-inject`.  Can you include the output of `kubectl -n istio-system get cm istio-sidecar-injector -o jsonpath="{.data.config}"` and `kubectl -n istio-system get cm istio-sidecar-injector -o jsonpath="{.data.values}"`?

[2019-06-27 15:09] #14977 closed

[2019-06-27 15:19] abonas commented on #15157
Not sure I understand this part - "explicitly setting it to 0"
The configuration arrived with weight = 0 , and then the code sets it to 100, that's a complete change of logic IMO.

I witnessed it on a knative environment where user is creating an entity of type Channel, and then (I'm guessing, not that familiar with Knative) it's converted to VS by Knative

[2019-06-27 15:25] #15165 closed

[2019-06-27 15:38] Timoses commented on #15152
https://gist.github.com/Timoses/eabeeba43071092e091536d898cb6555

[2019-06-27 15:47] nrjpoddar commented on #15171
@andraxylia I propose marking this as 1.3 milestone. What do you think? I'm not completely sure of the new process to get things into a Github milestone. Thanks!

[2019-06-27 16:01] josejulio opened #15188 "No telemetry reported for External ServiceEntry with Gateways"
**Bug description**

I was following [Perform TLS origination with an egress gateway](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway-tls-origination/#perform-tls-origination-with-an-egress-gateway) example and found out that Telemetry to the service entry is not being reported when doing the Step 5.

**Affected product area (please put an X in all that apply)**

[ ] Configura

[2019-06-27 16:01] esnible commented on #15157
@abonas `kubectl` converts your YAML into JSON, then Istio converts that YAML into a Protobuf-derived Go struct that represents weight as an `int32`.  Once the weight is an int32 we can't tell if was explicitly set to 0 or skipped in the YAML.  The code that looks for 0 and sets it to 100 is trying to implement the default of 100% of traffic if the weight is skipped.

[2019-06-27 16:04] howardjohn commented on #15152
How did you get `initContainers: []\n  {{ if ne (annotation .ObjectMeta `sidecar.istio.io/interceptionMode`
    .ProxyConfig.InterceptionMode) `NONE` }}` in your template?

If you look at the generated config you see:
[code]

So you are saying initContainer is `[]` and then go on to provide the initContainers list. It doesn't look like our templates have `initContainers: []` ever, did you modify t

[2019-06-27 16:12] scaratec opened #15189 "SDS not pushing certificates"
It might be a user mistake. Therefor please understand this is as a question:

I'm following [this](https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/#configure-a-tls-ingress-gateway-using-sds) example.

I can see the secrets in the `istio-system` namespace:

[code]
I have activated SDS:

[code]

The log of the sds container looks like this:
[code]

Also inside the gateway