[2020-11-09 19:19] sbueringer commented on #28710
There doesnt seem to be a portable solution for this. (See linked pr)

[2020-11-09 19:19] #28710 closed

[2020-11-09 19:32] stevenctl opened #28715 "ServiceEntry cannot select Pod in other clusters"
**Bug description**

Given two (primary) clusters, a Pod in each cluster labeled `app: helloworld`, and a ServiceEntry like this in each cluster:

[code]

A `sleep` pod in each cluster only has endpoints for the `helloworld` Pod in the local cluster. The same behavior can be expected in a primary-remote scenario.

We only setup the WorkloadHandler on the "primary" k8s registry:

https://github.com

[2020-11-09 19:33] nmittler opened #28716 "Add tests for web sockets"
We don't currently have tests that use websockets. We should add tests that verify web sockets work in a variety of configurations. Just adding it to the list of protocols tested for multicluster networking is probably sufficient.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[x] Test and Release
[ ] User Experience
[ ] Develope

[2020-11-09 19:33] stevenctl commented on #28715
Another issue this brings up:

Kubernetes `Service` in remote clusters will not be able to select `WorkloadEntry`. Is this actually problematic, since we usually expect similar Services to be created in each cluster? cc @howardjohn @nmittler

[2020-11-09 19:48] esnible opened #28719 "'istioctl analyze' does not validate v1beta1 CRs from file"
`istioctl analyze` does not validate v1beta1 networking CRs from file.  It skips them, reporting them valid.

To reproduce, I first created a .yaml file with two invalid DestinationRules, one alpha, one beta:

[code]

Next I ran `istioctl analyze /tmp/no-cert.yaml` and saw that only one was reported.

These can't be added to the mesh, the webhook rejects them, but if they were in the mesh both wil

[2020-11-09 19:49] ceastman-ibm commented on #28615
@richardwxn How do you "deleting the existing CRD and removing the control plane resources"?

[2020-11-09 20:05] esnible commented on #27938
@howardjohn Are networking.istio.io/v1alpha3 DestinationRules deprecated?  It does not say so in https://istio.io/latest/docs/reference/config/networking/destination-rule/

@Stono @jasonwzm I looked into how we might implement a warning for v1alpha3 DRs as in Stono's example.  What I discovered is that the validation framework is internally translating v1beta1 resources into v1alpha3 resources enc

[2020-11-09 20:08] nmittler commented on #28715
IIRC we handle k8s Service and Endpoints in all clusters, so it would seem to make sense that we would do the same for ServiceEntry and WorkloadEntry.

Can you expand on the issue here a bit? Why does `Service` need to select `WorkloadEntry`?

[2020-11-09 20:13] esnible opened #28721 "analyzer should detect deprecated annotations"
See https://github.com/istio/api/pull/1723#pullrequestreview-526211850

This means implementing the TODO in _galley/pkg/config/analysis/analyzers/annotations/annotations.go_ and adding tests.

cc @nmittler

[2020-11-09 20:14] ericvn commented on #26234
Let's mark stale proof

[2020-11-09 20:49] #27234 closed

[2020-11-09 21:29] totallyGreg commented on #28107
### TL;DR
The only way to have the correct name defined in the scaleTargetRef is to generate the manifest off a built in profile without specifying an istioOperator file with the -f flag.

### Generating a istioOperator with both a minimal.yml and a revision-patch.yml
The idea being to have a fixed minimal.yml definition and then apply environment specific patches on top of it.

[code]

This creat

[2020-11-09 21:49] cudneys commented on #23960
We're also seeing issues similar to what @alx13 is seeing with New Relic.  Given the time this has been open and the number of people asking for resolution, would it be possible to prioritize this issue?

[2020-11-09 21:52] stevenctl commented on #28715
Services need to be able to select WorkloadEntry so you can have hybrid VM/K8s services. We do this in our echo VMs. The issue is that the Service must be in the primary cluster to be able to select WorkloadEntry – Service `my-vm` only defined in `remote` selecting the WorkloadEntry, and only intend to call it from `remote`, we'd have to create the Service with the selector in `primary` to actuall

[2020-11-09 22:00] howardjohn commented on #28719
I will close my duplicate https://github.com/istio/istio/issues/28445 since this is more descriptive

[2020-11-09 22:00] howardjohn commented on #28445
https://github.com/istio/istio/issues/28719

[2020-11-09 22:00] #28445 closed

[2020-11-09 22:13] howardjohn opened #28723 "`adding listener '0.0.0.0:15006': filter chain match rules require TLS Inspector listener filter` when STRICT mode and no associated Service"
This should have no impact, as the injected inspector would match our own. However, it indicates a gap in test coverage and is a bug.

[2020-11-09 22:28] howardjohn opened #28724 "1.8 regression: dashboard has duplicate datasource"
![2020-09-11_14-28-16](https://user-images.githubusercontent.com/623453/98603996-d7bfa800-2297-11eb-996b-e16160b06277.png)

[2020-11-09 22:28] howardjohn commented on #28724
cc @carolynhu

[2020-11-09 22:55] nmittler commented on #28715
Does the control plane only read `Service` from its local API Server? I thought you had said a while back that istiod read `Service` from all clusters? Or is the problem that it doesn't merge duplicate service definitions that it finds in multiple cluster?

[2020-11-09 22:59] stevenctl commented on #28715
The reason is because of the way the registries share WorkloadInstance. We only wire up the first k8s registry to the serviceentry registry. The selection logic to generate IstioEndpoints occurs inside the registry.

[2020-11-09 23:19] munjalpatel opened #28727 "DestinationRule to Kubernetes API Service is not respected"
**Bug description**

I have a cluster where `mTLS` is turned on globally using the following `PeerAuthentication` rule.
[code]

When I deploy the `Prometheus` setup (detailed in _"Steps to reproduce the bug"_ below) along with the _**DISABLE**_ `DestinationRule` for `kubernetes.default.svc.cluster.local`, I keep getting the `connection refused` error when Prometheus tries to talk to the Kubernetes

[2020-11-09 23:43] phenixblue commented on #26679
We have a similar use case for this. Regardless of cluster size, the rate of change for resources seems to affect the Pilot discovery mechanism within istiod. With clusters that have a large number of batch jobs that run around the clock, istiod seems to max out CPU trying to keep up with XDS pushes to gateways/sidecars. This also means the gateways/sidecars start to fail readiness probes regularl

[2020-11-09 23:49] howardjohn opened #28730 "proposal: telemetry single stat panels should show current instead of average"
![2020-09-11_15-48-01](https://user-images.githubusercontent.com/623453/98609799-01ca9780-22a3-11eb-86ee-dc27ce99cef0.png)

To me, this is very confusing. My current QPS is actually like 25k, but because we show the average we end up with 12k.

cc @mandarjog @carolynhu  @douglas-reid for opinions

[2020-11-09 23:50] incfly commented on #27994
@yangminzhu the case 4) is not intention if I remembered correctly. We just lack the bandwidth to do that properly: if the port is not defined in the service, by API semantics, generating additional configuration would be more intended behavior.

[2020-11-09 23:53] drmaciej opened #28731 "[Istio 1.2] Setting global.proxy.accessLogFormat seems to disable access logs"
**Bug description**
I do realise I'm on a very old Istio version, and I am in the process of upgrading, but I can't just flick to latest right away. As a result, I'm hoping to get this to work on 1.2.5. It's entirely possible it's not a bug, but my misuse.

By default, I deploy my Istio with
[code]
in values.yaml.

To change the log format, I would do something like `helm template ./istio-1.2.5/in

[2020-11-09 23:55] carolynhu commented on #28730
@howardjohn I will take care of this issue, I'm currently working on those metrics refinement/redesign stuff.

[2020-11-10 00:22] douglas-reid commented on #28730
This is tricky. Do we want this view to be more stable or more reactive/sensitive?

You had no traffic for a large portion of the window shown. This should clear up over the period of ~5m or so (or whatever your grafana-defined time window was), right?

If we switched to `irate`, etc., we would still have a defined time window for calculation (typically, `1m`), but it is probably closer to what yo

[2020-11-10 00:26] howardjohn commented on #28730
I agree that both average and instant are useful.

Maybe we should consider not actually having the single stat and use full panels? These panels are really one of the most critical and they are hard to intepret. For example
![2020-09-11_16-25-29](https://user-images.githubusercontent.com/623453/98612078-39880e00-22a8-11eb-8af7-643697ee6340.png)

Did I just scale up from 100qps to 24k? Or 23k to 2

[2020-11-10 00:28] jasonwzm commented on #28541
Is this an upgrade? I could not reproduce this on GKE 1.17 with the mentioned gateway preinstalled.

[2020-11-10 01:21] howardjohn commented on #28731
I strongly suspect you are missing a newline at the end of the logs, causing envoy to buffer it all up into one massive line which may never actually get logged if nothing triggers a newline

Source: I made the same mistake 10 minutes ago :slightly_smiling_face:

[2020-11-10 01:24] maciejqantas commented on #28731
@howardjohn
you are very correct, I am missing it :)

I can't see it in the default config format under http://localhost:15000/config_dump though, which is why I never included it in my config.

https://discuss.istio.io/t/access-log-format/669/4 also points to a similar issue, which I found thanks to your input.

I'll give it a go and see what happens. Thanks heaps!

[2020-11-10 01:26] howardjohn commented on #28731
@istio/wg-policies-and-telemetry-maintainers can/should we validate this? or transparently add a newline? I cannot imagine anyone *not* wanting a newline

[2020-11-10 01:33] howardjohn commented on #28727
Do you see this continuously? I applied the config (thanks for the super easy reproducer!) and seem to get it only at immediate startup. This is looking, at least in my reproduction, like https://github.com/istio/istio/issues/11130

[2020-11-10 01:55] douglas-reid commented on #28730
I can't recall. Is there an option in those panels to show the max and min ?  That would make it more interpretable.

IIRC, the original idea was to provide a quick view snapshot of the state of the mesh. A full panel would be more accurate, but also might make it harder to read.

Maybe we should expand to include a more detailed view "below the fold" and have instantaneous data at the top ?  Does

[2020-11-10 01:57] douglas-reid commented on #28731
This feels like the kind of thing that we should validate (or auto-correct), as it leads to mysterious behavior. I feel like I saw an Envoy issue about this recently -- and I thought it was going to be handled better there. But now I can't find it .

[2020-11-10 02:14] infa-sanaik opened #28734 "Unable to delete spec.template.spec.volumes[name:ingressgateway-ca-certs].secret using profile"
**Bug description**
Unable to delete spec.template.spec.volumes[name:ingressgateway-ca-certs].secret using profile.
We are trying to set spec.template.spec.volumes[name:ingressgateway-ca-certs].emptyDir to {} since vault sidecar is going to inject the certs.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ]

[2020-11-10 02:53] yangminzhu commented on #27994
correct, it is actually NOT supported from the beginning but we didn't document this very clearly though.

[2020-11-10 03:27] morvencao commented on #28734
@infa-sanaik Please try with istio-1.7.x and above:
[code]

[2020-11-10 03:31] munjalpatel commented on #28727
Thanks for the quick reply @howardjohn. I get these log entries when the POD starts up as well.
However, I am not sure how to verify if its only a transient issue and gets resolved after a while.

[2020-11-10 05:00] #7679 closed

[2020-11-10 05:01] #21914 closed

[2020-11-10 05:03] #24539 closed

[2020-11-10 05:04] #25572 closed

[2020-11-10 05:04] #25889 closed

[2020-11-10 05:27] bianpengyuan commented on #28528
Yeah, this is the solution. Although for some cases where destination service cannot be determined, for example, client sends request to some unknown host, destination_service label won't be filled with the host head if `disable_host_header_fallback` is true. If that is not a concern, it makes sense to just disable host header fallback globally.

[2020-11-10 05:33] noah8713 commented on #24640
for istio 1.7.4 too watching limited namespace is broken as https://github.com/istio/istio/pull/23961 is reverted. As a result , using comma separated namespaces with ```-a="foo,bar,car"``` and ```
oneNamespace: false``` doesnt take any effect.

In addition, this causes noisy logs in istiod continuously as below as we don't want to watch on all ns(~10k ns) and all such ns are added to queue again

[2020-11-10 05:38] maciejqantas commented on #28731
@douglas-reid I've just seen this: https://github.com/envoyproxy/envoy/pull/5755

I was able to get it to work with manual updates of the ConfigMap, but that's obviously not ideal.

Because of https://github.com/helm/helm/issues/4030 I was not able to get this to work with `--set`, so I just used `helm template ./istio-1.2.5/install/kubernetes/helm/istio --namespace=istio-system -x templates/confi

[2020-11-10 05:41] polavishnu4444 commented on #10543
Hi,
We are awaiting for this feature as well.

[2020-11-10 06:01] LSChyi commented on #28613
Nice, but in my cluster, it never turns ok. I will retest it after the fix for this issue released.

[2020-11-10 06:02] Rayzhangtian opened #28738 "worker node shutdown will skip terminationDrainDuration before sidecar exit"
**Bug description**
When worker node graceful shutdown, the OS will send SIGTERM to all processes, so both pilot-agent and sidecar in the same istio-proxy will receive SIGTERM at the same time, so the terminationDrainDuration which is used to sleep in pilot-agent before envoyproxy exiting will be useless. So the application connection can not be shutdown gracefully.

"kubectl delete pod" case can

[2020-11-10 06:08] #22286 closed

[2020-11-10 06:36] tobiasgiese commented on #23232
closed this in #28648

[2020-11-10 06:36] #23232 closed

[2020-11-10 06:44] shamsher31 commented on #28430
Must be fixed by https://github.com/istio/istio/pull/28571

[code]

[2020-11-10 06:44] #28430 closed

[2020-11-10 07:22] djablonski-moia commented on #26413
@amoskyler We have the same problem with Kops 1.19.0-alpha.5, but your proposed change leads to master nodes not starting up anymore in our setting ☹️

[2020-11-10 07:31] hzxuzhonghu commented on #28623
@munjalpatel Can you show the access log and also xds config dump of the client sidecar?

[2020-11-10 07:37] rjudin commented on #25077
/reopen

[2020-11-10 08:13] hzxuzhonghu commented on #28659
We have mainly four cases below, it looks they are similar.

			// 1. virtualService hosts are 1.foo.com, 2.foo.com, 3.foo.com and server hosts are ns/*.foo.com
			// 2. virtualService hosts are *.foo.com, and server hosts are ns/1.foo.com, ns/2.foo.com, ns/3.foo.com
			// 3. virtualService hosts are 1.foo.com, 2.foo.com, 3.foo.com and server hosts are ns/1.foo.com, ns/2.foo.com, ns/3.foo.com
			/

[2020-11-10 09:20] ramaraochavali opened #28742 "add support for remote_jwks in Request Authentication"
Currently when https://github.com/istio/api/blob/master/security/v1beta1/jwt.proto#L93 is specified, Istio fetches the public key by it self. Would it be possible to support remote_jwks https://github.com/envoyproxy/envoy/blob/fe74d85d7d916eb975342e8298f2dc76279c1978/generated_api_shadow/envoy/extensions/filters/http/jwt_authn/v3/config.proto#L47 if the jwksUri is a mesh service by itself so that

[2020-11-10 09:21] ramaraochavali commented on #28742
@yangminzhu What do you think? Is there any other way to configure remote_jwks for now?

[2020-11-10 09:29] Siddharthk commented on #28528
I am just wondering if its me only or other people are also facing this issue since this setting is not there by default.

[2020-11-10 09:46] hzxuzhonghu opened #28743 "WorkloadEntry auto register race"
We register the workload entry when it first connects to istiod, however if the workloadentry is not propagated back to the serviceentry store, then we will get no serviceinstances for this proxy. Then istiod can not geneerate right xds configs for this proxy.

And the workloadentry handler mainly triggers eds push, which will not update proxy at all.

[2020-11-10 09:47] vjoke opened #28744 "how to enable access logging by service?"
**Describe the feature request**
Want to have the ability to enable access logging by service, instead of using meshConfig. accessLogFile

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-11-10 11:08] rytswd commented on #28282
Simple commit conflict, manually resolved

[2020-11-10 11:08] #28282 closed

[2020-11-10 11:27] shamsher31 commented on #24819
The error does look a little better with invalid revision.

[code]

[code]

I have a partial fix to handle invalid revision https://github.com/istio/istio/pull/28745, maybe a hack is required to translate a number into a string before unmarshalling into jsonpb [here](https://github.com/istio/istio/blob/c5ad10c525289c1ed89458ea04776ad87755f6ef/operator/pkg/validate/common.go#L288)?

[2020-11-10 11:56] #28696 closed

[2020-11-10 13:25] su225 commented on #24819
Or how about not parsing directly to `IstioOperator`? We could parse it to `Unstructured` or `map[string]interface{}`. Then with something like `tpath` we can pick the fields and validate. That way, we can give the user context and avoid printing huge YAML. As we have given the field name, we don't have to show that in YAML.

[2020-11-10 13:30] hairongGao opened #28746 "No Expected Outlier Actions"
**Bug description**

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
outliers ejected from pool
**Steps to reproduce the bug**

[code]
I have 6 pods in the same zone in recommendation svc and I manually turn one of them to retur

[2020-11-10 14:05] hzxuzhonghu commented on #28700
I am also confused at first. The validator looks redundant, not sure when the rules can be set wrong

[2020-11-10 14:09] esnible commented on #28541
I see problems even with a fresh install.  This is how I am reproducing:

[code]

[2020-11-10 14:09] rakesh-garimella commented on #21377
Hi @douglas-reid @mandarjog @howardjohn  just curious what if this is still a priority since this would be an issue for the use cases where people want to use it on production and over a period of time the prometheus scraping metrics from envoy pods wont scale anymore.

[2020-11-10 14:25] esnible commented on #24819
I agree with @su225 and my own comment https://github.com/istio/istio/issues/24819#issuecomment-676375377 .  I am willing to tackle this but I got frustrated that I couldn't get a review https://github.com/istio/istio/pull/26308 which I wanted to merge first.

@ostromart Can we put this on BOTH the Environments and UX roadmap for 1.9?  This is a P0 and deserves tracking.

[2020-11-10 15:11] esnible opened #28747 "[1.8 alpha 2] Envoy 'Unable to use runtime singleton' warnings"
After installing 1.8 alpha 2, I see

[code]

Users will not expect to see warnings in their Envoy logs.  Is there any way to not generate config that will trigger the warning?

[2020-11-10 15:27] pisto commented on #26471
Please just remove the `Namespace` resource from the chart. Creating a namespace with Helm is not supported (https://github.com/helm/helm/issues/3503).

[2020-11-10 15:33] sidprak opened #28748 "PDB maxUnavailable field cannot be set in Istio operator"
Currently, it looks like there is no way to set the maxUnavailable field in the PDB for istiod, ingress gateway or egress gateway. The Istio Operator spec allows this setting:
[code]

However, in practice, this results in an error:
[code]

There doesn't seem to be a way to unset minAvailable so that we can set maxUnavailable.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalabilit

[2020-11-10 15:37] esnible commented on #28536
@howardjohn Can you give more advice on how to reproduce this?
Using a fresh install of 1.8-alpha.2 it worked for me.  I could do both `istioctl verify-install` and

[code]

I am using Kubernetes 1.17.

[2020-11-10 15:39] carolynhu commented on #28748
@sidprak the error is clear:`minAvailable and maxUnavailable cannot be both set`, you need to unset minAvailable to get maxUnavailable work

[2020-11-10 15:40] esnible commented on #27135
`remove-from-mesh` is for making sure a deployment is not part of the mesh.
We have `istioctl x kube-uninject` which removes the injected stuff.  I never use it, so I can't tell how well it does its job.
Typically I keep the simple .yaml around, and `istioctl kube-inject` into a temporary file.  I don't modify my originals, because I want to be able to change Istio settings and regenerate.

[2020-11-10 15:41] howardjohn commented on #28315
Still very flaky: https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-116_istio_postsubmit/1326040789624557568
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1326040788819251200

@yangminzhu

[2020-11-10 15:41] sidprak commented on #28748
@carolynhu thanks for the quick reply. The problem is, I haven't set `minAvailable` in my configuration. The operator seems to default it to 1 and I don't know of a way to unset it.

[2020-11-10 15:41] sidprak commented on #28748
Thank you!

[2020-11-10 15:43] howardjohn opened #28749 "TestAuthorization_IngressGateway flaky"
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1326040788819251200
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-116_istio_postsubmit/1326040789624557568
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-118_istio_postsubmit/1326064171833364480

Seems very linked to https://github.com/istio/istio/issues/28315

cc @jtrbs @yangminzhu

[2020-11-10 15:43] howardjohn commented on #24220
Still flaky: https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/1326073046062075904

[2020-11-10 15:43] howardjohn commented on #24680
Still flaky: https://prow.istio.io/view/gs/istio-prow/logs/unit-tests_istio_postsubmit/1326073046062075904

[2020-11-10 15:52] andrewshaoyu commented on #28687
Any progress?

[2020-11-10 15:53] shamsher31 commented on #24819
We are already doing that.

I think we can try this but I'm more interested in doing something like the following before unmarshlling to `IstioOperator`.

https://github.com/istio/istio/blob/d5893dc37b2c1ab9d05d839173017b35990c8e92/operator/pkg/validate/validate.go#L33-L42

[2020-11-10 15:59] howardjohn commented on #28683
![2020-10-11_07-56-15](https://user-images.githubusercontent.com/623453/98697864-3b92b100-232a-11eb-873d-1e9b31364206.png)

Getting big spikes occasionally now.

One of them is correlated with `Incremental push, service svc00-0-8.service-graph00.svc.cluster.local has no endpoints` in pilot logs. I had turned this namespace down to 1 replica per pod and disable scaler, possibly got evicted?

Takeaw

[2020-11-10 16:10] howardjohn commented on #28727
you can try
https://discuss.istio.io/t/how-to-hold-a-application-until-proxy-starts/8346/4?u=howardjohn

But if its just at the startup I think its likely its resolved after the
initial start?

On Mon, Nov 9, 2020 at 7:31 PM Munjal A Patel <notifications@github.com>
wrote:

[2020-11-10 16:38] howardjohn commented on #28738
I cannot think of any ways to solve this without envoy supporting an option to block sigterm handler, which was shot down in https://github.com/envoyproxy/envoy/pull/4938

[2020-11-10 17:06] carolynhu commented on #28724
Current status:
- Mesh dashboard: datasource: default
- Sevice and Workload dashboard: datasource: prometheus and default
- Control plane dashboard: datasource: default

I'm going to remove the duplicated datasource, and use Prometheus as the source of truth

[2020-11-10 17:07] su225 commented on #24819
@shamsher31 - Yup. That was what I meant in my comment. Probably, bringing `tpath` was confusing. In simple words - walk the path in the given `map[string]interface{}` (is there a library for this already? This looks generic) and apply validation.

[2020-11-10 17:16] stevenctl commented on #23828
Not stale.

For the `fromRegistry` stuff – maybe the analyzer should check that the value there is either equal to the cluster name or is the name of one of the clusters specified in remote-secrets. A debug endpoint to list the clusters a given istiod is watching could be helpful here.

[2020-11-10 17:51] howardjohn commented on #28747
We are not generating invalid config, Envoy has a bug. see https://github.com/envoyproxy/envoy/issues/13504

[2020-11-10 17:55] #25659 closed

[2020-11-10 17:57] bnutt commented on #28310
@howardjohn Will https://github.com/istio/istio/pull/27924 be back-ported to 1.7? I am observing this issue on 1.7.3. Using custom gateways, each time the istio operator reconciles, it updates the nodePorts for the service, which triggers new target groups(NLB) to be created and causes downtime for services which ingress through the gateway in the cluster. This issue occurs even if the istio opera

[2020-11-10 18:49] jasonwzm commented on #28719
Possible fix https://github.com/istio/istio/pull/23104

[2020-11-10 19:10] incfly commented on #25652
Talked with @JimmyCYJ . It seems like @nrjpoddar would take over the remaining work, to resolve the API design issues.

/cc @JimmyCYJ

[2020-11-10 19:16] incfly commented on #27734
@shankgan would take a look and confirm what changes to be consolidated.

[2020-11-10 19:19] #28724 closed

[2020-11-10 19:20] istio-testing opened #28755 "[release-1.8] Fix dashboard duplicate datasource issue"
Manual cherrypick required.

#28751 failed to apply on top of branch "release-1.8":
[code]

[2020-11-10 19:20] howardjohn opened #28756 "kubejwt authenticator trust domain is not dynamically updated"
https://github.com/istio/istio/blob/e57a9b11e2ccf39a581421749f11006c0707dba6/security/pkg/server/ca/authenticate/kube_jwt.go#L62

This causes restart of istiod required here https://preliminary.istio.io/latest/docs/tasks/security/authorization/authz-td-migration/#migrate-trust-domain-without-trust-domain-aliases

[2020-11-10 19:26] carolynhu commented on #28748
hi @sidprak there is not way to unset value through overlay. For minAvaiiable, please don't install HPAs. Otherwise, if you installed HPA, the default value for minAvailable will always be 1 even if you do not set it.

[2020-11-10 19:43] kyessenov commented on #28424
@howardjohn The code is in pkg/bootstrap/config.go which appears to read pod labels from bootstrap node metadata, then generate envoy metadata with the right regexes.

For the original issue, the metric extra tag should be on the gateway deployment. If you can share the deployment manifest and the generated bootstrap, we can confirm this is a bug. The envoy bootstrap is the file `etc/istio/proxy/e

[2020-11-10 19:44] msonnleitner commented on #10543
This is certainly a must-have feature in many settings, if the response is exposed to API consumers. Please reopen.

[2020-11-10 19:47] munjalpatel commented on #28727
Thanks, @howardjohn I did verify. It does seem like a start-up issue. I'll close this issue for now.

[2020-11-10 19:47] #28727 closed

[2020-11-10 19:50] uablrek commented on #24099
This problem does not occur if Calico is used. Only IPv4 addresses are published, yes, but Calico uses the ipv4 addresses.

The problem when `Cilium` is used is that the PODs get's `podIP` set to an IPv6 address. Please see; https://github.com/kubernetes/kubernetes/issues/95251.

[2020-11-10 19:59] munjalpatel commented on #28623
@hzxuzhonghu how do I get these logs?

[2020-11-10 21:18] brian-avery commented on #25591
@xulingqing Can this be closed? Based on the last comment here, I believe yes. Thanks.

[2020-11-10 21:39] brian-avery commented on #22872
Can this be closed? We have it listed in the 1.8 release notes.

[2020-11-10 22:02] therealmitchconnors opened #28763 "K8s overlays implicitly change defaults"
**Bug description**
Using the components.IngressGateways.K8s section of the operator file causes the minReplicas to be implicitly set to 1.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
minReplicas stays at the default, 2.

*

[2020-11-10 22:04] stevenctl opened #28764 "allow configuring network in istioctl x workload command"
1. `istioctl x workload group create`:

    Add a `--network` flag that simply sets `network` in the `WorkloadEntry` template.

2. `istioctl x workload entry configure`:

    Set `ISTIO_META_NETWORK` in `cluster.env`:
    * Using the value of `network` in the `WorkloadEntry` template
    * Allow overriding with an additional `--network` flag.

[2020-11-10 22:06] howardjohn commented on #28763
probably fixed by https://github.com/istio/istio/pull/28490?

[2020-11-10 22:20] yangminzhu commented on #28315
It seems the recent change is https://github.com/istio/istio/pull/27896, assigning to @jtrbs to take a look

[2020-11-10 22:27] ostromart commented on #28763
The default minReplicas is 1 so this is expected: https://github.com/istio/istio/blob/5dd86d95cf7c9ddab44c6b4f08b09a1cf41cb2f1/manifests/profiles/default.yaml#L80
I also tried editing the demo profile to set this to 2 and istioctl manifest generate --set profile=demo did produce 2 in that case.

[2020-11-10 22:31] #28755 closed

[2020-11-10 23:43] jtrbs opened #28766 "Check why 503 is received in the security e2e multicluster tests when global-plaintext.yaml is deployed."
**Describe the feature request**

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2020-11-11 00:36] gargnupur opened #28769 "Fix ingress test when loadbalancer is supported for single cluster too"
**Bug description**
Fix ingress/status test when loadbalancer is supported for single cluster too. After enabling metallb for kind clusters in single cluster topology too in prow, ingress test failed:
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28577/integ-pilot-k8s-tests_istio/1326280081693216768

[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ]

[2020-11-11 01:25] lizan commented on #27847
If both are set, the auto_sni and auto_san_validation takes effect.

[2020-11-11 01:43] yangminzhu commented on #28315
the test failed because ingress gateway returned 503 (want 403), Neither requestAuthN nor AuthZ policy should cause the 503 errors in their test, and looking at the ingress gateway [log](https://storage.googleapis.com/istio-prow/logs/integ-k8s-115_istio_postsubmit/1326040788819251200/artifacts/security-6e5ddb99e4154ae2ad8038/TestAuthorization_IngressGateway/allow_www.company.com/_test_context/isti

[2020-11-11 01:47] istio-testing opened #28773 "[release-1.8] Make dashboard test multi-cluster"
Manual cherrypick required.

#28741 failed to apply on top of branch "release-1.8":
[code]

[2020-11-11 01:48] howardjohn commented on #28315
is this istio_mutual traffic?

[2020-11-11 01:52] yangminzhu commented on #28315
I think ingress gateway is talking to the test pod using mutual mtls, we probably didn't specify this explicitly but rather a result of the auto mTLS.

[2020-11-11 01:57] hzxuzhonghu commented on #28623
configdump: curl 127.0.0.1:15000/config_dump within the sidecar proxy.
accesslog: kubectl logs podName -c istio-proxy

[2020-11-11 02:28] hzxuzhonghu commented on #27847
So i suggest setting auto_sni and auto_san_validation only when it is not explicitly set

[2020-11-11 03:42] rajivml commented on #28614
Step 1) istio-gateway installed under istio-system namespace and this GW is common for the VS present in all the namespaces

[code]

Step 2)

VS config of the target namespace, as per the suggestion over this thread, I have added "mesh" to the list of gateways and since we can't use "*" with "mesh", I have changed
the hosts to point to my service short name i.e sl-a7862744-2cd5-4c33-a221-7d5014925

[2020-11-11 03:45] linsun opened #28775 "External istiod install generates an confusing warning"
**Bug description**

Following up [external istiod doc](https://preliminary.istio.io/latest/docs/setup/additional-setup/external-controlplane/):

[code]

or

[code]

The warning message here is super confusing and should not be necessary because external-istiod.yaml is installing istiod in a different ns from default istio-system so no conflicts.

[ ] Docs
[ x] Installation
[ ] Networking
[ ] Perf

[2020-11-11 04:02] #28769 closed

[2020-11-11 05:00] ganeshp79 opened #28777 "Not able to direct TCP traffic via an egress gateway"
**Bug description**

I have not been able to direct TCP traffic via an egress gateway. I need to access a sftp server via an egress gateway. I use the below configuration but I do not see the traffic reaching the egress gateway ( seen via egress logs ). I'm able to direct HTTP and HTTPS traffic successfully ( cnn example in ISTIO docs ).

[code]

[ ] Docs
[ ] Installation
[x] Networking
[ ] Perfor

[2020-11-11 05:00] #16282 closed

[2020-11-11 05:03] #24538 closed

[2020-11-11 05:17] saswata1989 commented on #28653
We are also facing the same issue with Node app v12 and istio version 1.5 with kubernetes version 1.15.6

[2020-11-11 05:43] shamsher31 commented on #26443
https://istio.io/latest/docs/setup/upgrade/#data-plane

I think this indicates what you are looking for, but I agree docs should provide more details and examples like you tried https://github.com/istio/istio/issues/26443#issuecomment-673612789

cc: @istio/wg-docs-maintainers

[2020-11-11 06:10] morvencao commented on #28763
If you dump the `default` profile, you'll see the default value for that field:
[code]

[2020-11-11 06:17] morvencao commented on #28748
@sidprak A possible solution would be using the advanced k8s overlay:
[code]

[2020-11-11 06:31] #25591 closed

[2020-11-11 07:01] Rayzhangtian commented on #28746
I think you shall execute your curl command in your client container instead of istio-proxy container.

[2020-11-11 07:11] hzxuzhonghu commented on #28614
I guess it is because of the host change, how do you access? The virtual host domain now is `sl-a7862744-2cd5-4c33-a221-7d5014925389-1`

[2020-11-11 07:23] hzxuzhonghu opened #28779 "Multicluster: namespace controller should be run only by leader istiod"
**Bug description**

Currently, for the primary cluster, namespace controller is only run by leader to maintain root-certificate. However, for multicluster scenario, it is run by all istiod instances, there maybe some conflicts.

[2020-11-11 08:06] papovyr opened #28782 "First class domain as a host in VS spec"
Hi,

I have application which one is making HTTP request but it has Host header hardcoded to influx (curl -H 'Host: influx' .....)

Im trying to create VirtualService which will have host set to influx.

However if i set hosts to influx it will not work as it will try to refer to influx.<namespace>.svc.cluster.local (see code bellow)

[code]
I also tried code bellow didn't work (DNS FQDN style)
[c

[2020-11-11 08:41] zhengqisong opened #28783 "use istioctl setup istio-gateway can not update pod securityContext"
**Bug description**
use istioctl upgrade istio-1.7.4, change istio-gateway can not update pods securityContext.

[ ] Installation
[ ] Upgrade
deployment set managedFields  can not update pod securityContext
first install IstioOperator
[code]
second upgrade IstioOperator
[code]

[ ] Multi Cluster
[ ] Multi Control Plane

[2020-11-11 08:58] hairongGao commented on #28746
Hi Ray, thanks for response. I've tried to curl from client container and no luck. Still the same result ,no errors and no records.
BTW, istioctl shows all the endpoints are health even though some of the pod return 503
(base) root@ubuntu:/home/outlier# istioctl pc ep $CLIENT_POD --cluster "outbound|8080|v2|recommendation.micro.svc.cluster.local"
ENDPOINT               STATUS      OUTLIER CHECK

[2020-11-11 09:12] niscoveanumircea commented on #28618
Hi everyone. Any thoughts on this issue ?  Have anyone faced this ?
Thank you in advance.

[2020-11-11 12:02] AEGQ commented on #28744
[code]

[code]

**OR**

[code]

@vjoke have a try ... :)

[2020-11-11 13:01] carryxyh commented on #28523
hi, I tried to start pilot-discovery locally, and it seems to be working properly. I can receive config changes from k8s.

But there is still a problem, I cannot link to the sidecar in the k8s cluster. This means that I cannot debug the actual push process. What do I need to do, can some one help?

By the way, I think there is currently a lack of documentation on debugging code line by line in our

[2020-11-11 13:43] aalmazanarbs commented on #28684
The problem was that our server was binding to POD IP and Istio was looking for the server in localhost.

[2020-11-11 13:43] #28684 closed

[2020-11-11 15:11] kody-abe commented on #28653
The applications we have noticed this behavior with are also Node.js - Not sure if a correlation or a coincidence. I am attempting to do some more testing to understand what the cause is, but I am going to need an Istio member to chime in here on what on the Istio side could be the culprit.

[2020-11-11 15:37] linsun commented on #26923
related PRs:  https://github.com/istio/istio/pull/27696
https://github.com/istio/api/pull/1670

[2020-11-11 15:37] ramaraochavali commented on #28659
@hzxuzhonghu Did not understand what you are proposing. Can you explain more?

[2020-11-11 15:41] howardjohn commented on #28315
Thanks @yangminzhu !

If you look at the config dump, you can see ROOTCA/default are stuck warming. However, at the start of the test, they are clearly pushed, and I suspect they are warmed. maybe after some period of time something triggers them to be dropped somehow and envoy doesn't re-request?

[2020-11-11 15:52] howardjohn commented on #28315
Ok figured it out. Basically, when the test is torn down, the gateway has no clusters or listeners. This means no SDS loaded. Then when we add them, somehow we do not push new certs.

I am fairly sure this is a regression over 1.7

[2020-11-11 15:52] howardjohn commented on #28315
Its also trivial to reproduce, just run the test 2x locally

[2020-11-11 16:18] linsun commented on #27840
@morvencao istioctl today warns user if user is installing an IOP yaml that has istiod, and istiod is already installed... and ask user if user wants to add --revision before proceed.

I'm leaning towards failing early approach with there is conflict with IOPs (with same revision).  No prob if it is different revision.

I also recommend us to check how helm3 handles revision for this case.

[2020-11-11 16:23] costinm opened #28791 "istio-agent non-daemon mode (generate only)"
We need to be able to run istio-agent - or a smaller standalone binary - to do the init and generate the
certificate files, but not start envoy or keep running.

This is needed for apps like Prometheus, which can use the mTLS certificate directly.

It is also needed for gRPC 'proxyless'. In this mode, we would also generate the bootstrap file for
gRPC which is similar but smaller than Envoy bootst

[2020-11-11 16:32] zufardhiyaulhaq commented on #27315
@andrascz can you just make the `Gateway` object like this one?
[code]

since I believe AWS LB is already using HTTP rather than HTTPS?

[2020-11-11 16:40] markdroth commented on #28791
As we discussed, for gRPC, I think we'll actually need daemon mode, because we'll need istio-agent to continue to update the cert files as the certs rotate.  So the main thing we need is for istio-agent to generate the gRPC bootstrap file, and it might make sense to split that into a separate issue.

In the future, we can collaborate on ways to eliminate the dependency on istio-agent.  This will p

[2020-11-11 17:16] zuehlke-dea commented on #19269
@howardjohn I would also be interested in that. We see the same error on our production cluster with istio certificates.
kubernetes version 1.16.7 and istio 1.3.1

[2020-11-11 17:20] andrascz commented on #27315
We *had* to make the gateway like that to be able to upgrade to 1.7.x. Although we are using a different port number, but the port number is indifferent from the functionality point of view. Putting something with protocol HTTP on the port 443 does not make a difference versus having it on port 80 or 8888 or whatever.
This meant we had to drop the `httpsRedirect: true` feature, which is why this i

[2020-11-11 17:26] stevenctl commented on #28743
Seems like this would affect more than just auto-registration. We don't really advise users to create a WorkloadEntry _before_ they connect their VM to pilot.

[2020-11-11 18:30] costinm opened #28795 "Helm3 improvements"
Follow up on EnvWG discussion:

1. Install docs should use a 'rev'.
2. (1)  will also enable upgrade from 1.7 installed with istioctl (and even earlier) to helm3 - we need to add upgrade test
and remove the 'upgrade not supported' from the doc.
3.  Remove 'canary' - the term is incorrectly used, canary means a small deployment running the new version before it is
fully rolled to prod. Instead docu

[2020-11-11 18:31] stevenctl opened #28796 "support proxy.istio.io/config in istioctl workload commands"
We have a ton of flags for setting pieces of proxy-config in the `istioctl workload entry configure` command. Instead, we should be able to set these at the input WorkloadGroup level.

That would be used as the base of proxy config, flags would only be used for overrides.

[2020-11-11 19:04] arturenault opened #28797 "istiod memory extremely high when status enabled"
**Bug description**
Istiod seems to use very high memory when status is enabled:

[code]

Here's the memory usage graph for a different instance of istiod:
![2020-11-11](https://user-images.githubusercontent.com/2919473/98856280-2d1fc480-2412-11eb-9a97-cd6ea218b93a.png) As you can see, the memory usage shoots up very quickl. At the same time there are tens of thousands of logs in that instance wit

[2020-11-11 19:16] arturenault commented on #28797
/cc JRBANCEL mitchconnors

[2020-11-11 19:17] arturenault commented on #28797
/cc @JRBANCEL @therealmitchconnors

[2020-11-11 19:25] stevenctl opened #28798 "Plaintext Endpoints via PeerAuthentication aren't filtered out in multi-network"
We filter out non-tls endpoints from cross-network LoadBalancing. Without TLS we don't have SNI, required to do routing at the gateway.

https://github.com/istio/istio/blob/86b87f2f923c62344a1887b47adbc69bd6c2ddaa/pilot/pkg/xds/ep_filters.go#L79-L82

As part of #28621 and #28720 we're seeing the test apply the following `PeerAuthentication`s, but the unreachable endpoints aren't being removed from

[2020-11-11 19:26] stevenctl commented on #28798
cc @jtrbs

[2020-11-11 19:28] myidpt commented on #26570
Jimmy, could you submit a PR to skip this test?

[2020-11-11 19:30] sidprak commented on #28748
Hi @morvencao, thanks so much for the suggestion! That worked for me! I just had to delete the existing PDB and allow the operator to re-create it.

[2020-11-11 19:30] #28748 closed

[2020-11-11 19:35] JRBANCEL commented on #28797
FYI, I don't have access to the linked picture. Please, include it directly inside the issue: see https://docs.github.com/en/free-pro-team@latest/github/managing-your-work-on-github/file-attachments-on-issues-and-pull-requests

[2020-11-11 19:40] stevenctl opened #28799 "Load/Scalability testing for Automated VM Registration"
As part of stabilizing [Automated VM Registration](https://docs.google.com/document/d/10TyPy-6bOs0_7JljGpc2RneDdsaR9GktjwwaaVbz6fs/edit), we need a process to test the load on Pilot and K8S API server under different scenarios:
- Large # of auto-register proxies connect
- Allow connected proxies to stay connected for longer than grace period
- Large # of auto-register proxies disconnect & reconnec

[2020-11-11 19:54] jtrbs commented on #28798
Related issue https://github.com/istio/istio/issues/28766

[2020-11-11 19:56] jtrbs commented on #28766
This issue has been consolidated into https://github.com/istio/istio/issues/28798. Thus closed it.

[2020-11-11 19:56] #28766 closed

[2020-11-11 20:09] saswata1989 commented on #28653
We have tried lot of avenues we reduced it a bit but its still there.

1. tweaked the below kernel param
- name: net.ipv4.tcp_keepalive_intvl
            value: "15"
          - name: net.ipv4.tcp_keepalive_probes
            value: "5"
          - name: net.ipv4.tcp_keepalive_time
            value: "300"
          - name: net.ipv4.ip_local_port_range
            value: "6144 65535"
          - n

[2020-11-11 20:25] yangminzhu commented on #28480
can you add the trace log, the VM envoy config dump and the authz policies to help debugging the issue? thanks.

[2020-11-11 21:40] arturenault commented on #28797
I eventually was able to repro this without mako.

1. Create a GKE cluster (3-node, 1.16.13-gke.401, e2-standard-4)
2. Install istio:
[code]
3. Install knative following the official instructions for Istio: https://knative.dev/docs/install/any-kubernetes-cluster/
4. Create a large amount of knative services. I created one every 15 seconds and let it run for a few hours: `watch -n 15 'kn service cr

[2020-11-11 22:18] howardjohn commented on #28791
Related: https://github.com/istio/istio/issues/28712

[2020-11-11 22:23] howardjohn commented on #28315
[code]

logs from a lock up

[2020-11-11 23:30] howardjohn commented on #28315
[log2.txt](https://github.com/istio/istio/files/5527354/log2.txt)

More logs

![2020-11-11_15-30-24](https://user-images.githubusercontent.com/623453/98876290-d676b280-2432-11eb-8348-d431540996e1.png)

[2020-11-12 00:23] akhilgoel09 opened #28805 "Install ALB instead of CLB when using istio ingress: istio version1.7.3"
Hi All,

I am using istio 1.7.3 version in my env and have installed ingress and egress using demo profile using below command:
istioctl install --set profile=demo

I have customized my ingress config to create CLB to attach to the aws cert once the ingress is created and that is working fine, please review the below config:

[code]

Now I want to create a ALB instead to CLB and create a access-lo

[2020-11-12 01:07] istio-testing opened #28806 "[release-1.8] Add an alias for istioctl install (apply)"
Manual cherrypick required.

#28753 failed to apply on top of branch "release-1.8":
[code]

[2020-11-12 01:58] howardjohn commented on #28315
another log, showing the port 80 cluster outbound|80||b.test-ns1.svc.cluster.local stuck. we get stuck at 01:51:10.708865Z
[log15.txt](https://github.com/istio/istio/files/5527782/log15.txt)

[2020-11-12 02:12] hzxuzhonghu commented on #5679
This is not addressed yet. #28457 is to resolve it.

[2020-11-12 02:49] zongke commented on #26367
this is istio-proxy log:
`
2020-11-12T02:24:07.959897Z	info	Received new config, creating new Envoy epoch 0
2020-11-12T02:24:07.959993Z	info	Epoch 0 starting
2020-11-12T02:24:07.984372Z	info	Envoy command: [-c etc/istio/proxy/envoy-rev0.json --restart-epoch 0 --drain-time-s 45 --parent-shutdown-time-s 60 --service-cluster pescov2-okdmanager-1-deploy.pescov2-dev --service-node sidecar~10.131.0.38~p

[2020-11-12 02:59] bianpengyuan commented on #28528
Most of the time, host header is bounded for in mesh requests, so that's why we enabled it by default.

Not sure why it uses random ports. It reads that from request host header, so totally depends on how app behaves.

[2020-11-12 03:06] hzxuzhonghu commented on #27945
This is a normal case for many connection server,  pure increase qps does not help much. Because we may reach the limit of k8s apiserver. Any server has the load upper limit.

Once i participated a IM system, which handles about 100 million of devices' connection.  We put lvs cluster in front as our proxy, but when lvs restarted/network broken, we found that it can never recover, because the concu

[2020-11-12 03:10] hzxuzhonghu commented on #28743
Correct, a legacy issue

[2020-11-12 03:13] hzxuzhonghu commented on #28659
I mean we we can specify the above matrix of hosts in gateway server and virtualservice.  The virtual host can be merged, just one concern, the statistic(related to virtualhost name) emitted may be influenced.

[2020-11-12 03:18] linsun commented on #28541
I also saw this in a user's cluster where he is testing upgrade from 1.7 to 1.8 alpha 2.  The error in the log is the same with same symptom that ingress gw can't reach running.

[code]

[2020-11-12 03:20] linsun commented on #28541
@howardjohn any idea?  Is this related to switch non-root to root gw stuff?

[2020-11-12 03:28] howardjohn commented on #28541
no it's a bug in alpha.2. It's already fixed

[2020-11-12 03:29] linsun commented on #28806
close as cherry pick is not necessary.

[2020-11-12 03:29] #28806 closed

[2020-11-12 03:53] stevenctl commented on #28779
For multi-primary, we could also do something where the remote-secret specifies whether the cluster being accessed is a remote or a primary. If it's a primary, we don't have to setup the namespace controller – that cluster should be running its own.

[2020-11-12 03:53] stevenctl commented on #28779
I'll try to tackle this in the PR you linked.

[2020-11-12 04:58] akhilgoel09 commented on #28668
Thanks @howardjohn  closing the case

[2020-11-12 04:58] #28668 closed

[2020-11-12 05:02] #22710 closed

[2020-11-12 05:02] #23426 closed

[2020-11-12 05:03] #24480 closed

[2020-11-12 05:03] #24544 closed

[2020-11-12 05:03] #24949 closed

[2020-11-12 05:04] #25072 closed

[2020-11-12 05:04] #25156 closed

[2020-11-12 05:04] #25160 closed

[2020-11-12 05:04] #25946 closed

[2020-11-12 05:49] morvencao commented on #28783
Did you do a in-place upgrade with updated IOP?

[2020-11-12 06:27] rajivml commented on #28614
we access the service externally via IP and port combo for example  13.22.192.152:31390 where 31390 is the istio gateway port and host field doesn't allow host:port syntax

[2020-11-12 06:52] hzxuzhonghu commented on #28614
Yeah, that's the problem. Now envoy requires the host name muste be `sl-a7862744-2cd5-4c33-a221-7d5014925389-1`

[2020-11-12 07:43] ysjjovo commented on #28424
Thanks for your reply!Here is gateway deployment details.
[code]
Here is generated bootstrap file
[code]

[2020-11-12 08:09] LSChyi opened #28811 "Ingress from Kubernetes not supporting IP as host value"
**Bug description**
When using Kubernetes ingress definitions, the TLS fails with using IP in the host value field.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Affected features (p

[2020-11-12 11:07] #28743 closed

[2020-11-12 12:28] PiotrSikora commented on #26009
Sorry, this part is wrong. Envoy uses a small built-in Session ID cache (20,480 entries).

In any case, if we want to share sessions across multiple instances, then we need to generate, distribute and rotate Session Ticket Keys via SDS.

[2020-11-12 12:31] ganeshp79 commented on #28777
Please ignore...
Got it working using Istio Operator to open the port on the egress gateway.

[2020-11-12 12:31] #28777 closed

[2020-11-12 12:43] istio-testing opened #28816 "[release-1.6] Workloadentry add should trigger push to the proxy"
Manual cherrypick required.

#28785 failed to apply on top of branch "release-1.6":
[code]

[2020-11-12 12:43] istio-testing opened #28817 "[release-1.7] Workloadentry add should trigger push to the proxy"
Manual cherrypick required.

#28785 failed to apply on top of branch "release-1.7":
[code]

[2020-11-12 12:43] istio-testing opened #28818 "[release-1.6] Workloadentry add should trigger push to the proxy"
Manual cherrypick required.

#28785 failed to apply on top of branch "release-1.6":
[code]

[2020-11-12 12:43] istio-testing opened #28819 "[release-1.7] Workloadentry add should trigger push to the proxy"
Manual cherrypick required.

#28785 failed to apply on top of branch "release-1.7":
[code]

[2020-11-12 14:40] APuertaSales opened #28820 "Istio-init initContainer adds its own Prometheus endpoint"
**Bug description**
When added a Proxy Envoy sidecar to a Deployment with Prometheus annotations, istio-init initContainer also receives a Prometheus endpoint in port 80.
Thanks in advance!

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected

[2020-11-12 14:42] gargnupur commented on #26485
This is fixed..

[2020-11-12 14:42] #26485 closed

[2020-11-12 16:16] howardjohn commented on #28541
#28421 is the fix

[2020-11-12 16:18] andrewisplinghoff commented on #25741
We've just encountered the same issue using a recent daily build of the 1.7 branch in a tightly locked down GKE cluster without internet access.

Are you maybe supposed to pass in the local path of the manifests folder using `--manifests` to the `istioctl upgrade` command to prevent having these downloaded again?

[2020-11-12 16:30] esnible commented on #26265
Closing because fixed by https://github.com/istio/istio/pull/28255

[2020-11-12 16:30] #26265 closed

[2020-11-12 16:57] linsun commented on #28541
Another one https://github.com/istio/istio/pull/28758

[2020-11-12 17:26] jgreens commented on #20952
@mandarjog  – just reaching out to get an update here. Is support for HTTP still on track to be in 1.8?

If not, I will use one of the suggested workarounds.

Thanks in advance.

[2020-11-12 17:31] mandarjog commented on #20952
@jgreens we do not have an Istio API for it (yet?), however we have tests and examples of how to do it.

@gargnupur can you point to the PRs that you have done to document how to do it?

[2020-11-12 17:48] GregHanson commented on #26692
resolved by https://github.com/istio/api/pull/1748

[2020-11-12 17:48] #26692 closed

[2020-11-12 17:56] jgreens commented on #20952
Thank you @mandarjog! I really appreciate it.

I'm guessing that the version I need to upgrade to will be apparent in the examples. I am on 1.6.4 now.

[2020-11-12 18:06] jlewis42lines opened #28823 "IstioOperator does not transition properly from 'default' to 'minimal' profile (istio-ingressgateway not removed)"
**Bug description**

Changing `spec.profile` in the `IstioOperator` resource from `default` to `minimal` does not result in the `istio-ingressgateway` deployment and pod being deleted.

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behav

[2020-11-12 18:12] #28817 closed

[2020-11-12 18:12] #28816 closed

[2020-11-12 18:18] howardjohn opened #28824 "Cannot get VM running in 1.8"
Following https://preliminary.istio.io/latest/docs/setup/install/virtual-machine/ or https://deploy-preview-8418--preliminary-istio.netlify.app/latest/docs/setup/install/virtual-machine/, I cannot get the VM running.

The problem is the XDS proxy is expecting certs in OUTPUT_CERTs. However, we do not write them there until envoy requests them (see https://github.com/istio/istio/issues/28099 and ht

[2020-11-12 18:19] howardjohn commented on #28683
I think this is no longer a regression after adjusting the ttl settings

[2020-11-12 18:19] #28683 closed

[2020-11-12 18:25] bianpengyuan commented on #28824
Marked this as release blocker.

[2020-11-12 18:27] djannot commented on #28480
@yangminzhu here is the config_dump:
https://drive.google.com/file/d/1dLxLU_yjx0Tn4v0ovJSsPcdd0FD2yaBn/view?usp=sharing

As you can see there's no rules.

Here is the Authorization Policy:

[code]

And here is the trace:

[code]

[2020-11-12 18:56] akhilgoel09 commented on #28805
I also made changes to the above config:

[code]

[code]

Still it is not creating alb in aws any idea

[2020-11-12 19:03] clsacramento opened #28825 "istioctl proxy-config diff"
**Describe the feature request**
In order to understand, how changes in Istio objects translate to Envoy config, it would be great to have a istioctl command that assists in doing that. For example running something like this:

`istioctl proxy-config diff pod.namespace --compare-config-file /tmp/previous_config`

And the command could output what is different between the current config from the pr

[2020-11-12 19:52] stevenctl commented on #28824
<code>
ISTIO_SERVICE_CIDR=*
ISTIO_INBOUND_PORTS=*
*PROV_CERT=*
ISTIO_LOCAL_EXCLUDE_PORTS=15090,15021,15020
PROXY_XDS_VIA_AGENT=true
ISTIO_META_DNS_CAPTURE=true
ISTIO_PILOT_PORT=15012
ISTIO_NAMESPACE=vm-ns
</code>

Seems to do the trick for me:

[code]

[2020-11-12 19:54] kyessenov commented on #28424
I tested this on 1.8-alpha2.
Sidecars respond to the annotation:
[code]

Ingress does not:
[code]

So this is a bug that does not allow customizing the ingress metrics, which we should added in 1.8.

[2020-11-12 19:58] stevenctl commented on #28824
Retesting the `istioctl x workload` based doc.. seems like that generates everything in a way that would work and I've been repeatedly testing it over the past couple weeks. In that flow, we don't set `PROV_CERTS` or `OUTPUT_CERTS`.

[2020-11-12 20:13] akhilgoel09 opened #28826 "ALB is not getting created when using istio 1.7.3 version"
Hi All,

I am using istio 1.7.3 version in my env and have installed ingress and egress using demo profile using below command:
istioctl install --set profile=demo

I have a below config that I am expecting to create a ALB after the ingress controller is created, but it does not create ALB, can you please check what I am missing or needs to be done in my istio settings/config below:

[code]

P.S.

[2020-11-12 20:16] stevenctl commented on #28824
Seems like explicitly adding `PROV_CERT=` to cluster.env is required, omitting it doesn't work.

[2020-11-12 20:21] kyessenov commented on #28424
As a workaround, please use podAnnotations on ingress deployment during installation https://istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#KubernetesResourcesSpec.

The issue is that it that the annotation needs to be copied into ISTIO_METAJSON_ANNOTATIONS environment variable. This is done automatically by injector for sidecars but not for gateways.

[2020-11-12 20:22] yangminzhu commented on #28480
In the config dump:
[code]

It seems the vm namespace is configured to "default" (also see [doc](https://preliminary.istio.io/latest/docs/ops/diagnostic-tools/proxy-cmd/#inspecting-bootstrap-configuration) here)? Could you run `kubectl get authorizationpolicy --all-namespaces` to quick check if there are any other authz policies, I wonder if it's actually using a different policy.

I think the ist

[2020-11-12 20:40] djannot commented on #28480
@yangminzhu I've tried that before and it was just confirming that there was no rule computed for the VM:

[code]

The other authorization policies are in other namespaces than the `virtualmachines` namespace:

[code]

Should I do something special to set a different namespace ?

[2020-11-12 20:46] craigbox commented on #25333
Release note says "For more details, please refer the docs on istio.io." but I can't find such docs on prelim.

[2020-11-12 20:48] djannot commented on #28480
@yangminzhu I've added the `ISTIO_NAMESPACE` in the `sidecar.env` file and restarted the agent.

Now, I see the right namespace in the config dump, but still not rules.

[2020-11-12 20:59] douglas-reid commented on #25333
@craigbox Perhaps this is the doc you are looking for: https://github.com/istio/istio/wiki/Enabling-Envoy-Authorization-Service-and-gRPC-Access-Log-Service-With-Mixer

[2020-11-12 21:06] djannot commented on #28480
@yangminzhu now that the domain is good, perhaps the issue is that the labels aren't set correctly. How could I set them ?

[2020-11-12 21:11] djannot commented on #28480
@yangminzhu in fact, if I remove the label selector from the authorization policy, it works.
I already tried that before and it wasn't working.
So, it confirms that there were 2 issues: the wrong namespace and the missing labels.
I fixed the first issue, but I don't know how to se the labels.

[2020-11-12 21:14] ldemailly commented on #27205
I also see ~50% 404 failure with

[code]

[code]

ingress logs:
[code]

[2020-11-12 21:25] djannot commented on #28480
@yangminzhu It looks like I can have it working by setting the labels in a ServiceEntry (even if the config dump doesn't show them)

[2020-11-12 21:36] incfly commented on #28756
I see. So we basically need to replace the field value with something like a callback, which provides the hook to access dynamically updated mesh config, when the mounted file for MeshConfig has been updated. Right?

I think if we replace that with something like `MeshHolder` as we did in https://github.com/istio/istio/pull/26185/files#diff-4ab8bb2188afa1dc914f11b5eaab7e1a544454457d25ef3841fdb6f2c

[2020-11-12 21:43] chethan-89 commented on #28756
@incfly Thanks for your analysis. I will work on this issue.

[2020-11-12 21:58] #28091 closed

[2020-11-12 22:19] howardjohn commented on #28826
Can you file this in https://github.com/kubernetes-sigs/aws-load-balancer-controller or similar? This is not an Istio bug, we do not control the ALB. Thanks!

[2020-11-12 22:19] #28826 closed

[2020-11-12 22:23] akhilgoel09 commented on #28826
@howardjohn roger that. closing it

[2020-11-12 22:40] stevenctl commented on #28799
Will likely roll something with https://github.com/howardjohn/pilot-load

[2020-11-12 22:52] gargnupur opened #28833 "Add source and destination cluster tags in tracing"
**Bug description**
Currently when request goes from one cluster to another, there is no easy way to distinguish the source and destination cluster in traces.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

**Steps to reprodu

[2020-11-12 22:53] gargnupur commented on #28833
/cc @douglas-reid added issue, so we can track it...

[2020-11-12 22:57] stevenctl opened #28834 "multicluster pilot test flakes"
* Traffic Shifting: Sometimes 1 cluster is not included in LB of 100 callls + a traffic shifting rule
  * https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot-multicluster-tests_istio_postsubmit/1326591759664287744
* instanceip expects 503 but gets 200 (may just need a longer timeout)
  * https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28830/integ-pilot-multicluster-tests_is

[2020-11-12 22:57] stevenctl commented on #28834
#24581

[2020-11-12 23:34] stevenctl commented on #28824
John pointed out that this will just make us use JWT forever – and it will eventually expire. We likely need a code fix to either use JWT for the first request/until the certs in the specified "PROV_CERTS" dir are ready.

https://github.com/istio/istio/blob/6f04042f382168fced34b519600ebce9ee974792/pkg/istio-agent/xds_proxy.go#L449-L451

[2020-11-13 00:07] nrjpoddar commented on #26611
@howardjohn based on our testing after this PR https://github.com/istio/istio/pull/25750/files was merged CNI was honoring `podRedirectAnnot`. Appears to me that your PR https://github.com/istio/istio/pull/26596 might have removed that logic.

Is that correct? @Kmoneal from our team has been testing CNI with pod annotations overrides after PR 25750 went in and we don't want to break that functiona

[2020-11-13 00:10] howardjohn commented on #26611
https://github.com/istio/istio/pull/25750/ was never merged as far as I can tell? I don't think it ever worked. I believe prior to #26596  it worked in `istioctl kube-inject` but not the webhook, which is essentially the same as "it never worked"; #26596 made kube-inject behave the same as the webhook

[2020-11-13 00:12] nrjpoddar commented on #26611
I see, we should fix it the correct way. Any objections to resurrecting and merging https://github.com/istio/istio/pull/25750/files ?

[2020-11-13 00:23] douglas-reid commented on #28833
Can we flesh out the desired impact a bit?  For starters, we could add a new tag `istio.kubernetes_cluster` or something. Then, we could track multi-cluster hops by span in each full trace.  (so you could look at parent/child span pairs to validate cluster boundaries). Would that be "enough" to meet the requirement?

[2020-11-13 00:47] jsabalos commented on #24387
I'm having this 1hr timeout issue also with Postgres client. Using istio1.6.7

[2020-11-13 01:22] vjoke commented on #28744
Thank you for your reply @AEGQ

[2020-11-13 01:41] AEGQ commented on #28744
can you paste your EnvoyFilter here？
with workloadSelector,only one service will be selected i think .@vjoke

[2020-11-13 02:14] hchiangca opened #28844 "Istio 1.5.6 - Prometheus memory creeping"
Using Istio 1.5.6, and the Prometheus POD (3 of them) seems to be using the similar of memory (at 13G now) which has a good correlation to the number of PODS that has istio-proxy.  Had set this for prometheus:  --storage.tsdb.retention=2h, so the data only get a retention of 2 hours, but the memory usage is still high.

Any pointers on how to reduce the memory footprint, or can a scaling strategy

[2020-11-13 03:10] guiguan commented on #7607
I can confirm that `externalTrafficPolicy: Local` works in Istio 1.7:

[code]

But after making the change, you need to manually restart the ingress gateway for it to take effect

[2020-11-13 05:02] #23031 closed

[2020-11-13 05:04] #25969 closed

[2020-11-13 05:04] #25993 closed

[2020-11-13 05:31] shortwavedave commented on #22025
Hello @rlenglet , I think I am hitting this issue with istio - is there any workaround in the shortterm?

[code]

[2020-11-13 09:10] APuertaSales commented on #28820
I have checked that other initContainers apart from those used in Istio are included in the scrapping.
Not an Istio issue then.
Thanks!

[2020-11-13 09:10] #28820 closed

[2020-11-13 09:18] vjoke commented on #28744
Thank you for your suggestion.

[2020-11-13 10:11] connatix-cradulescu commented on #28398
The issue is what I have suspected in the first place. The Istio ingress is buffering the client's body size after a certain size ( I don't know the default value). I did solve the problem by applying:
[code]

[2020-11-13 10:18] connatix-cradulescu commented on #28428
I have been doing some more deep tests and if I am applying TCP traffic policy the number of sockets is going down to the number I am providing by maxConnections: 100.

This tells me that the istio-proxy does not reuse sockets and open sockets for each connection.  Another aspect of the traffic from istio-proxy to the app is seen as TCP and not HTTP. No HTTP rules have an effect when I am applying

[2020-11-13 10:32] stamak commented on #27205
Have the similar issue after upgrade form *1.6.11* to *1.7.4*
Requests to some services returns 404
We also have 2 ingress gateways - public and internal
We do not have jaeger deployed 😞

[2020-11-13 10:41] guyromb commented on #27205
@stamak @ldemailly this is the solution - https://github.com/istio/istio/pull/27326
Unfortunately, it is not merged yet by Istio team @howardjohn .

[2020-11-13 13:35] stamak commented on #27205
@guyromb  thx
Seems I found root cause of 404, btw we do not use k8s ingress
Public ingress-gateway access logs show that traffic is sent to other service instead!

1.7.4 Public ingress-gateway access logs
[code]

After downgrading back to 1.6.11 everything is working
Public ingress-gateway access logs
[code]

[2020-11-13 14:19] rvennam opened #28849 "Unable to upgrade custom gateways that have a revision and tag set"
Recreation script:
[code]

This results in:
[code]

The pods in istio-system upgraded to 1.8 as expected, but the custom gateway in custom-gateways is also trying to update, but the new replicaset is failing to start.

1. I do not expect the custom gateway deployment to get updated because I had the tag set to 1.7.4
2. The new pod that is coming up is failing because it's looking for `istiod-custo

[2020-11-13 14:22] sdake commented on #28849
I expect this would happen in any environment, and many many customers are using IOP to create custom gateways. Problem #2 seems easy to fix and is very serious. @howardjohn can you please take a look?

This looks to me as a ship stopping bug/regression...

[2020-11-13 14:24] sdake commented on #28849
cc @ostromart @istio/technical-oversight-committee

[2020-11-13 14:25] vaibhavjain882 commented on #20890
Hey @wadkar Can you please tell where did you update this "hostNetwork: true" I am using calico with gke and end up having the same issue.

[2020-11-13 14:28] lucasponce opened #28850 "Addons don't install sidecars by default"
If a user wants to expose addons using Gateways as described in

https://istio.io/latest/docs/tasks/observability/gateways/

They will realize that it doesn't work because addons don't inject sidecars.

https://istio.io/latest/docs/setup/install/istioctl/#customizing-the-configuration

Workaround is simply to re-install addons using a manual istioctl kube-inject command:

[code]

But this needs to

[2020-11-13 14:31] linsun commented on #28849
For 2, it should be fixed if you remove the revision line, e.g. `  revision: custom-ingressgateway # NOTE!!!!!!!!!!`

been chatting with @ostromart on this.   basically the **semantics change** of revision changed. if a user uses revision in 1.7 for gws., i 1.8, user would need to point to the revision of istiod, which is no revision in this case (after an in place upgrade from 1.7 to 1.8 with def

[2020-11-13 14:44] sdake commented on #27137
@linsun or @ostromart do you have the permissions to move this issue to the enhancements repository? I would strongly prefer this located there...

[2020-11-13 14:45] sdake commented on #27137
sorry not @ostromart - I meant @howardjohn , you are listed as the king of github in the governance repo 💯

[2020-11-13 14:57] rvennam commented on #28849
@linsun , removing that revision addresses both issues. It terminates the new failing pod and leaves the existing 1.7.4 one running.

[2020-11-13 15:06] linsun commented on #28849
Thank you @rvennam!  Let's make sure we have this properly communicated in release upgrade notes.

cc @GregHanson

[2020-11-13 15:35] howardjohn commented on #28428
See
https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/
for selecting protocol, the `protocol` field is not the right setting.

On Fri, Nov 13, 2020 at 2:19 AM connatix-cradulescu <
notifications@github.com> wrote:

[2020-11-13 15:38] #28775 closed

[2020-11-13 15:49] stamak opened #28854 "1.7.x in-place upgrade does not clean up EnvoyFilter resources"
**Bug description**

1.7.x in-place upgrade does not clean up EnvoyFilter

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[x] Upgrade

**Expected behavior**

Do not have EnvoyFilter resources from previous releases
[code]

**Steps to reproduce the bug**

[code]

[2020-11-13 15:56] rajivml commented on #28614
@hzxuzhonghu sorry , I didn't get it, I already tried setting host name as sl-a7862744-2cd5-4c33-a221-7d5014925389-1 in the VS, it didn't worked and client can't call with this name sl-a7862744-2cd5-4c33-a221-7d5014925389-1 because it's an internal name...

[2020-11-13 15:57] Kyslik opened #28856 "Underlying NLB of istio-ingressgateway fails its healthchecks after istioctl upgrade"
**Bug description**

`istioctl upgrade` _bricks_ NLB. After we install Istio using `istioctl` everything works fine - as expected; once we use the same config and issue `istioctl upgrade -f config.yaml`, service manifest `istio-ingressgateway` changes (`nodePorts` are _different_), service-controller issues update but it fails:

[code]

Target groups start to fail their healthchecks and ingress st

[2020-11-13 16:04] fraserdarwent opened #28858 "Egress Gateway mTLS Origination Error"
**Bug description**
When attempting to upgrade an outbound connection to mTLS I receive an error. This only happens if the client certificate is valid.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[x] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
Receive response from serve

[2020-11-13 16:19] rvennam commented on #28849
We asked users to set the revision field because the IOP's were trampling on another. Hoping this isn't a problem in 1.8

[2020-11-13 16:23] stamak opened #28860 "[1.7.4] Upgrade, wrong route for VirtualService host, hence 404 responses"
**Bug description**
After upgrade to 1.7.4 traffic for VirtualService host is passed to wrong k8s service
We have 2 ingress gateways - public and internal

Public ingress-gateway access logs show that traffic is sent to other service instead!
1.7.4 Public ingress-gateway access logs

[code]

After downgrading back to 1.6.11 everything is working
Public ingress-gateway access logs
[code]

[ ] Docs

[2020-11-13 16:24] jnodorp opened #28861 "Multiple istiod instances have different state"
**Bug description**

We got outselves into a state where different istiod instances have different state. When running `istioctl proxy-status` we get something this:

Name                          | CDS        | LDS                        | EDS    | RDS    | ISTIOD           | VERSION |
------------------------------|------------|----------------------------|--------|--------|------------------|--

[2020-11-13 16:27] howardjohn commented on #28861
The biggest help would be a config dump of the pods that are failing:

https://github.com/istio/istio/wiki/Troubleshooting-Istio#collecting-information-2

That will show us what invalid config is generated which will hopefully lead to why its inconsistent. The dump will show this as well, but are these gateway pods or sidecars?

[2020-11-13 16:36] istio-testing opened #28862 "[release-1.8] Adding support for HoldApplicationUntilProxyStarts in proxyconfig"
Manual cherrypick required.

#27696 failed to apply on top of branch "release-1.8":
[code]

[2020-11-13 16:39] howardjohn opened #28863 "TestPostInstallControlPlaneVerification test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28852/integ-operator-controller-tests_istio/1327276301232377856

[2020-11-13 16:39] howardjohn commented on #28863
cc @richardwxn

[2020-11-13 16:41] howardjohn commented on #28850
Why does this matter? Gateways can connect to addons without a sidecar - the doc should work as-is

[2020-11-13 16:43] howardjohn commented on #28844
https://istio.io/latest/docs/ops/best-practices/observability/ has some info on this

[2020-11-13 16:53] Monkeyanator commented on #28860
Hi @stamak, thanks for posting. Been seeing a lot of issues around configurations with public/private ingressgateways lately. Would it be possible for you to share more of your configuration here (i.e. your VirtualService specs, config dump for the public ingressgateway)?

[2020-11-13 16:56] howardjohn commented on #28066
https://github.com/envoyproxy/envoy/pull/13832 is merged, will pull it into master soon(ish)

[2020-11-13 17:12] rittneje opened #28865 "If a node terminates ungracefully, sidecars route to bad pods"
**Bug description**

We are running a 1.14 cluster with Istio 1.5.10 on AWS EKS. When nodes are terminated in an ungraceful manner, we noticed that a large percentage of requests to the cluster started failing. As per https://github.com/istio/istio/issues/13840 I disabled HTTP/2 in istiod, and that fixed the immediate problem of pods not being created. However, requests continued to fail at random

[2020-11-13 17:41] lucasponce commented on #28850
Some comments with @howardjohn

[code]

Probably it was me, I should re-start and provision a minikube cluster and the port of the ingress changed and I tested an old one making that assumption.

Closing.

[2020-11-13 17:41] #28850 closed

[2020-11-13 17:41] #25931 closed

[2020-11-13 18:04] ericvn commented on #28455
I use a kind cluster setup using `kind create cluster --name istio-testing --config $ISTIO/istio/prow/config/trustworthy-jwt.yaml` to get things to start.

[2020-11-13 18:10] brian-avery commented on #26365
Release notes tooling has improved quite a bit over this release. Still more room for maturing, but that can be done in separate issues. Closing this.

[2020-11-13 18:26] liminw commented on #28824
/cc @williamaronli .  I remember OUTPUT_CERTS must be set for cert refresh.

[2020-11-13 18:28] esnible commented on #23526
@yangminzhu Are you working on CLI output?  Shall I target this for 1.9.  Do you want to keep this, or shall I assign another?

[2020-11-13 18:31] esnible commented on #22872
@jasonwzm Can this be closed? ^^^

[2020-11-13 18:31] stevenctl commented on #28824
The failing doc has OUTPUT_CERTS set.

[2020-11-13 18:41] jnodorp commented on #28861
The gateways are fine. (Though I think that's a coincidence, as they are managed by the two healthy istiod pods.)

I attached the information for one of the pods connected to the failing istiod: [dump.tar.gz](https://github.com/istio/istio/files/5538749/dump.tar.gz)

BTW: The linked commands don't work when using the distroless images. Had to use port forwarding.

[2020-11-13 19:03] williamaronli commented on #28824
the prov_cert and output_certs should be set and  .
**output_certs** : the path where sds agent store the when sds agent get the cert
**prov_cert**: the path where sds agent extract the cert the build mtls connection

they should be set the same

[2020-11-13 19:12] stevenctl commented on #28824
Right. In our current integration tests, we have `PROV_CERT=""` so we only ever use the token.

In our manual testing we set PROV_CERT and OUTPUT_CERT to the same value, and we get continuous failures due to the cert and key never getting fetched.

[2020-11-13 19:20] howardjohn commented on #28861
looks like tyou have some config matching `{"server_names":["915243725197-poc-webadapterfilearchive.s3.amazonaws.com","account-pod5-internal.demandware.net","account-pod5.demandware.net","dynamodb.us-east-1.amazonaws.com","globalcurrencies.xignite.com","kinesis.us-east-1.amazonaws.com","phonehome.hazelcast.com","public-api.wordpress.com","tracebot.demandwarecloud.net","vault.ckm-stg.demandware-ser

[2020-11-13 19:31] jnodorp commented on #28861
That's actually what we intended to do. Traffic matching the first, more specific rule is supposed to go to one egress gateway, everything else going to another egress gateway.

It actually works despite the occasional hiccups. Restarting istiod does sometimes help.

[2020-11-13 19:38] howardjohn commented on #28861
Ah a couple of them are duplicated:
[code]

which is the error. Its not about the overlap I mentioned - that does work as you intended.

Can you confirm your config doesn't duplicate these? based on restarting istiod helping it seems likely it doesn't and somehow they get nondeterministically added somehow

[2020-11-13 19:39] yangminzhu commented on #25021
@rolandkool , we already have design for this but currently we're putting this on hold to get more feedback about if full regex is really needed.
Your example `/path/*/morepath` can be supported by just wildcard (or glob) matching, I'm wondering do you have any other examples that you think it can only be supported with regex? and do you plan to use it in fields other than just `path` (e.g. header

[2020-11-13 19:52] jnodorp commented on #28861
Just checked: as far as I can see they are not duplicated. Here's the virtual service:

[code]

[2020-11-13 20:14] howardjohn opened #28876 "update-proxy_envoy broken"
https://prow.istio.io/view/gs/istio-prow/logs/update-proxy_envoy_periodic/1326675059149901824

It points to a test-infra SHA, not envoy

[2020-11-13 20:15] rittneje commented on #28865
From further testing, it seems this issue is actually the sidecars themselves. If the node on which a pod with a sidecar is running terminates, requests to the service in question will fail for 15 minutes.

[2020-11-13 20:17] vito-laurenza-zocdoc commented on #26443
@shamsher31 thanks, I fully understand now. The issue that led to my misunderstanding was that on the 1.6 version of that page, there is no mention of the gateways: https://istio.io/v1.6/docs/setup/upgrade/#data-plane

[2020-11-13 20:19] vito-laurenza-zocdoc commented on #26443
I still think it's probably worth calling out in the documentation that you can create a revisioned `IstioOperator` from the `empty` profile which only installs the `pilot` component to achieve a true touches-the-control-plane-only revision.

[2020-11-13 20:34] aaronjwood commented on #23917
@howardjohn we just ran into this exact issue with 1.6.9. A kick of all the app pods fixed it. Is there a known race that causes this? There was no `istio and cert manager un-installation n installation again` scenario for us like the OP had. Is there any workaround we can apply to prevent this from ever happening?

[2020-11-13 21:04] howardjohn commented on #28861
That is very odd. maybe can compare localhost:8080/debug/configz on a "good" and "bad" istiod. I am pretty surprised this happens

[2020-11-13 21:09] ediezh commented on #28783
I'm having the same issue. Everything specified in k8s.securityContext is not getting applied by istioctl. `istioctl manifest generate` shows the generated manifest doesn't have the correct securityContext either.

istio version 1.7.0

[2020-11-13 21:19] jnodorp commented on #28861
This is the configz output: [configz.tar.gz](https://github.com/istio/istio/files/5539378/configz.tar.gz)

[2020-11-13 21:27] howardjohn commented on #28861
`$ diff <(cat configz-bad.json | jq '. | sort_by(.metadata.name, .metadata.namespace)') <(cat configz-good.json | jq '. | sort_by(.metadata.name, .metadata.namespace)')` shows they are identical. Somehow must be getting corrupted at a later stage

[2020-11-13 21:50] howardjohn commented on #28861
My guess is somewhere we are modifying them concurrently. Maybe https://github.com/istio/istio/blob/7c7cd01f33072700961caebc0610e39ac2ac7aae/pilot/pkg/networking/core/v1alpha3/listener.go#L1930 is hit concurrently and somehow triggers multiple items?

[2020-11-13 21:53] yangminzhu commented on #23526
@esnible Yes, I'm tasked to work on this and we should target this for 1.9.

[2020-11-13 21:53] howardjohn opened #28878 "Istiod data race"
fixed in https://github.com/istio/istio/pull/28882

<details>

[code]
</details>

[2020-11-13 21:53] howardjohn commented on #28878
from 177f38187c

[2020-11-13 21:57] howardjohn commented on #28878
[code]

[code]

[2020-11-13 21:57] jnodorp commented on #28861
I'd assume we hit this due to the sheer config size we have (having all IANA TLDs in our virtual service). Concurrent modification in a function processing these sounds like a good candidate as we would spend more time there with a bigger list...

I'm out of ideas by now and not familiar with the Istio code base. I'll happily provide any info I can get but that's it I'm afraid.

[2020-11-13 21:58] howardjohn commented on #28861
Ah, almost positive that is it.
[code]

So in the good and bad state, we have the same number of items but some are duplicated.

This test shows the same behavior:
[code]

[2020-11-13 22:00] howardjohn commented on #28861
we should fix the race but `sort.Stable(sort.StringSlice(items))` doesn't experience the same issue

[2020-11-13 22:11] carolynhu commented on #28730
@howardjohn currently the query for that is: `round(sum(irate(istio_requests_total{reporter="destination"}[1m])), 0.001)`, so it's not average..

[2020-11-13 22:15] ediezh opened #28879 "Istio ingress gateway TCP keepalive setting for downstream connection"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Have a way to configure TCP keepalive settings for the downstream connection.

We use AWS NLB for ingress gateway, however, it has a 350s idle timeout. We also have a lot of long-polling requests which would take around 30 minutes. But a lot of the

[2020-11-13 22:16] ediezh commented on #28879
Any suggestions or workaround would be welcome.

[2020-11-13 22:18] howardjohn commented on #28878
[code]

[2020-11-13 22:19] howardjohn commented on #28878
[code]

[2020-11-13 22:20] munjalpatel commented on #28623
@hzxuzhonghu here are to logs you requested:

**Access Logs from `istio-proxy` of `ubuntu`**
[code]

**Config dump from `istio-proxy` of `ubuntu`**
https://gist.githubusercontent.com/munjalpatel/2c28f31919cdbf38c3210b290d80311e/raw/c9485ce7479cdcbe86770929dfee47e0a2fdd781/config_dump.json

[2020-11-13 22:37] therealmitchconnors opened #28880 "Revision Upgrades Break Validation Webhook"
**Bug description**
Upgrading from a default revision (istiod) to a new revision (istiod-foo) may result in all istio config becoming unchangeable, blocking upgrades and downgrades, after the original revision (istiod) is removed.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Develope

[2020-11-13 22:38] therealmitchconnors commented on #28880
Oddly, deleting the Istiod Deployment instead of the Service causes the webhook to be reset to failurePolicy:Ignore, which is a better, but still broken state.

[2020-11-13 22:38] mandarjog commented on #28880
@therealmitchconnors thanks. Can you clarify upgrade `from` and `to` versions?

[2020-11-13 22:40] therealmitchconnors commented on #28880
I have reproduced from 1.7.4 to 1.7.4.  Others are suspected as well.

[2020-11-13 22:42] howardjohn commented on #28880
This is the same root cause of https://github.com/istio/istio/issues/27501

https://docs.google.com/document/d/1k9V3D5jhZdFvEdJhw-T7mHCEIjkK0hFSdvtJIWEqIs0 is the design for the fix

[2020-11-13 22:49] jnodorp commented on #28861
Thank you @howardjohn for looking into this! Should I give this a shot or are you going to take care of the issue?

[2020-11-13 22:51] mandarjog commented on #27204
@stevenctl If we are supplying a config that no longer works, that is a problem. In that case it is somewhat orthogonal to supportable envoyfilters.
Can you take a look? How are the test passing with this config?

/cc @nmittler

[2020-11-13 22:51] howardjohn commented on #28861
Feel free to give it a stab if you are interested, if not I can probably pick it up soon. I would think we should just be able to copy the list at some point so it isn't shared and that would fix it up

[2020-11-13 22:56] mandarjog commented on #27909
@stevenctl can you follow up on fixing it in 1.7.x?

[2020-11-13 23:12] rlenglet commented on #22025
@shortwavedave no, there is no workaround.

[2020-11-14 00:17] gargnupur commented on #20952
We have a pr for tests currently: https://github.com/istio/istio/pull/28888

Will add the PR for documentation soon and will post it here too...

@jgreens : You should be able to use global rate limiting on 1.6.4

[2020-11-14 00:18] istio-testing opened #28889 "[release-1.8] Remove analysis codes that are no longer used"
Manual cherrypick required.

#28830 failed to apply on top of branch "release-1.8":
[code]

[2020-11-14 00:24] gargnupur opened #28890 "[Multicluster] Tracing tests fail for cluster-3 and cluster-4"
**Bug description**
Tracing tests fail for cluster - 3 , for reason unknown currently.
Cluster 3 is a cluster a primary cluster on a different network.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

**Steps to reproduce the

[2020-11-14 00:26] gargnupur commented on #28890
Logs: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28635/integ-telemetry-mc-k8s-tests_istio/1327391058375479296

[2020-11-14 00:31] nmittler commented on #27204
@mandarjog

We're not using `.global` configurations in our tests and are no longer recommending it in 1.8.

That being said, we should track down when and why this change occurred. Taking a quick look through the code (in both head and 1.6.3), I don't see where pilot is setting that filter. Maybe someone else can chime in?

[2020-11-14 00:36] howardjohn opened #28891 "panic: queue can not be run twice"
[code]

On master

cc @hzxuzhonghu

I triggered this by setting istiod CPU limit to 100m

[2020-11-14 00:49] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-117_istio_postsubmit/1327395823285178368
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-116_istio_postsubmit/1327335908151660544

[2020-11-14 01:05] howardjohn opened #28893 "Duplicate/wrongly named tests run"
[code]

We have b_in_cluster-0#01 run twice. Not sure if its just named wrong, running 2x, or running instead of something else

[2020-11-14 01:36] costinm commented on #28791
Agreed - I think we'll want both 'daemon' and 'exec/cron' mode ( similar with gcloud command ).

[2020-11-14 01:59] morvencao commented on #28783
@ediezh The pod security context is supported after istio-1.7.4

[2020-11-14 02:20] stevenctl commented on #27909
Does https://github.com/istio/istio/pull/28283 not fix this for 1.7?

[2020-11-14 03:18] leonyan1314 opened #28897 "iptables-restore v1.6.1: iptables-restore: unable to initialize table 'nat'"
I am facing a bug when i inject lstio sidecar to default ns, all of pod can't init for below bug:

[root@ibm-master istio-exc]# kubectl logs webapp-859f59c86d-q6sfl   istio-init
iptables-restore --noflush /tmp/iptables-rules-1605323206851298933.txt962677351
**iptables-restore v1.6.1: iptables-restore: unable to initialize table 'nat'**

Error occurred at line: 1
Try `iptables-restore -h' or 'iptab

[2020-11-14 03:28] rytswd commented on #27909
I think it should. I thought this was just pending the next release from 1.7 branch

[2020-11-14 04:06] ikewabo commented on #25578
@MirtoBusico MirtoBusico,
is http fixed for you? think it's prudent to get https working.  just for the associated security risk. agree?

[2020-11-14 05:01] #21265 closed

[2020-11-14 05:02] #23923 closed

[2020-11-14 05:03] #24998 closed

[2020-11-14 05:03] #25269 closed

[2020-11-14 08:58] connatix-cradulescu commented on #28428
All our ports have "http" as naming. Did dose require prefix too?

[2020-11-14 14:05] sunzhaochang opened #28901 "TcpProxyValidationError occurs when the accesslog service is enabled"
**Bug description**

When the accessslog service is enabled, the envoy become not ready, the error message is "Error adding/updating listener(s) 172.18.76.186_31400: Proto constraint validation failed (TcpProxyValidationError.AccessLog[i]: ["embedded message failed validation"] | caused by AccessLogValidationError.Filter: ["embedded message failed validation"] | caused by field: "filter_specifier"

[2020-11-14 14:31] sunzhaochang commented on #28901
Can someone assign this issue to me, I'm glad to create a PR to fix it.

[2020-11-14 14:35] ysjjovo commented on #28424
Thanks!I succeed when I follow your method.

[2020-11-14 19:51] armand1m commented on #1430
+1 for hosting chat services like Mumble

[2020-11-14 20:22] Laurianti opened #28903 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
Hello,
I followed this tutorial:
https://istio.io/latest/docs/setup/install/multicluster/shared/
I have not LoadBalancer, but NodePort.

I used exactly these commands:

[code]

With the last two commands, I have these outputs:

`kubectl exec -it -n sample -c sleep --context=${MAIN_CLUSTER_CTX} $(kubectl get pod -n sample -l app=sleep --context=${MAIN_CLUSTER_CTX} -o jsonpath='{.items[0].metadata.n

[2020-11-15 05:04] #26003 closed

[2020-11-15 05:25] howardjohn commented on #25177
not stale

On Sat, Nov 14, 2020, 9:03 PM Istio Policy Bot <notifications@github.com>
wrote:

[2020-11-15 05:56] raonadeem opened #28905 "Istio sidecar crashed after applying gRPC ALS envoyfilter"
I'm applying the following envoyfilter for grpc access logs on a cluster (als.default.svc.cluster.local:9001) which is running as a deployment and service in default namespace;

[code]

But my sidecar crashed with some errortrace;

[code]

[2020-11-15 07:18] jasonwzm opened #28906 "Refactor Multicluster Analyzer"
**Describe the feature request**
The current multicluster analyzer does not reflect the configs that users use to onboard multicluster. This need to be corrected.

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure

**Add

[2020-11-15 08:14] MirtoBusico commented on #25578
@ikewabo I agree completely: https is a must.

But still trying to setup a framework simple enough to test and ask for help.

For now I'm setting up from scratch a new framework with Keycloak on a separate virtual machine outside the cluster and Istio 1.7.4 so I can ask for help using the last released version.

[2020-11-15 22:26] ikewabo commented on #25578
@MirtoBusico , Thank you for a great job. I'm still way behind - tried it without success - failed with Okta as IdP.   I followed this other tip to the teeth: https://www.blog.jetstack.io/blog/istio-oidc/ .  However, too many moving parts - didn't have to use Let’s-Encrypt - URL already via a DNS and Okta registered.   Stuck on a 403 now.

Solo.com claims to be an Envoy-based Ingress.  Their tech

[2020-11-16 00:28] istio-testing opened #28908 "[release-1.8] Add test for local rate limiting using Envoy"
Manual cherrypick required.

#28888 failed to apply on top of branch "release-1.8":
[code]

[2020-11-16 02:42] yzhu2 opened #28909 "cross namespace virtualservice not working"
**Bug description**
virtual service config not working when the virtual service is cross reference a service defined in another namespace using FQDN.

[code]
when I check the route config dump, `timeout: 3s` is not applied. if I move this virtualservice to `fortioserver` namespace, the `timeout: 3s` is correctly applied.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ]

[2020-11-16 03:04] hzxuzhonghu commented on #28891
I think this has been fixed by #25965, you are testing on an older version?

[2020-11-16 04:00] hzxuzhonghu commented on #28623
@howardjohn Is nats server first protocol?

[2020-11-16 05:17] ediezh commented on #27281
@bianpengyuan can we reopen this? I'm getting the exact same issue in istio 1.7.

My IstioOperator config is as below:
[code]

Instead of getting metrics like `istio_requests_total{request_path="/login"}`, I'm getting a whole bunch of new time series metrics with name like `envoy_request_path___login___istio_requests_total`.

pod annotation `sidecar.istio.io/extraStatTags` mentioned in this link h

[2020-11-16 05:26] ediezh opened #28910 "extraStatTags not working"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Extra metric tags added as prefix to time series metric instead of as a label.

IstioOperator configuration:
[code]
Instead of getting metrics like

[2020-11-16 05:58] howardjohn commented on #28891
No this was running from master

[2020-11-16 06:08] howardjohn commented on #28623
yes

On Sun, Nov 15, 2020, 8:00 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-11-16 06:25] hzxuzhonghu commented on #28891
I have reverted  #25965 in #28021, and `queue can not be run twice` this is not even exist

[2020-11-16 06:25] bianpengyuan commented on #27281
Did you check the metrics on gateway? There is a known issue that extra tags might not work on gateway: https://github.com/istio/istio/issues/28424

[2020-11-16 06:49] zhaohuabing commented on #24148
Could we remove the chains first to prevent the panic reported by istio-init container?

[2020-11-16 06:53] hzxuzhonghu commented on #28623
[code]

Why does it has two kind of filter chain, and also has listener filters

[2020-11-16 07:47] pantianying opened #28911 "Istio's problems with proxy traffic，between service with different port"
The description of the problem is in the link：
https://discuss.istio.io/t/problems-that-occur-when-traffic-is-transferred-between-different-services-of-istio/8975

[2020-11-16 09:34] ramaraochavali commented on #28742
@yangminzhu ^^  - What do you think? Is it reasonable to add the above behaviour?

[2020-11-16 09:38] ediezh commented on #27281
Hi @bianpengyuan the podAnnotation on ingress gateway is the first thing I tried which didn’t work, do I need to set the ISTIO_METAJSON_ANNOTATIONS  environment variable directly?

I’ll share some logs later.

[2020-11-16 09:40] ediezh commented on #28424
Hi @kyessenov this method did not work for me. The podAnnotation on ingress gateway is the first thing I tried, do I need to set the ISTIO_METAJSON_ANNOTATIONS environment variable directly?

[2020-11-16 09:45] ediezh commented on #28783
Thanks @morvencao it’s good to know. I will test it out when the new version is ready.

[2020-11-16 09:59] danmx opened #28912 "istio_authn support for mTLS identities going through Gateways"
**Describe the feature request**

I'd like to use `istio_authn` to authenticate mTLS clients (from another Istio mesh) that are passing via the gateway (both clusters have each other's root CAs in their cert chains). Currently `istio_authn` works on `source.principal` which is extracted from direct client connecting to the service that results in `source.principal` being set to gateway's identity.

[2020-11-16 10:03] #24915 closed

[2020-11-16 11:06] akhalyavka opened #28914 "Make it possible to control the order of rules in merged VirtualService definition"
**Describe the feature request**
Currently, istio [docs](https://istio.io/latest/docs/ops/best-practices/traffic-management/#split-virtual-services) about VirtualService merging state that

What we'd like to see is a way to control this order. The use case we have for this is "dark deploy" of developers' feature branches, nicely described in https://github.com/istio/istio/issues/22997#issuecomment

[2020-11-16 13:08] sdake opened #28915 "Implement a precheck analyzer"
**Describe the feature request**
Implement one precheck analyzer and track the relative cost of one analyzer addition for someone naive in analyzer development.

**Describe alternatives you've considered**
Request from TOC.

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infra

[2020-11-16 13:10] sdake commented on #28849
Thanks @rvennam for the detailed bug report. As requested during the TOC meeting, I or someone from Env will write an analyzer to check for this condition. The real goal of writing the analyzer is not to detect this specific problem (although that is a second order goal) - but to determine the cost of writing such analyzers for any contributor of the project (those nieve to writing analyzers).

@G

[2020-11-16 13:40] chadlwilson opened #28916 "istioctl install causes Telemetry v1 HPA scaling to be overridden with fixed Deployment replicaCount"
**Bug description**

When installing control plane `1.6` or `1.7`, telemetry V1 always scales back in to 1 replica regardless of the `hpaSpec` in your `IstioOperator` resource. Then the HPA seems to scale it back up.

If I am reading correctly, I believe this appears to be because the `Deployment.yaml` [does not seem to have the necessary checks to omit the `spec.replicas` field from the spec](htt

[2020-11-16 14:25] yann-soubeyrand commented on #26079
As I understand, this bug is not fixed yet, right? Could we then remove the lifecycle/stale label?

[2020-11-16 14:40] htuch commented on #22217
FWIW the v2 API support is currently scheduled to be removed from Envoy in Q1. I think this is the main Istio issue that needs resolving before then.

[2020-11-16 14:40] sdake opened #28918 "istioctl may timeout on large clusters when installing CNI"
**Bug description**
I installed Istio with CNI. The CNI installation took about 4 minutes. istioctl itself times out after 5 minutes when checking for the ingress gateway.

I recommend a check for each cni install pod .e.g:
[code]

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Develope

[2020-11-16 14:41] sdake commented on #28918
A simple workaround for now would be to extend the timeout via flag and add that to the istioctl documentation.

[2020-11-16 14:42] christian-posta commented on #28824
This should block the 1.8 release, but I don't see it on the triage spreadsheet?

[2020-11-16 15:04] Laurianti commented on #28309
I tried it:

https://github.com/istio/istio/issues/28903

I think the last step is missing.

[2020-11-16 15:06] yann-soubeyrand commented on #26079
Also, is there a known workaround (other than not using ALPN)?

[2020-11-16 15:32] aggarwalShivani commented on #24176
We noticed the issue when istio sidecar proxy took a bit longer to become ready, while the curator container had already started and tried contacting elasticsearch k8s svc. As a result, curator failed intermittently. One way to resolve is ensuring that curator container starts after istio proxy is fully ready.

[2020-11-16 15:34] gargnupur commented on #26079
@howardjohn : If you disable TCP telemetry, that should help too?

[2020-11-16 15:40] jgreens commented on #20952
Thank you @gargnupur!

[2020-11-16 15:55] howardjohn opened #28920 "Envoyfilter: add explicit warning for using v2 resources, or deprecated names"

[2020-11-16 16:16] howardjohn commented on #26079
@yann-soubeyrand the original issue of http port blocking https IS fixed - in 1.8+. As a workaround you should not have an http port on 443 (probably shouldn't do this anyways), or you can not set ALPN I suppose.

The longer term issue that the FCM logic is super confusing and may lead to potential bugs, which is why this is still open

[2020-11-16 16:17] howardjohn commented on #28891
huh. Agreed. I must have been using an old version... thanks!

[2020-11-16 16:17] #28891 closed

[2020-11-16 16:24] howardjohn commented on #28623
Because it is named `clients` so its auto protocol sniffed port. see https://preliminary.istio.io/latest/docs/ops/deployment/requirements#server-first-protocols

[2020-11-16 16:29] kyessenov commented on #28424
@ediezh If the installer is working correctly, it should populate ISTIO_METAJSON_ANNOTATIONS automatically, but you can always just edit it directly. podAnnotations should be in the template, so not sure why it didn't work.

[2020-11-16 17:07] carolynhu commented on #28411
right, this is under maintaining https://github.com/istio/tools/tree/master/upgrade_downgrade

[2020-11-16 17:50] poussa commented on #27782
on my part, we can close this.

[2020-11-16 18:12] connatix-cradulescu opened #28927 "Change docker registry for proxyv2:1.7.0"
Since the 2 of November 2020 docker.io has implemented a rate limit.  We would like to mirror the image proxyv2:1.7.0 to our docker registry on AWS ECR but for that, I need to be able to change the sidecar configuration to pull the image from our docker registry.  How this can be achieved?

[code]

[2020-11-16 18:31] gargnupur commented on #28890
Fails for cluster-4 too. Both cluster-3 and cluster-4 are on different networks..so could be related to that.

[2020-11-16 18:45] stevenctl opened #28930 "Improve Virtual Machine debugging UX"
For Pods, we can use convenient commands like proxy-config and proxy-status.
For VMs, the go-to seems to be "ssh and look at the logs".

Opening this issue to explore equivalents and alternatives that we can bring to VMs.

cc @yskopets

[2020-11-16 19:17] cagataygurturk commented on #22658
We are also using Config Connector to quickly provision GSA's to every Pod. It is not very elegant though.

@bianpengyuan I wonder how ASM does this and whether it is possible to implement the same functionality to OSS Istio.

[2020-11-16 19:33] howardjohn commented on #28927
you can pass `--set hub=your-registry` to istioctl

[2020-11-16 19:36] istio-testing opened #28932 "[release-1.8] disable flaky multicluster pilot tests"
Manual cherrypick required.

#28836 failed to apply on top of branch "release-1.8":
[code]

[2020-11-16 19:44] istio-testing opened #28934 "[release-1.8] [Test Framework] Cleanup logic for cluster types"
Manual cherrypick required.

#28593 failed to apply on top of branch "release-1.8":
[code]

[2020-11-16 19:55] #27782 closed

[2020-11-16 20:03] istio-testing opened #28936 "[release-1.8] try token if certs specified by PROV_CERT don't exist for the first time bootstrapping"
Manual cherrypick required.

#28842 failed to apply on top of branch "release-1.8":
[code]

[2020-11-16 20:28] danmx commented on #28912
I see I can use `AuthorizationPolicy` [conditions](https://istio.io/v1.4/docs/reference/config/security/conditions/) with HTTP headers

[2020-11-16 20:33] #28932 closed

[2020-11-16 21:00] stevenctl commented on #28824
Going to leave this open till we land the 1.8 cherry-pick and manually confirm.

[2020-11-16 21:34] #28936 closed

[2020-11-16 22:45] ediezh commented on #28424
@kyessenov Here is my IstioOperator config:
[code]
The podAnnotations don't get populated in ISTIO_METAJSON_ANNOTATIONS automatically. Need to set that env directly in IstioOperator like below.
[code]

I'm using istio 1.7.

[2020-11-16 22:46] therealmitchconnors commented on #28880
FWIW, I think we can mitigate this bug for 1.8 with changes to docs.

[2020-11-16 22:46] patrickppeng opened #28939 "proxy failed to connect to istiod.istio-system.svc:15012 with user-specified secret"
**Bug description**
I’m trying to upgrade from Istio 1.5.4 to 1.7.4 and looking for help on how to use user-specified certificate for in-cluster mtls communication. We are using our own enterprise cert-manager for generating the user-specified certificate(secret) without Citadel or Istiod CA.
In istio-1.5.4, the user-specified certificate can be mounted via istio-certs for every Istio component wi

[2020-11-16 23:29] connatix-cradulescu commented on #28927
Thx!

[2020-11-16 23:29] #28927 closed

[2020-11-16 23:39] liwenhao0810 commented on #28939
@shankgan Could you please take a look at this issue.

[2020-11-16 23:55] nmittler opened #28942 "Envoy locality weighted LB appears to require Outlier Detection"
Our [operations docs for Istio <= 1.7](https://istio.io/v1.6/docs/ops/configuration/traffic-management/locality-load-balancing/) as well as our [DR docs](https://github.com/istio/istio.io/pull/8402) imply that Outlier Detection is only needed for priority based LB (not weighted).

However, while working on a [task for locality LB](https://github.com/istio/istio.io/pull/8402), it seems that weighte

[2020-11-16 23:55] nmittler commented on #28942
FYI @lambdai @howardjohn

[2020-11-17 00:08] #28909 closed

[2020-11-17 00:08] jtrbs opened #28943 "Integration test infra does not support multicluster setup with kubernetes CA as global.pilotCertProvider"
Currently test case like https://github.com/istio/istio/blob/master/tests/integration/security/mtlsk8sca/main_test.go can not be converted into multicluster based because test infra multicluster setup does not work with https://github.com/istio/istio/blob/master/tests/integration/security/mtlsk8sca/main_test.go#L51

[2020-11-17 00:10] yzhu2 commented on #28909
adding
fortioclient/*
to the egress hosts list solves the problem
[code]

[2020-11-17 00:11] jtrbs opened #28944 "ca custom root test cases failed in the multicluster setup because multi-network are not configured properly"
failed test cases in https://prow.istio.io/?job=integ-security-multicluster-tests_istio_postsubmit, https://prow.istio.io/view/gs/istio-prow/logs/integ-security-multicluster-tests_istio_postsubmit/1328428424817020928. A sample failed test case is ca_custom_root: TestSecureNaming/From_cluster-0/mTLS_cert_validation_with_plugin_CA. When this test ran, it did not deploy any policy. Thus whatever set

[2020-11-17 00:56] yangminzhu commented on #28798
cc @incfly

[2020-11-17 01:11] howardjohn opened #28947 "Test immutability of shared objects, especially in XDS generation"
For performance and simplicity, we pre-generate a lot of XDS objects, such as https://github.com/istio/istio/blob/e78224f921e0079871f40fdf1673adb7401f8368/pilot/pkg/security/model/authentication.go#L75.

This works well, unless we indirectly modify the shared object

[code]

Especially at risk is EnvoyFilter merges - we had a case where we merged into a shared object so every iteration we added th

[2020-11-17 01:36] howardjohn opened #28948 ""[internal] booting buildkit:" test flakes"
https://prow.istio.io/view/gs/istio-prow/logs/integ-distroless-k8s-tests_istio_postsubmit/1328418484312346624

This is very common

At the very least seems like we can add a log to get the info from the builder

Related: https://github.com/docker/buildx/issues/331

[2020-11-17 01:37] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1328188304503345152

@richardwxn can you take a look? This seems extremely flaky, I am worried there is a regerssion

[2020-11-17 01:37] howardjohn opened #28949 "TestLocalRateLimiting and TestLocalRouteSpecificRateLimiting test flakes"
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-115_istio_postsubmit/1328492321485885440
https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-k8s-tests_istio_postsubmit/1328418485759381504
https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-k8s-tests_istio_postsubmit/1328132703932911616

[2020-11-17 01:47] howardjohn commented on #28939
I am a bit confused - the issue text says you installed 1.7.4 but the logs/istioctl output shows 1.9-alpha.7c7cd01f33072700961caebc0610e39ac2ac7aae. Are you intentionally running unreleased builds from `master` branch?

[2020-11-17 02:19] hzxuzhonghu commented on #28715
#28768 is a good direction

[2020-11-17 03:03] patrickppeng commented on #28939
No. I downloaded the istio-1.7.4 with "curl -L https://istio.io/downloadIstio | sh -" and the images from gcr.io/istio-testing:pilot:latest and gcr.io/istio-testing:proxyv2:latest. Am I using the incorrect image version?

[2020-11-17 03:04] howardjohn commented on #28939
How did you install after downloading?

On Mon, Nov 16, 2020, 7:03 PM patrickppeng <notifications@github.com> wrote:

[2020-11-17 03:13] patrickppeng commented on #28939
I tagged the images and put them to our own docker repository and using istio-operator to install the istio components. Attached has the istiooperator.yaml.
[operator_yaml.txt](https://github.com/istio/istio/files/5551049/operator_yaml.txt)

[2020-11-17 03:44] hzxuzhonghu commented on #28614
You can try `curl -H "Host=sl-a7862744-2cd5-4c33-a221-7d5014925389-1"  <address> `

[2020-11-17 03:46] hzxuzhonghu commented on #28623
That's it,  should change the port name

[2020-11-17 04:53] dblackhall-tyro commented on #25021
Not rolandkool here, but I'm happy to share my feedback. Glob matching would be suitable for what we want to do. And yes we would only be using path matching.

[2020-11-17 05:02] #23989 closed

[2020-11-17 05:02] #24004 closed

[2020-11-17 05:03] #24745 closed

[2020-11-17 05:04] #25848 closed

[2020-11-17 05:04] #26002 closed

[2020-11-17 05:04] #26083 closed

[2020-11-17 05:08] shamsher31 commented on #26443
@istio/wg-docs-maintainers PTAL.

[2020-11-17 06:40] ZhuangYuZY commented on #28700
Could you remove the `istio-validation` initcontainer if CNI enabled ? @linsun @sdake FYI.

[2020-11-17 07:35] hzxuzhonghu commented on #28700
It is used to validate whether the rules are set correctly.
https://github.com/istio/istio/issues/14327

[2020-11-17 08:15] hzxuzhonghu opened #28953 "Support set log level dynamically"
**Describe the feature request**

It is very useful to allow reset the log level on the run, currently, it is very hard to diagnose some weird phenomena(hard to reproduce after restart) we met.

We can add a handler in debug, which calls `log.Configure`.

**Describe alternatives you've considered**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemet

[2020-11-17 08:28] stamak commented on #28860
@Monkeyanator yes, sure

public IngressGateway config
[code]

VirtualService spec
[code]

[2020-11-17 09:23] 01mcgrady01 opened #28954 "Can't establish tcp connection with a pod by its ip and port"
**Bug description**

I have two pods in the same namespace that has label "istio-injection=enabled".

One of the two pods is running as a http server that serves on port 5673, the other pod is running as a client.

At first the client pot can use telnet command to establish tcp connection with server pod by server pod's ip and port, but since I create a headless service, telnet command returns err

[2020-11-17 10:34] shamsher31 commented on #26276
Test result with `1.8.0-alpha.2`.

[code]

[code]

[code]

[2020-11-17 12:40] bison commented on #24640
Yes, I think limiting things to a set of namespaces unfortunately does not work in 1.7 or 1.8, and the docs and/or help output should probably be fixed.

I was working on this, but got distracted. I'm very much still interested seeing it fixed, and have something I've been meaning to propose. Basically an updated version of #25692 -- I will try to push that soon.

[2020-11-17 14:07] ramaraochavali commented on #28953
Yeah. That would be very useful

[2020-11-17 14:13] frankbu commented on #26443
Here's the current recommended way to handle this issue: https://preliminary.istio.io/latest/docs/setup/upgrade/gateways/

[2020-11-17 14:32] esnible commented on #25992
@nrjpoddar Shall we retarget this to 1.9?

[2020-11-17 14:36] esnible commented on #26220
There is a new issue -- https://github.com/istio/istio/issues/28915 precheck analyzer .  It might be worthwhile to see what the current `istioctl precheck` does and move that code into the analyzer, then make `istioctl precheck` a facade for `istioctl analyze` that suppresses all but precheck related things.

Maybe not ... I am not sure if the things like Kubernetes version that `precheck` does ca

[2020-11-17 14:57] vito-laurenza-zocdoc commented on #26443
@frankbu that's excellent, thanks!

[2020-11-17 15:11] sdake commented on #28700
I filed a related github issue. In that issue, I asked the question of why are iptable rules being set at all by the proxy. The role of CNI should be to set those IP table rules - proxy itself should not be setting any rules.

https://github.com/istio/istio/issues/28918

[2020-11-17 15:16] sdake commented on #28918
[code]

[2020-11-17 15:17] sdake commented on #28918
John's Slack Comment.
<img width="651" alt="Screen Shot 2020-11-17 at 8 16 53 AM" src="https://user-images.githubusercontent.com/755849/99408351-60000780-28ad-11eb-8b4c-c568f2bd4f33.png">

[2020-11-17 15:25] howardjohn opened #28957 "XDS send timeouts not propagating to clients, leading to "stuck" pods without any updates"
Observed this behavior in https://prow.istio.io/view/gs/istio-prow/logs/integ-security-multicluster-tests_istio_release-1.8_postsubmit/1328699451845382144

We see no pushes sent to a few pods:
[code]

Pilot logs: https://storage.googleapis.com/istio-prow/logs/integ-security-multicluster-tests_istio_release-1.8_postsubmit/1328699451845382144/artifacts/security-febd0400642b41c5a84827/_suite_context/

[2020-11-17 15:26] howardjohn commented on #28957
I intentionally introduced timeouts locally and I see it works ok, so it seems it is not broken in all cases

[2020-11-17 15:26] howardjohn commented on #28957
Note this is a multicluster test, but the pilot and proxy are both in the same cluster (cluster-0).

cc @jtrbs

[2020-11-17 15:40] howardjohn opened #28958 "fatal error: concurrent map iteration and map write on adsz debug endpoint"
[code]

Problem is here we iterate outside of the lock: https://github.com/istio/istio/blob/6ff6fce438d243a1a48ebb47d3760a4d89f641ff/pilot/pkg/xds/debug.go#L458

[2020-11-17 15:42] howardjohn commented on #28939
You should use istio/pilot:1.7.4, not gcr.io/istio-testing/pilot:latest.
The latter are unstable test builds.

On Mon, Nov 16, 2020 at 7:13 PM patrickppeng <notifications@github.com>
wrote:

[2020-11-17 15:47] #28920 closed

[2020-11-17 15:52] patrickppeng commented on #28939
Thanks. I'll pull the correct pilot and proxyv2 images and test again.

[2020-11-17 16:10] crhuber commented on #26815
We are facing the same issue on istio 1.6.8 with the following settings

[code]

[2020-11-17 16:11] nrjpoddar commented on #25992
yes, let me assign it to @jacob-delgado so he has this in his sight. Not sure if this becomes a blocker for promotion but he can evaluate that too.

[2020-11-17 16:21] howardjohn commented on #28911
Your configuration is not valid. If you declare the Service on port 9080 then call `curl app:8080` it will not match

[2020-11-17 16:23] carolynhu opened #28959 "failed to update resource with server-side apply for obj Service/istio-system/istiod"
error log:
[code]

[2020-11-17 16:43] istio-testing opened #28960 "[release-1.7] Fix concurrent push context initialization"
Manual cherrypick required.

#28885 failed to apply on top of branch "release-1.7":
[code]

[2020-11-17 16:56] bianpengyuan commented on #22769
@mirobertod If the default credential is able to write to stackdriver, you should not need any more set up for service account. Yeah, they are not the same log entry, but many information in them will be duplicated.

[2020-11-17 17:01] bianpengyuan commented on #22658
@cagataygurturk ASM solve this by exchanging a specialized access token with trust worthy jwt token, which has metric write permission. It is not open to OSS users.

[2020-11-17 17:24] patrickppeng commented on #28939
Pulled the following images and still seeing the "1.9-alpha" version...
    docker pull istio/pilot:1.7.4
    docker pull istio/proxyv2:1.7.4
    docker pull istio/operator:1.7.4
[root@flex188-33 istio-1.7.4]# istioctl version
client version: 1.7.4
control plane version: 1.9-alpha.7c7cd01f33072700961caebc0610e39ac2ac7aae
data plane version: 1.9-alpha.7c7cd01f33072700961caebc0610e39ac2ac7aae (4 pro

[2020-11-17 17:31] carolynhu commented on #27595
Doc shared with the community: [Istio Grafana Dashboard Metrics Reporter Refinement](https://docs.google.com/document/d/1Nry-gyKMty-XaQ70p6Q0bbTLCunRSrI7R1mFlnDG8zQ/edit#heading=h.qd82wmvk3u1n)

[2020-11-17 17:46] joberdick-rcd opened #28964 "Canary Upgrade with Operator Seems Unusable"
**Bug description**
Canary upgrade using the operator does not result in a successful migration.

[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure
[x] Upgrade

**Expected behavior**
That operator has a succesful migration via canary upgrades
**Steps to reproduce t

[2020-11-17 18:01] myidpt commented on #28939
Shankar and I can help take a look in V1.7. But I'm very confused by the control plane version in your cluster.

[2020-11-17 18:44] gargnupur commented on #26888
Based on test times here: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_i
stio/28963/integ-telemetry-mc-k8s-tests_istio/1328750246913642496 and https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28963/integ-telemetry-k8s-tests_istio/1328757643715547136, we look to be within the range of 15
mins...

/cc @nmittler @stevenctl @mandarjog @douglas-reid

[2020-11-17 18:49] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28965/integ-operator-controller-tests_istio/1328766282153070592

[2020-11-17 18:49] stevenctl commented on #26888
Looks more like 55 mins: https://prow.istio.io/?repo=istio%2Fistio&job=integ-telemetry-mc-k8s-tests_istio

[2020-11-17 18:54] joberdick-rcd opened #28967 "Make Canary Upgrades with Operator gitops friendly"
**Describe the feature request**
Using the Istio operator enables a pull based workflow that can automatically update/install Istio from a single source of truth and has some self healing properties. Currently, it does not appear that the canary upgrade process supports gitops workflows.

I am not suggesting trying solve data plane upgrades, but atleast the removal of an old version of Istio.

Cur

[2020-11-17 18:54] howardjohn commented on #28964
cc @ostromart

[2020-11-17 18:58] howardjohn commented on #28954
Its possible that when using telnet this is being a server first protocol which has some limitations; see https://preliminary.istio.io/latest/docs/ops/deployment/requirements#server-first-protocols

[2020-11-17 18:58] howardjohn commented on #28953
`istioctl x istiod log` will do this. And `istioctl pc log` does envoy. The only one that does not allow this is the agent

[2020-11-17 19:00] howardjohn commented on #28959
cc @richardwxn

@carolynhu what version of k8s?

[2020-11-17 19:08] howardjohn commented on #28905
I am pretty sure this is not legal, the cluster must be static. I am not sure if its intended it crashes rather than rejects the config, please open an issue in envoyproxy/envoy for this as this is not an Istio bug. thanks!

[2020-11-17 19:08] #28905 closed

[2020-11-17 19:08] #28893 closed

[2020-11-17 19:09] howardjohn commented on #28897
Can you give more info about how you installed? Are there any other logs from the init container indicating why it failed?

[2020-11-17 19:11] howardjohn commented on #28523
Sure, you are welcome to suggest additional docs from http://github.com/istio/istio/wiki

[2020-11-17 19:12] howardjohn commented on #28783
Thanks @morvencao ! Please let us know if this is still not working on the new version

[2020-11-17 19:12] #28783 closed

[2020-11-17 19:12] rolandkool commented on #25021
@yangminzhu besides the pattern described in the description, I've seen a `/*.js` kind of pattern. I assume this is supported as well?

[2020-11-17 19:14] howardjohn commented on #28493
Closing this as the original issue is fixed now in the new release.
@keerthig9 this means the Secret doesn't exist, please see https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/

[2020-11-17 19:14] #28493 closed

[2020-11-17 19:16] joberdick-rcd opened #28969 "Canary Deployment Support Default NS Labels"
**Describe the feature request**
When using revisions for canary upgrades. The sidecar injection relies only on the namespace label of ```istio.io/rev=something_here```. It will ignore the value of ```istio-injection=enabled```. This presents a management challenge on the application side. We run a large enterprise with many teams that consume k8s via our custom helm charts. This includes our name

[2020-11-17 19:17] howardjohn commented on #28221
@ducoppa we need more info about how you installed, what yo deployed, what is failing, etc in order to help. Please see https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-11-17 19:20] howardjohn commented on #28183
@ydh926 I sstrongly suspect this is fixed in modern Istio versions by 25579. If you see this issue on supported versions please re-open with a heap dump. Thanks!!

[2020-11-17 19:20] #28183 closed

[2020-11-17 19:21] howardjohn commented on #28105
Looks like this is resolved with th new docs, thanks!

[2020-11-17 19:21] #28105 closed

[2020-11-17 19:22] howardjohn commented on #28063
This looks to be not an Istio and rather an issue with the underlying DNS. Istio requires a working DNS server

[2020-11-17 19:22] #28063 closed

[2020-11-17 19:23] howardjohn commented on #28028
I could not reproduce this and we don't have enough information. Let me know if you can provide more info

[2020-11-17 19:23] #28028 closed

[2020-11-17 19:24] howardjohn commented on #27974
Closing as we haven't gotten any info and this appears to be an underlying issue with your Kubernetes cluster. Istiod requires access to the api server

[2020-11-17 19:24] #27974 closed

[2020-11-17 19:24] howardjohn commented on #27939
We cannot debug this without more info, please reopen if you can provide the logs. Thanks!

[2020-11-17 19:24] #27939 closed

[2020-11-17 19:25] howardjohn commented on #27727
We need the config dump from the ingress gateway pod and the exact curl command that is failing

[2020-11-17 19:26] howardjohn commented on #27723
Any more info?

[2020-11-17 19:26] howardjohn commented on #27661
This appears to be user error, not a bug. I recommend taking a look at https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/tls-configuration/

[2020-11-17 19:26] #27661 closed

[2020-11-17 19:28] howardjohn commented on #27571
I think this is a misconfiguration. I recommend taking a look at https://preliminary.istio.io/latest/docs/ops/configuration/traffic-management/tls-configuration/. Thanks!

[2020-11-17 19:28] #27571 closed

[2020-11-17 19:29] howardjohn commented on #27568
Optimistically closing this with the assumption https://github.com/istio/istio/commit/af1f055004f20340b3c3d1fec8b0d9434e2fa892 fixes this. If we find this is not the case please reopen. Thanks!

[2020-11-17 19:29] #27568 closed

[2020-11-17 19:33] howardjohn commented on #27417
The getting started notes indicate that this may require running the command 2x. This is because of a long standing Kubectl bug/feature/quirk that applying a CRD and an instance of the CR may race. This is explicitly documented in https://preliminary.istio.io/latest/docs/setup/getting-started/#dashboard. I am not sure there is anything else we can do here beyond splitting it into 2 yaml files, whi

[2020-11-17 19:33] #27417 closed

[2020-11-17 19:33] howardjohn commented on #27577
This is a duplicate of https://github.com/istio/istio/issues/27417

[2020-11-17 19:33] #27577 closed

[2020-11-17 19:35] howardjohn commented on #27169
We do not have enough info to debug this further and this is an EOL version. Please open a new issue with more details if you encounter this on recent versions. Thanks!

[2020-11-17 19:35] #27169 closed

[2020-11-17 19:35] #27464 closed

[2020-11-17 19:54] howardjohn commented on #28315
Even with the scoping disabled, we are still seeing this in CI: https://prow.istio.io/view/gs/istio-prow/logs/integ-pilot-multicluster-tests_istio_postsubmit/1328775228653834240. Gateway logs show no secret: https://storage.googleapis.com/istio-prow/logs/integ-pilot-multicluster-tests_istio_postsubmit/1328775228653834240/artifacts/pilot-endpointslice-05fe7768fcd/TestTraffic/gateway/headless.echo-1

[2020-11-17 20:01] howardjohn commented on #27475
Why are you setting rewriteAppHTTPProbers? I think if you do not do that it would work as expected

[2020-11-17 20:01] howardjohn commented on #27031
Ping, any info?

[2020-11-17 20:02] howardjohn commented on #26915
Closing as this is working as expected

[2020-11-17 20:02] #26915 closed

[2020-11-17 20:02] carolynhu commented on #28959
1.17.12-gke.1504

[2020-11-17 20:02] howardjohn commented on #26903
Closing as working as intended. if you want to sniff the tls traffic you will need to sniff after the traffic has hit the sidecar. Thanks

[2020-11-17 20:02] #26903 closed

[2020-11-17 20:16] howardjohn commented on #28099
I am going to re-open this to track actually fixing the underlying issue.

cc @williamaronli @stevenctl this will impact VMs - if there is no mtls service we will never get a cert

[2020-11-17 20:17] ericvn opened #28970 "istioctl dashboard doesn't like -n but accepts --namespace"
**Bug description**

Running `istioctl dashboard` I get an error using `-n` but `--namespace` works.

[code]

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

Either `-n` or `--namespace` should work

**Steps to reproduce the bu

[2020-11-17 20:20] howardjohn commented on #26104
Please re-open if https://github.com/istio/istio/pull/26352 does not fix this. thanks!

[2020-11-17 20:20] #26104 closed

[2020-11-17 20:21] #25884 closed

[2020-11-17 20:21] #25862 closed

[2020-11-17 20:23] howardjohn commented on #24856
https://preliminary.istio.io/latest/docs/ops/deployment/requirements#server-first-protocols may be useful

[2020-11-17 20:23] howardjohn commented on #24628
Closing as we do not have enough info

[2020-11-17 20:23] #24628 closed

[2020-11-17 20:42] patrickppeng commented on #28939
The old version of pilot in 1.5.4 has an istio-proxy that takes the mounted volume "istio-certs" for user-specified secret/certificate. The new istiod has a single discovery container and the documentation is not clear how to assign it an user-specified secret.

[2020-11-17 20:53] kyessenov commented on #26765
This is in 1.8 and supports interval reporting (just like TCP).

[2020-11-17 20:53] #26765 closed

[2020-11-17 20:54] kyessenov commented on #21698
This is in 1.7 and 1.8. Use "upstream_peer" and "downstream_peer" attributes.

[2020-11-17 20:54] #21698 closed

[2020-11-17 21:17] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28490/integ-operator-controller-tests_istio/1328757294015451136

[2020-11-17 21:24] #28960 closed

[2020-11-17 22:07] istio-testing opened #28971 "[release-1.8] Convert first part of authorization tests to be multicluster supported"
Manual cherrypick required.

#28088 failed to apply on top of branch "release-1.8":
[code]

[2020-11-17 22:11] istio-testing opened #28972 "[release-1.8] Convert jwt test into multicluster supported"
Manual cherrypick required.

#28444 failed to apply on top of branch "release-1.8":
[code]

[2020-11-17 22:25] richardwxn commented on #28959
there was an issue created on kubernetes side for it: https://github.com/kubernetes/kubernetes/issues/96351

[2020-11-18 00:25] shankgan commented on #28939
Hi Patrick.

"In the old istio version (1.5.4), it allowed to disable Citadel and apply user-specified secret to all istio components with mounted volume "istio-certs". In the latest Istio, user-specified secret can be added to ingress/egress proxies in the same way, but not available for pilot/istiod" - From the yaml file you provided, you appear to use both cacerts as well as istio-certs. Are th

[2020-11-18 00:46] richardwxn commented on #28959
Did some investigation with k8s folks, and it turns out that `neg-annotation.config.common-webhooks.networking.gke.io` comes with gke somehow corrupted the managedFields of service object. They are still investigating further

[2020-11-18 01:08] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28490/integ-operator-controller-tests_istio/1328809496054599680

[2020-11-18 01:26] patrickppeng commented on #28939
Hi Shankar,
I only tried the "istio-certs" for istiod with no luck and I didn't use cacerts. The reason you saw it in the istiooperator CR yaml because I have to overlay for additional volume/volumeMounts. Using cacerts is likely not acceptable by our security policy because customer may not be comfortable to provide root-cert and key to a 3rd party cert manager, similar reason to self-signing cer

[2020-11-18 01:40] #28489 closed

[2020-11-18 01:47] howardjohn commented on #28949
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28968/integ-telemetry-k8s-tests_istio/1328830075965018112

[2020-11-18 02:14] hzxuzhonghu opened #28981 "Subset cluster has no endpoints"
**Bug description**

Our customers have a DestinationRule with subset like this:
[code]

However, `myapp` service are deployed with hostNetwork and without sidecar.  And after sometime, we found that the subset cluster's endpoints are all gone.

After some diagnosing, I think i found the cause. For hostNework pods, they may have same pod ip. In istio, we heavily depend on podip as a unique key to

[2020-11-18 02:15] hzxuzhonghu commented on #28981
cc @howardjohn @ramaraochavali

[2020-11-18 03:30] linsun opened #28985 "misleading output from istioctl upgrade dry run"
**Bug description**

While dry-run of istioctl upgrade... the output seems to indicate the control plane is upgraded to 1.8 which is wrong.

[code]

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
istioctl upgrade dry run shoul

[2020-11-18 03:49] istio-testing opened #28986 "[release-1.8] Convert first part of authorization tests to be multicluster supported"
Manual cherrypick required.

#28088 failed to apply on top of branch "release-1.8":
[code]

[2020-11-18 04:24] kody-abe commented on #28653
@howardjohn Do you have any ideas here?

[2020-11-18 05:03] #25412 closed

[2020-11-18 05:25] senthilrch opened #28988 "Authorization Policy based on fields in request body"
**Describe the feature request**
The "AuthorizationPolicy" API provided by Istio supports defining authorization rules based on various attributes of the request: path, principal, requestprincipal, source, host, port, request header etc..This works fine for several scenarios.

Recently we have hit several scenarios in our project requiring us to define authorization rules based on json fields in t

[2020-11-18 06:49] #26152 closed

[2020-11-18 06:55] istio-testing opened #28989 "[release-1.8] skip server side apply because of issue of gke neg webhook"
Manual cherrypick required.

#28984 failed to apply on top of branch "release-1.8":
[code]

[2020-11-18 07:02] morvencao commented on #28985
`dryRun` flag is also passed to helmReconciler:
https://github.com/istio/istio/blob/35de31ebce1a2464190a253a1c3f234d174391ba/operator/cmd/mesh/upgrade.go#L212

That's why we see the resources process in the output, which is similar to the dry-run install:
[code]

[2020-11-18 07:20] hzxuzhonghu commented on #28953
cool, thanks

[2020-11-18 07:24] hillbun opened #28990 "istio-1.7.4 does not support --set values.global.proxy.accessLogEncoding="JSON""
I download https://github.com/istio/istio/releases/download/1.7.4/istio-1.7.4-linux-amd64.tar.gz

./bin/istioctl manifest generate \
--set values.global.proxy.accessLogEncoding="JSON" \

shows error of

Run the command with the --force flag if you want to ignore the validation error and proceed.
Error: unknown field "accessLogEncoding" in v1alpha1.ProxyConfig

How to fixed it? thanks

[2020-11-18 07:26] #28953 closed

[2020-11-18 07:49] hzxuzhonghu commented on #25204
@13567436138 Not sure what you met, could you provide any useful info

[2020-11-18 07:51] morvencao commented on #28990
`accessLogEncoding` is removed from old helm values parameters, you should try set it with `meshConfig`:
[code]

[2020-11-18 07:54] hzxuzhonghu commented on #26599
@13567436138 Definitely you should provide the two virtual services?

[2020-11-18 08:14] shamsher31 commented on #28969
Will this work for you?
[code]

Ref: https://preliminary.istio.io/latest/docs/reference/config/istio.operator.v1alpha1/#IstioOperatorSpec

[2020-11-18 08:15] singhdeepu commented on #26628
**Before**:
1. Client microservice A opens a gRPC connection to microservice B. Note: Microservice B is deployed as a service and has 12 pods(replicates).
2. Pod running microservice A(pod A1) occupies pod running microservice B(pod B1) in the first RPC call m1(). Note: Pod B1 will reject any new connection from other pods running microservice A(pod A2, A3 ..). Pod A2 will disconnect and try again

[2020-11-18 08:17] singhdeepu commented on #26628
We tried the following workaround:

We used the DestinationRule as described below:
[code]
We observed the following behaviour:
* The connection between Pod running microservice A(pod A1) and pod running microservice B(pod B1) seems to be stateful.
* However, another pod running microservice  A(pod A2) also tries to connect and occupy pod B1(same pod). Pod B1 will continuously  reject the occupati

[2020-11-18 08:34] anyyyy commented on #26556
Hello, I have a question about `outlierDetection`. If the fuse is triggered and the service is evicted, I learned that the eviction time=`baseEjectionTime`*the number of evictions, then is there a maximum eviction time? If there is no maximum, does it mean that you will be evicted for an infinite period of time if the service is not stable enough? I did not find a detailed description of the maxim

[2020-11-18 08:37] jiangshantao-dbg opened #28991 "discoveryAddress use FQDN to support pod with default dnsPolicy"
**Describe the feature request**
when pod use dnsPolicy=default，the /etc/resolv.conf without search options which cause pod can't connect with pilot (istiod.istio-system.svc:15012) and tracing (zipkin.istio-system:9411).

debug logs:

**Describe alternatives you've considered**
manifests/charts/istio-control/istio-discovery/templates/configmap.yaml  `discoveryAddress` and `zipkin.address` can use

[2020-11-18 08:37] singhdeepu commented on #26628
Below codes are getting used to make grpc function calls:
[code]

[2020-11-18 08:50] daixiang0 commented on #27647
Details refer to [fortio release note](https://github.com/fortio/fortio/releases/tag/v1.8.0)

[2020-11-18 11:04] yingjianjian opened #28993 "Unable to specify name: TCP-80 through Service manual protocol selection"
**Bug description**
Name: TCP-80 cannot be specified through service manual protocol selection. It can be used if modified to HTTP-80
![image](https://user-images.githubusercontent.com/30587919/99522318-72bf2d00-29d0-11eb-8045-3a9c7dc03fcc.png)

routing rules are ignored

svc,dr,vs:
[code]

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --

[2020-11-18 12:19] nataraj24 commented on #27727
Hi @howardjohn

Below is the curl command

curl http://k8s.ad.test.com:31128/infra/ui/infra.jsp

Below is the config dump of the ingress gateway pod.

[config_dump.zip](https://github.com/istio/istio/files/5559942/config_dump.zip)

[2020-11-18 12:41] 01mcgrady01 commented on #28954
In fact, my problem is that I got a rabbitmq server outside the k8s cluster, the rabbitmq server serves on port 5673, and my client pod in istio injected namespace can't connect to the rabbitmq server by server's ip and port. The log of rabbitmq shows "bad header". If I removed the headless service, everything works fine.

[2020-11-18 12:48] Stono opened #28994 "BlackHole when REGISTRY_ONLY to GKE Metadata Server"
**Bug description**
With outboundTrafficPolicy `REGISTRY_ONLY`, and the following Service Entry:

[code]

I still see failed requests to the metadata server in `istio-proxy`:

[code]

This is presumably because the app (cloudsql-proxy) is attempting to use a `Host: 169.254.169.254`.  There's no way to make it use a hostname however.

It isn't clear to me if this is a bug, or a *won't fix* style is

[2020-11-18 13:45] carryxyh commented on #28523
@howardjohn

sorry for bothering.

I tried to let sidecar in the k8s cluster to connect to the local pilot to debug the information in the push process.

I add an annotation to the injected deployment file like this:

[code]

to tell the sidecar connect to my pilot address.

After that, seems sidecar start failed..

![image](https://user-images.githubusercontent.com/12047600/99537640-e2401700-29e6

[2020-11-18 13:46] carryxyh commented on #28523
[code]

[2020-11-18 13:47] carryxyh commented on #28523
injected file like this, use istio 1.7.3.

[2020-11-18 14:17] joberdick-rcd commented on #28969
Hi @shamsher31, I think that might solve: https://github.com/istio/istio/issues/28967. We would just need one manifest per revision?

I don't see how that solves the issue of a default namespace label though. I suppose something like this could work:

[code]
When default is true, that version will be what istio-injection=enabled goes to.
The only risk seems to be if someone accidently sets default

[2020-11-18 14:23] liamawhite commented on #28038
Related RFC, https://docs.google.com/document/d/1Rmp9B3DDypgMCau-YAqidx_r3qvKLZj6jUX-t22zj84/edit

cc @howardjohn

[2020-11-18 14:38] fbsb opened #28995 "Istioctl falls back to internet when doing an upgrade"
**Bug description**
When upgrading istio via istioctl with locally available manifests istioctl falls back to downloading the manifests from github

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[x] Upgrade

**Expected behavior**
Istioctl should fail with an er

[2020-11-18 14:47] laek3 opened #28996 "TLS parameters cannot be configured with EnvoyFilter"
**Bug description**
We are unable to configure TLS parameters (to control the TLS version, or set TLS ciphersuites, curves etc.) using an Envoy Filter.
Specifically, we would like to force the use of TLSv1_3 and of the CECPQ2 curve, a Post-Quantum key exchange available in BoringSSL, which works fine in stand-alone Envoy.
For that, we wrote a configuration patch in an EnvoyFilter. It should be suf

[2020-11-18 15:00] shamsher31 commented on #28270
@78188869 I think this will help.

https://preliminary.istio.io/latest/docs/setup/upgrade/gateways/

[2020-11-18 15:02] #23749 closed

[2020-11-18 15:11] cristi-vlad commented on #28910
I have exactly same issue in 1.7.0

[2020-11-18 15:31] howardjohn opened #28997 ""ERROR: unknown cluster" on multicluster test startup"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28968/integ-multicluster-k8s-tests_istio/1328919986210607104

I haven't seen this too often

cc @stevenctl

[2020-11-18 15:43] #26611 closed

[2020-11-18 15:43] #28104 closed

[2020-11-18 15:55] howardjohn commented on #27727
@nataraj24 everything looks fine here. Can you try `curl http://k8s.ad.test.com:31128/infra/ui/infra.jsp -H "Host: k8s.ad.test.com"` as well to be sure?

In the original issue you mentioned two different error cases, which do you hit?

Can you attach the Service? I suspect the request is not even getting to the pod

[2020-11-18 16:31] howardjohn commented on #28949
https://prow.istio.io/view/gs/istio-prow/logs/integ-telemetry-k8s-tests_istio_postsubmit/1328973468040957952

[2020-11-18 17:16] howardjohn commented on #28991
This should be possible but its not trivial since we needto handle the certs as well.

BTW, `trustDomain` is the wrong field, it should be `.Values.global.proxy.clusterDomain`

[2020-11-18 17:17] howardjohn commented on #28993
This is working as intended. if you declare the protocol as TCP, you are telling Istio to treat it as TCP traffic and not parse the HTTP headers. You cannot use `http` traffic routing in VirtualService with TCP.

[2020-11-18 17:17] #28993 closed

[2020-11-18 17:23] howardjohn opened #29004 "Multicluster install: failed calling webhook "validation.istio.io""
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28998/integ-telemetry-mc-k8s-tests_istio/1329089529902010368

I have seen this a couple other times as well.

I think for MC @irisdingbj recently change it to "fail close" out of the box, maybe we have an ordering issue with applying the control planes in parallel @stevenctl ?

[2020-11-18 17:47] howardjohn commented on #26876
This is fixed, verified on master

[2020-11-18 17:47] #26876 closed

[2020-11-18 17:48] howardjohn commented on #27154
I think we could fix this by capturing dns traffic from envoy. Not sure if we can configure envoy to do this directly or need some iptables magic

[2020-11-18 17:48] howardjohn commented on #27925
This is fixed now

[2020-11-18 17:48] #27925 closed

[2020-11-18 17:49] howardjohn commented on #28285
dupe of https://github.com/istio/istio/issues/28949

[2020-11-18 17:49] #28285 closed

[2020-11-18 18:10] #28958 closed

[2020-11-18 18:43] gargnupur commented on #28949
Thanks.. I need to add some wait after applying EnvoyFilterPatch.. will send code for review...

[2020-11-18 18:44] gargnupur commented on #28773
Fixed via https://github.com/istio/istio/pull/28892

[2020-11-18 18:44] #28773 closed

[2020-11-18 18:45] gargnupur commented on #28503
Fixed via https://github.com/istio/istio/pull/28590

[2020-11-18 18:45] #28503 closed

[2020-11-18 18:49] #28971 closed

[2020-11-18 18:49] #28972 closed

[2020-11-18 18:49] #28986 closed

[2020-11-18 18:53] gargnupur commented on #26888
I think after @howardjohn's PR https://github.com/istio/istio/pull/28963, it has come down to around 45-55 mins. Looking at single cluster runs, it's at around 20-30 mins (https://prow.istio.io/?repo=istio%2Fistio&job=integ-telemetry-k8s-tests_istio).

So we do have work to get the times down a lil more for the multicluster tests. In the mean time for 1.8, if folks are ok, we can make the multiclu

[2020-11-18 19:06] howardjohn commented on #26888
I do not think we can have a 55 minute test. We spent many many months of effort to get test times down, its now down to ~25 mins (bottleneck is security and telemetry), and I would be very disappointed to regress from that.

I think we should invest in making the single cluster telemetry test more optimized, which will in turn lead to improvements in the multicluster time and bring it down. These

[2020-11-18 19:11] nmittler commented on #26888
Without this test, we won't have telemetry test coverage for 1.8 which is a gate for multicluster beta. I'd prefer we land this for 1.8 and then have a P0 to improve performance immediately following the release. WDYT?

[2020-11-18 19:15] howardjohn commented on #26888
I personally would rather have sane test times and stability than multicluster beta. I really, really do not want to go back to waking up at midnight to hit `/retest` on all my PRs because of slow, flaky tests.

They are not just slow, currently at 74% pass rate: https://prow.istio.io/?job=integ-telemetry-mc-k8s-tests_istio_postsubmit. We had a month where the *aggregate* postsubmit success rate f

[2020-11-18 19:20] nmittler commented on #26888
@stevenctl do you have a feel for why multicluster tests are so flaky in comparison?

[2020-11-18 19:24] gargnupur commented on #26888
Also, I looked at https://prow.istio.io/?job=integ-telemetry-mc-k8s-tests_istio_postsubmit and all the recent runs they have failed because of setup error in one of the test.
There are errors like these:
"- Processing resources for Ingress gateways, Istiod remote. Waiting for Deployment/istio-system/i...2020-11-18T18:26:12.060349Z	error	installer	failed to create "EnvoyFilter/istio-system/metadata

[2020-11-18 19:33] douglas-reid commented on #26888
Surely we don't have a test with 30 minutes of waiting for metrics, right?

Looking at the average test time reported in an example log, it looks like the actual run time of the tests is ~1m on average for 19 different tests (if i'm reading https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28998/integ-telemetry-mc-k8s-tests_istio/1329117899503177728 correctly).

Do we need to look

[2020-11-18 19:34] mandarjog commented on #26888
Looking at https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28998/integ-telemetry-mc-k8s-tests_istio/1329117899503177728 which took 50 mins  only 8 mins are accounted for by the tests running.
Is 42 mins spent in setup?

[2020-11-18 19:34] howardjohn commented on #28997
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/28925/integ-multicluster-k8s-tests_istio/1329112652969938944

[2020-11-18 19:34] howardjohn commented on #29004
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/28925/integ-telemetry-mc-k8s-tests_istio/1329112652944773120/build-log.txt

[2020-11-18 19:42] istio-testing opened #29008 "[release-1.8] Convert ca custom root into multicluster supported"
Manual cherrypick required.

#28621 failed to apply on top of branch "release-1.8":
[code]

[2020-11-18 19:43] howardjohn commented on #26888
By my check 9 min test time for MC, vs 7m30s for standard

standard:
[code]

mc (note some are not yet MC enabled it seems)
[code]

As far as test setup: the initial overhead for building docker images, setting up kind cluster is ~5minutes. This does NOT include the time it takes to spin up Istio and tear it down; the telemetry tests do this 12 times (as does security; pilot does it 5 times).

So

[2020-11-18 19:53] gargnupur commented on #26888
The quick refactor that I know of is as follows:
1) Move dashboard test to istio/istio/tests/integration/telemetry/stats/prometheus/nullvm/ suite
2) Move client tracing zipkin test to  istio/istio/tests/integration/telemetry/stats/prometheus/nullvm/ suite
3) Move TestCustomizeMetrics test to istio/istio/tests/integration/telemetry/stats/prometheus/nullvm/ suite
3) TestVMTelemetry -> mark it as sin

[2020-11-18 19:53] douglas-reid commented on #26888
We should be able to reduce the count from 12 to 3 fairly easily with a refactor of the existing tests (stackdriver, prom + zipkin, opencensus). That should be significant savings. With extra creativity, we may be even be able to get to 1 (control plane revisions, etc.).

I think that is where we should spend this effort.

[2020-11-18 20:12] wez470 opened #29011 "Debian sidecar package seems malformed"
**Bug description**
Following https://preliminary.istio.io/latest/docs/setup/install/virtual-machine/#configure-the-virtual-machine, I get:
[code]
On step 4.

Running on GCE debian-10-buster-v20201112

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

[2020-11-18 20:17] wez470 commented on #29011
Might be something to do with release versions actually. `curl -LO https://storage.googleapis.com/istio-release/releases/1.8.0/deb/istio-sidecar.deb` gives me a package that doesn't work, but from `curl -LO https://storage.googleapis.com/istio-release/releases/1.8.0-rc.0/deb/istio-sidecar.deb`, the package install correctly.

[2020-11-18 20:27] Secretions commented on #27900
I'm trying to figure out this same thing. I honestly don't grok why setting it to tcp wouldn't fix it--shouldn't it then be just passing the traffic verbatim and be pretty much compatible with any tcp protocol?

[2020-11-18 21:08] istio-testing opened #29013 "[release-1.8] Fix the duplicate test cases because of multiple b services deployed and skip the current failed ca_custom_root test cases in multicluster setup"
Manual cherrypick required.

#28928 failed to apply on top of branch "release-1.8":
[code]

[2020-11-18 21:49] istio-testing opened #29019 "[release-1.7] Add canonical service tags to all trace spans"
Manual cherrypick required.

#28801 failed to apply on top of branch "release-1.7":
[code]

[2020-11-18 22:21] rglyons commented on #26687
hello!

I am still seeing this issue in my environment, even when `PILOT_FILTER_GATEWAY_CLUSTER_CONFIG="true"` is set in the istiod env. The ingressgateway pods in the istio-system reach their resource limit of 1Gi and then die with OOMKilled.

Here's the istiod env -
[code]

and the istiod image -
[code]

There are ~3000 pods on the k8s cluster that have sidecars, and thus the outbound config tha

[2020-11-18 23:24] howardjohn opened #29022 "istioctl unit tests open up http://localhost:3456/ in browser"
**Bug description**
Running istioctl unit tests opens http://localhost:3456/ in my browser

**Expected behavior**

Do not open my brwosers

**Steps to reproduce the bug**

`go test ./istioctl/...`

[2020-11-18 23:57] Nordes opened #29024 "Nice to have: On RequestAuthentication verify the scheme (Bearer, basic...)"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)
**Describe the feature request**
Maybe it's already part of Istio, but since I was not finding how to do it, I guess it's a feature request.

Basically, what I am asking for is that when we create a RequestAuthentication resource, it would be nice when we put the jwtRules that we en

[2020-11-19 00:00] howardjohn opened #29025 "Multicluster tests use different/wrong Kind image"
https://github.com/istio/istio/blob/a7dce38dae9be74cadc85bb2a268fb8ac53c5bb4/prow/integ-suite-kind.sh#L41

This is used exclusively by multicluster tests. Aside from the fact we should have a single place where its configured, it is also out of sync with the single cluster tests.

We should have a single location for the default node image to be set by all sources.

cc @stevenctl @jtrbs @gargnupur

[2020-11-19 00:07] stevenctl opened #29026 "read WorkloadEntries across clusters"
As part of the [design doc](https://docs.google.com/document/d/1Q_JqW7v1SC2Crg5ped9Bf8fyauglB-YqHYk7hwSuWOk/edit) we will support reading WorkloadEntries from other connected primary clusters to support auto-registration and health checking in combination with multi-primary.

#28768 will do some of the groundwork required for this change

Other changes that need to be made:

* Non-k8s ServiceRegis

[2020-11-19 00:35] carolynhu opened #29031 "feat(dashboard): Support for grpc streaming messages metrics"
From 1.8, we added grpc streaming metrics

- gRPC Request Message Count (istio_request_messages_total): This is a COUNTER incremented for every gRPC message sent from a client.

- gRPC Response Message Count (istio_response_messages_total): This is a COUNTER incremented for every gRPC message sent from a server.

Should reflect this in the grafana dashboard.

[2020-11-19 00:36] carolynhu commented on #29031
cc @douglas-reid @mandarjog @bianpengyuan

[2020-11-19 00:51] howardjohn commented on #29011
1.8.0 is not yet released, you are getting a 404:
[code]

[2020-11-19 00:53] ediezh commented on #28910
The workaround I use for gateway metrics is https://github.com/istio/istio/issues/28424#issuecomment-728375252

[2020-11-19 01:07] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29027/integ-operator-controller-tests_istio/1329224649644445696

[2020-11-19 01:09] howardjohn commented on #26888
Added better timing to the tests: https://github.com/istio/istio/pull/29027

Kind creation seems to be 90-147s for single cluster. I think the slow ones are due to metallb which we recently added to single cluster tests. For multicluster, 188s (small sample size since I was too impatient for the others to finish...)

Building images is always around 50-70s.

But based on this looks like the vast m

[2020-11-19 01:14] daixiang0 commented on #29022
/assign

[2020-11-19 01:51] yingjianjian commented on #28993
So if it's TCP then Sidecar won't be able to intercept the route because When I set it up like this "istioctl PC Route "I won't be able to see the route

[2020-11-19 01:56] hillbun commented on #28990
when I install by kubectl apply -f generated.yaml

no grafana, kiali,  prometheus, istio-tracing deployment created.  but  istio 1.6.8 version is correct.

[code]

[2020-11-19 01:58] #28901 closed

[2020-11-19 02:12] howardjohn commented on #28993
It still intercepts the traffic but no, it will not show up in routes since
routes are http only

On Wed, Nov 18, 2020, 5:51 PM yingjianjian <notifications@github.com> wrote:

[2020-11-19 02:24] yingjianjian commented on #28993
ru t

![image](https://user-images.githubusercontent.com/30587919/99612791-3aabfe80-2a51-11eb-8ff6-7449fbe3b85b.png)
如图 我是用tcp去

ok thanks！

[2020-11-19 02:28] rampatnaik opened #29033 "[istio 1.4.6] : nil pointer evaluating interface {}.enabled"
Hello

I am using istio 1.4.6 , while compling I am getting

executing "certmanager/templates/poddisruptionbudget.yaml" at <.Values.global.defaultPodDisruptionBudget.enabled>: nil pointer evaluating interface {}.enabled

role.yaml:4:7: executing "istio/charts/gateways/templates/role.yaml" at <($spec.sds) and (eq $spec.sds.enabled true)>: can't give argument to non-function $spec.sds

 rolebindings

[2020-11-19 02:30] morvencao commented on #28990
IIRC, accessLogEncoding is removed from old helm values parameters from 1.7.x, it should exist in 1.6.x

[2020-11-19 02:47] uvw commented on #26689
Having #23983 implemented might solve this. To make it work, we could add two `ServiceEntries`:
1. Azure SQL gateway with a specific hostname of the SQL server and 1433 port.
1. CIDR/addresses block of the Azure region where this Azure SQL server/db is running and 11000-11999 port range.

I am looking forward to any developments in this regard as well.

[2020-11-19 02:59] wez470 commented on #29011
yup, thanks.

[2020-11-19 02:59] #29011 closed

[2020-11-19 03:24] FqqCS opened #29035 "EnvoyFilter HTTPFilter Patch Not work with 1.7.x"
Looks like when there is a patch apply to Network_Filter  envoy.http_connection_manager  with operator merge, All patches applied to  HTTP_FILTER are ignored.

Proxy: 1.7.4
istio: 1.7.4

Envoy Filter with a patch apply to NETWORK_FILTER , it works.
Envoy Filter with a patch apply to HTTP_FILTER; i tried Lua Filter , it works.
Envoy Filter with a patch apply to NETWORK_FILTER and a patch apply to H

[2020-11-19 03:33] nataraj24 commented on #27727
Hi @howardjohn

sorry i had given browser url.  Below is the exact curl url and its output

curl -v http://10.73.123.32:31128/infra/ui/infra.jsp

* About to connect() to 10.73.123.32 port 31128 (#0)
*   Trying 10.73.123.32...
* Connection refused
* Failed connect to 10.73.123.32:31128; Connection refused
* Closing connection 0
curl: (7) Failed connect to 10.73.123.32:31128; Connection refused

Bel

[2020-11-19 03:41] yingjianjian commented on #28993
Sry, I just tested and found that the SVC changed to the following. After that, the route table has route entries. Why?
[code]
            {
                "name": "wsn-201116.xhzy-pe.svc.cluster.local:80",
                "domains": [
                    "wsn-201116.xhzy-pe.svc.cluster.local",
                    "wsn-201116.xhzy-pe.svc.cluster.local:80"
                ],
                "route

[2020-11-19 04:10] howardjohn commented on #29033
Hi, sorry this isn't working for you. Unfortunately, Istio 1.4 is no longer supported https://istio.io/latest/news/support/announcing-1.4-eol-final/ and this code is no longer present in our code base at all, so we won't be able to fix this. Thanks!

[2020-11-19 04:10] #29033 closed

[2020-11-19 04:20] erdun commented on #14537
In my scene， goroutines and memory increase sharply while there're not many pods creating.

istioctl version
[code]

![image](https://user-images.githubusercontent.com/16429864/99620425-769a9000-2a60-11eb-9405-938ada8462fd.png)
![image](https://user-images.githubusercontent.com/16429864/99620567-c0837600-2a60-11eb-945b-fec64b68c092.png)

[2020-11-19 05:01] #21382 closed

[2020-11-19 05:02] #23628 closed

[2020-11-19 05:05] howardjohn commented on #26191
not stale

[2020-11-19 05:05] howardjohn commented on #22217
not stale

[2020-11-19 05:21] morvencao commented on #28995
It does fail with an error message manifests is not valid:
[code]

What do you suggest?

[2020-11-19 05:35] yingjianjian commented on #28993
I'm trying to change the SVC port to port 81 and change the number in vs to 81 and the route exists and the curl access address can also receive normal packets and I guess there's only port 80 that can't be used for TCP

[2020-11-19 06:35] daixiang0 commented on #28291
Commit 162b7a24b6 has merge it.

@howardjohn please close it.

[2020-11-19 07:27] liuzheng commented on #26687
@rglyons
Could you pls show me your `VirtualService`, `Sidecar`, `ServiceEntry` example.

[2020-11-19 08:25] dragonix84 opened #29042 "Kafka EnvoyFilter - Istio 1.7 - Kafka 2.4.0"
**Bug description**
Hi,

I want to be able to handle Kafka traffic in my service mesh, i have created a kafka cluster with strimzi, and inject kafka-consumer and producer to simulate traffic, but Kiali show 2 types of traffic "kafka" and unknown

![image](https://user-images.githubusercontent.com/74705227/99639919-8c03c000-2a48-11eb-9ef7-71639284c8f4.png)

I have apply this in order to be able tha

[2020-11-19 10:01] FqqCS commented on #29035
Update
Proxy: 1.7.4
istio: 1.7.4

Update Case:
Envoy Filter with a patch apply to NETWORK_FILTER , it works.
Envoy Filter with a patch apply to HTTP_FILTER; i tried Lua Filter , it works.
Envoy Filter with a patch apply to NETWORK_FILTER and a patch apply to HTTP_FILTER; NETWORK_FILTER patch works, but HTTPFilter patch Not work.

apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:

[2020-11-19 10:05] huanghuangzym commented on #26630
envoy not set scheme,after header complete code, can we add it for http code?

[2020-11-19 10:11] nak3 opened #29043 "Istio does not update the status of service-apis's gatewayclass"
**Bug description**

The status of service-apis's gatewayclass is always Unknown.

[X] Networking

**Expected behavior**

The status of service-apis's gatewayclass should be updated as https://kubernetes-sigs.github.io/service-apis/gatewayclass/#gatewayclass-status

**Steps to reproduce the bug**

1. Deploy the following GatewayClass.

[code]

2. See the status field. (It always `Unknown`.)

[code

[2020-11-19 10:15] dedsm commented on #24436
yes please, I'm trying to figure out how to make it and finding info on this is particularly difficult.

[2020-11-19 10:50] Janesee3 opened #29044 "Fault injection and URI rewrite for "self-routing" VirtualService do not work as expected"
**Bug description**
As described in title - fault injection and URI rewrite don't work for "self-routing" VirtualService (ie. both `host` and `destination` values are the same).

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Steps to reproduce th

[2020-11-19 11:37] davidg-sainsbury opened #29045 "Traffic routing/labelling behaves differently when port name has different prefix"
**Bug description**

We are experiencing an odd behaviour when the port name of a deployment and service is prefixed `tcp-` compared to `http-`.

If we set the port name to be tcp (see below) we do not see any labelling in ISTIO Prometheus i.e under istio_requests_total,  and it looks like all pods match against the ingressgateway rather than their own pod label with many unknown values.

[code]

[2020-11-19 12:52] esnible commented on #24743
@mandarjog @douglas-reid re-opening because we discussed having deprecation (or similar) warnings in 1.9 at yesterday's Telemetry/Extensions meeting.

[2020-11-19 12:54] Kyslik commented on #28856
Current workaround is _hardcoding_ `nodePorts` - the same way how it was on Istio 1.5 when helm was used for templating it https://github.com/istio/istio/blob/release-1.5.9-patch/install/kubernetes/helm/istio/charts/gateways/values.yaml#L55-L73

[2020-11-19 13:11] rafilkmp3 commented on #25642
this must be reopen

[2020-11-19 13:32] carryxyh commented on #28523
[code]

[2020-11-19 13:54] carryxyh commented on #28523
[code]

Also not worked.. Seems like envoy can't connect to my local host, some suggestions? @howardjohn

[2020-11-19 14:39] bcochofel opened #29047 "Istio ingressgateway with SDS"
**Bug description**

I have deployed istio ingressgateway with SDS and certificate from Let's Encrypt. When the certificates gets renew I still need to rollout the gateway in order to have the new certificate. I'm not using custom gateway, I'm just using the default one that's installed with Istio.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemet

[2020-11-19 14:45] esnible commented on #29022
@daixiang0 I don't think your PR will close the issue.  To close the issue the unit tests should use the new flag.

[2020-11-19 14:56] #28970 closed

[2020-11-19 15:41] woyaodeyangguang opened #29048 "Pilot start fail when istio discovery service flag --registries=Mock is set."
**Bug description**

Istio discovery service flag `--registries` is set, then pilot start fail.
The description of flag `--registries` is : https://preliminary.istio.io/latest/docs/reference/commands/pilot-discovery/ .
Comma separated list of platform service registries to read from (choose one or more from {Kubernetes, Mock}) (default `[Kubernetes]`)

So, i set `--registries=Mock` , but pilot 1.8

[2020-11-19 15:43] #28291 closed

[2020-11-19 15:45] howardjohn commented on #24743
@esnible what exactly do we want to warn on?

Since #28931 we now warn on deprecated filter names, deprecated types, and unknown fields

[2020-11-19 15:48] woyaodeyangguang commented on #29048
Can someone assign this issue to me?  I'm happy to create a PR to fix it.

[2020-11-19 15:51] woyaodeyangguang commented on #29048
Can someone assign this issue to me? I'm happy to create a PR to fix it.

[2020-11-19 15:52] howardjohn commented on #27727
When you are calling the `nodePort` address you shouldn't call the Service IP, you need to call the node IP. SEe https://istio.io/latest/docs/tasks/traffic-management/ingress/ingress-control/#determining-the-ingress-ip-and-ports for more information

[2020-11-19 15:58] SpecialYang commented on #29048
@woyaodeyangguang  The same issue with me. I have fixed it. Here  https://github.com/istio/istio/pull/29049

[2020-11-19 16:02] esnible commented on #26276
This issue came up because the IOP created by one version of _istioctl_ triggered this error in a later version of _istioctl_.

_istioctl_ MUST be able to handle IOPs from the previous version, and _SHOULD_ be able to handle IOPs from the versions that users are running.  It is fine to complain, for example if we add something, but it shouldn't fail with `Error: Asset charts/addons/grafana not fou

[2020-11-19 16:11] esnible commented on #24743
@howardjohn Fair enough, I didn't notice that one.

Closing as a duplicate of https://github.com/istio/istio/issues/28920

[2020-11-19 16:15] SpecialYang commented on #29048
Yours issue is not same with me. Because you don't specify config source or the file path for ConfigController, so the server will choose to adpot the default ConfigController which is KubeClient. The logic is correct, because you must need a ConfigController for reciving Istio Config to data plane. So you can specify config source or the file path for ConfigController, then it works. The followin

[2020-11-19 16:16] patrickppeng commented on #28939
Hi Shankar,
Is it possible to totally bypass istiod CA and use used-specified secret/certificate for istiod/pilot and proxies in 1.7.4? or we must use cacerts for istiod/pilot?
What if we put istiod/pilot in a different namespace and inject a sidecar? Could that be a workaround to use "istio-certs" same as the old way? Any concerns or suggestions?

[2020-11-19 16:27] fbsb commented on #28995
I'm sorry, my original description is a bit misleading and doesn't really match what I'm observing. It seems this only triggers when doing an upgrade with manifests stored in a different path than used during install.

Here some steps to reproduce the issue I'm seing.

Start from a fresh minikube

[code]

Install with manifests from `manifests-install` path

[code]

Then perform an upgrade from a

[2020-11-19 16:41] woyaodeyangguang commented on #29048
Your issue is not same with me. Pilot run in k8s environment，so i can just change registry.

[2020-11-19 16:50] SpecialYang commented on #29048
If you don't specify K8s as your config source or don't set the registries as K8s，the server won't initial KubeClient. You can try the method as I mentioned above.
[code]

[2020-11-19 17:08] woyaodeyangguang commented on #29048
In some cases, in stead of specifying config source or file path for ConfigController  i think pilot should  use k8s as default config source in k8s environment. I have solved this issue in this case, I will create a PR later.

[2020-11-19 17:11] tanjunchen opened #29052 "istioctl ps or pc adds debugging function for virtual machine scenarios"
**Describe the feature request**

the support for vm(istioctl ps)

**Describe alternatives you've considered**

istioctl ps vm176.vm(vm service)
Error: unable to retrieve proxy container name: unable to retrieve Pod: pods "vm176" not found

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[x]

[2020-11-19 17:15] nataraj24 commented on #27727
Hi @howardjohn

I am using nodeip only in curl command Not using service ip

[2020-11-19 17:41] howardjohn commented on #29004
https://storage.googleapis.com/istio-prow/logs/integ-security-multicluster-tests_istio_postsubmit/1329360717203116032/build-log.txt

[2020-11-19 17:42] howardjohn opened #29053 "VM tests fail with "transport: authentication handshake failed""
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-117_istio_postsubmit/1329360721980428288

https://storage.googleapis.com/istio-prow/logs/integ-k8s-117_istio_postsubmit/1329360721980428288/artifacts/pilot-endpointslice-c08239c3b4c/_suite_context/echo-1-35111-state-649678145/cluster-0/vm-v1-598fc968f-mqwhn_istio-proxy.envoy.log

@stevenctl possibly related to your recent changes?

[2020-11-19 17:43] howardjohn commented on #29053
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-117_istio_postsubmit/1329438521563287552

Oddly it seems to always happen in the 117 endpointslice test... may be just luck though

[2020-11-19 17:43] howardjohn commented on #29053
https://prow.istio.io/view/gs/istio-prow/logs/integ-k8s-117_istio_postsubmit/1329462687528128512

[2020-11-19 18:26] nmittler commented on #28942
@lambdai @howardjohn who is the right person to look into this?

[2020-11-19 18:26] istio-testing opened #29054 "[release-1.7] Fully flag protect service-apis"
Manual cherrypick required.

#28488 failed to apply on top of branch "release-1.7":
[code]

[2020-11-19 18:46] ldemailly commented on #27647
you can do also do fan out for both tcp and http now too
https://github.com/fortio/fortio/releases/tag/v1.9.0
(and 1.9.1)

I just moved the latest_release to 1.11.2 let me know if that cause any issue with istio's automated tests

[2020-11-19 18:57] #29025 closed

[2020-11-19 19:10] #28824 closed

[2020-11-19 19:12] rglyons commented on #26687
@liuzheng there are about 3000 VirtualServices on the cluster across 500+ namespaces, and each namespace has a Sidecar that limits the cluster size to only what's relevant to that namespace. I don't think those VirtualServices/Sidecars are relevant to the ingressgateway, since it doesn't forward traffic to any of them, but please correct me if I am wrong in that assumption.

Only a few of these 30

[2020-11-19 19:35] liwenhao0810 commented on #28996
@istio/wg-networking-maintainers
Please take a look at this issue to gather some thoughts on the issue and proposed fixes.

[2020-11-19 19:44] howardjohn commented on #29004
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29050/integ-security-multicluster-tests_istio/1329457389685968896

[2020-11-19 19:51] howardjohn commented on #28315
non MC failure: https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29055/integ-security-k8s-tests_istio/1329492136445349888

[2020-11-19 19:53] stevenctl commented on #29004
[code]

I remember seeing that we setup webhook patch in every primary cluster for every other cluster, regardless if the other clusters are primary or remote. This means for each remote cluster we will have multiple pilots trying to do this patch. We will also be performing this patch from one primary cluster on another primary cluster's behalf...

We should:
1. detect if the cluster specified by

[2020-11-19 19:53] stevenctl commented on #29004
cc @irisdingbj ^

[2020-11-19 20:08] jp-chl commented on #28605
Hi,
Is there any workaround for this? I have the same problem, i.e., "metrics" endpoints is not working but "/stats/prometheus" does.

Thanks in advance

[2020-11-19 21:13] Aryan-NBS commented on #22068
Did you try in Istio 1.7.* ?

[2020-11-19 21:16] Aryan-NBS commented on #22068
Did you try on Istio 1.7.*

[2020-11-19 21:22] stevenctl commented on #29052
related/part of: https://github.com/istio/istio/issues/28930

[2020-11-19 21:25] Aryan-NBS commented on #22068
@songford  Did you try on Istio 1.7.4 ?

[2020-11-19 21:42] howardjohn commented on #28315
nevermind, we accidentally reverted the fix. https://github.com/istio/istio/pull/29060

[2020-11-19 21:50] #27211 closed

[2020-11-19 21:51] howardjohn commented on #22443
This is presumed fixed in 1.8 unless we hit it again

[2020-11-19 21:51] #22443 closed

[2020-11-19 21:53] martin2176 opened #29061 "Istio 1.8 release notes missing few important features"
Reading through release notes for new features in 1.8, I find three important features are missing in Rel notes.

1. Multicluster endpoint discovery feature. Istiod can in 1.8 discover endpoints in local and remote clusters . From my pov, this is a very very useful feature .
2. Dedicated East west gateway in multicluster deployments. new in 1.8?
3. New parameters meshID,clusterName, network etc fo

[2020-11-19 21:54] howardjohn commented on #28541
Closing as fixed by ^

[2020-11-19 21:54] #28541 closed

[2020-11-19 22:09] howardjohn commented on #13422
I think you can resolve this by placing an explicit destination rule in istio-system to disable only from the gateway. This seems working as intended to me. See https://istio.io/latest/docs/ops/best-practices/traffic-management/#cross-namespace-configuration for DR selection ordering

[2020-11-19 22:11] howardjohn commented on #23369
This is fixed in https://github.com/istio/istio/pull/28457. Since this is tracked in a few places, lets consolidate on https://github.com/istio/istio/issues/5679. Thanks!

[2020-11-19 22:11] #23369 closed

[2020-11-19 22:11] howardjohn commented on #26569
This is fixed in https://github.com/istio/istio/pull/28457. Since this is tracked in a few places, lets consolidate on https://github.com/istio/istio/issues/5679. Thanks!

[2020-11-19 22:11] #26569 closed

[2020-11-19 22:11] howardjohn commented on #27565
This is fixed in https://github.com/istio/istio/pull/28457. Since this is tracked in a few places, lets consolidate on https://github.com/istio/istio/issues/5679. Thanks!

[2020-11-19 22:11] #27565 closed

[2020-11-19 22:13] howardjohn commented on #22490
@stevenctl this might be related to what you are doing. Or maybe not

[2020-11-19 22:15] howardjohn commented on #27839
Fixed by https://github.com/istio/tools/pull/1247

[2020-11-19 22:15] #27839 closed

[2020-11-19 22:17] howardjohn commented on #26888
[code]

The multicluster cleanup is different than the single cluster, and far far slower: https://github.com/istio/istio/blob/879a94aa2e5e868107b2636a05bb8de76425fc16/pkg/test/framework/components/istio/operator.go#L172

compare to single cluster
[code]

[2020-11-19 22:20] howardjohn commented on #29047
@bcochofel do you have any more logs or more info? Also would be interested if this happens on more recent versions (https://istio.io/latest/news/support/announcing-1.5-eol-final/).

This feature is pretty well tested so if its breaking for you there must be some environmental difference or similar. Does this always occur or just sometimes?

[2020-11-19 22:23] stevenctl commented on #29061
This isn't really new – we've had this functionality since at least 1.6.

This definitely deserves a note.

This isn't really new either. We've always required these as inputs in our multicluster install – I guess they do need to be specified both in istio install and eastwest gateway install.

[2020-11-19 22:26] nmittler commented on #29061
Agreed ... the east-west gateway is really the only new thing here.

[2020-11-19 22:33] mdhume commented on #13422
@howardjohn Due to the way DR selection ordering works, it seems to ignore the destination rule created explicitly in the istio-system namespace (default config namespace) in favor of the DR created in the server's namespace. As a result we are not able to override it.

[2020-11-19 22:33] howardjohn commented on #13422
I think that is fixed, let me verify.

[2020-11-19 22:34] mdhume commented on #13422
Ah ok, we were testing in Istio 1.5, is it fixed in a later version?

[2020-11-19 22:38] #27637 closed

[2020-11-19 22:38] howardjohn commented on #13422
It is in #25962, which is 1.8+. You will need exportTo=. on the istio-system one

[2020-11-19 22:55] kyessenov opened #29063 "wasm: no feedback on module errors"
- A module with an infinite loop hangs the request for awhile, subsequent requests pass through.
- A module with a panic hangs on first request, but then subsequent requests pass through. Passing through after panic is bad, since this could be exploited by breaking authz extensions.

[2020-11-19 23:38] mmckane commented on #14598
@howardjohn was this implemented with the closure of #24667 and the documentation hasn't been updated yet? Or was the ability to specify the namespace in the credentialName dropped from the PR?

For example can I specify:
- Secret format will change from <k8s-secret-name> to kubernetes|<secret-name>.<secret-namespace> to support future changes

[2020-11-19 23:44] howardjohn commented on #14598
@mmckane that PR lays the groundwork but we still need to design the auth story for authorizing a gateway to access another namespace. The design is in https://docs.google.com/document/d/1nwTh2g7FgdkC8suc3SHZ5le_4Rkm8YvLY8Cgah4cm-I.

[2020-11-19 23:47] Monkeyanator opened #29065 "'make lint-helm-global' fails on release-1.7 branch"
On release-1.7 branch, `make lint-helm-global` fails with

[code]

Bisect shows that it started failing after a [common files update](https://github.com/istio/istio/commit/b84be5951b3ee27706134c355951fa4f92bf370f).`

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[x] Test and Release
[ ] User Experience
[ ] Developer Infrastructur

[2020-11-20 00:21] JulienBreux commented on #28689
I have the same issue!

[2020-11-20 00:51] #28949 closed

[2020-11-20 00:56] martin2176 commented on #29061
I didnt come across this automatic multicluster service discovery in pre 1.8 releases. I used to create ServiceEntry as MESH_INTERNAL to add a service in a replicated control plane multicluster mesh as documented here -->
https://istio.io/v1.7/docs/setup/install/multicluster/gateways/

After I installed 1.8, I could see the the experimental feature remote service discovery by allowing Istio CP to

[2020-11-20 01:43] patrickppeng commented on #28939
I successfully installed istiod and ingressgateway/egressgateway on different namespace istio-control and istio-system with istiooperator CR. But the proxies failed to connect to discovery with the same error:
2020-11-20T00:18:12.527890Z     error   xdsproxy        failed to connect to upstream istiod.istio-system.svc:15012: context deadline exceeded
It seems like the CA is configured correctly to

[2020-11-20 01:47] daixiang0 commented on #29022
It confuses me since my pr is to add a flag to fix it.

[2020-11-20 01:48] apolovov opened #29066 "istio-operator can't handle IstioOperator CR deletion with revision and custom namespace"
**Bug description**

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

istio-operator must delete all resources related to revision after deleting iop resource.

**Steps to reproduce the bug**

* Install istio-operator deployment

[2020-11-20 02:22] john-deng commented on #28891
@howardjohn I just tested the latest release v1.8.0 with this guide: https://istio.io/latest/docs/setup/install/multicluster/multi-primary/, it has the same issue,

[code]

[2020-11-20 02:45] hzxuzhonghu commented on #28891
Thanks https://github.com/istio/istio/pull/29068

[2020-11-20 04:47] nak3 opened #29070 "service-api's HTTPRoute spec.gateways does not work"
**Bug description**

- HTTPRoute spec.gateways is not working.

[X] Networking

**Expected behavior**

**Steps to reproduce the bug**

1. Deploy service-apis

2. Deploy HTTPRoute with `spec.gateways.allow` to `FromList`.

(e.g - gatewayRefs is invalid.)

[code]

3. The HTTPRoute always work even thought the gatewayRefs is invalid.

**Version (include the output of `istioctl version --remote` and `

[2020-11-20 05:00] carolynhu opened #29071 "istio/tools: make perf load test distributed on two worker threads"
Currently, our flamegraph https://storage.googleapis.com/istio-build/perf/20201120_nighthawk_release-1.8_1.8-alpha.c87a4c874df27e37a3e6c25fa3d1ef6279685d23/flamegraphs/e3da31e5_qps_1000_c_16_1024_none_mtlsbothsidecars_perf.svg indicates, the perf test is dominating by a single worker thread, which might affect the performance data. We'd better make it roughly evenly distributed executing on two wo

[2020-11-20 05:26] carolynhu commented on #29071
based on @ldemailly suggestion: `usually it's normal to keep hot threads hots and only get the next threads if the previous one is busy, to get best perf` and `round robin is less efficient than first available/ordered in high perf event handling`. The current setup is ideal. We did not more threads (like 3), is largely because our current qps setting is not that much high.

an example https://gcs

[2020-11-20 05:26] #29071 closed

[2020-11-20 06:49] slzcc opened #29073 "1.7.3 upgrade 1.8.0 error"
The upgrade process is as follows:

[code]

Istiod Logs:
[code]

I don't know which stage caused the upgrade failure, please tell me how to solve it.

[2020-11-20 07:41] rampatnaik opened #29077 "how to setup internal and external loadbalancer on 1.7.2 istio"
how to setup internal and external loadbalancer  on 1.7.2 istio

[2020-11-20 07:41] rampatnaik commented on #29077
We need svc for

 internal and external loadbalancer on 1.7.2 istio

[2020-11-20 07:44] vikaschoudhary16 commented on #23457
I debugged this issue recently on GCE and EKS. This has nothing to do with port 15002 as @howardjohn  also pointed out. If this is happening means istio-cni could not setup redirection iptable rules. There are couple of scenarios depending on kubelet configuration which can result into failure of istio-cni loading and then all such cases will manifest in this istio-validation issue. Here are the o

[2020-11-20 08:07] hzxuzhonghu commented on #20952
I have designed an API, appreciate if anyone can leave your comments
https://docs.google.com/document/d/1628LHcwuCvTRFhk8rsQKQUmgCxnY6loPFSxliADQDIc/edit#

[2020-11-20 08:08] hzxuzhonghu commented on #22068
I have designed an API, appreciate if anyone can leave your comments
https://docs.google.com/document/d/1628LHcwuCvTRFhk8rsQKQUmgCxnY6loPFSxliADQDIc/edit#

[2020-11-20 09:22] bcochofel commented on #29047
@howardjohn I can give logs, can you tell me what are the most usefull ones?

Let me try to describe the environment a bit, we have a pipeline that renews the certificate and stores it on Azure Key Vault. We are using this https://akv2k8s.io/ to sync the secret, and this is being done correctly. In order to use that we have patched the istio-system namespace with the label that's needed for akv2k8

[2020-11-20 10:20] nak3 opened #29078 "service-apis's Gateway cannot choose istio's gateway"
**Bug description**

- service-apis's Gateway cannot choose istio's gateway except for the istio gateway which has `istio: ingressgateway` label.
- As this TODO comment, it should be available by param ref.

https://github.com/istio/istio/blob/264d1540de50e900ad6a16cd2315fd525d83ef24/pilot/pkg/config/kube/gateway/conversion.go#L654-L655

[X] Networking

**Expected behavior**

- service-apis's Gate

[2020-11-20 10:25] cortopy commented on #28388
@shamsher31 thanks for the tip! I was scratching my head over this and the dot notation worked. I'm not sure how the docs could be edited, but if I understood what you're saying, then the docs are wrong https://istio.io/latest/docs/ops/diagnostic-tools/controlz/ as there it says that "-n" works. This is going to get other people too

`istioctl dashboard controlz` has information about both dot not

[2020-11-20 10:40] fbsb commented on #28995
It seems to always happen during `istioctl upgrade` not only when the path does not exist so our workaround does not really work

[2020-11-20 10:54] Dhua-v commented on #26154
the NET_ADMIN is a priviliged user, whom even I wouldnt allow if fargate does. Hence, Istio now provides ISTIO-CNI, we need to use it. https://github.com/istio/istio/tree/master/cni

[2020-11-20 12:02] sel-vcc commented on #28856
Is this fixed by https://github.com/istio/istio/pull/28072?

[2020-11-20 13:31] MatteoMori opened #29079 "Istio 1.7.4 - AWS ELB firing Backend connection errors with multiple ingressGateways"
**Bug description**

Hello All,

I have been having some troubles with Istio **1.7.4** and **multiple ingressGateways**.

Basically, although traffic-wise the environment seems to be working fine, AWS is showing me a **consistent flow of ELB Backend connection errors** on one of the Istio ELBs.

This is surprising to me since both ingressGateways have been configured the same way and deployed at t

[2020-11-20 13:38] sunzhaochang opened #29080 "controlPlaneAuthPolicy not working when using port 15010"
**Bug description**
When I set the discoveryAddress to `istiod.istio-system.svc:15010` and set `controlPlaneAuthPolicy` to NONE, the proxy still uses secure address.

[ ] Docs
[ ] Installation
[X ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
The non-secu

[2020-11-20 13:46] danmx opened #29082 "Allow overwriting IncludeRequestAttemptCount value"
**Describe the feature request**

Envoy Proxy by default disables [including attempt count in responses](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-virtualhost-include-attempt-count-in-response). I'd like to be able to control that value since, it seems, it's hardcoded in [Istio](https://github.com/istio/istio/search

[2020-11-20 14:24] esnible commented on #29022
@daixiang0 Your PR could have a change to _dashboard_test.go_ adding your new flag to each of the test cases that opens a browser.

[2020-11-20 14:29] danmx commented on #29082
layer 8 issue 🤦

[2020-11-20 14:29] #29082 closed

[2020-11-20 14:37] munjalpatel commented on #28623
@hzxuzhonghu which port name should we change? I can try it out.

[2020-11-20 15:09] howardjohn commented on #26154
I don't think fargate supports cni either

[2020-11-20 15:28] esnible commented on #29063
@kyessenov Is this the correct repo for this issue?

[2020-11-20 15:30] gargnupur commented on #20952
Documentation PR: https://github.com/istio/istio.io/pull/8537

[2020-11-20 15:42] howardjohn commented on #29047
Oh, you are not using SDS then, which is needed for rotation. See https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/; tl;dr is use credentialName

[2020-11-20 15:42] esnible commented on #29052
Do you have a proposal for how this might be solved?

The command `istioctl proxy-status <thing>` compares Istiod's belief with Envoy's belief about config, for troubleshooting things like Envoy rejecting Istiod's config.

The currently implementation of `istioctl proxy-status <thing>` is to fetch the config from istiod and the config from the pod and compare them.  The config is fetched from the

[2020-11-20 15:48] esnible commented on #29044
Your _virtualservice-two_ is not on the `web` Gateway.  It will only be seen be calls within the mesh.

[2020-11-20 16:14] #29063 closed

[2020-11-20 16:23] Kyslik commented on #24720
We are experiencing the same on Istio `1.6.13`; We've tested the _~fix~ band-aid_ mentioned by @bianpengyuan in https://github.com/istio/istio/issues/24720#issuecomment-674188061.

At about 15:50 EnvoyFilter `tcp-stats-filter-1.6` was removed:

<img width="1469" alt="istio-1-6-mem-leak" src="https://user-images.githubusercontent.com/2067589/99823691-f73ab880-2b54-11eb-9675-2e3683db5726.png">

[2020-11-20 16:26] bianpengyuan commented on #24720
Fix is going to be shipped with 1.8.1.

[2020-11-20 16:27] Kyslik commented on #24720
@bianpengyuan what about Istio `1.6`?

[2020-11-20 16:32] bcochofel commented on #29047
So, even with the sds enabled I still need to create a Gateway with credentialName? I cannot use the default one, right?

[2020-11-20 16:34] howardjohn commented on #29047
Yes

[2020-11-20 16:34] bcochofel commented on #29047
Thank you :-)

[2020-11-20 16:36] bcochofel commented on #29047
Btw, is there an easy way to inject a label on the namespace upon creation? I really want to discard the patch

[2020-11-20 16:37] howardjohn commented on #29047
use `kubectl apply` and pass it a Namepsace yaml would work

[2020-11-20 16:38] howardjohn commented on #26888
https://github.com/istio/istio/pull/29084 shaves quite a bit off istio deploy

[2020-11-20 16:39] zufardhiyaulhaq commented on #26990
Hey, I think I found a solution, we can use `httpRetry` via Virtual Service. I have same error but with different use cases. This use cases is to automatically communicate mTLS with custom certificate (self signed CA / public CA). In the first cycle, I use this configuration to force using mTLS
[code]
and adding certificate via annotation
[code]
I analyze that it keep getting 503 connection termin

[2020-11-20 16:42] zufardhiyaulhaq commented on #29077
@rampatnaik you can add multiple gateway in IstioOperator
[code]

and add annotation for each ingressGateway if you want the LB service to be public or internal.

[2020-11-20 16:48] Kyslik commented on #28856
I can't find which version of `istioctl` the fix is in; we tested with version `1.16.13` and it wasn't fixed.

[2020-11-20 17:10] howardjohn opened #29087 "Possible CPU utilization regression in proxy from 1.8 to master"
![2020-20-11_09-09-18](https://user-images.githubusercontent.com/623453/99828697-25e27000-2b10-11eb-9591-bfc534f1d928.png)

Its possible its just due to the rollout and would stabilize after a few days, I needed to tear down my cluster though

I checked istio-agent CPU usage and its unchanged so probably all envoy

cc @richardwxn

[2020-11-20 18:01] patrickppeng opened #29088 "gateways fail on XDS grpc connection when istiod installed in different namespace"
**Bug description**
Ingress/egress gateways fail to connect to XDS server due to incorrect discoveryAddress when istiod installed in different namespace

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**
gateways should pick up th

[2020-11-20 18:15] yingzhuivy opened #29092 "virtual service merging should move catchall block to the end"
**Describe the feature request**

We want to allow clients in different namespaces override timeout & retry settings for a host.

We could achieve this by the following setup:
[code]
Basically we have a delegate virtual service `vs-delegate` in the server namespace that controls the route (the route may change). Then we have another catchall vs `vs-server` that delegates to `vs-delegate` with no m

[2020-11-20 18:22] cober opened #29093 "Istiod validationServer unrecognized type instance flood"
**Bug description**
We are seeing constant message flood on istiod
[code]

Is there any workaround for this?

[ ] Docs
[ ] Installation
[ ] Networking
[X] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure
[X] Upgrade

**Version (include the output of `istioctl version --remote` and `kubectl version --short` a

[2020-11-20 18:24] Dhua-v commented on #26154
Was reading this article, https://aws.amazon.com/blogs/containers/under-the-hood-fargate-data-plane/
It was referring that fargate is utilizing CNI.

[2020-11-20 18:25] howardjohn commented on #26154
AWS is using CNI under the hood, but we cannot install a custom CNI plugin as far as I know

[2020-11-20 18:55] aalcaraz97 opened #29095 "Not able to set istio-ingressgateway resource specifications via clusterctl"
I wanted to install Istio in my K3S cluster, and I wanted to modify the default resource specifications (CPU/Memory requests and limits) for the istio-ingressgateway component.

This is the command used to install Istio in my K3S cluster:
[code]
The installation succeeds. The new resource specs are updated in the istiod pod (Pilot), but the istio-ingressgateway pod resource specs are not updated.

[2020-11-20 18:56] howardjohn commented on #29093
This sounds like you have configured your validating webhook (or, we have configured it) to send the legacy mixer types to the new 1.8 server which doesn't support mixer types anymore

[2020-11-20 18:56] howardjohn commented on #29093
Ah
[code]

we should probably remove config.istio.io

[2020-11-20 18:58] howardjohn commented on #29093
Actually we may just want to just filter these out in the webhook code

@jasonwzm @istio/wg-policies-and-telemetry-maintainers any thoughts

[2020-11-20 19:08] bianpengyuan commented on #29093
Not sure if there is other configuration under config.istio.io, but if mixer resources are the only part, we should just remove it.

@cober Work around is just to delete those instances, they are not functioning any more in since 1.8.

[2020-11-20 19:13] douglas-reid commented on #29093
@bianpengyuan did we ever add warnings for mixer config on upgrade? i thought that was part of the work.  was it just for non-customized config?

[2020-11-20 19:14] howardjohn commented on #29093
I don't think we are

What is the expected behavior for 1.8? I would think we should ignore the mixer types, whereas right now we are rejecting them.

[2020-11-20 19:19] lambdai commented on #28315
@howardjohn Do you see failure after https://github.com/envoyproxy/envoy/pull/13997 is cherry-picked?

[2020-11-20 19:21] lambdai commented on #22443
Just for tracking if people see similar failure prior to 1.8. Another related fix is https://github.com/envoyproxy/envoy/pull/13997

[2020-11-20 19:21] howardjohn commented on #28315
it is broken on master currently, not sure if we have that up to date

[2020-11-20 19:23] bianpengyuan commented on #29093
I think the warning is for mixer resources that user created themselves, but @richardwxn would know better.

I think we could just ignore it, which is less confusing.

[2020-11-20 19:26] Monkeyanator commented on #27818
FYI been working on adding revision-based upgrade tests to the integration framework (initial work [here](https://github.com/istio/istio/pull/29007)). They're still incredibly naive at this point (currently just installs multiple revisions on multiple versions, relies on checked-in config, etc)

Planning on expanding them to actually test that traffic continues flowing during cutover to new revisi

[2020-11-20 19:58] jasonwzm commented on #29093
+1 to remove it from the configuration. I don't think we should add more hacky logic in validation code.

If we declare in the configuration, it still means we are supporting validating the object which we are not.

[2020-11-20 20:08] dedsm commented on #22204
@DanielQujun I spent almost two days trying to figure out why my EnvoyFilter wasn't working and it was because of this, I'm setting up a serviceentry for my applications to enrich the tracing by connecting to jaeger and sending extra spans, but that causes envoy to also send the traces of the connection with jaeger, so how could I disable that?

[2020-11-20 20:14] sourabhparsekar commented on #19966
This one worked for us too.. phew..  great save....

[2020-11-20 20:16] #28876 closed

[2020-11-20 20:26] nmittler commented on #29061
Yes it's likely been working since ~1.6, but hasn't been formally documented until 1.8. Docs were initially targeted for 1.7, but they didn't make it in time for the release.

If your clusters are on the same network (i.e. direct reachability between pods) then it should just work. If they're on different networks (i.e. access via gateways), you'll likely want to use a dedicated east-west gateway

[2020-11-20 20:44] howardjohn commented on #29078
Yep, agreed. We have been looking into whether this should be a first class field in the API which was the main reason it was just hard coded for the short term

[2020-11-20 20:57] bcochofel commented on #29047
Thank you @howardjohn for all your help

[2020-11-20 21:05] howardjohn commented on #29095
I think this was fixed in master by #28490 but not 1.7 or 1.8. Basically the workaround is to use the `components..k8s` settings

@ostromart should we backport?

[2020-11-20 21:07] howardjohn commented on #28863
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29046/integ-operator-controller-tests_istio/1329829829163356160

[2020-11-20 21:08] howardjohn commented on #29047
no problem!

[2020-11-20 21:08] #29047 closed

[2020-11-20 21:14] #29004 closed

[2020-11-20 21:19] howardjohn opened #29100 "TestVMRegistrationLifecycle test flake"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/29023/integ-pilot-k8s-tests_istio/1329867882519072768

[2020-11-20 21:19] howardjohn commented on #29100
I have been watching flakes pretty close and have only seen this 2x I think, so seems pretty rare

[2020-11-20 21:32] nmittler opened #29101 "Need to remove illegal characters from remote secret names"
Cluster names on various platforms can contain characters that are not allowed in k8s resource names. We should remove any illegal characters when creating the secret name.

[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior**

**Ste

[2020-11-20 21:45] stevenctl commented on #29101
This would need to be consistent in every place we use clusterID

[2020-11-20 21:47] rverma-jm opened #29102 "Istio-docs inconsistent"
**Bug description**
1. Missing page for multi-cluster setup
2. At page https://istio.io/latest/news/releases/1.8.x/announcing-1.8/upgrade-notes/, istiod-gateway.yaml is a dead link

[x] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure
[ ] Upgrade

**Expected behavior*