[2019-05-22 18:21] howardjohn commented on #14283
Ok great, thanks for the info. My guess without looking too much into this yet is the gateways are causing a lot of listener churn slowing envoy down a bit

[2019-05-22 18:28] philrud commented on #8443
@howardjohn this looks like the same issue so should be resolved now, but would be great if somebody could actually verify that particular chart before we close the issue

[2019-05-22 18:35] Stono opened #14308 "updating idleTimeout on DestinationRule resets active connections"
I don't know if this is expected or not, it seems a bit harsh, but updating `idleTimeout` on my destination application from `30m` to `6h` I noticed that the existing active connections were terminated and reconnected:

<img width="539" alt="Screenshot 2019-05-22 at 19 34 11" src="https://user-images.githubusercontent.com/1486729/58199568-ab415600-7cc8-11e9-9748-430b28a1d1dc.png">

[2019-05-22 18:36] kyessenov commented on #14265
@douglas-reid I'm not sure. The linked issue was caused by under-provisioning CPU to Mixer which made it very-very slow and ultimately fail to build config snapshot within 10s.

[2019-05-22 18:36] geeknoid commented on #14124
@costinm Agreed on all fronts.

[2019-05-22 18:38] kyessenov commented on #14261
I find no signals in the logs. Does Galley report error conditions anywhere?

[2019-05-22 18:42] Stono commented on #14308
It was the destination envoy that terminated the connections btw, not the source.

[2019-05-22 18:50] #11147 closed

[2019-05-22 19:22] Stono commented on #13848
We see more of these as connections ramp up.

Following a deployment, here are the 503s:
<img width="1666" alt="Screenshot 2019-05-22 at 20 20 15" src="https://user-images.githubusercontent.com/1486729/58202339-1beb7100-7ccf-11e9-9fd9-f4cfafb4b83b.png">

And here is the connections TO the envoy in front of sauron-seo-app:
<img width="1671" alt="Screenshot 2019-05-22 at 20 20 21" src="https://user-

[2019-05-22 19:26] Stono opened #14310 "Does idleTimeout even work?"
Given the following DestinationRule:

[code]

I would expect to see connections only rise for the first six hours, on these two test apps you can see that just isn't the case.  This is 30m following deployments of the two apps.

<img width="1668" alt="Screenshot 2019-05-22 at 20 25 38" src="https://user-images.githubusercontent.com/1486729/58202568-d0859280-7ccf-11e9-817e-f2738d31f134.png">
<img w

[2019-05-22 19:42] Stono commented on #13848
And again:
<img width="660" alt="Screenshot 2019-05-22 at 20 41 52" src="https://user-images.githubusercontent.com/1486729/58203474-117ea680-7cd2-11e9-80dc-fc35be0c7fde.png">
<img width="579" alt="Screenshot 2019-05-22 at 20 41 57" src="https://user-images.githubusercontent.com/1486729/58203485-16435a80-7cd2-11e9-8870-dd2b27f61b49.png">

[2019-05-22 20:00] hercynium commented on #11434
Willl this land in 1.2?

[2019-05-22 20:15] #14185 closed

[2019-05-22 20:28] kichristensen opened #14311 "istio-proxy never becomes ready on pod with automountServiceAccountToken set to false"
**Bug description**
If a pod is deployed with `automountServiceAccountToken` set to false, the istio-proxy's readiness probe fails constantly.
This was discovered after updating Istio from 1.0.6 to 1.1.7. It might have something to do with the SDS, as this also has been enabled during the upgrade.

**Expected behavior**
The istio-proxy starts correctly and the readiness probe succeeds.

**Steps to

[2019-05-22 20:51] ozevren commented on #13823
Did we make this required? I opened the bug to track to make it required. If we haven't done so, we should not close this bug.

[2019-05-22 20:53] howardjohn commented on #13823
No I did not, let's reopen this then

[2019-05-22 20:53] ericvn commented on #14124
Intermediate doc as I'm figuring out the Istio build and image creation process.
[Istio_Dockerfiles.xlsx](https://github.com/istio/istio/files/3209271/Istio_Dockerfiles.xlsx)

[2019-05-22 21:00] kramvan1 commented on #14220
Update for 1.1.7:
Images with security issues

- examples-bookinfo-reviews-v3:1.13.0, examples-bookinfo-reviews-v2:1.13.0, examples-bookinfo-reviews-v1:1.13.0
CVE-2018-20483
CVE-2019-1559
CVE-2019-5953
CVE-2019-6454

- examples-bookinfo-ratings-v1:1.13.0
CVE-2018-0494
CVE-2018-1000301
CVE-2018-1122
CVE-2018-1123
CVE-2018-1124
CVE-2018-1125
CVE-2018-1126
CVE-2018-12020
DSA-4195-1
DSA-4202-1
DSA-420

[2019-05-22 21:13] wattli opened #14313 "SDS performance test for ingress gateway"
- Long duration (running for 48 hours)
- Periodically delete secret
- Periodically delete gateway crd
- Validate ingress SDS work as intended

[2019-05-22 21:35] ozevren commented on #12431
The comment in the code is about describing the inherent raciness and explains why the code is that way (i.e. it has to deal with the race). The validation and distribution parts are not tied together. The Galley logs show that MCP server is in ready state and waiting for incoming connections (which doesn't arrive). The Pilot logs corroborate this:
[code]

It looks like this is a network connectiv

[2019-05-22 21:41] mbanikazemi commented on #14033
@arnecls I cannot reproduce this. Can you describe two cases: 1- where things do not work; specify exactly what resources you create, and how you test it showing it does not work. 2- where things work;  specify what resources you create, and how you test it showing it does work

[2019-05-22 21:48] venilnoronha opened #14315 "Create a test framework and refactor existing tests"
@venilnoronha commented on [Mon Nov 05 2018](https://github.com/istio/cni/issues/60)

Tests in this repository are currently at [deployments/kubernetes/install/test](deployments/kubernetes/install/test) and [test](test). There are some `const`s (e.g. `/data/pre` data directory) which can be shared and some utility `func`s (e.g. `docker` commands) out of which an extensible framework can be created

[2019-05-22 21:50] venilnoronha opened #14316 "Create golang UTs"
@tiswanso commented on [Thu Oct 04 2018](https://github.com/istio/cni/issues/5)

Create UTs run under `go test` for the CNI plugin code.

[2019-05-22 21:51] venilnoronha opened #14317 "Envoy port is not configurable"
@luksa commented on [Mon Feb 11 2019](https://github.com/istio/cni/issues/84)

Looking at the code, I don't see a way to override the default redirect port (15001). We should introduce a ConfigMap to make the port configurable (as it is when using the init container - see MeshConfig.ProxyListenPort)

---

@luksa commented on [Mon Feb 11 2019](https://github.com/istio/cni/issues/84#issuecomment-462

[2019-05-22 21:52] venilnoronha opened #14318 "Make this CNI compliant with ipv6"
@alexlovelltroy commented on [Thu Mar 07 2019](https://github.com/istio/cni/issues/95)

This CNI only appears to manage the iptables associated with ipv4.  Kubernetes is broadly moving to ipv6 and dual-stack support.  Adding an issue to track ipv6 needs and suggestions.

---

@john-a-joyce commented on [Thu Mar 07 2019](https://github.com/istio/cni/issues/95#issuecomment-470722446)

@alexlovelltro

[2019-05-22 21:52] venilnoronha opened #14319 "Add Istio initContainers enable_coredump logic via CNI"
@tiswanso commented on [Thu Oct 25 2018](https://github.com/istio/cni/issues/44)

During review of https://github.com/istio/istio/pull/9461 the point was raised about also applying the enable coredump settings via the CNI.

See the Istio sidecar  inject template logic for the `enable-core-dump` initContainer.

[2019-05-22 21:53] venilnoronha opened #14320 "syntax of dockerfile is wrong"
@sdake commented on [Fri Oct 26 2018](https://github.com/istio/cni/issues/48)

see https://github.com/istio/cni/blob/master/deployments/kubernetes/Dockerfile.install-cni#L3

Also, please use ubuntu rather than Alpine Linux.  I'm not sure how this dockerfile is used, but as a project Istio should avoid distro proliferation.

[2019-05-22 21:53] venilnoronha opened #14321 "Rewrite install script in go?"
@jwendell commented on [Tue Oct 09 2018](https://github.com/istio/cni/issues/21)

For better maintainability and unit tests?

---

@tiswanso commented on [Fri Oct 12 2018](https://github.com/istio/cni/issues/21#issuecomment-429417281)

Agree but, IMO, we should start with the tests.  I started here:  https://github.com/istio-ecosystem/cni/pull/24

It's a combo of go and bash but folks can build on

[2019-05-22 21:54] venilnoronha opened #14322 "Validate the CNI with an istio-remote deployment"
@john-a-joyce commented on [Tue Oct 23 2018](https://github.com/istio/cni/issues/39)

Arguably this issue should be create in istio/istio.  The work is to validate that the Helm options and charts added for istio single cluster uses cases work properly in a multicluster environment where istio-remote is used.

[2019-05-22 21:54] venilnoronha opened #14323 "Refactor istio-cni according to design"
@tiswanso commented on [Wed Oct 24 2018](https://github.com/istio/cni/issues/41)

This is to track the refactor effort for getting the code organized according to the design spec.

https://docs.google.com/document/d/1B5gGvdlZEfk5oAL8Qx8NdRKDYb3YlGphJoQLhwPBXYw/edit?usp=sharing

[2019-05-22 21:55] venilnoronha opened #14324 "Is there any requirements for jq's version?"
@shuiqing05 commented on [Thu Mar 21 2019](https://github.com/istio/cni/issues/97)

Hi,
    I found the jq is one of dependency in the CNI. But, there are not any description of the jq's version.
    Is there any place record the requirement of all tool's version?
    Thanks!

[2019-05-22 21:59] ibm-jason commented on #14237
@kramvan1 where did you see `image: "grafana/grafana:6.0.2"`?

[2019-05-22 22:50] #8358 closed

[2019-05-22 23:19] incfly commented on #14124
/cc @incfly

subscribed as I'm writing some testing binary, and under current schema, we have to create another Docker image, which not ideal.

[2019-05-22 23:34] geeknoid commented on #14124
Wow, that spreadsheet is amazing. I didn't realize things had gotten so out of control. I think you missed the istio/api repo, there are some more images being created from there.

[2019-05-22 23:46] duderino commented on #14283
Capturing a side conversation here:  there is only one listener on port 443 so any change will cause a full drain.  The upcoming filter chain discovery service (FDS) should alleviate this.  Until then, we should recommend how to throttle changes in Pilot to batch updates and reduce the frequency of listener drains.

@costinm @philrud @howardjohn @mandarjog recommendation please

[2019-05-23 00:18] mabushey commented on #14264
If you install Istio with the amazing Bonzai operator, not only will you have a cleaner/better install of Istio, but outgoing https requests from INSIDE the cluster will work.

[2019-05-23 00:26] lei-tang commented on #13439
https://github.com/istio/tools/pull/151

[2019-05-23 01:04] rlenglet commented on #14320
Using [hadolint](https://github.com/hadolint/hadolint) to check the Dockerfile:
[code]
Nothing serious. I'll send a PR to address those warnings, and move to Ubuntu Xenial.
The image size is still good using Xenial:
[code]

[2019-05-23 01:16] nicktrav commented on #12549
Can someone that works on Istio help triage this?

Maybe @rshriram? I've seen some comments of yours on some related PRs / issues, such as #13157.

[2019-05-23 01:45] morvencao commented on #14290
`master` and `release1.2` should have this fix, see: https://github.com/istio/istio/blob/master/release/gcb/helm_values.sh#L36-L42
https://github.com/istio/istio/blob/release-1.2/release/gcb/helm_values.sh#L36-L42

[2019-05-23 02:51] #14266 closed

[2019-05-23 02:52] crazyxy commented on #13818
FYI https://github.com/envoyproxy/envoy/pull/7050

Add an extra function
[code]
to release the public key resource.

[2019-05-23 03:20] abhavan commented on #13822
Has there been any further progress troubleshooting this issue? We’re seeing similar behavior after upgrading to 1.1.3 with just under 200 injected pods. Ref: https://discuss.istio.io/t/istioctl-proxy-status-keeps-running-stale-across-services-in-the-mesh-causing-sporadic-404s-for-requests-through-the-ingressgateway-s-blackhole-80-route/2377

[2019-05-23 04:24] wangtao commented on #14261
hi, kyessenov

I didn't see any error message in galley.

and,  I also created another cluster in VMware,  with only one master( node untainted ),   **K8S v1.13.6**, helm 2.11.0, flannel (master)

and this time, it works fine, so I guess there may be some problems with k8s 1.14.

`
root@ubuntuserver:~/istio-1.1.7# kubeadm version
kubeadm version: &version.Info{Major:"1", Minor:"13", GitVersion:"v1

[2019-05-23 04:44] smellytoufu commented on #11121
Same for me. once I have 2 replicas it doesn't work

[2019-05-23 04:45] smellytoufu commented on #11121
Same for me. once I have 2 replicas it doesn't work

[2019-05-23 05:04] #9926 closed

[2019-05-23 05:37] nbaechtold commented on #13822
One other interesting observation that we have had is that HTTP routing config for the ingress pods seems to be flapping back and fourth between properly configured and configured only with a route for the blackhole config (that seems to be coming from here https://github.com/istio/istio/blob/release-1.1/pilot/pkg/networking/core/v1alpha3/gateway.go#L278).

[code]

[2019-05-23 07:34] NilsWild opened #14327 "Istio CNI race condition on cluster restart"
**Bug description**
When restarting a cluster istio CNI doesnt setup correct routing depending on pod start time. Traffic is not proxied through sidecars. Restart of those pods with sidecars fix that. Seems to be like case 1 of https://github.com/istio/cni/issues/82 and might be related to these changes https://github.com/containernetworking/plugins/pull/269

**Expected behavior**
Traffic should b

[2019-05-23 07:35] aliartiza75 opened #14328 "nginx-ingress controller complete traces are not visible"
Hello everyone,

**Problem description**

I am trying to use [nginx-ingress](https://github.com/helm/charts/tree/master/stable/nginx-ingress) controller with [istio](https://github.com/IBM/charts/tree/master/stable/ibm-istio). The reason for using `nginx-ingress` is that our other services are already using it to create ingress ( a load balancer is attached with `nginx-ingress`) but `istio` create

[2019-05-23 07:38] #14094 closed

[2019-05-23 07:45] incfly commented on #14327
/cc @tiswanso

[2019-05-23 07:47] Multiply commented on #9113
istio-proxy is crashing for a specific deployment with `segmentation fault`, which causes sporadic 503's. Can that be related to this issue, or should I make a new one?

[2019-05-23 07:47] irisdingbj opened #14330 "[Galley] Query CRD resource to discover available versions"
This will be needed for being able to do up-down conversions within Galley where, upon start-up, Galley detects that the available version in the cluster is lower than the version it can serve.

[2019-05-23 07:47] incfly commented on #14123
Can you elaborate a bit of more on what meets the criteria of generic tools? Debugging, development, all counts?

[2019-05-23 07:49] PiotrSikora commented on #9113
@Multiply Unrelated, please open a new issue. Thanks!

[2019-05-23 07:53] irisdingbj commented on #14223
@darwin67 we have the similar command in master branch which do the pre-check and let you know whether your k8s cluster is ready for a new istio installation:
[code]

Please try this and comment back if you need any more things for this.

[2019-05-23 07:54] NilsWild commented on #14327
As cni issues are not accessible anymore: https://github.com/istio/cni/pull/83 is the PR that should have fixed https://github.com/istio/cni/issues/82

[2019-05-23 07:55] wansuiye commented on #13822
i met a similar problem, when the ingressgateway start(restart), the ingressgateway report logs at a random period of time(serveral seconds ~ minutes):
[code]
meanwhile the pilot report:
[code]
istio version:1.1.3
number of pod: 300

[2019-05-23 07:59] Multiply opened #14331 "Random 503's due to envoy segmentation fault"
**Bug description**
When making http requests to a specific deployment of ours envoy sometimes crashes, with a segmentation fault.
I can only reproduce the behavior, when coming from our ingressgateway, and not from other pods in the mesh.

[code]

**Expected behavior**
I'd expect all requests to go through without crashing envoy in the deployment, just as all our other deployments.

**Steps to re

[2019-05-23 08:02] incfly commented on #14123
And some tools take some go library dependency with istio/istio. That requires decompose the repo and have a repo for common util, logging/constants/etc?

[2019-05-23 08:18] PiotrSikora commented on #14331
Could you get the core dump from the crash?

You can enable core dumps using `helm template --set global.proxy.enableCoreDump=true [other options]`, and once Envoy crashes, you should find it in `/var/lib/istio/core.proxy`.

[2019-05-23 08:21] Multiply commented on #14331
@PiotrSikora Can I enabled it for just this single deployment, as to not affect the rest of our system?

[2019-05-23 08:23] skalinets commented on #11121
I asked this question on https://discuss.istio.io/t/istio-setup-for-socket-io/2383

[2019-05-23 08:27] arnecls commented on #14033
Ok, here are the resources that are currently deployed on our cluster.
The critical one is `grpc.stage.europe-west4.nsp.trv.cloud` if I remove the `*` from the hosts there, no wildcard virtual host for 6565 is created, even though there is a virtual service that should do this.

[code]

Now, if I leave out the `*` in the 6565 service entry and I use `istioctl proxy-config routes dummy-15553 --name

[2019-05-23 08:35] wangtao commented on #14261
with some investigation,  I found it is caused by br_netfilter module

when install k8s

`
modprobe br_filter;
sysctl net.bridge.bridge-nf-call-iptables=1
`

however the config lost after restart ubuntu server

thanks everyone,  appreciate your help!

[2019-05-23 08:35] #14261 closed

[2019-05-23 08:45] PiotrSikora commented on #13848
@Stono could you provide logs from all involved peers (i.e. source app, source Envoy, destination Envoy, destination app) for the same 503 UC event (with a few minutes of logs before and after for context)? I'm trying to figure out which connection is terminated first and starts the chain of errors, but it's unclear from the small pieces of logs from different events, and I couldn't find any event

[2019-05-23 09:02] PiotrSikora commented on #14331
@Multiply sorry, forgot to mention this - please don't share the core dump publicly, it contains plenty of secrets (all the request in flight, SSL/TLS private keys, etc.)

Could you get the backtrace?
[code]
and try to go to the frame that contains `Envoy::Network::FilterManagerImpl::onRead()`? e.g. if it's listed as `#2` in the backtrace, then you would use:
[code]

[2019-05-23 09:05] Stono commented on #13848
@PiotrSikora i'm sorry but i'm not spending _another_ whole day grabbing logs.
I've provided ridiculous amounts of information to numerous people on this issue, other issues, via slack etc.

Please let's just get on this call later and live debug together.  You'll be able to ask questions and we can answer them real time.

[2019-05-23 09:17] danapoklepovich opened #14332 "RBAC fails kubelet daemon readiness checks"
**Bug description**
I have an istio cluster running with service RBAC and readiness/liveness probes set for the k8s deployment whose service is protected by the RBAC policy.  I am running kubelet as a daemon process via systemd and because kubelet is performing the healthchecks and is not authorized by my RBAC policy (because as far as I'm aware daemon processes running on the node can't be config

[2019-05-23 09:18] danapoklepovich commented on #14332
I think this does relate to https://github.com/istio/istio/issues/9921 but the issue has been closed and I'm not sure if kubelet is being ran as a daemon on the host machine in 9921

[2019-05-23 09:32] Multiply commented on #14331
@PiotrSikora: I hope this is what you need:
[code]

[2019-05-23 09:35] objectiser commented on #14328
One potential problem is that it looks like the nginx-ingress is configured to use Jaeger. Unless this also enables the context propagation format to be set to B3, it will cause the initial part of the trace to be using Jaeger's context propagation format, which Istio/Envoy does not understand.

[2019-05-23 09:51] #13940 closed

[2019-05-23 09:56] Liv1020 commented on #10336
mybe you use tcp health check
![image](https://user-images.githubusercontent.com/5382358/58243862-13a13d80-7d84-11e9-80ff-97a25d990b72.png)

[2019-05-23 10:10] PiotrSikora commented on #14331
Argh, we ship `envoy` binary without symbols.

Could you get the version of your istio-proxy by calling `/usr/local/bin/envoy --version`? It should include commit hash. Since you're using 1.1.7, I believe the version output will be:
[code]

Once you have the commit hash, you can download `envoy` binary with symbols from
https://storage.googleapis.com/istio-build/proxy/envoy-alpha-73fa9b1f29f91029c

[2019-05-23 10:10] prabaharanit commented on #14261
how to restart the server.. can you pls publish the steps..

[2019-05-23 10:17] sdake commented on #14290
imo we should just cut a new z stream of the 1.1 series where this problem is fixed.  Although T&R is not my responsibility, I am very wary of re-releasing 7 artifacts of Istio.  Then we would have the "good" artifacts, and the "bad" artifacts.  How would operators/sre's know the difference?

Note, when we had a monthly release cadence of the z streams, I manually (via sed) pushed PRs after every

[2019-05-23 10:22] wangtao commented on #14261
hi,  prabaharanit

in my case, the problem was caused by absence of br_filter module,  I have enabled it when I install k8s cluster,  but it doesn't load automatically after I restarted my server,  so I add it to /etc/modules,  then it works.

however, this may be different from the case of azure kubernetes

[2019-05-23 10:36] Multiply commented on #14331
[code]

[2019-05-23 10:49] PiotrSikora commented on #14331
@Multiply sorry, I pointed you at the wrong binary, it should be this one instead: https://storage.googleapis.com/istio-build/proxy/envoy-symblol-73fa9b1f29f91029cc2485a685994a0d1dbcde21.tar.gz (`symbol`, not `alpha`).

[2019-05-23 10:55] Multiply commented on #14331
[code]

[2019-05-23 11:00] PiotrSikora commented on #14331
Could you copy output of:
[code]

[2019-05-23 11:03] Multiply commented on #14331
[code]

[2019-05-23 11:05] PiotrSikora commented on #14331
Could you try the last 3 without `*`, i.e.:
[code]
Thanks!

[2019-05-23 11:07] Multiply commented on #14331
[code]

[2019-05-23 11:30] yuchen9459 opened #14333 "How to enable istioctl mixer?"
I followed the instruction in [Collecting Metrics and Logs](https://istio-releases.github.io/v0.1/docs/tasks/metrics-logs.html) to set up a rule for mixer, with which I can monitor the service response time. When I type in `istioctl mixer rule get reviews.default.svc.cluster.local reviews.default.svc.cluster.local`, it reminds me  `Error: unknown command "mixer" for "istioctl"`. I have also checke

[2019-05-23 11:31] objectiser commented on #8893
Issue seems to be fixed - have created a docs PR to cover this: https://github.com/istio/istio.io/pull/4210

[2019-05-23 11:31] #8893 closed

[2019-05-23 11:36] PiotrSikora commented on #14331
Hmm... maybe this on will work?

[code]

[2019-05-23 11:44] Multiply commented on #14331
Sorry for the slow reply:
[code]

[2019-05-23 12:17] shane-kennedy commented on #8247
can global.proxy.concurrency be modified after installation ?

i'm having this same issue but would prefer not to reinstall

[2019-05-23 13:47] stevegszabo opened #14334 "multiple filter chains with the same matching rules are defined"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

Following this document:

https://preliminary.istio.io/blog/2018/egress-mongo/

We would like to force all egress through the gateway

The istio-egressgateway service has been configured to use tcp/9999:

[code]

When we create the virtual service we get a warning in th

[2019-05-23 13:49] mandarjog commented on #8247
The default now is 2.
You can update global.proxy.concurrency, rerender the template.
Most of the changes should be no-op, so it is not a reinstall.

[2019-05-23 13:51] vadimi commented on #13822
We are having exactly the same issue in our cluster:

`Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates: 1 successful, 0 rejected; lds updates: 0 successful, 0 rejected`

and

`019-05-23T13:48:33.821006Z	warn	ads	Repeated failure to push sidecar~10.172.79.226~...`

istio `1.1.4`
number of pods around 350

[2019-05-23 14:27] howardjohn commented on #13822
Are all of your pilots overloaded (high CPU/memory)? The root cause of the original issue we determined was from pilot load due to https://github.com/istio/istio/issues/14042

[2019-05-23 14:32] vadimi commented on #13822
@howardjohn yes, pilot CPU is overloaded significantly.

[2019-05-23 14:38] howardjohn commented on #13822
Ok thanks, I think that is the cause. @mandarjog and I did some testing a while ago of Pilot under CPU throttling and found some issues but I don't think we ever found a root cause.

It would be useful to see why Pilot is loaded. When you say 99% CPU, what is your CPU limit on pilot?

How many pushes is it doing? Easiest way would be to query `sum(rate(pilot_xds_pushes{type!~".*_senderr"}[1m])) by

[2019-05-23 14:38] daudn commented on #6828
Help wanted! My rabbitmq was running just fine, and all of a sudden it crashed and now I'm getting the error: ERROR: epmd error for host rabbitmq-0: timeout (timed out)'

[2019-05-23 14:44] rosenhouse commented on #9944
@utako is this possible now with #11496 or other recent enhancements?

[2019-05-23 14:46] howardjohn commented on #14334
Can you post your all of your Gateways? that is the one likely causing the issue, not the virtual service.

What version of Istio are you running? You said 1.1.6 in the post but that is istioctl, can you get the version for pilot from `kubectl describe deployment istio-pilot -n istio-system` or `istioctl version --remote`?

More context here: https://github.com/istio/istio/issues/13717 was the sam

[2019-05-23 15:02] pkmiec commented on #5006
Just fyi, apparently ksonnet is no longer a thing,

https://blogs.vmware.com/cloudnative/2019/02/05/welcoming-heptio-open-source-projects-to-vmware/

[2019-05-23 15:03] daudn commented on #5989
A complete re-initialization of my GKE cluster was required to solve this. After that, it works normally with the same configurations. Very confused.

[2019-05-23 15:14] howardjohn commented on #14333
You are reading the docs from Istio v0.1 so it is probably all wrong by now. Please view the up to date docs at https://istio.io

[2019-05-23 15:14] #14333 closed

[2019-05-23 15:24] irisdingbj commented on #6892
@esnible sure, will catch you on slack.

[2019-05-23 15:26] douglas-reid commented on #12431
@utka if we are seeing an increased rate flakes resulting from networking connectivity issues (as @ozevren points out), what is our path forward? Is this something we should be taking up with the GKE team? I'm not sure how to proceed.

[2019-05-23 15:30] chr15murray commented on #14264
I've been having the same issue and finally resolved it today with help from this link..
https://discuss.istio.io/t/serviceentry-for-https-on-httpbin-org-resulting-in-connect-cr-srvr-hello-using-curl/2044/3

For me, I was deploying a dedicated ingress gateway for my application and as part of that I added a port called 'http-port443'.
This in tern was creating a service (as part of the ingress dep

[2019-05-23 15:31] chr15murray commented on #13914
I've been having the same issue and finally resolved it today with help from this link..
https://discuss.istio.io/t/serviceentry-for-https-on-httpbin-org-resulting-in-connect-cr-srvr-hello-using-curl/2044/3

For me, I was deploying a dedicated ingress gateway for my application and as part of that I added a port called 'http-port443'.
This in tern was creating a service (as part of the ingress dep

[2019-05-23 15:45] Demonian opened #14335 "[Kiali] Setting grafana url takes no effect"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
There is ability to set Grafana service url for the situations when kiali should be integrated with grafana deployed separately from istio. [Link to chart](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/kiali/templates/configmap.yaml)
[co

[2019-05-23 15:54] Stono commented on #6892
https://github.com/instrumenta/kubeval/issues/80 ?

[2019-05-23 16:55] geeknoid commented on #14123
By common tool, I mean anything that is used by multiple repos.

We have istio/common-files for build-related files that need be to mirrored in all repos. istio/pkg for packages shared across repos. pkg/tools for tools shared across repos.

Note that there's a different issue opened to consolidate docker container creation to istio/tools as well. So the tools can be built there along with the imag

[2019-05-23 16:56] mabushey commented on #13914
@chr15murray - I'm able to reach the world just fine from inside the cluster, I just can't make google.mydomain.com proxy. It looks like your problem is different, but I may be missing something... Thanks for your response. :)

[2019-05-23 17:02] robertpanzer commented on #13818
@PiotrSikora I tried with your binary, but it didn't work unfortunately:
[code]

[2019-05-23 17:09] chr15murray commented on #13914
Hi @mabushey

It may well be different but we share a symptom which is how I came across this and why I mentioned it. Specifically your curl test generated `curl: (35) error:1400410B:SSL routines:CONNECT_CR_SRVR_HELLO:wrong version number`

Looking at your config you have a gateway called `istio-ingressgateway-mqtt` with a port 443 named 'mqtt'. If your problem is the same as me then renaming this

[2019-05-23 17:17] louiscryan commented on #13008
If a namespace owner chooses to declare a serviceentry to capture their own traffic that seems absolutely fine, they control the apps in their own namespace after all and could achieve the identical effect in other ways

Its when another namespace can cause this effect that we have an issue.

[2019-05-23 17:18] PiotrSikora commented on #5769
cc @duderino @costinm (see #5618 and #6181 for prior work and discussions on the topic).

[2019-05-23 17:21] jmazzitelli commented on #14335
Just to be clear, the links to the kiali code and that kiali_cr.yaml are to master branch - which is NOT the current version in Istio 1.1.6 (which is kiali v0.16). That kiali_cr.yaml is used for the Kiali Operator (not used by Istio helm today) and those settings may not be the same as what they were in Kiali v0.16.

[2019-05-23 17:26] Demonian commented on #14335
@jmazzitelli Good points. I have changed the link to source code of Kiali for version 0.16. Link to kiali_cr.yaml from `kiali operator` is here just to give visibility of all the properties that can be configured.
BTW Situation was the same at the point (v 0.16).

[2019-05-23 17:31] howardjohn opened #14336 "Stale endpoints on scale to zero"
Scale deployment to 5 replicas, see all 5 in `/clusters`

[code]

Scale deployment to 0 replicas, endpoints still remain in `/clusters`

[code]

Running 1.2 dailies from 5/22

Adding `s.ConfigUpdate(true)` to https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/eds.go#L503 fixes this, but I am not sure it is the best option

Scaling back up triggers a push which resolves this

This

[2019-05-23 17:31] louiscryan commented on #13008
Is there any objection to a resolution mechanism of:

1. if 'host' reference is of form '<namespace>/<host>' then only serviceentry/service from that namespace will be used. Multiple entries from that namespace with the same hostname are merged

2. if 'host' reference is of form '<host>' then we treat it as equivalent to '*/<host>' with the following precedence for resolution
 - look in current na

[2019-05-23 17:44] PiotrSikora commented on #13818
Just to verify, did you try the binary from `envoy-symbol-...` or `envoy-alpha-...` archive? I originally provided link to a wrong one, and if you clicked on the link in the email, then you might have used binary with stripped symbols.

[2019-05-23 17:58] wxdao opened #14337 "Unable to build with USE_LOCAL_PROXY=1"
**Bug description**

`make docker` with `USE_LOCAL_PROXY=1` fails with something like `mv: cannot stat 'envoy-debug-73fa9b1f29f91029cc2485a685994a0d1dbcde21': No such file or directory`.

The file named `envoy-debug-73fa9b1f29f91029cc2485a685994a0d1dbcde21` should only exists when using downloaded envoy. With `USE_LOCAL_PROXY=1` it should only have `ISTIO_ENVOY_RELEASE_PATH:=$(realpath $(ISTIO_GO)

[2019-05-23 18:16] #14320 closed

[2019-05-23 18:16] stevegszabo commented on #14334
pilot version: version.BuildInfo{Version:"1.1.6", GitRevision:"04850e14d38a69a38c16c800e237b1108056513e-dirty", User:"root", Host:"1844d064-72cc-11e9-a0d5-0a580a2c0304", GolangVersion:"go1.10.4", DockerHub:"docker.io/istio", BuildStatus:"Modified", GitTag:"1.1.5-11-g04850e1"}

[2019-05-23 18:24] robertpanzer commented on #13818
@PiotrSikora I downloaded the updated link, also fetched envoy-alpha..., but both give me the same error.
I can see that the envoy-symbol binary seems to have a size of 567MB, while the envoy-alpha has 25MB, so I suppose I got the right archives.

[2019-05-23 18:25] PiotrSikora commented on #13818
@robertpanzer ok, thanks!

[2019-05-23 18:27] stevegszabo commented on #14334
[code]

[2019-05-23 18:29] stevegszabo commented on #14334
[code]

[2019-05-23 18:29] stevegszabo commented on #14334
I have only the above two gateways

[2019-05-23 18:37] ibm-jason opened #14340 "Istio post-install text improvements"
**TL;DR** - Improve the istio post-install text output.

### Issue:

Observing the post-install text for `linkerd`:

[code]

Compared to the istio post-install text:

[code]
We've noticed that there are improvements that can be made to the post install output.

[2019-05-23 18:37] pitlv2109 commented on #14332
You guys might know the context better than me to answer this @liminw @mandarjog @incfly @yangminzhu

[2019-05-23 18:38] costinm commented on #13008
I don't think we can use prefixes or other forms - the hosts are originally from routes or directly from the app calling a DNS name.

Also - I don't think the example Shriram provided is valid or should work - it absolutely must fail if TLS is enabled ( secure naming should prevent it ). Any workload must be associated with a cert
that has a namespace in it, and the declaration of that service mus

[2019-05-23 18:45] stevegszabo commented on #14334
If I remove the mesh sections I don't get the error:

[code]

[2019-05-23 18:48] stevegszabo commented on #14334
There seems to be a conflict with the service entry:

[code]

[2019-05-23 19:02] nesl247 commented on #7450
Just found this. We're trying to limit access to specific services to within our VPC. This would be a good option for us.

[2019-05-23 19:04] howardjohn commented on #14334
Thanks for all the extra info. I tried reproducing this and wasn't able too but k think my config isn't identical to yours. If you have time to create a representative yaml that I can just kubectl apply on my cluster that would help, if not I'll keep playing around with it

[2019-05-23 19:09] mystxbr commented on #13781
Same here...
istio-coredns-plugin container shows de registry but cannot resolve
2019-05-23T19:07:30.655920Z	info	adding DNS mapping: httpbin.bar.global.->[127.255.0.2]

172.20.137.198 is the address of my istiocoredns svc
nslookup: can't resolve 'httpbin.bar.global': Name does not resolve
/ # nslookup httpbin.bar.global. 172.20.137.198

[2019-05-23 19:31] nesl247 commented on #7427
This is definitely a concern of ours as well. We'd rather not deploy a second `ingressgateway` as that will have to be self-maintained rather than automatically maintained via the GKE Istio addon.

[2019-05-23 19:41] junkomatic commented on #10659
I successfully deployed a golang GRPC service as a statefulset (istio-injected) with both headless and clusterIP services for two separate ports respectively. I used a wildcard * in the service entry for hostname, which, confirmed, does work, and I did not find the ServiceEntry step to be prohibitively inconvenient, as it will not require any further editing upon scaling.

[2019-05-23 20:02] yangminzhu commented on #14332
Depending on how did you config the readiness probe on your application, you could write a RBAC policy to whitelist the request.

For example, suppose you have the following readiness probe on httpbin:
[code]

The path `/headers` is used for readiness check, you could whitelist it like the following:
[code]

This could be the workaround if the path `/headers` is only used for readiness probe, mean

[2019-05-23 20:13] rshriram commented on #13008
Hmm. I didn’t think of the mtls part. Okay, so it seems there is no security issue with multiple service entries. Let’s go ahead then.

[2019-05-23 20:17] rshriram commented on #13008
My second main issue is how vms will be identified. If we assume that it’s not possible to add this config_namespace metadata to every one of the 1000s of vms, then when a proxy connects to pilot, what will getProxyServiceInstances return? (I don’t want to hear a “use certificates answer” as we don’t have that support today, and encoding some istio namespace into pre issued certs is a no go in man

[2019-05-23 20:18] kyessenov opened #14344 "issues with k8s 1.14"
There have been reports of broken mixer/pilot->galley communication in k8s 1.14, where only the version of k8s makes a difference. E.g. it works fine with 1.13.

We should investigate if we're using some deprecated API or deprecated features in k8s that causes this.

[2019-05-23 20:28] kyessenov commented on #14306
@fpesce @utka

I concur we need a common go build image. It's difficult to track down all the image sources complicating the upgrade process for go SDK, k8s version, and all the tools used in the build process.

[2019-05-23 20:30] mbanikazemi commented on #14033
Thanks @arnecls for the above description. I see the problem. It is indeed because port 80 is treated differently from all other ports. I am going to submit a patch and work on a fix shortly. @rshriram please see the patch (you will recognize the issue immediately) and see if the proposed change makes sense. I have not done a lot of testing so I am going to mark the PR as WIP for now.

 @arnecls w

[2019-05-23 20:38] stevegszabo commented on #14334
[code]

[2019-05-23 20:54] #9582 closed

[2019-05-23 21:11] aaronhnatiw commented on #10357
Having this enabled by default sounds like a sane default to me. It would have saved me the need to spend time debugging why my liveness probes weren't working with Istio. I enabled it in my environment with no problems.

(I was sent here from [the documentation](https://istio.io/help/ops/setup/app-health-check/#mutual-tls-is-enabled), asking for feedback on this particular issue)

[2019-05-23 21:11] howardjohn commented on #13812
Root cause: race condition at https://github.com/istio/istio/blob/555ec2a9b4f1c58b309ed5e4431d52ed8ca0e051/pilot/pkg/proxy/envoy/v2/ads.go#L638

if we have no instances (delay in propagation) then we won't use the override locality labels

[2019-05-23 21:23] mabushey commented on #14324
I doubt it, jq is the json equivalent of grep. It's simply an amazing simple cli tool. I never heard of versioning issues with it.

[2019-05-23 21:31] mabushey commented on #14116
I switched to the Bonzai operator and several issues went away, such as upgrading Istio and still having a functioning cluster. It's easier, better, and cleaner. The config is everything you need in one small readable yaml file.

[2019-05-23 21:32] incfly commented on #10357
@aaronhnatiw Thanks for the feedback. Just updated the description in issue.

[2019-05-23 21:32] vadimi commented on #13822
I think I figured out why pilot is so loaded:

- we had some crashlooping pods in the cluster which was causing a lot of pilot CPU usage, I think #14042 is applicable here.

- what was causing 503 - is isio-proxy non graceful restarts in the application pod. Right before that it was reporting the following error: `PANIC: unprotected error in call to Lua API (27)` (issue #13722). We use envoy filte

[2019-05-23 21:32] incfly commented on #10357
/cc @yangminzhu  @diemtvu @esnible

[2019-05-23 21:41] utka commented on #12431
It's CircleCI, the plan is to move away from CircleCI and use GKE instead where we can get more resources.

[2019-05-23 22:08] howardjohn opened #14349 "Pilot debounce applies to EDS, delaying endpoint pushes"
Pilot supports debouncing config changes to limit pushes. By default this is 100ms, with a max of 10s, meaning config pushes can be delayed by up to 10s in a busy cluster with many changes.

This should not apply to endpoints - we want to do an incremental update of EDS endpoints as soon as possible. Otherwise we are at risk of stale endpoints for 10s. Apparently this is how the behavior used to w

[2019-05-23 22:12] howardjohn opened #14350 "Pilot throttle causes timeouts, goroutine leak"
PILOT_PUSH_THROTTLE limits the total number of pushes per second. This is set to 100 by default (10 in the code, but overriden to 100 in values.yaml).

The problem we run into is that when we trigger a push, we start the PushTimeout, then wait for our turn from the throttle, then push. This causes most pushes to time out if you have a cluster that is too large for the throttle rate.

We *may* want

[2019-05-23 22:24] yangminzhu commented on #12431
@utka
It seems the test is failing more frequently on prow: https://testgrid.k8s.io/istio-presubmits-master#e2e-mixer-no_auth&width=20

I'm still wondering is this caused by some bug in istio or is it really network connectivity problem, I found the following log in multiple failed tests which might be related to https://github.com/istio/istio/issues/6085
[code]

[2019-05-23 22:28] nishanth-pinnapareddy commented on #8595
@mdhume we are facing this issue in 1.1.7 version. Removing the selector on gateway resource mitigated the problem for us !!!

[2019-05-23 22:33] howardjohn commented on #11799
@douglas-reid sounds like this is done?

[2019-05-23 23:19] howardjohn commented on #11621
This was fixed in 1.1/1.2 in https://github.com/istio/istio/pull/10036/files. I don't think we need to worry about a racetest failure in 1.0 anymore

[2019-05-23 23:27] vhosakot commented on #14116
@mabushey Yeah, https://github.com/banzaicloud/istio-operator is great, but fyi, it does not currently install istio's prometheus and grafana needed to monitor istio - https://github.com/banzaicloud/istio-operator/issues/41#issuecomment-492823635

[2019-05-23 23:40] JimmyCYJ commented on #14199
Edited the issue description per discussion with @incfly.

[2019-05-24 00:28] danapoklepovich commented on #14332
Thanks @yangminzhu ! I'll give this a go today, completely slipped my mind to authorise just the health requests.

[2019-05-24 00:36] yangminzhu commented on #14158
If MCP is enabled, does Pilot still need to read/watch any k8s resources? I thought it doesn't but just would like to confirm if there is any exception here. Currently I think pilot still reads some resources (e.g. Service) even if MCP is enabled as galley doesn't return all resources at the moment, but in the long run it should, maybe in 1.3?

[2019-05-24 00:47] yangminzhu commented on #14127
cc @yangminzhu

[2019-05-24 01:12] rshriram commented on #9944
yep

[2019-05-24 01:13] #14110 closed

[2019-05-24 01:40] mabushey commented on #14116
@vhosakot I ripped the grafana section of the config out of the old helm install. Works great. The operator even has enough control that I was able to run jaeger in a tracing namespace. I put it into production as I finally felt I could rely on it and everyone has been happy, it's been running flawless.

[2019-05-24 01:56] imroc commented on #14288
+1

[2019-05-24 02:01] imroc commented on #14288
or just use operator to translate SMI CRD to istio CRD?
check this out: https://github.com/deislabs/smi-adapter-istio

[2019-05-24 02:58] darwin67 commented on #14223
i would love to but this repo isn't trivial to build...
[code]

[2019-05-24 05:47] mandarjog commented on #14350
Have you see evidence of this? counters or log messages?

[2019-05-24 05:54] liguobao commented on #9894
we can't use validDuration on istio 1.0.5 by redis redisquota?

[2019-05-24 07:26] cabrinoob commented on #13819
@rphillipsz : Thank you, I found the logs (yeah!). The filter works fine.
In your example I just removed the `do return end` in the `if tonumber` block because it never reach the end of the script. But now, that works!

[2019-05-24 07:43] jurna commented on #6486
I'm trying to use SDS for secret delivery. Configuration with file mount works, but configuration with SDS - does not. My certificate/secret is created using Cert-Manager. I see that there is a different secret type used in documentation.
For file based approach documentation says to use secret type "tls" https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/ :
`kubectl create -n ist

[2019-05-24 08:23] farcaller commented on #6486
That doesn't sound right; I was definitely able to load cert-manager certs into the istio ingress via sds. What's your configuration block like?

[2019-05-24 08:28] zparnold commented on #13218
We have determined the RCA, this offending `ServiceEntry` caused Pilot to choke on the hostname `localhost`:
[code]

[2019-05-24 08:29] #13218 closed

[2019-05-24 08:42] zparnold opened #14356 "ServiceEntry objects allow `localhost` as a hostname, but shouldn't"
Using this example manifest:

[code]

**Bug description**
When a ServiceEntry object (like above) is applied, there are no errors, but pilot begins to choke and is unable to distribute config properly to the sidecars. Here are the logs from the discovery process:
[code]

**Expected behavior**
The validating admission controller should prevent this manifest from being applied.

**Steps to reproduce

[2019-05-24 08:43] zparnold commented on #14356
@nrjpoddar please let me know if there was anything I missed from our discussion

[2019-05-24 09:22] #7640 closed

[2019-05-24 09:51] #13994 closed

[2019-05-24 10:06] aliartiza75 commented on #14328
@objectiser can you provide some hints or guidelines on how to configure nginx-ingress with istio?

[2019-05-24 10:17] akozichev opened #14357 "TLS origination via external PROXY"
My Istio environment runs behind external Forwarding PROXY server.
I'd like TLS Origination for all external requests to be handled by Istio.
So it would be great if Istio itself could be configured to send external requests via PROXY. I couldn't find any information in the documentation on how to make it happen.

Example in the Documentation suggest I can do it by exposing PROXY itself into the m

[2019-05-24 10:22] #11223 closed

[2019-05-24 10:22] jurna commented on #6486
Here is configuration which gives timeout from gateway:
[code]
Here is configuration which works:
[code]

[2019-05-24 10:44] objectiser commented on #14328
@aliartiza75 Sorry haven't used it - but from quick look at their docs it looks like they have zipkin config properties, which I would guess means it would use a zipkin tracer and therefore B3 context propagation format.

[2019-05-24 11:01] prune998 commented on #6486
@jurna when using SDS you don't need (and maybe must not) use `istio-ingressgateway-certs`.

Put your SSL in it's own secret by changing it in your `Certificate` definition (like cert-demo-domain-com).

Which version of Istio are you using ? Did you enable the SDS functionality in the gateway ?

All my SDS secrets are `kubernetes.io/tls` (as generated by Cert-Manager) and it's working fine so far.

[2019-05-24 11:22] #11140 closed

[2019-05-24 11:34] jurna commented on #6486
Ok, now I've issued another certificate with certificate name cert-domain.com and secret name secret-domain.com ant it's working fine. I don't know was the problem the name of the certificate/secret (istio-ingressgateway-certs) or that both secret and certificate had the same name. Thank you for your help.

It is also missing in documentation how to deal with namespaces. Do we allways have to crea

[2019-05-24 12:34] farcaller commented on #6486
sds explicitly filters out prefixes of "istio" and "prometheus" :-) of course it's not documented. It will also skip secrets that have a field named "token" (commonly the service accounts).

Sds will try to fetch the secret from the same namespace the ingress deployment is in. There's no code currently to support other namespaces.

[2019-05-24 12:41] Asisranjan commented on #6388
Does any one has solution of the above. I am also getting 503.

[2019-05-24 12:57] rphillipsz commented on #13819
Strange that you wouldn't see log entries for "Key Authentication Failed" if it was hitting the tonumber() block, but great that you got it working!

[2019-05-24 13:13] howardjohn commented on #14350
Yes. I set throttle to lowest allowed, one push per second and lots are full of "failed to push, client busy" and then repeated failure to push. The push metrics show that there are barely any pushes except done eds incremental ones since the rest mostly time out

[2019-05-24 13:57] howardjohn commented on #14356
This is fixed in 1.1.x by  https://github.com/istio/istio/issues/13436

[2019-05-24 14:53] kumarsparkz commented on #13819
Thank you for the reply guys. I am able to use envoyfilter and call external auth service and receive http status 200 with necessary headers. However, as my response body is blank, I am seeing a blank pager after the call. It should be redirected to my original path in the request. Do you know why it's not redirecting? How does it work for you?

[2019-05-24 15:23] aaronhnatiw commented on #10357
@incfly Thanks, here is my answers to those questions:

My deployment is not a large deployment, only one liveness probe across a single-node cluster (a dev deployment).

I chose to use the `httpGet` liveness probe because it was the same type of probe that I used from a loadbalancer, and it mirrors what I'm using in my unit tests. This method feels like a much better engineering choice than the o

[2019-05-24 15:34] rphillipsz commented on #13819
@kumarsparkz I'm not sure.  If your lua script isn't calling `do return end`, then it should send the original request to the target backend service, plus any additional headers you might have added from the lua script.

[2019-05-24 16:04] douglas-reid commented on #11799
@howardjohn indeed. thanks.

[2019-05-24 16:04] #11799 closed

[2019-05-24 16:22] howardjohn commented on #14242
Some more updates: https://snapshot.raintank.io/dashboard/snapshot/tobGjIQYgDSMnk8zajn7BpWfbCaaUsEC

See Memory increase on left, each namespace (40 pods each) memory increases by 1-5mb per 10 min. So not that much, but pretty steady

What is a lot more troublesome is the difference between namespaces. Each namespace contains the same exact setup, set service-graph06 uses 5GB total and service-gra

[2019-05-24 16:24] howardjohn commented on #14242
@mandarjog @silentdai @PiotrSikora after looking more into this I think this is worse than just a really slow leak, please see above. What information do we need to get to get to the root cause of this?

[2019-05-24 16:35] howardjohn commented on #14242
Using 275mb:
[code]

Using 32mb:
[code]

Stats for 275mb one:
[code]

Stats for 32 mb one:
[code]

Seems the small one only is reporting tcp stats (tcp_mixer_filter.total_report_calls: 86492) and the other http stats (http_mixer_filter.total_report_calls: 37077759). The other stats are mostly identical. Will continue looking to see if this is true for all cases

[2019-05-24 17:00] pitlv2109 commented on #9505
Totally forgot about this. Do we still need this?

[2019-05-24 17:02] myidpt commented on #14187
Yes, it could be under envoyproxy/envoy, or on Istio fuzzy tests. Either way is OK to me.

[2019-05-24 17:04] dbarentine commented on #10336
It's definitely an httpGet. I've tried it with and without the readinessProbe:
[code]

[2019-05-24 17:10] JimmyCYJ opened #14362 "Add metrics and opencensus support into Citadel"
Pilot, mixer and galley all use opencensus for metrics now, Citadel should be consistent.

[2019-05-24 17:15] #13286 closed

[2019-05-24 17:18] jotak commented on #14335
@Demonian , have you tried to set `service` and `service_namespace` for grafana in Kiali config? I don't understand why you say the default is hardcoded... well yes it is, but you're not forced to use the default.

So if you do so, then Kiali should be able to generate the links to Grafana (note that it is _only_ for links generation).

[2019-05-24 17:40] howardjohn commented on #14242
![2019-24-05_10-39-30](https://user-images.githubusercontent.com/623453/58346600-41cc5f00-7e10-11e9-8050-b6e68f31d1d0.png)
First I went into each pod and did `pkill -9 envoy`. We see memory usage drops back to normal levels. Then I `kubectl delete pods --all`, and when they come up, they use sporadic memory amounts again. So killing just envoy fixes it, killing pod does not

[2019-05-24 17:42] silentdai commented on #14242
[code]
Heap is 261Mb vs allocated is 15Mb. Indicating peak usage 261Mb.
It's unknown why this happens. Will investigate.

However, os should be able to reclaim allocated in recent envoy.

[2019-05-24 17:48] silentdai commented on #14242
`kill -9 envoy` works because envoy is not respawned.
If the pod recreation bring up the huge usage again, it's probably not the leak due to config fluctuation.

[2019-05-24 17:50] howardjohn commented on #14242
@silentdai I don't think it is a leak due to config, the memory starts high and stays high. The leak I think is a different issue, and its like a couple MB an hour so not a big deal.

And when we `kill -9 envoy` pilot-agent recreates envoy

[2019-05-24 17:53] myidpt commented on #14199
Just curious, can you explain why it's not used for integration tests in K8s environment?

[2019-05-24 17:56] incfly commented on #14199
we definitely can add this to k8s environment as well. but i think @lei-tang already have an e2e integration test for the sds.

[2019-05-24 18:00] incfly opened #14364 "Vault Integration test is failing due to node agent deployment is not ready"
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14326/integ-security-k8s-presubmit-tests-master/753/build-log.txt

This makes `prow/integ-security-k8s-presubmit-tests.sh — Job failed.`, which is currently not required.

It has been failing for a while, https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests

[2019-05-24 18:03] incfly commented on #14364
`istio-nodeagent` is keeping getting `not ready` and the test finally timeout.

[2019-05-24 18:10] howardjohn commented on #14242
Slightly better graph: https://snapshot.raintank.io/dashboard/snapshot/MznqDhmiKlGAOEXDC2GDzASvvhCyIGrT?refresh=10s&panelId=4&fullscreen&orgId=2

At 10:23 I started killing envoys, at 10:37 I started killing pods

[2019-05-24 18:11] dbarentine commented on #10336
It seems like the problem here is not really the filter in promhttp but rather that the Envoy proxy doesn't seem to have any of the typical request information. At least it's not logging it.

If I change Envoy's access log format to be the following:
[code]

All I ever get is:
[code]
I suspect that because of that promhttp never filters it because Envoy seems to see the user-agent as empty. But I'

[2019-05-24 18:11] incfly commented on #14364
Let me double check whether my own pr is culprit or not first.

[2019-05-24 18:14] lei-tang commented on #14364
https://github.com/istio/istio/pull/14342 passes all tests.

[2019-05-24 18:36] silentdai commented on #14242
As the `kill -9` spawns envoy, I would suspect a heavy allocation at the starting of envoy.
Do we have `listener_manager.lds.update_attempt` in normal envoy and the leaking envoy?
Any other xDS worth noticing but lds is good start.

[2019-05-24 18:38] howardjohn commented on #14242
@silentdai from the two stats I posted above, update_attempts are both almost the same at ~6000. One was using 35mb one was using 275mb

[2019-05-24 18:43] lei-tang commented on #14364
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14342/integ-security-k8s-presubmit-tests-master/741/

[2019-05-24 18:51] dbarentine commented on #14065
It looks like this only happens with external hosts using https. If it's just http then I don't see the problem.

I've tested it using httpbin as the external service with the following configuration:
[code]

[2019-05-24 18:57] howardjohn opened #14365 "proxyImage annotation does not work"
https://github.com/istio/istio/blob/78e34d63cc125f0303091bf6d994be9f8b97078f/install/kubernetes/helm/istio/files/injection-template.yaml#L82-L86

Clearly broken, if you pass `sidecar.istio.io/proxyImage: istio/proxyv2:1.1.7` then it will result in `istio/proxyv2:1.1.7/proxyv2:sometag`

[2019-05-24 18:58] lambdai opened #14366 "export overload manager options at envoy"
Among the overload actions this particular `envoy.overload_actions.shrink_heap` is helping proxy to reclaim the heap memory. It's extremely helpful when there is burst of config changes.

Ref:
https://www.envoyproxy.io/docs/envoy/latest/configuration/overload_manager/overload_manager#overload-actions

[2019-05-24 18:59] silentdai commented on #14242
Create the overload action issue to describe how to reclaim heap memory.
#14366

[2019-05-24 19:07] yangminzhu commented on #11072
This is probably fixed in https://github.com/istio/istio/issues/13436

[2019-05-24 19:14] nicktrav opened #14367 "Pods that are not exposed via a Service are not sent some config, including fault injection and locality lb configuration"
**Bug description**

When configuring fault injection on a VirtualService with a match on `sourceLabels`, Pods in a Deployment that _do not_ have a Service are not sent the fault injection configuration.

NOTE: I'm scoping this ticket to fault injection configuration. Other configuration may not be sent, but I have not confirmed this.

**Expected behavior**

Using a VirtualService with a `sourceLa

[2019-05-24 19:22] #8526 closed

[2019-05-24 19:37] lei-tang commented on #14364
The log that shows Vault integration test passes is at https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14342/integ-security-k8s-presubmit-tests-master/741/build-log.txt:

--- PASS: TestSdsVaultCaFlow (49.70s)
PASS
2019-05-23T19:52:47.116535Z	info	CI	=== DONE: Test Run: 'sds_vault_flow_test' ===
2019-05-23T19:52:47.116578Z	info	CI	=== Suite "sds_vault_flow_test" run time: 2m53.25

[2019-05-24 19:57] ozevren commented on #13465
This is done.

[2019-05-24 19:57] #13465 closed

[2019-05-24 20:00] ozevren commented on #11787
There already is a sidecar in the installer repo. Closing this.

[2019-05-24 20:00] #11787 closed

[2019-05-24 21:34] therealmitchconnors commented on #14006
Agreed.  Fixed in #13899 .

[2019-05-24 21:34] #14006 closed

[2019-05-24 21:46] howardjohn commented on #14367
This is the expected behavior. Please see the pod requirements at https://istio.io/docs/setup/kubernetes/prepare/requirements/. There are plenty of other features that require Services associated with them as well.

I am not saying this is a good thing, but a lot of Istio is built around this assumption so it is not easy to fix.

[2019-05-24 21:47] lei-tang commented on #14364
The test also passes by running "go test" command:
1. Create a new cluster.
2. Sync to the latest master (e.g., SHA bd0859b1ab6b6941135ad8fc2e06958ba9ce776d).
3. go test -v ./tests/integration/security/sds_citadel_flow/ -istio.test.env kube --log_output_level=CI:debug,tf:debug --istio.test.pullpolicy=Always --istio.test.nocleanup=true

[2019-05-24 21:48] howardjohn commented on #14366
Nice, should be a pretty simple change to the bootstrap. Ill try it out

[2019-05-24 21:50] howardjohn commented on #14364
It doesn't look like it runs on postsubmit for some reason? 741 passed but it has failed every time since then it looks like (https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests). I have seen it fail on my PRs that are readme changes

[2019-05-24 22:05] pitlv2109 commented on #13439
RBAC test tracker is here #14213

[2019-05-24 22:06] lei-tang commented on #14364
Based on https://github.com/istio/istio/commits/master, the test istio.io/istio/tests/integration/security/sds_vault_flow in prow/integ-security-k8s-presubmit-tests.sh
starts to fail after the commit https://github.com/istio/istio/commit/3ef69ae767362993901e7d22c72987706e8366ac. Before the commit 3ef69, this test succeeds (e.g, https://github.com/istio/istio/commit/41ea3ce3885258fc57519938f13fc79b

[2019-05-24 22:08] howardjohn commented on #14364
Didn't you say it passes locally? I think it is much more likely something external changed (prow config? especially likely if it passes locally) than that PR causing the failure

[2019-05-24 22:16] lei-tang commented on #14364
Before the commit 3ef69ae, prow/integ-security-k8s-presubmit-tests.sh (including istio.io/istio/tests/integration/security/sds_vault_flow) succeeds not only locally but also in the prow system, e.g., the commits 41ea3ce, 52539f3, and e750114. The test logs of prow/integ-security-k8s-presubmit-tests.sh (e.g, for the commits 41ea3ce, 52539f3, and e750114) in the prow test framework show that prow/in

[2019-05-24 22:19] howardjohn commented on #14364
So master works locally but not on Prow?

[2019-05-24 22:22] nicktrav commented on #14367
Thanks for pointing that out, @howardjohn. I missed that.

As a counter example, how is this intended to work for Pods that don't expose any ports? We are working around this limitation by exposing a "dummy port" on a Service that doesn't map to anything in the Pod, but this feels pretty janky.

I'm fine closing this issue out, given it's well documented. That said, it would be nice to track an im

[2019-05-24 22:22] #11198 closed

[2019-05-24 22:24] lei-tang commented on #14364
Master works locally even after the commit 3ef69ae. However, master on Prow does not work since the commit 3ef69ae.  Master on Prow works before the commit 3ef69ae, e.g.,  the commits 41ea3ce, 52539f3, and e750114.

[2019-05-24 22:27] howardjohn commented on #14364
Ok, so I bet 3ef69ae didn't break the test then. Just because it breaks after that commit doesn't mean that is the cause, our tests are not hermetic (this test specifically calls out to an external service, doesn't it?). I think its much more likely something in our prow configuration changed that is causing this issue, especially if it works locally.

[2019-05-24 22:29] ozevren commented on #13825
I tried this again and did not get a repro. there has been a reconnect due to too-many pings (and a new Pilot came up), but otherwise there was no spurious republishing of config.

Closing for now. If you observe the problem, please do reopen again.

[2019-05-24 22:29] #13825 closed

[2019-05-24 22:43] lei-tang commented on #14364
When the commit 3ef69ae was merged, it did not pass prow/integ-security-k8s-presubmit-tests.sh. Because the prow system may have been changed when the commit 3ef69ae was tested, it does not necessarily mean that the commit 3ef69ae itself caused the failure of prow/integ-security-k8s-presubmit-tests.sh. The commit https://github.com/istio/istio/commit/41ea3ce3885258fc57519938f13fc79bfb55d03b immedi

[2019-05-24 22:47] incfly commented on #14364
I suspect the resource discrepancies in the post and presubmit (e.g. cluster size, machine type) cause the difference.

The error is about "nodeagent is not ready..."

[2019-05-24 22:49] howardjohn commented on #14364
@incfly could be caused by ImagePull failing as well, I think we saw similar issues though and it wasn't very clear from the logs (just shows not ready)? It is really frustrating to debug prow issues...

[2019-05-24 22:52] icygalz commented on #14364
Commit 41ea3ce pass the  prow/integ-security-k8s-presubmit-tests.sh before it got submitted.
If you think the failure is caused by that PR, I can always revert it.

[2019-05-24 23:05] lei-tang commented on #14364
I am not familiar with the prow system, so correct me if I am wrong. My speculation for the commit 41ea3ce passing the test in prow/integ-security-k8s-presubmit-tests.sh is that when the PR containing the commit 41ea3ce was tested, it was tested on the original prow scripts that do not contain the changes to prow in the commit 41ea3ce. @icygalz If without the changes in the commit 41ea3ce, in the

[2019-05-24 23:05] lei-tang commented on #13439
https://github.com/istio/istio/issues/14364

[2019-05-24 23:09] icygalz commented on #14364
Looking at the prow/integ-security-k8s-presubmit-tests.sh prow run log for https://github.com/istio/istio/commit/41ea3ce3885258fc57519938f13fc79bfb55d03b, the changes in my PR has been applied and tested there.

This is the prow log i am looking at:
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14351/integ-security-k8s-presubmit-tests-master/752?log#log

It already h

[2019-05-24 23:20] lei-tang commented on #14364
@icygalz Thank you for your PRs!
If the commits are reverted one by one until prow/integ-security-k8s-presubmit-tests.sh passes again, it will help determine the PR causing the failure of prow/integ-security-k8s-presubmit-tests.sh.

[2019-05-24 23:21] howardjohn opened #14374 "istioctl proxy-status causes http: multiple response.WriteHeader calls"
`istioctl ps` causes pilot to log: ``

Version master-20190524-09-16

This was fixed in https://github.com/istio/istio/pull/12731 but looks like the same bug got back into master (in a different place, it was merged into master)

[2019-05-24 23:24] howardjohn commented on #14364
We can't revert every commit just to fix this one test.. The PR Diana sent fixed a more serious test issue (every test failing), and the tests passed with her change, so I would definitely not want it reverted

[2019-05-24 23:28] #8661 closed

[2019-05-24 23:52] howardjohn commented on #14242
It seems like this is due to management ports. Using service graph we have port 8080 taken, so normally get a lot of `Omitting listener for management address 10.28.0.125_8080 due to collision with service listener 10.28.0.125_8080` in the logs. There seems to be some correlation to these listeners getting omitted and the memory usage, but I haven't pinpointed it yet (it doesn't happen every time

[2019-05-24 23:52] howardjohn commented on #14242
[code]

proxy-status diff of high memory usage

[2019-05-25 00:40] pitlv2109 commented on #14084
I assume this has been fixed? Several tests set `pilot.env.PILOT_ENABLE_FALLTHROUGH_ROUTE = 0`.
https://github.com/istio/istio/blob/460b55f1d9c5ffce01e4239f0f846e85575a6b41/tests/integration/security/rbac/v2/basic/main_test.go#L68

[2019-05-25 00:41] howardjohn commented on #14084
Haven't got a chance to try it out yet without those, but I *think* it would work now

[2019-05-25 00:42] howardjohn commented on #14242
Ran git bisect, producing this cool graph: https://snapshot.raintank.io/dashboard/snapshot/wolg2L0yxvs77Sfvig44rR6HT6r8CDeT?panelId=10&fullscreen&orgId=2

Culprit is apparently fc55b31069986ab6d0f6acecfaf7b3504dcd294a, which is pretty odd, since this change is already on release-1.1. Maybe need to explicitly turn the flag on and retry this..

[2019-05-25 01:04] icygalz commented on #14364
fyi, my pr revert does not seem to fix the issue.
https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/14372/integ-security-k8s-presubmit-tests-master/780/build-log.txt

[2019-05-25 01:12] howardjohn commented on #14242
With flag on:
1.1.3 is also broken. This is when the feature was first introduced. In 1.1.4 it was extended to listeners (HTTPS), so it being broken means the virtual host stuff is the culprit.

With REGISTRY_ONLY set, this issue is NOT present, which narrows it down further to the added wildcard route.

[2019-05-25 01:49] hzxuzhonghu commented on #10659
To make it clear, users try examples above should change the ServiceEntry yaml protocol to HTTP

[code]

[2019-05-25 02:29] #14164 closed

[2019-05-25 06:35] hzxuzhonghu commented on #13008
come up with a idea, how about prevent the conflicting rules from being created by Galley?

[2019-05-25 08:14] anoopl commented on #14264
@chr15murray Thanks for the suggestion.
I was trying to debug the same way:
[code]
But I am not able to get the proxy-config cluster/route:
[code]
[code]
I am using the sleep.yaml from istio samples,
Do I have to run some other image for this to work? Also i see SYNCED (50%) on proxy-status. Is that fine?

[2019-05-25 09:25] ChrisCooney opened #14380 "Certmanager missing replica count"
**Describe the feature request**
In the [values.yaml file for the certmanager helm chart](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/certmanager/values.yaml), there is no option to set the number of replicas. Given that this helm chart comes with a pod disruption budget, it means that the pod can't be evicted during node maintenance and you have to manually eit

[2019-05-25 11:53] aliartiza75 commented on #14328
@objectiser thank you.

How istio get traces for database calls?

[2019-05-25 12:27] #14001 closed

[2019-05-25 12:33] quanjielin commented on #9035
This is done

[2019-05-25 12:33] #9035 closed

[2019-05-25 12:56] liorfranko opened #14381 "istioctl proxy-status <pod>.<namespace> causes the pod's envoy to crash"
**Bug description**
Running `istioctl proxy-status` show one synced proxy (as expected):
[code]

Running `istioctl proxy-status <pod>.<namespace>` causes the envoy to crash:
[code]

Sidecar logs:
[code]
Pilot logs:
[code]

**Expected behavior**
Getting the real proxy-status of the pod

**Steps to reproduce the bug**
Every time we run `istioctl proxy-status <pod>.<namespace>`

**Version**
[code]
**

[2019-05-25 23:20] darkedges commented on #6469
I am experiencing the same with envy-1.10.0

If I use the following
[code]
Then in my helloworld pod `istio-proxy` instance config I get the entry

[code]
But I cannot access the resource

If i use the following

[code]
then no entry is generated in the pods config.

I am using CloudFlare to proxy requests to my a development instance only accessible via port `8433`

[2019-05-25 23:37] #11085 closed

[2019-05-25 23:42] darkedges commented on #6469
If I create an entry with `kubectl edit gateway -n istio-system`

[code]

and  entry via `kubectl edit svc istio-ingressgateway -n istio-system`

[code]

and use
[code]

Still does not work if i use `api.xxxx.com:8443`

It is a workaround to my configuration use case. i,e port forward `router: 8443` to `istio-ingressgateway: 443`.

[2019-05-25 23:51] esnible commented on #14223
@darwin67 Like many Go projects Istio needs to be in the GOPATH.  It does an extra check to make sure it didn't get there by symlink.

There are daily builds at https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.2-latest-daily/ and you only need to get the version for your OS and untar/unzip to get _istioctl_.

[2019-05-26 02:22] VenkateshSrini commented on #10568
HI,
commenting to avoid issue become stale. Still the issue is open and none of the above solution worked for me

[2019-05-26 03:37] #10122 closed

[2019-05-26 11:41] objectiser commented on #14328
Best to check the envoy website for supported DBs/protocols.

[2019-05-26 21:25] ldemailly commented on #7841
api isn't getting moved after all so I suppose this one will continue in limbo/manual update hell too ?

[2019-05-27 02:57] irisdingbj commented on #11044
This has been done via ```istioctl verify-install```  it will perform pre-check and let you know whether your cluster is ready for istio installation.

[2019-05-27 02:59] irisdingbj commented on #11044
```istioctl verify-install -f istio.demo.yaml ``` can be used to check whether your installation is succeeds

[2019-05-27 05:17] aliartiza75 commented on #14328
@objectiser thank you.

Can you kindly tell me what is the repository url for istio's chart?

[2019-05-27 05:51] 11shobhit commented on #9097
@mefarazath did this worked for you?
i had the same configuration, but when i took envoy configdump it no such filter configuration.
I am trying this configuration QA env, where mtls is enabled so giving port number, rest all configuration is same as above

apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ext-authz
  namespace: istio-system
spec:
  workloadLabels:
    a

[2019-05-27 07:04] aliartiza75 opened #14384 "how to get database call span in a trace"
Hello everyone,

**Question**

I have a question regarding how to get spans for database calls?

**Description**

* According to the documentation when we need to configure pods and service using the conventions given on this [link](https://istio.io/docs/setup/kubernetes/prepare/requirements/).

* the Second point is that applications need to pass these [request params](https://istio.io/docs/tasks

[2019-05-27 08:05] irisdingbj commented on #14381
I tried this in my env and this command works well:
[code]

You can try using run
1. ```kubectl exec -it YOUR-PILOT-POD -c discovery /bin/bash -n istio-system```
2. Running below command in the discovery container:
```/usr/local/bin/pilot-discovery request Get /debug/config_dump?proxyID=productpage-v1-994bc4fc7-z6hzv.default```
and see what happens. You can also double confirm whether you can run

[2019-05-27 08:31] shubhamitc opened #14385 "[istio remote] telemetry and tracing data not available"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
We are running single control plane and 1 remote cluster. We are trying to capture tracing and prometheus information of services running on remote cluster. There is no data for both of them.
I have tried to enable jaeger for control plane first, that did not work.

Modi

[2019-05-27 09:03] mofee opened #14386 "httpproxy fail when use istio"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
I have a app writed in java, and the app access X site use a proxy http://www.myproxy.com:8080.
I start the app use "java -Dhttps.proxyHost=www.myproxy.com -Dhttps.proxyPort=8080 -jar myapp".
It runs well in k8s without istio.
when i inject the istio sidecar into the app

[2019-05-27 09:57] liorfranko commented on #14381
Running the `pilot-discovery request Get` from the pilot works:
[code]

What commands should I run from the istio-proxy?

[2019-05-27 10:02] halradaideh commented on #9943
same problem as @goyalnikhil02 , connection refused on istio-ingressgateway on port 31380 from all nodes except the one that proxy runs on

Istio version 1.1.5

[2019-05-27 10:20] esnible commented on #11044
@irisdingbj We need to understand if `istioctl verify-install` is compatible with the work in https://github.com/istio/installer

[2019-05-27 10:23] halradaideh commented on #9943
on 1.1.7 too

[2019-05-27 10:23] isaacmorci commented on #11304
This is now the URL: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/prometheus/templates/configmap.yaml

[2019-05-27 11:24] #5348 closed

[2019-05-27 12:26] krishnadurai commented on #14119
Is there a workaround for this issue right now?
I'm trying to have cAdvisor metrics be reported to Prometheus though it isn't starting up as mentioned here, though the error appears to be different to whats shown in the Targets' error column: 401 instead of 403. I've installed prometheus from its helm chart.
![Uploading Screenshot 2019-05-27 at 5.44.39 PM.png…](Kubelet status)

[2019-05-27 13:04] irisdingbj commented on #14381
This command actually runs the same command with ```istioctl proxy-status podName.ns``` So if above command runs fine, your ```istioctl proxy-status ... ``` should have no issue.

[2019-05-27 14:39] liorfranko commented on #14381
Agree, but it happens.
What else can cause it?

[2019-05-27 15:21] gbaufake commented on #5977
Closing this one because #11448

[2019-05-27 15:21] #5977 closed

[2019-05-27 18:53] su225 commented on #13466
I added Make targets and was able to use run the Galley test. I followed the pattern in policybackend with some changes. But it keeps giving me the following error telling me that I cannot connect to the MCP Sink through forwarder.

1. I tried exposing the port in Dockerfile.
2. Double-checked forwarder address - it is pointing to 127.0.0.1:<randomly-chosen-port> to the port used in the service (t

[2019-05-28 01:29] irisdingbj commented on #14381
Can you try
1. ```kubectl exec -it  productpage-v1-994bc4fc7-z6hzv -c istio-proxy /bin/bash```
2.  Running below command in the istio-proxy container:
```/usr/local/bin/pilot-agent request GET config_dump```

[2019-05-28 03:04] wangye1123356056 commented on #12390
I also have the same problem.
If I use native Kubernetes Service and Endpoint objects, I am able to connect without any issues.
Is your problem solved?

[2019-05-28 03:12] spam8321 commented on #12390
Nope, not solved.  I just ended up using `Service` and `Endpoint` objects instead.  Even if egress traffic is blocked by the Envoy sidecar, egress traffic is allowed to the defined `Service` automatically as per https://github.com/istio/istio/issues/12410#issuecomment-481442615.

[2019-05-28 05:51] FrostyLeaf commented on #12054
Docs are fixed in 1.1. Closing it now.

[2019-05-28 06:41] Demonian commented on #14335
@jotak You are absolutely right about setting those configs, but the problem here is that istio helm charts do not provide ability to set them, so this is the main point of this issue.
[code]

[2019-05-28 06:50] tosirisuk commented on #8771
So is there any workaround, or just leave it be ?

[2019-05-28 06:55] aliartiza75 opened #14388 "istio tracing and sidecar pods are not starting"
**Bug description**

Istio `tracing` and `side-car injector`  pods are not starting.

#### Details

* I installed istio on kubernetes cluster using the manifest given below:

[code]

* Then after few hours `tracing` and `side-car injector` pods went to `pending` state.

* Then pods are removed.

* By looking at the events of `replica-set` of `tracing` and `side-car injector`, I found this error:

[2019-05-28 07:22] mousavian opened #14389 "IngressGateway fails to start with unknown proxyComponentLogLevel flag"
**Bug description**
IngressGateway component is failing with following error:
[code]

I suspect [this PR](https://github.com/istio/installer/pull/181), which provides `proxyComponentLogLevel` and `proxyLogLevel` as parameter for `istio/proxyv2`.
While [pilot supports this parameter](https://github.com/istio/istio/pull/13182), it seems `istio/proxy` [does not support](https://github.com/istio/proxy

[2019-05-28 08:40] lukaszgryglicki commented on #13891
I'm working on that feature request.

[2019-05-28 08:44] liguobao commented on #11273
that will make rate-limit not work?

[2019-05-28 08:58] objectiser commented on #14328
https://github.com/istio/istio/tree/master/install/kubernetes/helm

I believe the original issue has been sorted so will close.

[2019-05-28 08:58] #14328 closed

[2019-05-28 09:23] aliartiza75 commented on #14328
@objectiser ack

[2019-05-28 09:35] MrBlaise commented on #11365
We have the same problem

[2019-05-28 09:42] irisdingbj commented on #6892
submit a pr to address some checks of istio pre-req: https://github.com/istio/istio/pull/14390

according to https://istio.io/docs/setup/kubernetes/prepare/requirements/

[2019-05-28 10:03] wangye1123356056 commented on #12390
Thanks, but I use the native Kubernetes service and the endpoint object to use istio as a proxy. I will have sporadic connection failures. I don't know if this is related to my failure to establish ServiceEntry, but I can't create ServiceEntry now.

[2019-05-28 10:25] tuantuan11233 opened #14391 "Using ServiceEntry to configure an external tcp connection does not take effect."
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
Hi,
I want to connect to the external tcp service in the Kubernetes cluster. I know that there is a native Kubernetes Service and Endpoint to connect, but after injecting istio I occasionally encounter connection tcp service failure.
I am not sure if I have to use Servic

[2019-05-28 10:51] linsun commented on #14220
@johnma14 could you investigate fix for this?

[2019-05-28 11:58] HXK123 commented on #12390
Wasn't solved for me either.  We did the same workaround with `Service` and `Endpoint` as you and spam8321 did, which is sufficient for our needs.

It would be nice if there was a concrete example out there we can use though.

[2019-05-28 12:00] prune998 opened #14392 "ingressGateway stop working after Envoy Stats reset"
**Bug description**
When monitoring Envoy fron the IngressGateway on port 15000, the envoy process stop working when I clear the stats

**Expected behavior**
Stats should be reset to 0 and the Envoy proxy should work as expected

**Steps to reproduce the bug**
- forward port 15000 of the ingress Gateway
   `kubectl -n istio-system port-forward istio-ingressgateway-6f65f87fbb-gmjr5  15000`
- send t

[2019-05-28 12:29] GregHanson commented on #14392
@prune998 out of curiosity, what was the use case for clearing the stats?

I see two ways of modifying the `/ready` API to handle this scenario:
- lock the state when once the listener criteria is met
- use a similar state flag that once the initial criteria has been met, check the Envoy /listeners and /cluster API's IFF the stats check fails

[2019-05-28 12:35] prune998 commented on #14392
Use case is we're doing a LOT of GRPC (HTTP/2) connexions, well above the default 1024 limit. There's no tool to debug that directly with Istio metrics.

Envoy have special `connexions`, `requests` and `listeners` metrics (while some of them are disabled by Istio by default... why ? )

Using reset is a way start a load-test run clean, without theoricaly any impact on the already running connection

[2019-05-28 12:53] mihai-tiriplica-hs opened #14393 "External HTTPS requests with Python urllib2 not working"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

I'm trying to make HTTPS calls to an external resource using urllib2 in Python 2.7.6 and they fail with "connection reset by peer" (error code 104). When I try the same request with Python requests, urllib3 or with curl the request works as expected.

**Expected behavio

[2019-05-28 13:11] #13239 closed

[2019-05-28 13:32] #12248 closed

[2019-05-28 13:39] johnma14 commented on #14220
@linsun I will look into this. Thanks.

[2019-05-28 14:20] howardjohn commented on #14392
I think there are two issues, and it isn't clear it they are related or not (but probably are):
- there is a readiness check that looks at /stats end ensured that there have been some pushes. When you reset the stats this fails, which is why you see the not ready logs
- envoy seg faults

[2019-05-28 14:23] mbanikazemi commented on #14336
Hmmm, I see them removed in my cluster.

[2019-05-28 14:25] howardjohn commented on #14336
@mbanikazemi if there are any other config changes, etc pilot will trigger a push which will remove them I think, could be what happened?

[2019-05-28 14:41] howardjohn commented on #14389
The flag is a part of pilot agent not envoy: https://github.com/istio/istio/blob/8476158e82721ec4929e7071eb85f26b85189241/pilot/cmd/pilot-agent/main.go#L78

It is not in release-1.1, which is why it doesn't work -- istio/installer can only install 1.2 (master), not 1.1. I don't think we have settings to make it install 1.1, did you maybe have TAG environment variable set? If not maybe a bug somewh

[2019-05-28 14:45] howardjohn commented on #14388
`Error creating: Internal error occurred: failed calling admission webhook "sidecar-injector.istio.io": Post https://istio-sidecar-injector.istio-system.svc:443/inject?timeout=30s: net/http: request canceled while waiting for connection (Client.Timeout exceeded while awaiting headers)
`

You got this error from the logs of the sidecar injector? This should not happen, if it did then maybe the inje

[2019-05-28 14:48] prune998 commented on #14392
When I reset the stats, the probe mark the pod as not ready, ok.
Then Envoy start to get it's config, and the next probe should see the pod as OK, then everything should get back to normal, right ?
Am I missing something ?

The second issue only happen when I call the `quitquitquit` API, which stop Envoy, maybe explicitely calling for a segfault... it's not really related to my issue.
If I don't c

[2019-05-28 14:48] zparnold commented on #14356
🎉 Thanks!

[2019-05-28 14:48] #14356 closed

[2019-05-28 14:54] howardjohn commented on #14392
OK thanks for the additional info on the segfault, I doubt it intentionally segfaults to exit (but not sure), but that is a lower priority.

So once we reset that stats, pilot-agent thinks envoy has no config, but it actually does. You are right, that once it does get a new push it will (I think) become ready again. The problem is likely that it doesn't actually receive any further updates. Unless

[2019-05-28 15:11] esnible opened #14394 "'istioctl experimental verify-install' incorrect example"
`istioctl experimental verify-install --help` gives the example

[code]

There should be an "experimental" in the example.

[2019-05-28 15:28] sdake commented on #13008
@hzxuzhonghu galley validation seems reasonable - in that unexpected behavior wouldn't occur - however - would be nice to fix the root of the problem.

Cheers
-steve

[2019-05-28 15:40] liorfranko commented on #14381
Sure:
[code]

[2019-05-28 15:41] mihai-tiriplica-hs commented on #14393
I tried Python 2.7.16 and everything works but I just can't pin point the problem. I'm pretty sure it's something related to how SSL connections are handled but I can't put the pieces together.

[2019-05-28 16:04] ukdvivek opened #14395 "enabling global mtls tutorial not working"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
I am trying to follow a tutorial for enabling mtls for service mesh from here
https://istio.io/docs/tasks/security/authn-policy/#globally-enabling-istio-mutual-tls

But after enabling mtls, when I try to use `curl` command from the tutorial as shown below

[code]
I am ge

[2019-05-28 16:35] mbanikazemi commented on #14334
yes, this can be reproduced. The error comes from Envoy. I removed the destination rules you have mentioned above as they don't really select a subset or anything. Then, if I remove ``` destinationSubnets:
      - 192.168.0.123/24``` in both places in your yams, things work. I think this should solve your problem. You can rely on port number to identify what you want to route where and have essent

[2019-05-28 17:05] prune998 commented on #14392
OK thanks for the details. Let me know if I can help.

Maybe you could comment on the fact that the `listener` stats are disabled by default ? Is it for performance reasons ?
Those stats can still be enabled in Envoy by adding the right ENV variable in the Ingressgateway deployment. But I don't see them collected by Prometheus then... If they were I could live without hitting the admin port and re

[2019-05-28 17:07] howardjohn commented on #14392
I believe it is for performance reasons, we are adding support in https://github.com/istio/istio/pull/14293

[2019-05-28 17:19] douglas-reid commented on #14385
Are you trying to figure out how to send traces to a remote endpoint, rather than in-cluster?

Have you looked at `global.tracer.zipkin.address` ?

As for metrics, is the concern that prometheus will not be able to scrape the remote targets?

[2019-05-28 17:20] douglas-reid commented on #14384
Please move this question to our discuss forum, as that is a more appropriate venue for questions.  Thanks.

[2019-05-28 17:20] #14384 closed

[2019-05-28 17:24] douglas-reid commented on #14119
Fixed, via https://github.com/istio/installer/pull/203.

[2019-05-28 17:24] #14119 closed

[2019-05-28 17:27] douglas-reid commented on #11304
I'll also add that the new istio/installer comes with prom operator configuration as well, which should provide a mechanism for this as well.

Closing for now.

[2019-05-28 17:27] #11304 closed

[2019-05-28 17:39] ibm-jason commented on #13467
@ozevren I'm going to take a stab at this one. Just finished reading up on the new integration test framework stuff- I'll try to have a draft/WIP PR up soon.

[2019-05-28 18:23] majelbstoat opened #14397 "istio ingress-gateway not aware of file mounted tls certs on GKE"
**Bug description**

Following the instructions [here](https://preliminary.istio.io/docs/tasks/traffic-management/ingress/secure-ingress-mount/) to secure an ingress gateway with file mounted tls certs, the certs are mounted correctly, but the ingress gateway is not aware of them.

Istio is provided by the Istio GKE add-on. Cloud Run is also enabled on the cluster.

Deleting the pod and recreating

[2019-05-28 18:49] howardjohn commented on #13845
Status update: We have this test skipped, referring to this issue. @gargnupur is there any plans on fixing this?

[2019-05-28 19:00] aliartiza75 commented on #14388
@howardjohn i got this error from the events of tracing and sidecar replicaset events.

[2019-05-28 19:03] aliartiza75 commented on #14384
@douglas-reid I have created a topic on forum for it.

[2019-05-28 19:20] majelbstoat commented on #14397
After further searching, I believe I'm seeing the same issue as https://github.com/istio/istio/issues/12290. Closing for now.

[2019-05-28 19:20] #14397 closed

[2019-05-28 19:23] icygalz commented on #14306
one of the idea i have:
1. Get rid run_after_success mechanism for all istio-release/pipeline branches ASAP.
2. Ask prow team to help setup a new HEAD binary prow cluster with correct configuration(build cluster only for building image and workload cluster where the tests are running on)  for istio-release/pipeline only**.

This will hopefully enough to solve release security issue.

** All other

[2019-05-28 19:31] theganyo opened #14400 "jwt policy should not require "issuer""
**Bug description**

Per the JWT spec, the "iss" field is OPTIONAL:
https://tools.ietf.org/html/rfc7519#section-4.1.1

So, it would follow that the authentication policy should be able to process JWTs without the "iss" field. However, when attempting to apply a policy definition missing the "issuer" specification, the admission webhook will prevent it:
[code]

FWIW, Istio documentation also doesn'

[2019-05-28 19:48] majelbstoat commented on #8374
I believe I have the same issue:

[code]

This is istio 1.0.6-gke.3, provided by GKE's Istio add-on.

[code]

[code]

[2019-05-28 20:13] howardjohn commented on #13602
[code]

Need to make sure this is fixed as well, likely the same problem. See GitTag = 1.1.6 for the 1.2 release

[2019-05-28 20:32] howardjohn commented on #13008
I don't think we can do galley validation of this. AFAIK galley does not support stateful validation, so we can't see there is a conflicting rule

[2019-05-28 20:46] howardjohn opened #14404 "Support unambiguous FQDNs (trailing .)"
Currently, our validation rejects addresses with a trailing dot (`google.com.`).

These address are not invalid, so we shouldn't reject them.

This has a real impact. Some libraries or applications use these, so there is no way to add ServiceEntrys, etc for them. See https://github.com/googleapis/google-cloud-python/blob/9c51ee6d302bdb4c29bec91a6ad4b05ef1b22c86/logging/google/cloud/logging/_helper

[2019-05-28 20:56] ozevren commented on #13466
Hard to tell from the logs what is going on. None of the ports on the logs match what you've mentioned. It is possible that the service maybe listening on 127.0.0.1 instead of 0.0.0.0 and not responding. Another possibility is the port mismatch on the Galley side. The port-forwarder should auto-allocate the port, which needs to be passed to Galley for establishing the connection.

[2019-05-28 21:12] #14395 closed

[2019-05-28 21:36] quanjielin commented on #13825
confirm it's not repro in my env with latest master build.

[2019-05-28 21:49] therealmitchconnors opened #14406 "Galley webHookConfigFile usage statement invalid."
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
The Usage statement for Galley's validation-webhook-config-file says if it is omitted, validation will be disabled, but if validation is not explicitly disabled (using enable-validation flag), empty webhook config file flags result in a fatal error.

https://github.com/i

[2019-05-28 23:05] fejta commented on #14306
You can configure a prow job to create its pod resources in any kubernetes cluster. Long-term I would definitely recommend creating a trusted kubernetes cluster and only allow pods that use trusted images on trusted code (aka no presubmits) to run in this cluster.

In the mean time, jobs on prow are reasonably safe assuming:
* prow jobs have been configured to use a trusted image
* the community h

[2019-05-28 23:26] gargnupur commented on #13845
@howardjohn : was on vacation :(:) will take a look at this one, this week...

[2019-05-28 23:38] darwin67 commented on #14223
@irisdingbj @esnible Hi, just tried the `verify-install` command on a clean cluster and I think it looks good!

[code]

It'll be great if there's a `verify-upgrade` command as well, but I do understand that can be tricky to implement especially how different 1.0 and 1.1 is.
I do think this is a good start.

[2019-05-28 23:42] #14406 closed

[2019-05-28 23:59] geeknoid opened #14411 "Release process somewhat broken wrt multi-repo and Go modules"
Our current release process has not kept pace with multi-repo work and the switch to Go modules:

#1. Need to branch every repo.

When preparing for a release, we need to create release branches in all repos that contribute to a release. For example right now, istio/pkg is not branched so changes in the master branch can come pollute a release branch in istio/istio.

#2. Need to update go.mod.

On

[2019-05-29 00:28] #14404 closed

[2019-05-29 01:13] howardjohn opened #14414 "LDS ACK ERROR: sent weighted cluster with empty list"
[code]

Gives

[code]

One thing to note is this is failing the proto constraint. Maybe we can check the constraints pilot side.

Got this error from some modifications to https://github.com/istio/istio/issues/14334, so likely related

[2019-05-29 01:19] howardjohn commented on #14414
Root cause: https://github.com/istio/istio/blob/58c35be2433607a0451c1fe8ed9ec11270b52457/pilot/pkg/networking/core/v1alpha3/networkfilter.go#L122

never set routes since there are none.

Best fix is to reject this in Galley, need to follow up and see if it is invalid to provide no routes.

[2019-05-29 01:21] hzxuzhonghu commented on #13008
This is a direction, that can be tried i think. As some kubernetes in-tree admission controllers also do such similar thing.

[2019-05-29 01:29] howardjohn commented on #13008
@ozevren had some interesting points of problems with making Galley support these kind of stateful validations and you had some good points but I cannot find where the conversation was. Maybe he can add some input here.

Regardless of if it is Galley or pilot rejecting there are still issues:
* Just because a namespace defines a ServiceEntry for `google.com` doesn't mean it owns `google.com`. Now

[2019-05-29 01:58] zqzzq opened #14417 "the sidecar with my own envoy get 503"
**Bug description**
I compiled the envoy binary from the source code, and then built the proxyv2 image with this envoy binary, but the pods with this sidecar were all get 503, in the istio-proxy logs I can find this:
[code]
**Expected behavior**
the sidecar is running.
**Version (include the output of `istioctl version --remote` and `kubectl version`)**
the istio: 1.1.4
the envoy: 1.10.0

[2019-05-29 02:11] howardjohn commented on #14334
Thank you for providing those configs, saved me a lot of time. Like @mbanikazemi said, this is reproducible. I simplified the config down to
[code]

if it helps anyone reading this.

Basically the problem is at https://github.com/istio/istio/blob/3ef69ae767362993901e7d22c72987706e8366ac/pilot/pkg/networking/core/v1alpha3/listener.go#L1574 we add filter chains for both the VS and for the ServiceEnt

[2019-05-29 02:12] hzxuzhonghu commented on #13008
Indeed, we can reject SE creation in galley when there are host conflict in ServiceEntries. But if one is private and one is public exported, then allow it.  Select the private SE first.

The creationtimestamp will not change if SE updated.  Also by rejecting conflicting SEs, this will not happen.

[2019-05-29 02:34] #10535 closed

[2019-05-29 02:55] cscetbon commented on #10659
correct @hzxuzhonghu, I was able to fix it by using HTTP protocol thanks to @andrewjjenkins.
When host names are used in a ServiceEntry, Istio needs to extract the host from the host header in network paquets and that's why HTTP protocol is needed.

[2019-05-29 03:02] geeknoid opened #14420 "Update everything to Go 1.12"
It appears as though some of our stuff is being built with Go 1.12 while some of our test jobs are using Go 1.11. We need to be using a consistent tool chain for everything.

Check out https://github.com/istio/istio/pull/14410 for evidence of this. Some test jobs are passing, some are failing because they're using Go 1.11

[2019-05-29 03:06] mike-holberger commented on #10659
In my case i specified GRPC protocol in my service entry and it works as well.

[2019-05-29 03:10] cscetbon commented on #10659
cool and happy to see the proposed wildcard works !

[2019-05-29 03:26] sdake commented on #14420
A potentially relevant PR: https://github.com/istio/istio/pull/14294/files

[2019-05-29 03:28] sdake commented on #14420
A potentially relevant PR: https://github.com/istio/istio/pull/14270

[2019-05-29 03:29] sdake commented on #14420
Duplicate bug: https://github.com/istio/istio/issues/14269

[2019-05-29 03:30] sdake commented on #14269
@jacob-delgado thanks for the report.  I think some people were aware of this problem and it is being resolved now.

Cheers
-steve

[2019-05-29 03:35] sdake commented on #14420
A potentially relevant PR: https://github.com/istio/istio/pull/14214/files

[2019-05-29 03:59] anoopl commented on #14264
I was able to get the proxy-config route working on another cluster.
I found the issue as same as discussed here. https://discuss.istio.io/t/serviceentry-for-https-on-httpbin-org-resulting-in-connect-cr-srvr-hello-using-curl/2044/3

When i do : ```istioctl -n ist-stg-duck-stg proxy-config routes  sleep-754684654f-bnffk.<namespace>  --name 443  -o json```
It showed VirtualHosts to other 3 services

[2019-05-29 04:03] mbanikazemi commented on #14334
yes, specifically here is where a new chain is added with the same matching CIDR: istio/pilot/pkg/networking/core/v1alpha3/tls.go#L257

We can and should catch this in Pilot. Maybe match on CIDR and port when need be? I will work on getting a fix for this tomorrow.

[2019-05-29 04:05] howardjohn commented on #14334
Thanks @mbanikazemi. Please let me know if something comes up and you stop working on it so I can take over since I think this is important

[2019-05-29 04:07] mbanikazemi commented on #14336
@howardjohn Testsed it on a small cluster with no load but one cannot be sure there were no other triggers. Will check again tomorrow.

[2019-05-29 04:10] howardjohn commented on #14417
Did you build from https://github.com/istio/proxy or envoy repo directly?

[2019-05-29 05:55] zqzzq commented on #14417
@howardjohn envoy repo directly, so do I need to build it from https://github.com/istio/proxy?

[2019-05-29 06:19] #14269 closed

[2019-05-29 07:29] yuchen9459 opened #14422 "Istio sidecar injector keeps CrashBackLoopOff."
**Bug description**
I deployed five Kind Clusters with the [script](https://github.com/kubernetes-sigs/kubefed/blob/master/scripts/create-clusters.sh) from Kubernetes federation. When I followed the [tutorial](https://istio.io/docs/setup/kubernetes/install/multicluster/gateways/) to deploy the Isito control plane in cluster, the istio-sidecar-inejctor kept CrashBackLoopOff.

**Expected behavior**

[2019-05-29 07:44] irisdingbj commented on #14381
So this is the issue that caused ```istioctl proxy-status ...``` failed.  As this command will need the output from above command.

[2019-05-29 07:47] #14422 closed

[2019-05-29 07:49] liorfranko commented on #14381
I guess there is a K8S object which causes this issue but I can't find which one.
Is there a way to find why the `/usr/local/bin/pilot-agent request GET config_dump` failed?
Is there a way to run the command in debug mode?

[2019-05-29 08:06] scaratec commented on #13052
I have the same issue here with 1.1.7.. I don't understand why this issue has been closed. Is there a resultion for this issue?

[code]
When I call describe, I get:
[code]

[2019-05-29 09:09] irisdingbj commented on #14381
Does this ```curl http://127.0.0.1:15000/config_dump``` work in your istio-proxy?

[2019-05-29 10:20] liorfranko commented on #14381
[code]

[2019-05-29 10:41] akozichev commented on #14357
I believe this will become possible when envoyproxy/envoy#1451  is implemented

[2019-05-29 10:54] liguobao opened #14423 "QuotaSpecBinding not work"
we want to use rating-limit on our's service.

But QuotaSpecBinding does not work

[code]

we found the log
[code]
 " on "xxx-api" istio-proxy pod ;

but other pod no contains the log.

[code]

[2019-05-29 11:01] sdake commented on #14420
@ericvn this is a P0 for 1.2.  It looks like you have the work under control.  If you need any help, please reach out.  It seems like from the other issue tracker, prow may need attention as well.  Could you comment?

Cheers
-steve

[2019-05-29 11:28] eskuai commented on #12653
how can i do it without helm?

cause, this global.proxy.xxx not found ...

[2019-05-29 11:48] mandarjog opened #14424 "Re-enable redis tests for 1.1 branch"
Redis tests fail on 1.1 branch due to Tiller and redis helm chart errors.
This has been fixed in the master.

Disabling redis tests to get 1.1 merging PRs again.
Fix this and re-enable tests in 1.1

[code]

[2019-05-29 11:49] mandarjog commented on #14424
@kyessenov

[2019-05-29 13:10] AWKIF commented on #13848
Hello,
We have the same issue, i read all opened tickets about this. One thing is that we don't use sidecar, we notice some sporadic 503's (mostly from our external monitoring tool). we were using istio 1.0.2 for some time now.
I installed 1.1.7 yesterday and we still have this issue, logs from istio-ingressgateway:

`{"log":"[2019-05-29T11:48:56.105Z] \"GET / HTTP/1.1\" 503 UC \"-\" 0 95 288 - \"

[2019-05-29 13:24] AWKIF commented on #9113
same issue on my side, i commented on the other thread:
https://github.com/istio/istio/issues/13848#issuecomment-496929796

if you need any infos let me know
thanks

[2019-05-29 13:47] linsun commented on #12653
We aren't support customized config without helm today, you'd have to dig through the code to check what yaml are changed for DIY.

[2019-05-29 14:01] eskuai commented on #12653
root@k8s-master istio-1.1.7]#  helm template --set global.proxy.readinessInitialDelaySeconds=10 helm/istio --name istio --namespace istio-system | kubectl apply -f -
Error: stat helm/istio: no such file or directory
error: no objects passed to apply

Great!

[2019-05-29 14:28] kramvan1 commented on #14237
@ibm-jason This is where that is defined: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/grafana/values.yaml#L7-L8  Need to get that fully qualified.

[2019-05-29 14:31] GeekyTex commented on #6655
Wow. 8 months since the last comment..  I thought there would be more interest in this.

I'll add my use-case as well.

One of our REST services deployed behind Istio needs to leverage path re-writing in the Virtual Service to support a legacy UI component that I have no control over. I have to add several `match` sections in the virtual service to support the different calls and each one has to d

[2019-05-29 14:34] howardjohn commented on #14417
@zqzzq yes. I am not very familiar with the details, but we add some Istio stuff, such as the Mixer filter that was giving you an error

[2019-05-29 14:38] ozevren commented on #13052
@scaratec Can you share Galley, Mixer and Pilot logs? We've seen this kind of issue happening typically when there is a network connectivity problem. In a couple of instances, this was caused by kube DNS not functioning properly.

[2019-05-29 15:08] linsun commented on #14411
yes I raised issue #1 to @duderino and @fpesce yesterday also.  I know operator isn't branched yet.

I think we need a list of repos that can build the release with 1.2 given the multi-repo work.  Is this accurate?
- istio
- installer
- proxy
- api
- cni

Is this an accurate list?  you mentioned pkg, could you point me to some docs on how it is used by other repos?

Given the state of operator (st

[2019-05-29 15:14] linsun commented on #14290
@morvencao @ibm-jason is this an issue fixed in newer 1.1.x like 1.1.7?  If not, I agree, we should fix it in the next 1.1.x release.

should we backport  https://github.com/istio/istio/blob/master/release/gcb/helm_values.sh#L36-L42
https://github.com/istio/istio/blob/release-1.2/release/gcb/helm_values.sh#L36-L42 to 1.1 to fix this?

cc @utka

[2019-05-29 15:14] howardjohn opened #14427 "istioctl: Potentially misspelled annotation warning"
Run `istioctl kube-inject -f file.yaml > injected` and I see first line:

`2019-05-29T15:11:25.765384Z     warn    Potentially misspelled annotation 'sidecar.istio.io/bootstrapOverride' with value 'istio-custom-bootstrap-config' encountered`

Two problems:
* shouldn't this warning go to stderr?
* We need to update the list of known annotations. I know the one above is missing, but there are more t

[2019-05-29 15:16] linsun commented on #14237
Is this ambiguity causing any issue for you?  @kramvan1

[2019-05-29 15:20] howardjohn commented on #14245
@silentdai I made a custom bootstrap with:
[code]

Still is readonly.. I don't get how we write the bootstrap templates though if it is readonly

Error I get:
[code]

[2019-05-29 15:33] simox-83 commented on #7583
Same issue here using Istio 1.1.7 and kubernetes cluster v. 1.13.5
```Error from server (InternalError): error when creating "bookinfo-gateway.yaml": Internal error occurred: failed calling webhook "pilot.validation.istio.io": Post https://istio-galley.istio-system.svc:443/admitpilot?timeout=30s: Service Unavailable```

Using the flag to not validate the config makes it working, however we would l

[2019-05-29 15:54] howardjohn opened #14429 "UX Improvement: Add a home dashboard to grafana"
Right now when users open grafana there is pretty much a blank page. We can add a home dashboard that at least lists all the istio dashboards so they don't have to dig through home > dashboards > istio. We are all probably mostly familiar with this by now, but I have seen people, including myself, confused by this.

One example: https://istio.teststats.cncf.io/d/8/dashboards?refresh=15m&orgId=1

[2019-05-29 15:57] AWKIF commented on #13848
Some more logs in debug:

[code]

Also noting this few lines after:
`{"log":"[2019-05-29 15:32:47.855][187][debug][pool] [external/envoy/source/common/http/conn_pool_base.cc:20] queueing request due to no available connections\n","stream":"stderr","time":"2019-05-29T15:32:47.855184357Z"}`

[2019-05-29 16:08] icygalz commented on #14420
hmm most of our prow testing/build is using this image:
gcr.io/istio-testing/istio-builder:v20181008-db31a9fd
Which has: go version go1.10.4 linux/amd64

I will need to figure out which tests are using go1.11 instead.. The last time I tried to upgrade the image to use go.1.12(with KinD package included), e2e-simpleTests test was failing. Let me create a new image with go.1.12(without KinD package)

[2019-05-29 16:29] ericvn commented on #14420
@icygalz I am assuming that we need to do `master` first and then cherry-pick back to 1.2 as this issue has a ``1.2 milestone.

[2019-05-29 16:29] aaronmell opened #14430 "Random ECONNRESET Errors"
**Bug description**
Our application logs are seeing random ECONNRESET Errors when sending traffic through the proxies. In environments not using the istio proxy, we do not see any errors. The proxy logs do not show any issues. I believe we are creating a long lived connection here.

Application logs are as follows
{"msg":"read ECONNRESET","data":{"message":"read ECONNRESET","stack":"Error: read EC

[2019-05-29 16:32] ericvn commented on #14420
@icygalz The failure I saw with prow tests was I had made a Makefile change to `GO_VERSION_REQUIRED:=1.10` making it 1.12. It failed all prow tests IIRC (as prow was at 1.10.4 as you mention).

[2019-05-29 16:45] geeknoid commented on #14411
istio/pkg is used by the other repos and provides a whole bunch of common low-level packages (logging, controlz, doc output, env var access, etc).  So it needs to be on the list too.

We also build stuff from the tools repo. I think we'll eventually want to be branching this too, once we have our docker image build issues under control. For now, it's probably OK without branching.

And then there'

[2019-05-29 16:51] geeknoid commented on #14002
See these PRs in the operator repo for the steps needed to get onboard.

https://github.com/istio/operator/pull/24
https://github.com/istio/operator/pull/25

[2019-05-29 16:54] geeknoid opened #14431 "The CNI repo needs to switch to Go modules"
Need to migrate from dep/vendor to Go modules.

[2019-05-29 17:05] kramvan1 commented on #14237
@linsun yes, currently since we are "processing" the yaml output from helm template, the tools assume a fully qualified image name.    It means easier automation when fully qualified, else I have to go thru all the yaml looking for image refs and convert them.

[2019-05-29 17:10] geeknoid commented on #14420
We need to have everything consistently building with and single compiler suite. In particular, all tests must be built with the same tool suite as the product. I think that means we want everything we do in release-1.2 and in master in every repo to be using Go 1.12.5

[2019-05-29 17:27] howardjohn commented on #8443
I believe this is fixed. If not please open another issue or ping us to reopen this. Thanks

[2019-05-29 17:27] #8443 closed

[2019-05-29 17:55] MrSaints opened #14433 "Granular access log control"
**Describe the feature request**

Since Istio 1.1(?), Envoy access logs has been disabled by default through `accessLogFile` for performance reasons. If Helm is used, it can be enabled **globally** by changing `global.proxy.accessLogFile`.

This configuration however, affects all proxies. It would be ideal to be able to enable access logging for specific pods.

**Describe alternatives you've consi

[2019-05-29 19:27] lei-tang commented on #14364
https://testgrid.k8s.io/istio-presubmits-master#integ-security-k8s-presubmit-tests show that this test began passing since 18PM 5-28-2019. There is no code change for this test since 5-25-2019 to today (5-29-2019). Thus, the failures of this test from 5-23-2019 to 5-28-2019 are likely due to the code changes in the test framework or the prow test system.

[2019-05-29 19:36] esnible opened #14435 ""istioctl uninject""
This command provides the inverse of "istioctl kube-inject -f <file>".

This command is used to prevent Istio from adding a sidecar.  It works on Deployment .yaml, allowing an operator to `istioctl uninject -f <file> | kubectl apply -f -` to prevent Istio from attaching sidecars.  Used for debugging or for creating successful deployments for middleware not yet compatible with Istio.

Implementatio

[2019-05-29 19:50] icygalz commented on #14364
There is no PR submitted to istio/test-infra repo since 5 days ago so we can rule out prow config/framework as the culprit. (https://github.com/istio/test-infra/commits/master)

[2019-05-29 20:15] linsun commented on #14435
+1 on this, this will be very helpful for troubleshooting.  I'd like to have this in 1.3 if we could.

[2019-05-29 20:34] #11267 closed

[2019-05-29 20:49] draeron opened #14436 "[SDS] prevent secret content to be sent to stdout"
**Bug description**

When enabling SDS with a gateway, content of secrets will be printed at debug level on stdout and there is no way to change the log level of the SDS sidecar.

[code]

By sending secrets content to stdout, these will ends up on our searchable logs storage.

**Expected behavior**

- No secret *content* should be logged... ever
- Log level should be configurable through the helm

[2019-05-29 20:52] howardjohn commented on #14374
`http: superfluous response.WriteHeader call from istio.io/istio/pilot/pkg/proxy/envoy/v2.(*DiscoveryServer).ConfigDump (debug.go:431)`

[2019-05-29 20:56] incfly commented on #14128
/cc @incfly

[2019-05-29 21:20] jwendell opened #14437 "Support fractional mirroring"
It seems Envoy already [supports it](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html#route-routeaction-requestmirrorpolicy), but Istio doesn't expose it yet.

[2019-05-29 21:23] aaronmell commented on #14430
WE think this might be related to running 1.10 and kube-dns. Planning to upgrade and test.

[2019-05-29 21:34] #7745 closed

[2019-05-29 22:28] douglas-reid commented on #14433
Related:
- https://github.com/istio/istio/issues/11582
- https://tinyurl.com/y3lnlf7n

[2019-05-29 22:32] r0fls commented on #9332
This still fails if ephemeral-storage limits are in place :cry:

[2019-05-29 22:32] r0fls commented on #9332
Is it configurable in the istio values.yaml?

[2019-05-29 22:44] silentdai commented on #10533
Working in progress. Currently we cannot move to filter chain due to user impact. If we move migrate the outbound listener to adopt filterchain, any filter chain change will drain the listener and all the filter chains are impacted.
We need Filter Chain Discovery Service, or a subset which restrict the impact of other filter chain.

[2019-05-29 22:56] howardjohn commented on #14414
Very weird... we do actually validate? doesn't seem like it catches this for some reason though. https://github.com/istio/istio/blob/1d13d1f7e93c7d1433388da618573515ee0d1030/pilot/pkg/proxy/envoy/v2/lds.go#L59-L67

[2019-05-30 00:30] silentdai commented on #13848
https://github.com/istio/envoy/pull/73 fixes the known issue. PR in testing.
tl;dr envoy could use the half close connection talking to upstream and respond 503 to downstream

[2019-05-30 00:46] venomwaqar commented on #6071
Does any found the work around?

Does anyone found the fix for it?
1. httpsRedirect=true doesn't works for me, the issue still remains
2. I can't use "*" for hosts

Please can someone refer me the proper fix

[2019-05-30 02:16] elvizlai commented on #6655
i have same iuuse.

so many vritualservices for my grpc-web, and should write annoying CORS for each virtualservice.

[2019-05-30 02:42] MohammedAliKadri commented on #13085
@GregHanson  @pbochynski even i am facing the same issue, where my go based micro service  is not functioning over ingress gateway!

whats the alternative now!

[2019-05-30 03:09] #10486 closed

[2019-05-30 03:32] mofee commented on #14386
mode: ALLOW_ANY

[2019-05-30 03:51] #14332 closed

[2019-05-30 04:09] #10794 closed

[2019-05-30 05:39] ckcd opened #14443 "endless loop with unspecified port when using fallthrough"
**Bug description**

If pod defines a port (assumed port-1) but service do NOT defines this port-1, then for a single request to POD_IP:port-1, we can see very very much logs of this single request, and it makes a loop between sidecar and iptables which will final use all 1024 connection-pool of envoy.

for example, for this service and deployment:
[code]
the pod defines port 80 and port 2334 but

[2019-05-30 06:05] mofee commented on #14386
use a ServiceEntry allow X site and www.myproxy.com:8080 also faild

[2019-05-30 06:12] AndrewX192 commented on #10053
I've also been struggling to get cassandra running within istio. Specifically, I see two more unsolved (afaik) challenges on top of the solutions proposed in this issue:

* Cassandra cannot talk to itself, because Istio doesn't allow communication from a pod to itself. This means that if you point CASSANDRA_SEEDS at the first instance of the statefulset DNS entry, then that particular instance of

[2019-05-30 06:21] danapoklepovich opened #14444 "RBAC always returns Access Denied even for bound service accounts"

[2019-05-30 06:46] Stono commented on #14310
I'm going to close this issue, the connections dropping were caused by https://github.com/istio/istio/issues/13848 which is where errors in the destination envoy talking to the destination app dropped the http1.1 connection.

Changes in that PR should stop this and also switching to http2 between envoys (cc @mandarjog) also mitigates this issue.

[2019-05-30 06:46] #14310 closed

[2019-05-30 06:47] Stono commented on #14204
@mandarjog could you link that PR please?

[2019-05-30 06:47] #14036 closed

[2019-05-30 06:59] #14444 closed

[2019-05-30 07:18] edussx commented on #6071
@venomwaqar I have other walk arounds for this. Just add `--resolve` flag if you're using curl:
[code]
Configuring a dns record for that IP should also work.

I guess it's  an SNI-related issue so either of:
1. specifying hostname using `--resolve`
2. using dns
3. http redirect
4. have a wildcard cert and specify `hosts` as `*`
makes gateway know which cert it should select.

Therefore I think it'

[2019-05-30 08:00] zqzzq commented on #14417
@howardjohn ok, thanks a lot! Closing the issue.

[2019-05-30 08:01] #14417 closed

[2019-05-30 08:39] aliartiza75 commented on #14388
@objectiser do you have information regarding this issue?

[2019-05-30 08:57] zhaohuabing commented on #5679
I'm confused, I thought REDIRECT only changes the destination IP and doesn't touch the source IP.  However, I'm not very familiar with IPtables. Is there anything I missed here?

[2019-05-30 09:12] piotrmsc commented on #13085
@GregHanson I would like to contribute to this, is anyone already working on that?

[2019-05-30 09:52] objectiser commented on #14388
@aliartiza75 Do you have the logs from the istio-tracing pod?

[2019-05-30 10:01] anton-fedorov commented on #11120
Experiencing similar issue with `istio 1.1.7` and `elastichsearch` helm installation where `elasticsearch-data-0` pod's envoy logs this:

[code]

[code]

[2019-05-30 10:41] SataQiu opened #14445 "Make istioctl kube-inject operation idempotent"
**Describe the feature request**

Make istioctl kube-inject operation idempotent!
Now, repeated injection produces invalid yaml because of duplicate name, such as duplicate `istio-proxy` container name.
If we support idempotent operation, it will address this issue.

**Describe alternatives you've considered**

**Additional context**

[2019-05-30 10:50] aliartiza75 commented on #14388
@objectiser no I haven't got any logs for `istio-tracing` pod because when the issue raised pod was not available (removed).

[2019-05-30 11:40] Multiply commented on #14331
I have 'resolved' the issue by scaling `istio-policy` down from 2 to 1, and replaced the last istio-policy pod.

[2019-05-30 13:26] #13771 closed

[2019-05-30 13:49] geeknoid commented on #14121
Can we make this happen soon? We now have multiple active code repos that can't leverage the test frameworkl.

[2019-05-30 13:51] geeknoid commented on #13430
What should we do here? We've updated the Wiki with guidance. You had a doc to suggest changing the role and moving some of the build cop responsibilities elsewhere. Do we need to get this doc finished and reviewed by TOC?

[2019-05-30 13:58] geeknoid opened #14449 "PolicyBot: implement support for Maintainer policies"
Display  the set of maintainers for the project (derived from OWNERS/CODEOWNERS)
See all maintainers out of SLO
Button to generate a MAINTAINERS.md file for the community repo
Controls to remove out of SLO maintainers from OWNERS/CODEOWNERS throughout the code base.
Flag any maintainers that aren't members

[2019-05-30 14:02] Jonathan34 commented on #13009
@neiltoshten i have the same issue upgrading from 1.0.6 to 1.1.6. I did not see any mention about this breaking change and i ran the google tool to ensure the cluster is ready for upgrade but it s apparently not checking service entries.

for google metadata server, i did the following:
[code]
but for single ip service entries, i am not sure what it needs in the hosts since it is required:
[code]

[2019-05-30 14:17] htsili commented on #13009
@Jonathan34
I think something like that will work
[code]

[2019-05-30 14:23] linsun commented on #14445
@irisdingbj this is a very reasonable request and what user is expecting kube-inject to do.  Could you check if we could detect the proxy is already injected and skip the kube-inject in this case?

[2019-05-30 14:27] Jonathan34 commented on #13009
What if i dont have a example.com domain for it? i m trying to connect to a public cloudsql instance.
It seems it will be ignored when connection is TCP. I am deploying and will test soon.

[2019-05-30 14:28] howardjohn commented on #14445
[code]

Looks like it doesn't detect it

[2019-05-30 15:08] howardjohn commented on #14443
I confirmed I can reproduce the issue, seems to only happen with pod IP

[2019-05-30 15:16] linsun commented on #13009
In this case, would a `hosts: *` work when you just have IP but don't have a domain ?

@frankbu @hzxuzhonghu - I think we tightened up checking for hosts in 1.1. Thoughts?

cc @mbanikazemi @howardjohn

[2019-05-30 15:33] MrBlaise opened #14450 "Nginx reverse proxy - upstream name must match the service or it fails to route"
If I have a service called `foo-bar` and I create an upstream block like this:
[code]

Then I proxy the request to this upstream like this:

[code]

It will cause an infinite loop with istio, but if I change the name of the upstream to `foo-bar` instead of `foo` so it matches the name of the service it works fine.

This is quite a headache when I am using third party solutions like cloudendpoints

[2019-05-30 15:45] weibaohui commented on #8807
More concerned about this issue, whether there are plans

[2019-05-30 15:47] Jonathan34 commented on #13009
@linsun `admission webhook "pilot.validation.istio.io" denied the request: configuration is invalid: invalid host *`
if i put 'foobar' as host, it creates the entry (have yet to try if it works)

[2019-05-30 16:02] ozevren commented on #13430
I think so. I'll move the doc to Test WG folder and put it in TOC agenda.

[2019-05-30 16:23] tiswanso commented on #14318
This has been ongoing here:  https://github.com/istio/cni/pull/100

It incorporates the istio-iptables.sh changes to support IPv6 but also accounts for iptables locking problems seen in some CNI usage scenarios.  The majority of the PR is mainly the testing effort for IPv6 on KDC.  The e2e-simple tests require the changes from PR #13753

[2019-05-30 16:36] howardjohn commented on #14350
I think my original assessment is wrong. Here is the "life of a push":

1. Config change occurs
2. Config change triggers push, which is debounced (default: 100ms interval, 10s max)
3. (async) call startPush.
4. For each proxy:
    1. Wait for turn from the (global) concurrentPushLimit (default: 20)
    2. (async) send XdsEvent to proxy pushChannel. Can be blocked if another push is ongoing. This

[2019-05-30 16:42] frankbu commented on #13009
You should use the `addresses` field to set the IP. When `addresses` is set, `hosts` is ignored, so it can be any hostname you like. I wonder why we don't just make hosts optional, and generate some name in this case?

^^^ @rshriram

[2019-05-30 16:45] howardjohn commented on #13009
@frankbu the host name is not fully ignored, our docs are not entirely correct. I think it is used to match VS at the very least. See https://github.com/istio/api/pull/932.

[2019-05-30 16:46] ozevren commented on #14121
The core of the framework needs a few minor refactorings, but otherwise relatively easy to move.
However, components and environments needs consideration.

Most components are quite heavily tied to istio/istio repo. Very few of them can be moved to pkg/, along with the framework. This is not an issue for istio/istio repo (as we can simply keep the components in there), however it means the compone

[2019-05-30 17:23] kyessenov commented on #14121
I don't think it's acceptable to have k8s dependency from istio/pkg. It's a very heavy weight library, adding megabytes to the binary.

[2019-05-30 17:25] kyessenov commented on #14121
Should we create a separate repo for the test framework? I don't think any released component should take a dependency on the tests. Moving it to istio/pkg allows this possibility, but if we keep test framework as a separate repo, it's much harder to introduce undesired dependency. The test repo can also take a dependency on all other istio repos.

[2019-05-30 17:56] incfly commented on #14436
Thanks for reporting this.

@quanjielin @wattli @JimmyCYJ  do we make default logging level debug?

Another data point, we are considering adding endpoints for metrics & debugging, something like `:15020/metricsz`

[2019-05-30 17:58] esnible commented on #13279
@rafik8 Are you working on this?

[2019-05-30 18:02] howardjohn commented on #14334
@mbanikazemi can you cherrypick this to 1.2 as well (or let me know and I can). Thanks!

[2019-05-30 18:14] mandarjog opened #14454 "1.2 nodeagent panic"
[code]

[2019-05-30 18:16] rlenglet commented on #5679
@zhaohuabing REDIRECT may translate the source IP.

[2019-05-30 18:17] johnma14 commented on #14220
@kramvan1 @linsun I have pushed a PR that contains a fix for the istio components. I still need to push another PR for the bookinfo samples which I will do in a bit. For the istio components one, you are right about the issue being with the Dockerfile.xenial_debug. It contains the apt-get install and apt-get upgrade commands though. So I pinned the sudo package as well as cleared the apt-cache als

[2019-05-30 18:23] rjbez17 commented on #12664
@Stono  are you implying that this is caused by having a significant amount of deployments that don't have the sidecar injected?

[2019-05-30 18:26] Stono commented on #12664
@rjbez17 no.  By default every sidecar in your mesh will receive config for all other applications deployed on your clusters.  Every time something changes (for example; a pod comes up or down), that config is pushed out to all envoys.

This results in Pilot doing a _lot_ of work.

In 1.1 they added the custom resource Sidecar (https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/) w

[2019-05-30 18:29] esnible commented on #14427
Do we know what all the annotations are?  https://github.com/istio/istio/issues/12940 is supposed to be tracking the creation of a master list.

[2019-05-30 18:31] JimmyCYJ commented on #14436
This log is printed by Citadel Agent, and by default the log level is info.

[2019-05-30 18:32] mandarjog commented on #14454
[istio-nodeagent-7t5kr.log](https://github.com/istio/istio/files/3238275/istio-nodeagent-7t5kr.log)

[istio-nodeagent-7t5kr.log](https://github.com/istio/istio/files/3238279/istio-nodeagent-7t5kr.log)

[2019-05-30 18:36] quanjielin commented on #14436
1. cert is printed out at [debug level](https://github.com/istio/istio/blob/master/security/pkg/nodeagent/sds/sdsservice.go#L420)
2. I think it's fine to log cert  (not private key) ? @wattli

[2019-05-30 18:38] incfly commented on #14436
I'm confused, if it's printed as debug level and default is INFO level, what this bug described should not happen, right?

[2019-05-30 18:51] quanjielin commented on #14436
@draeron did you see log is debug level by default ? would you mind share us your manifest( ```istio-ingressgateway.yaml``` )?

[2019-05-30 18:55] draeron commented on #14436
the logs is printed in the SDS sidecar located in the gateway pod, not Citadel.

[code]

[2019-05-30 18:57] rjbez17 commented on #12664
Ok cool thanks. I missed that in the release notes. We're hitting OOM with the pilot proxy so we'll look into implementing this.

[2019-05-30 18:59] quanjielin commented on #14436
1. below ```- --log_output_level=default:debug``` is turned on by default ? @JimmyCYJ
2. debug -> info will turn on info level log
[code]

[2019-05-30 19:02] draeron commented on #14436
I just checked, seems at some point I made that modification myself and tiller didn't reset my changes after an update.

So sorry for the noise!

Well i does print out secret content though....

[2019-05-30 19:05] ozevren commented on #14121
The dependency linking should be per binary/executable, so I don't think just having the dependency from the test framework will permeate to actual product binaries.

However, I am not sure how vendoring/go modules work in this regard. I see that as the most problematic aspect.

In terms of repo layering, separating out test framework to its own repo will cause it to become a leaf node in repo hie

[2019-05-30 19:09] Stono commented on #12664
That won't help you, in 1.1x they ask added a limit to the pilot proxy at 128mb (which for us sits around 160mb).

I argued it was too low in https://github.com/istio/istio/issues/12453, you can override it, for example:

[code]

[2019-05-30 19:11] Stono commented on #12453
@bhaskar-reddy in prometheus graph mode.

[2019-05-30 19:12] Stono commented on #12664
That won't help you with the pilot proxy unfortunately, that's a separate issue.
What are your requests and limits set to on the pilot proxy?

[2019-05-30 19:17] alunsford commented on #13022
So today we tried upgrading from 1.0.6 to 1.1.7 and the process worked with a few tweaks to the included helm chart. Lots of changes went in between 1.1.1 and 1.1.7 so I can't say which one in particular addressed the issue we were facing.

Previously, we were unable to traffic in Kiali, nor was it being reported by prometheus. Now we see it in both prometheus and kiali. Envoy access logs were dis

[2019-05-30 19:17] #13022 closed

[2019-05-30 19:26] rjbez17 commented on #12664
We've been using the defaults just fine for quite a while now. We are currently in the process of migrating to istio and only have a handful of services configured (less that 10), each with a VirtualService and that's about it. There isn't a whole lot of configuration changes that needs to propagate either, other than mTLS cert rolling. I was a little surprised to hit OOM with such a small workloa

[2019-05-30 19:33] alex-koturanov commented on #13265
Here is the configuration I added to get the ingress-gateway envoy stats based on the conversation above:
[code]

[2019-05-30 19:35] Stono commented on #12664
Something doesn't sound right there if I'm being honest.  I'd suggest opening a separate issue with full details about your cluster (not just mesh), eg pods, services, endpoints and so on.  I wrote a script for it: https://gist.github.com/Stono/bb53f4fddc3cf4676d1d065a3d1b3a98

For context I have circa 500 proxies, 700 pods, 430 services and my proxies use around 40-50mb each and the proxies next

[2019-05-30 20:01] frankbu commented on #13265
@esnible, I don't think we should document your hack, but rather add a new setting to the ingressgateway helm template to do it. I guess it would be useful for egressgateway also?

[2019-05-30 20:11] rafik8 commented on #13279
@esnible , need to perform a couple of tests before pushing the PR.

[2019-05-30 20:20] #14436 closed

[2019-05-30 20:25] su225 commented on #13466
No. It is not 127.0.0.1 problem. I had changed it to 0.0.0.0 and still the issue persisted. 127.0.0.1:44047 is the port-forwarder address which is used to contact the MCP Sink. I added more logging and I can see that port-forwarder can start without errors and the connection to MCP sink is also established successfully.
[code]

I tried searching for `scheme not registered` issue. But no luck there

[2019-05-30 20:30] kyessenov commented on #14121
Here's a simple trick to avoid binary dependency on tests: move all framework code into _test.go files. Then we can be sure dependencies are not leaking to the binaries.

[2019-05-30 20:39] geeknoid commented on #14121
Can you have code in a _test.go import from another package and access the stuff in its _test.go files?

[2019-05-30 20:47] su225 commented on #13466
I have one more question. How does galley know the address of mcp-server in kubernetes environment? I don't see cfg being used anywhere other than setting `cfg` field being set in `kubeComponent`. But it is used to pass sink address in case of native?

I digged into Galley's server mode code and Dockerfile.galley and nowhere I found the sinkAddress command-line argument passed to it. How will Gall

[2019-05-30 20:48] ozevren commented on #14121
How big a concern is this? I've never seen prod binaries taking a dependency on testing related code, but it may just be me. It is generally dead obvious when such a thing happens, especially in a code review. It is much more likely to accidentally sneak in a "simple method or a const" from a seemingly innocent library that ends up pulling the kitchen sink.

I don't think _test.go approach works.

[2019-05-30 20:54] kyessenov commented on #14121
We already introduced a dependency on pkg/test from released binaries, so this is a real concern:
[code]

[2019-05-30 21:00] ozevren commented on #14121
I tried Goland to find references and it looks like the only non-test dependency in Pilot is mock/config (which seems like a test library).

Similarly in Mixer, the references are either from tests, or from code under mixer/test.

[2019-05-30 21:39] pitlv2109 commented on #13249
So we're not deleting `istio-system` (and other resources) twice? The log seems to suggest it...

[2019-05-30 21:44] bhaskar-reddy commented on #12453
Thank you!
I am doing a bunch of research on namespace isolation for our large cluster, to be able to set different `Sidecar::egress` configuration; with and without `workloadSelector` setting.
So, was wondering what was your Prometheus/Grafana configuration, to get the proxy memory usage across cluster, if you could share.

[2019-05-30 21:56] howardjohn opened #14461 "STATIC ServiceEntry do not remove endpoints"
[code]

istioctl pc endpoints shows:
[code]

remove the service entry, now endpoints remain
[code]

Root cause seems likely to be https://github.com/istio/istio/pull/13447. What happens is the registry doesn't have the service (because it was deleted) so it is treated as not in the registry.

cc @hzxuzhonghu I am going to work on this but if you have any ideas I am happy to hear them

[2019-05-30 22:20] kyessenov commented on #14121
I am having flashbacks to the early istio with multiple repos, where it would take 3 PRs to fix a test, so I understand your concern with the code layout and modules. However, it is more important not to ship test artifacts in the binary. We don't have bazel-like system to enforce code separation, and we cannot rely on reviewers accidentally slipping a dependency on something in pkg/test that ends

[2019-05-30 23:17] howardjohn opened #14466 "STATIC ServiceEntry do not take endpoint weight into account"
[code]

Current output of /clusters:
[code]

Expected:
[code]

Probably we need to update https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v2/eds.go#L116-L122

[2019-05-30 23:19] howardjohn commented on #14414
Action items:
* Need to determine we validation isn't happening, or if it is why it doesn't catch this.
* Once we fix validation we probably shouldn't panic...
* Need to determine if route is required or not
  * if it is, make it fail validation if missing
  * if it isn't, fix this bug + probably other bugs for http

[2019-05-30 23:43] #14427 closed

[2019-05-31 01:05] yangminzhu commented on #11439
Not stale, we will need this in 1.3.

[2019-05-31 01:21] #14231 closed

[2019-05-31 02:11] irisdingbj commented on #14445
Yes, I agree this request is very reasonable. start to look at it.

[2019-05-31 02:15] irisdingbj commented on #14394
@esnible thanks for finding this issue out!

[2019-05-31 02:16] linsun commented on #14450
sorry but how is this related to istio?

[2019-05-31 02:19] linsun commented on #14430
good, pls keep us posted. I don't think k8s 1.10 is supported now with istio 1.1 - https://istio.io/docs/setup/kubernetes/prepare/platform-setup/

[2019-05-31 02:25] irisdingbj commented on #14381
Not sure how you inject the envoy side car into your pod. Seems config_dump does not work for it. maybe double check the sidecar version you used and make sure it is on the correct version with your istio installation?

[2019-05-31 02:40] harpratap commented on #14264
@anoopl Had the same issue, HTTP service was created for port 443 in some other namespace which caused all https calls to external services to fail. Fixed it by changing the offending service.

[2019-05-31 02:46] irisdingbj commented on #14394
@esnible https://github.com/istio/istio/pull/14470

[2019-05-31 03:20] ckcd commented on #14443
@howardjohn

Thanks for your reply!

yes, it only happen with request to POD_IP:Port when this Port is NOT in service.

And i think it's because the `PassthroughCluster` in `virtual` listener. maybe we should add some special judge in it to avoid this bad case.

[2019-05-31 03:45] darwin67 commented on #14223
Oops, forgot to close.

[2019-05-31 03:45] #14223 closed

[2019-05-31 03:49] darwin67 commented on #14102
Don't have enough details to tell but looks like https://github.com/istio/istio/issues/12755 might be related.

[2019-05-31 04:08] lei-tang opened #14472 "Node Agent is broken"
**Bug description**
The user guide https://istio.io/docs/tasks/security/vault-ca/ succeeds on the release istio-release-1.1-20190517-09-15 but fails on istio-release-1.2-20190528-09-16 and Istio 1.2.0-rc.0 due to Node Agent crashes after install Istio. Node Agent crash log is attached. This bug may also occur on release-1.1 branch and master branch.

Update 5-29-2019: Node Agent does not crash on

[2019-05-31 05:42] MrBlaise commented on #14450
@linsun this problem occurs when istio-proxy is injected, normally this flow is tottally fine but when the envoy proxy is present I get this behaviour.

[2019-05-31 05:58] lei-tang commented on #14472
The error log on Node Agent:
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x20 pc=0x6a8afb]

goroutine 1 [running]:
crypto/x509.(*CertPool).AddCert(0x0, 0xc4200eeb00)
        /usr/local/go/src/crypto/x509/cert_pool.go:95 +0x6b
crypto/x509.(*CertPool).AppendCertsFromPEM(0x0, 0xc420142480, 0x41d, 0x480, 0x20)
        /u

[2019-05-31 05:59] aliartiza75 commented on #14388
@objectiser I wasn't able to extract the logs because when I knew that something wrong has happened the pods were gone.

But the issue was in the replica set of `tracing` that it wasn't able to re-create the pod. It was generating the error that I described above in issue description in its `event logs`.

[2019-05-31 06:04] duderino commented on #14306
@fejta thank you for weighing in here.

@costinm and @fpesce, why has this issue become a blocker for the 1.2 release?  Is it because https://github.com/istio/istio/pull/13531 violated @fejta's first point that we no longer use a trusted image?   If so our choices are to revert the PR or make it safe over the next two weeks?

If not, please explain in actionable terms the work that needs to be don

[2019-05-31 06:09] lei-tang commented on #14472
The crush log is similar to the one in https://github.com/docker/go-connections/issues/43, which is caused by "ca-certificates package wasn't installed".  Recent commits on release 1.2 removed ca-certificates package on Node Agent, which may cause the Node Agent crash. The PR https://github.com/istio/istio/pull/14474 is created to diagnose this problem.

[2019-05-31 06:40] lei-tang commented on #14472
A potentially related issue: https://github.com/istio/istio/issues/14364

[2019-05-31 06:43] lei-tang commented on #14472
A potentially related issue: https://github.com/istio/istio/issues/14364

[2019-05-31 07:00] simox-83 commented on #12441
@JungukCho were you able to solve your issue? I am hitting the same problem..

[2019-05-31 07:02] #13722 closed

[2019-05-31 07:17] MrBlaise commented on #14450
[code]

I get a bunch of PassthroughCluster in istio-proxy logs when I try to visit an endpoint that is proxied to another service. (This is the third party cloudendpoints esp with predefined nginx config)

The same thing was happening in my own nginx reverse proxy, when I changed the upstream name to match the server name of the service I try to proxy to. I see the proper `outbound_.8080_.v1_.foo

[2019-05-31 07:20] MrBlaise commented on #14450
My guess is that nginx registers the upstream with the name I provide and when I call is using proxy_pass it would normally go to the server I specified but istio-proxy intercepts the local call as well and decides it is out of cluster. I am not that familiar with the inner working of the proxy but this is my guess.

[2019-05-31 07:47] objectiser commented on #14388
@aliartiza75 Sorry no idea - but looks like the sidecar injector is the issue. Although as shown [here](https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/tracing/templates/deployment-jaeger.yaml#L25), sidecar injection for the Jaeger deployment is false.

[2019-05-31 09:00] rajusharma commented on #13642
By adding accessLogFormat="" and accessLogEncoding: JSON it was resolved.
Thank you

[2019-05-31 09:00] #13642 closed

[2019-05-31 09:38] #14365 closed

[2019-05-31 10:15] geeknoid commented on #14121
Given the dependency chain, perhaps we would be better off with an
istio/test-framework repo? It would still need to be generic stuff, so no
component-specific logic, but at least all the k8s dependencies would be
constrained so we don't pull that in everywhere. Ideally, once we're done
with all this, only the galley repo and istioctl repo will have
dependencies on k8s, everything else should be g

[2019-05-31 11:07] geeknoid opened #14475 "istio/tools/license needs to be updated for Go modules"
The license checker needs to be updated to work for Go modules. Once that's done, the license checker then needs to be deployed to all Go branches that contribute binaries to our distribution. For now, this would be istio/operator and istio/istio.

[2019-05-31 12:21] #11621 closed

[2019-05-31 12:26] geeknoid commented on #13813
Can we close this issue then?

[2019-05-31 13:48] esnible commented on #14381
I also cannot reproduce this.  If `curl http://127.0.0.1:15000/config_dump` gives "Empty reply from server" it means Envoy is crashing when it tries to make JSON from the internal configuration provided by Pilot.

With a fresh pod, so the log is short, do `kubectl exec` as above then do `curl -X POST http://localhost:15000/logging?level=trace` before doing `curl http://127.0.0.1:15000/config_dump`

[2019-05-31 14:46] ozevren commented on #14190
I've seen this type of failure in other tests as well. To me, it feels like an issue with the current installer.
@costinm, @sdake is this a known issue? Could this be from the installation scripts and/or the test environment?

[2019-05-31 15:12] #14374 closed

[2019-05-31 15:14] helpsolution commented on #8503
I have a similar problem
<img width="941" alt="Снимок экрана 2019-05-31 в 18 13 55" src="https://user-images.githubusercontent.com/27892929/58715619-eda51a00-83cf-11e9-8aca-7b3cce08305a.png">
Mac OS

[2019-05-31 15:16] shancang opened #14479 "Fluentd 记录日志 error_class=MessagePack::UnknownExtTypeError error="unexpected extension type"
[x] Policies and Telemetry
根据官方文档，https://istio.io/zh/docs/tasks/telemetry/logs/fluentd/  deployment。
报错如下：
  2019-05-31 15:04:52 +0000 [error]: #0 /usr/lib/ruby/gems/2.5.0/gems/fluentd-1.4.2/lib/fluent/plugin_helper/thread.rb:78:in `block in thread_create'
2019-05-31 15:06:52 +0000 [error]: #0 unexpected error on reading data host="10.42.5.106" port=59140 error_class=MessagePack::UnknownExtTypeEr

[2019-05-31 15:22] ozevren commented on #13813
The tests needs to be marked as non-flaky. Then we can close the bug.

[2019-05-31 15:57] ibm-jason commented on #14237
### Status Update

I had a brief conversation yesterday with @linsun, who asked that we determine the tangible benefit of implementing the "fix" for this issue. Later, I spoke with @kramvan1 asked him what the benefit is and he stated the following:

So for now, I just need them fully qualified like `docker.io/istio/examples-bookinfo-ratings-v1:1.12.0` and it’s good.

The PR that I've prepped for

[2019-05-31 16:09] ozevren commented on #11374
The latest runs for this test seems to be green:
https://testgrid.k8s.io/istio-postsubmits-master#circleci-e2e-pilot-cloudfoundry-v1alpha3-v2

Should we close this?

[2019-05-31 16:21] jmagnusson commented on #14380
This hit me as well, while trying to drain the pods on the node pool containing istio (during kubernetes upgrade).

The error that I was getting was:
[code]

For `istio-ingressgateway`, `istio-pilot`, `istio-policy` and `istio-telemetry` I could just set the HorizontalPodAutoscaler to require a minimum of 2 pods (`minReplicas`) and for `istio-galley` I could just increase the replica count on the

[2019-05-31 16:40] #13813 closed

[2019-05-31 16:59] gargnupur commented on #14423
I think this is same as https://discuss.istio.io/t/quotaspecbinding-not-work/2470/2.

Please provide with the following information:
Can you give more information about the pod where you are not seeing the log?
Is this your applications pod or a istio-system’s pod?
Also the config_dump of the pod where you are not seeing the log could help figure out why Quotaspecbinding is not working as you expe

[2019-05-31 17:20] howardjohn commented on #14088
@vadimeisenbergibm is this still needed? Your change in release 1.1 will NOT be in 1.2 if nothing is done

[2019-05-31 17:21] howardjohn commented on #13728
@crazyxy this is fixed now, right? If not please reopen

[2019-05-31 17:21] #13728 closed

[2019-05-31 17:23] crazyxy commented on #13728
It was fixed. Thanks!

[2019-05-31 17:26] #14238 closed

[2019-05-31 17:33] howardjohn commented on #13939
Needs more info to debug further. If it is still a problem or you have more info please reopen

[2019-05-31 17:33] #13939 closed

[2019-05-31 17:34] howardjohn commented on #14450
Might be related to https://github.com/istio/istio/issues/14443

[2019-05-31 17:39] johnma14 commented on #13714
This has been fixed and merged. Thank you.

[2019-05-31 17:39] #13714 closed

[2019-05-31 17:39] howardjohn commented on #14296
As far as I can tell, this problem is already fixed in master, see samples/bookinfo/networking/bookinfo-gateway.yaml.

If this is not the case please follow up with more information as it is not clear what the problem is currently

[2019-05-31 17:40] #14296 closed

[2019-05-31 17:52] howardjohn commented on #14204
I believe it is https://github.com/istio/istio/pull/14212

[2019-05-31 17:56] howardjohn commented on #11130
Long term fix is https://github.com/istio/istio/issues/11366 or maybe https://github.com/kubernetes/kubernetes/issues/65502

[2019-05-31 17:58] howardjohn commented on #14070
We are tracking this under https://github.com/istio/istio/issues/11130. To keep things simpler, lets track this there

[2019-05-31 17:58] #14070 closed

[2019-05-31 18:05] johnma14 commented on #14220
@kramvan1 @linsun for the security vulnerability scan failures related bookinfo samples, there are several fixes that were made in this WI: https://github.com/istio/istio/issues/13262. The one that directly affects the bookinfo-reviews and ratings were fixed in this: https://github.com/istio/istio/pull/13716 which got merged only 8 days ago. The latest image 1.1.14 was built and pushed 9 days ago.

[2019-05-31 18:06] howardjohn commented on #14004
These metrics are not from istio, so I am going to close this. Istio metrics are istio_request_duration_seconds_bucket, you are looking at fortio metrics

[2019-05-31 18:06] #14004 closed

[2019-05-31 18:08] douglas-reid commented on #7822
Closing, as i believe this issue was OBE and will not be addressed in the existing architecture.

[2019-05-31 18:08] #7822 closed

[2019-05-31 18:13] douglas-reid commented on #14479
I don't know what the issue is from this description, but it does appear that the `zh` lang docs are missing recent updates. One of those missing updates is a WARNING:

[code]

I'm going to close this, pending more information. Please re-open if the issue persists and more detail is available to provide.

[2019-05-31 18:13] #14479 closed

[2019-05-31 18:16] howardjohn commented on #13762
It seems to me the issue is there is no PDB for the injector, so it will get scaled to 0 and block other pods from starting up. In https://github.com/istio/istio/pull/14210 we added a PDB which I suspect would fix it

[2019-05-31 18:20] howardjohn commented on #13859
I am not sure exactly what you are asking, but all our APIs that define various forms of load balancing can be found in https://istio.io/docs/reference/config/networking/ which may be a good starting place

[2019-05-31 18:22] geeknoid opened #14484 "Add a bot that performs initial triage"
Based on the user-checked item in a bug report, the bot can assign the right area label.

[2019-05-31 18:26] howardjohn commented on #14005
Thanks for reporting this. We have switched over to go modules and don't use dep so I don't think this is relevant anymore

[2019-05-31 18:26] #14005 closed

[2019-05-31 18:33] douglas-reid commented on #1472
I'm closing, as part of triage, as it appears the work has been done.

[2019-05-31 18:33] #1472 closed

[2019-05-31 18:36] lei-tang commented on #14472
The user guide https://istio.io/docs/tasks/security/vault-ca/ succeeds on istio-release-1.2-20190529-09-16.

[2019-05-31 18:41] douglas-reid commented on #5673
Closing, reflecting the updates that have been made to enable application metrics scrapping. Separate issues for sidecar injection of Prometheus should be opened as needed.

[2019-05-31 18:41] #5673 closed

[2019-05-31 18:42] douglas-reid commented on #5725
Until redis tracing is supported in Envoy, there is no action to take on this issue. Closing for now.

[2019-05-31 18:42] #5725 closed

[2019-05-31 18:44] douglas-reid commented on #9556
Closing, given https://github.com/istio/istio/issues/9556#issuecomment-457670403.

[2019-05-31 18:44] #9556 closed

[2019-05-31 18:44] howardjohn commented on #13358
This issue has been fixed on 1.1.3+ I believe. If you have issues with newer versions please reopen this

[2019-05-31 18:44] #13358 closed

[2019-05-31 18:46] douglas-reid commented on #9827
@venilnoronha I'm going to close this for now. There are several options for export of envoy metrics within the system (and including things like the OpenCensus service). There is no planned work on the horizon for Istio to take on this work.

[2019-05-31 18:46] #9827 closed

[2019-05-31 18:50] douglas-reid commented on #10560
Closing, as related PR was closed without merge.

[2019-05-31 18:50] #10560 closed

[2019-05-31 18:51] douglas-reid commented on #12115
@gargnupur what's left here?

[2019-05-31 18:54] su225 commented on #13466
When I changed it to 0.0.0.0, the issue was still there. The address in the logs is the address of the port-forwarder. The test is trying to dial to MCP server through it. I see that Galley uses its own port-forwarder. But what galley needs is **`sinkAddress`** which is not supplied.

One issue. I see that in galley component for k8s (istio/pkg/test/framework/components/galley/kube.go) we just get

[2019-05-31 18:56] douglas-reid commented on #14284
@gargnupur can you add a WARNING to the task to turn off chrome preload ?

[2019-05-31 18:57] #14380 closed

[2019-05-31 18:57] douglas-reid commented on #14204
I believe this issue to have been addressed. Closing for now.

[2019-05-31 18:57] #14204 closed

[2019-05-31 19:01] douglas-reid commented on #13972
Thanks for the suggestion. I agree that this would be worthwhile. However, I'm not sure that tracking this via issues is the best way to manage integration development.

If metricbeat has prometheus support, I'd suggest that path to start. If you want more, please mention the effort on discuss.istio.io and coordinate out-of-tree out-of-process adapter development, etc., through another mechanism.

[2019-05-31 19:01] #13972 closed

[2019-05-31 19:39] gargnupur commented on #12115
Reopening this PR: https://github.com/istio/istio/pull/12507 and using the status field added in PR https://github.com/istio/api/commit/657d9f2e5518298991030f8f3475b976bda47931.
After that using the added status in quotaresult in istio proxy...

Will try to get to these next week..

[2019-05-31 19:40] #13039 closed

[2019-05-31 19:41] lei-tang commented on #13439
https://github.com/istio/tools/pull/156

[2019-05-31 19:42] gargnupur commented on #14284
Sure...

[2019-05-31 19:44] douglas-reid commented on #13543
I'm going to close this issue. There is on-going design work to allow flexible extension of behavior within the proxy. Outside of the proxy, there are out-of-process adapters that can be written in any language, and are capable of handling some complex logic.

[2019-05-31 19:44] #13543 closed

[2019-05-31 19:46] geeknoid opened #14487 "Testing"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please pu

[2019-05-31 19:48] #14487 closed

[2019-05-31 19:48] dimpavloff commented on #11660
Hi, this is still an issue. As per the original post, `INBOUND_PORTS_INCLUDE` is never `*` which means the `excludeInboundPorts` annotation is always ignored. Could we remove the stale annotation please?

[2019-05-31 19:50] douglas-reid commented on #13991
@pc-rshetty to be clear, port-forward access is **not** required. please see: [Remotely Accessing Telemetry Addons](https://istio.io/docs/tasks/telemetry/gateways/).

[2019-05-31 19:54] douglas-reid commented on #13424
I'm going to close this Epic. The `code mauve` effort shifted a bit in focus since the creation of this Epic and there are other efforts to prioritize, etc.

At the time of closing, 17 of 47 tasks were completed, with 2 remaining open P0s.

[2019-05-31 19:54] #13424 closed

[2019-05-31 19:56] douglas-reid commented on #13235
Closing this issue, as this has been resolved in the new releases.

[2019-05-31 19:56] #13235 closed

[2019-05-31 19:58] douglas-reid commented on #12770
Closing this issue, as it appears that priorities have changed.

[2019-05-31 19:58] #12770 closed

[2019-05-31 20:02] douglas-reid commented on #10932
Issue has been fixed in master.

[2019-05-31 20:02] #10932 closed

[2019-05-31 20:04] douglas-reid commented on #9964
Given that we have a mitigation in 1.1 and a longer-term fix in development, I'm going to close this issue for now. Work is continually being done to improve the efficiency of the telemetry pipeline within Istio, and that work is tracked in other issues, etc.

[2019-05-31 20:04] #9964 closed

[2019-05-31 20:10] douglas-reid commented on #14484
Would such a bot triage this issue as well ;) ?

[2019-05-31 20:19] howardjohn commented on #14242
Another nice graph of the slow leak https://snapshot.raintank.io/dashboard/snapshot/rol0aNcIs2I45RpfHrW2gdDOg9KMYW1z?panelId=72&fullscreen&orgId=2, over a 1 week period

[2019-05-31 20:32] stevelowery opened #14489 "Documentation for Fault Injection Percentage is incorrect"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
The examples in the documentation for Fault Injection ( https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPFaultInjection-Abort and https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPFaultInj

[2019-05-31 20:56] geeknoid commented on #14484
I've got it half written at this point. Through configuration, you specify
a set of regexes to match in the title or body, for a new issue or PR, and
if there are any matches, then the specified set of labels is applied. So
we can use it for initial triage, but potentially for other things too. For
example, I can auto-label feature requests vs. issues based on the template
the user chose.

On Fri,

[2019-05-31 20:57] ozevren opened #14490 "kind-simpleTest is faling in post submit."
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-kind-simpleTest-master/129
https://testgrid.k8s.io/istio-postsubmits-master#kind-simpleTest-master

[2019-05-31 21:00] ozevren opened #14491 "Flaky Test: istio.io/istio/tests/integration/pilot/locality.TestFailover"
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/246

[2019-05-31 21:03] pc-rshetty commented on #13991
thanks @douglas-reid  will give it a try.

[2019-05-31 21:04] ozevren commented on #14491
Multiple flavors failing:
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests&sort-by-flakiness=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/242
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/246
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/245

[2019-05-31 21:04] douglas-reid commented on #14484
Cool. I was sorta making a joke about how we only consider issue triaged that have a `area` label and how this issue does not have an `area` label.

[2019-05-31 21:04] sushicw commented on #13869
I'm planning to tackle this once I've gotten some preliminary reading / onboarding taken care of.

[2019-05-31 21:05] ChrisCooney commented on #14380
Sweet 🔥🔥🎉🎉🙏

[2019-05-31 21:05] ozevren opened #14492 "Flaky Test: TestProxyTracing"
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests&sort-by-flakiness=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/245

[2019-05-31 21:07] ozevren opened #14493 "Test Failure: TestOutboundTrafficPolicyAllowAny"
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests&sort-by-flakiness=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/240

[2019-05-31 21:09] ozevren opened #14494 "Flaky Test: istio.io/istio/tests/integration/mixer/policy.TestRateLimiting_RedisQuotaFixedWindow"
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests&sort-by-flakiness=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-integ-k8s-tests-master/233

[2019-05-31 21:21] kbruner commented on #11978
I got this just now with istio 1.1.7, which I've installed multiple times the exact same way without issue.  I'm running 2 instances of the ingressgateway for HA, and there's no `nodeSelector` in the deployment to prevent them from ending up on the same node, thus causing the `nodePort` conflict.

[2019-05-31 21:37] kbruner commented on #11978
Ah, actually, my issue is a bit different.  Opening a new issue.

[2019-05-31 21:46] Jonathan34 commented on #13009
i can confirm what @howardjohn says:
[code]
I set `unused` but it still does something with it. It seems the serviceentry works though with such host. So it's parsed but not used.

There is still some other breaking changes related to ServiceEntry that I have not identified yet.
The following service entry works in istio 1.0.6 but generates ECONNRESET with istio 1.1.3.
[code]
I updated it to the b

[2019-05-31 21:48] uk000 opened #14495 "Istio proxy sidecar need to skip mTLS when routing request an external endpoint based on ServiceEntry locality"
**Bug description**
As of Istio 1.1.7, given the following scenario:
- there is a cluster service configured to use mTLS and is consumed by in-cluster clients over mTLS
- the service is also deployed outside of kubernetes cluster (on cloud VMs), and the service wants to provide a "fallback/failover" feature to its in-cluster clients such that when there are no healthy pods available for the servic

[2019-05-31 21:59] uk000 opened #14496 "External endpoints setup for failover using ServiceEntry locality feature must support DNS resolution"
**Bug description**
As of Istio 1.1.7, ServiceEntry locality feature (for adding additional external endpoints for a service) only supports STATIC resolution and requires endpoint destinations specified as IP addresses. In any non-trivial production-grade scenario where a service is running on cloud VMs as well as inside a kubernetes cluster, and the service wants to enable in-cluster traffic to f

[2019-05-31 22:04] Stono commented on #13848
Along with silentdai's PR, we also discovered that applications which have a low socket timeout value will terminate connections to envoy more frequently, exacerbating the issue.  I've written about it here: https://karlstoney.com/2019/05/31/istio-503s-ucs-and-tcp-fun-times

The **TLDR;** here is that @silentdai's update (hopefully in 1.1.8) combined with an awareness and adjustment of application

[2019-05-31 22:04] #13848 closed

[2019-05-31 22:04] howardjohn commented on #14496
@PiotrSikora any insight on how feasible this is? Our locality works by setting the [priority](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/load_balancing/priority) field. So in this case they have endpoints in cluster with priority 0 and endpoints external endpoints with priority 1.

[2019-05-31 22:15] duderino commented on #14220
@johnma14 can you send all your pull requests to both the release-1.1 and release-1.2 branches.

Also, I'd really prefer it if you did this work privately and shared the results only with vulnerabilities@discuss.istio.io

[2019-05-31 22:16] duderino commented on #14220
@kramvan1 too ^

[2019-05-31 22:42] kbruner opened #14499 "NodePort conflicts with `kubectl expose`d services"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**

The managed and mandatory `default-http-backend` service deployed in GKE clusters apparently randomly picks a NodePort at start time in the lower 30000 range.  (I cannot find any documentation on this, but I spot-checked a dozen different clusters otherwise created the

[2019-05-31 22:52] cscetbon commented on #9150
Hey @incfly, I have the same issue and even setting that parameter does not help. I tried with and without MTLS and I get the same result :

`0s          Warning   Unhealthy           pod/my-pod-566ff945f9-vnsnh    Readiness probe failed: HTTP probe failed with statuscode: 503`

Here you can see that rewriteAppHTTPProbe is set :
[code]

Any idea what could be wrong ?

[2019-05-31 22:57] incfly commented on #9150
@cscetbon  Can you try to deploy the liveness-http.yaml as https://github.com/istio/istio/blob/master/samples/health-check/liveness-http.yaml while enabling that flag? And see if that's working for you or not?

If yes, then we need to see if theres' something special about your container's probe defintion that we failed to cover.

[2019-05-31 23:05] cscetbon commented on #9150
@incfly no issue with your deployment. The weird thing is that my pod actually does not have an http probe but has an exec probe. Here is the content of the helm https://pastebin.com/BLic5NJg.

[2019-05-31 23:05] ozevren opened #14500 "Flaky Test: istio.io/istio/mixer/test/client/quota_cache.TestQuotaCache"
https://testgrid.k8s.io/istio-postsubmits-master#unit-tests&sort-by-flakiness=
https://prow.k8s.io/view/gcs/istio-prow/logs/istio-postsubmit-master/145

[2019-05-31 23:27] johnma14 commented on #14220
@duderino I will send the PR's to the other branches as well.

[2019-05-31 23:49] ozevren commented on #14491
dup

[2019-05-31 23:49] #14491 closed

[2019-05-31 23:51] cscetbon commented on #9150
@incfly I've updated it at https://pastebin.com/XHGn7k7t cause there was a syntax error. You can use `--validate=false` when you apply it. I've found out that if I remove the **readinessProbe** key I still get this error which makes more sense as it's not an http probe. I've also tested without Istio and this probe is added by Istio :

[code]

So I can't understand why and even if it's needed, why

[2019-05-31 23:55] incfly commented on #9150
:15020 probes are not added to your cassandra container, it's added to `istio-proxy` container, Istio adds this prober to ensure the sidecar receives necessary envoy configuration in order to serve the request.

cassanra may have some known issues, unrelated to health check. I'm not sure what's the current status. I remembered theres' some known issues about Cassandra & Istio support in general, h

[2019-06-01 00:12] cscetbon commented on #9150
@incfly but wait here there is no cassandra cluster at all. So it's only on that pod. I get it that it was added to the Istio container in that pod. But why is it failing because of that probe ? This is only a warning but seeing one pod running out of 2 makes me think that this is a problem
[code]

[2019-06-01 00:35] howardjohn commented on #14499
If it helps, you can set it in Helm as well: https://github.com/istio/istio/blob/8476158e82721ec4929e7071eb85f26b85189241/install/kubernetes/helm/istio/charts/gateways/values.yaml#L67

[2019-06-01 00:51] howardjohn commented on #14242
I tried really hard to isolate this to envoy, and created the same config that was causing this issue (using https://github.com/howardjohn/file-based-istio), and they all used the same small amount of memory. It is possible this just means the issue is in Envoy's code for a real XDS connection, or something to do with the sequence of pushes.

I am not sure what the next steps to debug this are @si

[2019-06-01 00:53] shancang commented on #14479
谢谢

[2019-06-01 00:58] geeknoid opened #14503 "This is a great idea"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[x] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Sec

[2019-06-01 01:02] #14503 closed

[2019-06-01 02:14] Kiddinglife commented on #13859
thanks for your reply.

What I need is actually an programmatic way to make my own load balancing rule instead of hard coded rules.

Current Istio load balancer is perfect for web developments that have a fixed ‘patterns’ of round robin weighted and so on.

But game server does need a customised load balancing rule that is closely coupled with game plays.

If you still do not know I want, please s

[2019-06-01 02:34] ozevren opened #14504 "Flaky Test: TestEnvoyRDSProtocolError"
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/14478/istio-unit-tests-master/1138

[2019-06-01 02:50] howardjohn commented on #13859
if your needs extend beyond
https://www.envoyproxy.io/docs/envoy/v1.5.0/intro/arch_overview/load_balancing
then we probably don't support it. I think the most dynamic you can get
would be to have a layer above Istio that configures the CRDs, but not a
full custom lb strategy

On Fri, May 31, 2019, 7:15 PM Jake Zhang <notifications@github.com> wrote:

[2019-06-01 02:57] Kiddinglife commented on #13859
ok thanks.
can close this issue

Sent from my iPhone

On 1 Jun 2019, at 12:51 pm, John Howard <notifications@github.com<mailto:notifications@github.com>> wrote:

if your needs extend beyond
https://www.envoyproxy.io/docs/envoy/v1.5.0/intro/arch_overview/load_balancing
then we probably don't support it. I think the most dynamic you can get
would be to have a layer above Istio that configures the CR

[2019-06-01 05:02] xring commented on #13819
@rphillipsz one more thing, I can get `x-b3-traceid` header from Envoy log by `%REQ(X-B3-TRACEID)%`, but can not get this header from Lua script in EnvoyFilter.

My EnvoyFilter applies on GATEWAY, by checking access log from ingressgateway, I can see x-b3-traceid generated by istio, but can not get this header from Lua script, any idea?

[2019-06-01 06:18] hzxuzhonghu commented on #13106
If your cluster scale is not very large, this is absolutely abnormal. You can try to test with #13228 and only update pilot docker image

[2019-06-01 08:58] rsoika opened #14507 "Is isto an alternative to apigee?"
It's just a question: isn't isto an alternative to apigee? Maybe it should be listed at
https://alternativeto.net/software/apigee/
I did not hear about the project until I found this [article on d-zone](https://dzone.com/articles/the-rise-of-service-mesh-architecture).

[2019-06-01 10:08] hzxuzhonghu commented on #14461
@howardjohn What version do you use?  i test this with 1.1.6, and can not reproduce.

[2019-06-01 10:10] su225 commented on #13466
Now I'm really stuck. Native works because we first create MCP Sink and then pass that address to the Galley which comes next. But in K8s environment, Galley will be running without `sinkAddress` (and `sinkAuth` if needed) before MCP sink is brought up. As far as I know `sinkAddress` and `sinkAuth` must be passed at startup to Galley to create `callout`.

To confirm this, I disabled creating istio

[2019-06-01 10:30] hzxuzhonghu commented on #14466
good find

[2019-06-01 10:54] hzxuzhonghu commented on #14466
Just to keep in mind, the LocalityLbEndpoints.LoadBalancingWeight now equals to the number of its LbEndpoint
`The load balancing weight for an endpoint is divided by the sum of the weights of all endpoints in the endpoint’s locality to produce a percentage of traffic for the endpoint. This percentage is then further weighted by the endpoint’s locality’s load balancing weight from LocalityLbEndpoin

[2019-06-01 13:15] rphillipsz commented on #13819
@xring You might try dumping all of the request headers from lua, to see if it's there with some other prefix or something.  If it isn't there at all, it's something the istio devs would need to look into.  I'm not sure why envoy wouldn't forward the trace headers to the lua side call.

[2019-06-01 13:34] xring opened #14508 "EnvoyFilter can not get b3 tracing headers"
**Bug description**
Using EnvoyFilter for external auth through `envoy.lua`:
[code]
And I have config the access log format for Envoy:
[code]
Then try to access some resources `curl https://foo.bar.com/book/booklist`, and got log in istio-ingressgateway:
[code]
As per access log, istio-ingressgateway has traceid `3753f153a3a4cc7153f1f82ac4187202` and spanid `53f1f82ac4187202`, but I can not get th

[2019-06-01 14:05] #13859 closed

[2019-06-01 14:06] xring commented on #13819
@rphillipsz Opened [an issue](https://github.com/istio/istio/issues/14508) for this

[2019-06-01 14:21] howardjohn commented on #14461
I tested on 1.2 . I think it doesn't impact 1.1 because of the PR I linked is not in 1.1

When I reverted that PR the problem is fixed, but we need to fix it without bringing back the old bug

[2019-06-01 14:23] howardjohn commented on #14466
Yes I think we need to do the same thing we did for ServiceEntry. I think we took weight of each endpoint in the locality into account, would have to check though. You added tests for it though so we can go based on that

[2019-06-01 17:32] #11008 closed

[2019-06-01 18:04] wattli opened #14512 "Do not use in-memory root for citadel"
If Citadel fails to update the CA-root stored in K8s secret, it uses an in-memory root for the cluster. This was introduced in very early stages to support testing Citadel in special environments (non-K8s). Now we should not support in-memory root, because the in-memory root is not sustainable for production usage. It may also cause issues in special scenarios. For example, when Citadel fails to r

[2019-06-01 18:32] #11010 closed

[2019-06-01 19:14] bianpengyuan commented on #14508
I think it is because in envoy tracing header injection does not happen until router filter, which is at very end of the filter chain: https://github.com/envoyproxy/envoy/blob/master/source/common/router/router.cc#L412.

Http filter should be able to fetch tracing context from `StreamDecoderFilterCallbacks`, but seems like lua filter API does not expose that information. I think a question/FR to u

[2019-06-01 20:32] #10796 closed

[2019-06-01 20:58] howardjohn commented on #14496
Also a minor clarification - locality lb does work with DNS resolution, but dns resolution won't merge with an existing service so you can't failover from kubernetes service to external service

[2019-06-01 21:32] #10586 closed

[2019-06-01 23:51] Bessonov commented on #8615
Activity!

[2019-06-01 23:52] MrSaints commented on #12067
We are on Istio 1.1.7, and it may be a misconfiguration, but we are experiencing a similar issue. We have our retries set to 2 with a timeout of 10s. Immediately after 10s, Istio returns 504. Is this expected? Should the 2nd try not theoretically push the timeout beyond 10s?

[2019-06-02 00:30] #10847 closed

[2019-06-02 01:30] #11056 closed

[2019-06-02 02:30] #11489 closed

[2019-06-02 03:30] #10201 closed

[2019-06-02 04:30] #9993 closed

[2019-06-02 04:56] liorfranko commented on #14381
Here are the logs during the crash.

[all.log](https://github.com/istio/istio/files/3244450/all.log)

[2019-06-02 07:30] #10555 closed

[2019-06-02 07:46] xring commented on #14508
@bianpengyuan Find these config in istio-ingressgateway listener:
[code]
You're right, `envoy.router` is the last route, however if I change EnvoyFilter config to this:
[code]
this filter will not execute.

About the `StreamDecoderFilterCallbacks`, can u plz share a reference?

[2019-06-02 08:30] #10272 closed

[2019-06-02 09:30] #10864 closed

[2019-06-02 13:52] xring commented on #13728
Any idea to quick fix this problem without version upgrade? We use EnvoyFilter for external auth, this bug doubled request traffic.

[2019-06-02 13:59] xring commented on #13728
btw, if `listenerType` is `GATEWAY` works normal.

[2019-06-02 15:02] cagataygurturk commented on #10543
Have the same request. This is not only for this message but we'd like to have a way of customising all error messages Istio is sending to client.

[2019-06-02 15:30] #9572 closed

[2019-06-02 15:53] gokhansengun commented on #13728
@xring

I have a quite kludgy workaround. It is utilizing `dynamicMetadata` which requires `1.1.x` I believe.

[code]

[2019-06-02 17:30] #9581 closed

[2019-06-02 18:18] Stono opened #14516 "Citadel self signed CA does not auto-renew"
**Bug description**
The root certificate generated by citadel `istio-system/istio-ca-secret` hit 365 days old:

[code]

This caused services to be unable to talk to the control plane:

[code]

And services unable to talk to each other:
[code]

Locating this was a nightmare, no logs anywhere indicated there was a problem with certificates.  It was by pure chance I noticed the secret was 365 days ol

[2019-06-02 18:22] Stono opened #14517 "Istio sidecar-injector mutatingwebhookconfiguration certifcate does not auto-renew"
**Bug description**
The certificate in the mutatingwebhookconfiguration of the sidecar-injector `caBundle` expired, and did not auto renew.

Following on from https://github.com/istio/istio/issues/14516 - when we were trying to get services back online, pods were unable to start due to the certificate on the injector being invalid.

This compounded an already bad day.

**Affected product area (ple

[2019-06-02 18:36] duderino commented on #14516
Not sure if 1.2 is feasible for this, but hopefully something can be done in that timeframe

[2019-06-02 18:37] duderino commented on #14516
At a minimum, reducing the time to root cause this and even better, spewing our warnings ahead of the expiration should be done for both 1.1 and 1.2

[2019-06-02 18:59] duderino commented on #14517
Setting to P0 since this exacerbated the recovery from https://github.com/istio/istio/issues/14516

[2019-06-02 19:09] myidpt commented on #14517
Working on it. Using Kube CA to generate certs for the webhook solves this issue. But it will come out in 1.3.

In 1.2, we will change the root cert TTL to 100 years for now, and we will make a transition support plan and may cherrypick a root cert rotation PR.

[2019-06-02 19:14] Stono commented on #14517
`caBundle` gets auto generated now (eg if I set `caBundle:''` in the secret and restart the injector it regenerates correctly.

It seems like a small piece of work to add a simple check that uses that same code to refresh the secret if it's due soon?

[2019-06-02 19:16] myidpt commented on #14516
In 1.2, we will prolong the root cert TTL to 100 years. This will remove the ticking bomb issue. For 1.1 and 1.2, beyond that, I think we need to have a root transition feature for the users that are already using the old 1 year cert to rotate to new root certs.

[2019-06-02 19:20] Stono commented on #14516
@myidpt forgive me but I don't see too much value in that 1.2 work.  If you think about it; it's only going to help new users.  Existing users will still be on the old cert.  New users coming along on 1.2 will likely have the certification rotation feature in place way before the 1 year expiry they'd be getting anyway.

I'd suggest more important for 1.2 is:

  - Log messages clearly stating what'

[2019-06-02 20:04] neeleshkorade commented on #12231
@ostromart @mattmi88 I am running into something similar. I followed the pointers given in this issue and the #11571 , however, it still doesn't work for me. Here're the sidecar-innjector configmap, the psp I am using.

[code]

[code]

[2019-06-02 20:04] neeleshkorade commented on #12231
@ostromart @mattmi88 I am running into something similar. I followed the pointers given in this issue and the #11571 , however, it still doesn't work for me. Here're the sidecar-innjector configmap, the psp I am using.

[code]

[code]

[2019-06-02 20:06] neeleshkorade commented on #12231
@ostromart @mattmi88 I am running into something similar. I followed the pointers given in this issue and the #11571 , however, it still doesn't work for me. Here're the sidecar-innjector configmap, the psp I am using.

[code]

[code]

[code]

[2019-06-02 20:14] neeleshkorade commented on #12231
@ostromart @mattmi88 I am running into something similar. I followed the pointers given in this issue and the #11571 , however, it still doesn't work for me. Here're the sidecar-innjector configmap, the psp I am using.

[code]

[code]

[code]

My app is deployed in the namespace `app-namespace`. I am binding the service account of my app deployment to the psp given above as follows.
[code]

The er

[2019-06-02 20:24] wenchenglu commented on #14516
@Stono
Thank you for reporting this issue. Totally understand your frustration. Yes, we definitely should provide a well-tested Citadel root upgrade plan (along with troubleshooting guide) for existing users without disrupting their traffic including envoy->pilot, envoy<->envoy, and others. This will be our P0 work and we will update our plan how to address this ASAP.

[2019-06-02 20:30] #8823 closed

[2019-06-02 21:30] #7814 closed

[2019-06-02 22:44] bianpengyuan commented on #14508
I am not sure about this but I vaguely remember that router filter needs to be at the end of http filter chains. @mandarjog @PiotrSikora Is this the case?

https://github.com/envoyproxy/envoy/blob/8d1ad35aa724962f64f7535531e408c9a93d364c/include/envoy/http/filter.h#L125
StreamFilterCallback is available for all filters including lua filter, but seems like only filter metadata is exposed via lua fi

[2019-06-02 23:58] #9806 closed

[2019-06-03 00:23] howardjohn commented on #13908
@zhiqli if you are using grpc streaming, as you mentioned, then a connection will be held and the traffic weighting will not take affect until a new connection is established.

You may want to have the clients close connections periodically. This is what Pilot does to load balance across Envoys

[2019-06-03 00:53] myidpt commented on #14516
@Stono Understood. We will definitely support the existing users by warning in Citadel logging, pointing to documentation on how to manually do root transition. We probably need to build a new release with this fix as well. We may post message on istio.io website to notify users, and announce the rotation procedure in next security community meeting. We will also work on an automatic root transiti

[2019-06-03 02:25] hzxuzhonghu commented on #14461
Let me have a look

[2019-06-03 02:32] An0nymous0 commented on #13543
cheer

[2019-06-03 02:43] #14394 closed

[2019-06-03 02:53] hzxuzhonghu commented on #14461
@howardjohn I have also tested with `istio-release-1.2-20190602-09-16` , and it does reproduce.

[2019-06-03 03:37] irisdingbj commented on #14445
https://github.com/istio/istio/pull/14518

[2019-06-03 03:39] howardjohn commented on #14507
I am not very familiar with apigee but I don't think Istio is necessarily an alternative to apigee, although there is some overlap. See https://github.com/apigee/istio-mixer-adapter for example. I believe API management is typically seen as a layer above Istio, this article may explain a bit more https://itnext.io/api-management-and-service-mesh-e7f0e686090e.

If you have any other questions pleas

[2019-06-03 03:39] #14507 closed

[2019-06-03 03:41] howardjohn commented on #13873
Sounds like Galley may not be running? Can you get the output of `kubectl get pods -n istio-system` and the logs for the galley pod

[2019-06-03 03:43] howardjohn commented on #13221
I think ive seen some PRs for this, can you close this if they are done (and link the PRs for tracking purposes if possible)?

[2019-06-03 03:44] howardjohn commented on #11984
Since it has been a month since Lin asked if this should be closed, I think this is safe to close

[2019-06-03 03:44] #11984 closed

[2019-06-03 03:47] howardjohn commented on #13130
We have the same issue being tracked under https://github.com/istio/istio/issues/11262 so I am going to close this and link the issues to keep everything in one place. Thanks for the info

[2019-06-03 03:47] #13130 closed

[2019-06-03 03:49] howardjohn commented on #13129
IPv6 is working now (1.2 I think) so I am going to close this. More tracking under https://github.com/istio/istio/issues/1756

[2019-06-03 03:49] #13129 closed

[2019-06-03 03:49] howardjohn commented on #1756
@sbezverk can this be closed now, is ipv6 fully supported in 1.2?

[2019-06-03 03:49] #11867 closed

[2019-06-03 03:54] howardjohn commented on #12308
@sbezverk sounds like root cause was incomplete ipv6 support. Can this be closed now that we have ipv6 support?

[2019-06-03 03:56] howardjohn commented on #14236
@tibetsam without more info I am going to assume this is due to using a version that doesn't support ipv6 yet, as the feature is very new. If this is not the case please another issue so we can investigate further. Thanks!

[2019-06-03 03:56] #14236 closed

[2019-06-03 03:58] howardjohn commented on #13857
I think the issue is ` No chain/target/match by that name.` in iptables.

Do you have any non-standard setup relating to Iptables that is causing it to not work properly?

[2019-06-03 04:00] howardjohn commented on #13272
This should be fixed in 1.1, we no longer try to resolve ipv6 address on non-ipv6 clusters

Although I am surprised envoy is crashing here, that does not seem right.

If you upgrade to 1.1 do you see this issue, 1.0 support is ending in a couple weeks

[2019-06-03 04:06] hzxuzhonghu commented on #14443
Can we set iptables not to intercept these packet?

[2019-06-03 04:07] xring commented on #13728
@gokhansengun Verified and worked, thanks!

[2019-06-03 04:12] howardjohn commented on #13111
I would suggest you look at `kubectl describe nodes` which will show all the resource requests.

I suspect you have something that is requesting a lot of your 12GB of memory (that isn't that much, so I wouldn't be surprised if you did).

I don't think this is related to Istio, https://kubernetes.io/docs/tasks/configure-pod-container/assign-memory-resource/ may help you further.

If you want to cha

[2019-06-03 04:12] #13111 closed

[2019-06-03 04:20] howardjohn commented on #13107
@prsauer there hasn't been any activity on this for months, and it looks like a thorough answer was given so I am going to close this for now. If there is more info needed we can reopen this. Thanks

[2019-06-03 04:20] #13107 closed

[2019-06-03 04:28] howardjohn commented on #13121
That just matches the path. Support for query param matching was added in 1.2 which will be released in a couple weeks. See https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPMatchRequest for docs on this.

So there is no way to do this on 1.0.6 unfortunately

[2019-06-03 04:28] #13121 closed

[2019-06-03 04:32] howardjohn commented on #13096
Sorry this went unnoticed. I confirmed this is an issue, probably in other places as well. Needs to be fixed in https://github.com/istio/installer

[2019-06-03 04:37] howardjohn commented on #13087
So you have a service entry for googleapis and want to restrict it to only a certain namespace?

You probably want to use `exportTo: .` otherwise it is visible to all namespaces by default https://istio.io/docs/reference/config/networking/v1alpha3/service-entry/

[2019-06-03 04:41] howardjohn commented on #13065
@ivelichkovich Ed's answer seems to explain the behavior and it doesn't look like there is any activity here anymore.

We are trying to clean up some stale issues so I am going to close this, but if you have any more issues feel free to open/reopen another issue. Thanks

[2019-06-03 04:41] #13065 closed

[2019-06-03 04:41] howardjohn commented on #13048
This is only for 1.0 and confirmed fixed in 1.1. We aren't making anymore 1.0 releases so I am going to close this

[2019-06-03 04:41] #13048 closed

[2019-06-03 04:43] howardjohn commented on #13014
@Stono is this still an issue for you?

[2019-06-03 04:44] howardjohn commented on #13021
Issue was fixed, so I am going to close this

[2019-06-03 04:44] #13021 closed

[2019-06-03 04:48] howardjohn commented on #12960
In your VS that doesn't work you set  `host: helloworld` but when you curl the ingressgateway you don't set the host header so it doesn't match, I think that is why you see the issue only with the second VS

[2019-06-03 04:49] howardjohn commented on #12956
Sounds like this is working as intended (not implemented until 1.1) and there hasn't been any activity, so I think its safe to close this now. If there are still any problems feel free to reopen/open a new issue

[2019-06-03 04:49] #12956 closed

[2019-06-03 04:51] howardjohn commented on #12903
Fixed in 1.1.4 by the PRs linked above

[2019-06-03 04:51] #12903 closed

[2019-06-03 04:51] howardjohn commented on #12876
Fixed by #12953

[2019-06-03 04:51] #12876 closed

[2019-06-03 04:51] myidpt opened #14519 "Have warning log in Citadel to instruct root transition"
**Describe the feature request**
https://github.com/istio/istio/issues/14516
Citadel should check whether the root cert expiration is close, and gives warning in the log to instruct users that they should do root transition immediately, and point to the on-line doc about how to do it.

**Describe alternatives you've considered**
Complementing approach: exposing root cert expiration TTL via metric

[2019-06-03 04:53] myidpt commented on #14519
@Stono @wattli @wenchenglu

[2019-06-03 04:56] howardjohn commented on #12595
Works for me as well, I am going to assume this has been fixed as there has been no activity here. If there are still issues please let us know

[2019-06-03 04:56] #12595 closed

[2019-06-03 04:57] howardjohn commented on #12533
Fixed  by #13515.

If that doesn't satisfy the requirement let me know and we can reopen this

[2019-06-03 04:57] #12533 closed

[2019-06-03 05:58] #7664 closed

[2019-06-03 06:09] iandyh opened #14520 "A service configuration can make all the egress HTTPs service inaccessible"
**Bug description**

Define a service with following definition:

[code]

This definition will be populated as a 443 route in the sidecar proxy and therefore all the outgoing https traffic will have protocol level errors.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Poli

[2019-06-03 06:23] tibetsam commented on #14236
sure. thanks. I'm following another track on this issue. --->Change dnsRefreshRate from flag to env var (#14176)

[2019-06-03 06:41] #12558 closed

[2019-06-03 06:43] incfly commented on #14519
We definitely can do both. But I feel metrics is more important than log.
They're more flexible and easier to plug into an prod alerting system.

A int64 representing remaining days, e.g.

On Sun, Jun 2, 2019 at 9:54 PM Oliver Liu <notifications@github.com> wrote:

[2019-06-03 06:45] hzxuzhonghu commented on #12162
I think this issue can be closed.

[2019-06-03 06:54] RossWhitehead commented on #13781
Lost a day to this problem last week. It appears to be a limitation with AKS - https://github.com/Azure/AKS/issues/811

The coredns configmap cannot be overwritten. The resolution is to extend the coredns configmap by creating a coredns-custom configmap.

Please take note of the name used in the data section. It must be suffixed with ".service" otherwise it will not work.

[code]

[2019-06-03 06:54] Analyse4 commented on #7478
Hi, can you elaborate on the solution to this problem?I seem to have encountered the same situation as you.

[2019-06-03 07:58] #7279 closed

[2019-06-03 08:37] shubhamitc commented on #14385
can you guide me to some documentation that explains tracing configuration for remote cluster. I am also difficulty to capture metrics from remote host. To answer your questions :

Are you trying to figure out how to send traces to a remote endpoint, rather than in-cluster? - Yes from remote cluster to management cluster. This is to make sure all the tracing is at one place.

Have you looked at gl

[2019-06-03 08:38] ckcd commented on #14443
It's hard to split these packet with others in this chain:
[code]

btw, i really don't know the meaning of this chain, in normal situation, what kind of packets will go through `lo` with a `!127.0.0.1` address ? can we just delete this chain ?

[2019-06-03 08:42] mkjoerg commented on #9784
Are there any updates on this?

[2019-06-03 08:46] kramerul commented on #13288
@howardjohn: We created a PR #14206, which fixes this issue.

[2019-06-03 08:58] #9683 closed

[2019-06-03 09:44] irisdingbj commented on #14520
Is the issue caused by
[code]
    - name: https
    port: 443
[code]

[2019-06-03 09:50] johne9087 commented on #14095
@howardjohn We are still experiencing this issue, Cant figure it out and not sure where to look next. Do you have any Ideas? Thank You.

[2019-06-03 09:58] #9630 closed

[2019-06-03 10:15] rajusharma opened #14522 "Cannot see any error logs in pilot but getting errors in prometheus metrics"
(This is used to report product bugs, please visit <https://discuss.istio.io> for questions on using Istio)

**Bug description**
Getting `pilot_total_xds_internal_errors` & `pilot_rds_expired_nonce` metric errors in prometheus but cannot find any error logs in pilot pods. So not sure how to resolve this error and avoid `pilot_total_xds_internal_errors` & `pilot_rds_expired_nonce`

**Affected produ

[2019-06-03 10:18] rajusharma commented on #14522
I checked both discovery container and istio-proxy container logs in pilot pods, but there are only info logs.
Another strange thing is getting `pilot_total_xds_internal_errors ` in only 1 pilot pod out of 3 pilot pods

[2019-06-03 12:01] hzxuzhonghu commented on #14443
There is a ENV 'DISABLE_REDIRECTION_ON_LOCAL_LOOPBACK', set this will disable redirect on loopback

[2019-06-03 12:02] hzxuzhonghu commented on #14443
https://github.com/istio/istio/pull/12110

[2019-06-03 12:23] vadimi commented on #12533
It’s working perfectly fine, thank you.

[2019-06-03 12:34] iandyh commented on #14520
@irisdingbj Yes, it will.

But the problem is, this kind of configuration will make all the external HTTPs service access immediately gone and nobody knows why. It actually took us quite a while to understand the problem.

[2019-06-03 12:35] sbezverk commented on #1756
@howardjohn I think so, we are done with major pieces :)

[2019-06-03 12:37] sbezverk commented on #12308
It seems it happens from time to time even on ipv4 installations, but since it is not reliably reproducible, I think it can be closed.

[2019-06-03 12:54] ibm-jason commented on #14290
@linsun I've downloaded 1.1.7 and the issue still exists:

[code]
/cc @utka

[2019-06-03 12:59] linsun opened #14523 "produce small and medium prod profiles"
for the new installer, based on what has been discussed in env WG meeting last week.

[2019-06-03 13:01] morvencao commented on #14290
@ibm-jason The fix: https://github.com/istio/istio/pull/14291 was merged three days ago, it should be in next 1.1.x release.

[2019-06-03 13:03] linsun commented on #14489
@frankbu can you look at this?

[2019-06-03 13:12] linsun opened #14524 "[Istio Auto mTLS] Simplify our mTLS user experience"
Updated 0920/2019 by @incfly

Tasks breakdown

- [x] Done, Introduce mesh config API to control the Auto mTLS feature. All the changes below assumes this flag is set to true.
- [x] WIP, Change API default behavior when server side authn policy is `STRICT`, no need to configure client side DestinationRule. https://github.com/istio/istio/issues/16586
- [x] Actual implementation of auto mTLS in Pilot

[2019-06-03 13:19] esnible commented on #14522
There is only one place in the code where `pilot_rds_expired_nonce` is sent.  It is preceded by a message logged at `Debug` level.  Adding the `area/networking` because I believe we should log at Error level if we are sending error metrics to Prometheus.

Can you trying doing `istioctl proxy-status` and see if the proxies are becoming STALE?

If you have 3 Pilot pods it is possible that only one o

[2019-06-03 13:21] ibm-jason commented on #14290
Thanks @morvencao! I think this closes out the issue. 🎉

[2019-06-03 13:21] #14290 closed

[2019-06-03 13:28] GregHanson commented on #14495
should overlap with the work for this one:
https://github.com/istio/istio/issues/14524

[2019-06-03 13:32] howardjohn commented on #14520
I am not sure what we can really do here. We can't reject ij galley because galley doesn't handle deployments. We also probably don't even want to, because it is valid to have an http port on 443 (not a good idea but technically possible right?)

As far as the other namespaces problem you could isolate the scope of the problem with a Sidecar.

Is there anything else you think would be appropriate

[2019-06-03 13:53] Belyenochi opened #14525 "Rate Limits error"
**Bug description**
environment:
  Handler: When a request is made in five seconds duration 60s;
  Client: JMeter 20 req/s

result:
  use maxcount,no dimensions in handler, no match in rule. real success: 0.95% expect: 1%
  use maxcount,use dimensions in handler, no match in rule. real success: 1.30% expect: 1%
  use maxcount,use dimensions in handler, no match in rule. real success: 1.88% expect:

[2019-06-03 14:03] Stono opened #14526 "Expose expiry timestamp for all citadel managed certificates"
**Describe the feature request**
Following on from https://github.com/istio/istio/issues/14516, please can Citadel expose prometheus metrics for all certificates it knows about, eg all services accounts, root certificates etc.

The standard for this seems to be `thing_expire_time_seconds` (if you look at other projects eg cert-manager, nginx) with the value being the timestamp as int64.  So perhap

[2019-06-03 14:03] Stono commented on #14519
I actually just raised a feature request for metrics as I agree, they're far more valuable than log messages: https://github.com/istio/istio/issues/14526

[2019-06-03 14:17] howardjohn commented on #1756
Great thanks for all the work you did

[2019-06-03 14:18] irisdingbj commented on #14520
Wondering whether logging a warning on this case will help or not?

[2019-06-03 14:20] howardjohn commented on #12308
Ok I think we can close this then, otherwise tickets like this tend to become a collector of +1s that are hard to track and understand because everyone's issues have different causes . If you do run into it again we can open a new issue and track there

[2019-06-03 14:20] #12308 closed

[2019-06-03 14:20] esnible opened #14527 "istio/install/consul/README.md refers to non-existant file"
See https://discuss.istio.io/t/quick-start-guide-references-non-existent-file/2496

[2019-06-03 14:23] prsauer commented on #13107
No worries - we actually never found the root cause on this and ended up removing Istio

[2019-06-03 14:37] frankbu commented on #14489
Fixed by https://github.com/istio/api/pull/886

[2019-06-03 14:41] ozevren commented on #14121
As per offline discussion, if we switch to a binary only dependency to the underlying components from the test framework and leave test framework's "components" as shims to drive the binaries, then we can break the dependency cycles and make the test framework a dependency of pkg (and K8s libraries). This should allow use of the framework from other repos, although we may still need to do some ref

[2019-06-03 14:46] dwradcliffe commented on #12162
@hzxuzhonghu Was there a fix? Is it safe to re-enable XDS marshaling to Any?

[2019-06-03 14:57] rajusharma commented on #14522
Tried `istioctl proxy-status` and all the proxies are synced
[code]
Only 2 pilot pods are talking to sidecars of application pods.
`pilot_rds_expired_nonce ` is coming from  `istio-pilot-5688c45f78-pfndp` pilot pod.
`pilot_total_xds_internal_errors ` is coming `istio-pilot-5688c45f78-qrwn7` pilot pod which is not talking to any application sidecar.

Also i tried removing sidecars from all applicat

[2019-06-03 15:06] ozevren commented on #14121
@nmittler

[2019-06-03 15:06] howardjohn commented on #14034
@esnible it is invalid kubernetes config, but I think we can do the same with `kubernetes --dry-run` or something similar. Or is that what istioctl does as well? Either way I agree it is a good idea

[2019-06-03 15:18] bradenwright commented on #12923
@howardjohn unless I'm missing something both issue I mentioned are still a concern:

(1)  https://github.com/istio/istio/releases is not a helm repo that I can add via `helm repo add istio https://github.com/istio/istio/releases`

`Error: Looks like "https://github.com/istio/istio/releases" is not a valid chart repository or cannot be reached: Failed to fetch https://github.com/istio/istio/releas