[2020-08-27 14:42] esnible commented on #23388
The documentation at https://preliminary.istio.io/docs/ops/diagnostic-tools/istioctl-describe/ still shows describe saying things like "Pilot reports that pod enforces HTTP/mTLS and clients speak HTTP"

[2020-08-27 14:49] esnible opened #26852 "Users can quickly troubleshoot their use of the mesh consistently across topologies"
Users can quickly troubleshoot their use of the mesh consistently across topologies (central istiod, multicluster, vm)

- [ ] P0 Federated View of XDS Events - shared with Networking [mitch]
- Istioctl can get its own Central Istiod security credentials (share with security WG)
  - [x] P0 #24905 _istioctl_ can create and use Istio tokens
    - [ ] P1 https://github.com/istio/istio/issues/27324 Rep

[2020-08-27 14:53] esnible opened #26855 "Istio tooling is familiar and helpful to users"
From Roadmap: https://docs.google.com/document/d/15J59Bz4ogsM5my1dtEycgPq8uOPB93uy8CU5-Ehv2qw/edit#

- [x] P2 https://github.com/istio/istio/issues/26080 istioctl accept kubectl syntax `[<type>/]<name>` [esnible]
- ~~[ ] P>2 https://github.com/istio/istio/issues/26267 Command to enable/disable injection for namespace~~
- Analyze improvements
   - [ ] P2 https://github.com/istio/istio/issues/22872

[2020-08-27 14:58] esnible opened #26857 "UX Affecting Istio cloud operators / admins"
UX Affecting Istio cloud operators / admins

- Admin can promote canary control planes to master with a single command [mitch]
  - [ ] P1? #23889 Rewrite injector ConfigMaps to select control plane "master" (with environments; slipped from 1.7) **Needs RFC, needs that RFC approved by Environments, needs implementor.  Any volunteers?**
- Admin can evaluate control plane health with single command

[2020-08-27 15:01] esnible opened #26858 "[1.8] Ecosystem developers can integrate troubleshooting features"
UX Affecting Istio 3rd party ecosystem
Ecosystem developers can integrate troubleshooting features

- [ ] P1? Troubleshooting API (slipped in 1.7)
- [ ] P0 #23536 Need approved document.  Owner [esnible, mitch, liam]
  - For 1.8, make Go /pkg to be ready for it.
     - Move as much as possible into single debug API
     - Blocker for debug/wait on Central Istiod
- [ ] P1 #23537 Experimental/MVP in

[2020-08-27 15:08] invertigo commented on #22366
Will this ever be fixed in 1.4?  We're currently having to patch those templates to make istio 1.4.6 installable.

[2020-08-27 15:09] crhuber opened #26859 "Add ability to turn on logging per proxy"
**Describe the feature request**
Currently there is `MeshConfig.accessLogFile` which controls logging for the entire mesh. This is fine for small deployments but for larger deployments enabling logging on thousands of sidecars can cause problems for logging infrastructure. It would be ideal to be able to turn on access logging on a per proxy basis either via an annotation, the `Sidecar` resource a

[2020-08-27 15:17] christian-posta commented on #26859
In our slack thread @howardjohn mentioned telemetry working group had this on their 1.8 roadmap, but let's watch this. This is a much-needed feature and I didn't see any other GH issues that reference it.

[2020-08-27 15:27] kyessenov commented on #26627
@esnible I would expect TypedStruct to be used often with EnvoyFilter. Istiod does not have a protobuf definition of the Wasm filter configuration (since it hasn't been upstreamed), and we use a JSON-based wrapper around it. I wonder if the JSON translation is the culprit of the issue?

[2020-08-27 15:47] esnible commented on #26469
The injector contains logic:

[code]

The analyzer lacks this logic, it always uses the second case.

@howardjohn I'd like just to put the logic we see here in Go form into _galley/pkg/config/analysis/analyzers/injection/injection-image.go_ `getIstioProxyImage()`.  That is a much smaller change than trying to evaluate the injector from within an analyzer.  Do you concur?

[2020-08-27 15:48] pliutak-nih opened #26861 "503 NR's during load testing canary deployment"
**Bug description**
I see 503 NR's during load testing canary deployment using Agro Rollouts.
I'll describe min setup with steps to reproduce the issue, reflecting the same sequence of actions Agro Rollouts does during canary deployment.

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] D

[2020-08-27 15:48] sanigo opened #26862 "In access log, some requests's delta between duration and upstream_service_time is too large."
Most requests’s duration is nearly the same as upstream_service_time, with a very little difference.
But some requests’s duration is much longer than upstream_service_time, for example the upstream_service_time is 2ms, the duration could be 1200ms. The request’s status code is normal.
Don’t know how to debug such situation… The call is within the cluster, i don't think the network connection could

[2020-08-27 16:23] laurentiuspurba commented on #26803
@elfinhe It will be difficult for me to reproduce on the same cluster. I still have other pre-production clusters that I might be upgrading next sprint. I will try on that one, and keep you posted.

[2020-08-27 17:07] richardwxn commented on #23011
@incfly yep I only added it for sidecar in the injection template, I think we can add that to ingress as well, let me do that then

[2020-08-27 17:13] bianpengyuan commented on #26859
I believe https://github.com/istio/istio/issues/24287 tracks adding telemetry API which includes access log control, and it is a P0 for telemetry working group. If you are ok tracking it there, shall we close this one as duplicated issue?

[2020-08-27 17:18] gargnupur commented on #21139
Closing this as ratelimiting using Mixer is deprecated...

[2020-08-27 17:18] #21139 closed

[2020-08-27 17:43] esnible commented on #26627
@kyessenov Envoy complains with `gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error adding/updating listener(s) virtualInbound: Unable to parse JSON as proto (INVALID_ARGUMENT:(config.vm_config.code.local.inline_bytes): invalid value "..."`

The bytes themselves are now correct after https://github.com/istio/istio/pull/25927 .  The listener just doesn't know how to make them

[2020-08-27 17:57] #26469 closed

[2020-08-27 17:59] esnible commented on #26397
@nrjpoddar @howardjohn I can easily write a webhook/istioctl validator to keep this from happening.  A few questions about how much to expose to the user.

I added `area/networking` because I was unclear if Istiod should defensively remove (or double) all % in set header operations, rather than blocking them at the webhook.

https://www.envoyproxy.io/docs/envoy/latest/configuration/http/http_conn_

[2020-08-27 18:01] howardjohn commented on #26397
Yes lets not prevent that. Maybe we can just error on odd number of `%` - that case is always an error?

[2020-08-27 18:09] esnible commented on #26300
I tried this on Kubernetes v1.17.11 and the terminating pod was in `phase:Pending`.  All I did was `watch kubectl -n istio-system get pod istiod-9b46c9dd8-4n7w2 -o jsonpath="{.status}"` in one window and `kubectl delete pod ...` in the other.  Istioctl should be fine.

Thus I can't recreate this problem.  I will do a trivial PR to work around it.

[2020-08-27 18:24] blackbaud-brandonstirnaman commented on #18443
It would be great to have this without requiring an EnvoyFilter as that introduces a lot of potential complexity for teams when they go to upgrade istio/envoy. We'd really prefer not to 'break the glass' by configuring envoy directly so right now we don't have GZIP compression enabled. Long term I'm not sure that is sustainable for us.

[2020-08-27 18:26] terev commented on #26397
I'm open to writing the Galley analyzer for this, unless someone else is already working on this?

[2020-08-27 18:37] kyessenov commented on #18443
Ref #26627

[2020-08-27 19:12] Asisranjan opened #26868 "Istio ingress gateways overflows under load when one worker node reboot"
I am naive to ISTIO service mesh.

**Bug description**
when k8s worker node reboots during load to ingress gateway, ingress gateway overflows and return the response as below
upstream connect error or disconnect/reset before headers. reset reason: overflow

Can anyone please guide how to debug this issue.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and

[2020-08-27 19:19] nikita15p commented on #26375
@howardjohn Thanks . I would expect bot to add default reviewers because new contributors may have to spend some time in looking for reviewers.

[2020-08-27 19:20] howardjohn commented on #26375
It will automatically assign reviewers based on the CODEOWNERs file

[2020-08-27 19:27] christian-posta commented on #26859
I think that makes sense! Thanks for the update!

On Thu, Aug 27, 2020 at 10:13 AM Pengyuan Bian <notifications@github.com>
wrote:

--
*Christian Posta*
twitter: @christianposta
http://blog.christianposta.com <http://www.christianposta.com/blog>

[2020-08-27 19:32] bianpengyuan commented on #26859
Thanks!

[2020-08-27 19:32] #26859 closed

[2020-08-27 20:50] houshengbo opened #26871 "Make DEBUG=1 build failed with package -ldflags is not in GOROOT"
**Bug description**
After I followed the instruction to build code base: https://github.com/istio/istio/wiki/Using-the-Code-Base#building-the-code,
I got the error when I tried to run `make DEBUG=1 build`.
[code]

[*] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

[2020-08-27 20:53] elfinhe commented on #25059
I got the same issue when applying manifests generated by `istioctl manifest generate`.
Then I apply it twice without an uninstall between them, and it works. For me, it is an eventually consistency issue with the CRDs, but I don't know how to workaround with a single-install.

[2020-08-27 21:02] juandiegopalomino opened #26872 "Istio responding 502 with AWS NLB integration, works fine for classic ELB"
**Bug description**
We are running istio on version 1.7.0 with the demo profile on an EKS 1.17 cluster and permissive mTLS. Our ingress service used a nlb on a private subnet with an ACM ssl certificate for port 443. There is no cidr whitelisting on istio or on the load balancer. The istio override looks as follows:
[code]

We have an httpbin example service (complete with virtual service and dest

[2020-08-27 21:43] saltenhub opened #26873 "holdApplicationUntilProxyStarts breaks rewriteAppPropers"
**Bug description**
Recently upgraded to v1.7.0 (upgraded over multiple upgrades from ~1.4.2). No major custom configuration besides `values.global.proxy.holdApplicationUntilProxyStarts=true`, but when I try to enable mutual TLS on a namespace with a `PeerAuthentication`, the healthchecks start to fail (even with the `samples/health-check/liveness-http.yaml` example). `rewriteAppHTTPProbers` is en

[2020-08-27 21:54] howardjohn commented on #26873
Does your application listen on <POD_IP> instead of 0.0.0.0 or localhost?

Can you do `curl localhost:8001/foo` from the app container and/or the sidecar container?

[2020-08-27 22:05] lanceliuu commented on #25685
Test with lastest release 1.7.0, seems that the same issue exists.
Istio version/configuration
[code]

Test summary
[code]
![image](https://user-images.githubusercontent.com/62631896/91499391-ebdc4600-e8f3-11ea-9870-3e6116d3b2cc.png)
Notice that there are still four ksvc does not get ready, so they will contribute 4 more peaks in the chart. The endpoint missing issue still exists.

[2020-08-27 22:11] lanceliuu commented on #25685
Inorder to reproduce using `kperf` I post some parameters I am using during the test:

1. Create 20 namespaces:
[code]
2. Generate workload
[code]
3. After all 800 ksvcs get ready, start measurement
[code]
The result should be generated with a static html report and several csv files

4. Clean up
[code]

[2020-08-27 22:33] saltenhub commented on #26873
I can curl from the sidecar container (the liveness-http sample does not seem to provide curl):
[code]

[2020-08-27 22:41] howardjohn opened #26876 "Validating webhook v1 is broken"
Running on master. If the validation webhook has `admissionReviewVersions: ["v1", "v1beta1"]`, the validation does not work:

[code]

Currently investigating why admissionReviewVersions got reversed

cc @tariq1890

[2020-08-27 22:49] nrjpoddar commented on #26397
Allowing even number sounds like a reasonable approach, is this only applicable for header fields?

[2020-08-27 22:55] #26397 closed

[2020-08-27 23:00] ostromart commented on #26796
Yes, i've made a note of it in the docs, since you were not the only person to hit it. It's a deliberate change - using a default list key is inconsistent with list overlays which is why we changed it.

[2020-08-28 00:08] esnible opened #26877 "Mark istioctl commands no longer being used as deprecated"
The following commands were agreed to be deprecated by the UX working group.  The document discussing them is [here](https://docs.google.com/document/d/16M6ItjYl5M8ppLlJ5JYTfrcXBrtSQlYKIUgOk31wXdQ/edit#heading=h.dw9smk4ucmth).

- `convert-ingress`
- `deregister`
- `register`
- `experimental multicluster`
- `experimental post-install webhook`
- `experimental sidecar-bootstrap`

We should flag them

[2020-08-28 00:19] howardjohn commented on #13373
This is done now

[2020-08-28 00:19] #13373 closed

[2020-08-28 03:08] hzxuzhonghu commented on #26809
We never suggest making a gateway as the WLE. Not sure if this can work.  For multicluster, the gateway is set a weight according to the endpoints number behind.

[2020-08-28 03:33] #26300 closed

[2020-08-28 04:09] hzxuzhonghu commented on #26876
/assign

[2020-08-28 04:43] morvencao commented on #26868
You can enable [PodDisruptionBudget](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) to make sure your application is available during work node reboot.

[2020-08-28 05:08] #23867 closed

[2020-08-28 05:13] morvencao commented on #26843
There should be log for istiod installed:
[code]

Can you check if istiod is installed or not?

[2020-08-28 09:12] lcfang commented on #26799
@esnible mybe it is not the same.
the problem here is that the [mariadb-galera-cluster](https://github.com/bitnami/charts/tree/master/bitnami/mariadb-galera) can be deployed successfully with istio 1.6.4, but failed with istio 1.7.0-rc.1, it seems that pods of statefulset with headless service in istio have some bug in istio1.7, they can't communicate correctly.

[2020-08-28 09:29] secret104278 commented on #25077
same issue with istio-1.7.0, but the same configuration works on istio-1.6.8. Totally follow the [document](https://istio.io/latest/docs/setup/install/multicluster/gateways/) and run on kind

[2020-08-28 09:30] huangwei2013 commented on #26800
@lijiapengsa   Agree with you ：）
 @howardjohn  Running from local binary may be useless for Production  Env, but a good way to study Istio (of source code).

[2020-08-28 10:30] sdake commented on #23029
@howardjohn - any progress on this issue, or was this fixed by some other PR?

Cheers,
-steve

[2020-08-28 10:40] irizzant opened #26882 "Istio breaks Pod's securityContext"
**Bug description**
I have tried to deploy a StatefulSet with the following `securityContext`:
[code]
in an Istio enabled namespace.
When the Pod is started, I find the following on the Pod:
[code]

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure

**Expected beha

[2020-08-28 10:50] dntosas commented on #26873
same problem in here when enabling `values.global.proxy.holdApplicationUntilProxyStarts=true`

[2020-08-28 10:54] saltenhub commented on #26873
@dntosas You're absolutely right, I have enabled that as well but forgot to mention it. Will edit original issue to reflect that.

[2020-08-28 11:31] dntosas commented on #26873
i think we got something

when enabling `proxy.holdApplicationUntilProxyStarts=true` looking at `istio-proxy` container template:
[code]

when disabling `proxy.holdApplicationUntilProxyStarts=false` looking at `istio-proxy` container template:
[code]

the difference is that no **Liveness** probe is present when this feature is disabled

cc @howardjohn @luksa

[2020-08-28 11:31] nak3 commented on #23029
@sdake @howardjohn
Knative still struggles to fix the 503 issue and we cannot upgrade to Istio 1.5 (installed by `istioctl`).
Could anyone from Istio help for it?

cc @tcnghia @ZhiminXiang @JRBANCEL

[2020-08-28 11:45] dntosas commented on #26873
Maybe we got something

When **DISABLED** `global.proxy.holdApplicationUntilProxyStarts` looking at container template using `kubectl describe pod`:
[code]

When **ENABLED** `global.proxy.holdApplicationUntilProxyStarts` looking at container template using `kubectl describe pod`:
[code]

The are differences seem to be present on how **Liveness/Readiness** is defined when feature is enabled ^^

cc

[2020-08-28 12:03] carpenike commented on #26805
Any chance you’ve gotten this further? I have a similar goal but I want to exclude external Auth for API endpoints in an app that has built in Auth there.

[2020-08-28 12:05] mstrYoda commented on #26805
Actually no, I asked in istio slack channel and got these answer: https://istio.slack.com/archives/C3TEGNZ7W/p1598339535006600

[2020-08-28 12:19] carpenike commented on #26805
Interesting... so would the work being done in Envoy via https://github.com/envoyproxy/envoy/issues/11832 solve it or would there also be work needed in Istio as well?

Have you considered integrating OPA into the flow as well?

[2020-08-28 12:23] mstrYoda commented on #26805
Well I do not know if it is requires a work in istio too.

But as a workaround I wrote a rego policy to allow healthcheck paths inside OPA.

[2020-08-28 12:23] donnyv12 commented on #10053
Sorry to re-open a closed issue, but I'm having this problem right now.
Istio 1.6.8
Cassandra 3.11
GKE 1.15

Cassandra is trying to handshake but I see no traffic through either Istio proxy. Removing Istio and setting the broadcast and listen address for cassandra allows clustering no problem. I have other clusters with Istio and Cassandra that are fine. Not sure what broke here.

[2020-08-28 12:37] Exagone313 opened #26883 "Configure Ingress pathType ImplementationSpecific behavior"
**Describe the feature request**

Kubernetes 1.18 added a `pathType` attribute for Ingress path definitions, which is set to `ImplementationSpecific` value by default. This means that Ingress that targets (or are kept compatible to) older Kubernetes versions will have this value.

[istio behavior](https://preliminary.istio.io/latest/docs/tasks/traffic-management/ingress/kubernetes-ingress/#specify

[2020-08-28 13:09] IgorBrehm opened #26884 "Istio Failing to Trust Custom CA Authority"
Hi everyone, I'm facing difficulties for a few days now and can't seem to find a solution. Because of this, I decided to open this issue hoping that someone will be able to give me some assistance and ideas of things for me to try out.

**Bug description**

The solution I have for authentication consists of a remote Keycloak server that provides authentication via JWT tokens. The server uses a lea

[2020-08-28 13:26] wheleph commented on #13818
Can you provide any examples on how to use `verifySignature` and `importPublicKey`?

Specifically how to generate the public key and sign data in compatible way? In which format should the public key be provided to `verifySignature`?

[2020-08-28 14:43] howardjohn commented on #26800
@huangwei2013 there is an important distinction between running the binaries locally connected to an api-server, and running the binaries without any kubernetes involved. The former is perfectly fine, used by some in production and I personally nearly exclusively develop this way (https://gist.github.com/howardjohn/458f4f9416a3fa1a014feb168e9922ea for how I set it up)

[2020-08-28 14:44] howardjohn commented on #23029
@nak3 it would be ideal if we can reproduce the scenario in some way that does not involve waiting 1hr for it to run in knative CI. I spent many many hours on this and didn't make much progress due to the slow iteration speed.

[2020-08-28 15:04] howardjohn commented on #26873
I can reproduce this

@luksa I think its applying the rewrite app probe to `container[0]` or something - which is now the sidecar

[2020-08-28 15:23] howardjohn commented on #26883
The entire point of the new pathType field is you should explicitly declare the pathType you want. Configuring the default behavior, in my opinion, does not make sense and is not in the spirit of the Ingress v1 spec in my opinion. I would be against adding this.

[2020-08-28 15:27] howardjohn commented on #26882
This is due to https://github.com/kubernetes/kubernetes/issues/57923. Let me see if something has changed recently that allows us to stop doing this

[2020-08-28 15:31] howardjohn commented on #26882
We cannot.

[2020-08-28 15:44] dntosas commented on #26873
Ref --> https://github.com/istio/istio/blob/1cc05bcf798644262547032d6714fab2603121e3/pkg/kube/inject/app_probe.go#L142-L144

[2020-08-28 15:50] terickson opened #26886 "istiod auto-scaled pod sends bad CDS information to istio-proxies during short lifespan: istio 1.6.8"
**Bug description**
I noticed that sometimes for a short period some of my istio-proxies will give back 503 NR's for routes they should know and then later they will respond correctly.  I've tracked it down to sometimes when istiod auto-scales that new istiod instance will start giving bad CDS information to the istio proxies.  The other Istiod's will be giving good CDS information during this tim

[2020-08-28 17:36] tariq1890 commented on #26873
@dntosas Does this work when ` holdApplicationUntilProxyStarts` is set to false?

[2020-08-28 17:50] stevenctl opened #26888 "Convert Telemetry Integration Tests to use multicluster."
Convert tests under `tests/integration/telemetry/` to support running with any number of clusters provided by the test framework.

There is a broader conversation to have on if these tests needs to be part of a separate suite, or can be assertions on top of generic traffic tests.

We have one multicluster telemetry test currently, which will temporarily live under pilot/ (https://github.com/istio/

[2020-08-28 17:55] howardjohn commented on #26886
Might be fixed by https://github.com/istio/istio/pull/26142? @stevenctl what do you think?

Is the bad Istiod incorrect forever, or only at the start of its life?

[2020-08-28 18:22] tariq1890 commented on #26873
I think I figured out the issue for this.

Sending a fix shortly

[2020-08-28 18:24] stevenctl commented on #26886
The ordering issues #26142 solved could make istiod miss endpoints without any retry. I think this is the same issue.

[2020-08-28 18:33] howardjohn opened #26889 "Drop dependency on proto in model.Config"
We want to import configs from third parties without protos

[2020-08-28 18:37] terickson commented on #26886
This sounds very much like my problem.  In my case the autoscaler spun it up and then 6 minutes later spun it back down so I never saw it get back to right but it might of gotten back to right, given enough time.  So is this going to get backported to 1.6 or do we need to go to 1.7 to get this fix?

[2020-08-28 20:25] donnyv12 commented on #26799
Seeing something very similar with Istio 1.6.8 and 1.7 and my Cassandra statefulset. I see no evidence that the sidecar is getting traffic, and the rest of my Cassandra nodes can't start up.

[2020-08-28 20:45] donnyv12 commented on #26799
I've confirmed that reverting to 1.6.4 solves this issue for me. I can recreate the issue but haven't been able to debug.

[2020-08-28 20:47] kyessenov commented on #26627
Could you try running envoy directly with typed struct and inline bytes? I am not familiar with envoyfilter implementation. I wonder if it's envoy or istio mis-handling typedstruct.

[2020-08-28 21:13] diegosucaria commented on #25059
Same issue here with `istioctl manifest generate`

Running it twice didn't work, it seems the CRDs are not being created in the manifest output.

using `istioctl manifest apply -f profile.yaml` works perfect

[2020-08-28 21:34] sdake commented on #25685
Thanks for the reproduction instructions. I don't believe this problem is environmental, although I did notice the server where my Kubernetes control plane node was requesting 50ghz of cpu, but only able to obtain 33ghz (my nodes only have 33ghz of cpu - dual xeon 16 core @ 2.1ghz).

Here is what I've got in my environment:
<img width="1324" alt="Screen Shot 2020-08-28 at 2 28 27 PM" src="https://

[2020-08-28 23:01] kyessenov opened #26894 "large wasm memory consumption with a single worker"
Using istio 1.7 and pre-compiled wasm file, we see the following memory scaling characteristics:

| concurrency |  total physical bytes  |
| -- | -- |
| 1 | 64M |
| 2 | 64M |
| 4 | 61M |
| 8 | 61M |
| 16 | 61M |
| 32 | 71M |
| 1 (no wasm) |  12M |
| 32 (no wasm) | 13M |

The memory consumption does not seem to scale with the number of workers. It is not clear whether the shared memory is contended

[2020-08-28 23:08] kyessenov commented on #26627
I think just having raw value without @type or !!binary works:
[code]

[2020-08-28 23:45] williamaronli commented on #26821
@satishmane have you set the environment variable PROV_CERT and OUTPUT_CERTS? If OUTPUT_CERTS env is empty, the rotated cert will not be installed into the file

[2020-08-29 00:39] tariq1890 commented on #26873
Just wanted to send an update. It looks like the fix is far more complicated than I thought. Fixing this would require more thought since we face the risk of setting of regressions.

[2020-08-29 00:50] satishmane commented on #26821
Yes, I did set OUTPUT_CERT to /etc/istio-certs.
 But I did not set PROV_CERT. Do I need to set PROV_CERT as well?

On Aug 29, 2020, at 5:15 AM, williamaronli <notifications@github.com<mailto:notifications@github.com>> wrote:

@satishmane<https://github.com/satishmane> have you set the environment variable PROV_CERT and OUTPUT_CERTS? If OUTPUT_CERTS env is empty, the rotated cert will not be instal

[2020-08-29 01:03] yan-dblinf commented on #18500
Though the locality prioritized load balancing provides a counterpart of zone aware routing, load balancer [metrics](https://www.envoyproxy.io/docs/envoy/v1.13.1/configuration/upstream/cluster_manager/cluster_stats#id9) will be missing, which is valuable for monitoring.

[2020-08-29 03:07] istio-testing opened #26902 "[release-1.7] Admission webhook fix"
Manual cherrypick required.

#26880 failed to apply on top of branch "release-1.7":
[code]

[2020-08-29 03:51] williamaronli commented on #26821
for version between 1.6. if you want to do CSR request using MTLS you should set the PROV_CERT == OUTPUT_CERTS
. But if you only use istio **in pod not vm** it defaultly use the token to do CSR request to do cert rotation

[2020-08-29 04:24] sdake commented on #23029
I have reproduced the problem and got us closer to the root cause, although this is still not the actual root cause.

Grace, et al have written a benchmark called kperf. This tool generates a bunch of load, and for the last two weeks I have been learning how this tooling and integration with knative works. The tooling generates output like the following:
[code]

taking a closer look at the knative

[2020-08-29 04:27] sdake commented on #23029
Reproduction instructions:

[code]

And then run the benchmark
[code]

The `service measure` feature can take some time to enter a measurable state. Sometimes on the order of 5-10 minutes. The faster you measure, the more errors that are received. Although, after 10-15 minutes, I would expect the system to settle down, yet 363 was not resolvable via kubernetes DNS for nearly an hour.

Cheers,
-ste

[2020-08-29 04:30] sdake commented on #25685
This is a problem: https://github.com/istio/istio/issues/23029#issuecomment-683234340

[2020-08-29 05:06] #23893 closed

[2020-08-29 07:12] JibinNajeeb opened #26903 "TLSv1.2 protocol could not identify while sniffing using wireshark"
Tested in mtls enabled cluster

Steps taken:
[code]

Copied dump-mtls4.txt to wireshark. There is  no info regarding TLS between pod 10.244.48.251 and
 10.244.74.100

At line 33 we can see the message IM A TEAPOT. but there is no detail about TLSv1.2. How can I sniff TLS report?

[dump-mtls6.txt](https://github.com/istio/istio/files/5144875/dump-mtls6.txt)

[2020-08-29 08:09] satishmane commented on #26821
Thanks
I am using certs volume in mtls mode for my own prometheus to scrape. So prometheus container is auto injected with istio proxy. And i use certs for scraping.

Ok, I will set prov cert to same path as output cert if I understood to let rotate certs.

Thanks

On Aug 29, 2020, at 9:21 AM, williamaronli <notifications@github.com<mailto:notifications@github.com>>wrote:

for version between 1.6.

[2020-08-29 13:35] irizzant commented on #26882
@howardjohn
I don't see/understand exactly the relationship with https://github.com/kubernetes/kubernetes/issues/57923 I'm not using any `defaultMode` in the volumes, see manifest above.

[2020-08-29 17:21] ECuRyDIN opened #26905 "Istio multicluster 404 not found when using wildcards"
I have setup multicluster replicated control plane following doc in v1.5. I am getting 404 not found when I exec:

kubectl exec --context=$CTX_CLUSTER1 $SLEEP_POD -n foo -c sleep -- curl -I -v httpbin-bar.resource.net:17443/headers

**Bug description**
Getting 404 not found for istio mutlicluster replicated control plane configuration

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and S

[2020-08-30 01:50] blublinsky opened #26907 "Accessing Kubernetes API server from Istio enabled application"
**Bug description**
When accessing Kubernetes API server from Istio enabled applications, the requests fail due to MTS. An approach to resolve this issue, described at https://istio.io/latest/faq/security/#accessing-non-istio-services does not work.

[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[x] Test and Release
[ ] User Expe

[2020-08-30 01:53] blublinsky commented on #26907
@sdake, please advice

[2020-08-30 05:01] #19757 closed

[2020-08-30 05:02] #20795 closed

[2020-08-30 06:03] wangjc1 opened #26909 "Openstack environment istio1.7 isto proxy container cannot be started"
**Somebody can help me to see this problem（哪位大神能帮我看看这个问题）**

For testing convenience, I started a pod containing only the isto proxy container，**After testing, it is found that as long as the pod is not on the same node as the istiod, the isto proxy container in the pod cannot be started.** However, there is no problem with the ordinary pod,（当pod不和istiod组件部署在同一个节点上，istio-proxy容器就无法启动）

- When I de

[2020-08-30 14:15] #25119 closed

[2020-08-30 14:54] alesharik commented on #26640
@esnible Hi! Sorry for the delay... I built and ran operator image from PR #26308 and it does not fix this issue, error message is the same.

[2020-08-30 15:51] esnible commented on #26492
@yuval-k Thank you for updating https://github.com/solo-io/proxy-runtime
I am struggling to find the documentation.  I see your PR https://github.com/solo-io/proxy-runtime/commit/b545be086fa58ea2b1634afe0423fbfaaa118195#diff-fbe5c7809cca9cce116e35fc93176debR13 updated the ABI version from `proxy_abi_version_0_1_0()` to `proxy_abi_version_0_2_0()`.

Can you explain where to find the docs for these

[2020-08-30 16:01] sanigo commented on #26848
I don't think the istio_request_duration_milliseconds reported by destination is the same as X-ENVOY-UPSTREAM-SERVICE-TIME. The metric could be much higher than upsteam service time in access log.
We actually need to send a alert when X-ENVOY-UPSTREAM-SERVICE-TIME is high.

[2020-08-30 16:25] rinormaloku opened #26910 "Istioctl x describe fails to list pod virtual services for weighted clusters"
**Bug description and how to reproduce**
`istioctl x describe <pod>` doesn't list virtual services if those use weighted clusters.

Sample VS:
[code]

**Expected output** when using `istioctl x describe pod`:
[code]

**Actual output:**
[code]

**Virtual service section is missing**

[x] User Experience

[x] Istioctl

[2020-08-30 16:28] bianpengyuan commented on #26848
Can you share more about your observation? How much difference did you see? request_duration metric tracks the duration between downstream request stream establishment and completion, which should be really close to the upstream request stream duration, since we'd expect that sidecar adds very little latency (1 to 2 milliseconds at tail).

[2020-08-30 18:41] Exagone313 commented on #26883
I wasn't unable to find the response of a question by reading previous documentation versions: did Istio have Ingress support before Kubernetes 1.18 and if it did, how did it work without having the `pathType` property?

[2020-08-30 19:23] howardjohn commented on #26883
It did, and the default path type described above is what was used

[2020-08-30 19:27] howardjohn commented on #26883
btw, in Ingress v1 path type is a required field so it makes even less to do this.

[2020-08-30 20:53] vadimeisenbergibm opened #26912 "EnvoyFilter is not applied to gateways, only to sidecars."
**Bug description**
I am unable to apply EnvoyFilter to an egress gateway. I use Context `ANY` and see the filter is added to the sidecars and not to my egress gateway.

[ ] Docs
[ ] Installation
[ X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**

The EnvoyFilter must

[2020-08-30 22:41] talha22081992 commented on #22068
HI @ragunathan23, Can you please help in this regard..
Actually I'm also stuck in running envoy rate limit in istio 1.7 on k8s
I'm folllowing this https://github.com/aboullaite/service-mesh#1-rate-limiting procedure but not able to see rate limiting applied and I don't get any data in redis.

[2020-08-31 00:37] sanigo commented on #26848
when the upstream service time is 2ms, the istio_request_duration_milliseconds reported by destination could be 1023ms.

[2020-08-31 00:51] williamaronli commented on #17175
I run this flaky test TestStreamSecretsForGatewaySds for about 100 times in my own linux. but it doesn't fail any time

[2020-08-31 01:57] lcfang commented on #26799
Yes, I think the sidecar don't redirect the traffic. And I check the sidecar dynamic config of istio-mysql-mariadb-galera-1 between istio V1.6.4 and istio V1.7.0, there are some diffrents.

[2020-08-31 02:13] yuval-k commented on #26492
@esnible I don't have a good answer here - the route i went is:
- look at istio/proxy@1.7 and  see the [repo/version of envoy it depends on](https://github.com/istio/proxy/blob/1.7.0/WORKSPACE#L55)
- go there and see what version of the wasm host/sdk [it depends on](https://github.com/istio/envoy/blob/c82318df901d0f39018802cf2c953f4b7bed1bb9/bazel/repository_locations.bzl#L490)
- go to the sdk sou

[2020-08-31 02:27] morvencao commented on #26909
Make sure cross-nodes communication for the pods is working, you can test that without istio.

[2020-08-31 03:44] DandyDeveloper opened #26914 "[1.5.4] External Redis instance giving "Connection Reset by Peer" on Sidecar Enabled pod"
**Bug description**
My issue is similar to https://github.com/istio/istio/issues/21964 and may be considered a duplicate, but the scenario is different.

I have an external Redis instance available over TCP 6379 in another k8s cluster. This is using standard non-TLS to connect.

After enabling a sidecar on a service that points at the Redis instance, it errors out with the a "Connection reset by p

[2020-08-31 03:47] bianpengyuan commented on #26848
It surprises me that upstream service time and duration would have such a big difference. upstream service time tracks the time between downstream request finishes and upstream response received. the duration metric tracks duration of the whole downstream request (from stream established to stream destroyed). The network has to be really slow to introduce such a big difference (1ms vs 1000ms). Doe

[2020-08-31 03:56] hacktron95 commented on #26877
@esnible hello, if no one is taking this, I would like to give it a try.

[2020-08-31 04:08] mjs0514 commented on #26162
I'm sorry for the delay in responding.
I have not been able to test the issue due to other work.
As soon as you test, I will reply again.

[2020-08-31 05:02] #20836 closed

[2020-08-31 05:10] 13567436138 opened #26915 "static ServiceEntry can not use hosts"
**Bug description**
[code]

[2020-08-31 06:34] #23521 closed

[2020-08-31 07:31] yalctay93 opened #26919 "Istio IngressClass and scoped namespaces"
Hello, we are using Istio v1.7.0 in our Kubernetes Cluster Version 1.18
Istio has been deployed as "default profile" by using the following yaml
 ```istioctl profile dump default > profile-default-1.7.0.yaml```

Our currently deployed "IstioOprator" yaml file is shown below as  "**profile-default-1.7.0.yaml**"

Problem:
- we cannot configure wich ingressClass both Istio-Ingressgateways should use

[2020-08-31 08:05] sdake commented on #23029
@nak3 @howardjohn was able to observe the 503 failure in my environment and \o/ produce a fix. He mentioned he would properly fix the 503's in the morning. His temporary hacky solution to help identify root cause produces no 503s(!) and results in performance that looks like this:

<img width="1298" alt="Screen Shot 2020-08-31 at 12 59 32 AM" src="https://user-images.githubusercontent.com/755849/9

[2020-08-31 08:14] cheferrari commented on #22319
Kubernetes version: v1.18.3
Istio 1.7.0

I also encountered the same problem

[2020-08-31 08:18] nak3 commented on #23029
That is super awesome! Please let us know if the fixed image is ready and we could test it on our CI.

[2020-08-31 10:26] invidian opened #26920 "Helm chart bundled with the release do not pin operator version and use testing image registry"
**Bug description**

It seems that the helm chart bundled with the release does not pin operator image version and use `latest`, which may break the reproducibility of installations.

Also, `hub` used in the release is `gcr.io/istio-testing`, which suggests, that it might actually pull some tests images (with combination with `latest` tag), which seems to be confusing (https://github.com/kinvolk/l

[2020-08-31 10:35] 1hanymhajna commented on #18228
the same in 1.4.7, it just starts happened recently

[2020-08-31 11:21] rmoesbergen opened #26921 "Segmentation fault in istio-proxy v1.6.5"
**Bug description**
The istio-proxy (version 1.6.5) crashes with a segfault sometimes.

2020-08-29T22:24:14.923053Z	debug	envoy wasm	[external/envoy/source/extensions/common/wasm/wasm.cc:351] Thread-Local Wasm created 3 now active
2020-08-29T22:24:14.923396Z	critical	envoy backtrace	[bazel-out/k8-opt/bin/external/envoy/source/server/_virtual_includes/backtrace_lib/server/backtrace.h:104] Caught Se

[2020-08-31 11:22] esnible commented on #26627
When I was debugging inline_bytes Istio validation for https://github.com/istio/istio/pull/25927 I applied .json, not .yaml, so I could be sure it wasn't the YAML library.  I used `yq read <envoyfilteryaml> --tojson` to get the JSON.

I used _protoc_ to decode what Istio was supplying to Envoy

`echo Cj50eXBlLmdvb2dsZWFwaXMuY29tL2Vudm95LmV4dGVuc2lvbnMuZmlsdGVycy5odHRwLndhc20udjMuV2FzbRKJAgqGAgoGY2

[2020-08-31 11:26] rmoesbergen commented on #26921
[debug.log.gz](https://github.com/istio/istio/files/5150009/debug.log.gz)

[2020-08-31 11:29] m0ps opened #26922 "Istio mTLS strange behavior (bug?)"
**Bug description**
Currently, we are working on implementing a new GKE setup for our application. It includes GKE (1.16) with Workload Identity and Istio OSS (1.6.8). We are trying to apply the STRICT mTLS policy. And it works fine for most microservices except few ones that are calling another one during startup. It receives TCP RST. And it receives due that fact, that it tries to connect withou

[2020-08-31 11:32] m0ps commented on #26922
I’ve tried to look into **x_forwarded_client_cert** headers (an only successful connection is logged in envoy logs) and the picture is following:
`"x_forwarded_client_cert": "By=spiffe://cluster.local/ns/dst-qa/sa/iden-dst-qa-us-west1;Hash=2c63516e6f040e774e5d6b4ca42016f587dc831a3b59bcd031ae5661c00fb2b2;Subject="";URI=spiffe://cluster.local/ns/src-qa/sa/iden-src-qa-us-west1",`

The connection from

[2020-08-31 11:34] BaudouinH commented on #26801
I tried it, it works as intended now, thank you very much !

[2020-08-31 13:08] linsun opened #26923 "Enable holdApplicationUntilProxyStarts at pod level"
**Describe the feature request**

This is a dark launched feature in 1.7 (https://medium.com/@marko.luksa/delaying-application-start-until-sidecar-is-ready-2ec2d21a7b74), many of users indicate that they want this feature as they have been work around the startup prob themselves.  We need to evaluate what it takes to enable this by default in 1.8.

@GregHanson could you look into what it takes?  @

[2020-08-31 13:21] #26910 closed

[2020-08-31 13:46] laurentiuspurba commented on #26803
@elfinhe I just did an upgrade on the other pre-prod cluster without newline char on the cert-chain, it didn't break the upgrade.

[2020-08-31 13:53] Stono opened #26924 "Istio upgrade mess"
**Bug description**
Hi,
We're currently on 1.5, using the microservice model - using templates generated by `helm template` as we have done since the start of istio which we post process into our own charts + ci process.

As part of our move to 1.6, we're naturally going to the `istiod` model, and we're having to move our templating over to `istioctl generate manifest` due to the deprecation of `h

[2020-08-31 14:30] Stono commented on #21377
This isn't stale @howardjohn @douglas-reid @mandarjog

[2020-08-31 14:42] howardjohn commented on #26924
[code]

I think its a bug in the marshaling with istioctl 1.5

[2020-08-31 14:56] esnible commented on #26914
Check https://github.com/istio/istio/issues/14743 for suggestions?

[2020-08-31 15:02] nrjpoddar commented on #21377
@Stono it is not stale and clearly I'm losing the fight with the lifecycle manager bot.

[2020-08-31 15:30] sdake commented on #23029
@nak3 we tag per PR. The PR you seek is here: https://github.com/istio/istio/pull/26918

[2020-08-31 15:44] douglas-reid commented on #24283
not stale

[2020-08-31 15:44] mandarjog commented on #21377
@Stono do you track tests by generation number ?
If not this issue is similar to the cardinality due to cronjobs.

We will have generic expiry, but this seems like a more specific solution would do using configurable metrics?
@kyessenov do we support string functions thru cel yet?

[2020-08-31 15:44] douglas-reid commented on #24301
Tracked in #21377

[2020-08-31 15:44] #24301 closed

[2020-08-31 15:45] douglas-reid commented on #24303
Not stale.

[2020-08-31 15:45] douglas-reid commented on #24308
Not stale.

[2020-08-31 15:47] Stono commented on #21377
@mandarjog no this is different.  The CronJob issue I believe @douglas-reid got to the bottom of.  In my OP unfortunately these tests (which ironically are testing istio) deploy into their own namespace with an app representing the build number, so you get:

[code]

So there's no bug here, purely an extreme example of high churn workload names

[2020-08-31 15:47] douglas-reid commented on #21100
I believe this is still valuable.

[2020-08-31 15:55] kyessenov commented on #21377
CEL has limited string functions. I'm not sure if it would help here, unless it's possible to conflate many apps as one app.

[2020-08-31 15:56] Stono commented on #21377
No we wouldn't want to do that - they are separate apps

[2020-08-31 15:58] bianpengyuan commented on #26921
cc @kyessenov I lost track on the fix for this, has the fix been cherry-picked to 1.6?

[2020-08-31 16:04] kyessenov commented on #26921
It's in release 1.6 branch https://github.com/istio/proxy/pull/2984.

[2020-08-31 16:15] tcnghia commented on #23029
This is awesome. Thank you very much!

[2020-08-31 16:22] bianpengyuan commented on #26921
Ok, so it should be included in the next release (1.6.9). @rmoesbergen Please try 1.6.9 when it is out and reopen if the issue still happens. Thanks!

[2020-08-31 16:22] #26921 closed

[2020-08-31 16:23] istio-testing opened #26929 "[release-1.6] cleanup services when removing cluster secret"
Manual cherrypick required.

#26899 failed to apply on top of branch "release-1.6":
[code]

[2020-08-31 16:23] istio-testing opened #26930 "[release-1.6] cleanup services when removing cluster secret"
Manual cherrypick required.

#26899 failed to apply on top of branch "release-1.6":
[code]

[2020-08-31 16:24] rmoesbergen commented on #26921
Will do, thanks!

[2020-08-31 16:25] stevenctl commented on #26929
dupe #26930

[2020-08-31 16:25] #26929 closed

[2020-08-31 16:29] MarianZoll opened #26932 "istio-init container has huge resources limits"
**Bug description**

After upgrading to Istio 1.7 (we also switched to operator managed mode), the `istio-init` container resources limits are 2 CPUs and 1Gi memory. This is very resource-intensive for deployments that are expected to have very less traffic inside the mesh.

As result, the node-based resource allocations would cause operations alerts in production.

We already limit the resources

[2020-08-31 16:52] howardjohn commented on #26882
@irizzant for Istio to work, we need to mount a secret. We also need to run as a certain user/group. In order to read that secret, we need to set securityContext on the pod due to the mentioned bug. Now that I think about it more, it *might* be possible for us to run only as UID 1337 (and not also GID)

[2020-08-31 17:03] costinm opened #26935 "Update the 'ports' doc"
https://istio.io/latest/docs/ops/deployment/requirements/

- remove mixer ports
- separate in 2 sections, one for ports used by sidecar and one for ports used by control plane
- for sidecar, identify the ports that are localhost-only and ports that needs NetworkPolicy to be open ( prom scraping, status)
- also include the planned ports for BTS
- for control plane, identify the ports recommended fo

[2020-08-31 17:24] howardjohn commented on #26912
works for me, are you sure its in istio-system?

[2020-08-31 17:25] howardjohn commented on #26932
Thanks for the issue. The intent is istio-init and istio-proxy have identical resources. We should make sure that those settings apply

[2020-08-31 17:27] #24905 closed

[2020-08-31 17:30] howardjohn commented on #26923
I have concerns about making this default. We should be pushing for Sidecar KEP and get first class support. This solution, while great, is what I would consider likely permanent experimental due to relying on k8s implementation details.

[2020-08-31 17:36] tariq1890 commented on #26873
This can be closed

[2020-08-31 17:36] #26873 closed

[2020-08-31 17:38] howardjohn commented on #26932
btw, the original reason for bumping the resource was some envs the cpu limit was so small it got throttled and was extremely slow

[2020-08-31 17:39] tariq1890 opened #26938 "remove-from-mesh does not remove the init container when using IstioCNI"
**Bug description**

remove-from-mesh causes a failure state as it does not remove the injected init container when using Istio CNI.

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[X] User Experience
[ ] Developer Infrastructure

**Expected behavior**

**Steps to reproduce the bug**

Enable Istio CNI

**Versi

[2020-08-31 17:40] istio-testing opened #26939 "[release-1.7] apply rewrite probe patch before re-ordering containers"
Manual cherrypick required.

#26898 failed to apply on top of branch "release-1.7":
[code]

[2020-08-31 17:41] therealmitchconnors opened #26940 "Fail istioctl install on explicitly empty revision"
**Bug description**
istioctl install fails to distinguish between unset revision and empty string revision.  In both cases, an in-place upgrade is applied.  This can cause problems when the user has a typo in their bash session such as:

[code]

In this case, the user expects a revision-based upgrade which poses no risk to the existing mesh, but because of their typo they get a destructive in-plac

[2020-08-31 17:57] howardjohn commented on #26861
I tried to reproduce this. I was unable to. I applied the exact same configuration above, and ran

[code]

then `./jmeter -n -t plan.jmx -l log.log`

I see all 200s when switch back and forth from v1 to v2 with `kubectl patch svc reviews-stable --patch '{"spec": {"selector": {"version": "v2"}}}'`.

I also tried fortio as a load client, could not reproduce there either.

Can you enable access loggi

[2020-08-31 18:01] esnible commented on #26940
According to Kubernetes, "Valid label values must be 63 characters or less and must be empty or begin and end with an alphanumeric character ([a-z0-9A-Z]) with dashes (-), underscores (_), dots (.), and alphanumerics between."

As Istio stores the revision in a label value, there should not be a problem validating that the user's supplied value has those characteristics.

[2020-08-31 18:06] howardjohn commented on #26940
Does cobra distinguish unset vs empty flags if the default is `""`?

[2020-08-31 18:06] howardjohn commented on #26920
cc @ostromart @sdake

[2020-08-31 18:11] howardjohn commented on #26915
ServiceEntry does not add any DNS addresses into kube-dns. It will not resolve until we add native DNS support for Istio

[2020-08-31 18:14] howardjohn commented on #26919
I could not reproduce this. I ran
[code]

as well as `kubernetes.io/ingress.class=foo` and no `kubernetes.io/ingress.class` specified. ONLY when kubernetes.io/ingress.class=istio is set did I see any routes configured.

See https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig if you really want to change the ingress class name to be something other than `istio`

[2020-08-31 18:27] howardjohn commented on #26907
This release has a bug as indicated in the notes: https://istio.io/latest/news/releases/1.6.x/announcing-1.6.6/./ please upgrade to 1.6.7+. Thanks!

[2020-08-31 18:27] #26907 closed

[2020-08-31 18:31] jtrbs commented on #25054
Hi @JimmyCYJ, you can assign it to me after my membership request is approved. I will let you know once it is done.

[2020-08-31 18:33] JimmyCYJ commented on #25054
I am changing this to P0 for 1.8. We can downgrade to P1 once the majority security features are covered by multi-cluster tests.

[2020-08-31 18:40] douglas-reid opened #26943 "feat(canonical services): add canonical service labels to istiod/gateway deployments"
The istio workloads, including istiod and the ingress/egress gateways, should add the `service.istio.io/canonical-name` and `service.istio.io/canonical-revision` labels to match support for auto-injected mesh services.

cc: @smawson @howardjohn

[X] Installation
[X] Networking
[X] Extensions and Telemetry

[2020-08-31 18:52] therealmitchconnors commented on #26940
Yes https://godoc.org/github.com/spf13/pflag#FlagSet.Changed

[2020-08-31 19:54] chandappa commented on #26569
2020-08-31T19:46:28.772054Z	debug	envoy connection	[C158485] connecting to 10.244.1.247:50600
2020-08-31T19:46:28.775511Z	debug	envoy connection	[C158487] connecting to 10.244.1.247:50600
2020-08-31T19:46:28.778817Z	debug	envoy connection	[C158489] connecting to 10.244.1.247:50600
2020-08-31T19:46:28.783827Z	debug	envoy connection	[C158491] connecting to 10.244.1.247:50600
2020-08-31T19:46:28.7883

[2020-08-31 19:55] blankenshipz opened #26946 "Infinite request loop with istio-proxy behind Envoy"
I think I've found an infinite request loop that's causing my `istio-proxy` to crash with an OOM error in a specific circumstance.

Here's the flow diagram:

I have just **one app in the service mesh** and the traffic coming to that app comes from an envoy proxy that's handling SSL termination

**Envoy** <-> **(istio-proxy / api-app )** -> other services

* When I send the request directly to loca

[2020-08-31 20:02] irizzant commented on #26882
@howardjohn ok thanks for the explanation. You can specify the needed `securityContext` at container level instead of at Pod level.
This would allow you to `runAsGroup` and `runAsUser` without touching the main container/Pod permissions.

[2020-08-31 20:05] howardjohn commented on #26882
fsGroup is only available at the pod level:

[code]

[2020-08-31 20:24] howardjohn commented on #26946
@lambdai

[2020-08-31 20:59] brian-avery commented on #26365
One suggestion for this is to make it easier to add release notes. Currently, one generally has to:

@howardjohn thoughts on a link to make it easier to create new files?

To fix this, click [here](https://github.com/brian-avery/istio/new/master/releasenotes/notes) and create a release note following [this](https://github.com/istio/istio/blob/master/releasenotes/template.yaml) template.

We can ge

[2020-08-31 21:00] linsun opened #26949 "External Istiod: no need to restart istiod to pick up new k8s config"
**Describe the feature request**

The kubeconfig normally expired 2-3 weeks and requires a new config file using refresh token.  When this is about to expire, mesh operator can load up the new kubeconfig via the `istio-kubeconfig` secre. It is desired that mesh operator doesn't need to restart of Istiod to pick up the new kubeconfig via secret.

@irisdingbj let me know if this already works.  Look

[2020-08-31 21:02] irizzant commented on #26882
@howardjohn true, but if I understand correctly you have to mount a secret into the Istio sidecar container and for it to be usable setting `fsGroup` should not be necessary, you can use `runAsUser` and/or `runAsGroup`

[2020-08-31 21:03] howardjohn commented on #26882
@irizzant I agree with you in theory but due to https://github.com/kubernetes/kubernetes/issues/57923 it is always mounted with the wrong permissions if fsGroup is not set. I explicitly tried removing this option when I saw your issue to see if anything had changed it k8s - it still fails

[2020-08-31 21:23] irizzant commented on #26882
@howardjohn the https://github.com/kubernetes/kubernetes/issues/57923 mentions that with:
[code]
[code]
You get `0440` permissions.
The API documentation of `DefaultMode` states:
[code]
so it looks like the problem is setting `fsGroup` + `defaultMode` not `runAsUser` + `defaultMode`.
Am I missing anything?

[2020-08-31 21:29] irizzant commented on #26882
@howardjohn ok. Would it be possible to relax the `defaultMode` to allow group the read permissions and then use `runAsGroup` only?

[2020-08-31 21:31] howardjohn commented on #26882
I think ifg you put `0777` as the mode it still doesn't work, last I checked

[2020-08-31 21:35] irizzant commented on #26882
@howardjohn I think it's worth a check. Setting `defaultMode` at `0770` **without** `runAsUser` and **without** `fsGroup` but **with** `runAsGroup` should be ok

[2020-08-31 21:35] JaveriaK commented on #22068
@songford I've got a similar issue where rate limiting works as long as the ratelimit service pods don't have envoy sidecars.

However, even ensuring manual protocol selection by naming the port "grpc-8081" doesn't help with sidecar injection enabled, and no requests get routed the ratelimit pod regardless of whether I use filters on the GATEWAY or SIDECAR_INBOUND listeners. Wondering if anyone ha

[2020-08-31 21:35] howardjohn commented on #26882
This will not work, we need to run as a special UID for the iptables traffic

[2020-08-31 21:51] howardjohn opened #26953 "klog shim broken by client-go 1.19"
Now we get logs like

[code]

That do not use our standard logging libraries. We may need to update http://github.com/istio/klog or something.

[2020-08-31 22:46] #26939 closed

[2020-08-31 23:16] carolynhu opened #26956 "Latency has a high increasing for P99.9 when enabling Stackdriver with loggings"
Here is the graphs observed for P99.9 when enabling Stackdriver with loggings:

![fortio_jitter_1_7_p99_9](https://user-images.githubusercontent.com/29208297/91777558-0852d980-eba5-11ea-8b86-e18694f1340f.png)
![fortio_no_jitter_1_7_p99_9](https://user-images.githubusercontent.com/29208297/91777564-0b4dca00-eba5-11ea-89b9-92021aa7fdd1.png)
![nighthawk_jitter_1_7_p99_9](https://user-images.githubuse

[2020-08-31 23:18] carolynhu commented on #26956
cc @kyessenov @bianpengyuan @gargnupur @mandarjog

[2020-08-31 23:35] carolynhu opened #26958 "istio/tools: add P99.9 perf data into daily track metrics for finding more performance optimization opportunities"
context: https://github.com/istio/istio/issues/26956

[2020-08-31 23:39] #26956 closed

[2020-09-01 00:27] courcelm commented on #17139
I'm having a similar issue on Istio 1.5.8. TCP connections are dropped for various service types (SSL, postgres, redis).
I get the gRPC config stream closed: 13  error previously reported every 30 min.

I tried the PILOT_DISABLE_XDS_MARSHALING_TO_ANY=true config but I get high CPU usage and the following error in the proxy:
gRPC config stream closed: 13, grpc: error while marshaling: proto: repeat

[2020-09-01 01:03] #25500 closed

[2020-09-01 01:13] carolynhu commented on #24193
Each line has a corresponding flame graph, should think a way of how to organize those links to reflect this for easier finding and debugging performance issues based on flame graphs.

[2020-09-01 01:38] wangjc1 commented on #26909
It is good to deploy a nginx pod across nodes，I guess it's the openstack problem, but I don't know how to check it out.  （我猜测是OpenStack的问题，但具体不知道怎么排查，大神跟我说下）

[2020-09-01 02:14] morvencao commented on #26909
It depends on what CNI you're using. If you're sure it's network issue, try to use **tcpdump** to figure which hop is broken.

[2020-09-01 03:51] songford commented on #22068
@JaveriaK First of all, my configuration works at version 1.6.x, so I haven't got any first hand experience dealing with version 1.4.

From what I've seen in (https://istio.io/v1.4/docs/ops/configuration/traffic-management/protocol-selection/), the syntax of protocol selection hasn't changed since 1.4, so I'd expect it to work likewise in 1.4. Have you tried setting `failure_mode_deny=true` to ver

[2020-09-01 04:16] JaveriaK commented on #22068
@songford yes setting `failure_mode_deny` starts returning RLSE 500s for all requests, which should mean the config is getting picked up by pilot?
I see no activity at all in the ratelimiter sidecar proxy logs so assumed nothing was reaching it. I've also dumped all the proxy-configs for listeners and routes and see they got updated according to envoyfilter manifests, but apparently some kind of c

[2020-09-01 04:49] songford commented on #22068
Ahhhh OK.

Yes, if you see RLSE in envoy log, that means the ratelimiter config is valid and recognized by Pilot. With `failure_mode_deny=false`, the request will be accepted even if Pilot fails to reach rate limit service. If you toggled debug mode in your rate limit service, there will be an entry corresponding to every request you submitted to the workload. So I assume your assumption is correc

[2020-09-01 05:02] #20862 closed

[2020-09-01 05:02] #20869 closed

[2020-09-01 05:02] #20875 closed

[2020-09-01 05:05] #23470 closed

[2020-09-01 05:06] #23912 closed

[2020-09-01 06:11] hacktron95 commented on #26953
hello @howardjohn , I can take this if no one is currently working on it,
please let me know if you have a suggested approach for how to solve this?

[2020-09-01 06:29] MarianZoll commented on #26932
Thanks for creating the PR and working on it! This is highly appreciated!

Ok that sounds reasonable. We mostly use Istio for features like traffic mgmt., mTLS and fault tolerance on clusters with a small workload compared to the environments the project is referencing in the scalability and performance benchmarks so we most of the time end up in reducing the resources based on our own benchmarks

[2020-09-01 07:15] 13567436138 commented on #26915
what is native dns,when will be added

[2020-09-01 07:20] yalctay93 commented on #26919
Hello and thank you for the quick response!
...Interesting, so I've tried to rebuild it as well and for us, apparently, it does not matter what ingressClass is defined...

I wonder what the default value for ingressClass on Istio-Ingressgateway is... shouldn't it always be "istio"? even if it is not specified in meshConfig?

The following Ingress were used to access the fortio echoserver. In both

[2020-09-01 07:52] yann-soubeyrand commented on #20717
We'd also be interested in being able to specify a fallback route.

[2020-09-01 08:17] lanceliuu commented on #25685
with the fixes in https://github.com/istio/istio/issues/23029 I am able to reproduce the similar result as @sdake posted. The individual spikes are gone and I think It is a valid fix. Thank you 👍 .

![image](https://user-images.githubusercontent.com/62631896/91824517-7bc01e00-ec6d-11ea-824f-abb1d56376e9.png)
I think we can now focus on the sudden increasing after 200 ksvcs. It should be another un

[2020-09-01 08:43] nak3 commented on #23029
Umm... I tested on Knative CI on https://github.com/knative/serving/pull/9244 but it still gets 503 error unfortunately. I am sure it became better but a few requests gets 503.

I used this operator manifest https://github.com/nak3/serving/blob/test-istio-1.7/third_party/istio-stable/istio-ci-no-mesh-fix.yaml based on  https://github.com/nak3/serving/blob/test-istio-1.7/third_party/istio-stable/is

[2020-09-01 09:04] irisdingbj commented on #26949
@linsun yep, I am worried it does not work because we only initialize the client when we bootstrapping. investigating..

[2020-09-01 09:19] sdake commented on #23029
@nak3 what workload do you present to knative to generate these 503s?

[2020-09-01 09:21] sdake commented on #23029
please note the performance results from 1.5 are superior:
<img width="1347" alt="Screen Shot 2020-09-01 at 1 40 42 AM" src="https://user-images.githubusercontent.com/755849/91832121-d455d380-ebf9-11ea-927d-a1b7740aa423.png">

[2020-09-01 10:27] upodroid opened #26961 "Istio Operator is missing the permissions to update Service Monitors"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Istio Operator is missing the permissions to update Service Monitors

**Affected product area (please put an X in all that apply)**

[ ] Docs
[X] I

[2020-09-01 11:40] nak3 commented on #23029
Unfortunately I think it is difficult to answer accurately because the issue happens only when running e2e tests in parallel.

The problematic tests (around  10 tests) create the requests by [this prober code](https://github.com/knative/serving/blob/master/test/prober.go#L151-L171). It keeps requesting during updating a Knative Service (e.g. update label, change traffic path, etc..) and verifies a

[2020-09-01 11:45] Arnuphap-Yupuech commented on #26503
Hi @mustafakirimli
We configure the env variable in manifest.yaml and deploy by using these following command in our Jenkins file.
[code]
However, this line did not effect the change based on configuration that specify in manifest.yaml, so we tried with another command by using kubectl apply instead
[code]

[2020-09-01 12:18] sdake commented on #25685
pprof protos attached. 2 = first 10 minutes, 3 = second 10 minutes of benchmark.

[pprof.pilot-discovery.samples.cpu.002.pb.gz](https://github.com/istio/istio/files/5156108/pprof.pilot-discovery.samples.cpu.002.pb.gz)
[pprof.pilot-discovery.samples.cpu.003.pb.gz](https://github.com/istio/istio/files/5156109/pprof.pilot-discovery.samples.cpu.003.pb.gz)

[2020-09-01 12:23] sdake commented on #25685
pb2 flame graph:
<img width="1404" alt="Screen Shot 2020-09-01 at 5 22 17 AM" src="https://user-images.githubusercontent.com/755849/91850922-37a02f80-ec13-11ea-97bb-c04d08b4d9af.png">

pb3 flame graph:

<img width="1389" alt="Screen Shot 2020-09-01 at 5 20 24 AM" src="https://user-images.githubusercontent.com/755849/91850749-e7c16880-ec12-11ea-97f0-3d9e5ab620f6.png">

[2020-09-01 13:12] peter-fe commented on #26522
@fcervantes2,

We observed the same issue on our setups, it used to work with istio 1.5.1 and fails with 1.6.8 and 1.7.0

We don't set the affinity and tolerations as k8s resource, we use the values operator notation and the "Customizable Install with Istioctl" way of installing.

[code]

When you run an "istioctl install -f ../values.yaml" the tolerations & affinity get applied to the **ingress-g

[2020-09-01 13:45] howardjohn commented on #26953
That would be great. I don't know what caused the issue so I'm not sure. I do know we have a fork of klog  and/or golog that pushes it through our own logging system so that seems like the best place to get started. See the go.mod for the replace

[2020-09-01 13:56] pliutak-nih commented on #26861
Hi John, thanks for looking into it.

I see that you're trying to patch **reviews-stable**. Please note, I'm patching **reviews-canary** on step 4 (it's exactly, what argo-rollouts is doing prior to switch traffic to canary).

[2020-09-01 14:09] sdake commented on #26690
@howardjohn had applied a validation workaround prior to 1.7 release. Since no further improvement can be made after extensive analysis, I am closing this issue.

Please reopen if our extensive analysis turns up another solution.

[2020-09-01 14:14] howardjohn commented on #26932
I am not sure why it matters?

If I have an init container with 1 cpu and a pod with 2 CPU, then in aggregate I request: 1 cpu for ~1s, then 2 CPUs for the entire pod lifecycle.
If I have an init container with 2 cpu and a pod with 2 CPU, then in aggregate I request: 2 cpu for ~1s, then 2 CPUs for the entire pod lifecycle.

To me these are functionally identical - we are going to request 2 CPU eve

[2020-09-01 14:20] howardjohn commented on #26690
We still need this. We must not crash

[2020-09-01 14:35] MarianZoll commented on #26932
I do agree, but in our case its the following:

If I have an init container with 2 cpu and a pod with 500m CPU, then in aggregate I request: 2 cpu for ~1s, then 2 CPUs for the entire pod lifecycle as the init container does define the limits for the entire lifecycle. So the limit is actually 1.5 CPUs higher than the actual limit of the runtime containers.

For us its also totally fine the way the

[2020-09-01 14:37] howardjohn commented on #26932
Makes sense, thanks

I think this should not be the case, the idea is init container == proxy in all cases. That was the intent at least, if not I did something wrong

[2020-09-01 14:41] MarianZoll commented on #26932
Thanks for the quick fix and the support!

Guess we can close the issue as the PR is already merged. But I leave it up to you.

[2020-09-01 14:47] howardjohn commented on #26932
I left it open to verify this fixes your use case - sounds like it does so I'll close this. Thanks for the report!

[2020-09-01 14:47] #26932 closed

[2020-09-01 15:09] howardjohn opened #26964 "Possibly CRD regression 1.7 to master"
@costinm reports that the `patch.value` is pruned in Envoyfilter after upgrading from 1.7 to master

cc @jasonwzm

[2020-09-01 15:42] vadimeisenbergibm commented on #26912
@howardjohn My bad, previously EnvoyFilter did not require specifying the namespace, so I did not check it. Works for me when creating the filter in `Istio-system`, closing the issue. Thanks a lot!

[2020-09-01 15:42] #26912 closed

[2020-09-01 15:53] maganaluis commented on #12187
Facing the same issue here; I'm using istio 1.6 and Kubernetes 1.16.10

[2020-09-01 15:54] maganaluis commented on #12187
/reopen

[2020-09-01 16:13] howardjohn commented on #25685
What is an acceptable delay for new VS being created? Obviously we want it to be as fast as possible but we need to be realistic so we can make the appropriate compromises

[2020-09-01 16:31] pc-rshetty opened #26965 "Matching header with URI doesnt work with separate match config across virtualservices"
**Bug description**
Some context of the issue i had created a while ago https://github.com/istio/istio/issues/16959

Here is the scenario, i have 2 applications lets say admin and adam, they both use same ingress gateway. I would like both to use header based routing with a header called "test-user" which means
1> header with "test-user" with URI match of /admin should go to the admin service cont

[2020-09-01 16:37] JaveriaK commented on #22068
So applying the filters on the GATEWAY doesn't work for me in any combination (and I do see them get inserted to the proxy config).
Doing it on the application pod SIDECAR_INBOUND does, the filters I'm using are these (work with non-sidecar ratelimit pods and give RLSE otherwise):

[code]

[2020-09-01 16:50] IgorBrehm commented on #26884
If this is indeed a bug with Istio, I can try to help out and implement a fix for it myself, then opening a Pull Request later so that it can be merged. However I'm going to need some information and help first, anything you can give me is much appreciated!

[2020-09-01 17:11] IgorBrehm commented on #26884
Here is an example of what happens when, say, I try to connect to the remote server by executing curl inside the istiod pod:
[code]

[2020-09-01 17:18] su225 commented on #23828
@howardjohn - Is this still open? I'm interested to pick this up.

[2020-09-01 17:31] ericvn commented on #23620
Work continuing in release 1.8.

[2020-09-01 17:35] tmshort opened #26967 "Crash in envoy proxy with istio 1.5.7"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Crash in istio-proxy. Had been up for ~3 days.
[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X]

[2020-09-01 17:37] shakthi-manai commented on #24630
I have the same erorr and not able to procced. Egress, Ingress gateway are not installed successfully and hence the set up does not work

[2020-09-01 17:50] jasonwzm commented on #26964
@costinm How did you do the upgrade? Using `istioctl upgrade`?

[2020-09-01 17:58] incfly commented on #26967
A duplication of https://github.com/istio/istio/issues/25909

[2020-09-01 17:58] #26967 closed

[2020-09-01 18:36] IgorBrehm commented on #26884
However, if I specify to curl the correct path where Istio mounted the certificate files from cacerts secret, the connection works as expected:
[code]

[2020-09-01 18:42] PatrickDuncan opened #26968 "[istio-proxy] envoyMetricsService should work with auto mTLS"
**Describe the feature request**

https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#ProxyConfig
The `defaultConfig.envoyMetricsService` DNS resolves the address to an IP. It then uses that IP to make outbound requests. To use TLS, it has `tlsSettings` which is a DestinationRule under the covers.

This is not compatible with mTLS between pods in a mesh. The envoy doesn't know that

[2020-09-01 18:50] jasonwzm opened #26970 "Support Warning in Validation Webhook"
Need further analysis on which features to implement in this design doc:

https://docs.google.com/document/d/1A5ydzR7iNaiefUJWKVHE1IwqqrwYNx04-QC9nhcqknE

/cc @howardjohn

[2020-09-01 19:28] danquack commented on #26873
@tariq1890 is this closed because that PR resolves it? Should we avoid implementing this until the next 1.7.1?

[2020-09-01 19:32] tariq1890 commented on #26873
@danquack Yes. I had tested the fix for it in release-1.7 alpha and it works as expected. You can try this feature out in 1.7.1

[2020-09-01 19:46] courcelm commented on #17139
After more investigation, I'm not affected by this issue.

[2020-09-01 19:48] allandhir commented on #26847
**Before adding `paths` in authorization policy.**
With `action: ALLOW` and no specific `paths` defined implies access to httpbin at all paths is allowed and authenticated requests return 200. Thus your request **".../jwt/v1/status/200"** with valid token after the virtual service redirects to destination httpbin at **"/"** returned 200.

**After adding `paths: ["/status/200"]`**
With `action: ALL

[2020-09-01 19:54] courcelm commented on #24387
I'm having a similar issue on Istio 1.5.8. TCP connections are dropped for various service types (SSL, postgres, redis) after 1 hour. Like @nabbott2008 , settings ISTIO_META_IDLE_TIMEOUT to 24h0m0s did not work but 30s did work. I tried to set it to 0s to disable it but it brokes connection.

[2020-09-01 20:37] blublinsky commented on #26907
Thanks @howardjohn for your fast reply, so it is supported in 1.6.7+, 1.7.x, what about 1.5.10, that was just released? Was it back ported there?

[2020-09-01 20:39] howardjohn commented on #26907
There was a single version - 1.6.6 - that had this bug. it was a regression

[2020-09-01 20:49] lindeneau-scott opened #26972 "[istio-gateway] with both PASSTHROUGH and TLS servers will 404 PASSTHROUGH hosts depending on access order from client."
**Describe the issue**
If you have an istio-gateway configured with servers that are setup for both passthrough and tls, if the passthrough host requires mutual tls, istio will 404 the passthrough host _only_ when the passthrough host is accessed second by a single client.

Example istio-gateway:
[code]

Suppose you have virtual services for host1 and host2 listening appropriately. Host1, with pas

[2020-09-01 21:06] darkstarmv opened #26973 "EnvoyFilter fails to disable generate_request_id"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I'm trying to turn off generation of the `x-request-id` header using the following EnvoyFilter:
[code]
viewing listeners shows that `generateRequest

[2020-09-01 21:28] bianpengyuan commented on #26968
I think you'll need to set ClientTLSSettings to make it use mTLS?

[2020-09-01 21:31] bianpengyuan commented on #26968
https://github.com/istio/api/blob/c78f387f78a22a3c4a1c49679dc44cded454530d/mesh/v1alpha1/proxy.proto#L459

[2020-09-01 21:42] bianpengyuan commented on #26973
Same issue as https://github.com/istio/istio/issues/18169. Would you mind closing this as a dup?

[2020-09-01 22:09] PatrickDuncan commented on #26968
@bianpengyuan Hey, ya that does work normally. In my case I'm using SNI passthrough to send metrics from the sidecar to my metrics service in a different cluster. I've added the metrics service to the mesh by adding a sidecar (`istioctl proxy-status` shows that it's in sync).

I did try using ClientTLSSettings with SNI passthrough, but I run into a `connection failure`. If the envoyMetricsService

[2020-09-01 22:29] sdake commented on #25685
@howardjohn was running on my cluster today and modified the debounce. This is something I wanted to try after the endpoint missing problem was solved yesterday, but hadn't got to it.

Here is the information I was able to gather after John sorted out the problem:

Istio sends state via XDSv3 to Envoy about the state of the mesh. The endpoint state is incremental, however, the route state is not.

[2020-09-01 22:41] yangminzhu commented on #26656
I suspect this might be related to AWS, +@xulingqing for further debugging.

[2020-09-01 22:44] #26821 closed

[2020-09-01 23:20] brianwolfe opened #26975 "Summary of frictions encountered when upgrading to Istio 1.6"
This is not really a feature request or a bug request. This is more a summary of frictions I had when upgrading a moderate-sized deployment to Istio 1.6.8. In particular, @howardjohn @smawson @rshriram asked for this summary.

## Setup

We run a a set of multicluster Istio setups in central Istiod mode, as described here https://github.com/istio/istio.io/pull/7978 and https://deploy-preview-7978--

[2020-09-01 23:39] howardjohn commented on #26975
Thanks for posting this @brianwolfe !

By broke, do you mean fields that were set were suddenly removed in etcd? So applying the new CRDs resulted in the existing DR trafficPolicy not taking effect? Or that you couldn't apply reapply the DR as it was rejected?

cc @therealmitchconnors @ostromart may find this interesting

[2020-09-01 23:47] brianwolfe commented on #26975
The values were still stored in etcd, but I believe the unknown fields are trimmed on retrieval when preserveUnknownFields goes to false, so our `traffic_policy` (sic) fields were all omitted in both 1.6.8 and 1.5.2, breaking a bunch of traffic across the cluster immediately. When we re-deployed the 1.5.2 CRDs, traffic was immediately restored.

[2020-09-02 00:04] #24701 closed

[2020-09-02 00:21] howardjohn commented on #26975
@jasonwzm ^

[2020-09-02 01:52] linsun commented on #26968
Thanks @PatrickDuncan - I think you may still be missing some configs so the metrics service isn't registered as part of the mesh properly.  Could you share your SE/Workload entry configs?

[2020-09-02 02:37] morvencao commented on #26961
This should just happen on istio<=1.7.x, for future release, istio removed the bundled `addon` installations from `istioctl` and the operator. Istio will not install components that are not delivered by the Istio project.

[2020-09-02 05:02] #20811 closed

[2020-09-02 05:02] #20908 closed

[2020-09-02 05:37] hendrikhalkow commented on #26328
I can confirm that the same issue exists with 1.7.0 when you follow the guide for [multi-cluster deployment with replicated control planes](https://istio.io/latest/docs/setup/install/multicluster/gateways/). Any workaround?

[2020-09-02 06:22] jtakamine opened #26979 "Sporadic "503 NR" occurrences when shutting down a pod"
**Bug description**
On some of our workloads, we are observing sporadic "503 NR" responses when shutting down a pod. These responses are observed from the istio-proxy sidecar on the destination pod (inbound logs). Would really appreciate it if someone could shed some light on this behavior.

This is a representative log from a test workload:

[code]

During steady-state, the test emits logs like t

[2020-09-02 06:26] jtakamine commented on #26979
Files referenced above in the steps to reproduce:

loop.sh:
[code]

nginx.yaml:
[code]

[2020-09-02 07:53] rowe0x opened #26980 "USR1 signal should reopen pilot log"
When use  logrotate, istio don't handle USR1 propertly to reopen log file.
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[x] User Experience
[ ] Developer Infrastructure

[2020-09-02 07:56] wanglihui opened #26981 "upgrade 1.7.0 from 1.6.8 error"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
when i upgrade 1.7.0 from 1.6.8 , use istioctl kube-inject will ocure error
`
Error: template: inject:140:7: executing "inject" at <gt .ProxyConfig.

[2020-09-02 08:22] istio-testing opened #26982 "[release-1.7] Fix eds: when endpoint occur later than svc, the eds cache will not b…"
Manual cherrypick required.

#26918 failed to apply on top of branch "release-1.7":
[code]

[2020-09-02 08:23] istio-testing opened #26983 "[release-1.6] Fix eds: when endpoint occur later than svc, the eds cache will not b…"
Manual cherrypick required.

#26918 failed to apply on top of branch "release-1.6":
[code]

[2020-09-02 09:07] satishmane commented on #26821
Hi @williamaronli
When can I get cherry pick patch for 1.6.8 release in this week. thanks

[2020-09-02 09:21] htn4179 commented on #16321
can I ask,
where did you put tracing config in the istio-sidecar-injector configmap? I didnot find the right location

[2020-09-02 09:28] wanglihui commented on #26981
i reinstall istio, fixed!

[2020-09-02 09:28] #26981 closed

[2020-09-02 09:39] DragonSuper commented on #13321
my yaml is ok!   all !

          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: beta.kubernetes.io/arch
                operator: In
                values:
                - amd64
                - arm64
                - s390x

[2020-09-02 09:59] rakeshbhatk opened #26984 "Istiod RequestAuthentication failing while using internal jwksuri with internally signed certificate"
I’ve been applying RequestAuthentication Policy to my service using JWT.
I have a internal OIDC  provider(CA7 gateway OTK) and the provider uses a internally signed CA. The RequestAuthentication is failing as istiod is not able to find the internal cert while communicating with jwksuri.

How do I get istiod refer the internal certificate while connecting to internal jwksUri??

I followed the below

[2020-09-02 11:39] johnzheng1975 commented on #26111
Ok, I resolved with lastest EKS NLB EIP.
Thus, the ip is stable in service entry.

[2020-09-02 11:39] #26111 closed

[2020-09-02 11:41] ramaraochavali commented on #26975
Can you please share the heap profile for memory leak that you have observed?

[2020-09-02 11:45] johnzheng1975 opened #26990 "[multi-cluster] Raise "HTTP/1.1 503 Service Unavailable" sometimes, when send request cross clusters."
**Bug description**
[multi-cluster] Raise "HTTP/1.1 503 Service Unavailable" sometimes, when send request cross clusters.

- If I do not call one service more than 1 minutes, then call one api of this service again  (with servicename.namespacename.global), the fail rate is high: arrive 20 out of 1200.
- If I call the api of this service continually, each 2 seconds (with servicename.namespacename.g

[2020-09-02 11:53] johnzheng1975 commented on #26990
Is there anyone else meet such issue? Can you give some work arround? Thanks.

[2020-09-02 12:14] yogavigneshwaran commented on #19599
Thank you very much! It works like a charm.

[2020-09-02 12:17] WitoDelnat opened #26991 "Istioctl operator init with revision uses incorrect serviceaccount"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

We are experimenting with Istio operators to ease maintenance.

Our goal was to start the operator on our current version and upgrade to the latest

[2020-09-02 13:04] #26973 closed

[2020-09-02 13:08] darkstarmv commented on #18169
is there any workaround for this issue?

[2020-09-02 13:10] wmuizelaar opened #26992 "Authorization policy not behaving as expected when using notPath to protect certain paths"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensi

[2020-09-02 13:40] codeMonkeysBe commented on #26328
Was encountering the same issue, and for me it seemed to be a problem with missing newlines at the end of each .pem file (at least for me it was). Apparently there is a bug that requires each pem file to end with a newline:

Also see https://github.com/istio/istio/issues/24609

You can debug as follows ->
`
kubectl exec -n $YOURPOD -c istio-proxy -- curl 'localhost:15000/config_dump'
`
This will o

[2020-09-02 13:42] cbron commented on #24924
This has been resolved *in Rancher* with 1.5.9. Please use [the linked Rancher issue](https://github.com/rancher/rancher/issues/28109) to further comment on anything surrounding it, or open a new Rancher issue.
I will leave this issue open to handle the Istio case, please restrict any further comments to that.

[2020-09-02 14:06] hacktron95 commented on #26953
@howardjohn please assign me, I'll give it a try in a time box of 1 week.

[2020-09-02 15:01] ericvn opened #26993 "Need new docs for stackdriver adaptor removed in #25669"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Missing `Stackdriver Integration` feature documentation link.

https://github.com/istio/istio/pull/25669 removed mixer/adapter/stackdriver/config/a

[2020-09-02 15:26] shubhamitc commented on #26990
I am also facing the same issue on istio version 1.7. Same setup was working fine for istio 1.6.
Curl command failure
[code]

Kube-dns configmap
[code]

Coredns configmap
[code]
Istiodns address
[code]
From the same cluster
[code]
From other clusters
[code]
SE entry
[code]

[2020-09-02 15:51] tmshort commented on #26009
However, that only answers why session tickets (large data structures) are being issued, and not useable after a hot-restart.
The highlighted error by the originator indicates that session IDs (typically 32-bytes), because of the service load-balancer, the sessionIDs do not working cross pod instance.

[2020-09-02 16:50] brianwolfe commented on #26975
Inuse memory at the time is captured in the following graphs from pprof. LMK if there are details you particularly want.

![inuse_space](https://user-images.githubusercontent.com/1874252/92012672-98a63100-ed01-11ea-8e4b-2bf610cdb68e.png)

![inuse_objects](https://user-images.githubusercontent.com/1874252/92012658-947a1380-ed01-11ea-8a7f-8425606fe148.png)

[2020-09-02 16:52] kyessenov commented on #26851
Listener filter error capture should be fixed with https://github.com/envoyproxy/envoy/pull/12935.
We should validate that Wasm supports listener-level access logging  (@jplevyak).

[2020-09-02 17:22] myidpt commented on #26090
@nschhina @JimmyCYJ Do we still want to cherrypick the analyzer to 1.5? I saw the PR was closed. Is there any technical blockers?

[2020-09-02 17:36] howardjohn commented on #26980
What is user defined logrotate?

[2020-09-02 17:37] howardjohn commented on #26991
cc @richardwxn @ostromart

[2020-09-02 17:40] myidpt commented on #21961
@tmshort instead of hacking the istio-agent code to support Vault integration, I think a better model would be developing an adapter that can consume the Istio CSR API https://github.com/istio/api/blob/master/security/v1alpha1/ca.proto and then converts the requests to Vault-specific. Then the adapter will be stable since the Isito CSR API is stable. You just need to configure the endpoint of the

[2020-09-02 17:53] nschhina commented on #26090
I think cherrypicking only to 1.6 was sufficient in this case- normally we dont cherrypick istioctl features back

[2020-09-02 17:53] #26090 closed

[2020-09-02 18:48] XanderStrike commented on #9300
This is an issue we're running into as well, shouldn't be stale.

[2020-09-02 19:16] stevenctl opened #27003 "flake: TestWorkloadInstances/Kubernetes_only:_endpoint_occur_earlier"
Caused by either: #26944 or #26918, possible race condition.

[2020-09-02 19:17] stevenctl commented on #27003
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26997/unit-tests_istio/19993
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26995/unit-tests_istio/19991
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26908/unit-tests_istio/19988

[2020-09-02 19:28] howardjohn opened #27004 "adding listener '0.0.0.0:15006': filter chain match rules require TLS Inspector listener filter, but it isn't configured"
Seems to happen when there is no Service associated with a pod

[2020-09-02 20:27] VRanga000 commented on #25145
In Istio 1.5.1 , we are seeing what appears to be a very similar issue with istio ingressgateway memory usage linearly increasing ending in an OOM due to memory limit exceeded. The tcp connections seem to not grow with the memory. But envoy heap size seems to be increasing monotonously and never being reclaimed, eventhough the "allocated" memory shrinks down when connections to the gateway drop.

[2020-09-02 20:33] VRanga000 opened #27005 "Istio (1.5.1) ingress gateway (envoy) heap memory grows unbounded, causing OOM when memory limit is exceeded"
In Istio 1.5.1 , we are seeing what appears to be a very similar issue with istio ingressgateway memory usage linearly increasing ending in an OOM due to memory limit exceeded. The tcp connections seem to not grow with the memory. But envoy heap size seems to be increasing monotonously and never being reclaimed, eventhough the "allocated" memory shrinks down when connections to the gateway drop.

[2020-09-02 20:38] pc-rshetty opened #27006 "Need to specify SameSite (None) as one of the options while using cookie for sticky sessions"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Currently this config can be used to make sticky session work with a cookie

`

ield | Type | Description | Required
-- | -- | -- | --
name | string | Name of the cookie. | Yes
path | string | Path to set for the cookie. | No
ttl | Duration | Lifeti

[2020-09-02 21:04] #26814 closed

[2020-09-02 21:48] #26871 closed

[2020-09-02 22:04] howardjohn opened #27013 "Operator API: make `istiod` an alias for `pilot`"
Anywhere we use `pilot` (ie in components and values) we should have an alias for `istiod` to reduce confusion while not breaking compatibility.

cc @ostromart I have heard this brought up a few times

[2020-09-02 22:36] yan-dblinf commented on #13848
@turbotankist which version of istio are you using? The default idle timeout in Destination Rule is 1 hour after 1.4.

[2020-09-02 22:39] howardjohn opened #27016 "datadog tracing default address is wrong"
Install with ` --set values.global.proxy.tracer=datadog`
[code]
This seems wrong.. I think we were supposed to resolve `$(HOST_IP)` before passing it to envoy?

[2020-09-02 23:16] c4m4 commented on #1430
Any update on this?

[2020-09-02 23:24] chris530 opened #27018 "Headless services will break connections."
If I create a headless service in kubernetes with the same port my code is using,  connections will stop working,   even though the kubernets service is completely unrelated to istio.

To reproduce, I spun up an app that simply talks to a postgres database every second.    This app runs with the istio-sidecar pod without issue.

As soon as I create a kubernetes service using that same port,  conne

[2020-09-03 00:03] howardjohn commented on #27006
Seems like Envoy only supports the options we expose: https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=cookie#envoy-v3-api-msg-config-route-v3-routeaction-hashpolicy-cookie

[2020-09-03 00:13] howardjohn commented on #27018
Root cause seems to be this: https://github.com/istio/istio/blob/485a727f70b92e5cdacb62d8035570099b7f1c49/pilot/pkg/networking/core/v1alpha3/listener.go#L902

We check the port is TCP, which excludes unnamed ports

[2020-09-03 01:20] lindeneau-scott commented on #26972
Additional context, It appears that this is also caused, when the certificates that the passthrough client and the certificates that istio have are the same set of certificates.

What appears to be happening is that the browser sees that it has an open channel to the destination for the client to the gateway with a given set of certs and attempts to reuse that channel. (Wildcard SAN certs for exam

[2020-09-03 01:32] yuanyiran opened #27026 "Using isto-inressgateway, the client's real IP cannot be obtained"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Networking
[ ] Security

**Affected features (please put an X in all that apply)

[2020-09-03 02:47] morvencao commented on #26991
This has been fixed in https://github.com/istio/istio/pull/26756 and the fix has been cherrypicked to `release-1.7`.

[2020-09-03 03:01] pantianying opened #27028 "Question: Are there any sidecar configuration optimizations"
Currently,istio distributes all the services in the cluster to Sidecar, which will cause a huge waste of sidecar resources. Of course, we can assign CR: Sidecar to deliver some service envoy to the designated envoy. However, in a complex and large clustered environment, it is difficult to determine which services are dependent on. Infrastructure teams are often unaware of the complex dependencies

[2020-09-03 03:10] morvencao commented on #26598
Although Gateway SDS was enabled by default from 1.6.0, File mounted gateway should continue to be available to help users to transition to secure gateway SDS.

[2020-09-03 03:22] morvencao commented on #26522
We recommend to use the k8s overlay API to set the affinity, nodeselector and tolerations..., see: https://github.com/istio/istio/tree/master/operator#new-api-customization

[2020-09-03 03:30] chris530 commented on #27018
Thanks @howardjohn !

[2020-09-03 03:32] howardjohn commented on #27018
No problem, to be a little more clear either name the port on the Service `tcp` or make a service entry. You shouldn't have to do this though, it's a bug, just a workaround until we have the fix

[2020-09-03 03:58] chris530 commented on #27018
Yep,  confirmed it worked

[code]

psql postgres:/...
psql: server closed the connection unexpectedly

Changed to

[code]

postgres://....
psql
WARNING: psql major version 11, server major version 12.
         Some psql features might not work.
SSL connection
Type "help" for help.

Thanks again !

[2020-09-03 03:59] Niksko commented on #26822
Just as a followup to this issue: is the crash-looping of the ingress gateway pod expected behaviour when you have a misconfigured gateway resource? It feels fragile to allow a bad `Gateway` to cause the ingress gateway to crashloop, but perhaps that unavoidable.

I am seeing similar behaviour on 1.6 and 1.7, but only when I have a restrictive PSP applied to the ingress gateway pod. I haven't yet

[2020-09-03 04:23] dinesh4747 opened #27029 "How critical envoy/istio-proxy metrics in service mesh"
This issue is more of a guidance - We are running heavily istio mesh on all our container workloads in production and with envoy being a primary component in routing traffic for application container and sends data to other mesh pods like mixer... etc

If the answer is yes then we need our metrics system to be scaled as equivalent to scraping all the application containers and other mesh pods?

Qu

[2020-09-03 04:31] peter-fe commented on #26522
@morvencao,

It seems @fcervantes2 alreasy tried the k8s overlay way and it does not work

[2020-09-03 04:33] bianpengyuan commented on #27029
To make sure I understand, are you asking about istio standard metrics (e.g. istio_requests_total, etc) generated by istio proxy with telemetry v2, or are you actually talking about envoy native stats?

Your mention of mixer makes me think that you are not using telemetry v2 and actually asking about Envoy native stats.

[2020-09-03 04:34] satishmane opened #27030 "istio proxy logs showing routes envory startup"
**Bug description**

I see headless service routes logged at every 30m. ( --keepaliveMaxServerConnectionAge   - 30m ). As I understand pilot closes connection every 30m and reload configs. But how I do turn off printing these headless routes in proxy log

2020-09-03T05:37:48.056298Z	info	Channel Connectivity change to READY
{"bytes_sent":"276","upstream_cluster":"outbound|9092||*.infra-kafka-headl

[2020-09-03 05:02] #20940 closed

[2020-09-03 05:03] #21862 closed

[2020-09-03 05:05] morvencao commented on #26522
No global option for the k8s overlay yet.

[2020-09-03 05:38] peter-fe commented on #26522
@morvencao,

I understand that moving more and more options from the Helm config to the operator makes sense.
But in that case the component level configuration was moved, but also the global one was removed without any substitute.

Way was that done that way? It would have made more sense to just remove only the parts from the Helm charts that are already available on the operator, so keeping the

[2020-09-03 05:45] dinesh4747 commented on #27029
@bianpengyuan - Yes we are still using mixer and yet to move to telemetry-v2

And yes I was referring to envoy native metrics ? And whether it's really critical to have and in which way it helps

[2020-09-03 05:50] shinynz opened #27031 "Envoy under Istio does not preserve/respect charset= header value"
Isto will change my request GBK character set to UTF-8 by default, resulting in garbled requests

[2020-09-03 06:02] pc-rshetty commented on #27006
@howardjohn  thanks. What are my options. Can i append SameSite=None if i intercept the response . I will try this out.
Any other option ?

[2020-09-03 06:09] Niksko opened #27032 "Istio operator incorrectly reconciles affinity"
**Bug description**

The Istio operator is not declaratively reconciling affinity properly, leading to a situation where the affinity setting for a pod is a mix of past state and current desired state.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Releas

[2020-09-03 06:32] hzxuzhonghu opened #27033 "TestMulticlusterReachability flakes"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/26454/integ-multicluster-k8s-tests_istio/10038

cc @stevenctl @howardjohn maybe interested

[2020-09-03 06:32] Niksko opened #27034 "Gateway configuration can cause ingress gateway to crashloop"
**Bug description**

It's possible to configure a `Gateway` such that the ingress gateway pods it targets crashloop. If the `Gateway` nominates a low numbered port (<1024), and the corresponding port is not declared on the ingress gateway services targeted by that gateway, the ingress gateway pod will crashloop.

**Affected product area (please put an X in all that apply)**

[ ] Docs
[X] Installat

[2020-09-03 07:05] WitoDelnat commented on #26991
Thanks for looking into the problem! Should I close this?

[2020-09-03 07:08] xulingqing commented on #24827
When I tried customize Stackdriver installation, I met the same error. I solve by passing command like
[code]
It seems `configOverride.enable_xxx_log=true` this is the right way for command if your want to pass value to map. Thanks.

[2020-09-03 07:19] pc-rshetty commented on #27006
I have my destination rule set like this

`  trafficPolicy:
    loadBalancer:
      consistentHash:
        httpCookie:
          name: mycookie
          path: /app
          ttl: 0s`

In my response i specifically set this

addHeader("Set-Cookie","mycookie=70b96a6898a89c9b; Path=/app; SameSite=None; HttpOnly");

but this is not taking effect , may be envoy proxy sets it after my application fini

[2020-09-03 07:20] stevenctl commented on #27033
I wonder if the refactoring within https://github.com/istio/istio/pull/25784 could have affected this.

[2020-09-03 07:21] stevenctl commented on #27033
Seems like this failure occurred before that merged.

[2020-09-03 10:15] gertvdijk commented on #26009
@tmshort No, it answers both cases, IIUC. Tickets are encrypted with a key that's currently only local to the Envoy instance the client is talking to. The next instance cannot decrypt the ticket. Istio should manage this pool of encryption keys for all instances of ingress gateways and that's open feature #20347 (as mentioned in previous comment).
Or did I misunderstand something about your commen

[2020-09-03 10:30] nirvanatao opened #27036 "need a parameter of istioctl to specify imagePullSecret"
I need to install istio from a private registry but didn't find a way to specify the image pull secrets

[2020-09-03 12:02] shamsher31 commented on #27013
There are a lot of reported issue due to this confusion eg: https://github.com/istio/istio.io/issues/7469

I worked on a couple of PRs to use `istiod`
https://github.com/istio/istio/pull/25313, https://github.com/istio/istio.io/pull/7481, https://github.com/istio/istio.io/pull/7356, https://github.com/istio/istio.io/pull/7354

[2020-09-03 12:48] tmshort commented on #26009
I was trying to say that session IDs, which are unique to the host that generated them, should not be expected to always work in a round-robin load-balanced environment. Which is what the title is about. While it is possible to to share resumption data (either ID or ticket), istio is not set up for that.
Most TLS implementations will give out a session IDs even if it can't be reused. Turning it of

[2020-09-03 12:51] darjisanket commented on #18169
@JimmyCYJ  @kyessenov @howardjohn @rshriram
We want to use istio in our environment but because of above issue its forcing us to move away, may you please help us if we have any workaround for problem.

[2020-09-03 13:07] EvaldoNeto commented on #1430
UDP +1  for radius service

[2020-09-03 13:10] ericvn opened #27039 "istio/proxy BUILD_IN_CONTAINER make lint - missing jq"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Trying to run `BUILD_IN_CONTAINER=1 make lint` in istio/proxy yields:
[code]

**Affected product area (please put an X in all that apply)**

[ ] Do

[2020-09-03 13:45] linsun commented on #26923
I agree sidecar KEP is the strategic direction but it is not ready in 1.9 (https://github.com/kubernetes/enhancements/issues/753).  Not sure when it would be ready and then it will go through experimental, alpha beta phase so it is likely at least 6 months before Istio could use it.

We are not changing user's experience on how their services work with Istio regardless of we are using sidecar KEP

[2020-09-03 13:55] hniehus opened #27041 "NATS server not working after upgrade from Istio 1.5 to 1.68"
**Bug description**
Not sure if this a bug, or if we missed to configure something.
We have Istio running on AWS EKS. In the Mesh, we had a single node NATS server running (StatefulSet) with side car injected. NATS is exposed to AWS NLB IngressGateway and Clients were able to connect to NATS just fine. After upgrade of Istio to v1.6.8 the connection to the NATS however stopped working. After we ro

[2020-09-03 14:08] henrysfx opened #27042 "Istio 1.6.6 breaks auto mTLS for Pod to Pod (by PodIP) for Pod with ServiceEntry MESH_INTERNAL"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Istio 1.6.6 breaks networking with auto mTLS enabled between pods within mesh (with sidecar) when making requests via pod IP to pod which has a `lo

[2020-09-03 14:32] howardjohn commented on #18169
We don't have any workarounds - wish I could say otherwise.

[2020-09-03 14:36] howardjohn commented on #18169
Well, depending on exact what you are doing, the problem comes from merges. If you replace the entire message you can set things to false. However that puts the burden on you to ensure all the right settings are applied. For HCM, for example, there is a large set of things that are configured

[2020-09-03 14:37] darkstarmv commented on #18169
we need to disable `generate_request_id` generation in envoy

[2020-09-03 14:43] howardjohn commented on #26923
`holdApplicationUntilProxyStarts` has significant downsides and it is *not* transparent. It impacts any users using `kubectl log` or `kubectl exec`, including scripts, applications, and CI tools, by re-ordering the containers. It also relies on Kubernetes implementation details that may change at any time.

I also don't see how per-service config is related to default?

[2020-09-03 14:47] howardjohn commented on #26923
Not to mention, when the pod will not start it just sits there, in `PodInitializing`, with 0 logs exposed - its a horrible debugging experience. We have spent a lot of time on defining what it means to be "beta", including "supportability", and to me this clear does not meet the bar. I love the feature, I think its a great hack, but ultimately users do not expect hacks in stable Istio code - it mu

[2020-09-03 14:55] #23580 closed

[2020-09-03 15:03] alexchihaia-oro commented on #17158
Hello. From which version does Istio support the new EndpointSlice resource?

[2020-09-03 15:04] chihaiaalex commented on #17158
Hello. From which version does Istio support the new EndpointSlice resource?

[2020-09-03 15:24] linsun commented on #26923
per-service config is not related default, I was mentioning it as a fall back plan.

I think you are focusing on the perspective of debugging when sidecar is not starting up properly and its impact to `kubectl log` or `kubectl exec` etc commands?  The other perspective is users today spends a lot of time to trouble why their service stops working when sidecar is injected, which is also hard to tro

[2020-09-03 15:27] tmshort commented on #21961
Um, by definition a v1alpha1 API is not stable. When will it become a v1betaX API?

[2020-09-03 15:34] xulingqing commented on #26656
hi Faizan,

I tested [this page](https://istio.io/latest/docs/tasks/security/authorization/authz-ingress/#ip-based-allow-list-and-deny-list) with GKE and didn't see problem. Are you sure the IP in your allow-list is still `52.24.252.78` when you make request?

Could you try add $CLIENT_IP in allow-list and also try it with deny-list? Let's see if that works as expected.
[code]

Thanks.

kubectl ve

[2020-09-03 15:41] howardjohn commented on #27003
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27043/unit-tests_istio/20105 @hzxuzhonghu your PR did not fix it

[2020-09-03 15:43] howardjohn commented on #27026
Duplicate of https://github.com/istio/istio/issues/21527

Also see https://istio.io/news/support/announcing-1.2-eol/, we cannot support this version

[2020-09-03 15:43] #27026 closed

[2020-09-03 15:43] bianpengyuan commented on #27029
Envoy stats is mostly useful to track and debug low level Envoy issue, such as connectivity, or connection lifecycle issue etc, and by default only a small subset of Envoy stats is exposed due to performance overhead from Envoy stats system, and you will need add annotation now to expose more stats: https://istio.io/latest/docs/ops/configuration/telemetry/envoy-stats/.

So most of time it won't be

[2020-09-03 15:44] howardjohn commented on #27028
The only mechanism we offer for this is Sidecar CR. We do not have lazy loading yet. Tracked in https://github.com/istio/istio/issues/19681

[2020-09-03 15:45] howardjohn commented on #27030
Disable access logs if you do not want them: https://istio.io/latest/docs/tasks/observability/logs/access-log/

[2020-09-03 15:47] satishmane commented on #27030
@howardjohn
Yes, finally did that. thanks

[2020-09-03 15:47] #27030 closed

[2020-09-03 16:32] pc-rshetty commented on #27006
this doesnt work since the envoy proxy sets the cookie and application has no way to modify or know about it .

@howardjohn is there a way to intercept and add some processing logic after envoy proxy or is there a way istio can add a logic to override envoy ?

[2020-09-03 16:32] xulingqing commented on #26656
I tried install istio with `istioctl operator` with your yaml and use `istioctl version 1.6.7`.  All functions in `IP-based allow list and deny list` works well. Could you try use $CLIENT_IP and ack me if it works. If not, I can work on verify that guide on AWS. Thanks!

[2020-09-03 16:58] pc-rshetty commented on #27006
I have added a feature request in envoy https://github.com/envoyproxy/envoy/issues/12970

[2020-09-03 17:14] stevenctl commented on #26293
Reopening this - the solution is only in our tests and not in any code/docs.

[2020-09-03 17:20] bianpengyuan commented on #26815
@jurgenweber Sorry I cannot reproduce. I guess there might be some installation option that is missing in your set up. Here is my set up to enable mixer:
[code]

Can you provide your installation option? and also can you check if telemetry endpoint and cluster is properly configured in envoy?
[code]

[2020-09-03 17:28] bianpengyuan commented on #26815
@krubot-sky Feels like you are talking about a different issue. With the option that you set, stackdriver metrics will be reported directly from proxy to stackdriver and there is no mixer in the middle. When you apply v2 stackdriver configuration, did you delete your original Mixer Stackdriver config? Duplicated report would make Stackdriver rejects time series writing.

[2020-09-03 17:38] howardjohn commented on #27042
I think if you define the ServiceAccount field on the ServiceEntry it will work - otherwise we don't know what to use for mtls.

Maybe we could derive it from the address but not sure we can reliably do that

cc @hzxuzhonghu @incfly

[2020-09-03 17:43] nirvanagit commented on #13422
We've tried with AUTO_PASSTHROUGH and that doesn't work @philrud

[2020-09-03 17:44] howardjohn commented on #27036
You can set `values.global.imagePullSecrets`

[2020-09-03 17:50] incfly commented on #27042
Are you suggesting we use the service account field as an indication that we should enable client side mTLS? (which is needed for abitrary manual service entry anyway I agree).

[2020-09-03 17:53] howardjohn commented on #27042
We are doing this https://github.com/istio/istio/blob/22d9a05c0f85a9da74e17211d50087a7dc713dc5/pilot/pkg/serviceregistry/serviceentry/conversion.go#L329

[2020-09-03 17:59] howardjohn opened #27045 "Bad merge key for istioctl 1.7"
Run

[code]

File:"
[code]

I installed 1.6.8 with that file, then tried to isntall 1.7 with the same.

cc @ostromart

[2020-09-03 18:02] howardjohn commented on #27045
Actually seems to happen on fresh install

[2020-09-03 18:03] howardjohn commented on #27045
[code]

is enough to reproduce, it seems to expect the name when it previously did not

[2020-09-03 18:10] incfly commented on #27042
@hzxuzhonghu Also i remembered your change is only for headeless service. but in the PR, we use the `ORIGINAL_DST` typed cluster to infer that's headless service.

1. When headless pod is used, we have one outbound cluster for all pods, with ORIGIN_DST cluster. We disable the mTLS client config since the `matches` config can't work in a none EDS typed cluste.r
1. In this customer case, the service

[2020-09-03 18:19] omerfsen commented on #19321
I use istio 1.6.8 and I see exact same log and after I see that log My service starts to not to work. I get

[code]
error. After 30 min (EXACTLY) I get same warning and it suddenly starts to work again.

 I have opened a case for that at https://github.com/SeldonIO/seldon-core/issues/2347

Exat lines are

[code]

[2020-09-03 18:19] omerfsen commented on #19321
Also may be related with https://github.com/istio/istio/issues/17139

[2020-09-03 18:23] smawson commented on #26990
Nate can you take a look at this?

[2020-09-03 18:29] omerfsen commented on #17139
Also saw

[code]

[2020-09-03 18:46] howardjohn commented on #27041
I can reproduce. The issue is the headless service doesn't end up in EDS.

[code]

confirmed fixes this problem.

@hzxuzhonghu I remember fixing this already.. any idea what happened?

[2020-09-03 18:58] istio-testing opened #27046 "[release-1.6] Add quotes in log sampling config and add it in the stackdriver test"
Manual cherrypick required.

#27007 failed to apply on top of branch "release-1.6":
[code]

[2020-09-03 18:58] istio-testing opened #27047 "[release-1.7] Add quotes in log sampling config and add it in the stackdriver test"
Manual cherrypick required.

#27007 failed to apply on top of branch "release-1.7":
[code]

[2020-09-03 19:06] AlexandreRoba commented on #24461
Hi sorry for the late reply. I did left side car injection turnoff. I finaly got some time today to start investigating again this "issue". Unfortunately I still have it on the latest version and on two different cluster :( I will keep the side car injection disabled untill this is resolved. It has been like this for several months :(

[2020-09-03 19:12] esnible commented on #27036
I don't think this information is in our docs.

@ostromart should there be a documentation item to add this?
@ostromart it would be great if `istioctl profile dump -o flags | grep -i secrets` would show this option.  I wonder if there is a way to make that happen?

[2020-09-03 19:14] esnible commented on #27034
Is this something that could be validated on the IOP before installing/updating Istio?

[2020-09-03 19:14] esnible commented on #27031
@shinynz Can you provide instructions so that I can reproduce this?

[2020-09-03 19:46] yan-dblinf commented on #26019
@mandarjog I encountered the exact same case when upgrading istio from 1.5 to 1.6. Moreover, we have multiple ingress gateways running in namespaces other than istio-system, which is also rolling-updated to use `docker.io/istio/proxyv2:1.6.8` at once during the canary upgrade; however, the xds-grpc server it's connecting to is still the old istiod service.

The main incompatibility of canary upgra

[2020-09-03 19:53] siluo opened #27048 "Cannot Configure a TLS ingress gateway with a file mount-based approach"
I tried to follow the task on https://istio.io/v1.5/docs/tasks/traffic-management/ingress/secure-ingress-mount/#configure-a-tls-ingress-gateway-with-a-file-mount-based-approach to configure a TLS ingress gateway.

I modified the httpbin service sample YAML file by applying it to specific namespace digital-services, the Gateway httpbin-gateway YAML file by applying it to the namespace istio-system

[2020-09-03 20:08] neumanndaniel commented on #27045
@howardjohn Was running into the same issue. Adding the `name` solves the issue.

[code]

[2020-09-03 20:10] nrjpoddar commented on #25185
@Stono if the client doesn't finish HTTP response header then the metadata exchange won't succeed which might be the issue here.

[2020-09-03 20:11] Stono commented on #25185
Yes that is the issue, and the fix is not relying on response data for meta info!

[2020-09-03 20:32] canthefason commented on #26388
I've spent the whole day yesterday on understanding WASM, and making an Envoy filter work on Istio version 1.6. I ended up with running into the exact same issue with you. Someone with more knowledge around this can fill me in, but my basic findings around this problem are as follows:
- To support Istio 1.7, [proxy-wasm-cpp-sdk](https://github.com/proxy-wasm/proxy-wasm-cpp-sdk) switched to a more

[2020-09-03 20:39] omerfsen commented on #22482
It maybe related with https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/#automatic-protocol-selection

so either on your Service definiton use port.name like http-XXX or https-yyyy  or if you can't do that disable pilot outbound sniffing..

[code]
on your IstioOperator yaml file (or set it via istioctl --set values.pilot.enableProtocolSniffingForOutbound=false ..

[2020-09-03 22:02] istio-testing opened #27050 "[release-1.7] Implementation for 'Audit' action in Authorization Policy"
Manual cherrypick required.

#26439 failed to apply on top of branch "release-1.7":
[code]

[2020-09-03 22:35] #27050 closed

[2020-09-03 22:48] nmittler commented on #26990
I think I may have replicated the issue with Istio 1.7 on GKE. It's been a bit slow-going since I had to remember how all of this works :). Still digging into it.

We're moving away from this method (.global) of configuring multi-primary. There are a lot of reasons for this (general complexity, odd load balancing behavior, loss of locality LB, etc.).  The new [installation instructions for 1.8](ht

[2020-09-03 23:27] kyessenov opened #27054 "envoy segfault on exit"
After finishing 100 minute build of istio/proxy master:
[code]

[2020-09-03 23:59] howardjohn commented on #27048
Odd.. Are you sure the file existed prior to the error message `Invalid path: /etc/istio/ingressgateway-certs/tls.crt`? Seems likely yes but just checking. It could also be a permissioning issue perhaps?

is this istio 1.5?

[2020-09-03 23:59] MarkDeckert opened #27055 "istioctl/istiooperator - repair-cni container ignores imagePullPolicy"
**Bug description**

 In order to set the imagePullPolicy to IfNotPresent on the istio-cni-node daemonset you can set `spec.components.cni.k8s.imagePullPolicy` to `IfNotPresent` using `istioctl manifest apply`.  This works for the install-cni container in the pod, but the repair-cni container in the same pod still has `Always`.  It's not clear in the documentation how to do this or whether it's po

[2020-09-04 00:44] howardjohn commented on #26861
I see, thanks, I can reproduce this now

[2020-09-04 01:04] howardjohn commented on #26861
Here is what is happening. When both the Services point to the same pod, we get into a conflict, because Istio needs to setup inbound configuration and we have two different services. When this happens, conflict resolution picks the oldest service first. In our case, either canary was created first or it was created at exact same time at which point we resolve by alphabetical - canary comes before

[2020-09-04 01:05] howardjohn commented on #26861
A diff from before and after patch of config dump:
[code]

[2020-09-04 01:14] howardjohn commented on #27004
Add DISABLE peer authn to get it also

[code]

TODO reproduce in upstream envoy, file a bug - I think its a bug in their code

[2020-09-04 01:18] howardjohn opened #27057 "istio_authn needlessly added"
With all mtls and request auth disabled, the following is in the config:
[code]

I am not sure why we need this. Seems like a waste for pilot/envoy to send this since it does nothing? Code is https://github.com/istio/istio/blob/22d9a05c0f85a9da74e17211d50087a7dc713dc5/pilot/pkg/security/authn/v1beta1/policy_applier.go#L90

cc @yangminzhu

[2020-09-04 01:22] howardjohn commented on #26861
Failures are from `unknown cluster 'inbound|9080|http|reviews-canary.default.svc.cluster.local'`.
[code]

[2020-09-04 02:02] howardjohn commented on #18169
@darkstarmv perhaps you want to entirely disable tracing? https://github.com/istio/istio/blob/c62cd455fa9019f033ab2d1edad15201e39794e0/pilot/pkg/networking/core/v1alpha3/listener.go#L1938 I think that may cover it

[2020-09-04 02:07] hzxuzhonghu commented on #27003
I will take a look, but i did run 100 times without failure

[2020-09-04 02:45] ramaraochavali commented on #18169
GenerateRequestId by default is true in Envoy so that may not help

[2020-09-04 02:47] hzxuzhonghu commented on #27042
Same curiosity from me. The pod ip can change when rolling update/restart

[2020-09-04 02:53] hzxuzhonghu commented on #27042
This is feasibe

[2020-09-04 02:54] morvencao commented on #26991
I'll close this, feel free to reopen if you still have problem.

[2020-09-04 02:55] hzxuzhonghu commented on #27042
A workaround is: declare mtls with a destinationrule

[2020-09-04 02:55] #26991 closed

[2020-09-04 03:30] hendrikhalkow commented on #26328
Still no success here. I created the certificates [as written in the documentation](https://istio.io/latest/docs/setup/install/multicluster/gateways/) like this:

[code]

The ingresssgateway pod yields the following error message:

[code]

There is [exactly one place in the Istio code](https://github.com/istio/istio/blob/1.7.0/security/pkg/nodeagent/secretfetcher/secretfetcher.go#L243) where this

[2020-09-04 03:34] istio-testing opened #27060 "[release-1.7] Add arg in istioctl manifest generate for specific components"
Manual cherrypick required.

#27023 failed to apply on top of branch "release-1.7":
[code]

[2020-09-04 03:38] henrysfx commented on #27042
@incfly @hzxuzhonghu Yes, your assumption is correct.  Unfortunately, we don't currently use k8s services and do discovery ourselves and we wanted to take advantage of mTLS now until we can eventually move to k8s services with native mTLS service support in istio.  So basically, we are watching pod events and creating a service entry per pod to allow this to workaround that fact.  How terrible of

[2020-09-04 03:42] howardjohn commented on #27042
Service Entry has a service account field. Workload entry is a subset of service entry

[2020-09-04 03:43] howardjohn commented on #27042
also you should be able to do the dest rule, out the hostname not the ip like test-server-6f5bc8bd5c-l7xbt

[2020-09-04 03:53] brianwolfe opened #27061 "README for integration tests is confusing"
**Bug description**

It is my first time writing integration tests and I had a hard time getting things set up correctly. In particular, the instructions [here](https://github.com/istio/istio/blob/master/tests/integration/README.md) didn't work for me. I had the following issues trying to run integration tests for mac using `go test ./test/integration/...` and similar commands.

I didn't spent a t

[2020-09-04 04:25] faizanbashir commented on #26656
Hi Xulingqing,

I have done the setup using `istioctl operator` as I have mentioned previously and the version is `1.6.7`, its not working for me.

[2020-09-04 04:25] satishmane commented on #26791
Managed to resolve

[2020-09-04 04:25] #26791 closed

[2020-09-04 05:02] #21204 closed

[2020-09-04 05:06] #23858 closed

[2020-09-04 05:15] johnzheng1975 commented on #26990
Here is script, easy for your reproduce this issue:
[code]

[2020-09-04 05:35] siluo commented on #27048
@howardjohn Thanks for your reply. I double checked it and verified that both tls.crt and tls.key were existed before creating the gateway and virtual service for httpbin and executing the curl command. And because our system is using istio 1.5.8 so i have been using the documentation of 1.5.

When you say it could be a permission issue, is there anyway i can verify that?

[2020-09-04 06:10] t0il3ts0ap opened #27062 "Istio upgrade from 1.5.10 to 1.6.8 doesnt cleanup resources"
**Bug description**
I upgraded istio from 1.5.10 to 1.6.8 on our staging cluster. According to the docs, it should delete sidecar_injector, citadel, galley deployment as they operate from istiod binary now. But the upgrade process gets stuck waiting on  versions of aforementioned. In the end, I had to delete them manually not sure how safe would that be in production.
[code]

**Affected product ar

[2020-09-04 09:33] jbrook opened #27063 "Installation fails - incorrect check for whether istio-system namespace already exists"
Encountered with Istio 1.6.8.

Scenario:

1. OPA gatekeeper admission controller requires certain labels on every namespace.
2. Manually create istio-system namespace and add required labels.
3. Run `istioctl install`.
4. [createNamespace](https://github.com/istio/istio/blob/f23bb221697effd3506bc8f46e8ffa5e125504f4/operator/cmd/mesh/shared.go#L253) function returns an error because instead of bein

[2020-09-04 09:38] lanceliuu commented on #25685
Here are some test results with tuning for `PILOT_DEBOUNCE_AFTER` parameter. I tested using `PILOT_DEBOUNCE_MAX = 10s`
1.  PILOT_DEBOUNCE_AFTER = 1s
the 1st round I tested with a total of 800 ksvcs, the result is as following. The result is a lot better compares to the default value 100ms. There are no sudden jumps around ~200 indices. But I noticed the ready time increases to ~50s at the end of t

[2020-09-04 09:42] AjithPanneerselvam opened #27064 "Help: Is it possible to inject faults in Redis with Envoy Redis Proxy?"
I see that Envoy Redis Proxy allows us to inject faults in Redis - https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/network_filters/redis_proxy_filter#fault-injection

But, is the same enabled in Istio? I couldn't find any information for inducing faults with Envoy filters in Istio docs - https://istio.io/latest/docs/reference/config/networking/envoy-filter/ So, please educate m

[2020-09-04 09:49] tanjunchen opened #27065 "Uninstalling and clearing the Istio cluster does not seem to delete resources such as crd、clusterrole、clusterrolebinding"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

[code]

[code]

[code]

**Affected product area (please put an X in all that apply)**

[x] Docs
[x] Installation
[ ] Networking
[ ] Performance and

[2020-09-04 10:48] pantianying opened #27066 "help: trouble with the multi-namespace call"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

I encountered difficulties when using istio. My requirement was to schedule traffic of multiple namespace, which would make the application insensitive. Such as the app in the namespace-A do a request like:http://service-1:8080/url, I want to make

[2020-09-04 11:20] petermollerud opened #27067 "Istio 1.7.0 - unable to connect to external domains on https"
**Bug description**
After upgrading to Istio 1.7.0, we are unable to connect to external domains on https from our pods. Works from sidecars. We are running with outboundTrafficPolicy.mode set to "registry only", and have defined serviceentries for each external domain we are connecting to. Pods are running in namespaces with automatic sidecar injection enabled.

An example is www.google.com. Serv

[2020-09-04 13:29] hbeffge opened #27070 "buildGatewayListeners: Have zero listeners"
**Bug description**
HTTPS configurations creates listener, TLS configuration end in error:

[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that ap

[2020-09-04 13:45] hbeffge commented on #27070
https://github.com/istio/istio/issues/24500 helped, but only if I use curl with `--http1.1`. Otherwise I get `curl: (16) Error in the HTTP2 framing layer`.

Nevertheless, is this an expected behavior or should the validator catch this?

[2020-09-04 14:17] howardjohn commented on #27048
Maybe check the file permission with `ls -l`? I am not sure why it would not be able to read it.

Since 1.5 is out of support https://istio.io/latest/news/support/announcing-1.5-eol/ and we do not recommend using file mounted certificates anymore it's hard to debug this more though

[2020-09-04 14:35] linsun commented on #25685
I agree PILOT_DEBOUNCE_AFTER = 10s is too long, e.g. at least 10s for first service to be alive/pingable.  I would think 1s or 2s is a more reasonable number.

@lanceliuu Does the above result contain the endpoint fix from @hzxuzhonghu?

[2020-09-04 15:29] howardjohn commented on #26861
@lambdai we send the cluster before the listener. Is it just applying the new FC before it applies the new cluster that comes in or something leading to this issue?

[2020-09-04 16:19] vngzs commented on #20260
Confirmed I experience this in 1.5.8. Very difficult to repro, but I've seen it bring down a running cluster.

[2020-09-04 16:22] sdake commented on #25685
@lanceliuu good analysis. What is your total scale objective with Knative?

Cheers,
-steve

[2020-09-04 16:29] howardjohn commented on #25685
by the way - current the debounce is static, so you get the issue of fixed 10s on new config. However, I doubt there is a real world scenario where you apply a 1400 kservices in a row with a 1s delay. In reality, users apply maybe a couple at once, then have periods of inactivity. Envoy only is overloaded when we flood it with a bunch of new ones at once. We can easily add dynamic backoff such tha

[2020-09-04 17:41] bianpengyuan commented on #27029
@dinesh4747 I think the question has been answered here. Let me know if you have further questions. Also please consider visiting https://discuss.istio.io for questions on using Istio in the future. Thanks!

[2020-09-04 17:41] #27029 closed

[2020-09-04 17:51] IbraheemAlSaady commented on #26961
@morvencao is there any configuration/documentation for using Istio 1.7.x with Prometheus Operator?

[2020-09-04 18:03] #27060 closed

[2020-09-04 18:08] hniehus commented on #27041
Hi John,

Thanks for looking into this issue. Any ETA for the fix?

Thanks,
Harald

[2020-09-04 18:48] ericvn opened #27076 "dump_kubnernetes.sh has error dumping secrets"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

dump_kubnernetes.sh has error dumping secrets
[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ]

[2020-09-04 18:52] ericvn commented on #27076
This seems to be related to:
[code]

[2020-09-04 19:10] howardjohn commented on #27063
@adiprerepa interested in picking this up?

[2020-09-04 19:27] lukesiler opened #27078 "unable to upgrade websocket connection when HTTP 1.1 upgraded to HTTP2"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

Destination Rule upgrades HTTP 1.1 traffic to HTTP2 via trafficPolicy.connectionPool.http.h2UpgradePolicy setting but there seems to be no way to s

[2020-09-04 19:27] upodroid commented on #26961
All you need to do is enable the Operator to generate the Istio Service Monitors. Have a look at values I have for the IstioOperator in the main issue body.

I think the API spec of Istio Operator could be simplified so that a top level field with the name of `createServiceMonitors` that can toggle the creation of Istio Service Monitors.

[2020-09-04 19:39] adiprerepa commented on #27063
@howardjohn sure

[2020-09-04 19:39] adiprerepa commented on #27063
yay github projects!

[2020-09-04 19:50] istio-testing opened #27079 "[release-1.7] Fix istiod logs (no istio-proxy container)"
Manual cherrypick required.

#27075 failed to apply on top of branch "release-1.7":
[code]

[2020-09-04 20:00] hasakura12 opened #27080 "Ingress Gateway returns 404 and STOP letting in external traffic and doesn't route to Virtual Services"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

- The same gateway, virtualservice configurations used to work but suddenly stop working.
- Routes not seen in `proxy-config` despite correct Gatew

[2020-09-04 20:34] vngzs opened #27083 "Bad config randomly pushed to proxies - conflicts, external service has no endpoints"
**Bug description**

Without any changes on our side (that I can detect), `istiod` will take a working app in this configuration and (seemingly) randomly propagate incorrect configs to Envoy.

It starts with this, which happens a few times from `istiod`:
[code]
Followed by:
[code]
After all those push notifications, we get get this:

[code]

Then, in the app, 1s later it has errors hitting `extern

[2020-09-04 20:53] ltdeoliveira commented on #26632
I'm currently in the same boat, validating upgrade from 1.4.X and stumbled on that problem. The only documentation covering that is this [very unuseful blog post](https://istio.io/latest/blog/2020/proxy-cert/), which points to a giant manual proxy configuration.

Integrating with existing Prometheus seems to be such a common use case, how are we supposed to do it right?

[2020-09-04 23:04] howardjohn commented on #25685
A few comments on this.

The testing here is e2e knative tests. While this is useful for knative its not great for our own testing, since it requires a massive cluster, takes a super long time to test, and we cannot isolate delays that are from knative and delays that are from Istio. To replicate this in Istio terms, I wrote a tool to do essentially the same test, but with pure Istio: https://gith

[2020-09-05 00:43] esnible commented on #26764
Reopening this issue because I found an undocumented solution reading the _kubectl_ source at https://github.com/kubernetes/kubectl/blob/master/pkg/polymorphichelpers/logsforobject.go#L39 has provided a solution.

To see this working,

[code]

@howardjohn Does it seem reasonable to have Istio injection set kubectl.kubernetes.io/default-logs-container if
- it doesn't already exist
- the original po

[2020-09-05 01:29] hzxuzhonghu commented on #26293
What do you mean by this?

[2020-09-05 01:43] hzxuzhonghu commented on #27041
#26636 This is the fix, not sure if it is related. @howardjohn @hniehus Can you paste the xds configration of ingress gateway?

[2020-09-05 01:45] howardjohn commented on #27041
there are no endpoints for the cluster in the gateway pod

On Fri, Sep 4, 2020, 6:43 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-09-05 01:51] hzxuzhonghu commented on #27041
We donot need endpoints for headless svc cluster, it is original dest?

[2020-09-05 01:58] Niksko commented on #27034
Not really, given that we're configuring `Gateway` resources after installation.

[2020-09-05 02:05] hzxuzhonghu commented on #27041
Is this also related to mtls?

[2020-09-05 02:20] linxuyalun commented on #26847
@allandhir Thanks for your reply, I finally figure it out.

The main problem is my virtual service, in my virtual service

[2020-09-05 02:21] hklohar commented on #22319
I have encountered similar issue with 1.18.1 and istio 1.5.4
But issues was related to configuration of calico CNI
Calico CNI with IP_AUTODETECTION_METHOD set to "interface=ens3" resolve the issue

[2020-09-05 02:39] howardjohn commented on #27041
Irs a gateway, it's not original dst

On Fri, Sep 4, 2020, 7:05 PM Zhonghu Xu <notifications@github.com> wrote:

[2020-09-05 02:42] howardjohn commented on #27041
we will send eds to the gateway

On Fri, Sep 4, 2020, 7:39 PM John Howard <howardjohn@google.com> wrote:

[2020-09-05 03:17] morvencao commented on #26961
@IbraheemAlSaady see: https://istio.io/latest/blog/2020/addon-rework/

[2020-09-05 05:06] zufardhiyaulhaq commented on #26990
@nmittler the use cases may be different. I have the same setup as @johnzheng1975. Currently, in my cases, we don't want to load balance the traffic to another cluster (because separate of concern). We only want to automate mTLS communication between multiple clusters.

[2020-09-05 05:07] #24026 closed

[2020-09-05 07:41] nataraj24 commented on #24461
this external service issue persists from 1.5.2 on wards till latest version 1.7.0

[2020-09-05 09:02] AlexandreRoba commented on #24461
@nataraj24 I confirm this is still the case on 1.7... It is even wroste. Now I cannot connect at all to my DB as Service. Previously I would simply kill the pod and then after restarting the pod was connecting... Now I get the error all the time :(

[2020-09-05 11:58] GovardhanDo commented on #26413
I ran into this exact same issue. I'm deploying 2nd istio-ingressgateway on the cluster and it was working before and not sure of what caused to run into this error.

I have deleted istio components and re-installed then tried to run the 2nd-istio-ingressgateway, still the same.

Here are my logs from istiod container.
Authenticator ClientCertAuthenticator at index 0 got error: no verified chain i

[2020-09-05 13:16] caitong93 opened #27087 "pilot cert rotation documentation outdated"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

When envoy hot restart, its memory usage doubles. If memory usage of istio-proxy > 50% memory limit, hot restart causes OOM. Even worse, certificat

[2020-09-05 14:26] howardjohn commented on #27087
We don't hot restart since istio 1.5

[2020-09-05 15:29] caitong93 commented on #27087
Didn't find that in release notes https://istio.io/latest/news/releases/1.5.x/announcing-1.5/change-notes/

And the lastest doc seems need to be updated https://istio.io/latest/docs/ops/configuration/security/root-transition/ , it still says "Note that the Envoy instances will be hot restarted to reload the new root certificates"

[2020-09-05 15:31] howardjohn commented on #27087
Thanks, we will need to update the doc

[2020-09-05 16:18] rajsenthil commented on #21964
An update, I am now using 1.7 version and it works as expected without any workaround.

[2020-09-05 16:25] caitong93 commented on #27087
found hot restart to reload certs logic was removed in [this pr](d0541bc68daab406e7e353b527bf4086a9ccf274)

[2020-09-05 21:28] jcodybaker opened #27091 "Pilot status reporter spawns unbounded number of goroutines for updates; eventually causing OOM"
**Bug description**

When status updates ( PILOT_ENABLE_STATUS=true ) are enabled, creating a relatively small number (ex. 100) of virtualservices can lead to runaway memory usage (10+GB) and OOMs. This appears to be caused by an unbounded backlog of goroutines for reporting the status.

[code]

Example goroutine waiting for per-resource lock. 87382 of these in the example above.
[code]

Example g

[2020-09-06 05:02] #20989 closed

[2020-09-06 05:02] #27066 closed

[2020-09-06 05:06] #24057 closed

[2020-09-06 05:10] pantianying opened #27092 "VirtualService can remove the traffic from the non-existent endpoint destination"
**Describe the feature request**

i have this virualservice:
[code]

when details in namespace A has no endpoint, I think all traffic should go to another destination （details.B.svc.cluster.local）instead of 50% of requests reporting 503 errors.（Current situation）

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release

[2020-09-06 06:52] omeryounus commented on #7622
unable to recognize "https://raw.githubusercontent.com/istio/istio/release-1.2/samples/bookinfo/networking/bookinfo-gateway.yaml": no matches for kind "VirtualService" in version "networking.istio.io/v1alpha3"

[2020-09-06 06:52] omeryounus commented on #7622
Also this one does the same...

ubuntu@ip-172-26-12-49:~/istio-1.7.0$ kubectl apply -f samples/bookinfo/networking/bookinfo-gateway.yaml
unable to recognize "samples/bookinfo/networking/bookinfo-gateway.yaml": no matches for kind "Gateway" in version "networking.istio.io/v1alpha3"
unable to recognize "samples/bookinfo/networking/bookinfo-gateway.yaml": no matches for kind "VirtualService" in versi

[2020-09-06 08:03] stevenctl commented on #26293
Making EDS respect requested network view is one part, but we don't document it or give sample deployments that use it for multi-network.

[2020-09-06 09:34] ryan4yin commented on #24750
In order to save resources, we are using istio ingressgateway without sidecar in out development cluster for a while, it works well.

without sidecar, istio just act as a ingress gateway, no service mesh here.

we only enable istio-injection in our production environment.

[2020-09-06 09:39] satishmane opened #27093 "istio 1.6.8 - redis master / slave connection reconnect when peerauth is changed from permissive or strict or vice versa"
**Bug description**

redis ha cluster forms successfully and my applications are able to connect in both permissive and mtls mode.

But why does Redis master / slave connection drops and reconnects when peerauthentications is changed from permissive or strict or vice versa and autoMtls is true always.

I observed same behavior for zookeeper too

**Affected product area (please put an X in all that

[2020-09-06 09:48] hacktron95 commented on #26953
hey @howardjohn I see this as a release blocker now, and I believe this will take me a lot of time to understand and try to replicate it and solve it. so I'll un-assign myself this time, sorry for that.

[2020-09-06 10:28] jmp0xf commented on #24387
+1, We are seeing exactly the same issue as @courcelm described, on Istio 1.5.6.

[2020-09-06 13:03] tanjunchen commented on #27065
i get it. Thanks .

[2020-09-06 14:28] howardjohn commented on #26953
The release is not until like November so it's a very high priority but not
urgent really. If you are still interested it would be great - let us know

On Sun, Sep 6, 2020, 2:48 AM Osama Nabil <notifications@github.com> wrote:

[2020-09-06 15:31] ZhuangYuZY commented on #25685
@howardjohn @sdake @linsun
Our test case is creation 1 knative service ( trigger 2 VS, 3 kube svc created) per 5 sec, total 1000 kn service is our target. And our target is no salability issue for knative service creation, ingress lb time < 15 s. Now we have to config to 10s to meet the target, but impact is the first kn service also need ~10s to get ready, which is bad ux.

And I do not think it

[2020-09-06 15:46] hacktron95 commented on #26953
/assign
thanks for letting me know about that.

[2020-09-06 15:49] hacktron95 commented on #26953
/assign

[2020-09-06 16:28] satishmane opened #27094 "istio 1.6.8 - redis master / slave disconnect frequently with istio mtls due to connection refused or reset by peer"
**Bug description**

redis ha cluster forms successfully in istio mtls mode, but master slave keep losing connection frequently and re-establishing them.
Istio proxy logs envoy not ready from time to time

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[X ] Security
[ ] Test and Re

[2020-09-06 16:45] howardjohn commented on #25685
This is simply not possible. Please define an upper bound for scale, no system can scale infinity...

Regarding the "10s delay" see my previous comment?

[2020-09-06 16:59] howardjohn commented on #25685
Specifically if your goal is to get ingress ready within 15s we should be able to scale up to 10k virtual services. If you need scalability beyond that we will need to implement delta xds which will be a ~6 month effort. Given every other knative Ingress implementation is based on Envoy afaik, I suspect this is the same for all other implementation as well.

[2020-09-06 17:29] mandarjog commented on #25685
@ZhuangYuZY knative usage pattern is different than Other service mesh. One single proxy being updated in response to continuous churn in the whole deployment means that delta is the only real solution here.

If 6 months is too long  for knative, then I suggest knative operators (google, Ibm, others...) put effort directly into addressing the problem in Istio.

It is being implemented in other pla

[2020-09-06 17:31] FrimIdan commented on #22025
@howardjohn @rlenglet asking again because no answer was made. If the user choose to use first party token why fsGroup is injected? This can be a good solution for customers with keys that are volume mounted.. Currently no solution is available.

[2020-09-06 21:06] dmarkey commented on #27016
I've found that `apm.datadoghq.com/env: '{ "DD_ENV": "dave" }'` on a deployment does not work, could it be related?

[2020-09-07 00:53] jeacott1 opened #27095 "shutdown containers on idle. restart on request."
Hi all,
 I'm new to istio, and haven't seen any feature or discussion around this notion, but I think it falls well within istio's potential responsibilities.

I'd like to be able to configure an idle time for container/service/workload instances, such that much like google app engine, unused resources/containers/services/workloads can be shutdown automatically to a min-instances setting, and and

[2020-09-07 01:26] #27095 closed

[2020-09-07 01:56] ZhuangYuZY commented on #25685
You can check last diagram in https://github.com/istio/istio/issues/25685#issuecomment-687040288, with debouce 10 seconds, ingress ready time is > 15s in 829th kn service creation (create 1 kn service with 5s internal, 1 kn service trigger 2 VS), so when there are 829*2 VS, the ingress ready time is > 15s. Which below your target < 10k virtual service, do you have any suggestion on that?
We do not

[2020-09-07 02:04] howardjohn commented on #25685
I am not sure why the focus here is in the denounce change (which we already established is not viable) and delta xds (which is months off) and not the backpressure solution I presented in https://github.com/istio/istio/issues/25685#issuecomment-687453380 which has been shown to meet the scalability concerns goals of

Btw, I would recommend getting more granual testing if possible. For example, th

[2020-09-07 02:05] howardjohn commented on #25685
also if you are happy with kourier's performance than you should not *need* delta xds. Fundamentally istio and kourier do pretty much the same thing so we can match their performance without delta xds (which they don't implement either)

[2020-09-07 02:13] hzxuzhonghu commented on #27091
@therealmitchconnors

[2020-09-07 02:15] samwhitford commented on #23075
@agilgur5 we recently hit the same error.
It turned out we had an old PDB present from an earlier version of Istio still deployed.
Fix was to simply remove the PDB with the older Istio version reference.

[2020-09-07 02:24] hzxuzhonghu commented on #27067
cc @howardjohn

[2020-09-07 02:33] howardjohn commented on #27067
Can you paste a config dump? https://github.com/istio/istio/wiki/Troubleshooting-Istio

[2020-09-07 04:08] #27003 closed

[2020-09-07 04:09] morvencao commented on #27065
The CRDs are supposed to kept in that cluster, but the clusterrole and clusterrolebinding are supposed to be removed from the cluster.

[2020-09-07 04:23] ramaraochavali commented on #27092
It does not work like that - Istio tries to route to both weights and if second weighted cluster is not applicable/does not exist, please update the Virtual service and adjust weights.

[2020-09-07 05:16] #26847 closed

[2020-09-07 05:54] cameronbraid opened #27097 "istiod 1.6.2 doesn't retry fetching jwks_uri"
I self host keycloak in my kube cluster, and am now securing a service using RequestAuthentication

The issue occurs when the following happens on a cluster startup

* istiod starts up

* istiod errors - since keycloak hasn't yet started (this is expected)

[code]

* the sidecar for my secured service pod fails to start up as expected

[code]

* keycloak starts up

Deleting my secured service pod

[2020-09-07 06:21] hzxuzhonghu commented on #26293
Thanks,  this is necessary.

[2020-09-07 06:22] shinynz commented on #27031
![微信图片_20200907142128 png](https://user-images.githubusercontent.com/15795798/92354746-76534f80-f115-11ea-8608-f6a6c4d26b8f.png)
@esnible

[2020-09-07 06:25] shinynz commented on #27031
I used GBK character to request through isto, and it became UTF-8 character

[2020-09-07 07:29] hzxuzhonghu commented on #27093
#24319

[2020-09-07 07:42] shamsher31 opened #27098 "Failed to pull image "docker.io/istio/operator:1.8-dev" for master build."
**Bug description**

[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[X] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Affected features (please put an X in all that apply)**

[ ] Multi Cluster
[ ] Virtual Machine
[ ] Multi Control Plane

[2020-09-07 07:49] shubhamitc commented on #26990
I have the same requirement as @zufardhiyaulhaq

[2020-09-07 08:21] morvencao commented on #27032
Current behavior is merge rather than override on manifest update, the reason is that override doesn't correctly handle immutable fields in the Kube API such as `clusterIP` for service.

In oder to handle immutable field in the Kube API requires server-side apply, which is only support >1.16.

[2020-09-07 08:23] #27041 closed

[2020-09-07 08:23] istio-testing opened #27099 "[release-1.6] Fix eds: gateways missing endpoint instances of headless service"
Manual cherrypick required.

#27096 failed to apply on top of branch "release-1.6":
[code]

[2020-09-07 08:23] istio-testing opened #27100 "[release-1.7] Fix eds: gateways missing endpoint instances of headless service"
Manual cherrypick required.

#27096 failed to apply on top of branch "release-1.7":
[code]

[2020-09-07 08:36] #21048 closed

[2020-09-07 09:05] peter-fe opened #27103 "VM mesh-expansion does not work with versioned (revision) Istiod"
**Bug description**

Virtual machine mesh expansion is not possible on a versioned Istio installation e.g.: 1-6-8
The same setup works flawlessly when Istio is not installed using revisions.

[code]

**Affected product area (please put an X in all that apply)**

[ ] Docs
[x ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Extensions and Telemetry
[ ] Security
[ ] Test and Release

[2020-09-07 09:27] XuejiaoZhang opened #27104 "[release-1.7.0]Envoy (istio-proxy) on the Service B pod doesn't create a new span and use the received span from Service A as parent span id."
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[X] Extensi

[2020-09-07 09:33] Niksko commented on #27032
Hmmm, that's a pretty big issue for us. Given that information, I'd be inclined to ditch the Istio operator entirely and just apply the manifests manually.

Are there any workarounds for this? If not, this should be documented. Happy to pitch in to write docs, I'll submit a PR.

[2020-09-07 10:06] satishmane commented on #27094
@hzxuzhonghu

I could fix by doing below by adding tcpKeepAlive  in destination rule explicitly. So after adding tcpkeepAlive = 7200s, redis master <-> slaves tcp connection does not break for approx 2 hours.

apiVersion: networking.istio.io/v1alpha3
--
  | kind: DestinationRule
  | metadata:
  | name: redis-ha-dest-rule
  | namespace: infra
  | spec:
  | host: infra-redis-ha.infra.svc.cluster.loc

[2020-09-07 10:29] IbraheemAlSaady commented on #26961
@morvencao thanks for sharing this. I only found the mention of Prometheus but not Prometheus Operator. I have created some ServiceMonitor objects myself, but not all metrics were there. I reused ServiceMonitor objects from the 1.6.8 manifest, but still, I wouldn't rely on that. I have though tried prometheus install, it worked out of the box actually. But I'd like to see a Prometheus Operator con

[2020-09-07 10:37] shamsher31 opened #27106 "Inconsistent styling for istioctl example command reference"
The `example` section of all the --help flag has an inconsistent styling

[code]

[code]

[code]

**The output should look like what we have for `proxy-config` commands.**

[code]

[2020-09-07 11:04] morvencao commented on #27032
A workaround should be deleting the old iop instance and then create new iop instance.

[2020-09-07 11:25] Niksko commented on #27032
As in, deleting the instance of the `IstioOperator` resource? Or the operator pod? The former doesn't really help if I'm trying to maintain uptime.

[2020-09-07 12:00] michaelkoro opened #27109 "Istio-Config in kiali is empty"
**Bug description**
While using kiali, when trying to list all istio configs in the cluster, a pop-up message reads - "Could not fetch Istio objects list: Gateway Time-out", and the "istio config" tab is empty.
kiali logs -
`2020-09-07T11:50:49.854355040Z W0907 11:50:49.852819       1 istio_validations.go:620] GetClusterRbacConfigs validation failed due to insufficient permissions (probably Kiali

[2020-09-07 12:31] b4456609 commented on #26741
Same issue here

[2020-09-07 13:17] sdake commented on #25685
John,

Re the backpressure solution, I had (assumed poorly) that this was part of
your benchmark tool and not something that could be integrated into Istio.
Can you publish a PR and we can go from there? The backpressure results
look great to me, and delta-xds is 6-9 months out at a minimum. This
backpressure PR would benefit all use cases of Istio as well, not just
knative (I suspect).

Cheers,
-

[2020-09-07 14:10] dntosas commented on #27109
Kiali installation via `istioctl` is deprecated in `1.7` and is meant to be completely removed in `1.8` --> https://istio.io/latest/blog/2020/addon-rework/#timeline

We got same problem and decided to move Kiali deployment to separate process. We can take some ideas from here also  --> https://kiali.io/documentation/latest/installation-guide/#_installation

[2020-09-07 15:07] nirvanatao commented on #27036
after looking into the chart and I found that "values.global.imagePullSecrets" can set imagePullSecret

[2020-09-07 15:35] agilgur5 commented on #23075
@samwhitford that would confirm this is a separate issue from #12602 and should be reopened. I have a PR out for that issue with #25873 but it does not resolve the issue here of multiple PDBs. That sounds like a separate issue with `istioctl upgrade`

[2020-09-07 16:23] AEGQ opened #27111 "istio-proxy OOM with increased memory in 1.6.7"
**Bug description**
![image](https://user-images.githubusercontent.com/16302289/92404381-01f4cc80-f166-11ea-9f71-485d42d6ceaa.png)
![image](https://user-images.githubusercontent.com/16302289/92580886-89a31e00-f2c1-11ea-9f57-962810b993ff.png)
![image](https://user-images.githubusercontent.com/16302289/92581095-cbcc5f80-f2c1-11ea-8bec-3896f7fb0cdb.png)

**Affected product area (please put an X in al

[2020-09-07 17:41] rlenglet commented on #22025
@FrimIdan as you already know, this is a known bug in upstream Kubernetes. This can't be fixed until kubernetes/kubernetes#57923 is fixed.

[2020-09-07 17:44] FrimIdan commented on #22025
@rlenglet thanks for the answer.
I don't want/can fix it, I do want that Istio injector will not set the fsGroup to 1337 if Istio is running in first part jwt mode.
This way we can tell customers to set jwt policy to first party and problem solved, currently no WA is available.

[2020-09-07 18:05] FrimIdan commented on #22025
We need the fsGroup change only for third party jwt so why changing it when running first party jwt?

[2020-09-07 18:57] howardjohn commented on #27111
How many clusters does the proxy have? you can see with `istioctl pc cluster`. Also maybe take a look at the istiod logs and see how many cds pushes we send to this proxy

[2020-09-07 18:59] howardjohn commented on #27109
Despite it being deprecated it should ideally work until it's removed so would be good to get this fixed

[2020-09-07 19:00] howardjohn commented on #27103
Looks like it's trying to connect to `istiod` service - if using  revision the service name will be different and you'll need to modify the config to point to this service

[2020-09-07 19:01] howardjohn commented on #27098
It's working as intended the image is not found, the issue is that the manifests generate it. Should be gcr.io/istio-testing

[2020-09-07 19:22] howardjohn commented on #27080
pretty sure this is fixed by https://github.com/istio/istio/commit/22a3816ee10047fd8fe7699f1af6ee0bfc66dea2.

You can wait for 1.6.9, upgrade to 1.7, or switch the `gateways` field to staging/example-gateway

[2020-09-07 19:59] jhmadhav commented on #12187
I have similar use case, I need to access API through pod, My workaround for pods that require API access:

[2020-09-07 20:43] jmazzitelli commented on #27109
Sounds like the internal installation mechanism used by istioctl 1.7 is not creating the proper clusterrole.

Make sure istioctl creates [a clusterrole that looks like this](https://github.com/kiali/helm-charts/blob/master/kiali-server/templates/role.yaml
), see specifically [this](https://github.com/kiali/helm-charts/blob/v1.23.0/kiali-server/templates/role.yaml#L50-L63).

[2020-09-07 20:49] jmazzitelli commented on #27109
And, yes, it looks like istioctl internal helm chart for kiali is missing that permission. See:

https://github.com/istio/istio/blob/1.7.0/manifests/charts/istio-telemetry/kiali/templates/clusterrole.yaml

Specifically, it is missing apiGroup `rbac.istio.io` [here in the `kiali` clusterrole](https://github.com/istio/istio/blob/1.7.0/manifests/charts/istio-telemetry/kiali/templates/clusterrole.yaml

[2020-09-07 21:27] sdake commented on #27098
@howardjohn - may be working as intended, although I think we can do a little better. This solution may not be the ideal solution (doesn't handle overrides of hub/tag) - although at least the version generated is valid for devleopment.

Thoughts welcome: https://github.com/istio/istio/pull/27112

[2020-09-07 21:28] sdake commented on #27098
@shamsher31 for the moment, may I recommend overriding hub with --set hub=gcr.io/istio-testing as part of your command line to istioctl.

Cheers
-steve

[2020-09-08 00:10] hasakura12 commented on #27080
What exactly you think is the root cause to which your commit link you think would fix this?

- this behavior of gw not being able to get route config no matter if I did rollout of deployment or deleting istio-system namespace and reinstalling istio, or deleting and re deploying the app
- this weird state happened after reinstalling istio without upgrade but accidently using "install" which create

[2020-09-08 00:13] howardjohn commented on #27080
the format of the gateway name reference doesn't work in 1.6.8. I am fairly confident that is at least part of the problem. In your previous comment you mentioned a bunch of things such as mesh connectivity which I am not sure about since the original comment was just about the gateway

[2020-09-08 00:53] irisdingbj opened #27113 "fails to dryrun under multi-cluster"
[code]

[2020-09-08 01:10] tanjunchen commented on #26759
@morvencao
Thanks
/close

[2020-09-08 01:10] #26759 closed

[2020-09-08 01:15] hasakura12 commented on #27080
So I did remember I also upgraded istio to 1.6.8 from 1.6.5 or something.

Between these versions, `namespace/gateway.svc.cluster.local` stop working? Is that what you think is the cause and the fix in the commit?

And should `gateway.svc.cluster.local` work if yamal specifies namespace as staging in my case, even if with 1.6.8? I read the doc that explicit way is to prepend `staging/`, but if not

[2020-09-08 01:18] howardjohn commented on #27080
Change

[code]
to
[code]

The former syntax is the undocumented legacy format which was accidentally broken in 1.6.8. The latter is the recommended syntax. The legacy syntax will work in pretty much any version except 1.6.7/1.6.8, included the future 1.6.9.

[2020-09-08 01:22] howardjohn opened #27114 "Ensure any EDSCacheUpdate have a corresponding push call"
We need to ensure any EDSCacheUpdate have a corresponding push call *with the correct ConfigKey for the endpoint set*, or the EDS cache invalidation will not work.

[2020-09-08 01:29] hasakura12 commented on #27080
Ok sounds like a promising fix to this issue, I'll give it a try when back at home.

This was extremely difficult to debug. Was this git repo the only place I was supposed to be able to get help from, aside from istio discussion forum? I didn't find any tech support or whatnot from the website.

[2020-09-08 01:31] #26958 closed

[2020-09-08 02:06] AEGQ commented on #27111
**istioctl pc cluster**
![image](https://user-images.githubusercontent.com/16302289/92425437-d4397300-f1b9-11ea-8eb8-820d55a0de68.png)

**istiod logs**
![image](https://user-images.githubusercontent.com/16302289/92425809-e23bc380-f1ba-11ea-9ba9-0c7816452f32.png)

@howardjohn  :)

[2020-09-08 02:06] howardjohn commented on #27098
@sdake I mean that fact that `docker.io/istio/operator:1.8-dev` doesn't exist is intended - we don't publish dev images to dockerhub. The fact the generated output is wrong is not

[2020-09-08 02:10] howardjohn commented on #26764
@esnible that is pretty neat find! I think it makes sense. However, it will still be broken on `kubectl exec`... seems like they should have included that. Maybe we can file a kubernetes issue for it. I would recommend they make `kubectl.kubernetes.io/default-container` apply to logs/exec/anything else. But for now just logs is useful

[2020-09-08 02:13] howardjohn commented on #26413
@GovardhanDo can you post the pod spec for the gateway? it should have a field like
[code]

It sounds like its somehow getting the wrong audience set?

Also can you check if you have 1p or 3p jwt enabled? see https://preliminary.istio.io/latest/docs/ops/best-practices/security/#configure-third-party-service-account-tokens

[2020-09-08 02:15] howardjohn commented on #27111
Ok so its very small. Looks like a lot of memory spent in the cluster.Validate and/or config dump code though which is odd...

@ramaraochavali @lambdai will be able to help better than I can

[2020-09-08 02:18] morvencao commented on #27032
@Niksko Correct, I mean deleting the old instance of the IstioOperator resource and then create new on. This is the only way I can figure out now.

[2020-09-08 02:26] morvencao commented on #26961
@IbraheemAlSaady For prometheus operator, make sure you install prometheus operator from https://github.com/coreos/prometheus-operator and then run `kubectl apply -f samples/addons/extras/prometheus-operator.yaml -n istio-system` to create **ServiceMonitors** to monitor the Istio control plane and Envoy proxies.

[2020-09-08 02:36] howardjohn commented on #27098
This logic is flawed and not consistent with the core `istioctl install`: https://github.com/istio/istio/blob/ef210541da07ba28f782578686481afb6803086e/operator/cmd/mesh/operator-dump.go#L30

[2020-09-08 02:56] howardjohn commented on #27113
I am confused, isn't the central istiod running with the full permission for the config cluster? I don't see how it would work otherwise, it would be missing tons of permission. The validation webhook is only in the config cluster?

[2020-09-08 03:23] XuejiaoZhang commented on #27104
Problem solved. Need to do manual protocol selection, grpc here, following the doc here https://istio.io/latest/docs/ops/configuration/traffic-management/protocol-selection/

[2020-09-08 03:23] #27104 closed

[2020-09-08 03:35] hzxuzhonghu commented on #27114
Can you describe more about the issue now?

[2020-09-08 03:42] howardjohn commented on #27114
Cache invalidation and ProxyNeedsPush are based on the Push Requests. So we need to make sure that we create PushRequests even if we do only a cache update. I don't know if it's a bug, just something we should validate

[2020-09-08 03:44] hzxuzhonghu opened #27116 "Update k8s ServiceShards when push instead of in endpoint event handler"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

We can make the endpoints shards update for all registries in `DiscoveryServer.Push`, by this we can save much time especially when endpoints update frequently.

Previously, update endpoints shard in the endpoint handler is to prevent all update, b

[2020-09-08 03:48] hzxuzhonghu opened #27117 "Reduce calling InstancesByPort"
`InstancesByPort` is called many times during one push, and in many places:

- GetServiceAccounts
- ClusterBuilder.buildLocalityLbEndpoints
- buildSidecarOutboundListeners
- BuildNameTable
- UpdateServiceShards

I am thinking if we can call only once, and cache the result.

[2020-09-08 03:49] irisdingbj commented on #27113
The architecture is like this:  one external control plane cluster with its KUBECONFIG point to the config cluster,   and  more than 1 remote cluster who gets config from the config cluster.

This is used in remote cluster as we need create remote secret in the config cluster. So `istio-reader-service-accout`

[2020-09-08 03:51] howardjohn commented on #27113
why is there a validating webhook in the remote cluster? It doesn't have any configs.

[2020-09-08 03:58] irisdingbj commented on #27113
in remote cluster, we will have two webhook configurations and they will be used for workloads running within the cluster.

[2020-09-08 04:01] howardjohn commented on #27113
Why though? The validation webhook will validate configuration. We don't have config, so why would we have the webhook to validate the config? We don't even install the CRDs?

[2020-09-08 04:16] peter-fe commented on #27103
@howardjohn, I assumed that too and tried to set the Pilot env. var as well as the ca_address in the cluster.env.
Then you an see the istiod-1-6-8.istio-system.svc set as discoveryAddress, but the handshake still targets istiod.istio-system.svc and fails.
Is this hard coded somewhere, or how can I override this?

[2020-09-08 04:21] johnzheng1975 commented on #26990
@nmittler , how about your test results for istio1.6? And, can you elaborate more details why this issue raise. Thanks a lot.

[2020-09-08 04:23] irisdingbj commented on #27113
make sense. we do not need crds and validating webhook configurations in remote cluster.  Now both of them are part of `base` components.  should we spilt them from base into a separate component eg `config`?  And any others should be spilt from `base`?

 currently, we are instaling l base + istiodRemote in remote cluster and config cluster.  so we really need a way to split the unneeded resources

[2020-09-08 04:28] howardjohn commented on #27113
I think you can turn off the CRDs and webhook. What do we need from base
anyways? just the service and endpoints?

On Mon, Sep 7, 2020, 9:24 PM Iris <notifications@github.com> wrote:

[2020-09-08 05:02] #21053 closed

[2020-09-08 05:02] #21064 closed

[2020-09-08 05:07] #24075 closed

[2020-09-08 05:20] shamsher31 commented on #27098
Thanks @sdake. This worked.

[code]

I will update the following to reflect your suggestion.

[code]

[2020-09-08 06:40] qijianbo010 opened #27169 "connection reset executing"
Service requests without sidecar injection during service grid access will cause connection reset for services injected with sidecar. Istio version is 1.4.6. Is this normal? What needs to be done. (is it OK after all sidecar is injected)

[2020-09-08 07:06] #23073 closed

[2020-09-08 07:06] #25533 closed

[2020-09-08 07:21] winterTTr commented on #24318
After soo many experiment and retry today, i finally figure out a really hacky workaroud, i believe this definitely a bug some where, but hopefully this work around can help someone temporarily:

For istio 1.7, I found istio even remove the "values.global.proxy.accessLogFormat", so only below seems to work now:

[code]

This will generate a log from your application sidecar and ingress gateway as:

[2020-09-08 07:29] hzxuzhonghu opened #27122 "Unify FakeXdsUpdater"
There are many implementations of `XDSUpdater` interface across tests. It should be unified and maintain only one fake implement.

[2020-09-08 07:47] shamsher31 commented on #27065
If you installed using `istioctl operator init`.

[code]
If you installed using `istioctl install`
[code]

Using `operator remove` left `clusterrole` and `clusterrolebindings`. I have added a fix https://github.com/istio/istio/pull/27123 to remove that.
[code]

Whereas if you use `uninstall --purge`. It removes everything from the cluster.

[code]

[2020-09-08 07:51] jdomag commented on #24318
@winterTTr
Not a fix and looks super ugly in the config, but works! :) thanks, that's much better than patching configmap manually

[2020-09-08 07:58] irisdingbj commented on #27113
I think we need sa, role , clusterrole , bindings for `istio-reader`, services, endpoints.  It is easy to exclude others via existing flags.  For crds what is the better and easy way to exclude them?

[2020-09-08 08:05] winterTTr commented on #24318
Yes, this definitely should be fixed from istio side :-\

[2020-09-08 09:34] dntosas commented on #27109
preparing a PR for this ^^

[2020-09-08 09:47] #27065 closed

[2020-09-08 10:21] tanjunchen commented on #27065
@shamsher31   Thank you . I get it.

[2020-09-08 11:13] iandyh commented on #25898
@hzxuzhonghu Hello. While i was writing some docs internally, I try to finish the setup in Istio 1.7.0 but notice some issues. Just for double check, could you confirm this is the correct configuration:

[code]

[code]

In Istio 1.7.0, I don't see the endpoint gets pushed into sidecar. The cluster is there but the endpoint list is empty. (This is actually a different behavoiur with 1.6.8, in 1.6.8

[2020-09-08 12:05] cocotyty opened #27128 "custom ca not working on istio 1.7"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
After generate cacerts secrets, install istio with IstioOperator.
istiod service running well,but all istio proxy sidecar or ingressgateway cannot w

[2020-09-08 13:51] esnible opened #27130 "Improve analyze for duplicate VirtualService matches"
As of PR https://github.com/istio/istio/pull/26788 the analyze reports if a virtual service match clause is an exact duplicate of a previous one (and thus unused by the virtual service.)

This Issue is to improve that logic, to detect and report on matches that can never be reached because a previous match consumed it.  For example, a match on "port 8080 and path /api" will never be reached if an

[2020-09-08 14:26] esnible commented on #27031
I tried this morning using Istio 1.7.0

I deployed httpbin and httpbin-gateway, so that I could see the headers arriving at my service.

From within the mesh the charset was preserved, as verified by `kubectl exec deploy/httpbin -c istio-proxy -- curl -v -H "Content-Type: application/json;charset=GBK" http://httpbin.default:8000/headers`

From outside the mesh the charset was preserved, as verifie

[2020-09-08 15:04] esnible commented on #26764
Adding `area/environments` for it shall need to be done in the injector.

[2020-09-08 16:11] XanderStrike commented on #21494
This remains a valuable feature despite its age.

[2020-09-08 16:13] fpesce commented on #27076
Do we really want to dump secrets anyway? Isn't dump_kubernetes.sh supposed to be sued to share the info in a gihub issue or with people external to user's company.
We might want ot remove the secret dump altogether

[2020-09-08 16:55] ostromart opened #27133 "User documentation for external istiod"
User facing docs on istio.io.

[2020-09-08 16:56] ostromart opened #27134 "Integration testing for external istiod"

[2020-09-08 17:07] stevenctl commented on #26990
@zufardhiyaulhaq @shubhamitc

Creating the `Service` in both the source/destination clusters should allow you to do this with `cluster.local`.

@nmittler
Nothing obvious that I can think of, although I'm not really familiar with the istiocoredns stuff.

[2020-09-08 17:17] #26758 closed

[2020-09-08 17:18] ostromart commented on #26758
Please reopen with requested information if this is still an issue.

[2020-09-08 17:19] ostromart commented on #26230
@richardwxn could you please cross link the fix to this issue? thanks.

[2020-09-08 17:22] ostromart commented on #25329
Should be fixed in https://github.com/istio/istio/pull/26289, need to verify.

[2020-09-08 17:22] tariq1890 opened #27135 "Istioctl x remove-from-mesh should not add the no-inject annotation after uninjecting a deployment"
**Bug description**

We are trying to use Istioctl x add-to-mesh and remove-from-mesh in scenarios where auto-injection is disabled. The current logic in remove-from-mesh does not take that into account. To replicate this issue, do the following

i) `istioctl x add deploy <foo_deploy> `
ii) `istioctl x rm deploy <foo_deploy>`
iii) Not try `istioctl x add deploy <foo_deploy>`  again; it fails as th

[2020-09-08 17:23] ostromart opened #27136 "External istiod beta graduation"
Umbrella tracking issue.

[2020-09-08 17:25] ostromart opened #27137 "Multi-cluster beta graduation"
Umbrella tracker epic.

[2020-09-08 17:27] ostromart commented on #27137
https://docs.google.com/document/d/1eskMB7OUwSvL_keTsQa3BWRmHAmGkWwUWsKCfBLk1V4

[2020-09-08 17:37] ostromart opened #27138 "Simplify dual control plane upgrade"
Outstanding items include:
- managing multiple binary/chart versions during upgrade. Need to at least test for binary version comaptibility. [P0]
- detecting which workloads and gw's are attached to which version on the control plane. [P1]
- ensure the rollover progresses smoothly and as expected (expose state to users). [P1]
- documentation. [P0]
- handling large version jumps. [P0]
- consistency

[2020-09-08 17:41] sdake opened #27139 "Properly maintain the release operator image"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
There is a helm chart for generating operators. There is also a hand-built operator. Remove the hand-built version, and generate from the helm chart

[2020-09-08 17:41] sdake commented on #27139
https://github.com/istio/istio/pull/27112

[2020-09-08 17:42] sdake commented on #27139
https://github.com/istio/istio/pull/22982

[2020-09-08 17:43] ostromart opened #27140 "istio/pkg additions for structured logging"

[2020-09-08 17:43] sdake commented on #27139
https://github.com/istio/istio/pull/27112

[2020-09-08 17:44] ostromart commented on #27140
https://github.com/istio/pkg/pull/192

[2020-09-08 17:44] #27140 closed

[2020-09-08 17:45] ostromart opened #27141 "istio/pkg return structured.Error through error interface"
structured logging/dictionary embeds data (labels, pointer to dictionary entry) which is rendered only when outputting to log. It's currently not possible to neatly return this data when returning an error from a function.

[2020-09-08 17:49] ostromart commented on #27141
First pass at a solution: https://github.com/istio/pkg/pull/215
Needs some more iteration.

[2020-09-08 17:49] ostromart opened #27142 "Logging entry cleanup for operator"

[2020-09-08 17:50] nmittler commented on #26990
It turns out I had an issue with my initial coredns configuration, which I've resolved.  With that fix, this all seems to be working for me on gke with both Istio 1.6 and 1.7.

I've re-worked my test environment so that I only deploy HelloWorld to one cluster, so that it's more similar to the issue here. Here are the scripts I'm using:

- [Install Control Plane](https://gist.github.com/nmittler/69

[2020-09-08 17:51] ostromart commented on #27142
Reconciler: https://github.com/istio/istio/pull/26311

[2020-09-08 17:51] ostromart opened #27143 "Logging cleanup for istiod"

[2020-09-08 17:53] ostromart opened #27144 "Logging cleanup for security"

[2020-09-08 17:54] ostromart opened #27145 "Logging improvements"
Epic for improvements described [here](https://docs.google.com/document/d/1vdYswLQuYnrLA2fDjk6OoZx2flBABa18UjCGTn8gsg8/edit).

[2020-09-08 18:01] ostromart opened #27146 "Support info tool"
Tool for capturing enough information for support to be able to solve most problems without extra roundtrip requesting config and state information. Design doc [here](https://docs.google.com/document/d/1mpg90Ftz1df7jycnCHrA5RZ9Wru1ZYJ707AmFcAHc1E/)

[2020-09-08 18:02] ostromart commented on #27146
https://github.com/istio/istio/pull/26045

[2020-09-08 18:02] ostromart commented on #27146
https://github.com/istio/istio/pull/27025

[2020-09-08 18:02] ostromart commented on #27146
https://github.com/istio/istio/pull/26976

[2020-09-08 18:06] ostromart opened #27147 "Helm v3 installation beta graduation"
Outstanding tasks include documentation and testing.

[2020-09-08 18:07] richardwxn commented on #26230
@ostromart seems like the command was removed since 1.7 so I would need to to create a PR directly to 1.6 for that

[2020-09-08 18:15] jtakamine commented on #26979
This may be related to #23029

[2020-09-08 18:16] tariq1890 commented on #19300
+1 This would be very useful. I can take a crack at this when I find time.

[2020-09-08 18:18] gargnupur commented on #22068
@JaveriaK : Istio 1.4 had ratelimiting support using Mixer. Have you tried if your config works on 1.6/1.7?

[2020-09-08 18:18] ostromart opened #27148 "Gateways upgrade for dual control plane should not happen immediately"
Current default behavior is to immediately upgrade gateways in place which defeats the purpose of canary upgrades. A possible solution is to split GW management from the main installation manifest. This requires documentation and testing.

[2020-09-08 19:34] #27106 closed

[2020-09-08 20:39] howardjohn opened #27149 "TestCrossClusterLoadbalancing test flakes"
https://prow.istio.io/view/gs/istio-prow/pr-logs/pull/istio_istio/27132/integ-multicluster-k8s-tests_istio/10189

cc @stevenctl @tbarrella

[2020-09-08 20:43] stevenctl commented on #27149
Fix in #27150

[2020-09-08 20:45] kyessenov opened #27151 "bug: workloadentry + service stay on incorrect port"
The following config does not appear to work:
[code]

istioctl pc endpoint shows:
[code]

Note that port 80 is used instead of the desired 8090.

cc @howardjohn

[2020-09-08 20:46] kyessenov commented on #27151
This happens if the original config has 80 and then edited to have 8090

[2020-09-08 20:49] esnible commented on #27135
Do we want this?

This works well with the auto-injector.  By adding the annotation, the pods get restarted without a sidecar.

I like the existing behavior.  What is your scenario requiring this to change?

[2020-09-08 21:01] tariq1890 commented on #27135
We want to be able to inject and uninject.

The current flow is a bit awkward tbh. you add and then remove only to find yourself never being able to add again

[2020-09-08 21:51] #27149 closed

[2020-09-08 22:59] howardjohn opened #27153 "NDS: need config_dump equivilent"
Right now its pretty hard to debug since we have no way to see the config. This should at the very least be in the istiod debug endpoint if its challenging to add to the agent

cc @ramaraochavali @rshriram

[2020-09-08 23:07] jerry153fish commented on #25021
hello @yangminzhu for the `X-Forwarded-For` header can you make specifical case for the cidr, so that user can pass in something like `x.x.x.x/17` instead of `x.x./^(12[0-7]|1[01][0-9]|[1-9]?[0-9])$/` ?

[2020-09-08 23:11] sfc-gh-jkhan commented on #22068
@gargnupur I did not test these configs in an istio 1.5+ setup, but I'm inclined to think the GATEWAY filters that other people have had success in using will work there.
For my current setup I wanted to stick to using the envoy ratelimiting service approach instead of mixer for upgrade compatibility.

[2020-09-08 23:13] JaveriaK commented on #22068
@gargnupur I did not test these configs in an istio 1.5+ setup, but I’m inclined to think the GATEWAY filters that other people have had success in using will work there.
For my current setup I wanted to stick to using the envoy ratelimiting service approach instead of mixer for upgrade compatibility.

[2020-09-08 23:27] howardjohn opened #27154 "istio-agent DNS resolving breaks DNS type Kubernetes Services in ServiceEntries"
[code]

Results in endpoints:
[code]

`69.172.201.153` is `external.external.com`. Envoy is not going through the dns capture so it uses upstream resolver which doesn't have k8s services. The same happens if using an FQDN

[2020-09-08 23:48] ahuffman commented on #24037
I'm also hitting this problem.  In the istio-operator deployment the following env var is set to ensure we are watching for policies in the correct (non-default) namespace:

[code]

On my policy I have tried @erdun 's suggestion by making my policy as such:
[code]

I've also tried the following policy per the API documentation found [here](https://istio.io/latest/docs/reference/config/istio.operat

[2020-09-09 00:43] stevenctl opened #27155 "multicluster topology includes external-istiod"
The current effort is to have a separate job for external istiod.

Related PRs:
#27570
#28181

---

We already have a 5 cluster topology to cover combos of multi-network, multi-primary, primary-remote. We should also cover the external istiod model in our coverage as we convert tests (ex #25923)

From my conversation with @irisdingbj:

1. External Istiod (uses cluster 2 for config)
2. Remote/Confi

[2020-09-09 00:45] stevenctl commented on #27155
If we don't do this, we will have to leave the existing multicluster job around to cover centralistiod until we can get that covered for all tests.

[2020-09-09 01:53] ceastman-ibm opened #27157 "Virtual service routes ignored when httpsRedirect: true in port 443 section"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[ ] Extensi

[2020-09-09 02:03] linsun commented on #27157
@ceastman-ibm thanks for discovering/reporting this.  I imagine it can take you a few hours to track this down.

@howardjohn @rshriram is this as designed, users should not be doing httpsredirect... and we should warn user properly on this?  Seems good to fail at validation time except users may already have this (coming from 1.6 to 1.7), which they will need to run analyzer to discover it.

cc @e

[2020-09-09 02:04] howardjohn commented on #27157
I need to look into it a bit more but we can likely either fail in the webhook or add a warning if it's set. If we go with warning we should make the code just ignore it instead of break

[2020-09-09 02:20] cgilmour commented on #27016
@howardjohn where do you see this? Normally the variable gets expanded by kubernetes when the pod launches (after sidecar injection).
It's working as-intended on my latest cluster running 1.7.0 and automatic sidecar injection enabled.

[2020-09-09 02:22] howardjohn commented on #27016
This was on `master` I believe. How does kubernetes expand it?

[2020-09-09 02:26] rowe0x commented on #26980
use istio logratote instead of linux crontab

[2020-09-09 02:27] howardjohn commented on #26980
What is istio logrotate? Logs go to stdout I thought

[2020-09-09 02:32] ahuffman commented on #24037
After some further debugging it seems that it's the pilot component specifically (at least in 1.7.0) that is not receiving any of the namespace updates on manifest generation.  I was attempting to patch with an overlay configuration on the pilot component and apparently not doing it right, however I was seeing all objects update when there was a namespace change with exception to pilot (istio-oper

[2020-09-09 02:35] cgilmour commented on #27016
It's covered in the docs with a [brief mention](https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#use-environment-variables-to-define-arguments) and a bit more detail [here](https://kubernetes.io/docs/tasks/inject-data-application/define-interdependent-environment-variables/#define-an-environment-dependent-variable-for-a-container).

But the bit you pasted

[2020-09-09 02:37] howardjohn commented on #27016
I think the address is (now?) set in the istio configmap instead of the pod spec so it probably isn't expanded. I thought we did this a while ago though so I am surprised it was working in 1.7. Let me look into it

[2020-09-09 03:00] cgilmour commented on #27016
The default value in the configmap would typically be `"$(HOST_IP):8126"` (under `tracer.datadog.address`), with the expansion of `$(HOST_IP)` occurring when the pod launches.

For a bit more explanation, it's because the datadog agent typically runs as a daemonset and listens for tracing traffic on port 8126. A `hostPort` binding is used, so tracing traffic sent to the actual host IP on port 8126

[2020-09-09 03:23] ramaraochavali commented on #27153
Agree. We can start with adding it to Istiod debug endpoint.

[2020-09-09 03:32] rowe0x commented on #26980
We can log target to file like this
[code]

[2020-09-09 03:57] zufardhiyaulhaq commented on #26990
@stevenctl it also will not works in my cases. when we communicate with the cluster.local, it will load balance between traffic in the local cluster and remote cluster right if we have the same service and namespace.

@nmittler can you do this following behaviour?

1. try to communicate with the other cluster service
2. wait for 2-10 minutes
3. try to communicate again with other cluster service

[2020-09-09 04:05] howardjohn commented on #26980
wow, I had no clue we did that. Seems like a bad idea, kubernetes should always log to stdout...

[2020-09-09 04:08] kppullin commented on #24720
I believe to have run into the same leak.  On our most severely affected pod, the heap pprof flamegraph looks more or less identical to the image in the initial report above. Deleting the stats filter as suggested releases the "leaked" memory as shown in this screenshot (it's only over a 5 minute range so you can't see the growth of the leak too well).
![image](https://user-images.githubuserconten

[2020-09-09 04:15] stevenctl commented on #26990
Ah so you want:
[code]

This can be accomplished by setting up MeshConfig service settings ([doc](https://istio.io/latest/docs/reference/config/istio.mesh.v1alpha1/#MeshConfig-ServiceSettings-Settings)) with something like:

[code]

[2020-09-09 04:54] zufardhiyaulhaq commented on #26990
@stevenctl we still want to communicate with b service in another cluster from the local cluster (service a). that is why we cannot go with this solution.

[2020-09-09 05:01] stevenctl commented on #26990
You want to specifically choose when to hit the remote cluster and the local cluster, using `.global`? Just want to make sure I understand correctly.

[2020-09-09 05:02] #21095 closed

[2020-09-09 05:07] taitelman commented on #24932
same thing here but with an internal service (it is not exposed to outside world via ingress).
it is accessed from other services in the namespace.
if I apply mTLS : `upstream connect error or disconnect/reset before headers. reset reason: connection termination`
if I disable mTLS : all is working fine

[2020-09-09 05:11] stevenctl commented on #24581
/not-stale

[2020-09-09 06:05] abhide commented on #19300
@tariq1890 Sure go ahead. I have unassigned myself.

[2020-09-09 06:36] johnzheng1975 commented on #26990
@nmittler , are you testing "sleep 60" and "sleep 2", as below
[code]
Can you tell me the fail rate for "sleep 60", and fail rate of "sleep 2"？
Note that you need at lease run 12 hours, to check issue exists or not on 1.6 and 1.7. Thanks.

[2020-09-09 06:39] iandyh commented on #25110
Yes. I am also experiencing this issue in Istio 1.7.0

[2020-09-09 07:03] krackjack29 opened #27163 "Ingressgateway readiness probes failing with 503. Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?)"
**Bug description**
We have multiple ingress gateways deployed using the istio operator on a GKE cluster with multiple node pools and workload identity enabled (after google's suggestion that it would work on open source version of istio)

Istio Proxies (ingress gateways and egress gateways) unable to connect to istiod, readiness probes keep failing
Envoy proxy is NOT ready: config not received fr

[2020-09-09 07:09] zufardhiyaulhaq commented on #26990
@stevenctl in my use case, we have multiple clusters. I modify `.global` and change that to `.<cluster-name>`. Here is where things get complicated.

cluster A -> cluster B
cluster A -> cluster C
cluster A -> cluster D

both cluster B, C, and D have the same service name and namespace. So from cluster A, I call each service like this:
[code]

and from cluster A, using this feature, we won't load b

[2020-09-09 08:48] #26801 closed

[2020-09-09 08:55] tru-cstavares opened #27164 "ECDHE-ECDSA-AES256-SHA384 cipherSuite not supported"
**Bug description**
Have istio v1.4.10 with following config:

[code]

If we then restart istio-ingressgateways pods (with restart I mean delete pods one-by-one) and then execute a curl towards https://abc.example.com we get the error: _curl: (35) LibreSSL SSL_connect: SSL_ERROR_SYSCALL_. On curl verbosity output I do not see any details about TLS.

After some debug realized that issue was related

[2020-09-09 10:18] shinynz commented on #27031
Oh, my application content-type is `application / XML; charset = GBK`, does isto support the character set of `application / XML`

[2020-09-09 10:40] shinynz commented on #27031
Our microservices need to call the external third-party interface, which uses GBK and XML format post data. In istio 1.7 or 1.6.7 environment, check our log request that there is no garbled code in the whole message < tbrname > JIANG Yunlong < / tbrname >, and at the same time, the content type charset = GBK of the header is forced, but the result returned by the other party is "?" If the operatio

[2020-09-09 10:44] shinynz commented on #27031
![截图录屏_选择区域_20200909184314](https://user-images.githubusercontent.com/15795798/92588976-67fb6400-f2cc-11ea-8362-d77edfa44c8f.png)
![lALPGpb_8FHGxaDNAqLNBmk_1641_674](https://user-images.githubusercontent.com/15795798/92588979-69c52780-f2cc-11ea-8817-fc9a929ba0fd.png)
@esnible

[2020-09-09 10:49] shamsher31 opened #27165 "failed to create "EnvoyFilter/istio-system/stats-filter-1.7": namespaces "istio-system" not found"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

I was trying to reproduce https://github.com/istio/istio/issues/25498 and got the following error.

[code]

**Affected product area (please put an

[2020-09-09 10:59] #27113 closed

[2020-09-09 11:05] shamsher31 commented on #27165
Does this mean first Istio must be installed in `istio-system` namespace before we can install it in other namespaces?

[2020-09-09 11:11] ceastman-ibm commented on #27157
@linsun users should be able to do httsredirect. It just needs to be on port 80.

I had it set on port 443 which was wrong (it just didn't fail in istio < 1.7 ) . Httpsredirect doesn't make sense on port 443 since that is already https so there is no need to redirect to 443.

[2020-09-09 11:34] cocotyty commented on #27128
Finnally I found that truth:

If you use a  a root cert generated by openssl , you should  set "extendedKeyUsage = serverAuth,clientAuth" !

Because connections between envoy <=> istio use mTLS !!!

[2020-09-09 11:34] #27128 closed

[2020-09-09 11:54] marcus-sa commented on #26815
I can't even get Telemetry to work in 1.7.0, with our without Stackdriver.
No matter the configuration `istio-proxy` fails:
[code]

[2020-09-09 11:58] shamsher31 commented on #27165
Probably the issue is somewhere here.
https://github.com/istio/istio/blob/a60de5a2bcb0e796f2f61639c6ecc9b926d2ba84/manifests/charts/istiod-remote/templates/telemetryv2_1.7.yaml#L177-L185

@howardjohn It only check `meshConfig.rootNamespace`. I think it also needs one more condition to handle `--set values.global.istioNamespace`?

Same chart used with only version update. https://github.com/istio/i

[2020-09-09 12:59] petermollerud commented on #27067
[config_dump.json.gz](https://github.com/istio/istio/files/5195278/config_dump.json.gz)

[2020-09-09 13:05] IgorBrehm commented on #23100
I am having the same issue, and if you pay attention to what the sed command is doing, you will notice that nothing is being replaced from the original configmap, because it never had a field called "mode" in it. It seems that the documentation is outdated and trying to follow the docs for 1.7, which are a bit different, does not work either.
I am trying to figure out where I should write the miss

[2020-09-09 13:06] raswinraaj opened #27166 "Unable to create gateways in istio-system in Istio 1.7"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Unable to create gateways in istio-system
**Affected product area (please put an X in all that apply)**

[ ] Docs
[ ] Installation
[X] Networking
[

[2020-09-09 14:35] howardjohn commented on #27067
There is no ServiceEntry present for google.com in that config. are you sure its in the cluster?

[2020-09-09 14:44] howardjohn commented on #27166
You will need to have port 15029 exposed on your Service to access it - all traffic comes in first through the Service. In latter versions we changed our recommendation on exposing addons (https://istio.io/latest/docs/tasks/observability/gateways/) and are no longer opening 15029 by default.

[2020-09-09 14:49] petermollerud commented on #27067
That's strange. I'm sure it's there.

kc get se -n platform google -oyaml
[code]

[2020-09-09 14:54] hasakura12 commented on #27080
Upgraded to v1.7.0 and worked.

By the way, are connections between gateway and backend pods secured by HTTPS by default? In other words, does default permissive mutual TLS in mesh include 1) connections among pods only, or also 2) connections between gateway and pod?

I came across an article with this diagram. Is this (#1, only connections among pods are HTTPS) the default state?
<img width="565

[2020-09-09 14:55] howardjohn commented on #27163
Can you provide logs from the pilot and gateway pods? it should show why its not ready. The full logs, not just the 1 line snippet. Thanks!

[2020-09-09 15:01] howardjohn commented on #27067
Do you have a https://istio.io/docs/reference/config/networking/sidecar/ that is causing it to not be imported? I assume no since it looks to be in the same namespace. I would recommend checking `localhost:8080/debug/registryz` and `localhost:8080/debug/configz` on the istiod pod to see if it shows up there

[2020-09-09 15:03] howardjohn commented on #27080
mTLS is automatically used by default: https://istio.io/latest/docs/concepts/security/#authentication-architecture. This includes gateway <-> pods running a sidecar. It does not include requests sent to pods without a sidecar since they do not understand istio mtls

[2020-09-09 15:03] bond007007 opened #27168 "Istio sidecar is not working for multi-master setup"
Hello all,
I need help!
K8s version : 1.18.8
Docker : 19.03.9
Calico : 3.16.0
Istio: 1.7

I have created a multi-master and multi-worker node k8s cluster with cidr : 194.168.0.0/16 . Istio is getting installed but sidecar injection is failing, with error like internal error occurred: failed calling webhook "sidecar-injector.istio.io" : Post https://istiod.inject?timeout=30s: context deadline excee

[2020-09-09 15:04] howardjohn commented on #27168
Please follow https://github.com/istio/istio/wiki/Troubleshooting-Istio#diagnostics and let us know the result

[2020-09-09 15:12] petermollerud commented on #27067
on istiod pod:

localhost:8080/debug/registryz doesn't give me any of my registered serviceentries.
localhost:8080/debug/configz doesn't return anything at all...
[registryz.out.gz](https://github.com/istio/istio/files/5196119/registryz.out.gz)

[2020-09-09 15:14] linsun commented on #27157
@ceastman-ibm Yes, agreed, only didn't make sense if it is already using https.
@howardjohn yep at least warning... i think fail would be good if we can detect it precisely, e.g. when a VS is bounded to such a GW but users can deploy VS first.

[2020-09-09 15:14] howardjohn commented on #27067
`localhost:8080/debug/configz` is empty? That means its not reading any Istio configuration. Do you see other issues like no istio config applying? Do you see any error logs in istiod?

[2020-09-09 15:15] howardjohn commented on #27067
I also see you are missing telemetry config, which would also indicate we are not reading any Istio configuration unless you intentionally disabled it

[2020-09-09 15:19] hasakura12 commented on #27080
Ok, in that case, if TLS termination is configured at let's say AWS ELB using ingress gateway service yaml's annotation, then only HTTP connection would be between AWS ELB and istio gateway?

Client -> HTTPS -> AWS ELB (TLS termination using ACM cert) -> **HTTP?** -> istio gateway -> mTLS -> pod -> mTLS -> pod

[2020-09-09 15:21] howardjohn commented on #27080
Yes, unless you configure ELB to send HTTPs to istio. That is outside of Istio scope and is an AWS concern

[2020-09-09 15:21] petermollerud commented on #27067
Yes, localhost:8080/debug/configz is empty.

Haven't seen any other issues - but could be I haven't looked in the right places...

We have not intentionally disabled telemetry....

[2020-09-09 15:23] hasakura12 commented on #27080
If the above is the case, are there any ways to use AWS ACM cert in istio gateway yaml? Gateway tls config accepts k8s secret, but ACM cert can't be downloaded to store in k8s secret.

[2020-09-09 15:24] howardjohn commented on #27080
No, only k8s secrets or file mounts

On Wed, Sep 9, 2020 at 8:23 AM Hisashi Asakura <notifications@github.com>
wrote:

[2020-09-09 15:30] krackjack29 commented on #27163
Attached are the logs.
[ingress-gateway.log](https://github.com/istio/istio/files/5196234/ingress-gateway.log)
[istiod.log](https://github.com/istio/istio/files/5196237/istiod.log)

Whats interesting is one of the workload test pod that I have enabled is throwing up citadelclient error

error citadelclient Failed to create certificate: rpc error: code = Unavailable desc = connection error: desc =

[2020-09-09 15:40] hasakura12 commented on #6566
How can I enable HTTPS between TLS-Terminated-AWS-ELB and istio gateway?

[2020-09-09 15:42] hasakura12 commented on #27080
Right, so as I asked, how to enable HTTPS between cloud-ELB (be it AWS or GCP) and istio gateway without doing TLS termination at pod and using passthrough for ELB and gateway?

[2020-09-09 15:45] howardjohn commented on #27163
Any chance you can update Istio? There was some related PR that may be the cause: https://github.com/istio/envoy/commit/fd7d4a72b736021a3866cf7065ca4dc7f897b3b7

Preferably to 1.7, but 1.5.10 could work. SEe https://istio.io/latest/news/support/announcing-1.5-eol-final/

[2020-09-09 15:46] howardjohn commented on #27080
I don't know - this is not really an Istio concern. Its an AWS/ELB setup issue, we (or at least I) am not an AWS expert. I would recommend you consult AWS docs or support on how to configure that. From Istio's POV we receive either plaintext or HTTPS and can terminate or passthrough. How the traffic gets to the pod is AWS concern.