[2018-03-12 21:35] ZackButcher commented on #3929
It likely never flakes on a local run (I haven't seen it fail locally) because the k8s API server you're talking to has no load on it, so it responds in a timely manner. I've only seen it fail on Prow, which has a relatively high rate of churn on the k8s API server.

[2018-03-12 21:38] ldemailly opened #4214 "circleci: history of a specific build ?"
Can you document in the excellent [wiki](https://github.com/istio/istio/wiki/Working-with-CircleCI) or elsewhere to your choosing how in the ui do I find the history of a specific build (e.g. e2e-simple or any other really)

In prow it's faily easy and it's very useful to try to find when a given build started to fail etc

So far I navigate to https://circleci.com/gh/istio/istio/tree/master
and th

[2018-03-12 21:45] janevalleye2e opened #4215 "istioctl delete or replace got error"
1. **Error on istioctl delete**
`istioctl delete -f samples/bookinfo/route-rule-all-v1.yaml`
[code]
2. **Error on istioctl replace**
`istioctl replace -f samples/bookinfo/route-rule-reviews-50-v3.yaml`
Error: revision is required

------------------------------------------------

**Workaround**

`istioctl replace -n default -f samples/bookinfo/route-rule-reviews-50-v3.yaml`
[code]

`istioctl delet

[2018-03-12 21:53] costinm commented on #4214
CircleCI has an API, and the build results can be updated.

The test and release team will need to prioritize this work, and find someone to work on it.

[2018-03-12 22:35] ldemailly opened #4217 "permissions on docker images depend on umask of the person doing the build"
when envoy is being copied around the permissions it ends up with in the docker image
depend on the umask of the user, if the umask is restrictive, it doesn't get world executable and then fails to start

we shouldn't rely on personal setting when creating the images; all executables should be 755 (owned by root or sys)

ditto for debian

found by @diemtvu

[2018-03-12 22:37] ldemailly commented on #4217
cc @jwendell

[2018-03-12 22:45] diemtvu commented on #4217
Some more context: This happens when I run e2e_pilot test, from my local (after build docker and updateVersion, then run command like `go test -v -timeout 20m ./tests/e2e/tests/pilot -hub=xxx -tag=yyy`

I've tried to change umask for the envoy binary under ~/go/out/linux_amd64/release, (as well as ~go/out/linux_amd64/release/docker_scratch/proxy, just in case), but it doesn't change anything. Umas

[2018-03-12 22:49] ldemailly commented on #4217
A quick fix for that one issue is to add
RUN chmod 755 /usr/local/bin/envoy
in the Dockerfile for proxy*

There is probably some way to fix it more globally / must be a docker faq

[2018-03-12 22:52] ldemailly commented on #4154
it's the more global issue; that we should never put linux binaries in mac PATH

we just need to build everything that is ran locally (istioctl, tests etc...) without any hack to the env vars

and everything that ends up in a docker image with GOOS=linux

[2018-03-12 22:54] ldemailly commented on #4154
#2594

[2018-03-12 23:02] rlguarino commented on #3398
The workaround that I've been using it so expose Metrics on a debug port
that has MTLS disabled
<https://istio.io/docs/tasks/security/per-service-mtls.html#disable-mutual-tls-authentication-for-httpbin-service>.
We only ever access these ports directly (not through a LB or Service IP)
so disabling mtls wasn't a huge issue. I'm not sure if there's a new way to
do this now. I'd love to know as well.

[2018-03-12 23:23] evandigby commented on #3398
@rlguarino Thank you! My deployment doesn't have a service; however, I created one for the sole purpose of exposing Prometheus with MTLS disabled. That's worked around this for me.

Ultimately our production requirements dictate that this too would be encrypted (our security requirements are substantial) but this will allow me to continue evaluating Istio for our needs.

Thank you!

[2018-03-12 23:24] geeknoid opened #4224 "Discover conflicting attribute output from APAs at config time."
At the moment, if there are multiple APAs which are configured to produce the same attribute, Mixer discover this at runtime in the attribute.Merge function. It should be possible to discover this statically at config time, which would both reduce the per-request runtime burden and would produce a better experience for the operator by getting errors earlier.

[2018-03-12 23:25] guptasu opened #4225 "Only pass setter interface to APA instead of the complete OutputTemplate struct"
@douglas-reid @geeknoid FYI

Currently we are passing APAs the output struct to fill in and they call the Set<FieldName> function on that struct. Accidentally they might just update the fields directly and we won't be able to tract field setting.

Fix might be to make fields private or just pass the Setter interface to the APAs

[2018-03-12 23:59] kidiyoor commented on #2746
I tried 0.6 Istio on k8s with multiple mixers and bookinfo sample. It looks like the issue is resolved in k8s.

However this solution - `https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/prometheus/templates/configmap.yaml` only works for k8s. For non k8s setup we might want to document how to change prometheus.yaml to make it work with multiple mixer.

[2018-03-13 00:17] mandarjog opened #4227 "Mixer should only trace requests if the current request is sampled"
At present Mixer add spans to every request, with effective 100% sampling rate.
Mixer should not sample any requests, It should only add spans for requests that have been sampled by the fronting envoy.

[2018-03-13 00:23] #4194 closed

[2018-03-13 00:38] douglas-reid commented on #2746
@kidiyoor agreed. what do you think the best way is to do that? in HA mixer docs? in a separate doc about metrics?  what makes the most sense to you?

I also want to start a doc on prom replication and grafana session-affinity.

[2018-03-13 00:58] chxchx opened #4230 "go-junit-report breaks in Go1.10"
The go test -v output now includes PAUSE and CONT status update lines to mark when parallel tests pause and continue. The Junit XML parser we have been using https://github.com/jstemmer/go-junit-report does not handle PAUSE and CONT, reporting false positive failure results if test cases pause, switch to another test case, and come back.

For example, https://k8s-gubernator.appspot.com/build/istio

[2018-03-13 01:01] ldemailly commented on #4230
also file an issue with the package we use ?

possibly relevant: https://github.com/jstemmer/go-junit-report/issues/66
(ie switch to json)

[2018-03-13 01:02] ldemailly commented on #4230
ps: please remember to add labels and assignment etc

[2018-03-13 01:03] chxchx commented on #4230
That issue to go-junit-report was filed after I talked to the k8s people.

Yeah, I was still on working on the issue and was just about to add the labels and stuff. Thanks!

[2018-03-13 01:56] ldemailly opened #4233 "Support a fallback for time-related expressions"
@douglas-reid commented on [Mon Sep 18 2017](https://github.com/istio/old_mixer_repo/issues/1320)

We should provide a way for specifying a fallback for time expressions.

Possibilities:
- add a `now()` expressions to the IL and AST.
- add code / preprocess adapter for generating a mixer-specific attribute, like `mixer.report.time` or `mixer.received.time`

There are probably other approaches, as

[2018-03-13 02:05] ldemailly commented on #2746
cute subject :)

[2018-03-13 02:10] ldemailly opened #4234 "shorten reviewers list names - all get truncated to "Reviewers - istio...""
trying to find which list makes me getting some review requests on a given PR

For instance:
https://github.com/istio/istio/pull/1963

![screen shot 2018-03-12 at 7 06 49 pm](https://user-images.githubusercontent.com/3664595/37318601-a6e936ce-2628-11e8-9abc-4f23b27be04d.png)

I can't tell because all I see is "Reviewers - istio..."

[2018-03-13 02:20] kidiyoor commented on #2746
Since there is no a one standard way of doing this outside k8s - **eg.** for consul something like this can be done - [link](https://www.robustperception.io/finding-consul-services-to-monitor-with-prometheus/). I think a separate doc that talk about the problem and 'reference to solution' or 'solution' while running Istio in 'popular platform' or while running in 'bare VM' should be good.

[2018-03-13 05:10] xiaolanz opened #4235 "make racetest mandatory for all presubmits"
All tests must pass racetest to avoid async bugs. To make it happen, we need to:

1. Fixing existing failed racetests
2. Enable disabled racetests
3. Run racetest on every presubmits
4. Check test results and turn on mandatory.

[2018-03-13 05:22] mattdelco commented on #4230
So I wondered before on how go-junit-report handles parallelism, and AFAICT the answer seems to be that it doesn't.  It mostly just searches on the RUN/PASS/FAIL lines, so it just ignores the CONT / PAUSE lines.  The golang commit I saw that added CONT/PAUSE just added additional logging lines and that's all.  So, go-junit-report could start to use CONT/PAUSE to help demux the interleaved log mess

[2018-03-13 05:26] sigma commented on #4230
I think the issue is about more than that:

[code]

It turns out that the first `TestIstioConfig` (the one in `istio.io/istio/pilot/pkg/config/kube/crd`) never reported a status at all, while the second one (in `istio.io/istio/pilot/pkg/config/memory`) did.
No matter how broken the parsing is, that's gonna be an issue.

[2018-03-13 06:29] mattdelco commented on #4154
As for static, afaict go always build statically regardless of the request--I didn't test this on Windows [yet] but I know I tested on Linux and I think at one point I also tried on Mac and saw the same result.  E.g. on Linux:
<pre>
ldd $(make where-is-out)/istioctl
	not a dynamic executable
ldd $(make where-is-out)/istioctl-linux
	not a dynamic executable
</pre>

[2018-03-13 08:46] life1347 commented on #1462
Hey, is this issue solved?

Recently, I try to integrate Istio with fission(A serverless framework on kubernetes).

The bug label was removed, but still can reproduce this problem with Istio 0.6.0 almost everytime.

https://github.com/fission/fission/blob/8a0abc59dbc00bd06a8ff655c852d980675be256/controller/functionApi.go#L119-L141

It's able to work now if we treat the traffic as TCP traffic, but

[2018-03-13 08:54] ldemailly commented on #4154
bin/gobuild.sh is sort of an abomination that should only be used for docker (if at all)

[2018-03-13 09:08] brant4test commented on #1038
hi, team, how's #1038 going? Is this solved? Thanks!

[2018-03-13 09:11] ldemailly commented on #1038
It's still being worked on, it's still expected to come with an envoy and pilot changes for 0.7
(which we will delay by a couple of days to catch the envoy fix)

[2018-03-13 10:27] jacktuck commented on #2857
I will file under envoy, thanks

[2018-03-13 10:27] #2857 closed

[2018-03-13 11:14] dtzar opened #4236 "Support hostname for TCP egress rules"
[Per the documentation](https://istio.io/docs/tasks/traffic-management/egress-tcp.html#using-istio-egress-rules-for-external-tcp-traffic), it is required to specify CIDR IP address blocks to allow containers in the pod to bypass the sidecar for tcp-based egress traffic.  It is common for these requests to be directed at a URL where the IP address of that URL might change.  There is no reasonable a

[2018-03-13 15:15] douglas-reid commented on #4227
@mandarjog https://github.com/istio/istio/blob/master/pkg/tracing/config.go#L75 is a good place to start fixing.

[2018-03-13 15:26] #4178 closed

[2018-03-13 17:25] baodongli commented on #3782
/cc @andraxylia @ZackButcher @costinm Any thoughts?

[2018-03-13 17:31] kyessenov commented on #3782
Richard, the dynamic lookup table from (service FQDN, subset name) to labels is a new requirement for v1alpha3 config. Technically, we could use subset name as the cluster name, but IMHO it's a not a technically sound solution, since Envoy's subset LB can already perform label subsetting. I suggest we stick with custom names for now (out.<service>.<port>.<labels>) until we can switch over to subse

[2018-03-13 17:54] mattdelco commented on #4154
Well, you've probably seen my past efforts to get rid of bash scripts to consolidate into make, and I wouldn't mind getting rid of gobuild.sh but I do encounter resistance from people who are basically more comfortable with bash than they are with make.

[2018-03-13 18:36] nmittler commented on #3099
@mandarjog would you mind taking a look?

[2018-03-13 19:09] yusuoh commented on #4126
We have some util in the main repo that can download release image from github for specified version. I am using that for upgrade test now. We can use the same util and move the version skew tests to main repo.

https://github.com/istio/istio/blob/master/tests/util/commonUtils.go#L287

[2018-03-13 19:16] baodongli commented on #3782
@kyessenov This is Robert (or Baodong). Yes, I think that it makes sense to use the envoy LB subsetting that can simplify pilot a little bit in terms of cluster processing and in the same time get rid of a certain amount of traffic between sidecars and Pilot.

[2018-03-13 19:18] kyessenov commented on #3782
Apologies @baodongli , we've never met in person.

[2018-03-13 19:26] secat commented on #3968
@ldemailly I confirm that on my side the issue persists and that the ingress pod outputs indefinitely:
[code]

[2018-03-13 19:34] Rigdon commented on #1223
Relevant additional use case
https://github.com/istio/issues/issues/236

[2018-03-13 20:05] douglas-reid commented on #3099
That last comment looks like traffic being sent to mixer not using gRPC. What does the filter on the egress look like?

[2018-03-13 20:07] nixgadget commented on #3099
I have no defined any egress rules for this

[2018-03-13 20:10] rshriram opened #4238 "Need to enable fault filter per v1alpha3 specs in LDS"
The existing LDS code implements fault filter per v1alpha1 specs. We need to augment the generated filters to use the right set of match conditions based on upstreams, headers, and order of routes.

refer to https://github.com/istio/api/pull/405 for the semantics.

[2018-03-13 20:11] kyessenov commented on #4238
I disagree that LDS code should be affected by fault filters for HTTP routes.
I think we need to move fault filter config into RDS instead of replicating RDS conditions in LDS.

[2018-03-13 20:16] ldemailly commented on #3968
@secat how did you install 0.6.0 exactly ?

[2018-03-13 20:16] nixgadget commented on #3099
Im not entirely sure if cassandra traffic is gRPC anyway

[2018-03-13 20:17] janevalleye2e commented on #4215
@kidiyoor

[2018-03-13 20:17] rshriram opened #4239 "networking: ignore routes with same HTTP match as a preceding source match"
[code]

The example configuration above has two routes, that have the same HTTP match conditions, with one route having additional source/gateway match conditions. When processing rules like the one above, rules that have source match must override any other rule that has no-source-match+same-http-match conditions.

Something like the following is needed.
[code]

This logic is needed in both RDS a

[2018-03-13 20:20] kyessenov commented on #4239
Is this related to fault filter again?

I don't think there's ambiguity about the route rules ordering. They are always applied explicitly in order (no elses). If the source condition fails, then the rule is skipped for that particular proxy. In this case, the second rule is gong to be sent to `source:foobar`.

[2018-03-13 20:21] kyessenov commented on #4238
I have talked to Louis, and we're ok omitting faults for now. Why can't
this be done with route metadata?

On Tue, Mar 13, 2018 at 1:20 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-03-13 20:22] chxchx commented on #4230
@sigma The `TestIstioConfig` in `istio.io/istio/pilot/pkg/config/kube/crd` did report failure through `t.Panicf()` (See https://github.com/istio/istio/blob/master/pilot/test/mock/config.go#L521). Still, as @mattdelco pointed out, the parser misattributes `TestControllerClientSync` as failure, and the reason is unclear. The immediate mitigation would be to disable the parallel execution through `-p

[2018-03-13 20:22] chxchx commented on #4230
/cc @mandarjog

[2018-03-13 20:22] kyessenov commented on #4239
The general motive is: 1) we do what Envoy does; 2) explicit config is better than magic

[2018-03-13 20:27] kidiyoor commented on #4215
Looks similar to - https://github.com/istio/istio/issues/3545
Which was closed 26 days ago. We can except this to be fixed in next Istio release.

[2018-03-13 20:34] baodongli commented on #3782
@kyessenov No Problem.

[2018-03-13 20:42] rshriram commented on #4239
Its not just fault. what happens if the source matches? will you generate two routes for that source? If the top one has CORS enabled, while the bottom one has CORS disabled, will you generate two conflicting routes for the same source envoy (foobar) ? This will be applicable to multiple filters in future.

[2018-03-13 20:46] kyessenov commented on #4239
Yes, we will dumbly generate two routes with different actions. It is a user error to supply such config. We can provide warnings if we build a static analysis for subsumption of route match conditions.

[2018-03-13 20:51] ostromart commented on #4239
I agree with Kuat it's better to keep the logic simple. Opening the door to more complex parsing behavior can lead to hard to debug configs. In this case it's easy to detect a case like this and throw it back to the user.

[2018-03-13 21:00] sigma commented on #4230
What I mean is that the first test, even if it panic'd, did not get a proper test status assigned to it, therefore was considered as a failure by `go-junit-report` (fail is the initial state for any test).

As for `TestControllerClientSync`, I do believe the issue is possibly the same and Matt just missed a log line:

[code]

This time there are actually 3 tests of the same name, and the second on

[2018-03-13 21:11] mattdelco commented on #4230
If go handles parallelism by doing threads in one process, rather than separate processes, then a panic in one test would be enough to kill off the others as well.  If it's handled by a parent process launching child processes, then I suppose the parent could still terminate the tests by immediately killing the children (though in that case I'd have higher expectations for golang to report failure

[2018-03-13 21:37] sigma commented on #4230
yep, you're right. Parallel tests are implemented as goroutines, and those 3 tests were the only ones still in flight at the time of the panic. So that seems to be a convincing explanation.

[2018-03-13 22:44] bobbytables opened #4244 "Kubernetes service registry will always use a file when passed an empty string"
There's a logic flaw in this piece:
https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/client.go#L41-L50

Basically, if you pass an empty string to the resolver, it will _always_ return `username/.kube/config`.

Reason being on line 41, it checks if the string is still empty, attempts to stat and empty string (which will always fail), and then assigns the `kubeconfig` string

[2018-03-14 00:20] terinjokes commented on #4026
I gave implementing this a shot as described above, filtering out egress rules from other namespaces before passing the config slice to the conflict rejection and it seems to work.

If this is a direction your interested in, I'm happy to start working towards upstreaming.

[2018-03-14 00:24] rshriram commented on #4239
why is it an error? Please look at the config. Its a perfectly valid config, and in fact, its something thats likely to occur in the wild. I route all traffic matching some headers to a destination. For a single specific source (something I am debugging/testing), I decide to route to a different destination for the _same header match conditions_.

[2018-03-14 01:20] kyessenov commented on #4239
There is little overhead in sending the second route if its match condition
is identical to a preceding one. If we are able to detect this case, we can
follow up with an optimization that removes it, but it's not an issue with
the semantics

On Tue, Mar 13, 2018, 5:24 PM Shriram Rajagopalan <notifications@github.com>
wrote:

[2018-03-14 02:04] ldemailly opened #4247 "testing infra (both prow and circleci): collect all container logs, including init"
In #3562 the init container fails which prevents the pods from starting yet we don't collect the logs of that container

[2018-03-14 02:52] ZackButcher commented on #4239
To be clear: you're saying that generating this configuration naively and pushing both routes to Envoy works? Is this because Routes [are matched in order](https://github.com/envoyproxy/data-plane-api/blob/a6378e5f707f41ef51c9be2bb9462224087ed65b/envoy/api/v2/route/route.proto#L47-L49), so as long as the route for the `source` match comes before the non-`source` match route in the config we push t

[2018-03-14 03:19] johnzheng1975 opened #4248 "prometheus.yaml and servicegraph.yaml is missing in istio master branch"
prometheus.yaml and servicegraph.yaml is missing in istio master branch.
However, the document still ask customers to use, as below
In https://istio.io/docs/tasks/telemetry/querying-metrics.html, use command
kubectl apply -f install/kubernetes/addons/prometheus.yaml

In https://istio.io/docs/tasks/telemetry/servicegraph.html, use command
kubectl apply -f install/kubernetes/addons/servicegraph.yaml

[2018-03-14 04:04] kyessenov commented on #4239
@ZackButcher Yes, I'm saying that Envoy spec requires that routes match in order. I would reserve the judgement about brittleness of Envoy spec vs istio spec. It's up to the user to provide more specific rules first, before less specific. Specificity is a partial order, there is no one topological ordering between the conditions that can automatically resolve the ambiguity.

@rshriram @louiscryan

[2018-03-14 06:21] gyliu513 opened #4249 "make bookinfo can work offline"
The bookinfo need to access google and it does not work in an offline environment, as it cannot get some scripts, we should make this can work offline.

/cc @linsun

[2018-03-14 06:43] mattdelco commented on #4248
There's two possible answers, though I don't know which is more relevant for these docs: 1) the pages first say to install istio, so the files should be present in the tar files in a release on github, vs. 2) if you're building from source then the yaml files are generated by release/updateVersion.sh (easiest thing to run is "make generate_yaml" to create the files).

[2018-03-14 06:47] johnzheng1975 commented on #4248
Correct, I find these files are in gitignore file. We should not add it manually.
They will be generated automatically by updateVersion.sh

[2018-03-14 11:42] secat commented on #3968
@ldemailly finally I was able to make it work. I am using the helm chart located in `github.com/istio/istio/install/kubernetes/helm`. I deleted my minikube machine and started a fresh one.

It is now working on my side.

[2018-03-14 13:21] argeualcantara opened #4250 "Injecting lua scripts in istio-proxy container for envoy"
[FEATURE REQUEST]
Currently the solution proposed [here](https://github.com/mandarjog/istioluawebhook) doesn't have a generic way to inject scripts inside the istio-proxy container.

Here's the problem contextualization:

* I create a `default.lua` script that has envoy's on request and on response method signatures.
* The default script requires other files from a given path
* I need to download

[2018-03-14 13:31] linsun commented on #4249
seems a reason req - a PR is welcomed!!

[2018-03-14 13:31] linsun commented on #4249
cc @frankbu

[2018-03-14 13:48] richardcase commented on #2341
This issue persists when trying to build on osx even with the 'unset'.

I manually changed the makefile to this:
`GOOS=darwin GOARCH=amd64 CGO_ENABLED=1 bin/gobuild.sh $@ istio.io/istio/pkg/version ./security/cmd/generate_cert`

[2018-03-14 15:05] ldemailly commented on #3968
good to know but just so you know,
up until 0.6 and tbd in 0.7 only istio*yaml from the release tar are the tested/working istio install.

[2018-03-14 15:15] ldemailly commented on #4236
you mean dns resolution or name based  egress ?

if you want http (‘url’) it works with http egress as long as you don’t use https

[2018-03-14 15:48] mandarjog commented on #4250
I like the idea of init container, however any change in the lua scripts would require restarting the pod which is not acceptable in many cases.

Config map mounts work well. They can be made part of the standard deployment. And updated are available to all pods dynamically.

[2018-03-14 15:49] john-a-joyce opened #4252 "mounting of /tmp by security driver causing make test to fail"
While trying to run "make test" on my local system the tests are not running properly due to lack of space.
Getting numerous errors of the type:  "write /tmp/go-build095530034/b510/vet.cfg: no space left on device".  Notably when I change the size of the mounted partition in this line:
https://github.com/istio/istio/blame/master/security/cmd/flexvolume/driver/driver.go#L105
the tests executed with

[2018-03-14 15:52] argeualcantara commented on #4250
@mandarjog I tried chaging the header value in the configmap but the changes did't take effect

[2018-03-14 15:56] theganyo commented on #3968
Wait. Just so I understand: The solution is to use the helm chart that isn't supported?

[2018-03-14 17:06] jeffmendoza commented on #4142
I checked the latest version and it sill requires the script to go from export to provisioning, so I'll move forward with the check.

#4254

[2018-03-14 17:13] nmittler commented on #3059
@Stono
After re-reading this thread, it's not clear to me why the istio ingress wouldn't be sufficient for this use case. Is there any reason that you can't do one of the following?

1) Use the istio ingress (instead of nginx)
2) Have nginx direct all traffic to the istio ingress

cc/ @ZackButcher

[2018-03-14 17:17] yutongz opened #4255 "Make a better way to check local components are available"
Currently the example components in integration test framework are using dummy sleep to prepare readiness. We should have a better way to check availability.

Based on the doc: https://docs.google.com/document/d/1-wNg8iLegc6Y30oVK15RTf0mwaj2H_Ik5JV1YoMOJo0/edit#heading=h.b4g68nknmjjj

[2018-03-14 17:20] yusuoh opened #4256 "Secret not deleted when service account removed."
I manually removed some service account from istio-system namespace, but the associated secret was not deleted by CA.

It seems that the RBAC rule for CA does not include "delete", which caused an error in CA when it tries to delete the secret:

2018-03-14T16:48:26.944011Z	error	Failed to delete Istio secret for service account "istio-sidecar-injector-service-account" in namespace "istio-system" (

[2018-03-14 17:20] kyessenov opened #4257 ""mixer_check_server" is required to be a static cluster"
Report:
i am using a istio-proxy fork where all i did was update the base Envoy from Feb27 -> March 8.
With Pilot `0.6.0` I see a crash in Envoy with the message:
`[2018-03-14 04:57:59.104][83][warning][upstream] external/envoy/source/server/lds_subscription.cc:68] lds: fetch failure: gRPC client cluster 'mixer_check_server' is not static`
A quick scan of the code in Pilot seems to indicate this i

[2018-03-14 17:21] yusuoh commented on #4256
Btw, the log also shows that the entry is already removed from the cache by the service account controller.

2018-03-14T17:08:38.352430Z	info	deleting registry entry "spiffe://cluster.local/ns/istio-system/sa/istio-sidecar-injector-service-account" -> "spiffe://cluster.local/ns/istio-system/sa/istio-sidecar-injector-service-account"
2018-03-14T17:08:38.385272Z	info	Istio secret for service account

[2018-03-14 17:26] myidpt commented on #4256
Thanks for the catch, Yusuo. Both behaviors are confirmed. They will get fixed shortly.

[2018-03-14 17:26] john-a-joyce commented on #4252
cc @wattli

[2018-03-14 17:30] rshriram commented on #4239
No, we have not discussed this specific issue at all. and I don't see why this needs *any change in our APIs*. Our APIs do not say anything about the generated configuration. If anything, the model you have is very much contrary to the user expectation from our API spec. Also, to your earlier point

the config we generate today is very much non intuitive. It does not map to the mental model that t

[2018-03-14 17:37] Stono commented on #3059
Added complexity.  The solution I have now means I have a single point in which all traffic passes through and that is nginx, a tool that is proven and tested and established for being a scalable ingress point for traffic.  We also have organisational experience with nginx.

With what you're proposing, I believe you're suggesting https traffic would ingress to the istio controller and be terminate

[2018-03-14 17:41] wattli commented on #4252
Thanks for filing this issue, @saurabh do you want to take a look at this issue? And I believe you are mount the driver to another dir, right?

[2018-03-14 17:53] ldemailly opened #4260 "new eds appears to make ingress test fail"
rbac no auth daily failed:
http://gcsweb.k8s.io/gcs/istio-prow/pull/istio-releases_daily-release/464/daily-e2e-rbac-no_auth/427/artifacts/simple-auth-test-af628cf93f384491a936/

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/464/daily-e2e-rbac-no_auth/427/

seems like the echosrv never got known to the ingress

for 2 minutes
[code]

there are a few smoking gu

[2018-03-14 17:55] costinm commented on #4260
EDS close means envoy restarted - it is expected behavior.

[2018-03-14 17:55] kyessenov commented on #4260
Please disable EDS v2 if it breaks the tests often.
You can continue to de-flake it until it's ready to reliably pass the daily tests.

[2018-03-14 18:05] kyessenov commented on #4239
This is an optimization that should not be necessary for correctness. We
can micro-optimize skipping routes later. It's very easy to make a typo in
the http match condition and fail the precise match that prevents this
optimization to take place.

On Wed, Mar 14, 2018 at 10:30 AM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-03-14 18:25] cmluciano commented on #3952
Reassigning to Piotr based on feedback on the WG call today

[2018-03-14 18:40] geeknoid commented on #4203
Here's a doc describing our plans around proto package naming, including in particular Mixer's stuff.

One change we want to do relative to what's in this doc is that we are fine calling the Mixer API "v1" instead of "v1beta"

[2018-03-14 18:51] terinjokes opened #4262 "Malformed Egress Rule prevents all from working"
## Scenario

When a malformed Egress Rule is applied, Pilot stops handling all Egress Rules, instead of skipping the bad rule.

[code]

## Expected
It was expected that Pilot would skip only Egress Rules it can't process.

[code]

## Actual

Pilot stops serving returning Egress Rules entirely.

[code]

[2018-03-14 19:06] ldemailly commented on #3059
I guess we can reopen this for some way to preserve the origin information, longer term, while the iptables workaround is short term

[2018-03-14 19:15] kyessenov opened #4264 "TestMixerInternalFail fails"
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/4258/istio-unit-tests/2284/

[2018-03-14 19:17] kyessenov opened #4265 "TestCheckReportDisable fails"
https://circleci.com/gh/istio/istio/48740?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-14 19:36] jnativio opened #4266 "Istio-ingress performance regression on build istio-0.7.0-pre20180313-17-58"
The regression patrol detected a big drop in throughput with latest build (0.7.0-pre20180313-17-58). Results can be seen here --> http://ibmcloud-perf.istio.io/regpatrol/0.7.0-pre20180313-17-58/
It seems that the Ingress component is responsible for the performance drop. It used way more CPU than in previous builds and saturated the worker where it is running. I tried with the Ingress image of pre

[2018-03-14 20:26] sabinthomas commented on #4189
Seeing the same issue with a minikube install

[code]

[code]

[2018-03-14 20:27] qiwzhang commented on #4264
It is flaky.  Somehow Envoy could not be re-started due to this error

I0314 19:06:08.780] unable to initialize hot restart: unable to bind domain socket with id=0 (see --base-id option)

The test need to re-start Envoy with different envoy config

[2018-03-14 20:28] kyessenov commented on #4264
Flaky tests are not tolerated since we have so many of them. I'll send a turn-off PR until this is resolved.

[2018-03-14 20:36] kyessenov commented on #4266
I have suspicion this is related to @costinm 's change - can you validate that EDS server is not DoSing the proxy here.

[2018-03-14 20:37] ldemailly commented on #4264
is it showing a bug though ? ie would our users/customers get the same startup problem?

[2018-03-14 20:38] kyessenov commented on #4264
I think it's because we write base-id to the same place from different tests. They are not sandboxed like they used to be in bazel.

[2018-03-14 20:42] kidiyoor commented on #4266
@jnativio cannot reach - http://ibmcloud-perf.istio.io/regpatrol/0.7.0-pre20180313-17-58

[2018-03-14 20:47] ldemailly commented on #3082
[code]
happens on prow too
https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1187?log#log

[2018-03-14 20:54] kyessenov commented on #3082
No, increasing the duration is not an answer. We saw up to minute delays between test pause and test wake up.

[2018-03-14 20:54] jmuk commented on #3082
ah, okay, @kyessenov already created the PR to disable them. Thanks.

[2018-03-14 21:11] kyessenov opened #4270 "Create separate --v1alpha3=true prow pipeline"
We need to run v1alpha3 tests in a separate pipeline since they are not ready to gate commits.

[2018-03-14 21:27] danilina-wsib opened #4271 "413 Payload too large response from envoy"
Hi,

I am uploading files to an API endpoint (POST request) with Istio 0.6

I see 413 Payload too large error in the envoy log, while my application endpoint is not hit at all (it does validate Content-length header)

Is there any way to adjust the setting to set the max request bytes in Envoy?

Thank you,
Alex

[2018-03-14 21:33] ldemailly commented on #3082
while I agree tests relying on timing tend to flake, can we turn off that pause/unpause behavior that is new and doesn't seem to serve any useful purpose beside breaking tests ?
cc @hklai do you know where that's from ?

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/4268/istio-unit-tests/2296/

it also seems to break prow which thinks those ^ are failures

[2018-03-14 21:35] ldemailly commented on #3968
until we declare that it does work, which we have not as far as I know, the solution is to not use helm

[2018-03-14 21:38] theganyo commented on #3968
But this issue wasn't opened for helm. This was the command:
`kubectl apply -f istio/install/kubernetes/istio.yaml`

[2018-03-14 21:45] ldemailly commented on #3968
that's why I asked "how did you install 0.6.0 exactly ?"

I guess your issue and @secat got mixed, my bad.

so, can you repro failing to install 0.6.0 / lds not coming up ?

[2018-03-14 22:03] incfly commented on #4190
Copy comments from: https://github.com/istio/istio/pull/4243

We should also change the Dockerfile to build the new merged version nodeagent after this work is done.

[2018-03-14 22:03] qiwzhang commented on #4264
https://github.com/istio/istio/pull/4274

[2018-03-14 22:14] #4256 closed

[2018-03-14 22:16] xiaolanz commented on #3929
maybe #4273 can help with this when it's in.

[2018-03-14 22:25] theganyo commented on #3968
I've reinstalled and restarted completely from scratch and now it doesn't reappear. Frustrating. The only thing I hadn't done was reinstall before... so now I can't say what might have changed to cause the issue. Ok, I'm closing.

[2018-03-14 22:25] #3968 closed

[2018-03-14 22:31] saumoh commented on #4257
hey @mandarjog @qiwzhang  are u planning to crud this file:
`https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_tmpl.json`
and/or are there other places where this needs to be changed.
As soon as you fix this i will hit this crash for my changes...therefore asking :-)

[2018-03-14 22:38] kyessenov opened #4276 "Proposal: build tags for integration tests"
Istio tests are written using standard go tests, which causes friction with the go test driver:
- integration tests should not be run in parallel, since they can operate on the same files or use the same cluster environment
- integration tests should not be cached, since they are not necessarily hermetic
- arguably, integration tests should not participate in race coverage tests

A test qualifies

[2018-03-14 22:41] qiwzhang commented on #4265
Most likely related to the recent change https://github.com/istio/istio/pull/4073

When wait for TcpPort,  it will send Mixer a Check call,  it will mess up Check count.

[2018-03-14 23:03] rshriram commented on #4239
So there is no real technical issue for not doing this then. We cannot prevent issues caused by typos. But we can prevent the configuration from bloating up for sure. I will fix this in the coming days.

[2018-03-14 23:05] kyessenov commented on #4265
I'll let you developers more knowledgeable in this to design a fix. For
now, disabling.

On Wed, Mar 14, 2018 at 4:00 PM Wayne Zhang <notifications@github.com>
wrote:

[2018-03-14 23:37] kyessenov commented on #4239
You are welcome to fix it once we have RDS v2 working. It's not functional.

On Wed, Mar 14, 2018 at 4:03 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-03-15 00:26] hklai commented on #3082
@ldemailly

If I read https://golang.org/doc/go1.10 correctly, the behavioral change was printing PAUSE and CONT when -v is provided.

It was added by https://github.com/golang/go/commit/3a8b9cfe9138d3a4aa227a6967d94ecdb3c0bd6f#diff-70e628298261565d825f7199d13042f2.

But the logic around that seems to be over 2 years old.
https://github.com/golang/go/blame/4c1aff87f1a160c3da962cda0c48462c88260d7b/

[2018-03-15 00:36] kyessenov opened #4281 "TestStressEnvoy failed"
[code]

https://circleci.com/gh/istio/istio/49181?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-03-15 00:37] kyessenov commented on #4281
Q: Why is stress test part of the unit tests?

[2018-03-15 00:42] qiwzhang commented on #4281
@kyessenov It seems that link is wrong.

[2018-03-15 01:12] linsun commented on #4271
One way to adjust is via the new pilot webhooks that is made avail in 0.6:  https://github.com/mandarjog/istioluawebhook

[2018-03-15 01:28] mingpun commented on #4189
my env
Mac OS: 10.13.3
minikube version: v0.25.0
kubectl version: v1.9.3

I installed latest minikube veriosn 0.25.0 and encountered same problem when I ran kubectl apply -f install/kubernetes/istio.yaml.

I found similar issue reported on https://github.com/istio/issues/issues/123. seems like the problem has been fixed with this PR https://github.com/istio/istio/pull/2017. Is this fix got into la

[2018-03-15 01:39] dtzar commented on #4236
So are you saying that something like this would be supported?

[code]

[2018-03-15 02:23] fudali113 commented on #4189
Can you run and access the bookinfo instance service correctly?
I had the same problem.[istio/issue#173](https://github.com/istio/issues/issues/173)

[2018-03-15 02:40] costinm commented on #4281
/subscribe
The test is passing in circle and locally - let me know what you find.

Better not use the term 'unit test' but 'local tests' - many tests use apiserver or test far more
than a unit.

[2018-03-15 03:26] kyessenov commented on #4281
@qiwzhang please explain why it started to fail, and whether we should it bring back later.

[2018-03-15 04:17] #3929 closed

[2018-03-15 04:21] qiwzhang commented on #4281
Just removed it

[2018-03-15 04:21] #4281 closed

[2018-03-15 04:22] #4265 closed

[2018-03-15 04:22] #4264 closed

[2018-03-15 04:32] kyessenov opened #4285 "Proposal: reverse control-plane tunnel to k8s"
It would be useful to run control plane outside of the cluster using local processes. Imagine pilot and mixer running locally using `go run` against a k8s cluster with injected apps, and the apps are talking to the local pilot and mixer. For that to happen, we need a reverse tunnel to k8s proxy:
1. proxy listens for external IP connections, exposes itself as a k8s service istio-pilot and istio-mix

[2018-03-15 04:49] jnativio commented on #4266
@kidiyoor  Pls try a different browser.

[2018-03-15 05:07] kyessenov commented on #4244
+1 for not doing fallback to user home. This just damaged my cluster, since I did not expect the unit tests to randomly write to my cluster.

[2018-03-15 05:28] fudali113 commented on #3570
May I ask how you solved it?
I didn`t understand the content of [issue#3724](https://github.com/istio/istio/pull/3724)
@overip

[2018-03-15 05:54] ldemailly commented on #3082
thx ! looking at your second link, it seems it's only used for Parallel() - so maybe we just need to serialize our tests (as they are cut into // suites already anyway) ?

[2018-03-15 05:56] ldemailly commented on #4236
I meant for "URL"s there is
https://istio.io/docs/tasks/traffic-management/egress.html#configuring-the-external-services

[2018-03-15 06:09] mingpun commented on #4189
@fudali113 I followed https://istio.io/docs/guides/bookinfo.html to install the sample app on my istio workaround env and I was able to get the productpage up.

![image](https://user-images.githubusercontent.com/1179922/37446904-78b23a5c-27dc-11e8-9404-3b3e1b56ea06.png)

[2018-03-15 07:35] vadimeisenbergibm opened #4286 "Consider protecting envoy from being bypassed by an app"
Today Envoy runs as user with UID 1337. The iptables direct all the traffic in the pod to the envoy, except for the traffic of the user with UID 1337. Therefore, in order to circumvent the envoy's control on the outbound traffic, e.g. to prevent logging and monitoring of the outbound requests, the attacker can perform `useradd envoyuser -u 1337` and `su - envoyuser`. Then the attacker can attack o

[2018-03-15 07:44] vadimeisenbergibm commented on #4236
Allowing external traffic to a DNS name via TCP can be achieved today with Kubernetes ExternalName Services - https://kubernetes.io/docs/concepts/services-networking/service/#services-without-selectors.

@ijsnellf @frankbu @ldemailly we should decide what we do with the Egress Rules - do we continue to evolve them? Or do we recommend to switch to alpha 3 external services after 0.7?

[2018-03-15 07:58] vadimeisenbergibm commented on #4236
^ Note that you have to specify the port and the protocol (TCP) for the Kubernetes ExternalName Services to be addressable from Istio.

[2018-03-15 08:07] qiujian16 commented on #4252
get the same error when run make test

[2018-03-15 08:18] ldemailly commented on #4286
mTLS helps mitigate this but it's a good point/questions

[2018-03-15 09:58] morvencao commented on #4189
What confuses me is that I can't reproduce it if I choose `istio-auth.yaml`

The issue will not appear in hem chart, for these "custom resources" in `mixer` are installed in `post-install` hook.

[2018-03-15 09:59] morvencao commented on #4189
#2017

[2018-03-15 10:00] morvencao commented on #4189
#2250

[2018-03-15 12:17] geeknoid opened #4288 "Consider introducing an APA cache in Mixer"
Mixer calls APAs (Attribute Processing Adapters) synchronously before invoking adapters for the mainline Check, Quota, and Report processing. Invoking the APAs is a big deal, involving goroutines, a bunch of attribute bag manipulation, creation of instances, evaluating expressions, and more.

We should evaluate whether there should be a cache sitting in front of calls to APAs that would short-circ

[2018-03-15 12:30] geeknoid opened #4289 "Improve report batch handling in Mixer."
Proxy currently sends Mixer batches of report entries for each Report API call. There can be thousands of entries in each batch. Sending all these entries in a batch yields considerable efficiency by allowing delta-encoding of information within the batch, and dramatically reducing the number of RPCs required.

In turn, Mixer calls report adapters with batches of report entries. This idea behind t

[2018-03-15 16:09] SeriyBg commented on #4215
@kidiyoor the issue with the replace is not fixed, it is fixed only for delete command. However, the issue is similar. I will work on it and submit a PR.

[2018-03-15 16:28] SeriyBg commented on #4215
Also this looks like a duplicate with #3669

[2018-03-15 16:30] saumoh commented on #4252
i'll take a look at this today.

On Thu, Mar 15, 2018 at 1:07 AM, Qiu Jian <notifications@github.com> wrote:

[2018-03-15 16:41] andraxylia opened #4291 "make on Linux fails because of mixer test TestRollingWindowAlgorithm"
--- FAIL: TestRollingWindowAlgorithm (0.00s)
	redisquota_integration_test.go:202: **Executing test case 'Request 30 when 50 is available'**
	integration.go:171: fail to new mixer: unable to setup monitoring: unable to listen on socket: listen tcp :9093: bind: address already in use
FAIL

[2018-03-15 16:41] SeriyBg commented on #4215
Submitted the PR #4290

[2018-03-15 16:41] ayj commented on #4286
See https://kubernetes.io/docs/concepts/policy/pod-security-policy. See  https://github.com/kubernetes/kubernetes/issues/55435 for how this affects managed sidecars

[2018-03-15 16:54] #4257 closed

[2018-03-15 17:09] hklai commented on #3082
We actually disabled parallel tests in post-submit to fix another problem (i.e. junit file generation for testgrid, at a temporary workaround.
https://github.com/istio/istio/pull/4242/files#diff-b67911656ef5d18c4ae36cb6741b7965

Serializing presubmit tests will obviously prolong test time and PR merge time. Perhaps we are isolate the time sensitive tests into a separate suite and disable paralleli

[2018-03-15 18:08] wattli opened #4293 "Add k8s CA root to Istio CA"
This is for liveness probe.

[2018-03-15 18:10] mangchiandjjoe commented on #4291
Integration test framework is using default port numbers
APIPort:                       9091,
MonitoringPort:                9093,
If integration tests run in parallel, it will cause port number conflicts.

[2018-03-15 18:11] mangchiandjjoe commented on #4291
@guptasu Could you please take a look? Test frame work can use dynamic port numbers.

[2018-03-15 18:46] cmluciano commented on #4184
cc @hklai

[2018-03-15 18:46] cmluciano commented on #4184
@costinm

[2018-03-15 18:52] prune998 opened #4297 "istioctl inside a pod can't use internal API server"
# Description

Inside a Pod in a Kubernetes cluster, running `istioctl kube-inject -f deployment.yml` requires a valid `.kube/config` file.
Running `kubectl get pods` automatically use the internal API and does not require a `.kube/config` file.

[code]

Note : when using RBAC, you have to ensure your pod is allowed to query the API, which is the case for me as `kubectl get XXX` works.

# Expected

[2018-03-15 18:53] ijsnellf commented on #1023
Yep, it isn't important and it sounds like it would not actually help unless we have an Alpine build of Envoy + Istio Pilot. Closing...

[2018-03-15 18:53] #1023 closed

[2018-03-15 20:30] wattli commented on #3922
After investigation, this is not actually an issue, because when mixer config change, pilot will regenerate the CDS for client to reflect the change. This issue only happens at pilot, which is already fixed.

[2018-03-15 20:30] #3922 closed

[2018-03-15 20:31] guptasu opened #4302 "doc generation seems to be trimming the first character when concatenating lines."
generated doc is
_Contains inferred type information about specific instance of ‘metric’ template. This is passed to nfrastructure backends during configuration-time through InfrastructureBackend.CreateSession._

**Notice** the spelling of `nfrastructure`
for proto that looks like:
[code]

[2018-03-15 20:39] guptasu commented on #4302
Seems to be an issue only when using multi line comments.

[2018-03-15 21:02] kyessenov opened #4303 "prometheus.TestReport failure. monitoring port in use"
https://circleci.com/gh/istio/istio/50077?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link
[code]

[2018-03-15 21:14] #3906 closed

[2018-03-15 21:35] kyessenov opened #4304 "TestTTLFinalizer failure"
`pkg/cache` test suite is flaky. Please fix the flakiness, or we have to disable the test:
[code]
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/4300/istio-unit-tests/2408/

[2018-03-15 22:12] guptasu opened #4307 "go generate is broken inside mixer/adapter"
gogoproto/gogo.proto not found
[code]

[2018-03-15 22:14] sakshigoel12 commented on #3519
@ldemailly please could you split these into actionable work items?

[2018-03-15 22:17] guptasu commented on #4307
@ldemailly FYI

@geeknoid and I discovered that suddenly `go generate ./...` inside istio/mixer/adapter directory is broken and it has been broken for a while (may be since beginning of feb). Do you think it can be related to the `istio-vendor` work ? For some reason the config protos that were getting compiled using `bin/mixer_codegensh` are now complaining that gogoproto/gogo.proto is not found.

[2018-03-15 22:18] kyessenov commented on #4307
Add a test to prevent this from happening again?

On Thu, Mar 15, 2018 at 3:17 PM Sunny Gupta <notifications@github.com>
wrote:

[2018-03-15 22:50] kyessenov opened #4309 "prometheus.TestReport failure: port it use prometheus Port 42422"
Failing post-submit:
https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1211

[2018-03-15 22:51] kyessenov commented on #4309
[code]

[2018-03-15 22:51] wattli commented on #3922
@mandarjog FYI

[2018-03-15 23:15] ldemailly commented on #4307
let me know if you need anything

[2018-03-15 23:37] terinjokes commented on #3519
I agree with most of this, though I have no experience with GCLB (being on our own machines).

However, the use of Kubernetes's Ingress resources seems correct to me here. The behavior is not much different than if you had deployed the nginx ingress and configured your Ingress resources to use the nginx class.

[2018-03-16 00:50] mandarjog commented on #4303
The actual failure is in `prometheus_integration_test.go.`

[2018-03-16 00:51] kyessenov commented on #4303
Thanks. Then it's a dupe of #4309 ?

[2018-03-16 00:53] mandarjog commented on #4303
#4309 is about a different port, and used a different mechanism to create listeners.
This one is amount Mixer's own port.

[2018-03-16 00:58] costinm opened #4314 "Invalid alpha3 rule breaking the entire mesh (for example by generating invalid MTLS settings)"
Update: the original bug was fixed by making the alpha3 rule valid. What remains is adding back
the original invalid rule as a regression, and fixing the code to not generate invalid MTLS settings
(ignore the rule).

This seems to be the only alpha3 test failing right now - and only in MTLS.

A bit hard to figure out from logs - to repro I suggest running only that test (commenting out all other r

[2018-03-16 00:59] #4309 closed

[2018-03-16 01:09] kyessenov commented on #4304
Happened again in @mandarjog 's PR ...

[2018-03-16 01:27] saumoh commented on #4252
@wattli We should not be actually executing a `mount`.
Prior to the revert of https://github.com/istio/istio/pull/3999
the test were written to mock the exec command(s). These tests should be changed to do that.
Please see as a [here]( https://github.com/colabsaumoh/istio/blob/4b2662f080892c69a172b42150fea7512dc8084c/security/cmd/flexvolume/driver/driver_test.go#L57) and [here](https://github.com/

[2018-03-16 02:38] ldemailly commented on #4189
what happens if you run the initial command (`kubectl apply -f install/kubernetes/istio.yaml`) a second time ?

[2018-03-16 02:44] morvencao commented on #4189
It should be all right with s second install.
As @vadimeisenbergibm mentioned in [PR#2017](https://github.com/istio/istio/pull/2017), seems like the issues can only be reproduced in small cluster in rare cases.

[2018-03-16 03:25] costinm commented on #4314
+Louis - I think the rule itself is invalid - "destination: name: v2" should be name: "c" and subset.

But I think this but raises a much bigger issue - if we send any invalid config to Envoy the entire cluster will fail, in this case the invalid cluster prevents loading the entire CDS.
We need to add more 'invalid config' tests - and maybe for 0.8 add some pilot-side validation (at least it will

[2018-03-16 04:49] ldemailly commented on #4189
yes so basically it's a documentation issue ?

[2018-03-16 04:57] andraxylia opened #4317 "Improve prow-presubmit test: ./tests/integration/example/integration.sh"
This test is dangerous if run locally. It does a git reset --hard, a clone of istio/proxy and possibly other things.

[2018-03-16 05:36] wattli commented on #4314
@costinm, could you provide more steps to reproduce or error link? So I can investigate more? The first impression is verify_subject_alt_name = null seems not right, and it's generated by pilot.

[2018-03-16 05:38] kyessenov opened #4319 "TestIngressController failure"
[code]

Test successfully passes on prow in the same PR.

[2018-03-16 06:52] aimuke opened #4320 "authority of route rule rewrite not work"
version：istio: 0.6.0 +  Ubuntu 16.04.2 LTS

Hi,

I run bookinfo example in kube by the guide. I did some changes of the example to test the authority of routerule rewrite. But I found it did not work. Can someone give me a hint? Below are what I did:

1. I changed the detail  request url from 'http://details:9080/details/0' to 'http://ratings:9080/v1/details/0' in productpage service,and restart t

[2018-03-16 07:03] xiaolanz commented on #4319
should these also moved to e2e? since it's test to apis and get flaky.

[2018-03-16 08:21] ldemailly commented on #4317
improve, not remove

[2018-03-16 09:13] vadimeisenbergibm commented on #4314
I wonder if this is related: ci/circleci e2e-pilot-auth fails on an empty PR https://github.com/istio/istio/pull/4321 on v1alpha3 route rules test.

[2018-03-16 09:41] SeriyBg commented on #4215
There is a similar issue with `istioctl get`:
Having a `routerule foo` in the `default` namespace and calling `istioctl get routeruel foo` will return `No resources found.`
Have fix this in the submitted PR as well.

[2018-03-16 12:08] tanshungang opened #4322 "the rule has no usefulness when its service is accessed by other service which has no istio sidecar?"

[2018-03-16 12:17] tanshungang opened #4323 "Fault Injection not reflected in reports to Mixer from Envoy"
for example by bookinfo applications:
productpage\reviews\details\ratings are microservices of bookinfo.
If productpage call details by: http://details.****.com/details/0, and I set a abort httpfault(http status code is set 503), so productpage will receive 503 from details when it calls http://details.****.com/details/0, but, at this time, there is no metric data about this infomation when i quer

[2018-03-16 13:48] Stono commented on #3720
FYI we also recently got burned by this https://github.com/kubernetes/helm/issues/3668.  I don't know if you plan to make helm your "primary" method of deploying your product, if you do it might be worth giving consideration to the fact that in some ways you'd be tying yourself to the reliability of that product too.

[2018-03-16 13:52] Stono commented on #3099
@douglas-reid @nixgadget is that not a different issue to this one? This issue is about http services sending metrics as TCP.

The gRPC issue you're experiencing went away for me when I did a "clean" install of istio (which is great as I was never able to reproduce it).

[2018-03-16 14:21] geeknoid commented on #4302
I'll look into this, but the usual form for such comments in protos would be using // comments. Evidence suggests (looking at istio.io) that // comments work correctly and don't cause truncation.

[2018-03-16 14:46] GregHanson commented on #4320
@aimuke can you try your `rate2detail rewrite` rule without the port in the rewrite?

[code]

[2018-03-16 14:53] mandarjog commented on #3099
The grpc issue is most likely because of  mtls mismatch. Mixer was expecting mtls and envoy was not sending it mtls.

[2018-03-16 14:55] geeknoid commented on #4302
Fixed by [this commit](https://github.com/istio/tools/commit/4f1b1663863b7cb619c4a273c495718286d48820).

[2018-03-16 14:55] #4302 closed

[2018-03-16 15:37] SeriyBg opened #4325 "istioctl get list of resources search only for default namespace"
The issue is reproducible in the current master branch.
Having a `routerule foo` in `namespace bar`.
When executing `istioctl get routerules` receiving `No resources found.` Instead, it must search for all `routerules` in all namespaces.

[2018-03-16 16:00] ijsnellf commented on #4314
Thanks for diagnosing this @costinm. I created a fix for the badly defined config: https://github.com/istio/istio/pull/4327

@vadimeisenbergibm: yes, it _should_ be causing failures in circleci as well.

[2018-03-16 17:52] sebastienvas commented on #4184
I think It is a little more complicated that this, I think the right approach would be to update [Prow trigger plugin](https://github.com/kubernetes/test-infra/blob/master/prow/plugins/trigger/ic.go) to look for jobs that starts with circleci and then use the circle API to trigger them. Can every body retrigger a job ?

[2018-03-16 17:54] sebastienvas commented on #4270
Is this for pilot e2e ?

[2018-03-16 17:55] kyessenov commented on #4270
Correct. We are not testing v1alpha3 in prow at all at the moment, and it
needs to prove to be reliable to become pre-submit.

On Fri, Mar 16, 2018 at 10:55 AM Sebastien Vas <notifications@github.com>
wrote:

[2018-03-16 18:00] #4325 closed

[2018-03-16 18:02] kyessenov commented on #4319
TestServices is also flaking. Should we move both to e2e pipeline? We can institute a ban on using k8s in unit tests, which I would support.

cc @louiscryan @costinm

[2018-03-16 18:10] sebastienvas commented on #4317
Yeah I don't understand why we should remove this. This test is running in memory and have the right arguments to be in presubmit. The fact we do git reset --hard needs to be fixed, and the fact that its not using the right config needs also to be fixed proxy developers.

[2018-03-16 18:11] sebastienvas commented on #4317
Assigning @qiwzhang to find an owner to fix this

[2018-03-16 18:20] yutongz commented on #4317
Yes, I agree we shouldn't use "git reset". I will fix this specific part. But it's not the key reason for the test failure. Someone need to figure it out :)
/assign @yutongz

[2018-03-16 18:25] qiwzhang commented on #4317
This test is using a envoy_config means for manual test.   Since we (proxy developers) did not do manual test for a long time, it was outdated.

1) This test is using "git clone" latest proxy to get the config and start_envoy script.  this may post some problems.  should it get the version pointed by $PROXY_SHA?  Should these two files merge into istio repo?

2) If the config is used by istio pre-

[2018-03-16 18:37] yutongz commented on #4317
@qiwzhang if proxy folks don't use those scripts/config, I am happy to have them in istio/istio.

@hklai would be the onwer of this integration test, so please keep him in the loop.

[2018-03-16 18:38] hklai opened #4330 "Istio 0.7.0 Tracker"
The first RC was cut at https://github.com/istio/istio/commit/ff47fb2a97a19bd9b9b93cee66e52b13039569e5
 and is available at https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.7.0-pre20180314-23-56/.

If any other PRs that need to be cherrypicked back to the release, please add to this bug so we can add them to the release branch.

[2018-03-16 18:39] qiwzhang commented on #4317
We only use them for manual test occasionally. @yutongz

[2018-03-16 18:43] sebastienvas commented on #4317
I think we still need of way to start all the components in memory such that we can quick integration testing. I think @qiwzhang 's point is valid: We should also have this being testing in proxy presubmit. I think there is another issue about this.

[2018-03-16 18:45] andraxylia commented on #4330
I need cluster warming to be included in the release https://github.com/istio/istio/pull/4292

[2018-03-16 18:51] prune998 opened #4331 "can't do automatic proxy injection with sidecar.istio.io/inject=true"
# Expected behaviour
- When `istio-sidecar-injector` is deployed
- When `istio-injection=disabled` is set as a Namespace Label
- When deploying a Pod or Deployment manifest with `sidecar.istio.io/inject: "true"` annotation

I should have a Pod created with an Istio Proxy Sidecar

This is based on the documentation at https://istio.io/docs/setup/kubernetes/sidecar-injection#understanding-what-happe

[2018-03-16 18:56] yutongz commented on #4317
These tests require mixer binary which takes around 5 mins to build. It's going to be a pain for proxy folks to have this in presubmit.

I think the possible solution could be one of the following:
1. Move those scripts/config into istio/istio. When you need to do manual test (assuming not often), you can checkout from istio/istio.
2. Keep them in proxy. And test them against these integration tes

[2018-03-16 18:58] wattli commented on #4317
Agree with Laurent, we can't disable some test because they are not stable. Because it will be harder and harder to bring it back. Unless we really don't need them.

[2018-03-16 19:02] wattli opened #4332 "Add a flag to disable client cert enforcement"
This provides customers the option to disable client cert verification.

[2018-03-16 19:06] ayj commented on #4331
The following should work:

- Change the default policy in the `istio-inject` ConfigMap to "disabled`. See https://istio.io/docs/setup/kubernetes/sidecar-injection#understanding-what-happened
- Change the NamespaceSelector in your [MutatingWebhookConfiguration](https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-sidecar-injector.yaml.tmpl#L90) to select _all_ namespaces t

[2018-03-16 19:33] yutongz opened #4333 "Integration test framework improvement"
We still need to do some more improvement on integration framework (tests/integration) to make it more useful and easy to adopt.

--- 18.03.16
- [ ] Eliminate the use of the entry [script](https://github.com/istio/istio/blob/master/tests/integration/example/integration.sh), i.e. move component related parts into specific components
- [ ] Upload logs as artifacts when running in CI
- [ ] Add entry

[2018-03-16 19:34] yutongz commented on #4333
fyi @hklai and let me know if you have more in your mind.

[2018-03-16 19:45] kyessenov commented on #4319
cc @nmittler I want to move these tests to e2e in pilot as well, since they are not really unit.

[2018-03-16 19:59] cmluciano commented on #4184
We should have the same permissions as the prow plugin. Do you know if that currently limits retest to org members?

[2018-03-16 20:04] kyessenov opened #4334 "Print bootstrap in pilot-agent"
As part of logging "refactor", we've lost logs about the start-up bootstrap config. This makes is impossible to diagnose user issues: https://github.com/istio/issues/issues/169,  https://github.com/istio/issues/issues/173, as well as the recent cert straggler issues. Please bring back the log that printed the bootstrap config.

[2018-03-16 20:16] ldemailly commented on #4317
the rest of the makefile already downloads envoy binary so it should use that and not clone proxy

[2018-03-16 20:38] yusuoh opened #4336 "Test failed on 0.7 RC (pilot/pkg/proxy/envoy/v2)"
Maybe a known issue. But just in case it is not captured by release qualification tests.

Logs:

2018-03-16T20:23:32.658588Z	info	mesh configuration (*v1alpha1.MeshConfig)(0xc4206a80c0)(mixer_check_server:"istio-mixer.istio-system:9091" mixer_report_server:"istio-mixer.istio-system:9091" proxy_listen_port:15001 connect_timeout:<seconds:1 > ingress_class:"istio" ingress_controller_mode:STRICT rds_r

[2018-03-16 20:40] kyessenov commented on #4336
It looks like circle-ci failure?

[2018-03-16 20:45] yusuoh commented on #4336
I ran the test locally by
go test ./pilot/pkg/proxy/envoy/v2/

Maybe some configuration issue.

[2018-03-16 20:46] kyessenov commented on #4336
Why is circleci config hard coded in there? Any ideas?

[2018-03-16 20:49] diemtvu opened #4337 "Pilot config sidecar to enforce authentication policy"
Enforcement of authentication policy will be done by:
- [x]  Configuring SSL connection for mTLS method as described by policy.
- [x]  Adding JwtFilter for Jwt method(s) as described by policy.
- [x]  Adding AuthN filter to apply logic (tracking issue for this [new filter](https://github.com/istio/proxy/issues/1214) )

Parent issue https://github.com/istio/istio/issues/1948

[2018-03-16 20:53] diemtvu commented on #4337
https://github.com/istio/istio/pull/3915
https://github.com/istio/istio/pull/4089
https://github.com/istio/istio/pull/4122

[2018-03-16 20:57] diemtvu commented on #4337
Depends on
https://github.com/istio/proxy/issues/1212
https://github.com/istio/proxy/issues/1213
https://github.com/istio/proxy/issues/1214

[2018-03-16 20:58] yusuoh commented on #4336
We have a config file in the source code:
https://github.com/istio/istio/blob/master/.circleci/config

Not sure why the test is using that.

[2018-03-16 21:06] hklai commented on #4336
And what do you mean by failing on 0.7 RC? Did you sync back to that SHA
and run this test?

These tests seem to run find in post submit however.
https://k8s-testgrid.appspot.com/istio#istio-postsubmit

On Fri, Mar 16, 2018 at 1:58 PM, Yusuo <notifications@github.com> wrote:

[2018-03-16 21:09] yusuoh commented on #4336
@hklai Yes. I did sync to that SHA and run it locally.

@kyessenov The config file is hard coded here:
https://github.com/istio/istio/blob/master/tests/util/pilotServer.go#L78

[2018-03-16 21:10] hklai commented on #4184
To make sure I understand the intent, is this supposed to make circle ci respond to "/retest"?

Flake or not it is a judgement made by the dev, but the bot, right?

[2018-03-16 21:14] hklai commented on #3936
I assume this is part of the bigger test overhaul effort.

To be precise, I think we have two integration test frameworks (yutong's and the one in proxy) and two e2e test framework (pilot and tests/integration), no? Integration and e2e serve different purposes and we should not move integration tests to e2e blindly.

[2018-03-16 21:16] hklai commented on #4336
s/find/fine in my last reply.

It does look like an env problem however since these tests seem to run find in postsubmit in prow. Perhaps it may be because of https://github.com/istio/istio/blob/e75786684f0007fedc2a44e67dee0f659f544070/bin/testEnvLocalK8S.sh?

[2018-03-16 21:33] ldemailly commented on #4317
and btw the test was very stable, it's been green for months, it only broke because of an api change in envoy config (change which could be hit by customers https://github.com/istio/proxy/issues/1210 - I hope not)

[2018-03-16 21:36] wattli opened #4339 "Move istio CA to a separate namespace"
For least privilege concern. Currently mixer/pilot both have access to CA's private key

[2018-03-16 21:44] yutongz commented on #4317
We do use the downloaded envoy binary here https://github.com/istio/istio/blob/master/tests/integration/example/integration.sh#L34, the problem is the start_envoy script

[2018-03-16 21:45] ayj commented on #4339
related: should we consider runlevels to segment istio components? See https://github.com/kubernetes/kubernetes/issues/54522

[2018-03-16 21:47] ldemailly commented on #4317
let's move (/copy for now if needed) start_envoy to istio/istio

[2018-03-16 21:51] mandarjog opened #4340 "Standardize on Helm templates for yaml generation"
At present istio has two ways to generate istio.yaml and other artifacts.

1. `UpdateVersion.sh` and home grown templates
2. Helm 2.7.2

Standardize on `helm template` command as the only way of producing istio artifacts.
`helm` is only used as a templating system.

- [x] Ensure that helm and non-helm yamls are equivalent.
- [x] Use helm generated yamls in all tests
- [ ] Remove `updateVersion`

[2018-03-16 22:05] mandarjog opened #4341 "Pod fails to start: Application container unable to access network before sidecar ready"
When a pod starts, the sidecar and the application containers all start together.

If an application container attempts to access a network service before the sidecar is ready, the connection fails.
1. Access can fail completely if no listener is present on the sidecar
2. Access fails with 404 / 503 if listener is present but no routes are available.

If the application is resilient to its depende

[2018-03-16 22:14] myidpt opened #4342 "Enable smooth root certificate transition"
We need to enable Istio CA to transit the root certificate smoothly without breaking the workload authentication.

[2018-03-16 22:33] hklai commented on #4330
With 0.7.0 no long an LTS release, is #4292 still needed?

[2018-03-16 22:47] #4332 closed

[2018-03-16 23:16] qiwzhang commented on #4317
+1 for copy them over to Istio.

[2018-03-16 23:18] #4147 closed

[2018-03-16 23:20] wattli opened #4345 "Replace httpGet with exec during Kube-inject"
This will solve the http prober issue with mTLS enabled.

[2018-03-16 23:22] ayj commented on #4345
cc @yusuoh

[2018-03-17 00:03] wattli commented on #4345
and we should only do this when auth is enabled.

[2018-03-17 00:22] arodmail commented on #4106
I am getting this same exact error. Tried to create the clusterrolebinding which did not exist in my new cluster:

`sudo kubectl create clusterrolebinding cluster-admin-binding --clusterrole=cluster-admin --user=root`

And then

`sudo kubectl get clusterrolebindings cluster-admin-binding  -o yaml`
[code]

But the error still happens when I run `kubectl apply -f istio-0.6.0/install/kubernetes/istio

[2018-03-17 00:40] theganyo opened #4346 "Mixer allows requests to complete when adapter check handler returns an error"
If a Mixer check handler returns an error, the request continues. This is even the case if an Authorization adapter returns a PermissionDenied value like the following:

	return adapter.CheckResult{
		Status: status.WithPermissionDenied(err.Error()),
	}, err

For all cases where `err` is not nil.

[2018-03-17 05:26] #4041 closed

[2018-03-17 20:56] guptasu commented on #4302
@geeknoid thanks and you are right in protos `//` is the common form of comment.

[2018-03-18 02:37] mattdelco commented on #4230
I made a PR to go-junit-report to add support for CONT/PAUSE.  It was merged so if we update to the latest go-junit-report then it should be okay to re-enable parallelism.

[2018-03-18 15:44] sdake commented on #3018
apologies about all the noise; computer problems are triggering clicks randomly of my mouse.

[2018-03-18 15:47] sdake commented on #3821
Should we wait on this work to merge https://github.com/istio/istio/pull/3935 or merge 3935 and revert later?

Cheers
-steve

[2018-03-18 15:50] #3479 closed

[2018-03-18 16:10] cmluciano commented on #4184
Yes that is correct @hkai . I foresee it being used to retry a suspected flaky run.

[2018-03-18 20:11] loewenstein commented on #3876
Given that the following egress rule whitelists all http traffic on port 80, should we really apply any original_dst cluster magic to http?
[code]
cc @mandarjog (as you brought it up in your comment)

Same applies to where to put the https flag for original_dst clusters for https. If the following egress works (and I suppose it will as soon as SNI sniffing for such egress traffic is in place), wou

[2018-03-19 00:59] aimuke commented on #4320
Thx, @GregHanson

I tried to update rate2detail rule without port, but this didnot work.  It still returns:

[2018-03-19 02:37] myidpt opened #4357 "istio-auth-node-agent service cannot be started"
When following the mesh extension instructions (https://istio.io/docs/setup/kubernetes/mesh-expansion.html), the command `systemctl start istio-auth-node-agent` cannot start the service. The issue is that `--logtostderr` is unknown argument to node agent.

It is specified in file `/lib/systemd/system/istio-auth-node-agent.service` (installed by `dpkg -i istio-sidecar.deb `), where the command to s

[2018-03-19 06:48] reynaldiwijaya commented on #1194
any update on this issue? @costinm @prune998

[2018-03-19 11:26] cmoulliard opened #4359 "Istio Ansible playbooks aren't packaged within distro"
Istio Ansible playbooks aren't packaged within Istio distro (0.6.0, 0.5.0, ...) under `instio/ansible` folder

[code]

[2018-03-19 11:49] prune998 commented on #4331
Thanks for the answer @ayj. I'm testing your proposal right now.
What I understant is that the `policy`, which I thought was the `label` on the Namespace, is in fact the `policy` field in the `Istio-Inject` configmap !

If this is true (will confirm that soon), maybe I did not fully understood the doc, of it could be improved to clearly state that. If it's that simple, I'll try to PR to make it mo

[2018-03-19 12:04] prune998 commented on #4331
BIG thanks @ayj, it's working as you stated. Will try to PR the doc to make it clear

[2018-03-19 12:06] #4331 closed

[2018-03-19 14:03] liukgg commented on #2196
How about this issue now?

[2018-03-19 15:40] rshriram opened #4361 "Pilot: Cleanup old references to Istio Service"
Existing code in pilot/pkg/model refers to v1alpha1 version of IstioService for converting from the Mixer representation of service to routing's representation of service.
These references occur in model/config.go in HTTPApiSpecByDestination, QuotaSpecByDestination, EndUserAuthenticationPolicyByDestination, etc.

v1alpha3 has no notion of Istio service.  So the logic above has to be changed.
Assig

[2018-03-19 16:12] rshriram commented on #3876
Please note that we are not going to have egress rules in 0.8 (its deprecated and in life support mode). ExternalService specification has provisions to allow this kind of traffic.

[2018-03-19 16:30] rshriram opened #4363 "pilot: default passthrough listener/cluster"
I created this issue 5 months ago, somewhere. I can't find it. So recreating it again.

Until Pilot is ready, the envoys in the cluster will not be able to route anything. This results in a general availability problem, as the pods can't complete their health checks, and thus become visible for a given service.

One problem snowballs into another, leading to overall poor experience.

One simple wa

[2018-03-19 16:58] diemtvu commented on #4361
This will be replaced by authentication policy. We will leave EUA as is for now, and it can be removed together with v1 when the time come. Hopefully we have working authN policy by then.

[2018-03-19 18:46] myidpt commented on #4357
This should be fixed in 0.7.0.
Fixed by PR: https://github.com/istio/istio/pull/3759

[2018-03-19 18:46] #4357 closed

[2018-03-19 19:02] loewenstein commented on #3876
@shriram the topic of external https traffic (and the workarounds currently required) was brought up by @ldemailly in the networking group meeting 1st of March and there was general agreement that we won't see SNI in 0.8 but want to have a fix that allows https traffic to external services. Using `original_dst` cluster for port 443 is such a short term solution to the problem.

[2018-03-19 19:30] cmoulliard opened #4366 "Playbook should be extended to allow to install Web Hook"
Current istio ansible playbook doesn't install `web hooks` as described within the doc - see [https://istio.io/docs/setup/kubernetes/sidecar-injection.html](url) - `installing the Web Hook`

Playbook should be extended to allow to install it

[2018-03-19 19:54] shriram commented on #3876
Wrong person. Please don't reference @shriram — it's me, not whoever you're actually looking for.

[2018-03-19 20:00] cmoulliard opened #4368 "ERROR: After approving csr istio-sidecar-injector.istio-system, the signed certificate did not appear on the resource"
Script to `/webhook-create-signed-cert.sh` fails when it is executed against openshift 3.9 = kubernetes 1.9

[code]

[2018-03-19 20:01] metacosm commented on #4368
Yes, I have the same issue.

[2018-03-19 20:17] wattli commented on #4314
@ijsnellf, thanks for the fix, can we mark this as closed now?

[2018-03-19 20:24] rshriram commented on #3876
This has nothing to do with SNI. Setting a orig dst listener on 443 means all internal traffic also ends up being bypassed, on 443. The impact of having a wildcard listener on 443, that acts as a passthrough is not being considered here, given the myriad of all configurations out there.

You can certainly do HTTPS traffic to external services by using the include IP ranges.
By 0.8, v1alpha1 will b

[2018-03-19 20:32] shriram commented on #3876
Please stop copying me. Thanks.

[2018-03-19 20:44] ldemailly commented on #3876
the point @rshriram is that includeIPrange isn't working for all customers and we need another way to not break https outgoing traffic. cc @costinm

[2018-03-19 21:24] myidpt opened #4372 "Align Istio CA API with SPIFFE"
We need to investigate how to align the Istio CA to node agent API with the SPIFFE API specs.

[2018-03-19 22:36] #4372 closed

[2018-03-19 22:40] loewenstein commented on #3876
@ldemailly @costinm In the PR (#4360) @rshriram suggests to instead do this as fallback mechanism in static configuration (see #4363). Bringing it up here in case you missed it.

[2018-03-19 23:32] xiaolanz opened #4378 "Explicit setting to allow all off-mesh egress"
We need to add a setting in egress to allow all off-mesh traffics by default.

[2018-03-20 00:00] costinm commented on #3838
I've started implementing the base CDS, if anyone can help please assign yourself !

[2018-03-20 00:43] incfly commented on #4345
@wattli What command we should use to send http request locally? The workload container image may not have `curl`, could be built by a "FROM SCRATCH" Dockerfile.

[2018-03-20 01:00] ldemailly commented on #4330
given #4292 doesn't have any test or data yet showing improvements - probably not

[2018-03-20 01:03] #4230 closed

[2018-03-20 01:12] kyessenov commented on #4330
Yes, we need to show some evidence there's some (any) impact.

On Mon, Mar 19, 2018 at 6:00 PM Laurent Demailly <notifications@github.com>
wrote:

[2018-03-20 03:17] PiotrSikora commented on #4266
@rkpagadala @hklai it looks that we started shipping debug version of Istio Proxy:

[code]

[code]

I suspect that https://github.com/istio/istio/commit/3988402a2c7a1c6aa94407d71fa227581662271a broke this, but I don't see anything obviously wrong there.

Also, it's worth noting that revisions listed in manifests [[1]] [[2]] used for daily builds are completely bogus and have no relation to those i

[2018-03-20 03:33] ldemailly commented on #4230
thx @mattdelco !

[2018-03-20 03:34] wattli commented on #4345
@incfly , the traffic should be sent from proxy. And we could install curl in proxy image: https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.proxy

[2018-03-20 03:37] ldemailly commented on #4363
That's a very nice workaround for startup and a variety of issues we do have. It would need to be configurable/possible to turn off so a pilot temporary unavailability doesn't turn into a free for all unmonitored access for users who want a tied down (fail close) system, for those we do need a complete, working readiness.

[2018-03-20 03:40] ldemailly commented on #3876
#4363 is interesting and will be very valuable to some users, but there is a middle ground between wide open default and only allowing https outcalls - though maybe if implemented and tested first the "wide open" can work (for people who don't care about mtls/security/etc....)

[2018-03-20 04:01] diegomarangoni commented on #1462
I'm getting the same error.

If I try to `curl` from a non istio-injected pod to a istio-injected one I get several HTTP 431 errors.

_From the non istio-injected pod I run:_
[code]

_On the istio-injected pod I get the following logs:_

[code]

[code]

[2018-03-20 04:13] incfly commented on #4345
Thanks, yeah, realized that we should make dependency util program into container we control.

Taken a look at [Docker.proxy](https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.proxy), it seems that we try to keep its Dockerfile minimal. I'm not sure add `ADD apt-get update && apt-get install -y curl` is a good idea? @ldemailly, @costinm

Should I instead write a simple http binary

[2018-03-20 04:17] ldemailly commented on #4345
it's fine/good to add curl to the proxy (non debug) image

if you wanted a go version you could use `fortio curl ...` but curl itself is about the same size and is (for now ;-) more trusted

[2018-03-20 05:34] ldemailly commented on #4345
btw I just made a http client only version of fortio:

docker run istio/fortio.fcurl:0.8.1-pre1

it's a 2mb docker image (https://hub.docker.com/r/istio/fortio.fcurl/tags/), smaller than curl (3mb compressed https://hub.docker.com/r/appropriate/curl/tags/)
(for future ref)

[2018-03-20 05:51] xiaolanz opened #4385 "TestKeyCertBundleRotator failed racetest"
Run racetest failure.

go test -v -run TestKeyCertBundleRotator ./security/pkg/caclient/... -race

=== RUN   TestKeyCertBundleRotator
2018-03-20T05:49:10.665500Z     info    Will rotate key and cert in 300ms.
2018-03-20T05:49:10.967753Z     info    Retrieve new key and certs.
2018-03-20T05:49:10.967879Z     info    Successfully retrieved new key and certs.
2018-03-20T05:49:10.967974Z     info    W

[2018-03-20 06:17] hklai commented on #4330
@costinm given there will be work to cherrypick #4292 and related PRs, and there is no evidence showing improvements, I'd prefer not to proceed with the cherrypick.

If you think otherwise, please let me know by Tuesday.

[2018-03-20 06:32] loewenstein commented on #3876
@ldemailly I will look into (and probably take over) #4376 in favor of #4360.

I don't see a strong use case for make 443 wide open but everything else please close down and govern strictly.

[2018-03-20 06:35] ldemailly commented on #3876
I do see it: you secure your internal services but for your already secured external services you don't want those to break - ie you want to enforce all traffic is either TLS or mTLS without writing the mTLS code in the app code (ie using istio for inmesh security)

[2018-03-20 06:39] chenleji commented on #984
use NodePort or hostPorts.

[2018-03-20 07:15] xiaolanz commented on #4378
There is alternative view on this matter: https://medium.com/google-cloud/simplifying-microservices-with-istio-in-google-kubernetes-engine-part-ii-7461b1833089

[2018-03-20 07:49] metacosm commented on #4366
Proper link: http://istio.io/docs/setup/kubernetes/sidecar-injection.html

[2018-03-20 07:53] metacosm commented on #4368
Per James Falkner:

[code]

[code]

[2018-03-20 07:54] metacosm commented on #4368
With minishift, this could be done using:
`minishift openshift config set --patch '<valid json of the wanted changes>'`

[2018-03-20 08:04] kdillane commented on #1038
Is this still slated for 0.7.0 release?

[2018-03-20 11:39] prune998 opened #4388 "LDS unexpected service-node: invalid node type egress"
Hi,

Since I upgraded to Istio 0.6.0, the Pilot keeps logging warnings about
[code]

When looking at the logs of `istio-egress`, I do see that it start an envoy container with that node-name :
[code]

Why is Pilot complaining ?

---
Kubernetes 1.9.4 on GKE
Istio 0.6.0

[2018-03-20 14:53] geoand commented on #4368
@metacosm Seems like `minishift openshift config set --patch` is currently broken for Openshift 3.9 running inside Minishift. See [this](https://github.com/minishift/minishift/issues/2156) issue

[2018-03-20 16:46] myidpt commented on #4385
Thanks for the report. This is useful test result. I will take a look.

[2018-03-20 17:04] #3869 closed

[2018-03-20 17:04] douglas-reid opened #4394 "Mixer tracespans (check) no longer appear in service traces in zipkin"
At some point, a change to the tracing setup within Mixer appears to have broken the link between Mixer tracespans and distributed traces for the rest of the service mesh.

Screensnaps:

Trace from istio-ingress (note lack of Mixer):
![ingress](https://user-images.githubusercontent.com/21148125/37670202-f1a79b80-2c25-11e8-809f-bef3578f3f73.png)

Trace for Mixer (Check, which should be reflected in

[2018-03-20 17:21] guptasu commented on #4291
fixed

[2018-03-20 17:21] #4291 closed

[2018-03-20 17:22] guptasu commented on #4197
Done @mandarjog FYI

[2018-03-20 17:22] #4197 closed

[2018-03-20 17:23] guptasu commented on #4196
Done.. @mandarjog FYI

[2018-03-20 17:23] #4196 closed

[2018-03-20 17:54] xiaolanz opened #4395 "Istio should have port annotation to specify L7 protocols over TCP ports"
We had experienced issue when port name "grpc" is used, Istio treats it as HTTP/2 instead of "tcp". Then it failed to accept HTTPS traffic.
       {
                "name": "grpc",
                "nodePort": 32075,
                "port": 443,  -> "tcp"
                "protocol": "TCP",
                "targetPort": 11006
            },

[2018-03-20 17:58] kyessenov commented on #4395
Joy, most of istio features rely on the assumption that the traffic is
HTTP. If we treat everything as just TCP, then there wouldn't be many
features left. Are you looking for an override that does not use the port
name?

On Tue, Mar 20, 2018 at 10:54 AM Joy Zhang <notifications@github.com> wrote:

[2018-03-20 18:08] xiaolanz commented on #4395
Updated the comment into "quotes". I agree that by assuming HTTP, we derives attributes for Mixer to use. First this has to be better documented.

Second, we should have a better way to specify protocols than encoding into names.

[2018-03-20 18:10] kyessenov commented on #4395
Joy, this issue has a long history. K8s makes it difficult to annotate
fields deep in the spec.

On Tue, Mar 20, 2018 at 11:08 AM Joy Zhang <notifications@github.com> wrote:

[2018-03-20 18:11] xiaolanz commented on #4395
Kuat, it would be great if you can link this to some previous discussions.

At this time, it's fair for us just improve the documentation.

[2018-03-20 18:12] mandarjog commented on #4395
I am adding this to Troubleshooting guide.

[2018-03-20 18:35] myidpt opened #4398 "V0.7 is not backward compatible with V0.6"
Some skew tests are failing (using V0.7 control plane with V0.6 data plane):
https://github.com/istio-releases/daily-release/pull/465
We need to fix this before V0.7 release.

[2018-03-20 18:58] incfly commented on #4345
I did some prototype like this:

User app defines a healthz handler and returns ok for first 120s, and then starts to return 500. In the yaml file, user app has httpGet handler specified.

As the proposal suggested, I remove app container's httpGet and add `curl -i localhost/healthz | grep "HTTP.*200" `  in the exec liveness probe for istio-proxy container.

With that modified pod deployed, what I

[2018-03-20 18:58] ag237 commented on #3117
seeing this as well

[2018-03-20 19:33] xiaolanz commented on #4319
attn: #4296

[2018-03-20 19:41] Rigdon commented on #3895
Bumping this again. The _helpers files in the helm directory are still missing in the most [recent daily build arch-specific tarballs ](https://storage.googleapis.com/istio-prerelease/daily-build/0.7.0-pre20180319-09-15/istio-0.7.0-pre20180319-09-15-linux.tar.gz) but are present in the [source tarball](https://storage.googleapis.com/istio-prerelease/daily-build/0.7.0-pre20180319-09-15/source.tar.g

[2018-03-20 20:07] ldemailly commented on #4345
that's just `curl -f localhost/healthz` no need to grep for 200

[2018-03-20 20:09] ayj commented on #4004
Looks like this problem is still happening with readiness checks. See https://storage.googleapis.com/istio-prow/pull/istio-releases_daily-release/472/daily-e2e-rbac-auth-skew/61/build-log.txt.

This means external IP address allocation timed out after 5 minutes. @sebastienvas, any chance per-project quota limits are still an issue with project pre-provisioning?

@ldemailly / @mandarjog , should we

[2018-03-20 20:25] mandarjog commented on #4004
The external IP address was allocated. It looks like this is a pod readiness issue. Is there an additional readiness check?
[code]
ingress was ready in 4 mins.

[2018-03-20 20:30] ayj commented on #4004
Yes, you're right. There is another readiness check to verify a request to the external IP address is forwarded to the istio-ingress pod. We don't care about the specific status value (e.g. connection refused is considered a pass).

[2018-03-20 20:31] guptasu opened #4404 "remote repo adapters should not copy mixer_codegen.sh"
It seems adapters in remote repository need to copy `mixer_codegen.sh`; there is apparently some document generation issue. This is fragile and cause problems when istio proper changes the script in a breaking way, and external adapters have no idea what hit them.

FYI @theganyo

[2018-03-20 21:16] incfly opened #4406 "Change SecretServer interface to set cert and priv key together"
The caller always call them together, see https://github.com/istio/istio/pull/4365#pullrequestreview-105439861 for details.

@myidpt

[2018-03-20 21:51] rkpagadala commented on #4266
@PiotrSikora Working on this.

[2018-03-20 22:45] ldemailly commented on #4266
subscribe

[2018-03-20 23:26] xiaolanz commented on #4235
i need to exclude all CRD tests against apis.

[2018-03-20 23:27] theganyo commented on #4404
Basically, there just needs to be a robust solution for adapters to be able to build against Istio as a vendored dependency.

We've been relying on our own lightly edited version of `mixer_codegen.sh` so we could avoid some assumed paths in the script (around ROOT and GOPATH) that prevented our direct use of the script in vendor. As of now, however, we're no longer able to build our adapter at all

[2018-03-20 23:29] #4270 closed

[2018-03-20 23:38] xiaolanz commented on #4385
blocking #4235

[2018-03-21 00:14] hklai commented on #4266
@rkpagadala  should have a fix soon.

And we will be adding tests to release qualification to prevent problems like this going forward.

[2018-03-21 00:36] chxchx commented on #4398
A potential fix https://github.com/istio-releases/daily-release/pull/476

[2018-03-21 00:39] PiotrSikora opened #4414 "Daily builds don't match istio.deps."
(split from https://github.com/istio/istio/issues/4266)

Revisions listed in manifests (e.g. [[1]] [[2]]) used for daily builds are completely bogus and have no relation to those in `istio.deps`. Is there any reason why correct revisions are not extracted from `istio.deps`? This will backfire sooner rather than later.

[1]: https://storage.googleapis.com/istio-prerelease/daily-build/0.7.0-pre20180

[2018-03-21 00:41] ldemailly commented on #4414
subscribe
(in addition to dailies content, in general everything tagged in a release should line up/match - it checking out v0.7.0 of proxy should get me what was used to build the proxy...)

[2018-03-21 01:31] #4266 closed

[2018-03-21 03:07] douglas-reid commented on #4404
How does relate to the codegen script in `istio/contrib/bin` ?  That should be simpler and easier to use.

Why would third-party adapters be trying to use the vendored copy of `mixer_codegen.sh`?  And is the issue docgen stuff?  If so, should that be separated out?

[2018-03-21 03:38] diemtvu opened #4418 "Test or pre-submit check to make sure types.go is consistent with output from generate_config_crd_types.go"
This is to make sure:
- No manual inputs are allowed.
- Any change in tools or the model config would be reflect correctly (e.g https://github.com/istio/istio/pull/4246 was missing the change in https://github.com/istio/istio/pull/4305 for the script)

[2018-03-21 04:36] theganyo commented on #4404
The prototypical example is here: https://github.com/istio/contrib.

[2018-03-21 05:19] myidpt commented on #4398
Now I can reproduce the error seen in https://github.com/istio-releases/daily-release/pull/465. The error happens when the control plane is deployed by istio-auth.yaml in V0.7.0 candidate, with the modification that Istio ingress uses Envoy image V0.6.0.

In this case, the Istio ingress will fail talking to Pilot, seeing the following error endlessly:
[code]

This is error is only seen on ingress

[2018-03-21 05:20] ldemailly commented on #4336
just curious what exactly did you try / for what purpose ?
(I see 'Local build and test' on https://docs.google.com/spreadsheets/d/11yapqx4KC1MiFQFap9TqLi7LGxaN7Z34QwP_H36k_Ug/edit#gid=0 but I'm not sure what it means)

[2018-03-21 05:46] #3209 closed

[2018-03-21 05:49] xiaolanz opened #4420 "istio.io/istio/tests/e2e/tests/dashboard.TestDashboards/Istio TestDashboards flaky"
see errors: https://k8s-gubernator.appspot.com/build/istio-prow/e2e-cluster_wide-auth/1128

[2018-03-21 16:23] geeknoid commented on #4304
@ZackButcher Can we consider this fixed?

[2018-03-21 16:23] geeknoid commented on #4234
All these teams were deleted...

[2018-03-21 16:23] #4234 closed

[2018-03-21 16:24] #3751 closed

[2018-03-21 16:24] kyessenov commented on #4304
Please link the PR that fixes the tests. For now, the tests are disabled (can be moved to post-submit, if desired).

[2018-03-21 16:27] geeknoid commented on #1778
Docs are now clean.

[2018-03-21 16:27] #1778 closed

[2018-03-21 16:32] geeknoid commented on #2534
Let's mark this as not repro and keep an eye out for recurrence.

[2018-03-21 16:32] #2534 closed

[2018-03-21 16:38] geeknoid commented on #1091
100% coverage in pkg/attribute so I think we're covered.

[2018-03-21 16:38] #1091 closed

[2018-03-21 16:41] kyessenov commented on #1091
I think this is about API management attributes production, right?

On Wed, Mar 21, 2018 at 9:39 AM Martin Taillefer <notifications@github.com>
wrote:

[2018-03-21 16:47] geeknoid commented on #1091
There was no such thing as API management in october, so I wouldn't think so.

[2018-03-21 16:54] ayj commented on #1985
{black,white}listing is already supported. First, you can scope when the webhook is invoked using the `NamespaceSelector` in the webhook registration. Second, you can further refine opt-in / opt-out behavior within those namespaces using the `policy` field in the injection ConfigMap. See https://istio.io/docs/setup/kubernetes/sidecar-injection.html#understanding-what-happened for details.

[2018-03-21 17:00] ayj commented on #2306
Closing this in favor of https://github.com/istio/istio/issues/4378

[2018-03-21 17:00] #2306 closed

[2018-03-21 17:27] robbrit commented on #4404
So we are now able to build our adapter again. The flow is like this:

1. Run dep ensure.
2. Run go generate, which ties into the codegen script. This ends up adding new dependencies and tries to use those dependencies, which fails because they aren't there.
3. Run dep ensure again, it will now fetch the new dependencies.
4. Run go generate again. Hopefully no new dependencies are added, or we hav

[2018-03-21 17:32] geeknoid commented on #4304
So Kuat, you disabled all the cache tests. Did they all show flakyness?

[2018-03-21 17:46] ldemailly commented on #4378
See #4376

[2018-03-21 18:13] kyessenov commented on #4304
3 tests in this package flaked in unrelated PRs. I looked in the code, and they appear to make assumptions about timing and uninterrupted execution (not true in our test environment). I then looked at other tests that use the same pattern, and marked them as skipped. It takes quite a bit of work to discover why and when tests flake, so it's better to apply the same fix across all tests in this pac

[2018-03-21 18:43] wattli commented on #4398
Oliver, thanks for the investigation, i think we should modify the skew test to keep ingress with v0.7

[2018-03-21 18:47] myidpt commented on #4398
Yes. I agree.
@chxchx Could you modify the skew test to only test based on old Envoy for the data plane not control plane?

[2018-03-21 18:50] #4385 closed

[2018-03-21 19:21] ayj opened #4429 "Umbrella issue for application liveliness and readiness probes"
Application liveliness and readiness probes don't work out-of-the-box with Istio in all configurations.

* Readiness probes fails on container init with default envoy config until Pilot provides dynamic config.
* Liveliness and readiness probes with mTLS fail if the probe port is shared with the service port.
* Liveliness and readiness probes are subject to mixer policy checks and telemetry report

[2018-03-21 19:39] rshriram opened #4430 "Handle long cluster names"
our current cluster name length is hardcoded to 189 characters or such. This suffices for most situations, but every now and then, someone's deployment sees a lot of segfaults because they use very long names for their service or subset.

We need to handle this case when building cluster names and more importantly, be able to detect that we are parsing a plain vs condensed cluster name in the EDS

[2018-03-21 19:40] kyessenov commented on #4430
To be clear, the only way around this is by hashing. We just need to teach
the dashboards to recover the human readable names.

On Wed, Mar 21, 2018 at 12:39 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-03-21 19:40] rshriram commented on #1360
This has been solved for a while, but with some holes (#4430 ).
Closing my own issue.

[2018-03-21 19:40] #1360 closed

[2018-03-21 19:41] rshriram commented on #3781
Has been solved by #4403

[2018-03-21 19:42] rshriram commented on #3782
Solved by #4411

[2018-03-21 19:45] geeknoid opened #4431 "Need Istio Secrets API and/or mechanism"
Mixer adapters need to access credentials for the backends they interact with.

At the moment, credentials need to be specified in the clear within an adapter config CRD. This is not acceptable from a security perspetive.

We therefore need a **platform-neutral** way for adapters to gain access to secrets.

[2018-03-21 19:47] geeknoid opened #4432 "Our defaults should be to fail close when calls to Mixer.Check fail"
RIght now, proxy is configured by default to fail open on calls to Mixer.Check. For security reasons, it should be failing close by default.

[2018-03-21 20:00] kyessenov commented on #4431
dupe of https://github.com/istio/api/issues/161?

[2018-03-21 20:00] geeknoid opened #4433 "Improve docs about the HandleXXX method"
We should improve the adapter authoring docs we have to explain the semantics of the HandleXXX method, in particular for CHECK cases. There are basically three returned states:

- YES: request is allowed
- NO: request is not allowed
- UNKNOWN: failure, can't confirm or deny request

The three states are encoded in two return values:

- If err != nil, the returned state is UNKNOWN, and CheckResult

[2018-03-21 20:01] kyessenov commented on #4432
conflicts with https://github.com/istio/istio/pull/4376

[2018-03-21 20:06] geeknoid opened #4434 "Design for safely manipulating secrets"
@kyessenov commented on [Tue Aug 29 2017](https://github.com/istio/api/issues/161)

@ayj commented on [Wed Jun 14 2017](https://github.com/istio/galley/issues/18)

Galley needs a solution to allow producers and consumers of Istio configuration to manipulate references to secrets. The secrets themselves should not be stored in Galley.

---

@ayj commented on [Fri Jun 16 2017](https://github.com/ist

[2018-03-21 20:08] geeknoid commented on #4431
Dupe of #4434

[2018-03-21 20:08] #4431 closed

[2018-03-21 20:13] guptasu opened #4435 "Create InstanceMsg from yaml"
Given template descriptor and instance config yaml, create Assembler during config time. An assembler is a processor that can create bytes during runtime.

[2018-03-21 20:23] guptasu commented on #4435
This Issue to not to make calls, it is just to create bytes. Therefore does not include any gRPC stuff

[2018-03-21 20:25] guptasu commented on #4435
@mandarjog the prototype we worked on is here:
https://github.com/guptasu/istio/tree/jsonToProtoBinary/mixer/cmd/genericGRPC

[2018-03-21 20:27] guptasu opened #4437 "Ingest template descriptors from some new inventory"
@mandarjog FYI

[2018-03-21 20:27] guptasu commented on #4437
Take the descriptors and create a map of unambiguous template name to it's descriptor.

[2018-03-21 20:33] jsenon commented on #3867
Do you have any update please ?

[2018-03-21 20:34] ayj commented on #1365
Automatic sidecar injection is available on k8s >= 1.9 (see https://istio.io/docs/setup/kubernetes/sidecar-injection.html).

[2018-03-21 20:34] #1365 closed

[2018-03-21 20:37] ayj commented on #1382
The automatic sidecar injection (via webhook) supports pod-level injection. Modifying the annotation in the pod template spec should trigger a rolling update which will (re)inject the sidecar into the new pods if the value is `true` or omit it if the value is `false`.

[2018-03-21 20:37] #1382 closed

[2018-03-21 20:39] andraxylia commented on #3781
@rshriram is there a test that proves the issue is solved?

[2018-03-21 20:40] ayj commented on #2092
Automatic sidecar injection supports pod-level injection. *all* pods, regardless of the controller, should have the sidecar injected if the webhook namespace scope and injection policy allows for it.

[2018-03-21 20:40] #2092 closed

[2018-03-21 20:51] hklai commented on #4398
So this is not release blocking. =)

[2018-03-21 20:52] hklai commented on #4238
Folks, is this supposed to be release blocking for 0.7.0?

[2018-03-21 20:54] kyessenov commented on #4238
No, v1alpha3 is still alpha in this release.

On Wed, Mar 21, 2018 at 1:53 PM Andy Lai <notifications@github.com> wrote:

[2018-03-21 21:31] andraxylia commented on #3781
@rshriram @GregHanson until we have UT and tests that actually exercises the v2 and pass, we cannot make the claim v2 CDS work and stop anything else. By looking at the bootstrap file, I see only LDS v2 is exercised:

https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_tmpl.json

[2018-03-21 21:33] myidpt commented on #4398
Digged a little more in this with Mandar. The issue is that Pilot's Envoy does not expose the 15005 port:
[code]

[2018-03-21 21:35] myidpt commented on #4398
Close this issue since the case should not happen in a legitimate upgrade process.

[2018-03-21 21:35] #4398 closed

[2018-03-21 22:43] dtzar commented on #4236
@vadimeisenbergibm so are you saying that if we used the K8s `ExternalName` service, Istio would support an egress rule like the following?

[code]

[2018-03-21 22:58] wattli commented on #1194
"We explicitly create listeners for all health check ports. We also create listeners for all serving ports from the service spec. When the health/liveness port is the same as the normal serving port for the server, we emit an error (since we can't have two listeners on the same port). So long as the health check is HTTP, and the server is serving HTTP on the duplicated port, there's no problem and

[2018-03-21 23:48] xiaolanz opened #4444 "TestMixerInternalFail postsubmit failed."
Test istio.io/istio/mixer/test/client/mixer_internal_fail.TestMixerInternalFail has failed 1 times since it last passed at commit/731ec547f. It started failing between commit/731ec547f (Wed Mar 21 16:03 PDT) and commit/fa01443e6 (Wed Mar 21 16:03 PDT).
Test Overall has failed 1 times since it last passed at commit/731ec547f. It started failing between commit/731ec547f (Wed Mar 21 16:03 PDT) and co

[2018-03-21 23:50] xiaolanz commented on #4444
problem cl? #4426 or #4343

[2018-03-21 23:58] xiaolanz opened #4445 "TestReconnect failed race test"
https://circleci.com/gh/istio/istio/54399

==================
WARNING: DATA RACE
Write at 0x000002c0f760 by goroutine 56:
  istio.io/istio/pilot/pkg/proxy/envoy/v2.ldsPushAll()
      /go/src/istio.io/istio/pilot/pkg/proxy/envoy/v2/lds.go:166 +0x227
  istio.io/istio/pilot/pkg/proxy/envoy/v2.EdsPushAll()
      /go/src/istio.io/istio/pilot/pkg/proxy/envoy/v2/eds.go:395 +0x34
  istio.io/istio/pilot/pk

[2018-03-22 00:14] ldemailly commented on #4444
failed how ? can you put the link to the failed build ?

[2018-03-22 00:15] JimmyCYJ commented on #4444
I think it is https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1277/

[2018-03-22 00:16] ldemailly commented on #4444
[2018-03-21 23:26:35.569][8887][debug][main] external/envoy/source/server/server.cc:164] Unable to initialize config as v2, will retry as v1: Unable to parse JSON as proto (INVALID_ARGUMENT:cluster_manager: Cannot find field.):

@yutongz I thought that didn't go in ? or is it not from your test ?

[2018-03-22 00:24] ldemailly commented on #4444
ah so is it
[code]
then?

[2018-03-22 00:37] JimmyCYJ commented on #4444
This is a flaky test (according to https://prow.istio.io/?repo=istio%2Fistio&job=istio-postsubmit). It starts Envoy and verify Mixer filter config works as expected, then the test changes Mixer filter config and restarts Envoy to load that config. We does not change port numbers for Envoy, so after rebooting Envoy, the test sends request to the same port. I think Envoy fails to bind the ports, tha

[2018-03-22 00:41] gbaufake opened #4447 "[Ansible Installer] Bookinfo is not working with TLS"
## Summary
- After Cloning

``git clone https://github.com/istio/istio``

and executing playbook:

``ansible-playbook main.yml -e '{"istio": {"release_tag_name": "0.6.0", "auth": true, "delete_resources": true, "addon": ["grafana", "prometheus", "jaeger"], "samples": ["bookinfo"]}}``

after product page pod came up well
![image](https://user-images.githubusercontent.com/2313749/37744508-4ac477c8-2

[2018-03-22 00:42] JimmyCYJ commented on #4444
Another option is, we select a new set of ports for Envoy to bind, so that we can still restart Envoy in this test as well as other Mixer client tests.

[2018-03-22 01:09] nmnellis commented on #4250
why not compress/generate the scripts into a single file that get injected into the sidecar? are these lua scripts overly large?

[2018-03-22 01:39] argeualcantara commented on #4250
@nmnellis, this is a possible solution, but does not solve the problem of getting the changes from the configmap without killing the pod, I was also thinking of creating another container which would check for changes in the configmap and force envoy to restart with changes done to the lua file

[2018-03-22 01:52] aimuke opened #4451 "istioctl kube-inject donot support helm variable"
We use helm to manage our app. Can kube-inject supports helm?

There are some variables in deployment as below:
[code]

When we use istioctl kube-inject on this deployment, there will be an error as :
[code]

Will kube-inject support helm and variables?

[2018-03-22 01:53] nmnellis commented on #4250
why use configmaps at all? the entire lua script can be provided inline within the envoy configuration.

[2018-03-22 02:08] aimuke commented on #4320
@GregHanson , I tried to change rate2detail  redirect to detail without port. By this way,  the request fails too.

[code]

[2018-03-22 02:36] mandarjog commented on #4250
Your scrip May have ‘requires’ that include local scripts.

You use config maps to provide seldom changing libraries. Use the filter to provide changeable scripts.

Even if you just change config maps, you need to force a change thru the script for envoy to reload files. So using config maps is still useful but is not a complete solution.

[2018-03-22 03:04] costinm opened #4452 "Possible upgrade problem in 0.7"
In one of my tests I've seen pilot looping with:

018-03-21T23:06:09.651169Z    info    Work item failed (waiting till full synchronization), repeating after delay 1s
2018-03-21T23:06:10.214547Z    error    istio.io/istio/pilot/pkg/config/kube/crd/controller.go:175: Failed to list *crd.Policy: the server could not find the requested resource (get policies.authentication.istio.io)

Deleting the CRD

[2018-03-22 03:04] costinm commented on #4452
https://github.com/istio/istio/issues/1880 may have some related discussion.

[2018-03-22 07:14] xiaolanz opened #4457 "RouteRule resolution bugs"
A number of route rule bugs reported:

Precedence issue:
https://groups.google.com/d/msg/istio-users/zSSmxn-MyHk/umwKzF2hAgAJ
https://groups.google.com/d/msg/istio-users/kUwYJ-1Da5I/YsxEGl5WAgAJ

Matcher issue:
https://groups.google.com/d/msg/istio-users/GH5VpYag_m8/JepDgoXlAQAJ

[2018-03-22 07:22] xiaolanz opened #4458 "mixer TestCheckCache failure postsubmit"
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1128

[2018-03-22 07:23] xiaolanz opened #4459 "istio.io/istio/tests/e2e/tests/upgrade.TestUpgrade failure"
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1128

It seems never passing yet.

[2018-03-22 07:36] xiaolanz commented on #4420
Still failing. https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1156

[2018-03-22 07:43] xiaolanz commented on #4322
Can you clarify the question?

[2018-03-22 07:46] xiaolanz commented on #3960
Per discussion, this setting should be in configMap. cc @ozevren

[2018-03-22 07:53] #4189 closed

[2018-03-22 08:58] metacosm commented on #3428
I'm still seeing similar errors with 0.6.0. This results in 502 errors when trying to access my service from outside the cluster… Would it also be possible to maybe output which field is unknown so that easier diagnostic could be made?

[2018-03-22 10:38] morvencao opened #4460 "Support more options against http request in Route Rule besides http header"
`Istio` now has support selecting rule based on HTTP headers.
For example, we can define a rule that apply to an incoming request if it includes a “cookie” header that contains the certain substring.

But in many case, developers need make a content-based routing rule which depends on http body or request payload...
Although we got a workaround to add respective http header, but that needs extra e

[2018-03-22 11:41] argeualcantara commented on #4250
@mandarjog How do I "force a change thru the script" because I did a change in the file inside the container but they didn't take effect.

[2018-03-22 13:27] vadimeisenbergibm commented on #4236
@dtzar No, you do not need to define an Egress Rule for K8s ExternalName services, they are accessible by default from the Istio mesh.

[2018-03-22 14:18] frankbu commented on #4236
@vadimeisenbergibm We should recommend switching to v1alpha3 ExternalService, as soon as it's working. I have a PR with updated versions of the routing tasks, including your egress-tcp task here: https://github.com/istio/istio.github.io/pull/1067. PTAL. The egress task for http (but not https) works with the current pre0.7 build, the egress-tcp task (https://github.com/istio/istio.github.io/blob/c

[2018-03-22 14:26] vadimeisenbergibm commented on #4236
@frankbu I see, note that in the case being described neither Egress Rule nor ExternalService is required.

[2018-03-22 16:07] douglas-reid commented on #4420
Something is causing Mixer not to load the prometheus adapter:
[code]

[2018-03-22 16:14] yusuoh commented on #3428
Could you please let me know what kind of error message you got and how do you know it is caused by unknown fields?

[2018-03-22 16:26] yusuoh commented on #4459
CC @chxchx

[2018-03-22 17:04] douglas-reid commented on #4323
@tanshungang Right now, reporting to Mixer happens server-side, after the request passes through the mixer client filter on the proxy. What I believe you have discovered (and which I have also seen in passing when testing other features) is that the fault injection filters preempt (if you will) the mixer client filter, resulting in no server-side reporting happens.

There are a few things in the w

[2018-03-22 17:29] ayj commented on #3476
This was possibly fixed with https://github.com/istio/istio/pull/3025. I see logging output with latest from master.

[code]

[2018-03-22 17:46] loewenstein commented on #4432
The PR actually moved to https://github.com/istio/istio/pull/4456

[2018-03-22 17:54] hklai opened #4463 "Add tests for eds reconnect."
We need more test cases to cover eds reconnect.
See https://github.com/istio/istio/pull/4449

[2018-03-22 18:17] #4083 closed

[2018-03-22 18:25] andraxylia commented on #4457
They can be fixed in the alpha3 version only, but we must tests these specific use cases.

[2018-03-22 18:35] ldemailly commented on #3476
oh awesome ! thx!

[2018-03-22 18:35] #3476 closed

[2018-03-22 18:41] yusuoh commented on #4459
Seems to be failing on this line. Maybe we should increase the time for waiting for pods to be reloaded.

I0322 16:49:49.528] 2018-03-22T16:49:49.528013Z	error	Failed to upgrade sidecars.. Error can't get all pods running

[2018-03-22 18:41] Dmitry1987 commented on #4457
@andraxylia I have an issue created earlier too, it is here  https://github.com/istio/issues/issues/237

[2018-03-22 18:42] wattli commented on #2628
http prober for liveness check actually works in Istio with mTLS *disabled*, the "duplicated listener" error is a red herring.

If you actually check pod status with:

$ kubectl get pod sleep-756488dc99-l8r9r
NAME                                      READY     STATUS    RESTARTS   AGE
sleep-756488dc99-l8r9r    2/2            Running    0                    21h

The restart count is actually 0, whi

[2018-03-22 18:42] #2628 closed

[2018-03-22 18:48] prune998 commented on #2628
Maybe you should link a merge request to this issue, showing where the code was changed so the listener is not created twice, so Envoy does not keep logging tons and tons of stuff for the duplicate.

I can confirm that it's in fact working (without mTLS), despite all the warnings

[2018-03-22 18:51] mandarjog commented on #4323
I suspect that the fault filter is being called before mixer filter on the server side.
I will investigate.

[2018-03-22 18:51] andraxylia opened #4468 "Additional RouteRules breaks previous rule with lower precedence"
@Dmitry1987 commented on [Sun Mar 11 2018](https://github.com/istio/issues/issues/237)

**Is this a BUG or FEATURE REQUEST?:**
BUG
**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:
yes, didn't find this combination of rules like mine in other issues
**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you

[2018-03-22 18:56] christian-posta commented on #3895
yah -- i saw this too just now. sent a fix in, hopefully corrects itself for next nightly? not sure if 0.7.0 is built from master or not..

[2018-03-22 19:10] pmichali commented on #4100
Two concerns to consider...

If IPv6 is not configured on the system, I'm guessing that using IPv6 addresses will fail.

Kubernetes currently infers the IP mode from the cluster CIDR and API address, however, once we get to dual-stack, that will no longer work and I suspect some form of "IP mode" configuration would be needed.

[2018-03-22 19:10] guptasu opened #4469 "Pass template name as option into the augmented template. Use this on template descriptor ingestion"

[2018-03-22 19:24] diemtvu opened #4471 ""Rollback" authentication policy version to v1alpha1."
As K8s CRD does not allow multiple version co-exist, rolling up config version require manual removal for the old CRD. This may cause trouble for users using 0.6

As authentication policy is not yet release to public (both alpha1 and 2), we will rollback the version, but still make change to the API. Following steps will be done:

- [x] Copy alpha2 API to alpha1.
- [ ] Update pilot API Sha, then c

[2018-03-22 19:36] diemtvu commented on #4471
+ @qiwzhang @lei-tang FYI, please not update proxy API sha while this is in progress. I'll fix proxy code as soon as pilot problem is resolved. Thanks.

[2018-03-22 19:46] metacosm commented on #3428
@yusuoh The error I see in the logs of the istio-proxy for my pod:
[code]

[2018-03-22 20:07] ldemailly commented on #3476
will file a separate issue that the namespace is now required and didn't use to be

[2018-03-22 20:09] yusuoh commented on #3428
Could you check your sidecar proxy version? It should have been fixed in 0.6.0. It is possible that your control plane has been upgraded but sidecar proxy is still running the old one.

[2018-03-22 20:09] ldemailly opened #4473 "istioctl register requires namespace (doesn't use the default)"
[code]
should use the default instead

[2018-03-22 20:10] yusuoh commented on #4459
#4472

[2018-03-22 20:19] metacosm commented on #3428
Sure, what's the best way to check that?

[2018-03-22 20:23] cmluciano commented on #4203
@xiaolanz Currently Mixer crds are [hardcoded](https://github.com/istio/istio/blob/master/mixer/pkg/config/crd/store.go#L37-L38) to watch for all known types under config.istio.io/v1beta1. Most of the changes have been made for updating the APIs to the desired protos.

We still need to make sure that the [hardcoded apiGroupVersion](https://github.com/istio/istio/blob/master/mixer/pkg/config/crd/st

[2018-03-22 20:23] metacosm commented on #3428
Nevermind, find it, seems like the proxy is indeed in version 0.4.0. I think our injection code might not be working properly. Thank you!

[2018-03-22 20:23] cmluciano commented on #4203
cc @jmuk to be sure I am referring to the correct crd pieces of mixer

[2018-03-22 20:28] hklai commented on #4330
We have moved on to the new RC, and #4292 is included anyway.

In addition, we apparently need to cherypick https://github.com/istio/istio/pull/4449, and the fix for https://github.com/istio/istio/issues/4452

[2018-03-22 20:29] costinm commented on #4463
https://github.com/istio/istio/pull/4475

[2018-03-22 20:39] christian-posta opened #4476 "updateVersion.sh doesn't take HUB into account for helm"
When running `updateVersion.sh` with `-a $HUB,$TAG` arguments, the `hub` value is ignored for helm's values.yaml file. It is hardcoded to docker.io/istionightly which will not work for released/nightly released/tagged distributions of istio

[2018-03-22 20:44] kyessenov opened #4479 "Tracing decorator for the server-side sidecar"
The inbound HTTP routes currently ignores the client routing used to address it:
- listener on port POD_PORT
- routes on virtual host "*", sent passthrough

What tracing decorator should we insert here?

@rshriram thinks that we should attempt to infer all the ways the client address the workload, and insert a routing table analogous to the virtual services, and use the virtual service name as the

[2018-03-22 20:46] kyessenov opened #4480 "Websocket upgrade server setting"
Another instance where the server-side envoy attempts to guess the client-side envoy settings: websocket upgrade flag. The code tries to enumerate all routes that _may_ lead to the server-side envoy, and then apply the flag if it finds any that require websockets. This seems fragile (coordination between client and service side envoys is impossible, server may not guess client correctly).

cc @lou

[2018-03-22 20:48] diemtvu commented on #4330
Tracker for authn policy version issue.
https://github.com/istio/istio/issues/4471

[2018-03-22 20:58] costinm opened #4481 "Locality affinity support"
Edit: outcome of discussion in slack:

In EDS code, we will maintain a per zone EDS, where all endpoints in local zone will get 75% traffic and those in remote zones will get rest 25%.

Configuration considerations:

**EDS Configuration**

- Supplying of core.Locality in LocalityLbEndpoints.
- Setting of load_balancing_weight field

**CDS Common LB Configuration**

- Locality_weighted_lb_config en

[2018-03-22 20:59] costinm commented on #4481
+sdake - if you have some bandwidth for the multi-cluster parts ( or the entire thing ).

[2018-03-22 21:00] ldemailly opened #4482 "update vendor for 0.8 cycle"
Once 0.7 is cut we need to update
https://github.com/istio/istio/blob/master/Gopkg.toml

I think we should try removing it entirely and running dep init again (then put back pruning and make depend.update) to start from less constrained - and rev up k8s api etc

Same for istio/api (unless we also fold that one back here by then)

[2018-03-22 21:00] kyessenov commented on #4481
Locality LB endpoints are somewhat orthogonal to cluster zones in Envoy.
PTAL
https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/endpoint/endpoint.proto#L6
3

On Thu, Mar 22, 2018 at 1:59 PM Costin Manolache <notifications@github.com>
wrote:

[2018-03-22 21:04] incfly opened #4483 "SecretServer supports multiple workload identity"
We need this because NodeAgent manages more than one workload identities. Will be part of efforst of #4190.

@wattli @myidpt

[2018-03-22 21:08] mandarjog opened #4484 "Istio Logging enhancements"
At present mixer (et al) logging is an all or nothing affair. Enabling level=`debug` creates a torrent of logs.

- [x] Ensure that `debug` only applies to istio component. It should not apply to dependencies like `client-go` which adds to log noise
- [x] Create a special category for (safe) attribute logging
- [ ] Start time per component / package log level
- [x] Runtime per component / package l

[2018-03-22 21:12] xiaolanz commented on #4297
Can you try this:
https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#accessing-the-api-from-a-pod

[2018-03-22 21:12] spikecurtis commented on #4100
I think the answer here depends on what these constants are being used for. This might require chasing through code paths. I think in most cases, we can handle v4 and v6 simultaneously. This helps future proof systems for dual stack.

For example, if they're being used to bind sockets, we might try binding both v6 and v4. As long as at least one succeeds, we assume success and carry on. (But log f

[2018-03-22 21:23] ldemailly commented on #4330
if rebuilding from master I guess you need #4474

[2018-03-22 21:36] xiaolanz commented on #4445
block #4235

[2018-03-22 21:36] xiaolanz opened #4486 "TestCrdsRetryMakeSucceed in mixer failed racetest"
WARNING: DATA RACE
Write at 0x0000021e5698 by goroutine 43:
  istio.io/istio/mixer/pkg/config/crd.getTempClient()
      /go/src/istio.io/istio/mixer/pkg/config/crd/store_test.go:132 +0x4f
  istio.io/istio/mixer/pkg/config/crd.TestCrdsRetryMakeSucceed()
      /go/src/istio.io/istio/mixer/pkg/config/crd/store_test.go:341 +0x508
  testing.tRunner()
      /usr/local/go/src/testing/testing.go:777 +0x16

[2018-03-22 21:37] xiaolanz commented on #4486
block #4235

[2018-03-22 21:37] geeknoid commented on #4484
I want to add a general notion of log areas. Areas will be registered at startup for a process and the user will be able to list areas and enable/disable different areas.

[2018-03-22 21:42] ldemailly commented on #4484
Thanks for this follow up on #2400

[2018-03-22 22:02] mandarjog commented on #4458
Since mixer cache is maintained per thread, sending two requests does not guarantee a cache hit.

Update the test to send at least 1 + number threads requests which should guarantee a cache hit.

[2018-03-22 22:30] costinm commented on #4314
@ijsnellf  Thanks for the fix - but that's just hiding 2 much bigger problems.

Can you add back the (broken) rule first, so we can repro the 2 problems:
1. In some cases we seem to generate spiffee = null - not clear what and how, but we need to find the correct value.
2. Null should never be generated - it makes the entire CDS invalid and nothing will work in the mesh until the rule is removed.

[2018-03-22 22:30] costinm commented on #4314
@mandarjog

[2018-03-22 22:32] #4444 closed

[2018-03-22 22:35] ldemailly commented on #4444
why is that ?

[2018-03-22 22:49] christian-posta opened #4488 "Configure cluster panic threshold for circuit breaking"
We should be able to tune the cluster panic threshold through DestinationPolicy/Rules. This config has been exposed in Envoy here:

https://github.com/envoyproxy/envoy/issues/2463

This would allow us to tune how much of the load balancing pool can become unhealthy before we panic, including allowing all of it to become unhealthy.

[2018-03-22 22:55] JimmyCYJ commented on #4444
The test failure shows that Envoy binds to port 20053, which is admin port. After finishing some test steps, we change the config and restart Envoy, we use the same set of ports for Envoy to bind, but the port is not freed, so Envoy fails to bind. I think it takes time for the kernel to release all these ports.
PR# [4465](https://github.com/istio/istio/pull/4465), changed test setup, now when we r

[2018-03-22 22:59] ldemailly commented on #4444
unless we have linger options or not exit properly ports shouldnt stay busy but I guess it's good to check

[2018-03-22 23:20] incfly opened #4491 "Mount key cert files to workload via FlexVolumeDriver"
Step 2 for #4190

The end result is to make key-cert visible from workload pod via flexvolume drive. NodeAgent will writes key/cert to different path, say, /host/driver/sa1. And we use `istioctl kube-inject` to mount /host/driver/sa1 to a /etc/certs/ for the workload.

Note that we have to make different workload (same identity) share the key cert, but that should be fine.

This work will be aband

[2018-03-22 23:51] gyliu513 opened #4494 "istio-proxy do not have curl command"
I was testing the mutual tls part for istio by following https://istio.io/docs/tasks/security/mutual-tls.html , but found issues that `istio-proxy` do not have `curl` command.

[code]

[2018-03-23 00:12] mandarjog commented on #3099
@Stono sorry for the late reply. Just coming back to this.
Can you confirm the following

`conference`, `rate-of-sale` and `sauron` are correctly being reported as http services.
`ingress-nginx-external` is reported as tcp and http (perhaps correct?)
and
`consumer`, `search` and `ingress-nginx-internal` are tcp only, which was the original problem.

[2018-03-23 00:26] liminw commented on #4330
Please include the bug fix for Istio RBAC https://github.com/istio/istio/pull/4489

[2018-03-23 00:28] diemtvu commented on #4330
PRs for authn policy version:

https://github.com/istio/api/pull/429
https://github.com/istio/istio/pull/4485

(also need api update PR mentioned by ldemailly https://github.com/istio/istio/pull/4474)

[2018-03-23 01:57] diemtvu commented on #4330
One more PR needed: https://github.com/istio/istio/pull/4497

[2018-03-23 04:25] #3926 closed

[2018-03-23 05:34] s332401890 opened #4499 "bookinfo example ,reviews CrashLoopBackOff"
i find this at 0.6.0 release.

kubectl version
[code]

pods inof

[code]

istio info

[code]

kubectl logs deployment/reviews-v1 istio-proxy

[code]

[2018-03-23 06:51] hklai commented on #4330
Needs https://github.com/istio/istio/pull/4472 to fix a test as well.

[2018-03-23 07:11] #4471 closed

[2018-03-23 09:40] #4317 closed

[2018-03-23 10:57] metacosm commented on #2491
It would also be interesting if that version output would also output which version of Envoy is being used.

[2018-03-23 11:01] metacosm commented on #4488
@christian-posta do you think it's possible to change the Envoy configuration directly for now? If yes, how?

[2018-03-23 13:24] cmluciano opened #4500 "proxy: init container cannot manipulate iptables with selinux enforcing"
When selinux is enforcing withing RHEL, the iptables rules do not appear properly setup when the init container runs.

Second error (and forever after) the init container is run: `iptables: Chain already exists`

with selinux set to enforcing, the following error appears

[code]

istio version: 0.6.0
OS: RHEL 7.4
Environment:  OpenShift Origin 3.9 rc / kube 1.9

[2018-03-23 13:32] cmluciano commented on #4500
Possibly related issues:

https://github.com/istio/issues/issues/34
https://github.com/istio/issues/issues/172
https://github.com/istio/istio/issues/1435

[2018-03-23 13:39] cmluciano commented on #4500
FWIW upstream k8s discussion on NET_ADMIN policy https://github.com/kubernetes/kubernetes/issues/55435#issuecomment-366703250

[2018-03-23 13:52] thoraxe commented on #4500
[code]

Also
[code]

And
[code]

[2018-03-23 13:54] thoraxe commented on #4500
Command to launch some things:

[code]

https://github.com/jamesfalkner/istio-lab-summit-2018/blob/master/src/customer/src/main/kubernetes/Deployment.yml is the referenced source file. `istioctl` is injecting the sidecar and init.

[2018-03-23 14:14] cmluciano commented on #4500
@thoraxe For version  v3.9.0-alpha.3+78ddc10 is this something that one would have to download and start for the Openshift repo? It doesn't look like I can launch that with minishift.

[2018-03-23 14:16] yusuoh commented on #4459
The test is passing now.

https://k8s-testgrid.appspot.com/istio#e2e-suite-rbac-auth

[2018-03-23 14:16] #4459 closed

[2018-03-23 14:39] thoraxe commented on #4500
This more or less gets you there...

[code]

[2018-03-23 15:29] cmluciano commented on #4500
great! And just to be sure that I run under the exact conditions, are you docker or CRI-O and can you list the version of these?

[2018-03-23 15:34] joewilliams opened #4501 "node_agent connectivity issues"
I am attempting to use node_agent to perform some mTLS testing within kube and istio. As far as I can tell the pod should have connectivity (curl seems to work) to istio-ca but things seem to timeout or get connection refused depending on how I connect (below, DNS vs IP). I haven't made much progress digging through https://github.com/istio/istio/tree/master/security or the [grpc lib](https://gith

[2018-03-23 15:47] geeknoid commented on #4304
Fixed by #4442

[2018-03-23 15:47] #4304 closed

[2018-03-23 16:28] bobbytables commented on #4468
Is this being worked on? This bug makes RouteRules + Ingress unusable in production environments.

[2018-03-23 16:40] thoraxe commented on #4500
[code]

Sorry about that. Good point.

[2018-03-23 17:09] douglas-reid commented on #4420
@xiaolanz the latest link you posted doesn't appear to have recent code changes (ie., there are no `waiting for Mixer to be configured...` log lines and all of the failings appear entirely related to infrastructure issues.

[2018-03-23 17:12] diemtvu commented on #4452
This is related to https://github.com/istio/istio/issues/4471. The fix is rolling back the version number, so customers won't have problem when moving from .6 to .7.

Early testers / devels who build and use binary from head may need to remove authn policy CRD on their test clusters manually once.

`kubectl delete crd policies.authentication.istio.io`

[2018-03-23 17:12] #4452 closed

[2018-03-23 18:20] thoraxe commented on #4500
The deployment in my examples/reproducer uses images that are not public, but are built onto the host.

https://github.com/jamesfalkner/istio-lab-summit-2018

If you clone this repo and then install Maven and Java:

[code]

Then you can run the build script:

[code]

This will result in the various images being locally available in the Docker daemon image cache.

[2018-03-23 18:44] hklai commented on #4330
A new RC is available at https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.7.0-pre20180323-09-15/

[2018-03-23 19:20] cmluciano commented on #4500
Ok just tried this out with the same settings on RHEL with Selinux

[code]

I get the following error when I try to launch the sleep pod

[code]

I'm not sure if this is a red herring or not since it may suggest that my project doesn't have the correct Openshift settings.

[2018-03-23 19:29] thoraxe commented on #4500
Yup. now do:

`grep deni /var/log/audit/audit.log` and you'll see an AVC denial.

Then `setenforce=0` and try again.

[2018-03-23 20:13] joewilliams commented on #4501
This was a configuration issue, I was using the proxy_init container and the injected iptables rules were blocking my connections.

[2018-03-23 20:13] #4501 closed

[2018-03-23 20:21] overip opened #4514 "mTLS Testing tutorial"
I was trying to test the mTLS following the tutorial here https://istio.io/docs/tasks/security/mutual-tls.html
The problem is in "Step 4" of the "Testing the authentication setup" part, in which you are supposed to log into the productpage proxy and send requests to another service, for example, details using curl. Curl is not installed in the proxy, and its filesystem is read only, so you can't j

[2018-03-23 21:13] #3927 closed

[2018-03-24 00:25] incfly commented on #4483
I realize that currently the cert SecretServer writes to is for ca client. And in VM mode, it happens to be the same identity (since VM mode only one identity is supported on a node)

I think that causes some confusion from now on in k8s case, where ca client identity != workload identity.

I think we can make it\\
- `/etc/certs/.` is for ca client on node agent
- `/etc/certs/<sa>/` is for the wor

[2018-03-24 01:18] ldemailly commented on #4330
perf wise it's good to go from my smoke test :tada:

[2018-03-24 13:19] jsenon commented on #4494
Same as #4514

[2018-03-25 04:12] #4002 closed

[2018-03-25 17:44] jsenon commented on #4514
Do we update documentation /cc @ayj, do we add curl into istio-proxy image ? or do we have to use istio-proxy:debug ? /cc @ldemailly

[2018-03-25 23:20] gyliu513 commented on #4494
Cool, let me close this one and let's track the issue in #4514

[2018-03-25 23:20] #4494 closed

[2018-03-26 02:54] aimuke commented on #4320
This issue is solved.
https://groups.google.com/forum/#!topic/istio-users/4hAjdIOFIQA

The reason is that a rewrite doesn't change the destination of a request, it only updates the header value in the request. So this place I should use route to change the destination, like below:

[code]

[2018-03-26 02:54] #4320 closed

[2018-03-26 05:41] morvencao commented on #4009
Same issue in my env.

[2018-03-26 13:24] tommyJimmy87 opened #4524 "SSL Error Between Sidecar Service and Kafka"
This is my scenario :

Aws
Kubernetes 1.7.2
Istio 0.6
Kafka Stream Application
Kafka Cluster (with SSL and SASL Enabled)

I installed Istio Auth in istio-system namespace and so far is ok.
I Deployed a Kafka Cluster (3 brokers) in another namespace (test) with the configuration for SSL and SASL without a sidecar.
I Deployed a Kafka Stream Application with a Sidecar in the same kafka's namespace (t

[2018-03-26 13:50] rshriram commented on #4481
None of this will work until we sort out how to update the service zone of the proxy with mTLS enabled. We need to restart Envoy with the appropriate service zone since we don’t have access to the pod’s az during startup. Alternatively, we invest time in making that piece dynamic in Envoy.

[2018-03-26 15:44] #3895 closed

[2018-03-26 15:56] cmluciano commented on #4500
I have a few results after more testing and found a few issues:

## Sidecar defaults
In our docs we mention several ways of injecting the sidecar but the logic and instructions do not inherently require someone to use the [istio-inject configmap](https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-sidecar-injector-configmap-release.yaml.tmpl). During setup we recommend bo

[2018-03-26 15:57] cmluciano commented on #4500
cc @ayj @costinm ^

[2018-03-26 16:01] ostromart commented on #4445
Another change made it in before PR above that also fixes this issue.

[2018-03-26 16:01] #4445 closed

[2018-03-26 16:17] xiaolanz commented on #4445
@ostromart can you reference to the other PR here? Thanks

[2018-03-26 16:26] ostromart commented on #4445
https://github.com/istio/istio/pull/4475

[2018-03-26 18:08] ldemailly commented on #2367
This a new analysis:

https://groups.google.com/d/msgid/istio-config/CALuuQPAPo91QBpCgrtSp2G0crKOA2xikZ6346aN7qn4LhPbDBQ%40mail.gmail.com

[2018-03-26 18:10] #4097 closed

[2018-03-26 18:34] rosenhouse commented on #1424
The Cloud Foundry team is interested in this feature for our ingress-like use-case.  Is this something we might be able to pick up?  Anyone want to help us estimate the scope involved?

[2018-03-26 18:35] ldemailly commented on #4514
#4384

[2018-03-26 18:44] jmiller-boundless opened #4530 "Deploy Mixer Custom Adapter Instuctions Not Working"
Followed instructions located at
https://github.com/istio/istio/blob/master/mixer/doc/deploy-mixer-with-custom-adapter.md
to deploy a custom Mixer adapter.  Running **_bazel run //mixer/docker:mixer_** from istio.io/istio directory returns _**ERROR: The 'run' command is only supported from within a workspace.**_

Adding an empty "WORKSPACE" file and rerunning the command just yields:
**_ERROR: Ski

[2018-03-26 19:10] christian-posta commented on #4530
Unfortunately, it looks like this doco is out of date.

See here for how mixer gets built:

https://github.com/istio/istio/blob/master/Makefile#L342

See this file for how the docker images get built:

https://github.com/istio/istio/blob/master/tools/istio-docker.mk

[2018-03-26 19:32] cmluciano commented on #4203
cc @mandarjog @ozevren

[2018-03-26 20:12] ayj commented on #4500
By default istioctl uses the embedded configuration template defined in https://github.com/istio/istio/blob/master/pilot/pkg/kube/inject/mesh.go. The `injectConfigMapName` and `injectConfigFile` flags override these defaults. The former configmap flag would typically be set to `istio-inject` (which corresponds to the [sidecar injection configmap](https://github.com/istio/istio/blob/master/install/

[2018-03-26 20:28] ayj commented on #4215
fixed by https://github.com/istio/istio/pull/4290

[2018-03-26 20:28] #4215 closed

[2018-03-26 20:31] #4476 closed

[2018-03-26 20:48] xiaolanz opened #4533 "TestRefreshAndPurge flaky in racetest"
=== RUN   TestRefreshAndPurge
==================
WARNING: DATA RACE
Write at 0x00c4203bcf40 by goroutine 359:
  istio.io/istio/mixer/adapter/list.TestRefreshAndPurge()
      /go/src/istio.io/istio/mixer/adapter/list/list_test.go:512 +0x4f2
  testing.tRunner()
      /usr/local/go/src/testing/testing.go:777 +0x16d

Previous write at 0x00c4203bcf40 by goroutine 1001:
  istio.io/istio/mixer/adapter/li

[2018-03-26 20:48] xiaolanz commented on #4533
blocking #4235

[2018-03-26 21:13] ozevren commented on #4116
@ayj , do you plan to work on this? If not, is there a good person to assign this to?

[2018-03-26 21:16] wattli commented on #4514
I will add a note in that page

[2018-03-26 21:17] ayj commented on #4116
The EndUserAuthenticationPolicySpec is deprecated in favor of the [authentication policy](https://github.com/istio/api/blob/master/mixer/v1/config/client/auth.proto#L15) that @diemtvu  is working on (see https://github.com/istio/api/blob/master/mixer/v1/config/client/auth.proto#L15).

[2018-03-26 21:45] douglas-reid commented on #4530
@jmiller-boundless I'm sorry you ran into this. When we moved off of bazel, those instructions were not updated, as there was a large amount of churn and little desire to fight that churn via docs. Things have settled down more reasonably now, and we will be updating those docs in short order (with any luck).

[2018-03-26 21:50] wattli commented on #4514
curl is expensive, i add a note to that page about how to specify proxy_debug

[2018-03-26 21:53] ldemailly commented on #4514
in what way(s) ?

(I know we want to ultimately support native http health checks well, yet in the meantime curl is a practical solution, no ?)

@wattli  we can't ask production use cases to use proxy_debug

[2018-03-26 21:53] wattli commented on #4514
https://github.com/istio/istio.github.io/pull/1097

[2018-03-26 21:54] wattli commented on #4514
@ldemailly , this thread is not about health check or production use case. It's about https://istio.io/docs/tasks/security/mutual-tls.html does not work.

[2018-03-26 21:55] ldemailly commented on #4514
yes you're right, for that it is fine
(though we should anyway add curl but we can revert the doc later/once we do)

thanks!

[2018-03-26 22:00] #4458 closed, assigned to mandarjog, bianpengyuan

[2018-03-26 22:51] mandarjog commented on #4340
first 2 steps done via #4001

[2018-03-26 22:57] hklai opened #4536 "Support integration/e2e tests on local machines"
Context: https://goo.gl/2DPP5o

Figure out and document the steps to run integration/e2e tests using a local cluster (e.g. using Docker on mac/windows, and possibly minikube on linux similar to circleci), instead of having to set up GCP and GKE.

[2018-03-26 23:13] hklai opened #4537 "Design a test categorization scheme to properly identify unit, integration, and e2e tests"
Context: https://goo.gl/2DPP5o

[2018-03-26 23:18] hklai opened #4538 "Migrate all tests to follow the new categorization scheme"
Context: https://goo.gl/2DPP5o

- Identifies all existing unit tests that violate the test principles (https://docs.google.com/document/d/1IFd9AgROXvWp0HR_Lh3r5eEv3dYh0AT3qNC1s1nG9xc/edit?ts=5ab13fce), and rewrite them or move them to integration/e2e.

- Migrate all tests to follow the new scheme.

[2018-03-26 23:21] hklai opened #4539 "Test Categorization Enforcement"
Context: https://goo.gl/2DPP5o

Implement enforcement or linter to make sure unit tests have no external dependencies, long running operations, or sleep.

[2018-03-26 23:25] hklai opened #4540 "Capture Test Metric"

[2018-03-26 23:33] #4486 closed

[2018-03-26 23:33] hklai opened #4541 "Testing SWAT Effort"
Context: https://goo.gl/2DPP5o

[2018-03-26 23:35] hklai opened #4542 "Evaluate and Adjust CI capacity"

[2018-03-26 23:54] hklai opened #4545 "Design and Implement an Extensible Testing Framework"

[2018-03-26 23:58] mandarjog opened #4547 "e2e-suite-rbac-auth failure: Invalid: roleRef: Invalid value"
https://storage.googleapis.com/istio-prow/pull/istio_istio/4001/e2e-suite-rbac-auth/1217/build-log.txt

[code]

[2018-03-26 23:59] hklai opened #4548 "Port All E2E and Integration Tests to the New Framework"
Context: https://goo.gl/2DPP5o

[2018-03-27 01:18] linsun commented on #4271
BTW, I had a test case to reproduce this issue and I was able to fix it by creating this web hook:

https://github.com/linsun/istioluawebhook by configuring the soft watermark to be a lot larger than the default.  cc @PiotrSikora

[2018-03-27 03:24] wattli commented on #4514
PR is merged, and will be visible on istio.io in 0.7 release

[2018-03-27 03:24] #4514 closed

[2018-03-27 05:34] xiaolanz opened #4554 "TestSyncer is race flaky"
==================
WARNING: DATA RACE
Read at 0x00c420445b40 by goroutine 81:
  istio.io/istio/vendor/k8s.io/client-go/tools/leaderelection.(*LeaderElector).IsLeader()
      /go/src/istio.io/istio/vendor/k8s.io/client-go/tools/leaderelection/leaderelection.go:168 +0x78
  istio.io/istio/vendor/k8s.io/ingress/core/pkg/ingress/status.(*statusSync).sync()
      /go/src/istio.io/istio/vendor/k8s.io/ing

[2018-03-27 05:34] xiaolanz commented on #4554
blocking #4235

[2018-03-27 05:52] #3818 closed

[2018-03-27 07:45] lukasz-bielinski commented on #4499
@s332401890 i believe you need to move this ticket to https://github.com/istio/issues/issues
by the way fyi i have exactly same issue

[2018-03-27 13:08] jmiller-boundless commented on #4530
Thanks christian-posta.  We followed these steps and are now checking to see if it worked:
1)Created an istio.io directory under $GOPATH/src
2)Cloned https://github.com/istio/istio into that directory
3)Ran "dep ensure" to make sure we had the correct GO dependency versions of everything
4)Followed the instructions in https://github.com/istio/istio/blob/master/mixer/doc/adapter-development-walkthr

[2018-03-27 14:01] mandarjog commented on #4530
`istio-docker.mk` should already be included in the top level makefile.
`bin/gobuild.sh` ensures correct platform and it also creates a fully static binary so it would be better if you use it.

[2018-03-27 14:47] cmluciano commented on #2985
@nmittler #3663 is merged, do we need a similar update for circleci?

[2018-03-27 14:51] jmiller-boundless commented on #4530
Ok, before running make docker.mixer I am running the following to compile from the istio.io/istio directory:
bin/gobuild.sh ~/go/bin/mixs pkg/version ./mixer/cmd/mixs
If that seems correct I will go ahead and close the issue and hopefully it will help other folks who get stuck before the documentation gets updated

[2018-03-27 15:07] vadimeisenbergibm commented on #3037
Egress rules e2e disabled by https://github.com/istio/istio/pull/4092 so the issue is not relevant.

[2018-03-27 15:07] #3037 closed

[2018-03-27 15:30] cmluciano commented on #3181
@mangchiandjjoe Are you still working on this issue? cc @wattli

[2018-03-27 15:34] geoand commented on #4368
FYI, this should be fixed in `minishift v1.15.0`

[2018-03-27 15:42] vadimeisenbergibm commented on #3485
Closing the issue, the tests to external services will fail from time to time.

[2018-03-27 15:42] #3485 closed

[2018-03-27 15:49] cmluciano commented on #3414
@mattdelco @kyessenov Anymore input on this?

[2018-03-27 15:53] cmluciano commented on #3222
@nmittler Not sure if this is still failing frequently. Can you update the status of this issue?

[2018-03-27 16:00] nmittler commented on #3222
I don't think we're seeing this anymore.  Closing for now.

[2018-03-27 16:00] #3222 closed

[2018-03-27 16:04] cmluciano commented on #3609
@hklai Is https://prow.istio.io/?author=istio-release-robot sufficient? I'm not sure if this is useful to add to the on-call or test docs.

[2018-03-27 16:06] cmluciano commented on #3645
Any progress here @hklai ?

Would we like to fail fast if we detect that we are in this state?

[2018-03-27 16:26] xiaolanz opened #4560 "TestValidatorCacheDoubleEdits crashing in racetest"
blocking #4235

=== RUN   TestValidatorCacheDoubleEdits/put-put-3
2018-03-23T02:40:03.204614Z	info	Publishing 1 events
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x48 pc=0x175fd67]

goroutine 111 [running]:
istio.io/istio/mixer/pkg/runtime2/validator.(*validatorCache).applyChanges(0xc420ad4260, 0xc42045e000, 0x1, 0x

[2018-03-27 16:30] cmluciano commented on #3686
I've tried reproducing this locally a few times and it passed every time. I also don't see it highlighted in the build insights in circle.

[2018-03-27 16:30] #3686 closed

[2018-03-27 16:34] cmluciano commented on #3731
@hklai @costinm Any ideas if this is still relevant?

[2018-03-27 16:41] douglas-reid commented on #4530
@jmiller-boundless can you try the steps in https://github.com/istio/istio/pull/4561 ? I'd like to have validation that they work for others too.

[2018-03-27 16:43] cmluciano commented on #3789
@xiaolanz I'm not seeing this failure locally when I run the racetest. Is this issue still relevant?

[2018-03-27 16:44] cmluciano commented on #4004
Anymore progress on this issue?

[2018-03-27 16:46] cmluciano commented on #4017
@GregHanson Is this issue still relevant?

[2018-03-27 16:47] ayj commented on #4004
The specific issue of tests starting before pods are ready (i.e. still initializing) should be resolved by https://github.com/istio/istio/pull/4050.

[2018-03-27 16:48] cmluciano commented on #4018
@vadimeisenbergibm I think this might be panic'ing based on many unsuccessful failures to reach external services

[2018-03-27 16:50] cmluciano commented on #4126
Can we update this issue with remaining tasks?

[2018-03-27 16:52] nmittler commented on #2985
@cmluciano IIRC, circleci uses minikube which shouldn't have the same problems.

[2018-03-27 16:53] cmluciano commented on #4303
@mandarjog Is this related to failures in #4506 failures ?

[2018-03-27 16:54] cmluciano commented on #2985
Cool, is this issue closable ?

[2018-03-27 17:00] cmluciano commented on #4319
@xiaolanz Is this fixed by #4510

[2018-03-27 17:14] ldemailly commented on #4004
it's fixed now afaik

[2018-03-27 17:14] #4004 closed

[2018-03-27 17:19] cmluciano commented on #4203
@mandarjog Do we want to switch to a static list instead of building at startup time? I know we were considering this for the adapters.

[2018-03-27 17:33] hklai commented on #3609
There is a big overlap between release tests and post submit tests, which oncall already covers.

(At the moment, the same tests apparently are failing in both. https://prow.istio.io/?repo=istio%2Fistio&type=postsubmit)

Since there isn't much oncall can do with daily release, I don't think it is useful to an it to the oncall doc for now.

[2018-03-27 17:45] nmittler commented on #2985
@cmluciano I believe some of the route tests are flaky ... it's not related to #3663.

[2018-03-27 17:49] jeffmendoza opened #4565 "Adapter integration get state error"
There probably should be some action here on error:

https://github.com/istio/istio/blob/5f1e8a2b9215b024704f13267a4f763ae24ef32b/mixer/pkg/adapter/test/integration.go#L205

Not sure what the action should be though.

[2018-03-27 17:51] cmluciano opened #4566 "bump Makefile Go version to 1.10.1 when released"
We should update the minimum version of Golang to 1.10.1 [here](https://github.com/istio/istio/blob/master/Makefile#L137) once it is released

[2018-03-27 17:59] hklai commented on #3645
e2e-suite-rbac-auth runs in postsubmit automatically and it only runs after unit tests are done (and with all images created). I believe that dependency is taken care of.

In this case, I suppose e2e-suite-rbac-auth is triggered manually in #3643, as it does not automatically run in presubmit anymore.

AFAICT the job "correctly" failed with some image not found error. The alternative is to not run

[2018-03-27 18:03] cmluciano opened #4567 "Post submit upgrade test failure"
Affecting postsubmit at https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1186

[code]

[2018-03-27 18:07] cmluciano commented on #4567
Affecting postsubmit too https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1186

[code]

[2018-03-27 18:36] #3609 closed

[2018-03-27 19:27] hklai opened #4572 "Root-Cause Sleep/Wait in Tests"
Context: https://goo.gl/2DPP5o

Current, many Istio tests rely on sleep for wait and hope for something to happen  (e.g. config propagation, POD start up).  This is not a good practice and cause tests to run longer than they should.

We need to identify the cases and make sure the production code support that level of probing and feedback.

[2018-03-27 19:30] hklai opened #4573 "De-flake Tests"
Context: https://goo.gl/2DPP5o

Many Istio tests are perceived to be flaky. We need to gather more data and metric to validate the claim. More importantly, fix these flaky tests.

[2018-03-27 19:33] hklai opened #4574 "Comprehensive Istio Testing Guideline"
Context: https://goo.gl/2DPP5o

A comprehensive testing guideline for Istio development is required to promote and enforce a standard set of testing principles. Topics include:

- What tests are expected and their principles.
- Where tests are added
- How new tests can be added
- Where to find the baseline result and coverage of existing tests.
- How to debug tests
- What to do and not to do when

[2018-03-27 19:41] hklai opened #4575 "Investigate and Document Steps to Debug Tests Locally"

[2018-03-27 20:37] #4530 closed

[2018-03-27 20:38] JimmyCYJ opened #15749 "jwt_auth filter does not have full support of x509 public key"
By reading code, two issues are observed which block jwt_auth filter from fully support of public key in x509 .

1. We have Pubkeys::CreateFrom(const std::string &pkey, Type type) which takes public key in string and create Pubkeys object ([link](https://github.com/istio/proxy/blob/71f918875f883c07e6c2258e472de7fee1fb305d/src/envoy/http/jwt_auth/jwt.cc#L575)), but we only call this function when w

[2018-03-27 21:15] douglas-reid commented on #4307
Running from a recent branch, I see no issues running `go generate ./...` from `istio/mixer/adapter`.

Had you run `make init` on your branch?

Full output:
[code]

[2018-03-27 21:16] hklai opened #4578 "Make Circleci Test Result Available on Testgrid"
Post submit test results from Prow are available in testgrid (https://k8s-testgrid.appspot.com/istio). It is very useful as per test case breakdown is visualized.

Since many developers rely on circleci as well, it will be valuable to make circleci publish test results to testgrid as well.

[2018-03-27 21:19] douglas-reid commented on #4307
Sorry, missed the PRs.  Can we close this issue now?

[2018-03-27 21:20] ldemailly commented on #4307
yes I guess

[2018-03-27 21:20] #4307 closed

[2018-03-27 21:30] douglas-reid commented on #4303
@cmluciano to my understanding, the two test issues are distinct with different failure conditions.

[2018-03-27 21:54] hklai commented on #4276
We will incorporate these in the SWAT effort.

[2018-03-27 21:56] xiaolanz commented on #3789
It is. because i disabled this test for racetest.

[2018-03-27 21:57] hklai commented on #2784
Currently the images are functionally tested. We should add more tests like:

1. "istioctl version" and make sure it spits out the right version that we expect.
2. Image version check (Prevents https://github.com/istio/istio/issues/4266#issuecomment-374459516)

[2018-03-27 21:58] hklai commented on #2832
@sebastienvas, could you take a look since you are working on Tide migration now?

[2018-03-27 22:31] hklai opened #4581 "istio.io/istio/tests/e2e/tests/dashboard TestDashboards is flaky"
Two consecutive daily release tests:

Failed: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/486/daily-e2e-rbac-auth-default/433

Passed: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/485/daily-e2e-rbac-auth-default/432

[2018-03-27 22:40] hklai commented on #4537
/cc @costinm @mandarjog @ozevren

[2018-03-27 22:41] louiscryan commented on #4536
/cc @louiscryan

[2018-03-27 22:56] ozevren commented on #4536
/cc @ozevren

[2018-03-27 22:59] mandarjog commented on #4567
The first problem is already resolved, It it not seen in any post submits on HEAD.
The 2nd needs investigation.

[2018-03-27 22:59] mandarjog commented on #4567
It is a different problem.

[2018-03-27 23:35] ozevren commented on #4572
/cc ozevren

[2018-03-27 23:50] sebastienvas commented on #4545
I think it would be good to define a contract between dev and available test environments, ie having specific configuration per environment. Our Makefile are currently full of environment settings and flags and this is getting really hard to predict what parameter the test will start with.

[2018-03-27 23:56] chxchx commented on #4545
+1 to Seb's comment

Also, the test driver should rerun failed flaky tests and generate proper junit xml reports ([example](https://storage.googleapis.com/istio-prow/e2e-suite-rbac-no_auth/1195/artifacts/junit_e2e-all.xml)), which can be consumed by testgrid and velodrome downstream.

[2018-03-28 01:13] kingsqv opened #4585 "init container run many times and exit with 1"
The init container run first time  eveyting  will running  normal。The iptables rules successful addition。
 But after a time  the init container Started time changed ，it  executed again ，and the  iptables rules alreday does exist 。so the init container exit with 1 for error iptables:Chain already exists 。then everything running also normal but  kubctl get po  display error:
kubectl get po |grep ops

[2018-03-28 03:53] hklai commented on #4452
@yusuoh PTAL and see if we can add more coverage to the upgrade test.

[2018-03-28 03:57] #4319 closed

[2018-03-28 06:17] chandresh-pancholi commented on #4106
I am also getting same issue. Earlier I was using istio 0.5
[code]

[2018-03-28 06:20] #4554 closed

[2018-03-28 06:36] cmoulliard commented on #4359
@vbatts @christian-posta Can one of you help us to resolve this issue please as this is blocking ?

[2018-03-28 06:36] #2123 closed

[2018-03-28 06:38] cmoulliard commented on #4368
@geoand Can you submit a PR to mention such requirement within the doc please ?

[2018-03-28 07:37] geoand commented on #4368
@cmoulliard Yes, I will do that later on in the day

[2018-03-28 09:33] 249043822 commented on #4252
I still got such problem, the newest master branch, as after make done, my os /tmp become 8K

Filesystem      Size  Used Avail Use% Mounted on
/dev/vda3        45G   23G   20G  54% /
devtmpfs        1.9G     0  1.9G   0% /dev
tmpfs           1.9G   54M  1.8G   3% /dev/shm
tmpfs           1.9G  187M  1.7G  10% /run
tmpfs           1.9G     0  1.9G   0% /sys/fs/cgroup
/dev/vda1       2.0G  178M  1.7

[2018-03-28 13:32] #4585 closed

[2018-03-28 14:53] costinm opened #4593 "Possible limit on number of Envoy to Pilot connections"
Found this in master, but likely to affect 0.7 as well.

To repro, need to have > 101 envoy clusters (running few pilot e2e tests with skip_cleanup and in different namespaces can produce this). Then exec in a proxy container and check localhost:15000/stats, look for "xds-grpc::x.x.x.x:15010::rq_active::NNN", and chck if NNN is ~same with number of clusters and not 100 or 101. Rq_Active should be

[2018-03-28 15:32] christian-posta commented on #4488
Yah... there is a way i think. Pilot exposes the way to enrich/change the xDS json/yaml that gets shipped to the Envoy proxy. We'd need to add this config to that.

See this doc and the --webhookEndpoint setting.

I'll try to write docs/examples on this. We can use that as a workaround until we properly enable this configuration setting.

[2018-03-28 16:43] cmluciano opened #4595 "TestCheckCache failing daily-release/489/daily-e2e-cluster_wide-auth"
[prow build log e2e-cluster_wide-auth](https://storage.googleapis.com/istio-prow/pull/istio-releases_daily-release/489/daily-e2e-cluster_wide-auth/424/build-log.txt)

I grepped for "FAIL: TestCheckCache" to try to find errors within this case and haven't found anything yet

[2018-03-28 16:47] douglas-reid commented on #4595
cc: @bianpengyuan, who I believe is already investigating.

[code]

[2018-03-28 16:48] cmluciano opened #4596 "TestIngressController failing presubmit"
[prow build](https://k8s-gubernator.appspot.com/build/istio-prow/istio-postsubmit/1362)

snippet
[code]

[2018-03-28 17:07] bianpengyuan commented on #4595
This should already be fixed by #4495 and the log seems out of date. @cmluciano When was this failure happens?

[2018-03-28 17:11] cmluciano commented on #4595
That log is from a build earlier today https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/489/daily-e2e-cluster_wide-auth/424/

[2018-03-28 17:30] bianpengyuan commented on #4595
I am not sure why prow is not testing with the newest code... The PR was merged two days ago. @cmluciano Any idea about this?

[2018-03-28 17:48] diemtvu opened #4599 "Place to keep envoy-facing APIs"
We need a place for Istio-specific envoy API (include those that are not planned for upstream). In the recent PR (https://github.com/istio/api/pull/415), we put it under envoy folder in API repo, but there are concerns that it might cause confusion. Before that, there are few others (mixer filter, jwt filter) that are kept in less obvious folder structure.

Alternative option is having this under

[2018-03-28 18:32] hklai commented on #4593
Any more update?
Is this really 0.7.0 release blocking?

[2018-03-28 18:36] costinm commented on #4596
I don't know much about it - seems to be environment specific, someone who can debug on prow needs to take a look, from the logs I can't guess what is wrong

[2018-03-28 18:39] cmluciano commented on #4203
@geeknoid mentioned that @mandarjog has started working on his already and it should be assigned to him

[2018-03-28 19:06] cmluciano commented on #4271
upstream envoy issue https://github.com/envoyproxy/envoy/issues/2919

[2018-03-28 19:08] cmluciano commented on #4271
cc @douglas-reid @geeknoid @kyessenov @lizan

[2018-03-28 20:16] chxchx commented on #4126
This issue has been fixed AFAIK, although some compatibility issue was uncovered as a result (https://github.com/istio/istio/issues/4398). The skew tests in the previous setup uses proxy from older releases for both data plane and control plane, which is not the prominent use case. Migrating the skew tests for release to use yusuo's e2e_version_skew make target is a better approach. See https://gi

[2018-03-28 22:23] geeknoid opened #4609 "Update adapter logging support to match current Istio-wide logging functionality"
The logging functionality we expose to adapters should line up with what is available elsewhere in Istio. In particular, it should support debug-level logging among other things.

[2018-03-28 22:25] geeknoid opened #4610 "Provide a generic Mixer-level storage solution for adapters"
Adapters that want to provide extensive local buffering would benefit from a Mixer-managed storage abstraction that can provide robustness in case the adapter/Mixer crashes.

[2018-03-28 22:25] geeknoid commented on #4610
@theganyo

[2018-03-28 22:26] geeknoid commented on #4609
@theganyo

[2018-03-28 23:29] geeknoid opened #4611 "Enable Mixer to influence routing decisions"
Right now, Mixer is always invoked by the server sidecar. This means that Mixer is unable to influence routing decisions.

What I'm imagining is a model where Mixer.Check is invoked by the client proxy. Mixer.Check returns some attributes which are interpreted by the proxy and are made available as inputs to the downstream routing process.

This could get fancier with more effort. If the client is

[2018-03-28 23:32] geeknoid opened #4613 "Allow Mixer to edit request headers"
We should enable Mixer adapters to produce edits to request headers. This would enable a bunch of API management scenarios which we cannot easily target at the moment.

[2018-03-28 23:36] geeknoid opened #4614 "Consider adding support for an optional attribute that lets Mixer adapters inspect portions of the request payload"
A few API management scenarios can be enabled efficiently if we enable Mixer adapters to observe a portion of message payload. For example, looking at the first 100 bytes of each messages.

Imagine we introduce a new attribute (request.payload). If Galley detects that Mixer rules are consuming this attribute, it programs Envoy to generate this attribute and send it down to Mixer. The payload could

[2018-03-28 23:39] ldemailly commented on #4593
I think it's fine if there isn't a regression from 0.6
for 0.8 we need to spend more time with scaling characterization (and error handling as this shouldn't fail without some clear message about the failure)

if we have a quick repro and quick fix we can make 0.7.1 too while we work on getting 0.8.0 stable

[2018-03-28 23:50] qiwzhang commented on #4611
Required MixerFilter changes for this:
1) add/update some HTTP headers from Check.response from mixer
2) clear route table cache to force Envoy to re-calculate route.

The issue is:  per-route config may mess up.   Initial route is A,  we are using config A from route A to generate attributes and call mixer,  then the route may change to B after calling Mixer,  config B from route B is not used.

[2018-03-28 23:58] costinm commented on #4593
Adding few more people.

I created  >1000 clusters, and it seems to reproduce the problem - envoy only fetches 100 clusters.

Looking at stats:

cluster.xds-grpc.internal.upstream_rq_200: 100
cluster.xds-grpc.internal.upstream_rq_2xx: 100
cluster.xds-grpc.internal.upstream_rq_503: 10824
cluster.xds-grpc.internal.upstream_rq_5xx: 10824
cluster.xds-grpc.upstream_cx_tx_bytes_total: 131054
cluster.xds

[2018-03-29 00:01] costinm commented on #4593
For v2 this is worse - since CDS is fetched first, then 100 EDS - LDS  never appears to make it to pilot
(with <100 services there are LDS logs ).

It sounds like a setting - 100 is the default max requests per TCP connection in HTTP2.

Options:
- revert EDSv2 in 0.7 - we're back to number of services  * endpoints QPS.
That requires just changing from GRPC to REST_LEGACY in the bootsrap

- wait un

[2018-03-29 00:35] hklai commented on #4593
did 0.6 support that scale before (>100 clusters)?

At the moment it does not look like this is a critical problem (as defined in https://github.com/istio/istio/tree/master/release#critical-bug-definition), and I don't think we need to  block the release for this.

We should, however, add this to the release notes as a known issue.

[2018-03-29 00:40] ldemailly commented on #4593
nice find!

[2018-03-29 01:00] PiotrSikora commented on #4593
@htuch it looks that gRPC async client doesn't queue nor retry requests when it cannot establish new stream (e.g. when it exceeds `SETTINGS_MAX_CONCURRENT_STREAMS`)? Any quick and obvious fix?

[2018-03-29 03:02] rshriram commented on #4593
is this occurring with envoy in front of Pilot? or is this between envoy and standalone pilot?

You also need to bump max parallel retries to upstream server. Defaults to 3.

[2018-03-29 03:08] #4248 closed

[2018-03-29 03:09] rshriram commented on #4611
I don't think you should force recomputation of the routes.. Instead, you just need the ability to set the upstream cluster for a route. In other words, the mixer chooses the destination for a request, instead of simply adding more headers and allowing the sidecar to choose the route (which leads to the confusion @qiwzhang points out).

Simple use cases could include mixer decoding tokens/cookies,

[2018-03-29 03:37] costinm commented on #4593
It's for the envoy in front of (each) app. They get a CDS response, with ~1500 services, and create one 'monitor' grpc request for each service. First 100 are fine. I can use /debug/edsz?push=1 to push - and
tcpdump and logs show the 100 clusters get their endpoints.

I suspect it's a setting somewhere - but not sure what. Normal h2 is to open a new tcp socket.
There is only one TCP socket between

[2018-03-29 04:03] kyessenov commented on #4593
Are you sure it's not a bug in your management server? 503 might be a response due to failure to update the config maybe?

[2018-03-29 04:17] ldemailly commented on #4593
s/with MTLS of/without MTLS/ (or with MTLS off)

[2018-03-29 04:20] ldemailly commented on #4126
DownloadRelease is not exactly related to whether the envoy binary is a docker image or a binary

I don't see that pr changing binary vs docker

nor there

[2018-03-29 04:36] costinm commented on #4611
Well, we have a new set of names - I don't think they're 'standardized', we
will need to discuss this.
Using standard DNS names for cluster names, or maybe DNS-SD ( which has a
nice scheme _tcp._port.name...)
seem cleaner options.

I'm a bit concerned about the complexity - server validating that the
client called and passed the right attributes
is very tricky. I certainly hope this is post 1.0 :-

[2018-03-29 05:17] hklai commented on #4330
Since https://github.com/istio/istio/issues/4593 was discovered late in the game, and the 0.7.0 tag is already used (https://github.com/istio/istio/releases/tag/0.7.0), 0.7.0 will have to be aborted.

Depending on when the fix can be available, we will either cherrypick it or create a new RC.

[2018-03-29 05:22] costinm commented on #4593
MTLS is off. And for 99 connections all worked fine.

It seems increasing the max_streams on golang side solves the problem, so at least envoy respects the
settings frame and the server-side value. Still a single TCP connection, but now it seems to get all clusters, should be a one-line fix.

Will look a bit at the settings for circuit breaking for the MTLS case tomorrow.

[2018-03-29 07:10] shucks commented on #1667
I have a gRPC stream that is working well without Istio and is breaking with Istio 0.4.0 with mTLS (after some timeout).
Is this a known issue?
Is there any known workaround?

[2018-03-29 08:27] tanshungang opened #4618 "query from prometheus, the response_code is not normal, eg: 123941048"
here is detail information from prometheus:
request_count{destination_service="productpage.istio-test.svc.cluster.local",destination_version="v3",instance="172.6.19.207:42422",istio="mixer",job="kubernetes-service-endpoints",kubernetes_name="istio-mixer",kubernetes_namespace="istio-system",response_code="123941048",source_service="productpage.istio-test.svc.cluster.local",source_version="v3"}

and

[2018-03-29 08:39] tanshungang opened #4620 "istio-proxy takes so long time to work-status, so if the application is started before this time and the application need call external network, it will be failed!"
the log of istio-proxy like:
[2018-03-18 11:25:49.520][14][warning][main] external/envoy/source/server/server.cc:157] initializing epoch 0 (hot restart version=9.200.16384.256)
[2018-03-18 11:25:49.811][14][warning][main] external/envoy/source/server/server.cc:344] starting main dispatch loop
[2018-03-18 11:27:20.710][14][warning][main] external/envoy/source/server/server.cc:328] all clusters init

[2018-03-29 08:42] tanshungang opened #4621 "istio-proxy is often restarted, i do not know why, and this time, the istio can not be working."

[2018-03-29 09:06] tanshungang commented on #4322
For example, I have set a http-fault routerule for the server “details”, and its fault http status code is 503. And then, I call its api from my VM, curl http://****/details/0, and details responses a right information, its response-code is 200, I think it should be 503 but not 200.  But when i call it from pod like 'productpage-**', its response-code is 503, it is right.

[2018-03-29 09:28] yossile commented on #4262
I think it should be declined at earlier stage when creating those resources at resource validation stage. I wonder why the CRD validator didn't reject the malformed one.
However, I agree that if a malformed still went through it should be ignored.
I will investigate it to further understand the issue.

[2018-03-29 10:56] prune998 commented on #1667
@shucks try upgrading to 0.6.0. I don't use mTLS, but everything is fine without it.

[2018-03-29 11:15] gokhandincer opened #4622 "Error: release istio failed: namespaces"
Hi Eveyone,

I am trying to install istio with Helm Chart, but I get an error like this ``` Error: release istio failed: namespaces "default" already exists ```
I try different namespace but I couldn't the success.
How could solve this?

Thanks...

[2018-03-29 11:44] ymesika commented on #4262
I think it should be declined at earlier stage when creating those resources (i.e. at resource validation stage). I wonder why the CRD validator didn't reject the malformed one.
However, I agree that if a malformed still went through it should be ignored.
I will investigate it to further understand the issue.

[2018-03-29 12:49] geoand commented on #4359
I had already opened https://github.com/istio/issues/issues/223 about a month ago since it seemed like the more appropriate location for the issue, but I guess it wasn't :)

[2018-03-29 13:39] ymesika commented on #4262
Testing with `Istio v0.6` the validator indeed complains when running `istioctl create` and exits with the following error:
[code]
Are you using a different Istio version?

[2018-03-29 14:13] geeknoid commented on #4611
Shriram, I worry about the model you recommend since it would lead to an
inconsistent story for the user. Who wins, Mixer-provided destination or
operator-specified routing rules? Can Mixer override any routing rule just
by returning a magic value? This doesn't seem clean.

I would rather leverage the attribute model we've got. It's clean and
composable and puts the operator in full control. We ha

[2018-03-29 15:22] andrew-dinunzio commented on #2355
I would like to see support for ExternalName services again. I have an external redis cache that I'd like to access, but EgressRules either only support HTTP/HTTPS (not the redis protocol) or (if I use a TCP EgressRule), I'd need to know the IP address/CIDR block. I don't have any stable IPs / CIDR block ranges for my redis cache - I have to access it by its DNS name.

[2018-03-29 15:40] MrMil commented on #1296
Hi.
I have the exact same problem, I need to clone a git repository over SSH from within a kubernetes cluster. I have made this rule:
`apiVersion: config.istio.io/v1alpha2
kind: EgressRule
metadata:
  name: allow-ssh-egress
spec:
  destination:
    service: 1.2.3.4/24
  ports:
    - port: 22
      protocol: tcp
`
Obviously without the made up IP range.
For some reason it doesn't work
An identical

[2018-03-29 16:15] linsun commented on #3901
@ijsnellf do you think this would be fixed by moving to envoy v2?

[2018-03-29 16:32] cmluciano opened #4625 "e2e pilot failing postsubmit, possible prow issue"
[example failure from prow](https://storage.googleapis.com/istio-prow/pull/istio_istio/4605/istio-pilot-e2e/5026/build-log.txt)

I have tested this locally and I'm unable to replicate the errors that prow is erroring on.

snippet
[code]

[2018-03-29 16:53] xiaolanz commented on #4560
no longer be able to repo.

[2018-03-29 16:53] #4560 closed

[2018-03-29 17:14] hklai commented on #4625
It seems to have started failing for all PRs in the last few days.
https://prow.istio.io/?job=istio-pilot-e2e

And it does not run in postsubmit so it's harder to figure out the culprit.

@sebastienvas  could you take a look?

[2018-03-29 17:28] cmluciano commented on #4595
Seems to still be flaking here http://k8s-testgrid.appspot.com/istio#daily-e2e-cluster_wide-auth .

Not sure if @sebastienvas or @hklai have more input on daily builds

[2018-03-29 17:53] costinm commented on #4593
Turns out Envoy docs do mention in the circuit breaking section that H2 will only use a single TCP connection, so any GRPC or H2 server behind an envoy must set max streams and not rely on multiple TCP connections.

I don't think this matches the h2 standard - and will likely affect many other applications planning to use
either h2 or grpc with envoy as a server. While GRPC makes it easy to set ma

[2018-03-29 18:13] hklai commented on #4596
The prow link points to a postsubmit run.
Anyhow, the test had been moved to e2e already, and I suppose this does not matter any more.
https://github.com/istio/istio/pull/4510

It has not been run in postsubmit for a few days.
https://k8s-testgrid.appspot.com/istio#istio-postsubmit&include-filter-by-regex=ingress&show-stale-tests=

[2018-03-29 18:13] #4596 closed

[2018-03-29 18:26] diemtvu opened #4633 "Require customer to register external service for JwksURI manually"
Background: for JWT authentication, envoy needs to talk to external service to fetch public key. In early implementation, pilot implicitly generates the outbound cluster for the JwksURI (https://github.com/istio/istio/pull/4343/files). Intentionally, they have a distinguishable prefix ("jwt."), as oppose to "out." for regular cluster.

This approach simplify customer involvement (they simply needs

[2018-03-29 18:27] diemtvu commented on #4633
+ @rshriram @louiscryan @qiwzhang @liminw

[2018-03-29 18:30] cmluciano commented on #4625
Possibly related https://github.com/istio/istio/pull/4466

[2018-03-29 18:31] cmluciano commented on #4625
I missed that part @sebastienvas . I wonder if locally it does not use the injector?

[2018-03-29 18:33] sebastienvas commented on #4625
@yusuoh the sidecar is crashing when running the pilot e2e on a 1.9 gke cluster. Can you try to reproduce it and root cause ?

[2018-03-29 19:16] ldemailly commented on #4126
@yusuoh does your upgrade framework use the docker images or tries to get some binary of envoy directly ?

(why would upgrade tests build any images, they should use the already released images)

(we should also test the debian but that's a different topic)

[2018-03-29 19:18] linsun commented on #3902
This is a core function of the new envoy v2 and new route rule, FYI.

[2018-03-29 19:21] linsun commented on #3878
This one should be fixed when we move to envoy v2, as part of integration with external service.

[2018-03-29 20:47] ldemailly commented on #4330
it'll have to be cherrypicked; there are way too many changes in master / it's already on track for 0.8 on master

let's make 0.7.1 ?

[2018-03-29 21:04] ldemailly opened #4638 "add test for > 100 grpc streams"
to validate/avoid regressions on #4631

will add a feature to fortio https://github.com/istio/fortio/issues/223

[2018-03-29 21:19] PiotrSikora commented on #4593
@ldemailly Done.

[2018-03-29 21:21] #4420 closed

[2018-03-29 21:38] douglas-reid commented on #4323
@mandarjog I did some more investigation this morning. Faults are injected client-side. This would explain why Mixer never sees this information, as there is no client-side reporting.

[2018-03-29 23:36] yusuoh commented on #4625
We need to make some change in pilot_test.go to handle sidecar injection when the option is enabled. I will take a look.

[2018-03-29 23:50] hklai commented on #4536
Discussed a few options today and @louiscryan suggested starting with https://github.com/flix-tech/vagrant-kubernetes, which is an easier solution to templatise.

Current plan:
@kimikowang will try it out on mac, and @JimmyCYJ will try it out on linux.
In the mean time @gargnupur is going to figure out setting up local docker registry.

We will regroup next Monday to share findings.

[2018-03-30 00:08] bianpengyuan opened #4647 "Report telemetry from client proxy"
To track works for telemetry report from downstream proxy. This includes both in-mesh client report and egress traffic report.

cc @douglas-reid @mandarjog

[2018-03-30 00:08] kyessenov commented on #4647
/subscribe

[2018-03-30 01:08] yusuoh commented on #4625
#4650

[2018-03-30 01:17] mandarjog commented on #4647
Bian, we already report telemetry on egress.

[2018-03-30 01:19] mandarjog commented on #4647
We need to add a Boolean or enum attribute to denote client or serverside reports.

[2018-03-30 02:08] #4593 closed

[2018-03-30 04:33] douglas-reid commented on #4647
We want to make sure that we can report for an TCP pass-thru traffic as well -- whatever is involved. As @mandarjog notes, having an attribute like `context.mode` or something with `client` and `server` values will be important.

Part of this work will also likely include refactoring our default metrics to better present a client/server dichotomy, as well as updating dashboards to show incoming/ou

[2018-03-30 04:35] douglas-reid commented on #4621
@tanshungang would you mind providing a bit more detail on the issue you are reporting? Are you seeing this behavior with auth-enabled (restarts related to cert rotation)?

What is meant by "istio can not be working" ? Are you having issues related to serving traffic because of the restarts?

How can we begin to address your concern?

[2018-03-30 04:39] douglas-reid commented on #4618
@tanshungang I believe this issue has been addressed in subsequent versions of Istio. There was a small regression in the proxy filter code that was providing uninitialized values for response codes on occasion. I highly suggest upgrading to a more recent release of Istio to avoid experiencing the issue.

One small difference you may notice immediately is that `request_count` is now `istio_request

[2018-03-30 04:39] #4618 closed

[2018-03-30 04:40] douglas-reid commented on #4614
@geeknoid what are the considerations for caching in such scenarios?

[2018-03-30 04:44] kyessenov commented on #4647
I think we need to have a dimension for the _reporter_ that matches values in the space of `source` or `destination` IDs. Then maybe you can query `reporter == source` condition. It leaves an option for a reporter that is a middle proxy. Envoy has a notion of a _node_ that is consistently and pervasively used:
https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/core/base.proto#L4

[2018-03-30 04:45] douglas-reid commented on #4581
a recent PR should have addressed this issue. there were two issues:

1. A change to service naming for Mixer actually broke the tests.
1. The mixer proxy was starting, but was not ready to receive traffic before the test sent traffic, resulting in no Report()s successfully being sent to Mixer for the duration of the tests.

Both should have been addressed by the latest PR.

Please reopen if the i

[2018-03-30 04:45] #4581 closed

[2018-03-30 05:22] douglas-reid commented on #4647
I like the idea of a `context.reporter` or `telemetry.reporter` attribute.

There was some work on TCP connection IDs that @JimmyCYJ was working on awhile back (https://github.com/istio/proxy/pull/1166). For raw TCP, bytes tx/rx are all we report on today.

[2018-03-30 05:23] douglas-reid commented on #4613
By edits, do we mean strictly insert new headers, or modify/delete existing headers, or both?

[2018-03-30 06:06] xiaolanz opened #4653 "TestCheckReportDisable - check_report_disable failed in racy test"
This test suddenly started to fail in racetest on master:  https://circleci.com/gh/istio/istio/61299

[2018-03-30 07:56] tanshungang commented on #4621
1、my istio is installed by normal version(istio.yaml), not auth version(istio-auth.yaml)
2、when i call my server by curl cmd, it tips "Bad Gateway", status code is 503. so  i check pilot's istio-proxy log and application's istio-proxy log, the logs show the two istio-proxys were restarted.  At this time, i kill pilot pod, so it is restarted again, and then, my application can be called normally. S

[2018-03-30 07:58] tanshungang commented on #4323
@douglas-reid  this issue is a bug or it is normal function?

[2018-03-30 08:13] tanshungang commented on #4620
my scenarios is like this:   server A is a config-center, and it is outside of service-mesh, B is a application and is inside of service mesh, B will call A to get config information when B is installing, so i set a egressrule for A.
When kubernetes start a pod, the istio-proxy will be running firstly, when its status is running, the B will be started running immediately, but it will be failed bec

[2018-03-30 10:44] gokhandincer commented on #4622
Thank you @yusuoh

[2018-03-30 12:11] prune998 opened #4658 "Slow processing of new GRPC connexions under load"
# Environment
- Kubernetes 1.9.4 on GKE, 9 nodes in the same AZ
- Istio 0.6.0, NO mTLS
- Istio-Ingress using SSL certs from Lets Encrypt and terminating SSL connection

# Description
Under some load, Istio (Envoy) start slowing down on new connexions processing.
This is happening on both Istio-Ingress and on the Istio Sidecar when deployed along the application

## test case 1
![image](https://use

[2018-03-30 14:04] prune998 commented on #4658
By looking at the `istio-ingress` logs directly, I noticed the `DURATION` is equal to `BYTES_SENT`-1 when the cnx is slow...
[code]

[2018-03-30 15:00] mandarjog commented on #4613
It should be add / remove / update

[2018-03-30 16:00] cmluciano commented on #4653
Another example fail https://github.com/istio/istio/pull/4643

[2018-03-30 16:07] douglas-reid commented on #4621
@andraxylia can you provide details on pilot, proxies, and possible 503 scenarios?

[2018-03-30 16:12] douglas-reid commented on #4323
@tanshungang We intend to support metrics reporting for fault injection scenarios. The current implementation, however, does not support client-side reporting.

Client-side reporting has been a long-standing feature request, one that we've committed to supporting. Work is already underway to provide it in support of a couple of other goals. There is a related issue for tracking the new work here:

[2018-03-30 17:17] geeknoid commented on #4614
If we treat the payload as any other attributes, we'll get normal caching semantics. So if Envoy has already seen the payload, it can answer the check request from cache.

If the payload is highly variable, then it will definitely kill the cache's efficiency. This is why I said "optional" in the title :-). This is a case where Galley will be of value. Based on the actual attributes consumed by Mix

[2018-03-30 18:15] cmluciano commented on #4653
Removed racetest from required to unblock submit queue

[2018-03-30 19:00] ldemailly opened #4664 "releases: api, proxy, istio tags and branches must match"
The last api repo tag is 0.3.0

for 0.8.0 and the release-0.8 branch they must exist on all the repo which make the release

(this is probably a dup of an older issue I filled long ago)

[2018-03-30 19:12] andraxylia commented on #4621
503s scenarios I am looking at are separate from this issue.

@tanshungang can you please retry with 0.7 release once it is out? There have been many issues related to starup in previous releases, regardless of auth being used or not.

[2018-03-30 19:31] hklai opened #4666 "istio.io/istio/tests/e2e/tests/upgrade TestUpgrade Failure"
Maybe similar to https://github.com/istio/istio/issues/4459, TestUpgrade is failing in release qualification tests.

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/491/daily-e2e-rbac-auth-default/438/

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/491/daily-e2e-rbac-no_auth-default/465/

The only difference between thes

[2018-03-30 20:05] cmluciano commented on #4625
Fixed by https://github.com/istio/istio/pull/4650

[2018-03-30 20:05] #4625 closed

[2018-03-30 20:06] cmluciano commented on #4567
Possible dupe of https://github.com/istio/istio/issues/4126

[2018-03-30 20:09] cmluciano commented on #4018
I have not seen this error this week across the runs I've been monitoring. I think this may be safe to close.

[2018-03-30 20:09] yusuoh commented on #4666
#4667

[2018-03-30 21:01] JimmyCYJ commented on #4653
Seems that this test has been updated recently by https://github.com/istio/istio/pull/4231

[2018-03-30 21:20] ldemailly commented on #4482
I don't have the bandwidth but if someone wants to pick up #4651 - it was almost there except for that api change

[2018-03-30 21:39] JimmyCYJ commented on #4653
After I modify the test setup, the latest racy test succeeds in https://github.com/istio/istio/pull/4643#issuecomment-377554642. I think the test failure is fixed in that PR.

[2018-03-30 21:40] hklai commented on #4595
It still happened today.
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/493/daily-e2e-rbac-no_auth/461

PTAL as soon as possible as it is blocking daily releases, which we have not had any for a few days due to both test failures and pipeline problem.

/cc @wattli

[2018-03-30 22:09] sebastienvas commented on #2832
All those labels are hard coded in the codebase, so that means creating a config for each of those. What's the priority for this ?

[2018-03-30 22:40] bianpengyuan commented on #4595
@hklai The test was still using the stale version of mixer_e2e which does not include #4495. Do you have idea why prow does not test with the newest code?

[2018-03-30 22:44] geeknoid commented on #2832
Not that critical, it's mostly about usability for people creating and
modifying issues.

On Fri, Mar 30, 2018 at 3:09 PM Sebastien Vas <notifications@github.com>
wrote:

[2018-03-30 23:04] #4482 closed

[2018-03-30 23:15] ldemailly opened #4668 "update pilot for api change (destination Name->Host change)"
https://github.com/istio/api/pull/439
implies a lot of changes in istio/istio

a lot of them are
https://github.com/istio/istio/compare/27866f85a83ae0a232651ed8c5a8b7c1b2e395d7...0c8a26e1c83bc385f3aea186429acc0b1d770d30

but there was more golden files etc... changes needed

[2018-03-31 02:33] #4653 closed

[2018-03-31 20:39] rshriram commented on #4668
Golden files will not change. Just update clusters.go as well as the ones you have here and that should be it.

[2018-03-31 20:40] rshriram commented on #4668
Cc @ijsnellf

[2018-03-31 20:49] rshriram commented on #4345
I guess that makes this solution pointless. That was a good catch about the container restart.

[2018-04-01 03:31] ldemailly commented on #4668
ps: this is holding back every other api pr propagation

[2018-04-01 06:03] vadimeisenbergibm commented on #1296
@MrMi lYour egress rule is correct and it works for me on IBM Cloud Container Service. The only issue is that you have to define an egress rule per each CIDR of github.

To test it, perform git SSH test - https://help.github.com/articles/testing-your-ssh-connection/, with -v flag: `ssh -v -T git@github.com`. Check the IP that ssh is accessing and verify that it is handled by one of the egress rule

[2018-04-01 16:10] shucks commented on #1667
@prune998 I upgraded to 0.6.0 and it works well without mTLS.
When I turn on mTLS the connection stops working a few minutes after being established - this seems like a bug.

[2018-04-01 20:16] #3514 closed

[2018-04-02 10:32] ymesika commented on #4210
@jilpansi as for 1 and 2 - According to [Istio v0.6 vocabulary](https://istio.io/docs/reference/config/mixer/attribute-vocabulary.html) the body for both request and response isn't being reported by Envoy.

[2018-04-02 13:52] rshriram commented on #4668
Thanks. but there is no other API  PR after this, that needs changes in istio/istio. So we are set. We will get to this in a couple of days unless you beat us to it and send your own PR.

[2018-04-02 14:30] cmluciano opened #4684 "postsubmits failing on istio webhook scripts not found"
Error started within the last few days, potentially during release.

snippet
[code]

[prow example failure](https://k8s-gubernator.appspot.com/build/istio-prow/e2e-cluster_wide-auth/1271)

[2018-04-02 14:36] cmluciano commented on #4684
The script was removed in https://github.com/istio/istio/pull/4612

@yusuoh was this replaced somewhere else in helm?

[2018-04-02 14:39] cmluciano commented on #4684
we may need to update https://github.com/istio/istio.github.io/pull/1132 too if this is changed

[2018-04-02 14:43] sdake commented on #4684
@cmluciano regarding https://github.com/istio/istio.github.io/pull/1132, 0.7 of the docs repo has not branched, so the patch is valid for 0.6/0.7.  @yusuoh 's work only applies to master as istio/istio branched several weeks ago, IIUC.

It will need to change for 0.8 I suspect.

Cheers
-steve

[2018-04-02 15:59] #4142 closed

[2018-04-02 16:41] nmittler commented on #3099
@mandarjog We now have an nginx ingress test that might help in your testing. See #4569

[2018-04-02 17:17] romervargas opened #4685 "get destinationpolicy returns x509 error"
Hi everyone,

I'm getting this kind of issue (x509: certificate signed by unknown authority) when I try to run: istioctl get destinationpolicy.
Basically, I'm trying to follow the Circuit Breaking guide by Istio but I'm unable. However, I'm able to apply a side car manual injection when I started the httpbin sample.

Does anybody have an idea?

Thanks in advance

[2018-04-02 17:38] kimikowang commented on #4536
I am testing the vagrant vm on Mac, but got stuck at the kube-dns brought-up loop in `vg-01-repartioton.sh`.  @JimmyCYJ How is your test on Linux? Does everything work well?

[2018-04-02 17:40] JimmyCYJ commented on #4536
I have the same issue, and I tried several fixes but could not solve it.

On Mon, Apr 2, 2018 at 10:38 AM, Zijun Wang <notifications@github.com>
wrote:

[2018-04-02 17:43] JimmyCYJ commented on #4536
@kimikowang could you try this example?
https://github.com/pires/kubernetes-vagrant-coreos-cluster

It works on my personal desktop (Ubuntu 16.04). I simply run sudo USE_KUBE_UI=true vagrant up.
I get some issues when I run this example in my office workstation, and I am trying to fix.
I am not sure if it works on Mac.

[2018-04-02 17:48] kimikowang commented on #4536
Thanks @JimmyCYJ , let me try to give it a shot.

[2018-04-02 17:52] JimmyCYJ commented on #4536
@kimikowang for https://github.com/flix-tech/vagrant-kubernetes, I tried 1.10.0 and 1.9.0 on Ubuntu 16.04, and they failed at different steps.

[2018-04-02 18:01] xiaolanz commented on #4235
Nontest race failure:

==================
WARNING: DATA RACE
Read at 0x000002690470 by goroutine 2169:
  istio.io/istio/vendor/google.golang.org/grpc/grpclog.Infof()
      /go/src/istio.io/istio/vendor/google.golang.org/grpc/grpclog/grpclog.go:45 +0x3e
  istio.io/istio/vendor/google.golang.org/grpc.(*pickfirstBalancer).HandleSubConnStateChange()
      /go/src/istio.io/istio/vendor/google.golang.or

[2018-04-02 18:19] diemtvu opened #4689 "Use source.principal attribute instead of source.user"
Principal is more often used in security context. This is also make it consistent with the other
attribute (request.auth.principal).

[2018-04-02 18:21] diemtvu commented on #4689
@mandarjog, do you know if we have to make any change in mixer for this, or simply change mixer client to use new attribute name?

[2018-04-02 18:34] costinm commented on #4545
Keep in mind the other P1 - local test env and developer productivity. The test framework should allow a developer to use IDEs and run individual tests using IDEs with minimal extra setup.
And of course to quickly add tests, with minimum istio-specific overhead.

[2018-04-02 18:39] cmluciano commented on #4271
I tried this out in IBM Cloud with k8s 1.9 and Istio 0.7.1 using  https://github.com/rayh0001/gs-spring-boot-docker. This is now working.

Steps to replicate:
 - edit https://github.com/rayh0001/gs-spring-boot-docker/blob/master/service-deployment-istio.yaml#L89 & https://github.com/rayh0001/gs-spring-boot-docker/blob/master/service-deployment-istio.yaml#L69 to use 0.7.1
- edit https://github.com/

[2018-04-02 18:56] #4533 closed

[2018-04-02 19:08] kimikowang commented on #4536
@JimmyCYJ I have no luck in bring up the coreos vm onMac. It stops at booting stage.

[2018-04-02 19:09] hklai opened #4692 "Add support to downloadIstio.sh to download either latest stable or latest pre-release"
With the [new versioning scheme](https://docs.google.com/document/d/1CVp6jYOAotQ9F8jfZJsHg14xNDokVRab5NlSvHdaOqg/edit#), only LTS releases will be made the "latest release" in github. Other monthly releases will remain as pre-releases. The change will take effect **after 0.8.0** which expects to be an LTS release.

With that, we have a clear distinction between the latest stable release (i.e. LTS

[2018-04-02 19:09] hklai commented on #4692
/cc @geeknoid

[2018-04-02 19:40] JimmyCYJ commented on #4536
@kimikowang There is a trouble shooting section in https://github.com/pires/kubernetes-vagrant-coreos-cluster#troubleshooting. Does it help?

[2018-04-02 19:59] sakshigoel12 opened #4693 "Istio Basic Auth"
Basic auth and whitelisting on the ingress

[2018-04-02 20:24] mandarjog commented on #4693
I have this prototyped in 3 ways.

1. Use lua injected filter https://github.com/mandarjog/istioluawebhook
2. nginx ingress with a single backend to --> istio-ingress. Istio-ingress is deployed in ClusterIP.
2a. Instead of using full nginx ingress, use a fronting nginx that delegates to local istio-ingress.
3. Use nginx ingress that delegates to a local istio sidecar.

4. Use mixer basic auth adap

[2018-04-02 20:39] andraxylia commented on #1925
Can we close some of the issues in this epic? The code is there.

[2018-04-02 20:40] andraxylia commented on #1677
@mandarjog  Will this work with Envoy v2 also?

[2018-04-02 20:40] mandarjog opened #4695 "Mixer Basic Auth adapter"
Mixer should have a `http basic auth` adapter that is capable of using  `htpasswd` file.

In the future this should support ldap auth as well.

Mixer considerations
Mixer must return grpc.UNAUTHENTICATED  which proxy should turn into a 401.
denier already supports setting specific status, so it is easy to test.

Mixer dispatches adapters in parallel.
The error code of the first adapter to complete

[2018-04-02 20:42] nmnellis commented on #1677
@linsun we are tracking this feature in v2 envoy correct?

[2018-04-02 20:44] andraxylia commented on #4685
@lita any idea on what can be wrong?

@romervargas please ask first in istio-users mailing list.

[2018-04-02 20:49] andraxylia commented on #4622
@gokhandincer did you get a chance to try? If it works, can you please close this issue?

[2018-04-02 20:50] andraxylia commented on #4621
@tanshungang release 0.7 is out, can you please re-try?

[2018-04-02 20:52] andraxylia commented on #4599
@diemtvu please label the areas for new issues.

[2018-04-02 20:53] kimikowang commented on #4536
@JimmyCYJ Unfortunately no, the problem is at the ssh process to the vm. This seems to be a well-known issue for vagrant, and it seems to be problems with VirtualBox or MacOS. Most of people solved the problem simply by upgrading VB or Mac to latest version. I did that already, but no help.

[2018-04-02 20:53] andraxylia commented on #4547
This is likely related to the fact the heml chart did not use correct istio namespace in the ClusterRolebinding naming. If it is not an issue, please close.

[2018-04-02 20:54] andraxylia commented on #4541
@hklai please remember to label with applicable area.

[2018-04-02 20:54] mandarjog commented on #1677
@andraxylia for `lua` specifically, we are planning to model it in Istio directly.
It will not be done thru the webhook in v2.

Additionally we need a separate webhook for v2, to do other things.

[2018-04-02 20:56] mandarjog commented on #1677
I propose we use this issue to track V2 lua filters.

[2018-04-02 20:56] JimmyCYJ commented on #4536
@kimikowang Could you copy and paste parts of the output from your terminal?

[2018-04-02 20:56] andraxylia commented on #4499
@s332401890 can you please re-try with 0.7?

[2018-04-02 20:57] mandarjog commented on #4547
Sorry this, is already resolved by the linked issue.

[2018-04-02 20:57] #4547 closed

[2018-04-02 21:03] Amey-D commented on #3895
I see a similar symptom with istio v0.7.1 on osx w/ kubectl client version v1.9.3 and server version v1.9.6-gke.0:

[code]

AFAICT v0.7.1 does not include the fix (see https://github.com/istio/istio/blob/0.7.1/release/create_release_archives.sh does not include *.tpl files).

When can we expect this fix to be available in a release version?  If there is a plan for v0.7.2 can we please backport the

[2018-04-02 21:31] wora commented on #4689
You probably want to speak to Envoy people and update Envoy AttributeContext to share the same design as this one.

[2018-04-02 21:39] liminw commented on #4689
Yes, we need consistent story for Istio and Envoy attributes. Currently we do not have request.auth.xxx attributes in Envoy, so it is easy to add them.

[2018-04-02 21:41] kimikowang commented on #4536
Just created an issue under the flux-tech repo: https://github.com/flix-tech/vagrant-kubernetes/issues/12

[2018-04-02 21:47] xiaolanz commented on #1894
One question is that what's the minimal k8s version Istio will support? Do we allow beta server side validation feature that only works for 1.9 to be on with 1.8 k8s?

[2018-04-02 21:56] guptasu commented on #4668
@rshriram @ldemailly Can we expedite this PR ? It is blocking other work inside istio/istio

[2018-04-02 21:58] guptasu commented on #4668
IMHO, we should not be renaming things like this. Instead we should add new name and then use it inside istio/istio. Eventually remove it from istio/api. Else the two closely coupled PRs should almost go next to each other within a matter of hours.

[2018-04-02 22:55] nmittler commented on #3533
@Stono In #4569 I added a new option to the startup script `-x` to allow you to exclude outbound IPs.  We now use this [in our nginx test](https://github.com/istio/istio/blob/master/tests/e2e/tests/simple/testdata/nginx/nginx-injected.yaml.tmpl#L448) to add an exclusion for kube master.  If you're doing manual injection, you can provide this value to istioctl via the `--excludeIPRanges` flag.

Thi

[2018-04-02 23:13] kdillane commented on #1038
Bump?  Has this been release as part of 0.7.1?

[2018-04-02 23:50] JimmyCYJ commented on #4536
Filed an issue under pires/kubernetes-vagrant-coreos-cluster: https://github.com/pires/kubernetes-vagrant-coreos-cluster/issues/293

[2018-04-03 00:55] ldemailly commented on #4668
@rshriram you mean like https://github.com/istio/api/pull/441 https://github.com/istio/api/pull/417 https://github.com/istio/api/pull/442 https://github.com/istio/api/pull/443 or the other 8 open PRs in api ?

[2018-04-03 00:59] ldemailly commented on #4692
You can already set an env var to download something else than the latest

ps: I thought we were table-ing this version/labeling scheme change post 1.0, we have more important things to do than break something that finally is starting to work