[2019-03-05 18:40] douglas-reid commented on #10932
Whoops. I thought that PR had been merged.

[2019-03-05 18:42] #11917 closed

[2019-03-05 19:02] mandarjog opened #12264 "Proxy becomes unready due to Pilot Restart"
This is running with 1.1-RC2 pilot.
Summary:
2019-03-04T19:35:43  Envoy ready after starting.
2019-03-04 19:41:30   Connection to Pilot is lost
2019-03-04T19:41:49     info    Envoy proxy is NOT ready: envoy missing listener for inbound application port: 8080

2019-03-04T19:42:52 Envoy ready again.

[code]

I am expecting that latest daily pilot from 1.1 should address this problem.

[2019-03-05 19:03] douglas-reid commented on #11638
So, in a GKE cluster, I was able to enable NetworkPolicy, install istio with cni, generate traffic and see the traffic in prometheus. I forgot to install grafana, but being able to see these metrics via prometheus means that everything should work.

The jaeger metrics path was incorrect and since corrected in a PR for 1.1.

@MBauer83 the port in the (now updated) docs is `15014`. It was moved from

[2019-03-05 19:03] mandarjog commented on #12264
This is just to clearly document what we have seen. I believe that https://github.com/istio/istio/pull/12214 should resolve this issue.

[2019-03-05 19:05] myidpt commented on #12108
I don't think "spiffe://cluster.local/ns/kube-system/sa/" is a valid identity. We should avoid it. The correct behavior is not generating the certs for these pods.

[2019-03-05 19:06] incfly opened #12265 "Galley segfault under kubernetes integration2 testing framework"
When I tried to use new testing framework for my test, I ran cmd as below
[code]

Istio system can not be marked as ready, and Pilot is haning on Galley's readiness. While I found errors about mcp connection
[code]

I looked at Galley side, it seems  that has been restarted several times. Look at logs, I found some null pointer dereference.

[code]

[2019-03-05 19:06] douglas-reid commented on #11638
Update: I'm actually only seeing traffic *from* `source_workload_namespace=istio-system`.

[2019-03-05 19:07] mandarjog commented on #12264
@philrud @costinm @rshriram

[2019-03-05 19:12] jasminejaksic opened #12266 "Update Features list on istio.io"
Update this page for 1.1 release: https://istio.io/about/feature-stages/

[2019-03-05 19:43] venezia commented on #11696
I've tried doing distributed tracing a few times (different languages, rest+grpc, rest-only, grpc-only) - each resulting in a similar issue - all requests show up in the trace, but the inheritance isn't right.

Of course it works right for the bookinfo app, and I'm parroting the same headers to child requests that the sample app is, so I'm at a loss as to what I'm doing wrong.

What makes it weird

[2019-03-05 19:45] myidpt commented on #12108
Thank you for investigating this, @morvencao
Is it true that only some of the pods in k8s control plane don't have the service accounts? Is it possible for a user to deploy a pod without service account?

[2019-03-05 19:45] Stono commented on #11696
Same, absolutely at a loose end with it.

Doug, what day this week (or next) is good for a screen share?

On Tue, 5 Mar 2019, 7:44 pm Michael Venezia, <notifications@github.com>
wrote:

[2019-03-05 19:48] howardjohn commented on #12108
As far as I know, you cannot deploy a pod without a SA: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#use-the-default-service-account-to-access-the-api-server A default one will be assigned. I have also verified that there are some pods without a SA in kube-system, though. On GKE I don't think this is the case, but running in [kind](https://kind.sigs.k8s.io) (

[2019-03-05 19:49] bianpengyuan commented on #11972
@gbaufake The metadata looks good and should not cause any panic.

By not working do you mean your operator would not work with sidecar injected, or do you mean traffic generator always returns 500 when it has sidecar injected? Could you provide more details about your set up?

[2019-03-05 19:56] myidpt commented on #12108
Thank you, @howardjohn
Since Istio is not used to manage the traffic for kube-system, I think it's fine to not generate SPIFFE identities / certs for the pods not having service accounts, right?

[2019-03-05 20:06] incfly opened #12267 "Get k8s env, integration2 framework test suite passing and required in presubmit test"
What we want
- A test suite running as presubmit tests, for k8s environment, using integration2 test framework.
- This is stably passing and eventually marked as required.

What we have
- We have a prow test presubmit test, but currently it's failing and not marked as required.

Why
- Pretty much we need the test stable and marking as required to encourage people writing e2e tests using new framew

[2019-03-05 20:07] douglas-reid commented on #11696
@Stono Thursday is looking best for me. please let me know through some channel what time is best for you.

I've used other non-bookinfo apps as well, without issue. I'm happy to setup a cluster with whatever apps we think makes a good test bed in advance of any screenshare in the interest of full disclosure.

@venezia I believe slack is open now.  At least, that was my understanding.  If that is

[2019-03-05 20:14] #12097 closed

[2019-03-05 20:14] #12137 closed

[2019-03-05 20:15] rshriram commented on #12170
It works properly. I verified. we can close this issue..

CDS output in gateway
[code]

LDS output:
[code]

for the following config (similar to @uk000 's config)

[code]

[2019-03-05 20:15] #12170 closed

[2019-03-05 20:23] ymesika opened #12268 "Add an e2e test for Cluster-aware (Split Horizon)"
Should use a similar logic for setting up two-clusters on flat network (istio-pilot-multicluster-e2e).
Run a scenario that tests routing two local and remote endpoints.

[2019-03-05 20:24] dwradcliffe commented on #12162
@rshriram Any progress figuring out what the problem is with the config format change?

[2019-03-05 20:36] primehaxor opened #12269 "Virtualservice 404 and ECONNREFUSED after 15 minutes"
**Describe the bug**
Currently, we have an ISTIO setup with the following options below, everything works fine for 15 to 30 minutes then we start to receive every 3 or 4 requests one 404 or even worse one ECONNREFUSED in the ingress-gateway, all pods are healthy everything is up and running. During the issue, I've run the tests locally in the pods itself. After re-apply the virtualservice rule thi

[2019-03-05 20:48] linsun opened #12270 "kiali is not included in demo profile"
followed our install guide to fetch istio helm charts, then installed it via:

[code]

result: not seeing kiali in the istio-system ns.

[2019-03-05 20:50] adityats2020 commented on #11273
I have observed this error when I enabled Mutual TLS manually. I had to update `controlPlaneAuthPolicy` after I updated `TLS.Mode` in `DestinationRule`.

[2019-03-05 20:51] howardjohn commented on #12270
I think this is because most of the config is in `values-istio-demo-common.yaml` now. When we generate `istio-demo.yaml` we apply both value files together.

Running a quick grep we only reference these files in the docs in one place: `content/docs/setup/kubernetes/install/ibm/index.md`

[2019-03-05 20:52] linsun commented on #12270
I suggest we remove values-istio-demo-common.yaml and merge the content into values-istio-demo.yaml or values-istio-demo-auth.yaml.  it is confusing to our users to specify 2 files.

While this  content is only in that one place, that is our instruction to quick start with istio.

[2019-03-05 20:55] howardjohn commented on #12270
I think the reason we have it is because the demo and demo-auth were getting out of sync. @mandarjog made the change

[2019-03-05 20:56] howardjohn commented on #12249
https://github.com/istio/istio/blob/de06caf5c2c20aae7c20476026906a5618940362/install/kubernetes/helm/istio/templates/sidecar-injector-configmap.yaml#L225-L229
If you have just proxyCPU it sets both CPU and memory

[2019-03-05 21:07] jmazzitelli commented on #12270
So, are we saying that we now have to add this:

[code]

In addition to the original `--values=istio/values-istio-demo.yaml` when we run the helm command?

[2019-03-05 21:17] venezia commented on #11696
@douglas-reid per [this faq](https://github.com/istio/istio.io/blob/master/content/help/faq/general/how-to-join-slack.md) I need to find someone that already is in the slack, which could be you :)

You can look at [this repo](https://gitlab.com/mvenezia/stream-live-service/tree/master) - its just a dummy example (I've tried this many times, but always run into the same issue) of:

svc1 -> svc2 ->

[2019-03-05 21:20] howardjohn commented on #12270
Yes, if you are using helm and want the demo profile, that is what is needed currently. All of the docs except the IBM page use `kubectl apply -f istio-demo.yaml` instead of helm - helm is used only for the production install

[2019-03-05 21:24] duderino commented on #12012
Closing this for lack of a response, but please reopen when you're ready

[2019-03-05 21:24] #12012 closed

[2019-03-05 21:25] duderino commented on #12078
@ostromart @esnible I don't understand what should happen here.  Please describe.  For now, I think this is not a P0 but will put P1 so we revisit it again for the 1.1.x series

[2019-03-05 21:28] pitlv2109 commented on #11569
Checked in PR #12050.
@yangminzhu Should we close or wait until the Galley part is done?

[2019-03-05 21:36] nrjpoddar commented on #12237
Based on suggestion from @esnible ran the following test:

* Validated if `istioctl` rejects Sidecar config which doesn't have `istio-system` in egress.
  - Used `istioctl` (both `istioctl create -f` and `istioctl validate -f`) in [istio 1.1.0-rc0](https://github.com/istio/istio/releases/tag/1.1.0-rc.0), I was able to apply the following YAML:
[code]
     and the resource was successfully created

[2019-03-05 21:58] michaelkipper commented on #12181
This should be resolved in https://github.com/istio/istio/pull/12272
Will wait to implement that and try it out.

cc: @dwradcliffe

[2019-03-05 22:00] howardjohn commented on #12265
What Istio version are you using? This should be fixed now https://github.com/istio/istio/issues/11748

[2019-03-05 22:07] howardjohn commented on #12267
I think all of the other ones are failing because of this
[code]

We need to be using `test-values/values-e2e.yaml` as well, otherwise the resource requests are too large and we get pods in pending state.

[2019-03-05 22:41] incfly commented on #12267
Thanks @howardjohn .

I dig a little bit. It's surprised to me that the while I pass
 `-istio.test.kube.helm.values "global.hub=gcr.io/jianfeih-test,global.tag=0302a"` when running the test, they don't seem take effect.

- They used to work, unsure if anything has changed.
- My changes, however, also have some changes on how to specify helm values overrides. I'll need to double check if it's not m

[2019-03-05 22:49] incfly commented on #12139
Thanks @rshriram and @venilnoronha for the quick fix!

The fixing PR seems to disable the redis proxy filter on Envoy, which I believe is the safe thing to do. However, I think there's still something we need to further investigate if it's Envoy redis filter implementation is incompatible with some client libraries or not. Right?

Do you want us to file separate issue to track that? @rshriram

[2019-03-05 23:04] howardjohn commented on #12267
Seems like it should work? https://github.com/istio/istio/blob/134a31aea0da04e01ace7a865d4f26006b09dfcc/tests/integration2/tests.mk#L45

did you pass `-istio` and not `--istio`? Either way you can just set the HUB and TAG variables and that definitely works

[2019-03-05 23:06] douglas-reid commented on #11696
@venezia here's what I'm doing to debug on my side. maybe it will help suss out the diff. I had a 1.0.3 cluster sitting around, which I used to save time as I had recently torn down my 1.0.6 cluster to make room for 1.1 release testing.

I applied the following config:

[code]

Then sent a request to the bookinfo app (just as an example).

Then retrieved all the generated logs at mixer, via: `kube

[2019-03-05 23:08] esnible commented on #12078
@ayj Is it sufficient to add these to the deprecatedFlags we already have in _istioctl/cmd/istioctl/kubeinject.go_?

[code]

If no one is using them it should be sufficient just to mark them as deprecated so they don't appear in the docs.

Alternately I can remove them all together, or try to get them working.  Your call.

[2019-03-05 23:16] costinm commented on #11509
Oz, do you think Galley can validate this and reject ?

In 1.1 we are moving to a model where Gateway resources must be located in the same namespace with the deployment - so they are easier to inspect. ( main motivation is the security of TLS certs, which have to be in the deployment namespace ).

The 'port' conflict is more of an implementation behavior we should fix.

[2019-03-05 23:17] esnible commented on #12237
@rshriram @mbanikazemi Need advice.  One way to solve this is to document that `istio-system` SHOULD be included in lists of egress hosts.  Another is to have kube-inject add it.  Another is to have the system always behave as if the istio-system is an egress without explicitly modeling it.  Which approach is preferred for 1.1?

[2019-03-05 23:21] howardjohn commented on #12267
Hopefully fixed in https://github.com/istio/istio/pull/12274

[2019-03-05 23:36] duderino commented on #12093
So latency increased but cpu utilization dropped?   That really sounds like concurrency going down.   Did you try running the command that @mandarjog suggested in https://github.com/istio/istio/issues/12093#issuecomment-468495802 ?  That might tell a different story

[2019-03-05 23:39] venezia commented on #11696
Sure thing, I got:

[code]

Right after (well a few minutes after anyway) I requested the bookinfo page (this was running on the cluster all this time) and grab those logs:
[code]

The product page spans look "right" (they change, spans become parents, etc.) and jaeger shows things in a great way too.

The thing I figure I should mention is that while the [details python code](https://github.com/i

[2019-03-05 23:42] duderino commented on #12204
Please set to P0 if there is a regression from 1.0.

[2019-03-05 23:45] duderino commented on #12264
Setting to P0 for someone to verify that https://github.com/istio/istio/pull/12214 fixes the probilem.

@philrud @howardjohn @mandarjog @costinm @rshriram @siltentdai looking for a volunteer

[2019-03-05 23:48] duderino commented on #12037
@tiswanso can this be closed?

[2019-03-06 00:02] howardjohn opened #12275 "Pilot segfault when starting under heavy load"
**Describe the bug**
First, I created around 100 services, then I set Pilots CPU limit to `10m`. Upon start up, discovery logs show `Work item handle failed (waiting till full synchronization), retry after delay 1s` repeatedly.

After 20s, Pilot crashes

[code]

**Version**
1.1 rc2

[2019-03-06 00:02] mandarjog commented on #12264
I just reproduced the problem by upgrading to the latest 1.1 daily build. `gcr.io/istio-release/pilot:release-1.1-20190305-09-16`

Log messages pushing config to envoys are interspersed, waiting till full synchronization messages.
One too many async go routines :-)

[code]

[2019-03-06 00:07] duderino commented on #9113
@knrc reports he still sees the rare 503 (about 7 in 1 hour at 10 rps which means a probability of about 0.0002 per request) and is continuing to investigate.  Demoting to P1 to cover the remaining work

[2019-03-06 00:09] mandarjog commented on #12264
@rshriram @hzxuzhonghu This is a P0 now.

[2019-03-06 00:11] duderino commented on #12015
Discussion from slack and comments on  https://github.com/istio/istio/pull/12259 say keep k8s ingress.

slack networking channel:

[code]

[2019-03-06 00:11] ostromart commented on #12078
Yes, I think deprecating these is the way to go. If you're going to do that @esnible it would also be worth documenting the env var behavior that Jason mentioned somewhere in the main cmd file if that's not already there.

[2019-03-06 00:15] duderino commented on #11819
Warning:  this P0 is getting very close to the 1.1 cutoff.  It needs a plan asap

[2019-03-06 00:17] costinm commented on #10360
I don't think it should block 1.1 release - plenty of other fixes and improvements, and this is not a regression.

It should be back to P0 once we ship - and if in the next few days we find the root cause and the fix
is small it may be worth getting it in, even if it means few days of added delay. But right now we're
still on reproducing and finding the root cause.

[2019-03-06 00:18] kyessenov commented on #11819
@atrifan What does the log say when you try to upgrade from 1.0.6? We can probably fix the missing flag or whatever changed, but it'd help to know what the issue is.

@duderino gRPC LB PR was merged to 1.1 yesterday. The plan is to recommend on relying on headless services + server-side max connection age, since there is no other simple alternative in gRPC library. The upgrade issue is different,

[2019-03-06 00:19] duderino commented on #10500
@esnible, relaying some comments from @philrud

[code]

@costinm

[2019-03-06 00:25] duderino commented on #11819
@kyessenov @douglas-reid what's the priority on the upgrade issue?  Unknown until we get steps from @atrifan to reproduce?

[2019-03-06 00:26] duderino commented on #10500
And @philrud says that PR will be out later today.

[2019-03-06 00:28] duderino commented on #12266
@jasminejaksic Thanks for jumping in.

@jasminejaksic-zz Thank you too

[2019-03-06 00:31] duderino commented on #11868
@linsun @sdake @clyang82 @morvencao thanks a ton!

[2019-03-06 00:34] duderino commented on #12015
@philrud @sdake @xianke9 how can we close out this bug?  What needs to be doc'd?

[2019-03-06 00:37] duderino commented on #12066
@philrud @rshriram thanks!

[2019-03-06 00:38] duderino commented on #12170
@rshriram thank you

[2019-03-06 00:38] morvencao commented on #12108
Some static pods(api-server, etcd, controller-manager and scheduler...) in `kube-system` namespace, don’t have ServiceAccountName, and they are not user deployed pods.

[2019-03-06 00:47] duderino commented on #12264
So https://github.com/istio/istio/pull/12214 was merged March 4th at 7:06am PST... so I think that means that the March 5th daily build has the fix and @mandarjog just showed that the problem remains?

[2019-03-06 00:58] duderino commented on #12264
Had a chat with @mandarjog, this is indeed an unsolved issue and a release blocker.

The hope is that @rshriram and @hzxuzhonghu can use their magic powers to fix this now that @mandarjog has provided key logs and @mandarjog can verify the fix

[2019-03-06 02:11] hzxuzhonghu commented on #12264
opened #12278 to try to fix.

[2019-03-06 02:17] louiscryan commented on #12066
@robertpanzer to address your question above

1. pick best matching dest rule from the calling sidecar/gateway’s own namespace **(unless this calling namespace is also the global config root namespace)**
2. if there is no (1), pick best matching dest rule from the target service’s namespace
3. pick best matching dest rule from global config root namespace (e.g., istio-config).

For the default ing

[2019-03-06 02:35] tiswanso commented on #12037
Closing this issue now that #11877 merged

[2019-03-06 02:35] #12037 closed

[2019-03-06 02:36] vadimeisenbergibm commented on #11509
@costinm I think this behavior does not happen anymore after #12071.

Now you can define multiple gateways, a gateway per host.

Let me check this and update
https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/mount/#configure-a-tls-ingress-gateway-for-multiple-hosts to use multiple gateways.

[2019-03-06 02:51] linsun commented on #12237
I would much prefer to have  istio-system auto configured as an egress without user explicitly modeling it.

cc @costinm @louiscryan @frankbu

[2019-03-06 03:11] nrjpoddar commented on #12237
@linsun I agree in principle.

Although I'm assuming `istio-system` is a place holder for the namespace where istio control plane is deployed and we will support cases where `istio-mixer` pods might be a different namespace than `istio-pilot`.

[2019-03-06 03:26] howardjohn commented on #12237
I think having istio-system a special case that's always included is not the best approach.
* There are valid reasons to not have istio-system (https://github.com/istio/istio/issues/11762 as one example - probably others as well)
* we shouldn't have any requirement for Istio to be installed in istio-system, and it won't be if we use Costins new installer

[2019-03-06 03:45] linsun commented on #12270
Note: we are also in the process of creating a table for each profile which will include the demo profile.  It is odd experience if we ask users to feed 2 values.yaml for demo but not for other profiles.

So I proposed https://github.com/istio/istio/pull/12280 PTAL

[2019-03-06 03:59] douglas-reid commented on #11819
@duderino I marked this as a P0 because yesterday, it was decided that load-balancing for gRPC was a requirement for OOP adapters. The PR was then merged. If we file another issue to track the upgrade that's fine.

[2019-03-06 04:30] mandarjog commented on #12270
Need to be careful about precedence order. Made they change because files were getting out of sync.

[2019-03-06 04:36] douglas-reid commented on #11696
@venezia the one I thing I notice is that your traces never seem to set the `parentSpanId`. I believe that the bit in `productpage` app that creates a span ends up setting a parentSpanId.

Quickly checking the source code for the jaeger client, I believe end up in this block:

https://github.com/jaegertracing/jaeger-client-python/blob/master/jaeger_client/tracer.py#L173-L174

That creates the span

[2019-03-06 05:27] douglas-reid commented on #11696
@venezia i've found the bit in the envoy source code where the span id's are created/overridden. it all depends on a bit of tracing config in the outbound filter where the tracing operation is set to `EGRESS`.

Can you also confirm that you have a listener config in your proxy config (port-forward to 15000 and navigate to config_dump) for 0.0.0.0_80 that contains a tracing stanza that looks like:

[2019-03-06 05:53] douglas-reid commented on #11696
@venezia the other strange thing i notice in the generated logs you sent is that `reporter: "destination"` for all of your services. It shows up twice for each hop as "destination", but never as "source". Also odd is that your `"source_app"` label is never populated, but your `"destination_app"` label always is.

We really need to look at your envoy config to figure out what is going on.

I would

[2019-03-06 06:04] douglas-reid commented on #11696
@venezia deploying your yaml into my existing cluster, with bookinfo also deployed alongside, i'm able to generate the following:

[code]

This shows everything working as expected.  So, I'm left wondering what is different about our environments.

[2019-03-06 06:14] douglas-reid commented on #11696
@venezia just to show that I did get this working visually, here's output from that same test via Stackdriver Trace:

![image](https://user-images.githubusercontent.com/21148125/53859888-0ef29780-3f94-11e9-8184-b41b8541597d.png)

[2019-03-06 06:51] philrud commented on #10500
@esnible @duderino the PR in question: https://github.com/istio/istio/pull/12284

[2019-03-06 06:59] robertpanzer commented on #12066
@louiscryan This makes sense. I was missing this clause:

[2019-03-06 07:00] Kajvdh commented on #12222
I didn't think of that indeed @esnible. How is dealt with this problem with traditional reverse proxies that have a secured upstream connection with their underlying back-end services?

I would figure that there would be a possibility to set up a HTTPS connection to the reverse proxy (or Istio ingress gateway in this case) - which decrypts the request and is able to route based on the path and the

[2019-03-06 07:16] larryrun commented on #2120
@wattli thanks for sharing the info!

[2019-03-06 08:31] Miouge1 commented on #8619
Is the recommendation to add a proxy service to translate cookies into Authorization header?

[2019-03-06 08:32] sdake opened #12286 "upgrade fails when gateways for addons are enabled"
**Describe the bug**
When upgrades are enabled for addons, upgrade fails.

**Expected behavior**
Upgrade should not fail.

**Steps to reproduce the bug**
[code]

**Version**
release-1.1 commit f9683ae0def09e5660246c95445ce242f2d20c9b

**Installation**
see reproducer

**Environment**
Istio release 1.1 latest tip, kubernetes 1.13.14, metallb 0.7.3
**Cluster state**
[code]

[2019-03-06 08:35] sdake commented on #12286
@morvencao if you can take a look at this, it would be highly appreciated.  @gyliu513 ^^

[2019-03-06 09:03] morvencao commented on #12286
@rshriram
Gateway `ns/name` syntax was introduced into Istio 1.1. During helm upgrade for Istio 1.0.x to Istio 1.1, the new galley instance hasn't started when the virtualservice with `ns/name` syntax are ready to validating server. So the old galley instance take the responsibility and return `validate failed` results.

In order to skip the issue, I suggest to remove the `namespace/` prefix and k

[2019-03-06 09:04] vadimeisenbergibm commented on #11509
@costinm @rshriram I have checked - now it is possible to define multiple gateways on the same port, a gateway per host. I rewrote the example of a secure ingress for multiple hosts - https://github.com/istio/istio.io/pull/3529.

I think we can close this issue.

[2019-03-06 09:47] yannlambret opened #12290 "Being able to use sniHosts directive with ingress gateway and TLS termination"
**Describe the feature request**

Hi,

I would like to be able to route multiple TCP services while exposing a single port on the ingress gateway. The goal is to achieve something similar to the feature described [here](https://www.haproxy.com/fr/blog/enhanced-ssl-load-balancing-with-server-name-indication-sni-tls-extension/) (HAProxy project documentation), but it looks like this use case is not

[2019-03-06 11:34] RaduRaducuIlie commented on #7479
@kirgene I'm trying to configure SSL certificates in kubernetes with cert-manager, istio ingress and LetsEncrypt. I have installed istio with helm, cert-manager, created ClusterIssuer and then I'm trying to create a Certificate. The acme challenge can't be validated, i'm trying to do it with http01 and can't figure it out how to use istio ingress for this. Istio is deployed with following options:

[2019-03-06 11:39] RaduRaducuIlie commented on #7479
@kirgene I'm trying to configure SSL certificates in kubernetes with cert-manager, istio ingress and LetsEncrypt. I have installed istio with helm, cert-manager, created ClusterIssuer and then I'm trying to create a Certificate. The acme challenge can't be validated, i'm trying to do it with http01 and can't figure it out how to use istio ingress for this. Istio is deployed with following options:

[2019-03-06 13:37] thomschke commented on #11333
Hi @linsun, any good news?

The official istio charts (1.1.0-rc.2) provide deployments with:
- dynamic autoscaling for:
  - gateways (Ingress/Egress/ILB)
  - mixer (Policy, Telemetry)
  - pilot
- configurable replica count for:
  - galley
  - citadel

That's very good. But **without anti-affinity rules** these charts are **not suitable for HA clusters in production**.

So I have to merge the anti-

[2019-03-06 14:02] venezia commented on #11696
So I dumped the [config](https://gist.github.com/venezia/487fd0edfc7f312fce8747a62c6fdde8) though now it might not be all that useful.

After you showed my sample app suite was working for you, I decided to just delete istio (and bookinfo, and my previous services since any changes to the sidecar injector wouldn't be realized) and reinstall using 1.0.6.  I used the same approach to installing isti

[2019-03-06 14:10] xiaozhongliu opened #12291 "Gateway rules in istio-remote cluster does not take effect"
**Describe the bug**
We've successfully deployed the Single control plane topology with two clusters.
Now we have istio gateways installed in both clusters. But gateway rules in istio-remote cluster does not take effect.
If I config gateway rules only on remote cluster, no final rule is generated:
[code]

**Expected behavior**
Gateway rules in istio-remote cluster take effect.

**Steps to reproduc

[2019-03-06 14:58] Stono commented on #11696
Yes, it's my understanding that we shouldn't need any client libraries at
all.

If product page uses libraries then that explains why my setup (which does
nothing more than forward) does not.

Karl

On Wed, 6 Mar 2019, 2:31 pm Michael Venezia, <notifications@github.com>
wrote:

[2019-03-06 14:59] robertpanzer commented on #12181
I also tested this.
I created a VirtualService and a ServiceEntry like this:
[code]
(Looks weird, but it just routes the host name mygoogle.com to google.com)

Then I started taking a tcpdump from the proxy with this command:
[code]
I see that Envoy seems to do the DNS lookups every 5 seconds due to this PR not being installed yet.
But what I found quite strange is that it always tries to do the l

[2019-03-06 15:08] rshriram commented on #12286
ack.. thanks for the fix

[2019-03-06 15:08] #12286 closed

[2019-03-06 15:10] jnativio commented on #12093
The istio-proxy concurrency is 2 as it is default since PR #11476. The drop in CPU observed in the Istio node is due to telemetry using less of it, although somehow ingress-gateway is prevented to use more (they run in the same node) and that explains the drop in TPS.

[2019-03-06 15:15] rshriram commented on #12181
@robertpanzer thats because of the default DNS search namespaces in the pod. In kubernetes, it defaults to searching in local namespace, then all namespaces, and then to external DNS.

[2019-03-06 15:18] xiaozhongliu commented on #12112
we solved this by distinguish namespaces.

[2019-03-06 15:32] linsun commented on #12286
thank you @morvencao for fixing this!!

[2019-03-06 15:37] stevethedoug commented on #8270
I'm getting pounded with this log noise as well, every istio-proxy container as part of any pod is spitting this warning out every 5 minutes. Is there any way to supress this warning if this is actually log noise?

istio-proxy:  [2019-03-06 14:44:33.157][18][warning][upstream] external/envoy/source/common/config/grpc_mux_impl.cc:240] gRPC config stream closed: 13,
istio-proxy:  [2019-03-06 14:49:3

[2019-03-06 16:01] #7418 closed

[2019-03-06 16:05] howardjohn commented on #12261
https://github.com/helm/helm/blob/master/docs/chart_template_guide/subcharts_and_globals.md

Sounds like top section is right, top level `values.yaml` has precedence over subchart

[2019-03-06 16:12] esnible commented on #8270
This message is coming from Envoy, not Istio.  I verified that it is still in the latest Envoy source.  It moved, but is there.

https://github.com/envoyproxy/envoy/blob/master/source/common/config/grpc_stream.h#L92

The status 13 means internal error!

[code]

I notice you are getting this message every 5 minutes.  I am on 1.1 RC 2 and I am seeing it only every 30 minutes.  Did something change i

[2019-03-06 16:17] esnible opened #12294 "Log message "use_original_dst is deprecated"; Istio needs a replacement"
I'm using 1.1 RC2

The sidecar logs frequently complain about "use_original_dst'"

[code]

The large number of these messages makes it easy to miss real problems.

https://github.com/envoyproxy/envoy/blob/master/DEPRECATED.md#version-160-march-20-2018 says this was deprecated last March.  Envoy recommends "Use listener filters and filter chain matching instead."

[2019-03-06 16:25] esnible commented on #12252
I have been looking at this problem a lot.  https://github.com/istio/istio/issues/11700#issuecomment-468709603 and following comments.

The test applies _rule-503test-destinationrule-c-del-subset.yaml_ to eliminate the definitions of v1 and v2.  This *SHOULD NOT* be a problem because the VirtualService is using v3 and v4.

2 seconds later the 503 occurs.

I watched the Envoy logs as I modified a D

[2019-03-06 16:28] Hongwei-Wang commented on #12027
@ostromart Yeah, thanks for helping!

[2019-03-06 16:59] morvencao opened #12295 "'istioctl proxy-status' command gets wrong version for release 1.0.3-1.0.6"
**Describe the bug**
The `istioctl proxy-status` command gets the wrong version, as you can see from below output(last column), version `1.0.2` is shown, expect `1.0.6`
[code]

We need to make sure the `ISTIO_META_ISTIO_PROXY_VERSION` environment variable is set to right version for every later release in `proxyv2` dockefile.

See: https://github.com/istio/istio/blob/1.0.6/pilot/docker/Dockerfile.

[2019-03-06 17:09] #12027 closed

[2019-03-06 17:34] ryanolson opened #12296 "VirtualService fails to route using non-default cluster domain"
**Describe the bug**

I use a not-default cluster domain `k8s.local` instead of `cluster.local`

[code]
root@s3test2-547cf5f9-6vc6p:/# ping basic-trtis-deployment.trtlab.svc.cluster.local
ping: basic-trtis-deployment.trtlab.svc.cluster.local: Name or service not known
[code]
---
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: basic-trtis-deployment-virtual-service
s

[2019-03-06 17:40] douglas-reid commented on #11696
@venezia Happy to hear things are working for you.

@Stono @venezia The productpage using the client library should have no impact on the tracing functionality. It wasn't that long ago that it was completely manual -- and everything still worked. Forwarding is all that is required.

The productpage sample's use of ot libraries was explicitly added to provide an example of how to use such libraries

[2019-03-06 17:58] ozevren commented on #11509
If I am reading this right, validation would require considering multiple resources at the same time, right?

The validation webhook can consider only one resource at a time, otherwise we risk very wonky behavior with kubectl.

[2019-03-06 18:07] ozevren opened #12297 "Ctrlz page for MCP clients is currently broken."
The page is showing undefined for many of the fields. This is probably due to some recent refactoring.

We should fix and also add some comments about updating the assets when things change.

[2019-03-06 18:13] ozevren opened #12298 "Add debug config dump support to Galley Ctrlz page"
We need a debug output page for Galley, that can show its current internal config state. This should work as a Ctrlz topic. MCP Server code is the ideal place to tap into.

This includes:
- Creating a new Ctrlz topic that has the right interface to listen to MCP Server to different snapshots it is serving.
- Plumb the interface in through the MCP Server/initialization code.
- Set it up at the top

[2019-03-06 18:39] duderino commented on #8270
I can take this and would be happy to send a PR to envoy, but it would be after 1.1.

@esnible or anyone else, if you can get there sooner please take the bug and unassign me.

[2019-03-06 18:41] duderino commented on #12108
I think this is a good one for a post 1.1 patch release

[2019-03-06 18:42] #12141 closed

[2019-03-06 18:42] #12168 closed

[2019-03-06 18:44] howardjohn commented on #12108
@duderino sounds good. https://github.com/istio/istio/pull/12239/files just drops the log level down as a short term improvement until a real fix is developed. That could also be in 1.1.1 though, up to you

[2019-03-06 18:46] duderino commented on #12275
This is super important because if you have to add a bunch of pilots to relieve heavy load, you may not be able to add them successfully without temporarily diverting or dropping traffic.

[2019-03-06 18:52] duderino commented on #11819
@atrifan please file a new issue for the upgrade and reference this one.

[2019-03-06 18:52] #11819 closed

[2019-03-06 18:55] duderino commented on #12297
P1 but @ozevren please ping me if you can get a PR in by 2pm PT March 6th and I'll try to get it merged.

[2019-03-06 19:05] howardjohn commented on #12275
fwiw, I have not been able to reproduce this after many attempts. Obviously still an issue, but I think it may be a rare one

[2019-03-06 19:08] howardjohn commented on #12275
Spoke too soon...
[code]

Exact reproduction steps:
* Generate large service `https://github.com/istio/tools/tree/master/perf/servicegraph/setup_large_test.sh 2`
* Set Pilot CPU limit to `10m`
* Restart Pilot repeatedly

[2019-03-06 19:21] kyessenov commented on #11819
I went ahead and tried to install 1.0.6 and changed mixer to 1.1.0-rc.2 in istio-policy and istio-telemetry. That works but the liveness probe eventually forces a pod restart. The reason is that there was a change in the port number used for monitoring between 1.0.6 and 1.1.0-rc.2. To fix this, you need to modify one line in 1.0.6 deployment:
[code]

[2019-03-06 19:24] linsun commented on #12295
@duderino @utka FYI, I'd like to discuss this in the next release test call, how can we automate this more so this won't happen.

[2019-03-06 19:24] linsun commented on #12295
cc @ibm-jason

[2019-03-06 19:25] douglas-reid commented on #11638
@MBauer83 you said that you can confirm that traffic is flowing through your proxies. May I ask how?

I just tried a fresh install of 1.1 on a GKE cluster with Network Policy (1.12.5-gke.5) enabled and `istio_cni` enabled. I can see traffic flowing to each of the sample pods, but it does *NOT* go through the proxies.

Install:

[code]

Counters from the productpage envoy proxy after sending severa

[2019-03-06 19:47] douglas-reid commented on #11724
@HWPeiyao I think you'll likely get more feedback on the discussion forum.  Can you open a thread on discuss.istio.io. The perf WG is the right place to raise these questions.

I'm going to close this issue for now.

[2019-03-06 19:47] #11724 closed

[2019-03-06 19:48] tiswanso commented on #11638
@douglas-reid  -- with your new install of 1.1 on GKE do you see the istio-cni-node daemonset present?  In newer release-1.1 versions the istio and istio/cni helm charts are separate and the install of the CNI is a separate step helm template/install operation.

[2019-03-06 20:07] yxun opened #12300 "istio-1.1.0-rc.2 samples rbac-config-ON.yaml kind mismatch"
**Describe the bug**
{{ Succinctly describe the bug }}
In "istio-1.1.0-rc.2/samples/bookinfo/platform/kube/rbac" , this yaml file "rbac-config-ON.yaml" is using a new kind and no matches in the following command.

[code]
If we use rbac.istio.io/v1alpha1, the kind "RbacConfig" works but not the "ClusterRbacConfig"

**Expected behavior**
{{ What did you expect to happen? }}

kubectl apply -f rbac-co

[2019-03-06 20:13] sdake opened #12301 "addon gateways appear DOA"
**Describe the bug**
certificate error when accessing addon IPs.

<img width="829" alt="screen shot 2019-03-06 at 1 10 31 pm" src="https://user-images.githubusercontent.com/755849/53910584-67b44580-4011-11e9-8174-e9ad34eb02ec.png">

**Expected behavior**
access to the https enabled endpoint

**Steps to reproduce the bug**
[code]

**Version**
istio 1.1.0 release

**Installation**
see reeproducer

*

[2019-03-06 20:30] douglas-reid commented on #12301
I've recently encountered this as well. We should either move this back to being HTTP or fix the certs.

[2019-03-06 20:34] alyssawilk commented on #9113
Belatedly agreed: 1) still has inherent races.  2) does have some risk, especially for non-idempotent requests, but is the best option for avoiding 503s.  3) has been historically super expensive for the proxy I've run so I agree with the folks who had perf concerns.  I'd say 4 has higher risk of not getting it right first, but may be safer if you need to avoid spurious retries.

[2019-03-06 20:45] sdake commented on #12015
This bug can be closed.  I am unclear what needs to be documented.  I understand (someone) has a document on this topic - not sure where - not sure what state it is in.  @costinm had more context.

Cheers
-steve

[2019-03-06 20:53] philrud commented on #12015
After this is merged: https://github.com/istio/istio/pull/12284 (remote old "ingress" from the installer, keep "k8sIngress"), we will need to remove "ingress.enabled" flag from the docs and mention in the release notes that "ingress.enabled" installer flag is obsolete and has been removed (in favor of gateways).

[2019-03-06 20:58] mandarjog opened #12303 "1.1-RC.2 Pilot SIGSEGV under load"
build: `gcr.io/istio-release/pilot:release-1.1-20190305-09-16`

Pilot was under load  (limit 6vCPUs, using 5 of those) but under stead state.
I observed a restart 3 times.

[code]

[2019-03-06 21:00] mandarjog commented on #12303
@costinm @rshriram @duderino

[2019-03-06 21:02] mandarjog commented on #12303
We have a mapping from service to service account, but has not gone thru `edsUpdate`  to populate the `endpointShardsCache` with an entry for the service.

[2019-03-06 21:25] yxun commented on #12300
This issue is not valid. It's our installation step missed the CRD.

[2019-03-06 21:25] #12300 closed

[2019-03-06 21:31] knrc commented on #9113
Update for today's call

I have traces from both ingressgateway and httpbin sides, the error is happening when the sidecar returns RST/ACK in response the the request (GET in this case) but without trying to talk with the application.  The response from ingressgateway to the caller is then a 503.

I'm still investigating the reason behind the RST/ACK from the sidecar.

[2019-03-06 21:36] knrc commented on #9113
BTW I can now reproduce these after approx 10-15 mins

[2019-03-06 21:36] duderino commented on #12264
@mandarjog will test today.   if not fixed by tomorrow morning we will skip for 1.1 (though maybe we can slip in another fix while we wait for docs)

[2019-03-06 21:40] duderino commented on #12117
@morvencao have you had a chance to test this?  Please do so soon so we can make sure this is fixed for 1.1.  Thank you

[2019-03-06 21:42] duderino commented on #12117
Potential fix is last daily except for a fix for the oom killer issue.

oom killer issue by itself is a P1

[2019-03-06 21:47] sdake commented on #12015
@philrud is that handled by https://github.com/istio/istio.io/pull/3498?  ingress.enabled is used throughout the install codebase.  For some reason @costinm indicated this has indicated you ahve fixed this?

[2019-03-06 21:52] liminw commented on #12301
@wattli @myidpt @incfly

[2019-03-06 21:53] ekarlso opened #12305 "1.1 RC2 error running istio authn tls-check"
**Describe the bug**
Warning! error execing into istio-pilot-544b5d9bc6-xcnpr/istio-system discovery container: gc 1 @0.015s 2%: 0.008+1.3+0.065 ms clock, 0.034+0.12/1.0/1.5+0.26 ms cpu, 4->4->2 MB, 5 MB goal, 4 P
gc 2 @0.027s 3%: 0.008+1.9+0.094 ms clock, 0.033+0.11/1.7/2.6+0.37 ms cpu, 4->4->2 MB, 5 MB goal, 4 P

Error: nothing to output

**Expected behavior**
It should work?

**Steps to reprodu

[2019-03-06 21:55] incfly commented on #12301
@JimmyCYJ

[2019-03-06 22:15] philrud commented on #12015
@sdake looks like there are several conversations in different threads. Let me summarize everything here.

1. "ingress.enabled" != Kubernetes Ingress resource support
2. "ingress.enabled" is known to be broken and should not be used, we need to remove it. Here's a PR for this: https://github.com/istio/istio/pull/12284 (similar to your PR from yesterday, see the PR notes highlighting the key differ

[2019-03-06 22:23] gbaufake commented on #11972
@bianpengyuan  by not working. I mean all the connections that go to istio-policy pod returns 503. I will retest this on Istio 1.1.0-rc2 because I was told it could be a race issue on the mixer.

[2019-03-06 22:33] sbezverk opened #12308 "pilot's discovery becomes not ready"
After working for 20 something minutes pilot got into non ready state:

[code]

[2019-03-06 22:36] sbezverk commented on #12308
See complete logs collected from both containers:

https://gist.github.com/sbezverk/6abcb6885ca3469680eceb3c48cd3ed1

[2019-03-06 22:37] sdake commented on #12015
thanks @philrud - we were struggling to understand the state of these things.

Cheers
-steve

[2019-03-06 22:38] sbezverk commented on #12308
@costinm @rshriram  I left pilot in the broken state, let me know if you need me to collect additional things..

[2019-03-06 22:57] mandarjog opened #12310 "Expose envoy H2 protocol options in destination rule"
At present [cluster.go](https://github.com/istio/istio/blob/1.1.0-rc.2/pilot/pkg/networking/core/v1alpha3/cluster.go#L956-L958 ) hardcodes `max_concurrent_streams`.

Expose all supported [h2 protocol options ](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/core/protocol.proto#core-http2protocoloptions) in destination rule.

1. Explicitly model these options in destination rules
2. Add a

[2019-03-06 22:58] jmazzitelli commented on #12301
Do we know when/how this started breaking? I'm curious what changed to cause this to start failing.

[2019-03-06 23:09] Nino-K opened #12311 "Clarification between Service Entry and Synthetic Service Entry"
I would like to get some clarification on what would be the recommended way of generating Service Entries. Presently, Galley generates Synthetic Service Entries for the platform generated configs and Service Entries are generated by the user only. This does not exactly align with what other platforms are doing. For instance, Cloud Foundry Service Entries are generate by the platform (copilot) and

[2019-03-06 23:21] Nino-K commented on #12311
@XanderStrike

[2019-03-07 00:19] #10500 closed

[2019-03-07 00:21] duderino commented on #12015
Remaining work here is captured in steps 3 and 5 from https://github.com/istio/istio/issues/12015#issuecomment-470299110 and these are both doc issues that will be done with @philrud

[2019-03-07 00:24] pnovotnak opened #12312 "DNS Records > 10"
**Describe the bug**
DNS A records fail to resolve if they have more than a certain number of entries. In my testing I found that 30 did the trick. The largest response that I got `host -v` to report was 493 bytes. Maybe a boundary at 500 bytes?

**Expected behavior**
DNS should not fail to resolve in a default setup, especially with an `outboundTrafficPolicy` of `ALLOW_ANY`.

**Steps to reproduce

[2019-03-07 00:43] andraxylia commented on #12311
Semantically they are the same,  cc @louiscryan. Ultimately they lead to creation of Envoy clusters and endpoints.

We introduced synthetic service entries to ease the transition to MCP and make incremental code changes in Pilot, which has different historical code paths for user-generated configs (ServiceEntries CRDs) and k8s native resources (k8s services and endpoints). The Pilot Decomposition

[2019-03-07 00:48] MBauer83 commented on #11638
@douglas-reid : I was misreading the diagnostics - and probably assuming that successful traffic would have to go through the proxy-container if it works at all, because I've had connection problems when the proxy wasn't working before - but the `cx_` and `rq_` values are all zero.

I attempted to upgrade to 1.1.0-rc2, but even after manually applying the crd-files, the `helm upgrade` command (wit

[2019-03-07 00:48] duderino commented on #12301
We discussed this today.  Notes:

This is a P0 doc issue for @philrud to document how to use letsencrypt certs for the addon gateways.   Phil already has documentation for using the certs, but any doc that describes the addon gateways must describe/reference how to use the letsencrypt certs

There is also a P0 task for @douglas-reid to revert the new gateways.yaml from the addon directories

[2019-03-07 00:53] theganyo opened #12313 "EnvoyFilter isn't applied in 1.1-rc.2"
**Describe the bug**
Creating an EnvoyFilter in Istio 1.1-rc.2 does nothing.

**Steps to reproduce the bug**
I created and applied the simplest possible Lua filter I could:
[code]

There is no effect in 1.1. I've verified that this works in 1.0 and that /config_dump includes the filter in 1.0 and not in 1.1.

**Version**
➜  temp istioctl version
version.BuildInfo{Version:"1.1.0-rc.2", GitRevision:

[2019-03-07 00:57] myidpt commented on #12301
Thanks for the update, @duderino

[2019-03-07 01:03] mandarjog commented on #12313
@theganyo did you test it with a prior release?

@robertpanzer are you injecting lua filters in 1.1  or 1.0 ?

[2019-03-07 01:25] hzxuzhonghu commented on #12252
It is duplicate

[2019-03-07 01:25] #12252 closed

[2019-03-07 02:02] morvencao commented on #12117
@hzxuzhonghu @duderino Sorry for the late response, I will verify the PR today.

[2019-03-07 02:08] duderino opened #12316 "Codecov flake: Coverage dropped: proxy/envoy/v2/rds.go:-12.200000% (73.200000% to 61.000000%)"
**Describe the bug**

I've seen this one a bunch of times when reviewing PRs.  It comes and goes and appears to be completely unrelated to PR.

https://circleci.com/gh/istio/istio/347770?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[code]

[2019-03-07 02:12] morvencao commented on #12108
agreed, move this to post 1.1.

[2019-03-07 02:13] theganyo commented on #12313
No, I haven’t tested against the various pre-releases of 1.1. When it didn’t work, I tested against 1.0 as a baseline.

[2019-03-07 02:22] duderino opened #12317 "Flakey test: istio-pilot-e2e-envoyv2-v1alpha3 istio.io/istio/tests/e2e/tests/pilot TestIngressGateway503DuringRuleChange"
**Describe the bug**

I've seen this across several unrelated PRs.  https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/12278/istio-pilot-e2e-envoyv2-v1alpha3/16369/

[code]

See also  #11929 and #11700

[2019-03-07 04:01] atrifan commented on #11819
Thanks so much will give it a try

[2019-03-07 05:34] morvencao commented on #12117
@hzxuzhonghu @duderino
Great work! the patch https://github.com/istio/istio/pull/12214 is effective in my env.

After pilot OOM killed with the following log
[code]

The pilot tried to restarted but alway get `CrashLoopBackOff`:
[code]

Then check bookinfo application, it still can be access.
And check CDS for `productpage`:
[code]

Upstream clusters of type EDS are still there, which is different

[2019-03-07 05:49] morvencao commented on #12117
For pilot support to watch multiple namespaces, I think it can be addressed post 1.1 and we can track it in https://github.com/istio/istio/issues/11977

If it's all right ti you, let's close this issue.

[2019-03-07 07:35] idouba opened #12322 ""uri" defined in HTTPMatchRequest&HTTPRedirect is path rather than uri"
A standard [uri ](https://en.wikipedia.org/wiki/Uniform_Resource_Identifier)should look like this: URI = scheme:[//authority]path[?query][#fragment].
And the uri referenced in VirtualService, such as HTTPMatchRequest, HTTPRedirect  is simply a path. The field _uri_ seems be a little confusing, maybe path can be better understood.

[2019-03-07 08:33] robertpanzer commented on #12313
I got it working on rc2 by adding workloadLabels and a listenerMatch:
[code]

The workloadLabels can even be empty, but have to be there.
Without the listenerMatch it also seems that the filter is not applied.
Both make sense, but it is not documented like this, I think this could be enhanced.

I am always using the listenerMatch and the workloadLabels, so I cannot quickly test if this worked on 1

[2019-03-07 09:02] velumaniduraisamy commented on #12012
@duderino The issue is not reproducible with latest RC. Thanks for the help and sorry for replying late.

[2019-03-07 09:20] velumaniduraisamy opened #12323 "Unable to see access logs in istio-proxy logs."
Today I installed istio-1.1.0-rc2 version and started sample bookinfo application. When I hit the APIs, I couldn't see any access logs for Incoming and Outgoing calls in the Application's Istio-Proxy.

[2019-03-07 09:47] primehaxor commented on #12269
Update: Since I'm using the GKE I decided to use the ISTIO implementation handled by Google itself the problem goes away

[2019-03-07 09:52] velumaniduraisamy commented on #12323
I installed using helm where the default value for "global.proxy.accessLogFile" is empty. After changing that to "/dev/stdout", I am able to see the logs.
But in the documentation, it is mentioned that the default value for"global.proxy.accessLogFile" is "/dev/stdout"

https://preliminary.istio.io/docs/reference/config/installation-options/#global-options

[2019-03-07 10:58] Stono commented on #9113
I don't know if it helps debugging, but with everything we do in https://github.com/istio/istio/issues/12183 - we only ever see the 503's being reported from the `destination`, not the `source`:

<img width="1679" alt="screenshot 2019-03-07 at 10 56 51" src="https://user-images.githubusercontent.com/1486729/53952054-c76d2800-40c7-11e9-9db5-65d8457fb26d.png">

[2019-03-07 11:08] Stono commented on #11664
The other reason we *really* need this, average istio-proxy usage for memory is 128m, across 500 proxies, that's a fair whack.

<img width="1620" alt="screenshot 2019-03-07 at 11 07 54" src="https://user-images.githubusercontent.com/1486729/53952655-49118580-40c9-11e9-8991-0aaaae0c070c.png">

[2019-03-07 11:34] morvencao commented on #12117
@hzxuzhonghu @duderino @rshriram @mandarjog

The good news is that the patch https://github.com/istio/istio/pull/12214 is effective in my env.
[Update]The Bad news is that the issue still exits in customer's env, don't quite know if that's environment issue, I'm asking customer provide more info about pilot version and sidecar logs.

In my env, everything is OK now:
I have build the pilot image wi

[2019-03-07 12:17] vadimeisenbergibm opened #12324 "In the gateway connectivity setting, the routes do not have short domains"
The problem happens once `values-istio-multicluster-gateways.yaml` is used.
[code]

So requests to `details:9080` are not routed.

[2019-03-07 12:24] vadimeisenbergibm opened #12326 "In the gateway connectivity setting with egress gateway, the egress gateway ignores the external endpoint"
[code]

Egress gateway's endpoints:
[code]

Egress gateway clusters
[code]

[2019-03-07 12:32] vadimeisenbergibm commented on #11842
It works with port 443, documented by https://github.com/istio/istio.io/pull/3428.

[2019-03-07 12:32] #11842 closed

[2019-03-07 13:16] edussx commented on #6071
I'm on 1.0.5 and encountered the exactly same issue. There're two workarounds I currently found that make tls work:
1. like @eigokor said,  specify `httpRedirect` and visit http port instead
2. like @themanifold said, specify `hosts` key as wildcard `*` and then tls works without redirection

[2019-03-07 13:20] edussx commented on #10313
@GregHanson one gateway per hostname is not applicable in this case: https://github.com/istio/istio/issues/6071

Basically TLS will stop working with `hosts` set to be anything not `*`. Please also see my comment: https://github.com/istio/istio/issues/6071#issuecomment-470520894

[2019-03-07 13:26] iftachsc commented on #10360
+1. we are still on 1.0.3 but see encutnered this while scaleing pilot up in 1 replicas which is quite funny since we wanted to make it stronger. the new pod started to fail to push to like 40 pods. my question is how, when all pods are synced, bringing up another pilot results in half of the pods STALE meaning scaling it up was damaging opposite to fact it should be able to attend more requests.

[2019-03-07 13:28] morvencao commented on #12117
Just got some logs of sidecar from customer's env. After printing the logs, all `EDS` are gone:
![image](https://user-images.githubusercontent.com/5468682/53959547-ddf29e00-411e-11e9-8de3-a275c4b51d62.png)

The pilot version is latest release-1.1:
![image](https://user-images.githubusercontent.com/5468682/53959890-d41d6a80-411f-11e9-8017-3386777d572c.png)

Check the upstream clusters for sidecar,

[2019-03-07 14:08] ajaychebbi commented on #10749
I had to use ``` kubectl delete -f install/kubernetes/helm/istio-init/files/crd-10.yaml ``` to delete the crds manually

[2019-03-07 14:39] esnible commented on #12322
@geeknoid This Issue seems to better addressed in the https://github.com/istio/api repository.

[2019-03-07 14:41] esnible commented on #12317
Duplicate of https://github.com/istio/istio/issues/11700

[2019-03-07 14:41] #12317 closed

[2019-03-07 14:46] esnible commented on #12316
Is this only happening for _rds.go_?

I suspect what is happening is that there are no tests for failure cases.  So if a test fails, or partially fails and recovers, more code will be executed than usual.  This becomes a new baseline for the amount of code executed during tests.

We could solve this by writing tests that make sure all code is hit every time.  This may mean a lot of new tests.  Let

[2019-03-07 14:55] esnible commented on #12316
I remember seeing coverage reports added as comments to PRs.  I did not see such a report on https://github.com/istio/istio/pull/12314 .

I found https://codecov.io/gh/istio/istio which shows the code coverage of Istio.  It looks like it is 70% overall and "pilot" is mostly **red**.  We had an issue to raise coverage to 90% but it is closed https://github.com/istio/istio/issues/1455 .

[2019-03-07 15:26] xiaozhongliu commented on #12291
Solved by creating all rules from main cluster.

[2019-03-07 15:36] costinm commented on #8736
The Pilot-Galley connection will soon switch to using the Sidecar (and SDS where available) with normal SPIFEE certs, and is not a concern. This is only about the webhooks, which need self-signed certificates that they place in the apiserver config so apiserver->webhook is secured.

They do need storage for the private key and cert in a secret - because you may have multiple replicas.

I believe @

[2019-03-07 15:48] howardjohn opened #14009 "Performance tests need to be more accessible to wider community"
In the latest networking group meeting, we discussed requiring/highly recommending performance testing performance sensitive changes in the future. The common response was that people don't know about the tests, and if they do, they don't know how to use them. If we want people to be running these tests, we need to make the experience as frictionless as possible, otherwise code will not get tested

[2019-03-07 16:03] rshriram commented on #12117
@duderino the OOM is not a P1 IMO. OOM implies lesser availability.. The op has allocated a LOT of memory to Pilot
[code]

Surely, 13G should be plenty ? Yet Pilot OOMs, which is symptomatic of a different issue.

[2019-03-07 16:06] rshriram commented on #12324
@sdake this seems to pertain to your work on the DNS stuff. Does this template need tweaking?

[2019-03-07 16:10] sdake commented on #12324
Possible - will test release-1.1.  FWIW this was functional prior.

Cheers
-steve

[2019-03-07 16:11] therealmitchconnors commented on #12048
This issue was resolved by switching logSheddingMode to enforce, which is the default as of rc2.

[2019-03-07 16:11] #12048 closed

[2019-03-07 16:11] theganyo commented on #12313
Interesting. My first attempts had both listenerMatch and workloadLabels, but I removed all optional fields and whittled it down to the minimum to see if I could get it working at all. It never did, but I’ll give it another try.

[2019-03-07 16:20] mandarjog commented on #12117
@morvencao how much cpu was being consumed in your original grafana chart? The units are not clear. Was full 2cpus being consumed? Otherwise I would increase cpu requests.
There is extra alloc going on somewhere, but being cpu limited can make things worse.

[2019-03-07 16:21] ozevren commented on #8736
Will cert rotation be a concern in that approach?

[2019-03-07 16:23] #7397 closed

[2019-03-07 16:28] mandarjog commented on #12313
Without listener match pilot will attempt to place an http filter outside http connection manager.

[2019-03-07 16:34] vadimeisenbergibm commented on #12326
For this setting to work, the egress gateway must have `ISTIO_META_REQUESTED_NETWORK_VIEW: "external"`environment variable, set in https://github.com/istio/istio/blob/6bff05dc6a98ab909c427823645374b1470ec1f7/install/kubernetes/helm/istio/values-istio-multicluster-gateways.yaml#L26.

[2019-03-07 16:34] #12326 closed

[2019-03-07 16:35] duderino commented on #12316
@esnible I've only seen it for rds.go.  rds.go often passes, but when it doesn't it's always a 73% to 61% drop

[2019-03-07 16:35] duderino commented on #12316
@kyessenov mentioned there was some non-determinism in that test.  I wonder if that non-determinism means that sometimes some code paths are not executed

[2019-03-07 16:47] theganyo commented on #12313
Aha! So the real key to all this is `listenerProtocol: HTTP`. Indeed, I just verified that this must be present to win. All other fields are optional.

[2019-03-07 16:54] absc6 commented on #8585
Can you please clarify on this, it seems to be a conflicting with the documentation [TLSMatchAttributes](https://istio.io/docs/reference/config/istio.networking.v1alpha3/#TLSMatchAttributes)

[2019-03-07 16:54] dankirkpatrick commented on #11509
At the request of our Google support team, I've just completed testing this issue with Istio v1.1rc2.  The problem is still there.

My setup: I have a single ingress gateway deployment in istio-system, with a single TLS cert for a wildcard (like *.mydomain.com).  I have 17 Gateways spread across 8 namespaces.  Each namespace has unique names for the HTTP & HTTPS ports (as in, I've named the ports

[2019-03-07 17:22] velumaniduraisamy commented on #12067
Upgraded to Istio 1.1.0-rc.2 , still facing the same issue.

[2019-03-07 17:30] vadimeisenbergibm commented on #11509
@dankirkpatrick Could you please check https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/mount/#configure-a-tls-ingress-gateway-for-multiple-hosts ? It is updated to use two gateways, a gateway per FQDN.

Do you see any differences between your setting and the one described in https://preliminary.istio.io/docs/tasks/traffic-management/secure-ingress/mount/#configure-a-tls-i

[2019-03-07 17:44] sundipnair commented on #6875
The resolution where set default to request.time is missing from version 1.0.6. Causes the side caar to not standup when deploying elasticsearch.

[libprotobuf ERROR src/istio/mixerclient/report_batch.cc:83] Mixer Report failed with: UNKNOWN:2 errors occurred:%0A%0A* evaluation failed at [newlog.logentry.istio-system]'Timestamp': 'lookup failed: 'request.time''%0A* evaluation failed at [newlog.log

[2019-03-07 17:56] esnible commented on #12316
Here is the coverage for _rds.go_: https://codecov.io/gh/istio/istio/src/e294254e6b0415f798e8f5fb02e6a1d4ca304c5f/pilot/pkg/proxy/envoy/v2/rds.go at 71%

I couldn't find any Code Coverage reports for that file at 56% in the UI.  Strangely it was marked as "New File" in many reports.

[2019-03-07 18:04] theganyo commented on #12313
I'll be happy to make a doc change for this, but I want to be sure I'm specific and correct. Perhaps just a warning on the EnvoyFilter doc page that if it uses an Envoy HTTP filter, it will not work unless `listenerProtocol: HTTP` is set. Does that sound correct?

[2019-03-07 18:09] mandarjog commented on #12313
Yes that sounds right.

On Thu, Mar 7, 2019 at 10:05 AM Scott Ganyo <notifications@github.com>
wrote:

[2019-03-07 18:13] esnible commented on #12313
I'd like to fix validation for workload labels.

The documentation https://preliminary.istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/#EnvoyFilter says there should be "one or more" workload labels but this isn't checked.  I saw the same language for the Sidecar CRD and it is checked there.

The documentation for listenerProtocol https://preliminary.istio.io/docs/reference/config/

[2019-03-07 18:17] theganyo commented on #12313
There's seemingly another doc issue as well: The following are from two different spots on the page and (I believe) contradictory. Which is correct?

[code]

[code]

[2019-03-07 18:28] theganyo commented on #12313
As far as I can tell from the code, the first note (NOTE 2) is the correct one.

@esnible Is there a good reason to force workload labels?

[2019-03-07 18:28] esnible commented on #8585
@frankbu This is your code and comment.  https://github.com/istio/istio/blame/master/pilot/pkg/model/validation.go#L1689 Is the SubsetOf comparison backwards?  Either the comparison is backwards or the message is confusing.

[2019-03-07 18:33] ibm-jason commented on #12295
/cc @morvencao

Just to make sure that I'm clear, it sounds like we need to checkout to each release tag (from 1.0.3 to 1.0.6), and update this `ISTIO_META_ISTIO_PROXY_VERSION` variable to reflect the correct version. For example, I'd checkout `1.0.3`, prep a PR based on that, and update the `ISTIO_META_ISTIO_PROXY_VERSION` to 1.0.3, then repeat the process for the remaining releases up to `1.0.6`

[2019-03-07 18:33] john-a-joyce commented on #11638
@MBauer83 I created a WIP PR to check if the e2e tests will pass in a prow environment with CNI enabled.   If not I will try to trouble shoot the issue more in that environment or recreate locally.  The PR is: https://github.com/istio/istio/pull/12331

[2019-03-07 18:40] utka commented on #12295
@ibm-jason yes, that's correct

[2019-03-07 18:44] kyessenov commented on #12316
Codecov is not a reliable sort of input here. I think we stopped uploading reports as of a couple of months ago for PRs. Probably, checking the coverage reports in circleci artifacts for failing PRs would help narrow down which code is no longer covered.

[2019-03-07 18:48] esnible commented on #12313
@theganyo You are correct, we should not force workload labels.  I made a mistake when testing.

I did find a delay.

First I recreated your no-workload-label example adding a listenerMatch
[code]

I confirmed it was attached to the pod using `kubectl exec httpbin-54f5bb4957-l9nds -c istio-proxy -- curl --silent localhost:15000/config_dump | grep lua`

I then deleted it and repeated the command ab

[2019-03-07 18:51] theganyo commented on #12313
I'll just update the docs to say "zero or more" workload labels as well.

[2019-03-07 18:55] theganyo commented on #12313
Re:

I'm not sure. This is what confused me and why I was going to add the warning that `listenerProtocol: HTTP` must be specified. It feels like these two statements are contrary... but wasn't sure if I'm just missing some nuance?

[2019-03-07 19:02] absc6 opened #12332 "TLS termination in istio-ingressgateway for routing based on HTTP match"
I would like to know if anyone has implemented **uri.prefix** based routing at ingress gateway.
I am getting 503 Service Unavailable when I am trying to route the request based on URI
[code]
Serviceentry is working correctly within the istio cluster

[code]

Below are the istio config of Gateway, VirtualService and ServiceEntry
[code]

[2019-03-07 19:15] ZhimaoL commented on #5673
@mkjoerg I also got the same problem when using rc.2. I am wondering have u fixed this?

[2019-03-07 19:23] theganyo commented on #12313
Alternatively, it is a documentation issue and validation omission. The specific case of "tcp listener, http filter" is called out as invalid [in the code](https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/envoyfilter.go#L61), but there's no error when you submit an EnvoyFilter with `filterType: HTTP` and either no `listenerProtocol` or `listenerProtocol: TCP`.

[2019-03-07 20:10] douglas-reid commented on #5673
@ZhimaoL what issue are you having precisely? I believe the current recommendation is *not* to use a proxy in front of prometheus, but rather have the prometheus pod mount the certs. This gets more complicated with the operator, etc., but with simple pod annotations, prom scraping of application metrics should be working in 1.1.

Please see: https://preliminary.istio.io/help/faq/metrics-and-logs/#

[2019-03-07 20:15] esnible commented on #11560
OK, it works in K8s 1.13.  The key is that the user must supply `kubectl apply --server-dry-run=true`.  Regular `--dry-run` does not actually PATCH so the APIServer does not have a chance to invoke the webhook.

On K8s 1.12 there was no problem setting `sideEffects: NONE` but attempt to use `--server-dry-run=true` yielded "Error from server (BadRequest): error when creating "STDIN": the dryRun alp

[2019-03-07 20:24] sbezverk commented on #12308
Adding Galley logs:

https://gist.github.com/sbezverk/b42c908ecb859b00ccc972e9ac1bb6f1

[2019-03-07 20:26] duderino commented on #12308
Making this P0 until proven innocent

[2019-03-07 20:35] frankbu commented on #8585
@esnible is correct that the error message isn't clear enough to explain the restriction. It does't conflict with the documentation because the restriction isn't documented :)

So I think it would be good to improve the error message and also mention the restriction in the documentation.

The restriction is: The sni hosts must be a subset of virtual service's hosts.

So, for example, if the virtua

[2019-03-07 20:42] rshriram commented on #12313
sorry for the confusion.. the envoy filter code can insert a network filter to both tcp based services/listeners, and http based services.. that said, order of insertion matters.. in the end, we run a validate() function on each listener.. if any of them are found to be invalid we skip it (or all?)

Envoy for its part does same..

[2019-03-07 20:47] ymesika commented on #12291
As there is a single control plane the rules your create in the primary are affecting both the primary and remote clusters. As you've figured by yourself.

Moreover, the remote cluster don't need the Istio CRDs deployed so you basically can't deploy rules to the remote clusters.

[2019-03-07 20:56] tamxdx commented on #8846
I have also been testing 1.0.2's pod ejection and I don't see any evidence of it occurring due to 503s or 504s. Per envoy docs...

enforcing_consecutive_5xx
(UInt32Value) The % chance that a host will be actually ejected when an outlier status is detected through consecutive 5xx. This setting can be used to disable ejection or to ramp it up slowly. Defaults to 100.

Does a value of 0 for enforcing

[2019-03-07 20:56] daparthi001 commented on #11977
Is there any work around for multi tenancy to be working , i tried the discover with "--appNamespace", "ns-1",its not detecting , the reason we are looking at multi tenancy is to support the clusters blue/green deployments during the istio upgrades .

[2019-03-07 21:08] rshriram commented on #12308
logs show pilot not ready.. not the proxy

[2019-03-07 21:09] theganyo commented on #12313
Unfortunately, I'm still confused. The issue is clear: if you have a EnvoyFilter of `filterType: HTTP` and you don't also explicitly include a `listenerMatch.listenerProtocol: HTTP` it just silently fails. But it still isn't clear to me what the appropriate resolution is.

[2019-03-07 21:11] nixgadget commented on #8585
For my case I figured it out by looking at the code as well. but yes @frankbu would be good to cover this in the doc. its a trap for new comers.

[2019-03-07 21:20] sbezverk commented on #12308
[pprof.log](https://github.com/istio/istio/files/2943403/pprof.log)

Please check if it is a valid file.

[2019-03-07 21:21] rshriram commented on #12290
https://github.com/istio/istio/blob/master/pilot/pkg/networking/core/v1alpha3/gateway.go#L489 processes non passthrough TLS ports.. can you try this on istio-ingressgateway? (not ilbgateway)

[2019-03-07 21:22] esnible opened #12333 "Fortio sidecar never reaches READY state"
I tried to do the circuit breaking sample following https://preliminary.istio.io/docs/tasks/traffic-management/circuit-breaking

I started Fortio in my cluster following the instruction `kubectl apply -f <(istioctl kube-inject -f samples/httpbin/sample-client/fortio-deploy.yaml)`.  (The same flawed behavior happens if auto-inject is used).

Fortio reaches 1/2 READY state, not 2/2.

`kubectl logs $

[2019-03-07 21:40] frankbu commented on #8585
I see that the documentation has been updated already for 1.1, by me :)
https://github.com/istio/api/pull/627/files

We should still change the error message to make it clear that it's the bad `sniHost` value that it's printing.

[2019-03-07 21:42] theganyo commented on #12313
The PR referenced above just updates the docs to match the behavior.

[2019-03-07 21:47] tamxdx commented on #8846
`cluster.inbound|9101||quotemachine01-service.default.svc.cluster.local.internal.upstream_rq_200: 80
cluster.inbound|9101||quotemachine01-service.default.svc.cluster.local.internal.upstream_rq_2xx: 80
cluster.inbound|9101||quotemachine01-service.default.svc.cluster.local.internal.upstream_rq_503: 1054
cluster.inbound|9101||quotemachine01-service.default.svc.cluster.local.internal.upstream_rq_5xx:

[2019-03-07 22:00] douglas-reid commented on #2420
not stale.

@kyessenov or @bianpengyuan can we add a relevant FAQ entry and then close out this issue?

[2019-03-07 22:01] douglas-reid commented on #2802
@kyessenov do you want to own resolving this (as it somewhat relates to the CEL work)?

[2019-03-07 22:03] douglas-reid commented on #3825
@bianpengyuan can you take a look at what is required to close this out please?

[2019-03-07 22:04] douglas-reid commented on #4227
I believe this issue is now resolved for 1.1 and moving forward.

[2019-03-07 22:04] #4227 closed

[2019-03-07 22:04] kyessenov commented on #2802
Sure, happy to. Is this scheduled for some milestone?

[2019-03-07 22:07] douglas-reid commented on #6810
@vadimeisenbergibm what is the current status of this issue?

[2019-03-07 22:08] douglas-reid commented on #7352
I believe that this is now possible.  I'm going to close this issue.  Feel free to reopen if more is needed.

[2019-03-07 22:08] #7352 closed

[2019-03-07 22:09] douglas-reid commented on #9649
I'm going to close this for now. We've made improvements -- more could be done, but we don't need a perpetual bug to track.

[2019-03-07 22:09] #9649 closed

[2019-03-07 22:10] douglas-reid commented on #9432
This is being tracked in another issue. I'm going to close this issue.

[2019-03-07 22:10] #9432 closed

[2019-03-07 22:10] john-a-joyce commented on #11638
@MBauer83 The mixer e2e tests all seem to pass with the cni enabled.  I am not sure what is the best way to debug this in your local environment.  Is it still occurring?  Have you tried it with the latest 1.1 images. Can you confirm you followed the CNI install instructions as described here:  https://deploy-preview-3537--preliminary-istio.netlify.com/docs/setup/kubernetes/install/cni/
When you  i

[2019-03-07 22:12] douglas-reid commented on #7656
The docs and tasks have extra content on the 1.1 version that mentions sampling rates. I'm going to close this issue as a result.

[2019-03-07 22:12] #7656 closed

[2019-03-07 22:14] douglas-reid commented on #8902
@jshaughn ok. I'm going to close this issue for now. please feel free to reopen (or file anew) if you encounter other issues.

[2019-03-07 22:14] #8902 closed

[2019-03-07 22:15] douglas-reid commented on #7873
This issue is no longer needed. the statsd bridge was deprecated and is no longer recommended.

[2019-03-07 22:15] #7873 closed

[2019-03-07 22:18] douglas-reid commented on #10520
I'm going to close this issue for now, as there hasn't been any update in awhile and it is labeled as "kind/question". In the interim, a FAQ entry on prom scrapping was added. Moving forward, if more discussion is needed, discuss.istio.io is the correct forum, I believe.

[2019-03-07 22:18] #10520 closed

[2019-03-07 22:19] douglas-reid commented on #10267
I believe this issue to be resolved.

[2019-03-07 22:19] #10267 closed

[2019-03-07 22:20] douglas-reid commented on #10625
@garyxuehong I assume your issue has been addressed. Closing. Please reopen if needed.

[2019-03-07 22:20] #10625 closed

[2019-03-07 22:23] douglas-reid commented on #11233
Closing, as I believe this was resolved in 1.1.

[2019-03-07 22:23] #11233 closed

[2019-03-07 22:31] douglas-reid commented on #2802
Well, theoretically 1.2, but that is very much up for debate. I don't think it is urgent, but if it is easy to add while doing the CEL work, it would be worth doing, imho.

[2019-03-07 22:37] mehemken commented on #9113
Also having sporadic 503 errors. In my case it's coming from a simple health check. The 503 does not come from the application. It comes from the istio-proxy. Found this when my pods were failing health checks, yet the application logs were 100% devoid of `503`s.

Running Istio 1.0.6
GKE 1.10.x

[2019-03-07 23:04] HXK123 opened #12336 "Changes to Gateway objects affect other Gateway objects in different namespaces"
**Describe the bug**
Changes to `Gateway` objects affect other `Gateway` objects in different namespaces.

When two `Gateway` objects are defined in separate namespaces with `spec.selector.istio: ingressgateway` but both having different `port` dictionaries defined, changes to one `Gateway` object seem to also affect the other.

Example:

_Service 001_ on Kubernetes namespace `ns001`:

[code]

_Se

[2019-03-07 23:36] andraxylia commented on #12308
I see some issues with the certificates in the pilot log:
2019-03-06 21:51:13.711][56][info][main] [external/envoy/source/server/server.cc:512] exiting
Invalid path: /etc/certs/cert-chain.pem
2019-03-06T21:51:13.712419Z     warn    Epoch 0 terminated with an error: exit status 1
2019-03-06T21:51:13.712441Z     warn    Aborted all epochs
2019-03-06T21:51:13.712467Z     warn    Failed to delete conf

[2019-03-07 23:47] andraxylia commented on #12308
The proxy does have issues and it keeps restarting:
[2019-03-06 21:50:48.229][25][debug][misc] [external/envoy/source/common/filesystem/filesystem_impl.cc:105] Unable to determine canonical path for /etc/certs/cert-chain.pem: No such file or directory
[2019-03-06 21:50:48.229][25][critical][main] [external/envoy/source/server/server.cc:86] error initializing configuration '/etc/istio/proxy/envoy.y

[2019-03-08 00:04] sbezverk commented on #12308
@andraxylia yep, it is there now:
[code]

[2019-03-08 00:28] duderino commented on #12181
https://github.com/istio/istio/pull/12272 will be in 1.1rc3 which should be out in a few hours

[2019-03-08 00:41] andraxylia commented on #12308
This has nothing to do with MCP not being ready, it prints a message when returning false, unless there is some deadlock or delay longer than 5 secs in getting that mutex (there is a timeout of 5s in the readiness):

https://github.com/istio/istio/blob/e294254e6b0415f798e8f5fb02e6a1d4ca304c5f/pilot/pkg/config/coredatamodel/controller.go#L207

First time it printed it was:
21:51:25.785603Z     info

[2019-03-08 00:44] morvencao commented on #12295
@ibm-jason I'm not sure if we need to fix the released versions. I suggest to add to some automation tests to make sure we won't have same issue in future versions.

[2019-03-08 00:49] esnible commented on #8585
@frankbu I am happy to take this over and make a PR for any error message you recommend.

[2019-03-08 00:57] ozevren commented on #12308
TL;DR is, I don’t think this is instigated by Galley or MCP. The MCP implementation (or the related resource ready check) doesn’t seem to be a culprit either.

It is worth noting that when the readiness endpoint is curled within the pod it works.

Here is the detailed analysis:

Galley gets stable Mixer clients, and unstable Pilot clients:
https://gist.github.com/sbezverk/b42c908ecb859b00ccc972e9a

[2019-03-08 01:40] silentdai commented on #11937
The progress:
- It's a known issue that adding and removing service entry(service entry is mapping to envoy proxy listener) will cause heap usage spike. At my side I don't see a leak as it drop down once the service entry is stable. There are [attempts](https://github.com/istio/proxy/pull/2142) to smooth the spike. More is on the way.
- Another issue addressed here is envoy restart with no contain

[2019-03-08 01:49] edussx commented on #12296
We ran into the same issue. And our workaround is putting VirtualService and k8s Service in the same namespace. In your case,  put `basic-trtis-deployment-virtual-service` and `basic-trtis-deployment` in the same namespace and then specify host in VirtualService as `basic-trtis-deployment`.

[2019-03-08 01:55] edussx commented on #12336
This looks like a similar issue that I ran into: https://github.com/istio/istio/issues/10313

[2019-03-08 02:00] silentdai opened #12338 "ServiceEntry validation is too agressive"
**Describe the feature request**
The below service entry yaml file pass the validation but is not accepted by pilot.
[code]
Several issues:
- namespace is not required field. `default` is the default
- in my yaml, my ports of service entry has the prototype TCP.  From the description of `hosts` here, I don't see why we need a `DNS` name or a hostname.
- The service entry doesn't translate to a val

[2019-03-08 02:01] andraxylia commented on #12308
To follow up on my previous comment, there is no deadlock either in HasSynced() for MCP, so the readiness problem could come from the  KubeController.HasSynced().

[2019-03-08 02:03] andraxylia commented on #12308
@sbezverk does it work to get a running core dump of pit process with gcore https://rakyll.org/coredumps/ ?

[2019-03-08 02:22] morvencao commented on #12117
@mandarjog During the pressure test period, the CPU usage gets close to 100%, that full 2 CPU cores are nearly used up.

The patch will get low memory usage with more CPU, I'm thinking about give more more CPU to pilot.

[2019-03-08 03:06] HXK123 commented on #12336
Thanks for responding @edussx.  Is the recommendation to use unique `port` names to increase isolation?

Would this "merge" behaviour also explain why removing settings from one `port` does not seem to have an effect on other `port`s?  For example, consider these two `Gateway`s created on different namespaces:

Namespace _ns001_:

[code]

Namespace _ns002_:

[code]

Originally, we had tls.httpRedi

[2019-03-08 03:12] vadimeisenbergibm commented on #6810
@douglas-reid It works, documented in https://preliminary.istio.io/docs/examples/advanced-gateways/egress_sni_monitoring_and_policies/.

Closing the issue.

[2019-03-08 03:12] #6810 closed

[2019-03-08 03:29] xiaozhongliu commented on #12291
@ymesika Thanks for ur reply.
At the beginning, I installed CRDs(istio-init) in remote clusters in order to create gateway rules there.
Now that rules from all clusters are created from the primary cluster, no istio-init is needed in remote clusters. For our situation, only istio-remote and istio-gateway are needed in remote clusters, right?
Please help to comfirm this, thanks a lot.

[2019-03-08 04:26] ldemailly commented on #2420
how about fixing it in addition to documenting the current behavior ?

[2019-03-08 04:38] mandarjog opened #12339 "1.1-RC2: Pilot SIGSEGV due to concurrent map access"
`EndpointShardsByService` is left unprotected in `loadAssignmentsForClusterIsolated()`

[code]

[2019-03-08 05:04] duderino opened #12341 "istio-manifests.yaml fails validation on Istio 1.1"
See https://github.com/GoogleCloudPlatform/microservices-demo/issues/161

[2019-03-08 05:33] fredmtyro commented on #10565
Newer Grafana versions draw disconnected null points as dots by default, so this can be resolved by updating Grafana to 5.4.3 or 6.0

[2019-03-08 06:31] morvencao opened #12343 "Gradle permission issue to build bookinfo reviews images"
**Describe the bug**
Build reviews images will get Gradle permission issue:
[code]

**Expected behavior**
reviews images should be build whenever the local directory permission is.

**Version**
Istio `release-1.1.0` and `master`

[2019-03-08 06:31] clyang82 opened #12344 "All containers should have memory limits"
All containers should have memory limits in order to prevent denial of service due to a container consuming all of the host's memory. As a best practice, all the containers should have memory limits specified in the deployment spec.

I check the code, there are default values before. But they are commented right now. I am not sure what is the reason?
https://github.com/istio/istio/blob/master/inst

[2019-03-08 06:35] morvencao commented on #12343
[code]
As you can see from above output, the id of local directory is different from the one in docker container,  resulting in permissions issues writing to the volume.

As a workaround, run as root inside the gradle container
[code]

[2019-03-08 06:42] ymesika commented on #12291
Yes, @xiaozhongliu. That's correct.
You will also need Citadel if your security is on and Sidecar Injector if you need automatic injection.

[2019-03-08 06:47] 4c74356b41 commented on #4429
this is about a year old? any chance it gets into 1.1.0? or is it even going to get released at all?

[2019-03-08 07:45] xiaozhongliu commented on #12291
Get it. Thanks a lot.

[2019-03-08 08:03] robertpanzer commented on #11937
@silentdai I don't think that this nuance is important.
I just think that it is not good the Istio-proxy gets killed on config updates.
There were no requests processed by the proxy at all in my tests, but if I am not wrong I guess that in flight requests would get lost as this doesn't seem to be a hot restart.
Having said that, it's probably nicer that the process gets restarted because it could

[2019-03-08 08:19] clyang82 opened #12348 "There are errors in envoy"
I have installed istio-1.1.0-rc.2 with default steps:
[code]
deploy the bookinfo example. I found there are error in `istio-proxy` container.
[code]
append full logs here as well.
[code]

FYI @linsun @ymesika

[2019-03-08 08:20] clyang82 commented on #12348
@hzxuzhonghu any comments?

[2019-03-08 08:41] ymesika commented on #12348
I think it's only wrong log level (should probably be info).
We can't expect the health prober to be successful for all probe paths.

[2019-03-08 08:48] clyang82 commented on #12348
In my another environment, I am using `release-1.1-latest-daily`. it always throws
[code]

[2019-03-08 08:49] hzxuzhonghu commented on #12348
Can you show your pod yaml for more info

[2019-03-08 08:50] hzxuzhonghu commented on #12348
The probe is rewrite by sidecar-injector

[2019-03-08 08:54] hzxuzhonghu commented on #12348
http://127.0.0.1:15000 can you debug this

[2019-03-08 08:56] clyang82 commented on #12348
Actually, cannot connect to this port. telnet it will be Connection refused

[2019-03-08 09:01] clyang82 commented on #12348
[details.yaml.log](https://github.com/istio/istio/files/2945050/details.yaml.log)

[2019-03-08 10:04] velumaniduraisamy opened #12349 "Outlier detection not working for Consecutive 5XX Errors"
Istio Version -  Istio-1.1.0-rc2

I trying to apply outlier detection for my service in case of consecutive errors but circuit break didn't happen.

In service B I injected delay and abort fault. In service A, I put outlier detection traffic policy for 3 consecutive errors within 30 seconds.

Fault Injection in Service B
[code]

Destination Rule for Service A
[code]
Config Dump
[code]

[2019-03-08 11:43] Joerg-L opened #12350 "Istio Serviceentry with Oracle clustered DB"
**Describe the bug**
We want to connect from an deployed application to a Oracle Database which is clustered.

We have deployed following serviceentry
[code]

Where something-scan.domainname.local is resolving to three IP Addresses as the cluster is a 3-Node-Cluster.
But connection fails with

When changing host from

to a node name from the cluster

the connection works, without any change to app

[2019-03-08 11:56] klucerof opened #12351 "Service returns random 403 RBAC Access denied"
**Describe the bug**
Defining multiple ServiceRole and ServiceRoleBinding leads to random 403s responses
We defined different service roles and service role bindings, one for ambassador (saturn-ambassador-role, saturn-binding-ambassador-role), one for the internal service communication (saturn-services-role, saturn-services-role-binding) and another one for ingress gateway (saturn-istio-gateway-au

[2019-03-08 12:10] #7630 closed

[2019-03-08 13:14] seanclerkin commented on #6085
I'm seeing this on 1.1rc2.  After a rolling release of a service, the Ingress returns 503s until a restart of Pilot.

[2019-03-08 13:31] dwradcliffe commented on #4481
What's the status here? It looks like a PR may have been merged then reverted?

[2019-03-08 13:43] mumoshu commented on #4481
@dwradcliffe Hey! My understanding is that this is mostly coming to v1.1.

The only missing feature would be `Targeted Locality Weighting (Locality Weighted Load Balancing)` for cluster-internal traffic. For egress traffic, it is already implemented in #11381.

See @liamawhite's comment at https://github.com/istio/istio/pull/11381#issuecomment-468397227 for more context.

[2019-03-08 14:15] monkeymorgan commented on #11977
@daparthi001 I verified the pilot parameter "--appNamespace" works (even with limited pilot RBAC) by using a single NS for istio and the app.

ie. --appNamespace istio-system would work if you install your apps into istio-system

[2019-03-08 14:22] monkeymorgan commented on #11977
True @elevran We're certainly fine with generating RBAC per tenant at the point of onboarding, and I expect that adding a controller may not be beneficial for others. If a company are happy to give an rbac controller clusterroles then they may as well give pilot clusterroles instead.  I imagine that if the istio docs / code can give us assurances that components do not over-reach beyond namespaces

[2019-03-08 14:41] chrisob commented on #5673
So does this mean that it's not possible to have a sidecar-injected Prometheus pod scrape Istio metrics via mTLS?

[2019-03-08 14:44] ibm-jason commented on #12295
/cc @morvencao @utka

I took a stab at creating two PRs ☝️ that attempt to update the `ISTIO_META_ISTIO_PROXY_VERSION` environment variable, based off the tagged commit(s). I'm not 100% sure that the PRs were created in the appropriate manner to ensure that #12354 is specifically for changing the value for the 1.0.3 tagged commit, and #12355 specifically changes the 1.0.4 tagged commit. If either

[2019-03-08 14:49] linsun commented on #12295
@ibm-jason I agree with @morvencao - we should not change the already released version.  We should look into how to automate this, prevent this from happening again.

[2019-03-08 14:55] ibm-jason commented on #12295
@linsun Sure, no problem. The plan was to fix the previous versions _and_ update the tests, but if our time is better spent creating the automation to prevent this from happening again, I'll work on that instead. 👍

[2019-03-08 14:56] linsun commented on #12344
@mandarjog can you comment on why this is commented out now?

cc @duderino @jnativio

[2019-03-08 14:59] jnativio commented on #12093
After investigation, I concluded this problem was a composition of 2 causes:
1. Some change  was affecting the sidecars performance and it was reverted after build `release-1.1-20190227-09-16` on the 1.1 branch but still present on the master branch and requires further investigation. After it was fixed on 1.1, the results for the no-mixer configuration were normal but not for the full Istio, what

[2019-03-08 15:16] esnible commented on #11436
Prometheus is *pending*.  Does this mean not enough resources?

[code]

https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/12353/istio-integ-k8s-tests/4737/build-log.txt

The PR is a change to a sample.  It should not cause 3 pods to fail to start.  https://github.com/istio/istio/pull/12353

[2019-03-08 15:24] andraxylia commented on #12308
@sbezverk could you please run kubectl get pod -oyaml  on the pilot pod and get the state of your containers, to see which 1/2 is actually down? The problem may be with the istio-proxy container not with pilot-discovery anymore. Maybe at some point it may have been not ready, but now curl works. On the other hand, I saw issues with certificates in istio-proxy in the logs and logs never shows proxy

[2019-03-08 15:30] jnativio commented on #12344
I don't think the default limits were ever enabled. The default value for requests (10m) are basically just to enable HPA. Some components now have defined requests and limits for both cpu and memory in their own charts (telemetry, istio-proxy). The fact is whatever values are defined by default, the user should review and change them to values compatible to the cluster/nodes size they are install

[2019-03-08 15:32] mandarjog commented on #12344
Not sure why it was commented out, but it is not recent. https://github.com/istio/istio/commit/e5a09e9da2b2a43a34e3d9ba50f6fcea4c403341 @ymesika

We should set limits though.

[2019-03-08 15:34] krancour commented on #8807
@rshriram can this issue stay open, please?

[2019-03-08 15:44] sbezverk commented on #12308
@andraxylia here you go:
[code]

[2019-03-08 16:10] linsun commented on #12344
@clyang82 can you submit a PR for this?  Maybe too late for 1.1, but we can get it in 1.1.1.

[2019-03-08 16:20] esnible commented on #9504
Reopening and tagging as UX on the advice of @frankbu because I had the same problem with the Fortio sample.  It should be sufficient to solve this with documentation.  See https://github.com/istio/istio/issues/12333 and https://github.com/istio/istio/pull/12353#pullrequestreview-212336586 for the discussion with Frank.

[2019-03-08 16:39] ozevren commented on #12298
@clyang82 I was about to assign this to you, and I noticed you already self assigned. :) Thanks

[2019-03-08 16:44] frankbu commented on #8585
Thanks @esnible

I think the problem with the error message is that it prints the sniHost value at the end where it looks like it's the value of the virtual service host. So, I would suggest changing the message to something like this:
[code]
Not sure it's important enough to push into 1.1, though. Probably can go into master instead.

[2019-03-08 16:47] jnativio opened #12358 "Regression on injected pod startup time."
**Describe the bug**
Startup time of pod/service increased for a recent 1.1 build when compared with 1.0.3. This can be observed in the chart below showing the startup time of a single pod when a number of pods/services are already present in the cluster. The startup time is better in 1.1 only when there is a large number of services.
![image](https://user-images.githubusercontent.com/18554027/540

[2019-03-08 16:48] jnativio commented on #12358
@mandarjog Could you pls add the Perf and scalability tag

[2019-03-08 16:58] douglas-reid commented on #10565
We've bumped up to 6.0 in `master` already.

[2019-03-08 17:02] esnible commented on #12316
I just had this problem with https://circleci.com/gh/istio/istio/348829 .  That build says

[code]
but I don't understand where it put these.  @kyessenov How do I see them?

[2019-03-08 17:05] douglas-reid commented on #5673
@chrisob sidecar-injected Prometheus isn't supported at this time. IIRC, there are issues around how prom addresses endpoints, etc., that need to be resolved. That's why support was added directly to our prom add-on via `tls_config` and mounting of the certs.

If you desire sidecar-injection for Prometheus itself, please file a separate issue for discussion, etc.,

[2019-03-08 17:29] absc6 opened #12359 "Istio ingressgateway TLS port does not create listener for PASSTHROUGH"
When trying to expose istio service mesh to external IP/Port using NodePort on k8 cluster. Istio ingressgateway does not create a listener unless TLS mode mentioned is SIMPLE.
Secure-gateway.yaml
[code]
Listeners:
[code]
When the gateway TLS mode is changed to PASSTHROUGH, the listener no longer exists
[code]
Listeners:
[code]

**Istio version: 1.0.5**
**K8 Version: 1.13.1**

[2019-03-08 17:33] ozevren commented on #10942
@irisdingbj Can you prioritize adding this test?
Thanks

[2019-03-08 17:38] howardjohn commented on #12341
Should be fixed in https://github.com/GoogleCloudPlatform/microservices-demo/pull/183. ServiceEntry validation was changed so IP address is not a valid host in 1.1.

[2019-03-08 17:58] kyessenov commented on #12316
https://348829-74175805-gh.circle-artifacts.com/0/go/out/codecov/pr/coverage.html#file0

Click on Artifacts > go/out/codecov/{baseline,pr}/coverage.html.

[2019-03-08 18:11] yannlambret commented on #12290
Thanks for your answer. Is it supposed to work considering the default 443 port of the ingressgateway is named https? Or should I also declare a custom connector for pure TLS traffic?

[2019-03-08 18:25] linsun opened #12360 "need to update helm repo when 1.1 goes out"
currently it uses a 1.1 build repo

https://preliminary.istio.io/docs/setup/kubernetes/install/helm/#installation-steps

cc @geeknoid

[2019-03-08 18:31] absc6 commented on #12359
Thanks @vadimeisenbergibm for sample [documentation](https://raw.githubusercontent.com/istio/istio.io/10e49534d24b4230e1406cb05a9c8195fe3b08c8/content/docs/examples/advanced-gateways/front-proxy/index.md) as front-proxy.

Can we add this as an example in istio docs.

[2019-03-08 18:38] kyessenov opened #12362 "need a linter for OWNERS/CODEOWNERS files"
We managed to bork a file during cherry pick (#12361 ). It's a trivial file format to validate.

[2019-03-08 18:38] rshriram commented on #8807
sorry its stale bot..

[2019-03-08 18:45] andraxylia commented on #12308
Thanks, it does say "message: 'containers with unready status: [discovery]'

[2019-03-08 19:07] imikushin commented on #9950
@mehemken Only if it was backported to v1.0.6. I don't know if that's the case.

[2019-03-08 19:07] #9950 closed

[2019-03-08 19:19] andraxylia commented on #12308
Turns out this is a pure IPv6 cluster and the issue is not with the pilot, kubelet cannot access the readiness probe anymore.

Could be with ipv6 support or kubelt bug for ipv6.

[2019-03-08 19:25] daparthi001 commented on #11977
i deployed the app and istio to the same namespacee istio-system1
2019-03-08T19:08:22.130794Z     info    successfully acquired lease istio-system1/istio-ingress-controller-leader-istio
2019-03-08T19:08:22.130835Z     info    New leader elected: istio-pilot-67b48cb5c6-hv495
2019-03-08T19:08:22.130852Z     info    I am the new status update leader
gc 7 @33.448s 0%: 0.021+8.3+8.9 ms clock, 0.042+6.4

[2019-03-08 19:33] kyessenov commented on #2420
sent an FAQ.
I don't think there is anything wrong with canonicalizing input data. Probably better for security not to special case upper/lower all the time.

[2019-03-08 20:12] ymesika commented on #12344
The intention of the PR that added the default resources was to enable HPA. And for that you needs to set requested resources for all containers.

What values will you put for the limits? Shouldn't it be tailored for each component?

[2019-03-08 20:16] ldemailly commented on #2420
While it's great to document the limitation/bug until it is fixed, not fixing it I believe is a big usability and user experience issue that will trip many people unnecessarily.  Security is not an argument here or rather an argument for fixing it: I may be writing a deny rule based on headers that won't apply because the istio proxy changes the headers - ie I could have add an app with some app c

[2019-03-08 20:17] ymesika opened #12367 "Istioctl homebrew formula (MacOS) should be updated"
Once we have v1.1 out of the door we should also create a PR for the Homebrew `istioctl` formula (we already have such brew).

[2019-03-08 20:25] ymesika commented on #12343
According to [this](https://stackoverflow.com/questions/30840526/gradle-could-not-create-service-of-type-initscripthandler-using-buildscopeservic) you should set a `GRADLE_USER_HOME` env variable.

[2019-03-08 20:27] kyessenov commented on #2420
HTTP does not guarantee casing is _preserved_ in transport. If you send "x: a" on the client, the server should not expect "x: a", since it may very well be "X: a". The application code should take into account that all variants of casing are possible. It happens that Golang has a different canonical form than Envoy. As long as we are clear what makes a canonical form for case-insensitive strings

[2019-03-08 20:34] ldemailly commented on #2420
it can be fixed so easily that I wonder why we're arguing about it - do canonalize the rules internally so they work with the implementation without having the user worry/figure out the hard way which it is ? (computer tolower() vs human brain/headache, isn't that what operability and usability is about ?)

[2019-03-08 20:53] bianpengyuan commented on #3825
I think context.time is added by proxy instead of mixer right? https://github.com/istio/proxy/blob/4cfa354bbeb42ae67c3c634e19ad01a54339cb3a/src/istio/control/tcp/attributes_builder.cc#L74

To my knowledge, mixer does not add any new attributes except output from APA, and right now mixer would not add attributes from APA into cache key. Did I miss something?

[2019-03-08 21:14] ozevren commented on #3825
This was a long time ago, so my mental model for this has rotted a bit.

Mixer sends a list of used/not-used attribute list back to proxy, so that proxy can construct a cache. However, context.time is essentially a nonce. Creating a cache key wit it doesn't make sense. I am not sure if there are other attributes with similar problems.

[2019-03-08 21:39] bianpengyuan commented on #3825
There are several other attributes  share the similar problems, and yeah it does not make sense to include those attributes into check cache key. But from the other hand I don't think we can just exclude them from cache key, which could cause unexpected cache hit if those attributes are actually the key factor for policy check success/failure.

So either we disable cache if those attributes are re

[2019-03-08 21:45] linsun opened #12368 "istio cni - unable to get it working within 3 mins"
follow the steps here, https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/cni/#sidecar-injection-compatibility with our httpbin sample, however the proxy container can't reach running.

If I manual inject httpbin without using cni, it works fine.

logs for the httpbin proxy container:

[code]

[code]
Then as I finish up writing the bug, I noticed it is up running now

[code]

[cod

[2019-03-08 21:45] linsun commented on #12368
@tiswanso @john-a-joyce could you chime in?

[2019-03-08 21:46] linsun commented on #12368
if I don't use cni, it takes about 10 secs for httpbin

[2019-03-08 21:52] ozevren commented on #3825
It is not only cache miss though. If we're putting in entries into the
cache with ephemeral key values, then it maybe reducing the cache
utilization.

On Fri, Mar 8, 2019 at 1:39 PM Pengyuan Bian <notifications@github.com>
wrote:

[2019-03-08 22:03] jnativio commented on #9680
keep it open.

[2019-03-08 22:04] dwradcliffe opened #12369 "Pilot panic during config dump"
**Describe the bug**
I'm seeing a panic in Pilot while trying to dump the config.

From istioctl:
`Error: error execing into istio-pilot-7487d6958d-rtvhh/istio-system discovery container: command terminated with exit code 255`

From pilot logs:
[code]

**Expected behavior**
Get the config dump.

**Steps to reproduce the bug**
Run `istioctl proxy-status <POD>`.

**Version**
Running the latest `1.1.

[2019-03-08 22:55] arne-klein opened #12371 "New external pods not propagated in mesh"
**Describe the bug**
Sometimes an update of a deployment outside of the mesh, which triggers the creation of a new pod and removal of the old pod, will not propagate the changed IP of the service/pod to the mesh, even though the mesh status is displayed as in sync.

The updated pod is not a part of the mesh / does not have an Istio sidecar.
This happened for us several times for a deployment in th

[2019-03-08 22:59] mehemken commented on #9758
I am also seeing these warnings. It is blocking my deployments. Istio behavior is unpredictable...

[2019-03-08 23:19] geeknoid commented on #11951
This is now fixed with latest stuff.

[2019-03-08 23:19] #11951 closed

[2019-03-08 23:34] bianpengyuan commented on #3825
Good point! So the work item would be: mark all ephemeral check attributes in attributesmanifest, then let mixer avoid generating cache reference if they are involved.

[2019-03-09 01:15] mandarjog commented on #3825
Attribute tracking is only done by the protobag. This contains whatever was sent by the proxy.
If an attribute was sent by proxy and used in mixer it will be recorded.

Are we seeing context.time being marked as used? Otherwise I don’t think this problem is exists anymore.

[2019-03-09 04:14] hzxuzhonghu opened #12376 "Critical Bug: when create a invalid multicluster secret"
**Describe the bug**
when create a invalid multicluster secret, the pilot and mixer are all down.

istio-pilot-55df5c797f-gs749                  2/2     Running            0          4m33s
istio-policy-5f9b54b85f-f7mjj                 1/2     CrashLoopBackOff   4          34m
istio-sidecar-injector-5769c94686-kr57n       1/1     Running            0          3d18h
istio-telemetry-69d8bcdb95-9wkjj

[2019-03-09 04:15] incfly commented on #12265
Figured it out, due to image was stale. Closing.

[2019-03-09 04:15] #12265 closed

[2019-03-09 04:15] hzxuzhonghu commented on #12376
I find the root cause, we do not validate the kubeconfig and also not check the err when creating kube interface.

[2019-03-09 04:27] hzxuzhonghu commented on #12369
Can you always reproduce?

[2019-03-09 04:35] hzxuzhonghu commented on #12348
seems no exception of the yaml. Then who did request`127.0.0.1:15020/` `127.0.0.1:15020/ready` and ...

[2019-03-09 06:38] hzxuzhonghu commented on #12358
/cc @rshriram @costinm

[2019-03-09 06:52] hzxuzhonghu commented on #12349
This is expected, https://github.com/istio/api/pull/617

[2019-03-09 07:19] #9811 closed

[2019-03-09 08:34] morvencao commented on #12343
@ymesika Not working well with env `GRADLE_USER_HOME`, the root cause is that the user in gradle container doesn't have write permission to volume.

Have tried two ways to workaround this:
- Give gradle container user root permission
- Change the host path `samples/bookinfo/src/reviews` permission

[2019-03-09 08:44] liamawhite commented on #4481
This will be experimental in 1.1 and off by default behind an env var. See https://github.com/istio/istio.io/pull/3593 for more details.

All features should be there but have not been extensively tested. The aim is to do this over the course of 1.1.x releases and then turn it on by default.

[2019-03-09 08:53] Stono opened #12380 "segfault in istio-proxy"
Not sure if you can do much with this but this is from a `1.0.6` this morning:

[code]

[2019-03-09 09:19] #1433 closed

[2019-03-09 11:20] #9716 closed

[2019-03-09 13:20] #9813 closed

[2019-03-09 14:20] #8411 closed

[2019-03-09 14:52] mandarjog commented on #12358
@jnativio how do you measure this?
In the large clusters with 1000 to 2000 services,
It takes less than 5s to see “envoy is ready” message and a few seconds more for k8s to pick it up.

[2019-03-09 15:19] thomschke opened #12381 "1.1-RC3: istio-security-post-install-1.1.0-rc.3 crashes"
**Describe the bug**
Since 1.1.0-RC3 the helm installation failed due to
Job `istio-security-post-install-1.1.0-rc.3` crashes with:
[code]
- GKE 1.12.5-gke.5
- Istio 1.1.0-RC3

[2019-03-09 15:20] #7132 closed

[2019-03-09 15:52] mandarjog opened #12382 "1.1 Proxy very slow to get ready - agent unable to access envoy stats"
It takes 3 minutes for the proxy to get ready. From the logs it is clear that the pilot agent is unable to complete an http call to the envoy status port `15000`. The call fails with `Client.Timeout exceeded while awaiting headers`

[code]

Reported by  @dwradcliff

[2019-03-09 15:57] mandarjog commented on #12380
@PiotrSikora this is running initialization code in the destructor ?

[2019-03-09 16:05] mandarjog commented on #12376
This is an unusual condition, however you clearly hit  it.
Given the fact that if this happens the failures do not clearly state what went wrong and how to fix it, I vote for merging the PR.

[2019-03-09 16:19] #9754 closed

[2019-03-09 16:26] pilhuhn commented on #10341
Ping @ozevren

[2019-03-09 18:20] #9739 closed

[2019-03-09 19:19] #9733 closed

[2019-03-09 20:20] #4460 closed

[2019-03-09 21:19] #9861 closed

[2019-03-09 22:19] #9632 closed

[2019-03-09 22:20] rawipfel commented on #11393
On branch release-1.0, https://istio.io/docs/setup/kubernetes/helm-install/
```helm install install/kubernetes/helm/istio --name istio --namespace istio-system```

Will fail to start Istio pods, but will install all of Istio's CRDs:
[code]

Then helm install again, with --no-crd-hook:
```helm install install/kubernetes/helm/istio --name istio --namespace istio-system --no-crd-hook```

Results in:

[2019-03-09 22:42] dwradcliffe commented on #12369
I could reproduce several times in a row on a single instance of pilot. The other instance of pilot did _NOT_ panic (same cluster, using different proxyID). When I restarted the broken instance and tried to check the proxy-status for the same pod, it did not panic anymore. I observed this pattern at least twice in the last week.

Also note: maybe it's obvious but the actual command failing on the

[2019-03-10 00:20] #9859 closed

[2019-03-10 00:46] PiotrSikora commented on #12380
@mandarjog it looks that's by design: https://github.com/envoyproxy/envoy/blob/083e6dfc20b6cc3d42d33daf8b6f78c6329ff5b5/source/common/router/rds_impl.cc#L79

[2019-03-10 02:20] #9738 closed

[2019-03-10 03:54] sdake commented on #12301
@jmazzitelli the history is this:
1. addons were HTTP only and could be exposed only via port-forward
1. we added gateways to expose the HTTP endpoint in the ingressgateway
1. the HTTP endpoint was determined as insecure for prod, so HTTPS endpoints were added
1. The implementation of HTTPS endpoints didn't properly expose certs.
1. The PR at the end of all this activity indicated work left undone

[2019-03-10 04:09] nishanth-pinnapareddy commented on #9784
/cc

[2019-03-10 04:20] #9396 closed

[2019-03-10 06:07] #9607 closed

[2019-03-10 08:07] #7431 closed

[2019-03-10 13:07] #8034 closed

[2019-03-10 13:31] #12343 closed

[2019-03-10 14:07] #8499 closed

[2019-03-10 14:36] alok87 opened #12386 "Platform Setup Dependencies for aws"
**Describe the bug**

How many are still relevant from this list of admission controllers?
https://istio.io/docs/setup/kubernetes/platform-setup/aws/
[code]

**Expected behavior**
- PersistentVolumeLabel  is deprecated is it still required?

[2019-03-10 16:07] #9709 closed

[2019-03-10 17:07] #9675 closed

[2019-03-10 17:32] rshriram commented on #12162
So the only culprit we have is the struct vs Any change. After talking to @htuch, we concluded that we need some detailed cpu profiles to identify why the use of Any is causing so much CPU usage when using >2 cores..

[2019-03-10 18:27] HamzaK8s opened #12389 "ISTIO 1.0.6 istio-galley endpoint not ready"
**Describe the bug**

I installed the latest version of Istio provided by  the command ``` curl -L https://git.io/getLatestIstio | sh - ```
And when I want to create a destinationRule I got the following errors

[code]
Galley pod is up and running, I got this, while checking istio-galley logs
[code]
**Expected behavior**

**Steps to reproduce the bug**

**Version**
istio version : 1.0.6
kubectl ve

[2019-03-10 18:35] dwradcliffe commented on #12162
With rc3, concurrency=1, and 800m CPU we're still seeing periodic spikes of CPU usage/throttling. During these spikes we're seeing `Envoy proxy is NOT ready: failed retrieving Envoy stats: Get http://127.0.0.1:15000/stats?usedonly: net/http: request canceled (Client.Timeout exceeded while awaiting headers)` in the logs. Seems like maybe it's reloading the (huge) config and it's unavailable during

[2019-03-10 18:53] #12369 closed

[2019-03-10 19:07] #9707 closed

[2019-03-10 20:07] #9712 closed

[2019-03-10 20:10] jnativio commented on #12358
@mandarjog The times in the chart were measured based on when the service responds a valid request, not in log messages.

[2019-03-10 21:50] HXK123 opened #12390 "Configuring an external TCP endpoint (Microsoft SQL Server, TCP: 1433)"
**Description of issue**
Hi,

I am having a little trouble adapting the examples for configuring external TCP endpoints in Istio.  I wish to create a consistent service name that points to varying external IP address endpoints (e.g., external database server on port 1433) so that applications in Kubernetes do not have to update the hostname between environments (e.g., Test vs. Staging vs. Producti

[2019-03-10 23:07] #9638 closed

[2019-03-11 00:07] #9682 closed

[2019-03-11 01:07] #9411 closed

[2019-03-11 01:38] PiotrSikora commented on #12162
@rshriram that's because configs with Any have unstable hash, which results in full add/drain cycle for all listeners.

[2019-03-11 01:49] kyessenov commented on #12162
@PiotrSikora Is there another source of non-deterministic apart from map order? It's easy to fix map marshalling in gogo for istio APIs. Not so sure about all of Envoy APIs though.

[2019-03-11 01:55] kyessenov commented on #12162
https://github.com/istio/api/pull/846 fixes any for mixerclient

[2019-03-11 01:59] rvennam commented on #12367
cc: @murarisumit

[2019-03-11 02:07] #8231 closed

[2019-03-11 02:08] kyessenov commented on #12162
https://github.com/envoyproxy/envoy/pull/6241 fixes for envoy (once it goes through go control plane)

[2019-03-11 02:36] hzxuzhonghu commented on #12389
/assign @ymesika

[2019-03-11 03:07] #8496 closed

[2019-03-11 04:07] #7511 closed

[2019-03-11 05:07] #9288 closed

[2019-03-11 06:54] yangminzhu opened #12394 "Tracking: Implement Authorization v2"
This is a tracking issue of Authorization v2.

* API:
   - [x] Add authorization policy v1beta1

* Pilot:
   - [x] Remove code for outdated previous policy
   - [x] Support authorization policy v1beta1
   - [x] Deprecate ClusterRbacConfig in favor of implicit enablement
   - [x] ~~Add additional fields for ServiceRole  (#12299)~~
   - [x] ~~Add additional fields for ServiceRoleBinding (#12460)~~

[2019-03-11 07:03] #9644 closed

[2019-03-11 09:03] #4102 closed

[2019-03-11 09:16] HamzaK8s commented on #12389
@hzxuzhonghu do you have any idea or tips to help ?

[2019-03-11 09:31] ymesika commented on #12389
@HamzaK8s can you please share your `routing.yaml`?

[2019-03-11 09:46] hzxuzhonghu commented on #12389
I think its because a invalid desctinationrule with subset nil

[2019-03-11 09:47] hzxuzhonghu commented on #12389
Like this
[code]

[2019-03-11 09:50] HamzaK8s commented on #12389
@ymesika Here's the yaml file of routing.yaml
[code]

[2019-03-11 10:15] ymesika commented on #12389
It works for me with 1.0.6.
Could it be that your routing.yaml has some whitespaces or stuff like that? I copy-pasted the yaml above into a `routing.yaml` and deployed it.

[code]

[2019-03-11 10:26] murarisumit commented on #12367
Thanks @rvennam for keeping in loop

@ymesika already have notification for release update and will  create the PR at homebrew as v1.1 gets released, and check if I can automate this process for simple version bumps.

[2019-03-11 10:28] HamzaK8s commented on #12389
@ymesika you right, sorry for bothering you,

One last question before closing the issue, the role of istio-galley is to do everything on behalfe of pilot and mixer. For instance when I want to create the ```routing.yaml ```  Am I communicating directly with  galley first and then galley forward what I want to pilot or mixer? If what I said is true then galley is a single point of failure if it's

[2019-03-11 10:45] hzxuzhonghu commented on #12389
Galley mainly do 2 kind of work.

1. validate kinds of Config API as a admission webhook controller

1. Newly in 1.1, istio make galley as the default config registry, pilot fetch configs from galley now

[2019-03-11 10:47] Hamdan-Atypon commented on #1296
@vadimeisenbergibm  can i access a container inside the pod using ssh ?

i want to make ansible access a container from the pod

[2019-03-11 10:50] HamzaK8s commented on #12389
@hzxuzhonghu thank you 👍

[2019-03-11 10:50] #12389 closed

[2019-03-11 11:03] #9484 closed

[2019-03-11 11:14] ac111 opened #12395 "Accessing non-default namespace service with mTLS enabled always results in "upstream connect error or disconnect/reset before headers" / 503 error"
**Describe the bug**
Installed 1.0.6 via Helm chart with mTLS enabled.  First deployed httpbin and sleep sample services to default namespace, and verified (using curl) that requests sleep --> httpbin work as expected.  Next, created an auto-injected sidecar namespace called "foo" and deployed the same httpbin and sleep services to this new namespace.  Retried curl operations between sleep (primar

[2019-03-11 11:28] ac111 commented on #12395
Please note the issue only occurs when mTLS is enabled.  When mTLS is NOT enabled in this same cluster, services are able to communicate without error for any namespace (not just default).
I have also tried this same test with latest 1.1-rc2 and also tried without using the Helm chart (ie. just kubectl apply CRDs + auth-demo YAML).

[2019-03-11 13:03] #4095 closed

[2019-03-11 13:19] esnible commented on #12395
I am surprised that it is not working.  I have a “4 point” debugging strategy.  Let's try the following to get more information.

Point 1 is the app itself. Verify that your service really exposes the URL you are trying by doing kubectl exec <any-httpbin-pod> -c istio-proxy -- curl localhost:80/
// 80 is the targetPort

Point 2 is the sidecar of the app. You have global.mtls.enabled=true. You can

[2019-03-11 13:21] #12270 closed

[2019-03-11 13:21] linsun commented on #12368
@tiswanso @john-a-joyce what logs should I collect?  Is there a troubleshooting section for CNI?

[2019-03-11 14:22] jpittis opened #12396 "Sidecar validator port parsing regression between 1.1 rc2 and rc3."
**Describe the bug**

Below are `Sidecar` resources in two separate clusters. The `staging` cluster is running `1.1.0-rc.3` and the `production` cluster is running `1.1.0-rc.2`.

[code]

[code]

I edit the above resources to add `istio-system/*` to their egress `Hosts` list:

[code]

At this point, the edit in the `production` cluster running rc2 succeeds. The edit in the `staging` cluster running

[2019-03-11 14:28] esnible commented on #11560
Verified on a Kubernetes 1.11 cluster that it is OK to add `sideEffects: None` to the install yaml.  It is ignored upon `apply`.  (It can't be added by using `kubectl edit`).

@ayj I'd like to make a PR for this.  Should I target master or 1.1?

[2019-03-11 14:28] ymesika commented on #12396
Sidecar validation has been added in #12233 between RC2 and RC3.
I believe that if you'll add port names it will become a valid sidecar but the doc doesn't specify it's required. I will check the validator.

[2019-03-11 14:33] jpittis commented on #12396
Confirming that this is the problem:

Editing the resource to the following succeeds:

[code]

As you say, the docs say not required so IMO this should be fixed to not require a `name`.

Appreciate the fast response. Thanks @ymesika.

[2019-03-11 14:37] ozevren commented on #11560
1.1 is pretty much done at this point. Not sure if this meets the bar for 1.1.x.
I think the best place to get this in is master.

[2019-03-11 14:39] jpittis commented on #12396
Can you think of any reason why we can't set `name` to the string of the number until this is fixed?

[2019-03-11 14:39] jpittis commented on #12396
We want to get rc3 deployed ASAP so that we can continue to fuzzy test it before release.

[2019-03-11 14:47] ymesika commented on #12396
Name, if specified, should adhere DNS-1123 name format.

[2019-03-11 15:02] clyang82 commented on #12344
@linsun @ymesika Just revert the default value to
[code]
or do you have new suggested values? Thanks

[2019-03-11 15:03] #9451 closed

[2019-03-11 15:04] tiswanso commented on #12368
https://github.com/istio/cni#troubleshooting

The logs for the CNI will be from the kubelet process on the worker nodes where the pods are scheduled.  You should be able to use whatever node monitoring mechanism is implemented for your cluster to find them.  The most basic example is `journalctl -t kubelet`.

To view the iptables for the pods:

[code]

[2019-03-11 15:16] linsun commented on #12344
This is for all control plane components' default, correct?

@mandarjog @jnativio do you have recommendations?

[2019-03-11 15:24] tiswanso commented on #12368
@linsun -- I tried reproducing this and didn't.  Could you indicate the Istio CNI and Istio install steps and the httpbin manifest you used?

Here's what I did:
[code]

[2019-03-11 15:24] linsun commented on #10955
close it since it is fixed in 1.1

[2019-03-11 15:24] #10955 closed

[2019-03-11 15:25] linsun commented on #10956
@irisdingbj default ok for me.

@kramvan1 any preference?

[2019-03-11 15:26] linsun commented on #10954
mark as closed as it is fixed in 1.1

[2019-03-11 15:26] #10954 closed

[2019-03-11 15:28] linsun commented on #11922
@ibm-jason can you help with this?  I would like to have all our e-2-e test documented and run it on IKS manually out side of prow and circle CI so that other people like @kramvan1 can decide how he wants to run it in his pipeline.

Could we create a table for all tests and mark each of them as can run standalone with instructions?  I'd start with pre submit tests (tests you saw that gates each PR

[2019-03-11 15:31] linsun commented on #11015
@jmazzitelli can you confirm this is fixed in 1.1 and close it?

[2019-03-11 15:37] linsun commented on #12368
@tiswanso I followed the instruction from here: https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/cni/#sidecar-injection-compatibility

I think I did slightly differently is I added kube-system ns as excludednamespace.  from histories:

[code]

[2019-03-11 15:38] linsun commented on #12368
[code]

[2019-03-11 15:42] linsun commented on #12368
I have about 20 pods in kube-system fyi, which I know I will never use for cni injection.  Do you think the delay is caused by adding the extra ns on the exclude list?

[2019-03-11 15:53] ayj commented on #11560
+1 for master.

[2019-03-11 15:53] esnible commented on #10541
The user is asking for web-hook validation that considers more than the CRD being modified.

For example, creating a VirtualService that uses a subset that is not defined in a DestinationRule.  It is a reasonable desire.  The problem is that if we have a 2-part .yaml file with both a VirtualService and a DestinationRule the .yaml would be valid if the DR was first, but not if it was second.  This

[2019-03-11 16:03] #1480 closed

[2019-03-11 16:14] netdisciple commented on #7990
still need this

[2019-03-11 16:25] #12396 closed

[2019-03-11 16:36] jnativio commented on #12344
Just using these default values are not a good solution. Pilot for instance has a memory requests of 2G in its chart but no limits, so using the default of 128M for limits  is not going to work. Prometheus is another component that uses a good deal of memory. Telemetry and the gateways (when PR #12315 is merged) have limits defined. Probably other components can have a common set of values.

[2019-03-11 16:56] skydoctor opened #12400 "Use envoy's jaeger native tracing support"
**Describe the feature request**
Envoy has added support for generating tracing headers using the *native* Jaeger format instead of the default Zipkin format. There should be a way for Istio users to configure the ingress/egress gateways and sidecar proxies to use that feature.

**Describe alternatives you've considered**

**Additional context**
At present Istio does support collection of traces f

[2019-03-11 17:18] vadimeisenbergibm commented on #1296
@Hamdan-Atypon I think you can, you have to define a service on port 22, and set the name of the port to be of the form `tcp-<something>`, for example `tcp-ssh`.

[2019-03-11 17:23] duderino commented on #12264
@mandarjog how does this look now?

[2019-03-11 17:59] pitlv2109 opened #12403 "Unable to run e2e tests on my own cluster with generate_e2e_yaml changes."
**Describe the bug**
Unable to run e2e tests on my own GKE cluster. I used to be able to run e2e on my own GKE cluster by following the instructions [here](https://github.com/istio/istio/blob/master/tests/e2e/UsingGKE.md). However, since we introduced `generate_e2e_yaml` and removed `generate_yaml` (maybe this PR #12076?, not sure) , it stopped working for me. It would work if I reverted back to a

[2019-03-11 18:02] howardjohn commented on #12341
Closing as fix was merged (into the microservices-demo repo, not Istio)

[2019-03-11 18:02] #12341 closed

[2019-03-11 18:03] #8996 closed

[2019-03-11 18:14] Joerg-L opened #12404 "Connection Issue to simple Hello World App / 404"
**Describe the bug**
I'm trying to connect to a simple http hello world (https://hub.docker.com/r/nginxdemos/hello/) application by using istio gateway and virtual service.

I have created a simple istio gateway with
[code]
after that I have create a virtual service

[code]
From testing, I receive everytime a 404 from envoy.

Isito Servcie istiop-ingressgateway shows

The Service nginx-demo.defaul

[2019-03-11 18:26] ibm-jason commented on #11922
@linsun sure, I can look into this one.

[2019-03-11 18:32] Stono commented on #11696
Thanks again for your time today @douglas-reid, as promised, here are the logs.

The setup here is:

`[nginx | envoy] -> [envoy | consumer-gateway | envoy] -> [envoy | sauron-web | envoy]`

As we demonstrated, hitting nginx directly, which invokes the nginx opentracing module, will set `parentspanid` on the outbound request, and we get a full trace in jaeger.

Now, if we `exec` into the nginx pod

[2019-03-11 18:34] duderino commented on #12015
Steps 3 and 5 are done.  @philrud can this now be closed?

[2019-03-11 18:39] philrud commented on #12015
"ingress.*" flags are removed from 1.1 installer. related PRs:
* https://github.com/istio/istio/pull/12284
* https://github.com/istio/istio.io/pull/3588
* https://github.com/istio/istio.io/pull/3558
closing this one if nobody has any objections

[2019-03-11 18:40] #12015 closed

[2019-03-11 19:03] #9292 closed

[2019-03-11 19:08] douglas-reid commented on #11696
@objectiser any thoughts here?  If an app explicitly sets a parent span id of "", what is the expected behavior?  I would have expected it not to matter, as the Envoy code _should_ replace it given the other headers, but that seems to not be happening in this case.

[2019-03-11 19:13] lei-tang opened #12405 "preliminary 1.1 doc for multicluster gateway has bugs on Istio installation instructions"
{{
https://preliminary.istio.io/docs/setup/kubernetes/install/multicluster/gateways/

In the section "Deploy the Istio control plane in each cluster", istio.yaml is generated but is never used to install Istio. Instead, an inconsistent way of installing Istio is provided in the document.
Moreover, the Istio installation failed due to lack of k8s RBAC configuration.

Expected behavior
{{
The istio.

[2019-03-11 19:19] jpittis commented on #12396
<3 <3 <3

[2019-03-11 19:34] howardjohn commented on #12275
Closed by https://github.com/istio/istio/pull/12279

[2019-03-11 19:34] #12275 closed

[2019-03-11 19:37] ldemailly commented on #4102
for reference on how to change port binding addr with fortio:

https://github.com/fortio/fortio#change-the-port--binding-address
https://github.com/fortio/fortio#using-the-tcp-proxy-servers-feature

[2019-03-11 19:49] utka commented on #12403
@howardjohn can you look into that, is it related to your change?

[2019-03-11 19:54] objectiser commented on #11696
@douglas-reid @Stono The parent span id shouldn't be manually set, as it would essentially provide misleading information at the tracing backend. The information provided shows the root span (i.e. where both the trace and span id are the same), so it shouldn't have a parent span id.

The parent span id will be set appropriately once the next child span is set within the envoy proxy.

Can the same

[2019-03-11 19:58] esnible opened #12407 "inconsistent validation messages between istioctl and webhook"
Using Istio 1.1 RC 3

Testing the example from https://preliminary.istio.io/docs/reference/config/istio.authentication.v1alpha1/

[code]

`istioctl validate -f` reports
[code]

`kubectl apply` reports
[code]

The two commands should produce similar messages.  Figure out why they don't and see if they can be brought closer together.

A separate defect for the incorrect example itself has been creat

[2019-03-11 20:02] howardjohn commented on #12403
What error are you getting? When I run `make e2e_pilot E2E_ARGS="--cluster_wide"` it succeeds. I am running on GKE as well.

[2019-03-11 20:03] #9887 closed

[2019-03-11 20:05] Stono commented on #11696
I can't replicate on 1.1 unfortunately, I'm on 1.0.6.  The problem should be easily reproducible by you on 1.1 by manually setting that header to an empty value.  We only manually set the header for the purposes of the test to prove something out, that isn't typical behaviour.

I do think I get what you're saying, but think from the consumers perspective, we're telling people to [blindly forward h

[2019-03-11 20:37] pitlv2109 commented on #12403
@howardjohn Thanks for looking into the issue, John. The issue seems to be my own `Galley` image did not start properly (similar to this #12246). When I reverted back to using `generate_yaml`, my own `Galley` worked just fine. `generate_e2e_yaml` worked if I used `gcr.io/istio-release/galley:release-1.1-latest-daily`. So I'm not sure if the issue is my `Galley` image or something else, though it w

[2019-03-11 20:39] objectiser commented on #11696
@Stono One thing I am not clear about with your comment

The inbound request to `consumer-gateway` and outbound request to `sauron-web` have exactly the same trace, span and parentspan ids. So this is just the service propagating the headers - same as when the empty parentspan id was being propagated.

The outbound request should be creating a new child span, with a different span id, with the cur

[2019-03-11 20:39] howardjohn commented on #12403
generate_yaml and generate_e2e_yaml should do the same thing, it was just a refactoring, so I don't think that is the issue. I suspect if you run the e2e tests from the head of release-1.1 with no current istio installation it would work fine.

[2019-03-11 20:50] douglas-reid commented on #11696
@objectiser I don't have any real thoughts on why tracing would be disabled.  I've just tried to verify on my own 1.0.6 cluster and am seeing the following behavior.

I set up two namespaces, one with bookinfo (injected) and one with sleep (not injected). I ran the following command:

`kubectl -n sleep exec -it sleep-7ffd5cc988-r9r2x -- curl -v -S -o /dev/null -H "x-b3-parentspanid: ''" http://pro

[2019-03-11 20:54] objectiser commented on #11696
@douglas-reid Are you able to try the same test in 1.1 to see if it has the same problem? Probably won't be reproduced, because shared span context is disabled, so the inbound request would have a new span created. But might be worth confirming.

[2019-03-11 21:00] douglas-reid commented on #11696
@objectiser I can try with 1.1 in a bit.

I think this is the applicable code chunk from the 1.0.6 envoy version:

https://github.com/envoyproxy/envoy/blob/2d8386532f68899ca1fe6476dc458b0df1260b29/source/extensions/tracers/zipkin/tracer.cc#L70-L98

[2019-03-11 21:03] objectiser commented on #11696
Was wondering if https://github.com/envoyproxy/envoy/blob/2d8386532f68899ca1fe6476dc458b0df1260b29/source/extensions/tracers/zipkin/zipkin_tracer_impl.cc#L123 may be the cause - if the parentspan id is set, but not a 64 bit id, then would return a null (noop) span - which would then cause problems creating a child span for the outbound request.

[2019-03-11 21:08] douglas-reid commented on #11696
Ah, yes... that seems to make more sense.  What does that look like for 1.1 ?

[2019-03-11 21:14] objectiser commented on #11696
@douglas-reid Might have the same problem: https://github.com/envoyproxy/envoy/blob/7b4675d184c661a24634207f914112d083f640da/source/extensions/tracers/zipkin/span_context_extractor.cc#L109

[2019-03-11 21:22] HXK123 opened #12410 "Envoy not blocking mesh-external traffic requests"
**Describe the bug**

For some reason, the Envoy sidecar in our Kubernetes pods suddenly stopped preventing external traffic from being routed.  Below are examples of this behaviour allowing `ping` tests to go through.

[code]

Here is the Proxy configuration:

[code]

**Expected behavior**
* All external traffic is blocked unless explicitly defined by `ServiceEntry` objects, excluding traffic req

[2019-03-11 21:25] douglas-reid commented on #11696
@objectiser I can verify that this exists in 1.1 as well.

[2019-03-11 21:29] howardjohn opened #12411 "Sidecar resource workloadSelector only matches Services"
Using Istio 1.1rc3.
I created a Deployment, labels `app=shell`, and a Sidecar with

[code]

and it is not used. This is because proxyInstances is empty here

https://github.com/istio/istio/blob/5b98c5876b0aee6390edac46c09fe93974e80396/pilot/pkg/model/push_context.go#L435

In order for it to be used I need to create a Service as well with app=shell, then it will be used.

I believe this is a bug, a

[2019-03-11 21:32] howardjohn commented on #12411
Just saw https://github.com/istio/istio/issues/11818, closing this as it is a duplicate

[2019-03-11 21:32] #12411 closed

[2019-03-11 21:42] howardjohn commented on #11818
@rshriram can we just use `proxy.Metadata` here rather than get the labels of each serviceInstance? It seems like this makes more sense and would fix this issue. Is there any cases when we wouldn't want this behavior?

[2019-03-11 22:03] #9778 closed

[2019-03-11 23:03] #9291 closed

[2019-03-11 23:24] duderino commented on #12275
nice one.  thanks @howardjohn

[2019-03-11 23:29] silentdai commented on #11937
Should be fixed by https://github.com/envoyproxy/envoy/issues/6252 in istio 1.1.0 rc4

Turning the endpoint on and off is supposed to cause no listener flipping. However, before the fix the unstable marshaling is causing envoy proxy to wrongly determine as config change in listener and expensive listener draining.

The drain would last minutes. When the listener config is pushing frequently, we ca

[2019-03-12 01:03] #9119 closed

[2019-03-12 02:03] #9330 closed, assigned to nobody

[2019-03-12 02:05] morvencao commented on #12344
Setting the default global resource limits is risky.
It's will be convincing if we have sufficient perf test data to support those settings.

[2019-03-12 02:09] hzxuzhonghu commented on #12382
How to reproduce?

[2019-03-12 03:16] morvencao commented on #11808
Verify that the `kube-apiserver` process has the admission-control flag set with the `MutatingAdmissionWebhook` admission controller added and listed in the correct order and the `admissionregistration` API is enabled.

[2019-03-12 06:29] iandyh commented on #11682
@ayushpateria Hi. With istio 1.1-RC and adding`preStop` hook, I no longer see 503s. Can you also verify?

[2019-03-12 06:36] duderino commented on #11937
1.1rc4 will be created March 12th

[2019-03-12 06:52] rvgud opened #12417 "istio ingressgateway http2 request stucked pending in chrome"
**Describe the bug**
I have a nginx server running in kubernetes cluster and servicemesh istio. I have provided self signed certifcates to create a https-gateway(Istio ingress gateway). Whenever i make a call from google chrome browser sometimes in network tab request are being stucked in pending state. It is not a regular issue but coming randomly like out 3 out of 10 requests. In istio ingress g

[2019-03-12 08:46] Hamdan-Atypon commented on #1296
@vadimeisenbergibm i managed to, thanks for the hint.
`
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
 name: sshd
spec:
 hosts:
 - <Host to Access>
 ports:
 - number: 22
   name: ssh
   protocol: tcp
`

[2019-03-12 09:40] vadimeisenbergibm commented on #1296
@Hamdan-Atypon Is the host an internal host inside Kubernetes cluster? If so, you just need to define a Kubernetes Service, no need in Istio's ServiceEntry.

[2019-03-12 10:01] marcfong commented on #11693
@hugree - What was the issue? I am also facing this problem with Istio metrics for a specific namespace not showing up.

[2019-03-12 11:33] Hamdan-Atypon commented on #1296
yes it is, i want to access specific pod, not through service ..
it's an SSH connection between 2 pods from 2 different services

[2019-03-12 11:55] vadimeisenbergibm commented on #1296
OK, I see.

[2019-03-12 12:54] yiqinguo opened #12422 "ingressgateway can't listen a port"
**Describe the bug**
When I created a gateway, it contained a port of 20433. I entered the ingressgateway container and did not find the 20433 port listener.

gateway.yaml
[code]

**Expected behavior**
Can get 20433 port listener

**Steps to reproduce the bug**
Create this gateway and delete it and create it again

**Version**
1.0.5 and 1.0.6

**Installation**
helm install

**Environment**
k8s 1.1

[2019-03-12 13:53] ac111 commented on #12395
Thank you for your recommendations to troubleshoot this issue.  I ended up entirely re-creating my cluster (via kubeadm), and re-deployed istio using the 1.0.6 Helm chart package.  I've just retried my simple sample sleep --> httpbin test using a namespace "foo" and it now appears to be working correctly:

kubectl exec sleep-69f8fcfdf6-kfpr8 -c sleep -n foo -- curl http://httpbin.foo:8000/ip
  % T

[2019-03-12 13:59] ermik commented on #7964
.

[2019-03-12 14:11] fico-jessecarroll commented on #7964
Just for everyone else, I too encountered this issue and was able to successfully resolve with the following filter; you can of course make it more specific to a service via the listenerMatch.   Was really a catch-all:
[code]

[2019-03-12 14:13] ac111 commented on #12395
OK, so after further testing I can confirm that the issue lies with deploying an operator that copies all secrets from "default" to any created / new namespace automatically.
I'm not yet sure why this is causing a problem, but once I deployed the operator, and recreated my test scenario, the service interaction started to fail between sleep --> httpbin.

$ kubectl exec sleep-69f8fcfdf6-mcn5k -c sl

[2019-03-12 14:19] brian-avery commented on #11808
Have you already updated the master/nodes in your cluster? See updating the master/updating the nodes here: https://maistra.io/docs/install/

[2019-03-12 14:28] esnible commented on #12407
Here is an example that is allowed by the webhook but not `istioctl validate`:

[code]

The problem is that `istioctl` strips the namespace from the .yaml before passing to ValidateAuthenticationPolicy().  The namespace is being stripped by FilterNamespace() in _vendor/k8s.io/kubernetes/pkg/kubectl/genericclioptions/resource/visitor.go_ because it believes the `info` is not Namespaced.

[2019-03-12 14:32] ChamaraG commented on #9119
@ayj can you please label this issue as "help wanted"? We are still using the Cilium image instead of the standard Istio proxy image. Thank you.

[2019-03-12 14:35] howardjohn opened #12423 "Helm value mixer.enabled defunct and misleading"
**Describe the bug**
values.yaml has a [mixer.enabled](https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/istio/values.yaml#L36) flag. This is never used in the helm templates in favor of `mixer.policy.enabled` and `mixer.telemetry.enabled`. This is confusing, because users (or at least me), will set `mixer.enabled=false` and be confused that it is still running. This flag is

[2019-03-12 14:38] howardjohn commented on #12423
Forgot to check the new docs, https://preliminary.istio.io/docs/setup/kubernetes/additional-setup/config-profiles/ actually uses the values-minimal.yaml which is correct, so no need for docs to be updated.

[2019-03-12 14:42] esnible commented on #12407
`istioctl validate` SHOULD verify that the name and namespace follow the Kubernetes rules and report

[code]

[2019-03-12 15:42] objectiser commented on #11696
@douglas-reid Fix has been merged https://github.com/envoyproxy/envoy/commit/8912fa36acdf4367d37998d98cead376762d2b49 but not clear whether this is too late for 1.1? The last envoy sha used by istio proxy was from 8th Feb.

[2019-03-12 16:08] #12403 closed

[2019-03-12 16:08] istio-testing commented on #12403
@pitlv2109: Closing this issue.

<details>

In response to [this](https://github.com/istio/istio/issues/12403#issuecomment-472066197):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/guide/pull-requests.md).  If you have questions or suggestions related to my behavior, please file an issue against the [kubernetes/test-infra](ht

[2019-03-12 16:30] howardjohn commented on #12405
Looks like it is used in step 3?

[2019-03-12 16:42] douglas-reid commented on #11696
@objectiser thanks a bunch for the quick turnaround!  I suspect that this is too late for 1.1, given that pulling in an updated proxy after all of the testing seems a bit risky.

/cc @duderino for comment.

[2019-03-12 16:45] duderino commented on #12162
This will be in 1.1RC4 which should be published later today

[2019-03-12 16:46] duderino commented on #12339
This will be in 1.1RC4

[2019-03-12 16:47] #7864 closed

[2019-03-12 16:59] douglas-reid commented on #12301
Update:

- [x] Merge PR to remove old gateways in 1.1
- [ ] Merge Docs PR to cover setting up gateways

[2019-03-12 17:01] linsun commented on #11333
@kramvan1 @thomschke sorry for the slow reply.  Checking on istio 1.1 rc2, I saw affinity is already specified in gateways, galley, sidecar-injector and many other components.  Not configurable but it is configured as below.   Would this satisfy your needs?

[code]

[2019-03-12 17:02] tiswanso commented on #12368
@linsun -- It looks to me like a difference between manual and autoinjected sidecar.  I repro'd it with manual sidecar inject but I don't see how this would be related to CNI.  The symptoms look to me like #9504

with manual-sidecar inject I see errors like the following in the envoy proxy log (for minutes at a time) prior to the "Envoy proxy is ready" log:
[code]

with auto-sidecar I see within 1

[2019-03-12 17:13] lei-tang commented on #12405
This issue has been fixed by the PR https://github.com/istio/istio.io/pull/3628.

[2019-03-12 17:13] #12405 closed

[2019-03-12 17:19] esnible commented on #12395
I suspect that the copied secrets are preventing Istio from creating secrets.

I predict that if you delete the secrets Istio will recreate them correctly.

Try:

[code]

You can also try the same thing with "root-cert.pem" instead of "cert-chain.pem".

[2019-03-12 17:24] myidpt opened #12427 "Enable trusting multiple roots of trust"
**Describe the feature request**
Istio workloads need to support multiple roots of trust for migration and trust domain federation

**Describe alternatives you've considered**
No.

**Additional context**
We need to do the following:
- [ ] Support dynamically inserted trusted roots for secret volume mount.
- [ ] Support dynamically inserted trusted roots for SDS.

[2019-03-12 17:35] gargnupur commented on #6875
@sundipnair : newlog.logentry.istio-system looks like a custom logentry declaration. Is this for Http or TCP...

[2019-03-12 17:47] #9898 closed

[2019-03-12 18:30] kramvan1 commented on #11333
@linsun that is for the node arch types, does not really help with pod anti-affinity.

[2019-03-12 18:32] linsun commented on #11333
@kramvan1 can you suggest an example yaml blob that are needed for pod?  wonder if it's generic enough.   or should we leave this as configurable for operators?

[2019-03-12 18:39] esnible commented on #11700
Could https://github.com/envoyproxy/envoy/issues/6252 be the cause of the 503?

[2019-03-12 18:51] linsun commented on #12368
@tiswanso I tried manual injection yaml without cni, it works fine, the pod comes up within 4s.

[code]

[2019-03-12 18:51] linsun commented on #12368
so I don't agree it is a difference between manual and auto injection.

[2019-03-12 18:58] tiswanso commented on #12368
Did some digging and the pilot-agent is checking listeners it receives from pilot to ensure the app ports are present.  https://github.com/istio/istio/blob/release-1.1/pilot/cmd/pilot-agent/status/ready/probe.go#L44-L67

I don't see how Istio CNI would effect what pilot does and it doesn't modify the pod spec so I can't see how CNI is even involved here.

[2019-03-12 18:59] absc6 commented on #12422
I tried the above config.
Created and deleted gateway multiple times, it is working for me.

Check the ingress gateway pod logs for more details.

[2019-03-12 19:02] thomschke commented on #11333
@linsun please make it configurable (like `.values.podAnnotations` or `.values.nodeSelector` etc.)

[2019-03-12 19:05] linsun commented on #12368
@tiswanso I could not recreate it now with CNI manual injection.  I think it must be an intermittent issue like others have reported and I just happened to hit it with my CNI runs first.

I'm closing this out as there are other places report proxy delay start.

[2019-03-12 19:05] #12368 closed

[2019-03-12 19:12] thomschke commented on #11333
BTW: `galley` and `citadel` have no PDB and HPA yet, so it's possible to scale up this components n > 1 for HA setups? Sorry, but I can't find detail HA documentations yet (only [this](https://preliminary.istio.io/docs/concepts/performance-and-scalability/#scalability-and-sizing-guide)).

[2019-03-12 20:11] aerotog commented on #10968
@lei-tang since [PR 3098 ](https://github.com/istio/istio.io/pull/3098)was merged, can this issue be resolved?

[2019-03-12 20:16] duderino opened #12431 "e2e-mixer-noauth-v1alpha3-v2 flake: command failed: "Error from server (BadRequest): container \"prometheus\" in pod \"prometheus-7b9868c46b-trl67\" is waiting to start: PodInitializing\n" exit status 1"
**Describe the bug**

e2e-mixer-noauth-v1alpha3-v2 fails about 1/5 days with a:

[code]

https://circleci.com/gh/istio/istio/352136
https://circleci.com/gh/istio/istio/348356

[2019-03-12 20:16] quanjielin opened #12432 "pilot crash 'fatal error: concurrent map writes`"
**Background**
when sds enabled hit error logs in pilot which cause pilot crash
[code]

**Possible Solution**
use syncmap for fileBasedMetadataConfigAnyMap

[2019-03-12 20:17] esnible commented on #12407
@ayj Need advice.  I can fix the validation of ValidateAuthenticationPolicy() by eliminating the call to `.Local()` in _istioctl/pkg/validate/validate.go_:

[code]

If I eliminate the local then `istioctl validate` goes out to the cluster and caches a bunch of things that let it know that Policy.authentication.istio.io is namespaced.  Is this acceptable?  If the validation needs to be correct with

[2019-03-12 20:19] lei-tang commented on #10968
@aerotog Yes, the issue is resolved.

[2019-03-12 20:19] #10968 closed

[2019-03-12 20:28] ayj commented on #12407
`istioctl validate` was intended to be usable offline to replace the deprecated validation logic from `istioctl create`. Requiring k8s apiserver access would defeat that requirement and possibly produce inconsistent  validation results depending on environment I think.

Would `RequireNamespace()` + `NamespaceParam()` work? It would restrict CR in a file to the namespace, which maybe is reasonable,

[2019-03-12 20:39] douglas-reid commented on #12431
I'm not sure what to do here. This is an infrastructure flake. Prometheus not starting up is not something specific to the test itself.

[2019-03-12 20:44] douglas-reid commented on #12431
@duderino in the failures you linked, the actual failure happens earlier and is not prometheus specific:

[code]
and

[code]

In both cases, the test ran for `16m` without being able to deploy Istio.

Look at the pod status:

[code]

Galley, Egressgateway, Ingressgateway, Pilot, and sidecar-injector all failed to even start in time.

This looks like a CircleCI issue -- maybe scheduling on a bad VM

[2019-03-12 20:45] esnible commented on #12407
I agree; I didn't want to proceed with eliminating Local() for those reasons.

`Do()` in _k8s.io/kubernetes/pkg/kubectl/genericclioptions/resource/builder.go_ always decorates with FilterNamespace() *after* RequireNamespace().  FilterNamespace() seems broken; it doesn't realize that Namespaced() returns bogus results when running `local`.  I can attempt to do a PR against Kubernetes at https://git

[2019-03-12 20:58] howardjohn opened #12435 "Sidecar port name required by MCP but not validated"
**Describe the bug**

I created a Sidecar config, with egress:

[code]
and no port set. Traffic works. Then, I applied various different port settings to the egress, in order, and tested traffic.

Example of the full one:
[code]

| Setup | Works? |
| -- | -- |
| No port                                 | works  |
| Port number, protocol                   | works  |
| Port number, protocol, name=""

[2019-03-12 21:13] howardjohn commented on #12435
I confirmed that when we remove the port name, nothing changes from Pilots perspective

[2019-03-12 21:13] ayj commented on #12407
Maybe. Another option might be to provide an explicit scheme (see `WithScheme`).

[2019-03-12 21:27] kramvan1 commented on #11333
@linsun something like this should do the trick, just replace the app-name.
[code]

[2019-03-12 21:46] jcetkov opened #12436 "custom bootstrap not working"
**Describe the bug**
The sidecart fails to start after providing custom bootstrap
[code]

**Expected behavior**
The sidecart should start and expose the data-plane metrics in the stats
[code]
runs successfully on local envoy 1.9.0 (with the `envoy-rev1.json` copied from the istio-sidecart pod prior to the bootstrap override application)

**Steps to reproduce the bug**
Following readme at https://g

[2019-03-12 21:51] incfly opened #12437 "istioctl allow --envoyConfigDump as an alternate to invoking KubeExec to get the Envoy's /config_dump"
We can define some hook to in a `$HOME/.istioctl/config` to allow customer specify how they want to ssh/communicate with their VM instances managed by Istio mesh expansion.

istioctl can specify a target of the VM endpoint from `ServiceEntry`, invoke the hook, send the http request to the `localhost:15000` via the hook, the config and parse it, present it to end user.

This allows the same UX to p

[2019-03-12 21:51] incfly commented on #12437
/cc @esnible @costinm

[2019-03-12 21:55] charleskorn opened #12438 "Internal Grafana metrics aren't collected"
**Describe the bug**
[The internal metrics that Grafana exposes](http://docs.grafana.org/administration/metrics/) aren't configured in Prometheus when installing Grafana and Prometheus using the Helm chart.

**Expected behavior**
Internal Grafana metrics are scraped by Prometheus.

**Steps to reproduce the bug**
1. Install Istio using Helm chart with `grafana.enabled=true`
2. Go to Prometheus targ

[2019-03-12 21:56] charleskorn commented on #12438
If this is a valid bug, I'm happy to provide a PR, looks like the Grafana deployment just needs a `prometheus.io/scrape: "true"` annotation.

[2019-03-12 22:20] incfly opened #12439 "Documentation mesh expansion istioctl register vs ServiceEntry"
- `istioctl register` creates a selectorless service, used for mesh expansion.
- `ServiceEntry` is used to model mesh expansion service discovery as well

We currently documented both in the mesh expansion doc. `istioctl` is used just to create a DNS entry for k8s svc calling out to vm services. And we'd like to use `ServiceEntry` to actually model endpoints discovery.

However, we should not enco

[2019-03-12 22:20] incfly commented on #12439
Actually should belong to documentation, but I didn't find such a label.

[2019-03-12 22:32] incfly commented on #12439
Same thing applies for Service Definition, we should encourage the port name to match in ServiceEntry if we want to illustrate usage of istioctl to get basic DNS working.

[2019-03-12 22:47] #9908 closed

[2019-03-12 23:12] howardjohn commented on #12435
Found in logs:
`error   mcp     MCP: sending NACK for nonce=17: error="rpc error: code = InvalidArgument desc = invalid port name: "`

Caused by https://github.com/istio/istio/blob/62ecd506c04a53f958dee34342671dfcbc7da090/pkg/mcp/sink/sink.go#L135

Seems like port name is required, but configuration is not rejected if we do not have a port name.

[2019-03-12 23:29] ozevren commented on #12435
Does this work with rc4?
There was a missing configuration that caused Galley config validator to not validate Sidecar resources. NACK is coming from the validation working in Pilot.

This should already be fixed in rc4.

[2019-03-12 23:37] howardjohn commented on #12435
Ill test it out tomorrow, but you are right I think it should be fixed. Closing this but will test later

[2019-03-12 23:37] #12435 closed

[2019-03-13 00:47] JungukCho opened #12441 "Service unavailable from sidecar-injector.istio"
**Describe the bug**
{{ Succinctly describe the bug }}

After installing istio on K8s, I tried to deploy application, but it did not run application.
I checked apiserver log and it showed this messages in apiserver log.
W0313 00:29:38.938716       1 dispatcher.go:72] Failed calling webhook, failing closed sidecar-injector.istio.io: failed calling webhook "sidecar-injector.istio.io": Post https://i

[2019-03-13 01:12] JimmyCYJ opened #12442 "Need a test framework to test multi-threading behavior of Pilot."
**Describe the feature request**
This is motivated by #12432. We do not have a Pilot integration test where we can test race conditions of concurrent map writes. It would be nice if there is one test framework that covers Pilot behavior in multi-thread case. E.g. let 10 ADS clients send config requests to Pilot in parallel, and verify that the config generation does not hit any race condition in P

[2019-03-13 01:34] linsun commented on #11333
@thomschke galley has PDB in 1.1.  You are right, citadel doesn't.  I think it is related to how citadel should be scaled and deployed.  cc @wattli @liminw  for input on why we don't have auto scaling and PDB for citadel, could be something we missed.

[2019-03-13 01:55] yiqinguo commented on #12422
![image](https://user-images.githubusercontent.com/12421121/54247959-e2cbad80-4575-11e9-86fc-e15d36eb4b8f.png)
![image](https://user-images.githubusercontent.com/12421121/54247967-e8c18e80-4575-11e9-90bd-1f122d9536fc.png)
@absc6 This is ingressgateway log and port listen,cannot find 20433 port.

[2019-03-13 03:26] JimmyCYJ opened #12443 "Make improvements for better usability on SDS config"
**Describe the bug**
Per discussion from https://github.com/istio/istio/pull/12433#issuecomment-472248486, currently SDS.enabled is not used as a guard for setting the sds.udsPath in the global mesh config map. And if someone accidentally adds some dummy path to this udsPath (while setting sds.enabled=false), it literally enables SDS in pilot. This will cause all envoys to crash. We need to guard

[2019-03-13 03:28] quanjielin opened #12444 "Revisit customer facing SDS related settings for better usability"
**Describe the feature request**
current customer facing SDS related settings includes
1. meshconfig.SdsUdsPath (meshconfig.EnableSdsTokenMount, meshconfig,SdsUseK8SSaJwt won't take effect when SdsUdsPath not set).
2. helm values in nodeagent and global SDS.

In coming 1.2, we plan to support per-pod SDS rollout(migration) and SDS in control plane, those coming changes may bring more customer faci

[2019-03-13 03:28] JimmyCYJ commented on #12443
cc @quanjielin @wenchenglu @hzxuzhonghu @rshriram

[2019-03-13 03:46] wenchenglu commented on #12443
It will be great if we can fix it before we cut the final release tomorrow. Otherwise, can we at least document this risk to warn users about dummy uds path setting?

[2019-03-13 03:47] #474 closed

[2019-03-13 03:57] wenchenglu commented on #12444
why this fix should wait till 1.2? I think these need to addressed in 1.1.x (putting aside migration), no?

[2019-03-13 04:33] quanjielin commented on #12444
1.1.x is doable(not include migration), fix will be something like -

1. add sdsenable flag to meshconfig.
2. update istio api sha
3. add something in ValidateMeshConfig(https://github.com/istio/istio/blob/a9fe655d1d/pilot/pkg/model/validation.go).

Resolve this as dup.

[2019-03-13 04:39] quanjielin commented on #12443
1. Ideal fix would add sdsenable flag into meshconfig, though it takes time/risk since need api/update sha/a little pilot change.
2. documentation (my understanding it already documented in api and istio.io) -
https://github.com/istio/api/blob/master/mesh/v1alpha1/config.proto#L187
https://preliminary.istio.io/docs/tasks/security/auth-sds/ (which point to helm config users should use)

I vote for

[2019-03-13 05:03] wattli commented on #12443
Agree with Quanjie's proposal, since it is not a trivial change and we don't want to make the last minute rush.

[2019-03-13 05:16] xianke9 opened #12445 "Can't view the bookinfo services in Jaeger UI after the latest Istio deployed"
After I followed the link and installed the latest Istio into our Kubernetes platform, I checked the Istio pod status as the following:
root@m-1:~/istio-1.1.0-rc.4/samples/bookinfo# kubectl get po -n istio-system
NAME                                      READY     STATUS      RESTARTS   AGE
istio-citadel-5bf5488468-vn5w5            1/1       Running     0          12m
istio-galley-96d888b56-sxbcc

[2019-03-13 05:20] xianke9 commented on #12445
![jaeger](https://user-images.githubusercontent.com/12079079/54255302-7ca15380-4592-11e9-8114-2b9ae3dc9fd7.png)

[2019-03-13 06:28] sdake commented on #12386
@alok87 this document has been deleted from the preliminary documentation as nobody is available to maintain it at this time.  The current document is focused around kops, however, we believe it makes more sense to document around EKS.  Istio does work on Amazon EC2, however, I am not entirely clear what set of config creds are needed for this plaform.

Cheers
-steve

[2019-03-13 06:37] sdake opened #12446 "istio-ingressgateway readiness probe statuscode: 503"
**Describe the bug**
istio-ingressgateway readiness check produces 503's for 1-2 minutes.

**Expected behavior**
istio-ingressgateway ready to run without a 2 minute delay after the rest of the control plane is operational.

**Steps to reproduce the bug**
Deploy istio using preliminary documentation.

**Version**
rc.4, Kubernetes 1.10.3, minikube + `minikube tunnel`
rc.4, Kubernetes 1.13.3, metall

[2019-03-13 08:30] objectiser commented on #12445
Have you tried increasing the trace sampling rate? https://preliminary.istio.io/docs/tasks/telemetry/distributed-tracing/overview/#trace-sampling

[2019-03-13 09:58] zgfh commented on #4941
@pangsq thanks ,it work for me to add this:
[code]

[2019-03-13 10:00] hzxuzhonghu commented on #12446
Is it during istio bootstrap because pilot is not ready?

[2019-03-13 10:32] #7184 closed

[2019-03-13 10:53] robertpanzer commented on #11937
I can still reproduce the restarts of the istio-proxy as long as I delete/create within the drain time window, which is indeed 45 seconds.
If I wait for more than 1 minute between delete and the next create memory seems to be reused.

What indeed got better with rc.4 is that if I make small updates to the ServiceEntry, only the changed listeners seem to get drained and recreated.

[2019-03-13 11:05] Stono commented on #11658
What's the situation with a 1.0.7 release?  We've had to turn of incremental eds because of this which creates a lot more push lag for us on our cluster.

[2019-03-13 11:06] Stono commented on #11658
@rshriram what do you mean a ServiceEntry for `kube-system` as that's a namespace?
Can you please show me?

[2019-03-13 12:00] Stono commented on #12371
Is this another case of using incremental EDS and kube-system namespace services?
See: https://github.com/istio/istio/issues/11658 and https://github.com/istio/istio/pull/12028

[2019-03-13 12:04] Joerg-L commented on #12404
Problem solved.
It was realted to the fact, that the Gateway was deployed not in "default" Namespace

[2019-03-13 12:04] #12404 closed

[2019-03-13 12:22] sdake commented on #12446
100% during bootstrap.  I originally thought it was because the docker cache was being populated with images, however, I cached the images and the problem persists with the same symptoms.  Pilot has entered a readiness of 1/1, although I didn't check the pilot logs specifically.  Every other pod in the system was ready 1/1 or 2/2.  It seemed to be related to cert mounting.  Once the certs were mou

[2019-03-13 12:23] sdake commented on #12446
Note I tried rc.1 and it also suffers from this problem, so it doesn't look like an rc series regression.  I don't recall this behavior in 1.0, but its been awhile :)

Cheers
-steve

[2019-03-13 12:33] fredlb commented on #12057
I had this issue as well, very similar setup.
I was initially trying with `--kubernetes-version=1.10.0`, which would stall during the minikube setup phase.
Then I tried 1.13.4, which worked setting up but produced the error above.
Now I dropped down to kubernetes version 1.11.0, and it works.

I am a complete kubernetes and istio beginner, so I am not sure what is at fault here, but if you want me

[2019-03-13 12:43] blkwtch commented on #12057
I didn the same thing. I downgraded to kubernetes 1.11.x and it worked fine.
Head over to katakoda.com for more details

On Wed, Mar 13, 2019, 13:33 Fredrik Lindner <notifications@github.com>
wrote:

[2019-03-13 12:51] sdake opened #12451 "Need solution for operators that have deployed 0.8 that have upgraded to 1.0 to successfully upgrade to 1.1."
**Describe the bug**
Anyone that installed Istio 0.8 with Helm 2.9.1 or prior have managed CRDs.  An upgrade will wipe out their CRDs contents.  2.9.1 was the only version of helm available in the Istio 1.0.0 release so this has wide impact across our operator base.

**Expected behavior**
CRDs's custom resource contents will not be wiped out.

**Steps to reproduce the bug**
tbd

**Version**
1.1

*

[2019-03-13 12:53] sdake commented on #12451
Also need docs, validation, etc.

[2019-03-13 12:58] sethokayba opened #12452 "Unknown value for the connection_security_policy"
**Describe the bug**
i am using istio with mTLS mode enabled. Checking communications with istioctl authn tls-check gives no conflicts for my services in the targeted namespace, but when using Prometheus to debug telemetry data, i found that the attribute connection_security_policy has a value 'unknown'. What is the signification of this status ?

**Expected behavior**
connection_security_policy s

[2019-03-13 13:01] Stono opened #12453 "Limits on istio-proxy in istio-policy"
Hey,
I'm starting to look through what 1.1.x looks like for us and I noticed that istio-proxy on istio-policy now has a memory limit set to the same value as the request.

[code]

This worries me as each istio-proxy memory usage on our cluster currently sits around 150-160meg, so this would just be getting OOM'd repeatedly if i was to roll it out.

[2019-03-13 13:05] mikesimons opened #12454 "Proposals: CEXL / CEL improvements"
**Describe the feature request**
We tried to create an additional dimension for response.code to bucket it by family (e.g. 1xx, 2xx, 3xx etc) as per https://discuss.istio.io/t/expanding-cexl/1355 but found it impossible to do in 1.0.X. It should be possible in 1.1 but is less than ideal. We aren't running 1.1 yet but I suspect this will work:

[code]

This seems overly verbose and could be shorted

[2019-03-13 13:51] #12153 closed

[2019-03-13 13:54] wailua commented on #12453
Same issue here. By default pilot now uses cpu: 500m and memory 2048Mi. For most users that just costs a lot of money without any need. Or they even fail to install Istio.

You can set your own values with helm like this running from install/kubernetes/helm folder:
`helm template istio --name istio --namespace istio-system --values istio/values-istio-demo-auth.yaml --set pilot.resources.requests.c

[2019-03-13 13:57] Stono commented on #12453
I think that's a different issue.  This is about the limits for the istio-proxy sidecar which have crept into 1.1

[2019-03-13 13:59] arne-klein commented on #12371
Thanks! It seems to be the same underlying issue as in those two reports, which is being fixed in #12028 and #12030.
Hoping for the 1.0.7 release #12090 soon to resolve the issue.

[2019-03-13 13:59] #12371 closed

[2019-03-13 14:00] aguromanodg commented on #12305
I am getting same error, I have `istio` `1.1.0-rc.3` deployed with helm in a GKE cluster.
Also using `istioctl` `1.1.0-rc.3`
The output is :

[code]

Thanks!

[2019-03-13 14:09] rjain15 commented on #5379
I am running into the same issue
`[2019-03-13 14:02:24.334][48][critical][main] external/envoy/source/server/server.cc:78] error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-statsd-prom-bridge
`

Kubernetes version 1.12.5, istio 1.0.2

[2019-03-13 14:31] esnible commented on #12431
When a pod get stuck in `Init:0/1` it would help to do a `kubectl describe` instead of the `kubectl logs` the test currently does.  I have a PR for that at https://github.com/istio/istio/pull/11904 .  Can anyone help me get that PR merged?

Look at my PR and notice that `ci/circleci: e2e-pilot-auth-v1alpha3-v2-non-mcp` failed.  I wanted it to fail!  https://circleci.com/gh/istio/istio/341725?utm_c

[2019-03-13 14:32] #9925 closed

[2019-03-13 14:44] dwradcliffe opened #12455 "istioctl cluster list type is wrapped in &{}"
**Describe the bug**
When running `istioctl proxy-config clusters <POD>` the Type field is wrapped in &{} like this:

[code]

I have confirmed that istioctl binary v 1.1.0-rc.3 has the correct behavior against 1.1.0-rc.4 mesh.

**Expected behavior**
I would expect to see `EDS` instead of `&{EDS}`, etc.

Also, I would expect BlackHoleCluster to be `STATIC` not `<nil>`

**Steps to reproduce the bug*

[2019-03-13 14:47] #12333 closed

[2019-03-13 14:50] esnible commented on #12078
https://github.com/istio/istio/pull/10830 provides an alternate PR for this problem.

I hope one of them will be merged so that the docs will not discuss non-working flags.

[2019-03-13 15:00] Morishiri opened #12456 "Timeout problem: Internal error occurred: failed calling webhook "sidecar-injector.istio.io""
*I know this bug appeared here many times, but still any of the already existing issues were not sufficient to help my case*

**Describe the bug**
Replica set is not able to create any pods. In `Events` section there are multiple errors, but all include timeout message:
[code]
**Expected behavior**
Replica set is able to post to sidecar, get automatic injects and create istio-proxied pods.

**Step

[2019-03-13 15:14] esnible commented on #12455
@kyessenov Why did the test case expected output change in https://github.com/istio/istio/commit/009730f1abc86ee10d530022c5d79e18fe31fa37#diff-9f9aaaf90d81f80f51dd7e71d9175a8a ?

[2019-03-13 15:23] #12432 closed

[2019-03-13 15:31] zendai opened #12457 "Missing white space in HTTP Envoy log format since Istio 1.0.3"
**Describe the bug**
There is a missing whitespace in the [hard-coded](https://github.com/istio/istio/blob/1.0.3/pilot/pkg/networking/core/v1alpha3/listener.go#L64)  log format of Envoy between the request (`%REQ(X-ENVOY-ORIGINAL-PATH?:PATH)%`) and the protocol (`%PROTOCOL%`):
[code]
As a result, we'll see logs like this:
[code]

**Expected behavior**
To have a whitespace between these two fields.

[2019-03-13 15:31] costinm commented on #12444
Please don't add more to meshconfig. It's global, not friendly to upgrade
and gradual adopiton, or the new installer.

On Tue, Mar 12, 2019, 21:33 Quanjie Lin <notifications@github.com> wrote:

[2019-03-13 15:35] #12457 closed

[2019-03-13 15:36] zendai commented on #12457
I just found that this has been [fixed](https://github.com/istio/istio/blob/1.1.0-snapshot.5/pilot/pkg/networking/core/v1alpha3/listener.go#L64) in `1.1.0-snapshot.5`.

[2019-03-13 15:41] quanjielin commented on #12444
Costin, we plan to use pod annotation to decide whether to generate sds config for certain sidecar for roll out case, a global flag may still necessary for new cluster case and add uds setup for control plane component like mixer and pilot; I'm doing some prototype, will schedule a meeting with you for offline discussion, thanks.

[2019-03-13 15:51] diemtvu commented on #10053
Can you send me the authentication policies and destination rules in your system. Also, the Cassandra deployment yaml. Thanks.

[2019-03-13 15:53] costinm commented on #12444
Mesh config is not used by pilot sidecar and we don't plan to use it - will
likely be deprecated anyways by operator.

On Wed, Mar 13, 2019, 08:41 Quanjie Lin <notifications@github.com> wrote:

[2019-03-13 16:05] ayj commented on #12078
#10830 targets master. For 1.1 at most we may want to simply mark these flags as deprecated. It may be too late for 1.1.0 but could be included in 1.1.1.

[2019-03-13 16:31] kyessenov commented on #12455
There is a new cluster type (custom) that needs to be handled.

[2019-03-13 16:37] pms1969 commented on #11973
Solved!. Set the gateway correctly (the docs have it... https://preliminary.istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/) .

[2019-03-13 16:51] esnible commented on #12455
@kyessenov I'd like to add an `istioctl proxy-config cluster` test for the new cluster type.  Can you give me instructions on how to create one *or* an Envoy config_dump fragment that includes one?

[2019-03-13 16:53] sdake commented on #12451
In slack, I agreed to test this problem, and @sbezverk agreed to take point on fixing any issues that arise.  We need the following:
- at least one more volunteer to test the solution.
- someone to document the solution
- someone to build the image and sort out the distribution thereof.

[2019-03-13 17:21] kyessenov commented on #12455
@esnible It is in xDS API https://github.com/envoyproxy/data-plane-api/blob/master/envoy/api/v2/cds.proto#L100. I don't know the purpose or the history of this new extension.

[2019-03-13 17:35] esnible commented on #12456
A fix for the dump_kubernetes.sh script that should fix the problem with reporting can be found at https://github.com/istio/istio/pull/12159

I don't know the cause of the actual problem, the failed webhook.

[2019-03-13 17:43] esnible commented on #12294
@andraxylia @rshriram This message appears in the log of every proxy every half hour.  Do we consider this an `area/networking` concern?

[2019-03-13 17:51] michaelkipper opened #12461 "Istio Proxy producing invalid statsd metrics"
**Describe the bug**
See: https://github.com/DataDog/datadog-agent/issues/2982

[code]

It appears that the output metrics contain pipes, which break the statsd parsing code.

**Expected behavior**
Valid stats in DataDog.

**Steps to reproduce the bug**
Set up the proxy with `--statsdUdpAddress=<ADDR>:8125`

**Version**
1.0.4 (Haven't attempted to reproduce this on 1.1.x)

**Environment**
GKE, Dat

[2019-03-13 17:53] esnible commented on #11847
Is the basic idea to modify the istio-sidecar-injector ConfigMap through Helm allowing choices made in Helm to become `--proxyLogLevel` args on the sidecar?

Envoy lets the log level be configured dynamically.  I use `kubectl exec $(kubectl get pod --selector app=httpbin --output jsonpath='{.items[0].metadata.name}') -c istio-proxy -- curl -X POST http://localhost:15000/logging?level=info` but  wo

[2019-03-13 18:01] esnible opened #12463 "IDEA: suppress all the --log... flags in istioctl"
`istioctl` has many `--log` flags:

[code]

It inherits these from server commands.  `istioctl` is never used in environments where it should be rotating logs etc.  I propose `istioctl` marks these as deprecated, so that when a user has a typo the actual important usage feedback doesn't scroll off the screen.

[2019-03-13 18:27] esnible commented on #11091
We have a CLI command, `istioctl authn tls-check <pod>` that is supposed to report conflicts.  However, it doesn't always do what is expected.  For example, if a namespace is set up for mTLS but not for auto-inject the tool doesn't detect it. https://github.com/istio/istio/issues/11697

I have an idea for a CLI command to check pod connectivity.  The proposal is to automate the steps I take manual

[2019-03-13 18:31] esnible commented on #11044
FYI we have `istioctl experimental verify-install -f ~/istio.yaml` which will be enhanced by a `--verbose` flag through https://github.com/istio/istio/pull/12174 to tell us the status of the control plane pods.

[2019-03-13 18:43] wattli commented on #11333
In terms of HorizontalPodAutoscaler (HPA), it is due to the nature of how Citadel works. Once we fully enable the SDS feature, it is feasible to turn on HPA. Currently if we have multiple citadel instances listening on a same namespace, it will mess up the k8s secret.

For PodDisruptionBudget (PDB), it's something we can work on and this does not block 1.1, right?

@myidpt please add more.

[2019-03-13 18:53] munnerz commented on #12132
FWIW, cert-manager v0.6 & v0.7 *do* include the CA bundle in the generated Secret resources. This will be stored with a key named `ca.crt` in the Secret.

This is **not** supported when using the ACME issuer however.

[2019-03-13 18:56] linsun commented on #11044
@esnible @irisdingbj nice!

[2019-03-13 19:02] duderino commented on #12264
I managed to get a 'This is fine now' out of Mandar so closing it

[2019-03-13 19:02] #12264 closed

[2019-03-13 19:03] TimBozeman commented on #9504
I'm getting `envoy missing listener for inbound application port: 80` after switching to istio 1.1 on 1.12.5-gke.10. My webserver service looks like
`
apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  ports:
    - name: http
      port: 80
    - name: https
      port: 443
      targetPort: 80
  selector:
    app: nginx
`
It's that `targetPort: 80` line that see

[2019-03-13 19:05] duderino commented on #12162
@michaelkipper @dwradcliffe we think this has been fixed in RC4, but please reopen if RC4 doesn't solve the issue for you

[2019-03-13 19:05] duderino commented on #12117
@morvencao can you try 1.1RC4 and tell us if there is still an issue?

[2019-03-13 19:12] linsun commented on #11333
@wattli thanks, I see we don't have SDS enabled by default in 1.1 anyway.  No blocking 1.1, this is post 1.1.0.

I think you'll need multiple instances before enable PDB to help upgrade without down time.

[2019-03-13 19:20] Stono opened #12467 "Istio-init installs CRD's for cert manager"
Even with `certmanager: enabled: false`, you'll still have istio-init trying to install CRD's https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio-init/files/crd-certmanager-10.yaml

This causes a problem for people who already run certmanager installations.  There is no guarantee they'll be on the same versions of certmanager as the istio chart presumes.

For example, our CRD'

[2019-03-13 19:22] esnible commented on #11044
Linkerd2 has a mesh status command, `linkderd check`.  It would be worthwhile to include some of its features.  Their version can check control plane version (as _istioctl_ could in 0.1, but no longer).  We should bring back version checking to _istioctl_.

[2019-03-13 19:23] ykoyfman commented on #11696
What would be the suggested workaround to use in Istio 1.0 / 1.1 deployments given that the fix won't make it into 1.1?  Manually propagating the parentspan id header in each service to service call?

[2019-03-13 19:30] objectiser commented on #11696
@ykoyfman Propagating the `x-b3-parentspan-id` would need to be conditional on it having a real value. So if it is an empty string, then it should not be propagated.

[2019-03-13 19:31] nmittler commented on #9504
@TimBozeman this is because we're using the [container ports](https://github.com/istio/istio/blob/release-1.1/pilot/pkg/kube/inject/inject.go#L772) to populate the default application port list. You can override the list of application ports that the sidecar will wait for by setting the [readiness.status.sidecar.istio.io/applicationPorts](https://github.com/istio/istio/blob/release-1.1/pilot/pkg/k

[2019-03-13 19:32] silentdai commented on #11937
Your described behavior is expected. As in rc4 the affected listeners are less than before, the memory spike is should be highly reduced. Is rc4 acceptable from your perspective?

[2019-03-13 19:35] Stono commented on #11696
So what we've done, which isn't perfect, is have our edge applications that take the client traffic use an opentracing library to instantiate a trace correctly.  So we get traces from the edge down.

Doesn't work for intra-mesh stuff though.

[2019-03-13 19:58] sdake commented on #12467
https://github.com/istio/istio/pull/12468 - needs a full 0.8->1.0->1.1 upgrade.

[2019-03-13 19:58] dkrieger opened #12469 "Gateway FQDN collides with same name(space)d Service (?)"
From what I've gathered reading issues, Gateways are given FQDNs like `name.namespace.svc.cluster.local`. If one has a Service by the same name in the same namespace -- a fairly common scenario, I'd think -- they would in theory have the same FQDN. I haven't checked  whether this applies to VirtualService as well, but in either case, it should at the very least be clearly documented on all Istio r

[2019-03-13 20:17] costinm commented on #11509
@philrud

[2019-03-13 20:25] esnible commented on #9504
@nmittler I am struggling to understand your comment.  The user reports that it works without `targetPort: 80`.  Without the explicit targetPort wouldn't the real ports be expected to be 80 and 443?  And with the explicit targetPort the real ports would be only 80?

[2019-03-13 20:32] #7844 closed

[2019-03-13 20:35] dankirkpatrick commented on #11509
Yes, I am deploying one gateway per FQDN.

Sent from my iPhone

[2019-03-13 20:47] dwradcliffe commented on #12232
This is still present in rc4. I put up a PR to fix the first part here: https://github.com/istio/istio/pull/12473

(I'm not actually sure what the second problem is referring to)

[2019-03-13 20:57] TimBozeman commented on #9504
@nmittler Thank you!
I don't have 443 defined in the deployment. I tried adding it as `- containerPort: 443` and also in the annotation `readiness.status.sidecar.istio.io/applicationPorts: "443,80"`, but I didn't get it going. If I set it the annotation to empty the istio-proxy sidecar reports ready, but doesn't actually work until I make a change to the service like toggling the targetPort.

Sorr

[2019-03-13 21:07] JimmyCYJ commented on #12132
Thanks @munnerz, are there any examples that support ca.crt? I would like to run an experiment with cert-manager and Istio.

[2019-03-13 21:08] nmittler commented on #9504
@TimBozeman can you list the pod spec?

[2019-03-13 21:18] dkrieger commented on #12469
when I run an alpine image, `apk add --no-cache bind-tools`, and `host -l cluster.local`, there is no trace of gateways or virtual services -- just services, as I would have expected. Are references to `name.namespace.svc.cluster.local` as Gateway FQDN outdated? I checked on istio 1.0.6 . I'd like to avoid redundantly adding resource kind to the resource's name if possible.

[2019-03-13 21:26] TimBozeman commented on #9504
Sure :)
[code]
and then I get
[code]

[2019-03-13 21:27] njyeti commented on #12232
Hi @dwradcliffe,

Regarding the 2nd problem, if we want to capture the HTTP request or response header in the access log, currently, it is does not capture custom value the JSON format but works fine when we use the TEXT format.

For example, if we have the below access log pattern where we have defined custom header for request and response:
`accessLogFormat: "'%START_TIME%' '%REQ(MY-CUSTOM-REQ-N

[2019-03-13 21:32] #9940 closed

[2019-03-13 21:38] costinm opened #12474 "Single Invalid resource (sidecar) drops the entire collection"
I noticed during testing that all Whitebox Sidecar stopped working.
Looking further, pilot /debug/configz shows there is no Sidecar defined.
I have quite a few Sidecar in different namespaces - and they do work fine if useMCP=false.

Only logs I've seen are:
[code]

Pilot logs at that time seem to be gone - restarting pilot to get more info.

[2019-03-13 21:43] thomschke commented on #12381
LGTM in 1.1.0-RC4 !

[2019-03-13 21:43] #12381 closed

[2019-03-13 21:46] nmittler commented on #9504
@TimBozeman interesting ... the log dump you provided doesn't contain inbound listeners for either of the configured ports.  How long did you wait until you captured that log? I wonder if you wait a bit, Envoy might receive more inbound listeners from Pilot.

[2019-03-13 21:47] costinm commented on #12474
Pilot side logs, after restart:
[code]

[2019-03-13 21:48] nmittler commented on #9504
@costinm @rshriram this seems odd ... andy thoughts on why the inbound listeners generated by Pilot seem to be different when targetPort is specified?

[2019-03-13 21:49] dwradcliffe commented on #12232
What's your custom accessLogFormat for JSON?

[2019-03-13 21:50] costinm commented on #12474
As a secondary issue - there is no way to know which resource is bad.

For reference, the bad config was:

[code]

[2019-03-13 21:51] TimBozeman commented on #9504
I let it run for a long time. When I look at the listeners it's mostly empty.
[code]

[2019-03-13 21:52] costinm commented on #12474
And it appears the config is accepted by Galley.

[2019-03-13 22:00] jensendw commented on #11509
I'm having the same issue with istio 1.0.6, I think the root issue here is that if you're using wildcard SSL cert you will need to share the gateway.   Initially I setup the following which didn't work:

[code]

I switched this to one gateway definition, and individual virtual service definitions:

[code]

My plan is to follow the pattern above with my other wildcard certs and have the individual

[2019-03-13 22:09] esnible commented on #9504
@nmittler I started Tim's example, the istio-proxy log reports

[code]

[2019-03-13 22:13] howardjohn commented on #12436
`{"stats_config":{"stats_matcher":{"inclusion_list":{"patterns":["prefix":"cluster"]}}}}` Doesn't look like valid JSON.
`["prefix":"cluster"]` should be `[{"prefix":"cluster"}]`?

[2019-03-13 22:15] duderino commented on #12266
@jasminejaksic do you still have time to do this?  If not please ask for it to be reassigned earlier rather later

[2019-03-13 22:16] esnible commented on #12474
@costinm 1.1 RC 3 and 4 reject invalid Sidecar.  Earlier versions did not.  https://github.com/istio/istio/pull/12233

[2019-03-13 22:17] douglas-reid commented on #12461
Yeah, the `|` delimiter has caused other issues before, iirc. I think it was breaking Prom export in envoy at one point as well, which is why we have our custom `stats_tags` [config](https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_v2.json#L18-L53).

@rshriram what your recommendation here?  how baked in is `|`?

[2019-03-13 22:20] duderino commented on #12303
@mandarjog I think this is done.  Reopen if necessary

[2019-03-13 22:20] #12303 closed

[2019-03-13 22:21] douglas-reid commented on #12452
Let's keep this discussion on the forum.  https://discuss.istio.io/t/unknown-status-on-connection-security-policy-with-prometheus/1362.  This is a known limitation for client-side metrics and there is on-going work related to it.

[2019-03-13 22:21] #12452 closed

[2019-03-13 22:22] douglas-reid commented on #12438
@charleskorn This seems like a valid issue. Thanks for identifying! Happy to review any related PR!

[2019-03-13 22:32] #9938 closed

[2019-03-13 22:38] esnible commented on #12422
It is working for me in 1.1 RC 3.

[2019-03-13 22:58] njyeti commented on #12232
hmmm, is it the same format being used for both TEXT and JSON?

Snippet from the 'istio" configMap
`
    # If accessLogEncoding is TEXT, value will be used directly as the log format
    # example: "[%START_TIME%] %REQ(:METHOD)% %REQ(X-ENVOY-ORIGINAL-PATH?:PATH)% %PROTOCOL%\n"
    # If AccessLogEncoding is JSON, value will be parsed as map[string]string
    # example: '{"start_time": "%START_TIME%

[2019-03-13 23:04] dwradcliffe commented on #12232
If you want to use custom vars and JSON you need to put the mapping in accessLogFormat in json, not the same string you used for text. I’m guessing it failed to decide json and failed back to the default format.

[2019-03-13 23:06] sdake commented on #12451
problem resolved by above prs in much simpler way then using tiller hack.  The problem exhibits when early adopters have upgraded from 0.8 to 1.0 to 1.1.

[2019-03-13 23:11] catherinetcai opened #12479 "Istio Multicluster: Liveness/Readiness Probes Fail in Remote Cluster"
**Describe the bug**
Deployed Istio multicluster on two K8 clusters with m-TLS disabled. Liveness/readiness probes for pod workloads work fine on the control plane cluster after proxy sidecar is injected. Liveness/readiness probes for the same pod workload fail on the remote cluster after sidecar is injected.

**Expected behavior**
Liveness/readiness probes should exhibit the same behavior in both

[2019-03-13 23:15] njyeti commented on #12232
got it. Will try it out quickly. Thank you!!

[2019-03-13 23:40] nmittler commented on #9504
Thanks, @esnible ... you beat me to it. It seems that Envoy is dropping both listeners when the conflict occurs.  I suspect we should be guarding against this in Pilot.

@rshriram @costinm thoughts?

[2019-03-13 23:53] esnible commented on #9504
@nmittler The output of `istioctl proxy-status` is

[code]

Pilot should avoid sending duplicates.  I found nothing in the logs indicating that it realized it was sending anything bad; the first Warning from Pilot is

[code]

[2019-03-13 23:55] incfly opened #12480 "Galley validation tests frequently failing on k8s environment"
https://testgrid.k8s.io/istio-presubmits#integration-k8s-tests

It sometimes can pass, but most time fails, for example, https://prow.k8s.io/view/gcs/istio-prow/pr-logs/directory/istio-integ-k8s-tests/4951

[2019-03-13 23:57] gyliu513 commented on #11723
@johnma14 @linsun can you please share some plan or progress for this? Thanks.

[2019-03-14 00:10] incfly commented on #12480
Might help for https://github.com/istio/istio/issues/12267

[2019-03-14 01:21] hzxuzhonghu commented on #12446
[code]

I delete ingress-gateway pod and it start and becomes ready takes less than 2s

[2019-03-14 02:53] jasminejaksic commented on #12266
@oaktowner was working on this last week but for some odd reason I can't assign this to him

[2019-03-14 03:45] sdake commented on #12451
https://github.com/istio/istio/pull/12484 - first commit is based upon Stono's work, second is a bit of a cleanup.

[2019-03-14 04:23] xianke9 commented on #12445
as you said, once I increase the sampling rate to 100, it is working fine. thank you so much!

[2019-03-14 04:23] #12445 closed

[2019-03-14 06:06] dotw opened #12486 "Traces are lost when container port is not defined in deployment"
**Describe the bug**
Traces are not correct in jaeger. Do we have any constraint with `container port` when using tracing?

**Expected behavior**
Traces are displayed as the examples.

**Steps to reproduce the bug**
using the [bookinfo app](https://github.com/istio/istio/blob/1.0.5/samples/bookinfo/platform/kube/bookinfo.yaml) but remove the `container port` in the `deployment`.

**Version**
1.0.5

[2019-03-14 06:10] dotw commented on #12486
snapshots
with container ports
![with cp](https://user-images.githubusercontent.com/1314173/54335092-db360280-4662-11e9-8051-9c6e952ca0a6.png)
without container ports
![without cp](https://user-images.githubusercontent.com/1314173/54335103-e38e3d80-4662-11e9-8d55-859bf8840748.png)

[2019-03-14 07:54] vijaykumark commented on #11696
@Stono Before forwarding B3 propagation headers, are you checking if they have real values?

Tested it in `1.1.0-rc.0` for intra-mesh scenario and it works fine if you only forward non-empty headers.
Deployed this example to test it: [Istio101 repo](https://github.com/thesandlord/Istio101/blob/master/code/code-only-istio/index.js)
Check Lines 67-72 where it checks if the headers are present before

[2019-03-14 08:03] mathspanda commented on #10380
not stale

[2019-03-14 08:47] thomschke commented on #11333
@linsun @wattli  I have enabled SDS (only for ingressgateways), so it's dangerous to scale up citatel under 1.1, isn't it? If so, then there is a short downtime for citatel when I have to perform a node upgrade. Is this critical for the entire environment?

[2019-03-14 09:36] zhranklin opened #12488 "When only address is changed, mixer handler isn't refreshed"
**Describe the bug**
change the address of out-process-adapter when mixer is running doesn't work.

**Expected behavior**
mixer server change the handler address to a new one that config yaml specifies.

**Steps to reproduce the bug**
Define an out-of-process adapter like this:
[code]

start mixer server.

change `spec.connection.address` to another one. For example, from a wrong address to a righ

[2019-03-14 11:28] TonyBarganski commented on #11523
Any resolution on this? I have the same timeout error with `istio-pilot` pod not running (`insufficient memory`) and `istio-security-post-install` fails:

[code]

[2019-03-14 11:28] TonyBarganski commented on #11523
P.S. I'm running a lab test on kubernetes running on Docker for Windows Desktop - Windows 10.

[2019-03-14 11:38] cmeyertons commented on #6324
@TristanPeers worked enough for me as a workaround.

I see in his, he has a sleep in there -- I was noticing things erroring out unless I put in a sleep.  It sounds like some logic is missing in the init_container to properly initialize before letting the main container run wild.

[2019-03-14 12:03] TonyBarganski commented on #7118
I have 4 CPU's and 8GB RAM and yet still getting `Insufficient memory`

[code]

[2019-03-14 12:28] francoran commented on #12453
Duplicate of #8553

[2019-03-14 12:41] sdake commented on #12446
Thank you for the suggestion, however, I have 128gb of ram on my bare metal machine and 32 cores.  👍 Still, this may help someone else in the future via a google search.

[2019-03-14 12:50] iandyh commented on #10541
@esnible Hi Thanks for the reply.

I think it's a good practice to always define the required resource first. A bit like variable declaration in any programming language.

[2019-03-14 12:50] dwradcliffe commented on #12162
Unfortunately I don't think this is fixed.
Running `1.1.0-rc.4` with `--concurrency=1` on the same cluster scale that was originally reported I'm still seeing periodic spikes leading to throttling, higher latency, and 503s.

![Istio | Datadog 2019-03-14 08-46-43](https://user-images.githubusercontent.com/118850/54358175-166e0c80-4636-11e9-83bc-93adff13a8c7.png)

If we apply a `Sidecar` resource to

[2019-03-14 12:53] labkode opened #14008 "Single page output for protoc-gen-docs"
Hi,

first of all, kudos for the nice protoc-gen-docs tool.

It would be nice to have a mode where you can generate a single page output with the structure defined below. This structure makes easy to create single page documents (HTML, PDFs, RFCs) where you only have one index file. The current modes only allows you to have fragments per package level, not as a whole

# Package 1

## Services
###

[2019-03-14 14:38] linsun commented on #11333
@thomschke my understanding is your exciting services should continue function as citadel doesn't participate in the data plane flow, as long as you don't deploy new services during the node upgrade window.  @wattli pls correct me if I'm wrong.

[2019-03-14 14:39] johnma14 commented on #11723
@gyliu513 I haven't gotten a chance so far to look at this in detail since I have been trying to complete some PR's for the 1.1 release. I hope to start work on this next week onwards if that is ok.

[2019-03-14 15:07] sdake commented on #12479
@catherinetcai all dev work is taking please on release-1.1 branch at present.  Can you try to reproduce on release-1.1?  Not all work has been forward ported yet, and this may be a known problem that is already resolved.

Cheers
-steve

[2019-03-14 15:08] sdake commented on #12467
@Stono this has been fixed in release-1.1 branch as per your suggestions and should be in the latest RC.

Cheers
-steve

[2019-03-14 15:22] ykoyfman commented on #11696
@Stono  To clarify - edge application sets x-b3-* headers before traffic even reaches the ingress gateway?

[2019-03-14 15:30] nirvanagit commented on #12144
@rshriram - this was specifically fixed by removing this [code](https://github.com/rshriram/istio/blob/0f7e659a39d28bae487582f769f039278d8d6481/pilot/pkg/model/push_context.go#L512) right?

[2019-03-14 15:44] rshriram commented on #12162
could you test with: https://github.com/istio/istio/pull/12412
where you disable any using env var

[2019-03-14 15:54] nrjpoddar opened #12493 "Make "hosts" in ServiceEntry optional"
**Describe the feature request**
The `hosts` field in ServiceEntry is a required field as stated here: https://istio.io/docs/reference/config/istio.networking.v1alpha3/#ServiceEntry

This is a possible security issue when you want to talk to external services via known stable IPs but need to add bogus hosts which can lead to maintenance/security issues long term.

**Describe alternatives you've co

[2019-03-14 15:56] nrjpoddar commented on #12237
@esnible is this going to handled via docs being more explicit? I was unaware that the maintainers had made that decision.

[2019-03-14 16:00] sdake commented on #12291
@xiaozhongliu are we good to close this issue then?

[2019-03-14 16:01] sdake commented on #12262
Ansible has been deprecated and removed from the system as per @knrc discussion.

Cheers
-steve

[2019-03-14 16:01] #12262 closed

[2019-03-14 16:03] sdake commented on #12197
@CoryARamirez the Ansible playbook has been deprecated as per discussions with the maintainerrs of that work (@knrc specifically).

Cheers
-steve

[2019-03-14 16:04] vinayvenkat opened #12494 "Authorization template config does not recognize fields supplied in config such as "request.auth""
**Describe the bug**

I'm using the authorization template to build a custom mixer adapter. When I specify the request.auth fields in the instance configuration I get the following error while running mixs:

[code]

**Expected behavior**

I expected the fields to all be recognized and appropriately passed to my gRPC adapter which will perform the appropriate adjudication.

**Steps to reproduce the

[2019-03-14 16:21] wattli commented on #11333
Yes, that's correct, what Citadel does is to provide certs for workloads so they can talk to each other in mTLS. It generates certs for workloads when they are spun up, and after that, it will periodically rotate the cert (the period is configurable, see here https://github.com/istio/istio/blob/master/security/cmd/node_agent_k8s/main.go#L247).

As Lin's said, if you don't bring up new workloads du

[2019-03-14 16:24] gbaufake commented on #11972
I tested again rc.4 and it didn't to appear to be an issue anymore

[2019-03-14 16:26] bianpengyuan commented on #12494
I don't believe request.auth.token is a valid attribute. See https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/ for an full list of supported attributes in 1.1 release. "source.user" is also going to be deprecated with 1.1. I think what you might want are source.principal.

Also when operating with map attributes, the key value needs to be quoted, like re

[2019-03-14 16:27] bianpengyuan commented on #11972
Ok, thanks. I will close this issue then.

[2019-03-14 16:27] #11972 closed

[2019-03-14 16:34] zuzzas commented on #8059
I can give you, people, a solution.

Enable [RunAsGroup](https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/) feature gate in your cluster. And don't forget to restart everything!

Why should we do this?

Because sidecar-injector's template includes this part. Notice the `runAsGroup` field which is hidden behind a feature flag.
[code]

This UID or GID is used in the ip

[2019-03-14 16:46] zuzzas commented on #8059
@rlenglet
Should the documentation be changed in regards to the `runAsGroup` feature flag? I've been thinking about opening a PR, but I'm not sure where to put it, since there is not mention of `TPROXY` anywhere in documentation.

[2019-03-14 16:53] vinayvenkat commented on #12494
@bianpengyuan Thats a great point and thank you for the link.
However, I literally pulled the config out of the authorization template's ```template_handler_service.pb.go``` file.
I've shown the excerpt from it below:

[code]
Can you help me understand the discrepency and also generically speaking, where in the code is the authoritative attributes vocabulary that can be referenced and used within

[2019-03-14 17:02] douglas-reid commented on #12461
@rshriram is there a list of previously rejected dividers? Did we use `~` at one point?

[2019-03-14 17:05] kyessenov commented on #12461
/cc @mandarjog
There is C++ code in proxy that parses this identifier and expects |. It needs to be taken care of.

[2019-03-14 17:17] vinayvenkat commented on #12494
This is also taken straight from the documentation at:
https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/templates/authorization

[2019-03-14 17:24] esnible opened #12495 "Odd warnings and errors in Pilot log when Gateway deleted"
Verified on 1.1 RC 4 and 5; I have not tried with other versions.

To reproduce, create a Gateway and start `kubectl logs -n istio-system <pilot-pod> -c discovery -f`.  The Gateway I used was

[code]

Then delete the gateway: `kubectl delete gateway sm-test`

The Pilot discovery logs fill with strange errors and warnings of this format:
[code]

I saw 352 of these buildGatewayRoutes errors on a clu

[2019-03-14 17:27] myidpt commented on #11333
@wattli is correct. We will be able to support PDB for Citadel with Citadel agents/SDS, but that is post 1.1.0. Citadel is not directly involved in the dataplane flow, so a short downtime should be OK. New deployments can immediately get the keys and certs once Citadel is up.

[2019-03-14 17:46] thomschke commented on #11333
That's all what I need, thanks !!!

[2019-03-14 18:10] duderino commented on #12162
and #12412 is present in 1.1rc5, but not 1.1rc4

[2019-03-14 18:13] duderino commented on #12117
@morvencao at this point, please try 1.1RC5.  We think it's fixed, but it would be really good if you could confirm

[2019-03-14 18:21] nmittler commented on #9504
I've tried reproducing this in a unit test with an in-memory pilot (to aid debuggability): https://github.com/nmittler/istio/tree/test-targetport. This commit is based on `1.1.0-rc.4`.

So far unsuccessful ... it seems to only create a single listener on port 80.

[2019-03-14 19:09] bianpengyuan commented on #12494
Sorry, the example config in comment is bogus and needs a update. The doc references the auto generated content from the comment. I will remove those out of date attributes. Thanks!

The link (https://preliminary.istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/) has authoritative list of attributes that you could reference in your expression. The preliminary link is for re

[2019-03-14 19:13] itsvikasgupta opened #12496 "istio rbac not having an effect despite enabling RbacConfig on all namespaces & services"
I have 2 services A and B in namespace dev. A is making a REST call to B. A has an API /responseTime which calls B's API /about

I am using istio 1.0.5 with mtls.

I am still new to istio RBAC but my understanding is that once RBAC is enabled on ALL namespaces and services, A shouldn't be able to talk to B right?

On applying this yaml,

    apiVersion: "rbac.istio.io/v1alpha1"
    kind: RbacConfi

[2019-03-14 19:37] linsun commented on #12493
are you proposing `hosts` optional only when addresses are specified?