[2020-04-13 15:41] cagataygurturk commented on #22893
Just filed the same issue after a discussion in a PR: istio/istio#22902

[2020-04-13 15:42] cagataygurturk commented on #19939
The issue is adressed but there is still a bug impacting it: #22902

[2020-04-13 15:42] #19939 closed

[2020-04-13 15:44] cagataygurturk commented on #22902
Reported by another user: #22893

[2020-04-13 15:51] Adharsh-Muraleedharan commented on #22536
@ramaraochavali - when i add with endpoint like you said we get an entry for our endpoint in the  config_dump of the Gateway

Also when i run istioctl proxy-config route this is the output we get. Do we expect our endpoint to also be displayed here as a route ?
[code]

[2020-04-13 16:05] nfickas commented on #21266
@lambdai I am seeing similar issues while running v1.5.1 on k8s version 1.15.5. I am also getting:

`Error connecting to 127.0.0.6:15002: dial tcp 127.0.0.1:0->127.0.0.6:15002: connect connection refused`

I am not seeing the pod in question being labelled `cni.istio.io/uninitialized=true`.

[2020-04-13 16:07] Adharsh-Muraleedharan commented on #22536
I also get this entry in proxy-config cluster dump

[code]

[2020-04-13 16:15] rlenglet commented on #22902
https://github.com/istio/istio/issues/22893 is different: it asserts that Istio CNI doesn't properly configure redirection even when annotations are set on the pod.

[2020-04-13 16:16] rlenglet commented on #22902
@cagataygurturk please update this issue's description with the version of Istio you are using.

[2020-04-13 16:17] rlenglet commented on #22893
@cagataygurturk this issue is different. It is about two specific annotations being ignored by Istio CNI plugin. It is not a duplicate of #22902.

[2020-04-13 16:19] cagataygurturk commented on #22902
Sorry, misread #22893. Also updated the version.

[2020-04-13 16:23] howardjohn opened #22903 "Constrain integration tests with build tags"
Currently we have many test targets like `mixer-test` `galley-test` and then combine them with `test`. This adds reliance on our makefiles, rather than standard go tooling (`go test ./galley/...`). Additionally, I think its a bit slower since it isn't properly parallelized

I suggest we instead add build tag to integration tests:

[code]

Then to run these tests you would run `go test -tag=integ`.

[2020-04-13 16:23] rlenglet commented on #22902
@cagataygurturk Thanks! Could you please also give the full `istioctl` command you're using? I want to make sure you're using the right name for the `excludeIPRanges` Helm value.

[2020-04-13 16:25] rlenglet commented on #22902
Can you also print out the config map from your test cluster? I'd like to verify the value of the annotation in the `podRedirectAnnot` map.

[2020-04-13 16:31] cagataygurturk commented on #22902
Here it is:

[code]

is there and I tested with excludeIPRanges also. So the ConfigMap looks good to me.

[code]

[2020-04-13 16:33] cagataygurturk commented on #22902
I have added the `IstioOperator` definition to the issue description

ConfigMap:

[code]

To me it looks like the configuration is properly constructed upon installation but the sidecar injector ignores the configuration.

[2020-04-13 16:38] howardjohn opened #22904 "proto: tag has too few fields back due to broken usage of protobuf"
The IOP proto is golang/proto and it embedds gogo/proto for meshconfig. This is not something that we should do, and leads to the above error message. This was broken in  #22854, which fixed another bug related to the same thing. I think the only resolution is to stop mixing protobuf types

[2020-04-13 16:58] rolandkool commented on #22893
@rlenglet wasn't this fixed with https://github.com/istio/cni/pull/282 ?
We had similar issue reported with CNI and annotations not taking effect in issue https://github.com/istio/istio/issues/22498. We've validated last Friday that the fix (that can be applied using a nightly build) works for us.

[2020-04-13 17:07] bianpengyuan commented on #22418
You will need to set your ingressgateway use Local as externalTrafficPolicy: `--set components.ingressGateways.k8s.service.externalTrafficPolicy=Local`. Take a look at https://kubernetes.io/docs/tutorials/services/source-ip/ for implication.

[2020-04-13 17:23] incfly commented on #22220
I tried to reproduce the issue myself, by installing [Elasticsearch](https://github.com/GoogleCloudPlatform/click-to-deploy/tree/master/k8s/elasticsearch) with Istio.

The different behavior I found is: even using the Alpha Authentication Policy and DestinationRule as mentioned above, I still see the elastic search pods connection failure

[code]

Then I took a look of the elastic search service d

[2020-04-13 17:24] incfly commented on #22220
@hzxuzhonghu to summarize, we see mtls failing for elastic search and from the access log above, it seems like due to the pod is calling itself, while the service is not headless.

[2020-04-13 17:26] silverlyra commented on #22851
Also, I want to say that overall we’re very happy with Istio 1.5! Mixerless telemetry now works well and produces counters that match our services’ own Prometheus request metrics, and we’ve seen a marked improvement in the tail latency for the service that’s our largest single deployment.

[2020-04-13 17:34] howardjohn commented on #22851
If the memory of 1.5 with v2 was high and 1.5 without v2 was low it would mostly prove v2 is to blame here. The main reason I suspect (or at least want to rule this out) is because as far as I know that code has changed the most from 1.4 -> 1.5.

Another change that can be done is spinning up a pod with the `sidecar.istio.io/proxyImage: istio/proxyv2:1.4.7` annotation in the 1.5 cluster. Then we c

[2020-04-13 17:39] howardjohn commented on #22874
cc @nrjpoddar

[2020-04-13 17:51] laurentiuspurba commented on #22852
Logs on kube-dns pod:

`
E0413 17:02:04.313525       1 sync.go:140] Invalid configuration: invalid nameserver: "$(kubectl get svc -n istio-system istiocoredns -o jsonpath={.spec.clusterIP})" (value was &TypeMeta{Kind:,APIVersion:,}), ignoring update
`

[2020-04-13 17:59] elfinhe opened #22907 "istioctl upgrade: undefined “IOPS” wording and confusing validation on the current versions"
https://discuss.istio.io/t/warnings-during-istio-upgrade-1-4-1-5/6083

**Bug description**
there might be 2 issues here in the upgrade code.

1. the “IOPS” word should be replaced because it is an implementation detail;
2. the upgrade function can skip the version match check for the current version.

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl

[2020-04-13 18:20] mandarjog opened #22909 "Auto doc gen for istio-proxy"
Istio-proxy extensions contain protos which should be documented just like istio/api protos.

1. Add doc gen to istio-proxy ci/cd
2. Publish the artifacts to istio.io

The general pipeline for that is to set up the make file for such generation in istio-proxy. You can mimic what is currently there in other APIs. Things to edit are the make file and proto files. There are three things that are impo

[2020-04-13 18:20] sdake commented on #22605
@ramaraochavali this is an area for development. Prototypes from the 1.1 branch show routing crashes when route discovery takes place with a replicated service in the replicated control plane collide. Please see this issue for more context: https://github.com/istio/istio/issues/13045. I suspect this is what @linsun was speaking about.

Cheers
-steve

[2020-04-13 18:21] #22096 closed

[2020-04-13 18:21] mandarjog commented on #22909
cc @jasonwzm

[2020-04-13 18:24] nrjpoddar commented on #22874
FYI in order to make SDS work in 1.5 without third-party-jwt in the old Helm charts we had to do the following:

1. Add a new Helm option `.global.jwtPolicy` and set it by default to `first-party-jwt`
1. Add ENV variable `JWT_POLICY` in all sidecar and gateway proxies (including the ones added manually in control plane).
1. Guard the `istio-token` volume so that it's only enabled if `jwtPolicy` is

[2020-04-13 18:38] howardjohn commented on #22874
@nrjpoddar unless I am misunderstanding this, that is not related to this work right? This is for migrating from legacy helm charts to new helm charts. That should not require using SDS with the legacy helm charts?

Glad you got it working though

[2020-04-13 18:40] iusergii opened #22910 "Standart K8S Ingress: Duplicate ingresses object causes crash for istiod"
**Bug description**
Deploy of duplicate standard kubernetes Ingress object in different namespace causes crash for **istiod**

**Expected behavior**
Warning/Error in logs.

**Steps to reproduce the bug**
Deploy first Ingress to monitoring namespace

[code]
Deploy second Ingress to default namespace
[code]
Cause istod panic
[code]

**Version (include the output of `istioctl version --remote` and `k

[2020-04-13 18:41] nrjpoddar commented on #22874
Correct! I just didn't have a good place to put this information. Feel free to delete the comment if it's confusing.

[2020-04-13 18:45] kyessenov commented on #22909
FYI I'm trying to remove protobuf from stats filter. As part of that I'd need to get rid of its config proto.

[2020-04-13 18:51] howardjohn commented on #22874
No sounds good, just wanted to verify I wasn't missing something. thanks

[2020-04-13 19:01] fscz commented on #22750
I was wrong about authenticator.cc. istio/proxy does not use the file from https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/http/jwt_authn/authenticator.cc. Instead there is a custom implementation.

`#include "extensions/filters/http/jwt_authn/authenticator.h"

#include "envoy/http/async_client.h"

#include "common/common/assert.h"
#include "common/common/enum_to_int.h"
#

[2020-04-13 19:18] howardjohn opened #22911 "Stop creating a bunch of Gateway ports for addons"
We have a ton of ports exposed to the public internet for demo purposes: https://istio.io/docs/tasks/observability/gateways/. We should do routing on standard 80/443 and clean this up, as this exposes bad practices (port per service, instead of relying on domain/host/sni routing), and has a negative impact on security/cost/complexity.

This also avoids issues with LB that only support 5 ports tota

[2020-04-13 19:32] lambdai commented on #22837
There are fix from both istio pilot and envoyproxy addressing the same problem.

https://github.com/istio/istio/pull/20981
https://github.com/envoyproxy/envoy/pull/10728

The daily build istio should have fixed.
Will update the backport progress

[2020-04-13 19:38] nfickas opened #22913 "isito-validation initContainer not working on Istio 1.5.1"
**Bug description**
When running a pod with istio-cni enabled the istio-validation container fails with:
[code]

The error above is repeated multiple times.

**Expected behavior**
istio-validator successfully runs and allow the rest of the pod's containers to run.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version`

[2020-04-13 19:42] lambdai commented on #21266
@tmshort  Thanks for the update!

Sorry, not at this moment. The challenge is that the validation pod has very low privilege, which is adequate to validate but not to diagnose the root cause.
Let me see if I can bring more visibility at istio-cni-node daemonset.

[2020-04-13 19:47] lambdai commented on #21266
@nfickas Can you follow the steps to use admin to verify if iptables is injected correctly?

See my previous comment https://github.com/istio/istio/issues/21266#issuecomment-611794475

In the last 3 months I haven't confirmed any bug at istio-validation. Istio-validation is delivering the error message but usually the root causes are the cni installation.

[2020-04-13 19:49] howardjohn commented on #22909
Any reason these cannot/should not just be in the istio/api repo?

[2020-04-13 19:55] mandarjog commented on #22909
Unnecessary coupling with istio/api , multi repo hops.
I am ok copying out to istio/api

[2020-04-13 20:19] lambdai opened #22914 "Explicit document on Sidecar CR, egress listener: the combination of bind and capture mode iptables"
[code]
If the capture mode is iptables and bind is not empty, we sometime generate listener reflecting the config. However, this is more like a beautiful mistake.
1. It introduce conflicts if A_IP is used by other service
2. Even the A_IP is unique, serviceX and serviceY could have conflicts under the same IP. (p.s. w/o bind A_IP, istio bind the ip according to the vip of X and Y in service regist

[2020-04-13 20:42] esnible commented on #22904
Can we ask the gogo or apimachinery folks to fix this?  I left this comment at https://github.com/kubernetes/kubernetes/issues/86739#issuecomment-585830624 but will repeat it here.

The problem is in either the gogo/protobuf library or the apimachinery library.  It can be reproduced with this short code:

[code]

Is `protobuf:"-"` a valid tag?  If so, fix https://github.com/gogo/protobuf/blob/mast

[2020-04-13 20:46] esnible commented on #22883
See https://github.com/istio/istio/issues/14743 https://github.com/istio/istio/issues/12079 https://github.com/istio/istio/issues/14138 https://github.com/istio/istio/issues/15429 https://github.com/istio/istio/issues/16078 <-- see this issue for possible solution

[2020-04-13 20:51] kramvan1 commented on #22842
Verified with latest 1.5-dev

[2020-04-13 20:51] #22842 closed

[2020-04-13 20:52] kramvan1 commented on #22841
Yes would like to see more coverage in the upgrade tests.

Verify this issue is fixed in 15-dev

[2020-04-13 20:52] #22841 closed

[2020-04-13 20:53] kramvan1 commented on #22777
For SysDig, need to config it like this for now in 1.5:
[code]

[2020-04-13 20:57] kramvan1 commented on #18896
Will use IOP for changes we need here.

[2020-04-13 20:57] #18896 closed

[2020-04-13 20:57] kramvan1 commented on #18458
Working better with istiod now.

[2020-04-13 20:57] #18458 closed

[2020-04-13 20:58] kramvan1 commented on #18319
Will control the namespace and Roles via the OLM CSV.

[2020-04-13 20:58] #18319 closed

[2020-04-13 21:17] tmshort commented on #21266
Let me see if I can bring more visibility at istio-cni-node daemonset.

That's really where I meant.

[2020-04-13 21:30] lambdai opened #22915 "tcpdump visibility improvement with istio-iptables"
iptables is the de facto traffic capture approach in the past and in the foreseeing future.
When we triage exceptional bad or long tails requests, we cannot treat sidecar as transparent and instant packet forwarder: packet could drop in iptables, in envoy, so is the delay.
The lower level debugging tools is tcpdump. However, iptables redirect affect the peer address.
More specifically,
The outgoin

[2020-04-13 22:01] howardjohn commented on #19885
not stale..

[2020-04-13 22:19] howardjohn commented on #19885
I think the migration path will look like this:

For people using revisions:
* Upgrade to 1.7, everything uses v3

For people not using revisions:
* Upgrade pilot to 1.7. Pilot understands v2 and v3 transport protocol. Pilot sends v3 config only. Immediately, every single cluster/listener in the entire mesh drains as config is reloaded for v3, causing huge load on the cluster.

The "people using r

[2020-04-13 23:13] howardjohn commented on #19885
Actually we cannot send v3 clusters without a bootstrap config change. Therefor we must support v2+v3 simultaneous or enforce revisions for upgrade, as far as I can tell?

[2020-04-13 23:25] cagataygurturk commented on #13710
@howardjohn

A quick hands-up: On our GKE cluster running 1.4.6 we have 116 proxies and 61 service entries. As soon we we set all those entries' resolution to DNS, kube-dns starts complain:

`Maximum number of concurrent DNS queries reached (max: 150)"

Setting resolution to NONE fixes it.

dnsRefreshRate is set to 300s

I'd like to add that there is no too much traffic to these endpoints. They ar

[2020-04-13 23:30] JimmyCYJ commented on #22443
Originally I tried adding a sleep to delay the start of SDS server, during the sleep, Envoy is waiting for SDS push, and no error is seen. This is similar to the issue found in the perf test. But after the sleep, SDS server starts and accepts the SDS request, and the Envoy receives the SDS push after that. I couldn't reproduce it with local SDS integration test and in a real GKE cluster.

[2020-04-13 23:43] howardjohn commented on #13710
@cagataygurturk by my calculation thats about 23 QPS. Seems like there is either slow queries for some reason, thundering herd, or my calculation is not correct. Note that 300s is no longer as relevant, we now respect the TTL returned in the DNS respones, so if its very low it could impcat as well.

Traffic to the endpoints does not matter, envoy resolves async

[2020-04-14 00:21] mike1808 commented on #22443
@JimmyCYJ I'll try to deploy the same pods I have before to see if I can reproduce it.

[2020-04-14 00:25] myidpt opened #22918 "Istiod to issue certificate to a remote cluster"
**Describe the feature request**
Istiod needs to be able to issue certificate to workloads in a remote cluster. This enables using a single istiod for multiple clusters.

**Describe alternatives you've considered**
Deploying istiod in the remote cluster.

**Additional context**

[2020-04-14 01:24] cagataygurturk commented on #13710
@howardjohn we've scanned all the service entries and found out one domain that does not exist anymore. It is used in following TLS origination configuration:

[code]

Some clients try to connect to http://not_existing_domain.com still. And this increases the load on kube-dns.

Two things reduces back the load:

- Switching to resolution: NONE in ServiceEntry
- Deleting the DestinationRule, meanin

[2020-04-14 01:27] howardjohn commented on #13710
Clients connecting to the domain has no impact on envoy. With 0 RPS or 10000000 RPS it still makes the same dns requests - its all done asynchronously not in response to traffic. Any extra DNS requests to this domain from load are coming from the app (in theory at least)

[2020-04-14 01:32] dkalani commented on #18912
@howardjohn should we reopen this ticket?

[2020-04-14 01:34] cagataygurturk commented on #13710
I understand how Envoy works for DNS but I have tried many combinations and as soon as the `DestinationRule` above is there (to enable TLS origination) for a not existing host, DNS requests reach to peak.

Deploying **only** the simple ServiceEntry does not cause any issue under the same request volume from applications:

[code]

I wonder what changes here with the `DestinationRule`.

[2020-04-14 01:40] cagataygurturk commented on #13710
I am gonna investigate a bit more to make sure whether this is reproducible in another application environment @howardjohn, thanks for the explanations.

[2020-04-14 01:53] linsun commented on #22605
@ramaraochavali @sdake If you are using multiple clusters for service failover or cross cluster routing scenarios, you will most likely have the same service in the same namespace in cluster 1 and cluster 2.  That would create the DNS entries and istio can help you with endpoint discoveries by watching kube API servers from remote clusters similarly as what is described in the "shared control plan

[2020-04-14 02:05] feliperfmarques commented on #22899
I got same error.

[2020-04-14 02:07] xiaoyaolaotou commented on #22899
How did you solve？

[2020-04-14 02:08] linsun commented on #22777
Note: that is for sysdig agent config, or are you referring to config in IstioOperator for prometheus @kramvan1 ?

[2020-04-14 02:10] linsun commented on #22918
@myidpt Would need hand holding for sure, can you provide more details in the issue on what is exactly needed?

[2020-04-14 02:10] feliperfmarques commented on #22899
Sorry, I has deleted my previous comment, because I received this error in installation process and I think that is not your case.

[2020-04-14 02:17] hillbun commented on #22418
But I get error:
Error: failed to apply manifests: failed to generate tree from the set overlay, error: bad path=value: components.ingressGateways.k8s.service.externalTrafficPolicy=Local

[2020-04-14 02:35] Leo7654 commented on #17527
On my Mac, echo is working weird.
[code]

[2020-04-14 02:41] irisdingbj commented on #22918
@linsun @myidpt THis is exactly what https://github.com/istio/istio/pull/22384 aimed to do. I am waiting further review now.

[2020-04-14 02:47] linsun commented on #22918
@irisdingbj can you elaborate how #22384 would cover this?  I took a quick look and it is not obvious as #22384 seems to plugin existing cert which we already do share the same root cert for shared control plane multicluster model.

[2020-04-14 02:49] hzxuzhonghu commented on #22870
Thanks for the report, let me try if i can fix

[2020-04-14 02:51] adiprerepa commented on #21884
I wrote some tests in pull request #22920, but It's giving me a lint error for something I have never encountered before. Would someone look at it?

[2020-04-14 02:56] hzxuzhonghu commented on #22918
@myidpt What is the gap now? Can't istio-agent within remote cluster communicate with istiod in the primary cluster?

[2020-04-14 03:18] irisdingbj commented on #22918
with the change in #22384, we will generate root cert and two intermidiate CA cert for use of multi-cluster and VM.:
eg: `istioctl manifest apply --cert-dir=/etc/certs` if `/etc/certs` is empty it will generate root cert and two intermidate CA key and certs and save them under `/etc/certs` .   If `/etc/certs` have related root cert, ca cert and key already, will use it as the same behaviour  descr

[2020-04-14 04:37] myidpt commented on #22918
Any help on the implementation from the community is greatly appreciated. Otherwise it's risky to get this delivered in 1.6.
The implementation needs to touch istiod, enabling it to authenticate the JWTs from external clusters.
Currently the authentication is done by:
https://github.com/istio/istio/blob/1d3b136325a5592511f72a9b041ea396bdbd5180/security/pkg/k8s/tokenreview/k8sauthn.go#L135
The API

[2020-04-14 04:40] myidpt commented on #22918
@irisdingbj It seems your PR is trying to build multi-level PKI - it's another angle to solve the multicluster PKI problem.
This issue is focusing on using a single CA to issue certs for workloads in multiple clusters.

[2020-04-14 05:01] #17165 closed

[2020-04-14 05:01] #17178 closed

[2020-04-14 05:03] #18788 closed

[2020-04-14 05:04] #19112 closed

[2020-04-14 05:10] infa-ddeore commented on #20059
dont close :-)

[2020-04-14 05:14] irisdingbj opened #22925 "Initial workloadEntry support"
https://github.com/istio/istio/pull/22531

[2020-04-14 05:15] #22925 closed

[2020-04-14 05:41] ramaraochavali commented on #22536
OK. Can you try giving this cluster `outbound|81||vpcexxxxxxxxxxxxxxxxxx.us-east-1.vpce.amazonaws.com` in the rate limit filter?

[2020-04-14 05:47] Shikugawa opened #22926 "Envoy filter name inconsistency"
**Describe the feature request**
I think that istio/proxy envoy filter name has inconsistency.
https://github.com/istio/proxy/blob/master/src/envoy/utils/filter_names.cc

**Describe alternatives you've considered**
I prefer to use names easier to understand.

[code]
It seems that it is difficult to migrate seamlessly. So in my design,
1) To accept old/new filter names on control-plane
2) Destroy o

[2020-04-14 06:26] Adharsh-Muraleedharan commented on #22536
We Tried Giving that in the Cluster section of the Filter. Could you please confirm if this is the correct config you need? we are not getting the call forwarded to our ratelimit server yet
[code]

[2020-04-14 06:38] incfly commented on #22082
https://istio.io/docs/tasks/security/authentication/mtls-migration/

provides a tcpdump verification, if you see encryption but not the metrics does not show that, trust tcpdump, and it should be a bug on our telemetry component.

[2020-04-14 06:38] #22082 closed

[2020-04-14 06:39] incfly commented on #22587
@lei-tang would you be able to take a look? I think you recently add some test on this.

[2020-04-14 07:20] DanielQujun opened #22927 "'istioctl pc route' missing route name in prometheus_stats's static route_config"
istio pc route will show an empty NAME with 1 VIRTUALHOST, it might make user confused.
[code]
[x ] User Experience

[2020-04-14 08:05] irizzant commented on #22220
Hi @incfly
as mentioned on the issue opening post, I used BKPR to deploy elasticsearch:
https://github.com/bitnami/kube-prod-runtime

I say this because I see you used a different chart for the test:
https://github.com/GoogleCloudPlatform/click-to-deploy/tree/master/k8s/elasticsearch

Thank you

[2020-04-14 08:09] sisinduku opened #22928 "Istio remote using DNS name"
**Describe the feature request**
In Istio 1.5.1 installation for remote clusters, The installation will create K8s Headless Service and K8s Endpoint whenever we provide `remotePilotAddress` (https://github.com/istio/istio/blob/master/manifests/base/templates/endpoints.yaml#L17) value and the istio pilot `discoveryAddress` will use this Service DNS (https://github.com/istio/istio/blob/master/manife

[2020-04-14 08:21] ramaraochavali commented on #22536
There is no need to add this cluster patch. Please use the cluster in the rate limit filter directly

[2020-04-14 08:33] #17199 closed

[2020-04-14 08:35] ramaraochavali commented on #22605
@sdake Thank you for the details. Will take a look

@linsun The use case I was thinking is cross cluster routing i.e. foo in cluster1 -> bar in cluster 2. So IIUC, you are suggesting that foo,bar both should be in cluster1, cluster2. Is that correct?

[2020-04-14 08:46] harpratap commented on #22901
What does your keycloak service look like?
Btw you are better off posting such questions in https://discuss.istio.io/

[2020-04-14 09:20] elkh510 opened #22929 "stolon not working when istio sidecar injected"
**Bug description**
if istio sidecar injection enabled, unable to connect to stolon:

[code]

**Expected behavior**
normal connecting to stolon
**Steps to reproduce the bug**

1. deploy istio 1.5.1
2. create namespace (exemple - stolon)
3. enable istio-injection (kubectl label namespace stolon istio-injection=enabled)
4. deploy stolon by [helm chart](https://github.com/helm/charts/tree/master/stab

[2020-04-14 10:06] haf commented on #9429
This issue should be reopened with an external ref https://github.com/envoyproxy/envoy/issues/6767

@istio/wg-networking-maintainers

[2020-04-14 10:06] haf commented on #13589
This issue should be reopened with an external ref https://github.com/envoyproxy/envoy/issues/6767

@istio/wg-networking-maintainers

[2020-04-14 10:13] niurm commented on #5056
Could anyone specify how to fix this kind of issue? I get same issue now.

[2020-04-14 10:44] asankov opened #22931 "Docs: Gateway.server.port.name is required, when the docs says otherwise"
**Bug description**
According to https://istio.io/docs/reference/config/networking/gateway/#Port `name` is not required param. However, executing:
[code]
yields the following error:
[code]
looking into the code I found this: https://github.com/istio/istio/blame/master/pkg/config/validation/validation.go#L394

**Expected behavior**
The docs say the field is required

**Steps to reproduce the bug**

[2020-04-14 13:27] chaudyg commented on #22837
Thx @lambdai . Great news. I wanted to test this, but it seems that the cherrypick labels have not been added for 1.4/1.5 . Not sure why the bot did not pickup the comments on the issue to cherrypick

[2020-04-14 13:44] Eneminemoe commented on #22469
@incfly @JimmyCYJ do you know how to config an envoy filter? I'm still clueless. :/

[2020-04-14 13:46] nfickas commented on #21266
@lambdai I just got around to having an administrator do the above iptables-save steps. I am seeing rules in there related to the istio-ingressgateway and other istio services. I am not sure if I am looking for the right things in the iptables dump though. Any suggestions?

[2020-04-14 13:55] howardjohn commented on #22161
@lei-tang @myidpt any info on the future direction of this? What we do here impacts networking/Environments plans

[2020-04-14 14:02] lei-tang commented on #22587
The example CA cert is a self signed cert. Hence the error  “error:num=19:self signed certificate in certificate chain”. This does not impact the end result, i.e, retrieving the certificate chain from the sidecar.

[2020-04-14 14:03] kramvan1 commented on #22777
That is for the SysDig agent configmap.  The Istio Operator (IOP) cannot be used for this in 15  without also overriding the  customers annotations (fixed in 1.6).
 
Mark VanderwielIBM Cloud Platform - IBM Cloud Kubernetes ServiceRochester, MN==================================================================Internet Address: vanderwl@us.ibm.com
 
 
----- Original message -----From: Lin Sun <notifi

[2020-04-14 14:12] linsun commented on #22918
@myidpt thanks, I think I got it at a high level.  Basically the main cluster has access to remote cluster via the secret (e.g. istio-remote-secret-remote0 ).  When istio-agent in remote cluster calls the main cluster to authenticate the JTW token used for CSR, the main cluster's istiod need to use that secret (e.g. istio-remote-secret-remote0) to call the remote cluster's API server to validate i

[2020-04-14 14:26] linsun opened #22934 "Use istiod to manage remote data planes"
**Describe the feature request**
We would like to enhance the shared control plane multicluster model to have istiod only running on main cluster.  The remote cluster should only have Istio configurations and webhook configurations and supply it is credential to main cluster to access remote cluster's kube API server.  The desire for such enhancement was presented to env and networking WG earlier

[2020-04-14 14:27] lei-tang commented on #22161
To verify a certificate signed by k8s CA, a k8s API to obtain the k8s CA certificate is needed. Currently in Istio implementation, the k8s CA certificate is obtained from a well-known path, not  through a k8s API, which may raise a concern of whether this way of retrieving the k8s CA certificate is supported and future proof. Therefore, to address such concerns, for future directions, a k8s API to

[2020-04-14 14:34] esnible commented on #18547
The `-f` support is implemented and will be in 1.6.0-alpha.2.
We have also added `--release <release>` support.

Because 1.6.0.alpha.1 records the deployed state to an in-cluster IstioOperator there is no need for the user to use `--profile`.  That is the only feature missing from this issue, and no longer needed, so I am closing the issue.

[2020-04-14 14:34] #18547 closed

[2020-04-14 14:40] howardjohn commented on #22161
Basically the part I would like to understand is long term, will we need to keep a config map in each namespace populated with info (currently we have the root cert). So if k8s adds such an API and we are responsible for distributing it, sounds like we would have such a config map. If they distribute it through other means (auto mounted in pod, for example), then we do not. That will impact other

[2020-04-14 14:46] ericvn commented on #22903
Pros:
  - Would like to see a tag for those tests that don't alter the control plane (can be run with `--istio.test.kube.deploy=false`). This might help with running tests on immutable infrastructures. So maybe we could publish a set of common tags.

Cons:
  - Removes the running of tests from the makefile which means that one would do a `make shell` and then run the tests there, or run them local

[2020-04-14 14:47] #22870 closed

[2020-04-14 14:50] howardjohn commented on #22903
We can still keep them if we want. This just makes it more flexible for people using `go test` directly. Also you can do `./common/scripts/run.sh go test ./...`. But for the most part I think all unit tests work on pretty much all platforms? Maybe some of rthe envoy ones do not on osx though

[2020-04-14 14:51] howardjohn opened #22935 "meshconfig trailing spaces breaks kubectl edit"
Need to trim trailing spaces

[2020-04-14 14:51] EthanChouTW commented on #22770
+1 met the same issue on external traffic connecting to CloudSQL
[code]

[2020-04-14 15:26] Kyslik commented on #22802
I tried this on the smaller clusters, same issue. Although this time I make requests from our smaller cluster to another cluster we run and I get `upstream connect error or disconnect/reset before headers. reset reason: connection failure` (istio-proxy logs are same as in [OP description](https://github.com/istio/istio/issues/22802#issue-596441648) 503...).

I tried to `curl` from the app's `istio

[2020-04-14 15:27] marshallford commented on #21996
@ostromart Any update on this? It appears the only workaround is extensive overlays.

[2020-04-14 15:30] maxca commented on #22677
how to resolve this problem ?

[2020-04-14 15:43] howardjohn commented on #22904
The gogo library is dead, no commits in half a year. We would probably need a fork to do this

[2020-04-14 15:49] haf commented on #19040
/reopen
lifecycle/needs-escalation

[2020-04-14 15:51] howardjohn commented on #19040
@haf

[2020-04-14 15:52] haf commented on #19040
Yes, but I'm not in control of all manifests (in this case it's prometheus' Helm chart), and I don't want to be. The docs state:

https://istio.io/docs/ops/configuration/traffic-management/protocol-selection/

But this doesn't seem true.

[2020-04-14 15:53] esnible commented on #2119
@jasonwzm Do we expect this in 1.6?  How does it relate to https://github.com/istio/istio/issues/14330 ?

[2020-04-14 15:54] xadhatter commented on #22088
Using `--force` option appears to get pass the error and the source ranges are properly propogated to the service spec.
[code]

... while we wait for `1.5.2`, https://github.com/istio/istio/pull/22691

[2020-04-14 15:56] howardjohn commented on #19040
On latest builds even with the port not named I see jaeger working with http1 or http2. Config:
[code]

[code]

[2020-04-14 15:56] haf commented on #19040
Ref https://github.com/envoyproxy/envoy/issues/3431 https://github.com/envoyproxy/envoy/issues/1502

[2020-04-14 15:57] haf commented on #19040
Yes, I haven't finished migrating from 1.3 to 1.4 yet...

[2020-04-14 15:57] howardjohn commented on #22904
Bumping this to release blocker since it breaks `manifest generate`

[2020-04-14 15:58] uhinze opened #22936 "Namespaced Prometheus components created before namespace"
**Bug description**
When installing Istio with the default profile, the following error is shown 4 times:
[code]

This is likely due to Prometheus components being listed in the `manifest generate` output before the namespace.

**Expected behavior**
Resources are created in correct order.

**Steps to reproduce the bug**
`istioctl manifest generate | kubectl apply -f -`

**Version (include the outp

[2020-04-14 16:00] haf commented on #19040
@howardjohn Thanks for the example, but I'm using jaeger-operator

[2020-04-14 16:01] uhinze commented on #22936
Found another issue that fixes this #18844, but it's again present in 1.5.1

[2020-04-14 16:10] ericvn commented on #22624
I'm going to close this issue for now. I was able to build and push the latest istio master this morning.

Please reopen if you still have issues and/or think we need to attach this problem with a wiki or code update.

Thanks!

[2020-04-14 16:10] #22624 closed

[2020-04-14 16:28] sdake opened #22938 "Integration tests misleadingly use the word galley"
**Bug description**
Some folks look at the code base and think galley is still present in the integration tests. Would be nice to close this out as a low priority issue.

**Expected behavior**
no change in behavior needed.

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

master@ 64f6913a2e040

[2020-04-14 16:29] lambdai commented on #21266
@nfickas That's weird. What I am expecting on iptables-save result is something like this. AFAIK there is nothing about particular service in k8s.
My best guess is your mentioned iptables-save is the one under k8s node network space. What we need is the iptables inside the failing pod's network namespace. That's the idea of why we need `docker ps`(assuming docker the is your CRI) and `nsenter`
[co

[2020-04-14 16:32] kramvan1 commented on #22938
Example: https://github.com/istio/istio/blob/master/tests/integration/pilot/main_test.go#L43

[2020-04-14 16:41] nfickas commented on #21266
Alright, that would make sense. I had the administrator ssh into the node that the failing pod says it is on, in the first step it says find the container id. Am I finding the container id of the istio-validation container?

[2020-04-14 16:51] PeterGrace opened #22939 "Envoy heap grows very large, never decreases, eventually OOMKilled"
In our environment, The envoy istio sidecar continues to grow heap memory over time, using an incredible amount of ram:

[code]

This growth will continue until the container is eventually OOMKilled.

**Expected behavior**
Envoy would release heap memory over time, instead it grows until it can grow no more and is then OOM Killed.

**Steps to reproduce the bug**
Deploy istio in an environment with

[2020-04-14 16:56] #22935 closed

[2020-04-14 17:02] myidpt commented on #22918
@linsun Yes, that's correct.

[2020-04-14 17:19] esnible commented on #22904
I will take this one over; the problem is that it is logging at INFO level w/o a scope.

I will see what I can do to cause the logging to go under a scope that defaults to ERROR level.

[2020-04-14 17:34] lambdai commented on #21266
@nfickas
`docker ps`
container_id is the first column
You may need to find your target istio-validation container using your judgement. Usually the pod name is encoded in the output so it's not hard to locate.

[2020-04-14 18:17] nfickas commented on #21266
@lambdai I think the part that I am not getting is where I am supposed to be doing the docker ps command. I was ssh'd into one of the worker nodes on my cluster and I don't see anything related to istio-validation. I tried exec'ing into the failed pod, but I can't exec into it since it is in a "completed phase". Sorry, that's probably a pretty basic question that I am not getting ahold of here.

[2020-04-14 18:24] napindc commented on #22901
This can be closed, as it was answered here https://stackoverflow.com/questions/61149104/how-do-i-create-a-url-frontend-to-my-keycloak-instance-after-connecting-it-up-to

[2020-04-14 18:43] liminw commented on #22596
I shared a [proposal](https://docs.google.com/document/d/1-612Sgz_skeoX44dw3MU6Z8ONgq1f29wLUI9zggyLec) on VM identity provisioning. The idea is to exchange VM's existing credential for a k8s credential, and k8s RBAC is used to authorize the exchange.

[2020-04-14 18:55] lambdai commented on #21266
I think that is the reason `docker ps` shows nothing about the container of `istio-validation`. IIRC docker ps shows only running container. Once the container is completed, neither `exec` nor `nsenter` works.

By default the istio-validation exit immediately if the validation passes, or it will last 5 minutes if the validation keeps failing. The 5 minutes is the window you can access the worker a

[2020-04-14 18:58] ryedin commented on #12178
I would like to know the answer to the above last question asked by @rsbala ...

how can we get consistent hashing working for pod-to-pod internal requests? It simply does not seem to actually work

[2020-04-14 19:38] nfickas commented on #21266
I double checked the logs of the daemonset and changed the logLevel to debug: here's what I see
[code]

[2020-04-14 19:53] naveensrinivasan opened #22943 "Unable to access the "builds inside containers" google doc"
**Bug description**
I am unable to access the google doc [builds inside containers](https://docs.google.com/document/d/1vBEt4RyHu2Ywqx6CQk8pHm6wrJCIi4UNLw3xrJdHFtA
) mentioned in section https://github.com/istio/istio/wiki/Preparing-for-Development#setting-up-docker. I am getting Access Denied.

I would hope that it should be open to everyone.

**Expected behavior**

**Steps to reproduce the bug**

[2020-04-14 19:57] richardmcsong opened #22944 "Timeout: request did not complete from requested timeout 30s for IngressGateway and AddonComponents"
**Bug description**
Received errors from both `AddonComponents` as well as `IngressGateways`. Both are intermittent. The requests seem to resolve itself quickly after the manifest apply errors out. I noticed other commands had a flag to extend `--timeout`. Can this flag be exposed on `manifest apply` as well?
[code]
**istio-config**
[code]

**Expected behavior**
Installs correctly.

**Steps to rep

[2020-04-14 19:59] richardmcsong commented on #22944
Differs from #22899 because it's just using the `istioctl manifest apply` command.

[2020-04-14 20:05] richardmcsong commented on #22899
@feliperfmarques was your issue related to #22944 ?

[2020-04-14 20:39] derekjanni commented on #22730
I too am facing this same issue as of late. Output from `kubectl get endpoints -n istio-system -o yaml` below

[code]

[2020-04-14 20:46] naveensrinivasan opened #22945 "Incorrect Quotes in the documentation is causing the builds to fail"
**Bug description**
https://github.com/istio/istio/wiki/Preparing-for-Development-Mac#setting-up-environment-variables has reference to `export HUB=“docker.io/${USER}”` which is evaluating to `“docker.io/anagramsylvan”` instead of `docker.io/anagramsylvan`. The `export HUB=“docker.io/${USER}”` has incorrect quotes that are causing issues. It should be `export HUB="docker.io/${USER}"`.

**Expected

[2020-04-14 21:09] naveensrinivasan commented on #22624
@ericvn I am having similar trouble. What do you have in the `~/.docker/plaintext-passwords.json`? I would like to create it manually so that I can continue building?

Thanks

[2020-04-14 21:16] naveensrinivasan commented on #22624
I figured out how to disable `Securely store Docker logins in macOS keychain`  https://github.com/docker/for-mac/issues/3774#issuecomment-612586200

Thanks

[2020-04-14 21:29] jeffgriffith commented on #21172
I ran into this as well. I didn't realize it was operating on kube-system until yesterday Microsoft decided to update AKS. some pods like calico, dns, and tunnelfront could not come back because the API was inaccessible. we have several other pre-installed components from our infrastructure that get affected as well that we'll need to label, but i guess that's the price of having it automatic inje

[2020-04-14 21:30] myidpt commented on #22161
In the long term, we hope K8s CSR API can continuously support signing certs for user workloads. I'm OK with istiod populating the root of trust via configmap, although it's not ideal.

Actually seeing the [goal](https://github.com/kubernetes/enhancements/blob/master/keps/sig-auth/20190607-certificates-api.md#goals) of the certs API proposal, it's covering our use case, but it doesn't resolve our

[2020-04-14 21:57] feliperfmarques commented on #22944
Hello @richardmcsong, I don't know if the same error that I got, but when I run `istioctl manifest apply` (no need Custom ControlPlane overlay file) I experiment this same message error:

[code]

My enviroment is:

**$ kubectl version:**
[code]

**$ istioctl version:**

[code]

Cloud:

`GKE - Private network topology`

I follow debugging this error and discover that seemingly the main problem is i

[2020-04-14 22:00] feliperfmarques commented on #22944
@richardmcsong Could you follow this steps and verify if you experiment same error, please?

[2020-04-14 22:06] pc-rshetty commented on #21952
We can close this issue. We had some  left over ServiceEntries etc for egress rule which we had to put in early days of istio on this 1 cluster.

[2020-04-14 22:06] #21952 closed

[2020-04-14 22:08] feliperfmarques commented on #22899
@richardmcsong I think so. I have comment there https://github.com/istio/istio/issues/22944#issuecomment-613701732

[2020-04-14 22:12] howardjohn commented on #22943
You need to join the google group. See https://istio.io/about/community/join/. You should be autoapproved.

[2020-04-14 22:13] howardjohn commented on #22945
thanks, fixed

[2020-04-14 22:13] #22945 closed

[2020-04-14 22:14] naveensrinivasan commented on #22943
Sounds good. Thanks

[2020-04-14 22:14] #22943 closed

[2020-04-14 22:16] howardjohn commented on #22939
It would be very useful to get a memory profile: https://github.com/istio/istio/wiki/Analyzing-Istio-Performance#memory-profile

Also if possible a graph of the memory usage over time might help

@lambdai assigning to you since you seem to work on these issues most but feel free to unassign if you are overloaded..

[2020-04-14 23:03] qingkunl commented on #1430
UDP +1
For video streaming service

[2020-04-14 23:08] howardjohn opened #22948 "Protobuf issues in operator"
There are a variety of issues associated with protobuf and the operator. This aims to identify current problems, associated issues and work.

The operator has two protos today: the core IOP, and the value_types. These are not ever actually used as real protobufs on the wire; protos serve only to aid in the generation of marshaling code, documentation, and go types. These are golang/protobuf types.

[2020-04-14 23:10] howardjohn commented on #22640
Closing as a duplicat of https://github.com/istio/istio/issues/22347. We are hoping to have a fix for this soon

[2020-04-14 23:15] #22250 closed

[2020-04-14 23:29] nancystchen commented on #18380
Leaving comment since our team also encountered this problem on Istio 1.4.4 with gke 1.15.9. The econnreset error is intermittent and seem to only happen under heavy traffic load _and_ to requests that have long response time/large inbound payload. @dheerajjoshim's recommendation on changing the service entry network protocol to TCP solved our problem.

[2020-04-14 23:33] howardjohn opened #22950 "Cleanup istioctl install docs"
https://istio.io/docs/setup/install/istioctl/ was is currently a big dump of everything you can do with istioctl. This most likely belongs in a reference/operators doc, rather than as part of the core install docs.

I would recommend we simplify this doc a bit. If we need to have extensive docs still, these are broken up into a separate operations doc. This should make the install a bit less intim

[2020-04-14 23:55] howardjohn commented on #22347
https://github.com/istio/istio/pull/22951 should fix this

[2020-04-14 23:56] howardjohn commented on #21579
Can you test this with master? I am pretty sure this is fixed now. See https://github.com/istio/istio/issues/16458. If not please reopen

[2020-04-14 23:56] #21579 closed

[2020-04-14 23:57] gargnupur opened #22952 "Enabling AccessLog Sampling filter results in misconfiguration failures"
**Bug description**
Enabling AccessLog Sampling filter along with other filters results in misconfiguration failures

**Expected behavior**
No error

**Steps to reproduce the bug**
Enable accesslog sampling filter at the time of installation of Istio along with stackdriver and metadata exchange filter.
This results in misconfiguration from envoy-wasm that "stackdriver filter has been configured in

[2020-04-14 23:59] howardjohn commented on #20647
Given we are not planning to backport the changes, and the fixes are in 1.5+ which has been out for a while, I think it makes sense to close this. thanks!

[2020-04-14 23:59] #20647 closed

[2020-04-14 23:59] howardjohn commented on #19660
Fixed by https://github.com/istio/istio/pull/20248

[2020-04-14 23:59] #19660 closed

[2020-04-15 00:03] howardjohn commented on #17850
I have tested this on master. I now see `[2020-04-15T00:02:27.874Z] "- - -" 0 UH "-" "-" 0 0 0 - "-" "-" "-" "-" "-" - - 35.170.216.115:443 10.28.1.90:59692 - -`. See https://github.com/istio/istio/issues/21579 and https://github.com/istio/istio/issues/16458 for more info. Sorry this went unnoticed for so many months...

[2020-04-15 00:03] #17850 closed

[2020-04-15 00:40] smawson commented on #22596
Quick note on that proposal, it solves a slightly different problem, for cases where the VM already has identity. It should not be considered a proposal for solving cases where the VM does not have any identity available to it (as this issue is addressing).

[2020-04-15 00:50] hqms opened #22954 "Cannot authenticate external Postgresql server"
**Bug description**
My app can't connect to external postgresql server, i've tried to disable the sidecar by removing istio-injection-enabled to false, rollout the deployment, the app can connect to the server.

The problem when the sidecar injected is only on authentication.
`psql: error: could not connect to server: FATAL:  password authentication failed for user "xxxxx"`

If I try to reach the

[2020-04-15 01:04] chadlwilson commented on #22874
Hi @howardjohn - am I reading this correctly in concluding that currently there is no migration path for active production workloads (i.e without outage) from a Helm-managed installation to `istioctl` and this ticket is to track work to provide this supported migration path?

Currently we pipeline-automate all of our istio upgrades through multiple environments on different clusters via `helm upgr

[2020-04-15 01:13] howardjohn commented on #22874
There is not yet a migration path for helm to istioctl, but it will certainly exist in 1.6,which is what this issue is tracking. You can go directly from 1.4 - 1.6 if desired once that is in place. Sorry about some of the confusion, as didn't do a great job around this

[2020-04-15 01:22] chadlwilson commented on #22874
@howardjohn No need to apologise - you lot are doing some impressive work in a lot of different areas in parallel. Thanks for the clarification!

If there is no reason to hold off (e.g if the Helm `1.5` charts were in a slightly dodgy state due to their deprecation) I think we will try and get onto `1.5` via Helm for the better support for headless services and general philosophy of "change as lit

[2020-04-15 01:25] howardjohn commented on #22874
The upgrade path isn't too different for 1.4 for 1.5 for what it's worth due to https://preliminary.istio.io/blog/2020/multiple-control-planes/ which is how this will be handled. But always encouraged to update to the latest and greatest

[2020-04-15 01:30] bommavj commented on #20946
failed to determine JWT policy support. Use the --force flag to ignore this: Get http://localhost:8080/api?timeout=32s: dial tcp [::1]:8080: connect: connection refused
- Applying manifest for component Base...
2020-04-15T01:18:06.052645Z	error	installer	error running kubectl: exit status 1
2020-04-15T01:18:06.052927Z	error	installer	error running kubectl: exit status 1
2020-04-15T01:18:06.056420Z

[2020-04-15 01:34] esnible opened #22956 "istioctl manifest subcommands do not use same logging options as rest of istioctl"
istioctl uses the Istio logging options, the same ones you see if you do `istioctl options`: `--log_as_json`, `--log_caller`, `--log_output_level`, `--log_stacktrace_level`, `--log_target=<"stdout"|"stderr"|filename>`

`istioctl manifest` only offers `--logtostderr`, which defaults to false leading to problems with `manifest generate` (see https://github.com/istio/istio/issues/22904 ).  We should

[2020-04-15 02:22] carolynhu commented on #22845
Update:
1. rerun lastest 1.5, similar results as what we published in istio.io for P99:

![istio_1_5_p99](https://user-images.githubusercontent.com/29208297/79291980-e3bfc480-7e84-11ea-8e5b-4c02db37dfc6.png)

2. rerun feb-18 master, the perf number shows regression:
![istio_1_6_p99](https://user-images.githubusercontent.com/29208297/79292039-03ef8380-7e85-11ea-928f-31b7e4a3ec4b.png)

3. Next step:

[2020-04-15 03:01] hzxuzhonghu commented on #22918
Very clear, so it seems a simple fix can achieve that

[2020-04-15 04:20] myidpt commented on #22918
@hzxuzhonghu Hey Zhonghu, are you going to help on this? :)

[2020-04-15 04:31] morvencao commented on #22944
@richardmcsong @feliperfmarques Can you check if `istiod-*` pod is running?

[2020-04-15 04:35] carolynhu opened #22959 "perf dashboard and pipeline optimizations"
This ticket is to track optimizations need to be done in perf dashboard:

- [ ] fix days trace back per user-session and file caching problems

- [x] secure the site, issue created here: https://github.com/istio/istio/issues/22406

- [ ] browser and mobile compatibility (this might be out of scope, I just listed it here in case some day we have time to work on it)

- [ ] monitoring and alerting (h

[2020-04-15 04:37] carolynhu commented on #22959
cc @clarketm

[2020-04-15 04:58] #22954 closed

[2020-04-15 05:01] #13791 closed

[2020-04-15 05:01] morvencao commented on #22936
It is recommended to use `istioctl manifest apply...` if you 're trying to deploy istio, since it will handle all the dependency issues.

`istioctl manifest generate | kubectl apply -f -` will not care about the object order.

[2020-04-15 05:01] #16699 closed

[2020-04-15 05:29] mmlac commented on #22855
I am facing the exact same issue with galley on 1.5.1. Installed on minikube and GKE, same problem. I used the `demo` profile with the following edits:

<details><summary>profile diff</summary>

[code]

</details>

I looked through the generated manifest and there is nothing creating that secret. istiod didn't throw any errors as far as I saw. Both environments have CNI enabled.

[2020-04-15 05:41] rsbala commented on #12178
@ryedin

I got this working. Couple of things to check
1. I remember seeing some issues with old istio version, I am using 1.13 where it works.
2. Consistent hash destination rule has to be applied in the namespace of the pod where the request originates.

[2020-04-15 05:53] mmlac commented on #22855
Solved by enabling citadel as well.  `component.citadel.enabled=true` :sweat_smile:

[2020-04-15 06:40] maxca commented on #22677
i can resolve this problem with solution install helm external-dns
https://github.com/helm/charts/tree/master/stable/external-dns

[2020-04-15 06:47] feliperfmarques commented on #22944
Hello @morvencao,

[code]

[code]

Yeah! `istiod-*` is running, it has this logs:

[code]

**UPDATE:**

I have changed order in istio-ingressgateways manifests generated. I put this YAML definitions `role.rbac.authorization.k8s.io/istio-ingressgateway-sds`, `rolebinding.rbac.authorization.k8s.io/istio-ingressgateway-sds`, `serviceaccount/istio-ingressgateway-service-account` in the beginning of fi

[2020-04-15 07:10] haf commented on #9429
Here's the CVE for this vulnerability https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11767

[2020-04-15 07:22] uhinze commented on #22936
Thanks for the reply @morvencao. Can confirm that `manifest apply` directly will work, will switch to that now.

However, the namespace is still in the `generate`d manifest:
[code]

[2020-04-15 07:32] infa-ddeore commented on #20723
restarting istiod in `1.5.1` doesn't create the cert in re-created namespace

new namespaces also dont have this secret, random old nameapces have it

[code]
secret presents in few namespaces only:

[code]

[2020-04-15 09:52] seflerZ commented on #22896
Galley is now part of istiod, it's not necessary to use MCP any more, I suppose.

[2020-04-15 10:41] johnzheng1975 opened #22961 "[Envoy Filter] how to add http header with source service name, source namespace? [lua]"
**Describe the feature request**
[Envoy Filter] how to add http header with source service name, source namespace?

For each http request, I hope add below in http header
* Source http request's service name
* Source http request's namespace

Thanks a lot.

**Describe alternatives you've considered**

**Additional context**

[2020-04-15 10:46] manuelbuil commented on #22587
ok! thanks Lei-tang

[2020-04-15 10:46] #22587 closed

[2020-04-15 12:02] #22619 closed

[2020-04-15 13:18] howardjohn commented on #10537
There hasn't been any work on this but shouldn't be marked stale

[2020-04-15 13:22] carolynhu commented on #10537
@howardjohn how the istio-policy-bot marks ticket as stale? Many tickets haven't be resolved, but marked as stale, we might need to fix it?

[2020-04-15 13:46] Adharsh-Muraleedharan commented on #22536
@ramaraochavali - Could you please verify the below filter config
[code]

[2020-04-15 13:48] chadlwilson commented on #10537
Yeah, the bot is pretty brutal currently. Marked a few relevant feature requests I was tracking as stale and then closed, like #14039 - despite there being relatively active conversation over time; multiple participants including istio team members. ;-)

[2020-04-15 14:11] ramaraochavali commented on #22536
Can you share your gateway envoy logs?

[2020-04-15 14:30] howardjohn commented on #21567
Golang 1.14 is live!

[2020-04-15 14:30] linsun commented on #22918
@myidpt thank you!  I talked to @GregHanson he is interested in helping out.  @irisdingbj is also interested to help.  I'm going to remove community help needed.   Would appreciate @myidpt and @hzxuzhonghu's help for review.

[2020-04-15 14:31] howardjohn commented on #21183
This can be considered done I think. The main remaining instance is targetted for 1.7

[2020-04-15 14:31] #21183 closed

[2020-04-15 14:31] howardjohn commented on #19942
Fixed

[2020-04-15 14:31] #19942 closed

[2020-04-15 14:32] howardjohn commented on #19843
This will be especially useful to ban imports of mixer before we move/remove it

[2020-04-15 14:35] howardjohn commented on #22830
Should be fixed by #22831

[2020-04-15 14:35] #22830 closed

[2020-04-15 14:38] howardjohn commented on #22767
The IP requested is the IP of the gateway not of the pod. The only info we have when the request gets to the gateway that we can use for tcp routing is the port

[2020-04-15 14:39] howardjohn commented on #22614
Closing as duplicated of https://github.com/istio/istio/issues/17742. Seems like a good addition though

[2020-04-15 14:39] #22614 closed

[2020-04-15 14:41] howardjohn commented on #22541
Closing as this has been addressed by ^. Thanks

[2020-04-15 14:41] #22541 closed

[2020-04-15 14:45] irisdingbj commented on #22918
Thanks! clear to me now.

[2020-04-15 14:49] howardjohn commented on #22031
Thanks for the report @jwapt. Sorry for the confusion here. In 1.6 we have improved this a bit and hopefully the docs are better as well https://preliminary.istio.io/docs/ops/integrations/certmanager/ and https://preliminary.istio.io/docs/tasks/traffic-management/ingress/kubernetes-ingress/. Thanks!

[2020-04-15 14:49] #22031 closed

[2020-04-15 14:51] howardjohn commented on #21240
Fixed by #22395. Thanks!

[2020-04-15 14:51] #21240 closed

[2020-04-15 14:51] howardjohn commented on #21757
Fixed by #22395. Thanks!

[2020-04-15 14:51] #21757 closed

[2020-04-15 14:53] ashishxooa commented on #19164
Having this same issue, used istioctl to install Istio. The same command works fine on of my cluster and it has all the services running and on the other cluster, I have this issue with telemetry.

logs from mixer:

2020-04-15T14:46:35.927422Z	info	mcp	(re)trying to establish new MCP sink stream
2020-04-15T14:46:35.927655Z	info	mcp	New MCP sink stream created
2020-04-15T14:46:35.928687Z	error	mcp

[2020-04-15 14:59] howardjohn commented on #21172
Is there any reason you cannot add istio-injection=disabled to kube-system? While kube-system is generally a special case I am a bit hesitant to make it impossible to inject there, given we already have a mechanism to avoid injection there.

I don't think scope helps here - seems like its about whether the resource is cluster scope or namespace scoped, and we only select pods so it will not change

[2020-04-15 15:00] howardjohn commented on #21096
#22822

[2020-04-15 15:00] #21096 closed

[2020-04-15 15:00] howardjohn commented on #21104
Fixed, see https://github.com/istio/istio/issues/21556. Thanks for the report!

[2020-04-15 15:00] #21104 closed

[2020-04-15 15:01] howardjohn commented on #21076
Ok I think this is fully done and documented now. if there is any followups feel free to open another issue. Thanks for all the feedback

[2020-04-15 15:01] #21076 closed

[2020-04-15 15:10] trevorlinton commented on #13589
A CVE was opened (not by me) surrounding this issue: https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-11767

[2020-04-15 15:11] howardjohn commented on #19968
We have shifted our policy to not create istio configs at install time. See https://github.com/istio/istio/issues/22095. If you want to connect to services over plaintext with strict mTLS you must explicitly declare that, we do not want to manage that for the users. If you don't want to **enforce** mTLS you may prefer auto mtls.

[2020-04-15 15:11] howardjohn commented on #19968
I didn't mean to close

[2020-04-15 15:12] howardjohn commented on #19931
Closing as required info was not provided

[2020-04-15 15:12] #19931 closed

[2020-04-15 15:12] howardjohn commented on #19931
But you probably need a ServiceEntry for myapp.com if you want to access it internally

[2020-04-15 15:30] howardjohn commented on #19885
Dump of info from another discussion:

Tentative plan:

Istio 1.6 generates xDS v2, Envoy in 1.6 accepts xDS v2 and v3
Istio 1.7 generates xDS v3, Envoy in 1.7 accepts xDS v2 and v3
Istio 1.8 generates xDS v3, Envoy in 1.8 only accepts xDS v3

However, this does not support in place upgrades. This is because Envoy is the one that determines the api version to use (eg it requests "V3 clusters"). Th

[2020-04-15 16:05] howardjohn opened #22963 "Major performance regression in latest master build of pilot"
![2020-15-04_09-02-51](https://user-images.githubusercontent.com/623453/79359843-ef000800-7ef7-11ea-8a5f-2c6c8f3e66e2.png)

Updated some instances of pilot to master. The bad ones are on 57f05da9544b3ed56de0ef039d2f39296f38134a, good ones on 6ca06fc7b6858f7454adbc74bd64d67a5e22a12a.

Commits to pilot in this window:
[code]

Strongly suspect #22885

[2020-04-15 16:11] howardjohn commented on #22963
![2020-15-04_09-08-47](https://user-images.githubusercontent.com/623453/79360556-f1af2d00-7ef8-11ea-93b5-ba8b26c4299a.png)

did a bad job cropping this but that is 33% of the CPU, normally its ~0%

[2020-04-15 16:12] howardjohn commented on #22963
Reverting #22885 fixes this

[2020-04-15 16:16] nicktrav commented on #16126
@howardjohn - any chance of getting this into 1.4 too?

[2020-04-15 16:31] #22910 closed

[2020-04-15 16:31] #22956 closed

[2020-04-15 17:28] XanderStrike opened #22966 "validatingwebhookconfiguration does not have correct ownerRef"
**Bug description**

We are intermittently experiencing the issue described in [this comment](https://github.com/istio/istio/issues/19164#issuecomment-562379885) where the validatingwebhookconfiguration isn't cleaned up. We're using Kapp to deploy istio, and since the configuration doesn't have an owner reference it doesn't know to clean this up.

This was fixed and the previous issue was closed,

[2020-04-15 17:42] myidpt commented on #21407
https://istio.io/blog/2020/proxy-cert/

[2020-04-15 17:43] myidpt commented on #21407
We still need to add a task. Lower it to P1 since we have a blog now.

[2020-04-15 17:47] myidpt commented on #19109
I consider this as resolved. @balamuru Feel free to reopen if it's still an issue for most recent 1.4.x release.

[2020-04-15 17:47] #19109 closed

[2020-04-15 17:53] myidpt commented on #20659
I think this can be resolved by the production security WG.
@fpesce

[2020-04-15 18:12] myidpt commented on #19166
Conclusion on WG: Disable by default, and turn it on when we debug.

[2020-04-15 18:15] myidpt commented on #20924
John to check if it's fixed :)

[2020-04-15 18:17] #21626 closed

[2020-04-15 18:18] stevenctl commented on #21875
The above PR should resolve this.

[2020-04-15 18:20] #21684 closed

[2020-04-15 18:21] myidpt commented on #22060
Confirmed from John that there's no issue for multi-control plane.

[2020-04-15 18:31] myidpt commented on #16585
We usually don't make a feature request as a P0. Previsouly this was an experimental feature and we don't expect users to use it in production.

[2020-04-15 18:34] #20308 closed

[2020-04-15 19:00] binhn commented on #5056
Got here too and thanks for the info.
@niurm you probably have multiple containers, so you have to pick one with -c option given by @bobbytables above.

[2020-04-15 19:02] Stono opened #22968 "Tracing regression in 1.5.x - nested traces are intermittently incomplete"
**Bug description**
We are having a problem where traces aren't coming through to Jaeger correctly, where the spans are complaining that the `parentSpanId` is missing.

This is **only** an issue on `1.5.1`, using a `1.4.6` sidecar (with `1.5.1` control plane) this traces are always complete.  Therefore I believe this to be a 1.5 regression.

It'd be great if someone who more deeply understands ist

[2020-04-15 19:03] howardjohn opened #22969 "Operator tests broken"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-117_istio_postsubmit/498

[2020-04-15 19:17] JimmyCYJ commented on #19166
From offline discussion with @douglas-reid one option to turn off the SDS stats is to use
sidecar.istio.io/statsInclusionPrefixes and include all stats we need except stats with suffix "ssl_context_update_by_sds". Put this list into https://github.com/istio/istio/blob/master/tools/packaging/common/envoy_bootstrap_v2.json#L184-L210 and follow this link to test it https://istio.io/docs/ops/configura

[2020-04-15 19:21] richardmcsong commented on #22944
@feliperfmarques i couldn't reproduce the missing service account.
[code]

[2020-04-15 19:26] feliperfmarques commented on #22944
@richardmcsong could you show your `istio-gateway-*` pod? You can this run this command `kubectl get pods -n istio-system`, get your complete pod id and after `kubectl logs istio-gateway-pod-* -n istio-system`?

[2020-04-15 19:31] richardmcsong commented on #22944
[code]

[2020-04-15 19:31] jplevyak commented on #22952
Can you attach the SHA for istio/istio that you are using and the profile ?

[2020-04-15 19:31] douglas-reid commented on #22968
This needs to be fixed for 1.5.x releases as well.

@fpesce is it better to make this a 1.5 milestone or leave it as 1.6 ?

[2020-04-15 19:35] feliperfmarques commented on #22944
Could you show ports open into your ingress-gateway-* pod, please?  You can to do this run this command `kubectl exec -it istio-ingress-pod-* bash -n istio-system`, already inside pod run this command `netstat -nap`?

[2020-04-15 19:36] richardmcsong commented on #22944
[code]

[2020-04-15 19:41] feliperfmarques commented on #22944
It seems to me that we have the same problem. Probably the main cause. Port 80 of the istio / proxyv2 container is not being exposed for some unknown reason. Could you run this command, please?

[code]

[2020-04-15 19:43] richardmcsong commented on #22944
It got the same error. could not complete

[2020-04-15 19:46] richardmcsong commented on #22944
i reapplied it, and it didn't get the error. `gateway.networking.istio.io/ingressgateway unchanged`

[2020-04-15 19:51] richardmcsong commented on #22944
peering into the istiod logs, i suddenly find: `2020-04-15T19:42:12.548525Z     warn    k8s.io/client-go@v0.17.2/tools/cache/reflector.go:105: watch of *v1.ConfigMap ended with: too old resource version: 6712 (8182)`

[2020-04-15 19:53] fpesce commented on #22968
@douglas-reid if this is considered a regression, I think it would be better to fix it in 1.5.x.

[2020-04-15 19:55] howardjohn commented on #22966
When you say "delete it" what are you doing?

[2020-04-15 19:56] fpesce commented on #20659
@myidpt exact, we probably need to setup a similar approach than Envoy's security posture of their extensions. (c.f. https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/threat_model#core-and-extensions )

[2020-04-15 19:56] myidpt commented on #19166
I think we still want to keep the feature since it's still useful, just not enable it by default?

[2020-04-15 20:03] feliperfmarques commented on #22944
Do you got this error:
[code]

[2020-04-15 20:06] feliperfmarques commented on #22944
I can see this same error here.

[2020-04-15 20:07] minhtrietbkit opened #22971 "Service Entry doesn't allow specifying port in endpoint like document mentioned"
**Bug description**
Service Entry endpoints don't allow specifying port with following error:

[code]

**Expected behavior**
Service Entry is created.

**Steps to reproduce the bug**
Apply the exact same configuration in the document [here](https://istio.io/docs/reference/config/networking/service-entry)
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and

[2020-04-15 20:56] Stocco commented on #22802
Try to add the `sni` flag to your destinationrule and see if it works
[code]

[2020-04-15 21:09] #22904 closed

[2020-04-15 21:11] gargnupur commented on #22952
@jplevyak : This is on latest branch of istio/istio(kinda any SHA from last 2 weeks for sure).
I was running using integration test framework but should repro with default profile with following values set:
1) "telemetry.enabled" = "true"
2) "telemetry.v1.enabled" = "false"
3) "telemetry.v2.enabled" = "true"
4) "telemetry.v2.stackdriver.enabled" = "true"
5) "telemetry.v2.stackdriver.logging" = "tr

[2020-04-15 21:19] mbrowne commented on #11659
I am confused about the recommended workaorunds. It seems that checking for liveness by making a request to `http://127.0.0.1:15020/healthz/ready` can only be done from the sidecar. But the examples seem to suggest that you'd be able to put the command that starts your cron job after this in the same block:

[code]

The `< your job >` part needs to be run from the main container, not the istio sid

[2020-04-15 21:24] howardjohn commented on #19458
#22681

[2020-04-15 21:25] howardjohn opened #22973 "Expand operator selector tests to cover gateways"
Build upon https://github.com/istio/istio/issues/19458 which added for Istio. We should check selectors all line up for gateways. We can do this with the default gateway, as well as with a custom gateway which has custom labels applied

[2020-04-15 21:25] howardjohn commented on #21887
https://github.com/istio/istio/issues/22973

[2020-04-15 21:37] esnible commented on #22971
The problem is that the `http: 8080` ports need a left-side that matches `name: http`.  The documentation example names the port `http` but refers to it as `https`.  This validates:

[code]

It also validates if we use `https` instead of `http` throughout.

[2020-04-15 21:47] mandarjog commented on #22968
@bianpengyuan can you investigate ?

[2020-04-15 22:18] douglas-reid commented on #22968
@objectiser if you have any insights here, that'd also be appreciated.

[2020-04-15 23:07] jplevyak commented on #22952
Are you using the demo app?    The applying what configuration?

[2020-04-15 23:23] jplevyak commented on #22952
How do I repro with the integration test framework ?

[2020-04-15 23:29] lambdai commented on #21266
multus as a CNI?
Hmm, I didn't test multus it before. Could it somehow not compatible with the istio?
I see multus reference here: https://istio.io/docs/setup/additional-setup/cni/
@jwendell Could you help @nfickas? Looks like you should have resolve this issue on OpenShift.

[2020-04-16 00:35] feliperfmarques commented on #22944
I think it's the same: https://github.com/istio/istio/issues/22319

[2020-04-16 00:41] feliperfmarques commented on #22944
I can see it in my api-server logs:

[code]

And this in my istiod-* logs:

[code]

Apparently the source of the error is in the webhook validation, I already opened port 443 for the master nodes, but even so it doesn't work.

[2020-04-16 00:42] howardjohn commented on #20924
verified this is fixed

[2020-04-16 00:42] #20924 closed

[2020-04-16 00:58] feliperfmarques commented on #22944
same here: https://github.com/istio/istio/issues/17162

[2020-04-16 01:01] nfickas commented on #21266
So I’m not actually running on OpenShift. I am running on PKS (Pivotal Container Service). Before I upgraded to 1.5.1 I was running the CNI with the settings described in the OpenShift sections for 1.4.3 and that seemed to make it work for that previous version. I had just assumed it would work again for 1.5.1.

[2020-04-16 01:31] niurm commented on #5056
@binhn Thanks for your update. For my case, (on Openshift), confirm logs with "oc logs -f mysql-0 -c mysql |more". The logs shows "[Note] Access denied for user '1000530000'@'localhost' (using password: NO)", It's related to permission. With adding "oc adm policy add-scc-to-user anyuid -z default", the issue was fixed. Thanks.

[2020-04-16 02:21] yuenwah opened #22983 "在启用istio自动注入后无法启动应用 could not start up application after automatic sidecar injection"
如果关闭自动注入应用就可以正常启动，开启了namespace自动注入就会出现以下报错，版本：1.4.7
org.springframework.amqp.AmqpIOException: java.io.IOException
	at org.springframework.amqp.rabbit.support.RabbitExceptionTranslator.convertRabbitAccessException(RabbitExceptionTranslator.java:71)
	at org.springframework.amqp.rabbit.connection.AbstractConnectionFactory.createBareConnection(AbstractConnectionFactory.java:484)
	at org.springframewor

[2020-04-16 02:26] AlexDHoffer commented on #21187
I'm struggling with a similar issue. I want to run 1.5.1 from the Operator, but even with the service monitor resources created by enabling Prometheus Operator, I cannot seem to scrape the data and get it into my own Prometheus Operator. I've followed the suggestions above, tried mounting the istio.default secret to my Prometheus Operator and enforcing https as the scheme, adjusting scrape configs

[2020-04-16 03:07] morvencao commented on #22944
This looks like a validation webhook issue @ayj PTAL

[2020-04-16 03:38] feliperfmarques commented on #22944
Hi @morvencao, I think so too. But, I tried add `--set values.global.configValidation=false`. Strangely doesn't works.

[2020-04-16 03:45] feliperfmarques commented on #22944
@morvencao, @ayj You would have any suggestions for debugging, please. I already have no ideas in my mind.

[2020-04-16 04:08] adiprerepa commented on #22973
I'm going to take a shot at this. @howardjohn What do you mean by selector?

[2020-04-16 04:11] chandra210893 opened #22986 "Istio is giving 503 error with no healthy upstream error message when pods get evicted and comes back up."
**Bug description**
Ideally pods goes down and come up when there are lack of resources on individual nodes to other nodes. During this time when it happens across multiple times and incase if it is taking a while for pod to come up, istio is still giving “no healthy upstream” error on browser when the external url for the pod is hit. Can anyone help me with this. Do I need to add any external fla

[2020-04-16 04:15] adiprerepa commented on #22973
I'm going to take a shot at this.

[2020-04-16 04:22] morvencao commented on #22944
@feliperfmarques `configValidation` is legacy parameter for galley, I don't think it is still used for istiod.

[2020-04-16 04:59] morvencao opened #22987 "failed to scan bundled addon components"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ X ] Installation
[ ] Networking

[2020-04-16 05:01] #15349 closed

[2020-04-16 05:01] bianpengyuan commented on #22968
I was able to reproduce this in my test environment. Looks like the drop is random. I need to dig more.

[2020-04-16 05:02] myidpt commented on #22918
Thank you everyone. Added @GregHanson and @irisdingbj ass assignees now.

[2020-04-16 05:44] jdotjdot commented on #21781
This has been a large problem for us as well

[2020-04-16 05:56] morvencao commented on #22987
This is new feature introduced by https://github.com/istio/istio/pull/22940 to reduce assets.gen.go conflicts.

dev need to run
[code]
to generate compiled-in chart before
[code]

[2020-04-16 05:56] #22987 closed

[2020-04-16 05:59] morvencao commented on #22710
Another workaround is use k8s overlay for specifies resource:

[code]

[code]

[2020-04-16 06:01] Adharsh-Muraleedharan commented on #22536
The ingress gateway logs only show the below and it reaches the backend service :

[2020-04-16T05:58:42.837Z] "GET /api/v2/app-service/health HTTP/1.1" 200 - "-" "-" 10 40 xx 16 "115.112.XX.51,172.16.xxx.71" "curl/7.54.0" "5ff9d011-db2a-497a-xxxx-6f1ddeeabec8" "demo.xxxx.com" "172.16.XX.45:8080" outbound|80|v1|app-service.namespace.svc.cluster.local 172.16.XX.4:44398 172.16.XX.4:80 172.16.XXX.71:4

[2020-04-16 06:02] morvencao commented on #22936
@uhinze Looks like you're on 1.5.x, the namespace will be removed from `istioctl manifest generate` in master branch.

[2020-04-16 06:33] #22936 closed

[2020-04-16 06:47] ebesson commented on #20856
Hi guys,

There's another issue open on Istio documentation: https://github.com/istio/istio.io/issues/7063.

[2020-04-16 06:49] #17278 closed

[2020-04-16 07:12] feliperfmarques commented on #22944
Deploy works this way:

[code]

But I still got webhook validation errors in log.

[2020-04-16 07:26] desek commented on #21172
How about making excluded namespaces configurable? I.e. adding namespaces to the list at;

https://github.com/istio/istio/blob/a671e62bd1ca3e6fd09bd0fbe03545c136b0f3f5/manifests/charts/istio-control/istio-discovery/templates/mutatingwebhook.yaml#L32-L35

[2020-04-16 07:28] objectiser commented on #22968
@douglas-reid Jaeger has various queues in its architecture where spans may be dropped if the component gets flooded by spans being reported - the collector being one of them. However, as @Stono pointed out, this only occurs when using a specific version of the proxy.

The other interesting point is that, rather than one span randomly going missing, which might happen occasionally - in both the ex

[2020-04-16 07:33] Stono commented on #22968
Hi,
Just to clarify a couple of things.  Istio test app 1,2 and 3 are the same code base and we’ve used them to test istio for almost a year.

In terms of load, this is on a testing cluster under no load, to an in memory jaeger collector.  The same behaviour manifests on all other clusters on 1.5.1 which back onto elasticsearch.

In terms of the correlation that it was the second span, that’s just

[2020-04-16 08:31] Lucaarioo commented on #22811
Issue got resolved. The problem was with k8 service.
I am using fabric8 client for creating deployments and services. While creating services, instead of using `http or https or grpc` I generated random value for naming the port.
It started working once I changed it.

Kindly include the pod and service spec requirements in istio docs.

[2020-04-16 08:36] #22811 closed

[2020-04-16 08:44] feliperfmarques commented on #22944
@richardmcsong, @morvencao. Finally I can to solve problem. This problem is explain in details by @ayj in https://github.com/istio/istio/issues/19532.

For webhook works, firewall rule needs setting to port 15017 instead of 9443 on Istio 1.5, as mentioned here https://github.com/istio/istio/issues/19532#issuecomment-595769193

[2020-04-16 08:47] itsLucario opened #22988 "Istio-tracing is giving CrashLoopBackOff"
**Bug description**
I have applied istio manifest using `istioctl manifest apply  --set values.grafana.enabled=true --set values.kiali.enabled=true --set values.prometheus.enabled=true --set values.tracing.enabled=true`

Once the setup completes. When I do kubectl get pods -n istio-system I see istio-tracing pod constantly restarting and I see event ingress-gateway ready status is 0/1.

NAME

[2020-04-16 08:49] feliperfmarques commented on #17162
For webhook works, firewall rule needs setting to port 15017 instead of 9443 on Istio 1.5, as mentioned here #19532 (comment).

[2020-04-16 08:52] feliperfmarques commented on #22899
This issue can also to be a problem of webhook validation. For webhook works, firewall rule needs setting to port 15017 instead of 9443 on Istio 1.5, as mentioned here #19532 (comment). Try add this firewall rule.

[2020-04-16 08:53] feliperfmarques commented on #22319
This issue can also to be a problem of webhook validation. For webhook works, firewall rule needs setting to port 15017 instead of 9443 on Istio 1.5, as mentioned here #19532 (comment). Try add this firewall rule.

[2020-04-16 08:54] Stono commented on #22968
@objectiser @bianpengyuan @douglas-reid i've tried to extract from the logs everything for trace `38e310d5619723f6`, which from the information span `9fa88920d6b8778a` was reporting a parent span of `70818c6c00118cea`, which was missing.

However from the l

[code]

So looking at the logs for `istio-test-app-2`, you can see the request from `istio-test-app-2` -> `istio-test-app-3` on line `178`, a

[2020-04-16 09:04] xiaoyaolaotou commented on #22944
What are the rules of fire prevention training? How to write?

[2020-04-16 09:05] xiaoyaolaotou commented on #22944
@feliperfmarques What are the rules of fire prevention training? How to write?

[2020-04-16 09:43] Stono commented on #22968
So i then followed this through to the jaeger collector and TCP dumped out the incoming requests and was able to see the 400s:

[code]

[2020-04-16 09:57] infa-ddeore opened #22990 "isatioctl doesn't honour helm api option values.kiali.prometheusAddr"
**Bug description**
`kiali.prometheusAddr` from https://istio.io/docs/reference/config/installation-options/ doesn't work with `istioctl`

1.5.1

**Expected behavior**
`values.kiali.prometheusAddr` should be honoured

**Steps to reproduce the bug**
kiali takes `prometheus.istio-system`  instead of `prometheus.default`

[code]

**Version (include the output of `istioctl version --remote` and `kubec

[2020-04-16 10:15] objectiser commented on #22968
I think this is the relevant [issue](https://github.com/envoyproxy/envoy/issues/9341). It relates to a couple of changes made to the zipkin v2 timestamp field, and it refers to a comment about the format: https://github.com/openzipkin/zipkin-go/pull/161#issuecomment-598558072

So potentially need to upgrade to latest envoy commit.

[2020-04-16 10:43] meganwalker-ibm commented on #22874
Hi,

I'm trying to piece some thigns together from this issue and others and trying to make sure we don't end up unsupported. We're in a similar state to Chad above.

Currently we're on a 1.4 helm install.
As I understand it, we can't currently do a `helm upgrade` to 1.5.x as documented in this issue.

We could hold off until 1.6.x is released, at which point you will support users going from 1.4

[2020-04-16 10:51] chadlwilson commented on #22874
My understanding is that
* `helm upgrade` to `1.5.x` is still supported - the charts still exist and are updated (maybe there are some fixes/flexibility in deployment that is not being resolved in those however?)
* `helm install` for new control plane instances is essentially deprecated
* `helm install` + `istioctl upgrade` is currently unsupported/not working (which is what this ticket is about r

[2020-04-16 10:57] meganwalker-ibm commented on #22874
Apologies I think I mis spoke on `helm upgrade` to 1.5
AIUI that isn't supported -  https://github.com/istio/istio.io/pull/6725 removed the documentation for `helm upgrade` in part because https://github.com/istio/istio/issues/21648 showed that `helm upgrade` to 1.5 was broken

[2020-04-16 11:15] linuxbsdfreak commented on #22253
@ostromart . Will this be part of the next release of Istio with some examples?

[2020-04-16 11:24] VinothChinnadurai commented on #22536
@ramaraochavali @rshriram This is our analysis on this issue
1. At first, we checked proxy status
[code]

o/p:
[code]

**You can find RDS is not updated at all for applying the above Envoyfilter & ServiceEntry manifesthttps://github.com/istio/istio/issues/22536#issuecomment-614050491

2. we checked CDS
[code]
o/p:
[code]

3. we checked RDS
[code]

o/p:
[code]
*** Not sure one virtual hosts shows w

[2020-04-16 12:29] guillem-riera commented on #22463
I am facing this issue too in minikube, using Istio and MetalLB.

**Steps that took me to this error**:
- Installed Istio on a fresh cluster with only metalLB
- I created a namespace `prometheus` with the label `istio-injection=false`: ` kubectl label namespace prometheus istio-injection=false`
- I installed the prometheus operator in this namespace (with auto injection on it was not possible to g

[2020-04-16 12:33] tshak opened #22991 "Metadata and other attributes not supported for ingress operator installs"
**Describe the feature request**

Adding labels to a custom ingress in the ingress operator is not possible. This is required for systems like Knative which use label selectors. There is an existing closed issue regarding the custom ingress feature in which the community has proposed several brittle workarounds: https://github.com/istio/istio/issues/19263#issuecomment-607519037.

**Describe altern

[2020-04-16 12:36] thinkin opened #22992 "Why istio can‘t achieve istio-config self-canary"
**Describe the feature request**
for example，there are service A accessing service B， now  i want change B'Loader balancer policy for A, but i want it canary，
first step：Take effect for  A pioneer instance
then：Take effect for all A instance

**Describe alternatives you've considered**

**Additional context**

[2020-04-16 14:04] EItanya opened #22993 "Istio 1.5.1 provided root cert rotation not supported"
---
name: Istio 1.5.1 provided root cert rotation not supported
about: istiod and new sds model does not support root cert rotation, specifically when using a provided root cert and CA
---

**Bug description**

Root cert rotation requires deleting both pilot, and the workloads as of istio > 1.5.0

Istiod (pilot) only picks up a provided Root CA when it is initially started up.
https://github.com/i

[2020-04-16 14:19] howardjohn commented on #22874
Our support policy is sort of irrelevant here, to some extent. We are adding support for multiple independent control planes, so you could move from Istio 1.1 to Istio 1.6 (in theory - don't actually try that though).

The recommended path would be to upgrade to 1.5 first then do the canary deployment to 1.6. However since apparently `helm upgrade` is broken by helms restrictions that may not work

[2020-04-16 14:27] Jul13nT opened #22995 "When CNI is installed, Pods cannot communicate with each other"
**Bug description**

When installing Istio with CNI enabled on GKE, I have the impression that pods cannot communicate with each other. For testing, I'm installing [the following chart](https://github.com/helm/charts/tree/master/stable/mongodb-replicaset) with default values, in the default namespace (which is labelled for Istio injection). All 3 Mongo pods are able to start and seems fine, but in

[2020-04-16 14:31] chadlwilson commented on #22874
It seems you are right on support for `helm upgrade` @meganwalker-ibm ; thanks for the correction.

Frankly I'm a bit shocked by the removal of `helm upgrade` - it seems a bit anti-user; because unless I missed something it doesn't look like the decision was made based on user stats/usage patterns. Using `helm template | kubectl apply` isn't the same thing; when automating you have to construct yo

[2020-04-16 14:43] framled commented on #21187
@AlexDHoffer
I gonna share apart of my prom-operator setup, the key here is you have to tell to prometheus-operator to look at some namespace where you have your the service monitor like `istio-system` or you can set false the serviceMonitorSelectorNilUsesHelmValues.

`prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues=false`

the example:
[code]

[2020-04-16 15:07] erSitzt opened #22997 "Merging of split VirtualServices using the mesh gateway (sidecars)"
Hi,

we deploy lots of different version of the same services and i have to split up the deployments into multiple VirtualServices and DestinationRules using the same host but routing http traffic via the url prefix.

like so:

- svc-a.domain.com/v1.0
- svc-a.domain.com/v1.1
- svc-a.domain.com/v1.2

All services use an istio gateway and the "_mesh_" gateway, because the services are talking to eac

[2020-04-16 15:21] mandarjog commented on #22968
great sleuthing @Stono .
Does this mean *every* request should fail ? With `HTTP_JSON` endpoint,  every timestamp should be scientific notation, or does it change from number to scientific dynamically ?

[2020-04-16 15:24] AlexDHoffer commented on #21187
@framled Thanks for taking the time to post that. But alas, that config doesn't work for me either. I'm using `prometheus.prometheusSpec.serviceMonitorSelectorNilUsesHelmValues=false`with Prometheus Operator at version 8.12.13. I have Prometheus Operator enabled in the Istio Operator config. The status of my targets on Prometheus Operator look like so:

<img width="1312" alt="Screen Shot 2020-04-1

[2020-04-16 15:35] bangau1 commented on #21187
@AlexDHoffer wondering have you tried my comment [here](https://github.com/istio/istio/issues/21187#issuecomment-610744178).

[2020-04-16 15:37] howardjohn commented on #19885
https://github.com/envoyproxy/envoy/issues/10776 might change our approach. Except if that change were to be merged but only landed in 1.15.0 that would mean we couldn't migrate to v3 in 1.7 as planned and would need to delay until 1.8if I am understanding correctly. Since the previous version needs to have the version mixing patch first in order for us to do the upgrade since we upgrade the contr

[2020-04-16 15:46] tillig opened #23000 "istioctl segmentation fault if kubectl context doesn't exist"
**Bug description**

If you provide a context to `istioctl` using the `--context` parameter and the context doesn't exist, you not only get an error message indicating the context doesn't exist, but also a segmentation fault.

[code]

**Expected behavior**

I expect the error message to be there but not the segmentation fault.

**Steps to reproduce the bug**

Run this command:

`istioctl verify-in

[2020-04-16 15:47] howardjohn opened #23001 "File based SDS does not watch files for cert rotation"
Currently in the code we look for existing cert files: https://github.com/istio/istio/blob/502423c80c0a14b65de3172c359246af7c45aee6/security/pkg/nodeagent/cache/secretcache.go#L267

However, if these files change, we won't update. We do check for expiration, but the certs may be changed at any time before expiration, which is not handled. We need to add some sort of file watched here to trigger a

[2020-04-16 15:51] mjhuber commented on #22710
suggested workaround is working. thanks for the help

[2020-04-16 15:55] AlexDHoffer commented on #21187
@bangau1 No luck there either. Still no "istio_requests_total".

[2020-04-16 16:28] ostromart opened #23003 "list items not set correctly when using --set flag"
See https://discuss.istio.io/t/problem-with-custom-gateway-when-install-istio-via-istioctl/6041
[code]
does not produce expected output.

[2020-04-16 17:08] #22931 closed

[2020-04-16 17:17] douglas-reid commented on #22968
Summarizing offline conversations, etc.: In the linked issue, it looks like others were reporting the it _sometimes_ uses scientific notation. A patch was just merged and we need to verify and then cherry-pick to the impacted releases.

[2020-04-16 17:18] JimmyCYJ commented on #18714
This is done in https://github.com/istio/istio/pull/22833 and https://github.com/istio/istio/pull/22671

[2020-04-16 17:18] #18714 closed

[2020-04-16 17:28] howardjohn commented on #22992
Please see https://github.com/istio/istio/issues/7794 for more info. Thanks

[2020-04-16 17:28] #22992 closed

[2020-04-16 17:31] bianpengyuan commented on #22968
1.5 cherry-pick PR: https://github.com/istio/envoy/pull/194

[2020-04-16 17:35] nrjpoddar commented on #22968
@douglas-reid I'm confused as to why this will cause intermittent failures?

[2020-04-16 17:37] mandarjog commented on #22968
@bianpengyuan the cherry-pick is only on master, not 1.5

[2020-04-16 17:40] bianpengyuan commented on #22968
@mandarjog not sure I follow. This needs to be fix on 1.5 right? the linked pr is to cherry-pick fix into istio/envoy release-1.5.

@nrjpoddar It is random behavior from protobuf struct -> json serialization with large integer.

[2020-04-16 17:43] douglas-reid commented on #22968
@nrjpoddar i haven't looked closely at the patch so I don't know the underlying cause, but https://github.com/envoyproxy/envoy/issues/9341#issuecomment-577051483 shows that others have observed intermittent failures.

[2020-04-16 17:56] howardjohn opened #23006 "VM Testing Epic"
This discusses the current state of VM testing and changes we can make to improve our coverage.

Currently our integration tests have 2 modes: Kubernetes, which deploys everything in a k8s cluster. in CI this runs in kind. The vast majority of our tests run exclusively in this mode. Some of this is because it is k8s specific (such as testing `Ingress`, although I suppose that could even work witho

[2020-04-16 17:57] howardjohn commented on #23006
cc @smawson @liminw @irisdingbj just getting this discussion started

[2020-04-16 18:32] adamrbennett commented on #21187
@AlexDHoffer I have also integrated Istio 1.4 and 1.5 with the prometheus operator, and my config is very similar to the one @bangau1 posted.

I'm just using the default istio-system namespace and that's where my `kind: Prometheus` is created too (since I'm using `createPrometheusResource: true` in my Istio values).

I didn't have to use the `serviceMonitorSelectorNilUsesHelmValues` property, nor

[2020-04-16 18:36] AlexDHoffer commented on #21187
@adamrbennett Thanks for the input. We're kind of dragging our feet on spinning up the bundled Prometheus instance but I guess if it makes it easier to conform to mixerless it may be the route we take...

[2020-04-16 18:43] adamrbennett commented on #21187
@AlexDHoffer There seems to be quite a lot of confusion on this issue, and I can't blame anyone -- the information is extremely limited and unclear.

In your Istio values (i.e.: IstioOperator spec):
`prometheus.enabled: true` <- this is the bundled prometheus
`prometheusOperator.createPrometheusResource: true` <- this is NOT the bundled prometheus, it is colloquially known as "bring your own prome

[2020-04-16 18:49] AlexDHoffer commented on #21187
@adamrbennett thanks again for the advice. If trying to integrate with our prior monitoring setup is this difficult, we'll explore federating the instances with the one Istio creates as a member. Until I work that out, I will likely just keep running mixer in the cluster since the version (1.5.1) still supports that.

[2020-04-16 19:36] JimmyCYJ commented on #19166
We can enable it by doing this. https://github.com/istio/istio/wiki/Envoy-native-telemetry#sidecar

[2020-04-16 19:45] howardjohn commented on #19885
Here are the options we discussed:

**1. Hard cut over to v3 in 1.7. To support upgrade without (control plane) downtime, users must use revisions.**

Pros:
* Lowest development cost, both upfront and in maintenance

Cons:
* Users must use revisions - in place upgrade is not supported.

**2. Serve v2 and v3 in Pilot in 1.7. In 1.8 we can drop v2.**

Pros:
* Most compatibility
* Is a gradual approa

[2020-04-16 19:47] howardjohn commented on #19885
My personal preference would be 1 or 3. If we can backport 3 to Istio 1.6 so we aren't delayed that becomes even more compelling.

[2020-04-16 19:48] howardjohn commented on #19885
@costinm @nrjpoddar @htuch let me know if you have any other comments or opinions

[2020-04-16 19:50] howardjohn commented on #22963
Fixed

[2020-04-16 19:50] #22963 closed

[2020-04-16 19:56] danpilch opened #23009 "iptables-restore v1.6.1: iptables-restore: unable to initialize table 'nat'"
**Bug description**

When istio starts it fails with `iptables-restore v1.6.1: iptables-restore: unable to initialize table 'nat'`

`istio-init` startup log:

[code]

**Expected behavior**
istio-init should start properly and setup network.

**Steps to reproduce the bug**
[code]

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)

[2020-04-16 20:58] mandarjog opened #23011 "Retain proxy coredump when container restarts: Use emptyDir volume"
Since Istio 1.4(?) if the proxy coredumps, the container is restarted.
This is an issue because the coredump is destroyed with the container.

 - [ ] Use EmptyDir volume mounted at `/var/lib/istio/cores`
 - [ ] Update config-dump init container to update core pattern = `/var/lib/istio/cores/core.proxy`
 - [ ] For backwards compatibility, maintain a link from `/var/lib/istio/core.proxy ->   /var/li

[2020-04-16 22:11] #22392 closed

[2020-04-16 22:22] nrjpoddar commented on #19885
@howardjohn you covered all the cases well with pros/cons. For me relying on upstream Envoy features has historically been a bottleneck so option 3 can be tricky.

Option 1 or 2 seem to be the realistic choices afaict as we control the timeline.

Looks like if we do option 1 and option 3 happens to land even better for future but if we go with option 2 and option 3 becomes available a lot of work

[2020-04-16 22:26] howardjohn commented on #19885
If we do option 1, we would require option 3 to be backported to get the benefits though, right? I am not sure how feasible that is to backport, or even how likely it is to get implemented. We would need to defer to some Envoy maintainers though.

[2020-04-16 22:50] minhtrietbkit commented on #22971
Thanks, this fixes for me.

[2020-04-16 22:50] #22971 closed

[2020-04-16 22:56] feliperfmarques commented on #22944
Hello @xiaoyaolaotou An automatically created firewall rule does not open port 15017 by default. This is needed by the Pilot discovery validation webhook. So, you should to create a firewall rule for your network, opening port 15017 for Istio 1.5+ or port 9443 for previous versions. Apparently this is just necessary for clusters with private network topology (no public external IPS in nodes). For

[2020-04-16 23:02] lambdai commented on #21266
@nfickas Please create another issue with explicit PKS and upgrade. With the current title people who are familiar with PKSS is less likely to see it.
As in https://istio.io/docs/setup/additional-setup/cni/ , istio-cni is coupled with k8s provider.

Some advices since you are on 1.5 (Sorry I didn't get the version before)
1. set repair.deletePods = false and reinstall istio.
In 1.5 the pod is dele

[2020-04-16 23:04] #21266 closed

[2020-04-16 23:07] lambdai commented on #21266
Close this one to avoid discussion exploded on various installation

[2020-04-16 23:54] howardjohn commented on #22874
Basic test of 1.5 legacy helm -> master is working now.

I tested 1.2 -> master as well. It sort of works, but the problem is the validating webhook. The EnvoyFilters for telemetry v2 are now invalid according to the 1.2 validation logic. To get around this you would need to disable telemetry v2 or disable validation on galley (`--enable-validation=false` and delete the webhook).

[2020-04-17 00:27] carolynhu opened #23017 "istio/tools: integration with Nighthawk leftover"
This ticket is to track the Todo tasks after our integrating with Nighthawk into Istio performance pipeline:

- [ ] Figure out which nighthawk docker image version we should use for gathering consistent test results
- [ ] Fix error handling issue in run_nighthawk()
- [ ] Make traffic sending via grpc success, currently, it is broken, and we got the following error log:

[code]
the above: [full fai

[2020-04-17 00:28] carolynhu commented on #23017
cc @oschaaf  @mandarjog @howardjohn

[2020-04-17 00:35] ccccbjcn opened #23018 "QUIC for Envoy proxy"
**Describe the feature request**
Per envoyproxy/envoy code, I notice it has supported QUIC feature, whether istio/proxy envoy feature aligns with envoyproxy/envoy on QUIC?

**Describe alternatives you've considered**

**Additional context**

[2020-04-17 01:00] hzxuzhonghu opened #23019 "Reduce kube controller's service lock usage"
There are many locks use when we r/w model.Service in kube controller. Mostly to prevent data race, it makes things worse after we support multi-cluster gateway service.
It's time to refactor this part logic, to reduce lock usage as much as possible.

[2020-04-17 01:00] hzxuzhonghu commented on #23019
Any idea is welcome

[2020-04-17 01:23] shosti opened #23020 "Emby: some requests fail with "upstream connect error""
**Bug description**

Since upgrading to istio 1.5.1, some requests to a pod running Emby (with an istio-proxy sidecar) are consistently returning 503 errors with the message "upstream connect error or disconnect/reset before headers. reset reason: connection termination". I've verified that emby is serving the requests correctly. The same pods were working fine with istio 1.4.3.

**Expected behavi

[2020-04-17 01:34] l8huang commented on #22389
Hi @lmarszal, I'm facing same problem, thanks for your fix. Looks like your PR is still blocked by `cla/google — Need a CLA for one or more commit authors`, could you please take a look?

[2020-04-17 01:54] htuch commented on #19885
@howardjohn if you don't need to support both v2 and v3 clients at the same time, then you are much better off only supporting a single version, so from that perspective, your plan seems reasonable. I think the items in option 3 need some work to make happen, but https://github.com/envoyproxy/envoy/issues/10776 shouldn't be too hard.

If you need to support gRPC as well, you need to work within th

[2020-04-17 02:26] thinkin commented on #7794
it's very . it means  every endpoint shoulid has label
for example. in a Service A which access service B, some endpoints have label (tag: test)，but other endpoints don't have label tag；it's very difficult to achieve canary for endpoints which have label tag=test

`apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: B-virual-service
spec:
  hosts:
  - test.service.B
  t

[2020-04-17 03:14] hzxuzhonghu commented on #22463
@guillem-riera  Which version do you test on?

[2020-04-17 04:03] kyessenov opened #23021 "proxy: need coverage build"
We want to understand code coverage of istio extensions using integration tests.
We need to produce a build of envoy instrumented with coverage for istio extensions.
This will help drive investment into specific tests.

/cc @mandarjog @PiotrSikora @jplevyak

[2020-04-17 04:03] kyessenov commented on #23021
I got beaten by `bazel coverage`. If someone can wrangle it, please help.

[2020-04-17 05:12] emedina commented on #22463
I am facing the same issue with `1.5.1` and doing a restart of the `istiod` deployment is a valid workaround in the meantime:

[code]

[2020-04-17 05:56] seflerZ commented on #19885
@howardjohn Thanks for your effort! I'm diving into incremental xDS recently and found migrating to v3 is necessary before that.

- First, I think option 2 is not practical with currently architecture because it involves much work and hard to implement and maintain.
- Second, for option 4, a convention layer is far beyond the context of Istio and it depends on the protocol to support convention. I

[2020-04-17 06:25] hzxuzhonghu commented on #19885
Fair point, currently requires users to upgrade all their proxies is not acceptable for production users. The backward compatibility should be the first priority stuff to take into consideration.
@howardjohn @rshriram we have done much breaking the compatibility work before in order to reduce control plane complexity. But real users are not buying it. They only care why my old workloads do not wor

[2020-04-17 06:31] seflerZ commented on #22983
Did you tried to deploy the Bookinfo example into your environment? Does it work with auto injection?
Did you deploy your RabbitMQ service as an external or internal service in Service Mesh?

[2020-04-17 06:41] cameronbraid commented on #9784
I may have run into this issue in istio 1.5.1

I have two redis deployments in two different namespaces A and B

The sidecar proxy of an app in namespace B, which should be connecting to redis in namespace B is reporting outgoing connections to the redis service in namespace A

extract from logs of app in namespace B

in this case namespace A is external-auth-server
[code]

eas-redis-ha.external-a

[2020-04-17 07:38] hzxuzhonghu commented on #9784
@cameronbraid Could you show our services yaml and what you expect

[2020-04-17 07:58] cameronbraid commented on #9784
The app is running in namespace drivenow-staging-z using the following service to access redis-sentinel

**redis-sentinel.drivenow-staging-z**
[code]

**eas-redis-ha.external-auth-server**
[code]

[2020-04-17 08:09] guillem-riera commented on #22463
@hzxuzhonghu , I am using 1.5.1
[code]

[2020-04-17 08:33] VinothChinnadurai commented on #22536
@ramaraochavali It would be great if you can quickly help on this as it blocked us for further progress

[2020-04-17 09:05] lizan commented on #19885
Yeah that seems a fair point. We would need to upgrade to v4 so in long term 2 with some mixture of 3 makes sense.

At this point I think we would delay the full v3 API upgrade (at least for LDS) to 1.8 anyway, because the virtual listener / hitless filter chain upgrade didn't make it into Envoy 1.14. cc @lambdai

[2020-04-17 09:19] Kyslik commented on #22802
It works 🧐 .

[2020-04-17 09:33] infa-ddeore opened #23024 "CIDR doesnt work in ServiceEntry spec.addresses for HTTP traffic"
**Bug description**
I am trying to make pod-to-pod connection work over mtls (dont ask why :-)) and following mongodb [serviceentry](https://preliminary.istio.io/docs/reference/config/networking/service-entry/) example, when I use single ip in `spec.addresses` then a pod can connect to another pod over its ip but when i use a CIDR as given in mongodb example "- 192.192.192.192/24 # VIPs" the commu

[2020-04-17 10:24] ramaraochavali commented on #21833
Discussed this with @howardjohn offline, adding it here for reference

In addition to destination rules and gateway, file mounted certs can also be specified via `ISTIO_META_***` env vars for both client and server. They get captured in [Metadata](https://github.com/istio/istio/blob/master/pilot/pkg/model/context.go#L389) . Currently the main use case for them is the client certs can be specified

[2020-04-17 10:28] brianroch commented on #21340
Since this issue mentions Keycloak, let me share a workaround I was able to use. Within the Keycloak client that you are using, you can create a custom mapper to get around the nesting of the `roles` info. If configured as follows, the JWT will produce a `roles` claim on the root with the same info as `realm_access.roles`:

![image](https://user-images.githubusercontent.com/45591337/79559890-6a032

[2020-04-17 10:52] olegkovalichin commented on #12567
have ran out into similar issue with more than 6h of data being held

have used manifest-generate command and have manually edited the yaml

to achieve this;

![image](https://user-images.githubusercontent.com/54437963/79561663-9bc9b900-80a1-11ea-81e6-d1ea7181a0eb.png)

have searched the repo and found 4 instances of storage.tsdb.retention
will it be possible to change them to "storage.tsdb.retent

[2020-04-17 11:32] nfickas opened #23025 "Istio CNI on PKS"
**Bug description**
When I was running Istio CNI on v1.4.3, I was able to get it working using the Red Hat OpenShift remote kubernetes settings found here: https://archive.istio.io/v1.4/docs/setup/additional-setup/cni/#hosted-kubernetes-settings. When upgrading to v1.5.1 of Istio, I attempted to install the CNI with the settings described in the updated docs: https://istio.io/docs/setup/additional

[2020-04-17 11:36] nfickas commented on #22595
@lizongshen I was able to get an EnvoyFilter running on 1.4.3. I am having issues when upgrading to 1.5.1.

[2020-04-17 11:36] #22913 closed

[2020-04-17 11:37] nfickas commented on #22913
Closing as dupe issue of #21266

[2020-04-17 11:37] Stono commented on #22968
Sorry to be that naggy person but this is causing us quite a few ops issues.  When do you anticipate being able to cut a 1.5.2 with the fix?

I ask because if it’s far away I’m going to have to look at rolling back everywhere to 1.4.6

Cheers for your help!

[2020-04-17 11:59] lmarszal commented on #22389
@l8huang ostromart implemented it yesterday too (don't know if he got inspired by my draft or not) https://github.com/istio/istio/pull/22981

@ostromart Can we expect backport of this feature to 1.5? It would be super helpful

[2020-04-17 12:13] softcane commented on #13819
This works for me.
`   - applyTo: HTTP_ROUTE
      match:
        context: GATEWAY
        routeConfiguration:
          vhost:
            name: "*:80"
            route:
              name: route-name-configured-in-the-virtualservice
      patch:
        operation: MERGE
        value:
          typed_per_filter_config:
            envoy.ext_authz:
              "@type": type.googleapis.com/envo

[2020-04-17 12:37] htuch commented on #19885
@lizan 1.8 is EOY AFAIU, which seems precariously late; any slippage and you won't be able to consume Envoy cut at EOY 2020.

@hzxuzhonghu @seflerZ I'm not sure if your feedback on backward compatibility is for Istio support or for xDS itself. If it's for xDS, please file an issue at https://github.com/envoyproxy/envoy/issues and we can discuss this further. So far, we have maintained backward com

[2020-04-17 12:38] krancour commented on #8807
/reopen

[2020-04-17 12:51] ramaraochavali commented on #22536
Sorry for the delay.

If you are referring to rate limiting service here, it is called by Envoy directly based on the cluster provided in the filter configuration. So no routes are required.

Does your service run on TLS?

I need to get full envoy debug logs + config_dump +stats to debug further. The filter looks fine to me and the cluster details etc that provided seem right to me.

[2020-04-17 13:02] softcane opened #23027 "alwaysInjectSelector & neverInjectSelector are not indenting correctly in istio-sidecar-injector configmap"
**Bug description**

Version: 1.5.1

alwaysInjectSelector & neverInjectSelector are not indented currently in the istio-sidecar-injector config map. istio-sidecar-injector and istiod related pods are crashing every time when we apply new manifest through istioctl. We have to manually patch the config map every time and rollout the istio-sidecar-injector and istiod deployment

[X ] Installation

**

[2020-04-17 13:22] gmemcc commented on #5679
I tried EnvoyFilter with Istio 1.5：
[code]
generated listener config seemed ok:
[code]
according to [ envoy documentation](https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/original_src_filter#config-listener-filters-original-src) ,  it should work in sidecar deployment after applying following commands:
[code]
but when curl the workload, it gives error  'upstrea

[2020-04-17 14:48] linsun opened #23028 "configure mutating webhooks in remote cluster to use main cluster's sidecar injector"
As part of #22934.   This will likely require changes to configure caBundle properly as currently istiod patches the MutatingWebhookConfiguration object to add caBundle  after it starts.

**Additional context**

[2020-04-17 14:58] esnible commented on #22971
Re-opening to track documentation problem.

[2020-04-17 15:01] howardjohn commented on #19885
Everyone, just a note I added an option 5 to the list above. Credits to @costinm for this idea. Now that I have thought about it more I think this might be the best move, provided it works. Some people on the Envoy slack tried it out in their control planes and it seemed promising though.

---

@htuch

We don't need to support older clients for extended periods of time, but we do need to support u

[2020-04-17 15:02] maks-mikhalov commented on #22463
Could confirm the issue with istio 1.5.0 (AWS EKS 1.14) and 1.5.1 (AWS EKS 1.15). The issue is happening between 10th and 14th day after deploying. Bouncing istiod resolving issue. Last time we had 5 istiod pods, bouncing one of them resolved the issue  and pushed cm into target namespace. Configmap by itself hasn't been changed, so it was the same certificate that other namespaces had.
Also, exis

[2020-04-17 15:09] howardjohn opened #23029 "503s on scaling in master"
I have a job scaling pods up/down. When this happens, we see some 503s: https://snapshot.raintank.io/dashboard/snapshot/75JMKnVNXP4Oez7WKJXLEyhUMnx7nqt1?orgId=2&fullscreen&panelId=2

[2020-04-17 16:25] VinothChinnadurai commented on #22536
Thanks for your response @ramaraochavali

No it is not(Hope you are asking about rate limiter service)

https://gist.github.com/VinothChinnadurai/69c71aea7f1f9078d445e58c66f2aad1

https://gist.github.com/VinothChinnadurai/a260e5f4e648c9ab4b93202558dde023

[code]

[2020-04-17 16:56] nrjpoddar commented on #19885
@howardjohn Option 5 and 2 only differ in implementation but are semantically the same. If we end up using a lot of deprecated (i.e. only v2) and new (i.e. only in v3) fields in any release, we end up at the same state unless as Option 2 I'm missing something.

[2020-04-17 16:59] howardjohn commented on #19885
Option 2 means copying 10k lines of code. Option 5 is just a few lines of code to do `if xdsV2 { response.TypeUrl = v2TypeUrl }` in a few places.

We do not use any deprecated fields except bind_to_port, which is a prerequisite for all of this work anyways. So the only thing we need to do is if we add any v3 only fields, we guard them with a version check - this is something we already need to do

[2020-04-17 17:01] nrjpoddar commented on #19885
Ah I never realized that you literally meant copying, I was always assuming if/else blocks for backwards compatibility.

If we think it's low tech debt for us, let's do this!

[2020-04-17 17:07] jacob-delgado commented on #22457
This issue is now closed. Planning is starting soon for 1.7

[2020-04-17 17:08] turbotankist opened #23031 "istio pilot cpu spikes"
**istio-pilot  cpu usage too high spikes**
[code]

**Expected behavior**
https://archive.istio.io/v1.4/docs/ops/deployment/performance-and-scalability/
expected fewer cpu usage

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**
[code]
**How was Istio installed?**
[code]

**Environment where bug was observed (cloud vendor, OS,

[2020-04-17 17:22] howardjohn commented on #23031
We cannot really help with performance issues without way more info. Size of services/pods/namespace, are you using Sidecar, rate of config change, rate of endpoints change, ... See https://github.com/istio/istio/wiki/Analyzing-Istio-Performance as well. I also recommend using Istio 1.5 which has more performance improvements

[2020-04-17 17:30] howardjohn commented on #23027
This was fixed on master but not 1.5: https://github.com/istio/istio/pull/22738
cherrypick: https://github.com/istio/istio/pull/23033

[2020-04-17 17:43] myidpt opened #23034 "Add negative test for secure naming check"
**Describe the feature request**
Add a negative test for secure naming check.

**Additional context**

[2020-04-17 18:45] silverlyra commented on #22851
We’ll try a pod with a 1.4 proxy. Is there a way I can launch a single 1.5 proxy with telemetry v2 disabled?

I tried the heap profile instructions for Istio < 1.6, but it seems like I have no way to make the `/var/log/envoy` directory:

[code]

[2020-04-17 19:37] lizan commented on #19885
@htuch I meant "v3 only" by full upgrade. v2/v3 are both supported in 1.7 and we drop v2 in 1.8.

[2020-04-17 20:05] howardjohn commented on #23029
The good news is swapping out the images for 1.5 proxy we see the same. So its not a regression in proxy... could be different pilot config though

[2020-04-17 20:40] #22911 closed

[2020-04-17 21:14] oschaaf commented on #23017
Thanks @carolynhu for filing this. I've initiated work on shipping a release based on the latest version of NH. We need a few small tweaks to materialize that, but it is in motion and will be sorted soon.

As for the error handling, I had a question about the current state of master / planned direction, I'll be in touch on Slack about that.

[2020-04-17 21:23] stewartbutler opened #23038 "[1.5] Istio CNI -- missing default prometheus excludeInboundPort on CNI injected proxies"
**Bug description**
In current Istio 1.5 branch (not a release), prometheus scraping fails in CNI injected pods because the default excludeInboundPort configuration does not include port 15090. Non-CNI injected pods have this port added automatically by the injector template; however, that port is not passed in a way the CNI can understand.

Without a fix, this will probably break monitoring in ex

[2020-04-17 21:54] howardjohn commented on #20714
We may be able to do some proto magic as a workaround. See https://github.com/istio/istio/issues/19885. We can just swap out the type URL of v2 to v3 and since its wire compatible it will work for the most part

[2020-04-17 22:31] bianpengyuan commented on #22968
This has been cherry-picked into 1.5 and will be released with 1.5.2. I've verified the fix in my test env. @Stono Please try out `gcr.io/istio-testing/proxyv2:1.5-alpha.287e52ea3c53f7a15853db550edef4dbe243b4ca` in your env when you have a chance, thanks!

[2020-04-17 22:35] bianpengyuan commented on #22968
@fpesce ^^ about 1.5.2 eta.

[2020-04-17 22:52] fpesce commented on #22968
ETA for 1.5.2 is realistically Wednesday, we are fixing https://github.com/istio/istio/issues/23038 right now, I'll probably trigger the build when https://github.com/istio/istio/pull/23037 is tested and merged

[2020-04-17 22:53] howardjohn commented on #19885
Based on https://github.com/istio/istio/pull/23032 working pretty well, I suggest we move forward with this approach.

User impact:
* EnvoyFilters need to updated to use v3 instead of v2

Development impact:
* Minimal. Everything in pilot will be v3. We just need to make sure to version guard any v3 specific features we use.

Plan of action:
Once 1.6 is cut, we make the following changes. Order is

[2020-04-17 22:59] howardjohn opened #23042 "istioctl: golden files need a way to regenerate"
Please make a way to regenerate all of these config_dump test data. Its not fun to go through and manually patch all of them every time Envoy updates..

[2020-04-17 23:00] howardjohn commented on #23042
@esnible

[2020-04-18 00:06] howardjohn commented on #23020
This is an Envoy bug: https://github.com/envoyproxy/envoy/issues/10041. I can confirm this is fixed in 1.6, and sounds like it was working in 1.4 so must have been a regression that slipped in?

[2020-04-18 00:07] howardjohn commented on #23020
And thanks for the thorough report by the way! if you had left out any of the details you had in there I probably wouldn't have figured this out

[2020-04-18 00:07] howardjohn commented on #23018
See also https://github.com/istio/istio/issues/1430

[2020-04-18 01:00] lyambem-sflake commented on #22795
We were able to solve this by setting up separate gateway resourcs one with * and other with SNI + custom cert as suggested by @rshriram

[2020-04-18 01:00] #22795 closed

[2020-04-18 02:22] hzxuzhonghu commented on #19885
@howardjohn I donot agree with this, like in GKE, let's say, we used to deploy a workload with extensions/v1beta1 deployment. However, if users upgrade the k8s version from previous 1.5 to 1.13, you can not require users to stop the workload and recreate a new apps/v1 deployment.

Istio is a control plane, and similar to k8s api. If we require users to restart all their workloads each time they up

[2020-04-18 02:37] howardjohn commented on #19885
@hzxuzhonghu I think it's an interesting topic but this issue is already really complicated. Can we split off this conversation into another issue or proposal? Our current policy is N-1 support for proxy version, so until that changes we should implement the v3 migration with that assumption

[2020-04-18 04:18] seflerZ commented on #19885
My concern is every time we update xDS API the users need to replace their Envoy Sidecards. If the scale is 100~, it might be okay. How about 10k+ Envoy Sidecards? What if those sidecars belong to different Teams? Who is responsible for the direction? It may be a hard work.

Okay, for option 3. If Envoy handles mixed version response well (Such as requesting v2 and response is v3 and functions wel

[2020-04-18 04:20] howardjohn commented on #19885
We have supported N-1 for a long time, nothing is changing with our support policy. And now we can have multiple control planes running at once so you can have old versions running if you need to - I just ran a cluster with Istio 0.2 alongside 1.6 without issues. As mentioned above this has been out support policy for quite a while so if you want to change that you should present a separate propos

[2020-04-18 06:32] wsdlll opened #23045 "The "istio-certs" is still mount when enabled the global sds in ingressgateway"
**Bug description**

First, I make the global.sds.enabled = true.
The istio-certs is still mount in ingressgateway while not in sidecar.
So the ingressgateway restart-epoch when the istio.ingressgateway-service-account refresh every 45 Days.
Is there any reason for this.
Or just because this is missing 【else】.

[In Ingressgateway]
The deployment of ingressgateway is like:
          {{- if $.Values

[2020-04-18 07:43] kharouny commented on #22990
Looks like this was changed to reference the value set under `global.prometheusNamespace`

https://github.com/istio/istio/blob/master/manifests/profiles/default.yaml

Although I did like having the freedom to specify the URL that I want. For example my prometheus service is called prometheus-server.svc not prometheus.svc

[2020-04-18 07:54] morvencao commented on #22991
The yaml is incorrect!

You can add labels for custom gateway after this PR: https://github.com/istio/istio/pull/22981

[code]

Backport to 1.5.x is pending: https://github.com/istio/istio/pull/23026

[2020-04-18 08:06] morvencao commented on #22990
The fix should be available in 1.5.2.

[code]

[2020-04-18 08:14] infa-ddeore commented on #22990
correct, `global.prometheusNamespace` needs service name to be `prometheus`, another big problem is that the bug #20059 (which will be fixed in 1.6) so we need to manually edit generated manifest and remove namespace creation object for prometheus.

[2020-04-18 08:21] sonujose commented on #22463
I faced this issue some 24 days ago and redeployed `istiod` and it worked. Now again am having the same issue in the AKS cluster(v1.15.7).
Noted one more thing that even after redeploying istiod configmap was not creating for the old namespaces which doesn't have it, had to manually copy certificate and create configmap in such cases, otherwise I had to delete namespace and recreate it.
Istio vers

[2020-04-18 08:26] Stono commented on #22968
Thank you for the update both.  I’ll test that image shortly

[2020-04-18 08:53] gorda opened #23047 "Confused about Ingress and Egress"
- [x] Docs

hi

I'm a little confused about the the [Ingress](https://istio.io/docs/tasks/traffic-management/ingress/ingress-control/) and [Egress](https://istio.io/docs/tasks/traffic-management/egress/egress-gateway).

### Ingress

Above is my understanding of Ingress in Istio, I'm not sure if I'm understanding it correctly, please help me confirm it.

### Egress

In the [Use case](https://istio.

[2020-04-18 09:01] morvencao opened #23048 "K8s resource overlays for addon components do not work"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

It should be possible to overlay the generated K8s resources for addon components with user-defined overlays.

[code]
[code]

Should be `9091` for

[2020-04-18 09:01] cameronbraid commented on #13819
Hi, I am trying to use the envoy.ext_authz filter but instead of applying it by default and disabling it for individual routes, is there a way to only add the authz filter based on routes ?

[2020-04-18 09:40] tshak commented on #22991
Awesome! I'll update the other issue with the doc reference.

[2020-04-18 09:40] #22991 closed

[2020-04-18 09:43] tshak commented on #19263
If all you need is a custom label, this is supported without overrides: https://istio.io/docs/reference/config/istio.operator.v1alpha1/#GatewaySpec

I just tested using the operator `1.5.1` with knative and it's working as expected:

[code]

[2020-04-18 10:12] Stono commented on #22968
@fpesce @bianpengyuan I've tested the above image on the deployment setup I used to replicate this issue and can confirm the issue is resolved.

This deployment has constant load at it and is also patch restarted every 5-10 minutes to generate churn so i'll leave it there for a good few days and let you know if I spot anything untoward.

Ta

[2020-04-18 13:02] hillbun commented on #22418
@bianpengyuan

I set  Local as externalTrafficPolicy and NodePort, but only on node that istio-gateway assigned nodeport is exposed, so I need to deploy  istio-gateway as DaemonSet to make all nodes exposed nodeport.

any advice? thanks.

[2020-04-18 14:12] uc-dang-tiki opened #23050 "istio-proxy (envoy) suddenly cannot connect service after a long running time"
**Bug description**
I using istio multi cluster, model shared control plane follow this <https://cloud.google.com/solutions/building-multi-cluster-service-mesh-across-gke-clusters-using-istio-single-control-plane-architecture-single-vpc> . All service is running well, but after 4 days test, services cannot call across cluster.
Example: cartservice.hipster.svc.cluster.local cannot connect productca

[2020-04-18 14:33] uc-dang-tiki commented on #23050
From *cartservice* service cannot call *productcatalogservice:3550*.
I follow the istio debug:
1. istioctl proxy-status cartservice
[code]
2. ./istioctl -c ~/.kube/staging-cicd  pc cluster cartservice-6fb4f9f56f-9h6lq.hipster
[code]
3. /istioctl -c ~/.kube/staging-cicd  pc listeners cartservice-6fb4f9f56f-9h6lq.hipster
[code]
4. /istioctl -c ~/.kube/staging-cicd  pc listeners cartservice-6fb4f9f56

[2020-04-18 15:53] marshallford commented on #19263
@tshak I recommended that solution a while back and @AceHack wasn't able to get it working. Can you expand on what worked for you and what didn't?

[2020-04-18 16:11] AceHack commented on #19263
@tshak, please print out the resulting manifests and you will see many incorrect selectors.

[2020-04-18 16:15] tshak commented on #19263
@AceHack I see what you're saying. I didn't rebuild my cluster so it was a false positive (the old `cluster-local-gateway` yaml was still in place). There is a fix in `master` which will hopefully be back-ported to `1.5` soon: https://github.com/istio/istio/pull/23026. Apologies for the confusion.

[2020-04-18 17:15] SmartassSkeleton opened #23052 "k8singress doesn't recognise named serviceport"
**Bug description**

When deploying Istio with k8singress=true and using a name port for `servicePort` in an Ingress resource I get a 404 when trying to access the app. Changing the `servicePort` to an identical numeric port of the service works well.

**Expected behavior**

Being able to access my app using a name `servicePort`

**Steps to reproduce the bug**

Deployed a service and an ingress:
[

[2020-04-18 23:04] mandarjog commented on #22661
@ostromart is this mostly done now ?

[2020-04-18 23:06] mandarjog commented on #20369
Attribute generation plugin: https://github.com/istio/proxy/pull/2801

[2020-04-19 08:23] stalek71 commented on #18922
You can use arm64 instance on AWS us-east-1 for instance. This way you can pay for consumed resources only(just stop or destroy arm64 instance after a usage).
I need arm64 istio/envoy for kubernetes cluster on AWS because it can offer signifficant cost  reduction on my workloads. So I don't need it just for experimental usage or to play with... 🙂

[2020-04-19 10:15] nemo83 commented on #22545
This seems to be fixed. Is there a way I can point to the new manifests from the `IstioOperator` chart with version 1.5.1?

[2020-04-19 10:15] #22545 closed

[2020-04-19 12:11] cameronbraid opened #23058 "Support configuration of envoy filter based on istio VirtualService"
I wish to use the envoy envoy.ext_authz filter with various unique configurations, each targeting a specific domain name.

My setup is as follows
* single ingress gateway that uses a wildcard cert *.example.com cert
* many istio VirtualService - a.example.com, b.example.com, c.example.com etc, that belong to this gateway

As far as I can tell there is no way limit a envoy filter in the ingress gat

[2020-04-19 14:00] askmeegs commented on #21996
+1, having the same issue on 1.5.1 -- defined an ILB gateway in addition to the default ingress gateway, but the labels and selectors of the ILB gateway are corresponding to the ingressgateway.

operator spec-
[code]

service info -

[code]

[2020-04-19 14:25] danpilch commented on #23009
I was able to overcome the iptables nat issue by enabling CNI with:

[code]

I think the iptables issue could maybe have something to do with my k8s setup/container permissions...  I haven't tested that though.

[2020-04-19 15:00] kish3007 commented on #19454
@zhulinwei care to share your findings on how you resolved this issue?

[2020-04-19 15:08] illidan80 opened #23063 "On kubernets, Ingress behaves differently when deployed via istioctl (1.5.1)"
I have a system which running for about an year, composed of multiple services / virtual services / gateways and ingressgateway components.

Until now I was using a "helm template" deployment method (default profile) - everything was worked as expected.

When released 1.5.1, first I deployed Istio as always using "helm template" method. Everything worked.

Then I noticed a statement that "helm" me

[2020-04-19 16:42] chadlwilson opened #23064 "1.4.7 proxy crashed by 1.5.x config from Pilot during upgrade due to RBAC"
**Bug description**

During an upgrade from Istio `1.4.7` to `1.5.1`, proxies still running `1.4.7` and with `AuthorizationPolicy` applied to them appeared to crash soon after control plane upgrade. The below `AuthorizationPolicy` appears to work fine on `1.4.7` (we have many similar policies running on production workloads).

[code]
Full crashlog on an auto-restarting proxy is [here](https://gist

[2020-04-19 17:00] sdake opened #23065 "license files not copied for common-files"
reproducer:

[code]

`Missing license: ./scripts/istio/common-protos/gogoproto/gogo.proto` is what needs to be fixed.

[2020-04-19 17:00] sdake commented on #23065
Additionally resolving this lint error would be of value: `Missing copyright: ./scripts/istio/common-protos/github.com/envoyproxy/protoc-gen-validate/validate/validate.proto`

[2020-04-19 18:33] tcnghia commented on #6324
The K8s fix seems not yet prioritized (https://github.com/kubernetes/enhancements/issues/753), so I am reopening this bug to see if we can find more workarounds in the short term.

A Job `foo`'s Pods would have labels `job-name: foo`.  They also often have `restartPolicy: Never`.  Can we make the sidecar injection require explicit opt-in for these kinds of Pods?  Then the job doesn't need to expli

[2020-04-19 21:00] sdake commented on #20413
@ericvn - you mentioned the latest status of the build container is A-OK. Are we good to close this plan out?

If so, feel free to do so, or identify what remains.

Cheers
-steve

[2020-04-19 21:33] Lucaarioo commented on #22988
I noticed this is happening specifically when I run k8 with one master and one worker.
When I run it as a single control plane node without worker Istio works fine.

[2020-04-19 22:23] nrjpoddar commented on #22874
Verified the new "canary upgrade" from an Helm 3 installed version of 1.4.6 -> Helm 3 installed version of 1.6.alpha-46477282051c75b9005f64fe89e34d4bb99699ae. These were the issues found:

1. `helm template --namespace istio-system istio-base ./manifests/charts/base/ --set revision=canary` has many resources overlapping w/istio 1.4.6 install. Helm 3 will not install them and give out the following

[2020-04-19 22:34] sdake commented on #20413
@nmittler I am running on Linux. With your suggestion and a small PR incoming, I have functional unit tests...

[code]

[2020-04-19 22:40] sdake commented on #20413
@ericvn removal of https://github.com/istio/istio/pull/20125/files#diff-96d0b051996f0bb52d47eec3edcb27abL415 was correct. There needs to be a corresponding change to counteract that removal however. Thanks for digging us out of this 👍

[2020-04-19 22:47] nrjpoddar commented on #22874
CC @sdake for visibility.

[2020-04-19 22:54] #21770 closed

[2020-04-19 23:48] mhite commented on #22610
I can certain understand its absence, especially if the intent is really a "minimum viable" implementation. I'm viewing this from the lens of using it in a larger OIDC and OAuth framework and it would be great to surface other related headers when a 401 is returned. Right now we'd don't really have any options to bring it into specification to frameworks which utilize JWT.

That would be fantastic

[2020-04-20 00:14] nak3 commented on #22896
Yeah, I was also advised to not enable galley in https://github.com/knative/serving/pull/7414#discussion_r407287914
So if use MCP is broken and not used anymore, the config itself should be removed from code?

[2020-04-20 00:38] sdake commented on #20413
Does `make test` pass? with #23068 :

- [X] Linux + local K8s
- [X] Linux without KUBECONIFG environment see
- [X] Mac with Docker Desktop running K8s
- [X] Mac with Docker Desktop without KUBECONFIG set
- [X] Mac with Docker Desktop with KUBECONFIG to to a K8s instance on IBM Cloud
- [ ] Linux + K8s Instance on GKE
- [ ] Mac + K8s Instance on GKE (@nmittler can you verify these last two?)

[2020-04-20 00:50] nsainaney commented on #15456
I've tried the host header method with istio 1.3.x and 1.4.7. Here's the virtual service:

[code]

and it does not work but the following does:

[code]

I've verified that headers are coming through using (https://hub.docker.com/r/mendhak/http-https-echo)

Even matching `regex: .*`

Matching other headers like `user-agent: regex: Moz*` does work. It seems it's only broken for the host header value

[2020-04-20 01:33] rshriram commented on #23064
@yangminzhu ^^^

[2020-04-20 01:41] rshriram commented on #23058
The problem is not envoy filter in this case. the problem is the way you have your system setup. We generate an Envoy listener per Server in the Gateway object (not per virtualService). So when you have *.example.com, you get one listener doing SNI match on `*.example.com`. This listener will have N virtual hosts (a.example.com, b.example.com, etc.) matching various virtual services. All these vir

[2020-04-20 01:47] rshriram commented on #22997
Hi.. virtual service merging is not implemented for the `mesh` gateways as of now. So, unfortunately to get the behavior you desire, you need to have one large virtual service/destination rule. We can add this to the feature request list and see if we can knock this off in the next release. cc @nrjpoddar to track.

[2020-04-20 02:11] cameronbraid commented on #23058
I dont understand this statement, as per the docs I have to setup my wildcard certificate like this :

`Configuring more than one gateway using the same TLS certificate will cause browsers that leverage HTTP/2 connection reuse (i.e., most browsers) to produce 404 errors when accessing a second host after a connection to another host has already been established`

see https://istio.io/docs/ops/comm

[2020-04-20 02:50] sdake commented on #20413
@ericvn I think your solution to KUBECONFIG not being set is fine. It would be nice to generalize this a bit more so all of the individual targets would run correctly - perhaps by setting it in the `Makefile.core.mk` directly rather than under a specific target.

[2020-04-20 04:16] #23047 closed

[2020-04-20 04:29] seflerZ commented on #19885
John and I talked much. According to this [doc](https://github.com/envoyproxy/envoy/blob/bb7ceff4c3c5bd4555dff28b6e56d27f2f8be0a7/docs/root/configuration/overview/versioning.rst). The v3 objects may be transferred over the v2 transport protocol. So if we set typeURL to v2 to v3 objects, it can function well with Pilot has v3 code base only.

For attributes added in v3, I think there is no need to

[2020-04-20 04:48] An0nymous0 commented on #21158
same question

[2020-04-20 05:01] #17031 closed

[2020-04-20 05:16] hanjunlee commented on #18425
@mgwizdz-jamf Hi. I'm also struggle to apply the per-route config `EnvoyFilter`.  In your case, you should specify the route to merge it like below. Basically, the name of route is "[default](https://archive.istio.io/v1.3/docs/reference/config/networking/v1alpha3/envoy-filter/#EnvoyFilter-RouteConfigurationMatch-RouteMatch)".
[code]
And also you should set `match`, `route` field in your route. I h

[2020-04-20 05:26] thinkin commented on #7794
@howardjohn @costinm

[2020-04-20 05:34] richardwxn commented on #23011
@mandarjog this should work, but trying to understand the rationale, 1. why should we need to do this if we can add preStop lifecycle hook 2. why we need to maintain a link, if we change the injection configmap, then the newly created proxy would have this new pattern

[2020-04-20 06:33] illidan80 commented on #23063
I figured it out.
When ingress deployed via helm, its TLS port is 31390, however when it deployed via istiod its port is 31360...

[2020-04-20 07:10] illidan80 commented on #23063
I think you should update documentation, since it still says that the default is 31390

https://istio.io/docs/reference/config/installation-options/#gateways-options

[2020-04-20 07:22] VinothChinnadurai commented on #22536
@ramaraochavali while you have time. Kindly check this data and share your suggestions

[2020-04-20 07:35] erSitzt commented on #22997
thanks for the info @rshriram this would be great.
Creating one large VirtualService/destinationRule in our deployments is really hard because we are running up to 10 versions of the same service. because we have to support older app version for a long time here.

[2020-04-20 09:46] lambdai commented on #22939
@PeterGrace allocated": "69132952" << "heap_size": "11276386304", so it's not a hard leak.

Since you mentioned GRPC there are 2 KP
1. retry policy: envoy is caching the request even though GRPC is naturally not retriable. If you have a large req, or even worse, grpc streaming request, it's a nightmare if the retry is not disabled.
2. throttling: by default envoy will cache as many as 256 MB per c

[2020-04-20 10:49] wdabrows opened #23072 "Unable to run istio-ingressgateway as nonroot user (1337)"
**Bug description**
The istio-ingressgateway enters CrashLoopBackOff when trying to run it as nonroot user due to file permission issues with /etc/istio/proxy/envoy-rev0.json. The deployment has been patched with:
[code]
I have seen some issues/threads on this that claimed that it can run as user istio-proxy, however it does not seem to work.

[code]
In https://github.com/istio/istio/blob/release-

[2020-04-20 11:23] mmohamed commented on #21094
Hi, I just finish with building Istio on ARM arch (v7/v8) and **it's not possible today**.

I have started by install all requirement for building environment (Golang, java, CMake, GCC, CC...)  and the first problem it to build Bazel from source (I try to use v0.28 with jdk8). Resolved, next problem is to build Istio proxy with Bazel from source, I got a problem with non-supported flag for GCC (ol

[2020-04-20 12:33] craigbox commented on #22874
I can help with the blog post.

[2020-04-20 12:53] mike-treadway commented on #22710
I just upgraded from 1.50 to 1.5.1 and I'm seeing this issue. I don't have any overlays defined in my operator file. I tried setting the externalTrafficPolicy explicitly to "Cluster" and it has the same effect. I can't seem to figure out why the generated output has `ports: null` for the ingress service.

Any idea?

[2020-04-20 12:59] mike-treadway commented on #22710
OK. I got it working by changing this:

[code]

to

[code]

Basically just moved the load balancer IP to an overlay. I'm running IKS v1.15.11 if that helps.

[2020-04-20 12:59] ramaraochavali commented on #22536
@VinothChinnadurai  The debug log just shows some Lua calls.

And in the config_dump, I do not see `envoy.rate_limit` filter and cluster `outbound|81||vpce-xxxxxxxxxxxxxxxxxx.us-east-1.vpce.amazonaw` for your rate limit service.

Did you apply the service entry and envoy filter correctly? Do you see any errors in pilot logs?

[2020-04-20 13:19] FrimIdan commented on #5679
@linsun / @rlenglet  is this issues still opened or there is a clear explanation on how to configure istio to preserve ingress connections source IPs?
We do have a problem to get the source ip in our kafka deployment.

[2020-04-20 13:37] simox-83 opened #23073 "Multiple filter chains with the same matching rules are defined - is a sanity check possible?"
**Describe the feature request**
Hello,
recently I’ve been fighting with the following error:
Internal:Error adding/updating listener(s) 0.0.0.0_443: error adding listener '0.0.0.0:443': multiple filter chains with the same matching rules are defined

After digging into it I realized that a virtualservice was misconfigured - there was actually a conflict, with 2 different virtualservices, referenc

[2020-04-20 13:41] VinothChinnadurai commented on #22536
@ramaraochavali i can find it here: https://gist.github.com/VinothChinnadurai/a260e5f4e648c9ab4b93202558dde023#file-gistfile1-txt-L7871 in the config_dump.

[code]
   We applied it and there was no error thrown while applying it.

[code]
  Even we cannot find anything specific to external DNS(rate limiter) service call here.. do we need to enable or set any here?

[2020-04-20 13:59] BradErz commented on #21682
We are waiting for the same thing as of right now... i wanted to see if i could get telemetry v2 working on 1.5... i was so excited to upgrade and use telemetryv2 and now find out its not even possible :rofl: mixer uses like 60-100 cpu cores at our peak :cry:.

I think its simply better to wait for the migration path from helm to istioctl to work properly...

Also yea... we are gonna be doing the

[2020-04-20 14:01] Stono commented on #21682
Same! glad to know i'm not alone.

Tracing is currently broken in 1.5 too btw, so wait until at least 1.5.2 before you bother with it!

[2020-04-20 14:25] craigbox commented on #13589
/reopen

[2020-04-20 14:26] craigbox commented on #9429
/reopen

[2020-04-20 14:36] kramvan1 opened #23074 "Istioctl warning when mismatch with control plane version"
**Describe the feature request**

When using istioctl against various versions of istio control plane, sometimes incorrect results will be given because of the mismatch.    Would be nice to have an upfront warning message for whenever istioctl detects a mismatch with the control plane version.

**Describe alternatives you've considered**

**Additional context**

[2020-04-20 14:53] laurentiuspurba opened #23075 "Unable to drain k8s node, error due to Pod has more than one PDB, which the eviction subresource does not support"
**Bug description**
I set `replicaCount: 2` and hpaSpec `minReplicas: 2` in IstioControlPlane, and I can see pods are doubled. But when drained the node got the following error message
[code]

**Expected behavior**
After increased the number of replicas to 2, the node draining should be completed without error.
I saw similar issues was reported, and some of the reported successfully by increasing

[2020-04-20 15:01] ramaraochavali commented on #22536
Sorry, I do see the config related to envoy filter and cluster.

Is that the complete log? Is your request successful? It seems it is after Lua filter nothing is executed. Can you please enable debug log of proxy and share it?

[2020-04-20 15:01] laurentiuspurba commented on #23075
IstioControlPlane resource

[code]

Snippet of the HPA (check:  minReplicas: 2)
[code]

[2020-04-20 15:06] rlenglet commented on #5679
@FrimIdan This issue is still opened. @gmemcc's attempt to use `original_src` is a priori going in the right direction.

[2020-04-20 15:09] linsun commented on #23028
Had a discussion on Friday with @costinm @howardjohn -- we agreed that this scenario only makes sense when certProvider is Istiod at the moment as we don't have proper way to get the root cert distributed to remote cluster currently.

Further, the main cluster has remote cluster's *read* access token but not *write* thus It makes sense to have the mesh admin to configure the mutating web hook conf

[2020-04-20 15:23] VinothChinnadurai commented on #22536
Please let me know how to enable debug log of proxy? currently we set only  access log
[code]
while installing Istio

[2020-04-20 15:25] richardmcsong commented on #21961
We've automated our multicluster meshing strategy with istio, and we're looking to include cross cluster mTLS. We would like our shared root CA to be vault, and we would like the certs to be provisioned on runtime via a vault API call.

[2020-04-20 15:34] ajitchahal commented on #23072
Its not just the ingress gateway, but following four deployments have same issue, I need to run them as root or they fail to start:
[code]
Exception in each case:
`Error: container has runAsNonRoot and image will run as root`

We need to run them as non-root if not otherwise specified (for .e.g. in case of istio CNI).

[2020-04-20 15:38] ramaraochavali commented on #22536
For a pod, set annotation: sidecar.istio.io/logLevel: "debug"
For the whole mesh, install with --set values.global.proxy.logLevel=debug

[2020-04-20 15:42] howardjohn commented on #23063
That options list refers to the helm install method, not istioctl

[2020-04-20 15:45] howardjohn commented on #23072
@dgn any more info here? I know you did some work in this area

[2020-04-20 15:47] howardjohn commented on #23045
This version is no longer supported, so we would not patch this. You mentioned its the same in 1.5, but I don't see this. https://github.com/istio/istio/blob/release-1.5/manifests/gateways/istio-ingress/templates/deployment.yaml#L316 shows it is conditionally enabled (off by default)

[2020-04-20 16:07] AlexDHoffer opened #23078 "Unable to install bundled Prometheus with 1.5.1 Operator"
**Bug description**

Attempting install the bundled Prometheus with 1.5.1 Operator fails out with an unusual looking error. The service is created, but the operator logs repeatedly fail to instantiate the Prometheus deployment since it says there is an issue with the config.

Here are the configs used for my profile that generated the issue:

<img width="167" alt="Screen Shot 2020-04-19 at 6 22 06

[2020-04-20 16:20] howardjohn opened #23079 "Multicluster integration tests only records a single cluster's kind logs"
See https://gcsweb.istio.io/gcs/istio-prow/pr-logs/pull/istio_istio/23014/integ-multicluster-k8s-tests_istio/1928/artifacts/kind/ I would expect there to be 3 folders. We are possibly overriding the `trap` call that triggers the cleanup of the clusters?

[2020-04-20 16:22] kyessenov commented on #22926
@Shikugawa the filter names do not have to be used via xDS, so there is no need to keep them readable. The names don't include "envoy" because some could be compiled against nginx at some early point.

[2020-04-20 16:47] howardjohn opened #23080 "Test reporting race condition"
https://storage.googleapis.com/istio-prow/logs/integ-local-tests_istio_postsubmit/647/build-log.txt

[code]

[2020-04-20 16:53] VinothChinnadurai commented on #22536
Thanks for your quick response.. I tried the same  by editing istio-ingress gateway pod and added this annotation 'sidecar.istio.io/logLevel: "debug"'. But still nothing appear specific to ratelimitter call in debug log 'kubectl logs -f istio-ingressgateway-598796f4d9-xm8hn -n istio-system'

[code]

We cant make sure that ratelimitter call is really happening or skipping? i can see envoyfilter in

[2020-04-20 17:05] #19549 closed

[2020-04-20 17:18] carolynhu commented on #22845
Update: after bisect and rerun. I found the latency regression happens from https://github.com/istio/istio/pull/21162

But by checking with @howardjohn and @bianpengyuan , they are not able to pinpoint anywhere that might cause regression from that PR.

Next step: run benchmark against Nighthawk. (fortio might has lots of noises).

[2020-04-20 17:24] yangminzhu commented on #23064
According to this line `[Envoy (Epoch 0)] [2020-04-19 16:18:18.379][14][warning][config] [external/envoy/source/common/protobuf/message_validator_impl.cc:28] Unknown field: type envoy.config.rbac.v2.Permission with unknown field set {10}`, I think it's actually due to a new field ([url_path](https://github.com/envoyproxy/envoy/blob/5b7d3afc7b0f190d39e6a065662e646460183511/api/envoy/config/rbac/v3/

[2020-04-20 17:37] nsainaney opened #23083 "VirtualService HTTPMatchRequest headers StringMatch ignores header 'host'"
**Bug description**
We are trying to route base on host header such that `foo.bar.somethingA.example.com` can be routed to the same service as `foo.bar.somethingB.example.com`. We would like to match on `foo.*.example.com`. `http: match: headers: user-agent: regex: ...` works fine so we know it's not a configuration issue but putting in host or Host for header does not work.

Followed @howardjohn

[2020-04-20 17:39] yangminzhu commented on #23064
This should only happen if you are using `paths` in AuthorizationPolicy. To workaround this, you could temporarily change to use the `request.headers[:path]` and change it back after all your Envoys are updated to 1.5:
[code]

I also noted that your policy has `paths: ["*"]` which is not really enforcing anything, you can just remove this part.

[2020-04-20 17:46] BradErz commented on #21682
thanks for the warning haha i was about to waste my time tomorrow doing exactly that :+1:

[2020-04-20 17:52] ostromart commented on #21225
The original PR is not required since https://github.com/istio/istio/pull/23014 converges the istioctl/controller apply code. Therefore all labels will be applied through the same code path in both cases.

[2020-04-20 17:52] #21225 closed

[2020-04-20 17:54] ostromart commented on #19744
They are in manifests/charts/istio-operator

[2020-04-20 18:10] lambdai commented on #23050
Drive by:
It doesn't make sense `k --kubeconfig ~/.kube/staging-test -n hipster exec cartservice-6fb4f9f56f-9h6lq -c server -- curl -I productcatalogservice:3550` replies `fail to connect`
The tcp connection to curl  `productcatalogservice:3550` and curl `10.144.6.6:3550` should be terminated by the envoy on cartservice-6fb4f9f56f-9h6lq.

1. From your `istioctl pc` the config looks perfect. Howeve

[2020-04-20 18:15] howardjohn commented on #23083
See https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto.html?highlight=header%20match#config-route-v3-headermatcher, I think you need `Host` -> `:authority`

[2020-04-20 19:02] lambdai commented on #19885
@howardjohn LDS v3 still support bind_to_port so it's not a hard blocker.

The legit config space is different, I prefer to leave bind_to_port as a backup path

[2020-04-20 19:05] howardjohn commented on #19885
@lambdai so we could, in theory, migrate to v3 today?

[2020-04-20 19:18] deva26 opened #23085 "Ingress Gateway name forced to be istio-ingressgateway"
**Bug description**
With the recent changes to the istio operator code (addition of checkResourceStatus in reconciler.go), one cannot have their own name for the ingress gateway in the operator CR through the values section. If the gateway name is different, checkResourceStatus function has no clue and waits to look for a deployment of the name istio-ingressgateway (something that won't be their w

[2020-04-20 19:24] deva26 commented on #23085
@howardjohn  - FYA

[2020-04-20 19:45] esnible commented on #20355
The 1.6 work will be introducing the command "istioctl experimental precheck", and moving the current Kubernetes cluster compatibility check out of "istioctl verify install".

The new cluster compatibility features in the proposal will not be imlpemented in 1.6.0.

[2020-04-20 19:52] richardwxn opened #23088 "Improve operator controller logging"
Right now when the controller reconciles, there is a lot of logs generated, but it is bit confusing and not clearly structured, making it hard to debug

[2020-04-20 19:53] bjoernw commented on #21996
Same issue as @askmeegs ☝️ the labels are messed up the istio-ilbgateway is getting ingressgateway labels so the ingressgateway service routes to both its pods and the ilbgateway pods.

[2020-04-20 20:12] askmeegs commented on #21996
@ostromart is it possible to re-open this issue? I don't think it's resolved based on comments above. Thanks!

[2020-04-20 20:14] #22907 closed

[2020-04-20 20:17] douglas-reid commented on #22968
@bianpengyuan and just to be clear, that envoy patch is definitely included in 1.6 moving forward ?

[2020-04-20 20:19] htuch commented on #19885
Uh yeah, we should not have allowed `bind_to_port` to make its way into v3, that is definitely not intended, CC @envoyproxy/api-shepherds

[2020-04-20 20:21] howardjohn commented on #23078
https://github.com/istio/istio/pull/23054 is the fix

[2020-04-20 20:23] AlexDHoffer commented on #23078
@howardjohn thanks, any idea when this would become available to me (e.g. image update)?

[2020-04-20 20:30] howardjohn commented on #23078
If https://github.com/istio/istio/pull/23090 merges, then the next 1.5.x release, otherwise 1.6

[2020-04-20 20:49] howardjohn opened #23091 "rewriteAppProbe sends excessive TCP RESETs instead of reusing connection"
@lambdai or @andraxylia can provide more details here possibly

[2020-04-20 20:53] bianpengyuan commented on #22968
@douglas-reid with https://github.com/istio/envoy/pull/196 it should be.

[2020-04-20 20:55] jaygorrell commented on #22874
Reading through this, it sounds like 1.4 -> 1.5 using `helm template` (not `helm upgrade`) should work, and then 1.5 -> 1.6 as a migration to `istioctl` would be next. However, I tried that first step today and had all kinds of connectivity issues (and of course no `istiod`).

I can wait on the blog post but wanted to call this out as something that should be made _very_ clear for users when it's

[2020-04-20 20:58] nrjpoddar commented on #22874
@jaygorrell Helm support was dropped in 1.5 if you want to use the new charts (install/kubernetes/operator which gives you istiod). However, Helm works in 1.5 with the old chart (install/kubernetes/helm/) which doesn't give you istiod but the old microservices control plane. There are other subtle differences between the old and new charts so based on your use case one or the other might be better

[2020-04-20 21:01] jaygorrell commented on #22874
Thanks @nrjpoddar, I missed the new location for those. The old charts (install/kubernetes/helm) gave me a broken cluster, though -- sidecars stopped receiving config from pilot it seemed, and the ingress-gateway deployment failed to come up. I didn't spend much more time debugging before rolling back to 1.4 though.

But you'd say those really should work? I've been upgrading since 1.1 and this wa

[2020-04-20 21:41] yangminzhu commented on #23064
I sent out a PR to only use the `url_path` field in Envoy versions >= 1.5, it should be in 1.6 but it probably not worth another 1.5.2 just for this issue, please let me know if you have other thoughts, thanks.

[2020-04-20 21:46] andrewjjenkins opened #23092 "Allow mTLS ECC Certificate Authority and Certs"
**Describe the feature request**
Allow the user to configure an Elliptic Curve Cryptography (ECC) certificate authority cert and key for mesh mutual TLS certificates (commonly named `cacerts`, example: https://istio.io/docs/tasks/security/plugin-ca-cert/).

When the user has configured an ECC CA for mTLS, also issue ECC certs and keys for mTLS (instead of default RSA).

**Describe alternatives you

[2020-04-20 21:56] andrewjjenkins commented on #23092
In the multicluster case, it should be possible to have clusters using ECC and clusters using RSA interoperate:

Root CA (either RSA or ECC)
- Intermediate CA for cluster A (ECC, signed by Root CA using Root CA's signature algorithm)
  - Pod A-1 has ECC mTLS cert with SPIFFE SVID `spiffe://cluster-a/ns/default/sa/a'
- Intermediate CA for cluster B (RSA, signed by Root CA using Root CA's signature

[2020-04-20 22:00] nrjpoddar commented on #23092
@costinm @howardjohn if we get this implemented in 1.6 and is turned off by default, is that acceptable?

I think this should be safe to back port in 1.5 too (again default off), thoughts?

[2020-04-20 22:07] nrjpoddar commented on #23092
cc @liminw @myidpt

[2020-04-20 22:18] JimmyCYJ commented on #22993
Thanks @EItanya, this is a feature gap. Some design work is required. @myidpt

[2020-04-20 22:24] myidpt commented on #23092
I'm OK with doing it as an option.
Not sure that we can make it into 1.6 in time. @andrewjjenkins are you available to implement this before the code cut?

[2020-04-20 22:26] nsainaney commented on #23083
I don't think I'd have found that without your help. Thank you!

Not sure how to update the istio docs but I'll go ahead and close this issue.

[2020-04-20 22:26] #23083 closed

[2020-04-20 22:26] howardjohn commented on #19885
Another concern is that we need to be able to support EnvoyFilters acting on v2 config

[2020-04-20 22:26] nrjpoddar commented on #23092
@myidpt we will get someone from Aspen Mesh to get this in if we can. @andrewjjenkins or @jacob-delgado will be doing the implementation. Is it ok to back port as an option to 1.5?

[2020-04-20 22:27] howardjohn commented on #23083
You can submit a PR or issue to istio/istio.io repo. Thanks!

Actually if its part of
https://istio.io/docs/reference/config/networking/virtual-service/ it would
be the istio/api repo though since those are generated from the API directly

On Mon, Apr 20, 2020 at 3:26 PM Narayan Sainaney <notifications@github.com>
wrote:

[2020-04-20 22:33] myidpt commented on #22993
Today the root cert rotation propagation will need to take up to the 1/2 - 1 TTL of the workload certs. I think this should be fine. We could improve it but it's not a high-priority task as I understand.

[2020-04-20 22:51] stewartbutler commented on #23038
Also linked: https://github.com/istio/cni/pull/299 and https://github.com/istio/cni/pull/300

[2020-04-20 23:08] mandarjog commented on #20369
Automatic doc generation: https://github.com/istio/proxy/pull/2803

[2020-04-20 23:13] #23091 closed

[2020-04-20 23:14] medhedho opened #23096 "Ingress gateway routing"
I have a cluster on AKS. I want to access my discovery server via the Ingress gateway.
Here are my discovery server's deployment and service manifests :

apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.16.0 (0c01309)
  creationTimestamp: null
  labels:
    io.kompose.service: discovery-server
  name: discovery-server

[2020-04-20 23:45] #14563 closed

[2020-04-21 00:54] howardjohn commented on #22874
Regarding @nrjpoddar's comments:

It seems there are two usages for revisions:
1. Deploying two revisions of the same version.
2. Using a revision to upgrade between versions.

I expect that how we configure our install will be different based on which of those we plan for. (2) is likely much more common, so we should optimize for this case.

The base chart was meant as a way to separate cluster r

[2020-04-21 01:08] jaygorrell commented on #21701
Why was this closed? I'm getting it on 1.5.1 from 1.4.3.

[2020-04-21 01:44] nrjpoddar commented on #22874
Agree about ensuring we make use case 2 work as it's the most asked feature. Making 1 work with requiring some more options/commands from users is not bad IMO.

Architecturally we shouldn't separate use case 1 & 2 as that indicates we haven't designed it well. Here are some fundamental ideas that should apply here:

* If two revisions should have separate ownership for resources let's ensure we ha

[2020-04-21 01:47] uc-dang-tiki commented on #23050
1. In above comment, It matched
[code]
NAME                                                     CDS        LDS        EDS        RDS        PILOT                            VERSION
adservice-5956bc94c7-jjpm6.hipster                       SYNCED     SYNCED     SYNCED     SYNCED     istio-pilot-59f75df5f5-67k9r     1.4.6
adservice-5956bc94c7-zqbv7.hipster                       SYNCED     SYNCED

[2020-04-21 01:50] uc-dang-tiki commented on #23050
envoy try to connect ServiceIP of **productcatalogservice** on local cluster. Remember that cart and productcatalog located at two different cluster. Why it cannot match and translate productcatalogservice to endpoint ?

[2020-04-21 02:06] npuichigo commented on #1415
any update?

[2020-04-21 02:12] chadlwilson commented on #23064
@yangminzhu

Thanks that explains it.

Ahh, that's a great improvement. The inclusion of the query fragment was a cause of much confusion (and potentially security problems if doing suffix matching or `/root/*/leaf` matching on the path) so this is a good step.

The 1.5 sidecars did appear to start, however I have not done any active testing to make sure they are all working correctly; traffic get

[2020-04-21 02:22] nnk-khang-nguyen opened #23100 "Egress gateway doesn't work"
We have deployed istio version 1.5 with helm on Google Kubernetes Engine, follow the instructions here https://istio.io/docs/setup/install/helm/ and deploy demo profile to get egress gateway. But it does not work as documentation.

After deployment I have followed the instructions here:
https://istio.io/docs/tasks/traffic-management/egress/egress-control/. I have taken step:
**Controlled access to

[2020-04-21 02:27] jaygorrell opened #23101 "Upgrade to 1.5.1 using `helm template` causes sidecar errors for new pods"
**Bug description**
My existing pods are fine, but after upgrading to 1.5.1 using `helm template` and the existing microservice deployment, I end up with a problem of new pods not becoming healthy:
[code]
Which results in 503s on the istio-proxy health checks.

My values.yaml:
[code]
I also tried `global.mtls.auto: false` just to mimic 1.4.x but had the same result.

**Expected behavior**
Helm `te

[2020-04-21 02:47] yangminzhu commented on #23064
Yes, it works for both wildcard matches and exact values, but please note that `request.headers[:path]` uses the raw path in Envoy that doesn't strip the query string. So please remember to change back to use the normal `paths` field once your Envoy sidecar is updated to 1.5, sorry for the inconvenience.

I confirmed with @fpesce that we will have a 1.5.2 but unfortunately it is a bit too late to

[2020-04-21 03:21] jaygorrell commented on #23101
For what it's worth, I just re-applied my `1.4.3` manifest with the same config and the failing pods instantly came up.

[2020-04-21 04:02] howardjohn commented on #23101
Interesting. Sounds like one of our responses is nil or something? Can you reproduce on a fresh install or just upgrade?

[2020-04-21 05:01] #17377 closed

[2020-04-21 05:01] #17382 closed

[2020-04-21 05:05] #19944 closed

[2020-04-21 05:05] #19946 closed

[2020-04-21 05:53] illidan80 commented on #23063
@howardjohn

According to [documentation](https://istio.io/docs/setup/install/istioctl/):

Therefore, it was logical to assume (at least for me), that the default values are the same as well.

Where I can find documentation about options / default values for istioctl-based deployment?

[2020-04-21 06:12] wsdlll commented on #23045
Oh, thanks, it is conditionally enabled in 1.5.

If i enable the ".Values.global.mountMtlsCerts" for the in-cluster mTLS communications.
The ingressgateway will restart-epoch when the istio.ingressgateway-service-account refresh?

[2020-04-21 06:55] mikedanese commented on #22161
Sorry for radio silence. This issue remains on top of my stack as we plan the GA.

Yep, I absolutely agree with this take and empathize with your situation right now.

This unfortunately lands in the territory of the undefined right now. Essentially, we are working towards breaking specific usages out of legacy-unknown. Assuming these are KRM APIs and extensions, I believe this use case is covered

[2020-04-21 06:58] deva26 commented on #23085
Looking further into the checkResourceStatus function, we see the line `err := cs.List(context.TODO(), podList, client.InNamespace(iop.Namespace))` . If there are non istio pods in the namespace and having problems and not part of iop ownership, this loop would block till it timesout. We also hit this problem in our environment.

[2020-04-21 06:59] mikedanese commented on #22161
We want to break up `legacy-unknown` into a set of core signers that solve the use cases we intend to support.

Yes this is correct. Multiple CAs can back the API. The API is intended to be partitioned using distinct signers:

https://github.com/kubernetes/kubernetes/blob/f9532e46632f487363d8e1b499f92c854b905189/pkg/apis/certificates/types.go#L45-L49

e.g. one signer for kubelets, another for Isti

[2020-04-21 07:04] rainmetersjtu commented on #4693
+1 any new info

[2020-04-21 08:35] FrimIdan opened #23108 "mTLS connection from cluster to VM expansion is failing"
**Bug description**
I've tested VM multi network mesh expansion with mTLS connection from the GKE to the VM (EC2) - the connection failed due to:

From the client (sleep-pod) logs:
`TLS error: 268435581:SSL routines:OPENSSL_internal:CERTIFICATE_VERIFY_FAILED`
From the server (VM) logs:
`TLS error: 268436504:SSL routines:OPENSSL_internal:TLSV1_ALERT_UNKNOWN_CA`

I've followed https://istio.io/docs/

[2020-04-21 08:37] FrimIdan commented on #23108
@irisdingbj following our discussion

[2020-04-21 08:44] BradErz commented on #21228
We have the same problem @Stono, we are looking into deploying https://github.com/weaveworks/flagger so that we can do automated gradual rollouts of the new version starting with like 1,5,10% of traffic etc to warm up the code path before giving all the traffic.

(We haven't deployed it to prod yet but we are evaluating it)

[2020-04-21 09:03] ramaraochavali commented on #22536
Can you please share entire log if possible?

[2020-04-21 09:21] spoilerdo commented on #18815
I get the same error

[2020-04-21 09:23] tanjunchen commented on #21885
/assign

[2020-04-21 09:44] ajitchahal commented on #22768
Additionally: If the profile file is not provided explicitly isstioctl is not able to find profile in path:

[code]
The profile actually exists in following path of a unzipped istio release:
[code]

[2020-04-21 09:53] Adharsh-Muraleedharan commented on #22536
@ramaraochavali - hope you are asking for the ingress-gateway logs?

We are only seeing the entries for the lua filter that we applied at the Gateway and the log of the request reaching the backend service like what vinoth had showed above.

The only different log we see is this " gRPC config stream closed: 13,"
would like to know what this is ?

The entire logs you can find it here :
https://gist

[2020-04-21 10:07] ramaraochavali commented on #22536
This is not a problem.  This happens when pilot disconnects proxies (which periodically happens) to rebalance the load.

I can not see any debug logs from Ingress gateway Envoy.  We should see lot more logs with debug.

[2020-04-21 10:34] Adharsh-Muraleedharan commented on #22536
@ramaraochavali - In the pod config for instio-ingressgateway we can see the option like "sidecar.istio.io/logLevel: debug" being set.

we are printing out the logs using "kubectl logs -f  instio-ingressgateway-xxxxxxx -n istio-system"
Is this how you expect us to fetch the logs ? or should we add something else

The entire pod configuration is given below :
[code]

[2020-04-21 11:23] ramaraochavali commented on #22536
I have n't looked at in detail so not sure why it is not working - may be you can get to ingress pod and run this https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--logging in the envoy container.

[2020-04-21 11:30] johnzheng1975 opened #23111 "envoyfilter created in one namespace will impact other namespace"
**Bug description**
envoyfilter created in one namespace will impact other namespace

1 Created envoyfilter in vr namespace
[code]

2  The header will be added for ALL pods All namespace.
[code]

3  If I created another specific envoyfilter in ll namespace
[code]

4 The test result is still not changed. It is as same as test result in step 2.

istio version： 1.3/ 1.4

[2020-04-21 11:53] VinothChinnadurai commented on #22536
@ramaraochavali
curl -X POST http://localhost:15000/logging
[code]

Shall we pass the 'level=debug' as query param?

[2020-04-21 11:59] shakti-das opened #23112 "Allow istiod's sidecar-injector listener to be configured with custom certificates"
**Describe the feature request**
Istiod's sidecar-injector 443 listener doesn't support custom certificate configuration.

**Describe alternatives you've considered**
We (Salesforce) has it's own PKI infrastructure that handles cert expiration and rotation. There is no provision in istiod to provide those certificates to the injector webhook.

**Additional context**

[2020-04-21 12:00] shakti-das commented on #23112
@ramaraochavali Issue for configuring certs for sidecar-injector. I am working on the PR for the same.

[2020-04-21 12:01] gmemcc commented on #21812
I figureed it out,  the reason why istio-proxy can not connect to pilot is because of wrong iptable rules generated.

in kubernetes 1.13 feature gate RunAsGroup is off by default,  so those rules prevent packets go out:
[code]
solutions:
1. add flag `--feature-gates=RunAsGroup=true` to apiserver
2. or,  modify configmap `istio-sidecar-injector`, change `istio-iptables -u` to `0` for TPROXY mode

s

[2020-04-21 12:05] Morriz opened #23113 "Helm operator install fails"
**Bug description**
The following instruction from the docs fails:
[code]
so tried making it into a local path:
[code]
I looked, and the install folder is missing the kubernetes folder.

**Expected behavior**

Command to work

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version` and `helm version` if you used Helm)**

kubectl:

Client V

[2020-04-21 12:10] Morriz commented on #23113
It's probably a docs only issue and helm operator install is discontinued? Then please update docs to show that?

[2020-04-21 12:15] livelyRyan opened #23114 "Followed the document to deploy multi-cluster mode, but got unexpected results"
I tryed to setup a multi-cluster istio service mesh across multiple clusters with a shared control plane.Clusters are on different networks and I created the Gateway resource according to the official document（[official document address](https://istio.io/docs/setup/install/multicluster/shared/)）.

The installation according to the document went smoothly and pods started normally. I started to depl

[2020-04-21 12:18] shakti-das opened #23115 "Allow configuring external SDS server with Istiod"
**Describe the feature request**
Istiod certificate configuration flow currently works with Istiod as CA or Kubernetes as CA or plugged-in CA. If we enhance the functionality to allow configuration with any SDS server then the SDS server can be implemented, owned and managed by a separate team and the SDS service address can be passed as a configuration parameter.

**Describe alternatives you've c

[2020-04-21 12:19] littleroad commented on #23009
Did you add any parameters when using kubeadm init? I  fresh install a new 1.18 kubernetes by kubeadm, and followed your steps to reproduce, but did not encounter any problems.

[2020-04-21 12:19] shakti-das commented on #23115
@ramaraochavali Configuration support for custom SDS.

[2020-04-21 12:23] Morriz commented on #23113
Nope. Even in the 1.5.1 release the chart is missing. The `install/kubernetes` folder exists but no `operator` in there ;|

[2020-04-21 12:24] VinothChinnadurai commented on #22536
@ramaraochavali  set the query param as 'level=debug' and the output is here.
Please find it here.. we are hitting abcdefghi.xxx.com
https://gist.github.com/VinothChinnadurai/6fbacfe39c88bf3ce4de454c6f706c57

[2020-04-21 12:27] Morriz commented on #23113
Nevermin, I cloned the repo instead of downloading the release. Closing this

[2020-04-21 12:27] #23113 closed

[2020-04-21 12:59] ramaraochavali commented on #22536
Can you tell me the request path you are trying to hit so that I can search in the logs?

[2020-04-21 13:02] VinothChinnadurai commented on #22536
curl -X GET http://microservices.test.internal/api/v2/activities --header "host:abcdefghi.xxxx.com"

[2020-04-21 13:23] jaygorrell commented on #23101
So far I've only tried on upgrade but it sounds like others have installed 1.6 with no problems... I'd be surprised if _none_ of them were helm template but I could be wrong. It's also worth noting this happened in 2 of 2 clusters I tried it on... both have been around since about 1.2.

If this is upgrades only, it's sorta' related to that cleanup topic from the other day: https://github.com/istio

[2020-04-21 13:23] zhulinwei commented on #19454
I can't do nothing but restart istio.

[2020-04-21 13:53] ramaraochavali commented on #22536
hmm..at high level look, it seems it is directly trying to hit your service and calls is failing with TLS error. Will have to look take a look again. Will let you know

[2020-04-21 13:54] danpilch commented on #23009
@littleroad  No I used a pretty basic kubeadm init. I think the issue lies with centos 8 and selinux. I will perform a test without CNI enabled and check

[2020-04-21 14:04] VinothChinnadurai commented on #22536
Sure @ramaraochavali . Thanks for all the followup responses.

[2020-04-21 14:18] crhuber opened #23118 "Discovery Process reporting Pod Not Found - causing endpoints to be out of date"
**Bug description**
Occasionally during a large deployment Istio Pilot will start reporting the following message hundreds of times until restarted.

This causes all the endpoints on some sidecars to be out of date and client sidecars start sending traffic to the wrong endpoint IP addresses. The only way to resolve is to restart the Pilots and then the error message goes away and discovery happens

[2020-04-21 14:25] esnible commented on #20945
@ostromart Can you retarget this for 1.6 or 1.7 or backlog?

Related: https://github.com/istio/istio/issues/22740

[2020-04-21 14:32] uc-dang-tiki commented on #23050
This envoy in cartservice pod seem broken, it cannot resolve any domain. I enable debug log in envoy admin, and grep authority from log, but I only see authority: 127.0.0.1:15000, even I execute curl cartservice:7070, or google.com ...

[2020-04-21 14:46] bison commented on #14801
Is this still needed? It doesn't look like there's a way to override the monitoring port since the legacy Helm charts were removed. You would have to really go out of your way to not use port 15014 at this point.

[2020-04-21 14:56] crhuber commented on #20676
[code]

[2020-04-21 15:01] kish3007 commented on #19454
i see, @zhulinwei so you restarted all the components in istio and the affected pods with their sidecar prxies too? Did u run into the overflow issue again after restart?

[2020-04-21 15:12] esnible commented on #14801
If no one objects I will close this.

[2020-04-21 15:18] ramaraochavali commented on #22536
I do not see the following rate limit descriptors applied to the route - that is why Envoy is not calling the rate limit service. Can you please check that part of the Envoy and ensure that they are added?

[code]

[2020-04-21 15:25] VinothChinnadurai commented on #22536
Sorry @ramaraochavali . Where can we check this route? is it in envoy config dump?

[2020-04-21 15:49] howardjohn commented on #23063
Thats true, that page caused a lot of confusion. In 1.6 we are planning to remove it to help make things a bit simpler. The istioctl docs are at https://istio.io/docs/reference/config/istio.operator.v1alpha1/#IstioOperatorSpec. We are working a bit to make the format of this a bit easier to consume as well (it is auto generated)

[2020-04-21 16:07] BradErz commented on #21228
Ah ok yes i misunderstood sorry.

[2020-04-21 16:09] aattuluri commented on #14801
We have switched to the default port and everything works are expected. If there is no longer a way to override this port then it makes sense to close this.

[2020-04-21 16:31] Adharsh-Muraleedharan commented on #22536
@ramaraochavali - we changed the filter config

 routeConfiguration:
        portNumber: 80
        vhost:
          name: "*:80"

 and applied but the config dump still shows the old config. we suspect that the istio pilot is not pushing the changes.

**1. what is the command to manually sync the changes?
2. Anyway we would like to know the route config with virtual host as "*:80" is proper ?**

[2020-04-21 16:37] howardjohn commented on #22443
Can detect with `count(envoy_cluster_client_ssl_socket_factory_ssl_context_update_by_sds{cluster_name!="xds-grpc"} == 0) by (pod)`

[2020-04-21 16:49] mandarjog commented on #4693
I am adding to as an intern project for Summer 2020.

[2020-04-21 16:54] AlexDHoffer opened #23123 "Allow bundled Prometheus to mount volumes or otherwise populate Prometheus rules"
**Describe the feature request**

In line with the best practices described [here](https://istio.io/docs/ops/best-practices/observability/), for at least 1.5.x you should be invoking the bundled Prometheus and federating it for production-grade observability.

Problem is, the recording rules outlined on that page cannot be configured via the Operator. You have to add them ad-hoc to the Prometheus

[2020-04-21 16:57] ashishksingh commented on #22162
Testing this today.

[2020-04-21 16:59] smawson commented on #23006
I wonder if we can get some of the VM tests working using kubernetes? We couldn't test some of the authentication flow but we could at least test the workloadentry part I think. Basically we have pods that don't have labels and are not part of services, then we register their endpoints as WorkloadEntry with appropriate labels to get them selected into a service entry.

Another option would be to u

[2020-04-21 17:09] howardjohn commented on #23006
That is a good idea, I think its pretty likely we can do VMs as pods. Especially with some of the options in Kubernetes like not mounting service account token, etc so that we aren't "cheating".

[2020-04-21 17:13] howardjohn commented on #23118
when it logs `pods "abc-5674bc9fb7-mxpzt" not found` is it correct that the pod does not exist? Or is it trying to query a pod that does not exist?
Seems related to https://github.com/istio/istio/issues/20676 maybe but that is fixed in 1.4.7

[2020-04-21 17:13] howardjohn commented on #23045
Yes, only if that is enabled. This is meant only for if you want to use mounted certs. I recommend not enabling this if you use SDS (which is the default)

[2020-04-21 17:13] howardjohn commented on #23063
Thats true, that page caused a lot of confusion. In 1.6 we are planning to remove it to help make things a bit simpler. The istioctl docs are at https://istio.io/docs/reference/config/istio.operator.v1alpha1/#IstioOperatorSpec. We are working a bit to make the format of this a bit easier to consume as well (it is auto generated)

[2020-04-21 17:15] #19166 closed

[2020-04-21 17:15] howardjohn opened #23124 "Developers checking in assets.gen"
Examples:
* https://github.com/istio/istio/pull/23104
* https://github.com/istio/istio/pull/23097

We need ways to prevent developers from checking these in - ideally by avoiding it completely, or at least failing tests if they do.

There was a check to ensure it doesn't change but it seems like it was reverted

[2020-04-21 17:24] howardjohn opened #23125 "Trim Envoy log file prefix"
https://github.com/envoyproxy/envoy/pull/10693 improved the logging format. Once we pull that change in we should update the log format

[2020-04-21 18:02] incfly commented on #23006
please consider testing the env/setup discrepancies as a requirement.

Not sure if we still ask customer to modify /etc/hosts for DNS, and pod file system is not modifiable. how do you install deb package?

[2020-04-21 18:09] howardjohn commented on #23006
Why not? We already have a docker image that builds `FROM ubunutu` and installs the deb package. Then we can run that in the pod

[2020-04-21 18:29] incfly commented on #23006
Putting into Docker image sounds like a good idea. In fact, couldn't we
even make the whole VM pre-setup thing as part of Docker build? /etc/host
editing, key/cert copying, etc.

On Tue, Apr 21, 2020 at 11:09 AM John Howard <notifications@github.com>
wrote:

[2020-04-21 18:29] jasonwzm commented on #22602
Related https://github.com/istio/istio/issues/19355

[2020-04-21 18:31] howardjohn commented on #23006
Yep, thats exactly what we are doing to day: https://github.com/istio/istio/blob/2f448c3784d6c23e75a5d5f15826138e29653d03/pkg/test/echo/docker/Dockerfile.app_sidecar#L24. The problem with this approach currently is we don't have any tests connecting that docker image to a k8s cluster - we just have that docker image to a "native" pilot. It also probably doesn't follow the same practices as we are

[2020-04-21 18:38] #22926 closed

[2020-04-21 18:47] howardjohn commented on #23118
This logs when:

* An endpoint is changed
* The IP in that endpoint does not have an associated pod in pilot's internal cache
* We directly query k8s for the pod, and it does not exist

So seems like two possibilities:
1. Your kubernetes cluster somehow has stale endpoints, so the pod is removed but the ip address is still referenced in the Endpoint
2. Pilot is somehow reading stale endpoints, but

[2020-04-21 18:53] howardjohn commented on #23118
What is "wrong" in this case? I would guess that these endpoints without pods are just excluded from the list of endpoints

[2020-04-21 19:11] crhuber commented on #23118
For example: when I look on our istio-gateways and run
`istioctl proxy-config endpoints servicename` I see some of the ip addresses it lists out are incorrect / out of date. So when traffic comes into the gateway it returns a 5xx since it cannot reach that up. However, we have multiple gateways and only some of them had wrong endpoints while others were correct.

[2020-04-21 19:19] #22909 closed

[2020-04-21 20:04] jaygorrell commented on #23101
Thanks to @howardjohn, we did a little debugging today and found the problem. Here is my understanding but he can add more technical detail if needed.

At some point in the past, istio-pilot had an environment variable `PILOT_DISABLE_XDS_MARSHALING_TO_ANY` set to `true`. That environment variable is no longer included as part of istio-pilot deployments and things default to a `false` behavior.

Th

[2020-04-21 20:10] howardjohn commented on #22874
@linsun also brought up another use case where they want just case+mutation webhook since they will have the Istiod in another cluster

[2020-04-21 20:10] linsun commented on #22874
subscribe - interested in this because I'm working on https://github.com/istio/istio/issues/23028 where i want to expose caBundle as a config option for remote cluster where istiod isn't enabled but i want my mutating webhook configuration to be there.

[2020-04-21 20:10] howardjohn commented on #22874
Also Helm3 has first class support for `crds` folder which may help some of the resource conflict errors (it will fail if the crd is in template/ but not crd/)

[2020-04-21 20:28] linsun commented on #22874
Another resource I need on remote cluster is istio-ca-root-cert configmap, which is currently configured in istio-discovery.

[2020-04-21 20:29] howardjohn commented on #22874
istio-ca-root-cert  is created at runtime so it is a bit orthogonal to the
install structure I think

On Tue, Apr 21, 2020 at 1:28 PM Lin Sun <notifications@github.com> wrote:

[2020-04-21 20:31] nrjpoddar commented on #22874
how do I mark this as a blocker for 1.6?

[2020-04-21 20:32] howardjohn commented on #22874
its already marked as a blocker through zenhub.

[2020-04-21 20:54] #22406 closed

[2020-04-21 20:54] linsun commented on #23028
@costinm @howardjohn I ran into ingress gw won't start on remote cluster without istiod in remote cluster due to the following cm not existed in the istio-system namespace:

[code]

@howardjohn kindly pointed me some code in pilot to help populate the istio-ca-root-cert cm in each namespaces.  Does this mean we will still have to run a mini-istiod in the remote cluster?  Thoughts?

[2020-04-21 20:55] myidpt commented on #22918
Hey @irisdingbj we need to add this approach to the multi-cluster setup UG. Can you send me your Email address so that I can add you as an editor to a doc we are working on?

[2020-04-21 20:57] howardjohn commented on #23028
You need something to create that configmap in every namespace of the remote cluster. Whether that is the local cluster istiod, remote cluster istiod, or something else is an open question

[2020-04-21 21:05] anushreeringne commented on #10659
@howardjohn @hzxuzhonghu and other contributors,
This seems to be a common area of difficult that people face in Istio --- deploying and configuring with StatefulSets.

Is there any active development happening to make this easier?
We really need to make some improvements in this space.

[2020-04-21 22:38] padzikm opened #23133 "Multiple egress gateways"
Hi, is it possible to create multiple egress gateways? My goal is to have strict control over which pods have access to which external services. As far as I understand external hosts are all specified in one gateway resource, so when any pod have access to egress gateway it has access to all external services, for which that egress gateway has defined access. As a result I want to create one egres

[2020-04-21 22:42] howardjohn commented on #22161
Thanks @mikedanese

Will Kubernetes itself provide a signer that will sign Istio mTLS (as we are doing today with legacy-unknown)? Otherwise, as far as I understand it, there isn't much value for us to use the API, at least as the primary mechanism, as we would just sign our own certs as we do today. I believe (and I may be wrong here) is our requirement is that we do not have hard dependencies on

[2020-04-21 23:06] mandarjog opened #23134 "TCP event logging with Telemetry V2: Stackdriver"
Stackdriver TCP should generate access log events for TCP.

1. [Open Connection] is recorded with tcp 5-tuple and the identity of the source, service account.
2. [Periodic Data events]
3. [Close Connection]
Should include connection id, if possible.

The events cannot be delayed until the close of connection, since a connection can last for days.

[2020-04-21 23:06] mandarjog commented on #23134
cc @bianpengyuan @kyessenov

[2020-04-21 23:37] howardjohn commented on #22443
config:debug logs for a broken pod:
[broken-debug-config.log](https://github.com/istio/istio/files/4513050/broken-debug-config.log)

Notably missing:

[code]

[2020-04-21 23:56] howardjohn commented on #22443
`listener_manager.lds.init_fetch_timeout: 0` - I am pretty sure this is a bug..
It should either block listener warming, or triggered initial fetch timeout?

[2020-04-22 00:05] howardjohn commented on #22443
Got full debug logs. Notable difference:

GOOD:
[full-logs.log](https://github.com/istio/istio/files/4513103/full-logs.log)

[code]
BAD:
[code]

[2020-04-22 00:10] howardjohn commented on #22443
The kube-dns vs istio-pilot cluster name is not relevant to ^, I have verified it varies on good pods as well

[2020-04-22 00:13] jcetkov commented on #19202
I just ran to this again, this time on `1.4.7` (with possibly different root cause)

[2020-04-22 00:14] howardjohn opened #23135 "1.6 builds missing compiled in charts"
[code]

I think we already discussed this but opening this for tracking

[2020-04-22 01:42] wsdlll commented on #23045
Thank you for your help.
I would close the issue. :)

[2020-04-22 01:42] #23045 closed

[2020-04-22 02:00] linsun commented on #23028
Agreed, either we provide a lightweight istiod for just that purpose or have another service to do that work.

[2020-04-22 02:03] linsun opened #23138 "Remote cluster without istiod - needs to create istio-ca-root-cert cm for each ns"
**Describe the feature request**

or run a lightweight istiod just for that purpose.   Based on some discussion from https://github.com/istio/istio/issues/23028#issuecomment-617409037
As part of #22934

**Describe alternatives you've considered**

**Additional context**

[2020-04-22 02:05] linsun commented on #23028
opened up a seperate issue for this. This current WI is blocked till https://github.com/istio/istio/issues/22874#issuecomment-617387697 is sorted out.

[2020-04-22 02:08] linsun commented on #23138
existing code - https://github.com/istio/istio/blob/9031d67e2917718079ac5d21fc3b26fd3bdb7507/pilot/pkg/bootstrap/namespacecontroller.go#L66

[2020-04-22 02:41] johnzheng1975 commented on #23111
Note that for below Envoyfilter (different type), it can work ONLY for this namespace
[code]

[2020-04-22 02:44] irisdingbj commented on #22918
@myidpt both `dingsj@cn.ibm.com` and `irisdingbj@gmail.com` works

[2020-04-22 03:10] #18937 closed

[2020-04-22 03:23] hanahmily commented on #22741
After some investigation about stackdriver(https://cloud.google.com/traffic-director/docs/configure-stackdriver), it should be combined with TrafficDirector. I find we don't have to set TLS for it:
 - If STS(Security token service) is disabled, stackDriver envoy plugin will take care of the connection between envoy and Trace service.
 - Else STS is enabled, the static bootstrap template will use a

[2020-04-22 04:42] lambdai commented on #22217
Sorry for the late reply. The is the issue to track the last blocker for #10533

[2020-04-22 05:01] #16210 closed

[2020-04-22 05:01] #17406 closed

[2020-04-22 05:01] #17417 closed

[2020-04-22 05:01] #17418 closed

[2020-04-22 05:09] myidpt commented on #22918
Thanks. Added you to the doc editor @irisdingbj

[2020-04-22 05:34] chadlwilson commented on #19975
@yangminzhu did we ever manage to look at this? This is still a problem on `1.4.7`. Haven't yet managed to upgrade to `1.5.1` successfully to re-validate.

[2020-04-22 05:53] yangminzhu commented on #19975
Sorry I forgot to reply to this, I think this clearly means the 15090 port is handled by the virtual inbound instead of by the static configured listener, that's why it's being rejected by AuthorizationPolicy because the AuthorizationPolicy applies to the virtual inbound listener (but not static listener). This is actually working as expected from the AuthorizationPolicy perspective.

It sounds li

[2020-04-22 06:05] chadlwilson commented on #19975
OK, noted, thanks for the investigation and reply as always @yangminzhu :-)

[2020-04-22 07:00] kunalekawde commented on #17131
Yeah had a doubt and couldn't find any pointer as to setting TLSv1_3 for mTLS between istio-proxies also. Seems be the there for gateways. Is it default TLSv1_2 for istio-proxies and cannot be upgraded to TLSv1_3 ?

[2020-04-22 07:23] morvencao opened #23141 "In-cluster controller can't clean resources after the iop instance is deleted"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**

After iop instance is deleted, the istio resources created by in-cluster controller are not pruned:

[code]

**Affected product area (please put an

[2020-04-22 07:27] morvencao commented on #23141
The root cause should be that owner labels are not added to the istio sources created by the in-cluster-controller:

[code]

We only add `owning-resource` `managed` `component` and `version`, but the prune process checked the pruning list by owner key, see: https://github.com/istio/istio/blob/master/operator/pkg/helmreconciler/prune.go#L129

[2020-04-22 07:36] lambdai commented on #19975
We have a specialized setting for port 15090
More precisely

1. The iptables doesn't capture traffic to 15090.
2. 15090 is a reserved port in istio's proxy which has static config: including listener, route, cluster.

With the **static** config, there is no customized setting to add authorization on port 15090.
That says, istio only support plain text access to port 15090. Any attempt to add mtls

[2020-04-22 07:42] lambdai commented on #19975
Two possible solutions

1. authz ignores any policy at client side setting on 15090, aligning with the de factor that 15090 is statically configured as plaintext
2. Drive the networking setting to build an end2end solution: envoy bootstrap config, iptables, dynamic generate LDS/RDS/CDS respecting security policy.

[2020-04-22 07:56] lei-tang commented on #22463
/cc @myidpt

[2020-04-22 08:03] morvencao opened #23144 "iop deletion hangs for long time if dependent component is not ready"
**Bug description**

As per https://github.com/istio/istio/pull/23014#discussion_r411870923
Currently the default timeout for component dependency waiting is 10 mins. So before timeout, even if we manually delete IOP instance, it will be still stuck in waiting period until timeout, then the next reconcile loop(iop deleted) can be started. This may be confused, since default timeout is too long and

[2020-04-22 08:05] wdabrows commented on #23072
@ajitchahal
I think you have a slightly different problem. The pods can't run with SecurityPolicy that includes runAsNonRoot because by default root user is used by some of the images and you need to modify the deployment, which does not work in some cases (istio-ingressgateway for example). It also depends on the version, in 1.5.1 as an example istiod is run as 1337 user.

When it comes to securi

[2020-04-22 08:13] yuenwah opened #23145 "金丝雀发布未按照虚拟服务规则权重进行流量转发canary deployment could not make traffic routing based on virtualservice weights setting rules."
**Bug description**
canary deployment could not make traffic routing based on virtualservice weights setting rules
**Expected behavior**
![image](https://user-images.githubusercontent.com/34834139/79957300-f30dc600-84b3-11ea-9b04-9943cb93ce68.png)
This configuration should forward all traffic to the v1 version when accessing, but this is not the case
![image](https://user-images.githubusercontent.

[2020-04-22 08:14] adamzhoul commented on #19664
same question.

 since my ingress(istio envoy) is working on production, we can't upgrade easily.
 is there another way?  like, upgrade envoy image only?

 by the way, I capture net traffic use tcpdump.
 get Fin package, send by ingress.   But, I  never changed the listener config.

thanks @howardjohn

[2020-04-22 08:17] carolynhu commented on #23145
@yuenwah for better communication and helping the istio engineers/contributors understand your problem. You may be supposed to translate your issue/bug into english? Thanks for your collaboration.

[2020-04-22 08:35] irisdingbj commented on #22918
@myidpt where can I find the doc you shared? Thanks!

[2020-04-22 09:26] yuenwah commented on #23145
Will this rule apply only when entering from the istio-ingress gateway?

[2020-04-22 10:27] livelyRyan commented on #23114
My istio-ingressgateway is exposed by externalIP, not the normal LoadBalancer.Is this the cause of the problem?

[2020-04-22 10:53] adamzhoul commented on #19664
update

  when I deploy a new pod, I can reproduce this.

  I think that deploying a new pod triggers eds push. which leads to envoy hot restart.

  And envoy dropped this long connection.

[2020-04-22 11:56] HashTableHu commented on #13639
Did you send skywalking from envoy successfully

[2020-04-22 12:06] shamsher31 commented on #23135
I had the same issue during my test. After running  `make gen-charts`, I'm able to run same command but it generates `assets.gen.go` in working dir.

[code]
I never run `make gen-charts` before in order to install istio. I think this is due to a recent change in https://github.com/istio/istio/pull/23005

[2020-04-22 12:20] VinothChinnadurai commented on #22536
@ramaraochavali We are waiting for your response. Kindly help us once you are available.

[2020-04-22 12:33] ElliotPM opened #23146 "Istio 1.4.7 release does not contain ISTIO-SECURITY-2020-004 fix"
The release notes for Istio 1.4.7 state that the security vulnerability relating to Kiali has been fixed; however, the commit to fix this is not present in the release.

I have installed Istio 1.4.7 using Helm with Kiali 1.15.2 (and other compatible Kiali versions) but the error seen in this issue remains: https://github.com/kiali/kiali/issues/2624

see commit: https://github.com/istio/istio/commi

[2020-04-22 14:25] brian-avery commented on #18294
This is still needed

[2020-04-22 14:41] ramaraochavali commented on #22536
@VinothChinnadurai Sorry, I am busy today and won't have time to look at this config. I can probably take a look tomorrow.

[2020-04-22 14:44] howardjohn commented on #22443
Here is a new one.. the `default` secret is fetched but ROOTCA is not:

[code]

Running `1.6-alpha.81322fa1cba9fe98047bfcc275b0adeb82465fdd`

[2020-04-22 14:51] #22802 closed

[2020-04-22 15:15] chadlwilson commented on #19975
I don't think that can be the case here, because the calling service is Prometheus; and in our case it has no sidecar proxy; it's not part of the Mesh - and we haven't attempted to make our Prometheus be able to do mTLS with Mesh-proxied-services.

[2020-04-22 15:51] howardjohn opened #23147 "istioctl install errors during reconcilation"
[code]

I get this error pretty often when running `install --set profile=demo`

[2020-04-22 16:28] richardwxn commented on #22109
Next step I would switch to use Kind instead of boskos for the presubmit job

[2020-04-22 16:29] VinothChinnadurai commented on #22536
Sure @ramaraochavali . Thanks for your response and we are waiting :)

[2020-04-22 16:56] bcochofel opened #23148 "Option to redirect http to https on the Gateway"
Hi,

I was searching for a way to configure, during installation, the httpredirect on the gateway that's created but didn't find one.
Is it possible to have some configuration parameter to achieve this at installation?

Thanks,
Bruno

[2020-04-22 17:23] johnma14 commented on #22835
Closing this issue since it looks fixed in #22882. Thanks

[2020-04-22 17:23] #22835 closed

[2020-04-22 17:52] howardjohn opened #23149 "Occasional install errors during test"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-k8s-116_istio_postsubmit/2082

[code]

^ might be from `kubectl` -- not 100% sure

[code]

The log is a bit hard to read due to the progress bar so not 100% sure what the issue is. Might be the same as https://github.com/istio/istio/issues/23147

[2020-04-22 17:58] northrup commented on #21996
@ostromart I too am seeing the same thing as @bjoernw and @askmeegs and would like to see this re-opened and looked at if possible.

[2020-04-22 18:09] #20413 closed

[2020-04-22 18:23] #21468 closed

[2020-04-22 18:27] #22594 closed

[2020-04-22 18:34] ostromart commented on #22389
Hi @lmarszal I chatted about it with the 1.5 release manager and it will be included for the next 1.5 patch. Thanks for doing the work on that, sorry I didn't see your earlier work before.