[2019-08-30 18:26] #16637 closed

[2019-08-30 18:33] carolynhu commented on #16416
I am dedicated working on this issue. I just got 1.3 perf/benchmark test results. I need to compare with 1.2. Then investigate possible issues if there do have a degradation.

[2019-08-30 18:34] douglas-reid commented on #16617
What is the existing level of support for this trace id in Envoy?

[2019-08-30 18:35] howardjohn commented on #16416
Sounds good thanks @carlynhu!

On Fri, Aug 30, 2019 at 11:34 AM carolynhu <notifications@github.com> wrote:

[2019-08-30 18:37] douglas-reid commented on #15993
This should be being verified by existing e2e and integration tests. Do you perhaps have a cluster with out-of-sync clocks?

[2019-08-30 18:39] esnible commented on #16686
https://discuss.istio.io is a good place to ask questions.

[2019-08-30 18:40] douglas-reid commented on #15958
There were several PRs related to fixing the redisquota dimensioning.  Have you verified this with latest `master`?

[2019-08-30 18:42] douglas-reid commented on #15543
I believe this issue should now be closed, as the PR to align calculations is in. I'm going to close it for now. If this resurfaces, please reopen.

[2019-08-30 18:42] #15543 closed

[2019-08-30 18:43] esnible commented on #16667
For simplicity of testing, the current version prints everything if even one pod is different from the others.  It isn't difficult to do what you ask, but it should be very rare that a person has a control plane at different versions and but wants a succinct summary.

[2019-08-30 18:44] howardjohn commented on #6071
Seems the issue is fixed. If there are still problems please reopen -- its a big bug so maybe I missed something

[2019-08-30 18:44] #6071 closed

[2019-08-30 18:45] #8281 closed

[2019-08-30 18:45] #9894 closed

[2019-08-30 18:47] howardjohn commented on #10703
It should be in 1.1

[2019-08-30 18:47] #12350 closed

[2019-08-30 18:53] howardjohn commented on #16667
fair enough, feel free to close this if it isn't something that will ever be implemented

[2019-08-30 18:56] jnativio commented on #16416
The regpatrol results for the latest 1.3 builds do not show this regression anymore.

[2019-08-30 18:57] vadimeisenbergibm commented on #16472
@dhineshbabuelango It is described here - https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/.

Could you please close this issue? I do not think it is a good practice to continue asking questions on the same issue, once the original issue was resolved.

[2019-08-30 19:03] incfly commented on #14524
Summary of the current status

The [design doc](https://docs.google.com/document/d/1yEMDRO2FZCyZnDK1AzNmjQtbtQqE7wN8YoM65FAH7uA/edit#) analyzes the API improvements and proposed one mechanism of having Pilot tracking the endpoints label, so that configure the client outbound cluster TLS configuration automatically when all server endpoints having envoy sidecar.

Some other alternative, by adding f

[2019-08-30 19:06] JimmyCYJ commented on #16705
I think install SDS requires these fields.

  sds:
    enabled: true
    udsPath: "unix:/var/run/sds/uds_path"

Ideally they can be merged into one filed, but we need both of them to install SDS today.
These two are optional, it specifies where we want to use SDS. We can put them into default values.helm file.
  controlPlaneSecurityEnabled: true

  mtls:
    # Default setting for service-to-servic

[2019-08-30 19:37] esnible commented on #16614
Adding `area/networking` tag because the collision message suggests a problem that is not related to telemetry.

[2019-08-30 20:37] dhineshbabuelango commented on #16472
Thanks Vadim for all the help

[2019-08-30 20:37] #16472 closed

[2019-08-30 20:46] Monkeyanator commented on #16684
This seems to have been resolved on `release-1.3` with [https://github.com/istio/installer/pull/368](https://github.com/istio/installer/pull/368). I'm not seeing failures on installer `master` either- should this be safe to close?

[2019-08-30 20:47] rlenglet commented on #16684
Yes, thanks for fixing this!

[2019-08-30 20:47] #16684 closed

[2019-08-30 22:16] #15696 closed

[2019-08-30 22:29] douglas-reid commented on #16614
Can you post the podspec in use and an example metric?

[2019-08-30 22:33] douglas-reid commented on #16471
Thanks for this request. The desire to process request and response body is valid. However, adding this information in the form of attributes is not something that is going to be pursued.

That is not to say all hope is lost. In coming releases, we will be pushing out a new extensions architecture which will support in-proxy policy and telemetry extension. This extension mechanism will be much bet

[2019-08-30 22:33] #16471 closed

[2019-08-30 22:38] douglas-reid commented on #16465
Istio's ingressgateway is using Envoy. Envoy supports Lua filters -- which Istio enables via [EnvoyFilter](https://istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/) configuration.

Please let us know if you have any questions about Istio + Lua on our forums: discuss.istio.io

[2019-08-30 22:38] #16465 closed

[2019-08-30 22:39] douglas-reid commented on #16239
@liminw can you provide any guidance here?

[2019-08-30 22:46] douglas-reid commented on #14905
I'm concerned about how to address this issue.

We have e2e tests that attempt to verify tracing behavior in a cluster that all seem to pass, and no other reports of this issue.

I'm tentatively going to close this issue. If there are new data points, or an easy way to reproduce, please re-open this issue.

[2019-08-30 22:46] #14905 closed

[2019-08-30 22:50] howardjohn commented on #16458
Spoke with @costinm and @andraxylia , seems rejecting http Services on port 443 is likely the best move here. Specifically this would involve rejecting ServiceEntries with this pattern in Galley validation, then rejecting Services (or ServiceEntries that bypass validation, I suppose) internally in pilot (and definitely increment `pilot_total_rejected_configs`! or some metric)

[2019-08-30 22:56] howardjohn opened #16721 "TestGrid reports postsubmit tests where presubmit tests should be"
For example, look at https://testgrid.k8s.io/istio-presubmits-master#istio-pilot-e2e-envoyv2-v1alpha3-master and we will see all of these are actually the post submit variants. Looking at the postsubmit tab will show postsubmit as well.

Looking at a test like https://testgrid.k8s.io/istio-presubmits-master#integ-istioctl-k8s-presubmit-tests-master actually slows the presubmits, because the name i

[2019-08-30 22:56] douglas-reid commented on #14839
The issue, as I see it, with such an approach is that `kind` is specific to k8s (for instance, what would the meaning of `kind` be in VM scenarios, etc.).  We do already populate `workload.owner` attributes, which include the kind information for k8s, however.

Example: `kubernetes://apis/extensions/v1beta1/namespaces/istio-system/deployments/istio-telemetry`

In the work to move attribute-like in

[2019-08-30 22:56] #14839 closed

[2019-08-30 22:57] howardjohn commented on #16721
@chases2 just an fyi. Seems entirely our fault though with the test naming

[2019-08-30 22:57] douglas-reid commented on #16686
Closing, as is a duplicate of: https://github.com/istio/istio/issues/14830

[2019-08-30 22:57] #16686 closed

[2019-08-30 23:07] bianpengyuan opened #16722 "Add an integration test for prometheus stats filter"
An integration test needs to be added for the new prometheus stats filter.

cc @mandarjog

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[x ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2019-08-30 23:25] JimmyCYJ opened #16724 "Improve istioctl for troubleshooting security PKI issues."
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
We use several tools to investigate security PKI issues.
On Envoy, we check /config_dump, /certs, log, and we change log level using curl command.
On Citadel agent, we check log and CtrlZ dashboard, and change log level per scope via CtrlZ. We also

[2019-08-30 23:26] JimmyCYJ commented on #16724
/cc @Monkeyanator @incfly @myidpt @pitlv2109

[2019-08-30 23:37] howardjohn commented on #12351
Issue seems abandoned. I would encourage anyone seeing similar issues to open a new issue so we can get to the bottom of it. Thanks!

[2019-08-30 23:37] #12351 closed

[2019-08-30 23:37] #12549 closed

[2019-08-30 23:38] Monkeyanator commented on #16514
closing as duplicate #15789

[2019-08-30 23:38] #16514 closed

[2019-08-30 23:40] howardjohn commented on #14654
Issue seems abandoned. I would encourage anyone seeing similar issues to open a new issue so we can get to the bottom of it. Thanks!

[2019-08-30 23:40] #14654 closed

[2019-08-30 23:40] #14703 closed

[2019-08-30 23:42] Monkeyanator commented on #15789
[This PR](https://github.com/istio/istio/pull/16498) is the WIP implementation of what's being discussed in this issue.

There are two features that ended up in the actual implementation:

1. `istioctl proxy-config secret` to dump secrets Envoy config dump
2. `istioctl proxy-status <pod.[namespace]> --sds` which hits the node agent endpoint for secrets and diffs with the dynamic active secrets on

[2019-08-30 23:43] #15574 closed

[2019-08-30 23:43] #15808 closed

[2019-08-30 23:49] fpesce commented on #13618
Not sure that:
(P0) Secure coding & testing practices that affect all new work -code-mauve style
(P1) Security scanning/adversarial testing of Istio codebase

are addressed, the rest is. Let's creat e 2 bugs to 1.3/1.4 for them and close this one.

[2019-08-30 23:49] #13618 closed

[2019-08-30 23:56] fpesce opened #16725 "Secure coding & testing practices that affect all new work -code-mauve style"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
This task is a spin off of #13618 , the goal here might be to verify the state of golangci linter, see if we're using the latest linters, and if all

[2019-08-30 23:57] howardjohn commented on #16377
Is this still a problem?

[2019-08-30 23:58] #16567 closed

[2019-08-31 00:00] fpesce opened #16726 "Security scanning/adversarial testing of Istio codebase"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
This task is a spin off of #13618.
Based on the phrasing of the original bug, we might want to perform an audit of Istio codebase or hire people who will independently perform it.

**Describe alternatives you've considered**

**Affected product area

[2019-08-31 00:01] #16215 closed

[2019-08-31 00:03] howardjohn commented on #15327
closing for https://github.com/istio/istio/issues/16670

[2019-08-31 00:03] #15327 closed

[2019-08-31 00:04] howardjohn commented on #15093
Done by https://github.com/istio/istio/pull/16668. Thanks for all the work from @ericvn and @geeknoid to allow me press to easily press the `rm -rf vendor` button

[2019-08-31 00:04] #15093 closed

[2019-08-31 00:04] howardjohn commented on #15315
There has been many changes to this area that I don't think there is much we can do more here

[2019-08-31 00:04] #15315 closed

[2019-08-31 00:13] howardjohn commented on #12803
We have K8s 1.15 now

[2019-08-31 00:27] howardjohn commented on #16334
Is most of this done? Seems a lot changed quickly

If we are throwing in possible improvements though

* Get autocompletion to work (`make <TAB>` no longer works)
* Get .PHONY to work
* Find a way to easily run ad-hoc commands in the docker container. It would be cool to do something like `builder go test ./pilot/proxy/pkg -run MyTest` and have it run in docker. Otherwise I (and I assume others) w

[2019-08-31 00:28] howardjohn commented on #15659
@sdake is this solved? If its not solved can you explain what the issue is and maybe I/someone can fix it?

[2019-08-31 00:30] howardjohn commented on #16181
@geeknoid I don't know where the codecov.io credentials are for this to work so assigned to you since I assume you are an admin?

[2019-08-31 01:18] #15965 closed

[2019-08-31 01:48] hzxuzhonghu commented on #16685
incremental xds is not of high priority now, as we can both define `Sidecar` and ExportTo now.

[2019-08-31 03:22] rlenglet commented on #16619
1.3.0-rc.1 is published:
https://gcsweb.istio.io/gcs/istio-prerelease/prerelease/1.3.0-rc.1/ https://github.com/istio/istio/releases/tag/1.3.0-rc.1

[2019-08-31 03:22] #16619 closed

[2019-08-31 04:31] carolynhu opened #16731 "istio/tools perf benchmark cannot generate flame graph properly"
Currently, `--perf` label is not working as stated, it cannot generate the flame graph as expected.

[2019-08-31 04:45] howardjohn commented on #16473
Seems like to be a maistra/openshift issue.. I don't want to just shift the blame here but can you look there first?

[2019-08-31 04:45] #16473 closed

[2019-08-31 05:24] howardjohn commented on #16653
Its based on host headers, then you can determine routing based on path within that. So your services have different hosts they match on with two different VirtualServices, then they could both route `/api` (or whatever route) to wherever they need to

I would encourage you to ask questions on https://discuss.istio.io. This issue tracker is primarily meant for bugs and feature requests

[2019-08-31 05:24] #16653 closed

[2019-08-31 05:24] #16562 closed

[2019-08-31 05:28] howardjohn commented on #16692
what if you directly access the ingrssgateway not through the alb? does it work then? Did you follow https://istio.io/docs/tasks/telemetry/gateways/

[2019-08-31 07:19] Bessonov commented on #8615
activity occurs...

[2019-08-31 07:46] richardwxn commented on #16670
Did another fix: https://github.com/istio/test-infra/pull/1742 to update the job, now it is passing [here](https://storage.googleapis.com/istio-prow/logs/perf-for-daily-release/221/build-log.txt)

And correction to my previous comment, actually the perf test is there and the sample metrics data uploaded: https://storage.googleapis.com/istio-release-pipeline-data/daily-build/release-1.2-20190830-11

[2019-08-31 10:10] hzxuzhonghu opened #16733 "Support service fqdn match in EnvoyFilter_ListenerMatch"
/kind feature

Use case: We have many tcp services listen on the same port say 6379. And we want to patch customized configs to different services using EnvoyFilter .

Currently the EnvoyFilter_ListenerMatch is as below,
1. if we use port match, it will match all the listeners 6379, even they may belong to different services.

1. If we use name match, it is hard for users to list all the listeners

[2019-08-31 10:11] hzxuzhonghu commented on #16733
cc @rshriram is this feasible?

[2019-08-31 10:11] vstrizaks commented on #16567
howardjohn, thank you for an explanation!
No, we don't have any noticeable problems.

[2019-08-31 13:12] idefav opened #16734 "For my jaeger only jaeger-query service, no other services"
![image](https://user-images.githubusercontent.com/6405415/64064429-e80bda00-cc33-11e9-9d11-2eb88d198a89.png)

Istio version: 1.2.4

For my jaeger only jaeger-query service, no other services!!!

[2019-08-31 14:01] howardjohn commented on #16670
seems another issue came up - https://k8s-testgrid.appspot.com/istio-release-release-1.3#perf-for-daily-release

[2019-08-31 16:15] howardjohn commented on #16734
Please fill out the issue template. Without knowing your set up, it is impossible to help you with this.

See also https://istio.io/faq/distributed-tracing/, https://istio.io/docs/tasks/telemetry/distributed-tracing/, https://istio.io/docs/tasks/telemetry/distributed-tracing/jaeger/

[2019-08-31 16:15] #16734 closed

[2019-08-31 16:43] mandarjog commented on #16731
@carolynhu the underlying scripts do work, I just got a bunch of flamegraphs. However `--perf` does not work.

[2019-08-31 16:47] mandarjog commented on #16660
@fpesce did your investigation conclude here>

[2019-08-31 16:51] rverma-nikiai commented on #16471
@douglas-reid is there an open issue which I can subscribe to get updates?

[2019-08-31 17:15] mandarjog opened #16735 "tools: servicegraph application errors out with too many open files"
serviegraph / isotope application errors out with

[code]

In this one case, the mock service had `1048577` files open.

This specifically happens `*-0v2` and `*-0v1` services. These services have a high fanout calling 8 other services.

1. There could be lack of connection re-use
2. lack of dns caching.

The service is located here.
https://github.com/istio/tools/tree/master/isotope/service

[2019-08-31 17:27] #16476 closed

[2019-08-31 17:50] howardjohn opened #16736 "istio/tools makefiles broken with BUILD_WITH_CONTAINER, cannot connect to kubernetes"
There are a lot of commands in istio/tools that connect to kubernetes. These are not working with BUILD_WITH_CONTAINER, because the container doesn't have access to kubernetes.

I am not sure a good way to fix this.. you could mount `~/.kube`, but technically kube contexts can be anywhere in the file system. A standard setup (and kind!) will use this though so it may be sufficient for 99% of cases

[2019-08-31 18:10] howardjohn opened #16737 "WorkloadLabels race"
[code]

From https://prow.k8s.io/view/gcs/istio-prow/logs/istio-racetest-master/4590

Seems broken by https://github.com/istio/istio/pull/16501

[2019-08-31 18:27] richardwxn commented on #15697
Done with https://github.com/istio/operator/pull/122

[2019-08-31 18:27] #15697 closed

[2019-08-31 18:27] richardwxn commented on #15698
done with https://github.com/istio/operator/pull/116

[2019-08-31 18:27] #15698 closed

[2019-08-31 18:28] richardwxn commented on #16468
PR created: https://github.com/istio/operator/pull/227

[2019-08-31 18:29] richardwxn commented on #16560
PR created: https://github.com/istio/operator/pull/242

[2019-08-31 19:02] richardwxn commented on #16670
this error seems weird as it complains again unbound variable, but on a blank line. I checked the other scripts being called and I couldn't find possible cause for it. Created this: https://github.com/istio/istio/pull/16738

[2019-08-31 19:18] howardjohn commented on #16670
check the branch it's running on. It is likely one of the release branches

On Sat, Aug 31, 2019, 12:03 PM Xinnan Wen <notifications@github.com> wrote:

[2019-08-31 21:28] richardwxn commented on #16670
ok yes, that's the reason, it is running on release 1.2 branch

[2019-08-31 21:34] howardjohn commented on #16735
maybe related to https://github.com/istio/istio/issues/16253

[2019-08-31 21:44] mandarjog commented on #16735
/cc @richardwxn

[2019-08-31 22:29] memorais commented on #7776
Just an update on this, I was able to do ingress-nginx work with Istio. My use case was specific about Istio authentication and authorization (rbac) so I don't want use gateway components from Istio.

The trick is if you are using latest ingress-nginx (0.25.1), the component default-http-backend doesn't exist anymore so, the envoy sidecar on nginx-controller pod is mandatory if you want to make mT

[2019-09-01 05:37] yudaprama commented on #16074
@mar1n3r0 I guess I get similar issue as you. Can you get more detail which port wrong port in Deployment and VirtualService?

[2019-09-01 05:56] mar1n3r0 commented on #16074
@yudaprama In this particular case it was here:

https://github.com/stefanprodan/gitops-istio/blob/master/prod/backend/canary.yaml

I am using this strategy for production deployment. The original flow is based on a go service exposed on port 9898 so before I changed all ports to my default 80 it was throwing the above mentioned error.

The error is very generic so you will need to post more detai

[2019-09-01 07:13] carolynhu opened #16739 "istio/tools cannot gather latency data points for "both" mode"
With Mixer or without Mixer:
When I run perf/benchmark test, previously, `baseline` mode hit 503 error as the date of 08/29
Currently,  after I rebased master which has this PR included https://github.com/istio/tools/pull/312, `baseline` mode works, but `both` mode hit 503 error.
Here is the error message:
[code]

[2019-09-01 07:13] carolynhu commented on #16739
cc @lambdai @mandarjog

[2019-09-01 07:24] carolynhu opened #16740 "tools: runner/graph.py cannot generate latency graph as expected"
With all csv test data points gathered correctly. When I run
[code]
I got the following Bokeh Warnings:
[code]
The generated graph is missing x-axis labels, also without any plotted data points:
![bokeh_plot](https://user-images.githubusercontent.com/29208297/64073155-c10ed180-cc4e-11e9-811c-99041b9b72b8.png)

[2019-09-01 08:46] omerlh commented on #15883
Is there a way to track performance improvement features
Also, in case this wasn't clear - we have services with similar traffic where istio proxy behave significantly differently - we see services where the proxy consume ~0.5 CPU and cases where it takes ~0.003. We will be happy to better understand why it happens.
I'm aware of the annotation and already used it.

[2019-09-01 12:39] geeknoid commented on #16736
The initial solution here is to move tests out of the tools repo and into the newly minted tests repo. This would allow the tests to not use BUILD_WITH_CONTAINER if we need to for a while.

I'm reassigning to @mandarjog for moving the tests over.

[2019-09-01 13:55] howardjohn commented on #16736
sure, it's not about just tools though, this will break every repo that
uses kubectl. installer, Istio, etc

On Sun, Sep 1, 2019, 5:40 AM Martin Taillefer <notifications@github.com>
wrote:

[2019-09-01 23:11] tx19980520 commented on #7679
@osswangxining
I upgrade from 1.1 => 1.2.5 by using helm template and changed the externalTrafficPolicy to Local but the ingressgateway is not working. `kubectl edit svc istio-ingressgateway -n istio-system` change it to local it works well.
I just wanna get a real client IP to have a dynamic blacklist to limit rate by IP.

[2019-09-02 00:19] mandarjog commented on #16739
@carolynhu
1. please get config dumps from both client and server sidecars.
2. Also check if “serverside” only is also facing this issue. Since the recent  changes are on the server side, I expect that to fail.

[2019-09-02 03:21] hzxuzhonghu opened #16743 "[Discussion] remove workload label update support"
Should we remove the support for pod label update in k8s registry?

The benefits would reduce the complexity currently caching/comparing all the workload labels.

And as the use case changing pod labels is very rare, i believe it is safe to remove this.

**Note**: if we stop serving this, we should document explicitly if users want to update labels, they need to recreate workloads.

[2019-09-02 03:22] hzxuzhonghu commented on #16743
cc @istio/wg-networking-maintainers

[2019-09-02 03:28] morvencao commented on #16551
looks like the general json/yaml merge doesn't work in operator case, eg. for `env`, we have original snippet:

[code]

and override snippet:
[code]

the general json/yaml merge will just reproduce:
[code]

we need semantic merge, because what we really want is:
[code]

[2019-09-02 03:30] howardjohn commented on #16743
My understanding is in k8s this only happens if you directly modify a pod, are there other ways?

And what about other registries? since we would want to remove it completely not just for k8s?

I'm leaning towards remove it

[2019-09-02 03:47] hzxuzhonghu commented on #16743
Yes, if we update that by deployment labels. the previous pod will be deleted and a new one comes up . So it does not matter in this case.

It will not influence other registries.

[2019-09-02 08:06] Nielsoux commented on #10824
Hello,

I'm working on a multi-cluster, shared control-plane, multi-network Istio deployment on EKS

The only way I had it working at the moment is with the istio-ingressgateway in both cluster populating TCP ELB's

[code]
Problem could come from the lack of support stated here:
https://istio.io/docs/setup/kubernetes/install/multicluster/shared-gateways/#setup-cluster-2

`The command fails if the

[2019-09-02 09:10] ckcd commented on #16164
Can we just decrease the period, cause 30s is a little big for readiness probe. Does a 5s-10s period makes some bad effect ?

[2019-09-02 09:14] KuroObi commented on #16614
Here are the Pod-Specs:
[code]
Here are the metrics out of prometheus:
[code]

[2019-09-02 09:46] vishnuhd commented on #6511
This is still failing for me for following versions using loadbalancer, port-forwarding to local works fine though :

Istio :
client version: 1.2.5
citadel version: 1.2.5
egressgateway version: 1.2.5
galley version: 1.2.5
ingressgateway version: 1.2.5
pilot version: 1.2.5
policy version: 1.2.5
sidecar-injector version: 1.2.5
telemetry version: 1.2.5

GKE :
1.11.10-gke.6

[2019-09-02 10:35] anastayaa commented on #14982
I have the same error!!! what is the solution

[2019-09-02 11:50] rshriram commented on #16743
Other registries do not support dynamic label updates. They all require recreating the workload

[2019-09-02 11:52] rshriram commented on #16743
I am up for doing this as well.

[2019-09-02 11:57] rshriram commented on #16733
The difficulty is when we have wildcard listeners. For non headless tcp services on k8s, we can patch by fqdn. Headless tcp services will end up having 0.0.0.0 listeners and the restriction there is that you can only have one headless service on a port.

Now, this gets even more complicated for http services that are on 0.0.0.0.

What we can do is add metadata to each listener or filter chain abou

[2019-09-02 12:25] ckcd commented on #14366
@howardjohn
Is this issue still valid ?  Can I take it ?

[2019-09-02 12:29] Ghost---Shadow commented on #7622
bump

[2019-09-02 12:39] scw00 opened #16749 "Bad performance for high performance gateway"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Run istio against nginx. There are high performance gap between injected and not injected containers.

**Affected product area (please put an X in a

[2019-09-02 12:42] scw00 commented on #16749
Without injected.
[code]
Injected
[code]

Envoy  sidecar take too muck cpu
[code]

[2019-09-02 12:51] kriston13 opened #16750 "[Discussion] Enable a way to generate ingress & egress gateways per namespace"
I see this come up in various places:
- https://stackoverflow.com/questions/51835752/how-to-create-custom-istio-ingress-gateway-controller
- https://knative.dev/docs/serving/setting-up-custom-ingress-gateway/
- https://stackoverflow.com/questions/56826263/how-i-can-make-istio-supports-multiple-custom-ingress-gateway-in-different-names

And I myself have a use case for it, where I want:
- a dev/tes

[2019-09-02 13:00] blueskyll opened #16751 "set interval for envoy get pilot config"
istio version : 1.1.5
In our environment, traffic rules can take effect only after a few second(usually 4-5s), what is the default interval for envoy to get pilot config?  Can we update this value?

[2019-09-02 13:27] #16573 closed

[2019-09-02 14:07] howardjohn commented on #16751
pilot pushes config to envoy after a 100ms delay (it will try to group multiple changes at once together), so it's likely caused by pilot being overloaded not an artificial delay. Is pilot cpu high?

If you want to reduce this I would recommend scaling to Pilot, using Sidecar resource to reduce amount of config sent, or upgrading to 1.3 in a couple weeks which is much much faster

[2019-09-02 14:09] howardjohn commented on #16749
5k RPS and 2ms overhead seems in line with our guidance. See https://istio.io/docs/concepts/performance-and-scalability/ and https://istio.io/blog/2019/performance-best-practices/.

What features do you have enabled? Mixer, tracing, etc all add some overhead but can be disabled

[2019-09-02 14:11] howardjohn commented on #16750
I am surprised there is no docs, I think this is a fairly common and supported pattern

Especially well supported with the new installer we are working on https://github.com/istio/installer

[2019-09-02 14:17] howardjohn commented on #16164
I would imagine 5s is fine, not sure why 30 was chosen

On Mon, Sep 2, 2019, 2:11 AM Kun Chang <notifications@github.com> wrote:

[2019-09-02 14:25] howardjohn commented on #14366
Sure, that would be great!

On Mon, Sep 2, 2019, 5:26 AM Kun Chang <notifications@github.com> wrote:

[2019-09-02 14:31] enmasse commented on #13358
Do you have a workaround for this issue?

[2019-09-02 14:54] #16737 closed

[2019-09-02 14:59] prestonvanloon commented on #1430
Any update on UDP support? Last update was planned for Q1 2019 and it's now Q3 2019

[2019-09-02 15:01] howardjohn commented on #13358
using Istio 1.1.3+ is the only workaround as far as I know

[2019-09-02 16:10] anastayaa commented on #2602
I have the same error here, is there any solution?

[2019-09-02 17:46] howardjohn opened #16754 "SDS no longer works on Kubernetes 1.12, breaking tests"
Our Kubernetes 1.12 tests are (somewhat intentionally) broken by https://github.com/istio/istio/pull/16666. We need to either

1. Make SDS work on 1.12 still
2. Make the test still pass on Kubernetes 1.12, by skipping or whatever is needed
3. Decide we don't care and stop testing/supporting Kubernetes 1.12

[2019-09-02 17:49] howardjohn commented on #16750
Here are docs for doing it for just SDS: https://istio.io/docs/tasks/traffic-management/ingress/secure-ingress-sds/

[2019-09-02 17:58] howardjohn opened #16755 "filter chain match rules require TLS Inspector listener filter, but it isn't configured"
My envoy logs are filled with

[code]

Seems like we are not configuring something correctly?

This may be a regression on https://github.com/istio/istio/issues/7601

[2019-09-02 18:00] howardjohn commented on #16755
Config Dump:
[code]

[2019-09-02 18:01] howardjohn commented on #16755
What is weird is this dump doesn't actually have the TLS inspector it claims to be injecting -- maybe just an issue with the config dump though. Or possibly it s getting confused with the http_inspected? @yxue

[2019-09-02 18:03] howardjohn commented on #16755
I think this is a bug related to http_inspector, this code:
https://github.com/envoyproxy/envoy/blob/master/source/server/listener_manager_impl.cc#L304-L317

It assumes you need tls_inspector to find application_protocol, but this is not true now that we have http_inspector

[2019-09-02 18:10] howardjohn opened #16756 "build-tools needs support for kind/dind"
Most of our integration testing relies on being able to run dind and kind. Currently, the build-tools docker image does not support this, although it does have the actual docker and kind binaries in the image.

Requirements for CI:
* `docker run` works from within the image. Presumably this also means `kind create cluster` works as well.

In order to do this in the old image, we had a startup scri

[2019-09-02 18:17] howardjohn commented on #16756
Oh weird, I thought I tried `-v /var/run/docker.sock:/var/run/docker.sock` and things weren't working but mustve done something wrong. Seems using that, I can now `docker run` and it will create it on the host docker!

`kind create cluster` also works! but we need to give access to the kubectl context on the host, as in https://github.com/istio/istio/issues/16736. I think we can do this by mountin

[2019-09-02 18:22] howardjohn commented on #16756
Kubernetes prow team explicitly forbids mounting docker.sock and does `service docker start` instead

[2019-09-02 18:33] howardjohn commented on #16148
update - multicluster is feasible I think, I just haven't had time. I tried to manually install a metrics server for the dashboard and it partially worked but I was missing some metrics and didn't get a chance to dig into it further

[2019-09-02 18:46] howardjohn commented on #14951
We do not yet follow the best practices required to be added

* Every chart to have a maintainer listed along with valid contact information for each maintainer. The contact information could be in the form of an email address or link to a contact form
* Charts to pass Helm lint, be installable and upgradable in all community supported versions of Kubernetes, and to use semantic versioning to shar

[2019-09-02 21:42] #14499 closed

[2019-09-02 21:42] #15208 closed

[2019-09-02 21:43] #16377 closed

[2019-09-02 23:33] kriston13 commented on #16750
That specific link actually is more about configuring the gateway, rather than the ingress gateway.

However, it DOES lead to this: https://istio.io/blog/2019/custom-ingress-gateway/

Which kinda shows my point... Point 7 says the equivalent of "copy this `yaml` and use it to create a new ingress gateway". So if that `yaml` isn't kept up to date, then future Istio versions may have issues.

What w

[2019-09-02 23:36] howardjohn commented on #16750
you can deploy just part of a helm chart with some flag like -x I believe..
That may put you in the right direction at least

On Mon, Sep 2, 2019, 4:34 PM kriston13 <notifications@github.com> wrote:

[2019-09-03 00:35] scw00 commented on #16749
tracing and policy is disable. And I didn't find any docs to say how to disable another part of mixer.

Here is my configure

[code]

[2019-09-03 01:28] clyang82 commented on #16071
@linsun I just add label to merge the fix to release branch. I will test it in release branch. Thanks.

[2019-09-03 01:44] #16639 closed

[2019-09-03 02:59] clyang82 opened #16761 "istioctl for multicluster"
follow this guide to install istio multicluster - https://preliminary.istio.io/docs/examples/multicluster/icp/. after done, run `cloudctl ps` in cluster1, it can list `review-v3` which is in cluster-2.
[code]

when run `istioctl ps reviews-v3-59cb5dbbcd-dcrgb.default `, the output is
[code]

[2019-09-03 03:03] blueskyll commented on #16751
Thanks. It seems pilot-discovery container consumes lots of cpu and pilot container does't,  I will update to 1.3 and observe changes.

[2019-09-03 03:07] howardjohn commented on #16751
pilot pod has 2 containers discovery and istio-proxy. discovery is the one doing all the work, istio-proxy is just the sidecar

[2019-09-03 03:43] blueskyll commented on #16751
Oh, got it, by the way, is kubernetes 1.10 compatible with istio 1.3?

[2019-09-03 03:45] howardjohn commented on #16751
we test support 1.13-1.15 but test 1.12 as well. So 1.10 might work but we don't test it

[2019-09-03 03:47] #15626 closed

[2019-09-03 03:50] blueskyll commented on #16751
ok, thanks, I'll have a try.

[2019-09-03 03:56] vadimeisenbergibm commented on #10659
@andrewjjenkins @arielb135 @esnible @howardjohn  I am confused by using ServiceEntries with host names for TCP protocols like the ones used by RabbitMQ. For a TCP protocol, the original host name is not known, so how the ServiceEntry in https://github.com/arielb135/RabbitMQ-with-istio-MTLS could be useful? How Envoy will use rabbitmq-n.rabbitmq-discovery.rabbitns.svc.cluster.local hosts for an amq

[2019-09-03 04:01] mandarjog commented on #12310
The new envoyFilter aPI supports it now.

[2019-09-03 04:01] #12310 closed

[2019-09-03 05:23] ckcd commented on #14366
/assign @ckcd

[2019-09-03 05:45] themanifold commented on #6071
I don't think this is fixed yet, or at least I cannot confirm that is is fixed. I will try the other bits of advice in this post but I'm not aware of any code changes that have been made to fix my problem: https://github.com/istio/istio/issues/6071#issuecomment-459745577

[2019-09-03 06:39] clyang82 opened #16763 "Split listener chain binds to ipv6 when ipv6 is not supported, causing LDS ACK ERROR"
**Bug description**
I have deployed 1.3.0-rc.1 in my environment with demo profile. and then deployed bookinfo. I found that I cannot visit productpage.
[code]
istioctl ps output
[code]
there is no `15006` listener.

[code]
I have tried in another environment, it works well. I am not sure it is an environment issue or it is a bug. I can append more information if needed. Thanks.

**Affected produc

[2019-09-03 06:46] blueskyll commented on #16751
![image](https://user-images.githubusercontent.com/7546095/64149803-84fb8c80-ce59-11e9-8fc0-a3f08af71d5c.png)
one more question, eds here is always synced(50%),  why not 100%?

[2019-09-03 07:36] #6892 closed

[2019-09-03 07:50] VinothChinnadurai commented on #16692
@howardjohn thanks for the link. After setting up Virtualservice, gateway and Destination rule, it works perfect. I need input on how to use prometheus and grafana for multi environments. Say I have two different environmets like test, dev in my EKS through different namespaces. In such case, how we can monitor that different namespace. Kindly help with us.

[2019-09-03 08:21] Stono commented on #14563
Yeah I saw, thank you very much :-)

[2019-09-03 08:25] Stono commented on #9784
Hola,
We largely gave up with headless services on istio not long after raising this issue, we now use a combination of `excludePorts` annotations on the sidecars to say, exclude `6379` for redis clusters  and `statefulset.kubernetes.io/pod-name: kafka-0` annotations on services to create semi-static service ip's for each kafka pod in the statefulset.

We also make heavy use of Sidecar, effectivel

[2019-09-03 08:41] adamglt commented on #9784
Hey - we're also using stateful sets pretty extensively.
For Kafka, there's ~5-10 clusters, each with 3-7 brokers.

Our main use is various Akka clusters (our own apps).
In dev - theres anywhere from 50-200 SSets, each with ~3-11 instances.
Prod is smaller - so about 30% of that.

Our internal platform allocates unique SSet ports to avoid collisions - but we can't always do that with 3rd party stu

[2019-09-03 08:52] mailzyok commented on #16607
Yes, it is nothing specific to normalize_path. But this configuration changes triggers the drain as you mentioned. We are using long http2 connections, so the traffic are impacted during this period.

[2019-09-03 09:40] clyang82 commented on #15993
@douglas-reid I just checked my environment. the clock is synced in my cluster. I still have such issue in my environment with istio-1.3.0-rc.1 it is easy to reproduce during my testing. Could you point me the e2e and integration test for this case? Thanks.

[2019-09-03 10:47] ServerlessP commented on #10875
If you define the Trace Span template in Istio you can define `rewriteClientSpanId: false`

### Example:

[code]

You can find more info in the Istio docs in the following link.
[https://istio.io/docs/reference/config/policy-and-telemetry/templates/tracespan/](https://istio.io/docs/reference/config/policy-and-telemetry/templates/tracespan/ )

[2019-09-03 10:57] c0d1ngm0nk3y commented on #14782
We verified it with the same test as before. With v1.3-rc0, the error occured. With v1.3-rc1, the memory consumption looks good (as expected from @howardjohn)

![image](https://user-images.githubusercontent.com/13679746/64167790-6cd04100-ce4a-11e9-806d-4aa6342e056b.png)

[2019-09-03 12:16] omerlh opened #16767 "Mixer failed to start after changing global proxy settings"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
I changed the global proxy settings on the values.yaml, to lower proxy requests and limit resources. I deployed the changes on one cluster, and it w

[2019-09-03 12:47] vadimeisenbergibm opened #16768 "Make Istio-init resilient to erroneous init-containers restarts"
**Describe the feature request**
There could be buggy situations in some Kubernetes environments where init containers run multiple times, see https://github.com/kubernetes/kubernetes/issues/67261, https://github.com/istio/istio/issues/16473, https://stackoverflow.com/questions/49247931/kubernetes-init-containers-run-every-hour.

While these situations represent bugs/misconfigurations in Kubernete

[2019-09-03 12:51] vadimeisenbergibm commented on #16768
@costinm @sbezverk @rshriram what do you think ? ^

[2019-09-03 13:00] DJDANNY123 commented on #16297
Was an error with flannel not working correctly, restarting and verifying DNS was working (using alpine > busybox as error with busybox nslookup)

[2019-09-03 13:00] #16297 closed

[2019-09-03 13:45] SergiOn commented on #15826
Looks like Envoy set the cookie with some delay.
Maybe this is can be a root cost for this and https://github.com/istio/istio/issues/9764 issues.
I have the same issue with a fronted release with 2 subsets and canary release.
I assume that Envoy sends the file according to a path and after this, it sets a cookie.
That why sometimes the static files loading broken because of an incorrect subset.

[2019-09-03 13:57] #13086 closed

[2019-09-03 14:04] howardjohn commented on #16763
how did you install? are there pilot errors? errors in proxy logs?

[2019-09-03 14:09] howardjohn commented on #16607
@lambdai is there anyway to force long lived connections to stay open?

[2019-09-03 14:15] howardjohn commented on #16692
Prometheus monitors should he set up for all namespaces by default

[2019-09-03 14:23] clyang82 commented on #16763
use helm to install
`helm install install/kubernetes/helm/istio --name istio --namespace istio-system --tls -f install/kubernetes/helm/istio/values-istio-demo.yaml`

Here is error in pilot:
[code]
Not sure this issue is related with ipv6 or not.

Here is logs for proxy:

[code]

[2019-09-03 14:56] howardjohn commented on #10659
@vadimeisenbergibm for TCP hostnames are just used for DestinationRules/VirtualServices as far as I know, not by envoy directly

[2019-09-03 14:57] howardjohn commented on #16751
Its just an implementation detail, in new release we removed it because it
is misleading. 50% is ok

On Mon, Sep 2, 2019 at 11:47 PM blueskyll <notifications@github.com> wrote:

[2019-09-03 15:04] howardjohn commented on #16763
@lambdai this is because of the new split listener ipv6 binding I assume

@clyang82 what environment are you running on?

[2019-09-03 15:20] linsun commented on #11527
Think this is mostly done however we need cmd and script to download istioctl, and update doc as needed.  Re-assign to @irisdingbj to pick it up from @ibm-jason.

[2019-09-03 15:21] howardjohn commented on #16313
@esnible you have two open issues for this. Please take a look, we have less than a week

[2019-09-03 15:22] linsun commented on #15090
Re-assign to @ericvn - Would make sense to wait this until the prow dependency is removed (if that happens in 1.4ish timeframe).

[2019-09-03 15:24] howardjohn commented on #16312
Must document that SDS is no longer working on kubernetes 1.12 - https://github.com/istio/istio/issues/16754

[2019-09-03 15:28] howardjohn commented on #16416
@jnativio so was it environmental or was there a change that fixed it?

[2019-09-03 15:28] howardjohn commented on #16630
Fixed by #16483

[2019-09-03 15:28] #16630 closed

[2019-09-03 15:33] carolynhu commented on #16416
@mandarjog @howardjohn @jnativio What I currently can get is the following graph:
![base_serveronly_v2_vs_v3](https://user-images.githubusercontent.com/29208297/64187414-6f6c6f80-ce25-11e9-87e7-6c50803f441d.png)

[2019-09-03 16:00] esnible commented on #15255
This is marked P0, for 1.3, in areas UX, Telemetry, and Networking.  @mandarjog @douglas-reid Is there a telemetry person who can be assigned this item?

[2019-09-03 16:10] bianpengyuan commented on #16629
I dug a bit and looks like routeEntry is empty, which causes report missing destination service name:
https://github.com/istio/proxy/blob/06647a2aa53879cd78414131f256647fbea5e29f/src/envoy/http/mixer/filter.cc#L76

instead, directResponseEntry is populated, which is actually expected:
https://github.com/envoyproxy/envoy/blob/b28edcae3da369ed9969796f89118c1f898a27d9/include/envoy/router/router.h#L8

[2019-09-03 16:18] pitlv2109 commented on #16312
https://github.com/istio/istio.io/pull/4701

[2019-09-03 16:21] howardjohn commented on #16312
We need it in https://github.com/istio/istio/wiki/Release-Note-1.3-Draft or
the upgrade notice -- somewhere users will look at when they upgrade to
1.3. Any breaking changes should be called out in the release notes and
Upgrade Notice

On Tue, Sep 3, 2019 at 9:19 AM Phillip Quy Le <notifications@github.com>
wrote:

[2019-09-03 16:23] pitlv2109 commented on #16312
It's already in the release notes under the security notes.

[2019-09-03 16:27] howardjohn commented on #16312
Thanks!

On Tue, Sep 3, 2019 at 9:24 AM Phillip Quy Le <notifications@github.com>
wrote:

[2019-09-03 16:44] sushicw commented on #15412
https://github.com/istio/istio/pull/16350 has a lot of the groundwork for this.

[2019-09-03 17:03] SergiOn commented on #8076
I have something like it
[code]
the "/api" and "/api/" go to java-greeting-service "/"

[2019-09-03 17:05] esnible commented on #13279
@arjav-desai @mklettner any update on how this should be fixed?

[2019-09-03 17:08] esnible commented on #12501
This is not coming in 1.3.  Retargeting for 1.4 and adding networking area.  This is not a networking feature -- we must solve it in _istioctl_, but it relates to multicluster and we need to make sure that tests get created for it for the various networking styles.

[2019-09-03 17:10] duderino commented on #12115
@douglas-reid lgtm.  Looks like a nice addition to 1.3

Please close this issue if there is no more work remaining

[2019-09-03 17:17] duderino commented on #9838
@yangminzhu this will go out in 1.3 in one week.  If there is any additional testing to be done please do it now.  If you are satisfied with the current testing, then please close this.

[2019-09-03 17:20] duderino commented on #15631
@yangminzhu is anything left here?

[2019-09-03 17:20] esnible commented on #8320
The preliminary documentation for 1.3 shows that there is metrics for

- pilot_total_xds_rejects
- pilot_xds_cds_reject
- pilot_xds_eds_reject
- pilot_xds_lds_reject
- pilot_xds_rds_reject

There will also be new signals for Pilot detecting listener conflicts, and total rejected configs.

If this is working, whenever the number increases it implies a stale proxy.  I am not sure if the implementati

[2019-09-03 17:24] duderino commented on #16357
We are currently trying an asan intrumented build in @gotwarlost's env.  Our best guess is that this was introduced by the switch from libstdc++ to libc++

[2019-09-03 17:25] mandarjog commented on #15255
@Stono Is it ok if we move this to 1.3.x ? The related BlockHole / PassThru telemetry issue will address this problem.
I am moving this to 1.4, since 1.3.1 is not a label.

[2019-09-03 17:25] lambdai commented on #16763
The root cause is that some place holder of ipv6 is added to listener and cluster no matter ipv6 is supported or not.

Unfortunately some code eagerly instantiate ipv6 address from protobuf message and throws exception.

Will fix so that pilot won't generate ipv6 config if ipv6 is not supported on istio-proxy

[2019-09-03 17:28] duderino commented on #16273
The original LDS ACK errors are still an issue for 1.3 and since this is a regression it's a release blocker.

The fixes on this issue are for the unrelated "Protobuf message (type envoy.api.v2.Listener) has unknown fields" warning.

[2019-09-03 17:31] lambdai commented on #16273
ack

[2019-09-03 17:39] liminw commented on #16239
We are not actively maintaining this feature currently. I suspect the samples may be out of date. @kyessenov or @douglas-reid are able to help answer the questions on Mixer config changes. If there are questions on OPA semantics, I will refer it to @tsandall.

On the other note, according to @mandarjog, the existing Mixer adapters will be deprecated in 1.3 release. With Mixer V2 proposal, some of

[2019-09-03 17:45] duderino commented on #16581
@incfly can you double check and make sure this wasn't a silly mistake?

[2019-09-03 17:45] costinm commented on #14495
I think this is working as intended - since 1.0 we are recommending that mesh expansion uses MTLS, and it is going to be required for most cases of multi-cluster and mesh expansion with multiple networks, since the Gateway is using the SNI to route. Mesh expansion and multicluster require exposing pilot over a load balancer, with many clouds not supporting internal load balancers, and it is tricky

[2019-09-03 17:48] costinm commented on #14495
Re #14524 - the main goal/intent is to allow gradual switch to MTLS, not as a permanent solution where some parts of the network are clear-text, in particular the parts that are most at risk - mesh expansion and multi-cluster. So even if we have it working - it should not be used as a solution for this case.

[2019-09-03 17:50] linsun commented on #11841
Propose to move this to 1.4 since this is a new requirement.

cc @ericvn

[2019-09-03 17:54] ozevren commented on #15884
@jasonwzm Is this something that you can take a look at?

[2019-09-03 17:54] linsun commented on #13660
@howardjohn based on istio/tools#127. i am closing this out, please reopen if needed.

cc @mbanikazemi

[2019-09-03 17:54] #13660 closed

[2019-09-03 17:59] linsun commented on #13433
Anything remaining for this?

[2019-09-03 18:02] ozevren commented on #882
We have a design for multi-resource validation and an associated prototype for updating CRD status:
https://docs.google.com/document/d/1m19jkLyiIXNmUH_TYClRH-IOmuCJO4-vduy5KaCa99E/edit
https://github.com/istio/istio/pull/15824

Some of this work (analysis framework) is already landing in master as of this message. The CRD status controller should land in 1.4, off by default.

[2019-09-03 18:03] ozevren commented on #882
I am moving this issue to be config only, unless there are objections. @sushicw is already working on this area, so I am assigning this item to him for tracking.

[2019-09-03 18:04] linsun commented on #14650
This is probably not going to be an issue in 1.3, as we decided no need to ship strict mtls for demo profile.

[2019-09-03 18:05] ozevren commented on #8736
Moving this to v1.4

[2019-09-03 18:05] linsun commented on #14313
@JimmyCYJ any update?

[2019-09-03 18:07] israel-hdez opened #16774 "Helm file values-istio-demo.yaml is wrong"
**Bug description**

The `install/kubernetes/helm/istio/values-istio-demo.yaml` available in the released package defines the "global" key twice. There is one definition at the top:

[code]

and one at the bottom:

[code]

When rendering with:

`helm template install/kubernetes/helm/istio --name istio --namespace istio-system -f install/kubernetes/helm/istio/values-istio-demo.yaml`

definitions ar

[2019-09-03 18:20] howardjohn opened #16775 "e2e-dashboard Citadel test failure in postsubmit"
https://prow.istio.io/view/gcs/istio-prow/logs/e2e-dashboard-master/6501

[code]

Seems likely related to recent changes to citadel metrics

[2019-09-03 18:23] howardjohn commented on #16774
The globals appearing twice is intended. It not merging is not. However, I am not seeing it not merge..

[code]

Using helm 2.14 as well

[2019-09-03 18:24] duderino commented on #16659
@sdake agreed this is very important.  In our darkest hour, I'm not sure though whether we'd hold back the 1.3 release for it because it's not a regression

[2019-09-03 18:24] JimmyCYJ commented on #14313
This is not done yet. I will enable ingress SDS in existing security perf tests either this week or early next week.

[2019-09-03 18:25] incfly commented on #16581
I went through the process again, but still hit the same issue. `www.google.com` is unable to resolve.

- This time I install Istio with `helm  template` empty options.
- I confirmed there's no other Istio SE and VS defined in default namespace to interfere.

I got response when running

[code]

Below[1] is the sleep pod listener config snippet. We have two filter chain match, one with `prefix_ran

[2019-09-03 18:25] rlenglet commented on #16659
This is done, and made it into 1.3.0-rc.1.
https://github.com/istio/istio/pull/16727

[2019-09-03 18:25] #16659 closed

[2019-09-03 18:29] rlenglet commented on #16660
This is fixed in `release-1.3` by https://github.com/istio/istio/pull/16714.
This still needs to be fixed in `master`.

[2019-09-03 18:30] vishnuhd commented on #6388
@Asisranjan -  Just make sure you are installing gateway and virtual service in the same namespace as of the bookinfo app, I was not in my case :

[code]

[2019-09-03 18:31] vishnuhd commented on #6511
I was able to fix it, just make sure you are installing gateway and virtual service in the same namespace as of the bookinfo app, I was not in my case :

[code]

[2019-09-03 18:31] howardjohn opened #16776 "Istioctl verify-install allows more kubernetes versions than documented"
[code]

But our docs say

Kubernetes 1.12 will not work with SDS enabled, so this is a bit misleading

Also

should be Sidecar-Injector?

[2019-09-03 18:35] incfly commented on #14495
+1 on #14524 is mainly for rollout, but I think there's a difference between mesh expansion vs what's been requested here?

- mesh expansion workloads run envoy sidecar on the VM, they are part of the mesh.
- @uk000 requests here, IIUC, is having a destination service that happens to be partially replicated on VM, but haven't use Istio mesh expansion, not installed sidecar.

In some sense, their V

[2019-09-03 18:38] sushicw opened #16777 "Merge `istioctl experimental analyze` into `istioctl validate`"
`istioctl experimental analyze` is a new experimental command to support multi-object analysis & validation. `istioctl validate` already exists, and does single-object validation. Rather than having disjoint commands for the job of fully validating istio config, we'd like to combine them, so that `istioctl validate` can handle both single and multi-object validation, against either files or a live

[2019-09-03 18:38] howardjohn commented on #16581
My config (works fine)

[code]

[2019-09-03 18:44] Monkeyanator commented on #16775
I believe tests began to fail when #16280 was merged, and then was fixed when #15784 (which ignores more of the Citadel metrics) got merged. Could be that #16280 passed CI before Citadel dashboard test was in. Still need to address the issue that migration from Prom breaks metric tests where the value remains at zero.

Should be safe to close.

[2019-09-03 18:49] mariusmitrofan opened #16778 "httpsRedirect at Gateway causes redirect loop when used in AWS EKS with ACM cert"
**Bug description**
When used in AWS EKS, the release version 1.2.5 of istio (installed using helm), causes a continuous HTTPS redirect loop if the value of `tls.httpsRedirect` is set to `true` at the Gateway level.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x] Networking
[ ] Performance and Scalability
[ ] Policies a

[2019-09-03 19:09] howardjohn commented on #16778
do you know if this happened on older releases? specifically like 1.2.2? we had a similar issue fixed since then, but I suspect the root cause is different

I'll try to reproduce this

[2019-09-03 19:12] esnible commented on #16724
@JimmyCYJ `istioctl` already has tools for investigating /config_dump.  What do you get from the config_dump that you can't get with `istioctl proxy-config`?

We do not have anything to look at /certs.  I would like to see a command that outputs the cert expiration and serial number.  The proposed `istioctl experimental sds` will print this, but only for SDS secrets.  Is there anything else you ar

[2019-09-03 19:17] esnible commented on #16777
I think we agreed to call it `istioctl experimental describe`, not `analyze`.

[2019-09-03 19:21] esnible commented on #16761
Duplicate of https://github.com/istio/istio/issues/12501

[2019-09-03 19:21] #16761 closed

[2019-09-03 19:26] esnible commented on #16667
Closing as WONTFIX-FOR-NOW.  Run `istioctl version | uniq` on OSX and Linux for the experience you are asking for.  Only a problem with artisanal control planes.

[2019-09-03 19:26] #16667 closed

[2019-09-03 19:29] ozevren commented on #12033
The new config processing pipeline in Galley (currently off by default) can detect changes to the CRDs and adapt. It can also startup with a limited set of CRDs.

[2019-09-03 19:30] yangminzhu commented on #9838
@duderino I think we're good to go for this, thanks!

[2019-09-03 19:30] #9838 closed

[2019-09-03 19:37] jnativio commented on #16416
@howardjohn I am pretty sure that the drop was not caused by some environment change as I had rerun the scenario with a previous build and got good results, and today I reran with one of the affected builds and got bad results (see chart below). But as I said before, that regression affected 1.3 builds from 08/13 to  08/19 and since then the results have been in parity with 1.2 and even better tha

[2019-09-03 19:40] costinm commented on #14496
Using DNS means most load blanacing capabilities are lost - and we rely on DNS to handle load balancing. I don't think this is ideal.

While it's true that currently Pilot is not supporting health/load reports and it is not actually doing advanced subseting - we are planning to do it, and any solution based on not using EDS would be
incompatible with more advanced load balancing.

[2019-09-03 19:42] jnativio commented on #16416
@carolynhu So, given what I explained above, in order to verify if there was really a temporary regression on 1.3, you should get a build from that period and compare the results with the current ones.

[2019-09-03 19:42] howardjohn opened #16780 "telemetry-k8s test fails with too many child spans"
https://prow.istio.io/view/gcs/istio-prow/logs/integ-telemetry-k8s-postsubmit-tests-master/712
https://prow.k8s.io/view/gcs/istio-prow/logs/integ-telemetry-k8s-postsubmit-tests-master/651

Gets errors like

[code]

Should this be an error? Should we expect `>= 2` instead of `== 2`?

[2019-09-03 19:42] costinm commented on #14496
An opposite solution would be for Pilot to resolve the DNS fallback address, and treat the result as discovery info pushed in EDS. The problem is that more advanced DNS load balancers would be confused - but it might work well with simple round-robin DNS.

[2019-09-03 19:47] kramvan1 opened #16781 "ISTIOCTL 1.3.0-rc-1 structToJSON not defined"
**Bug description**

`istioctl kube-inject --injectConfigFile build/metadata/istio-1.3.0-rc.1/inject-config.yaml --meshConfigFile build/metadata/istio-1.3.0-rc.1/mesh-config.yaml --valuesFile build/metadata/istio-1.3.0-rc.1/inject-values.json -f istio-1.3.0-rc.1/samples/bookinfo/platform/kube/bookinfo.yaml -o _deployment.yaml`

Looks like the following PR is causing the issue:
https://github.com/i

[2019-09-03 19:47] carolynhu commented on #16416
Ok, thanks for your information. Will do soon.

On Tue, Sep 3, 2019 at 12:43 PM jnativio <notifications@github.com> wrote:

[2019-09-03 19:49] mandarjog opened #16782 "Stackdriver Mixer Adapter: spammy "out of order" errors"
When out of order data is delivered to Stackdriver, it responds with an error.
Mixer adapter prints the entire contents of that message to stdout. This is very spammy and puts extra burden on Mixer.

This should be fixed in master/1.3 and back ported to 1.2.

[2019-09-03 19:50] mandarjog commented on #16782
@carolynhu If you would like you can pick this up from Peter. @bianpengyuan Please help carolyn if she wants to pick it up, Thanks.

[2019-09-03 19:58] esnible commented on #15469
This is marked P0 for 1.3.  What is needed?

[2019-09-03 20:10] maxdebayser opened #16784 "Helm: Secret name mismatch in K8S ingress gateway"
**Bug description**

In `istio/install/kubernetes/helm/istio/charts/gateways/templates/preconfigured.yaml` the certificate mount path is hardcoded to:

      serverCertificate: /etc/istio/ingress-certs/tls.crt
      privateKey: /etc/istio/ingress-certs/tls.key

**Affected product area (please put an X in all that apply)**

[] Configuration Infrastructure
[ ] Docs
[ X] Installation
[ ] Networking
[

[2019-09-03 20:14] maxdebayser commented on #16784
If this is confirmed to be a problem I'm willing to write and test a fix.

[2019-09-03 20:19] mariusmitrofan commented on #16778
The istio install was done from scratch, so I wouldn't know...

[2019-09-03 20:20] sushicw commented on #16777
https://github.com/istio/istio/pull/16350. (Not yet in master, but should be imminently).

[2019-09-03 20:28] douglas-reid commented on #12115
I believe this can be closed now.

[2019-09-03 20:30] frankbu commented on #15469
Given the issues described above, I don't think we should make any changes here, so I would suggest closing. Otherwise move it to a future release.

[2019-09-03 20:33] ozevren commented on #12083
@Nino-K are you still on this?

[2019-09-03 20:33] rvennam opened #16785 "Evaluate if we can enable rewriteAppHTTPProbe by default"
**Describe the feature request**
To configure health checking with the HTTP request option when mutual TLS is enabled, the doc suggests users to either install Istio with the sidecarInjectorWebhook.rewriteAppHTTPProbe=true Helm installation option, or modify the  sidecar config map
https://istio.io/docs/ops/setup/app-health-check/#probe-rewrite

This is a user experience item that can be improved

[2019-09-03 20:34] GregHanson commented on #16439
related PR which introduces a tracked istio label:
https://github.com/istio/istio/pull/16779

[2019-09-03 20:37] JimmyCYJ commented on #16724
@esnible Thanks for asking.
For Citadel agent and Citadel, we propose to add debug endpoints. @Monkeyanator already adds a debug endpoint into Citadel agent, and the istioctl experimental sds collects outputs from that endpoint. I would like to have istioctl to get output from Citadel's debug endpoint as well.

We have added CtrlZ into Citadel agent and Citadel, that supports changing the log leve

[2019-09-03 20:52] memorais opened #16787 "Unable to build rpm proxy"
**Bug description**
Trying to build rpm proxy result in error on build process.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ X ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
It should gener

[2019-09-03 21:05] Nino-K commented on #12083
No I have not done any work on this, as I got involved in other works with higher priority. Feel free to unassigned me.

[2019-09-03 21:10] douglas-reid commented on #14658
It sounds like this issue is resolved ?  Is that correct?

I'm going to close this issue. Please reopen if I have the wrong understanding of state.

[2019-09-03 21:10] #14658 closed

[2019-09-03 21:11] douglas-reid commented on #14211
@kyessenov i think, given the state of Mixer, that is safe to say that this issue will not be resolved. I'm going to close it (status: WON'T FIX).

Please re-open if you feel this should require attention.

[2019-09-03 21:11] #14211 closed

[2019-09-03 21:14] douglas-reid commented on #15958
i believe this has been fixed, and should be in the next 1.2.x release and the 1.3 release. Closing.

please re-open if this is not the case.

[2019-09-03 21:14] #15958 closed

[2019-09-03 21:29] lei-tang commented on #16606
Istio release 1.3 uses new k8s JWT (https://github.com/istio/istio/pull/16147), which breaks the user guide of Istio Vault CA integration for release 1.3. The PR https://github.com/istio/istio.io/pull/4904 temporarily disables the user guide of Istio Vault CA integration for release 1.3.

[2019-09-03 21:40] israel-hdez commented on #16774
@howardjohn I think the better way to test is to generate two YAMLs. One with the provided values-istio-demo.yaml and, then, patching it.

So, save this patch file in the chart directory which should unify the duplicated globals:

[code]

Then run these commands:

[code]

Diff is quite large, so I'm not pasting it here.

[2019-09-03 22:25] yxue opened #16791 "[Istio 1.3.0-RC.1 community test] integrating virtual machines"
Follow the steps on this [page](https://preliminary.istio.io/docs/examples/mesh-expansion/bookinfo-expanded/). Cannot connect to MySQL service on the VM.

Error message from product page website:

Message from Pilot:

[code]

Config dump:
<details>
[code]

[2019-09-03 22:43] howardjohn commented on #16780
Fixed #16788

[2019-09-03 22:43] #16780 closed

[2019-09-03 22:44] howardjohn commented on #16781
You need to upgrade istioctl as well, have you done this?

[2019-09-03 23:39] yangminzhu opened #16793 "istio-codecov-master fails with unknown import path"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
It seems the error is returned by `go tool cover -html=coverage.cov -o coverage.html` in codecov.sh, maybe also related to the switching to GO111MOD

[2019-09-03 23:40] #16775 closed

[2019-09-03 23:41] yangminzhu commented on #16793
@geeknoid @howardjohn @sushicw @kyessenov
I pushed a [commit](https://github.com/istio/istio/pull/16602/commits/20a21efba167af663ad9157f515bea95e52da61f) that removes the `go tool cover -html=coverage.cov -o coverage.html` to test if it fixes the issue. The coverage.html is never used after its generation so probably we can just remove the statement if this fixes the issue.

[2019-09-03 23:46] ostromart opened #16795 "Unexpected output in mesh manifest diff"
Diffing the attached two files doesn't produce equivalent output to what is seen with mesh profile diff. Not all different fields are reported as such (only changes, not missing).

File1:

apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-galley-configuration
  namespace: istio-system
  labels:
    k8s-app: istio
    addonmanager.kubernetes.io/mode: Reconcile
    app: galley
    chart: galley

[2019-09-03 23:48] ostromart commented on #16795
I suggest the following workaround if it cannot be resolved: if the --verbose flag is set, use the old style diff, same as used in the mesh profile diff. This will at least give a temporary workaround.

[2019-09-03 23:55] geeknoid commented on #16793
Aren't we uploading this data to codecov.io?

[2019-09-03 23:58] geeknoid commented on #16793
Oh never mind, we need the coverage.cov file, not the html.

[2019-09-04 00:00] yangminzhu commented on #16793
@geeknoid Well, when debugging this I just realized `coverage.cov` is also not uploaded due to missing the token:
[code]

[2019-09-04 00:01] howardjohn commented on #16793
I think the upload doesn't work anyways, see
https://github.com/istio/istio/issues/16181

On Tue, Sep 3, 2019 at 4:59 PM Martin Taillefer <notifications@github.com>
wrote:

[2019-09-04 00:02] yangminzhu commented on #16793
@geeknoid @howardjohn @kyessenov @sushicw Okay, removing the `go tool cover -html=coverage.cov -o coverage.html` fixed the issue in https://github.com/istio/istio/pull/16602, I will send out the fix in a standalone PR.

[2019-09-04 00:08] geeknoid commented on #16793
Yeah, I think that's fine.

On Tue, Sep 3, 2019 at 5:03 PM Yangmin Zhu <notifications@github.com> wrote:

[2019-09-04 00:22] lambdai commented on #16273
I repeated kill envoy process with kill -9 but I haven't reproduce.
Is `cannot bind ` permanent or it would disappear after envoy restarts?

[2019-09-04 00:45] richardwxn opened #16797 "go test fail for undefined flags on go 1.13"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
some e2e tests fail on go 1.13 for the error: flag provided but not defined:-test.v. Run with go 1.12 instead works fine.

**Affected product area (

[2019-09-04 00:53] yangminzhu commented on #15631
@duderino We need one more PR to expose the opt-out flag to users: https://github.com/istio/istio/pull/16798, sorry I added it only in the filter config before but forgot to expose it in pilot.

[2019-09-04 00:56] mandarjog opened #16799 "V2 telemetry emits durations in `millis` instead of `seconds`"
V2 telemetry in 1.3.0.rc1 emits latency numbers in `milliseconds`.
Mixer telemetry emits them in `secods`, which is what the dashboard assumes.

Update the dashboard so that it works both with the `istio_requests_duration` and `envoy_requests_duration_seconds` and scales `envoy_requests_duration_seconds` by `/1000.0`

[2019-09-04 00:57] mandarjog commented on #16799
consider updating the metric name to `istio_request_duration_milis`

[2019-09-04 00:58] kidiyoor commented on #16220
`--set-string` didn't help

[2019-09-04 01:05] howardjohn commented on #16220
try `--set global.proxy.accessLogFormat='\{ "start_time": "%START_TIME%" \}' `, seems to work for me

[2019-09-04 01:16] howardjohn commented on #16774
Hmm interesting.. It seems like it works in some places and doesn't work in other places, that is weird. Definitely something that needs to be fixed

[2019-09-04 01:28] linsun commented on #16781
would be good to print out istioctl version output

[2019-09-04 01:31] #16793 closed

[2019-09-04 02:16] howardjohn commented on #16797
should be an easy fix, we need to parse flags in test main instead of init - I had a PR doing exactly this but for a different test. I assume that's the problem at least, I didn't try

[2019-09-04 02:19] JimmyCYJ commented on #16312
Done for SDS related features.

[2019-09-04 02:20] JimmyCYJ commented on #16312
@myidpt Could you please double check and let me know if anything else is needed?

[2019-09-04 02:20] irisdingbj commented on #16781
Tried using the istioctl within the 1.3.0-rc-1 and it works well:
[code]

[2019-09-04 02:25] vadimeisenbergibm commented on #12021
@jkbschmid Do you still have this issue?

[2019-09-04 02:31] howardjohn commented on #16749
To disable mixer telemetry pass `--set mixer.telemetry.enabled=false` in helm. Or from the config map set `mixerReportServer: ""`

[2019-09-04 02:32] howardjohn commented on #16743
Done in #16748. Thanks!

[2019-09-04 02:32] #16743 closed

[2019-09-04 02:32] howardjohn commented on #16658
@lambdai does envoy support this?

[2019-09-04 02:35] howardjohn commented on #16581
Interesting.. I went on @incfly cluster and found that when applying the SE, it works for like a second, then back to failing.. will investigate more tomorrow

[2019-09-04 02:55] duderino commented on #16791
@howardjohn @costinm could you take a look and suggest where to start with this one?

[2019-09-04 03:01] howardjohn commented on #16581
ok this is really weird.. when I run `curl -v` it fails and when I run `curl` it works?

If I run [httpie](https://httpie.org) it works ~60% of the time.

[code]

[code]

[2019-09-04 03:07] howardjohn commented on #16581
access log for failed and successful requests look like

[code]

They always show `0`, not `200`. Maybe this is expected for https

[2019-09-04 03:14] rshriram commented on #16309
Thanks for piling in info folks.  I have cleaned up the traffic management section, and added a few more missing things like fixes for mysql in permissive mtls, etc.

[2019-09-04 03:15] #16309 closed

[2019-09-04 03:25] incfly commented on #16581
did you turned on access log somehow? Is that a mesh config field?

one thing I noticed unusual is, for httpbin.org, even though service_entry creation makes a difference, but I can't see the access log entries in sidecar about request.

[2019-09-04 03:27] howardjohn commented on #16581
yes I turned them on via mesh config. I switched  the service entry from
google.com to httpbin.org to make sure it wasn't some google thing and
seems to have same behavior

On Tue, Sep 3, 2019 at 8:26 PM Jianfei Hu <notifications@github.com> wrote:

[2019-09-04 03:28] incfly commented on #16581
I recalled that I once tried cilium, maybe in this cluster. I do delete the deployments and no longer see the cilium pods in kube-system ns, but this might have some left over effect...

I'll create another cluster with same GKE version to see if this can be reproduced...

[2019-09-04 03:28] rlenglet commented on #16763
#16786 hasn't been backported into release-1.3. @lambdai needs to backport #16786 manually.

[2019-09-04 03:31] duderino commented on #16581
@rlenglet ^

[2019-09-04 03:43] howardjohn commented on #16799
is it feasible to have it output the same metrics? it would be nice to be able to smoothly transition to v2 without having to change the dashboards. And for kiali, custom dashboard, etc

[2019-09-04 03:44] rlenglet commented on #16581
Cilium can clean up after itself when the daemonset is deleted:
install/kubernetes/cilium/charts/agent/templates/daemonset.yaml
But that's done only when the `CILIUM_FLANNEL_UNINSTALL_ON_EXIT` environment variable is set to `true`:
https://github.com/cilium/cilium/blob/8ce482fd82d996f01099803db4f3ea673901172b/plugins/cilium-cni/cni-uninstall.sh#L37
And `CILIUM_FLANNEL_UNINSTALL_ON_EXIT ` is set to

[2019-09-04 03:46] blueskyll commented on #16751
Why discovery container need so much cpu when group changes?

[2019-09-04 03:50] howardjohn commented on #16751
it generates a lot of config and pushes it to every proxy in the mesh. In
pilot 1.3 it uses 10x less CPU. If you have a big mesh define  Sidecar
resource to reduce cpu

On Tue, Sep 3, 2019, 8:47 PM blueskyll <notifications@github.com> wrote:

[2019-09-04 04:02] incfly commented on #16581
Thanks for the pointer @rlenglet but I just created another fresh new cluster and findings are similar to what @howardjohn described. So culprit is not potential cilium leftover.

- When mesh is in `ALLOW_ANY` mode, no ServiceEntry defined, curl consistently succeed, regardless whether -i -v params are passed to `curl`
- When mesh is in `REGISTRY_ONLY` mode, if ServiceEntry for Google.com is confi

[2019-09-04 04:05] #16200 closed

[2019-09-04 04:06] howardjohn commented on #16581
I didn't pass -I but when I pass -v it fails sometimes and without -v it
works every time

On Tue, Sep 3, 2019, 9:03 PM Jianfei Hu <notifications@github.com> wrote:

[2019-09-04 04:07] hzxuzhonghu commented on #16581
Is this only on GKE?   `-v` does not change curl behavior.

[2019-09-04 04:13] jmazzitelli commented on #16799
I agree with @howardjohn .... I suggest you add a new metric with the new time unit rather than re-using the same metric name but changing to ms instead of seconds - at least as a temporary bridge. Otherwise, there will be breakage in ANY client using telemetry (it isn't just dashboards and kiali - its anyone that is looking at telemetry - I bet there are people out there with scripts that query p

[2019-09-04 04:14] rlenglet commented on #16581
I guess `-v` changes the timing of messages due to the verbose printing into stdout.
Could it be caused by protocol sniffing?

[2019-09-04 04:17] rlenglet commented on #16581
The default protocol detection timeout is `10ms`: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values.yaml#L217
@incfly Could you please try setting it to a much higher value, e.g. `10s`? I'd like to rule this out first since it's a recent feature, and the only short timeout I'm aware of in Envoy.

[2019-09-04 04:17] mandarjog commented on #16799
Before we call this “ready” it will be identical to the current metric.
This issue is so that the preview can be used.

My 1st comment is what you are asking for, add a new _milisecond metric.

[2019-09-04 04:20] howardjohn commented on #16581
that is a great point. we aren't doing protocol sniffing, but we did add a
new setting that makes the tls inspector time out after 10ms. We must be
too slow, we should bump up the time

On Tue, Sep 3, 2019, 9:18 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-09-04 04:22] rlenglet commented on #16581
Is there an easy way to tell from the `istio-proxy` logs? If this is the issue, I bet it will happen frequently to users, and we should have a quick way of diagnosing this.

[2019-09-04 04:28] howardjohn commented on #16581
I had debug logging on and I didn't notice anything, but maybe I was not
looking for the right thing.

This whole timeout is kind of concerning, that a slow request will be
broken. How long do we set it? No matter what users will hit the timeout at
some point

On Tue, Sep 3, 2019, 9:23 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-09-04 04:31] incfly commented on #16581
@rlenglet changing to 10s does make a difference, now `curl -i -V` reliably succeeds. Great sniffing on the protocol sniffing's problem!

+1 on the tricky to set the timeout...

[2019-09-04 04:35] incfly commented on #16581
/cc @incfly

[2019-09-04 04:42] yxue commented on #16581
To be clear, the timeout is not only for http inspector, it's for all listener filters. If one of the listener filters times out (in this case, it's very likely to be tls inspector), the default filter chain will be used.

@rshriram 10ms seems to be too short. I am going to increase the timeout to 150ms. It could possibly affect MySQL. WDYT?

[2019-09-04 04:46] myidpt commented on #16606
We will remove the Vault CA integration from istio.io.

[2019-09-04 05:02] duderino commented on #16581
@yxue that means that Envoy will wait *up to* 150ms to receive data from the downstream, but will abort as soon as any data is received?

10ms is a long time between the connect and sending data.  I'm surprised that's not sufficient.

150ms could be a DoS vector.   You could trick Envoy into opening tons of sockets and keeping them open until all ports are exhausted.

I wonder if we should keep it

[2019-09-04 05:02] rlenglet commented on #16581
For `release-1.3`, the best we can do is set this timeout to a relatively high value to avoid most timeouts. What are the side effects of using a high value? I doubt this increases resource consumption, right?

Post-1.3.0-release, could we think of a design that doesn't rely on a timeout? Why do we need to time out in the first place?

[2019-09-04 05:04] rlenglet commented on #16581
With `curl -v`, there may be 1+ roundtrips between the GKE cluster and the client's shell to print out debug messages. I could see that add up to more than 10ms.

[2019-09-04 05:05] howardjohn commented on #16581
this feature original had no timeout, I think it was added so things like
MySQL work which are server first protocols

On Tue, Sep 3, 2019, 10:03 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-09-04 05:07] duderino commented on #16581
is the feature without timeout in 1.2 or earlier?

[2019-09-04 05:10] duderino commented on #16581
Is this used for ingress gateways too or only sidecars?

[2019-09-04 05:12] yxue commented on #16581
There is no timeout in 1.2 and earlier.

It's introduced by these two PRs:
Envoy PR: https://github.com/envoyproxy/envoy/pull/7859
Istio PR: https://github.com/istio/istio/pull/16223

[2019-09-04 05:16] yxue commented on #16581
150ms is the timeout from for listener filters. Envoy will wait up to 150ms for listener filters to inspect the packet in Istio's case.

[2019-09-04 05:20] yxue commented on #16581
150ms is the timeout from for listener filters. Envoy will wait up to 150ms for listener filters to inspect the packet in Istio's case. Even though data is received, Envoy will still for listener filters.

[2019-09-04 05:27] duderino commented on #16581
Is there a way to disable this/is it only enabled by some special config or can we only increase the timeout?    I think there needs to be a way of disabling it (e.g,. if 0ms don't use protocol detection)

When it is enabled, I think it needs to be easy to debug so we and our users are not always chasing intermittent needle-in-a-haystack timeouts.

Is there a design doc perhaps for this?

[2019-09-04 05:29] duderino commented on #16581
design doc:  https://docs.google.com/document/d/12Z_oFCFn3_rTWbQsuR1GmjU5_WZVkBTJwFpFMx802Ns/edit#heading=h.t9r3j7wzaz04

[2019-09-04 05:40] omerlh commented on #16767
For some reason, not it's working 🤷‍♂

[2019-09-04 05:40] #16767 closed

[2019-09-04 05:42] lambdai commented on #16581
The downside of a large timeout is the server protocol will experience the timeout at each sidecar.

[2019-09-04 05:47] lambdai commented on #16581
Debugability: each inspector (tls and http) exports counter of failure reason see https://github.com/envoyproxy/envoy/blob/master/source/extensions/filters/listener/tls_inspector/tls_inspector.h#L21-L30
Wait, the counter is not bump if it's the listener decide to bypass the listener filter. Let me see if there is any log/counter binding to listener timeout...

[2019-09-04 05:51] lambdai commented on #16581
Nope. Will add one counter

[2019-09-04 05:52] yxue commented on #16581
I think we can use this counter https://github.com/envoyproxy/envoy/blob/d504fde0ffd97017d1ddff8caa9a3b46bba9ae48/source/server/connection_handler_impl.cc#L159

[2019-09-04 05:54] irisdingbj commented on #14581
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.0-20190901-13-15/docker/
Verified manually using build from above location:
tar -xzvf pilot.tar.gz
x 2ff8468ce2734509af6280902a3718b8f862b3e155e747bfbde7aa2147f50a7f/
x 2ff8468ce2734509af6280902a3718b8f862b3e155e747bfbde7aa2147f50a7f/VERSION
x 2ff8468ce2734509af6280902a3718b8f862b3e155e747bfbde7aa2147f50a7f/json
x 2ff8468ce2734509a

[2019-09-04 05:56] irisdingbj commented on #14581
@sdake please check above comments. If no objections, I will close this issue.

[2019-09-04 06:17] sdake commented on #14581
@irisdingbj tar has varyiing behaviors on different platforms.

Please use the file command to determine what hte metadata is.  The file type should be of type gzip or tar/gzip, not tar alone.  In the past the file was only tar, but misnamed.

[2019-09-04 06:18] charanrajb commented on #16608
istio pods are crashing under load.

mixer logs of telemetry:
[](url)
2019-09-04T06:07:40.199084Z	info	transport: loopyWriter.run returning. Err: connection error: desc = "transport is closing"
2019-09-04T06:07:40.199898Z	info	pickfirstBalancer: HandleSubConnStateChange: 0xc428b506e0, TRANSIENT_FAILURE
2019-09-04T06:07:40.200069Z	info	pickfirstBalancer: HandleSubConnStateChange: 0xc428b506e0, CONN

[2019-09-04 06:31] sdake commented on #14581
1.3 is also broken: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-1.3-latest-daily/docker/

the `file` command shows these are posix archives, and not gzipped.  Yet the extension ends in gzip.  @howardjohn - is it possible that in some way gcs is mishandling these files on upload?

[2019-09-04 07:00] johscheuer commented on #12602
We also ran into this issue and worked around it by setting the `replicaCount` for all components greater than 1.

Actually resolving this issue has some challenges from my which i'm not sure how to solve best:

We want to create a `PodDisruptionBudget` only in the following cases:

- `replicaCount` is set to 1 or greater
- When `PodDisruptionBudget` is activated obviously

but what if you don't s

[2019-09-04 07:47] VinothChinnadurai commented on #16692
Yeah.. is that possible to set it separately for individual namespace? or do we can have multiple istio control planes for each environment hosted in some unique namespaces

[2019-09-04 07:52] jotak commented on #16799
@jmazzitelli maybe in kiali we'll want to keep backward compatibility? (e.g. with some setting flag to disable telemetry v2). Or once 1.3 is supported we drop support for all previous versions?

[2019-09-04 07:57] irisdingbj commented on #14581
finally found the issue: we will update the images later in ocker_tag_push_lib.sh and in this it missed the gzip step and remain the file name as tar.gz.

[2019-09-04 08:02] #15846 closed

[2019-09-04 08:23] holgero commented on #13086
It was a corner case anyway and we found our way around it in the mean time.

[2019-09-04 08:24] jfeddern opened #16806 "Route traffic for multiple hosts through egress gateway doesn't work"
**Bug description**

Hi there,
we are trying to route our whole external traffic through the egress gateway. I started with a simple example (configuring external traffic to google and cnn) but unfortunately this doesn't work and I receive the following error, when trying to access https://edition.cnn.com

[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Inf

[2019-09-04 08:25] jkbschmid commented on #12021
@vadimeisenbergibm I haven't seen the issue lately.

[2019-09-04 09:07] jfeddern commented on #16806
Here is another sample configuration:

[code]

Which lead to the same error. Within the pilot logs I can see the following message:
[code]

[2019-09-04 11:12] stewartbutler commented on #15273
I've created a PR over on the istio/operator repository that should fix this (https://github.com/istio/operator/pull/249).

[2019-09-04 12:22] vadimeisenbergibm commented on #12021
OK, @jkbschmid, thanks, if so, could you please close this issue?

[2019-09-04 12:55] jwlai opened #16807 "Can Rewrite Rules help fix URL Access (or is it a code moddification)"
![image](https://user-images.githubusercontent.com/4219846/64256338-43b6bb80-cef1-11e9-8042-1f1ec57882f7.png)
![image](https://user-images.githubusercontent.com/4219846/64256363-4e715080-cef1-11e9-9d4f-38c325a225dc.png)

Hi community,

I just needed some help here. I have the following situation where the first [url]/frontend returns 200 (which is the index of my react application) but when it tri

[2019-09-04 13:01] dhineshbabuelango opened #16808 "Pods deployed in istio-injected namespace are not getting started after scheduled shutdown"
Hi All,
We are using istio in EKS.
We have 4 worker nodes, we used to shutdown the worker nodes as part of the daily shutdown(edit the autoscaling group min and max to zero) and provision the instance next day morning(edit the autoscaling group).
Once the worker nodes comes up all the pods which has istio-label injected are not getting restarted automatically.
**Even all the istio components in is

[2019-09-04 13:26] #16797 closed

[2019-09-04 13:32] #12021 closed

[2019-09-04 13:40] howardjohn commented on #16692
I am not the telemetry expert but I haven't heard of anyone doing that - I suspect we don't support it out of the box but you could configure Prometheus to do it

[2019-09-04 13:45] howardjohn commented on #16581
my 2c -

With no timeout (infinite), we either succeed 100% (https) or 0% (MySQL). if you fail all the time you know you have a problem and we can make it easily to debug and fix.

If we add a timeout, your https requests will fail say 1% of the time, which is hard to debug, and your MySQL requests may work but they are really slow, which is both hard to detect and debug. Additionally, a timeout m

[2019-09-04 14:02] mandarjog commented on #16608
@charanrajb these logs do not contain enough info.

In the mean time you can Ensure enough cpu is available to istio-telemetry , 0.6 vcpu per 1000 mesh requests per sec. if you prescale telemetry and then scale it down that would also help.

Please attach complete logs from istio-telemetry, including logs using “-p” so it included logs from the previous version of the pod.

[2019-09-04 14:30] kramvan1 commented on #16781
Dang, had a typo in my build script and it ended up using the an older version, sorry for the chaf.

[2019-09-04 14:30] #16781 closed

[2019-09-04 15:46] howardjohn commented on #16808
Hey @dhineshbabuelango thanks for reporting. This is a somewhat common probably we are tracking in https://github.com/istio/istio/issues/13840. I am going to close this so we can consolidate our efforts there.

I would recommend reading through there for some more info, as well as https://github.com/istio/istio/wiki/Troubleshooting-Istio#sidecar-injection. Thanks!

[2019-09-04 15:46] #16808 closed

[2019-09-04 15:48] howardjohn commented on #13840
Seems like a bug in kubernetes, see https://github.com/kubernetes/kubernetes/issues/80313

[2019-09-04 15:51] howardjohn commented on #16434
Hey all, thanks for the reports. We are tracking and actively working on this issue in https://github.com/istio/istio/issues/13840. Lets consolidate this in one place to make things easier. Thanks!

[2019-09-04 15:51] #16434 closed

[2019-09-04 15:53] howardjohn commented on #16266
We are tracking this in https://github.com/istio/istio/issues/16458. Thanks for the report!

[2019-09-04 15:53] #16266 closed

[2019-09-04 15:54] howardjohn commented on #15838
We are tracking failure to connect to the injector in https://github.com/istio/istio/issues/13840. Lets consolidate our efforts there,

thanks for the report!

[2019-09-04 15:54] #15838 closed

[2019-09-04 15:57] howardjohn commented on #15290
duplicate of https://github.com/istio/istio/issues/15290

[2019-09-04 15:57] #15290 closed

[2019-09-04 15:57] howardjohn commented on #15290
I meant https://github.com/istio/istio/issues/15410

[2019-09-04 15:58] howardjohn commented on #15275
original issue appears to be fixed

[2019-09-04 15:58] #15275 closed

[2019-09-04 16:02] howardjohn commented on #14087
I don't think there is anything to do here. We have some workarounds presented, and a proper long term fix in #16539

[2019-09-04 16:02] #14087 closed

[2019-09-04 16:04] howardjohn commented on #13914
We are tracking this in https://github.com/istio/istio/issues/16458. Thanks for all the reports to help us pin down this issue.

[2019-09-04 16:04] #13914 closed

[2019-09-04 16:11] howardjohn commented on #16807
Please take a look at virtual service, you should be able to rewrite: https://istio.io/docs/reference/config/networking/v1alpha3/virtual-service/#HTTPRewrite

[2019-09-04 16:20] Stono commented on #15255
<img width="659" alt="Screenshot 2019-09-04 at 17 19 05" src="https://user-images.githubusercontent.com/1486729/64272855-1ccfa800-cf38-11e9-95c8-5d286f17633d.png">

I mean selfishly this is causing us operational issues now - so the sooner the better really, it's _really_ hard for people to debug what's going on if there isn't a trace (the only way is to turn on debug proxy logs which our front li

[2019-09-04 16:25] Stono commented on #8320
I'm not sure it is really what I am looking for... an increase shows that a proxy has stale config until as such a time a push is successful.  Most of the time the situation would resolve itself and without the deterministic metric of `proxy_stale_config{pod="some-pod"} 0|1`, the alert could never resolve

[2019-09-04 16:25] howardjohn opened #16813 "503s in performance cluster with autoscaling"
In the service-graph tests we added a new configchanger that will scale deployments up and down. When we added this, we see 503s correlated with scaling up/down events.

This occurs on 1.3, but possibly also on older version as well.

Example: https://snapshot.raintank.io/dashboard/snapshot/dP4MxaYuFOJZvy2nBCV043YlLec9AKdD?refresh=5s&panelId=23&fullscreen&orgId=2

fyi @mandarjog

[2019-09-04 16:29] howardjohn commented on #4982
Is anyone working on this? Once we measure this what do we plan to do with the measurements?

[2019-09-04 16:30] jwlai commented on #16807
What rules does the rewrite support? I.e. (wildcards, how do I keep the path after the parsed prefix?)

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: ms-gateway
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http
      protocol: HTTP
    hosts:
    - "*"
---
---
apiVersion: networking.istio.io/

[2019-09-04 16:32] esnible opened #16814 "Operator CLI grammar and argument checking"
Grammar
Better messages for arguments
Require an argument for `istioctl x manifest apply` so that it doesn't immediately start reworking your cluster.

[2019-09-04 16:33] howardjohn commented on #14537
This is probably fixed by #14782. It would be great if you can try the 1.3rc1 and let us know

[2019-09-04 16:37] howardjohn commented on #16807
Something like
[code]

Should work

[2019-09-04 16:54] howardjohn opened #16815 "master upgrade tests failing due to new AuthorizationPolicy CRD, blocking daily release"
We have tests for upgrade from 1.1.7 -> master. Its not clear why we have this, since we don't actually support this. Regardless, it is failing: https://github.com/istio-releases/pipeline/pull/1143

The root cause is galley crashing because the CRD for AuthorizationPolicy does not exist but Galley expects it

fyi @ozevren @yangminzhu

[2019-09-04 16:57] vadimeisenbergibm commented on #16581
I have the same issue, requests to wikipedia.org fail intermittently.

[2019-09-04 17:12] mandarjog commented on #16813
Yes, I see the same results in another cluster.

[2019-09-04 17:24] howardjohn commented on #16813
I turned of the scaling and it goes away, so seems its isolated to that change not something in 1.3. Still should be fixed though

[2019-09-04 17:25] mdhume opened #16818 "Galley validating webhook configuration, replica set and pods are periodically garbage collected by Kubernetes"
**Bug description**
Galley validating webhook configuration, replica set and pods are periodically garbage collected by Kubernetes. This is due to the fact that the ownerReference field that is added to the ValidatingWebhookConfiguration by galley pods points to the Galley deployment object - https://github.com/istio/istio/blob/release-1.1/galley/pkg/crd/validation/webhook.go#L275-L282 and https:/

[2019-09-04 17:31] elfinhe commented on #16795
Working on it...

[2019-09-04 17:38] howardjohn opened #16819 "Trailing spaces in mesh config lead to it being hard to edit with `kubectl edit`"
See https://github.com/kubernetes/kubernetes/issues/75446. The reason when you `kubectl edit` the mesh config and it has all the string escaping is because of trailing spaces. This is something we can probably fix

[2019-09-04 17:38] jwlai commented on #16807
Thanks John, this is a little out of scope but after getting the 200 Status OK, I'm running into the scripts erroring out at the "<" sign.. any advice here? The React Application works as it's supposed to when exposed as a service but not using the ingress through istio.

[2019-09-04 17:46] JimmyCYJ commented on #15835
@ngbit95 Could you provide more information for investigation. For example, which release version of Istio are you using? What tools do you use to generate credentials? Could you show us the log of ingress-sds container, and the log of ingress gateway container?

[2019-09-04 17:57] ozevren commented on #16815
@yangminzhu  could you take a look?

[2019-09-04 17:59] howardjohn commented on #16807
I dont know, is the script being returned correct? I am not quite sure what the issue is

[2019-09-04 18:37] esnible commented on #16724
I am nervous about exposing CtrlZ and a debug port to Citadel.  If the debug level can be set without using K8s APIs, then a pod in the cluster could cause Citadel to log.  That should not be a problem but sometimes log messages and backtraces include secrets that would help an attacker.  I don't want to be responsible for a privilege escalation attack.

When I want to run a command on all the pod

[2019-09-04 18:39] yangminzhu commented on #16815
Looking at this. @howardjohn Could you add some more details why you think it's due to the new AuthorizationPolicy CRD? Thanks.

[2019-09-04 18:44] howardjohn commented on #16815
Yes, the test doesn't export logs but I execed onto the host and the galley
logs show its crashing because it cannot find auth policy. And I looked and
auth policy crd does not exist.

It's very possible the test is just poorly made and doesn't create the crd
when it should

On Wed, Sep 4, 2019, 11:40 AM Yangmin Zhu <notifications@github.com> wrote:

[2019-09-04 18:50] yangminzhu commented on #16815
[code]
Looking at the log, the test doesn't apply those crd-xx.yaml when upgrading to the master, this seems wrong for installing the new istio.

[2019-09-04 18:59] yangminzhu commented on #16815
Okay, I think the upgrade-test only applies those crd-xx.yaml if the target version matches some pattern (1.1, 1.2 and master): https://github.com/istio/istio/blob/362ea8801ba3af1abe4ddfde11b9ea4aecb22058/tests/upgrade/test_crossgrade.sh#L197, but the PR failing the test is using `istio-43f6a75d0602289afa0a1ead709863dd` which doesn't follow this pattern.

[2019-09-04 19:30] xeor commented on #15773
I got the same problem. Keycloak works fine on the admin-page, but when keycloak-gatekeeper tries to use it for some part of the authentication, keycloak-postgres fails..
Might be some sorts of postgres queries? query-sizes? similar?
I didn't debug this that much, so some details might be wrong..

[2019-09-04 19:50] howardjohn commented on #16815
Interesting, I wonder why its not `*master*` anymore? I assume that was around to support 1.0, we can just remove that now?

[2019-09-04 19:58] #16782 closed

[2019-09-04 20:28] rphillipsz commented on #16167
Are there any updates on this?

[2019-09-04 20:37] #16307 closed

[2019-09-04 20:38] ostromart opened #16826 "Resource rename flag for manifest diff command"
Sometimes, resources in manifests are renamed, which causes them to appear as deleted/added. In this case it also becomes difficult to diff the two resources as they need to be renamed back manually.
The request is to have a flag like --renamed which simply takes a list of values like
kind1:namespace1:name1->newkind1:newnamespace1:newname1, kind2:namespace2...
This says that kind1:namespace1:name1

[2019-09-04 20:40] ostromart opened #16827 "mesh manifest diff should have text diff option"
Sometimes, the text diff format (used in mesh profile diff) is easier to read than the compact diff style used in mesh manifest diff.
The request is to use the --verbose flag to cause mesh manifest diff to output a text based diff instead.

[2019-09-04 20:55] ostromart opened #16828 "Ability to diff ConfigMaps in istio manifest"
ConfigMaps are typically text blocks of YAML and are unmarshaled as a single string, making YAML diffing impossible. Try making a small change in ConfigMap:istio-system:istio data.mesh and diffing the result with manifest diff to see the problem.
Some possible solutions:
1. Automatically try to unmarshal ConfigMap data string into YAML and if that succeeds, do a YAML diff of the result.
2. Add a f

[2019-09-04 21:09] bchase2ndwatch commented on #4695
Is this still on target for 1.3?

[2019-09-04 21:11] JimmyCYJ commented on #14899
/cc @carolynhu

[2019-09-04 21:11] lambdai commented on #16739
Another thing you can do is to gather the metrics of the particular cluster something equivalent to curl localhost:15000/stats on all the envoy in the flow

[2019-09-04 21:12] #16755 closed

[2019-09-04 21:12] lambdai commented on #14366
Thank you for taking it @ckcd

[2019-09-04 21:18] howardjohn commented on #16819
Fixed by https://github.com/istio/istio/pull/16820

[2019-09-04 21:18] #16819 closed

[2019-09-04 21:22] lambdai commented on #16607
Sorry there is no support to maintain the long live connection at this moment. That is the restriction of envoyproxy.
Envoyproxy may move to the support named filter chain similar to RDS, where the drain connection won't happen until user actively close it. Will start to discuss by end of Oct

[2019-09-04 21:27] howardjohn commented on #16763
Backport in https://github.com/istio/istio/pull/16804

[2019-09-04 21:31] kidiyoor commented on #16220
That trick only works with only one key/value pair.
[code]

If you do not separate key/value pairs with comma, helm cmd passes but the generated ConfigMap won't have the right JSON.
[code]

[2019-09-04 21:38] emrahcetiner commented on #16078
I have the same issue: [https://github.com/helm/charts/issues/16622](url)

so, how can i fix this without injection disabling?

[2019-09-04 21:43] howardjohn commented on #16220
Interesting. Well it seems there is not  reason to fight helm like this, I would just do it as a file.

[code]

Seems to work?

[2019-09-04 21:53] mandarjog opened #16830 "Istio Disaster Recovery: Cold Starts"
When (cold) starting an Istio cluster as part of disaster recovery many subsystems get stressed in an unusual way.

 1. Citadel: Start is gated by Citadel issuing certificates.
     a. Test and measure how long it takes to issues many concurrent certs
     b. re-order cert issue order: Issue import certs first like istio-system or istio-control so other istio components can start first.
 @myidpt @

[2019-09-04 22:02] ozevren commented on #16818
@ayj @sushicw

[2019-09-04 22:15] mandarjog opened #16831 "Watchdog for Istio components [Pilot,SDS Agent]"
We have had Istio bugs in the past where Pilot / Citadel or Proxy got stuck in a particular state. A watchdog goroutine can be uniformly applied to many components. A watchdog can  terminate the component if it stops making forward progress.

Pilot has had several distributed deadlocks, stuck pushes which could be healed by a watchdog.

[2019-09-04 22:20] myidpt commented on #16830
/cc @JimmyCYJ
For Citadel:
a. I believe issuing many concurrent certs is needed only when SDS is used, with the file mount approach, the keys and certs are in persistent storage (etcd) so no need to reissue the certs. For  SDS stress tests, it's in our Code Mauve plan. Expected to be done in Q4.
b. This feature makes sense when there are a large number of service accounts in the system, and Citade

[2019-09-04 22:29] howardjohn commented on #16273
I haven't been able to reproduce for a bit, will play around some more and try

[2019-09-04 22:31] carolynhu opened #16832 "istio/tools: Flame Graphs should be created with the same pallette."
Flame Graphs should be created with the same pallette file. However, currently, every time when we generate a new Flame Graph,  [pallette.map](https://github.com/istio/tools/blob/master/perf/benchmark/flame/palette.map) will be changed.

[2019-09-04 22:39] howardjohn commented on #16313
@esnible are the notes ready? I see no TODOs and looks like a bunch of stuff added

[2019-09-04 22:47] #16313 closed

[2019-09-04 22:58] ostromart opened #16834 "manifest diff ordering should be stable"
When multiple resources are different, the ordering changes non-deterministically.
Ideally, the ordering should be grouped by kind, then namespace and name - this can be easily achieved by sorting the resource keys alphabetically.

[2019-09-04 23:03] howardjohn commented on #16831
Isn't this what a liveness probe is for? We do not have a liveness probe for pilot, but this seems the best way to implement this

[2019-09-04 23:29] duderino commented on #16581
@louiscryan @howardjohn and @yxue and I had a chat.  The plan for 1.3.0 is:

1) @howardjohn will disable tls inspector for ingress gateways (or if it can't be removed, ensure that the listener filter timeout will not affect it).  It will only be enabled for sidecars and egress gateways.
2) @yxue will increase the default timeout to 1 sec
3) @yxue will add a DEBUG-level log message to Envoy wheneve

[2019-09-04 23:36] #16763 closed

[2019-09-04 23:38] howardjohn commented on #16830
I don't think we can do much here other than smart ordering with operator/installer. We cannot serve until we connect to galley or we would generate incorrect configs (missing rbac rules)

In 1.3 pilot handles this pretty well by deduping pushes. We may want to increase debounce time from 100ms to something slightly higher (250ms?).
One concern is the discoveryrequests follow a different codepath,

[2019-09-04 23:48] #16731 closed

[2019-09-04 23:51] howardjohn commented on #16581
tls_inspector on gateways is from AUTO_PASSTHROUGH

reproduce:
[code]

[2019-09-04 23:55] #15273 closed

[2019-09-05 00:10] rlenglet opened #16836 "Create 1.3.0-rc.2 pre-release"
- [x] Prepare `istio/cni`.
  - [x] Sync the fork of the `istio-iptables.sh` script.
[code]
- [x] Check whether the commit SHAs in `istio/istio` and `istio/proxy` are consistent.
  - [x] Check whether the same `istio/api` commit is used in `istio/istio` and `istio/proxy`.
[code]
  - [x] Check whether the version of Envoy from which the go-control-plane's API has been extracted from is no more than

[2019-09-05 00:43] rshriram commented on #16581
sorry I am late to the party. tlsInspector isnot used in the gateways. If it is, then we should remove it. and on Sidecars, we need the 10ms timeout in the ingress listener (not egress) and on the egress listener, we could have a longer timeout like 500ms utmost.
Now, the bigger question is, on a sidecar, why was 10ms not sufficient for the HTTP protocol sniffer to detect that this was not HTTP tr

[2019-09-05 00:48] rshriram commented on #16581
Also, this issue could become a non issue with the recent default enabling of tls_inspector in all listeners with http_inspector

[2019-09-05 00:50] howardjohn commented on #15987
This has deadlocks now

[2019-09-05 00:56] vadimeisenbergibm commented on #16581
@rshriram

Maybe I miss something, tls inspector is used when there is a filter chain selection by SNI. So when TLS-by-SNI routing is performed (by the gateways or sidecars), tls inspector is there.

https://www.envoyproxy.io/docs/envoy/v1.8.0/configuration/listener_filters/tls_inspector

[2019-09-05 01:10] scw00 commented on #16749
Hi @howardjohn , How to build personal proxyv2 image. It seems all builds are failed with gcc-7 under ubuntu 16.04

[code]

[2019-09-05 01:15] #15631 closed

[2019-09-05 01:36] howardjohn commented on #16749
I am not sure. are there no docs in istio/proxy?

[2019-09-05 01:45] rlenglet commented on #16581
The hypothesis is that running `curl` with `-v` slowed it enough due to remote shell output.

[2019-09-05 02:08] #14581 closed

[2019-09-05 02:23] howardjohn commented on #14054
Fixed by https://github.com/istio/pkg/pull/9

[2019-09-05 02:23] #14054 closed

[2019-09-05 04:23] winmillwill commented on #15633
I think it would be good UX to backport a fix for `istioctl authn tls-check` to 1.1. FWIW, GKE only supports 1.1 at the moment.

I recently hit this issue in 1.1 and only stumbled across the containerPort note in the docs when looking for the docs to install kiali to debug why things weren't working.

The whole loop was:

1. use mesh policy permissive
2. create deployment and service with properly

[2019-09-05 04:40] morvencao commented on #13840
Have tried the following mitigating method:
1. Remove the label `sidecar-injector=enabled` from the target namespace
2. Wait the scheduling of the sidecar-injector pod(reduce the `tolerationSeconds` can make the outage time shorter, but too short `tolerationSeconds` may make the sidecar-injector pod unstable)
3. Add back the label `sidecar-injector=enabled` again
4. Delete each application pod to

[2019-09-05 05:08] morvencao commented on #14034
Closing this as the original issue has been fixed, feel free to reopen it if needed.

[2019-09-05 05:08] #14034 closed

[2019-09-05 05:09] lambdai commented on #16581
I also find this: client may do a slow dns reverse lookup between tcp handshake and ssl handshake. Any queuing at client and envoy wastes the ticks.

https://unix.stackexchange.com/questions/128370/linux-openssl-cn-hostname-verification-against-ssl-certificate

[2019-09-05 05:10] morvencao commented on #12786
Can we close this? As we have empty value for priorityClassName and the user is free to update to `system-cluster-critical` if needed.

[2019-09-05 05:19] mailzyok commented on #16607
Thanks @lambdai @howardjohn . The cause is clear now, although it can not be fixed in a short term.

[2019-09-05 05:19] #16607 closed

[2019-09-05 05:39] lambdai commented on #16658
Envoy proxy support parse absolute url in http1 https://github.com/envoyproxy/envoy/blob/4478c1984d17146b1ff78d0babedae2a4752b027/api/envoy/api/v2/core/protocol.proto#L38

I guess there is reason it wasn't provided at the beginning
@YuraBeznos Is there a breakage? Any library/application only provides absolute url?

[2019-09-05 06:53] scw00 commented on #16749
Adding build method

 - Building istio/proxy
 - Build pilot-agent
 - Using Dockerfile in https://github.com/istio/istio/blob/master/pilot/docker/Dockerfile.proxyv2

[2019-09-05 07:18] hzxuzhonghu commented on #12786
Thanks for your work @morvencao

[2019-09-05 07:18] #12786 closed

[2019-09-05 07:48] mariusmitrofan commented on #16778
@howardjohn  any luck ... ?

[2019-09-05 08:11] kevinniu666 commented on #13052
I encountered the same issue and it was caused by dns problem. kube-dns service was deleted (I didnot know how), the issue was resolved after I recreated the service.
[root@admin ~]# kubectl get po -n istio-system
NAME                                      READY   STATUS    RESTARTS   AGE
grafana-7f4d444dd5-q6kb7                  1/1     Running   1          3h2m
istio-citadel-79875c6f4f-stcf5

[2019-09-05 10:12] hustshawn commented on #13840
Actually, when work with weave network, your alternative solution cannot work. The typical issue would looks like
[code]

[2019-09-05 11:40] niravk1 commented on #13052
Guy, I had similar issue and root cause was CoreDNS issue. So DNS issues are causing failed pods.

[2019-09-05 14:36] jwlai opened #16849 "Grafana Install Annotation"
Hi,
I was just wondering what the reasoning behind preventing the sidecar from being injected into grafana? I wanted to expose grafana to be accessed via browser (Is there a best practice I should follow?)

Re: grafana -> deployment.yaml
annotations:
        sidecar.istio.io/inject: "false"
        prometheus.io/scrape: "true"

[2019-09-05 15:04] jacob-koren-zooz commented on #6860
Can it be changed?

[2019-09-05 15:09] MVJosh opened #16851 "Elasticsearch security not working with Istio"
**Bug description**
Deploying Elasticsearch with TLS security enabled (via [helm chart example](https://github.com/elastic/helm-charts/tree/master/elasticsearch/examples/security)) breaks communication with Elasticsearch HTTP(S) API when Istio sidecar injection is enabled (mtls set to `PERMISSIVE`):
[code]

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastruc

[2019-09-05 15:15] duderino commented on #16581
Wouldn't it do that after sending the ClientHello and receiving the ServerHello?

[2019-09-05 15:16] rshriram commented on #16581
Yeah I was about to ask the same.. and in this case, the http_inspector or tls_inspector would have completed its function

[2019-09-05 15:20] rshriram commented on #16581
Copy pasting my response from the PR comment.

So here is a possible solution:

* Set the listener filter timeout on all ingress listeners for sidecars with TLS_inspector/http inspector and multiple filter chains (i.e. permissive mode).
* set the listener filter timeout on all egress listeners on sidecars with http_inspector
* In both cases, you do not have to increase the default timeout. Or may

[2019-09-05 15:24] jwlai commented on #16849
Also I can't seem to expose grafana via Istio-ingressgateway, is that correct? I also have another gateway existing pasted beneath it...

`apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: grafana-gateway
  namespace: istio-grafana
spec:
  selector:
    istio: ingressgateway # use istio default controller
  servers:
  - port:
      number: 80
      name: http
      protocol:

[2019-09-05 15:33] viktorvoltaire commented on #7136
@Stono thx for the prestop hack, works like a charm!

[2019-09-05 15:37] howardjohn commented on #16849
Please see https://istio.io/docs/tasks/telemetry/gateways/

[2019-09-05 15:38] howardjohn commented on #16851
Maybe related: https://github.com/istio/istio/issues/14662

[2019-09-05 15:42] MVJosh commented on #16851
I did take a look at that issue, but this seems different to me. I can get Elasticsearch working happily with istio sidecar injection, but only *without Elasticsearch security settings enabled*

[2019-09-05 15:47] jwlai commented on #16849
Thanks!! Is it mandatory to use that port 15031?

[2019-09-05 15:54] howardjohn commented on #16635
#16801 was also related

[2019-09-05 16:12] frankbu commented on #6860
You should be able to set a timeout to any value (less or greater than 15) now, since this bug has been fixed. You need to create a VirtualService to do that. If you don't set a timeout rule in a VS, the default is 15 sec. If you are asking if that global default can be changed, I believe the answer is no. You will need to open a new feature request for that to be made configurable.

[2019-09-05 16:16] YuraBeznos commented on #16658
Absolute url in requests required by some of our applications (and also part of the standard https://tools.ietf.org/html/rfc2616#section-5.1.2 )

Does it need to be enabled somehow in istio?

[2019-09-05 16:31] vadimeisenbergibm commented on #12390
@HXK123 @spam8321 @tuantuan11233 are your issues with the external service solved?

[2019-09-05 16:37] costinm commented on #16791
Do you have a cluster/VM I can take a look at ?

[2019-09-05 16:39] pc-rshetty commented on #13840
to counter this we split our worker nodes into control plane and workload. that way when we do rolling restart of the control plane nodes (which has istio pods ) the workload pods dont get affected  and when we do the rolling restart of workload nodes(our apps) istio is always available.

This has worked pretty well for us

[2019-09-05 16:40] costinm commented on #16791
Or at least more debug info - full cluster logs, istioctl config dumps for the VM, etc.

I assume ratings works from a machine in the cluster, and only fails when called from the external VM - this can be caused by pod-to-pod connectivity issues, so checking if the rating pod can be reached directly, with curl run as 'istio-proxy' - it would help.

[2019-09-05 16:55] kyessenov commented on #16635
Yeah, sounds good. The hard-coded errors were left there by @ozevren . I think we should not depend on the concrete error text.

[2019-09-05 17:30] ozevren commented on #16818
@jasonwzm

[2019-09-05 17:43] douglas-reid commented on #16849
Using port `15031` is not required. However, you may encounter difficulty overlaying it on port `80` or `443` (getting the prefix / rewrite rules correct may prove challenging).

We have not attempted to put proxies in front of any of the add-ons. It may be possible for Grafana, but it hasn't been tested, and isn't required.

[2019-09-05 17:43] #16849 closed

[2019-09-05 17:45] vadimeisenbergibm commented on #9764
Duplicate of https://github.com/istio/istio/issues/1703

[2019-09-05 17:48] douglas-reid commented on #16799
The Grafana dashboard approach to this issue should be to use an updated prom query for places that require latency info. The query will use the `or` operator with the `_millis` value(s) converted to seconds. We should have a PR soon that demonstrates this approach.

I imagine that something similar can be done in Kiali.

[2019-09-05 18:46] ashutoshraina opened #16854 "Documentation on adding a custom template to the mixer"
I was looking up documentation on how I can attach a custom template to the mixer binary, but the documentation is TBD.
Is there a blog post that I can refer to ? Are there plans of writing up the missing documentation ?

[2019-09-05 18:53] yxue commented on #16581
Conclude the internal discussion:

1. Setting timeout for inbound listener to 1s. The reason is considering the RTT in network, e.g., RTT for cross continent traffic
2. Setting timeout for outbound listener to 100ms. Traffic is from localhost.

cc @duderino @costinm @rlenglet  @howardjohn

Copy past proposed solution from @rshriram

when we construct the filter chains, we add some metadata or some

[2019-09-05 18:54] rlenglet commented on #16581
LGTM.

[2019-09-05 19:09] conrallendale commented on #9764
This is not a duplicate of #1703, but a bug from it.

[2019-09-05 19:12] jwlai opened #16855 "Static IP or Static Domain name for Ingress Gatway"
As the title sort of points out is there a way to attach the Static IP or a Static Domain to the controller? (I.e. in AWS I don't need to go to Route 53 and change the CName of an entry everytime I deploy//redeploy)

If anyone has tips on this topic that'd be great (maybe it's not possible? depends on the cloud?) If I could get material to read or investigate I'll take that too.

[2019-09-05 19:14] costinm commented on #16308
Added the installer demo link ( pointing to the wiki ), we'll keep the old installer demo as is since it would be too confusing to add yet another option in the docs.

[2019-09-05 19:14] #16308 closed

[2019-09-05 19:54] sdake commented on #16756
cc @sdake

[2019-09-05 20:16] esnible opened #16858 "Confusing repetitive error message on `istioctl x manifest apply`"
If there is any kind of problem talking to Kubernetes the output of the mesh is both confusing and repetitive.

There is some interesting stuff; but the problem is that

[code]
is repeated 102 times.

It is because of the detail.  The top level message is `error running kubectl apply: exit status 1` which isn't that helpful either.

To reproduce

[code]

(or `mesh manifest apply` if using the oper

[2019-09-05 20:38] elfinhe commented on #16795
cannot reproduce this issue because the yamls have no indentation. asking ostromart@ for an update of those yamls.

[2019-09-05 20:38] elfinhe commented on #16827
start working on this...

[2019-09-05 20:43] utako commented on #16306
@howardjohn have you gotten a chance to work on this yet? if not, i can take this.

[2019-09-05 20:49] howardjohn commented on #16306
I haven't done anything, except deploying envoy n-1 in my own cluster an manually testing

[2019-09-05 21:01] ostromart commented on #16795
Sorry, here they are with formatting.

File1:

[code]

File2:

[code]

[2019-09-05 21:01] bpulito commented on #1430
+1 for SIP
+1 for UDP

[2019-09-05 21:20] elfinhe commented on #16795
seems like there is an issue in `yamlUnmarshal` for syntax like `validatingwebhookconfiguration.yaml: |-`.

Removing ` |-` makes mandiff results look as expected.

[2019-09-05 21:37] ostromart commented on #16795
ah yes, this is just the configmap problem that is noted already in another issue. i thought i saw something different in this case, but i will duplicate it to the other issue.

[2019-09-05 21:38] ostromart commented on #16795
duplicate of https://github.com/istio/istio/issues/16828

[2019-09-05 21:38] #16795 closed

[2019-09-05 21:38] elfinhe commented on #16795
`|-` in yaml indicates the following (until indentation goes back to the same level) is multi-line string. So yamlUnmarshal also works well.

[2019-09-05 21:39] ostromart commented on #16795
yes, if you look at the other bug there are some ideas on how to deal with it. @richardwxn was also asking about it so maybe you guys can sync up.

[2019-09-05 21:40] lambdai commented on #16658
@fpesce Do you have any concern if we allow absolute url?
IMHO it's probably safe to add it into outbound listener

[2019-09-05 21:44] elfinhe commented on #16795
sure, thanks!

[2019-09-05 22:16] elfinhe commented on #16828
An example of ConfigMaps:
[code]

[2019-09-05 22:17] lei-tang opened #16860 "Tests for Istio Webhook Controller"
**Describe the feature request**
This issue is to track the tests for Istio Webhook Controller, which is a new feature that manages webhook certificates and webhook configurations. With this feature, Citadel does not need to generate and rotate webhook certificates; Galley and Sidecar Injector do not need to manage their own webhook configurations.

The tests should include unit tests and integrat

[2019-09-05 22:59] emptywee commented on #14632
So, any ideas on this? :)

[2019-09-05 23:12] mandarjog opened #16862 "Add Mixer sidecarToTelemetrySessionAffinity option to old 1.3 installer"
`sidecarToTelemetrySessionAffinity` is required for Mixer V1 when it talks to services like stackdriver.
This option is only available in the new installer.
This is needed in the old installer and back ported to 1.2.

[2019-09-05 23:23] mandarjog commented on #16862
@douglas-reid I do not see this in the installer any more. Perhaps it was never there, but I think it was there. @bianpengyuan do you think we just missed it ?

[2019-09-05 23:46] geeknoid commented on #16660
@ayj found the problem and it is:

https://github.com/istio/istio/blob/f6002411cc042232d0b69e7aeac1f5585ed8eea3/release/gcb/gcb_lib.sh#L180-L184

We're running SED over our binaries and corrupting them along the way...

[2019-09-05 23:48] rlenglet commented on #16660
@ayj are you going to submit a PR?

[2019-09-06 00:10] incfly opened #16866 "[Istio-Auto-mTLS] Large load testing for the feature"
**Describe the feature request**

The auto mTLS feature requires testing to measure

1. Pilot CPU/Memory consumption.
1. Data plane traffic disruption. Especially under these factors changes
   -  Large number of the endpoints being deployed with or without sidecar
   - Valid Authentication Policy and DestinationRule changes.

These should be used to compare before and after when `mesh_config.enab

[2019-09-06 00:28] incfly opened #16867 "[Istio-Auto-mTLS] Provide a mTLS focused Grafana dashboard for mTLS lockdown"
**Describe the feature request**

Updated 09/08/2019

Per discussion with @diemtvu and @mandarjog , we think the feature is better to built as a Grafana dashboard. reasons,

Switch from PERMISSIVE to STRICT requires user intervention, and can't be done automatically. The safety of the switch depends on users' own criteria. For example, how much plaintext traffic is tolerable, how much we should lo

[2019-09-06 00:45] duderino commented on #16604
@geeknoid we need a docs approval on https://github.com/istio/istio/pull/16605 so we can close out this release blocker

[2019-09-06 00:47] duderino commented on #16606
@geeknoid could you also review https://github.com/istio/istio.io/pull/4904 to unblock this additional 1.3 release blocker

[2019-09-06 00:59] howardjohn opened #16869 "Protocol sniffing causes excessive memory usage"
When protocol sniffing is enabled, Envoy will use very high memory usage.

Some numbers:

* With 20 services, memory usage went from 40mb->80mb
* With 300 services, memory usage went from 60mb to 800mb
* With mixer disabled and 300 services, memory was around 400mb

These numbers are all taken from an Envoy receiving no traffic. Envoy will have high allocated as well, not just high heap usage (as

[2019-09-06 00:59] #16739 closed

[2019-09-06 01:08] yxue commented on #16581
Setting 1s and 100ms for inbound and outbound is a trade-off considering it's near release-1.3. We did hit the problem when setting 10ms for outbound and don't have enough time to benchmark the correct value here.

cc @louiscryan @rshriram

[2019-09-06 01:11] mandarjog commented on #16311
@douglas-reid updated release notes.

[2019-09-06 01:11] #16311 closed

[2019-09-06 01:23] clyang82 commented on #16435
This PR is for kiali operator - https://github.com/istio/installer/pull/295

[2019-09-06 01:51] scw00 commented on #16749
It seems  the bottleneck is in envoy. I use the raw envoy image and run it against nginx without injected. the envoy steal too much cpu cycles from nginx.

[code]

envoy.yaml

static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address: { address: 0.0.0.0, port_value: 10000 }
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager
        typed_confi

[2019-09-06 02:04] kyessenov opened #16871 "xds: transition to use goproto stubs instead of gogoproto"
The goproto stubs are now available in a branch:
`go get github.com/envoyproxy/go-control-plane/v2@556866f6aea9ab7a1f60a39e6a90156411a4462a`

/cc @geeknoid

[2019-09-06 02:07] kyessenov commented on #16871
see https://github.com/envoyproxy/go-control-plane/issues/213

[2019-09-06 02:20] rshriram commented on #16869
This is 300 services without a Sidecar resource or with a Sidecar ?

[2019-09-06 02:27] rshriram commented on #16869
This is not the right way to view. We are not converting a pre-declared http port into auto. We are using auto if and only if the user did not provide a port name.
So, If a user had 100 http services on port 80, all named as http, then we will only have one listener. If a user had 100 services on port 80, with no port names, then we will have 100 TCP listeners with one filterchain (without sniffin

[2019-09-06 02:28] howardjohn commented on #16869
I have 300 services the entire time. in case 1 I use sidecar to only import 20, in case 2 I do not use sidecar and therefore get 300 service config

[2019-09-06 02:31] howardjohn commented on #16869
If a user has unnamed ports right now they get tcp and with this feature they will get OOM. I think there are many services around that do not have named ports and they are ok with that because they are using tcp, and `foo` and `tcp` meant the same thing in 1.2.

[2019-09-06 02:39] rshriram commented on #16869
This needs to be qualified. If this is a large scale user (one who has 300 services), then he/she will certainly have to disable protocol sniffing in Pilot before deploying/upgrading Istio. But they already do such customizations given that we have an armada of env vars.

If this is a small scale or average user with 20-50 services, I do not think this will result in OOM after Istio upgrade, given

[2019-09-06 02:55] howardjohn commented on #16869
I don't think we can consider it a contrived experiment. I did not even intentional test this, I just deployed a pod into my cluster and it was immediately oomkilled.

No one came to the conclusion that protocol sniffing is pointless or that we should give up - the only conclusion was that our current implementation is not efficient enough to be viable for users.

Would you suggest we ship protoco

[2019-09-06 02:57] kyessenov commented on #16869
Is it true that having 300 listeners in envoy causes 400MB of use? If that's the case, then that's the real problem here. Envoy needs to be able to represent 300 TCP routes without incurring gigabytes of RAM via compressed/generic/templatized config.

[2019-09-06 03:04] rshriram commented on #16869
@howardjohn the contrived piece referred to the 300 services use case and the notion of auto on all of these services. The memory consumption issue was very well known before hand (doubling filter chains results in more stats and more memory). What is surprising as @kyessenov points out is the 400Mb usage. That seems dramatic, especially since you said

If in the above case, you had 300 TCP listen

[2019-09-06 03:07] howardjohn commented on #16869
Kuat it's not the tcp routes that are the problem - if I create 300 tcp services the memory usage was small. It's only when we create 300 http connection managers that usage is so high. Looking at heap profile (I should have attached here, will do tomorrow) shows most memory is in the routes, which is what led me to believe there is a HCM*Routes scaling problem, even though each HCM points to the

[2019-09-06 03:09] kyessenov commented on #16869
@howardjohn This is equivalent to having 300 HTTP services each with a different port and no sniffing, right? Then again, this is the true issue, 300 http connection managers is not that many and should not consume a gigabyte. I agree with you that we have little wiggle room here to safely enable sniffing.

[2019-09-06 03:12] harpratap opened #16873 "Upgrading control plane from 1.2.2 to 1.2.5 causing down time"
**Bug description**
When I try to upgrade-downgrade between versions 1.2.2 and 1.2.5 my applications which are using sidecar goes into unready state and I see a downtime in my services.
My requests follow this path:
Load generator (outside cluster) -> Load Balancer (outside cluster) -> Istio Ingressgateway (inside cluster) -> Application (just simple nginx docker image)
I have about 20 instances o

[2019-09-06 03:13] howardjohn commented on #16869
I don't think it is the same. If you have 300 http services with different ports you get 300 HCM and each points to a route config with 1 route. In our case each one point to a route config with 300 routes. In terms of config_dump size it's the same, but it seems Envoy internal representation it is not the same .

This is just the running theory though.. I am not familiar with Envoy internals

[2019-09-06 03:16] kyessenov commented on #16869
Ah, so each HCM points to the same route config with 300 routes. So logically it's 300**2 routes, but we're not sure if Envoy compresses them correctly.

[2019-09-06 03:20] howardjohn commented on #16869
Yep that's my guess - we will need to confirm this. Yan is looking into if we can just make each one point to a single route (seems like it should work)

[2019-09-06 03:22] kyessenov commented on #16869
I suspect there'll be 300**2 copies of the proto in memory for routes. It's because subscriptions have to unwrap any per each HCM, so the routes are not shared between HCMs.

[2019-09-06 03:22] rshriram commented on #16869
Yes this is a known issue and I left a TODO for @yxue a while ago in the RDS code saying that the RDS output will have to be trimmed. I didn't think much about envoy level memory usage as I thought envoy would be storing only one copy of the RDS response, but apparently not.

[2019-09-06 03:23] howardjohn commented on #16873
do you have the Envoy logs during this time? I would not expect Envoy to be restarting as a result of a control plane upgrade

[2019-09-06 03:24] rshriram commented on #16869
that hack is easy though..  just attach the hostname to the route name (like 80.foo.svc.cluster.local), (its a nasty hack) and strip out the generated routes to return the route for that host alone.

[2019-09-06 03:31] howardjohn commented on #16869
Well Yan is working on that now, so hopefully it's fairly simple and we can
have something soon. We are building the release tomorrow but not planning
to ship until Tuesday afaik. If we could fix by tomorrow or Monday then I
suspect we could convince the release managers to delay the release by a
day or 2, but I don't think they will accept indefinitely delaying the
release until this is fixed.

O

[2019-09-06 03:32] #16606 closed

[2019-09-06 04:08] howardjohn commented on #16871
What are the implications of the change? Is performance different? Is the API different at all?

[2019-09-06 04:20] #16814 closed

[2019-09-06 04:34] harpratap commented on #16873
@howardjohn  logs of one of the sidecar envoys that became  unavailable - https://gist.github.com/harpratap/d5a7c762e8b1e5e1808698f04b47739d

[2019-09-06 04:42] howardjohn commented on #16873
`signal: killed` can happen when Envoy is oom killed. I am not sure if it
can happen in other cases though...

Do you still have ability to debug this? it could be useful to look at
envoy memory usage and dmesg on the pod may show if it was oom killed?

There may be other causes too

On Thu, Sep 5, 2019, 9:35 PM Harpratap Singh Layal <notifications@github.com>
wrote:

[2019-09-06 05:29] harpratap commented on #16873
@howardjohn You were right, it is going OOM and getting killed.
We have set 180Mi as memory request so it gets killed
[code]
![image](https://user-images.githubusercontent.com/5058823/64403014-dbfb9e80-d0b1-11e9-8e0a-82f25ebf74f3.png)

We can mitigate this by increasing memory requests, but shouldn't the sidecar not have such a high jump in memory usage when we upgrade? When running normal load it

[2019-09-06 06:00] rlenglet commented on #16660
This will be fixed after the fix PR is backported into `release-1.3`.

[2019-09-06 06:07] kyessenov commented on #16871
The performance is likely to degrade in the short term (gogo was chosen because it's faster). However, there's a next-gen golang/protobuf that promises to be better.
Envoy will also maintain their go stubs automatically so we don't have to manually patch up gogo stubs.
In any case, this is not data plane, so the performance concerns are not as pressing. There's so much JSON round-about still that

[2019-09-06 06:12] jacexh commented on #16357
I'm facing the same issue.  `1.2.4`

[2019-09-06 07:14] tobiasgiese opened #16877 "Add NetworkPolicy to allow Istio to run on a secure Kubernetes Platform"
**Describe the feature request**
On a secure Kubernetes Platform all ingress connections are dropped by default.
To guarantee istio to run properly in this case we need one "allow all" `NetworkPolicy` or several
fine-grained policies.

~~**Describe alternatives you've considered**~~
**Workaround we applied**
To allow all traffic we added the following `NetworkPolicy`.

[code]

**Affected product a

[2019-09-06 08:13] vadimeisenbergibm commented on #1703
@ken-experiment I posted a question on Envoy's repo https://github.com/envoyproxy/envoy/issues/8167.

[2019-09-06 08:14] vadimeisenbergibm commented on #9764
Posted a question on Envoy's repo https://github.com/envoyproxy/envoy/issues/8167

[2019-09-06 10:21] dangit815 opened #16878 "Go mod is not friendly to users with limited network and network disconnection."
I wanted to compile istio in my PC, but When I run the "go mod download" command, it failed because of limited network. So, I am confusing about the "go mod", I think the "vendor folder" is more convenient for most people. Can we add the "vendor folder" back?

[2019-09-06 10:44] trx35479 commented on #7449
@ravibagri5 this solve my issue. thanks

[2019-09-06 12:16] malathi-thangarajan commented on #16227
I am also facing the same issue when I access the swagger ui from istio-ingress-gateway with nodePort. The swagger UI has basePath missing the nodePort. So the "Try It Out" option for all the endpoints are not working.

[2019-09-06 12:47] dgn commented on #16327
I can not reprodoce this, neither on master nor on 1.2.2. Can you post relevant parts of your proxy config?

Try:
`istioctl pc route <CLIENT_POD_NAME> -o json`

You should see something like this:
[code]

[2019-09-06 13:14] geeknoid commented on #16871
We originally chose to use gogo specifically because of the Envoy->Mixer
protocol, we wanted that as fast as possible. Because of that, everything
ended up on the gogo plan. Things will definitely get simpler if we can
move off of gogo in general.

On Thu, Sep 5, 2019 at 11:08 PM Kuat <notifications@github.com> wrote:

[2019-09-06 13:14] FrederikNS commented on #14636
I just spent two days figuring this out. I was using a helm chart for dex, and wanted to expose it using the built in ingress in the chart, but could not figure out how to get it working.

Finally after fumbling around with the meshConfig, the ingress, the pilot, istioctl, adding and removing labels on namespaces, I finally figured out that istio doesn't match the prefix and instead does a regex m

[2019-09-06 13:31] brian-avery commented on #16456
Hi @kevchu3 We just released the 1.0.0 version of ServiceMesh which fixes this issue. Would you be able to upgrade? Also, we usually use Jira (https://issues.jboss.org/projects/MAISTRA) for Maistra/ServiceMesh issues.

[2019-09-06 13:32] brian-avery commented on #16656
Hi @linsun @sdake  OpenShift ServiceMesh uses OLM. Let me know if you'd like any help.

[2019-09-06 13:52] howardjohn commented on #16878
At some point you have to download the dependencies, even with vendor. If you can do `git clone` you should be able to do `go mod download`?

you can even do `go mod vendor` locally

[2019-09-06 13:56] howardjohn commented on #16877
I am not sure what you are asking are you suggesting we add a network policy to the default installation?

[2019-09-06 14:00] tobiasgiese commented on #16877
My suggestion is to add a parameter to the Helm Chart, e.g. `networkpolicy.enabled`.

[2019-09-06 14:05] costinm commented on #16869
The plan discussed with the rel manager was:
- turn off sniffing on outbound for tomorrow release, leave it for inbound
only ( so we get metrics when we capture all )
- attempt to generate in-line routes with one host only - if it works we
can add this to 1.3.1 ( or even 1.3.0 if it is delayed for independent
reasons ).

My concern is longer term: we still want to switch to filter chains, and it
i

[2019-09-06 14:08] howardjohn commented on #16877
This doesn't seem like something we need in our helm chart . I just checked and nginx ingress doesn't do this either.

It seems like you are intentionally configuring kubernetes to block traffic, then you should intentionally configure it to allow traffic to Istio ingress?

We want to avoid adding every single possible option to the install - your alternative of applying your own network policy so

[2019-09-06 14:19] elieser1101 commented on #16867
hi, i would like to help with this, my doubt is if you think this could be a good first issue?

[2019-09-06 14:35] linjmeyer opened #16883 "VirtualService is ignored if Gateway does not exist"
**Bug description**
A VirtualService with a non-existent gateway is accepted by Istio when applied to a Kubernetes cluster, but is then ignored and not used in routing decisions including in local cluster traffic.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[X] Networking
[ ] Performance and Scalability
[X] Policies and

[2019-09-06 14:44] crhuber commented on #15881
We are also experiencing similar issue

[2019-09-06 14:50] #16660 closed

[2019-09-06 14:53] linsun opened #16885 "Sidecar config doesn't work when using port in egress"
**Bug description**
Using a simple sidecar config for a given namespace (namespace-a), mostly following the sidecar reference doc example, resulted with service A in namespace-a communicates to service B in namespace-b in 502 error.

[code]

Below does work.

[code]

After digging through, I found out in the dynamic route config section, there is no matching route for the  external name service I

[2019-09-06 15:20] howardjohn commented on #16873
Thanks @harpratap . Yeah I would not expect a jump in memory during upgrade. Maybe a little bit because Pilot may be sending different config when it is updated, but should be minimal I would think.

In the graph it looks like it spikes, then goes back to old memory usage. Did it go back to old usage because you rolled back, or is 13:24 on 1.2.2 and 13:36 on 1.2.5?

[2019-09-06 15:23] howardjohn commented on #16749
@scw00 thanks for the update. That is useful to know just plain envoy with a simple config you see the same thing, as it indicates that the problem is not in how Istio is configuring Envoy

[2019-09-06 15:43] kevchu3 commented on #16456
@brian-avery I'm currently running ServiceMesh on an OpenShift 3.11 cluster, so it is Tech Preview and thus will not be able to use the 1.0.0 version.  Nevertheless, I'm able to work around by specifying the version in the deployment to pull the correct image.  I'll go ahead and close out this issue as you mentioned that the GA

[2019-09-06 15:44] #16456 closed

[2019-09-06 16:22] howardjohn opened #16887 "Implement new build and release process"
[Design Doc](https://docs.google.com/document/d/1pV9Yta0W4F6shI5bw8TbF_SOne1fnrsZeeS4kjW5ApA/edit#)

This bug tracks effort to implement the above design to rework our build and release process.

TODO:
* Implement new split build+publish process, written in Go instead of bash scripts.
  * Work in progress at https://github.com/howardjohn/istio-release
* Create a new repo, istio/release, to house t

[2019-09-06 16:32] douglas-reid commented on #16862
I'm bumping this to P0, given that I've needed this several times in the past week in support of customers.

[2019-09-06 16:35] #16312 closed

[2019-09-06 16:35] myidpt commented on #16312
This is done.

[2019-09-06 16:36] howardjohn commented on #16869
Testing with Mixer and no Sidecar, 300 services still.

With rc1: 775Mi
With yans patch: 120Mi
With yans patch + 1.2 proxy (meaning no protocol sniffing, everything is TCP): 90mi
With yans patch, all ports are named, 1.2 proxy: TBD
With yans patch, all ports are named, 1.3 proxy: TBD

[2019-09-06 17:28] brian-avery commented on #13986
The documentation has been fixed in #4905 to document that CNI must be used instead of proxy-init on OpenShift 4

[2019-09-06 17:28] #13986 closed

[2019-09-06 17:29] brian-avery commented on #13964
Still working on this.

[2019-09-06 17:32] brian-avery commented on #11808
Tracking on Maistra GitHub. Closing this one.

[2019-09-06 17:32] #11808 closed

[2019-09-06 17:51] israel-hdez opened #16890 "Multi-cluster with replicated control planes is broken"
**Bug description**

Multi-cluster setup using replicated control planes seems to be broken. Following instructions available at: https://preliminary.istio.io/docs/setup/install/multicluster/gateways/ results in "503 Service Unavailable" errors.

This is using pod-to-remote-istioingress approach (not using istioegress to hop into the remote cluster; which I have not tried, so I cannot say if it wo

[2019-09-06 17:57] #16604 closed

[2019-09-06 17:58] linsun commented on #16885
In talking with Frank, I tried 2other possible solutions but none worked.

1. create a SE and VS and deploy in namespace-a.

[code]
2. create a dummy service and VS and deploy in namespace-a.

[code]
Same VS is used in either 1 or 2.

[code]

[2019-09-06 18:16] #16799 closed

[2019-09-06 18:27] howardjohn commented on #13317
This is still something we need

[2019-09-06 18:30] howardjohn commented on #14795
I added `go mod tidy` to the `make format`. So we are 90% of the way there. I wasn't sure if doing `go mod tidy` and then `git status` was a good idea for the lint though

[2019-09-06 18:32] liminw commented on #6984
We have a authz v2 [proposal](https://docs.google.com/document/d/1diwa9oYVwmLtarXb-kfWPq-Ul3O2Ic3b8Y21Z3R8DzQ) that is approved. Close this issue.

[2019-09-06 18:32] #6984 closed

[2019-09-06 18:40] vadimeisenbergibm commented on #9764
@hngo4619 @Gadigg @conrallendale @dshmatov @altitdb @FengLiqiong This feature is not supported by Envoy. See https://github.com/envoyproxy/envoy/issues/8167#issuecomment-528930341:

Once it is implemented in Envoy, I hope it will be transparently used by Istio without any change.

[2019-09-06 18:41] vadimeisenbergibm commented on #9764
@FengLiqiong Thank you for your explanation in https://github.com/istio/istio/issues/9764#issuecomment-479748409. It helped me to understand the issue and to post it at Envoy's repo. Sorry I missed your comments before.

[2019-09-06 18:42] vadimeisenbergibm commented on #1703
@ken-experiment What you ask in https://github.com/istio/istio/issues/1703#issuecomment-451007330 is not supported by Envoy. See envoyproxy/envoy#8167 (comment):

[2019-09-06 19:36] jplevyak commented on #16357
A core file would be most appreciated.  This issue seems to be rather subtle.

[2019-09-06 19:37] pitlv2109 opened #16895 "Proxy tries to read cert file at /etc/certs/cert-chain.pem even though SDS is enabled when a config map is updated"
**Bug description**
Proxy tries to read cert file at /etc/certs/cert-chain.pem even though SDS is enabled when a config map is updated

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[X] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer

[2019-09-06 19:38] pitlv2109 commented on #16895
/cc @JimmyCYJ @myidpt

[2019-09-06 20:26] vaibhavjain882 commented on #13205
I am facing the similar issue, few of my microservices are calling the internet routable 3rd party endpoints which generally responds in 20+ seconds. When I removed the istio from my cluster, all the requests give **200** Status code but after istio I am getting **504** Gateway timeouts and my requests are closed in 15 seconds in every case.

**I am wondering if there is anyway to increase this en

[2019-09-06 20:32] #16862 closed

[2019-09-06 21:08] vaibhavjain882 commented on #6860
Thanks frank,
This is my case: https://github.com/istio/istio/issues/13205#issuecomment-529002231

Lets say my **microservice A** is calling an Internet routable URL internally in code with POST verb that usually respond back on 20 seconds to this service.

Now, my **service B or any enduser** that is calling **Service A** are getting the **504 gateway timeouts** because after **15 seconds** conne

[2019-09-06 21:11] ostromart opened #16899 "IstioControlPlane protoc fails on option go_package"
Normally, IstioControlPlane proto in istiocontrolplan_types.proto would have
package istio.operator.v1alpha2;
and
option go_package="istio.io/operator/pkg/apis/istio/v1alpha2";
to restore the expected v1alpha2 package name for Go structs.
However, make generate-types errors out with a message about being unable to create a /tmp/pkg dir.

[2019-09-06 21:14] linjmeyer commented on #16883
Going to close for now as we found later it was this issue and also an issue with the Service named port missing the protocol.  Going to do some testing and re-open if I can determine what combination of the two things causes the problem described.

[2019-09-06 21:14] #16883 closed

[2019-09-06 21:31] kyessenov commented on #16871
@duderino @rshriram - this is a fairly mechanical change that needs to be done at some point. Please consider this for 1.4.

[2019-09-06 21:49] howardjohn opened #16901 "Pilot goroutine leak when waiting for config from galley"
When Pilot gets in the `Configuration not synced: first push for [...] not received` state it seems to have some goroutine leak. I am not sure where it is leaking, because any requests to the debugging endpoint are not working for some reason.

This is fairly low priority since Pilot is already broken when in this state, the only concern would be if the goroutines are not freed once galley is corr

[2019-09-06 22:13] #16827 closed

[2019-09-06 22:22] mandarjog opened #16905 "Istio-telemetry rebalancing with session affinity."
Stack driver adapter for mixer v1 needs session affinity from istio-proxy to istio-telemetry pods. If a telemetry pods becomes overloaded,  we start dropping metrics.

Under normal circumstances an HPA will kick in and take up extra load, but this will not happen due to affinity.

We need to experiment and provide guidance for how to distribute load.

Potential solution
1. Bring up new capacity (s

[2019-09-06 22:23] incfly commented on #16867
Thanks for offering help!

The whole feature in `istioctl` itself might be a bit too large as first issue. But I think the Prometheus part can be separated out as a sub-task.

Basically we need some utilities and extension points being able to

[code]

This returns true or false. And istioctl can use the returned value to decide what to show in the output. We can focus on implementing utilities li

[2019-09-06 22:24] incfly commented on #16867
@esnible and others  @istio/wg-user-experience-maintainers

I do want to get some input about high level feedback about the proposal in this FR before jumping into the implementation, thanks!

[2019-09-06 22:49] richardwxn commented on #16858
The error message of "unable to recognize "STDIN": Get http://localhost:8080/api?timeout=32s: dial tcp [::1]:8080: connect: connection refused" is repeated because we got same error when running kubectl apply to a list of k8s objects.

We can probably consolidate it and say this same error message is repeated how many times, but better way would be to "tag" each of this to corresponding k8s object

[2019-09-06 22:49] carolynhu commented on #16740
Except for the above, the line label is also incorrect.

[2019-09-06 22:51] esnible commented on #16867
@sdake Will the new operator commands be able to help with this?

[2019-09-06 22:51] douglas-reid commented on #16905
@mandarjog this is fairly open-ended. can you help scope the work effort intended?

what priority do you think this should be treated as?

also, how wild can/should we get with our experimentation?  for instance, can/should we consider creating alternate architectures/adapters that push reports into a separate location for offline processing (sorta recreate the mixer backend with a separate set of

[2019-09-06 22:53] mandarjog commented on #15542
@carolynhu can you use the data attached to this issue to generate more graphs and sanity check your work?

[2019-09-06 22:56] ayj commented on #16867
Is it worth capturing the use case, requirements, and design in a doc? It would be easier to review and comment on.

[2019-09-06 22:58] invertigo commented on #15148
I just replicated this problem on Kubernetes 1.13 running in Docker Desktop for Windows, so it's definitely not EKS specific

[2019-09-06 23:20] mandarjog commented on #16905
For a customer that plans to use Mixer V1 /Stackdriver in production with 1.2 or 1.3, We need to provide guidance or double back on "please pre-scale". I would not add too much new code if possible, and too much complexity. We would like to have bounded worst case behaviour.

[2019-09-06 23:43] JimmyCYJ commented on #15148
There is a user guide on ingress with cert-manager, which uses DNS challenge. I think we don't support HTTP01 challenge while enabling mTLS for internal service-to-service communication. This is because cm-acme-http-solver-wgvxd may not have a sidecar injected. @diemtvu

[2019-09-06 23:45] JimmyCYJ commented on #15148
@diemtvu @howardjohn Could you please take a look and help to triage this issue?

[2019-09-06 23:59] HXK123 commented on #12390
Hi @vadimeisenbergibm,

For me personally, we ended up using `Service` and `Endpoint` resources instead as `ServiceEntry` was still giving us trouble.  In that respect, we were able to work around the issue so it is not as important for us any more.

Thanks!

[2019-09-07 00:04] howardjohn commented on #15148
So certmanager will create a service on the fly with a random name like `cm-acme-http-solver-wgvxd`, and then we fail to connect to it because we have mTLS and the created service does not. Who is calling `cm-acme-http-solver-wgvxd`? I am not familiar with this area

[2019-09-07 00:13] howardjohn commented on #15806
I believe this is a duplicate of https://github.com/istio/istio/issues/11130

[2019-09-07 00:13] #15806 closed

[2019-09-07 00:39] howardjohn commented on #16754
https://github.com/istio/istio/pull/16912 will allow us to turn tests back on

[2019-09-07 00:39] #16673 closed

[2019-09-07 00:39] howardjohn commented on #16423
Fixed by #16424

[2019-09-07 00:39] #16423 closed

[2019-09-07 00:40] howardjohn commented on #16273
After trying a lot I have been unable to reproduce. Will reopen and prioritize if I can trigger this again

[2019-09-07 00:40] #16273 closed

[2019-09-07 00:42] howardjohn commented on #16083
Fixed in latest envoy https://github.com/envoyproxy/envoy/issues/7919

[2019-09-07 00:42] #16083 closed

[2019-09-07 00:47] howardjohn commented on #15924
We don't control the Istio on GKE docs. If https://cloud.google.com/istio/docs/istio-on-gke/overview isn't sufficient then I suggest filing a bug against the GKE docs.

This is expected, Istio on GKE will revert any changes you make

[2019-09-07 00:47] #15924 closed

[2019-09-07 00:50] howardjohn commented on #16267
Did you follow https://istio.io/docs/tasks/telemetry/gateways/

[2019-09-07 01:04] howardjohn commented on #16195
The easiest way to automate this is probably just to use https://cloud.google.com/container-registry/docs/get-image-vulnerabilities#notifications. We already scan all our daily builds, just need to set up notifications

[2019-09-07 01:14] rlenglet commented on #16869
All fix PRs have been merged into `release-1.3` and will make it into `1.3.0-rc.2`.

[2019-09-07 01:32] duderino commented on #16869
+1!

On Fri, Sep 6, 2019 at 6:14 PM Romain Lenglet <notifications@github.com>
wrote:

[2019-09-07 02:04] #16818 closed

[2019-09-07 03:36] rlenglet commented on #16836
1.3.0-rc.2 is published:
https://gcsweb.istio.io/gcs/istio-prerelease/prerelease/1.3.0-rc.2/ https://github.com/istio/istio/releases/tag/1.3.0-rc.2

[2019-09-07 03:36] #16836 closed

[2019-09-07 04:21] nokiabaitanik commented on #16370
we have found the issue .. it was with  http2 stack we were using. there was a memory leak. We have got a fix from that stack , now it is not degrading over time.  thanks for all the co operation and help...
I will close the issue . Just one question .

if in the following scenario
client -> service ip of the application -> http2 server/ outside world -- we are getting 8k tps .

then if we introdu

[2019-09-07 16:57] natealcedo commented on #11365
Hey this is something I need as well. Will GKE support this anytime soon? I know aws and azure support this currently

[2019-09-07 18:20] howardjohn commented on #16869
Running rc2:

* Pilot uses 4 CPUs with protocol sniffing (2 replicas), 1 CPU without (single replica).
* Pilot uses 750mb heap, 450mb without sniffing. Note this is skewed by # of replicas.
* In a Sidecar scoped ns, Envoy memory is 40mb with sniffing, 30mb without
* In non Sidecar scoped ns, Envoy memory is 170mb with sniffing, 90mb without

With sniffing, building the routes accounts for 78% of p

[2019-09-07 18:56] howardjohn commented on #10082
The readability argument is not a reason to do this anymore, it has been fixed in https://github.com/istio/istio/pull/16820. Still other reasons to do this though

[2019-09-07 19:03] howardjohn commented on #15185
Is this still an issue? sounds like it was resolved

[2019-09-07 19:05] sdake commented on #16869
@howardjohn I know all original master PRs went through an extremely thorough review on these set of changes.  Did you see any potential problems in regards to crashes or regressions?

Cheers
-steve

[2019-09-07 19:08] howardjohn commented on #16869
@sdake we know exactly what the cause of the performance regression is, so I don't think there is a risk of crashes, unless there was OOM from increased memory usage)

Cause of envoy memory is that we are generating a http config for every service rather than sharing a single config

Cause of pilot CPU usage is O(n^2) route generation, when it was/could be O(n)

[2019-09-07 19:32] sdake commented on #16869
@howardjohn

Admittedly not a Pilot expert and didn't review the PRs in question:

Sharing of in-memory config in multithreaded applications can cause problems.  100% sure there will be no deadlocks?  Would we risk a space flight on this default?

This seems less of a risk, as the route generation code path is well-trodden.

In my mind, it is a simple tactical equation for Istio to measure.  Is th

[2019-09-07 20:40] howardjohn commented on #16869
The problem is actually that it doesn't share memory it copies it so it used a ton of memory. Anyhow with rc2 we no longer are sharing config anyways, so I'm not to concerned on this front. There is of course always some risk, but in not too concerned about Envoy deadlocks - it is pretty well battle tested and we are using standard features.

There's plenty of risks in shipping this, but I think d

[2019-09-08 00:52] rshriram commented on #16869
I can take a crack at the rds optimization before release but would need a hand to finish it. Will report by Monday

[2019-09-08 06:48] vadimeisenbergibm commented on #12390
Hi @HXK123, thank you for letting me know, you are welcome. Could you please close this issue?

[2019-09-08 07:37] cr-amatziab commented on #11365
From what i know google are working on creating an lb without the 5 port limit.
No ETA on when this is going to happen

[2019-09-08 07:59] morvencao opened #16914 "[Operator] support tolerations in IstioControlPlane k8s overlay settings"
Istio operator needs to support tolerations overlay settings  similar to nodeSelector.

[2019-09-08 09:17] vaibhavjain882 opened #16915 "Istio envoy 504 gateway timeouts after 15 seconds for outbound connections"
**Bug description**
istio-envoy-504-gateway-timeouts-after-15-seconds-for-outbound-connections
**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[x ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[ ] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Expected behavior**
Fo

[2019-09-08 10:48] illidan80 commented on #15881
@crhuber: do you have any progress on this?

[2019-09-08 10:56] Bessonov commented on #11682
Bot fight: stale bot vs. istio-policy-bot

[2019-09-08 12:13] elieser1101 commented on #16867
@incfly it seems ok to me work on the prometheus part, should be open another issue referencing this one or my pull request for that should be in this issue?

also as said by @ayj , i think the document formalizing requirements and use cases will ease the task

[2019-09-08 14:57] howardjohn commented on #16915
I believe the default timeout is 15s and you cannot apply a virtualservice without a service entry so that's why setting to 30s did not work. I would suggest creating a service entry

[2019-09-08 16:32] dileep-p commented on #16915
Thanks @howardjohn . We got it working from this.
[code]
[code]

[2019-09-08 17:17] Stono commented on #7136
No probs :-)

[2019-09-08 17:39] vadimeisenbergibm opened #16916 "LDS push happens 28 minutes after first configuration update (Gateway/VirtualService) of a custom gateway"
**Bug description**

While performing the steps in https://istio.io/docs/tasks/traffic-management/egress/wildcard-egress-hosts/#wildcard-configuration-for-arbitrary-domains (it deploys a custom egress gateway pod) and creates a Gateway/VirtualService for it. The problem is that it takes a long time for LDS to be pushed to the gateway.

Once the LDS push is performed, the following lines appear in

[2019-09-08 18:49] JimmyCYJ commented on #16830
My understanding of disaster recovery would be like this, when there are already many workloads running in a cluster managed by Istio, at certain time we cold start Istio for recovery purposes. Given how many service accounts are there to run workloads, with SDS approach, Citadel receives that number of CSRs concurrently and issues certificates.

[2019-09-08 19:48] howardjohn commented on #14770
@geeknoid I may end up implementing some/all of this, so I left some clarification questions on the doc if you have a chance to follow up at some point

[2019-09-08 22:30] howardjohn commented on #16916
I dont quite understand. When did you apply the config?

From the logs it looks like the connection to myegressgateway was closed, then it immediately reconnected and config was pushed?

Was there 28 minutes between applying the config and the connection was closed?

[2019-09-08 22:30] howardjohn commented on #16915
Great!

[2019-09-08 22:30] #16915 closed

[2019-09-09 01:02] willthames commented on #2920
The above link no longer works. The configmap is now at https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/prometheus/templates/configmap.yaml

[2019-09-09 01:33] clyang82 commented on #16763
Had verified in my environment with rc.2, the issues was fixed. Thanks @lambdai @howardjohn.

[2019-09-09 02:27] morvencao opened #16919 "[Operator]Invalid nodeSelector field in mesh generated manifests"
1. add `nodeSelector` in k8s overlay in pilot component with the following content:
[code]
2. generate the istio manifests with:
[code]
3. apply the generated manifests to k8s cluster, found `unknown field "nodeSelector" in io.k8s.api.core.v1.Container`
[code]

[2019-09-09 03:12] harpratap commented on #16873
@howardjohn The latter, Few minutes after the upgrade is completed the sidecar container gets killed and comes up again at 13:32. The sidecar itself always stays at 1.2.2 though, no changes made to that.

[2019-09-09 03:18] howardjohn commented on #16873
One possibility I think is that when you upgrade the pilot, it sends envoy s new config. Envoy then has a copy of the old and new config for some time period, but it is a long enough time to cause it to get oom killed?

I have definitely seen this before during cert rotation, but I think that scenario is different and there are 2 separate envoy processes running in that case.

@lambdai does the ab

[2019-09-09 03:20] rshriram commented on #16869
see #16921

[2019-09-09 04:22] mandarjog commented on #12400
@douglas-reid we need to decide if we support jaeger first class, or just enable ot dynamic tracers and support files thru volume mounts.
If jaeger is important, we should just support it directly.

[2019-09-09 05:30] duderino commented on #15881
@incfly any ideas?

[2019-09-09 06:06] incfly commented on #16867
I've complete the section in [mTLS adoption simplification, lockdown section](https://docs.google.com/document/d/1yEMDRO2FZCyZnDK1AzNmjQtbtQqE7wN8YoM65FAH7uA/edit#heading=h.495in6gkmu26) , @diemtvu @esnible @ayj PTAL, thanks.

The complete design doc is about `mTLS adoption simplification`. This FR is scoped for one of the step to help customer easily lock down from PERMISSIVE to STRICT.

[2019-09-09 06:53] vadimeisenbergibm commented on #16916
@howardjohn I deploy a custom egress gateway pod, myegressgateway. Then I define a Gateway/VirtualService. Once I define them it takes more than 20 minutes for LDS to be pushed to the gateway pod.

It seems there is some glitch in the protocol between the Envoy of myegressgateway and the pilot. Pilot does not update Envoy on the change in the configuration (the Gateway/VirtualService). Only after

[2019-09-09 06:56] vadimeisenbergibm commented on #16916
@howardjohn The problem happens only for the first configuration update (Gateway/VirtualService defined). All other updates are pushed immediately. I have updated the title accordingly.

[2019-09-09 08:09] arnecls commented on #15958
I checked the code and on a first glance it looks ok. 👍
I will do a proper test once there is a new release with this  change included.

[2019-09-09 08:34] maxbischoff commented on #16573
Is another release for 1.2 planned? If yes, I would like to cherry-pick this to 1.2, too.

[2019-09-09 08:35] bkrahmer commented on #15185
I don't know if the problem persists or not.  Our project direction changed, and istio was removed from the architecture (for now, at least).

[2019-09-09 09:36] dangit815 commented on #16878
Thank you for your reply. I am trying to compile istio in my company network, but this network is restricted and can't access some URLs. I can't do *git clone* for some packages in the go.mod file, so the *go mod download* can't run successfully.
If *vendor file* exists, I can try to compile istio locally without network.

[2019-09-09 09:40] dangit815 commented on #16878
Thank you for your reply. I am trying to compile istio in my company network, but this network is restricted and can't access some URLs. I can't do **git clone** for some packages in the go.mod file, so the **go mod download** can't run successfully.
If **vendor file** exists, I can try to compile istio locally without network.

[2019-09-09 12:14] ramaraochavali opened #16928 "Make Stats Flush Interval Configurable"
**Describe the feature request**
Currently Stats Flush Interval defaults to 5s which is Envoy's default. For some stats backends it is desirable to have to higher values. This feature request is to make this configurable. See https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/bootstrap/v2/bootstrap.proto#envoy-api-field-config-bootstrap-v2-bootstrap-stats-flush-interval for details on stats

[2019-09-09 13:02] sdake commented on #13259
to catch everyone up on where we stand today:

Please see these preliminary release notes around the `istioctl` experimental commands that made 1.3: https://deploy-preview-4934--preliminary-istio.netlify.com/about/notes/1.3/

[2019-09-09 13:05] sdake commented on #13259
The operator installation guide: https://deploy-preview-4934--preliminary-istio.netlify.com/docs/setup/install/operator/

[2019-09-09 13:49] librannk opened #16933 "VirtualService on single virtual gatway using same hosts not able to do uri prefix for more than 16 services."
Below is my virtual service (removed names to generic ones)

Scenario : i am doing path based routing for host.some.com, and based on the prefix , i am redirecting to various services

issue: upto 16 services it works fine , after 16 services it is not working , if i delete one service it starts working ..
is there any limit on virtual service ??

apiVersion: networking.istio.io/v1alpha3
kind: Vir

[2019-09-09 13:55] KuroObi commented on #16614
If you need more information for the debugging process we are happy to provide it.

[2019-09-09 13:56] howardjohn commented on #16916
Did this happen once if consistently? What do pilot logs show when the
virtual service is applied?

If it's reproducible can you provide all the setup config here? or do I
just need to follow those docs

On Sun, Sep 8, 2019, 11:54 PM Vadim Eisenberg <notifications@github.com>
wrote:

[2019-09-09 14:02] howardjohn commented on #16878
You can also get  GOPROXY set. I'm not sure why you can do a git clone of istio but not other GitHub repositories?

The istio project has no intention of adding the vendor folder back. This is the standard Go project setup now

[2019-09-09 14:22] #12390 closed

[2019-09-09 14:42] vadimeisenbergibm commented on #16916
Steps to reproduce the bug:

1.
[code]
2.
[code]
3.
[code]
4.
[code]
5.
[code]
6.
[code]

7. Check the listeners. It should contain the 443, but it will take about 30 minutes until the lister for the port 443 will appear.

[code]

Cleanup:

1.
[code]
2.
[code]
3.
[code]

[2019-09-09 14:43] vadimeisenbergibm commented on #16916
@howardjohn The bug is reproducible, I reduced the docs to the minimal configuration, please check https://github.com/istio/istio/issues/16916#issuecomment-529509129.

[2019-09-09 14:54] howardjohn opened #16935 "LDS reject (same matching rules) when using Service with no pods"
Captured slack conversation:

Luke Alexander [Today at 4:29 AM]
does anyone know much about these errors:
```[2019-09-09 11:19:54.853][25][warning][config] [external/envoy/source/common/config/grpc_mux_subscription_impl.cc:73] gRPC config for type.googleapis.com/envoy.api.v2.Listener rejected: Error adding/updating listener(s) 0.0.0.0_9100: error adding listener '0.0.0.0:9100': multiple filter cha

[2019-09-09 14:55] linsun opened #16936 "Not seeing gateway info during istioctl describe"
**Bug description**
when gateway resource and virtual service/pod are deployed different namespaces.

I have deployed my gateway resource in Istio-systems and my VS (that refers to the gateway resource) and pod in another namespace.  When running istioctl x describe, I'm not able to see any reference to the gateway resource.  Is this expected?

examples:

[code]

[code]

**Affected product area (p

[2019-09-09 15:06] jfeddern commented on #16933
I don't think that there is any limitation. We are using a VirtualService configuration with around 70 different services (also prefix based routing).

[2019-09-09 15:10] howardjohn commented on #16933
Can you provide config with `istioctl proxy-config routes POD -ojson` with 16 and 17 matches?

[2019-09-09 15:12] vadimeisenbergibm commented on #16916
Pilot logs:

myegressgateway is deployed:
[code]

After the virtual service/gateway are defined, I see the following:
[code]

[2019-09-09 15:13] duderino commented on #16916
@vadimeisenbergibm does the problem also occur with 1.3.0-rc.1?

[2019-09-09 15:18] jfeddern commented on #16855
You could deploy a k8s service of type LoadBalancer and add the selector app=istio-ingressgateway to it in order to route the traffic to the ingressgateway pods. For the LoadBalancer you can provide a static ip. For more informations refer to the kubernetes documentation: https://kubernetes.io/docs/concepts/services-networking/#loadbalancer

[2019-09-09 15:20] howardjohn commented on #16916
Interesting, so it does a push but generates no listeners.

I would say more importantly, does it on 1.2.5? As in, did we regress?

[2019-09-09 15:21] vadimeisenbergibm commented on #16916
@duderino let me check.

[2019-09-09 15:26] duderino commented on #16916
@howardjohn is right.  1.2.5 is the more important comparison.

[2019-09-09 15:29] #16919 closed

[2019-09-09 15:33] kheraud commented on #13241
+1

[2019-09-09 15:42] frankbu commented on #6860
Sounds like maybe you also need a VS with 50s timeout for the external URL, or the call from service A to it will timeout after 15s and then it will return the error to service B.

[2019-09-09 15:44] howardjohn commented on #16581
This is still marked as release blocker, we fixed by raising timeouts right?

[2019-09-09 15:51] kish3007 opened #16937 "Sticky session using consistentHash isn't working as expected in Istio 1.2.2"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
i am trying to handle stickysession for my web-app using istio's destination rule like below, 3 replicas of web-app in a deployment exposed with a s

[2019-09-09 16:05] douglas-reid commented on #12400
One alternative to consider: export via OpenCensus.  Deploying the OC Service configured to export to Jaeger should be possible (and already supported in Envoy).

[2019-09-09 16:17] vadimeisenbergibm commented on #16916
@duderino @howardjohn The problem does **not** exist on 1.2.5, exists on 1.3.0-rc.1.

[2019-09-09 16:26] objectiser commented on #12400
+1 I think that would be my preference too - move towards OpenTelemetry with a range of exporters (including Jaeger), rather than having to directly support those tracers.

[2019-09-09 16:35] howardjohn commented on #16916
Looking into it now. fyi @rlenglet potential regression

[2019-09-09 16:39] #16163 closed

[2019-09-09 16:42] vadimeisenbergibm commented on #16916
@howardjohn By the end of the day, please update the issue with what you found. Let me continue to work on it tomorrow Israeli time.

[2019-09-09 16:51] #16581 closed

[2019-09-09 17:02] howardjohn commented on #16916
@vadimeisenbergibm I think it may be related to protocol sniffing. You can test by setting env variable in pilot `PILOT_ENABLE_PROTOCOL_SNIFFING=false`. I am doing the same, seems to be the cause but need to make sure its not just a coincidence it got fixed when I did that (from pilot restarting as a result, or something)

[2019-09-09 17:13] howardjohn commented on #16916
@vadimeisenbergibm I thought I reproduced it once, but now I no longer can. Not sure why. Tearing down my whole env and trying again

[2019-09-09 17:25] incfly commented on #15881
Without taking a look of the Envoy configuration dump and the Pod/Deployment YAML, I have a very random guess.

1. The application port is declared as TCP, even though the prober is a HTTP request.
2. Kubelet ---(http) ---> Envoy --(TCP_PROXY) --> App.
3. Every HTTP prober request establishes a new TCP connection.
4. The app itself does not close the socket correspondingly.
5. App runs out of the

[2019-09-09 17:33] jwendell commented on #9117
rpm's can be built manually, but AFAICT they're not released as artifacts yet.

[2019-09-09 17:38] incfly commented on #9117
@jwendell I gave it a shot trying to add the build rpm target to the Makefile as of cloud/release build process. However it's taking too much time, and timeout for the 20 minute deadline of release.sh script. This is mostly due to the Envoy build process.

We need to do things similar to deb, add builds in istio/proxy and istio/istio just download from prebuild GCS bucket. https://github.com/istio

[2019-09-09 17:41] howardjohn opened #16940 "Add benchmarks for Pilot config generation"
From the recent performance regressions (https://github.com/istio/istio/issues/16869) it has become clear we cannot adequately benchmark pilot config performance. Our best bet right now is deploying to large cluster and trying to find patterns from spiky CPU patterns + profiles.

Ideally, we could have some set of config, send it through XDS config generation as part of a benchmark. Then we can co

[2019-09-09 17:44] howardjohn commented on #16916
Once it is broken
* restarting galley does not do anything
* removing the config and re applying does not do anything
* killing the gateway does not do anything.

Restarting Pilot *does* fix the problem permanantly

[2019-09-09 17:46] incfly commented on #16869
/cc @incfly

[2019-09-09 17:51] #16914 closed

[2019-09-09 18:03] howardjohn commented on #16916
Maybe related to https://github.com/istio/istio/pull/16702, since I see `buildGatewayListeners: no gateways for router myegressgateway-7998f9cd5f-wgvsz.istio-system`

[2019-09-09 18:24] howardjohn commented on #16916
To reproduce it, remove the VS and GW, scale egress to 0 replicas, scale egress back to 1 replica, recreate the VS. No need to redploy pilot

[2019-09-09 18:29] costinm opened #16942 "Test gap: verify behavior of SDS when CA gRPC is terminated (citadel restart, etc)"
Both IstioCA and GoogleCA initialize the gRPC in main() - there is a TODO on both about
reconnecting, but it doesn't seem to be implemented. For example citadel/client.go:69

sendRetriableRequest is retrying the request - but it is not reconnecting. It doesn't appear to have any other recovery.

Killing citadel can be used to reproduce it.

[2019-09-09 18:29] costinm commented on #16942
Note this does not affect SDS for ingress.

[2019-09-09 18:35] fpesce commented on #15188
Reproduced on 1.1.14 / 1.2.5 and 1.3.0-rc2
@douglas-reid is working on a fix.

[2019-09-09 18:39] santhosh-git opened #16943 "Additional ingress gateway"
We are using the default ingress gateway for istio. We would like to create two different ingress gateway for using private and public external load balancer.

Is there any way to achieve this?

[2019-09-09 18:40] rlenglet commented on #16942
The gRPC client is normally automatically reconnecting with the default options, which is the case here.
Have you observed that it doesn't reconnect?

[2019-09-09 18:44] esnible commented on #16936
It is expected.

The version of 1.3 gets configuration from the inspected pod itself.  It only sees the virtual services on the mesh gateway.

It would be a good idea to show the virtual services and gateways attached to the Ingress-gateway.  I will look into querying an ingress-gateway Envoy and using that information to display the requested information.

[2019-09-09 18:45] illidan80 commented on #15881
@incfly Hi, first - thank you for your effort helping on this.

Here is a deployment yaml ("obfuscated") of one of the trouble makers:

[code]

...and a corresponding service yaml:

[code]

Yes, you are right. Indeed, we declaring TCP. But I would expect it will either work always or work never . How it can work for about 3 days, and then stop working?

[2019-09-09 18:47] lambdai commented on #16873
Going through the log in
https://gist.github.com/harpratap/d5a7c762e8b1e5e1808698f04b47739d#file-istio-proxy-faling-log-L352-L355

Sidecar proxy is restarted due to file certs update. This envoy restart is hotrestart and it would double the memory usage.

I am not sure if it is expected to use file based certs

@JimmyCYJ How can we determine if this pilot should use sds or file based?

[2019-09-09 18:58] gotwarlost commented on #9992
We introduced automatic retries to all proxy sidecars using the sidecar injection config map and this made all transient errors due to blips in adapter deployment go away. This has been  a very useful feature for us.

[2019-09-09 19:01] #16895 closed

[2019-09-09 19:02] rshriram commented on #16916
yes if metadata is missing, then we fall back to k8s. But I thought @kyessenov  had a PR that fixed this. We were copying the metadata at each XDS request or something and Kuat pointed out that it was not the right thing to do per the specs..

[2019-09-09 19:03] howardjohn commented on #16916
Ok basically what is happening:

* Sidecars have a LABELS metadata.
* 3 weeks ago we started deriving workload labels from this: https://github.com/istio/istio/issues/16124
* Gateways do NOT have LABELS metadata, so they don't get these functionality
* In all the cases here when we don't send listeners, the gateway fails to get labels, since it reads from pods and we have  the standard kubernetes

[2019-09-09 19:05] rshriram commented on #16916
and https://github.com/istio/istio/pull/16394

[2019-09-09 19:30] skydoctor commented on #12400
Agree. Supporting the full list of what envoy supports would be a good start. They currently have:

https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/trace/v2/trace.proto

-     envoy.lightstep
-     envoy.zipkin
-     envoy.dynamic.ot
-     envoy.tracers.datadog
-     envoy.tracers.opencensus

[2019-09-09 20:05] esauser commented on #14110
@rshriram @lei-tang @dwradcliffe was this functionality ever actually added to a release? The referenced pull request was soon reverted, https://github.com/lei-tang/istio/commit/b638ba2770a514204764996e11c2c6fb6e1c7a8f.

We also have a need to log Istio blocks to external requests and have not been able to find a solution.

[2019-09-09 20:07] costinm commented on #16942
Sorry, I didn't get to grab the logs.

Confirmed that grpc is reconnecting with backoff - and there is the backoff on SDS code itself.  It may be just a timing issue.

[2019-09-09 20:08] #5891 closed

[2019-09-09 20:09] JimmyCYJ commented on #11434
This control plane SDS support will be shipped with release 1.3

[2019-09-09 20:09] #11434 closed

[2019-09-09 20:09] costinm commented on #16942
Updated the title - I think the remaining issue is to understand the timing and config options around retries/backoff.  And remove the comment around Dial(), I got confused by it and stopped looking for other causes.

[2019-09-09 20:12] costinm commented on #16942
https://github.com/grpc/grpc/blob/master/doc/connection-backoff.md - seems 2 minute is the max backoff, with 20 sec min. On top of this there is the retry/backoff in the sds code.

[2019-09-09 20:15] Nielsoux opened #16944 "Using headless service instead of endpoint in multicluster, single control-plane, multi-network configuration on EKS"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**

In a Shared control plane (multi-network) Istio installlation on EKS.
I would like to be able to reference a DNS name for my **LOCAL_GW_ADDR** instead of an IP address since ELB resolved IP addresses can vary

**Describe alternatives you've conside

[2019-09-09 20:39] howardjohn opened #16945 "Expose LABELS environment variable on gateway"
As a follow up to https://github.com/istio/istio/issues/16916, we can determine information from node metadata instead of pod if we do that.

I think we can do this with the downward api stuff, but didn't try -- we need it in json format, so may need changes to the injector.

[2019-09-09 20:57] incfly commented on #15881
We need to look a bit more to understand why it does not work with TCP
declared. I'll do some setup experiments myself later, to see what's
blocking us to getting things working automatically, with or without Istio.

For now, could you try declaring service name as "http-x" and then see if
it then works?

On Mon, Sep 9, 2019 at 11:45 AM illidan80 <notifications@github.com> wrote:

[2019-09-09 21:07] illidan80 commented on #15881
sure, i can try it. but unfortunetly, usually it takes about 3 days until issue starts to appear... so it will take some time to confirm (or not) this direction.

is there any dumps / logs / something i can look into it?

[2019-09-09 21:13] howardjohn commented on #16943
Take a look at https://github.com/istio/istio/issues/9426. https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/example-values/values-istio-gateways.yaml

[2019-09-09 21:38] howardjohn commented on #16721
Fixed by https://github.com/istio/test-infra/pull/1781!

[2019-09-09 21:38] #16721 closed

[2019-09-09 21:53] duderino commented on #8224
@douglas-reid sorry I forgot to circle back on this one. bug fixes that went into 1.1 fixed at least one of the crashes and considering there was no additional commentary on this bug that may have been the primary source.

[2019-09-09 22:21] incfly commented on #15881
The pod_ip_8080, inbound listeners, you should see changes from tcp_proxy
filter to the http_connection_manager filter.

I haven't done this myself. The previous case I learned customers dump the
socket state and able to see lots of `CLOSE_WAIT` sockets when prober does
not work (used in tcp type service).

On Mon, Sep 9, 2019 at 2:07 PM illidan80 <notifications@github.com> wrote:

[2019-09-09 22:38] nrjpoddar commented on #13791
@kyessenov is there any progress on this issue? I would like to explore how to get this exposed via Istio filters and get a design going if no one has started working on it.

[2019-09-09 23:02] Nino-K opened #16950 "Convert Cloud foundry e2e to the new test framework"
Rewrite the CF e2e [test](https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/cloudfoundry/copilot_test.go) using the new test framework.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ ] Policies and Telemetry
[ ] Security
[x] Test and Release
[ ] User Experience
[ ] Developer Infrastructure

**Additional context**

[2019-09-09 23:28] #16834 closed

[2019-09-09 23:42] jarvisuser90 commented on #14334
@howardjohn I'm getting the same error on v1.2.5

[code]

Any clue how to fix this?

[2019-09-09 23:46] JimmyCYJ commented on #16895
Per offline discussion, I think this is because when you update config map in step 3, you didn't pass the SDS helm values to generate the installation yaml file. Could you verify that?

[2019-09-09 23:54] howardjohn commented on #14334
@jarvisuser90 can you open a new issue and mention me in it? And in it include your setup? Thanks!

[2019-09-09 23:56] #16776 closed

[2019-09-09 23:58] #16916 closed

[2019-09-10 00:01] howardjohn commented on #16776
Thanks!

[2019-09-10 00:17] howardjohn opened #16954 "Flaky test: TestGetNodeAgentSecrets"
Example failure in prow: https://prow.istio.io/view/gcs/istio-prow/pr-logs/pull/istio_istio/16921/unit-tests_istio/150

Easily reproducible locally with `go test ./istioctl/pkg/writer/compare/sds -run TestGetNodeAgentSecrets -count 5`

[2019-09-10 00:18] howardjohn commented on #16954
It is because the ordering is not deterministic

[2019-09-10 00:36] ostromart opened #16955 "CNI should be a part of core feature, rather than third party"
Operator feature/component groupings currently put CNI into ThirdParty feature which is not accurate. It should be in its own feature group, or grouped with another Istio component if appropriate.

[2019-09-10 00:48] Monkeyanator commented on #16954
Addressed in [https://github.com/istio/istio/pull/16956](https://github.com/istio/istio/pull/16956)

[2019-09-10 01:29] cscetbon commented on #10053
I think it creates other issues cause the internal jmx listens on localhost and becomes unaccessible to others (needed if you wanna trigger repairs for example). There might be way to play with `java.rmi.server.hostname` system property but I did not test it.

[2019-09-10 02:58] howardjohn opened #16958 "Galley 1.3 + Pilot 1.4 incompatible"
Galley running 1.3 images cannot talk to a pilot running master images

Pilot logs:
[code]

This means it is impossible to canary a new version of Pilot.

@costinm @yangminzhu @ozevren

[2019-09-10 03:03] howardjohn commented on #16935
Just deploying bookinfo then deploying a service like
[code]

Did NOT trigger this

[2019-09-10 05:08] malathit commented on #16227
I am also facing the same issue when I access the swagger ui from istio-ingress-gateway with nodePort. I use minikube for my kubernetes cluster. The swagger UI has basePath missing the nodePort. So the "Try It Out" option for all the endpoints are not working.

[2019-09-10 05:40] jfeddern commented on #16855
Please take a look at the following file also (for ingress-gateway configuration) https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/example-values/values-istio-gateways.yaml

[2019-09-10 05:51] yangminzhu commented on #16958
@ozevren Should we make Galley to ignore the request for unknown CRD? Otherwise it seems this will be a problem whenever we're adding a new CRD.

[2019-09-10 06:19] pc-rshetty opened #16959 "Improve documentation for multiple match with AND behavior"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Documentation doesnt mention how to configure multiple matches for uri and header with AND behavior.

**Affected product area (please put an X in al

[2019-09-10 07:36] #16954 closed

[2019-09-10 10:36] elvizlai commented on #10875
ping

[2019-09-10 11:51] esnible commented on #10053
@mbanikazemi worked on https://github.com/istio/istio/issues/15293 which was JMX on Cassandra.  Check that work item for details.

[2019-09-10 12:30] fcantournet commented on #14433
This would be very valuable for us too : I'd like to get access logs from the ingress gateways but not the rest of the mesh proxies. Currently I'd have to fork the chart to do that :/

[2019-09-10 12:50] esnible commented on #16959
The documentation at https://preliminary.istio.io/docs/concepts/traffic-management/#multi-match gives examples of AND vs OR.  The sentence you quote reflects the two examples above it.

For AND:
[code]

Anyway, in the AND case the example becomes a single "match",
[code]

The OR example in YAML, which is identical to the AND example except for an extra `-`, becomes two matches:

[code]

(Most huma

[2019-09-10 12:58] esnible commented on #7787
@andraxylia I noticed that sourceLabels/source_labels on HTTPMatchRequest were marked `$hide_from_docs` two weeks ago.  Are these fields now deprecated?

https://github.com/istio/api/commit/0e77ec00236554f76109f0e917c6a11de3fa97f7#diff-0820bb0406265ba9b9a9e11dcec06601

[2019-09-10 13:17] johscheuer opened #16960 "Istio CA setup"
**Bug description**

Currently we use a setup where Citadel receives pre-generated certificates like described in the [docs](https://istio.io/docs/tasks/security/plugin-ca-cert/).

We have a central Vault CA which generates an intermediate CA per Istio Cluster. The root CA and the intermediate CA (and the cert chains) are stored in the `cacerts` secret for citadel.

Checking the secrets/certificat

[2019-09-10 13:39] cscetbon commented on #10053
@esnible if it listens on the pod ip i don’t think it will fail when Istio kicks in. The issue here is changing the listen adress of Cassandra that makes jmx listen on 127.0.0.1. It’s what I think is problematic if we want it to be reachable from the outside.

[2019-09-10 14:11] howardjohn commented on #16635
We need to update golangci-lint: https://github.com/golangci/golangci-lint/releases/tag/v1.18.0

[2019-09-10 14:49] VinothChinnadurai commented on #16692
Okay @howardjohn . Thanks for your timely help. We can close this

[2019-09-10 14:49] #16692 closed

[2019-09-10 15:22] ozevren commented on #16958
This is fixed in the new config pipeline, but it is not enabled yet. Galley
will not wait for CRDs, and if there is a missing CRD then it will simply
work as if it is empty. If the CRDs change, then it will reset its own
state internally to pick up the changes.

The flag is --useOldProcessor. There needs to be more testing before we can
enable it in 1.4.

On Mon, Sep 9, 2019 at 10:52 PM Yangmin Zh

[2019-09-10 15:32] ozevren commented on #16958
To clarify: to fix the scenario you mention, we will need to change the MCP
stack to return a response for the unrecognized request (that's where the
behavior is resolved). However, doing so will not allow the new CRD to be
picked-up by Galley when it arrives. The fix I mentioned above allows that.

On Tue, Sep 10, 2019 at 8:21 AM Oz Evren <ozben@google.com> wrote:

[2019-09-10 16:53] mandarjog opened #16966 "Mixer StackDriver adapter: re-encode strings as utf8"
The following error was seen when Mixer sent invalid utf-8 to SD.
```rpc error: code = Internal desc = grpc: error while marshaling: proto: field "google.logging.v2.LogEntry.Labels" contains invalid UTF-8 {"adapter": "handler.stackdriver.istio-system"}```

The following unsanitized user agent string caused the issue.
[code]

This should be fixed in the SD adapter.

[2019-09-10 17:11] mandarjog commented on #16966
This fix should be backported to 1.2

[2019-09-10 17:35] cebernardi opened #16968 "Add helm option to make Prometheus not scrape applications metrics"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
I would like to explore the possibility to configure Prometheus to NOT scrape any of the applications metrics when I install / update Istio via helm

**Describe alternatives you've considered**
I could obtain the results manually modifying prometheu

[2019-09-10 17:59] howardjohn opened #16970 "Default profile for operator does not have prometheus installed"
I followed docs here: https://preliminary.istio.io/docs/setup/install/operator/

Afterwards:
[code]
No prometheus running

Output of manifest apply:
[code]

Interestingly, prometheus is enabled if I do `profile dump`

[2019-09-10 17:59] pc-rshetty commented on #16959
Thanks @esnible it works now !!

[2019-09-10 18:01] pc-rshetty commented on #16959
i will keep it open in case you want to update the documentation to be more clearer.

[2019-09-10 18:12] William-Newshutz opened #16971 "Istio Operator Patching Prometheus Fails"
**Bug description**
I tried to have an IstioControlPlane v1alpha2 CustomResource to patch Prometheus into Istio-Telemetry's template. I received an error of "prometheus.io/scrape" not being recognized as valid syntax.
File:
[code]
Error: ```patch error: path not found at element prometheus in path spec.template.metadata.annotations.prometheus.io/scrape exit status 255```

We believe the problem is

[2019-09-10 18:31] sushicw commented on #16777
@ozevren pointed out that if we wrap the existing single-object validation as an analyzer, we can accomplish this goal and also allow for things like detecting validation errors even if the validation webhook is disabled (Because it can appear in the status field if it's part of the analyzer suite). If we do this we may also want to make that analyzer only conditionally run (e.g. if webhook is ena

[2019-09-10 18:35] yangminzhu commented on #16958
@ozevren So we have a proper fix in Galley but is disabled by default but it seems it's not ready to be enabled in 1.3 and needs more test? The flag `--useOldProcessor` seems strange to me because it fixes the issue but the name is "--use**Old**Processor", is the issue caused by some new behavior in Galley and we're fixing it by disabling the new behavior?

@howardjohn  Do we still have the proble

[2019-09-10 18:49] ozevren commented on #16958
Is there a document that describes the scenario in more detail?

[2019-09-10 19:01] linsun opened #16972 "kiali doesn't work out of box in istio 1.3"
Unable to reach Kiali UI:

`istioctl dashboard kiali` is pointing to http address of kiali (http://localhost:59157/kiali) which failed with Client sent an HTTP request to an HTTPS server.
same error if i use port-forwarding - http://localhost:20001/kiali/console

Kiali team suggested we should move up kiali to 1.3 or 1.4.

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[

[2019-09-10 19:10] howardjohn commented on #16972
In kiali 1.4 http still fails, you need https it seems

[2019-09-10 19:13] JimmyCYJ opened #16974 "Pilot should use struct to generate SDS config"
(NOTE: This is used to report product bugs:
  To report a security vulnerability, please visit <https://istio.io/about/security-vulnerabilities/>
  To ask questions about how to use Istio, please visit <https://discuss.istio.io>
)

**Bug description**
Today, Pilot uses type Any in to generate SDS config. Although there is a mitigation to avoid Envoy generate multiple SDS clients, we still find tha

[2019-09-10 19:13] JimmyCYJ commented on #16974
/cc @myidpt @pitlv2109

[2019-09-10 19:17] jmazzitelli commented on #16972
Does anyone have kiali logs? http is supported. you are not required to use https. But seeing logs would help determine the problem

[2019-09-10 19:19] jmazzitelli commented on #16972
In order to tell Kiali to use http, you must define "identity.cert_file" with a value of empty string in the Kiali CR. If you are not using the Kiali Operator, that value is in the kiali configmap.

See: https://github.com/kiali/kiali/blob/v1.4/operator/deploy/kiali/kiali_cr.yaml#L344-L359

[2019-09-10 19:21] esnible opened #16975 "integration test for `istioctl metrics`"
`istioctl metrics` has only unit test, no integration test.

[2019-09-10 19:22] howardjohn commented on #16972
Kiali logs with 1.4:
[code]

Request to kiali return: `Client sent an HTTP request to an HTTPS server.`

I can send https traffic though

[2019-09-10 19:30] jmazzitelli commented on #16972
Yes, with https enabled, it will refuse http traffic for security purposes.

As for this:

[code]

That is easily corrected by modifying the role.yaml in the kiali helm chart to give it that permission.

[2019-09-10 19:31] jmazzitelli commented on #16972
I suspect this permission is missing in the Istio helm chart: https://github.com/kiali/kiali/blob/master/operator/deploy/role.yaml#L238

[2019-09-10 19:33] jmazzitelli commented on #16972
This exists in the current master of Istio installer: https://github.com/istio/installer/blob/master/istio-telemetry/kiali/templates/clusterrole.yaml#L98

and it is in the 1.3 istio installer: https://github.com/istio/installer/blob/release-1.3/istio-telemetry/kiali/templates/clusterrole.yaml#L98

So I'm not sure why kiali was not given these permissions. How is Kiali being installed here? I was a

[2019-09-10 19:38] Nino-K opened #16976 "Consolidate and clean up pilot's MCP configuration"
This issue is to address the current way we define registries, MCP server addrs and the new experimental environment var(SSE_MCP_ADDRESSES) that was added as part of this [PR](https://github.com/istio/istio/pull/12276/files#diff-25668e8ec7da689f06e6cea780cd748cR46). Since the current plan is to have mesh configuration defined in the API - and we already have the list of config sources there we sho

[2019-09-10 20:17] sushicw opened #16977 "Add basic suite of multi-object analyzers for validation framework"
This is a follow up to https://github.com/istio/istio/pull/16350 to add some analyzers to the bare-bones framework. Specifically, we want enough analyzers to 1) vet the process of writing them, 2) demo how to writ them, 3) Add some concrete value for users experimenting with `istioctl experimental analyze`.

**Affected product area (please put an X in all that apply)**

[X] Configuration Infrastru

[2019-09-10 20:17] sushicw commented on #16977
https://github.com/istio/istio/pull/16909

[2019-09-10 20:18] #16959 closed

[2019-09-10 20:25] sushicw opened #16978 "Update `istioctl experimental analyze` to correctly handle default namespace"
kubectl will inject a default namespace if one isn't included in the yaml being applied. When running `istioctl experimental analyze`, we should mimic that behavior so we can correctly simulate the impact of applying a yaml file when doing analysis.

Note that not all resources are namespace scoped, so we need some configuration to specify which resource definitions are OK to inject on.

If we're

[2019-09-10 20:28] howardjohn commented on #16974
Can you add some details why Any is the cause of this and what the impact is?

[2019-09-10 20:32] sushicw opened #16979 "Allow multi-object analyzers to conditionally skip if service discovery is disabled"
Multi-object analysis (see https://github.com/istio/istio/issues/16350) should conditionally skip over any analyzers that require resources that are unavailable. Specifically, if we're running in galley with service discovery disabled, or if we're running via `istioctl experimental analyze` without a kube cluster or any services defined in yaml, we need a way to skip over analyzers that will alway

[2019-09-10 20:35] sushicw commented on #882
https://github.com/istio/istio/issues/16350 got the foundation of this into master, but we still need to add the status update part. (There's a WIP PR at https://github.com/sushicw/istio/pull/6/files)

[2019-09-10 21:00] JimmyCYJ commented on #12132
https://github.com/istio/istio/pull/15496

[2019-09-10 21:01] myidpt opened #16981 "[Epic] Supporting SDS on the new installer"
**Describe the feature request**
Support SDS on the new installer istio/installer. This includes the following, ordered by priorities:
1. SDS for provisioning keys and certs for the workloads.
2. SDS for provisioning keys and certs for the control plane services.
3. Gradual SDS adoption.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[

[2019-09-10 21:02] #16981 closed

[2019-09-10 21:04] myidpt opened #16982 "Supporting SDS on the new installer"
**Describe the feature request**
Support SDS on the new installer istio/installer. This includes the following, ordered by priorities:

* SDS for provisioning keys and certs for the workloads.
* SDS for provisioning keys and certs for the control plane services.
* Gradual SDS adoption.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ]

[2019-09-10 21:20] pitlv2109 opened #16984 "Downgrade SDS to file-based certs seamlessly"
(This is used to request new product features, please visit <https://discuss.istio.io> for questions on using Istio)

**Describe the feature request**
Support the case where users want to downgrade from SDS to file-based certs. Currently, it's not working out of the box.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[X] Installation
[ ] N

[2019-09-10 21:22] pitlv2109 commented on #16982
Could you specify what is "Gradual SDS adoption"?. Also, this may be related https://github.com/istio/istio/issues/16984

[2019-09-10 21:46] linsun opened #16985 "Not able to see any traces from my req in jaeger"
**Bug description**

When using the demo profile which has trace sampling 100% configured, I'm not seeing any trace spans from my req in jaeger.  The only trace spans I saw are from user Prometheus, nothing from my browsers.

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Performance and Scalability
[ x]

[2019-09-10 21:48] howardjohn commented on #16972
Kiali works with Istio 1.3 out of the box if you configure it by passing `--set kiali.security.enabled=false`. Someone change the default to have security enabled (which sets the `identity.cert_file`) but we haven't updated our docs/istioctl to ues https so we should have that set.

[2019-09-10 21:49] howardjohn commented on #16972
Although I am still seeing `the server could not find the requested resource (get meshpolicies.authentication.istio.io)` even though the clusterrole has this...

[code]

[2019-09-10 22:00] brian-avery commented on #16985
I ran into the same issue with Bookinfo.

[2019-09-10 22:05] diemtvu opened #16986 "Remove v1alpha1 authentication policy label selectors"
**Describe the feature request**

This is added a while back but got diverted due to the alternative plans for a new authentication policy. The flag has been hidden all the time anyway. It's better to remove it now to avoid misunderstanding.

**Describe alternatives you've considered**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Ins