[2018-04-20 15:02] linsun commented on #5006
That is neat, I think would be a good tech blog to show people how this can be done.  cc @nmnellis @louiscryan ^^

[2018-04-20 16:35] diemtvu commented on #4524
Ah, mTLS does not work well with stateful / headless service yet.

[2018-04-20 16:56] costinm commented on #4916
The test coverage report doesn't take into account integration tests - it's a bug in reporting that will need to be fixed.

[2018-04-20 16:56] #4916 closed

[2018-04-20 17:02] yusuoh commented on #4937
It seems that only daily tests are flaky while other prow post-submit tests are passing.

[2018-04-20 17:19] bmarshall13 commented on #928
I can confirm this is still an issue with 0.7.1

I also think I have a root cause:
When pilot calculates the clusters and listeners for a sidecar, it does not include the inbound cluster/listener until the pod is marked ready by kubernetes. However, it still includes itself as an outbound cluster, which may or may not include itself as a member.

You can test this by adding a readiness exec probe

[2018-04-20 17:30] myidpt commented on #4805
I have tested the related security tasks and the service mesh expansion yesterday, and they worked. A little concern is for migration from V0.7.1 to V0.8, istio-ca will stick around if the operators just do overwriting apply. But I guess it's not a big issue. For the mesh expansion migration, Apigee is helping us to test out.
@costinm

[2018-04-20 17:37] esnible commented on #3621
I tried to convert https://github.com/retroryan/istio-workshop/blob/master/guestbook/route-rule-80-20.yaml using `istioctl experimental convert-networking-config` and ran into two problems.

First the output RouteRule is incorrect because the subset name is invalid because it contains a period:

[code]

Even if that is fixed a VirtualService cannot represent the old RouteRule because it refers to

[2018-04-20 18:10] ijsnellf commented on #3621
@esnible: Yeah, the converter tool does not create missing subsets right now. That's why this issue is still open: https://github.com/istio/istio/blob/master/istioctl/cmd/istioctl/convert/cmd.go#L134

The errors you hit are a bug. The tool is not doing enough to make sure that the subset name is a dns1123 label: https://github.com/istio/istio/blob/master/istioctl/pkg/convert/route.go#L352 Thanks f

[2018-04-20 18:36] sakshigoel12 commented on #3828
@ is this ready for 0.8 release?

[2018-04-20 18:37] sakshigoel12 commented on #4938
@ayj are you working on this one?

[2018-04-20 18:40] esnible commented on #3621
@ldemailly I will test the tool against our V1 tests.

@ijsnellf
I ran the tool against the rest of the .yaml in https://github.com/retroryan/istio-workshop/tree/master/guestbook

The tool complained when run against non-Istio Kubernetes things, like Service, as expected.

The tool complained when run against config.istio.io/v1alpha2 kinds, such as _metric_.  I would have expected the tool to retu

[2018-04-20 18:51] ldemailly commented on #1038
the test is now in master, just need to drop the t.Skip() when we have a fix

[2018-04-20 18:54] esnible commented on #5097
I used the conversion tool on the 80/20 rule and found it doesn't work.  See https://github.com/istio/istio/issues/3621#issuecomment-383169427

I was able to get it working by creating a _DestinationRule_ to define the _Subsets_ referenced by the generated rule.

[2018-04-20 18:57] ldemailly commented on #5095
great idea but we should also have a counter of how much we dropped on the floor and report that for each subsequent call so we track the % of loss

[2018-04-20 19:30] xiaolanz commented on #5037
added

  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 10

1) Increase the number of pilot pods
2) Change the discoveryRefreshDelay from 1s to 5s.

[2018-04-20 19:36] esnible commented on #5007
It is now working.  @mbanikazemi and I verified correct behavior.

[2018-04-20 19:36] #5007 closed

[2018-04-20 20:39] diemtvu commented on #5059
If we want to expose the way this via authn policy, we can add `mode` to MutualTls authN settings, something like below. Pilot (already refer to policy) when configuring inbound filter/filter chain, can apply the proper config for each mode.

[code]

[2018-04-20 21:04] costinm commented on #5016
Users don't read pilot logs - even if  they did, many errors are lost in the noise.

We need a map or list of errors since the last cache invalidation/update, with a handler to return the list, and some counters that prometheus/grafana can show.

[2018-04-20 21:46] costinm commented on #4935
Seems to be a test flakiness, investigating.

[2018-04-20 23:24] kyessenov commented on #5036
There is this https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L371, but I think you want response headers? I think the API need to have both options exposed for the request and the response header/trailer manipulation.

We've also started thinking how to manipulate headers from the policy adaptors, but that's for the longer term.

[2018-04-20 23:26] ldemailly opened #5109 "can't put grafana in ingress with istio-auth.yaml"
I'm trying to add grafana to the perf setup
but getting
upstream connect error or disconnect/reset before headers

[2018-04-20T23:11:14.739Z] "GET /dashboard/ HTTP/1.1" 503 UF 0 57 2 - "10.150.0.3" "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/65.0.3325.181 Safari/537.36" "0e2d499e-d6ab-928c-afa3-d35987736f0b" "35.188.253.194" "10.36.4.6:3000"

the

[2018-04-21 02:08] ldemailly commented on #5109
Fixing it in #5028

[2018-04-21 02:10] ldemailly opened #5111 "0.8 builds: incorrect prometheus config"
the current builds have non functional prom setup that still uses « mixer » instead of telemetry etc

[2018-04-21 02:12] ldemailly commented on #5111
https://gist.github.com/28af41b28574ed19263181a09e1dd217#file-gistfile1-txt

[2018-04-21 02:14] ldemailly commented on #5111
cc @douglas-reid

[2018-04-21 03:37] douglas-reid opened #5115 "Publish Istio Dashboards to grafana.com"
From: sam@getpolymorph.com

Once we stabilize the dashboards and metrics driving them, we should publish and version them, as requested.  We should also investigate how we can do this in an (semi-)automated fashion.

[2018-04-21 10:44] JCzz commented on #5056
@bobbytables

Ahh I see, thanks Robert

[2018-04-22 02:28] costinm commented on #5023
Left few comments in the PR, it seems reasonable to do it, but part of
lint, not as a dep or before other jobs.

Nate found that dep update check ( in periodic) has been broken, no longer
checking that upgrading the deps is possible. Need to fix that as well.

On Fri, Apr 20, 2018, 16:21 Kuat <notifications@github.com> wrote:

[2018-04-22 05:51] vilobhmm opened #5118 "VMs as External Service in Mesh Expansion scenarios does not work"
VMs as External Service in Mesh Expansion scenarios does not work. Two instances of same service (python-webserver) are running on the two VM's. The goal here is to use the external service feature and perform a blue green traffic shifting for VM depending on the labels set.

**Problem : The real problem here is Pilot can't resolve correct cluster for VM as external service. Please check the ADS c

[2018-04-22 05:52] vilobhmm commented on #5118
@costinm @ZackButcher

[2018-04-22 18:52] maxkondr commented on #4840
@nmittler
Yes, I did it exactly in the way you have described. But there is one fact to mention:
- my ingress-nginx namespace had 2 pods: nginx itself and default-backend
- when I delete both these pods with `kubectl delete pod <...> -n ingress-nginx` command, the default-backend is being recreated with sidecar container but ingress not.

Anyway I will try to modify namespace before deploying ngin

[2018-04-22 18:54] maxkondr commented on #4844
Ok, I will try to setup my environment in this way and inform you about results

[2018-04-22 20:01] liamawhite opened #5119 "Document proxy-config command"
The command should be documented both the development wiki and public docs.

[2018-04-23 00:32] costinm opened #5121 "Bad outbound listener"
Wrong generated listener - one of the hosts is picked up and takes over port 443,
error messages for the others. Also no other 443 rule is picked up.

[code]

Generated listener:
[code]

[2018-04-23 01:35] markstgodard commented on #928
I also encountered something similar with 0.7.1.

I have a service A that talks to service B, and when I make a request to service A via the ingress, I get an HTTP 431 (which looks to be a loop when I look at the trace in jaeger

![image](https://user-images.githubusercontent.com/405082/39102810-a15352b2-466c-11e8-875e-bf1dc5287117.png)

[2018-04-23 11:04] harryge00 opened #5125 "Cannot run 'apt-get update' in containers of bookinfo sample."
istio version: 0.7.1
K8s version: v1.9.6-gke.1

How to reproduce?
[code]

[2018-04-23 11:07] harryge00 commented on #5125
I guess this is due to the istio-proxy sidecar running together with productpage or review or rating.

[code]

[2018-04-23 12:43] tommyJimmy87 commented on #4524
Um, is there a way to exclude completely the "envoy proxy" for a service?
Anyway I have the same problem if I turn off the mTLS as well.

[2018-04-23 12:54] elevran commented on #2993
fixed already

[2018-04-23 12:54] #2993 closed

[2018-04-23 13:40] rshriram commented on #5121
@GregHanson

[2018-04-23 14:06] esnible commented on #5097
I have a PR that fixes the problem with the 80/20 rule.  https://github.com/istio/istio/pull/5126

[2018-04-23 15:59] vilobhmm commented on #5118
@rshriram

[2018-04-23 16:04] xiaolanz commented on #4235
It was fine for week. A new regression:

https://circleci.com/gh/istio/istio/78735

WARNING: DATA RACE
Write at 0x00c42035ae70 by goroutine 141:
  runtime.mapassign_faststr()
      /usr/local/go/src/runtime/hashmap_fast.go:694 +0x0
  istio.io/istio/pilot/pkg/serviceregistry/aggregate.(*Controller).Services()
      /go/src/istio.io/istio/pilot/pkg/serviceregistry/aggregate/controller.go:71 +0x3ce

[2018-04-23 17:12] #4859 closed

[2018-04-23 17:39] cesarlbf opened #5129 "Manual setup of Ingress IP(Via e2e env var)"
In order to test in some cloud providers without the kube Load Balancer, there is a need to allow https://github.com/istio/istio/tree/master/tests/e2e to support a variable with the `Ingress` Public IP/Port.

As exists today for other elements in the test framework. https://github.com/istio/istio/blob/d1eb7e3ff5ac063fd74ddb7971586055d175d6aa/tests/e2e/framework/kubernetes.go#L62

The goal is to ha

[2018-04-23 18:29] linsun commented on #5129
can you submit a PR for this small change?

[2018-04-23 18:40] cesarlbf commented on #5129
Yes,  I am investigating impact of the changes needed to try a PR soon.

[2018-04-23 18:59] sakshigoel12 commented on #593
@andy can you assign this issue if we still think it is a P0

[2018-04-23 19:00] sakshigoel12 commented on #2939
@costinm can you assign this issue if we still think it is a P0

[2018-04-23 19:05] mandarjog commented on #5111
Generated istio.yaml contains all correct prometheus resources.
The prometheus artifacts in addons are both unnecessary and wrong.

When a user does  kubeapply -f addons/prometheus.yaml the correctly configured prom is replaced by incorrect stuff.

@rkpagadala  can we remove addons/prometheus from the archive ?

[2018-04-23 19:24] sakshigoel12 commented on #1486
@ZackButcher assigning this to you as you are the owner of Ingress on go/istio-schedule. please reassigng as appropriate if you are not working on this P0.

[2018-04-23 19:25] sakshigoel12 commented on #2594
@hklai please assign this issue if it is still a P0

[2018-04-23 19:26] sakshigoel12 commented on #1005
@geeknoid  please assign this issue if it is still considered P0.

[2018-04-23 19:27] sakshigoel12 commented on #983
@hklai please assign this issue if it is still considered P0

[2018-04-23 19:29] sakshigoel12 commented on #526
@ldemailly please assign this issue if it is still considered P0

[2018-04-23 19:51] douglas-reid commented on #4014
coverage appears vastly improved. closing.

[2018-04-23 19:51] #4014 closed

[2018-04-23 19:55] #2236 closed

[2018-04-23 21:49] mandarjog commented on #5125
you need to create and egress rule or an exteranal service.
[code]

[2018-04-23 22:06] ldemailly commented on #5111
@mandarjog oh so it's just a doc issue - which release did we change it so prometheus is builtin to istio-*.yaml ?

https://preliminary.istio.io/docs/tasks/telemetry/querying-metrics.html
https://preliminary.istio.io/docs/tasks/telemetry/using-istio-dashboard.html

both have `kubectl apply -f install/kubernetes/addons/prometheus.yaml` in prerq

[2018-04-23 22:26] ldemailly commented on #5111
I checked and it is new in 0.8 dailies to have           image: "docker.io/prom/prometheus:latest"

[2018-04-23 22:29] lei-tang commented on #5077
#5136

[2018-04-23 22:37] ldemailly commented on #526
@sakshigoel12 do you have a set of people I can assign it to ?
(a set that isn't just me)

[2018-04-23 22:38] ldemailly commented on #1005
is this covered now in helm ? @linsun do you know ? (turning off udp statsd easily and/or switching to tcp)

[2018-04-23 22:40] ldemailly commented on #593
this is pretty much the charter of the testing swat team

[2018-04-23 22:58] douglas-reid commented on #1005
There is another open issue that is related to configuring envoy metrics output: https://github.com/istio/issues/issues/295

until we have mixer direct api support, there is no path for eliminating the gathering of envoy metrics in a manner distinct from mixer-generated metrics.

[2018-04-23 23:29] ldemailly opened #5139 "istio envoy access log should specify if (m)TLS is used or not"
current log entry look like (for ingress for instance)

[2018-04-23T23:24:50.950Z] "GET /d/1/ HTTP/1.1" 503 UF 0 57 4 - "10.150.0.5" "curl/7.54.0" "bd681cb9-fa08-99af-a816-66bf90e6475d" "35.188.253.194" "10.36.1.9:3000"

This should say the inbound and outbound Plain/TLS/mTLS; it would greatly help ability to debug if the failure is mtls related or not - also should have an error log when it is mt

[2018-04-24 00:35] JimmyCYJ opened #5146 "pilot e2e test TestRoutes/v1alpha1/a->c[v1=100]_append_headers is flaky in CircleCI"
The pilot e2e test is flaky in CircleCI. The test failure is observed in two PRs.
TestRoutes/v1alpha1/a->c[v1=100]_append_headers.
TestRoutes/v1alpha1/a->c[v1=100]_CORS_policy is also flaky, not sure whether the root cause is the same.

[2018-04-24 00:39] JimmyCYJ commented on #5146
cc @costinm

[2018-04-24 01:08] sbezverk opened #5151 "Failed to connect to pilot. Fallback to starting with defaults and no AZ AZ error 404"
When running latest master, the following errors are seen in istio-ingress:

[code]

[2018-04-24 01:36] danehans opened #5153 "Add NodePort Support to e2e Test Framework"
The e2e test framework only supports Ingress resources that use a Service type of `loadBalancer` [1]. I would like to extend the `GetIngress` function to support Services of type `nodePort`.

[1] https://github.com/istio/istio/blob/master/tests/util/kube_utils.go#L201

[2018-04-24 02:27] linsun commented on #2939
https://github.com/istio/istio/pull/5114

[2018-04-24 03:32] crowfrog commented on #4865
I meet same issue.
My service POD receive traffic before POD enter RUNNING status which caused "upstream connect error".
And won't receive traffic between RUNNING and READY status because my readiness probe applied.
Then everything is OK after POD enter READY status.

My service work with istio-ingress and sidecar

[2018-04-24 06:03] harryge00 commented on #5125
@mandarjog  Thanks!

[2018-04-24 06:03] #5125 closed

[2018-04-24 06:47] andy commented on #593
@sakshigoel12 sorry, but I’m not the right person

[2018-04-24 07:50] elevran commented on #4725
Fixed by https://github.com/istio/istio/pull/4726

[2018-04-24 07:50] #4725 closed

[2018-04-24 07:53] du2016 opened #5158 "Istio Distributed Tracing only show one span"
i hava two service,A will request B,if i don't set headers,it will in muiti trace,if A set request headers,it only hava one span and one trace,i am set headers as the doc: https://istio.io/docs/tasks/telemetry/distributed-tracing.html

[2018-04-24 12:35] douglas-reid commented on #5056
This appears to be resolved. Closing.

[2018-04-24 12:35] #5056 closed

[2018-04-24 13:12] sbezverk commented on #5151
/assign @sbezverk

[2018-04-24 15:08] joesonw commented on #4368
Got the same issue with rke installed k8s cluster.
[code]
I believe above configuration would turn on the necessary admission control plugins?

[2018-04-24 15:51] douglas-reid commented on #5158
I just tested this from master with the bookinfo samples and am able to see distributed traces for the calls.

I did notice some strange behavior regarding Mixer spans, but otherwise everything looks to be working.  Can you provide more detail on your issue ?

[2018-04-24 16:42] ldemailly commented on #593
cc right andy: @hklai

[2018-04-24 17:32] ldemailly opened #5167 "AZ issue with mTLS"
Issue: confirm Availability Zone feature is working even in mTLS mode

was:

I installed the 0.8 release candidate using istio-auth.yaml
https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/0.8.0-pre20180421-09-15/
( using https://github.com/istio/istio/blob/master/tools/setup_perf_cluster.sh )

and the ingress log had multiple:
[code]

[2018-04-24 18:10] hklai commented on #4043
Since https://github.com/istio/istio/pull/4020 has been merged, I think we can just close this.

[2018-04-24 18:10] #4043 closed

[2018-04-24 18:14] hklai commented on #981
This is part of https://github.com/istio/istio/issues/4545.
Closing this.

[2018-04-24 18:14] #981 closed

[2018-04-24 18:48] hklai commented on #593
This is part of https://github.com/istio/istio/issues/4536.

The workflow will be something like
1. scripts to set up local test env
2. make docker
3, make e2e-foobar

[2018-04-24 18:48] #593 closed

[2018-04-24 19:58] sgilsonapigee opened #5172 "the type of cacert is "Opaque" not " istio.io/key-and-cert""
The procedure described in "Plugging in CA certificate and key" at https://istio.io/docs/tasks/security/plugin-ca-cert.html includes these lines:

[code]

If you then examine cacert, its type is "Opaque" but the original secret, istio.default  is of type " istio.io/key-and-cert". Shouldn't they be the same?

`$ kubectl get secrets -n istio-system`

Returns:

[code]

[2018-04-24 20:02] sgilsonapigee opened #5173 "delete istio.default in the "istio-system" namespace when uploading a custom cert/key?"
The procedure described in "Plugging in CA certificate and key" at https://istio.io/docs/tasks/security/plugin-ca-cert.html includes this lines to delete istio.default in the "default" namespace:

`kubectl delete secret istio.default`

But istio.default still exists in the "istio-system" namespace. Shouldn't you delete it in both:

`kubectl delete secret istio.default -n istio-system`

[2018-04-24 20:06] linsun opened #5175 "provide default request for cpu/mem for sidecar"
We should provide a default requested resource for cpu/mem for our default envoy side car so that if users want to explore auto scaling, it can work without extra work.

Currently our docs ask people to either modify the yaml or modify the config template (https://github.com/istio/istio/blob/master/install/kubernetes/templates/istio-sidecar-injector-configmap-release.yaml.tmpl) and use the --injec

[2018-04-24 20:29] ldemailly commented on #4536
see https://github.com/istio/istio/issues/593#issuecomment-324404846 for issues with the previous incantation of the process (though then at least there was a way, albeit undocumented, to run 1 e2e tests multiple times; I'm looking forward to getting back to oct17 state and better)

[2018-04-24 20:40] hklai commented on #5005
@GregHanson  How much more work is required for this? Any ETA?

[2018-04-24 20:41] hklai commented on #4985
Is this still blocking 0.8 release?
If so, who is working on this?

[2018-04-24 20:43] hklai commented on #4794
No longer release blocking since the test was disabled.

Will need to fix it after 0.8.

[2018-04-24 20:44] kidiyoor opened #5176 "503 at envoy in mesh ex VM : istio-0.7.1"
mesh -> VM APIs works fine.
VM -> mesh gives 503

[code]
Directly calling the endpoint IP from VM works fine.
[code]
Status Code: 200

However
[code]
ie via cluster IP and envoy gives 503

Envoy Log
[code]

Envoy is built from istio/proxy repo tag: 0.7.1 for CentOS
[code]

[2018-04-24 20:45] gargnupur commented on #4536
@ldemailly : our current test setup looks like should not suffer from issues mentioned in https://github.com/istio/istio/blob/vagrant-kubernetes-istio/vagrant-kubernetes-istio/RunTestOnHost/README.md
You should be able to run 1 e2e test multiple times..

[2018-04-24 20:45] hklai commented on #4701
@linsun is there any remaining work that needs to be done here?

[2018-04-24 20:46] hklai commented on #4664
@rkpagadala did you have a chance to verify?

[2018-04-24 20:47] hklai commented on #4239
Is this still blocking the 0.8 release? If so, is anyone working on this?

[2018-04-24 20:48] hklai commented on #4238
Is this still release blocking? If so, is anyone working on this?

[2018-04-24 20:50] hklai commented on #4791
Is it still true that only 1-4 are release blocking?
If so, what is the current status for 2-4 (/cc @ZackButcher, @diemtvu, @ostromart, @liminw)?

[2018-04-24 21:09] PiotrSikora commented on #5059
I've updated previous comment with link to a filter chain selection changes https://github.com/envoyproxy/envoy/compare/PiotrSikora:tls_inspector...PiotrSikora:multiple_filter_chains, if you want to review them, but they are still pending merge of https://github.com/envoyproxy/envoy/pull/3062.

[2018-04-24 21:11] ldemailly commented on #4664
https://github.com/istio/proxy/pull/1518#issuecomment-384068481

[2018-04-24 21:28] ldemailly commented on #5111
@hklai: @rkpagadala is kindly doing all the work at the moment, it ripples through docs (we now have to document that prometheus is indeed installed by default) and I have some concern about operator experience but it's almost there

[2018-04-24 21:30] ldemailly commented on #4985
it's mitigated for 0.8 as long as noone changes logging settings

I think @geeknoid is on point to fix the root cause (logging going to stdout instead of stderr)

[2018-04-24 21:33] ldemailly commented on #4536
it wasn't k8s fault but mostly ours

[2018-04-24 22:05] bharatnc opened #5182 "404 NR 0 0 0 when using Istio-proxy for outbound communication"
I'm using istio with services trying to talk to Google OAuth through port 443: I get the following error when I log the isitio-proxy containers.
[code]
This happens even when I have an egress rule that looks like this:
[code]

Along with a route rule:

[code]

[2018-04-25 00:11] diemtvu commented on #4791
v2+authn e2e test works except for TestRoutes and TestGateway_HTTPIngress,
though it might be related to some gateway issues that Zack working on. My
desktop unfortunately dies after the move last weekend so I was unable to
check the status of those tests with the latest codebase yet.

Diem

On Tue, Apr 24, 2018 at 2:26 PM Martin Ostrowski <notifications@github.com>
wrote:

--

Diem Vu | Software

[2018-04-25 01:31] pipejakob commented on #4941
This doesn't seem like an Istio bug, but could boil down to how either Kubernetes or Docker were configured on CentOS. It isn't a lack-of-resources problem, because these pods are actually getting scheduled and executed (or else they wouldn't even have logs). The logs indicate that something is going wrong inside the container while bringing up the Liberty environment (the platform that the `revie

[2018-04-25 03:05] rshriram commented on #4238
See #5055 . It’s not release blocking.

[2018-04-25 03:12] rshriram commented on #4239
I think we have partial checks for this.

[2018-04-25 05:14] du2016 commented on #5158
when i test the bookinfo,it work's ok,but i want to develop my own program, for example ,A request B,A set request headers like this:

func gethandler(w http.ResponseWriter,r *http.Request){
	client := &http.Client{}
	req,err:=http.NewRequest("GET","XXX",nil)
	headers:=[]string{"x-request-id","x-b3-traceid","x-b3-spanid","x-b3-parentspanid","x-b3-sampled","x-b3-flags","x-ot-span-context"}
	for _,v

[2018-04-25 06:39] Vikash082 commented on #4941
@pipejakob Here are the steps, I followed for installation:
[code]
I am not able to determine the whether the reviews service is actually running as root or any other user as it is giving me below error:
[code]

[2018-04-25 06:49] mounika2540 opened #5190 "TLS issues with istio ingress"
After creating ingress resource we are getting the following logs in pilot
Istio-Auth is not enabled
readiness and liveliness probs are not used
Pilot:

2018-04-25T04:16:45.525718Z	error	EDS close for client ingress~~istio-ingress-5bb556fcbf-fhzx2.istio-system~istio-system.svc.cluster.local-81 "10.*.*.*:42330" terminated with errors rpc error: code = Canceled desc = context canceled

2018-04-25T04

[2018-04-25 07:12] Sneko opened #5191 "Injecting Istio to Jenkins make it stucks in "Back-off restarting failed container" state"
Hi 😀

I have a jenkins namespace with its Jenkins master and I would like to allow Ingress to it. Like that my repositories provider could reach Jenkins to trigger a build in Jenkins.

I was planning to use the Istio Ingress since it works well with my home-made services.

I ran:
kubectl label namespace jenkins istio-injection=enabled

And scale to 0 then 1, so that Jenkins pod is injected by the

[2018-04-25 07:57] Sneko commented on #5191
I didn't think about it earlier but I'm able to see Istio init container logs with:
kubectl logs jenkins-XXXXXXX -n jenkins --container istio-init

And that shows me:
[code]

That's really strange... It works perfectly with my others home-made microservices that have a Istio sidecar.

Any ideas please?

[2018-04-25 09:35] #4701 closed

[2018-04-25 11:40] esnible commented on #5190
@mounika2540 Can you tell us your Istio version?  For sidecar are you using proxy, proxy_debug, or proxyv2?

[2018-04-25 13:35] Sneko commented on #5191
After taking a look at the deployment I saw that securityContext object asking to run with user 1000 (jenkins user) was applied to the whole pod and not just the main jenkins container.

This security object was set by the Jenkins Helm chart, I didn't know that it could break the istio injection.

In all cases, even if Jenkins is running now, I'm not able to log in to it through Google OAuth2 sinc

[2018-04-25 16:28] douglas-reid commented on #5158
Can you compare your custom code to the bookinfo examples for header prop and distill any differences?

Alternatively, have you tried using any OpenTracing libraries to handle the header parsing and prop in your services.

There should be nothing special about the bookinfo application's handling of headers.

[2018-04-25 18:08] linsun opened #5196 "Unable to get mTLS working for my services"
I have been migrating the popular guestbook example to run on istio mesh.  The current set up is redis runs out side of mesh and guestbook runs inside of the mesh.  I also created guestbook-v2 to modernize the app to talk to a watson service via a new service called analyzer to add machine learning capability.

The issue I have is when mTLS is enabled for the mesh, I can't get guestbook working, e

[2018-04-25 18:10] linsun commented on #5196
@wattli could you help look into this or let me know what data i need to collect to help you debug this?  cc @elevran

[2018-04-25 18:38] lei-tang commented on #5040
In the PR https://github.com/istio/istio/pull/5136, the tests istio/mixer/test/client/istio_authn_origin_jwt_bound_origin/authn_report_test.go and istio/mixer/test/client/istio_authn_peer_jwt_bound_peer/authn_report_test.go show that the request.auth.claims is in Mixer. These two tests in the PR 5136 configure the Istio authn policy, send a HTTP request, and verify that the attributes at Mixer are

[2018-04-25 19:53] Sneko commented on #2790
Hi! @ayj do you know if this kind of feature is planned for the next coming releases?

I mean, annotating the pod:
- either with:    include-ip-range: "192.168.1.0/24,10.0.0.1/32"
- or with:    authorize-all-external-requests: true

About the second annotation, I was thinking of Istio looking at cluster config to automatically set the "include-ip-range" value.

My use case is that I'm using some w

[2018-04-25 20:04] esnible opened #5202 "Verify unit tests for _istioctl_ are run during build"
When I run `go test ./istioctl/...` locally TestValuesFromInstallation fails because it wants 0.4 tags and receives 0.7.1 tags.  Greg also reported a problem with the new testdata merged with PR https://github.com/istio/istio/pull/5178

Using HEAD, @GregHanson reports

[code]

[2018-04-25 20:54] tcnghia opened #5204 "503s with routerule change"
**Is this a BUG or FEATURE REQUEST?:**
BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**:

Y

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth enabled or not ?**
No

**What happened**:
Changing routerule causes Istio to briefly ret

[2018-04-25 20:55] tcnghia commented on #5204
I also notice that if we change the update to include existing route, but with 0%, we won't see 503s.  In other words, this version of *updated.yaml* will work fine.

*updated.yaml*
[code]

[2018-04-25 21:11] incfly commented on #4345
I'll close this given our new plan is to support TLS multiplexing, #5059

[2018-04-25 21:12] #4345 closed

[2018-04-25 21:13] #4483 closed

[2018-04-25 21:15] incfly opened #5208 "Align the security integration testing framework with the rest of istio tests"
1. The top level testing framework uses yaml file to specify test setup, e.g [simple/nginx_test.go](https://github.com/istio/istio/blob/master/tests/e2e/tests/simple/nginx_test.go), `security/tests/integration` uses go code style to specify the component setup, e.g (istio_ca_node_agent_env.go](https://github.com/istio/istio/blob/master/security/tests/integration/istio_ca_node_agent_env.go#L79)
1.

[2018-04-25 21:20] incfly opened #5209 "Write node-agent-k8s e2e test"
_Why we need E2E instead of integration test_
By E2E we mean set up test in a k8s cluster, build and deploy Docker image. Integration means we can spawn local citadel server and node agent, fake workload.

While integration is easier to debug and faster, we need to fake more and more dependency: e.g k8s JWT, a workload talking SDS API over UDS socket. The cost to fake these features are just too h

[2018-04-25 22:12] kidiyoor commented on #5176
thanks @costinm for find the root cause.

pilot-ilb svc object need to have 15010 port open - https://github.com/istio/istio/blob/master/install/kubernetes/mesh-expansion.yaml

[2018-04-25 22:12] #5176 closed

[2018-04-25 22:29] ayj commented on #4366
Is this still necessary with https://github.com/istio/istio/pull/4466?

[2018-04-26 00:31] kidiyoor commented on #5176
https://github.com/istio/istio/pull/5214

[2018-04-26 00:44] ldemailly commented on #5111
thanks a lot @rkpagadala for making and driving all the fixes !

[2018-04-26 01:58] zhaohuabing opened #5218 "Error: failed to convert to proto. unknown field "interceptionMode" in v1alpha1.ProxyConfig"
I got the below error when injecting envoy sidecar to bookinfo application:

ubuntu@istio-k8s-master:~$ istioctl kube-inject -f istio-0.7.1/samples/bookinfo/kube/bookinfo.yaml
Error: failed to convert to proto. unknown field "interceptionMode" in v1alpha1.ProxyConfig

ubuntu@istio-k8s-master:~$ istioctl version
Version: 0.7.1
GitRevision: 62110d4f0373a7613e57b8a4d559ded9cb6a1cc8
User: root@c520729

[2018-04-26 02:15] lei-tang commented on #4689
The source.principal attribute has been added in https://github.com/istio/istio.github.io/pull/1205/, in which the source.user attribute has been marked as to be deprecated.

[2018-04-26 02:31] zhaohuabing opened #5219 "Failed to start istio-init container (sidecar auto injection with webhook)"
Helm chart:  I'm using the latest master branch because there're bugs in 0.7.1 helm chart which cause control plane installation failed.

Control plane has been installed and started successfully using the chart of the latest master branch, but I failed to start the sidecar injected by webhook.

detailed error inofrmation:

**ubuntu@istio-k8s-master:~$ kubectl get pod**
[code]

**ubuntu@istio-k8s-

[2018-04-26 04:08] zhaohuabing commented on #5219
I updated the docker image of proxy_init to the latest and this is solved.

[2018-04-26 04:08] #5219 closed

[2018-04-26 07:06] mounika2540 commented on #5190
@esnible Istio version is 0.7.1 and image is docker.io/istio/proxy:0.7.1

[2018-04-26 10:15] ccx1024cc opened #5223 "bug: 0.7.1 can not access service after route all to v1"
i am trying 0.7.1
i am trying examle(bookinfo) :
istioctl create -f samples/bookinfo/consul/route-rule-all-v1.yaml

but i see
can not fetch detail info and reviews info

how can i make it work for rule injection example, guys?
note: i tried the solution for running bookinfo up, maybe it is related with this problem?
this is the solution link:
https://groups.google.com/forum/#!searchin/istio-users/

[2018-04-26 10:33] PiotrSikora commented on #5059
TLS Inspector (https://github.com/envoyproxy/envoy/pull/3062) was merged yesterday, Multiple Filter Chains is out for initial review (https://github.com/envoyproxy/envoy/pull/3217), but you can build it and test Pilot changes against it.

[2018-04-26 10:47] Disturbing commented on #4963
Thanks for the invite - couldn't find the time for the next meeting? Where can i get more information?

Also -- I was thinking that this can simply be done with rules?

[code]

For instance above --- isn't it possible to route rules to filter only N services somehow using:

[code]

My thought is having Rules for the logs but somehow controlling them to be consumed by specific Kibana, Jaeger or Pro

[2018-04-26 10:59] objectiser commented on #4963
I could see a benefit in being able to partition where metrics are reported - but the value of distributed tracing data is being able to view a complete trace instance that spans across all invoked services. If the spans are partitioned to different tracing servers, then users would only see a small fragment of the complete trace.

[2018-04-26 14:47] douglas-reid commented on #4963
@Disturbing once Mixer is the source of tracing data, distributing trace data to different backends based on attributes of the request is doable. However, at the moment, there aren't any trace adapters built for Mixer. There will be soon, but they don't exist today (envoys send straight to "zipkin" service at the moment). I think @objectiser has a point re: the value of distributed tracing, but un

[2018-04-26 17:16] jeffmendoza commented on #5115
I did a bit of investigation:
- I didn't find an API to post dashboards. https://grafana.com/dashboards looks simple enough to reverse engineer and script.
- It looks like you can create api keys for your grafana.com account. We can have an official Istio Account
- I assume we would only want to publish dashboards when a release is blessed. I'm guessing the place to put code to accomplish that is

[2018-04-26 17:31] vilobhmm commented on #5118
The problem here was that in the config for virtual service and destination rule we were using wrong config parameter name. Once that was fixed the "unresolved-cluster" error went off.

After that tried connecting the service running on VM from one of the pod running in k8s ran into the error of not being able to connect to the service (running on vm). This was because istio-proxy user is blocked;

[2018-04-26 17:31] #5118 closed

[2018-04-26 17:45] jukylin opened #5227 "Why watch certsDirs ?【pilot-agent】"
Hi, I have questions, in https://github.com/istio/istio/blob/master/pilot/pkg/proxy/envoy/v1/watcher.go#L177. Why watch certsDirs? what use does it have ?

And I got the log in `istio/proxy`
[code]
In which situations, it will be changed.
Thinks.

[2018-04-26 18:07] Sneko commented on #5191
Like supposed in the EDIT2, the issue comes from the requests going outside filtered by the Envoy Sidecar.

I chose to totally remove Istio from my Jenkins pod because it would be to complicated to filter correctly each requests. And now it works (I had to disable Istio Auth for the Jenkins service).

If you want more details:
https://groups.google.com/forum/#!topic/istio-users/Ws9ppT5oLrk

😀

[2018-04-26 18:07] #5191 closed

[2018-04-26 18:39] kidiyoor commented on #5173
@myidpt

[2018-04-26 19:18] myidpt commented on #5173
That's good question. Actually the task indicates "To make sure the workloads obtain the new certificates promptly, delete the secrets generated by Istio CA (named as istio.*)."

So yes, you need to do `kubectl delete secret istio.default -n istio-system` as well - and also for any other service accounts you created.

[2018-04-26 20:05] kidiyoor commented on #5172
@myidpt

[2018-04-26 20:13] myidpt commented on #5172
Yes, there types are different, but I don't think there's any issue regarding to security. Do you see any issue here?

[2018-04-26 20:15] sgilsonapigee commented on #5172
no, but I was curious as to why?

[2018-04-26 20:24] myidpt commented on #5172
Because we are not using the TYPE of the service accounts.

When the users set the secret through command line, it is "Opaque" type, and when the Istio CA / Citadel creates a secret for the workload, it is of "istio.io/key-and-cert" type.

[2018-04-26 21:09] douglas-reid commented on #5115
@hklai Can you provide any guidance here?  For releases, we'd like to publish a versioned dashboard to grafana.com. I'd be happy to help organize and deliver the changes needed, but am not sure on the best way to approach it.

[2018-04-26 21:10] ayj commented on #2790
`include-ip-range` is supported as an pod-level annotation in the sidecar injection template [here](https://github.com/istio/istio/blob/22fa8a5ed1d6bc891421b2bfecb64ed02a73dc82/install/kubernetes/helm/istio/charts/sidecar-injector/templates/configmap.yaml#L27).

[2018-04-27 00:40] hklai commented on #5097
@linsun is this blocking 0.8 release?

[2018-04-27 01:15] wattli commented on #5196
If possible, please provide the reproduce steps. That would be useful for diagnose

[2018-04-27 01:26] wattli commented on #5196
and feel free to ping me on slack :)

[2018-04-27 01:40] rkpagadala commented on #4664
adding @qiwzhang the proxy and istio repos have different versions of api. istio is leading api. Wayne will move proxy to match the version in istio repo and then move the proxy sha in istio repo. All these changes in release-0.8 branch.

[2018-04-27 01:54] linsun commented on #5097
yes, ideally we should get the workshop migrated to use the new route rule so that folks can run the workshop with 0.8.

[2018-04-27 03:03] ldemailly commented on #4664
thanks for the investigation, good plan, but both master and the branch, right?

[2018-04-27 03:22] ccx1024cc opened #5243 "NullPointerException of netflixoss/eureka:1.3.1"
hi, guys. I am trying istio1.7.1 on eureka.
First, i find that the rating service not accessable after removing the abort rule for bookinfo sample.
And  i see this log in container which start from image netflixoss/eureka:1.3.1:
...
2018-04-26 14:22:25,234 WARN  com.netflix.discovery.endpoint.EndpointUtils:364 [DiscoveryClient-0] [getZoneOffset] DISCOVERY: Could not pick a zone based on preferred

[2018-04-27 04:41] wattli commented on #5196
Actually can you try a newer version, I tried some simple demo with auth policy yesterday and it works fine. The version i used is: https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180424-09-15/

[2018-04-27 13:25] linsun commented on #5196
Sure!  The instruction is in readme, basically you deploy redis outside of the mesh and guestbook-v1 in the mesh, when mTLS is enabled in the mesh.

Q for you @wattli, in this case, do I need to disable mTLS for the guestbook service?

I'll try the newer build.

[2018-04-27 14:51] jukylin commented on #5227
Could someone help me out?

[2018-04-27 18:03] rshriram commented on #4664
why is this a blocker for release? Is it going to turn of some key istio functionality? or is this just for hygiene ? If latter, its a good to have but not a must. It certainly does not stop anyone from installing or using Istio.

[2018-04-27 19:09] #5202 closed

[2018-04-27 19:14] ldemailly commented on #4664
it's basic hygiene / software engineering, and yes to make an LTS that can be patched for bug fixes, it needs to have all the branches in order

[2018-04-27 19:15] rshriram commented on #4664
why is this a blocker for release?

[2018-04-27 19:18] ldemailly commented on #4664
because we can't make and maintain a release if we don't know what is in it or if what is in it is a mismatch between the components.

[2018-04-27 19:30] linsun opened #5255 "istioctl register/unregister cmd failed"
Downloaded the daily build (04/25's).   The istioctl uses the default location for the .pem file but mine isn't in the default location.

$ ls $(dirname $KUBECONFIG)
ca-wdc06-linistio3.pem          kube-config-wdc06-linistio3.yml

~/go/src/github.com/linsun/examples/guestbook-go on  master! ⌚ 11:38:29
$ echo $KUBECONFIG
/Users/linsun/.bluemix/plugins/container-service/clusters/linistio3/kube-conf

[2018-04-27 19:31] linsun commented on #5255
cc @esnible @liamawhite

[2018-04-27 19:52] linsun commented on #5255
marking as blocking release as this is a common scenario where the pem and yml are in a dir but perhaps not in a default dir.  it only works if I modify the yml to use the absolute path of the pem file.

[2018-04-27 19:55] rshriram commented on #5218
old code with new config format .. interceptionMode was introduced after 0.7.1

[2018-04-27 20:14] xiaolanz opened #5258 "TestAdsEds - v2 failed racetest."
Failed
==================
WARNING: DATA RACE
Write at 0x00c4202ab860 by goroutine 143:
  runtime.mapassign_faststr()
      /usr/local/go/src/runtime/hashmap_fast.go:694 +0x0
  istio.io/istio/pilot/pkg/serviceregistry/aggregate.(*Controller).Services()
      /go/src/istio.io/istio/pilot/pkg/serviceregistry/aggregate/controller.go:71 +0x3ce
  istio.io/istio/pilot/pkg/networking/core/v1alpha3.(*Confi

[2018-04-27 20:16] xiaolanz opened #5259 "TestValidatorCacheDoubleEdits flaky in racetest"
https://circleci.com/gh/istio/istio/82203?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-04-27 20:55] esnible opened #5260 "Confusing behavior from HTTPRetry if HTTPRoute route timeout not specified"
The default timeout for https://istio.io/docs/reference/config/istio.networking.v1alpha3.html#HTTPRoute is 0s.  This is different from Envoy's default and confusing when there is an HTTPRetry on a VirtualService with unspecified timeout.

Given a VirtualService with timeout unspecified:
[code]

 The generated Envoy configuration was

[code]

The retry didn't happen.  Envoy has a default of 15s if

[2018-04-27 21:29] bianpengyuan commented on #5158
It actually works as expected if you are using Zipkin. It models one request to one span: both client-side information and server side information will be included and they share the same span id.

[2018-04-27 22:01] hklai commented on #4937
Upgrade tests are fairly consistently failing in release branch post-submit. We need to fix this ASAP to unblock the release.

@yusuoh are you still OOO? Who can cover you on this one?

[2018-04-27 22:02] hklai commented on #4937
Latest failure example:
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1555/

[2018-04-27 22:29] linsun commented on #5005
@rshriram correct me if I'm wrong, I had thought this would work with v1alpha1 routing to headless service.

[2018-04-27 22:31] sbezverk opened #5265 "Pilot crash when EDS requested for "inbound|http-monitoring||istio-pilot.istio-system.svc.cluster.local""
pilot consistently crashing when EDS request is sent for ```inbound|http-monitoring||istio-pilot.istio-system.svc.cluster.local```.  `updateCluster` function can fail and return prematurely, but parent function is not aware of this condition and generates nil pointer exception.
[code]

[2018-04-27 23:00] wattli commented on #5196
Assigned back to Lin, and feel free to close it.

[2018-04-27 23:46] hklai opened #5270 "TestIngressMetric fails in both master and the 0.8 release branch"
Example:
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1558/
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1557/

From Doug:
"the ingress metrics one looks like because the service was renamed to "istio-ingressgateway"
from "istio-ingress". whomever did that broke the test

Peter can help debug that"

[2018-04-27 23:53] hklai commented on #5115
@douglas-reid  How often do you want to publish? What steps are needed to publish a version?

One way I can think of is to add a step in the monthly release pipeline and publish it once a month.

[2018-04-28 00:02] geeknoid commented on #4824
See the latest proposal here: https://docs.google.com/document/d/1IcR6C7j5Vl-4Jx8ervVT4lCTBDrBgsD7Uac77K5C5h4/edit#heading=h.qex63c29z2to

[2018-04-28 00:08] costinm opened #5271 "Mesh expansion config missing pilot mtls ports"
Affect multi-cloud/meshexpansion with MTLS.

[2018-04-28 00:12] costinm opened #5272 ""Poison pills""
An example found doing manual testing is having 2 virtual services with same domain - resulting in all listeners getting rejected. This particular bug is supposed to be fixed now - the problem is that we have no
way to debug or notify user of such cases.

This also affects customers who have production issues - one example is a failure to find an endpoint
resulting in LDS not having in listeners a

[2018-04-28 00:13] costinm opened #5273 "Intercept IPv6 ports"
Not intercepting (or blocking) IPv6 results in direct access to the app port, bypassing envoy.

[2018-04-28 01:27] ldemailly commented on #585
issue should either be closed or not have "closed/wontfix" label

[2018-04-28 01:27] #585 closed

[2018-04-28 02:12] du2016 commented on #5158
thanks,my program work's ok

[2018-04-28 02:12] #5158 closed

[2018-04-28 03:56] yusuoh commented on #4937
It seems to be caused by #5113 which deleted the ingress from bookinfo.yaml.

@vadimeisenbergibm could u pls help to take a look?

[2018-04-28 09:25] nieshuai123 opened #5278 "istio-pilot failed to create discovery service:failed to register custom resources."
istioctl version  0.7.1
kubectl version 1.10.1

What happened:
discovery container in istio-pilot CrashLoopBackOff from time to time. discovery container logs:
Error: failed to create discovery service: failed to register custom resources. Post https://10.96.0.1:443/apis/apiextensions.k8s.io/v1beta1/customresourcedefinitions: dial tcp 10.96.0.1:443: i/o timeout

What you expected to happen:
how to

[2018-04-28 12:12] adamyi commented on #1368
Just a follow-up on @peijenlin 's comment. Here's a link to Google's repo: https://github.com/grpc/grpc-web. The protocol is described here: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

It would also be nice if we can have something similar to the PbLite in the OSS community.

[2018-04-28 17:13] costinm opened #5281 "Per pod 'emergency off'"
I think we need at least minimal support for 0.8 - based on a prod incident.
If something goes wrong, user needs to have a documented and (relatively) fast way to turn off
Istio features on a pod, and allow it to operate in degraded mode.

The behavior can be (long term):
- selectively disable features - telemetry, policy, MTLS
- disable inbound interception - which also means MTLS, telemetry and

[2018-04-28 17:20] costinm opened #5282 "Support TLS Sniffing/MultiplexPort on Envoy Side"
For tracking, Security and Networking WG consider transparent MTLS as critical for 0.8 customers.

The envoy PR seems to be in but there are still config changes in pilot and testing left.
We need to evaluate the status and decide if we continue to delay 0.8 or we push this to 0.9/1.0 (
and possibly cherry-pick this feature into a 0.8.x )

[2018-04-28 21:13] douglas-reid commented on #5115
@hklai I'd be fine with just publishing once a release (0.7.1, 0.8, etc.).

The only steps I know of are: log into the site and upload the dashboard (correctly annotated to show the right version). As @jeffmendoza points out, the API for these calls is not currently known to us.

[2018-04-28 21:34] #4925 closed

[2018-04-28 22:45] sbezverk opened #5284 "ParseServiceKey incorrectly assigns hostname"
ParseServiceKey incorrectly assigns hostname.

[2018-04-29 17:35] emostafa opened #5288 "Istio intercepting connections to Google Cloud Storage on Kubernetes"
Hi,

Kubernetes master version: 1.9.3-gke.0
Istioctl version: 0.7.1

I have a small django app that connects to Google PubSub, Google Datastore and Google Cloud Storage. This application is deployed on GKE, the machines were created with the appropriate scopes and using automatic authentication for the client libraries. I installed istio-system as instructed in the documentation, added auto inject

[2018-04-30 06:59] mounika2540 commented on #5190
the above istio ingress logs is due the addition of TLS in the ingress resource. the logs disappers if i remove the TLS .
can someone tell me how to rectify this issue i need ingrees to work along with TLS.

[2018-04-30 12:35] Stono commented on #5281
Most definitely agree with this.  As I put in email the other day, the blast radius for istio going wrong is potentially extremely high, and having the ability to toggle things on or off at run time would definitely ease the concerns.

I suppose my slight worry is that if a pod wasn't receiving listeners/configuration correctly, in such a scenario what confidence would we have that it would receiv

[2018-04-30 12:42] Stono commented on #5288
This is interesting as i'm on 0.7.1, and use `--includeIPRanges` to just cover the ranges of my cluster (as defined in https://cloud.google.com/kubernetes-engine/docs/how-to/ip-aliases) and I have a service which talks to GCS (and other external services) just fine.

Can you maybe paste some logs?

Are you mounting the application-credentials of the service account as a json jwt into your containe

[2018-04-30 12:43] Stono commented on #4702
Hey @liamawhite - was there any update with this?

[2018-04-30 12:50] liamawhite commented on #4702
Not yet, will be focusing on this after KubeCon.

[2018-04-30 12:56] Stono commented on #4702
See you there. 👌

On Mon, 30 Apr 2018, 1:50 pm Liam White, <notifications@github.com> wrote:

[2018-04-30 13:59] linsun commented on #2939
A basic e-2-e is in place.  Will open other issues for other helm e-2-e.

[2018-04-30 13:59] #2939 closed

[2018-04-30 14:15] vadimeisenbergibm opened #5294 "Debug fault injection of v1alpha3"
Related to https://github.com/istio/istio/pull/5055

[2018-04-30 14:56] esnible commented on #5097
Note that one of the guestbook examples is apparently incorrect: https://github.com/retroryan/istio-workshop/issues/32

[2018-04-30 15:06] esnible commented on #3621
I will be creating a new PR for Ingress resources to support #5097 at Lin Sun's request.  The new PR will convert Ingress to Gateway + Virtual Service.

[2018-04-30 15:45] linsun commented on #5097
fair point, let's focus on getting the most simple rules working as documented in exercise-10.

[2018-04-30 15:54] esnible commented on #5255
I have verified that this ONLY affects `kube-inject`.  The .pem file is handled correctly for `istioctl get routerules`.  I verified using _strace_.

[2018-04-30 16:00] rshriram commented on #5005
gateway will not work with any v1alpha1 feature. I spoke to @nmnellis .. Routing to headless is not a critical feature for him, nor do I think it is a critical show stopper for anyone adopting Istio. Its a relatively corner case, that we can afford to fix in later point releases.

[2018-04-30 16:27] linsun commented on #5005
We are not asking gateway to work with v1alpha1 feature.  Nick was using the new gateway and the new route rule (virtual service).   If this is a limitation with the new gateway to not support headless service for 0.8, we have to provide this limitation in our doc and also a recommendation to our users.  I think the current recommendation is to use nginx iiuc which is what @nmnellis had to do.

cc

[2018-04-30 16:37] rshriram commented on #5005
From my experience looking at, answering, troubleshooting 100s of issues on the mailing list, I have yet to see a pattern emerge that asks for direct routing to headless services via ingress. So, IMO, this is not a blocker. But if you feel this is a critical show stopper feature for Istio, please contribute or add more developer resources, as our current bandwidth is small/ focusing on the key ite

[2018-04-30 16:37] JCzz opened #5295 "How to setup Istio to ingress a gRPC"
I am looking for a way to expose a grpc service - to connect an app to the service via grpc.

grpc_cli ls localhost:3000  does not work:
`Received an error when querying services endpoint. `

I can see something about specifying http2 or grpc, but unable to connect to the service.

Can you help?

[code]

[2018-04-30 16:42] nmnellis commented on #5005
Yes this is not critical for us as we can use nginx as a workaround

[2018-04-30 16:47] nmittler commented on #5023
@ldemailly where is the appropriate place to add/update documentation for the new process?

[2018-04-30 17:17] wattli opened #5296 "Services with sidecar cannot talk to services without sidecar when mTLS is globally turned on"
Before customer installing istio sidecar, we have a svc A talking to svc B via http.

However, if we install sidecar for svc A, and mTLS is turned on globally, i.e., by running istio-auth.yaml in this page: https://istio.io/docs/setup/kubernetes/quick-start.html#installation-steps. Then svc A cannot talk to svc B any more. Because svc A always sends https traffic while svc B expects http traffic.

[2018-04-30 17:17] wattli commented on #5196
Created another issue to better track this problem: https://github.com/istio/istio/issues/5296, close this one now.

[2018-04-30 17:17] #5196 closed

[2018-04-30 17:17] mandarjog commented on #1691
mixer image uses `SCRATCH` base since 0.3

[2018-04-30 17:17] #1691 closed

[2018-04-30 17:33] hklai commented on #5270
This test is still failing in the latest post-submit test in the release-0.8 branch.

https://storage.googleapis.com/istio-prow/e2e-suite-rbac-auth/1564/build-log.txt

[2018-04-30 17:48] linsun commented on #5296
Thanks Tao, this sounds reasonable.  What is the rough time frame for this?

[2018-04-30 17:57] bianpengyuan commented on #5270
I guess it is because both istio-ingress and istio-ingressgateway are running in the test cluster, and this caused pilot v1 to be confused when it builds ingress listener. See code here: https://github.com/istio/istio/blob/HEAD/pilot/pkg/proxy/envoy/v1/config.go#L164 and the prefix of istio-ingress and istio-ingressgateway are "istio-ingress".

@vadimeisenbergibm Is ingressgateway expected to show

[2018-04-30 18:02] ZackButcher commented on #1368
Sorry, let me clarify: [a gRPC web implementation already exists in Envoy today](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_web_filter), Istio just doesn't support wiring it up. The work here is for Istio to support configuring the gRPC web filter; AFAIK it's just an empty filter config, so the only thing to do is support a new `grpc-web-` port protocol/prefix, and

[2018-04-30 18:30] nmittler opened #5299 "Target ci/circleci failing for test TestTCPMixerFilterV1Config"
I suspect this may be related to recent work on v2.

[2018-04-30 18:31] lei-tang commented on #5040
The SHA of the api repo used in the release-0.8 branch is 9d978d76653da8b7b4bd6421b7e8f9925d8c79ea, which was committed in two months ago. Thus the recent changes on the api repo are not included in the release-0.8 branch yet. According to the following comments in the istio/istio.deps in the release-0.8 branch, the dependency of api repo is auto updated by a robot:
	{
		"_comment": "This file is

[2018-04-30 18:45] vadimeisenbergibm commented on #5270
@bianpengyuan Yes, `istio-ingressgateway` is expected to show up in all the tests now. However, the tests of v1alpha1 should have the ingress traffic going through `istio-ingress`, so `istio-ingressgateway` should not get any traffic and should not influence the tests.

[2018-04-30 18:48] bianpengyuan commented on #5270
@vadimeisenbergibm According to code here: https://github.com/istio/istio/blob/HEAD/pilot/pkg/proxy/envoy/v1/config.go#L164. Listener config will only be generated for one ingress services based on prefix match, which would affect ingress mixer client metric report, isn't it?

[2018-04-30 18:55] vadimeisenbergibm commented on #5270
@bianpengyuan ah, you are right, there is a `break` there! This code should be changed to handle both `istio-ingress` and `istio-ingressgateway`.

[2018-04-30 18:55] vadimeisenbergibm commented on #5270
^^^ @hklai probably this is the problem, discovered by @bianpengyuan

[2018-04-30 19:04] vadimeisenbergibm commented on #5270
@bianpengyuan actually, I think it should handle only `istio-ingress`. And also, the name of `istio-ingress` should be read from the mesh config. cc @rshriram

[2018-04-30 19:09] ldemailly commented on #5023
Same as the previous place: wiki Dev guide and Vendor faq

[2018-04-30 19:33] incfly commented on #5059
Update some discussion and thoughts, with @wattli and @diemtvu
Today when a config is pushed to pilot,
- The config propagates to envoy in a eventual consistent way, namely, different sidecar gets config at different point.
- When Service A talks to Service B, what tls settings service A uses depends on Service B's authn policy.

These two means we can't let service A switch to TLS right away when

[2018-04-30 19:59] qiwzhang opened #5306 "Global dictionary used Mixer attributes are not updated with istio/api change"
By design, whenever istio/api sha is updated in istio/istio.   It should generate a new

mixer/pkg/attribute/list.gen.go

file in istio/istio repo if

mixer/v1/global_dictionary.yaml

is changed in istio/api repo

But this is not happen.   It cause Mixer server to use older version of global dictionary, fails the communication between Proxy and mixer.

[2018-04-30 20:04] nmittler commented on #5023
Vendor FAQ updated: https://github.com/istio/istio/wiki/Vendor-FAQ

[2018-04-30 20:12] wattli commented on #5296
I am talking with Networking team for support, i.e., we need to know whether the upstream has sidecar.

[2018-04-30 20:14] geeknoid opened #5307 "Integrate Pilot with ControlZ"
We should integrate pilot and any Go-based agents with ControlZ so that we get consistent component-level introspection functionality across the product. See istio/pkg/ctrlz for details.

[2018-04-30 20:15] nmittler commented on #5023
And Dev guide changes: https://github.com/istio/istio/wiki/Dev-Guide

@ldemailly is that everything?

[2018-04-30 20:26] mandarjog opened #5308 "Istioctl debug-dump"
When a problem occurs in istio, the operator must be able to run a debug dump tool that produces debugging artifacts.

This is similar to `kubectl cluster-info dump`

This should include the following
  * Output of `istioctl proxy-cfg` for all pods [ this could be a large number, so user could choose]
  *  All configuration artifacts
  *  K8s all pods / service / endpoint states. `kubectl get pods

[2018-04-30 20:27] mandarjog commented on #5308
@nmittler @rshriram @costinm

[2018-04-30 20:28] mandarjog commented on #5308
`kubectl cluster-info dump` does provide a few of these resources, but it creates a single text file that cannot be easily consumed.

[2018-04-30 20:31] hklai commented on #5281
Not release blocking per discussion with @costinm @louiscryan and @jasminejaksic.

[2018-04-30 20:33] hklai commented on #5272
Not release blocking per discussion with @costinm @louiscryan and @jasminejaksic.

[2018-04-30 20:49] wattli commented on #5296
After chatting with @louiscryan , it seems this is pretty expensive to detect whether the other side has sidecar. He will add more context in this issue.

[2018-04-30 20:50] liminw commented on #4791
@rshriram For item 8, do you mean providing authentication policy for external services?

[2018-04-30 21:44] rshriram commented on #4791
No. This is for the existing jwks stuff. You cannot add clusters directly. You have to use service entry

[2018-04-30 21:48] janevalleye2e opened #5310 "[pre-release 0.8.0 : 0.8.0-pre20180416-09-15] apply istio.yaml got error"
istio version: [pre-release 0.8.0 : 0.8.0-pre20180416-09-15]
kubectl version: v1.8.6

[code]

the following part of istio.yaml caused the Error:
[code]

[2018-04-30 21:49] janevalleye2e commented on #5310
@kidiyoor @mandarjog @vilobhmm

[2018-04-30 21:50] janevalleye2e commented on #5310
@costinm

[2018-04-30 21:56] liminw commented on #4791
@rshriram If I understand it correctly, this is the [issue](https://github.com/istio/istio/issues/4633) you refer to. It's already addressed in recent [PR](https://github.com/istio/istio/pull/5061) by Quanjie. The solution is to fetch public keys in Pilot, and send public keys to Envoy instead of sending jwksUri. This way, no cluster needs to be created.

[2018-04-30 21:58] kyessenov opened #5311 "Document istio xDS resource naming scheme and metadata"
Istio translates its config into xDS resources. Istio Pilot plugins are only allowed to operate on xDS resources directly, without access to the originating istio config/service representation. For this to work, we need to formalize the naming scheme of xDS resources, so as plugins can recover the original istio resources.

[2018-04-30 21:59] kyessenov commented on #5311
cc @spikecurtis since this is probably also an issue for you.

[2018-04-30 22:02] kyessenov commented on #4760
added comments to the service spec. will see if that is going to survive and stay up to date.

[2018-04-30 22:02] #4760 closed

[2018-04-30 22:05] rshriram commented on #4791
E2e tests for v1alpha3?

[2018-04-30 22:18] janevalleye2e opened #5315 "[pre-release 0.8.0 : 0.8.0-pre20180416-09-15] Error out on istioctl kube-inject -f bookinfo.yaml"
kubectl create -f <(istioctl kube-inject -f samples/bookinfo/kube/bookinfo.yaml)
error: error converting YAML to JSON: yaml: mapping values are not allowed in this context

[2018-04-30 22:39] diemtvu commented on #4791
e2e test for v2 was added in https://github.com/istio/istio/pull/5261

On Mon, Apr 30, 2018 at 3:05 PM Shriram Rajagopalan <
notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-04-30 23:11] louiscryan commented on #5296
we're going to have this issue with mesh expansion and other situations where endpoints are registered but we don't know or control how they are registered. I'm wary of depending on Envoy to effectively register an endpoint for a service in the near term. This issue is exacerbated by folks directly creating ServiceEntry resources.

DestinationRule controls how a service is connected to at this lay

[2018-04-30 23:50] andraxylia commented on #4791
@rshriram Thanks for listing the tasks. If we are to use tasks instead of epics with sub-issues, it would be good to know who does what and avoid 2 people working on the same time on the same thing.

[2018-05-01 01:33] linsun commented on #5296
@louiscryan just to make sure we are on the same page... Let's say I have a simple guestbook app that has 2 services (A and B).  I'm moving A to the istio mesh and B continues to run in the same k8s cluster.  A (with envoy side car) calls B (no envoy).  Can you apply AuthorizationPolicy for service B effectively when service B doesn't have side car?    Or are you suggesting using the new Auth poli

[2018-05-01 01:34] qiwzhang opened #5322 "ci/circleci: e2e-pilot-noauth-v1alpha3-v2 is flaky"
It is blocking a lot of PR. Please either fix the flakiness or mark it as not required.

[2018-05-01 01:35] vadimeisenbergibm commented on #5270
I think this is the plan of @rshriram. See https://github.com/istio/istio/blob/release-0.8/install/kubernetes/helm/istio/values.yaml, both ingress and ingress gateway are enabled.

[2018-05-01 01:37] qiwzhang opened #5323 "ci/circleci: e2e-pilot is flaky"
It is blocking a lot of PR. Please either fix the flakiness or mark it as not required.

[2018-05-01 05:09] sdaschner opened #5324 "Deployment on GCP deployment manager fails"
As of today, the deployment on GCP (via the [deployment manager installation](https://accounts.google.com/signin/v2/identifier?service=cloudconsole&continue=https://console.cloud.google.com/launcher/config?templateurl=https://raw.githubusercontent.com/istio/istio/master/install/gcp/deployment_manager/istio-cluster.jinja&followup=https://console.cloud.google.com/launcher/config?templateurl=https://

[2018-05-01 07:52] douglas-reid commented on #5306
There is a go:generate script for this, iirc. It is a matter of running that when doing the SHA update, I believe.

[2018-05-01 08:15] ldemailly commented on #5023
sgtm, thx

[2018-05-01 12:30] esnible opened #5327 "istioctl get authentication problem with heptio aws authenticator"
User reports that `istioctl get routerules` fails and the log reports

[code]

User reports that _kubectl_ works fine.

See https://groups.google.com/forum/#!topic/istio-users/k1DIAgKOe_8

I can reproduce the same message by doing `istioctl --log_output_level debug get routerules | grep curl` and then executing the _curl_.  This is because the debug output does not include the authentication stuff

[2018-05-01 13:56] linsun commented on #4911
hey @zackbutcher is this planned for 0.8?  wanted to make sure we have a distributed tracing story for the new gateway.  cc @esnible @GregHanson @rshriram @frankbu

[2018-05-01 13:58] linsun commented on #4814
no response after 20 days, i believe this is fixed in master and i validated it yesterday.  we also have a helm automated e2e test now as part of presubmit of a PR.

[2018-05-01 13:58] #4814 closed

[2018-05-01 14:03] mandarjog commented on #5306
And putting it in the build so it acts as agate

[2018-05-01 14:29] esnible opened #5328 "samples/bookinfo/routing/route-rule-ratings-test-abort.yaml no longer validates"
Our fault injection sample no longer validates:

[code]

We must either fix validation, or the rule, for 0.8 or the example will not work.

[2018-05-01 15:31] esnible commented on #5255
This is still an issue because `register` and `deregister` still fail with the same error for the same reason.  To reproduce:

[code]

The problem is that a call to _clientcmd.LoadFromFile()_ is eating the pathname of the certificate file.  The `get` and other working commands use _clientcmd.BuildConfigFromFlags()_ which does not have this problem.  I will take a look at https://github.com/istio/i

[2018-05-01 15:40] linsun commented on #5255
good point, register still fails..

[2018-05-01 15:46] linsun commented on #3173
think this is fixed already after the default helm install, i have the policy and telemetry.```svc/istio-policy               ClusterIP      172.21.151.135   <none>         9091/TCP,15004/TCP,9093/TCP                                           4d
svc/istio-statsd-prom-bridge   ClusterIP      172.21.205.198   <none>         9102/TCP,9125/UDP                                                     4d
svc

[2018-05-01 15:46] #3173 closed

[2018-05-01 17:20] esnible commented on #5255
@ayj While working on this I noticed debugging output coming from these CLI commands.  As far as I can tell the CLI is the only thing that calls _pilot/pkg/serviceregistry/kube/register.go_  and _deregister.go_.  Would it be reasonable to change the output in those methods to fmt.Printf() and log.Debugf() from the current log.Infof()?  Would it be reasonable to do that on the PR for this fix?

[2018-05-01 17:30] ayj commented on #5255
cc @ldemailly for `register.go` and `deregister.go` specific changes.

Debug output should be off by default. Level `info` should be sufficient to use the command under normal circumstances.

[2018-05-01 17:35] ldemailly commented on #5255
logging from command line with more details isn’t unheard of, I would leave log.Info()

[2018-05-01 17:48] diemtvu opened #5331 "Mixer is not accessible with v2 + mTLS enabled"
RBAC was enabled in e2e pilot v2, but without authn (mTLS), so it might not do the whole thing. In #5268, we enabel mTLS, and RBAC test was crashed. It is temporary disable in order to have mTLS enable for presubmit tests, but need investigation asap. This is 0.8 blocking.

[2018-05-01 17:53] kyessenov commented on #5311
@rshriram @louiscryan Have you thought about how we un-truncate the cluster names? The cluster names (and routes and listeners) are all up to fixed length, and we need full DNS names for mixer.

[2018-05-01 17:57] cmluciano commented on #5281
cc @ozevren @xiaolanz . This feels like the intent of Galley.

[2018-05-01 18:05] kyessenov commented on #5311
cc @douglas-reid

[2018-05-01 18:07] cmluciano opened #5332 "updateVersion.sh script not working on release-0.8"
I'm going through docs to validate the gateway functions on 0.8 but I'm not sure if we are now forced to use helm to spin-up a cluster or not.

After running ./install/updateVersion.sh I get the following output

[code]
Then `kubectl apply -f install/kubernetes/istio.yaml` yields

[code]

I think there is a typo in the generation files and I'm trying to find it now

[2018-05-01 21:10] hklai opened #5338 "Fix flaky pilot controller cache tests"
The tests are disabled by https://github.com/istio/istio/pull/5337 to unblock 0.8 development and release.

We should look into restoring the tests ASAP

[2018-05-01 21:13] #5078 closed

[2018-05-01 21:30] quanjielin commented on #4917
almost done, workitems left:
1. proactively push change to sidecar after detecting pubkey change
2. https://github.com/istio/istio/issues/1419

[2018-05-01 21:34] quanjielin commented on #4917
For workitem 1 above, need to follow with networking team to see if pilot v2 periodically push behavior is good enough for us.

[2018-05-01 22:34] #4664 closed

[2018-05-01 22:49] hklai commented on #4664
Fixed by https://github.com/istio/istio/pull/5314

Both proxy and istio are using API SHA 793db0cb1a2e33012166f1d6ee5918596b8199d4

[2018-05-01 23:05] wattli commented on #5296
@incfly @diemtvu

[2018-05-01 23:05] mandarjog commented on #5332
You are supposed to run `make generate_yaml` to create istio artifacts.
You should not run the script directly.

[2018-05-01 23:23] liminw opened #5345 "Supporting "dark launch" Mode for Security policies"
When a security policy is in "dark launch" mode, the policy is not enforced. The requests always pass through. However, the unauthorized requests are logged. This allows admin to observe how policies behave in "dark launch" mode, before actually enforcing the policies.

Dark launch mode applies to both authentication policies and authorization (e.g., RBAC) policies. However, for authentication pol

[2018-05-01 23:25] costinm commented on #5332
Please file a release/blocking issue - updateVersion should not be shipped
in the 0.8 release, and
docs should not mention it.

'helm template' only.

Also rel team must make sure none of the deprecated/old templates or addons
are included !

On Tue, May 1, 2018 at 4:05 PM, mandarjog <notifications@github.com> wrote:

[2018-05-01 23:26] costinm commented on #5332
Also we should comb the tests and make sure no test is using old templates
or update version.

On Tue, May 1, 2018 at 4:25 PM, Costin Manolache <costin@gmail.com> wrote:

[2018-05-01 23:31] costinm commented on #5296
For B (no envoy) we can't apply authorization policy or MTLS. What we can
do is set a DestinationPolicy
that configures 'no tls' for connections from A to B.

In 0.8 user should be able to turn on/off MTLS explicitly via
DestinationPolicy, per service (envoy-cluster or hostname).

The default helm templates are set with global MTLS off - we still ship the
'demo' istio-auth.yaml, but we expect
most

[2018-05-01 23:33] costinm commented on #5296
There is another strange interaction here - if they are migrating from 0.7
to 0.8/alpha3.
In this case I'm not sure what should happen - in 0.7 we used some service
annotations
to disable mtls for some services. I assume users will keep them while they
upgrade to 0.8,
and create equivalent DestinationPolicy.

On Tue, May 1, 2018 at 4:31 PM, Costin Manolache <costin@gmail.com> wrote:

[2018-05-01 23:41] hklai commented on #5332
I don't see updateVersion in the daily releases anymore (e.g. https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/release-0.8-20180425-19-12/).

@cmluciano, did you run it from the source tree directly?

[2018-05-02 00:03] andraxylia opened #5348 "pilot e2e --namespace option broken"
This used to work before switching to go test framework.

Called the tests with the argument --namespace istio and received this error:

"the namespace from the provided object "istio-system" does not match the namespace "istio". You must pass '--namespace=istio-system' to perform this operation."

[2018-05-02 00:32] linsun commented on #5296
@costinm @wattli would the service annotation in 0.7 continue to work in 0.8?   It would not be obvious to user to change the service annotation to destinationpolicy as service annotation is at the service yaml today in 0.7. cc @esnible

[2018-05-02 00:53] cmluciano commented on #5332
Yes from the release-8.0 branch

[2018-05-02 01:07] yangminzhu commented on #5331
After digging into the logs of mixer and sidecar, I suspect this is caused by the proxy not starting correctly which resulted that our rbac adapter in mixer is never being called.

And the sidecar of the App has the default policy to fail open and that's why we're seeing the requests in the rbac e2e tests are all returning 200.

[code]

[2018-05-02 02:07] jasmine-jaksic commented on #5332
Not 0.8 release blocking per discussion with @louiscryan

[2018-05-02 02:08] jasmine-jaksic commented on #5255
Not 0.8 release blocking per discussion with @louiscryan

[2018-05-02 02:29] yangminzhu commented on #5331
It seems my environment is a little messed with different configs, I cleaned and restarted the test and it seems the failure is caused by a different gRPC error in mixer:
[code]

The final result is the same, our rbac adapter is not being called at all.

[2018-05-02 03:00] diemtvu commented on #5331
Looks like it's failing for pilot e2e (v1)
https://prow.istio.io/?repo=istio%2Fistio&job=istio-pilot-e2e. Maybe it's
issue with mixer set up for test.

On Tue, May 1, 2018 at 7:29 PM Yangmin <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-05-02 03:37] diemtvu commented on #5331
Is this from sidecar to mixer? Could be related to
https://github.com/istio/istio/pull/5070 again. I.e, we didn't list the
port for mixer in the list of 'containerPort', so it's not captured by
sidecar hence (server) does not use TLS.

On Tue, May 1, 2018 at 8:19 PM Yangmin <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-05-02 03:58] rshriram commented on #4791
I am a noob to zen hub. I can’t figure that thing out.  Please feel free to create all those thingies you talk about.

[2018-05-02 04:00] rshriram commented on #4791
For 12 see #5055

[2018-05-02 04:33] rshriram commented on #4911
We could always mark gateways as external in Envoy to allow these to pass

[2018-05-02 04:45] andraxylia commented on #4791
thanks @rshriram ! If the organizing spirit gets the best of me, and it will :), I will create those issues and link them besides the checkboxes, so they are visible also to non-zenhub users.

[2018-05-02 11:46] ymesika commented on #5175
If I'm not mistaken the `istio-sidecar-injector-configmap-release.yaml.tmpl` (or the whole _install/kubernetes/templates_) won't exist anymore in the release. Therefore the ConfigMap to be injected is the one embedded into the `istioctl` binary or a custom one provided by the user.

I can modify the _sidecar-template_ of _istioctl_ to inject the `istio-proxy` container with:
[code]

or just:
[code

[2018-05-02 11:53] BastienM opened #5354 "[0.7.1] [Helm] Pulls nightly images"
Hi,

I am trying to deploy Istio `v0.7.1` (using `release-0.7` branch) via Helm and while checking why the Pilot pod won't start I noticed that all the pulled image by Helm are `istionigthly/*:circleci-nightly`.

[code]

The same problem happened in issue #4701.

Is it by design ?

**Edit:**

Updating `install/kubernetes/helm/istio.values.yaml` with the following :
[code]

makes everything working

[2018-05-02 13:14] linsun commented on #5354
sorry we aren't putting fix in 0.7.x, could you try 0.8's nightly build pls?

[2018-05-02 13:26] linsun commented on #4911
@rshriram could you elaborate?

[2018-05-02 13:30] BastienM opened #5356 "[0.7.1] [Helm] Does not deploy sidecar"
Hi,

I deployed Istio via Helm (`release-0.7` branch) but it seems that the sidecar and related components are not deployed during the process.

The documentation states that it needs Kubernetes 1.9+, which my current cluster has.
[code]

The chart `sidecar-injector/templates/mutatingwebhook.yaml` does have the following condition :
`{{- if .Capabilities.APIVersions.Has "admissionregistration.k8s.

[2018-05-02 13:33] linsun commented on #5255
Agreed, i should have removed it after the kube-inject cmd works now.

[2018-05-02 13:35] tvieira commented on #5356
@BastienM the 0.8 is the next release and it will be a LTS. As @linsun has stated in #5354, the release-0.7 is not going to receive patches.

So, yes, use the release-0.8.

[2018-05-02 13:38] linsun commented on #5354
This is a known issue in 0.7.1 (as documented in the release note).  Please wait till 0.8 is out to try this if you prefer to wait for a stable build.

[2018-05-02 14:24] mandarjog commented on #5332
It is intended and required to make it work.
It is not desirable as we want to get rid of this script entirely, that should happen before 0.9.

[2018-05-02 14:25] linsun commented on #5332
ok yes, would prefer much to use helm template with the correct $HUB and $TAG.

[2018-05-02 14:26] BastienM commented on #5354
My bad @linsun, I quickly read the changelogs and overlook the depreciation of `0.7`.
We can close the issue.

[2018-05-02 14:26] #5354 closed

[2018-05-02 15:52] hklai opened #5360 "Mixer E2E Tests are failing in release-0.8 branch"
A number of mixer e2e tests are now failing.

Example Log:
https://storage.googleapis.com/istio-prow/e2e-suite-rbac-auth/1581/build-log.txt
https://storage.googleapis.com/istio-prow/e2e-cluster_wide-auth/1542/build-log.txt

Failed Tests:
TestMetric
TestIngressMetric
TestTcpMetrics
TestNewMetrics
TestDenials
TestIngressDenials
TestMetricsAndRateLimitAndRulesAndBookinfo
TestMixerReportingToMixer

No

[2018-05-02 17:56] esnible commented on #5097
The rules in the guestbook example will convert if PR https://github.com/istio/istio/pull/5359 is merged.

[2018-05-02 18:00] linsun commented on #5356
Thanks.  Just so you know, I've ran through your scenario in 0.8 4/25's build, and they work okay in my cluster.

[2018-05-02 18:17] myidpt commented on #5273
Update:
`ip6tables` is installed with `iptables`. But the command `ip6tables -t nat -N ISTIO_INBOUND` yields:
[code]
This indicates the kernel module `ip6table_nat` is not enabled. Enable it using `modprobe` does not work, which means the kernel doesn't have the module at all.

Through investigation, the only ways are to install the kernel image or change the container image, either way is pretty

[2018-05-02 18:27] costinm commented on #5273
You are right, ip6 doesn't have nat.

We'll need to do some research for the equivalent way to intercept incoming.

On Wed, May 2, 2018 at 11:17 AM, Oliver Liu <notifications@github.com>
wrote:

[2018-05-02 20:12] geeknoid commented on #4484
@mandarjog

Regarding your list item:

    Start time per component / package log level

So how about:

- pkg/log emits a log message at level "Info" to the default logging scope when it is first initialized. This would be the first entry in the log and effectively represents component start time.

- pkg/log emits a log message at level "info" to the default logging scope whenever any scope's logg

[2018-05-02 20:28] myidpt commented on #5010
Duplication of https://github.com/istio/istio/issues/4925.

[2018-05-02 20:28] #5010 closed

[2018-05-02 20:55] frankbu commented on #5328
Fixing the rule for 0.8 in https://github.com/istio/istio/pull/5366.
Proper solution is to fix the validation to allow this case, so let's fix the validation in 0.9.

[2018-05-02 21:50] mandarjog commented on #4484
My intent behind that item was we should be able to set a component to "debug" level at start, using commandline params like glog or similar.

I think component start times can be emitted (at INFO) by the component itself when it starts.

[2018-05-02 22:00] diemtvu commented on #5331
The root cause of the problem is mixer port (9091) is always plaintext (it's not captured by envoy neither, so the LDS config on mixer sidecar maybe misleading). A quick fix could be changing (data plane) sidecar cluster to point to mTLS port, depends on control plane policy.

Also, need to check (data plane) authn policy does not overwrite such decision.

[2018-05-02 23:04] manalibhutiyani commented on #4999
@johnzheng1975 : Did you try removing `http2_protocol_options: {}` in ` istio0.7.1`. Does it work on removing this option from envoy config file for `0.71`. I see this option in the `0.7.1_envoy_configure_in_istio_proxy.txt` you attached.

[code]

[2018-05-03 00:44] rkpagadala commented on #2516
@linsun @sdake the best place to fix this is in the make target istio-archive

[2018-05-03 00:48] rlenglet commented on #4903
I keep being hit by this in Pilot 0.7.1. It's fairly easy to reproduce by deleting and restarting pods repeatedly. That makes Pilot crash repeatedly and puts it into CrashloopBackoff.

[2018-05-03 00:50] kyessenov commented on #4903
@costinm was this fixed?

[2018-05-03 01:02] rlenglet commented on #4903
No, this is still as-is in master.

[2018-05-03 03:10] yangminzhu commented on #5360
This is also causing the TestRBAC failing, see #5331.

I checked the mixer log of the failed Mixer E2E tests:
[code]

cc @diemtvu @liminw

[2018-05-03 03:30] mandarjog commented on #5360
Hmm.., attribute manifests are not being loaded. I will take a look.

[2018-05-03 04:01] rlenglet opened #5376 "Pilot 0.7.1 sometimes never configures in.80 cluster in sidecar proxy"
This is reproducible by deleting and restarting injected pods repeatedly. After <100 tries, a newly started sidecar will always returns 503s for every HTTP request.

This message appears repeatedly in the `istio-proxy` logs:
[code]

When in that state, the sidecar proxy never recovers, even after several hours.
The only workaround is to restart Pilot, which immediately recovers the sidecar.

Note

[2018-05-03 04:03] rlenglet commented on #5376
Attached the sidecar proxy and Pilot logs:
[app-sidecar-proxy.log](https://github.com/istio/istio/files/1969609/app-sidecar-proxy.log)
[pilot.log](https://github.com/istio/istio/files/1969610/pilot.log)

[2018-05-03 04:47] mandarjog commented on #5360
[code]
@costinm @rshriram looks like `istio-egressgateway` listener is colliding with (and rejected in favor of) `out.heapster` it will not cause the mixer test to fail, but surely it will cause egressgateway tests to fail.

[2018-05-03 06:40] johnzheng1975 commented on #5376
Upper is from cilium + istio0.7.1 + k8s 1.0.

In calico + istio0.7.1 + k8s 1.9, also raise upper issue once:
[2018-05-03 06:29:16.470][59][warning][upstream] external/envoy/source/server/lds_subscription.cc:68] lds: fetch failure: route: unknown cluster 'in.3000'
[2018-05-03 06:29:17.667][59][warning][upstream] external/envoy/source/server/lds_subscription.cc:68] lds: fetch failure: route: unknown

[2018-05-03 06:46] johnzheng1975 commented on #4999
@manalibhutiyani , this is not the root reason after investigation.
And, it is difficult to change envoy configure file except created a new image.  FYI

[2018-05-03 06:46] johnzheng1975 commented on #4999
Here is comments of Romain (cilium engineer)
1) https://github.com/istio/istio/issues/4903 Istio Pilot crashes and sometimes enters CrashloopBackoff.
One symptom is that Istio Ingress returns 503s, because it tries to connect to the upstream pods that have been deleted.

This is a known upstream issue, for which we just submitted a fix: https://github.com/istio/istio/pull/5373
The fix will likely

[2018-05-03 06:59] johnzheng1975 commented on #4999
#4903
#5373
#5376

[2018-05-03 07:15] sbezverk opened #5379 "error initializing configuration '/etc/istio/proxy/envoy-rev0.json': malformed IP address: istio-statsd-prom-bridge"
[code]
these three pods keep restarting.

[2018-05-03 07:31] sbezverk commented on #5379
[code]

[2018-05-03 07:33] sbezverk commented on #5379
[code]

[2018-05-03 08:39] morvencao opened #5380 "Helm purge doesn't cleanup all kubernetes resources"
**env:**
[code]

**action:**
[code]

**problem:**
There are still some kubernetes resources after `Helm delete --purge`, including secrets for serviceaccount, some CRDs.

**expected**
There should be no kubernetes resources after `Helm delete --purge`:
[code]

/cc @gyliu513

[2018-05-03 09:45] gyliu513 opened #5381 "istio mc does not work"
@gyliu513 commented on [Thu May 03 2018](https://github.com/istio/istio.github.io/issues/1235)

I deployed @sdake 's demo at https://github.com/istio/istio.github.io/pull/1217#issuecomment-385999899 , but found that it does not work. The request cannot goes to `reviews-v3`.

After I create the route rules as follows, product page info report error.

[code]

![image](https://user-images.githubuserc

[2018-05-03 10:08] sbezverk commented on #5379
@kyessenov It looks like your change #4721 introduced opts map to pass some variables into the envoy template.  But in the template, the expected location of variables are in  struct config.
https://github.com/istio/istio/blob/master/tools/deb/envoy_bootstrap_v2.json#L55
Could you comment if it is expected or it was just missed?

[2018-05-03 10:24] john-a-joyce commented on #5381
Please  include more detail on the issue.  You don't have any details on your environments, versions, Pod status, logs, etc.

Regarding checking pilot registration and mesh state there are various tools documented and examples posted on how to do that.   I typically use a private bash version of istio-proxy-cfg, but there is a python version in the repo.  You can also use various curl commands to

[2018-05-03 11:06] gyliu513 commented on #5381
@john-a-joyce

For cluster 1
[code]

For Cluster2
[code]

Istio version is 0.8, I got from dailybuild
[code]

The pods in cluster1 and cluster2 can communicate with each other.

The logs in pilot is as follows:
[code]

[2018-05-03 13:30] ymesika commented on #5380
I can confirm that same issue still exists on v0.8.0 from `release-0.8`.
You can assign to me if no one is already covering it in another issue.
CC @linsun

[2018-05-03 13:36] gyliu513 commented on #5380
@ymesika what is your solution to fix this? Thanks.

[2018-05-03 14:27] utrack opened #5383 "v0.7.1: routes do not work"
Hi. It seems that route rules do not work for me on 0.7.1:
route spec:
[code]
ingress:
[code]
containers:
[code]

curl timing:
[code]
seems that delay is not applied.
I've tried injecting 500s, setting any bad labels, etc. - the response is always instant 200.
It seems that rule is at least picked up:
[code]

[2018-05-03 14:33] utrack commented on #5383
It looks like envoy doesn't receive the rule's body (?)
[code]

[2018-05-03 14:36] sdake commented on #5381
I suspect you may have a routing problem.  Try this:

1. Start a busybox pod on cluster 1.
1. curl the reviews-v3 pod on cluster2 on port 9080.
1. This should return something rather than blocking or producing a host not found.
1. ping to reviews-v3 pod ip should also return a result indicating the ping was successful.

You could also have a firewall problem if your not deploying directly on bare

[2018-05-03 14:47] gyliu513 commented on #5381
Thanks @sdake but everything works fine in my cluster now.

In Cluster2, I have `review-v3` running and its ip addr is `20.1.43.22`.
[code]

In Cluster1, I launch a busybox container and ping `reviews-v3` in Cluster2, it works.
[code]

What others shall I need to debug?

[2018-05-03 15:11] ymesika commented on #5380
@gyliu513 this needs further investigation but it seems like stuff which isn't created by the Chart remains as well as the namespace itself.
I'm not sure if Helm is able to remove a namespace.

[2018-05-03 15:28] GregHanson commented on #5383
@utrack in 0.7.1 faults are applied at the listener level, not route.  Can you verify it is present in the listeners output?

[2018-05-03 15:35] vadimeisenbergibm commented on #5294
Fixed by https://github.com/istio/istio/pull/5055.

[2018-05-03 15:35] #5294 closed

[2018-05-03 16:03] dzendmitry commented on #5383
Listeners output at istio-proxy from catalog-api-master-6c76d7c758-clcxt pod is [... "0.0.0.0:8090", "10.233.71.21:8090", ....]
Listeners output at istio-ingress pod is just ["0.0.0.0:80"]

10.233.19.41:8090 - is IP of catalog-api service
[code]

[2018-05-03 16:43] tcolgate opened #5384 "pilot: Support configuring listeners with proxy protocol"
Ideally we'd be able to use proxy protocol on the http and https listeners of proxies acting as ingresses. This allows original client IP to be passed in from a suitable front end load balancer (e.g. via a suitably configured AWS ELB). Envoy supports it, and it appears to be configurable via the config file or the v2 API (heptio contour have already [added this,](https://github.com/heptio/contour/

[2018-05-03 17:15] ostromart commented on #5331
This should be resolved through https://github.com/istio/istio/pull/5127 where the mixer port is selected based on the mesh setting.

[2018-05-03 18:12] dzendmitry commented on #5383
at catalog-api-master-6c76d7c758-clcxt

[code]

[2018-05-03 18:28] mandarjog commented on #5360
@guptasu
here is a failed log https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1581/
look at mixer-e2e tests.
Mixer is not loading attribute manifests, and potentially not loading many other things.

[2018-05-03 18:48] guptasu commented on #5360
taking a look..
No resources exists..CRDs do within the namespace of the test
[code]

[2018-05-03 18:50] guptasu commented on #5360
what is this `2018-05-03T02:52:43.680678Z	warn	Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.`

[2018-05-03 19:08] mandarjog opened #5391 "Envoy init hang: EDS must respond to all requests"
Envoy goes thru the following init sequence
1. Load clusters with CDS
2. Load endpoint with EDS (bidi grpc stream)
3. lds
4. rds

Until this sequence finishes envoy is not operational.

If Pilot fails to respond to an EDS request, envoy waits indefinitely and init process never finishes.
Such an envoy has no listeners and it will reject all inbound and outbound traffic.

1. Pilot must ensure that

[2018-05-03 20:00] kyessenov commented on #5391
We could use the agent nanny and probe envoy stats to detect the timeout.

On Thu, May 3, 2018, 12:19 PM mandarjog <notifications@github.com> wrote:

[2018-05-03 20:01] linsun opened #5392 "Switch the control plane to use envoy v2 by default"
@costinm and I had a discussion about it on #networking:  We need to switch the control plane to use envoy v2 by default.  I installed 04/25's build -- it is concerning our control plane isn't on envoy v2 which will bring unnecessary question from users as to if i need to use the new route rule do i need to reinstall istio by manually configuring it to use envoy v2.

[2018-05-03 20:03] mbanikazemi opened #5393 "istioctl get gateways/policies not working"
Executing `istioctl get` suggests the following:
specify the type of resource to get. Types are routerule, egressrule, destinationpolicy, httpapispec, httpapispecbinding, quotaspec, quotaspecbinding, servicerole, servicerolebinding, virtualservice, gateway, serviceentry, destinationrule, policy

From the above list, `istioctl get` does not work properly for gateway and policy resources.

[code]
[c

[2018-05-03 20:13] kyessenov commented on #5311
Ping? This is also blocking progress on https://github.com/istio/istio/issues/4854

[2018-05-03 20:58] louiscryan commented on #5311
cc @htuch

On Thu, May 3, 2018 at 1:14 PM Kuat <notifications@github.com> wrote:

[2018-05-03 20:59] kyessenov commented on #5311
This is specific to how istio names resources (out.*, in.* and what not).

[2018-05-03 21:05] mandarjog commented on #5360
PR that broke mixer tests: https://github.com/istio/istio/pull/5279

[2018-05-03 21:07] htuch commented on #5311
FWIW, Envoy has relaxed the limits on cluster name length, the bound can be configured on the CLI.

[2018-05-03 21:28] ldemailly commented on #5255
So we are dropping support for 0.2 mesh expension feature because ... ?

[2018-05-03 21:50] ldemailly commented on #371
Pretty much done: https://fortio-daily.istio.io/

Just need to add periodic  auto refresh to avoid needing pod restarts

[2018-05-03 21:52] ldemailly commented on #3495
We can improve the picture separately

[2018-05-03 21:52] #3495 closed

[2018-05-03 22:06] incfly commented on #5059
I've tried the envoy multiplexing feature, it works! Thanks @PiotrSikora for the help and this feature!

The experiments I did can be found at https://gist.github.com/incfly/490457130b76043bfc00282b89e6da35

[2018-05-03 22:08] costinm commented on #4903
Should be fixed now.

[2018-05-03 22:08] #4903 closed

[2018-05-03 22:33] mandarjog commented on #5308
We have a `dumpsys` target at present that does the following
[code]

[2018-05-03 22:57] ZhiminXiang commented on #2628
curl localhost does not work well in our project when doing readiness check. In our project, we want to have a end-to-end readiness check (something like kubelet -> istio proxy sidecar -> container A -> container B). By using curl localhost, seems like we can only check the path container A -> container B, which caused a bunch of 503 errors at the beginning of starting Pods.

1. I tried to use "cu

[2018-05-03 23:01] rshriram commented on #5311
It has no impact on performance. Its just a startup time overhead, but we benchmarked it earlier.. For upto 255 characters, its actually fine. btw, i dont think the current limit is 127 characters (its 181 or 187 IIRC for the last few months). We have had this for the last two releases and there has not been any reported case of everything crashing. We can document this limit in our docs.

We also

[2018-05-03 23:02] kyessenov commented on #5311
I think the limit on names is just a part of what we're interested in. We would like to know how to recover the names of k8s resources from:
1. listener names (so that we can extract metrics from envoy)
2. route names (so that we can put the right mixer attributes in the config)
3. cluster names (mostly for metrics)

@rshriram imposed a requirement that mixerfilter needs to operate directly on xDS

[2018-05-03 23:04] htuch commented on #5311
I agree that metadata is probably a good place to avoid having to parse out identifiers from opaque strings. We use this internally at Google for similar kinds of purposes.

[2018-05-03 23:05] kyessenov commented on #5311
@htuch @louiscryan I would be happy if we can insert the appropriate metadata directly into the config, instead of having to decipher names from xDS.

[2018-05-03 23:26] rshriram commented on #5311
We don't truncate the cluster names. If it fails, it fails. As I said, there is a global option to increase the stat name length. there are probably more elegant ways of fixing this, but this is certainly not our priority now.

I don't think we should mix mixer filter code into the core networking code, as you seem to imply indirectly. The code was a mess in v1alpha1/v1 and its taken us a long tim

[2018-05-03 23:26] rshriram commented on #5311
and I will document the naming scheme in the plugin doc.

[2018-05-03 23:28] kyessenov commented on #5311
Thanks. Documentation is all we're asking. This is blocking improvements to mixerfilter config.

[2018-05-03 23:32] incfly commented on #5208
@lei-tang

[2018-05-03 23:39] wattli commented on #2628
1. Do you really mean the workflow containerA -> sidecarA -> sidecarB -> containerB failed? If so, you can simply disable the health check, and manually logged into containerA, try to run 'curl podIP' manually and see what happens.

2. It is likely to be ready in 0.8.1 release, which I expect to happen in a month.

[2018-05-03 23:47] theganyo commented on #5040
What needs to happen to get the api changes merged into release-0.8? @douglas-reid ?

[2018-05-04 00:35] incfly commented on #5059
@PiotrSikora We have figured out the Istio side config model and now actively working on that, and aim at shipping it out for 0.8 or 0.8.1. On envoy side I see the https://github.com/envoyproxy/envoy/pull/3217 is still pending. Could you comment on ETA for that? Thanks!

[2018-05-04 01:28] hklai opened #5404 "Prow dashboard e2e tests are failing in release-0.8 branch"
Example:
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1600/
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth/1533/
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-cluster_wide-auth/1560/
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-auth/1599/
https://k8s-gubernator.appspot.com/build/istio-prow/e2e-suite-rbac-no_auth

[2018-05-04 01:44] linsun commented on #5392
fixed by #5401 by @costinm

[2018-05-04 01:44] #5392 closed

[2018-05-04 01:46] douglas-reid commented on #5404
I'm OOO for the next week really. It seems fairly clear from these failures that something has broken TCP `Report()`ing.

Given that this is not flaky, per your description, I suspect either:
- something has changed with respect to test setup
- a recent PR has legit broken the metrics for TCP

TCP traffic generation runs after HTTP traffic generation. In the logs, it appears to succeed:

[code]

B

[2018-05-04 03:32] #5296 closed

[2018-05-04 06:25] guptasu commented on #5360
fixed.

[2018-05-04 06:25] #5360 closed

[2018-05-04 07:02] ldemailly commented on #5360
how ?

[2018-05-04 09:52] yehaifeng commented on #2864
I have the same thing. My kubernetes is v1.10.1. Istio is v0.7.1
And two args  for kube-controller-manager to solve:
--cluster-signing-cert-file=/etc/kubernetes/ssl/kube-ca.pem
--cluster-signing-key-file=/etc/kubernetes/ssl/kube-ca-key.pem

[2018-05-04 12:42] Stono opened #5408 "Document that the proxy uses UUID 1337 and customers can change it if needed to avoid conflicting with their own processes."
Hey Istio folks,
It's your favourite annoying bug finder :-)

  - kube: 1.9.6-gke.1
  - istio: 0.7.1

We changed the UUID of our base image today to be `1337` (because you know, our pods are "leet") and in doing so, we lost all outbound communication from our pods:

[code]

After pulling my hair out for two hours (at kubecon...)  i discovered that changing the UUID to something other than `1337` (

[2018-05-04 12:47] gyliu513 commented on #5381
Finally works after debug with @sdake , thanks so much for @sdake 's great help!

Basically, I updated two places for my environment:
1) Do not use `Token` in remote cluster kube config but use `cert` and `key` as follows:
[code]

2) Under `$HOME/multicluster` folder, we need to put the remote kube config file under this dir directly and rename it to remote cluster name. I was putting my remote ku

[2018-05-04 12:47] #5381 closed

[2018-05-04 12:50] BastienM opened #5409 "[0.8] [Helm] Ingress generates 404 NR"
Hi,

I am currently encountering some difficulties with deploying a RocketChat instance with Istio.

The pod is healthy and correctly registered but when querying it from the outside the js and css assets fails to load.
Using `kubectl port-forward` with the pod let me checked that the Rocketchat container was indeed responsive and served correctly the assets.

#### kubectl cmds
[code]

#### ingres

[2018-05-04 12:58] ldemailly commented on #371
https://github.com/istio/fortio/pull/244 and https://github.com/istio/admin-sites/pull/69 are the last steps fortio side

@rkpagadala can you link the script that runs for every daily that populates/pushes that data ?

[2018-05-04 13:28] Stono commented on #5408
Hey,
I'd certainly recommend making it very clear to the users that they can't use the same uuid as proxy.  Unless I'm being blind I don't see that anywhere in the docs?

Even better would be a more graceful failure than generic TCP errors.

[2018-05-04 13:30] nmnellis opened #5410 "Feature Request - Vizceral addon"
Create an addon to view Istio metrics in Vizceral. The metrics can be gathered from Prometheus. I'd like to propose to name it Vistio :)

Can reference this project as a starting point https://github.com/nghialv/promviz

[2018-05-04 13:37] linsun commented on #5410
subscribe and + @esnible

[2018-05-04 14:32] jmazzitelli commented on #5410
FYI: Kiali is a front end to istio currently in development (no official release just yet) - it does take the Prometheus metrics and visualizes them (along with visualizing the mesh and other things such as visualizing circuit breakers, route rules and integrating Jaeger tracing). See https://kiali.github.io/ for details. We have a JIRA issue created to propose it as an istio add-on which would ad

[2018-05-04 14:59] gyliu513 commented on #5381
Filed an issue for Kubernetes to discuss how to set credentials with content string at https://github.com/kubernetes/kubernetes/issues/63435

[2018-05-04 15:04] gyliu513 opened #5412 "service graph does not show remote service name"
I deployed a bookinfo cross cluster. In cluster1 which runs the istio control panel, it has `reviews-v1` and `reviews-v2` deployed, and in cluster2, it has `reviews-v3` deployed.

After I accessed all of three services, I check `servicegraph` for the topology and dependency of the bookinfo, but found `reviews-v3` was listed as `unknown(v3)` but not `reviews.default(v3)`.

![image](https://user-ima

[2018-05-04 15:46] theganyo commented on #5040
@mandarjog can you help?

[2018-05-04 16:38] cmluciano opened #5413 "sidecar-injector: injector should be part of released yamls"
While verifying docs for 0.8, I noted that we [require helm to create the sidecar-injector](https://preliminary.istio.io/docs/setup/kubernetes/sidecar-injection.html#installing-the-webhook). This spits out a istio.yaml with the injector AND all of istio. If I start for the beginning of the quickstart instructions, I probably already have istio installed through the released istio.yaml or another h

[2018-05-04 16:38] cmluciano commented on #5413
cc @hklai @ayj WDYT?

[2018-05-04 16:41] ayj commented on #5413
cc @yusuoh

The setup instructions should probably be updated to refer to helm. Most of the manual cert provisioning steps have now been automated (via Citadel).

[2018-05-04 16:43] cmluciano commented on #5413
Possibly related https://github.com/istio/istio/issues/5332#issuecomment-385819571

[2018-05-04 16:56] bianpengyuan opened #5414 "Mixer report to mixer does not work with V2"
With v1, no matter control plane auth enabled or not, all check and report calls goes through mixer sidecars (port 15004) and mixer internal metrics will be available.

With v2, behavior changes to that traffic will only go through sidecar if auth is enabled. Non-auth traffic goes directly to mixer port (9091), which causes mixer metrics unavailable and MixerReportsToMixer e2e test failure.

cc @d

[2018-05-04 17:09] cmluciano commented on #5409
cc @ZackButcher

[2018-05-04 17:11] cmluciano commented on #5393
strange that this works with kubectl

[code]

[2018-05-04 17:14] diemtvu commented on #5331
RBAC on v2 + mTLS still fail after above PRs. We do see (gRPC) request send from sidecar to mixer, but it seems mixer doesn't not recognize request, not sure because ssl handshake fail or mixer (sidecar) confuse with gRPC request. Here is what I see in the log.

[code]

[2018-05-04 17:17] mandarjog commented on #5308
https://gist.github.com/Stono/bb53f4fddc3cf4676d1d065a3d1b3a98

https://github.com/istio/istio/wiki/Collecting-Logs-and-Debug-information

[2018-05-04 17:31] cmluciano opened #5415 "gateway: 0.8 httpbin sample task docs are not working with v1alpha3 https"
I followed the [gateway docs](https://preliminary.istio.io/docs/tasks/traffic-management-v1alpha3/ingress.html#configuring-a-gateway) including setup tasks, and I get a 404 on http and a connection refused on https.

k8s: 1.9 in IBM Cloud
istio version: istio-0.8.0-pre20180421-09-15

replication steps:

[code]

[code]

[code]

[code]

[2018-05-04 17:33] ayj commented on #5308
[code]
That will dump resource state (pods, services, etc) and logs for everything in the `istio-system` and `default` namespace to a directory. Artifacts are organized under their respective namespace. Logs files are per-pod. Resource JSON files are per kind.

The only thing that's missing are Istio specific configuration (CRDs) and proxy config state.

[2018-05-04 17:39] bianpengyuan commented on #5270
IngressMetricsTest stops being flaky. Fixed.

[2018-05-04 17:39] #5270 closed

[2018-05-04 17:47] cmluciano commented on #5415
cc @GregHanson @frankbu for v1alpha3 verification

[2018-05-04 17:52] objectiser commented on #5410
@nmnellis Having options is always good  :)

If you get a chance to give Kiali a try, we would be very interested in your feedback, and if there are any features you would like to see let us know.

[2018-05-04 17:58] kyessenov commented on #5414
Yes, thanks for confirming. Can we please not route through port 9091? Non-auth traffic needs to go through a proxy enabled port. Why can't we use the same port 15004?

[2018-05-04 18:01] linsun commented on #5415
talked to @frankbu earlier today, the gateway sample is missing a required host field.  @cmluciano, can you try with that to see if it works, see example:  https://github.com/istio/istio/blob/release-0.8/samples/bookinfo/routing/bookinfo-gateway.yaml

[2018-05-04 18:10] linsun commented on #5393
@ZackButcher mentioned this is caused by the CRD that is used by istioctl is out of sync with the CRD used by k8s.  the release call agrees this is a release blocker.

[2018-05-04 18:34] ostromart opened #5420 "Move rate control config to per route in mixer filter"
This covers an outstanding (likely non-blocking) item 13 from istio/istio#4791.
Config behavior has recently changed in mixer client. Previously, items in the base http_filter were always applied to the config, and this is where rate control config comes from. Now, if per_route config is set, the http_filter base config is ignored. This applies to both auth and non-auth cases.
The solution is to:

[2018-05-04 19:05] incfly commented on #5059
Update the record, we also need to change authn filter, so that if authn policy is `PERMISSIVE` or `TLS_PERMISSIVE`, authn filter does not reject the request. @diemtvu will send a PR.

[2018-05-04 19:13] esnible commented on #5393
Fixed by https://github.com/istio/istio/pull/5395

[2018-05-04 19:13] #5393 closed

[2018-05-04 19:45] Sophian-Mehboub opened #5421 "istio letsencrypt cert-manager"
Hello all,

When i execute this command
kubectl logs cert-manager-cert-manager-9585579df-tnb86 -n kube-system
I can see in the logs of cert-manager, i get this error :

I0504 19:18:00.688397       1 helpers.go:162] Found status change for Certificate "istio-ingress-certs" condition "Ready": "False" -> "False"; setting lastTransitionTime to 2018-05-04 19:18:00.688381872 +0000 UTC m=+165474.27459123

[2018-05-04 20:09] cmluciano commented on #5415
This still does not seem to work, I tried with DAILY=release-0.8-20180425-19-12  too.

Here is the config

[code]

[2018-05-04 20:30] ZackButcher commented on #5415
You need a host on all servers, but only have it on the first. If you check Pilot logs you should see that the message failed validation.

Your gateway should look like:
[code]
(note the `hosts: - "httpbin"` in the `:443` server)

[2018-05-04 21:26] mandarjog commented on #5331
tcp-mtls port name generates an outbound cluster without http2 features.
This cause outbound connection to be downgraded over mtls to http1.1.

This is rejected at server side envoy mixer.

[2018-05-04 21:52] hklai opened #5424 "Mixer Unit Tests are consistently failing in release-0.8"
Log:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/575/daily-unit-tests/42/
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio-releases_daily-release/575/daily-unit-tests/41/

Failing tests include:
TestNetworkFailure
TestQuotaCache
TestReportBatch
TestTCPMixerFilter
TestTCPMixerFilterPeriodicalReport
TestTCPMixerFilterV1Config

[2018-05-04 22:31] mandarjog commented on #5331
Still some issues here, after fixing the outbound port we still get the following
[code]
So there is most likely some other outbound http2 setting that needs to be there.
As seen from the access log HTTP2 is correctly selected.

[2018-05-04 22:33] bianpengyuan commented on #5424
Seems like istio/istio#5267 is the cause. Mixer client e2e test failed in the postsubmit of this PR and thereafter. I will try to revert the PR and see if it fixes the problem.

[2018-05-04 23:01] kidiyoor opened #5428 "istio-0.8.0-prerelease - envoy to pilot network failure in mesh expansion when mTLS is enabled for control plane"
Isito Release - istio-0.8.0-pre20180416-09-15

Envoy running on VM not able to communicate with pilot due to network failure when mTLS is enabled for control plane.

[code]

ps aux | grep envoy
[code]
ps aux | grep pilot-agent
[code]

/usr/local/bin/node_agent
[code]

[2018-05-04 23:40] mandarjog commented on #5331
H2 (nghttp2) does not like `|` to be a part of the `:authority` header.
grpc async client is setting cluster name = `outbound|grpc-mtls||istio-policy.istio-system.svc.cluster.local` as the `:authority` header.

H2 frame is still rejected.

To test this theory out here is the plan.
Create mixer_check_server and mixer_report_server clusters in bootstrap, and use them in the mixer plugin.

If this so

[2018-05-04 23:43] mandarjog commented on #5428
could be related to https://github.com/istio/istio/issues/5331

[2018-05-04 23:49] diemtvu commented on #5331
Just curious, what is this header for? Does it used in sidecar gRPC request to pilot? (I guess no, as it works for sidecar-to-pilot communication)

[2018-05-04 23:55] kyessenov commented on #5331
This is just the old http1.1. Host header, better formalized. There's some weird conflation going on in envoy in mTLS mode, that makes upstream cluster name appear in the authority header.

[2018-05-05 00:05] douglas-reid commented on #5414
I have the same question as @kyessenov : why can't we use the same port any more? This seems like a regression and, naively, an arbitrary one as well.

If we can't use the same port, then we need to add the right listeners for the non-auth port.

@hklai why is this a 1.0 target and not a 0.8 target? this was working. we shouldn't turn features off for other features.

[2018-05-05 00:08] kyessenov commented on #5311
Issue #5331 is an instance where naming affects the functionality of filters. It's very important that we pick a naming scheme and stick with it, not change it mid-implementation.

[2018-05-05 00:31] ldemailly commented on #5421
can you compare/contrast your setup with the working one in istio/admin-sites/fortio

[2018-05-05 00:31] hklai commented on #5414
@douglas-reid as discussed in the code orange meeting this does not block 0.8.0, so I just added this to 1.0.

If this is intended for 0.8.1, we can change it to 0.8.

[2018-05-05 00:57] mandarjog opened #5429 "Mixer proxy access log should indicate errors"
istio-proxy in front of Mixer produces access logs, however they always look at the same.

[code]
The return code is always 200.
We should return the check return code in a response header which can be captured in envoy accesslogs.

1. Add a return header
2. Capture return header in a custom envoy access log

[2018-05-05 01:04] costinm commented on #5414
We can't use port 15004 because there are no certificates - that's the port
with TLS enabled, and if auth is off
there are no certs.

Open another port that is proxied and plain text - and we can use it.

On Fri, May 4, 2018 at 10:58 AM, Kuat <notifications@github.com> wrote:

[2018-05-05 01:06] costinm commented on #5414
And the change is due to using regular EDS and CDS for mixer - which follow
the global auth
setting, so all clusters (unless explicitly set) will follow the data plane
auth policy. So when
MTLS is disabled - we need a non-TLS port to connect to.

On Fri, May 4, 2018 at 6:04 PM, Costin Manolache <costin@gmail.com> wrote:

[2018-05-05 01:43] kyessenov commented on #5414
It seems that if this is a bug fix, it should not have been forced by pilot config, but verified end-to-end. I also don't see how this is going to play nice with CDS generating a single mixer cluster.

[2018-05-05 01:49] kyessenov commented on #5414
We need to communicate better about formal deprecation of control plane auth setting. It sounds like that got removed in favor of data plane auth setting, but we only discover it post-factum, intentionally causing a regression.

[2018-05-05 06:07] costinm commented on #5414
What are you talking about ? CDS generates clusters the same for all
services and destinations - one cluster
for each service+port, based on settings from destinationpolicy and
defaulting to the global auth policy.

If mixer doesn't want to use the normal clusters - it can define a custom
cluster in the bootstrap,
like it had before. Whoever implemented/reviewed the mixer in v2 believed
it's clean

[2018-05-05 11:43] douglas-reid commented on #5414
@hklai @costinm I obviously have not been able to attend Code Orange meetings this week. However, the ability for Mixer to report to Mixer was an existing feature for over a month. We've talked about publicly and coordinated with other teams on this ability.  Whatever conversion to v2 happened _should_ have included support for _existing_ features.

I feel quite strongly that it should be included

[2018-05-05 11:47] douglas-reid commented on #5414
@bianpengyuan / @kyessenov : it sounds like the fix is simple-ish.  Is it just a matter of duplicating the filter stuff in an additional listener?

Can we do that first, and then figure out how we want things to work properly subsequently?

[2018-05-05 11:58] mandarjog commented on #5414
I think we need to reconcile these two streams of thought. Does mixer require an envoy in front for proper functioning or not.

If mtls is implemented in mixer then envoy is not needed.

That said we can add an envoy listener on 9091 and ensure that mixer only binds to local host and then we are good.
So fix is easy.

[2018-05-05 12:06] douglas-reid commented on #5414
@mandarjog let's please not decide to start reimplementing envoy in mixer right now. I think that is too big an architectural change and will be controversial at best.

I think the easy fix of 9091 listener (or whatever) is the correct approach.

@hklai et. al: I want to stress that Mixer telemetry collection (which Mixer reporting to Mixer provides) is P0 for 1.0 and was considered "Beta" status

[2018-05-05 15:57] douglas-reid commented on #5414
@hklai - one other point to consider: this feature is already mentioned prominently in the 0.8 release notes. See here: [0.8 Release Notes - Telemetry](https://preliminary.istio.io/about/notes/0.8.html#telemetry).

I know that the decision to not have it in 0.8 was made with the best of intentions. However, from the outside, it feels that it was made without full information, or was made motivated

[2018-05-06 00:29] kyessenov commented on #5414
@costinm let me understand what you are saying, and correct me if I'm wrong.
We have two features that we want to ship. Feature 1 is istio-on-istio telemetry -- meaning mixer adapters can take advantage of new data coming to mixer from pilot/mixer. Feature 2 is "gradual adoption", which I presume means ability to have a mixed deployment in which half of the mesh is using mTLS, but half is not.

Fe

[2018-05-06 16:02] ldemailly commented on #5414
We should not be doing mTLS in mixer

[2018-05-07 01:06] hklai commented on #5414
@douglas-reid Do you think this is blocking 0.8.0, or this should be in 0.8.x eventually? I believe we concluded this was not blocking 0.8.0 as nobody needed/relied on this for 0.8.0. If you think otherwise, I can add the blocking release label and discuss this in the code orange meeting.

@bianpengyuan do you have ETA when this can be resolved?

[2018-05-07 10:36] liamawhite commented on #4702
As soon as 0.8 is released I'll be getting this fully operational.

[2018-05-07 10:40] oreasono commented on #4702
@liamawhite thanks for your quick repliy. Any idea how I can work around this(getting the sidecar work again)?

[2018-05-07 10:54] Stono commented on #4702
You might have a different problem than this issue because zone aware
routing with mtls disabled doesn't work (at all), however you're describing
intermittent behaviour.

I'm guessing you're not using mTLS?

PS.  Zone aware routing not working shouldn't break your sidecar either,
it's warning rather than error.

On Mon, 7 May 2018, 11:40 am oreasono, <notifications@github.com> wrote:

[2018-05-07 11:01] oreasono commented on #4702
@Stono yes i'm not using mTLS
But with this info log showed, my sidecar no longer proxy *ANY* traffic fire from the target pod.
Therefore some of my pods in istio can send http request to *ANY* website address, meanwhile some pods can only send request to websites described in EgressRule.

[2018-05-07 11:05] Stono commented on #4702
Yeah,
That is definitely a different issue then.
I suggest raising a new issue with as much log + context as possible.

Karl

On Mon, 7 May 2018, 12:01 pm oreasono, <notifications@github.com> wrote:

[2018-05-07 11:09] oreasono commented on #4702
@Stono on a second thought, that log can be irrelevant. My main issue is some  of my sidecars no longer proxy traffic. Will raise an issue. Thanks for your reply.

[2018-05-07 11:10] liamawhite commented on #4702
Yes, this is a separate issue. The zone aware stuff at the moment is just setting config that envoy ignores.

[2018-05-07 11:16] philicious commented on #3117
I played around with the bookinfo sample to verify this.

- not working with `spec.ports.name` set to anything else than `http`
- not working if `spec.ports.name` is not set at all. which is common as its optional, see https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#serviceport-v1-core

[2018-05-07 13:50] frankbu commented on #5415
Instructions in several v1alpha3 tasks are wrong. Fixes in https://github.com/istio/istio.github.io/pull/1247

[2018-05-07 13:54] costinm commented on #1440
I would add that in 0.8 Istio is only capturing incoming traffic for the
ports declared as containerPort
or via an annotation. This is needed to fix few issues (security and direct
access to ports). In future
we may add back an option to intercept or block ports we can't handle.

There is also an option to exclude specific ports from capture.

Longer term - there are few things we are working on,

[2018-05-07 14:18] gyliu513 opened #5440 "istio mc does not support dynamically update secrets"
1) Create a istio mc control panel.
2) Create a istio remote cluster.
3) Create a secret for remote cluster and label the secrets as follows:
[code]
4) The cluster was not added to cluster registry.

The root cause is that the secretecontroller do not support update yet https://github.com/istio/istio/blob/master/pilot/pkg/config/clusterregistry/secretcontroller.go#L90-L96

/cc @sdake @sbezverk

[2018-05-07 14:47] costinm commented on #5414
I still don't understand the big storm in the teacup...

Mixer was completely broken with v2 just 2 weeks ago (since the old v1
params
no longer worked - I'm still not sure how this happened ). Auth finally
started
 to work late last week. We spent a hellish week dealing with the flaky
tests.

Is the biggest problem adding a new port in mixer service with envoy in
front of it ???

From networking

[2018-05-07 15:33] costinm opened #5442 "Istio creates a race condition as the app crashes with apiserver unavailable"
@farcaller commented on [Mon May 07 2018](https://github.com/istio/issues/issues/325)

**Is this a BUG or FEATURE REQUEST?:** BUG

**Did you review https://istio.io/help/ and existing issues to identify if this is already solved or being worked on?**: yes

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio Auth

[2018-05-07 15:33] costinm commented on #5442
Moved to istio/istio

[2018-05-07 15:35] costinm commented on #5442
This seems to be a generic problem, affecting any app that makes requests before Envoy is started or fully configured. Not specific to apiserver - any request from app will fail, since envoy won't have listeners.

[2018-05-07 15:42] costinm commented on #5442
Short term we can improve the startup time of envoy by using the same image for 'init' and 'sidecar'.
Current init is based on alpine and very small - while sidecar is based on ubuntu and larger. Unfortunately k8s doesn't allow ordering of container startup except initializer.

The  initializer could also fetch an initial config from pilot - so first envoy startup will have a static
config. ADS ca

[2018-05-07 15:46] #1419 closed

[2018-05-07 15:54] cmluciano commented on #5415
Still no dice with updated hosts and passing the Host in a header explicitly.

[code]

[code]

[code]

[2018-05-07 15:56] leblancd commented on #5273
@myidpt - What kernel version are you using?
I'm not sure if this helps, but we use IPv6 NAT in Kubernetes (supported since Kubernetes version 1.9) for kube-proxy functionality. I expect that it will work for you once you have a kernel that supports it and the required modules. We're running it on various Linux OS/kernels. Currently, I have 2 systems up that use, respectively:
* CentOS 7 with kern

[2018-05-07 16:32] pmichali commented on #5273
Is IPv6 enabled in sysctl?

[2018-05-07 16:33] tiswanso commented on #5273
@myidpt -- is the v0.8 comment not supporting IPv6 related to istio itself?  IMO, this specific issue is a GKE/GCP limitation and not an istio issue.

My understanding is GCP/GKE doesn't support IPv6 networks.  You'd have to virtualize the test environment to set it up to avoid the IPv4 only network between GCP hosts.  @leblancd has done that in IPv6 k8s CI environments.

Is the "we will not suppo

[2018-05-07 16:40] leblancd commented on #5273
I thought IPv6 support is fairly limited in GKE, e.g. no IPv6 transport between instances? For ingress traffic, I see that GCP supports access from IPv6 clients outside the cluster by proxying the IPv6 packets over IPv4 (perhaps using stateless NAT46 or 6-to-4 transition methods?) to an IPv6 server in the cluster. So maybe this transition method will get the packets to where they'll get IPv6 ingre

[2018-05-07 16:42] Sophian-Mehboub commented on #5421
Can you help me, please ?

[2018-05-07 16:47] myidpt commented on #5273
@pmichali IPv6 is enabled on both COS and Ubuntu images.
[code]
They also have IPv6 addresses in `ifconfig`.

[2018-05-07 16:49] rkpagadala commented on #371
https://github.com/istio-releases/daily-release/blob/master/prow/daily-perf-tests.sh

[2018-05-07 16:54] pmichali commented on #5273
@myidpt I assume forwarding too? (net.ipv6.conf.all.forwarding = 1).  I don't know about GKE or COS, but GCE VM only supports IPv4 (no outside connectivity to IPv6). We had to run a cluster inside of docker containers to be able to get IPv6 support working in Kubernetes (I did the same for Istio in a PoC setup with some hacked code).

[2018-05-07 16:57] myidpt commented on #5273
@pmichali Forwarding is disabled:
[code]

[2018-05-07 17:12] myidpt commented on #5273
@tiswanso Istio doesn't support IPv6 nat because the IPv6 nat module may be missing in the node kernel. It's not easy to change GKE node kernel to support IPv6 nat module. We are trying to find out ways to intercept the IPv6 traffic.

Note for the first step, we only reject the "inbound" IPv6 traffic but the "outbound" traffic are still allowed.

Please let me know if this will break existing use

[2018-05-07 17:26] cmluciano commented on #5415
Updated to include selector and still not working.

Gateway/VirtualService config
[code]

Pilot log reveals:
[code]

[2018-05-07 17:53] leblancd commented on #5273
@myidpt - Thanks for the explanation!!! This sounds like a good short term approach (reject inbound IPv6 traffic by default, but provide ENABLE_INBOUND_IPV6 for platforms/kernels that support IPv6 NAT). Long term, I'm wondering if adding native IPv6 support in a GKE environment will require more than just installing the right kernel + modules. For example, GCP supports external IPv6 clients via [I

[2018-05-07 17:56] esnible commented on #5097
The rules in the guestbook example will convert if PR https://github.com/istio/istio/pull/5411 is merged.  I am closing this work item, which is about https://github.com/retroryan/istio-workshop not about istio/istio.

[2018-05-07 17:56] #5097 closed

[2018-05-07 18:04] guptasu commented on #5360
Fixed with PR https://github.com/istio/istio/commit/814ee685829c913abc86071fef2878833541cf9e

[2018-05-07 18:11] myidpt commented on #5273
@leblancd Thanks for the in-depth info about GCP. We will sync with the GKE team with the IPv6 support.

[2018-05-07 18:26] wattli commented on #5414
@costinm , why we don't have cert for mixer? The cert is generated by istio citadel and should be there

[2018-05-07 18:36] linsun opened #5446 "default virtual service route doesn't work"
I have a simple virtual service
[code]
When this is deployed, one of the destination is lost so my app doesn't work any more.

[code]

This works fine:

[code]

[2018-05-07 18:42] linsun commented on #5446
This does work, i missed an indent in the config.

[2018-05-07 18:42] #5446 closed

[2018-05-07 18:52] costinm commented on #5273
Note this is not only about GCP...

I think it's ok to block ip6 inbound (with option to leave open) if nat table is missing.
But if nat table exists - we should still do the right thing and intercept it - if not in 0.8 maybe in 0.8.1 or .2

[2018-05-07 18:53] costinm commented on #5414
We have a cert for mixer, and it has both Spiffe and DNS SANs.
I think there was some confusion about the 'authority' - it's not a cert
issue.

On Mon, May 7, 2018 at 11:26 AM, Tao Li <notifications@github.com> wrote:

[2018-05-07 18:55] mandarjog commented on #5391
If EDS blocks or deadlocks
1. Existing envoys will stop receiving new configuration. Envoys keep on operating using stale configuration.
2. New envoys that start will never finish initialization and stop working.

@Stono

[2018-05-07 18:57] Stono commented on #5391
Sounds exactly like what I saw!

[2018-05-07 19:00] myidpt commented on #5273
@costinm I agree it's not only about GCP.
I think automatically enabling IPv6 nat based on kernel could cause confusions to users? Maybe use a flag to turn on the IPv6 nat, and by default it's off?

[2018-05-07 19:30] hklai commented on #5271
@costinm mentioned this has been fixed last week in the code orange meeting. Closing this.

[2018-05-07 19:31] hklai commented on #5273
@wattli mentioned a short term fix has been merged and this is no longer blocking 0.8.0.

[2018-05-07 19:33] hklai commented on #4791
Could someone provide an updated on "Need to enable ingress tests (requires merging multiple ingress resources into one virtual service spec)"? Is it still 0.8.0 blocking?

@ZackButcher or anyone?

[2018-05-07 19:59] renperez commented on #4999
is this a bug on 0.7.1? I'm seeing this issue everytime we do a deployment.

[2018-05-07 20:52] frankbu commented on #5415
Instructions in https://github.com/istio/istio.github.io/pull/1247 work if you remove the port 443 server part from the Gateway. The tls part still needs work.

[2018-05-07 21:49] kminehart opened #5453 "helm stable/redis does not work with istio sidecar"
Here's the yaml i generated from `helm install stable/redis`.

[code]

Most of it is pretty irrelevant but what you'd expect to be there is there:

1. The pods do not have the istio sidecar on them.
2. The service ports are named:

[code]

Istio version: 7.0.1

I thought this was fixed in 5.0.0?

Istio auto-injector version: 7.0.1

[2018-05-07 21:51] costinm commented on #5273
Yes, this is no longer blocking 0.8.0 - but we should try to get it soon after ( 0.8.1)

I don't think we can ship 1.0 with IPv6 disabled - there are clusters that use IPv6, and the fix is not
that big, we need to test if IPv6 and nat tables are enabled, and change few lines of config.

K8S supports IPv6 - and its about 20 years since the first IPv6 draft...

[2018-05-07 22:01] andraxylia commented on #2775
This is not yet done, there are outstanding issues open.

[2018-05-07 22:03] kminehart commented on #5453
Some more info:

[code]

It doesn't matter if I don't name the service's port or if it's named `redis`.

However, there is an older version of this chart on the cluster and it _does_ work from a sidecarred service. How can I find out what the difference is to istio, exactly?

[2018-05-07 22:07] andraxylia commented on #1424
Closing this in favor of #4879, which outlines precisely the outstanding changes needed in pilot to support multiple certs.

[2018-05-07 22:07] #1424 closed

[2018-05-07 22:08] andraxylia commented on #4879
I see some code is in, but no unit tests.

[2018-05-07 22:16] kminehart commented on #5453
Whoops, meant to put this in istio/issues

[2018-05-07 22:17] vilobhmm opened #5454 "Zone Aware Routing - Mesh expansion and VM only enviornment"
Evaluate whether Zone aware routing works for Mesh expansion and VM only enviornments.

[2018-05-07 22:17] andraxylia opened #5455 "SNI sniffing/routing support in Gateway"
Envoy is adding support for SNI sniffing and routing in envoyproxy/envoy#3217 and  envoyproxy/envoy#3267, similar to apache traffic server:

https://docs.trafficserver.apache.org/en/latest/admin-guide/layer-4-routing.en.html

We need corresponding pilot changes to enable this in Gateway
cc @costinm @rshriram @PiotrSikora

[2018-05-07 22:17] vilobhmm commented on #5454
@costinm : ^^

[2018-05-07 22:35] kidiyoor commented on #5428
@myidpt @liminw

[2018-05-07 23:14] andraxylia opened #5459 "sni"

[2018-05-07 23:14] #5459 closed

[2018-05-07 23:15] andraxylia commented on #5455
Re-open, #5282 will track just sniffing for incremental mTLS adoption.

[2018-05-07 23:15] andraxylia commented on #5282
This issue will track TLS sniffing for the purpose of incremental mTLS adoption and health checking, which are required for 1.0.

SNI routing will be tracked by #5455

[2018-05-08 00:37] quanjielin opened #5462 "Istio support for traffic shadow"
Use case :
To support policy dark launch, Istio needs to support traffic shadow, which envoy already supported(see below links)
https://www.envoyproxy.io/docs/envoy/latest/api-v1/route_config/route.html#shadow
https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html?highlight=shadow

The purpose of doing policy dark launch is to test a new policy works as expected before ma

[2018-05-08 00:38] quanjielin commented on #5345
https://github.com/istio/istio/issues/5462

[2018-05-08 09:47] rahulm95 commented on #3570
@fudali113  While creating the cluster, you need to set the flags MutatingAdmissionWebhook, ValidatingAdmissionWebhook to true.

[2018-05-08 11:58] PiotrSikora commented on #5282
Health checking was supposed to be fixed by https://github.com/kubernetes/kubernetes/issues/60952 and not TLS sniffing.

cc @wattli

[2018-05-08 14:49] vadimeisenbergibm opened #5472 "Istio support DNS Lookup Family (Ip4/Ip6) for ServiceEntries with DNS resolution"
Based on https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/cds.proto#enum-cluster-dnslookupfamily.

Currently, ip4 is set as a default https://github.com/istio/istio/pull/5447. See also this question in https://github.com/envoyproxy/envoy/issues/3306.

[2018-05-08 15:30] theganyo commented on #5040
Just linking to a file with the missing attribute for quick reference: https://github.com/istio/istio/blob/release-0.8/mixer/pkg/attribute/list.gen.go

[2018-05-08 16:01] andraxylia commented on #5282
Last I know is TLS sniffing will be use as a short term solution, until k8s implements mTLS for kubelet.

[2018-05-08 16:04] ldemailly commented on #5421
I’m in vacation, I would suspect your setup has some typo or error: check the logs of every pod/container, after which ask for help on istio-dev@ pointing to this issue (with the relevant errors from logs)

[2018-05-08 16:05] cmluciano commented on #5415
Still a no go. I have the config from the PR and I've rebuilt the helm templates to use the release-0.8 branch, but now I get a 503

[2018-05-08 16:39] cmluciano commented on #5415
Ok leaving off the https part with the latest release-0.8 works

[2018-05-08 16:39] cmluciano commented on #5415
This issue still should remain open for the https part and we should probably be sure that the hosts * is not required

[2018-05-08 16:59] wattli commented on #5282
@PiotrSikora , we will still use TLS sniffing for health check, once your envoy PR is in, I will take care of it. K8s does not have plan to support it.

[2018-05-08 17:21] costinm opened #5477 "Strip proxy release binary"
It's a simple/safe change - the proxy image is huge (300M - bigger than the ubuntu base)

[2018-05-08 18:12] quanjielin commented on #5462
looks like Istio already supported traffic mirroring -
https://github.com/istio/api/blob/78da6e6eb4ad4f158fb58e02f94efde4abf4cabf/networking/v1alpha3/virtual_service.proto#L361
https://github.com/istio/istio.github.io/blob/master/_docs/tasks/traffic-management-v1alpha3/mirroring.md

[2018-05-08 18:45] linsun opened #5478 "istioctl proxy-config doesn't work for my istio ingress gateway pod"
Trying to debug an gateway routing issue and used the proxy-config cmd:

$ kubectl get pods -n istio-system
NAME                                        READY     STATUS             RESTARTS   AGE
istio-ingress-65b67c8546-7vvff              1/1       Running            0          1d
istio-ingressgateway-58b4f6cf96-rvm6d       1/1       Running            0          1d

~/Downloads/istio-release-0.8

[2018-05-08 21:44] quanjielin commented on #5462
tried [mirroring sample](https://github.com/istio/istio.github.io/blob/master/_docs/tasks/traffic-management-v1alpha3/mirroring.md), basically it works(need a [small update on the instruction](https://github.com/istio/istio.github.io/pull/1254)), so close this issue.

[2018-05-08 21:44] #5462 closed

[2018-05-08 22:12] kyessenov commented on #5311
xref PR #5423 which changes cluster naming. While this is hot, @rshriram or @costinm, do you mind creating a doc for clusters to start with?

[2018-05-09 01:28] quanjielin opened #5486 "Authn policy's TargetSelector support for subset"
authN policy's [TargetSelector](https://github.com/istio/api/blob/master/authentication/v1alpha1/policy.proto#L320) has subset property defined in proto but not been used in the code now.  Policy dark launch may need the authn policy subset field to take effect to align with [VirtualService.http.mirror.subset](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.proto#L310)

[2018-05-09 01:30] quanjielin commented on #5345
https://github.com/istio/istio/issues/5486

[2018-05-09 04:07] ahmetb opened #5488 "IstioService.service name is overloaded"
[IstioService.service](https://istio.io/docs/reference/config/istio.routing.v1alpha1.html#IstioService) field lets users specify a FQDN instead of specifying a `name[.namespace[.domain]]`:

[code]

I think this `"service"` field can more accurately be named `"fqdn"` or `"hostname"`. The word "service" is overloaded enough in the context of both Istio and Kubernetes.

Also I'm not sure if the word

[2018-05-09 10:14] philicious commented on #1440
I faced the same culprits as @axelbodo when introducing istio
[code]
- connections to systems (DBs ..) outside the cluster didnt work anymore

in the end it was solvable by editing the sidecar injection templates configmap and adding the `--includeIPRanges` (-i) flag to the initContainers args and using the IP ranges of the k8s cluster.
However this didnt come clear by following the installation d

[2018-05-09 11:38] vadimeisenbergibm opened #5498 "Multiple addresses of a ServiceEntry get lost in conversion to model.Service"
There is a mismatch between the pilot model of a Service with a single `Address` or a map of `Addresses`, an address per cluster, https://github.com/istio/istio/blob/release-0.8/pilot/pkg/model/service.go#L53, and the definition of the ServiceEntry https://github.com/istio/api/blob/master/networking/v1alpha3/service_entry.proto#L170.

Currently, a model.Service is built from each address of Servic

[2018-05-09 11:56] vadimeisenbergibm commented on #5288
@emostafa Sorry, I saw your issue only now. Currently, Istio Egress Rules cover either HTTP-originated requests for domains with wildcards or HTTPS-originated requests for IP blocks.  HTTPS protocol in the egress rule means that the request is originated as HTTP and Istio performs TLS origination for it, forwarding the request by HTTPS.

The following rule will work only if you originate your requ

[2018-05-09 12:18] retroryan opened #5499 "Mixer Adapter Developer's Guide is missing"
Adapter Developer's Guide listed in the mixer README is missing:

That is the guide listed here:
https://github.com/istio/istio/tree/master/mixer

[2018-05-09 14:58] esnible opened #5502 "istioctl get all"
Support `istioctl get all`, similar to `kubectl get all`.  The command would get and display all of the current types (routerule, egressrule, destinationpolicy, httpapispec, httpapispecbinding, quotaspec, quotaspecbinding, servicerole, servicerolebinding, virtualservice, gateway, serviceentry, destinationrule, policy) and support the `-o yaml` option but print tables by default.

In discussion on

[2018-05-09 15:00] kyessenov commented on #5502
It should also fetch all mixer Cards.

On Wed, May 9, 2018, 7:58 AM Ed Snible <notifications@github.com> wrote:

[2018-05-09 15:10] ronenschafferibm opened #5504 "Reconsidering mesh-external traffic tests"
The current situation:
The e2e_pilot tests related to mesh-external traffic that run by Prow and CircleCI are skipped because the `Egress` flag is false. https://github.com/istio/istio/blob/release-0.8/tests/istio.mk#L165

The relevant tests are: `egress_rules`, `egressgateway`, `externalservice`, ` kubernetes_external_name_services`, `routing_to_egress`.
If I understood correctly, that flag is se

[2018-05-09 15:38] linsun opened #5507 "when launching pilot-discovery with kubeconfig flag"
i have to specify the full path of the .pem file in my kubeconfig file, else it can't be found.

probably needs similar fix as @ayj fixed in #5300

[2018-05-09 16:38] ldemailly commented on #5504
We could use fortio.istio.io or istio.io as external service. We may still have to have some retry or increased timeout at least when connecting from circleci.

[2018-05-09 17:09] mandarjog opened #5509 "Istio performance regression 0.8.0-pre20180417-22-02 --> release-0.8-20180504-17-20"
https://ibmcloud-perf.istio.io/regpatrol/

0.8.0-pre20180417 to 0.8-20180504

Ingress only performance has gradually regressed from: 3961 --> 3469  ~ 13 %
Full istio performance: 1240 --> 1147

[2018-05-09 17:09] mandarjog commented on #5509
@suryadu @ldemailly @costinm

[2018-05-09 17:41] mandarjog commented on #5509
https://fortio-daily.istio.io/?xMin=&xMax=&xLog=false&yLog=false&sel=qps_max-s1_to_s2-release-0.8-20180508-17-41-2018-05-08-18-11&sel=qps_max-s1_to_s2-0.8.0-pre20180417-22-02-2018-04-18-01-37

fortio found a similar regression.

[2018-05-09 17:49] cmluciano commented on #1440
@philicious I agree that we should have that big warning label somewhere. Do you have suggestions on where we should highlight this in the documentation?

[2018-05-09 17:59] hklai opened #5511 "TestIngressMetric and TestUpgrade fail in release qualification tests."
See https://k8s-testgrid.appspot.com/istio#daily-e2e-rbac-no_auth-default

[2018-05-09 18:35] kidiyoor commented on #5428
This error is due to envoy trying to communicate with wrong pilot port. For mTLS envoy should talk to 15005 (Its hard to figure out which port is used for what)

However with right port envoy print bellow error
[code]

[2018-05-09 18:37] kidiyoor commented on #5428
Cert Chain generated by node_agent running on GCE VM
[code]

[2018-05-09 18:41] costinm commented on #5477
We still need to update the sha in istio/istio once the proxy build is ready.

[2018-05-09 18:53] esnible opened #5514 "need better logging in networking library when black hole clusters are created"
If I create a VirtualService

[code]

the Envoy configuration generated by Pilot points to the BlackHoleCluster:

[code]

If I add

[code]

to the _destination_ the Envoy config route correctly changes to

[code]

For this experiment, helloworld-service has a single Port:

[code]

According to the documentation https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#Desti

[2018-05-09 18:57] kyessenov commented on #5499
Thanks. Documentation has moved to wiki: https://github.com/istio/istio/wiki/Mixer-Adapter-Dev-Guide

[2018-05-09 19:28] rshriram commented on #5504
Egress is no longer needed in 0.9+. We also don’t need routing to egress as that test is already present (egress gateway tests that use service entry). So the only other thing that needs testing is a service entry with a true mesh external service. Once SNI routing lands, we could simply make a call to google.com and be done with it. Httpbin would have been nice to check for corner cases in http/h

[2018-05-09 19:33] rshriram commented on #5498
+1.. call it multiclusterAddresses.. I thought I added a service  for each address in service entry.

[2018-05-09 19:34] frankbu commented on #5514
The only thing that looks different from the bookinfo services (which work without a port selection) is the protocol and targetPort fields. Can you try to remove them from the service spec and see if that makes a difference?
[code]

[2018-05-09 20:21] esnible opened #5517 "Gateways in any namespace affect istio-ingressgateway"
Gateways are not scoped to a namespace.

If there are two Gateways with `hosts: - *` that the IngressGateway doesn't listen on its port and its logs show

```gRPC config for type.googleapis.com/envoy.api.v2.Listener update rejected: Error adding/updating listener http_0.0.0.0_80: Only a single wildcard domain is permitted```

 I speculate that if a user only has access to namespace _esnible_ and t

[2018-05-09 20:33] kyessenov commented on #5311
@costinm @rshriram @douglas-reid What is your stance on annotating xDS resources with metadata (envoy opaque metadata) that we can utilize in plugins? Since the naming is in flux, that seems like a solution to unblock the progress on telemetry side? Per Harvey, that is appropriate from envoy's standpoint.

[2018-05-09 20:37] esnible opened #5518 "HTTPMatchRequest.uri and .headers are not treated as AND"
Given a _VirtualService_ with

[code]

The generated output (as seen by curl istio-pilot.istio-system:15007/debug/adsz ) is

[code]

That's incorrect: there should be one generated Envoy route that matches on /hello and headers.

If I visit the service without the special header I get a valid response:

[code]

I expected the `match` would not succeeded unless BOTH the headers and URI matched.

[2018-05-09 20:44] esnible commented on #5517
According to @rshriram operators should "have ACLs around who adds/removes gateways and who binds virtual service entries to a gateway".

This makes sense, but only some Gateways are disruptive.  The proposed solution prevents both trouble-free and disruptive Gateways.

[2018-05-09 21:38] lqj679ssn opened #5519 "Allow microservice visit external network"
For `bookinfo` sample, the `details` microservice visits external google api and succeeds. And the config file should be `egress-rule-google-apis.yaml`. But when I run this sample, I only used `bookinfo.yaml`, but never touched `egress-rule-google-apis.yaml`.
How could that be?

[2018-05-09 22:02] hklai commented on #5040
This was brought to my attention today and there is some confusion about whether this is release blocking for 0.8.0.

Could someone provide some detail if this is indeed blocking 0.8? If so, it needs to be tracked in https://docs.google.com/spreadsheets/d/1KquD8HJLlg-IwGYuF6O8AqJMpJPWLHjA-VEY24Eu8b8/edit#gid=0.

[2018-05-09 22:06] hklai commented on #5391
Fixed by https://github.com/istio/istio/pull/5389. Closing.

[2018-05-09 22:28] lei-tang commented on #5040
The following code in istio/Gopkg.lock shows that the SHA for "istio.io/api" repo used by release-0.8 has been updated to 170445541e5b5a1515b52c9c9596570220679a27, which is committed on May 3, 2018. So the request.auth.claims should have been in the release-0.8 branch. In the commit https://github.com/istio/istio/commit/23a8d3ec89c79f891d1d14fb1133f4596d5f32b7 in the release-0.8 branch, the tests

[2018-05-09 22:41] hklai commented on #5040
Thanks @lei-tang. If the fix is already in release-0.8, I suppose no additional work is needed and hence this is not blocking anymore.

For reference, please make sure to add the [kind/blocking release](https://github.com/istio/istio/labels/kind%2Fblocking%20release) label to the blocking issues in future to make sure issues won't fall through the crack.

[2018-05-09 22:58] Nino-K opened #5527 "Case-insensitive DNS names"
We notice that DNS validation in [Pilot's model validation](https://github.com/istio/istio/blob/35e2b9042fe3d4ebe68772311aa1ebe46b66a1be/pilot/pkg/model/validation.go#L45) is using a regex which does not support uppercase dns entries. There is a newer [RFC 4343](https://tools.ietf.org/html/rfc4343) which states that the DNS names are case insensitive. Also in kubernete's [DNS validation](https://g

[2018-05-09 23:17] shalako commented on #5527
@rshriram

[2018-05-09 23:25] mandarjog commented on #5391
We are back porting the fix to 0.7.
We will close the issue after that is done.

[2018-05-09 23:26] mandarjog commented on #5391
Since the PR is merged into 0.8, this is no longer blocking the 0.8 release.

[2018-05-09 23:57] douglas-reid commented on #5040
@hklai @theganyo @mandarjog we need to run `go generate ./mixer/pkg/attribute/...` on the branch.

I rebased to the release-0.8 branch, and was able to generate the following diff:

[code]

[2018-05-10 00:01] douglas-reid commented on #5040
@theganyo we also need to update the attribute manifest. Example: https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/mixer/templates/config.yaml#L85

[2018-05-10 01:41] gyliu513 commented on #5440
code is merged

[2018-05-10 01:41] #5440 closed

[2018-05-10 01:45] johnzheng1975 commented on #4999
For my upstream issue, it related with several istio/cilium defects. Cilium team and istio team are fixing them.

Related issues:
Cilium high load issue:   https://github.com/cilium/cilium/pull/3985
Istio issue: https://github.com/istio/istio/issues/5376
Istio high load issue: https://github.com/istio/istio/issues/1485

Before they are fixed, we can use below workaround **to reduce issue raise**:

[2018-05-10 01:49] johnzheng1975 commented on #4999
  | Upstream Issue   Cannot Recovery | Pod ready   performance after deploy
-- | -- | --
  | Need Manual Restart Count | Ready before 1m | Ready in 1m - 2m | Ready in 2m - 3m | Ready after 3m
Before work around | First Period:  3/1100   Second Period:  4/127   (Raise more and more frequency)   （Summary: 5/1000） | 1239/1277   (97%) | 27/1277   (2%) | 2/1277   (0.2%) | 9/1277   (0.8%)
After work aro

[2018-05-10 01:55] johnzheng1975 commented on #4999
Test summary:
1 After work around, the rate of “Upstream Issue Cannot Recovery” come down a lot  (Excellent)
2 After work around, the “Pod ready performance after deploy” turns worse  (Not good)
   However, 99% pod still can be ready in 3 mins.
3 After work around, the api server pod restart still frequency - 10 times one day  (Same)
4 After work around, the cpu usage of cilium/ istio still very h

[2018-05-10 02:01] johnzheng1975 commented on #4999
PS: How to change istio configure
Change 1:
```kubectl -n istio-system edit cm istio```
    rdsRefreshDelay: 10s```
    (changed from 1s)

[code]

[2018-05-10 03:39] gyliu513 opened #5532 "istio quota(s) conflict with kubernetes quota(s)"
After I installed istio in my kubernetes cluster, when I run the command `kubectl get quotas --v=8`, it always direct to istio api but not kuberntes api.

In Kubernetes, `quota(s)` is the short name for `resourecquota`.

Can we rename istio mixer `quota(s)` to another name which does not conflict with kubernetes?

/cc @linsun @mandarjog comments for this?

[code]

The quotas redirect to istio api.

[2018-05-10 06:29] vadimeisenbergibm commented on #5519
It is `details` `v2` that uses google api, `bookinfo.yaml` deploys `details` `v1`, which does not use external services.

[2018-05-10 06:29] #5519 closed

[2018-05-10 06:35] vadimeisenbergibm commented on #5514
I think this is by design. A service can be provided on multiple ports, e.g. 80 and 443. The virtual service, can, for example, rewrite the destination port. Consider a scenario where the user sends a request to `helloworld-service:80` and the virtual service will forward the request to `helloworld-service:443`. So the destination ports are meaningful - a virtual service should know which port to

[2018-05-10 06:47] gyliu513 opened #5534 "istio dynamic add secrets does not work"
After a secret was created, when we add the cluster to the `clusterStore`, we should also add the cluster to the same pilot as istio control plane.

But for now, we only add cluster to the istio control plane pilot when the `clusterStore` was initiated before deploy the istio control plane. This will cause the dynamic created secrets will not add its cluster to the istio control plane pilot.

I th

[2018-05-10 06:49] vadimeisenbergibm commented on #5504
I propose the following:
1. Deploy httpbin to fortio.istio.io. It is convenient to use httpbin for testing headers, and other HTTP-related features. @ldemailly could you please do it? So we could access fortio.istio.io/httpbin ?
3. Are the IP ranges of fortio.istio.io known?
4. We can still use google.com, until they block us :)
5. I propose that we support all the tests for all the possible optio

[2018-05-10 08:07] gyliu513 commented on #5534
I created a PR to enable register a service controller when a new cluster is added, but still have issues, need more check, this is my diff.

[code]

[2018-05-10 08:38] gyliu513 commented on #5534
With pure 0.8, I can see messages as follows in pilot log when access `review-v3` in another cluster.

[code]

[2018-05-10 09:34] gyliu513 opened #5535 "Use ILB for istio mc"
We are now using pod ip for istio mc, the problem is that once the pod restart, ip will be changed and we need to re-install istio-remote.

We should use ILB and assign a ILB IP for those services.

/cc @sdake @sbezverk @linsun

[2018-05-10 12:52] mandarjog commented on #5414
This should be resolved by #5370

[2018-05-10 12:57] esnible commented on #5514
@vadimeisenbergibm I have three concerns.  First, the documentation https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#Destination says "Many services only expose a single port ... in these cases it is *not required* to explicitly select the port."  That documentation is not always correct.

@frankbu and I discovered that if the Gateway port has the same number as th

[2018-05-10 13:16] mandarjog commented on #5331
@diemtvu @ostromart where is this e2e test running? `RBAC e2e test for v2 + mTLS enabled` ?
Is this test disabled? it is hard to tell from the description.

[2018-05-10 13:17] rshriram commented on #5518
Syntax is incorrect. You have two different match conditions.

[2018-05-10 13:17] #5518 closed

[2018-05-10 13:26] mandarjog commented on #5414
@ostromart where is this test running ?

[2018-05-10 13:28] linsun commented on #5518
@rshriram that is on purpose.  Could you suggest how to do match /hello path and mobile as user-gent?  cc @frankbu

[2018-05-10 13:28] esnible commented on #5518
@rshriram I'm looking at https://preliminary.istio.io/docs/reference/config/istio.networking.v1alpha3.html#HTTPMatchRequest which says "a set of criterion to be met in order for the rule to be applied to the HTTP request. "  I believe that all criteria in an HTTPMatchRequest must be met and I've put both a `uri` and `headers` under the same `match`.  Can you provide or point me to an example with

[2018-05-10 13:31] rshriram commented on #5139
Please file this in Envoy. There is no way to detect if connection came via tls or plain text. Once again, please stop assigning labels unless you are the lead of the working group for that label.

[2018-05-10 13:31] #5139 closed

[2018-05-10 13:35] rshriram commented on #5514
Possible Duplicate of #5016

[2018-05-10 13:40] rshriram commented on #5518
You have two different match conditions (OR semantics) one with uri and another with header.

[2018-05-10 13:42] frankbu commented on #5518
Ed, it should be like this:
[code]

[2018-05-10 14:38] linsun commented on #5518
Ok, this does work.  Probably would be valuable to have these 2 examples documented.

[2018-05-10 14:38] esnible opened #5538 "Improvements to _istioctl get_ to show key fields"
Currently _istioctl get _type_ shows NAME/TYPE/NAMESPACE.  I'd rather see:

_istioctl get gateways_
[code]

_istioctl get virtualservices_
[code]

_istioctl get destinationrule_
[code]

_istioctl get serviceentry_
[code]

[2018-05-10 14:44] linsun commented on #5538
I think this will be very useful.  My vote is to support both single and plural, e.g.

$ kubectl get virtualservice
NAME        AGE
guestbook   56m

$ kubectl get virtualservices
NAME        AGE
guestbook   56m

[2018-05-10 14:54] ldemailly commented on #5139
cc @andraxylia such a pleasure to help with labels and issues.

note that afaik the access log of envoy is customizable

[2018-05-10 15:21] rshriram opened #5539 "Fix service instance lookup by port names"
we really really need to fix the port lookup by name thing. It’s hindering our ability to reroute traffic from 80 to 443 (ext services), and the ability to route traffic from one service to another (where both services are on different ports), as well as from some port on gateway to some other port on the backend. The real and common fix for all of these is to either add a model.ServiceInstancesBy

[2018-05-10 16:12] vadimeisenbergibm commented on #5504
@ldemailly Great, let me rewrite the egress tests to use https://fortio.istio.io/debug instead of httpbin.org.

[2018-05-10 16:18] ostromart commented on #5331
I don't think there's a specific target. I'm guessing that it's referring to trying to run something like test/local/noauth/e2e_bookinfo_envoyv2 with both rbac and auth.

[2018-05-10 16:33] diemtvu commented on #5331
It's part of *e2e-pilot-auth-v1alpha3-v2 *

On Thu, May 10, 2018 at 6:16 AM mandarjog <notifications@github.com> wrote:

--

Diem Vu | Software Engineer | diemvu@google.com | +1 408-215-8127

[2018-05-10 17:15] esnible commented on #5538
@rshriram When I created this work item I noticed there was no way to label it as "istioctl" specific.  So I created the label and labeled this myself.  From your comments elsewhere it seems I shouldn't have done that.  Shall I remove the "area/cli" labels I added?  I was trying to keep track of CLI-specific issues.

[2018-05-10 17:28] esnible commented on #5410
When I tested Promviz there were three difficult things I had to do.  Nick has already talked about needing to add a complex set of values to _promviz/helm/promviz/values.yaml_

_Promviz_ expects "standard" storage which is not provided by IBM Cloud.  My work-around was to make "standard" a synonym for bronze but there shouldn’t be a requirement on a storage type.  Also it might be good to have a

[2018-05-10 17:39] theganyo commented on #5040
Status update: I've added the necessary `request.auth.claims` attributes in mixer, but there's a bigger problem that will need to be solved: Proxy is processing and delivering `request.auth.claims` as a string map and will need to be rewritten to deliver a string.

[2018-05-10 18:25] ostromart commented on #4791
Ingress gateway is sufficiently functional and now part of multiple targeted (in e2e_pilot) and indirect (e2e_bookinfo|mixer) tests. Merging multiple ingress resources is not blocking.

[2018-05-10 18:26] nmnellis commented on #5410
i want to look and see if we can just provide an inmem solution that translates prometheus metrics to vizceral. that would make it a lot easier to install and use for first time users.

[2018-05-10 18:31] linsun commented on #1677
@esnible @mbanikazemi

[2018-05-10 18:31] andraxylia commented on #5139
It's preferable if the person opening an issue categorizes it with an area and labels it to the best of his/her knowledge.

[2018-05-10 18:38] hklai commented on #4791
Thanks. All 0.8 blocking issues have been resolved.

[2018-05-10 18:40] hklai commented on #5477
@costinm it should already be done now with https://github.com/istio/istio/pull/5482

[2018-05-10 18:42] hklai commented on #5424
Fixed by #5424

[2018-05-10 18:42] #5424 closed

[2018-05-10 18:44] #5271 closed

[2018-05-10 18:46] lei-tang commented on #5040
Alternatively, the string map of request.auth.claims produced by the proxy can be converted into a string by a consumer of the request.auth.claims. Different consumers of request.auth.claims may want to convert the string map of the claims into different formats of  strings based on their own requirements, e.g, a string of claims delimited by comma, or by semicolon, and so on.

[2018-05-10 18:48] hklai commented on #5404
This is still blocking release as the test failures prevent automatic release from happening.

Please disable the tests if those failures are not important for 0.8.0 until they are fixed.

[2018-05-10 18:49] theganyo commented on #5040
That wouldn't be sufficient. JWT claim values can be complex and the existing implementation on Proxy drops all JWT claims that don't have simple string values.

[2018-05-10 18:57] rshriram commented on #5539
#5543 fixes the issue

[2018-05-10 18:59] rshriram commented on #5527
Shouldn’t make a difference in current code. Go for it

[2018-05-10 19:45] theganyo commented on #5040
After discussing with @mandarjog, we've decided to move forward with the string map and file a separate issue against the proxy for it to include raw string values for all claims. Meanwhile, I'll submit a PR for this shortly.

[2018-05-10 20:09] renperez commented on #4999
Thanks for this @johnzheng1975

[2018-05-10 20:38] kyessenov commented on #4791
Do we have mixer filter integrated with the ingress gateway? From my code
inspection it seemed like it's not using mixer filter in the ingress
gateway config.

On Thu, May 10, 2018 at 11:38 AM Andy Lai <notifications@github.com> wrote:

[2018-05-10 20:38] mandarjog commented on #5331
Verified via https://github.com/istio/istio/pull/5544

[2018-05-10 20:39] mandarjog commented on #5331
@hklai we are good to go for this issue now.

[2018-05-10 20:39] #5331 closed

[2018-05-10 20:41] kyessenov opened #5546 "Add mixer destination policy to the default install"
cc @hklai.

There is a regression with the upstream cluster settings for mixer filter. This will negatively affect any load performance tests that utilize mixer. We need to bring back those customizations for mixer before shipping the final 0.8.x

[2018-05-10 20:58] baodongli commented on #5539
Can you provide a little bit more details about the issues (such as reroute traffic from 80 to 443, ..), and why replacing instance lookup by port names with by port numbers will fix those issues? thanks.

[2018-05-10 21:04] kyessenov commented on #5539
Can this hold off 0.8 or is there some blocking issue? This might the same
kind of bugs Mandar encountered trying to change cluster naming.

On Thu, May 10, 2018 at 1:59 PM baodongli <notifications@github.com> wrote:

[2018-05-10 21:13] bianpengyuan commented on #5404
This is due to a change to proxy_init container arguments, which uses container ports instead of '*' wildcard for inbound traffic redirect ports, and the container port of the test app is wrong in dashboard e2e test.

[2018-05-10 21:38] ostromart commented on #4791
Yes, it's in https://github.com/istio/istio/pull/5417 which should merge today.

[2018-05-10 21:39] hklai commented on #5404
Thanks for the update. Can it be fixed soon? =)

[2018-05-10 23:01] hklai commented on #5546
Is anyone working on this?

[2018-05-10 23:52] gyliu513 commented on #5534
The pilot log seems fine and the ip address of the remote `review-v3` can be seen in the pilot log, but when accessing `review-v3` with route rules, the productpage still cannot fine the ip address of the `review-v3`.

The IP Address of pod `review-v3` is `20.1.158.230`, and it can be access in my two clusters.

pilot log as attached.
[pilot.log](https://github.com/istio/istio/files/1993558/pilot.

[2018-05-11 02:14] rshriram commented on #5539
Gateway to internal service routing is partly broken. Also broken is the ability to reroute from 80 to 443 for external services (http google to auto https google). And finally routing from one service to another on a different (non overlapping port) is also broken.

[2018-05-11 03:25] vadimeisenbergibm commented on #5504
@rshriram My thought was that the availability of istio.io is at least in our hands, including the firewall issues. google.com can detect at some point that there is a lot traffic from our prow/circle_ci and start blocking it. httpbin.org started to fail lately, so we cannot use it anymore. We have to do something ASAP.

Currently we test on httpbin.org (for headers), google.com and wikipedia.org.

[2018-05-11 03:34] rshriram commented on #5514
Addressed by #5543

[2018-05-11 03:37] rshriram commented on #5016
Most of this code will be invalid now with #5543. Blackhole clusters won’t occur much, except for user mid configuration

[2018-05-11 03:40] #4238 closed

[2018-05-11 04:06] wangybgit commented on #4702
hello,I have the same problem:when I use the command"kubectl apply -f <(istioctl kube-inject -f bookinfo.yaml)",it is correct.
but when I use this command to apply my own application,error
 `[2018-05-11T03:11:49.516Z] "GET /istio_service1 HTTP/1.1" 302 - 0 0 14 5 "172.17.0.1" "Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/66.0.3359.139 Safari/537.36" "41839fbf-9

[2018-05-11 06:25] ZhiminXiang commented on #5415
I tried daily release istio-release-0.8-20180504-17-20, but it did not work for me.
Here is my gateway:
- apiVersion: networking.istio.io/v1alpha3
  kind: Gateway
  metadata:
    clusterName: ""
    creationTimestamp: 2018-05-11T06:19:18Z
    name: httpbin-gateway
    namespace: default
    resourceVersion: "2902433"
    selfLink: /apis/networking.istio.io/v1alpha3/namespaces/default/gateways/http

[2018-05-11 06:51] wangybgit commented on #4702
@oreasono hi,I have the same problem. the application helloworld and bookinfo are success,，but my own application using the sidecar hava the problem “Unable to retrieve availability zone from pilot”.How did you solve it?

[2018-05-11 08:03] emostafa commented on #5288
Thanks you guys, adding the ips to the template worked.

[2018-05-11 08:03] #5288 closed

[2018-05-11 09:06] ldemailly commented on #5288
for reference I access cloud storage using egress rules
by connecting on port 443 using http which is then forwarded and upgrad d to https by envoy, see istio/admin-sites fortio sub directory for an example

[2018-05-11 10:37] gyliu513 commented on #5255
I'd like to say this is a blocker for 0.8, as many customer are now trying service mesh expansion now, any workaround solutions for this?

[code]

/cc @linsun @ldemailly

[2018-05-11 11:07] philicious commented on #1440
@cmluciano I would add it to https://istio.io/docs/setup/kubernetes/quick-start.html#installation-steps as bullet point 7
the warning should link to https://istio.io/docs/tasks/traffic-management/egress.html but also mention as a tl;dr that one can solve it two ways:

- for HTTP(S) connections its easiest to write an EgressRule (btw. the egress page lacks info about wildcard support)
- for ANY con

[2018-05-11 13:51] vadimeisenbergibm commented on #5415
@ZhiminXiang I am on it, let me handle this.

[2018-05-11 13:59] esnible commented on #5255
I had a PR that fixed this problem.  It was about 4 lines of fixes and about 4 lines of changing log levels.  I deleted the PR because it was not clear if the commands should be removed or fixed.  I am happy to take over the Issue but I have never used these commands and I need wisdom/guidance to know if the goal is to make these commands work, to remove them, or to improve them.

[2018-05-11 14:10] gyliu513 commented on #5255
@esnible @linsun I think that we need at least keep this works in 0.8 release and can improve for next release, so @esnible , can you please continue your PR to fix this for 0.8?

[2018-05-11 14:19] linsun commented on #5255
@esnible, i think your PR will make the cmd work, at least work like it used to with the old route rule.

[2018-05-11 15:45] linsun opened #5559 "Change envoy to default to log level warn"
We had an internal discussion on #networking channel and decided it makes sense to change default to WARN for envoy.

from @sdake:  we found through an internal engagement, that reducing log level of envoy from INFO to WARN increased QPS from 1200 to 4800

cc @andraxylia

[2018-05-11 16:33] bianpengyuan commented on #5404
Fix was merged. I will close this once I verify the test passes in post submit.

[2018-05-11 16:45] ldemailly commented on #5255
@esnible as I commented in your then PR (and here indirectly) there is no reason for the command to cease working (and also no reason to change the logging from Info to another level, it is "informative" about what it is doing, if a user doesn't want the output they can raise the level to warning)

[2018-05-11 16:56] bianpengyuan commented on #5404
Seems it succeed in the most recent post submit run . Close this.

[2018-05-11 16:56] #5404 closed

[2018-05-11 16:58] frankbu commented on #5415
@vadimeisenbergibm I think #5560 is just a partial fix for this issue, right? A second problem in this task is that the configuration is using files on the user's local machine, not ones on the ingressgateway server:
https://preliminary.istio.io/docs/tasks/traffic-management-v1alpha3/ingress.html#configuring-a-gateway.

[2018-05-11 17:30] rshriram commented on #5486
There is no status code for mirroring. It’s fire and forget.

[2018-05-11 17:31] vadimeisenbergibm commented on #5415
@frankbu you are right, I am working on that part too. (cc @ZhiminXiang @cmluciano )

[2018-05-11 17:43] cmluciano commented on #5415
Ya that's what I thought too @frankbu . I think I will need to update my e2e to account for the client cert and CA that is passed in here https://github.com/istio/istio/blob/release-0.8/tests/e2e/tests/pilot/testdata/v1alpha3/ingressgateway.yaml#L26-L31.

[2018-05-11 17:50] linsun opened #5564 "More update to eliminate the reading cert error from kube config"
We probably ought to use this pattern in pilot/pkg/serviceregistry/kube/client.go:CreateInterface and pilot/pkg/config/kube/crd/client.go:CreateRESTConfig as well.

@ayj

[2018-05-11 18:08] frankbu commented on #5415
@cmluciano that sounds right.

[2018-05-11 18:09] hklai commented on #5534
/cc @louiscryan

Review if MC issues should be blocking for 0.8.0.

[2018-05-11 18:26] kyessenov commented on #5546
Shouldn't this be assigned to whoever changed the mixer clusters to begin with? :)

[2018-05-11 18:28] cmluciano commented on #5415
cc @rshriram @ZackButcher Does the plan of adding the e2e in #5547 with Vadim's changes in #5560 seem appropriate?

I could not find an existing e2e that tests https calls from the client to the Gateway even though we have certificates in https://github.com/istio/istio/blob/release-0.8/tests/e2e/tests/pilot/testdata/v1alpha3/ingressgateway.yaml#L26-L31

[2018-05-11 18:43] vadimeisenbergibm commented on #5415
@cmluciano Please wait until my PR is merged.

[2018-05-11 18:50] sbezverk commented on #5534
The potential fix is ready and we are waiting for confirmation from @sdake and @gyliu513 . Once it is done, PR #5541 will address this issue.

[2018-05-11 19:47] hklai commented on #5546
@mandarjog nominated you.

The goal is to get 0.8.0 out ASAP and we need all hands onboard.

[2018-05-11 20:35] quanjielin commented on #5486
1. Yes, 'fire and forget' is from user's standpoint, Istio proxy still can get status code of the mirroring traffic and report it(together with other attributes we want to collect) to mixer.
2. For my example described in this issue, user should get a 200, since real traffic is routed to service subset without authn policy applied; the reason why it got 401 now is because authn policy doesn't supp

[2018-05-11 20:51] kyessenov commented on #5546
Looking into changing helm install for pilot. CRDs are non-trivial with
helm, you need one-time batch jobs, and that has not been done for pilot.

On Fri, May 11, 2018 at 12:47 PM Andy Lai <notifications@github.com> wrote:

[2018-05-11 21:36] mandarjog opened #5569 "Set max_concurrent_streams to override nghttp2 client default of 100"
1. v2 CDS should set this option by default.
2. V1 CDS should set option too so that 0.8 LTS is well supported.

ref: https://github.com/envoyproxy/envoy/issues/2941

In absence of this change data path grpc traffic suffers queuing increasing latency to unacceptable levels.

[2018-05-11 21:37] mandarjog commented on #5569
@mdhume

[2018-05-11 22:27] spikecurtis commented on #1677
I have an API proposal up here: https://github.com/istio/api/pull/479

Your feedback please

[2018-05-11 22:43] hklai commented on #4937
The test is still very flaky.
https://k8s-testgrid.appspot.com/istio-daily#daily-e2e-rbac-auth
https://k8s-testgrid.appspot.com/istio-daily#daily-e2e-rbac-auth-default

We probably should move it to a separate test suite. In the mean time, I plan to disable the test unless someone disagrees.

[2018-05-12 00:01] mandarjog commented on #4435
resolved.

[2018-05-12 00:01] #4435 closed

[2018-05-12 01:14] louiscryan commented on #5311
This seems like a pretty reasonable approach overall and fits with the
intended purpose. @rshriram thoughts?

On Wed, May 9, 2018 at 1:33 PM Kuat <notifications@github.com> wrote:

[2018-05-12 11:04] JCzz commented on #5295
Is it not possible or no one know?

[2018-05-12 11:06] philicious commented on #3117
@cmluciano as we were talking about improving documentation in that other issue, this bug was also really nasty to figure out and fix

[2018-05-12 14:02] sbezverk commented on #5534
@hklai the fix has been confirmed, so it is no more blocker.

[2018-05-12 18:25] Stono opened #5576 "The story of a broken cluster"
Hey!
This isn't a bug per-se, but I wanted to share my experience of how I managed to take an entire cluster out today whilst using istio, to see if theres anything you think could be done to stop people not accidentally doing the same...

**Context**
By default, as you can see on this line
https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/charts/sidecar-injector/templates/m

[2018-05-12 19:49] Stono commented on #5576
For those who are interested, I inverted the logic:

[code]

I then labeled istio-system with `disabled`:
[code]

[2018-05-13 08:16] Stono opened #5578 "Proxy unable to start (malford IP address)"
Hey,
I've got a pod which seems to be crashing after a few retries due to a malformed ip?:

[code]

It's crashed 8 times in the last 2 hours (overnight so i haven't caught it in the bad state), it is currently running OK:
[code]

Other than using a different service IP, it's the same as `ingress-nginx-internal-controller-5d688fbfc4-h2c9w` and is only happening in one of our three identical environ

[2018-05-13 08:41] ymesika commented on #5348
/assign

[2018-05-13 08:49] ilyasotkov commented on #1985
Just tested it using Istio 0.7.1 (with auto-injection webhook), the postgresql chart (0.8.4) does indeed fail with `Failed create pod sandbox.` error.

Adding `sidecar.istio.io/inject: "false"` to template.metadata.annotations in the postgres deployment chart fixed the problem for me.

[2018-05-13 17:29] mandarjog commented on #5576
@Stono thanks for that entertaining description.
I think your inverted namespace selector is a fine solution. The question is can we just make that the default. I think so.

[2018-05-14 07:06] anuranjit opened #5580 "Connecting to AWS RDS in Istio Service Mesh"
We have a issue where connecting to AWS RDS in Istio Service Mesh is results in `upstream connect error or disconnect/reset before header` .
Our Egress rule is as below

     apiVersion: config.istio.io/v1alpha2
     kind: EgressRule
     metadata:
         namespace: <our-namespace>
         name: rds-egress-rule-with
     spec:
         destination:
         service: <RDS End point>
     ports:

[2018-05-14 07:52] loewenstein commented on #3986
Should we consider resembling the original query language more closely instead of a fluent style like the example above? E.g.

[code]

On a second thought, maybe even more radical. Should we instead just parse the textual queries to verify they are valid promql queries?

I just did a very quick search for `sum(` and `=~` to get a feeling where prometheus queries are in the Istio code base. Turns o

[2018-05-14 10:59] mlushpenko opened #5582 "can't block rerquests to service from ingresss"
We want to block requests to the app behind nginx ingress based on some parameters. We are testing bookinfo app. If we deny requests to one of backend services - it works fine, if we try to deny requests to product page, it it still gets displayed.

This example works fine:

[code]

and then we get such reponse on the page:
![image](https://user-images.githubusercontent.com/2006610/39993414-114cf7

[2018-05-14 12:14] BastienM commented on #5409
Hi,
Any update on this ?

[2018-05-14 12:59] #5255 closed

[2018-05-14 13:41] #5564 closed

[2018-05-14 13:41] linsun commented on #5507
fixed ^^^

[2018-05-14 13:41] #5507 closed

[2018-05-14 13:41] linsun commented on #5478
fixed ^^

[2018-05-14 13:41] #5478 closed

[2018-05-14 15:52] FuzzOli87 commented on #4865
I see this behavior as well but in reverse. And I think it's a little more problematic in my case. I have a service that is ready before istio-proxy is ready. The service is attempting to connect to a gRPC server. So it starts polling for a gRPC stream from the server and I see istio-proxy get flooded with those failed requests. What seems to be happening is that it further delays istio-proxy star

[2018-05-14 16:02] FuzzOli87 commented on #3757
I'm also seeing my proxy logs get flooded with these same errors and I'm running istio with mTLS disabled.

[2018-05-14 16:02] douglas-reid commented on #3986
@loewenstein parsing for validity is certainly a good idea. For things like the dashboards, the e2e dashboard tests should be doing their own validation, but having validation of the queries in other tests would be fantastic.

Beyond parsing however, I believe the intent here was also to make the queries more understandable / approachable to the non-prometheus-savvy folk. Having some sort of query

[2018-05-14 16:08] mikedoug commented on #4865
@FuzzOli87 -- Interesting.  It sounds like what needs to happen is some lock-stepping:

1. The istio-proxy starts up and begins to handle any outbound connections.
1. Then the actual service starts up.
1. Then istio-proxy opens whatever listening ports it is responsible for handling.

Your problems is solved by the gating of steps 1 and 2 because istio-proxy is spun up and functional before your s

[2018-05-14 16:09] esnible commented on #4911
I deployed gcr.io/google_containers/echoserver:1.4 and pointed a Gateway+VirtualService at it.

The gateway added the following headers according to echoserver

x-b3-sampled=1
x-b3-spanid=739826e9e7b70239
x-b3-traceid=739826e9e7b70239
x-envoy-decorator-operation=echo
x-envoy-internal=true
x-forwarded-for=10.73.71.198
x-forwarded-proto=http
x-request-id=cf6d5bf0-3716-9f0d-9ced-9f203cce15f2

That co

[2018-05-14 16:17] andraxylia commented on #5348
thanks @ymesika

[2018-05-14 16:19] loewenstein commented on #3986
@douglas-reid I also take that as a "don't resemble the promql, fluent/builder would be easier to understand", is that about right?

I tend to disagree, especially as we will have a mixed experience group probably. I.e. some people that are already used to promql will actually have a harder time reading a fluent api.

[2018-05-14 16:30] douglas-reid commented on #3986
@loewenstein i didn't mean to imply anything about the style, sorry. I tend to like fluent apis, but don't have a strong opinion here.

[2018-05-14 16:33] myidpt commented on #3757
@FuzzOli87 What errors are you seeing and what version are you using?

[2018-05-14 17:00] #4911 closed

[2018-05-14 17:12] FuzzOli87 commented on #3757
@myidpt
This is one container:
`[2018-05-14 17:00:40.301][16][info][upstream] external/envoy/source/server/lds_subscription.cc:70] lds: fetch failure: network error
[2018-05-14 17:00:45.474][16][info][upstream] external/envoy/source/server/lds_subscription.cc:70] lds: fetch failure: network error
[2018-05-14 17:01:04.533][16][info][upstream] external/envoy/source/server/lds_subscription.cc:70] lds

[2018-05-14 17:58] mandarjog commented on #5578
Proxy is trying to do `inet_pton` on this string, and doing that on a dns name (`istio-mixer.istio-system`) is going to fail. Looks like dns resolve did not succeed for the boostrap cluster of type `dns`.  In 0.8 all endpoints are delivered via `eds` so this specific problem will not occur.

@qiwzhang what happens if mixer upstream cluster has no endpoints?

[2018-05-14 18:06] myidpt commented on #3757
This error probably complains Envoy is not able to connect to Pilot.
In V0.7.1, without MTLS, the controlPlaneAuthPolicy is by default NONE (unless you explicitly enable MTLS for it). So I don't think this is related to mTLS key/cert not ready. I deployed V0.7.1 on GKE and didn't see this error on ingress or user services. I think may be your Pilot starts too slowly?

@andraxylia

[2018-05-14 18:17] FuzzOli87 commented on #3757
@myidpt Would it still happen even after Pilot reboots?

[2018-05-14 20:11] mandarjog commented on #5040
`request.auth.claims_raw` contains the original claims from the header.
We need to add this as a `string` attribute to the attribute vocabulary.
We should revisit this solution, if we want `map<string, string>` to contain all claims or just simple claims.

[2018-05-14 20:16] douglas-reid commented on #5040
is `request.auth.claims_raw` a final naming decision?  should this be `request.auth.raw_claims` to better match style guidelines?  or maybe `request.auth.claims.raw` and `request.auth.claims.map` ?

[2018-05-14 20:19] theganyo commented on #5040
It's actually `raw_claims`: https://github.com/istio/proxy/pull/1744. But as Mandar mentioned, it's not yet in the mixer attributes.

[2018-05-14 21:16] spikecurtis opened #5588 "EDS race misses service instances"
If two goroutines are updating an EDS cluster load assignment, we use locks to prevent them both from doing so at the same time.

https://github.com/istio/istio/blob/3bea9a15cbcef19f21b87eb5245c4aa340f76410/pilot/pkg/proxy/envoy/v2/eds.go#L189

But, we don't have any way to enforce the "newer" update is processed later, meaning we could end with stale load assignments on the cluster, and no indica

[2018-05-14 21:36] diemtvu commented on #5040
The name is indeed request.auth.raw_claims.

I didn't add the attribute to [global_dictionary](https://github.com/istio/api/blob/master/mixer/v1/global_dictionary.yaml), as per my understanding, it is for optimization mainly. However, feel free to add it, or let me know if you want me to do. Other than that, I don't know any other place we need to change to hook up with mixer. As long as (mixer) c

[2018-05-14 21:42] mandarjog commented on #5588
Great find.
If we still do periodic recompute, this blind write will be corrected then.
If not  this is a release blocking issue.

[2018-05-14 21:43] mattatcha commented on #5578
I just ran into the same issue and it had to do with `istio-mixer.istio-system` not resolving.

In my case this happened because I applied a manifest which had `statsdUdpAddress` set to `istio-mixer.istio-system:9125` instead of `istio-statsd-prom-bridge.istio-system:9125`. Since I am using istio 3bea9a15cbcef19f21b87eb5245c4aa340f76410, the istio-mixer service no longer exists.

[2018-05-14 22:30] spikecurtis commented on #5588
I don't believe we do a periodic recompute. I have UTs that hit this issue and hang for 9 minutes.

[2018-05-14 22:35] costinm commented on #5588
I suppose safe fix is to do periodic recompute, there is an V2_REFRESH env variable (duration) so should be just template fix ( or we can change the default value). What would be reasonable ? 1 min ? 5 min ?

[2018-05-14 23:27] rshriram commented on #5311
depends on where. @htuch was also opposed to reading filter configuration from metadata as it was abuse of the API. Thats why we added the per-filter route config stuff..

[2018-05-14 23:30] kyessenov commented on #5311
Mixerfilter will not read metadata. Pilot plugin will read metadata and
create the corresponding per_*_filter_config. We can erase metadata after
plugins processing.

On Mon, May 14, 2018 at 4:27 PM Shriram Rajagopalan <
notifications@github.com> wrote:

[2018-05-14 23:48] rshriram commented on #5311
Ah cool.. Yeah, that works nicely. You could repurpose your PR and essentially stick per route metadata and then use it in the mixer plugin..

[2018-05-15 01:17] mandarjog commented on #5588
Since the fall back PR is merged removing blocking label.
Keeping the issue open, because we want a proper fix to this problem.

[2018-05-15 03:23] sdake opened #5600 "bookinfo nonfunctional on 0.8 branch"
bookinfo was recently updated in commit a45393812edff128464105c1790fb893fb184d13 which breaks bookinfo for me locally on my testbed.  I am running in the gate to see if I can get a clean run out of CI: https://github.com/istio/istio/pull/5599.

A git revert of the commit results in a working bookinfo.

Using bookinfo from upstream/release-0.7 branch works.

Behavior:
[code]

[2018-05-15 03:46] sdake commented on #5600
as the gatecheck passed, I'd appreciate if another dev could validate if release-0.8 works for them.

[2018-05-15 05:17] vadimeisenbergibm commented on #5600
@sdake Please note the instructions for configuring the new Istio Ingress Gateway https://vadimeisenbergibm.github.io/docs/tasks/traffic-management-v1alpha3/ingress.html. A PR submitted to istio/istio.github.io.

[2018-05-15 05:18] dpacierpnik commented on #5588
Probably causes this issue: https://github.com/istio/issues/issues/329 . Can you confirm?

[2018-05-15 10:06] ymesika commented on #5578
istio-mixer is has been splitted into `istio-policy` and `istio-telemetry`.

[2018-05-15 10:31] mandarjog commented on #5578
In 0.7 you get the split only if you directly use helm to install istio.

In the original issue. Istio-mixer is actually up and running.

[2018-05-15 11:27] sdake commented on #5600
Thanks for the information related to the public IP allocation.  I wasn't aware that was an issue, but have noticed it definately.  This raises   the question how do we ship that envoyv2 transition target, as the default make target (istio-auth.yaml) includes both ingress and ingressgateway.

[2018-05-15 11:29] sdake commented on #5600
@vadimeisenbergibm thanks for pointing out the updated documentation.  I will give it a go in a few hours after my morning routine and respond on this bug if this isn't busted.  I guess I should have looked in preliminary.  My bad.  Still concerned about the dual ingress commentary.  Not sure what to do about that issue.

Cheers
-steve

[2018-05-15 12:03] vadimeisenbergibm commented on #5600
@sdake The simplest thing to do currently is to remove _ingress_ from your Istio yamls and not to deploy it. Either manually, or by running `make generate_yaml-envoyv2_transition_loadbalancer_ingressgateway` or by helm `--set ingress.enabled=false` option.

[2018-05-15 12:10] tommyJimmy87 commented on #4524
So there's not news or workaround about this ?

[2018-05-15 12:42] owenhaynes commented on #5288
I agree it isn't convenient at all when google uses many IP address for theses services

[2018-05-15 12:52] gyliu513 opened #5604 "isitoctl docs need to include VirtualService examples"
istioctl has no help info for `VirtualService`.

[code]

[2018-05-15 13:17] ymesika commented on #4766
Fixed by #5406
/close

[2018-05-15 13:17] istio-testing commented on #4766
@ymesika: The close prow plugin is deprecated, please migrate to the lifecycle plugin before April 2018

<details>

In response to [this](https://github.com/istio/istio/issues/4766#issuecomment-389162914):

Instructions for interacting with me using PR comments are available [here](https://git.k8s.io/community/contributors/devel/pull-requests.md).  If you have questions or suggestions related to m

[2018-05-15 13:17] #4766 closed

[2018-05-15 13:43] mikedoug commented on #5588
A periodic refresh is great and all, but it would seem like you would want istio to recover sooner than 60 seconds when instances change.

I posted about a bug I was seeing yesterday: https://groups.google.com/forum/#!topic/istio-users/DdRgV9YhH3o.  I had four pods (hello) which communicated with the (counter102) pod through the counter service; ignore the counter pod since routingrules make it no

[2018-05-15 14:48] sbezverk opened #5605 "Investigate StopChannel for dynamically created controllers"
Currently pilot creates dynamic controllers watching remote clusters with StopChannel which is not plugged anywhere, need a solution to make use of it.

[2018-05-15 14:49] sbezverk opened #5606 "Add code for Delete Controller logic"
Currently Pilot only adds new controller when new remote cluster is discovered. Need to add `Delete` logic.

[2018-05-15 15:24] linsun opened #5608 "race test is failing everywhere"
and didn't generate a report either... we can't mark it as required when none of the PR can pass the test.

cc @mandarjog @xiaolanz @hklai

[2018-05-15 15:25] linsun commented on #5608
sample PR https://github.com/istio/istio/pull/5597

[2018-05-15 15:28] linsun commented on #5608
FYI, i discussed this on #oncall and #test-and-release, and followed the process to disable the race test as required.

[2018-05-15 16:32] douglas-reid commented on #1005
@cmluciano i believe those logs are harmless (or, at least they were).

[2018-05-15 18:43] kyessenov opened #5611 "helm: pull istio mesh settings out of component charts"
There are a bunch of settings that require more than one component in helm charts (mixer dest rules, mixer addon settings, etc). For historic reasons, these settings are bucketed per component, which is problematic for partial installs if the other required components are not selected at installation.

We should pull those settings to top-level templates and condition on multiple `enabled` clauses

[2018-05-15 18:48] ldemailly commented on #5288
I was on the phone earlier but here is the link
https://github.com/istio/admin-sites/blob/master/fortio/fortio.yaml#L5-L14

[2018-05-15 20:05] danehans commented on #5153
Closes in favor of a453938

[2018-05-15 20:05] #5153 closed

[2018-05-15 20:14] owenhaynes commented on #5288
This only works if you have control of the code calling GCS, if using the generated api code provided by google this does not work

[2018-05-15 21:13] thelinuxer commented on #5288
I was having this problem with boto library and adding the ips to the injection istio-init configmap fixed it. Here's an excerpt of the configmap

[code]

This was the only way it worked for me while using boto. I think egress rules worked properly with default google cloud client libraries but I am not sure.

[2018-05-15 23:05] ldemailly commented on #5288
yes indeed

but this is improved in 0.8 I believe though I haven't followed the latest

[2018-05-15 23:27] hklai commented on #5534
Since https://github.com/istio/istio/pull/5541 is merged, should we close this now?
Also I suppose this is not release blocking anymore, so I am removing the blocking label.

[2018-05-15 23:31] sbezverk commented on #5534
@hklai yep, good to close it

[2018-05-15 23:31] gyliu513 commented on #5534
@hklai , sure, we can close this one, but there are still some issues need to be clean up, such as update deleteMember etc. Will open separate issues to handle this

[2018-05-15 23:31] #5534 closed

[2018-05-15 23:35] hklai commented on #5600
@sdake @vadimeisenbergibm
Any update? Is this still release blocking?

[2018-05-15 23:58] nixgadget commented on #5332
So what causes this issue ? I do am getting it when running `make generate_yaml`

[2018-05-16 00:15] nixgadget commented on #5332
So for some reason i had to manually run `mkdir -p $GO_PROJECTS/out/darwin_amd64/release`.

[2018-05-16 01:01] costinm opened #5628 "Upgrade to istio 0.8 leaves istio-ca 0.7 running"
Doesn't block the RC0 - workaround is to delete it manually, but we should fix it or have a script or other tools to fix ( but ideally fix it in the automated script, for example by creating an empty deployment with the same name )

[2018-05-16 01:02] costinm commented on #5628
Also istio-mixer is left running

[2018-05-16 01:04] gyliu513 opened #5629 "Istio does not remove cluster dynamically when remove a cluster secret"
This is a follow up issue for https://github.com/istio/istio/issues/5534 .

After a remote cluster was registered via secret, then even after we delete the remote cluster secret, we can still access the services in the remote cluster.

The [deleteMemberCluster](https://github.com/istio/istio/blob/release-0.8/pilot/pkg/config/clusterregistry/secretcontroller.go#L257-L272) should be updated to remov

[2018-05-16 01:06] gyliu513 commented on #5604
Is this in the release scope of 0.8? @linsun

[2018-05-16 01:09] linsun commented on #5604
yes would be nice to have for 0.8 if we can get a PR in.  Note:  RC has been cut but my guess is we'll have more RCs.

[2018-05-16 01:42] c-knowles commented on #3867
Trying to configure this also. I found https://preliminary.istio.io/blog/2018/aws-nlb.html

[2018-05-16 02:49] linsun commented on #5604
cc @esnible who may have some bandwidth to help this.

[2018-05-16 08:16] ymesika commented on #5604
What kind of help is missing? There are several examples which obviously don't include all type of resources and the `virtualservice` is listed in the list of resource types that one can get.

If you could guide me what's missing I can assist here.

[2018-05-16 10:52] markns commented on #2628
@ZhiminXiang did you manage to find a work-around for this issue? I believe I have the same problem, as described here: https://groups.google.com/forum/#!topic/istio-users/2nn5GasL46Q

[2018-05-16 12:00] mydoal commented on #2468
Are the TCP Routing rules implemented via the VirtualService already in prelim 0.8?

[2018-05-16 12:09] sdake commented on #5600
closing - found a doc workaround.  thanks.

[2018-05-16 12:09] #5600 closed

[2018-05-16 12:17] sdake opened #5633 "Upgrade fails on application of CRs from 0.7.1 to 0.8"
to reproduce (kubernetes 1.10.2 + metallb 0.3.1 configured with /31 network on baremetal):
[code]

Results:
mixer-create-crd job fails spews bunch of failures:
[code]

inspecting one of these shows:

[code]

[2018-05-16 12:18] sdake commented on #5633
@costinm here are results of upgrade - not sure what the precise issue is (besides rbac related).

[2018-05-16 12:26] sbezverk commented on #5633
@sdake You need to add `patch` to `istio-mixer-service-account` for CRD objects in namespace istio-system

[2018-05-16 12:27] sdake commented on #5633
thanks @sbezverk i'll test and work out a patch.

[2018-05-16 14:20] sdake opened #5638 "mixer not present after upgrade from 0.7.1 to 0.8.0 daily"
to reproduce (kubernetes 1.10.2 + metallb 0.3.1 configured with /31 network on baremetal).  You will also need to cherrypick: https://github.com/istio/istio/pull/5635

[code]

istio-proxy complains:
[code]

[2018-05-16 14:34] sdake commented on #5638
The complaint about mixer.istio-system is that mixer is no longer present as it was split into 3 different services.  I think this may not be blocking the release - as I may need more steps to perform a full upgrade of the dataplane as well.

I had thought an upgrade of the control plane would just work with the existing sidecars but maybe that was a bad assumption.

[2018-05-16 14:41] sdake commented on #5638
working from this document: https://docs.google.com/document/d/1oxrlCgL7R0b_r4aIIFyBne2IxN1Lof3edo9YPy6h2Yk/edit

[2018-05-16 14:51] cmluciano opened #5639 "Expose removeHeaders option in VirtualService"
We currently allow appendHeaders in [VirtualService](https://github.com/istio/api/blob/master/networking/v1alpha3/virtual_service.pb.go#L387-L389) but we do not allow the inverse removeHeaders.

removeHeaders requires implementing [Envoy strip headers](https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/route/route.proto.html?highlight=strip%20headers#envoy-api-msg-route-routeaction).

Use-C

[2018-05-16 14:57] mandarjog commented on #5638
With an upgrade old mixer should stick around. Old side cars will continue to use them. New sidecars should use new mixer(s).

Which istio proxy is complaining , old or new?

[2018-05-16 15:00] linsun commented on #5604
i think Guang is asking if we could provide equivalent support for istioctl get, similar as kubectl get below:

[code]

[2018-05-16 15:01] linsun commented on #5604
And I agree with Ed, at the minimum, we need to update the help to return the new network types. :)

[2018-05-16 15:31] esnible commented on #5604
@linsun We nearly have that support.  `istioctl get` currently shows ```Error: specify the type of resource to get. Types are routerule, egressrule, destinationpolicy, httpapispec, httpapispecbinding, quotaspec, quotaspecbinding, servicerole, servicerolebinding, virtualservice, gateway, serviceentry, destinationrule, policy```

I will soon have a PR for this work item.  I am testing it now.

[2018-05-16 15:39] sdake commented on #5638
mixer is not in the deployment after the above workflow.

[2018-05-16 15:40] sdake commented on #5638
I followed step 2 of the above upgrade document and  received following errors:
[code]

[code]

[2018-05-16 16:50] sdake opened #5641 "istioctl appears to generate incorrect patch content for a _DATA_ plane upgrade"
Continued from here: https://github.com/istio/istio/issues/5638#issuecomment-389565862

I followed step 2 of the above upgrade document (upgrade the control plane) using this workflow:

[code]

[code]

[2018-05-16 17:03] cmluciano commented on #4184
Closing for now since this seems like a feature that most use the web-ui for

[2018-05-16 17:03] #4184 closed

[2018-05-16 17:05] cmluciano commented on #4866
This feels like the same issue that https://github.com/istio/istio/issues/4500 has. The debug flag explicitly allows for privs to be escalated thus not requiring this functionality.

Closing in favor of tracking in #4500

[2018-05-16 17:07] cmluciano commented on #4500
@ayj @costinm What do you think we should do with this? Is this an issue that only affects SeLinux/AppArmor usage?

[2018-05-16 17:11] cmluciano opened #5642 "pilot: enable e2e test for validating HTTPS_Gateway with v1alpha3"
We currently [mount in certificates for the HTTPs section of Gateways](https://github.com/istio/istio/blob/release-0.8/tests/e2e/tests/pilot/testdata/v1alpha3/ingressgateway.yaml#L26-L31) , but only test [HTTP](https://github.com/istio/istio/blob/master/tests/e2e/tests/pilot/ingressgateway_test.go#L34-L68)

[2018-05-16 17:12] cmluciano commented on #4566
Closing based on comments in https://github.com/istio/istio/pull/4558#issuecomment-382922754

[2018-05-16 17:12] #4566 closed

[2018-05-16 17:13] cmluciano commented on #4154
Should this issue remain open if specifying the GOOS is similar to a protection mechanism?

[2018-05-16 17:14] ozevren opened #5643 "Add Ctrlz Support to Pilot"
This Issue is to track the plumbing of Ctrlz support in Pilot.

We expect this to be very helpful with debuggability of Pilot. As such it is desirable to have it for 0.8. This is comprised of a multiple set of steps/PRs:

- [x] Implement basic Ctrlz support in Pilot: This exposes the standard Ctrlz interface.
- [x] Add bind-to-any address support to Ctrlz (currently it is only 127.0.0.1).
- [ ] Ad

[2018-05-16 17:28] ayj commented on #5641
istioctl kube-inject isn't idempotent. I believe `ORIGINAL_DEPLOYMENT_YAML` in https://docs.google.com/document/d/1oxrlCgL7R0b_r4aIIFyBne2IxN1Lof3edo9YPy6h2Yk refers to the original YAML before the sidecar was added.

cc @yusuoh. Related https://github.com/istio/istio/issues/3738

[2018-05-16 17:45] sgandon commented on #1985
I have the same issue on docker for mac, any idea why it fails ?

[2018-05-16 17:57] incfly commented on #5059
Here's the summary of the status and the rest of the work (will keep update this post):

- [DONE, @diemtvu ] **Istio auth filter can allows traffic without certificate to pass through for `PERMISSIVE` mode**
- [WIP @incfly] **Remove the inferences of the authn policy and only rely on DR**, the PR is ready but we need to wait for 0.8 cut finishes and then merged it into both master and 0.8.1
- [WIP

[2018-05-16 18:13] esnible commented on #5538
For "legacy" types, and types with no special listing format, I recommend two changes.

Show "AGE" like _kubectl_ does.  (I am almost ready with code for this.)
Ensure there is a space between columns.  Currently we show something like this:

[code]

It is difficult to parse that output in a script because of the lack of whitespace between "bookinfo-gateway" and Gateway.

[2018-05-16 18:46] yangminzhu opened #5646 "Use existing CRs in the pilot config validate function"
Currently the config validation is done by the Validate function specified in ProtoSchema: https://github.com/istio/istio/blob/26262e8a1d89c4cd17f52db645d91ce9d9918e6e/pilot/pkg/model/config.go#L210

The Validate function only accepts the config proto as argument which limits the ability of the validation. In order to have a deep semantic validation, it's necessary to fetch the existing CRs so tha