[2017-08-16 23:05] ldemailly commented on #419
Issue moved to [istio/auth #222](https://github.com/istio/auth/issues/222) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-16 23:05] #419 closed

[2017-08-16 23:25] ldemailly commented on #422
the bigger issue here is auth/mtls which is probably why you can't talk to k8s api server if you turned auth on. Closing for  https://github.com/istio/pilot/issues/1015

[2017-08-16 23:25] #422 closed

[2017-08-16 23:26] ldemailly commented on #423
closing this now - please reopen (in https://github.com/istio/issues/issues ) if needed

[2017-08-16 23:26] #423 closed

[2017-08-16 23:26] #425 closed

[2017-08-16 23:33] ldemailly commented on #428
not sure if this is still an issue or not, @kyessenov would know as permissions changed recently

[2017-08-16 23:34] ldemailly commented on #432
please reopen in https://github.com/istio/issues/issues if it's still a problem after you checked if your cluster has at least 4 nodes etc

[2017-08-16 23:34] #432 closed

[2017-08-16 23:36] ldemailly commented on #435
access to pilot doesn't go through ingress so that seems odd

if you have a simple repro sequence and specific details that would be appreciated,
can you file those in
https://github.com/istio/issues/issues

the soon to come 0.2 release should also make things a lot smoother than 0.1.6 was

(will close this in the meantime)

[2017-08-16 23:36] #435 closed

[2017-08-16 23:37] ldemailly commented on #444
yes, from 0.2+ it will all be in through k8s api server and our galley layer

[2017-08-16 23:37] #444 closed

[2017-08-16 23:38] ldemailly commented on #446
can you say why ? and make the change ?

[2017-08-16 23:39] ldemailly commented on #449
going to close this assuming you resolved it since, if not please open a new issue in
https://github.com/istio/issues/issues

[2017-08-16 23:39] #449 closed

[2017-08-16 23:43] ldemailly commented on #459
this would be good for "go get"able repos but I don't know when a good point would be to rewrite history - maybe during the holidays

maybe setting up a sync to istio-releases would not be a bad solution

[2017-08-16 23:45] ldemailly commented on #446
duplicate of #466

[2017-08-16 23:45] #446 closed

[2017-08-16 23:50] ldemailly commented on #474
in theory we could support that deployment model but we would need to rework the networking and it has multi-tenancy like issues (where 1 pod may affect the other pods through the shared side car)

I'm tempted to close this but maybe we can leave it open as documentation of "why not"

[2017-08-16 23:55] ldemailly commented on #483
That looks like a version mismatch - can you try with just 0.2.0 ? or wait a bit for 0.2.1

please reopen in https://github.com/istio/issues/issues with more details if it's still an issue

thanks !

[2017-08-16 23:55] #483 closed

[2017-08-17 00:01] ldemailly commented on #491
agreed. 1&2 should happen automatically in 0.2 when we secure all svcs by default

[2017-08-17 00:01] #491 closed

[2017-08-17 00:06] ldemailly commented on #501
fixed in https://github.com/istio/istio/pull/184

[2017-08-17 00:06] #501 closed

[2017-08-17 00:08] ldemailly commented on #505
it's fixed I think - now gcr.io/istio-testing/grafana:3561e297ceb365ba990cbf376d99713b0a0add69

[2017-08-17 00:08] #505 closed

[2017-08-17 00:11] ldemailly commented on #506
Same as https://github.com/istio/pilot/issues/1015
(not sure we do have time to address the full solution but the minimal is k8 api server access)

[2017-08-17 00:13] ldemailly commented on #521
looks like an auth/rbac problem possibly - is that using istio 0.1.6 with k8s 1.6.x or 1.7.x ?

if still an issue please reopen under
https://github.com/istio/issues/issues

[2017-08-17 00:13] #521 closed

[2017-08-17 00:14] kyessenov commented on #505
I don't know where grafana comes from.

[2017-08-17 00:18] ldemailly commented on #527
fixed (I believe)

[2017-08-17 00:18] #527 closed

[2017-08-17 00:18] #540 closed

[2017-08-17 00:18] ldemailly commented on #540
Issue moved to [istio/istio.github.io #433](https://github.com/istio/istio.github.io/issues/433) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 00:20] ldemailly commented on #548
yes @maruina (is that an issue for you ?)

[2017-08-17 00:23] ldemailly commented on #552
I see commits but no PR ?

[2017-08-17 00:30] ldemailly commented on #557
similar to target/destination issue? we should get all the renames in before 0.2 ?

[2017-08-17 00:33] ldemailly commented on #568
it's very important for the distribution tar directory to include the version, so you can go back and forth between versions and not accidentally clobber one version's file with another.

I don't see why whoever consumes the .tar.gz can't move the binary ? the

is just a suggestion, you can also just copy it in your path

going to close this but do reopen if I misunderstood your point
(and / or op

[2017-08-17 00:33] #568 closed

[2017-08-17 00:53] sakshigoel12 commented on #488
Is this for 0.2 or 0.3?

[2017-08-17 01:45] sakshigoel12 commented on #396
Who is the owner for this epic?

[2017-08-17 01:50] nlandolfi commented on #501
nice!

On Wed, Aug 16, 2017 at 5:06 PM Laurent Demailly <notifications@github.com>
wrote:

[2017-08-17 02:04] gyliu513 commented on #466
@ldemailly any comments for the nodeport support here? Just want to simplify the access mode for those services.

[2017-08-17 02:28] sebastienvas commented on #537
This has been resolved by Kuat and Doug. Plus increasing IP on GCP.

[2017-08-17 02:30] #538 closed

[2017-08-17 02:31] sebastienvas commented on #393
This was done when moving mixer, auth and pilot to Prow

[2017-08-17 02:31] #393 closed

[2017-08-17 02:35] rshriram commented on #506
@ldemailly those are not the same. This particular issue is about accessing headless services via pod IPs, without out. Its a bug in Pilot. @ijsnellf is working on it.

[2017-08-17 02:38] rshriram commented on #466
2 options: expose these services via Istio ingress or use node port. Istio
ingress might be more flexible. But if you want node port, you could easily
add one to the addon file right?

On Wed, Aug 16, 2017 at 10:04 PM Guang Ya Liu <notifications@github.com>
wrote:

--

~shriram

[2017-08-17 02:55] rshriram commented on #557
please move to istio/api

[2017-08-17 02:55] #557 closed

[2017-08-17 03:01] rshriram commented on #263
done

[2017-08-17 03:04] rshriram commented on #268
completed long time ago

[2017-08-17 03:04] #268 closed

[2017-08-17 03:07] #141 closed

[2017-08-17 03:08] rshriram commented on #160
done

[2017-08-17 03:08] #160 closed

[2017-08-17 03:13] rshriram commented on #384
we don't have health checks for pilot and mixer.. need to add one.. (cc @kyessenov @ijsnellf @GregHanson @douglas-reid @ZackButcher ). As for resource limits, neither of them are tremendous CPU/memory hogs. That said, we haven't profiled it enough to identify the exact limits.

[2017-08-17 03:23] gyliu513 commented on #466
@rshriram yes, we can simply update the addon file to enable `NodePort`, but how about set the default as `NodePort` and the end user can also create ingress as they want.

[2017-08-17 03:49] sakshigoel12 commented on #557
rshriram@ - if you are using zenhub there is an option to move issues between repos on the right pane (last option). It would be easier to not close and reopen issues.

[2017-08-17 03:52] sakshigoel12 commented on #298
rshriram@ the e2e integration testing for 0.2 is not complete I think. Why have we closed issues related to this?

[2017-08-17 04:19] rshriram commented on #557
I was actually looking for such a feature! will look out for that next time. Thanks

[2017-08-17 04:22] rshriram commented on #298
sorry I thought this was talking about docs (given the date when this was created). I also thought that @douglas-reid added bunch of e2e checks related to mixer, two months ago. Please do reopen if thats not the case. I did some cleaning of issues, based on how long they have been around and any activity associated with them/whatever I remember. If I closed any prematurely, please feel free to reo

[2017-08-17 07:20] vadimeisenbergibm commented on #552
I am still working on it. Please note my convention - I add a string `istio/istio#<issue number>` to every commit, so every commit is linked to the issue even before a PR is submitted, and if not squashed, continues to point to an issue. So every commit always points to some issue - either not squashed, or squashed as part of a PR, in the PR's comment.

[2017-08-17 08:19] maruina commented on #548
We're still on Kubernetes 1.5.6, we'll make sure to upgrade.

[2017-08-17 08:33] rainard opened #572 "system:serviceaccount:default:istio-pilot-service-account" cannot create customresourcedefinitions.apiextensions.k8s.io at the cluster scope"
when I do  "kubectl apply -f istio.yaml",It cann't work .How can I fix it

[code]

[code]

[2017-08-17 11:46] dougbtv commented on #364
Thanks for the compliment, Laurent! I'll give it a whirl with 0.2, also
thanks for the pointer to the proper repo to file issues.

On Wed, Aug 16, 2017, 6:49 PM Laurent Demailly <notifications@github.com>
wrote:

[2017-08-17 16:00] ayj commented on #548
You'll also need dynamic admission control for the transparent proxy auto-injection and CRD validation hooks. These are alpha features can be enabled with feature flags (see below).

* [enable-initializers-alpha-feature](https://kubernetes.io/docs/admin/extensible-admission-controllers/#enable-initializers-alpha-feature)
* [enable-external-admission-webhooks](https://kubernetes.io/docs/admin/exten

[2017-08-17 16:13] saumoh opened #573 "Bookinfo app add mysql db access to ratings service"
It was decided in https://github.com/istio/istio/pull/473, that we'd first add mysql db access to the ratings service in the bookinfo app.
Opening this issue to track this requirement.

[2017-08-17 17:46] akihikokuroda commented on #491
Do the trace records generate by the proxy itself use the Istio Auth? Are they loop back to the proxy and the istio Auth is applied to them?   I just want to confirm.

[2017-08-17 18:12] sakshigoel12 commented on #340
Please update milestone and assignee

[2017-08-17 18:15] sakshigoel12 commented on #339
@andraxylia please could you update this issue

[2017-08-17 18:37] ZackButcher commented on #384
I filed https://github.com/istio/mixer/issues/1095 to track this in Mixer.

[2017-08-17 19:08] sakshigoel12 commented on #487
Please update Milestone

[2017-08-17 19:09] sakshigoel12 commented on #341
Please update Milestone and assignee

[2017-08-17 19:54] #522 closed

[2017-08-17 19:54] kyessenov commented on #522
Issue moved to [istio/pilot #1054](https://github.com/istio/pilot/issues/1054) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-17 20:33] ldemailly commented on #491
sorry I was mistaken, only 2) is built in yet, we have plans to funnel zipkin through mixer which would be closer to 1. but it's only plans (possibly 0.3)

we can reopen for 0.3 tracking if you want

[2017-08-17 20:38] ldemailly commented on #552
Thanks for the explanation - I think that may be a bit floody/verbose but it's ok if it's your strong preference (and for an issue where only you is subscribed )

[2017-08-17 20:40] ldemailly commented on #557
![screen shot 2017-08-17 at 1 39 54 pm](https://user-images.githubusercontent.com/3664595/29432740-9fd81a8c-8351-11e7-9d24-5ee9edb89963.png)

[2017-08-17 20:44] ldemailly commented on #263
it's not done, the xls hasn't been updated since Aug - @sakshigoel12 is going to make it a real rotation (including working with @linsun for the IBM ones)

ps: don't close issues I just updated without asking ;-)

[2017-08-17 20:45] ldemailly commented on #506
afaik the bug is we intercept everything but as long as we fix it's great

[2017-08-17 20:48] ldemailly commented on #488
0.2 which is why it's in the epic (it's the VM itself bootstrap)
issues that are inside an epic "inherit" the issue's milestone (unfortunately not in the UI)

[2017-08-17 20:50] ldemailly commented on #505
@kyessenov I closed the issue so it doesn't matter who is assigned,  but I had assigned it to you because git blame showed you were the one that updated the sha

[2017-08-17 20:51] ldemailly commented on #426
Email thread: https://groups.google.com/forum/#!topic/istio-core/M9Yn3BvrpBw

[2017-08-17 21:19] ldemailly commented on #487
@sakshigoel12 I didn't update the tasks that are already in an epic (in zenhub you can click "issues without epic" to select those, and there are now 0 without a milestone vs > 80 yesterday)

but I can also go through those, it's a bit busy work though (there is no multi-update I could find)

[2017-08-17 21:23] ldemailly commented on #572
Thx for trying istio out, can you file your issue in
https://github.com/istio/issues/issues
also indicate the exact versions you are using ?

this looks like an rbac/rule issue we think we fixed in latest code

[2017-08-17 21:25] ldemailly commented on #573
we do want to add mysql as a rawvm demo soon but otherwise I suppose this is for 0.3 ?

[2017-08-17 21:39] ldemailly opened #576 "CI should keep mac builds working"
Mac build regularly breaks, it'd be good to keep it working by testing it continuously

it's very important/useful for community adoption and dev productivity

[2017-08-17 21:44] akihikokuroda commented on #491
Thanks for comfirming.  Yes, I want this to be stay open.

[2017-08-17 22:21] ldemailly commented on #372
dup of #371

[2017-08-17 22:21] #372 closed

[2017-08-17 22:25] ldemailly commented on #479
it's almost there thanks to prow but not quite always working yet nor on for all repos

[2017-08-17 22:34] rshriram commented on #573
For 0.1.
MySQL is in cluster tcp service in this example. We also want to pivot the
same example to a egress service (e.g. hosted MySQL in cloud or on prem,
outside istio). We have had support since 0.1 but didn't create examples.

--

~shriram

[2017-08-17 22:36] rshriram commented on #491
Mixer already supports zipkin. And collects Envoy traces. Just not
propagating yet. Should be available as part of 0.2 release.
@zackbutcher

~shriram

[2017-08-17 22:42] ZackButcher commented on #491
Today Mixer does not ingest any trace data - that'll be coming in the future (likely 0.3, though we haven't planned that cycle in full yet). It just sends Zipkin traces of its own execution to the same zipkin collector that Envoy is using. We also have a proof of concept adapter that synthesizes spans for applications (for cases where applications don't propagate headers back out to Envoy), though

[2017-08-17 22:43] ldemailly commented on #491
there are 2 different zipkins here (well 3) - @akihikokuroda was asking about envoy generated traces which I checked with doug are not yet funneled through mixer (separate from mixer's own trace)

[2017-08-17 23:09] Brian-Xincheng-Zhang commented on #480
Diem Wu will help (he hasn't registered in github yet)

[2017-08-17 23:27] andraxylia commented on #339
On track.

[2017-08-17 23:56] sakshigoel12 opened #577 "test"
**Is this a BUG or FEATURE REQUEST?:** test

**Did you review existing epics or issues to identify if this already being worked on?:**

**Bug:**
**What happened**:

**What you expected to happen:**

**How to reproduce it (as minimally and precisely as possible):**

**Feature Request:**
**Describe the feature:**

[2017-08-18 01:40] #577 closed

[2017-08-18 05:23] sebastienvas commented on #480
I think this is resolved now. You can run prow/pilot-e2e-smoketest.sh from
pilot repo.

On Aug 17, 2017 4:09 PM, "Brian-Xincheng-Zhang" <notifications@github.com>
wrote:

Diem Wu will help (he hasn't registered in github yet)

—
You are receiving this because you were assigned.

Reply to this email directly, view it on GitHub
<https://github.com/istio/istio/issues/480#issuecomment-323218073>, or m

[2017-08-18 17:31] sebastienvas commented on #426
I ll enable the possibility of creating optimized build on auth, pilot and mixer. We'll start by using debug and we ll move to optimized as we get stable.

[2017-08-18 17:41] sebastienvas commented on #426
cc @rvkubiak

[2017-08-18 17:43] ldemailly commented on #426
it would be really good to produce both set of images (for perf testing for instance even if not released)

[2017-08-18 17:48] sebastienvas commented on #426
This require a lot of changes as we need a way to use different names for each set of images, and also update kube-inject to know which image to pick. in the meantime, for perf testing, user can build their own image and push them to their own registry.

[2017-08-18 18:04] linsun opened #578 "e2e failed at create namespace error"
I've hit this multiple times... it seems we are requesting the namespace to be deleted, then we immediate create the namespace which would fail.

I0818 17:41:03.719739    3516 mixer_test.go:172] Cleaning up mixer proxy
I0818 17:41:03.719814    3516 istioctl.go:89] Cleaning up istioctl
I0818 17:41:03.719821    3516 kubernetes.go:137] Cleaning up kubeInfo
I0818 17:41:03.719836    3516 commonUtils.go

[2017-08-18 18:32] ayj commented on #426
kube-inject changes possibly addressed by issue https://github.com/istio/pilot/issues/1062

[2017-08-18 20:49] yutongz commented on #578
I think it's normal since when you delete a namespace, kubernetes needs time to clean up everything resource under this namespace. Since in tests we create many resource e.g. ingress, deployment, it needs some time to actually release this namespace for future use.

[2017-08-18 20:56] ldemailly opened #580 "e2e test for all the tasks"
During the 0.1 launch we decided we should at least have automated coverage for every task we describe on the website https://istio.io/docs/tasks/ so those stay working at all times

https://github.com/istio/istio/issues?utf8=%E2%9C%93&q=is%3Aissue%20%22create%20e2e%20for%20Task%22%20is%3Aclosed%20

was the individual list. Some tests have been added since but it's unclear they all are

We should

[2017-08-18 21:03] andraxylia commented on #572
I have the same issue, there was another recent change in the pilot code that is not covered by the latest rbac rules.

[2017-08-18 21:18] andraxylia commented on #572
The workaround is to give the pilot service account cluster-admin role:

kubectl create clusterrolebinding cluster-admin-binding-2   --clusterrole=cluster-admin   --user=system:serviceaccount:default:istio-pilot-service-account

If deploying istio in a different namespace than "default", replace "default" in "system:serviceaccount:default:istio-pilot-service-account" with the actual namespace.

[2017-08-18 22:02] andraxylia commented on #572
What k8s version do you have? I started getting this with 1.7.3. although all RBAC rules are in place.

[2017-08-18 22:23] #480 closed

[2017-08-18 22:30] sebastienvas commented on #576
Why P0 ? until Apple provides a VM to deal with this there is no way to do this on GCP. According the @rshriram Travis might be able to do this.

Also please define mac build. If bazel build are failing, please file a bug in bazel, for the rest, we need to list all the script that user need to run.

[2017-08-18 22:32] #478 closed

[2017-08-18 22:32] #401 closed

[2017-08-18 22:33] ldemailly commented on #576
I think it's P0 for community support to be able to develop istio on a mac

And it's maybe dependant on a build that doesn't involve many steps (re defining "mac build")

@thisisnotapril can you run a survey for the community to confirm my impression that mac is a primary dev environment we should support ?

[2017-08-18 22:34] #186 closed

[2017-08-18 23:14] costinm opened #582 "Pilot to generate 'http_proxy' routes"
Tested with a manual config:

curl -v  -x localhost:15002 http://myservice.default.svc/

Config to generate should be a variant of:

Additional listener:
  {
      "address": "tcp://0.0.0.0:15002",
      "use_original_dst": true,
      "filters": [
        {
          "type": "read",
          "name": "http_connection_manager",
          "config": {
            "codec_type": "auto",
            "s

[2017-08-18 23:15] costinm commented on #582
Btw - for localhost testing, need to create a 'rawvm' dummy service, and an endpoint with the IP of the localhost.

[2017-08-18 23:21] kyessenov commented on #582
Issue moved to [istio/pilot #1067](https://github.com/istio/pilot/issues/1067) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-18 23:21] #582 closed

[2017-08-19 00:01] ldemailly commented on #426
the highest priority are:
- [ ] proxy images as that's where most of the performance gain is (c++ opt)
- [ ] istioctl kube-inject (and the new auto inject) - so pilot - have a way to select the proxy image such as the default `istioctl kube-inject` does either proxy_debug or proxy_opt depending if itself is a opt or debug release

[2017-08-19 02:44] ldemailly commented on #401
Add a link for reference?

[2017-08-19 02:47] ldemailly commented on #396
Proxy is still jenkins

[2017-08-19 12:06] linsun commented on #401
Co-ask: where is the process? :)

[2017-08-19 16:27] ldemailly commented on #401
I think it is istio/istio/release/ but seb can confirm

[2017-08-19 16:30] sebastienvas commented on #401
Yes Sorry https://github.com/istio/istio/tree/master/release. We'll update it as we automate it.

[2017-08-19 16:38] sebastienvas commented on #396
I added the remaining one here, but there mark as help wanted. If people would like to help and get familiar with this, that would be great.

[2017-08-20 19:12] owenmorgan opened #585 "ReWrite target annotation not working"
Hello, im testing out Istio, but i'm having issues with rewriting requests from ingress.

e.g.

I have Istio running from the Helm chart, all default configuration.

I have a demo application, which accepts requests from root.. so locally i can

`docker run -p 80:80 my.registry.com/one-demo
`
[code]
I have this application running on my k8s, with an ingress record using the rewrite-target to /
[co

[2017-08-21 14:31] linsun commented on #578
right, the kubectl req is async request and it would return as soon as it is receiving the req.  I'm putting some change to ensure namespace is removed before we continue else my e2e test just failed.   Curious why you didn't hit this @yutongz?

[2017-08-21 22:51] sebastienvas commented on #426
proxy is already -c opt , and proxy_debug is -c deb as defined https://github.com/istio/proxy/blob/master/tools/bazel.rc#L49.

I am not sure who is doing item 2 - So assigning this to Laurent

[2017-08-22 03:29] ldemailly commented on #426
I see
[code]
so assuming :release is what we use for the proxy image, yes, it's done but where is the -c dbg part ?

also, are we deciding the images will all be `foo` and `foo_debug` ? Consistently?

[2017-08-22 07:36] maxkondr opened #590 "Can't install istio chart with rbac enabled"
Hello,
I am trying to install istio chart as described [here](https://github.com/kubernetes/charts/tree/master/incubator/istio#installing-the-chart)

I pass additional param

`helm install incubator/istio --set rbac.install=true` and get following error:

`Error: release pugnacious-tarsier failed: clusterroles.rbac.authorization.k8s.io "pugnacious-tarsier-istio-sidecar" is forbidden: attempt to gr

[2017-08-22 08:17] vadimeisenbergibm commented on #552
@ldemailly It is not my strong preference, so if this practice is discouraged by the Istio developers community, I am OK to stop using it.
Please note that with an issue you create it first and then start working on it. With a PR, you start working and then submit it after the work is done. So with an issue, you announce to others that there is an issue, you work on it, some details on the issue,

[2017-08-22 08:58] gyliu513 commented on #548
I think we need 1.7.3+ Kubernetes as there is a bug of kubelet here https://github.com/kubernetes/kubernetes/issues/48703 which will cause quite a lot of logs in kubelet.

[2017-08-22 12:01] rshriram commented on #548
On Tue, Aug 22, 2017 at 4:59 AM Guang Ya Liu <notifications@github.com>
wrote:

@linsun FYI. Need to upgrade to right version

—

--

~shriram

[2017-08-22 14:31] gyliu513 commented on #572
@andraxylia we may need to add `cdr` to the role of isto-pilot here https://github.com/istio/istio/blob/master/install/kubernetes/istio-rbac-beta.yaml#L21 , but I did not found where we defined the `cdr`, can you point this out? Thanks.

[2017-08-22 15:31] andraxylia commented on #548
All doc issues should be moved to istio/istio.github.io.

[2017-08-22 15:33] andraxylia commented on #552
I actually like this, I was not aware this is possible.

[2017-08-22 15:35] andraxylia commented on #552
It is not discouraged, we just did not encounter it in Istio. I agree with Laurent that it gets a bit verbose, but it is nice to know there is progress made on it.

[2017-08-22 15:38] andraxylia commented on #590
Can it be your user does not have admin privileges to create those roles? k8s does not allow escalation of privileges. Could you please try:

kubectl create clusterrolebinding myname-cluster-admin-binding --clusterrole=cluster-admin --user=myname@example.org

[2017-08-22 16:18] andraxylia commented on #572
The CDR permissions are defined here:

https://github.com/istio/istio/blob/master/install/kubernetes/istio-rbac-beta.yaml#L15

[2017-08-22 16:20] sebastienvas commented on #426
https://github.com/istio/proxy/blob/master/script/release-binary#L51

[2017-08-22 16:23] kyessenov commented on #585
Hi, we haven't added support for rewriting paths using this annotation for ingresses directly. What you could do is use a route rule to the backend service and add a `rewrite` action (see example here https://github.com/istio/api/blob/master/proxy/v1/config/route_rule.proto#L265)

[2017-08-22 16:25] andraxylia commented on #572
Can you also try the command below), as described here, and let me know if it fixes the problem?

(https://github.com/kelseyhightower/istio-ingress-tutorial/blob/master/docs/03-kubernetes-infrastructure.md)

kubectl create clusterrolebinding cluster-admin-binding \
  --clusterrole=cluster-admin \
  --user=$(gcloud config get-value core/account)

[2017-08-22 19:10] ebullient commented on #568
I can't reopen this issue. Comparison: https://docs.helm.sh/using_helm/#from-script

Includes this if I want to pin the version:
[code]
checks that against installed version, etc. I can include/use that file in provisioning scripts (Vagrant and/or other custom launch scripts) with minimum fuss.

I have worked around in my scripts this way:
[code]
(because I don't want to spend a lot of time in a V

[2017-08-22 20:28] ldemailly commented on #552
I think having the issue first is great (and everybody should do that), and saying you're working on it when you start (too), but I don't think there should be a bunch of invisible commits/updates - do your PR when it starts being in shape (possibly marking it as "wip"/not requesting a review yet) and update that rather than the issue ?

[2017-08-22 20:40] ldemailly commented on #568
maybe we'll switch to a package (and/or someone can contribute brew and other packages) but for now I don't see a concrete proposal of what you'd like/need ?

your workaround seems fine to me?

[2017-08-22 20:45] ldemailly commented on #548
not necessarily andra, some documentation also goes in istio release notes and in this github repo

[2017-08-22 20:57] andraxylia commented on #548
Ok. This issue is important, so it should probably be in both.

[2017-08-22 21:00] andraxylia commented on #552
This will be better indeed, as long as the PR links to the issue, and we can easily track if the issue is worked on.

[2017-08-22 21:27] ldemailly opened #15765 "proxy now requires external go to build"
it's new, it used to just be fine with
https://github.com/istio/istio/blob/master/devel/README.md#collection-of-scripts-and-notes-for-developing-for-istio

aka bazel + apt-get install make openjdk-8-jdk libtool m4 autoconf uuid-dev cmake

it probably needs to do a "use_bazel_go" equivalent like the other repos

CMake Error at CMakeLists.txt:32 (message):
  Could not find Go

[code]

[2017-08-23 00:40] ldemailly opened #593 "dev / test setup script (compile and install head of everything)"
Right now the closest we have to a way to test/setup using current master is something like

run proxy docker build, copy the sha in 3 places in pilot and then in pilot:

bazel run //test/integration -- --logtostderr -tag mydevtag -n e2e -auth enable

+ ctrl-c after the first reachability test passes

we need a script that does compile the latest of everything and installs it in a cluster/namespac

[2017-08-23 01:39] gyliu513 commented on #572
@andraxylia it is weird as we already defined the CDR permission already. Did you find which resource need to depend on CDR? I did not found the template where defined the CDR resources.

[2017-08-23 01:50] andraxylia commented on #572
Have you tried the command above, if you are using GKE? If you are using another k8s, just replace --user= ... with your actual user.

[2017-08-23 02:28] gyliu513 commented on #572
@andraxylia I did not encounter this problem, just curious why failed even we have already defined the CDR permission for the user of istio-pilot. Also I did not find which template in istio is using CDR

[2017-08-23 03:01] andraxylia commented on #572
Pilot and mixer will use CRDs (Custom Resource Definitions).
I will close this issue for now, please re-open if you still have it.

[2017-08-23 03:01] #572 closed

[2017-08-23 04:45] andraxylia commented on #593
Is this about the pilot test/integration? We already have a script that does everything, bin/e2e.sh.

I also recommend trying the go build test/integration , it's easier if you just want to run the integration.

[2017-08-23 17:24] ldemailly commented on #593
it's better than nothing (which is why I documented it in the comment) but it doesn't exactly "does everything" no:

- [ ] it doesn't get the latest proxy (you have to manually edit 3 files)
- [ ] it doesn't get the latest mixer
- [ ] you have to ctrl-c in the middle
- [ ] you have to create the namespace
- [ ] you have to know about -auth
- [ ] it doesn't really give you a working istioctl (have

[2017-08-23 21:14] ldemailly commented on #537
it's back:

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/592/e2e-suite-rbac-auth/61/

W0823 20:06:22.939] I0823 20:06:22.938362     889 mixer_test.go:458] Error talking to productpage: Get http://10.150.0.6:30298/productpage: dial tcp 10.150.0.6:30298: getsockopt: connection refused
W0823 20:06:22.939] E0823 20:06:22.938392     889 mixer_test.go:471] Couldn't get to the boo

[2017-08-24 02:53] yutongz commented on #578
We are using random namespace for each tests, so no need to worry about that.

[2017-08-24 02:56] linsun commented on #578
can you show me how you invoke the e2e with random namespace?

[2017-08-24 03:00] yutongz commented on #578
https://github.com/istio/istio/blob/172957a43f150ef3fd6c4b69493759f0ed15a5da/tests/e2e/framework/kubernetes.go#L77

If you don't specify a namespace, framework will use runID which is a UUID.

[2017-08-24 03:01] yutongz commented on #578
That's why I am wondering why we want to use a specific namespace.

[2017-08-24 03:04] linsun commented on #578
ah i see.  yea, our script was specifying a namespace, which is a valid flag you support. :)

[2017-08-24 03:05] linsun commented on #578
it helps to search and clean up too when you pre-specify the namespace if tests failed in the middle.

[2017-08-24 16:10] linsun commented on #146
Any reason why we need istio-system vs just using kube-system?  I'm asking since many other system tools are installed there like calico, helm tiller, draft etc.

[2017-08-24 18:52] andraxylia commented on #146
We evaluated the option of installing in kube-system and decided it is preferable to use a separate namespace to allow uninstall by simply deleting the namespace. It is true some other components prefer kube-system, but there is no real advantage there.
BTW, the istio namespace will not be hardcoded to "istio-system" in the code, it can be any namespace. The simple installation files might have it

[2017-08-25 04:02] ldemailly commented on #578
I assume #594 closes this (tip: use "Fixes #578" instead of "PR for #578" to auto close the issue on merge)

[2017-08-25 04:02] #578 closed

[2017-08-25 13:35] linsun commented on #578
Yes, thank you for the tip! :)

[2017-08-25 15:03] linsun commented on #146
I think it is just what people are expecting to see, and it is easier to configure permissions / ACLs to put stuff in that namespace.  You'll get less questions too.   :)  Ok good to know it is not hardcoded so we could put it in kube-system if we wanted that way.

[2017-08-25 15:35] andraxylia commented on #146
Sure, but in in mind kube-system is not easier to configure than any other namespace, given the same starting permissions.

[2017-08-25 16:47] qiwzhang commented on #549
@jhaals
In my test, Envoy will not block requests if mixer is down.   I need more information to debug it.
Could you provide Envoy config and log output?  It will be even better if it is in "-l debug" mode.

[2017-08-25 22:01] lizan opened #15764 "unit / functional test for mixer filter"
the current mixer filter only has integration test implemented in go, it doesn't provide enough coverage for cases such as cancelling a request in the middle, upstream / downstream unexpected behaviors.

[2017-08-25 23:13] sebastienvas opened #598 "Istio oncall Handoff"
Place to leave history of oncall rotation events to facilitate Handoff to the next person.

[2017-08-25 23:32] #487 closed

[2017-08-26 22:26] sebastienvas commented on #537
So I looked at the last run from prow. https://prow.istio.io/?job=e2e-suite-no_rbac-no_auth, The last 36 runs have been passing without flake. The only errors that I see were mine, and I was acutally changing the framework.

auth enabled never passes, and rbac + no_auth is flaky. It seems to mostly be the mixer test that is failing.

I did find some istioctl exec format issues, and I am thinking t

[2017-08-27 00:01] ldemailly commented on #537
check pilot's ?

[2017-08-27 04:06] sebastienvas commented on #537
I counted less than 5% (3 actual flakes out of 69 runs) flakiness on the run combining mixer-e2esmoktest pilot-e2esmoketest and e2e-suite-no_rbac-no_auth, which I think is pretty good for an e2e test.

Coming back on the exec format, it cannot be an issue when we download a binary that we uploading, it has to be related to the way we download and save the file.

[2017-08-27 04:11] sebastienvas commented on #537
@ldemailly the thing that you opened is for rbac which is not presubmit, maybe it was at some point but by mistake. I would like to close this bug and open specific issues to help resolution. I think we should open different issues on why the rbac and auth test are failing. What do you think ?

[2017-08-27 04:13] sebastienvas commented on #537
exec format error is that the file is actually missing, I guess we are not checking the http code :). Will file a bug for this.

[2017-08-27 04:15] sebastienvas opened #603 "Cryptic error when failing to download istioctl"
W0826 07:34:29.954] E0826 07:34:29.951714    1022 framework.go:199] Failed to complete Init. Error command failed: "" fork/exec /tmp/istio.e2e.631616937/istioctl: exec format error

When we get this error, the file is missing. Let's make sure we check return code and return a proper error.

[2017-08-27 07:08] yutongz commented on #603
Put it here as a reference:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/600/e2e-suite-rbac-no_auth/90/

[2017-08-27 14:51] andraxylia commented on #537
It is an RBAC issue only if the logs shows some error type cannot create/list/... .
Otherwise, the simple fact it is rbac test failing does not indicate an rbac issue.

[2017-08-27 17:55] sebastienvas commented on #537
The only difference is that we apply the rbac yaml the rest of the test is
unchanged. I think it s safe to assume it is rbac related.

Anyway, we should capture those in different issue as I don't see the point
of leaving an endless issue opened.

On Aug 27, 2017 7:51 AM, "Andra Cismaru" <notifications@github.com> wrote:

[2017-08-27 19:12] ldemailly commented on #537
https://github.com/istio/pilot/pull/1102 for instance doesn't seem to go through

[2017-08-27 20:11] sebastienvas commented on #537
One more time, the issue is with pilot-presubmit not the e2e. So I am closing this. Please open issues for new problems. I will open a new issue for the RBAC one.

[2017-08-27 20:11] #537 closed

[2017-08-27 20:20] sebastienvas opened #606 "RBAC e2e test is consistently failing"
The current rbac-no-auth e2e test is currently failing % of the time.

After looking at the logs, the failure seems to be consistenly the mixer test and that the metrics are not being propagated
mixer_test.go:212: Could not find value: value not found for map[string]string{}
mixer_test.go:216: Bad metric value: got 0.000000, want at least 1.000000

[2017-08-27 20:22] sebastienvas opened #607 "e2e test with auth is failing 100% of the time"
All the test are failing wheter RBAC is enabled or disabled.

[2017-08-27 20:36] ldemailly commented on #537
not sure the value of closing and opening new issues but sure...

[2017-08-28 13:07] vadimeisenbergibm commented on #552
@ldemailly @andraxylia OK, I see, next time I will do it with a WIP PR, linked to the issue. Thank you!

[2017-08-28 14:21] arycloud opened #608 "Istio bookinfo sample deployment The connection has timed out"
I'm trying to setup istio on Google container engine, istio has been installed successfully but booking sample has been failed to load.

Is there something I have configured in wrong way?
Help me, please!
Thanks in advance!

Here's what's I have tried:

    kubectl get pods

    details-v1-3121678156-3h2wx       2/2       Running   0          58m
    grafana-1395297218-h0tjv          1/1       Run

[2017-08-28 20:47] sakshigoel12 commented on #392
We have 3 open P0 under this epic. Please could you close all issues that are complete - and call out anything that won't be complete by EOW (except docs and testing).

[2017-08-28 21:53] ldemailly commented on #488
covered by https://github.com/istio/pilot/pull/1100 and https://github.com/istio/proxy/pull/404

[2017-08-28 21:54] ldemailly commented on #485
https://github.com/istio/proxy/pull/404

[2017-08-28 22:11] sakshigoel12 commented on #263
We have started with the first round of rotation this week, and have a confirmed list from IBM to include in the rounds. I am closing this issue and will open one to monitor stability and progress under 0.3 milestone.

Please review doc for details. https://docs.google.com/document/d/1nlzp6iBYfJ7KBzSQvHUYUoFqHpYKTOmOFnlPnfP_Sjk/edit#heading=h.exdawkz2gwg5

[2017-08-28 22:11] #263 closed

[2017-08-28 22:13] sakshigoel12 opened #612 "Monitor on-call stability and progress"

[2017-08-28 22:29] sakshigoel12 commented on #338
Please update this epic and all P0 issues, and call out anything that won't be complete by EOW (except docs and testing).

[2017-08-29 00:18] ldemailly commented on #466
I think istio-ingress is best?
(cc @costinm )

[2017-08-29 01:13] sakshigoel12 commented on #580
Added all the Tasks currently on website. We should evaluate if there are new tasks for 0.2

[2017-08-29 01:25] andraxylia commented on #466
We do not need to expose internal monitoring data via a NodePort. I admit we originally exposed Grafana, Prometheus, as LoadBalancer services, but that was to simplify demos, not to be used in production.

It is preferable to keep the monitoring svc as cluster services, and access them via secured ingress or username/passwd, as suggested by @jar349. For demos, we can use kubectl proxy.

[2017-08-29 02:48] gyliu513 commented on #466
Thanks all, let me close this one.

[2017-08-29 02:48] #466 closed

[2017-08-29 06:00] andraxylia commented on #608
You need 4 nodes in your cluster, but default the cluster is created with 3 nodes.

[2017-08-29 17:26] Brian-Xincheng-Zhang opened #614 "umbrella requests from dev"
** need to create individual issue when each is being addressed**

P0: Fast test infra, efficient access to logs / troubleshooting, visibility on queues. Responsiveness on flackyness: solution: Build cop pairing with eng prod --ldemailly
P0: Nightly or Weekly automated builds of latest of each repo, easy release promotion, auto release-notes gathering -- ldemailly
P0 (imo/tbd) Flat build -- ldemai

[2017-08-29 18:05] sebastienvas commented on #607
@Brian-Xincheng-Zhang please find a person to work on this.

[2017-08-29 18:06] sebastienvas commented on #606
@Brian-Xincheng-Zhang, please find someone to work on this.

[2017-08-29 18:07] sebastienvas commented on #598
@gnirodi please see the list of oustanding issues
https://github.com/search?q=org%3Aistio+is%3Aissue+is%3Aopen+label%3Aoncall+

[2017-08-29 18:15] #603 closed

[2017-08-29 18:50] andraxylia commented on #339
Fixed in istio/pilot#951

[2017-08-29 18:51] andraxylia commented on #340
Fixed in istio/pilot#951

[2017-08-29 18:52] #339 closed

[2017-08-29 18:53] andraxylia commented on #341
Fixed in istio/pilot#951

[2017-08-29 18:53] #341 closed

[2017-08-29 18:54] andraxylia commented on #340
Fixed in istio/pilot#951

[2017-08-29 18:54] #340 closed

[2017-08-29 18:55] andraxylia commented on #343
Fixed in istio/pilot#951

[2017-08-29 18:55] #343 closed

[2017-08-29 19:05] jar349 opened #615 "pilot, egress, and ingress (0.1.6) cannot list istioconfigs.istio.io at the cluster scope (k8s 1.7.4)"
Just installed istio 0.1.6 onto kubernetes 1.7.4 by following the steps [here](https://istio.io/docs/tasks/installing-istio.html) - implying that I did apply rbac-beta.yaml.  Everything in the default namespace.

The only "strange" thing I did was to clone the repository and checkout the 0.1.6 tag, rather than download the release zip file.

Pilot, Egress, and Ingress pods are in `CrashLoopBackOff

[2017-08-29 20:21] costinm commented on #488
PRs submitted (pending auth .deb) - will close once it makes it into a release.

[2017-08-29 20:22] costinm commented on #486
This seems to be working - only pending work is checking on-prem, and double checking bluemix.

[2017-08-29 20:22] costinm commented on #485
Deb files submitted and ready for testing.

[2017-08-29 20:22] #485 closed

[2017-08-29 20:24] #368 closed

[2017-08-29 20:55] ldemailly commented on #486
the vpn one I didn't get around to setup

[2017-08-29 22:00] ldemailly commented on #358
starting point: for istioctl version
after printing its own version it should try to print kubernetes, api server, pilot and mixer versions (would serve as a basic check those exist too)

[2017-08-29 22:10] ldemailly opened #618 "typos in e2e istioctl vs istioclt"
https://github.com/istio/istio/search?utf8=%E2%9C%93&q=Failed+to+download+istioclt&type=

(noticed on https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/617/e2e-suite-rbac-no_auth/178/ )

[2017-08-29 23:21] Brian-Xincheng-Zhang commented on #426
I think this is not gating .2 release. If engprod has other important things to work on, then this can be de-prioritized.
We probably should limit # of P0 requests from each dev eng to EngProd, so that EngProd team can serve all dev engs fairly.

[2017-08-29 23:32] #573 closed

[2017-08-30 03:05] wattli commented on #570
@myidpt , could you investigate on this please? Thanks

[2017-08-30 15:42] linsun opened #620 "book info instruction is confusing on clean up and next step"
I got a user who complains to me that the book info instruction tells him to clean up, then what is next, which he just did the clean up and what is next actually needs the artifact deployed.

https://istio.io/docs/samples/bookinfo.html

[2017-08-30 16:56] myidpt commented on #570
This is tracked by https://github.com/istio/pilot/issues/1134

[2017-08-30 18:43] linsun commented on #620
More from the user:  another area that is confusing (to me at least)…
https://istio.io/docs/tasks/rate-limiting.html
This task shows you how to use Istio to dynamically limit the traffic to a service.
in the whats next area, the links are all to docs and not labs, but then it says if you aren’t doing any more tasks you can clean up bookinfo
maybe more is coming?
who knows :slightly_smiling_face:

[2017-08-30 19:58] #570 closed

[2017-08-30 19:59] wattli commented on #570
Dedup, refer to istio/pilot#1134

[2017-08-30 21:37] costinm opened #622 "Publish the .deb artifacts"
Auth, pilot and proxy generate .deb artifacts, they need to be published with the other binaries.

[2017-08-30 21:52] wattli commented on #606
I don't think it is not auth related. assign back to @Brian-Xincheng-Zhang , please try mixer guys.

[2017-08-30 22:07] Brian-Xincheng-Zhang commented on #606
I had a chat with Mandar.
1. mixer config server will be gone next week. so let's wait until next week to see whether the problem persists.
2. the issue happens when a config is being pushed to mixer, and it happens to two PRs. the flakiness could be caused by both code and test-infra. therefore, if the problem persists next week, Mandar and engprod oncall will work together to debug the issue.
I

[2017-08-30 23:21] sebastienvas commented on #622
Please help me here, in auth and pilot we have a release script https://github.com/istio/pilot/blob/master/bin/release.sh, could you make a script that is like
./bin/upload-istioctl to upload the debian packages and add to the release script ?

[2017-08-30 23:40] sebastienvas commented on #622
pkg_deb(
    name = "istio-node-agent",
    architecture = "amd64",
    built_using = "bazel",
    data = ":debian-data",
    description_file = "description",
    homepage = "http://istio.io",
    maintainer = "The Istio Authors <istio-dev@googlegroups.com>",
    package = "istio-node-agent",
    version = "0.2.1",
)

Hard coding the version in there, is not right. I need to find a better solutio

[2017-08-31 02:33] costinm commented on #622
It appears K8S is also hardcoding the version ( I used them as a template -
except for making the rules explicit instead
of using a .bzl file), and I believe it's common to manually upgrade the
version when moving to the next
release. Android does it too.

Will look at the scripts - already added the proxy deb to the script that
releases the artifacts, but need to
make sure it is plumbed all the w

[2017-08-31 02:34] costinm commented on #622
And I'll update the pilot script first thing tomorrow, thanks for the
pointer.

On Wed, Aug 30, 2017 at 7:33 PM, Costin Manolache <costin@gmail.com> wrote:

[2017-08-31 04:24] sebastienvas opened #625 "End to end test support for Raw VM"
@costinm @ldemailly. Could you please define what will be required to ease test creation ? Assign it back to me once you are done. Hopefully we can have someone work on this before the testathon.

[2017-08-31 04:24] yutongz commented on #606
We have a EngProd oncall now? @sebastienvas

[2017-08-31 04:29] Brian-Xincheng-Zhang commented on #606
Yutong, you are the engprod oncall  next week:
https://docs.google.com/spreadsheets/d/1FaHwPpad3F3hva2suJweNeTnocjKtLnbgLkyMRPzgUY/edit#gid=0

-- Brian

On Wed, Aug 30, 2017 at 9:24 PM, Yutong Zhang <notifications@github.com>
wrote:

[2017-08-31 04:32] sebastienvas opened #626 "Support for multi-cluster E2E Test framework"
Details on requirements are @ http://goo.gl/AQARBs#heading=h.wgf09th1ifw0
but basically:
The test framework should be able to:

1. Request 1 or more K8s clusters during test setup. Calls should block until clusters are available
2. Release all clusters requested by the test at test teardown
3. We should have a pool of clusters for integration testing

[2017-08-31 04:33] sebastienvas commented on #614
Created missing bug. Please see details in https://docs.google.com/document/d/1VPVpqkkJOwVhXhpiSOTqyLtTglyTBacpgEwL6xjoVnU/edit

[2017-08-31 04:33] #614 closed

[2017-08-31 14:44] gimaker commented on #549
If I understand correctly, it is expected that requests fail when mixer is down (for Istio 0.1.6), since the default is fail-open. In other words, things seem to work as expected.

Although this would suggest otherwise:

It would be nice if there was a way for an operator to change the behaviour to fail-close. I couldn't figure out a way to do this without modifying pilot (to change the config pus

[2017-08-31 16:43] qiwzhang commented on #549
@gimaker Your understanding is wrong.  fail-open means if any calls to Mixer fail at network layer, the Mixer Check should pass,  the original requests should proceed to the backend.

So the behaviors you experienced is wrong. It is a bug.

If you can try with latest Istio code,  (I think 0.2 is out),  it will be great.  It is wasting time to debug old code.  The proxy code has been changed dramat

[2017-08-31 17:39] ldemailly commented on #486
@linsun is looking at bluemix setup for reachable podips

[2017-08-31 19:16] ldemailly commented on #626
In 0.3 we're going to start supporting multi cluster and hybrid so we will need to test that we can join a mesh across clusters. At minimum that means some tests can request from test infra 2 clusters (clusterA and clusterB) and deploy on both and test reachability etc

@gnirodi can also add more

[2017-08-31 19:48] sebastienvas commented on #606
This impacts release 0.2.1

[2017-08-31 22:14] jar349 commented on #615
Update: Here's the reason why it's crashing.  Your RoleBindings need to be ClusterRoleBindings.  The helm chart has this correct, but your latest tagged release (0.1.6) does not.

![screen shot 2017-08-31 at 6 05 30 pm](https://user-images.githubusercontent.com/290154/29947329-0183756c-8e77-11e7-9b21-373ec3a54d96.png)

[2017-08-31 22:32] gnirodi opened #631 "pilot-postsubmit.sh fails with: bin/toolbox/pkg_coverage.sh no such file"
https://k8s-gubernator.appspot.com/build/istio-prow/pilot-postsubmit/87/

W0830 20:13:30.694] prow/pilot-postsubmit.sh: line 57: bin/toolbox/pkg_coverage.sh: No such file or directory
E0830 20:13:30.694] Build failed
I0830 20:13:30.694] process 348 exited with code 1 after 2.5m
E0830 20:13:30.695] FAIL: pilot-postsubmit

[2017-08-31 22:39] ldemailly opened #632 "Figure out multi namespace / multi control plane / mesh configuration"
For 0.3 we need to solve the bootstrap configuration issue for the side cars

For testing (at least and also probably (tbd?) for production use cases) we want to support

multiple sets of multiple namespaces using 1 istio control plane and config in the same cluster
(and also multi cluster meshes eventually)

Right now the way the sidecar finds pilot and mixer is by assuming there is a mounted con

[2017-08-31 22:43] gnirodi opened #633 "mixer-postsubmit fails due to timeout: //pkg/config/crd:go_default_test"
https://k8s-gubernator.appspot.com/build/istio-prow/mixer-postsubmit/96/

Most likely cause: test size is too big to run. I'm assigning this to sebastienvas@ ++ to investigate how tests like these ought to be structured to avoid becoming too large for testing.

I0831 18:54:25.812] Executed 53 out of 53 tests: 52 tests pass and 1 fails locally.
I0831 18:54:25.812] There were tests whose specified s

[2017-08-31 23:47] yutongz commented on #633
/assign @chxchx
/unassign @yutongz

[2017-08-31 23:55] sebastienvas commented on #633
@gnirodi  This can be fixed by marking the test as large, or by changing the the test. Please assign this to the creator of the test.

[2017-09-01 14:10] gyliu513 opened #636 "Add install template for sidecar initializer"
We introduced sidecar initializer at https://github.com/istio/pilot/issues/335 , should enable it as a deployment here.

/cc @ayj comments?

[2017-09-01 17:33] ayj commented on #636
Yes, that's the plan. It needs to be done in two steps: (1) enable initializer deployment (w/ConfigMap) and (2) enable InitializerConfiguration. (1) needs to be running in all test instances across the shared clusters before (2) to avoid namespaces without a corresponding initializer.

[2017-09-01 19:50] jmuk commented on #633
It shouldn't take that much, and so I'm afraid that `size="large"` wouldn't solve the problem, anyways it would fail. Maybe it's some test flake. I'll check on my side.

[2017-09-01 21:41] jmuk commented on #633
My PR was merged. I believe this fixes this issue.

[2017-09-01 21:52] sebastienvas commented on #631
@chxchx Could you please look into this ?

[2017-09-01 22:02] ldemailly commented on #598
should we write up a bit what happened/progress every day ? (with link to created/solved issues etc)

[2017-09-01 23:02] chxchx commented on #631
@yutongz has been working on a fix but have a hard time merging since pilot/master has been red. He will take over from here.

[2017-09-02 00:06] sebastienvas opened #640 "Last update from mixer and pilot are not working well togehter"
Assuming PR were not force merge on any of the repo,  we can assume that it is the both change that are incompatible:

This started when we upgraded
pilot from d6a3290dad2663df228a62826a0d97adceb8c79c to 720d751f5a82dcd746e3b36d8dadee96647c1d17
and mixer form 1ed277184e56ad5294f6afb885e4b1bbf928a244 to d850758aa00ef574ef534fbec847efdac357ec8d

[2017-09-02 01:25] ldemailly opened #642 "install/updateVersion shouldn't require -xfoo (when using the natural -x foo it inserts a bogus space)"
See https://github.com/istio/istio/pull/641/commits/8e30a37b827a392621f1aadecdb4ed5005a91e74#diff-bd1aae3c2854764f1c73dabf2af617a7R5

when running
[code]
you get
[code]
with a bogus leading space

[2017-09-02 01:39] gyliu513 commented on #636
@ayj for this issue, I think that I only need to add (1) a new deployment file for initializer and (2) a InitializerConfiguration , which test shall I run in istio?

[2017-09-02 01:41] ldemailly commented on #640
is there a job/set of builds showing what's failing ?

[2017-09-02 02:44] ldemailly opened #643 "pre submit should catch that install/updateVersion.sh must be a noop"
pre submit should catch that install/updateVersion.sh must be a noop
and that people haven't not manually edited the generated files
(like accidentally happened in #623 )

[2017-09-02 03:15] andraxylia opened #645 "document how to run tests/e2e.sh on minikube (ie -use_local_cluster)"
Right now, the tests setup ingress as type LoadBalancer and check for an external IP address to be assigned.
This does not work on minikube, so it should be removed or adapter.

We need to run and debug the e2e smoke test  outside of the test cluster.

[2017-09-02 03:32] andraxylia opened #646 "Remove import of "cmd/pprof/internal/tempfile""
e2e tests import internal file, which is disallowed:
	"cmd/pprof/internal/tempfile"

Need to use a different API to create a temporary file, so these go pkg can be compiled and tested.

usr/local/go/bin/go test -v -i ./tests/e2e/tests/mixer/...

tests/e2e/framework/framework.go:18:2: use of internal package not allowed

tests/e2e/util/commonUtils.go:18:2: use of internal package not allowed

Proce

[2017-09-02 08:06] #494 closed

[2017-09-02 17:31] ldemailly commented on #645
is that with -use_local_cluster ?

[2017-09-02 17:57] ldemailly commented on #631
it seems the UI showing an outdated branch is missing in pilot repo

is there a / command to rebase a PR - seems there is  some chicken and egg / deadlock where the presubmit fails because it needs rebase but it won't rebase because the pre submit failed ?
talking about https://github.com/istio/pilot/pull/1168

[2017-09-02 18:20] andraxylia commented on #645
Cool, that works. In that case, the option -use_local_cluster needs to be documented in README, with some explanation about what it does related to ingress svc type.

[2017-09-02 18:32] ldemailly commented on #645
yes I mentioned in some code review when I saw it that it wasn't clear what it meant etc
(in a way this is a sub task of https://github.com/istio/istio/issues/593 )

[2017-09-02 22:38] kyessenov opened #651 "Use ROUND_ROBIN load balancing in the sample"
RANDOM is default, need to demonstrate non-default load balancing.
cc @rshriram

[2017-09-02 22:41] kyessenov opened #652 "Should samples use istioctl or kubectl?"
Last PR #647 switched to using kubectl to send config to pilot.
Should we advertise the use of kubectl in all of our samples and documentation or use istioctl instead?
Note that the input format of the two tools is not the same at the moment. istioctl uses the same format as 0.1.x.

cc @louiscryan @rshriram @frankbu

[2017-09-02 22:45] ldemailly commented on #651
let's have e2e tests for both

[2017-09-02 22:47] ldemailly commented on #652
My take is use istioctl (even if it's just a passthru to api server like kubectl would do) but maybe we can use istioctl with a version flag passed, if the 0.2 format is the future, it's nice to have 0.1 support but the main format should be the current one not the old one

[2017-09-02 22:50] ldemailly opened #653 "503s plagging the tests and will affect customers too"
@kyessenov says there is a known issue with ingress generating random 503s:

"
related to incoherent RDS/LDS I think
RDS/LDS might be racing
it's racing every second
start ingress, make lots of requests
you'll see 503s, very easy to replicate
"

clearly we can't ship something that would generate spurious errors every second

[2017-09-02 22:57] ldemailly commented on #653
example of where it happens (but it's all over and apparently has been all over for a long time):

https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/647/e2e-suite-no_rbac-no_auth/224/

[code]
so a typical simple test seems to get 0.7% of errors (after warmup etc)

[2017-09-02 23:46] kyessenov commented on #652
cc @mandarjog since Mixer wants to use kubectl solely.
cc @ayj for missing AC validator concerns.

[2017-09-03 00:43] yutongz commented on #631
Need rebase should not be the reason for the presubmit failure. As we mentioned couple times before: Prow will rebase before run tests:
https://github.com/istio/test-infra/tree/master/mungegithub#stage-two

If you take a look at full logs, you can see the rebase processes:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_pilot/1168/pilot-presubmit/808/
https://k8s-gubernator.appspot.

[2017-09-03 01:08] ldemailly commented on #631
I didn't know prow silentely rebased, my bad. maybe that's why I have a pr with a mysterious error.

maybe having some indication or way to actually do the rebase would help the humans.

this being said we should keep the UI anyway - specially given pilot bots have been "disabled"

[2017-09-03 01:40] yutongz commented on #646
Can I confirm you are using go1.9?  That package is removed in go 1.9.

[2017-09-03 03:35] yutongz opened #654 "Error from fetching logs in e2e should be transparent for users"
When istio e2e tests failed, we fetch log from stackdrive. During this process, we throws out several error messages which of course not the actual reason why e2e failed, but those message confuses users and make debug harder, we should just say "info:" or "log warning"

[2017-09-03 04:12] yutongz opened #655 "Difference between ci clusters and person cluster"
@kyessenov and @douglas-reid  reported in https://github.com/istio/istio/pull/647 and heard people complained this before. It seems testing clusters bring in more flakiness, we need to figure out what's the difference before everyone gives up CI tests.

Possible reasons:
1. Tests don't cleanup properly and pollute the environment
2. Multiple tests effect each other
3. Resource limits (which I don'

[2017-09-03 04:16] douglas-reid commented on #655
fwiw, i think this was an extra special set of things needing isolation, as CRD definitions from different PRs (from different repos) were causing cluster-wide issues when committed. So, there was at least some of (2) at play. It also seems like there is something related to istio ingress that is triggered in "noisy" environments. Private clusters seem to avoid whatever that issue is, but no one h

[2017-09-03 13:05] rshriram commented on #652
I spoke to @mandarjog earlier on slack. He seemed okay with using ` istioctl create -f ` format.

[2017-09-03 14:31] andraxylia commented on #646
I am using go 1.8. The restrictions about importing internal files precedes go 1.9.
Try to run it locally like this:
go test -v -i ./tests/e2e/tests/mixer/...

[2017-09-03 14:37] andraxylia commented on #652
Do we have time to make all the changes for 0.2?
If yes, we should switch to using kubectl sooner than later, feedback so far indicates people actually prefer a tool they already use. Plus , it would save us the problems with ensuring istioctl version is compatible etc.

[2017-09-03 14:53] andraxylia opened #657 "e2e: Need more artifacts (pod logs)"
This is missing a few pod logs: from bookinfo application (container istio-proxy) & egress. Mixer log is empty and it should not be. API server log is obsolete.

http://gcsweb.k8s.io/gcs/istio-prow/pull/istio_mixer/1199/mixer-e2e-smoketest/400/artifacts/mixer-test-14408e86d6aa4cacb5307e6567/

For easier maintenance, I recommend getting logs for all the pods in that namespace, and create files with

[2017-09-03 15:07] andraxylia commented on #598
Why is this tracked as an issue and not in a document? This reads from top -> bottom and it will get very long. A document can have the last week at the top.

[2017-09-03 15:13] andraxylia commented on #632
This is not a scale problem with dozens or event hundred of namespaces unless proven otherwise. It happens as a namespace is created.
This issue jus makes an opinion, and does not propose an alternate viable and better proposal. I will leave it open for tracking for the first few weeks of 0.3, and close it if nothing better is proposed.

[2017-09-03 15:15] andraxylia commented on #632
This should also be moved to pilot.

[2017-09-03 20:10] rshriram commented on #652
It's not about time. We cannot force users to use kubectl in a docker swarm or mesos or cloud Foundry or vm only environment. The fact that we reuse kube API server is purely implementation detail. In such environments, the only thing people need is CRD access. They should not be exposed to concepts like pods, deployments, etc.

[2017-09-04 00:00] ldemailly commented on #652
none of those use cases were officially slated for 0.2; it's nice consul/eureka showed up early but that doesn't necessarily mean we have to scramble to support stuff we didn't plan to.

this being said having an idea what we'll do in 0.3 for non k8s env can inform which tradeoffs we pick right now. I think having istioctl support istio setup makes sense (and in k8s env, if for some category of co

[2017-09-04 01:43] ldemailly commented on #653
I think the spurious small % and the block of 503s are different problems but both are critical

example of broken block:
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_pilot/1172/pilot-e2e-smoketest/269/

[2017-09-04 01:52] ldemailly commented on #606
it's failing all the time, we need to make it pass again and then make it mandatory so it stays passing

ps: right now though nothing seems to pass, even non rbac see #653 for one of the causes

[2017-09-04 09:45] fogongzi opened #660 "Mixer Report failed with: UNAVAILABLE"
When I use istio 0.2.1 and kubernetes 1.7.4, I deployed the bookinfo example, it gives out:
Sorry, product details are currently unavailable for this book.
Sorry, product reviews are currently unavailable for this book.

When I find logs with productpage and proxy_debug container, the proxy_debug container gives the error messages:
**[libprotobuf ERROR external/mixerclient_git/src/report_batch.cc:

[2017-09-04 15:12] ldemailly commented on #660
looks like you need to add that clusterrolebinding for istio service account to be able to list pods?

[2017-09-04 19:54] rshriram commented on #652
It's irrespective of the functionalities added in this or future releases. Our goal is to be platform independent. It makes little sense to bind ourselves to a platform specific cli and force it on other platform users - now or in future.

[2017-09-04 20:59] ldemailly commented on #642
also -p should imply -i

eg shouldn't need to do
[code]

to change the pilot sha (which drives the istioctl sha) - at least by default

[2017-09-04 22:41] chxchx commented on #657
@andraxylia We started off fetching logs from all pods but it ended up taking way too long, so the compromise was to only fetch logs from a defined list of pods (white list), which is
[code]
So we just add "istio-proxy", "istio-egress", and remove "apiserver" right?

Do you mind sharing the link to the original PR so I could investigate why mixer log is empty? Thanks!

[2017-09-04 23:09] mandarjog commented on #653
[code]

[2017-09-04 23:25] douglas-reid opened #664 "Need integration test of complex routing + policy enforcement"
Recent (and outstanding) changes to the existing integration test suites are removing a bunch of routing rule (and other) complexity from tests in an attempt to make tests more debuggable (and understandable).

However, this leaves a void in testing of complex mesh behavior. We need to add additional tests that attempt to "stress test", if you will, the mesh for more than just simple scenarios.

[2017-09-05 00:19] fogongzi commented on #660
@ldemailly ,yes, I have found the solution, I do not create clusterrolebinding in my namespace. thanks!

[2017-09-05 00:19] #660 closed

[2017-09-05 01:04] ldemailly commented on #660
we haven't refined the roles yet but when the final 0.2 it should work out of the box

[2017-09-05 13:38] frankbu commented on #652
I think the right answer is that we need to update istioctl so that it takes the exact same rule format as kubectl. Right now the non-spec parts are slightly different. Then we can document the commands as `istioctl -create|replace|apply|etc`, but say that k8s users can use `kubectl -create|replace|apply|etc` instead (no need to install istioctl for kube).

[2017-09-05 13:46] kyessenov commented on #652
We could do that. We need to support the entire metadata struct then (see https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ObjectMeta) in case `istioctl` receives output of `kubectl`. We could also do better `apply` as `kubectl` does not support `apply`/PATCH for CRDs.

[2017-09-05 15:58] andraxylia commented on #657
At a minimum we need to add productpage (container istio-proxy), istio-egress, and remove apiserver.

I do not understand how much longer it takes to bring ~5 more logs, there must be some other underlying problem.

@douglas-reid do we really need the prom and statsd-to-prom logs?

[2017-09-05 16:02] douglas-reid commented on #657
@andraxylia @chxchx we can drop prom and statsd-to-prom logs.

[2017-09-05 16:22] yutongz commented on #654
/assign @chxchx

[2017-09-05 16:24] yutongz commented on #631
/close

[2017-09-05 16:24] #631 closed

[2017-09-05 16:50] andraxylia opened #666 "Routing rules do not take effect"
With istio/istio latest head at 671b2dddb3ceb267c56851a1172b832d197b82bc
Tried the bookinfo in the default namespace, it works.
Applied default routing rules
kubectl create -f samples/apps/bookinfo/rules/route-rule-all-v1.yaml

There is no effect, I still see a round robin distribution of no stars, red stars, black stars.

[2017-09-05 16:51] andraxylia commented on #666
cc @kyessenov @frankbu

[2017-09-05 16:53] andraxylia commented on #666
Operator error.

[2017-09-05 16:53] #666 closed

[2017-09-05 17:19] sebastienvas commented on #598
I feel this is a little bit overkill. [Here](https://github.com/istio/istio#boards?labels=oncall&notFullScreen=false&repos=78482929,75322405,75686596,76675987,74177509,82706976,74175805,91006461,81612946,76586412,84989584&showPRs=false&showClosed=false ) is a better link. is a better link than the first one. You can look at details there, but maybe a summary would be enough from week to week.

[2017-09-05 17:19] sebastienvas commented on #598
@gnirodi Please provide a summary and assign this to @ZackButcher.

[2017-09-05 17:43] gnirodi commented on #633
Not sure if this entirely fixed this issue: See
https://k8s-gubernator.appspot.com/build/istio-prow/mixer-postsubmit/114/

This is today's post submit in response to:
https://github.com/istio/mixer/commit/ed6e995d78203aacd420a1e12b4600d568a463dc

[2017-09-05 18:13] chxchx commented on #657
@andraxylia Getting 5 more logs is probably fine. When we tried getting all logs, there were more than 50 kinds of logs, which takes too long. Just let me know what those 5 logs are and I will add them to the list.

[2017-09-05 18:34] kyessenov commented on #657
We need to get _all_ the logs from istio components. All sidecar proxies + central services. Without that, we have no way to fully debug the failures, and just pointing in the dark. It's not important to us how you do it, stackdriver (which seems to be over-promised), docker logs, or your own log collector agent. There cannot possibly be a problem with storage or data transfer, or something must b

[2017-09-05 18:53] andraxylia commented on #657
At a minimum these ones:

istio-ca-xxx
istio-sidecar-XXXX
details-v1-525457007-4pt8g
istio-egress-2542870796-2ww3g
istio-ingress-1392073146-wh40m
istio-mixer-259290900-sp4sk
istio-pilot-2301231356-m02ng
productpage-v1-354903437-lgrn2
ratings-v1-1800611655-sx407
reviews-v1-4120681136-180d0
reviews-v2-3900684862-0whn6
reviews-v3-905664992-213jp

[2017-09-05 19:16] ayj commented on #636
https://github.com/istio/istio/blob/master/tests/e2e.sh

Don't enable the InitializerConfiguration by default in the changes pushed to Github just yet. Its fine to test locally but we need to phase-in this feature to avoid breaking tests in the shared cluster.

[2017-09-05 19:16] ayj commented on #636
https://github.com/istio/istio/blob/master/tests/e2e.sh

Don't enable the InitializerConfiguration by default in the changes pushed to Github just yet. Its fine to test locally but we need to phase-in this feature to avoid breaking tests in the shared cluster.

[2017-09-05 21:37] sebastienvas commented on #640
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/616/e2e-suite-no_rbac-no_auth/177/

[2017-09-05 21:42] sebastienvas commented on #622
Any update on this ?

[2017-09-05 21:46] costinm commented on #622
Sorry, got stuck on other issues - and didn't find any good way to test my
change.
It's just a line change "gsutil -m cp -r
bazel-bin/tools/deb/istio-agent.deb
gs://istio-release/releases/"${TAG_NAME}"/deb" - but
not sure if permissions / directory / layout is right.

Same change needs to be done for the istio/auth/tools/deb package.

On Tue, Sep 5, 2017 at 2:42 PM, Sebastien Vas <notifications@gi

[2017-09-05 22:10] rvkubiak commented on #622
@sebastienvas suggested updating the deb build rule to use a istio.VERSION file.  We update this file (at least for istio/istio) with a script as part of the release, so duplicating this for the Debian package version would match up well with the existing release process.

Example:
https://github.com/cloudendpoints/esp/blob/master/src/nginx/main/BUILD#L298

I'm going to start work on integrating t

[2017-09-05 22:17] andraxylia opened #672 "istioctl kube-inject defaults to short SHA from gcr.io/istio-testing should be long sha (or we should push short shas)"
Tried to deploy manually bookinfo as before:
kubectl apply -f <(istioctl kube-inject --hub gcr.io/istio-testing -f samples/apps/bookinfo/bookinfo.yaml)

Pods do not start:
19s     2s      2   kubelet, gke-cluster-1-default-pool-c0105838-mr9c   spec.initContainers{istio-init} Warning     Failed          Failed to pull image "gcr.io/istio-testing/proxy_init:fb947d4": rpc error: code = 2 desc = Error

[2017-09-05 22:33] costinm commented on #622
SGTM - at this point I don't think the top priority is automatic update of
the version file but just getting the .deb published and working.
The deb files are built in auth, proxy and pilot repos - which don't have
same istio.VERSION.
We can have the 'unified build' with a single istio.VERSION in a later
version and update the version manually for now, or if you have a solution
for
using istio.VER

[2017-09-06 00:41] chxchx commented on #654
Everywhere else in the code has switched to using words like warning or info. However, all errors returned by StackDriver are surfaced as-is, and may contain keywords like failed or error that prow loves to highlight. I prefer not to mask such errors since they include critical information about what has happened.

[2017-09-06 15:31] ldemailly commented on #640
it appears we have a newer pilot and newer mixer in istio/istio Version

on the other hand we have a hard time getting tests to pass...

maybe we can close this ? or close it after things get green again

[2017-09-06 15:32] andraxylia opened #682 "e2e smoke test: need dedicated node for fortio or wrk"
It has been observed during e2e tests the qps can be increased with more nodes are added. To get more deterministic results, we need to run the traffic generator (fortio or wrk) on its own node.

[2017-09-06 16:23] ldemailly commented on #672
updated subject as it's unrelated to bookinfo. full workaround is
[code]

[2017-09-06 20:25] linsun opened #686 "DOC: istio FAQ"
Please add FAQs we should be documenting in this issue.  thanks.
https://github.com/istio/istio.github.io/blob/master/troubleshooting/index.md

[2017-09-06 20:27] linsun opened #687 "Show users all services participated in the mesh"
is there a handy cmd to show all services participated in the mesh?
think of scenarios where i have services in the mesh and some aren’t

[2017-09-06 22:34] #618 closed

[2017-09-06 22:50] mandarjog opened #690 "Investigate why bookinfo + istio supports low qps"
In the rate limit e2e tests we have seen often that on a low cpu cluster, we can only drive 2 qps traffic.

We uses to run the test with 30+ qps before.

https://github.com/istio/istio/pull/676
temporarily lowers the rate limit in tests.

[2017-09-06 23:43] douglas-reid opened #691 "Add export of mesh and infra telemetry to tests"
cc: @kyessenov

We should ensure that we gather both infrastructure and mesh metrics and traces and save them off for post-test analysis.  For metrics, this may just be a matter of ensure prom scraping config is setup correctly and saving off the generated db file somewhere from the prom pod at the of the test.

For traces, we should figure out how to export from zipkin (if possible) or whatever.

[2017-09-07 00:14] kyessenov commented on #691
@sebastienvas @Brian-Xincheng-Zhang @rshriram  I would like to make this one of the priorities for next-gen test infra. We should be using istio for monitoring istio! More ideas:
1. backup all telemetry data from prom
2. send CPU usage to prom
3. send k8s signals (like what heapster does)
4. pipe envoy logs to mixer
5. poll xDS and log the output

[2017-09-07 03:53] rshriram commented on #691
And zipkin. And most importantly decode the hashes in cluster names
On Wed, Sep 6, 2017 at 8:14 PM Kuat <notifications@github.com> wrote:

--

~shriram

[2017-09-07 18:02] jmuk commented on #633
Another fix for this was merged yesterday, so far it seems working. Can we close this?

[2017-09-07 18:49] ayj commented on #672
Here are two options for fixing the issue in istioctl:

1) update presubmit hooks to publish images with short SHA.

2) change the default `version` used by kube-inject to be the full SHA

[code]

Option (2) is probably easier since it doesn't require modifying multiple repos?

[2017-09-07 19:01] andraxylia commented on #672
@sebastienvas @yutongz Can option 1 be done?

Option 2 is easier to implement, but it will result in long and ugly injected container, also used by initializer, affecting Istio long term.

BTW, this is only for temporary images in gcr.io. A third option is to leave with the workaround.

[2017-09-07 19:11] sebastienvas commented on #672
There are currently a lot of tools that assume the full SHA. @chxchx. I think jason solution is simple enough.

[2017-09-07 20:05] ldemailly commented on #672
I think long sha is best as this doesn't apply to releases

[2017-09-07 20:14] ldemailly commented on #625
if we have a token system or serialize tests/PR we only need 1 or 2 VMs paired with each test cluster

not sure how far away is some longer nightly build but we could use that (only 1 per night, and it would use the reserved VM) - or setup everything from scratch like we can do with the rawvm setup/demo script but that takes a while so may not be suitable for a run for each and every PR

[2017-09-07 20:44] ldemailly commented on #686
Rbac install error:
[code]
fix
[code]

[2017-09-07 23:59] ldemailly opened #698 "test-infra bug: wrong logs (directory sent instead of file?)"
many of the .log file, for instance mixer.log are 30 bytes of binary instead of the actual log
^_<8B>^H^Hl۱Y^B<FF>tmpMNPhtG^@^C^@^@^@^@^@^@^@^@^@

http://gcsweb.k8s.io/gcs/istio-prow/pull/istio_istio/696/e2e-suite-rbac-auth/340/artifacts/mixer-test-420eb6ab95c34042ae90d8ffcf/

[2017-09-08 00:26] ldemailly commented on #698
ok so we discussed offline, there are 2 issues:

a) somewhat cosmetic but still confusing: when there are no logs we get that 30 bytes of garbage. let's have either: no file, a 0 byte file, or a file containing whichever error occurred that explained why we got no logs

b) mixer.log is 'empty' for rbac auth test somehow

[2017-09-08 03:00] sdake commented on #653
@ldemailly @gnirodi

I've spent ~40 hours bringing up Istio without reproducible success.  I did have the bookinfo sample operational for a short period, however, over the last couple of weeks I've become completely blocked.  Here is my debug information in case someone finds it useful.  I will continue debugging - any advice would be of help to fix the problem.

My environment:
[code]

I run the

[2017-09-08 05:32] ldemailly commented on #643
we wasted hours because of this

ideally actually we just wouldn't check in all those generated files and just make them for the release or even better generate them with variable substitution and flags from a program (istioctl generateConfig or such)

[2017-09-08 06:16] ldemailly commented on #653
@sdake thanks for the detailed report,
this issue though is specifically about 503 errors we observed mid development on our shared testing cluster, I'm a bit curious about the details of your self built istio, can you put that in
https://github.com/istio/issues/issues/new (including version informations/how exactly you built from source ?)
I don't see any `istioctl kube-inject` in your details ab

[2017-09-08 12:33] sdake commented on #653
@ldemailly continued in istio/issues#56.

[2017-09-08 16:13] john-a-joyce opened #704 "Can't access bookinfo productpage after changing service to NodePort"
There seems to be an issue if the istio-ingress service definition is changed while applications that are already part of the service mesh are installed.
1. Installed istio, all the addons and the bookinfo application
1. Edited the istio-ingress service using kubectl edit svc istio-ingress
1. Changed "spec: type:" to "NodePort"
1. Got 503 errors when trying to get the productpage URL via the nodes

[2017-09-08 16:56] sebastienvas commented on #625
let's brainstorm, @chxchx might have some cycle.

[2017-09-08 16:57] debianmaster commented on #410
@ldemailly is this handled in 0.2 by any chance?

[2017-09-08 17:20] sebastienvas commented on #633
yes thanks!

[2017-09-08 17:20] #633 closed

[2017-09-08 20:57] andraxylia opened #706 "Unify the yaml templates"
Currently there 4 sets of templates: pilot, istio, helm, and kube-inject.

We need a single source of truth.

[2017-09-08 22:25] ldemailly commented on #672
this is actually not quite fixed because it still uses docker.io (are we pushing to both ?)

        image: docker.io/istio/proxy_debug:330dd286541d1b84c5ac1f4fc504556796c070af

[2017-09-08 22:55] andraxylia commented on #672
We only push releases to docker.io, intermediate images are pushed to gcr.io

[2017-09-09 02:35] ldemailly commented on #410
sorry I don't know - but please test it/find out and ideally fix it or give details if it still doesn't work

[2017-09-09 03:02] yutongz opened #712 "rbac user sometimes not there in rbac+auth test"
We still experience a unstable rbac+auth test.

Passed: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/707/e2e-suite-rbac-auth/390/
Failed: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/707/e2e-suite-rbac-auth/391/

W0909 02:13:27.844] E0909 02:13:08.317982       1 reflector.go:190] external/io_k8s_client_go/tools/cache/reflector.go:96: Failed to list *

[2017-09-09 03:08] ldemailly commented on #712
this is very interesting - how come the system:serviceaccount:mixer-test-73518342d1574b209e975b57c9:istio-mixer-service-account sometimes doesn't have the permissions ? I looked at the log and don't see an error during rbac apply...
any idea @costinm @andraxylia @kyessenov

[2017-09-09 03:39] andraxylia commented on #712
Does the test apply rbac rules twice for the two namespaces used in this test?

[2017-09-09 04:28] ldemailly commented on #712
Thanks a lot for the reply. Can you look at the logs and see if it does?

[2017-09-09 06:47] #712 closed

[2017-09-09 20:22] andraxylia opened #720 "kubeTest.sh generate_namespace produces invalid name"
The numeric hex value at the end is not valid for a namespace name.

#################################
Creating kube namespace
#################################

The Namespace "bookinfo-test-7B93491F" is invalid: metadata.name: Invalid value: "bookinfo-test-7B93491F": a DNS-1123 label must consist of lower case alphanumeric characters or '-', and must start and end with an alphanumeric character (

[2017-09-10 06:06] andraxylia opened #722 "e2e remove or fix (BadRequest): previous terminated container"
These msg are everywhere in the log, but the containers exist, and the kubectl get return correct values.

If not a real problem, do not log them, they pollute.

W0910 05:59:13.187]  Error from server (BadRequest): previous terminated container "istio-ingress" in pod "istio-ingress-2398531633-mtghq" not found

[2017-09-10 15:59] andraxylia opened #723 "e2e unify the test framework"
There are currently two variations, one based on bash, one based on go.
Any change needs to go in two places.

1.We need to switch to a single framework, preferably the one in go.

2. Decouple the tests from the istio templates. Tests need to test the istio.yaml file only, or the result of the script that generates the istio.yaml, they should not process templates individually, nor generate anythi

[2017-09-10 19:11] ldemailly commented on #722
yes, it's true that the error message is misleading but the fix is not to delete the command as it is needed when the pod does crash
(the fix would be to capture the output and only log it if the command is successful)

[2017-09-11 00:05] ldemailly opened #724 "Api, mixerclient, proxy aren't tagged with the versions"
@ldemailly commented on [Sun Sep 10 2017](https://github.com/istio/api/issues/170)

for 0.2.2 release and onward we should use the 0.2.2 api tag instead of some different shas in different children repos

if we can start by having the complete list of places referencing api that'd be good
I know of pilot/WORKSPACE - what is the complete list ?

ps: same for mixerclient and proxy

[2017-09-11 04:08] ldemailly commented on #722
fix in https://github.com/istio/istio/pull/726

[2017-09-11 07:50] arunkjn opened #727 "Docs: documentation for using istio as ingress and load balancer for grpc"
Hi,

I have a grpc service in my kubernetes cluster. I want to load balance this service and also allow ingress to this service from outside the cluster. I was not able to find much documentation regarding this. Could you please point me to some relevant docs?

[2017-09-11 15:52] sebastienvas commented on #724
The way this currently works this would require a new build for each repo which is not pratical. What happen if the tag that we select is different from master? The only way to make this efficiently is to use flat builds, which comes back to the same issue.

[2017-09-11 15:59] yutongz commented on #712
@andraxylia Yes, one for each test.

[2017-09-11 17:31] ldemailly commented on #724
k let's just first make sure everyone use the master sha
or tag 0.2.2 manually on api and use that tag everywhere by hand

[2017-09-11 21:03] sebastienvas commented on #672
I think the default should be to use docker.io as this is for the release, for testing people need to use --hub gcr.io/istio-testing.

[2017-09-11 23:15] sebastienvas commented on #622
@costinm Is the debian package from Proxy the only package that is of value for the release ?

[2017-09-12 04:12] hzxuzhonghu opened #744 "curl helloword service error：Recv failure: Connection reset by peer"
when create app helloword in local cluster
[code]
and I visit helloword
[code]

I curl pod ip, the same error,
then I enter container, and curl 127.0.0.1:5000/helloword it works ok. But curl podIP:5000, still recv  Connection refused.

I do not know what's the matter

[2017-09-12 06:33] hzxuzhonghu commented on #744
By the way, I use istio-0.2.1, kubernetes
[code]

[2017-09-12 07:11] ldemailly commented on #672
we should be able to bake gcr.io along the long SHAs vs docker.io and releases

[2017-09-12 16:40] xiaolanz commented on #598
@gnirodi  I'm the primary oncall. Please assign to me.

[2017-09-12 17:16] sebastienvas commented on #672
I am not understanding what there is left to do. Can we close this ?

[2017-09-12 17:20] sakshigoel12 commented on #291
Bookinfo injection, etc. Main work. Always done :)

[2017-09-12 17:20] #291 closed

[2017-09-12 17:24] sakshigoel12 commented on #292
For secure ingress
It is covered in poilet , need to add something in istio/istio

[2017-09-12 17:28] sakshigoel12 commented on #294
Covered by Bookinfo

[2017-09-12 17:28] #294 closed

[2017-09-12 17:29] sakshigoel12 commented on #295
We have them

[2017-09-12 17:29] #295 closed

[2017-09-12 17:29] sakshigoel12 commented on #296
We need something in istio/istio

[2017-09-12 17:31] sakshigoel12 commented on #298
Access control using whitelists e2e test

[2017-09-12 17:32] sakshigoel12 commented on #300
Tests are updated. Need to update docs

[2017-09-12 17:33] sakshigoel12 commented on #301
Need to add something to istio/istio

[2017-09-12 17:35] sakshigoel12 commented on #299
We have in pilot, Laurent is writing a e2e test

[2017-09-12 17:37] sakshigoel12 commented on #297
Test exists

[2017-09-12 17:37] #297 closed

[2017-09-12 17:39] sakshigoel12 commented on #185
We will get to as many as possible, making overall epic as P1 for 0.2

[2017-09-12 17:40] sakshigoel12 commented on #362
This is mainly for Galley. Not applicable anymore

[2017-09-12 17:40] #362 closed

[2017-09-12 17:46] sakshigoel12 commented on #486
@linsun can you update

[2017-09-12 17:46] sakshigoel12 commented on #488
PR for scripts is inflight

[2017-09-12 17:53] sakshigoel12 commented on #146
Mostly done, only clean up pending. and renaming files and get ride of rbac files

[2017-09-12 17:55] sakshigoel12 commented on #486
Raw VM flat testing. Did simple testing last week. MySQL running in VM on Bluemix. K8s in IBM cloud.

Most imp thing is to ping DNS and repos.  Costin and Lin to figure this out on hybrid slack

[2017-09-12 18:00] #392 closed

[2017-09-12 18:49] yutongz commented on #646
/unassign @yutongz
/assign @sebastienvas
Oncall transfer

[2017-09-12 18:51] yutongz commented on #606
Fixed

[2017-09-12 18:51] #606 closed

[2017-09-12 20:34] sakshigoel12 commented on #657
chxchx@ please could you provide an update here

[2017-09-12 20:39] #646 closed

[2017-09-12 20:45] xiaolanz commented on #640
This should fix when we have the new release.

[2017-09-12 20:48] xiaolanz commented on #607
duplicate to #606

[2017-09-12 20:48] #607 closed

[2017-09-12 21:17] #640 closed

[2017-09-12 21:19] ldemailly commented on #640
funnily we do have that issue right now - where it's not working and thus we can't make a release

something to beat people on the head with the build cop stick about I think

[2017-09-12 21:21] ldemailly commented on #598
joy you should be able to assign yourself to istio/istio issues - are you not ? if not let me know I'll try to find where to add you

[2017-09-12 21:22] ldemailly commented on #672
what is left is that it's not working yet because it tries to fetch https://github.com/istio/istio/issues/672#issuecomment-328227974
which does not exist...

[2017-09-12 21:23] xiaolanz commented on #598
Yes. But I'm await gnirodi@ to assign it to me officially for handoff. He was still holding on to it until the release is done.

[2017-09-12 22:27] chxchx commented on #657
https://github.com/istio/istio/pull/673
I have this PR ready but istio presubmit has been red for all pending PRs and will merge once tests are stable

[2017-09-12 22:42] myidpt commented on #299
Just talked with Laurent. I'm going to write the tests to cover:
https://istio.io/docs/tasks/installing-istio.html with Istio auth, in istio/istio/tests/e2e/tests/bookinfo.
And Laurent may write a minimal test for Istio auth, at somewhere else in istio/istio.

[2017-09-12 23:42] sebastienvas opened #757 "pilot e2e smoketest didn't detect istio/istio breakage with newer pilot"
@ldemailly commented on [Tue Sep 12 2017](https://github.com/istio/pilot/issues/1255)

see #1246 and https://github.com/istio/istio/pull/749
https://github.com/istio/istio/pull/753
https://github.com/istio/istio/pull/733

basically the new pilot doesn't work with latest because
a) config map change (fixed in 749)
b) routing rule issue (that one maybe due in part to mixer)

but the problem is smoke

[2017-09-12 23:53] sakshigoel12 commented on #506
@wattli can you add the details to explained in the morning to this bug

[2017-09-13 01:43] #757 closed

[2017-09-13 04:52] sakshigoel12 opened #764 "Add Task doc for Mixer: Open Policy Agent"

[2017-09-13 04:53] sakshigoel12 commented on #764
Doug can you triage to correct owner

[2017-09-13 04:54] sakshigoel12 opened #765 "Add Task Doc for Mixer: Stackdriver"

[2017-09-13 04:54] sakshigoel12 opened #766 "Add task doc for Mixer : TCP Config"

[2017-09-13 04:55] sakshigoel12 opened #767 "Integrating other service registry. Using consul, eureka with Istio"

[2017-09-13 04:56] sakshigoel12 opened #768 "Patform version supported (FAQ document)"

[2017-09-13 07:23] ldemailly opened #777 "ingress error in shared cluster"
W0913 05:50:45.201] E0913 05:50:45.199935     892 framework.go:197] Failed to complete Init. Error unable to find ingress ip

happens sporadically (probably related to a test finishing when one is starting)

e.g.
https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/739/e2e-suite-rbac-auth/524/

[2017-09-13 08:17] ldemailly commented on #606
fixed in #711

[2017-09-13 08:18] ldemailly commented on #607
fixed in #711

[2017-09-13 08:20] ldemailly commented on #299
ty! been busy with whackamole other issues sorry for delay

[2017-09-13 13:14] linsun commented on #768
K8S 1.7.4 is required at this moment, and the corresponding kubectl.  Is there any other platform version requirement?

[2017-09-13 13:16] linsun commented on #767
Part of this is done in #681.  cc @ijsnellf would like to have similar docs for Eureka.

[2017-09-13 15:25] andraxylia commented on #777
We need to see if this is still an issue after the rbac changes. @myidpt is the right person to look at it, last time we saw the issue was because certifs were not available.

[2017-09-13 16:03] xiaolanz commented on #727
Istio uses Kubernetes load balancing mechanisms and ingress. You can find how to setup ingress rule in detail at https://kubernetes.io/docs/concepts/services-networking/ingress/#simple-fanout

Kubernetes have three kinds of load balancing: in-cluster (pod level), L4 (vm level) and L7 (ingress level)

[2017-09-13 16:50] linsun commented on #686
Auth FAQ:  we don't support headless service with auth.   if you use headless service, you need to disable auth.
we don't support service enable/disable auth on a service level.

if you use k8s health check, you need to disable auth.

[2017-09-13 17:36] myidpt commented on #777
I have the experience of waiting long for the ingress service to get an external IP. So I suspect this is just because the delay of K8s external IP provision. It seem to me the cert volume mount is unrelated, because the volume mount could fail the ingress deployment, but not the ingress service.

Should we try to increase the retries?
https://github.com/istio/istio/blob/master/tests/e2e/util/kube

[2017-09-13 18:24] ldemailly commented on #777
increasing retries doesn't help; it always fail when it fails, it waits 4 minutes or so already

I'm pretty sure we are causing the failure indirectly, we do need to dump more information while we wait or when we fail (use mandar's debug functions)

[2017-09-13 18:46] andraxylia commented on #777
@myidpt you are right, it is not related to certs.

[2017-09-13 19:28] linsun commented on #686
I hit an issue when put this app working with istio today:  https://github.com/IBM-Bluemix/investment-insights-for-asset-managers

The web page didn't load (it only has title and blank page but source is correct).  I can access the service via node port fine.
My ingress had configuration like this:

[code]

It turned out i need to configure path with `- path: /.*` so that the .css and .js from the

[2017-09-13 19:41] linsun opened #783 "Unable to access my application when using istio ingress and put in a non-root path"
Here is my app:  https://github.com/IBM-Bluemix/investment-insights-for-asset-managers

When I try to run it, I can always access it via k8s node port.  When I try to access via istio ingress, it works with this configuration:

[code]

however, if i choose to put it under /investment, not /, like:

`      - path: /investment/.*`

It stops working.  curl {istio-ip}/investment returns the right sour

[2017-09-13 20:32] sakshigoel12 opened #785 "Samples Page"
Shriram, opening this issue for samples

https://docs.google.com/document/d/1veSJJJUU9vEh1NWeVuoDwiAUmSCvOjtxUP2sGEU-xdg/edit#

[2017-09-13 20:33] sakshigoel12 commented on #785
We would ideally like this completed before the Community Hackathon

[2017-09-13 20:37] sakshigoel12 opened #786 "Glossary Update for 0.2"

[2017-09-13 20:38] sakshigoel12 opened #787 "Release notes for 0.2"

[2017-09-13 21:00] ldemailly commented on #777
I'm pretty sure it's not GKE but us leaking resources or doing something wrong, we should have a smoking gun before we think it must be GKE; it's not a good philosophy to assume one's code is perfect and bugs must be elsewhere (even though that may end up being the case rarely)

[2017-09-13 21:01] hzariv opened #15763 "jwt-auth: "x5u" (X.509 URL) header parameter support"
Please add support for "x5u" (X.509 URL) Header Parameter in JWS.

https://tools.ietf.org/html/rfc7515#page-11

[2017-09-13 21:04] sakshigoel12 commented on #787
https://istio.io/docs/reference/release-notes.html

[2017-09-13 21:08] sakshigoel12 opened #788 "Update Concepts on the website"

[2017-09-13 21:44] ldemailly commented on #653
this was fixed when the ingress stopped receiving all namespaces

[2017-09-13 21:44] #653 closed

[2017-09-13 22:53] clintberry commented on #785
@sakshigoel12  When is the community hackathon and how do we contribute?

[2017-09-13 22:53] rshriram commented on #785
Thanks! cc @frankbu

[2017-09-13 22:55] rshriram commented on #767
@linsun this is for the istio docs tasks.
cc @GregHanson

[2017-09-13 22:58] rshriram commented on #783
Cc @kyessenov

[2017-09-14 01:35] linsun commented on #686
https://github.com/istio/istio/blob/8ae717d11fbfbc519bdd0c9c1877f1cbc752f34f/samples/apps/bookinfo/rules/rule-changes.md

[2017-09-14 04:45] sakshigoel12 commented on #785
@clintberry we will share details soon. Just trying to tie up lose ends

[2017-09-14 06:46] yutongz opened #799 "Mixer test failed during setup in new-cluster test"
It takes time to pull all images needed in the new-cluster test, for now simply extend the timeout. Should have a better to wait until pulling images finishes.

One example here: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/789/new-e2e-rbac_no_auth/244/

[2017-09-14 15:02] #185 closed

[2017-09-14 15:02] #645 closed

[2017-09-14 16:57] kyessenov opened #807 "Update istioctl to remove old mixer configuration endpoint"
Three steps:
- [x] update tests not to rely on istioctl
- [x] update istioctl to remove mixer subcommand
- [x] update docs for all calls to configure mixer

[2017-09-14 18:51] mandarjog commented on #807
https://github.com/istio/istio/pull/809  --> update tests not to rely on istioctl

[2017-09-14 20:27] ldemailly commented on #724
what is the complete list ? can we write a script that makes the updates everywhere ?

[2017-09-14 20:49] mandarjog commented on #807
https://github.com/istio/pilot/pull/1274 --> update istioctl to remove mixer subcommand

[2017-09-15 00:24] ldemailly commented on #690
in the simplified env there is no regression, on the contrary there is significant improvements compared to 0.1

[2017-09-15 01:13] ldemailly commented on #632
There is relevant discussion in newly filled https://github.com/istio/pilot/issues/1272 but this issue is istio wide not only pilot related

[2017-09-15 02:12] ldemailly commented on #799
+1 on 'should have a better way' - follow up ?

[2017-09-15 02:16] yutongz commented on #799
Let's do this after 0.2. Together with all other "sleep and wait" in tests, replace them with "check and wait"

[2017-09-15 03:17] ldemailly commented on #643
another example:
https://github.com/istio/istio/pull/815

[2017-09-15 03:18] ldemailly commented on #643
@sebastienvas is there a quick/easy fix here ?

[2017-09-15 05:42] sebastienvas commented on #643
Yes better code reviews

[2017-09-15 05:45] sebastienvas commented on #643
Just kidding, yes that should be easy to check.

[2017-09-15 06:26] sebastienvas commented on #799
@ldemailly, if you have an idea, we will gracefully review your PR :)

[2017-09-15 06:38] sebastienvas commented on #724
as of today the list is istio, mixer, pilot, auth, proxy, mixerclient, api.
mixer, pilot, auth, proxy actually provide artifacts so it should be easy to update the tool that we have to include proxy, the remaining 2 are kind of not easy to do as the mixerclient and api are barried in proxy files and as we pointed out pilot might use a different version that proxy uses etc.... I think we should lim

[2017-09-15 09:22] scraly opened #822 "istioctl error on alpine"
Hi,

I create a Dockerfile and I RUN cmd inside in order to install istio and have istioctl command in a docker container.

Here the Dockerfile:

[code]

[code]

[code]

Why istioctl is not found even it exists?

Thanks

[2017-09-15 12:12] rshriram commented on #822
Try chmod +x on the istioctl to see if that helps
On Fri, Sep 15, 2017 at 5:22 AM Aurelie Vache <notifications@github.com>
wrote:

--

~shriram

[2017-09-15 13:02] rshriram commented on #727
Hi
GRPC load balancing is just like any other http service. As long as you
name the service port as http2 or gRPC things should work in 0.2.x
releases. 0.1.6 release has a bug.
On Wed, Sep 13, 2017 at 12:04 PM Joy Zhang <notifications@github.com> wrote:

--

~shriram

[2017-09-15 13:57] scraly commented on #822
chmod, chown doesn't help

after hourts of analysi we fond the issue!

It woks when we use alpine-glibc base image instad of alpine!
It works too with debian for example.

I thinks it should be useful to add this infomation in the istio documentation.

[2017-09-15 14:02] arunkjn commented on #727
ok thanks! will try it out

[2017-09-15 16:36] ldemailly commented on #724
let's try to do all as they all directly or indirectly contribute to the binaries

do you have a file list?

[2017-09-15 17:48] ldemailly commented on #822
xenial is the platform we support for now if you don't build your own from source

not sure why you'd want to use alpine ?

[2017-09-15 17:52] ldemailly commented on #799
thankfully in 0.3 we'll have 100% of team working on that kind of stuff, not just a handful of people

[2017-09-15 18:10] #788 closed

[2017-09-15 18:10] ldemailly commented on #788
Issue moved to [istio/istio.github.io #449](https://github.com/istio/istio.github.io/issues/449) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-15 18:14] ldemailly commented on #788
@sakshigoel12 we should open website content issues directly in https://github.com/istio/istio.github.io/issues/
in the future

only if a doc change also happens in istio/istio (like the *.md here) or has cross repo work (like updating comments in api repo to regenerate docs on website,...) should it be in istio/istio

this being said I saw there are a bunch of new docs tagged issues and I won't c

[2017-09-15 18:16] ldemailly commented on #744
does curl http://helloworld:5000/ work ?
why do you expect localhost to work (unless you use kubectl port-forward ?)

[2017-09-15 18:25] #643 closed

[2017-09-15 18:28] scraly commented on #822
The aim is to build small size image. Alpine is known to be tiny.

Is it documented the support of xenial?
Thx.

[2017-09-15 18:41] ldemailly commented on #643
verified in https://github.com/istio/istio/pull/823
thank you

[2017-09-15 18:42] sebastienvas commented on #724
I ll automate proxy. The rest is not straightforward.

[2017-09-15 18:50] faxg opened #824 "Injecting sidecar breaks websocket connection"
Deploying Node-red on k8s and exposing through ingress works fine until I modify my deployment to inject istio sidecar.

```kubectl describe ing```
-->
[code]
Now, if I do
[code]
the websocket connection from the editor does not work anymore:
![image](https://user-images.githubusercontent.com/3209819/30498406-efe6c138-9a56-11e7-977d-f12b70b01139.png)

I tried both ingress annotations ```kubernetes

[2017-09-15 19:58] linsun commented on #686
transparent injection alpha feature enablement:  https://kubernetes.io/docs/admin/extensible-admission-controllers/#enable-initializers-alpha-feature

[2017-09-15 20:32] kyessenov commented on #824
cc @rshriram as a websocket expert

[2017-09-15 20:40] kyessenov commented on #822
Our build infrastructure is built entirely on xenial, and the shipped binary is built on xenial. Is a static build of istioctl better?

[2017-09-15 20:41] sebastienvas commented on #598
I am finding this bug kind of useless, I think the list of bug is good enough for handover. Re-open if you don't agree

[2017-09-15 20:41] #598 closed

[2017-09-15 20:56] #727 closed

[2017-09-15 21:57] ldemailly commented on #822
I think if you checkout pilot in your alpine and bazel build istioctl there it should work

but you can get an even smaller image if you wanted by having no base at all, for instance:
https://github.com/istio/istio/blob/master/devel/fortio/Dockerfile

[2017-09-15 22:00] ldemailly commented on #822
we may have a bug in how istioctl is built though I guess (as it should be static too)
to be confirmed

[2017-09-15 23:17] hzxuzhonghu commented on #744
because it is nodeport service.

[2017-09-16 02:17] ldemailly commented on #783
related: I don't see the translated path in the envoy access log

also we need to improve the doc as it's not clear at all what happens with  path: /foo/.*

if I call /foo/A/B does it mean it goes to svc as /A/B (which I'd like) or something else ?

[2017-09-16 02:49] ldemailly commented on #783
looks like you'd need to use
https://istio.io/docs/reference/config/traffic-rules/routing-rules.html#istio.proxy.v1.config.HTTPRewrite

but I'm still trying to get it to work

[2017-09-16 22:26] ldemailly commented on #682
#833 is/has an evolving example of that

[2017-09-17 00:44] ldemailly commented on #783
I've put details of my issue in https://github.com/istio/pilot/issues/1288

[2017-09-17 01:56] ldemailly opened #839 "validation (presubmit and for developers ) is slow, we should make an image"
we should make a docker with jekyll + bundle install to save a lot of time when validating or serving the website

[2017-09-17 22:48] sakshigoel12 opened #844 "Review and update Readme.md for this istio repo."
This should be mainly good. just fresh review before 0.2

[2017-09-18 16:18] xiaolanz commented on #777
any progress on this bug?

[2017-09-18 18:10] andraxylia opened #849 "Istio Scale & Performance"
Epic tracking overall Istio scale & performance, used for grouping various issues.

[2017-09-18 18:14] andraxylia opened #850 "Add cluster-wide option in e2e tests"

[2017-09-18 18:15] andraxylia opened #851 "Convert Istio templates to helm style"

[2017-09-18 18:17] ldemailly commented on #777
I'm not looking at it, I'm writing some basic test that are somewhat related but not specifically looking at this. I think oncall or someone else familiar with ingress should

[2017-09-18 18:26] xiaolanz commented on #777
I didn't see any recent errors on this. close it for now. Reopen when new incident is found.

[2017-09-18 21:41] ldemailly commented on #851
I don't think we should do this for 0.2 unless it's somehow super straightforward, it's an unplanned new feature

[2017-09-18 21:42] ldemailly commented on #839
sorry I filled this in the wrong repo, moving it

[2017-09-18 21:43] ldemailly commented on #839
Issue moved to [istio/istio.github.io #466](https://github.com/istio/istio.github.io/issues/466) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-18 21:43] #839 closed

[2017-09-18 21:58] andraxylia commented on #851
It requires just replacing the syntax in the templates, it's not a new feature, and there are no code changes.

[2017-09-19 00:05] ayj opened #858 "Test sometimes start too soon after cluster is created"
Tests sometimes start too soon after the cluster is created but before it is ready. As a result the test fails, e.g.

[code]

[2017-09-19 00:28] ldemailly commented on #851
the feature (as far as I understand) is to (re-)use the helm engine to do variable substitution in our templates,
that sounds great but again not sure now is the right time, maybe we should finish up creating the N yamls the way we've been doing so far and only what we need to check in and consider that change for when we have more time to think it through (unless again it's very straightforward,

[2017-09-19 05:38] ldemailly opened #861 "unecessary redownload of istioctl slows down dev+test cycle"
each time I run my test and the test code change or the test fails, for instance
[code]
the same istioctl is re-downloaded:

[code]

[2017-09-19 05:41] ldemailly commented on #858
the generalization of the issue here is we need to have a "IsReady()"  function somewhere that isn't just doing kubectl get svc

[2017-09-19 05:41] ldemailly commented on #849
there is already an epic for this for 0.2 btw

[2017-09-19 06:01] ldemailly commented on #861
cc @andraxylia to explain "by design, it’s correct behaviour" (oh can it be correct behavior to redownload the exact same istioctl by sha more than once)

[2017-09-19 06:11] andraxylia commented on #849
where?

[2017-09-19 06:12] andraxylia commented on #861
It is correct to download the version specified in istio.VERSION, and test against it.

[2017-09-19 07:51] ldemailly commented on #861
that's not what I asked about on slack nor wrote here

[2017-09-19 07:53] ldemailly commented on #849
https://github.com/istio/istio/issues/369
but we can have a different one for 0.3 / time to switchover some tasks

[2017-09-19 08:12] ldemailly commented on #861
source if the download is https://github.com/istio/istio/blob/6f17cf513217c13422cc55724a4ef2dfbc3398b6/tests/e2e/framework/istioctl.go#L113

and a workaround is to download manually and then use -istioctl location but that doesn't work inside bazel run

once I have a short version I'll update https://github.com/istio/istio/blob/master/tests/e2e/README.md
(if there is any Bazel guru listening, ther

[2017-09-19 10:03] effoeffi opened #863 "service-graph installation should use specific version"
Hello,

Istio version 0.1.6 installation, service-graph kubernetes deployment (servicegraph.yaml) uses `latest` as servicegraph docker image tag (`gcr.io/istio-testing/servicegraph:latest`), see:
[code]
https://github.com/istio/istio/releases/tag/0.1.6

Effi

[2017-09-19 13:26] linsun opened #864 "Need to push book info consul image into istio docker repo"
https://istio.io/docs/setup/install-consul.html assumes that docker images for book info are already built.  while users can use build-docker-services.sh to build it, it is best we also push these images to istio docker hub as each point release like the other book info docker images.

[2017-09-19 15:33] andraxylia commented on #849
Moved the two issues to #369 and closing in favor of #369, whose milestone needs to be changed to 0.3.

[2017-09-19 15:33] #849 closed

[2017-09-19 15:33] andraxylia commented on #369
Changed to P0 since this will be the focus in the next release.

[2017-09-19 17:25] #767 closed

[2017-09-19 17:25] rshriram commented on #767
Issue moved to [istio/istio.github.io #469](https://github.com/istio/istio.github.io/issues/469) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-19 17:29] #548 closed

[2017-09-19 17:29] rshriram commented on #548
Issue moved to [istio/istio.github.io #470](https://github.com/istio/istio.github.io/issues/470) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-19 20:08] sakshigoel12 commented on #785
@clintberry its setup for 25th. Here is the signup form https://docs.google.com/forms/d/e/1FAIpQLSfIQAGkbg1IDBcqB-cW2QVK5IMpig_QutrR0o6KTOr9RtNXEw/viewform

@rshriram @frankbu how far are we on this? it would be nice to start getting the team to test out the samples.

[2017-09-20 00:52] chxchx opened #874 "//tests/e2e/framework:go_default_test surfaces as PASS when error"
[code]
@andraxylia puts it: "This is an example of a not so good tests, it only says build failed at the end, with nothing else:
https://storage.googleapis.com/istio-prow/pull/istio_istio/860/istio-presubmit/1213/build-log.txt
or maybe build failed after tests have run means some test has failed?"

[2017-09-20 00:54] chxchx commented on #874
The reason for passing despite errors is that when the unit test calling `RunTest()` did not check for the int return code. Will fix this soon.

[2017-09-20 01:21] chxchx commented on #874
Also, those lines of errors you see are as expected since the unit tests have test cases that intentionally make an init error or tear down error to see to error propagates.

[2017-09-20 01:25] chxchx commented on #874
Fix in https://github.com/istio/istio/pull/875

[2017-09-20 06:30] douglas-reid commented on #863
@sebastienvas this issue will be important for 0.2.x, as the code for servicegraph has been slightly updated recently.

servicegraph is a bit of a strange image, as it has previously been treated as an example service. however, it is widely-used, and we should probably track it appropriately.

[2017-09-20 15:05] douglas-reid opened #878 "Provide way for users to change Mixer config default namespace"
We should provide an easy way to update the default config namespace of Mixer for users that don't want to use `istio-config-default`.

This is blocked by changes in https://github.com/istio/istio/pull/866.

[2017-09-20 15:35] douglas-reid opened #879 "Problematic `source.ip` attribute from ingress"
I set up a fresh test cluster with istio + bookinfo sample. When I make a request, via the browser on my laptop to `http://<ingress ip addr>/productpage`, I see the following attributes in the mixer logs:

[code]

Note: `source.ip` is set to `10.150.0.5`.

This causes downstream issues, as Mixer attempts to derive `source.service` and `source.namespace` information from `source.ip` when `source.ui

[2017-09-20 16:56] kyessenov commented on #879
My guess is that IP is being reused by cloud LB for something. That means it's not wrong to send source.ip from proxies, but it's not reliable. Can we not derive source attributes for ingress?

[2017-09-20 17:56] sebastienvas commented on #863
you just need to add it to https://github.com/istio/mixer/blob/master/bin/publish-docker-images.sh, and that should be it.

[2017-09-20 19:00] mandarjog opened #882 "Design Istio wide config status mechanism"
K8s has a standard way to get  status for a resource.
For most resources `status` gets attached as a sub resource.

`kubectl get pods podname`
gives you
[code]

We need a mechanism to query the status of a configuration resource.
There are 2 choices
1. We ask the API server for this info like other k8s resources. However different Istio components will have their own view of the configuration and

[2017-09-20 19:07] frankbu opened #884 "e2e must confirm there are no errors while waiting for rules to propagate"
In demo_test.go, applyRules() simply waits for 30 secs to allow the rules to become active:
[code]
This is not good enough. It should, instead, continue to call the productpage service, to make sure the service is not returning errors, or better yet continues to return the previous version, until the change takes affect.

[2017-09-20 19:59] ldemailly commented on #506
it likely won't be fixed in the very first 0.2 release but should be soon after depending on your exact case (for instance access to k8s api server and https services should be first to get working)

[2017-09-20 20:16] linsun commented on #686
yea, i can make a reference in FAQ.  if your service is deployed in v0.1 and after update to 0.2, your service doesn’t work, please uninstall your app and reinstall it.

If install 0.2 failed, make sure istio is uninstalled first:  https://istio.io/v-0.1/docs/tasks/installing-istio.html#uninstalling

[2017-09-20 21:12] ldemailly commented on #686
it's not "if" they should uninstall first

[2017-09-20 21:58] andraxylia commented on #146
Fixed in #860

[2017-09-20 21:58] #146 closed

[2017-09-20 21:59] #338 closed

[2017-09-20 22:19] ldemailly opened #888 "(vm support) istio debian packages should not pollute /usr/local/bin"
We install binaries that are only called by systemd or other scripts into /usr/local/bin
on the user's machine/VM (not a container)

That's a problem in itself which is compounded because we also use very generic names (eg node-agent for auth) which are more likely to collide with existing software on the machine

I believe should put all our software under $PREFIX - for instance /usr/local/istio

[2017-09-20 22:26] kyessenov commented on #882
1. Why would multiple components collide on a single resource? This approach has more technical challenges. For example, ingress controllers go through the whole leader election cycle to prevent multiple writes to the same ingresses.

2. What does it mean for a config intent to have status? In case of pilot, does that mean some pilot picked up the rule and some proxy fetched it? I think it's diffi

[2017-09-20 22:28] kyessenov commented on #882
Please don't add ad-hoc status sub-resources until we properly design the semantics.

[2017-09-20 22:33] costinm commented on #888
+1 - also should probably be a (semantically) versioned directory, and use consistent naming across repos.

Not clear if double-istio is needed - i.e. /opt/istio/bin/istio-envoy vs /opt/istio/bin/envoy, or how this interferes with distros ( debian, etc ) that may want to package using LSB conventions. A doc
considering all implications would be nice ( i.e. interaction with spiffee, alternative ins

[2017-09-20 22:43] #874 closed

[2017-09-21 00:48] ldemailly opened #890 "istio install file parity"
right now we have
[code]
we discussed that
[code]
and
[code]
would be more clear and make it more likely a user would understand the choice

cc @rshriram @andraxylia

only downside is there is a lot of references to istio.yaml and istio-auth.yaml from 0.1 and tests that would need update. a less risky alternative may be to only change it on the release tgz and the website

or just leave with it un

[2017-09-21 01:13] andraxylia commented on #890
I propose we wait until auth will be on by default, and we can toggle auth on and off. At that point, there will be just istio.yaml.

[2017-09-21 01:15] linsun commented on #890
I would prefer to leave as it is today.

[2017-09-21 01:44] linsun commented on #890
sorry i was not super clear, that was a statement for 0.2.   because we have a lot of work right now for 0.2 and istio.yaml generates no confusion for me... plus like you said a lot of references.

[2017-09-21 02:16] ldemailly commented on #863
or if it doesn't happen, like bookinfo manually push it

[2017-09-21 03:43] rshriram commented on #506
@prune998 we have support for headless services in master. If you are feeling a bit adventurous, we would appreciate some feedback if you could try out the istio.yaml from istio/istio master branch. You need to make sure that you name the ports for headless services, and that the port on which the headless service is listening does not collide with istio-fied service ports (e.g., both headless and

[2017-09-21 03:43] costinm commented on #882
Keep in mind hybrid / multi-region will also change the semantics of this
in 0.3 ( and I assume this is needed for 0.3 or
later ). Various proposals in hybrid involve sync / replication - we should
embrace and accept 'eventually consistent',
attempting to get global status is tricky.

What feature depends on knowing the exact status - and can we avoid this ?

Costin

On Wed, Sep 20, 2017 at 12:00

[2017-09-21 05:31] mandarjog commented on #882
#2 asks every component about its view of config resources including status, I.e. Does the configuration make sense to the component and was it able to act on that configuration.

In this case we don't need to have a globally consolidated view, it is eventual consistency friendly.

Re: need to know system status, I don't think we need to know anything. From a user perspective, say that I revoked a

[2017-09-21 10:48] prune998 commented on #506
that's a good news. Will try it today.
Thanks.

[2017-09-21 15:18] costinm commented on #882
If it's for debugging purpose, it seems very reasonable for each component
to be able to report its status, version, etc
Even for monitoring purpose, you can have each component report the
timestamp or version of last config it
got, or some sha.

What doesn't work so well is if you have code that relies on status - and
tries to act on it, like 'wait
until status is applied on all components, do so

[2017-09-21 18:39] linsun commented on #486
waiting for the deb file in the next release to try this.

[2017-09-21 18:41] linsun commented on #864
Did some investigation and consulted @sebastienvas -- this is unfortunately harder than I had thought before the flat build is in place.   we don't currently run bin/release script in istio repo which is where the consul images are built today.  defer this to 0.3 and push the images manually for now.

[2017-09-21 19:54] linsun commented on #768
https://github.com/istio/istio.github.io/pull/487 documented this already.

[2017-09-21 19:54] #768 closed

[2017-09-21 20:29] arunkjn opened #898 "kubernetes 1.5.x"
Hi,

I wanted to ask if istio is compatible with k8s 1.5.x? As I saw in the getting started docs, it assumes k8s 1.7.x is present.

My use case revolves around just using envoy as an edge router to ingress to a grpc service and also do in cluster load balancing (service to service) for the same service.

[2017-09-21 20:38] yutongz commented on #799
/reopen
Better fix in https://github.com/istio/istio/pull/899

[2017-09-21 20:43] yutongz opened #900 "GKE cluster is not reachable right after being created"
There is a chance that a cluster is not reachable right after we create it on fly, we need to double check and make sure it's connectable before moving to next step.

One example: https://k8s-gubernator.appspot.com/build/istio-prow/pull/istio_istio/872/new-e2e-rbac_no_auth/374/

[2017-09-22 02:08] ldemailly commented on #898
0.1.6 is compatible with k8s 1.5
0.2.x requires at least 1.7

[2017-09-22 02:08] #898 closed

[2017-09-22 02:13] rshriram commented on #890
I would opt for istio-noauth and istio-auth.yaml.. The reason is because, once defaults go out, its going to be hard to change perceptions and systems that rely on really not having auth or some features, will break when they install an istio.yaml which has auth turned on by default. It also makes the two options very clear in the docs.

[2017-09-22 03:25] ayj commented on #900
dup of https://github.com/istio/istio/issues/858?

[2017-09-22 04:44] yutongz commented on #900
@ayj Yes! Didn't notice you created one.

[2017-09-22 04:46] yutongz commented on #900
/close due to duplication.

[2017-09-22 04:56] andraxylia commented on #890
There will be just istio with auth pretty soon, and a single istio.yaml file, with the option of toggling encryption on/off via some config/configMap.  The current model helps with the transition. A better change would be to have istio and istio-noauth, and get rid of istio-noauth in 0.3.

[2017-09-22 12:34] prune998 commented on #506
building the whole stack from master seems to be a mess... I think I'll wait until release (or nightly ?)

[2017-09-22 13:12] prune998 commented on #506
@rshriram do you have a pointer to the commit that added headless services support ?
Thanks

[2017-09-22 15:41] stepanv opened #905 "accessing service mesh services from a regular ones"
This is related to https://github.com/istio/istio/issues/506 except that the problem is the other way around.

First of all, I'm not sure if following is not working by design, so maybe it's not a bug. It is also possible that it requires extra configuration (e.g., it doesn't work out-of-box) but I was unable to find any documentation in that regards.

## Problem description
I'm unable to access a

[2017-09-22 15:42] stepanv commented on #905
I also asked about this at SO: https://stackoverflow.com/questions/46348917/accessing-istio-enabled-k8s-pod-from-a-service-outside-of-the-mesh

[2017-09-22 17:21] rshriram commented on #905
can you get the access logs from Envoy on that pod ?
Also, when accessing that service, can you use the host header like
curl -H "servicename..." ...

[2017-09-22 19:37] stepanv opened #908 "The Istio Reference doc seems to be empty"
Navigating to https://istio.io/docs/reference/ I only see the `Reference` heading and one sentence about Reference doc. There is no navigation tree which used to be there I think. There is no way how to continue in reading the Reference docs.

[2017-09-22 19:39] ZackButcher commented on #908
We're in transition getting docs together for our 0.2 release. Unfortunately as a side-effect we broke the main site. You can find the previous docs at https://istio.io/v-0.1/docs/.

[2017-09-22 19:45] kyessenov commented on #506
https://github.com/istio/pilot/commit/29f0f191c7989648d47979e582c22acdd8d7311f from two weeks ago.

[2017-09-22 20:18] stepanv commented on #905
The only way to see a record in the access log, such as
[code]
is to do a http call (such as by using `curl`) from an Envoy enabled service && a port named `http` has to be used && the hostname of the service has to be used; e.g., `curl service-a:8080`.
That being said, I don't see any record in the access log when reproducing my issue.

Regarding the
[code]
what do you exactly mean? Maybe if you

[2017-09-22 20:21] ZackButcher commented on #908
Closing as "broken as intended" right now - we'll have full docs up for 0.2 in the next few days, and all of the pre-existing docs are still there, if a little hidden.

[2017-09-22 20:21] #908 closed

[2017-09-22 20:50] kyessenov commented on #905
I think @rshriram 's guess is that for HTTP services we rely on host header information to route traffic. If you look here https://github.com/istio/pilot/blob/master/proxy/envoy/testdata/rds-v0.json.golden#L16, you can see both host names and service cluster IP address in the list of domains to route to a particular service. The suggestion is to supply host header `curl -H` that matches your servi

[2017-09-22 21:35] stepanv commented on #905
I see. Nope, adding a header, in my case `curl -H "$(printf "Foo: bar\r\nservice-a.default.svc.cluster.local")"` doesn't change anything. (It's tricky because curl normally requires a colon in each header.)
In the `service-a` pod, I can see the request arriving with `tcpdump`, the header is there, but it disappears (It's definitely not forwarded to my `netcat` and Envoy doesn't log anything). :(
[

[2017-09-22 21:45] ldemailly commented on #905
@stepanv he means
[code]
which is the same as
[code]

[2017-09-22 22:10] frankbu commented on #905
@stepanv This may be fixed in 0.2.4. I just tried a very similar experiment using the sleep and httpbin sample services and it works fine.
[code]
Am I missing something special with your scenario?

[2017-09-22 23:06] rshriram commented on #905
Try launching the sleep pod without a service and see if that works.
On Fri, Sep 22, 2017 at 6:10 PM Frank Budinsky <notifications@github.com>
wrote:

--

~shriram

[2017-09-22 23:40] rshriram commented on #851
@lachie83 can you take a crack at this? Many of our users love the helm charts that you guys did. So we would like to make sure that the helm charts for 0.2.x are well tested before public consumption. Also, it would be great if you could fix the helm versions. The 0.2 helm chart installing 0.1.x has been thoroughly confusing for some of our end users.

To be clear, the 0.2.4 is not the final rele

[2017-09-23 02:43] ldemailly commented on #777
it's back (see a bunch of failing PRs https://prow.istio.io/?job=e2e-suite-rbac-auth since about 6pm)

cc @andraxylia who has most affected PRs

might need an ingress cleanup (and find the source of the leak ?)

[2017-09-23 03:00] ldemailly commented on #851
note that this task is slightly different from the helm chart themselves

See https://github.com/kubernetes/charts/issues/2297 for cleanup request of confusing helm versions

See https://github.com/kubernetes/charts/issues/1909 for having helm charts for 0.2 series

[2017-09-23 04:12] lachie83 commented on #851
Sure. I'd love it. Thanks for asking. Would it be worth jumping on a quick call to straighten out the details then I'll write up a proposal in Github?

[2017-09-23 12:35] stepanv commented on #905
Thanks @frankbu, I'll give it a try with Istio 0.2.4 (I maybe should have tried newer, I just wanted to be sure what should work _by design_).
With 0.1.6 it doesn't work, I get `Connection reset`
[code]

[2017-09-23 18:10] sdake opened #918 "profile instructions in devel/README.md need a slight improvement"
The current documentation recommends resetting GITHUB_USER and ISTIO each time a Istio related repository is cloned.  That needs a bit of clarification.

[2017-09-24 00:19] immortalHuang commented on #506
in the 0.2.4,i add zookeeper into service mesh but i can not access zookeeper, even inside the zookeeper cluster.

[2017-09-24 13:56] sdake opened #922 "Port Istio repo to CentOS"
Port the istio/istio repository to use CentOS based images.  From initial observation, this mainly effects the mixer, mixer_debug, iptables, and proxy_init containers.  There are two possible solutions:

1. Build ubuntu and centos based versions of these containers
2. Statically link mixs and xtables-multi.  mixs uses many system shared objects which may be lacking static libraries for the various

[2017-09-25 00:07] gyliu513 commented on #851
@lachie83 @rshriram @ldemailly I think we want a stable version before update the helm charts for istio based on the request here https://github.com/kubernetes/charts/issues/1909

[2017-09-25 00:09] gyliu513 opened #925 "Adding `nodeSelector` to istio deployment files"
A related PR for helm chart of istio is in fly https://github.com/kubernetes/charts/pull/2320

[2017-09-25 01:29] rshriram commented on #851
@gyliu513 stable version will not help when we start doing weekly releases. We need a mechanism for users to specify the version they want or pick a helm chart corresponding to the minor version (0.2.x, 0.3.x, etc).

[2017-09-25 01:45] gyliu513 commented on #851
@rshriram ok, I see, I think that now the helm chart should already have such capability to handle different versions. @lachie83

[2017-09-25 04:11] sdake commented on #922
Note the istio user issue  tracker for this problem is here: https://github.com/istio/issues/issues/56

[2017-09-25 04:12] sdake commented on #922
Dependent mixer patch is here: https://github.com/istio/mixer/issues/1347

[2017-09-25 08:43] stepanv commented on #905
I guess this is the resolution of this issue.

With Istio `0.2.4`, accessing service-mesh service from a regular one works perfectly
[code]

Whereas with Istio `0.1.6` none of that works. In both cases the connection is reset by peer.

I suppose the `0.1` won't be maintained anymore and everyone is encouraged to upgrade to `0.2` even though it's still a _pre-release_, right?

[2017-09-25 12:10] gimaker commented on #549
Running istio from master I can confirm that requests succeed even if mixer is unavailable, so the bug seems to be fixed and this issue can be closed. (I did notice latency increasing by 2 seconds when mixer is unavailable, which I assume is expected.)

Maybe I'm daft but I still think it's very non-intuitive that "fail-open" means that requests are allowed when mixer is down (no current flows in

[2017-09-25 13:01] #549 closed

[2017-09-25 15:42] mandarjog commented on #807
done.

[2017-09-25 15:42] #807 closed

[2017-09-25 15:47] stepanv opened #928 "Istio service creation results with unexpected http errors such as 431 and 404"
Upon a sequential creation of 2 Envoy enabled services, the http communication between them (i.e., client -> server) results with unexpected errors.

On the client side, the progression of http errors received is:
`404` (not always), then `503`, then lot of `431` (not always) and finally `200`.

On the server side, I can see in the access log: `503`, hundreds of `431` per second, hundreds of `200`

[2017-09-25 18:52] lachie83 commented on #851
@rshriram can you confirm that I'm clear to cut a chart for 0.2.4 pre-release? I've created a release variable in the chart values so it should be simple enough to update that value once we have the 0.2.x kubernetes resources updated. See https://github.com/kubernetes/charts/blob/master/incubator/istio/values.yaml#L6

[2017-09-25 20:49] linsun opened #935 "can't get service graph to work"
following instructions on https://istio.io/docs/setup/kubernetes/quick-start.html#verifying-the-servicegraph-service on a k8s 1.7.4 on bluemix, but service graph doesn't work.  The page seems to trying to load, and I see the Tiny example as the title but no other content.  the log is pretty empty:

[code]
 http://localhost:8088/graph returned
```{"nodes":{},"edges":[]}```

[2017-09-25 21:27] redhotpenguin opened #936 "No services available through Jaeger on Istio 0.2.4"
After having setup Jaeger via, [https://istio.io/docs/tasks/telemetry/distributed-tracing.html](https://istio.io/docs/tasks/telemetry/distributed-tracing.html), the dashboard is accessible but the services select box only contains a `-`.

Environment - macOS Sierra. Versions of relevant brew packages are:
[code]

jaeger-deployment pod is running:
[code]

Jaeger services are running
[code]

[2017-09-25 21:39] ZackButcher commented on #936
We should repro w/o any Zipkin components - I wonder if there's something funky in Envoy that makes the swap from Zipkin to Jaegar at runtime break things?

[2017-09-25 21:49] frankbu commented on #905
Actually, 0.2 is about to be released. Other than any last minute bug fixes and documentation changes in 0.2.5, it's basically done.

[2017-09-25 22:26] gyliu513 commented on #935
@linsun you may also want to deploy bookInfo if want to see some graphs.

BTW: There are three endpoints for servicegraph as here https://github.com/istio/mixer/tree/master/example/servicegraph#servicegraph-service

- /graph which provides a JSON serialization of the servicegraph
- /dotgraph which provides a dot serialization of the servicegraph
- /dotviz which provides a visual representation of

[2017-09-25 22:49] zeroum commented on #935
The graph appears after deploying some services, like BookInfo. In the BookInfo guide, you can get your GATEWAY_IP in Bluemix by running `bx cs worker-get YOUR_WORKER_ID --json | jq '.publicIP' -r`

Anyways, it's a bit misleading to have that servicegraph section in the quick start doc w/o any services deployed to show.

[2017-09-26 00:55] ldemailly commented on #369
We chatted a bit with @andraxylia and @costinm and there are several dimensions of testing we want to get to:

- [ ] longevity testing (long running test - checks for no leaks and ability to survive expiration of TTLs, pod movements, VM death, etc...). Under varying non 0 load.
- [ ] performance/throughput/latency test for small number of services and adapter (aka best case)
- [ ] performance as w

[2017-09-26 01:41] mandarjog commented on #576
+1

[2017-09-26 01:43] linsun commented on #935
@gyliu513 thanks, i would expect some basic info without bookinfo, but i'll deploy that shortly.

@douglas-reid fyi, tried to reinstall  prometheus, grafana and servicegraph using latest yaml from istio/istio,  still hit the same thing as described earlier.

[2017-09-26 02:02] sebastienvas commented on #576
Why don't we consider this one for Q4.

[2017-09-26 02:13] linsun commented on #935
@gyliu513 @zeroum you guys were right, after installing bookinfo, the data comes in. I'll try reword this doc a bit as it is misleading.

[2017-09-26 02:39] douglas-reid commented on #935
@linsun no need to update the old doc. i've sent out a PR for review that removes that doc and replaces it with a add-on focused doc. we should work on making the new one clearer.

[2017-09-26 02:41] linsun commented on #935
can you link your new PR here?  @douglas-reid

[2017-09-26 02:43] douglas-reid commented on #935
@linsun https://github.com/istio/istio.github.io/pull/524

[2017-09-26 02:50] linsun commented on #935
thank you @douglas-reid!  I merged my PR in as it has other clean-ups and reviewed.  Sorry I didn't know you already had  istio/istio.github.io#524.

[2017-09-26 03:51] #657 closed

[2017-09-26 03:51] chxchx commented on #657
https://github.com/istio/istio/pull/673 was merged.

[2017-09-26 11:51] objectiser commented on #936
@redhotpenguin The issue is that the istio.yaml has been changed to use `zipkinAddress: zipkin.istio-system:9411` so is expecting the zipkin compatible backend to also be deployed in that namespace. Previously the default namespace was used, so deploying the Jaeger all-in-one template (with its zipkin service) worked.

So the current workaround would be to edit the istio.yaml file and remove the n

[2017-09-26 17:26] ZackButcher commented on #936
@objectiser I don't think we're likely to roll back to Envoy's 1.4 release - we actually just moved forward to a [more recent (post-1.4) Envoy SHA a few days ago](https://github.com/istio/proxy/pull/480) to pick up some fixes.

The listener config is provided by Pilot: [here's the code](https://github.com/istio/pilot/tree/master/proxy/envoy), [here's some testdata examples](https://github.com/isti

[2017-09-26 17:30] objectiser commented on #936
@ZackButcher Thanks - yeah found it, and submitted https://github.com/istio/pilot/pull/1358

[2017-09-26 17:33] ZackButcher commented on #936
Awesome, thanks!

[2017-09-26 18:21] sakshigoel12 commented on #486
@linsun @costinm @ldemailly  can you help test this out

[2017-09-26 18:22] sakshigoel12 commented on #625
Working on design doc

[2017-09-26 18:24] sakshigoel12 commented on #506
Work around Documented in FAQ

[2017-09-26 18:35] sakshigoel12 commented on #622
this should be done

[2017-09-26 18:35] #622 closed

[2017-09-26 18:36] sakshigoel12 commented on #724
not yet for mixer client. manual for now, let finish the rest after 0.2

[2017-09-26 18:39] douglas-reid commented on #935
Shall we close this issue now?

[2017-09-26 18:39] sakshigoel12 commented on #777
@andraxylia can you give an update here?

[2017-09-26 18:41] sakshigoel12 commented on #357
@costinm @ldemailly anything blocking the release here?

[2017-09-26 18:43] sakshigoel12 commented on #395
Optimized builds for 0.3 -- we should do debug and production goals as apart of production ready goal in 0.3

[2017-09-26 18:45] #935 closed

[2017-09-26 19:24] kyessenov commented on #598
Removing the link from oncall document.

[2017-09-26 20:06] linsun commented on #922
this seems not required for 0.2, moving to 0.3 or future.

[2017-09-26 20:07] linsun commented on #918
not critical, moving to 0.3

[2017-09-26 20:09] linsun commented on #905
@stepanv great to hear you got it working with 0.2.4.  Is there anything you think we should add to the doc for this?  If not, i'd prefer to close this out.

[2017-09-26 20:10] linsun commented on #900
real close :)

[2017-09-26 20:10] #900 closed

[2017-09-26 20:11] linsun commented on #890
defer this to 0.3 as it is not critical for 0.2...let me know if anyone strongly disagrees :)

[2017-09-26 20:18] andraxylia commented on #777
This is some issue with the cluster, prod-eng should follow up on this. Changed the priority, it does happen periodically, but it's not blocking the release.

[2017-09-26 20:19] linsun commented on #686
curl 169.47.108.42/productpage
upstream connect error or disconnect/reset before headers

it's envoy upstream error, meaning productpage service is not responding or not known at ingress.

Action: Ask users to check to ensure envoy side car is injected properly.

[2017-09-26 20:36] douglas-reid commented on #863
OK. the mixer changes are in. now to update the template files.

[2017-09-26 22:18] ferantivero opened #957 "relative path for versioning in build-services.sh"
I'm not completely sure but it seems the change #894 might require to change the relative path in https://github.com/istio/istio/blob/4f4226c04b17b8ac4e4b5bc89c2b8e5b97dd538b/samples/bookinfo/src/build-services.sh#L20

[2017-09-26 22:49] ldemailly commented on #357
I think we're good to go (we will continuously improve doc and scripts as we get feedback)

[2017-09-26 22:49] #357 closed

[2017-09-27 03:12] ldemailly commented on #686
I covered the 0.1 uninstall in the main page but the rest should make it's way to the currently empty
https://istio.io/docs/setup/kubernetes/faq.html

[2017-09-27 03:15] ldemailly commented on #777
it was blocking the release but thankfully someone either cleaned up or increased the quotas

we need to get to the bottom of the issue though or it'll keep coming back

[2017-09-27 03:16] ldemailly commented on #890
sgtm

[2017-09-27 03:18] ldemailly commented on #488
yes

[2017-09-27 03:18] #488 closed

[2017-09-27 03:18] ldemailly commented on #625
we can plug into the new- script I think

[2017-09-27 03:23] ldemailly commented on #506
@sakshigoel12 @wattli  where exactly? I don't see it in https://istio.io/docs/tasks/security/faq.html

[2017-09-27 03:54] chxchx commented on #625
@ldemailly Do you mind elaborating on "plug into the new script"? Are you referring to https://github.com/istio/proxy/blob/master/tools/deb/test/run_gce_test.sh?

[2017-09-27 04:32] ldemailly commented on #625
sorry I meant into the new-e2e... test that creates a cluster, we can add 1 vm to it

then yes some variant of costin’s script

[2017-09-27 07:56] stepanv commented on #905
@linsun great idea! :)
It would be great if you guys described what exactly happens when 2 services are talking to each other; maybe in a deep dive blog linked from the docs (maybe from https://istio.io/docs/concepts/traffic-management/request-routing.html). What exactly happens at the IP / TCP level; e.g., which IPs are involved (either virtual ones or the IPs that the containers are assigned wit

[2017-09-27 13:02] linsun commented on #905
Thanks, that is a great idea!  Honestly I would want to find the same info.  I'll open a DOC WI to track that and close this one.

[2017-09-27 13:03] #905 closed

[2017-09-27 18:44] #799 closed

[2017-09-27 21:08] sakshigoel12 commented on #765
Still working on it -- ETA next couple days

[2017-09-27 21:08] sakshigoel12 commented on #766
@douglas-reid  can you update?

[2017-09-27 21:10] sakshigoel12 commented on #786
We have whole new vocab. Need to update. ETA: this week

[2017-09-27 21:13] sakshigoel12 commented on #787
Raw release -- people should update PRs
Website -- maybe early next week

[2017-09-27 21:30] douglas-reid commented on #766
Yes. I still want to document TCP attributes and config, but have not yet started on that work.

[2017-09-27 21:34] douglas-reid commented on #863
This should be addressed moving forward by #954 .

The only question now is whether or not we should generate a tagged servicegraph image from the 0.1.5 and 0.1.6 codebases.  @sebastienvas @ldemailly thoughts?

[2017-09-27 21:38] wattli commented on #506
@ldemailly , headless service is one kind of non-istio services, right? The first item of the FAQ mentions:

Can a service with Istio Auth enabled communicate with a service without Istio?
Currently it is not well supported. But we do have plan to support this in the near future.

[2017-09-27 22:50] ldemailly commented on #506
maybe this is on the wrong issue (apologies) but I thought you mentioned we documented the healthcheck workaround somewhere - I do see curl mentioned but it's probably not enough for a user to solve

[2017-09-27 23:05] ldemailly commented on #787
from a mechanics point of view, the raw/detailed notes go [here (wiki)](https://github.com/istio/istio/wiki)

the high level rel notes for the website I thought we had a task already but I can't find it so adding sven and louis for that one (and removing myself)

[2017-09-27 23:35] ldemailly commented on #863
can we save/remember the sha of the 0.1.x one ? maybe tag that 0.1.6 retroactively just in case?

[2017-09-27 23:41] douglas-reid commented on #863
the servicegraph images were never tagged with SHAs, unfortunately.  they've always just been `:latest`.  so, we really do need to generate a new image from the old mixer codebase, I think.

[2017-09-28 01:03] ldemailly opened #970 "e2e log gatherer doesn't seem to gather logs from injected svcs"
When running a test that failed, I noticed

[code]
I think it needs to enumerate the containers and/or find a way to get all containers logs in 1 shot... or some such

[2017-09-28 01:08] ldemailly commented on #970
I think I found the bug : see comment in #673

[2017-09-28 01:10] ldemailly commented on #863
but this is a yaml, we can just have in our knowledge base or faq

if you use 0.1.6 you need to edit :latest and replace it by :0.1.6 ? no need to release - we can provide the patched yaml as link?

[2017-09-28 02:13] douglas-reid commented on #863
I think we are talking about two different but related issues. I'm fine with updating a FAQ or knowledge-base with the info on how to update the yamls, which I think is what you are suggesting. But, I'm also concerned that `:0.1.6` doesn't exist and that we need to create it. It simply wasn't a tracked artifact until this week.

[2017-09-28 05:05] ldemailly commented on #922
Can we get some specifics about what exactly isn't working

My (maybe naive) understanding of docker is that it doesn't matter what the host OS is

[2017-09-28 05:18] #970 closed

[2017-09-28 05:31] ldemailly commented on #863
yes so we just add the tag to whichever sha is the one that works/worked for 0.1.6
and we document that's needed

OR

we forget about 0.1 as 0.2 should be out real soon now

[2017-09-28 05:32] ldemailly commented on #863
but we must set a version for 0.2 so this doesn't happen again in 0.3

[2017-09-28 05:50] douglas-reid commented on #863
@ldemailly i'm missing something about your proposal here. there is not a servicegraph image tagged with a sha.  there is only `servicegraph:latest`.  the `servicegraph:SHA` tags have only been generated in the last couple of days.  we would have to go back and create a new image from the old code.

OR, as you say, we could say servicegraph is not supported on 0.1.x versions.

[2017-09-28 05:54] ldemailly commented on #863
:lastest has an internal sha (afaik) that can be used to fetch that specific 'current' sha

let me try to come up with an example (or realize it doesn't work)

[2017-09-28 06:01] douglas-reid commented on #863
gcr to the rescue?  it has image upload dates. and we have one tagged "alpha". I'd be tempted to tag the image from Jul 6, 2017 as 0.1.6 and be done.  thoughts?

[2017-09-28 06:03] ldemailly commented on #863
[code]
but gcr is even easier as you can use the UI to add tags afaik (but not on my work laptop so I can't check)

[2017-09-28 06:04] ldemailly commented on #863
yes or whichever is the latest before the 0.2 changes

[2017-09-28 06:07] douglas-reid commented on #863
I've tagged the July image (which I think had some minor bug fixes) as `:0.1.6`. We should probably update a FAQ in the old documentation to cover that.

[2017-09-28 12:34] sdake commented on #922
@ldemailly sure - I'll work up a gist of master (using the Ubuntu based containers) that shows the problem in more detail.

[2017-09-28 14:07] #918 closed

[2017-09-28 14:28] sdake commented on #922
@ldemailly I gave master of Istio a try, and that works now without compiling locally on CentOS.  Prior I was receiving 503 errors, although I believe that was fixed in a different issue.  Compiling go binaries on CentOS and inserting them in the ubuntu based distros did not previously appear to function properly.  I'll re-verify that problem (the developer workflow).

Thanks for not merging blind

[2017-09-28 15:05] linsun commented on #878
@douglas-reid could this be closed now with #866 merged?

[2017-09-28 15:07] linsun commented on #851
@lachie83 sorry we missed this earlier.  Yes, it would be great if you could cut a chart for 0.2.4, which is our first RC.  I expect a new RC will come out this week too, but it is good to have the helm chart and people testing that too.

[2017-09-28 15:09] linsun commented on #850
@andraxylia is there any remainder work for this after #338 ?

[2017-09-28 15:16] linsun commented on #844
@ldemailly anything remains for this?

[2017-09-28 15:18] linsun commented on #785
I think we are mostly done.  @rshriram @frankbu, anything remains for this?

[2017-09-28 15:19] linsun commented on #722
@ldemailly could this be closed with your prior comment?

[2017-09-28 15:21] linsun commented on #672
is this still an issue?  I have been using transparent proxy injection myself.

[2017-09-28 15:23] linsun commented on #690
what remains for this?  Sounds like you are saying performance is better than 0.1.  curious to see any comparison table/chart you have.

[2017-09-28 15:24] linsun commented on #564
is this still planned for v0.2?   i'd like to move to 0.3, let me know if you object to it.

[2017-09-28 15:27] linsun commented on #506
@ldemailly it is documented here:  https://istio.io/docs/setup/kubernetes/quick-start.html#installation-steps   step 4.

@prune998, could you take a look to see if the doc is satisfactory?

[2017-09-28 15:29] linsun commented on #472
no activity for a month, not impact 0.2.

[2017-09-28 15:30] linsun commented on #411
we no longer use this file istio-rbac-beta.yaml in istio.io for 0.2.

[2017-09-28 15:34] prune998 commented on #506
@ldemailly it sounds good, even if it's really minimal explanations.
I'll try to get a look at it ASAP and see how it behave.

Thanks

[2017-09-28 15:50] linsun commented on #411
i dont have a kube env right now to try this.  this is a debug option that is not exposed to our users in our cloud.  I don't think it is exposed for GKE either.   I propose to defer this.

[2017-09-28 15:52] linsun commented on #479
is this done but not working reliably?  not a stop ship for 0.2.

[2017-09-28 15:53] linsun commented on #471
not a stop ship for v0.2

[2017-09-28 15:54] linsun commented on #428
@dhawal55 could you try this with the latest 0.2 RC?  I didn't hit this issue myself.   Pls reopen if you hit it, many thanks.

[2017-09-28 15:54] #428 closed

[2017-09-28 15:55] linsun commented on #426
moving to 0.3, not a stop ship for 0.2

[2017-09-28 15:56] linsun commented on #420
move to 0.3 as #1140 is there.

[2017-09-28 15:57] linsun commented on #398
there is already docs for 4 nodes for GKE.  is there anything else for this?

[2017-09-28 15:58] linsun commented on #97
@ZackButcher what is remaining for this?  i saw no activity for 4+ months.

[2017-09-28 15:59] linsun commented on #178
good wi for 0.3

[2017-09-28 15:59] linsun commented on #259
no activity move to 0.3

[2017-09-28 16:04] linsun commented on #384
we may have to defer this to 0.3, any objections?

[2017-09-28 16:06] linsun commented on #187
I assume this is still an issue.  not blocking release, propose to defer.

[2017-09-28 16:30] lachie83 commented on #851
@linsun -- Absolutely. I will rebuild the chart of that pre-release. I will provide a link to the PR and you can let me know what values need to be exposed as configurable items when installing with Helm. I'm planning to start working on this tomorrow

[2017-09-28 16:32] lachie83 commented on #384
No objections here. We need to establish a baseline before we draw hard lines. It might be worth adding requests so that the kubernetes scheduler can make sure that there is at least that much room to run. I could also make these configurable in the helm chart so folks can experiment.

[2017-09-28 16:36] linsun commented on #851
@lachie83 excellent, thank you!!

[2017-09-28 16:44] ldemailly commented on #426
for the record I did the code in kube-inject to switch between debug and opt images in istioctl kube-inject https://github.com/istio/pilot/pull/1202

[2017-09-28 16:45] ldemailly commented on #398
yes we sadly need more than 4 if you install everything afaik - we need at least some FAQ and/or some tuning

[2017-09-28 16:48] ldemailly commented on #479
it's done but not in all repos and not 100% reliable yet - maybe we can close in favor of flat build

[2017-09-28 16:58] #479 closed

[2017-09-28 16:59] ldemailly commented on #722
well I put a workaround (printing "expect error if there is no crash") but we still have the slightly misleading messages and that other PR was closed but not merged -> 0.3

[2017-09-28 17:01] ldemailly commented on #506
@linsun my point is that there is a way to make liveness check work - we should actually not scare our users into turning off auth because of liveness - but for that to be practical we need a more detailed documentation of "how"

[2017-09-28 17:03] andraxylia commented on #851
@lachie83 can you please use the files and templates from master? There will be another release, and there have been changes in the last 6 days.

[2017-09-28 17:04] ldemailly commented on #690
there is a ton of work there - I have some tooling  (fortio) and some setup (the one described in istio/istio/devel/README.md#local) and I've had ongoing PR to keep that setup working, I'll rerun the tests once we have the next build (but again it's only very basic and we need more people looking at that,  it's going to be one of the top focus area for 0.3)

[2017-09-28 17:05] andraxylia commented on #672
It's still an issue. Will move it to 0.3.

[2017-09-28 17:26] ldemailly commented on #844
just scanned the page, seems fine to me

[2017-09-28 17:26] #844 closed

[2017-09-28 17:44] linsun commented on #506
i see. my understanding is that is planned for this month's 0.2.

[2017-09-28 17:51] ldemailly commented on #506
the workaround works today, with 0.2.4, it just needs documentation

[2017-09-28 18:09] wattli commented on #506
I will add more details to the faq.

[2017-09-28 18:11] sakshigoel12 commented on #486
ETA : today or tom

[2017-09-28 18:15] chxchx commented on #654
Closing this issue now that no longer fetching logs from stackdriver but running kubectl logs instead

[2017-09-28 18:15] #654 closed

[2017-09-28 18:30] lachie83 commented on #851
@andraxylia okay can do. Where are the installation docs?

[2017-09-28 18:30] yutongz commented on #655
fixed

[2017-09-28 18:30] #655 closed

[2017-09-28 18:40] ldemailly commented on #851
https://istio.io/docs/setup/kubernetes/quick-start.html

[2017-09-28 20:17] kyessenov opened #977 "Support fully local testing"
It would be great to be able to run the entire testing suite (per-repo and per-istio) on a local cluster. This can help with de-risking test-infra cluster reliability, if developers can validate locally their contributions.

[2017-09-28 23:09] emaildanwilson opened #979 "Should istioctl use the default namespace from kubectl config when it exists?"
When walking through the bookstore guide and examples for traffic routing I found that objects created w/ kubectl ended up in the namespace configured in my local kubectl context but the `istioctl create -f` commands used the default namespace which was different than I expected.

I see now in the guide that one could also use kubectl directly to apply those routes which is an ok workaround but sh

[2017-09-28 23:17] ldemailly commented on #878
we could recycle this issue for "provide a way to label config as global vs namespace" but there is https://github.com/istio/istio/issues/632 for that so I'm closing this one

[2017-09-28 23:17] #878 closed

[2017-09-28 23:18] ldemailly commented on #850
this is done (though the test isn't mandatory at the moment)

[2017-09-28 23:18] #850 closed

[2017-09-28 23:21] sakshigoel12 commented on #506
@wattli  please could you add an ETA

[2017-09-28 23:21] sakshigoel12 commented on #766
@douglas-reid please could you add an ETA

[2017-09-28 23:24] sakshigoel12 commented on #293
@vadimeisenbergibm  please could you update this issue

[2017-09-28 23:25] sakshigoel12 commented on #686
@linsun please could you add an ETA

[2017-09-28 23:27] ldemailly commented on #690
With only 4 simultaneous connection and on a shared cluster I can get:

W0927 01:51:59.298] All done 5123 calls (plus 4 warmup) 7.812 ms avg, 511.8 qps

so I'm closing this for 0.2

[2017-09-28 23:27] #690 closed

[2017-09-28 23:38] ldemailly commented on #358
can be contributed any time, doesn't hold up the 0.2 release

[2017-09-28 23:44] ldemailly commented on #306
it's an excellent test scenario to run but that testing can proceed without holding up the initial 0.2 release

[2017-09-28 23:45] ldemailly commented on #237
closing this. please reopen if it's still an issue with 0.2.6

[2017-09-28 23:45] #237 closed

[2017-09-28 23:47] ldemailly commented on #97
I think this is done as far as 0.2 is concerned. closing. reopen if I missed something.

[2017-09-28 23:47] #97 closed

[2017-09-28 23:48] ldemailly commented on #301
doesn't need to block 0.2 but is key to have in place before we make bigger changes
(q: is it already in mixer_test or other?)

[2017-09-28 23:49] andraxylia commented on #720
Fixed in another PR to use a tolower

[2017-09-28 23:49] #720 closed

[2017-09-28 23:49] ldemailly commented on #300
https://istio.io/docs/tasks/telemetry/metrics-logs.html

[2017-09-28 23:49] #300 closed

[2017-09-28 23:50] andraxylia commented on #636
This is done.

[2017-09-28 23:50] #636 closed

[2017-09-28 23:50] ldemailly commented on #298
@wattli do we have a task and a test for this already ?

either way this wouldn't hold the release

[2017-09-28 23:51] andraxylia commented on #615
This is fixed now.

[2017-09-28 23:51] #615 closed

[2017-09-28 23:51] yutongz commented on #858
fixed in https://github.com/istio/istio/pull/899

[2017-09-28 23:51] #858 closed

[2017-09-28 23:52] ldemailly commented on #261
we have test and docs for rate limits

[2017-09-28 23:52] #261 closed

[2017-09-28 23:53] ldemailly commented on #260
@mandarjog can we close this ? (test and doc)

[2017-09-28 23:53] andraxylia commented on #541
The work for 0.2 is done, can you update the epic with the issues/PRs, and either close it or move it to 0.3 if there are items left?

[2017-09-28 23:55] ldemailly commented on #977
try to set milestone directly

[2017-09-28 23:57] ldemailly commented on #936
expected to be fixed in 0.2.6, please confirm and close ?

[2017-09-28 23:59] andraxylia opened #981 "Hermetic & quick tests"
Having a localkube Kube environment might help.
localkube: a binary having etcd+apiserver - the core of minikube, can be run as a standalone binary,

All unit tests can be run locally in under 2 minutes.
All scenario tests that work with the localkube environment can run locally in under 5 minutes.

[2017-09-29 00:00] ldemailly commented on #928
will put this as 0.2 for now but will be a patch release most likely or 0.3

[2017-09-29 00:01] ldemailly commented on #925
can you say a bit more about what's broken/what a fix would be etc ?

[2017-09-29 00:03] #375 closed

[2017-09-29 00:05] andraxylia opened #982 "Defined set of release artifacts [debian/CentOS packages, containers, helm charts]"

[2017-09-29 00:06] andraxylia opened #983 "Compliance testing for our public APIs"
[P0] Attributes specification verification
[P1] Pilot xDS API compliance
[P1] Mixer API compliance
[P2] Proxy behavior compliance testing

[2017-09-29 00:07] ldemailly commented on #590
the above should fix the error, closing this

[2017-09-29 00:07] #590 closed

[2017-09-29 00:08] ldemailly commented on #620
is it better now ?
can we close this

(not release blocking either way)

[2017-09-29 00:09] ldemailly commented on #863
can we close this ? (as in 0.2 uses a label)

[2017-09-29 00:10] kyessenov commented on #928
431 sounds like the same bug as you pointed out. Do let us know if you have more information as we're trying to understand the iptables/hairpin issue that's like the root cause of it.

[2017-09-29 00:12] ldemailly commented on #879
are the ingress access log showing that ip as the client ?

[2017-09-29 00:14] ldemailly commented on #541
it's already on 0.3 since it was created - again this is about no k8s at all

[2017-09-29 00:15] kyessenov commented on #979
I think it does make sense, and we do indeed ignore the kubectl context namespace field. I think it sounds reasonable to respect the context namespace. The two command line tools might be interchangeable after awhile (there's extra validation with istioctl). The code is here:
https://github.com/istio/pilot/blob/master/cmd/istioctl/main.go

There is some (unrelated) context usage here https://githu

[2017-09-29 00:16] ldemailly commented on #858
there is probably more work around "isReady()" in 0.3 but ok we can close this one for now

[2017-09-29 00:23] ldemailly commented on #704
not sure we support this, but can you try again with 0.2.6 and if you still have issues
open a new issue in https://github.com/istio/issues/issues ?

[2017-09-29 00:23] #704 closed

[2017-09-29 00:28] ldemailly commented on #783
do you still have this issue with 0.2.6 and validated ingress rules
https://github.com/istio/istio/blob/db873c2189b23a03b5176c04308abf8f577a501b/tests/e2e/tests/simple/servicesToBeInjected.yaml#L42
may help

will close but reopen if you still have issues

[2017-09-29 00:28] #783 closed

[2017-09-29 00:32] ldemailly commented on #585
we should maybe have a doc/example ?

[2017-09-29 00:35] ldemailly commented on #744
Issue moved to [istio/pilot #1370](https://github.com/istio/pilot/issues/1370) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-29 00:35] #744 closed

[2017-09-29 00:38] ldemailly commented on #608
closing assuming a bigger cluster resolves the issue

[2017-09-29 00:38] #608 closed

[2017-09-29 00:39] ldemailly commented on #398
not blocking the relase

[2017-09-29 01:50] decker502 opened #984 "Ingress with host network"
The `hostnetwork` configuration option of Deployment does not take effect, after pod started  the `80` and `443` port did not find

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: istio-ingress
      namespace: istio-system
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      replicas: 1
      template:
        metadata:
          labels:

[2017-09-29 01:55] gyliu513 commented on #925
Someone might want to deploy isito on to nodes with specific architecture or resources, such as with nodes cpu>4core, memory>10G, running istio on POWER or X86 etc.

We can probably put a placeholder in deployment file and enable end user can customize it?  @ldemailly

[2017-09-29 01:59] gyliu513 commented on #851
@lachie83 are you going to post some PRs for https://github.com/kubernetes/charts/issues/1909 ? If not, I can help to make a 0.2.4 version of istio.

[2017-09-29 03:16] yiqinguo opened #985 "build pilot has error"
When build pilot there is a error:

ERROR: /root/project/src/istio.io/pilot/tools/version/BUILD:3:1: in go_library rule //tools/version:go_default_library:
Traceback (most recent call last):
	File "/root/project/src/istio.io/pilot/tools/version/BUILD", line 3
		go_library(name = 'go_default_library')
	File "/root/.cache/bazel/_bazel_root/45507ab381605003f52f903ce085fa3d/external/io_bazel_rules_go/

[2017-09-29 04:46] andraxylia opened #987 "Continuous Green Release & weekly builds"
Continuous Release (Release on Green)
Build and release cadence: Weekly builds

[2017-09-29 05:45] ldemailly commented on #985
which OS and bazel version are you using ?
did you run `make setup` ?
(per https://github.com/istio/pilot/blob/master/doc/build.md )

also please do not file pilot specific issues in istio/istio

use either https://github.com/istio/issues/issues or in this case https://github.com/istio/pilot/issues/new

Thanks!

[2017-09-29 05:50] yiqinguo commented on #985
I have sloved it.Change the file /root/.cache/bazel/_bazel_root/45507ab381605003f52f903ce085fa3d/external/io_bazel_rules_go/go/private/library.bzl line 44 link to topological. But I can not fundamentally solve it.

[2017-09-29 05:51] #985 closed

[2017-09-29 11:08] jiming opened #988 "Are you going to support etcd-based environments?"
I feel wierd. K8S is using etcd, are you going to support etcd-based environments? Or, why not etcd-based environment? Thanks!

[2017-09-29 13:31] frankbu opened #989 "Broken links in sample READMEs"
Links to docs in samples READMEs (bookinfo, httpbin, sleep) need to be updated.

[2017-09-29 16:11] sakshigoel12 commented on #936
@objectiser @ZackButcher is this issue done?

[2017-09-29 16:13] ZackButcher commented on #936
We have confirmation that Zipkin is working now, I have not had time to look at Jaeger.

[2017-09-29 16:32] objectiser commented on #936
Yes, confirmed 0.2.6 works with Jaeger.

[2017-09-29 16:36] ZackButcher commented on #936
Thanks!

[2017-09-29 16:36] #936 closed

[2017-09-29 17:09] sakshigoel12 commented on #486
Need to add a patch. Need to try it with a real service.

costin and laurent to talk about this

[2017-09-29 17:10] geeknoid commented on #787
I'm going to put the notes together in the next few days.

[2017-09-29 17:25] rshriram commented on #824
You need to create a route rule for the service represented by Node-Red.. and in that route rule, you need to specify that the connections should be upgraded to WebSockets..
[code]

[2017-09-29 17:25] rshriram commented on #785
Nope. Its done.

[2017-09-29 17:25] #785 closed

[2017-09-29 17:27] rshriram commented on #652
Solved..

[2017-09-29 17:27] #652 closed

[2017-09-29 17:32] rshriram commented on #988
Can you provide more information? What exactly do you mean by etcd based environments? Do you have a custom service registration format ? The nice thing about K8s, Consul, Eureka, etc. is that the scheme for service information is well defined and allows us to write adapters in Pilot that will work for every one using these platforms.  Plain etcd backend implies that you as user can register your

[2017-09-29 17:35] rshriram commented on #506
@prune998 / @FuzzOli87 / @immortalHuang / @hollinwilkins can you confirm if support for headless services work *without* Istio auth ?

[2017-09-29 17:35] rshriram commented on #552
solved..

[2017-09-29 17:35] #552 closed

[2017-09-29 17:36] prune998 commented on #506
@rshriram it will take a little more time for me to be able to test... sorry. Will let you know ASAP.

[2017-09-29 17:37] rshriram commented on #506
to be clear, try the 0.2.6 release from github..

[2017-09-29 18:14] sakshigoel12 commented on #989
@frankbu can you add an ETA

[2017-09-29 18:27] #989 closed

[2017-09-29 19:03] smawson commented on #787
Let me know if you need anything from me, I was going to be doing some docs this weekend.

[2017-09-29 21:21] sakshigoel12 opened #995 "Record basic performance metrics"
We need to re-capture performance metrics before launch

[2017-09-29 21:25] sakshigoel12 opened #996 "Basic load testing record"
Basic load testing. Mainly to know where we break and capture improvements between now and next launch

[2017-09-29 21:31] ldemailly commented on #995
See https://github.com/istio/istio/issues/690
and https://github.com/istio/istio/issues/369

I don't think we have any claim to any specific numbers either for 0.1 or 0.2

[2017-09-30 01:33] ldemailly opened #998 "reorganize the repos ?"
Couple of options to get us started; more welcome:

a) move everything into a mono repo so we can share code instead of duplicate it, have a unified development experience and not spend too much time moving PRs from 1 repo to the next

b) add more repos so we can actually share code instead of duplicate code between pilot and mixer for instance (istio/core ?) and istio/generated for generated code

[2017-09-30 01:50] kyessenov commented on #998
b) is already done by test-infra and api repos. They're imported into each project.
Are we trying to address developer pains here, CI pains, or release pains?
To make local development easy, I think using `local_repository` from bazel is probably the simplest multi-project bazel solution. It is in accordance with standard go tooling as well with the canonical code paths.

[2017-09-30 02:13] ldemailly commented on #998
Ideally we'd find a solution addressing most/all of our pains at once

Api repo maybe can be renamed to "core" because it seems odd to put code or utility libraries into a repo named "api" (and I think for generated it'd be best for bots keeping generated code updated to not fight with humans)

The short version is either we do a really good job at our dependency graphs and not hesitate to add mor

[2017-09-30 02:30] jiming commented on #988
I am on the very begining of evaluating latest micro service platform.

Istio looks exciting. Currently all of zookeeper, etcd, consul, eureka could be used as service registry. Apprently I don't want to use all of them. The best solution is to use only one of them, which could reduce admin resources.

I pick zookeeper so far. Although it is old and heavy, it is more mature and third part tools su

[2017-09-30 03:04] ldemailly commented on #988
You can use etcd as the k8s api server storage even if you don’t want all of kubernetes

[2017-09-30 03:08] ldemailly commented on #996
you can use fortio load -qps X url to generate constant traffic

[2017-09-30 04:59] jiming commented on #988
@ldemailly

k8s is a must used service, so I must use etcd.

What I wanted to say is that I wish I can use istio without consul or eureka. In case consul or eureka is a necessary, I wish I can use etcd or zookeeper to replace them.

Thanks!

[2017-09-30 23:56] ldemailly commented on #988
you can by registering your services into k8s, see the mesh expansion on our website (note this is an early feature)

[2017-10-02 04:28] lachie83 commented on #851
Yes I will

[2017-10-02 07:40] lachie83 commented on #851
Here's the PR #2369 - I'm having issues rendering CRDs correctly using helm 2.6.1 on a Kubernetes 1.7 cluster. I'm going to raise an issue there.

[2017-10-02 07:55] lachie83 commented on #851
Here's the helm issue - https://github.com/kubernetes/helm/issues/2994

[2017-10-02 14:34] rshriram commented on #293
We have this test in Pilot e2e. Don't think we need one in istio/istio.

[2017-10-02 14:34] #293 closed

[2017-10-02 15:08] linsun commented on #686
mostly done, except missing FAQ for policy enforcement and metrics/log/trace.

[2017-10-02 16:31] ijsnellf opened #1002 "Reduce bookinfo example's image sizes"
The bookinfo example's images are very large.
[code]
Pulling the images for the first time is time consuming. Reducing the image size would improve the user experience for people following our docs.

Could try:
- switching base image to Alpine instead of Ubuntu
- deleting / uninstalling tools and files used only during setup

[2017-10-02 18:39] linsun commented on #686
@douglas-reid is working on this page https://istio.io/docs/tasks/telemetry/faq.html

[2017-10-02 20:45] tjquinno commented on #585
Is this really "won't fix" as suggested by the label, despite being re-opened?

The presence of a workaround (route rules) helps but it's rather awkward for istio to not support the full k8s ingress syntax.

[2017-10-02 20:53] ldemailly commented on #585
This is a reasonable request we should prioritize for 0.3

In the meantime we should more clearly document the rule based option
(and in the meantime you can find a working example of basic prefix based rewrite in
https://github.com/istio/pilot/issues/1288 and https://github.com/istio/istio/blob/7495ff93d7705f3e08a2c158aa50ed0d8569455e/tests/e2e/tests/simple/servicesToBeInjected.yaml#L42 )

[2017-10-02 21:14] ldemailly opened #1005 "remove mandatory dependency on udp statsd"
We shouldn't have 2 conduits sending similar information between envoy and the mixer pod(s), half through grpc report calls and half through udp statsd

or at least the udp statsd part needs to be easy to turn off
(eg `istioctl kube-inject --statsdAddress=none ...`)

We need also to offer the option to switch to tcp (but again, we should really not have 2 different conduits from envoy to mixer pod

[2017-10-02 22:25] lachie83 commented on #851
The PR is all but done but need an assist on the following:

- ServiceGraph not rendering dotviz
- Dashboard not displaying data
- Deploying BookInfo only works in the same namespace as the istio components (istio-system)

Happy to schedule a time to walk through the helm chart to demo the UX and gather feedback.

[2017-10-02 22:35] andraxylia commented on #851
Great, thanks @lachie83 !

For ServiceGraph and Dashboard cc @douglas-reid

I need to try bookinfo, it works for us, and the fact istio is install with helm should not change behaviour.

[2017-10-02 22:57] douglas-reid commented on #851
@lachie83 how can I help troubleshoot? have you tried deploying in a similar fashion (w/o Helm) and verified that dotviz and the istio dashboard work as expected with your test case?

Should we troubleshoot in a separate thread?

[2017-10-02 23:07] lachie83 commented on #851
@douglas-reid Thanks for reaching out Doug. No doubt I've probably make a typo in the configuration when converting to Helm. I have a cluster up and running with helm and just need a set of eyes to walk me through how to debug. Do you have a free 30m to jump on a zoom?

[2017-10-02 23:17] douglas-reid commented on #851
@lachie83 Sure. Maybe tomorrow mid-morning?  Let's schedule over email: dougreid at google.

[2017-10-03 00:53] linsun commented on #851
I have been deploying bookinfo in the default namespace, and it works fine.  In fact, we don't recommend users to deploy the microservices in the istio-system namespace, as automatic side car injection would not work.

[2017-10-03 03:41] lachie83 commented on #851
@andraxylia I've fixed all remaining issues and the PR should be good to review. I was able to work around all but a single helm issue which was to do with the initializer install which I will follow up.

[2017-10-03 03:42] lachie83 commented on #851
Thanks @linsun I found an issue in my configuration and have fixed this. I'm now able to install bookinfo into another namespace.

[2017-10-03 05:14] andraxylia commented on #851
Thanks, I will review as well. FYI, the initializer requires kubernetes cluster with alpha features enabled.

[2017-10-03 12:15] sokoow opened #1010 "getting lots of "upstream connect error or disconnect/reset before headers""
Hi All,

I'm getting lots of ```upstream connect error or disconnect/reset before headers``` when running the helloworld example, is this a stability issue ?

[2017-10-03 13:14] linsun commented on #1010
Hi, thanks for reporting this.  Could you check if your helloworld pod is running when you hit this?  BTW, which version of Istio are you using?

[2017-10-03 15:04] sokoow commented on #1010
Hey, you were right, it was one of the versions of helloworld that wasn't running

[2017-10-03 15:04] #1010 closed

[2017-10-03 15:33] douglas-reid commented on #863
@ldemailly I don't think we can close this quite yet. I still don't see servicegraph with the other tagged releases in docker hub. It appears that there is more work left to do.

[2017-10-03 16:21] ldemailly commented on #863
https://hub.docker.com/r/istio/servicegraph/tags/ 0.2.7 exists now

[2017-10-03 16:21] #863 closed

[2017-10-03 16:45] #786 closed

[2017-10-03 20:21] linsun opened #1015 "Unable to finalize the release 0.2.7"
Onto the last step:

TAR=gtar CP=gcp  githubctl --token_file=/Users/linsun/.git/istio-token \
    --op=uploadArtifacts --base_branch=master --next_release=0.2.7

i've got gtar and gcp installed, failed at this error, even tho the release archives are created in /tmp/release/archives dir.  But it seems to fail at uploading to git.

[code]

[2017-10-03 20:33] linsun commented on #1015
i think we are getting nil on this:

	release := github.RepositoryRelease{TagName: &releaseTag}

[2017-10-03 20:37] chxchx commented on #1015
https://github.com/istio/test-infra/blob/master/toolbox/util/githubClient.go#L338

Line 338 of `githubClient.go` is a comment. Perhaps try again using the latest master?

[2017-10-03 20:45] sebastienvas commented on #1015
Which sha of test infra did you run that from ? For some reason the line number don't match.

[2017-10-03 20:47] sebastienvas commented on #1015
I was not able to reproduce this on linux, @chxchx could you try to reproduce this on mac, in your repo ?

[2017-10-03 20:52] sebastienvas commented on #1015
--next_release=0.2.7 is wrong, you shuld have used  --next_release=0.2.8

[2017-10-03 21:13] geeknoid commented on #998
As time goes on, I think we'll have more and more stuff we want to share between Pilot, Mixer, CA, and Broker. We definitely need a spot to share utility libraries across the project. Additionally, we want to be able to have a unified tooling experience (linters, etc). And finally, as we put together a perf testing/tracking framework, we'll want to share that between components.

I'm not seeing th

[2017-10-03 22:25] jmuk commented on #998
A single monolithic repository of sharing code among istio components would be great for us -- "us" meaning istio devs. I'm wondering if this can affect the workflow of istio users (operators).

I mean, istio operators need the yaml files in `install/kubernetes` in `istio/istio` repository for setting up istio in their cluster. It is unclear to me where do those files go; in the same repository (s

[2017-10-03 22:36] ldemailly commented on #998
@jmuk the yaml files are part of the release artefacts (for instance in https://github.com/istio/istio/releases/download/0.2.6/istio-0.2.6-osx.tar.gz or what `curl -L https://git.io/getLatestIstio | sh -` automatically downloads),
operators don't need to git clone the source tree so it shouldn't be a concern either way here

[2017-10-03 22:38] jmuk commented on #998
okay, thanks for the clarification.

[2017-10-04 01:43] linsun commented on #1015
yes, that must be it, even tho i can't validate it as you already run that step @sebastienvas

[2017-10-04 12:00] #1002 closed

[2017-10-04 15:40] ijsnellf opened #1023 "Use alpine for BookInfo images where possible"
The BookInfo images could be a smaller (base image size ~20mb vs ~80mb) if we used alpine where possible.

[2017-10-04 15:46] jiming commented on #988
ok, thank you very much!

[2017-10-04 15:46] #988 closed

[2017-10-04 16:07] charlesverdad opened #1024 "Istio ingress static IP support for GCP"
After applying this ingress resource in a GKE cluster,
[code]
The address returned by `kubectl get ing static-ip` seem to depend on the ephemeral external ip of the `istio-ingress` service but is different from the gcloud provisioned `test-ip`. My expected behavior is for the ingress controller to use the global-static-ip-name test-ip.

[2017-10-04 16:35] geeknoid commented on #787
PR is now outstanding for this.

[2017-10-04 16:50] geeknoid commented on #787
Done.

[2017-10-04 16:50] #787 closed

[2017-10-04 17:05] ldemailly commented on #787
https://istio.io/docs/reference/release-notes.html is live, thanks

[2017-10-04 17:53] Brian-Xincheng-Zhang commented on #998
if we can keep a single repo, can we still make individual release for different components, say pilot, mixer
If so, I support single repo.

[2017-10-04 18:07] #766 closed

[2017-10-04 18:36] douglas-reid commented on #354
I think it is OK to close this Epic. There is still work to be done to improve attribute generation and reporting (as well as open items for ingress support). But overall, this is now working.

[2017-10-04 18:36] #354 closed

[2017-10-04 20:02] ijsnellf commented on #1023
Follow on to https://github.com/istio/istio/issues/1002

[2017-10-04 21:06] ldemailly commented on #998
the source code being in one place doesn't preclude from making different artefact under different schedules if one desires so. I think it's already hard enough to make 1 unified release and would be premature to decouple the components at this point though (but that's a somewhat different topic)

[2017-10-04 22:58] Brian-Xincheng-Zhang commented on #998
component based release does not have to do it now, but probably a 2018 goal.
as long as it is doable, then it is fine.
Laurent: could you discuss this one repo proposal in tomorrow's working group meeting?

[2017-10-04 23:24] jasminejaksic commented on #1015
Lin, can we close this issue now? If not, what's still pending?

[2017-10-04 23:51] #620 closed

[2017-10-04 23:52] sakshigoel12 commented on #879
@douglas-reid How far are we on this? can we add an ETA

[2017-10-04 23:58] sakshigoel12 commented on #686
@douglas-reid @linsun  how far are we on this? can you add an ETA

[2017-10-05 00:04] ldemailly commented on #998
Please give comments in this doc:  https://goo.gl/eLq2uS

[2017-10-05 00:13] ayj commented on #998
https://github.com/kubernetes/kubernetes/issues/24343 lists reasons Kubernetes started to move away from a monorepo.

[2017-10-05 01:05] kyessenov commented on #998
@ayj that's a great thread. I think mono-repo is a crude tool to solve some of our problems, that may also introduce other issues down the road. Perhaps, we should focus the discussion on what's exactly painful and try to address them in the specific contexts.

[2017-10-05 01:29] linsun commented on #1015
Added more clarification steps for this in the release engineer doc page.  closing it for now.

[2017-10-05 01:30] #1015 closed

[2017-10-05 01:56] linsun commented on #1024
@ayj this is a GCP issue, can you comment?

[2017-10-05 16:28] wattli commented on #998
Does this problem only happen for pilot and mixer or there are other places?

[2017-10-05 17:20] jasminejaksic opened #1030 "Explicitly mention the minimum requirement for minikube"
The bookinfo section says, "If you use GKE, please ensure your cluster has at least 4 standard GKE nodes". We should also state what the requirement for minikube is.

[2017-10-05 18:22] ijsnellf commented on #998
This discussion has come up on every project I've worked on. Unfortunately, I think both methods have plenty of issues. The only thing I'll put in is that switching from one to the other is painful, and the grass is always greener on the other side.

[2017-10-05 18:24] ldemailly commented on #453
added ^c support request

[2017-10-05 19:00] lachie83 commented on #851
@ldemailly we may have to rethink the way we're doing chart versioning. See https://github.com/kubernetes/helm/issues/3009

[2017-10-05 20:19] #1030 closed

[2017-10-05 20:22] frankbu opened #1034 "Bookinfo is not displaying ratings unavailable message"
The new version of bookinfo doesn't display the message "ratings are currently unavailable" when you run the rate limiting task, like it used to. Now it just stops displaying ratings, so it looks like it's switched back to `reviews:v1`, instead of what is actually happening: `reviews:v3` is being used, but its calls to the `ratings` service are blocked.

This is a regression caused by https://gith

[2017-10-05 20:43] jasminejaksic opened #1035 "Searches within istio.io site yields 0.1 docs as top results"
As an example: this search -> https://istio.io/search/?q=4%20standard%20GKE%20nodes results in https://istio.io/v-0.1/docs/samples/bookinfo.html as the top link instead of https://istio.io/docs/guides/bookinfo.html#running-on-kubernetes

[2017-10-05 21:42] ldemailly commented on #1035
this should be in the website repo, but anyway...

martin I think there is a way either in sitemap or robots.txt to tell google to not index v-0.1 ?

[2017-10-05 23:18] ldemailly opened #1038 "ingress with simple routes periodically 404ing"
User report:

https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/istio-users/EseVUYqQA2o/Gqw4XG_-AQAJ

cc @costinm @andraxylia

[2017-10-05 23:22] geeknoid commented on #1035
This is puzzling. We generate an explicit sitemap.xml to tell web crawlers about our site and it doesn't include the v-0.1 directory (you can see the file by going to istio.io/sitemap.xml)

[2017-10-05 23:25] ldemailly commented on #1038
for 404 vs 503: https://github.com/envoyproxy/envoy/issues/1820

for 404 itself matt kindly pointed me at https://envoyproxy.github.io/envoy/configuration/http_conn_man/route_config/route_config.html#config-http-conn-man-route-table
and "validate_clusters" - I want to add a test first and then see if indeed that fixes it

[2017-10-05 23:36] ldemailly commented on #1035
guessing then the crawler is doing it the old way, but following the link to v-0.1 in the docs/ index
(that or firebase sites are auto indexed)

maybe we can explicitly forbid https://istio.io/v-0.1/ in the robots.txt ?
(and while at it skip any *.old )

[2017-10-06 00:26] geeknoid commented on #1035
The robots.txt file has been updated to exclude the v-0.1 directory, so this problem should fix itself shortly.

[2017-10-06 01:43] ldemailly opened #1042 "zipkin delays uninstall (low)"
if I install in a namespace and then delete the namespace

[code]

zipkin shows up as the last pod for a long time (minutes compared to the others going away almost immediately)

[2017-10-06 02:51] ldemailly commented on #1038
I have it reproduced in https://github.com/istio/istio/pull/1041

[2017-10-06 16:58] andraxylia opened #1048 "Restrict RBAC permission to the needed ones"
Reported in istio/issues#89.

Affects pilot, it should not use *, only required permission (get, list, watch) for pods etc. Separate CRDs, if create is needed.

Need to check all components.

[2017-10-06 18:15] #979 closed

[2017-10-06 19:13] ayj commented on #1024
`kubernetes.io/ingress.global-static-ip-name` is not supported by Istio ingress controller.

[2017-10-06 22:46] sakshigoel12 commented on #486
@linsun @costinm @ldemailly do any of you know whats up with this?

[2017-10-07 01:19] ldemailly commented on #1048
see also #1375 for not needing crd create perma

[2017-10-07 01:28] andraxylia commented on #1048
istio/pilot#1375 is for changes in code, if they need to be done.

This is about cleaning up RBAC and separating the CRDs from the rest.

[2017-10-07 15:58] ldemailly commented on #486
I don’t know if lin was able to test or not sorry

[2017-10-07 23:03] sdake opened #1060 "Tidy up documentation around the workflows for mixer"
In PR https://github.com/istio/mixer/pull/1345, general consensus was reached that the build workflow for mixer in https://github.com/istio/mixer/issues/1337 should be submitted to https://github.com/istio/istio/blob/master/devel/README.md.

[2017-10-09 13:47] linsun commented on #486
we haven't been able to get flat networking working for us.  We'll have to document this as a limitation before we can sort that out in blue mix.

[2017-10-09 14:02] elevran commented on #998
Is discussion happening on this issue or https://goo.gl/eLq2uS?
How will a decision be reached and communicated?

[2017-10-09 16:54] costinm commented on #998
Please also check:

https://docs.google.com/document/d/1u8kn6_R6oScmj498kETFj0g0f3Qld2vq7xYi0E2DgJI/edit#

Note that the 2 POCs are pretty basic - and include various other
experiments (better IDE support,
faster initial builds, etc), and are quite incomplete - for example the
single-project proxy only replaces
SHAs with 'local' for a couple of critical deps.

I think most important is to gather f

[2017-10-09 18:27] sakshigoel12 commented on #1035
@jasminejaksic @geeknoid this is not fixed but as Martin said it should fix itself with time. Lets keep an eye but remove it from launch blocking it

[2017-10-09 18:28] sebastienvas commented on #998
Please also check: https://goo.gl/pzCCf4. There are a lot of improvement we can make with the current state of things. @costinm we should consolidate, or better split depending on which objective we want to accomplish.

[2017-10-09 18:29] ldemailly commented on #486
let's close this for now then.

[2017-10-09 18:29] #486 closed

[2017-10-09 19:34] geeknoid commented on #1035
I just requested Google to reindex the site, so hopefully that'll clear
things up.

On Mon, Oct 9, 2017 at 11:27 AM, Sakshi Goel <notifications@github.com>
wrote:

[2017-10-09 21:28] ldemailly opened #1075 "bookinfo mysql error with new images"
[code]
Seems like #1014 or #1022 broke the ratings v2 image, needs to be rebuilt/reverted

[2017-10-09 22:23] kyessenov opened #1076 "Feature: Service aliases"

[2017-10-09 22:24] kyessenov opened #1077 "Feature: External DNS integration"

[2017-10-09 22:25] kyessenov opened #1078 "Incomplete tests: mesh extension - adding VMs to a cluster"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_mesh extension - adding VMs to a cluster_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

[2017-10-09 22:42] kyessenov opened #1079 "Incomplete tests: Run istio control plane (at least mixer) on Specific VMs (ubuntu and debian)"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Run istio control plane (at least mixer) on Specific VMs (ubuntu and debian)_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially

[2017-10-10 21:54] ayj commented on #1042
This seems to be fairly reproduceable (see steps below). I see `Killing container with id docker://zipkin:Need to kill Pod` in the pod description after termination. Possibly an issue with the zipkin image itself being unkillable which forces kubernetes to delete after some timeout?

[code]

[2017-10-10 21:55] ayj commented on #1034
/cc @rshriram @ErikWittern @ldemailly

[2017-10-10 23:15] #1075 closed

[2017-10-11 01:11] hklai opened #1089 "Incomplete test: IDL config delivery to proxy (pilot)"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_IDL config delivery to proxy (pilot)_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**

[2017-10-11 01:12] hklai opened #1090 "Incomplete test: auth attributes"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_auth attributes_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

-

[2017-10-11 01:13] hklai opened #1091 "Incomplete test: API attributes"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_API attributes_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommendations:**

-

[2017-10-11 01:14] hklai opened #1092 "Incomplete tests: Attribute generator (Proxy)"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature “_Attribute generator (Proxy)_” is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommend

[2017-10-11 01:42] hklai opened #1093 "Create performance/stress/load tests"
As identified in https://docs.google.com/document/d/1-b9K5HfW3WRD7LLadlp4MsJtT5zq0b6pdzGt-0hBEtE/edit#heading=h.c484n21lk0lz
we need to design and implement performance, scalability, and stress test framework, and corresponding test cases.

Here are the sub tasks:
[P0] Define the critical metric to capture and acceptance criteria. E.g. e2e request latency, proxy latency, mixer latency, mTLS overhe

[2017-10-11 01:45] kyessenov opened #1094 "Incomplete tests: service aliases"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature https://github.com/istio/istio/issues/1076 is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

[2017-10-11 01:46] kyessenov opened #1095 "Incomplete tests: External DNS integration #1077"
Context: [production readiness proposal and plan](https://goo.gl/pmjuYg)

The feature "External DNS integration #1077" is identified as incomplete test coverage. As a measure to reach Istio production quality in 0.3, this issue is opened to track the progress of providing sufficient test coverage for the feature in question.

This issue is initially assigned to the working group leads.

**Recommen

[2017-10-11 01:48] hklai opened #1096 "Deploy and Probe an Example Service"
As identified in https://docs.google.com/document/d/1-b9K5HfW3WRD7LLadlp4MsJtT5zq0b6pdzGt-0hBEtE/edit#heading=h.5j5f4vy9r9oh
we want to take an example service to production and have it monitored for releasing purposes.

Sub tasks:

[P0] Design a new example service or reuse bookinfo + as many services as possible
[P0] Configure monitoring and alerting and make sure they really works by, say injec

[2017-10-11 01:53] hklai opened #1097 "Create an Istio Production Playbook"
As identified in https://docs.google.com/document/d/1-b9K5HfW3WRD7LLadlp4MsJtT5zq0b6pdzGt-0hBEtE/edit#heading=h.5j5f4vy9r9oh, we need to create a production playbook.

Subtasks:
[P0] Sit down with SREs to figure out production requirements from SRE’s perspective.
[P1] Document mechanics of normal operations, including monitoring and alerting.
[P1] Document troubleshooting best practices.

[2017-10-11 04:07] ldemailly commented on #1093
Ack

[2017-10-12 01:18] ldemailly commented on #453
moving to https://github.com/istio/fortio/issues/2

[2017-10-12 01:18] #453 closed

[2017-10-12 17:45] costinm opened #1112 "There shouldn't be "." inside the tar files of the release packages."
@fleeto commented on [Thu Oct 12 2017](https://github.com/istio/issues/issues/96)

**Is this a BUG or FEATURE REQUEST?:**

**Did you review existing epics or issues to identify if this already being worked on?** (please try to add the correct labels and epics):

**Bug:**
Y

**What Version of Istio and Kubernetes are you using, where did you get Istio from, Installation details**
[code]

**Is Istio

[2017-10-12 17:51] ldemailly commented on #1112
[code]
the first line `./` should not be there

[2017-10-12 18:31] andraxylia opened #1113 "Do not store generated installation files"
To reduce the likelihood of conflicts in istio/istio, the proposal is to not store the generated istio.yaml, istio-auth.yaml..., since they can easily be produced by running install/updateVersion.sh.

They will still be part of the weekly release artifacts.
e2e tests need to be updated to generate them.

[2017-10-13 00:20] ldemailly opened #1118 "debian files should use same name for build and release"
right now we have:

https://storage.googleapis.com/istio-artifacts/auth/fd08656b83caa6f96fd11bb13a266bad04b468e1/artifacts/debs/istio-auth-node-agent.deb

for non release and we manually have

https://storage.googleapis.com/istio-release/releases/0.2.7/deb/istio-agent-release.deb

when we make a release

export AUTH_DEBIAN_URL="https://storage.googleapis.com/istio-artifacts/auth/c433a20e495ec312ef

[2017-10-13 00:48] ldemailly commented on #1113
that's an easy starter task for anyone who wants to start helping with istio install

can also be done as part of https://github.com/istio/istio/issues/851 or https://github.com/istio/istio/issues/706

[2017-10-13 19:24] danehans commented on #626
@ldemailly do you have a design doc, PRs, or any other pointer to learn more about 0.3 multi-cluster support?

[2017-10-13 21:10] emaildanwilson opened #1130 "Istio injection is not working for modified Deployments."
With istio injection running with a setting of `disabled` I'm experiencing an issue where Deployments which are modified to contain `annotations:
    sidecar.istio.io/inject: "true"` do not get injected with envoy. If they are deleted and recreated then the injection works.

The log shows `I1013 20:53:45.569177       1 initializer.go:202] ObjectMeta initializer info extensions/v1beta1, Kind=Replic

[2017-10-13 21:19] gnirodi commented on #626
http://goo.gl/AQARBs will be the canonical design doc for Istio multi-cluster support for v0.3
It's still WIP

[2017-10-13 22:44] ayj commented on #1130
Issue moved to [istio/pilot #1477](https://github.com/istio/pilot/issues/1477) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-13 22:44] #1130 closed

[2017-10-13 22:46] markeijsermans commented on #984
Another option might be to use `hostPort`s on your pod spec. Perhaps binding on ports <1024 is restricted for your system and requires "privileged" mode? Try:
[code]
This is the solution I used to wire up the ingress running on a dedicated worker pool (separate autoscale group) to our public facing ELB's

[2017-10-13 22:49] ayj commented on #1130
Are you modifying the `sidecar.istio.io/inject` annotation _after_ the deployment is created? k8s initializers only run when deployments are created.

[2017-10-13 22:50] ayj commented on #984
Issue moved to [istio/pilot #1478](https://github.com/istio/pilot/issues/1478) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-13 22:50] #984 closed

[2017-10-13 23:30] ldemailly commented on #626
Doc above, the short version is we will start with a pair of clusters (2) + 1 or 2 VMs
and that should be fine for e2e tests

[2017-10-14 14:37] sebastienvas commented on #1118
I propose to remove the dev one as you cannot have 2 targets with same name

On Oct 12, 2017 5:21 PM, "Laurent Demailly" <notifications@github.com>
wrote:

[2017-10-14 18:51] ldemailly commented on #1118
can we have only 1 target but not add "-release" to it,
where it gets copied and if using a sha or a 0.x.y should be independent of the file name no ?

I forgot what the magic / issue was with the 2 target so I may be glossing over an important point

[2017-10-14 19:34] kyessenov commented on #1118
You can also move them to different directories to create two packages.

On Sat, Oct 14, 2017, 11:51 AM Laurent Demailly <notifications@github.com>
wrote:

[2017-10-14 19:52] ldemailly opened #1139 "bug in release-0.2 bot setup"
the bot keep trying to and successfully merging auth changes into release-0.2 while there has been no such changes

https://github.com/istio/istio/commits/release-0.2 has 2 that went through
for instance
https://github.com/istio/istio/commit/6b3c74568fe241dfca8f8d479a6b345d519591d8

https://github.com/istio/auth/tree/release-0.2
last change was 12 days ago

cc @ayj who is trying to make a 0.2 rele

[2017-10-15 00:45] yutongz commented on #1139
Yeah, it tried to get new changes from auth:master to istio:release-0.2. Thanks for pointing it out. Well I don't know about release branch super well, but I suppose release branches should only look at release branches right? If so, I can work on this fix.

[2017-10-15 03:19] ldemailly commented on #1139
Yes release-X.Y branch should only get updates from same name branch in other repos

strangely it seems it wasn't doing it wrong for pilot and mixer, only auth that I noticed?

[2017-10-15 05:03] yutongz commented on #1139
Well, not really, I noticed in https://github.com/istio/istio/pull/1132, it updated almost all repos. And actually it kept doing this kind of thing [here](https://github.com/istio/istio/pulls?utf8=%E2%9C%93&q=is%3Apr%20is%3Aclosed%20is%3Aunmerged%20base%3Arelease-0.2%20)  after https://github.com/istio/test-infra/pull/537, but they all failed until Jason fixed linter in release-0.2 branch https://

[2017-10-15 05:10] yutongz commented on #1139
https://github.com/istio/istio/pull/1140

[2017-10-15 05:24] ldemailly commented on #1139
can the bot use the branch name implicitly ? it seems error prone to have to update N files * M branches each time, we're bound to forget something somewhere

(maybe it's nice to have the option to override the branch but by default it should be the same branch as the target branch/configured branch)

[2017-10-15 05:33] yutongz commented on #1139
/assign @chxchx
We should take current branch as default except if current branch is "master", in that case we look at "stable".

Actually we should have release-0.2-stable. Currently postsubmit in release branch is partly broken  https://k8s-gubernator.appspot.com/build/istio-prow/auth-postsubmit/66/?log#log. It doesn't actually make fast-forward.

[2017-10-15 05:36] ldemailly commented on #1139
I think for the release-branch we don't need -stable as checkins are carefully put in - it'd be weird for the postsubmit to fail when presubmit tests passes (though clearly having said it, it will now happen ;-) )

[2017-10-15 05:40] yutongz commented on #1139
Well, postsubmit is meant to catch bugs brought by direct/force merge. If we can make sure no one does that on changes about actual code, then I guess it's fine.

[2017-10-16 05:48] sdboyer commented on #998
hi folks - it may be a bit orthogonal to your thinking here, but at least some of what you're grappling with here may be addressed by introducing first-class language-level dependency management via https://github.com/golang/dep. if that's something y'all want to look into, i'm happy to answer questions or provide guidance, as needed.

[2017-10-16 16:25] ayj commented on #1139
/subscribe