[2018-12-03 14:56] #7622 closed

[2018-12-03 15:50] hzxuzhonghu commented on #10244
duplicate with #10116

[2018-12-03 16:02] lubinson commented on #8029
@vadimeisenbergibm

I tried add Gateway to http2, http2-api, http. And I also changed my service yaml port name to http2, http2-api, http. Results are all the same, istio use plan tcp to send messages to backend service.

In the page you refered, is it applied to backend service yaml file or gateway yaml file or both?

Thanks.

[2018-12-03 16:14] janmasarik opened #15738 "End user <-> Service question"
Hey,

I have a quick question after reading through [docs](https://istio.io/help/ops/security/end-user-auth/) / [proposals](https://docs.google.com/document/d/1rU0OgZ0vGNXVlm_WjA-dnfQdS3BsyqmqXnu254pFnZg/edit#heading=h.a55i8313mldm) for End user authentication via Istio.

I wasn't able to find out how should I get valid JWT token for user facing OAuth2 app though. There is a mention about usage of

[2018-12-03 16:24] #8029 closed

[2018-12-03 16:50] vadimeisenbergibm commented on #5408
Fixed in https://github.com/istio/istio.io/pull/2940. @Stono Could you please close this issue?

[2018-12-03 16:55] vadimeisenbergibm commented on #8029
@lubinson The requirement is for the backend service kubernetes yaml.

Could you please open another issue with your full configuration? Additional question - do you experience the problem for the traffic from the gateway to your service, or also for the traffic from some pod to your service?

[2018-12-03 16:56] douglas-reid commented on #1778
from an `istio.io/istio` dir, you can type `make mixc`.

[2018-12-03 17:10] lubinson opened #10246 "Packets between ingressgateway and backend service can not be decoded as http packets"
Could you please open another issue with your full configuration? Additional question - do you experience the problem for the traffic from the gateway to your service, or also for the traffic from some pod to your service?

_Originally posted by @vadimeisenbergibm in https://github.com/_render_node/MDU6SXNzdWUzNTE2MjI2NTQ=/issues/unread_timeline#issuecomment-443783351_

[2018-12-03 17:18] douglas-reid commented on #10236
@c-knowles there was a report of a similar issue (that we were never able to repro) in https://github.com/istio/istio/issues/8906. However, after some back and forth with the Prometheus folks, we believed the issue to be fixed with the client-library updates for 1.0.4. It is strange/troubling to see you still experiencing this issue.

@mandarjog @geeknoid do we possibly have an issue with instance

[2018-12-03 17:21] douglas-reid commented on #10236
Nope. So, even if the instance has multiple of the same labels somehow, the prom adapter code uses a map for labels. So, this should be impossible.

@c-knowles do you have any way to recreate ?

[2018-12-03 17:49] lubinson commented on #10246
**Describe the bug**
The tcp packets between ingressgateway and backend service can not be decoded as http or http2 (clear text) packet after change the backend service port name to http, http2 or prefix with http- or http2-. My originate test is using http2(clear text), but failed to decode, then I switch to http 1.1 still the same.

**Expected behavior**
should be decoded successfully.

**Steps

[2018-12-03 18:37] vadimeisenbergibm commented on #10246
@lubinson Do you have Istio global mTLS enabled?

[2018-12-03 19:21] ayj commented on #10220
Pilot e2e tests using ServiceEntry were failing w/o the service/endpoint events (requiring diff). Unlike user authored config, it seems that the external service registry is updating its internal state using the events. Maybe that changed since we did the initial MCP client integration in Pilot.

It sounds like we'll want 'synthetic` ServiceEntry generation to be guarded by a flag/API (when its ad

[2018-12-03 19:30] liminw commented on #8477
FYI. @yangminzhu is working on it right now. Hopefully we will get some perf data soon.

[2018-12-03 20:15] deadc commented on #9273
same problem here, using as example the Mirroring  https://istio.io/docs/tasks/traffic-management/mirroring

[2018-12-03 21:34] mabushey commented on #10221
I recommend never installing anything with helm. Use helm template to create the yaml file. Then you can install/uninstall correctly.

[2018-12-03 21:40] kyessenov opened #10252 "mixer: use StringMap type in place of map[string]string across mixer"
I'd like to standardize on the types of attribute values across the code base. There are a lot of dynamic type checks that depend on the correct type.

Given that the proto bag requires tracking map dereferences, we should consistently utilize StringMap in place.

/cc @geeknoid
/assign @kyessenov

[2018-12-03 21:42] mabushey commented on #10053
I believe Rook supports Cassandra. Rook is amazing, it's the only k8s "framework" that has just worked effortlessly, and their docs are correct (huge contrast to Istio docs). Rook, at least with Ceph, plays nice with Istio.

[2018-12-03 21:44] costinm opened #10253 "Config consistency for MCP client"
Pretty much all istio components load certificates from /etc/certs, and don't require an explicit flag to configure this.

pkg/mcp/creds/watcher.go uses /etc/istio/certs and the templates have explicit flags.

Can we simplify this ? If there is some cases to not use normal certs it's fine to keep the flag in the code, but not in the helm templates.

[2018-12-03 21:46] mabushey commented on #9923
@chunheisiu - This issue is discussed in detail on #10062

[2018-12-03 21:48] mabushey commented on #10246
Issue #10062 covers everything you need to disable the broken mTLS settings from 1.0.3 on.

[2018-12-03 23:23] mandarjog opened #10258 "Istio Telemetry: jaeger goroutines stuck on generating a random number"
Istio version 1.0.4
Under heavy load jaeger startspan function is called from 1000s of go routines.
They are attempting to start tracing and contend for a single mutex to generate a random number.

There is a different change that removing random tracing from mixer would address this problem. However if we want to increasing tracing in Mixer we are bound to encounter this problem again.

[code]

[2018-12-03 23:38] Nethminiromina commented on #1778
Thanks

[2018-12-04 00:43] yurishkuro commented on #10258
Yes, the random number generator in Jaeger is synchronized: https://github.com/jaegertracing/jaeger-client-go/blob/c58709fe19d793cdd40ad8bfa6e645a40a2eccf8/utils/rand.go#L35

One option might be to have a pool of these - it would still require a mutex, but hopefully with a lot less contention.

[2018-12-04 00:45] chunheisiu commented on #9923
@mabushey Thanks for the tip. Do you know if the issue in #10062 also affects 1.0.2?

[2018-12-04 01:35] c-knowles commented on #10236
@douglas-reid was looking at this for a while yesterday but no luck so far. Interesting it's fallen over again last night with the same error so it is reproducible just not sure of the cause as a lot of moving pieces. Any advice where to start? Here is a gist of the helm values I am using - https://gist.github.com/c-knowles/f606fb0e0462759a0354ef737c9e7cc8. The `${}` style parameters are substitut

[2018-12-04 01:36] hzxuzhonghu commented on #10223
Why do you think so? No doc saying that.

[2018-12-04 01:57] Lax77 commented on #1430
+1 for UDP

[2018-12-04 02:03] #6282 closed

[2018-12-04 02:19] vadimeisenbergibm commented on #10246
Thank you @mabushey !

[2018-12-04 02:34] hzxuzhonghu opened #10263 "Cache ServiceAccounts in push context"
Currently during push, `GetIstioServiceAccounts` is called when pilot generate outbound clusters for each proxy. It is very inefficient, complexity is O(n*n).

Should better cache the ServiceAccounts in push context, like map[hostname:port]-->[]string. Just like `allServices` `virtualServiceConfigs`...

[2018-12-04 04:14] ChenLingPeng opened #10264 "Intelligent Routing through ingress gateway"
**Describe the feature request**
requests from outside through ingressgateway should have the ability to configure the service backend version

**Describe alternatives you've considered**
In the bookinfo example, I want to expose the `reviews` service and configure destinations based on some rule. But it seems not support.

## first try:

[code]

when I visit reviews through `${INGRESS_GATEWAY}/re

[2018-12-04 06:10] ChenLingPeng commented on #10264
my fault, it's subset not subnet

[2018-12-04 06:10] #10264 closed

[2018-12-04 06:45] loveai88 opened #10266 "sidecar not send span to jaeger"
**Describe the bug**
I deploy istio 1.0.4,and enable trace,and I can see some  services in Jaeger UI.
<img width="314" alt="2018-12-04 14 42 47" src="https://user-images.githubusercontent.com/1001227/49423563-e4494500-f7d2-11e8-8277-dfcc3d5d411c.png">

Now I deploy my java service ,I process the header param in my code.
[code]

the log like this:
[code]

and I can not find the service in Jaeger UI

[2018-12-04 07:18] loveai88 commented on #10266
you must named the service port!!!

[2018-12-04 07:18] #10266 closed

[2018-12-04 08:13] ccshih commented on #8545
I have the same issue with 1.0.2.

My kubernetes version:
[code]

[2018-12-04 09:44] bzon commented on #7776
I was able to get this working. The only step to be done is to ensure all Nginx Controller Ingress objects have this annotation `nginx.ingress.kubernetes.io/service-upstream: "true"`. That's it!

Do not add the pod annotation `traffic.sidecar.istio.io/includeInboundPorts: ""` to your ingress controllers pod.  This will disable jaeger tracing!

One important thing to note is to ensure that all your

[2018-12-04 09:58] wansuiye opened #10267 ""unknow attribute destination.port " when creating a grpc adaptor"
**Describe the bug**
{{ Succinctly describe the bug }}
when creating a grpc adaptor, it reports error "destination.port" attribute unknow, however i can find it from the wiki and the helm/mix/template/config.yaml, so if the attribute is available？
the config as below and other attributes are available.

[code]
**Expected behavior**
{{ What did you expect to happen? }}
no error

**Steps to reproduc

[2018-12-04 10:03] #7597 closed

[2018-12-04 10:57] ksemba commented on #10209
@bianpengyuan @douglas-reid @kyessenov I've been playing with the instances that I forward to my adapter by copying the rule that is used within the prometheus adapter into my YAML file:

kind: rule
metadata:
 name: analytics-cloud-http
 namespace: istio-system
spec:
 match: context.protocol == "http" || context.protocol == "grpc"
 actions:
 - handler: analytics-cloud.istio-system
   instances:

[2018-12-04 13:03] #7325 closed

[2018-12-04 14:51] MandarJKulkarni commented on #7688
I am facing this issue even though I have done:
helm del --purge istio
kubectl delete -f .\install\kubernetes\istio-demo.yaml
kubectl delete -f install/kubernetes/helm/istio/templates/crds.yaml -n istio-system

But,
helm install install/kubernetes/helm/istio --name istio --namespace istio-system
still gives me
Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "deniers.con

[2018-12-04 17:13] GregHanson commented on #10226
@hzxuzhonghu ok to close this one?

[2018-12-04 17:45] GregHanson commented on #10227
@zhaohuabing how does this perform with release-1.1 branch? Or the latest release snapshot `1.1.0-snapshot.3`?  Master does not the latest code.  I wonder how much of the incremental EDS work done for 1.1 will impact/improve this.

[2018-12-04 18:03] #6568 closed

[2018-12-04 18:36] kyessenov commented on #10252
There are several more sticking points around this subject:
- code generation needs to be updated to also use stringmaps
- `int` type is also not handled by the cache properly, suggesting to get rid of it and use `int64`
- `time.Duration` is redundant since it's equivalent to `int64`

[2018-12-04 18:49] douglas-reid commented on #9596
To fully fix this, we will need to remember to reenable the check-cache tests.

[2018-12-04 18:57] liamawhite commented on #6642
@nmittler Whats outstanding on this issue? Just the documentation part?

[2018-12-04 19:05] nmittler commented on #6642
@liamawhite IIRC the original goal of this issue was to allow developers to write their own probers until we had readiness implemented.  I'm fine closing this.

[2018-12-04 19:05] #6642 closed

[2018-12-04 19:08] ayj commented on #10220
I'm looking into improving memory usage in Pilot MCP client.

[2018-12-04 19:10] liamawhite commented on #9273
Ports on different services should be fine unless they are speaking different protocols. In your case, I'm not 100% sure what is happening here. Are you using ServiceEntries to define the external to mesh apps? Could you share them?

[2018-12-04 19:10] linsun commented on #10211
Tests have been added and passing, as an optional test for now.

[2018-12-04 19:10] #10211 closed

[2018-12-04 19:13] mattfarina opened #10272 "List charts repo in distributed search"
**Describe the feature request**
The Helm project will be launching a distributed charts search. Consider listing the istio charts repository (found at https://istio.io/charts/index.yaml) there. Details on being listed can be found at https://github.com/helm/hub

[2018-12-04 19:30] ostromart commented on #9836
Fixed in https://github.com/istio/istio/pull/10022

[2018-12-04 19:30] #9836 closed

[2018-12-04 19:30] linsun commented on #10056
discussed with @GregHanson - he thinks all the items merged should have covered this WI.

[2018-12-04 19:30] #10056 closed

[2018-12-04 19:31] munrodg commented on #9928
@johnzheng1975 it would be great if you could use the latest 1.1 release for the same test and send us the dashboard. Thanks.

[2018-12-04 19:51] linsun commented on #9659
@vadimeisenbergibm could you help look at this issue?

[2018-12-04 19:55] akoutmos opened #10273 "Grafana deployment error"
**Describe the bug**
I am trying to install Istio 1.0.4 via Helm on my DigitalOcean Kubernetes cluster and the installation is failing because of a failure when trying to configure Grafana. This is the error that I receive"
`Error: release istio failed: Deployment.apps "grafana" is invalid: spec.template.spec.containers[0].volumeMounts[1].name: Not found: "dashboards-istio"`

**Expected behavior**

[2018-12-04 20:03] douglas-reid commented on #10236
@c-knowles how are you generating that chart ? do the drop in request count totals correspond with restarts of the telemetry pods?

Can you post the output from a `:9093/version` lookup on one of the `istio-telemetry` pods here just to be sure we have the right version of everything?

@beorn7 any ideas here?  This should be with:
[code]

[2018-12-04 20:03] #4847 closed

[2018-12-04 20:42] vadimeisenbergibm commented on #9659
@linsun The issue is with the design of DestinationRules in general:

[code]

The DestinationRule references certificates, but cannot specify the pods the certificates must be loaded in. As a result, either the certificates must be loaded in all the pods, or there will be warning/errors in the pods where the certificates are not loaded. A possible workaround currently is to mount "fake" certificat

[2018-12-04 20:44] nemo83 commented on #9297
The istio docs say kiam / kube2iam should not be required at all: https://preliminary.istio.io/docs/concepts/security/#istio-identity
Unfortunately thou, I cannot find any further doc on how really implement it :-(

[2018-12-04 20:49] costinm commented on #10220
Please just remove all diff in pilot. Not needed now or in furure.

On Tue, Dec 4, 2018, 11:11 Jason Young <notifications@github.com wrote:

[2018-12-04 20:50] costinm commented on #10220
MCP should not affect eds in 1.1

On Mon, Dec 3, 2018, 11:21 Jason Young <notifications@github.com wrote:

[2018-12-04 21:02] linsun commented on #9659
@vadimeisenbergibm thank you for digging into it.  Ok, so this is related to the network scoping issue that has been discussed.  I got a little confused earlier because @axel7born  mentioned it worked in 1.0 but not in 1.1.   It is possible our tls mode is 1.1 has a different default that is non strict..

[2018-12-04 21:02] beorn7 commented on #10236
I don't have any theory that hasn't been falsified already. I haven't found any way to create the above error with the Prometheus client library alone, and my look at the Istio code didn't yield any abusive usage that would explain the error. It must be something subtle...

[2018-12-04 21:08] vadimeisenbergibm commented on #9659
@linsun Right, the scoping should resolve this issue. See @costinm's reply on https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/istio-security/a8yl8YfMCNE/QkK71haXAgAJ

[2018-12-04 21:26] jcetkov opened #10277 "Routing TCP traffic to egress gateway with DNS resolution"
Consider a scenario:
An application needs to access external service via TCP, where the hostname configured in the application is difficult to change and routing via egress gateway is desired.

There are multiple services accessed from within the cluster using the same port, so the `addresses` field of the `ServiceEntry` needs to be populated.

Following the guide https://preliminary.istio.io/blog

[2018-12-04 21:33] beorn7 commented on #10236
That's what I tried to provoke in this unit test:
https://github.com/prometheus/client_golang/blob/master/prometheus/registry_test.go#L781

It all behaved as expected.

[2018-12-04 21:38] Stono opened #10279 "High istio-proxy CPU"
Hi,
I'm seeing quite high istio-proxy CPU on one of our applications when under load.  As you can see here, istio-proxy floats around 0.5 cores with the app using 1.5cores, this is under a load of approx 125-150 ops/sec.

<img width="805" alt="screenshot 2018-12-04 at 21 31 47" src="https://user-images.githubusercontent.com/1486729/49474246-1d51db80-f80c-11e8-98b4-425546e8d1fc.png">

This particul

[2018-12-04 21:51] rshriram commented on #9185
It would be good to test if 503s repeat when mixer is set to fail open.

[2018-12-04 22:00] rshriram commented on #9185
Also instead of simply doing helm upgrade or some such thing, add new version of mixer pods, delete the labels from old mixer deployment, wait for a couple of minutes and then delete old mixer deployment.

This is the issue with rolling in place upgrades.

[2018-12-04 22:03] #7667 closed

[2018-12-04 22:14] rshriram commented on #9659
We have an implementation of scoping in progress for 1.1.

[2018-12-04 22:19] loewenstein commented on #9659
@linsun there was no probe in place for 1.0, hence the rejected config that anyway didn't get used on sidecars didn't stop the pod from being ready.

[2018-12-04 22:21] #5408 closed

[2018-12-04 22:56] nmittler commented on #8353
This work has already been done.

[2018-12-04 22:56] #8353 closed

[2018-12-04 22:56] nmittler commented on #8877
I've merged all k8s commands into the Accessor. This is good enough to mark this as done.

[2018-12-04 22:56] #8877 closed

[2018-12-04 22:57] nmittler commented on #8888
Support for component variants was introduced in the recent refactoring work.

[2018-12-04 22:57] #8888 closed

[2018-12-04 22:58] nmittler commented on #9118
I believe this has been resolved by recent changes.  We can re-open if problems persist.

[2018-12-04 22:58] #9118 closed

[2018-12-04 23:00] nmittler commented on #8849
@ozevren is all that remains here is to try out the test framework with an alternative namespace?

In fact, I wonder if by default the system namespace should be auto-generated the same way we do for test and suite scopes.

[2018-12-04 23:03] nmittler commented on #8812
I think it's fine for now.  We can bring it back up in the future if anyone growls.

[2018-12-04 23:03] #8812 closed

[2018-12-04 23:04] nmittler commented on #8928
@ozevren do you have a specific example? Is the problem simply a matter of which default is used?

[2018-12-04 23:04] ozevren commented on #8849
I am not sure what is left blocking this at this point. It needs to be tried out. Auto-generation sounds like a good idea. It will implicitly test and enforce the use of non-standard system namespaces.

[2018-12-04 23:06] quanjielin opened #10283 "integrate nodeagent with citadel"
Below are some gaps for Citadel support for k8s trustworthy jwt, which is needed for SDS work e2e in master branch:
1. Citadel extracts identity with format like ```spiffe://[trust_domain]/ns/[ns]/sa/[k8s-sa]``` from k8s trustworthy jwt, and put in SAN field in its issued cert
2. Citadel validate k8s trustworthy jwt(if jwt pubkey is available)

Without Citadel support for k8s trustworthy jwt, we w

[2018-12-04 23:37] nmittler commented on #3063
Actually, looks like I misread https://github.com/istio/istio/issues/3063#issuecomment-439257309 ... we only need readiness for this. The updated liveness changes still need some discussion ... but it won't stop work on this issue.

[2018-12-04 23:42] jsw commented on #6552
I think I am seeing this in 1.0.4.

[code]
Let me know if I can provide more info.

[2018-12-04 23:47] kyessenov commented on #6552
possibly related to #9596 ?
TL;DR mixer server side cache ignores string maps in the cache key computation. The workaround is to disable it with --numCheckCacheEntries=0 in mixer deployment.

[2018-12-04 23:47] kyessenov commented on #6552
Closing in favor of #9596

[2018-12-04 23:47] #6552 closed

[2018-12-05 00:03] #7646 closed

[2018-12-05 00:36] ayj commented on #10220
I made a few small adjustments to Pilot MCP integration to reduce memory allocations. The resulting pprof memory profile highlighted the fact that Pilot now validates configuration w/MCP (see below) when deciding whether to ACK/NACK. Pilot w/k8s didn't validate user authored config.

[code]

[2018-12-05 00:36] loewenstein commented on #2197
@nmittler this should probably not have been closed, right? Not sure about timelines, but eventually TCP will get to beta I suppose.

[2018-12-05 00:40] mandarjog opened #10285 "perftools: Add ability to auto export grafana dashboards"
In long running test we eventually want to export  an extract of prometheus metrics.
In addition to that, it is useful to also export grafana dashboard.

1. Create scripts that can export grafana dashboards
 on [grafana dashboard](https://grafana.v104.qualistio.org/d/t8BUIg1mz/istio-performance-dashboard?orgId=1) click share --> snapshot --> publish to snapshot.raintank.io
2. These snapshots shoul

[2018-12-05 00:52] kyessenov commented on #2802
Is there an interest in list of values beyond the strings?
Lists of ints? Lists of floats? Lists of IP addresses?

[2018-12-05 00:54] mandarjog commented on #10285
[V 104 performance dashboard](https://snapshot.raintank.io/dashboard/snapshot/1m57pteXI8jIOeBa53b75ot6Otd6op56)

[V 1.1 performance dashboard](https://snapshot.raintank.io/dashboard/snapshot/6t1PbbZs7fJ0ryPLY2Gxo2xSBWgVhupc)

[V 1.1 mcp performance dashboard](https://snapshot.raintank.io/dashboard/snapshot/ubI2wfiLJ4yP0uEPuDSDUmJyb9e95JIG)

[2018-12-05 01:03] #6791 closed

[2018-12-05 01:13] zhaohuabing commented on #10227
@GregHanson I haven't tried 1.1.0 yet. I went through the codes, the TIME_WAIT sockets are mostly due to the implementation of the consul registry.
1. No cache, so consul controller have to call Consul REST API to get the Services and Service instances every time for an xDS request.
2. Pilot call  Consul REST API to get all the  Services and Service instances and compare them with the previous res

[2018-12-05 02:12] hzxuzhonghu commented on #10226
Weird the bot did not auto close this

[2018-12-05 02:12] #10226 closed

[2018-12-05 02:17] louiscryan opened #10288 "Support Gateways as 'whitebox' sidecars"
**Describe the feature request**
Describe how to co-locate an Envoy proxy with a workload that is not using iptables as blackbox traffic capture. Instead enable the configuration of that sidecar to be configured using the Gateway resource to allow it to act like a 'whitebox' sidecar that application code explicitly uses.

This mechanism should work with mTLS when sending traffic to or receiving tr

[2018-12-05 02:56] sunyl527 commented on #9466
@nixgadget I had ready upgraded Istio version to 'Istio 1.1.0-snapshot.3',this issue did not appear,but others coming......

[2018-12-05 03:12] linsun commented on #9185
That is a great point @rshriram.   Per this user, 503 went away when mixer policy is disabled:  https://groups.google.com/forum/#!topic/istio-users/JIUfrIX3zs4

[2018-12-05 03:32] linsun commented on #8849
I'm not aware of issues running in a namespace other than istio-system.  I recall red hat team published a blog on istio.io that describes running multiple istio in multiple namespaces for soft multi tenancy.

[2018-12-05 03:39] linsun commented on #9659
@loewenstein thank you - that makes sense now.

[2018-12-05 04:10] hzxuzhonghu opened #10290 "Deploy 1.1.0-snapshot.3 x509: certificate signed by unknown authority"
**Describe the bug**
deploy bookinfo example failed in version 1.1.0-snapshot.3

I deploy by `kubectl apply -f install/kubernetes/istio-demo.yaml`

But when create bookinfo by `kubectl apply -f samples/bookinfo/platform/kube/bookinfo.yaml`, there are no pods up.

By checking kube-apiserver log, I find this
[code]

[2018-12-05 07:17] c-knowles commented on #10236
@douglas-reid the chart is a screenshot from datadog, it's the average of reported values scraped from the prometheus endpoints of the telemetry service:
[code]

Selecting max or sum gets different values but similar charts. Perhaps slightly less spikey with sum but still bottoms out after some time. Is it expected that this value continually increases or is it meant to act more like a request rat

[2018-12-05 07:47] hzxuzhonghu commented on #10290
Resolved， I updated my host dns config.

[2018-12-05 07:47] #10290 closed

[2018-12-05 08:38] balajeetm commented on #9480
Hi,
Is there any update on this? I'm facing this issue in production.

[2018-12-05 08:43] Stono commented on #9480
Upgrade to 1.0.4

On Wed, 5 Dec 2018, 8:39 am Balajee Mohan <notifications@github.com wrote:

[2018-12-05 09:55] irisdingbj commented on #9800
Trying to add a cache for this to avoid converting frequently.

[2018-12-05 10:13] bzon commented on #7302
https://github.com/istio/istio/issues/7302#issuecomment-414909883 worked for me. Thanks @xaka

[2018-12-05 10:37] #3987 closed

[2018-12-05 11:35] Evesy opened #10293 "istio-ctl proxy-status <envoy> constantly shows diffs"
**Describe the bug**
`istioctl proxy-status` shows Envoy instance as fully synced:

[code]

`istioctl proxy-status monkeynetes-69f85c5749-rbw9c.monkeynetes` constantly displays diffs (for a hanful of different routes each time) between itself and Pilot. The diff as shown below is actually the same config however ordering of items in `requestHeadersToAdd` is different:

[code]

**Expected behavior*

[2018-12-05 11:37] #7687 closed

[2018-12-05 12:00] PhilipGough opened #10294 "Unexpected caching behaviour for OOP adapter"
**Describe the bug**

This may not be a bug but the behaviour is not as I would expect. We are working on an OOP adapter which supports the default [Authorization template](https://istio.io/docs/reference/config/policy-and-telemetry/templates/authorization/).

Within the adapter, to return a successful  `CheckResult`, the user must provide an `api_key` as query param or header. If auth against the

[2018-12-05 12:37] #6732 closed

[2018-12-05 12:40] elevran commented on #10041
@rchernobelskiy would an nginx based solution work for you (assuming minimal performance impact)? What, if any, would be some of the concerns?

[2018-12-05 12:45] PhilipGough commented on #9596
Seeing the same behaviour and have reported #10294

[2018-12-05 13:38] #6095 closed

[2018-12-05 14:37] #7653 closed

[2018-12-05 14:59] vadimeisenbergibm commented on #10041
@rchernobelskiy We checked the options for configuring Envoy and Nginx to implement keep alive. The issue is not with Envoy (I edited my comment https://github.com/istio/istio/issues/10041#issuecomment-440182562), but with Nginx.

The [keepalive directive of Nginx](http://nginx.org/en/docs/http/ngx_http_upstream_module.html#keepalive) is applied to the `upstream` section, which does not exist for

[2018-12-05 15:03] nmittler commented on #8849
@linsun IIUC this issue is specifically related to the new test framework, not Istio in general.

[2018-12-05 15:09] AWKIF commented on #1430
+1

[2018-12-05 15:11] Stono opened #10297 "Istio-telemetry generating a lot of traces"
This is an issue just to track what I have discussed on slack with @douglas-reid and @mandarjog

Istio-telemetry is generating a **lot** of traces in Jaeger, see:

![image](https://user-images.githubusercontent.com/1486729/49522526-c4cc1e00-f89f-11e8-9c58-69d8153c4586.png)

Under high load, this is effectively DDOSing our Jaeger instance with Junk.

I believe this is being addressed in 1.0.5 and 1

[2018-12-05 15:39] nitishm opened #10298 "Infinite redirect loop with nginx and istio-proxy when Host: <upstream-svc-fqdn> header not included in curl request."
**Describe the bug**
When using an nginx deployment _(not to be mistaken with nginx ingress controller)_ with istio `sidecar-injection` **enabled** in the namespace, the proxy_pass behavior of the nginx proxy (along with envoy intervention) causes redirected/proxied traffic to enter an infinite loop.
nginx.conf base configuration _(truncated for brevity)_
[code]

The nginx configuration has **`htt

[2018-12-05 15:49] lubinson commented on #10246
@mabushey

how to disable it? can it be worked in 1.0.0? Thanks.

[2018-12-05 15:59] nitishm commented on #10298
I also want to add the contents of the `sentry_access_handler.conf` file -
[code]

I am wondering if the `proxy_set_header Host $host;` has something to do with this ?! Just a thought anyway (I am not an nginx expert, so I will try to do some digging in myself)

[2018-12-05 16:00] nirak63 commented on #10298
/kind bug

[2018-12-05 16:06] linsun commented on #10293
cc @ericvn

[2018-12-05 16:09] linsun commented on #7302
@vadimeisenbergibm could you check if we need to clarify anything in our doc?  Seems a common issue that is not super straightforward.

[2018-12-05 16:10] sapien99 commented on #9097
Looking exact for the same thing, +1

[2018-12-05 16:15] vadimeisenbergibm commented on #7302
@linsun Will do.

[2018-12-05 16:37] #7231 closed

[2018-12-05 16:56] howels opened #10300 "Ingress-Gateway does not restart when TLS certs are changed"
**Describe the bug**
When adding/updating a TLS cert, the ingress-gateway pod must be deleted as the proxy process doesn't react to the new certificate. Creating issue under advice from @liamawhite

**Expected behavior**
Proxy SDS service spots the filesystem change and restarts the proxy automatically.

**Steps to reproduce the bug**
Replace cert in ingress-gateway, cert is not used.

**Version**

[2018-12-05 17:01] nitishm commented on #10298
Looking at the `sleep` pod routes using istioctl, seems like the `Host: istiotesthelm-sentry-mockservice` gets intercepted by the outbound envoy proxy route rule, hence redirecting it to the upstream service instead of nginx.

`istioctl proxy-config routes sleep-86f6b99f94-bqmbv --name 80 -o json`

[code]

The problem still stands in this case, on why nginx behaves the way it does, when working wi

[2018-12-05 17:01] bobbytables commented on #8906
Nope, still seeing this:

[code]

[2018-12-05 17:04] kuberkaul commented on #9142
for sure, an entry in FAQ would have saved me a lot of time.

[2018-12-05 17:08] bobbytables commented on #10236
Seeing this as well (I opened the original issue #8906 for this too).

Istio 1.0.4 on K8s 1.9.3. We're using SignalFx to scrape prometheus endpoints. I've annotated the telemetry pod with the prometheus annotations so SignalFx picks up the metrics. This works for a couple of hours and then we see the same issue.

This is a screenshot of it dying in SignalFx

![image](https://user-images.githubuser

[2018-12-05 17:10] bobbytables commented on #10236
@douglas-reid would it be helpful to jump on a google hangout or something? I'd be happy to show you what we're doing instead of back and forth on this issue.

[2018-12-05 17:15] nitishm commented on #10298
Provided a more consolidated `nginx.conf` so that you dont have to jump around in the original comment to plugin the pieces together. Find it at [nginx.conf](https://pastebin.com/TSr6rrAE)

[2018-12-05 17:21] quanjielin commented on #10300
SDS work E2E is WIP

[2018-12-05 17:30] deadc commented on #9273
Adding more information to the issue, when I use the service on port 8080, as described in Istio's own manual, the rule set in VirtualService does not work.

[code]
In Kiali, the observability tool we use makes it clear that there is a problem

![istio-issue](https://user-images.githubusercontent.com/706271/49531227-f85b7800-f8a0-11e8-9f16-8bd7128f1b8e.png)

But when we change the service port to

[2018-12-05 17:38] tchanorcl commented on #9224
@vadimeisenbergibm @zoupl Hi, I have also encountered the same error - except that it is the Bookinfo->Ratings v2 Node.js throwing an error when it tries to connect to the MySql that is outside the mesh/cluster. MySql is running directly on a host VM. This follows the [Consuming External TCP Services](https://istio.io/blog/2018/egress-tcp/) Except I am trying to redirect all egress traffic to MySQ

[2018-12-05 17:46] Nino-K commented on #8148
Just wondering what is the status of the server/client support for incremental updates? I would like to help on this.

[2018-12-05 17:53] mandarjog commented on #10297
resolved by #10281

[2018-12-05 17:56] #6825 closed

[2018-12-05 18:14] douglas-reid commented on #10236
@bobbytables perhaps -- thanks for the offer. maybe we should sync via a different mechanism about times, etc.

I have an idea I want to chase down to see if I can first repro and then fix the issue.

@c-knowles and @bobbytables, when you see the failure case, do you by any chance see a time-correlated log in istio-telemetry logs like: "Built new config.Snapshot: id=" or "Reloading adapter" or eve

[2018-12-05 18:19] PiotrSikora commented on #7665
Perhaps [`x-envoy-retry-on: gateway-error`](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-on) would help here?

[2018-12-05 18:30] douglas-reid commented on #10236
@beorn7 I modified that test by adding 16 labels instead of 3 and ran it for 60 seconds. I was able to repro the issue.

Sample logs:

[code]

[2018-12-05 18:34] Stono commented on #7665
We use:
[code]

[2018-12-05 18:49] kyessenov commented on #9596
@PhilipGough I believe `net.IP` addresses are subject to the same mistake as request headers. Server-side cache key computation has a dynamic type check, and ignores values of type `net.IP`. These values may be produced by attribute-producing adapters. A PR is in progress to enforce the correct types for all attributes.

[2018-12-05 18:50] patrickbadley commented on #2802
My use case only requires a list of strings, however, since JWTs support having multiple claims with the same key, presumably you should be able to have an array of any type that is supported as the value of a claim.  Does that make sense?  If claims with values of string, float, int, ip address (i would think this would just be a string, but following your example...) then arrays of all those val

[2018-12-05 19:03] costinm commented on #10288
https://github.com/istio/istio/tree/master/pilot/docker has few examples for envoy used as a non-iptables sidecar.

Note that both examples have special restrictions - they are used in front of Pilot and Mixer, and for bootstraping reasons they don't use ADS and are focused on inbound.  We'll need to tweak them a bit and test with pilot.

For outbound - we support HTTP PROXY , by setting ProxyHttp

[2018-12-05 20:37] #5308 closed

[2018-12-05 20:40] somcsel commented on #8263
The code added in PR #9178 has been removed - mistakenly, I believe - by #9016.

[Here](https://github.com/istio/istio/pull/9016/files#diff-86fb73d7dd150e47328ead76ceca0992L276
) is the diff.

I have verified that this is the case using 1.11.0-snapshot.3 and logging the incoming HTTP headers at the sidecar with an EnvoyFilter.  As seen below, the sidecar appends the client certificate `Hash` to `X

[2018-12-05 21:30] douglas-reid commented on #10236
@beorn7 I sent a provisional PR for your consideration and to help in tracking the issue: https://github.com/prometheus/client_golang/pull/511.

[2018-12-05 21:32] incfly commented on #10263
I've done some work before on this topic. Unless you've started something, I can pick this up.

[2018-12-05 21:36] incfly commented on #8560
Copy from https://github.com/istio/istio/issues/10263#issue-387093122

Currently during push, GetIstioServiceAccounts is called when pilot generate outbound clusters for each proxy. It is very inefficient, complexity is O(n*n).

Should better cache the ServiceAccounts in push context, like map[hostname:port]-->[]string. Just like allServices virtualServiceConfigs...

[2018-12-05 21:36] #10263 closed

[2018-12-05 21:50] costinm commented on #8595
Yes, hostPort should work - the root cause is that Istio currently uses the IP of the pod as a key.
With hostNetwork, you get the host IP - which is no longer a key ( since ingresstageway and other pods using host networking get the same IP ).

The reason we use IP as key: readiness/liveness probes and Service. K8S maintains a list of IPs associated with a service, and can remove/add to the list i

[2018-12-05 22:02] costinm commented on #8595
For workarounds:
- removing the labels work by exploiting a validation bug in Istio - it's probably of for 1.0, no plan to fix the bug. ( i.e. a Gateway without selector will match all gateway workloads, regardless of namespace or name)

- if you have a single istio app with 'host' network - it's still going to work - the IP of the host will map to the pod.

- if you have 2 apps with 'host network

[2018-12-05 22:08] rshriram commented on #10298
This is a bit confusing with very similar service names. Could you describe/draw (ascii) the intended data flow (client, nginx, server) etc

[2018-12-05 22:19] douglas-reid commented on #8906
For those following along, I mentioned this on the related issue, but here it is again: https://github.com/prometheus/client_golang/pull/511

[2018-12-05 22:31] mmckane commented on #7658
Can someone Please Re-Open this? This is not implemented or documented from what I can tell. Envoy appears to have implemented the Secret Discovery Service, and the Node Agent appears to have some implementation of the envoy secret discovery service but I am guessing that is for mtls cert refresh. If this does work for the Istio Gateway does anyone have details on how this works or how to set it u

[2018-12-05 22:37] #6512 closed

[2018-12-05 22:58] myidpt commented on #7658
Please see https://github.com/istio/istio/issues/9030. It should solve the multiple-tls cert issue here.

[2018-12-06 00:03] incfly commented on #6384
Reopen the issue for adding an e2e test for https service behind `PERMISSIVE` mode.

We recently hit some issue that case does not work and magically work again in 1.1 branch and master...
https://github.com/istio/istio/issues/9837

[2018-12-06 00:06] douglas-reid commented on #10201
@objectiser I added a first draft to the community drive. PTAL: https://docs.google.com/document/d/1fHKozeDC1bQlY58dN2SP-IQxtD2TzZ0COOyRc7kcao4/edit#

[2018-12-06 00:08] douglas-reid commented on #9142
@linsun @kuberkaul @clyang82 @adriancole please take a look at a draft FAQ I put together this afternoon (added to the Istio community team drive): https://docs.google.com/document/d/1fHKozeDC1bQlY58dN2SP-IQxtD2TzZ0COOyRc7kcao4/edit#.

Would appreciate any and all comments before I send it off to the appropriate editors, etc.

[2018-12-06 00:18] douglas-reid commented on #10267
`destination.port` is installed with the `istioproxy` attribute manifest (as you allude to in your description: https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/mixer/templates/config.yaml#L70-L71).

What do you see when you run: `kubectl -n istio-system get attributemanifests istioproxy -o yaml`

[2018-12-06 00:19] douglas-reid commented on #10297
Dupe of https://github.com/istio/istio/issues/4227 ?  Should we close this now?  Or wait until verified with 1.0.5 ?

[2018-12-06 00:20] cwocwo commented on #9557
I submit a pr : https://github.com/istio/istio/pull/10289

Document issue: https://github.com/istio/istio.io/issues/2947

## How to use
The `externalIPs` property can be edit in `istio-ingressgateway` section in `helm/istio/value.yaml `  file.

For example:
[code]
## Effect
 Use this config to install istio ([helm-install](https://istio.io/docs/setup/kubernetes/helm-install/)), then check it:
[cod

[2018-12-06 00:22] zoupl commented on #9224
Istio egress gateway still not work. So I changed to use haproxy instead.

[2018-12-06 00:37] #6591 closed

[2018-12-06 00:49] mmckane commented on #9030
So I have been struggling with cert-manager integration as well, especially with HTTP01 validation. I have been using @dunjut Cert-Sync with Cert-Manager. Here are the issues I have run into so far on the HTTP01 front and am currently struggling with:
1. With the Current Version of Cert-Manager lets encrypt Solver pod names/service names are randomized, and the labels are all hashed with adler32.

[2018-12-06 00:55] mandarjog commented on #8595
I have tested this workaround by removing `selector` from here and we will send that gateway config to all gateway deployments.

[code]

[2018-12-06 01:34] chunheisiu commented on #9923
I managed to deploy our Galera MariaDB cluster on a test environment, and I found that with sidecar injections, both master and slave failed to find healthy etcd nodes. Running the `istioctl` did not give me the conflict like others have experienced.

Here is the log output of the failed pod with sidecar injected:
[code]

Without the sidecar, the `mysqld` service started normally:
[code]

I'm not

[2018-12-06 01:40] sunyl527 commented on #8270
I have the same issue with istio 1.1.0-snapshot.3 .And I don't know the reason.
`[2018-12-06 00:14:03.411][000029][warning][upstream] [external/envoy/source/common/config/grpc_mux_impl.cc:268] gRPC config stream closed: 13,
[2018-12-06 00:19:03.812][000029][warning][upstream] [external/envoy/source/common/config/grpc_mux_impl.cc:268] gRPC config stream closed: 13,
[2018-12-06 00:24:04.036][000029]

[2018-12-06 02:20] c-knowles commented on #10236
@douglas-reid I had a look through the last day or so. It seems every time that chart bottoms out we get several `Built new config.Snapshot: id=` logs.
Max ID is around 4 or 6 (it varies). Do not see any `Reloading adapter` logs at all for the last day. There are some `adapter did not close all the scheduled daemons	{"adapter": "prometheus.istio-system"}` but the timings of these vary, some are al

[2018-12-06 05:55] irisdingbj commented on #9858
@douglas-reid  I have a PR  https://storage.googleapis.com/istio-prow/pr-logs/pull/istio_istio/10308 which will make sure it use your generate_e2e_test_yaml:

cat install/kubernetes/namespace.yaml > install/kubernetes/istio.yaml
/home/prow/go/out/linux_amd64/release/helm template --set global.tag=19ce4a723282daeb4459783baf863854688e3605 \
	--name=istio \
	--namespace=istio-system \
	--set global.h

[2018-12-06 06:42] c-knowles commented on #9273
Might be related - using Istio 1.0.4, we get `pilot_conflict_inbound_listener` using definitions like these:

[code]

(we define like this to avoid connecting to the load balancer service internally using http on port 443, I fully expect we'll get rid of all this as we migrate more into Istio native routing and mTLS)

[2018-12-06 07:13] jinjie2088 opened #10310 "used TCP connect DNS, when I ping a service, reture "unknown host""
**Describe the bug**
 add dnsConfig in deployment:
dnsConfig:
        options:
          - name: use-vc
the resolv.conf in pod
[root@status-monitor-587995bb44-d4rlp /]# cat /etc/resolv.conf
nameserver 10.96.0.10
search star.svc.cluster.local svc.cluster.local cluster.local
options ndots:5 use-vc

**used istio inject, can not resolve service name**
eg:
[root@status-monitor-587995bb44-d4rlp /]# ping

[2018-12-06 07:32] irisdingbj commented on #9858
@douglas-reid I have submitted a PR https://github.com/istio/istio/pull/10308 which will make sure e2e_mixer use your generate_e2e_test_yaml.

However it the TestCheckCache is still flaky.

[2018-12-06 07:40] FlyRabit opened #10311 ""istio-galley" is forbidden: cannot set blockOwnerDeletion"
**Describe the bug**
when deploy istio to openshift platform (3.9), all components start ok but istio-galley deployment throw a error. its's error log is
2018-12-05 08:45:48 2018-12-05T00:45:48.610545Z	error	istio-galley validatingwebhookconfiguration update failed: validatingwebhookconfigurations.admissionregistration.k8s.io "istio-galley" is forbidden: cannot set blockOwnerDeletion if an ownerRe

[2018-12-06 08:25] irisdingbj opened #10312 "/pilot/pkg/serviceregistry/kube.TestController_Service test flaky"

[2018-12-06 08:34] edussx opened #10313 "VirtualService applies rule to wrong Gateway"
**Describe the bug**
According to https://istio.io/docs/tasks/traffic-management/ingress/#configuring-ingress-using-an-istio-gateway, a VirtualService only applies its rules to the Gateways specified in the `gateways` field; however, my VirtualService applies to all the Gateways in the same namespace. For example, I created the following 3 Gateways(listen port 80, 81 and 82):
[code]
and 3 VirtualS

[2018-12-06 08:47] Waret commented on #10310
Do you have enabled IPv6 in your k8s cluster?

[2018-12-06 09:01] yangminzhu commented on #8263
@somcsel Thank you so much for catching this! I have just created a PR to add this back. I included a unit test to catch and prevent this in the future.

[2018-12-06 09:12] jinjie2088 commented on #10310
no

[2018-12-06 09:29] vadimeisenbergibm commented on #9224
@tchanorcl Could you please see https://preliminary.istio.io/blog/2018/egress-mongo/? It describes multiple options for directing TCP/TLS egress traffic thru the egress gateway.

[2018-12-06 09:48] #7723 closed

[2018-12-06 10:08] PhilipGough commented on #9596
@kyessenov Yeah I took a look and will track it, thanks. I'm struggling to find any resources that describe the expected behaviour of the L1 cache, any pointers?

[2018-12-06 10:44] beorn7 commented on #10236
Good news: The issue in client_golang has been identified. https://github.com/prometheus/client_golang/pull/513 should fix it.
It will be part of v0.9.2, which I'll release once the fix is merged.

[2018-12-06 10:48] #7660 closed

[2018-12-06 12:05] erezzarum commented on #6146
I have hit this one as well, it causes issues in environments where we have services that we can't control their egress endpoints, like crawlers, webhooks, etc..
It will be nice if it would be possible for example to mark those services/pods with a selector to allow only them an egress rule with allow all.

[2018-12-06 12:48] #7724 closed

[2018-12-06 12:59] sdake opened #10317 "Most/all addons do not implement https"
**Describe the bug**
The addons do not currently implement https.  The addons can be exposed via ingress gateway to the external world (over http) which is a security problem.

**Expected behavior**
Addons use https by default.

**Steps to reproduce the bug**
I don't have alot of details other than @jmazzitelli has taken the action of implementing https for Kiali.  Jaeger, Grafana, and Promethus r

[2018-12-06 13:12] sdake commented on #10317
Kiali implementation for HTTPS: https://github.com/istio/istio/pull/10305

[2018-12-06 13:20] yangxikun opened #10318 "Example Bookinfo auto inject does not work"
**Describe the bug**
Example Bookinfo auto inject does not work

**Expected behavior**
auto inject sidecar

**Steps to reproduce the bug**
![image](https://user-images.githubusercontent.com/3364160/49585820-68015e00-f99a-11e8-9e7d-efbd8acae4a8.png)
![image](https://user-images.githubusercontent.com/3364160/49585855-80717880-f99a-11e8-9e68-e2c174a3b72d.png)
![image](https://user-images.githubuserco

[2018-12-06 13:35] yciabaud commented on #9429
@frankbu I can confirm that using different certificates on different gateways is working as expected.
The issue is only related to having a wildcard certificate used in 2 gateways on 2 hosts.

[2018-12-06 13:40] sapien99 commented on #9097
Guys, here is what works on my setup with istio 1.0.4. Guess one needs to define the Virtualservice - which imhO makes sense because the service needs to be reachable from within the mesh. (Skipped registry and image name)

Hope this works at yours too, good luck

[code]

[2018-12-06 15:00] nitishm commented on #10298
@rshriram I apologize. The **nginx** service is referred to as `istiotesthelm-sentry` and the upstream service that all routes should be proxied to is referred to as the `istiotesthelm-sentry-mockservice`.
The flow of traffic is supposed to be -
[code]

The latest development is that I managed to resolve the issue in my setup. The problem was found to be in our custom nginx clojure module `rewrite

[2018-12-06 15:09] dcberg commented on #1430
+1 for UDP .... would like to use dynamic routing for establishing VPN connections.

[2018-12-06 15:53] tchanorcl commented on #9224
@vadimeisenbergibm - Hi, thank you for responding. I tried the https://preliminary.istio.io/blog/2018/egress-mongo/ instructions (Direct TCP Egress traffic through an egress gateway) and it _**WORKS!**_. The mods I made were for MySQL port/host. However, the ServiceEntry apply failed initially because of "Error from server: error when creating "vad_mysql_egress_service_entry.yaml": admission webho

[2018-12-06 16:29] sweetib opened #10319 "Istio Remote Sidecar Injector Not Working"
**Describe the bug**
Example For GKE multi cluster setup with remote istio not working as expected in here https://istio.io/docs/examples/multicluster/gke/

**Expected behavior**
Remote istio on remote cluster keep crashing due to below error
`Error: failed to create injection webhook failed to convert to proto. yaml: line 60: mapping values are not allowed in this context`

**Steps to reproduce t

[2018-12-06 16:35] nitishm opened #10320 "Multiple CONFLICTs when using istio-demo-auth.yaml"
**Describe the bug**
Deploying the **`istio-demo-auth.yaml`** results in multiple tls-check CONFLICTs
1istio-1.0.3# istioctl authn tls-check1
[code]

**Expected behavior**
???

**Steps to reproduce the bug**
Deploy `istio-1.0.3/install/kubernetes/istio-demo-auth.yam`l on cluster.

**Version**
`istioctl version`
[code]

`kubectl version`
[code]

**Installation**
Using the `crd.yaml` and `istio-demo

[2018-12-06 16:54] loewenstein commented on #2197
@nmittler we might be able to help pushing TCP forward. The description here is a bit vague though. Is it really more a matter of testing (functional and performance) and documentation? We are working on an e2e that involves gateways, i.e. workload -> sidecar -> egress gw -> ingress gw -> sidecar -> workload, would that be a good start?

[2018-12-06 17:02] vadimeisenbergibm commented on #9224
@tchanorcl Great, I am glad to hear that. I will check the DNS issue - probably will have to create two entry one with the hostname and DNS resolution, and another one with CIDR blocks (ignored hostname).

[2018-12-06 17:22] shovelend commented on #7752
Is there any news on this matter? We'd like to play around with fault injection on HTTPS traffic as well to test circuit breaking. Could you please give us an update?

[2018-12-06 17:23] kyessenov commented on #9858
https://github.com/istio/istio/pull/10260 should help with check cache flakiness.

[2018-12-06 17:39] cmluciano commented on #1430
Thanks everyone for the feedback. The Envoy community has recently landed basic UDP listener support in Envoy. Next the community will be focussing on the actual proxying work within the Q1 timeframe in 2019.

[2018-12-06 18:48] #5005 closed

[2018-12-06 19:02] costinm commented on #10053
Did you set DestinationRule / LoadBalancer / PASSTHROUGH ?

[2018-12-06 19:09] kyessenov commented on #9415
ref #10252

[2018-12-06 20:05] blaketastic2 commented on #7369
@rshriram I know this is old, but we never got this working. Instead, we deployed 2 services and pointed to the service from our application. With that said, I'd love to get routing working in istio so we can point to 1 service, and have istio route to the correct deployment. I can also speak a bit more clearly as to what we are experiencing.

Currently, we route traffic from the default Istio Ing

[2018-12-06 20:33] incfly commented on #9150
Unfortunately, `istioctl` and `webhook` auto inject use slightly different code path. https://github.com/istio/istio/pull/10175 only takes care of the `istioctl kube-inject`. We need some more work to support webhook later as well. Not sure why we have two code paths, which seems problematic...

Regarding flag change, I'll add a config option in the `sidecarInjectionConfig` and let the injector to

[2018-12-06 21:31] arianmotamedi commented on #5379
I'm having the same exact issue with my statsd configuration:

`error initializing configuration '/etc/envoy/envoy.json': malformed IP address: newrelic-statsd.newrelic-infra.svc.cluster.local`

I exec'ed into the Envoy container and verified `nslookup newrelic-statsd.newrelic-infra.svc.cluster.local` resolved to an IP address. This is running on AWS EKS (with CNI). All other clusters in the same

[2018-12-06 22:40] diemtvu commented on #10053
I've just added this, but still doesn't work (also try to change host to cassandra-0.cassandra.default.svc.cluster.local, 1, 2 etc, but non works)

[code]

[2018-12-06 23:55] mmshaikh88 opened #10326 "istio-1.1.0-snapshot.3 gives error on helm install as charts/ directory"
**Describe the bug**
I am trying to install istio using helm tiller option with zipkin as: helm install install/kubernetes/helm/istio --name istio --namespace istio-system --set tracing.enabled=true --set tracing.provider=zipkin

**Expected behavior**
Expect the istio installed with zipkin

**Steps to reproduce the bug**
$ helm install install/kubernetes/helm/istio --name istio --namespace istio-s

[2018-12-06 23:56] kyessenov commented on #10014
This is because the lookup fails for a global attribute (the list grew once again).
Words 203 and 205 are not present in 1.0. The code leniently falls back to an empty string, which later leads to a collision.

What should mixer do in general with regards to unknown words from the global dictionary?

/cc @geeknoid @douglas-reid

[2018-12-07 00:32] incfly commented on #9837
Reopen this to add an integration test...

[2018-12-07 00:32] incfly commented on #9837
Reli

[2018-12-07 00:32] #9837 closed

[2018-12-07 00:39] incfly commented on #10053
/cc @incfly

[2018-12-07 00:48] #7756 closed

[2018-12-07 04:48] #7691 closed

[2018-12-07 05:30] irisdingbj commented on #10312
=== RUN   TestController_Service
2018-12-06T02:40:12.147406Z	info	Service controller watching namespace "" for services, endpoints, nodes and pods, refresh 1s
2018-12-06T02:40:12.147958Z	info	Work item handle failed (waiting till full synchronization), retry after delay 1s
2018-12-06T02:40:13.148135Z	info	Handle service svc1 in namespace nsA
2018-12-06T02:40:13.148211Z	info	Service event received

[2018-12-07 05:31] irisdingbj commented on #10312
fails due to push event happens before the service been added in pilot/pkg/serviceregistry/kube/controller.go

[2018-12-07 05:48] #7764 closed

[2018-12-07 05:56] Liv1020 commented on #10206
The cause of the problem is this：https://istio.io/zh/help/faq/traffic-management/#ingress-with-no-route-rules

[2018-12-07 06:37] vadimeisenbergibm opened #10330 "Istio allows traffic to any external IP if there are no listeners for the destination port"
The following code https://github.com/istio/istio/blob/1e31675e9641c0180c96648b7379b562edfd0738/pilot/pkg/networking/core/v1alpha3/listener.go#L167 allows traffic to any external IP, if there are no listeners for the destination port:

[code]

Here the traffic to port 1 of http://portquiz.net is allowed. Note that for any port for which listeners are defined, for example for ports which some servi

[2018-12-07 06:48] #7749 closed

[2018-12-07 08:49] LzyRapx opened #10335 "can't initialize ip6tables table `filter'"
**Describe the bug**
+ ip6tables -F INPUT
ip6tables v1.6.0: can't initialize ip6tables table `filter': Table does not exist (do you need to insmod?)
Perhaps ip6tables or your kernel needs to be upgraded.
+ true
+ ip6tables -A INPUT -m state --state ESTABLISHED -j ACCEPT
ip6tables v1.6.0: can't initialize ip6tables table `filter': Table does not exist (do you need to insmod?)
Perhaps ip6tables or y

[2018-12-07 09:04] Liv1020 opened #10336 "How to filter liveness request form kiali"
**Describe the bug**
![image](https://user-images.githubusercontent.com/5382358/49637940-b7e73000-fa41-11e8-972f-1786c9569b5c.png)
This unknow service is liveness, how to filter it?

**Expected behavior**
undisplay it from kiali

**Steps to reproduce the bug**
add http liveness

**Version**
[code]
[code]

**Installation**
helm

**Environment**
Centos

**Cluster state**

[2018-12-07 09:06] hzxuzhonghu opened #10337 "galley pod down after running 2days"
Env:  version 1.1.0.snapshot.3

Galley pod failed. And I check its log
[code]

Its because the port is used up by http client,  so we should enable http keep-alive.

[2018-12-07 09:06] hzxuzhonghu commented on #10337
/cc @ayj

[2018-12-07 09:07] JasonRD commented on #9784
I have the similar scenario, but my 'kafaka' and 'solr' are not in k8s cluster. Looking forward to the solution.

[2018-12-07 09:31] ChristofferNicklassonLenswayGroup commented on #10336
As far as i know  that is stored by istio and Kiali only displays what Istio have saved.
I pinged the developers of Kiali about this.

[2018-12-07 09:35] Stono commented on #10297
Happy to close in favour of 4227!

[2018-12-07 09:35] #10297 closed

[2018-12-07 09:48] Liv1020 commented on #10336
How to fix it?

[2018-12-07 09:55] emedina commented on #7665
More feedback on this matter...

After a few days suffering from more consistent `503s`, today I found out that it was due to the `istio-pilot` not being able to cope (apparently) with the load of change in my cluster (although we're only talking here about ~350 pods).

I could notice that when starting up new pods, the `clusters` configuration in their sidecar proxy was only having the static rou

[2018-12-07 09:58] dstockton commented on #1430
@cmluciano thanks for taking the time to update this thread 👍

[2018-12-07 10:02] Stono commented on #7665
@emedina yeah similar for us.  It's worth noting HPA basically does nothing and we have also disabled it in favour of fixed instances.

See https://github.com/istio/istio/issues/7878 for more details but at a high level, HPA scales up a new pilot but nothing goes to it anyway as everything has created long lived connections to the overloaded pilots.  It's only when a pod restarts that it can go to

[2018-12-07 10:13] dstockton commented on #8579
👍

[2018-12-07 10:15] arnecls commented on #10313
That's an issue we also ran into.
Our current view on the problem is that the 3 gateway definitions are internally merged into one - which is _very_ confusing. It would be great if someone from the istio team could give a proper explanation what causes this / if this is expected behavior.

We fixed this by having only one gateway with all ports and add ports to the matching rules in the virtual se

[2018-12-07 11:45] emedina commented on #7665
@Stono I see the point in your nightly restart of `istio-pilots`; however, it still does not prevent the regular restart of pods during the day to also be impacted, right?

In our case, this is a development cluster which is constantly creating/destroying pods continuously.

[2018-12-07 12:02] Stono commented on #7665
Yeah I'm finding that a day's worth of entropy is managable with periodic
rebalancing

On Fri, 7 Dec 2018, 11:46 am Enrique Medina Montenegro <
notifications@github.com wrote:

[2018-12-07 15:17] fadeojo commented on #8218
I am having the same issue.

[code]
What am I doing wrong?

[2018-12-07 15:20] fadeojo commented on #8218
@yellowred were you able to resolve your issue?

[2018-12-07 15:36] pilhuhn opened #10341 "Allow to hand down mTLS settings from Mesh/Namespace policy"
**Describe the feature request**

When you enable mesh wide (or namespace wide) mTLS, there is a DestinationRule (DR) that says for *.local or the namespace send traffic via mTLS.
Now when you write a DR for other stuff and forget to also put the trafficPolicy for mTLS, this is basically disable, but the receiver still expects TLS traffic and thus the connection fails.

The idea here is to add an

[2018-12-07 15:40] emedina commented on #7665
What really surprises me is the fact that Istio has been announced recently as `production-ready`, but this seems like a very sensitive issue yet.

[2018-12-07 17:02] #5897 closed

[2018-12-07 17:18] ayj commented on #10311
It looks like we still need to add this to https://github.com/istio/istio/blob/master/install/kubernetes/helm/subcharts/galley/templates/clusterrole.yaml?

[2018-12-07 17:48] objectiser commented on #10317
@douglas-reid I assume we need to get the istio-ingressgateway to use https? I had a quick go, but didn't work - possibly don't understand enough about how it works.

Assuming this is the approach you are going to take with Prometheus and Grafana, then once you have a PR, I can do the tracing one.

[2018-12-07 17:56] jmazzitelli commented on #10317
I'm investigating the gateway/ingress stuff now. I thought the helm charts included Gateway definitions for these things, but I don't see them when I installed 1.1.snapshot3. Does anyone know if the Gateways are installed anymore? They may have been removed.

But the helm values files still have settings for these... see:

https://github.com/istio/istio/blob/master/install/kubernetes/helm/subchart

[2018-12-07 18:08] diemtvu commented on #10053
For the reference, here are the cds and lds dump of cassandra-1.

[cds.txt](https://github.com/istio/istio/files/2658321/cds.txt)
[lds.txt](https://github.com/istio/istio/files/2658322/lds.txt)

[2018-12-07 18:09] smawson commented on #9566
Nupur can you take a look at this?

[2018-12-07 18:09] objectiser commented on #10326
Have confirmed the issue, but just wanted to clarify that this is not related to tracing/zipkin provider, as same occurs with:
[code]

[2018-12-07 18:11] smawson commented on #7916
Is this a networking failure or security failure? Maybe someone from security working group could take a look and triage?

[2018-12-07 18:12] costinm opened #10342 "Galley ACL create config problems"
Current Galley defines its own form of ACL - accesslist.yaml: |-
      allowed:
          - spiffe://cluster.local/ns/{{ .Release.Namespace }}/sa/istio-mixer-service-account
          - spiffe://cluster.local/ns/{{ .Release.Namespace }}/sa/istio-pilot-service-account

This is not configurable in values.yaml, and creates confusion since we already have 2 ways to define access (RBAC and Mixer polici

[2018-12-07 18:13] incfly commented on #9300
/cc @incfly

[2018-12-07 18:14] costinm commented on #10253
Ping.

[2018-12-07 18:14] smawson commented on #7916
Actually looking at the recent failures this looks like infrastructure flakiness, the tests fail to start.

[2018-12-07 18:17] smawson commented on #7696
Kuat can you try enabling this again and seeing if it is still flaky?

[2018-12-07 18:20] smawson commented on #4794
Peter can you look at reenabling this test and seeing if we can get it non-flakey?

[2018-12-07 18:21] smawson commented on #7916
Andy can you take a look and see what the infrastructure issues are here?

[2018-12-07 18:32] hklai commented on #7916
TestMTlsWithAuthNPolicy is no longer flaky according to testgrid.

The init problem is being tracked in https://github.com/istio/istio/issues/9867

[2018-12-07 18:32] #7916 closed

[2018-12-07 18:38] nitishm commented on #10320
I see this issue only when I use the `--set global.proxy.includeIPRanges="10.0.0.1/24"` flag with `helm`

[2018-12-07 18:44] rshriram commented on #9429
@yciabaud can you give me the envoy configuration from the gateway when you have the wildcard cert?

curl localhost:15000/config_dump should be sufficient. I am specifically looking for the configuration of the listeners on the 443 port that is hosting the two services with single wildcard cert.

[2018-12-07 18:50] linsun commented on #8148
is this targeted for 1.1 @ayj ?

[2018-12-07 18:51] gargnupur commented on #9566
I think Doug's recent change https://github.com/istio/istio/commit/eefab86bbc5f46323870e5490e948a34697ff8b0#diff-aca63364893a06ef64b0f53c3a9aa581 should help with this...

[2018-12-07 18:54] ayj commented on #8148
Yes, we'd like to get this into 1.1 now that we're targeting beta status in January.

[2018-12-07 18:59] linsun commented on #5726
not sure if there is much we can do while waiting for additional info.

@ymesika @esnible has participated in the discussion in the past, assign to you for triage when more info is avail

[2018-12-07 19:01] linsun commented on #8148
ok @irisdingbj can probably help out with this in jan.

[2018-12-07 19:10] nitishm commented on #10320
Seems like the range isnt relevant for my cluster. Closing this issue since I misread the instructions. The range I used is only specific to minikube.

[2018-12-07 19:10] #10320 closed

[2018-12-07 19:17] rshriram commented on #9429
how long does this issue last after adding the new gateway with same wildcard cert?

[2018-12-07 19:20] douglas-reid commented on #10317
I was understanding the scope of this issue to not only focus on gateway/ingress exposure, but also on within cluster, as I think ultimately we need both.

With Prom, putting a proxy in front requires a little bit of customization (requires inbound only). I'm gonna focus on that first and eagerly wait @jmazzitelli gateway magic :).

[2018-12-07 19:46] douglas-reid commented on #9566
There is a fundamental issue with quota enforcement. The tests appear to be impacted by these issues, though the recent changes should help mitigate to some extent.  It would be good to get an understanding of the new failure rate now that we seem to be (finally) running all tests in all in environments off of the same set of install artifacts and make targets.

[2018-12-07 19:54] yciabaud commented on #9429
I don't have access to my cluster ATM but the issue occurs right at the moment we add the second gateway.
The persistent connection for the first service in the browser conflicts with the second one and it lasts as long as I could wait.

[2018-12-07 20:24] rshriram commented on #9429
Okay, now I know the issue and only part of it is solvable with Istio.
Both services (service1.test.com and service2.test.com) are resolving to same IP. And service1.test.com is already returning a wildcard cert (*.test.com) indicating that connections to service2.test.com can use the same cert. so both chrome and firefox reuse the existing connection to talk to the gateway.

In the background, th

[2018-12-07 20:40] jnativio commented on #8281
This issue should remain open.

[2018-12-07 20:41] jnativio commented on #8280
This issue should remain open.

[2018-12-07 20:41] jnativio commented on #8278
This issue should remain open.

[2018-12-07 20:41] jnativio commented on #8277
This issue should remain open.

[2018-12-07 20:42] jnativio commented on #8275
This issue should remain open.

[2018-12-07 20:51] yciabaud commented on #9429
Thank you @rshriram you're right and I get it know. The first solution mitigates the problem but I will follow your advice and use a wildcard gateway even if this is less easy to automate for me.

I guess this issue can be closed now since your investigation explained the root cause and that there is no perfect solution.

Thinking about it, maybe istio should not validate creating 2 gateways with

[2018-12-07 21:03] nmittler commented on #7665
IIUC, there are a couple of issues that are being discussed here:

1. When an endpoint in a cluster goes down, Envoy doesn't appear to retry properly, leading to 503s being seen by the client.
2. High pod churn seems to be exposing a Pilot issue where new endpoints are not propagated, requiring a reboot of Pilot to resolve the issue.

For 1, I believe I'm able to replicate this running locally.  I

[2018-12-07 21:11] costinm commented on #7665
1. seems to be high priority for 1.1, and if the change is small I don't mind having it in 1.0.6 given the release expectations of 1.1

For 2 - I can take a look, we had a bug problem in 1.0.3 which is fixed in 1.0.4. Not sure which logs are associated with this case.

There is also 3 - which Josh is handling - if Mixer policy is enabled and in 'fail close' mode, an upgrade of mixer policy can cau

[2018-12-07 21:12] costinm commented on #7665
@emedina  Can you open a separate bug on pilot ADS not coping and failing to push, and add more logs/info if you have them ?

[2018-12-07 21:38] douglas-reid commented on #10014
Which version of the attribute manifest is in use in a 1.1 proxy -> 1.0 mixer scenario ?

[2018-12-07 21:41] kyessenov commented on #10014
I think it's the proxy error code and the query parameter attributes that @bianpengyuan added in between 1.0 and 1.1. We don't really version the manifest itself.

[2018-12-07 21:56] ayj commented on #8148
Thanks @Nino-K @linsun. I've started the client/server implementation for incremental MCP. Incremental is not directly compatible with the non-incremental version, but the package-level interfaces should be pretty close. Switching over to the new implementation should be somewhat straightforward since we haven't shipped Istio w/MCP yet (no backwards compat. issues across upgrades).

I believe @Nin

[2018-12-07 22:01] douglas-reid commented on #10014
Yeah, I wondering though if the manifest contains those attributes... and what the meaning of the manifest is in such a scenario.

Maybe we should appropriately version the manifests?  That might help with any error responses and/or graceful degradation issues.

[2018-12-07 22:17] farcaller commented on #6486
unstale (still a problem)

[2018-12-07 22:45] kyessenov commented on #9596
@PhilipGough It's not very well documented, unfortunately. The idea behind the caches is to track references in the expression evaluation. For example, if the adapter receives an expression `a | b` in its instance field, and the input bag has values {b = 3}, then the following cache key is produced:
[code]

The caching algorithm then iterates over "shapes" in the first pass (in this example, it is

[2018-12-07 23:01] incfly commented on #9150
I take a look on the `integration2` test framework. It supports k8s deployments. However, I believe it's only relies on webhook auto injection [1]. We need to finish above work before being able to test that...

Will work on the auto injection support first.

[1] https://github.com/istio/istio/blob/master/pkg/test/framework/runtime/components/apps/kube.go#L102

[2018-12-07 23:10] jmazzitelli commented on #10317
I'm slowly making my way through the jungle. I have two PRs that are foundations for the gateway work:

* https://github.com/istio/istio/pull/10349 this provides gateway.enabled flags for all addons (and by "all" I mean prometheus, jaeger, kiali, grafana). This is basically refactoring some charts and I took most of the work from another PR that was old - this new PR fixes conflicts, adds kiali, a

[2018-12-07 23:32] dampersand commented on #6146
Chiming in with my support for this.  Currently migrating from nomad to k8s, which means lots of services still need to talk to their buddies in nomad... not to mention baremetal services.  Asking my developers to tell me ALL the things their stuff might possibly need to talk to is akin to pulling teeth.

[2018-12-07 23:41] myidpt opened #10356 "Integrate Istio Citadel agent and Vault"
**Describe the feature request**
Enable the Citadel agent to call the Vault server to provision X.509 certificates. The authentication and authorization (based on K8s JWT) are conducted on Vault (assume the customer maintains a syncer from K8s service account to Vault roles).

**Describe alternatives you've considered**
Delegate the authn and authz to Citadel, and hook up Citadel with Vault.

[2018-12-08 00:06] douglas-reid commented on #10294
Do the instance configs in your test use `source.ip` as an expression?

Can you post your instance config here?

[2018-12-08 00:53] incfly opened #10357 "Evaluate the risk and benefits of liveness probe rewrite on by default"
**Describe the feature request**
Istio currently supports to rewrite the kubernetes liveness probe rewrite during `kube-inject` time. This improves user experience who used have to rewrite their PodSpec with `curl` for liveness probe under mTLS. We currently disable this feature by default for risk consideration.

**Describe alternatives you've considered**
Turn on by default when we believe the b

[2018-12-08 00:53] incfly commented on #10357
/cc @mandarjog @wattli

[2018-12-08 02:53] incfly commented on #10341
Thanks for the feedback. We have been thinking about supporting `DR` inheritance in general. There has been some similar FR like this. I think there's some existing proposal to define the inheritance semantics for istio api. maybe @ozevren can gave some pointer.

/cc @diemtvu @costinm @wenchenglu

[2018-12-08 03:02] #7765 closed

[2018-12-08 05:02] #7792 closed

[2018-12-08 06:04] shakti-das opened #10358 "Istio sidecar init-container requires to run as `root`, specify it explicitly in the ConfigMap"
**Describe the bug**
Istio sidecar init-container requires to run as `root` because of `iptables`. It does not specify it explicitly in the sidecar injector ConfigMap. In our environment, Pods by default run as a non-root user. So, the init-container inherits:
[code]
We need to explicitly override the init-container as:
[code]

**Expected behavior**
The `runAsUser: 0` configuration is currently no

[2018-12-08 06:07] shakti-das commented on #10358
I have local changes for this and can send out a PR to set these defaults if deemed useful.

[2018-12-08 07:39] mk01 commented on #10273
@akoutmos

this is a typo in 1.0.4 in deployment.yaml of grafana (install/kubernetes/helm/istio/charts/grafana/templates/deployment.yaml).
change the last 6 lines from:
[code]

to

[code]

[2018-12-08 08:09] aimuke opened #10359 "only one rule take effect when two traffic rules on one request"
**Describe the bug**
there are two traffic rules on one request, but only one takes effect

**Expected behavior**
I hope both of the two rules should take effect

**Steps to reproduce the bug**
I'm using bookinfo for test. below is my steps:

1. add forward route to details service
[code]
2. add fault abort rule to reviews
[code]
3. send a request from productpage service
  3.1 curl  http://review

[2018-12-08 09:02] #6974 closed

[2018-12-08 11:37] emedina opened #10360 "Pilot ADS not coping and failing to push"
**Describe the bug**
Under heavy load of pods' restart (think of a development cluster), Istio's `pilot` seems to fail to cope with all the changes and sometimes it doesn't push the new configuration to new pods.

**Expected behavior**
Istio's `pilot` should always inject the current configuration into any new pod starting up.

**Version**
Kubernetes: 1.11.4
Istio: 1.0.4

Some logs:

[code]

[2018-12-08 11:37] emedina commented on #7665
@costinm I just opened #10360 as you requested.

Not sure if related to #8554 as well, though.

[2018-12-08 13:52] emedina commented on #7665
I could reproduce again the issue of the `pilot` not properly handling the restart of one of my pods and still keeping the old IP by using the `bookinfo` application.

[code]

Notice above that the old pod (`productpage-v1-54b8b9f55-vmhfm`) had an IP `174.16.207.184` and the new one (`productpage-v1-77758fb579-srwqj`) is `174.16.135.210`. However, when I query the `clusters` endpoint from the side

[2018-12-08 16:00] Stono commented on #7665
Hey,
What version are you doing that testing on?  What you just described feels
like the 1.0.2 bug which is now fixed?

FYI I lead the infrastructure team at AutoTrader and we use Istio in
production (1.04) with circa 135 services.

Karl

On Sat, 8 Dec 2018, 1:53 pm Enrique Medina Montenegro <
notifications@github.com wrote:

[2018-12-08 16:17] costinm commented on #7665
Are you using Istio 1.0.4 ? And you didn't use the istioctl proxy-status command (which is known to expose a bug - fixed in the upcoming 1.0.5) ?

I understand your concern - but 'production-ready' doesn't always mean bug free (or we would never run anything in production). For almost all prod launches I've worked on, some bugs were found and it takes
few iterations to get rid of them. What is imp

[2018-12-08 16:54] sdake commented on #10317
@jmazzitelli this should help get you going for gateway/vs/dr's for the various services.  AFAIK these are already implemented.  What we want, as @douglas-reid stated, is for the internal network to be protected via https.

See this documentation: https://docs.google.com/document/d/1c_dLTBTszNeUGXpE9fzPINw7wo6s8bVRHRBeIbjBAtA/edit#heading=h.yefzcqwzncom

This allowed me to use ingressgateway as a

[2018-12-08 16:59] shubhamitc commented on #10050
We have checked that while using single ip in serviceentry it works.
apiVersion: networking.istio.io/v1alpha3
kind: ServiceEntry
metadata:
  name: taskapi-serviceentry
spec:
  hosts:
  - taskapi
  addresses:
  - 10.11.68.20/32
  ports:
  - name: vtaskapi-8000
    number: 8000
    protocol: tcp
  location: MESH_EXTERNAL
---

[2018-12-08 17:14] CodeJjang commented on #7688
Also having this issue despite deleting (--purge) istio release AND deleting the crds.yaml as specified here and in the docs.

[code]
And more awkwardly:
[code]

So I'm kind of stuck. Can't remove the custom resource definitions at all.

Ubuntu 16.04
Istio 1.0.4
Helm v.2.12.0

[2018-12-08 17:15] jmazzitelli commented on #10317
@sdake I'm currently waffling back and forth wondering what is easiest to do. Kiali, as you've seen, is able to handle HTTPS itself (I can give Kiali its citadel certs and so it can handle https) so we could passthrough and let kiali handle it. However, IIRC, Prometheus does not provide this capability (i.e. they do not have a way to directly configure or "turn on" https for its front end). In tha

[2018-12-08 18:03] jmazzitelli commented on #10317
I have a quick implementation that puts https in front of all add-ons (prometheus, grafana, jaeger,kiali): https://github.com/istio/istio/pull/10363

[2018-12-08 18:09] blackbaud-brandonstirnaman commented on #7675
Hopefully this PR gets merged soon.. then we can close this issue: https://github.com/istio/istio/pull/10247

[2018-12-08 18:51] CodeJjang opened #10364 "Can't install on Minikube"
**Describe the bug**
Something's wrong with the installation instructions using Minikube (v0.30.0).
The docs instructs to lift minikube in the following way:
[code]

However I couldn't find anywhere where to create those cert files, nor minikube creates them itself.
Starting minikube when it doesn't find those files causes controller-manager to CrashLoop.
I tried pointing them to the `ca.crt` and

[2018-12-08 19:36] myidpt commented on #10356
Breakdown the task:

- [ ] Implement Vault client adaptor on node agent to call to Vault
- [ ] Implement end-to-end test
- [ ] Implement syncer as reference implementation to synchronize K8s apiserver to Vault

[2018-12-08 21:05] costinm commented on #10360
How many pods ? What is the rate of change ? Is the pilog CPU/RAM higher than usual ?

The log indicates the push to times out repeatedly - this is typically under stress ( very high load, GC can't cope ), but may also happen if we have a bug. Can you add the full pilot log - the events before the failure are more interesting ( if you're worried about the log content - you can send it to me privat

[2018-12-08 21:31] #7049 closed

[2018-12-08 23:10] Stono commented on #10126
I'm gonna close this as 1.0.5 is out now which contains the fix!

[2018-12-08 23:10] #10126 closed

[2018-12-08 23:12] Stono commented on #9597
And still a problem in 1.0.5!

[2018-12-08 23:14] Stono commented on #7878
Hey folks,
would be good to know if this is getting any focus in 1.1+, currently horizontally scaling is a bit of a lottery and if people end up with a very overloaded pilot, they have slow pushes and thus outages.

[2018-12-08 23:15] Stono commented on #7525
Still spammy in 1.0.5

[code]

If it's not something we need to be concerned about, please can it be changed from `error`?

[2018-12-09 00:35] adriancole commented on #9985
#9915 was merged a while back. does this mean this can be closed?

[2018-12-09 10:15] emedina commented on #10360
This is a development cluster with aroumd 350 pods which change sort of frequently (at least during office hours due to developers trying out new stuff). CPU/RAM didn't seem to be impacted.

Unfortunately I had to restart the pilots and I lost the rest of logs.

[2018-12-09 12:02] LzyRapx commented on #10335
How to fix it? Thx

[2018-12-09 12:33] erezzarum commented on #6146
perhaps marking tcp port 80 with a non "http-" name should work?
I will try to see if it works soon.

Thanks

[2018-12-09 13:07] akpsgit commented on #7669
Great suggestion. Will be very useful.
By the way, can't this be done using outboundTrafficPolicy? from description:
    // Set the default behavior of the sidecar for handling outbound traffic from the application.
    // While the default mode should work out of the box, if your application uses one or more external services that
    // are not known apriori, setting the policy to ALLOW_ANY will

[2018-12-09 14:38] jaygorrell commented on #7665
Keep in mind, many of us experience much higher error rates than 0.004%
with no explanation as to the cause. I'm still hopeful it'll get worked
out, but my simple tests (basically scaling up bookinfo) produce a large
numbers of 503s -- and other users have confirmed the results. It works for
clusters of a certain size but once you hit some thresholds it sorta' falls
apart, so I definitely understa

[2018-12-09 14:41] Stono commented on #7665
@jaygorrell it would be great if you could update this thread with logs and findings please, to help the istio folk debug.  As another user I'm also interested to see your findings

[2018-12-09 14:43] jaygorrell commented on #7665
All of my findings as I've been going along are documented in
https://github.com/istio/istio/issues/9043

On Sun, Dec 9, 2018 at 9:41 AM Karl Stoney <notifications@github.com> wrote:

[2018-12-09 14:44] Stono commented on #7665
Brill, ta.  I will have a read

On Sun, 9 Dec 2018, 2:43 pm Jay Gorrell <notifications@github.com wrote:

[2018-12-09 15:55] emedina commented on #7641
I'm currently facing this same issue and my pods do have the sidecar proxy injected. I've also checked configuration, clusters, routes, etc., and everything seems to be in place. However, I always get a round-robin for the reviews service. Using `1.0.4` here.

[2018-12-09 16:51] Stono commented on #10310
Hey
I had this when my DNS queries were too large for udp.

Do you have mTLS enabled?  If so you need a destinstionrule which disabled mTLS for the DNS service.

[2018-12-09 16:52] Stono commented on #10279
Would still love a bit of support with this one, at times on one particular service istio proxy uses more cpu than the app!

[2018-12-09 17:41] Stono commented on #10360
OK so I'm seeing this on `1.0.5`, but **not** on `1.0.4`:

[code]

And seeing lots of stale proxies:
[code]

Neither of my pilots are event remotely loaded:

<img width="724" alt="screenshot 2018-12-09 at 17 38 47" src="https://user-images.githubusercontent.com/1486729/49700634-4e9a2500-fbd9-11e8-9634-a9adcd69320e.png">

<img width="713" alt="screenshot 2018-12-09 at 17 38 41" src="https://user-im

[2018-12-09 18:06] Stono commented on #10360
Looking at the log, the thread_dump from `istio-pilot-587d887d5f-sqjwn` is pretty telling, 7mb in comparison to the 500k from the other pilot.  Looks like another locking issue similar to that found in 1.0.4 as a result of `isitoctl proxy-status` use?

[2018-12-09 18:49] costinm commented on #10360
A /pprof from pilot is the fastest way to fix this.

Unfortunately the debug interfaces got less review and testing, initially
they were only meant for troubleshooting/testing.

On Sun, Dec 9, 2018, 10:06 Karl Stoney <notifications@github.com wrote:

[2018-12-09 18:51] Stono commented on #10360
I've provided the thread dumps costin (see the attachment in my post above).  Did you need something else to debug the issue?

[2018-12-09 19:01] costinm commented on #10360
Got it, should have a fix on monday.

On Sun, Dec 9, 2018, 10:51 Karl Stoney <notifications@github.com wrote:

[2018-12-09 20:45] magic7s commented on #10221
Hitting this same issue when removing istio via helm 2.11.0. `helm delete`. CRDs are not cleaned up. I think this should be at least a variable and the default to clean up what it installs.

Found this documentation on https://github.com/helm/helm/blob/master/docs/charts_hooks.md#hook-resources-are-not-managed-with-corresponding-releases

### Automatically delete hook from previous release

When h

[2018-12-10 00:52] jinjie2088 commented on #10310
thank you for your reply.

I donn't enable mTLS, i add a ServiceEntry. And it  is strange for under phenomenons。
 begin, not work -> apply the ServiceEntry ->work ->hold a few minutes->not work->delete
 the ServiceEntry ->work->hold a few minutes->not work ........

**the ServiceEntry:**

[code]

[2018-12-10 01:44] edussx commented on #10313
@arnecls Thanks for the information! At least I can confirm it's not a single problem on my side.

In my case, I need namespace separation so probably one large gateway including everything doesn't work :(

[2018-12-10 01:48] costinm commented on #10253
No other Istio config has those flags - why special needs do you have in Galley ? Long term I would expect we'll need to integrate with SDS and CNI auth, etc - and the behavior should be to detect the cert source.

And of course using a different location and config is also bad - I filed a separate bug for the ACL config which is also galley-only.

[2018-12-10 02:37] jxtaliu opened #10368 "Sameple of rate limits is not in effect"
**Describe the bug**
Istio version:1.0.3
Sample of Rate limits([https://istio.io/docs/tasks/policy-enforcement/rate-limiting/](url)) are not in effect.
The core reason is the lack of namespace for quota rules.
File:samples/bookinfo/policy/mixer-rule-productpage-ratelimit.yaml
apiVersion: config.istio.io/v1alpha2
kind: rule
metadata:
  name: quota
  **namespace: istio-system**
spec:
  ...

When I a

[2018-12-10 02:42] #7795 closed

[2018-12-10 03:34] hustcat commented on #7174
Hit the same issue with v1.0.3

[2018-12-10 05:24] pc-rshetty opened #10369 "Helm install for istio 1.04 fails with error customresourcedefinitions.apiextensions.k8s.io "serviceentries.networking.istio.io" already exists"
**Describe the bug**
When i install istio 1.04 using helm install it gives me an error "Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "serviceentries.networking.istio.io" already exists"

This error changes when i delete the crd's manually and retry
example next attemp is get this error
Error: release istio failed: customresourcedefinitions.apiextensions.k8s.io "liste

[2018-12-10 06:13] pc-rshetty commented on #10369
ok never mind i found the issue ..... long story short it is not a Istio problem.........
Long story: The world is moving so fast k8s, helm, istio all released new version and i upgraded helm and istio at the same time ... looks like there is an issue with helm 2.12 for CRD creation, i went back to helm 2.11 and it worked like a charm

[2018-12-10 06:13] #10369 closed

[2018-12-10 07:35] wansuiye opened #10371 "mixer report handler/instance not found when adding a custom adapter"
**Describe the bug**
{{ Succinctly describe the bug }}

To add a custom adaptor, i add the the adaptor code in mixer/adapter/ and fix the inventory.yaml, and test it through integrationtest.
however when run the mixer image (through command "make docker compile") in kubernetes, it logs errors blew:
at this time the instance, handler and the rule of the custom adaptor haven't been created.
[code]

[2018-12-10 09:35] objectiser commented on #9985
Confirmed that both master and release-1.1 branch now includes envoy proxy with fix.

[2018-12-10 09:35] #9985 closed

[2018-12-10 10:08] flunderveiko commented on #10336
don't use `port -> containerPort` directive in k8s deployment/Pod

[2018-12-10 11:10] omerfsen commented on #7888
My issue is similar:

kubectl apply -f <(istioctl kube-inject -f samples/bookinfo/platform/kube/bookinfo.yaml)
Error: failed to convert to proto. unknown field "policyCheckFailOpen" in v1alpha1.MeshConfig

kubectl describe -n istio-system configmaps istio |grep policyCheckFailOpen
# policyCheckFailOpen allows traffic in cases when the mixer policy service cannot be reached.
policyCheckFailOpen: fa

[2018-12-10 11:20] omerfsen commented on #7888
Hello

 I have upgraded to istioctl t 1.0.4 now it works!

[2018-12-10 14:09] XciA opened #10374 "Istio, aws and private hosted zone issue."
We have a kubernetes cluster with istio installed on t2.medium instances. Also we have sevices like rds, elasticache which we want to privately access through private hosted zone provided by route53. However we are not able to get through and make this work.  We have created egress rule with virtualservice.yaml and serviceentry.yaml wherever required. Any help would be appreciated.

[2018-12-10 15:18] yangxikun commented on #10318
I look into istio-sidecar-injector log, and found kubernetes dosen't call istio-sidecar-injector webhook.

[2018-12-10 16:09] ozevren commented on #10253
I'd rather have the flag with the default.  Running the component locally is a pain otherwise.

[2018-12-10 16:42] #7827 closed

[2018-12-10 16:46] emedina commented on #10360
Possibly related to #6085

[2018-12-10 16:46] emedina commented on #6085
Possibly related to #10360

[2018-12-10 17:10] lincolnzhou opened #10375 "servicegraph api d3graph query label source_namespace no data"
**Describe the bug**
api url
http://localhost:8088/d3graph?source_namespace=default&source_workload=productpage-v1

it returns no data

[code]

**Expected behavior**
it should return nodes about productpage

**Steps to reproduce the bug**
{{ Minimal steps to reproduce the behavior }}

**Version**
➜  src kubectl version
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCo

[2018-12-10 17:13] geeknoid commented on #10014
The expected protocol here is that Mixer must always be >= to the proxy's
version.

On Fri, Dec 7, 2018 at 2:02 PM Douglas Reid <notifications@github.com>
wrote:

[2018-12-10 17:13] jmazzitelli commented on #10375
FYI: servicegraph has been deprecated in lieu of Kiali and most likely hasn't been updated to work with the latest telemetry data.

See: https://preliminary.istio.io/docs/tasks/telemetry/kiali/

(kiali can work with 1.0.4 in addition to 1.1).

[2018-12-10 17:16] lincolnzhou commented on #10375
ok，thanks 😄

[2018-12-10 17:16] #10375 closed

[2018-12-10 17:18] costinm commented on #10342
@wenchenglu
@liminw

Adding Wenchen/Limin - since this introduces a new API related to ACL, I want to make sure security team has reviewed this. To be clear: I don't mind the new API, if we end up reusing it everywhere it's probably easier to use than full RBAC.

In general - mesh install/config options are part of the API, and it would be great if they are reviewed with the same care (and include

[2018-12-10 18:43] mbanikazemi commented on #4751
@prune998 did you the tests you have mentioned above? Does the problem still exist?

[2018-12-10 18:46] prune998 commented on #4751
@mbanikazemi I think 1.0.3 was OK.
I'm in KubeCon for the coming days (you there ? meetup ? ) and I'll check for sure when I'm back to work.

[2018-12-10 19:37] quanjielin commented on #10283
sample of previous jwt, cannot fetch pubkey through issuer also
[code]

[2018-12-10 20:14] incfly opened #10380 "Remove the hardcoded sidecar template for `istioctl kube-inject`"
Currently `istioctl` has the option to use a local hard coded template for kube-inject [1]. This is only for backward comparability when we switch to configmap stored injector configmap. Now it becomes a maintaining overhead to modify two sidecar templates, we need to remove the hardcoded one and only rely on the configmap.

This might need to update some test to read input from sidecar template f

[2018-12-10 20:14] incfly commented on #10380
/cc @mandarjog

[2018-12-10 20:39] netdisciple commented on #7990
i must not have permission to add a label to this.
label:"community/help wanted"

[2018-12-10 20:52] douglas-reid commented on #10371
I'm not clear on the issue. Would you mind providing more detail?  Did you provide config for a new instance and a new handler?

The errors in the logs look related to start-up configuration of the Mixer instance, as it awaits a full configuration snapshot, which it eventually receives and starts processing.

I do not see any errors related to a new handler or a new instance (only prometheus and k

[2018-12-10 20:54] douglas-reid commented on #9858
Hopefully, @kyessenov 's PR will merge soon. Are there any other flaky tests within this umbrella?

[2018-12-10 21:02] CodeJjang commented on #10364
The problem was with `helm` v2.12. Downgrading to v2.11 fixed the problem.
The `--extra-config` lines were also unnecessary.

[2018-12-10 21:02] #10364 closed

[2018-12-10 21:24] douglas-reid opened #10382 "Galley's logging extremely verbose"
**Describe the bug**
In attempting to look through some test logs to help someone diagnose a failure, I discovered an extremely large number of logs from galley, of the variety:

[code]

I'm not sure what information is trying to be conveyed or the overall value presented here, but it is flooding the logs.

Of the `69729` lines in this [build log](https://circleci.com/gh/istio/istio/265201?utm_cam

[2018-12-10 21:34] wattli commented on #10357
The design is [here](https://docs.google.com/document/d/1RxO3IBT8z68XNmM8tGWxrUcSbrRneiBWlL1A4qZf3CU/edit#heading=h.x9snb54sjlu9)

[2018-12-10 21:47] kyessenov commented on #10014
@mandarjog Per Martins' comment, closing the issue as the requested scenario is not supported.
There's nothing Mixer can do if it doesn't know extra global words.

[2018-12-10 21:47] #10014 closed

[2018-12-10 21:48] duderino commented on #3063
@knrc will test this on openshift.  Thanks Kevin!

[2018-12-10 21:54] hklai commented on #9858
Comparing https://testgrid.k8s.io/istio-presubmits#circleci-e2e-mixer-noauth-v1alpha3-v2 and https://testgrid.k8s.io/istio-presubmits#e2e-mixer-no_auth, it looks like the init problem happens more often on circle.

Example: https://circleci.com/gh/istio/istio/265998

I don't suppose that is fixed by #10260, right?

[2018-12-10 21:57] kyessenov commented on #9858
@hklai The example has failed to deploy istio. Can we please separate the infrastructure/test environment issues from actual issues in istio? #10260 might help reduce flakiness in TestCheckCache. It did have a very low rate of flakes reported since June (per my observation). It probably will not have effect on others.

[2018-12-10 22:11] Nino-K commented on #10220
:+1: with @ayj's suggestion, we can start by dispatching the add/remove/update events only for service entries since it looks like [external service discovery](https://github.com/istio/istio/blob/df0d817c5ecf6f3fab94cb599ddd90c363c4d533/pilot/pkg/serviceregistry/external/servicediscovery.go#L66-L90) is taking advantage of the diff, however I'm not too sure if the diff can just be removed at this p

[2018-12-10 22:13] hklai commented on #9858
@kyessenov sure

Looking at https://testgrid.k8s.io/istio-postsubmits#circleci-e2e-mixer-noauth-v1alpha3-v2, TestTcpMetrics, TestMetric and TestCheckCache are the top 3 most flaky tests. Have they all been looked at?

From https://circleci.com/gh/istio/istio/265998, it looks like the deployment error was ImagePullBackOff.  do you have any idea why that occasionally happened?

[2018-12-10 22:17] kyessenov commented on #9858
@hklai

In my limited experience, metric tests flake due to delay in pulling metrics through prometheus. I'm not sure why that happens, or how can we force faster metrics pull.

Re: image pull -- I would guess something to do with the docker registry being slow/rate limiting.

[2018-12-10 22:51] cstrahan commented on #7688
Same issue here:

[code]

[2018-12-10 23:02] hklai opened #10384 "e2e_dashboard test is flaky"
Test failures:
https://gubernator.k8s.io/build/istio-prow/logs/e2e-dashboard/8825

Init failure:
https://gubernator.k8s.io/build/istio-prow/logs/e2e-dashboard/8785
(which failed at https://github.com/istio/istio/blob/df0d817c5ecf6f3fab94cb599ddd90c363c4d533/tests/e2e/tests/dashboard/dashboard_test.go#L216)

Circle shows somewhat similar result.
https://testgrid.k8s.io/istio-postsubmits#circleci-e2

[2018-12-10 23:04] CodeJjang commented on #7688
@cstrahan See #10364

[2018-12-10 23:23] cstrahan commented on #7688
@CodeJjang I'll take a look, thanks.

I'll also note that this resulted in the same error:

    $ helm install install/kubernetes/helm/istio --name istio --namespace istio-system --set global.crds=false

I was hoping that would prevent Helm/Tiller from creating the CRDs (allowing me to manage them myself), but it looks like it still attempts to create them.

[2018-12-10 23:38] cstrahan commented on #7688
@CodeJjang Reverting to helm/tiller v2.11.0 (both as the client and in the cluster) resolved this for me -- thanks! Is there an issue open in the helm issue tracker? If there is, I'm having a hard time finding it. As of now, the latest release (v2.12.0) of helm/tiller seems quite broken.

I had to install helm v2.11.0, run `helm reset --force`, delete any remaining CRDs, and then install istio via

[2018-12-11 00:42] douglas-reid commented on #9858
Using the circleci tests to guide flakes based on history is unfortunately poisoned by the fact that circleci wasn't using the install yamls that reduced the prometheus scrape times.

I'm hoping `TestCheckCache` will turn out to be less flaky with that addressed.

I'll try to monitor the others this week.

[2018-12-11 00:43] costinm commented on #10220
Or better: fix ServiceEntry.

For Service event, the conversion is useless - it'll trigger a ConfigUpdate
that will convert again, it is not used for anything.

For Endpoint event - conversion and diff is equally unnecessary, just need
to change the code to trigger the EndpointUpdate(all).
For ServiceEntry changes we can do a full EDS push - they are treated as
user configuration.

In general - mo

[2018-12-11 00:47] costinm commented on #10253
Yes, flag with default is all good - but please don't have the flag with the same default value in the helm installer.

And if we go with a flag for the certs - I would rather have a consistent solution. Maybe customize the base directory only ( instead of /etc/certs ) and add this to values.global.
It'll be great to also include this for injector and all other components.

Well - if value is not

[2018-12-11 00:49] costinm commented on #10253
Actually - the common problem for running locally, or in custom environments ( mesh expansion in particular) is to have a way to customize all istio hardcoded paths, maybe an ISTIO_BASE  ( I think we have an env variable set on /var/lib/istio/sidecar.env in mesh expansion and in some scripts ?).

We have files all over the place ( etc, var ) - the mess might be ok in k8s, but it's pretty bad on lo

[2018-12-11 00:50] douglas-reid commented on #10384
@hklai the TCP dash failure linked is from the period between the switch to MCP tests and @ayj 's PR's to convert the tests back to using the proper install artifacts.

The init failure is a bit odd. I can look into it.

What I don't understand is why, with the switch to MCP, tests that were solid for a long time have started to flake a bunch. This doesn't inspire a lot of confidence in the stabil

[2018-12-11 00:55] douglas-reid commented on #10384
Note to self: I've seen `2018-12-10T21:04:02.473619Z	error	adapters	Prometheus handler error: error encoding and sending metric family: write tcp 10.8.0.9:42422->10.8.0.12:47190: write: broken pipe` in logs. I think this means that Mixer is crashing while something is attempting to read its metrics. This is not a good situation.

[2018-12-11 01:02] MandarJKulkarni commented on #7688
@cstrahan I installed v2.11.0 for helm.
But helm reset --force didn't work for me.
The command responds stating sever is uninstalled, however when I do helm list or helm delete, I again get the incompatible versions error.
Maybe this is differet issue for Win10.

[2018-12-11 01:09] nixgadget commented on #7688
@MandarJKulkarni what does `helm --version` show ?

[2018-12-11 01:13] nixgadget commented on #7688
I would hold off on `2.12` upgrade as well. Some improvements were done to `crd-install` hook in https://github.com/helm/helm/pull/4709

[2018-12-11 01:14] MandarJKulkarni commented on #7688
Client: &version.Version{SemVer:"v2.11.0"
Server: &version.Version{SemVer:"v2.12.0-rc.1"

[2018-12-11 01:20] nixgadget commented on #7688
@MandarJKulkarni great. glad it worked out. You could try removing the `tiller` pod and running `helm reset --force` as well.

[2018-12-11 01:20] ZhiminXiang commented on #9150
/cc

[2018-12-11 02:00] ozevren commented on #10253
I am not sure how much we need to care about backward compatibility, but a common set of flags (or env variables) makes a lot of sense to me.

If there was no backward compat problem, I'd much rather have a single flag, such as -istioBase or other, and have everything else there explicitly laid out. (i.e. <istioBase>/meshconfig.yaml, <istioBase>/certs etc.)

[2018-12-11 02:22] harryge00 opened #10385 "discovery_address used as grpc address/port in pilot-agent proxy"
**Describe the bug**
https://github.com/istio/istio/blob/master/pkg/bootstrap/bootstrap_config.go#L242 Get host and port from `config.DiscoveryAddress`
https://github.com/istio/istio/blob/master/pkg/bootstrap/bootstrap_config.go#L246  Here used the host and port as `pilot_grpc_address`
However, from `pilot-agent proxy --help`
[code]
discoveryAddress is the http address exposing exposing xDS, inste

[2018-12-11 03:13] Liv1020 commented on #10336
If you don't use `port -> containerPort`, it will cause jaeger don't trace inbound problems.

[2018-12-11 04:09] incfly commented on #9150
Here're my thoughts on e2e test after some investigation.

- `integration2` framework only deploy apps thru webhook sidecar injector.
- Currently `istioctl kube-inject` and `webhook` injection has quite different  code path.

So my plan
- Add `istioctl kube-inject` as a new component for the test framework. Maybe as `DeployedIstioctl` (weird name but just for consistency...)
- Extend `apps` compon

[2018-12-11 04:46] JackGzj commented on #10297
Hello, I am facing the similar problem you meet, I delete the `--trace_zipkin_url` arg in istio-demo.yaml and the mixer stop sending spans. However, I receive many `istio-telemetry` span appearing single in zipkin. Did you meet this problem?

[2018-12-11 05:12] douglas-reid commented on #10297
@JackGzj which version of Istio?  This is what https://github.com/istio/istio/pull/10281 is meant to address.

[2018-12-11 06:29] irisdingbj commented on #10382
@ayj I have modified the log to make some of them as Debugf in https://github.com/istio/istio/pull/10389

[2018-12-11 06:35] akoutmos commented on #10273
Thanks for the response! I'll give that a whirl and report back

[2018-12-11 06:54] sakthishanmugam02 commented on #8081
any update on this issue? i tried snapshot version which has support for retryOn. but it is not working. do i need to raise separate issue to track it

[2018-12-11 06:56] hzxuzhonghu commented on #8081
This should have been fixed by #9840

[2018-12-11 06:56] #8081 closed

[2018-12-11 06:58] hzxuzhonghu commented on #8081
@sakthishanmugam02 Please put up a new issue if this not works well.

[2018-12-11 07:02] sakthishanmugam02 commented on #8081
Before that, I would like to understand the steps i followed is correct or not. @hzxuzhonghu

APP SERVICE YAML file
[code]

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: apps-vs
spec:
  hosts:
  - "*"
  gateways:
  - app-gateway
  http:
  - match:
    - uri:
        prefix: /rest-app
    route:
    - destination:
        host: app-one-service
        port:

[2018-12-11 07:47] yangxikun commented on #10318
It should be my kubernetes config problem.

[2018-12-11 07:47] #10318 closed

[2018-12-11 08:12] hzxuzhonghu commented on #8081
[code]
The retryOn can not be set.
For grpc, the 'retryOn' should be in https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/router_filter#x-envoy-retry-grpc-on

[2018-12-11 08:34] #10166 closed

[2018-12-11 08:38] hzxuzhonghu opened #10390 "Galley bootstrap takes too long and can not run up."
I use the 1.1.0.snapshot.3 galley image. Deploy istio with mTLS enabled, I find the galley pod is error. When I remove the readiness and liveness probe. It can successfully start.

BY checking the galley logs, I find it takes 20s　
[code]

[code]

[2018-12-11 08:39] hzxuzhonghu commented on #10390
@ayj @ozevren Any idea, can this be optimized?

[2018-12-11 08:42] sakthishanmugam02 commented on #8081
@hzxuzhonghu thanks for the reply. you meant, newer version of envoy is required?

the support in snapshot version is only for http configurable error codes, not for grpc

[2018-12-11 08:48] sakthishanmugam02 commented on #8081
@hzxuzhonghu

Following is my yaml files:
SERVICE 1:
`apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-one
  namespace: default
spec:
  replicas: 1
  minReadySeconds: 15
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: app-one
  template:
    metadata:
      labels:
        app: app-one
    spec:

[2018-12-11 09:17] PhilipGough commented on #9596
@kyessenov - I had surmised as such after taking a look at the code but thanks for confirming.

[2018-12-11 09:52] PhilipGough commented on #10294
Hey @douglas-reid, I have tried with both the following:

[code]
This hits the handler as expected but doesn't reference the source ip so it is not going to produce the desired behaviour right?

Now adding an arbitrary reference in the properties causes the handler not to be reached:
[code]

Any suggestions as to what I'm doing wrong? Also I am wondering if this is an external request that comes t

[2018-12-11 10:38] mk01 commented on #6146
as pre docs & usual istio practice, it should. but to my surprise, proxy on outbound redirect is kicking in regardless of it's name or protocol. tried
[code]
tried
[code]
tried
[code]

always getting:
[code]

[2018-12-11 10:49] sakthishanmugam02 opened #10391 "gRPC retryOn is not working"
**Describe the bug**
I am trying to configure retryOn policy with service unavailable; it is not retrying

I have 2 app;
1st one exposes REST endpoint; on receiving request, it dials to gRPC server(2nd app) and post some request

my yaml configuration files for app and istio rules as below:
SERVICE 1:
[code]
SERVICE 2:
[code]

ISTIO rules

[code]

**Expected behavior**
It should retry if the 2nd a

[2018-12-11 10:50] sakthishanmugam02 commented on #8081
@hzxuzhonghu I have raised an issue to track this case; if you find any issue with my yaml configuration let me know
https://github.com/istio/istio/issues/10391

[2018-12-11 13:11] #7727 closed

[2018-12-11 14:25] zhu0516123 opened #10393 "mixer memory was rising when I applyed kubernetesenv adapter"
**Describe the bug**
After I installed istio and my application, I accessed my application, and then the memory of mixer-policy and mixer-telemetry were rising all the time until crashed. But when I remove the rules (kubeattrgenrulerule and tcp kubeattrgenrulerule) which were in istio-demo-auth.yaml, the mixer memory was normal. The two rules were applied to kubernetesenv adapter which pulled kube

[2018-12-11 15:11] mbanikazemi commented on #4751
thank @prune998
How about the other issue you have open: https://github.com/istio/istio/issues/4777
Is that problem still there? I would like to resolve this problem if it is still there. If not, we can close the issue. Please advise. Thanks.

[2018-12-11 15:35] mbanikazemi commented on #4777
If destination rule is defined with trafficPolicy, I see that the corresponding clusters get configured correctly. That is if connectionPool parameters are defined they get reflected in the configuration of the cluster. I also verified that this get propagated to all pods (sidecars) including ingress/egress pods (routers) as expected.

@prune998 If you still experience a problem, please update thi

[2018-12-11 16:25] nmittler commented on #9150
@incfly yeah, let's just keep the test framework using webhook ... that's the long-term goal anyway. I like your idea about just unit testing istioctl.

[2018-12-11 16:31] somcsel opened #10395 "Provide external client TLS certificate to services"
**Describe the feature request**
Confgure the Ingress Gateway to set the data of the whole client TLS certificate in the `X-Forwarded-Client-Cert` (XFCC) HTTP header.

This feature can be achieved through [Envoy configuration](https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/network/http_connection_manager/v2/http_connection_manager.proto#envoy-api-msg-config-filter-network-http-co

[2018-12-11 16:35] ayj commented on #10390
You could start by investigating why the http.Serve() is taking 20 seconds to start.

[2018-12-11 16:48] emedina commented on #7369
This is not working for me with `1.0.4`. I'm trying to set up a simple routing rule to the `reviews` service from the Bookinfo example:

[code]
[code]

This configuration should always return `v1` of the `reviews` service, but it seems to be ignored as I just get a round-robin response between the three available versions:

[code]

I can confirm that the sleep pod I'm using has a working sidecar p

[2018-12-11 16:52] douglas-reid commented on #10393
@mandarjog how does this match with our numbers and experience on our large scale testing clusters?

[2018-12-11 16:59] mandarjog commented on #10393
This is a new observation. Can you
1. Increase the limit or remove limits and see if the memory stabilizes at some point
2. Export mixer grafana dashboard and share it via raintank.

The amount of memory needed by kubeenv adapter scales by the size of the deployment. How large is your deployment ?

[2018-12-11 17:49] dtzar commented on #7675
The existing PR is still held up debating on what to do about the conditional CRDs in the helm chart, so I separated enabling the useAdaperCRDs in the helm chart to a [separate PR](https://github.com/istio/istio/pull/10247)

@douglas-reid I believe I addressed all your feedback from the 1st PR, so theoretically this one should be good to merge.

[2018-12-11 18:52] mbanikazemi commented on #4777
@esnible  per latest comment by @prune998 on issue #4751  please close. (In case there is any issues we will reopen.)

[2018-12-11 18:53] esnible commented on #5726
Can anyone reproduce this with a valid set of Gateway CRDs?

[2018-12-11 19:09] #9882 closed

[2018-12-11 19:10] #4777 closed

[2018-12-11 19:13] douglas-reid commented on #10258
@objectiser @yurishkuro is there any planned work on the Jaeger side in the near term to address the options listed here and in the issue in the Jaeger repo?

The reason I'm asking: If not, we need to start building a workaround into our processes for an upcoming release. Given a few pointers, perhaps we could help?

Thanks for any advice you can provide.

[2018-12-11 19:20] #7302 closed

[2018-12-11 20:32] thesandlord opened #10397 "Prometheus 'kubernetes-pods-istio-secure' job should support HTTP"
**Describe the feature request**
Currently (as of Istio 1.0.5), there is a Prometheus job called `kubernetes-pods-istio-secure` which will scrape metrics from pods secured by Istio's mTLS. However, this job uses the HTTPS scheme so the metrics endpoint needs to be HTTPS. I don't want to use HTTPS as I am already using Istio to do over the wire encryption, and it is difficult to set up HTTPS in my

[2018-12-11 20:40] jnativio commented on #9800
Measurements done with image containing #10292 changes and comparing with build release-1.1-20181208-09-15. The scenario consisted in deploying a new pod/service in a cluster with a number of pods already present and measuring the startup time for the new pod and the Pilot cpu/mem consumption. It was done with no other service present and 200 services present.

Startup time for a new pod:
![image]

[2018-12-11 20:54] jaygorrell commented on #9043
@costinm I'm happy to test a release with #7665 when it's available. Does that fix fit the scenario that it seems to only be a problem when k8s services are on the pods?

[2018-12-11 20:55] ermik commented on #7964
I am facing this issue on 1.0.4 with istio mesh positioned behind ambassador proxy, which routes requests to `ingressgateway` envoy after terminating TLS. Ambassador does not support L4 and originating another TLS connection going upstream just made `ingressgateway` produce 503s with no logged errors. I finally gave up and decided to route everything after ambassador over http into the mesh, only

[2018-12-11 21:05] yurishkuro commented on #10258
@douglas-reid help with fixing it in the client ([issue #353](https://github.com/jaegertracing/jaeger-client-go/issues/353)) would be most appreciated.  We don't exactly have a solution to this, I proposed above using a pool of random number generators, but it would be interesting to observe directly in Istio whether that even addresses your contention.

[2018-12-11 21:34] douglas-reid commented on #10397
Are your proxies deployed in permissive mode by any chance?

/cc @bianpengyuan @mandarjog

[2018-12-11 21:52] thesandlord commented on #10397
@douglas-reid afaik no, I am using ISTIO_MUTUAL on all my destination rules, and have `global.mtls.enabled = true`

[2018-12-11 22:39] wattli commented on #8477
@liminw @yangminzhu , can we mark this PR as closed now?

[2018-12-11 23:06] mandarjog commented on #8477
Please close this *after* we get some performance data.

[2018-12-11 23:08] mandarjog commented on #8477
oops, never mind..., There is perf data associated with the PR.

[2018-12-11 23:11] #7512 closed

[2018-12-11 23:42] adityats2020 commented on #10223
Yes, the Doc doesn't say that. However, the filter doesn't get invoked unless I remove the app label.
If I change, `listenerType: SIDECAR_INBOUND` to `listenerType: GATEWAY` the filter does not get invoked unless I remove the workloadLabels that I had for SIDECAR_INBOUND listenerType filter.
[code]

[2018-12-12 00:00] rockholla opened #10402 "Helm chart repo referenced in readme is dead"
helm charts repo https://storage.googleapis.com/istio-prerelease/daily-build/master-latest-daily/charts as referenced in https://github.com/istio/istio/tree/master/install/kubernetes/helm/istio#installing-the-chart no longer exists.

Looks like maybe it should be updated to https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/master-latest-daily/charts/ per https://github.com/istio/istio.io/pu

[2018-12-12 01:11] #7876 closed

[2018-12-12 01:48] #8159 closed

[2018-12-12 02:11] #7837 closed

[2018-12-12 02:41] #10382 closed

[2018-12-12 02:42] zhu0516123 commented on #10393
@mandarjog
Because of some security restrictions, I can not export the grafana dashboard. Here are some pictures of mixer grafana dashboard and logs from mixer-policy.

Mixer request and limit memory is 1600Mi, and cpu is 1000m.
The size of deloyment in openshift:
pod: 1600
service: 700
namespace: 200
But only 10 applications use istio.

**mixer grafana dashboard:**
![grafana1](https://user-images

[2018-12-12 02:57] #8552 closed

[2018-12-12 03:11] #7866 closed

[2018-12-12 03:12] ayj commented on #10220
It sounds like switching to MCP is highlighting the fact that the ServiceEntry path needs to be optimized? @costinm, can someone from networking team a stab at this?

In addition, there are several MCP enhancements we can make to reduce CPU/memory across the board, e.g. reduced memory allocations and decode/validation costs.

[2018-12-12 03:55] mandarjog commented on #9800
This is great, pilot cpu and memory cut down by >50%

[2018-12-12 04:03] hzxuzhonghu commented on #10390
Sorry, It is 1.1.0.snapshot.3 that has issue.
I also tried the following 2 tests:

1. I build a new galley image with the latest release-1.1 branch, it works well.

1. Still on 1.1.0.snapshot.3 tag, change base image to `istionightly/base_debug`, it also works well.

[2018-12-12 04:08] hzxuzhonghu commented on #10390
more info: sometimes it is ready, sometimes not

[code]

[2018-12-12 04:13] hzxuzhonghu commented on #10390
ON 1.1.0.snapshot3, I changed localhost to 127.0.0.1, it works. Not sure why localhost not resolved to 127.0.0.1

[code]

[2018-12-12 05:18] irisdingbj commented on #8663
This has already been delivered in https://github.com/istio/istio/pull/9628

[2018-12-12 05:18] #8663 closed

[2018-12-12 06:11] #7674 closed

[2018-12-12 08:40] zhu0516123 commented on #10393
I increased limit of memory to 10Gi for mixer. After runing 6 hours, mixer restarted because the memory  ran out.

[2018-12-12 09:35] emedina commented on #9113
Reopening and relating to #7665

[2018-12-12 10:00] hzxuzhonghu commented on #7665
https://github.com/istio/istio/pull/10420 may decrease 503s in some degree

[2018-12-12 11:37] purushothamgk opened #10422 "Error: failed to convert to proto. yaml: line 67: mapping values are not allowed in this context"
**Describe the bug**
Error: failed to convert to proto. yaml: line 67: mapping values are not allowed in this context
error: no objects passed to apply

**Expected behavior**
To deploy the pods

**Steps to reproduce the bug**
kubectl apply -f <(istioctl kube-inject -f private.yaml)

**Version**
Version: 1.0.0
GitRevision: 3a136c90ec5e308f236e0d7ebb5c4c5e405217f4
User: root@71a9470ea93c
Hub: gcr.io

[2018-12-12 12:45] yangminzhu commented on #10395
/cc @yangminzhu @diemtvu @rshriram
Hi Steve, Is this issue suggesting to add a flag to make this feature configurable? Or is there anything you want to achieve through this issue? Thank you.

[2018-12-12 13:56] flunderveiko commented on #10336
i changed the match spec `rule` resource named `promhttp` in namespace `istio-system`
`context.protocol == "http" || context.protocol == "grpc"`
`(context.protocol == "http" || context.protocol == "grpc") && ( request.path != "/healthz")`

cause i use /healthz for my livenessProbe

[2018-12-12 15:06] frankbu commented on #9429
Added documentation for this: https://github.com/istio/istio.io/pull/2970

[2018-12-12 15:58] somcsel commented on #10395
Hi Yangmin, I would to extend the existing feature, so that the Ingress gateway adds the `Cert` field to the XFCC header.

If we take the below as an example of how it appears today:
[code]

I would like the whole of the external client's certificate to be present, such as:
[code]

I queried whether to make this addition configurable because it adds an overhead to each request received from extern

[2018-12-12 16:35] noisyox commented on #9919
I am unable to access grpc application (listen 3000) using loadbalncer and can be accessed using Nodeport. Although if I setup any http application using http config it works without a sweat. Please help.

[code]

[2018-12-12 16:44] noisyox commented on #7909
@facundomedica  I am unable to access grpc application (listen 3000) using loadbalncer and can be accessed using Nodeport. Although if I setup any http application using http config it works without a sweat. Please help.

[code]

[2018-12-12 17:25] esnible opened #10426 "Developer instructions ests/e2e/local/vagrant failing push to Docker repo on VM"
Hoping to test Istio PRs on my Mac I followed the instructions at _tests/e2e/local/vagrant_ for the first time in several months.  All seems well until `sh setup_test.sh`.  It builds all the images then reports
[code]

The problem seems to be the Docker registry pod,
`kubectl -n docker-registry get deployment kube-registry -o yaml` reports

[code]

I was able to fix this problem by `vagrant ssh` a

[2018-12-12 18:48] absc6 opened #10429 "Istio yaml structure"
**Documentation for yaml structure configuration**
For new users, it can be useful to have a yaml structure definition available. This will claritify about each attribute(option/mandatory/functionality/restriction etc).

[2018-12-12 18:59] ayj commented on #10390
Interesting. What kubelet and container runtime version are you using?

[2018-12-12 19:03] kyessenov commented on #9432
@brian-avery

After some discussions, we decided to clearly document that header string map use lowercased strings as keys. We also added `toLower` function in case you need a programmatic key access.

We think it'd be a maintenance burden to extend CEL/runtime with case-insensitive maps, since we have plans to evolve the language in the context of Mixer v2 towards [CEL](https://github.com/google/

[2018-12-12 19:05] kyessenov commented on #10390
localhost might be resolving to IPv6 address.
or systemd/resolved might be rotating between IPv4 and IPv6 addresses.
It's a good practice to use resolved IP instead.

[2018-12-12 19:52] Nino-K commented on #10220
In the env-config meetup @costinm  agreed that adding a service entries filter to the diff might be a reasonable solution for now (until we have incremental updates) due to the way Cloud Foundry today sends only Service Entries to register it's endpoints. Alternative solution would be if copilot introduces a new MCP type that is specific to CF (however it would be using the service entry proto und

[2018-12-12 20:01] ayj commented on #10220
I would strongly prefer filtering diff by type for service entries. This aligns well with incremental updates (when available) and avoids introducing duplicate CF specific types. I'm not sure how adding a CF specific type would help long term, considering we plan to use ServiceEntry for k8s discovery as well (via out-of-process adapter or Galley).

[2018-12-12 20:14] objectiser commented on #10258
@mandarjog Updated commit: https://github.com/jaegertracing/jaeger-client-go/commit/3e70059a3935599fa849da15dddde30cde5a6226

[2018-12-12 20:48] Nino-K commented on #10220
Yes, agreed. Having a duplicate type in the future to handle service registry for two separate platforms seems to be an anti-goal in MCP.

[2018-12-12 20:52] kyessenov commented on #8689
Done already with golangci-lint.

[2018-12-12 20:52] #8689 closed

[2018-12-12 21:11] mandarjog opened #10434 "Mixer client: mixc should send valid attribute encodings when attribute vocabulary is available"
The contract between Mixer client and Mixer is they agree on a vocabulary and the client will always send correctly encoded attributes across the wire.

At present `mixc` makes the user specify attribute types on the command line. There is an auto detect feature that detects type based on attribute value.

Proposal: When `--attribute-manifest` is specified, mixc must encode attribute based on the

[2018-12-12 21:20] kyessenov commented on #10434
Alternative proposal:
mixs should expose a reflection API that allows mixc to query manifests from mixs. That would eliminate a dependency on the config from mixc.

[2018-12-12 21:39] #6275 closed

[2018-12-12 21:55] #10252 closed

[2018-12-12 22:01] frankbu commented on #9138
Answered on stackoverflow: https://stackoverflow.com/questions/52645124/kubernetes-dashboard-exposing-through-istio-1-0-0-ingress-istio-ingressgatew

[2018-12-12 22:01] #9138 closed

[2018-12-12 22:18] costinm commented on #6146
Moving this back to 1.1 - many people have this issue.

Using the IP range is clearly too difficult and doesn't work in all cases - we need an install option to make
egress open by default ( by installing a tested set of ServiceEntries).

AFAIK it'll still need to be done for a list of ports - I don't think we can emulate 'all ports allow egress to original destination by default', and likely we w

[2018-12-12 22:47] costinm commented on #10220
Agree - having duplicated type for separate platforms, or in general platform specific features is an anti-goal.

However this is in no way specific to CF - we do plan to use ServiceEntry for Consul and K8S (in 1.2) and we have exactly the same problem, that ServiceEntry is used for both config (egress) and to map the endpoints.

Using a separate config type ( but with the same protocol ) to isola

[2018-12-12 22:51] costinm commented on #10220
@ayj: diff does not align at all with incremental updates - and as I mentioned support for incremental
update of endpoints is already present in ADS/EDS ( and implicitly in MCP ) protocol.

The incremental support for other configs is different - and does require changes in ADS, which are in progress, but endpoints are clearly supporting incremental in the protocol ( since we are using it ), and I

[2018-12-12 22:56] rayepudi opened #10441 "Istio as a Front proxy for an external service"
We have a requirement where the istio acts as a front proxy to connect to an external service. And the same front proxy should act as the entry point for istio service mesh.

[2018-12-12 22:59] ayj commented on #10220
This GH issue is about MCP. Incremental updates refers to MCP which is orthogonal to incremental ADS. We're not talking about adding incremental ADS/EDS in this thread. This issue is about efficiently pushing config from Galley to Pilot. Pilot can use whatever form of xDS/ADS it wants in dependent on MCP.

FWIW, k8s config delivery today is incremental in the sense that the kube-apiserver pushes i

[2018-12-12 23:33] costinm commented on #10220
We have about 1 month until 1.1 AFAIK - I guess I can live with diff only
on ServiceEntry, but I would rather move in the right direction and
fix the underlying problem. Sending _all_ endpoints from all Services from
Copilot and doing a diff is a scalability issue in both ends.
It will not affect K8S too much since there are not so many egress
ServiceEntry changes - but I doubt CF users will be ve

[2018-12-13 01:30] hzxuzhonghu commented on #10390
[code]

[2018-12-13 02:43] #10390 closed

[2018-12-13 02:48] hzxuzhonghu commented on #10429
I am not sure if `istio.io/api/networking/v1alpha3` is what you want.

[2018-12-13 02:50] hzxuzhonghu commented on #10441
You can do that using egress gateway. ref: https://istio.io/docs/examples/advanced-egress/egress-gateway/#define-an-egress-gateway-and-direct-http-traffic-through-it

[2018-12-13 03:21] zhaohuabing opened #10456 "Pilot complaints outbound listeners conflicts and drop the traffics"
**Describe the bug**
Pilot complaints outbound listeners conflicts when there're HTTP and headless TCP services listen on the same port or multiple headless TCP services on the same port. And the conflicted TCP traffics are dropped by envoy, resulting in application errors.

The current assumption is that TCP service should have a unique VIP, otherwise service ports must be deliberately allocated

[2018-12-13 03:32] LzyRapx opened #10457 "the problem of istio-init about ip6tables"
**Describe the bug**
[code]

**Version**
[code]

**Installation**
[code]

**Environment**
[code]

**Cluster state**
my **Kubernetes** cluster is healthy.

[2018-12-13 04:18] darkrasid commented on #6319
is there any updates? still
`For NodePort ingress gateways, access by a browser is supported partially: only for the * hosts in the definition of the VirtualService.`
is vaild?

[2018-12-13 04:20] Liv1020 commented on #10336
I use this yaml to fix it, it's more general
[code]

[2018-12-13 05:04] lei-tang opened #15737 "Authenticate an exchanged token"
A JWT token from a client may be exchanged to another token upon reaching the perimeter of a service mesh. Need to authenticate the exchanged token and extract the authenticated payload to be consumed by the authorization filter.

[2018-12-13 05:31] darkrasid commented on #7776
Hi, everyone.
I have a question :) I also try to use both of nginx controller and istio.

I was able to connect my service using nginx and envoy but virtualservice couldn't handle any configuration. Can anyone give me a hint? Much appreciated.

First, my env.

- istio: 1.0.3 ( installed with helm and node port enabled)
- nginx-ingress-controller: 0.18.0 (install with helm and host port is mapped)

[2018-12-13 08:44] gekart opened #10462 "Ansible installer connects localhost on port 22 to check prerequisites"
**Describe the bug**
Running main.yml playbook will check prerequisites by connecting to localhost. Port 22 may not be listening.

Error message :"Failed to connect to the host via ssh: ssh: connect to host localhost port 22"

**Expected behavior**
Checking ansible version can be done locally.

**Steps to reproduce the bug**
Run
`ansible-playbook main.yml`
on a machine with closed port 22

**Versi

[2018-12-13 09:09] jotak commented on #10336
So if having `match: (context.protocol == "http" || context.protocol == "grpc") && match(request.useragent | "", "kube-probe*") == false` in promhttp sounds good, maybe it could come as a default in istio templates for kubernetes? What do you think?

[2018-12-13 10:59] Yisaer opened #10464 "Priority for VirtualService when conflict happen"
**Describe the feature request**
Hi, I'm wondering is it possible to set priority for each VirtualService when multi VirtualService Match get conflict.

In my case , I have 2 services , A and B. And my virtualservice configuration is following YAML.

When I visit **www.example.com/api/xxx** ,i noticed that the http request was arranged to the Service-A by istio-ingressgateway.

It seems the reques

[2018-12-13 11:35] sapien99 commented on #4695
Guys, ist that still in the forge? We built an authentication gateway which is capable of doing server/path protection with htpasswd files. Its implemented in go and integrated into istio as a ext-auth EnvoyFilter. If its ok for you we would gladly share the code

[2018-12-13 12:28] darrencraig opened #10467 "v1.1.0: TCP weighting does not allow for a 0-100 split - "positive weight is required"."
I will require TCP weighting in the near future, a feature which has been added to the upcoming 1.1 release. (https://github.com/istio/istio/commit/aaaf0a3addfbdbc9022b13a002225910e82874d4) - (Thanks for the work so far @venilnoronha!)

I have been testing v1.1.0 locally and noticed that you cannot use '0' as a valid weighting value and therefore cannot split the traffic 100/0.

![100 Percent Weig

[2018-12-13 13:41] dimakow opened #10468 "Listentry should be extended to accept also values of type IP_ADDRESS"
**Describe the feature request**
In https://istio.io/docs/tasks/policy-enforcement/denial-and-list/ it is described how mixers listchecker is used in combination with listentry to do simple string based checks against a white/blacklist. I think that logic is aiming primarily for envoy requests setup with HTTP filter (and i.e. request.header keys).

If i've setup envoy with Network filter and i wan

[2018-12-13 14:58] tiny1990 commented on #8369
It's a client-go bug

I debug  and see client_config.go

https://github.com/kubernetes/client-go/blob/release-8.0/tools/clientcmd/client_config.go#L459

mergo.Merge not Overwrite
so you should use mergo.MergeWithOverwrite

or update to release-9.0 +

https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/client_config.go#L456

I see fix pr
https://github.com/kubernetes/client-go/commi

[2018-12-13 15:09] venilnoronha commented on #10467
Can you just drop the `destination` with `subset: canary`?

[2018-12-13 15:14] costinm commented on #5273
Keeping this open - IPv6 support is pretty important, we're just lacking few small ipv6 ipt6table commands and testing.

[2018-12-13 16:06] emedina commented on #10360
@costinm This is definitively an issue as some of my pods do not get the `RDS` properly, although they do get the `RDS`, `LDS` and `EDS`:

[code]

I understood from your last response that you already had a fix. I'd be more than happy to test it out.

[2018-12-13 16:09] mandarjog commented on #4695
It would be great if you package that code as an OOP mixer adapter. Since this is a generic adapter we would put it in the main Istio repo.

[2018-12-13 16:54] facundomedica commented on #7607
Fixed by setting `externalTrafficPolicy: Local`

[2018-12-13 16:54] #7607 closed

[2018-12-13 16:55] costinm commented on #10360
Last daily build should have the fix - after testing we'll cut a new
release.

On Thu, Dec 13, 2018, 08:06 Enrique Medina Montenegro <
notifications@github.com wrote:

[2018-12-13 17:02] MandarJKulkarni commented on #9504
Me too facing this issue with istio-1.1.0-snapshot.3

kubectl version:
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3"
Server Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.9-gke.5"

Surprisingly, it was working for a day or so and it suddenly stopped working today.

[2018-12-13 17:15] merlineus commented on #8337
Nope.
There is no setting or API for that in Istio. Ingressgateway's listener configuration is created by Gateway resource. So this option can only be supported by Istio developers.

[2018-12-13 17:37] nmittler commented on #9504
So the issue here is coming down to the list of application ports that the readiness probe is using.

Initially, the readiness probe just waited for the 1st update from Pilot before marking the container as "ready". That wasn't quite enough, however, since k8s would occasionally send partial lists of endpoints to Pilot/Envoy, which means that some inbound ports were not configured by the time the

[2018-12-13 17:42] #5650 closed

[2018-12-13 18:11] douglas-reid commented on #10336
@jotak +1 to your suggestion. If you feel up to it, please send a PR my way. Otherwise, I'll get to it when I next am at a computer.

[2018-12-13 18:39] ayj commented on #8369
github.com/imdario/mergo changed semantics of `mergo.Mergo`. k8s client-go previously pinned to the older mergo version to avoid problems. They've since updated their code to use the mergeWithOverwrite. We did something similar in Istio (see https://github.com/istio/istio/pull/6987) and will eventually move to release-9.0+ with the fix.

[2018-12-13 18:55] andraxylia commented on #10220
I proposed an API to separate what the user configures from the synthetic ServiceEntries, and also to separate Endpoints so they are handled by incremental MCP:
https://github.com/istio/api/pull/628

[2018-12-13 19:14] kyessenov opened #15736 "Deprecate attributes_for_mixer_proxy and legacy node id derivation"
It appears no matter what the value of `attribute_for_mixer_proxy` is set to, the value comes from the node metadata (even if it's empty).

We should remove the logic for this field from proxy to avoid confusion, and mark the field as deprecated.

Later on, we should also remove the derivation logic from the legacy node ID (blah~blah).

[2018-12-13 19:29] ayj opened #10469 "Consider adding polling mode to istio.io/pkg/filewatcher"
istio.io/pkg/filewatcher uses ionotify to watch for local filesystem changes. This works fine under normal conditions. However, there might be cases where OS ionotify limits are reached, e.g. local development, pod on large nodes. This leads to errors of the variety: "unable to watch ..., no space left on device".

One mitigation is to add a fallback polling mode to istio.io/pkg/filewatcher when i

[2018-12-13 19:42] #7917 closed

[2018-12-13 21:30] darrencraig commented on #10467
Yes, but I wasn't sure if that was consistent with the way that the http weighting worked (you can balance 100/0 on http) and it might be more awkward for updating in automated pipelines?

Happy to take your advice - I'm still getting to grips with the system and in the midst of updating our own workflow, so I'm certainly not the authority on this!

Thanks!

[2018-12-13 21:47] venilnoronha commented on #10467
Agree that that behavior needs to be more consistent. The difference between HTTP and TCP routing currently is that the weights in HTTP need to sum up to 100, while TCP doesn't have such a restriction.

[2018-12-13 23:42] #7773 closed

[2018-12-14 01:04] ldemailly commented on #9988
ping, can you explain what is the hold up/issue ?

[2018-12-14 01:18] zhu0516123 commented on #10393
@mandarjog @douglas-reid
there are a lot of following error messages in the mixer log.
`error adapters adapter did not close all the scheduled daemons {"adapter": "handler.kubernetesenv.istio-system"}`
Does this cause a memory leak which leads to mixer memory growth all the time?

[2018-12-14 01:58] hzxuzhonghu commented on #10105
Why envoy does not respond with DiscoveryRequest containing not nil ErrorDetail.

I see from here https://github.com/envoyproxy/data-plane-api/blob/master/XDS_PROTOCOL.md it should be `If Envoy had instead rejected configuration update X, it would reply with error_detail populated and its previous version, which in this case was the empty initial version. `

[2018-12-14 02:12] mandarjog commented on #10393
Yes, it can cause memory leak. Can you send us istio-policy logs?
Are you making frequent changes to istio /mixer configuration? If `kubernetesenv` adapter is reloaded without these changes, then it is also an issue.

[2018-12-14 02:35] orangeh8 commented on #7640
I have the same problem

[2018-12-14 02:44] Liv1020 commented on #10336
@jotak +1

[2018-12-14 03:13] irisdingbj commented on #9800
Adding a cache for mixer route config using service host name+ inbound/outbound as key to prevent repeated the json <-> protobuf convention. Now all testing passed and waiting for PR merge : https://github.com/istio/istio/pull/10292

[2018-12-14 03:13] irisdingbj commented on #9800
@suryadu ^^^

[2018-12-14 03:16] Yisaer commented on #10464
@hzxuzhonghu Thanks for your reply. After I merge 2 VirtualService in folloing YAML, How can it guarantee the HTTP request for **www.example.com/api/xxx** will be delivered to the Service-B ,not Service-A?

[code]

[2018-12-14 03:17] hzxuzhonghu commented on #10467
opened #10479 to fix

[2018-12-14 03:18] hzxuzhonghu commented on #10464
The priority is by order, you should also change the match rule order

[2018-12-14 03:40] mathspanda commented on #10380
Is there anyone working on this? If not, i am happy to work on it as my first issue.

[2018-12-14 04:40] mandarjog commented on #10380
Please pick it up.

[2018-12-14 04:42] #1096 closed

[2018-12-14 05:42] #4046 closed

[2018-12-14 06:33] incfly commented on #10380
@mathspanda Welcome for help! Please feel free to ask me for more details if needed.

[2018-12-14 06:39] sapien99 commented on #4695
@mandarjog:  perfect, thanks!. We implemented it as just a generic service because we run it also with nginx-ingress-controller in the switchover phase from ingress to istio ;-) Will try to bring it in the mixer OOP adapter format

[2018-12-14 06:42] #6267 closed

[2018-12-14 07:33] VeitSanner opened #10484 "Provide istioctl via homebrew"
**Describe the feature request**
It would be good to have a homebrew formula available for istioctl which takes care of installing, updating the istioctl binaries.

**Describe alternatives you've considered**
Currently, the only way to install istioctl on macOS is to download the binary and copy it to a directory which is available via the PATH variable.

**Additional context**
N/A

[2018-12-14 08:00] dreadbird opened #10485 "Routing to a wrong endpoint with multiple virtualservices for the same host, when the virtualservices have header rules."
**Describe the bug**
I see a new feature：https://istio.io/help/ops/traffic-management/deploy-guidelines/#multiple-virtual-services-and-destination-rules-for-the-same-host
but when I match the header rules,the root path"/" will override the other rules.

**Expected behavior**
the virtualservices like these:
[code]
and the svc:

[code]

**Steps to reproduce the bug**
When I call the  url "http://mul

[2018-12-14 08:42] saturnism commented on #10062
is there a solution for keeping the default meshpolicy?

[2018-12-14 08:48] #10206 closed

[2018-12-14 09:09] silencehe09 opened #10486 "How to do Pilot delivery performance test？"
In the Istio 1.0.3 release notes, it shows that "Pilot performance and scalability has been greatly enhanced. Pilot now delivers endpoint updates to 500 sidecars in under 1 second".

And now we are planning to do some test about Pilot delivery performance , and intend to figure out how the increasement of sidecars number will effect the time Pilot delivers endpoint updates and how many replicas of

[2018-12-14 10:05] jotak opened #10487 "Allow prometheus scraper to fetch port outside of sidecar umbrella"
**Describe the bug**

Following discussion here: https://groups.google.com/forum/#!topic/istio-dev/rG2Y7wjfTIg

If a pod exposes prometheus metrics on non-secure port where permissive mode isn't active (for instance, because the port isn't declared as `containerPort`... or any other reason), then the current prometheus scraping configuration will fail to collect that data.

A reason to have such a

[2018-12-14 10:06] jotak commented on #10487
@mandarjog I will submit a PR about that

[2018-12-14 10:11] PhilipGough commented on #9819
Resolved in referenced PR

[2018-12-14 10:11] #9819 closed

[2018-12-14 10:23] SrinivReddy opened #10488 "ISTIO mesh expansion: Failed to connect to productpage.default.svc.cluster.local port 9080: Connection timed out on External VM"
I have implemented ISTIO mesh expansion, and I am trying to access bookinfo app from External  VM,
On External VM

curl -v -w "\n" http://productpage.default.svc.cluster.local:9080/api/v1/products/0/ratings
*   Trying xx.xx.xx.25...
* connect to xx.xx.xx.25 port 9080 failed: Connection timed out
* Failed to connect to productpage.default.svc.cluster.local port 9080: Connection timed out
* Closing

[2018-12-14 10:34] yciabaud commented on #9429
Closing since the problem is identified and there is no solution to provide.
Thanks @frankbu for updating the documentation

[2018-12-14 10:38] hustcat commented on #5726
hit the same issue with v1.0.3:

[code]

[code]

any advise?

[2018-12-14 11:59] anargund1979 opened #10489 "Istio with Statefulsets"
**Describe the feature request**
I am trying deploy zookeeper/kafka/cassandra/ES statefulsets with istio-proxy
I am getting Handshake failure messages.
Can someone tell me whether its supported with mtls ?
I have gone through number of issues but did not find solid answer.

**Describe alternatives you've considered**
{{ Describe alternative solutions or workarounds you've considered. }}

**Additio

[2018-12-14 12:00] #10489 closed

[2018-12-14 12:01] anargund1979 commented on #10489
Will open correct issue

[2018-12-14 12:02] anargund1979 opened #10490 "Istio with statefulsets"
I am trying deploy zookeeper/kafka/cassandra/ES, statefulsets (3 node cluster) with istio
I am getting Handshake failure messages.
Can someone tell me whether its supported with or not ?
I have gone through number of issues but did not find solid answer.
https://github.com/istio/old_issues_repo/issues/28 says its supported.

[2018-12-14 12:48] darrencraig commented on #7369
I had a similar issue to this which I've recently resolved. The system I was testing was a simple PHP service, fronted by an Nginx service. I've put the yaml files on GitHub so you can follow along: [https://github.com/darrencraig/istio-nginx-example](url)

The request process was as follows:

GET /example -> Istio Ingress -> Gateway -> Nginx Service & Virtual Service -> PHP Service / Virtual Serv

[2018-12-14 15:11] emedina commented on #7369
@darrencraig Changing `http` to `tcp` didn't make any change on my side. The rule is completely ignored still:

[code]

[2018-12-14 18:02] #8601 closed

[2018-12-14 18:03] #8009 closed

[2018-12-14 18:03] incfly commented on #7976
This is outdated right? Any other bug number to replace? @myidpt

[2018-12-14 18:07] incfly commented on #10062
In another issue, we find some issue for default mesh policy in 1.0.x, but fixed somehow in 1.1. MySQL issue might be the same...

[2018-12-14 18:07] incfly commented on #6384
#10062 is another potential victim...

[2018-12-14 18:53] CodeJjang commented on #7656
@objectiser Thanks, saved me as well.
I think it should be mentioned in the beginning of the (distributed paging)[https://istio.io/docs/tasks/telemetry/distributed-tracing/] page and not in the beginning. A person which follows the page wouldn't understand (like the rest of us) why it isn't working.

[2018-12-14 19:03] knrc commented on #10105
@hzxuzhonghu I agree this case is not included in the XDS_PROTOCOL documentation.

The response is created in the lower level mux code within the envoy server and occurs when a request arrives for a resource which currently has no handler, in our particular case this was the RouteConfiguration.  It will always return no resources irrespective of whether resources have been sent previously.

[2018-12-14 19:06] knrc commented on #10105
... and does not include an error message which may be something to address on the envoy side.  In the meantime the consequence is that the routes are never delivered to the proxy and listeners remain in "dynamic_warming_listeners" so cannot handle any requests.

[2018-12-14 19:17] myidpt commented on #7976
Actually we are using this one to track. We should link related PRs to this issue :)

[2018-12-14 19:18] mabushey commented on #10062
@incfly So the issues have issues?

[2018-12-14 19:34] lnogol commented on #10335
currently having the same problem

[2018-12-14 20:26] #7896 closed, assigned to nobody

[2018-12-14 20:31] rshriram commented on #8754
I dont mind.. if someone does the PR

[2018-12-14 21:19] knrc commented on #10105
@hzxuzhonghu I went through the history and it looks as if I can only find two failures, neither of the PRs related to this area.  From the error message being returned it would appear that the connection from the test to the pilot code has been disconnected for some reason, the EOF is being returned when the code is expecting a response.

https://github.com/istio/istio/blob/release-1.1/pilot/pkg/

[2018-12-14 21:32] ozevren commented on #8929
@nmittler I think we're good on this front, now. I am inclined to close this.

[2018-12-14 21:33] ozevren commented on #8772
cc @davidebbo

[2018-12-14 21:46] costinm commented on #10220
To break down things:
- diff for everything except ServiceEntry - I hope we agree that it needs to go, and it's P0
- fixing ServiceEntry to call ConfigUpdate and not require a diff - I hope we also agree it's clear and simple change
- doing diffs for ServiceEntry when CF is used - I can live with that, but I would prefer the fix I suggested that avoids it

Long term Pilot and Envoy will need MCP t

[2018-12-14 21:53] costinm opened #10497 "Pilot support for incremental MCP and ServiceEntries"
As discussed in #10220, MCP and ADS protocols allow endpoints ( and the equivalent ServiceEntry) to be sent incrementally, with the server sending updates with only the clusters(services) that have changed.

The pilot side changes are relatively small - I can take care of them ( unless Nino is willing to do them to get rid of the diff for CF ).

The main gap is having MCP server ( galley, CF or a

[2018-12-14 22:06] nmittler commented on #8929
@ozevren I'll let you have the pleasure ... make it so!

[2018-12-14 22:31] bianpengyuan commented on #10397
@thesandlord Do you deploy a sidecar in your prom pod?

[2018-12-15 01:34] mandarjog opened #10500 "1.1-pre Legacy Ingress Resource not working correctly"
pre-1.1 HEAD `release-1.1-20181213-09-16` istio build does not process k8s ingress resource correctly, it assigns an incorrect IP address as shown below.

[code]

[2018-12-15 01:45] mandarjog commented on #10500
[pp.log](https://github.com/istio/istio/files/2682306/pp.log)

[ingressdump.log](https://github.com/istio/istio/files/2682309/ingressdump.log)

[2018-12-15 01:46] mandarjog commented on #10500
This causes cert manager not to work amongst other things.
[code]

[2018-12-15 01:47] mandarjog commented on #10500
/cc @hzxuzhonghu @costinm

[2018-12-15 03:10] zhaohuabing commented on #9441
This has been fixed by https://github.com/istio/istio/pull/9688

[2018-12-15 03:10] #9441 closed

[2018-12-15 04:25] VenkateshSrini opened #10502 "Getting installation error with isito on Kubernetes with Docker for Windows"
**Describe the bug**
I'm trying to install Istio on kubernetes that comes with Docker for Windows. I find that I'm getting the following error

**Expected behavior**
Istio should get installed with out any issues

**Steps to reproduce the bug**
1) Install latest version of docker for windows
2) Download Istio and then install istio-demo-auth.yaml using kubectl app -f
**Version**
Istio 1.0.4

**Ins

[2018-12-15 05:14] andrewshan opened #10503 "Integrate consul as config registry"
**Describe the feature request**
Istio version: 1.0.3
currently we are using consul kv as our central config registry. Hence the istio pilot 1.0.3 only support file, kubernetes crd, kubernetes configmap as config registry.
So we want to add consul as config registry as it has been service registry in pilot.

**Describe alternatives you've considered**
NA.

**Additional context**
NA.

[2018-12-15 08:38] jaredallard commented on #10358
@shakti-das I'd be interested in seeing how this is fixed

[2018-12-15 09:13] yudar1024 commented on #9943
same issue here

[2018-12-15 14:37] #7357 closed

[2018-12-15 17:41] Stono commented on #10360
We've got the latest daily in preproduction, will report back in a few days

[2018-12-16 07:25] #7867 closed, assigned to lei-tang

[2018-12-16 10:19] #8378 closed

[2018-12-16 17:00] devops083 opened #10511 "How to expose kube-dns in k8s"
Hello,

I am implemeting ISTIO-mesh expansion in kubernetes (AWS)
as part of this I need to expose Kube-dns service.

so I tried to created a kube-dns service with type: LoadBalancer but an unable to get external IP its in pending state.

apiVersion: v1
kind: Service
metadata:
name: dns-ilb
namespace: kube-system
labels:
k8s-app: kube-dns
spec:
type: LoadBalancer
ports:

port: 53
protocol: UDP
sel

[2018-12-17 01:18] GavinLin168 opened #10512 "Istio auto-inject with environment variable name invalid value error"
**Describe the bug**
Some code from auto-inject
[[ range $k,$v := .ObjectMeta.Labels ]]
- name: ISTIO_META_[[ $k ]]
  value: "[[ $v ]]"
[[ end ]]

if Service,Deployment metadata labels have special char '/' , while auto-inject it will generate a env name which has '/'. Finally , error like below
Error creating: Pod "hello-5b9968fc7b-dn2jw" is invalid: [spec.containers[1].env[6].name: Invalid value

[2018-12-17 01:36] #8465 closed

[2018-12-17 01:45] #3986 closed

[2018-12-17 02:04] harryge00 commented on #10490
@anargund1979 Based on my understanding, whether the app is statefulset or deployment has little bussiness with Istio. Istio build xDS based on k8s service and Pod IP. So statefulset should also be supported. Maybe you used headless service or subdomain?

[2018-12-17 03:14] likunbyl opened #10513 "Mixer: istio_request_total metrics can't get app information"
**Describe the bug**
Recently I deployed Istio 1.0.4 to my kubernetes v1.7.10 cluster, and the bookinfo example , gateway points to the bookinfo service, and accessed the productpage homepage from a browser, all were fine.

But I noticed that some metrics output from Mixer:42422/metrics has problem. for example, the istio_requests_total, can't see the name of an app , the version, the workload, al

[2018-12-17 05:37] anargund1979 commented on #10490
@harryge00 , thanks for the reply.
Yes, all these cluster have headless service for inter communication, this is e.g. for Zookeeper.
[code]

[2018-12-17 05:57] lei-tang opened #10514 "Add an integration test for authenticating an exchanged token"
**Describe the feature request**
Add an integration test for authenticating an exchanged token, similar to the Istio authn integration tests under https://github.com/istio/istio/mixer/test/client.

**Describe alternatives you've considered**
Unit tests on Istio proxy

**Additional context**
Comments from https://github.com/istio/proxy/pull/2063

[2018-12-17 07:28] wansuiye opened #10515 "All sidecars reported 503 “ no healthy upstream ” for egress cluster"
**Describe the bug**
{{ Succinctly describe the bug }}

the istio cluster run well for serveral days, however yesterday all sidecar report 503 error"no healthy upstream" for egress clusters suddenly.

sidecar logs:
[code]

the sidecar could receive the xds config and the config downloaded from "istioctl pc xxx" is also synced.
i exec command "istioctl pc endpoint podxxx", the host are all registry

[2018-12-17 07:50] morvencao commented on #5752
The issue should still exists in the latest version.
Let's reopen this.

[2018-12-17 07:55] morvencao commented on #10083
With latest daily build, I can curl `httpbin` service in remote cluster from `sleep` in local cluster with `http://httpbin.default.global:8000/`
[code]

[2018-12-17 07:55] #10083 closed

[2018-12-17 08:38] morvencao commented on #10511
Your cluster don't support `LoadBalancer` type service.
Maybe you can try [metalLB](https://metallb.universe.tf/) if you're in test env.

[2018-12-17 08:40] morvencao commented on #10488
Can your VM access pod IP and service IP in the cluster?

[2018-12-17 08:44] morvencao commented on #10210
Need to update annotation for each loadbalancer server at: https://github.com/istio/istio/blob/master/install/kubernetes/mesh-expansion.yaml

And for https://istio.io/docs/setup/kubernetes/mesh-expansion/#setting-up-the-machines
select run `install/tools/setupMeshEx.sh machineSetup VM_NAME`

But not sure if mesh expansion is still working or not.

[2018-12-17 08:46] morvencao commented on #10147
duplicated with https://github.com/istio/istio/issues/10210

[2018-12-17 09:51] grayglj commented on #6319
if you config custom host for your virtualservice,you can config a nginx listen on 80 , and then route all hosts to ingress gateway nodePort,because when you access your service from browser which will get host value with node port,but you ingress gateway can only math domain(host) without port.

[2018-12-17 10:03] yudar1024 commented on #9943
after delete helloworld sample pods. it never work again. even you redeploy it with out any changes

[2018-12-17 10:48] devops083 commented on #10511
@morvencao , I am using AWS servers with loadbalancer enabled. for other services like istio-ingressgateway i have got loadbalancer for kube-dns only i am not able to get external IP.

[2018-12-17 11:02] devops083 commented on #10488
HI @morvencao , yes app pod ip is not able access from External VM.

[2018-12-17 11:17] PiotrSikora commented on #6283
Presumably this is a duplicate of #7912? This should be fixed in 1.1.

[2018-12-17 12:18] ramaraochavali commented on #10105
@knrc If you think Envoy, should have populated error message and did not, can you please create an issue in Envoy github with reproducible steps?

[2018-12-17 12:31] murarisumit commented on #6119
So as @ayj mentioned for code completion `istioctl collateral completion --bash` and then `source ./istioctl.bash` is the only way right now, or we are doing it some other way.

[2018-12-17 13:21] zhu0516123 commented on #10393
@mandarjog
The log I post above really looks like a memory leak. Does mixer really have this problem in  OpenShift Container Platform?

[2018-12-17 13:32] Turil opened #10519 "helm install with rbac.Enabled=false fails"
**Describe the bug**
When deploying Istio via Helm and Tiller, the config option global.rbacEnabled=false seems to be ignored. The command used was
`helm install --set global.rbacEnabled=false install/kubernetes/helm/istio --name istio --namespace istio-system`
I tried to put --set global.rbacEnabled=false at the end of the command as well.

The output is

Environment: Azure AKS cluster with 4 nod

[2018-12-17 14:37] #10426 closed

[2018-12-17 14:47] esnible commented on #7863
I have been watching the failures of this for the last 10 days.

Status:

Almost always the failures have been "container \"citadel\" in pod \"istio-citadel-69d6674759-hxl6s\" is waiting to start: trying and failing to pull image\n" exit status 1".  All of the pods in the istio-system namespace have this problem.  I suspect a race condition between jobs on the same CircleCI machine or problems wit

[2018-12-17 14:48] linsun commented on #8754
Agreed this would be good to have.   @vadimeisenbergibm or @GregHanson could one of you help with the WI?

[2018-12-17 14:50] linsun commented on #10485
@frankbu can you help check this out?

[2018-12-17 15:05] lubinson opened #10520 "[question] promethus auto scrape get broken after using istio"
Hi istio experts,

My k8s service has prometheus auto scrape enabled by adding annotation and expose a http port. Promethus can automatically detect this service and scrape the endport automatically. But after applying istio ingressgateway and virtual service. Auto scraping not work any more. I think it is because the sidecar blocked the access between service and external.
Annotation like below i

[2018-12-17 15:22] supereagle commented on #10169
It works to use full name. Only short name of `resourcequota` (quota) conflicts with Istio CRD `quotas.config.istio.io`.

[2018-12-17 15:43] linsun commented on #10520
is your prometheus external to the istio mesh?  if so, the side car doesn't have access to it by default.

Also, is mixer being used or you are expecting data directly from sidecar to prometheus?

[2018-12-17 15:45] LzyRapx commented on #10457
@ryane @cezarsa @burnettk @ipedrazas @

[2018-12-17 15:47] esnible opened #10521 "Local minikube instructions on OSX produce incorrect localhost:5000/kubectl:e2e image"
When the instructions at https://github.com/istio/istio/blob/master/tests/e2e/local/minikube/README.md are followed the container `localhost:5000/kubectl:e2e` may be built incorrectly.

The build problem isn't detected, and leads to istio-security-post-install going into CrashLoopBackOff.

This leads to a few end-to-end tests appearing broken.  For example `make e2e_simple` (with the recommended o

[2018-12-17 15:49] linsun commented on #10500
@esnible - could you help investigate this?

[2018-12-17 15:54] frankbu commented on #10485
This is working as designed. In the documentation it says `Although the order of evaluation for rules in any given source VirtualService will be retained, the cross-resource order is UNDEFINED. In other words, there is no guaranteed order of evaluation for rules across the fragment configurations, so it will only have predictable behavior if there are no conflicting rules or order dependency betwe

[2018-12-17 15:56] flunderveiko commented on #7607
using an envoyfilter:
[code]

[2018-12-17 15:57] linsun commented on #10519
@mbanikazemi can you investigate this?  My gut feeling is many istio control plane component requires  RBAC so it is not easily to mark it as not enabled.

cc @esnible

[2018-12-17 15:57] lubinson commented on #10520
@linsun

prometheus and other services are installed before using istio and they worked fine.
I think mixer is not used. I just use ingressgateway and virtual service. I expect prometheus works as same as before after using isito. Do you have suggestion? Thanks.

[2018-12-17 16:03] linsun commented on #10515
what is the pod/deployment status for your egress, is it possible it is crashed?  Do you have HA configured for your egress deployment?

[2018-12-17 16:05] linsun commented on #10515
@vadimeisenbergibm can you help triage this?

[2018-12-17 16:20] geeknoid opened #10523 "multicluster: statsd-prom-bridge pod not getting deployed"
@idarvind commented on [Sat Dec 15 2018](https://github.com/istio/istio.io/issues/2985)

Using ISTIO Version 1.0.3, getting same in version 1.0.4 as well

[code]

Any idea what's wrong here ??

[2018-12-17 16:38] esnible commented on #10520
I have not used Prometheus `<scrape_config>`.  If you installed Istio with mTLS then Istio security would keep Prometheus from being able to talk to your service.  Did you install using mTLS?

Can you attach the `<scrape_config>` you are using here (minus any passwords and security tokens).  Perhaps it will make more sense.

To troubleshoot networking it can be helpful to use _curl_ from inside th

[2018-12-17 16:41] mandarjog commented on #10500
Disregard ik, it is my alias = ‘kubectl -n Istio-system’. This works with 1.0

[2018-12-17 16:50] esnible commented on #10490
This may be a duplicate of #10053 .  See #9666 .

[2018-12-17 16:50] linsun commented on #10484
seems a good feature to have it handy :). @esnible / @mbanikazemi could you look into this?

[2018-12-17 16:52] esnible commented on #9982
This may be a duplicate of #9571

[2018-12-17 17:02] esnible commented on #10484
To contribute to Homebrew we will need to follow the instructions at https://github.com/Homebrew/homebrew-core/blob/master/CONTRIBUTING.md#add-a-new-formula-for-foo-version-234-from-url .  This means getting a PR approved for https://github.com/Homebrew/homebrew-core .

[2018-12-17 17:10] #8018 closed

[2018-12-17 17:39] lubinson commented on #10520
@esnible

Sorry, I have checked it is duplicated.
I used helm to install istio which the default mtls is disabled.  My istio version is 1.0.0.
And I want to double verify it, do you know where to check mtls on running istio?

Below is the `<scrape_config>`, I think it is the default setting, we just change the interval to 10s.
[code]

[2018-12-17 18:33] kyessenov commented on #10513
Workload information is populated from `source.uid` and `destination.uid` using Kubernetes adapter. Can you make sure `kubernetesenv` adapter is operating correctly? Can you provide istio-telemetry pod logs?

[2018-12-17 18:48] costinm commented on #8477
@costinm @duderino

[2018-12-17 19:09] andraxylia commented on #8478
cc @qfel

[2018-12-17 19:10] andraxylia commented on #8469
Latest agreement is ServiceEntries are namespaced, there is no cluster scope ServiceEntry.

[2018-12-17 19:18] #10521 closed

[2018-12-17 19:22] incfly opened #10524 "go test -v ./tests/integration2/examples/pilot does not work"
**Describe the bug**
`go test -v ./tests/integration2/examples/pilot` does not work

2018-12-17T19:22:19.597334Z     info    CI      Test Framework runtime settings:
Environment: native
TestID:      pilot_test
RunID:       pilot-test-b9cc580e350b49afbb0e
NoCleanup:   false
WorkDir:     /tmp/pilot-test-b9cc580e350b49afbb0e

=== RUN   TestHTTP
2018-12-17T19:22:23.931363Z     info    Awaiting for con

[2018-12-17 19:22] murarisumit commented on #10484
@linsun can I try it out, I recently made brew packages for https://github.com/StackExchange/dnscontrol.

[2018-12-17 19:24] incfly commented on #10524
@ozevren @nmittler  @hklai

I need to look into what changes cause that failure. But if you have something in mind already, that'll be great.

[2018-12-17 19:24] incfly commented on #10524
Blocking writing test for  #6384

[2018-12-17 19:25] mbanikazemi commented on #10519
I think the rbacEnabled option has no effect in the installation. It is not listed under available options for installation here: https://istio.io/docs/reference/config/installation-options/.
I believe it was introduced by the  #4738 (assorted fixes in pilot e2e tests) PR to enable/disable the rbac testing.

However, the option is listed here: https://github.com/istio/istio/blob/master/install/kub

[2018-12-17 19:30] esnible commented on #10500
I installed Istio 1.0.4 and also release-1.1-20181217-09-15.
I deployed _samples/httpbin/httpbin.yaml_ and an Ingress.  I saw output similar to yours, with one public IP shown for the Ingress and a different IP shown for the IngressGateway service.  The IP shown for the Ingress was the public IP of my Node, not the Ingress service, for both Istio 1.0.4 and pre-1.1.

The Ingress I tested with is:

[2018-12-17 19:37] linsun commented on #10484
Awesome, thanks @murarisumit pls keep us posted.

[2018-12-17 19:46] douglas-reid commented on #10523
I believe we removed the `statsd-to-prometheus` bridge altogether from the release. So, this is an intentional change. It was problematic in approach, especially re: HPA for Pilot & Mixer. Instead, the prometheus config was updated to pull from Envoys directly, eliminating the need for `statsd-to-prometheus`.

This probably means the multi-cluster docs should be updated.

Closing as WAI.

[2018-12-17 19:46] #10523 closed

[2018-12-17 19:50] douglas-reid commented on #10520
Can you try updating your Prom config to the most recent Istio Prom config: https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/subcharts/prometheus/templates/configmap.yaml ?  That includes configuration for both mTLS and without. You will need to restart Prom after updating the config if mTLS is enabled.

[2018-12-17 19:52] douglas-reid commented on #10513
I think the issue may be with `v1.7.10`. I'm not sure that the `kubernetesenv` adapter supports that version.

[2018-12-17 19:54] thesandlord commented on #10397
@bianpengyuan  No, I'm using the default Istio setup

[2018-12-17 19:55] douglas-reid commented on #10487
Did the issue here end up being that we needed to reboot prometheus, as the certs weren't ready at startup time and prom never rechecks?  @mandarjog @bianpengyuan

[2018-12-17 20:02] chainat commented on #7640
I was testing kubernetes supplied by docker-for-mac with istio 1.0.5 where encountered the exact same problem. I deployed the stack by using a `istio-demo.yaml` file. Took me a while to figure out the routing issue. I found out that the problem is from Gateway resource from that file. It had a wrong pod selector.  The correct one should be `istio: ingressgateway` but the package contains just `ist

[2018-12-17 20:03] douglas-reid commented on #6741
Closing, as this is now a supported install option in `release-1.1` branch: https://github.com/istio/istio/blob/release-1.1/install/kubernetes/helm/subcharts/mixer/templates/config.yaml#L603

[2018-12-17 20:03] #6741 closed

[2018-12-17 20:06] bianpengyuan commented on #10397
I cannot come up a valid theory with what you observed. @incfly @myidpt Any idea what could happen?

[2018-12-17 20:12] sapien99 commented on #4695
does anybody can give me a hint on how to set response headers in an authorization adapter? I would like to send the www-authenticate header together with the 401 when the request is denied

[2018-12-17 20:36] brian-avery commented on #4695
@sapien99 Not sure of the team's feeling on third party libraries or if it's something useful to you, but I extended the following library with support for most of the basic auth algorithms that I could find: https://github.com/brian-avery/go-htpasswd.

As far as returning responses, I think Mixer is just looking for a grpc.UNAUTHENTICATED response and it will look at the results of all of the ada

[2018-12-17 20:40] linsun commented on #10519
Agreed on rename the flag to avoid the confusion.

[2018-12-17 20:50] hklai commented on #10524
the tests under example are not included in presubmit run, as they had been flaky. Might be something else happened.

[2018-12-17 20:55] vadimeisenbergibm commented on #10515
@linsun Sure, will do.

[2018-12-17 21:22] kyessenov commented on #10011
@robertpanzer are you working on this?

[2018-12-17 21:39] mandarjog commented on #10393
I am not sure yet if this is OpenShift specific. We have to investigate this. I have marked it as a p0 for 1.1

[2018-12-17 21:41] robertpanzer commented on #10011
No, I am not working on this right now.
I was thinking about adding this to my other PR that extends the EL, but then decided to not let it grow too big.

[2018-12-17 21:43] bianpengyuan commented on #10397
@thesandlord Could you try to follow the instruction here: https://istio.io/help/ops/traffic-management/proxy-cmd/#deep-dive-into-envoy-configuration, and get listener list and inbound listener config?

[2018-12-17 21:43] diemtvu commented on #10053
@costinm, I assign this issue to you. Please help to reassign to someone in networking team. Thanks.

[2018-12-17 21:49] incfly commented on #10524
@hklai Hmm, I want test that I'm working on will be turned on by default. How can I make it happen?

Is it possible to distinguish the flaky ones and non-flaky ones? Are the flakiness due to the testing environment or specif test cases themselves? `go test -run <testname> -count 100` is this sufficient to reproduce the flakiness?

@nmittler The null is about `PilogArgs.KeepAliveOptions`, which we

[2018-12-17 21:52] bianpengyuan opened #10528 "make sure istio secret is ready before prometheus initialization"
When using prometheus to scrape custom metrics from pod with mtls enabled, it needs istio secret mounted. However the secret might not be ready when prometheus starts and it never retries after initialization phase. When it happens, kubernetes-pod-istio-security scrape job will fail with 'cannot validate certificate for x.x.x.x because it doesn't contain any IP SANs'. Temporary mitigation is to re

[2018-12-17 21:55] costinm commented on #10500
What kind of config are you using for the ingress service ?

The correct behavior is to have the public address ( external LB ) of the Ingress service reflected in the ingress.

Pilot has a controller and config that watches ingress, and updates the Ingress objects with the service ( which is why we can have a single Ingress )

[2018-12-17 21:59] nmittler commented on #10524
sgtm thanks.  Yeah, sounds like something changed that broke this test.

I'm confused ... the trace you showed in the description shows line numbers.

[2018-12-18 01:33] PiotrSikora opened #10533 "Migrate from using bind_to_port=false to filter chains."
Envoy removed support for `bind_to_port` (https://github.com/envoyproxy/envoy/pull/5288), which has been marked as deprecated_v1 since 2017-08-15 (https://github.com/envoyproxy/data-plane-api/commit/86de1f257534b931232629b855a3ddbabda7bdc5), and announced to be removed on 2018-03-15 (https://groups.google.com/forum/#!topic/envoy-announce/Lb1QZcSclGQ), so it was long time coming, but we cannot upgr

[2018-12-18 02:00] likunbyl commented on #10513
The following is the Mixer logs:
[code]

Then the rest of the logs full of things like this:
[code]

[2018-12-18 02:16] wansuiye commented on #10515
Thank you for your reply, the egress instance is all healthy and the new pod can receive them. there is no HA configured for the egress instances. we have many egress config and they are all disabled.

[2018-12-18 02:54] idarvind opened #10535 "Istio multicluster - Not routing to reviews-v3 on secondary cluster"
**Issue**
Deployed bookinfo as described in the guide, traffic not routed to reviews-v3 when deployed in secondary (remote) cluster.

**Version**
Istio Version : 1.0.0
Kubernetes:1.11.3

**Installation procedure**
https://istio.io/docs/setup/kubernetes/multicluster-install/

**Logs Remote Cluster**

[code]
[code]

**Logs Primary Cluster**

[code]

**istioctl proxy-status shows v3 pod listed and SY

[2018-12-18 03:02] esnible commented on #10500
@costinm Neither @mandarjog nor I are running an Ingress service.  On my machine, the code in _pilot/pkg/config/kube/ingress/status.go_:228-284 falls back to the node IP because `mesh.IngressService` is `""`.  I could find nothing that sets ingressService except a test; I will keep looking.

[2018-12-18 03:03] rvennam commented on #10512
This looks like a duplicate of https://github.com/istio/istio/issues/9605

Can you try it on 1.0.5?

[2018-12-18 03:32] andrewshan commented on #10503
@ayj hello, ayj. I have the code for consul registry, if you don't mind, you can assign the issue to me ^_^

[2018-12-18 03:42] morvencao commented on #10511
@morvencao LoadBalancer annotation depends on your cloud provider. Not very clear with AWS.

[2018-12-18 03:45] rvennam commented on #10502
Can you share the steps you used to install Istio? Did you install the CRD's first and then run apply the istio-demo-auth.yaml ?
https://istio.io/docs/setup/kubernetes/quick-start/#installation-steps
Any errors during the two install steps?

[2018-12-18 03:46] morvencao commented on #10488
Since you are calling pods and services in cluster from external VM, you should setup connection from external VM to pods and services.

[2018-12-18 03:57] vadimeisenbergibm opened #10537 "Support active health checking of Envoy"
Is relevant for services outside of Kubernetes, which do not have other health checking mechanisms.

Active health checking in Envoy:
https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/health_checking#per-cluster-member-health-check-config

Proposed implementation: add to DestinationRule active health checking settings. In pilot, build from that configuration the Envoy cluster's healt

[2018-12-18 03:57] vadimeisenbergibm commented on #10537
@rshriram @costinm what do you think? ^

[2018-12-18 04:33] mandarjog commented on #10393
Can you get me a goroutine and heap dump of mixer in this state?

[2018-12-18 05:10] kyessenov opened #10538 "mixer: inconsistent treatment of errors in expressions"
Mixer rules may sometimes evaluate to an error (due to undefined attribute, for example). This leads to the following behavior:
1. if the error happens in a match condition, then the rule is effectively ALLOW
2. if the error happens in an instance field, then the rule is effectively DENY

What is concerning is (1), as a typical policy language would treat an error in a condition as a DENY. For exa

[2018-12-18 06:16] incfly commented on #10062
@mabushey Not sure what you mean by "issues have issues"?

@mabushey @venilnoronha could you try see if the issue still exists with 1.1 snapshot release? https://github.com/istio/istio/releases

I''m working on adding an e2e test for `permissive` mode to make sure app is able to terminate tls traffic by itself.

[2018-12-18 07:00] li1191863273 opened #10540 "Adding monitoring properties results in the inability to obtain telemetry data"
Describe the bug

I want to collect the request path in Mixer, so I added the following attribute in the dimensions named requirementsduration

destination_request_url_path: request.url_path | "unknown"

Add destination_request_url_path to the prometheus named handler

The monitoring data of duration cannot be obtained in grafana. Can not get the above changes can be obtained

The configuration fi

[2018-12-18 07:15] iandyh opened #10541 "Configuration validation for traffic routing"
**Describe the feature request**
Validation for service mesh/gateway configurations. For example, when traffic shifting is enabled, if a version of an app is being used by traffic shifting, deleting the deployment should be disallowed. On the other hand, if the traffic routing(virtual services, destination rules) is applying traffic to non-existent application, it should also be rejected.

**Descr

[2018-12-18 07:15] bianpengyuan commented on #10540
request.url_path is not available in 1.0.x release. It will be available in 1.1 release. If you check mixer log, you should be able to see statement like "unknown attributes: request.url_path".

[2018-12-18 07:18] li1191863273 commented on #10540
very Thanks， would you like tell me how to  check mixer log, and, If I want to monitor the request URL, the 1.0.3 version is not a way

[2018-12-18 07:33] bianpengyuan commented on #10540
With istio-telemetry pod id you can use `kubectl logs -n istio-system -c mixer telemetry-pod-id` to check mixer's log.

Const string value needs to be quoted with ' '. So instead of "unknown", it should be '"unknown"'.

[2018-12-18 07:43] li1191863273 commented on #10540
very nice for you, I use kubectl get  metric requestduration -n istio-system, It all use  XXX | "unknown",
Use constants directly to add '

[2018-12-18 07:46] ahmadsayed opened #10543 "Customized Error response in case of origin authentication failure"
**Describe the feature request**
Using istio rbac, when the token is not valid, Istio proxy returns HTTP status 401 Unauthorized, in the body it returns **Origin authentication failed** in plain/text, but in some cases we need a customized message that is aligned with the API specification we provide to the our API client, ideally http status 401 and body in JSON format, similar to other response

[2018-12-18 07:57] zhu0516123 commented on #10393
@mandarjog
I can not get into the mixer container, so I can only give you mixer memory and metric info in mixer controlz web page. There are some goroutine and heap info in it. And what I find in controlz is that there are thousands of config IDs in many metrics. This must not be normal.
![memory](https://user-images.githubusercontent.com/20107856/50139514-efc16380-02dc-11e9-8448-07023e64e2f8.jpg)

[2018-12-18 07:58] meteatamel opened #10544 "Application metrics are not scraped when mTLS is enabled"
**Describe the bug**
When mTLS is enabled, application/custom metrics from my pods are not scraped by Istio Prometheus. Instead I get a certificate issue, see screenshot. Restarting Prometheus pod is the workaround.

**Expected behavior**
Application/custom metrics should be scraped with or without mTLS enabled.

**Steps to reproduce the bug**
Enable mTLS, send custom metrics from a pod and check

[2018-12-18 08:02] dreadbird commented on #10485
Tks for u reply.
I thought the rules with uri `prefix: /` is "catch-all" rules whether it has overlapping conditions or not. and as the document says `the All such “catch-all” rules will be moved to the end of the list in the merged configuration`.
We have 50+ microservices, all the rules in one virtualservice will be over 1000+ lines. So this feature is very useful.
I think there is a solution th

[2018-12-18 08:04] bianpengyuan commented on #10544
Root cause is that secret volume is not ready when prom starts and prom does not retry after initialization. Fix is tracked in #10528. @meteatamel Are you ok to close this one as a dup?

[2018-12-18 08:06] meteatamel commented on #10544
Sure, thanks!

[2018-12-18 08:12] sapien99 commented on #4695
Hey @brian-avery,
already using your awesome lib for the "standalone" variant we run as an ext-auth EnvoyFilter ;-) For me it makes sense to use it also there. The only thing i have to discover is if its possible to use go-htpasswd also on a list of strings instead of a file (i get the stringlist from the adapter-config, in the standalone variant i use k8s-secrets which works perfect with your lib

[2018-12-18 08:12] #10544 closed

[2018-12-18 08:12] sendilkumarn opened #10545 "Setting up Active-Hotstandby loadbalancing"
**Describe the feature request**

A way to handle (load balance?) Active-Passive or Active-hot standby configuration

**Describe alternatives you've considered**

With `precedence` in `RouteRule`, it may be easier to achieve by giving higher precedence to active pod and lower ones for standby (while it is not foolproof and I am not 100% sure about this setup).

Since `RouteRule` was removed in the

[2018-12-18 08:51] vadimeisenbergibm commented on #10515
@wansuiye You are accessing an external service by HTTP, thru an egress gateway, correct?
Could you please configure egress gateway according to https://istio.io/docs/examples/advanced-egress/egress-gateway/#define-an-egress-gateway-and-direct-http-traffic-through-it and see if it works? Alternatively, can you publish your existing egress configuration?

Additional diagnosing steps, if you can pub

[2018-12-18 09:44] shahaf600 commented on #5032
hi @nmnellis , i'm having the same issue and I see you managed to fix it.
I'm using helm to deploy it. but can't find anything on this job. can you explain what this job is a bit ?

[2018-12-18 09:48] SpruceWang commented on #4941
I am running into the same issue with kubeadm & centos7. Then I rewrite the book-review service into spring boot, hope it can help. https://github.com/SpruceWang/istio-book-info

[2018-12-18 09:48] piotrmsc opened #10547 "Problem with JWT token authentication in the pilot & envoy"
**Describe the bug**
When you use `End User Authentication Policy` to secure a service pilot is refreshing **JWKS** cache each hour. Once an IDP rotates new keys and you fetch a new token signed with a new key, envoy rejects it due to lack of JWKS configuration. Request results in 401 with **KID_ALG_UNMATCH** error in the envoy logs.

Looking at the implementation of the filter (https://github.com

[2018-12-18 10:30] ekoome commented on #1430
+1 RTP media & SIP proxing

[2018-12-18 10:42] li1191863273 commented on #10540
hi, I use this

	destination_service_namespace: destination.service.namespace | "unknown"
	or
	destination_service_namespace: destination.service.namespace | '"unknown"'

An error occurred

	failed to evaluate expression for field 'Dimensions[destination_request_url_path]'; failed to parse expression 'request.path | '"unknown"'': unable to parse expression 'request.path | '"unknown"'': 1:16: illeg

[2018-12-18 10:54] li1191863273 commented on #10540
in this document https://istio.io/docs/reference/config/policy-and-telemetry/attribute-vocabulary/

[2018-12-18 11:13] PhilipGough commented on #10294
Closing in favour of referenced issue

[2018-12-18 11:13] #10294 closed

[2018-12-18 11:14] wansuiye commented on #10515
@vadimeisenbergibm hi, we are  accessing services by HTTP/TCP directly, not using a egress gateway.
today i found something strange:
The old pod that report error cannot connect to pilot today, so command "istioctl proxy-status pod" only show the new pod. they can connect to pilot yesterday...

And the new pod cannot connect to the new egress that i create today for test， although they can sync th

[2018-12-18 11:17] li1191863273 commented on #10540
OK , work. use destination_request_url_path: request.url_path | "unknown",
and config Add destination_request_url_path to the prometheus named handler

[2018-12-18 11:18] li1191863273 commented on #10540
this issue can be closed, very thanks

[2018-12-18 11:47] dozer47528 opened #10548 "Bookinfo with virtualservice subset not work"
**Describe the bug**
I followed the Traffic Shifting task in istio docs, it works in my local cluster, but not works in my AWS cluster (Created by kops).

**Expected behavior**
After applying `samples/bookinfo/networking/virtual-service-all-v1.yaml`, the `productpage` should only render V1 reviews

**Steps to reproduce the bug**
[code]
Nothing happened, I can see other versions of reviews with bla

[2018-12-18 13:10] yangminzhu commented on #8477
@mandarjog Do we need some high level CPU cost data from Prometheus or do we need something like the flame graph collected from the sidecar? Also could you take a look at https://github.com/istio/tools/pull/33?

[2018-12-18 13:21] esnible commented on #10500
In Istio 1.1, when I generate yaml using `helm template install/kubernetes/helm/istio`, and only supply `--set ingress.enabled=true` the generated cm/istio _mesh_ config file includes `ingressService: istio-`.  I needed `--set ingress.enabled=true --set global.k8sIngressSelector=ingressgateway` to get a correct Ingress service into the mesh config.

In Istio 1.0.4 if I use `--set ingress.enabled=t

[2018-12-18 15:16] frankbu commented on #10485
Yes, the rule with ONLY `prefix: /` as match is a "catch-all", so it will go to the end. The problem is that one of your rules has two conditions in the match, `prefix: /` AND `header: ...`, so that one is NOT a catch-all. Catch-all means that it applies to ALL requests, which the header condition obviously prevents.

More intelligent merge ordering is a possible future enhancement that has been d

[2018-12-18 15:23] linsun commented on #10541
I suggest we need a flag to enable this type of validation.  While this can be useful in production, in dev environment, it is intended to bring deployment or traffic routing up and down without matching resources.   I think having a cli tool (or even build a dry run into istioctl) is a good start.

[2018-12-18 15:52] linsun opened #10552 "Update bookinfo sample images"
per discussion #10527

[2018-12-18 15:56] linsun commented on #10552
@frankbu can you confirm users are using the same sample version for 1.0.x and 1.1?  it looks so to me from yaml file.

[2018-12-18 16:07] costinm opened #10555 "'nodeagent' name confusing"
The nodeagent template is badly named - we have another node agent implementing CNI, and there is no indication this is a citadel or security component.

Please rename to 'sds-agent' or simply 'isitio-sds', since that's what it does.

We need this before we launch 1.1, since after it's far harder to rename.

[2018-12-18 16:08] costinm opened #10556 "If SDS agent is enabled, we should stop mounting secrets."
Templates with sds enabled still mount citadel secrets.

[2018-12-18 16:09] linsun commented on #10548
it does seem only v1 is referred in routes.txt.  Did you wait up to 30 secs to try again to ensure all config have been pushed to sidecar then access bookinfo?

[2018-12-18 16:12] #10540 closed

[2018-12-18 16:18] linsun commented on #10502
The error means CRD is missing.  Pls ensure it is cleaned properly then reinstall it.

[2018-12-18 18:08] konokimo commented on #9157
Having the same issue. When the sidecar is injected successfully into my pod, the pod is unable to reach my Cassandra DB Instance.

[2018-12-18 18:13] incfly opened #10557 "Potential cni e2e-simple breakage due to app http probe rewrite"
https://github.com/istio/istio/pull/10344

@tiswanso

[2018-12-18 18:16] tiswanso commented on #10557
I think pilot/pkg/kube/inject/app_probe.go L51-53 is what changed the default behavior--at least compared to master. I'm not familiar with what was happening for the liveness probes prior to the existence of app_probe.go.

[2018-12-18 18:17] rayepudi commented on #10441
can we monitor the health checks and failover for the external service

[2018-12-18 18:18] incfly commented on #10557
`RewriteAppHTTPProbe` should be default to false right? We only change probe when it's true.

How to reproduce the failure you mentioned?

[2018-12-18 18:33] incfly commented on #10557
@tiswanso mentioned the delta is about release-1.1 vs master. Not the delta before and after this feature.

Also it's e2e failed when the feature is turned off, which is really weird since we shouldn't depend on this feature to be on to have existing test pass. We need to understand that part.

[2018-12-18 18:48] linsun commented on #10552
https://github.com/istio/istio/pull/9642

[2018-12-18 18:49] linsun commented on #10552
would also require change in the yaml to use the newer image.

[2018-12-18 18:51] tiswanso commented on #10557
The issue with e2e-simple is seen when run with sidecar-injector e.g:

[code]
I see the issue on baremetal and on CircleCI with kubeadm-dind-clusters, even without Istio CNI enabled.  The e2e-simple passes if run like this:

[code]

The failures seen is due to a service crashlooping due to the liveness probe failure.

- nginx-default-http-backend service is created by the e2e-simple test but the d

[2018-12-18 18:59] sapien99 commented on #4695
@brian-avery Stupid me, found the Accept* functions :-)

[2018-12-18 19:04] ozevren commented on #10253
Fix is in checkin queue.

[2018-12-18 19:06] #10342 closed

[2018-12-18 19:08] mandarjog commented on #9928
related to #10393

[2018-12-18 19:11] linsun commented on #10519
@mbanikazemi can you submit a PR for this pls?

[2018-12-18 19:11] incfly commented on #10557
Okay, now I understand. Let me try to summarize a bit.

1. I implemented the http probe rewrite to support mtls case, only for `istioctl kube-inject`.
1. Some auth tests start to depend on that. nginx container probing can work for auth enabled test.
1. I add a helm flag to not turn on this behavior by default.
1. The test depending on this feature starts to fail.

If so, given we don't want to tu

[2018-12-18 19:13] munrodg commented on #10041
@vadimeisenbergibm Please confirm this is required for 1.1.

[2018-12-18 19:15] wattli commented on #10555
@quanjielin , can we rename it to citadel-agent please? Thanks.

[2018-12-18 19:15] incfly commented on #10557
The option is to enable this feature on for auth related test. However, I prefer to simplify things and turn it off everywhere before we have e2e test for this feature.

[2018-12-18 19:15] fbcbarbosa commented on #7787
We have the same issue at production with Istio 1.0.2; we have two services, a worker and a api, and we have them call a third service (let's call it service C).

C's virtual service has some routing rules like this:

[code]

We noted that only `my-app-api` matches the rules, while `my-app-worker` does not _until_ we created a bogus service for our worker. Then it started to work.

We'll roll with

[2018-12-18 19:16] linsun commented on #10041
@vadimeisenbergibm didn't you already have a solution for 1.1 as part of your POC to use nginx as a sidecar to egress?

is that something supported officially via istio.io?

[2018-12-18 19:18] duderino commented on #6384
@PiotrSikora @incfly which one of you is working on this?

[2018-12-18 19:19] mandarjog commented on #10393
You can get thread dump as follows
[code]

[2018-12-18 19:20] duderino commented on #10515
@vadimeisenbergibm please assign a priority to this

[2018-12-18 19:27] #9596 closed, assigned to kyessenov

[2018-12-18 19:29] kyessenov opened #10560 "Re-enable L2 cache in Mixer"
Requires a better form of testing than existing unit tests.
Fuzzing over expressions or exhaustive search could help.

[2018-12-18 19:30] #10253 closed

[2018-12-18 19:33] wattli commented on #10555
Will the new agent called cni-agent?

[2018-12-18 19:33] frankbu commented on #10552
Need to do the following:
1. Rebuild bookinfo sample images
2. Version tag new images as 1.10.0
3. Push images to dockerhub
4. Update all of the yaml files to use the new version (s/1.9.0/1.10.0)

[2018-12-18 19:40] incfly commented on #10557
I think I figured it out.

1. probe rewrite was checked in as #9266
1. istio/cni repo run e2e_simple with auth enabled, https://github.com/istio/cni/pull/62

Should cni run with authn_enabled = false instead? Can we change that?

[2018-12-18 19:56] linsun commented on #10519
can we at least make the desp to be clear that this has nothing to do with the cluster has RBAC enabled or not?  I think everyone agreed this is confusing.  ideally, I'd like to remove it off the global config and not expose to any user.

[2018-12-18 20:58] mandarjog commented on #10258
Thanks @objectiser
We recently started using `jaeger.NewProbabilisticSampler` with `0` random sampling.
My expectation was that this will reduce the load on this call, but that has not happened.
`startSpanWithOptions` calls `t.randomID()` before consulting if a new trace should be originated.
This means that even with `0%` tracing we end up generating all these IDs'

Can you confirm this @objectis

[2018-12-18 21:12] tiswanso commented on #10557
istio/cni could run with  rewriteAppHTTPProbe = true.  But my point is everyone running the e2e-simple with auth enabled needs that setting, regardless of CNI.  Is that the case as well for any mTLS enabled service with liveness probes?

I need to re-review the mTLS config in the system but is the proper fix one of the following:
  1. enable it in the `Makefile` generate_yaml istio-auth.yaml targe

[2018-12-18 21:34] yurishkuro commented on #10258
Sampling and generating trace/span IDs are not coupled in any way. There are many good reasons to have proper IDs even when sampling is off.

[2018-12-18 21:46] igas commented on #10484
I can help here from brew side, I made an attempt before, but we need to build it not in docker using something like `go build`.

[2018-12-18 21:57] incfly commented on #10557
I prefer smallest needed change to get things unblocked. I'll send a PR to change https://github.com/istio/cni/blob/master/.circleci/run_e2e.sh with helm `--set sidecarInjectorWebhook.rewriteAppHTTPProbe=true`.

Once we have an e2e test we turn it on for istio-auth.yaml.

[2018-12-18 22:13] incfly commented on #10557
/cc @costinm

Hold on. We found that e2e-simple tests did run with auth-enabled on prow, and they passed. For example, https://circleci.com/gh/istio/istio/272588?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

So we need to figure out why cni tests have to depend on this while the rest don't have to. Don't they also have the same nginx probe as well? There must

[2018-12-18 22:59] costinm commented on #10053
I don't think anyone in Google networking side has bandwidth for this at
the moment - any Istio engineer should be able to pick this up,
the work is mostly related to installing and getting tcpdumps.

Any volunteers ?

On Mon, Dec 17, 2018 at 1:43 PM Diem Vu <notifications@github.com> wrote:

[2018-12-18 23:05] rvennam commented on #10552
The `build_push_update_images.sh <version>` script does what you outlined @frankbu
https://github.com/istio/istio/tree/release-1.1/samples/bookinfo

[2018-12-18 23:07] diemtvu commented on #10053
Costin, can you give the instruction of what tcpdumps commands and what should be looked at? Thanks.

[2018-12-18 23:18] costinm commented on #10053
First need to find the ports that Casandra is using, and run
'tcpdump -s0 -xX port ... ' with and without istio, on client and server

We need to see what is different between the 2.

On Tue, Dec 18, 2018 at 3:07 PM Diem Vu <notifications@github.com> wrote:

[2018-12-18 23:30] absc6 opened #10564 "Istio Consul : bookinfo.sidecars.yaml file missing"
**bookinfo.sidecars.yaml missing**
file mentioned in the command is not present in github.

`docker-compose -f samples/bookinfo/platform/consul/bookinfo.sidecars.yaml up -d`

Can you please review and update it.
Also, can you please share clarify the following:

1. Creating independent gateway for consul/docker based service
2. Adding side-car for application to integrate with custom application.

[2018-12-18 23:34] absc6 commented on #10429
Thanks @hzxuzhonghu for the information, I am using [doc](https://istio.io/docs/reference/config/istio.networking.v1alpha3/)
However, I was interested, if we had schema-validator for the yaml file to automate/validate configuration before execution.

[2018-12-18 23:36] quanjielin commented on #10283
k8s sa trustworthy jwt now supports pubkey validation now, by appending ```.well-known/openid-configuration``` in jwt.issuer

[2018-12-18 23:49] magic7s commented on #10319
Having the same issue. Works in 1.0.2, broken after that. Tried 1.0.5 today.

[code]

[code]

[2018-12-19 00:07] thesandlord commented on #10397
Ok super strange, I don't see access on Port 9464 through Envoy. How/Why is the prom port being left out of the proxy?

[code]

[code]

And the prom targets
[code]
And here are my K8s and Istio configs
[code]

[2018-12-19 00:24] jonathan-lo opened #10565 "Improve grafana dashboard visibility for low traffic situations"
**Describe the feature request**
Our deployment is fairly low traffic at the moment. This is tricky In terms of monitoring on the grafana dashboards in that there are sparsely populated data points, but they are not contiguous time periods so would not show up on the dashboard without mousing over the data point.

One way this could be solved is to enable the "points" draw mode on the relevant cha

[2018-12-19 00:32] jonathan-lo commented on #10565
As an example:

![image](https://user-images.githubusercontent.com/3763897/50191384-c1499400-0381-11e9-9f60-999e919d0390.png)

[2018-12-19 01:03] zhu0516123 commented on #10486
@jnativio
Our team are also insterested in  the performance of  information delivery from pilot to envoy. How to test can prove that pilot  delivers endpoint updates to 500 sidecars in under 1 second.

[2018-12-19 01:22] esnible commented on #10484
@igas It is easy to build the command line.  Just clone and `make istioctl`.  The tests also get run.  I can help with any questions about how to build or where to get pre-built binaries.

[2018-12-19 01:22] mandarjog commented on #10258
A Lot of tracing machinery is exercised even though the present request is not traced, it involves path length and allocs. What are some other reasons why this work needs to be done when the request is not going to be traced?

[2018-12-19 02:19] dozer47528 commented on #10548
@linsun
I think that was I expected, I applied this file for shifting all the trafic to V1.
`kubectl apply -f samples/bookinfo/networking/virtual-service-all-v1.yaml`

But actually it is no.

[2018-12-19 02:20] VenkateshSrini commented on #10502
Thanks Guys. Let me try it once please. will reply you by EOD IST

[2018-12-19 04:07] dreadbird commented on #10485
I find a pr "VirtualService simple merging of http routes at Gateway"#8113 which commit by @rshriram  can satisfy my needs very well.
The code from https://github.com/rshriram/istio/blob/06a85dea6bab82afb0053b7b2819a597b5d44211/pilot/pkg/networking/core/v1alpha3/route/route.go#L749
[code]
but, I am very confused , is it had been merged to master? @rshriram

[2018-12-19 04:10] VenkateshSrini opened #10568 "unable to access the service via virtual service in Istio 1.0.5"
Hi,
I'm new to istio and I have my the entire code in http://github.com/VenkateshSrini/IstioTest. I have created the service needed for hosting the Kubernetes service (istio-test-deployment.yaml in the repo). I tested it on docker for windows (Kubernetes enabled) and I got the same working correctly. I had exposed my service via port 5000. In docker for windows the external Ip is always localhost.

[2018-12-19 05:11] sweetib commented on #10337
Is this issue fixed already @hzxuzhonghu ? I faced same issue 2 days back

[2018-12-19 05:17] douglas-reid commented on #10258
@yurishkuro just curious: as Mixer operates almost as a meta-service, if we wanted to avoid ID generation when the request is not sampled, would there be harm in somehow modifying the OT middleware we employ to return, essentially, a `noopSpan`-like struct from the `tracer.StartSpan` call in the interceptor ?

[2018-12-19 05:30] magic7s commented on #10535
I'm trying the same thing. If you look at logs from productpage you will see it try and connect to reviews-v3 but get a 503 and keep going. It will LB between v1 and v2 but error 503 on v3. I tried moving reviews-v1 to remote cluster and get the same error.

Tried with 1.0.2 (>1.0.3 is broken for Istio-remote pods)

[2018-12-19 05:32] sdake commented on #5535
A lot of moving pieces and conflated commentary in this issue tracker.  The original issue request (Use an internal load balancer) is no longer a valid approach given the negative security implications of that approach coupled with the advances in 1.1 around gateway customization.

I would encourage folks that feel that something is left in this issue to please open a new issue with the specifics

[2018-12-19 05:32] #5535 closed

[2018-12-19 05:36] sdake commented on #5535
@gdoctor the best documentation I have for the pilot pod restart failure problem is here:

https://docs.google.com/document/d/1c_dLTBTszNeUGXpE9fzPINw7wo6s8bVRHRBeIbjBAtA/edit#heading=h.yefzcqwzncom

I personally feel gateway approach to multicluster is a better approach as it offers HA of each control plane, vs one master control plane, which if failed, does not recalculate the mesh state.  YMMV