[2019-05-03 17:46] mike-holberger commented on #13817
I started a new cluster with 3 [n1-standard-2 (2 vCPU)] nodes and the telemetry pod does schedule.

[2019-05-03 17:52] howardjohn commented on #13799
Sorry I misunderstood the problem, I didn't realize LoadBalancer type is only/usually available on managed Kubernetes environments. You can configure what type of Service is used with `--set gateways.istio-ingressgateway.type=ClusterIP` or `--set gateways.istio-ingressgateway.type=NodePort`

[2019-05-03 17:56] robertpanzer opened #13818 "Make BoringSSL available to Lua FFI"
**Describe the feature request**
We are validating cryptographic signatures within Lua scripts.
Envoy and istio-proxy use BoringSSL as the implementation for TLS and this would provide everything that we would need as well.

Unfortunately we are not able to call the respective functions because the symbols are not exported or stripped from the binary so that Lua is not able to call them.

To get o

[2019-05-03 17:57] kumarsparkz opened #13819 "Envoy filter not allowing headers in Istio?"
I am using Istio 1.0.3 as GKE managed. I am adding an envoy filter to do external authorization as per documentation mentioned in https://istio.io/docs/reference/config/networking/v1alpha3/envoy-filter/
and https://www.envoyproxy.io/docs/envoy/latest/api-v2/config/filter/http/ext_authz/v2/ext_authz.proto#external-authorization

Based on logs, I see that the filter is being applied and the HTTP cal

[2019-05-03 18:15] mabushey commented on #13799
Not sure what the `--set` commands are for. What .yaml file are you referring to? Why would I want to change this? If it works with Kops, lets figure why it doesn't work with any other AWS distro.

This is interesting.. Under Kops the `--domain` and `Readiness` do not exist.
[code]

[2019-05-03 18:19] howardjohn commented on #13799
`--set` are passed to Helm. If you are not using helm then you can modify the `istio-ingressgateway` Service.

The LoadBalancer type creates an AWS ELB (if you are on AWS, when on GKE it would create a Google Cloud Load Balancer), so Typhoon or whatever probably doesn't have support for doing that.

[2019-05-03 18:24] mabushey commented on #13799
I switched from Helm to the Bonzai Operator. I was never a fan of Helm, and the Bonzai Operator is awesome.

I want an AWS ELB. The masters and the workers have a role that gives them `"Action": ["elasticloadbalancing:*"]`.

[2019-05-03 18:32] howardjohn commented on #13799
I am not experienced with running Kubernetes outside of GKE, but my understanding -- If you want an ELB I believe you need to use LoadBalancer type. But Typhoon does not support this (https://github.com/poseidon/typhoon/issues/231#issuecomment-393352849).

I think how you would accomplish this is to manually create a load balancer and point it at your ingress using NodePort as the type. You may fi

[2019-05-03 18:51] howardjohn commented on #13817
The document you linked is the actual usage you would expect for istio-telemetry with 1000 QPS, but NOT the Kubernetes resource requests we set ([details](https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/)).

In the default installation, which it looks like you followed, we request 1000m for telemetry, which is why it is not getting scheduled.

You have a few options:
*

[2019-05-03 19:03] #13817 closed

[2019-05-03 19:23] iftachsc opened #13822 "STALE (Never Acknowledged) comes & ago every few seconds on all parameters on random portions of all pods"
After upgrading from a fully functional 1.0.6 installation, running istioctl proxy-status in endless loop will reveal more than half of the times many:  sidecars which are in

[code]

here just pasting 1 our of like tens of them.
but then every 3-4 times i execute it  they will all be in synced.

we have more or less 400 injected pods. i've went through all incompetability changes from 1.0.6 in th

[2019-05-03 19:27] #9077 closed

[2019-05-03 19:57] mabushey commented on #13799
One issue with creating it myself is I'm using HPA to add more nodes on demand, and if I create the ELB myself via terraform it's not going to have the new HPA nodes in it. Typhoon does not support this, so now I'm trying Kubespray and having the same issue. What's in common is Istio.

[2019-05-03 20:23] howardjohn commented on #13799
I understand the frustration that it isn't working, but Istio may be common, but it is not the root cause. All Istio does is tell Kubernetes to create a LoadBalancer. Typhoon (intentionally) does not support this. Because of uses like this, Istio provides an option to NOT create a LoadBalancer. I am not clear what you actually expect Istio to do here... it cannot create a ELB for you, that is Kube

[2019-05-03 20:27] hercynium commented on #11571
@tbarrella Could you post a diff somewhere showing the changes you made? Are they in `sidecar-injector-configmap.yaml`?

[2019-05-03 20:31] ozevren opened #13823 "prow/release-test.sh is constantly failing."
Making the test non-required. Opening this bug to track.

[2019-05-03 20:38] douglas-reid commented on #7669
@nrjpoddar do you have an easy way to test with some hand-altered config?  It seems, at first glance, to be reasonable -- we'd just have to agree on what values to place in the attributes, etc.

[2019-05-03 21:01] mabushey commented on #13799
@howardjohn You're correct. Thank you very much for isolating this down.

[2019-05-03 21:03] howardjohn commented on #13799
No problem, it definitely isn't the most simple part of Kubernetes

[2019-05-03 21:37] quanjielin opened #13825 "Galley push CRDs(to pilot) when no change happens"
**Bug description**
Galley push CRDs(to pilot) when there is no change, which causes pilot push config to sidecars.

**Expected behavior**
Push only when CRD change happens

**How was Istio installed?**
dev env, latest master branch (pilot was built by addding below logs to [apply func](https://github.com/istio/istio/blob/master/pilot/pkg/config/coredatamodel/controller.go#L120))
[code]

**Environ

[2019-05-03 21:48] ozevren commented on #8487
Mixer seems to be changing drastically very soon. Does this issue still makes sense in that context?

[2019-05-03 22:16] douglas-reid commented on #10134
After some discussion, we decided that it did not make sense to add full Prometheus Operator install via the Istio installer.

However, we did want to provide a mechanism for generating the ServiceMonitor CRs, etc., that could be used by an existing Prometheus Operator install.  To that end, an initial PR with that functionality (alpha-level support at this time) has been added to the new installe

[2019-05-03 22:16] #10134 closed

[2019-05-03 22:16] kyessenov commented on #8487
Mixer runtime is changing but the config model has not been resolved. So I think it's still important to decide where the config overloading/overriding happens.

[2019-05-03 22:22] douglas-reid commented on #7528
With the introduction of support for the prom operator in the new istio/installer, I believe we now have a path for external prometheus support. As such, I'm going to close this issue. Any issues with the prom operator-based approach should be raised against the installer repo.

Please re-open this issue if you think there is more that should be done here.

[2019-05-03 22:22] #7528 closed

[2019-05-03 22:36] crazyxy commented on #12752
There is a race condition between `terminate()` and code apply configuration changes. Add a 10ms delay after sending configuration change message.

[2019-05-03 23:19] gargnupur commented on #12750
The one's that fail before 03-02 are fixed by @howardjohn fix: https://github.com/istio/istio/commit/81ab4c79e72b938e0b83aa2e5eb62dfcfb2f4ff8.

TestCheck_Deny and TestMixerReport_Direct can be flaky at times, because I think we are not waiting for rules to sink. Will add retries so as to reduce the flakes.

[2019-05-04 00:43] nitishm commented on #12132
@JimmyCYJ did you ever get a chance to try this ? I gave it go and I don't see the <credential name>-cacert lot message in the ingress-sds logs, which leads to mTLS failures for me. Wondering if anyone knows a work around to make mTLS work with cert-manager.

[2019-05-04 00:55] sbezverk commented on #13129
Good news, with merge of https://github.com/istio/istio/pull/13117 istio started fully supporting ipv6!!

[code]

[2019-05-04 05:33] JimmyCYJ commented on #12132
There is a user guide for ingress-sds + cert-manager at https://istio.io/docs/examples/advanced-gateways/ingress-certmgr/

There is a blog about using cert-manager with ingress gateway. SDS is not enabled in that case, but the guide is also helpful. https://istio.io/blog/2019/custom-ingress-gateway/

[2019-05-04 07:14] #10457 closed

[2019-05-04 08:17] baifan commented on #6085
Similar behaviour with 1.1.4.
[code]

[2019-05-04 08:31] ismailbaskin commented on #9504
I've just figured out this issue occurs when there is no service pointing to one of pod's containerPorts.

istio : 1.1.5
k8s : v1.12.7-gke.10

[2019-05-04 13:10] #8218 closed

[2019-05-04 13:48] tushar00jain opened #13832 "Certificate Rotation"
For mTLS is there any documentation on the validity of the certificates? How long are the certificates valid for and are they rotated automatically or not? Is the root CA also rotated automatically upon expiration? Is there a way to rotate the private keys? Can we trigger the rotation manually?

[2019-05-04 15:55] cleverguy25 commented on #9504
Right, I think that was mentioned earlier in the issue.
________________________________
From: ismail BASKIN <notifications@github.com>
Sent: Saturday, May 4, 2019 1:32:34 AM
To: istio/istio
Cc: Cleve Littlefield; Mention
Subject: Re: [istio/istio] Istio-proxy fails to start with Istio 1.1 (#9504)

I've just figured out this issue occurs when there is no service pointing to one of pod's containerP

[2019-05-04 16:17] ljdev92 commented on #13762
@mikebryant It doesn't seem to recover at all, once the replica set controller fails to call the sidecar injector it gives up trying.

We've tried running multiple sidecar-injector pods using anti-affinity rules to make sure they're on separate nodes but the problem still occurs. We've switched to manual injection as a temporary solution but automatic injection would be preferable.

[2019-05-04 18:37] #10719 closed

[2019-05-05 07:39] mailzyok commented on #9504
I list three scenarios (reproducible) below for readiness probe failure of sidecar.
1. No service deployed for a deployment
2. Service deployed, however, the service doesn't expose port for any containerport defined in Pod
3. The label defined in Pod template and service doesn't match, https://github.com/istio/istio/issues/11979

Please add if there are other scenarios. Thanks.

FYI. Troubleshooti

[2019-05-05 10:18] edussx opened #13836 "Generate Istio certs on demand"
**Describe the feature request**
Currently Citadel generates certs for each ServiceAccount in each Namespace upon installation. However, this brings 2 problems in our use cases:

1. Since we didn't enable side car auto injection in all the namespaces, some users were confused with `istio.default` secret in their own namespaces. And they also complained that Istio cert secrets ate up secret resourc

[2019-05-05 13:42] mailzyok commented on #13129
@sbezverk Thanks for your contribution. If i understand correctly, Istio now supports IPv4 only or IPv6 only network, the dual stack is not supported, right?

[2019-05-05 13:55] sbezverk commented on #13129
@mailzyok yep, that is right, k8s still does not support dual stack.

[2019-05-05 14:18] nmittler opened #13837 "[Testing] Merge retry utilities"
We currently have (at least) 2 versions of retry utilities:

- https://github.com/istio/istio/blob/master/tests/util/retry.go
- https://github.com/istio/istio/blob/master/pkg/test/util/retry/retry.go

We should either get rid of one or merge the two.  The one retry library should live under https://github.com/istio/istio/blob/master/pkg/test/util/retry

[2019-05-05 15:25] dkrieger commented on #11362
Unstale

[2019-05-05 18:11] Lysholm commented on #12602
The default helm installs are set up with 1 replica and a PDB for several deployments / HPAs. This seems like a case of a bad default config. PDBs are a feature for HA deployments, and HA deployments imply 2+ replicas.

The reason this is bad is that it breaks `kubectl drain`. In itself not good but automatic node-pool upgrades may also fail or take unacceptably long to apply. Node-pools will auto

[2019-05-05 19:10] gotwarlost commented on #13423
reproducible test case in this gist: https://gist.github.com/gotwarlost/77cb404653acadc190c2e318085cc11b

The error message from the pilot logs is also pasted.

Thanks!

[2019-05-05 19:15] wxdao commented on #13364
I reproduced this with a new cluster(GKE, v1.12.7-gke.10) with fresh install of **Istio 1.1.5**.

The event of istio-ingressgateway pod:
[code]

I installed istio with this values file:
[code]

[2019-05-05 19:42] JimmyCYJ commented on #13364
I think you are trying to enable ingress sds and workload sds, which are controlled by different helm flag.
The error you hit is workload sds, because /var/run/sds/uds_path is used by workload sidecar, not ingress gateway.
Ingress gateway UDS is defined here https://github.com/istio/istio/blob/953036e7c5b146b7220f4f3a7eafc447e914d28e/install/kubernetes/helm/istio/charts/gateways/templates/deployme

[2019-05-05 20:30] gotwarlost opened #13839 "Pilot fails to set up inbound listener when service has 2 ports forwarded to the same container port"
**Bug description**

This bug is similar to https://github.com/istio/istio/issues/13423 but qualitatively different.

Given:
* a pod with one container port
* a single service defined with two ports mapping to the same container port

The pod does not start because the sidecar does not pass its readiness check with the message:

[code]
**Expected behavior**

A single inbound listener is correctly

[2019-05-06 01:31] supereagle commented on #12294
@esnible  Will #13182 be cherry-picked into release-1.1 branch?

[2019-05-06 01:36] FrostyLeaf commented on #8270
In my case, it happens every 27 ~ 32 minutes:

[code]

I have a traffic policy in my `DestinationRule` object:

[code]

Besides, it interrupts grpc calls.

[2019-05-06 01:44] FrostyLeaf commented on #8270
[code]

[2019-05-06 01:50] FrostyLeaf commented on #8270
Http Request --> Kong --> Grpc client in K8S --> Grpc server in the same K8S cluster

[2019-05-06 02:22] pc-rshetty opened #13840 "Rolling upgrade breaks sidecar-injector webhook on EKS (failed calling admission webhook "sidecar-injector.istio.io": context deadline exceeded)"
**Bug description**
Rolling upgrade of the worker nodes results in brief outage of application pods. There is no documentation which specifies how the HA for istio. which pods need HA etc. We kept Ingress gateway, egress gateway and sidecar with 2 minimum replica set. Do we need pilot to be HA ?
Why does the application pods dis appear when a upgrade of worker node happens ?

**Expected behavior**

[2019-05-06 05:25] wxdao commented on #13364
@JimmyCYJ Thank you! It works now.

[2019-05-06 06:50] dotw commented on #10062
Hi @incfly , I got connection failure from istio 1.1.4 & 1.1.5 without the default mesh policy, but it works in 1.1.2.

[code]
This costs me several hours to investigate the cause, and suddenly it works when I rename the port name for mysql-33061 to tcp.
[code]
Do we have any changes from 1.1.2 on this part?

[2019-05-06 08:46] Disturbing commented on #4695
How's it going so far?

[2019-05-06 09:27] clyang82 opened #13842 "Make istio-proxy-init and istio-proxyv2 as global image"
**Bug description**
The default generated lookup cluster1.icp.intra.szh.loc:8500/ibmcom/istio-proxy_init-ppc64le:1.0.2.1 there is the error unauthorized: authentication required.
We have provided a document to ask for the user to create the imagepullsecret manually - https://www.ibm.com/support/knowledgecenter/SSBS6K_3.1.2/manage_cluster/istio.html#deploy_app
But it is not user friendly.
**Expecte

[2019-05-06 09:27] #13842 closed

[2019-05-06 09:28] clyang82 commented on #13842
Sorry. Open in wrong area.

[2019-05-06 09:45] Stono commented on #9113
Hello,
I'm seeing some of these now as well.  I've idleTimeout set to 30seconds.  My services were healthy at all times, no errors or failing health checks.

<img width="1680" alt="Screenshot 2019-05-06 at 10 41 56" src="https://user-images.githubusercontent.com/1486729/57217965-fa5e6a00-6feb-11e9-8285-d1fcbba14e39.png">

[2019-05-06 10:16] Stono commented on #9113
I actually think it's this: https://github.com/istio/istio/issues/9906#issuecomment-465739430

As a result I'm updating my destinationrules to be:

[code]

[2019-05-06 11:06] sterchelen commented on #13204
@fleeto How did you mount the socket ?

[2019-05-06 11:42] dotLou commented on #10832
I don't think this should get marked as stale - this is a pretty important use case.

[2019-05-06 11:43] Stono commented on #13679
[code]

we see this pretty consistently with every app rollout

[2019-05-06 12:18] sbezverk commented on #13679
@Stono It looks like either a bug in https://github.com/istio/istio/blob/master/pilot/pkg/serviceregistry/kube/controller.go#L782 or a race condition because in the output of endpoint you provided you can see pods referenced by this endpoint. Would you be ok to run a debug image, where we would timestamp a pod add to the pod cache event and  UpdateEDS call?

[2019-05-06 12:35] Stono commented on #13679
I mean i could, but wouldn't it make more sense for a developer to just recreate it?
It happens absolutely consistently.

[2019-05-06 12:38] sbezverk commented on #13679
I think when large number of pods are created, there is a delay for them to get into the pod cache, endpoints update could happen concurrently and as a result this condition could be hit. Maybe adding exponential backoff on this condition could be a solution..

[2019-05-06 12:48] Stono commented on #13679
I honestly do not think it is anything to do with number of pods.
This **only** happens for workloads which have to discrete services targeting the same pod on a different containerPort.

All other services that do not fit this model, are fine.

[2019-05-06 12:50] Stolr commented on #7607
@dpeper  Having the same issue :/

The X forwarder for ip contains the ip of the node where the istio gateway pods runs. I am on bare metal cluster.

How did you recompile pilot ? Can you give me a procedure for this ?

Regards

[2019-05-06 12:53] sbezverk commented on #13679
Can you share deployment yaml? I can try it in my test bed, if it is reproduced, great, we will fix it..

[2019-05-06 12:59] Stono commented on #13679
Sure

app:
[code]

admin:
[code]

The make sure you've got a `some-pod` deployment with:
[code]

[2019-05-06 13:09] Stono commented on #13679
OK I've narrowed this down even further now.

I've realised that it's only happening following a control plane upgrade it seems (not just a restart of the control plane, an actual patch update).

For context, when we roll out a patch version of istio we do the control plane first, and then programatically restart all the deployments to pick up the new side cars version.

It's during that restart t

[2019-05-06 13:13] esnible commented on #12294
@andraxylia @rshriram This problem seems to cause a lot of difficulties.  Do we have a plan for Istio 1.1 users?

[2019-05-06 13:20] Stono commented on #13679
Right, I think I've got it.

On a 1.1.5 control plane, have a deployment with this annotation:

`sidecar.istio.io/proxyImage: "docker.io/istio/proxyv2:1.1.4"`

Then "upgrade" its sidecar, by removing the annotation, and you'll see the message in pilot.

[2019-05-06 13:27] Stono commented on #13679
@sbezverk : https://asciinema.org/a/UQcuMYwHvO8AylY0yK53g1xPz

[2019-05-06 13:56] nmittler commented on #11882
Let's get #13824 in ... I suspect this may resolve the issue.

[2019-05-06 14:00] nmittler commented on #13810
@ozevren This is just the NoSidecar test that we already knew was flaking on Kube. I thought you submitted a PR to skip this test, no?

[2019-05-06 14:13] nmittler commented on #13485
The Pilot-side work to process synthetic SeviceEntry is ongoing (see #12276). Once implemented, Pilot will be able to handle endpoint updates for the service.  As @sdake suggested, this is all using the MCP protocol, so you'd have to publish these events via an MCP collection.

cc @Nino-K @costinm

[2019-05-06 14:37] anthonyhaussman commented on #6314
Thanks @cgilmour.
Seems to work fine now. :)

[2019-05-06 14:39] rphillipsz commented on #13819
I'm struggling with the same thing.  I was able to get the lua filter working, but I'm not seeing any request headers with ext_authz.  I do get a request, I just can't get any of the request headers in the auth call.

[2019-05-06 15:01] amardomingo commented on #13200
Hi!
Any updates on this? We are getting some problems with istio and redis as well.

Thank you!

[2019-05-06 15:01] trevorlinton commented on #13589
Sadly I removed our test cluster after I dumped the first configuration, I can give you instructions in Istio as to how to re-create it.

[2019-05-06 15:06] howardjohn commented on #13840
I assume your applications have minimums, such that they were always present during the upgrade? If not, that could be the issue.

If pilot is down, then existing applications will function correctly, they will just become increasingly stale as they will not get updates when other pods are created/deleted. This *could* be related, but the pods that are created should never be marked as ready until

[2019-05-06 15:11] howardjohn commented on #13200
@amardomingo what problems? My understanding is redis should work fine (and we have tests for this), you just won't be able to utilize Envoy specific Redis features.

@venilnoronha should we look into turning Redis filter back on?

[2019-05-06 15:14] howardjohn opened #13845 "TestWhiteListing consistent failures"
https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests

It seems to fail every time.

[2019-05-06 15:23] maflaven commented on #7659
@vadimeisenbergibm I'm also running through the [external services example w/ TLS origination](https://istio.io/docs/examples/advanced-gateways/egress-tls-origination/), and I'm running into a different issue where external services that share the same subdomain conflict with each other's `DestinationRule`s. In kiali I get a warning "More than one DestinationRules for the same subset host combinat

[2019-05-06 15:25] #10606 closed

[2019-05-06 15:33] pilhuhn commented on #7659
@maflaven I have the impression your VS setup may be incorrect. You have a http.match section, but no fallback in case there is no match.

What exact error do you get on which DR within Kiali?

[2019-05-06 15:42] maflaven commented on #7659
`spec.host` is highlighted with "More than one DestinationRules for the same subset host combination" for both DRs in Kiali. Those are the only warnings I see. Those templates are derived from examples in [this doc](https://istio.io/docs/examples/advanced-gateways/egress-tls-origination/#tls-origination-for-egress-traffic).

[2019-05-06 15:53] howardjohn commented on #13823
The release-test failure is probably indicative of a real problem. Looks like the 5/4 daily build wasn't created (not sure why/where to see the failure reason though) https://gcsweb.istio.io/gcs/istio-prerelease/daily-build/

[2019-05-06 15:54] #11514 closed

[2019-05-06 15:58] pilhuhn commented on #7659
@maflaven If you go in Kiali to Istio-Config, then select type DR at the top, do you then see more than one DR that has a warning ?  If so, could you check if the others indeed have a dup?
In the past I had from time to time the issue that I forgot to select the correct namespace and indeed deployed things twice.

[2019-05-06 16:03] maflaven commented on #7659
@pilhuhn those are the only DRs aside from "istio-policy" and "istio-telemtry".

[2019-05-06 16:13] Rajankhosla opened #13847 "Istio sidecar/envoy terminating application ports in kubernetes"
**Bug description**
Hello,

We are facing issue with Istio sidecar injection with our GRPC app in kubernetes. We have created Ingress Gateway, Virtual Service and Destination Rule. Gateway is publicly exposed, Service has port mapping where request should route and also have destination rule for traffic routing.

So now what happens is as soon as we inject the istio sidecar it stops one of the por

[2019-05-06 16:25] #10616 closed

[2019-05-06 16:27] fpesce commented on #13267
@linsun I'm considering this bugfix to be P0 for 1.1.
If I understand correctly, master (and thus, 1.2) is fixed by #13431 .
The fact that this (#13267) is still opened is because of #13550 (backport fix to the older 1.1 branch).
I'm pointing #13431 (the master bugfix) to 1.2 and point this current issue to 1.1 .

[2019-05-06 16:30] douglas-reid commented on #10988
I'm going to close this issue, as we don't seem to have anything to do here, and are actively choosing to pursue a different architecture.

Changes in 1.1 pushed CPU from the proxy over to the mixer services (removed attribute compression), so some uptick in CPU was inevitable.

[2019-05-06 16:30] #10988 closed

[2019-05-06 16:33] douglas-reid commented on #8224
@duderino I'm going to close this, as we have adopted loadshedding by default for the mixer services. Moving forward, we are pursuing a future architecture without Mixer, so this issue is not likely to receive any further direct attention.

[2019-05-06 16:33] #8224 closed

[2019-05-06 16:37] ozevren commented on #13810
This is not on the "required" gate, so it executes. My Pr was tagging things as flake'y, but I haven't made the PR to make use of the labels yet.

[2019-05-06 16:47] burmanm commented on #7659
@maflaven This is because the SE+DR combination is incorrectly parsed in the Kiali's duplicate validator at the moment. I'll try to fix it tomorrow.

[2019-05-06 16:48] JimmyCYJ commented on #13364
Great! I am going to close this issue. Feel free to open it anytime.

[2019-05-06 16:48] #13364 closed

[2019-05-06 16:58] howardjohn opened #14140 "Port other chart charts"
We are currently missing:
* kiali
* tracing
* nodeagent
* istiocoredns
* certmanager

[2019-05-06 17:12] venilnoronha commented on #13200
@howardjohn the Redis support within Envoy is evolving, but I'm not sure about its compatibility within Istio. There were some complaints about connectivity issues when the Redis filter was enabled. See #12139 for more information.

We need to test that particular use case as well as a few other general use cases prior to re-enabling the Redis filter in Istio.

[2019-05-06 17:28] pc-rshetty commented on #13840
Yes thats right,  the applications which are under the istio enabled namespace have this problem and we get 0 instances of the pods when this problem happens. We see a 17 min outage each time this happens. We do a rolling upgrade of our worker node using Cloud formation and right now it is 1 node at a time.

Our application have HA(at least 2 pods)
Note: This is on production .

[2019-05-06 17:31] howardjohn commented on #13840
You have a PodDisruptionBudget on your applications and they are dropping down to 0 instances? Or do you mean something else when you say "Our application have HA(at least 2 pods)".

Does this happen without Istio?

[2019-05-06 17:40] ozevren commented on #13341
Closing this in favor of https://github.com/istio/istio/issues/13282

[2019-05-06 17:40] #13341 closed

[2019-05-06 17:40] Stono commented on #9113
It looks like this problem is actually much bigger than I thought, albeit being captured by retries.

The 503's are only reported from the `destination`, not the `source`:

<img width="1680" alt="Screenshot 2019-05-06 at 18 38 56" src="https://user-images.githubusercontent.com/1486729/57243536-4af6b700-702e-11e9-8c61-70be13222859.png">

[2019-05-06 17:54] #12226 closed

[2019-05-06 18:10] Stono opened #13848 "Almost every app gets UC errors, 0.012% of all requests in 24h period"
I've noticed pretty much every application periodically gets this, a 503 with the envoy code `UC`.

<img width="1680" alt="Screenshot 2019-05-06 at 19 06 32" src="https://user-images.githubusercontent.com/1486729/57245215-2e5c7e00-7032-11e9-899f-5d8307252917.png">

It's retried as you can see, but it's bothering me that I cannot get to the bottom of why it is happening.  My destinationrule should

[2019-05-06 18:12] #9710 closed

[2019-05-06 18:12] howardjohn commented on #13848
Do you know if this is a new issue you are experiencing?

[2019-05-06 18:17] #13180 closed

[2019-05-06 18:18] Stono commented on #13848
Annoyingly, I'm not sure :-(

Historically I've only really been looking at `reporter=source`, however investigating some latency blips recently i've started looking at `reporter=destination`, which is where I saw these.

<img width="1680" alt="Screenshot 2019-05-06 at 18 38 56" src="https://user-images.githubusercontent.com/1486729/57245851-bd1dca80-7033-11e9-9ac3-58577cdc46fe.png">

[2019-05-06 18:25] douglas-reid opened #13850 "Issue with Mixer reporting to Mixer with controlPlaneSecurity enabled"
In testing the new installer with the existing mixer e2e tests, I discovered that enabling control plane security broke comms between `istio-policy` and `istio-telemetry`.

This manifests in the logs as follows:

There is also the suspicious bits of envoy config generated (this cluster appears twice in the config, also):

[code]

In particular, this snippet:

[code]

We need a validation that mixe

[2019-05-06 18:47] Stono commented on #13848
Hmm I have a theory that my updated timeout settings won't apply to existing connections, so will restart a bunch of the apps and leave overnight to observe.

[2019-05-06 19:01] Stono commented on #13848
Well 10 minutes after restarting them, I saw another :'( so guess I didn't need to wait overnight!

<img width="1680" alt="Screenshot 2019-05-06 at 20 00 37" src="https://user-images.githubusercontent.com/1486729/57248187-aaa68f80-7039-11e9-8567-6411ef1c92c9.png">

[2019-05-06 19:27] mbanikazemi commented on #13423
Hmm. This works for me.
The only difference is I have the pod in default namespace. Does it work for you in the default namespace?

Posted results on the gist page above.

[2019-05-06 19:36] listx commented on #13072
Any thoughts on this?

[2019-05-06 19:40] valarauca commented on #11984
Could the official documentation be updated to state how the configuration path can be changed?

`pilot-agent proxy` doesn't list flags related to this feature: https://istio.io/docs/reference/commands/pilot-agent/#pilot-agent-proxy

Also I'm not aware if it is related but the configuration template that `pilot-agent proxy` passes to `envoy`: https://github.com/istio/istio/blob/76b2c8cd1f5f5bdd93d

[2019-05-06 19:48] arianmotamedi commented on #13848
Would you be able to post Envoy router and connection pool logs? I'm wondering if it's a case of a closed-by-upstream connection being reused that results in a 503 (recently fixed in Envoy but hasn't been released yet). Also, can you try setting `idleTimeout` to a much smaller value like `15s` to see if the number of 503s changes at all?

[2019-05-06 19:48] kumarsparkz commented on #13819
Based on the envoy docs, I have corrected the syntax issue of allowed_headers, however, it's still not working. Here's the updated filter config
[code]
The config in JSON for reference:
[code]

This is blocking our progress and the plan to use Istio in production. Can someone please review and let's know what can be the correct solution here?

[2019-05-06 20:00] Stono commented on #13848
The router logs in debug are difficult to capture, the failure rate is quite low, say 0.02% - it becomes difficult to capture logs from all instances for a given app and catch the UC.

I'll try adjusting the idleTimeout though and see what happens.

[2019-05-06 20:02] arianmotamedi commented on #13799
@mabushey out of curiosity, are there any events logged for the `istio-ingressgateway` pod hinting as to why the load balancer can't be created?

[2019-05-06 20:11] Stono commented on #13848
15s made no difference :shrug:

[2019-05-06 20:16] pc-rshetty commented on #13840
@howardjohn we haven't set any PodDisruptionBudget. We have minimum 2 for the replica count.
Do you suggest we set the PodDisruptionBudget ?

[2019-05-06 20:19] mabushey commented on #13799
Hi @arianmotamedi

Not that I can see:
[code]

[code]

[2019-05-06 20:22] howardjohn commented on #13840
afaik the replicas field is the "Desired amount" it is not the minimum amount. Take a look at https://kubernetes.io/docs/concepts/workloads/pods/disruptions/ and https://kubernetes.io/docs/tasks/run-application/configure-pdb/ for info - you can set the minimums

[2019-05-06 20:30] Stono commented on #13848
OK @arianmotamedi @howardjohn  I persevered and managed to catch one with router and connection logs:

[code]

[2019-05-06 20:39] Stono commented on #13848
I feel there is overlap with https://github.com/istio/istio/issues/13616, even though @jaygorrell is specifically talking about his observations during deployments.

[2019-05-06 20:40] Stono commented on #13848
I also want to call out the messages i put on slack the other day, we have multiple app that do connection pooling having their connections terminated for no reason, all with the same error:

**searchone-consumer** talking to **search-one** (in cluster -> in cluster)
`2019-05-02 17:01:59.924  WARN 1 --- [ice-executor-18] u.c.a.s.c.k.service.SearchOneService     : Error talking to S1: Connection ha

[2019-05-06 20:47] arianmotamedi commented on #13799
Hmm weird. Does typhoon impose any vpc-tagging requirements like kops/eks do for creating load balancers? Just something to double check. Other than that I agree with John that this is K8s specific, not Istio, so if creating a `kind: Service` of type LoadBalancer results in the same behavior then I suggest opening another issue in their repo (without mentioning Istio to prevent confusion 😉)

[2019-05-06 20:51] Stono opened #13851 "Istio default retry strategy is transparently retrying POST requests that connected fine"
As you can see from this trace, a POST request reached vehicle-metric-service, and for some unknown reason (likely https://github.com/istio/istio/issues/13848) it 503's mid processing.

It was then retried by the default retry policy.

I *really* do not think the default retry policy should retry anything which successfully connected, only connection errors.  @nmittler I know we've talked about th

[2019-05-06 20:59] arianmotamedi commented on #13848
Wait, in the logs you posted, `C17068` is the one being reset, but I don't see a log saying the connection is being reused. If a reset is happening on new connection, then idle/keep alive timeouts won't have anything to do with the failure. Besides that, these DestinationRule timeouts are applied to requests coming into your service's sidecar; I don't believe sidecar ingress -> local service sees

[2019-05-06 21:07] howardjohn commented on #13848
We do apply the outlier detection rules to inbound, not sure about the rest. I don't think this actually really does anything though, since we have the minHealthPercent

[2019-05-06 21:07] xeor commented on #5815
Isn't this still a problem? Or where there any solutions made?

[2019-05-06 21:08] Stono commented on #13848
TBH I don't know what the problem is.  I'm just observing the failures with the code `UC`.

Here are sections from the config dump for that cluster:

[code]

[code]

[code]

[2019-05-06 21:11] Stono commented on #13848
I mean, these logs don't sound particular healthy?

[code]

[2019-05-06 21:11] twu8 opened #13853 ""Failed to parse discovery request" after upgrade 1.1.5"
**Bug description**
After upgrading istio from 1.1.3 to 1.1.5, the cluster seems not in a good state. Following are observed:
1) HTTPS requests failed with codes such as 400 for both curl command and automate testing scrips. Same script runs good with istio 1.1.3 with good metrics e.g. QOS.
Error message: LibreSSL SSL_connect: SSL_ERROR_SYSCALL
2) HTTP seem good, but QPS drops significantly  for s

[2019-05-06 21:28] arianmotamedi commented on #13848
They don't, it's definitely an issue, but it's not the same issue as others reported that was caused due to an *existing* connection being closed by upstream without downstream Envoy acknowledging it and returning it to the connection pool, which is what idleTimeout was added for. In those cases, you'd see an explicit log saying the connection is being reused:

If this isn't in your logs for `C170

[2019-05-06 21:36] howardjohn commented on #13853
https://github.com/istio/istio/blob/2a39a33f0b06d865e4df52a0594973baf6ada405/security/pkg/nodeagent/sds/sdsservice.go#L290-L300
This requires that resourceNames is not empty, when https://github.com/istio/istio/blob/009730f1abc86ee10d530022c5d79e18fe31fa37/vendor/github.com/envoyproxy/go-control-plane/envoy/api/v2/discovery.pb.go#L45-L51 suggests that an empty request is valid

[2019-05-06 21:36] JimmyCYJ commented on #13853
There are no significant changes to ingress gateway agent between 1.1.3 and 1.1.5. Perhaps 1.1.5 upgrades Envoy version that introduces the issue?

[2019-05-06 22:05] stockhausenj commented on #9764
Has there been any progress regarding the ability to have weight-based routing + consistentHashLB to prevent traffic from being split up between multiple pods on a single page load?

[2019-05-06 22:25] utka commented on #13072
I think it is a good idea.

[2019-05-06 22:45] adityats2020 commented on #13524
Couple of other things that I observed in the same setup

`istioctl proxy-status` is showing sync errors. Although I don't see any negative effect yet.

[code]

There is noise of gRPC warnings in all proxies. I believe this is already reported in https://github.com/istio/istio/issues/8270
[code]

[2019-05-06 22:48] silentdai commented on #13752
@Stono I don't think we can triage at this moment: Logs are not in retention. Neither pilot nor envoy.
Do you have any metrics on request per second, or listener/cluster destruction per second or any other metrics to reason about what was happenning?

[2019-05-06 23:14] quanjielin commented on #13853
@twu8, a few question -
1. does HTTPS fail every time or intermittently (like happened only run some time, or only when you recreate k8s secret) ?
2. do you have nodeagent logs ?

[2019-05-07 01:57] hzxuzhonghu commented on #13679
It is normal with these warnings `endpoint without pod`. Because kube-apiserver push endpoints / pods -> pilot in two independent http way. It doesn't guarantee the orders and also the latency. And also there is possibilities of losing events.

[2019-05-07 02:09] majorinche opened #13857 "bookinfo-crashloopbackoff"
**Bug description**
when try to deploy bookinfo sample, it report crashloopbackoff in openshift3.11
reviews-v3-c9d7db54b-fbqb7   0/2       Init:CrashLoopBackOff   3         1m
ratings-v1-5f8fbf7cff-4wnvf   0/2       Init:CrashLoopBackOff   3         1m
reviews-v1-557bb88b96-q7jpg   0/2       Init:CrashLoopBackOff   3         1m
reviews-v2-764bcc4945-wn5dx   0/2       Init:CrashLoopBackOff   3

[2019-05-07 02:23] hzxuzhonghu commented on #13839
can not reproduce with your config on 1.1.3

[2019-05-07 02:27] howardjohn commented on #13857
Interesting, if is failing in the init which is where we set up iptables. Never used open shift before, is it possible you can't get net_admin permissions?

Checking the logs for the pods should give more info

[2019-05-07 02:29] apacoco9861 opened #13858 "istioctl: command not found"
**Bug description**
istioctl: command not found

**Expected behavior**
istioctl should be in bin, when export PATH=$PWD/bin:$PATH, istioctl should be able to call

**Steps to reproduce the bug**
Trying to follow procedures,
https://istio.io/docs/examples/integrating-vms/

when running this command
istioctl kube-inject -n bookinfo -f samples/bookinfo/platform/kube/bookinfo-ratings-v2-mysql-vm.yaml

[2019-05-07 02:39] majorinche commented on #13857
I checked logs from one of these pod
[root@okd01 ~]# oc logs details-v1-7986754955-296dd -c details
Error from server (BadRequest): container "details" in pod "details-v1-7986754955-296dd" is waiting to start: PodInitializing
[root@okd01 ~]# oc logs details-v1-7986754955-296dd -c istio-proxy
Error from server (BadRequest): container "istio-proxy" in pod "details-v1-7986754955-296dd" is waiting to

[2019-05-07 02:45] majorinche commented on #13857
so, which of the following pod should be related to istio-init, then i can keep checking the log
[root@okd01 ~]# oc get pod
NAME                                      READY     STATUS    RESTARTS   AGE
grafana-7dc68dd886-t6qz6                  1/1       Running   2          17d
istio-citadel-84884f986d-k4lqc            1/1       Running   0          32m
istio-egressgateway-68f59db69f-wng9f      1/1

[2019-05-07 02:49] howardjohn commented on #13857
istio-init doesn't depend on any Istio pods (as far as I know at least). It is just a bash script that installs the iptables.

I don't have a computer in front of me to compare your logs to a working one, but is
`iptables: No chain/target/match by that name.` expected? that may be the problem

[2019-05-07 03:06] howardjohn commented on #13858
What is in `$PWD/bin`? You will need to download the Istio release, and istioctl will be inside the bin folder of the release

[2019-05-07 03:09] apacoco9861 commented on #13858
from 1.1.3, 1.1.4 and 1.1.5, all bin does not contain the command,
kindly let me know where I can download.

root@d-201-20:~/istio# ll istio-1.1.5/bin/
total 184
drwxrwxr-x  3 root root  4096 May  7 10:48 ./
drwxrwxr-x 20 root root  4096 May  2 02:18 ../
drwxrwxr-x  3 root root  4096 May  2 02:18 boilerplate/
-rwxrwxr-x  1 root root  1017 May  2 02:18 check_boilerplate.sh*
-rwxrwxr-x  1 root root

[2019-05-07 03:12] howardjohn commented on #13858
Interesting, that doesn't seem right. Where did you download from? I think I have the 1.1.5 binary in the bin folder from https://github.com/istio/istio/releases (Linux). Is that where you downloaded from?

On mobile though so can't verify.

[2019-05-07 03:12] apacoco9861 commented on #13858
hmm... I know the problem
curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.5 sh -
When you not run this command to download, the download package will miss something.

[2019-05-07 03:12] #13858 closed

[2019-05-07 03:21] apacoco9861 commented on #13858
Thanks for your kind response.

I recall when I first try 1.1.3, the curl -L https://git.io/getLatestIstio | ISTIO_VERSION=1.1.3 sh - not work
so that I download from the link you provide https://github.com/istio/istio/releases via wget and tar xvf the package, run the installation according to
https://istio.io/docs/setup/kubernetes/install/kubernetes/
also attempted
https://istio.io/docs/setup/ku

[2019-05-07 03:22] Kiddinglife opened #13859 "Expose admin API for load balance"
Hi, I am from game server background. Currently I am using ICE rpc framework where I can make my own load balancing rule by creating .so library and register it to ice's ice grid. In such way, I can handle the case where a player's states can move around across back servers with a fixed communication point attached in load balance.  Hopefully I make myself understood.

Is there similar thing exist

[2019-05-07 03:30] zhiqli opened #13860 "Prometheus collects application metrics from pods in environments without mutual TLS in kubernetes-pods-istio-secure job"
Hey，
I want to use Prometheus to scrape the metrics of my application without mutual TLS。so，i add   annotations in my pod yaml like this

[code]

But the result I saw was my application endpoint in `kubernetes-pods-istio-secure` job。
![image](https://user-images.githubusercontent.com/3350002/57269660-dddd3300-70ba-11e9-8f03-62fd306e6fc0.png)

I have testing，can be returned metrics with http, but h

[2019-05-07 03:55] bianpengyuan commented on #13860
Does your pod have `istio_mtls` label?

[2019-05-07 04:12] #10748 closed

[2019-05-07 04:17] gotwarlost commented on #13423
what version of istio are you using?

[2019-05-07 04:29] aaronmell opened #13861 "Unable to remove server header"
**Bug description**
I should be able to remove/disable the server: istio-envoy when using istio

**Expected behavior**

using the following configuration on a virtual service, I should be able to

Headers:
      Response:
        Remove:
          server

**Steps to reproduce the bug**
Add a gateway that routes to a virtual service

**Version (include the output of `istioctl version --remote` and

[2019-05-07 04:32] bamboo-service-account commented on #7724
I also was really hoping that istio egress gateway would allow me to ditch my NAT gateways...alas, doesn't seem that is the case, without introducing a single point of failure into my cluster.

[2019-05-07 04:34] donnyv12 commented on #7724
I also was hoping this would remove the need for my NAT gateways...doesn't seem to be the case.

[2019-05-07 05:12] zhiqli commented on #13860
no @bianpengyuan

[2019-05-07 05:38] huang-jy commented on #7724
Right now, no. If you need a static IP, you need a NAT Gateway. Whether it be by Cloud NAT (GCP) or Terraform. But if you have that, there's no need for Istio in your cluster to do the routing, since the routing happens outside the cluster, but that just means another external moving part.

[2019-05-07 05:41] duderino commented on #13423
@howardjohn did you fix this for 1.1.3?

[2019-05-07 05:43] AL-Cui opened #13862 "pilot's discovery becomes not read"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Pe

[2019-05-07 05:44] #13862 closed

[2019-05-07 06:12] #10391 closed

[2019-05-07 06:25] zhiqli commented on #13860
I have solved this problem, and the annotations are modified so that it will be fine.
[code]

[2019-05-07 06:26] #13860 closed

[2019-05-07 06:30] Stono commented on #13848
Ah right so it's separate to the other issues then.

@arianmotamedi those logs above *are* from `sauron-seo-app`.  In the example above it is `consumer-gateway` -> `sauron-seo-app`.

[2019-05-07 06:30] Stono commented on #13752
Hey,
Yeah i understand.   I was keeping the issue open in case it occurred again and I could provide more logs but as of yet, it hasn't.  I'll close for now and just re-open if i see it again.

[2019-05-07 06:30] #13752 closed

[2019-05-07 06:31] Stono commented on #13679
@hzxuzhonghu two thoughts then:

  - If it's `normal`, it shouldn't be logged as a `warning`?
  - How come I only see it after a sidecar upgrade, an no other scenario?

[2019-05-07 06:44] hzxuzhonghu commented on #13679
Agree the log level is too verbose.

As k8s is an eventual consistent model, there must occur these warnings.  You can reproduce when you do large  scale test.

[2019-05-07 07:28] dotw commented on #12117
@morvencao Do u resolve this issue? I encounter pilot OOM  Killed in our env. We have 10 pilot instances and each one limited to 4CPU and 16Gi memory. there are 281 namespaces and 793 services with 1248 pods in the kubernetes cluster, and we are runing istio 1.1.5 now.
I'm confused. Can I make more pilot instances to decrease individual pilot memory usage?

[2019-05-07 07:28] Demonsthere opened #13863 "Pilot doesn't update ingress-gateway configuration in some cornercase"
**Bug description**

The problem seems to be similar as https://github.com/istio/istio/issues/11039, when the creation of a new `gateway` resource doesn't propagate to `istio-ingressgateway`, which can be verified by the following command:
[code]

**Expected behavior**

Assuming the following gateway configuration:
[code]

Netstat should return:
[code]

However, in some corner case, the entries fo

[2019-05-07 07:51] majorinche commented on #13857
istio-init seems come from proxy_init, i try directly run this image, but has permission problem, while I've already set "-u 0"
[root@ecs-44aa ~]# docker run -it -u 0 --rm docker.io/istio/proxy_init:1.1.3 /bin/bash
id: 'istio-proxy': no such user
Environment:
------------
ENVOY_PORT=
ISTIO_INBOUND_INTERCEPTION_MODE=
ISTIO_INBOUND_TPROXY_MARK=
ISTIO_INBOUND_TPROXY_ROUTE_TABLE=
ISTIO_INBOUND_PORTS=

[2019-05-07 08:04] amardomingo commented on #13200
Hi!

Sorry for the delayed answer.

@howardjohn maybe I'm not understanding something properly then. I'm trying to connect with the redis client to two different external instances of redis. When I add the service entries to istio, I get conflicts in pilot, and what I gather is that is treating the port as tcp protocol rather than redis, and therefore I can not have multiple service entries on the

[2019-05-07 08:56] sterchelen commented on #13204
@rshriram I have the same problem here.

I have a containerPort on 40000 named 'http' with the TCP protocol.

Here is my Sidecar object:
[code]

Like @fleeto, if I connect inside the istio-proxy container and using `curl --unix-socket /var/run/myapp/http.sock http://test/demo` it works.
Additional info, my socket has the same uid , guid as istio-proxy.
Outside the container I have the following er

[2019-05-07 09:15] prabaharanit commented on #12653
hi how to change to global config parameter.. pls provide me the command to change to global value.. below cmd not working for me kubectl get cm istio-sidecar-injector -n istio-system -o yaml | sed -e 's/initialDelaySeconds`  1/initialDelaySeconds`  10/' | kubectl apply -f -

[2019-05-07 09:38] morvencao commented on #12117
@dotw We don't reproduce the issue any more.

Can you get real `load balance` among the 10 pilot instances? Have you tried the new [Sidecar API](https://istio.io/docs/concepts/traffic-management/#sidecars)?  Also you can try the `exportTo` feature supported by `ServiceEntry`, `VirtualService` and Kubernetes Service, which allows service owners to control which namespaces can reference their servic

[2019-05-07 10:12] #10641 closed

[2019-05-07 10:34] dpeper commented on #7607
@Stolr First download the istio repo and put it in ~/go/src/istio.io/istio. Then checkout the tag of the version you'd like to run (e.g. 1.1.2).

I used some of the changes provided by @julianvmodesto in this PR https://github.com/istio/api/pull/897

This is the diff of the change:

[code]

[2019-05-07 12:55] linsun commented on #13858
@apacoco9861 anything we should improve in our doc to make it easier for u?

[2019-05-07 13:14] mbanikazemi commented on #13423
@gotwarlost I used a c;luste I had running. It's from the master-20190416-09-16 daily release.

[2019-05-07 13:40] GregHanson commented on #13863
@Demonsthere if you kill the ingress gateway pod, does it pick up the configuration when it is recreated?  If not, can you provide the output for `istioctl proxy-status`?  Also check the logs of the ingress gateway to see if it rejected a listener
[code]

Also verify which listeners the ingress gateway does know about:
[code]

Then, check the logs of istio-pilot for any errors related to that may

[2019-05-07 13:43] vitaliy-vito opened #13867 "IBM Cloud Istio issue"
**Description**
We would like to implement istio in our setup on IBM Cloud Provider and Istio Managed server, but we are facing issues deploying our app. There is no problem with helloworld or bookinfo app deployments.

**Our setup**

[code]

**What we should get following next article from IBM : https://cloud.ibm.com/docs/containers?topic=containers-istio#istio_expose_bookinfo
Following http://pu

[2019-05-07 13:45] Demonsthere commented on #13863
Hi @GregHanson , yes killing the pod solves the issue, as the new pod has the config, and ports open. However, it is a corner case, and the error does not happen every time. I have found that the listeners are not present if the tls certificate is not present (not mounted in pod), but besides that I couldn't find anything.

[2019-05-07 13:53] liamawhite commented on #13812
These have only failed once during their lifetime in the [post-submit](https://k8s-testgrid.appspot.com/istio-postsubmits#integration-k8s-tests). Is there any info on how frequent the failure is here?

[2019-05-07 13:55] Multiply commented on #13484
We can also reliably reproduce this behaviour with the latest istio.

Simply changing the port-name to something that doesn't match the mysql filter helps.

[2019-05-07 14:07] arianmotamedi commented on #13848
@Stono these are `sauron-seo-app`'s _sidecar_ logs, I meant `sauron-seo-app`'s logs to see if there's any indication that your app forcibly closed a connection, since "upstream" in sauron-seo-app's sidecar refers to the app itself.

The other thing you should check is cluster statistics for `inbound|80|http-web|app.sauron-seo-app.svc.cluster.local` (hit the `/stats` endpoint and search for `cluste

[2019-05-07 14:16] Stono commented on #13848
There is nothing in the application logs about it killing connections, no.

Does envoy -> the app connection pool?
If so, is that pool sending keep alives to the app?

Here are all the cx stats for one of the instances that's just been spawned (2 mins ago) and has had a UC already (just one):

[code]

[2019-05-07 14:18] Stono commented on #13848
And here are the rest of the stats (you can see the 503):

[code]

[2019-05-07 14:22] thehh1974 opened #13868 "Precondition check requests are not sent to Mixer by TCP services"
**Bug description**
When disablePolicyChecks is set to false, inbound TCP connections do not generate Check requests to istio-policy and external authorization is not applied.

This behavior is a result of a change to istio/pilot/pkg/networking/plugin/mixer/mixer.go in 1.1:
In buildInboundTCPFilter:
DisableCheckCalls: disablePolicyChecks(outbound, mesh, node)

The first argument should be inbound

[2019-05-07 14:22] howardjohn commented on #13423
@duderino not intentionally, and I have seen similar issues so probably not fixed

[2019-05-07 14:29] ericvn commented on #13625
Cherry picks are completed to master (in istio/installer) and in 1.1.

[2019-05-07 14:29] #13625 closed

[2019-05-07 14:31] ericvn commented on #13139
I asked here and in Slack for discussion on this item, and based on the limited feedback, I will go ahead with and create the PR for option #3.

[2019-05-07 14:34] therve opened #13869 "galley registers some pilot metrics"
**Bug description**

Query galley metrics endpoint I'm getting pilot related metrics definition, such as `pilot_conflict_inbound_listener`. This maps to the metrics defined in the push_context module, and I don't think I'll be getting values for those.

**Expected behavior**

galley doesn't report such metrics.

**Steps to reproduce the bug**

Deploy istio, then `curl http://galley-endpoint:15014/

[2019-05-07 14:34] linsun commented on #13867
Hi @vitaliy-vito, I'd recommend you check on the following things:

- Ensure your sidecar is injected for your service pod.  You should see 2/2 READY when you run `k get pods`
- Ensure you have a destination rule for the destination you want to route to for `/app-core`.

Since this is an issue related to Managed Istio for IKS, Let's continue the discussion in IKS support forum or support ticket.

[2019-05-07 14:44] mandarjog commented on #13822
Are you seeing any other problems like higher error rates associated with this observation?

[2019-05-07 14:47] mandarjog commented on #13822
@ostromart are we seeing this in 1.0.6 to 1.14 upgrades?

[2019-05-07 14:48] iftachsc commented on #13822
only what i wrote. we've seen here and there
Failed to create a new MCP sink stream: rpc error: code = Unavailable desc
but then we updated the installation without MCP. so it went away - the rest stayed.

in my lab i currently can restore the Never Acknowledged issue with our current gateway configuratin. we didnt change any istio yamls we had. we upgraded and thats it so it seem some gateway con

[2019-05-07 14:53] esnible opened #13870 "pkg/test/framework/README.md incorrect"
(I am using _master_ branch).

The README.md gives a code sample that uses `ctx := framework.GetContext(t)` but there is no such method.

The guide says there will be an overview of the framework architecture at https://github.com/istio/istio/wiki/Preparing-for-Development but I couldn't find it.

I would also like better comments on _pkg/test/framework/label/labels.go_ for `presubmit` and `postsu

[2019-05-07 15:01] iftachsc commented on #13822
i tried to do 1.0.6 -> 1.1.4 with bookinfo - allworks easily in the same way we upgrade the real environment. i am pretty sure this is related to some miss configuration but really there is no way to debug it or uinderstand. the upgrade notice has nothing but changing VirtualService/Gateways/DestRule etc changed needs to be done. there is only recommendation to move gateway resources to the same n

[2019-05-07 15:05] howardjohn commented on #13863
We have seen some issues with config being rejected by Envoy, taking out the full listener. Example: https://github.com/istio/istio/issues/13717

Are there any errors or warnings in Pilot discovery logs? Especially `ACK ERROR`

[2019-05-07 15:09] vitaliy-vito commented on #13867
@linsun sidecat injected for pods.
Could you please share IKS support forum link with me? Thank you

[2019-05-07 15:14] LeoLee98 commented on #12951
The sample situation happens to me too, my k8s version is 1.13.1 with the istio of 1.1.5, Did you solve this problem? And the automatic sidecar injection failed too, though I have set the plugins as the Kubernetes saying. I just think  it may be the api-server can't access the pod where the galley is. Because the master node has not proxy

[2019-05-07 15:18] Stono commented on #9113
@emedina I'm willing to bet it is https://github.com/istio/istio/issues/13848

Change your pom query to group by `reporter` and see if the `reporter` is `destination` and let me know.

If you look in Jaeger you'll see traces like mine on that issue.

Be great if you could confirm

[2019-05-07 15:28] emedina commented on #9113
@Stono As you expected :-)

![image](https://user-images.githubusercontent.com/617121/57312288-85735900-70ed-11e9-8f64-c66d1a506ecf.png)

[2019-05-07 15:44] ericvn commented on #13139
Part #1: https://github.com/istio/istio/pull/13871

[2019-05-07 15:58] LeoLee98 opened #13873 "failed calling webhook"
I create a K8s cluster on my vmware with the follow config:
kubernetes 1.13.1 istio 1.1.5 etcd 3.3.0
master 192.168.83.128 kube-apiserver control-manager ，scheduler，etcd01
node1 192.168.83.129 kubelet ,flannel,etcd02,kube-proxy
node2 192.168.83.130 kubelet ,flannel,etcd03,kube-proxy
and today I use the istio-demo.yaml to install the istio 1.1.5, I have set up the k8s plugins as it saying , but the

[2019-05-07 16:07] LeoLee98 commented on #8182
I have the same situation , I want to ask wether it is because I did't install a kube-proxy in my master node or not ? My kube-apiserver cannot acess the pods

[2019-05-07 16:08] ostromart commented on #13822
I've never seen this particular error during upgrade, but I haven't tried 1.1.4. I haven't looked at this issue fully but at first glance it seems like it's pilot related - let's chat offline @mandarjog .

[2019-05-07 16:12] #9227 closed

[2019-05-07 16:22] Stono commented on #9113
Do you see the response code `UC` in your access logs, traces or debug itsio-proxy logs?

[2019-05-07 16:23] jpapejr commented on #13867
@vitaliy-vito You can register at https://bxcs-slack-invite.mybluemix.net/

[2019-05-07 16:25] devstein opened #13874 "Enable Slack Github Integration and Notifications"
**Describe the feature request**
Allow GitHub notifications in Slack on the `istio` repository.

I want to enable Github notifications for `istio` in my team's slack channel, but receive the following error:

[code]

**Describe alternatives you've considered**
Regular email notifications

**Additional context**
Only a repository owner can enable the Slack + Github integration

To reproduce:

1. Ad

[2019-05-07 16:30] Pluies commented on #12855
@morvencao It's damned if you do, damned if you don't, because as this issue shows Istio is currently disrupted by _not_ having helm hooks :(

I understand not wanting to have hooks in the main chart, but if this can help other people, this is how we currently patch the istio-init chart to get around this issue:
[code]

[2019-05-07 16:31] arianmotamedi commented on #9113
@emedina please try setting your idleTimeout value to 15s and give it another shot. We're testing two different things here, and before we diverge too much I want to confirm whether this is related to https://github.com/envoyproxy/envoy/issues/6190 or something entirely different.

[2019-05-07 16:33] howardjohn opened #14139 "Istioctl namespace support"
Right now istioctl takes in an istioSystem argument, but we cannot support multiple namespaces

[2019-05-07 16:37] fpesce opened #13876 "Cherrypick #10880 back to master"

[2019-05-07 16:37] fpesce opened #13877 "Cherrypick #11462 back to master"

[2019-05-07 16:38] fpesce opened #13878 "Cherrypick #11388 back to master"

[2019-05-07 16:38] fpesce opened #13879 "Cherrypick commit 1fa778726fc149088fa9f9a5c694835bf9dd712c back to master"

[2019-05-07 16:39] fpesce opened #13880 "Cherrypick #10379 back to master"

[2019-05-07 16:39] fpesce opened #13881 "Cherrypick #10202 back to master"

[2019-05-07 16:39] fpesce opened #13882 "Cherrypick #10005 back to master"

[2019-05-07 16:39] fpesce opened #13883 "Cherrypick #9474 back to master"

[2019-05-07 16:40] fpesce opened #13884 "Cherrypick #8722 back to master"

[2019-05-07 16:40] fpesce opened #13885 "Cherrypick #9208 back to master"

[2019-05-07 16:40] fpesce opened #13886 "Cherrypick #7918 back to master"

[2019-05-07 16:41] fpesce opened #13887 "Cherrypick #10970 back to master"

[2019-05-07 16:43] fpesce opened #13888 "Missing Cherrypicks from 1.0 to master manual review"
Looking at #13625 discussion, a comment from @mattmi88 made me realize that we might have some missing features and bugfix that landed to the 1.0 branch (I haven't check any other yet).

I have manually reviewed the commits returned by the following command:
[code]

**Please NOTE: I'm mentioning the authors of the code changes but I intend to provide the cherrypick PR if you don't have time.**

An

[2019-05-07 16:53] howardjohn commented on #13888
i think these are false positives (we have them in master):
* incremental EDS
* fix map concurrent read write

[2019-05-07 16:54] duderino commented on #13888
@douglas-reid @wattli @ostromart @utka @kyessenov @sdake @mandarjog @PiotrSikora @hzxuzhonghu please take a look asap just to be sure.   We will create the 1.2 branch from master in about 2 weeks so it would be really good to be sure that everything from 1.0 was merged to master before we cut the 1.2 branch

[2019-05-07 16:55] duderino commented on #13888
and meta-comment, @fpesce did the review and intentionally erred on the side of false positives.   I think that was the right thing to do here.

[2019-05-07 16:59] utka commented on #13879
This commit is not relevant for master, the file modify_values was deleted from master and content was copied to helm_charts file.

[2019-05-07 16:59] kyessenov commented on #13888
#13881 is a false positive. L2 cache is disabled on master and 1.1 via different means.

[2019-05-07 16:59] #13879 closed

[2019-05-07 17:01] fpesce commented on #13888
@howardjohn , I think I've seen some missing lines like
[code]
missing the discovery param, maybe the logic diverged?

[2019-05-07 17:02] fpesce commented on #13888
Thanks for reviewing @kyessenov , will mark invalid.

[2019-05-07 17:03] fpesce commented on #13881
L2 cache is disabled on master and 1.1 via different means.

[2019-05-07 17:03] #13881 closed

[2019-05-07 17:07] fpesce commented on #13879
Thanks for the clarification @utka!

[2019-05-07 17:42] djazayeri commented on #2704
@douglas-reid I'm interested in helping address this.
Do I understand correctly that now the attributes are available, and the remaining thing to do is to modify various config yaml files to use these?

[2019-05-07 17:48] #13262 closed

[2019-05-07 17:55] ericvn commented on #13139
Completed in #13871

[2019-05-07 17:55] #13139 closed

[2019-05-07 18:02] PiotrSikora commented on #13886
This is already committed to master in #8941.

[2019-05-07 18:02] #13886 closed

[2019-05-07 18:02] ericvn commented on #12607
Note that #13871 is for the Zsh version of the tab completion, along with its associated PRs.

[2019-05-07 18:04] ostromart commented on #13822
We suspect this might be a proxy-config tool reporting issue rather than a real underlying problem but let's look at both possibilities. Could you please run tools/dump_kubernetes.sh in your cluster?
This tool has some options. If istio (and nothing else) is installed to istio-system, running
  dump_kubernetes.sh -z -n istio-system
will give us the control plane logs.
We'd like to look at some pro

[2019-05-07 18:05] pviniciusfm commented on #12855
@Pluies this solution worked for me. Thank you

[2019-05-07 18:12] howardjohn opened #14138 "Investigate why redis fails to deploy"
Disabled test since it is failing in https://github.com/istio/installer/pull/107

We need to figure out why we can't deploy redis.

From briefly debugging it seems related to security context. We recently made some changes to security context on istio/istio - I think they got merged into the installer but we should verify

[2019-05-07 18:15] duderino commented on #13853
@JimmyCYJ the same version of Envoy is used in 1.1.3, 1.1.4. and 1.1.5

[2019-05-07 18:19] iftachsc commented on #13822
Ok. Since we rolled back the qa env I’ll do it ASAP.
Just to be clear: this is not the proxy just reporting an issue rather than a real issue.
As mentioned - in this time after the rollback there we networking issues. Proxies return 503 - also seen in kiali. Rolling istio + rolling the sidecars  back and everything went normal.

[2019-05-07 18:32] kyessenov commented on #13220
This is done via `bin/check_samples.sh`  script.

[2019-05-07 18:32] #13220 closed

[2019-05-07 18:32] JimmyCYJ commented on #13853
@duderino Thanks Joshua. Then let's check ingress-sds and ingress-proxy logs to figure out what happened.

[2019-05-07 18:34] fpesce commented on #13886
The commit in #8941 leaves externalTrafficPolicy commented, while all externalTrafficPolicy from #7918 are uncommented I guess it's intended?

[2019-05-07 18:56] howardjohn opened #13890 "Prow Internal Server Error -- Cannot view test results"
Example: https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13849/istio-integ-k8s-tests/7860

[code]

Seems to apply to every PR

[2019-05-07 18:58] douglas-reid commented on #2704
@djazayeri that's correct. I'll respond offline to your email, and we can update here when we've sorted it.

[2019-05-07 19:00] fnature commented on #13493
Issue resolved after enabling mTLS.
mTLS is not enabled by default in multicluster installation steps.

[2019-05-07 19:00] #13493 closed

[2019-05-07 19:01] mbanikazemi commented on #13423
Also tries the two ports namespace and things work as expected.

[2019-05-07 19:01] PiotrSikora commented on #13886
See #9143.

[2019-05-07 19:12] ostromart commented on #13822
I see. There's quite a lot of info in this issue, and it looks like at least a couple of likely unrelated problems:

1. After upgrade to 1.1.4, istioctl proxy-status reports sync problems
  Analysis: we suspect this may be an issue with the istioctl tool misreporting. If there's any other problem, it should show up in the control plane logs.
  Q: were any networking problems observed when cluster

[2019-05-07 19:40] douglas-reid commented on #13888
commit 9dccd5a is a false positive. The 1.0 codebase was sufficiently different from the 1.1 codebase that it required a 1.0 only PR. 1.1 was updated separately and those updates should have been carried forward with the merge back to master that followed.

[2019-05-07 19:41] douglas-reid commented on #13876
False positive. This functionality was added in a different PR due to code differences between 1.0 and 1.1. There is no action needed here.

[2019-05-07 19:41] #13876 closed

[2019-05-07 19:56] geeknoid opened #13891 "Extend the CNCF's Istio dashboard to match our needs."
As described [here](https://github.com/istio/istio/wiki/Project%20Dashboards), the CNCF maintains some dashboards about the Istio project. We'd like to extend this to our needs.

The dashboards are described in <https://github.com/cncf/devstats.>

The work here is to copy+adapt the kubernetes dashboard definitions for Istio, and then augment with whatever is missing to meet the Code Mauve exit cri

[2019-05-07 20:02] kramvan1 opened #13892 "podAntiAffinityLabelSelector and podAntiAffinityLabelSelector a bit broken."
**Bug description**

I think this pull request only did half the job: https://github.com/istio/istio/pull/12798/files
The `gatewaypodAntiAffinityRequiredDuringScheduling` and `podAntiAffinityLabelSelector ` are  still broken.

AND I think the wrong default are being used
`podAntiAffinityLabelSelector: {}` but should be `podAntiAffinityLabelSelector: []` as this is used as a list.    This works for

[2019-05-07 20:03] kramvan1 commented on #13892
cc @linsun

[2019-05-07 20:21] PiotrSikora commented on #13589
@trevorlinton that would be great, thanks.

[2019-05-07 20:26] icygalz commented on #13890
The error is in testgrid's config. We are sharing/using k8s' testgrid and k8s engineers have been informed and fix is on the way.
The report page should come back like before once testgrid's config is fixed.

[2019-05-07 20:57] utka commented on #13072
Looking into that a little bit more. I think there is more necessary change for separating tests for  branches in testgrid. This two changes do not work together.

[2019-05-07 21:00] silentdai commented on #13722
Ack.
This may related to the bug that envoy filter defined by "kind: EnvoyFilter" is created twice in envoy. See https://github.com/istio/istio/issues/13728
Yet it's unclear why the above filter is crashing. Will dig deeper.

[2019-05-07 21:03] robertpanzer commented on #13722
Now that you are writing this I can confirm that I have seen log entries from the lua script.
I thought this was just a logging phenomenon.

[2019-05-07 21:12] #13868 closed

[2019-05-07 21:13] fpesce commented on #13884
false positive [c.f. comment on 13888]

[2019-05-07 21:14] #13884 closed

[2019-05-07 21:14] fpesce commented on #13887
false positive [c.f. comment on #13888]

[2019-05-07 21:14] #13887 closed

[2019-05-07 21:17] louiscryan commented on #13008
@rshriram I disagree a bit with your points above.

We introduced namespace scoping of service references to avoid collisions like this. That feature also explicitly allows for split horizons across namespaces so service resolution can't simply be

map[hostnameFQDN->service]

its really map[hosnameFQDN, namespace-> service]

otherwise we'd have to treat services in the same namespace equivalently

[2019-05-07 21:20] icygalz commented on #13890
The result are back. Closing the issue.

[2019-05-07 21:20] #13890 closed

[2019-05-07 21:25] #10780 closed

[2019-05-07 21:32] yangminzhu opened #13895 "TestGroupV1RBAC and TestGroupV2RBAC failing in postsubmit"
For example: https://k8s-gubernator.appspot.com/build/istio-prow/logs/istio-integ-k8s-tests/7865

Not sure if this is caused by the test framework or caused by some actual issues but the other  `TestRBACV2` doesn't fail.

/assign @lei-tang
/cc @nmittler @ozevren @pitlv2109

[2019-05-07 21:35] pitlv2109 commented on #13895
`Galley.ApplyConfigOrFail: exit status 1: error: no objects passed to apply` seems like either the test framework or the caller?

[2019-05-07 21:41] linsun commented on #13892
good feedback thank you @kramvan1 !

@morvencao could you try fix this in 1.1, assuming it is small fix?

[2019-05-07 21:42] utka commented on #13320
Though all test marked as Pass, Prow still reports the run as failed https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13746/istio-unit-tests/24687

Looking into junit report

[2019-05-07 22:08] lei-tang commented on #13895
According to https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests, these tests consistently pass until the SHA 25547e20c [Testing] Change security tests to use Echo (#13824).
Add @nmittler for that the PR #13824 breaks the postsubmit tests.

[2019-05-07 22:08] howardjohn commented on #13320
@utka this is actually a tricky case. `panic: Fail in goroutine after TestApplyThrice has completed`. The test is actually marked as passing, then fails AFTER it passes.

This may be the only instance when we see this bug -- both examples I posted are from the same test, and we had a PR that fixed this test, so maybe this isn't a big issue

[2019-05-07 22:11] pitlv2109 commented on #13895
That PR deleted some functions in the `policy.go` file that we used for applying and deleting configs. I think it's worth investigating on that. On the other hand, `TestRBACV2` didn't seem to be suffered from it.

[2019-05-07 22:17] lei-tang commented on #13895
@nmittler The PR "[Testing] Change security tests to use Echo" (#13824)  breaks the postsubmit tests; can you revise the PR #13824 to fix the postsubmit test failures caused by the PR #13824?

[2019-05-07 22:29] Chrischuck commented on #13467
I'd be happy to help, but I'm new to OS so I'd need some help as well if that's OK.

[2019-05-07 22:40] utka commented on #13320
Yes, I noticed that test marked as pass, but summary is Fail
I created issue for junit report https://github.com/jstemmer/go-junit-report/issues/87

[2019-05-07 22:52] pc-rshetty commented on #13840
I added PodDisruptionBudget and still see the problem.

But i see this additional warning
`LAST SEEN   FIRST SEEN   COUNT     NAME                                           KIND         SUBOBJECT                         TYPE      REASON             SOURCE                                                 MESSAGE
13m         13m          1         my-service-8c567f849.159c87245ec30f53         Replica

[2019-05-07 22:58] pc-rshetty commented on #13840
I do not know if i am seeing this problem
https://istio.io/help/ops/setup/injection/#no-such-hosts-or-no-endpoints-available-errors-in-deployment-status

But after around 17 mins the pods come back online so not sure whats going on

[2019-05-07 23:03] howardjohn commented on #13840
Interesting, I am surprised we don't have a PodDisruptionBudget for the sidecar injector given how critical it is. Here is what is likely happening: The sidecar injector gets destroyed, since there is no minimum specified. Then, when new pods are created, they cannot be injected until the injector comes back up.

Let me ask around and see if there is a good reason we don't have a PBD for the injec

[2019-05-07 23:06] pc-rshetty commented on #13840
Also in my case Pilot has only 1 instance so even if sidecar comes up may be that it an issue since it does'nt get the config ?. Eventually after 17 mins when everything syncs up the pods are back.

I am going to try making Pilot HA and see what happens

[2019-05-07 23:13] howardjohn commented on #13840
Yes that would be good as well. Sorry I didn't notice until now, PDB were added for components in 1.1 but they are n't in 1.0 which you mentioned you are running.

For new pods to come up, you will need Pilot and the Sidecar Injector.

[2019-05-07 23:30] cleverguy25 commented on #8462
For a multi-tenant enviornment scoped by namespace, this is really needed...

[2019-05-07 23:36] cleverguy25 commented on #8833
Right, but what if they are not constant, outside of our organizations control.  Ideally we could still configure egress with host name instead of IP, and without SNI

[2019-05-08 00:04] dbarentine commented on #13578
Same issue here only my backend destination is just HTTP and I'm running Istio 1.1.5 and Kubernetes 1.12.5. I'm terminating TLS at the ingress gateway which is using SDS. I'm only using SDS for ingress.

It's also not a consistent 404 across the board. I have one service where I get a 404 in Chrome but not in Firefox. One that seems to work fine all the time currently. If I add or remove a gateway

[2019-05-08 00:08] pfenig opened #13898 "sidecarInjectorWebhook incorrect nesting in values-istio-demo-common.yaml"
**Bug description**
The sidecarInjectorWebhook configuration is nested under global when the chart expects it at the top level.

https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/values-istio-demo-common.yaml#L15

**Expected behavior**
It should be at the top level

**Steps to reproduce the bug**
1) Change `rewriteAppHTTPProbe: true` in values-istio-demo.yaml
2) `helm templa

[2019-05-08 00:37] richardwxn opened #13900 "Istioctl namespace support"
@howardjohn commented on [Tue May 07 2019](https://github.com/istio/installer/issues/129)

Right now istioctl takes in an istioSystem argument, but we cannot support multiple namespaces

[2019-05-08 01:23] crazyxy commented on #13728
Code adding `filter`
https://github.com/istio/istio/blob/7d61672e25a28b0fa49ef2091f5b49703307572f/pilot/pkg/networking/core/v1alpha3/envoyfilter.go#L81

All entries in `httpConnectionManagers` refer to the same object. Only the first `filter_chain` will get the correct number of `http_filter` and others will get more `http_filter` than expected.

#13901

[2019-05-08 01:34] hzxuzhonghu commented on #8462
We have ExportTo now, try it.

[2019-05-08 02:01] silencehe09 commented on #13508
@bianpengyuan  Is the api change in ?

[2019-05-08 02:03] apacoco9861 commented on #13858
I think the first curl link I tried some how not work and I tried another way round partially work causing the problem. It's ok now I think. Thanks,

[2019-05-08 03:04] majorinche opened #13902 "namespace change"
i'd like to change namespace from default "istio-system" to another one
but encounter problem on galley pod
failed logs show as following:

2019-05-08T02:49:06.585767Z	warn	Neither --kubeconfig nor --master was specified.  Using the inClusterConfig.  This might not work.
2019-05-08T02:49:06.611464Z	warn	validation	Could not find istio-system/istio-galley deployment to set ownerRef. The validatingw

[2019-05-08 03:25] #8658 closed

[2019-05-08 03:32] dotw commented on #12117
@morvencao I confirm sidecar can void this. Now we constrain all traffic only in its own namespace and istio-sytem, kube-system. The sync time is significantly down to fewer 30s with 3 pilots with 0.5 CPU 2Gi mem with limits 1CPU 3Gi mem, but we have to think about to cost more efforts to maintain the sidecar resources since we have sharing resources based on business in different namespaces.

by

[2019-05-08 04:17] dbarentine commented on #13578
I just tried the file mount approach and it exhibits the same behavior.

[2019-05-08 04:19] savitaashture commented on #13578
@JimmyCYJ

I have used file mount based approach
https://istio.io/docs/tasks/traffic-management/secure-ingress/mount/

**Gateway**
[code]

**VirtualService**

[code]

Still getting 404 error

[code]

[2019-05-08 04:25] #10790 closed

[2019-05-08 04:33] jroper opened #13903 "Development instructions are out of date"
It appears the development environment instructions are out of date and no longer work with master, since 3f1bca2a28abdb337eab8e4324a43341b6cfc4c1, due to the removal of the `generate_yaml` make target. Specifically, these instructions need to be updated:

https://github.com/istio/istio/wiki/Using-the-Code-Base#building-the-istio-manifests

I'm completely new to the Istio codebase (just trying to

[2019-05-08 05:14] AsCat commented on #13898
@pfenig  I think UR right, the fix should be in  values-istio-demo-common.yaml, the PR in [here](https://github.com/istio/istio/pull/13904)

[2019-05-08 05:21] JimmyCYJ commented on #13578
Thanks @savitaashture, it shows that SSL handshake has finished, but Envoy cannot find backend. The 404 is returned from here https://github.com/envoyproxy/envoy/blob/a79164f50f55cfd02f0516eeb693c8fee18e0f90/source/common/router/config_utility.cc#L114

I suspect the following part is not set up correct. @PiotrSikora could you help to take a look?
 tls:
  - match:
    - port: 443
      sni_hosts:

[2019-05-08 05:50] morvencao commented on #13892
Please check https://github.com/istio/istio/pull/13905 for details fix.

Local test with values for pilot:
[code]

`helm template...` gets the following result:
[code]

[2019-05-08 05:59] jeffcai opened #13906 "allow sidecar forwards outbound request to local pod with pod ip"
**Describe the feature request**
there is some applications which are not listening on 127.0.0.1, but Istio sidecar forwards outbound request to local pod with 127.0.0.1, it causes upstream exception and can not use Istio for those applications.

**Describe alternatives you've considered**

if it's possible to have a config parameter to switch the sidecar outbound behavior, and allows sidecar forw

[2019-05-08 06:11] savitaashture commented on #13578
Same **tls** is working if mode is **PASSTHROUGH**

[2019-05-08 06:59] Demonsthere commented on #13863
Logs from pilot pod:

[code]

ACK errors:
[code]

[2019-05-08 07:12] maonaoda opened #13907 "can not find any tracing on stackdriver"
I installed isito following by "https://cloud.google.com/istio/docs/istio-on-gke/installing".
match in stackdriver-tracing-rule  is context.protocol == "http" || context.protocol == "grpc".

Stackdriver Trace API is enabled in my GCP project. but i can not find any tracing on stackdriver .
Stackdriver logging is showing well.

any else should i need to set?

[2019-05-08 07:13] emedina commented on #9113
@Stono I do see the `UC`:

`response_code="503",response_flags="UC"`

@arianmotamedi I still see the `503` even with the configuration you suggested:

[code]

[2019-05-08 07:16] sanadhis opened #15723 "Cannot getting started with Envoy: Unable to parse JSON as proto"
Hi,

I tried to follow the outdated readme here:
https://github.com/istio/proxy/blob/master/src/envoy/http/mixer/README.md
Somehow I have managed to build mixer, to start backend echo server, and to build envoy proxy.

However I could not start the envoy:
`./src/envoy/http/mixer/start_envoy`

And I received such error:
`Unable to parse JSON as proto (INVALID_ARGUMENT:(cluster_manager) clusters: Ca

[2019-05-08 07:18] Stono commented on #9113
Awesome; same issue then @arianmotamedi!

[2019-05-08 07:27] #13607 closed

[2019-05-08 07:44] zhiqli opened #13908 "VirutalService traffic management for persistent connection service"
I want to use VirtualService traffic management for persistent connection service.like this
![image](https://user-images.githubusercontent.com/3350002/57357833-7a303400-71a6-11e9-84f8-5a0808c388a9.png)
my VirtualService and DestinationRule like this
[code]

Now,I change the weight 20% to v1 80% to v2。After a while, there is no work，still 90% to v1,10% to v2。
And after i delete pod serverA , new se

[2019-05-08 08:50] hzxuzhonghu opened #13910 "Pilot disconnect with galley too frequently"
[code]

Pilot receives `received GoAway with http2.ErrCodeEnhanceYourCalm` from galley. It is more often during scale test(300 replica), at about 4~5minutes.

When the cluster stable, this also happen, with no fixed interval.

[2019-05-08 08:51] hzxuzhonghu commented on #13910
/cc @ozevren @sdake

[2019-05-08 09:36] NilsWild commented on #12824
When will this fix be released?

[2019-05-08 09:49] clyang82 commented on #13906
@cmluciano Do you know whether istio can support this feature? Thanks.

[2019-05-08 10:00] iftachsc commented on #13822
answers by item
1. yes. after upgrading and before rollback there were networking issues. we atlest encoutnered in kiali one microsvc to microsvc path were we had 503 constantly.
and also pilots seem to work very hard. after rolling back to 1.0.6 it both were solved and system returned to normal.

2. i think you mis understood. there were no problem of networking in 1.0.6. only when we were with 1

[2019-05-08 10:25] #5752 closed

[2019-05-08 10:57] mrwenhui opened #13911 "the network of container cant connect when spring clound start with istio sidecar"
**Bug description**
the network of container cant connect when spring clound start with istio sidecar
**Expected behavior**
the spring cloud service can connect to config-server and get config to start up.
**Steps to reproduce the bug**
i have one project with  a config-server and more than 10 spring clouod service.
when enable auto inject sidecar, I deployment those all the services, and config i

[2019-05-08 11:33] peter-fe opened #13912 "pod & node affinity, unify configuration options & add samples to documentation"
Currently node and pod affinity configuration is way different in style and options available. Also the documentation is lacking samples, so it's quite hard to figure out the syntax needed (especially when using Helm and --set)

The pod affinity settings are way more flexible currently, so it's possible to set the operator as well as defining multiple values (by using comma separation).
So extendi

[2019-05-08 13:21] sekka1 opened #13914 "Bookinfo with HTTPS external access example is not working"
**Bug description**
When trying to follow this "Bookinfo with HTTPS access to a Google Books web service" example, it is unable to retrieve the book info from google via an `https` call.

https://istio.io/blog/2018/egress-https/#bookinfo-with-https-access-to-a-google-books-web-service

**Expected behavior**
Expected it to be able to retrieve the book info via an `https` call after applying the `se

[2019-05-08 14:24] linsun commented on #13903
@geeknoid how should we handle this?  user can't submit a pr to wiki.

[2019-05-08 14:25] linsun commented on #13902
This is something we are targeting to fix in the new installer, pls check:  GitHub.com/istio/installer

[2019-05-08 14:28] geeknoid commented on #13903
Only members of the istio GitHub organization can edit the Wiki. So someone on our side needs to fix it.

[2019-05-08 14:31] linsun commented on #13908
what do you mean by persistent connection service?  any sample out that is using it?

[2019-05-08 14:31] linsun commented on #13907
@douglas-reid who should be looking at this?  pls reassign as needed.

[2019-05-08 14:35] howardjohn commented on #13863
Well with those resources I would expect everything to be fine (Pilot default cpu limit is pretty big, I think 1 CPU, so you should be well clear of that unless you are running thousands of services inside minikube somehow).

I noticed in the github email you had ACK ERRORS for the egressgateway a well, not just the sidecar in the comment now. If there is an ACK ERROR for the ingressgateway that i

[2019-05-08 14:45] sdake commented on #13910
with limits lifted:

[code]

limits set via sysctl
[code]

Still this seems problematic:
[code]
specifically `open-files`.  I will tune this and report back.

Of interest, raising the limit improved the state of the system (the `pods` no longer completely crater) and the GoAway results appear less often.

I will execute the test case, to validate this last assertion.

In any regard, we will as a p

[2019-05-08 14:45] Demonsthere commented on #13863
Regarding the certs, we create `istio-ingressgateway-certs` (those wanted by the gateway) between installing istio, and the gateway. The order is:
- 'istio-init`
- `istio`
- `istio-kyma-patch` that sets the cert, and kills the current ingressgateway pod to make it see the certs. This is done in a job, so it should run after creating the certs
- 'gateway', which has the supplied gateway manifest

W

[2019-05-08 15:04] ericvn commented on #12607
Today, we have a few parallel work threads; 1) make _istioctl_ downloadable (https://github.com/istio/istio/issues/11527) and 2) this item to add completion files.

I see a problem in that if someone wants to download the executable using 1), there is no documented way to use 2). The reason is because 2) has us build the completion files as part of the build process and add them to the archives an

[2019-05-08 15:12] sekka1 commented on #13914
@linsun @mbanikazemi I am reading over the link you just provided.  Everything i'm reading suggests that I need the `serviceentry` to allow it to go outbound but that doesn't seem to work (will keep on rereading it to see if I have not missed anything).

https://istio.io/blog/2018/egress-https/#enable-https-access-to-a-google-books-web-service

[code]

I'm wondering if it is because of my istio se

[2019-05-08 15:18] vngzs commented on #11741
Related underlying issue: #9784

[2019-05-08 15:24] mbanikazemi commented on #13914
Are all Istio pods up and running? what does `kubectl get pod -n istio-system` and `kubectl get pod` show?

Does the booking deployed within a single cluster work as expected?

[2019-05-08 15:25] #10716 closed

[2019-05-08 15:41] ozevren commented on #13467
It's ok. You can get started by creating a draft/WIP PR (please keep it short) and we can guide you from there. I'd recommend looking at other test components to figure out how to do this.

[2019-05-08 15:48] #13867 closed

[2019-05-08 16:01] nmittler opened #13915 "[Test Framework] Support for Parallel tests"
The test framework currently has issues when running parallel tests with respect to the teardown of resources.

Parallelism is important for reducing the test duration.

[2019-05-08 16:04] douglas-reid commented on #13907
This seems like a documentation issue, more than anything.

Have you sent >100 requests?  Trace sampling is set to 1%, iirc.  Relevant FAQ entry: https://istio.io/help/faq/distributed-tracing/#no-tracing.  Sometimes, the following is overlooked:

In the meantime, can you please post info about cluster/istio version here?

/cc @oaktowner

[2019-05-08 16:18] howardjohn commented on #13915
Just a comment in case it helps with anything - in istio/installer we run with setup/cleanup disabled and parallel tests and tests seem to work in that case.

[2019-05-08 16:22] howardjohn commented on #13908
What do you mean by this? Restarting the pod?

As far as I know, Envoy won't intentionally close the connections just to get the load balancing even, it will only apply to new connections. We face a similar issue with the connection between Envoy and Pilot, which is long lasting.

Maybe there is a better solution, but one possible answer is to reconnect every X minutes, so that a new connection wi

[2019-05-08 16:26] howardjohn commented on #13902
Like Lin mentioned, in https://github.com/istio/installer, targeted for 1.2 we will support this (and encourage it). There have been a fair number of changes needed to get this working, so I suspect the current installer in 1.1 would not be able to fully support a different namespace. While there are a lot of places where we are not dependent on `istio-system`, there are probably a few places we e

[2019-05-08 16:31] nmittler commented on #13915
@howardjohn I'm not sure that choice of installer has much to do with it.  I have been playing with multiple nested tests with multiple levels of parallelism and there are definitely issues.  When a test calls Parallel(), the parent test exits before it continues, leading to the framework (potentially) destroying resources that it needs (e.g. namespaces).

[2019-05-08 16:31] ostromart commented on #13822
Could someone from our networking team access your cluster to debug interactively? That would be the quickest way if you have no objection.

[2019-05-08 16:33] howardjohn commented on #13915
Oh got it, I think that is different then. I am talking about omitting the `-p 1` flag, which I think means it will run each test suite in parallel but not individual tests within those suites? I could be wrong though

[2019-05-08 16:35] iftachsc commented on #13822
not directly i.e. cannot have credentials. possible through a session with me via hangouts or teamviewer or whatever. and yes id like that. it would be great.

[2019-05-08 16:35] nmittler commented on #13915
Yes that's right. The current plan is to switch over to having per-suite targets, where we can allow the tests in the same suite to run in parallel, so we will eventually be able to get rid of the `-p 1` flag.

[2019-05-08 17:04] wattli commented on #13888
I will handle a5b0902

[2019-05-08 17:13] bianpengyuan commented on #13508
@silencehe09 No I think the api change won't make it, because it conflicts with the plans for operator and tracing api support in Sidecar API. For now I think we are in favor of customized bootstrap template and annotation. I will keep this issue open until to track this FR until we have a better way to provide configurability on this.

[2019-05-08 17:23] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that these tests still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 17:25] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 17:25] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 17:29] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 17:36] esnible commented on #13911
This may be a duplicate of https://github.com/istio/istio/issues/9454 and https://github.com/istio/istio/issues/11130 .

If I run into this I add scripting to wait for Envoy in my deployment YAML:

[code]

Try something like the above.  A similar variant is to do

[code]

and then `kubectl exec` into your pod and start the app manually.

It would be better if networking was ready when the app cont

[2019-05-08 17:44] esnible opened #13916 "Vagrant dev environment has insufficient Golang version"
[code]

[2019-05-08 17:46] esnible commented on #13916
It isn't just enough to raise to Go version:

[code]

[2019-05-08 18:07] iftachsc commented on #13822
I've upgraded the control plane - problem came back. i see it now even before rolling the sidecars.
i am trying to run *dump_kubernetes.sh -z -n istio-system* and i get:

tools$ ./dump_kubernetes.sh -z -n istio-system
Fetching debug/configz from pilot
Error from server (NotFound): pods "istio-pilot-5b5c897786-58gdb istio-pilot-5b5c897786-6kthg istio-pilot-5b5c897786-mhthn istio-pilot-5b5c897786-tf

[2019-05-08 18:16] nmittler opened #13920 "[Test Framework] Galley: Support multiple namespaces in Apply/Delete"
The Galley API currently only supports a single namespace for each call to `ApplyConfig`/`DeleteConfig`. It would useful to allow the user to pass a yaml doc with namespaces already defined, so that they could mix namespaces in a single doc.

FYI @ozevren @pitlv2109

[2019-05-08 18:19] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 18:21] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 18:26] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 18:27] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 18:28] lei-tang commented on #13895
@nmittler As far as I know, https://github.com/istio/istio/pull/13896 is not for fixing the failed tests in this issue. https://testgrid.k8s.io/istio-postsubmits#integration-k8s-tests shows that the tests in this issue still fail.
@yangminzhu Does https://github.com/istio/istio/pull/13896 fix failed tests in this issue?

[2019-05-08 18:35] lei-tang commented on #13895
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13896/istio-integ-k8s-tests/7897 shows that https://github.com/istio/istio/pull/13896 does not fix tests failed in this issue.

[2019-05-08 18:42] lei-tang commented on #13895
https://k8s-gubernator.appspot.com/build/istio-prow/pr-logs/pull/istio_istio/13896/istio-integ-k8s-tests/7897 shows that #13896 does not fix tests failed in the issue #13895.

[2019-05-08 19:11] sekka1 commented on #13914
@mbanikazemi

[code]

Everything looks like it is running fine.  I have an istio gateway/virtualservices routing inbound to the apps.

I am also able to do this to get traffic outbound with the HTTPS origination from the proxy instead of my app with this config.  This is following the book example.

[code]

[2019-05-08 19:13] bianpengyuan opened #13926 "Investigate using native zipkin proto in tracing e2e test"
In tracing e2e test, a local struct is defined to model query result of [zipkin traces api](https://zipkin.io/zipkin-api/#/default/get_traces). We should consider using the proto api defined in zipkin-go (https://github.com/openzipkin/zipkin-go/blob/master/proto/v2/zipkin.proto) once it is well developed, so that we can simplify the test by avoiding unmarshalling code and using jsonpath.

[2019-05-08 19:15] michaelkipper commented on #7669
As discussed on Slack, this is just as much applicable to the Passthrough cluster as it is to the Blackhole cluster.

[2019-05-08 19:31] Stono commented on #13848
OK this issue can be exacerbated when you have more pods:

Take this:

[code]

And then look at the first two requests fail:
<img width="1680" alt="Screenshot 2019-05-08 at 20 28 20" src="https://user-images.githubusercontent.com/1486729/57402744-de1b2280-71cf-11e9-8a2f-61fe27d7e7a9.png">

This app is getting a very small amount of traffic but enough to prevent time outs:
<img width="799" alt="Scr

[2019-05-08 19:41] nmittler commented on #13920
Actually, it appears that the Galley Apply/Delete methods already support nil namespaces.  Closing this for now, we can re-open if it appears this doesn't work as expected.

[2019-05-08 19:41] douglas-reid commented on #13848
assigning to @duderino for triage, etc.

[2019-05-08 19:53] Stono commented on #13851
If this is to be expected then at the least you need to call it our or give people the ability to disable it, there are most definitely code paths we would not want to just retry without the source service being involved in that decision.

[2019-05-08 19:58] nmittler commented on #13851
So the issue here is that we include retries on 503 by default (which you can modify).

Envoy doesn't currently allow the configuration of retries on a per-method basis, but it probably should.

@PiotrSikora WDYT?

[2019-05-08 20:01] Stono commented on #13851
So the issue here is that without 503 retries things like https://github.com/istio/istio/issues/13848 become an even bigger problem.

The retries are currently masking that issue.

I can't help but think the 503 here too was completely unjust and linked to that issue.

[2019-05-08 20:02] duderino commented on #13848
Can you point me to this PR?   We could potentially cherrypick

[2019-05-08 20:04] Stono commented on #13848
@arianmotamedi that is a problem but i don't believe it is the cause of this issue

[2019-05-08 20:06] duderino commented on #13848
@Stono we certainly have not proven it's the cause, but I'd like to keep considering it.

@PiotrSikora @silentdai @jplevyak your thoughts please

[2019-05-08 20:07] jaygorrell commented on #13848
@duderino https://github.com/envoyproxy/envoy/pull/6578

[2019-05-08 20:09] duderino commented on #13851
@Stono servers are allowed to terminate their end of the connection during the idle period.  That should be considered routine behavior, but the client must handle that event well and I'm not sure it is.

[2019-05-08 20:11] duderino commented on #13851
@arianmotamedi if we had the Envoy PR that detects the closed by upstream you mentioned in https://github.com/istio/istio/issues/13848#issuecomment-489751037, we could retry 503s less aggressively which could address this issue.

@PiotrSikora @jplevyak @silentdai

[2019-05-08 20:23] #10762 closed

[2019-05-08 20:50] bianpengyuan commented on #13823
This is also happening in 1.1 branch. Looks like the script takes too long to execute:

[2019-05-08 20:54] kumarsparkz opened #13931 "How to implement perFilterConfig on Istio VirtualService?"
**Bug description**
I am unable to add per filter config to virtual service so that I can manage kind: envoyfilter
I want to use this feature with istio's networking.istio.io/v1alpha3 api
https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/ext_authz_filter#per-route-configuration

**Expected behavior**
I created a kind: envoyfilter and able to route the traffic to external auth

[2019-05-08 21:00] Stono commented on #13848
@duderino if you can get a nightly build with that envoy fix I'm more than happy to test if it has any affect.

[2019-05-08 21:15] #13877 closed

[2019-05-08 21:16] rphillipsz commented on #13819
I believe this is the same issue as https://github.com/envoyproxy/envoy/issues/6520

[2019-05-08 21:19] linsun commented on #13912
@peter-fe please elaborate what you are thinking with some examples perhaps?
I agree with making it consistent and easier to configure in general.

cc @morvencao

[2019-05-08 21:21] linsun commented on #13914
@mbanikazemi can you help diagnose this?  Is this something we should add some automated testing around?

@sekka1 @vadimeisenbergibm  is on vacation fyi.   For blogs, we don't guarantee it will always work.

[2019-05-08 21:22] linsun commented on #13914
@sekka1 could you follow instruction here instead?  https://istio.io/docs/tasks/traffic-management/secure-ingress/.

[2019-05-08 22:08] pitlv2109 commented on #13920
Actually Galley support nil namespaces when applying, but not deleting.
https://github.com/istio/istio/blob/ec8795e9149ac64c24fb7c6aa30604b524ac3629/pkg/test/framework/components/galley/kube.go#L182

It will give a segfault (in `ns.Name()` if `ns` is nil). Should be a quick fix. I will send you a PR soon.

[2019-05-08 22:27] ozevren commented on #13920
Thanks for fixing it. Can you also make sure to add a regression test to
the framework integration test suite?

*From: *Phillip Quy Le <notifications@github.com>
*Date: *Wed, May 8, 2019 at 3:09 PM
*To: *istio/istio
*Cc: *Ozben Evren, Mention

Reopened #13920 <https://github.com/istio/istio/issues/13920>.

[2019-05-08 22:43] nmittler commented on #13920
@pitlv2109 thanks!

[2019-05-08 22:47] cscetbon commented on #10053
@diemtvu  why is that issue closed if it's still a problem ?

[2019-05-08 23:12] cscetbon commented on #9666
@eigokor did you check with 1.1.5 ?

[2019-05-08 23:34] singhravik opened #13936 "P8s metrics don't report the citadel, galley and pilot components"
**Bug description**
P8s metrics don't report the citadel, galley and pilot components via Prometheus queries below.
/api/v1/query?query=up
/api/v1/query?query=istio_build

**Expected behavior**
All istio labeled components should show up with their status and metrics.

**Steps to reproduce the bug**
1. Port forward to the bundled P8s (k port-forward -n istio-system prometheus-5fffdf8848-482pz 5909

[2019-05-08 23:35] singhravik commented on #13936
Curl command outputs:

`{"status":"success","data":{"resultType":"vector","result":[{"metric":{"__name__":"up","app":"istio-ingressgateway","chart":"gateways","heritage":"Tiller","instance":"10.1.34.116:15090","istio":"ingressgateway","job":"envoy-stats","namespace":"istio-system","pod_name":"istio-ingressgateway-5ddfcd4c95-prv8g","pod_template_hash":"5ddfcd4c95","release":"istio"},"value":[155735

[2019-05-08 23:58] douglas-reid commented on #13936
@singhravik I'm not sure that I understand the issue.  In your output, I see exactly what you claim is missing. What am I missing?

For instance, I see:

[code]

And even:

[code]

Which is what I see when I test locally as well.

The only issue I see is that `citadel` doesn't expose the `istio_build` metric.  Is that your issue?

[2019-05-09 00:04] crazyxy commented on #13014
I cannot reproduce this. I am using istio 1.1.5.

Service and deployment configuration:
[code]

`admin` and `app` services

[code]
endpoints
[code]

I ran following two commands:
[code]

I cannot get the root cause so far. Can you provide some more details or can you upgrade the istio version and  try again?

[2019-05-09 00:10] pitlv2109 commented on #13920
@ozevren Where is the framework integration test suite?

[2019-05-09 00:12] douglas-reid opened #13937 "Citadel should expose 'istio_build' metric"
mixer, pilot, and galley all expose a common `istio_build` metric. this allows tracking deployed versions across rollouts etc.

Citadel should as well. It can be as simple as adding a line like:

`version.Info.RecordComponentBuildTag("citadel")`

to the citadel codebase in server.go or whatever.

See also: https://github.com/istio/istio/issues/13936#issuecomment-490693636

[2019-05-09 01:56] zhiqli commented on #13908
@howardjohn i am delete pod after modify VirtualService.

[2019-05-09 01:56] linsun commented on #13903
I don't mind updating wiki directly, however, i would be missing reviews when I update it.

I think the new cmd is installgen

[2019-05-09 01:57] linsun commented on #13903
page has been updated, thanks @jroper for reporting this

[2019-05-09 01:57] #13903 closed

[2019-05-09 01:58] zhiqli commented on #13908
@howardjohn Now i am delete pod after modify VirtualService.
It seems that it can reconnect every X minutes to solve this problem。
Thank you very much.

[2019-05-09 01:58] zhiqli commented on #13908
@linsun it's mean two service keep connected.

[2019-05-09 01:59] jroper commented on #13903
No worries, thanks for updating!

[2019-05-09 02:24] #13541 closed

[2019-05-09 02:41] singhravik commented on #13936
Citadel and Pilot look like this:
[code]
whereas the metrics for other components are very informative and labeled as below:
[code]

[2019-05-09 02:42] maonaoda commented on #13907
gke version:  gke 1.12.6-gke.10
isito version:  Istio 1.0.6-gke.3

Had sent >100 requests.

One thing I can confirm is that I found the tracing record a month ago (2019-04-09), but there was no tracing record since that day. This seems to indicate that something is wrong about my cluster.

I only saw logs from the mixer container liking as
`info	transport: loopyWriter.run returning. Err: connectio

[2019-05-09 02:52] singhravik commented on #13936
Apart from Citadel, the p8s query response for `/api/v1/query?query=istio_build` is also missing these more components  [ingressgateway, prometheus].

Generally speaking both these queries don't report consistent information about all the Istio components. Query `/api/v1/query?query=up` is missing information like labels, pod-name, namespace etc and the Query `api/v1/query?query=istio_build` is mi

[2019-05-09 02:55] singhravik commented on #13936
Updated Issue title to 'P8s metrics don't report the citadel, galley and pilot components as detailed as other components.`

[2019-05-09 03:40] anticpp commented on #13908
Istio uses [envoy traffic shifiting/splitting](https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/traffic_splitting#id2) to do traffic management. Which envoy makes use of multiple upstream/cluster to route requests, each upstream/cluster handle unique connection management internal envoy.

Thus, I don't think there is any `long-connection` issue for request loadbalance, becau

[2019-05-09 04:55] wanghh2000 commented on #13129
@sbezverk Very glad to know news of istio started fully supporting ipv6.

[2019-05-09 05:14] bianpengyuan commented on #13907
No, the log you pasted looks like a transient error and a sending error should be logged explicitly as tracing api call error. Did you do anything for your cluster around that time range like cluster upgrade?

Also could you follow the [instruction here](https://istio.io/help/ops/telemetry/missing-metrics/) to see if stackdriver tracing related config (instance/handler/rule) works as expected? The

[2019-05-09 05:46] sekka1 commented on #13914
If I add this, it works.  Pods can reach external now.

[code]

I was hoping to be able to selectively limit items and use the `serviceentries`

[2019-05-09 06:31] maonaoda commented on #13907
@bianpengyuan

I did nothing about cluster,just created Serviceentry.

It's a transient error.
[code]
---
Verify Mixer is receiving Report calls
does it means this？
[code]

---
Verify the Mixer rules exist
[code]
---
Verify the Prometheus handler configuration exists
[code]
---
Verify Mixer metric instances configuration exists
[code]

[2019-05-09 07:08] Demonsthere commented on #13863
Hello again,
I have received some new logs from pilot, regarding the ACK error:
[code]
And yes, there are entries regarding the ingressgateway pod.

[2019-05-09 07:25] lvelvis opened #13938 "Istio cannot get the real IP address of the client"
Istio is deployed in a non-cloud environment, so the LoadBalancer address is not available and the gateway service is accessed using nodeport.The service is abnormal because the user's real IP address cannot be obtained
-
---
apiVersion: networking.istio.io/v1alpha3
kind: EnvoyFilter
metadata:
  name: ingressgateway-user-ip
  namespace: ingress
spec:
  workloadLabels:
    app: istio-ingressgateway

[2019-05-09 08:38] ardenxu opened #14004 "anyway to adjust service metrics histogram resolution in istio performance testing"
we are using perf/load testing tools to verify istio's performance with one namespace & 20 services.
 with 1000 QPS, we want to get p50/p90/p95 latency data, but found out P90 and P95 even P80 has  same latency value around 500 ms.

histogram_quantile(0.95, sum(rate(fortio_request_duration_seconds_bucket[5m])) by (le))

based on service metrics data, looks delay over 500ms will be counted in "le="

[2019-05-09 09:05] mrwenhui commented on #13911
@esnible  I modified the script curl --head localhost:15000 can 't mean you can get connected  with outside thought sidecar. Only you check if you services can  connected though sideccar
[code]

[2019-05-09 09:43] kshitijcode opened #13939 "Readiness probe failed"
**Bug description**
I installed istio using helm and tiller. Enabled side car injection for my namespace.
Whenever I try to deploy using kubernetes , it says readiness probe failed for the proxyv2 container.
**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**
helm

**Environment w

[2019-05-09 10:27] Liv1020 opened #13940 "When Duplicate entry of domain curl any domain return 404"
**Bug description**
![image](https://user-images.githubusercontent.com/5382358/57446523-71635f00-7287-11e9-9688-fe8396ed4a77.png)

![image](https://user-images.githubusercontent.com/5382358/57446812-29910780-7288-11e9-811f-07f518f30062.png)

Inadvertently posted the wrong configuration causing two domain names inside the route, curl any domain will return 404

**Expected behavior**
return ALLOW_AN

[2019-05-09 10:56] maonaoda commented on #13907
[code]
I find my stackdriver-tracing-rule doesn't have instances.After editing the rules , it still doesn't work

[code]

[2019-05-09 11:23] #10818 closed

[2019-05-09 12:45] sdake commented on #13910
Disabling MCP removes the 420 error.  Unfortunately, this does not improve the pod rampup latency or pod rampup stability.  The ball of blame will have to roll to a different component(s) for those problems.

@ozevren I would recommend further investigating the 420 error in MCP, if it is a terminal state or if MCP properly recovers from this scenario.

Cheers
-steve

[2019-05-09 13:02] farcaller commented on #8619
I'd also be interested in the existing workarounds.

[2019-05-09 13:04] tibetsam opened #13942 "inbound cluster is not listening on IPv6 localhost"
**Bug description**
I have pulled latest master branch which include fix for #13117 and #13027

But still inbound cluster for bookinfo productpage is still using ipv4 localhost.

root@mastermint:~/go/src/istio.io/istio# kb get pod productpage-v1-7c8b44b5c5-6fxvc -ojsonpath='{.status.hostIP}{"\n"}'
fd01:0:0:1::100
root@mastermint:~/go/src/istio.io/istio# kb get pod productpage-v1-7c8b44b5c5-6fxvc -

[2019-05-09 13:23] #8483 closed

[2019-05-09 13:37] tibetsam commented on #13942
@sbezverk i saw you provide the fix IPv6, maybe you can do same for this one?:)

[2019-05-09 13:37] RaduRaducuIlie opened #13944 "Back-off restarting failed container for prometheus in istio 1.1.0"
**Bug description**
Since moving to istio1.1.0 prometheus pod in state "Waiting: CrashLoopBackOff" -Back-off restarting failed container
**Expected behavior**
Update must have been done smoothly.
**Steps to reproduce the bug**
Install istio
Install/reinstall
**Version (include the output of `istioctl version --remote` and `kubectl version`)**
client version: version.BuildInfo{Version:"1.1.0", GitR

[2019-05-09 13:39] Stolr commented on #7607
Thanks !

[2019-05-09 13:40] silencehe09 commented on #13508
@bianpengyuan  I had met a problem when trying to make istio tracing behavior consistent with non-istio environment **if istio ingress gateway is used**.  Can you give some suggestions?

Consider this situation (whether share_span_context is set to  true or not; the following share_span_context is set to false):
![istio-tracing](https://user-images.githubusercontent.com/4385562/57456967-366e2500-7

[2019-05-09 13:43] silencehe09 commented on #13508
@bianpengyuan  I had met a problem when trying to make istio tracing behavior consistent with non-istio environment **if istio ingress gateway is used**. Can you give some suggestions?

Consider this situation (whether share_span_context is set to true or not; the following share_span_context is set to false):
![istio-tracing](https://user-images.githubusercontent.com/4385562/57458056-4555d700-72a

[2019-05-09 13:43] jwendell commented on #8061
Fixed in #13899.

[2019-05-09 13:43] #8061 closed

[2019-05-09 13:48] sbezverk commented on #13942
@tibetsam Thanks for reporting it. Let me look into it and get back to you.

[2019-05-09 14:09] arianmotamedi commented on #13848
I doubt https://github.com/envoyproxy/envoy/pull/6578 is the issue. That only happens to existing connections being reused - according to the logs @Stono posted for one of the 503s, it happened on a new connection. I agree that this seems to be a different issue.

[2019-05-09 14:10] arianmotamedi commented on #9113
@emedina would be great if you could capture and post Envoy logs for a 503 scenario.

[2019-05-09 14:15] howardjohn commented on #13910
I have seen this error a few times with 0 load recently as well, so scale may not be the cause (it may make it happen more frequently though)

[2019-05-09 14:23] #10829 closed

[2019-05-09 14:38] esnible commented on #13911
@mrwenhui Did this change mitigate your problem?

[2019-05-09 14:49] howardjohn commented on #13863
The ACK ERRORS before you create the certs is expected, Envoy will reject the config because the certs don't exist.

Connection terminated between envoy and pilot every 5+ minutes is expected. Mixer should be completely unrelated, Envoy will call mixer asynchronously to send telemetry info.

If you cannot connect to kubernetes (and pilot), sounds like there may be some k8s networking issues you ar

[2019-05-09 15:01] nmittler commented on #13599
This has been fixed by prior work.

[2019-05-09 15:01] #13599 closed

[2019-05-09 15:41] nmittler commented on #10023
The test in question no longer exists and the apps component has been replaced with Echo. Closing.

[2019-05-09 15:41] #10023 closed

[2019-05-09 15:42] nmittler commented on #11561
This test no longer exists and the apps component has been replaced by Echo.

[2019-05-09 15:42] #11561 closed

[2019-05-09 15:44] cscetbon commented on #10659
@ramaraochavali any news on that issue ? Were you able to make it work ?

[2019-05-09 15:45] nmittler commented on #13029
This test has since been renamed to `TestReachability` and is now green on testgrid. Closing for now.

[2019-05-09 15:45] #13029 closed

[2019-05-09 15:45] nmittler commented on #13390
@pitlv2109 is this still an issue?

[2019-05-09 15:47] nmittler commented on #13677
@liamawhite that sounds good.  Do you want to take over this issue?

[2019-05-09 15:51] ramaraochavali commented on #10659
@cscetbon do you mean stateful sets in general? If yes, I was able to make it work as documented https://github.com/istio/istio/issues/10659#issuecomment-484470101. I was able to work with the original complex names as well.

[2019-05-09 15:52] howardjohn commented on #10659
Another example: https://github.com/istio/tools/pull/127

[2019-05-09 15:57] An0nymous0 commented on #8807
More concerned about this issue, whether there are plans

[2019-05-09 16:08] gotwarlost commented on #13423
Sorry, was out for a couple of days. Upgraded to 1.1.3 and bug is no longer reproducible. Thanks!

[2019-05-09 16:08] #13423 closed

[2019-05-09 16:08] gotwarlost commented on #13839
Sorry, was out for a couple of days. Upgraded to 1.1.3 and bug is no longer reproducible. Thanks!

[2019-05-09 16:08] #13839 closed

[2019-05-09 16:11] howardjohn commented on #13014
Similar issue that was marked as "fixed" https://github.com/istio/istio/issues/13423#event-2330725961.

Its a bit concerning that we don't know how/why it was fixed (maybe someone does, but it wasn't clear to me from the commits that landed).

[2019-05-09 16:16] cscetbon commented on #10659
@ramaraochavali, @howardjohn so it seems one of the key is to have that ServiceEntry. So each time we add one node, we need to update that ServiceEntry. Any order in which it should be done ? Will it mean that there will be some temporary disruption between the new added node and the others ?

[2019-05-09 16:17] howardjohn commented on #13944
The logs look healthy, is there no logging from when it actually crashes? It just goes from `Server is ready to receive web requests.` to crashed?

[2019-05-09 16:24] howardjohn commented on #13940
Can you provide the Gateway config that is doubled? We had very similar issue in https://github.com/istio/istio/pull/13731 fixed in 1.1.5. Do you see the `pilot_total_rejected_configs` metric incremented?

[2019-05-09 16:25] howardjohn commented on #13939
Can you provide the logs for pilot and the istio-proxy container of the pod that is failing?

[2019-05-09 16:26] RaduRaducuIlie commented on #13944
Yes, there  is no logging from when it actually crashes. Logging is `Server is ready to receive web requests` but the container state is "Waiting: CrashLoopBackOff" -Back-off restarting failed container

[2019-05-09 16:29] gotwarlost commented on #13423
Could it be this commit?

https://github.com/istio/istio/commit/497c85e7f4e0a0783991d015023a1393a60d4731

[2019-05-09 16:31] howardjohn commented on #10659
By node I assume you mean node of your application, not Kubernetes node right?

If so I think you can update the ServiceEntry first -- this should be no risk. Say we add hello-3 and we only have 0, 1, and 2. Any requests to hello-3 will still fail, just like if you did a request to hello-3 without the serviceentry. Then once hello-3 does come up, the requests should be sent to hello-3 and it shoul

[2019-05-09 16:33] gotwarlost commented on #13839
Looks like this is the fix: https://github.com/istio/istio/commit/7531ca17b366b516cbd0d34ffa89db3d00a90d27

[2019-05-09 16:45] deadc opened #13950 "Incorrect version on istioctl proxy-status"
**Bug description**

The istioctl proxy-status returns me a different version of what is actually installed.

[code]

**Expected behavior**

The correct return of the installed version

**Steps to reproduce the bug**

Install version 1.1.5 of the istio and run the command `istioctl proxy-status`

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

[code]

**How w

[2019-05-09 16:48] pitlv2109 commented on #13390
I don't know. I haven't tried it (will try soon), but since we're using echo app now, maybe this issue is not relevant now?

[2019-05-09 16:48] trevorlinton commented on #13589
1. Create one IP address or ingress-gateway in istio
2. Create two domain entries a.example.com and b.example.com both pointing to the same IP address and ingress-gateway
3. Create two certificates one which is a wildcard *.example.com and one which is a regular single certificate without a sans for b.example.com
4. Create two applications the first should host a.example.com and only serve up a st

[2019-05-09 16:54] ostromart commented on #13822
I've had some discussions with @mandarjog and someone from the networking team will work with you directly to debug the cluster (I work mainly on upgrade issues). btw. I did not get the logs but if you have them they may be useful for the folks doing the direct debugging.

[2019-05-09 16:57] iftachsc commented on #13822
Thanks.
I’ve sent you the logs via WeTransfer.
You should have them.
I know we have emery with mandar but I’m
Not sure about someone else’s from the net team.

Should I sent the logs to someone else?

[2019-05-09 17:05] cscetbon commented on #10659
@howardjohn yes I meant pods (sorry I had Cassandra in mind and was thinking about Casandra nodes). Okay good. I'll test it as soon as I can and see if I can make it work with my statefulsets as well. So does it mean that this ticket should be closed ? Or is it open in order for Istio to create the ServiceEntry on the fly instead of having to create it manually ?

[2019-05-09 17:14] bianpengyuan commented on #13508
@silencehe09 Are you seeing trace generated by istio cannot connect to the ones generated outside of istio? If that is the case, I think maybe it is because ingressgateway is not aware of the trace initiated by the external client. Could you please try to set `x-client-trace-id` headers? https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/tracing#how-to-initiate-a-trace

[2019-05-09 17:15] pitlv2109 commented on #13390
Actually, I think they are running in presubmit now?
https://circleci.com/gh/istio/istio/412177?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link (search for TestRBACV2Basic in the test logs),
compared to https://circleci.com/gh/istio/istio/409372?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link (Search for TestRBACV2 <- same test,

[2019-05-09 17:27] ozevren commented on #13910
I'll take a look.

MCP should keep reconnecting upon disconnects, so it shouldn't be a
terminal state for config transfer.

*From: *John Howard <notifications@github.com>
*Date: *Thu, May 9, 2019 at 7:16 AM
*To: *istio/istio
*Cc: *Ozben Evren, Mention

I have seen this error a few times with 0 load recently as well, so scale

[2019-05-09 17:29] cagataygurturk commented on #12549
Same issue here.

[2019-05-09 17:34] douglas-reid commented on #13936
A few thoughts:
- Prometheus will never have an `istio_build` metric. Istio is not responsible for building Prometheus. It is a third-party addon.
- Ingressgateway is an Envoy proxy given special status based on config. It doesn't share the same go-based codebase -- and therefore does not include the version library. To request that all istio proxies include the Istio build information through the

[2019-05-09 17:34] #7879 closed

[2019-05-09 17:34] #8276 closed

[2019-05-09 17:37] #2750 closed

[2019-05-09 17:41] arianmotamedi commented on #13938
This is expected. By default, when a request reaches a k8s worker node, the packet's source ip gets set to the ip of the node before being DNAT'd to the destination pod ip (which can reside on either the same or a different node), effectively overwriting the source (client) ip. This is useful because it allows any worker node to serve requests, regardless of whether the node has any pods running o

[2019-05-09 17:46] ozevren commented on #13920
integration/tests/framework

[2019-05-09 17:48] howardjohn commented on #13950
This is because we read ISTIO_PROXY_VERSION not ISTIO_VERSION. The latter refers to the istio installation version (ie release-1.1-20190509-09-1, or 1.1.5, etc), where as ISTIO_PROXY_VERSION is the compatibility version -- which is only incremented when backwards incompatible changes are made.

It probably makes sense to use ISTIO_VERSION for istioctl

@esnible thoughts?

[2019-05-09 17:52] howardjohn commented on #10039
This should be handled by the [Sidecar](https://istio.io/docs/reference/config/networking/v1alpha3/sidecar/) now in 1.1. If there are issues with this please open an issue, currently everything should follow namespace isolation (as specified in the Sidecar, not out of the box)

[2019-05-09 17:52] #10039 closed

[2019-05-09 17:52] bianpengyuan commented on #13907
Hi, the tracing rule does not look right because it does not have addon reconcile labels.

Could you run the following command and paste the output here:

And sorry the instruction I linked is for 1.1. Could you try to follow the [instruction here](https://archive.istio.io/v1.0/help/ops/telemetry/missing-metrics/#verify-mixer-is-receiving-report-calls) to get output from `/metrics`, see if there a

[2019-05-09 17:57] sandmman commented on #2010
My team would also like to be able to pass all headers and query_params in our adapter. Have there been any updates on this front or workarounds?

[2019-05-09 18:04] #12075 closed

[2019-05-09 18:15] Stono commented on #13848
Who is owning the investigation on the istio side?

I'm wondering what else I can do to help debug this.  I need to find a solution

[2019-05-09 18:22] esnible commented on #13950
I added `kind/docs` because https://preliminary.istio.io/docs/reference/commands/istioctl/#istioctl-proxy-status doesn't document the output of `istioctl proxy-status` specifically the meaning of the columns.

As @howardjohn pointed out, there are two versions, and you can see the both by doing `istioctl proxy-config bootstrap <pod> | grep VERSION`.  I agree with Howard's suggestion, to show the `

[2019-05-09 18:42] #13916 closed

[2019-05-09 18:52] sdake commented on #13910
Agree grpc should reconnect and we do appear to see this in testing.  What is unclear is why the disconnects are happening when Pilot is reading service/pod information directly and feeding into ADS (in 1.1).

Cheers
-steve

[2019-05-09 18:54] sdake commented on #13910
@ozevren
Here is a simple manifest that generates the problem.  Make sure to have plenty of memory and cpu:

[code]

Cheers
-steve

[2019-05-09 19:07] pitlv2109 commented on #13390
@lei-tang @yangminzhu fyi

[2019-05-09 19:31] aguromanodg commented on #12877
thanks @yangminzhu , that was our alternative, and we have done that. Thanks!

[2019-05-09 19:31] #12877 closed

[2019-05-09 20:14] aguromano opened #13957 "ServiceRoleBinding for unauthenticated only"
**Bug description**
Not sure if this is a bug, but just cannot find it in the documentation. So I have a service, and there are paths I need unauthenticated, and others for authenticated. So in order to allow unauthenticated I have set `originIsOptional: true` in the istio Policy. And on the `ServiceRoleBinding` I used:
[code]
As stated in the [documentation](https://istio.io/docs/concepts/securit

[2019-05-09 20:35] frankbu commented on #13950
Documenting the columns in `istioctl config proxy-status -h` would seem good, but I notice that the help doc of no other `istioctl` or `kubectl` command gets into that kind of detail (e.g., `kubectl config get-contexts -h`).

Maybe this doc could use a little more elaboration? https://preliminary.istio.io/docs/ops/traffic-management/proxy-cmd/#get-an-overview-of-your-mesh

[2019-05-09 20:43] adityats2020 commented on #13950
Why are several pods not 100% synced? This wasn't the case with Istio-1.0. Is this expected behavior?

[2019-05-09 20:51] adityats2020 commented on #13832
90 days - https://istio.io/help/faq/security/
Automatic rotation AFAIK.

[2019-05-09 21:08] esnible commented on #13950
This work item seems to be a duplicate of https://github.com/istio/istio/issues/9597

@frankbu All I want is for the Cobra text to be amended with something like

[code]

@adityats2020 The percentage is the "scope of visibility".  It does not need to be 100% and we may remove that information because it is confusing.  For discussion see https://github.com/istio/istio.io/issues/3853

[2019-05-09 21:12] incfly commented on #13853
/cc @incfly

[2019-05-09 21:12] pitlv2109 commented on #13895
`TestGroupRBACV1` passed in postsubmit but `TestGroupRBACV2` is still failing.
https://testgrid.k8s.io/istio-postsubmits-master#integration-k8s-tests
Logs: https://storage.googleapis.com/istio-prow/logs/istio-integ-k8s-tests-master/43/build-log.txt

[2019-05-09 21:21] nmittler commented on #13895
@pitlv2109 I think I have a fix for that here: #13961

[2019-05-09 21:27] pitlv2109 commented on #13895
Hmm Yangmin's PR (https://github.com/istio/istio/pull/13928) removed the starting `---` in both files, but only one of them passed. Both still have trailing `---` though (but #13961 claims they will fail? again, one of them passed).

https://github.com/istio/istio/blob/master/tests/integration/security/rbac/v1/group/testdata/istio-group-list-rbac-rules.yaml.tmpl (this one passed, has trailing `---

[2019-05-09 21:35] pitlv2109 commented on #13920
You guys already have test for that https://github.com/istio/istio/blob/6089adf96580abed81f56fb7f87bc78d78a5bdd8/tests/integration/framework/galley_test.go

However, only native env support deleting multiple namespaces at once. And since maybe unit tests are using native env by default, the test passes. I think we can just add the nil check and use `""` for ns if ns is nil for and verify manually

[2019-05-09 21:53] howardjohn commented on #13710
Action items from networking WG:
* 5 min default
* bootstrap respects dns
* use "resolution: none" everywhere
* allow unambiguous fqdns
* open envoy issue

[2019-05-09 21:56] Stono commented on #13710
All sounds awesome

[2019-05-09 22:26] geeknoid opened #13964 "Implement test framework support for example testing"
See https://docs.google.com/document/d/1ilZUZvuH_OaebxC7jdpySmJdEju_3neytMaamIqy9fI/edit?ts=5cd49196# for details.

[2019-05-09 22:27] pitlv2109 commented on #12394
Another little tracker for the changes introduce after the scope review meeting. Below are the changes that I think we need based on the diff in the design doc and the implementation that we have done. Feel free to make any changes.

For `ServiceRole`:
- [ ] Change `Rules` to `Permissions`.
- [ ] Remove `constraints`.

For `Binding` and `AuthorizationPolicy`:
- [ ] Change `subjects` to `principals

[2019-05-09 22:32] sdake commented on #13045
@morvencao it worked in 1.1 rc, but again at the last moment prior to 1.1 release, some of the work was reverted to prevent mesh-wide crashes.

Cheers
-steve

[2019-05-09 22:39] sdake commented on #12122
@kramerul I very strongly want to see this feature merge in the 1.2 series.  The deadline for merge is May 21st and tests are mandatory or the work will be pushed to 1.3.

I am wrapping my head around the testing requirements given all the repo reorganization planned which put this feature at risk for 1.2 delivery.

@costinm can you provide some testing guidance?

[2019-05-09 22:48] #9447 closed

[2019-05-09 22:59] howardjohn opened #13967 "Rewrite istio-iptables.sh in go for testability"
The current istio-iptables.sh is a extremely critical part of Istio, yet is poorly tested and relies on all sorts of crazy bash stuff that most people don't really understand. This makes it hard to test (I think we just recently added some tests, but only for a small part of the code). Since it it hard to test, it is also hard to confidently change (for example: https://github.com/istio/istio/pull

[2019-05-09 23:00] costinm commented on #13653
This is mostly feature complete - automated testing in place, pending more tests and bug fixes.

Leaving it open for tracking.

[2019-05-09 23:01] costinm commented on #13373
This can be done using Kind - you can run the deb installer inside the kind node and verify it works.

[2019-05-09 23:02] costinm commented on #11731
Switching it back to 1.3 - we'll not block on this for 1.3 nor is it likely to be beta/prod usable given current schedule and priorities.

[2019-05-09 23:07] costinm commented on #13702
I would say this is done.

[2019-05-09 23:07] #13702 closed

[2019-05-09 23:12] costinm commented on #13701
Done

[2019-05-09 23:12] #13701 closed

[2019-05-09 23:12] costinm commented on #13700
I believe the conclusion is we'll use DinD for IP6 tests for CNI.
Work in progress to add CNI to the new installer test suite.

[2019-05-09 23:18] #13799 closed

[2019-05-09 23:39] mabushey opened #13968 "Unable to route/proxy to external site"
**Bug description**
I would like google.example.com to serve up google.com. I can serve up internal sites just fine, and in a pod I can curl external sites.

I have Istio 1.1.2 installed via the awesome Bonzai operator.

I can curl external sites, so I don't think I actually need a ServiceEntry
[code]

I've tried with other http sites (google is https only). I'm doing SSL termination on the ELB, s

[2019-05-09 23:39] nmittler opened #13969 "[Testing] K8s integration tests failing on CircleCI"
https://testgrid.k8s.io/istio-presubmits#circleci-integration-kubernetes

All of the failing tests appear to be using Echo and are failing with:

[code]

For example: https://circleci.com/gh/istio/istio/412177?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2019-05-09 23:40] nmittler commented on #13390
@pitlv2109 I've raised #13969

[2019-05-09 23:48] #10277 closed

[2019-05-09 23:59] pitlv2109 commented on #13957
If I understand you correctly, say you have two paths, `path1` and `path2`, and you want unauthenticated users to access `path1` but not authenticated users?

[2019-05-10 00:13] fpesce commented on #13301
I can't reproduce on master right now. @howardjohn , did you manage to reproduce this one in a deterministic way?

[2019-05-10 00:34] howardjohn commented on #13301
It was happening consistently but doesn't seem to anymore. Perhaps it was fixed. I recall being able to get this 100% of the time.

It is also possible the the test code no long introduces the race though

[2019-05-10 00:35] howardjohn commented on #13301
Actually didn't read the error message. This is grpc related, and we just did a update of our grpc libraries. I suspect maybe that is why it no longer occurs. I think its safe to close ?

We either added or are very close to adding race detection on these integration tests so anything like this will be caught

[2019-05-10 00:38] kasunt84 opened #13972 "Supporting Elastic's Beat platform"
**Describe the feature request**
Supporting Elastic's metricbeat. Metricbeat as well as the whole Beats ecosystem has come along way to support various protocols. It will be handy to setup Kibana dashboards similar to Grafana to show various stats in the mesh. Not that Grafana is bad in any way but we use EK stack quite exclusively for logging/monitoring and analytics so it will be nice to have a

[2019-05-10 00:43] howardjohn commented on #13967
Another example motivation: https://github.com/istio/istio/pull/13970/files

[2019-05-10 00:48] #10848 closed

[2019-05-10 00:52] ozevren commented on #13910
@sdake With this potential fix, I am still seeing some too-many ping problems, but they seem to stabilize after a while:
https://github.com/istio/istio/pull/13973. Any chance you can check/confirm on your side?

[2019-05-10 01:10] howardjohn commented on #10659
Lets not close this for now - we shouldn't need a ServiceEntry for this ideally. Good idea on the wildcards, I'll have to try that out.

This PR https://github.com/istio/istio/pull/13970/files seems to solve many of the problems we see with kafka, cassandra, etc

[2019-05-10 01:42] maonaoda commented on #13907
sure

kubectl get rule stackdriver-tracing-rule -n istio-system -o yaml
[code]
---
kubectl get tracespan stackdriver-span -n istio-system -o yaml
[code]
---
kubectl get stackdriver handler -n istio-system -o yaml
[code]

---
kubectl -n istio-system port-forward <istio-telemetry pod> 9093 &
[code]

[2019-05-10 01:47] maonaoda commented on #13907
It seems that Mixer is not  receiving Report calls.

[2019-05-10 02:05] mrwenhui commented on #13911
yes, all the services run as my expection.

[2019-05-10 02:15] tushar00jain commented on #13832
@adityats2020 I just checked the CA and it's valid for 1 year, I checked a few other certificates created which are valid for 90 days

[2019-05-10 02:15] silencehe09 commented on #13508
@bianpengyuan Thanks. It seems to be right when I initialte the span of external client.

[2019-05-10 03:16] ramaraochavali commented on #10659
+1 for making Istio create service entries to avoid manual creation.

[2019-05-10 04:21] cscetbon commented on #10659
@arielb135 I've tested your sample at https://github.com/istio/istio/issues/10659#issuecomment-484130321. It works except when mtls is enabled
[code]

I get errors when trying to curl both servers :

[code]

I have the same config as you had :
[code]

Any idea what could be wrong ?

@howardjohn can you elaborate why the PR you pasted helps ? It's gonna take me some time to digest it

[2019-05-10 04:24] cumirror opened #13977 "HPA will not work because istio-proxy missing request for memory?"
Hi,

i have a deployment test-default in namespcace istio-monitor02, and when enable istio, HPA will not worker.

**Bug description**
[code]

[code]

BUT HPA can't get mem/cpu info:
[code]

**Expected behavior**
when enable istio, hpa could work correctly.

**Version (include the output of `istioctl version --remote` and `kubectl version`)**
k8s v1.0.11 istio v1.0.6

**problem analysis**
i think t

[2019-05-10 05:00] kshitijcode commented on #13939
@howardjohn : Istio-proxy logs

`2019-05-10T04:48:51.056155Z	info	FLAG: --applicationPorts="[80]"
2019-05-10T04:48:51.056183Z	info	FLAG: --binaryPath="/usr/local/bin/envoy"
2019-05-10T04:48:51.056196Z	info	FLAG: --concurrency="2"
2019-05-10T04:48:51.056200Z	info	FLAG: --configPath="/etc/istio/proxy"
2019-05-10T04:48:51.056205Z	info	FLAG: --connectTimeout="10s"
2019-05-10T04:48:51.056208Z	info	FLAG

[2019-05-10 05:02] kshitijcode commented on #13939
@holgero , Also there are 4 istio-pilot pods running. Which one's log do you need?

[2019-05-10 05:14] kshitijcode commented on #11838
I am facing a similar issue over here :
https://github.com/istio/istio/issues/13939

[2019-05-10 05:31] kshitijcode commented on #12382
Facing similar issue over here : https://github.com/istio/istio/issues/13939

[2019-05-10 06:00] bianpengyuan commented on #13907
The tracing rule seems to be wrong, it does not have instance included. Also why your tracing rule is different from the one you pasted in the former comment?

You need to get curl `/metrics`, i.e. instead of localhost:9093, you should curl localhost:9093/metrics.

[2019-05-10 06:10] cumirror commented on #13977
found it has been solved here https://github.com/istio/istio/pull/11329

[2019-05-10 06:10] #13977 closed

[2019-05-10 06:12] silencehe09 commented on #13508
@bianpengyuan  By the way, can we only disable the tracing of istio ingress gateway?

[2019-05-10 06:17] maonaoda commented on #13907
I restored it to the original.beacuse it didn't work.

Is that mean the instance is right like this ?

kubectl get rule stackdriver-tracing-rule -n istio-system -o yaml
[code]

[2019-05-10 06:27] bianpengyuan commented on #13508
No, I don't think we could control tracing at per workload granularity. @douglas-reid has a wip proposal  about better tracing control via API: https://tinyurl.com/y3lnlf7n

[2019-05-10 06:27] maonaoda commented on #13907
1 Verify Mixer is receiving Report calls

[code]

2 Verify there are no known configuration errors
   metrics the most up-to-date value is 0。

3 Verify Mixer is sending metric instances to the Prometheus adapter

[code]

[2019-05-10 06:31] bianpengyuan commented on #13907
The rule looks right to me now.

`mixer_runtime_dispatch_count{adapter="stackdriver",error="false",handler="handler.stackdriver.istio-system",meshFunction="tracespan"} 772056` suggests tracespans are dispatched to stackdriver handler correctly. I am running out of idea what is going wrong here now..

[2019-05-10 06:41] maonaoda commented on #13907
@bianpengyuan There should be other causes.Thank you for your help.

[2019-05-10 07:00] Stono commented on #13848
I'm still relatively convinced that these UC's are causing us other problems.  I would appreciate it if someone could look at these connection logs and see if anything stands out.

For context, we have:
`[ searchone-consumer (single instance) ]` -- `POST` --> `[ search-one (3 instances) ]`

searchone-consumer is doing approximately 250 ops/sec, search-one is handling approximately 600 ops/sec.

Wh

[2019-05-10 07:07] Demonsthere commented on #13863
Yes, I can confirm that this happens after creating the certs, and killing the ingressgateway pod (a patch helm charts that runs after installing istio-init and istio itself)

[2019-05-10 07:24] zgfh opened #14137 "Can we change grafana datasource name to "prometheus"?"
because  datasource name of promethues operator  create is "prometheus",not "Prometheus", If we change to same, it will be easy to import

https://github.com/istio/installer/blob/master/istio-telemetry/grafana/dashboards/galley-dashboard.json#L35
https://github.com/coreos/kube-prometheus/blob/master/manifests/grafana-dashboardDatasources.yaml#L3

[2019-05-10 08:26] zhiqli commented on #13908
hey @howardjohn

[2019-05-10 08:40] zhiqli commented on #13908
hi @howardjohn @anticpp  I did some testing on envoy's Traffic splitting, reference the envoy doc [https://www.envoyproxy.io/docs/envoy/latest/configuration/http_conn_man/traffic_splitting#traffic-splitting-across-multiple-upstreams](url)

my demo like this
![image](https://user-images.githubusercontent.com/3350002/57513507-01b1aa80-7341-11e9-86a2-950e0ad3a9a5.png)
Between services is grpc long co

[2019-05-10 09:34] meganwalker-ibm commented on #12855
If `--force` is going to be the recommended upgrade then I suggest updating the https://istio.io/docs/setup/kubernetes/upgrade/steps/ docs for the `Helm upgrade` option of the Control Plane upgrade; along with understanding if having the CRDs forced would cause any downtime of a running istio system during the command.

[2019-05-10 10:11] xliuxu commented on #13414
I would like to pick up this : )

[2019-05-10 11:10] dghant1024 commented on #12308
@Miouge1 Thanks for the insight.  I'm running into the same identical issue ... I'm curious to know if you changed the CNI to use a different CNI, or if are you still using Calico?  If I recall correctly, Calico natively uses flannel to deliver package payloads "on the wire." I also understand that Calico supports other networking protocols (ex:BGP).  Did you change to use a different CNI (ex: Wea

[2019-05-10 11:19] iftachsc commented on #13822
update: we also see many of these:
	warn	ads	Failed to push, client busy sidecar~10.32.41.7~<podName>-665f9d6f58-

we have lots of them in istio pilot.

[2019-05-10 11:41] jwendell commented on #13260
We have `kubectl get istio-io` that retrieves everything istio-related.

[2019-05-10 11:45] tarunp opened #13978 "Certificate Authentication for Istio"
**Bug description**
I am trying to setup Istio for my Kubernetes cluster and we have a scenario where our external service rely on certificate based authentication for its clients.  But when i configure Istio ingressgateway using gateway/virtualservice using this (https://istio.io/docs/examples/advanced-gateways/ingress-sni-passthrough/) link my request are not able to reach my underlying service

[2019-05-10 11:52] daudn commented on #9157
Did anybody find a fix for this? I cannot connect to my Datastore database while using GKE with Istio.

[2019-05-10 12:11] aguromano commented on #13957
Hi @pitlv2109 , yes, exactly that! Sorry for explaining it so badly

[2019-05-10 12:19] Miouge1 commented on #12308
@dghant1024 Calico has an IP-in-IP mode, which I do not use (and I think it's different than Flannel's, you might be mixing up with Canal). Instead I use the routing mode which delivers wire speeds.

`curl` was enough to findout that something was wrong with the CNI.

Good lock.

[2019-05-10 12:33] kramerul opened #13979 "istio-iptables.sh doesn't handle multiple excludes and include correctly"
**Bug description**

If using the option `-i` or `-x` in istio-iptables.sh with a comma separated list of ip ranges, the script doesn't use the option at all.

For example the loop in line 229

[code]
runs only once, because `OUTBOUND_IP_RANGES_EXCLUDE` is no array variable. It's a simple string variable build from a command line argument.

**Expected behavior**

Script works correctly

**Steps to

[2019-05-10 12:35] kramerul commented on #13979
This is already fixed in #13579

[2019-05-10 12:45] kramerul opened #13980 "istio-iptables.sh doesn't handle IPv6 address ranges correctly"
**Bug description**

Using the `-x` or `-i` option in `istio-iptables.sh` with a valid IPv6 address range (e.g. `1111:a2a2:b3b3:c4c4:d5d5:e5e5:f6f6:a8a8/32` ) doesn't work properly. There is no `ip6tables` command executed with this ip range.

**Expected behavior**

Script works correctly

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl ver

[2019-05-10 12:56] aguromano commented on #10068
hello any update on this? I am having the same issue, thanks!

[2019-05-10 13:02] aguromano commented on #10068
For example, I want to allow
[code]

But do not allow this
[code]
GET /
[code]

[2019-05-10 13:10] dghant1024 commented on #12308
Thanks @Miouge1 You're correct, I'm asking because I use Canal which offers Calico.  I may be wrong, but the way I understand Canal is that it maximizes the policy features offered by Calico and allows the use different network typologies (BGP or IP-in-IP) for delivery.  But, I think if neither protocol is specified for Calico, as Canal configuration, (I think) Canal defaults to flannel to deliver

[2019-05-10 13:28] yuchen9459 opened #13981 "How does pilot retrieve and apply configuration in Kubernetes?"
I am using Istio with Kubernetes currently. As far as I know, the pilot in control plane is responsible for the configuration of data plane (Envoy proxy), and we configure Istio with YAML file in Kubernetes.

For example, if we want to configure a new virtual service, we will use `kubectl apply -f newvs.yaml`. I wonder how does Istio pilot retrieve the configuration and apply the new configuration

[2019-05-10 14:05] jnativio commented on #12653
@prabaharanit You can use: `helm template --set global.proxy.readinessInitialDelaySeconds=10  helm/istio --name istio --namespace istio-system | kubectl apply -f -`

[2019-05-10 14:18] ajitchahal commented on #10068
@aguromano  Asterisk at the end dont work for me.
For internal inter-service access we end up using multiple paths:
`
paths: ["*/oauth/authorize","*/oauth/token", "*/login", "*/logout.do", "*/saml", "*/token_keys"]
`
or we allow access to all endpoints or none.

For external access via istio ingress we use virtual service rules, for e.g.
[code]

[2019-05-10 14:26] #13911 closed

[2019-05-10 14:30] aguromano commented on #10068
thanks @ajitchahal ! We ended up doing the same for the paths that match that, but the there are others that we just cannot make it work, likes the ones I posted [here](https://github.com/istio/istio/issues/10068#issuecomment-491280861).

[2019-05-10 14:30] howardjohn commented on #13939
Interesting, we get CDS update but no LDS: `Envoy proxy is NOT ready: config not received from Pilot (is Pilot running?): cds updates:
       │ 1 successful, 0 rejected; lds updates: 0 successful, 0 rejected`

[code]

This is much more concerning though. Too many open files. Any idea how that would happen? When you say MacOS do you mean you are running kubernetes on Mac? If not what kuberenetes pr

[2019-05-10 14:37] howardjohn commented on #13981
Generally [Galley](https://istio.io/docs/concepts/what-is-istio/#galley) is used to read from kubernetes api server and pushes the config to Pilot. I am not very familiar with Galley but afaik all of the code for that can be found here https://github.com/istio/istio/tree/master/galley/pkg/source/kube.

I believe everything is based on [shared informers](https://www.firehydrant.io/blog/stay-informe

[2019-05-10 14:44] howardjohn commented on #13908
VirtualServices should be generating a similar config. If this is not the case, can your add the output of `curl localhost:15000/config_dump` from the sidecar

[2019-05-10 14:55] howardjohn commented on #13980
@sbezverk fyi

[2019-05-10 15:01] sbezverk commented on #13980
@kramerul Hello, thanks a lot for reporting the issue. Have you managed by any chance to collect the resulting ip6tables or any error generated. I have a unit test which is testing ip addresses for validity. Have you tried to add this address and run test? I will look into this issue and get back to you as soon as I have any results.

[2019-05-10 15:16] mandarjog commented on #13822
The logs show that one service in a bad state is responding with 404s to `/_/ping` health check requests.
Do you have any logging available at the application to see if this request is reaching it at all?

( service names and ip address changed )

[code]

[2019-05-10 15:19] #13942 closed

[2019-05-10 15:23] howardjohn commented on #12968
I am going to close this to consolidate a few DNS related issues we have. This ipv6 issue in particular is fixed. Other DNS improvements are being tracked in https://github.com/istio/istio/issues/13710

[2019-05-10 15:23] #12968 closed

[2019-05-10 15:29] fpesce commented on #13286
Ok, so I've read a little bit more that I wanted into this one, I think I've found a quick workaround, and a possible reason on why it happens.
1. The workaround, ```client``` being an ```XdsConnection``` it has a Mutex field called mu, so we could easily surround https://github.com/istio/istio/blob/bfea6044ef93511bcdf5b26faf53c0e33a1da4f7/pilot/pkg/proxy/envoy/v2/ads.go#L869-L870
with a ```client

[2019-05-10 15:45] mandarjog commented on #13822
@costinm after an upgrade to 1.1.4 the customer is seeing pods not ready on two services specifically. The liveness check responds with a 404.

[2019-05-10 15:46] ericvn commented on #10293
I tested again using the master branch my scenario above. I also tested it with more headers (more headers should yield more permutations which would differ causing a diff to appear). I did not see any diffs displayed. I did look through the code to see if I could find anywhere changes where made so the strings would be serialized in a sorted order, instead of random (the problem @esnible mentione

[2019-05-10 15:46] #10293 closed

[2019-05-10 16:35] pitlv2109 commented on #13957
I don't think you can do it currently, since technically authenticated users are also "any users" (this is what `user: "*"` means).

Why would you want authenticated users to not access some paths? They can just use their "any users" privilege (e.g. by logging out) to access those paths, right?

[2019-05-10 16:54] douglas-reid commented on #13508
@silencehe09 is your desire to not have a span for the ingress gateway, but have spans for the rest of the services involved?  we don't have a way to do that yet.  as @bianpengyuan relates, we are working towards a proposal that may allow us to do that.

[2019-05-10 16:59] pitlv2109 commented on #13981
Galley subscribes to resources and when said resources are pushed to your k8s cluster, Galley will receive them, do some validation and push them to Pilot. Pilot then convert resources to Envoy config and distribute it to appropriate sidecars.

[2019-05-10 17:02] henryz-vineti opened #13986 "iptables in istio-init fails under OpenShift 4"
**Bug description**
Bookinfo fails to start under OpenShift 4. istio-init throws;
[code]

I've modified the configmap for istio-sidecar-injector per other issues to include;
[code]

**Expected behavior**
Pods should start

**Steps to reproduce the bug**
Deploy istio operator (`oc apply -n istio-operator -f https://raw.githubusercontent.com/Maistra/istio-operator/maistra-0.10/deploy/servicemesh-ope

[2019-05-10 17:39] howardjohn commented on #13660
https://github.com/istio/tools/pull/127

[2019-05-10 17:45] howardjohn commented on #12181
We have a bunch of small changes that together we hope to drop dns requests substantially, so I am going to close this in favor of https://github.com/istio/istio/issues/13710 just to consolidate the issues.

[2019-05-10 17:45] #12181 closed

[2019-05-10 18:08] fpesce commented on #11841
@andraxylia I'm seeing @vadimeisenbergibm said that he can't work on this before KubeCon Europe, we're going to freeze in this interval (May 21st), is this realistic that this issue is going to be addressed in 1.2?

[2019-05-10 18:10] fpesce commented on #13425
@douglas-reid is there any remaining code change related to this issue? (I'm seeing that #13790 was closed)

[2019-05-10 18:12] fpesce commented on #13433
@douglas-reid Is this issue depending on your approval on 13763?

[2019-05-10 18:13] bianpengyuan commented on #13425
No that is all for this issue. Closing now.

[2019-05-10 18:13] #13425 closed

[2019-05-10 18:26] #13969 closed

[2019-05-10 19:02] frankbu commented on #10537
@vadimeisenbergibm I'm wondering how much value there is in letting users configure active health checking in DestinationRules, if it can only be used for a very limited set of upstream hosts. Assuming passive health checking also works fine with the external endpoints, wouldn't it be simpler to just use the same mechanism (passive health checking) for all services. I also wonder how many external

[2019-05-10 19:15] pc-rshetty opened #13991 "SSO(SAML2) support for the various UI(Dashboard)"
**Describe the feature request**
Currently the UI for observability like Grafana etc can be used only if user has port forward access. It would be great if this is exposed using SSO using saml2

**Describe alternatives you've considered**
Currently only the admin has access using portforward. since it is very risky to give port forward to everyone.

**Additional context**

[2019-05-10 19:29] aguromano commented on #13957
Yes, on this case I get your point and you are right. But for example if I want to allow `unauthenticated` to do the following

[code]

I have to do it with `DELETE /*`, since `DELETE /*/discount-codes/*` doesn't work, as stated [here](https://github.com/istio/istio/issues/10068#issuecomment-491280861), which ends up allowing anyone to delete any path on that service.

So yeah, probably its more i

[2019-05-10 19:52] ericvn commented on #11845
It seems I can get the region and zone from `kubectl get nodes -o yaml` from the returned:
[code]
These same constants were added in #13927.

Will work on a code change to make the call and get the data.

[2019-05-10 19:54] cleverguy25 commented on #9504
How can I help to resolve this bug? This is blocking us from moving forward with Istio.  We need the new `Sidecar` resource, but this bug is keeping us from moving to `1.1.x` as the `applicationPorts` annotation workaround is not working for us.  Notice this defect is not present in `1.07` but that version is lacking some of the features we need to move forward.

Not prepared to dig into the code

[2019-05-10 21:55] incfly opened #13994 "For same service X, different workload sidecar has different region/zone info on outbound cluster"
**Envoy Cluster does not always same region zone info**

**Expected behavior**
Without config push, when mesh is stabilized, for a same outbound cluster X, we should expect the same `region`, `zone` info on all client side CDS.

**Steps to reproduce the bug**
Deploy a large number of the workloads, do query on Prometheus for the selected workloads, need to exclude ingress, since that will have dif

[2019-05-10 21:56] incfly commented on #13994
/cc @mandarjog @howardjohn

[2019-05-10 22:04] howardjohn commented on #13994
Additional info - 1% may actually be huge, because I *think* this is the same locality used for locality LB, in which case 1% of workloads would not respect the locality rules

[2019-05-10 22:14] howardjohn opened #13995 "envVar framework logs errors too liberally"
I see a lot of logs like: `warn    Invalid environment variable value ``, expecting true/false, defaulting to true`.

It seems if a variable is not provided, we should just use the default, this is not an exceptional case - most feature flags will actually never be set at all.

[2019-05-10 22:15] bianpengyuan commented on #13944
@RaduRaducuIlie Could you try to run `kubectl describe pods your-prometheus-pod` and see if there is anything abnormal? Looks like some kind of readiness check failure.

[2019-05-10 22:24] duderino commented on #13848
I'm going to try to clean this up a bit to see if I can find the real issue....

I don't see any errors in the search-one-consumer.log or search-one.log.  I see these things that look like errors but they aren't:

[code]

The 2 in "handshake error: 2" comes from `#define SSL_ERROR_WANT_READ 2`, so that just means there wasn't enough data in the socket recv buffer to complete the handshake for a wh

[2019-05-10 22:26] duderino commented on #13848
Is this a TCP keepalive (which I think idleTimeout would completely ignore because that looks only for application data (actual payload - bytes on the wire)) or a application level keepalive (e.g., gRPC has this)

[2019-05-10 22:28] pc-rshetty commented on #13762
I see this error even when doing rolling upgrade of worker nodes

[2019-05-10 22:30] pc-rshetty commented on #13840
OK so having 2 instances of pilot doesnt help either.

[2019-05-10 22:31] Stono commented on #13848
Hey,
I tried various configurations of the destinationrules idleTimeout and TCP keep alive.

Didn't make any observable difference!

And tbh we see this on services getting constant traffic so I imagine its actually unlikely to be a keep alive thing.

[2019-05-10 22:35] duderino commented on #13848
I think you mean this:

[code]

That corresponds to this code in Envoy:

[code]

@PiotrSikora does this just mean that Envoy was trying to, say, read the next request on a connection but the peer decided to close it's end of the connection?

[2019-05-10 22:37] Stono commented on #13848
Yes those are all the logs for a request which 503'd

[2019-05-10 22:41] duderino commented on #13848
I think this one means that the source/client sidecar noticed the destination/server sidecar close its end of a TLS connection.    That's only an issue if it closes the connection in the middle of an active transaction (e.g,. HTTP request sent, waiting for a HTTP response).   I don't see it actually interrupting an active transaction here.

[2019-05-10 22:42] duderino commented on #13848
How did you associate the connections in those logs with requests that 503?

[2019-05-10 22:43] silentdai commented on #13848
We can group the search-one-consumer envoy logs into 2 groups.
- search-one-consumer-envoy -- search-one envoy.
I see no error in the log.
- search-one-consumer -- search-one-consumer envoy
It's always envoy see the remote(search-one-consumer) close first. It seems either consumer or envoy lies. Or something in the middle close the connection.
[code]

[2019-05-10 22:46] Stono commented on #13848
The ... Part showed the response code of 503, how do you think? 😂😂 I just didn't bloat the post with all the headers

[2019-05-10 22:50] singhravik commented on #13936
Well, the issue was raised to point out the discrepancies in metrics of various components. Feel free to split upto component level or close this if you think the components are so varied so as to report complete different set of data. I found it difficult to define a generic reader to interpret all of them.

[2019-05-10 22:51] duderino commented on #13848
Can you show me combined logs that have both the 503 response status and all the events for a connection (e.g,. C19040, or whatever).  I'm trying to piece this together across multiple comments and they all seem to be from different events.

[2019-05-10 22:59] Stono commented on #13848
I'm really not sure what else you want.  It's exactly the logs you quoted me on a minute ago with the standard response headers in there, one of which was 503 with a response code UC.  Which could then be viewed in Jager too.

I'll get another one for you tomorrow as it's midnight here.

You're right there a lot of comments on here, that's because I'm trying to give you info from multiple differen

[2019-05-10 23:06] duderino commented on #13848
I don't see any logs anywhere that show me a 503 response with surrounding socket events.   Sorry, I've tried very hard, I just can't find them.

The reason why I'm pushing on this is because I still think envoyproxy/envoy#6578 could address this and I haven't seen anything else that looks like an error.

So I think I should just backport that and you should give it a shot.

[2019-05-10 23:28] mandarjog opened #13998 "Disable MySql filter by default"
As of May 2019 mysql filter in envoy is `experimental`.
Pilot configures a `envoy.filters.network.mysql_proxy` filter when the service port is named `mysql`. This port name is default in most helm charts. The result is that most customers start using the mysql filter without opting in.

We have seen customer reported mysql connection issues when upgrading from 1.0.x to 1.1.x

MySQL filter should b

[2019-05-10 23:29] mandarjog commented on #13998
/cc @rshriram

[2019-05-11 00:09] gabrielcalderon commented on #13240
I'm having the same issue, even though I have set outbound policy to in the meshconfig to ALLOW_ANY. Any workload with a sidecard cannot make outbounds connections.

[2019-05-11 00:27] geeknoid commented on #13995
This error message is puzzling. This message only comes out if an environment variable is defined but the type of data it holds is not what is expected. In this case, it is saying the environment variable has no value. Is that a valid thing, to have environment variables that are defined but don't have a value?

[2019-05-11 00:29] howardjohn commented on #13995
Oh I actually misunderstood this. It is not common to be set to empty string, but I happened to have it set to one because of some stuff I was doing locally. I thought this happened even when it was unset. Seems like it behaves in a reasonable way

[2019-05-11 00:29] #13995 closed

[2019-05-11 01:22] howardjohn commented on #13998
Prefer option 1 as well. Perhaps option 2 was better when we first introduced the feature but it is too late now

[2019-05-11 02:03] howardjohn commented on #13939
Any chance your sidecsr is getting oom killed? if you raise the memory linit does the problem go away?

[2019-05-11 03:41] geeknoid opened #14001 "Operator needs to integrate with Istio common packages"
The operator component needs to fully embrace the Istio common packages:

- Use Cobra for command-line parsing.
- Use istio/pkg/log for logging.
- Use istio/pkg/env to read environment variables
- Use istio/pkg/version for standard versioning support
- Use istio/pkg/ctrlz for standerd introspection support
- Use istio/pkg/collateral to support doc output for use on istio.io

[2019-05-11 03:44] geeknoid opened #14002 "CNI plugin needs to integrate with Istio common packages"
The CNI plugin component needs to fully embrace the Istio common packages:

- [ ] Use Cobra for command-line parsing.
- [x] Use istio/pkg/log for logging.
- [ ] Use istio/pkg/env to read environment variables
- [ ] Use istio/pkg/annotations to declare K8s annotations
- [ ] Use istio/pkg/version for standard versioning support
- [ ] Use istio/pkg/ctrlz for standerd introspection support
- [ ] Use i

[2019-05-11 03:46] geeknoid opened #14003 "Need to run standard Istio linters in the operator repo."

[2019-05-11 08:25] Stono commented on #13848
Sounds like a plan

[2019-05-11 08:26] #10896 closed

[2019-05-11 15:38] kshitijcode commented on #13939
I have deployed my k8s cluster on AWS . We are not using EKS but rather deployed our own cluster. Our cluster has around 3k pods runing.

I dont think it should be the issue with oom . How can I verify that?

[2019-05-11 15:53] howardjohn commented on #13939
You should be able to see it in kubectl top pods. Or see your pods getting OOMKilled. it's a bit of a long shot but the limits see set on the proxy jd pretty low, you have a large cluster, so it could happen . We recently saw a user with the same symptoms and raising the memory limit fixed it.

If not then maybe the too many open files is the issue. Can you check with ulimit the open file limit ?

[2019-05-11 17:11] howardjohn commented on #13739
Fixed in 1.1.6

[2019-05-11 17:11] #13739 closed

[2019-05-11 17:11] howardjohn commented on #12495
Fixed in 1.1.6 https://github.com/istio/istio/pull/13924

[2019-05-11 17:11] #12495 closed

[2019-05-11 17:26] #10688 closed

[2019-05-11 17:54] sobolevan commented on #13762
I have the same issue as @pc-rshetty

[2019-05-11 20:26] #4611 closed

[2019-05-11 20:41] arindam-b commented on #13858
Hello,

I am facing the same issue. It shows:

[code]

I tried it twice and in different gke clusters as per the said specification but it does not work.

Though all the services are running smoothly.

[2019-05-11 20:45] howardjohn commented on #13858
istioctl is just a binary we include in the bin folder of the release, you don't run it on your cluster you run it locally, just like kubectl

[2019-05-11 20:48] arindam-b commented on #13858
@howardjohn : Thanks for yoru response.

I am trying to run:

[code]

Got this error.

[2019-05-11 21:00] howardjohn commented on #13858
I see you are using cloudshell - I am not familiar with it but I would guess that comes with kubectl, but not istioctl. You can download the release https://github.com/istio/istio/releases, extract it, and run istioctl from the bin folder.

There are some more instructions here https://istio.io/docs/setup/kubernetes/download/

[2019-05-11 21:29] arindam-b commented on #6085
I am encountering following issue that stops my application and my pod is not able to launch.
I found the following error in the stack drive and the subsequent line says, terminating task executor.

[code]
So application never launch.

As specified in the thread I have delete istio-pilot but the error persists.

[2019-05-11 22:12] arindam-b commented on #9943
Version: 1.1.15

I am encountering following issue that stops my application and my pod is not able to launch.
I found the following error in the stack drive and the subsequent line says, terminating task executor.

[code]

So the application never launches.

As specified in the thread I have delete istio-pilot but the error persists.

Any idea how to fix?

[2019-05-11 23:21] MrSaints commented on #9504
I encountered a similar problem recently, and I received errors similar to those in: https://github.com/istio/istio/issues/12659. After tuning the load shedding settings, everything started working fine. The default value in Helm is pretty low.

[2019-05-12 02:00] howardjohn opened #14164 "Prometheus operator doesn't get CPU/memory metrics"
Installed prom operator, and see that dashboards show some stuff, but missing others -- specifically CPU is missing.

Grafana queries for `irate(process_cpu_seconds_total{job="pilot"}[1m])`

But prometheus gets metrics like:

`process_cpu_seconds_total{endpoint="http-monitoring",instance="10.60.36.5:15014",job="istio-pilot",namespace="istio-control",pod="istio-pilot-5f477dfd7b-csffx",service="isti

[2019-05-12 02:07] #10673 closed

[2019-05-12 02:34] prestonvanloon opened #14017 "ConsistentHash loadbalancing not working for gRPC"
**Bug description**

When setting the following traffic policy on a gRPC destination, requests are still round robin and evenly weighted.

[code]

The documentation here states the traffic policy only applies to "http" connections. I'm not sure if this is meant to exclude GRPC connections as well.
https://istio.io/docs/reference/config/networking/v1alpha3/destination-rule/#LoadBalancerSettings-Con

[2019-05-12 04:44] gabrielcalderon commented on #13914
Isn't **outboundTrafficPolicy.mode: ALLOW_ANY** suppose to let any outbound connection to go through? I have this setup and my pods can't connect anywhere...

[2019-05-12 05:58] pc-rshetty commented on #13762
I had logged a defect for this https://github.com/istio/istio/issues/13840
Only difference i see is in case of rolling upgrade of worker nodes the pods disappear and then come back up after 17+ mins

[2019-05-12 05:59] pc-rshetty commented on #13762
Also Istio and EKS are the least common denominators

[2019-05-12 07:23] herasoo commented on #9157
In this case, I recommend to add below object.

apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: postgres
  namespace: app
spec:
  host: postgres
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL

[2019-05-12 10:07] #10484 closed

[2019-05-12 12:37] cagataygurturk opened #14020 "NeverInjectSelector is missing in Helm chart"
Hello,

The latest Helm chart does not allow specifying `NeverInjectSelector` in https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio/files/injection-template.yaml

It would be quite nice to have this feature.

Thanks.

[2019-05-12 17:54] prestonvanloon commented on #14017
I didn't have my virtual service properly configured so it wasn't going through envoy at all.

It does work when configured properly :)

[2019-05-12 17:54] #14017 closed

[2019-05-12 19:23] geeknoid commented on #13521
Done.

[2019-05-12 19:23] #13521 closed

[2019-05-12 19:23] geeknoid commented on #13520
Done.

[2019-05-12 19:23] #13520 closed

[2019-05-12 19:23] geeknoid commented on #13518
Done.

[2019-05-12 19:23] #13518 closed

[2019-05-13 00:02] liamawhite commented on #6518
this is complete

[2019-05-13 00:02] #6518 closed

[2019-05-13 01:05] marshallford opened #14025 "1.1.6 helm repository missing istio-init chart"
**Bug description**

[code]

`https://storage.googleapis.com/istio-release/releases/1.1.6/charts/istio-init-1.1.6.tgz` does not exist but is referenced in `index.yaml`.

**Expected behavior**

Google Cloud Storage uri should not 404. The `istio.io/istio-init` chart should be available for download.

**Steps to reproduce the bug**

1. `helm repo add istio.io https://storage.googleapis.com/istio-rel

[2019-05-13 01:58] osswangxining opened #14026 "Cluster-Aware Service Routing: Remote Ingressgateway cannot connect to local pilot"
**Bug description**
Following the docs from [istio.io](https://istio.io/docs/examples/multicluster/split-horizon-eds/), the pods within local cluster can start but the ingressgateway from remote cluster cannot connect to the local pilot. The logs from isito-ingressgateway pod are shown as below.

Anyone has this similar issue in your environment?

[2019-05-13 01:53:53.040][17][warning][config] [ba

[2019-05-13 02:29] cscetbon commented on #10659
@howardjohn, @arielb135 👆?

[2019-05-13 02:34] howardjohn commented on #10659
the pr above helps because you can turn off proxying for just communication within the headless service. Other apps calling the service still get the benefits of Istio, but no need to worry about dealing with the proxy for internal communication, where it probably brings less benefits.

sorry not very familiar with mtls so not sure what is going wrong in youre case, maybe need a destination rule t

[2019-05-13 02:41] zhiqli commented on #13908
![image](https://user-images.githubusercontent.com/3350002/57592676-82072400-756a-11e9-8033-b172db9f6797.png)
hi @howardjohn  In `reporter v1` and `report v2` sidecar, the output of curl localhost:15000/config_dump like this.
[code]
then i change `VirtualService`
[code]
after a few seconds， In `reporter v1` and `report v2` sidecar, Can see that it has taken effect.
[code]
but，when i request from c

[2019-05-13 04:49] kramerul commented on #13980
@sbezverk I had a look at the resulting `ip6tables` commands. There was no command executed where the IPv6 address from the command line was included.

[2019-05-13 05:36] bradenwright opened #14028 "Istio is breaking mysql client for queries returning more than 100 rows"
**Bug description**
I'm using mysql chart, along with a php app that has a pod and connect to mysql.  If I disable to istio proxy sidecar on php app then mysql query works as expected.  When the sidecar proxy is enable I can get a query with 80 rows to return, but 90 rows just hangs.  The DB shows that the query resolved and the connection is idle

[code]

**Expected behavior**
I'd expect to be ab

[2019-05-13 05:54] kramerul commented on #13980
This problem was caused by the fact, that the local IP address had version V4. Therefore `ENABLE_INBOUND_IPV6` was empty.

[2019-05-13 05:54] #13980 closed

[2019-05-13 06:04] bradenwright commented on #14028
FYI, I currently have mutual TLS turned off

[2019-05-13 06:51] prestonvanloon opened #14029 "Rule not matching with match: true; no actions"
**Bug description**

I'm trying to add additional HTTP headers to understand the backend that is being load balanced. The follow rule seems to have no effect.

[code]

**Expected behavior**

I expected to see `x-backend: something` header

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

version.BuildInfo{Version:"1.1.5", GitRev

[2019-05-13 07:15] prestonvanloon commented on #14029
I finally looked at mixer logs and it complained about the OR statement, which was unnecessary and that destination.service.host does not exist.

This is a working config:
[code]

[2019-05-13 07:15] #14029 closed

[2019-05-13 07:47] morvencao commented on #14020
@cagataygurturk Currently you need to edit the `istio-sidecar-injector` ConfigMap manually to add `neverInjectSelector ` or `alwaysInjectSelector `.

Do you mean that it's better to set the fields through helm parameters during Istio installation?

[2019-05-13 07:54] phil9909 commented on #13655
I am willing to help, but need a little more details to get started.

[2019-05-13 08:50] cagataygurturk commented on #14020
@morvencao it's perfectly possible to edit ConfigMap and then restart the injector. However with every Istio upgrade, this ConfigMap will be overwritten. Users should be careful about setting again the values in ConfigMap manually.

Having this option in Helm chart lets users to add this configuration value to their own Helm values file they can use to reproduce Istio deployment with.

[2019-05-13 08:57] daudn commented on #9157
@herasoo this is unindented, correct?

[2019-05-13 09:13] daudn commented on #9157
This is my k8's yaml configuration for "my-app" that requires to connect to Datastore on port (5432) and RabbitMQ on port (5672)
`apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  labels:
    app: myapp-service
spec:
  ports:
  - name: rabbitmq
    protocol: TCP
    port: 5672
  - name: datastore
    protocol: TCP
    port: 5432
    targetPort: 5432
  type: NodePort
  selector:
    ap

[2019-05-13 09:16] daudn commented on #9157
This is my yaml file to run myapp which requires Datastore (port: 5432) and RabbitMQ (port: 5672)
`
apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  labels:
    app: myapp-service
spec:
  ports:
  - name: rabbitmq
    protocol: TCP
    port: 5672
  - name: datastore
    protocol: TCP
    port: 5432
    targetPort: 5432
  type: NodePort
  selector:
    app: myapp-pod
---
apiVersion: v

[2019-05-13 09:25] RaduRaducuIlie commented on #13944
Here is the pod described:
Name:               prometheus-789d4676c6-6cwsb
Namespace:          istio-system
Priority:           0
PriorityClassName:  <none>
Node:               aks-nodepool1-40509737-2/10.2.32.227
Start Time:         Fri, 10 May 2019 13:40:27 +0300
Labels:             app=prometheus
                    chart=prometheus
                    heritage=Tiller
                    pod-te

[2019-05-13 10:31] vishdv opened #14031 "unknown field "trigger_rules" in v1alpha1.Jwt"
**Bug description**

**Expected behavior**

**Steps to reproduce the bug**

**Version (include the output of `istioctl version --remote` and `kubectl version`)**

**How was Istio installed?**

**Environment where bug was observed (cloud vendor, OS, etc)**

**Affected product area (please put an X in all that apply)**

[ ] Configuration Infrastructure
[ ] Docs
[ ] Installation
[ ] Networking
[ ] Pe

[2019-05-13 11:00] Stono commented on #13848
Something I found pretty odd today was this trace.  Notice how the first one which `UC` with a `503` took 150ms to do so?

I don't know what that tells me, if anything - just seems like a rather long time.

<img width="1680" alt="Screenshot 2019-05-13 at 11 58 36" src="https://user-images.githubusercontent.com/1486729/57616629-85081180-7576-11e9-88aa-96ed0696534a.png">

[2019-05-13 11:03] Stono commented on #13848
OK here's my next finding, we built a small set of services that call each other in a testing environment.

At first we were hitting it with quite a bit of ops/sec, 100+, but didn't see the UC's.  We knocked it down to 2ops/second and quite quickly saw one:

<img width="1680" alt="Screenshot 2019-05-13 at 12 02 19" src="https://user-images.githubusercontent.com/1486729/57616808-0bbcee80-7577-11e9-

[2019-05-13 11:08] emedina commented on #9113
@arianmotamedi We only see info about the `503` error in the access log of the `istio-proxy` from `httpbin`:
[code]

If we enable the `trace` level we get some additional:
[code]

[2019-05-13 11:25] arnecls opened #14033 "Wildcard virtual host not created for non-port 80 service"
**Bug description**

We've got a service entry targeting two ports, using a wildcard name.
First port is 80, second is 6565. We resolve the name statically, as we have multiple ingress-IPs being used as an entrypoint and want to force-route it to the one supposed to be used for the cluster.
* When using `host: *.foo.bar` in the service entry, routing to port 80 works, but not to 6565.
* When using

[2019-05-13 11:28] ebensom opened #14034 "podAntiAffinityTermLabelSelector broken due to #13905"
**Bug description**
The commit for #13905 removed the weight attribute from the preferredDuringSchedulingIgnoredDuringExecution array elements, causing the following failure when trying to deploy:
Error: UPGRADE FAILED: Deployment.apps "istio-galley" is invalid: [spec.template.spec.affinity.podAntiAffinity.preferredDuringSchedulingIgnoredDuringExecution[0].weight: Invalid value: 0: must be in the

[2019-05-13 11:43] ebensom commented on #14034
@morvencao Can you please look into this? You could simply add back the weight: 100 to the list elements or you could make it configurable and using a value of 100 by default if it is not provided by the user config.

[2019-05-13 11:43] ebensom commented on #14034
Also adding @linsun

[2019-05-13 12:16] sirkubax commented on #12456
What was the fix for you?

[2019-05-13 12:22] nisan270390 commented on #13861
I'm facing with the same issue, I've upgraded istio from 1.0.6 to 1.1.5 and trying to manipulate the response server header.

     response:
       remove:
         server

OR

     response:
       set:
         server: xxxxxx

but the server header haven't changed

[2019-05-13 12:31] Stono opened #14036 "pilot_duplicate_envoy_clusters kube-dns.kube-system.svc.cluster.local"
Hey,
Whilst debugging https://github.com/istio/istio/issues/13848, I noticed the following `pilot_duplicate_envoy_clusters` error when we were intentionally triggering quite a few deployments.

[code]

[code]

[2019-05-13 13:01] Stono opened #14037 "Observed some 503 UC's not being retried"
Whilst testing https://github.com/istio/istio/issues/13848, we have observed some 503 UC errors that are not getting retried, when they should be.

This trace should go `nginx | envoy` -> `envoy | singleview-package-viewer`, however it stops at nginx's envoy, with an `UC` flag, with no retry.

<img width="1680" alt="Screenshot 2019-05-13 at 13 48 59" src="https://user-images.githubusercontent.com/

[2019-05-13 13:19] Morishiri commented on #12456
I had kubernetes cluster in Virtual Network in Azure, but proper route table was not assigned to VNet. So this was completely not istio issue in this case, but my fail deploying the cluster in Azure.

[2019-05-13 13:22] kumarsparkz commented on #13819
Thank you. It looks like that's the issue we are facing. Looking forward to envoy to fix this. However, can someone from Istio team confirm this?

[2019-05-13 13:42] rvennam commented on #13892
@kramvan1 Can you please verify the fix?

[2019-05-13 13:42] esnible commented on #14031
Which version of Istio are you using?  Where is this error appearing?

The api/authentication/v1alpha1/policy.proto field trigger_rules is at least 9 months old.

[2019-05-13 13:46] esnible commented on #13986
Could this be a duplicate of https://github.com/istio/istio/issues/12948 and https://github.com/istio/istio/issues/4500 ?

[2019-05-13 14:07] morvencao commented on #14034
@ebensom Thanks for catching this, we didn't have upgrade test to cover this.
Have talked about it with @linsun before, we reached a consensus that we hard code the `weight` rather that expose it.

[2019-05-13 14:15] howardjohn commented on #13944
It is getting OOM Killed, did you set the memory limit to 128mi? I don't think that's the default.

[2019-05-13 14:20] RaduRaducuIlie commented on #13944
Yes, it is set to 128Mi, for all current releases.

[2019-05-13 14:25] howardjohn commented on #13944
On the default I see:
[code]

not sure where you got 128 Mi from? Regardless, I think prometheus needs way more than that. In a medium cluster I have prometheus using almost 1gb.

If we do set 128 Mi as the default somewhere, let me know and we can change it

[2019-05-13 14:40] skydoctor opened #14039 "SDS support for Client Certificate and CA cert used for TLS/mTLS Origination from Egress Gateway"
**Describe the feature request**
Currently we have an option to include a node-agent container in the ingress-gateway pods to enable SDS as the communication channel to manage the external-facing certificates. We should have a similar mechanism for egress gateway.

**Describe alternatives you've considered**
Without a node-agent, loading new certificates requires a process restart.

**Additional c

[2019-05-13 14:42] skydoctor commented on #14039
@JimmyCYJ @myidpt @costinm: Would this make sense? Any complexities apart from adding the required sections in the helm chart for gateways?

[2019-05-13 14:44] sharon-vendrov opened #14040 "istio-pilot crash in loop after Istio upgrade"
### Describe the bug ###
istio-pilot  is crashing with the same error after upgrading from istio 1.0.2
the upgrade has been made with helm.

### version ###
Istioctl version: 1.0.6
Kubernetes version: 1.11.8-eks

### Environment ###
AWS EKS 1.11.8
nodes are running with official EKS-AMI

I ran the pilot in "debug" log level:

[code]

[2019-05-13 14:47] arielb135 commented on #10659
Hey @cscetbon , did you create the appropriate policy and destination rules (this is the ability to tell a client to talk with MTLS)
https://github.com/arielb135/RabbitMQ-with-istio-MTLS#issue-2---mutual-tls-for-pod-ip-communication

try to do something like:
[code]

-about the dynamic creation of service entries - for me it's pretty easy as i'm using Helm to deploy my applications, so my script i

[2019-05-13 15:04] farcaller commented on #13484
This is being handled in https://github.com/istio/istio/issues/13998.

[2019-05-13 15:09] sdake commented on #12308
I am unclear as to the root cause however if Pilot is not able to connect to galley, it should not cause Pilot to enter a loop of failure.

[2019-05-13 15:09] linsun commented on #13260
@jwendell can you confirm that `k get istio-io` returns everything, including `policy,sidecar,meshpolicy`?

Even if it returns everything,  the return of the `k get istio-io` result if not as friendly and missing some interesting info.

[code]

[2019-05-13 15:11] harshal-shah commented on #14025
I see this is a problem due to incorrect naming convention in istio-init v1.1.6

the name should have been `istio-init-1.1.6.tgz` instead of `istio-init.1.1.6.tgz`

![image](https://user-images.githubusercontent.com/16479600/57632473-088b2800-75a2-11e9-966e-faa3b5d50deb.png)

![image](https://user-images.githubusercontent.com/16479600/57632489-117bf980-75a2-11e9-93f6-8613ba3fbc37.png)

[2019-05-13 15:19] jwendell commented on #13260
We can improve what we get with `k get istio-io` by improving our CRD's definitions (see for instance https://github.com/istio/istio/blob/master/install/kubernetes/helm/istio-init/files/crd-10.yaml#L26)

So, I believe it's more a matter of tradeoff between having duplicating functionality on `istioctl` that's already present on `kubectl` and improving our existing CRD's. I'd vote for the latter.

[2019-05-13 15:29] sdake commented on #12308
https://github.com/istio/istio.io/issues/4121

[2019-05-13 15:37] howardjohn opened #14042 "Pod crashlooping can cause excessive full pushes from Pilot"
When a service drops down to 0 endpoints, we remove all references to it. This was added in https://github.com/istio/istio/pull/11183 to prevent memory leaks. When a new service is created, a full push is triggered to every envoy.

These two together allow a pod that is crashlooping (going from 0 to 1 endpoints repeatedly) to trigger constant full pushes. In one case I saw roughly 20x pilot CPU us

[2019-05-13 15:48] howardjohn commented on #14028
There is a known bug in the mysql filter in Envoy. We currently match protocols by the name of the port in the Service (in this case, mysql). This had the unintended side effect that users (like you, I suspect) unknowingly enable an alpha feature because of the port name.

This will be fixed in 1.1.7, https://github.com/istio/istio/pull/13999

As a workaround, you can change your port name to some

[2019-05-13 15:50] #13553 closed

[2019-05-13 15:57] knrc commented on #13986
@esnible No, they are not the same.  The other issues are related to the need for privileged containers which the Maistra distribution handles whereas this is a bug in the OCP 4.1 rc1 release as they have switched to nftables on the host and not correctly set up the iptables for the containers.

The OCP team expect iptables to continue working, see https://issues.jboss.org/browse/MAISTRA-410 for a

[2019-05-13 16:36] Pluies commented on #12855
Since writing [my previous comment](https://github.com/istio/istio/issues/12855#issuecomment-490153580), we've realised that our end-to-end infrastructure builds were failing, as these new annotations break a _fresh_ install of istio-init, as the Job needs its ServiceAccount to be available, and the ServiceAccount won't be available `pre-install`:
[code]

After thinking about the situation a bit m

[2019-05-13 16:53] howardjohn commented on #14040
This is in 1.0.6? That doesn't seem right - the line numbers don't match up https://github.com/istio/istio/blob/1.0.6/pilot/pkg/networking/core/v1alpha3/gateway.go#L58

can you run `istioctl version --remote`

[2019-05-13 16:58] ozevren commented on #13811
Since you're looking at Mixer tests, I've assigned this to you.

[2019-05-13 16:59] #13476 closed

[2019-05-13 17:10] arianmotamedi commented on #9113
`Resource temporarily unavailable` what did the traffic look like at the time these were generated? Can you run `ulimit -n` in the httpbin container as well as its sidecar?

The other thing that concerns me is idle_timeout isn't being applied to the inbound cluster, which is what all of these 503s are coming from. Not saying that's the reason for these, but it's definitely something that can cause

[2019-05-13 17:12] geeknoid opened #14045 "Switch the istio/operator repo to use Go modules"
We're switching all repos to use Go modules instead of dep for dependency tracking. I tried to get the operator repo building with modules, but got stuck in some dependency tracking problem. But this needs to happen.

To try:

  export GO111MODULE=on
  go build ./...

Iterate until go build ./... works. Then you can delete Gopkg* and vendor and you'll be on the module plan.

[2019-05-13 17:16] utka commented on #14025
Fixed.

[2019-05-13 17:16] #14025 closed

[2019-05-13 17:26] hercynium commented on #13138
I've attempted this and it didn't seem to work. However, I may be doing something wrong. Does the version of Envoy Istio is built on even support setting the min TLS version?

[2019-05-13 17:33] ozevren commented on #13323
Any update on this?

[2019-05-13 17:35] ozevren commented on #13765
Why do we need to skip the tests that need custom install? Can we simply add support to use the new installer deploy/undeploy Istio, similar to the existing model we have right now?

[2019-05-13 17:36] utako commented on #13891
# flakes experienced by PR: Are there metrics that differentiate flakes from real failures on PRs?

[2019-05-13 17:37] #13462 closed

[2019-05-13 17:38] Stono commented on #13848
Another interesting observation, we definitely see increased UC's during periods of higher load (in terms of ops/sec) and churn on the cluster (deployments):

<img width="1678" alt="Screenshot 2019-05-13 at 18 33 49" src="https://user-images.githubusercontent.com/1486729/57641833-e5667580-75ad-11e9-9e30-de6b2725de04.png">

This correlates with an increase in EDS pushes:

<img width="1680" alt="Scr

[2019-05-13 17:42] howardjohn commented on #13323
With the splitting of the targets, I think this is less valuable specfically to the integration tests (creating cluster per suite). We should still explore using kind in general, and I think we have an issue for that, so we can close this

[2019-05-13 17:42] #13323 closed

[2019-05-13 17:43] douglas-reid commented on #13907
@maonaoda does this mean the issue is resolved?  or is more help needed?

[2019-05-13 17:43] prestonvanloon commented on #13861
I tried to remove this in a rule as well, but the server field persists.

[code]

[2019-05-13 17:44] ozevren commented on #13323
Thanks. Can you add a link to the issue here as well, for tracking purposes?

[2019-05-13 17:49] ozevren opened #14048 "Design and implement mechanism to capture code coverage numbers for integration & E2E tests"
We want to be able to collect code-coverage numbers from our binaries that are running as pods in K8s clusters.
Some examples from K8s:
https://testgrid.k8s.io/sig-testing-canaries#ci-kubernetes-coverage-e2e-gci-gce&include-filter-by-regex=OVERALL&graph-metrics=coverage&width=20&show-stale-tests=
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-coverage-e2e-gci-gce/112541377078

[2019-05-13 17:55] ozevren opened #14049 "Enable race-test detection for integration & end-to-end tests."
We'd like to enable race-test detection for our larger test suites, where the code in question runs in pods in K8s. This entails:

- Creating appropriately instrumented binaries
- Creating deployment/setup using these binaries
- Ensuring that we can reliably detect race-test issues in code running in a pod. Specifically, if there is a crash due to the race-test detection induced failure, we'd like

[2019-05-13 17:57] kyessenov commented on #13861
Envoy treats some headers as special, including this server header and content-length, and it overrides any plugin (e.g. istio) actions when HTTP specification suggests it. For example, empty bodies are going to have content length 0 because that's what clients expect.

Do you have an issue with the server header itself, or the value that the header is set to?

[2019-05-13 18:02] geeknoid commented on #13891
I plan on building some tooling around this. The tooling will eventually tag the issue with a label to indicate "has experience a flake". So can we just agree on a label for the PR or do you need more?

How about simply this label:

has-experienced-a-flake

[2019-05-13 18:03] dbarentine commented on #10336
This still doesn't seem to be fixed. I'm running Istio 1.1.5 and I have a service with a liveness check on the same port that still shows up as unknown in Kiali.

I checked the user-agent of the request and it's: kube-probe/1.12

The promhttp match rule looks like:
match: (context.protocol == "http" || context.protocol == "grpc") && (match((request.useragent
    | "-"), "kube-probe*") == false)

I

[2019-05-13 18:22] ozevren opened #14051 "Implement Feature/Test tracking infrastructure"
We'd like to implement some infrastructure for tracking/correlating Istio Features and corresponding tests. The following document captures the details:
https://docs.google.com/document/d/1Q5lkzc_xz31pbh2MGu0JNzH0WWM5d7LRBgkhn2cj3H0

[2019-05-13 18:25] ozevren opened #14052 "Implement BuildCopBot"
As part of Code Mauve, we're implementing a suite of bots to help automate some of our processes. One such bot that is needed is to automate some of the tasks of build cop.

Specifically, we need a bot that will:
- Analyze the test failures from pre/post submits.
- Identify flakes or consistent failures and open issues to track.
- If there are existing issues, then ping the issue and / or escalate

[2019-05-13 18:26] ozevren opened #14053 "Implement BuildCopBot"
As part of Code Mauve, we're implementing a suite of bots to help automate some of our processes. One such bot that is needed is to automate some of the tasks of build cop.

Specifically, we need a bot that will:
- Analyze the test failures from pre/post submits.
- Identify flakes or consistent failures and open issues to track.
- If there are existing issues, then ping the issue and / or escalate

[2019-05-13 18:29] utako commented on #13891
That label is clear, and should work as long as `# flakes experienced by PRs` meant the number of PRs with flakes. It looks like that metric was removed from the Istio issues doc today, though.

[2019-05-13 18:30] ozevren commented on #14053
duplicate

[2019-05-13 18:30] #14053 closed

[2019-05-13 18:31] Stono commented on #13848
@howardjohn asked me to try something in preprod, scaling istio-pilot to 0 instances.

I wanted to document the findings here.  As you can see, the pushes stopped as you would expect:

<img width="1680" alt="Screenshot 2019-05-13 at 19 27 50" src="https://user-images.githubusercontent.com/1486729/57645015-4d6c8a00-75b5-11e9-8faa-67e05c5422ff.png">

However, we noticed a gradual increase in UC's:

[2019-05-13 18:34] geeknoid commented on #13891
Yeah, that's what the metric is intended to capture.

Thanks for working on these dashboards!

[2019-05-13 18:37] douglas-reid commented on #10565
@jonathan-lo did moving to a more recent version of Grafana fix your issue here?

[2019-05-13 18:38] Stono commented on #13848
Red herring that one, looking over a longer window shows that these UC's on these very low traffic apps in preprod go up and down though out the day.

<img width="1680" alt="Screenshot 2019-05-13 at 19 37 20" src="https://user-images.githubusercontent.com/1486729/57645619-983ad180-75b6-11e9-9bea-fc1140b0ed6f.png">

[2019-05-13 18:41] Stono commented on #13848
@howardjohn asked me to scale istio-pilot to 0 in preprod to see what happened

Here you can see it scaling down and the pushes stopping:

<img width="1680" alt="Screenshot 2019-05-13 at 19 40 56" src="https://user-images.githubusercontent.com/1486729/57645840-126b5600-75b7-11e9-9927-4de5face91b5.png">

But in the same window, UC errors persist:
<img width="1680" alt="Screenshot 2019-05-13 at 19 4

[2019-05-13 18:49] douglas-reid commented on #13626
Closing, based on istio/installer/pull/166.

Please re-open if that does not resolve issue.

[2019-05-13 18:49] #13626 closed

[2019-05-13 18:52] nisan270390 commented on #13861
@kyessenov I prefer to cover the proxy backend we're using. I'm wondering if there is an option to overwrite the server header value

[2019-05-13 18:52] andraxylia commented on #7793
This was implemented.

[2019-05-13 18:52] #7793 closed

[2019-05-13 19:02] douglas-reid commented on #11593
Since https://github.com/istio/istio/pull/13571, I have not seen evidence that this issue persists.

Last report was 2 months ago.

Closing. Please re-open if issue persists.

[2019-05-13 19:02] #11593 closed

[2019-05-13 19:03] douglas-reid commented on #13301
Ok. Let's close and re-open if the issue reappears.

[2019-05-13 19:03] #13301 closed

[2019-05-13 19:07] ozevren commented on #13435
Update: going through blocking issus.
Currently: Fixing issue: CRD is not applied in first attempt.

[2019-05-13 19:09] therealmitchconnors commented on #13435
Release qualification tests are automated here: https://github.com/istio/tools/pull/126

[2019-05-13 19:28] levilugato commented on #11693
any update about that ? I'm facing the same problem when deploying a service to another namespace with istio injected

[2019-05-13 19:30] ozevren commented on #12962
It might be ```/test``` or ```/test all```. Could you give it a try?

[2019-05-13 19:35] douglas-reid commented on #12102
Looking at the logs, it appears that "istio-release" is using the `release-1.0` branch.

There have been significant changes in the test code (and release code, for that matter) over that period of time. And the 1.0 branch is not under active development.

Closing this issue as a result.